[2021-03-25 16:13] elizaan36 opened #29499 "Set default base country as detected location until manually changed"
## Problem to solve
As part of our focus on WC Pay, we noticed an issue with the default base country in WooCommerce. Currently the default base country is set to the UK if the user skips onboarding, and/or doesn't update their location in General Settings. This is problematic since US-based users will have no way of discovering WC Pay when their base country is set to an unsupported country. We'r

[2021-03-25 17:54] #26255 closed

[2021-03-25 17:57] tammullen commented on #26211
Hi @benfavre

Apologies for the delay in replying.

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as

[2021-03-25 18:16] ThomasVeld commented on #12133
Bump

[2021-03-25 18:55] simonaluka opened #29501 "Blank page in Edit order page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

Hi, when using WooCommerce orders, i press to edit order it goes as a blank page and does not allow me to see or do anything. Pls help
![Edit order](https:/

[2021-03-25 19:02] orcunozbay commented on #9751
whats the cloudflare digitalocean? Im in my home, I have steam, epic launcher ... Why would I log in to cloud flare?

[2021-03-25 19:11] apmwebdev commented on #26289
Another report in 27845696-hc.

[2021-03-25 19:35] tammullen commented on #26146
Hi @gglobalstep

I checked this in 5.1 changing the email of a customer from the WP edit user screen which I navigated to from the link in the customers screen.

I used WP Mail Logging by MailPoet plugin to confirm the correct email was sent.
![Screenshot_2021-03-25_at_19_33_43](https://user-images.githubusercontent.com/24649833/112532898-4746b780-8da1-11eb-8cfd-17aabdcc591a.png)

Closing this as

[2021-03-25 19:35] #26146 closed

[2021-03-25 19:38] kvolchkov commented on #26681
This issue is solved. Thank you.

[2021-03-25 19:38] #26681 closed

[2021-03-25 19:46] tammullen commented on #26122
Hi @gglobalstep

I have tried this with Chrome on Windows 10 and can't recreate it.

Advice from related issue: https://github.com/woocommerce/woocommerce/issues/23933

You can check in general if currency symbols can be displayed correctly on your test machine by visiting this page https://en.wikipedia.org/wiki/Currency_symbol

Also there is a known issue with Windows 7 and the rupee symbol that

[2021-03-25 19:46] #26122 closed

[2021-03-25 19:50] tammullen commented on #25840
Hi @FritzHerbers

Apologies in the delay in replying.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Re

[2021-03-25 19:50] #25840 closed

[2021-03-25 19:53] tammullen commented on #25725
Hi @ajgw

Apologies for the delay in replying

The number of details you provided is not enough for us to work with and identify what could be going on.

Please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as Storefront. Then tes

[2021-03-25 19:55] joelgraham opened #29502 "Unchecked "Restock refunded items" restocks on "Update""
Hello,

This is my first issue, so I hope I've followed all the rules!

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Partially refunded an order with the "Restock refunded items:" chec

[2021-03-25 19:55] tammullen commented on #24871
Hi @odie2 ,

Sorry for the delay in replying.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

[2021-03-25 19:55] #24871 closed

[2021-03-25 20:01] tammullen commented on #27014
Hi @woorise,

Sorry for the delay in replying.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [W

[2021-03-25 20:01] ajgw commented on #25725
Hi Tam, I had that trouble but that was over a year ago. I don‘t know if bug exist in last version of wc. Sorry, but it is a bit late. Thanks.

Adrian Wackernah

Atelier An der Mühle
---
Phone 0151 2404 3961
An der Mühle 45
27570 Bremerhaven
https://atelier-an-der-muehle.de

[2021-03-25 20:06] tammullen commented on #26757
Hi @Arn2014

Sorry for the delay in replying. This is because for each of your shipping zones you have not selected a Zone Region.
Please see: https://docs.woocommerce.com/document/setting-up-shipping-zones/

I am closing this issue for now as it seems to be a support request and not a bug. If I missed something, please leave a comment and we will take a second look.

[2021-03-25 20:06] #26757 closed

[2021-03-25 20:08] FritzHerbers commented on #25840
@tammullen
Well it is how you look at it.
In previous versions we had the possibility to add an explicit refund amount.

So this is an enhancement request (for a lost feature).

[2021-03-25 20:10] tammullen commented on #27088
Hi @Prateekjain2003

Sorry for the delay in replying.

From the attached log if looks like the problem might be caused by another plugin.

Please make sure you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as Storefront. Then test again.

If the

[2021-03-25 20:10] #27088 closed

[2021-03-25 20:30] tammullen commented on #27022
Hi @kandpalnavi ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-25 20:30] #27022 closed

[2021-03-25 20:31] tammullen commented on #27013
Hi @siva-gith ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-25 20:31] #27013 closed

[2021-03-25 20:38] tammullen commented on #27283
Hi @lordspace

Sorry for the delay in replying.

Unfortunately it is very hard to determine what could be happening here. Although you have tried with only WooCommerce active it appears like the messages in the debug log are related to Ocean Extra plugin.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

Th

[2021-03-25 20:38] #27283 closed

[2021-03-25 20:42] tammullen commented on #27281
Hi @thinkjarvisdesignandmarketing

Sorry for the delay in replying

As mentioned we see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and sw

[2021-03-25 20:45] tammullen commented on #27327
Hi @amichaidani

Sorry for the delay in replying.

Your video is no longer available, can you confirm if you are still experiencing this issue?

[2021-03-25 20:46] tammullen commented on #27342
Hi @Zakrazy

Sorry for the delay in replying.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [Wo

[2021-03-25 20:46] #27342 closed

[2021-03-25 20:48] tammullen commented on #27353
Hi @remothai

Sorry for the delay in replying

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [Wo

[2021-03-25 20:48] #27353 closed

[2021-03-25 20:49] tammullen commented on #27425
Hi @prisuri

Sorry for the delay in replying

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [Woo

[2021-03-25 20:49] #27425 closed

[2021-03-25 20:53] tammullen commented on #27479
Hi @hovozaroyan

Sorry for the delay in replying

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions

[2021-03-25 20:53] #27479 closed

[2021-03-25 20:56] tammullen commented on #27621
Hi @wpessential

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only. The issue you are having seems to be caused by the theme you are using.

If you confirm the bug, please open a new issue and provide us with clear steps to reproduce it.
​
I am closing this issue for now. If I missed something, please leave

[2021-03-25 20:56] #27621 closed

[2021-03-25 20:58] tammullen commented on #27577
Hi @Mukundan36

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.
​
If the issue is r

[2021-03-25 21:03] tammullen commented on #27565
Hi @Niiamaddin

Sorry for the delay in replying.

See this Advice from related issue: https://github.com/woocommerce/woocommerce/issues/23933

You can check in general if currency symbols can be displayed correctly on your test machine by visiting this page https://en.wikipedia.org/wiki/Currency_symbol

If you can't see the symbol there it confirms that it is an issue with your test device not Woo

[2021-03-25 21:26] tammullen commented on #28227
Hi @mcnaveen

Are you using `customer_id` or `user_id` ?

When creating a guest order the `customer_id` is populated.

![Screenshot_2021-03-25_at_21_22_33](https://user-images.githubusercontent.com/24649833/112545883-a3650800-8db0-11eb-82dc-6f040bdae2a8.png)

[2021-03-25 21:26] tammullen commented on #28227
Hi @mcnaveen

Are you using `customer_id` or `user_id` ?

When creating a guest order the `customer_id` is populated.

![Screenshot_2021-03-25_at_21_22_33](https://user-images.githubusercontent.com/24649833/112545883-a3650800-8db0-11eb-82dc-6f040bdae2a8.png)

[2021-03-25 21:28] tammullen commented on #28240
Hi @haonetuc24

Sorry for the delay in replying

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [

[2021-03-25 21:28] #28240 closed

[2021-03-25 21:38] tammullen commented on #26305
Hi @evaXyn

Thank you for reporting the issue. However, a similar issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/26289. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-03-25 21:38] #26305 closed

[2021-03-25 21:39] tammullen commented on #26289
Adding `needs developer feedback` label to get developer input on if the validation can be performed earlier.

[2021-03-25 21:41] tammullen commented on #28478
Hi @sagar199518

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2021-03-25 21:41] #28478 closed

[2021-03-25 21:49] tammullen commented on #25840
Thanks @FritzHerbers

Can you submit an enhancement request using the enhancement request template https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=5-Enhancement.md&title=

[2021-03-25 21:56] tammullen commented on #28470
Hi @GoranRista

Sorry for the delay in replying

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). The

[2021-03-25 21:58] tammullen commented on #27938
Hi @Dodieza

The number of details you provided is not enough for us to work with and identify what could be going on.

Please provide us with steps to reproduce the issue on our end.

Please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default the

[2021-03-25 22:10] tammullen commented on #28576
Thanks @simongcc

You are correct the command I used had the wrong format for title, the following should work.

`wp wc shipping_zone_method create 1 --enabled=true --settings='{"title":"something"}' --method_id=free_shipping --user=1`
![Screenshot 2021-03-25 at 22 08 48](https://user-images.githubusercontent.com/24649833/112550201-e7f3a200-8db6-11eb-9c06-add0ca8f94ee.png)

[2021-03-25 22:16] tammullen commented on #27826
Hi @Shmacked

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-25 22:16] #27826 closed

[2021-03-25 22:17] tammullen commented on #28545
Closing this as we haven't been able to reproduce it.

[2021-03-25 22:17] #28545 closed

[2021-03-25 22:25] tammullen commented on #28137
Hi @WebMedic-X

The number of details you provided is not enough for us to work with and identify what could be going on.

In addition to that, please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as Storefront. Then test again.

[2021-03-25 22:27] tammullen commented on #28812
Thanks for the update. Closing but let us know if we missed anything.

[2021-03-25 22:27] #28812 closed

[2021-03-25 22:28] tammullen commented on #29165
Hi @e-booz

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.
​
If the issue is resol

[2021-03-25 22:32] ObliviousHarmony commented on #29499
Howdy @elizaan36,

Unfortunately there's probably not a good way for us to accurately detect a merchant's location before they interact with one of our services. The geolocation we offer in WooCommerce requires merchant configuration to utilize. There are some free services that it falls back to but I don't know if we can geolocate the merchant without their consent?

I wonder if we could alternat

[2021-03-25 22:38] tammullen commented on #29262
Hi @automattic-ian

Would you be able to raise this in the Jetpack repo? https://github.com/Automattic/jetpack

[2021-03-25 22:41] tammullen commented on #29317
Hi @INDEPENDENTENTERPRISE1

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Serv

[2021-03-25 22:41] #29317 closed

[2021-03-26 07:09] JulioPotier opened #29503 "wc_get_var() insert values in $_REQUEST and $_POST (could lead to security issue, not yet)"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

Hey there.
https://github.com/woocommerce/woocommerce/blob/trunk/includes/wc-core-functions.php#L2221
It's about wc_get_var() function.

[code]

[2021-03-26 07:16] woorise commented on #27014
Hey @tammullen,

Thanks for your reply.

In a multisite installation with 10.000+ subsites and WooCommerce activated only on main site please try to visit the Status page.

[2021-03-26 09:20] Skidconnection opened #29504 "Woocommerce Stock problem"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
I have a problem with my stock in woocommerce of a product. Wh

[2021-03-26 10:38] tammullen commented on #29451
Hi @iamarpitpatidar

Thanks for raising this issue.

Can you provide more details of the error you are seeing, can you copy it into this issue?

In addition to that, I just want to double check if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate **all** plugins except for WooCommerce and switch the default theme

[2021-03-26 10:48] tammullen commented on #29461
Hi @databuzz

Thank you for taking the time to share this idea, we really appreciate your help.

This idea had been discussed previously in the now deprecated REST API repository
https://github.com/woocommerce/woocommerce-rest-api/issues/37

Adding the `needs developer feedback` label so the core development team can provide a update.

[2021-03-26 10:54] tammullen commented on #29462
Hi @databuzz

Thank you for your suggestion. However, this suggestion has already been raised previously here https://github.com/woocommerce/woocommerce/issues/23543. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-03-26 10:54] #29462 closed

[2021-03-26 11:28] hughcawley commented on #27953
Has this been resolved yet? Seems like the same issue has been causing issues and been in cases for years now? Have had 2 run ins with the error over the past week. No paypal used, just Stripe, backorders not allowed.

[2021-03-26 11:38] wpniall commented on #27626
I also see a similar issue as reported in 3842055-zen. Here's some further details:

**Describe the bug**
With a `3.99/1.2` shipping class cost set up in a Flat-rate shipping method, the total cost (product+shipping+tax) is rounded up by 1p (e.g., £3.99 is rounded up to £4.00).

**Expected behavior**
I expected the costs to round down to 2 decimal places regardless of having taxes set up or not, s

[2021-03-26 12:43] tammullen commented on #25725
Thanks @ajgw for the update, I'll close this for now but feel free to raise a new bug if you encounter something in the future.

[2021-03-26 12:43] #25725 closed

[2021-03-26 13:14] thinkjarvisdesignandmarketing commented on #27281
Thanks for keeping this thread alive. I'll check and get back to you.

However The default Import and export functions are the same regardless of the theme or plugins used.

This is about making the system more robust for end users who dont know about custom meta data.

For Yoast to pick up the feature image rather than explicitly stating a social share image in the settings.

It is possible to ex

[2021-03-26 14:02] Luminus opened #29506 "Analytics → Settings results in blank screen"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
It is not possible to access the Settings page under the Analytics menu. It shows a blank screen and there's a `Minified React error #185` in th

[2021-03-26 14:03] jeherve commented on #29423
Dropping by to note that we're currently working on making Jetpack's take on this issue publicly available as an action. This is happening here, and should be merged soon:
https://github.com/Automattic/jetpack/pull/19239

The action includes a few different tasks that may be interesting for y'all for project management, and automattic milestone management is one of those things.

[2021-03-26 14:04] tammullen commented on #29506
Thanks @Luminus for raising this!

Analytics is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

This issue has already been raised there and a fix should be available in WooCommerce 5.2.
woocommerce/woocommerce-admin#6549

[2021-03-26 14:04] #29506 closed

[2021-03-26 14:05] Luminus commented on #29506
Thanks for the heads up @tammullen. Much appreciated

[2021-03-26 14:25] tammullen commented on #29476
Hi @lenamtl

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help further

[2021-03-26 14:25] #29476 closed

[2021-03-26 14:27] tammullen commented on #29487
Hi @rajeshsingh520

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help

[2021-03-26 14:27] #29487 closed

[2021-03-26 14:28] tammullen commented on #29488
Hi @vvapour ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2021-03-26 14:29] tammullen commented on #29490
Hi @edvinassss98

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2021-03-26 14:29] #29490 closed

[2021-03-26 14:31] cabrerahector commented on #23682
So this has been going on for almost two years now (at the time of writing.) Can we please have an status update on this?

[2021-03-26 14:57] tammullen commented on #29501
Hi @simonaluka

Thank you for raising the issue. However, I can’t reproduce it on my end.

![Screenshot 2021-03-26 at 14 51 36](https://user-images.githubusercontent.com/24649833/112650721-93e2cf00-8e43-11eb-9707-7c5d28eefa0b.png)

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins c

[2021-03-26 14:59] tammullen commented on #29504
Hi @Skidconnection

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2021-03-26 15:54] tammullen commented on #29502
Hi @joelgraham

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![Screenshot_2021-03-26_at_15_46_53](https://user-images.githubusercontent.com/24649833/112658590-74e83b00-8e4b-11eb-99dc-c332241c78b9.png)
![Screenshot_2021-03-26_at_15_47_26](https://user-images.githubusercontent.com/24649833/112658606-787bc200-8e4b-11eb-8564-b61ff786b

[2021-03-26 16:06] joelgraham commented on #29502
Hi @tammullen,

It would be great to get a fix — causing lots of headaches for my client currently. Let me know if I can do anything to help assist.

[2021-03-26 16:17] tammullen commented on #29466
Hi @InternetPresence

Thanks for raising this issue.

Coupons need to be published to be valid, the expected the behaviour for a coupon not published and set to private is that you would get the error message you saw.

For more information on Coupon management please see: https://docs.woocommerce.com/document/coupon-management/
For information on restricting usage of coupons please see here https:

[2021-03-26 16:26] tammullen commented on #29481
Hi @gglobalstep

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Although this is occuring in the Beta Tester plugin I believe it is due to the name being used in core here
https://github.com/woocommerce/woocommerce/blob/a1a89492da43d53ec4e36408cfafbd3719ff41a5/woocommerce.php#L6

This will be updated with the next pre-release versio

[2021-03-26 16:27] tammullen commented on #29482
Hi @gglobalstep

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Although this is occuring because of the Beta Tester plugin I believe it is due to the name being used in core here
https://github.com/woocommerce/woocommerce/blob/a1a89492da43d53ec4e36408cfafbd3719ff41a5/woocommerce.php#L6

This will be updated with the next pre-releas

[2021-03-26 16:28] tammullen commented on #29481
Closing in favour of https://github.com/woocommerce/woocommerce/issues/29482 as same reason is causing this.

[2021-03-26 16:28] #29481 closed

[2021-03-26 16:35] rrennick opened #29507 "Implement a stalebot with Github actions"
Implement a stalebot with the following parameters

- Limit to issues
- Limit to needs feedback label
- 7 days inactivity to stale
- 7 days between stale and closing
- Apply can't reproduce label on closing
- Remove the stale label automatically if there is any activity on the issue
- Runs once daily

[2021-03-26 16:38] rrennick commented on #29276
I created #29507 for the stalebot task and changed the title to reflect the tasks in the description.

[2021-03-26 16:52] claudiosanches commented on #23682
Hello @cabrerahector, this issue is part of our current sprint, so we are working on it, and we'll have some news soon.

[2021-03-26 17:00] tammullen commented on #27372
Hi @lukecav

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-26 17:00] #27372 closed

[2021-03-26 17:01] intercloudmx commented on #27424
That actually worked well on Woocommerce version 5.1.0. Thanks for the hint.

[2021-03-26 17:07] tammullen commented on #27424
Hi @mjgchase and @PetrusVermaak
Can you confirm if you are using WooCommerce 5.1?

[2021-03-26 17:08] tammullen commented on #27635
Hi @Prima699

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-26 17:08] #27635 closed

[2021-03-26 17:22] PetrusVermaak commented on #27424
Yes, I am on 5.1
https://prnt.sc/10wcg2p

[2021-03-26 17:23] zhongruige commented on #29483
Hi @gglobalstep,

Thank you for reporting this issue! I was able to reproduce it with the steps provided.

The "WooCommerce Setup Widget" appears to be highly dependent on the order (and the steps) that are completed to update the count correctly. Please find two exampl flows below:

**Following the steps provided by @gglobalstep**

* Setup a new WooCommerce install with the 5.2 beta
* Proceed thr

[2021-03-26 17:25] tammullen commented on #27424
Reopening based on additional reports

[2021-03-26 17:59] zhongruige commented on #29498
Hi @gglobalstep,

Thank you for reporting this issue! The issue appears to be with the Twenty Twenty-one theme where we aren't showing messages in the UI when a product is added to the cart. So what happened in this case (you can see this in the video as the cart message shows twice) is the URL may have been tried to be entered twice. I wasn't able to replicate the duplicate of the number of items

[2021-03-26 18:11] tammullen commented on #24082
Hi @billrobbins

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end on an iphone 12 (via Browserstack) using Safari.

Placed an order
![Screenshot 2021-03-26 at 18 07 03](https://user-images.githubusercontent.com/24649833/112674795-41fb7280-8e5e-11eb-8868-af4e87adad4c.png)

Returned to checkout for a new order and removed pre filled (by W

[2021-03-26 18:23] tammullen commented on #24241
Adding `needs developer feedback` label to get a priority assigned to this bug.

[2021-03-26 19:42] tammullen commented on #27582
Hi @Bradzer

Sorry for the delay in replying

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

T

[2021-03-26 19:42] #27582 closed

[2021-03-26 19:45] tammullen commented on #27855
Hi @bitmakers

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2021-03-26 19:45] #27855 closed

[2021-03-26 19:48] tammullen commented on #28088
Hi @passatgt

It sounds like you resolved your issue?

As a part of this repository’s maintenance, I am closing this issue. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-26 19:48] #28088 closed

[2021-03-26 21:13] chyvak1831 commented on #29433
@wayheming here another task about jquery dropping, but unclear why is became closed...
#18395

[2021-03-26 21:31] #29323 closed

[2021-03-27 04:02] williamgh2019 opened #29511 "Feature Request:: Shipping Date"
Hello,

It is better if WC has shipping date rate.

1. If customer want their product on Saturday and Sunday we will provide free shipping cost.
2. If customer want their product with two day after order has placed they will charge 5$
3. If customer want next day after their product order they will charge for shipping cost 10$.

Thanks

[2021-03-27 08:12] iamarpitpatidar commented on #29451
well I did, checked but lemme do it again for you and I'll report back

[2021-03-27 10:31] shazia-innova opened #29512 "Values are zero in report"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-03-27 10:35] shazia-innova commented on #29512
Values in woocommerce report and analytics revenue are coming zeros.  not getting correct values. How to fix this ?

[2021-03-27 10:36] #29512 closed

[2021-03-27 10:55] AX-Ali opened #29513 "error in makefile_yolov3"
nvcc fatal   : Unsupported gpu architecture 'compute_30'
Makefile:92: recipe for target 'obj/convolutional_kernels.o' failed
make: *** [obj/convolutional_kernels.o] Error 1

[2021-03-27 13:46] giacogiaco opened #32263 "Refunds / Returns not shown in order history"
**Describe the bug**
Refunded orders are not listed in the order history for that day.

**To Reproduce**
1. Go to Analytics > Revenue
2. Click on the section 'RETURNS'
3. In the graph, find a day on which a return happened
4. Then, in the table below, find that day and (in column two) click on the orders of that day
5. You'll be lead to a page that shows you all orders of that specific day – unfor

[2021-03-27 17:28] Heatherarts opened #29514 "Issue with low stock inventory notification for shared inventory products in woocommerce"
I'm not sure if this is a good place to post this or not and I really don't know who to ask for help with our issue.

I was told by someone at woocommerce support that there was a new update coming out with the release of version 5.2 saying it was fixing a low stock notification but I am wondering if this update will help with fixing the issue of not being able to set a low stock notification for

[2021-03-28 06:04] Wovami opened #29515 "Having trouble setting shipping methods for diferrent countries in Franceeeeeeee"
Hello everyone, the last few days I have been trying to install the shipping methods for my website which went okay. I only ran into one problem. I had a flat rate of €7.5 installed and then went onto the Service point Delivery shipping method. It looks like this:
![image](https://user-images.githubusercontent.com/65651442/112743687-c0106400-8f99-11eb-8054-82e7a5fd89d0.png. The problem begins when

[2021-03-28 11:46] Babelfisch opened #29516 "Minified React error on Analytics settings"
Opening the WooCommerce Analytics settings page will show only a blank gray page. Safari console shows me this error in `react-dom.min.js:125` and `react.min.js:24:210`:

`Error: Minified React error #185; visit https://reactjs.org/docs/error-decoder.html?invariant=185 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.`

WP: 5.7
WC: 5.1
Br

[2021-03-28 17:53] mrleemon commented on #28286
The Flexslider script shipped with WC makes plenty use of the `bind()` function and other obsolete features. Do you plan to update it to remove the jQuery deprecations?

[2021-03-28 22:50] jlamap commented on #27327
Hi @tammullen

I'm seeing what I think is the same issue on a different website and have debugged it.

When the page is loaded, this line is executed: https://github.com/woocommerce/woocommerce/blob/trunk/assets/js/frontend/add-to-cart-variation.js#L671

Which triggers a `click` event that's handled by this function: https://github.com/woocommerce/woocommerce/blob/23710744c01ded649d6a94a4eaea8745e

[2021-03-29 04:05] JustineCrenier commented on #27419
Still not fixed in woocommerce 5.1, and temporary fix doesn't work anymore. Does anyone have a solution ? I don't want to reupload all the product

[2021-03-29 04:07] awesome1128 commented on #27419
It's sucks

[2021-03-29 06:21] wayheming commented on #29433
@chyvak1831 yes, I saw it, but since it is closed, I decided to find out what they are planning

[2021-03-29 10:31] glagonikas opened #29519 "Product with Reserved stock shown as "in stock""
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
A product with limited stock, where all remaining units are reserved in unpaid orders, is displayed as "In stock" in the product page, allo

[2021-03-29 10:43] vedanshujain commented on #29499
It's fine to change the default country to the US from the UK for a new installation, whose actual location we do not know and cannot figure out. At the moment the UK is [just a placeholder](https://github.com/woocommerce/woocommerce/blob/23710744c01ded649d6a94a4eaea8745e543159f/includes/admin/settings/class-wc-settings-general.php#L84) since several functionalities need a non-null country field t

[2021-03-29 11:52] dianfishekqi commented on #29516
https://github.com/woocommerce/woocommerce-admin/issues/3904

[2021-03-29 12:20] canguroenglish opened #29521 "Photoswipe close button iOS/Safari redirect bug"
**Description of bug**
On the single product page when photoswipe fullscreen/zoom is engaged, pressing the X (close) button redirects to home instead of closing the fullscreen/zoom window.

**Steps to recreate**
1) Create theme template for Woocommerce single product page using Elementor
2) View site on iOS device/Safari
3) Click zoom icon on image to open fullscreen
4) Click X to close fullscreen

[2021-03-29 12:37] amichaidani commented on #27327
Hi @tammullen and @jlamap,

Yes! This is exactly the case!
Thank you so much @jlamap.

This is resulting in bad user experience, as far as real world testing goes.
Any help with this issue will be highly appreciated.

Thanks!

[2021-03-29 13:25] dennisheiden opened #29522 "Country-Select JS breaks custom wrapper within billing-fields container"
_Tested on WooCommerce 4.6 and 5.1._

**What did I do?**
Overwriting the template in form-billing.php like this:

(somehow github is not displaying my code snippet correctly so here is a screenshot)

![image](https://user-images.githubusercontent.com/25924499/112844375-f5a17400-90a3-11eb-9f6b-3e13fe2b659c.png)

`<?php
		$fields = $checkout->get_checkout_fields( 'billing' );
		$required_fields = ar

[2021-03-29 13:50] studiojpeg opened #29523 "WooCommerce Customize not publishing changes"
**Describe the bug**

Unable to save and publish changes to settings inside WP customizer for WooCommerce plugin specifically. For other settings, there's no problem (I'm using a live environment).

**Expected behavior**

Publish and save changes that are visible in the front-end.

**Actual behavior**

When I go to Appearance > Customize > WooCommerce > Product Catalog > Products per row > Change

[2021-03-29 14:34] hjbrimner opened #29524 "Conditional Checkout Fields Not Retaining the Required Option"
The WooCommerce Conditional Checkout Fields Settings plugin is not keeping boxes checked. We have it set up for all boxes to be required for certain products but they do not stay saved permanently. We have saved the changes and while immediately after we select the required box, it will switch back to being unchecked (I would say within a hour or so).

We are currently running WordPress 5.7.
We ha

[2021-03-29 14:46] helgatheviking opened #29525 "wc_get_low_stock_amount() returns a string if not set at product level"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When the low stock amount is pulled from the global settings via `$low_stock_amount = get_option( 'woocommerce_notify_low_stock_amount', 2

[2021-03-29 15:08] Wicko-Design commented on #16620
Ok very frustrating but I fixed my issue by simply changing the stock value of 1 of the varants and resaved.

My products were created with zero stock and then the stock gets imported over night via SFTP. When the stock was imported it did not automatically update the parent product status. By changing the stock value on just 1 of the variants and saving it reset the parent product status.

[2021-03-29 16:06] VZcoding opened #29526 "auto review reminders disables everyday"
Hi, everytime I enable tick box on "Enable Automatic Reminders", but it holds max 1 day, then I always find tick box disabled... Why is that?? Where do you hold your variables in mysql?

[2021-03-29 16:19] #29483 closed

[2021-03-29 16:41] #29277 closed

[2021-03-29 17:25] friendorfoley commented on #27419
I am also having this issue, it was working before the latest update.

[2021-03-29 18:15] beaulebens commented on #29499
We could also use [browser-based location detection](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API) (although it will trigger a prompt, asking the user if the consent).

[2021-03-29 18:32] glagonikas commented on #29511
I'm not sure core changes are actually required for this. Sounds like you can do these using shipping methods

1. Enable Free shipping and call it "Saturday and Sunday".
2. Create one called "Two day delivery" (or whatever) and set prices to $5
3. Create one called "Next day delivery" (or express) and set prices to $10
(No need for code changes on the above)

You can then write some custom code or

[2021-03-29 19:17] helgatheviking opened #29529 "TwentyTwenty Notice styles are inconsistent"
**Is your feature request related to a problem? Please describe.**
I find the notice styles for the TwentyTwenty theme to be inconsistent. The success notice has no color distinction. The error notice has a red background. And the info notice has a red border.

![image](https://user-images.githubusercontent.com/507025/112887426-68085900-9090-11eb-87d9-6e9f99c58d0e.png)

**Describe the solution you

[2021-03-29 19:33] moon0326 commented on #29491
Closing this for now as it needs more investigation. The code itself works just fine. I will reopen it.

[2021-03-29 19:33] #29491 closed

[2021-03-29 19:39] ObliviousHarmony commented on #29390
Hi {username},

Thank you for raising the issue. However, I can’t reproduce it on my end.

We tested with the same API queries you've presented in this issue and everything worked as expected.

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to dea

[2021-03-29 19:39] #29390 closed

[2021-03-29 19:44] ObliviousHarmony commented on #29392
Hi @luissimo,

Thank you for raising the issue. However, I can’t reproduce it on my end.

We've tested out this endpoint and haven't experienced any problems creating `meta_data` with an array `value`.

Please try deactivating all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.

If the issue is resol

[2021-03-29 19:44] #29392 closed

[2021-03-29 20:00] ObliviousHarmony commented on #29400
Hello @Beee4life,

Based on the content of your report, this is an issue you should report to MC4WP. While it's true that WooCommerce being enabled results in the notices, it's possible that either MC4WP or another extension on your website is incorrectly handling WooCommerce's custom post types.

I would highlight that there is an [Official WooCommerce Extension](https://mailchimp.com/integration

[2021-03-29 20:00] #29400 closed

[2021-03-29 20:04] ObliviousHarmony commented on #29402
Hello @d3v3lop3rDE,

From our testing, both the `/wc/v2/products` and `/wc/v3/products` API endpoints return out of stock products when the option is enabled. We managed to replicate your problem in the `/wc/v1/products` endpoint, but this is a deprecated endpoint.

[2021-03-29 20:04] #29402 closed

[2021-03-29 20:25] imonteiro commented on #29011
I'm getting the same issue, when change WC 4.9.1 to 4.92:

`Fatal error: Uncaught Error: Class 'WooCommerce' not found in ...\app\site\web\app\plugins\woocommerce\woocommerce.php on line 47`

[2021-03-29 20:59] tiago-123 commented on #12084
Hello,

I'm using WooCommerce v5.1.0 and I'm observing the same problem reported by other users previously. The URL for the order confirmation (which contains sensitive customer data!!) is visible to anyone with the URL address.

You can reproduce the issue by opening an incognito tab and pasting the URL there. It will promptly show the order confirmation and all the customer data.

[2021-03-29 21:21] elizaan36 commented on #29499
@vedanshujain Thanks, changing the default to the US sounds good for better discovery in the interim until WCPay is expanded to the UK.

That means we should make sure the location check is implemented - @LevinMedia, do you know if there's an issue for that up yet?

@beaulebens Do you think it's possible to use geolocation without an additional prompt if users have opted into data tracking? This d

[2021-03-29 22:13] pixeldust-interactive commented on #9267
dude...you are a genius. wonderful solution.

[2021-03-30 00:03] beaulebens commented on #29499
Unfortunately no (not the way I was suggesting at least), since using browser-based location requires interaction with the browser-level APIs, which require their own consent before we can actually access the data. It's this thing, which you've probably seen;

<img width="339" alt="Screen Shot 2021-03-29 at 6 03 09 PM" src="https://user-images.githubusercontent.com/108942/112914360-08727380-90b9-1

[2021-03-30 00:33] dronedash opened #29530 "Square and Woocommerce incapability with Porto Theme"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-03-30 01:32] mouligreenlaw opened #29531 "Filter by Attribute Widget loses atribute settings in admin when page is refreshed."
**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When setting up Filter by Attribute widgets under Appearance ➔ Widgets, you assign an Attribute to the widget and Save it.
If you add a c

[2021-03-30 02:15] travisavc commented on #29516
@Babelfisch I see the same thing on two of my WP sites running latest Woocommerce 5.1.0 and Wordpress 5.7
Chrome Version 89.0.4389.90 (Official Build) (64-bit)

I click the Analytics > Settings and see a blank gray page.

![image](https://user-images.githubusercontent.com/81601827/112923302-e41b9480-90c2-11eb-8683-6c2c3c5b5541.png)

[2021-03-30 03:46] samueljseay opened #29532 "The E2E failure reporter for Slack fails with `channel_not_found`"
I have set up the slack reporter as specified in the `@woocommerce/e2e-environment` package with the correct permissions and environment secrets etc, but when an e2e test fails the slack reporter fails to report it with error `channel_not_found`.

I think this issue exists for you in WooCommerce as well. I looked at some recent PRs and when they fail e2e tests the slack reporter also fails with `c

[2021-03-30 08:54] ninetyninew opened #29535 "New filter/action for payment gateways to flag non-standard checkout"
**Is your feature request related to a problem? Please describe.**
Some payment gateways like Stripe/Klarna now offer functionality for adding Google/Apple Pay/Pay with Klarna buttons to the product and cart pages, bypassing the standard checkout.

Other plugins can conditionally amend cart items , such as adding line item meta, effecting the price of the product, etc on add to cart and other hook

[2021-03-30 13:49] rrennick commented on #29532
@samueljseay That's an error on the call that joins the channel that we trap but log the error message.

The error is being logged in core but it doesn't prevent the messages or screenshots being posted to the channel. I wasn't able to find a method to check whether the bot was currently joined to the channel. I hope to do some more investigation over the next couple sprints for a way to detect th

[2021-03-30 14:09] #29359 closed

[2021-03-30 15:05] roykho commented on #29475
Hi @webdados - I think in either case you would still need to loop through the items in the order to know if the order needs shipping right? Because as you said, things could have changed after the order. So needs shipping condition needs most up to date information by looping through the items.

Yes I would agree they can be different things.

Do you have a specific example (use case) as to how y

[2021-03-30 15:20] VintageSociety opened #29537 "Changing Order Status"
When orders are coming into our WooCommerce Shop they should stay in Processing mode until we ship the order. However, the orders are automatically being changed to completed automatically without us changing the status ourselves to completed.

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lack

[2021-03-30 15:23] roykho commented on #29465
Hi @mikdid - so you mention this only happens locally? Have you tried running `composer dump-autoload` command within the woocommerce folder of your local site?

[2021-03-30 15:23] webdados commented on #29475
Maybe we need to go as far as storing that `needs_shipping` information on the order item meta.
I don't think going to the original product to check that is a good idea because of what I mentioned before:

As stated before:

For example, I can use the proposed `needs_shipping` order method to check if I need to show a metabox to issue shipping labels for the carrier that delivers on the locker dro

[2021-03-30 15:26] elizaan36 commented on #29499
Once users have opted into data usage tracking, that's consent to use their [WordPress locale](https://woocommerce.com/usage-tracking/). If it's possible to use something like that as a location, it would be a matter of setting the default base country after they agree to usage tracking in this modal in onboarding.

![Screen Recording 2021-03-30 at 10 20 30 AM](https://user-images.githubuserconten

[2021-03-30 15:42] zhongruige opened #29539 "Add Jest retry to e2e tests"
We want to add the Jest retry to the e2e tests.

[2021-03-30 16:01] claudiosanches commented on #28364
@cabrerahector Thank you very much for starting this issue and for giving detailed steps to reproduce.
I helped a lot for me to debug this issue, but note that this is duplicated of #23682 so I'm closing this one for now.
I'll start a PR in a few minutes with something that can solve both issues.
Thanks!

[2021-03-30 16:01] #28364 closed

[2021-03-30 16:02] DeanForde opened #29540 "product assigned to no category"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I have a master store and a child store, I exported the products from the master store using the woocommerce core import/export feature. I

[2021-03-30 16:24] rrennick commented on #29539
Duplicate of #28185

[2021-03-30 17:16] DSinger68 opened #29541 "Customer and Admin emails are configured in woocommerce for post checkout emails but are not going out to recipients"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-03-30 17:24] #29541 closed

[2021-03-30 17:25] DSinger68 commented on #29541
I wasn't prepared for the required input on this issue, will repost when I have the full details

[2021-03-30 18:07] beaulebens commented on #29499
Fun example of this confusion -- I just saw a request in our Slack community:

[2021-03-30 18:44] SteveFeher opened #29543 "Paypal IPN conflict? Incorrect URLs and response URL fails."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
IPN response fails to return correctly to the store.

**Expected behavior**
PayPal payment received should have a response back to the stor

[2021-03-30 19:35] mikdid commented on #29465
I have install plugin with add->extension in Wordpress Admin Panel

[2021-03-30 19:38] roykho commented on #29465
Ok thanks for the additional information, I was able to reproduce this after setting debug to `everything`. We will look into this as soon as possible.

[2021-03-30 19:39] mikdid commented on #29465
Ok Thanks very much for your time 👍

[2021-03-30 20:05] #29331 closed

[2021-03-31 02:20] adeelejaz opened #29545 "Cannot Place Order: '' is not a valid country code error when on latest version"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I recently updated to latest version of woocommerce and the PayPal Express plugin. Since the update, no one can checkout. We do not use any

[2021-03-31 02:20] adeelejaz commented on #29545
Related bug open in PayPal Repo: https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/858

[2021-03-31 06:21] franticpsyx opened #29546 "Introduce option to limit max Price Filter price"
**Is your feature request related to a problem? Please describe.**

Currently, the price filter widget top limit is determined by a database query -- there is no way to limit the top range, which impacts the usability of the widget price slider when outliers exist in the database.

For example, a store may have 99 out of 100 products cost between $10-100, and 1 product may exist that costs $10000.

[2021-03-31 06:21] adrianduffell opened #29547 "E2E Tests: Provide support for using nightly build from WP_VERSION env variable"
**Is your feature request related to a problem? Please describe.**

My use-case is to run the E2E tests against the nightly build of WordPress. I followed the documentation to create a custom init routine, using the example in https://github.com/woocommerce/woocommerce/blob/trunk/tests/e2e/docker/init-wp-beta.sh as a base.

However I found it had some shortcomings:

1. It's not simple to switch be

[2021-03-31 10:35] cihankaba commented on #22284
you're awesome. thank you.

[2021-03-31 11:49] nipponvisions commented on #25857
hae
@sara5387   please let me know how you solved this problem.
@juliaamosova  this is how I duplicated the problem.
After several attempts, I decided to do a bare bone Test on this problem.
ie flex viewport setting the wrong height every time I change the  viewport(screen) width.
I created a bare bone stand alone (not child) Test Theme with a blank style.css and a blank index.php file
On a window

[2021-03-31 12:48] hamza-wpbrigade opened #29550 "Add a filter for json_search_products_and_variations to exclude variation"
I wanted to remove variations from the AJAX autocomplete for upsell products.
This is the method that is calling the method that is returning the JSON.

[code]

The option is already there. The 'true' need to be set to 'false'. Please add a filter to override this.

[2021-03-31 13:18] Craigium commented on #14541
@PhenotypeX I've had the same experience on my site recently. Customer clicks "Place Order" and the AJAX request to "/?wc-ajax=checkout" begins, but was taking longer than normal. This causes the loading spinner to be visible for a while, until the request is aborted (in our case by Cloudflare's 100 second timeout limit).

The loading spinner then disappears and the "Place Order" button is clickab

[2021-03-31 13:21] rrennick commented on #29532
Re-opening this issue as the message should be silenced until it can be investigated further.

[2021-03-31 13:45] #29507 closed

[2021-03-31 15:17] #29472 closed

[2021-03-31 15:34] sumitparkash opened #29552 "Limiting areas an item is shipped to with free shipping"
We have 2 types of products in our store.

One is Local Juices which are available locally and has a shipping cost of £5.
Another is Supplement US which is available nationally and has a shipping cost of £10.

We’ve set it up basically the same way:

– Two shipping classes: **“Local US”** and **“National US”**

Two shipping zones.
The first is **“Local Delivery US”** (US with Zone regions Florida)

[2021-03-31 16:15] gglobalstep commented on #29498
Verified this issue on WooCommerce 5.2 RC 1 and unable to reproduce it.

[2021-03-31 16:18] zhongruige commented on #29498
Thank you for verifying this issue @gglobalstep! We will go ahead and close this. If there's anything else, please leave a comment here and we'll take another look :)

[2021-03-31 16:18] #29498 closed

[2021-03-31 16:47] gglobalstep opened #29553 "[GlobalStep] Randomly, the "Products" CSV importer goes to infinite loading."
## Bug Description:
Randomly, the "Products" CSV importer goes to infinite loading.

## Environment:
Woocommerce Version: WooCommerce 5.1 and 5.2 RC 1
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 86.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins
1. Complete the

[2021-03-31 16:53] gglobalstep opened #29554 "[GlobalStep] For "Storefront" theme, "Product" title, Price and "Block" titles have low visibility for Dark background."
## Bug Description:
For "Storefront" theme, "Product" title, Price and "Block" titles have low visibility for Dark background.

## Environment:
Woocommerce Version: WooCommerce 5.1 and 5.2 RC 1
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 86.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activa

[2021-03-31 17:04] RASTecnoTI opened #29555 "Not allowed when used per_page and search together"
Hi
I am running the API command using curl with search an per_page parameters and I everytime receive the message "no permission to list resources", erros 401.
When I run only with 1 parameter, it work fine, but informing 2 parameters always is returned error.

[2021-03-31 17:15] ninetyninew commented on #28707
@helgatheviking @kevinruscoe Just spotted this recently when I noticed the CSS variables in the debugger. Could we use these variables for referencing colors in the Woo stylesheets?

I suspect then if I needed to change everywhere WooCommerce uses red to be a website's red color from their brand guidelines then rather than adding rules for each individual element and maintaining that I can just ov

[2021-03-31 17:16] claudiosanches commented on #29555
Hello @RASTecnoTI.

The only way to get the error you are talking about is if you are using  OAuth 1.0a and not sorting your parameters properly, what will cause an authentication error.
Note that OAuth 1.0a that everything gets ordered, for PHP you can use `uksort( $params, 'strcmp' )`.

You can see all details of how to use OAuth 1.0a in https://woocommerce.github.io/woocommerce-rest-api-docs/#a

[2021-03-31 17:16] #29555 closed

[2021-03-31 17:24] roykho commented on #29448
Hi @ecottles - thanks for bringing this up however I believe you can already achieve this. If you have already added your custom order statuses you can use this action `add_action( 'woocommerce_order_status_YOUR_CUSTOM_STATUS', 'wc_maybe_reduce_stock_levels' );`

With this work around available, I will be closing this issue.

[2021-03-31 17:24] #29448 closed

[2021-03-31 17:28] KO-TFF opened #29556 "Woo Support does not work."
Woo Commerce's support team is terrible.

It takes days to hear back from them. They're completely disorganized and cannot keep my account straight. And, there is no human to talk to.

You get an automated message from a bot called a "happiness engineer" (makes me anything, but happy) after ~48 hrs.

I wrote to them Monday w/an urgent problem. Got the happiness engineer email on Tuesday that did n

[2021-03-31 17:30] helgatheviking commented on #28707
That sounds like a good idea to me!

[2021-03-31 23:05] #23682 closed

[2021-03-31 23:31] roykho commented on #29429
Thanks @loorlab for providing solution. Will be closing this issue now.

[2021-03-31 23:31] #29429 closed

[2021-04-01 00:02] claudiosanches commented on #24241
Duplicated of #23682

[2021-04-01 00:02] #24241 closed

[2021-04-01 00:04] claudiosanches commented on #25437
Duplicated of #23682

[2021-04-01 00:04] #25437 closed

[2021-04-01 00:24] claudiosanches commented on #29245
Hi @Thomas-1985,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
I think you had this problem because that tutorial is incomplete and doesn't talk about of using `flush_rewrite_rules()` toi make sure your URL will work, at least generally that's why returns 404, You can see a full example in: https://gist

[2021-04-01 00:24] #29245 closed

[2021-04-01 00:34] claudiosanches commented on #29225
Hello @rwkyyy,

I couldn't reproduce this issue, sounds like something or some plugin caused this issue with your sessions table.
I'm glad to know that the options to clean user sessions and transients helped to make it work again.
But you can also try to disable WooCommerce and drop that database, so while activating again WooCommerce will recreate this table, but note that removing it will end a

[2021-04-01 00:34] #29225 closed

[2021-04-01 00:39] tijosh commented on #29516
This is fixed in WooCommerce Admin version 2.1.2 with https://github.com/woocommerce/woocommerce-admin/pull/6540 .

A version of WooCommerce Admin with the fix [will be packaged in WooCommerce 5.2.0](https://developer.woocommerce.com/2021/03/30/woocommerce-5-2-release-candidate/), but you can also install the standalone plugin for the time being to fix the problem.

[2021-04-01 00:45] claudiosanches commented on #29503
Hi @JulioPotier,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I don't really see it as a security issue, since any other plugin could insert insecure code without any help anyway.
If you want to report security issues I ask you please to report it privately in HackerOne, so we can avoid any issues of disclosing something before a

[2021-04-01 00:51] claudiosanches commented on #29503
In fact we can't remove that reference or change `wc_get_var()` because will start to throw PHP notices.

[2021-04-01 02:04] helgatheviking opened #29560 "TwentyTwentyOne info and message styles are the same"
**Is your feature request related to a problem? Please describe.**
In the TwentyTwentyOne theme stylesheet, the current styles for the `.woocommerce-info` and `.woocommerce-message` classes are the same:
[code]

This means there's no distinction between info and success (as there's no separate class for success).

**Describe the solution you'd like**
Separate these two style rules and provide dist

[2021-04-01 04:12] starflower opened #29563 "WC_Order_Data_Store_CPT->get_order_count() causes slow queries on every page"
Hi,

[code]
is called on every page and in a database with a lot of orders this can cause slow queries.

[code]

Is called ob every page, even on the login page. This seems completely unnecessary to get the completely order history on every page load.

![image](https://user-images.githubusercontent.com/499926/113242351-12f75d80-92b1-11eb-961b-4de1a0f99853.png)

Why is that and how to prevent it?

[2021-04-01 09:07] mjgchasewb commented on #27424
Hi tammullen, Yes currently using 5.1.0

[2021-04-01 13:28] Mtarnuhal commented on #29552
That's indeed a issue. I also think that we should be able to set the free shipping per class.
Example you have 2 shipping classes one is normal parcel and the second is pallet shipping.
Pallet shipping is more expensive than a normal parcel so you would like the free shipping of the parcel to be lower than for the pallet.

[2021-04-01 14:10] ecottles commented on #29448
Hello,

This issue was closed, however the issue persists.
**roykho** responded to the issue with the following:
Hi @ecottles - thanks for bringing this up however I believe you can already achieve this. If you have already added your custom order statuses you can use this action add_action( 'woocommerce_order_status_YOUR_CUSTOM_STATUS', 'wc_maybe_reduce_stock_levels' );

Then Closed the Issue.

T

[2021-04-01 14:13] ecottles opened #29566 "Order line item adjust stock is limited to statuses processing, completed & on-hold."
Hello,

This issue was closed, however the issue persists.

**roykho** responded to the issue with the following:
Hi @ecottles - thanks for bringing this up however I believe you can already achieve this. If you have already added your custom order statuses you can use this action add_action( 'woocommerce_order_status_YOUR_CUSTOM_STATUS', 'wc_maybe_reduce_stock_levels' );

Then Closed the Issue.

[2021-04-01 14:24] roykho commented on #29566
Hi @ecottles - so there is no need to open up another issue for this. You can comment on closed issue as well. Thanks.

Ref back to here https://github.com/woocommerce/woocommerce/issues/29448

[2021-04-01 14:24] #29566 closed

[2021-04-01 14:26] roykho commented on #29448
@ecottles - can you please document detailed steps you're wanting to do and what custom code you have?

[2021-04-01 14:30] vendidero opened #29567 "wc_admin_url called from dashboard setup"
**Describe the bug**
Error: Call to undefined function wc_admin_url() in `woocommerce/includes/admin/class-wc-admin-dashboard-setup.php` line 116

**Expected behavior**
Do not call functions defined within wc-admin package only from the core or at least add a function_exists wrapper.

**Steps to reproduce the bug (We need to be able to reproduce the bug in order to fix it.)**
Steps to reproduce th

[2021-04-01 14:31] loorlab commented on #29429
@roykho Thank you.

Although the route system is very exaggerated.

🤔

[2021-04-01 15:39] gglobalstep opened #29568 "[GlobalStep] "Refund amount" field on edit order page is not editable."
## Bug Description:
"Refund amount" field on edit order page is not editable.

## Environment:
Woocommerce Version: WooCommerce 5.1 and 5.2 RC 1
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 87.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Go to test site described in p1617280293146100-slack-C011ENB20Q1.
1. Login with valid credentials.
1. Go t

[2021-04-01 16:46] jonnyruzek commented on #27332
3873525-zen

[2021-04-01 17:23] rrennick commented on #29547
@adrianduffell Thanks for the suggestion. The issue is that there isn't docker-compose support for WP nightlys, betas, etc. The docker-wordpress development team only release the libraries for released WP versions.

Thanks for the tip. wp-env works around the docker-compose limitation by downloading WP with node. I wasn't aware that it bypassed the splash screens. I can look to see how wp-env does

[2021-04-01 17:28] zhongruige commented on #29554
Hi @gglobalstep,

Thank you for taking the time to report this issue! However, in this case it is not a bug as the typography can be customized to accommodate the darker background color:

<img width="1176" alt="Screen Shot 2021-04-01 at 11 26 01 AM" src="https://user-images.githubusercontent.com/71906536/113331370-1f91ab00-92dd-11eb-9530-406527796f1b.png">

A theme with Dark Mode support, like Tw

[2021-04-01 17:28] #29554 closed

[2021-04-01 17:37] zhongruige commented on #29553
Hi @gglobalstep,

Thank you for taking the time to report this issue! So far the importer is working for me as expected. Can you please provide the CSV being used for your testing which is causing this issue to help us further investigate?

Thank you!

[2021-04-01 18:34] rrennick opened #29570 "Add batch support to api package"
For version 0.3.0: Add `batch` operation to repository models in the api package.

[2021-04-01 20:22] zhongruige commented on #29568
Hi @gglobalstep,

Thank you for taking the time to report this issue! This is actually working as expected.

So what is happening here is the field is being marked as `readonly` when checking `Enable tax rates and calculations` in `WooCommerce > Settings > General`. If this setting is not enabled, then the `Refund amount` field can be changed. However, to avoid having incorrect taxes after refundi

[2021-04-01 20:22] #29568 closed

[2021-04-01 21:40] claudiosanches commented on #29423
@jeherve Thank you for sharing it. I'm following Jetpack GH actions and you all are doing a great work!

[2021-04-01 21:44] #29419 closed

[2021-04-01 23:05] ecottles commented on #29448
Hello,

I have custom statuses that no longer can use fuction **wc_maybe_adjust_line_item_product_stock** when saving an order with a status other than >>> processing', 'completed', 'on-hold'. This change happened in v_4.9.

**This change affects ADMINS ability to maybe reduce stock when saving an order with a status other than >>> processing', 'completed', 'on-hold'.** <<< **There is no filter to

[2021-04-02 01:39] ImpossibleK commented on #27424
I've been getting the Coupon Management Has Moved banner and it's driving me nuts! Clicking it takes me to Marketing/Coupons (I don't have any coupons), but does not remove the banner. I had hoped the last Woo update would fix it, but not. I am completely updated. Help? I'm not a developer. I made and manage my own site, so I can't do any coding.

[2021-04-02 05:38] hamza-wpbrigade opened #29573 ".wc-product-search multiple select is sorting alphabetically and there is not filter to change this"
I was trying to change the default upsells products sort order.

The `woocommerce_upsells_orderby` and `woocommerce_upsells_order` filter allow me to do that. But I cannot change the sorting order for Upsells in the admin.

`.wc-product-search` for not-sortable multiple select is set to be ordered alphabetically via JS.

Please add a filter to override this.

JS File: wc-enhanced-select.js

[2021-04-02 05:38] hamza-wpbrigade commented on #29573
@mikejolley

[2021-04-02 08:08] ninetyninew opened #29574 "Use the root CSS color variables in all stylesheets?"
We noticed recently a set of root variables has been added which includes colors: https://github.com/woocommerce/woocommerce/issues/28707

Can Woo's stylesheets use these rather than hardcoding colors like this:
https://github.com/woocommerce/woocommerce/blob/23710744c01ded649d6a94a4eaea8745e543159f/assets/css/woocommerce.scss#L85

This would mean a theme developer can then override the root varia

[2021-04-02 09:59] seldimi commented on #25623
Hello.
We are still experiencing same issue.

The website is using latest WC version and is connected to a third party API which creates order on the WC platform via CRUD methods. The problem is that when someone orders something from website and the API sends an order in the same second, two orders are created, one is empty and one has merged.

I believe that the issue is made by $oder_item_id=$o

[2021-04-02 12:52] roykho commented on #29448
Hi there,

So I've tested different ways and all of them works as I expected. So requires more code than others but nevertheless it works. Here is an example snippet of how you can get that to work on admin side as you're wanting.

[code]

And I understand you stated it was changed in 4.9 and we'll look into that but for the interim, this solution should work for you.

[2021-04-02 13:50] masteradhoc commented on #28195
@tammullen based on PR #28367 this issue was fixed. Is there a reason why its still open? Wasnt it fully fixed?

[2021-04-02 15:48] helgatheviking commented on #29574
+1 for reworking the SCSS files to use CSS variables where possible. With the heavily nested nature of the SCSS stylesheets, it can be a real pain to override Woo's style rules.

[2021-04-02 16:10] helgatheviking commented on #29574
@ninetyninew would you give my PR a test run?

[2021-04-02 16:17] helgatheviking opened #29576 "Dismissing Inbox messages should not need triple confirmation"
**Is your feature request related to a problem? Please describe.**
To dismiss an inbox notification, you must click 1. Dismiss, 2. Dismiss this message, and 3. confirm you really do want to delete.

**Describe the solution you'd like**
A reduction to 2 clicks seems better, perhaps even 1. If you had  standalone "dismiss all" then you could get rid of the Step 2 I described above as clicking on "di

[2021-04-02 17:12] ninetyninew commented on #29574
@helgatheviking I'm just having a few days off for Easter but will try to check this out when back. From a brief look that does look like it would fine for what I'm talking about here. The only thing I can think of is if Woo still supports IE11 (?) we maybe still need the existing values as a fallback?

[2021-04-02 17:19] juliaamosova commented on #29576
Hi @helgatheviking,

Thank you for reporting the issue. I agree with you, the number of clicks seems excessive. The cards you reference in your report are a part of WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-04-02 17:21] juliaamosova commented on #29574
Thanks for submitting your suggestions and PR @helgatheviking!

[2021-04-02 17:47] juliaamosova commented on #29567
Hi @vendidero,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I used the `add_filter( 'woocommerce_admin_disabled', '__return_true' );` filter to disable WooCommerce Admin but did not experience the error. Tested using WooCommerce 5.1.

Can you please confirm what version of WooCommerce are you using?

[2021-04-02 17:48] juliaamosova commented on #29560
Hi @helgatheviking,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-04-02 17:57] juliaamosova commented on #29556
Hi @KO-TFF,

I am sorry to hear about your experience with WooCommerce support. If you could provide me with your ticket number, I may be able to help you further.

[2021-04-02 18:00] juliaamosova commented on #29546
Hi @franticpsyx,

Thank you for taking the time to share this idea, we really appreciate your help.

I am adding the `needs developer feedback` label here so that the Core team could take a look further. It will be a few days before they'll be able to get to it.

[2021-04-02 18:04] juliaamosova commented on #29545
Hi @adeelejaz,

Thank you for raising the issue. However, the bug seems to be on the PayPal Express Checkout side of things. I see that you already opened an issue there https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/858. The team that maintains that plugin will get back to you soon. Thanks for your patience!

I am closing this issue here since this is not a WooC

[2021-04-02 18:04] #29545 closed

[2021-04-02 18:07] helgatheviking commented on #29560
I don't really know how you arrived at the colors from the core Woo colors, but happy to send a PR that just separates the two styles and picks some colors.

[2021-04-02 18:07] juliaamosova commented on #29537
Hi @VintageSociety,

I am closing this issue since you did not provide any details. If you are indeed experiencing a bug, please provide us with the information we request via the template.

[2021-04-02 18:07] #29537 closed

[2021-04-02 18:09] juliaamosova commented on #29535
Hi @ninetyninew,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

I am also adding the `needs developer feedback` label so that the Core team could take a look further.

[2021-04-02 18:10] juliaamosova commented on #29560
Adding the `needs developer feedback` label here so that the Core team could take a look further and provide further feedback. Thanks for your patience @helgatheviking!

[2021-04-02 18:13] juliaamosova commented on #29530
Hi @dronedash,

Thank you for raising the issue! WooCommerce support however needs to be declared by the theme on the theme side of things. We have a guide that goes into details on how to do it:

https://github.com/woocommerce/woocommerce/wiki/Declaring-WooCommerce-support-in-themes

I am losing this issue as a non-WooCommerce bug.

[2021-04-02 18:13] #29530 closed

[2021-04-02 18:26] juliaamosova commented on #29529
Hi @helgatheviking!

Thanks for this suggestion on how the visuals of the Twenty Twenty theme notices can be improved. Marking this one as an enhancement for now.

[2021-04-02 18:54] juliaamosova commented on #29524
Hi @hjbrimner,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the [Conditional Checkout Fields for WooCommerce](https://woocommerce.com/products/conditional-checkout-fields-for-woocommerce/) plugin which is one of the paid products on our marketplace. To g

[2021-04-02 18:54] #29524 closed

[2021-04-02 19:01] juliaamosova commented on #29513
Hi @AX-Ali,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lackin

[2021-04-02 19:04] juliaamosova commented on #29511
Hi @williamgh2019,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this

[2021-04-02 19:04] #29511 closed

[2021-04-02 19:06] yoshi4444 opened #29578 "Quick View on Product Page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have

[2021-04-02 19:06] yoshi4444 commented on #29578
this is on https://www.famcomfg.com/products/wall-vents/dryer-vents/

[2021-04-02 19:09] juliaamosova commented on #29504
Hi @Skidconnection,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:09] #29504 closed

[2021-04-02 19:10] juliaamosova commented on #29501
Hi @simonaluka,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:10] #29501 closed

[2021-04-02 19:10] juliaamosova commented on #29488
Hi @vvapour,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:10] #29488 closed

[2021-04-02 19:11] juliaamosova commented on #29466
Hi @InternetPresence,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:11] #29466 closed

[2021-04-02 19:11] juliaamosova commented on #29453
Hi @hrshamim,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:11] #29453 closed

[2021-04-02 19:12] juliaamosova commented on #29442
Hi @chukran,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:12] #29442 closed

[2021-04-02 19:12] juliaamosova commented on #29404
Hi @tomvangyseghem,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:12] #29404 closed

[2021-04-02 19:13] juliaamosova commented on #29376
Hi @erikdemarco,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:13] #29376 closed

[2021-04-02 19:16] juliaamosova commented on #29165
Hi @e-booz,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:16] #29165 closed

[2021-04-02 19:17] juliaamosova commented on #28576
Hi @simongcc,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:17] #28576 closed

[2021-04-02 19:19] juliaamosova commented on #28227
Hi @mcnaveen,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:19] #28227 closed

[2021-04-02 19:20] juliaamosova commented on #28137
Hi @WebMedic-X,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:20] #28137 closed

[2021-04-02 19:22] juliaamosova commented on #27938
Hi @Dodieza,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:22] #27938 closed

[2021-04-02 19:24] juliaamosova commented on #27577
Hi @Mukundan36,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:24] #27577 closed

[2021-04-02 19:24] juliaamosova commented on #27565
Hi @Niiamaddin,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:24] #27565 closed

[2021-04-02 19:26] juliaamosova commented on #26921
Hi @northernbeacheswebsites,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:26] #26921 closed

[2021-04-02 19:26] juliaamosova commented on #26751
Hi @renatoharo,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:26] #26751 closed

[2021-04-02 19:26] juliaamosova commented on #26650
Hi @nesearin,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:26] #26650 closed

[2021-04-02 19:27] juliaamosova commented on #26622
Hi @jaygaga,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:27] #26622 closed

[2021-04-02 19:28] juliaamosova commented on #26211
Hi @benfavre,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-02 19:28] #26211 closed

[2021-04-02 20:04] KO-TFF commented on #29556
Thank you, Julia. Someone got back to me almost immediately after I posted this. The ticket # is: (3856338)

From: Julia Amosova ***@***.***>
Reply-To: woocommerce/woocommerce ***@***.***>
Date: Friday, April 2, 2021 at 11:57 AM
To: woocommerce/woocommerce ***@***.***>
Cc: Katherine Olaksen ***@***.***>, Mention ***@***.***>
Subject: Re: [woocommerce/woocommerce] Woo Support does not work. (#29556

[2021-04-02 20:26] simonaluka commented on #29501
Hi,

Sorry for not coming back! The issue was with The plugin, thanks for
checking, it is resolved now

Regards,
Simona

2021 m. bal. 2 d., pn 22:10, Julia Amosova ***@***.***> rašė:

[2021-04-02 21:34] joelclimbsthings opened #32262 "Centralize persisted query logic around data store implementation"
As of [a recent PR](https://github.com/woocommerce/woocommerce-admin/pull/6614#pullrequestreview-627263942) we're using logic stored within the navigation data store to keep the persisted query. This is currently only actually utilized via the new navigation, but it would be best to centralize all of our persisted query logic around this.

Prior art in `client/layout/navigation.js`, and the implem

[2021-04-02 21:37] dfeuster opened #29579 "Typo in Payment Methods"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

Typo in Settings > Payments > Payment Methods > Direct bank transfer. The description

[2021-04-03 08:29] alessandrofrancesconi opened #29580 ""By Category" filter does not count private products"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have sea

[2021-04-03 09:27] vendidero commented on #29567
Hi there,

this was tested with the latest RC. The file is being conditionally included as a dashboard widget from within:
https://github.com/woocommerce/woocommerce/blob/trunk/includes/admin/class-wc-admin.php#L87

To reproduce you'll need to make sure that this method returns true (check the options):
https://github.com/woocommerce/woocommerce/blob/trunk/includes/admin/class-wc-admin-dashboard-s

[2021-04-03 11:36] Tamim-ul-hasan opened #29581 "Woocomerce uniqe order item export with total orderd quantity by different customer"
Anyone, please help me. I need a plugin or code that can export a list of unique products with variations ordered by different customers.
Also, the total quantity of a single product ordered for a period of time (like one day or period like 3 April 2021 to 6 April 2021).
The attached image illustrates the phenomena.
A lot of thanks and gratitude in advance.
![Uniqe Oder export (1)](https://user-im

[2021-04-03 11:53] rodel-calasagsag commented on #29478
Hi @umbrossino95. If you could please elaborate more on the steps you took for us to be able to recreate this issue?

I tried to follow your steps but I didn't encounter the issue you mentioned, as you can see from the file I attached here:
https://user-images.githubusercontent.com/4509348/113477162-a5b31a80-94b2-11eb-92e0-17943fba9498.mp4

The steps I did were:

1. Go to 'WooCommerce > Settings'

[2021-04-03 15:48] juliaamosova commented on #29552
Hi @sumitparkash,

Thank you for opening the issue and providing very clear details of your setup. I tested your use case by setting up the same (a few key screenshots below):

<img width="1433" alt="Screen Shot 2021-04-03 at 11 36 48 AM" src="https://user-images.githubusercontent.com/19143190/113483353-fc980000-9470-11eb-87cc-36854f8e4447.png">

<img width="1104" alt="Screen Shot 2021-04-03 at 11

[2021-04-03 15:49] juliaamosova commented on #29552
@Mtarnuhal we have a plugin however that will help you accomplish exactly that - [Conditional Shipping and Payments](https://woocommerce.com/products/conditional-shipping-and-payments/).

[2021-04-03 15:54] juliaamosova commented on #29578
Hi @yoshi4444,

Thank you for raising the issue. However, it doesn't have enough details for us to reproduce it.

Are you using any plugin to enable Quick View on the product?

[2021-04-03 15:56] juliaamosova commented on #29579
Hi @dfeuster,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future releases.

If you are interested to submit a P

[2021-04-03 16:13] juliaamosova commented on #29540
Hi @DeanForde,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. Tested using WooCommerce 5.1.

Also noting here that there is no need to export/import products in order to encounter this issue. It is enough to delete the product category on the site to see that the product to which that deleted category was assigned did not get assign

[2021-04-03 16:32] juliaamosova commented on #29531
Hi @mouligreenlaw,

Thank you for reporting the issue!

I can't reproduce it on my end - please see my screencast below. I've tried a few times:

![](http://g.recordit.co/cmhgWruEwa.gif)

However, I do see that it happens on your end indeed - your screencast below:

![Screen Capture on 2021-03-30 at 14-01-55](https://user-images.githubusercontent.com/19143190/113484848-7a133e80-9478-11eb-9c7b-ca67

[2021-04-03 17:50] battem opened #29583 "All products show the same price €60.647.073.871,00"
Hi,

All products show the same price €60.647.073.871,00 although the prices of all products are different... around € 15,00 euro.

Daschboard > products > all > edit and quick edit the prices are OK.

But at the frontend they all have the same price €60.647.073.871,00

See screen shots
See website: http://test.battem.org/product-category/boeken/
(site subdomain is not secure yet because I am in t

[2021-04-03 17:54] juliaamosova commented on #29525
Thanks for reporting @helgatheviking! I'll mark this one as a `high` priority for us to fix.

[2021-04-03 18:03] juliaamosova commented on #29523
Hi @studiojpeg,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested using WooCommerce 5.1 with Twenty Twenty theme.

See screencast below:

![](http://g.recordit.co/Y9Acfo6kWN.gif)

It's hard to tell what could be going on on your site. Can you please check if there are any errors in the browser cons

[2021-04-03 18:05] juliaamosova commented on #29521
Hi @canguroenglish,

Thank you for reporting the issue. However, it is not isolated enough for us to confirm it is an issue with WooCommerce. Is there a way to encounter the issue without using Elementor?

[2021-04-03 18:18] studiojpeg commented on #29523
Solved. It had to do with my **php.ini** file being fetched.

[2021-04-03 18:19] juliaamosova commented on #29519
Hi @glagonikas,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested using WooCommerce 5.1.

Can you please specify what kind of unpaid order should be created in order to encounter the issue?

I created an unpaid order using Direct Bank Transfer payment where the order is placed but it is unpaid. As

[2021-04-03 18:21] juliaamosova commented on #29515
Hi @Wovami,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](http

[2021-04-03 18:21] #29515 closed

[2021-04-03 18:24] juliaamosova commented on #29523
Thanks for your quick follow-up @studiojpeg! Glad to hear the issue had been resolved. I am closing this issue. Please feel free to open a new one in case you'd need further help.

[2021-04-03 18:24] #29523 closed

[2021-04-03 18:29] juliaamosova commented on #29514
Hi @Heatherarts,

Thank you for opening this issue! By your description, it sounds like the issue should indeed be resolved for you in WooCommerce 5.2 release (scheduled for April 13th).

If you like, you can test the pre-release version of WooCommerce 5.2. To do that, you can use the [WooCommerce Beta Tester](https://wordpress.org/plugins/woocommerce-beta-tester/) plugin. Once activated, you can

[2021-04-03 18:30] battem commented on #29583
I changed the url http to https://test.battem.org/product-category/boeken/
(certificate will come later)

:)

[2021-04-03 18:31] juliaamosova commented on #29556
Thanks for your follow-up @KO-TFF! It sounds like your issue is being worked on. I'll go ahead and close this thread. Please feel free to comment back in case you'd like us to take a look furter.

[2021-04-03 18:31] #29556 closed

[2021-04-03 18:33] juliaamosova commented on #29451
Hi @iamarpitpatidar!

Please let us know if you have any further findings to report on this issue?

[2021-04-03 19:39] glagonikas commented on #29519
Hi @juliaamosova I was testing using PayPal, where the order is created and set to "pending" instead of "on hold" and is not paid.

In our case, customers are sent to PayPal but for whatever reason, (forgot their PayPal password/not enough money/changed mind) they drop without completing their order. Those orders do not contain any notes.

[2021-04-03 22:08] helgatheviking commented on #29525
I'd think a little `intval()` before returning would probably resolve it

[2021-04-03 22:24] masteradhoc commented on #29579
@juliaamosova / @dfeuster added a PR for this, thx.

[2021-04-03 23:07] masteradhoc commented on #29386
@gerdneuman please check my drafted PR: https://github.com/woocommerce/woocommerce/pull/29585/files
fixes your first wish - at least if i understood correctly ;)

[2021-04-03 23:16] masteradhoc commented on #29206
@lcestaro added a PR for this, thanks!

[2021-04-04 00:03] geddyshop commented on #16747
Hi ernitish! I have been looking for a solution for this and came across your code. I have been managing 3 stores, all in opencart where this is a standard feature. Recently changed to woocommerce and it's very difficult for me to manage my orders without seeing the complete price. I am not a developer but I have access to my  cpanel. Where do I paste this piece of code? And if it doesn't work for

[2021-04-04 03:41] ernitish commented on #16747
Hi, @geddyshop, you can login into wp-admin and install [code snippet](https://wordpress.org/plugins/code-snippets/) plugin and there you can add snippet with this code.
https://pastebin.com/VSiUBvN3

if something not working or broken, you can disable that snippet.
You can contact with me via skype @webcast.technology for further help.

[2021-04-04 06:29] rodel-calasagsag commented on #29004
Hi @tammullen. I'm thinking I can do one of these two approaches:

1. I can improve the existing test by adding these steps into it:

    1. Hover on the "Virtual" checkbox and verify that it will display a tooltip.
    2. Verify that the "Shipping" option disappears once "Virtual" is checked.
2. Or, I can create a new test for adding a non-virtual simple product because we don't seem to have an e

[2021-04-04 08:59] rodel-calasagsag commented on #29005
Hi @juliaamosova
I have pushed a PR for this. Apologies for not clarifying the steps first. But here are the steps that I did:

1. Go to Shipping Classes page - `/wp-admin/admin.php?page=wc-settings&tab=shipping&section=classes`
2. Click 'Add shipping class' button
3. Type a "Shipping class name"
4. Type a slug
5. Type a description
6. Click on 'Save shipping classes' button
7. Verify that the 'Sh

[2021-04-04 12:23] Modex987 opened #29587 "price slider in the widget doesn't show up by default"
by default price slider doesn't show up when you just install woo till we add some css styles

// SCSS ==>
[code]

[2021-04-04 12:46] #29587 closed

[2021-04-04 16:37] kevinnivek commented on #21624
👍

[2021-04-05 08:07] dougaitken opened #29588 "Import Export buttons delayed load"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

On page load/refresh, a content shift is visible on some admin pages such as Products and Orders lists. This is partly due to the Import/E

[2021-04-05 12:29] rrennick opened #29590 "Update Typescript to 4.2 in api package"
Typescript 4.2 was [released](https://devblogs.microsoft.com/typescript/announcing-typescript-4-2/) last month. We should update the api package to use it.

[2021-04-05 12:44] SteveFeher commented on #29543
Anyone have any thoughts on this?   Suggestions?

[2021-04-05 13:09] ninetyninew opened #29591 "Cover more/all conditions when using woocommerce_allow_marketplace_suggestions or a new filter"
WooCommerce has marketplace suggestions enabled by default, this can be disabled using the option in WooCommerce > Settings > Advanced > WooCommerce.com or when returning false for woocommerce_allow_marketplace_suggestions.

However this only seems to effect the extension suggestions shown when editing a product, there are now lots more places that suggests extensions to install, blogs to read, op

[2021-04-05 13:37] vedanshujain commented on #29460
Closing since PR is merged. This will be available with WC 5.2.

[2021-04-05 13:37] #29460 closed

[2021-04-05 14:11] vedanshujain commented on #29522
@dennisheiden we use [selectWoo](https://github.com/woocommerce/selectWoo) which is a fork for select2 for rendering select fields. [its rendered in an overlay so this expected behavior](https://github.com/woocommerce/woocommerce/blob/trunk/assets/js/frontend/country-select.js#L63), if you want to customize it, you can take a look at  select2 documentation.

I am closing this issue since we use GH

[2021-04-05 14:11] #29522 closed

[2021-04-05 14:12] phillipswdc opened #29593 "Page source of checkout page is same as page source for WordPress critcal error page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ X ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ X ] I have

[2021-04-05 14:15] battem commented on #29583
Soleved... I reinstalled everything... now it works,
THX, Jan :)

[2021-04-05 14:18] rrennick commented on #29567
@vendidero Can you clarify where you added the filter?

[2021-04-05 14:19] vedanshujain commented on #29546
@franticpsyx thanks for the suggestion, this does make sense and will improve the usability for sure. I am not sure when we will be able to add this feature, that said, if you folks consider sending in a PR to implement, we would appreciate it.

[2021-04-05 14:27] vedanshujain commented on #29560
@helgatheviking looks like we did not have separate colors in twenty-nineteen and twenty-twenty either, so if we change we should change in all these themes. I am marking this as a low priority for now, since it does not affect functional WC behavior, and also marking for feedback from design to get some color picked.

[2021-04-05 14:33] phillipswdc commented on #29593
Looks like the page source was eing cached by FireFox

[2021-04-05 14:33] #29593 closed

[2021-04-05 14:34] helgatheviking commented on #29560
@vedanshujain Yes, I think I opened an issue about Twenty Twenty at least. I think they should all use distinct colors (doesn't WC core?), but agree it isn't urgent since it's not breaking things..

[2021-04-05 14:34] #29417 closed

[2021-04-05 14:39] vedanshujain commented on #29563
@starflower looks like this is coming from the WC Google Integration Analytics plugin. Thanks for the report, I am going to pass this feedback to the team managing the plugin, meanwhile, you can run `update_option( 'woocommerce_google_analytics_pro_notice_shown', false );` once on your site to get around the issue while we work on a fix.
I am closing the issue in this repo since it needs to be fix

[2021-04-05 14:58] vedanshujain commented on #29535
@ninetyninew can you tell us more about the use case? if prices are modified, then the purchase buttons should pick up the modified prices. We already have filters like `woocommerce_product_get_price` and `woocommerce_product_get_regular_price` etc to support modified prices.

Further, we also set the prop `created_via` which should set to `checkout` if order is being created via a normal checkout

[2021-04-05 15:10] vedanshujain commented on #29573
@hamza-wpbrigade hi, while it does not looks like a filter like this will be useful for everyone, you can already customize using a snippet like so in frontend:

[code]

You would have to take care that this code executes after the sort code in `wc-enhanced-select.js` is already executed, so this definitely would need some custom work.

Note that we generally won't support custom code requests, we

[2021-04-05 15:10] #29573 closed

[2021-04-05 15:11] yoshi4444 commented on #29578
Closing issue.

[2021-04-05 15:11] #29578 closed

[2021-04-05 15:15] ninetyninew commented on #29535
So in terms of pricing, an example would be that a plugin could use some filters like these to manipulate items in the cart conditionally (the product price returned from the usual get_price functions would remain the same, but the price could be manipulated conditionally based for a number of different scenarios):

woocommerce_add_cart_item_data (add cart item data)
woocommerce_before_calculate_t

[2021-04-05 17:41] #29583 closed

[2021-04-05 17:49] starflower commented on #29563
@vedanshujain There are ~90k orders, ~153k coupons and ~44k user memberships, which are all stored in posts and I think that's why it is slow. Thanks for your help!

[2021-04-05 18:09] starflower commented on #29563
@vedanshujain I tried to run `update_option( 'woocommerce_google_analytics_pro_notice_shown', false );`, but this didn't have any effect :/

[2021-04-05 18:48] psydwannabe commented on #27424
I also had to go through and manually update the database to get the pop-up to stop coming up- - but mine was even worse

It would pop up an info window with placeholder text for the DB Update reminder, then automatically hides it, every time you load a WP-Admin page with any WooCommerce components on it.

To fix it, I had to update ID 18 (name: "wc-update-db-reminder") in table "(wp_)wc_admin_not

[2021-04-05 19:11] #29437 closed

[2021-04-05 19:54] kylenielebeck commented on #26422
+1
After reading this thread, it doesn't look like there has been a fix or solution here. Is this still the case? I am having the same problem!

[2021-04-05 19:56] ObliviousHarmony commented on #29550
Hello @hamza-wpbrigade,

As this is a generic JSON endpoint for searching for products _and_ variations, it doesn't feel like a filter here would be fitting to address upsells. Since you're only attempting to affect that single select, I'd suggest looking at using the `exclude_type` data attribute on it. There are also some other places in the call stack will acceptable filters to address this, so

[2021-04-05 19:56] #29550 closed

[2021-04-05 20:48] zhongruige commented on #29484
Hi @bizkjota,

Thank you for submitting this issue! I was able to reproduce it on my end, and it currently affects Chrome. It works as expected in Firefox. I tested on the following:

* WordPress 5.7
* WooCommerce 5.1
* Firefox 87.0
* Chrome 89.0
* Storefront theme
* Twenty Twenty-one theme

**Replication steps**

* I set up a new WooCommerce site and installed both the Storefront and Twenty Twent

[2021-04-05 20:49] hjoelr opened #29595 "grouped.php version not updated on last change in WC 4.8.0"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
My theme overrides the grouped.php file. [WC 4.8.0 updated this file](https://github.com/woocommerce/woocommerce/pull/28169) but the file v

[2021-04-05 21:19] bizkjota commented on #29484
That's nice, thank you so much.

Regards,

KJ

[2021-04-06 02:43] adrianduffell commented on #29547
@rrennick Much thanks for taking a look at this.

I think `wp-env` works by overwriting `/var/www/html`  with a bind mount containing the downloaded version.

https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d0475695ccf3ae2829f/packages/env/lib/build-docker-compose-config.js#L28-L49

[2021-04-06 08:22] vendidero commented on #29567
Hi there,

via a Plugin:

`add_filter( 'woocommerce_admin_disabled', '__return_true' );`

But as I've already stated - it doesn't actually matter as the code (missing functions) is called anyway.

Cheers

[2021-04-06 09:40] dennisheiden commented on #29522
Hi vedanshujain,

I have anticipated something like this and I can understand your answer.
I just think that the implementation should be reviewed because a JS manipulation of DOM in frontend which is breaking any customization of the form, achieved through legit template overwrites / using WC hooks, shouldn't be accepted as default behavior. IMHO (or at least there should be an opt-out option for

[2021-04-06 11:17] ccobuzziOV commented on #27419
I was just notified that we are having the same issue.  Cannot select colors on the shop page.   Colors show but cannot click on them or add to cart.  Tried all the suggested fixes and work arounds and nothing.  Please issue a fix ASAP.

[2021-04-06 11:36] adeelejaz commented on #29545
Hi @juliaamosova ,

The only way to fix so far as has been to revert to older version of WooCommerce (https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/858#issuecomment-810103052). Downgrading the PayPal plugin doesn't fix the issue. Does that still mean it is not a core issue?

[2021-04-06 12:49] rrennick commented on #29547
It does. But, I don't think replacing the files turns off the splash screens. At least, when I do that on a regular site I still get the DB update screen.

[2021-04-06 13:59] rrennick commented on #29567
@vendidero Can you confirm you still encounter the issue with the latest RC? If so, could you submit a system status report?

[2021-04-06 14:35] #29532 closed

[2021-04-06 15:39] vendidero commented on #29567
Hi,

yep, the error is triggered right after updating to RC2. Could you please check the actual code? It is obvious that the non-defined function (in Woo Core `wc_admin_url` is not defined) `wc_admin_url` is called without an additional check. I've actually explained that above already. You might need to make sure that the `woocommerce_task_list_tracked_completed_tasks` has already been populated

[2021-04-06 15:56] mcmito commented on #23586
One year later and the problem is still there. I´m having this problem right now after upgrading to 5.1.0. Fun.

[2021-04-06 16:07] EdithAllison commented on #29162
I have tested this with Twenty Twenty-one theme and can confirm this happens but only with a direct link (URL) and only if different quantities are added (one error message per quantity I tried to put into basket).

If the product is added either from the product loop (eg shop page) or product details page with the Woo "add to basket" button, it works as expected.

@lacherogwu are you using the li

[2021-04-06 16:08] roykho commented on #29567
I am able to replicate this issue. This has to return true to reproduce https://github.com/woocommerce/woocommerce/blob/trunk/includes/admin/class-wc-admin-dashboard-setup.php#L164

`wc_admin_url` was added in this commit https://github.com/woocommerce/woocommerce/pull/29174 so I think we need to wrap it with `is_wc_admin_active()`

[2021-04-06 16:45] zhongruige commented on #29580
Hi @alessandrofrancesconi,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I tested on the following:

* WordPress 5.7
* WooCommerce 5.1

**Replication Steps**

1. I set up a new WooCommerce site and added in the sample products
2. Using the default categories, I selected a product that was the only one in a category (WordPress Penna

[2021-04-06 17:31] zhongruige commented on #29543
Hi @SteveFeher,

Thank you for taking the time to report this. I was unable to reproduce the issue on my end using:

* WordPress 5.7
* WooCommerce 5.1
* Storefront theme

**Replication Steps**

* I did a fresh install of WooCommerce and added in the demo products
* I enabled PayPal (Standard) and configured it with a Sandbox account for testing
* I placed an order via PayPal and logged in as the t

[2021-04-06 17:45] zhongruige commented on #29588
Hi @dougaitken,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I tested on:

* WordPress 5.7
* WooCommerce 5.1

**Replication steps**

* On a fresh install of WooCommerce, I imported the sample products
* I navigated to `Products > All Products` and noted the delayed load for the Import and Export buttons. See the video below:

http

[2021-04-06 18:38] roykho commented on #29595
Yes, you're correct @hjoelr - thanks for reporting!

[2021-04-06 19:59] #29579 closed

[2021-04-06 20:27] fradaspa commented on #9365
Hello guys. somebody can help me out?

?wc-ajax=get_refreshed_fragments | (canceled)

I got this call from all the pages even if that i don t have a cart in the site, and it let me lose 5 sec. What can I do?

[2021-04-06 20:54] lukecav commented on #9365
@fradaspa

You can disable that cart fragment request using this plugin.
https://wordpress.org/plugins/disable-cart-fragments/

[2021-04-06 21:01] masteradhoc commented on #29405
@Rahe / @juliaamosova  added a PR for this. Please also test the changes on your installation to see if it fixes your http api error.

[2021-04-06 21:02] fradaspa commented on #9365
What about if I would like to do it manually instead installing others
plugin?
On Tue, 6 Apr 2021 at 22:54, Luke Cavanagh ***@***.***> wrote:

[2021-04-06 21:11] ObliviousHarmony commented on #29461
While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-04-06 21:29] masteradhoc commented on #29379
@mensmaximus @juliaamosova added a PR for this. please check if this fixes all occurances of the strikethrough price. thanks!

[2021-04-06 21:34] MC-Rider commented on #27419
In the latest WC version (5.1.0), I noticed that when I create a new Variable Product it does not appear in the front end initially (but is normal in the backend)... HOWEVER... I found that if I refresh the product's variables (click Save Changes and then update the product), it then appears in the front end and functions as normal.

I am running the latest versions of Wordpress, WooCommerce, and

[2021-04-06 21:42] ObliviousHarmony commented on #29405
Hello @Rahe,

Based on the error you've shared, I suspect changing the protocol to `HTTPS` would make your experience worse. This error is caused by `cURL` making `HTTPS` requests without having any local certificates installed. Your environment likely has no CA bundle installed and is unable to verify these requests, hence the error. This is likely a consequence of the `http://ipecho.net/plain` A

[2021-04-06 21:42] #29405 closed

[2021-04-06 21:42] annier4 opened #29604 "Actualice la página web con lo último de Woocomerce.. luego me pidieron que actualizará la base de datos y que era obligatorio. Como resultado ahora no puedo ingresar al Shipping de Woocommerce y tampoco se muestra ahora los calculos del shipping en la web."
He logrado encontrar el error, en ajustes se había puesto como deshabilitar las opciones de envío, ya lo habilite nuevamente. Gracias de todas formas.

[2021-04-06 21:43] ccobuzziOV commented on #27419
@MC-Rider - Thank you for the suggestion.  This is happening on products we had for a couple of years and have not changed.  Just tried refreshing the variables and did not work for me.  Running latest version of Wordpress, WooCommerse and Astra Theme.

[2021-04-06 22:04] ObliviousHarmony commented on #29428
Hi @jeremyfelt,

Thank you for taking the time to report this bug, we really appreciate your help. I have verified that `WP_CLI` commands excessively load REST endpoints. I haven't looked deeply at the gateway-specific consequence, but I don't think it makes a difference in my assessment.

When we peel away the layers of this bug I see two different concerns:

1. There is no support in WooCommerce

[2021-04-06 22:54] apmwebdev commented on #29588
The user came back to note that the issue is "more pronounced when all of the plugins are enabled as some of the plugins add additional heading information to the page which causes a more pronounced shift."

[2021-04-06 22:59] mouligreenlaw commented on #29531
@juliaamosova
Many thanks for testing this.
The only thing I can see that is different is that I tested using 2 or more widgets in a single widget area, whereas you are testing with a single widget in each of two widget areas.
Not sure if that is pertinent though.

[2021-04-07 00:15] barryhughes commented on #28759
Circling back to this, there seem to be two separate issues described above (though, it so happens they both impact the shipping address).

**Billing County is copied into Shipping Address** → This is the original issued described by the reporter: the problem here is that if the shipping address has 'gaps' then we try to fill them using the corresponding data from the billing address. This applies

[2021-04-07 02:59] adrianduffell commented on #29547
I see what you mean. I think, on first use at least, wp-env replaces the files and is actually installing WP for the first time. The splash screens then don't appear because an upgrade wasn't involved.

[2021-04-07 08:26] gglobalstep commented on #29553
We are using the below Product CSV for testing :
[sample_products.zip](https://github.com/woocommerce/woocommerce/files/6270112/sample_products.zip)

[2021-04-07 10:01] EdithAllison commented on #26832
Question: Is a random ID needed? Or could the select name be used as id?

So instead of

[code]

we have

[code]

?

[2021-04-07 10:15] BackuPs commented on #26832
@EdithAllison We need somehow a 100% unique ID as a ID name could theoretically lead to a duplicate ID in a page which by html validation unfortunately is not allowed. Using the post id or a random number will avoid that situation.

[2021-04-07 10:20] BackuPs commented on #26832
@EdithAllison please also read this  as it is more or less connected to this issue  https://github.com/woocommerce/woocommerce/issues/26834

[2021-04-07 11:06] vedanshujain opened #29607 "Extensive unit tests for variation filter using lookup tables"
We should add extensive unit tests as we implement variation filtering using a lookup table to:
1. Properly spec it.
2. As protection against future regressions.

Note that many unit tests may fail till we actually implement the solution, so we won't merge it to the trunk initially, but keep it in a PR which may act as a base PR for all the enhancements.

[2021-04-07 11:07] vedanshujain opened #29608 "DB migrations for implementing lookup table for variation filtering"
This issue tracks adding DB migrations for lookup tables that we will need for implementing variation filtering. We need to make sure that our backfill process is efficient and only put a very light load on the shop.

[2021-04-07 11:09] vedanshujain opened #29609 "Sync lookup table for variation filter when product is modified"
This issue tracks adding a sync function for the variation filter lookup table when a product is modified. This is blocked by #29608.

[2021-04-07 11:09] vedanshujain opened #29610 "Use lookup table for variation filtering when ready."
As prototyped in #29190, we should use a lookup table for variation filtering for performance and completeness. This issue is currently blocked by #29609

[2021-04-07 11:20] vedanshujain opened #29611 "Implement variation filtering using lookup tables."
In #25524 we explored the possibility of variation filtering using lookup tables to solve multiple related issues -- #27935, #28368, #29242 etc. Given that a PoC was already done, it's time to start working on and implement the approach.

Implementing the approach will be a lot of effort. This issue will act as a placeholder for getting all the needed things done, and we will close this after the

[2021-04-07 11:26] vedanshujain commented on #25524
I am closing this issue in favor of #29611, we already have a PoC for the approach in #25524 and #29611 will track actual implementation. There might be new things that we will discover along the way, but for now, the linked issue will serve as a good placeholder and a plan on how we will approach the issue.

Thanks everyone for commenting here and sharing several approaches and feedback. We will

[2021-04-07 11:26] #25524 closed

[2021-04-07 11:46] EdithAllison commented on #26834
@BackuPs After you've updated the Attribute in WP Admin, did you also update the Variations tab?

In my test this worked:

1. In product > attributes, change attribute name, save
2. in product -> variations, change dropdown selection, save

<img width="967" alt="update_variations" src="https://user-images.githubusercontent.com/19706428/113861361-6b45c800-97a7-11eb-838a-14647fd76661.png">

[2021-04-07 12:03] BackuPs commented on #26832
@EdithAllison of course it worked but it does NOT exclude the possibility that a double id will occur.  It is not the 100% safe solution. That is why you need a unique random id by also adding the post_id to the variation id identifier.

[2021-04-07 12:05] BackuPs commented on #26834
Its a bug as one should not have to update the variation.

[2021-04-07 12:18] EdithAllison commented on #26832
Submitted https://github.com/woocommerce/woocommerce/pull/29612

[2021-04-07 13:08] rrennick commented on #29547
That makes sense. I think there may be a way to silence the WP splash screen with WP CLI but it's been a few years. I'm hoping to be able to look at this this week.

[2021-04-07 13:59] cereneto commented on #29465
Same problem here.

[2021-04-07 14:40] loranallensmith commented on #29591
Howdy @ninetyninew!  :wave:  Just following up on our conversation during developer office hours](https://woocommercecommunity.slack.com/archives/C1KAZ91E3/p1617804823033200).  I'll add this topic to the internal roll-up that I share with our engineering teams, and I'm going to transfer this issue to the [`woocommerce/woocommerce-admin`](https://github.com/woocommerce/woocommerce-admin) repository

[2021-04-07 15:25] helgatheviking commented on #29535
To throw in my two cents (and maybe take us on a tangent).... as someone who also has to disable payment request buttons (ie: non-standard checkout) for both my Name Your Price and Mix and Match plugins.. I think it could be helpful if there was a standardized way for gateways to display the payment request buttons. And then similarly, a standardized way to _hide_ the buttons from 3rd party plugin

[2021-04-07 15:26] Mte90 opened #29614 "Why wc_remote_inbox_notifications_specs option is autoload enabled?"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
We are working on a customer website to optimize the database I saw that options in the wp_options with autoload as `yes` but to me is not

[2021-04-07 15:31] Christian-CFP opened #29615 "All the mails are in Chinese language!"
All the mails are in Chinese language! 5.1.0
Need urgent help!

[2021-04-07 15:45] zhongruige commented on #29604
Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

Just to confirm, it sounds like this issue may be resolved. If not, please let us know and we will take a look.

Thanks!

[2021-04-07 15:47] zhongruige commented on #29615
Hi @Christian-CFP,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2021-04-07 16:31] #29206 closed

[2021-04-07 16:41] #29379 closed

[2021-04-07 16:44] roykho commented on #29435
Hi @DeanForde - So I've tested this and was not able to replicate the issues with SKU having spaces. Generally speaking it is best to have SKUs that don't have a space, instead use hyphens. However WC does allow spaces in SKUs. Make sure you enable this setting where it will either match the ID or SKU. ![](https://d.pr/i/Do8aUN+)

Perhaps the issue you're seeing is caused by something else?

[2021-04-07 16:49] dcelsey opened #29617 "Bulk updating products to Sale [Price] Change to 'blank' actually sets sale price to 0 (free)"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Updating the sale price of products to blank using bulk update actually sets the sale price to zero.

This is how I have always turned my

[2021-04-07 17:08] roykho commented on #29286
Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future releases.

[2021-04-07 18:05] Christian-CFP commented on #29615
Hi there,
I found out that this issue is caused by the plugin Eventon 3.1.3. so not your fault.

[2021-04-07 18:05] #29615 closed

[2021-04-07 18:14] zhongruige commented on #29615
Thanks for the follow up @Christian-CFP!

[2021-04-07 18:15] strategio opened #29618 "Allows to filter the condition "is using shop base" in the breadcrumbs"
**Is your feature request related to a problem? Please describe.**
In `\WC_Breadcrumb::prepend_shop_page`, there's a condition to add the "Shop" breadcrumb which partly depends on the permalinks product base.

On a multilingual site like with WPML, the shop page ID is filtered inside `wc_get_page_id( 'shop' )` to return the translated shop page and the subsequent condition is not passing because t

[2021-04-07 18:38] fradaspa opened #29620 "POST?wc-ajax=get_refreshed_fragments | (canceled)"
Hello guys. somebody can help me out?

POST?wc-ajax=get_refreshed_fragments | (canceled)

I got this call from all the pages and most of I heard come from the minicart even if that i don t have a cart in the site, and it let me lose 5 sec.
What can I do? There is any code to add in the functions.php?

[2021-04-07 19:53] Mderob commented on #29465
same problem also for me.
thanks for you support

[2021-04-07 20:45] claudiosanches commented on #29618
Hello @strategio,

Thank you for taking the time to share this idea, we really appreciate your help.

Sorry but I don't agree, we introduced `woocommerce_get_breadcrumb` so anyone can customize WooCommerce's breadcrumbs, I see no reason for not using this filter now, also note that everything will be on object cache, transients and so on by `get_option` and other WP functions, so I can't see any p

[2021-04-07 20:45] #29618 closed

[2021-04-07 21:14] zhongruige commented on #28759
Hi @barryhughes,

Thanks for following up!

Good call out--I verified that is the case only when doing that flow. Perhaps it is less of a bug more of a slight confusion on how that works from the customer's perspective if they aren't expecting it.

[2021-04-07 21:34] #28759 closed

[2021-04-07 22:08] barryhughes commented on #28759
Yep could be.

It does seem a little confusing to allow a customer to specify a shipping address, then default to the billing address (there's probably some historic context I'm missing there, but it makes me wonder if a setting like _Default to Billing Address if Shipping Address not set_ might make sense as an alternative or additional option).

Beyond that, there does seem to be some squirrelli

[2021-04-08 00:23] databuzz opened #29621 "REST API - woocommerce_product_invalid_image_id error with long src urls"
I am using v2 of the REST API (have also tested with v3) and WooCommerce 5.1.0.

Uploading Products with images with long src url's results in the following error:

{
  "code": "woocommerce_product_invalid_image_id",
  "data": {
    "status": 400
  },
  "message": "#0 is an invalid image ID."
}

If I shorten the src url to something shorter the Product is created/updated successfully.

Here's an e

[2021-04-08 00:42] iamashishk opened #29622 "Error: An error occurred in the request and at the time were unable to send the consumer data."
**Prerequisites (mark completed items with an [x]):**
- [ x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

![image](https://user-images.githubusercontent.com/22693536/1

[2021-04-08 00:44] #29622 closed

[2021-04-08 03:21] roykho commented on #29407
Hi @usama-govsoft - could you please provide the exact code you're using?

[2021-04-08 08:42] BasicMr commented on #18852
@Cherrerotinoco We have 3 VAT values. 21, 9 and 0.
Can you please adjust this code for these 3 VAT values?

Thank you!

[2021-04-08 12:39] #29567 closed

[2021-04-08 13:01] fvdbgit commented on #28752
Dear @tammullen , dear @GeoJunkie ,

When is this bug going to be fixed?
The issue is already open since more than 3 months (and exists since longer).

Thank you very much in advance for your answer.

[2021-04-08 13:33] #29595 closed

[2021-04-08 13:33] mehargags commented on #18131
I'm trying what @donnamcmaster advised but it is not working.
Using Elementor + Hello Elementor Theme + Hello Elementor Child theme
adding the said info in the CHILD THEME's function.php

Any pointers ?

[2021-04-08 13:46] #28489 closed

[2021-04-08 13:51] adampatterson commented on #18131
@mehargags It's been a few years so I don't remember if I solved this or not.  I just wanted to check that you have a `functions.php` plural file and not a `function.php` singular.

[2021-04-08 14:18] mehargags commented on #18131
yes @adamawesomeface it is very well functions.php... there is not function.php at all

[2021-04-08 14:31] lucailvec opened #29625 "Rest API product attributes missing"
Woocommerce 5.0.0 , Wordpress 5.7 , local dev with default docker image.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
A call to `woo_api.get('products/attributes?slug=the_slug_used_as

[2021-04-08 14:32] strategio commented on #29618
@claudiosanches, I can understand this is not in your priorities to include this filter, OK that's fine...

Maybe I was not clear about our needs. We don't want to "customize" the breadcrumb, we just want the breadcrumb to display the same way for different languages. We would need this for our official WPML glue plugin (https://wordpress.org/plugins/woocommerce-multilingual/).

Example:
- EN (def

[2021-04-08 15:28] gglobalstep opened #29627 "[GlobalStep] "Hidden" and "Shop only" options for Product Catalog visibility fails to work correctly"
## Bug Description:
"Hidden" and "Shop only" options for Product Catalog visibility fails to work correctly at frontend when products searched via Search bar

## Test Instructions:
Critical Flow (Merchant->Products->Edit Product details) : https://github.com/woocommerce/woocommerce/wiki/Critical-Flows

## Environment:
Woocommerce Version: WooCommerce 5.2 RC2 and 5.1
WordPress version: (v5.7)

## P

[2021-04-08 15:32] gglobalstep opened #29628 "[GlobalStep] "Shipping Address" gets replaced with "Billing Address" under "My Account->Addresses" when "Ship to a different address?" is toggled off/unchecked during checkout"
## Bug Description:
"Shipping Address" gets replaced with "Billing Address" under  "My Account->Addresses" when "Ship to a different address?"  is toggled off/unchecked during checkout

## Test Instructions:
Critical Flow (Shopper->My Account->Update Addresses) : https://github.com/woocommerce/woocommerce/wiki/Critical-Flows

## Environment:
Woocommerce Version: WooCommerce 5.2 RC2 and 5.1
WordPre

[2021-04-08 16:09] zhongruige commented on #29628
Hi @gglobalstep,

Thank you for reporting the issue. However, this issue had been reported previously [here](https://github.com/woocommerce/woocommerce/issues/28759#issuecomment-815295121). We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed. Thanks!

[2021-04-08 16:09] #29628 closed

[2021-04-08 16:17] zhongruige commented on #29617
Hi @dcelsey,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I tested this on the following:

* WordPress 5.7
* WooCommerce 5.1
* Using imported products

**Replication Steps**

* After setting up my store and importing products, I selected a few from the list and selected Bulk Actions > Edit

<img width="662" alt="Screen Shot 2021-0

[2021-04-08 16:47] douglasbentley opened #29629 "I need help with WooCommerce Plugin"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

Hi family, I am looking for a plugin for WooCommerce that can do this: We sell an her

[2021-04-08 17:10] roykho commented on #29288
Hi there @erikdemarco - Why not just query by class name?

[2021-04-08 17:32] dcelsey commented on #29617
"I believe what we can do in this case is to make the field throw an error if it is empty to prevent accidental bulk updates to zero."

That is not the correct solution. Updating the Sale Price to blank is a valid action - it takes the product(s) off sale and sets it back to the regular price. This is exactly what you would do on an individual product to take it off sale.

It used to be possible t

[2021-04-08 18:36] zambetti opened #29630 "Variation Order Does Not Save"
- [X ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Product variation admin order does not save properly. I click the reorder icon, and enter a number, the items change position properly. Then when I reload or come back to the page, the order

[2021-04-08 18:46] zambetti commented on #29630
I've discovered that by clicking each of the "set admin variation order" icons in sequence, when you type a number in, it does not update the other numbers. So it is possible to set items with the same order number. This is causing items to reorder unexpectedly on page load.

The interface allows people to set the same order number for two items.

This seems to be causing the problem.

[2021-04-08 19:27] zhongruige commented on #29627
Hi @gglobalstep,

Thank you for reporting the issue. However, this issue had been reported previously [here](https://github.com/woocommerce/woocommerce/issues/28693) and there is [a PR for it as well](https://github.com/woocommerce/woocommerce/pull/28702). We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed. Thanks!

[2021-04-08 19:27] #29627 closed

[2021-04-08 19:53] zhongruige commented on #28470
Hi @GoranRista,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-08 19:53] #28470 closed

[2021-04-08 19:54] zhongruige commented on #29382
Hi @ajgw,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-04-08 19:54] #29382 closed

[2021-04-08 20:24] #29421 closed

[2021-04-08 20:30] thomas-zg commented on #29563
Looking to the code of the plugin, the option set to false should solve the problem:
[https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/b8b2e67ae7c2716b851ba278a1877e8f74857f1d/woocommerce-google-analytics-integration.php#L130]

[2021-04-09 03:47] erickocrs commented on #11064
OMG Thats the guy!

[2021-04-09 05:23] rodel-calasagsag commented on #29003
I pushed a PR for this. The steps and the kind of data the test used are mentioned in that PR

[2021-04-09 06:48] rodel-calasagsag commented on #26975
I was able to recreate this issue using the Greek characters @fesarlis mentioned above.
But I noticed that this issue also happens on other non-standard URL characters for product attribute slugs.
For example, I tried using a Japanese character in an attribute slug, and I get a "Page not found" page as shown below.

<img width="439" alt="wh1camknli" src="https://user-images.githubusercontent.com/4

[2021-04-09 07:32] MichaelHabib opened #29632 "Product Category Filter Widget : Wrong results when Hide Empty Categories Enabled"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-04-09 08:26] Daniel-MultiSafepay opened #29633 "Stock reservation when order change from on-hold to pending status"
**Prerequisites (mark completed items with an [x]):**

- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When an order is created, this action is being fired, which reserve the stock for the minutes defined in the WooCommerce settings:

https

[2021-04-09 10:47] eopws commented on #29633
Hello, I've tried to reproduce this bug and got the same error as you. And I've noticed one more thing, if we have placed two orders of same product that has stock quantity = 1 and change both orders statuses first to pending payment and then to complete stock reduces twice, that means after all this operations stock will be -1

[2021-04-09 11:01] zdratoz opened #29635 "Batch update entities"
It would be a nice idea to upgrade the batch update ,adding the "per_page" parameter.

Woocomerece limit by default is 100. In this case you should update a script into the wordpress folders.
According to my solution , you could just have the ability to add a per_page param into the call.
That means that you could update a banch of 10 or 100000 in one line of code

[2021-04-09 11:05] rrennick commented on #29004
This sounds like it might be something that would be flaky.

[2021-04-09 11:57] bernattorras opened #29636 "[sale_products] shortcode isn't displaying grouped products"
**Is your feature request related to a problem? Please describe.**
If a grouped product includes products that are on-sale, it appears with the "on sale" label in the Shop page, but if you use the [sale_products] shortcode, it will not display the grouped product.

**Steps to replicate**
- Create a simple product and enter a sale price for it
- Create a grouped product and link it to the simple pr

[2021-04-09 12:22] tammullen commented on #29004
Agreed

I think this sounds like a better option

Yes I think it would be good to have one for both, a quicker win would be just use the same flow as we have already but remove the step of setting the virtual checkbox. We could add more steps at a later date. We want to keep the tests as simple and short as possible for now.

[2021-04-09 14:10] vedanshujain commented on #29499
Noting here that we discussed in the team and we will implement based on inferring the country based on the locale set in WordPress (instead of from browser or anything more complicated like this). If no locale is set, we will default to the US.

[2021-04-09 14:14] lolalalol commented on #26422
+1
Same problem. Can not easily update product price programmatically with woocommerce_before_mini_cart hook.
I found a solution with woocommerce_cart_contents_changed hook. When product is added to cart, for example.

`add_filter('woocommerce_cart_contents_changed', function($cart_contents) {
    $new_contents = [];
    foreach ($cart_contents as $k => $cart_item) {
        if ($cart_item['produc

[2021-04-09 14:57] roykho commented on #29445
Hi @amritansh24 - thanks for reporting this. I can see how using `get_header` may not be the best way to do this. Maybe we should use `template_redirect` instead.

I will mark this as an enhancement however since this is not a high priority we may not be able to get this in a release anytime soon.

[2021-04-09 15:10] roykho commented on #29563
Hi @starflower - can you try `update_option( 'woocommerce_google_analytics_pro_notice_shown', true );` instead?

[2021-04-09 15:12] roykho commented on #29621
Hi @databuzz - I don't recall imposing any hard limits to this ( having dug into it yet ). Could this be limited on the server level with the filesystem? Have you checked that first?

[2021-04-09 16:53] guicmazeredo opened #29639 "Negative fees don't show in order summary"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When manually adding a negative fee to an order, the fee doesn't show in the order summary - https://d.pr/i/fXpvgA

**Expected behavior**
I

[2021-04-09 17:43] zhongruige commented on #29635
Hi @zdratoz,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-04-09 18:29] elizaan36 opened #32261 "Add Facebook and Instagram to "What platform" question in profiler"

[2021-04-09 19:23] zhongruige commented on #29639
Hi @guicmazeredo,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I tested the following on:

* WordPress 5.7
* WooCommerce 5.1

**Replication Steps**

* Create an order for any product
* Click on`Add Item > Add Fee`, and I typed in a negative value in the dialog box and clicked OK to add it to the order
* Clicked "Recalculate" and n

[2021-04-09 19:44] zhongruige commented on #29636
Hi @bernattorras,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates. Thanks!

[2021-04-09 19:51] roykho commented on #29620
Hi @fradaspa - So this is not something we support here however you can try the following:

[code]

[2021-04-09 19:51] #29620 closed

[2021-04-09 19:56] zhongruige commented on #29581
Hi @Tamim-ul-hasan,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code and plugin related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code and plugin questions. I did

[2021-04-09 19:56] #29581 closed

[2021-04-09 20:11] roykho commented on #25491
Hi all, I believe WC 5.1 has fixed this issue for y'all? If anyone can confirm.

[2021-04-09 20:54] zhongruige commented on #29629
Hi @douglasbentley,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only. I did, however, do a quick search and came across these two plugins which might fit your needs:

* [WooCommerce B2B](https://woocommerce-b2b.com/sales-agents/)
* [AffiliateWP](https://affiliatewp.com/)

Please contact the author of the plu

[2021-04-09 20:54] #29629 closed

[2021-04-09 23:39] foosantos opened #29640 "WooCommerce.com Subscriptions: Improve the UX on the free plugins download"
**Is your feature request related to a problem? Please describe.**

Currently, it is confusing how the free plugins are managed as it only shows a download button without a lot of details. It is like it can't connect and it even looks like a bug from the user's point of view. It looks like the user can't manage or update the plugin (even if they actually can as it will get the updates from WP.org)

[2021-04-10 06:28] wjadevries commented on #25969
Sort of same bug here.
I have a product that's part of a grouped product and has a zero price, and there is no application/ld+json structured data part about the product in the HTML. Google therefore doesn't recognizes it as a product.
A simple product with zero price has product structured data. So it's only when it's part of a group product. The group product itself also doesn't have product str

[2021-04-10 11:39] rodrigoprimo opened #29641 "WC_Product::get_category_ids() always returns an empty list for variation products"
**Describe the bug**

`WC_Product::get_category_ids()` works well for simple products but it always returns an empty list for product variations. Which in a way makes sense as it is not possible to assign categories to product variations, only to the parent variable product. But it can be confusing to third-party developers that the method is available, but always returns an empty list. This has b

[2021-04-10 16:14] DavidAnderson684 commented on #25816
Still exists in WooCommerce 5.1.

[2021-04-10 22:06] masteradhoc commented on #29636
@bernattorras bit more background here.

this query decides if it should show up or not:
https://github.com/woocommerce/woocommerce/blob/66b39c7ec795380f4c8e38c4de670edae9e946ec/includes/data-stores/class-wc-product-data-store-cpt.php#L896

On product edit for a grouped product you dont have an option to make it on sale / deduct the price. this information needs to come from the linked product. Th

[2021-04-10 22:53] strarsis opened #29643 "Low / min stock quantity doesn't allow decimal values"
**Is your feature request related to a problem? Please describe.**
Currently the low / min stock quantity options are converted to absolute integer values, which makes the usage of decimal values impossible. However, these are important for some applications, e.g. using the [WooCommerce Measurement plugin](https://woocommerce.com/products/measurement-price-calculator/) where quantity (elegantly) r

[2021-04-11 08:45] rodel-calasagsag commented on #29004
Thank you @rrennick @tammullen

As discussed in Slack, we'll leave the `can create simple virtual product titled "Simple Product" with regular price $9.99` test as it is, and then probably split or update it in the future when needed.

[2021-04-11 11:24] javeoff opened #29644 "How to manually sort product categories?"
How to manually sort product categories? I found one plugin, but it dont sorting subcategories pls help

[2021-04-11 23:56] WillBrubaker opened #29645 "Wrong out of stock products count"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have s

[2021-04-12 01:49] hwsiew opened #29655 ""wc-admin_import_orders" Cron Jobs Do Not Run"
**Describe the bug**
When orders are created, from both frontend and backend, the wc-admin_import_orders crons job are scheduled but do not run. The analytics reports remain empty.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an order
2. Check 'WooCommerce' -> 'Status' -> 'Schedule Actions' to see if 'wc-admin_import_orders' with the respective order id is scheduled?
3. Reload pag

[2021-04-12 05:41] gerdneuman commented on #29386
Hi @masteradhoc , yeah, this looks good for the `checkout/review-order` template part. Thanks.

[2021-04-12 07:17] starflower commented on #29563
@roykho We set it manually to the database and now it works with value `false`. Thank you!

[2021-04-12 07:17] profmatheuspassos opened #29647 "Auto-update feature disabled in website - no way to turn it on."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-04-12 08:05] rickcys opened #29648 "I cannot update Woocommerce to latest version. It causes my site additional problem"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-04-12 08:06] rickcys commented on #29648
![image](https://user-images.githubusercontent.com/78590540/114361704-058f7c80-9ba9-11eb-80da-46eccc6908d6.png)
Please assist.

[2021-04-12 09:19] rickcys commented on #29647
I am encountering the same problem here. I hope there is an answer here.

[2021-04-12 10:35] fradaspa commented on #29620
Thank you. It worked good :D

[2021-04-12 12:04] fradaspa opened #29649 "/wp-content/themes/woodmart/js/scripts/portfolio/portfolioEffect.js?ver=6.0.2 (canceled)"
Hello guys,
i can see this file js from the home page that goes in 404. Somebody know what to do?

[2021-04-12 12:34] roykho commented on #29563
@starflower - Thanks for confirming. Will be closing this issue now.

[2021-04-12 12:34] #29563 closed

[2021-04-12 12:43] rrennick commented on #29547
@adrianduffell This looks like it will have to wait until the 5.8 beta is released so we have a splash screen to work with. The beta tester plugin won't update in CLI from 5.6.X to 5.7.

[2021-04-12 13:45] #29005 closed

[2021-04-12 14:05] vedanshujain commented on #29614
@Mte90 thanks for the question, I am going to move this woocommerce-admin repo, they are the correct folks to answer this question.

[2021-04-12 14:15] vedanshujain commented on #29625
@lucailvec As per the API document, currently [slug is not available as a filter parameter](https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-product-attributes). As you correctly point out, we do support it for other endpoints though.

I am going to mark this as an enhancement request, and also mark it as a low priority for now (when compared to other high priority bug reports we

[2021-04-12 14:29] vedanshujain commented on #29633
thanks for the report, you are right, looks like we missed this flow when we implemented the reserve stock flow. I am marking this as a bug so we look at this soon-ish.

[2021-04-13 09:04] wayheming commented on #29649
@fradaspa hello you better contact support for your theme (Woodmart)

[2021-04-13 09:08] fradaspa commented on #29649
Hi
There is nothing to do except the author oh the theme?

On Tue, 13 Apr 2021 at 11:04, Wayheming ***@***.***> wrote:

[2021-04-13 09:16] wayheming commented on #29649
@fradaspa looking at the error there is a problem with the theme file

[2021-04-13 09:16] #29003 closed

[2021-04-13 09:31] jonathan-dejong commented on #28720
Hi @juliaamosova ,
Are there any updates on this and wether something needs to happen in WC core to accommodate for this change?
In my opinion this is not extension territory if it affects all or most WC shops operating from the EU.

[2021-04-13 10:38] NenadObradovic opened #29656 "Fatal error: WooCommerce 5.2 and Elementor"
Hello guys,

I updated the latest version of the WooCommerce plugin and when I try to edit any page with Elementor page builder I get a fatal error. Errors only appear when you enabled any Payment methods, in my case I enabled Direct bank transfer.

Error log file:

Warning: Undefined array key "wc-cart-block" in /public_html/wp-content/plugins/woocommerce/packages/woocommerce-blocks/src/Payments/

[2021-04-13 10:43] tammullen commented on #29656
Thanks @NenadObradovic

To help us evaluate this it would will be great if you could share your current System Status Report. You can get it by navigating to the WooCommerce / Status section of your site. Once there, click on the Get system report button and then copy it by clicking on the Copy for support button. Then paste it here in a comment.

[2021-04-13 11:07] NenadObradovic commented on #29656
Hello @tammullen

Sure, I think this is happened because of the PHP version, if you used PHP 8.x (like in my case) you will get a fatal error and otherwise, you will get only notices (I also tested with PHP 7.4).

`
### WordPress Environment ###

WordPress address (URL): http://framework.local
Site address (URL): http://framework.local
WC Version: 5.2.0
REST API Version: ✔ 5.2.0
WC Blocks Version:

[2021-04-13 13:36] tammullen commented on #29656
Re-opening just until we have the corresponding Blocks PR in Core

[2021-04-13 13:53] michylee commented on #28752
Hi!
I haven't installed WooCommerce 5.2.0 yet.

Could it be that they fixed the problem with this version?
Thank you all.

[2021-04-13 13:55] malinajirka opened #29657 "Prices are rounded per line not per item"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When I add a product priced at 12.974 three times into the cart, the total is 38.92 (rounding happens per line not per item)
However, when

[2021-04-13 14:16] sebaskalk opened #29658 "Variable (parent) product stays out of stock, while the variation (child"
Hello,

Wordpress 5.7

WooCommerce version: |   | 5.1.0
-- | -- | --
WooCommerce REST API package: |   | 5.1.0 
WooCommerce Blocks package: |   | 4.4.3 
Action Scheduler package: |   | 3.1.6 
WooCommerce Admin package: |   | Inactive 2.0.2 

I've seen multiple threads and none that helped me.

Ive attached a diagram of the issue, but the title actually explains the core problem. Variable products

[2021-04-13 17:10] DavidAnderson684 commented on #28720
As already stated, WooCommerce has no problems in buyer-location-based taxation. It's the "tax based on" setting, in combination with entering your tax tables correctly.

[2021-04-13 17:17] #29656 closed

[2021-04-13 17:28] MrMarci666 commented on #28720
Hi @DavidAnderson684 , that is true.

However, the EU is going to release a new VAT Package in July, 2021.
Here is the important part: You have to apply the origin VAT, until the net revenue to a country exceeds € 10k
At this point, from this moment, the next order should have the Destination VAT. This is like the dumbest idea in my opinion, but here we are. 👯

I also think that this should be sol

[2021-04-13 18:17] frosso opened #29662 "feat: add gateway disable confirmation mechanism"
## Is your feature request related to a problem? Please describe.
As part of the WooCommerce Payments redesign, there's a need to display a confirmation dialog when the WC Pay payment method is disabled: paJDYF-1cQ-p2#disable-wcp
The team explored a possible solution with a spike: https://github.com/Automattic/woocommerce-payments/issues/1432 . We weren't able to find a "native" way to hook into t

[2021-04-13 19:50] neilmispelaar opened #29663 "Public Headless Read Only API Mode"
# Public Headless Read Only API Mode

**Is your feature request related to a problem? Please describe.**
When building out front end web applications and storefronts, it's really great to have access to read only APIs that don't require a client key or secret as we can't store them securely in a VueJS / React type of front end application.

Since the woocommerce REST APIs require a client key and

[2021-04-13 19:54] seb86 commented on #29663
Have you tried looking at [CoCart](https://wordpress.org/plugins/cart-rest-api-for-woocommerce/) @neilmispelaar ?

[2021-04-13 20:40] #29416 closed

[2021-04-13 21:16] neilmispelaar commented on #29663
Thanks Seb - I had a quick look at the CoCart document and it only provides cart functionality (for example: you can't get product information out of CoCart).

[2021-04-13 21:26] seb86 commented on #29663
It's under CoCart Add-ons @neilmispelaar

[2021-04-13 21:49] designsimply opened #29664 "REST API: consider updating the API to support non-integer stock quantities"
The WooCommerce Core API only supports stock quantities with `Int` or `nil` values. However, certain third-party extensions can enable decimal (non-integer) stock quantities and this caused the Products screen to break in the mobile apps.

#### Bug Description & Current Workaround

In the WooCommerce mobile apps, we found that if any product had a decimal stock quantity then none of the products w

[2021-04-13 21:54] designsimply commented on #27375
@juliaamosova I filed a very similar issue at https://github.com/woocommerce/woocommerce/issues/29664 before finding this one. Should I close 29664 as a duplicate?

[2021-04-13 22:31] juliaamosova commented on #27375
@designsimply yep, closing 29664 as duplicate sounds great! However, feel free to bring up some of your points to this issue as a comment if you feel like it can be helpful.

[2021-04-13 23:42] zhongruige opened #29665 "Re-open issue that has a comment after it was closed with the can't reproduce label"
If an issue is closed with the `can't reproduce` label and a comment is left afterwarrd, re-open the issue with the `has feedback` label.

[2021-04-13 23:46] zhongruige opened #29666 "Investigate consistent failures on WooCommerce Orders > Search orders tests"
We're seeing consistent failures on the `WooCommerce Orders > Search orders` tests as well as some flakiness on others (this can be reproduced by running the entire suite locally on `trunk):

[code]

See also related discussion here: p1618337982018300-slack-C0E1AV8T0

[2021-04-14 01:07] johndcoy commented on #29553
Hi @gglobalstep

Thanks for getting back with us! I was able to import the provided CSV and it works as expected:

![Screenshot](https://d.pr/i/r6NlXe+)
Screenshot link: https://d.pr/i/r6NlXe

However, I did this a few times more and was able to replicate it once out of 5 times. After completing the wizard importing products fails to load `/wp-admin/admin-ajax.php`

![Screenshot](https://d.pr/i/Cz

[2021-04-14 06:46] digitalw commented on #27519
The issue seems to still be in WC 5.2.0 any news on this?

[2021-04-14 07:27] Daniel-MultiSafepay commented on #29633
Hello @vedanshujain and @eopws.

Thank you both for check and confirm this bug.  I am pretty sure it will be something easy to fix.
Hopefully we will see progress about this on the next release.

Thanks.

[2021-04-14 08:16] webdados commented on #29206
As much as the inclusion of Portuguese states (known as Distritos) are welcomed, there's something I think should be well thought before releasing this to production:

- There's already a very well established plugin that adds the Portuguese Distrito to WooCommerce: https://pt.wordpress.org/plugins/portugal-states-distritos-for-woocommerce/ (disclaimer: I'm the author) and the addition of the dist

[2021-04-14 08:20] webdados commented on #29206
Although Portugal has different taxes in Madeira and Azores, the tax should be charged based on the store address (State = District) and not based on the customer address, so it makes no sense to set taxes based on the district because if the store is based on the mainland you will charge that tax to mainland, Madeira or Azores customers. The same happens if the store is on the islands and you're

[2021-04-14 09:21] webdados opened #29667 "The inclusion of the Portuguese States (Distritos) in 5.2.0 can potentially break 4000+ websites"
A user opened issue #29206 requesting the addition of the Portuguese states (known as Distritos) on the WooCommerce core, with the argument it needs to be used for taxes.

Never a Portuguese store owner had this problem in years and years of WooCommerce existence because this problem does not exist. There are in fact different taxes in the mainland and the islands but the Portuguese tax law states

[2021-04-14 09:48] pedro-mendonca commented on #29667
This is a real concern, as currently most of the Portuguese WooCommerce shops uses the States data from [Portugal States (Distritos) for WooCommerce](https://wordpress.org/plugins/portugal-states-distritos-for-woocommerce/).

This really **should** be reverted (https://github.com/woocommerce/woocommerce/commit/5b274fda874607e0334f54f75d768b727effe780) and reconsidered against the currently existen

[2021-04-14 10:37] IulianSz commented on #27154
Hi there. The issue is still here, i just update to Woocommerce 5.2.0. The issue is is not present when adding products to an order, just when user want to grant access to an extra product. Please see the issue screenshot below.

![issue](https://user-images.githubusercontent.com/16861736/114696685-9db27080-9d25-11eb-9dc1-0f622191c082.jpg)

After that the product can't be activated for download an

[2021-04-14 11:38] kb6673 opened #29668 "Incorrect "Your theme contains outdated copies of some WooCommerce template files" message"
The "Your theme contains outdated copies of some WooCommerce template files" message appears to be showing incorrectly.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

We have a custom

[2021-04-14 11:52] alalimoe commented on #27424
Still broken

[2021-04-14 12:24] dmvrtx commented on #23802
Re-opening it as #24010 was closed without resolving the issue.

[2021-04-14 12:24] idjego opened #29669 "Problem select Product Type Android Tablet"
hi, i have a problem with woocommerce when selecting the product type. From a computer it works perfect, but from an android tablet in a horizontal position it does not work. I see the selector, but pressing it does nothing and does not allow me to create what type of product I want to make.

https://ibb.co/GkSjp7J

Original post: https://wordpress.org/support/topic/problem-select-product-type/#po

[2021-04-14 12:39] givik opened #29670 "Payment method not saving Georgian language characters."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I want to set the Title and Description of the payment method in the Georgian language but it does not work.

**Expected behavior**
To chan

[2021-04-14 12:56] gumbapt commented on #29667
The issue #29206 specifically states that he needs that to use in district taxes in... Portugal? Like Webdados explained, we don't use that in Portugal so I wonder what was the original requester was talking about.

At very least, it should use the same keys if not reverted.

[2021-04-14 13:03] dangoriaynov opened #29671 "It would be totally awesome to see the orderID which is displayed in UI not internal one"
I have installed the "WooCommerce Sequential Order Numbers" extension (https://docs.woocommerce.com/document/sequential-order-numbers/)
It allows having sequential order numbers instead of ones provided by Wordpress.
This helps and UI everything works fine. However when I receive the notification in Slack - I still see some unrelated numbers.

AFAIK you should take the order number using following

[2021-04-14 14:31] MarcosCoelho234 commented on #29667
I have three Portuguese stores with Woocommerce and I cannot upgrade to 5.2.0 for the reason mentioned by @webdados.

The latest update will have a **negative impact on all Portuguese stores**.

[2021-04-14 14:34] gglobalstep opened #29673 "[GlobalStep] Font is too large for "Email Address" and "Phone Number" displayed under "Billing Address" on "My Account->Addresses/Subscriptions" page for "Twenty Twenty One theme"."
## Bug Description:
Font is too large for "Email Address" and "Phone Number" displayed under "Billing Address" on "My Account->Addresses/Subscriptions" page for "Twenty Twenty One theme"

## Environment:
Woocommerce Version: WooCommerce 5.2 and 5.1
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 87.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Cr

[2021-04-14 14:44] vedanshujain commented on #29667
@webdados looks like this was an unintentional change that was slated for 5.3. We will be soon releasing a fix release 5.2.1 which will not have this change.

For now, we will also revert the change for 5.3, but we do need to be consistent with CLDR notation.

[2021-04-14 15:31] webdados commented on #29667
You can update, but if you deactivate the Distritos plugin all your orders, addresses and settings related to the Portuguese districts will lose that information.

[2021-04-14 15:34] webdados commented on #29667
Hi @vedanshujain thanks for your reply.

I understand the need to be consistent with the CLDR notation, but back when I developed the plugin (7 years ago), no country in WooCommerce had its states defined with that notation, as we can easily see in the current codebase.

So to be clear:
- 5.2.1 will remove the "Portuguese states"
- 5.3.0 will reinstate this change
Is that it?

[2021-04-14 15:46] ldr2273 commented on #23802
Thanks! Doesn't look like the issue actually re-opened, so doing so now.

[2021-04-14 15:56] vedanshujain commented on #29667
@webdados
The current plan is:
1. 5.2.1 will remove the "Portuguese states"
2. 5.3.0 will "revert" this change, so it won't have it either

but we are also discussing internally if there is a good way to go about these changes and (most likely) discuss that publicly as well on the dev blog.

[2021-04-14 16:10] rrennick commented on #25958
I think we have more or less addressed this issue in https://github.com/woocommerce/woocommerce/blob/trunk/tests/e2e/config/default.json while adding REST API tests.

[2021-04-14 16:10] #25958 closed

[2021-04-14 16:10] webdados commented on #29667
Still not sure about the difference of "removing" on 5.2.1 and "reverting" on 5.3.0 :-D
I guess I'm missing something here.

Anyway, first of all, thanks for being quick on addressing this potential problem for 4000+ shops in Portugal.

Regarding the future, and because the discussion is public, taking into consideration that 1) the district is not part of the Portuguese postal address format and

[2021-04-14 16:34] rrennick opened #29674 "api package version 0.3"
This is the parent issue for features we need to add to the api package to provide full support to the rest api

- [ ] [Order refunds](https://github.com/woocommerce/woocommerce/issues/29292)
- [ ] [Order Notes](https://github.com/woocommerce/woocommerce/issues/31776)
- [ ] [Batch](https://github.com/woocommerce/woocommerce/issues/29570)
- [ ] [Customers](https://github.com/woocommerce/woocommerce

[2021-04-14 17:09] rrennick opened #29675 "Move deleteAllProducts/Coupons usage"
Prior to moving the E2E tests to a npm package each of the tests was in a separate file. The jest setup script removes all products and coupons before each test file.

In the next couple months we will be creating single test scripts that run a large number of tests. For these tests to be more reliable we need to update individual tests to remove data that might interfere with the test. For exampl

[2021-04-14 17:29] rrennick opened #29676 "API bug template"
We need to add a bug template for reporting issues related to the api to collect information that is specific to the API.

[2021-04-14 17:32] rrennick opened #29677 "Move test utility functions to utility package"
In the process of creating E2E tests, we have created some utility functions that might be useful for writing test in other projects. These function should be move to the utilities package.

[2021-04-14 17:57] rrennick opened #29678 "Implement describe.each where appropriate"
There are several tests that repeat the same test steps with different data (eg. order search). We should update these tests to use `describe.each()` to reduce the code size and ensure consistency among each set of tests.

[2021-04-14 17:58] jrick1229 opened #29679 "Unable to add downloads to orders in admin dashboard"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When trying to manually add a downloadable product to an order (download, not the product line item) in the 'Downloadable product permissi

[2021-04-14 18:01] bulgaru opened #29680 "Locked out of the backend after the latest WooCommerce update"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-04-14 18:02] jrick1229 commented on #29679
3908691-zen

[2021-04-14 18:11] bulgaru commented on #29680
For all those seeking a solution - simply reverting the /wp-content/plugins/woocommerce/packages/woocommerce-admin/src/Features/Navigation/Menu.php to the previous version helped solve the issue.

[2021-04-14 19:16] WPprodigy opened #29682 "Ensure cron events are registered"
WC core recurring cron events are registered during the install process here: https://github.com/woocommerce/woocommerce/blob/23710744c01ded649d6a94a4eaea8745e543159f/includes/class-wc-install.php#L512

This is a bit different from how this is usually done across the WP eco-system, where you more commonly see something like this:

[code]

The positive to the latter option is that should the `cron`

[2021-04-14 20:03] phillipcornwell commented on #28364
@claudiosanches This issue seems to be occurring in v5.2.1 now. Should this be reopened?

29016818-hc

[2021-04-14 20:21] tammullen commented on #29680
Hi @bulgaru

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

With only WooCommerce 5.2.1 and Jetpack  9.6.1 installed I can access wp-admin with no issues.
​
Please confirm again if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to

[2021-04-14 20:54] tammullen commented on #29679
Hi @jrick1229 ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![Screenshot 2021-04-14 at 21 37 44](https://user-images.githubusercontent.com/24649833/114777663-cc533a00-9d6b-11eb-8d8a-9a7db0945156.png)
I confirmed this works in 5.1.0

![Screenshot_2021-04-14_at_21_47_51](https://user-images.githubusercontent.com/24649833/114777594

[2021-04-14 20:57] tammullen commented on #29679
I think this might be due to the a [fix](https://github.com/woocommerce/woocommerce/pull/29631) included in 5.2.1 for [this PR](https://github.com/woocommerce/woocommerce/pull/23188) which is not in 5.2.1 and is milestoned for 5.3.0

[2021-04-14 21:17] tammullen commented on #29668
Hi @kb6673

The latest version is actually here
https://github.com/woocommerce/woocommerce/blob/trunk/templates/checkout/review-order.php

Can you try again with that version?

[2021-04-14 21:45] guicmazeredo opened #29686 "Existing download permissions get lost after updating products via CSV import"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After updating a downloadable product via CSV import as per these instructions, customers that had already purchased the existing downloada

[2021-04-14 22:09] bulgaru commented on #29680
@tammullen,

Yes, all the troubleshooting steps were taken. Unfortunately the website is in production and is hosted on Siteground, which tends to throw in its caching mechanisms. I will try to test it more accurately in 8 hours. At the same time, please confirm that we're seeing the same thing on the lines 271-273 of the Menu.php file:

[code]

Maybe the server error reporting differs, but it app

[2021-04-14 22:09] #28485 closed

[2021-04-14 22:18] bulgaru commented on #29680
@tammullen
I will try running more tests tomorrow. It might be an issue related to how the Siteground server is configured. It is suspicious that the page crashed with only php warnings. I will report back on the findings.

[2021-04-14 22:24] zhongruige commented on #29686
Hi @guicmazeredo,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

* I created a downloadable product:

<img width="1062" alt="Screen Shot 2021-04-14 at 4 23 16 PM" src="https://user-images.githubusercontent.com/71906536/114787900-bdee2980-9d3d-11eb-9478-50391b921c82.png">

* I purchased the product as a test customer and verified it

[2021-04-15 00:08] MaximG1234 commented on #29680
I can confirm that we appear to have two sites that were probably taken down by the latest update.

[2021-04-15 05:54] danieleperilli commented on #26764
Any update? Thanks.

[2021-04-15 06:38] AccuPixel commented on #29339
Monitored...working as intended.

Big thank you to @Bossman1337 for getting to the bottom of this one.

[2021-04-15 06:38] #29339 closed

[2021-04-15 07:15] ACronwerk opened #29689 "Putting the schema file in the plugin directory will improve security and performance"
WooCommerce uses an insecure protocol to access the schema file dozens of times at http://json-schema.org/draft-04/schema#. This badly slows down the site and makes it vulnerable to a man-in-the-middle attack.
Maybe it’s better to put the schema file in the plugin directory?
I did this on my site by changing the WooCommerce code, and the product pages started opening much faster.
And so does Rank

[2021-04-15 07:57] tai-flywire opened #29690 "Displaying errors in process_admin_options still shows message that settings are saved"
I am developing a custom payment gateway and want to implement custom field validation for the settings page.  I overrode the `process_admin_options` method for my gateway subclass which will check if a validation method exists for a given settings field and, if it does, run it.  The validation method will throw an exception if it fails validation.

So far, I am just forcing an exception to test a

[2021-04-15 08:20] glagonikas commented on #27611
@tammullen Thanks for pointing to the docs. Is there a roadmap on changing this (as mentioned in the docs)?

On stores that add prices including tax, it's quite confusing having to enter just the shipping costs excluding tax.

[2021-04-15 08:57] kkmuffme commented on #29671
This is not a bug with woocommerce, but with the sequential order numbers plugin. Please contact support at woocommerce.com

[2021-04-15 09:29] tammullen commented on #27154
Hi @IulianSz

This is likely related to this issue https://github.com/woocommerce/woocommerce/issues/29679

[2021-04-15 09:39] isaklafleur commented on #29668
I verified what code has been updated and I can only see this part.

5.2.0
`<?php echo wp_kses_post(apply_filters('woocommerce_cart_item_name', $_product->get_name(), $cart_item, $cart_item_key)) . '&nbsp;';`

`<?php echo wp_kses_post(apply_filters('woocommerce_cart_item_name', $_product->get_name(), $cart_item, $cart_item_key)) . '&nbsp;'; ?>`

3.8.0
`<?php echo apply_filters('woocommerce_cart_it

[2021-04-15 09:39] LarissaBrink commented on #28852
Can somebody tell me what the solution of this problem is? I also have this problem and no matter what I try, I still have the amount instead of the text. I'm getting crazzzzy :S

[2021-04-15 09:59] tammullen commented on #29668
Thanks @isaklafleur, just to confirm does this solve your issue and there doesn't appear to be a bug?

[2021-04-15 10:10] kb6673 commented on #29668
This looks like my error. My apologises - I was looking in the wrong branch.

[2021-04-15 10:10] #29668 closed

[2021-04-15 11:41] roulag commented on #29658
It's possible I am having the same issue. I updated to the latest version today.

The variable products do show as IN STOCK in the Dashboard Products section but OUT OF STOCK on the front end with a message: This product is currently out of stock and unavailable.
Any fixes?

[2021-04-15 14:46] gglobalstep opened #29695 "[GlobalStep] "Close icon/Checkbox" is non-functional for "Filter Products By Attribute" widget with "List" display style."
## Bug Description:
"Close icon/Checkbox" is non-functional for "Filter Products By Attribute" widget with "List" display style.

## Environment:
Woocommerce Version: WooCommerce 5.2.2 and 5.1
WordPress version: (v5.7)

**PC:**
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 87.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and act

[2021-04-15 14:53] cabrerahector commented on #28364
Well, according to their [Milestones](https://github.com/woocommerce/woocommerce/milestone/179?closed=1) the fix won't be available until May 11 when the WC team will release version 5.3.0. That's why the issue is still present with version 5.3.1 @philipdowner.

I guess this issue won't be reopened as it has been already fixed. It's the patch that won't be shipped to the official WP repository jus

[2021-04-15 14:53] gglobalstep opened #29696 "[GlobalStep] "Fatal error: Uncaught WC_Data_Exception:" is displayed when user tries to allow backorders with edit bulk action on products including with "Affiliated/External Product" on "All Products" Page."
## Bug Description:
"Fatal error: Uncaught WC_Data_Exception:" is displayed when user tries to allow backorders with edit bulk action on products including with "Affliated/External Product" on "All Products" Page

## Environment:
Woocommerce Version : WooCommerce 5.2.2 and 5.1
WordPress version: (v5.7)

**PC:**
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 87.0)
Safari: v13.

[2021-04-15 14:57] gglobalstep opened #29697 "[GlobalStep] For "Twenty Twenty One" theme, Content appears misaligned on Cart page for Multiple variable products."
## Bug Description:
For "Twenty Twenty One" theme, Content appears misaligned on Cart page for Multiple variable products.

## Environment:
Woocommerce Version : WooCommerce 5.2.2 and 5.1
WordPress version: (v5.7)

**PC:**
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 87.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate

[2021-04-15 15:00] gglobalstep opened #29698 "[GlobalStep] Product count fails to update for "Out of Stock" section on WooCommerce Status widget."
## Bug Description:
Product count fails to update for "Out of Stock" section on WooCommerce Status widget if the "Manage stock" option is disabled under product settings.

## Environment:
Woocommerce Version : WooCommerce 5.2.2 and 5.1
WordPress version: (v5.7)

**PC:**
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 87.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any

[2021-04-15 15:09] loranallensmith commented on #29004
We updated the title from virtual to simple here.

[2021-04-15 16:12] helgatheviking commented on #29657
What's your setting for rounding taxes?

Settings > Taxes
"Round tax at subtotal level, instead of rounding per line"
![image](https://user-images.githubusercontent.com/507025/114902323-f3912200-9dd2-11eb-82cd-254073557b5c.png)

As far as I know, that's the only setting Woo has for controlling rounding. Which means it's not even an option if taxes are disabled. Perhaps Woo could use a separate set

[2021-04-15 16:38] malinajirka commented on #29657
I have the "Round tax at subtotal level, instead of rounding per line" disabled.
<img width="515" alt="Screenshot 2021-04-15 at 10 21 12" src="https://user-images.githubusercontent.com/2261188/114903791-618a1900-9dd4-11eb-8e73-c680b2a2c9a1.png">

I find it a bit unexpected that the default is "round per line" and not "round per item". I'm not sure if rounding per line is ever the desired behavior

[2021-04-15 18:57] senff opened #29700 "Status of variable product variations: nconsistencies between import/export"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When making an export of products, a Variable Product that is set to `Draft` will have value `-1` in its "Published" column.
It's children

[2021-04-15 20:11] phillipcornwell opened #29701 "WooCommerce → Customers page requires two searches for customer data to load."
**Issue**

When searching for a customer in "WooCommerce → Customers" it is necessary to search for a customer twice before they show up in the search results. They have a DB mismatch too but we couldn't get that fixed. They are working with their host on that. My system shows the same behavior with WC 5.2.1

**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out tro

[2021-04-15 20:11] phillipcornwell commented on #29701
Reported in 17535522-hc

[2021-04-15 20:59] tammullen commented on #29696
Hi @gglobalstep

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I selected a variety of product types including external products and selected to allow backorders
![Screenshot 2021-04-15 at 21 19 15](https://user-images.githubusercontent.com/24649833/114936806-d3924a80-9e34-11eb-9a8a-06fed91240cd.png)

Pressed update and got error `

[2021-04-15 21:11] tammullen commented on #29695
Hi @gglobalstep

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27801. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-04-15 21:11] #29695 closed

[2021-04-15 21:20] #29420 closed

[2021-04-15 21:51] jeremyfelt commented on #29428
Agreed! :)

And agreed!

[2021-04-15 21:58] ObliviousHarmony commented on #29427
After reviewing this with the team we have agreed that this is the expected behaviour, as per @nerrad's comment.

[2021-04-15 21:58] #29427 closed

[2021-04-15 22:14] ObliviousHarmony commented on #29264
Hi @GlennMartin1 ,

Thank you for taking the time to report this bug, we really appreciate your help.

After reviewing the issue with the team, we agree that the selector in these themes is too greedy.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our pl

[2021-04-15 22:21] ObliviousHarmony commented on #29433
Hello @wayheming,

There are currently no plans to remove the jQuery dependency from our existing JavaScript. We are currently developing [WooCommerce Blocks for the customer experience](https://wordpress.org/plugins/woo-gutenberg-products-block/), as well as [WooCommerce Admin for the merchant experience](https://wordpress.org/plugins/woocommerce-admin/)

[2021-04-15 22:21] #29433 closed

[2021-04-16 06:17] wayheming commented on #29433
@ObliviousHarmony thank you

[2021-04-16 07:42] vedanshujain commented on #29689
@ACronwerk would you be open to send in a PR with the changes you did? We use that defination to describe the JSON structure we adhere to in our APIs, and I was under the impression that we don't actually ever call that file. If we are accessing that file and slowing down the site because of it, then yeah we really need to  store it locally.

[2021-04-16 08:03] solstudioim commented on #29679
Affected user with similar user 3882438-zen

[code]

[2021-04-16 08:33] canguroenglish commented on #29521
I have already spoken to Elementor support and they have confirmed that this is a WooCommerce problem. Even if it is a compatibility issue I suspect it's still something you want to look at given that Elementor is installed on millions of site with WooCommerce.

[2021-04-16 08:38] PetrusVermaak commented on #27424
Still broken on woocommerce 5.2.2

https://prnt.sc/11i6obc
https://prnt.sc/11i6pdj

[2021-04-16 09:54] ACronwerk commented on #29689
Hi!

In 92 (!) woocommerce files I changed the address
http://json-schema.org/draft-04/schema#
to the address
/wp-content/uploads/api/schema.

I changed them in Debian application regexxer. I found all theese files
with Mate Search tool.

I have downloaded file schema from
http://json-schema.org/draft-04/schema#
and put it in
/wp-content/uploads/api/schema.

Foe example, in class-wc-rest-shipping-

[2021-04-16 10:44] Konamiman commented on #29679
Fixed in https://github.com/woocommerce/woocommerce/pull/29691 and released in WooCommerce 5.2.2

[2021-04-16 10:44] #29679 closed

[2021-04-16 11:24] #29499 closed

[2021-04-16 13:02] harmancheema93 commented on #8775
Hi,
I want to implement same functionality where I can add sal price greater then regular price, If I do it forcefully then Woocommerce cart not let me add that product in cart. Any solution for this update?

Thanks.

[2021-04-16 15:09] roykho commented on #28352
Hi @chyvak1831 - sorry for the very late reply here. That setting you see is more or less for the frontend. Because if you have `manage_woocommerce` capability as the user, then you should be able to add comments regardless of if you're the verified owner or not because you have access to admin only areas etc. Normal users without the right capabilities would not be able to access the product itse

[2021-04-16 15:09] #28352 closed

[2021-04-16 15:19] chyvak1831 commented on #28352
@roykho I mean that any user may leave review - just needs to submit form, even if this setting enabled.
Because this setting has no backend validation.

[2021-04-16 15:22] roykho commented on #28352
Where exactly do they go to leave the review? Can you provide steps to reproduce this issue? Normal users don't have access to products settings.

[2021-04-16 15:32] chyvak1831 commented on #28352
@roykho please check attached video: I'm unlogged, theme twentytwentyone - displays msg "Only logged in customers who have purchased this product may leave a review."

But I can to simply copy-paste form and send without any problem and review appears - because it has no validation on backend.

https://user-images.githubusercontent.com/11210100/115048315-1b22e000-9ee2-11eb-8c7f-816979453f20.mp4

[2021-04-16 15:34] chyvak1831 commented on #28352
@roykho please check attached video: I'm unlogged, theme twentytwentyone - displays msg "Only logged in customers who have purchased this product may leave a review."

But I can simply copy-paste form and send without any problem and review appears - because it has no validation on backend.

https://user-images.githubusercontent.com/11210100/115048465-43124380-9ee2-11eb-9012-3a20c968946a.mp4

[2021-04-16 15:58] roykho commented on #28352
@chyvak1831 - thanks for the additional information however I can't reproduce it. This is what I see after using your steps ![](https://d.pr/i/dFCADI+)

Are you using latest WC version?

[2021-04-16 16:06] chyvak1831 commented on #28352
@roykho ah yes, on latest version all ok, just updated I'm getting the same.
It's actual for 4.8x versions... when I've opened this issue was version 4.8x, it seems that it was already fixed in latest versions :-)

[2021-04-16 16:08] roykho commented on #28352
@chyvak1831 - ah no worries, all good. Our fault for getting to this late. Thanks for reporting!

[2021-04-16 16:21] #29680 closed

[2021-04-16 16:31] mcecilias opened #29703 "Hi! I can't All Users in order to delete some."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-04-16 18:26] loranallensmith opened #29705 "The setup script for unit testing fails to install WordPress libraries if Subversion is not pre-installed"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If you run the [`install.sh`](https://github.com/woocommerce/woocommerce/blob/d79e86932be840e135113f8e2cbb3f6a9e60bab2/tests/bin/install.sh

[2021-04-16 19:40] tammullen commented on #29648
Hi @rickcys ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2021-04-16 19:45] tammullen commented on #29644
Hi @javeoff,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt

[2021-04-16 19:45] #29644 closed

[2021-04-16 19:55] tammullen commented on #29647
Hi @profmatheuspassos

This was previously reported here https://github.com/woocommerce/woocommerce/issues/29460 and then fixed in WooCommerce 5.2.

Can you confirm which version of WooCommerce you are using?

[2021-04-16 19:56] tammullen commented on #29649
Hi @fradaspa

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by the 3rd party theme Woodmart.
​
Please contact the author of the theme directly for further help.

[2021-04-16 19:56] #29649 closed

[2021-04-16 20:23] #29415 closed

[2021-04-16 20:34] mmtomm commented on #28720
Hi,

another aspect which may need to be considered for this issue.

Let's face following circumstances:

Shop base is Austria (i.e. 20% tax)
Customer billing address is Germany (i.e. 19% tax)
Customer shipping address is Austria

Because the order does not leave Austria, a 20% VAT has to be applied although the billing address is Germany (Ziellandprinzip / destination country principle).
In this

[2021-04-16 20:48] ObliviousHarmony opened #29707 "CLI Command Initializes REST API Unnecessarily"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After investigating #29428, we learned that the plugin initializes the REST API for its CLI command. This can lead to some strange consequences,

[2021-04-16 20:48] ObliviousHarmony commented on #29428
@jeremyfelt I've created a new issue for tracking that specific defect.

[2021-04-16 20:48] #29428 closed

[2021-04-17 01:40] #29648 closed

[2021-04-17 02:16] HiroHopper opened #29708 "New filter to permanently delete tax classes"
Dear Woocommerce professionals,

after every major Woocommerce update the usual tax classes “Zero Rate”, “Reduced Rate” etc. are set again in admin backend. So far I have always removed them manually in the settings. It would be great if you could add a feature or filter to permanently remove the unwanted tax classes.

**Steps to reproduce the "problem":**

1. install an older version of woocommer

[2021-04-17 06:48] ninetyninew commented on #29535
Not stale

[2021-04-17 11:45] abhishek-pokhriyal opened #29709 "[Admin Settings] Select all does not work after Select none"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In the WooCommerce admin setting (`wp-admin/admin.php?page=wc-settings&tab=general`), there is a **Sell to specific countries** setting. Be

[2021-04-17 12:11] tammullen commented on #29669
Hi @idjego ,

Thank you for taking the time to report this bug, we really appreciate your help. 

I can reproduce not being able to change the **Product Type** on the **Add New Product** screen on my end using devices with an older version of Android (Version 5.1 or older).

<img width="1398" alt="Screenshot 2021-04-17 at 13 08 31" src="https://user-images.githubusercontent.com/24649833/115112582-

[2021-04-17 12:54] tammullen commented on #29703
Hi @mcecilias

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2021-04-17 12:59] tammullen commented on #29640
Hi @felipelousantos

Thank you for taking the time to share this idea, we really appreciate your help.
​
While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.
​
Stay tuned for updates.

[2021-04-17 13:12] tammullen commented on #29671
Hi @dangoriaynov

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by the 3rd party plugin WooCommerce Sequential Order Numbers.
​
Please contact the author of the plugin directly for further help.

[2021-04-17 13:12] #29671 closed

[2021-04-17 13:13] tammullen commented on #29690
Hi @tai-flywire

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help fur

[2021-04-17 13:13] #29690 closed

[2021-04-17 14:29] ACronwerk commented on #29689
May be I am wrong, I am not a programmer. But my site greatly accelerated after my changes.
To make PR for 92 files is too time-consuming. I gave 1 example and a method for finding all the other files. (see below)

[2021-04-17 14:45] Jonofat opened #29710 "Getting 401 error placing order via REST API"
I have generated my consumer key and secret in the WordPress backend and am attaching it to my post request but I still get a 401 error when trying to place the order.

Here is an example

[code]

[2021-04-17 16:34] EdithAllison commented on #24641
Hi Woo team! I've created a pull request for this request. I appreciate it's low priority but I can't see any conflicts, so I've gone ahead and done a PR https://github.com/woocommerce/woocommerce/pull/29711 . I'd be grateful if you can consider including this PR in a future version.

[2021-04-17 16:54] chyvak1831 commented on #29433
@ObliviousHarmony could you please explain how "woocommerce blocks" related to jquery dependencies?
is this means that in future, when all will be rebuild into block - it already will be without jquery?

[2021-04-17 18:12] EdithAllison commented on #29657
From a customer perspective, 12.974 displays as 12.97, so the expected price for 3 items would be 12.97 x 3 = 38.91. Whilst I don't expect customers to complain over 0.01 it does look like an error as the actual full price of 12.974 isn't visible to the customer in the shop. I agree that rounding per item would be better. I'd see it as bug, so I'd expect the current setting to be changed from "per

[2021-04-17 21:56] DavidAnderson684 commented on #29708
I wouldn't recommend removing the 'zero rate' class. Some extensions use it as the way of removing taxes (e.g. VAT exemption). Why is its existence considered a problem? ~20 bytes wasted compared to a theoretical perfect efficiency in the database? Something else?

[2021-04-17 22:53] ljgarnes opened #29712 "Undefined Index"
I'm getting an error on the backend of the Dashboard

I used xyz to protect the client.

Notice: Undefined index: 00 in /home/customer/www/xyz.com/public_html/wp-includes/class-wp-locale.php on line 287

I have all Plugins and Wordpress updated.  If I disable woocommerce plugin it goes away.  I disabled them all and one by one woocommerce triggers it... I see an error in the log file too.

2021-04