[2020-08-25 04:40] Karikari1234 commented on #27464
I figured out that ids that don't have any item in it doesn't display thumbnails, the hide_empty is set to 1 by default. `[product_categories ids="tag_ID" hide_empty="0"]` displays the required category thumbnail.

[2020-08-25 04:40] #27464 closed

[2020-08-25 04:53] taewookim commented on #27267
Thanks for the update.

Does this plugin currently support buyable pins? If not, when is the ETA?

[2020-08-25 05:46] ben72 commented on #27264
Thanks! I'm no longer able to reproduce the issue it seems.

[2020-08-25 05:46] #27264 closed

[2020-08-25 06:30] mensmaximus commented on #27467
Imho paypal standard should be phased out because the interface does not get any support from paypal anymore. Any issus with paypal standard in the past 24 month could be solved by replaincg it with the new paypal checkout gateway.

[2020-08-25 06:44] mensmaximus commented on #27463
I have to report the contrary. The admin message bug has been a constant companion for a few month. Different sites showed different effects which alll have been reported. With the update to 4.4 i noticed the messages finaly disapeared after a few clicks on the thank you button on all those sites. On the affected sites i also noticed the upgrade process took longer. However all sites look fine now

[2020-08-25 09:44] wzpsolutions commented on #27026
We became aware of the problem through a new customer and have created a support ticket at https://wordpress.org/support/topic/urgent-wrong-calculation-of-tax/. The customer is using version 3.7.0. An update to the latest version did not change anything. The problem certainly affects all WooCommerce installations worldwide. We hope you fix this really soon. Thanks!

[2020-08-25 10:53] putheng commented on #27157
I have the same issue

[2020-08-25 12:49] #27305 closed

[2020-08-25 13:10] mensmaximus opened #27471 "Decimal point for input fields of type decimal"
WooCommerce is using the settings for the decimal point from the currency options only for woocommerce_wp_text_input() with type 'price'. For the type 'decimal' woocommerce relies on the php settings. So even if wordpress is set to a language that uses a comma instead of a dot as decimal point a user has to use a dot e.g. in the weight field on the shipping section of a product. Frequently this le

[2020-08-25 13:26] tanmoy-web opened #27472 "Fatal error uncaught error call to a member function get_price() on null on WooCommerce"
HI,
I am using Flatsome theme with WooCommerce and I am working on WooCommerce API calls.
For Orders and Customers, it is working perfectly.
However, I get this error for Products:

**fatal error uncaught error call to a member function get_price() on null in home/xxx/public_html/wp-content/plugins/woocommerce/inc/wc-products-functions.php 1046.**

**I have added the following code in this file lo

[2020-08-25 13:29] #27413 closed

[2020-08-25 13:42] #27467 closed

[2020-08-25 13:50] chyvak1831 opened #27474 "Class "class-wc-widget-price-filter.php" version"
Since version WooCommerce 2.3.0 this file
`woocommerce\includes\widgets\class-wc-widget-price-filter.php`
get a lot updates, but at top of file still present
` * @version  2.3.0`
I'm not sure - is this ok or version of this file had to be changed with each update...?

[2020-08-25 14:04] pmcpinto commented on #26173
@rrennick just a heads that Joshua already merged the [PR](https://github.com/woocommerce/woocommerce-admin/pull/4999) in the WC Admin side. So this screen will be removed in 4.6, correct?

[2020-08-25 14:18] #27436 closed

[2020-08-25 14:20] tammullen commented on #27472
Hi @tanmoy-web

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help fu

[2020-08-25 14:20] #27472 closed

[2020-08-25 14:21] rrennick opened #27475 "Regenerate Image endless loop"
The regenerate image request class filters the WP core `intermediate_image_sizes` in https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-regenerate-images-request.php#L125. Our filter returns the result of a filter `woocommerce_regenerate_images_intermediate_image_sizes`. If another plugin calls a core function that applies the core filter in our filter it creates an endless f

[2020-08-25 14:54] m155y commented on #25243
This issue is now occurring on admin accounts after updating to WooCommerce version 4.4.1.

[2020-08-25 14:57] abdelhakim-atmani opened #27476 "No access to the woocommerce page from the admin console"
After updating the plugin to Version 4.4.1.

When logged in as an admin user and I click on the woocommerce link in the left menu it displays the source code.

[2020-08-25 15:08] strarsis opened #27477 "[Admin UI] Product attributes handle (triangle) not aligned"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The product attributes handles (triangles) are not aligned, they are above the product attribute caption.

**Expected behavior**
Previously

[2020-08-25 15:17] tammullen commented on #27476
Hi @abdelhakim-atmani

Sorry to hear this, can you share any screenshots of this to help show what is happening? Are you still able to access WooCommerce and it's pages?

We use the [WooCommerce System Status Report](https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/) to help us evaluate issues.
Without this report we won't be able to fully evaluate this issu

[2020-08-25 15:26] abdelhakim-atmani commented on #27476
I still have the problem even if I have disabled and renabled the plugin

![DB82DB5F-0DD5-4D4F-9C98-2A0B543FD8F0](https://user-images.githubusercontent.com/15782414/91193938-a18a7780-e6ef-11ea-9d12-b7a2aa00d116.png)

[2020-08-25 15:27] Eduardogpe12 commented on #27476
I have exactly the same problem
![error](https://user-images.githubusercontent.com/70217333/91194290-a2a2b100-e6bd-11ea-929a-0b71ad04a691.PNG)

[2020-08-25 15:37] tammullen commented on #27476
Thanks @abdelhakim-atmani and @eduardogpe12 for the screenshots.

Can you try testing your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.
​
If the issue is resolved with the default theme and all plugins deactivated, it me

[2020-08-25 15:42] gregs-legs commented on #27330
I entirely agree.  It is unreadable.  Moreover the links to the source code simply redirect you to more documentation.  You go around in circles but never actually get to the code.  A big step backwards.

[2020-08-25 15:45] themightymo opened #27478 "Paypal Credit broken in WooCommerce 4.4"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Paypal Credit button disappears in WooCommerce 4.4

**Expected behavior**
The Paypal Credit button should appear.

**Actual behavior**
Th

[2020-08-25 16:01] santanamic commented on #27330
I agree with @starypop # 1. There is a lack of direct visualization for implementing class / methods/ functions/ templates.

Another thing is that woocommerce.js has some useful events however in the documentation they are not mentioned.

[2020-08-25 16:10] rrennick commented on #26173
@pmcpinto Now just waiting for review.

[2020-08-25 16:10] tammullen commented on #27477
Hi @strarsis

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27326. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-08-25 16:10] #27477 closed

[2020-08-25 16:13] tammullen commented on #27326
Just noting that this occurs for attributes as well (see https://github.com/woocommerce/woocommerce/issues/27477 for screenshots).
I also found that the attributes toggle is collapsing the entire product data section instead of just the individual attribute.

[2020-08-25 16:19] tammullen commented on #27478
Hi @themightymo

Can you check your settings for PayPal in WooCommerce / Settings / Payments / PayPal Checkout / Manage

In the section `Hide Funding Method(s)` you can specify which (if any) methods you would like to hide.
For example if you have it setup up like in the below screenshot the Credit button will not be visible
![Screenshot 2020-08-25 at 17 15 41](https://user-images.githubuserconten

[2020-08-25 16:20] hovozaroyan opened #27479 "Wrong Api"
Hey,

You have very good product, but very very bad api.

Could you please explain me how  multiple different plugins can work with this hook http://prntscr.com/u5ory0 . Let's say all plugins want to modify  the product title in archive page,all of them will have to do echo? the result will be 3 title in the page and similiar all hooks(20-30) http://prntscr.com/u5ot8q. It means multiply different

[2020-08-25 16:27] rrennick commented on #27474
That's the version where the class was introduced. New methods in classes have `@since` docs.

[2020-08-25 16:27] #27474 closed

[2020-08-25 16:33] m155y commented on #25243
Correction: you can save as an admin, but the html is not rendered. So this appears to be a separate (maybe related?) issue.

[2020-08-25 16:37] tammullen commented on #27423
Thanks @jaredhill4 for letting us know

[2020-08-25 17:34] Eduardogpe12 commented on #27476
Thank you it seems to be elementor version 3.0 is genereting that isue.

[2020-08-25 18:09] tammullen commented on #27476
Thanks @Eduardogpe12 for that information. Please contact the author of that plugin directly for further help.

[2020-08-25 18:12] tanmoy-web commented on #27472
Thanks

[2020-08-25 20:16] gonzalesc opened #27486 "Warning using the update_attributes method on WC_Product_Variation_Data_Store_CPT"
I'm creaing a variation using:

[code]

When it executes the save method, it shows a warning:

[code]

This error comes from:  **includes/data-stores/class-wc-product-variation-data-store-cpt.php**
Method : **update_attributes()**
Line: **509**
Commit: **9c6c0d73d817328e3a90b6e3e0b1b0f0b7662270**

In this code is the error:

[code]

The "wp_delete_object_term_relationships" function doesn't valida

[2020-08-26 05:41] om4james commented on #26847
Hi @ObliviousHarmony,

It would be great to prioritise this issue, so it can be included in the next WooCommerce release.

We've seen 4 WooCommerce Zapier users in August report this issue to us, and there is no doubt many others who haven't contacted us about it.

It's likely affecting a small percentage of others out there who are using the WooCommece REST API and are unable to authenticate due

[2020-08-26 05:49] Shiande commented on #27419
I had the same issue and when i communicate the problem with support team they said they will fix it soon but now things are worst.
Today i noticed that all size attributions are removed from all products and customers cannot place orders.
Last picture after fixing the products attributes and variations as were before the issue.

![Picture1](https://user-images.githubusercontent.com/70254313/91263

[2020-08-26 07:43] erikdemarco opened #27488 "Wc_get_orders is so slow when searching multiple order details and order status"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2020-08-26 09:10] duongancol opened #27489 "Support coupon code in Mini cart"
Hi!
When I applied the coupon code on the cart page or checkout, I went back to the home page, the mini cart content just showed the subtotal instead of the coupon or the total.
I think it’s quite confusing.
Can you consider an update about the mini cart content?
Here is the video that explains the issue https://www.loom.com/share/a3d7fe106ec2438686673301daaa053a

Thanks!

[2020-08-26 10:09] abdelhakim-atmani commented on #27476
Issue fixed. Just updating some plugins and theme.

[2020-08-26 10:09] #27476 closed

[2020-08-26 10:48] thenbrent commented on #27467
@mensmaximus this change is in fact a small part in work toward phasing out PayPal Standard in favor of a newer version of PayPal. 🙂

[2020-08-26 11:18] DavidAnderson684 commented on #27488
Related:

https://github.com/woocommerce/woocommerce/issues/9735
https://github.com/liquidweb/woocommerce-custom-orders-table
https://developer.woocommerce.com/2018/07/17/woocommerce-custom-product-tables-beta/

[2020-08-26 13:25] peterfabian commented on #27243
No problems with jQuery migrate reported afaik, so closing this issue.

[2020-08-26 13:25] #27243 closed

[2020-08-26 13:31] erikdemarco commented on #27488
@DavidAnderson684 Hi thanks for your response. I'm aware of 'custom-order-project' by liquidweb.
But It's different.

Have you tried code 1 and code 2 above? The only difference is just 'order_status'. But the difference is huge. very huge.
Code 2 must be slower but only by small margin when compared to code1. if code 1 took 10seconds, code2 must be took more but only slight margin, maybe 20second

[2020-08-26 14:42] Konamiman commented on #27486
@gonzalesc Thanks for reporting the issue. I'm working on fixing other issues with the code that handles variable product attributes so I'll add this to the list of stuff to fix.

[2020-08-26 14:51] tammullen commented on #27489
Hi @duongancol

Thank you for taking the time to share this idea, we really appreciate your help.

The mini cart is only intended to show the current subtotal. Coupons are applied after the subtotal. However I will mark this as an enhancement so that it can be considered in the future.
​
While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the proje

[2020-08-26 14:51] #27489 closed

[2020-08-26 16:34] tammullen commented on #27479
Hi @hovozaroyan

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

If this is a bug report can you fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

*Pr

[2020-08-26 16:37] tammullen commented on #26467
Hi @akozer33

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-26 16:37] #26467 closed

[2020-08-26 16:39] tammullen commented on #27337
Thanks @BackuPs

Closing this as it is resolved.

[2020-08-26 16:39] #27337 closed

[2020-08-26 16:40] tammullen commented on #27338
Hi @smsalman75

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-26 16:40] #27338 closed

[2020-08-26 16:44] tammullen commented on #27346
Hi @Milhail11

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-26 16:44] #27346 closed

[2020-08-26 16:45] tammullen commented on #27349
Hi @nielslange

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-26 16:45] #27349 closed

[2020-08-26 16:45] tammullen commented on #27351
Hi @kihoshin

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-26 16:45] #27351 closed

[2020-08-26 17:01] cagrioz commented on #27400
https://ibb.co/FqvF8fP Database has this kind looking (table name: wp_woocommerce_order_items). How to fix this auto-assigned 0's? I think the bug caused because of that.

Thanks!

[2020-08-26 17:07] hovozaroyan commented on #27479
Hey @tammullen ,

Please explain me how to override the product title in archive page using your api?

If it's impossible to do, only using your hooks, doesn't it mean, that is bug?

Example: Let's say we have plugin "A" and "B"

1. Plugin "A"  want to override the product title html and has this code:

remove_action( 'woocommerce_shop_loop_item_title', 'woocommerce_template_loop_product_title', 1

[2020-08-26 17:38] boghy933 opened #27490 "Hidden product counted inside archive page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-26 17:39] boghy933 commented on #27490
I am not sure if i am getting it in the right way, but if i set a product visibility to hidden inside admin panel, i should see the product id (`object_id`) inside `wp_term_relationships` right?

Well this is not happening, i just added a new record manually and the archive page is working normaly.

Screenshot: https://idearia.link/PtQG4g

[2020-08-26 17:48] Steven-Bradshaw-Slimcode opened #27491 "woocommerce_shipping_calculator_enable_country Filter breaks Shipping Calculator"
The Shipping Calculator on the Basket page allows users to see if a shipping option is available for their address.

This form by default asks for City, State, Country, Postcode

City, State and Country have filters available to remove these fields, suggesting it's OK to only require a Postcode. These filters are:

woocommerce_shipping_calculator_enable_city
woocommerce_shipping_calculator_enable_

[2020-08-26 18:22] nixiack commented on #27463
I have a chat that is having this issue as well: [hc-1273615](https://mc.a8c.com/support-stats/happychat/transcript.php?id=1273615)

[2020-08-26 19:41] onsterionkubey commented on #22100
Same problem here woocommerce_package_rates is not triggering properly 👍

2 years are passed, any solution?

Regards,

[2020-08-26 20:04] juliaamosova opened #27493 "[E2E] Update e2e docs with how Chromium download can be skipped"
Chromium is being downloaded during `puppeteer` installation. It can be disabled with the `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD` environment variable. See https://devdocs.io/puppeteer/.

We need to add it to our docs.

[2020-08-26 20:44] ObliviousHarmony commented on #26847
Sorry for the late reply @om4james,

Based on the [decsription of the rest_authentication_errors filter](https://developer.wordpress.org/reference/hooks/rest_authentication_errors/) it does seem like it is fine to use it for general authentication. My thinking is that instead of extending `check_user_permissions` we should add another hook to `rest_authentication_errors` before the current one. We

[2020-08-26 21:59] michaelh83 commented on #27419
Having the same issue. Can confirm that temporary fix from @choijun works for now.

[2020-08-26 23:27] jmancooldude commented on #27419
Have the same issue. Filtering is fundamental to ecommerce user experience so hopefully it is fixed soon. Can I ask does Woo have a time frame for resolvement?

[2020-08-26 23:42] Curator420 opened #27494 "Evaluate if we need to update main repository README with instructions on how to set up WooCommerce Dev Environment"
Your installation of WooCommerce is incomplete. If you installed WooCommerce from GitHub, please refer to this document to set up your development environment.
please help me

[2020-08-27 04:17] MC-Rider commented on #27419
Same/similar issue here. After updating to WP 5.5 (and then WooCommerce 4.4) any products imported in to my store do not display in attributes filters. Their attributes exist in the database and the products display in their category and on their product page just fine, but they are missing for all Woocommerce attribute filter widgets. (Brand, Color, Size...)

Products imported prior to these upda

[2020-08-27 06:27] tnchuntic commented on #16552
@claudiosanches as what @lkol said that will just say we have empty DB and I have to totally migrate the products and orders which is IMPORTANTLY needing to preserved the Product ID to mapped-out with the Orders and products.

How do I keep the ID as what is in the CSV instead of using a new ID. Is this possible? If not why would it be theres an option in the import section to choose which field w

[2020-08-27 06:34] SeynalKim opened #27497 "Using WC_Shortcode_My_Account::edit_address( 'billing' ) changes won't save"
I tried using `WC_Shortcode_My_Account::edit_address( 'billing' );` to show the billing form and its working fine. However, upon saving, the page just refreshes but changes won't save.

[2020-08-27 08:56] davbell commented on #27293
What a life saver. Working with Woocommerce's broken API and its half-done documentation is simply impossible for beginners. Thank you for sharing your solution.

[2020-08-27 09:48] KoolPal commented on #26763
@tammullen What happens to this fix #26767 Will this get released? If yes, in which version of Woocommerce?

[2020-08-27 10:16] jigarbytes opened #27499 "WC_Order class throw fatal error if passed wrong order id"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

If we passed the wrong order id in WC_Order class it will thr

[2020-08-27 11:38] peterfabian commented on #27267
I don't think it does and I'm not aware of any ETA, sorry.

[2020-08-27 11:41] Mylaine-programadora opened #27501 "Problema na página minha conta no woocommerce (erro 404)"
Bom dia!

Estou com um problema na página minha conta no woocommerce, acontece que o link está encaminhando para uma página não existente.

Ao invés de aparecer /minha-conta aparece /?page-id7 (que não existe)

Verifiquei o código e está correto o encaminhamento.

Todos os plugins estão atualizados e são compatíveis.

[2020-08-27 12:17] atikullamerchant opened #27502 "Some product attributes disappeared"
Hi Team,

**Issue:**
I can see all my attributes on the backend but these attributes are missing from my front end filter on the category page.

**Solutions Tried:**
1. I’ve tried adding a test attribute in hope that everything falls back in place but that didn’t solve my problem.
2. These brands were showing properly earlier, so I'm quite sure its not a product issue. I've also checked some rando

[2020-08-27 12:55] peterfabian commented on #27330
Bumping the priority as for an open source project, having a usable and good documentation is important.

[2020-08-27 14:41] gglobalstep opened #27560 "[GlobalStep-WooCommerce 4.5 RC1] "Standard tax rates" accepts empty values."
## Description:
"Standard tax rates" accepts empty values.

## Environment:
Windows 10
Browser: Chrome(Version 85.0.4183.83) (64-bit))
                 Firefox(Version 80.0)(64-bit)
macOS Mojave:10.14.6 (18G103)
Safari: Version 13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create a Jurassic Ninja test site
1. Install and Activate all the required Plugins.
1. Click on "Run the Setup Wizard"
1.

[2020-08-27 15:56] erikdemarco opened #27503 "wc_orders_count return 0 for trashed status"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-08-27 17:41] juliaamosova commented on #27494
Hi @Curator420,

Can you tell us what are you trying to do and what steps have you taken in order to see this message? Are you a merchant who is trying to install WooCommerce and create a store? Or are you a developer who is trying to set up WooCommerce for development purposes?

[2020-08-27 17:47] juliaamosova commented on #27502
Hi @atikullamerchant,

Thanks for raising the issue and sorry to hear about the trouble. I think the issue you are having is largely connected to this one here: https://github.com/woocommerce/woocommerce/issues/27419.

Can you please confirm if you have these issues with variable products or does it happen with simple products as well? Or is it hard to tell?

[2020-08-27 19:11] tammullen commented on #27501
Hi @Mylaine-programadora

Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted

[2020-08-27 19:11] #27501 closed

[2020-08-27 23:47] jessLundie opened #27504 "Stock quantity restocked twice when deleting Order line item after refund"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After refunding an order _without_ the _Restock refunded items_ option selected, when you remove the line item from the order, stock is res

[2020-08-28 03:12] tnchuntic opened #27505 "Importing product and retaining the CSV ID instead of new ID."
Just wanted to ask if its possible to force the Woocommerce product import to use the CSV ID instead of creating new ID.

Currently in the import page its allowing me to mapped-out the ID field to the ID in CSV but when processing starts its creating new ID.

Why I want to keep the CSV ID instead of creating new ID is because of I want to retain the same ID of the product to keep the orders mapped

[2020-08-28 03:55] bliswebagency opened #27506 "woocommerce_order_status_processing_to_on-hold_notification action"
**Is your feature request related to a problem? Please describe.**
There doesn't appear to be an triggerable email action for changing order status from processing to on-hold

**Describe the solution you'd like**
Can we please have a: woocommerce_order_status_processing_to_on-hold_notification action, similar to the ones for cancelled, failed or pending orders?

**Describe alternatives you've cons

[2020-08-28 06:30] samuraijat opened #27507 "Woocommerce All Products Name Your Price Error"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-08-28 06:31] samuraijat commented on #27507
It does not work here (all product woo block)

https://mindthemilkyway.com/store/

But it works in the products tag block

https://mindthemilkyway.com/creatives/kltr-beats/

[2020-08-28 09:21] Konamiman commented on #27486
Hi @gonzalesc. For what I see in the code the problem seems to be that the taxonomy doesn't exist in general, not that it doesn't exist for the product.

Could you please provide more details on your setup (e.g. the defined taxonomies) and a complete code snippet to reproduce the problem?

[2020-08-28 10:37] tammullen commented on #25695
Hi @bandarsiri

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-28 10:37] #25695 closed

[2020-08-28 10:38] tammullen commented on #27380
Hi @elenvaleeva

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-28 10:38] #27380 closed

[2020-08-28 10:39] Konamiman opened #27510 "Bring the dependency injection engine back to life"
[We introduced a dependency injection engine in WooCommerce 4.4](https://github.com/woocommerce/woocommerce/pull/26731), but we had to disable it shortly after since it was conflicting with a different version of the [PHP League's Container](https://container.thephpleague.com/) package that a plugin was using.

In order to reintroduce it we need to make sure that no further conflicts will arise. @

[2020-08-28 10:40] tammullen commented on #27389
Hi @UsamaYaqoob100

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-28 10:40] #27389 closed

[2020-08-28 10:41] tammullen commented on #27399
Hi @thd-fox

Thanks for the reply, we will close this for now. Please open a new issue if it remains after upgrading and checking for any plugin conflicts.

[2020-08-28 10:41] #27399 closed

[2020-08-28 10:42] tammullen commented on #27417
Hi @fikridev

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-28 10:42] #27417 closed

[2020-08-28 10:42] tammullen commented on #27423
Hi @yogeshumane

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-28 10:42] #27423 closed

[2020-08-28 11:09] robert281119 commented on #27502
Hello
When I upgrade WordPress 5.5. all Variable products 'jump' so Simple product and not possible return to Variable.  if become to sell the product have the status. out of stock'  As I understand you have some problem ??
Thank you Robert

[2020-08-28 11:28] CaptnAbap commented on #26359
We've just update to the newest woocommerce version (and update all other plugins). That did not help. And it happens currently every single time somebody buys something.
@peterfabian we have a test environment, do you want to see it there?

[2020-08-28 11:33] peterfabian commented on #26359
Sure, if possible, please create an admin account for woologin@woocommerce.com and let us know your URL so that we can log in and check what is happening.

[2020-08-28 11:50] CaptnAbap commented on #26359
Hi Peter

We've created you an account on the staging environment.
http://staging3.sato-code.com/
with
woologin@woocommerce.com
and pw
5^0G9VGEIM76i@1yEFv$a!pI

Following Testcase:
1. Buy a product in a Language. There is currently the stripe test key.
    We used for buying the product Safari on an iPhone
2. Come back to the page (same language) by using a different browser and
the checkout field

[2020-08-28 11:56] CaptnAbap commented on #26359
We've created you an account on the staging environment.
http://staging3.sato-code.com/
with
woologin@woocommerce.com
drop me pls an email for the password: stefan.halter@sato-code.com

Following Testcase:
1. Buy a product in a Language. There is currently the stripe test key.
    We used for buying the product Safari on an iPhone
2. Come back to the page (same language) by using a different brows

[2020-08-28 12:21] mwolter805 commented on #27504
Hello Jess, this is Matt, the person who submitted the issue. Not a big thing but I believe you meant to the title to be “Stock quantity increased...”

[2020-08-28 12:53] CaptnAbap commented on #26359
If this is really a cookie problem. Did somebody try to set the woocommerce session duration to 15min? This would at least decrease the chance that it happens.

add_filter('wc_session_expiring', 'filter_ExtendSessionExpiring' );
add_filter('wc_session_expiration' , 'filter_ExtendSessionExpired' );

function filter_ExtendSessionExpiring($seconds) {
    return 60 * 15;
}
function filter_ExtendSessio

[2020-08-28 12:57] rrennick commented on #27505
@tnchuntic When you insert a new record into the `wp_posts` table the ID field is assigned by MySQL. WordPress doesn't support specifying an ID on `wp_posts` insert.

In your case, the existing orders should have enough of the product data to continue to display the product info in the existing orders.

[2020-08-28 12:57] #27505 closed

[2020-08-28 13:17] tammullen commented on #27507
Hi @samuraijat

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by a 3rd party plugin.
​
Please contact the author of the plugin directly for further help.

[2020-08-28 13:17] #27507 closed

[2020-08-28 13:36] peterfabian commented on #26359
Hi @CaptnAbap ,

Just tried it now, bought Bellinzona Trail   × 1, checked out in Chrome, switched to Firefox and I can't see any data pre-filled. Same with Safari, no info.
Then tried checking out in Firefox, switching to other browsers, I still see no info getting leaked.

The data is only pre-filled if I try again in the same browser (ie checkout in Chrome, then navigate somewhere else, go back

[2020-08-28 13:49] CaptnAbap commented on #26359
Yes, when we saw that you bought something we tried to see the checkout information as well. But nothing was displayed. The only thing that was different now was that we had the test key in stripe.

However, I saw myself information that was entered on another computer. So, it happens somehow. But it's hard to get the right constellation to trigger it.

[2020-08-28 13:53] helgatheviking opened #27511 "Add WordPress.com hosting to status report"
**Is your feature request related to a problem? Please describe.**
Now that premium plugins are allowed to be installed at WordPress.COM sites, when I get a support ticket I have no way of knowing if the site requesting support is a .COM or a self-hosted site.

**Describe the solution you'd like**
Add .COM hosting status to the system status

**Describe alternatives you've considered**
The only re

[2020-08-28 14:31] atikullamerchant commented on #27419
Have a similar issue, temporary fix from @choijun works for now.
Having said that, has anything broken for anyone after implementing this temporary fix? My site looks good so far but its good to have a heads up!

[2020-08-28 14:36] tammullen commented on #27506
Hi @bliswebagency

Thank you for taking the time to share this idea, we really appreciate your help.

I think in the meantime you might be able to use `woocommerce_order_status_processing_to_on-hold` action to create a custom solution.
​
While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be consider

[2020-08-28 14:40] isaumya opened #27512 "Update and Improve wc_print_js() in the WooCommerce Core"
**Is your feature request related to a problem? Please describe.**
Inside WooCommerce core `includes/wc-core-functions.php` there is a function named `wc_print_js()` which basically adds the inline JavaScripts that are queued using `wc_enqueue_js()` function.

Now many themes, WooCommerce extensions, plugins use `wc_enqueue_js()` to add inline scripts to the website. But while looking at it I saw

[2020-08-28 14:57] tammullen commented on #27511
Hi @helgatheviking

Thank you for taking the time to share this idea, we really appreciate your help

I'm going to close your issue in favor of the previously submitted https://github.com/woocommerce/woocommerce/issues/27000 as we had already labelled that issue as an ehancement. Please continue sharing your feedback there if needed.

One thing which might help with identifying WordPress.com sites

[2020-08-28 14:57] #27511 closed

[2020-08-28 15:01] CaptnAbap commented on #26359
So, have it. Go to the website: staging3.sato-code.com/?lang=de
select the Product Albert's Door and you will see the customer details.

I guess to trigger it, it needs to be in another language. Not the main language of the website.

[2020-08-28 15:05] CaptnAbap commented on #26359
![grafik](https://user-images.githubusercontent.com/31867037/91582767-8c605380-e950-11ea-9bc2-05232f7838f0.png)

The product was bought in German with a safari browser on an iPhone. This screenshot was taken on an Edge on a Laptop.

[2020-08-28 15:53] helgatheviking commented on #27511
oh my gosh... i duplicated MYSELF! well I am having a day I guess. Sorry about that... and thanks for the tip, esp the MU plugin might be enough info.

[2020-08-28 15:56] peterfabian commented on #26359
Sorry, I can't get it triggered even with the German language. Though I'm a bit suspicious if some of the plugins you have activated isn't causing it. Have you managed to capture anything useful in the logs?

[2020-08-28 16:14] CaptnAbap commented on #26359
There are two issues.

[28-Aug-2020 09:23:46 UTC] PHP Fatal error:  Uncaught Error: Call to a member function get_type() on bool in /home/customer/www/staging3.XXXXXXXXXXXX.com/public_html/wp-content/plugins/woocommerce-gateway-stripe/includes/payment-methods/class-wc-stripe-payment-request.php:1012
Stack trace:
#0 /home/customer/www/staging3.XXXXXXXXXXXX.com/public_html/wp-includes/class-wp-hook.

[2020-08-28 16:49] helgatheviking opened #27513 "All Products Block attempts to add products that need customiation to cart"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The product schema uses the product's `has_options()` method to determine if the add to cart button in the All Products block will display

[2020-08-28 16:50] helgatheviking commented on #27513
Please let me know if you'd prefer I'd move this to the Blocks repo. This is happening in the blocks that are shipped with WC core, so I figured I would start here.

[2020-08-28 16:54] tammullen commented on #27504
Hi @jessLundie and @mwolter805

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2020-08-28 at 17 26 11](https://user-images.githubusercontent.com/24649833/91593009-54104380-e957-11ea-9acf-d0fa18391027.png)
![Screenshot 2020-08-28 at 17 27 09](https://user-images.githubusercontent.com/24649833/91593019-58d4f780-e957-11ea

[2020-08-28 16:58] tammullen commented on #27513
Thanks @helgatheviking

Yes I will move it to the Block repo for now, if this behaviour is due to core we can move it back.

[2020-08-28 17:20] tammullen commented on #27503
Hi @erikdemarco

This is expected behaviour of `wc_orders_count()` to return `0` as it is intended for WooCommerce order statuses
https://github.com/woocommerce/woocommerce/blob/bb0c4406de6d02ed1717256c6b46d230bdbca383/includes/wc-order-functions.php#L339

trash is not one of the order statuses
https://github.com/woocommerce/woocommerce/blob/bb0c4406de6d02ed1717256c6b46d230bdbca383/includes/wc-ord

[2020-08-28 19:36] CaptnAbap commented on #26359
So, I've spent pretty much the whole day trying to track down this issue. As described above, I found a test case. With that I started changing configs and one seemed to work:
We're using siteground and the SG optimizer. When the SG optimizer is deactivated the problem did not occur. Since this is most likely a caching issue, it makes sense that this could be the root cause. So, I'm going ahead an

[2020-08-28 20:10] robrecord commented on #13750
The fix applied here is hard coded to use `'/wp-content'` which doesn't work if you're using Bedrock or another framework where the path to the wp-content directory is different. In Bedrock, the URL is `/app/` instead of `/wp-content/` and hence detection of files doesn't work when selecting a file from the media library.

[2020-08-28 20:23] #27360 closed

[2020-08-28 20:24] #27385 closed

[2020-08-28 20:24] #27386 closed

[2020-08-28 21:20] tammullen commented on #27497
Hi @SeynalKim

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help fur

[2020-08-28 21:20] #27497 closed

[2020-08-28 21:47] tammullen commented on #27491
Hi @Steven-Bradshaw-Slimcode

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end.
​
I first tried with using any filters
![Screenshot 2020-08-28 at 22 42 01](https://user-images.githubusercontent.com/24649833/91617519-24296600-e980-11ea-9534-fcae05fd0705.png)
![Screenshot 2020-08-28 at 22 43 41](https://user-images.githubusercontent.com/2

[2020-08-28 21:53] tammullen commented on #27490
Hi @boghy933

Thank you for reporting the issue. However, an issue has been reported previously here which I believe is the same problem https://github.com/woocommerce/woocommerce/issues/25375. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-08-28 21:53] #27490 closed

[2020-08-28 22:16] tammullen commented on #27471
Hi @mensmaximus

Thank you for taking the time to share this idea, we really appreciate your help.

I believe you are correct that for those locale settings WooCommerce uses the server locale which can be changed with http://php.net/manual/en/function.setlocale.php
​
While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we

[2020-08-28 22:16] #27471 closed

[2020-08-28 23:10] gonzalesc commented on #27486
Hi.

The "_wp_delete_object_term_relationships_" function call to this functions :

`$term_ids = wp_get_object_terms( $object_id, $taxonomy, array( 'fields' => 'ids' ) );`

And this function return a WP_Error, because WooCommerce sends taxonomies that don't belong to this $object_id ( Product ID );

[2020-08-28 23:41] zhollenbeak commented on #27419
Another report in 3251398-zen - that workaround was to roll back to v4.3.2.

[2020-08-29 00:01] Steven-Bradshaw-Slimcode commented on #27491
Hello,

Thank you for your reply. Looking at the PR here #20046 it looks like it is using an additional filter (woocommerce_cart_calculate_shipping_address) along with woocommerce_shipping_calculator_enable_country to set the  $address['country']  to 'BR' Brazil.

So the initial problem where removing the country dropdown using the "woocommerce_shipping_calculator_enable_country" filter is still t

[2020-08-29 08:43] Hbitvof opened #27515 "Woocommerce order mail is blocked at Hotmail and live because of URL in Order number"
Hi,

We received several complaints from customers with Hotmail and Live mail who didn't receive orderinformation mail send from out Woocommerce shop.

We setup everything like, SPF and DKIM and sending normal mail to Hotmail and Live from our website is no problem.

I noticed when I remove the link in the ordernumber the mail is accepted again in Hotmail and Live:
![image](https://user-images.git

[2020-08-29 10:37] maxbeech commented on #21169
I think I might have worked out why this was hapenning. If you have just loaded a theme with some sample products on sale, you need to go into those products are hit the `Update` button for them to show up under the sale page.

[2020-08-29 10:37] maxbeech commented on #21169
I think I might have worked out why this was happening. If you have just loaded a theme with some sample products on sale, you need to go into those products are hit the Update button for them to show up under the sale page.

[2020-08-29 11:06] jjbbrr opened #27518 "HTML in 'Title' field of Payment method displays as text on /checkout/order-received/"
**Describe the bug**
- 'Title' field for a payment method in Woocommerce settings accepts HTML. (e.g. Settings > Payments > Paypal > Title)
- On the Checkout page /checkout/ this HTML displays correctly as 'Payment method'.
- In the Order notification email this HTML displays correctly as 'Payment method'.
- On /checkout/order-received/ this field is displayed twice - the first one renders the HTM

[2020-08-29 11:06] touch1111 opened #27519 "filter by attribute doensn't work"
Hi,
I try to figure out why the filter by attribute doens't work.
I have set attribute on PRODUCT-> ATTRIBUTES with some TERMS.
Added two different TERMS in 3 products (just to try it ) and add the widget in side woocomerce bar, but the filter isn't showed...

I even tried to install the storefront template in a staging area, but doesn't work.

Can you help me ?

[2020-08-29 11:56] Thomas-1985 opened #27520 "WC4.2.2 WP 5.4.2 - custom product sorting doesn't work, spinning wheel forwever and screwed sorting"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
-Product sorting is not working anymore.
-Theme is Storefront (Child) 2.5.5

**Expected behavior**
-When i drag&drop products to alter the

[2020-08-29 12:05] Frisoni commented on #26851
Hey!
Even after corection from https://github.com/woocommerce/woocommerce/issues/27066 I'm still having this webhook issue.
Wher an action is running and I try to create a new update action it did not fire and I don't get the newest information to be sent.

Anyone that can test and confirm this bug?

[2020-08-29 13:06] gwegner opened #27521 "Customer can check out although mandatory field "Country" is not given"
Tested with 4.4.1
A customer can check out even if he omits the mandatory field "Country".

**Describe the bug**
Put a product in the cart, checkout. Enter all data just leave the Country field blank.
There will be no error and the order goes through, although no country is provided and "Country" is marked as mandatory field with an asterisk.

**Expected behavior**
An error message should appear,

[2020-08-29 13:25] DavidAnderson684 commented on #27521
This happens for me too, specifically for the "billing country" field. ("Shipping country" is still required - an error results if it is not present).

[2020-08-29 14:27] CreativeArtDesign opened #27522 "I can not import custom filed from ACF plugin. I have no fileds for that."
I can not import custom filed from ACF plugin. I have no fileds for that. or other plugins that are there.
I created a custom filed for WooC.. and when i trying to import my custom filed list it does not appear in the import dropdown list.

Why is wooC. a usefull customfiled plugin that works.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting step

[2020-08-29 16:08] CaptnAbap commented on #26359
So, we got it finally figured out. It was a server-side caching issue.

We use siteground and with it comes the SG optimizer. The SG optimizer caches complete websites. This leads to the problem that a second user get's the same website as the previous user.
To solve it make the following steps:
In wordpress, in the plugin SG optimizer, there is a way to exclude some URLs  from caching. In our cas

[2020-08-29 17:38] rosimannus commented on #27419
same issue here.. updated to latest version and only old products have correct filters.

[2020-08-30 07:18] siliconforks commented on #27410
I was looking at the `jquery-ui.css` file and it looks quite, er, interesting:

1. Despite the fact that the filename does not end in a `.min.css` suffix, it contains minified code (just like the `jquery-ui.min.css` file does).  So it's not clear what the purpose of this file is.

2. The contents of the `jquery-ui.css` file are highly repetitive - in fact, the entire file seems to consist solely o

[2020-08-30 15:16] khag7 opened #27523 "Email style can be altered too easily by email client"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Some email clients may render the heading of a WooCommerce email incorrectly. Specifically, WooCommerce emails have an H1 heading which has

[2020-08-30 15:33] Camilo517 opened #27524 "Add content-visibility in WooCommerce CSS"
There is a new CSS rule that improves loading time, it would be interesting to add it in WooCommerce

Here he explains it and there is a proof:
https://web.dev/content-visibility/

[2020-08-30 16:33] gevcen opened #27526 "WooCommerce Order Amount is 57.98€ but Paypal Amount Order is 57,97€"
Please check this video :
https://sgevcen.tinytake.com/tt/NDU3MjgyMl8xNDQ5MTk3Ng

I'm a business owner and I've got an amount in Paypal that is 1 cent different than the amount in WooCommerce. I know it's just a 1 cent difference, but if it happens for 1 cent it could happen for any amount => which is not ok

Please investigate on this issue
Thanks a lot

[2020-08-30 16:56] khag7 commented on #27526
If it is a rounding error, then 1 cent is the biggest difference you'd ever see. I still agree it should be fixed, but it's not fair to say "it could happen for any amount" because that's not true if this is a rounding error.

[2020-08-30 17:05] gevcen commented on #27526
Ok maybe it's exagerated :) it's because I'm a business owner + managing my own store, so I check everything even if just 1 cent :) thanks for looking at it tough

[2020-08-30 17:10] khag7 commented on #27526
I completely agree it's an issue, I don't mean to belittle your concern. I just wanted to put your mind at ease that if this is a rounding error, you're not going to ever lose more than 1 cent on a transaction.

Can you send a System Status Report please. It is found in your WordPress admin under **WooCommerce > Status**.
Please select “Get system report”, then “Copy for support”, and then paste i

[2020-08-30 17:13] gevcen commented on #27526
`
### WordPress Environment ###

WordPress address (URL): https://www.DOMAIN
Site address (URL): https://www.DOMAIN
WC Version: 4.4.1
REST API Version: ✔ 1.0.15
WC Blocks Version: ✔ 3.1.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.4.0
Log Directory Writable: ✔
WP Version: 5.5
WP Multisite: –
WP Memory Limit: 1 Go
WP Debug Mode: –
WP Cron: –
Language: fr_FR
External object cache: –

##

[2020-08-30 18:24] jamesorb opened #27527 ""No orders found" on the orders tab. None of the previously proposed fixes seem to work. WP 5.5 - Woocommerce 4.4.1"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
On opening the orders page on the Wordpress admin panel, I see the "No orders found" message and cannot list orders even though the order c

[2020-08-30 18:58] #27527 closed

[2020-08-30 20:09] mundschenk-at opened #27529 "Invalid call to get_avatar() in Recent Reviews dashboard widget"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
`get_avatar()` is called with an invalid argument in `WC_Admin_Dashboard::recent_reviews()`. The [`$id_or_email` parameter is set to `$comm

[2020-08-30 22:04] tammullen commented on #27428
Hi @mohamedahmedabdelfattah

Thank you for raising this issue and apologies for the delay in replying. While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only. Translation is managed by teams over at translate.wordpress.org
​
The issue you are having seems to be caused by the Arabic language translation file so wo

[2020-08-30 22:04] #27428 closed

[2020-08-30 23:40] jrserani commented on #22706
Hello, just checking if there's been positive movement with this issue or an ETA on estimated date?

[2020-08-30 23:54] kkmuffme opened #27530 "[4.5 RC1] function auto_update_woocommerce not found or invalid function name"
PHP Error: call_user_func_array() expects parameter 1 to be a valid callback, function auto_update_woocommerce not found or invalid function name
File: /wp-includes/class-wp-hook.php on line 287
Error URL: /wp-admin/plugins.php
Trace:

[code]

since WP5.5 (incl. 5.6), tested on WC 4.4 & 4.5rc1 where both versions have this issue

[2020-08-31 01:33] divergeinfinity commented on #23682
Gosh, I hate to confuse an issue, but I've been back and forth over this ticket and the issue, ... as it seems for my particular circumstance and the '_rest_cookie_invalid_nonce_' 403 warning ... is very much a 'Chrome80' issue and the 'SameSite' parameter.  And for those experiencing a 2 minute failure, that is the sign that it's Chrome and that parameter because without that bit in the cookie, C

[2020-08-31 02:07] elsakaa95 opened #27531 "when i open any product in the single product page the image of the product don't show and it keep loading"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-31 04:38] SiR-DanieL opened #27532 "Reviews Style in Activity Dashboard Widget"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-31 08:26] mathiasdb commented on #27519
Hi

I'm having a similar issue. Our client gave us the feedback that some filters were missing from the sidebar. After looking into the issue it only applies to Filter Products by Attribute. Feel free to check out the [website](https://www.topstore-fashion.be/product-categorie/work-fashion/).

After some digging in the code if found that the widgets are rendered by the WC_Widget_Layered_Nav class.

[2020-08-31 08:51] peterfabian commented on #26359
Thanks for sharing your findings, @CaptnAbap ! I'll close the issue until we get an indication it might be related to something we can change.

[2020-08-31 08:51] #26359 closed

[2020-08-31 08:56] Aljullu opened #42676 "Fix Products by Category Block showing different results when a single category is selected depending on the 'Display products matching' attribute"
## To reproduce

1. Add a Products by Category block.
2. Select a category (_Clothing_, for example).
3. Press Done and notice several products appear.
4. Now, edit the block (pencil icon).
5. Select another category (_Accessories_, for example).
6. Set the option to 'Display products matching: All selected categories'.
7. Unselect the second category and click on Done.
8. Notice now there are few

[2020-08-31 08:57] Konamiman commented on #27519
Hi @touch1111 @mathiasdb. Excluding variable products from the main query is on purpose, because later on the same function there's a second query that counts variable products (that one was introduced in https://github.com/woocommerce/woocommerce/pull/26260), but there are issues regarding products having "Any..." as the value of the attribute (see https://github.com/woocommerce/woocommerce/issue

[2020-08-31 09:51] combinator opened #27534 "billing_email is being used without being check if it's been set"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have se

[2020-08-31 10:06] maticluznarow opened #27535 "Number of database queries in Woocommerce 4.4.1"
**Is your feature request related to a problem? Please describe.**
I just updated from Woocommerce 4.3.3 to 4.4.1 and noticed huge increase of database queries. I am not sure if this is intentional or not but I just wanted to point it out because the site is slower because of that.

**Describe the solution you'd like**
Lower amount of database queries.

**Describe alternatives you've considered**

[2020-08-31 10:11] Niels1307 opened #27536 "Product price disappears after sorting"
I use the divi theme in combination with the Woocommerce plugin. I have an issue with the sorting functionality on my shop pages. When the shop page is opened for the first time, everything is displayed correctly. When I sort product by newest, some products seem to loose their variations. E.g., the price disappears on the shop page and also the price is not visible in the products database.

**Pr

[2020-08-31 10:35] ksarrafan opened #27537 "I get white screen after I try to get Quick view of YITH. Please help"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-08-31 11:01] #27534 closed

[2020-08-31 11:03] combinator commented on #27534
issue was caused by empty `redirect` parameter when the `process_payment($order_id) `was called.
Closing issue

[2020-08-31 11:51] mathiasdb commented on #27519
@Konamiman thanks for the feedback!

[2020-08-31 13:18] lostpebble commented on #27160
@seb86 does CoCart allow us to define our own custom plugin `wp-json/` Rest APIs and access the WooCommerce cart? It seems to just be an advanced Rest API for manipulating your cart, which is clearly not what the issue at hand is about.

[2020-08-31 13:33] seb86 commented on #27160
@lostpebble No it does not let you define your own plugin. I clearly miss read the issue and thought users were trying to build something that was already available and working.

[2020-08-31 13:53] lkraav commented on #27535
What page is this on?

You also need to do a set of measurements, not just 1. At any given moment there could be cache priming or similar, and follow up requests would have a lot less queries.

[2020-08-31 14:43] Renzik opened #27538 "Wrongly spelled country's region Bizkaia -> Biscay"
A client brought to my attention that the region Biscay/Vizcaya of Spain is wrongly spelled Bizkaia.

It is currently spelled Bizkaia, but should be Biscay.

Thanks!

[2020-08-31 16:14] helgatheviking commented on #27494
I believe you need to run `composer install` and `npm install` and then `grunt assets` to get all the pieces in place if trying to run Woo from the repo. Would be great to see setup instructions in the main readme.md.

[2020-08-31 17:19] maticlu commented on #27535
You are right. I did more measurements but I did not post them.

In order to demonstrate the issue I created two separate clean WP 5.5 installs with default TwentyTwenty theme and Query monitor plugin. One website has WC 4.3.3, another 4.4.1. No other plugins. Websites are on the same local server.

I refreshed both websites several times. It is always the same result.

**Shop page**

**Woocommerc

[2020-08-31 17:25] maticluznarow commented on #27535
You are right. I did more measurements but I did not post them.

In order to demonstrate the issue I created two separate clean WP 5.5 installs with default TwentyTwenty theme and Query monitor plugin. One website has WC 4.3.3, another 4.4.1. No other plugins. Websites are on the same local server.

I refreshed both websites several times. It is always the same result.

**Shop page**

**Woocommerc

[2020-08-31 18:20] phunkei opened #27539 "Paypal checkout page not working"
In a customers project using woocommerce, the paypal payment does not work as expected. The target page (first external page in checkout process) displays an error message without any specific information. We already changed the payment credentials to a different paypal-account, same error.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps a

[2020-08-31 19:08] fidel-ruiz commented on #20884
I'm looking to accomplish the same, passing the taxes values already calculated to the order creation endpoint.

is this issue closed for good?

@audetcameron @sbstp is there any workaround that you guys found to accomplish this?

[2020-08-31 19:13] gevcen opened #27540 "Annoying loading circle on top of every single page in backend"
Dear,

Since you added the new admin bar in WooCommerce, there is constantly this circle loading bar that appears on top of the page. This is so annoying, because since then the page loads and then you try to hit on a link in the page but in the meantime the page has scrolled because the circle disappeared as the page got fully loaded.

Get rid of this crap loading circle, we don't need this becau

[2020-08-31 20:05] sbstp commented on #20884
We used a cronjob to sync our tax information with WooCommerce and hoped that the totals end up the same.

[2020-08-31 20:24] gevv opened #27541 "Cart and Login Problem Mobile Android: 4.4.2 Chrome: 81.0.4044.138"
Wordpress 5.5 Woocommerce  4.4.1  Mobile Android: 4.4.2 Chrome: 81.0.4044.138 Cart and Login Problem
I have the same problem on my own site and on woocommerce demo site
Please watch the video

https://streamable.com/kfsk8b

https://streamable.com/zdozhb

[2020-09-01 05:00] anant1811 commented on #24619
Also reported in 3245283-zen

[2020-09-01 06:44] lkraav commented on #27535
OK, but how about clicking through into the queries list and see what's in there?

[2020-09-01 07:02] amirulasyraf88 commented on #12467
https://stackoverflow.com/questions/63655365/why-my-stock-from-woocommerce-variation-deduct-to-negative-value I have a same question also, but still not solve. Anyone can help answer my question?

[2020-09-01 07:14] bestkakarot1996 commented on #11130
Hello, Is there any improvement on this yet?

[2020-09-01 08:06] maticluznarow commented on #27535
Here are query lists. I am sorry about the look. I just copied table to html file.

Woocommerce 4.3.3 - https://tinyurl.com/y67mekoj
Woocommerce 4.4.1 - https://tinyurl.com/yxjjp764

[2020-09-01 11:16] tammullen commented on #27435
Hi @pwmwoo

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-01 11:16] #27435 closed

[2020-09-01 11:17] tammullen commented on #27444
Hi @rodolphebertozzo

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-01 11:17] #27444 closed

[2020-09-01 12:52] tammullen commented on #27538
Hi @Renzik

Thank you for taking the time to report this bug, we really appreciate your help.

I can see we have it called `Bizkaia` here
https://github.com/woocommerce/woocommerce/blob/5f1d2a8a2cf46ca64b22fe11cd9c8750e84525ad/i18n/states.php#L396

We adopted UNICODE CLDR standard for adding countries and regions in WooCommerce.
In CLDR it is called `Biscay`
https://github.com/unicode-org/cldr/blo

[2020-09-01 12:54] tammullen commented on #27537
Hi @ksarrafan

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

*Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I h

[2020-09-01 12:56] tammullen commented on #27531
Hi @elsakaa95

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

*Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I h

[2020-09-01 13:48] BackuPs opened #27549 "Where are the default templates in the shop page?"
Hi

Why are the default theme templates gone in the shop page?

![afbeelding](https://user-images.githubusercontent.com/6078370/91859277-8d53f680-ec6a-11ea-8572-2ccbb5079895.png)

How to enable these?

This is how it looks in the shop page set

![afbeelding](https://user-images.githubusercontent.com/6078370/91859547-e0c64480-ec6a-11ea-904f-e9458dd95ff2.png)

[2020-09-01 14:07] Engage11 opened #27550 "Payments going through without payment method filled in."
I was going to send this as a bug report but I'm sure someone else would also have this problem.
People are sending transactions without inputting their card information, and the information is being sent to us as payed for with credit card information processed.
We did a test and intentionally left the card fields blank. It submitted completely and there is nothing to show otherwise that there wa

[2020-09-01 14:31] Engage11 commented on #27550
I think I may have figured it out. It was my coworker signed in and manually placing a payment for someone. It sent it through thinking it was a test transaction. As I have already said, there is no way to know if the transaction is bad because it sends an order email exactly the same way. So my question now would be, how do I turn off this feature?

[2020-09-01 15:11] itsgauravjain22 opened #27551 "[WC REST v3] Order - Line items properties should contain primary(first) product image"
**Is your feature request related to a problem? Please describe.**
When consuming the order rest api, it would be clear that we should get concise details of line items included in the order. But currently, we don't get the product image src. It should give a primary image url of the product.

**Describe the solution you'd like**
Primary Image src should be included in Order - Line items propertie

[2020-09-01 15:13] Babelfisch opened #27552 "[REST API v3] Inconsistent data in the sales report if there are refunds"
I think the sales report `/wp-json/wc/v3/reports/sales` provides inconsistent data if there are refunds in the given period. The field `total_sales` contains the gross sales minus the refunds. If I have gross sales of `"100.00"` Euro today and a refund of `"8.00"` Euro, `total_sales` is `"92.00"`. Also the `total_refunds` field has value 8. Correct!

But in the `totals` array for the report groupe

[2020-09-01 15:48] Engage11 commented on #27550
WooCommerce is not in test mode, which makes the whole allowing to skip the payment fields, look more like a legit bug. I hope someone notices and patches within the next update.

[2020-09-01 16:24] vinnykaur commented on #27419
One more report here 3277108-zen.

[2020-09-01 16:40] helgatheviking opened #27555 "Add filter to has_options() method"
**Is your feature request related to a problem? Please describe.**
The All Products block relies on `$product->has_options()` to determine if a product can be added to the cart or if the button should link to the single product page.

For products that are Name Your Price enabled or have required Product Addons this presents the problem of `has_options()` returning `true` even though the product s

[2020-09-01 17:06] ambisyoso901 opened #27556 "Guest coupon, usage limit per user"
Hello, for some reason I have this issue in the latest version of Woocommerce.

Guest checkout can still use the code, even though they are already have made the purchase.

[2020-09-01 20:07] touch1111 commented on #27519
@Konamiman Thanks ! Hope you will fix soon

If you need my login credentials can give you for testing

[2020-09-02 06:42] Sn00z389 commented on #27034
This is a great feature that needs to be implemented in Woocommerce, since it is done for OpenCart and Magento. We even have a client who wants to use Woo but cannot since the cart reservation is not possible there right now.

[2020-09-02 07:58] merizindge2050 opened #27561 "Woocommerce analytics not working any more. Action Scheduler Putting every task on Pending."
`After the recent update of Woocommerce all of my analytics stopped working. and even Action Scheduler putting every task on pending. i think its not running. i am unable to see the dashboard analytics for my orders. and i am also unable to see past orders of a customer. because of this issue
### WordPress Environment ###

WordPress address (URL): https://www.magicwandcompany.com
Site address (URL

[2020-09-02 10:03] negapo commented on #27550
Hi @Engage11
The problem must be with your credit card plug-in (Helcim Commerce) and not WooCommerce, the plug-in handles that validation.

[2020-09-02 10:05] AhsanHameed97 opened #27563 "Product images is not showing in Occean WP product sharing after Update"
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide here: https://docs.woocommerce.com/document/woocommerce-self-service-guide/

**Technical support for premium extensions or if you're a WooCommerce.com custome

[2020-09-02 10:47] chrisbergr opened #27564 "Wrong calculation of included taxes in cart"
After I changed the tax rates on all my client’s websites, I noticed that all taxes are calculated wrong. Even with a new installation with only WP, Woocommerce and the Storefront theme.

After a long time of research I noticed a strange formula in includes/class-wc-tax.php:141

`$the_rate = ( $regular_rate / 100 ) / $regular_tax_rate;`

Someone else created a gist https://gist.github.com/jessepea

[2020-09-02 10:57] Niiamaddin opened #27565 "Currency is not pictured. So I chose as a currency russian rubl, and when i go to my website via phone it is the sign of russian rubl it just showes a little square after the price. Please fix it cause it looks ugly. And clients can't understand what currency it is"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-09-02 12:29] emfluenceindia commented on #27568
Yes, I guess so! This enhancement will definitely be helpful when you come up with the same. Thank you for moving it on!

[2020-09-02 12:38] treatsunleashed commented on #27519
@Konamiman Thank you for addressing this.

I am having the same issue.  Started when I updated from 4.1 to 4.4.1.
Variable products are being excluded from the Filter Products by Attribute widget in the sidebar.  I'm using Brand as the attribute.

[2020-09-02 12:57] bashgeek commented on #27519
Have the same issue since the update to 4.4 (I think, very recent).

Getting the following SQL error with it:
`WordPress database error Unknown column 'wp_term_relationships.term_taxonomy_id' in 'where clause' for query SELECT COUNT( DISTINCT wp_posts.ID ) as term_count, terms.term_id as term_count_id FROM wp_posts
			INNER JOIN wp_term_relationships AS tr ON wp_posts.ID = tr.object_id
			INNER JO

[2020-09-02 13:16] glagonikas opened #27569 "Call to a member function get() on null when Geolocate (with caching) is enabled"
**Describe the bug**
When "Geolocate (with page caching support)" is enabled, visiting a URL similar to /whatever/wp-json/wp/v2/posts/None throws a fatal error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Geolocate (with page caching support) on WooCommerce settings
2. Visit /whatever/wp-json/wp/v2/posts/None

**Expected behavior**
When the "Geolocate" option is enabled, t

[2020-09-02 13:26] juliaamosova commented on #27565
Hi @Niiamaddin,

Thanks for raising the issue! We need a bit more details in order to replicate it. Can you please provide us with the following details:

- WooCommerce version you are using?
- WordPress version you are using?
- What theme you are using?
- Which browser you are using?
- Which phone you are using where you see the issue?

[2020-09-02 14:35] Niiamaddin commented on #27565
Hi Julia!
WooCommerce version you are using?
-Version 4.4.1
WordPress version you are using?
-Version 5.5.1
What theme you are using?
-Astra
Which browser you are using?
- it depends, could be Google chrome, Mozilla, but when I use safari in
Iphone it doesn't show the sign of russian currency instead it shows a
small rectangle.
Which phone you are using where you see the issue?
-Iphone 8 plus

On

[2020-09-02 15:25] wolffe commented on #17959
3 years later, I have the same issue.

[2020-09-02 15:34] brock-martin commented on #17959
Hey @wolffe - we ended up creating a custom solution:

- We have a "permissions" table that holds basic details about the permission (user_id, product_id, date, amount paid, etc).
- We have a hook that looks for changes in order status and adds or removes permissions if needed (completed, processing, returned, etc)
- We have a page where we can manually add or remove permissions as needed. For exa

[2020-09-02 15:42] wolffe commented on #17959
I also have a custom function and it's pretty slow. It's only accessed 1 in 100 visits, so I think it's fine.

I wanted something official, as I've been searching Google for the past 2 hours. Thanks for replying 👍

[2020-09-02 15:59] Lahcen43 commented on #22706
Should we wait? or is it better to look for a woocommerce alternative without this issue? it is not possible to control the stock especially when there are several variations, with this issue.

[2020-09-02 16:39] midi9x commented on #27419
Same issue. Confirm temp fix from @choijun work.

[2020-09-02 17:53] tijosh commented on #27445
+1, able to reproduce this

[2020-09-02 18:22] Engage11 commented on #27550
Thanks, I contacted them directly. I have a suspicion that it could be a Chrome thing as well.

[2020-09-02 19:30] MC-Rider commented on #27419
Reverting to WooCommerce v4.3.3 appears to have fixed the problem for me. I tried removing code line 399 in v4.4.1 as mentioned above and that did not solve my problem (that I described above).

Question: Not sure if this is a related issue or not — I just noticed today that pagination on my main Shop page only is not working correctly. From the main Shop page, Page 2 and onward show no products b

[2020-09-02 19:42] MC-Rider commented on #27502
Also posted this in thread #27419. But that thread appears to have been closed so wanted to post here too as they are related issues...

---
Reverting to WooCommerce v4.3.3 appears to have fixed the problem for me. I tried removing code line 399 in v4.4.1 as mentioned above (in post #27419) and that did not solve my problem (that I described also in post #27419 ).

Question: Not sure if this is a

[2020-09-03 03:31] juliaamosova commented on #27419
Hi everyone who is experiencing the issue in this thread 👋 . Today we released [WooCommerce 4.5 RC3](https://developer.woocommerce.com/2020/09/03/woocommerce-4-5-release-candidate-3/) which contains the fix for the widget issue. If as many of you could test the fix and let us know how it goes for you, it will be very helpful.

Please note that we always recommend testing on the staging (copy of yo

[2020-09-03 09:29] Niels1307 commented on #27536
Hello? Can nobody help me?

[2020-09-03 10:38] dangereyes88 opened #27574 "If product is virtual, shipping content dosn't hide"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Product data section (add new product page) page, if shipping tab is selected, and you click on virtual tab. Shipping tab will hide, but sh

[2020-09-03 10:43] robertodocbu opened #27575 "Checkout plugin doesn't work"
Hello,
I would like to show two woocommerce errors.

first mistake
when a user uses cash payment they don't seem to add the price for the service to their cart

second mistake
the checkout for woocommerce plugin does not insert new fields, for example I need the tax code but when I insert it in the chechout page it does not show it.

Thank you

[2020-09-03 10:59] sjoerdstaal commented on #27419
Unfortunately still not working as expected, the count of the filters (attributes) is off, with a total of 1856 products, it is weird that there are over 3000 '2ch' products available.

![image](https://user-images.githubusercontent.com/215978/92106464-b9938280-ede4-11ea-9f60-5011b278931a.png)

Also after selecting a filter, for example Jazz in Genres, all other attribute filters disappear.

![ima

[2020-09-03 11:05] nilsglow opened #27576 "Persistent cart not cleared after checkout without payment"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When an order is completed without payment (order total is 0), the persistent cart is not cleared and thus the items remain in the cart.

*

[2020-09-03 12:12] juliaamosova commented on #27419
Thanks for testing and reporting back here @sjoerdstaal! We are working on the follow-up fix.

[2020-09-03 12:40] Mukundan36 opened #27577 "Product Variations disappear for the product which is on scheduled sale and price resets to 0"
This problem occurs for some products.

Scenario:

A variable product is added and scheduled for sale after one week.
Until the sale date, the product is working well on both frontend and backend. But as soon as the sale starts the product price is set to zero and no variations are seen both on frontend and backend. Please reply if there is an immediate fix.
Many products on my site are zero.
![im

[2020-09-03 15:30] Micemade commented on #19427
@FrEaKmAn - did you solve this?
The products list in admin is showing `post_date` value, even if date field shows it as "Last updated" (I tested it, and it never updates to `post_modified`. This is important to me so my clients can give me information on which old product drafts can be deleted.
Thanks

[2020-09-03 15:46] jamesckemp opened #27579 "`get_filtered_term_product_counts()` doesn't cater for nested tax queries"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

I have a plugin which adds to the tax_query. It adds a nested tax query (see "Nested taxonomy handling": https://developer.wordpress.org/r

[2020-09-03 15:52] kylemcph commented on #27419
Another report here: 3266408-zen

[2020-09-03 16:31] falahati commented on #27376
@larssn's point is valid. However, may I suggest keeping this in mind when and if the Woocommerce team decided to release the 4th version of the REST API? In the next version, we should be able to fix this discrepancy between the request and responses of this endpoint. Meanwhile, since we already have working codes, it makes sense to just update the documentation. Even tho I am willing to modify m

[2020-09-03 17:12] gglobalstep opened #27580 "[GlobalStep - WooCommerce 4.5 RC3] Records deleted from "All user" page are still available on the WooCommerce -> Customers page."
## Bug Description:
Records deleted from "All user" page are still available on the WooCommerce -> Customers page .

## Environment:
Windows 10
Browser: Chrome(Version 85.0.4183.83 (64-bit))
                 Firefox(Version 80.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps to Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. G

[2020-09-03 17:54] juliaamosova commented on #27577
Hi @Mukundan36,

Thanks for raising the issue.

There is no immediate fix as this is the first time we are seeing this error being reported. Our first attempt is to reproduce it. I set up a variable product on my test site to go on sale tomorrow. I will follow-up here with my findings.

In the meantime, it will be great if you could share your current System Status Report. You can get it by naviga

[2020-09-03 18:03] MC-Rider commented on #27419
Sorry to report no change for me. I have screen shots of the following if you would like me to post them.

1) Products added to the shop while running v4.4.x do not appear in attribute filters. Products added under v4.3.3 and earlier do.
2) Where there is a mix of products (on the main shop page or in a category), pre-v4.4.x product attributes appear, post-v4.4.x do not.
3) Where all products are

[2020-09-03 18:32] YuriCoelho197 commented on #25623
Hi @juliaamosova, @claudiosanches , @mrohnstock

I had the same problem on a site.
I identified that the problem came from a plugin. This plugin used the "woocommerce_checkout_create_order_line_item" hook, and inside the function it performed a $item-> save().

By removing this hook, the problem was solved.

I also reproduced it on a blank site, all updated (woocommerce 4.4.1), without cache, addi

[2020-09-03 19:57] juliaamosova commented on #27580
Hi @gglobalstep,

Thank you for reporting the issue. Customer deletion in this case is a part of WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

This is in reference to https://github.com/woocommerce/woocommerce-admin/issues/

[2020-09-03 20:30] Bradzer opened #27582 "What is the default formula to calculate cart total ?"
Hi.

I would like to know what is the default formula to calculate the cart total.

When I retrieve the cart totals, this is what I get :

[code]

WooCommerce version 4.3.1

[2020-09-03 21:04] juliaamosova commented on #27576
Hi @nilsglow,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I placed an order with the coupon that gives 100% discount and the cart was empty when the order was placed:

![cart](https://user-images.githubusercontent.com/19143190/92166856-5c5cf880-ee07-11ea-8eee-5e0846ecb998.jpg)

Can you please confirm

[2020-09-03 21:06] juliaamosova commented on #27575
Hi @robertodocbu

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

Also please submit 2 separate issues if you decide to proceed with filling out templates that include steps to reproduc

[2020-09-03 21:14] juliaamosova commented on #27574
Hi @dangereyes88

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![](http://g.recordit.co/XbdnVm0wsD.gif)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future r

[2020-09-03 21:15] rodrigoprimo commented on #27326
Just documenting here that I started investigating this problem. It is caused by this change in WordPress core:

https://github.com/WordPress/WordPress/commit/22d0cd6c963d4ac0e203f7423294c15fb2e5d45a#diff-fc8970b78a0739bd367f17c3a8e552e6L1993

Related ticket:

https://core.trac.wordpress.org/ticket/39074

Basically, we are relying on WordPress core CSS on our own elements and core changed. A quick

[2020-09-03 21:17] juliaamosova commented on #27563
Hi @AhsanHameed97,

Thanks for raising the issue. However, you didn't fill our bug report template and did not provide steps to reproduce. In addition to that, can you please confirm if the issue happens only with the Ocean WP theme? Have you tried switching to other themes such as Storefront to isolate the issue?

[2020-09-03 21:20] juliaamosova commented on #27561
Hi @merizindge2050,

Thanks for raising the issue. Can you please confirm if you carried out the initial troubleshooting such as testing your site for a theme and plugins conflict?

To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.

If the issue is resolved with

[2020-09-03 21:26] juliaamosova commented on #27556
Hi @ambisyoso901,

Thanks for raising the issue, however, you did not provide any details as far as steps to reproduce the issue (type pf coupon used) and what version of WooCommerce are you using?

Please provide us with more details so that we could take a look further.

[2020-09-03 21:36] juliaamosova commented on #27550
Hi @Engage11,

Thanks for raising the issue. However, if you are using one of the payment gateway plugins, it will be best to contact them for further help which you mentioned you already did.

It is not clear what feature you are looking to turn off here? Is it the ability to place manual orders in WooCommerce? If this is the case, there is no option in settings to disable this functionality.

If

[2020-09-03 21:44] Engage11 commented on #27550
I think you missed the other part of my messages. I thought there was a feature to allow transactions without card data filled out.
It put through 2 transactions and randomly grabbed a card used from 5-6 months ago. Normally it would warn when the payment fields are not filled out. The bug happened twice and I can't seem to find record of where the issue occurred.
I'm still waiting to hear back fr

[2020-09-03 21:49] juliaamosova commented on #27550
We don't have such a feature in WooCommerce Core. If there is one in your site, it is likely provided by the payment gateway plugin.

It doesn't look like there is a bug in WooCommerce Core which is why I am closing this issue. Please feel free to comment back in case I missed something and we'd take another look.

[2020-09-03 21:49] #27550 closed

[2020-09-03 22:02] ambisyoso901 commented on #27556
Hi @juliaamosova ,

Regarding Coupon this is in the Usage Limits:  "How many times this coupon can be used by an individual user. Users **billing email for Guest,**, and user ID for Logged in users."

It says it will check the billing email for the guest but it didn't check and the order went through.

[2020-09-04 00:06] ecom1st commented on #13040
Same issue on September 3rd 2020, I try everything, nothing works :-(

[2020-09-04 05:26] Nick-tech-2691 opened #27584 "woocommerce rest api 401 error"
![post](https://user-images.githubusercontent.com/52854535/92202687-2702ea00-ee9d-11ea-91f5-41e8a42652b9.png)
this problem is coming with all the projects which are using woocommerce plugin, all of them were working fine but suddenly since this Monday, I'm stuck with this problem.
I've used insomnia also but the same thing is coming up.

**WordPress 5.4.2
WooCommerce plugin 4.4.1
Rest API v3**

[2020-09-04 06:42] patel-satish opened #27585 "Indian localised number format"
**Is your feature request related to a problem? Please describe.**
I am requesting for Indian thousand separator in localised format for WooCommerce.
In India currency units are expressed somewhat differently.

For example,
In the USA : $100,000 | In India : ₹1,00,000
In the USA $1,000,000 | In India :  ₹10,00,000
In the USA $10,000,000 | In India :  ₹1,00,00,000
and so on.

As you can notice, num

[2020-09-04 08:03] om4james commented on #26847
Thank you for the feedback @ObliviousHarmony.

I have just implemented the changes and submitted PR #27587

[2020-09-04 08:12] imranbts opened #27588 "WooCommerce Slack Extension Issue"
There is an exception handling issue found in the WooCommerce Slack extension.

Please see the issue details below.

**Issue Description:**

An error of type E_ERROR was caused in line 186 of the file /wp-content/plugins/woocommerce-slack/includes/class-wcslack-client.php. Error message: Uncaught Error: Cannot use object of type WP_Error as array in /wp-content/plugins/woocommerce-slack/includes/c

[2020-09-04 11:43] merizindge2050 commented on #27561
Hi @juliaamosova we did update the Woocommerce on fresh website and we facing same issue there too. i am not understanding why its happening with us?

[2020-09-04 12:32] mikkamp commented on #27588
Moved over to the woocommerce-slack repo: https://github.com/woocommerce/woocommerce-slack/issues/71

[2020-09-04 12:32] #27588 closed

[2020-09-04 12:59] jmawebtech opened #28111 "WooCommerce Fails to Recognize Timezone"
Hi,

Error: When querying orders in UTC time, WooCommerce fails to recognize the timezone. I am sending UTC time, but WooCommerce uses its own timezone instead.

Steps to reproduce:

Here is the site:

https://www.idscad.com/wc-api/v3

store": {
"name": "IDS CAD",
"description": "Digital Artistry",
"URL": "https://www.idscad.com",
"wc_version": "3.8.1",
"version": "3.1.0",

https://www.idscad.com/

[2020-09-04 13:14] rodrigoprimo commented on #27326
I just opened a PR to fix the problem described in this issue (#27590). Ignore my comment above regarding the other problem reported in the core ticket. The CSS on my dev environment was outdated so I missed that the problem was already fixed in another PR (#27173).

[2020-09-04 13:27] rodrigoprimo commented on #27381
I moved this issue to the 4.5.0 milestone to match the milestone of the related PR.

[2020-09-04 13:32] mizzmelisaves opened #27591 "Woocommerce not calculating tax"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have se

[2020-09-04 13:44] mzdebo commented on #27549
From my understanding WooCommerce doesn't use the default theme templates. You have to declare WooCommerce support for the theme you are using, and then create custom templates in your theme (or child theme). Here are some articles that might help you out. Good luck.

https://docs.woocommerce.com/document/woocommerce-pages/
https://github.com/woocommerce/woocommerce/wiki/Declaring-WooCommerce-supp

[2020-09-04 18:02] b3gund4L opened #27593 "Product Type dropdown gone? wp.5.5 woocomerce 4.4.1"
![Screenshot_2](https://user-images.githubusercontent.com/47254852/92271675-6c153380-ef12-11ea-9995-b69d901ef463.png)

can anyone help me
I have tried various methods on Github
even this I created a new domain and database,
I only installed wp and woocomerce with the default storefront theme ...

[2020-09-04 18:08] b3gund4L commented on #27593
`
### WordPress Environment ###

WordPress address (URL): https://dev.bacot.in
Site address (URL): https://dev.bacot.in
WC Version: 4.4.1
REST API Version: ✔ 1.0.15
WC Blocks Version: ✔ 3.1.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.4.0
Log Directory Writable: ✔
WP Version: 5.5.1
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US
External object cach

[2020-09-04 18:32] biuroreklama commented on #27593
Try update wordpress to 5.5.1. I had this problem, but after I update WP,  default woo filters don't display.

[2020-09-04 18:38] b3gund4L commented on #27593
web is already on wp 5.5.1

[2020-09-04 19:47] juliaamosova commented on #27593
Hi @b3gund4L,

Thanks for raising the issue. We fixed it in WooCommerce 4.4.2 release. Please update WooCommerce to at least 4.4.2 to get it fixed.

[2020-09-04 19:55] juliaamosova commented on #27591
Hi @mizzmelisaves,

Thank you for submitting the issue. However, we need more clear steps to replicate it. It will be helpful if you could let us know which country your store is based in and if you could also provide screenshots of your tax settings.

In addition to that, it will be great if you could share your current System Status Report. You can get it by navigating to the `WooCommerce / Stat

[2020-09-04 20:00] juliaamosova commented on #27585
Hi @patel-satish,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases. Thanks for your patience!

[2020-09-04 23:13] aseelashraf opened #27595 "CRITICAL Uncaught RuntimeException: Error saving action: Unable to save action."
im trying to access woocommerce in my Wordpress admin but I get this error
.. i tried several ways to solve this but no luck ..
PLEASE HELP ME
I tried to install action scheduler didn't work
I tried to downgrade/update woocommerce didn't work..

[code]

[2020-09-05 07:48] Intervik commented on #27579
get_filtered_term_product_counts throws an database error in my log files for latest Woocommerce (layered nav filters widget)

[2020-09-05 10:14] IfhamHaider commented on #12229
im stucking with the same issue :(

[2020-09-05 13:48] #26842 closed

[2020-09-05 14:13] #26537 closed

[2020-09-05 14:27] #27523 closed

[2020-09-05 18:20] leahwo opened #27597 "Product Category link takes you back to shop base page"
I'm not sure why but when I use a product categories block the actual link should take you to that particular category but instead every category link takes me back to the shop base page.
http://foliaevents.com/newsite/add-ons/

[2020-09-05 18:55] jsak6699 opened #27598 "https://github.com/woocommerce/woocommerce.wiki.git"
Please report issues for the following features directly to their respective repositories.

WooCommerce REST API: https://github.com/woocommerce/woocommerce-rest-api

WooCommerce Admin: https://github.com/woocommerce/woocommerce-admin

WooCommerce Gutenberg Products Blocks: https://github.com/woocommerce/woocommerce-gutenberg-products-block

Action Scheduler: https://github.com/woocommerce/action-

[2020-09-05 20:18] B-Anders commented on #27419
Stumbled on the filter issue with some differences and also **found a workaround** for my situation:
I need one attribute that will be used for filtering (with the attribute filter widget) and another attribute used for variations.

The problem is that, I can only pass one of the attributes to variations, the other is not allowed to generate any variation option. But the attribute missing from var

[2020-09-05 20:32] kesk82 opened #27599 "Removing attributes with WC_Product::set_attributes produces PHP Notice: Trying to access array offset on value of type null"
Hello,

I am trying to delete attributes from a product with [`set_attributes()`](https://github.com/woocommerce/woocommerce/blob/master/includes/abstracts/abstract-wc-product.php#L1107). I use the following code:

[code]

The attribute key remains in the attributes array with a NULL value which then causes a PHP warning:

[code]

Am I doing something wrong? Is `set_attributes()` not intended to d

[2020-09-06 02:51] jjxtra commented on #18034
Seeing this as well after updating woocommerce plugins recently... :(

[2020-09-06 02:53] jjxtra commented on #23808
Updated to latest woocommerce plugins and subscription plugins and now I am seeing this also :(

[2020-09-06 02:55] jjxtra commented on #18034
I think I figured out what causes this - when going into cancelled subscriptions and re-activating a subscription, the web hook comes back as an empty array. For new subscriptions it appears to work fine. Would love a fix soon!

[2020-09-06 03:25] jjxtra commented on #18034
Deactivating woocommerce and woocommerce subscriptions, then reactivating and re-doing the setup wizard fixed the issue. I have to do this everytime I update the woocommerce plugin, otherwise these errors start happening.

[2020-09-06 03:25] jjxtra commented on #23808
Deactivating woocommerce and woocommerce subscriptions, then reactivating and re-doing the setup wizard fixed the issue. I have to do this everytime I update the woocommerce plugin, otherwise these errors start happening.

[2020-09-06 05:38] Mukundan36 commented on #27577
`
### WordPress Environment ###

WordPress address (URL): http://siteName.wpengine.com
Site address (URL): http://siteName.wpengine.com
WC Version: 4.4.1
REST API Version: ✔ 1.0.15
WC Blocks Version: ✔ 3.1.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.4.0
Log Directory Writable: ✔
WP Version: ❌ 5.4.2 - There is a newer version of WordPress available (5.5.1)
WP Multisite: –
WP Memory Li

[2020-09-06 05:47] Mukundan36 commented on #27577
@juliaamosova Actually this dint occur with the current version of Woocommerce, this happened on the before version, then I thought that this might be because of the updates that were not updated. So decided to update all the plugins and updated everything, but still the same issue. Now should I need to manually update all the prices ????

[2020-09-06 12:11] teledirigido commented on #16683
Same problem here: Even doing UTC or YYYY-MM-DD...YYYY-MM-DD. `wc_get_orders` retrieves wrong orders

[2020-09-06 12:39] teledirigido opened #27600 "wc_get_orders and date filter not working"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

I am retrieving some Orders using `wc_get_orders` and the following arguments:

[code]

According to the documentation here:
YYYY-MM-DD -

[2020-09-06 12:48] teledirigido commented on #27600
Also tried doing by following `Timestamp` like this:

**1598824800...1598911199**

Which translates into **08/31/2020 00:00:00... 08/31/2020 23:59:59**

[2020-09-06 19:50] kesk82 commented on #27599
I apologize, I just saw that the error was already fixed in [`wc_product_attribute_uasort_comparison()`](https://github.com/woocommerce/woocommerce/blob/master/includes/wc-core-functions.php#L1695).

[2020-09-06 19:50] #27599 closed

[2020-09-07 06:49] gayathri-storepro opened #27601 "& not working on coupon fields for guest users"
Special characters like "&" not working with coupon codes for guest users. For example, guest users cannot use coupons a@a.

It seems that the & symbol is breaking coupons. On Chrome/Firefox on Windows, when a coupon has the ampersand (&), it breaks the coupon and throws the message, "This coupon does not exist!" Replace the & with something "n" and it works; no problem.

Have not tested other spe

[2020-09-07 07:23] thuautp commented on #27521
Also seen in this forum thread: https://wordpress.org/support/topic/country-field-is-not-validated-customers-leave-it-blank/

[2020-09-07 09:52] savrip opened #27603 "WordPress database error: [Table 'user_domain.wp_actionscheduler_actions' doesn't exist]"
I'm having some issues, which I have researched in other threads, but I'm not coming up with a solution.  I have seen the plugin that is suppose to add the tables back, but that also is running into an error.  I thought I would start back at WooCommerce and see if there was a way to manually add the tables back.  Here is the errors generated by debug.log.  The table was undoubtedly removed by WP-O

[2020-09-07 09:52] GlueDigiStu commented on #27026
I've recently had the same issue with a store I'm working on, I managed to temporarily resolve by forcing the wc_get_rounding_precision() function to return 2 by editing the core code, but obviously this is not a fix - I was just exploring solutions.  Is there a reason why we're not allowed to set a rounding precision of 2 decimal places and it has to be at least 2dp beyond what the currency is se

[2020-09-07 10:28] savrip commented on #27603
Another quick addition I just discovered that might save some headache.  I do have Updraft backups.  Would you recommend I restore changes from newest to oldest and this would solve my problem?

[2020-09-07 11:14] adhamoc commented on #27519
Hi there,

same issue with me, just updated from 4.2.0 to 4.4.1 and noticed that I can't filter variable products by attributes anymore and I'm actively using this option.

Hope you find a fix as soon as possible.

[2020-09-07 11:23] MOvergaard77 opened #27604 "I can not changes email page=wc-settings&tab=email"
when I try to edit email on new order, it will not save

[2020-09-07 12:21] bernattorras commented on #27521
3294665-zen

[2020-09-07 13:57] thuautp opened #27605 "Coupon limit reaches after returning to site without completing PayPal Standard payment"
User reported in https://wordpress.org/support/topic/woocommerce-coupon-limit-issue-2/

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

**Steps to reproduce the bug (We need to be able

[2020-09-07 14:07] grigorijurasov commented on #27519
I can replicate with variable products.

Steps to replicate:

1. Create a variable product.
2. Add a "Filter Product by Attribute" widget https://d.pr/i/EjZQLs with an attribute this variable product is using.
3. Add the product to a product category and navigate to the category page where the widget should show up.
4. The widget is not displayed.
5. Change the product type to "simple product" and

[2020-09-07 14:25] TheGranadilla opened #27606 "#26260 Fix break Filtering widget"
Since 4.4, filtering widget isn't working with product attributes on my website.
EVERY plugin desactivated, and switched to Twenty Sixteen.

4.5.0-rc.3 tested, filters not working.
4.4.1 : Not working
4.4 : Not working
4.3.3 : Working
4.3.0 : working

—————
4.4 Changelog :
* Fix – The filtering widget now works as expected with variable products, displaying those products for which visible variati

[2020-09-07 14:27] TheGranadilla commented on #27519
Oof, why this went live :S

[2020-09-07 18:28] WPprodigy opened #27608 "PHP Fatal error: Uncaught Error: Class 'Automattic\WooCommerce\Container' not found"
This is a pretty intricate issue, but feels like something that needs to be addressed in some way.

When the WC core plugin is activated via the traditional plugins UI, this error does not occur. But if the plugin is loaded a different way, such as [`wpcom_vip_load_plugin()`](https://github.com/Automattic/vip-go-mu-plugins/blob/fc3f19d2301bdd20f9d3af3ccba3ae66c8cd9bde/vip-helpers/vip-utils.php#L10

[2020-09-07 19:20] pgamaster commented on #27606
+1 same stuff my store is simply broken now, random filtering options show, no size filtering

[2020-09-07 19:21] pgamaster commented on #27519
please fix it asap, clients can't filter products by size

[2020-09-07 19:25] DavidAnderson684 opened #27609 "When errors prevent loading the checkout, only generic text is shown"
Here in https://github.com/woocommerce/woocommerce/blob/6eb65cb40c79c2b657b190793ca9a25dccec06b1/includes/shortcodes/class-wc-shortcode-checkout.php#L280 , there's a check on whether any errors have been registered. If they have, then the template `checkout/cart-errors.php` is shown.

That template contains only a generic error message ("There are some issues with the items in your cart. Please go

[2020-09-07 19:27] harryrbrown commented on #27561
Also got the same issue

[2020-09-08 08:06] glagonikas opened #27611 "Tax is added to shipping classes when "I will enter prices including VAT" is selected"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When tax is enabled and set to "I will enter prices including VAT", any taxable shipping classes do not get the memo and still have tax add

[2020-09-08 10:59] RiaanKnoetze commented on #24184
Also raised here: https://wordpress.org/support/topic/tax-related-rounding-issue-in-wc-still-persists/

[2020-09-08 11:03] TimothyWildgust commented on #23645
I had the same problem. What I did to fix it was bulk edit the products and even tho they said out of stock I selected out of stock and hit update. After that I bulk edited again and set them to in stock. It worked for me 👍

[2020-09-08 15:07] tijosh commented on #27445
To add more context, adding products to existing orders that are `On hold` does not reduce stock of those items. The stock of the originally-added item does reduce if modified.

The order must be set to `Pending Payment` and then back to `Processing` for stock levels to update.

![Screenshot](https://d.pr/i/7hlRaC+)
*Link: https://d.pr/i/7hlRaC*

Here's the best procedure to add items to existing

[2020-09-08 15:44] juliaamosova commented on #27390
Noting here that this issue will need to be addressed in Jetpack and then shipped in a new version of the autoloader.

[2020-09-08 16:04] claudiosanches commented on #27330
There's already a repository for it, we should move all issues related to the code reference to it's repository.
I'm going to move this issue there.

@starypop please feel free to open issues on https://github.com/woocommerce/code-reference
Thanks for your suggestions.

[2020-09-08 16:10] #27326 closed

[2020-09-08 16:57] vedanshujain commented on #27419
reopening based on recent comments

[2020-09-08 17:27] juliaamosova commented on #27593
Hi @b3gund4L,

My apologies! It appears that I made a mistake in my previous reply.

We have fixed this issue on the WooCommerce side of things in version 4.3.2 (https://github.com/woocommerce/woocommerce/pull/27170). However, this issue is present on sites using WC 4.3.2+ where the issue is caused by 3rd party plugins. Which seems to be your case.

WordPress 5.5 removed a javascript file called `

[2020-09-08 19:10] #27538 closed

[2020-09-08 20:51] lukecav commented on #27595
Does the same issue happen if using WooCommerce 4.4.1 on the site?

[2020-09-08 22:16] jimbardim opened #27617 "checkout issues"
so i have guys 2 problems

here my website
https://sentralshop.com/
i use checkout blocks

now here the 2 problems
1) on the checkout page it says continue shopping while this suppose to be on the cart page and not any other site has this problem.

2) everytime someone goes in my checkout inside in my dashboard it records it as a sale

[2020-09-09 04:25] kosiew opened #27618 "Variable Product - if select `0` as attribute value, Customer gets an error message `Attribute-xxx is a required field`"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-09-09 05:06] cadonovan opened #27619 "after update to 4.5.0 I get the message - You have installed a development version of WooCommerce which requires files to be built and minified. From the plugin directory, run grunt assets to build and minify assets. Or you can download a pre-built version of the plugin from the WordPress.org repository or by visiting the releases page in the GitHub repository."
After auto-update, I get the message in my dashboard:

You have installed a development version of WooCommerce which requires files to be built and minified. From the plugin directory, run grunt assets to build and minify assets. Or you can download a pre-built version of the plugin from the WordPress.org repository or by visiting the releases page in the GitHub repository.

Craig

[2020-09-09 05:06] midi9x commented on #27419
On shop page it working fine, but on product category not working, product filter not show :(

[2020-09-09 05:26] galbaras opened #27620 "Slow, confusing and nagging database update messages"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**The problem**

Following a plugin update, a notice appears to update the database. After clicking the update button, the database update is not queued.

Inste

[2020-09-09 05:42] rosimannus commented on #27419
Just updated to 4.5 and still same issue. I have 3 different filters (brand, color, size). Only color seems to work correctly. Brands are shown but after selecting 1 of them then other filters will disappear and only some of the products are shown. Size filters show just one size nr 38 and thats it :D.

[2020-09-09 06:29] omidhajivali commented on #27603
I have the same problem in my site
I created the table through a backup
and after this
received a new error:
"Error saving action: Unable to save action." in checkout page

[2020-09-09 06:30] omidhajivali commented on #27595
I have the same problem

[2020-09-09 06:35] aseelashraf commented on #27595
i solved the problem by installing fresh wordpress on a subdomain and then migrated 4 tables for action scheduler to the old website but make sure you delete the tables before

[2020-09-09 06:51] mixalisen commented on #27606
Same here. I just installed the new 4.5.0 version and still doesn't work. They didn't fix it...

[2020-09-09 06:53] mixalisen commented on #27519
Hi guys,
just installed the new 4.5.0 version and the problem still exists.

[2020-09-09 07:00] biuroreklama commented on #27593
Filters still don't appear after updating Woocommerce to 4.5 version.

[2020-09-09 07:06] mixalisen commented on #27419
Hi guys,
same here. Just installed the new version 4.5.0 and the problem still exists. I use a temporary fix like Florent mention:

QUICK FIX :
plugins/woocommerce/includes/widgets/class-wc-widget-layered-nav.php

Line 362, Replace :
$exclude_variable_products_tax_query_sql = $this->get_extra_tax_query_sql( 'product_type', array( 'variable' ), 'NOT IN' );

By :
$exclude_variable_products_tax_query

[2020-09-09 08:03] wpessential opened #27621 "get_current_page was called incorrectly"
Hi Team WooCommerce,
I found an error on my demo import page and error is:

**Notice: get_current_page was called incorrectly. Current page retrieval should be called on or after the `current_screen` hook. Please see **

![error](https://user-images.githubusercontent.com/24288930/92571666-d4f70580-f29c-11ea-99a9-a38ba78066cc.jpg)

[2020-09-09 08:04] wpessential commented on #27621
And WooCommerce Version is 4.5.0

[2020-09-09 08:06] jamesckemp commented on #27579
Seems to be a few issues with term count in the latest version: https://wordpress.org/support/topic/woocommerce-product-filters-bug/

[2020-09-09 08:32] RobertVerdonschot commented on #27519
This broke very important functionality in my clients store.
Good to see the original author is aware of the problem and is working it!

Is there anything we can do to help or give this issue more priority or attention?
(Status is still open and no labels assigned yet)

[2020-09-09 08:37] jeherve opened #27622 "i18n: automatically import W.org translations from woocommerce-admin"
I see that you're already updating the textdomain strings for packages like WooCommerce Admin thanks to this script:
https://github.com/woocommerce/woocommerce/blob/d9990b752e2744406870380380e3fd0f085bd33e/bin/package-update.sh

This allows all strings originally created for the WooCommerce Admin plugin to be made available for translation on translate.wordpress.org.

I was curious, however, if ex

[2020-09-09 08:58] grigorijurasov commented on #27419
@juliaamosova hi, I've got a question.

The changelog says this for WooCommerce 4.4:

* The filtering widget now works as expected with variable products, displaying those products for which visible variations are available. #26260

In this older report though, we decided not to fix that:

https://github.com/woocommerce/woocommerce/issues/24331#issuecomment-577662456

Am I right to assume the out-

[2020-09-09 09:01] aovivo2000 commented on #24184
Hi there, as discussed many, many times there is still a rounding issue in WooCommerce in terms of tax calculation.

There a still users and devopers aswell facing this issue, still in WC 4.5 I am not seeing any change.
No matter how many decimals I use, nor which rounding option I select – the cart always shows a wrong sutotal/total.

This is not only frustrating (to reimburse customers cents ..)

[2020-09-09 09:41] gevcen opened #27623 "Cancellation of order currently in status "pending payment""
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-09-09 09:49] dougaitken commented on #27424
Reported as well in 23983523-hc

As a note - I replicated this on one site before 4.4 but now cannot replicate this among my own sites.

[2020-09-09 10:38] nampen123 opened #27624 "Shipping cost not correct"
Updated to 4.5.0 and now the orders didn't calculate the shipping costs..
So customers didn't pay for shipment.

New setting that shipping cost only get calculated after filling in the adress is the cause of this issue.
Changed it to the old setting and now shipping cost is calculated.

Where can I get my money back?....

**Prerequisites (mark completed items with an [x]):**
- [x] I have checked t

[2020-09-09 11:10] dougaitken commented on #27624
Found this issue via 20283751-hc, I've replicated on my own site

* Ensure the option is checked **before** the update
 * **WP Admin > WooCommerce > Settings > Shipping > Shipping Options > Calculations > Check - Hide shipping costs until an address is entered**
* Update site to WooCommerce 4.5
* Go through order flow with a physical product that has shipping costs and would otherwise trigger a sh

[2020-09-09 11:33] tammullen commented on #27624
Hi @nampen123

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.
Thanks @dougaitken for the extra info.

![Screenshot 2020-09-09 at 12 31 49](https://user-images.githubusercontent.com/24649833/92593097-7891e700-f298-11ea-8183-84ade9f9998c.png)
![Screenshot_2020-09-09_at_12_14_53](https://user-images.githubusercontent.com/24649833/925931

[2020-09-09 11:57] tomasz-bednarek opened #27626 "Shipping net price is rounded to 2 positions after the decimal point in an order"
Hi there!

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When using WordPress 5.5 and WooCommerce 5.4 or 5.5 only - I will receive shipping flat rate or any other shipping method wit

[2020-09-09 12:19] b3gund4L commented on #27593
Don't you see my woocommerce status
which only installs woocomerce and storefronts
and I don't use any plugins other than woocomerce and jquery helper
I've also tried several versions of PHP
I even reset my database and cache.

[2020-09-09 12:20] omidhajivali commented on #27603
I also installed wordpress and woocommerce in a subdomain with new database
next from phpmyadmin move wp_actionscheduler tables to my mrimary database
problem solved
before change in db, Make a backup

[2020-09-09 12:31] juliaamosova commented on #27623
Hi @gevcen,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Please see gif below showing that the order status changes from `Pending payment` to `Cancelled` successfully:

https://recordit.co/agm7NCm7N9

I see that you have 59 active plugins installed and that you don’t use one of our default themes whic

[2020-09-09 12:39] peterfabian commented on #27624
FYI:
Customer will be able to checkout without paying for shipping if both of the below are true:
- Customer’s country does not require state
- setting `Hide shipping costs until an address is entered` is checked

The workaround, for the time being, is to set `Hide shipping costs until an address is entered` to false.

We are working on a hotfix.

[2020-09-09 12:49] juliaamosova commented on #27621
Hi @wpessential,

Thanks for raising the issue. However, I am not sure yet it is coming from WooCommerce. Can you please provide more clear steps to reproduce the issue? Are you using the WooCommerce plan on the WordPress.com website? Are you trying to import products via CSV file to your site?

The more details you can provide, the faster we will be able to understand what could be happening.

[2020-09-09 12:54] juliaamosova commented on #27619
Hi @cadonovan,

Thank you for submitting the issue. However, I couldn't reproduce it.

Can you please provide a bit more details? Have you ever used a development version of WooCommerce on your site? Have you updated WooCommerce from the previous version which was 4.4.1? Or from some other version?

[2020-09-09 12:55] peterfabian commented on #27619
Hi @cadonovan,

Based on the message it seems like the auto-update might have failed to extract all the files properly. Would you be able to  re-apply the update, either by uploading [the zip package](https://downloads.wordpress.org/plugin/woocommerce.4.5.0.zip) [through the WP admin](https://wordpress.org/support/article/managing-plugins/#manual-upload-via-wordpress-admin) manually or [via FTP](h

[2020-09-09 12:56] cadonovan commented on #27619
Hi.
I never used a development version. My site did an auto-update from the
previous version which was working fine.

On Wed., 9 Sep. 2020, 20:54 Julia Amosova, <notifications@github.com> wrote:

[2020-09-09 12:58] cadonovan commented on #27619
I restored the previous version from backup and will try to update it
again. If it does not work I will try your suggestion.
Thanks
Craig

On Wed., 9 Sep. 2020, 20:55 Peter Fabian, <notifications@github.com> wrote:

[2020-09-09 12:59] peterfabian commented on #27608
cc @ObliviousHarmony @Konamiman

[2020-09-09 13:04] juliaamosova commented on #27618
Hi @kosiew,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Documenting my steps below:

I have a variable product set up as described in the report:

![Screen Shot 2020-09-09 at 9 01 54 AM](https://user-images.githubusercontent.com/19143190/92601858-5178ec80-f27b-11ea-82b3-66a38d32a690.png)

![Screen Shot 2020-09-09 at 9 02 07 AM](

[2020-09-09 13:09] juliaamosova commented on #27617
Hi @jimbardim,

Thank you for reporting the issue. Checkout Block is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

However, your report is missing a lot of details on how to reproduce the issue. Also, it is not clear what the issues really are.

[2020-09-09 13:20] juliaamosova commented on #27606
Hi @TheGranadilla, @pgamaster, @mixalisen,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27419. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

We are aware that the issue is not resolved in WC 4.5. Apologies for that! We are working

[2020-09-09 13:20] #27606 closed

[2020-09-09 13:22] cadonovan commented on #27619
My restore to previous version then apply update again has worked ok.
Thanks for your help.
Craig

On Wed., 9 Sep. 2020, 20:58 Craig Donovan, <cadonovan@gmail.com> wrote:

[2020-09-09 13:23] juliaamosova commented on #27618
Noting that this issue should be resolved via https://github.com/woocommerce/woocommerce/pull/27625 which will be shipped in WC 4.5.1 asap.

[2020-09-09 13:26] juliaamosova commented on #27605
Hi @thuautp,

Thanks for reporting the issue! It seems to be a duplicate of https://github.com/woocommerce/woocommerce/issues/26741 which was fixed via https://github.com/woocommerce/woocommerce/pull/27179 and released yesterday in WooCommerce 4.5.

I see in your System Status Report that you are using WC 4.3.2 version. Can you please update to WC 4.5 and test again to see if it fixed?

[2020-09-09 13:27] juliaamosova commented on #27604
Hi @MOvergaard77,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2020-09-09 13:32] juliaamosova commented on #27603
Hi @savrip,

Thank you for reporting the issue. It seems that it needs to be fixed in the Action Scheduler which is being developed in another repository: https://github.com/woocommerce/action-scheduler.

I am going to move your bug report there so that we could take a look further at the right place.

[2020-09-09 13:35] juliaamosova commented on #27601
Hi @gayathri-storepro,

Thanks for reporting the issue. However, it seems to be a duplicate of https://github.com/woocommerce/woocommerce/issues/23655 which we fixed via https://github.com/woocommerce/woocommerce/pull/27140 and released yesterday in WooCommerce 4.5.

I see that you are using WooCommerce 4.3.1. Can you please update to WooCommerce 4.5, test, and let us know if the issue is fixed fo

[2020-09-09 13:37] juliaamosova commented on #27598
Hi @jsak6699,

I am not sure what the issue here is as there is no description. We usually close this kind of threads without any further action.

If you are looking for WooCommerce Wiki, the correct link is here:

https://github.com/woocommerce/woocommerce/wiki

[2020-09-09 13:37] #27598 closed

[2020-09-09 13:38] juliaamosova commented on #27597
Hi @leahwo,

Thank you for reporting the issue. WooCommerce Blocks are being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2020-09-09 13:41] juliaamosova commented on #27595
Hi @aseelashraf,

Apologies for the delayed response here. Glad to hear you solved the issue.

I will move it to the Action Scheduler repository to see if there is anything for us to address further on it: https://github.com/woocommerce/action-scheduler.

[2020-09-09 13:54] juliaamosova commented on #27593
Hi @b3gund4L, @biuroreklama,

Thanks for the additional feedback.

Would you be able to re-apply the update to WooCommerce 4.5, either by uploading [the zip package](https://downloads.wordpress.org/plugin/woocommerce.4.5.0.zip) [through the WP admin](https://wordpress.org/support/article/managing-plugins/#manual-upload-via-wordpress-admin) manually or [via FTP](https://wordpress.org/support/articl

[2020-09-09 13:56] juliaamosova commented on #27619
Thanks for letting us know @cadonovan. Glad to hear it is now resolved for you.

I am closing this thread as it seems to be non-bug but we'll keep monitoring to see if we'd get more of these reported in which case we'd need to investigate further.

[2020-09-09 13:56] #27619 closed

[2020-09-09 13:57] cadonovan commented on #27619
ThanksCraig Sent from Mail for Windows 10 From: Julia AmosovaSent: Wednesday, 9 September 2020 21:56To: woocommerce/woocommerceCc: cadonovan; MentionSubject: Re: [woocommerce/woocommerce] after update to 4.5.0 I get the message - You have installed a development version of WooCommerce which requires files to be built and minified. From the plugin directory, run grunt assets to build and minify ass

[2020-09-09 14:00] om4james commented on #27584
Hi @Nick-tech-2691,

This could possibly be a duplicate of #26847 ?

[2020-09-09 14:13] b3gund4L commented on #27593
Hi julias  @juliaamosova
I created a new database on localhost
using wp 5.5.1 and woocomerce 4.5.0

and the problem is still the same, I don't get the product data & type dropdown menu

`
### WordPress Environment ###

WordPress address (URL): http://localhost/staging
Site address (URL): http://localhost/staging
WC Version: 4.5.0
REST API Version: ✔ 4.5.0
WC Blocks Version: ✔ 3.1.0
Action Schedule

[2020-09-09 14:34] starypop commented on #26994
@juliaamosova @peterfabian Any updates on this issue? WC Admin screens for non-english shop owners and managers are still not translated, labels are in English for more than 2 months now.

At least mark this issue as a Bug with high priority.

[2020-09-09 14:38] artpi opened #27629 "Fix inconsistent newlines in `packages/woocommerce-admin/dist/app/index.js`"
WPCOM deploy system fails because of inconsistent file endings:

[code]

[2020-09-09 14:39] juliaamosova commented on #26994
@starypop thanks for the ping here. And apologies for the delayed response. Adding a `high` priority here so that we could take a look further.

Also linking this thread for a possible solution?: https://github.com/woocommerce/woocommerce/issues/27622.

[2020-09-09 14:41] juliaamosova commented on #27629
Hi @artpi

Thank you for reporting. It looks like this needs to be fixed on the WooCommerce Admin side of things so I am moving it to its repository: https://github.com/woocommerce/woocommerce-admin.

cc @timmyc to see if you can take a look.

[2020-09-09 14:41] #27624 closed

[2020-09-09 14:57] mixalisen commented on #27606
Hi Julia,
thanks for letting us know...!!

[2020-09-09 15:32] mkchetan25 opened #27631 "Updated to WooCommerce 4.5.0: Now Rest API results 404 (rest_no_route)"
**Versions:**
Wordpress: 5.5.1
WooCommerce: 4.5.0

**Issue Description:**
Recently, I updated woocommerce to the latest version and now I'm facing this error while accessing the REST API
URL: https://v2farmfresh.com/wp-json/wc/v3/products

`
"code": "rest_no_route",
    "message": "No route was found matching the URL and request method",
    "data": {
        "status": 404
}
`

Your help is much a

[2020-09-09 15:34] teledirigido commented on #27600
I keep finding new issues:

I am checking the Analytics and I found this order "9851" being created on the 30/Aug

![Screenshot 2020-09-09 at 17 30 51](https://user-images.githubusercontent.com/3589929/92619934-6331b280-f2c2-11ea-9455-f2d233b55654.png)

However when I go to see the details I see this is from the 31/Aug

![Screenshot 2020-09-09 at 17 31 22](https://user-images.githubusercontent.com

[2020-09-09 15:47] mrleemon commented on #26994
Thanks for the heads up! Just in case, the language problems persist in the recently released WooCommerce 4.5.

[2020-09-09 15:49] vedanshujain commented on #27631
@mkchetan25 from your [routes endpoint](https://v2farmfresh.com/wp-json/) I don't see WC API endpoints listed. Can you please go to the status page (should be https://v2farmfresh.com/wp-admin/admin.php?page=wc-status) on your site and share the screenshot of `WordPress environment` section, I am mostly interested in the value of `WooCommerce REST API package:` row.

As a workaround, can you instal

[2020-09-09 15:49] gglobalstep opened #27632 "There is no validation warning for coupon amount when the percentage discount value is more than 100"
## Bug Description:
Validation fails to display for coupon amount field when the percentage discount value is more than 100.

## Environment:
Windows 10
Browser: Chrome(Version 85.0.4183.83 (64-bit))
                 Firefox(Version 80.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps to Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plug

[2020-09-09 15:49] pgamaster commented on #27519
Use 3rd party filters as a temporary solution.

[2020-09-09 15:59] Konamiman commented on #27419
Hi all,

I'm sorry for all the inconveniences caused. At this point it's clear that I didn't implement [the improvement for filtering out of stock variations](https://github.com/woocommerce/woocommerce/pull/26260) properly.

Given all the trouble this is causing, we're going to publish as soon as possible a fix release for WooCommerce 4.5 that reverts the feature, so the widget will work as it was

[2020-09-09 16:04] Konamiman commented on #27519
Hi all, please take a look at this: https://github.com/woocommerce/woocommerce/issues/27419#issuecomment-689657524

[2020-09-09 16:14] B-Anders commented on #27419
Hey @Konamiman ,
only those who don't do the work can't make mistakes.

For myself - and those with a similar problem - I found that the WOOF filter plugin does it's own counting and therefore works ok.

Thank you for your time.

[2020-09-09 16:16] mkchetan25 commented on #27631
@vedanshujain, glad to hear from you.

As mentioned, I attached the screenshot here:

![image](https://user-images.githubusercontent.com/31512936/92625052-d7318200-f2e5-11ea-8bb0-6e607f515300.png)

I can check by installing "rest api plugin" in my localhost and update you.

[2020-09-09 16:35] mkchetan25 commented on #27631
Unfortunately, I'm unable to find woocommerce-rest-api plugin in the wordpress plugins. Any other help?

[2020-09-09 16:47] vedanshujain commented on #27631
@mkchetan25 its not listed on wordpress, follow this link to download and upload manually to install https://github.com/woocommerce/woocommerce-rest-api/releases/tag/1.0.15.

Also, your environment status page looks correct, and all the APIs are listed, just the WC core APIs are not for some reason. I am unable to reproduce this issue on my local setup. Can you paste your full status report from t

[2020-09-09 16:50] mkchetan25 commented on #27631
Thank you, I'm checking with WooCommerce-Rest-API. In the meanwhile, please take a look on the status report:

`
`
### WordPress Environment ###

WordPress address (URL):
Site address (URL):
WC Version:
REST API Version: ✔ 4.5.0
WC Blocks Version: ✔ 3.1.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.5.0
Log Directory Writable: ❌ To allow logging
make  writable or define a custom WC_LOG_

[2020-09-09 17:02] mkchetan25 commented on #27631
I don't know how to explain, but the backup extracted from the production to my localhost does work well with the Rest API. I did not install "woocommer-rest-api" plugin, but still it works well. Problem persists only in the production environment.

Any suggestion on what to check with, would be appreciable.

[2020-09-09 18:35] mkchetan25 commented on #27631
Well, I did restoring the backup from the production and then installing and activating the plugin woocommerce-rest-api. I found nothing interesting, but instead got stuck up with this:
* our installation of the WooCommerce REST API feature plugin is incomplete. Please run composer install within the C:\MAMP\htdocs\xxxx\wp-content\plugins\woocommerce-rest-api-1.0.15 directory.
* http://172.20.10.5

[2020-09-09 20:07] Prima699 opened #27635 "After Reset Variations, Duplicate data Weight & Dimentions"
I got some issue at the detail product page, that was a single product.
I try to figure out what's make the duplicate data. The bug at view single-products
after change or choose the variations of items, the button reset will appear.

![Screenshot_7](https://user-images.githubusercontent.com/39323979/92643453-022ecc80-f30c-11ea-910f-20de822a2c5a.png)

And after I click the reset button

![Screensh

[2020-09-09 21:07] PaulMHodgson commented on #27624
Our E-Commerce site just lost money because of this issue.  We pay for Woocommerce services.... not happy.

[2020-09-09 21:19] Archvist commented on #27624
What WooCommerce services do you pay for?

[2020-09-09 23:20] Daniel-HBK commented on #27624
This issue drove me crazy for two hours!. if didn't notice updates counter I would be never stop debugging it!...Anyway thank you for the hotfix and concern.

[2020-09-09 23:38] ObliviousHarmony commented on #27608
After debugging this with @WPprodigy it seems the problem is VIP's population of `active_plugins`. When Jetpack loads as an mu-plugin it doesn't know that WooCommerce exists, but when WooCommerce loads as a client plugin, it sees itself in the active plugin list and doesn't reset the autoloader.

@kbrown9 What do you think about this? While we might be able to find a VIP filter I wonder if we shou

[2020-09-10 02:10] bamarlay commented on #27445
Hi,

Thanks for the clarification. I also have the same problem, and didn't realized this behavior until I have updated a few orders (customers called to our shop to add a few more items after they raise the order). We had to manually search all those updated orders, record all the items added and manually reduce the stock quantity, which is a bit annoying. We use Woocommerce not only only as an o

[2020-09-10 03:16] kbrown9 commented on #27608
If I understand correctly, VIP changes the active_plugins list after the mu plugins have been loaded. Is that correct?

@kbrown9 What do you think about this? While we might be able to find a VIP filter I wonder if we should consider caching the active plugin list and busting the autoloader if it changes?

Caching the active plugin list and busting the autoloader if it changes sounds like a reason

[2020-09-10 07:06] b3gund4L commented on #27593
@juliaamosova
The problem is in the chrome browser
Google Chrome is up to date
Version 85.0.4183.102 (Official Build) (64-bit)

they don't work for wp 5.5
thanks for all your help

for the future, every update pay attention on all sides ...
this is very caos

[2020-09-10 07:06] #27593 closed

[2020-09-10 09:39] millerf opened #27637 "Cannot download XLSX order report on Windows"
Bug described by a customer on chat support. Tested internally by @automattic-ian
Customer wasn't able to download his order in XSLX report in Chrome/Chrom Incognito or Microsoft Edge on Windows
Due to the particular OS, I couldn't even start to debug. Proper investigation will have to be done.

**Expected behavior**
In Mac, for example, downloading XSLX report works fine.

**Actual behavior**
In

[2020-09-10 09:50] gayathri-storepro commented on #27601
Thanks, @juliaamosova ,  it works!

[2020-09-10 09:50] #27601 closed

[2020-09-10 09:55] StSaens opened #27638 "variable product + variable/attribute in URL+ caching + UTM/gclid in URL = issue"
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Using variable products with caching woo fails to load the proper variation if attribute is passed in URL AND the URL contains gclid/UTM/fbclid etc.

Only when caching is enabled (WP Fastes

[2020-09-10 10:20] websyflex commented on #27419
Same here on several coocommerce shops. Hope there will be a fix very quickly as customers can't filter on color, material etc etc.

[2020-09-10 10:50] RobertVerdonschot commented on #27519
Thanks, I think it is a wise decision. Good luck.

[2020-09-10 11:37] tammullen commented on #27637
Hi @millerf, this seems to be caused by a 3rd party plugin (perhaps they are using something like https://wordpress.org/plugins/woo-order-export-lite/) as WooCommerce core doesn't offer this functionality.

[2020-09-10 13:02] abhishek-pokhriyal commented on #27631
I can also confirm the issue with the incomplete WooCommerce REST API plugin.

I installed the plugin on a local WP installed (and activated) using WP-CLI `wp plugin install https://github.com/woocommerce/woocommerce-rest-api/archive/1.0.15.zip --activate` and I got the following notice on the WP Dashboard.

![image](https://user-images.githubusercontent.com/11808845/92731821-326d7e00-f393-11ea-8b

[2020-09-10 13:13] budzanowski commented on #27622
That would be a question to Team Global @akirk .

[2020-09-10 13:15] Terminator-Barbapapa opened #27639 "Select2 product search shows HTML markup"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The `<span class="description"></span>` that is added via the `get_formatted_name()` function in the `WC_Product_Variation` class is not re

[2020-09-10 14:43] ConradGalli commented on #27504
@tammullen any news about this fix?

[2020-09-10 15:24] helgatheviking opened #27640 "Attach block/unblock variables to custom event"
**Is your feature request related to a problem? Please describe.**
In the cart.js `block` and `unblock` are variables that exist only in the scope of the cart script.
https://github.com/woocommerce/woocommerce/blob/master/assets/js/frontend/cart.js#L34-L58

So if we want to re-use them or trigger a block/unblock from an external script we have to duplicate them.

**Describe the solution you'd like

[2020-09-10 15:33] ObliviousHarmony commented on #27608
Yep!

Alright, I'll work on a PR for that this week!

[2020-09-10 16:05] #27618 closed

[2020-09-10 16:14] gglobalstep opened #27641 ""Stock quantity" field accepts negative value."
## Bug Description:
"Stock quantity" field accepts negative value.

## Environment:
Windows 10, Mac v10.15.6
Browser: Chrome(Version 85.0.4183.83 (64-bit))
                 Firefox(Version 80.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps to Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Go to Products.
1. Add a new product

[2020-09-10 16:20] gglobalstep opened #27642 "Low Stock threshold field accepts negative values"
## Bug Description:
"Low Stock threshold" field allows setting a negative value. When the product is saved this is passed through `abs()` and saved.

## Environment:
Windows 10, Mac v10.15.6
Browser: Chrome(Version 85.0.4183.83 (64-bit))
                 Firefox(Version 80.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps to Reproduce:
1. Create any test site using Jurassic Ninja.
1.

[2020-09-10 16:47] Nemi5150 opened #27643 "Dismiss X in product gallery allowing click of elements beneath"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-09-10 18:39] #27220 closed

[2020-09-10 19:31] claudiosanches opened #27646 "Introduce GitHub workflow to run e2e tests on multiple hosts"
This is blocked by some changes required to allows us to run e2e tests on external hosts. One of the blockers: https://github.com/woocommerce/woocommerce/pull/27432

Tasks:

- [ ] A new branch to build e2e tests using https://github.com/woocommerce/action-build
- [ ] Workflow file

[2020-09-10 20:33] juliaamosova commented on #27643
Hi @Nemi5150,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Here is how I have the product set up on the back end:

![product](https://user-images.githubusercontent.com/19143190/92800964-2f6a9180-f383-11ea-97af-02bb9c869455.jpg)

I also made a short video for you to take a look at what I see when I fol

[2020-09-10 20:38] Nemi5150 commented on #27643
You have to test on mobile. you can do that by opening the chrome developer
tools and switching it over to a mobile and then you will have the x in the
toolbar at the top of the page

Sent from my Pixel 4 XL

On Thu, Sep 10, 2020, 3:33 PM Julia Amosova <notifications@github.com>
wrote:

[2020-09-10 20:47] Nemi5150 commented on #27643
Here is a video of  it in action. It is hard to see the cursor, but I click
on the magnifying glass icon, then move up to the X in the upper right.
When I click the X it dismisses the overlay, but also clicks the underlying
user icon.

On Thu, Sep 10, 2020 at 3:38 PM Todd Bryant <nemi5150@gmail.com> wrote:

[2020-09-10 20:50] grrmarketing opened #27647 "Product Add-ons Extension is not passing along all additions to the cost to PayPal"
Hello, when a customer purchases a bookable product and a marks add-ons, which increase the cost of the product, only the last add-on checked is added to the price when passed to PayPal.

For example, if purchasing: https://graphicsremarkable.com/product/real-estate-photography/

And you add-on some additional items, the total price displaying on the website is not the same price that is passed to

[2020-09-10 21:43] harryph105 opened #27649 "Order Created Date is changed when pressing Update button"
I usually have to change information of an order: status, add product items, add note…
The problem is
Whenever I press Update button of an order, the Order Date will be plus by some hours
For example, when I create a new order, the Order date is September 10 2020 but when I update this order, the created date is September 11 2020 14:17
You can see the screenshot https://prnt.sc/uf6mgi
When I press

[2020-09-10 21:54] juliaamosova commented on #27635
Hi @Prima699,

Thank you for submitting the issue. However, I am not sure how to reproduce this. Can you please provide more clear steps?

In particular, I don't understand what the action below means:

Can you please clarify how exactly your product is set up and what actions do you take to see the issue?

In addition to that, please also test by switching the theme to our default [Storefront](ht

[2020-09-10 22:12] webargon commented on #14922
I solved this issue updating Woocmmerce version to 4.5.1. (I did it just now) So, I think I may have others problems... not found yet.. site working properly. If appears any new trouble, I'll write here. Best regards.

[2020-09-11 01:25] AzhulCobalto commented on #27419
Same problem here, the filter by attribbute not showing after updating woocommerce to the latest version, everything was working fine before the update, I had categories and attributes configured and both were ok, now I can only see the categories filter, my clients can't filter clothing by "size" :(
<img width="362" alt="Screen Shot 2020-09-08 at 11 56 03 PM" src="https://user-images.githubuserco

[2020-09-11 02:41] joshcoast commented on #23673
It's been over a year now, still no Gutenberg?

[2020-09-11 06:26] om4csaba opened #27650 "Webhook with Product Created topic firing multiple times for the same product"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2020-09-11 07:18] Konamiman opened #27651 "Remove code and data related to term relationships for variations"
The original [improvement of the filtering by atrribute for variations](https://github.com/woocommerce/woocommerce/pull/26260) included code that adds entries for variations in the term relationships table. After [the revert](https://github.com/woocommerce/woocommerce/pull/27625) is released we need to remove those to keep the code clean and performant.

Things to do:

* Modify the `wc_update_440_

[2020-09-11 07:20] TheWebsiter1 opened #27652 "Phone number required on order"
I made phone number as “require” but still I get a lot of orders without the customer phone number.

[2020-09-11 08:01] tammullen commented on #27643
Hi @Nemi5150

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25458. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-09-11 08:01] #27643 closed

[2020-09-11 08:02] tammullen commented on #25458
Related issue in PhotoSwipe repository https://github.com/dimsemenov/PhotoSwipe/issues/1608

[2020-09-11 08:46] Prima699 commented on #27635
Hi @juliaamosova
Thank you for responding to my issue.
I attach loom link that you might be can see to reproduce the issue [Video Reproduce](https://www.loom.com/share/9768eb9aafce461fb53629e05edfc46b).

I have done switching the theme to default using [Storefront](https://en-gb.wordpress.org/themes/storefront/) theme. But it's still the same.

[2020-09-11 10:03] nootarius46 opened #27654 "Product_page on frontpage"
Hey!

I would like to display one of my product page on my frontpage. I tried it with simple shortcode: [product_page id=”362″] (This id my test product)

This works well but there are some problems. Why i have a Woo picture and title and price in 2 column when i set just one column. And why i have desription and in my description my woo picture price and title again with other products twice.

If

[2020-09-11 10:41] pgamaster commented on #25870
Scheduled Actions don't run automatically, I run my shop on docker.

[2020-09-11 11:11] kalonya opened #27655 "Addresses / Address string translation problem in some languages"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2020-09-11 11:58] guicmazeredo opened #27656 "No feedback while payment is processing with Twenty Twenty theme"
**Describe the bug**
After clicking on "Place order" button on the checkout page there is no feedback to indicate that the payment is processing.

**Expected behavior**
After clicking the button I expected to see some overlay and a buffer to make it clear for the user that the transaction is being processed and that they shouldn't click anything and wait why the payment is going through.

**Actual

[2020-09-11 13:06] juliaamosova commented on #27652
Hi @TheWebsiter1,

Thanks for raising the issue. However, it is not clear how do you make the phone number to be required. It is required by default in WooCommerce. Unless you custom coded the checkout page in some way.

Can you please provide steps to reproduce the issue and also specify what theme are you using?

[2020-09-11 13:06] akirk commented on #27622
Are we planning to remove the `woocommerce-admin` plugin from WordPress.org? Just to understand if this would be a one-time effort or something continuous.

[2020-09-11 13:18] juliaamosova commented on #27656
Hi @guicmazeredo,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

It doesn't matter what payment gateway is used - the result is the same. I used the `Cash on delivery` payment method in my test.

Here is what I see in Twenty Twenty (no indication that there is an action in the process after clicking on the `Place order` button):

!

[2020-09-11 14:18] helgatheviking opened #27657 "Flex layout on TwentyTwenty wc_add_notice() list causes layout issues if you have any markup in error notice"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The flex layout on the `<li>` element is presumably there to get any buttons to align opposite of the error text. However, if your error no

[2020-09-11 14:20] helgatheviking commented on #27657
Probably related to #27385

[2020-09-11 14:49] juliaamosova commented on #27647
Hi @grrmarketing,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the Product Add-Ons plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact WooCommerce support team by [opening a ticket or start

[2020-09-11 14:49] #27647 closed

[2020-09-11 15:10] juliaamosova commented on #27639
Hi @Terminator-Barbapapa,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27154. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-09-11 15:10] #27639 closed

[2020-09-11 15:15] stevetested commented on #27419
Another report here: 3302992-zen

[2020-09-11 15:15] Frisoni commented on #26994
My experience with WooCommerce Admin translations problems.

Before 4.4:
Admin translations were correctly called in WooCommerce, but there was some JS problems, solved in this issue: https://github.com/woocommerce/woocommerce-admin/issues/2336

After 4.4:
Admin translations are not called from WooCommerce. Translations files are not even downloaded to languages/plugins folder.
If I install and ac

[2020-09-11 15:27] rrennick commented on #27622
I don't believe so.

[2020-09-11 15:37] juliaamosova commented on #27539
Hi @phunkei,

Thanks for raising the issue. I tried using PayPal Standard on my test site and was not able to reproduce it. I managed to get to PayPal modal without any issues as I clicked on the `Proceed to PayPal` button.

Here is a god showing that it works for me:

![](http://g.recordit.co/hYhWs8XmeK.gif)

You did not provide how your PayPal is set up so I tested with my set up as follows:

![

[2020-09-11 15:37] #27539 closed

[2020-09-11 17:29] juliaamosova commented on #27655
Hi @kalonya,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I am using the Storefront theme as you do (shown on your screenshot) + WooCommerce 4.5.1:

![italian1](https://user-images.githubusercontent.com/19143190/92954021-ba559580-f430-11ea-8c79-46c215b552eb.jpg)

I further checked the translations of

[2020-09-11 17:30] juliaamosova commented on #27654
Hi @nootarius46,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2020-09-11 17:30] #27654 closed

[2020-09-11 17:41] rrennick commented on #27646
@claudiosanches I pinged you on #27432 so you can review while working on this one.

[2020-09-11 17:48] #26590 closed

[2020-09-11 18:02] rosimannus commented on #27419
Updated to 4.5.1 and still same issue :(

[2020-09-11 18:38] juliaamosova commented on #27650
Hi @om4csaba,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

My webhook is set up as follows with the `Product created` topic:

![hook1](https://user-images.githubusercontent.com/19143190/92959488-e6294900-f439-11ea-94ef-6b186a914e9a.jpg)

1) If I create a product as a draft, the webhook gets fired:

![draft1](https://user-images.g

[2020-09-11 18:53] Terminator-Barbapapa commented on #27639
Ah, I'm sorry, I missed that one. Hopefully this is fixed in the next release.

[2020-09-11 18:53] juliaamosova commented on #27649
Hi @harryph105,

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end.

I have an order that was placed on my test site earlier today. I updated it by adding a note but the `Date created` time didn't change - please see gif below:

![](http://g.recordit.co/uULC0DGaPL.gif)

I tested using the WooCommerce 4.5.1 version. Can you please specify

[2020-09-11 19:04] rodrigoprimo commented on #26994
@jeffstieler should we create an issue on the woocommerce-admin repository or your team is already working on a fix for this? Thanks.

[2020-09-11 19:11] juliaamosova commented on #27639
@Terminator-Barbapapa, no worries!

We have the `high` priority assigned to the issue which means it will be fixed sooner than later.

[2020-09-11 19:29] juliaamosova commented on #27642
Hi @gglobalstep,

Thanks for raising the issue. However, this is currently working as expected in WooCommerce. Although not perfect. It has to do with the fact that we allow negative values to be entered for the product price, shipping fees, dimensions, etc.

We discussed this issue with the WooCommerce Core team some time ago - we agreed that this needs to be fixed in the way to allow negative va

[2020-09-11 19:30] juliaamosova commented on #27641
Hi @gglobalstep,

Thanks for raising the issue. However, this is currently working as expected in WooCommerce. Although not perfect. It has to do with the fact that we allow negative values to be entered for the product price, shipping fees, dimensions, etc.

We discussed this issue with the WooCommerce Core team some time ago - we agreed that this needs to be fixed in the way to allow negative va

[2020-09-11 19:33] juliaamosova commented on #27640
Hi @helgatheviking,

Thanks for the feature request, it makes sense to me. Please feel free to submit the PR if you get a chance.

[2020-09-11 19:35] kalonya commented on #27655
Hi @juliaamosova, thanks for checking the issue in depth. I've checked that on my local with a clean installation and the same problem also happens here. Can you confirm that there is a translated string for the "Address" string when you follow the steps below?

1. Open the Italian language in Loco Translate
2. Click on the Sync button and Save it
3. Search for the "Addresses"
4. Click on the "Oth

[2020-09-11 19:56] juliaamosova commented on #27632
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

If I try to create a new  `Percentage discount` coupon and set the percentage to 120, the coupon gets created but the value would be zero:

![](http://g.recordit.co/4Mn1HYpzwf.gif)

If I edit the existing  `Percentage discount` coupon from 50 to 130 for example, the co

[2020-09-11 19:57] juliaamosova commented on #27632
I think we need to add the note (pop-up window) letting the user know that amounts over 100 won't be saved/allowed and that the amount should be up to 100 but not higher.

[2020-09-11 20:16] juliaamosova commented on #27626
Hi @tomasz-bednarek,

Thanks for raising the issue. However, I don't think there is a bug in place.

You can control the number of decimal points that are being displayed in prices by changing the `Number of decimals` field that you can find by navigating to `WooCommerce / Settings / General / Currency options`.

If the `Number of decimals` is set to 2, the price will be rounded (which is what you

[2020-09-11 20:43] juliaamosova commented on #27611
Hi @glagonikas,

Thanks for raising the issue. However, I don't see a bug here but rather misconfiguration of shipping settings.

The way to control whether or not the tax will be applied to shipping is by selecting/deselecting the option `Shipping` in the tax rate itself by navigating to `WooCommerce/Settings/Tax/Standard (or any other) rates`. The `Shipping` option allows to choose whether the t

[2020-09-11 21:01] juliaamosova commented on #27532
Hi @SiR-DanieL,

Apologies for the delayed response and thank you for report this bug. I can reproduce it on my end.

![review](https://user-images.githubusercontent.com/19143190/92972417-3ad7be80-f450-11ea-8594-f56bc3952454.jpg)

While this type of bugs usually has a `low` priority, in this case, I am giving it `high` because the broken layout is visible to many users and it doesn't look good at

[2020-09-11 21:24] juliaamosova commented on #26038
Hi @leinadlime,

Apologies for the delayed response and thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-09-11 21:32] juliaamosova commented on #26632
Hi @jb510,

Apologies for the delayed response and thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-09-11 21:34] juliaamosova commented on #26636
Hi @AlexP11223,

Apologies for the delayed response and thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-09-11 21:39] jeffstieler commented on #26994
We're working on a fix

[2020-09-11 21:58] glagonikas commented on #27611
Hi @juliaamosova, thanks for looking into this.

Apologies, but I might not have explained the issue well enough here.

Based on your screenshots, you have specified that you will be entering the prices on the site, including tax. Then on your flat rate settings, you have entered a price of $20. This is your price **including** VAT.

On the front end, I'd expect to see the shipping price as "Flat

[2020-09-11 22:03] juliaamosova commented on #27611
Thanks for your follow-up @glagonikas! I am reopening this issue so it doesn't get lost but I am running out of time to take a look at it today. I will do that on Monday.

[2020-09-12 00:59] jimbardim opened #27659 "every checkout visitor the system count it as a sale"
hello my site is sentralshop.com
the problem is everytime someone go into my site and add a product to cart>> then to checkout

without even add his information or anything the system in the dashboard count it as a sale

https://ibb.co/wdJZC5m

i don't use many plugins
and the ones i use are pretty much standard
really simple ssl
paypal
stripe
product blocks

[2020-09-12 06:34] erikdemarco commented on #11067
Any update about this?

[2020-09-12 10:52] tomasz-bednarek commented on #27626
Hi Julia,

I see your point, however:
- as you could see on my previous recording, the VAT amount of shipping was correctly shown with more positions even when the frontend number of decimals is set to zero (this applies also to products' price and tax amount). Let me show you this for products as well on the following video: https://wpdesk.me/tb/mMaNblUHn2.mp4

The net price of shipping is the on

[2020-09-12 16:48] helgatheviking commented on #27640
hi @juliaamosova would y'all prefer an event/trigger approach or a miniature jquery plugin... kind of like what you have with `$.scroll_to_notices`.

So
[code]

versus

[code]

Unsure if there's a need for that to be in the woocommerce.js script so it's more universal.

[2020-09-12 17:07] juliaamosova commented on #27626
@tomasz-bednarek thanks for your follow-up! I am not going to be able to take a look at it today but reopening the issue so it doesn't get lost. I will get back to it on Monday. Thanks for your patience!

[2020-09-12 18:56] #27218 closed

[2020-09-12 21:07] Tahoooe commented on #23844
@drosendo Hi! I'm having a similar problem with the WooCommerce exporter not wanting to export a serialised field called `_role_based_price` in the database. I'm just starting with PHP, I tried to put your code in a few places (functions.php and wc-product-exporter.php, while replacing `XPTO` with `_role_based_price`), but it doesn't seem to do anything. Could you tell me what am I doing wrong? Th

[2020-09-12 21:50] drosendo commented on #23844
You are probably calling the filter too soon and WooCommerce may not yet be loaded, try something like:

`
add_action( 'plugins_loaded', 'my_plugin_override',20); //20 just to run later

function my_plugin_override() {
     add_filter('woocommerce_product_export_meta_value',  'woo_handle_export', 10, 4);
}

function woo_handle_export($value, $meta, $product, $row)
    {
        if ($meta->key == '

[2020-09-13 02:22] evele commented on #16552
@lkol 09/2020 and still not working. Still with the ID option that didnt work..

[2020-09-13 07:37] nielslange commented on #27659
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide here: https://docs.woocommerce.com/document/woocommerce-self-service-guide/

**Technical support for premium extensions or if you're a WooCommerce.com custome

[2020-09-13 09:33] Syprer opened #27661 "Add a SEPA QR payment code in the standard Direct Bank Transfer"
**Is your feature request related to a problem? Please describe.**
When customers need to type over bank information and memo field info they could make writing mistake

**Describe the solution you'd like**
In europe, the EPC has made a SEPA-payment QR code image live rendered from their servers ( <www.epc-qr.eu> )

**Describe alternatives you've considered**
I've added this php line in the email

[2020-09-13 15:14] raf222 commented on #24184
Hi guys,
Have the same issue and I dont know why there is a problem with the fix.
Have similar case to the above 16,68 € * 2 displays as 33,37 €. The issue there is not really rounding as the math operations performed. I have set prices excluding tax, therfore in some cases the tax amount will be rounded and its the case on the product page as its always calculated for 1 product only.
Example:
178

[2020-09-13 16:38] rynaldos opened #27663 "No pagination for payment methods in the my-account > payment methods endpoint"
Hi!

We have received the following from a user and was able to replicate the same behaviour.

<img width="649" alt="Screenshot 2020-09-13 at 18 23 38" src="https://user-images.githubusercontent.com/6198774/93023308-51b41780-f5ee-11ea-8f12-f935a756439d.png">

<img width="1129" alt="Screenshot 2020-09-13 at 18 23 46" src="https://user-images.githubusercontent.com/6198774/93023319-65f81480-f5ee-11ea

[2020-09-13 18:03] wpessential commented on #27621
Hi @juliaamosova,
Thanks for your response. We are using woocommerce with our themes. and try to import the theme dummy demo, the demo screen set the error as I attached on above. When I deactivate the woocommerce plugin, then the errors disappeared on my demo screen. And demo import is [MerlinWP](http://merlinwp.com/).

[2020-09-13 20:41] senadir commented on #27659
This happens on Checkout block only and is reported here https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3132, this is the intended behavior, that order is used to hold the customer data and order data before it transitions to another status, you shouldn't see that order in the analytics page and that bug is reported here https://github.com/woocommerce/woocommerce-admin/

[2020-09-13 20:41] #27659 closed

[2020-09-14 01:44] om4csaba commented on #27650
Hi @juliaamosova

Thanks for the thoughtful recreation.

I like the idea of adding a new set of topics to handle events while a product is a draft.

As an avid user of the webhook functionality (we are the developers of the [WooCommerce Zapier](https://woocommerce.com/products/woocommerce-zapier/)), makes a little sense to expose the product creation if is not published. Our data indicate, the maj

[2020-09-14 05:04] anant1811 commented on #27419
Another report in 3313994-zen

[2020-09-14 07:57] hannuheljala opened #27664 "Accessibility related issue in the forms"
Hi!

I have noticed that woocommmerce.css declares this:

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
box-sizing: border-box;
width: 100%;
margin: 0;
outline: 0;
line-height: normal;
}

It prevents the default outline being shown on focus. Using a border or outline style that obscures the focus ring causes problems for keyboard-only users. Can this “outline

[2020-09-14 10:20] homeworker commented on #26289
The validation should be triggered on coupon add, not on order complete action.
Think for a moment you are a guest client or old client, you place the order convinced that you get the discount and then when you place the order you have no discount applied (happen with paypal payment for example).

![cassa](https://user-images.githubusercontent.com/4161571/93074309-71961a80-f684-11ea-9c33-a6b99c1a5

[2020-09-14 10:24] decox1st commented on #25937
I'm having this same issue. Please is there a fix for it? Thanks

[2020-09-14 10:25] homeworker commented on #26305
The validation should be triggered on coupon add, not on order complete action.
Think for a moment you are a guest client or old client, you place the order convinced that you get the discount and then when you place the order you have no discount applied (happen with paypal payment for example).

![cassa](https://user-images.githubusercontent.com/4161571/93074309-71961a80-f684-11ea-9c33-a6b99c1a5

[2020-09-14 11:24] ejide28 commented on #27624
please help, am having the same issues

[2020-09-14 11:25] ejide28 commented on #27624
where can I get shipping options?

[2020-09-14 13:49] schferbe commented on #26764
As @danieleperilli mentioned the solution form #20978 does not fix it for all cookies.

I submitted #27653 that would give users the ability to add a hook for the secure cookie. What do I need to do so that pull request gets reviewed?

[2020-09-14 16:15] Hbitvof commented on #27515
Any action or reply would be nice. This is a major thing.

[2020-09-14 16:48] johndcoy commented on #26743
This also happens when other payment gateways return a failure notice

Stripe: https://d.pr/i/5Ar52l

Square: https://d.pr/i/88RgR0

[2020-09-14 17:21] AdrianKielbasa commented on #27070
![screen](https://user-images.githubusercontent.com/14923258/93117525-4977dd00-f6bf-11ea-98be-9a5778faf269.png)
I have the same problem. The problem appeared after updating wordpress and woocommerce.

[2020-09-14 17:40] #26431 closed

[2020-09-14 18:30] Oremaker opened #27668 "get_review_count not updating properly"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have

[2020-09-14 19:07] juliaamosova commented on #27419
Hi everyone!

We released [WooCommerce 4.5.2](https://developer.woocommerce.com/2020/09/14/woocommerce-4-5-2-fix-release/) just now - it contains the fix for the issue with the `Filter by Attribute` widget. Essentially, we rolled back to the way it used to work in WooCommerce 4.3.

Please update to WooCommerce 4.5.2 and let us know if you are still experiencing any issues. Thanks for testing and f

[2020-09-14 19:08] juliaamosova commented on #27502
Hi everyone!

We released [WooCommerce 4.5.2](https://developer.woocommerce.com/2020/09/14/woocommerce-4-5-2-fix-release/) just now - it contains the fix for the issue with the `Filter by Attribute` widget. Essentially, we rolled back to the way it used to work in WooCommerce 4.3.

Please update to WooCommerce 4.5.2 and let us know if you are still experiencing any issues. Thanks for testing and f

[2020-09-14 19:09] juliaamosova commented on #27519
Hi everyone!

We released [WooCommerce 4.5.2](https://developer.woocommerce.com/2020/09/14/woocommerce-4-5-2-fix-release/) just now - it contains the fix for the issue with the `Filter by Attribute` widget. Essentially, we rolled back to the way it used to work in WooCommerce 4.3.

Please update to WooCommerce 4.5.2 and let us know if you are still experiencing any issues. Thanks for testing and f

[2020-09-14 19:27] tobias992 commented on #27026
HELLO DEV-TEAM!!!!!

[2020-09-14 19:40] mustafakamalmoss opened #27669 "Problem on woo commerce order tab"
On the woo commerce order tab on the top right corner i am unable to see the new order notifications and low stock notifications. Instead it is showing store setup.
![Annotation 2020-09-12 130206](https://user-images.githubusercontent.com/51285981/93130399-48ad6e00-f6f4-11ea-980d-a70c6aec469b.png)

[2020-09-14 19:43] juliaamosova commented on #27661
Hi @Syprer,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-09-14 19:47] juliaamosova commented on #27663
Hi @rynaldos,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25025. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-09-14 19:47] #27663 closed

[2020-09-14 19:50] juliaamosova commented on #27669
Hi @mustafakamalmoss,

Thank you for reporting the issue. StoreSetup is a part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

You'd need to eventually complete the tasks on the Home Screen ( you'd get there if you click on StoreSetup)

[2020-09-14 20:41] mirco261 opened #27670 "ERROR 502 Bad Gateway - API request"
Hi,
sometimes when I try to make api call, like download products:
GET `/wp-json/wc/v3/products?per_page=100&page=28`

I get error 502 bad gateway

sometimes GET 1-30 pages return all fine, but sometimes (2-3rd run) I've got 502 bad gateway error

Response Headers
[code]
Woocommerce 4.5.2
Wordpress 5.5.1
PHP on server 7.4.8 (7.3.20 tested too and same result)

I've tried disable all plugins and te

[2020-09-14 21:51] mouligreenlaw commented on #24387
This ticket might be the same issue and they are running WooCommerce 4.4.1:
3309165-zen

[2020-09-14 23:36] Nicotu opened #27672 "Still not clear if this is possibile?"
It's part of v3 api (unreleased).

_Originally posted by @mikejolley in https://github.com/woocommerce/woocommerce/issues/11676#issuecomment-348953110_

[2020-09-14 23:48] Nicotu commented on #27672
I'm trying to use this feature with multiple parameters, but I still get an error from the api on V3. Is there any chance to confirm if this is possibile or not or if there's any workaround? What was actually the reasoning behind dropping this feature in the first place? Thank you!

[2020-09-15 00:44] ChrisBates opened #27673 "Coupon "usage limit has been reached" after a failed payment"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Coupons with a usage limit are showing "usage limit has been reached" after a failed payment using that coupon.

**Expected behavior**
Coup

[2020-09-15 06:27] rembo1992 commented on #27519
Awesome it's working again!

[2020-09-15 06:40] krona-prg commented on #27419
It works fine in my dev. site with 4.5.2.
Thank you!

[2020-09-15 07:06] adhamoc commented on #27519
Yep, it works.

Thanks

[2020-09-15 07:10] mixalisen commented on #27419
Hi Julia,
everything works as it should. Thanks for the fix.

[2020-09-15 08:21] lekhang2512 commented on #24585
I use the above code and it works. But when I choose the shipping method, click checkout comes up with an error message:

[2020-09-15 08:57] peterfabian commented on #27670
Hi @mirco261

I would suggest removing the API secrets from API tester tool, as it would allow anyone to get/edit orders, products, users etc from your store. I've edited your post to remove the sensitive detail, but please, also remove it from apitester.com.

[2020-09-15 09:16] peterfabian opened #27674 "PHP 8 support"
Similarly to WordPress 5.6 (planned for 8 December 2020), we need to start preparations to be fully compatible with PHP 8 once it lands on November 26, 2020.

We need to
- make PHPUnit compatible, probably based on the approach WP core is taking: https://core.trac.wordpress.org/ticket/46149
- examine the changes in https://github.com/php/php-src/blob/master/UPGRADING#L20 and perhaps [other guides]

[2020-09-15 12:52] juliaamosova commented on #27519
Thanks for testing and reporting that the issue had been resolved for you @rembo1992 and @adhamoc! At this point, I am closing this thread. However, please continue leaving comments in case anyone experienced any issues.

[2020-09-15 12:52] #27519 closed

[2020-09-15 12:56] juliaamosova commented on #27419
Thanks for testing and reporting that the issue had been resolved for you @krona-prg and @mixalisen! At this point, I am closing this thread. However, please continue leaving comments in case anyone experienced any issues.

[2020-09-15 13:04] juliaamosova commented on #26743
Thanks @johndcoy! The issue you are showing is a bit different from the original issue reported in this thread. But we have https://github.com/woocommerce/woocommerce/issues/27673 where the author is reporting the same issues with the coupon being removed and not available for usage anymore if the payment failed. We'll continue working on it there.

[2020-09-15 14:51] FreshPhil commented on #25934
@juliaamosova I just came across this issue by finding that I couldn't update the `Used for variations` setting to _uncheck_ it on existing products by CSV import. That seems within the scope of the above general issue, but wanted to point this out as it isn't specifically listed above.

If you'd prefer this be added as a separate issue, please let me know :)

[2020-09-15 15:03] kaleidografik commented on #25934
Completely agree with @FreshPhil - Our issue is that existing products do not update the `Used for variations` checkbox upon import/update. However, it seems when doing so for a new product, it works as expected.

To me, it seems the `Used for variations` checkbox should have it's own column in the attributes CSV options, in the same way that `Visible` and `Global` do?

[2020-09-15 15:11] Woohurk opened #27677 "Remove cart item and updating cart doesnt work after update woocommerce not found"
After the last update i suddenly am unable to delete / remove items from the cart and also can not update cart and price after amount change.
![Schermafbeelding 2020-09-15 om 16 32 48](https://user-images.githubusercontent.com/71337038/93229038-71764780-f776-11ea-9e8d-c557e518cdd8.png)
![Schermafbeelding 2020-09-15 om 16 50 18](https://user-images.githubusercontent.com/71337038/93229048-73d8a180-f

[2020-09-15 15:24] juliaamosova commented on #27677
Hi @Woohurk,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Updating the cart and removing items from the cart is working as expected on my end using WooCommerce 4.5.2.

Below is a gif documenting my experience (I am using our default Storefront theme):

![](http://g.recordit.co/Vw6lUoSuuz.gif)

It is not clear what it means, can you please clarify

[2020-09-15 15:35] Woohurk commented on #27677
I solved it. A cacheing plugin did some kind of thing to the JS files. Back upped and now works fine again. Im sorry for haveing reported it. Because deleting the plugins didnt change a thing but replacing the back up did. Now wil check step by step to optimize the page speed and try to exclude the woocommerce files.

[2020-09-15 15:35] #27677 closed

[2020-09-15 15:36] #26994 closed

[2020-09-15 15:42] juliaamosova commented on #27677
Thanks for letting us know @Woohurk. Glad to know the issue is fixed on your end.

[2020-09-15 15:55] andfinally opened #27678 "npm install fails on Catalina at `lerna bootstrap`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I'm unable to build the Node packages on a fresh checkout of the plugin. I've tried with a different Node version, 10.16.3, and also using

[2020-09-15 15:57] juliaamosova commented on #27673
Hi @ChrisBates,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using Stripe payment gateway but this seems to happen with [other gateways](https://github.com/woocommerce/woocommerce/issues/26743#issuecomment-692179962) as well.

Below is a gif documenting my experience reproducing the issue:

http://g.recordit.co/2Le77QGIYM.gif

This

[2020-09-15 16:03] juliaamosova commented on #27678
Hi @andfinally,

Thanks for reporting! We are aware of this issue and fixing it via https://github.com/woocommerce/woocommerce/pull/27667 - please see PR for more details of the issue.

[2020-09-15 16:10] andfinally commented on #27678
Ah brilliant, thanks for the ⚡️ response @juliaamosova!

[2020-09-15 16:16] juliaamosova commented on #27668
Hi @Oremaker,

Thanks for reporting the issue. However, it is still not clear what the issue exactly is and how to reproduce it.

Can you please provide the exact clear step by step to replicate the issue locally?

[2020-09-15 16:18] juliaamosova commented on #27664
Hi @hannuheljala,

Thanks for reporting the issue. However, it is not fully clear what it is. Can you please provide step by step to replicate it locally? The screencast will help as well.

[2020-09-15 16:27] juliaamosova commented on #27591
Hi @mizzmelisaves,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:27] #27591 closed

[2020-09-15 16:33] juliaamosova commented on #27576
Hi @nilsglow,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:33] #27576 closed

[2020-09-15 16:33] juliaamosova commented on #27575
Hi @robertodocbu,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:33] #27575 closed

[2020-09-15 16:34] juliaamosova commented on #27567
Hi @razaadeel,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:34] #27567 closed

[2020-09-15 16:35] juliaamosova commented on #27563
Hi @AhsanHameed97,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:35] #27563 closed

[2020-09-15 16:36] juliaamosova commented on #27537
Hi @ksarrafan,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:36] #27537 closed

[2020-09-15 16:37] juliaamosova commented on #27531
Hi @elsakaa95,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:37] #27531 closed

[2020-09-15 16:38] juliaamosova commented on #27502
Users in https://github.com/woocommerce/woocommerce/issues/27419 reported that this issue had been fixed by WooCommerce 4.5.2 update so I am closing it.

Please continue sharing feedback in case there are still some issues with `Filter products by attributes` widget.

[2020-09-15 16:39] #27502 closed

[2020-09-15 16:39] juliaamosova commented on #27494
Hi @Curator420,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:41] juliaamosova commented on #27478
Hi @themightymo,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:41] #27478 closed

[2020-09-15 16:42] juliaamosova commented on #27458
Hi @Zedys,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 16:42] #27458 closed

[2020-09-15 16:44] juliaamosova commented on #27442
Hi @marke123,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-15 17:01] helgatheviking commented on #27494
@juliaamosova I think there's a case to be made for putting this info in the main `readme.md` file so it's visible as soon as you visit this repo.

[2020-09-15 17:03] mirco261 commented on #27670
thank you... api was only for reading... but you have right...

[2020-09-15 17:05] juliaamosova commented on #27494
@helgatheviking thanks for your follow-up! Good call. Reopening the issue so it doesn't get lost and we could update the docs.

[2020-09-15 17:11] helgatheviking commented on #27494
Maybe you should re-name the issue so it looks like like a task than a support question?

[2020-09-15 17:21] juliaamosova commented on #27655
Hi @kalonya,

I followed your steps in the last comment and not seeing anything in the `Altre` section:

![translations](https://user-images.githubusercontent.com/19143190/93243577-64e1f700-f756-11ea-81c9-0e42111651ff.jpg)

[2020-09-15 18:09] juliaamosova commented on #27494
Thanks for the nudge @helgatheviking. On the 2nd look, I am not sure if we want to add set up instructions in the main repo readme. Currently, we have a link to [WooCommerce Developer Documentation](https://github.com/woocommerce/woocommerce/wiki) from the main readme. And from there, those interested to contribute or try out the WooCommerce development version can find their way to the instructio

[2020-09-15 18:19] th3happybit commented on #14957
Hello
I'm having the same issue when using a credit card payment, any solution please?

[2020-09-15 18:19] helgatheviking commented on #27494
Hmm.... unsure. I guess I was making the assumption that devs would have composer and npm already installed... which of course, is a big assumption.

Maybe the readme can say IF you have composer and npm already installed in your environment you need to run
[code]

If not, you need to read the full docu at the link you provided.

I don't think the current "Developer Documentation" link alone makes

[2020-09-15 19:03] MrGorlenko opened #27680 "Ошибка с конвертированием валюты"
На сайте настроена WooCommerce - работает везде исправно, кроме одной страницы - https://likekate.ru/product-category/bodysuit. При переходе на страницу через мобильное устройство, показывает цены в долларах, а не в рублях, как на всех остальных страницах, к примеру, на этой: https://likekate.ru/product-category/top. Страницы категорий были проверены - все идентичны, мы предполагаем, что тут одноз

[2020-09-15 20:04] juliaamosova commented on #27494
Good points, thanks for your feedback @helgatheviking! I agree that it is not very clear from the main readme both that plugin needs to be built and that the "Developer Documentation" link will get you there. We'll see how we can best improve it and will incorporate your feedback into it.

[2020-09-15 20:07] juliaamosova commented on #27640
@helgatheviking thanks for the options above! I am not able to provide feedback on this alone. Adding `status: needs developer feedback` so that someone else from the WooCommerce Core team could take a look. Noting that it can take a few days.

[2020-09-15 20:29] helgatheviking commented on #27640
Not urgent on my end... just didn't want to send the PR and then have it come back..."oh could you do it the other way instead" :)

[2020-09-15 21:16] peterfabian opened #27681 "Update templates to fix coding standards"
We have 3 template files that don't conform to [coding standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/#naming-conventions):
- wp-content/plugins/woocommerce/templates/content-product_cat.php
- wp-content/plugins/woocommerce/templates/taxonomy-product_cat.php
- wp-content/plugins/woocommerce/templates/taxonomy-product_tag.php

We should update them to fix th

[2020-09-15 21:45] peterfabian commented on #27624
Hi @stefanos82 ,

I guess it's possible that custom solutions need to be adjusted, so please check the code in this PR and let us know if you think what we did doesn't make sense from the perspective of extensibility. Thanks.

[2020-09-15 22:35] MC-Rider commented on #27419
Hi everyone — v4.5.2 appears to have fixed the attributes filters issue for me. Thank you to everyone on the WC development team for all the hard work! Much appreciated.

However, in other news...

The issue I am having with pagination on the main Shop page persists (this is only the main Shop page pagination. Pagination on Category pages works just fine) — On the main Shop page, all 17 additional

[2020-09-15 22:38] stefanos82 commented on #27624
@peterfabian looks good to me.

Was is part of the newly released 4.5.2?

[2020-09-15 22:38] juliaamosova commented on #27419
Hi @MC-Rider,

Thanks! Glad to know the attributes filter widget issue had been resolved for you.

Please open a new issue for this so we could investigate it further.

[2020-09-16 00:37] Preciousomonze commented on #27674
Wow, this is fast, good one people 🤯🥳

[2020-09-16 04:13] ouija opened #27682 ""Invalid Payment Method" for COD gateway"
**Prerequisites**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Latest version of WooCommerce v4.5.2 and COD Payment Method will throw an _"Invalid Payment Method"_ error if/when **billing_postcode** field is unset; was not occuring with W

[2020-09-16 06:00] hannuheljala commented on #27664
Hi!

Steps to reproduce: Go to a checkout / login form / registration form of Woocommerce. In Chrome: Right click any of the input fields and select Inspect. In the Elements window right click the same input field, select Force State -> :focus. You can see no input focus is visible in the input field due this  outline: 0; in the woocommerce.css:

.woocommerce form .form-row input.input-text, .wooc

[2020-09-16 06:32] sarinadinet opened #27683 "I Cant "Add Media" in "Product Short Description", but we can still insert picture using "Text" (Code). the problem is i cant code"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-09-16 07:00] peterfabian commented on #27624
Those changes were shipped in 4.5.1.

(4.5.2 updated code related to filtering of variations)

[2020-09-16 07:27] ChristiaanScheermeijer commented on #27631
I seem to have the same problem after updating to WooCommerce 4.5.1 and 4.5.2. Only the `wc/v1` and `wc/store` API routes are exposed in the `/wp-json` response.

I have tried debugging the issue and I'm seeing that after this commit 16473d5, the `add_action('load_rest_api', ...)` function is being called after the `load_rest_api` action is being triggered.

What could cause the order to change on

[2020-09-16 09:47] peterfabian commented on #27670
I tried to replicate this locally, but couldn't.

I ran Apache Benchmark, e.g. I ran 50 requests with 4 parallel requests at the same time:

`ab -c 4 -n 50 -v 3 "https://apitest.local/wp-json/wc/v3/products/?per_page=100&consumer_key=ck_cee92...&consumer_secret=cs_01c4a6..."`

But I only got HTTP 200 responses.

Also tried a simpler approach with curl that would simulate the API tester, but only g

[2020-09-16 10:03] mirco261 commented on #27670
HI Peter,

thank you for your time, that you spend on this problem.

I've contact help center in my hosting. I use siteground hosting, and they said to me, that they dont see anything in PHP error log.

I don't think that 502 error is timeout problem, because duration of request takes same time, as request with HTTP 200 code.

But I have new clue. When I use Standard PHP settings, everything goes

[2020-09-16 12:00] Abdalsalaam opened #27686 "Bug - coupon usage count twice if order created by Rest-API & from backend"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-09-16 12:46] peterfabian commented on #27670
That's quite odd, because your response header suggests the HTTP server is nginx, while mod_php runs on Apache HTTP server as far as I know.

I would suggest to get in touch with some technical folks from SiteGround and let them troubleshoot, as they have the best idea about what all the configuration differences are and can access all the logs they need to get to the bottom of it. Since it works

[2020-09-16 13:23] juliaamosova commented on #27680
Hi @MrGorlenko,

Thanks for rasing the issue.

Please note that we reply to bug reports in the English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

Original message translated:

Bug report title:

Bug report:

<hr>

The number of details you provided is not enough for us to work with and identif

[2020-09-16 13:47] juliaamosova commented on #27682
Hi @ouija,

Thank you for submitting the issue. However, I can’t reproduce it - The `Cash on Delivery` method is working as expected on my end. See the gif below (from my test site using the COD method):

![](http://g.recordit.co/39g9KidEYK.gif)

Please confirm if you performed theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and swit

[2020-09-16 14:05] juliaamosova commented on #27683
Hi @sarinadinet,

Thank you for submitting the issue. However, I can’t reproduce it - adding media to the short product description is working as expected on my end. Please see the gif below (I tested with WooCommerce 4.5.2):

![](http://g.recordit.co/CwaYvMqQld.gif)

Please confirm if you tested your site for a theme and plugins conflict? To do that, you’d need to deactivate all plugins except fo

[2020-09-16 14:11] juliaamosova commented on #27623
Hi @gevcen,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-16 14:11] #27623 closed

[2020-09-16 14:12] juliaamosova commented on #27605
Hi @thuautp,

As a part of this repository’s maintenance, I am closing this issue due to inactivity and also because the issue had been fixed in WooCommerce 4.5. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-16 14:12] #27605 closed

[2020-09-16 14:12] juliaamosova commented on #27604
Hi @MOvergaard77,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-16 14:12] #27604 closed

[2020-09-16 14:23] juliaamosova commented on #27503
Hi @erikdemarco,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-16 14:23] #27503 closed

[2020-09-16 14:28] juliaamosova commented on #25185
Hi @Navas-ahmed, it seems that this thread can be closed here. However, please feel free to comment back in case I missed something and we'd take another look.

[2020-09-16 14:28] #25185 closed

[2020-09-16 14:29] juliaamosova commented on #25012
Hi @itsgauravjain22,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-16 14:29] #25012 closed

[2020-09-16 15:53] gglobalstep opened #27688 "[GlobalStep - WooCommerce 4.5.2] On front-end, Review count fails to update when user adds a review from WooCommerce dashboard."
## Bug Description:
Review count fails to update on front end when user adds a review from WooCommerce dashboard.

## Environment:
Windows 10, Mac Mojave:10.14.6 (18G103)
Browser: Chrome(Version 85.0.4183.83 (64-bit))
                 Firefox(Version 80.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate

[2020-09-16 15:57] gglobalstep opened #27689 "[GlobalStep - WooCommerce 4.5.2] While placing an order from WooCommerce dashboard user is not able to choose any one product from grouped product."
## Bug Description:
While placing an order from WooCommerce dashboard user is not able to choose any one product from grouped product.

## Environment:
Windows 10, Mac Mojave:10.14.6 (18G103)
Browser: Chrome(Version 85.0.4183.83 (64-bit))
                 Firefox(Version 80.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1.

[2020-09-16 16:25] qu4rta opened #27690 "Translation not working correctly"
I'm using Wordpress version 5.5.1, with a theme called Seller from Visualmodo version 3.2.1, and Woocommerce version 4.5.2.

Everything seems to be working flawless, but in the checkout page, the only string not translated to Brazillian Portuguese is the "Your Order", just above price, shipping and payment methods.

I tryed to change it manually in: Plugins > Edit > Woocommerce > Templates > Check

[2020-09-16 16:47] cigaai commented on #25133
Has anyone managed to solve this? I am currently struggling with the same problem...

[2020-09-16 16:57] axcar95 opened #27691 "product cart doesnt show product images"
hi. ı am working at turquazarts.com
and my product cart in responsive is complete mess. in responsive my product images doesnt shown unlike the desktop version which is fine. and because of my products long names one product covers the whole screen. ı need to set a limit for how much space a product covers in the cart page and ı cant find the product images.
is there anybody to help me with this i

[2020-09-16 17:03] AverageJeff commented on #25133
@cigaai - when you are browsing your store do you see something like "Select Options" under a variation product? If so, when you click that does it immediately just add that to the cart - i.e.  you get a "View Cart" message immediately?  That's what I found was triggering it on my site.   To work around this behavior I created a snippet using the code below to redirect the click to single product

[2020-09-16 17:04] zdenys commented on #25720
Another report in 3317994-zen.

[2020-09-16 17:11] Igcorreia commented on #25870
Same here. I think everything is fine on my side but I have 902 pending.

[2020-09-16 17:56] juliaamosova commented on #27691
Hi @axcar95,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt