[2022-11-01 20:10] tammullen commented on #35458
Maybe need a similar fix to https://github.com/woocommerce/woocommerce/pull/31687

[2022-11-01 21:01] felipevelzani commented on #35220
Another merchant complained about this message on 5674981-zen.

[2022-11-01 22:36] #35414 closed, assigned to barryhughes

[2022-11-01 23:59] shaunkuschel commented on #31170
Another report of this on 5675741-zen

[2022-11-02 00:37] #34482 closed, assigned to nobody

[2022-11-02 02:19] #35304 closed, assigned to nobody

[2022-11-02 02:21] #35307 closed, assigned to nobody

[2022-11-02 06:47] vedanshujain opened #35464 "[HPOS] Replace usage of `CALC_FOUND_ROW` with direct count query (and caching) for performance"
In `WC_Query` we currently use `CALC_FOUND_ROW` to get pagination results. Unfortunately, this is slow because MySQL needs to scan all rows with `CALC_FOUND_ROWS` instead of just going through the index, which it can do with a `COUNT(*)` query instead.

This issue scopes breaking the `CALC_FOUND_ROW` in WC_Query for HPOS in two separate queries, one to get the order ids and another to count total

[2022-11-02 07:01] vedanshujain opened #35465 "[HPOS] Modify index for `type_status` to `type_status_date` to accommodate created date in the same index."
Many queries, such as the query for calculating unique year-months in `Orders\ListTable` class (function `months_filter`) needs to filter on date_created along with type_status. This issue scopes modifying this index to add `date_created_gmt` field to `type_status`.

Additionally, currently the query in `months_filter` function, is not filtering by order type. This issue also scopes adding another

[2022-11-02 08:22] sybrew commented on #22969
I don't see a reason not to implement this. It doesn't hurt a single merchant including it, but it hurts many not to. Other plugin authors try to implement this haphazardly in an unfulfilling manner (such as simply providing structured data without proper front-end output), damaging the name and robustness of WC.

I don't think it's a good look on WooCommerce to treat critical data halfheartedly.

[2022-11-02 08:27] rashmimalpande opened #35466 "[HPOS] 'restrict_manage_posts' hook used to add custom filters on Orders page does not work"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

'restrict_manage_posts' hook is not working to create custom filters on WooCommerce Orders page. There is no hook present to add custom filters on orders page.

### Expected beha

[2022-11-02 09:26] github-actions[bot] opened #42544 "[Flaky Test] User can see errors when form is incomplete"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
User can see errors when form is incomplete

## Test path
`tests/e2e/specs/shopper/cart-checkout/checkout.test.js`

## Errors

<details>
<summary>
	<time datetime="2022-11-02T09:26:13.674Z"><code>[2022-11-02T09:26:13.674Z]</code></time> Test passed after 2 failed attempts on

[2022-11-02 11:10] vedanshujain opened #35467 "[HPOS] Add actions for `restrict_manage_posts` and `manage_posts_extra_tablenav`."
In Orders/ListTable class, we are currently missing do_action calls for `restrict_manage_posts` and `manage_posts_extra_tablenav`. This issue scopes implementing corresponding order based actions.

[2022-11-02 12:31] #33554 closed, assigned to octaedro

[2022-11-02 13:10] swatipawarGS commented on #35276
Hi @kkauten,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.0.1 version and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/199423877-ab70ed20-18e6-4e01-af52-166a44efb91e.mp4

Priority of this issue will be assigned

[2022-11-02 13:49] dinesh4monto opened #35469 "Is this correct release version?"
https://github.com/woocommerce/woocommerce/blob/8f5378a8166e2d242cfeb601bb9580195d41ab88/plugins/woocommerce/includes/wc-conditional-functions.php#L534

[2022-11-02 14:02] arigato-one opened #35470 "Big arrow icons - Analytics - Custom period of time"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If you go to Analytics - Revenue - Custom (period of time) then the arrows for previous / next are extremely big.

<img width="510" alt="Screenshot 2022-11-02 at 15 59 22" src="h

[2022-11-02 14:18] vedanshujain commented on #35340
Closing as won't fix, see details in https://github.com/woocommerce/woocommerce/pull/35364#issuecomment-1300504128

[2022-11-02 14:18] #35340 closed, assigned to nobody

[2022-11-02 15:01] rizvee opened #35471 "Fatal error! There has been a critical error on this website."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

[02-Nov-2022 14:51:17 UTC] PHP Fatal error:  Uncaught Error: Class "Normalizer" not found in /home//public_html/wp-includes/formatting.php:1605
Stack trace:
#0 /home//public_html/wp-content/plugins/wo

[2022-11-02 15:56] FotorecordPS opened #35472 "importing Products Bug from Shopify CSV"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Error during importing of CSV file from Shopify into Wordpress.

### Expected behavior

I expect it to import the products, names, descriptions, prices all in one product in a ti

[2022-11-02 16:15] nigeljamesstevenson commented on #34126
tests have been migrated and are now running in CI

[2022-11-02 16:15] #34126 closed, assigned to nobody

[2022-11-02 17:31] mustafauysal commented on #35469
I came here to report this as well. It seems version mismatches with template changes.

[2022-11-02 18:36] AngelEscobedoWH commented on #35471
I had the same issue. I wasn't developing it at the time and all of a sudden my website came down.
I wouldn't recommend it as a permanent fix, but I temporarily commented out

	array_walk(
		$data,
		function ( &$value ) {
			// $value = remove_accents( html_entity_decode( $value ) );
		}
	);

located at `/wp-content/plugins/woocommerce/includes/wc-core-functions.php:1824` line
and my website came

[2022-11-02 18:40] #35417 closed, assigned to chihsuan

[2022-11-02 18:55] rizvee commented on #35471
that brings out this>>>>

Fatal error: Uncaught TypeError: array_walk(): Argument #1 ($array) must be of type array, null given in /home/konezovd/public_html/wp-content/plugins/woocommerce/includes/wc-core-functions.php:1828 Stack trace: #0 /home/konezovd/public_html/wp-content/plugins/woocommerce/includes/wc-core-functions.php(1828): array_walk() #1 /home/konezovd/public_html/wp-content/plugins/w

[2022-11-02 18:59] barryhughes commented on #35405
Hi @icarostangent,

This is expected and intentional: consumers of the WooCommerce REST API (who have write permissions) should indeed be able to create orders for any customer they specify.

This made me curious about your particular use-case, though, and I wondered if there is any further context you can provide in terms of who or what is being granted keys to access the API in your case? If the

[2022-11-02 20:22] icarostangent commented on #35405
Ah I see. API Keys are for application controls. In my use case, I need user level controls. As such, I am not using API Keys for authentication. Instead, a JWT Auth plugin with this hook into the currently logged in user. So on the WooCommerce level, all endpoints are whitelisted, and the entire set of endpoints is secured by JWT. The frontend is a Vuejs app.

[code]

I will experiment with the o

[2022-11-02 20:44] barryhughes commented on #35405
Thanks for the kind words—and for the additional context (it's always good to hear about different projects and how they are structured). I'm afraid the way the WooCommerce REST API is currently modelled probably doesn't make it *ideal* for your use case ... though you can of course alter its behavior via various actions and filters, it may be quite a large task.

[2022-11-02 21:21] inspiredearth commented on #29138
I was also looking for this functionality. It's hard to believe that WC doesn't have this built in, and that this thread has been going since Feb 2021. Seems like an important feature, but I guess the team at Woocommerce disagree.

Whilst on my search I came across [this solution](https://stackoverflow.com/a/71112426/1092677):
[code]

My understanding is that will create the link to old orders, wh

[2022-11-02 22:18] faouz1 opened #35477 "Impossible de choisir le pays/ région à l'étape de configuration des détails de la boutique"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

je n'arrive pas à sélectionner le pays/Région à l'étape 1 configuration des détails de la boutique.
Je n'arrive pas à passer à l'étape deux
![woocommerce](https://user-images.git

[2022-11-02 22:51] krisgesling commented on #29138
We're using this and it has been working great so far:
[code]

Edit: Sorry I just read the OP and saw that this is about linking past orders to newly created accounts. I subscribed here as we were keen to do that, but failing a solid solution we've done the above so that we at least capture any new orders being made. We're also automatically creating an account for any order if an account doesn't

[2022-11-02 23:37] #35477 closed, assigned to nobody

[2022-11-02 23:38] faouz1 commented on #35477
j'ai désactivé la maintenance et tout fonctionne

[2022-11-03 01:50] galbaras commented on #29138
@inspiredearth Thank you so much for this. `wc_update_new_customer_past_orders()` is likely the function that carries out the manual linking of orders to customers, so this should work, and I've seen several threads suggesting this action, so it seems to have been tested.

This makes me wonder (yet again) why previous orders aren't linked to new customers by default and why the WooCommerce team is

[2022-11-03 02:56] Mxchael commented on #35471
Also seen in 5679438-zen

[2022-11-03 04:51] kaushikasomaiya commented on #35470
5677344-zen

[2022-11-03 04:52] kaushikasomaiya commented on #35470
Able to replicate on my test site as well.

[2022-11-03 06:32] jacoswan commented on #35470
Also able to replicate on localhost, WPCOM, Pressable, and JN sites in latest Chrome, Firefox, and DuckDuckGo. Active theme doesn't make a difference.

Downgrading through versions to as far as 6.7.0 does not seem to resolve, even with local cookies and caches cleared.

[2022-11-03 06:38] arigato-one commented on #35470
I think is related to WordPress 6.1

[2022-11-03 06:47] AashikP commented on #35471
Another possible report in 5672620-zen

[2022-11-03 07:05] bgrgicak commented on #35470
We started seeing the issue after updating to WordPress 6.1.

[2022-11-03 08:11] Nitin132 opened #35478 "Woocommerce Status is Not Showing"
![Dashboard-‹-Sleek-Fo-—-WordPress](https://user-images.githubusercontent.com/63965617/199672886-d5e82543-e8c8-43cb-aa65-e3a3e010d984.png)

woocommerce status is not showing  in Wordpress Dashboard. I m Using Wordpress 6.1 Version . Check Out The Screenshot Please . Please Help Me in this . Same issue I M facing in 2 Websites

[2022-11-03 08:53] peterfabian commented on #35471
This seems to be related to the new code added in WP 6.1: https://github.com/WordPress/wordpress-develop/commit/1d5d9e24c4cdb09d22d9819c6573a0d2d677f2b2#diff-e2bc0d3d983191acdb2effe67311dc37666eae53d59983281b34a7b4eed238acR1605-R1606

We're investigating further.

[2022-11-03 09:08] peterfabian commented on #35471
The current working theory is that:
- WP 6.1 added the usage of `Normalizer` class in `remove_accents` function
- Woo just calls standard WP function `remove_accents` as it did before, no change there
- Most likely some PHP installations are missing `intl` extension, so they should add it: https://stackoverflow.com/questions/8597146/class-normalizer-not-found-in-php-5-3-8?noredirect=1&lq=1
- Other

[2022-11-03 10:29] #35074 closed, assigned to barryhughes

[2022-11-03 10:59] Zodiac1978 commented on #35471
Hi @rizvee

can you please check why the function exist check is returning `true` in your environment?

And is `function_exists( 'normalizer_is_normalized' )` also `true`?

Can you double-check if the `intl` extension is loaded or not?

[2022-11-03 11:08] Jasperste commented on #35471
Adding the `intl` extension did the trick here. Thanks!

[2022-11-03 11:10] AnnaMag commented on #35076
@mdperez86 let's leave this change out and tackle when it is needed ( or time permitting at the end of the cycle).

[2022-11-03 11:57] Zodiac1978 commented on #35471
Technical explanation and fix here: https://core.trac.wordpress.org/ticket/56980

[2022-11-03 14:04] MandisPro-Solution opened #35482 "EMPTY CART ISSUE"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

EMPTY CART ISSUE- Cart says empty but items appear in icon

### Expected behavior

The problem, some visitors add items to their cart then when going to view cart receive a “Your

[2022-11-03 15:20] #34332 closed, assigned to joelclimbsthings

[2022-11-03 15:49] jorgeatorres opened #35486 "[HPOS] Add support for `meta_value` for `orderby` clause in `WC_Order_Query`"
**Prerequisites (mark completed items with an [x]):**
- [X] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Related to https://woocommercecommunity.slack.com/archives/C043

[2022-11-03 16:18] lynnjat7 commented on #35471
36121749-hc

[2022-11-03 16:47] #34930 closed, assigned to nobody

[2022-11-03 19:08] mdperez86 commented on #33562
@pmcpinto and @jarekmorawski do we have any conclusion of this?

[2022-11-03 20:00] ActionSkull opened #35488 "[Enhancement]: Sorting in Products By Category"
### Describe the solution you'd like

I have noticed that when I add the "Products By Category" block to a page, the resulting items are not sortable.  The only time I see the ability to have a sort is on the main shop page, which I don't really use.  It would be great if products could always be sortable, rather than only on the main shop page.

### Describe alternatives you've considered

_No re

[2022-11-03 20:00] ActionSkull opened #42543 "[Enhancement]: Sorting in Products By Category"
### Describe the solution you'd like

I have noticed that when I add the "Products By Category" block to a page, the resulting items are not sortable.  The only time I see the ability to have a sort is on the main shop page, which I don't really use.  It would be great if products could always be sortable, rather than only on the main shop page.

### Describe alternatives you've considered

_No re

[2022-11-03 23:48] #35405 closed, assigned to nobody

[2022-11-04 06:51] basile67 opened #35490 "[7.1 beta]: delete_meta_data() function bug"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the "Use the WooCommerce orders tables" feature is enabled then the function delete_meta_data( $metaKey ) is not working. It deletes order meta by the given meta key but onl

[2022-11-04 08:14] scheurta commented on #33808
Same issues here. Any updates on this?

[2022-11-04 09:23] Dekadinious commented on #32300
@barryhughes My host did some tests to see if it was possible to do some hacks in PHP for this, but they didn't manage. What he says is that you can get an empty test server and access to it if you want. They say that PHP usually does not decode URLs because the PHP scripts can't distinguish between / folders and other characters in URIs etc.

They also say that I have not been able to define the

[2022-11-04 10:20] pmcpinto opened #35494 "Tracks: add new event to "View product" action"
**Description:** we'd like to add new Tracks events to understand how many users click to view a product through the wp-admin notification we display after publishing/updating it.

<img width="1267" alt="Captura de ecrã 2022-11-04, às 10 08 12" src="https://user-images.githubusercontent.com/3380168/199949174-20c86dd2-b8f2-43ee-a6fa-b9d43699f04c.png">

**Acceptance criteria:**
- [ ] Trigger a new

[2022-11-04 10:21] pmcpinto commented on #35494
@AnnaMag is it possible to have this implemented by the Porter? I'd like to include this in WC 7.2 (code freeze Nov 17). Thanks

[2022-11-04 10:59] #35248 closed, assigned to nobody

[2022-11-04 11:26] imanish003 commented on #42591
I can see on my local setup that `Apply` button size is different for `Filter by Attribute` block.
In other words, All other filter blocks have different `Apply` button size than `Filter by Attribute` block.

@vivialice I quickly created a small PR that should fix this issue. Can you please a look at following draft PR?
https://github.com/woocommerce/woocommerce-blocks/pull/7578

| Before | After

[2022-11-04 11:44] danieldudzic opened #35495 "Icons broken in FSE: Fonts not being loaded in the Site Editor"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce loads icon fonts on the frontend, but doesn't in FSE, resulting in broken icons in the Site Editor:
- woocommerce/assets/fonts/star.woff
- woocommerce/assets/fonts/Wo

[2022-11-04 12:06] AnnaMag commented on #35494
Assigning @mattsherman as he is the porter in the week following the meetup.
but! @nathanss, this could be a good issue to grab in week 3, depending on where you are at in your dev set-up process at the beginning of it. Let's check in on the 14th.

[2022-11-04 14:29] #34803 closed, assigned to nobody

[2022-11-04 14:34] jarekmorawski commented on #33562
I still think we should use a spotlight because in many cases even that is not enough to educate users who usually skim over the helper texts.

Yes!

Only after the user changes the product type for the first time. Do we have a list of all possible change combinations that need copy?

[2022-11-04 15:08] beaulebens opened #35497 "[Enhancement]: Add guidance when configuring tax settings to avoid situations that result in apparent "rounding errors""
### Describe the solution you'd like

When configuring how taxes will be handled, there is an opportunity to inform the merchant that if they configure things a certain way, they are likely to see rounding errors in their cart/checkout. Ideally we would just never have these "rounding errors", although it seems like perhaps that's not possible. Failing that, we should try to educate merchants abou

[2022-11-04 16:59] pmcpinto commented on #35497
@SamratBiswas1 @adrianduffell @verofasulo I think the best option is to provide contextual guidance using our spotlight tour. We could display the spotlight the first time the user visits the screen and selects a combination that can trigger the rounding error.

The WC 7.2 code freeze happens the week after the meetup where we have some folks afk. Therefore, I think it's better to target 7.3, to e

[2022-11-04 17:02] jchambo commented on #35471
So is the "solution" here for WordPress instances running on Ubuntu Server, or say VPS's using OpenLiteSpeed WordPress installs to run these in order?

[code]

Then we can go ahead and update all plugins & update to WordPress 6.1?

[2022-11-04 18:35] #34864 closed, assigned to jorgeatorres

[2022-11-04 20:13] Zodiac1978 commented on #35471
Yes, this should solve the problem, as then the `intl` extension is providing the function directly and no polyfill is necessary. Especially, the namespace problem (and therefore the fatal error) is gone then.

See also:
https://make.wordpress.org/hosting/2021/05/20/why-hosters-should-install-the-php-intl-extension/

[2022-11-04 20:16] sukafia opened #35499 "Checkout phone field setting not working"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The checkout phone field setting in the customizer isn't working

### Expected behavior

The checkout phone field should use the setting specified in the customizer.

### Actual

[2022-11-04 20:17] sukafia commented on #35499
5684308-hc

[2022-11-04 21:12] roguewdesign commented on #33808
If anyone is having Cart issues due to this. You can go to WooCommerce -> Status -> Tools. Try clearing transients, cache and verifying database tables.

[2022-11-04 21:34] SamratBiswas1 commented on #35497
Agree.

@adrianduffell - Let's target it for 7.3 as Pedro suggested.

[2022-11-05 06:11] galbaras commented on #34071
@dd32 Thanks for the assist, Bro.

So this is now 4.5 months old, simple to fix, with a 1-month-old PR ready to go, but it still hasn't made it into a WooCommerce release.

Is there any way I can help close this issue? I can see failed checks, but have no idea how to fix those.

[2022-11-05 11:14] poof86 commented on #27419
For me the filters disappear when I use the Products for Category Block. The filters only show up when I place a All Products Block...

[2022-11-05 11:41] kenarsuleyman opened #35500 "woocommerce-{locale}-wc-admin-app.json not being generated because of incorrect file format."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

To generate wc-admin-app.json language file, code reads precompiled language JSON files in translations directory with the following format, woocommerce-{locale}-{MD5}.json, and

[2022-11-05 14:31] TowyTowy commented on #35470
Happens for me too.

[2022-11-05 14:36] erikdemarco opened #35501 "[HPOS]: Slow bulk 'move to trash' products in woocommerce 7"
### Describe the solution you'd like

Since updating to woocommerce 7 its always slow when doing bulk trash products. Beore updating I can bulk trash product 100 products without any problem. After updated to woocommerce 7 the maximum i can do is 20 products a time before timeout.

Is this problem caused by the new custom order table?

If this because HPOS. My rough calculation it makes the bulk a

[2022-11-06 00:26] galbaras commented on #35482
Could this be a caching issue (including browser caching/cookies)?

What component on your site is rendering the sidebar cart?

Is there anything in the site's error logs that may be relevant?

BTW, in the last screen capture, the icon is consistent with the cart page content, unlike the description.

[2022-11-06 09:15] tamas-web commented on #35109
So are you just going to ignore this bug and mark it as support request? Have you even tested this issue?
Also I have found another bug, or at least it seems like a bug. When you try to reorder variation by clicking and setting a menu order, after a couple of reorders it's not reordering properly anymore. I have provided a video so you don't have to use the provided code.
Again, radio inputs are u

[2022-11-06 09:25] rizvee commented on #35471
problem resolved. thanks all of you.

[2022-11-06 09:25] #35471 closed, assigned to nobody

[2022-11-06 11:24] Zodiac1978 commented on #35471
Hey @rizvee

Thank you for providing such a complete bug report. It was very helpful to have all the necessary data at hand. It wouldn't be solved so fast without this. 👍

[2022-11-06 16:00] erikdemarco commented on #35501
closed. wrong place to post

[2022-11-06 16:00] #35501 closed, assigned to nobody

[2022-11-07 08:39] Marc-pi commented on #35361
hello,
Just an add on : it occurs also through a theme update, and its annoying, strange

[2022-11-07 10:28] xmneax commented on #22284
+1 on improving the UX of this page/form.
Very confusing to customers.

[2022-11-07 11:45] mastix01 opened #35503 "[Enhancement]: Make advanced searches possible inside WooCommerce product section"
### Describe the solution you'd like

Please make advanced searches possible inside WooCommerce product section. The search box never finds anything but the most basic title field etc. We need powerful searches like the one present in many plugins in the front end. Metadata like IPTC, Product Tags taxonomies etc. Right now to find anything when you have hundreds or thousands of products is a mess.

[2022-11-07 13:28] osmarycarrillo opened #35504 "error activating the plugin"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

when I activate the plugin, I can't edit my pages
I use the divi builder

### Expected behavior

I would like help on what to do about it

### Actual behavior

when I try to edit

[2022-11-07 14:02] gglobalstep opened #35505 "[GlobalStep] "Dismiss" button overlaps with task list "Add (Paid Theme) to my store" after clicking ellipsis menu on "Woocommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Dismiss" button overlaps with task list "Add (Paid Theme) to my store" after clicking ellipsis menu on "Woocommerce > Home" page.

### Expected behavior

"Dismiss" button should

[2022-11-07 14:42] alex254 opened #35506 "REST POST Product with type = variable and attributes.variations property = true does not create variations"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For a catalog syncing usecase it is desired to minimize the amount of API calls. One would expect to be able to create a product of type variable with its variations in one go. H

[2022-11-07 15:41] ValueErr opened #35509 "Analytics Custom Date Range"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On a fresh install of WooCommerce, the Select a Custom Date Range function within the analytics section is bugged as the buttons to go a month forwards or backwards are too big.

[2022-11-07 18:54] cena commented on #35509
Also reported in 5690274-zen.

On my test site, the custom picker looks like this and the calendar icons don't work.  You can manually enter dates.

![SCR-20221107-hw5](https://user-images.githubusercontent.com/19334/200391364-2d3b6176-9e4d-4d30-a7df-52cc331d0941.png)

---

Manually inputting custom dates and clicking on Filter seems to work, however:

![SCR-20221107-htf](https://user-images.githu

[2022-11-07 19:12] ericfri commented on #35509
5691601-zen

[2022-11-07 20:04] cena commented on #35509
5691148-zen

[2022-11-07 21:26] marla2000 opened #35512 "WC 7.0.1 fatal error"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi, when "updating" an order, we keep receiving a fatal error IF the order status field is empty.

If the order status is filled with a status, saving/updating the order is perfe

[2022-11-07 21:34] marla2000 commented on #35512
WordPress-Version 6.1
Aktives Theme: Savoy Child (Version 1.0)
Aktuelles Plugin: WooCommerce (Version 7.0.1)
PHP-Version 8.0.25

[2022-11-07 21:51] WiredWonder commented on #29367
There are scenarios where the customer enters their email wrong and the store owner needs to correct it and re-send the new order confirmation. Can this be reconsidered?

[2022-11-07 22:48] ChimaGhost opened #35513 "Fatal Error: "Uncaught Error: array_key_exists(): Argument #2 ($array) must be of type array, bool given" on upgrade to PHP 8.0"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I upgrade from php version 7.4 to php 8.0.22 I immediately get a fatal php error when trying to view the wordpress admin.

### Expected behavior

No errors when I upgrade to

[2022-11-07 23:20] jtobiesen commented on #22493
Because of zen-5677301, tested adding zero shipping cost (the merchant would like shipping address to show even if there is free shipping) to the shipping information when creating the manual order. Confirmed both billing and shipping address show on confirmation email.

[2022-11-07 23:56] mikeisadev opened #35514 "WP_Insert_Post NOT WORKING AS BEFORE"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

before updating WooCommerce to 7.0.1 I could insert PRODUCTS programmatically via `wp_insert_post()` function or through an instance of the class of the product I wanted

[2022-11-08 01:27] sunyatasattva opened #42542 "Product Query: [Filters] When inside a Product by Category template using a Filter by Attribute, non-pertaining attributes can be selected"
## Describe the bug

If a “Filter by Attribute” block is added within a “Products by Category” template, it shows all attributes available even if not pertaining to that category.

In combination with the normal classic block, it produces a mismatch between the data shown in the filter block and the classic block (similar, but different from https://github.com/woocommerce/woocommerce-blocks/issues

[2022-11-08 01:36] sunyatasattva opened #42541 "Filter by price shows wrong minimum bound when attributes are filtered"
## Describe the bug

When an attribute filter is selected, the minimum bound of a “Filter by price” gets set to $10, even though there are no products at the $10 range.

Could be related to https://github.com/woocommerce/woocommerce-blocks/issues/6822

## To reproduce

Steps to reproduce the behavior:

1. Add a “Filter by Price” and “Filter by Attribute” block to your page. Optionally add an “All

[2022-11-08 01:43] sunyatasattva opened #42540 "Product Query: [FSE] Polish the UX for the “Inherit query from template” switch"
https://github.com/woocommerce/woocommerce-blocks/pull/7382 introduces the ability for the Product Query block to inherit the global query. We had to remove the original Query Loop switch, and replace with our own, because the behavior needs to be customized to our needs. The good news is that we can also change the experience around this specific setting. In particular, the label and the help tex

[2022-11-08 02:12] samueljseay commented on #35454
Hi @danilobritobo thanks for raising this, but I think this is probably a question for the authors of "Event Manager and Tickets Selling Plugin for WooCommerce" because we can't confirm if this is our problem or not. Perhaps you could reach out to them for support: https://wordpress.org/support/plugin/mage-eventpress/

[2022-11-08 02:13] #35454 closed, assigned to nobody

[2022-11-08 02:14] pilinqn opened #35515 "calendar began to fail."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The calendar began to fail.

When you click on one of the products, a window opens with the details of the reservation, after the last update that window does not open.

when you

[2022-11-08 02:19] samueljseay commented on #35469
This isn't strictly a bug, but it needs a dev team member to confirm if the version number is correct.

[2022-11-08 02:21] samueljseay commented on #35459
@tammullen I have less experience with these theme type issues, but is this a situation where compatibility is a responsibility of core woocommerce or of the 2023 theme?

[2022-11-08 02:27] samueljseay commented on #35482
I would also like to know if this issue persists with a default theme? It's possible the theme is causing this issue.

[2022-11-08 02:32] samueljseay commented on #35515
Thanks for raising this, but this looks like an issue with WooCommerce Bookings plugin. If you need support for that plugin you can ask for support directly on WooCommerce.com https://woocommerce.com/my-account/create-a-ticket/

[2022-11-08 02:32] #35515 closed, assigned to nobody

[2022-11-08 02:37] samueljseay commented on #35478
Hi @Nitin132 I can understand that must be frustrating but to be able to help you we need more information.

Have you followed [the troubleshooting guide?](https://woocommerce.com/document/woocommerce-self-service-guide/)

Otherwise we need other details to reproduce this error, for example, we need to know if you have tried deactivating all other plugins and if you still see this issue.

[2022-11-08 07:53] PanosSynetos opened #35516 "[HPOS] Move hook `woocommerce_before_delete_order` before `delete_order_data_from_custom_order_tables`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

This PR https://github.com/woocommerce/woocommerce/pull/34858 h

[2022-11-08 08:19] IlungaNtita opened #35518 "Woocommerce shipping applying delivery fees on pickup option bug"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Hello everyone,

I have installed the WooCommerce Distance Rate

[2022-11-08 08:26] IlungaNtita opened #35519 "Woocommerce shipping applying delivery fees on pickup option bug"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello everyone,

I have installed the WooCommerce Distance Rate Shipping plugin and created shipping zones and shipping methods, for shipping methods we are using distance rate o

[2022-11-08 09:06] AashikP opened #35520 "Bust coupon cache set in `wc_get_coupon_id_by_code` function when their status is set to draft."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

As of now, you can apply coupons that are set to Draft Status, or Published privately.

* Slack discussion: p1667617311403369-slack-C7U3Y3VMY
* Merchant Reports: 5684693-zen
* Po

[2022-11-08 09:11] ValueErr commented on #35509
I can confirm this is exactly what I am experiencing.

[2022-11-08 10:45] ifinoi commented on #42540
@sunyatasattva @vivialice Let's decide whether this will be a switch or a preset, and then work on the text.

[2022-11-08 13:19] swatipawarGS commented on #35512
Hi @marla2000,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 7.0.1 version, PHP 8.0.25 version, and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/200496146-4c30a403-a8fc-410b-a8e6-23fb673c701a.mp4

Please provide us

[2022-11-08 13:20] swatipawarGS commented on #35509
Hi @ValueErr,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.0.1 version and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/200497716-7d24949d-dc4d-48d5-9cfe-040a59787ed1.mp4

Priority of this issue will be assigned

[2022-11-08 13:21] swatipawarGS commented on #35504
Hi @osmarycarrillo,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 7.0.1 version, PHP 8.0.25 version, and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/200512806-33c38597-f98a-4ee6-a4a6-11a5742bcbd4.mp4

Please provi

[2022-11-08 13:21] swatipawarGS commented on #35495
Hi @danieldudzic,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 7.0.1 version, PHP 8.0.25 version, and WordPress 6.1 version.

Please find below the screenshot for reference :
![#35495](https://user-images.githubusercontent.com/94531721/200519344-672b05e1-bcf0-4ed0-9462-ad733379adae.jpg)

Plea

[2022-11-08 13:22] swatipawarGS commented on #35470
Hi @arigato-one,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.0.1 version and WordPress 6.1 version.

Please find below the screenshot for reference :
![#35470](https://user-images.githubusercontent.com/94531721/200523316-aa7bfd12-69a6-4642-8b10-c85ddbe74312.jpg)

Priority of this issue will

[2022-11-08 13:22] swatipawarGS commented on #35458
Hi @tammullen,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.0.1 version and WordPress 6.1 version.

Please find below the screenshot for reference :
![#35458](https://user-images.githubusercontent.com/94531721/200548372-2bab9135-0059-4660-9ab5-d3775b3ac0be.jpg)

Priority of this issue will b

[2022-11-08 13:31] amElnagdy commented on #35470
5677394-zen

[2022-11-08 16:07] marla2000 commented on #35512
Hi

thank you for your response.

Can you try the same steps again, without an order "Status".

Because our order status is always "blank", and when we update it shows the fatal error. Even old orders from a couple of weeks ago don't display any "Status" on this page.

[2022-11-08 16:25] marla2000 commented on #35512
<img width="342" alt="Screenshot 2022-11-08 at 17 22 50" src="https://user-images.githubusercontent.com/117685831/200620133-9644b996-d46c-4971-9be0-20fec4aab03f.png">

the order status is not displaying any more...thats the issue I think ...and then updating will results in a fatal error

[2022-11-08 16:32] marla2000 commented on #35512
<img width="1501" alt="Screenshot 2022-11-07 at 20 28 38" src="https://user-images.githubusercontent.com/117685831/200622011-e7d66a04-d830-4cc7-9708-2ce7bb3eb705.png">

[2022-11-08 16:42] anastas10s-afk commented on #35276
Also reported here: https://wordpress.org/support/topic/multiple-variation-products-displaying-out-of-stock-items/

[2022-11-08 17:02] barryhughes commented on #32300
That's a possibility, though we prefer not to. If this is a generally reproducible bug that can be seen using just a default installation of WooCommerce, I'd much prefer we just update this issue with a corrected set of testing instructions.

Perhaps your host could add a note here with updated steps-to-replicate?

[2022-11-08 17:29] coreyworrell commented on #28419
Meta fields can be setup in the sidebar and can open as “flyouts” or modals to allow more space. Several plugins (and other website builders) currently use this method and it works well.

Example: https://docs.gravityforms.com/edit-choices-flyout/

[2022-11-08 17:47] kkauten commented on #35276
Hi,
This isn't the same issue because I DON"T have the Manage Stock checked and
I don't track stock at all.  That is the issue.  It won't work if you don't
keep track of inventory/stock.

Kellie

*Kellie Kauten*
***@***.****
*Artistic Organics - CBD Wellness*
*7227 Main St #300*
*Frisco TX 75034*
*https://linktr.ee/ArtisticOrganics <https://linktr.ee/ArtisticOrganics>*

On Tue, Nov 8, 2022 at 10:4

[2022-11-08 17:51] stfn00 opened #35523 "Checks not triggered upon payment of the Conditional Shipping and Payments plugin on certain payment methods"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi, after the latest updates, the destination restrictions check of "WooCommerce Conditional Shipping and Payments" paid plugin, are no longer triggered when the payment method u

[2022-11-08 18:05] sf-steve commented on #35509
Can also confirm on live sites with versions 7.0.1, 6.5.1 & 6.6.1, the later 2 not having been updated, and not (as far as we can tell) having had this issue previously. Perhaps related to something external (wordpress core?)

[2022-11-08 19:08] mattsherman commented on #35182
I've assigned myself to this, as it is right in the same code as #35184

[2022-11-08 19:19] ainsleyclark opened #35525 "Templates that need updating don't flush after migrating"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When updating page templates to the latest version, Woo doesn't automatically pick it up as being updated.

### Expected behavior

Once the template has been overridden and updat

[2022-11-08 21:45] #35449 closed, assigned to nobody

[2022-11-08 21:51] samueljseay commented on #35518
Because you're using WooCommerce Distance Rate Shipping it will be hard for us to determine if this is a WooCommerce core issue or an issue created by the plugin. You would be better off to [request support](https://woocommerce.com/my-account/create-a-ticket/) for the problem you are facing.

[2022-11-08 21:51] #35518 closed, assigned to nobody

[2022-11-08 21:53] samueljseay commented on #35519
Because this is an issue where another plugin is involved it is hard for us to determine if this would be a problem with WooCommerce core (this Github repository is just for the core plugin). I would recommend reaching out for [support](https://woocommerce.com/my-account/create-a-ticket/) for the plugin you're having trouble with

[2022-11-08 21:53] #35519 closed, assigned to nobody

[2022-11-08 21:57] samueljseay commented on #35523
Yes although some plugins outside of core are developed by the WooCommerce team, we can't handle support for issues with them here. Sorry for the inconvenience.

If you are having trouble with plugins authored by WooCommerce you can reach out for [support](http://woocommerce.com/my-account/create-a-ticket/)

[2022-11-08 21:57] #35523 closed, assigned to nobody

[2022-11-08 22:02] lukecav commented on #35525
https://wordpress.org/support/topic/cant-dismiss-admin-note-about-template-files/

[2022-11-08 22:08] sunyatasattva opened #42539 "Product Query: [Settings] `Filter by Featured Products`"
Merchants can mark certain products in their catalog as featured, we should have a setting in the inspector controls that allows the merchant to:

1. Show only Featured Products
2. Exclude Featured Products

Do not confuse this idea with the “Featured Product” block which allows the merchant to select a product to feature from the editor.

[2022-11-08 22:14] sunyatasattva opened #42538 "Product Query: [Settings] `Filter by Price Range`"
Merchants should be able to filter their product for a specific price range from the inspector controls.

[2022-11-08 22:20] ainsleyclark commented on #35525
Just FYI this has occurred on all versions, not just 7.

[2022-11-08 22:26] marla2000 commented on #35512
Fehler-Details
==============
Ein Fehler vom Typ E_ERROR wurde in der Zeile 578 der Datei /www/biene24_281/public/wp-content/plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php verursacht. Fehlermeldung: Uncaught Exception: Bestellstatus fehlt. in /www/biene24_281/public/wp-content/plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php:578
Stack t

[2022-11-08 22:36] sunyatasattva opened #42537 "Product Query: [Settings] Sorting orders should be combinable"
Merchants should be able to combine different—non-exclusive—sorting orders, for example: Best selling & Newest, or Top rated & Newest. When this is implemented, it will amend the spec limitation in woocommerce/woocommerce-blocks#7621 and enable merchants to select multiple quick presets.

Whether such settings will go under a separate component (like the current Order by dropdown) or will be only

[2022-11-08 22:39] sunyatasattva opened #42536 "Product Query: Show placeholders and a notice in the inspector when the store has no products"
When the store has no products, a warning notice should be shown within the inspector, like so:

![Screenshot 2022-11-08 at 23 38 33](https://user-images.githubusercontent.com/1847066/200691290-68f63617-5712-453e-961d-7ff09c8e82a8.png)

In such cases, the Product Query block should still show in the editor with placeholder blocks.

[2022-11-08 22:47] sunyatasattva opened #42535 "Product Query: Improve the UX of the block when no results are found in the editor"
Currently, when the filter selected by the merchants return no product in the editor, a simple label saying “No results found.” is shown in the editor.

We want to improve this UX. Whether we can do it or not, is currently a bit of an unknown, as the “No results found.” is handled by the “Post template” block in Gutenberg (`packages/block-library/src/post-template/edit.js:L234`). My hunch is that

[2022-11-08 22:58] sunyatasattva opened #42534 "Product Query: [Tests] Full unit test coverage of the `ProductQuery` class"
The `ProductQuery` class is the heart of the block and has a lot of responsibilities. As many settings can be mixed and matched within the block itself, it's unwield to test all possible paths in E2E tests. We will test critical paths and some sample combinations as E2E tests, but we should aim for 100% coverage of the PHP code powering the block.

This issue is a follow-up to woocommerce/woocomme

[2022-11-09 05:35] thisissandip commented on #35509
Also reported in: https://wordpress.org/support/topic/analytics-error-3/#post-16179818

[2022-11-09 06:07] j111q commented on #35509
Just adding that this bug was also reported to the Woo Design team internally; thanks @ValueErr for submitting this issue and @swatipawarGS for investigating! 🙏

[2022-11-09 07:26] github-actions[bot] opened #42533 "[Flaky Test] clicking the upgrade button convert the legacy block to core/search variation"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
clicking the upgrade button convert the legacy block to core/search variation

## Test path
`tests/e2e/specs/backend/product-search-legacy.test.ts`

## Errors

<time datetime="2022-11-09T07:26:29.179Z"><code>[2022-11-09T07:26:29.179Z]</code></time> Test passed after 1 failed

[2022-11-09 08:02] kaushikasomaiya commented on #34652
5696368-zen

[2022-11-09 10:28] dylande2ker commented on #34944
Hi @anastas10s-afk

Thank you for the information.
I tested the code from Stackoverflow and it only seems to work on the first order row or the order row that would end up zero:
![image](https://user-images.githubusercontent.com/25139963/200806249-221ca609-ada4-47d2-bf96-d37acd9f8517.png)

We would like to see that the 6,- discount from coupon ABC gets divided proportional over all order rows.

[2022-11-09 10:56] nima-karimi commented on #34549
Just an update, this is implemented in https://github.com/woocommerce/woocommerce/pull/35099 and merged to the [feature branch](https://github.com/woocommerce/woocommerce/tree/feature/34548-multichannel-marketing-backend) (`feature/34548-multichannel-marketing-backend`) but is still not merged to `trunk`.

[2022-11-09 11:08] danieldudzic commented on #35495
Hi @swatipawarGS,

Are you testing this in the Site Editor?

Here's the result with:
WooCommerce: 7.1.0
WordPress:  6.1
PHP:  8.0.25

![Editor__beta__‹_Spontaneous_Bedbug_—_WordPress_and_Spotify_Premium](https://user-images.githubusercontent.com/905781/200814542-34178198-a955-4078-be48-2e5ca4f2f108.jpg)

[2022-11-09 12:43] swatipawarGS commented on #35520
Hi @AashikP,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 7.1.0 version and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/200757929-09bdb049-9bb2-4ab3-9616-809c9f4c3228.mp4

Please provide us with more details and

[2022-11-09 12:44] swatipawarGS commented on #35472
Hi @FotorecordPS,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/200758774-2c17d506-bfbb-4e81-8eaf-1eafb4d3aa97.mp4

Priority of this issue will be assig

[2022-11-09 12:45] swatipawarGS commented on #35459
Hi @tammullen,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 7.1.0 version and WordPress 6.1 version.

Please find below the screenshot for reference :
![#35459](https://user-images.githubusercontent.com/94531721/200760913-18694a82-6c8a-4203-82b2-638b32645423.jpg)

Please provide us with more

[2022-11-09 12:46] swatipawarGS commented on #35451
Hi @Michaelgimii,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 7.1.0 version and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/200764071-3a798b9c-bef3-4fc1-b7f2-4f20e060c45c.mp4

Please provide us with more details

[2022-11-09 13:20] danieldudzic commented on #42582
@dinhtungdu re: https://github.com/woocommerce/woocommerce-blocks/pull/7592

It would make sense to create one Rating component that would support all use cases:
- Filter by Rating
- Single product/All products rating

Initially, I wanted to do it as a part of the **Filter by Rating** block project but decided that since this is not a blocker, it makes more sense to have it as a Cooldown todo item

[2022-11-09 14:03] kaushikasomaiya commented on #35470
5697301-zen

[2022-11-09 14:22] victormattosvm opened #35526 "[Enhancement]: Task to delete obsolete term relationships from products"
### Describe the solution you'd like

The last change you've made [#Remove logic for storage of attribute terms for variations](https://github.com/woocommerce/woocommerce/commit/a94ea7f51fec0bb7646e3bf70278f06893539a90) left unused records in the database. I haven't found a migration task that removes them.

Could you confirm me, please?

### Describe alternatives you've considered

Run an asynchr

[2022-11-09 14:22] albarin opened #42532 "Reorganize starting Woocommerce templates"
### Discussed in https://github.com/woocommerce/woocommerce-blocks/discussions/6919

<div type='discussions-op-text'>

<sup>Originally posted by **Aljullu** August 18, 2022</sup>
Currently, WooCommerce allows users to modify these templates:

* Single Product
* Product Catalog
* Products by Category
* Products by Tag
* Product Search Results

![imatge](https://user-images.githubusercontent.com/361

[2022-11-09 14:30] kaushikasomaiya commented on #35470
Following CSS can be loaded to WPAdmin using any Admin CSS plugin as a temporary fix: https://d.pr/n/Ltz4Fw

[2022-11-09 15:22] arigato-one commented on #35470
Isn't too much CSS for this problem?

[2022-11-09 15:30] webdados opened #35527 "[HPOS] If HPOS is disabled and "Use the WooCommerce orders tables" is active, order tables are still used"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If the user activates HPOS in WooCommerce > Settings > Advanced, and sets the order table to be used in Custom data stores, the orders table starts to be used, and the WP Admin l

[2022-11-09 15:33] kaushikasomaiya commented on #35470
@arigato-one It appears that not only the arrows are big but styling of whole calendar is messed up due to missing styles. I extracted these styles from WP Includes folder, these should already be loaded but not sure why they are missing.

[2022-11-09 16:39] mikejolley opened #35531 "Taxes for Multiple Shipping Packages are charged incorrectly when combined with Local Pickup Shipping"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Taxes in WooCommerce are calculated from the customer’s shipping address. [There are however certain tax rules that apply to orders that are collected from a store](https://www.s

[2022-11-09 17:31] anastas10s-afk commented on #35509
Also reported here: https://wordpress.org/support/topic/wc-analytic-custom-report-issue/

Screenshot from a test installation of mine, where I can reproduce it: https://snipboard.io/RKuqab.jpg

[2022-11-09 19:20] WillBrubaker opened #35533 "[Enhancement]: HPOS flag in system status report"
### Describe the solution you'd like

There's no indication in the system status report that HPOS is enabled or not. I'd like to see that field when opening a support ticket.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-09 20:49] orhanfernandes commented on #35470
5698780-zen

[2022-11-09 22:30] mattsherman commented on #35184
The position of the tooltips is actually fixed in the version of `@wordpress/components` included in WordPress 6.1 (`21.0.6`, see https://github.com/WordPress/WordPress/commit/bfbf1bc0530e5c915122f6a207349e6f4b7e942f).

So, how do we handle such an issue? We always use the version of `@wordpress/components` included in WordPress, correct? (/cc @joshuatf)

We should separately update the version of

[2022-11-09 22:33] mattsherman commented on #35184
@jarekmorawski

I think that the current tooltips of:

* `Move previous`
* `Move next`

are better than `Move left` and `Move right` respectively, since "previous" and "next" work better in a RTL/BiDi environment. Unless we want the translation actually changed from "left" to "right" (and vice-versa) for those locales where RTL/BiDi is used.

What do you think?

[2022-11-09 23:14] davidwebca commented on #34342
I'm getting this issue as well, my theme enables the block editor on products.

[2022-11-10 07:57] shankeyb commented on #35478
@Nitin132 I too confirm this issue...the woocommerce widget does not display because there is a issue in code from line 66 to 75 for an temporary fix navigate to **includes/admin/class-wc-admin-dashboard.php**

FROM Line 66 replace the code with below one
``
	private function should_display_widget() {
// 			if ( ! WC()->is_wc_admin_active() ) {
// 				return false;
// 			}
		$has_permission

[2022-11-10 08:04] chthonic-ds opened #35535 "New Zealand zone regions no longer assigned after upgrade to 7.1.0"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The 7.1.0 release changes the zone region IDs for New Zealand to a new format. For example, `AK` becomes `AUK`. See #35011 for further detail.

If a shipping zone has New Zealand

[2022-11-10 08:10] chthonic-ds commented on #35535
Additionally: if Country/State for Store Address is set to a New Zealand location, after upgrading to 7.1.0 the value will fallback to Afghanistan. Guessing this is related but can open a new issue if necessary.

Country/State before upgrade:

![woocommerce-7-10-1-store-address-country-before-upgrade](https://user-images.githubusercontent.com/29587253/201035796-09a81edf-76ba-469c-8de1-5ceada1ecd9f

[2022-11-10 10:18] swatipawarGS commented on #35495
Hi @danieldudzic,
Thank you for the updated information. we are able to reproduce the issue using the given updated information on our end with WooCommerce 7.1.0 version, PHP 8.0.25 version, and WordPress 6.1 version.

Please find below the screenshots for reference :
![#35495](https://user-images.githubusercontent.com/94531721/201017125-859e7f9c-8776-4cf6-810c-a956e8136323.jpg)

Priority of this

[2022-11-10 10:22] AnnaMag opened #35538 "Adapt the width of the price fields"
Follow-up to https://github.com/woocommerce/woocommerce/issues/35180.

The currency placement is correct as per designs, but the width of the fields differs.

![Image](https://user-images.githubusercontent.com/13561163/201067060-ff8e62e5-577c-437e-bc30-31642c48c059.png)

EDIT:
we could consider updating Inventory + Shipping within the same PR

<img width="826" alt="Screenshot 2022-11-15 at 21 15 3

[2022-11-10 10:28] AnnaMag commented on #35180
closing in favor of https://github.com/woocommerce/woocommerce/issues/35538

[2022-11-10 11:10] albarin opened #42531 "Hide the `Products by Category, Tag, and Attribute` templates from the templates list"
Hide those three templates from the list of templates by default. Instead, they should appear in the `Add New` button menu. However, if the theme or the user has customized one of those three templates, it will appear in the templates list. (The tl;dr is that they should behave as the Category and Tag templates from WP core.)

[2022-11-10 12:12] jarekmorawski opened #35539 "[Enhancement]: Add an helper text to the Sale price field"
### Describe the solution you'd like

We want to inform users what will happen when they enter the sale price. Let's add a helper text with some explanation.

**Acceptance criteria:**

- [ ] The Sale price field has a helper text that reads `If filled, the product will be marked as on sale.`

### Describe alternatives you've considered

_No response_

### Additional context

Figma: 5sAIeTRd9Yp7nSC

[2022-11-10 12:19] kaushikasomaiya commented on #28752
5698092-zen

[2022-11-10 12:23] jarekmorawski opened #35540 "[Fix] Page scrolls back to the top when the user opens any modal in Safari/iPad"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The page scrolls back to the top when the user uploads an image in the `Images` section or opens the attributes modal in the new UX. It's good to take a look and test this behavi

[2022-11-10 12:28] AnnaMag commented on #35538
Note: more fields in the form seem to need a modification, but let's keep the scope here very limited.

[2022-11-10 12:30] AnnaMag commented on #35180
Reopening after retesting: the placement of the currency seem to depend on the locale, which by design should not affect it.

[2022-11-10 12:31] kaushikasomaiya commented on #28752
I think this is deliberately set here: https://github.com/woocommerce/woocommerce/blob/0b52411ff768279dc59bb5376255c584e797970c/plugins/woocommerce/includes/shipping/free-shipping/class-wc-shipping-free-shipping.php#L157

[2022-11-10 13:26] ChrissiePollock commented on #32187
5701147-zen as well.

[2022-11-10 13:36] alphavaletec commented on #32187
Nice!!!

[2022-11-10 13:37] alphavaletec commented on #32187
NICE!!!

[2022-11-10 13:42] jarekmorawski opened #35541 "[Fix] Add a missing space between the emoji and the snackbar message's content"
We've noticed that there's currently a space missing between the emoji and the message's text in the celebration snackbar message that shows up after the user publishes a product.

<img width="469" alt="image" src="https://user-images.githubusercontent.com/79307566/201106557-048036b8-3ac0-40c6-b01b-a0f6fff7065d.png">

**Acceptance criteria**

- [ ] There's a double space (or 8 px if we'll be addin

[2022-11-10 15:14] jimjasson opened #35543 "Calling `woocommerce_wp_select` in WooCommerce > Settings context throws a notice"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Plugins use the `woocommerce_wp_select` function (and the rest `woocommerce_wp_XXXX` functions) to display elements under WooCommerce > Settings.

From [this commit](https://gith

[2022-11-10 16:07] jonathansadowski commented on #35513
Marking this as "status: developer reproduction" based on discussion in p1667981131393249-slack-C011ENB20Q1.

Thanks for your patience, in the mean time, if you're able to add any additional steps that we might help us try and reproduce the issue, it would be appreciated.

[2022-11-10 16:38] roykho commented on #34262
After looking at this deeper, it is quite difficult to handle this edge case without a very convoluted solution that is sometimes error prone in itself. I think we can just settle with the fact that if on an edge case, the changelog entry is not added, the cherry picked PR reviewer will need to catch that.

[2022-11-10 16:38] #34262 closed, assigned to roykho

[2022-11-10 17:39] #35516 closed, assigned to PanosSynetos

[2022-11-10 17:41] loulemos opened #35544 "[Enhancement]: Return Add to Cart Portuguese translation to what it was before."
### Describe the solution you'd like

With the newest Woocommerce update the Portuguese translation for the "Add to Cart" Button went from "Adicionar" to "Adicionar ao Carrinho" this makes for an awkward button since it’s 10 more characters than the english “Add to cart”.
I belive the before translation "Adicionar" was more than clear to users and clients, we never heard a complaint.

### Describe

[2022-11-11 01:16] perrelet opened #35548 "Unable to instantiate WC_Order_Item by id (Uncaught Exception)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Running

`new WC_Order_Item($order_item_id)`

Throws:

`Fatal error: Uncaught Exception: Invalid order. in /home/courses/public_html/site/wp-content/plugins/woocommerce/includes/

[2022-11-11 07:14] divyanshu-chaudhari-shipsy commented on #34973
Thanks jonathansadowski, your suggestion to deactivate other plugins worked. A plugin used for creating serial numbers was used which created that error. Have used an alternate plugin and its working fine now.

[2022-11-11 07:14] #34973 closed, assigned to nobody

[2022-11-11 09:38] nb commented on #35150
There is a recent WordPress core conversation about full-text indices: https://core.trac.wordpress.org/ticket/51769

[2022-11-11 10:25] EjayhanFernandes opened #35550 "Reviews section under "Edit product settings" doesn't display previous reviews"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Reviews for a product aren't displayed on the **Reviews** section on the edit product page. It doesn't display anything even if the product has had previous reviews:

Reviews:

!

[2022-11-11 10:43] EjayhanFernandes commented on #35550
5702267-zd-woothemes

[2022-11-11 11:17] andrea19920611 opened #35551 "Hook woocommerce_store_api_checkout_update_order_meta, miss parameter"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,

in file “wp-content/plugins/woocommerce/packages/woocommerce-blocks/src/StoreApi/Routes/V1/Checkout.php” on line 354 there is hook:
`
do_action( 'woocommerce_store_api_check

[2022-11-11 11:49] xristos3490 opened #35552 "Allow adding custom task headers in the setup task list"
### Description

Currently, it is possible to add custom tasks to any task list, but the task headers included in the setup task list are not extendable.

That's because the entire system of task headers is handled directly in ReactJS. See https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/two-column-tasks/task-headers.ts#L14-L24

**Example adding a custom task

[2022-11-11 12:41] swatipawarGS commented on #35535
Hi @chthonic-ds,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/201279074-e48d4f5c-d4c9-4661-9600-263efb0e587c.mp4

https://user-images.githubusercontent

[2022-11-11 12:43] tammullen commented on #35459
Responsibility of core usually. Some changes were previously made in https://github.com/woocommerce/woocommerce/pull/35306

[2022-11-11 12:52] marla2000 commented on #35512
hey have you checked this

[2022-11-11 13:00] grapefishflu opened #42530 "Respect out of stock option in Cross sell block"
## What do you like about the Cart & Checkout blocks?
Big visual improvement. Using the block editor I have been able to add things to my cart page.
## What do you think is missing from the Cart & Checkout blocks?
The Cart Upsell block needs the option to hide out of stock products.

[2022-11-11 13:53] melcarthus commented on #33808
```Deprecated: Return type of WC_CP_Component::offsetExists($offset) should either be compatible with ArrayAccess::offsetExists(mixed $offset): bool, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in /var/www/html/wp-content/plugins/woocommerce-composite-products/includes/class-wc-cp-component.php on line 1129 Deprecated: Return type of WC_CP_Component:

[2022-11-11 13:53] kmanijak commented on #42546
Currently used `@wordpress/components` version: ~~14.2.0~~ (EDIT: **19.1.5** I checked wrong revision 🤦 )
Minimum `@wordpress/components` version required to fix the issue: **20.0.0**
Newest `@wordpress/components` version: **22.0.0**

After bumping the version, the issue could be fixed, by `__experimentalAutoSelectFirstMatch` flag. If true, select the first matching suggestion when the user press

[2022-11-11 13:59] Aljullu commented on #42546
Sounds like a good plan. I agree that it's better to use the property from upstream than implementing a hacky solution downstream. :100:

[2022-11-11 14:16] KeyboardRage opened #35554 "Page navigation in product variations has unexpected UX behaviour"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In a variable product with many variants, navigating between the pages of variants will discard your changes even if you press "cancel" after the warning of unsaved changes.

###

[2022-11-11 15:28] aswanevelder opened #35555 "PUT does not work on product/variations"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am unable to update a product variation, even though I get a 200, nothing changes in the backend.

wp-json/wc/v3/products/6360/variations/6361

[code]

### Expected behavior

S

[2022-11-11 18:32] mattsherman commented on #35538
@AnnaMag Do we have other issue(s) to address the other fields?

Also, I wonder if this really reduces scope much, since we are talking about just a breakpoint with a `width` setting probably. We could probably apply that CSS change to the other necessary fields and test those fields without a sizable increase in scope. Just a thought.

[2022-11-11 20:45] jonasborneland opened #35556 "Action Scheduler migration in progress. The list of scheduled actions may be incomplete."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After installing Memcached Redux I get this notification:
Action Scheduler migration in progress. The list of scheduled actions may be incomplete.

It dosen't go away.

What does

[2022-11-12 01:45] mattsherman commented on #35180
No, it *should* affect it. This was by design. As @jarekmorawski mentioned above:

Re-closing.

[2022-11-12 01:45] #35180 closed, assigned to nobody

[2022-11-12 08:45] jarekmorawski opened #35558 "[Enhancement]: Fix price field currency symbol position"
### Describe the solution you'd like

We're looking to simplify the price input field and make it more usable by updating the layout, structure, and some interactions.

https://user-images.githubusercontent.com/79307566/201509568-d689ca80-54bb-433e-847b-a891ab7f065c.mov

**Acceptance criteria**

- [x] Applies to all price input fields in the experience.
- [x] Displayed currency unit follows the st

[2022-11-12 08:45] jarekmorawski commented on #35180
My apologies for the back-and-forth and confusing communication on this one. Anna reopened this issue on my request after I explored the problem a bit more during the meetup. We could simplify maintenance (and introduce a more rigid component structure) by fixing the currency symbol's position within the field.

I opened another issue with all the details (#35558), so we can keep this one closed.

[2022-11-12 13:42] Babylon1999 commented on #35509
One more here:

zd-5699223

https://wordpress.org/support/topic/analytics-pages-blank-after-update-to-7-1-0/

[2022-11-13 21:57] samueljseay commented on #35556
Hi, since this is happening with Memcached Redux installed, it really feels like it's a question for them, not about core WooCommerce (which is what this repository issues and discussion is for).

You could perhaps ask for support at https://wordpress.org/support/plugin/memcached-redux/

[2022-11-13 21:57] #35556 closed, assigned to nobody

[2022-11-13 22:05] samueljseay commented on #35551
This hook is in WooCommerce blocks, which is not a part of this repository just yet. I'm going to transfer this issue to them to handle. Thanks for raising this!

[2022-11-13 22:23] jonasborneland commented on #35556
Thank you very much for the answer 🙏
I see your point.
But could you give me a clue why “ Action Scheduler migration in progress. The list of scheduled actions may be incomplete “ is displayed?
Does it show when some tables need a upgrade or similar?

[2022-11-14 01:38] samueljseay opened #35560 "WooCommerce Components Storybook Examples do not have Code Examples"
Many of the [WooCommerce components Storybook](https://woocommerce.github.io/woocommerce-admin/#/components/) examples do not include code examples, which makes it really hard to use as a source of documentation for implementing user interfaces. e.g. see the Spinner component amongst many others which doesn't have any code example for implementation.

We need to go through the components that exis

[2022-11-14 01:51] benignant opened #35561 "wc_get_order() to get current order does not work with HPOS"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Calling `wc_get_order()` with no arguments to get the current order does not work when HPOS is enabled.

There is the global `$theorder` variable which still works, but I underst

[2022-11-14 02:13] brettnzl opened #35562 "Version 6.4.0 - 7.1.0 (potentially any 6-7 updates) - New Zealand Region Shipping issue breaking websites."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi, Since the version 7.1.0  update we have noticed on a number of our eCommerce sites that the shipping breaks for New Zealand regions. if you have a look below you can see the

[2022-11-14 03:20] nicdwilson commented on #35509
zd-5704552

[2022-11-14 06:09] imanish003 commented on #42591
@vivialice Just a gentle reminder. Looks like you missed my previous comment 🙂

[2022-11-14 07:29] noraebaid20 opened #35563 "Removing Pricing Bulk Edits"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I chose to bulk edit prices to increase 10%, it didn't increase, it actually decreased all the prices by the 10%.

Then I tried removing them. Removing bulk prices isn't availabl

[2022-11-14 08:00] AashikP commented on #35520
Sorry for the delayed response here @swatipawarGS .

* I reached out internally before reporting here, and multiple other folks could replicate this including me: cc @thisissandip
* I'm yet to confirm if this is specific to Pressable / WordPress.com platforms though.  (I've only tested this in Pressable site)

I can test this by tomorrow if no one else can clarify by then.

[2022-11-14 08:35] #35367 closed, assigned to jorgeatorres

[2022-11-14 08:38] rbgly commented on #35470
5700647-zen

[2022-11-14 10:21] #35539 closed, assigned to nobody

[2022-11-14 10:22] jarekmorawski commented on #35539
Closed the issue as not planned for the moment. The solution would be suboptimal and we should do a proper design exploration around this interaction in the near future.

[2022-11-14 10:29] imodouglas commented on #35509
38014571-hc

[2022-11-14 10:32] jarekmorawski opened #35565 "[Enhancement]: Improve element stacking in modals on tablet and mobile"
### Describe the solution you'd like

The usable space in the Attributes dialog is pretty small on tablet and mobile, especially when you add multiple attributes.

<img width="529" alt="image" src="https://user-images.githubusercontent.com/79307566/201637018-02506a94-fd27-4425-b2f6-b1f602cc6740.png">

To fix that, we could tweak the layout so that the items are stacked vertically on lower-resoluti

[2022-11-14 10:42] jarekmorawski opened #35566 "[Enhancement]: Fix the field height in the Attributes modal"
### Describe the solution you'd like

I noticed that the attribute dropdown's height differs from the value picker in the Attributes modal (31 vs 38 px). It only happens after I add at least 1 value. Can we align for a more consistent experience? This should likely be applied on a component level.

<img width="1110" alt="image" src="https://user-images.githubusercontent.com/79307566/201639033-cec6

[2022-11-14 10:46] kmanijak commented on #42546
Hey @Aljullu, I picked up [the issue about bumping up the `@wordpress/components` package](https://github.com/woocommerce/woocommerce-blocks/issues/7665) to enable this issue to be fixed.

In the meantime, I'd like to confirm if that will be fine to use `__experimentalAutoSelectFirstMatch` from the experimental API without the feature plugin flag (`isFeaturePluginBuild()`)?

[2022-11-14 10:46] jarekmorawski opened #35567 "[Enhancement]: Align the field height across the whole form"
### Describe the solution you'd like

Fields in our form have different heights: 30 px, 31 px, 38 px, etc. The core Gutenberg component (both in the actual editor on my test site and in the Figma library) is 36 px. We should align this for better consistency and usability (larger fields are easier to use on desktop and mobile).

<img width="447" alt="image" src="https://user-images.githubuserconte

[2022-11-14 10:48] pmcpinto commented on #35231
Thanks for the suggestion. This is a good improvement. I'll talk to the team to explore how to implement this. cc @jarekmorawski

[2022-11-14 10:51] jarekmorawski opened #35568 "[Enhancement]: Fade the value selection field in the Attributes modal when no attribute is added"
### Describe the solution you'd like

When the user opens the Attributes modal and doesn't select any attributes yet, the value selection field looks active, while in reality, it's not interactive. We should fade it out just like the trash icon to avoid confusion.

Current implementation

<img width="1187" alt="image" src="https://user-images.githubusercontent.com/79307566/201641754-8c0b9bb5-1861-

[2022-11-14 11:00] jarekmorawski opened #35569 "[Enhancement]: Generate a slug based on the shipping class's name"
### Describe the solution you'd like

Can we use the name to automatically generate a slug in the new shipping class modal? It'd save the user a click or two. We could use the same logic we apply to the SKU.

**Acceptance criteria**

- [ ] If the name field is filled, we generate a slug on the blur event (when the user clicks outside the name field or uses Tab to go to the slug field).
- [ ] If an

[2022-11-14 11:07] Aljullu commented on #42546
That's a good question. I would say it's fine because in case this property gets removed:
* it won't cause any errors or data loss in merchants/shoppers; the dropdown selector will continue working, just differently
* it won't impact a [critical flow](https://github.com/woocommerce/woocommerce/wiki/Critical-Flows), so if it were to stop working all of a sudden, all critical flows would continue wo

[2022-11-14 11:12] pmcpinto opened #35570 "Customer effort score modal not working properly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Customer Effort Score modal styling is broken, which makes it difficult to share feedback.

<img width="1440" alt="Captura de ecrã 2022-11-14, às 10 30 47" src="https://use

[2022-11-14 11:13] pmcpinto commented on #35570
@joelclimbsthings @AnnaMag we have a styling issue in the existing modal

[2022-11-14 11:25] jarekmorawski opened #35571 "[Enhancement]: Add a bottom padding to the whole form"
### Describe the solution you'd like

Let's add a fixed `padding-bottom` of 128/64 px to the whole form's body to give it a little breathing space. Currently, the last section on the page is virtually glued to the screen's edge.

<img width="1320" alt="image" src="https://user-images.githubusercontent.com/79307566/201647809-457d3951-27af-489c-a994-3a8856c24fa2.png">

**Acceptance criteria**

- [x]

[2022-11-14 11:33] jarekmorawski opened #35572 "[Enhancement]: Fix the gap in the featured product checkbox"
### Describe the solution you'd like

There's currently a significant gap between the featured product checkbox label and the tooltip button. It looks like the button already has the desired 8 px margin-left, but combined with the extra 6/12 px padding, it looks detached from the checkbox.

<img width="478" alt="image" src="https://user-images.githubusercontent.com/79307566/201649696-2b9d795a-7d27

[2022-11-14 11:59] swatipawarGS commented on #35550
Hi @EjayhanFernandes,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1 version.

Please find below the screenshots for reference :
Reviews:
![#35550(1)](https://user-images.githubusercontent.com/94531721/201594090-d84a54a6-e5db-44e7-8920-5849b71ed4d2.jpg)

Edit Pro

[2022-11-14 13:45] ralucaStan opened #42529 "Improve the account creation during Checkout experience"
## Describe the bug

When the customer chooses to create an account during checkout they do not have any prompt about the state of their account after the order is placed.

## To reproduce

Steps to reproduce the behavior:

1. Go to WooCommerce > Settings > Accounts & Privacy.
2. Enable the `Allow customers to place orders without an account` option.
4. Go to checkout block page editor.
5. Go to W

[2022-11-14 14:22] octaedro opened #35574 "[Enhancement]: New product management experience - Fix event triggering for Shipping classes"
On the new product management experience page. When creating a new [shipping class](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/products/shared/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx), the `onCancel` event gets called whenever the `AddNewShippingClassModal` is closed. We should modify the `AddNewShippingClassModal` method to accept

[2022-11-14 14:30] joshuatf commented on #35076
This is the way we handled this in the previous `SelectControl` component, but this is more opinionated and does not necessarily allow the consumer to customize this logic very much.

@mattsherman I'm not sure if you're still working on this, but I wonder if a separate component specific to async handling might be a better option than forcing a more opinionated structure on consumers.

@louwie17 i

[2022-11-14 15:25] ryanr14 commented on #35509
5668444-zen

[2022-11-14 16:00] Tofandel opened #35575 "Managed variable product and managed variation sync issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A variable product set as `Manage stock` with variations also set as `Manage stock` do not correctly sync stock when changing the variation stock

### Expected behavior

I expect

[2022-11-14 16:02] jarekmorawski opened #35576 "Dropdown: Show initial items on focus and load remainder on scroll"
### Describe the solution you'd like

We currently don't show anything when the user clicks or navigates to the dropdown field. It'd be handy to show a list with at least 10 pre-loaded items, with the rest being loaded progressively on scroll.

**Design**

`AkVNGImLgSqCObTQ3idVn7-fi-1613-196432&mode=design&t=2s9bDVaOk72CLcB7-4`

<img width="589" alt="image" src="https://github.com/woocommerce/wooc

[2022-11-14 16:10] mudasirhamid opened #35577 "I'm also having issue with fees added with $wc->cart->add_fee() not being added to order."
I'm also having issue with fees added with  $wc->cart->add_fee() not beeing added to order.

I use this code to add fee to order in checkout-page based on number of payments (custom select field added to billing fields)
[code]
It add the fee to the order details in checkout-page, however when making order it disapear.

Found a work-around in adding the fee again with woocommerce_checkout_create_or

[2022-11-14 16:34] ecgan opened #35578 "[Enhancement]: Add one-click installation for recommended extensions in multichannel Marketing page"
### Describe the solution you'd like

Project thread: pe2C5g-sS-p2

This issue is to implement one-click installation in WooCommerce plugin’s Marketing page.

In our current state, when users go to the Marketing page, they will see some recommended extensions like the following:

![image](https://user-images.githubusercontent.com/417342/201713109-59040172-7685-40f4-98ee-65d49d9656ed.png)

When use

[2022-11-14 16:41] marcfielding1 opened #42528 "Date is required on a bookable product"
## Describe the bug

We're writing a headless frontend for WooCommerce for a customer, all we're trying to do is add a bookable product to a cart! when trying to do add-item we get:

[code]

## To reproduce

Steps to reproduce the behavior using postman:

1. Call GET https://massagebodyandmind.co.uk/wp-json/wc/store/v1/cart

Save the nonce

2. then call GET https://massagebodyandmind.co.uk/wp-json

[2022-11-14 17:14] thomas-zg commented on #35577
Hello,

I'm doing this by using the WC()->cart->fees_api()->add_fee() method and it works well.
[https://woocommerce.github.io/code-reference/files/woocommerce-includes-class-wc-cart-fees.html](url)

Best,
Thomas

[2022-11-14 17:17] EricDu opened #35580 "Product short description (postexcerpt) metabox does not remember its open/closed state"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Since WooCommerce 7.x, the Product short description (postexcerpt) metabox is closed when editing a product or after saving the product.

WooCommerce 6.9.3 did not exhibit this p

[2022-11-14 19:02] verofasulo opened #35583 "[Enhancement]: Fix the padding on the Manage my store panel on the home screen"
### Describe the solution you'd like

The heading "Marketing & Merchandising" has currently no padding.

<img width="531" alt="Screenshot 2022-11-11 at 15 47 58" src="https://user-images.githubusercontent.com/98944206/201743288-a056d92a-4171-48e2-b609-87f011eea298.png">

Please add a 24px spacing between the Manage my store header and the Marketing & Merchandising heading. Thanks!

### Describe al

[2022-11-14 19:42] psealock commented on #35512
@marla2000 Do you have any code or custom order statuses that would result in no order status? On the default WooCommerce, a status is required and I'm not seeing a way to have no status.

<img width="385" alt="image" src="https://user-images.githubusercontent.com/1922453/201750986-16b9e2d3-e97a-4779-bed8-8fd40ea93c4c.png">

[2022-11-14 21:03] ghost opened #35585 "wc_get_products() - some products missing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello!

Some products missing from results when loop through wc_get_products

[code]

### Expected behavior

Get all products

### Actual behavior

Some products missing

### Ste

[2022-11-14 21:08] #35182 closed, assigned to mattsherman

[2022-11-14 21:08] #35184 closed, assigned to mattsherman

[2022-11-14 21:38] anastas10s-afk commented on #35509
5703560-zen

[2022-11-14 22:14] ghost commented on #35585
catalog real product count: 43 437

5 test, same catalog, same script:

C:\xampp\php>php ../htdocs/wordpress/test.php
Internal Products: 43430

C:\xampp\php>php ../htdocs/wordpress/test.php
Internal Products: 43437

C:\xampp\php>php ../htdocs/wordpress/test.php
Internal Products: 43416

C:\xampp\php>php ../htdocs/wordpress/test.php
Internal Products: 43437

C:\xampp\php>php ../htdocs/wordpress/tes

[2022-11-14 22:19] brianmurphy opened #35586 "gettext reviews filter killing dashboard performance"
https://github.com/woocommerce/woocommerce/blob/932b3386c3100f60607fb8b74c0cad2ccfb2f6cc/plugins/woocommerce/src/Internal/Admin/ProductReviews/Reviews.php#L52

I was code profiling our wordpress dashboard and the Automattic\WooCommerce\Internal\Admin\ProductReviews\Reviews->edit_comments_screen_text method is the number one thing slowing down our website.

We have product reviews disabled in the w

[2022-11-14 22:26] edequalsawesome commented on #35580
Issue also reported in #5711319-zen, and I was also able to duplicate on a new local test site

[2022-11-15 00:03] sunyatasattva opened #42527 "Best Selling Products block doesn't actually sort them by sales numbers"
## Describe the bug

When adding a Best Selling Products block, the products are not sorted by their popularity, neither in the front-end, nor in the editor.

## To reproduce

Steps to reproduce the behavior:

1. Make sure you have at least some sales on your test instance.
2. Add a “Best Selling Products” block and an “All Products” block.
3. Set the “Order Products By” dropdown of the “All Produ

[2022-11-15 00:11] #35563 closed, assigned to nobody

[2022-11-15 00:59] samueljseay commented on #35562
Hi @brettnzl thanks for raising this. Could you confirm, I think this is a duplicate of https://github.com/woocommerce/woocommerce/issues/35535

[2022-11-15 02:35] WillBrubaker opened #35587 "Invalid slugs in product category URL work as if valid"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Invalid elements in a product category archive URL work as if valid, e.g. `https://testsite.local/product-category/balm/` is a valid product category, and the archive is displaye

[2022-11-15 02:45] brettnzl commented on #35562
Hi @samueljseay It does look like the same symptoms, so I can assume its the same. I've just got more evidence of whats happening, via the database changes from 2 - 3 characters.

either way we have experiences this on 3 different websites and tested specifically with the update and had the same result.

[2022-11-15 07:03] lecmo commented on #31478
Hi Everyone,

I am having the same issue that you guys having related to the RTL emails.

I am using Arabic Language on my website and order Emails are not coming Responisve.

Please help me to fix this if anyone fixed that issue before let me know.

Thanks

[2022-11-15 07:08] kaushikasomaiya commented on #35509
Note that this is also being followed here #35470 and a temporary fix might be rolled out soon.

[2022-11-15 07:10] JoMedia2017 commented on #31478
May want to check my solution provided on this thread, more of a dirty
workaround rather than a solution, but does the work most of the time

and could give you a clue about how to approach the issue and how to fix it

cheers

On Tue, Nov 15, 2022, 9:04 AM lecmo ***@***.***> wrote:

[2022-11-15 07:16] imodouglas commented on #35509
In addition to this, a CSS walkaround has been given [here](https://github.com/woocommerce/woocommerce/issues/35470#issuecomment-1308852769)

[2022-11-15 07:18] prnvrna commented on #31478
Update requested on this issue here 5712577-zen

[2022-11-15 07:32] lecmo commented on #31478
what do you mean by this Update requested on this issue here 5712577-zen @prnvrna

[2022-11-15 07:49] mrleemon commented on #28419
Nice idea, but I think that hiding product meta fields behind a modal in the case of a plugin such as WooCommerce is treating these as less important than content when, in fact, the opposite is true.

[2022-11-15 08:18] aswanevelder commented on #35555
Using batch also does not work, if it helps.

/wp-json/wc/v3/products/6360/variations/batch

[code]

[2022-11-15 09:45] zenaul opened #35589 "High-Performance order storage (COT) Option dose not enable correctly."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This feature is not enabled correctly if the plugin header are contain the the 'WC tested up to' property.
After investigate i found this line if 'WC tested up to' exist in plugi

[2022-11-15 09:48] ValueErr commented on #35509
I can confirm this temporary CSS workaround works for the time being

[2022-11-15 09:52] gigitux commented on #42527
I did some investigation, and I can confirm this issue.

In accordance with [this post](https://wordpress.org/support/topic/sort-by-popularity-4/#post-12530211), it is expected behavior that the products with no sales are shown:

It means when any order is created, there is no difference between `All Products` block and `Best Selling Products` block:

![image](https://user-images.githubusercontent

[2022-11-15 09:59] AashikP commented on #35520
I can still replicate both issues on my Pressable site.

As for the issue with Private coupons, I believe it needs to be first Published. For example, you can see that when I opened the private window, the coupon was actually `Published`.

I then changed the coupon to private (before applying it) and I could check out successfully

https://user-images.githubusercontent.com/17475174/201884890-66917

[2022-11-15 10:24] barryhughes opened #35590 "[HPOS] Deleting an order post triggers a fatal error in the HPOS admin list"
Initially reported and discussed in p1668504634428979-slack-C9QDV4TL4 (internal link). Assume that:

* Order tables are authoritative
* Sync is enabled

Then, if an order post is deleted, accessing the (HPOS) admin list table will result in a fatal error.

### Steps to replicate

- Generate some orders if you don't already have some, manually or using a tool such as [Smooth Generator](https://gith

[2022-11-15 10:24] AlexisTessier opened #35591 "Product cache (data_store) invalidation issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

According to the following line:

https://woocommerce.github.io/code-reference/files/woocommerce-includes-abstracts-abstract-wc-data.html#source-view.765

The apply_changes metho

[2022-11-15 10:39] barryhughes commented on #35088
Supplementary: though it's not exactly the same problem, while we are here let's consider if [this `wp_delete_post()` call](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php#L1756) should specify force delete.

[2022-11-15 11:47] imanish003 opened #42526 "Custom style isn't working for Product Category List block"
Custom style isn't working for the `Product Category List` block when it's inside the All Products block, as shown in video below:

https://images.zenhubusercontent.com/121405465/e230a528-2f2a-4810-a6f1-5778f501c1b0/screen_recording_2022_11_15_at_5_11_16_pm.mov

You will notice in the video that it works when I click on the `Done` button again.
To reproduce this issue you will need to add `woocomm

[2022-11-15 11:48] swatipawarGS commented on #35554
Hi @KeyboardRage,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/201844456-bfc6b5db-d334-4bf5-baed-31410f06e247.mp4

Priority of this issue will be assi

[2022-11-15 12:04] barryhughes commented on #35250
This is likely the same problem recorded [over here](https://github.com/woocommerce/woocommerce/issues/35088), but we can keep both open until we verify.

[2022-11-15 14:29] barryhughes commented on #35589
Hi @zenaul,

For a plugin to indicate that it is compatible with HPOS, it needs to do two things:

1. The `WC tested up to` field must be present in the plugin header.
2. Compatibility with HPOS needs to be declared [as in this example](https://github.com/woocommerce/woocommerce/wiki/High-Performance-Order-Storage-Upgrade-Recipe-Book#declaring-extension-incompatibility).

If you have any active pl

[2022-11-15 14:40] barryhughes commented on #35589
Apologies for the above message, I accidentally triggered an automated workflow.

[2022-11-15 14:51] barryhughes commented on #35533
Hi!

This seems to be essentially the same thing [requested here](https://github.com/woocommerce/woocommerce/issues/34864), which has been implemented via [this pull request](https://github.com/woocommerce/woocommerce/pull/35487) and should be available starting with the 7.2.0 release.

With that in mind, I will go ahead and close this issue, but please do reach out if I have misunderstood.

[2022-11-15 14:51] #35533 closed, assigned to nobody

[2022-11-15 14:57] barryhughes commented on #35527
Yes, I'm sorry that slipped through. I can confirm the same thing and agree with your assessment of how things should behave.

[2022-11-15 15:16] louwie17 commented on #35129
@pmcpinto @jarekmorawski do we have a link to the Figma design for this?
I am just slightly confused if this bar is referring to our usual `notices` at the bottom left of the screen, or a new form of notice that spans across the entire bottom of the screen?

[2022-11-15 17:13] sunyatasattva commented on #42527
Probably not. But it's still useful to have an issue so we can point to it and we all know we are aware of it. Also, we can't use the “Best selling products” block as a benchmark for the PQ block, and that's good to know.

[2022-11-15 17:32] pschonmann opened #35593 "CRITICAL Uncaught mysqli_sql_exception: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'IF' at line 1 in wp-includes/wp-db.php:2056"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Tried to upgrade from WP 5.8 to 6.1, but still getting broken site. This is what i see in phpfpm logs. When restore 5.8 files from backup. Wordpress works fine again
[code]

###

[2022-11-15 18:09] gigitux commented on #42527
Completely agree 💯

[2022-11-15 18:32] t3chlady opened #35594 "Attributes Not Appearing after PUT"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I POST a request to add a variation, the assigned attributes and options do not appear with the item.
The ProductID exists with the attributes and options but when I POST a

[2022-11-15 18:34] seanbelly commented on #33730
Internal ref: zd-5338547

[2022-11-15 19:19] #35172 closed, assigned to joshuatf

[2022-11-15 19:27] felipevelzani commented on #35470
5705143-zen

https://user-images.githubusercontent.com/40555737/202008044-d1adf0fa-9f41-4d89-bfc4-b7b4648598c7.mp4

[2022-11-15 19:36] felipevelzani commented on #35509
Closing as duplicated — please see #35470.

[2022-11-15 19:36] #35509 closed, assigned to nobody

[2022-11-15 19:44] felipevelzani commented on #35470
List of references from #35509:

* 5703560-zen
* 5668444-zen
* 5690274-zen
* 5691148-zen
* 5691601-zen
* 5699223-zen
* 5704552-zen
* 38014571-hc
* https://wordpress.org/support/topic/analytics-error-3/
* https://wordpress.org/support/topic/wc-analytic-custom-report-issue/

[2022-11-15 19:58] #34523 closed, assigned to jonathansadowski

[2022-11-15 20:20] AnnaMag commented on #35538
Thanks for pointing this out @mattsherman.

@nathanss there are 2 more sections that will require similar adjustment. I updated the issue description-- those can be handled in the same or a separate PR.

[2022-11-15 21:16] kenarsuleyman commented on #35500
@samueljseay Hello sir, any update on reproducing the issue?

[2022-11-15 23:33] samueljseay commented on #35500
Hi @kenarsuleyman I have just labelled this for developer reproduction, one of our devs will have to work through a reproduction for this. There are a lot of new issues coming in regularly that need reproduction so you might have to wait sorry.

[2022-11-15 23:45] joaodante commented on #26839
5699005-zen

[2022-11-16 00:09] samueljseay commented on #34623
@lsinger I'd like to re-raise this with y'all on advocacy. We see enhancement triage/prioritization being quite useless right now with no-one owning the process on the dev side.

I think it would be great to move enhancements off of Github to a voting system.

I see several benefits:

1. Declutter the issue board which is very bloated right now
2. Community voting will auto-highlight issues that 3

[2022-11-16 04:44] t3chlady commented on #35594
I discovered that even though the body of the request was correct when creating the product variations, the attributes were not populating the variations because the ID number of the attribute had not been assigned to the Woo Commerce product.  I deleted all the variations and variable items and re posted all of them.  The attributes now do appear.

[2022-11-16 04:44] #35594 closed, assigned to nobody

[2022-11-16 09:03] #35527 closed, assigned to nobody

[2022-11-16 10:21] AnnaMag commented on #35173
@mdperez86 could we prioritize it, please?

[2022-11-16 10:50] itsonit commented on #34986
After a quickdive into the code, from
-  https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-checkout.php#L726 to
- https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-cart.php#L1549 to
- https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-cart.php#L1528 and to
- https://github.c

[2022-11-16 10:54] zenaul commented on #35589
Hello @barryhughes,

Thank you so much for your kind and detailed response. I truly appreciate you for clarifying the matter.

With all due respect, I think if 'WC tested up to' field's value in the plugin header is greater than or equals to 7.1, don't you think the option should be enabled automatically ? It's my earnest request to the developer team to take this into consideration.

[2022-11-16 11:19] lsinger commented on #34623
@samueljseay @psealock thanks for the ping! I agree we need to change how this works.

Would you mind kicking off a discussion on your team's P2 and cross-posting to Woo Engineering, Woo Product, and Developer Advocacy? That way we can ensure all affected parties will have visibility into the discussion.

[2022-11-16 11:48] vinnykaur commented on #35470
5716069-zen

[2022-11-16 12:07] sanesh-acowebs opened #35599 "Generating multiple orders while using "woocommerce_create_order" filter"
Woocommerce 7.1 seems to be calling the function 'possibly_schedule_import' while creating orders ( using the "**woocommerce_create_order**" filter ), the function returning null values instead of order id. This prevents the third-party plugin from having the opportunity to create an order (generating multiple orders). hoping this will be fixed asap.

https://github.com/woocommerce/woocommerce/blo

[2022-11-16 12:09] swissspidy opened #35600 "`ObjectCache::set()`: Optional parameter `$id` declared before required parameter `$object`"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the `ObjectCache::set()` method, the first parameter `$id` is declared optional, and the second parameter `$object` is required. Thus, `$id` is implicitly treated as a require

[2022-11-16 12:15] barryhughes commented on #35589
Thanks, @zenaul.

The reality is that HPOS is a new, large, and complex feature.

In the long term, it will be the only data-store we ship and so, in a sense, we are moving in the direction you have requested. However, initially, we want to be very careful about how we roll this out (the last thing we want is unexpected problems for merchants).

Our thinking is that the feature needs to be opt-in

[2022-11-16 12:35] jarekmorawski commented on #35129
Added designs to the issue description.

[2022-11-16 12:41] swatipawarGS commented on #35580
Hi @EricDu,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/202101751-34fe3524-96d1-4692-b850-ffe89e691799.mp4

Priority of this issue will be assigned

[2022-11-16 12:42] swatipawarGS commented on #35575
Hi @Tofandel,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/202106817-9942e875-18dd-4d80-a383-7440b7dd49ed.mp4

Priority of this issue will be assign

[2022-11-16 12:45] swatipawarGS commented on #35593
Hi @pschonmann,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1 version.

Please find below the screenshot for reference :
![#35593](https://user-images.githubusercontent.com/94531721/202124776-7d542363-513b-49ec-b49c-c40dd135988e.jpg)

Priority of this issue will

[2022-11-16 12:46] swatipawarGS commented on #35587
Hi @WillBrubaker,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1.1 version.

Please find below the screencast for reference

https://user-images.githubusercontent.com/94531721/202127710-ca4cd2a7-c41a-465f-b930-df00d9f52efc.mp4

Priority of this issue will be assi

[2022-11-16 12:59] barryhughes opened #35601 "[HPOS] Research and implement Custom Order Type mechanism"
Please also refer [to this discussion](https://github.com/woocommerce/woocommerce/discussions/35218). It should be possible to:

- Register a custom order type and render them via the Admin List Table for orders (whether alongside other order types, or in isolation).
- It should also be possible to edit orders of custom types.

We should look into adding the actions, filters, and methods (if neces

[2022-11-16 13:04] louwie17 commented on #35129
Thanks @jarekmorawski, although those designs link to the CES updates in the existing product edit form (legacy UI), but not the CES updates for the new product form. Do you have similar designs for the new product form?

[2022-11-16 13:28] arigato-one commented on #35470
What does it mean?
I see that there are multiple strings like yours.
Can you explain?
Thanks

[2022-11-16 13:39] #35298 closed, assigned to mdperez86

[2022-11-16 13:56] Nitin132 commented on #35478
Ok I will try to replace this Code from line Number 66

[2022-11-16 14:11] jaxr commented on #35470
37871096-hc

[2022-11-16 14:42] mdperez86 commented on #35173
@louwie17 is working on `The user should see an option to create a new category when he starts typing` and this is the ongoing PR  https://github.com/woocommerce/woocommerce/pull/35132

[2022-11-16 15:01] jarekmorawski commented on #35129
Oh, right! My bad. I've updated the description.

[2022-11-16 15:02] #35177 closed, assigned to joshuatf

[2022-11-16 15:19] tomalec opened #35603 "The source of `@woocommerce/settings` processed by DEWP is confusing and not importable"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

_This is a clone of https://github.com/woocommerce/woocommerce-admin/issues/7810 as that was closed and archived, without serving a solution or linking to an issue which would so

[2022-11-16 15:32] zenaul commented on #35589
Hi @barryhughes

Thank you so much for your response.
I first thought that since the value is 7.1 or more if it can be done automatically rather than manually.
But now I am clear that since this is a rich feature it will be better for all of us to keep it as it is.

[2022-11-16 15:33] barryhughes commented on #35601
Once we're ready to move to implementation, we should take care to document how this works. See:

- https://github.com/woocommerce/woocommerce/projects/8#card-86309324
- p1668592120497819-slack-C0E1AV8T0 (internal link)

[2022-11-16 15:36] barryhughes commented on #33094
When addressing this, please also be sure to look at the following internal conversation (re REST API, but also actions and filters relating to post objects more generally): p1668592182746839-slack-C0E1AV8T0

[2022-11-16 15:37] pmcpinto commented on #35348
Sorry for the late reply, but I was away for a couple of days and missed this comment. We'll be leveraging the existing [`date_paid` property](https://woocommerce.github.io/woocommerce-rest-api-docs/#order-properties). We're not changing the order paid date logic.

[2022-11-16 15:39] #35589 closed, assigned to nobody

[2022-11-16 15:47] mdperez86 commented on #35173
Having a discussion with @louwie17 about

We have some things to say. Currently the category dropdown field component was made to manage nested categories in the form of a tree which is created client side only because the server does not returns a category tree but a category list. So paginating a list that will looks like a tree it's not something trivial to do. For now the category dropdown req

[2022-11-16 15:52] michaeltieso commented on #34213
Hey @barryhughes . Sorry to be a bother. Could this PR be taken a look at again? Thank you!

[2022-11-16 16:03] #35169 closed, assigned to joshuatf

[2022-11-16 16:24] cena commented on #35525
Possibly related: https://wordpress.org/support/topic/fatal-error-after-woocommerce-update-8/

[2022-11-16 16:36] barryhughes commented on #34213
No bother; this should be picked up by the team shortly—though we have a bit of a backlog to work through. Sorry for the delay.

[2022-11-16 16:37] xuexue28 commented on #35470
Another one here: https://wordpress.org/support/topic/woocommerce-analytics-select-a-date-issue/

[2022-11-16 17:24] webdados commented on #33879
I that's the case, the exact same filter could be used to transform old-style query args to HPOS query args.
On `OrdersTableDataStore.php`, in the `query` method, adding this before actually performing the query, does the job:
`//Make CPT woocommerce_order_data_store_cpt_get_orders_query filter work for order tables
$query_vars = apply_filters( 'woocommerce_order_data_store_cpt_get_orders_query',

[2022-11-16 17:30] AnnaMag commented on #32235
This is not part of the Cycle 31 scope.

[2022-11-16 17:30] AnnaMag commented on #35302
This is not part of the Cycle 31 scope.

[2022-11-16 17:52] vivialice commented on #42591
@imanish003 Aplogies! Sometimes I miss Github pings.

I still see a different button in the editor vs the front-end. However, they are all the same size.

Editor:
<img width="591" alt="Screenshot 2022-11-16 at 17 52 16" src="https://user-images.githubusercontent.com/9888201/202256068-055ac66c-6079-4b00-94e9-7fc00d16684c.png">

Front-End:
<img width="712" alt="Screenshot 2022-11-16 at 17 52 28" src

[2022-11-16 18:01] felipevelzani commented on #35470
Hi @arigato-one!

This is an internal reference added by the WooCommerce team, and these are newly reported cases related to this issue. We keep track of it to see the proportion of this issue across multiple websites. I appreciate your patience!

[2022-11-16 18:49] AnnaMag commented on #35173
LGTM for the MVP @mdperez86.

Let's continue the discussion on the final solution.

[2022-11-16 18:58] alpha-pix opened #35604 "[Enhancement]: Remove email/telephone from customer emails"
### Describe the solution you'd like

Remove the customer email and telephone number from customer emails. These are unecessary and in the case of the telephone number it introduces a small security risk that is not outweighed by any utility. Other platforms such as Shopify do not include this information.

### Describe alternatives you've considered

I could edit email templates but this is a sol

[2022-11-16 19:32] mattsherman commented on #34883
This was addressed in https://github.com/woocommerce/woocommerce/pull/35265

[2022-11-16 19:32] #34883 closed, assigned to mattsherman

[2022-11-16 19:37] mattsherman commented on #35308
This behavior was reverted in https://github.com/woocommerce/woocommerce/pull/35213. The short description field will no longer be auto-collapsed in WooCommerce 7.2.0.

[2022-11-16 19:37] #35308 closed, assigned to mattsherman

[2022-11-16 20:53] johndcoy opened #35607 "[Enhancement]: Prioritize post data for each post type when searching from WP Admin"
### Describe the solution you'd like

It would be helpful if the search field under **Products > All Products** prioritized the product title. Currently, there is only a way to filter products by category. When searching by a product title ( e.g Night Light ) the first results will be products without "Night Light" in the title, but rather a combination of night and or light within the post meta o

[2022-11-16 21:40] tdigital2021 commented on #32187
Same here and this solution worked for me, Thank You @Callmeqaqq !

[2022-11-17 00:20] Farallon5 opened #35608 "[Enhancement]: Save analytics reports to the Wordpress Dashboard"
### Describe the solution you'd like

Save favorite reports to the Dashboard in 2 ways:
1) As one-click report templates that would manually update when you click on them
2) As saved real-time reports that would continually, or on a schedule, update the results.

### Describe alternatives you've considered

Report plugins that email you report results on a schedule.

### Additional context

_No re

[2022-11-17 00:58] samueljseay commented on #35603
@tomalec thanks for raising this. I just want to make sure I understand.

So it sounds like there are 2 issues:

1.  the package you wanted to import is not actually published anywhere, so you have to load it via DEWP. Yes it makes sense this would still work as long as you have WooCommerce core loaded, since DEWP will load it from the asset manifest

2. The README suggests there is a package avai

[2022-11-17 02:35] #34618 closed, assigned to nobody

[2022-11-17 02:39] #34447 closed, assigned to nobody

[2022-11-17 04:11] adrianduffell commented on #35497
How about displaying an error message when the settings are in conflict?

<img width="887" alt="Screen Shot 2022-11-17 at 11 28 37 am" src="https://user-images.githubusercontent.com/9312929/202347883-68cf584e-ccb1-436b-b4ad-7ea722f70854.png">

My concern with using a spotlight tour is the design language of it doesn't really have any signposts about how critical the information is. There are no re

[2022-11-17 04:27] psealock commented on #35603
`import { foo } from @woocommerce/settings` will be replaced by DEWP to be `const foo = wc.wcSettings.foo`. You're right the package doesn't actually exist. In theory, even though you `npm install --save` a package, its not actually getting used, but instead read off the global scope.

It sounds like the problem you are experiencing is related to testing. Indeed, without an actual package a proble

[2022-11-17 05:22] masb1308 commented on #23083
Hello @peterfabian is there a progress update on this issue please? We too are currently overcharging shipping VAT as we sell mixed rate products.

[2022-11-17 05:36] imanish003 commented on #42591
@vivialice Thanks for taking a look 🙏

May I know If you tried it on `fix/7119-apply-button-styling` branch? As mentioned in my last comment, I did fix it in PR woocommerce/woocommerce-blocks#7578. Therefore you will need to use `fix/7119-apply-button-styling` branch.

If this issue is still there on branch `fix/7119-apply-button-styling` than I can look into it again 🙂

[2022-11-17 06:01] xuexue28 commented on #35470
https://wordpress.org/support/topic/analytics-custom-date-picker-not-working/

[2022-11-17 06:43] barryhughes commented on #35601
Useful (internal) discussion: pdjTHR-1TE-p2

[2022-11-17 06:51] marijang opened #35610 "Wc-blocks.js"
Hey i have problem with wc-blocks.js

Here is link

https://github.com/infinum/eightshift-frontend-libs/issues/684

Can you help with that.

[2022-11-17 07:35] Nitin132 commented on #35478
Now I M Getting This Error Parse error: syntax error, unexpected token "private" in /home/mazbox/public_html/Mazbox-New/wp-content/plugins/woocommerce/includes/admin/class-wc-admin-dashboard.php on line 72

[2022-11-17 07:37] Nitin132 commented on #35478
private function get_top_seller() {
			global $wpdb;

			$query            = array();
			$query['fields']  = "SELECT SUM( order_item_meta.meta_value ) as qty, order_item_meta_2.meta_value as product_id
			FROM {$wpdb->posts} as posts";
			$query['join']    = "INNER JOIN {$wpdb->prefix}woocommerce_order_items AS order_items ON posts.ID = order_id ";
			$query['join']   .= "INNER JOIN {$wpdb->prefix

[2022-11-17 08:31] colabdan commented on #23083
This will never get fixed. It has been a request for over 5 years now with this thread and various others, which means that in effect, VAT is being charged illegally on orders through a lot of WooCommerce websites (including the ones we shop on ourselves!)

WooCommerce unfortunately seems to falling behind current standards, which may explain this: https://trends.builtwith.com/shop/WooCommerce

[2022-11-17 08:35] sjjhr commented on #23083
Right now, I’d like to be taken off the public GitHub discussion.

WooCommerce, please do that and kindly confirm.

Saul Rowe
***@***.***

Studio 13
Delta House
Riverside Road
Wandsworth SW17 0BA
07769 651 669

[2022-11-17 08:36] Nitin132 commented on #35478
After Adding This Code Nothing Come

[2022-11-17 08:42] james-allan opened #35612 "[HPOS] Order payment tokens are stored in post meta on HPOS environments"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With HPOS tables enabled, order `_payment_tokens` are still stored in post meta.

The reason that this occurs is because payment tokens are updated/set via `WC_Order::add_payment

[2022-11-17 09:48] barryhughes commented on #35413
Closing; after further discussion, we feel the `FeaturesController`-based approach (already in use) meets most of our needs, and we additionally confirmed that plugin headers will not be needed for marketplace purposes.

[2022-11-17 09:48] #35413 closed, assigned to nobody

[2022-11-17 09:59] #35288 closed, assigned to nobody

[2022-11-17 10:18] mikejolley commented on #23083
@sjjhr you can unsubscribe from the github interface.

https://docs.github.com/en/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/about-notifications

[2022-11-17 10:23] iamsathyaseelan opened #35613 "[HPOS] get orders throwing fatal error : Uncaught WC_Data_Exception"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

While fetching multiple orders using the **_wc_get_orders_** function throws a **Fatal error**: Uncaught WC_Data_Exception: Invalid parent ID in /Applications/MAMP/htdocs/wordpre

[2022-11-17 10:43] simkoG opened #35614 "[Enhancement]: Add product title to header while editing"
### Describe the solution you'd like

When you have products with very long descriptions and try to edit the "Product data" (aka price, sale price) for multiple products in several browser tabs, it is very hard to detect which product page is opened.

### Describe alternatives you've considered

You should add the product name next to "Edit Product" title. This header is floating on the top of the

[2022-11-17 11:06] luissimo commented on #32377
Seems like an issue with the Ahrefs SEO plugin. Fixed with deactivating the plugin.

[2022-11-17 11:07] #32377 closed, assigned to nobody

[2022-11-17 11:16] rambavd commented on #33950
Had to use this workaround too.
Had this issue when trying to add 10+ quantity of the same item to the cart.
Also had to change default location to either Store location or Geolocalization (instead of leaving "No default location") in WooCommerce settings.

[2022-11-17 11:24] peterfabian commented on #34848
Closing for now as the initial work has been done and released in 7.0.1.

[2022-11-17 11:24] #34848 closed, assigned to nobody

[2022-11-17 11:26] thuautp commented on #35470
5718868-zen

[2022-11-17 11:49] tomalec commented on #35603
The problem is quite composite, and it's hard for me to even list exact points, as to me (wearing the extension developer hat) the entire way the "settings package" (I don't even know how to precisely reference it) is delivered & documented is more confusing than beneficial.

1. If I figure out that I need to use `wc.wcSettings` as per DEWP readme I start using `import { foo } from @woocommerce/se

[2022-11-17 11:57] anastas10s-afk commented on #35478
Reported in 5693572-zen also.

I could replicate the issue on a test installation and can verify that changing both `'yes' === get_option(` to `'no' === get_option(`, in line 72 of [class-wc-admin-dashboard.php](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/admin/class-wc-admin-dashboard.php) indeed enables the widget to appear in the WordPress dashboard proper

[2022-11-17 12:00] constantinosgeorgiou opened #35615 "REST API Product Attribute Terms (unique slug, identical names) can not specify desired attribute term."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating a product using the WooCommerce REST API, there is no way to specify an attribute term with a unique identifier (id/slug) resulting in incorrect behavior.

## Examp

[2022-11-17 12:22] louwie17 commented on #35129
Awesome, thanks! That looks good!

I do have one additional question now (cc @jarekmorawski ):
- Do you think we will use this same bar at the bottom of the screen for other notifications within the product management screen? Or will it only be for this specific CES prompt?

[2022-11-17 12:28] pmcpinto commented on #35129
AFAIK this will only be used for this prompt. @jarekmorawski to confirm, thanks

[2022-11-17 12:30] verofasulo commented on #35497
@adrianduffell Totally agree with you!

The spotlight tour is more about giving the user additional context and making them familiar with the content and the layout of a specific section/screen. Besides, we risk overwhelming the users with information that is not needed till the error happens. I would recommend following Adrian's suggestion and surfacing the error using an error message. One thing

[2022-11-17 12:39] #35328 closed, assigned to nobody

[2022-11-17 12:54] pmcpinto commented on #35173
LGTM as well. Thanks for surfacing potential issues with the categories list pagination

[2022-11-17 13:47] eddr commented on #32386
Also looking for the same thing
I can't see how new custom analytics reports can be created and exported without it.
The change is simple and small

[2022-11-17 14:10] jarekmorawski commented on #35129
I confirm. We might use it in the future in a different place, but likely only for collecting feedback.

[2022-11-17 14:15] andreDane opened #35618 "Minimum quantity bug for variations on backorder"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,
I would like to report a bug concerning the "Min/Max Quantities" plugin, specifically the "Minimum quantity" setting for variable products.
Basically, when 'Minimum quantity'

[2022-11-17 14:34] peterfabian opened #35619 "[Enhancement]: Clarify orderby in REST API docs"
### Describe the solution you'd like

Currently, REST API docs [says](https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products)

" orderby | string | Sort collection by object attribute. Options: date, id, include, title, slug, price, popularity and rating. Default is date."

Similar for orders and probably all the data types inherited from `WC_REST_CRUD_Controller`.

It's not cl

[2022-11-17 14:36] raifd commented on #34373
Popped up here as well 5710694-zd-woothemes

[2022-11-17 15:21] hmprintdesign opened #35620 "[Enhancement]: option to show order actions buttons as a dropdown"
### Describe the solution you'd like

I would like the option of displaying the order actions buttons on the admin page as a dropdown list. We use a lot of statuses and the icon keep disappearing.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-17 15:32] #35392 closed, assigned to mattsherman

[2022-11-17 15:49] davewhitley commented on #34066
Asking again for a bump in priority because customers are getting a "critical error" white screen of death because of this issue. Or, if there is a way to manually flush the cache after deleting a coupon that would be valuable information.

[2022-11-17 16:11] GlazerGallery opened #35622 "Product Short Description not staying expanded"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Recently the Product Short Description field on Edit Product pages automatically collapses instead of staying expanded.  I have attached a screenshot to show you what it keeps re

[2022-11-17 16:44] vivialice commented on #42591
@imanish003 that is the branch I was on! Convinced it is my store settings somehow 🤔

[2022-11-17 17:25] mdperez86 commented on #35194
I was considering to add the custom modal but I was not able to find a performant way of do it. After some researches I found the right way of do this is by using the window beforeunload event which is described [here](https://developer.mozilla.org/en-US/docs/Web/API/Window/beforeunload_event#event_handler_aliases). Unfortunately, this way is not flexible at all so the only thing we can do is chan

[2022-11-17 17:48] joelclimbsthings commented on #35570
Thanks @pmcpinto , it looks like you're prioritized this on the board already?

[2022-11-17 17:59] #35175 closed, assigned to joshuatf

[2022-11-17 18:04] #35173 closed, assigned to mdperez86

[2022-11-17 19:15] pmcpinto commented on #35194
@mdperez86 let's keep it simple and implement it as it was described initially. Thanks

[2022-11-17 19:16] pmcpinto commented on #35570
@joelclimbsthings the 7.2 code freeze is today. I wonder whether the fix is simple enough to be fixed today and be released with 7.2

[2022-11-17 19:53] beaulebens commented on #35540
This bug was specifically observed using Chrome on an iPad, may also exist in other environments.

[2022-11-17 19:55] beaulebens commented on #35565
Between the margins around the outside of the modal, and the header/footer sections, there is also very littler vertical space available, so I could only just see one row of the attribute details I was editing.

[2022-11-17 20:18] #35167 closed, assigned to joshuatf

[2022-11-17 20:28] mattsherman commented on #33562
@pmcpinto @mdperez86 @jarekmorawski  Moved this back to "Prioritization", because it clearly isn't ready to the picked up and implemented.

[2022-11-17 20:31] mattsherman commented on #35494
@nathanss Put this "In Progress" and in "Cycle 30" since you have been working on it (https://github.com/woocommerce/woocommerce/pull/35582 -- you should add that to the board as well).

[2022-11-17 20:32] mattsherman commented on #34885
@louwie17 Moving this back to "Prioritization" since it doesn't appear ready to start working on.

[2022-11-17 20:35] mattsherman commented on #34257
@pmcpinto Moving this back to "Priorization", as it isn't ready to start work on.

[2022-11-17 20:59] mattsherman commented on #35393
@pmcpinto Are these traits standardized in any way? I didn't find any documentation for them, but maybe I'm just not looking in the right spot. I'm not sure exactly how we can do this in a standardized fashion.

[2022-11-17 22:59] joelclimbsthings commented on #35570
@pmcpinto Unfortunately the actual code freeze happens around 8am my time, so it's passed. That said I do have [a PR ready](https://github.com/woocommerce/woocommerce/pull/35628), and I think this would qualify for an exception since it's just a CSS change.

[2022-11-18 00:09] lolbat commented on #16552
I am also having the same issue. I don't know if the Woocommerce team is aware of it but some e-commerce apps cross-link things like descriptions, images, tags, categories and other items from different tables keyed to the product id. So if Woocommerce doesn't add the product ID from my .csv import then I can't finish importing the rest of my data.

Which makes Woocommerce totally unusable.

[2022-11-18 00:37] JohnChandlerEdmonton opened #35629 "Documented Technique to Autocomplete Orders does not always work"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The technique shown in the Woocommerce documentation on this page:
https://woocommerce.com/document/automatically-complete-orders/
does not always work.

*****RECOMMENDATION: ***

[2022-11-18 01:21] alefesouza opened #35630 "Analytics/WCPay: Advanced filtering date selection does not work on WordPress 6.1"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

While debugging https://github.com/Automattic/woocommerce-payments/issues/5073 we've noticed a bug that occur only on WordPress 6.1 due to its `moment` package drop on https://gi

[2022-11-18 02:32] psealock opened #35633 "Live Branches: Skip builds for community contributors"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Community contribution PRs do not have access to make POST requ

[2022-11-18 02:34] psealock commented on #35236
We are reversing a decision on this. It won't belong in the Monorepo and will be in Woorelease as originally done.

[2022-11-18 02:34] #35236 closed, assigned to nobody

[2022-11-18 02:37] psealock commented on #34623
This issue deserves a larger format for discussion because there are a few ways we can go with this.

@samueljseay has already begun the conversation in pdqwkG-xu-p2 so I will close this out and create new issues once a process has been decided on.

[2022-11-18 02:37] #34623 closed, assigned to nobody

[2022-11-18 02:40] psealock commented on #35335
We will investigate the implications of doing this in the same way Jetpack does it. It may involve a very large changeset that touches many files and we'd like to preserve git history for git blame.

[2022-11-18 03:22] mattsherman commented on #35156
https://wordpress.org/plugins/woocommerce-admin/ has been updated.

[2022-11-18 03:22] #35156 closed, assigned to mattsherman

[2022-11-18 03:52] alexzk1 commented on #33386
Can confirm. I do java program which should bulk pull items from DB for the customer (I have no details about woo used, just i know V3 API).
Woo responds with duplicates, page size 100 gives roughly 1.5x times less duplicates then page size 50. And missing some values of coz, i.e. values are replaced by dups of other values.

[2022-11-18 04:18] nikolas4175-godaddy opened #35635 "Restructure hooks for My Orders table data"
### Describe the solution you'd like

### Desired Solution
Remove the first action-based condition [here](https://github.com/woocommerce/woocommerce/blob/ba91c94ca9b1c4903964de70c8658cc7bff67d3f/plugins/woocommerce/templates/myaccount/orders.php#L44) and instead use **filters** to allow editing of each data element in the My Orders table.

The existing action(s) could be maintained outside of this

[2022-11-18 06:54] rahulpba commented on #35599
Same issue for me also

[2022-11-18 07:05] Nitin132 commented on #35478
Not Working

[2022-11-18 08:17] adrianduffell commented on #35497
Thanks @verofasulo, I think the "fix" button could work quite well.

Here's a few mockups. How do you think we should label the button? I also added a link to learn more about the problem (linking to: https://woocommerce.com/document/setting-up-taxes-in-woocommerce/)

![Image](https://user-images.githubusercontent.com/9312929/202653648-3f578eb8-68de-47f2-8a35-a3991097e7aa.png)

![Image](https://us

[2022-11-18 08:26] adrianduffell commented on #35497
@beaulebens Can you confirm the settings conflict when the following fields are different?

* Prices entered with tax
* Display prices in the shop
* Display prices during cart and checkout

In other words, would the safe recommended settings be that the "Display prices" fields should match the same inclusive/exclusive value selected for "Prices entered with tax" field ?

[2022-11-18 08:32] louwie17 commented on #34885
Why do you not think it's ready to start working on?

[2022-11-18 09:22] ngdangtu-vn opened #35636 "[Enhancement]: wc_get_template_part passing variable"
### Describe the solution you'd like

`wc_get_template_part` should accept the third param as passing variable. Simply make its interface looks like [the core function](https://developer.wordpress.org/reference/functions/get_template_part).

### Describe alternatives you've considered

I have to use `global $product` which I usually try to avoid in my work.

### Additional context

I think I can d

[2022-11-18 09:40] sukafia commented on #35630
The issue extends to the date-picker in the Analytics:

![Wacdp7.gif](https://user-images.githubusercontent.com/60121732/202670571-0e7afb26-715b-431d-96f0-46cbdcfc0dbf.gif)

5721995-zen

[2022-11-18 10:47] nielslange commented on #42530
Hello @grapefishflu 👋

Thanks for taking the time to report this. The current Cross-Sells block is using the same logic as the Cross-Sells block in the shortcode-based cart. That said, I see a valid case for hiding out of stock products from the Cross-Sells product list. I linked this issue to the list of potential improvements of the Cross-Sells block on https://github.com/woocommerce/woocommerce

[2022-11-18 10:56] louwie17 opened #35637 "Publish woocommerce/components storybook"
**Issue Description:**

After moving WooCommerce Admin to the mono repo, we stopped publishing `woocommerce/components` storybook within Github.io ( [original link](https://woocommerce.github.io/woocommerce-admin/#/components/) ) we should publish this again, but just the Storybook similar to what Gutenberg does.

Likewise with the recent merge of Woo Blocks, we should also include the [WooBlocks

[2022-11-18 12:10] shankeyb commented on #35478
**private function should_display_widget() {
// 			if ( ! WC()->is_wc_admin_active() ) {
// 				return false;
// 			}
                      $has_permission           = current_user_can( 'view_woocommerce_reports' ) || current_user_can( 'manage_woocommerce' ) || current_user_can( 'publish_shop_orders' );
			$task_completed_or_hidden = 'no' === get_option( 'woocommerce_task_list_complete' ) || 'no'

[2022-11-18 12:23] jacoswan opened #35639 "Since 7.1.0 attributes values dropdown display in Product Data > Attribute in order originally added in spite of Order By setting"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Before 7.1.0 attribute values were displayed in ascending order everywhere including Product Data > Attributes. After updating, the "Value(s)" dropdown shows values in order ente

[2022-11-18 12:27] Nitin132 commented on #35478
Resolved Thanks For Help

[2022-11-18 13:02] prashantds commented on #28691
When i create order by API then instance_id is blank please suggest.

![instance_id](https://user-images.githubusercontent.com/2160987/202711303-2eed7a4e-a8b0-4153-8df2-627a31cf9d18.png)

[2022-11-18 13:15] louwie17 opened #35640 "Explore Storybook plugins"
**Issue Description:**

This is a spike to spent some time to explore different Storybook plugins, to see which one's would be usefull for us and would make storybooks even more useful.

We should timebox this to 2 day's.

Some items for consideration:
- Are their plugins that would allow us to organize the components better
- Display and extract example information from comments

[2022-11-18 14:14] #35386 closed, assigned to roykho

[2022-11-18 14:35] GlazerGallery commented on #35622
It has come to my attention that other people have complained about this and that supposedly it will be changed back to open by default in version 7.2. Meanwhile, would you consider also putting it above the long description on the Edit Page?
I have never understood why the order of the Edit Page does not follow the order of the published Product Page. As a designer, it makes no sense, and it also

[2022-11-18 14:55] #35194 closed, assigned to mdperez86

[2022-11-18 16:03] #35538 closed, assigned to nathanss

[2022-11-18 16:19] tbruce opened #35641 "[Enhancement]: Custom packages sorting/filter"
### Describe the solution you'd like

I would like to be able to sort (or reorder) the list of packages in the  "Custom Packages" dropdown.  I use a lot of upcycled packaging, and my products vary hugely in size. So --unlike people who can limit their packaging to a few standard sizes  I end up with a huge list of package sizes and I end up spending a lot of time hunting for the one I need.

### D

[2022-11-18 17:15] grapefishflu commented on #42530
Much appreciated.

On Fri, Nov 18, 2022 at 5:47 AM Niels Lange ***@***.***>
wrote:

[2022-11-18 17:17] pmcpinto commented on #35570
@joelclimbsthings thanks for the update. Let me know if they accept this exception.

[2022-11-18 17:35] joelclimbsthings commented on #35570
@pmcpinto Unfortunately this work ended up being a duplicate of something Lourens was working on, so here's his PR: https://github.com/woocommerce/woocommerce/pull/35602

[2022-11-18 17:50] pmcpinto commented on #35393
Good question. I couldn't find any documentation either, so maybe it's not standardized. Can you check how it's implemented in the Gift cards extension?

[2022-11-18 17:51] #35170 closed, assigned to joshuatf

[2022-11-18 18:35] dashkevych opened #42525 "Allow to disable default patterns"
WooCommerce comes with default patterns (same as WordPress installation itself).

WordPress allows to disable default patterns using the following code:

`
remove_theme_support( 'core-block-patterns' );
`

It would be great if WooCommerce could provide similar option to disable default patterns that come from WooCommerce.

[2022-11-18 20:22] samueljseay commented on #34524
As we discussed in team meeting, I've gotten the work so far on this to a stage that I can hand off to someone else and we can subtask the remaining work: https://github.com/woocommerce/woocommerce/pull/35643

[2022-11-18 21:48] namiokuzono commented on #35470
5721107-zen

[2022-11-18 22:03] mattsherman commented on #35630
@sukafia I believe that to be a distinct, but possibly related, issue.

[2022-11-19 00:41] joelclimbsthings commented on #35124
Thanks @pmcpinto ! Couple follow-ups:
- I noticed that the original description of this issue says to change score properties in tracking to `ease_of_use_score` and `usefulness_score`. Would you rather stick to that than the `score_2nd_question` you mentioned?
- The previous behavior of the text area at the bottom is that it only displays when the score is 1-2; is that behavior we want to keep, or

[2022-11-19 04:26] kevin25 commented on #35464
I can't agree with you more. This slows down my store all the time.

[2022-11-19 05:36] mattsherman opened #35645 "Analytics: Custom date range calendar styling is broken in WordPress 6.1"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The custom date range calendar's styling on Analytics pages is broken in WordPress 6.1.

### Expected behavior

The custom date range calendar is styled properly.

### Actual beh

[2022-11-19 05:38] mattsherman commented on #35630
I have opened a separate issue for the custom date range calendar styling: https://github.com/woocommerce/woocommerce/issues/35645

[2022-11-19 06:29] mattsherman commented on #35645
The styles we are depending on were previously included in `@wordpress/components` and were removed in:

https://github.com/WordPress/gutenberg/commit/c1f96c2d23b539e33168a0ba4a9f96b7b535c43c

We will need to add them directly to our included CSS.

[2022-11-19 15:18] robertstaddon commented on #34276
I agree that this would be a fantastic improvement to WooCommerce! It just makes sense and I have client sites that would benefit from this. @Kingo2022 , would it be possible to share the code that your developer used to customize WooCommerce to prioritize primary categories when displaying related products?

[2022-11-19 17:40] tomxygen opened #35646 "[Enhancement]: Gutenberg in product description, backend UI and Analytics"
### Describe the solution you'd like

I am a store owner who really loves WooCommerce. However there are a few small issues that I'd like to point out.

1. I would love to get Gutenberg in the product description. It would be great to add icons, accordions, columns, background colors and other graphical elements to the product description (even shopify figured it out: https://www.lovehair.com/prod

[2022-11-19 18:59] khkimball commented on #33950
Running into this problem as well. It would be nice to have a fix in Woo so can keep automatic updates on without fear of the cart breaking at the next update.

[2022-11-20 00:35] benignant opened #35647 "[Enhancement]: `add_meta_boxes_{$post_type}` action for HPOS"
### Describe the solution you'd like

Along with the `add_meta_boxes` action in [`Edit.php`](https://github.com/woocommerce/woocommerce/blob/9c83a07145ea5c451adc489f21eeaf895825b683/plugins/woocommerce/src/Internal/Admin/Orders/Edit.php#L110), there should be a corresponding `add_meta_boxes_{$post_type}` (`add_meta_boxes_woocommerce_page_wc-orders`) action. This will improve feature parity between

[2022-11-20 17:42] tomalec opened #35650 "`@woocommerce/e2e-environment` is not compatible with Node 16"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I was trying to upgrade our extension to follow `woocommerce/woocommerce` and use Node 16.
However, it fails to install due to `@woocommerce/e2e-environment` incompatibility

###

[2022-11-20 19:38] cena commented on #35645
5727380-zen

[2022-11-20 23:01] psealock commented on #35636
Thanks @ngdangtu-vn, looking forward to your contribution

[2022-11-20 23:05] psealock commented on #35620
Hi @hmprintdesign, thanks for the enhancement request. Could you give a screenshot or more information about which order actions buttons you are referring to?

[2022-11-20 23:33] psealock commented on #35562
Hey @brettnzl, thanks for raising the issue. This is indeed a duplicate of https://github.com/woocommerce/woocommerce/issues/35535. We have been able to reproduce the problem and I have escalated the issue to the development team so I will close this issue and mark it as duplicate.

[2022-11-20 23:33] #35562 closed, assigned to nobody

[2022-11-20 23:36] psealock commented on #35478
@Nitin132, thanks for the report. I'm glad you got it resolved.

[2022-11-20 23:36] #35478 closed, assigned to nobody

[2022-11-21 02:32] followluckycharm commented on #33265
I'm having this same issue as well and it's affecting customers. Any updates?

[2022-11-21 03:29] psealock commented on #35603
Thats a nice summary (1-5) @tomalec and make sense to me. I ran into this issue while writing [this guide](https://developer.woocommerce.com/2020/02/20/extending-wc-admin-reports/), so it makes sense to address this issue especially as dev advocacy begins to create resources to guide external developers.

[2022-11-21 09:06] imanish003 commented on #42591
@vivialice It's a weird issue to reproduce. @dinhtungdu also tried to reproduce it, but it did not reproduce for him as well.
FYI @kmanijak has created [this PR](https://github.com/woocommerce/woocommerce-blocks/pull/7707), which also handles sizing issues.

[2022-11-21 09:44] louwie17 commented on #35129
@pmcpinto @jarekmorawski one last question for this issue.
Given we have two different CES action events for this `new_product_add_publish` and `new_product_update`, do we expect the bar to also show up for the two different actions. Meaning that if a user saved a product as draft and answered the CES, when they publish it, they will see it again, but not there after?

Or do we only want to show i

[2022-11-21 11:01] aswanevelder commented on #35555
This is not a bug, I was using Postman and the 200 OK returned confused the issue.

Once I added the required Content-Type:application/json header the record successfully updated.

[2022-11-21 11:01] #35555 closed, assigned to nobody

[2022-11-21 11:53] adrianduffell commented on #35497
To summarize so far:

* A error message should be added when the tax settings are in conflict. This probably needs to appear after save (i.e. saving shouldn't be prevented) as merchants may have valid use cases we don't yet know about.
* The combination of fields that cause the conflict need to be confirmed. See comment above: https://github.com/woocommerce/woocommerce/issues/35497#issuecomment-13

[2022-11-21 12:02] pmcpinto commented on #35570
Thanks for the heads up. I'll close this issue

[2022-11-21 12:02] #35570 closed, assigned to joelclimbsthings

[2022-11-21 12:13] pmcpinto commented on #35124
@joelclimbsthings here's my feedback:

Let's use the approach I suggested in this [comment](https://github.com/woocommerce/woocommerce/issues/35124#issuecomment-1296952568). I'll update the AC

I think we should display the text area when the score is 1-2 in one of the two questions. Makes sense?

I'm guessing we're keeping that copy the same for all events?

Yes. Thanks

[2022-11-21 12:16] pmcpinto commented on #35129
Hey @louwie17 the bar should remain at the bottom of the page after the user creates a product using the new experience. LMK if you have more questions.

[2022-11-21 12:31] louwie17 commented on #35129
@pmcpinto does the bar even stay after the user has given feedback?
My question was more so in regards to what we do after the user submits their feedback, will we hide the bar, even if the user does a publish after?

[2022-11-21 12:34] verofasulo commented on #35497
@adrianduffell are we able to display the message right after the user entered conflicted details? I think it would be better to provide immediate feedback, but not sure if it's feasible from a tech point of view.

If yes, I was thinking to implement something like this right below the input field:

![image](https://user-images.githubusercontent.com/98944206/203055477-424bdb04-eeee-4f56-bb1d-c61dc

[2022-11-21 12:39] adrianduffell commented on #35497
Love this design having the error message inline with the fields!

Yes from a tech point of view it's feasible to have immediate feedback rather than waiting for save.

[2022-11-21 12:43] adrianduffell commented on #35497
Yeah agree, this looks great to me 👍

[2022-11-21 12:56] hmprintdesign commented on #35620
***@***.***

[https://d36urhup7zbd7q.cloudfront.net/6191458546876416/4804992582680576/logo.gif?ck=1667218598.92#logo] <https://hmprintdesign.com>
Wayne Hesler-Mondore
Designer/Creator/Woodworker, HM Design

[https://cdn.gifo.wisestamp.com/s/rfm1/7E0701/26/trans.png] 315-527-3090

[https://cdn.gifo.wisestamp.com/s/rfw1/7E0701/26/trans.png] hmprintdesign.com <http://hmprintdesign.com>

[https://cdn.

[2022-11-21 14:02] verofasulo commented on #35497
Awesome! 🙌 Thanks, Adrian

[2022-11-21 15:18] tomxygen commented on #35646
@psealock Hello, I saw you've added the "prioritization" status.
Could you please let me know on the three suggestions I gave, which are being worked on?
Thank you!

[2022-11-21 15:22] pmcpinto opened #35656 "Options/variations management experience phase 1"
**Description:** this epic includes all the issues that should be part of the 1st implementation phase of the variations management experience:
Options tab/screen
Add product options flow
Auto-creation of variations
Variations list with pagination
Manage individual variations flow
Quick actions

[2022-11-21 15:22] jonathansadowski commented on #35620
@hmprintdesign, thanks for the reply, but your email attachment didn't show up. Could you please include the screenshot via the web interface on this issue? https://github.com/woocommerce/woocommerce/issues/35620

[2022-11-21 15:28] hmprintdesign commented on #35620
![i2jmnkhx](https://user-images.githubusercontent.com/16000812/203093464-efff0653-fc30-4a78-bc6e-eb9565d3af23.png)

[2022-11-21 15:29] beaulebens commented on #35497
That is my understanding, yes ( @peterfabian / @vedanshujain can you please confirm?).

I like the positioning of the warning right under the field, although it begs the question -- which field to display it under? I guess we can treat the "Prices entered with tax" field as the "main" one, and then the other two as being either aligned with, or potentially in conflict with that one?

In this speci

[2022-11-21 15:39] tomxygen commented on #35656
@pmcpinto Is Woocommerce changing the variation management experience anytime soon?

[2022-11-21 16:03] AnnaMag commented on #35569
Related: https://github.com/woocommerce/woocommerce/issues/35158

[2022-11-21 16:30] pmcpinto commented on #35656
We're exploring a new flow, but we still don't have an ETA of when it will be available for testing. Stay tuned! Thanks

[2022-11-21 16:30] xuexue28 commented on #35470
https://wordpress.org/support/topic/woocommerce-analytics-showing-big-arrows/

[2022-11-21 16:34] tomxygen commented on #35656
@pmcpinto thank you for the update.
Is there a list of other improvements that Woocommerce is working on? (not related to the variation management)

[2022-11-21 19:14] pmcpinto opened #35659 "[Epic] Options creation flow"
**Description:** Users can create and manage variations through a dedicated tab rather than selecting the product variations type through a dropdown.

**Issues**

* [x] [Top navigation tabs [MVP]#35706](https://github.com/woocommerce/woocommerce/issues/35706)
* [x] [Product variations data store#35771](https://github.com/woocommerce/woocommerce/issues/35771)
* [x] [Render product variations list#3

[2022-11-21 19:30] pmcpinto opened #35660 "[Epic] Variations list behavior"
**Description:** users can easily access one or more variations through a simple and intuitive list.

**Issues**

* [x] https://github.com/woocommerce/woocommerce/issues/35788
* [x] https://github.com/woocommerce/woocommerce/issues/35790
* [x] https://github.com/woocommerce/woocommerce/issues/35789
* [x] https://github.com/woocommerce/woocommerce/issues/35791
* [x] https://github.com/woocommerce/w

[2022-11-21 19:54] pmcpinto opened #35661 "[Epic] Individual variations flow"
**Description:** users can easily manage each variation through a fully-fledged view for individual product variations.

**Issues**

* [x] [Add single product variation screen#35786](https://github.com/woocommerce/woocommerce/issues/35786)
* [x] [Add edit button to variations list items#35787](https://github.com/woocommerce/woocommerce/issues/35787)
* [x] [Add single product variation General sect

[2022-11-21 22:25] joelclimbsthings commented on #35124
@pmcpinto @jarekmorawski What is the expectation for the behavior of the _Simple CES component_, as was implemented [here](https://github.com/woocommerce/woocommerce/pull/32538)? As it is now you can record your score just my selecting it within the page, and if it's a score of 1-2 it will display the entire CES modal. Since we're modifying the modal to add a second question there's a disparity he

[2022-11-21 22:44] bitmakers opened #35663 "Price Filter Widget"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Price Filter widget doesn’t work anymore if the Shop is displayed on the Homepage, this was working in the previous version (7.0.1).

### Expected behavior

Shop catalog shou

[2022-11-21 23:13] nathanferla opened #35664 "State "transport" disappeared. Orders in shipping state no longer appear in the Orders Dashboard"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

State "transport" disappeared. Orders in shipping state no longer appear in the Orders Dashboard

### Expected behavior

There are 30 commands in total

### Actual behavior

Ther

[2022-11-21 23:44] dominic-p commented on #35525
Just by way of confirmation I'm seeing the same behavior after updating to 7.1.0. Only a theme change causes the updated template files to be recognized.

[2022-11-22 01:02] 0smr opened #35666 "[Enhancement]: Additional "woocommerce_shortcode_order_tracking_" filter"
### Describe the solution you'd like

Hi, many thanks for your great plugin.
The order tracking shortcode is used to indicate the progress of a user's order depending on their email and order id.
I can use the `woocommerce_shortcode_order_tracking_order_id` filter to change `order-id` to `order-item-id` or anything else, however there is no option to use `phone number` or `username` instead of `em

[2022-11-22 01:58] junixdev opened #35667 "[Enhancement]: Add a filter for coupon discount type value in analytics coupon report"
### Describe the solution you'd like

Currently the coupon discount type values displayed in the coupon analytics are fixed to the default available discount types in WooCommerce. Our plugin adds additional discount types for the coupon, and the value in analytics for it are always set as `N/A`.

I've checked the JS code that handles this and there is no filter or any other way available to modify

[2022-11-22 04:52] Terrox opened #35668 "Registering by email allows special characters"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Registering by Email from the Login page from this option: "Allow customers to create an account on the "My account" page"
allows % character in email address.

### Expected beha

[2022-11-22 07:12] tinwe commented on #33808
+1 having the same issues even with vanilla WooCommerce and the default Wordpress theme.
Spams most of my admin view, so that it cuts off menu access occasionally.

[2022-11-22 07:14] tinwe commented on #33808
Agree. This should definitely have higher priority.

[2022-11-22 09:29] pmcpinto commented on #35656
Are talking about improvements targeting any part of WooCommerce Core?

[2022-11-22 09:32] pmcpinto commented on #35129
The goal during the beta phase is to keep the bar after the user submits feedback, unless he clicks on the X button

[2022-11-22 09:37] pmcpinto commented on #35124
@joelclimbsthings will it be easier if we show all the fields by default? 1st question, 2nd question and comments field

[2022-11-22 09:37] louwie17 commented on #35129
If we do keep the bar around will it matter if we use `new_product_add_publish` or the `new_product_update` action, should we maybe only use one of those?

[2022-11-22 09:39] tomxygen commented on #35656
@pmcpinto any part in general.
I am a store owner and I wish to get improvements in some areas such as gutenberg in product description to add accordions, graphics, columns, sections, background colors etc in product description
I have enabled Gutenberg in product description with a PHP snippet but unfortunately it's not compatible with the new WooCommerce navigation experience that I would really

[2022-11-22 10:05] pmcpinto commented on #35129
I see what you mean: considering that the bar will be displayed permanently after publishing a product, it's easier to track one value rather than trying to distinguish if the feedback was shared after the publish or update action, correct?

[2022-11-22 10:13] louwie17 commented on #35129
correct!

[2022-11-22 10:24] pmcpinto opened #35670 "EPIC: Quick actions flow"
**Description:** users can easily update any detail of one or more variations through the quick edit actions.

**Acceptance criteria:**
- [x] Introduce a quick actions dropdown in the variations list: AkVNGImLgSqCObTQ3idVn7-fi-1641_213260
- [x] This dropdown should include all the quick actions available in the current experience, organized by buckets:
Pricing: AkVNGImLgSqCObTQ3idVn7-fi-1641_21427

[2022-11-22 10:31] louwie17 commented on #35129
Although we could potentially make the logic that, if a user hasn't published yet we use the `new_product_update`, and if a user publishes a product we only use `new_product_add_publish` going forward.
That is only if we think there could be a discrepancy between users publishing their product for the first time and those that don't.

[2022-11-22 11:39] blogtutor commented on #28969
I've recently run into a related issue.  When editing the products in a (pending) Order or existing Subscription, and saving that info by clicking "Save" in the metabox (not the main "Update" button), the `post_modified` field is not being updated.

Since those are actual changes to the order or subscription, WooCommerce should update the modified date accordingly.

(I discovered this because I us

[2022-11-22 11:55] thisissandip commented on #35520
@AashikP I can confirm that I cannot replicate this on a local site either on Local by FlyWheel OR Kinsta.

But I CAN replicate this on Pressable.

[2022-11-22 12:26] commercial-hippie opened #35672 "WordPress cache / WooCommerce / BuddyPress incompatibility causing homepage 404"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello

Apologies if this is the wrong place for this bug report, but it's a combination of a few different things so I wasn't exactly sure where to put it (WordPress Core, BuddyP

[2022-11-22 13:14] jacoswan commented on #35470
5729495-zen

[2022-11-22 14:32] Murphy1976 opened #35673 "WooCommerce Memberships - woo-nav-tab-wrapper set to display:none"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After a recent update to WooCommerce - Memberships, now the Tab Nav at the top of the Memberships section has an inline style of display:none. Unless I go into DevTools and manua

[2022-11-22 14:52] jonathansadowski commented on #35673
Hi @Murphy1976 ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin WooCommerce Memberships.

Please contact the author of the plugin directly for further help.

[2022-11-22 14:52] #35673 closed, assigned to nobody

[2022-11-22 14:53] #35630 closed, assigned to mattsherman

[2022-11-22 14:56] kiezcoder opened #35675 "WC_Order_Data_Store_CPT::get_unpaid_orders returns empty array"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When calling WC_Order_Data_Store_CPT::get_unpaid_orders(int $date) the function returns an empty array instead of unpaid order ids after $date. This happens because of a wrong po

[2022-11-22 15:01] jonathansadowski opened #35676 "Release cherry-pick automation doesn't create PR to delete change files"
Previously, when the cherry-pick workflow ran, in addition to creating a PR to cherry-pick the change into the active release, it also created a PR to delete the change file from trunk (see #35483 and its corresponding #35484)

As of recently, this appears to have stopped working (see #35662, #35674... each have no corresponding trunk PR)

[2022-11-22 15:15] PanosSynetos opened #35677 "[HPOS] Translating `WooCommerce` causes a fatal error"
I used the `Say What` plugin, to translate `__( 'WooCommerce', 'woocommerce' )` to `WooCommerce LaWooCommerce` (a la Ferrari LaFerrari :lol: )

When visiting `wp-admin/admin.php?page=wc-orders` there is a fatal error

[code]

As discussed with @jorgeatorres ,

[2022-11-22 15:25] louwie17 commented on #35300
@pmcpinto is there a specific action we should trigger for this feedback? Or would it be either `new_product_add_publish` or `new_product_update` from #35129

[2022-11-22 15:35] erikdemarco commented on #18329
@mikejolley any update about this? Its almost 2023 now. Still the performance problem of woocommerce is when product have many variations. the product page load so slow.

[2022-11-22 16:28] joelclimbsthings commented on #35124
@pmcpinto , I have that part already implemented in the standard CES modal, but if I understand correctly that wouldn't influence the Simple CES Component (only used for setup complete) as I mentioned. With that they're rating without seeing any questions at all other than "How was your experience?" :

![image](https://user-images.githubusercontent.com/444632/203368162-d40fa08e-a72c-425d-b007-adc0

[2022-11-22 18:43] jonathansadowski commented on #35676
False alarm, I missed that neither of these cherry-picks actually had a change file within the woocommerce plugin (their change files were from other directories).

[2022-11-22 18:43] #35676 closed, assigned to nobody

[2022-11-22 20:16] askwpgirl commented on #33265
My sense is that it is not seen as an issue, so may take a lot of people commenting to get them to fix it. I'll see if I can come up with some javascript to use in the meantime to get the scroll up the page to work when that link is clicked.

[2022-11-22 22:16] jorgeatorres commented on #35677
Just mentioning that this seems to be a result of https://core.trac.wordpress.org/ticket/18857.

In particular, it affects the new Orders admin page, but there are other instances of similar `load-{$page}` actions in the codebase that could be affected by a translation, even when HPOS is disabled. For example, we have code that assumes `woocommerce_page_wc-settings` or `woocommerce_page_wc-reports

[2022-11-23 03:51] igotdes opened #35682 "AT Sites: Modal about Woocommerce Mobile App Shows Existing Connection Notice"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Clicking on “Get the free WooCommerce mobile app” on an AT site results in a "WooCommerce mobile app can currently only be registered to a single WordPress.com account" notice.

[2022-11-23 03:53] igotdes commented on #35682
This was also reported on #5733621-zen and discussed in p1669169025831119-slack-C6H8C3G23.

The relevant code appears to be from [this PR](https://github.com/woocommerce/woocommerce/pull/34653).

[2022-11-23 06:56] xuexue28 commented on #35470
https://wordpress.org/support/topic/analytics-custom-date-picker-v-7-0-1/#post-16219686

[2022-11-23 08:34] sverleis opened #35683 "Private Cross-Sell items in cart do not get added directly to the cart, but rather redirect to the product page."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating a product with `Cross-sells` items added to **Linked Products**, these do not interact on the cart in the same manner as publicly visible items.

Publicly visible c

[2022-11-23 08:35] sverleis commented on #35683
Linked ticket: `5735423`

[2022-11-23 11:06] #33228 closed, assigned to nobody

[2022-11-23 11:19] CGA8C opened #35684 "[Enhancement]: Add CHW Currency to Available Currencies"
### Describe the solution you'd like

A Merchant has requested that CHW (WIR Franc) be added as an available currency.

Per Wikipedia (en.wikipedia.org/wiki/WIR_Bank), CHW is a private currency, which is used in combination with the Swiss Franc.

Currently, only CHF is available in the currencies list for Switzerland.

### Describe alternatives you've considered

I've recommended adding this to th

[2022-11-23 11:25] sanesh-acowebs commented on #35599
Still, waiting for an update on this issue?

Hope you understand the issue. Let me explain the issue in detail.

In the Woocommerce plugin, there is a filter hook,  **woocommerce_create_order**, available for third-party plugins to create their own orders in the default Woocommerce **create_order** function. On the “**woocommerce/includes/class-wc-checkout.php**” file (line number: 323).
As in the

[2022-11-23 11:57] pmcpinto commented on #35124
Gotcha. In this use case, I think it would be better to open the modal after the user selects one of the emojis to complete the survey. Makes sense? @jarekmorawski what do you think?

[2022-11-23 12:53] jarekmorawski opened #35685 "[Enhancement]: Allow users to resize the summary and description fields"
### Describe the solution you'd like

The summary and description fields can become quite content-heavy, especially with all the blocks. Let's make them fixed height (current values), but let the users resize the fields as they see fit using a handle like the one below.

<img width="126" alt="image" src="https://user-images.githubusercontent.com/79307566/203551681-f3dec272-d734-4360-abe7-c0db65c76

[2022-11-23 12:58] jarekmorawski opened #35686 "[Enhancement]: Make the last remaining fields 50% wide"
### Describe the solution you'd like

It's great that we've updated the width for most fields to 50%, but there are still a few that are 100%. Let's make them 50% to save space and make the UI feel "lighter".

<img width="760" alt="image" src="https://user-images.githubusercontent.com/79307566/203552390-1be1738c-5e6a-4b28-bcde-3cc6bf310655.png">

**Acceptance criteria**

- [ ] [Pricing] When the s

[2022-11-23 13:03] swatipawarGS commented on #35663
Hi @bitmakers,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/203491228-6551cc7d-af7d-477f-a26d-e6f79093e346.mp4

Priority of this issue will be assign

[2022-11-23 13:08] jarekmorawski opened #35687 "[Enhancement]: 'Edit attributes' modal fixes"
### Describe the solution you'd like

I spotted a few minor issues with the attributes' appearance behavior. The modal is a tad too small, the field labels are bold, and we don't enable attribute visibility so that the customers won't see them on the product page.

<img width="561" alt="image" src="https://user-images.githubusercontent.com/79307566/203553751-1a81628d-f066-4787-8862-a844a3394357.pn

[2022-11-23 13:16] jarekmorawski opened #35688 "[Fix] Remove double scroll in the form"
**Bug Description:**

A second scroll bar appears after publishing a product. It's only present near the top and bottom of the form, forcing the user to do an extra scroll to move up and down the page. See the video below.

https://user-images.githubusercontent.com/79307566/203555952-869a8d68-0b94-426a-a70c-4418e44e2d02.mov

[2022-11-23 13:22] jarekmorawski opened #35689 "[Enhancement]: Make the 'Don't allow purchases' the default"
### Describe the solution you'd like

We currently don't provide a default setting in When out of stock under Inventory > Advanced (when quantity tracking is enabled), which is inconsistent with the current setup and may cause unexpected issues for merchants.

**Acceptance criteria**

- [ ] `Don't allow purchases` is selected when the user switches the quantity tracking toggle.

### Describe alter

[2022-11-23 14:01] gglobalstep opened #35691 "[GlobalStep] "Facebook for WooCommerce" extension is visible under extensions suggestions on "Free Features" screen when "Facebook for WooCommerce" plugin is installed and active."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Facebook for WooCommerce" extension is visible under extensions suggestions on "Free Features" screen when "Facebook for WooCommerce" plugin is installed and active.

### Expect

[2022-11-23 14:05] KoolPal commented on #35604
As a store owner I disagree. We have had numerous customer writing back to asking for corrections in their phone numbers (which is used for shipping purposes) once they see that they have done a typo during checkout!

[2022-11-23 15:28] andyNuu opened #35694 "Analytics daterange picker"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The styles for the date range picker under Analytics in the admin are missing.
![wc date range](https://user-images.githubusercontent.com/93152429/203584142-286cbec1-b2cd-4825-8d

[2022-11-23 15:40] pmcpinto commented on #35129
Ok. So we can keep it simple and have the same value (`new_product`) when the CES is submitted after the product was published or updated.

[2022-11-23 15:41] pmcpinto commented on #35300
As I mentioned [here](https://github.com/woocommerce/woocommerce/issues/35129#issuecomment-1325273264) we can keep it simple and use the same value independently if the product was published or updated.

[2022-11-23 15:47] jonathansadowski commented on #35664
@nathanferla,

Thanks for the report. Can you please confirm that you're able to reproduce this issue when only the WooCommerce plugin is active? It appears that you may have several other plugins active. If you're still able to reproduce this issue with only WooCommerce active, could you please provide a list of steps that we may be able to follow to reproduce the issue?

[2022-11-23 15:52] verofasulo commented on #35497
@beaulebens I agree. And the copy you suggested looks great to me! 🙌

Yes, exactly. And the alert should appear once the user changes options in "Display prices in the shop" and "Display prices during cart and checkout" if they are in conflict with the selection made in "Prices entered with tax".

[2022-11-23 16:00] jarekmorawski commented on #35124
I'd stick to the emojis and record a one-dimensional answer here. The goal for this interaction is to collect the feedback and let people get on with their lives (finishing store setup is a major milestone, and merchants want to start doing business ASAP). There's nothing in this design that suggests that a modal will pop up, and it can become a pain point.

We can implement it without the "?" ico

[2022-11-23 17:39] joelclimbsthings commented on #35124
Thanks @jarekmorawski , to make sure I understand we wouldn't be triggering the modal at all then from that component? The current implementation is that it triggers the modal for a score of 1-2, but it's easy to change.

[2022-11-23 18:08] joshuatf commented on #34885
@louwie17 It might be good to add some more details from the p2 and GH comments to flesh out this issue along with some acceptance criteria.

Unless this is just a spike into how we do this, it might be good if we put up a potential solution or two to discuss how well they'd work.

[2022-11-23 18:16] joshuatf opened #35697 "[Components] Rich text editor receives focus on page load"
When initially loading a page with the new `RichTextEditor` component, the editor will receive focus immediately.  Ideally, focus should not happen until a user clicks into the editor.

This is happening because we select the first block in the editor in order to show the toolbar.  Gutenberg then automatically focuses the selected block.

This fix may require a change upstream in Gutenberg in orde

[2022-11-23 18:31] joshuatf commented on #35135
This issue was resolved by https://github.com/woocommerce/woocommerce/pull/35286.  I've opened https://github.com/woocommerce/woocommerce/issues/35697 which we can tackle instead this cycle.

[2022-11-23 18:31] #35135 closed, assigned to joshuatf

[2022-11-23 18:42] joshuatf commented on #35181
@octaedro I think the `multiple` prop can be added to the `MediaUploadComponent` to accomplish this.
https://github.com/WordPress/gutenberg/blob/HEAD/packages/block-editor/src/components/media-upload/README.md

We'll probably also need to change our `onSelect` prop type to allow for multiple values and verify that callbacks continue to work on the product page and storybook examples.

I'd estimate

[2022-11-23 18:44] joshuatf commented on #35568
Just noting that we should opt to use the `disabled` prop which will hopefully handle most of the styling we need.

These styles are probably not yet added or inherited since this our own component.  I wonder if there's an easy way to inherit them without copy/pasting them, but that may be the easiest short-term solution.

[2022-11-23 18:49] joshuatf commented on #35558
I'd estimate this around a 1-2.  I think most of this has already been put in place by @mdperez86 but maybe there a couple minor tweaks that can be added.

[2022-11-23 18:50] joshuatf commented on #35566
This should be a 1 for estimation.  We probably just need a min-height when no tags yet exist.

[2022-11-23 18:51] joshuatf commented on #35567
@octaedro I'll be working on https://github.com/woocommerce/woocommerce/issues/35566 - let's keep in touch to make sure we don't have any crossover on these issues.

[2022-11-23 18:52] joshuatf commented on #35571
We should also take into account the mobile screen which has a fixed bottom bar and may need more or less padding for smaller viewports.

Some padding has been added as a part of https://github.com/woocommerce/woocommerce/pull/35623 but this may need to be adjusted.

[2022-11-23 19:09] joshuatf commented on #35576
@jarekmorawski is this issue mostly around loading of categories?  How would we decide which are the first 10 to load?  Alphabetically or by count of items in the category?  Currently we can sort by these properties: `id, include, name, slug, term_group, description, count`

Also is this already in the Figma designs somewhere?

Noting that open on focus has been implemented as a part of https://gi

[2022-11-23 19:14] joshuatf commented on #35569
@jarekmorawski Do we want to do this after the slug is filled in?  Or wait until submit to update it?  It seems like the former might be better since the latter could lead to unexpected slugs on save.

Similarly, I wonder if we want to do the same thing with product slugs and other slug fields.

[2022-11-23 19:15] ziaongit commented on #23000
This plugin work for me Thank You @dcgraphics1

[2022-11-23 19:18] joshuatf commented on #35426
I like the idea of `suffix` but just for the sake of curiosity, was this to make more open-ended than `icon`?

My only (minor) concern is that if someone were to add a button here, that button might not work as intended since clicking the current icon area also focuses the input.  But this could be resolved in a couple of different ways if we choose to go this route.

[2022-11-23 19:30] mshane8 opened #35699 "New Order Notifications Failing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello -
I already started a ticket with Woo and was directed here. Ticket #(5728315).

New Order Notifications are failing to send to admin. ONLY New Order notifications. All oth

[2022-11-23 19:54] octaedro commented on #35572
We should add the styles we need [here](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/products/product-page.scss#L40-L42).
My estimation for this issue is `1`

[2022-11-23 20:09] octaedro commented on #35181
Yes @joshuatf, we will have to modify the [media-uploader](https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/components/src/media-uploader/media-uploader.tsx) component, the [image section](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/products/sections/images-section.tsx#L178-L192) on the product page and the [storybook](https://github.com/

[2022-11-23 20:25] octaedro commented on #35567
Thank you @joshuatf for the warning. I think that @mdperez86 assigned me this issue to groom and estimate it.

[2022-11-23 20:25] octaedro commented on #35567
Hey @jarekmorawski,
Just to confirm, we also want the shipping selector and the category input with the same height (36px), right?

[2022-11-23 22:32] VikiBenDavid opened #35702 "pricing showes Nan"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

![image](https://user-images.githubusercontent.com/108429003/203656822-a8e3648b-1d7d-466b-9a82-d4e737232f5f.png)

pricing showes Nan

### Expected behavior

show the real price o

[2022-11-23 23:43] mattallan opened #35703 "[HPOS] Calling save_meta_data() on an order does not backfill changes to the posts table when DataSyncing is enabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With HPOS and DataSyncing enabled, calling `$order->save_meta_data()` does not backfill the new metadata changes to the posts table.

In Subscriptions, we were using the followin

[2022-11-24 00:52] mouligreenlaw commented on #35535
Another report from NZ 5737706-zen
The merchant is losing sales due to existing account holders' saved Region not being auto filled correctly in checkout.
They are working to add a Required label to the field via CSS but it is not a solid workaround since the field can still be ignored.
They have updated the shipping zones so new customers are not affected, but their existing customers are often n

[2022-11-24 01:07] ThyranWright commented on #35535
Have about 10 WooCommerce stores transacting daily. Existing customers calling daily to find out why they cant place orders. One customer even admitted they googled another site and brought from a competitor. Thanks Dev team for not considering the implications of your latest update for New Zealand customers. Lets hope you shift into second gear and get a fix soon because its already been two week

[2022-11-24 03:15] sanebg commented on #35470
That’s ridiculous. I just updated to 7.1.0 and broke my Analytics tab exactly as shown on the screenshot above.

Please, fix this fast. Reporting is massively important for any WooCommerce Store.

[2022-11-24 03:39] chihsuan opened #35704 "Too much padding between wcpay benefit items"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

![Screen Shot 2022-11-24 at 11 37 00](https://user-images.githu

[2022-11-24 04:10] ilyasfoo commented on #35691
I noticed this applies to other extensions as well, considering the extensions list does not include `is_visible` rule for checking active plugin.

Check remote extensions wccom-plugins/obw-free-extensions/extensions-v3.php in wccom.

[2022-11-24 07:37] sukafia commented on #35645
5737886-zen

[2022-11-24 07:37] sukafia commented on #35645
5721995-zen

[2022-11-24 09:14] louwie17 commented on #35300
Gotcha, I did use `new_product_page` action for this one, as this could be triggered before a user saves or publishes a product. But could revert back to the `new_product` action.

[2022-11-24 09:27] abhij89 commented on #32837
any chance this is getting priority? and will be fixed soon?

[2022-11-24 09:27] followluckycharm commented on #33265
Have you opened a support ticket on the Wordpress Plugins page for Woocommerce? Maybe we can make some noise over there as well. :). https://wordpress.org/support/plugin/woocommerce/

[2022-11-24 09:40] ABooooo commented on #33265
Your sense is correct. :) Unfortunately I've learnt that there are many such issues that Woocommerce doesn't consider as an issue. I've solve it with overwriting the link. It is not optimal but it's working.

[2022-11-24 10:58] jarekmorawski opened #35706 "Top navigation tabs [MVP]"
In preparation for introducing variation management to the new product editing experience, we want to add tabs to the top bar. We'll start small and only accommodate what is needed for the MVP, but the acceptance criteria mention future improvements since they can impact how we structure code from the very start.

**Tab content (only MVP scope)**

- General
   - Product details
   - Images
   - At

[2022-11-24 11:00] jarekmorawski commented on #35567
Correct! We want all fields (except description and summary) to have the same height regardless of state (empty, with items, focused, disabled, etc).

[2022-11-24 11:24] jarekmorawski commented on #35576
No, it concerns all elements contained in a dropdown.

I think it's best to sort them alphabetically.

`5sAIeTRd9Yp7nSCT33BAWz-fi-9880%3A468496&t=4r3ndH9ltPGnsjGr-4`

I tested it in the most recent build and noticed that it doesn't work sometimes. For instance, it won't show anything when clicking on the attributes field in the 'Add attributes' modal. Can we take a second look at that?

[2022-11-24 11:25] octaedro commented on #35567
This fix looks quite simple.
I'll estimate a `1` for this issue.

[2022-11-24 11:26] jarekmorawski commented on #35569
Right after the slug is filled in (which, in some cases, will be when the user opens the modal).

I think we already do something similar to the product link, but the general logic should be the same for all slugs.

[2022-11-24 11:57] swatipawarGS commented on #35668
Hi @Terrox,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/203715046-41c34acf-f8d4-4422-b6f1-f710a10678ae.mp4

Priority of this issue will be assigned

[2022-11-24 11:58] swatipawarGS commented on #35694
Hi @andyNuu,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.1.0 version and WordPress 6.1.1 version.

Please find below the screenshot for reference :
![#35694](https://user-images.githubusercontent.com/94531721/203715649-aac77b66-8fcf-4124-8a00-04e11e69bc3d.jpg)

Priority of this issue will b

[2022-11-24 12:16] #35677 closed, assigned to jorgeatorres

[2022-11-24 12:28] rubileandro commented on #35470
[5737433-zen](5737433-zd-woothemes)

[2022-11-24 13:46] #35578 closed, assigned to ecgan

[2022-11-24 13:59] gglobalstep opened #35711 "[GlobalStep] "PHP Error notice triggered on Query monitor after installing and activating "TikTok" plugin on "Plugins > Installed Plugins" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"PHP Error notice triggered on Query monitor after installing and activating "TikTok" plugin on "Plugins > Installed Plugins" page.

### Expected behavior

"Plugins > Installed P

[2022-11-24 14:00] #35168 closed, assigned to joshuatf

[2022-11-24 14:06] gglobalstep opened #35712 "[GlobalStep] Text overlaps with Modal screen Header for "Add (Paid Product Type) to my store" task after scrolling on Woocommerce > Home page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Text overlaps with Modal screen Header for "Add (Paid Product Type) to my store" task after scrolling on Woocommerce > Home page.

### Expected behavior

Text should not overlap

[2022-11-24 14:08] NarfArf opened #35713 "WooCommerce Product Editor - Product short description collapsed by default?"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I think this was newly introduced with WooCommerce 7.1. "Product short description" tab seems to have new behavior that wasn't documented in the changelog as far as I can tell. 😅

[2022-11-24 14:26] #34898 closed, assigned to barryhughes

[2022-11-24 14:35] #34758 closed, assigned to louwie17

[2022-11-24 14:36] #34331 closed, assigned to louwie17

[2022-11-24 14:36] #34926 closed, assigned to nobody

[2022-11-24 15:03] louwie17 commented on #35126
@pmcpinto do we have any specific copy on what the CES notice should say? And will the copy be unique for each item the user leaves behind?

[2022-11-24 15:15] #35572 closed, assigned to octaedro

[2022-11-24 15:23] octaedro opened #35714 "[Enhancement]: move file picker by clicking card into the MediaUploader component"
### Describe the solution you'd like

Move the logic to open the [file picker by clicking the card](https://github.com/woocommerce/woocommerce/blob/add/35183_open_file_picker_by_clicking_card/plugins/woocommerce-admin/client/products/sections/images-section.tsx#L188-L271) into the [`MediaUploader` component](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/components/src/media-upl

[2022-11-24 15:38] barryhughes commented on #28969
Thanks; yes I see the same. In my own testing it seems this can be mitigated by using the order editor screen `Update` button, *after* altering the line items, but I agree that should not be necessary (or else, the line item changes should not be persisted until the user clicks on `Update`—but that *probably* is not the path we will take, here).

[2022-11-24 16:01] mdperez86 commented on #35569
This logic has been implemented in the server side and it's the reason why the slug field is optional in the shipping class modal form.
Do we really want to duplicate that logic server and client side?
If we are going to have that logic in client side does make sense to mantain the slug field optional?
cc: @jarekmorawski

[2022-11-24 16:04] AnnaMag opened #35715 "[Enhancement] Adapt the summary text in the product management form."
Use _Summarize this product in 1-2 short sentences. We'll show it at the top of the page._ instead of the Gutenberg native text.

[2022-11-24 16:08] AnnaMag opened #35716 "[Enhancement]: remove duplicated text in the snackbar message after publishing a product."
![Image](https://user-images.githubusercontent.com/13561163/203827819-8deac8f5-fc4c-43e4-8220-674d86e03059.png)

[2022-11-24 16:25] blogtutor commented on #28969
Yep -- however, this workaround isn't available if a customer edits their order from their "My Account" area, (For example, if a customer [removes one subscription product from an existing subscription](https://woocommerce.com/document/subscriptions/customers-view/#section-5) that has [had] two products.)

I do think it's an odd UI/UX quirk that changes are saved inside the meta box automatically,

[2022-11-24 16:37] barryhughes commented on #28969
That's a good note, thank you.

[2022-11-24 16:39] barryhughes commented on #28969
✍🏽  Has potential implications for HPOS/sync.

[2022-11-24 17:32] #35568 closed, assigned to mdperez86

[2022-11-24 18:42] pmcpinto commented on #35300
I think we should use the same value across any CES action in the new product experience to keep it consistent. I don't mind if it's new_product_page or new_product

[2022-11-24 18:50] pmcpinto commented on #35126
The copy for the product experience is available here: 5sAIeTRd9Yp7nSCT33BAWz-fi-8421%3A457630&t=UYPEf8EZPOOsRXaE-0

@jarekmorawski can you add the copy for each action? Thanks

[2022-11-24 19:24] ImprobableCode opened #35719 "Products API paramater issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When sending a GET request to the API, adding the param catalog_visibility to the URL with it set to visible or hidden does not change the returned data.

The new store API does

[2022-11-24 20:11] #35715 closed, assigned to nobody

[2022-11-24 21:24] mdperez86 commented on #35571
@jarekmorawski do you think it's necesary to differentiate the margin between desktop/mobile? Take a look if I add mb-128px for all screens. Consider that the bottom bar is 69px height (68px + 1px border top). So 64px is considered less than 69px on mobile screens. That's why I thing 128px could fit for both screens considering the bottom bar on mobiles, but you are the designer. Let me know the f

[2022-11-25 00:33] barryhughes commented on #35088
✍🏽 Resolving #35590 (different deletion issue) may also resolve this one.

[2022-11-25 00:40] fkoomek commented on #32454
@SuperHanss Thanks for the fix! It works.

[2022-11-25 06:39] jamsheerkrd opened #35725 "HPOS 'declare_compatibility()' plugin path not matching"
It is not detecting plugin file path 'plugin-directory/plugin_file.php'  in
			`\Automattic\WooCommerce\Utilities\FeaturesUtil::declare_compatibility( 'custom_order_tables', 'plugin-directory/plugin_file.php', true );`

**Issue Identified:**
it is supposed to be `in_array`, instead `array_key_exists` As the keys are already converted as values in the line 128
![image](https://user-images.githubuse

[2022-11-25 06:51] bumrushtheshow commented on #16028
More than two years later and this still applies. Make sure your spreadsheet program doesn't butcher the format YYYY-MM-DD HH:MM:SS and it will work.

Lovely work @merlin-magic - no idea how you found out because WooCommerce exports do not format like this.

[2022-11-25 10:21] AnnaMag commented on #35714
Could you include the estimation @octaedro , please?

[2022-11-25 10:38] senff commented on #35713
37714209-HC

[2022-11-25 10:38] DoggieBoat commented on #35713
This new "Feature" is an absolute pain. Not only is the "Short Description" (which is actually the MAIN description) field collapsed by default, it also when opened is unusably small so you have to expand it. As soon as you update or save the product, it collapses again, which means you have to repeat the whole rigmarole again, which just wastes time unnecessarily.

This needs to be fixed as a mat

[2022-11-25 10:46] louwie17 commented on #35126
Thanks @pmcpinto!
One additional question in terms of the actions to use, given we are adding the `ces_location` do we still want to have unique `exit` actions for each of the items to clearly differentiate the type of feedback, or would the `ces_location` set to `outside` be enough?

[2022-11-25 10:49] anastas10s-afk commented on #29753
5716621-zen

[2022-11-25 11:00] jarekmorawski commented on #35126
`💬  How is your experience with editing products? Share feedback`

`💬  How is your experience with updating this product? Share feedback`

`💬  How is your experience with editing products? Share feedback`

`💬  How is your experience with updating this product? Share feedback`

`⚙️  Did you find the right setting? Share feedback`

`📦  How easy or difficult was it to update this order? Share feedbac

[2022-11-25 12:07] #35183 closed, assigned to octaedro

[2022-11-25 12:44] Aljullu opened #42524 "Filter blocks have 'No preview available' in the inserter"
## To reproduce

1. Create a post or page and open the block inserter.
2. Hover the _Active Filters_ and _Filter by X_ block icons.
3. Notice no preview is displayed.

<img src="https://user-images.githubusercontent.com/3616980/203988171-21f5f214-c1c8-4066-8618-6cef8ca2a841.png" alt="" width="455" />

## Expected behavior

When hovering filter blocks, a correct preview should be displayed so the u

[2022-11-25 13:21] #35541 closed, assigned to mdperez86

[2022-11-25 13:21] #35716 closed, assigned to mdperez86

[2022-11-25 13:53] petermorlion commented on #35548
I had the same issue. Looking at the code, I believe the issue is caused because:

- WC_Order_Item's `get_type()` function returns ''
- In the same class, in the constructor, the data store is loaded, based on a certain key, which is `order-item-` + the type. The type is empty, so it's `order-item-`
- This data store is looked up in the `stores` in the WC_Data_Store class, which doesn't exist
- In

[2022-11-25 14:37] jarekmorawski commented on #35571
Alrighty. 👍 I just checked in the mobile view in Chrome and it looks fine. Let's go with 128 on both desktop and mobile. I'll update the AC.

[2022-11-25 14:48] #35558 closed, assigned to mdperez86

[2022-11-25 14:57] #35645 closed, assigned to mattsherman

[2022-11-25 14:58] #35567 closed, assigned to mdperez86

[2022-11-25 14:58] #35566 closed, assigned to mdperez86

[2022-11-25 15:09] gigitux opened #35730 "[Enhancement]: Update the function `get_filtered_term_product_counts ` to be more generic and usable outside of WooCommerce Core"
### Describe the solution you'd like

In the last week, I worked on https://github.com/woocommerce/woocommerce-blocks/issues/7607. Essentially the Store API doesn’t support the new Product Attributes Lookup table, and in some conditions, the data counts are wrong.

After a discussion with @Konamiman (p1669241782538799-slack-C0E1AV8T0), we decided it would be a good approach to update the function

[2022-11-25 15:28] ecgan opened #35731 "Google Listings and Ads icon in onboarding marketing task is not the right one"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the marketplace suggestions feature is turned off and we visit the WooCommerce onboarding marketing task at `/wp-admin/admin.php?page=wc-admin&task=marketing`, the Google Li

[2022-11-25 16:23] pmcpinto commented on #35126
@jarekmorawski thanks for sharing the copy for each action, but in this case, we're targeting users who don't complete the action. So I feel that they copy should be different. Makes sense?

[2022-11-25 16:29] pmcpinto commented on #35126
Lourens, sorry, I'm not sure if you're following. Do you have an example of what could be the unique exit action?

[2022-11-25 18:07] perrelet commented on #35548
@petermorlion I agree with your assessment. For our use case `WC_Order_Item_Product` was the ticket.

Perhaps this is a candidate for a `doing_it_wrong` exception - saving future souls from falling into the same non-type abyss?

[2022-11-25 20:02] oarthurfc commented on #27130
Did you find a solution? :/
I have the same problem

[2022-11-25 21:03] Lemondragon commented on #25155
I have the exact same issue but using the REST API, as I understand, our problem may have the same cause.

After lots of tests, this is what I found :

You must set the 'from' dates at 00:00:00 in the wordpress installation's timezone.
You must set the 'to' dates at 23:59:59 in the wordpress installation's timezone.

In my case, using the REST API, I must know in that timezone wordpress is configu

[2022-11-25 22:27] samueljseay opened #35734 "fatal wc_get_logger error in WooCommerce Beta Tester"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Brought to my attention by @lanej0 :

GlobalStep brought my attention to the fact that trying to install the WooCommerce Beta Tester plugin (and activate it) causes a critical er

[2022-11-26 00:22] #35725 closed, assigned to nobody

[2022-11-26 02:01] trash974 opened #35735 "shipping costs"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

shipping costs bug when modifying the basket. when updating the basket is up if the delivery should become free the shipping costs remain and if the basket is down the free deliv