[2022-04-28 10:03] #32692 closed, assigned to nobody

[2022-04-28 11:33] jacoswan opened #32816 "CSV import with <a> tag in Short Desc or Desc column fails"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When attempting to upload a CSV file with `<a>` HTML in the `Short Description` or `Description` columns, it fails, causing the error:

### Expected behavior

I'd expect an `<a>`

[2022-04-28 11:35] #32156 closed, assigned to octaedro

[2022-04-28 12:58] simkoG commented on #31519
OK, after some time, I've finally found a way to replicate the warnings in the log file. I have a webshop with previously created orders.

Go to `Woocommerce > Settings > Advanced > Features`. Here turn **off** the "Analytics" option (disable it).
Go to `Dashboard > Home` and check the "WooCommerce Status" widget. The mini graphs are missing from the widget. Check the log the warnings will be ther

[2022-04-28 13:28] pmcpinto commented on #32161
Thanks!

Maybe it's better to open a follow-up issue about the loading speed. @jarekmorawski can you create one with the tweak you want to implement and cc Lourens?

[2022-04-28 15:41] barryhughes commented on #31519
💥

Perfect, thanks for determining that. We'll try to cover this in an upcoming sprint (possibly [this check](https://github.com/woocommerce/woocommerce/blob/6.3.1/plugins/woocommerce/includes/admin/class-wc-admin-dashboard.php#L130) should be revised—but we can figure that out when we pick this up).

[2022-04-28 16:01] barryhughes commented on #31470
@peterfabian | @tturton-godaddy | @dmagalhaes-godaddy,

The doc looks good and the engineering overview is comprehensive, the assumptions seem fine to me. I'd say we should move ahead to code review (bandwidth allowing).

[2022-04-28 16:05] helgatheviking opened #32818 "[Enhancement]: Add support for export/import of array-formatted meta"
### Describe the solution you'd like

Currently meta keys that have data that is not a string/scalar [are skipped when exporting](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/export/class-wc-product-csv-exporter.php#L720).

I would like to see those be json encoded and then json decoded on import.

here are two examples of array data:
`{"subscription_schemes":

[2022-04-28 16:15] pmcpinto commented on #32633
Hey @chihsuan I think we should leverage what we already have in the current experience and implement it in the new variant:

- `wcadmin_task_view`
Perhaps we should add a new `task_name` value to distinguish the control and the treatment in Tracks. Or include a new prop to distinguish them and fire `task_name`: `products` in both versions (control and treatment)

- `wcadmin_tasklist_task_complete

[2022-04-28 17:50] urlund opened #32819 "Active filters (widget) issue"
Hi there,

One of our customers have a product attribute named "color", believe or not, one of the colors name is "0" (yes as in: "zero").

I guess you can see where this is going ... 😆

When using the "Active filters" widget, the value does not show as selected. I've tracked it down to be due to this line of code:

https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80

[2022-04-28 18:32] urlund opened #32822 "Active filters (widget) issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

One of our customers have a product attribute named "color", believe or not, one of the colors name is "0" (yes as in: "zero").

When using the "Active filters" widget, the selec

[2022-04-28 18:50] #28508 closed

[2022-04-28 19:02] roykho commented on #32819
DUP https://github.com/woocommerce/woocommerce/issues/32822

[2022-04-28 19:02] #32819 closed, assigned to nobody

[2022-04-28 20:31] neillaferty opened #32826 "Slow order/subscription search"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Order and subscription searches are taking minutes.

### Expected behavior

Order and subscription searched should take seconds, not minutes.

### Actual behavior

When doing sea

[2022-04-28 20:37] ObliviousHarmony commented on #32436
This task is blocked pending some discussions about potential upstream changes. I have everything working now in the PR but I may need to write some scripts to compose testing commands. There may be a good upstream change to make to make that functionality easier though, so I'll sit on this into next week.

[2022-04-28 20:57] GENMPIE opened #32827 "Downloadable product limitations issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I've found a bug with WooCommerce download limitations.
When you set up a product with a download limitation, users can accidentally waste one download chance. When a user click

[2022-04-28 21:59] moon0326 commented on #32143
Hi @verofasulo

It's very minor, but I noticed a tiny inconsistency while working on the issue.

https://github.com/woocommerce/woocommerce/issues/32634 shows `View more product types` link aligned to the left, but this issue shows `or add your products from scratch` link at the center.

Is this intended?

[2022-04-29 00:36] #32459 closed, assigned to nobody

[2022-04-29 00:54] gomlers commented on #27281
I can confirm this error report

Woocommerce Version 6.4.1
Tool: Tools -> Import -> WooCommerce products (CSV)_

**Problem**
When you import a CSV containing at least column headers: SKU, Name and Images, the images are not attached automatically to the products imported.

The products will show the correct images on the front-end and back-end as well, but the images in the media library is "unatt

[2022-04-29 01:16] gomlers opened #32829 "Woocommerce CSV import of Upsell SKU that does not exist, gives a fatal error on product page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When importing products using the default CSV importer, and you insert SKU's for the upsells:

If one or more of those SKU's don't exist in the product database, the product page

[2022-04-29 02:20] chihsuan commented on #32633
@pmcpinto Thanks for confirming!

This sounds good! 🙂

Yes, I think we could do that. I'll check which is easier to implement.

If I’m not mistaken, should we also add a new prop for `wcadmin_tasklist_product_template_selection` to track this?

- `is_suggested`: "yes" / "no", suggested product types depend on what the user declared during the signup

[2022-04-29 02:50] #32797 closed, assigned to nobody

[2022-04-29 02:57] #32414 closed, assigned to rjchow

[2022-04-29 03:35] #32634 closed, assigned to chihsuan

[2022-04-29 04:31] moon0326 commented on #32143
Hi @verofasulo

I have one more question :)

The icon has the following note on the Figma design.

[code]

Is this a variable from core? I wasn't able to locate it.
![Screen Shot 2022-04-28 at 9 30 21 PM](https://user-images.githubusercontent.com/4723145/165885472-c052cf85-9afa-414f-be4a-ef2c4225b4fd.jpg)

[2022-04-29 07:28] Konamiman opened #32831 "The "regenerate the product attributes lookup table" tool can't run via API"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The "regenerate the product attributes lookup table" tool can't run via REST API, possibly because it's missing a handler [here](https://github.com/woocommerce/woocommerce/blob/t

[2022-04-29 07:38] #32133 closed, assigned to nobody

[2022-04-29 07:47] verofasulo commented on #32143
Thanks for spotting it @moon0326 ! The correct version is the one with the accordion aligned at the centre, both for the import and add products pages :)

[2022-04-29 07:54] verofasulo commented on #32143
That's a great question - I used the Gridicons set that is the one used by the mobile team and I thought there was consistency in terms of color palette but it seems it's not. I just updated the designs using `Gutenberg/Gray 500` :)

[2022-04-29 07:58] chihsuan commented on #32811
Based on https://github.com/woocommerce/woocommerce/issues/32633#issuecomment-1112399807

For import products event tracking, we should also use what we already have:

- `wcadmin_task_view`
- `wcadmin_tasklist_task_completed`
- `wcadmin_tasklist_add_product`
product_template - fired when one of the template options is selected
manually - fired when the user selects start blank
import - fired when

[2022-04-29 08:40] peterfabian commented on #32065
Hi all,

Can you please help us reproduce the issue?

Ideally, it would be great if you could create a minimal example with one or two attributes and the product and share
1. A screenshot of how you have the attributes set up
2. A screenshot of how you have the product set up
3. Description/screenshot of how you have the filtering set up (is it a widget added through customizer?)
4. Your system st

[2022-04-29 09:47] Konamiman commented on #32818
Hi @helgatheviking, thanks for your suggestion. It seems like a good idea so we'll keep it open and eventually work on it.

[2022-04-29 10:00] Konamiman commented on #32808
Hi @pegasus912s, thanks for reporting this. Indeed this is a feature that's important and we'll need to implement in WooCommerce, so I'm labeling it as a high priority enhancement request.

[2022-04-29 10:02] Konamiman commented on #32808
Also, for reference: https://www.pinsentmasons.com/out-law/guides/plastic-packaging-tax

[2022-04-29 10:11] peterfabian commented on #32808
Just a quick follow up by reading several documents online (though I'm no tax expert), but it seems to me this is potentially needed for B2B stores, right?

via https://www.sage.com/en-gb/blog/plastic-packaging-tax-need-to-know/

Also, several sources indicate that the April deadline has been dropped, is that correct?

I'm also assuming this is paid not per weight of the product, but per weight of

[2022-04-29 10:17] jorisvst opened #32833 "Wrong variation menu order with disabled variations"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When there is a variable product with multiple variations and some variations are not enabled, the menu_order is not correctly saved when only one variation is saved.

This happe

[2022-04-29 10:18] pmcpinto commented on #32633
Sounds good! Thanks for the suggestion

[2022-04-29 10:30] pegasus912s commented on #32808
Hi Fabian,

Many thanks for the reply.

It will actually apply to B2B and also B2C I believe, as manufacturers of plastic items also sell direct to the public (our customer sells plastic food storage buckets, plus other competitors might sell plastic objects etc).

The invoice generated needs to show “plastic tax” separate from the product price, similar to how VAT is also a separate line to the p

[2022-04-29 11:07] pegasus912s commented on #32808
Hi Peter,

Apologies, just one thing I forgot to add for thought is, as more and more plastic products become ‘recycled’, there will instances where in the shopping basket (per product) there might be a case where there are x products where the plastic tax applies, and y products where it doesn’t apply.

(As it applies if a product is (currently – it might change) made of less than 30% recycled pl

[2022-04-29 11:14] lkraav commented on #32826
This is a standard problem with meta-table based architecture.

Start with looking at what https://wordpress.org/plugins/index-wp-mysql-for-speed/ can do for you, while these architectural issues are figured out (will take a while).

EDIT see detail discussion https://github.com/WordPress/performance/issues/132

[2022-04-29 11:42] swatipawarGS commented on #32816
Hi @jacoswan,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/165898698-108679ea-7201-4bc8-9eac-514676fa3f99.mp4

Priority of this issue will be assigned shortl

[2022-04-29 11:48] swatipawarGS commented on #32822
Hi @urlund,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/165902807-8c4365ac-687a-4804-9251-39dfcff72d01.mp4

Priority of this issue will be assigned shortly

[2022-04-29 13:59] iamabhishekgarg commented on #12571
plz help how to make parents for attributes

[2022-04-29 15:10] gigitux commented on #32065
I reproduced this issue while working on https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/6322.

It seems that the problem is caused by the way we import products (via REST API) in our test E2E env. I prepared a script that simulate our script to reproduce in a fast way the bug.

1. Clone [this repo](https://github.com/gigitux/woocommerce-import-product-rest-api-reprostep

[2022-04-29 15:22] gomlers commented on #32829
I have done some more testing.
Seems like this was in fact a cache issue.

One of my snippets (That I surely deactivated on my initial test) is causing the problem after all.

Please don't pay attention to this, closing the thread.

[2022-04-29 15:22] #32829 closed, assigned to nobody

[2022-04-29 15:26] tammullen commented on #28025
Closing as noted above it is resolved

[2022-04-29 16:31] #32762 closed, assigned to joelclimbsthings

[2022-04-29 17:59] urlund commented on #32822
@swatipawarGS
Great you found a bug, but not quite the bug I was looking to get fixed, but quite imported one you found there :)

I think you forgot to make the slug name "0" (zero) too, because the value actually shows in your active filter list:

See this screenshot taken from your movie:
https://capture.dropbox.com/eqDD0fIH8iT2eC9L

And according to the source code, mentioned in this issue:
htt

[2022-04-29 18:11] #32802 closed, assigned to louwie17

[2022-04-29 21:18] moon0326 commented on #32143
Thank you!

@chihsuan We might need to update https://github.com/woocommerce/woocommerce/pull/32801 in this case.

[2022-04-29 21:56] #32720 closed, assigned to nobody

[2022-04-30 03:23] dinhtungdu opened #42635 "Product rating styling issue with PHP templates"
## Describe the bug

With block themes, the star rating doesn't look good for products with non-integer ratings. The issue only happens with PHP templates inside a columns block.

## To reproduce

Steps to reproduce the behavior:

1. With a block theme like Twenty Twenty-Two, edit the Product Catalog template.
2. Add Columns block and set the column type to 70-30.
3. Move the `WooCommerce Product

[2022-04-30 13:42] crstauf commented on #30646
@peterfabian @Konamiman Please review the recent comments and accept the submitted PR.

[2022-04-30 13:43] crstauf commented on #30646
Also tagging @roykho for some attention.

[2022-04-30 20:45] nikhilgk commented on #27375
+1 more request for this.

[2022-05-01 00:38] #32319 closed, assigned to nobody

[2022-05-01 02:11] therealgilles commented on #28861
Any chance this could be checked through TypeScript?

[2022-05-01 15:32] gslwebsolutions commented on #24185
Shipping radio options lose focus onchange.
When I tab to the shipping options, I am able to switch choices using the up and down arrow keys. However, after switching to a different option and Ajax loads, I seem to lose keyboard focus and I am now unable to use the up and down arrow keys. I have to press Tab again to be able to use the arrow keys again.

[2022-05-01 20:59] srikanthkoneru commented on #16683
Still not working, I used the dates from that url posted :

[code]

which is the year 2017 and I get all orders in the newly created test shop.

[2022-05-02 02:12] ambroseya opened #32837 "Inconsistent behavior of Net Sales in Analytics"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Net Sales on the Analytics -> Products screen does not always equal Net Sales on the Analytics -> Revenue Screen

### Expected behavior

Expect that Net Sales on Products and on

[2022-05-02 06:02] them-es opened #32839 "WooCommerce Analytics: PHP warning shown if it has been disabled in settings"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Originally reported in: https://wordpress.org/support/topic/php-warning-undefined-array-key-id-and-value-on-woocommerce/

**WooCommerce Analytics** is an optional feature that ca

[2022-05-02 09:28] pmcpinto commented on #32811
Hey @chihsuan

We're firing `import` when the user selects CSV and `migrate` when the user selects the Cart2Cart options. So it's not necessary to add `import_cart2cart`

[2022-05-02 10:04] #25864 closed

[2022-05-02 12:29] vedanshujain opened #32841 "[COT] Research caching API for custom order table datastore and its interaction with WC_Order object"
Currently, we use a mix of caching provided by WP posts as well as our own implementation in `WC_Cache_Helper`. However, since we won't be using WP Posts cache (at least in its current form), we should settle on a cache implementation that we will in-fact use.

In the caching implementation, we should be able to manage order and all its data (order properties, refunds, order items, etc) in a singl

[2022-05-02 12:38] vedanshujain opened #32842 "[COT] Implement `delete` function for when migrating from posts to COT table"
In the current implementation, when migration is still in progress, we plan to update the corresponding record in the custom order table (if it's already migrated). However, so far, we have not implemented a delete method yet.

This issue scopes adding functionality to delete the COT record if the post record is being deleted, and the posts table are still the authoritative ones.

[2022-05-02 12:42] vedanshujain opened #32843 "[COT] Add `_recorded_sales` column in custom table"
`_recorded_sales` is also one of the meta keys that we store for pretty much every order, however, we missed including it in the initial table structure.

This issue scopes adding this meta as a column in order operational data table. We should:
- [ ] Add a new column in the operational data table with the appropriate data type.
- [ ] Add its support for migration in `WPPostToOrderOpTableMigrator`

[2022-05-02 12:44] swatipawarGS commented on #32826
Hi @neillaferty,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screenshots for reference :

https://user-images.githubusercontent.com/94531721/166212082-8667c54c-333d-4030-a099-06c4f3fb41d1.mp4

Please provide us more detailed and any a

[2022-05-02 12:46] swatipawarGS commented on #32827
Hi @GENMPIE,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/166215401-04e2b73f-3aa2-48a8-ac0a-f2e063b37a21.mp4

Priority of this issue will be assigned shortly

[2022-05-02 12:47] swatipawarGS commented on #32833
Hi @joris-iSide,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/166220550-5fe87922-bb86-421c-85d8-13b65af39fbe.mp4

Priority of this issue will be assigned sho

[2022-05-02 12:54] vedanshujain opened #32844 "[COT] Publish a call for testing to test migrations into custom order tables."
Now that implementation for migrations is complete, we should publish a call for testing to test out migrations. This document should include:
- [x] Instructions along with code on how to run/re-run migrations (along with a warning to not run on production).
- [x] Instructions on how to measure and report back the instrumentation data that we will identify in #
- [x] Queries to verify the integrit

[2022-05-02 12:56] vedanshujain opened #32845 "[COT] Scope out the first version of instrumentation data that we would like to get for testing migrations."
As we start to test out-migration, we should finalize what data we would like to measure. This issue scopes creating an RFC with all the data that we would want to measure when running the migration.

[2022-05-02 12:58] vedanshujain opened #32846 "[COT] Publish a comprehensive design document for feedback on all the decisions so far towards the custom order table project."
We have taken many decisions during the research work for this project that will impact upgrade paths for shops and extensions. This issue scopes publishing a document with all the details of all the decisions we have taken so far.

The intention behind is not only to document the design of the project but also to invite feedback so that we can correct wherever we have missed something that will i

[2022-05-02 14:01] selectedselections commented on #32398
As a note, I've opened this issue within the [WooCommerce Payments repo here](https://github.com/Automattic/woocommerce-payments/issues/4220)

[2022-05-02 14:04] selectedselections commented on #32398
As a note, I've opened this issue within the [Stripe Gateway repo here](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2345)

[2022-05-02 15:08] #30765 closed, assigned to nobody

[2022-05-02 15:21] turpoint commented on #8828
I've tried `""`, `false` and `null`. None of these seem to work. The API call itself works if i put `3.00` as a string it gets updated, but I can't find a way to remove the sale price.

[2022-05-02 15:29] jofbe commented on #32696
Hi @jonathansadowski , can you give us any update on this ticket, or some ideas how to prevent the cases described above? Or if this is not the right place for this, please direct me to the right one.
Thank you very much!

[2022-05-02 15:50] peterfabian commented on #32841
Part of the research is defining policy for extensions---will they be able to include data in the cached data? Preferably yes, so that they don't need to hook too much into actions.

VIP also had some reservations with core fetching orders too often from the db... (source?)

The estimate is the timebox [days] for the research.

[2022-05-02 17:50] #27364 closed

[2022-05-02 19:41] lumyser commented on #32783
Is this being looked at?

[2022-05-02 21:14] moon0326 commented on #32778
Country codes: US, CA, MX, AT, BE, CZ, DK, FI, FR, DE, GR, HU, IE, IT, NL, PL, PT, RO, ES, SE, GB, CH, NO, AU, NZ, SG, MY, PH, ID, VN, TH, KR, IL, AE, RU, UA, TR, SA, BR, JP

[2022-05-02 22:08] moon0326 commented on #32778
I've opened a draft [PR](https://github.com/woocommerce/woocommerce/pull/32850) to add TikTok task to the default task list. Once we have logo and link to the wp.org, we also need to work on adding a new entry to `https://woocommerce.com/wp-json/wccom/obw-free-extensions/3.0/extensions.json`

[2022-05-02 22:32] haszari commented on #29362
Also noting [the docs for setting up wp-env](https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment#configure-a-local-wordpress-instance-with-wp-env) could be clearer.

Specifically, there's no `.wp-env.json` or any wp-env config in the repo. This is fine, but it's not clear in the docs, because it mentions defaults: `You can create .wp-env.override.json

[2022-05-02 23:47] haszari commented on #29362
I just noticed there are at least two different docs:

https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment#configure-a-local-wordpress-instance-with-wp-env

https://github.com/woocommerce/woocommerce/blob/trunk/DEVELOPMENT.md

I suggest deleting one of these and focus on improving one canonical doc.

[2022-05-02 23:49] haszari commented on #29362
Here's my recommended zero-to-running docs:

### Install developer tooling

- Install `npm` LTS version.
- Install `composer`.
- Install nx globally: `sudo npm install -g nx`.
- Install pnpm globally: `sudo npm install -g pnpm`.

Side note: I saw an error about my pnpm version being too new, so I installed specific version: `sudo npm install -g pnpm@6.24.2`

Outcome: npm LTS is installed, nx and p

[2022-05-03 01:25] haszari commented on #29362
Update: I see now [there is a wp-env config in `./plugins/woocommerce`](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/.wp-env.json). Now the docs about `.wp-env.override.json` make sense to me :)

[2022-05-03 03:37] james-allan commented on #32694
I've had a look into error handling and when the `DISALLOW_FILE_MODS` constant is set you can't even add plugins manually via the plugins screen either. So you'd need to download and install it manually via ssh, ftp or some other file management system made available via the host I guess.

I also had a look at how this was handled in other places and here's what it looks like for the WooCommerce P

[2022-05-03 03:42] aprea commented on #32694
That sounds good to me @james-allan!

[2022-05-03 04:44] #32707 closed, assigned to adrianduffell

[2022-05-03 05:45] therealgilles opened #32853 "Preset billing email checkout field gets stripped of '+...' part"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a user is logged in, I prefill some of the checkout fields (first/last names and email address). I have noticed that email addresses containing a '+something' part, such as

[2022-05-03 05:54] Jinksi commented on #32691
@aprea To disambiguate the meaning of `core`, I've updated the description to change the event name prefix `wcadmin_core` → `wcadmin_wccore`.

As discussed on pdjTHR-YI-p2#comment-1166.

[2022-05-03 05:55] Jinksi commented on #32694
@aprea To disambiguate the meaning of `core`, I've updated the description to change the event name prefix `wcadmin_core` → `wcadmin_wccore`.

As discussed on pdjTHR-YI-p2#comment-1166.

[2022-05-03 05:58] therealgilles commented on #32853
I should add that I am using the WooCommerce Checkout Fields extension and when defining billing_email type, 'email' is not an option, so its type is set as 'text'.

[2022-05-03 06:47] therealgilles commented on #32853
I misdiagnosed the problem. The issue disappears after I went to the user profile and clicked 'Update Profile'. Somehow the customer session was holding a previous email address. Not sure if this is a session issue or an object caching issue. But most likely not related to WooCommerce. Closing.

[2022-05-03 06:47] #32853 closed, assigned to nobody

[2022-05-03 06:49] kaushikasomaiya opened #32854 "Variations meta data in order email and order thank you page is not skipped when product name contains the data already"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After the introduction of the new wrapper - "get_all_formatted_meta_data", Variations data in the order email and order thank you page is not skipped when the product name contai

[2022-05-03 06:50] lkraav commented on #32826
Hi @swatipawarGS first step is to understand database sizes, which has been reported in opening comment.

This cannot be reproduced with a database size of 100 orders, as shown in your screencast.

I also recommend learning about https://wordpress.org/plugins/query-monitor/

Even though screencast delivers an impression of "fast", detail analysis usually requires exact numbers.

[2022-05-03 07:07] kaushikasomaiya commented on #32854
This is handled correctly if the product name has multiple variations with the same value: (Data is removed from the product name.)

![image](https://d.pr/i/mDyr6Y+)

[2022-05-03 08:24] rjchow commented on #32633
@chihsuan , I was looking into this and from my understanding the 'products' task id is quite tricky to modify as it is coupled to both the url and the slotfill's ID. [1](https://github.com/woocommerce/woocommerce/blob/c5c1cf438afb54ca96a2ac7d88b7f2557f88a89a/plugins/woocommerce-admin/client/tasks/task.tsx#L48), [2](https://github.com/woocommerce/woocommerce/blob/0d9d463d46ea3002766f35a44b4f25f408

[2022-05-03 08:52] verofasulo opened #32856 "Inbox note: Store setup survey"
**Description**: we want to start triggering a new survey to collect qualitative feedback about the store setup experience, and the easiest way is to deliver a new inbox note.

**Title**: How is your store setup going?
**Content**: Our goal is to make sure you have all the right tools to start setting up your store in the smoothest way possible.
We’d love to know if we hit our mark and how we can

[2022-05-03 09:12] pmcpinto commented on #32856
@adrianduffell I'm adding this to the cycle 24 backlog in case there's time to implement this notification during the last days of the cycle

[2022-05-03 09:43] chihsuan commented on #32633
@rjchow

Agree with you. 🙌

Move the experimental layout into the same fill as the existing one, so we don't have two fills for one slot that isn't meant for multiple fills, then we can add a tracks event there when we decide which one to render
Modify the slot to add an extra prop/field - this seems like a hack to me because we're modifying the interface for analytics purposes
What do you think?

[2022-05-03 11:59] CharlieEtienne commented on #42649
Hi @sunyatasattva, any news about this?

Charlie

[2022-05-03 12:10] yeraygomez commented on #28028
Hello, do you already have a solution to this? The same thing is happening to me, what is the solution?

Thank you.

[2022-05-03 13:07] traed commented on #29465
@peterfabian Any update on when this may be merged?

[2022-05-03 14:03] adrianduffell opened #32859 "Add fashion csv sample file"
### User Story

**Design overview**
Here you can find all the images and the author:
cJQeyyhx9PraQrY3YAtCGM-fi-1517%3A156861

### Acceptance Criteria

* New [sample data file](https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce/sample-data) `onboarding/fashion.csv`.
* Nine products in file.
* Products have generic names/description but realistic data for price/weight/stock/et

[2022-05-03 16:21] gigitux commented on #32065
With @Konamiman, we find that this problem is caused by the table `product_attribute_lookup` that is not regenerated. In our tests, this happens in two cases:
1) when the user upgrades to WC 6.3, the table usage' flag is enabled, but the table is empty. (to fix the problem, the user should click the button `Update WooCommerce Database` on the alert WooCommerce database update required - check the

[2022-05-03 16:34] peterfabian commented on #30646
Thanks for the ping and the PR, appreciated! @vedanshujain is going to review the PR soon.

[2022-05-03 17:21] #32652 closed, assigned to ObliviousHarmony

[2022-05-03 22:52] jkohlbach opened #32863 "WC 6.5 RC: The Automattic\WooCommerce\Admin\API\Options::get_options function is deprecated since version 3.1."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Looks like core is producing a deprecation notice in WC 6.5 RC.

The Automattic\WooCommerce\Admin\API\Options::get_options function is deprecated since version 3.1.

I traced thi

[2022-05-03 23:25] adrianduffell commented on #32412
I've extracted the sourcing of new sample clothing/accessories products into an issues here https://github.com/woocommerce/woocommerce/issues/32859

[2022-05-04 00:08] moon0326 commented on #32633
Add a new tracks event to the experimental layout
Move the experimental layout into the same fill as the existing one, so we don't have two fills for one slot that isn't meant for multiple fills, then we can add a tracks event there when we decide which one to render
Modify the slot to add an extra prop/field - this seems like a hack to me because we're modifying the interface for analytics purpos

[2022-05-04 01:02] #32716 closed, assigned to chihsuan

[2022-05-04 01:54] chihsuan commented on #32633
I like this idea. I think it makes us easier to add customized tracks without changing the code too much.

[2022-05-04 02:41] rjchow commented on #32633
eventProps sounds good to me 😃

[2022-05-04 03:55] chihsuan commented on #32268
Looks like https://woocommerce.com/document/activity-panels/ is no longer published again...

I'm closing this for now.

[2022-05-04 03:55] #32268 closed

[2022-05-04 05:52] derridHeidegger opened #32868 "mini cart doesn't work (probably other woocommerce blocks)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

once i use the mini cart block, i get an error in the dev tools. obviously nothing work. even though i add a product the mini cart is empty. actually even the message that the ca

[2022-05-04 07:02] Konamiman commented on #32065
To add more context: the lookup table being empty (while in use) causes the widget to keep hidden, because the widget only shows attributes for existing products, and if it thinks that there are no products then it thinks there are no attributes to filter by at all and thus it simply doesn't show up.

We'll work on a fix for this ASAP, but in the mean time, the workaround is indeed to use the "Reg

[2022-05-04 08:05] yeraygomez commented on #28028
Hello, this code: $max_discount = round( $this->get_total( 'items_total', true ) + $fee_running_total + $this->get_total( 'shipping_total', true ) + array_sum( $this->get_tax_class_costs() ) ) * -1;

is the solution? in which file should I put it?

[2022-05-04 08:47] devonto commented on #32280
+1 - Would be a good feature to understand more about shipping method usage

[2022-05-04 09:10] #32733 closed, assigned to nobody

[2022-05-04 09:15] #32143 closed, assigned to moon0326

[2022-05-04 09:33] moelleer commented on #32673
I also have this issue when using it together with JetThemeCore, any idea how to do a workaround until they solve the issue?

[2022-05-04 09:48] vedanshujain commented on #32030
hey @AuraCreativeMedia / @Syker-uk, we are trying to reproduce but seems like we would need more help. can you also add the following details:
1. if you can still repro, can you run the command `SHOW FULL PROCESSLIST` from the MySQL console when things are going wrong and share its output.
2. I see that the DB engine is MyISAM for action-scheduler-related tables for @Syker-uk, is that the case for

[2022-05-04 10:08] vedanshujain commented on #32038
hey @vankyy26 , you don't need to pass `display_value` and `display_key` as they are read-only fields. the request you provided works if I remove these fields, and i can repro the issue when they are present. I am marking this as a bug so that we can add code to ignore those fields.

Meanwhile, you can drop the `display_` fields from your request and things should work as expected.

<img width="13

[2022-05-04 10:38] CamperImperium commented on #32673
Hi,

yes, we did resolve the issue with removing JetThemeCore.

Regards.

[2022-05-04 12:19] malsubrata commented on #28028
@yeraygomez You can change this code at includes/class-wc-cart-total.php line no 285

[2022-05-04 13:06] swatipawarGS commented on #32839
Hi @them-es,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/166640869-c356be83-7254-4104-bc1f-d28c7b2ee236.mp4

Please provide us more detailed and any additi

[2022-05-04 13:07] swatipawarGS commented on #32854
Hi @kaushikasomaiya,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screenshots for reference :

Order Page:
![#32854(order page)](https://user-images.githubusercontent.com/94531721/166642431-81a89574-c972-4ce9-b011-13ee8fe3dd33.jpg)

Ord

[2022-05-04 13:09] swatipawarGS commented on #32863
Hi @jkohlbach,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/166645631-99bee244-5a7c-4b36-9961-9261d9a50a63.mp4

Please provide us more detailed and any addi

[2022-05-04 13:09] swatipawarGS commented on #32837
Hi @ambroseya,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screenshots for reference :

Revenue Page:
![#32837(Revenue Page)](https://user-images.githubusercontent.com/94531721/166646780-e274334e-b7f3-4cd2-bf62-be8c7f0e7178.jpg)

Prod

[2022-05-04 13:36] #30646 closed, assigned to nobody

[2022-05-04 14:05] pmcpinto commented on #32149
Hey @octaedro this will be fixed with #32630, right?

[2022-05-04 14:31] them-es commented on #32839
Hi @swatipawarGS,

thanks for taking a look at this issue.

Did you enable `WP_DEBUG_DISPLAY` in your `wp-config.php`?
[code]

Below is a screenshot where you can see the debug messages on the bottom of the screen:

- WordPress version: 5.9.3 (fresh!)
- PHP version: 8.0.16
- 1 Plugin active: **WooCommerce**
- Theme: **TwentyTwentyTwo**

![image](https://user-images.githubusercontent.com/10208534/1

[2022-05-04 16:16] yeraygomez commented on #28028
Hello, we have made the code change you mentioned but the error remains.

It does not calculate the VAT correctly, it still calculates the VAT of the wallet.

I attach an invoice for you to see: https://tolecarnes.com/wp-admin/admin-ajax.php?action=generate_wpo_wcpdf&document_type=invoice&order_ids=25668&_wpnonce=1f3543e8c6

VAT ("IVA") should be 3,81€.

[2022-05-04 19:42] octaedro commented on #32149
Hi @pmcpinto,

That's right. Thank you for the ping. I'm going to close this issue.

[2022-05-04 19:42] #32149 closed, assigned to octaedro

[2022-05-04 20:40] lukecav commented on #32844
Are there any WP-CLI commands for checking the number of existing orders on a site, along with running the migration of orders to the new order tables?

[2022-05-04 22:28] jkohlbach commented on #32863
@swatipawarGS .... WC 6.5 RC as per the title :)

[2022-05-05 00:37] #32519 closed, assigned to nobody

[2022-05-05 00:46] Rahmon opened #32874 "[Enhancement]: New filter to control how WooCommerce finds a matching product variation"
### Describe the solution you'd like

Hi all.

I'd like to have a way to control how WooCommerce finds a product variation on the function [find_matching_product_variation](https://github.com/woocommerce/woocommerce/blob/3e073e52eedf2e3a45f5a51b349eb72411e40fde/plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php#L1093).

By default, WooCommerce can match at the same time b

[2022-05-05 03:30] #32653 closed, assigned to psealock

[2022-05-05 08:06] rodelgc commented on #32863
I was able to reproduce this issue on WC 6.5 (currently in RC 2). Using the WP Log Viewer plugin, I got the log entry just by navigating to WooCommerce > Home.

<img width="1129" alt="Screen Shot 2022-05-05 at 3 34 30 PM" src="https://user-images.githubusercontent.com/4509348/166881136-8e5d8e54-8b3a-4413-871c-e75fffd1f160.png">

[2022-05-05 08:50] rynaldos opened #32876 "Guernsey has no states, but the state field in checkout is required."
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Guernsey (GG) has no states as far as I believe, but the checkout page requires a state to be added as seen below.

<img width="680" alt="Screenshot 2022-05-05 at 10 44 31" src="

[2022-05-05 09:21] nielslange opened #42634 "Investigate if we can switch `useShippingDataContext` to `useShippingData`"
When looking into woocommerce/woocommerce-blocks#5897, I noticed that we're using both `useShippingDataContext` to `useShippingData`. While these contexts don't contain the same data, they contain similar data. This issue aims to investigate if we replace `useShippingDataContext` with `useShippingData` and if so, what's needed to make such a switch.

[2022-05-05 10:27] peterfabian commented on #23802
This could be related to https://github.com/woocommerce/woocommerce/issues/27814

[2022-05-05 10:34] peterfabian commented on #24244
I think we should add the redirect in the same way as WP does, as described by @barryhughes .

[2022-05-05 10:36] peterfabian commented on #24274
Apologies for late response. Since we haven't seen more reports of this behavior, I'm inclined to close this one. Please let us know if you still experience these problems.

[2022-05-05 10:36] #24274 closed

[2022-05-05 11:23] peterfabian commented on #27554
I'm guessing this is not really super important since it's been a long time since reporting, so closing. If you think we still should fix this, please let us know. Thanks.

[2022-05-05 11:23] #27554 closed

[2022-05-05 11:30] peterfabian commented on #26539
Hey @ovidiul ! Thanks for chiming in. I think a filter could be a good interim solution to this problem. Feel free to submit a PR and assign @woocommerce/proton as reviewer. Thanks!

[2022-05-05 11:31] peterfabian commented on #26539
I'm marking this as low priority, since it's pretty niche configuration to have 30k taxonomies, but since it's related to performance, it would be good to have some sort of solution.

[2022-05-05 11:45] peterfabian commented on #27281
Since we assign the image to the correct product, I assume attaching it shouldn't be that much more difficult. PRs are welcome.

[2022-05-05 11:47] ghost opened #32878 "Encoding problem on products export"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

I found a bug when I export products to CSV file. Generated CSV file contains wrong characters (wrong encoding). This happens on server with **PHP 8.1 installed**.
Encodi

[2022-05-05 12:46] buckyj commented on #17365
@tagperfect thank you for your solution with updating visibility of products. It solved my issue.

[2022-05-05 13:03] roykho commented on #32878
Hi @martinkovac - thanks for reporting but can you please provide clear steps to reproduce as a user?

[2022-05-05 13:48] adrianduffell opened #32881 "Update history-related JS dependencies"
The React Admin client has two outdated history-related dependencies with breaking changes.

| Package | Installed | Latest |
| --- | --- | --- |
| history | 4.10.1 | 5.3.0 |
| @types/history (dev) | 4.7.11 | 5.0.0 |

## Breaking Changes

### history

* Removed support for browsers that do not support the HTML5 history API (no pushState)
* Removed relative pathname support in hash history and memo

[2022-05-05 13:50] stuartduff commented on #28998
To update this bug report I found a similar issue within 5178656-zen when using the default WooCommerce Product Import functionality.

## Issue

Cannot import .webp images when using the default Product Import functionality of WooCommerce.

## Expected behaviour

When using the WooCommerce product Import functionality you should be able to import .webp image files as they've been supported in Word

[2022-05-05 14:00] adrianduffell opened #32882 "Update react-router-dom dependency"
The `react-router-dom` dependency in the React Admin is outdated with breaking changes.

| Package | Installed | Latest |
| --- | --- | --- |
| react-router-dom  | 5.3.0 | 6.3.0 |

## Breaking Changes

* Various breaking changes.

https://reactrouter.com/docs/en/v6/upgrading/v5

[2022-05-05 14:04] adrianduffell opened #32883 "Update react-dates dependency"
The `react-dates` dependency in the React admin client is outdated with breaking changes.

| Package | Installed | Latest |
| --- | --- | --- |
| react-dates  | 17.2.0 | 21.8.0 |

## Breaking Changes

* Remove propTypes in production
* Call onDatesChange before onFocusChange in the DRP
* Omit tabindex prop from calendar navigation buttons when custom buttons are supplied
* Update react-with-styles

[2022-05-05 14:18] adrianduffell opened #32884 "Update memoize-one dependency"
The `memoize-one` dependency in the React admin client is outdated with breaking changes.

| Package | Installed | Latest |
| --- | --- | --- |
| memoize-one | 5.2.1  | 6.0.0 |

## Breaking Changes

* This release is a major, but there are no behaviour or API changes. The major is to reflect that some of the TypeScript types have been tightened which might cause some peoples TypeScript builds to b

[2022-05-05 14:21] leewillis77 opened #32885 "Build process incompatible with latest pnpm"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Building from the `release/6.5` branch (as per [instructions here](https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment#install-depen

[2022-05-05 14:25] adrianduffell commented on #32139
I've split this out into the following issues:

https://github.com/woocommerce/woocommerce/issues/32884
https://github.com/woocommerce/woocommerce/issues/32881
https://github.com/woocommerce/woocommerce/issues/32882
https://github.com/woocommerce/woocommerce/issues/32883
https://github.com/woocommerce/woocommerce/issues/32884

Rather than managing an epic, we can just handle the new issues directl

[2022-05-05 14:25] #32139 closed, assigned to nobody

[2022-05-05 16:08] sunyatasattva commented on #42649
Hey @CharlieEtienne ! I don't have any specific news. It's on our backlog, but our hands are full currently. I will try to look if I have some space in the next two weeks.

In any case, contributions are welcome: if you have a particular idea, please feel free to submit a PR and I'll take a look personally and make sure the process is very fast! We'd appreciate that!

[2022-05-05 18:42] helgatheviking commented on #32094
I can probably give this a go. Themes should be maybe adding their own wrapper on `woocommerce_before_add_to_cart_button` and `woocommerce_after_add_to_cart_button` but it sure seems like they never do.

How's something like this `single_add_to_cart_wrap` div?
[code]

[2022-05-05 19:36] ObliviousHarmony opened #32889 "Generate Changelog During Automatic Code Freeze"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

When the automatic code freeze happens, we should write the cha

[2022-05-05 20:37] thomasvbe commented on #26029
Also having the same issues with slow CRUD.

[2022-05-06 00:36] #31056 closed, assigned to nobody

[2022-05-06 00:36] #31096 closed, assigned to nobody

[2022-05-06 01:23] #32412 closed, assigned to chihsuan

[2022-05-06 03:15] chihsuan commented on #32863
I was able to reproduce this in RC 2 too. I'll create a PR to fix this.

[2022-05-06 04:59] adrianduffell commented on #32778
Just labelling this as blocked until we have the remaining items (logo and link to the wp.org).

[2022-05-06 06:28] #32761 closed, assigned to chihsuan

[2022-05-06 07:22] chihsuan opened #32892 "Implement the new spotlight component"
https://github.com/woocommerce/woocommerce/issues/32318#issuecomment-1104960269

Following up on the [new spotlight component initiative](https://ghidorahp2.wordpress.com/2022/04/13/shared-in-app-spotlight-component/), please implement the new spotlight that’s part of a larger design element used for help and guidance.

The design will be the same proposed by Dotcom with a few tweaks to make it co

[2022-05-06 07:25] chihsuan commented on #32318
I created another issue for spotlight component [#32892](https://github.com/woocommerce/woocommerce/issues/32892).

[2022-05-06 07:32] chihsuan commented on #32318
So besides having `automated shipping options`, we'll need to create a new flow and optimize the current flow. I think we could create sub-tasks for them before we start to work on this.

[2022-05-06 07:45] chihsuan commented on #32318
@verofasulo Thanks for providing a details task description! 😄

I have two questions:

![Screen Shot 2022-05-06 at 15 32 52](https://user-images.githubusercontent.com/4344253/167087697-e617f6cd-5731-4641-b1f6-ab25905b2558.png)

- If a user selects both downloads (digital) and physical products -> use physical products rules.
- if a user selects the other product types -> same as  "If we don't know

[2022-05-06 08:00] #32863 closed, assigned to chihsuan

[2022-05-06 08:49] verofasulo commented on #32318
Hey @chihsuan 😄

That's correct.

If the user selects the other product types (one or more than one) without picking physical products or digital products, we are in the same situation as above. The other product types can be applied both to digital and physical products, so we go with the rules of physical products.
In the specific case you mentioned, if JP is not installed we follow the use case

[2022-05-06 08:57] netropol opened #32894 "Disabling the checkout fields produces an error when placing the order and using a shipping address."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I want to be able to place orders without having to fill in the billing and shipping fields.
Therefore I deactivate the validation of all the billing fields and leave the shippin

[2022-05-06 08:58] logozuu opened #32895 "Variable Data from Product Attributes not loading"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Hi guys

I have just installed a fresh copy of WooCommerce in W

[2022-05-06 10:24] verofasulo commented on #32859
Hi @adrianduffell 😄

The following are 12 free images we can use. [Pexels](https://www.pexels.com/) is the source. I tried to find something on Openverse but there wasn't anything suitable for our purpose. Let me know if you prefer a .zip file and I'll email it to you (I just can't add it here on GH).

![pexels-cottonbro-7760006](https://user-images.githubusercontent.com/98944206/167113823-3f0757f

[2022-05-06 10:26] verofasulo commented on #32859
And, of course, if you think it's necessary to upload more than 12 sample images, please just let me know and I'll add some more 🙂

[2022-05-06 11:19] adrianduffell commented on #32859
@verofasulo Thank you, these photos are amazing! I was planning to ask you whether you thought there were any suitable ones on openverse.

That's probably enough fashion photos for now. If you're keen, you could possibly work ahead and find photos for the other industries?

[2022-05-06 12:30] verofasulo commented on #32859
@vivialice did an amazing work putting together a collection of fashion images 🙌 I just picked a few ones 😄

@adrianduffell  Yes, for sure! I attach a graph that shows the industries where most of our users operate. I think we can start collecting images from `food and drinks` and `electronics and computers`. What do you think?

[2022-05-06 14:12] ApexDigitalRO commented on #20926
@peterfabian

Hello. Sorry for reopening this topic. I am having a very similar issue; I am using wc_get_order within an external PHP script, but the var dump always returns null. I believe this is because of the same issue.

Here is the code:

[code]

[2022-05-06 14:21] adrianduffell commented on #32859
That sounds great, thanks! Yes I think it makes sense to prioritize those industries based on the chart.

[2022-05-06 14:46] #32895 closed, assigned to nobody

[2022-05-06 14:57] gglobalstep opened #32896 "[GlobalStep] "Setup Check List" appears twice after clicking the "Finish Setup" menu on "Analytics > Overview" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Setup Check List" appears twice after clicking the "Finish Setup" menu on "Analytics > Overview" page.

### Expected behavior

"Setup Check List" should appear once after clicki

[2022-05-06 16:06] rynaldos commented on #32876
I'll grab this one and submit a PR over the weekend :) Thanks, @peterfabian

[2022-05-06 16:58] #32065 closed, assigned to nobody

[2022-05-06 19:44] jonahcoyote commented on #27761
Hi all, casting my vote for getting this fixed. This bug was noticed months ago by one of my clients and I can confirm that even with all other plugins disabled and running a default theme, the issue persists, indicating a bug in WooCommerce.

It's the exact issue as described - immediately upon product page load, a products thumbnails are not clickable. If I wait about 5 seconds then they are cli

[2022-05-06 20:05] MC-Rider commented on #27419
I just updated a website to the new Flatsome v3.15.5 (from the previous version of Flatsome where everything was working perfectly) and encountered this exact problem - all product attributes disappeared from the sidebar filters and where the attribute count was now read as zero the filters did not display. Gone. Happy to say the "uncheck Enable Table Usage" fix reported above worked in a second.

[2022-05-07 05:19] leosin commented on #19903
@admench hi
It's version 6.4, have you found a better solution, I'm having the same problem with RestAPI...

[2022-05-07 12:19] j19sch opened #32903 "Setup Wizard does not clearly distinguish configuration questions from analytics questions"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Going through the Setup Wizard you are asked for various kinds of input. As a first-time user it's very unclear which inputs will affect the configuration of my WooCommerce site

[2022-05-07 12:42] j19sch opened #32904 "Setup Wizard's usage tracking-popup depends on usage tracking being disabled instead of on having made a choice"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Setup Wizard's Store Details-page includes a pop-up related to usage tracking, allowing the user to either opt-in or opt-out. This pop-up is shown if the user clicks either "

[2022-05-07 13:36] j19sch opened #32905 "Setup Wizard's "Save changes" does not work on "Free features""
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Setup Wizard has a "Save changes?"-feature when you navigate away from a page in the wizard through other means than clicking "Continue". It lets you either save or discard t

[2022-05-07 16:22] DavidAnderson684 commented on #32903
In my view, the setup wizard in general is very bloated. Last time I went through it I was surprised that what I had thought before pressing the button was meant to be a helpful wizard to set up the store was actually a very thinly disguised dumper-truck of marketing material and upsells, with a bit of store setup thrown in alongside it.
In the interests of good user experience, where the user has

[2022-05-07 20:16] FunkyCss opened #32906 "Enable AJAX on single products template"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Request Description:**

Why we dont enable AJAX on single product pages ?

This loo

[2022-05-07 20:18] FunkyCss opened #32907 "[Enhancement]:"
### Describe the solution you'd like

There would be cool and a good user experience if we enable AJAX add to cart on the single product templates.

Some wordpress themes provide this feature themselves as Kadence theme and others.

Why Woocommerce does not ?

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-05-07 20:18] #32906 closed, assigned to nobody

[2022-05-08 18:49] JohnSmithOfThor opened #32908 "YITH Plugin: Affiliates Dashboard - Settings Page Displaying Issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

![image](https://user-images.githubusercontent.com/105171354/167310895-1c6e416a-dde0-4adb-9e97-86ccc8d0e866.png)

### Expected behavior

Need to see the settings page

### Actual

[2022-05-09 00:54] james-allan opened #32909 "Add No thanks button to the "Subscriptions" admin screen"
ℹ️ This issue relates to the "Experiment with subscriptions empty state in WooCommerce core" project, read more here → pdjTHR-Vi-p2

Pull requests related to this project will be targeted to a feature branch (`add/experiment-subscriptions-admin-menu`). A final pull request will be opened against `trunk` when all issues are completed and the feature branch is in a production-ready state.

Part of h

[2022-05-09 02:29] becdetat opened #32910 "New Remote Inbox Notifications rule for store TPV"
### Describe the solution you'd like

We've determined that it would be possible (and would fit the requirements) to create a new notifications rule that compares against the TPV for a specified period (suggested: over the last week, month, quarter, 6 months, year). So one could craft a rule that passes for stores with a rolling monthly TPV of >= $20000.

TPV is Total Payments Volume - if you goog

[2022-05-09 02:29] ilyasfoo opened #32911 "Remove ExPlat API call for completed headercard experiments"
### Describe the solution you'd like

ExPlat API is still being called for completed experiments: `woocommerce_tasklist_progression_headercard_2col_2022_05` and `woocommerce_tasklist_progression_headercard_2022_05`. We already have an issue for the full cleanup, but for WC 6.6, we should just remove the API call in both JS and PHP and hardcode control to prevent 2 unnecessary API calls in homescre

[2022-05-09 03:22] uhlhosting commented on #32387
@swatipawarGS check this:

https://user-images.githubusercontent.com/6324047/167335632-686412b4-9f38-4fdb-a03e-8a94c194a6ab.mp4

[2022-05-09 03:37] ilyasfoo opened #32912 "Misplaced Home link in new navigation"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

<img src="https://user-images.githubusercontent.com/3747241/167336210-c05e12ea-606d-4eea-95fa-e0fa2a29ce60.png" width="200">

Discovered by @becdetat and successfully reproduced

[2022-05-09 04:12] chihsuan commented on #32811
@pmcpinto Gotcha. Thanks for the clarification!

Regarding the task completion time, I noticed that we use time frames ( '0-2s','3-4s','5-9s'...) for onboarding flow. Should we also use the same format here for `task_completion_time`, or time in milliseconds? cc @rjchow

![screenshot](https://user-images.githubusercontent.com/2240960/146444895-c43568e8-6805-49cc-8b10-ac28a98b8f0f.png)

New events:

[2022-05-09 04:51] ozgurkazancci commented on #32839
I got the very same problem (PHP warning message) under the exact conditions.

You're probably on an old version of PHP (7.x). Try to reproduce the bug with PHP 8.x.

[2022-05-09 04:52] ozgurkazancci commented on #32839
I got the very same problem (PHP warning message) under the exact conditions.

You're probably on an old version of PHP (7.x). Try to reproduce the bug with PHP 8.x.

[2022-05-09 05:52] Mutahhar opened #32915 "Error: Call to undefined function wc_get_container() while deleting the woocommerce plugin when "WC_REMOVE_ALL_DATA" is set to true in wp-config.php"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Fully remove all WooCommerce data is not working while deleting the plugin when `"WC_REMOVE_ALL_DATA"` is set to true in wp-config.php

### Expected behavior

This should have fu

[2022-05-09 06:23] james-allan commented on #32909
Closed via #32913

[2022-05-09 06:23] #32909 closed, assigned to james-allan

[2022-05-09 06:40] vedanshujain commented on #32844
@lukecav not yet, currently there is only UI. Although it would be a nice to have before publishing a call for testing especially for large stores.

[2022-05-09 06:48] vedanshujain opened #32916 "[COT] Implement instrumentation data measuring in COT migrations."
During the testing phase, we would like to measure instrumentation data as defined in #32845. This issue scopes generating a small report at the end of the migration process with this data.

[2022-05-09 06:51] vedanshujain opened #32917 "[COT] Implement CLI command to run migrations"
We would like to implement a CLI command to trigger and track the process of migrations to the custom order table. This issue scopes implementing this command, which should display at all times:
- [ ] Total number of order processes
- [ ] Time elapsed
- [ ] (Optionally) Number of orders remaining/percentage done.

[2022-05-09 06:53] vedanshujain commented on #32844
Added  https://github.com/woocommerce/woocommerce/issues/32917 to track CLI implementation.

[2022-05-09 07:02] vedanshujain commented on #32845
I am closing this in favor of implementing directly in #32916. To start we should measure:

1. Time taken per order by measuring - avg( time taken per batch/number of orders in batch).
2. Total number of migrated orders.

[2022-05-09 07:02] #32845 closed, assigned to nobody

[2022-05-09 07:28] adrianduffell opened #32918 "Clean up Product Task layout experiments"
This is a post-launch task for https://github.com/woocommerce/woocommerce/issues/32635.

Once the experiments have completed:

* Remove the experiment logic.
* Deploy the winning variation if required.

[2022-05-09 07:45] vedanshujain opened #32920 "[COT] Propose ways for plugins and extensions to declare compatibility with custom order tables."
When we rollout, all plugins and extensions will not be compatible with custom order tables, and we should display this to the merchant if they enable COT for a painless experience.

This could be a filter that extensions can use to declare compatibility, or this could be a plugin header field. Note that we may eventually roll our custom tables for products, customers and other entities, so ideall

[2022-05-09 08:13] verofasulo opened #32921 "Task list: Set up marketing tools - Optimizing flows"
**Description**

About 44% of users who visit the marketing task install one of the extensions or click “Manage” to proceed and finish the setup. Establishing an online marketing strategy/presence is a key element of almost any successful business. So why are we not seeing 60-70% of users showing the intent to install or complete the setup of the extensions we suggest?

One hypothesis is that we c

[2022-05-09 08:42] vedanshujain opened #32922 "[COT] Explore adding more robustness to the action-based migration process that we can use 99% of time."
Over time we have used multiple algorithms to perform migrations with varying levels of robustness. We should settle on one algorithm design that we can use in most of the cases and use it for COT as well.

[2022-05-09 08:48] verofasulo opened #32924 "Task list: Set up marketing tools"
**Description**

About 44% of users who visit the marketing task install one of the extensions or click “Manage” to proceed and finish the setup. Establishing an online marketing strategy/presence is a key element of almost any successful business. So why are we not seeing 60-70% of users showing the intent to install or complete the setup of the extensions we suggest?

One hypothesis is that we c

[2022-05-09 08:55] #32016 closed, assigned to jorgeatorres

[2022-05-09 10:16] pmcpinto commented on #32811
It's ok to use the same time frames we're using for the task completion time. Thanks

[2022-05-09 10:48] adrianduffell commented on #32238
Closing this out - this was an automated issue for the feature plugin repo.

[2022-05-09 10:48] #32238 closed, assigned to nobody

[2022-05-09 11:47] ozgurkazancci commented on #32839
And forgot to mention that;
To reproduce the bug, besides having the mentioned debug lines in wp-config.php file, "display_errors" should also be set on within php.ini, the configuration file of PHP.

[2022-05-09 13:31] swatipawarGS commented on #32894
Hi @netropol,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/167358473-8c822d17-2a06-44b4-9b74-aeec9fc7216b.mp4

Please provide us more detailed and any addi

[2022-05-09 15:02] netropol commented on #32894
Hi @swatipawarGS

As far as I can see in the screencast, previous steps are missing.

The problem occurs when several checkout fields are disabled. I have not tried all combinations, I have only tried to disable all billing fields and the shipping fields first and last name. To disable them I have used the method indicated in [WooCommerce documentation](https://woocommerce.com/document/tutorial-cu

[2022-05-09 15:42] vedanshujain commented on #32920
We should also look into ways for plugins to find out whether a feature is implemented or not, and then plugins should have ways to declare support for particular feature.

[2022-05-09 19:12] barryhughes opened #32929 "[Enhancement]: Support dark theme-styling in emails"
### Describe the solution you'd like

A number of email clients support "dark mode" for their UI and can also render a dark mode version of emails, if the necessary styles are supplied using the `@media (prefers-color-scheme: dark)` media query. It would be great to support this.

### Describe alternatives you've considered

The alternative would be to not provide any sort of built-in support for

[2022-05-09 19:24] #32896 closed, assigned to louwie17

[2022-05-09 22:55] moon0326 commented on #32587
Nice addition @verofasulo  👍

I have questions.

1. Do we always send users to the `Settings -> General` tab or do we have a condition? I'm guessing that we send users to the `Settings -> General` when the user skipped the `Store details` after they were redirected to it during the installation process, but I wasn't sure.
2. How do users access `Store details` tasks again?

[2022-05-09 23:41] brunoheel opened #32930 "Fatal error: Cannot use Automattic\WooCommerce\Admin\Features\OnboardingTasks\Tasks\WooCommercePayments as WooCommercePayments because the name is already in use"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

**Clean wordpress (5.9.3) install with no plugins**

Fatal erro

[2022-05-10 00:01] brunoheel opened #32931 "Fatal error: Cannot use Automattic\WooCommerce\Admin\Features\OnboardingTasks\Tasks\WooCommercePayments as WooCommercePayments because the name is already in use"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Woocomerce cannot be installed and activated on a clean wordpress (5.9.3) install with no plugins

When you extract the plugin files and try to activate the plugin, the error hap

[2022-05-10 00:14] #32811 closed, assigned to chihsuan

[2022-05-10 01:07] shaunkuschel commented on #32220
Another report in 5202067-zen

[2022-05-10 02:07] #32451 closed, assigned to chihsuan

[2022-05-10 03:22] adrianduffell commented on #32859
Potentially the photos would be hosted on the site `https://woocommercecore.mystagingwebsite.com`, like in the existing sample files. I'll check with others if this site has the capacity to handle additional traffic.

[2022-05-10 03:39] chihsuan commented on #32856
I've published it and tested it well.

<img width="910" alt="Screen Shot 2022-05-10 at 11 02 58" src="https://user-images.githubusercontent.com/4344253/167537837-371d2aef-6e96-4aa6-b08a-976bb2eddfd2.png">

[code]

[2022-05-10 03:39] #32856 closed, assigned to chihsuan

[2022-05-10 04:20] rodelgc opened #32934 "[WC 6.5 RC2] "Function is_admin_page is deprecated since version 6.3!" is shown after attempting to activate WC Admin plugin while WC 6.5 is installed and active."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a user tries to activate the WC Admin feature plugin while WC 6.5 (currently in RC2) is installed and activated, the user will get this deprecation message:
<img width="1524

[2022-05-10 06:08] rjchow commented on #32633
Not closed yet, still have more tracks to add

[2022-05-10 07:52] verofasulo commented on #32587
Hey @moon0326, thanks for starting working on it 🙌

Yes, we always send users to Settings > General - both if the task is not completed (users skipped the profiler) and if it's marked as done (and users click on that again).

By clicking on the "Store details" task 🙂

[2022-05-10 12:00] pehaa commented on #32220
Another report 5203088-zd-woothemes - in this case, the merchant is trying to download orders and not revenue.

There are no email logs in WP Mail Logging. The workaround with the `wp-admin/?action=woocommerce_admin_download_report_csv&filename=wc-orders-report-export-xxxx` works.

The `wc-revenue-report-export` has to be replaced with `wc-orders-report-export` in their case.

[2022-05-10 17:17] amichaidani opened #32945 "[Enhancement]: Better hooks for modifying the items table in the admin order edit screen."
### Describe the solution you'd like

Hello,

When trying to extent the order edit items table, we have only 1 hook for adding markup, before all pre-built columns.
This is frustrating, as I'm trying to add a column that should be presented on the far right (on LTR view).

Adding a new hook, such as `'woocommerce_admin_after_order_item_headers'`, would be great!
I will open a PR for that.

### Des

[2022-05-10 17:39] bradhogan opened #32947 "Missing semantic tags on shop and product pages"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The header and footer template parts are not using `<header>` or `<footer>` on shop and product pages.  This is important for theme developers to be able to control the design on

[2022-05-10 18:12] #32911 closed, assigned to moon0326

[2022-05-10 19:05] #32117 closed, assigned to nobody

[2022-05-10 19:08] ObliviousHarmony commented on #32885
Hello @leewillis77,

We are aware of this issue and will be resolving it soon. We're currently changing a few things about our infrastructure tooling and then we will address this issue.

[2022-05-10 19:12] #32907 closed, assigned to nobody

[2022-05-10 19:20] ObliviousHarmony commented on #32908
Hi @JohnSmithOfThor,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin YITH WooCommerce Affiliates.

Please contact the author of the plugin directly for further help.

[2022-05-10 19:20] #32908 closed, assigned to nobody

[2022-05-10 19:22] #32930 closed, assigned to nobody

[2022-05-10 19:22] ObliviousHarmony commented on #32930
I'm closing this in favor of [your other report](https://github.com/woocommerce/woocommerce/issues/32931) since it has testing instructions.

[2022-05-10 19:41] glcalabr opened #32948 "[Enhancement]: Email validation/verification"
### Describe the solution you'd like

During checkout, when creating an account a customer can put in an incorrect email address, or put in an email that ends in .cm when its supposed to be .com, and the order will go through.

Have a second field that forces the customer to put in their email address again and verifies that both emails are the same.

### Describe alternatives you've considered

R

[2022-05-10 20:09] ApexDigitalRO opened #32951 "[Enhancement]: wc_get_order before register_post_types"
### Describe the solution you'd like

I am using wc_get_order within an external PHP script, but the var dump always returns null. I believe this is because wc_get_order cannot be called before register_post_types.

Can we have a way of calling different functions before register_post_types?

Here is the code for debugging purposes:

[code]

### Describe alternatives you've considered

_No respons

[2022-05-10 23:28] moon0326 commented on #32587
I think I might be missing something 🤔

How do users access Industry, Product Types, and Business Details again?

[2022-05-11 00:03] moon0326 commented on #32410
Hi @adrianduffell ✋

Are you still working on it? If not, I can take it as a porter.

[2022-05-11 01:05] adrianduffell commented on #32410
Hi @moon0326, thanks that would be great if you could take this one!

So far I've made a table of the versions.

| Core Version | Admin Package |
|---|---|
| 4.0.0 | 1.0.0 |
| 4.1.0 | 1.1.1 |
| 4.2.0 | 1.2.3 |
| 4.3.0 | 1.3.0 |
| 4.4.0 | 1.4.0 |
| 4.5.0 | 1.5.0 |
| 4.6.0 | 1.6.1 |
| 4.7.0 | 1.6.3 |
| 4.8.0 | 1.7.3 |
| 4.9.0 | 1.8.3 |
| 5.0.0 | 1.9.0 |
| 5.1.0 | 2.0.2 |
| 5.2.0 | 2.1.5 |
| 5.3.0 |

[2022-05-11 01:23] techartdev commented on #32038
Hi @vedanshujain and thanks about the update. Good catch! Actually I'm using 3rd party C# .NET wrapper but as it's kinda out of support right now I cloned the repo and I'm able to modify it. I'll get rid of the display_ props for now.

PS: I confirm this works. Thanks a lot!

[2022-05-11 01:55] #32884 closed, assigned to chihsuan

[2022-05-11 01:57] #32681 closed, assigned to nobody

[2022-05-11 05:03] #32635 closed, assigned to ilyasfoo

[2022-05-11 05:28] rodelgc commented on #32934
Internal discussion for context: p1652156460378719/1652154307.076929-slack-C01DT6U03HC

[2022-05-11 05:31] ilyasfoo opened #32956 "Notice on empty products page"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A notice appears when the products page is empty. Notice is coming from `wp-content/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Products.php on line 162`

<img w

[2022-05-11 08:25] limonana-jesse commented on #32934
Hello I have the same issue but the message doesn't disappear after reloading

[status.txt](https://github.com/woocommerce/woocommerce/files/8668040/status.txt)

thanks
Jesse

[2022-05-11 10:07] swatipawarGS commented on #32905
Hi @j19sch,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.0 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/167783900-191e0ed8-9aa0-4c37-b50a-f462c9999e5a.mp4

Priority of this issue will be assigned shortly

[2022-05-11 10:09] swatipawarGS commented on #32931
Hi @brunoheel,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.5.0 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/167797195-7bc84b8a-4dbe-4c62-a8e2-15105ebd640c.mp4

Please provide us more detailed and any add

[2022-05-11 10:11] HOSTED-POWER commented on #7628
Still suffering from this today, isn't there any better way of supporting this?

[2022-05-11 10:18] ilyasfoo opened #32959 "Product task text shown before accordion is expanded on stack layout"
### Describe the bug

"Cant find product type" text should be hidden when the accordion is not expanded

Actual:
<img width="738" alt="image" src="https://user-images.githubusercontent.com/3747241/167826977-fa8e52bd-8b50-4fc2-a51d-a327f57bfbfa.png">

Expected:
<img width="699" alt="image" src="https://user-images.githubusercontent.com/3747241/167826698-7a818d62-57df-4a78-8bee-bc9314af66a4.png">

#

[2022-05-11 11:02] vortexfoto commented on #27661
hello guys, could anyone please tell me how to show generated QR code in html code or in like elementor.
I am trying to include this QR code to PDF proforma invoice....

[2022-05-11 11:40] SureSupport opened #32961 "WooCommerce incorrectly interprets the PHP memory limit on the server when the limit is set to -1"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The WooCommerce >> Status page raises a warning about a low memory limit when the PHP Memory Limit is set to -1. According to the PHP manual, the -1 setting indicates that there

[2022-05-11 11:52] brunoheel commented on #32931
Well..

I found the problem.
I was installing wordpress 5.9.3 and woocomerce 6.4.1 in a server with php 7.0.33
Sorry by not saying it at first.

Upgraded to php 7.4.26 and it goes clean as expected.

Maybe you want to check or advise it somewhere.

Best regards.

[2022-05-11 13:19] rodelgc opened #32962 "Getting "Fatal error: Uncaught Error: Undefined class constant 'PROFILE_DATA_OPTION'" when installing or upgrading to WooCommerce 6.5 with an active WooCommerce Admin plugin version 3.2.1 or lower"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you upgrade to WooCommerce 6.5 while having an activated WooCommerce Admin plugin with version 3.2.1 or lower, you'll get the error `Fatal error: Uncaught Error: Undefined c

[2022-05-11 13:36] lovefist43 commented on #32511
I have found a temporary fix. While adding attributes to product data, run a video on youtube to memorize the locations of boxes and buttons. Then use inspect element to give left margins to buttons so they can be visible in the center and then click the buttons in the inspect element mode. This way I was able to add attributes and variations. I hope the plugin team comes up with the update soon.

[2022-05-11 14:28] lamalamaMark commented on #23802
Hi,
We also experience this issue; even a more weird situation is happening when a checkout is started and cancelled during payment. Originally the discount is calculated correct (based on the price inclusive tax). When coming back in the checkout the discount is calculated differently; and every time following going to payment and cancel the payment, the discount amount changes

Discount 10%;
Ite

[2022-05-11 14:50] lamalamaMark commented on #27814
Hi @lsinger, can you tell me if there has been worked on this issue since december '20? We are experiencing this issue in a production environment at the moment and are researching for information around this (more common) issue.

[2022-05-11 15:14] verofasulo commented on #32587
Is it something users usually do? My assumption is that no one would go back to fill this data as they don't have any impact on setting up their store (apart from store location). They are mostly data that we use to profile them, but once skipped the profiler, there's no reason for our users to spend time selecting industry or type of products. But if we have any data that demonstrates the opposit

[2022-05-11 15:32] KoolPal opened #32965 "Pin Code in India"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi All,

PIN is incorrect for use in India. PIN is associated with ATM PIN / OTP PIN, etc and with recent spate of FRAUDS it will scare customers AWAY!

Please walk into ANY Post

[2022-05-11 15:41] beaulebens commented on #32962
Note this is confirmed and considered serious enough for us to pause roll-out of WC 6.5. We're working on a fix and will release 6.5.1 to address it shortly.

[2022-05-11 15:48] JoshuaGoode commented on #32962
Re: p1652281880343069-slack-C7U3Y3VMY

p1652294916621039-slack-CPJE78JQ5

[2022-05-11 18:00] joshuatf opened #32967 "Deprecation tags still refer to WooCommerce Admin feature plugin versions"
**Is your feature request related to a problem? Please describe.**
Since WooCommerce Admin has been merged into WooCommerce core, deprecation tags and notices refer to versions that don't match the plugin they are in.

For example, `WC_Admin_Note` says deprecated since `1.7.0` referring to the previous WCA version, not the core version number.

**Describe the solution you'd like**
Update deprecati

[2022-05-11 18:23] amElnagdy commented on #32962
5206168-zen

[2022-05-11 19:49] #32883 closed, assigned to moon0326

[2022-05-11 20:05] moon0326 commented on #32587
That sounds reasonable 👍

[2022-05-11 20:57] #32962 closed, assigned to nobody

[2022-05-11 21:43] moon0326 commented on #32532
Dev note: endpoints 1 and 3 return `is_visible` field in the response. The field is a set of Inbox Notification Rule. I'll exclude the field from the JSON schema as it's unrelated to the endpoint.

[2022-05-11 22:00] moon0326 commented on #32532
I'm not sure if we want to document https://woocommerce.com/wp-json/wccom/inbox-notifications/1.0/notifications.json endpoint with JSON Schema 🤔 Remote Inbox Notification has a good enough [README](https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce/src/Admin/RemoteInboxNotifications) IMO

[2022-05-11 22:22] moon0326 commented on #32532
We also have https://woocommerce.com/wp-json/wccom/payment-gateway-suggestions/1.0/payment-method/suggestions.json and https://woocommerce.com/wp-json/wccom/payment-gateway-suggestions/1.0/payment-method/promotions.json endpoint

[2022-05-12 00:43] vimarshacooray commented on #7058
seems not.

[2022-05-12 00:53] jorgeatorres opened #32972 "[COT] Add column and migration for customer note (currently in post_excerpt)"
Currently, the customer provided note on the order (`customer_note`) is stored in the posts table inside the `post_excerpt` column:

https://github.com/woocommerce/woocommerce/blob/82e6e3190346b6bab17c955c8d9c77575946e4e6/plugins/woocommerce/includes/class-wc-order.php#L469-L471

This field is available at checkout time and displayed on the admin too:

<img width="886" alt="Screen Shot 2022-05-11

[2022-05-12 01:07] chihsuan commented on #32967
Hey @joshuatf Thanks for creating this issue! 🙌

I think we have [a same issue](https://github.com/woocommerce/woocommerce/issues/32410) in Ghidorah backlog and I believe we'll work on it soon.

I'm closing this in favor of it.

[2022-05-12 01:07] #32967 closed, assigned to nobody

[2022-05-12 01:40] adrianduffell commented on #32859
@verofasulo Do you know which user(s) provided these photos on Pexels? It would be nice to give them credit in the product description if we can. Here's what it says on Pexels:

https://www.pexels.com/license/

[2022-05-12 07:22] AA0000-33 opened #32976 "Final price is the sale price even though the sale was over"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The final checkout price shows the sale price instead of the original price when used in variations, even though the sale was over

### Expected behavior

Gives the actual price

[2022-05-12 07:26] #32959 closed, assigned to chihsuan

[2022-05-12 08:43] alopezari commented on #30636
Closing it as https://github.com/woocommerce/woocommerce/pull/32606 was already merged.

[2022-05-12 08:43] #30636 closed, assigned to alopezari

[2022-05-12 09:19] botmiszcz opened #32978 "CRITICAL Uncaught TypeError: Argument 1 passed to Pelago\Emogrifier\CssInliner::inlineCss()"
Hi, when i want to checkout , on front office its comes:

`Failed to load resource: the server responded with a status of 500 ()   /?wc-ajax=checkout:1 `

I checked status, and i see problem is in class-wc-mail, this is sttatus page:

[code]

Problem started after update woocommerce, what is going on, you have some ideas?

[2022-05-12 09:51] i-belovari-autoactiva opened #32979 "Wordpress Dashboard not loading after updating Woocommerce"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The /wp-admin is not loading after updating Woocommerce to the newest version. Frontend works just fine until an attempt to sign in to wordpress dashbord. My team has found this

[2022-05-12 10:15] pmcpinto commented on #32181
I'm closing this issue, as we have a new one with all the information and next steps: #32921

[2022-05-12 10:15] #32181 closed, assigned to nobody

[2022-05-12 11:06] peterfabian commented on #32300
Hi @Dekadinious

I can't seem to reproduce this with WC only in my testing environment (unless the character got somehow changed in the process of copy pasting):

![Screenshot 2022-05-12 at 13 03 59](https://user-images.githubusercontent.com/2207451/168056913-43f5b5fb-0869-4c67-b36c-3131f97d0ab1.png)
![Screenshot 2022-05-12 at 13 01 11](https://user-images.githubusercontent.com/2207451/168056922-6

[2022-05-12 12:03] Dekadinious commented on #32300
I am not an expert here, so I don't know what to say actually. I can't reproduce it in my local environment, but it happens with our host. Our host states that "WooCommerce URL-encodes REDIRECT_URL" and that causes the problem. They have checked that there is no issue with the server itself.

[2022-05-12 14:54] pondermatic opened #32983 "Admin pages trigger 'Undefined array key' PHP warnings"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Starting with WooCommerce 6.4.0, most of the WooCommerce admin pages trigger a PHP warning when `$group === 'general'` at  `wp-content/plugins/woocommerce/packages/woocommerce-ad

[2022-05-12 15:55] 8p-design commented on #24184
The WHOLE problem here reside in ONE error in the tax system implementation in WC: There is NO tax regulation in the world that mentions taxes should be calculated at the item level.

Indeed: The tax value should NOT be at line-item level, this does not exist! As it would allow for unlawful manipulation of the transaction to save tax... because if I create a 10K$ invoice made up of one million lin

[2022-05-12 16:21] peterfabian commented on #31387
Hi @kkmuffme
Thanks for your honest feedback, and apologies for the late response.

WC Admin currently provides an improved onboarding experience (which we can see in numbers---how many people actually set up their store and start selling) and more powerful reports.
In the near future, we're planning to build a new editing experience for products, orders, settings, etc. We see it as a stepping sto

[2022-05-12 16:21] #31387 closed, assigned to nobody

[2022-05-12 17:10] raf222 commented on #24184
Don't agree. If its calculated at item level than there will be no issues. The rounding here is the problem and if its done on unit level than we don't have to do it later. And there are some really complex cases where you could return 1 item from a couple. Had it once and it wasn't even working because some validator function had different value(rounding issue again).
Saw some big shops handling

[2022-05-12 17:16] peterfabian commented on #29611
This has been fully rolled out in WC 6.3: https://href.li/?https://developer.woocommerce.com/2022/02/02/new-product-filtering-by-attributes-rolling-out-in-woocommerce-6-3/

Closing the epic.

[2022-05-12 17:16] #29611 closed

[2022-05-12 17:21] braddalton opened #32985 "Notice: Trying to access array offset on value of type bool in"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On the single product pages without product images, i get this :

Notice: Trying to access array offset on value of type bool in /www/daltonwineltd_666/public/wp-content/plugins/

[2022-05-12 17:57] peterfabian opened #32986 "[COT] Research"

[2022-05-12 17:58] peterfabian opened #32987 "[COT] Implementation"

[2022-05-12 17:58] peterfabian opened #32988 "[COT] Migration"

[2022-05-12 17:58] peterfabian opened #32989 "[COT] Docs/Comms"

[2022-05-12 17:58] peterfabian opened #32990 "[COT] Rollout"

[2022-05-12 18:47] #32826 closed, assigned to nobody

[2022-05-12 18:55] ObliviousHarmony commented on #32673
Hi @CamperImperium,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin JetThemeCore. As disabling it solves the problem, there isn't anything for us to do on our end.

Please contact the author of the plugin directly for further help.

[2022-05-12 18:55] #32673 closed, assigned to nobody

[2022-05-12 19:02] peterfabian commented on #32379
Perhaps outside of scope unless we decide differently.

[2022-05-12 19:05] peterfabian commented on #32916
Since this is implemented directly in https://github.com/woocommerce/woocommerce/issues/32916, I think we can close this one, too.

[2022-05-12 19:05] #32916 closed, assigned to nobody

[2022-05-12 19:07] peterfabian commented on #32380
Leaving out of epics, since we might not migrate these during this project.

[2022-05-12 19:09] peterfabian commented on #32472
Leaving outside of epics since we might skip migrating order notes.

[2022-05-12 19:16] 8p-design commented on #24184
1 x 0.01
1 x 0.01
1 x 0.01
1 x 0.01
1 x 0.01
1 x 0.01

[2022-05-12 19:20] peterfabian opened #32991 "[COT] Code API: Admin UX"
Publish an RFC on how to build the new UX in WP Admin.

[2022-05-12 19:20] #32991 closed, assigned to nobody

[2022-05-12 19:22] peterfabian commented on #32991
Done in p7bje6-3RB-p2

[2022-05-12 19:25] peterfabian opened #32992 "[COT] Define backward compatibility policy"
Create an RFC to define principles for backward compatibility.

[2022-05-12 19:26] #32992 closed, assigned to nobody

[2022-05-12 19:26] peterfabian commented on #32992
Defined in p7bje6-3Km-p2

[2022-05-12 19:28] peterfabian opened #32993 "[COT] Publish community announcement with db design"
What the title says

[2022-05-12 19:28] #32993 closed, assigned to vedanshujain

[2022-05-12 19:28] peterfabian commented on #32993
Published: https://developer.woocommerce.com/2022/01/17/the-plan-for-the-woocommerce-custom-order-table/

[2022-05-12 19:29] #32160 closed, assigned to joelclimbsthings

[2022-05-12 19:30] peterfabian opened #32994 "[COT] Data migration RFC"
Research and publish an RFC for data migration

[2022-05-12 19:31] #32994 closed, assigned to vedanshujain

[2022-05-12 19:31] peterfabian commented on #32994
Published in p7bje6-3LN-p2

[2022-05-12 19:33] peterfabian opened #32995 "[COT] Formulate initial testing plan"
Publish initial testing plan for COT

[2022-05-12 19:33] peterfabian commented on #32995
Published in p7bje6-3Nh-p2

[2022-05-12 19:33] #32995 closed, assigned to nobody

[2022-05-12 19:36] peterfabian opened #32996 "[COT] Database API for COT: Doctrine vs WordPress"
Publish an RFC on whether to use an ORM for database API, or not.

[2022-05-12 19:36] #32996 closed, assigned to vedanshujain

[2022-05-12 19:37] peterfabian commented on #32996
Published in p7bje6-3Se-p2

[2022-05-12 19:39] peterfabian opened #32997 "[COT] Research adding of transactions into COT"

[2022-05-12 19:44] peterfabian opened #32998 "[COT] Datastore APIs: Implement reliable stock updates"
In the context of COT, when orders get processed, ensure the stock levels are updated accordingly, products are blocked during checkout/payment, etc.

[2022-05-12 19:46] peterfabian opened #32999 "[COT] Datastore APIs: Coupon interactions"
Implement coupon interactions (add/remove/recalculate) from order's perspective.

[2022-05-12 19:49] peterfabian opened #33000 "[COT] Datastore APIs: getters/setters"
Implement getters and setters for COT datastore.

[2022-05-12 19:52] peterfabian opened #33001 "[COT] Datastore APIs: implement caching of individual object IDs."
Based on the solution proposed in #32841, implement caching for the COT datastore. This issue scope covers:
1. Invalidating caches on update/delete.
2. Setting caches on read/create.

[2022-05-12 19:54] peterfabian opened #33002 "[COT] Extension compatibility: Add admin notices"
Make sure the compatibility between extensions and COT is communicated to the user via notices or inbox notifications, etc.

[2022-05-12 19:56] peterfabian opened #33003 "[COT] Extension compatibility: enabling/disabling COT"
Implement enabling and disabling of COT based on compatibility with installed extensions.

[2022-05-12 19:59] peterfabian opened #33004 "[COT] Add backfill for refunds from custom order tables back to post"

[2022-05-12 20:00] peterfabian opened #33005 "[COT] Public call for testing: migration"

[2022-05-12 20:00] peterfabian opened #33006 "[COT] Internal call for testing: migration"

[2022-05-12 20:01] peterfabian opened #33007 "[COT] Public call for testing: Implementation"

[2022-05-12 20:01] peterfabian opened #33008 "[COT] Internal call for testing: Implementation"

[2022-05-12 20:01] peterfabian opened #33009 "[COT] Guide for external developers: light"

[2022-05-12 20:02] peterfabian opened #33010 "[COT] Guide for external developers: custom table"

[2022-05-12 20:02] peterfabian opened #33011 "[COT] Upgrade guide for merchants"

[2022-05-12 20:03] peterfabian opened #33012 "[COT] Guide for HEs"

[2022-05-12 20:14] peterfabian opened #33013 "[COT] Performance test: migration"

[2022-05-12 20:16] peterfabian opened #33014 "[COT] Performance test: Typical queries/slow queries"

[2022-05-12 20:17] peterfabian opened #33015 "[COT] Performance test: real life"
Perform test via API, admin UI, etc

[2022-05-12 20:18] peterfabian opened #33016 "[COT] Load testing"

[2022-05-12 20:19] peterfabian opened #33017 "[COT] Add to SSR"

[2022-05-12 20:20] peterfabian opened #33018 "[COT] Extension compatibility: rollout plan"

[2022-05-12 20:22] peterfabian opened #33019 "[COT] Rollout: full functionality, disabled by default"

[2022-05-12 20:24] peterfabian opened #33020 "[COT] Rollout: Full functionality: enabled for new sites"

[2022-05-12 20:25] peterfabian opened #33021 "[COT] Rollout: full functionality: enabled for all"
Yay!

[2022-05-12 21:21] moon0326 opened #33022 "Update ExPlat examples"
It seems some teams are using a completed experiment as a reference guide. While an ExPlat tips P2 post was written a while back, it may require more example codes (particularly on client side of things).

We should update ExPlat [package](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/explat) README with more examples as well.

We can also include a simple example in the commen

[2022-05-13 00:45] moon0326 commented on #32206
I'll work in it as a cooldown task next week.

[2022-05-13 02:33] #32956 closed, assigned to chihsuan

[2022-05-13 02:59] brag-man opened #33029 "Update 6.5.1 shows as 6.4.1 and requires new update"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Update 6.5.1 shows as 6.4.1 and requires new update. When I try to update it still shows that an update is required. Have tried across several websites and same result

### Expec

[2022-05-13 03:13] adrianduffell commented on #32778
I've now updated the description with the logo and link to wp.org.

[2022-05-13 04:41] #32633 closed, assigned to rjchow

[2022-05-13 05:58] braddalton commented on #33029
I updated 2 sites, 1 local and 1 live from 6.4.1 to 6.5.1 and it now shows 6.5.1

[2022-05-13 06:00] braddalton commented on #32985
Updated from 6.4.1 to 6.5.1 and problem still exists.

[2022-05-13 07:20] brag-man commented on #33029
I've updated 4 sites and same happens every time?

[2022-05-13 08:01] verofasulo commented on #32859
Nice idea @adrianduffell! cottonbro is the author (all the photos) - you can find the profile at [this link](https://www.pexels.com/@cottonbro/).

[2022-05-13 09:30] ilyasfoo commented on #32532
Fair point, but do we have something that's more generic to replace it? Like "Object" so it doesn't actually check the formats? And then in the description, we'll put a link to Inbox's rule readme or something.

I can agree to skip that one as well.

Thanks again for working on this, @moon0326 !

[2022-05-13 09:30] iouzzrj commented on #31685
I have the same issue.

[2022-05-13 10:27] verofasulo commented on #32859
Hey @adrianduffell 😄

I created this page in Figma where you can find all the pics and the authors:

cJQeyyhx9PraQrY3YAtCGM-fi-1517%3A156861

Industries:
- Clothing and accessories
- Beauty and health
- Electronics and computers
- Food and drinks

[2022-05-13 11:45] sehjad-zerodesigns commented on #32978
open plugins/woocommerce/includes/emails/class-wc-email.php
add this code below after line number 565
if($css === null){
    $css = "'';
}

and then try to place order

[2022-05-13 12:07] joashrajin commented on #33029
Hi @brag-man 👋

Thanks for the report. I cannot replicate this at all on my end. No update message shows up for me after I finish updating WooCommerce and refresh the page:
<img width="1073" alt="image" src="https://user-images.githubusercontent.com/16253818/168279621-633cdca8-ee4b-4bc3-aa49-dc075eafd942.png">

It will be great if you could share your current System Status Report. You can get it b

[2022-05-13 13:07] Craiks opened #33031 "[Enhancement]:"
### Describe the solution you'd like

Be able to change name of 'Dimensions' under Additional Information tab of product page. I want to change it to 'Box Dimensions' but don't know how.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-05-13 13:44] Apfelbiss opened #33033 "[Enhancement]: Hide optional state fields"
### Describe the solution you'd like

Since version 6.3.0 for Germany a state field for billing and shipping is shown in checkout (and cart, if shipping calculator is activated).

As already explained in the [pull request](https://github.com/woocommerce/woocommerce/pull/31825), the state field is not relevant for shipping and billing. This specification is therefore very unusual in German stores a

[2022-05-13 14:58] lukecav commented on #33021
Is COT going to be enabled for all by default or enabled for all new sites as the default?

Would COT be opt-in on existing sites running WooCommerce?

[2022-05-13 15:01] joshuatf commented on #32220
I was able to reproduce this bug on a test site using the above listed date range of October 1, 2021 - October 31, 2021.

As @barryhughes mentioned, I think the percentage complete calculation is accurate.  The CSV exporter uses:
[code]

Plugging in any number should result in the correct calculation being made.  However, the variables passed in are another story.  In my case, the total rows expor

[2022-05-13 16:22] joshuatf commented on #32220
Digging into this a bit more, the before and after timestamps did in fact span more than 31 days.

[code]

At first glance the first timestamp appears correct, accounting for London's +1 GMT, while the latter appears incorrect and does not convert based on the given datetime.  However, accounting for daylight's saving time, both timestamps are correct.  This also explains the influx of comments ar

[2022-05-13 17:52] ObliviousHarmony commented on #32948
Hello @glcalabr,

This request would be more of something that you would implement in a theme. I would suggest looking at the `woocommerce_billing_fields` hook in `WC_Countries::get_address_fields()` to add an `email_validation` field and validating that it matches the email given in `"billing_email"` using the `woocommerce_after_checkout_validation` hook. This is just off the top of my head thoug

[2022-05-13 17:52] #32948 closed, assigned to nobody

[2022-05-13 17:55] ObliviousHarmony commented on #32951
Hello @ApexDigitalRO,

Since orders are a custom post type, they can't be used until WooCommerce has been initialized. I would suggest hooking any logic you need to run after WooCommerce initializes into the `woocommerce_loaded` action.

[2022-05-13 17:55] #32951 closed, assigned to nobody

[2022-05-13 17:58] ObliviousHarmony commented on #32976
Hello @AA0000-33,

Could you please provide proper testing instructions to replicate this bug? These images are somewhat ambiguous, we need a specific case to reproduce.

Thanks!

[2022-05-13 18:00] ObliviousHarmony commented on #32978
Hi @botmiszcz ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues la

[2022-05-13 18:02] ObliviousHarmony commented on #32979
Hello @i-belovari-autoactiva,

Could you please confirm the version that you are experiencing this problem with? We released a new version (6.5.1) yesterday that resolved a fatal error.

[2022-05-13 18:06] ObliviousHarmony commented on #32985
Hello @braddalton,

Could you please provide some more exhaustive testing instructions so that we can attempt to reproduce this on our end?

[2022-05-13 18:07] ObliviousHarmony commented on #33029
Hello @brag-man,

This was a problem with wordpress.org and has been resolved.

[2022-05-13 18:07] #33029 closed, assigned to nobody

[2022-05-13 18:11] ObliviousHarmony commented on #33031
Hello @Craiks,

Unfortunately, the only way to change this would be through the use of custom code. This repository is for bug reports and feature enhancement requests. I would suggest looking into using the `woocommerce_display_product_attributes` filter to change the `label` value of `$product_attributes['dimensions']`.

[2022-05-13 18:11] #33031 closed, assigned to nobody

[2022-05-13 18:12] AA0000-33 commented on #32976
@ObliviousHarmony create a product, put it on sale, add an end date for the sale, then wait until the sale is over
Now the product shows the sale price even though the sale was scheduled to end

[2022-05-13 22:57] brag-man commented on #33029
Yep. Just re-installed Woocommerce on two of the websites and all seems to be OK now. Thank you Wordpress.

[2022-05-13 23:30] moon0326 commented on #32778
@adrianduffell @pmcpinto

The plugin page says, "Follow the prompts to complete set-up and create or connect your TikTok accounts." on https://wordpress.org/plugins/tiktok-for-business/, but it never did when I installed the plugin on my local and a JN site.

There is no settings page either. I must be missing something 🤔 Could you try installing the plugin and see how it works for you?

![Screen

[2022-05-14 00:36] #32592 closed, assigned to nobody

[2022-05-14 00:36] #32646 closed, assigned to nobody

[2022-05-14 00:36] #32737 closed, assigned to nobody

[2022-05-14 00:36] #32753 closed, assigned to nobody

[2022-05-14 09:21] moon0326 opened #33040 "Enable experimental-products-task and experimental-import-products-task"
Now that we've merged issues for `experimental-products-task` and `experimental-import-products-task`, we should enable them in [core.json](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/client/admin/config/core.json) and [development.json](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/client/admin/config/development.json) before the code free

[2022-05-14 10:14] onetrev commented on #42638
I like the ultimate goal of the blockified Single Page template! In the interim though it feels like the notification "_XYZ item has been added to your cart._" should still appear if you have the mini-cart added to your navigation. Right now it feels broken and the user has very little way to know what happened (other than of course the change to the mini-cart values in the nav).

[2022-05-14 10:54] KoolPal commented on #32965
@ObliviousHarmony Thanks for pitching in. May I request you to change this to CRITICAL BUG or something Other than enhancement?

@vedanshujain Can you please weigh in here? This is a nightmare!

This label "correction" done via PR https://github.com/woocommerce/woocommerce/pull/30204 is a NUISANCE and causing unwanted friction at checkout. Please see a sample of the kind of feedback from one of th

[2022-05-14 18:33] saidmrn opened #33042 "json error when posting more than 40 variations"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

i'm using rest api to create variations and it's working as expected when i have less than 40 variations
the json i'm sending with the variations is valid.
`$woocommerce->post('p

[2022-05-14 22:54] thracefulton commented on #32202
Seeing this on another site in 5215234-zen. I'm able to replicate the issue by changing any report view to Rows per page: `100` and they have the same error/line in PHP error logs.

[code]

It appears, however, that the issue also occurs even when the per-page setting is 25, if you filter some products.

[2022-05-15 17:20] braddalton commented on #32985
I can't reproduce the error locally.

[2022-05-15 21:22] eacorneliussen opened #33045 "Bug when choosing 0 decimals"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When using 0 as decimals, what is sent to payment and what is shown to the customer (and in order page in back-end), is not the same when the decimals are not 00.

Example: an it

[2022-05-16 02:55] #32778 closed, assigned to moon0326

[2022-05-16 03:37] chihsuan opened #33048 "Enable feature flags for add Products Task"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Enable feature flags for https://github.com/woocommerce/woocomm

[2022-05-16 04:35] #33048 closed, assigned to chihsuan

[2022-05-16 05:58] KuhnDaniel opened #33050 "pagination error in subcat"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi, everyone
with the filter of a subcategory, the pagination call leads to a 404. Example: https://hemp.ch/zubehoer/papers/page/2/
without the parent category the pagination wor

[2022-05-16 06:24] Jas657 commented on #31411
This issue is still there, when can this expect to be fixed?

[2022-05-16 06:54] braddalton commented on #32985
NO idea what caused it apart from this `$data         = json_decode( $woocommerce_products['body'] );` which i've seen on [stackoverflow](https://stackoverflow.com/questions/68392753/woocommerce-illegal-string-offset-body-error-message-issue)

[2022-05-16 07:04] #32917 closed, assigned to vedanshujain

[2022-05-16 07:16] i-belovari-autoactiva commented on #32979
The update to the version 6.5.1 has fixed the issues.

[2022-05-16 08:20] lkraav commented on #32826
@ObliviousHarmony nobody even attempted to seriously reproduce this.

Regardless, it's still https://github.com/woocommerce/woocommerce/issues/32826#issuecomment-1113185197

[2022-05-16 08:38] #33040 closed, assigned to nobody

[2022-05-16 08:40] simkoG commented on #32863
This notice is still there if you want to update the Woocommerce database to the newest version via WP CLI.

Steps to reproduce
1. Update to the latest Woocommerce version via Wordpress Admin
2. Open a WP CLI console.
3. Run the following: `wp wc update`.
4. Check the LOG file.

[2022-05-16 08:52] rogermattic opened #33053 "Spacing Between the Payment Logo Assets Needs Fixing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Spacing between the logo assets in the experimental payments banner in WooCommerce Core Payments Settings is irregular.

### Expected behavior

It's set to 8dp in the design
![He

[2022-05-16 09:01] EdithAllison opened #33054 "Order email says "partially refunded" but remaining amount is 0"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Order email says "partially refunded" in title but remaining amount is 0 and says "fully refunded".

Appears to be triggered by orders with 0 value items in the order.

====

Pos

[2022-05-16 09:02] rogermattic opened #33055 "Clicking on the `Set up` CTA in Payments Settings should skip the Payments Welcome Screen"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Clicking on the WooCommerce Payments `Set up` button takes user to the Payments Welcome screen instead entering the setup straight away

### Expected behavior

User's already bee

[2022-05-16 09:07] rogermattic opened #33056 "Wrong Description In Payments Settings when WCPay is Installed but not Set up yet"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Description of WCPay is too short

### Expected behavior

In this state we should be displaying the full copy with T&C and Privacy Policy.

`Payments made simple, with no monthly

[2022-05-16 09:09] rogermattic commented on #33056
+ @ilyasfoo @pmcpinto @adrianduffell

[2022-05-16 09:09] rogermattic commented on #33055
+ @ilyasfoo @pmcpinto @adrianduffell

[2022-05-16 09:09] rogermattic commented on #33053
+ @ilyasfoo @pmcpinto @adrianduffell

[2022-05-16 09:13] chihsuan opened #33057 "Add `wcadmin_tasklist_view_more_product_types_click` track event for add product task"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

A follow-up task of https://github.com/woocommerce/woocommerce/

[2022-05-16 09:14] mikkamp commented on #32863
Doesn't look like the PR made it into 6.5.1, I'm still getting this warning showing up when viewing any WooCommerce page in the dashboard. The linked PR says it's set for milestone 6.6.0

[2022-05-16 09:31] peterfabian commented on #33021
We plan to roll it out in stages. At first, it will only be possible to enable it via a filter or in settings, later perhaps as a default for new sites and finally for everyone.

We will still need to include proactive checks on whether plugins are not doing something they shouldn't.

This task is for future preparation when we'll decide to make it enabled for all. We have tasks also for other sta

[2022-05-16 10:34] #32843 closed, assigned to jorgeatorres

[2022-05-16 10:36] vedanshujain commented on #32758
Added here [woocommerce.zip](https://woocommerce.files.wordpress.com/2022/05/woocommerce.zip) and linked in the post [Call for early testing – custom order table migrations](https://developer.woocommerce.com/2022/05/16/call-for-early-testing-custom-order-table-migrations/).

Additionally, all nightly packages from tomorrow will be candidate testing packages.

[2022-05-16 10:36] #32758 closed, assigned to nobody

[2022-05-16 10:37] vedanshujain commented on #32844
Published here [Call for early testing – custom order table migrations](https://developer.woocommerce.com/2022/05/16/call-for-early-testing-custom-order-table-migrations/)

[2022-05-16 10:37] #32844 closed, assigned to vedanshujain

[2022-05-16 10:55] bukawe opened #33059 "Woocommerce Analystics issue"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I wrote the title update and woocommerce error, but in reality the problem is more extensive.

There is no update in Woocommerce > Analysis settings for about 2 months. In other

[2022-05-16 10:56] pmcpinto commented on #32778
@moon0326 thanks for spotting this. I've just installed the extension on a JN site and I'm not being redirected to their setup and I'm also not seeing any settings. Let me see if we can get in touch with them

[2022-05-16 11:01] pmcpinto commented on #32778
There's a menu item within Marketing with a prompt to connect the account

[2022-05-16 11:23] vedanshujain opened #33060 "[COT] Migrate direct order query functions in `WC_Customer_Data_Store` to use data store API"
In WC_Customer_Data_Store, we have a few functions that query posts tables directly for order data. We should add unit tests for them and move them to use data stores API. These are:
- [ ] `get_last_order`
- [ ] `get_order_count`
- [ ] `get_total_spent`

This issue scopes refactoring them to move to order data store (and deprecating any filters there-in). Implementing them in new datastore is out

[2022-05-16 12:42] mxa commented on #27661
Why would you want that someone pays a proforma invoice?

[2022-05-16 12:46] verofasulo opened #33061 "Store Setup - Sample Products"
**User story:**
As a new merchant, I want to import sample products related to my industry, so that I can preview my store before my products are ready to add.

**Design overview**
cJQeyyhx9PraQrY3YAtCGM-fi-1517%3A156861

Here you can find the images and the author for the following industries:
- Clothing and accessories

<img width="1547" alt="image" src="https://user-images.githubusercontent.com

[2022-05-16 13:22] theambidextrous commented on #22617
Can you share the updated `driver_pgsql.php` please. Am having the same issue. in fact, all woo-commerce tables are not created

[2022-05-16 13:25] javadev commented on #22617
@theambidextrous

here you are https://github.com/php4dev/heroku-wordpress/blob/master/wp-content/pg4wp/driver_pgsql.php

[2022-05-16 13:32] verofasulo opened #33062 "Task List: Add Products Task - Subscriptions only in the US"
**User story:**
As a new merchant
I want to start with a pre-filled product
So I can easily understand what are the most important fields according to the type of product that I want to sell.

**Description:**
Enable the Subscription product template **only for merchants in the US** both on the card and stack layout.

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/989

[2022-05-16 13:32] verofasulo commented on #33062
@adrianduffell thank you! 🙂

[2022-05-16 13:46] swatipawarGS commented on #32976
Hi @AA0000-33,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 5.9.3 version.

Please find below screenshots for reference :

![#32976(Backend)](https://user-images.githubusercontent.com/94531721/168534899-f2b90b7b-cff5-4dda-b18e-89033aba31a1.jpg)

![#32976(frontend )](h

[2022-05-16 14:24] mikkamp commented on #51490
According to the [documentation](https://woocommerce.com/document/woocommerce-brands/#available-shortcodes) the width and height should be set in the shortcode including the unit:

[code]

There is still a case where [Storefront calls the shortcode](https://github.com/woocommerce/storefront/blob/4.1.0/inc/woocommerce/storefront-woocommerce-template-functions.php#L939-L944) without width and height

[2022-05-16 14:24] #32576 closed, assigned to nobody

[2022-05-16 15:07] theambidextrous commented on #22617
Thank you! Let me try to install.. if it works am required to spin up a container for further testing..

Can you share the version of wooCommerce used in [this](https://github.com/php4dev/heroku-wordpress) set up?

[2022-05-16 15:15] javadev commented on #22617
wp 5.7.2.

wc 5.3.0

[2022-05-16 15:57] pmcpinto commented on #32859
@adrianduffell have you checked with the wp.org plugin review team if it's ok to use this approach?

Here's the feedback I received from them more than 1 year ago when we were thinking about hosting images externally:

Keep in mind, if you accidentally include non GPL compatible plugins, we will have to close the plugin because you put the entire directory at risk. So ... y’know be VERY CAREFUL he

[2022-05-16 16:00] peterfabian commented on #31597
[The PR](https://github.com/woocommerce/woocommerce/pull/31890) is not fully tested yet.

[2022-05-16 16:06] vedanshujain commented on #31597
Linking https://github.com/woocommerce/woocommerce/pull/31874 for review as well

[2022-05-16 18:36] superbmario commented on #32863
Same issue for me after updating to 6.5.1 today

[2022-05-16 19:36] coreymckrill commented on #28507
Just noting that neither WooCommerce nor WordPress itself natively supports a `status__not_in` style argument for querying objects. So the alternative mentioned above is your best bet, removing particular statuses from the "all" list that you wish to exclude.

Closing this for now, but feel free to reopen if this warrants more discussion.

[2022-05-16 20:08] mattsherman commented on #32162
this would allow us to test the effectiveness of this approach without having to rebuild the underlying logic. @jarekmorawski what do you think?

@pmcpinto @jarekmorawski Do we still want to proceed with this? Should we wait until we have related side panel changes in and have seen how it performs? https://github.com/woocommerce/woocommerce/issues/32152

[2022-05-16 20:31] csmcneill commented on #32863
35162418-hc

User encountered this issue with 6.4.1. Recommended updating to 6.5.1 to see if it resolves the issue.

[2022-05-16 23:26] becdetat commented on #32421
It may be worth reviewing pbIJXs-1NK-p2 (which explored some usability issues and confusion around the existing product management walkthrough) when implementing this feature.

[2022-05-16 23:27] neilgee commented on #32863
Still getting the notice after updating to 6.5.1

[2022-05-16 23:39] AA0000-33 commented on #32976
Hello @swatipawarGS

This happened on WooCommerce v6.4.1 and WordPress v5.9.3
Also, I didn't specify a sale start date, could this be the reason why?

[2022-05-17 00:56] ilyasfoo opened #33067 "Inbox note backend accepts unsupported banner layout"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Admin's inbox note frontend currently only accepts `thumbnail` layout for images: https://github.com/woocommerce/woocommerce/blob/02ef6c534e6cefbc935731df5a0eb0b55867d8a5/package

[2022-05-17 00:59] mattsherman commented on #32912
@ilyasfoo @becdetat I cannot reproduce this on JN with WC 6.5.1. Do you have any additional details on how to reproduce this? Would you be able to check if you can still reproduce it with EC 6.5.1?

<img width="233" alt="Screen Shot 2022-05-16 at 20 58 25" src="https://user-images.githubusercontent.com/2098816/168705936-63f67725-6d43-4bb3-90ef-f95de4fde2a1.png">

[2022-05-17 01:47] #29814 closed

[2022-05-17 02:14] chihsuan commented on #32863
Yes, 6.5.1 does not include this fix. It's set to be included in the 6.6.0 release.

[2022-05-17 03:17] #33053 closed, assigned to moon0326

[2022-05-17 03:34] ilyasfoo commented on #32912
@mattsherman Thanks for checking, I confirm this isn't reproducible in 6.5.1. Closing

[2022-05-17 04:08] adrianduffell commented on #32859
Hey @pmcpinto , good call out!

We've had a few discussions around this internally in Ghidorah but not with the wp.org plugin review team. We think it needs to be restricted to sites that have opted into tracking, similarly to the approach we use for the remote configuration for onboarding (marketing extensions / payment gateways) and the externally hosted images for those.

At the moment, the sam

[2022-05-17 04:39] Zhangirkhan commented on #28998
Hi everyone, This is solution
Все привет, вот решение.

Put this code in to file function.php
Вставьте этот код в файл function.php
[code]

Explanation
Объяснение

We have

code like this in woocommerce plugin folder
У нас есть код в главной папке woocommerce  плагина
[code]

we need add to array new file type. And we call filter by name woocommerce_rest_allowed_image_mime_types.
нам нужно добавит

[2022-05-17 04:45] BrianD100 opened #33069 "Shipping Zones are not working. The only thing that works is the zone named: Locations not covered by your other zones"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Having shipping zone issue where any newly created shipping zones with the proper methods are leading up not to work. I enabled shipping debug mode and it stated that the address

[2022-05-17 05:35] ykawato opened #33070 "[Enhancement]: add hooks to ReserveStock so that user can select to enable/disable feature"
### Describe the solution you'd like

in src/Checkout/Helpers/ReserveStock.php
ReserveStock is enabled for woocommerce_schema_version > 430.

However, ReserveStock requires you to save product stock info in specified table  {$wpdb->wc_reserved_stock}.
We are trying to customize this stock quantity feature selectively. For example, control stock quantity by date, user, etc. for specific products.

[2022-05-17 05:46] theambidextrous commented on #22617
Thank you so much!...

A couple of things am looking into. I will make a PR

Some insert queries comes out with a missing `INTO` keyword -- i have fixed that.
Update queries have `ORDER BY` keywords which does not work in `postgreSQL` - actually there is a `deadlock` in some cases -- am looking for a way to fix that and ensure no deadlocks, if you have any ideas?

[2022-05-17 05:53] adrianduffell commented on #33067
From the code, it looks like a banner image would be rendered as a thumbnail? I'd imagine that could be a messy looking image in some cases.

I think it would be good to also create developer advisory on the WooCommerce blog about this, and give suggested steps to update existing notes to the thumbnail format.

[2022-05-17 06:17] adrianduffell commented on #32179
Making some great progress here! Looks like our next step is

* Migrate @woocommerce/* as necessary, as part of fixing the errors from previous items

[2022-05-17 06:51] #32741 closed, assigned to nobody

[2022-05-17 07:20] i-belovari-autoactiva commented on #32979
The same issue occured again. Version 6.5.1

[2022-05-17 07:44] chihsuan commented on #33056
Reopen.  We still need to update the "description" in payment settings.

p1652739018438239/1652708657.130679-slack-C01SFMVEYAK

[2022-05-17 09:05] WDodson76 commented on #24533
Same issue here. Payload was coming through as:
{"code":"woocommerce_rest_cannot_view","message":"Sorry, you cannot view this resource.","data":{"status":401}}
Deleting and recreating webhook seemed to do the trick.
WC Version 6.1.2
WP Version 5.9.3

[2022-05-17 10:13] pmcpinto commented on #32859
Just to be safe, I think it would be good to check with them if they're ok with this approach. Can you send them an email? plugins@wordpress.org

[2022-05-17 10:15] t-bo opened #33072 "Missing country codes in get_european_union_countries() function"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The function: get_european_union_countries(); has missing country codes in the array.

### Expected behavior

Overseas territories of France are part of UE and the following coun

[2022-05-17 11:05] ilyasfoo commented on #33055
Hi @rogermattic, by saying "Set up" button, do you mean the "Get started" button in the WCPay banner?

If you meant the "Set up" button in the payments table below the banner, it's actually a different part of the code, not modified by our experiment yet.

[2022-05-17 11:58] #32965 closed, assigned to nobody

[2022-05-17 12:37] ERICmcdev opened #33073 "Limitador de CEP(postal cd)"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

preciso por 65.439 códigos postais no web site wordpress do meu cliente para entregas específicas, e por algum motivo(provavelmente o grande número de códigos postais) ponho e el

[2022-05-17 15:43] dgswim commented on #32863
I have this issue as well. It has made it where my shippingeasy can not communicate with my woocommerce 6.5.1. What do I do?

I have used shippingeasy for many years until I updated to 6.5.1

[2022-05-17 15:52] #32671 closed, assigned to joshuatf

[2022-05-17 15:55] mattsherman opened #33076 "Add/edit simple products via products data store API (experimental)"
### Description

The ability to add/edit a simple product through the products data store.

Key properties:
- Name
- Description
- Slug
- Main image
- Price
- TBD: others?

This work will be extended over time to eventually support any type of product.

For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this incomplete and subject to change.

[2022-05-17 16:02] kopfnick opened #33077 "2 products are added to cart at the same time in certain configuration"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If "Default Customer Location" is set to "Geolocate with page caching support" and both "Add to cart" options ("Redirect to the cart page after successful addition" and "Enable A

[2022-05-17 17:12] #32178 closed, assigned to joshuatf

[2022-05-17 17:26] ObliviousHarmony commented on #33070
Hello @ykawato,

One option would be to use the `woocommerce_hold_stock_for_checkout` filter to disable the `ReserveStock` functionality and then implement your own stock reservation functionality.

[2022-05-17 17:29] #33070 closed, assigned to nobody

[2022-05-17 17:38] ObliviousHarmony commented on #33069
Hello @BrianD100,

Could you supply us with the specific shipping zone configuration and the address that you are entering?

[2022-05-17 17:54] BrianD100 commented on #33069
Hi,
What is set up is the following:
Zone name: Unites States
Zone regions: United States
--
Brian Dillehay
Founding Partner
Tastefully Olive
***@***.***
+1 (719) 789-5380 Tuesday, 17 May 2022, 00:39PM -05:00 from Christopher Allford  ***@***.*** :

[2022-05-17 18:01] BrianD100 commented on #33069
I just tested it this moment and at the moment the zones are working? what wasn't working is now working. I'm thoroughly confused.
Is there some form of ip addressing whitelisting  that I need to know to provide to my WordPress hosting team?
Thank you.
--
Brian Dillehay
Founding Partner
Tastefully Olive
***@***.***
+1 (719) 789-5380 Tuesday, 17 May 2022, 00:54PM -05:00 from Brian Dillehay  ***@***

[2022-05-17 20:01] brandon-9 opened #33080 "Fees not calculating correctly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Negative fees added via the REST API do not calculate taxes.

### Expected behavior

Taxes should be calculated regardless of fee being positive or negative.
It will calculate if

[2022-05-17 20:28] brandon-9 commented on #32863
Same issue. API can't communicate with Woo as it returns the error.

[2022-05-17 20:39] #32158 closed, assigned to louwie17

[2022-05-17 20:59] dgswim commented on #32863
I am now having to create all orders manually. Then copy and paste the shipping info into woocommerce from shippingeasy. It is really causing us to struggle. I don't think I will update these plugins with the same confidence as I used to.  The sad thing is we totally destroyed our website and business for several days trying to figure out what the issue is.

[2022-05-17 21:01] brandon-9 commented on #32863
@dgswim I rolled back to 6.4 and it works again.

I know the feeling though! So many dumb issues in Woo. I feel like there's been no meaningful progress made in years. The tax calculator still doesn't even work correctly via API. :-|

[2022-05-17 23:20] #33022 closed, assigned to moon0326

[2022-05-18 00:34] joelclimbsthings commented on #32152
Hey @jarekmorawski , just wanted to confirm as I didn't see it explicitly stated anywhere. Is the intention that when a task is clicked within the side panel, it would be (depending on the task) rendered within the side-panel and completed there as well?

The alternative would be redirecting to the homescreen when the task would normally be rendered immediately in place of the task list.

Assuming

[2022-05-18 01:50] #32583 closed, assigned to chihsuan

[2022-05-18 01:51] #33057 closed, assigned to chihsuan

[2022-05-18 02:05] chihsuan commented on #33055
@ilyasfoo Thanks. I've confirmed this.  "Get started" and "Set up" buttons should link to the same page.

![Screen Shot 2022-05-18 at 10 00 02](https://user-images.githubusercontent.com/4344253/168941758-75efa180-5d6d-48bb-8b56-2b69b111f18b.png)

figma: e428PXC0QyEwYqtX48lLq0-fi-3%3A47

[2022-05-18 02:07] #33055 closed, assigned to chihsuan

[2022-05-18 02:52] chihsuan commented on #32863
@dgswim @brandon-9 Sorry to hear that. These sound like other issues. 🤔

The `get_options` deprecated notice should only be a warning notice, not cause any API errors. You could apply [this patch](https://github.com/woocommerce/woocommerce/pull/32891/commits/c76e97d527b87e4626951394f74e2149292bb4b5) to test it.

However, would you be able to file a new issue about which API or plugin not working w

[2022-05-18 03:12] #33062 closed, assigned to chihsuan

[2022-05-18 03:41] brandon-9 commented on #32863
@chihsuan

Using V3 of the Woo REST API, it would return with 500 server errors. The only logged info was this get_options warning. No errors listed. Reverted back to 6.4 and works fine again. That's all I got for now!

[2022-05-18 04:04] chihsuan commented on #32863
@brandon-9 Thanks for the reply! 🙏  It does sound like another issue.

The `get_options` function is not used in the WOO V3 REST API.

Do you remember which Woo REST V3 API you were using? It would be great if you could share the steps to reproduce the 500 error. Thanks!

[2022-05-18 04:45] brandon-9 commented on #32863
@chihsuan I was posting a new order through the api.

[2022-05-18 04:56] chihsuan commented on #32863
@brandon-9 Okay. I’ll take a look.

[2022-05-18 06:14] pogla opened #33086 "Undefined index: id in Loader.php:1048"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We're getting these notices on a fresh WordPress and WooCommerce install. The only thing that needs to be done is to add this to the active Storefront theme's `functions.php` fil

[2022-05-18 06:44] pogla commented on #33086
Adding this solved my problem:

`add_filter( 'woocommerce_admin_preload_settings', '__return_empty_array', PHP_INT_MAX );`

But I still think the bug should be resolved or hook `woocommerce_admin_disabled` removed.

[2022-05-18 07:59] verofasulo commented on #32421
@jarekmorawski I think it makes sense for you to take over this part as it's connected with the product management experience redesign 😄 What do you think?

[2022-05-18 08:49] jarekmorawski commented on #32421
Thanks for the ping! I agree and will take it from here. :) We'll likely need a completely different walkthrough for the new experience (but we'll still use the same design/components).

[2022-05-18 08:53] jarekmorawski commented on #32152
Hey Joel! 👋

I'd prefer this solution since it's simpler and easier to maintain. There can be unexpected layout issues when the internal flows scale down in the drawer, plus some are quite complex and should use a focused, full screen experience.

[2022-05-18 08:57] nplokkaar commented on #32863
So I guess issue is still live? I've a client who has issues with Woocommerce as well, same error logged.

Is it a possibility to rollback to 6.4 ?

What is the ETA for the fix?

[2022-05-18 08:59] chihsuan commented on #32863
@brandon-9 I was able to place a new order through the v3 API with woo 6.5.1. 🤔

https://woocommerce.github.io/woocommerce-rest-api-docs/#create-an-order

![Screen Shot 2022-05-18 at 16 55 29](https://user-images.githubusercontent.com/4344253/169000183-9af792d2-4d70-4093-952a-881b5ae24761.png)

[2022-05-18 09:27] chihsuan commented on #32863
@nplokkaar Yes, It still exists in 6.5.1. It has been fixed in the trunk branch and will be included in 6.6.0.

If you need any other help, please reach out [WooCommerce Support](https://woocommerce.com/contact-us/). Thanks!

[2022-05-18 09:29] chihsuan commented on #32863
BTW, this deprecation notice should not cause any fatal errors. And it should only appear when you go to `WooCommerce > Settings`.

If you found it on other pages, it may be because other plugins make deprecated option API calls. If you encounter fatal errors, there should have another root cause. In these cases, you can [do a conflict test](https://woocommerce.com/document/how-to-test-for-conflic

[2022-05-18 10:01] DavidAnderson684 commented on #33072
Some things to note:

All official EU web pages describe these as "territories" rather than "countries". So the internal WooCommerce method reflects the same terminology used by the EU.
That's not to say that nobody should, in any context, call these "countries". Life is complicated - it depends on context. But note that, for example, EU VAT does not apply in these territories - https://ec.europa.

[2022-05-18 10:13] sukafia commented on #32854
5224094-zen

[2022-05-18 10:35] peterfabian opened #33090 "[Enhancement]: Make transient lifetime configurable"
### Describe the solution you'd like

An interesting idea based on one user's request is to make it configurable to set the lifetime of transients. It's effectively a cache, so they can be deleted at anytime, but most often they just stay in the database at least until the expiry, so it could help with administration of WC instances.

### Describe alternatives you've considered

Could be useful to

[2022-05-18 10:41] pmcpinto commented on #32162
I think it makes sense to wait and see the impact of the side panel changes. Do you agree?

Is it possible to release #32152 with 6.6?

[2022-05-18 11:50] Aljullu commented on #42677
This is still reproducible, but I needed to update the steps to reproduce.

[2022-05-18 13:58] swatipawarGS commented on #33077
Hi @kopfnick,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/168975988-29289a96-8a95-4af9-ad9e-17940cc98485.mp4

Priority of this issue will be assigned shortl

[2022-05-18 13:58] swatipawarGS commented on #33054
Hi @EdithAllison,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 5.9.3 version.

Please find below screenshot for reference :

![#33054](https://user-images.githubusercontent.com/94531721/168980633-48e3f692-cd0b-4e54-8a38-b4692e17598c.jpg)

Priority of this issue will be

[2022-05-18 13:59] swatipawarGS commented on #33050
Hi @KuhnDaniel,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 5.9.3 version.

Please find below screenshots for reference :
Category Page:
![#33050(category)](https://user-images.githubusercontent.com/94531721/168986008-76d64521-3be4-4005-bb8e-a7ec6dba55fe.jpg)

Subcat

[2022-05-18 14:06] EdithAllison commented on #33054
@swatipawarGS Thank you for taking the time to follow up! For prioritsation, please note that this bug affects especially all refunds for WooCommerce Product Bundles as Bundle Components are £0 value.

[2022-05-18 15:39] erdempython opened #33093 "Analytics values and rest api reports endpoint values do not match"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In WooCommerce Dashboard/Analytcis, the total sales value is totally different from the on in '/wp-json/wc/v3/reports/sales' endpoint. Is there a way to get the value directly fr

[2022-05-18 16:40] ObliviousHarmony commented on #32979
Hello @i-belovari-autoactiva,

Just to confirm, you checked the box that indicates you can reproduce this bug with _all_ plugins except for WooCommerce disabled and the Storefront theme activated. This is accurate, yes? Could you see if there are any logs that could help developers diagnose this issue?

[2022-05-18 16:41] ObliviousHarmony commented on #32976
Possibly @AA0000-33,

Could you try and replicate this with a sale start date set?

[2022-05-18 17:51] ObliviousHarmony commented on #33069
Well @BrianD100, since it sounds like your issue has been resolved, I'm going to close this issue. This GitHub repository is for reporting issues and it seems like there isn't one!

[2022-05-18 17:51] #33069 closed, assigned to nobody

[2022-05-18 17:53] ObliviousHarmony commented on #32985
@braddalton that StackOverflow link looks unrelated. Unfortunately, if we can't figure out how to reproduce this issue, there isn't really anything our teams can do to resolve it.

[2022-05-18 17:59] ObliviousHarmony commented on #32826
Well, you're not wrong @lkraav. The scalability of WooCommerce depends a lot on the specifications of the server you're running it on and the way in which your plugins affect performance. Realistically speaking, this is what the ongoing work around custom order tables aims to improve. You can [read about this ongoing work on our developer blog](https://developer.woocommerce.com/2022/01/17/the-plan

[2022-05-18 19:22] JPry commented on #32915
I'm able to reproduce this issue on a fresh install of WC `6.5.1`. Here's the stack trace I see from the error:

[code]

There's also a PHP warning generated when the `includes/class-wc-install.php` file is loaded:

[code]

[2022-05-18 20:09] thelogicwizards commented on #31852
5217171-zen is affected by this bug.

[2022-05-18 20:40] barryhughes opened #33094 "[COT] Consider Back-Compat Issues"
(Logged following a team discussion) as we make further progress, we should pro-actively consider potential backwards-compatibility concerns.

For example, we're building alternative implementations of the existing admin list table and order editor which will mimic the existing implementations in many ways: we want a high degree of compatibility, but might this create issues for extensions that ar

[2022-05-18 22:13] Solarbotics commented on #27419
Confirmed that coos-max's comment fixed a similar error I had after updating plugins on May 12 2022 (Woo version 6.5.1 / WP version 5.9.3)

Deleting my cache, then selecting a category would set the filter list for ALL subsequent product navigations. Then again deleting the cache would fix it _for one navigation click_. I was using the filters mainly to display subcategories.

Disabling the "enabl

[2022-05-18 23:11] #32410 closed, assigned to moon0326

[2022-05-19 01:31] eclair4151 opened #33096 "Unable to change prices of items past certain point on list in orders on the admin panel"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unable to change prices of items in order on admin panel

Hello. I have noticed that I am unable to change the price of some items in my orders on the admin panel, and it manifes

[2022-05-19 02:38] chihsuan opened #33097 "[Enhancement]: Migrate `@woocommerce/number` to TS"
### Describe the solution you'd like

convert `@woocommerce/number` to TypeScript and output type definitions

### Describe alternatives you've considered

_No response_

### Additional context

Part of #32179

[2022-05-19 02:40] chihsuan opened #33098 "[Enhancement]: Migrate `@woocommerce/notices` to TS"
### Describe the solution you'd like

convert @woocommerce/number to TypeScript and output type definitions

### Describe alternatives you've considered

_No response_

### Additional context

Part of https://github.com/woocommerce/woocommerce/issues/32179

[2022-05-19 02:41] chihsuan opened #33099 "[Enhancement]: Migrate `@woocommerce/navigation` to TS"
### Describe the solution you'd like

convert `@woocommerce/navigation` to TypeScript and output type definitions

### Describe alternatives you've considered

_No response_

### Additional context

Part of https://github.com/woocommerce/woocommerce/issues/32179

[2022-05-19 02:43] chihsuan opened #33100 "[Enhancement]: Migrate `@woocommerce/date` to TS"
### Describe the solution you'd like

convert @woocommerce/date to TypeScript and output type definitions

### Describe alternatives you've considered

_No response_

### Additional context

Part of https://github.com/woocommerce/woocommerce/issues/32179

[2022-05-19 02:44] chihsuan opened #33101 "[Enhancement]: Migrate `@woocommerce/currency` to TS"
### Describe the solution you'd like

convert @woocommerce/currency to TypeScript and output type definitions

### Describe alternatives you've considered

_No response_

### Additional context

Part of https://github.com/woocommerce/woocommerce/issues/32179

[2022-05-19 02:46] chihsuan opened #33102 "[Enhancement]: Migrate `@woocommerce/csv-export` to TS"
### Describe the solution you'd like

convert @woocommerce/csv-export to TypeScript and output type definitions

### Describe alternatives you've considered

_No response_

### Additional context

Part of https://github.com/woocommerce/woocommerce/issues/32179

[2022-05-19 02:50] chihsuan opened #33103 "[Enhancement]: Migrate `@woocommerce/components` to TS"
### Describe the solution you'd like

Convert @woocommerce/components to TypeScript

In [`deprank --deps-first`](https://github.com/codemix/deprank) order.

- [x] #35373
- [x] #35374
- [x] #35376
- [x] #35375
- [x] #35379
- [x] #35377
- [ ] #35378
- [x] #35380
- [x] #35381
- [ ] #35382
- [x] #36404
- and ....

### Describe alternatives you've considered

_No response_

### Additional context

Part

[2022-05-19 02:51] chihsuan opened #33104 "[Enhancement]: Migrate `@woocommerce/customer-effort-score` to TS"
### Describe the solution you'd like

convert @woocommerce/customer-effort-score to TypeScript and output type definitions

### Describe alternatives you've considered

_No response_

### Additional context

Part of https://github.com/woocommerce/woocommerce/issues/32179

[2022-05-19 02:52] chihsuan opened #33105 "[Enhancement]: Migrate `@woocommerce/data` to TS"
### Describe the solution you'd like

convert @woocommerce/data to TypeScript and output type definitions

- [x] export
- [x] items
- [x] import
- [ ] notes
- [x] onboarding
- [x] options
- [ ] navigation
- [ ] reports
- [ ] reviews
- [ ] settings
- [x] user
- [x] ./use-select-with-refresh

### Describe alternatives you've considered

_No response_

### Additional context

Part of https://github.c

[2022-05-19 03:02] #32682 closed, assigned to aprea

[2022-05-19 03:02] #32691 closed, assigned to nobody

[2022-05-19 03:02] #32694 closed, assigned to nobody

[2022-05-19 04:43] AashikP opened #33107 "[Enhancement]: Instructions for configuring a Downloadable file (with tutorial active)"
### Describe the solution you'd like

* As of now, this is what we see when we try to create a product during new product flow: `&wc_onboarding_active_task=products&tutorial=true` -> https://d.pr/i/V1xCQM
* Notice that there are no instructions for the downloadable file itself

    ![image](https://user-images.githubusercontent.com/17475174/169206987-2c64935f-ca31-4e9a-8775-96007906d504.png)

The

[2022-05-19 07:20] brambil commented on #28297
The bug is back.
[code]

[2022-05-19 07:34] #33056 closed, assigned to chihsuan, moon0326

[2022-05-19 09:18] lucasRolff commented on #32979
We experience this for some customers as well. Trying to strace the processes, we see it does the `brk` syscall forever, until eventually timing out. We tried increasing the timeout limits to 1 hour, and the same issue occurs - it simply hangs for 1 hour.

In some cases, the request will end up using an excessive amount of memory - even increasing memory_limit to 64GB (Yes, it's insane), will resu

[2022-05-19 09:51] adrianduffell opened #33111 "Update TikTok Onboarding Icon"
For more visual impact, update the icon used for the TikTok for WooCommerce extension to the normal TikTok icon.

<img width="707" alt="Screen Shot 2022-05-19 at 5 46 15 pm" src="https://user-images.githubusercontent.com/9312929/169265544-24bd37bc-4654-49d7-93f3-9ac0feaeaa5c.png">

![media_social_tiktok_icon_124256](https://user-images.githubusercontent.com/9312929/169265397-54d0aced-defe-4d81-bda

[2022-05-19 10:34] peterfabian commented on #28939
As we still have quite a few people using this payment gateway even though [migrating to the newer plugin is recommended](https://developer.woocommerce.com/2021/07/12/developer-advisory-paypal-standard-will-be-hidden-on-new-installs/), I'm assigning high prio.

[2022-05-19 10:34] MatthewPageUK commented on #24179
And another person looking for what appears to be simple request. AND condition on categories... 🤷‍♂️

[2022-05-19 10:35] peterfabian commented on #28998
Thanks @Zhangirkhan, would you like to submit a pull request with your solution?

[2022-05-19 10:36] peterfabian commented on #28998
As WordPress is adding more support for webp, e.g. via the performance focus group, we should update this sooner rather than later, thus giving it high prio.

[2022-05-19 10:45] peterfabian commented on #29716
Since it's working with the new widget, I'm leaning towards low priority for this one, unless we get more reports.

[2022-05-19 10:50] peterfabian commented on #29942
ref: https://github.com/woocommerce/woocommerce/issues/24185

[2022-05-19 10:52] Dekadinious opened #33114 "[Enhancement]: Add filter to woocommerce_cart_item_required_stock_is_not_enough error message"
### Describe the solution you'd like

It is not possible to filter messages in the function `check_cart_item_stock()` inside class-wc-cart.php. Other error messages are filterable in the function `add_to_cart()`. There shouldn't be a reason that the exact same error message types cannot be filtered in another function.

To change this:

`$error->add( 'out-of-stock', sprintf( __( 'Sorry, we do not

[2022-05-19 10:57] smecnarowski opened #33115 "Unable to get attribute because of outdated product terms in cache"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,

When i'm trying get attribute as usual from WC_Product_Simple class by get_attribute method with name of this attribute it returns an empty array.
`global $product_object, $

[2022-05-19 11:01] peterfabian commented on #30258
I'm assigning high priority since it affects checkout, but doesn't seem like many people are affected, so perhaps we'll reclassify.

[2022-05-19 11:03] vedanshujain commented on #32922
A report in https://developer.woocommerce.com/2022/05/16/call-for-early-testing-custom-order-table-migrations/#comment-9991, seems like there is issue with migration restarting itself if a worker gets timed out.

[2022-05-19 11:12] peterfabian commented on #30679
Thanks for reporting back. I belive this has indeed been fixed in WP 5.9. Please let us know if you're still seeing the problem. Thanks!

[2022-05-19 11:12] #30679 closed, assigned to nobody

[2022-05-19 11:19] datgausaigon opened #33116 "[Enhancement]: How about "Ward, District" in wp_wc_order_addresses"
### Describe the solution you'd like

Hi,
The next big update we have wp_wc_order_addresses. But the structure of this table still only have:

- address_1
- address_2
- city
- state
- postcode
- country

How about some country on the world have "Ward, District". And they must be use "Ward, District" on payment/shipping info?

Can you add Ward, District Field for wp_wc_order_addresses in next updat

[2022-05-19 11:30] sitoexpress opened #33117 "woocommerce_attribute_lookup_enabled option enabled at any woocommerce update"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There's a well know bug that breaks product attribute filtering because of an issue with the product attribute lookup table which is well documented here:

https://github.com/woo

[2022-05-19 12:00] #33111 closed, assigned to nobody

[2022-05-19 13:44] pmcpinto commented on #32672
Updated the issue with some tweaks to the "Publish" widget Tracks events.

[2022-05-19 14:00] #32383 closed, assigned to vedanshujain

[2022-05-19 15:20] mattsherman commented on #32141
@octaedro @pmcpinto What is the status of this PR? It looks like it can be closed?

[2022-05-19 17:32] louwie17 commented on #32676
@pmcpinto for the `wcadmin_product_attributes_add` track on the product page, this means not creating a new attribute but just adding one to a specific product correct? Although the one within the attributes page actually creates a new attribute.

Also in terms of adding attributes on the product page. We have the add and remove buttons, but they are not saved until the user clicks `Save attribute

[2022-05-19 18:06] octaedro commented on #32141
Hey @mattsherman,
Yes, you're right. I thought it was already closed.
I'm closing this issue now 🙂

[2022-05-19 18:06] #32141 closed, assigned to octaedro

[2022-05-19 19:18] #31416 closed, assigned to nobody

[2022-05-19 20:14] joelclimbsthings opened #33125 "Purchase task missing from task list experiments"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The recent task list experiments, known as `woocommerce_tasklist_setup_experiment_1_*` and `woocommerce_tasklist_setup_experiment_2_*` are missing the purchase task when they're

[2022-05-19 20:25] discoinfiltrator commented on #29379
This is ableism and categorically false. If sighted customers are informed that an item is on sale, it is unethical to hide this information form screen reader customers. It strips them of their agency. If a blind customer is confused by the wording then it is a UX concern with how the information is presented, not an issue with the information existing. Removing the information is not an equivale

[2022-05-19 20:46] discoinfiltrator commented on #31099
This was true of `woocommerce-blocks`, but here the original price is being hidden because of a bad decision in https://github.com/woocommerce/woocommerce/issues/29379

I've put in a PR to align this code with the approach made in `woocommerce-blocks`.

[2022-05-19 22:08] joelclimbsthings commented on #32162
@pmcpinto I have [a PR](https://github.com/woocommerce/woocommerce/pull/33124) up for this now, but unfortunately it missed the code freeze yesterday. My suspicion is that it will be difficult to get this 🍒 picked into 6.6 at this point.

[2022-05-19 22:27] barryhughes commented on #31501
Thanks for reporting, @apeksha10.

To make sure I am understanding: the problem here is not that the number input is *missing,* as such, it's that the arrow buttons have gone?

<img width="290" alt="android-chrome-items-per-page" src="https://user-images.githubusercontent.com/3594411/169414450-499312b7-133c-4707-9b5e-c8a41e5aea1a.png">

I'm not sure this should be regarded as a bug; I think the br

[2022-05-19 22:27] #31501 closed, assigned to nobody

[2022-05-19 23:12] barryhughes commented on #31487
We would appear to be paralleling core WordPress behavior in this regard (if I'm understanding the problem correctly):

- Upload a new image to the media library.
- Visit an existing post, set the image as the post's featured image.
- Return to/refresh the media library, and the image appears unattached.

I understand the problem this presents for you; but I'm also not sure it should be regarded a

[2022-05-19 23:43] smecnarowski commented on #33115
Finally found. Another plugin handle 'get_terms' filter and have strange logic and second reason was related to https://wordpress.org/support/topic/product-attributes-not-disappeared-when-object-cache-is-enabled/.

[2022-05-19 23:43] #33115 closed, assigned to nobody

[2022-05-19 23:44] withsalah opened #33126 "WC_REMOVE_ALL_DATA did not work"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am on a local test website trying to completely remove WooCommerce. I used the `define( 'WC_REMOVE_ALL_DATA', true );` code in the right place, as explained on [this page](http

[2022-05-20 00:31] mattsherman opened #33127 "Delete products via products data store API (experimental)"
### Description

The ability to delete a product through the products data store.

This work will be extended over time to eventually support any type of product.

For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this incomplete and subject to change.

### Acceptance criteria

- Data store updates
- Unit tests
- Documentation with examples

[2022-05-20 00:38] #32030 closed, assigned to nobody

[2022-05-20 01:06] mattsherman opened #33128 "The `wcadmin_settings_change` Tracks event isn't being logged correctly for `settings: woocommerce_navigation_enabled`"
### Describe the bug

When the Navigation feature is toggled in Settings, the `wcadmin_settings_change` Tracks event is supposed to be logged with `settings: woocommerce-navigation_enabled`.

![Screenshot%20on%202022-05-19%20at%2012%3A26%3A14](https://user-images.githubusercontent.com/2098816/169427850-b34dd5da-f96f-47dc-a448-bdeeffc4db28.png)

However, looking at our analytics, this does not appe

[2022-05-20 01:22] mattsherman opened #33129 "Remove the `wc-admin-navigation-nudge` inbox note"
We should remove the [`wc-admin-navigation-nudge`](https://github.com/woocommerce/woocommerce/blob/5de604e490b3b88922a2e2b535e02a5e9c4de28b/plugins/woocommerce/src/Internal/Admin/Notes/NavigationNudge.php) inbox note, as we no longer want to nudge users to use the Navigation feature.

### Implementation tasks

- [ ] Remove `wc-admin-navigation-nudge` note
- [ ] Question: Do we need to do anything

[2022-05-20 01:27] #32881 closed, assigned to moon0326

[2022-05-20 03:02] chihsuan opened #33132 "Migrate `@woocommerce/onboarding` to TS"
### Describe the solution you'd like

convert @woocommerce/customer-effort-score to TypeScript and output type definitions

### Describe alternatives you've considered

_No response_

### Additional context

Part of https://github.com/woocommerce/woocommerce/issues/32179

[2022-05-20 05:58] iamdharmesh opened #33135 "Recalculate totals(tax) from wp-admin doesn't consider the "Local Pickup" shipping method."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When using the "**Local Pickup**" shipping method, taxes are calculated properly in the front-end checkout process and it's saved correctly in order as well. but if we `Recalcula

[2022-05-20 06:20] #33097 closed, assigned to chihsuan

[2022-05-20 06:56] #33102 closed, assigned to chihsuan

[2022-05-20 06:57] vedanshujain commented on #32382
Closed in #32857

[2022-05-20 06:57] #32382 closed, assigned to vedanshujain

[2022-05-20 06:58] vedanshujain commented on #32384
Closed in #32857

[2022-05-20 06:58] #32384 closed, assigned to vedanshujain

[2022-05-20 06:58] vedanshujain commented on #32381
Closed in #32857

[2022-05-20 06:58] #32381 closed, assigned to vedanshujain

[2022-05-20 07:01] #33104 closed, assigned to chihsuan

[2022-05-20 07:02] #32664 closed, assigned to Konamiman

[2022-05-20 07:09] AashikP commented on #32863
Thank you for clarifying @chihsuan.

We're seeing another report of this error in 5190979-zen, and clarified this should be fixed in the next update.

[2022-05-20 07:18] vedanshujain opened #33137 "[COT] Investigate migration errors that are being reported in call for testing."
In our recent call for migration testing, we have received reports of errors as reported by the verification process. This issue scopes debugging those errors and implementing fixes.

[2022-05-20 07:18] vedanshujain opened #33138 "[COT] Implement backfill for order meta data into wp_postmeta table"

[2022-05-20 07:19] vedanshujain commented on #33138
Done in #32857

[2022-05-20 07:19] #33138 closed, assigned to nobody

[2022-05-20 09:47] ralucaStan opened #42633 "Document lazy loading blocks/components"
Part of pca54o-9i-p2

[2022-05-20 10:45] kaushikasomaiya opened #33141 "Analytics > Categories API - Dependency on primary key `term_taxonomy_id` rather than `term_id` in _term_taxonomy table"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am not sure if this is a bug. But I've created this report for an issue reported at 5195308-zen. (The categories names never load up on reports under **Analytics > Categories**

[2022-05-20 11:02] pmcpinto commented on #32859
@adrianduffell have you talked to them?

[2022-05-20 11:43] pirex360 commented on #33086
I also have this problem....

`PHP Notice:  Undefined index: id in /shared/httpd/phcwp/htdocs/public/wp-content/plugins/woocommerce/src/Internal/Admin/Settings.php on line 162`

[2022-05-20 11:49] willemb2 commented on #32979
+1 but to be precise not 504 but 500 internal server error when trying to load /wp-admin/. The front end of the website and WooCommerce keep functioning normally, although possibly a bit slower. The issue emerged when upgrading from 6.4.1 to 6.5.0 which was later withdrawn. It also occurs with 6.5.1. We do **not** run WC Admin.
We also got the “Your website has a technical problem” email. The erro

[2022-05-20 13:07] joshheald opened #33143 "Tax configuration leads to excessive price precision for line_items in Orders REST response with coupons"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Under particular tax configurations, in combination with a coupon, the `line_items` in the `/orders/` and `/orders/{id}/` responses have excessively precision on fields such as `

[2022-05-20 14:01] octaedro commented on #32674
Hey @pmcpinto,

I'm working on this issue, and I wanted to confirm with you what is expected for this kind of prop:

- categories: arrow with the number of categories included [0,1,2…]

The expectation for that kind of prop is to send an `Int` with the total count of the product's categories, right?

Also, I noticed that we were sending more props when a product is published than when it's edited.

[2022-05-20 14:08] octaedro commented on #32674
Actually, I'm seeing that we're tracking the product update twice, once [on the client side](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php#L150) (named `wcadmin_product_update`) and another time [on the PHP side](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/tracks/events/class-wc

[2022-05-20 14:36] pmcpinto opened #33144 "Remove enable navigation note"
**Description:** we already have enough people using the new navigation to extract valuable learnings. We can remove for now the Inbox notification about the new navigation

**Acceptance criteria:**
- [ ] Remove Inbox note with the title "You now have access to the WooCommerce navigation”

[2022-05-20 14:42] pmcpinto opened #33145 "Enable navigation setting: fix Tracks event"
**Description:** the Tracks event introduced when the user enables/disables the navigation (
WooCommerce - Settings - Advanced - Features) is broken. This event should be fixed in order to understand how many users are enabling or disabling the navigation. And the same should be applied to the analytics feature.

**Acceptance criteria:**
- [ ] Fire `wcadmin_settings_change` (settings: woocommerce_

[2022-05-20 14:52] vedanshujain opened #33146 "[COT] Properly handle accented characters during migration."
During metadata to metadata migration, if there are accented characters in source data, such as `è`, it's not being copied properly and is being replaced with a `?` character. This issue scopes investigating and fixing this bug.

[2022-05-20 14:55] vedanshujain opened #33147 "[COT] Properly handle decimal insertion when source is null."
If a source key such as `_cart_discount_tax` does not exist during migration, we are converting it to a `0` in the destination column. Technically, this is fine, but our verification logic is picking this up as an error.

So either we should:
1. Also insert NULL in the destination when the source is null.
OR
2. Modify verification logic to not report this situation as an error.

[2022-05-20 15:16] pmcpinto commented on #32676
Hey @louwie17 this event should be fired when the user creates a new attribute. On the product page it should be fired when the user hits save.

In the meantime, I included 3 additional events in the issue description targeting the category page. Let me know if you have any questions. Thanks

[2022-05-20 15:26] pmcpinto commented on #32674
Hey @octaedro in the props where I mentioned the arrow probably it's better to keep it simple to just show the number of times an event was fired with 0,1,2.... categories/tags/etc. Similar to what we have for the products_count prop. Makes sense?

Yes. `wcadmin_product_edit` was the original event but we thought that the numbers could be inflated by extensions that automate the edit process. So w

[2022-05-20 21:23] Dilosen commented on #16641
Wow, how can this still be an issue. Please say something like "leave unchecked to add new products" because I spent way too long trying to upload the CSV...

[2022-05-20 22:20] wpfixy commented on #32387
Greetings

We're facing this exact issue on our site as well, where having more than 3 rows is causing this issue.

![image](https://user-images.githubusercontent.com/20265067/169619549-30bf85b5-564d-4ba3-97d1-cfe4639e05bf.png)

With 3 rows, all seems working fine.
![image](https://user-images.githubusercontent.com/20265067/169619509-24061d77-8155-4191-8761-385c5eaf0385.png)

[2022-05-20 22:31] barryhughes commented on #33143
@joshheald thanks for logging this.

I've provisionally set the priority to low because of the conversation here - p1653052189036719-slack-C7U3Y3VMY (private link) - but don't hesitate to push back/reach out if we should elevate it (if it's something that can't easily be solved by using alternative strategies on the WooMobile side, etc, we can lift the priority).

[2022-05-20 23:30] coreymckrill commented on #33143
Turns out there is some history here with `line_items[].price`. The fact that it is a float (whereas all other currency values in order responses are strings) has caused problems [before](https://github.com/woocommerce/woocommerce/pull/31593). However, formatting the price value to ensure only the appropriate number of decimal places causes it to become a string, which is a [breaking change](https

[2022-05-21 00:36] #32878 closed, assigned to nobody

[2022-05-21 08:48] j19sch opened #33150 "[Enhancement]: More feedback on progress in Setup Wizard when installing recommended business features"
### Describe the solution you'd like

In the Setup Wizard, depending on the store's country, you can install up to 5 recommended business features: WooCommerce Payments, WooCommerce Shipping, WooCommerce Tax, MailPoet, and Google Listings and Adds. As these are installed, the only feedback you get from the page on the progress of installation, is that the "Continue"-button shows an animation. Once

[2022-05-21 20:13] taotravel365 opened #33151 "Order confirmation emails stopped sending"
We used to receive automated order emails after each online sale. These confirmation emails stopped sending. We have email notifications enabled and we have three different email accounts added to receive the confirmation emails, but none of them is receiving any notifications.

[2022-05-22 09:04] nielslange opened #42632 "Document which (inner) blocks are unlocked/removable and why"
See p1653060081672889/1653057704.803339-slack-C8X6Q7XQU

## Notes

Looking at the Cart and Checkout blocks, some of the inner blocks can be moved and/or removed. Currently, it's not documented which (inner) blocks are unlocked/removable and why. This issue aims to document this for future references.

[2022-05-22 12:45] grogou commented on #42647
This ticket is no longer actual?

[2022-05-23 06:51] adrianduffell commented on #32859
@pmcpinto Thanks for that ping, I've just seen your original reply and asked the PRT about it now.

[2022-05-23 08:21] #33101 closed, assigned to chihsuan

[2022-05-23 10:05] #32385 closed, assigned to barryhughes

[2022-05-23 10:33] #33132 closed, assigned to chihsuan

[2022-05-23 11:59] vedanshujain opened #33157 "[COT] Update into orders table when sync is enabled but authoritative data source is still posts."
If the sync is enabled, but migration is not yet complete and therefore wp_posts are still the authoritative table, we would like to update any changes to the posts table into the cot table as well.

This will prevent a race condition where, if the post record is already migrated and there are changes to it later (but before completion of the entire migration), the cot record will not have old dat

[2022-05-23 12:00] vedanshujain opened #33158 "[COT] Implement reading from wp_posts table when reading in COT as mitigation for uncaptured writes."
As per [our migration strategy](https://github.com/woocommerce/woocommerce/issues/31599#issuecomment-1025803858), when reading data from COT and having sync enabled, we would also want to read from posts table for the same order and compare values for all records. If the value is not expected, we should log an error and update the COT record.

This behavior will help us mitigate the scenario where

[2022-05-23 13:13] AnnaMag commented on #32186
It seems that it is the _section title_ frame that is misaligned wrt to the side margins (given the top frame). _Rows per table_ has misaligned header.
I'd appreciate a confidence check. Thanks! /cc @jarekmorawski

Edit: is this the layout design?

<img width="212" alt="Screenshot 2022-05-23 at 16 41 54" src="https://user-images.githubusercontent.com/13561163/169847287-a0d20808-84f3-4913-8f1e-0bbc

[2022-05-23 13:17] nic0711 commented on #32979
Same here. Any updates?
(Foundry (Child) Theme)

[2022-05-23 13:34] kaushikasomaiya opened #33159 "Analytics > Variations: Deleting or changing an attribute value affects the product name in Analytics > Variations reports view."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we buy a variable product with at least two or three attributes in the variation - the **Analytics > Variations** reports screen would show up the product name in the format

[2022-05-23 13:37] adrianduffell commented on #32421
@jarekmorawski Ghidorah have this lined up in the current sprint (updating the experience on the current products screen).

Would it be possible to paste into this issue the text of each step of the walkthrough?

[2022-05-23 13:45] adrianduffell opened #33160 "Add Event Tracking for Product Page Spotlight Tour"
## User Story

## Acceptance criteria

Create tracks to enable the reporting of:

* % of users that clicks on "Enable interactive walkthrough"
*  % of users that complete the guided mode without dismissing it
*  % of users that clicks on "Skip guided mode"
*  Which steps the user complete by adding information

[2022-05-23 13:48] i-belovari-autoactiva commented on #32979
Yes, I have deactivated all plugins. I can not access Wordpress backend dashboard with woocommerce plugin active. No logs available

[2022-05-23 13:50] raifd opened #33161 "Order won't display the correct deducted amount from each line item when applying a 10% coupon"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A 10% coupon is being correctly calculated for the total price of the order however the wrong discount is shown for each item in the order.

### Expected behavior

The correct ro

[2022-05-23 13:52] adrianduffell opened #33162 "Add Experimental Logic for Product Page Spotlight Tour"
## User Story

As a product manager, I want to be able to experiment with the Product Page Spotlight Tour feature, so that I can decide whether to deploy it or not.

## Acceptance Criteria

* Wrap the feature around ExPlat experiment logic using the name `woocommerce_products_tour`.

[2022-05-23 14:55] jarekmorawski commented on #32186
Yes, that's perfect. Thanks!

[2022-05-23 15:40] yeraygomez commented on #28028
Please! I need a urgent solution... can you please answer me

[2022-05-23 20:47] RavanH opened #33165 "Argument #2 ($haystack) must be of type array, null given"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a FSE child theme fails to declare all (both child and parent) template files in its theme.json file -- this can happen when the parent theme is updated with an new template

[2022-05-23 20:47] RavanH opened #33179 "Argument #2 ($haystack) must be of type array, null given"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a FSE child theme fails to declare all (both child and parent) template files in its theme.json file -- this can happen when the parent theme is updated with an new template

[2022-05-23 20:52] RavanH commented on #33165
Apparently, when a FSE theme does not have properly declared all template file in its theme.json (this can happen) then `$block_template->post_types` will be null instead of an (empty) array, causing this fatal error in Woocommerce.

I suggest adding an extra checks on line 279 in woocommerce/includes/admin/class-wc-admin-meta-boxes.php to avoid people from freaking out after changing or updating

[2022-05-23 20:52] RavanH commented on #33179
Apparently, when a FSE theme does not have properly declared all template file in its theme.json (this can happen) then `$block_template->post_types` will be null instead of an (empty) array, causing this fatal error in Woocommerce.

I suggest adding an extra checks on line 279 in woocommerce/includes/admin/class-wc-admin-meta-boxes.php to avoid people from freaking out after changing or updating

[2022-05-23 22:51] sonda123 commented on #32863
Getting the same error here.
![Captura de Tela 2022-05-23 às 18 48 24](https://user-images.githubusercontent.com/47185145/169917081-4a4b4e19-1f75-4373-8a80-59e875211c98.jpg)

[2022-05-24 00:56] adrianduffell opened #33167 "Add confirmation for load sample products"
## User Story

As a new merchant, I want to be warned about sample products loading images from woocommerce.com, so that I can make an informed decision.

## Acceptance Criteria

* Add a confirmation dialog before loading the sample products stating "We'll import images from woocommerce.com to set up your sample products."
* Buttons should be "Import sample products" (primary) and "Cancel" (second

[2022-05-24 00:58] #32144 closed, assigned to nobody

[2022-05-24 04:14] #33086 closed, assigned to ilyasfoo

[2022-05-24 04:15] ilyasfoo commented on #33086
Thanks for the report, folks! The fix should be included in WooCommerce 6.7.

[2022-05-24 04:56] apeksha10 commented on #31501
Thanks for your quick reply @barryhughes,

True

I think it's better if we have a button option too, with the help of an arrow users can easily increase or decrease the number or order items in per page.

[2022-05-24 05:18] psealock commented on #33117
When the fix is released, disabling the product attribute lookup table workaround will no longer be needed. However, the bug you are surfacing is the inability for the setting to persist between updates. Is that correct?

[2022-05-24 05:40] kaushikasomaiya commented on #32854
Reported on forum: https://wordpress.org/support/topic/remove-variations-options-from-new-order-email/

[2022-05-24 05:53] adrianduffell commented on #32859
@pmcpinto The PRT replied and said the UI needs to state that images will be downloaded from woocommerce.com in order to create sample products.

I'll close this issue out (since the csv file itself is done) and we can address this concern in https://github.com/woocommerce/woocommerce/issues/33167

[2022-05-24 05:53] #32859 closed, assigned to nobody

[2022-05-24 06:21] #33100 closed, assigned to chihsuan

[2022-05-24 07:36] froger-me commented on #32717
I get this warning when deleting a fee item from the order interface.

## Reproducing:

### Pre-requisite:
An completed order with a fee (in my case: a custom fee added at checkout time).

- change the order status to pending payment and save
- click the delete icon associated to the fee
- view logs and see the warning

[2022-05-24 09:03] sitoagency commented on #33117
Yes, it's being enabled again after any WooCommerce update and I have to promptly turn it off in order for filters to work.

I understand that after the fix is released, it won't be necessary to turn the tables off, however a setting should persist between updates anyway.

[2022-05-24 09:53] hitendrachopda-multidots opened #33172 "On setup wizard auto click second button"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On the woocommerce setup wizard > Build a better WooCommerce Popup, once click on the first button No thanks it will auto click and load the "Yes, count me in!"

Let me show you

[2022-05-24 09:53] #33167 closed, assigned to chihsuan

[2022-05-24 11:49] jorgeatorres opened #33173 "[COT] Research locking for order edits"
From a comment in [#33026](https://github.com/woocommerce/woocommerce/pull/33026#discussion_r879165631):

The output of this issue should be a document detailing possible race conditions, and what can we do in the DB structure to address them (even if we don't implement them now).

[2022-05-24 12:39] octaedro commented on #32674
Thank you @pmcpinto for clarifying.

Right now the tracking event is triggered after the user clicks the `Publish`/`Update` button. If it's ok with you we can track the count of attributes/categories/tags/gallery images the product has. For instance, if the product has 1 attribute, 3 categories, 2 tags, and 5 images in the gallery, we will record (among the other props):
[code]
Would that cover wh

[2022-05-24 13:10] #33141 closed, assigned to nobody

[2022-05-24 13:20] derridHeidegger opened #33174 "error when adding or editing a product"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

if you have a post template, or you create a post template from the editor, when you try to edit or add a product you get this error:

Fatal error: Uncaught TypeError: in_array()

[2022-05-24 13:25] dropdps opened #33175 "WooCommerce Plugin is giving my Wordpress front end redirecting problems"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With WooCommerce's plugin activated, the front end is giving me this message
![Screenshot (156)](https://user-images.githubusercontent.com/106162024/170042095-12178e51-6f74-499a-

[2022-05-24 14:29] swatipawarGS commented on #33161
Hi @raifd,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 5.9.3 version.

Please find below screenshot for reference :

![#33161](https://user-images.githubusercontent.com/94531721/169967478-0ee3fdf7-f9f3-4a08-bb1a-2396e564b6f7.jpg)

Priority of this issue will be assigne

[2022-05-24 14:30] swatipawarGS commented on #33159
Hi @kaushikasomaiya,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/169978024-2380c6cb-ef68-492c-8900-6145009b2a46.mp4

Please provide us more detailed and a

[2022-05-24 15:45] joshuatf commented on #32129
Note that @joelclimbsthings has an open PR ( https://github.com/woocommerce/woocommerce/pull/33124 ) that addresses how links are handled for various URL types.  There might be an opportunity for combining the efforts there and here.

[2022-05-24 16:10] erikdemarco commented on #32863
@sonda123 OOT, what plugin do you use to show that error log on your dashboard?

[2022-05-24 16:15] sonda123 commented on #32863
plugin Error Log Monitor, Version 1.7.2 | By [Janis Elsts](http://w-shadow.com/)

[2022-05-24 16:28] pmcpinto commented on #32674
Yes. That's perfect

[2022-05-24 16:48] kaushikasomaiya commented on #33159
@swatipawarGS Sorry for any confusion. I deleted one of the attribute values/terms, not the whole attribute. Could you try deleting one of the terms while keeping the attribute as is and try?

[2022-05-24 17:03] kaushikasomaiya commented on #33159
It is strange but now I am unable to reproduce it either. I'll get back after doing some more tests.

[2022-05-24 17:05] barryhughes commented on #31501
Hi—thanks for the update.

Yes, I see your point, but I think it's best we leave this closed:

- I don't see this as a bug:
    - We are using a native control, and so we are deliberately delegating responsibility for how it renders/behaves to the user agent.
    - It works, it's fully functional—nothing stops a user from using it.
- It's possibly an enhancement:
    - I'm not convinced, though, b

[2022-05-24 17:14] tradesouthwest opened #33181 "Analytics shows blank pages + Undefined property in stdClass::$net_sales"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

All pages blank under Analytics menu [https://prnt.sc/hrQ1YjY8OrKz](https://prnt.sc/hrQ1YjY8OrKz)

Error in wp-admin Dashboard Woocommerce Status widget "Undefined property in st

[2022-05-24 17:38] RavanH commented on #33179
Forum discussion here https://wordpress.org/support/topic/unable-to-add-products-after-woocommerce-6-5-1-update/

[2022-05-24 18:04] kaushikasomaiya commented on #33159
Alright, I've updated the steps to reproduce this issue on the bug report. Could you please check now?

[2022-05-24 18:12] #32137 closed, assigned to joelclimbsthings

[2022-05-24 18:23] rynaldos opened #33183 "Shipping tab not hidden when variable products' variation set to virtual"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating a variable product with some variations, and setting all variations to be virtual type, the Shipping tab is no longer hidden, the same way it is hidden for simple p

[2022-05-24 19:22] aaron843 commented on #17951
2022 still a bug. Especially noticeable navigating via related product links (works as expected navigating store/search links)

[2022-05-24 21:09] mattsherman commented on #33145
Closing this as a duplicate of the pre-existing #33128 (I've updated that issue to include the more detailed acceptance criteria from here).

[2022-05-24 21:09] #33145 closed, assigned to nobody

[2022-05-24 22:11] yobotn commented on #27295
I believe the problem is the images size uploaded on the process on creating the product,
when i compressed the photos the problem went away.

[2022-05-24 23:01] sunyatasattva commented on #42647
@grogou It still is, as a matter of fact. We have a bot which tries to clean up our increasing backlog. I'll remove the `stale` label and reopen it.

[2022-05-25 00:16] John-Schuster22 opened #33186 "Schedule sales is not fliping back when the sale is over"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

 When the expiration date happens on a sale item instead of it going back to the retail price it stays on the sale price beyond the expiration. Meaning customers are getting on s

[2022-05-25 04:39] psealock commented on #33186
Thanks for the bug report @John-Schuster22. Before moving this forward, can you confirm you've done conflict testing? In other words, deactivated all other plugins to see if this behaviour persists?

[2022-05-25 04:45] psealock commented on #33181
Hi I had a look with a fresh site and WC 6.5.1 did not produce an error in Analytics pages. Is there a JS error in the console?

You can turn off Analytics in WooCommerce > Settings > Advanced > Features

![image](https://user-images.githubusercontent.com/1922453/170181654-dbb7a2de-edee-4a9d-9b2a-19a9928216af.png)

[2022-05-25 04:49] psealock commented on #33175
Have you tried deactivating all other plugins to see if the problem persists?

[2022-05-25 04:52] psealock commented on #33174
Thanks for the report @derridHeidegger. This is a duplicate issue to https://github.com/woocommerce/woocommerce/issues/33179, which is currently being worked on. So I will close this in favour of that one.

[2022-05-25 04:52] #33174 closed, assigned to nobody

[2022-05-25 04:55] psealock commented on #33173
Hi @jorgeatorres could you just add a `status: ...` label to this so its properly classified? Cheers!

[2022-05-25 04:58] psealock commented on #33172
Thanks @hitendrachopda-multidots for the bug report, I can confirm the action you are intending is working, but it does look wrong to have the loading state on a button that shouldn't be loading. I will send this to the correct team for prioritization.

[2022-05-25 05:03] psealock commented on #33117
Thats frustrating! We can look into this.

In the meantime, you can download the beta release to test the fix of the original issue https://github.com/woocommerce/woocommerce/releases/tag/6.6.0-beta.1

[2022-05-25 05:06] psealock commented on #33116
Which country has these fields please?

[2022-05-25 05:20] #33098 closed, assigned to chihsuan

[2022-05-25 05:31] larsenlarsson commented on #32979
Same problem here.
We run a multisite with almost 57,000 total orders and over 26,000 users.
After updating from WooCommerce 6.4.1 to 6.5.1, it is no longer possible to access the backend. We then get the error message 503 Service temporarily unavailable.
After the rollback to version 6.4.1, the backend works again as usual. We then see in the logs the error messages CRITICAL Maximum execution tim

[2022-05-25 05:33] psealock commented on #32979
Here is the beta for the next release to test if that works https://github.com/woocommerce/woocommerce/releases/tag/6.6.0-beta.1

[2022-05-25 05:43] datgausaigon commented on #33116
@psealock Vietnam

[2022-05-25 05:44] psealock commented on #32979
@larsenlarsson

You can try turning off Analytics by going to WooCommerce > Settings > Advanced > Features and toggling off Analytics.

Did changing the timezone affect it any way?

[2022-05-25 06:00] larsenlarsson commented on #32979
On our test environments, the problem was not present, as there is probably not the mass of orders here. On the live environment, unfortunately, we can't retest it at this time because we can't take a chance on outages. We would like to test a version then when someone has identified the cause of the problem and a fix is included that addresses the cause of the problem.

Can't do it because manage

[2022-05-25 06:23] ilyasfoo commented on #32979
Hi @larsenlarsson, thanks for letting us know. May I know the exact country the timezone config was set prior for the affected store?

[2022-05-25 06:25] larsenlarsson commented on #32979
Hi @ilyasfoo
The setting is: "Berlin" (Europe/Berlin).

[2022-05-25 06:56] grogou commented on #42647
@sunyatasattva  thank you)

[2022-05-25 07:02] Konamiman opened #33187 "[COT] Add database transactions during synchronization, and a setting to turn them on/off"
In order to ensure data integrity we want to wrap the database operations performed during COT data synchronization into database transactions, but in order to ease testing, at least during the early stages of development we'll also offer a setting to easiyl turn them off.

[2022-05-25 07:22] SuperSambat opened #42631 "Can’t hook into Price Filter block values"
## Describe the bug

There is a need for certain conditions that require me to change the price of the product such as wholesale prices for certain customer roles. And in such conditions, I am hooking the stock price.

When using the Filter Product by Price block, we do not have the authority to change product prices. So in the filter, the prices that come out on `min_price `and `max_price `are th

[2022-05-25 07:31] nic0711 commented on #32979
For us, only the WP Dashboard is unaccessible.
If we "ignore" the Dashboard, all other pages seems to work fine.

Test logging in with e.g. "/wp-admin/themes/" or navigate to themes/plugins/... from the admin bar - maybe it is a workaround.

Timezone: Berlin

[2022-05-25 08:04] i-belovari-autoactiva commented on #32979
This will help anybody with this issue.
Dont use "/wp-admin" to log in. Use "/wp-admin/admin.php?page=wc-settings&tab=advanced&section=features" and uncheck the first checkbox. This fixed the problem on multiple websites for my team.

[2022-05-25 08:13] larsenlarsson commented on #32979
@i-belovari-autoactiva

For our management and accounting, this setting would need to remain enabled.

[2022-05-25 08:21] dineufeld commented on #27584
@SUNV1726 I've had the same problem since yesterday, it just suddenly came out of nowhere. How did you solve it?

[2022-05-25 08:36] ilyasfoo commented on #32979
I'm glad you've found a workaround for this! Unfortunately, I'm unable to reproduce the problem with my local test sites so far.

If there is anyone who could reproduce it reliably on a testing site (without real customer or sensitive data etc.) and could share it with us, that would be a great help for us to debug.

[2022-05-25 09:14] gglobalstep opened #33188 "[GlobalStep] For Atomic site, Blank Screen is displayed after clicking "Woocommerce"> "Home"."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic site, Blank Screen is displayed after clicking "Woocommerce"> "Home".

### Expected behavior

After clicking "Woocommerce > Home" appropriate page should be displayed.

[2022-05-25 09:38] Chrystll opened #33189 "Custom order tables: fatal error when visiting Custom Data Stores"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

**Installation**
WooCommerce 6.5.1 (migrating from 6.4)
WooCommerce Smooth Generator 1.0.4
Storefront 4.1.0
WordPress 6.0

I get a fatal error when going to WooCommerce > Setting

[2022-05-25 10:38] Aljullu commented on #42631
Thanks for opening this issue @hariprasetyoaji! I will add some extra details to the testing steps for anybody reading this issue in the future:

## Steps to reproduce
1. Create a new page with All Products and Filter Products by Price blocks.
2. Hook into `woocommerce_product_get_price` filter to change the price:
[code]
3. View the page created on step 1.
4. Notice the price filter doesn't refle

[2022-05-25 10:50] itzmekhokan commented on #32446
@jonathansadowski  This issues is related to WordPress `is_email()` function logic. Wordpress should respect PHP `FILTER_VALIDATE_EMAIL` checking within `is_email()` function.

[2022-05-25 11:15] dropdps commented on #33175
I already solved the problem, thank you!

[2022-05-25 12:15] defive commented on #32979
I am having the same issue. I can log in, but WooCommerce analytics and the WooCommerce dashboard cause PHP to crash. Here's some detail from my logs. These lines appear every time one of those pages is accessed:

CRITICAL Uncaught Error: Xdebug has detected a possible infinite loop, and aborted your script with a stack depth of '100' frames in /srv/www/public_html/wp-content/plugins/woocommerce/s

[2022-05-25 12:44] Aljullu commented on #42631
I missed that those filters included `_widget_` in their name. :man_facepalming:  So we should probably create two new filters: `woocommerce_price_filter_block_min_amount` and `woocommerce_price_filter_block_max_amount`. Extensions will simply need to add the same hooks to the `_widget_` filters and the `_block_` ones.

[2022-05-25 13:46] raifd commented on #33161
Hi @swatipawarGS !
Thank you for taking a look at this :)

[2022-05-25 14:17] swatipawarGS commented on #33096
Hi @eclair4151,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/170205564-d6942249-66bf-4ce6-af99-915ab760c0c8.mp4

Please provide us more detailed and any addi

[2022-05-25 14:17] swatipawarGS commented on #33159
Hi @kaushikasomaiya,

Thank you for the updated information. we are able reproduce the issue using the given updated information on our end with WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screenshots for reference :

![#33159(before)](https://user-images.githubusercontent.com/94531721/170212304-eac3deee-18d5-4136-b546-866209a1f96b.jpg)

![#33159(After)](https://user-im

[2022-05-25 15:37] eclair4151 commented on #33096
For me, this issue only happens when there are many different items in your cart. The video you show only has 4 items. That always works fine for me, it only starts to break when I have a large number (more than say 50)?. For instance, the order in the video I showed in the above ticket had almost 80 different SKUs. Try creating a variable product with many variations (like 80) and add 1 of each t

[2022-05-25 16:11] RavanH commented on #33179
More discussion here https://wordpress.org/support/topic/fatal-error-on-product-editing-screen-in-custom-block-theme/

[2022-05-25 18:35] John-Schuster22 commented on #33186
Hello, we have not done conflict testing but we are working on the test on a staging site now. However, it's very hard to test because it seems to only happen when the scheduled date is passed.

Current date is 5/25/22

In other words if we set the date to a product of 5/23/22 and have the sales price the sale will not show on the page because the date is already over when it is set.

However, if

[2022-05-26 00:05] barryhughes opened #33196 "[COT] Admin List > Implement Filters"
Building on the work [done here](https://github.com/woocommerce/woocommerce/issues/32385), let's implement filters for the COT-powered admin list table.

<img src="https://user-images.githubusercontent.com/3594411/170388754-a2e8ce8b-3894-4bc5-a108-b2f624a054d1.gif" width="60%" />

This should mimic the functionality of the existing order list table as closely as reasonably possible.

[2022-05-26 00:08] barryhughes opened #33197 "[COT] Admin List > Implement Search"
Building on the work [done here](https://github.com/woocommerce/woocommerce/issues/32385), let's implement search for the COT-powered admin list table.

<img width="368" alt="orders-search" src="https://user-images.githubusercontent.com/3594411/170389083-dc720a54-8095-4264-bc0a-a5b06c92478a.png">

This should parallel the functionality of the existing order list search as closely as reasonably pos