[2020-07-07 16:43] artbazzigaleria opened #26974 "Product Categories don't appear"
Hi. I have just created the categories of products on my woocommerce and the list of those is not appearing.

On the bottom of the "Categories" part says: "5 items" but no categories are shown on the list. (See the attachment)

Can anyone help me with that?

Thank you

Regards,

Guilherme

[2020-07-07 17:27] juliaamosova commented on #26974
Hi @artbazzigaleria,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Gu

[2020-07-07 17:27] #26974 closed

[2020-07-07 17:38] juliaamosova commented on #26960
Hi @madeincosmos,

Thanks for reporting this issue. I couldn't reproduce just yet - an issue on the PayPal side of things:

![Screen Shot 2020-07-07 at 1 36 50 PM](https://user-images.githubusercontent.com/19143190/86820431-0bbf5e00-c057-11ea-9b50-4bb75d5341b0.png)

I will get back to it again in a bit. However, it seems high priority so I am marking this issue as such.

[2020-07-07 17:41] juliaamosova commented on #26952
Hi @DarkxNess,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your question there so that we could keep answers in the right place.

[2020-07-07 18:00] juliaamosova commented on #26946
Hi @gglobalstep,

Thanks for reporting the issue and thanks for your comment @nerrad.

The 2 dropdowns to filter products are also shown on the regular `Shop` page:

![filtering](https://user-images.githubusercontent.com/19143190/86822648-e4b65b80-c059-11ea-85f4-077b4ad63511.jpg)

We also show pagination twice. In the way, this is working as expected and we had these elements shown at the top and

[2020-07-07 18:22] juliaamosova commented on #26950
Hi @AKSUTAH,

Thanks for raising the issue. You can read the discussion at https://github.com/woocommerce/woocommerce/issues/21754 to understand the reason for the removal. I see that you also participated in that discussion.

I am leaving this issue open for now to see if there is any further discussion to be had and also because we have a related issue open (https://github.com/woocommerce/woocom

[2020-07-07 19:44] juliaamosova commented on #26930
Hi @passatgt,

Thanks for taking the time to work on and submit these redesigns - they look great! We can't, however, immediately act on these changes though as we have plans to fully redesign the UI of WooComerce. Although no specific plans that we can share at the moment as well as no ETA. I will mark this issue with the `design` label for the reference but please don't be alarmed if there will

[2020-07-07 19:44] #26930 closed

[2020-07-07 20:00] juliaamosova commented on #26893
Hi @squill,

No worries at all and thanks for your follow-up. I believe the setting to filter by low stock had been available since the new analytics section was added. And no worries about missing it - it happens to the best of us.

It looks like you are all set for now so I am closing this thread. Feel free to comment back in case we missed something.

[2020-07-07 20:00] #26893 closed

[2020-07-07 20:02] juliaamosova commented on #26887
Hi @gevcen,

Thank you for providing us with the System Status Report.

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/t

[2020-07-07 20:09] juliaamosova commented on #26721
Hi @PDamg,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-07 20:09] #26721 closed

[2020-07-07 20:13] juliaamosova commented on #26667
Hi @Ferrrnando,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-07 20:13] #26667 closed

[2020-07-07 20:21] juliaamosova commented on #26587
Hi @ldr2273,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-07 20:21] #26587 closed

[2020-07-07 20:22] juliaamosova commented on #26548
Hi @Stas0238,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-07 20:22] #26548 closed

[2020-07-07 20:24] juliaamosova commented on #26243
Hi @gevcen,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-07 20:24] #26243 closed

[2020-07-07 20:28] juliaamosova commented on #25623
Hi @mrohnstock,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-07 20:30] juliaamosova commented on #24387
Hi @melek,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-08 01:48] Pleiades commented on #15969
A slightly unrelated question: Why does the datestamp for this issue show 2017?

[2020-07-08 03:20] Pleiades commented on #26936
@vedanshujain The error log is currently empty.

I added `error_log( 'WordPress theme "Storefront" activated and running.' );` just above the add_action hooks, and got:

which now appears as the only line in the error log.

Following @mikejolley's suggestion in https://github.com/woocommerce/woocommerce/issues/15969 I am able to force complete status, and it then  `woocommerce_payment_complete_ord

[2020-07-08 03:20] #26936 closed

[2020-07-08 04:03] om4james commented on #26847
Hi @ObliviousHarmony,

Do you think we're on the right track with a solution to this?

Any thoughts and/or guidance would be appreciated, as this issue affects a small portion of users using the WooCommerce REST API.

Thanks,

[2020-07-08 06:29] robi06 commented on #26969
Hi @juliaamosova,
   Thank you very much. Though i already tried what you just said, i will try again today with caution. Let's see what happen next. I will get back soon :)

[2020-07-08 06:34] Jersyfi commented on #26678
Still have the problem..

[2020-07-08 08:25] fesarlis opened #26975 "Greek characters as attribute names"
I am using latest Woocommerce.

My attributes have Greek names. Changing them is not an option.

The following permalink:

https://mydomain.gr/%ce%b5%cf%80%ce%b5%ce%be%ce%b5%cf%81%ce%b3%ce%b1%cf%83%cf%84%ce%ae%cf%82/amd/

Does not produce any results.

The followng permalink works fine.

https://mydomain.gr/product-category/refurbished/?pa_%CE%B5%CF%80%CE%B5%CE%BE%CE%B5%CF%81%CE%B3%CE%B1%CF%83%CF%

[2020-07-08 14:39] nicomollet opened #26977 ""Order Received" title is misleading when payment failed"
Hello

On the "order-received" endpoint, the title always is "Order Received".
If the payment was successful or even if the payment had an error.

Many customers of mine seem to be confused be the "Order Received" that kind of indicates that the order is processing.
Indeed there is an error notice below the title, explaining the error.
If they don't read the small notice, they would think it is al

[2020-07-08 15:08] #26547 closed

[2020-07-08 15:09] #25561 closed

[2020-07-08 17:24] raproenca commented on #26054
I can confirm this happens in my install as well. I, too, would like to see it fixed.

[2020-07-08 20:21] billipo opened #26982 ""you'd" text in Completed Order email template crashes the system"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Adding the word "you'd" into a copied Completed Orders email template crashes my admin interface when I try to mark an order as completed

[2020-07-08 21:36] juliaamosova commented on #26651
Hi @cristianciuberea,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-08 21:36] #26651 closed

[2020-07-08 21:47] juliaamosova commented on #25857
Hi @sara5387,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-08 21:47] #25857 closed

[2020-07-08 21:59] NanoCellWebDesign commented on #26029
I have the same issue trying to import 100 items with the products/batch api endpoint. it times out after 15001 ms everytime.
Why is the timeout limit not higher or why is the batch max items not smaller than that if the api is know to be slow

[2020-07-08 22:13] cartoonistarif opened #26985 "After update to version 4.3.0, my site broken"
After update to version 4.3.0, my site http://www.toonsmag.com broken. Not working, white screen. In the admin dashboard, it says, “There has been a critical error on your website. Please check your site admin email inbox for instructions”. In frontend “There has been a critical error on your website”.
Is there anyone who has an idea of how to fix the issue?

Site send me an email with the followi

[2020-07-08 22:19] viponedream opened #26986 "can not load fonts.googleapis.com/"
fonts.googleapis.com/icon?family=Material+Icons+Outlined&ver=1.3.0

you know in china, we can not load from some site
can we choose use local css  or remote css ?

[2020-07-09 02:34] johncline opened #26987 "no records for tracking of shipments after buying postage through your backend"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-09 03:02] rodrigohenning opened #26988 "Pages de conta não estão funcionando após atualização"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-07-09 07:52] ggmacasaet commented on #26654
hi @vedanshujain,

Any update on the inquiry above please?

[2020-07-09 09:20] ratzrattillo opened #26990 "Updated "Additional information"-field for product variations"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
When creating a product_variation, Woocommerce allows to specify

[2020-07-09 09:26] tammullen commented on #26988
Hi @rodrigohenning

Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

"Account pages are not working after upgrading"

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without t

[2020-07-09 10:02] laurentdebricon opened #26991 "Display Paypal fees in Orders, like Stripe does."
You can see **Stripe Fee** :
![Screenshot from 2020-07-09 11-58-32](https://user-images.githubusercontent.com/736104/87026112-903ae980-c1db-11ea-85e9-159a67aa7942.png)

https://github.com/woocommerce/woocommerce-gateway-stripe/blob/f597353e4a0caf7fd426e53a7f41262ad5ab3cb5/includes/class-wc-gateway-stripe.php#L705

it would be great if we have the same for Paypal :
I can see the fee is stored in "P

[2020-07-09 10:37] jconroy commented on #26499
We've rearranged things a little in wc-admin 1.3 / WC 4.3 - because the marketing tab is set up setup as a feature in wc-admin you can actually use the [woocommerce_admin_features](https://github.com/woocommerce/woocommerce-admin/blob/main/src/Loader.php#L129) filter to get selective about what features you wish to enable/disable if you wish.

I've updated my [original gist](https://gist.github.co

[2020-07-09 10:40] gbruzzo commented on #26499
@jconroy

thank you very much, I will study woocommerce_admin_features now.

Appreciated

Giacomo Bruzzo

[2020-07-09 11:17] jessepearson opened #26992 "Subcategory available under 2 urls"
We [received a thread in the support forums](https://wordpress.org/support/topic/2-x-urls-for-product-subcategories/) concerning an issue that I am able to replicate. The initial report is:

I set up a fresh WooCommerce install, and did not update permalink structure and was able to replicate. I created a single product and added a parent category, then a subcategory under that parent. I was able

[2020-07-09 12:51] oweichpold opened #26994 "Different languages on the dashboard"
Woocommerce 4.3 is set to German, but on my dashboard texts are still displayed in english:

![woocommerce_4_3_dashboard](https://user-images.githubusercontent.com/6630469/87041943-452cd080-c1f3-11ea-8ef4-1f679c56ee1d.png)

The translation files are correct, apparently there is an error in the output.

Many thanks in advance!

Best regards!

[2020-07-09 13:43] ultrawebmarketing opened #26995 "Show database name in System Status"
**Is your feature request related to a problem? Please describe.**
Not related to an issue more of just information readily displayed

**Describe the solution you'd like**
In the database section of the System Status page, can we please have the database name displayed? It would really help when managing multiple sites that use their own database.

**Describe alternatives you've considered**
Curre

[2020-07-09 13:49] nextsmarter opened #26996 "WooCommerce Upgrade issue fatal error"
After upgrade to newest woocommerce version, our site broken with below error:
-----------------------------------------------------
Fatal error: Uncaught Exception: Invalid data store for admin note. in /home/offshor1/ithotelpro.com/wp-content/plugins/woocommerce-admin/src/Notes/DataStore.php:127 Stack trace: #0 /home/offshor1/ithotelpro.com/wp-content/plugins/woocommerce/includes/class-wc-data-s

[2020-07-09 14:52] pmcpinto commented on #26972
@juliaamosova just a heads up that we decided to postpone this change until 4.5. Thanks

[2020-07-09 14:55] juliaamosova commented on #26972
Thanks @pmcpinto! Updating the milestone.

[2020-07-09 15:03] juliaamosova commented on #26996
Hi @nextsmarter,

Thank you for reporting the issue. We are aware of it and looking at it as we speak.

This issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/26985. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

Thanks for your patience as we figure out the fix!

[2020-07-09 15:03] #26996 closed

[2020-07-09 15:05] juliaamosova commented on #26985
Hi @cartoonistarif,

Thank you for taking the time to report this issue, we really appreciate your help. We are looking at it as we speak. Thanks for your patience while we figure out the fix! We might have a few follow-up questions in a bit.

[2020-07-09 15:17] asratech commented on #26990
Same Issue for my eCommerce :( please FIX ASAP

[2020-07-09 15:19] asratech opened #26997 "Updated "Additional information"-field for product variations"
When creating a product_variation, Woocommerce allows to specify variation-specific attributes. When selecting a variation, the Tab "Additional Information" which displays the product attributes does not get updated, but rather displays the attributes of the parent product.
I believe that variation attributes should be displayed for the currently selected variation and not only for the parent prod

[2020-07-09 15:30] oweichpold commented on #26994
Short update, when I change the language to "German formal (Sie) - de_DE_formal", Woocommerce appears completely in English, only with de_DE it works (partially).

[2020-07-09 15:37] kishandhanak commented on #26985
Hello, I'm getting the same issue. Error message below:

WordPress database error: [Unknown column 'layout' in 'field list']
SELECT name, type, locale, title, content, content_data, status, source, date_created, date_reminder, is_snoozable, layout, image FROM wp_wc_admin_notes WHERE note_id = 19 LIMIT 1

Fatal error: Uncaught Exception: Invalid data store for admin note. in /public/wp-content/plug

[2020-07-09 17:07] ObliviousHarmony commented on #26847
Hi @om4james,

Your solution is alright, though, I'll note you don't need to call `is_request_to_rest_api()` because `authenticate()` already does so. I wonder if given the restrictions we've placed on authentication if we should stop listening to `determine_current_user` and authenticate on `rest_api_init` instead? There's an open [Trac ticket for Core](https://core.trac.wordpress.org/ticket/4658

[2020-07-09 18:56] juliaamosova commented on #26995
Hi @ultrawebmarketing,

Thank you for taking the time to share this idea, we really appreciate your help. Sounds like an interesting and useful addition.

[2020-07-09 20:44] dsmithweb opened #26999 "For products "Sold Individually," trying to add a second of the product to the cart redirects to the product page"
This is possibly related to https://github.com/woocommerce/woocommerce/issues/24550

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When clicking the "Add to cart" button from the shop o

[2020-07-09 20:48] helgatheviking opened #27000 "Add WordPress.com hosting in the system status"
The system status is really helpful when a support ticket is forwarded my way. I've recently noticed that my plugins are available in to wordpress.com sites, but it's not always obvious which tickets are related to wordpress.com and which are self-hosted. It would be helpful if this info was added to the system status somehow.

[2020-07-09 20:52] senff opened #27001 "Product Data box in product editing screen does not save open/close status"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When you edit a product, and you change the status/visibility of the **Product data** box (either from _open → close_ or from _close → open

[2020-07-09 20:54] juliaamosova commented on #26994
Hi @oweichpold,

Thank you for reporting the issue. I confirm that I can reproduce the same. Here is, for example, a detailed stats overview page of WooCommerce Admin (note that some strings are in German and some are in English):

![Screen Shot 2020-07-09 at 3 00 05 PM](https://user-images.githubusercontent.com/19143190/87084223-e15ad580-c1fb-11ea-851c-15517c0da4b8.png)

What I've done so far on

[2020-07-09 21:09] helgatheviking opened #27002 "Pass $product_data WC_Product object to woocommerce_add_cart_item_data filter"
**Is your feature request related to a problem? Please describe.**
When filtering the the `woocommerce_add_cart_item_data` if you want access to the product object you need to re-instantiate a product from the `$product_id` parameter. However in the cart class, the product is already instantiated via [`$product_data = wc_get_product( $variation_id ? $variation_id : $product_id );`](https://github.

[2020-07-09 22:48] hounw commented on #20540
how is this not a feature yet? you have to duplicate the api calls or implement some sort of cache on the other end to make the process more efficient.

I do not see anyone updating products by anything OTHER than sku... I could be wrong, monumentally wrong, but I don't see it :S

How do big ERPS like dynamics or SAP do this? do they keep a second id for the product? what if you only sync inventor

[2020-07-09 23:44] adeelulrahman commented on #22557
I am having the same issue of `# is an invalid image ID.`

I want to upload Google Photos or Google Drive photos but the problem is that they do not take an extension. I am doing this for a client and cannot roll-back WooCommerce to 3.5.3.

Any suggestions for me?

[2020-07-10 01:36] helgatheviking opened #27003 "Master branch still says Version: 4.3.0-dev"
The master branch still says `Version: 4.3.0-dev` in the woocommerce.php plugin header. Should this be either 4.3.0 or dev for the next version?

[2020-07-10 04:28] SiR-DanieL opened #27004 "Home "Connect to WooCommerce.com" visible also while connected"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-10 04:35] mensmaximus commented on #26991
https://de.wordpress.org/plugins/woocommerce-gateway-paypal-express-checkout/ already does.

[2020-07-10 06:46] ObliviousHarmony commented on #26074
Closing this as I've opened a PR in the subscriptions repository.

[2020-07-10 06:46] #26074 closed

[2020-07-10 08:38] kylemcph commented on #25895
Another report [from the forums](https://wordpress.org/support/topic/critical-error-89/).

[2020-07-10 08:40] peterfabian commented on #27004
Thanks @SiR-DanieL , we already have that one logged as https://github.com/woocommerce/woocommerce-admin/issues/4673

[2020-07-10 08:40] #27004 closed

[2020-07-10 09:22] TomzLv opened #27005 "Product status changes to Out Of Stock after updated or selecting Featured"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have s

[2020-07-10 10:11] SiR-DanieL opened #27006 "Quick Update Regular Price sets Sale Price to 0"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-07-10 10:12] SiR-DanieL commented on #27006
Refreshing fixes the prices, but right after saving from the quick update still shows the sale price to 0.

[2020-07-10 10:56] oweichpold opened #27007 "Customer deletion"
Hello!

How can I delete a customer including orders if a deletion is requested according to DSGVO or if a customer record is incorrect?

On the admin page I can only delete the user but not the woocommerce customer.

Thanks a lot in advance!

Best regards!

[2020-07-10 11:49] everaldomatias commented on #27007
Hello!
Look at this topic: https://wordpress.org/support/topic/delete-customers/page/2/#post-13080492

[2020-07-10 12:15] senff opened #27009 "PhotoSwipe lightbox "close" button obscured by admin bar"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When logged in with an admin account, and looking at a zoomed image, the admin bar at the top of the screen will hide the number of images

[2020-07-10 13:07] Manikandan-Terencenet opened #27011 "Woocommerce Rest API is not working on my website"
I have created a new API keys in woocommerce with read and write permissions. but i used this API keys in my API functionalities, it's return "Error: Sorry, you cannot list resources. [woocommerce_rest_cannot_view]". Please let me know what i am missing.

We tried some below solutions, but doesn't works.

1. Added the this code "RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]" in hta

[2020-07-10 13:41] peterfabian commented on #27011
Hi @Manikandan-Terencenet

I've just tested using the following steps:

In WooCommerce > Settings > Advanced > REST API, I've created a new key pair (consumer key and consumer secret)

In Post Man, I go to Authorization and select OAuth 1.0, use the consumer key and secret and then tried sending a GET request to https://example.com/wp-json/wc/v3/products, which seemed to work fine:

![Screenshot 2

[2020-07-10 13:43] kingplugins opened #27012 "is_vat_exempt removes VAT from shop pages only if prices are entered inclusive of tax"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-07-10 13:45] #27011 closed

[2020-07-10 13:51] peterfabian commented on #27009
Thanks, confirmed, works ok with Divi, not with Storefront or Twenty twenty.

[2020-07-10 13:52] siva-gith opened #27013 "Woocommerce Rest API is not working on my website"
I have created a new API keys in woocommerce with read and write permissions. but i used this API keys in my API functionalities, it's return "Error: Sorry, you cannot list resources. [woocommerce_rest_cannot_view]". Please let me know what i am missing.

We tried some below solutions, but doesn't works.

1. Added the this code "RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]" in hta

[2020-07-10 13:59] peterfabian commented on #27007
Thanks for commenting, @everaldomatias , and for providing more context.
@oweichpold , please follow the updates on this ticket: https://github.com/woocommerce/woocommerce-admin/issues/3810.

I'm closing this one as a duplicate. Thanks for understnading.

[2020-07-10 13:59] #27007 closed

[2020-07-10 14:02] peterfabian commented on #27013
Hi @siva-gith ,

Apologies if it's unrelated, but this ticket seems very similar to another one in our repo: https://github.com/woocommerce/woocommerce/issues/27011, so I'll copy my question from the comment I made on that one: Are you trying to use Basic Auth or OAuth? Are you calling the endoint with the correct protocol (http vs https)? Are you using any managed hosting (maybe their support can

[2020-07-10 14:04] peterfabian commented on #27003
Thanks @helgatheviking , waiting for a good soul to review my PR :)

[2020-07-10 14:05] #27003 closed

[2020-07-10 14:15] siva-gith commented on #27013
Hi Peter,

Thanks for your response. Yes we are using basic auth and we are calling correct endpoint with https. Please share your thoughts.

[2020-07-10 15:05] woorise opened #27014 "Status page: Slow loading speed on multisite"
On a multisite installation with thousands Sites I have enabled WooCocommerce only on main site.

The issue is when I try to visit the WooCommerce Status page, it takes forever to load it due to thousands sites/tables in database.

[2020-07-10 15:57] shadtek commented on #25233
What does the error on this page mean?
https://travis-ci.org/github/woocommerce/woocommerce/jobs/704421038

[2020-07-10 17:51] FreshPhil opened #27015 "Shipping Wildcards not fully inclusive when used in a range"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have sea

[2020-07-10 18:56] pikurasa opened #27016 "No Login Necessary for "Pay Later""
**Is your feature request related to a problem? Please describe.**
I sell (teaching) services and many of my clients ask me to book (classes) for them. For this, I use the "pay later" feature in WC (thank you). However, when I send customers the link, the are first prompted to log-in before they pay. This has caused so much friction with the payment process because so many people cannot remember t

[2020-07-10 21:01] StefanPeev commented on #26985
@juliaamosova I confirm the same error message.

[2020-07-10 21:11] alondrasansan opened #28095 "Create new product ~ 400: Invalid or duplicated SKU"
Hi everyone!

I'm having problems creating new products in two stores in WooCommerce, I send the request and the response is "Invalid or duplicated SKU", and status code 400. However, the product is created, after the petition I can see the product in the stores with the correct information.

I tried to delete the products, and then clear transients, but the issue is always the same.

Please, any

[2020-07-11 00:07] anytrade opened #27018 "failed to open stream: No such file or directory in \wp-includes\l10n.php on line 1096"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-11 00:12] ScottTravisHartley opened #27019 "Rest API Returning A 403 Error When User Isn't Logged In"
This issue was brought to my attention by a client site. They have a form that was built using WS Forms and it's a respective addon for WooCommerce. Their site was fully updated.

When you're logged into the website and use the form it submits when you're logged out however it returns an error code.

{code: "rest_cookie_invalid_nonce", message: "Cookie nonce is invalid", data: {status: 403}}

So,

[2020-07-11 10:00] Adetiwa commented on #19536
Hello Mikejolley,

Please confirm if you now have the shipping calculation especially for Table rates on the rest APIs.

Thank you.

[2020-07-11 10:44] ramonfincken commented on #12285
Please note: that is it NOT your endpoint that is slow, it is your whole website when logged in the wp-admin or when having something in cart.

We wrote some articles about this , they are still accurate these days https://www.managedwphosting.nl/tag/ajax/

[2020-07-11 14:01] 4refael opened #27021 "On checkout, entering an invalid phone number incorrectly marks the input as valid"
**Prerequisites:**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
On checkout, entering an invalid phone number will mark the phone as valid (green border) instead of as invalid (red border).

**Expected behavior**
If phone number is invali

[2020-07-12 02:41] jsfry commented on #25895
I too just encountered this error and it broke my site.  I am not using wpengine .  I am on digital ocean using a vps.  Details are:
Ubuntu server 18.04 & apache 2.4 (lamp)WordPress version 5.4.2
Current theme: BizPlus Pro (version 1.0.3)
Current plugin: WooCommerce (version 4.3.0)
PHP version 7.4.5
mysql 8

Error Details
=============
An error of type E_ERROR was caused in line 44 of the file /va

[2020-07-12 03:16] fluxpixel commented on #26839
Im having the same exact problem. any fix for this? Will 4.3 version solve the problem? Im running woocommerce 4.2.2

[2020-07-12 03:24] galbaras commented on #25788
Besides the UX point, to which I agree, showing correct amounts seems to be a rather basic requirement for a shopping cart system, so perhaps the numbers can be fixed quickly, and the UX changed later?

[2020-07-12 10:22] kandpalnavi opened #27022 "Duplicate Order# and Order not Showing"
Someone placed an order on my website originalbucket.com and I got the mail two times with the same order id (#12128).

Also, only one order is showing at the backend whereas both the customers have successfully paid the payment for the order.

![Order-Bug](https://user-images.githubusercontent.com/68184893/87243908-9210e100-c457-11ea-82ae-ecd716693a5c.jpg)

[2020-07-12 17:15] Jiraci commented on #25133
You said you woukd look at it the past week, any updates?

[2020-07-12 17:23] HikeMike commented on #26468
This is a great shout! I've added it in as a PR.

[2020-07-12 19:34] ash-f opened #27024 "Tax calculation bug in WP admin"
Shipping shown with tax even if the shipping is set as non taxable in WP admin.
(It's shown without tax only when Settings>Tax>Shipping tax class set to be Zero rate)
Though checkout screen, email and payment gateway(Paypal) shows the shipping without tax correctly.

https://share.getcloudapp.com/WnubWoJ6

WordPress: 5.4.2
Woocommerce: 4.2.2

[2020-07-12 20:40] ash-f commented on #27024
I think Shipping checkbox in Tax rate setting affects display of orders in WP admin regardless of Shipping method setting.
https://share.getcloudapp.com/WnubWoQw

[2020-07-12 21:02] palbera commented on #26474
Hi @CGlingener

I am facing with same issue with chrome and is very annoying

You wrote that you developed a function to disable `no-store` http response header, could you please share it in order to copy and paste in the functions.php file?

I will appreciate it

Thanks

[2020-07-13 08:15] CGlingener commented on #26474
@palbera

we're using this temporary fix:

[code]

[2020-07-13 08:39] isagofe opened #27025 "identify product in the order confirmation email adding photo"
What I think needs to be improved is not a mistake per se.
It is a suggestion rather than a mistake.

When you receive a notification by email that an order has occurred on a website, woocomerce provides a detailed order note with quantity, product, price, delivery address ...
The point is that when you have a large inventory, or that order is prepared by someone who does not know all the products

[2020-07-13 08:56] stefanstatescu1 opened #27026 "0.01 inconsistencies between price and subtotal"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

The issue has been discussed:
https://wordpress.org/support/topic/rpoblem-rounding-taxes-woocommerce/
https://wordpress.org/support/topic/wrong-round-in-cart-an

[2020-07-13 09:36] palbera commented on #26474
Thanks a lot @CGlingener, your workaround works like a charm

I hope this solution would be implemented soon by the woocommerce dev team

Cheers

[2020-07-13 10:50] jessepearson opened #27027 "Tutorial boxes on product not pointing correctly"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The tutorial boxes displayed on products do not line up correctly with Virtual and Downloadable boxes, and possibly other things. This is s

[2020-07-13 12:02] mikejolley commented on #19536
@Adetiwa no not in the core rest api.

[2020-07-13 12:19] peterfabian commented on #27022
Hi,

Thanks for reporting the problem. Can you please add [System status report](https://docs.woocommerce.com/document/how-to-review-your-woocommerce-system-status/) to your report? Ideally, we'd need to have steps to reproduce the problem, but I understand it might be difficult with similar issues. However, I have seen these sometimes caused by other plugins, so if you think there's a way how you

[2020-07-13 12:25] kandpalnavi commented on #27022
Here is the System Status Report:

`
### WordPress Environment ###

WordPress address (URL): http://www.originalbucket.com
Site address (URL): http://www.originalbucket.com
WC Version: 4.3.0
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.1
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.3.0
Log Directory Writable: ✔
WP Version: 5.4.2
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mo

[2020-07-13 12:37] peterfabian commented on #27019
Hi Scott,

Thanks for reporting the issue. Would you be able to create a minimal example showing when this problem is happening for you on 4.3 so that we can run it ourselves?

When looking at the error message, it seems to be coming from [standard WordPress code checking the nonce code](https://github.com/WordPress/WordPress/blob/master/wp-includes/rest-api.php#L950) in the cookie. Looking at the

[2020-07-13 12:39] peterfabian commented on #27018
Hi @anytrade ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-07-13 13:00] vedanshujain commented on #26901
This is a recent enhancement to our processes, and we now run it on every release since the last few releases. This is particular filter was deprecated before we started doing this, and this is why it was missed.

cc @woocommerce/proton  if we can do anything to reach out to Themeforest etc about deprecated filters/hooks in their themes.

[2020-07-13 13:18] peterfabian commented on #27016
Hi @pikurasa ,

Thanks for submitting your idea. I believe this might have some security implications if not done correctly, so we would have to be careful. Let's see if this get enough traction in our feature vote.

[2020-07-13 13:18] #27016 closed

[2020-07-13 13:27] dokker opened #27029 "Apply coupon when all products are on sale"
I cannot apply coupons with "Exclude sale items" setting when the cart only has items on sale. (It works as intended I know)
I need to apply other things in this case too.

Can I somehow accept the coupon in this situation? Of course don't want any discount in this case, just accept the coupon.

Is there any way to ignore E_WC_COUPON_NOT_APPLICABLE error?

[2020-07-13 14:04] claudiosanches commented on #26994
Hello @oweichpold

So I just checked and I noticed that the `de_DE_formal` translation is implement, it's missing 252 strings to translate, you can see all missing strings in: https://translate.wordpress.org/locale/de/formal/wp-plugins/woocommerce/

Only the `de_DE` is complete, as you can see in: https://translate.wordpress.org/locale/de/default/wp-plugins/woocommerce/

[2020-07-13 16:18] shaunkuschel opened #27030 "Products with no "Per Class" Flat Rates set for their class can be purchased if cart contains another class that does have rates"
**Prerequisites (mark completed items with an \[x\]):**

- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**<br>When using "Per Class" calculations in the Flat Rate method (not "Per Order"), products of shipping classes that do not have rates en

[2020-07-13 17:27] marcochiesi opened #27031 "Setup Wizard not translated"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When WordPress is set with a language other than English, the WooCommerce Setup Wizard is displayed (mostly) in English, even if all the strings

[2020-07-13 17:35] thd-fox opened #27032 "REST API /wc/store/cart* endpoint documentation needed - Headless WooCommerce"
I searched for a long time on the internet and also here in the existing issues.
Though I found nothing about the cart rest endpoint.
I'm going to build a headless WooCommerce client.
I'm running against various errors that I need to get rid of by reverse engineering the woocommerce code.

I found a plugin that provides a payed solution but I don't want to rely on it as there are obvious bugs foun

[2020-07-13 17:47] vedanshujain commented on #26654
Hi @ggmacasaet, sorry for late reply.

I have changed the code a bit more after you were provided with the original code snippet, and since those changes are not trivial to apply, I would recommend that you wait till the PR is approved (its under review right now). The changes are bit more complicated than they were earlier.

That said, I did test out the specific case that you mention with exact

[2020-07-13 17:48] seb86 commented on #27032
Have you had a [look at CoCart](https://github.com/co-cart/co-cart) @thd-fox It's a REST API designed to build a headless WC store.

[2020-07-13 17:51] thd-fox commented on #27032
@seb86 yes I already had a look on this plugin. But why use a plugin if there already is this native woo api endpoint. I don't want to have an extra dependency of a payed plugin. If I can't figure it out I will need to use this plugin. Thank you for your suggestion. :)

[2020-07-13 17:54] seb86 commented on #27032
CoCart was built because there was no native API at the time. Plus the new routes are designed for internal use only for the cart and checkout blocks. Not for headless purposes.

[2020-07-13 18:06] FreshPhil opened #27033 "Apostrophe not working in coupons"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have sea

[2020-07-13 18:36] juliaamosova commented on #27033
Hi @FreshPhil,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I created a coupon `abc's`:

![Screen Shot 2020-07-13 at 2 29 00 PM](https://user-images.githubusercontent.com/19143190/87340046-8daafd80-c515-11ea-812f-e90351761c03.png)

While logged in as Admin, I placed items to cart and was able to successfully apply the coupon:

![

[2020-07-13 18:42] juliaamosova commented on #27032
Hi @thd-fox,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that we could reply at the right place.

However, please note that we currently don't have a cart endpoint in the WooCommerce REST API.

[2020-07-13 18:46] juliaamosova commented on #27031
Hi @marcochiesi,

Thanks for reporting the issue. It seems similar to https://github.com/woocommerce/woocommerce/issues/26994. We are still investigating the translation issue and will be updating this thread with our findings soon. Thanks for your patience!

[2020-07-13 20:30] juliaamosova commented on #27029
Hi @dokker,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](http

[2020-07-13 20:30] #27029 closed

[2020-07-13 21:22] juliaamosova commented on #27030
Hi @shaunkuschel,

Thank you for taking the time to report this bug and provide a detailed explanation. I can reproduce it on my end.

Documenting my steps below just in case.

My shipping settings:

![Screen Shot 2020-07-13 at 5 00 41 PM](https://user-images.githubusercontent.com/19143190/87353310-817d6b00-c52a-11ea-8c40-66a78bd53636.png)

New York Flat Rate:

![ny](https://user-images.githubuser

[2020-07-13 21:29] juliaamosova commented on #27027
Hi @jessepearson,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/26006. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-07-13 21:29] #27027 closed

[2020-07-13 21:30] juliaamosova commented on #26006
I am changing the priority of this issue from `low` to `high` since its been reported several times and also because having this bug doesn't provide a good first impression for new users.

[2020-07-13 21:40] juliaamosova commented on #27025
Hi @isagofe,

Thanks for submitting your improvement idea! There is a way to add a product image to WooCommerce emails. It can be done by using the code snippet that you can find in the article below:

https://jilt.com/blog/add-product-images-or-skus-to-woocommerce-order-emails/

To add a snippet without modifying the actual files of WooCommerce, you can use a plugin called Code Snippets which wil

[2020-07-13 21:40] #27025 closed

[2020-07-13 21:41] juliaamosova commented on #27024
Hi @ash-f,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking

[2020-07-13 21:44] juliaamosova commented on #26923
Hi @gevcen,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-13 21:45] juliaamosova commented on #26916
Hi @yungaro,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-13 21:45] #26916 closed

[2020-07-14 05:21] hxdev commented on #26985
Same here!

`
WordPress database error: [Unknown column 'layout' in 'field list']
SELECT name, type, locale, title, content, content_data, status, source, date_created, date_reminder, is_snoozable, layout, image FROM wp_wc_admin_notes WHERE note_id = 24 LIMIT 1

Fatal error: Uncaught Exception: Invalid data store for admin note. in /var/www/thewebsite/wp-content/plugins/woocommerce-admin/src/Notes

[2020-07-14 06:03] JacobSussan commented on #26985
I was able to fix this issue by manually adding a `layout` and `image` column to `wp_wc_admin_notes`.

After I finished the update and refreshed my database some of those rows were populated with text.

As far as I can tell this fixed the issue for me with no side effects, everything works now.

[2020-07-14 10:23] jessepearson commented on #26006
Adding "tutorial" in here for search purposes.

[2020-07-14 13:37] morganhvidt opened #27034 "Add filter to change the amount of reserved stock minutes."
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/a404e5b24814240f15e50aa4f983b787bb9b36f1/src/StoreApi/Routes/Checkout.php#L307

10 minutes is hardcoded when reserving stock for orders. It would be great to have have a filter to change the amount of minutes.

Thanks!

[2020-07-14 13:39] nerrad commented on #27034
Note, as an update, the functionality being mentioned in this issue is now in WooCommerce Core. Any filter, if added would likely be added around here: https://github.com/woocommerce/woocommerce/blob/0b3900b84a16a819d2e5e25eab73fb81df0c8547/src/Checkout/Helpers/ReserveStock.php#L69

[2020-07-14 18:11] shiki opened #32274 "Mobile-friendly wc-analytics/leaderboards API Response"

[2020-07-14 18:37] rrennick opened #27036 "Clean up internal deprecation documentation"
I ran the following command in the `/includes/` folder:

[code]

These should be cleaned up so we have proper documentation throughout the codebase.

[2020-07-14 19:43] rrennick commented on #26689
Closing this as it needs to be addressed on WordPress.com. The privacy setting is a user setting vs a site setting and WordPress.com will need to add logic to convert the site owner's setting to a site setting.

[2020-07-14 19:43] #26689 closed

[2020-07-14 19:56] Joshykins opened #27037 "No Attributes for a product"
https://github.com/woocommerce/woocommerce/commit/cecfee4f57e757e01c395df70a44e95785ecc1d7.

This commit is causing issues with our stores as attributes.count is zero and attributes.chosenCount is zero. This causes the comparison to fail, because there are no attributes.

This comparison initially looks wrong to me, True should never be equal to a count..?

[2020-07-14 20:21] peterfabian commented on #26467
Hi @akozer33 ,

Apologies for the delay in our response. We've modified some of the code related to the Notice, so if this is still a problem for you with WooCommerce 4.3, can you please include the System status report from WooCommerce > Status ([further info about System status](https://docs.woocommerce.com/document/how-to-review-your-woocommerce-system-status/))
I would be especially interested

[2020-07-14 20:33] kishandhanak commented on #26985
@JacobSussan Thank for this, can you confirm what `type` the columns should be when adding `layout` and `image`? e.g. longtext, text, etc

[2020-07-14 21:18] claudiosanches commented on #26995
I'm not sure about this request, the database name is a information on WordPress, not something we can control on WooCommerce.

[2020-07-14 21:21] claudiosanches commented on #26995
I just confirmed, WordPress shows the "Database name" in the Site Heath, see: `wp-admin/site-health.php?tab=debug`

This is how it shows up for me:

![Screenshot from 2020-07-14 18-21-13](https://user-images.githubusercontent.com/1264099/87477638-d1c5fd00-c5fe-11ea-8d72-6feec8edf4f1.png)

I'm going to close since it's already part of WordPress core.

[2020-07-14 21:21] #26995 closed

[2020-07-14 22:02] ObliviousHarmony commented on #25518
Hey @juliaamosova,

I wonder if this is actually something we should change? My thinking is that a merchant may knowingly do this after making a sale via chat or email but not want users to be able to backorder the product under normal circumstances. What do you think?

[2020-07-15 02:25] KoolPal commented on #25518
@ObliviousHarmony As a store owner this is NOT a bug but a desired feature for the same as reason as explained by you.

Else think about the mess for the store owner. Increase stock by 1 and then rush to make a manual order and hope that nobody purchases by then!
Additional mess if store owner has some plugin which sends out some "back in stock" notification email.

Please do NOT change this! Than

[2020-07-15 03:04] mensmaximus commented on #26985
@kishandhanak
layout | varchar(20)
image | varchar(200)

[2020-07-15 03:25] lancekeltner7 opened #27039 "Woocommerce Coupon duplication brings stats instead of reset"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

If you duplicate a coupon that has usage statistics on it. (IE

[2020-07-15 03:26] #27039 closed

[2020-07-15 03:27] lancekeltner7 commented on #27039
put this in the wrong area. needs to be in bug reports.

[2020-07-15 07:41] RoqueCampos commented on #26054
I would like to delete this information as well. We are migrating a custom made store into WC, because of that we are creating users and orders many times, fixing bugs, and launching the import process from start again.

But the information under Woocommerce -> customers keeps aggregating all the orders from pasts imports, although the data related was deleted.

Is there a way to delete this infor

[2020-07-15 10:53] smachi opened #27040 "New hook needed on \WC_Product_Data_Store_CPT::get_query_for_stock()"
Since WC 4.3 and its new "reserved stock" functionality (that's great, btw), the `\WC_Product_Data_Store_CPT::get_query_for_stock() `method is being used internally to compare stock against the reserved stock table, but we have some plugins that are altering the stock sources and the value stored in the '_stock' meta is not the total available for these cases, so it would be great to have a filter

[2020-07-15 11:34] akozer33 commented on #26467
So this issue should be fixed with 4.3?
[image: Pu9xVizQ.png]

On Tue, Jul 14, 2020 at 3:21 PM Peter Fabian <notifications@github.com>
wrote:

--
Aubrey Kozer
Media/Operations Coordinator
The Flexible Dieting Lifestyle

[2020-07-15 13:18] Konamiman commented on #26641
Of note, the issue is present also when applying coupons to existing orders, regardless of whether they were created manually or not.

[2020-07-15 13:35] ggmacasaet commented on #26654
@vedanshujain does that mean this has not been shipped yet to the latest woocommerce version?

[2020-07-15 14:07] peterfabian commented on #26617
Hi,

looking at the code now, the shipping address is only displayed if:
- Shipping destination is NOT set to Force shipping to the customer billing address, and
- Shipping method is set to sth else than `Local pickup`

If removing `wc_ship_to_billing_address_only()` call helps, I think it means that `Shipping destination` is set to `Force shipping to the customer billing address`. There is no fil

[2020-07-15 14:31] peterfabian commented on #26467
There have been some updates to the code that displays the notices, but nothing in particular to fix your problem.

Therefore, I wanted to understand if you still face the same issue and if yes, if you could provide us with some additional information that might help us and point us in the right direction. Thanks.

[2020-07-15 14:35] gglobalstep opened #27061 "respect "Individual use only" coupon in dashboard order edit"
## Bug Description:
"Individual use only" option present under coupon management is Non-functional while placing order from WooCommerce dashboard.

## Environment:
Windows 10, MAC Mojave v10.14.6
**Browser**: Chrome(Version 83.0.4103.116) (64-bit)
                    Firefox (Version 78.0.2)(64-bit)
                    Safari(Version 13.1.1)

## Steps to Reproduce:
1. Create a site using Jurassic

[2020-07-15 14:51] martenwallewein opened #28100 "customer meta_data is merged into customer via wooCommerceApi.post('customers/batch', ...)"
Hey all,

I've ran into an issue where we set meta_data in `wooCommerceApi.post('customers/batch', ...)` to edit meta_data of a customer. The problem is, that after setting the following meta_data, the `id` of the respective customer was overwritten.

Please consider the following example. We created a customer without meta_data and got one with id `123`. Then we update this one with the meta_data

[2020-07-15 15:36] vinodkumarsinguru opened #27041 "Tax rate is not reflecting in the checkout page even though all settings are done in Woocommerce plugin"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-15 18:37] m-adilshaikh commented on #25652
@claudiosanches @kickbk Close this enhancement, it's illogical. There's a `restored` hook which corresponds to admin flows. Trash is not an `update`. This update alone would break a billion integrations including ours at Personide.

If anything, there should be a separate event for `deleted-permanently`.

[2020-07-15 18:44] #25442 closed

[2020-07-15 19:19] juliaamosova commented on #27041
Hi there @vinodkumarsinguru,

Thank you for raising the issue. However, you completely ignored the issue template which is there for a reason. Please fill out all the necessary details and provide us with screenshots of your tax settings and clear steps to reproduce the issue including expected result vs what you are getting.

[2020-07-15 19:54] juliaamosova commented on #27037
Hi @Joshykins,

Thank you for raising the issue. Can you please provide an example of the use case where this is an issue? In other words, how to replicate the issue on the site? Could it be related to how you have attributes set up?

[2020-07-15 21:19] juliaamosova commented on #25518
Thanks for questioning the issue @ObliviousHarmony and thanks for providing your feedback @KoolPal.

I am pinging @thomas-zg here for feedback who originally reported the issue: https://github.com/woocommerce/woocommerce/issues/25415#issuecomment-577407094.

I am not a store owner myself so it's hard for me to tell what is best. I do think that it doesn't make sense to be able to place manual orde

[2020-07-15 21:33] juliaamosova commented on #27026
Hi @stefanstatescu1,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end following the steps you provided:

![tax_issue](https://user-images.githubusercontent.com/19143190/87598625-38abea80-c6c1-11ea-9290-e66caf6b1cd4.jpg)

We’re going to look into solving this bug as soon as possible. 

[2020-07-15 21:38] juliaamosova commented on #27021
Hi @4refael,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![phone_number](https://user-images.githubusercontent.com/19143190/87600645-0353cc80-c6c2-11ea-96be-c1f17c2d55a0.jpg)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to

[2020-07-15 21:40] juliaamosova commented on #26988
Hi @rodrigohenning,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-15 21:40] #26988 closed

[2020-07-15 21:41] juliaamosova commented on #26969
Hi @robi06,

Please let us know if you've tested again and if you have any more feedback to share. Thanks!

[2020-07-15 21:42] juliaamosova commented on #26887
Hi @gevcen,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-15 21:56] juliaamosova commented on #27015
Hi @FreshPhil,

Thank you for taking the time to report this bug and providing clear steps to reproduce, we really appreciate your help. I am getting the same results using the steps to replicate you provided.

It seems a `low` priority bug to me and rather an edge-case. However, please feel free to correct me and we can evaluate the priority further.

We won’t be able to include this fix in the u

[2020-07-15 22:02] juliaamosova commented on #27014
Hi @woorise

Thanks for raising the issue. However, there is very little we can do with the information you provided. Can you please share more details about the sites and how many plugins do they have installed. Also how long is `forever`? Any other info you think can help us to look into this further will be helpful. Where are your sites hosted?

[2020-07-15 23:14] sterenas opened #27042 "CSV Product Export overwrites data in XLS"
CSV Export products with default options and metadata checkbox checked.
Open the CSV file in Excel.
I'd expect all data to be on column A only since this is a CSV file.
In Excel, Menu Data / Text to Columns and choose coma as the delimiter
You get a mess and data is overwritten

Site language = Spanish
Thousands separator = . (dot)
Decimal separator = , (coma)
Site has simple and variable products

[2020-07-16 01:12] claudiosanches commented on #26860
@kevinruscoe Thanks for sharing your thoughts, while I understand your point the Importer and Exporter features need to be user friendly, the more the best, even when things don't reflect what happens on the database.

[2020-07-16 01:49] claudiosanches commented on #27033
Duplicated of #23655

[2020-07-16 01:49] #27033 closed

[2020-07-16 01:50] claudiosanches commented on #26899
Duplicated of #23655

[2020-07-16 01:52] claudiosanches commented on #26985
cc @woocommerce/isotope

[2020-07-16 05:33] damiannep commented on #26985
Other reports of this issue in the forums:

- https://wordpress.org/support/topic/fatal-error-3558/#post-13129249
- https://wordpress.org/support/topic/woocommerce-error-after-update-to-4-3-0/

[2020-07-16 05:58] KoolPal commented on #25518
@juliaamosova Some quick notes:
1. The OP @ashraffarag reported this issue which could not be replicated.
2. @thomas-zg chimed in mentioning this could be replicated via Manual Order
3. Manual orders are Store owner / admin controlled. They **should know** what they are doing.
4. The scenario explained does not seem to be a normal situation in any day-to-day operations in any online store.
5. We s

[2020-07-16 06:26] woorise commented on #27014
Hey @juliaamosova

Thanks for your reply. I think the issue is related to the large database. There are more than 50.000 tables.

[2020-07-16 06:57] stefanstatescu1 commented on #27026
Thanks @juliaamosova .  If you have time to take a look at issue #27012 as well, at least just to confirm it on your end, I'd appreciate it.

[2020-07-16 08:50] simplenotezy commented on #23655
Would love to have this fixed. Huge issues for our website

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-07-16 12:26] delfniki commented on #18009
Same issue here - https://www.Lekkerhoning.nl
Created ticket on wordpress.org and stackoverflow..
https://wordpress.org/support/topic/woocommerce-order-updated-webhook-not-always-triggered/
https://stackoverflow.com/questions/62913040/woocommerce-order-updated-webhook-not-always-triggered

My webhook is triggering at order.updated action

Any idea on possible solution?

[2020-07-16 12:36] Archvist opened #27049 "Parent product meta data isn't correctly posted after a variation is edited"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When editing product variations parent product data is not posted and unsets/resets parent product metadata values.

I've created an additi

[2020-07-16 13:17] rrennick commented on #25518
As a store owner I don't want our customers to be able to back order. But I want to be able to put stock on hold for a customer so that when a new shipment arrives the stock will be allocated for that customer.

[2020-07-16 13:51] #24604 closed

[2020-07-16 14:56] claudiosanches commented on #26899
Sorry, in fact it calculates a little different, I'll check this issue later, but it isn't duplicated.

[2020-07-16 15:10] vallter2 opened #27051 "Copy button in orders detail"
It will be great if you can add small button in orders detail (modal and page) for copy Shipping details (name, address...) to clipboard. It will be useful when we need to copy shipping details in external program to print label...

[2020-07-16 15:17] juliaamosova commented on #25518
Thanks for your additional feedback @KoolPal. @rrennick thanks for your feedback as well. Both are very helpful. It sounds like we should leave this functionality the way it is. Let's close this issue, for now, as-is, and will evaluate further in case more feedback will be received asking for a change instead.

[2020-07-16 15:17] #25518 closed

[2020-07-16 16:15] #26860 closed

[2020-07-16 17:03] gglobalstep opened #27060 "[GlobalStep - 4.3] Coupon gets applied to the product automatically."
## Bug Description:
Coupon gets applied to the product automatically after removing product from the cart with applied coupon.

## Environment:
Windows 10, MAC Mojave v10.14.6
Browser: Chrome(Version 83.0.4103.116) (64-bit)
                    Firefox (Version 78.0.2)(64-bit)
                    Safari(Version 13.1.1)

## Steps to Reproduce:
1. Create a site using Jurassic ninja.
1. Install and ac

[2020-07-16 19:18] JacksonCleary opened #27052 "Shipping method that is unset using woocommerce_package_rates is still being calculated."
Hello,

- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

I found this when using the WooCommerce USPS shipping plugin, but I do not think it is confined to the USPS shipping plugin.

I have found that when using `woocommerce_package_rates` t

[2020-07-16 19:24] rai-acuariopro opened #27053 "Link "Learn more about Gift Cards" is broken it takes you back to the same page."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-16 20:06] juliaamosova commented on #27051
Hi @vallter2,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-07-16 20:09] juliaamosova commented on #27053
Hi @rai-acuariopro,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issue

[2020-07-16 21:00] rai-acuariopro commented on #27053
Ok, I don´t have time today.

Atentamente,
Rai Singh Uriarte
*Acuario Pro* Online Marketing

El jue., 16 jul. 2020 a las 16:09, Julia Amosova (<notifications@github.com>)
escribió:

[2020-07-16 21:16] juliaamosova commented on #27053
@rai-acuariopro thanks for the follow-up. Please let us know when you get a chance. It sounds like the link is coming from a plugin other than WooCommerce so it is possible you'd need to file the issue in another repository. But I can't tell which one without knowing the details that we are asking for.

[2020-07-16 21:55] ObliviousHarmony commented on #27034
While WooCommerce Core's usage of the `ReserveStock` class does indeed use the `woocommerce_hold_stock_minutes` option the Checkout block uses a default of 10 minutes. There's an [issue open in that repository](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/2882) now if you'd like to leave some comments on your take for a solution.

I've been thinking about the Core sid

[2020-07-16 22:42] rai-acuariopro commented on #27053
My fault, it is, it is coming from Gift Card plugin.

Atentamente,
Rai Singh Uriarte
*Acuario Pro* Online Marketing

El jue., 16 jul. 2020 a las 17:16, Julia Amosova (<notifications@github.com>)
escribió:

[2020-07-16 23:07] juliaamosova commented on #27053
@rai-acuariopro no worries and thanks for following-up. Please connect with the developers/support team of that Gift Card plugin so that they could take a look further.

I am closing this thread as this is a non-WooCommerce Core issue.

[2020-07-16 23:07] #27053 closed

[2020-07-17 03:48] morganhvidt commented on #27034
Thank you @nerrad for opening it back up here 😊

@ObliviousHarmony [I've added my comment to the other issue.](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/2882#issuecomment-659814643) Please read that. I'm sorry if I wrote it in the wrong place I got a little lost with these issues.

In response to  `woocommerce_hold_stock_minutes` in core. I do believe this needs to

[2020-07-17 04:54] ObliviousHarmony commented on #27040
Hi @smachi,

Thank you for taking the time to share this idea, we really appreciate your help.  While I'm generally against granular filters like this I think given that this method is already part of the public API we should add a filter of some kind to help customize this lookup.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to a

[2020-07-17 05:39] smachi commented on #27040
I understand. Thanks, @ObliviousHarmony

[2020-07-17 06:31] masteradhoc opened #27056 "Remove State Field for Country Liechtenstein"
Hi there

Liechtenstein is a very small country.
Because of the small popuplation of around 37'000 people we dont have states.

If country is liechtenstein please automatically remove the municipality/state field on checkout.
![Anmerkung 2020-07-17 083259](https://user-images.githubusercontent.com/6242098/87755911-330cec80-c808-11ea-96fc-881874c5e3c4.png)

Thanks
Brian

[2020-07-17 08:08] michi-dev commented on #27056
The same problem for me ... i totally agree

[2020-07-17 09:27] stuart-lambon commented on #25510
Hi, I wanted to have a go at solving this for my first issue but I can see it’s slightly more complicated that first thought.

The (optional) text should be added here:

https://github.com/woocommerce/woocommerce/blob/86311a9903eae582a3367acf48628bd0c775548d/includes/wc-template-functions.php#L2646

Rather than in the text here:

https://github.com/woocommerce/woocommerce/blob/86311a9903eae582a336

[2020-07-17 09:46] Arn2014 commented on #26757
Please give me some feedback, issue is still present

[2020-07-17 11:16] mmiszy commented on #27026
I also have the same problem, but the other way round 🙃 I enter prices tax exclusive and display them tax inclusive.
My product net price is 85.70, tax is 5% so the gross price is 89.99.
Now, when user adds, for instance, six products to the cart, the total is miscalculated as 539.91 instead of 539.94. This error occurs because the quantity is multiplied by the net price and then tax is added:
tot

[2020-07-17 12:56] nerrad commented on #27034
Thanks Morgan,

It is becoming apparent that there are different use-cases for Reserve Stock as you've noted - this is definitely something we'll have to work out as a team and something on our radar to deliberate.

Your suggestion regarding options is a good one too, I'm not sure we'll tie order status to it but there definitely are different contexts that could be configurable (as noted between

[2020-07-17 13:20] mmiszy commented on #27026
I managed to overcome the problem with the following filters. However, I cannot guarantee this handles all the scenarios:

[code]

[2020-07-17 15:36] jsakas opened #27062 "Replace jQuery animate based scrolling with Element.scrollIntoView"
**Is your feature request related to a problem? Please describe.**

I have found that `scroll_to_notices` often does not work well with websites that contain large sticky headers and have not found a good work around for this problem. It seems the current implementation adds 100px offset for scrolling, which is not large enough for some sites.

https://github.com/woocommerce/woocommerce/blob/9196b

[2020-07-17 16:27] Joshykins commented on #27037
Hey Julia!

Thanks for getting back to me, sorry my reply didn't go through. It could
most certainly be linked to how my attributes are being set up. The issue
is with our plugin, and how it imports products or displays products
somehow- this causes zero to be put into both the attributes.count and
attributes.chosenCount highlighted in the commit. For the previous commit
when it was just the compa

[2020-07-17 17:18] woorise opened #27064 "Slow queries warning on large database"
On WooCommerce version 4.3 I get a warning for slow queries from Query Monitor plugin. It's a multisite installation with more than 50.000 database tables. WooCommerce is only enabled on main site.

Please check the attached screenshot:

![Screenshot_2020-07-17](https://user-images.githubusercontent.com/22965450/87813349-6718f980-c86a-11ea-9b70-abe0c0b396c8.png)

[2020-07-17 17:19] Doublehead commented on #25524
I think my observations are related here. In my theme, if I hit refresh 1-7 times the hidden stock suddenly shows. And if I select an out of stock size, and say add to cart, it tells me to add something to the cart lol. Because that size should not exist and  by selecting hide out of stock products, it disables the Out of Stock message. Thereby utterly confusing the customer and making woocommerce

[2020-07-17 18:20] oempire opened #27065 "comment count / pending / trash incorrect - _transient_as_comment_count"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have s

[2020-07-17 18:24] oempire commented on #19621
im still having this issue with _transient_as_comment_count

[2020-07-17 19:59] matt-h opened #27066 "Async Webhook sends old information in order.update"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When changing order status in a Woo order; when the webhook `order.update` fires it is possible that it fires with the old status informati

[2020-07-17 20:06] matt-h commented on #27066
I have created a potential fix here: https://github.com/woocommerce/woocommerce/pull/27067

I'm not sure if this is the best way to fix this, but with this change in place I am no longer able to reproduce the bug with my tests here: https://github.com/matt-h/woocommerce-webhook-race

[2020-07-17 23:16] zfeezy commented on #26474
Thanks all @here, and fyi to anyone working on this -- the no-store issue from above was my culprit too, but it isn't only WooCommerce causing the issue. In my case it was the WP Migrate DB plugin. So... check your plugins!

[2020-07-18 05:48] morganhvidt commented on #27034
I fully agree with what you've said. It's amazing how my different businesses are running WooCommerce in different ways. The flexibility to bend WooCommerce to fit any business model is a huge selling point.

We might need to step back and analyze the whole picture, set a direction of these features, and how reserved stock/blocks will be integrated into core. Draft orders & stock reservation can b

[2020-07-18 09:39] medicalmart opened #27068 "Hi my wordpress paygate plugin is not working. when ever i tried to place an order it gives me an error "Thank you for shopping with us. However, we were unable to initiate your payment. Please try again." i want to know what is this?"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-18 11:38] mmiszy commented on #27062
You can easily override `jQuery.scroll_to_notices` with your own implementation. That's what I did to use scrollIntoView :)

[2020-07-18 13:18] rickdroio commented on #26612
Dears, do you have any feedback regarding this issue?

It's happening similar issue with me:
1 - order created as pending status >> hook fired
2- payment gateway response (less than 1 second)
3- order updated to processing status >> **hook not fired**

It is not happening 100% of cases, my guess it is when payment gateway responses is too fast.

Thanks

[2020-07-18 17:40] bd8392 commented on #26054
Same problem here...also want to delete...

[2020-07-18 18:19] Peter-27 opened #27070 "County/State Field Mandatory, But Not?"
Hello,

The "County (Optional)" field isn't optional as stated. When the user tries to proceed without entering anything, the following error message appears "billing state is a required field".

This could be particularly confusing to the user since the field title says county rather than state.

As a seperate, but related question, is there a way for me to change that pre-written text within the

[2020-07-19 04:21] jsakas commented on #27062
Ah yes, that would do the trick. Thanks.

[2020-07-19 06:55] streamworksaudio opened #27071 "Overriding Default WooCommerce endpoints."
I have a few custom endpoints that I have created and one of them contains download links and I currently have this custom endpoint labeled as 'purchased' and is working fine.  However, I wanted to change the name of it to 'downloads' but WooCommerce already has that endpoint created so my endpoint ends up including both my custom template as well as WooCommerce's default downloads template.

Is t

[2020-07-19 10:14] DavidHF opened #27072 "Upgrade failed"
Just ran the Woo update from WP admin /plugins and it failed miserably.

Fatal error: Uncaught Exception: Invalid data store for admin note. in /home/www/denrigtigemand.dk/wp-content/plugins/woocommerce-admin/src/Notes/DataStore.php:127 Stack trace: #0 /home/www/denrigtigemand.dk/wp-content/plugins/woocommerce/includes/class-wc-data-store.php(159): Automattic\WooCommerce\Admin\Notes\DataStore->rea

[2020-07-20 07:04] exepowered opened #27074 "Setup wizard redirects back to wp-admin"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I can't run woocommerce setup wizard on fresh installed wordpress.
Everytime I click on ,,Yes please" button on ,,Get your store up and run

[2020-07-20 07:11] exepowered commented on #27074
Okay, I found what causes the problem.

So, I use cloudflare for my website including Cloudflare plugin.
My domain name is holzfäller.de what is xn--holzfller-z2a.de (IDN).

I need to set my WordPress Address (URL) and Site Address (URL) to holzfäller.de so the cloudflare plugin can connect it with holzfäller.de from my cloudflare account. Otherwise it shows me that the domain is not configured /

[2020-07-20 08:32] caribouman opened #27076 "attributes not working in 4.3"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
when i pass to 4.3, on my single item page, i can t add product to cart. it tells me that i have no selected attributes.

**Expected beha

[2020-07-20 09:08] Spreeuw opened #27077 "Crash when applying coupon to order with deleted product"
**Prerequisites:**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When manually adding a coupon to an order in which there is at least one product that was deleted from the WC Product database, WC crashes/hangs, with the following stack tra

[2020-07-20 09:33] vedanshujain commented on #26654
@ggmacasaet No it's not, it will be shipped only after the PR is approved and merged.

[2020-07-20 10:02] ontiuk opened #27078 "Add granular attribute ordering at variation level"
This is further to the woocommerce ideas request which was closed without a real appreciation of how this can hinder many store users, something that many commenters have indicated in the 6 years since it was rejected: https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/2650776-be-able-to-sort-variations-of-variable-products-in

One of my clients imports their products using an EPO

[2020-07-20 10:14] themike007 commented on #23682
Hi,
after updating to WC 4.3.0 it is fully broken now and the temp fix code (which worked before 4.3.0) is not working either

[2020-07-20 11:37] lkraav commented on #27078
Can you get someone to do some visual mockup screens?

[2020-07-20 12:23] mischasigtermans commented on #25524
@Konamiman Any updates..?

[2020-07-20 18:00] #25480 closed

[2020-07-20 18:39] mugukamil commented on #25524
damn, that issue persist here for years

[2020-07-21 04:08] auriga-dev commented on #20930
Thanks @mariovalney for that!!!

[2020-07-21 08:21] peterfabian opened #27082 "Include dbDelta from packages in the verify db tool"
Currently, db tables from packages are not included in the Verify db tool we've added recently. I think we should include them.

[2020-07-21 09:02] grigorijurasov commented on #26994
Hi!

Not sure if this is related, but I can't seem to translate "Gross sales", "Returns" and a few more strings. I've tried German, Spanish and English:

![Screenshot](https://d.pr/i/uywVf3+)
Screenshot direct link: https://d.pr/i/uywVf3

Translations are up-to-date, I'm using Loco Translate:

![Screenshot](https://d.pr/i/fH8lAS+)
Screenshot direct link: https://d.pr/i/fH8lAS

Reported in 3153210-

[2020-07-21 09:17] ggmacasaet commented on #26654
Hi @vedanshujain,

Seems like the issue is still not fixed when i copied all the fixes attached to this.

![image](https://user-images.githubusercontent.com/1694742/88036216-d302a700-cb75-11ea-8314-d0d6f0d2b759.png)

On the setup above. You should see that the total for the shipping tax should be 34.91 which is correct when you see the display:

![image](https://user-images.githubusercontent.com/1

[2020-07-21 09:43] ontiuk commented on #27078
![variation](https://user-images.githubusercontent.com/11772623/88037404-bdbd5680-cb3c-11ea-8cea-a9cbc274fccd.png)

Most of the interface is already in place. The varaitions can already be drag & dropped, and doing so triggers the Save Changes. I was looking at the add variation dropdown, but that really changes the settings within a variation and not the variations themselves. The top form values

[2020-07-21 10:28] tammullen commented on #27068
Hi @medicalmart

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by the 3rd party plugin PayGate WooCommerce plugin.
​
Please contact the author of the plugin directly for further help.

If I missed something, please leave a comment and we will take a second l

[2020-07-21 10:28] #27068 closed

[2020-07-21 11:02] peterfabian commented on #27072
Hi @DavidHF ,

Apologies for the problem. We've seen this kind of errors when a customer doesn't have privileges to alter the database (some columns are missing), so it seems to be a duplicate of https://github.com/woocommerce/woocommerce-admin/issues/4823 .

We are releasing an update (4.3.1) to make WC more resilient to this error as we speak.

Could you please confirm if you have access to alte

[2020-07-21 13:05] GeoJunkie opened #27084 "Add South Sudan states"
**Is your feature request related to a problem? Please describe.**
When adding a shipping zone, South Sudan only displays the country and not [the states within South Sudan](https://en.wikipedia.org/wiki/States_of_South_Sudan).

![](https://d.pr/i/MaogA2+)
Image Link: https://d.pr/i/MaogA2

**Describe the solution you'd like**
Add the states to the list.

**Describe alternatives you've considered*

[2020-07-21 14:34] itsgliitch opened #27085 "Tax rounding issue in woocommerce"
I have a big problem for the calculation GST(5%) and QST(9.975%) even I turned off for rounding the amount but it still round the amount. Could you please tell me the solution? What can I do?

Does anyone have a suggestion to resolve this issue?

Many thanks for your advice and time!

amiraliadib

[2020-07-21 14:54] beyondcaptain commented on #13040
Hello,

I am also still having this issue in 2020. The above posted solutions didn't work for me. Well, the Preserve Page and Taxonomy Hierarchy plugin worked for showing the hierarchy finally, but I can't add all the categories to my menu, because it doesn't show all of them (I have a LOT of categories).

I also can not find this text "Paginate browsing for large numbers of objects" or the line "

[2020-07-21 15:17] m155y commented on #26879
Another report in 10457082-hc

[2020-07-21 15:26] intelligentdb opened #27086 "Ampersand in Product Category via API"
Noob, yes.

I have some experience with APIs, and just started working with WooCommerce (cURL from FileMaker). My first test, querying the store's list of Product Categories worked fine. However, I'm finding that the JSON result contains \&amp; encoding instead of decoding the escaped ampersand character.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubles

[2020-07-21 15:32] DavidHF commented on #27072
Yes I have (WordPress Admin)

David Fønsbo
Digital Dictator
Søskrænten 34
DK-8260 Viby
Denmark

Tel.: +45 28 94 68 00

LinkedIn:  David Fønsbo <http://dk.linkedin.com/in/leadershipandawareness>
Twitter:    TheMasculineMan <https://twitter.com/TheMasculineMan>
Facebook: DenRigtigeMand <https://www.facebook.com/DenRigtigeMandDK>

www.MakeItCount.dk <http://www.makeitcount.dk/> - SEO & Webdesign

Den

[2020-07-21 16:41] apmwebdev opened #27087 "The word "includes" from (includes %s) isn't translating properly on many sites"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I've been seeing a lot of requests from customers recently that the word "includes" is not translating properly for them. The specific cont

[2020-07-21 16:42] Prateekjain2003 opened #27088 "Woocommerce keeps crashing my website.."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-21 16:46] Prateekjain2003 commented on #27088
`
### WordPress Environment ###

WordPress address (URL): https://www.zippikids.com
Site address (URL): https://www.zippikids.com
WC Version: 4.3.0
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.1
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.3.0
Log Directory Writable: ✔
WP Version: 5.4.2
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: ✔
WP Cron: ✔
Language: en_US
External o

[2020-07-21 16:51] albertramsbottom commented on #16620
Worked for me but woo needs to sort this out

[2020-07-21 16:53] JackJDW opened #27089 "Product Count Incorrect - Cannot Reset"
I imported over 500 products from Shopify over to Woocommerce.

After the import complete it showed the product count but never showed any products.

I no longer want to import these products.

I have used the tools available within woocommerce to try and fix this issue, include clear transients, regenerate product tables etc...

Any one have any idea what I can do to remove the "ghost" products?

[2020-07-21 16:55] JackJDW commented on #27089
![Screenshot 2020-07-21 at 17 54 11](https://user-images.githubusercontent.com/68608030/88083659-3fcc7000-cb7b-11ea-9048-d97aa0b2354c.png)

The published products are the correct amount.

[2020-07-21 17:35] albertramsbottom commented on #16620
This is still an issue. If i copy a perfectly working variable product as a duplicated it goes to out of stock even though they are brackets next to it with the stock number

![Image1](https://user-images.githubusercontent.com/927693/88087538-fda62d00-cb80-11ea-80d5-c81fb0e1f5d3.png)

[2020-07-21 18:15] ObliviousHarmony commented on #23682
Hello @themike007,

Could you share the temporary fix code you're using? Nothing about this mechanism was changed in WooCommerce Core and so everything you were doing before should still be working.

[2020-07-21 18:51] thomas-zg commented on #27089
Have you tried to recount the terms?

[2020-07-21 19:09] jawinn commented on #25375
Besides having the wrong number when product's are set to catalog visibility hidden, as tammullen showed, this also is has the added downside of categories appearing that are actually empty (all products within category are hidden). So the user sees a category that should not appear, and upon clicking it gets an empty no results page. Not good.

[2020-07-21 19:22] ObliviousHarmony commented on #27034
Hello @morganhvidt,

I do think the fact that this class is being used immediately after release demonstrates a need for a more generic means of temporarily withholding stock without an order. I'm thinking we should make this table polymorphic and adjust the class so it can support holding stock for other contexts.

[2020-07-21 20:22] themike007 commented on #23682
add_filter( 'nonce_user_logged_out', 'codetipi_fix_woo_bug', 1000, 2 );
function codetipi_fix_woo_bug( $uid, $action ) {
    if ( 'wp_rest' === $action ) {
        if ( ! is_user_logged_in() ) {
            return 0;
        }
    }
    return $uid;
}

[2020-07-21 20:44] wallswonders opened #27091 ""Coupons" Update Notification Makes "Coupons" Disappear"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have se

[2020-07-21 21:12] JackJDW commented on #27089
Hi Thomas,

Yes ive tried that too!

I exported the products to see if they would show and they seem to!

Jack

[2020-07-22 06:18] michael-attal opened #27092 "Coupon line discount & discount tax different than discount total & discount total tax using only one coupon"
Hello,

I'm using the Woocommerce REST API to create an order.
Everything is working fine, except when I add a coupon.
When the calculation made by WooCommerce is done, I got the good discount and discount tax from the coupon line item but not from the order discount total and discount tax.

The problem, is that this difference is then show inside the email sent and the Woocommerce backoffice.
The

[2020-07-22 06:23] michael-attal commented on #27092
Wordpress version is 5.4.2
Woocommerce version is 4.3.1

Prices entered with tax :
Yes, I will enter prices inclusive of tax

Calculate tax based on :
Shop base address

Shipping tax class :
Zero rate

Rounding	:
Rounding Round tax at subtotal level, instead of rounding per line

Additional tax classes
Reduced rate
Taux réduit
Taux zéro
TVA 10%
TVA 2,1%
TVA 5,5%
Zero rate

Display prices in the sh

[2020-07-22 06:25] michael-attal commented on #27092
Wordpress version is 5.4.2
Woocommerce version is 4.3.1

![image](https://user-images.githubusercontent.com/29205422/88141912-ddb05100-cbf4-11ea-8500-be1636bef862.png)

[2020-07-22 06:26] michael-attal commented on #27092
Wordpress version is 5.4.2
Woocommerce version is 4.3.1

![image](https://user-images.githubusercontent.com/29205422/88141995-06384b00-cbf5-11ea-965c-d8cf5b2f7820.png)

[2020-07-22 07:06] SeynalKim opened #27093 "wc_add_notice not working on Edge and Firefox"
I’ve used the below hook to redirect and add a notice on the sign-in form upon a successful reset of the password.
[code]

Unfortunately, it doesn’t work in Microsoft Edge and Mozilla Firefox except on Google Chrome.

**Microsoft Edge Version
Microsoft Edge 44.19041.1.0
Microsoft EdgeHTML 18.19041

Mozilla Firefox Version
78.0.2 (64-bit)**

[2020-07-22 07:50] waleedsd93 commented on #27092
+1

[2020-07-22 08:12] StefanPeev opened #27094 "Error messages after upgrading to WooCommerce 4.3.1"
I receive 2 error messages after upgrading to WooCommerce 4.3.1:

Notice: Undefined property: stdClass::$layout in /home/context4/public_html/typefaces/wp-content/plugins/woocommerce/packages/woocommerce-admin/src/Notes/DataStore.php on line 114
Notice: Undefined property: stdClass::$image in /home/context4/public_html/typefaces/wp-content/plugins/woocommerce/packages/woocommerce-admin/src/Notes/D

[2020-07-22 11:23] glagonikas commented on #27089
@JackJDW can you check your database and confirm the `post_status` of those products in the `wp_posts` table? I suspect you might have set it to something other than `publish`, `draft`, `private`, `trash` during import.

If that's the case, you can either remove them using an sql query, or set them to a status like `trash` and then delete via admin

[2020-07-22 11:26] peterfabian commented on #27088
Hi @Prateekjain2003

Apologies for the problems. Can you please share a bit more information? Do you see any errors in your browser or in PHP log? Can you please provide steps to reproduce the bug? Thanks!

[2020-07-22 11:31] fernandotellado commented on #27031
Same Issue for Spanish (Spain) translations :(

[2020-07-22 11:46] JackJDW commented on #27089
@glagonikas You are a life saver!

It has created multiple posts, my question is can i delete them straight from the table. The post_status is set to -1 and I dont need them, it seems to only work when I change it to published and then delete them through the admin.

Photo Attached..

![Screenshot 2020-07-22 at 12 46 25](https://user-images.githubusercontent.com/68608030/88172739-5d501700-cc19-11e

[2020-07-22 11:48] peterfabian commented on #27076
Hi @caribouman,

Thanks for reporting. I can't seem to reproduce this with WooCommerce core (and also with Variation Swatches plugin). Can you please add more information on how to reproduce the problem? Are there any other plugins running on your site that might be interfering?

[2020-07-22 11:53] JackJDW commented on #27089
@glagonikas I would like to thank you!!

I have done around 500 searches on how to fix this!

I have now done it!

[2020-07-22 11:53] #27089 closed

[2020-07-22 12:04] josegallo commented on #26994
Hi,

We have the strings for Analytics section of Woocommerce not being translated. We have tried:
- setting back the admin language to English, after that switching back to Spanish, with no change.
- We also tried reinstalling WordPress.
- We have tested that woocommerce.po file is correctly translated and the issue keeps occurring with only WooCommerce and not other translated plugins as WPML an

[2020-07-22 12:06] peterfabian commented on #27042
Hi @sterenas ,

Apologies, but I don't believe we use Excel, so can't really test this out. Every sheet processing software (Excel, OpenOffice Calc, Google Sheets) imports CSVs slightly differently and as long as we export a CSV file in the correct format (which, I believe, we do), there is not much else we can do.
Please let us know if you think the CSV file has any problem or there is any improv

[2020-07-22 12:06] #27042 closed

[2020-07-22 12:17] glagonikas commented on #27089
glad you sorted it!

Keep in mind that deleting posts viat the sql won't delete the postmeta, so you need to run a query to search for orphan postmeta if you delete them already.

Alternatively, if you haven't deleted them, you can update them to status `trash`, then delete them via admin, which will remove all related postmeta

[2020-07-22 13:04] peterfabian opened #27095 "Default datetime set to 0000-00-00 00:00:00 causes problems when updating db tables"
There is some weirdness in MySQL that you can `CREATE` a table with default datetime value set to `0000-00-00 00:00:00`, but then `ALTER TABLE` on this table fails with `ERROR 1067 (42000): Invalid default value for 'column_name'` and until you update the default value, all ALTER TABLE commands fail even for the admin user. Reference issue:  https://github.com/woocommerce/woocommerce/issues/27072,

[2020-07-22 13:42] tammullen commented on #27085
Hi @itsgliitch

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide]

[2020-07-22 14:02] tammullen commented on #27084
Hi @GeoJunkie

Thank you for taking the time to share this idea, we really appreciate your help.

Generally speaking, right now we can’t add all of the states for every country as they’re all sent to the client on request. When we looked at adding the UK regions, for example, we saw that it would add significant response content.

In the long term, we are trying to find a better way to handle stat

[2020-07-22 14:09] MechComp commented on #21870
Hi, I hope that this can still can help someone. I have solved this issue. The problem is that you need to hook initialization of your extending class to another hook 'before_woocommerce_init' instead of 'woocommerce_init'. When I have checked the code I realized, that there is a call to a function wc_load_cart which fills WooCommerce cart session with a session created from normal WC_Cart even be

[2020-07-22 14:11] Prateekjain2003 commented on #27088
Hi @peterfabian  Its so random that i am not able to figure out how to recreate it.. the person handling my website said that some process keeps running and takes the website down with it..

[2020-07-22 14:12] Prateekjain2003 opened #27096 "Cart shows empty after adding product"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-22 14:15] Prateekjain2003 opened #27097 "After adding to product to cart it still shows empty"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-22 14:16] Prateekjain2003 commented on #27097
`
### WordPress Environment ###

WordPress address (URL): https://www.zippikids.com
Site address (URL): https://www.zippikids.com
WC Version: 4.3.1
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.2
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.3.1
Log Directory Writable: ✔
WP Version: 5.4.2
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: ✔
WP Cron: ✔
Language: en_US
External o

[2020-07-22 14:21] Prateekjain2003 commented on #27097
My website is www.zippikids.com   In my shop section when customers add a product to cart it doesn't show up in "view cart". It says cart empty. It happens randomly and i have also experienced it. by keep trying to add items to cart it suddenly shows up with multiple quantity in cart. I am not able to find  a solution to it and not sure what to explain to customers.

![image](https://user-images.g

[2020-07-22 14:22] marekka opened #27098 "Export products order by"
Hi, when exporting products, they're sorted by ID - it will be much better if we have All Products variations located under the Product Variable

[2020-07-22 14:26] tammullen commented on #27070
Hi @Peter-27

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.
County is not a required field for the UK
​
<img width="563" alt="Screenshot 2020-07-22 at 15 22 02" src="https://user-images.githubusercontent.com/24649833/88188180-63e98900-cc2f-11ea-9eb6-b17d01de7b33.png">

Please provide

[2020-07-22 14:51] strarsis commented on #23436
Just ran into the same or at least very similar/related issue!

[2020-07-22 17:56] FireRedDev commented on #25133
Its been almost 3 weeks, is the issue more severe to fix?
Im sorry to be writing so often, but as mentioned beforehand its really disrupting

[2020-07-22 18:12] Sh9ko commented on #25133
Yes, annoying is the least. We have to email every single customer asking what color they picked. And we dont get 10, 30 orders per day. We get around 100.

[2020-07-22 19:20] tammullen commented on #27098
Hi @marekka

Thank you for taking the time to share this idea, we really appreciate your help.
​
While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue w

[2020-07-22 19:20] #27098 closed

[2020-07-22 19:22] simplenotezy commented on #26899
Thanks for finally realizing this isn't a duplicate - I have made huge efforts to try to explain the issue 😊 I have made several checks to ensurethere'ss no conflicting plugins. What else do you need from me, to have a look at this issue?

[2020-07-22 19:23] tammullen commented on #27096
Hi @Prateekjain2003

We are closing your issue in favor of the previously submitted https://github.com/woocommerce/woocommerce/issues/27097. Please continue sharing your feedback there if needed.

[2020-07-22 19:23] #27096 closed

[2020-07-22 19:27] tammullen commented on #27097
Hi @Prateekjain2003

Thank you for raising the issue. However, I can’t reproduce it on my end on my site.
​
![Screenshot 2020-07-22 at 20 27 20](https://user-images.githubusercontent.com/24649833/88219631-cbb4c980-cc59-11ea-83ce-b78b4f5fd51d.png)
​
I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for th

[2020-07-22 20:57] strarsis opened #27101 "WooCommerce product attribute terms incorrect through query filter"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The WooCommerce filters modify the term query of product attribute taxonomies
letting some term queries with meta query result with an empty set

[2020-07-22 23:05] saqib59 commented on #16576
Any fix?

[2020-07-23 00:34] helgatheviking opened #27102 "Error notice icons in default themes"
**Is your feature request related to a problem? Please describe.**
The [`woocommerce.scss`](https://github.com/woocommerce/woocommerce/blob/f25967d57bc50c2906c94c111966d1bdbac04d1f/assets/css/woocommerce.scss#L1822) stylesheet defines a woocommerce font icon for error notices.

But the default WP themes, the `woocommerce.css` stylesheet is replaced with a theme-specific sheet and the error icons a

[2020-07-23 02:40] ChrisBates opened #27103 "WC_Rate_Limiter setting options to autoload"
**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In `WC_Rate_Limiter::set_rate_limit()` the `update_option()` call is not providing an `autoload` setting causing it to default to `null

[2020-07-23 07:45] skullo27 opened #27105 "UPC/EAN Field"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Woocommerce is one of the only major eCommerce systems that I

[2020-07-23 07:45] #27105 closed

[2020-07-23 07:53] skullo27 opened #27106 "UPC/EAN Field for products"
Woocommerce is one of the only major eCommerce systems that I know of that does not natively support UPC/EAN codes for products and does not provide a field for it.

This is drastically needed as in today's landscape this piece of data is pretty much essential if you are selling physical goods. It is required by Google to run ads in google shopping which should alone be sufficient to warrant consi

[2020-07-23 08:36] peterfabian commented on #27088
Would they be able to identify the process? Can you please get PHP error log in case the process is logging something that could give us some clues on what is causing the problem?

[2020-07-23 08:37] peterfabian commented on #25133
@claudiosanches Have you had a chance to look into possible causes for this please?

[2020-07-23 10:51] nsajeevan89 opened #27107 "Woocommerce store Pre-order is automatically change to complete after payment completed"
Hi
I have set up a Woocommerce store and install the plugin "Preoders for WooCommerce" for preorders. But after installing this plugin. I received an order for preorder but the preorder automatically changes to Completed. I try to change the status as "Pre-Order" but the [WooCommerce Pre Orders] change the status again as completed. Please refer to the image.
![order](https://user-images.githubuse

[2020-07-23 11:11] mribble opened #27108 "Japan Zip Code Format Issue"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-07-23 11:52] nilsnolde opened #27109 "REST API: customer download permission check applies wrong ID function"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
It's a little subtle and hard to describe, as it usually wouldn't be triggered.

In v4.3.1 the `woocommerce-rest-api` package's `WC_REST_Cu

[2020-07-23 12:35] LeGaS opened #27110 "Certain attributes not working in [products] shortcode"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Setting the `on_sale` attribute on the `products` shortcode has no effect, all products are displayed, not just on sale products.

I did so

[2020-07-23 13:22] DamienMLBW opened #27111 "For some products, default variation is not selected, if a variation is selected, "Add to cart" button stay disabled"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-07-23 13:24] claudiosanches commented on #25133
I'm working on it, I should post some PRs today.

@FireRedDev can you give more details and steps to reproduce it? It will helps a lot fixing this problem, since I'm finding different ways to trigger it, you giving full details of how to reproduce will help me fix it as soon as possible.

[2020-07-23 13:34] fedosh commented on #25524
Any date for this to be on the works?  @Konamiman
 Thanks

[2020-07-23 14:00] FireRedDev commented on #25133
There is not a lot i could tell you sadly. I thought some of my plugins
might have caused it, but i removed those and the issue still happens. It
started happening after a woocommerce update, so its maybe related to some
of your recent changes.

Claudio Sanches <notifications@github.com> schrieb am Do., 23. Juli 2020,
15:24:

[2020-07-23 14:23] claudiosanches commented on #25133
Hello @FireRedDev,

I have some questions, I hope you can help me.

Do you remember what version were you using before upgrading and what did you upgrade to?
Do you managed to reproduce it even without having plugins installed?
Could you provide me a staging environment where I can test your set up?

Currently I'm about to fix the validation on the REST API and also a bug in the Form Handler that

[2020-07-23 14:41] Wendyms commented on #25133
Hi, I am a total dummy with all this and have been exporting the Variations into MS Access database so I can get picking lists for the boys. There are some inconsistencies with the field formats when it gets to the fields past the second attribute. May mean nothing, but just clutching at straws that I have noticed something that is different. This is how the fields exported from Woocommerce to Exc

[2020-07-23 14:59] claudiosanches commented on #25133
Hello @Wendyms

For what you are saying, you exported all products using the Product CSV exporter on WooCommerce.
Note that the CSV doesn't try to reflect anything from the database, also all attributes on the database are strings by default.
Also those keys like `Attribute N XXXX` doesn't match any key with the database, so the results for sure will be unexpected if you try to use those in the MS

[2020-07-23 17:34] Nikitogo opened #27112 "error after updating"
Hello good day
Yesterday I updated the woocommerce plugin and today checking some things I notice that at the top of the admin panel it throws the following error

ts parameter 1 to be array, null given in /home/customer/www/agtecnostore.com/public_html/wp-content/plugins/woocommerce/includes/abstracts/abstract-wc-settings-api.php on line 267

Warning: array_fill_keys() expects parameter 1 to be a

[2020-07-23 17:35] Prateekjain2003 commented on #27088
[debug.log](https://github.com/woocommerce/woocommerce/files/4967796/debug.log)

[2020-07-23 18:38] DamienMLBW commented on #27111
I inspected the code to select in the html a variation and enable the Add To Cart button but when the page relaod it says "Choose an option ...".

Unofrtunately I can't wait so I used this plugin to bulk resave all my products : PW WooCommerce Bulk Edit

I will reopen this if the problem happens again.

[2020-07-23 18:39] Prateekjain2003 commented on #27088
Does the above file help?

[2020-07-23 23:32] rjrodriguez commented on #27110
Hello @LeGaS. Did you notice that the short code we put in takes "-" and not "_" when the default template provided by the plugin also uses "_"?
I found this error on line 280 of the `packages/woocommerce-admin/src/API/OnboardingTasks.php` file.
This makes the Gutenberg block not work either.

[2020-07-23 23:41] Wendyms commented on #25133
Hi Claudio, I exported it using Yith as that was the only place I could figure out for myself where I could download a list of the variations (remember, I am a dummy at all this... lol). It Exports from there as CSV through Excel, I then Save As an Excel Workbook. What I have been doing at the moment until I create an Update Query is just deleting the rows from the Access Table and copy and pastin

[2020-07-23 23:58] Peter-27 commented on #27070
Hello,

I did attempt to evalute the problem with all plugins deactivated (apart from WooCommerce) and the issue remained.

Let me walk you through how I am triggering the error step-by-step.

1) On my website, www.exploresubic.com, proceed to add something to the cart and then click "proceed to checkout".
2) Fill in all fields with the red star (required fields), which leaves county blank, and hi

[2020-07-24 01:59] SeynalKim commented on #27093
My current solution is by using SESSION.
[code]

[2020-07-24 02:07] claudiosanches commented on #25133
@Wendyms

Sounds like MS Access tried to guess what was the type of each key based on the values, you probably can check it in the CSV you exported, that why for some shows as `number` and another as `short text`.

I understand your intention, but the CSV will not generate a correct result in MS Access, since the CSV doesn't represent on WooCommerce save data into the data base, all columns on the

[2020-07-24 02:08] claudiosanches commented on #25133
I started a PR that could solve this issue by stopping of this to happen in the first place, any help testing will be appreciated #27115

I'll soon submit another PR to solve the issue on the REST API.

[2020-07-24 09:40] peterfabian commented on #27112
Hi @Nikitogo ,

Apologies for the problem you've encountered. Can you please let us know if you tried to follow our [troubleshooting guide](https://docs.woocommerce.com/document/woocommerce-self-service-guide/), especially the plugin/theme conflict resolution so that we better understand if the issue belongs to WC core or some other plugin? Thanks!

[2020-07-24 09:46] peterfabian opened #27116 "REST API: Can't remove image from variation product"
Tried sending data like

[code]

[code]

to `wp-json/wc/v3/products/<product_id>/variations/<variation_id>`, but it always gets evaluated as an array in here: https://github.com/woocommerce/woocommerce-rest-api/blob/master/src/Controllers/Version3/class-wc-rest-product-variations-controller.php#L129, which means it's not possible to remove image from a variation.

TL;DR is we need a way how to rem

[2020-07-24 10:51] peterfabian commented on #26654
Hi Geoff,

I've just tested your use case with the patch applied and this is what I see. Would you consider it correct?
<img width="1675" alt="Screenshot 2020-07-24 at 12 50 07" src="https://user-images.githubusercontent.com/2207451/88384204-41c94580-cdac-11ea-9e03-e4700980e9bc.png">

Using these settings:
<img width="1675" alt="Screenshot 2020-07-24 at 12 50 07" src="https://user-images.githubuse

[2020-07-24 11:16] Archvist commented on #19693
I cannot believe this is still not part of the core functionality.

WooCommerce has always had consistency issues on what they deem a variable product to include. Their own documentation lists an example variation product as a "blue t-shirt". But the system doesn't see your variations of t-shirts as products and such are not treated as products.

[2020-07-24 11:23] #26607 closed

[2020-07-24 12:59] tammullen commented on #27110
Hi @LeGaS

Can you try using `[products on_sale="true"]` instead?

This is because in order for `on_sale` to work it must be set to `true.`
More details can be found in the documentation here
https://docs.woocommerce.com/document/woocommerce-shortcodes/#special-product-attributes

[2020-07-24 13:04] ggmacasaet commented on #26654
Hi,

Can you confirm if there we're changes applied outside of the original?
Since we've copied the changes on our server before it's implemented and
that one we can replicate the issue.

Thanks,

Geoffrey Macasaet / Operations Director
+63 9173121387 / geoffrey@iwoork.com
<http://iwoork.com/>

[image: Iwoork Web Solutions] <http://iwoork.com/>

Iwoork Web Solutions

http://iwoork.com

[image: Fac

[2020-07-24 13:05] rjrodriguez commented on #27110
Hi @tammullen

That doesn't work for me.
The Woocommerce Gutenberg block doesn't work either

[2020-07-24 13:24] jonasrafael opened #27117 "Woocommerce/Action Scheduler not working after upgrade"
I try to upgrade to the latest woocommerce and not working more. Here in the github i see the action scheduler maybe can fix the wordpress but not:

[code]

[2020-07-24 14:23] Spreeuw opened #27118 "0% tax rates/amounts are not added to refund orders"
**Prerequisites:**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When refunding an order that has items with a 0% tax rate, taxes are not copied over to the refund order.

**Expected behavior**
0% is not the same as "no" tax, and 0% rates

[2020-07-24 17:23] #26654 closed

[2020-07-24 17:28] vedanshujain commented on #26654
@ggmacasaet I think Peter applied the current set of changes, so there might be some inconsistency in the patch. Note that the PR is now merged, which means that this patch will be included in WooCommerce 4.4 (late August release).

[2020-07-24 17:50] rrennick opened #27120 "E2E tests build packages twice"
From the Travis log

[code]

[2020-07-24 19:21] rrennick commented on #27117
@jonasrafael Please see https://github.com/woocommerce/action-scheduler/issues/587#issuecomment-658168773. Closing this issue as a duplicate.

[2020-07-24 19:21] #27117 closed

[2020-07-24 20:03] purarosania opened #27122 "fallo en la verificacion de dominio de appel pay"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have se

[2020-07-24 20:05] #25843 closed

[2020-07-24 20:10] purarosania commented on #27122
En los plugins activos de Woocommerce Cart Abandonment recovery  por cartflows y woocommerce stripe gateway  aparecen como versiones instaladas no están probadas con la version activa de woocommerce 4.3.1.
Para mi es un tema complicado porque no tengo conocimientos ni experiencia en desarrollar páginas. agradezco su apoyo

[2020-07-24 20:49] tammullen commented on #27110
Hi @rjrodriguez

Can you provide more details of what isn't working? Please include the details we ask for in the bug report https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=4-Bug-report.md&title=
as without these details, we won't be able to fully evaluate this issue.

Can you also provide more details of what isn't working with the Gutenberg block? If it specific

[2020-07-24 20:59] gevcen opened #27124 "Reopening #26923 - WooCommerce Status says "My Account" not set up although it works fine..."
Dear,

I'd like to re-open the issue #26923 with the following screencast as evidence for the issue : https://sgevcen.tinytake.com/tt/NDQ4NDcwN18xNDE5OTc1OA

Thanks

[2020-07-24 21:10] tammullen commented on #27122
Hi @purarosania

Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks li

[2020-07-24 21:10] #27122 closed

[2020-07-25 02:05] hogrid commented on #27097
The same problem for me!

[2020-07-25 06:46] LeGaS commented on #27110
You are right, it works that way, thanks!
The Gutenberg block also works fine for me with WooCommerce Blocks 3.0.0.

[2020-07-25 12:29] kkmuffme opened #27125 "Notices when deregistering heartbeat"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When deregistering heartbeat, we get multiple notices: (this seems to be a new issue since 4.3.0)

[code]

Results in:

[code]

**Expected

[2020-07-25 13:16] trollwinner opened #27126 "Single product add-to-cart form ID"
Hello there!

I'd want to ask is it possible to add an ID for the single product add-to-cart form elements (these ones: "templates/single-product/add-to-cart/*") as default? Something like "single-product-add-to-cart-form-{$product_id}".

That might help to use extra inputs/buttons with the "form" attribute placed out of this form. And that might give much more possibilities for interesting custom

[2020-07-25 13:36] pickmeok commented on #19232
KZeni hi!

I am using the code above to hide shipping address when local pickup is selected on checkout page.

On cart page is there a way to hide the 'Ship to address' and the shipping calculator when local pick up is selected?

Thank you

[2020-07-25 15:38] KoolPal commented on #25458
Landed here due to complaints from my customers 🤦‍♂️

[2020-07-26 05:32] KZeni commented on #19232
@pickmeok That's a separate issue that deserves its own support topic. This is all about the checkout page; not the cart page.

[2020-07-26 06:55] pickmeok commented on #19232
@KZeni Because I read article https://www.businessbloomer.com/woocommerce-hide-shipping-local-pickup-selected/ to which provided an updated version.

Thank you for providing your update to the code for hiding shipping address on checkout page.

[2020-07-26 07:46] pickmeok opened #27127 "Hide Shipping Address and Shipping Calculator when 'Local Pickup' is selected on cart page"
Hello,

On **cart page** it is quite confusing for customers to see the 'Ship to address' and 'Shipping Calculator' below the provided 'Shipping Options' when he selects (radio buton) 'Pickup from store'.

How could these two be hidden, upon ' Pickup from store' is selected on **Cart Page**.

Thank you

[2020-07-26 12:56] ggmacasaet commented on #26654
@vedanshujain can you share the changes that was implemented by @peterfabian please so i can implement it on our current woocommerce version as well. Thanks.

[2020-07-26 15:00] Kayronix opened #27128 "Confusing display of the calendar in "Voucher""
Hello,

I hope you are well and you are healthy.

If I want to create a new voucher, I can specify an expiration date.

I can call up a pop-up calendar. However, the overlay is so confusing that it is difficult to choose the correct date.

I also don't find an option to jump through the months.

Otherwise, I love the voucher tool.

Thank you in advance for your effort. Best regards

Kay Rurainski

[2020-07-26 21:56] olaos opened #27129 "pay_for_order not show shipping options"
In the WooCommerce order the customer comes to the next page http://www.mydomain.oreg/checkout/order-pay/ordernumber/?pay_for_order=true&key=wc_order_4EHgO5uBJsGwr This page only shows the order summary and the option to choose a payment. There is no option to choose shipping or shipping type. Can’t handle it? Here is a picture of what I get https://prnt.sc/toaur1

Delivery is possible. When enter

[2020-07-26 22:16] royberrev opened #27130 "WooCommerce - Cart form is being duplicated after adjusting the input quantity"
Hi,

**Describe the bug**
After adjusting (increase or decrease) the quantity of the products on the cart page of my webshop, the whole section is being duplicated. I believe this is the class of the form: "woocommerce-cart-form"

**Expected behavior**
The quantities should be adjustable without the basic 'update cart' button and without reloading the whole page or duplicating the form. Therefore

[2020-07-27 02:42] dieptang commented on #24179
Hello, Sorry for reopen,
Seems it's OR condition, How Can I do with AND ?

[2020-07-27 03:00] jaclync opened #27131 "REST API: Can't differentiate a product variation's tax class when it's set to the same as its parent"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug. (tested on 2 sites)
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When a product variation's tax class is set to "Same as parent" in core, the API field `tax_class` returns the current

[2020-07-27 08:31] markhowellsmead opened #27133 "Use of REST API cart endpoint provokes a fatal error"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have

[2020-07-27 10:11] JBabe101 opened #27134 "Cannot select options in Woocommerce setting"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
My site was working well, and all of a sudden I am not able to s

[2020-07-27 11:42] janis-ps commented on #20930
$.scroll_to_notices should be a trigger at best. Let themes do what they want. WooCommerce can't possibly know what the header situation is.

[2020-07-27 13:43] Riyazkhan1989 opened #27135 "No rest API for Add to cart."
Hi Team,

I am trying  to make mobile App of my ecommerce website using Wordpress woocommerece. I am very disappointed that you didn't mentioned any rest API to handle cart. How I will manage cart? Please guide me.

[2020-07-27 13:47] alonazisser opened #27136 "404 on wc-ajax.php and WPML"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-07-27 13:56] seb86 commented on #27135
Use [CoCart](https://cocart.xyz) @Riyazkhan1989

[2020-07-27 14:08] Riyazkhan1989 commented on #27135
It's not free.

Anyway can you provide any demo using cocart?

On Mon, Jul 27, 2020, 7:27 PM Sébastien Dumont <notifications@github.com>
wrote:

[2020-07-27 14:24] seb86 commented on #27135
@Riyazkhan1989 The core ability to add items to the cart is free if you actually look.

[2020-07-27 14:27] tammullen commented on #26923
Reopening for new feedback from https://github.com/woocommerce/woocommerce/issues/27124

[2020-07-27 14:27] tammullen commented on #27124
Hi @gevcen

I will re-open previously reported issue https://github.com/woocommerce/woocommerce/issues/26923 .
We are closing this issue in favor of the previously submitted.

Can you post your screencast on that issue and continue sharing your feedback there if needed.

[2020-07-27 14:27] #27124 closed

[2020-07-27 14:35] #25233 closed

[2020-07-27 14:38] Riyazkhan1989 commented on #27135
Thanks.

On Mon, Jul 27, 2020, 7:54 PM Sébastien Dumont <notifications@github.com>
wrote:

[2020-07-27 14:43] tammullen commented on #27128
Hi @Kayronix

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.
​
![Screenshot 2020-07-27 at 15 42 05](https://user-images.githubusercontent.com/24649833/88555505-d687a980-d01f-11ea-8a49-53063bd65331.png)

​
Please provide us with more details about the issue which may help us to evaluate

[2020-07-27 15:54] gevcen commented on #26923
I'd like to re-open the issue #26923 with the following screencast as evidence for the issue : https://sgevcen.tinytake.com/tt/NDQ4NDcwN18xNDE5OTc1OA

[2020-07-27 16:08] Danielspain22 opened #27138 "permission_callback missing in REST API endpioints, Notices filling my logs with woocommerce 4.3.1 and wordpress 5.5(beta 3)"
**Prerequisites (mark completed items with an [x]):**
- [ X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I was testing current woocommerce 4.3.1 with the upcoming Wordpress 5.5(beta 3) and my logs are filling with notices(see below) when wooc

[2020-07-27 16:56] #27066 closed

[2020-07-27 18:01] tammullen commented on #27097
Hi @hogrid

Can you provide more details of the problem you are seeing? Please include the details we ask for in the bug report https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=4-Bug-report.md&title= including the system status report as without these details, we won't be able to fully evaluate this issue.

[2020-07-27 18:14] claudiosanches commented on #25133
Seems like for the REST API is fine, the report in here have many errors, so for now #27115 should be a fix for this issue.

[2020-07-27 20:21] lkraav commented on #27138
This is described in https://make.wordpress.org/core/2020/07/22/rest-api-changes-in-wordpress-5-5/ and is hopefully on it's way to getting fixed across the plugin ecosystem.

[2020-07-27 22:21] justinahsnyder opened #27141 "Fatal Error ActionScheduler_DBStore in 4.2x Woocommerce"
2020-07-27T02:31:04+00:00 CRITICAL Uncaught InvalidArgumentException: Unidentified action 51586 in /home/forestsuperfoods/public_html/wp-content/plugins/woocommerce/packages/action-scheduler/classes/data-stores/ActionScheduler_DBStore.php:458
Stack trace:
#0 /home/forestsuperfoods/public_html/wp-content/plugins/woocommerce/packages/action-scheduler/functions.php(117): ActionScheduler_DBStore->canc

[2020-07-27 23:46] claudiosanches commented on #26876
@priyankabehera In fact this option only applied to the cart.

[2020-07-28 00:56] Danielspain22 commented on #27138
I know, thanks. But WC 4.3.1 will be the latest release when WP 5.5 launches(Aug 11). I hope it gets fixed.

[2020-07-28 02:19] mickle-foretic opened #27146 "Tax_cart not converted in paypal gateway"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ X ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ X ] I have

[2020-07-28 05:06] priyankabehera commented on #26876
@claudiosanches thank you for sharing knowledge.

[2020-07-28 12:21] DamienMLBW commented on #27111
Unfortunatelly, the problem happens again : https://www.muralunique.com/product/toy-building-blocks/
Can a woocommerce wp-cron cause this ?

[2020-07-28 12:35] codeminelab opened #27149 "Mini cart / Cart page pagination"
If in cart I have a lot of products (eg. 200), then the cart page and mini cart is really slow.

This is natural, as not pagination exists for these 2 templates, and I get all 200 results.

Is there anyway I could add a pagination in cart.php and mini-cart.php?

This is the line that gets all products in these 2 files:

`...
foreach ( WC()->cart->get_cart() as $cart_item_key => $cart_item ) {
...`

[2020-07-28 15:28] NielsdeBlaauw commented on #17456
For anyone wondering, this is still an issue in WooCommerce 4.2.1.

You can work around this with the following snippet:

[code]

[2020-07-28 16:09] Joshykins commented on #27111
Looks to be same as these issues https://github.com/woocommerce/woocommerce/issues/27076, https://github.com/woocommerce/woocommerce/issues/27076.

[2020-07-28 16:14] DamienMLBW commented on #27111
Thank you I will answer in the other thread.

[2020-07-28 16:14] #27111 closed

[2020-07-28 16:18] DamienMLBW commented on #27076
I have the same problem and I have found some query errors in my error_log :
[code]

It's like a table name is missing in the query. I have deleted and reinstalled the latest version of WooCommerce Smart Coupons. Seems no new errors in the log for now but I'm not sure if it's linked with this problem.

@caribouman do you have WooCommerce Smart Coupons installed on your website ?

[2020-07-28 17:26] claudiosanches commented on #27135
There's already the Orders endpoint, so you can manage sessions on your app and then create an order on WooCommerce.

[2020-07-28 17:26] #27135 closed

[2020-07-28 17:30] claudiosanches commented on #27126
Hello @trollwinner

By default there's no template like that, but you can use the WooCommerce functions to register templates like that.
You can also override those templates on your theme or filter creating a plugin and change the fields based on the product ID.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are pri

[2020-07-28 17:30] #27126 closed

[2020-07-28 17:34] #24276 closed

[2020-07-28 17:51] Prateekjain2003 commented on #27097
https://photos.app.goo.gl/aHMgp22NiEpZDwhdA
I have added a video to show the issue.. Hope you believe me now

[2020-07-28 17:52] Prateekjain2003 commented on #27097
I installed newspaper theme yesterday..
If the product is added to card from shop page the issue doesnt come i think.. but if someone goes inside the product and then adds it to cart the issue comes..

[2020-07-28 19:42] caribouman commented on #27076
Hi, no i don t have Woocommerce smart coupons and also i don t have variation swatches plugin, i use a woocommerce 2.1 template for variation that i modify , for now i didn t have problem when i upgrade....i have to make a copy of my production site and upgrade again to 4.3 to test again...if i have new info i will publish here zhen i ll have time to test

[2020-07-28 19:43] slightlyfaulty opened #27154 "HTML showing for variations in ajax product search boxes"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
`<span class="description">...</span>` shows in the label for selected variations in ajax product search boxes, e.g. on the coupon edit scr

[2020-07-28 20:18] johndcoy opened #27155 "wc-ajax fails to show taxes for non-utf-8 character, when on an IIS server"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Taxes don't calculate for one specific address with curly quotes ( ’ in city name). Changing this to regular quotes solves the problem.

**

[2020-07-28 20:52] Bradzer commented on #26422
Is there any workaround for this issue ?

[2020-07-28 20:53] Bradzer commented on #21649
This issue does not seem to be fixed. Is there any workaround to solve it ?

[2020-07-28 21:17] TUFARUT opened #27156 "All-Over Print Neck Gaiter"
For security reasons, please report all security issues via https://hackerone.com/automattic/.  Also, if the issue is valid, a bug bounty will be paid out to you.

Please disclose responsibly and not via GitHub (which allows for exploiting issues in the wild before the patch is released).

[2020-07-28 23:46] JanNovakFRI opened #27157 "WC_Cart does no longer works from REST API custom endpoint (4.3.1, was working in 4.1.1)"
Hello,

I have created a plugin that recreates a checkout/cart functionallity on REST API. So I can get data about totals and other things I need on mobile app, before I actually create final order. Till now I have been using `WC()->cart` object and apropriate functions to modify cart. This was still working in `4.1.1`, but does no longer works in `4.3.1`.

Even the most simple example does not wo

[2020-07-29 02:42] Pottsies opened #27158 "Default sorting not working properly"
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Description**
The Default product sorting is set to 'Default sorting' but it does not work properly. My products are listed by sizes e.g. 180 x 120 x 180mm, 195 x 120 x 91mm etc... Previously my products all appe

[2020-07-29 05:27] zahra-ove commented on #20263
Did you add this code to yout funcctions.php file?
`add_theme_support('woocommerce');`

Also please note that the way you chose is called "woocommerce template override" which has its drawback.
using hooks inside your theme to customize woocommerce theme in recommended way  based on this [https://docs.woocommerce.com/document/woocommerce-theme-developer-handbook/](url)

[2020-07-29 06:41] terboya opened #27159 "I can't delete manu price. I can't see this manu. how i do"
[Please](
![bug](https://user-images.githubusercontent.com/68941387/88765769-2d68bc80-d1a1-11ea-9af8-d57b10de1612.jpg)
) provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with

[2020-07-29 06:42] terboya commented on #27159
![bug](https://user-images.githubusercontent.com/68941387/88765813-496c5e00-d1a1-11ea-890e-6ab3a9247c95.jpg)

[2020-07-29 09:37] vasikgreif opened #27160 "Cart and Session not working in REST API event with woocommerce_is_rest_api_request"
I've been using `woocommerce_is_rest_api_request` filter without any issues, but after updating from 4.2 to 4.3.0 this suddenly stopped working, Cart and Session are no longer defined.

Did anything change? I tried this:
-`wc_load_cart()` throws `Call to undefined function wc_get_cart_item_data_hash()`
- I added `WC()->frontend_includes();`, which fixed that issue
- session still doesn't work - it

[2020-07-29 09:40] mejta commented on #27160
I have the same issue, I need to work with WC session in my custom Rest API and suddenly, it doesn't work with the new WordPress version. Is there any workaround, please?

[2020-07-29 09:42] mejta commented on #27157
I have the same issue, I need to work with WC session and cart in my custom Rest API and suddenly, it doesn't work with the new WordPress version. Is there any workaround, please?

[2020-07-29 09:43] vasikgreif commented on #27157
The very same issue as described here: https://github.com/woocommerce/woocommerce/issues/27160

[2020-07-29 09:46] mejta commented on #27157
@Konamiman is that something you can do about this, please? Thank you.

[2020-07-29 09:55] dariaknl opened #27161 "Woocommerce 4.3.1 seems to change edit post font style in WP 5.5 RC1"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-07-29 10:06] Katajisto commented on #27160
The new update completely seems to break our API access, read/write, everything. Are you able to interact with the API in any way, or is ours a different issue?

[2020-07-29 10:14] Konamiman commented on #25524
Hi @mischasigtermans, @mugukamil, @fedosh. Sorry for having been so silent lately.

I'm happy to announce that the fix for this issue will be included in WooCommerce 4.4. The release is scheduled for August 18th, but [there's a beta available now](https://woocommerce.wordpress.com/2020/07/28/woocommerce-4-4-0-beta-1) in case you want to give it a try meanwhile.

[2020-07-29 11:39] tammullen commented on #27157
Hi @JanNovakFRI & @mejta

Thank you for submitting the issue, to help us evaluate this issue can you both provide a copy of your [WooCommerce System Status Report](https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/)
The System Status Report is found in your WordPress admin under **WooCommerce > Status**.
Please select “Get system report”, then “Copy for suppo

[2020-07-29 11:42] tammullen commented on #27160
Hi @vasikgreif

Thank you for submitting the issue, to help us evaluate this issue can you please  provide a copy of your [WooCommerce System Status Report](https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/)
The System Status Report is found in your WordPress admin under **WooCommerce > Status**.
Please select “Get system report”, then “Copy for support”, an

[2020-07-29 12:10] vasikgreif commented on #27157
Here's the report:
`
### WordPress Environment ###

WordPress address (URL): https://www.mojamiska.test
Site address (URL): https://www.mojamiska.test
WC Version: 4.3.1
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.2
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.3.1
Log Directory Writable: ✔
WP Version: 5.4.2
WP Multisite: –
WP Memory Limit: 2 GB
WP Debug Mode: ✔
WP Cron: –
Languag

[2020-07-29 12:17] JanNovakFRI commented on #27157
Hello everyone,

I have solved my issue by:

importing woo functions:
[code]

and manually initializing WC as follows:

[code]

the following minimal code does work for me, I hope it will also help you guys. For inspiration I found this issue and CoCart plugin source code which was really helpful:

[Existing issue](https://github.com/woocommerce/woocommerce/issues/23792

[CoCart Source Code](https

[2020-07-29 12:27] vedanshujain commented on #27160
@vasikgreif @mejta Based on your error description seems like your code is trying to get something from the cart before its loaded. Note that `woocommerce_is_rest_api_request` is a general filter which is called by method `is_rest_api_request`, and there is no guarantee that it will be called **after** cart is loaded. My guess is, somewhere we or some other plugin is now calling this function befo

[2020-07-29 12:38] vedanshujain commented on #27157
I have also added a code snippet in a related issue in case it helps: https://github.com/woocommerce/woocommerce/issues/27160#issuecomment-665634192

That said, can you please tell the exact location (could be a hook/filter) from where you were running the code so that we can investigate if there is a backward compatibility issue.

[2020-07-29 12:42] vasikgreif commented on #27160
Hmm, this solves only part of the problem.

First, the frontend functions seem to not to be loaded in the REST API, which I somehow fixed by calling `WC()->frontend_includes();`.

The session still does not seem to persist the data.

In any case, something had to change, because this was working perfectly fine before. There really should be an easy way to enable the frontend functions in the REST

[2020-07-29 12:55] vedanshujain commented on #27160
I tested by adding the following in above snippet:

[code]

and seems to be working fine for me.

We save the session data in `save_data` method in `includes/class-wc-session-handler.php`, can you help debug by modifying this function to add some print statements and see if this method is being called at all.

[2020-07-29 13:20] #27036 closed

[2020-07-29 13:30] vasikgreif commented on #27160
@vedanshujain Thanks. To make it easier to debug for me, as the app is really complex, can you please tell me what exactly do I need to have all the frontend functions (cart, session, customer) included in the REST API? Does the `wc_load_cart` function load everything?

Thanks

[2020-07-29 13:34] pmcpinto commented on #26173
Hey @rrennick I think this was supposed to be removed in 4.4 but it seems that it wasn't merged. Is it possible to still include it in 4.4 or do we need to wait until 4.5? Tks

cc @Konamiman

[2020-07-29 13:58] seb86 commented on #27157
I'm curious what/why you all need to do custom REST API for the cart when [CoCart](https://github.com/co-cart/co-cart) is available and works. I'm always looking to improve so please let me know. You can even [submit an enhanced issue on the repository](https://github.com/co-cart/co-cart/issues/new?assignees=&labels=priority%3Alow%2C+enhancement&template=enhancement.md&title=ISBAT+...). Thanks.

[2020-07-29 13:58] seb86 commented on #27160
I'm curious what/why you all need to do custom REST API for the cart when [CoCart](https://github.com/co-cart/co-cart) is available and works. I'm always looking to improve so please let me know. You can even [submit an enhanced issue on the repository](https://github.com/co-cart/co-cart/issues/new?assignees=&labels=priority%3Alow%2C+enhancement&template=enhancement.md&title=ISBAT+...). Thanks.

[2020-07-29 14:06] rrennick commented on #26173
@pmcpinto We needed to do a companion PR in WC Admin to replace some of the screen registration (eg. help tab). Was that done? cc @joshuatf

[2020-07-29 14:09] JanNovakFRI commented on #27157
@vedanshujain

I dont know for others but I was running my code as follows:

[code]

@seb86

When I will find enough time I will take a closer look to what your plugin does. Thanks for your effort. I guess I have a situation where I need only a small part of your plugin functionality, thats why I don't exactly need whole plugin and as second I need that to be part of my plugin and have exact data

[2020-07-29 14:17] Danielspain22 opened #27162 "wc 4.4 beta don't show previous orders as a logged customer(in the backend are ok)"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Upgraded on a staging site to wc 4.4 beta from 4.3.1. Everything is fine but, if i log as a customer with previous orders and visit
My Ac

[2020-07-29 14:32] vasikgreif commented on #27160
@seb86 I need only a very small portion of the functionality for the React wizard- I need to be able to add item to cart with custom data, add some customer info to session. CoCart is great for sure, but it's an overkill for what I need.

[2020-07-29 14:38] franticpsyx opened #27163 "[4.4] Pagination of custom product queries broken"
**Prerequisites (mark completed items with an [x]):**

- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Since https://github.com/woocommerce/woocommerce/pull/26260 was merged, the pagination of all custom product queries run by third-party c

[2020-07-29 14:39] ObliviousHarmony commented on #26612
One of the fixes in the 4.4.0 release is #27067, which should resolve all of these sorts of race conditions by delaying the execution of the webhooks until after the request has completed.

[2020-07-29 14:39] #26612 closed

[2020-07-29 14:43] juliaamosova commented on #27162
Hi @Danielspain22,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Logged in as a customer in WC 4.3.1:

<img width="845" alt="Screen Shot 2020-07-29 at 10 41 17 AM" src="https://user-images.githubusercontent.com/19143190/88814503-30a37e80-d188-11ea-9cc1-39543fdcd48f.png">

Logged in as the same customer after upgrading to WC 4.4 be

[2020-07-29 14:54] gillesgoetsch commented on #22100
I do experience similar issues that the 'woocommerce_package_rates' is not being triggered when the checkbox 'ship_to_different_address' field is checked. It does happen when I i.e. change ZIP-Code, but not on the checkbox.

Here is a workaround function from @vasikgreif with the feedback integrated.

I do isolate disabling the cache as much as possible to lower the impact on efficiency.

[code]

[2020-07-29 15:06] BackuPs opened #27165 "many notices in version 4.40.b1 regarding rest api and function auto_update_woocommerce in wp 5.5"
I get many repeating notices in v 4.4.0 b1 and wp 5.5

Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'auto_update_woocommerce' not found or invalid function name in /var/docs/server.tst/public/wp-includes/class-wp-hook.php on line 287

Notice: register_rest_route was called incorrectly. The REST API route definition for wc/store/cart is missing the required p

[2020-07-29 15:08] juliaamosova commented on #27161
Hi @dariaknl,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I first thought that this is not WooCommerce related but I confirmed that the issue happens only when WooCommerce is activated indeed.

Before WooCommerce is activated using WordPress 5.5-RC1-48681:

![before](https://user-images.githubusercontent.com/19143190/88817675-d0

[2020-07-29 15:18] juliaamosova commented on #27163
Hi @franticpsyx,

Thanks for reporting the issue. I am marking this with 4.4 milestone so that we could take a look at it asap.

[2020-07-29 15:20] juliaamosova commented on #27161
Noting that I am also getting the font switch on the System Status Report:

<img width="1440" alt="Screen Shot 2020-07-29 at 11 19 29 AM" src="https://user-images.githubusercontent.com/19143190/88819054-76167a80-d18d-11ea-8f47-fd5407e15664.png">

[2020-07-29 15:24] juliaamosova commented on #27165
Hi @BackuPs,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Below is the list of all the notices and warnings I am getting:

<details>
[code]
</details>

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-07-29 15:27] juliaamosova commented on #27159
Hi @terboya,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt

[2020-07-29 15:27] #27159 closed

[2020-07-29 15:31] juliaamosova commented on #27156
Looks like spam so closing this one.

[2020-07-29 15:31] #27156 closed

[2020-07-29 15:38] juliaamosova commented on #27154
Hi @slightlyfaulty,

Thank you for submitting the issue. However, it is not clear how to properly reproduce it.

Please provide us with exact steps on how to reproduce it so that we could take a look further. Thanks!

[2020-07-29 15:46] franticpsyx commented on #27163
Thanks @juliaamosova — we opened https://github.com/woocommerce/woocommerce/pull/27166 to make things a bit easier for you. The PR seems to make all of our e2e tests pass with WC 4.4.

[2020-07-29 15:48] slightlyfaulty commented on #27154
Sorry I thought the description and screenshot were pretty clear. I've added reproduction steps to the issue description.

[2020-07-29 15:51] juliaamosova commented on #27134
Hi @JBabe101,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](ht

[2020-07-29 15:51] #27134 closed

[2020-07-29 15:53] juliaamosova commented on #27165
Just noticed that there is an older issue open which is related to the same issue but has a discussion on it so I am closing this one in favor of https://github.com/woocommerce/woocommerce/issues/27138.

[2020-07-29 15:53] #27165 closed

[2020-07-29 15:54] juliaamosova commented on #27138
Hi @BackuPs,

Thanks for raising the issue. I am getting the same notices - details below:

<details>
[code]

[2020-07-29 16:14] wondarkid commented on #23573
I have resolved this issue. it took some days but i finally figured out why. i tried building a woocommerce using a free host as it was meant to be a testing site (<a href="https://www.tecteem.com/123movies-watch-movies-online/">MYASLOVE</a>) before i buy a domain. when i select the country Nigeria, the ZIP code area disappeared and i really wanted to make delivery by shipping zones. Like i said,

[2020-07-29 16:20] wondarkid commented on #23784
I heard people complaining that there is no ZIP Code field on woocommerce checkout for certain countries but i have resolved this issue. it took some days but i finally figured out why. i tried building a woocommerce using a free host as it was meant to be a testing site (<a href="https://myaslove.cloudaccess.host/shop/">MYASLOVE</a>) before i buy a domain. when i select the country Nigeria, the Z

[2020-07-29 16:27] nerrad commented on #27138
These notices are fixed in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/2926 (or at least any on the `wc/store/*` routes). The changes will show up in the next beta release of 4.4 (which will include the 3.1.0 package bump from woo blocks once we get that created).

[2020-07-29 19:30] juliaamosova opened #27168 "[WC 4.4 beta1] WC DB update: after clicking on update button, the user gets redirected to settings instead of staying on the same page"
**Describe the bug**

Upon completing OBW, the WooCommerce DB update notices shows up on the Home screen. After clicking on the update button, the user gets redirected to the settings page instead of staying on the same page.

**To Reproduce**

Steps to reproduce the behavior:

1. Complete OBW.
2. When done with OBW, you should be redirected to Home page.
3. You should see a notification letting y

[2020-07-29 19:52] tammullen commented on #27158
Hi @Pottsies

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end. Default sorting is displaying products alphabetically by name and I have no custom sorting setup.
​
![Screenshot 2020-07-29 at 20 26 32](https://user-images.githubusercontent.com/24649833/88846051-f9ab8800-d1dc-11ea-80bc-12d7

[2020-07-29 20:01] Danielspain22 opened #27167 "Variable Products broken in WC 4.3.1 and WP 5.5RC1(also with WC 4.4 Beta and WP 5.5RC1)"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After upgrading to wp 5.5 RC1 on a staging site can't add a variable product.

**Expected behavior**
Product data dropdown (where variabl

[2020-07-29 20:17] Danielspain22 commented on #27167
The same happens if you try WP5.5 RC1 with Woocommerce 4.4 beta

[2020-07-29 20:22] tammullen commented on #27154
Hi @slightlyfaulty

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2020-07-29 at 21 20 32](https://user-images.githubusercontent.com/24649833/88849304-9a9c4200-d1e1-11ea-89f2-e2d17160613c.png)

​
We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others repo

[2020-07-29 20:29] juliaamosova commented on #27167
Hi @Danielspain22,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Using WooCommerce 4.4 beta1 and WordPress 5.5-RC1-48681:

![product](https://user-images.githubusercontent.com/19143190/88849942-9dcf0800-d1b8-11ea-90f0-d93f7ff1dd75.jpg)

We’re going to work on this bug as soon as possible. 

[2020-07-29 20:32] tammullen commented on #27141
Hi @justinahsnyder

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issue

[2020-07-29 20:37] tammullen commented on #27110
No Problem! Closing this as this is now resolved.

[2020-07-29 20:37] #27110 closed

[2020-07-29 20:41] tammullen commented on #27097
Hi @Prateekjain2003

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.
​
If the issue

[2020-07-29 20:43] tammullen commented on #27107
Hi @nsajeevan89

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
From your issue description the issue you are having seems to be caused by the 3rd party plugin `Preorders for WooCommerce`.
​
Please contact the author of the plugin directly for further help.

[2020-07-29 20:43] #27107 closed

[2020-07-29 20:50] juliaamosova opened #32273 "[WC 4.4 beta1] Stats overview: no data shown after the order had been placed and completed"
**Describe the bug**

`Stats overview` widget shows no data after the order had been placed and completed. The data is, however, shown in the Analytics section if I click on `View detailed stats` at the bottom of the `Stats overview` widget.

**To Reproduce**

Steps to reproduce the behavior:

1. Complete OBW.
2. Complete all tasks on the task list on the Home screen.
3. Place an order on the site

[2020-07-29 21:34] juliaamosova opened #27169 "[WC 4.4 beta1] Moving blocks arrows added in WordPress 5.5 are a bit too close to the left edge of the box on the order page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Moving blocks arrows added in WordPress 5.5 are a bit too close to the left edge of the box on the order page:

![arrows](https://user-ima

[2020-07-30 00:15] claudiosanches commented on #27161
Hello @dariaknl,

Sounds like this is related to the PHP warnings on the screen.

Try put the follow lines to your `wp-config.php` file and check if the problem is fixed.

[code]

[2020-07-30 00:55] claudiosanches commented on #27161
I just confirmed, when the messages are disabled the font is restored.
Closing since this is generated by WooCommerce Blocks and there's a fix for it that will be included into 4.4.0 Beta 2.

[2020-07-30 00:55] #27161 closed

[2020-07-30 01:02] claudiosanches commented on #27169
@woocommerce/isotope the first one need to be fixed on WC Admin side.

[2020-07-30 01:07] claudiosanches commented on #27169
By default we hide all the meta box head, so this one should get removed too.

[2020-07-30 01:16] claudiosanches commented on #27169
This is how works when we stop hiding the other elements:

![Screenshot from 2020-07-29 22-13-55](https://user-images.githubusercontent.com/1264099/88869416-1e0d6180-d1e9-11ea-8864-7fd1cca5f648.png)

[2020-07-30 01:41] Pottsies commented on #27158
Hi Tam
Thank you for investigating.
I’m not sure why the problem is not reproducing for you, as the problem happens every time on every device, whether it’s mine or someone else’s.
It’s the numerical order that’s the problem, not the alphabetical order. It occurs when the product page is first opened as the products don’t automatically go into numerical order.
The problem is not going to occur if

[2020-07-30 03:49] peterjrees commented on #22284
Also agree that not having all of the fields is confusing, but I can see why it's been implemented this way. I think if the wording were changed to 'Change Shipping' or something similar it would be less confusing.

[2020-07-30 05:26] cvagalia opened #27174 "PayPal error (10728): The city in your shipping address is not valid. Please double-check your shipping address and try again."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-07-30 07:54] ggmacasaet commented on #26654
hi guys,

back again.. so i got a hold of the version 4.4 beta and it didn't fix the issue for the 1 cent discrepancy that i last raised. can you please help?

[2020-07-30 08:16] oweichpold opened #27176 "Display of products and subcategories of the current category"
Hello!

I'm having problems displaying the categories and sub categories and products.

It is set to display only products and subcategories of the current category.

Unfortunately ALL subcategories and ALL products of the sub categories of the current category are displayed.

What else can I set or change here?

Thanks a lot in advance!

[2020-07-30 09:46] tammullen commented on #27174
HI @cvagalia

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-07-30 09:49] tammullen commented on #27176
Hi @oweichpold

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide]

[2020-07-30 09:49] #27176 closed

[2020-07-30 11:01] gglobalstep opened #27178 "[GlobalStep WooCommerce – 4.4 Beta 1] The user is able to see “Out of Stock” products which has no price assigned and “Hide out of stock item from the catalog” option is enabled."
## Bug Description:
The user is able to see “Out of Stock” products which has no price assigned and the “Hide out of stock item from the catalog” option is enabled.

## Environment:
**Windows 10, Mac**
Browser: Chrome(Version 83.0.4103.61 (64-bit))
                 Firefox(Version 77.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps to Reproduce:
1. Create any test site using Jurassic

[2020-07-30 13:00] jacoswan commented on #25212
23025979-hc

[2020-07-30 13:33] tammullen commented on #27127
Hi @pickmeok

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide he

[2020-07-30 13:33] #27127 closed

[2020-07-30 13:33] juliaamosova commented on #27169
Noted! Thanks @claudiosanches.

[2020-07-30 13:42] tammullen commented on #27129
Hi @olaos

Thank you for submitting the issue.
​
Please provide us with more details about the issue which may help us to evaluate it further.

Are you referring to a customer accessing the payment page from their orders in "My Account"?

![Screenshot 2020-07-30 at 14 40 15](https://user-images.githubusercontent.com/24649833/88929983-c3b8e300-d272-11ea-90d3-25c3a2c77f33.png)

Can you also please f

[2020-07-30 13:57] tammullen commented on #27091
Hi @wallswonders

Sorry for the delay in replying, thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

![Screenshot 2020-07-30 at 14 56 33](https://user-images.githubusercontent.com/24649833/88931608-f6fc7180-d274-11ea-837d-a92c70664bbf.png)

We use the [WooCommerce System Status Report](h

[2020-07-30 14:23] claudiosanches commented on #27138
4.4 got fixed by #27177

[2020-07-30 14:42] tammullen commented on #27108
Hi @mribble

Thank you for taking the time reporting this bug, we really appreciate your help.

We use Unicode CLDR for our information. Postal code validation data has been deprecated in CLDR. They note to use other services that are kept up to date such http://i18napis.appspot.com/address/data/JP

In that service they suggest the `-` should be optional. Our current regex requires it since https:

[2020-07-30 14:46] #27169 closed

[2020-07-30 15:16] justanotherco commented on #27160
Same here.

Latest WooCommerce v4.3.1 Using a very bog standard WP REST API to remove an item from cart results in undefined cart functions.

What happened? Is this a bug or on purpose? Because it would be a backward compatibility nightmare to not allow standard WP REST API to access Cart and session...

[2020-07-30 15:20] justanotherco commented on #27157
Why did this change happen in WooCommerce v4.3? Having to manually initialise the cart during wp_loaded for basic WP REST API calls sounds like a hacky "fix" to something that should work outright in WooCommerce.

[2020-07-30 15:36] vedanshujain commented on #27160
You would also need to do `WC()->frontend_includes` but that's it. (I am contemplating adding it inside wc_load_cart itself).

[2020-07-30 15:40] vedanshujain commented on #27160
@justanotherco We do not load Cart, customer and sessions in REST API unless we need to for performance reasons. WooCommerce has generally supported API in the backend but not in the frontend (although this can change in future) and that's why there is no standard documented API for Cart yet.
Technically speaking, if we were infact loading cart for normal API requests, then that's a bug. If an ext

[2020-07-30 15:45] BackuPs commented on #27138
Thank you for the swift reply and fix !

[2020-07-30 15:51] justanotherco commented on #27160
But this was working before v4.3, meaning you guys changed something.

Considering the change, is there official documentation on this topic? I'm sure it's very common use for themes/plugins to want to add ajax functionality to a site. All I'm trying to do is remove an item from a cart via a WP REST API call with a bog standard call with a simple PHP that uses WC() to identify, remove the item fro

[2020-07-30 15:55] seb86 commented on #27160
@justanotherco You might find the answer your looking for with [CoCart](https://cocart.xyz).

[2020-07-30 16:01] vedanshujain commented on #25212
This was fixed by #26642 which is included in 4.4 beta.

[2020-07-30 16:01] #25212 closed

[2020-07-30 16:16] mribble commented on #27108
Thank you for finding the root cause and adding it to your future release schedule.

[2020-07-30 16:52] jakewangner opened #27180 "Cart issues with Block Shop theme"
I have attached screenshots of the two issues I'm having. First is that that site colors are set to a black background and white text, but on the checkout page/cart page the order total is in black text. Next is that the cart icon on the right side pulls out and the checkout button is underneath the paypal buttons. So you can only click the paypal buttons and can't click view cart or checkout norm

[2020-07-30 17:13] Mteak opened #27181 "FedEx Shipping Plugin is missing features"
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide here: https://docs.woocommerce.com/document/woocommerce-self-service-guide/

**Technical support for premium extensions or if you're a WooCommerce.com custome

[2020-07-30 17:17] aglamazy opened #27182 "unfiltered_image_downsize"
Hi dears,

The problem that many themes show the images size in various sizes, depending on the upload size. Which shouldn't be.
We fixed in in one place with css on minezine theme.

For one setup adding this line helped:
		$size = str_replace( 'woocommerce_', '', $size );

is missing in /includes/class-wc-regenerate-images.php. line 433.

Couldn't make in on production. Tried StoreFront, Astra, O

[2020-07-30 17:20] tammullen commented on #27180
Hi @jakewangner

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by the 3rd party theme Block Shop.
​
Please contact the author of the theme directly for further help.

I am closing this issue for now as it seems to be a support request and not a bug. If I mis

[2020-07-30 17:20] #27180 closed

[2020-07-30 17:33] #27162 closed

[2020-07-30 17:38] timmyc commented on #27169
@c-shultz while part of this issue got closed on the woo core side of things, looks like there might still be a bug that needs to be addressed on the shipping label notice.

[2020-07-30 18:48] #27168 closed

[2020-07-30 18:49] #25788 closed

[2020-07-30 19:38] #27167 closed

[2020-07-30 21:29] misterproton opened #27184 "CSV Product Importer in WooCommerce 4.3.1 is broken"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Using a fully updated Ubuntu 18.04 system, CSV Product Importer in WooCommerce 4.3.1 is broken.  It appears the importer fails to "paginate

[2020-07-30 22:23] dsmithweb opened #27186 "Incorrect quantity in "Product backorder" email"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When you enable backorders for a product, and someone orders more of the product than is in stock, the email sent to admin says:

`X units

[2020-07-31 01:37] jaycburton opened #27188 "Editing order quantity in admin changes COST if decimal amounts are entered"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-07-31 01:50] jaycburton commented on #27188
*****UPDATE*****
After I reported the bug I continued to do some testing. While testing the plug-in WPC Product Quantity for WooCommerce I discovered that when I perform the edits described above, manually editing the quantity works as expected. That is to say that the QTY updates correctly as expected, and the COST does not change (as expected). The row totals are also correct.

This means there

[2020-07-31 04:38] masteradhoc commented on #27186
@dsmithweb thanks for creating the issue after our chat :)

[2020-07-31 06:29] #27163 closed

[2020-07-31 09:12] izavishek opened #27189 "Virtual or downloadable option not showing in product data after Updating 4.4.0 beta"
I update Woocommerce plugin to beta version after updating downloadable & virtual option is missing I already tried to revert to old version but still missing

Theme woodmart

[2020-07-31 09:58] tammullen commented on #27189
Hi @izavishek,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27167.
We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-07-31 09:58] #27189 closed

[2020-07-31 14:14] tammullen commented on #27184
Hi @misterproton

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.
​
![Screenshot 2020-07-31 at 11 23 28](https://user-images.githubusercontent.com/24649833/89043159-02689f00-d340-11ea-97c7-47dfc670b861.png)
I imported new products using the sample csv file included in WooCommerce (https

[2020-07-31 14:23] Ferdev commented on #27169
@timmyc we've created a PR that addresses the issue with the shipping banner: https://github.com/woocommerce/woocommerce-admin/pull/4914

[2020-07-31 15:44] juliaamosova commented on #26654
I can confirm that the original issue filed by @madeincosmos in this thread is fixed in WC 4.4. beta1.

[2020-07-31 15:54] tammullen commented on #27188
Hi @jaycburton

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end using the steps you provided.
​

1. In the admin panel, open an order
![Screenshot 2020-07-31 at 16 09 59](https://user-images.githubusercontent.com/24649833/89051970-edded380-d34c-11ea-8e42-4167cdb4b798.png)

2. Pick an item and note both the COST and QTY values
3. Click

[2020-07-31 16:09] ggmacasaet commented on #26654
Hi,

The problem is the original issue that we had already logged incorrect values due to the 1 cent discrepancy. Now what we need to do is to recalculate those values manually. Can you please confirm that on manual creation of shipping it does calculate it properly since when we downloaded 4.4 it doesn’t still calculate it properly.

From: Julia Amosova <notifications@github.com>
Sent: Friday, 31

[2020-07-31 17:02] juliaamosova commented on #26654
Hi @ggmacasaet,

With your setup which is:

Product total price (incl of tax @ 15%) = 242
Shipping price (before tax) = 75.10
Shipping total price (inc of tax @ 25%) = 93.88

I have the following when placing the order on the site:

**Inclusive of tax - correct total $335.88:**

![incl2](https://user-images.githubusercontent.com/19143190/89058589-8d8c6980-d32d-11ea-96fd-8bc93b2b1e18.jpg)

**Exclus

[2020-07-31 17:32] ggmacasaet commented on #26654
Hi Julia,

Thanks for your response but I am not talking about the cart. The problem now with regards to the calculation is on the MANUAL ORDER CREATION. If you will see on the screenshot below when adding a manual SHIPPING value of 139.62 it is displaying 2 things. First if you will check on the line item the MVA 25% is 34.91 but if you will check on the totals section the MVA 25% is 34.90. Now t

[2020-07-31 18:52] juliaamosova commented on #27181
Hi @Mteak,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the FedEx Shipping plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact the WooCommerce helpdesk by [opening a ticket](https://woocomm

[2020-07-31 18:52] #27181 closed

[2020-07-31 18:53] Mteak commented on #27181
Thanks for the update. I have resolved the issue with FedEx.

Kind Regards,

Maddie Teakell
Marketing Manager
817.846.4651 <tel:+18178464651>
maddie@photonxtx.com <mailto:maddie@photonxtx.com>
www.photonxholdings.com <https://photonxholdings.com/>

--
_Proprietary and Confidential:  The contents and attachments of this email
are confidential and proprietary and are intended solely for viewing / us

[2020-07-31 18:57] juliaamosova commented on #27085
Hi @itsgliitch,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-31 18:57] #27085 closed

[2020-07-31 19:00] juliaamosova commented on #27041
Hi @vinodkumarsinguru,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-31 19:00] #27041 closed

[2020-07-31 19:02] juliaamosova commented on #27024
Hi @ash-f,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-31 19:02] #27024 closed

[2020-07-31 19:02] juliaamosova commented on #27181
@Mteak great news, thanks for letting us know!

[2020-07-31 19:03] juliaamosova commented on #27018
Hi @anytrade,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-31 19:03] #27018 closed

[2020-07-31 19:04] juliaamosova commented on #26969
Hi @robi06,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-07-31 19:04] #26969 closed

[2020-07-31 19:24] ObliviousHarmony commented on #23682
Hello @themike007,

While this solution fixes the `wp_rest` nonce it's important to note that it doesn't fix any others. If a plugin generates its own nonce you'll experience the same problem there.

I can currently only suggest two solutions to the problem, both with their own pitfalls:

### Create Sessions for **ALL** Users
[code]
**Please note that this snippet will probably break _ALL_ page ca

[2020-07-31 20:47] juliaamosova commented on #27186
Hi @dsmithweb,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I placed an order with items on the backorder (I had 5 items available and 5 placed on the backorder - a total of 10).

New Order notification email for admin contains correct details (total quantity of 10 with 5 on them backordered):

![back1](https://user-images.github

[2020-07-31 20:58] juliaamosova commented on #27182
Hi @aglamazy,

Thanks for raising the issue here. Image sizes in themes is a tricky topic. In the nutshell, themes can declare what sizes should be used by declaring WooCommerce support:

[code]

If the theme doesn't declare WooCommerce support for image sizes, there should be other means for controlling the size of the images in the theme itself.

We have a doc about this here [Image Sizes for Th

[2020-07-31 22:08] misterproton commented on #27184
Thank you sir!  I followed your steps and will do that next time before submitting.

I found the culprit, it is the "Conditional Shipping and Payments" plugin, which is an official WooCommerce product.  I see in the 1.8.2 update it added:

So that seems pretty likely the cause of my problem.  When I click on "plugin details" it just takes me to the WooCommerce home page.  Can you help me get to th

[2020-07-31 22:10] juliaamosova opened #27192 "Variable product with variations that have no prices is visible at the front end with the message "This product is currently out of stock and unavailable.""
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Variable product with variations that have no prices is visible at the front end with the message "This product is currently out of stock and u

[2020-07-31 22:31] viniciusaugutis opened #27194 "Stop orders being created if invalid data is sent (Version 4 Woocommerce)"
I am using the WooCommerce version 4 and I found one bug.

When an error occurs when creating an order, or woccomerce gives a validation error, but creates an order with a status of awaiting payment. And this, is causing a problem for my system.

It's similar to this, that was resolved in the version 3.6.4.
https://github.com/woocommerce/woocommerce/pull/23325

[2020-07-31 22:52] juliaamosova commented on #27178
Hi @gglobalstep,

Thanks for raising the issue. However, there are several things going on here:

I logged in to the site where you tested and provided the video from and confirm that the issue is related to the variable product that has variations with no prices. I filed a separate bug for this issue: https://github.com/woocommerce/woocommerce/issues/27192.

This is a valid bug indeed. I filed a

[2020-07-31 22:52] #27178 closed

[2020-08-01 07:39] haile97 opened #27199 "Error Coupon"
My website has WooCommerce plugin installed. When I turn on the function: Turn on the promo code, but there is no template in my shopping cart and payment page to enter the newly created coupon code. Can you tell me what my error is?

[2020-08-01 11:09] badpenguin commented on #16683
It does not work using YYYY-MM-DD...YYYY-MM-DD return the wrong days.
Also it does not seems a problem related to timezone, I've got order listed outside of the boundary of the difference between localtime and UTC.
I've to check WC code but from what I observe from the outside the dates are just converted to the wrong day before been used for a comparison.

[2020-08-01 17:07] awaidanjum opened #27201 "Issue while retrieving customer with specific email parameter"
using woocommerce rest API package automatic/woo-commerce
Want to retrieve guest user details and orders of guest user
 $woocommerce->get("customers", ['email'=>$email]);
return array is empty
when i login in to store and serach for customer the customer is available.
Please help.

[2020-08-01 18:58] sarahmtier opened #27202 "Buy Now Button not showing"
I can add products to my card and make it to the checkout page, but there is no space to enter credit card details and to check out.

[2020-08-02 13:32] slightlyfaulty commented on #27154
It seems this also affects variation titles when adding products to an order:

![screenshot-20200802-152901](https://user-images.githubusercontent.com/2036475/89124160-27dae180-d4d5-11ea-9fdc-cf3a1e11644f.png)

[2020-08-02 14:47] eshimischi opened #27203 "Cart session destroy with every browser reload on checkout/cart page"
Hello!

Here is my report:
`
### WordPress Environment ###

WordPress address (URL): https://xn--43-6kc4be0fbz.xn--p1ai/cms
Site address (URL): https://xn--43-6kc4be0fbz.xn--p1ai
WC Version: 4.3.1
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.2
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.3.1
Log Directory Writable: ✔
WP Version: 5.4.2
WP Multisite: –
WP Memory Limit: 2 GB
WP Debu

[2020-08-03 00:49] paymentplugins commented on #23682
Hi All,

Hoping I can add some color to this discussion and provide a scenario in which I encountered this issue, the cause, and what the fix/workaround was:

1. Product page loads for logged out user and server side code generates a nonce using `wp_create_nonce( 'wp_rest' )` during page load.
2. User adds product to their cart, which triggers a WP REST call and item is added to their cart. When i

[2020-08-03 02:03] gzpcme opened #27204 "Credit card expiration date "/" missing and cannot be added for mobile iphones"
Woocommerce 4.2.2
Checkout page
Credit card Expiration Date field

Phone keyboard set to "tel" in code with no way to add "/" in expiration date field.
"/" is not automatically added after first 2 digits are typed.

"Expiration date invalid" error prevents charge from being sent to gateway.
Nobody can check out using iphones since they cannot add the "/" character.

Line 72 of woocommerce/includes

[2020-08-03 05:05] tuncent opened #27206 "can't change the display number of per page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-08-03 10:09] pickmeok commented on #26054
The best solution for this issue would be to the _personal data from table WooCommerce > Customer to get deleted_ **when WP’s Delete Personal Data feature is carried out** and not an independent/manual deletion. Please take this into account!

[2020-08-03 10:17] tammullen commented on #27194
Hi @viniciusaugutis

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issu

[2020-08-03 10:18] tammullen commented on #27199
Hi @haile97

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide](ht

[2020-08-03 10:18] #27199 closed

[2020-08-03 10:18] tammullen commented on #27202
Hi @sarahmtier

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide]

[2020-08-03 10:18] #27202 closed

[2020-08-03 10:55] Archvist commented on #26951
I'm also having issues with `$wc->cart->add_fee()` after the latest update. I'm calling mine on an ajax function. Which has since stopped working after the latest WC update.

[2020-08-03 11:07] Archvist commented on #25719
Support for this, you should be able to use negative numbers for `add_fee`

[2020-08-03 14:09] juliaamosova commented on #27206
Hi @tuncent,

Thanks for raising the issue. However, you completely ignored the issue template. Please fill out all the necessary details such as steps to reproduce the issue so that we could take a look further.

[2020-08-03 14:10] juliaamosova commented on #27203
Hi @eshimischi,

Thank you for raising the issue.

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). T

[2020-08-03 14:12] eshimischi commented on #27203
Спасибо, Юлия! Thanks, i'll check it and return back with a results.

[2020-08-03 14:12] peterfabian opened #27208 "Add tags that do not exist on the site automatically when it is added to the product via REST API"
**Is your feature request related to a problem? Please describe.**
TL;DR: When adding products in the Woo app, it would be nice if tags could be created along with the product, which would eliminate the need for extra API requests.

**Describe the solution you'd like**
An enhancement on the API side to add tags that do not exist on the site, automatically when it is added to the product.

**Descri

[2020-08-03 14:16] juliaamosova commented on #27204
Hi @gzpcme,

Thanks for raising the issue. Can you please provide the details on the payment gateway you use? I've tried with Stripe on my Android phone so far and everything is working as expected.

Additionally, can you please confirm that you have done theme and plugins conflict? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storef

[2020-08-03 14:19] juliaamosova commented on #27112
Hi @Nikitogo,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-03 14:19] #27112 closed

[2020-08-03 14:23] gillesgoetsch commented on #22100
Now I tackled the issue from another direction and now in the code clearing transient cache like this:

[code]

I could add an if statement to isolate checkout and specific POST values. But for demonstration go with the example.

Now I have the issue that on the checkout and in the POST Data the shipping method is correct, but on the thank you page and therefore in the order it will not take the s

[2020-08-03 14:28] juliaamosova commented on #27019
Hi @ScottTravisHartley,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-03 14:28] #27019 closed

[2020-08-03 14:35] abubuhammad opened #27209 "Please need help with Action scheduler issue"
I moved my domain from one host to a GoDaddy domain, since then I keep getting critical error with my site sandcanada.ca, quoting this error: wp-content/plugins/woocommerce/packages/action-scheduler/classes/data-stores/ActionScheduler_DBStore.php. Error message: Uncaught RuntimeException: Error saving action: Duplicate entry '0' for key 'PRIMARY' in

[2020-08-03 14:47] gzpcme commented on #27204
I think it is an iphone issue.

The “tel” keyboard does not have a “/” key option

The gateway is Elavon Converge.

Thanks,
GZ

From: Julia Amosova <notifications@github.com>
Sent: 3 August 2020 10:17 AM
To: woocommerce/woocommerce <woocommerce@noreply.github.com>
Cc: gzpcme <md@practicalcme.com>; Mention <mention@noreply.github.com>
Subject: Re: [woocommerce/woocommerce] Credit card expiration da

[2020-08-03 15:04] gzpcme commented on #27204
Shouldn't the keyboard be "numeric" instead of "tel" for the expiration date?  That keyboard has a "/".

[2020-08-03 15:14] ajgw opened #27210 "Calling statistics for orders five years back let server crash"
I use the new admin in WC seldom, statistics module too. But today I thought I could use it and requested a list of products from a category five years back. After few minutes of seeing the rotating arrow I tried moving back to other page in admin. But the arrow stayed on screen, even I tried to go back to frontend.

Then I tried to go another of my sites on same server – it is a rented managed se

[2020-08-03 15:16] ajgw commented on #27210
Happy, that server responds after ten minutes of not responding. I will never use the new admin statistics anymore.

[2020-08-03 16:12] juliaamosova commented on #27210
Hi @ajgw,

Thank you for reporting the issue and sorry about the trouble. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-08-03 16:14] juliaamosova commented on #27209
Hi @abubuhammad,

Thank you for reporting the issue and sorry to hear about the trouble. Action Scheduler is being developed in another repository: https://github.com/woocommerce/action-scheduler.

I am going to move your bug report there so that we could take a look further at the right place.

[2020-08-03 16:35] juliaamosova commented on #27155
Hi @johndcoy,

Thanks for reporting. The issue seems like an edge case which is why I am giving it a low priority. However, please feel free to argue that it is a high priority so we could prioritize it if you think it is needed.

[2020-08-03 17:06] juliaamosova commented on #27204
Hi @gzpcme,

Thanks for your follow-up. I further tested on my iPhone6S and confirm that the `/` in the credit card expiration field comes up automatically as soon as the month is entered. I made a screen recording to document that:

https://cloudup.com/c5VERJJuUEv

Note that I tested with Stripe but the behavior should be the same for any payment gateway.

I think the issue is either with your th

[2020-08-03 17:44] juliaamosova commented on #27146
Hi @mickle-foretic,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I am seeing the tax rate converted correctly to the currency I have set (Russian rubles in my case):

![tax_pp](https://user-images.githubusercontent.com/19143190/89209271-f53ff000-d58b-11ea-9f94-f00a765525a1.jpg)

I see in the System St

[2020-08-03 17:47] juliaamosova commented on #27130
Hi @royberrev,

Thank you for raising the issue. However, this is likely specific to your site and most likely caused by the theme you are using or one of the plugins.

Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then t

[2020-08-03 18:28] juliaamosova commented on #27118
Hi @Spreeuw,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Non-zero tax rate refund looks as follows:

![tax](https://user-images.githubusercontent.com/19143190/89214637-32f54680-d595-11ea-82a4-bd7e547bad54.jpg)

Zero tax rate refund looks as follows:

![tax2](https://user-images.githubusercontent.com/19143190/89214649-37b9fa80-d5

[2020-08-03 18:53] gevcen opened #27211 "Spelling issues with special characters in French list of countries"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-03 19:17] juliaamosova commented on #27211
Hi @gevcen,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Here are the countries that start with `É` appearing in the alphabetical order:

![french1](https://user-images.githubusercontent.com/19143190/89218413-faa53680-d59b-11ea-868d-3dba3870d3e0.jpg)

And here are countries starting with `Î` appearing

[2020-08-03 19:59] Lahcen43 commented on #22706
Hi, any updates? we are still suffering

[2020-08-03 20:09] juliaamosova commented on #27077
Hi @Spreeuw,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I tested using the following:

- WC 4.3.1 + WP 5.4.2
- WC 4.4. beta1 + WP 5.4.2
- WC 4.4. beta1 + WP 5.5 rc1

In every case, I am getting the same successful results.

Before applying the coupon (you can see that `Product 1` has no link - this

[2020-08-03 20:11] juliaamosova commented on #27074
Hi @exepowered,

Thank you for reporting the issue. And apologies for the delayed response. WooCommerce onboarding (setup wizard) is a part of the WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-08-03 21:15] juliaamosova commented on #27061
Hi @gglobalstep,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

I have 2 coupons where each is marked as `for individual use only`:

![ind1](https://user-images.githubusercontent.com/19143190/89228031-d56cf400-d5ac-11ea-8fcf-1b60bcf82034.jpg)

![ind2](https://user-images.githubusercontent.com/19143190/89228035-d9007b00-d5ac-11ea-9f

[2020-08-03 21:22] juliaamosova commented on #27060
Hi @gglobalstep,

Thanks for reporting the issue. I can reproduce it on my end. However, I think the behavior here is intended and the functionality works as expected. Adding a `question` label here to verify further with the team.

[2020-08-03 21:34] juliaamosova commented on #27006
Hi @SiR-DanieL,

Thank you for submitting the issue. And apologies for the delayed response. I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

Tested with WooCommerce 4.4 beta1 + WordPress 5.5 rc1:

![](http://g.recordit.co/tRVatortlk.gif)

Can you please retest to see if the issue is still present for you? Thanks!

[2020-08-04 03:47] SiR-DanieL commented on #27006
I cannot reproduce it anymore either.

[2020-08-04 03:47] #27006 closed

[2020-08-04 05:15] abhayp-cedcoss opened #27213 "When I have installed WordPress release candidate and installed the woo-commerce too and I was trying to create a new variable product I am not getting an option on the product edit page to select product type drop-down"
When I have installed WordPress release candidate  and installed the woo-commerce too and I was trying to create a new variable product I am getting an option on the product edit page to  select product type  drop-down
![wordpres-rc-cersion](https://user-images.githubusercontent.com/25762790/89255506-86bc6a00-d63f-11ea-9c46-51c981f977d1.png)
![product type selction](https://user-images.githubuserc