[2022-08-17 17:18] #34281 closed, assigned to nobody

[2022-08-17 17:24] Buzut commented on #29667
Will never be revised for the exact same reason you mentioned regarding your plugin: breaking changes.

Polynesia is the only exemple (of overseas country) and the status is recent. Most other French overseas are Region/Departments.

I agree with you though that we shouldn't have entries in the countries list that aren't technically countries. What I regret is the lack of proper addressing mechani

[2022-08-17 17:32] barryhughes commented on #34252
Thanks all: on our side, we would also appreciate further input (I believed the recent change was aligned with the CLDR specification, but may have misinterpreted) before making yet another change.

[2022-08-17 17:51] uiroshan commented on #32878
I got this issue with my wordpress installation as well. I have php 8.1.6 installed with openlitespeed web server.

Steps:
1. I have products has unicode (Sinhala language) characters in their name and description.
2. From Admin panel Products, When I export them into CSV, I am not getting correct characters in the output.

Expected after export (Actually this is what I am importing):
`240,simple,

[2022-08-17 18:34] farhadsakhaei opened #34361 "Fail 404 loading JS files for mini cart on sub folder installations"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There is a problem with loading JS files for mini cart block on WordPress installation on a sub folder
I have a WP/Woocommerce installation on localhost on a sub folder, But all

[2022-08-17 20:04] susameca opened #34364 "Bulgarian state entered incorrectly."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Bulgarian state with key `BG-22` current label is `Sofia-Grad` ( https://plugins.trac.wordpress.org/browser/woocommerce/tags/6.8.0/i18n/states.php#L178 ).

### Expected behav

[2022-08-17 20:12] Chouby commented on #33808
Adding 2 new notices, in case it helps:
[code]

[2022-08-17 20:25] PERwator commented on #31492
This error also occurs for us. Will there ever be a fix for this? It's been going on for a very long time. It's quite unpleasant. It causes a lot of headaches. At least there should be a temporar solution for this, so that we can manually write code for it until an integrated fix comes out...

[2022-08-17 20:50] #32371 closed, assigned to rodelgc

[2022-08-17 20:52] barryhughes commented on #33971
Sorry for the delay ... this does indeed look like a bug.

It looks like some code inside of the [WC_Query::get_layered_nav_chosen_attributes()](https://github.com/woocommerce/woocommerce/blob/6.8.0/plugins/woocommerce/includes/class-wc-query.php#L902) method may relate to this problem: for example, if a customer filters for products linked with an attribute named `красный`, then the attribute wil

[2022-08-17 22:26] psealock opened #34366 "Post Release Changlogs: Automate moving changelogs from release branch to trunk"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

After a release of WooCommerce has been made, its required to b

[2022-08-17 23:00] psealock opened #34367 "Code Analyzer: Document hook and filter creation, not usage"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Code Analyzer has been written to look for instances of hook an

[2022-08-18 01:53] #33957 closed, assigned to nobody

[2022-08-18 01:58] becdetat commented on #33895
Crunch time is an issue, we shouldn't ever be doing that IMO but you're not on my team so I won't argue ;-).

If tests were important then they are even more critical if you have pressure and crunch time. Otherwise you're potentially shipping buggy, broken code which is worse than not shipping on time in a product like WooCommerce Core with a relatively slow release cadence.

However if you feel l

[2022-08-18 02:10] #32587 closed, assigned to rjchow

[2022-08-18 05:16] tovornik commented on #33093
Any updates on this?

[2022-08-18 06:16] Alexx1xx commented on #33971
Hi @barryhughes , really thanks for the provided information. Can this be fixed and can I help with something else?

[2022-08-18 07:37] #34268 closed, assigned to chihsuan

[2022-08-18 07:48] chihsuan opened #34370 "Texts in woocommerce-admin/client/wp-admin-scripts are not translated"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

All texts in woocommerce-admin/client/wp-admin-scripts are not translated

For example texts in product tour are not translated

![Screen Shot 2022-08-18 at 15 47 57](https://use

[2022-08-18 08:03] PMLS3 commented on #27295
Anyone found a solution yet?

[2022-08-18 08:30] yobotn commented on #27295
When I compressed the product images the problem went away,
another method I have used in the beginning is to use webhooks to check every product upload and if duplicate delete it.

[2022-08-18 08:51] #34353 closed, assigned to chihsuan

[2022-08-18 10:27] PMLS3 commented on #27295
Thank you...

[2022-08-18 11:17] raifd opened #34373 "Thousand & Decimal Separator Allows Numbers as Input Value"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Under **WooCommerce > Settings > General**, the **Thousand** and **Decimal** separator field allows the admin to input a number as a value thus causing **1.200** to become **1120

[2022-08-18 12:11] conschneider commented on #34252
Hello,

This was based us looking up the difference of iso code and currency symbol for example: https://www1.oanda.com/currency/iso-currency-codes/DKK - the input I got was that:

`DKK` iso code.
`kr` Symbol

For example supermarkets in Denmark have 200 Kr. on their price tag, not 200 DKK:

![](https://d.pr/i/skl10p+)
Image Link: https://d.pr/i/skl10p

Image Source: https://d1bvpoagx8hqbg.cloudfr

[2022-08-18 12:45] jorgeatorres opened #34374 "[COT] Trash in bulk actions is not available"
When COT is authoritative, the dropdown with bulk actions does not offer a "Move to Trash" action.

![](https://user-images.githubusercontent.com/25176325/185374757-e6e3f9fa-0d9b-44bc-8b00-2602f8f0d752.png)

[2022-08-18 12:47] jorgeatorres opened #34375 "[COT] "Move to Trash" in individual orders does not work"
The following link still points to the posts implementation and doesn't do anything when COT is authoritative:

![](https://user-images.githubusercontent.com/25176325/185375009-3f447d5a-0111-41b8-918d-2c7b2f3568f9.png)

[2022-08-18 12:53] jorgeatorres opened #34376 "[COT] Orders menu item doesn't display count of orders with status 'processing'"
When COT is authoritative, the count of orders that is displayed as a tiny badge inside the menu item does not appear:

<img width="84" alt="Screen Shot 2022-08-18 at 07 44 09" src="https://user-images.githubusercontent.com/184724/185399415-163e7549-3e11-46c1-a006-b285ddfa65e0.png">

[2022-08-18 13:36] AnnaMag commented on #33536
@jarekmorawski in case it slipped through your notifications :)

[2022-08-18 13:44] AnnaMag commented on #33540
To be discussed further on a product call.

[2022-08-18 13:51] AnnaMag commented on #33535
Logic needs to be added to keep the track of
- the most used categories
- last used.
Pretty complex for a porter task.

We would find it useful in the new product experience, so will circle back to it once it is implemented.

[2022-08-18 13:57] AnnaMag commented on #33541
It is not technically difficult, but a lot of work for a single issues, so it is difficult to put estimates on it.

Let's select tasks as per bandwidth and circle back to pick the next one time allowing.

[2022-08-18 14:02] AnnaMag commented on #33551
For porter role, it is ok work on one point at a time/in a given week.

[2022-08-18 14:19] AnnaMag commented on #33556
Keeping the backlog for the time being.

[2022-08-18 14:19] AnnaMag commented on #33554
It could benefit from the design input.

[2022-08-18 14:23] jonathansadowski commented on #34361
Hi @farhadsakhaei,

Thanks for the issue. Could you please include information from your [System Status Report](https://woocommerce.com/document/understanding-the-woocommerce-system-status-report/)? You can get your System Status Report by going to **WooCommerce > Status** from your WordPress Admin, and then click `Get System Report` followed by `Copy for support`. This information is helpful to u

[2022-08-18 15:23] tjcafferkey opened #42606 "Move CheckboxControl from Checkout package to a shared location"
## Is your feature request related to a problem? Please describe.
We updated the Filter by Stock block UI (https://github.com/woocommerce/woocommerce-blocks/pull/6883/), we used the [`<CheckboxControl />`](https://github.com/woocommerce/woocommerce-blocks/tree/trunk/packages/checkout/components/checkbox-control) component from the checkout package `@woocommerce/blocks-checkout`. Since this compone

[2022-08-18 15:32] gigitux opened #42605 "Reset Customizer settings when a block theme is enabled"
With https://github.com/woocommerce/woocommerce/pull/34022, the Customizer is not accessible when a block theme is enabled, but at this stage, we don't reset the settings.
So, for example, if with the Customizer, the user changes the dimension of the [Product Image thumbnail](https://woocommerce.com/document/woocommerce-customizer/#resize-and-crop-thumbnail-images) and after that enables a block t

[2022-08-18 15:34] ecgan commented on #33895
@becdetat, this is really a golden nugget of advice that I need to remind myself often. Thank you! 😃

[2022-08-18 16:46] barryhughes commented on #33971
Yes! Now it is labelled as a bug, it is in the pipeline and the team will work on a fix as soon as they have time.

Definitely, we welcome community input and if you want to report other bugs please do. We also welcome pull requests so, if you wished to help solve a problem like this one, you could also contribute that way.

More info here: https://github.com/woocommerce/woocommerce/blob/trunk/.gi

[2022-08-18 16:48] barryhughes commented on #34252
Thanks for the input. This also aligns with [CLDR R41](https://github.com/unicode-org/cldr/blob/release-41/common/main/en_DK.xml#L97-L99) (CLDR being the standard we aim to follow in these matters).

[2022-08-18 17:11] barryhughes commented on #34364
Thanks for highlighting this.

Interestingly, the current stable version of the CLDR spec suggests the proper name (in English) is simply `Sofia` [(see here)](https://github.com/unicode-org/cldr/blob/release-41/common/subdivisions/en.xml#L489). I'm highlighting that because, partly owing to the fact there can be disagreement between different users over these matters, CLDR is the standard we have

[2022-08-18 17:14] farhadsakhaei commented on #34361
Hi

`
### WordPress Environment ###

WordPress address (URL): http://localhost/!!wordpress
Site address (URL): http://localhost/!!wordpress
WC Version: 6.8.0
REST API Version: ✔ 6.8.0
WC Blocks Version: ✔ 8.0.0
Action Scheduler Version: ✔ 3.4.0
Log Directory Writable: ✔
WP Version: 6.0.1
WP Multisite: –
WP Memory Limit: 512 مگابایت
WP Debug Mode: –
WP Cron: ✔
Language: fa_IR
External object cache:

[2022-08-18 17:35] susameca commented on #34364
@barryhughes `Sofia` is already set for BG-23. So must be changed to `Sofia-Province` and BG-22 must be changed to `Sofia`:

BG-22 => 'Sofia',
BG-23 => `Sofia-District`,

The current confusion is that `Sofia-Grad` is meaning `Sofia-town` but the key corresponds to the province. That's causing problems with shipping plugins because the users select the province and think this is the town.

So, in c

[2022-08-18 18:09] barryhughes commented on #34364
That makes sense. We can go ahead and make that change (or, if you are interested in submitting a PR of your own to address this—though there is zero pressure to do so—that's also fine).

[2022-08-18 18:15] jonathansadowski commented on #34112
After some discussion about this, I'm boiling this down to some high-level steps for this:

- [x] An action that uses the output of `syncpack list-mismatches` to list any version mismatches in submitted PRs
- [x] A top-level `package.json` script that runs `syncpack fix-mismatches`
- [x] A pre-push hook for `list-mismatches`
- [x] P2 change and start discussion about updating

[2022-08-18 18:50] susameca commented on #34364
@barryhughes  I've created a PR => https://github.com/woocommerce/woocommerce/pull/34381

[2022-08-18 20:14] sun commented on #33988
Also ran into this. The case of the Shipping task was fixed in WooCommerce 6.8.0, so please update to get some speed back.

However, further problems with the onboarding tasks are remaining - cross-posting from a [wordpress.org thread on the same topic](https://wordpress.org/support/topic/woocommerce-plugin-making-site-slow-too-much-queries/#post-15929526):

The cause for this are the WooCommerce

[2022-08-18 20:26] sun commented on #33988
Why is it invoked twice:

TaskLists::setup_tasks_remaining() checks whether the whole list is complete:
https://github.com/woocommerce/woocommerce/blob/77d5842642889d8a4f02a82c0d4890150541586e/plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php#L420-L423

But the TaskList asks each task:
https://github.com/woocommerce/woocommerce/blob/77d5842642889d8a4f02a82c0d4890150541586e/plugi

[2022-08-18 21:37] danieldudzic commented on #42605
@gigitux What if someone activates a block theme, just to test but wants to go back, and is surprised they lost those settings?

[2022-08-18 22:39] barryhughes commented on #32300
@Dekadinious it sounds like this is specific to your web host, rather than it being a general issue impacting all sites. I realize you noted being unable to share your WP environment information in public, but I wonder if you could share some specific details:

- Does your host use Apache2, and would it be possible to see your `.htaccess` file and/or other site config files that might be impacting

[2022-08-19 00:38] #28705 closed

[2022-08-19 03:46] jamiepalatnik opened #42604 "FSE Product Catalog template: If the Post Title block is added to the template, it shows first product name"
## Describe the bug

This report is copied from https://github.com/Automattic/wp-calypso/issues/66549

When a Post Title block is added anywhere to the Product Catalog template on a website using the Twenty Twenty-Two theme, it shows the first product name, instead of the page title.

It is displaying correctly for other pages:
![Screenshot 2022-08-13 at 11 44 38](https://user-images.githubusercon

[2022-08-19 07:38] elenachavdarova opened #34384 "Digital product order download counter not updating when website uses SiteGround CDN service."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Recently we have released our own CDN – SiteGround CDN service which is being used by a lot of our clients already.
We have received several reports from our clients for incompat

[2022-08-19 07:48] Dekadinious commented on #32300
@barryhughes I got some info from my host now :) They say that it's not config-specific. Just default behaviour when for 404 without recoding of the URL. From my host:

PHPs $_SERVER['REDIRECT_URL'] is set to the original URL when 404 happens.

If the original URL / woo product  contains special characters, the URL will be URL encoded.

The error only happens if it is URL encoded like this.

I mig

[2022-08-19 08:10] gigitux commented on #42605
@danieldudzic yep, you are right! We should think well about all the cases. In any case, I opened this issue only for tracking reasons, we will not work on this, at least for now.

[2022-08-19 09:48] jarekmorawski opened #34386 "[Inventory] SKU field"
**User story**

As a merchant,
I want to control my product inventory
So that I can keep up with the demand

As a merchant,
I want to manage my inventory
So that my customers won’t purchase products that I don’t have at hand

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6498%3A284871

**Acceptance criteria**

- [ ] Created automatically by abbreviating the product name.
- [ ] Accepts letters and numbers.

[2022-08-19 09:50] jarekmorawski opened #34387 "[Inventory] Quantity tracking"
**User story**

As a merchant,
I want to control my product inventory
So that I can keep up with the demand

As a merchant,
I want to manage my inventory
So that my customers won’t purchase products that I don’t have at hand

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6498%3A284871

**Acceptance criteria**

- [ ] When enabled, users see the `Current quantity` and `Email me when the quantity reaches` fie

[2022-08-19 09:51] jarekmorawski opened #34388 "[Inventory] Manual inventory management"
**User story**

As a merchant,
I want to control my product inventory
So that I can keep up with the demand

As a merchant,
I want to manage my inventory
So that my customers won’t purchase products that I don’t have at hand

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6498%3A284871

**Acceptance criteria**

- [ ] When quantity tracking is disabled, the user only sees the stock status radio buttons.
- [

[2022-08-19 09:54] jarekmorawski opened #34389 "[Inventory] Advanced section"
**User story**

As a merchant,
I want to control my product inventory
So that I can keep up with the demand

As a merchant,
I want to manage my inventory
So that my customers won’t purchase products that I don’t have at hand

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6498%3A284871

**Acceptance criteria**

- [ ] The `Allow customers to place backorders` checkbox allows customers to purchase a product w

[2022-08-19 10:31] markmettler opened #34390 "Featured image not showing at Woocommerce product (URL)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I set an product image to a product, I also want to be that image a featured image. So when I send the link(URL) of the product also the product image is displaying in that

[2022-08-19 11:18] ilyasfoo commented on #34143
I confirmed this still exists with the latest trunk

[2022-08-19 11:27] #34151 closed, assigned to vedanshujain

[2022-08-19 12:03] ralucaStan opened #42603 "Razorpay Payment Gateway doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of Razorpay Payment Gateway** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they can add support.

### It's up to extension developers to add

[2022-08-19 12:04] ralucaStan commented on #42603
Related https://github.com/woocommerce/woocommerce-blocks/issues/6913

[2022-08-19 12:04] ralucaStan commented on #42603
Related https://github.com/woocommerce/woocommerce-blocks/issues/4633

[2022-08-19 14:10] siliconforks opened #34391 "Payment method settings - safe_text field generates bad HTML"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The payment methods included with WooCommerce all have a `Title` field in their settings with type `safe_text`.  This field generates an HTML `input` element which has a `type` a

[2022-08-19 14:23] jarekmorawski commented on #33536
I agree with Pedro. Unfortunately, there's no way for us to determine what's required, except for the product name (I spoke with merchants who post products without a price). Maybe this could be the only required field, and we could add a red asterisk to it and display a validation message when the user clicks the field but doesn't type the name. Additionally, we'd block the Publish button until t

[2022-08-19 14:23] zmaglica opened #34392 "WooCommerce breaks (white screen with a bunch of JS errors) when Gutenberg and WP Log Viewer are installed"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When combination of mentioned plugin (WP Log Viewer, Gutenberg and WooCommerce) are active, the end result is that white screen is shown (on setup wizard too) and a bunch of Java

[2022-08-19 15:24] tammullen opened #34394 "k6 tests: Shopper - Additional My Account Requests"
Create k6 shopper requests for order related my account requests not currently covered in tests.

To include:

[code]

[2022-08-19 15:33] tammullen opened #34395 "k6 tests: Merchant - update order requests to use admin.php?page=wc-orders"
Update any existing k6 requests to be able to be switched to use `admin.php?page=wc-orders` where applicable for stores that are using WooCommerce orders table.

[2022-08-19 16:44] barryhughes commented on #32300
Hmm. That doesn't sound right, to me, though I could be misunderstanding.

* From a PHP perspective, `$_SERVER` is populated at the very start of the request—using data supplied by the web server—and before any user code (ie, WordPress) even starts to run.
* However, in a scenario like the one we're dealing with here, it is WordPress and not the web server that decides if a response should be cons

[2022-08-19 16:44] #32300 closed, assigned to nobody

[2022-08-19 17:50] barryhughes commented on #34284
Related PR https://github.com/woocommerce/woocommerce/pull/34283 has been merged. Thanks for the idea and for the code!

[2022-08-19 17:50] #34284 closed, assigned to nobody

[2022-08-19 18:03] barryhughes commented on #34384
@elenachavdarova I have reached out to you (via the email address on your GitHub profile) regarding this issue. Please reply by email if you have any questions. Thank you!

[2022-08-19 18:03] #34384 closed

[2022-08-19 18:04] AlexDewey opened #34398 "[Enhancement]: Get Export Status Through WooCommerce API"
### Describe the solution you'd like

I'm trying to get orders with a specific export status. (Either has been exported "✅" or hasn't "-" given as True or False)

### Describe alternatives you've considered

I've considered having to use beautiful soup and collect the information through the website's interface.

### Additional context

_No response_

[2022-08-19 18:27] #34346 closed, assigned to nobody

[2022-08-19 19:11] jonathansadowski commented on #34112
P2 draft: pdV5qK-58-p2

[2022-08-19 19:26] louwie17 opened #34399 "[Components] Allow generic item type in new experimental SelectControl"
A search component has been created as part of https://github.com/woocommerce/woocommerce/pull/34159

Currently it only takes the `ItemType` as format, which is of type: `{ value: string; label: string }`
We should update the search component to accept any object type and handle the label and value/key properties by optional callback functions.
There is already one for the label - `itemToString` a

[2022-08-19 20:57] StructByLightning opened #34402 "Crash in merge_meta_item_with_formatted_meta_display_attributes"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I recently starting having a critical error (crash) in woocommerce, and traced it to the function `merge_meta_item_with_formatted_meta_display_attributes` (line 305 of `woocommer

[2022-08-20 00:36] #33523 closed, assigned to nobody

[2022-08-20 05:40] omunozind commented on #20336
@paulpullen
I understood the whole concept of what is happening, I find myself in the same situation, except that I don't know anything about code

I need to know what were the products and quantities that the user added to the cart, and send the information by webhooks

But it only shows me the action and the value of the parameter.

It is possible that you can help me generate this code to put i

[2022-08-20 17:04] ArtyshukPavlo commented on #26839
Any update here? Bug still present(

[2022-08-21 00:36] #33795 closed, assigned to nobody

[2022-08-21 06:15] moondog604 opened #34407 "Incorrect order currency"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We have been having issues where customers are randomly being charged the incorrect currency during checkout.

I found the issue and have been able to repeatedly trigger it. We a

[2022-08-21 10:34] rashedripon commented on #28870
Another AT site owner reported 36559508-zen

[2022-08-21 13:39] AHugie commented on #30915
Hello, curious what the status of this is, and also to share a related browser bug:

It turns out browsers like Chrome SORT AJAX-returned JSON arrays if they have numeric keys, so no matter how the query is ordered, the results would always display in Product ID order. My fix (which I have to update after every WC update because there are no hooks for this):
/wp-content/plugins/woocommerce/include

[2022-08-21 23:12] #34370 closed, assigned to chihsuan

[2022-08-22 03:28] JScott-MSI commented on #14541
I suddenly have this issue, never occurred before. I notice that the order email for the 1st order doesn't get sent out, only the second order. Also the fraud risk isn't run on the 1st order only the second.

[2022-08-22 03:37] psealock commented on #34367
I will close this because the logic in this ticket is backwards, ie the logic already in place is correct.

[2022-08-22 03:37] #34367 closed, assigned to nobody

[2022-08-22 07:13] Contributolo commented on #14541
Is there no intention to fix this?! :-(

[2022-08-22 08:00] orhanfernandes commented on #28870
Similar issue for AT site on 36322654-hc

Clearing cache partially solved the issue but the customer was clearly confused as to why they needed to clear cache every time they needed to sort products.

[2022-08-22 10:01] notarmon opened #42602 "Add ability to move inner blocks in Cart and Checkout blocks"
## What do you like about the Cart & Checkout blocks?
- the new style of the cart page is much better than any other plugin. I like that the product is not on one line but in a block.
-

## What do you think is missing from the Cart & Checkout blocks?
- Styling options or options to reorder elements.
- I hope it will be possible to move around every block.

[2022-08-22 10:25] senadir commented on #42602
The ability to move certain blocks is currently locked in Cart and Checkout to ensure a cohesive experience for shoppers. What are the blocks you're trying to move?

[2022-08-22 12:51] gglobalstep opened #34417 "[GlobalStep] "Store Details" fails to save the store address after navigating back to "Store Details" tab from "Industry" tab when Gutenberg plugin is active."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Store Details" fails to save the store address after navigating back to "Store Details" tab from "Industry" tab when Gutenberg plugin is active.

### Expected behavior

"Store D

[2022-08-22 13:03] masteradhoc commented on #31942
+1 had the same issue and fixed it over the workaround.
Though had then some issues with WooCommerce Blocks why i reverted to php 7.4 for now.

Hoster seems to have deactivated putenv()

[2022-08-22 13:12] iliaross opened #34418 "PHP 8.0 & 8.1 - PHP Fatal error: Uncaught TypeError: array_merge(): Argument #1 must be of type array"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Enabling PHP 8.0 or 8.1 for a virtual server and visiting in admin area `WooCommerce → Orders → Order` page generates a following error:

[code]

Using PHP 7.4 works fine.

### E

[2022-08-22 13:55] Aljullu commented on #42675
Still reproducible.

[2022-08-22 13:57] Aljullu commented on #42673
Still reproducible.

[2022-08-22 15:09] vedanshujain opened #34419 "[COT] Implement compatibility API for plugins to declare incompatibility with COT"

[2022-08-22 15:30] jonathansadowski commented on #34418
Hi @iliajie,

Thanks for the report. I see you have a few other plugins active. Just to confirm before we try and reproduce... are you still able to reproduce the error with just WooCommerce active?

[2022-08-22 15:41] Mahyulan opened #34420 "Default pages titles created in Admin's language instead of site's language"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating the WC default pages from the Status > Tools menu, it creates the pages with page-titles in the language that was set for the administrator.
That is wrong as it sho

[2022-08-22 15:41] HexaGT commented on #34186
Team,

Any update on this?

--
Regards,
Hexa GT

From: ***@***.*** ***@***.***>
Date: Tuesday, 9 August 2022 at 6:01 PM
To: woocommerce/woocommerce ***@***.***>, woocommerce/woocommerce ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [woocommerce/woocommerce] Product bulk import error (Issue #34186)
Any ETA and interim fix? We have about 140 odd products so updating it manually will be tough.

[2022-08-22 15:57] iliaross commented on #34418
Yes, before reporting this, I have just disabled all plugins, then re-enabled WooCommerce plugin only but the problem was still present.

[2022-08-22 17:03] AnnaMag commented on #32693
@joelclimbsthings could we start with estimating the effort, so we can prioritize it correctly?

[2022-08-22 17:37] barryhughes commented on #33197
✍🏽  Draft PR ready, but it depends on the PR for related issue #34177.

[2022-08-22 19:17] ObliviousHarmony commented on #34112
Thanks @jonathansadowski, the draft looks good.

[2022-08-22 22:15] jorgeatorres commented on #34402
Hi @StructByLightning!

Thanks for reaching out. We've marked this bug as high priority and will try to provide a fix shortly. Thanks again for your report!

[2022-08-22 22:22] jorgeatorres commented on #28870
Marking as duplicate of #31389.

[2022-08-22 22:22] #28870 closed

[2022-08-22 22:29] melek commented on #33266
I want to note that the 'Thumbnail cropping' setting in the Customizer is for catalog and cart thumbnails per the documentation: https://woocommerce.com/document/woocommerce-customizer/#product-images

From that, I think an option for cropping the Single Product Image via the Customizer would be a new feature request.

[2022-08-22 22:41] samueljseay commented on #34196
I haven't been able to reproduce this since I last saw it. I'm going to close it for now and reopen if I manage to find a branch causing this issue.

[2022-08-22 22:46] barryhughes opened #34423 "[COT] Force deleting orders does not result in removal of order item (+order item meta) data"
While working on #34374, I observed that order item and order item meta rows are not cleared up when force deleting an order (using COT).

This does not appear to be the case when the CPT data-store is in effect: in that case, order items and order item meta data is also deleted.

Let's confirm and fix.

[2022-08-22 23:19] psealock opened #34424 "Release Automation: Create a CLI command to automate bumping versions"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Bumping versions for WooCommerce requires several places to be

[2022-08-23 02:48] JanMaranti opened #34427 "Incorrect rounding when VARIABLE Product price is entered with more than 2 decimals"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

when the Product Price of a **Variable Product** is set to 3 decimals. For example 0.023  - WooCommerce is rounding the final price incorrectly.

As you can see here: htt

[2022-08-23 03:44] #34417 closed, assigned to chihsuan

[2022-08-23 04:07] #34273 closed, assigned to chihsuan

[2022-08-23 04:26] findingsimple commented on #33895
Just want to be clear that no one is forcing anyone to not write tests 😄 @ecgan please be pragmatic about writing tests. The feature will be behind a feature flag (as an MVP/beta) so I think it's good to have the basics covered. We can always add more.

[2022-08-23 07:29] officialdjjohn opened #34429 "Administrative division change in Nepal"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Due to political revolution administrative division system has changed in Nepal. I’m creating this topic because WooCommerce plugins shows the old administrative divisions(Zone)

[2022-08-23 08:24] vedanshujain commented on #32380
Closing as not required for now.

[2022-08-23 08:24] #32380 closed, assigned to nobody

[2022-08-23 08:57] pmcpinto commented on #33536
That's a good point. But we still have some fields that should be filled independently of the product, right? For example, price and image 🤔

[2022-08-23 09:05] jarekmorawski commented on #33536
Not necessarily. One of the merchants I spoke with said that sometimes they publish secret products without the price and images. Almost every other platform I tried has the product name as the only required field in the form.

[2022-08-23 10:05] pmcpinto commented on #34000
Hey @octaedro I think it makes sense to include this in the cycle that starts today and see if it's possible to ship it with 7.0. Thanks

[2022-08-23 10:09] druesome opened #34430 "Direct Link to Customizer Missing in Sites using FSE themes"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

It seems that we've hidden the link to the Customizer on sites using FSE/block themes through this PR:

https://github.com/woocommerce/woocommerce/pull/34022

On Atomic sites, th

[2022-08-23 10:14] pmcpinto commented on #33535
@jarekmorawski what do you think about these improvements, considering that we have an "Uncategorized" category'

[2022-08-23 10:15] pmcpinto commented on #33534
@AnnaMag it would be great to have high-level estimates on the remaining issues, to make sure we prioritize them properly. Thanks

[2022-08-23 10:21] thisissandip commented on #34344
Another report: https://wordpress.org/support/topic/error-when-editing-the-review-reply/

[2022-08-23 10:22] thisissandip commented on #34344
**Workaround:** There are no issues with the "Quick Edit" Option so one can use that option to edit the Reply

[2022-08-23 10:30] ecgan opened #34431 "Make new extensions show up in "Installed marketing extensions" card"
- Part of epic issue https://github.com/woocommerce/woocommerce/issues/33895.
- Related to task issue https://github.com/woocommerce/woocommerce/issues/34107 and its PR https://github.com/woocommerce/woocommerce/pull/34415.

After users installed an extension from the "Recommended extensions" / "Discover more marketing tools" card, the extension should show up in the "Installed marketing extension

[2022-08-23 10:33] levantoan commented on #34344
Note: error only with replies review. Check again

[2022-08-23 10:33] thisissandip commented on #34344
https://wordpress.org/support/topic/reply-to-reviews-issue-2/

[2022-08-23 10:58] Addison-Stavlo commented on #34430
may be duplicate or related - https://github.com/Automattic/wp-calypso/issues/60732

EDIT - maybe just related - but it seems this issue describes a WooCommerce decision to not show customizer settings when FSE is active but have not yet enabled those settings to be managed elsewhere.

[2022-08-23 11:09] pmcpinto commented on #33541
@AnnaMag do you want me to break it down into smaller and independent issues?

[2022-08-23 11:48] nerrad commented on #34430
Hi there, thanks for leaving the report.

WooCommerce Core no longer registers customizer settings when a block theme is active. You can [read more about the decision here](https://developer.woocommerce.com/2022/08/11/stop-registering-customizer-options-for-block-themes/).

We didn't introduce alternatives to the settings for when a block theme is active (yet) because:

- The assumption is that fo

[2022-08-23 12:16] nerrad commented on #34430
The code implementing the customizer change is here:

https://github.com/woocommerce/woocommerce/blob/9e891cf47b9516573b2f5a7d2ee30a4e75fb19d1/plugins/woocommerce/includes/customizer/class-wc-shop-customizer.php#L888-L890

For stores impacted by this that want to re-enable the Woo customizer options when a block theme is active, something like this should work (untested):

[code]

[2022-08-23 12:29] nerrad commented on #34430
Just a note, the changes [implemented here](https://github.com/woocommerce/woocommerce/pull/34022) should only appear on stores running WooCommerce 6.9 (which is currently still only in beta). @druesome, your reported environment is WC 6.8.0 which shouldn't be impacted by what I've been talking about in here. So I don't know what is happening in your case.

[2022-08-23 13:27] xristos3490 opened #34433 "PHP warning when using the WooCommerce Navigation feature with coupons disabled"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the WC navigation featured is enabled, and the coupons are disabled in a store, the system produces a warning:
[code]

### Expected behavior

Proper handling of the core men

[2022-08-23 13:37] pomichel commented on #33950
Hi,
I face the same issue with Woocommerce 6.8.2.
I had to rollback to release 6.6.1.
It was impossible to perform an add to cart operation.
Really annoying bug...

[2022-08-23 14:04] PythonDotLand commented on #28419
I'm guessing many people use Elementor and such and don't need it that much? I don't like the bloat these editors add and would love to see proper Gutenberg support in WooCommerce. It's a big issue, and I think it should be high up the TODO list, to be honest.

[2022-08-23 14:09] swatipawarGS commented on #34418
Hi @iliajie,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.8.2 version, PHP 8.0.22 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/186090976-6a8c535d-81c9-408d-a9dd-b6165ad6b3c1.mp4

Please provide us

[2022-08-23 14:10] swatipawarGS commented on #34391
Hi @siliconforks,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.1 version.

Please find below the screenshots for reference :

![#34391(check payment)](https://user-images.githubusercontent.com/94531721/186087240-471dbe0b-d326-4208-9b6a-855ca1a2314e.jpg)

![#3439

[2022-08-23 14:19] jarekmorawski commented on #33535
What exactly does that mean? Can we check how many _real_ stores actually use the `Uncategorized` category?

[2022-08-23 14:54] barryhughes commented on #34338
Thanks for the report, @datenwerkstatt. So far, we cannot seem to replicate the problem—but it is possible we are misunderstanding.

While your notes about what may be happening within the code are useful, it would be really great if you could provide a set of steps-to-replicate that describe what each user needs to do for the problem to be triggered. Would that be possible?

[2022-08-23 14:57] barryhughes commented on #34338
If possible, a screenshot of your _"Personal data retention"_ settings (from the Accounts & Privacy screen) could also be useful. Thank you!

[2022-08-23 15:11] barryhughes commented on #34300
Hi @R33D3M33R,

I'm not sure I understand the problem (and, it seems `Orders` is correctly translated—in the context of the My Account menu—so long as the active translation includes that string).

Can you clarify what you want to see, here?

[2022-08-23 15:59] moon0326 commented on #34063
@verofasulo @ilyasfoo

So the issue has been closed with https://github.com/woocommerce/woocommerce/pull/34176, but I have a question 🙏

The current implementation skips the OBW entirely when a merchant clicks `Skip` button.

I think it might be better if we skip the current step and move to the next step instead.

What do you guys think?

[2022-08-23 16:02] moondog604 commented on #34407
I went through their orders on the production version of the website since at least the beginning of June when they launched.

I also looked at the browser console to see if there was an error occurring when the checkbox for "Ship to a different address?" was toggled.  As far as I can tell it's failing to use the billing country when you uncheck it.

[2022-08-23 17:06] sstruemph commented on #28419
I'm using the snippet that @raoabidali shared and the Product Short Description field is not initializing the tinymce editor's textarea field.

[2022-08-23 17:15] #34177 closed, assigned to barryhughes

[2022-08-23 18:28] #33197 closed, assigned to barryhughes

[2022-08-23 19:03] jonathansadowski opened #34434 "Test issue"
This is a test issue. Disregard.

[2022-08-23 19:09] iliaross commented on #34418
I have given it a deeper look and there is something really sporadic happening.

If I disable all plugins and then re-enable WooCommerce 6.8.1 only - the error _still_ persists (what I did before posting this issue request). However, if I upgrade to just arrived WooCommerce to 6.8.2 the error goes away. Now I think this is caused by one of the plugins. Although something seems to be cached, becaus

[2022-08-23 19:27] iliaross commented on #34418
Well, what made error go away for us is adding a higher priority (i.e. using `20` instead of empty (`10`)) for a hook:

[code]

Although, it's not clear why the error pops up with PHP 8.1 and not 7.4 and why a higher priority makes any difference?

The content of a custom function doesn't matter as if it's get called the error pops up.

[2022-08-23 19:29] jonathansadowski commented on #34197
I'm reopening this for the time-being as I've disabled the action that does the labeling. The reason I disabled it is that, as it turns out, the default Github action token doesn't have permission to check organization membership. We just need to decide what token we want to use for that, and this'll be unblocked with a simple PR to add that token to the action.

[2022-08-23 20:27] jonathansadowski commented on #34197
After discussion, I'm closing this as done again. The current workflow checks for public memberships. We can monitor how well that detects community contributions and re-evaluate the token if need be in the future.

[2022-08-23 20:27] #34197 closed, assigned to jonathansadowski

[2022-08-23 21:18] barryhughes opened #34436 "[COT] Admin List Table > Implement column_default()"
`Automattic\WooCommerce\Internal\Admin\Orders\ListTable` is our `WP_List_Table` for COT orders, but it does not implement its own `column_default()` method—making it difficult for 3PDs to add their own custom columns.

Internal ref: p1661289125329679-slack-C03TZ180WCS

[2022-08-23 22:23] joshuatf opened #34437 "[Components] Image gallery toolbar"
Once https://github.com/woocommerce/woocommerce/pull/34435 is merged, we should add a toolbar to adjust image gallery items.  This toolbar should allow:

* Dragging of the item via a handle
* Updating the order of an item up/down
* Setting the cover for the gallery
* Replacing an image (should open the media modal)
* Removing an item

Some additional props for the `ImageGallery` will be useful:

*

[2022-08-23 22:37] #34225 closed, assigned to nobody

[2022-08-24 01:04] samueljseay commented on #34196
I managed to reproduce this yesterday on trunk

[2022-08-24 01:39] #34143 closed, assigned to chihsuan

[2022-08-24 02:05] ilyasfoo commented on #34063
@moon0326 I think it could work either way, but I'm not sure which would a new user prefer. Veronica may have a better input

[2022-08-24 03:45] dkranker commented on #30915
I'm having this same issue as well with our Woo install. There are 283 products. Uninstalled the theme and all plugins except Woo. Also updated database. The search function on the back end order system still will only work for a handful of products.

[2022-08-24 06:02] kaushikasomaiya opened #34440 "[Enhancement]: New navigation survey pop up appears repeatedly"
### Describe the solution you'd like

Every time we disable the new navigation menu, a survey pop up appears no matter if we've already pressed the No, Thanks button or filled it up.

![image](https://d.pr/i/3016vX+)

It would be good to have this appear only once.

### Describe alternatives you've considered

_No response_

### Additional context

Originally reported: https://wordpress.org/suppor

[2022-08-24 06:47] Sidsector9 opened #34441 "[Enhancement]: fix typo in Wiki for COT"
### Describe the solution you'd like

Under [Audit for order administration screen functions](https://github.com/woocommerce/woocommerce/wiki/COT-Upgrade-Recipe-Book#audit-for-order-administration-screen-functions), fix the typo in regex from `manage_shop_order_posts_custom_columns` to `manage_shop_order_posts_custom_column`

### Describe alternatives you've considered

_No response_

### Addition

[2022-08-24 07:51] mattyza opened #34442 "Webhooks: "Action" webhook topic not saving when selected"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When selecting the "Action" webhook topic, the following error is triggered:

"Webhook topic unknown. Please select a valid topic."

This indicates a bug in the "Topic" field, ra

[2022-08-24 10:15] tarhi-saad opened #42601 "Document the quantity selector hooks"
The only source of information about the quantity selector hooks is the woocommerce/woocommerce-blocks#5406 PR. It would be more appropriate to include this information in our docs so that it can be easily found.

[2022-08-24 11:37] Michaelgimii opened #34447 "sales order does not work well on variable products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

hi woocommerce team!

I try to display my products based on sale. In simple products everything is fine and displayed correctly. But in variable products, the order of products i

[2022-08-24 12:07] R33D3M33R commented on #34300
Hi @barryhughes,

the problem is in the way the translations are extracted.

How the string should have been extracted:

[code]

How it's currently extracted:

[code]

If you translate this the proper way, code on line 100 will use msgstr[0] - singular and wrong. Some translators (like the DE team) use workarounds and put plural forms in msgstr[0], but it would definitely be better to fix the extr

[2022-08-24 12:23] StephanFlury opened #34448 "Missing products when using filters"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If I use filters (e.g. "sku=123456" in URL) and the result is multiple pages long, some products will not get loaded on any of the requested pages.

For example:
I use the filter

[2022-08-24 12:53] raifd commented on #33161
5503194-zen

[2022-08-24 15:01] gglobalstep opened #34449 "[GlobalStep] Layout fails to match to that of the new design on "Products > Add New (MVP)" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Layout fails to match to that of the new design on "Products > Add New (MVP)" page.

### Expected behavior

The layout should match that of the new design on "Products > Add New

[2022-08-24 15:15] #34112 closed, assigned to jonathansadowski

[2022-08-24 15:25] #34427 closed, assigned to nobody

[2022-08-24 15:44] michael-sumner commented on #32915
I can confirm that it has successfully executed the uninstall successfully removing all the WC data, crons, and tables.

[2022-08-24 16:07] pmcpinto commented on #33535
Good question: _Since WooCommerce 3.3, there will be a default category. Every product must be assigned to a category, so the default category will be automatically assigned if the product is not assigned to any other category. By default, this category will be named “Uncategorized” and can not be deleted. However, you can rename the category. You can also switch the default category using the row

[2022-08-24 16:17] verofasulo commented on #34063
Good point. As mentioned in the [comment above](https://github.com/woocommerce/woocommerce/issues/34063#issuecomment-1195630777), I think it doesn't make much sense to skip the OBW entirely. It's a weird pattern and it's not clear at all - I think the best solution would be to allow the user to skip each step individually as shown in the video.

[2022-08-24 16:48] moon0326 commented on #34063
Thank you @ilyasfoo @verofasulo

@verofasulo I'll create a new issue to make the change.

Update: Added a new issue https://github.com/woocommerce/woocommerce/issues/34450

[2022-08-24 16:56] barryhughes commented on #34300
Can you confirm where you see this? Though it's perhaps not a big difference, what I see [in our latest release](https://plugins.svn.wordpress.org/woocommerce/tags/6.8.2/i18n/languages/woocommerce.pot) is this (only two message strings, rather than four):

[code]

I'd also note that we aren't doing anything special-to-WooCommerce in terms of how we build the `.pot` file. For example, if I have a p

[2022-08-24 17:00] moon0326 opened #34450 "Store Location: Skip Button updates"
This is a follow-up issue for https://github.com/woocommerce/woocommerce/issues/34063

We've added `Skip` button on the OBW pages.

The current implementation skips the entire OBW when the button is clicked.

We've discussed and decided to make the skip button to skip the current step and move to the next step instead.

## User Story

## Acceptance Criteria

**Feature**: Onboarding Profiler

**Sce

[2022-08-24 19:03] moon0326 commented on #34450
We've decided to revert `Skip` button.  See p1661361745845199-slack-C01SFMVEYAK

[2022-08-24 19:03] #34450 closed, assigned to nobody

[2022-08-24 19:04] moon0326 opened #34451 "Revert `Skip` button changes on the OBW pages"
We've added `Skip` button on the OBW pages in https://github.com/woocommerce/woocommerce/issues/34063

We've decided to revert the change since it can impact the conversion rate. See p1661361745845199-slack-C01SFMVEYAK

[2022-08-24 19:15] nickpagz commented on #22052
This may be covered in the[ pending PR](https://github.com/woocommerce/woocommerce/pull/33791), but I've noticed that if a user applies the coupon (whether already trashed or not), and the coupon is then permanently deleted, the user will experience a critical error on the site. The following error comes up in my testing:

[code]

The critical error goes away after clearing customer sessions.

[2022-08-24 19:32] ObliviousHarmony commented on #34111
We actually _should_ do this, at least, in that we should validate the changelog entries as part of WooCommerce.

[2022-08-24 19:33] #33771 closed, assigned to vedanshujain

[2022-08-24 23:21] joelclimbsthings commented on #32693
@AnnaMag I'd say the estimate will depend on how we want to handle this. Do we indeed want to make this an option, or could the case be made that we should just change this across the board? Is there a use case to preserve how it's calculated currently? (I'm not familiar with the implications here).

It looks like the original issue was pinging @LevinMedia to bottom out on this without reply.

cc

[2022-08-24 23:50] #34196 closed, assigned to nobody

[2022-08-25 00:01] barryhughes opened #34459 "Fatal error if a coupon is (permanently) deleted after being added to a cart"
If a customer adds a coupon to the cart, and the coupon is then **permanently** deleted, the customer will experience a fatal error when accessing the checkout page/when attempting to check out.

[code]

Originally flagged by @nickpagz [(over here)](https://github.com/woocommerce/woocommerce/issues/22052#issuecomment-1226136046).

### Steps to replicate

1. As an admin, create a coupon.
2. As a cu

[2022-08-25 00:02] barryhughes commented on #22052
Good catch, thanks @nickpagz. Though related, it's a different problem so I've created a new issue for this:

https://github.com/woocommerce/woocommerce/issues/34459

[2022-08-25 02:33] #34451 closed, assigned to moon0326

[2022-08-25 04:29] rodelgc commented on #34449
Hi @louwie17 it seems that when we go to the "Add New (MVP)" page, the screen we're seeing is from [#34214](https://github.com/woocommerce/woocommerce/pull/34214). We don't see the elements from https://github.com/woocommerce/woocommerce/pull/34113. Just want to ask if there's something we missed when testing https://github.com/woocommerce/woocommerce/pull/34113? Thanks :)

[2022-08-25 05:18] R33D3M33R commented on #34300
Hi, the first example is only one of the "Orders" strings in the file. The second one is in line 11038, where it says:

[code]

In [some languages](https://www.gnu.org/software/gettext/manual/html_node/Plural-forms.html) you then get msgstr[2] and msgstr[3].

Here how the DE team translated this:

[code]

If they would translate this in the proper way (Plural-Forms: nplurals=2; plural=n != 1):

[c

[2022-08-25 05:52] chihsuan opened #34460 "Country field is empty when navigating back to "Store Details" tab"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

pbIJXs-2oe-p2#comment-4867

### Expected behavior

The Country field should have value when navigating back to "Store Details" tab

### Actual behavior

The Country field is empt

[2022-08-25 08:06] vedanshujain commented on #32468
Done in #34050

[2022-08-25 08:06] #32468 closed, assigned to vedanshujain

[2022-08-25 10:03] ABooooo commented on #33265
I am having the same issue. Is there any update on this?

[2022-08-25 10:13] webaxones opened #34462 "WC > 6.7.0 & custom role capabilities"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

1. A new blank WordPress site, without extension, classic structure, PHP 8.0.21
2. I install "User Role Editor" plugin and I clone the "administrator" role for a custom "webmaste

[2022-08-25 10:15] rynaldos opened #34463 "[Enhancement]: Dual currency for Croatia as of September 5th"
### Describe the solution you'd like

As per a recent support request here https://wordpress.org/support/topic/two-currency-both-visible/ Croatia will be using both the Kuna as well as Euro currency as of September.

I was able to find some information on that at the following link:

https://www.euronews.com/next/2022/01/18/croatia-to-display-prices-in-both-kuna-and-euro-from-september-5

I am not

[2022-08-25 10:41] pmcpinto commented on #33554
@jarekmorawski can you explore how this flow will look like next week?

[2022-08-25 10:44] jarekmorawski commented on #33554
Here are the designs I put together after we've first identified this issue: `6cBYbZmiet1l7gzc28ce8k-fi-4177%3A154971`

[2022-08-25 10:48] druesome commented on #34430
@nerrad

Thank you, I didn't realize that change impacted a different version.  My bad about referencing #34022 as I assumed that PR was hiding the link to the Customizer on top of Calypso already hiding it on my Atomic site.

Although the main ask of this request is to ensure that the link to the Customizer (wp-admin/customize.php) continue to be surfaced under the Appearance menu while the WooCo

[2022-08-25 10:53] pmcpinto commented on #33536
Right. So maybe we should close this issue and rely on the guided tour to help users distinguish what's critical from accessory. Do you agree?

[2022-08-25 11:01] jarekmorawski commented on #33536
Yes. I would, however, make the product name the only required field. Some acceptance criteria I can think of:

- [ ] Product name field has the red asterisk in the label
- [ ] The publish button is disabled until the user enters the name
- [ ] On hover, we show a tooltip message: `Give this product a name before saving it.`
- [ ] The publish button becomes active if the user enters at least 1 cha

[2022-08-25 11:06] nerrad commented on #34430
Yes, that is already understood. It's why:

- I offered a [code solution](https://github.com/woocommerce/woocommerce/issues/34430#issuecomment-1223987260) that environments such as Atomic or WP.com or other hosts can implement in the meantime if WC 6.9 is released before we can implement...
- This [linked PR to this issue](https://github.com/woocommerce/woocommerce/pull/34443) will ensure that the

[2022-08-25 11:32] KarlisJ opened #34464 "The cart is emptied after customer logs into account"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Cart items are cleared if you log in after adding items to the cart if Jetpacks is active.

### Expected behavior

After login into account the cart should contain same product a

[2022-08-25 11:56] louwie17 commented on #34449
Thanks for actually testing this new page, I didn't expect it to be included. The UI of #34113 was updated in #34211 which add's the form buttons and removes the image section and the category text field.
So the above screenshot looks correct from a testing perspective.

The only bug I can see from the screenshot is that there appears to be some strange styling issue around the **Feature this prod

[2022-08-25 12:01] rynaldos commented on #34463
As a (dirty) workaround for now, we can use something like the following.

[code]

The conversion rate value needs to be manually set.

[2022-08-25 12:26] #22052 closed

[2022-08-25 12:36] barryhughes commented on #34300
Understood now, thank you for persevering!

@woocommerce/atlas do you have thoughts on this—is it possible to look at our tooling in this area?

[2022-08-25 12:43] ashtonfei opened #34466 "Unable to update the product attributes via API V3"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Update the product attributes with both `wp-json/wc/v3/products/<id>` and `wp-json/wc/v3/products` batch update, the attributes can't be updated and it removed old attributes.

<

[2022-08-25 13:46] octaedro commented on #34449
Yes, as @louwie17 mentioned above, seeing the menu item is expected. I'm currently working on the **Feature this product** checkbox styling.

[2022-08-25 14:41] jorgeatorres commented on #34402
Hi @StructByLightning!

After taking a deeper look, I wasn't able to reproduce this on a clean install of WooCommerce. Under normal circumstances, `$formatted_meta` shouldn't be NULL. After tracing the execution path of the functions you mentioned, you end up on [`WC_Order_Item::get_formatted_meta_data()`](https://github.com/woocommerce/woocommerce/blob/996e56898704fafbb4cba4e566f82f3716276cf2/plu

[2022-08-25 14:47] MrJnrman commented on #34236
Closing. This work was accomplished in https://github.com/woocommerce/woocommerce/pull/34311

[2022-08-25 14:47] #34236 closed, assigned to MrJnrman

[2022-08-25 14:47] Konamiman opened #42600 "The filter products by attribute block is not using the product attributes lookup table"
## Describe the bug

WooCommerce 6.3 introduced [a new product attributes lookup table](https://developer.woocommerce.com/2022/02/02/new-product-filtering-by-attributes-rolling-out-in-woocommerce-6-3/) whose usage can be enabled and disabled by a setting. The filter by attribute block is not using it, cuasing discrepancies between the product counts returned by the block and by the old WooCommerce

[2022-08-25 15:29] ankitguptaindia opened #34470 "[COT] Fatal Error on adding Coupons to manual order"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When adding Coupons to manual orders, the site throws Fatal Error.

https://user-images.githubusercontent.com/6384299/186706402-5a965fe4-cf48-4e81-99bc-401e39c0f912.mp4

### Expe

[2022-08-25 15:51] #34230 closed, assigned to jorgeatorres

[2022-08-25 16:25] helgatheviking opened #34473 "[Enhancement]: Add partity for woocommerce_applied_coupon hook in order class apply_coupon() method"
### Describe the solution you'd like

the cart class' [`apply_coupon()` method has a `do_action( 'woocommerce_applied_coupon', $coupon_code )` hook. ](https://github.com/woocommerce/woocommerce/blob/9db2c452905ebf796a8e8b4d63db64b57e169dbe/plugins/woocommerce/includes/class-wc-cart.php#L1791)

Need a similar hook in the [order class' `apply_coupon()` method](https://github.com/woocommerce/woocomme

[2022-08-25 16:56] chairmanbrando commented on #32187
I was also having this issue on my local test site. I checked `wc_admin_note_actions` table and found that the `remove-legacy-coupon-menu` item was marked as "actioned" despite the fact that the notice kept reappearing.

What ended up fixing it was going through the setup wizard. Dismissing its list items might've worked as well, but that's not what I did. Once the whole "start selling" setup busi

[2022-08-25 17:12] them-es commented on #32839
The PHP warnings cannot be reproduced anymore (WooCommerce v6.8) and the issue seems to be resolved for now. Thanks!

[2022-08-25 17:12] #32839 closed, assigned to nobody

[2022-08-25 17:57] #32542 closed, assigned to nobody

[2022-08-25 18:03] #28410 closed

[2022-08-25 18:51] jeffpaul commented on #34470
@alefesouza FYI ^

[2022-08-25 19:15] AnnaMag commented on #33541
It would indeed be helpful to have this issue defined in smaller self-contained chunks.

[2022-08-25 20:37] ObliviousHarmony commented on #34111
One option could be to add the change logger back to WCA and set the changelog directory (I think it's a supported config) to the Core one. Also make sure that the validation for CI checks the correct directory.

[2022-08-25 20:43] joelclimbsthings commented on #34390
Thanks @markmettler !

I assume when you're referring to the link you mean the direct product link? Something like this:
`https://public-woocommerce-site.com/product/rustic-linen-gloves/`

And then you expect the image preview shown in chat application and otherwise to be the image of the product?

My understanding is that this preview is generated with a series of meta tags, such as `og:image` th

[2022-08-26 03:06] psealock opened #34479 "Workflow actions and bots: Security Audit"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

We have several bots and tokens used to access data via read on

[2022-08-26 03:15] psealock opened #34480 "Community Contributions: Investigate new labelling strategy"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

https://github.com/woocommerce/woocommerce/pull/34309 Added a "

[2022-08-26 03:16] psealock commented on #34215
I added the blocked status so we wait until the results of the following issues can determine a path forward.

* [Workflow actions and bots: Security Audit](https://github.com/woocommerce/woocommerce/issues/34479)
* [Community Contributions: Investigate new labelling strategy](https://github.com/woocommerce/woocommerce/issues/34480)

[2022-08-26 03:27] psealock commented on #33686
Unblocked because we are at the point of being able to try again and see whats broken.

[2022-08-26 04:14] psealock commented on #34111
This idea was proposed today. By adding a composer.json entry for changelogger in wc-admin, we can point it to Core's changelog.

If that works, the second part of this issue will be to update the changelog validation to reflect this change.

[2022-08-26 04:18] psealock opened #34481 "Core Changelog Writing: Consolidate 3 ways"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

There are currently 3 ways to compile changelogs for WooCommerc

[2022-08-26 04:23] sanskritkm opened #34482 "Import and Export in batch limitation option allow"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Sometime the server is low memory when do Export Or Import for large product CSV data it make server hanged or stuck.

### Expected behavior

Should allow to limit on batches num

[2022-08-26 04:39] chihsuan commented on #32267
I've add `wp_version` prop to `storeprofiler_store_business_details_continue` in https://github.com/woocommerce/woocommerce/pull/34439. Will check % of users affected by this when it's released.

[2022-08-26 06:25] chihsuan commented on #32281
I think we need to split this into smaller pieces to work on.

@rjchow As you summarized in the P2, would you like to create some tickets for them?

[2022-08-26 06:33] chihsuan commented on #32486
Looks like https://github.com/woocommerce/code-reference has not been updated for a long time. I think we need to check the repo status first. 🤔

[2022-08-26 08:09] cagrioz commented on #27400
@nftrendbrasil Sorry, I don't precisely remember the solution, but I think I solved it by enabling auto-increment for the ID or something like that. As you see, the order_item_id key is the same for all products. So the solution relies on the database; you have to repair it somehow.

[2022-08-26 09:15] qasumitbagthariya opened #34485 "[COT] Error on adding Coupons -> Error during status transition. Unimplemented"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we add a coupon during cart product it will give an error. Also I have cross verify with the normal WooCommerce setup it's working as expected there.
Error: " Error during s

[2022-08-26 09:30] peterfabian opened #34486 "[COT] Sync: handle case when order is missing in COT, but post is not a placeholder"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

COT DataSynchronizer doesn't pick up a discrepancy.

### Expected behavior

DataSynchronizer probably needs to cover more discrepancies.

### Actual behavior

Sync not working, C

[2022-08-26 10:27] jarekmorawski opened #34487 "[Visual] Different border colors and radii for cards on the home scree"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The store overview/stats card on the home screen has a different border color and radius from other cards on the page.

<img width="732" alt="image" src="https://user-images.gith

[2022-08-26 10:41] MrHappyAsh commented on #26839
Also affected by this bug.

[2022-08-26 10:57] peterfabian commented on #34486
Could be solved by https://github.com/woocommerce/woocommerce/pull/34465.

[2022-08-26 11:05] github-actions[bot] opened #42599 "[Flaky Test] should render"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should render

## Test path
`tests/e2e/specs/shopper/filter-products-by-rating.test.ts`

## Errors

<time datetime="2022-08-26T11:05:55.693Z"><code>[2022-08-26T11:05:55.693Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/woocommerce/woocomme

[2022-08-26 12:10] gglobalstep opened #34488 "[GlobalStep] "We want to know what matters most to you" note fails to display after skipping OBW on the "WooCommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"We want to know what matters most to you" note fails to display after skipping OBW on the "WooCommerce > Home" page.

### Expected behavior

"We want to know what matters most t

[2022-08-26 14:00] jonathansadowski commented on #34424
The process for syncing users to the Automattic and WooCommerce orgs is described a bit in p6q6po-cy6-p2. I don't know much about it, but I think that'd be a good starting place for anyone picking up the issue.

[2022-08-26 14:52] ankitguptaindia opened #34489 "[COT] Order Preview icon does nothing on click"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The preview icon does nothing on the Order listing page.

### Expected behavior

It should show order details in the pop up.

Non COT enabled-

![image](https://user-images.githu

[2022-08-26 15:39] ankitguptaindia opened #34490 "[COT] Screen Options are not available on Single Order Screen"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Screen Options are not available on Single Order Screen (COT enabled site).

### Expected behavior

**Without COT -**

![image](https://user-images.githubusercontent.com/6384299/

[2022-08-26 17:46] jonathansadowski commented on #34407
Hi @moondog604,

Thanks for the report. You mentioned that you disabled most plugins except for those required for checkout... Is there any series of steps you're able to take to reproduce an issue with just WooCommerce enabled?

It sounds like there's a possibility that there may be an issue with Aelia Currency Switcher, and that you may need to reach out to them to report that. If there's a seri

[2022-08-26 18:00] jonathansadowski commented on #34447
Hi @Michaelgimii,

Thanks for the issue. Could you please include information from your [System Status Report](https://woocommerce.com/document/understanding-the-woocommerce-system-status-report/)? You can get your System Status Report by going to **WooCommerce > Status** from your WordPress Admin, and then click `Get System Report` followed by `Copy for support`. This information is helpful to us

[2022-08-26 18:01] jonathansadowski commented on #34392
Hi @zmaglica,

Thanks for the report. Are you able to reproduce this issue at all without any other plugins installed, or does it only happen with WP Log Viewer also installed?

[2022-08-26 18:06] jonathansadowski commented on #34466
Hi @ashtonfei,

Thanks for the issue. Could you please include information from your [System Status Report](https://woocommerce.com/document/understanding-the-woocommerce-system-status-report/)? You can get your System Status Report by going to **WooCommerce > Status** from your WordPress Admin, and then click `Get System Report` followed by `Copy for support`. This information is helpful to us in

[2022-08-26 18:07] jonathansadowski commented on #34482
Hi @williamgh2019,

Thanks for the issue. Could you please include information from your [System Status Report](https://woocommerce.com/document/understanding-the-woocommerce-system-status-report/)? You can get your System Status Report by going to **WooCommerce > Status** from your WordPress Admin, and then click `Get System Report` followed by `Copy for support`. This information is helpful to u

[2022-08-26 21:34] #34300 closed, assigned to nobody

[2022-08-27 00:45] moondog604 commented on #34407
Hello @jonathansadowski

At this point I am 99.9% sure you are correct. I don't think the currency switcher they have installed has the logic to handle this so late in the checkout process.

I most likely will be closing this in the next few days.

Thank you for the response!

[2022-08-27 05:46] fvdbgit commented on #28752
Dear WooCommerce developers,

This issue is still not fixed in WooCommerce version 6.8.2.

When are you going to solve this problem?

[2022-08-27 14:30] ashtonfei commented on #34466
Hi Jonathan,

Here is the report.

On Sat, Aug 27, 2022 at 2:06 AM jonathansadowski ***@***.***>
wrote:

--
Best Regards,
Ashton Fei

💮 Automate the Boring
www.ashtonfei.com

`
### WordPress Environment ###

WordPress address (URL): https://localconnect.fr
Site address (URL): https://localconnect.fr
WC Version: 6.8.2
REST API Version: ✔ 6.8.2
WC Blocks Version: ✔ 8.0.0
Action Scheduler Version: ✔

[2022-08-28 00:37] #33946 closed, assigned to nobody

[2022-08-28 04:31] PowerGPU commented on #32693
@joelclimbsthings @AnnaMag @pmcpinto I am the client who brought up the concern and hope that the team can truly set this as a priority. I tried to find a good reason why any company using the platform would prefer to have the estimate date rather than the payment date and I honestly can't find any. Ideally if it's easier for the development team to differentiate the estimate date and the payment

[2022-08-28 05:03] PowerGPU opened #34492 "Cart Re-calculations/ Updated-changes sent to Avalara"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We are a computer manufacturing company. We not only provide front end sales on the WooCommerce platform but we also provide estimates to clients and send that to them via email

[2022-08-28 08:58] thirumani02 opened #34493 "Featured product option ignored in block editor mode"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Once we set the product as featured through quick edit and start editing product the featured choice reversed or ignored. The result is same when i tried through REST API as well

[2022-08-28 21:25] moondog604 commented on #34407
Hello again @jonathansadowski

Thank you so much for taking the time to get back to me.

They fixed the plugin for us, and I am just waiting for official patch to drop to install.

Ironically I had a similar issue in a shopping cart I built. I wasn't aware the checkout form was still submitting the values of the shipping fields, and I guess I didn't test enough address combinations to see the issu

[2022-08-28 21:25] #34407 closed, assigned to nobody

[2022-08-29 06:09] kaushikasomaiya opened #34497 "Missing Action Scheduler tables crashes WP Admin"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am not sure if this is worth attention, but I am opening a report here for investigation.

If I remember correctly, earlier, error handling was graceful when one of the `action

[2022-08-29 08:01] infokiftikhar commented on #22100
**Hides specific shipping rate when order total is more than $1.**

	function new_method( $rates ) {

		$order_total = WC()->cart->get_subtotal();
		if ($order_total > 1) {
			foreach ($rates as $rate_id => $rate) {
				if ('free_shipping' === $rate->get_method_id()) {
					unset($rates[$rate_id]);
				}
			}
		}

		return $rates;
	}
	add_filter( 'woocommerce_package_rates', 'new_method', 100 );

[2022-08-29 09:25] #34194 closed, assigned to chihsuan

[2022-08-29 10:19] pmcpinto commented on #33536
Sounds good to me. I'll update the AC

[2022-08-29 10:32] pmcpinto commented on #33541
@jarekmorawski what do you think about the following split? Would you reorganize them differently?

Issue 1:
- [ ] Add a tooltip near the "custom product attribute" dropdown and "add" CTA with a link to the support doc: https://woocommerce.com/document/managing-product-taxonomies/#section-6
- [ ] If there are no attributes in the store: show the add attribute form by default
- [ ] If there's at le

[2022-08-29 10:56] ecgan commented on #34108
Done in https://github.com/woocommerce/woocommerce/pull/34264, closing this issue.

[2022-08-29 10:56] #34108 closed, assigned to ecgan

[2022-08-29 11:07] pmcpinto commented on #32693
Hi @PowerGPU thanks for your detailed feedback. By payment date, do you mean the order completion date?

[2022-08-29 11:08] pmcpinto commented on #32693
@joelclimbsthings is it possible to have a high-level estimate of the two approaches?

[2022-08-29 12:48] zmaglica commented on #34392
Hi @jonathansadowski

This issue occurs only when all three plugins are activated at the same time.

[2022-08-29 13:43] swatipawarGS commented on #34464
Hi @KarlisJ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/187140847-45de5597-9232-4fa9-9271-8d48b1b62fa7.mp4

Please provide us with more details a

[2022-08-29 13:44] swatipawarGS commented on #34420
Hi @Mahyulan,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/187153881-b6e4e4a2-5d51-449c-830b-55eb87e55d36.mp4

Priority of this issue will be assigne

[2022-08-29 13:56] peterfabian commented on #34462
Hi, @webaxones

Thanks for reporting, we can confirm this happens. Also, deactivating WC enables the editing of other admins again.

[2022-08-29 14:06] peterfabian commented on #34448
Hi @StephanFlury

Thanks for reporting! Can you please specify in which context do you see this? Would that be in the REST API context? It would be great if you could provide us with a full query string (you can omit the domain part of course) so that we have an easier time reproducing it.

It would be even better if you could provide us with a db dump of yours, especially if this needs 160 produc

[2022-08-29 14:08] Mahyulan commented on #34420
Yes, that is the problem indeed. Thanks.

[2022-08-29 14:14] gglobalstep opened #34503 "[COT] [GlobalStep] "Fatal error: Uncaught Error" is displayed after clicking the "Publish" button on the "Products > Add New" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Fatal error: Uncaught Error" is displayed after clicking the "Publish" button on the "Products > Add New" page.

### Expected behavior

Sample product file should be imported wi

[2022-08-29 14:25] gglobalstep opened #34504 "[COT] [GlobalStep] Clicking "Add Order" button navigates to frontend with "Oops! That page can’t be found." page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Clicking "Add Order" button navigates to frontend with "Oops! That page can’t be found." page.

### Expected behavior

Clicking "Add Order" button should navigate to Edit order p

[2022-08-29 14:42] gglobalstep opened #34505 "[COT] [GlobalStep] "Add store details" task fails to mark as completed for selecting Japan based address while OBW."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Add store details" task fails to mark as completed for selecting Japan based address while OBW.

### Expected behavior

"Add store details" task should be marked as completed fo

[2022-08-29 14:50] gglobalstep opened #34506 "[COT] [GlobalStep] "Fatal error: Uncaught Error" is displayed after clicking "Publish" button on "Add new coupon" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Fatal error: Uncaught Error" is displayed after clicking "Publish" button on "Add new coupon" page.

### Expected behavior

Coupon should be published without any error after cl

[2022-08-29 15:21] gglobalstep opened #34507 "[COT] [GlobalStep] "Refunded" amount fails to deduct from total amount after clicking "Refund" button on "Edit Orders" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Refunded" amount fails to deduct from total amount after clicking "Refund" button on "Edit Orders" page.

### Expected behavior

"Refunded" amount should be deducted from total

[2022-08-29 15:30] gglobalstep opened #34508 "[COT] [GlobalStep] Search functionality fails to work after clicking "Search orders" button on "Woocommerce > Orders" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Search functionality fails to work after clicking "Search orders" button on "Woocommerce > Orders" page.

### Expected behavior

Search functionality should work properly after c

[2022-08-29 17:57] hamster2116 commented on #22158
Any news on this? Still happening in Version 6.8.2

[2022-08-29 18:06] csmcneill commented on #32837
@ObliviousHarmony @swatipawarGS can y'all reproduce this with the steps outlined by @cgehrke9?

[2022-08-29 20:36] joelclimbsthings opened #34509 "Lost styling for tasks sidebar progress header"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The tasks sidebar (available on most non-homescreen screens) contains the tasks component, including the progress header. Recently this has lost the appropriate styling:

Previou

[2022-08-29 21:48] victormattosvm opened #34511 "[Enhancement]: Hook before calculating shipping"
### Describe the solution you'd like

Please, add a new hook before calculating shipping, like:

`do_action( 'woocommerce_before_calculate_shipping', $packages );`

https://github.com/woocommerce/woocommerce/blob/75dbec00fd58dd34133107497bc5bd243ffe8ade/plugins/woocommerce/includes/class-wc-shipping.php#L257

### Describe alternatives you've considered

_No response_

### Additional context

_No r

[2022-08-29 22:15] Michaelgimii commented on #34447
hi @jonathansadowski , Is this problem only on my website? Please note that there are no simple products on my website. All products are variable. But if all products are of simple type, this bug does not exist.

`
### WordPress Environment ###

WordPress address (URL): http://localhost:85/jetengine
Site address (URL): http://localhost:85/jetengine
WC Version: 6.3.1
REST API Version: ✔ 6.3.1
WC Bl

[2022-08-30 01:33] psealock opened #34513 "Turbo: Caching legacy assets in CI"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

The Turbo caching for legacy assets and react admin may not wor

[2022-08-30 01:42] #33838 closed, assigned to chihsuan

[2022-08-30 01:43] #34269 closed, assigned to chihsuan

[2022-08-30 01:44] #34460 closed, assigned to chihsuan

[2022-08-30 05:00] rodelgc commented on #34508
For add'l info: COT was enabled on 6.9.0-beta.2 by installing this [WooCommerce Enable COT](https://gist.github.com/vedanshujain/564afec8f5e9235a1257994ed39b1449) plugin

[2022-08-30 05:01] rodelgc commented on #34507
For add'l info: COT was enabled on 6.9.0-beta.2 by installing this [WooCommerce Enable COT](https://gist.github.com/vedanshujain/564afec8f5e9235a1257994ed39b1449) plugin

[2022-08-30 05:01] rodelgc commented on #34506
For add'l info: COT was enabled on 6.9.0-beta.2 by installing this [WooCommerce Enable COT](https://gist.github.com/vedanshujain/564afec8f5e9235a1257994ed39b1449) plugin

[2022-08-30 05:01] rodelgc commented on #34505
For add'l info: COT was enabled on 6.9.0-beta.2 by installing this [WooCommerce Enable COT](https://gist.github.com/vedanshujain/564afec8f5e9235a1257994ed39b1449) plugin

[2022-08-30 05:01] rodelgc commented on #34504
For add'l info: COT was enabled on 6.9.0-beta.2 by installing this [WooCommerce Enable COT](https://gist.github.com/vedanshujain/564afec8f5e9235a1257994ed39b1449) plugin

[2022-08-30 05:01] rodelgc commented on #34503
For add'l info: COT was enabled on 6.9.0-beta.2 by installing this [WooCommerce Enable COT](https://gist.github.com/vedanshujain/564afec8f5e9235a1257994ed39b1449) plugin

[2022-08-30 05:12] PowerGPU commented on #32693
@pmcpinto No I mean the payment received date. Because we are a manufacturing company our completion date can sometimes be weeks or months later. What I meant with the dates above in the description was the payment date, when the client paid for their order.

[2022-08-30 05:35] rodelgc opened #34514 "[COT] [GlobalStep] Importing of products via CSV is getting `500 Internal Server Error` when tracking is enabled, therefore resulting to infinite loading in the "Your products are now being imported..." screen"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Logging this on behalf of GlobalStep.

On WooCommerce 6.9 Beta 2, when tracking is enabled, and you attempt to upload products via CSV, you will get the following behaviors:

- a

[2022-08-30 10:29] mskapusuz opened #34516 "Product added notice is not showing after adding a product (if the product is listed by a shortcode) to cart"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If AJAX Add to Cart behavior (Enable AJAX add to cart buttons on archives) is disabled, the "product added" notice is not showing after adding a product to the cart from **shortc

[2022-08-30 10:30] #34147 closed, assigned to jorgeatorres

[2022-08-30 11:35] pmcpinto commented on #32693
thanks for the clarification. I've asked this because as far as I know in some use cases it's not possible to record the payment received date. For example, if the payment is made through offline payment options such as cash on delivery. cc @joelclimbsthings

[2022-08-30 12:32] jeffpaul commented on #34490
@alefesouza FYI ^

[2022-08-30 12:32] jeffpaul commented on #34489
@alefesouza FYI ^

[2022-08-30 13:03] gilles66 opened #34518 "Impossible to save a product in back-office. (Javascript error)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Impossible to save a product in back-office. due to a Javascript error.

### Expected behavior

Saving the product.

### Actual behavior

The click on the submit button make appe

[2022-08-30 14:52] abhij89 commented on #32837
I am experiencing this as well. The analytics is including refunds in the net sales on the Analytics -> Orders. It's managing the partial refunds just fine, but not the fully refunded orders. Following screenshot shows that fully refunded amount is 0 for the refunded orders but for the partially refunded orders it is showing the correct amount.

![image](https://user-images.githubusercontent.com/1

[2022-08-30 15:13] louwie17 opened #34519 "`wcadmin_settings_change` not fired when adding/updating shipping zones/classes"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When either adding or updating a shipping class or zone within **WooCommerce > Settings > Shipping** the `wcadmin_settings_change` track is not being triggered.

### Expected beh

[2022-08-30 15:30] github-actions[bot] opened #42598 "[Flaky Test] can be inserted more than once"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
can be inserted more than once

## Test path
`tests/e2e/specs/backend/product-new.test.js`

## Errors

<time datetime="2022-08-30T15:30:29.703Z"><code>[2022-08-30T15:30:29.703Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/woocommerce/wooco

[2022-08-30 15:52] StephanFlury commented on #34448
Of course the REST API is meant. Sorry for not specifying it. The URL and HTTP-Verb would be for example:
GET /wp-json/wc/v3/products?sku=123456,234567,345678,456789,567890,678901,789012,890123,901234,012345,1123456,1223456&per_page=100&page=1

Because the error has vanished and has not appeared again, providing a dump wouldn't be that useful, i think. Nevertheless, if you want, i can send it to y

[2022-08-30 18:00] jgudmundson commented on #33742
Hi,

I am now running wp 6.0.1 and wc 6.8.2. The latest fixes to wc fixed the
issue with reloading the order history from scratch. But I still get
that extra PST tax showing, which was not in the order as per my bug
report. It sure looks to me like analytics isn't respecting the
administrative removal of a tax from an order.

Thanks,

John

On 2022-07-20 07:28, Swati Pawar wrote:

Links:
------
[1

[2022-08-30 19:20] joelclimbsthings commented on #32693
cc @octaedro since he's the current porter.

[2022-08-30 20:59] PowerGPU commented on #32693
@pmcpinto That is a valid point which has presented a problem with the QuickBooks integration. Currently Woo has no possible way of posting a Wire or ACH payment and because of this these transaction do not come into QuickBooks. Realistically why is it that Woo commerce does not post the paid date as the order date? An order becomes an order once it's paid correct?

[2022-08-30 22:08] moon0326 commented on #34306
I've tested it out and ran a smoke test. Everything worked as expected including `url()` in CSS.

Pinging @psealock for additional feedback.

What do you think about using `asset/inline` for images?  This is a nice addition and requires just a few lines We still have to run a full test*

[2022-08-30 22:46] BigBlack commented on #29903
same here. Someone found a solution? I've 450 product with 5000 variation.. It's really frustrating, in the same csv file, some variation are imported, some no, and they have all the same settings.... Really incredible... How could be woocommerce used for ecommerce if it has this really great problem!?!

[2022-08-31 00:38] #34047 closed, assigned to nobody

[2022-08-31 03:35] #34509 closed, assigned to moon0326

[2022-08-31 04:06] #34203 closed, assigned to chihsuan

[2022-08-31 04:19] psealock opened #34523 "Live Branches: Create webhook on build to notify Jetpack's Beta Download"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

A pull request kicks off a workflow to build an artifact of Woo

[2022-08-31 04:30] psealock opened #34524 "Live Branches: Add installation via Beta Tester"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Once https://github.com/woocommerce/woocommerce/issues/34523 ad

[2022-08-31 06:31] galbaras opened #34525 "Page navigation adds redirection from X/page/1/ back to X on product archives"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The page navigation at the bottom of pages 2+ of product archives, e.g. `store.com/shop/`, links the number "1" to the first page with a `/page/1/` suffix, e.g. `store.com/shop/p

[2022-08-31 08:22] DuyThanh89 opened #34526 "[Enhancement]: Filter review in Reviews admin page"
### Describe the solution you'd like

Hi team.

Could you add a filter hook to review_type_dropdown() in next update

I need add more filter option.

 Thanks

### Describe alternatives you've considered

I’m [Faview](https://wordpress.org/plugins/woo-virtual-reviews/) plugin’s author. I need option to filter virtual review, my customer need that to can remove these reviews.

I can do that via JS,

[2022-08-31 09:08] ngthanhdo opened #34527 "calculate price in percentage in order edit admin[Enhancement]:"
### Describe the solution you'd like

I tried searching before but couldn’t find any info on this topic so hopefully the support team can help me out.
I’m trying to get a percentage discount but Woo only supports fixed price.
This is very easy to calculate, when I enter the price before the discount, then continue to enter the % box, the total price will automatically calculate.
Currently I am doi

[2022-08-31 09:51] #34470 closed, assigned to nobody

[2022-08-31 09:51] #34485 closed, assigned to nobody

[2022-08-31 10:30] ralucaStan commented on #42623
Related https://wordpress.org/support/topic/uncheck-billing-address-same-as-shipping-address-by-default/

[2022-08-31 11:09] vedanshujain commented on #33060
Closed in #34121

[2022-08-31 11:09] #33060 closed, assigned to nobody

[2022-08-31 12:10] loulemos opened #34529 "Woocommerce Rounding Issue With Tax"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

1. All our products are entered without VAT (23% where I'm located), so a product that will cost a client 3.50€ is entered as 2.8455285 in the backoffice, this will make it displ

[2022-08-31 12:11] loulemos commented on #24184
Hi @vedanshujain and @lsinger I have created a new issue at https://github.com/woocommerce/woocommerce/issues/34529#issue-1357244700, maybe I'm making a mistake and something escaped me, but the issue seems to keep occuring.

[2022-08-31 14:00] alexflorisca opened #42597 "Preserve sort status of the All Products block"
## Is your feature request related to a problem? Please describe.
When browsing around a store, and hitting the "Shop" page (aka All Products" block) several times in one visit, it would be nice if my sorting status was preserved. For example, if I choose to sort my shop by "latest", then I click on a product, then I go back to the Shop (not using the browser back button), then the items are sorte

[2022-08-31 14:11] octaedro commented on #34519
The old AJAX calls we do in the `Settings` section are not being tracked. The only exceptions are the calls we do in the `Payments` tab, since we added the code necessary to start tracking them [a few months ago](https://github.com/woocommerce/woocommerce/pull/31844).

We're using that kind of call when navigating sub-tabs. It's not being used on every sub-tab though.

Currently, the tabs/sub-tabs

[2022-08-31 14:16] barryhughes commented on #34448
@StephanFlury it sounds like you can no longer reproduce this issue, is that correct? It certainly sounds like a transient issue so I'm not sure how much more we are going to be able to do to assist, and am therefore closing the issue, but please do let me know if I have misunderstood.

Additionally, if you do experience this again, it would be interesting to know what happens if you repeat the sa

[2022-08-31 14:16] #34448 closed, assigned to nobody

[2022-08-31 14:49] loulemos commented on #34529
Here is a video to show what the clients see:

https://user-images.githubusercontent.com/51758046/187708320-677bc80b-697a-4fab-a8dc-b8a53382b809.mp4

**As you can see:**
I first add 1 product and the price in the cart is €24.23 - **Correct**
Then I add another one, so now we have 2 products and the price in the cart is - €48.45 - **Incorrect** - it should be €48.46
Then I keep adding products unti

[2022-08-31 14:57] barryhughes commented on #34202
Thanks for the snippet, @strarsis.

[code]

One thing to note is you must pass an array (see above revision) to specify the tax rate. Also, if you want to apply the taxes you have already defined in your store settings, you could change that line to `WC_Tax::calc_shipping_tax( 2, WC_Tax::get_shipping_tax_rates() )`.

Does that help at all? If not, can you clarify exactly what you expect to see (it

[2022-08-31 15:26] alewolf commented on #27488
@erikdemarco

The problem in your case is that the field `status` needs to be an array of strings like so:

`'status' => ['completed'], `

not

`'status' => 'completed', `

[2022-08-31 15:38] louwie17 commented on #34221
From the error it appears the `content` field is not present within tinymce. This could be theme related if a different editor is being used on the product page.
I propose one way to get around this for now is to wrap this part of the code in a `try/catch` so the product saving won't be affected by this.

[2022-08-31 16:37] nielslange opened #42596 "Rethink Best Selling Products logic"
## Is your feature request related to a problem? Please describe.

Currently, both the Best Selling Products shortcode and the Best Selling Products block show products that haven't been purchased once. My understanding of a Best Selling Product is that it would have to be purchased at least once. Otherwise, the term Selling is somewhat misleading.

## Describe the solution you'd like

I'd like to

[2022-08-31 16:44] webdados opened #34531 "Emails being fired before the "save_post" action"
Hi there,

Are the WooCommerce transactional emails being sent before the standard WordPress `save_post` action?
It seems like they are.

I've error logged the email actions, the `save_post` action (priority 1), and a specific ACF function hooked to "save_post" (priority 5), and I got this:
`[31-Aug-2022 16:40:10 UTC] woocommerce_email_order_details

[31-Aug-2022 16:40:10 UTC] woocommerce_email_be

[2022-08-31 17:22] TheRadicalDreamer opened #34534 "Dropdown menus are on the row before on mobile"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Which one of those triangles do you think opens the Pizza Top details?
![image](https://user-images.githubusercontent.com/11801254/187740014-7c0d67a9-a00d-49b4-9fe8-5d3e317b1723.

[2022-08-31 17:43] TheRadicalDreamer opened #34535 "[Enhancement]: Adding dropdown menu to Order list"
### Describe the solution you'd like

Just like any other list in Wordpress, can we have the dropdown menu on mobile to see all the columns of the row?

![image](https://user-images.githubusercontent.com/11801254/187744064-39d424d3-7d86-4533-8d3b-eb88bfc939eb.png)
![image](https://user-images.githubusercontent.com/11801254/187744104-cfcdf5a2-3497-467a-8577-ad9ac2ba3216.png)

Order list do not have

[2022-08-31 21:30] SamratBiswas1 opened #34540 "Add Walmart and Wish to Onboarding"
As a new merchant, I want to declare my online presence in Wish and/or Walmart.

Feature: Onboarding Wizard

  Scenario: User navigates to Business Details
    When the User navigates to Business Details
    Then Wish and Walmart should be listed under 'Currently selling elsewhere (Yes, on another platform)-> Which platform is the store using?'

**Prerequisites (mark completed items with an [x]):*

[2022-08-31 22:50] samueljseay commented on #34529
Thank you for all the detail on this @loulemos We will look at what we can do to address this very soon.

[2022-09-01 00:16] gabrielbonifacio commented on #32837
Also observed in 5522284-zen. The product-related reports have inaccurate Net Sales, which do not reflect refunds or coupons:

- Products
- Variations
- Categories

The Revenue and Orders reports, on the other hand, do display accurate Net Sales.

I could not reproduce this on a test site.

[2022-09-01 01:53] #34341 closed, assigned to ilyasfoo

[2022-09-01 05:20] pehaa commented on #34430
Hey, I tested the snippet from @nerrad with the `woocommerce_loaded` hook but it does not seem to work. I'd guess that `woocommerce_loaded` is too early.

On the other hand `woocommerce_init` did the job correctly and enabled WC Customizer for an FSE theme:

[code]

Could you please confirm that's the right workaround for the moment (this is HE asking 🙂) Thanks!

[2022-09-01 07:26] Aljullu commented on #42596
Thanks for opening this issue, @nielslange! I definitely agree this is confusing. I just wanted to add that the same happens with the Top Rated Products block: it might be listing products without any reviews when there aren't enough products with reviews to cover all the spaces. As you noticed, we inherited this behavior from WC core shortcodes.

[2022-09-01 09:21] a-ragaee opened #34542 "Warning : Creating default object from empty value in woocommerce\includes\admin\helper\class-wc-helper-updater.php"
https://github.com/woocommerce/woocommerce/blob/5af66c4b1ef70acd4b7bfc4fb0caa27ca10a31fc/plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php#L81

Warning :  Creating default object from empty value in woocommerce\includes\admin\helper\class-wc-helper-updater.php

[2022-09-01 09:22] loulemos commented on #34529
Good morning everyone, thanks a lot @samueljseay
I'll be following this thread closely, have a good day.

[2022-09-01 12:28] wzieba opened #34544 "Add mobile messaging with deep links"
Internal description of the feature: pe5pgL-qo-p2

### Description

We'd like to add mobile-specific messaging for orders-related emails to promote mobile apps. Those messages will contain deep links, which will navigate users to a specific area in the mobile app (or to the landing page, where users can learn more about apps).

For now, we're focusing on a new order email and manage order/accept p

[2022-09-01 12:39] jofbe commented on #32696
Hi @jonathansadowski , @Konamiman , do you have any updates for us on this ticket?

[2022-09-01 12:41] luboslives opened #34545 "`get_price_html` does not display sale price set by `woocommerce_product_get_sale_price` filter"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The recommended way to filter a product sale price dynamically is with `woocommerce_product_get_sale_price`, and the default way of displaying prices in WooCommerce templates is

[2022-09-01 12:45] luboslives commented on #34545
I see now that the price is not being accounted for in the cart or checkout either, so I do I also need to set the final price using `woocommerce_product_get_price` ? I've tried doing so with no luck, let me know if I should give it another stab.

Edit: My mistake, did not mean to close the issue. Bad UI!

[2022-09-01 12:45] #34545 closed, assigned to nobody

[2022-09-01 13:02] swatipawarGS commented on #34525
Hi @galbaras,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/187850836-ae163da3-686a-46d1-867c-57e8dcd53d9f.mp4

Please provide us with more details a

[2022-09-01 13:03] swatipawarGS commented on #34516
Hi @mskapusuz,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/187857039-c03c5bac-a831-404e-abf8-8a2f282dc103.mp4

Priority of this issue will be assign

[2022-09-01 13:04] swatipawarGS commented on #34493
Hi @thirumani02,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/187860181-cc3ac3e6-e2ee-4f32-a72b-3c02ae218aaf.mp4

Priority of this issue will be assi

[2022-09-01 13:05] swatipawarGS commented on #32837
Hi @cgehrke9 @csmcneill,

Thank you for the updated information. we are able to reproduce the issue using the given updated information on our end with WooCommerce 6.8.2 version and WordPress 6.0.2 version.

Please find below the screenshots for reference :

After refunding an order Revenue Page:
![#32837(Revenue)](https://user-images.githubusercontent.com/94531721/187866964-af9fc483-349f-438d-812

[2022-09-01 13:07] thirumani02 commented on #34493
Hello,

Try adding few words in the description, it will trigger the error.

[2022-09-01 13:58] #34228 closed, assigned to vedanshujain

[2022-09-01 14:36] barryhughes opened #34546 "Stable ordering for order queries"
Using the admin list table for orders as an example, and assuming no filtering/sorting is applied, we default to ordering by `date_created_gmt DESC` (or post table equivalent).

However, in the event that orders all have exactly the same order creation date, then MySQL offers no guarantees as to the actual ordering. This is comparable to the [problem we have here](https://github.com/woocommerce/wo

[2022-09-01 16:06] knassef commented on #33093
any updates?

[2022-09-01 16:11] #34540 closed, assigned to moon0326

[2022-09-01 16:19] #32876 closed, assigned to rynaldos

[2022-09-01 16:47] nima-karimi opened #34548 "Epic: Multichannel Marketing Backend - MVP"
## Overview

This is an epic issue to track the development of an MVP version for the back end of the multichannel marketing feature.

As part of the multichannel marketing project (pbIy4N-213-p2), we will implement changes to the marketing dashboard to display the channels’ campaign data and basic information about their product listings.

Currently, the marketing dashboard displays information a

[2022-09-01 17:20] nima-karimi opened #34549 "Multichannel Marketing Backend MVP: Framework"
This issue is part of the epic https://github.com/woocommerce/woocommerce/issues/34548.

As part of the multichannel marketing feature, we will implement a light framework/library in the core that other marketing extensions can use and give us access to their data through a unified method.

## Data definition
Each marketing channel will provide the following data to the core:

**Channel Metadata:*

[2022-09-01 17:34] jrick1229 opened #34550 ""Finish setup" icon remains if tasks are disabled without being completed"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The "Finish setup" icon remains even when the both the **Task List** and **Extended task List** items are set to Disabled.

This was reported in 5521440-zen and was then duplicat

[2022-09-01 19:15] ldekay opened #34552 "WooCommerce shipping calculations are all over the place"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The shipping costs are being calculated differently on two equivalent websites, and the calculations from the formulas are inconsistent.

### Expected behavior

The formula 5+([q

[2022-09-01 19:44] octaedro commented on #32693
I'm not sure if I understood the problem correctly.
I'll estimate the options I see:

#### Currently we are saving the completion date as the payment date.
The changes to use that information instead of the order's creation date in the report are pretty small, and they could be done in one day, maybe two.

#### If we would want to use another order state (E.g., the date when the order was changed

[2022-09-02 01:00] galbaras commented on #34525
On one of my test sites, I've deactivated all the plugins and switched to Twenty Twenty-One, and the problem still exists.

See https://dev2.get-business-online.com/taniaolsen/shop/page/2/

[2022-09-02 06:25] nielslange commented on #33228
Also reported in https://wordpress.org/support/topic/sure-miss-rollover-on-status-button/

[2022-09-02 09:58] senadir commented on #42602
Hey @notarmon, we didn't hear from you yet, can you please expand on what you need to move?

[2022-09-02 11:20] #34188 closed, assigned to nobody

[2022-09-02 11:39] peterfabian commented on #27419
If you still experience the problem with the widget not showing up, I suggest creating a new issue where you describe your product/attribute setup. Since we can't reproduce this in our dev environment, we can't really help much until we do. Thanks for understanding!

[2022-09-02 11:55] nima-karimi opened #34556 "Multichannel Marketing Backend MVP: API"
This issue is part of the epic https://github.com/woocommerce/woocommerce/issues/34548. It's also dependent on #34549.

As part of the multichannel marketing feature, we will implement APIs that the new marketing dashboard will use to retrieve and render the data provided by marketing channel extensions (through the method implemented in #34549).

The front end will use the API to interact with th

[2022-09-02 12:59] notarmon commented on #42602
If each product information like quantity, image, title, total price, description, and short description would be a block that can be placed within a cart item section, we could create a very individual cart experience. Right now, it's a good but simple, limited style.

[2022-09-02 13:54] bernardinic opened #34557 "Several front codes all unconfigured and apparent when accessing the site. Elementor <> WooCommerce"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We created the site with Elementor and Woocommerce in their latest versions and until then everything was going perfectly. Without any explanation, yesterday, when accessing the

[2022-09-02 14:16] swatipawarGS commented on #34550
Hi @jrick1229,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/188075258-be03b9ad-b457-46eb-b7c9-59da93ad634c.mp4

Priority of this issue will be assign

[2022-09-02 15:02] gglobalstep opened #34559 "[GlobalStep] "Feedback" notice box fails to display for "Billing Address" inner block of the Checkout block."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Feedback" notice box fails to display for "Billing Address" inner block of the Checkout block.

### Expected behavior

"Feedback" notice box should be displayed for "Billing Add

[2022-09-02 15:02] gglobalstep opened #42595 "[GlobalStep] "Feedback" notice box fails to display for "Billing Address" inner block of the Checkout block."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Feedback" notice box fails to display for "Billing Address" inner block of the Checkout block.

### Expected behavior

"Feedback" notice box should be displayed for "Billing Add

[2022-09-02 17:27] CreedHub commented on #27600
Simple solution:

	$date_a = '2022-08-18 09:45:00';
	$date_b = '2022-09-02 19:30:00';

	$on_hold_orders = wc_get_orders
	(
		array
		(
		'limit' => -1,
		'post_type'	=> 'shop_order',
		'status'	=> 'on-hold',
		'date_created'	=> strtotime(get_gmt_from_date($date_a)) .'...'. strtotime(get_gmt_from_date($date_b))
		)
	);

[2022-09-02 20:07] jonathansadowski commented on #33686
I made some progress in this draft PR:

* https://github.com/woocommerce/woocommerce/pull/34536

but I ran into typescript issues related to `oclif` in a few of our tools that I wasn't quite able to resolve (they show up in most of the CI... and also if you just start fresh and do a `pnpm i` with pnpm 7 installed globally). Maybe somebody who understands typescript better than I can take a look.

[2022-09-02 20:38] moon0326 opened #34563 "[Enhancement]: Improve Payment Task is_complete() logic"
### Describe the solution you'd like

[is_complete()](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php#L69) counts # of enabled payment gateways from [get_available_payment_gateways()](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-payment-gateways.php#L150), which returns a

[2022-09-02 20:40] moon0326 commented on #34563
Hey @louwie17 ✋

Could Mothra take a look at this issue, please? It looks like most of the task API work was done by Mothra team.

[2022-09-02 21:27] Lolosan opened #34565 "product average rating and review count is NOT kept up to date"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

File:
wp-content\plugins\woocommerce\includes\class-wc-comments.php

Line 208:
	public static function clear_transients( $post_id ) {
		if ( 'product' === get_post_type( $post_id

[2022-09-02 22:24] barryhughes commented on #34280
Thanks, this seems like a reasonable idea :-)

[2022-09-03 06:13] Sander907 commented on #27375
Hello!
Unfortunately it didn't work for me.
Woocommerce rounds the value to an integer when updating balances.
Has anyone found a solution??

[2022-09-03 07:14] kaushikasomaiya commented on #34497
CC: @vedanshujain

[2022-09-03 08:34] DontFollowMeDownItsRocky commented on #31664
Seconded - a little OT here not API call, but I use ajax in an admin page to decrement stock by barcode in a continuous stream-style POS I made for computer illiterate staff. I face the same issue because I'm not creating individual Order objects for every single product scanned in a day (hundreds) the emails never get triggered.

[2022-09-03 11:49] webaxones commented on #34462
@peterfabian
Ok so the bug is that WooCommerce check if the user has the `administrator` role in `wc_modify_map_meta_cap` function with both `wc_current_user_has_role` and `wc_user_has_role` functions instead of testing if he has admin capabilities with `wc_customer_has_capability`.
I can't do a PR because it's a bit tricky problem, but I think the problem should have a higher priority because the

[2022-09-03 16:49] ictbeheer opened #34566 "[Enhancement]: Update WP_Async_Request"
### Describe the solution you'd like

WooCommerce use the WP_Async_Request class ( located in [plugins/woocommerce/includes/libraries/wp-async-request.php](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/libraries/wp-async-request.php) )

This class is also used in Action Scheduler (and other plugins such as WPML and WP Rocket),

[2022-09-03 19:00] andrestr93 commented on #32454
Hello, I have the same error and I don't know how to solve it, could you help me please? , then attached a video where I reproduce the problem.
In firefox it updates me without problem since every time I go back with the browser button the scripts wc-ajax=get_refreshed_fragments and admin-ajax are updated. I need them to be updated also in google chome. Thank you very much

<a href="https://youtu.

[2022-09-04 13:57] luizbills opened #34567 "[Enhancement]: Add woocommerce-notices-wrapper to all notices container"
### Describe the solution you'd like

In checkout page the notices are wrapper in a `div.woocommerce-notices-wrapper` but in other pages is `div.woocommerce`. Maybe a good solution would be an `div.woocommerce-notices-wrapper.woocommerce` everywhere to maintain consistency and not break anything.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-09-04 16:05] BigBlack commented on #16405
I’m having a problem importing a csv file into woocommerce. The file contains about 400 variable products with 4000 variations inside.
The first part of products is imported regularly. The second part, approximately in the middle of the sheet, is imported without the tick on “use for variations”. The file is generated by a VBA script, so all lines are generated identically, from top to bottom.
Che

[2022-09-04 16:52] FacturaOne opened #34568 "failure on new WC_Order -> empty wc_get_order_types -> Fatal error: Uncaught Exception: Invalid Order"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am trying to access the detail of an order via array with:

$order = new WC_Order($order_id);
print_r($order)

i think the problem:   Looking inside the file I see inside line

[2022-09-04 18:47] Matze1006 opened #34569 "Coupon amount is not deducted after order"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If a voucher is used for an order, the voucher amount is not reduced in the backend after the order. The voucher can thus be used multiple times. The usage is counted up, but the

[2022-09-05 07:36] albarin opened #42594 "Render the filter placeholders on the server-side"
We need to consider rendering the filter placeholders on the server-side, so:
- after page load, the skeleton shows up immediately.
- after the block has been rendered but still loading, the skeleton should be unchanged to prevent the layout shift issue.

[2022-09-05 07:43] saqib59 commented on #31280
@barryhughes Is there any filter available which I can use with `wc_get_gallery_image_html()` function?

[2022-09-05 09:45] loulemos commented on #33161
I wonder if this issue is also related to our and many others issues with rounding the tax, see my latest ticket here: https://github.com/woocommerce/woocommerce/issues/34529

[2022-09-05 10:24] nielslange opened #42593 "Rethink Top Rated Products logic"
## Is your feature request related to a problem? Please describe.

Currently, both the Top Rated Products shortcode and the Top Rated Products block show products that haven't been rated once. My understanding of a Top Rated Product is that it would have to be rated at least once. Otherwise, the term Top Rated is somewhat misleading.

## Describe the solution you'd like

I'd like to see the Top Ra

[2022-09-05 10:25] nielslange commented on #42596
Thanks for pointing this out, @Aljullu. I just created woocommerce/woocommerce#42593, to keep these two issues separated.

[2022-09-05 12:19] aezazs-multidots opened #34580 "Image getting cut off in a marketing slider."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The marketing slider in the marketing section on the backend of the site is getting the image cut.

Below I have added a screenshot of the marketing slider.

![CleanShot 2022-09-

[2022-09-05 16:02] vivialice opened #42592 "Filters 'no results' view"
Hello! I can't find the other issue where this came up, so I've opened a new one. Please remove if not needed.

I took a look at this and I think we should keep it simple, remove the icon and just go with text.

**Q: Is it possible to include a link to reset the filters?**

![Filters _ None found](https://user-images.githubusercontent.com/9888201/188486022-24f20ef9-8497-4335-9d9b-a96feacea136.png)

[2022-09-05 17:56] melek commented on #34550
Noting this appears to be the same issue as in this Forum thread: https://wordpress.org/support/topic/woo-commerce-finish-setup/

Crosslinking that thread to this issue.

[2022-09-05 20:02] #34111 closed, assigned to ObliviousHarmony

[2022-09-06 06:26] eason9487 opened #34584 "[6.9 beta.2]: The parameters in the `onChange` callback are inconsistent between themselves and the Form component's state"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The second and third parameters in the `onChange` callback of the `<Form>` component are inconsistent with its first parameter and the states got from Form's render props.

![Kap

[2022-09-06 06:48] rjchow opened #34585 "tsconfig for woocommerce-admin is not correctly picking up workspace packages"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

<img width="1211" alt="image" src="https://user-images.githubus

[2022-09-06 06:54] RickardAhlstedt commented on #33730
I'm having the same problem

[code]
Running WC 6.8.2

When can we expect this to be fixed? as of now we can't run any filtering on the website which has over 40k products..

[2022-09-06 07:11] rjchow opened #34586 "noUnusedParameters yes/no?"
## Background
In the root directory's `tsconfig.base.json` we have the [noUnusedParameters](https://www.typescriptlang.org/tsconfig#noUnusedParameters) turned on - however as of present moment this rule is not applied to woocommerce-admin or the packages since they have their own `tsconfig.json` which do not extend from the root `tsconfig.base.json`

When this rule is applied, there were some viol

[2022-09-06 07:56] pierrehenrinortje commented on #33386
I understand that this issue was automatically closed, but I am getting the same issue on a site I'm working on.
The site is populated with over 100 products, which requires "page" and "per_page" parameters to be used when querying, combined with a loop to get all the products. Not only am I missing products, I am also getting duplicates when comparing the results of each page. Furthermore, these

[2022-09-06 09:58] #33933 closed, assigned to nobody

[2022-09-06 10:34] MaciekChudek commented on #33386
To clarify, I stopped responding to the original issue because I came down
with a major medical condition, not because it was fixed. Better now, so
I'll resume trying to fix it by migration to a new WordPress insurance in
the next few days.

On Tue., Sep. 6, 2022, 01:57 Pierre Nortje, ***@***.***>
wrote:

[2022-09-06 12:56] swatipawarGS commented on #34580
Hi @aezazs-multidots,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2 version.

Please find below the screenshot for reference :
![#34580](https://user-images.githubusercontent.com/94531721/188562138-ae05297e-7976-41e9-95bb-45e2c978b78a.jpg)

Priority of this iss

[2022-09-06 12:57] swatipawarGS commented on #34569
Hi @Matze1006,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/188567120-c7bb2f2e-0523-409a-80d1-2dc5b3bd640e.mp4

Priority of this issue will be assign

[2022-09-06 13:13] omniacode commented on #27375
Can someone from the Woo team make something happen here, the fact that this hasn't been resolved yet after 2 years is quite depressing. Pretty sure you're not going to need to refactor the entire plugin to make this a reality. LFG.

[2022-09-06 14:21] vikas6918 opened #34591 "getting error while trigger command "pnpm run build""
command (packages\js\e2e-core-tests) pnpm run turbo:build -- exited (1)

 Tasks:    10 successful, 11 total
Cached:    7 cached, 11 total
  Time:    40.1s

 ELIFECYCLE  Command failed with exit code 1.

[2022-09-06 15:57] Mgiannig commented on #27419
Hello, I'm having the same issue.
got this product with attributes
![image](https://user-images.githubusercontent.com/27159992/188681146-2ca6b130-a2aa-438c-83a3-06e646b5139d.png)

On my customizer I add Filter products by Attribute widget

![image](https://user-images.githubusercontent.com/27159992/188681351-51310ce8-8732-4bfb-a585-cecad5d4a5ef.png)

Only filter by price is showing. No console err

[2022-09-06 18:04] barryhughes commented on #33386
I'm sorry to hear that.

Our assumption was not that the problem was fixed, though the wording in the automated actions may have given that impression.

The biggest problem here from our side is our inability to reproduce. Assuming the data is stable (by which I mean, products are not being created, updated or deleted during pagination) and assuming there are no caching effects outside of WooComme

[2022-09-06 18:09] barryhughes commented on #32454
This issue is in the queue, but I'm afraid we have not had time to work on it yet.

[2022-09-06 18:33] barryhughes commented on #31280
Hi @saqib59,

https://github.com/woocommerce/woocommerce/blob/6.8.2/plugins/woocommerce/includes/wc-template-functions.php#L1573-L1599

There are a number of existing filter hooks within that function—so it really depends on what you want to do (and, to be clear, the feature proposed in this issue has not yet been implemented).

[2022-09-06 18:37] #34221 closed, assigned to mdperez86

[2022-09-06 18:43] melek opened #34594 "Reviews meta box in Edit Product screen not loading reviews since 6.6.1"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

*This bug report was written by [D.S. Webster](https://wordpress.org/support/users/dswebsme/) on WordPress.org, I've edited and reposted their report here after verifying it on m

[2022-09-06 19:06] barryhughes commented on #34567
Hi @luizbills,

Within the checkout page isn't `.woocommerce-notices-wrapper` itself contained within `div.woocommerce`? That is, can't both sets be successfully targeted using rules such as the following (albeit you may need for specificity, depending on what you wish to do):

[code]

Let me know if I'm misunderstanding!

[2022-09-06 19:11] barryhughes commented on #34441
Fixed, thank you!

[2022-09-06 19:11] #34441 closed, assigned to nobody

[2022-09-06 19:14] luizbills commented on #34567
Yes, but it would be interesting to have consistency in this output.

[2022-09-06 19:14] andrestr93 commented on #32454
Hello, thanks for answering, when would you have it ready? , any possible request while they fix the error?

[2022-09-06 19:33] ldekay commented on #34552
I saw a [YouTube presentation](https://www.youtube.com/watch?v=4yuho7zaObI) about how to set up WooCommerce Shipping and noticed that I misunderstood the role of Shipping Classes. I had set up two classes (Free and Non-Member) that conflicted with the other settings and effectively doubled the shipping costs. When I deleted those two classes everything worked as it should.
Maybe you can add that v

[2022-09-06 19:33] #34552 closed, assigned to nobody

[2022-09-06 19:50] barryhughes commented on #32454
We can't commit to a specific timeline, I'm afraid. In most cases, this hopefully impacts only a small subset of users and so isn't currently planned for an upcoming release.

[2022-09-06 19:55] barryhughes commented on #34567
True, but my hesitation would be unintentional impact on existing customizations.

For instance, if I understood your proposal correctly, all notices would become targetable via `div.woocommerce-notices-wrapper.woocommerce` and, for that to be true, they could also all be targeted using just `.woocommerce-notices-wrapper` ... the risk being some merchants may already be targeting a specific subset

[2022-09-06 20:11] luizbills commented on #34567
I agree. Maybe more appropriate for a v7.0+ version because of that risk of breaking. Anyway, it's just a suggestion.

[2022-09-06 20:14] barryhughes opened #34596 "[COT] Admin List Table > Implement preview functionality"
Unfortunately, we missed adding support for order previews to the admin list table for COT. Let's add it!

https://user-images.githubusercontent.com/3594411/188729549-4b890c1b-49f5-44f4-9476-59d1077c934d.mov

:point_up: _The above screencast shows how the functionality works with the legacy CPT admin list table for orders._

[2022-09-06 20:26] barryhughes commented on #34567
Yes ... I know what you mean in principle, although, for over 18 months now, we have used WordPress versioning for our releases [(see this announcement)](https://developer.woocommerce.com/2021/01/22/developer-advisory-changes-to-woocommerce-versioning-scheme/) and, under this scheme, 7.0 is just the next regularly scheduled version after 6.9, it has no other significance:

At any rate, thank you f

[2022-09-06 22:15] pekka-28 opened #34598 "Edit Product Permalink in Windows malformed URL"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After installing WooCommerce and entering the WooCommerce Products|Edit Product page, I noticed that the Permalink provide for the part was not as expected. While the shown link

[2022-09-06 22:16] pekka-28 commented on #34598
Contact me if you need the actual domain name or access to the system.

[2022-09-06 23:45] #34436 closed, assigned to nobody

[2022-09-07 00:27] samueljseay commented on #34586
The better solution to this is to leave the rule in place and type the function. Like this:

[code]

This is self documenting because TS will tell you what the first arg is if you need it, but you won't have to worry about the lint complaining.

[2022-09-07 02:55] PowerGPU commented on #32693
@pmcpinto Why wouldn't the payment date be recorded is my point. The payment date is technically the order date, the date the client chose to purchase and is waiting for their order to be delivered. Shopify counts this date as the order date, once payment is received. Why would it be done otherwise? No matter what way the client pays the payment date should be captured as the order date.

[2022-09-07 03:10] PowerGPU commented on #32693
@octaedro You mentioned you are currently saving the completion date as the payment date? Why? The completion date of the order, meaning the order has been shipped to the client is when the order is completed. The date the customer pays is the order commence date, when the client paid for the order and is awaiting to receive the item. Having this correct all issues with the current set up.
Having

[2022-09-07 03:19] PowerGPU commented on #32693
At the end of the day the order date which is the payment date should not be something that can be edited either way. When a payment posts to the account regardless of any other scenario it shouldn't change. Having this as a customizable option can also cause internal issues for any business. Example: An employee of mine has a friend that wants his order ASAP but technically should be in line with

[2022-09-07 08:05] peterfabian commented on #34232
This is supposedly closed by #34499

[2022-09-07 08:05] #34232 closed, assigned to vedanshujain

[2022-09-07 08:32] #34580 closed, assigned to nobody

[2022-09-07 08:53] pierrehenrinortje commented on #33386
ok thanks @barryhughes , I will run through the sanity checks and confirm with you soon.

[2022-09-07 09:28] aezazs-multidots opened #34602 "Slides overlap with each other in the Marketing Slider"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the backend of the site, when we slide the marketing slider next and then the preview slide, then the slides overlap with each other.

To understand the issue better, I have a

[2022-09-07 13:12] pierrehenrinortje commented on #33386
@barryhughes @MaciekChudek I was able to identify the issue:
All the products that I added to the woocommerce site were created using a batch update, 100 products added per batch at most.
Each batch of products share the same date value (created date), which happens to be the default "orderby" parameter value set when listing all products. This results in a bad scenario where ordering by date with

[2022-09-07 15:29] roykho opened #34604 "Cherry pick workflow: continue even if no changelog files need to be deleted"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Sometimes some PRs don't require a changelog entry but still needs to be cherry picked into a release. Currently this fails because the cherry pick tool assumes a PR has a change

[2022-09-07 16:16] vedanshujain commented on #34529
Hey @loulemos, as a general rule you would need to display prices as they are entered to prevent rounding issues. For example, in your case, since you are displaying prices including taxes, you should enter them including taxes as well. This mismatch in setting is causing the apparent rounding issue.

In my test site, I added a product with a price 24.23 with 23% tax, and this is how it's displaye

[2022-09-07 19:15] barryhughes commented on #33386
Interesting. This makes me wonder if we should always order by ID as a final sorting criteria (that way the primary order-by criteria will be respected, but we will also have stable sorting).

[2022-09-07 19:30] #34366 closed, assigned to roykho

[2022-09-07 20:17] samueljseay commented on #34591
Hey @vikas6918 ideally you wouldn't run `turbo:build` directly. Turbo repo calls that command.

Could you try `pnpm run build` instead and let me know if that works?

[2022-09-07 22:57] pekka-28 commented on #34598
I have subsequently realised that my observations about the benign nature of this were unfounded. When viewing the product list, the Add to cart button works correctly as it uses the canonical product number. Selecting the product or its image returns a 404 error as the link has propagated to the site.

Until now, I had thought the problem was a documentation only problem on the Product editing pa

[2022-09-08 02:28] islevista commented on #32693
Hi there, I have been following this post and I absolutely agree that this needs to be updated.
This is crucial for my business as well. Please let us know once it is fixed, thank you.

[2022-09-08 07:59] psealock commented on #34480
This comment in https://github.com/woocommerce/woocommerce/issues/34424#issuecomment-1228527476 was supposed to be here

[2022-09-08 11:28] findingsimple commented on #34584
@woocommerce/mothra just a heads up - If I understand correctly this was introduced in https://github.com/woocommerce/woocommerce/commit/78c28ae9f3a70e996e40c4f173c032dfa0d0551a

[2022-09-08 11:53] jacoswan opened #34612 "[Enhancement]: Add a filter to allow Download Product's link to be disabled/enabled"
### Describe the solution you'd like

Currently, downloadable product names in confirmation emails are linked back to the product page, next to a separate link that goes to the downloadable file. This can be confusing. The only option to disable it is via a template override, which if a child theme is not in place already, can be a lot of effort for a small task.

This enhancement proposes to allo

[2022-09-08 11:55] christiankungla commented on #23942
I had the same problem.
It turns out I was checking the attribute on variation itself, but I should have checked the attribute on parent product.

[code]

[2022-09-08 12:39] #34148 closed, assigned to barryhughes

[2022-09-08 12:53] swatipawarGS commented on #34598
Hi @pekka-28,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2version.

Please find below the screenshot for reference :
![#34598](https://user-images.githubusercontent.com/94531721/189058914-f71d8b25-f468-404d-bf33-5272c9a06f27.jpg)

Please provide us with more

[2022-09-08 12:54] swatipawarGS commented on #34602
Hi @aezazs-multidots,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/189055935-e6a98f3b-fcad-4b2e-9a8f-7263dc8f466d.mp4

Priority of this issue will be

[2022-09-08 12:55] swatipawarGS commented on #34525
Hi @galbaras,
Thank you for the updated information. but we are unable to reproduce the issue using the given updated information on our end with WooCommerce 6.8.2 version, WordPress 6.0.2 version, and  Twenty Twenty-One Theme.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/189064705-6d854cab-e13e-40f6-b813-412d16257385.mp4

Please provide us

[2022-09-08 14:16] vedanshujain commented on #33653
Hey, `position` property is not supported in v3. However, we will use the first image (i.e. image with index zero) in the array to be set as the main image).

If you do not want an image to be set as the featured image in a request, then perhaps you can send the image array with specifying indexes (starting from 1) instead of just a linear array.

I am closing the issue for repo maintenance, but f

[2022-09-08 14:22] louwie17 commented on #34584
@jconroy thanks for pinging us, I believe this was actually introduced as part of my PR here: #34082
I will get a fix up today.

[2022-09-08 14:46] vedanshujain commented on #33759
Thanks for the report, we can reproduce this (setting date_max one day ahead does not help and customer count stay 0). I am marking this low priority for now as compared to other high priority issues open in the repo.

[2022-09-08 14:55] vedanshujain commented on #33793
Hey, not all product attributes are guaranteed to be stored in the taxonomy, as they can be stored as custom attributes in the meta table or in the attribute lookup table. I would recommend using the [the store API](https://github.com/woocommerce/woocommerce-blocks/blob/trunk/src/StoreApi/docs/product-attributes.md#list-product-attributes) when working with blocks (or [REST API]( if you are workin

[2022-09-08 15:01] vedanshujain commented on #33793
We also provide a `woocommerce_taxonomy_objects_{taxonomy}` hook that might be helpful if if you want to change any property as we register the taxonomy.

[2022-09-08 15:04] vedanshujain commented on #33806
Hey, PUT route is supported for this resource, which you should be able to use in the requests after creating the product. Can you please also add some sample request that we can replay to repro the issue (along with HTTP VERB used, and ofc without any auth data)? Thanks for the report!

[2022-09-08 15:05] pekka-28 commented on #34598
Swati

I have appended an image showing where I first located the concern, and a second one showing how the link to a product is also incorrect.

Perhaps you are not running Windows like I am. I pointed out that the permalinks on the installation include the “index.php” file as I the web server is IIS.

Regards
Pekka Pihlajasaari
--
***@***.***           Data Abstraction (Pty) Ltd         +27 11 4

[2022-09-08 15:13] MosheGross commented on #33759
Setting date_min one day behind does work though

[2022-09-08 16:08] mjmolo opened #34618 ""No orders found" when clicking 'View other orders →" link from an order."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Today when using WooCommerce I noticed that I get a 'No orders found' result, when I click on any customer's 'View other orders →" link from an order page. I tested this on 3+ or

[2022-09-08 16:10] mdperez86 commented on #33537
Hello @jarekmorawski, talking with @louwie17 and @octaedro about the check number one of the list, we think about two approaches:
1. Adding a placeholder to each editor one for the Short Description and another for the Description of the product.
1.1. After making a research about this, we found that it's not easy to add a placeholder to the editor because tinymce 4.9.11 which is the current versi

[2022-09-08 17:04] #31742 closed, assigned to nobody

[2022-09-08 18:51] bernardinic commented on #34557
We did'nt found a solution, but we restaure the backup and recreate unsaved functions. Anyway if anyone knows what could have happened, it would be important to avoid future problems

[2022-09-08 19:24] #34584 closed, assigned to nobody

[2022-09-08 20:15] pekka-28 commented on #34598
Swati

My apologies. I have subsequently been told that a colleague had inadvertently change the permalink settings in WooCommerce. The problem has now cleared and no longer affects the site.

I’m sorry for having suspected an application rather than a configuration error.

You can close the incident out as opened in error.

Regards
Pekka Pihlajasaari
--
***@***.***           Data Abstraction (Pty

[2022-09-08 22:54] #34567 closed, assigned to nobody

[2022-09-08 23:06] barryhughes commented on #33386
I've updated the description and this has been added to our backlog.

[2022-09-08 23:39] barryhughes opened #34622 "Email template cache is not flushed following edits"
### Describe the bug

When an email template is modified via **WooCommerce ▸ Settings ▸ Emails** (please note that, to be able to edit via this UI, PHP needs write access to the file system) we fail to flush the cached template path [(see also this code)](https://github.com/woocommerce/woocommerce/blob/6.8.2/plugins/woocommerce/includes/wc-core-functions.php#L298).

So, for some period of time, th

[2022-09-09 01:25] galbaras commented on #34525
Are there any redirections on your site?

I'm using the same WP and WC versions as you. What version of PHP are you using?

My sites are all on LiteSpeed. Could that be it?

I've checked everything I could check. Please review the status report and see if anything might point us in the right direction:

[code]

The problem continues for me even with Twenty Twenty-Two.

If nothing matches, what els

[2022-09-09 01:39] galbaras commented on #34525
I've decided to check other stores on the web. Here's a collection of stores given as examples of WooCommerce prowess, all of which have this problem:

https://porterandyork.com/shop/page/2/

https://offermanwoodshop.com/store/page/2/

https://tomchalky.com/shop/page/2/

[2022-09-09 02:23] psealock opened #34623 "Enhancement Issue Voting: Improve the process"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

We have a workflow to deal with enhancement requests by way of

[2022-09-09 02:40] eason9487 commented on #34584
Hi @louwie17, thanks for fixing this issue. I'd like to confirm if [the third parameter originally equivalent to `isValidForm`](https://github.com/woocommerce/woocommerce/blob/6.8.2/packages/js/components/src/form/index.js#L66) was intended to be changed to [the opposite semantic of `hasErrors`](https://github.com/woocommerce/woocommerce/pull/34614/commits/480ce82110934bfb21aa32771adbed4c7ab08fc8#

[2022-09-09 06:10] galbaras commented on #34525
This also happens when the navigation uses a different style, e.g. https://pantry.fig.org.au/product-category/spices-herbs/?product-page=2 (URLs end with `?product-page=1`, although the shouldn't).

[2022-09-09 08:58] konstantin-designbox commented on #30263
Any update on this?

I've got a customer who's having to manually round to 2 decimal places on the product totals when refunding... Please fix.

[2022-09-09 10:04] pmcpinto commented on #32693
The order date should be the payment date if we could accurately track all the payments, but I'm not sure it will be possible due to methods like COD. And we also need to consider businesses when the payment doesn't happen when the order is placed. Therefore, I think the best approach is to allow the user to choose the order status that should be considered in the report: when the order is created

[2022-09-09 10:51] lsinger commented on #34623
Woo Developer Advocacy would like to be in the loop on this and consult as needed. Documenting a new process e.g. on the Developer Portal could be a good option to make it more visible and discoverable.

[2022-09-09 12:08] louwie17 commented on #34584
Yeah, but realizing that I probably shouldn't off. I originally thought the logic was wrong by the TS definition, but realizing more so that the TS definition was wrong. Let me fix this.

[2022-09-09 13:21] PowerGPU commented on #32693
@pmcpinto If the case is COD then let this status be sealed as a payment method and continue to make that COD date as the order date. COD is a method of payment at the end of the day the same as a VISA or PayPal option.

[2022-09-09 13:51] louwie17 commented on #34584
@eason9487 I reverted it as part of: https://github.com/woocommerce/woocommerce/pull/34626 and also fixed the Typescript definition.

[2022-09-09 14:02] jarekmorawski commented on #33537
Hi @mdperez86. Thanks for the ping. I think that adding the tooltip icon to each field is the way to go. It's a good idea to use copy from the new experience. I think it'll fit. 👍

[2022-09-09 14:02] eason9487 commented on #34584
@louwie17 Thanks for notifying me and the quick fix.

[2022-09-09 14:19] Marc-pi opened #34628 "[Enhancement]: Product Table > UX (quick win) > non sortable Featured Product column"
### Describe the solution you'd like

just add make the column sortable (with the sort icon like on other critical fields)
* Actual columns that are sortable : Name / SKU / Price / Date
* One major is missing : featured product (the little star icon)

![image](https://user-images.githubusercontent.com/919332/189370655-263a8f56-921b-472c-b257-33b45c4e7fc2.png)

### Describe alternatives you've cons

[2022-09-09 15:35] Marc-pi opened #34630 "Email Notifications > Payment Authentication Requested > edit form > empty value"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the list visible at wp-admin/admin.php?page=wc-settings&tab=email, the shop email is displayed, not in the edited form
![image](https://user-images.githubusercontent.com/91933

[2022-09-09 16:42] Marc-pi opened #34631 "[Enhancement]: notifications > Out of stock send to default wordpress@mydomain.tld > spam box"
### Describe the solution you'd like

The notification mails are send to spam box since the sender email is the default WP wordpress@mydomain.tld
* On Email Tab, we can set the true sender email
wp-admin/admin.php?page=wc-settings&tab=products&section=inventory
A true account created, so that WP does not make use of the fake generic wordpress@mydomain.tld)
![image](https://user-images.githubuserco

[2022-09-09 19:04] #34374 closed, assigned to barryhughes

[2022-09-10 05:50] lumacode commented on #30308
Hi @masteradhoc, I solve it in the following way. From the ERP I use the meta item_regular_price to be able to know when an item has a discount and the value without discount.

[code]
I hope this solution can help someone, bye!

[2022-09-10 10:32] Delwar00 opened #34634 "In my client site I face elementor and woocomerce conflict issue how can i solve this?"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In my client site I face elementor and woocomerce conflict issu.When i install woocommerce then if I try to edit any pages then its loading I can't edit any pages. So in this sit

[2022-09-11 03:59] islevista commented on #32693
I am currently in a situation where this is completely throwing off my invoices with our manufacturing office.

They use our WooCommerce Analytics Reports to look at the orders received and charge us based on the orders on the report from the previous week. This is usually fine, however if we have one of the aforementioned situations, it causes a discrepancy on the invoices.

For example:
-A custo

[2022-09-11 06:54] galbaras commented on #34525
Here's another one: https://kiallafoods.com.au/products/page/2/?swoof=1&pa_home-or-commercial=home

I don't think this issue is restricted to my sites. Also, I've double checked that it's not a WordPress or theme problem by looking at blog navigation ([example1](https://www.tsoofbaras.com/gigs-news/page/2/), [example2](https://kiallafoods.com.au/blog/page/2/)) and it's OK. The issue only seems to

[2022-09-11 09:15] LocalHeroPro opened #34635 "[API] Can't fetch some products because of HttpClientException"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I'm using automattic/woocommerce and trying to download product data. On few products fetching information doesn't working as expected.

### Expected behavior

No errors when fet

[2022-09-11 11:39] masteradhoc commented on #34364
@susameca / @barryhughes
please close this issue as it has been merged already :)

[2022-09-11 13:34] akram-Qbh commented on #25895
I added it but it didn't solve the problem

[2022-09-11 22:02] samueljseay commented on #34479
Please see my recommendations in the draft RFC I made in this issue: https://github.com/woocommerce/platform-private/issues/67

I think we should update the description of this to match the outcome of the RFC.

[2022-09-11 22:08] samueljseay commented on #34480
@jonathansadowski pinging you because I know you worked on this last time.

What do you think about just checking the PR/issue author's permission levels on the repo?

Octokit has:

[code]

which returns `admin, write, read, and none.` as possible values

We could assume anything `read` or lower is an outside collaborator?

It seems a lot simpler than most other approaches I can think of.

[2022-09-12 01:00] strarsis commented on #34202
@barryhughes: Thanks for your answer! Instead of the filter above I use a class that extends `WC_Shipping_Method` now, and the taxes work out of the box. For that previous filter approach additional tax-specific filters are probably necessary. Using a shipping method class instead bundles these parts together.

[2022-09-12 01:00] #34202 closed, assigned to nobody

[2022-09-12 04:44] psealock commented on #34306
Would this mean we'd replace our use of `url-loader`?

https://github.com/woocommerce/woocommerce/blob/d191ecc275c8654efbb11409a6f1002c3dacafff/plugins/woocommerce-admin/webpack.config.js#L132

[2022-09-12 08:42] #34305 closed, assigned to nobody

[2022-09-12 09:14] rwkyyy commented on #19645
I have checked the solution in documentation:
https://woocommerce.com/document/product-csv-importer-exporter/#converting-existing-simple-product-to-variable-product

Reimport, without the parents (just import variations) and still does not work.

I had to update the variations for existing products and surprise, now all my products have no variations now (as selections for buying) 🤦‍♂️

[2022-09-12 12:29] rangler2 commented on #24662
Is this still the current functionality? I wish it *would* report the Sale price...

In my case I have the opposite problem : We have set both a Sale £15 and Regular £20 price,  but only the Regular price appears in the schema markup:
"offers":[{"@type":"Offer","price":"20.0000","priceValidUntil":"2023-12-31","priceSpecification":{"price":"20.0000","priceCurrency":"GBP","valueAddedTaxIncluded":"fa

[2022-09-12 13:19] aljawo commented on #33985
Hello team. Any news on this bug? The way WooCommerce handles the tax rate table is tremendously flimsy and dangerous. Re-using tax rate ids is a really bad practice and screws up my reports every time I need to import records.

Truth is that there's not even consistency control in the table to check for duplications so if I need to import new rates I am obliged erase all entries and re-import. Th

[2022-09-12 14:03] swatipawarGS commented on #34618
Hi @mjmolo,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.8.2 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/189591814-9a6f42f6-8bb1-4e70-a10a-9ab7af0a96f1.mp4

Please provide us with more details an

[2022-09-12 14:21] jonathansadowski commented on #34480
Oops... thanks for the assist @psealock  😄

@samueljseay if we can do that with the default action token, then that sounds like a good approach... if it doesn't have access to that method and we'll need an increased level of permission anyways, then I think we should probably explore the other options or use the existing implementation with a special token

[2022-09-12 14:27] barryhughes commented on #34568
I'm sorry, we cannot replicate this. Can you provide more details?

- Do you have other code present that may be filtering the list of order types?
- When is this code running (is it during `init` or some other action)?
- You noted being able to replicate this when other plugins are inactive and a theme like Storefront is active; can you confirm that is the case as we are unable to reproduce at pr

[2022-09-12 14:31] FacturaOne commented on #34568
hi BarryHughes...... my fault are not runing INIT  :)
thanks for your answer

[2022-09-12 14:40] gglobalstep opened #34638 "[GlobalStep] Value for "Country / Region" is not being displayed in the "Store details" step on completing OBW."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Country / Region" fails to save in the Store details step on completing OBW.

### Expected behavior

"Country / Region" should be saved in the Store details step on completing O

[2022-09-12 14:49] gglobalstep opened #34639 "[GlobalStep] Ellipsis menu for "Setup Check List" fails to display on "Woocommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Ellipsis menu for "Setup Check List" fails to display on "Woocommerce > Home" page.

### Expected behavior

Ellipsis menu for "Setup Check List" should be displayed on "Woocommer

[2022-09-12 14:56] peterfabian opened #34640 "[Enhancement]: Add public methods to add reviews to products"
### Describe the solution you'd like

While investigating https://github.com/woocommerce/woocommerce/issues/34565, it seems like there is no good way to update the rating or verified status for the review (and perhaps other meta related to the comment). We should add it.

### Describe alternatives you've considered

Repeating the same WP API calls in different parts of the codebase, in REST API, W

[2022-09-12 14:57] barryhughes commented on #34565
Hi @Lolosan,

The method you referenced isn't automatically triggered when you use `add_comment_meta()` directly.

What if, following your calls to set the `'rating'` and `'verified`' fields, you add a call to `wp_update_comment_count_now()` (passing the relevant product ID) ... would that work?

[2022-09-12 14:58] barryhughes commented on #34568
No problem, I hope everything is now on track 👍🏽

[2022-09-12 14:58] #34568 closed, assigned to nobody

[2022-09-12 16:10] #34364 closed, assigned to nobody

[2022-09-12 16:28] vivialice opened #42591 "Filter Block Buttons appearing differently in the editor vs the front end"
The button styles for the theme aren't translating over to the front end for some reason. In this example from the pre-set styles in the TT2 theme, buttons are shown with a border radius in the editor but aren't showing in the front end.

<img width="655" alt="Screenshot 2022-09-09 at 14 07 04" src="https://user-images.githubusercontent.com/9888201/189692476-28d1e7dd-c951-4e13-b298-8e413cd32dff.pn

[2022-09-12 16:28] vivialice opened #42590 "Filter by Price Inputs display differently in the editor vs front end"
The inputs on the 'filter by price' block look different in the editor than in the front end. The front end is the desired result, so it isn't a huge issue however, I think it is important to ensure a WYSIWYG expeirence for users when using the editor.

Editor:
<img width="243" alt="Screenshot 2022-09-12 at 17 05 23" src="https://user-images.githubusercontent.com/9888201/189702359-f75e114d-ca71-46

[2022-09-12 16:32] vivialice opened #42589 "No Filter results empty state improvements"
I feel like this might be still in progress but I wanted to log my thoughts. Apologies if these are already being worked on!

<img width="770" alt="Screenshot 2022-09-12 at 14 52 58" src="https://user-images.githubusercontent.com/9888201/189705630-8c821cb3-cd8d-4fca-a95f-276cf1b18b63.png">

The copy here is for search results which don't align with typical filters copy. Let's use what is in this m

[2022-09-12 16:33] vivialice opened #42588 "Color controls for texts in the Filter Blocks"
The color controls are not the same - the 'Filter by Stock' block is still showing the 'background' and 'link' options. One could assume that the 'link' option is for the 'reset' button.

- Is isolating the reset link an option?
- Is it possible to add contextual copy to provide the user with more clarity as to what this setting targets?

<img width="545" alt="Screenshot 2022-09-12 at 16 25 39" sr

[2022-09-12 17:00] vivialice opened #42587 "Filter by Attribute checkbox sizing"
I know we are using the same checkbox component as in the cart and checkout blocks, but is it possible to render it slightly smaller in the filter blocks?

<img width="479" alt="Screenshot 2022-09-09 at 11 47 50" src="https://user-images.githubusercontent.com/9888201/189713100-21621de3-745d-4329-94df-74701ad6dbda.png">

[2022-09-12 17:33] laundy commented on #29903
@BigBlack In case the issue is that the variations are imported to the database but are not shown due to "unknown values", this hook that is triggered doing import might help:
[code]

[2022-09-12 19:58] samueljseay commented on #34480
@jonathansadowski pretty sure you can pass the `GITHUB_TOKEN` to the rest API and ours has read/write repo permissions by default so I *think* it should work.

[2022-09-13 00:10] johnmontfx opened #34648 "[Enhancement]: Move Order Notes entry box to top of wp-admin element"
### Describe the solution you'd like

I feel it would be nice to have the "Add Note" form entry at the top of the Order Notes (and therefore Subscription Notes) admin widget/element.

It's really useful that the notes are sorted with most recent at the top, but having the new note text entry box at the top of the list would be useful as well. We run a subscription-based site and the notes can be q

[2022-09-13 00:35] rodelgc commented on #34638
I updated the issue title to clarify that the Country & Region is being successfully saved (or updated if it already has a previous value) when you set its value in the OBW. It's just that the OBW "Store details" screen does not show them.

Even though the OBW doesn't display the Country & region, I can still see it being saved successfully in `WooCommerce > Settings > General`

[2022-09-13 01:03] rodelgc commented on #34639
Attaching a screenshot from WooCommerce 6.8.2 for comparison. You can see from the screenshot that the ellipsis menu is being shown in 6.8.2:

<img width="773" alt="Screen Shot 2022-09-12 at 5 57 01 PM" src="https://user-images.githubusercontent.com/4509348/189784742-0c6fd9c0-7f5f-4f79-a22d-fd3589a9f280.png">

This issue is only happening on 6.9 release smoke test version: p1662748058061199-slack-

[2022-09-13 01:55] #33908 closed, assigned to jonathansadowski

[2022-09-13 02:18] ilyasfoo commented on #32586
Hi @verofasulo, we're wondering if:
1. This issue is still applicable since the Profiler work
2. If so, is it applicable as-is, or will it need any copy/design update?

Thank you!

[2022-09-13 03:28] rjchow commented on #34306
@psealock I've made a PR here with an article linked: https://github.com/woocommerce/woocommerce/pull/34649

[2022-09-13 04:07] psealock commented on #34525
@galbaras Thanks for the report. I think I see whats happening. Are you referring to an internal redirect from `/page/1` to `/shop`?

I'm no SEO expert, so will have to defer to someone who is. I'll put this in the dev queue for prioritization.

[2022-09-13 06:50] jacoswan opened #34652 "Warning: Undefined array key "post_type" in /plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php on line 316"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When WooCommerce is active and a new Post is created, the following shows briefly before the Post editor is displayed:

[code]

This happens with at least WC 6.8.2 and WC 6.9.0-r

[2022-09-13 07:42] lucspe opened #42586 "Adding class for current item in Product Categories List"
## Is your feature request related to a problem? Please describe.
The classic widget "product categories list" adds the "current-cat" class to the li element of the current category and (if it is a sub-category) the "current-cat-parent" class to the parent li element.

This is very useful for CSS styling and for adding frontend effects with javascript (for example to add an accordion to the list).

[2022-09-13 07:49] mrleemon commented on #34304
I'm having the same issue in WP6.0.2 and WC6.8.2.
When I'm logged in and the admin bar appears, a small gap appears above SelectWoo dropdowns.

[2022-09-13 08:09] rodelgc opened #42585 "[WooCommerce default styles] Sale prices are still underlined in the store homepage and grouped product page"
## Describe the bug

As part of [Add WooCommerce default styles for block themes #33518](https://github.com/woocommerce/woocommerce/pull/33518), and as mentioned in pdnLyh-1uW-p2 (_"Ensure discounted prices aren’t underlined"_ section), the discounted prices should not be underlined in block themes. This is true in the single product page and the `/shop` page. However, the discounted prices are st

[2022-09-13 09:41] #34306 closed, assigned to nobody

[2022-09-13 09:58] #34375 closed, assigned to barryhughes

[2022-09-13 10:46] ilyasfoo commented on #34638
Thanks for catching this! This was recently fixed by https://github.com/woocommerce/woocommerce/issues/34460 but it did not get cherry-picked into 6.9 since it was only a UI glitch, and it requires user to go back to setup wizard which is highly unlikely.

[2022-09-13 10:48] ilyasfoo commented on #34638
Closing this issue since it's resolved, please reopen if you think I missed anything. Thanks!

[2022-09-13 10:48] #34638 closed, assigned to nobody

[2022-09-13 11:05] galbaras commented on #34525
I'm referring to the link having `/page/1`, because it shouldn't. The redirection works, but it takes away from user experience and SEO relative to not having this ending at all.

This may be due to the way the `base` element is set [here](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/templates/loop/pagination.php#L24).

[2022-09-13 14:12] Konamiman commented on #34557
Hi @bernardinic, what do you mean exactly by "unconfigured front codes"?

[2022-09-13 14:18] Konamiman commented on #34542
Hi @a-ragaee, thanks for your report. Could you please provide some context so we can try to troubleshoot the issue? At the very least we would need reproduction steps, how can we trigger the issue? Thank you!

[2022-09-13 14:31] ecgan commented on #34107
Done in PR https://github.com/woocommerce/woocommerce/pull/34415, closing this issue.

[2022-09-13 14:31] #34107 closed, assigned to ecgan

[2022-09-13 14:32] ecgan commented on #34431
Done in PR https://github.com/woocommerce/woocommerce/pull/34444, closing this issue.

[2022-09-13 14:32] #34431 closed, assigned to nima-karimi

[2022-09-13 14:35] ecgan opened #34655 "Delete transient for recommended marketing extensions upon updating WooCommerce plugin"
This is related to the epic issue https://github.com/woocommerce/woocommerce/issues/33895.

When users use the current release of WooCommerce plugins (without the UI revamp for marketing page feature), the recommended extensions would come from calling `GET https://woocommerce.com/wp-json/wccom/marketing-tab/1.1/recommendations.json` API.

https://github.com/woocommerce/woocommerce/blob/996e568987

[2022-09-13 14:46] Lolosan commented on #34565
@barryhughes

I see. It throwed me off, since the description of that hooked function says "Ensure **product average rating and review count** is kept up to date."

So i figured that function should run on the add rating metadata

I've ended up doing this:

[code]

[2022-09-13 14:46] #34565 closed, assigned to nobody

[2022-09-13 14:54] barryhughes commented on #34565
Glad you found a solution.

We appreciate that, as things stand, it could be a little confusing—so we created an issue to follow up and hopefully create a pathway that is easier and more obvious [(link)](https://github.com/woocommerce/woocommerce/issues/34640).

[2022-09-13 16:07] jorgeatorres commented on #34531
Hey @webdados!

Thanks for your report. We were able to reproduce when changing the order status via the admin (luckily, it doesn't seem to occur in other scenarios). As such, we've marked this as a bug. While not ideal, and until a fix is devised, a possible workaround (for AFC or other 3rd parties) would be to hook onto `save_post` with higher priority than WooCommerce's callbacks (for example,

[2022-09-13 17:52] louwie17 commented on #34000
As discussed on our Mothra team call, this issue needs a bit more grooming on what the exact issue is.
We should figure out if this is a rendering issue, and thus limit the amount that is rendered to the window height, see this [react-window](https://react-window.vercel.app/#/examples/list/fixed-size) as an example, we did probably want to use something different to solve this.

If it isn't a rend

[2022-09-13 17:57] louwie17 commented on #33538
@pmcpinto after talking about this with the team, we thought a layout change might be a better approach as a button containing `"Add contact form to the description"` gets rather long.

One approach was to add a similar card style as the short description around the description field, with the option of also adding a `Product Description`, or `Description` title (similar to how short description i

[2022-09-13 18:01] louwie17 opened #34657 "[Shipping] Shipping class dropdown add new option"
**User story**

- As a merchant, I want to the ability to create new shipping classes within the product edit screen.

**Design**
(design: `5sAIeTRd9Yp7nSCT33BAWz-fi-6590%3A287898`)

**Acceptance criteria**

- [x] A new `New shipping class` option should be added to the dropdown
- [x] When the New shipping class option is selected, we show a modal where the user can enter the name, slug, and descr

[2022-09-13 18:56] psealock commented on #34634
Thanks for the issue @Delwar00. Could you please provide steps to reproduce and add the details of your environment?

[2022-09-13 19:40] #34395 closed, assigned to tammullen

[2022-09-13 19:43] tomalec opened #42584 "Document `@woocommerce/shared-hocs`/ `wcBlocksSharedHocs`"
I'm working with AutomateWoo, and noticed that since the introduction of Checkout block (1061-gh-woocommerce/automatewoo) it imports (via DEWP) `@woocommerce/shared-hocs`/ `wcBlocksSharedHocs`.

Is this package considered public, and ready for external use? If so does it have the stable API? API that's documented somewhere, so I would know what my extension is actually using.
I tried to [google it

[2022-09-13 22:21] nickelaos commented on #25076
Confirm, I can reproduce this issue. Thanks @mero2online

[2022-09-13 23:25] roykho opened #34662 "Failing build release assets workflow"
Currently [this](https://github.com/woocommerce/woocommerce/actions/workflows/build-release.yml) workflow is failing and disabled. We need to fix this so that after a release is cut, it will automatically generate and build the release package and link it to the release.

[2022-09-13 23:30] roykho opened #34663 "Lingering assets when switching branches and building"
This issue is a strange one and not one that I can fully replicate I believe. Sometimes when you switches branches after having assets (js/css) already built and you switch to another branch (release/6.9) and you run `pnpm run build:zip --filter=woocommerce`, the assets from the previous branch lives on and gets packaged up. This is a huge problem as it can cause unwanted changes. This happened wi

[2022-09-13 23:30] #34301 closed, assigned to adrianduffell

[2022-09-13 23:44] aheckler opened #34664 ""WCPay" used on the new WooCommerce Payments experiment page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Assuming you meet the criteria shown in https://github.com/woocommerce/woocommerce/pull/34251, you should see the Payments menu even without WC Pay installed. On that page, we us

[2022-09-14 00:08] MarkCanada opened #34665 "All Products report "Filter by stock status" not accurate"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On one website I am supporting when selecting "Filter by stock status" the In stock and Out of stock don't return the correct products.

### Expected behavior

Filter properly fo

[2022-09-14 00:53] ilyasfoo commented on #34639
This is an intended change, introduced in https://github.com/woocommerce/woocommerce/pull/34521. However, note that the change wasn't supposed to be included in 6.9 , it seems there was an asset issue with the smoke test zip. More details in https://github.com/woocommerce/woocommerce/issues/34663

Closing as nothing needs to be done.

[2022-09-14 00:53] #34639 closed, assigned to ilyasfoo

[2022-09-14 01:17] souleater2023 commented on #33228
any update on this, its been a long time now. missing this lost feature.

[2022-09-14 01:40] nicdwilson commented on #33985
5552565-zen

[2022-09-14 03:35] ecelticuser opened #34667 "WC 6.9: array_filter called on woocommerce_enqueue_styles result produces fatal error with PHP 8 and some themes"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I've had woocommerce wordpress plugin for years and regularly updated - on my most recent update to 6.9, my website displayed the following warning below; I had to rollback to ve

[2022-09-14 04:19] lazehang commented on #34667
any updates? facing the same issue.

[2022-09-14 04:28] BrentOzar commented on #34667
Same here. In log:

2022-09-14T04:26:15+00:00 CRITICAL Uncaught TypeError: array_filter(): Argument #1 ($array) must be of type array, bool given in /nas/content/live/sitename/wp-content/plugins/woocommerce/includes/class-wc-frontend-scripts.php:65

[2022-09-14 05:06] HILAYTRIVEDI commented on #34667
I found this piece of code here, that raises this error.
`return array_filter(
			apply_filters(
				'woocommerce_enqueue_styles',
				array(
					'woocommerce-layout'      => array(
						'src'     => self::get_asset_url( 'assets/css/woocommerce-layout.css' ),
						'deps'    => '',
						'version' => $version,
						'media'   => 'all',
						'has_rtl' => true,
					),
					'woocommerce-smallscre

[2022-09-14 06:34] pau1phi11ips commented on #34667
I've downgraded PHP from 8.0 to 7.4 on our site and it's kinda working again.

PHP is just throwing Warnings instead of Critical errors now so at least it's functional again.

[2022-09-14 06:49] pau1phi11ips commented on #34667
Here's the stack trace for the error

[code]

[2022-09-14 07:08] blheson opened #34669 "[Enhancement]: Add hooks around refund reason functionality for more flexibility"
### Describe the solution you'd like

It will be nice to have an extra field to fill when raising a refund. The only extra field available is "reason" which in some cases does not properly describe the extra data to be added. For example, the extra data can be a wallet address to make a refund to. It will be great to have a hook where custom fields can be added as seen in the screenshot below.

![

[2022-09-14 08:32] kuba14 commented on #34667
Facing the same issue.

[2022-09-14 08:33] JPKCom commented on #31812
@Sidsector9 First of all, sorry for the long delay in replying, but unfortunately I'm taking care of so many projects that I'm only now getting around to it. 😅 I have tested the changes you mentioned as well as generally the WooCommmerce versions 6.8.2, 6.9 and even 7.0-dev from yesterday. All versions show the original misbehavior I described above. In my tests I also strictly, followed the proce

[2022-09-14 08:41] david-strejc commented on #34667
Fastest quick fix:

[code]

after line 57 in /wp-content/plugins/woocommerce/includes/class-wc-frontend-scripts.php

add:

`return true;`

so it looks like:
[code]

[2022-09-14 08:42] kastriotkastrati opened #42583 "AbstractProductGrid huge performance issues"
Hello, I am seeing huge performance issues stemming from the AbstractProductGrid implementation.
In a page with 3 blocks of 3x7 grid of products we are seeing response times of 4 seconds and upwards.

If I comment this part of the code or cache it super aggressively, the response times immediately jump to sub 500ms,

My initial suspicions are that the products on line [79](https://github.com/wooco

[2022-09-14 08:44] heinzoellrich commented on #34667
same issue on several woocommerce sites
had to rollback
php8 and 8.1 and 7.4

[2022-09-14 08:47] sukafia commented on #34667
Reported in 36909764-hc and 36918673-hc

[2022-09-14 08:59] ibndawood commented on #34667
Please add this to your child theme's functions.php to temporarily resolve this issue:

[code]

[2022-09-14 09:00] lazehang commented on #34667
Till a patch comes out, you can downgrade woocommerce back to v6.8.2.

Steps to downgrade would be:
1. Backup the whole site.
2. Download woocommerce plugin zip (6.8.2) from [here](https://developer.woocommerce.com/releases/)
3. Go to Plugins > Add New and upload the zip file that was downloaded in step 2 and Install it.

[2022-09-14 09:32] kaushikasomaiya commented on #34667
5555958-zen, 5556022-zen

[2022-09-14 09:37] dadart123 commented on #27674
Woocommerce 6.9.0
Hello everyone,
My site has this error if I use php 8.0 and later
1.	PHP Fatal error:  Uncaught TypeError: array_filter(): Argument #1 ($array) must be of type array, bool given in /wp-content/plugins/woocommerce/includes/class-wc-frontend-scripts.php:65
If I go back to php 7.4 the problem is not there
Can you help me solve the problem in order to upgrade to PHP 8.00
Thank you ve

[2022-09-14 09:40] peterfabian commented on #34667
PR this was introduced in: https://github.com/woocommerce/woocommerce/pull/33518

[2022-09-14 09:49] kaushikasomaiya commented on #34667
5556064-zen (OceanWP)

[2022-09-14 10:31] neilmccreadie commented on #34667
5556160-zen

[2022-09-14 11:00] senadir commented on #42584
Thank you for starting this, while I consider `@woocommerce/shared-hocs` as external, it's not setup to be like that, and has a higher risk of breaking, to give you more ease of mind, I suggest you try to work around it and remove it, [we only use `withFilteredAttributes`](https://github.com/woocommerce/automatewoo/pull/1061/files#diff-25a04fe534a34ef425e545ab3faa6ddf70d1df094f396d8d2686c858db1b28

[2022-09-14 11:06] thuautp commented on #34667
5556344-zen

[2022-09-14 11:25] FunkyCss opened #34672 "Option for fee on COD payment option."
### Describe the solution you'd like

It would be nice to set up an option where you can add charges if the customer selects COD as a payment option.

COD is working in most countries as number one choice, but the shipping companies charge that but woocommerce does not has this option, and there are not any easy functions out to make the job done.

Why woocommerce is always behind with simple task

[2022-09-14 11:46] manojvashist91 opened #34673 "Woocommerce 6.9 latest version Have wp-admin backend issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When i install a latest version of Woo-commerce with Woo-commerce shop theme and any other theme then back end of WordPress give error.

"There has been a critical error on this

[2022-09-14 12:04] NaitChris commented on #34673
i have the same problem but my backend works fine. The Elementor doen´t work. When i will edit a Page with Elementor, i get an critical error by wordpress.

Can you switch to PHP Version 7.4? My problem is solved now after i switched down to 7.4. It looks like an PHP 8.x Problem.

[2022-09-14 12:51] swatipawarGS commented on #34652
Hi @jacoswan,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.9.0 version, PHP 8.0.22 version, and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/190077918-fb464fd3-5799-40eb-a732-7a55f629eba1.mp4

Please provide

[2022-09-14 12:52] peterfabian commented on #34667
OceanWP published an updated version (3.3.5) about 3 hours ago, but other themes might still be affected.

[2022-09-14 12:52] swatipawarGS commented on #34630
Hi @Marc-pi,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.9.0 version and WordPress 6.0.2 version.

Please find below the screenshots for reference :
![#34630(1st)](https://user-images.githubusercontent.com/94531721/190086089-a6e256b0-179e-4d9c-8c64-d70b9d67e850.jpg)

![#34630(2nd)](https://

[2022-09-14 12:52] #34667 closed, assigned to nobody

[2022-09-14 12:53] swatipawarGS commented on #34447
Hi @Michaelgimii,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.9.0 version, PHP 8.0.22 version, and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/190105306-b19659ce-29e6-4c23-b3f2-bd9f4322ff5c.mp4

Please prov

[2022-09-14 12:54] #34673 closed, assigned to nobody

[2022-09-14 12:54] swatipawarGS commented on #34392
Hi @zmaglica,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.9.0 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/190108953-35584a74-a567-4c7e-bd5a-58dd87a07c17.mp4

Priority of this issue will be assigne

[2022-09-14 13:05] aezazs-multidots opened #34674 "The image in the WooCommerce inbox is becoming stretched"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Whatever image is coming up in the Inbox section of the home page of WooCommerce is getting stretched.

![CleanShot 2022-09-14 at 18 29 04@2x](https://user-images.githubuserconte

[2022-09-14 13:14] askrun opened #34675 "Synchin issue of transaction in woocommerce panel or store and payu plugin."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Error in syncing of transaction in real time in woo-commerce.

### Expected behavior

before 11 of this month , the activity of transaction is synching.onwards syncing issues.

#

[2022-09-14 14:18] JosefHrib commented on #34667
I have same fatal error. Last WP, WC, Theme Motors, PHP 8.0.23.

I used fast fix.
after line 57 in /wp-content/plugins/woocommerce/includes/class-wc-frontend-scripts.php
add:
return true;
so it looks like:
 57         public static function get_styles() {
 58                 return true;
 59                 $version = Constants::get_constant( 'WC_VERSION' );
 60

Frontend works, but on frontend is

[2022-09-14 14:32] stuartduff commented on #34667
5556745-zen

[2022-09-14 14:33] WinISOpl commented on #34667
I have exactly the same

[2022-09-14 14:36] stuartduff commented on #34667
5556727-zen

[2022-09-14 14:41] costasovo opened #34677 "[COT] SQL error when inserting customer to wc_customer_lookup table when COT enabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating an order programmatically using `wc_create_order();` and subsequently re-fetching the order and tryping to obtain `customer_id` from `wp_customer_lookup` table usin

[2022-09-14 14:47] kloon commented on #25243
Just want to add that the same goes for content, the reasoning is the `shop_manager` role [gets all the capabilities of the editor role on install](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-install.php#L1524), however, the `unfiltered_html` capability seems to be omitted.

If the `shop_manager` role inherits capabilities of the `editor` role, then

[2022-09-14 14:49] pmcpinto commented on #33538
👍 I think this can be the best approach

[2022-09-14 14:50] enricobattocchi opened #34678 "Multiple additional instructions for product image displayed"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When using WooCommerce 6.9 with Yoast SEO for WooCommerce, creating a new Product or editing a Product without a featured image results in a repetition of the new notice to guide

[2022-09-14 15:42] #34229 closed, assigned to jorgeatorres

[2022-09-14 15:44] #32915 closed, assigned to nobody

[2022-09-14 15:47] beaulebens commented on #27674
@dadart123 this should be addressed in 6.9.1, per https://github.com/woocommerce/woocommerce/pull/34671

[2022-09-14 17:07] beaulebens opened #34681 "[Enhancement]: "Reviews" section should have WC Admin header"
### Describe the solution you'd like

The recently added "Reviews" section is missing the WC Admin-style header that every other section in WC Core ships with. To provide a consistent core/default experience, it should also have the white header, Activity icon/panel, and Setup checklist.

e.g.

**Top of the Orders page**
<img width="505" alt="Screen Shot 2022-09-14 at 11 06 01 AM" src="https://use

[2022-09-14 17:14] amElnagdy commented on #34667
5557089-zen

[2022-09-14 17:21] chrisp2349 commented on #32837
We are encountering this issue as well on our site where the Net Sales Number for a particular product in the main WooCommerce Analytics section is wrong and does not properly take into account full refunds.

It is not recognizing that an order was returned, even after the refund.  This seems to be an issue with CORE WooCommerce Functionality and is a MAJOR issue for our store, as we rely on these

[2022-09-14 18:09] greenhoe opened #34682 "Missing schema "priceType" GSC new Merchant listings"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Google Search Console has a new Merchant listing section for their shopping data, with this new update WooCommerce products are now coming up as invalid due to "Missing field "pr

[2022-09-14 18:13] pau1phi11ips commented on #34667
@JosefHrib This is a better fix [#issuecomment-1246458316](https://github.com/woocommerce/woocommerce/issues/34667#issuecomment-1246458316)

[2022-09-14 18:15] mjmolo commented on #34618
Thanks swatipawarGS, just tested this on our site, and we can confirm this appears fixed. Maybe it was a small bug/error limited to something, but the error is no longer occurring.

[2022-09-14 18:56] mdperez86 commented on #34328
Hello @jarekmorawski and  @pmcpinto
What is the default selected option?
Since `Standard shipping` is not a real shipping class option, I mean, it does not exists in the database as a shipping class record by default. What should be the behavior if the user select it and then save the product?

[2022-09-14 19:07] tomalec commented on #42584
Thanks for the quick reply :)

But do you plan to publish it somewhere in the foreseeable future?

Yes, I'm using DEWP, but npm or any source to actually import is needed not only for DevX things like linters and autocomplete, but to be able to run unit tests for anything that even indirectly imports it. Not even use, but just import is enough, to contaigously make writing tests impossible.

[2022-09-14 19:31] #34272 closed, assigned to louwie17

[2022-09-14 22:00] thelogicwizards commented on #34667
[5557513-zen](https://woothemes.zendesk.com/agent/tickets/5557513)

[2022-09-14 23:00] #34544 closed, assigned to wzieba

[2022-09-14 23:02] #34243 closed, assigned to coreymckrill

[2022-09-14 23:59] joshbtdev commented on #26289
After enabling guest checkout on our website we have discovered this issue too. Woocommerce should not apply a restricted coupon if there is no email address in the billing field. It should also check to see if the billing email address is eligible for the coupon being applied if the field is filled.

Because of this bug, we have to force guests to create an account and log in as a work around to

[2022-09-15 00:23] pk-nick opened #34686 "Order Date/Time in admin is wrong since update"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php

Around line 241 you are outputting the date, hour, and the minute inputs for the order meta data on the ed

[2022-09-15 00:28] psealock commented on #34361
Hi @farhadsakhaei, could you please provide more detailed instructions for reproducing this?

[2022-09-15 01:02] samueljseay commented on #33686
In review at https://github.com/woocommerce/woocommerce/pull/34661

[2022-09-15 01:04] samueljseay commented on #34248
This is way more challenging than I thought it would be. Basically you need info from both `git diff / log` and `git blame`. I found some scripts on the internet but none were quite what I was looking for. I also couldn't find a way to do this with the GitHub graphQL API but someone who is more experienced with complex queries might be able to tackle it.

I tried a few first cuts of getting the in

[2022-09-15 01:07] samueljseay commented on #33948
One thing we could also tie this into is consolidating lint as in: https://github.com/woocommerce/platform-private/issues/94

[2022-09-15 06:41] AashikP commented on #34686
Can replicate on the latest version:

![image](https://user-images.githubusercontent.com/17475174/190331995-1b1caee5-5ce2-4ea7-9acb-8d5a771d3158.png)

![image](https://user-images.githubusercontent.com/17475174/190331866-d8e9fe1c-4772-4315-9eb0-dd2850b79f1e.png)

Just noting that reverting back to 6.8.2 seems to fix the issue:

![image](https://user-images.githubusercontent.com/17475174/190332746-

[2022-09-15 06:53] EjayhanFernandes commented on #34686
Confirming as well that rolling back to `6.8.2` does resolve the issue:

Version `6.9.1`:

![https://d.pr/VwtTnY+](https://d.pr/VwtTnY+)
*If the image does not load, please click this link: https://d.pr/VwtTnY*

Version `6.8.2`:

![https://d.pr/8FWPGB+](https://d.pr/8FWPGB+)
*If the image does not load, please click this link: https://d.pr/8FWPGB*

[2022-09-15 07:05] pehaa commented on #34686
Reported by a user zd-5558633

[2022-09-15 07:47] daniyalahmadk commented on #34652
I was able to replicate the issue as well on WC 6.9.1 with PHP 8.0:

https://d.pr/i/MzASbJ

It's missing the following check on that line of code:

`isset( $_GET['post_type'] )`

[2022-09-15 07:58] solstudioim commented on #34686
Reported by another user: 5558596-zd-woothemes

[2022-09-15 08:00] dadizk opened #34688 "[Enhancement]: Fix the type error of $screen_id in "/woocommerce/includes/admin/class-wc-admin-assets.php""
### Describe the solution you'd like

With the latest release 6.9.1 2022-09-14
I got a uncaught Error: Argument 1 passed to WC_Admin_Assets::is_order_meta_box_screen() must be of the type string, null given

Then i found in "/woocommerce/includes/admin/class-wc-admin-assets.php":
line 503, the type of the argument in is_order_meta_box_screen() must be string.
and in line 104, you guys let $screen_

[2022-09-15 10:42] jacoswan opened #34690 "Checkout page's "Please log in" doesn't work if customers are not allow to log in during checkout"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If, while checking out, a customer checks the **Create an account** box but uses an existing email address, it results in an error message with a **Please log in** link that does

[2022-09-15 10:46] verofasulo commented on #32586
This issue is still applicable since the Profiler work
 If so, is it applicable as-is, or will it need any copy/design update?

Hey @ilyasfoo, great point! Once the new onboarding is implemented, we don't need it anymore as the country selection is a mandatory field.

[2022-09-15 11:14] ilyasfoo commented on #32586
Great, thanks for confirming! Closing this issue now.

 cc @adrianduffell

[2022-09-15 11:14] #32586 closed, assigned to nobody

[2022-09-15 12:31] peterfabian opened #34692 "[Enhancement]: Improve states handling"
### Describe the solution you'd like

We get a lot of PRs/requests to update states for countries. We should just add all from CLDR and make the loading during checkout smarter so that it won't load all states.

### Describe alternatives you've considered

Updating states for countries one by one, letting people know we've actually switched to using CLDR instead of ISO.

### Additional context

ht

[2022-09-15 13:01] xristos3490 opened #34694 "Enhance "Add store details" task and onboarding experience"
### Describe the solution you'd like

### Description

This project aims to improve the "Add store details" task by modifying the [guided tour](https://github.com/woocommerce/woocommerce/pull/34137)'s visibility conditions.

##### The task list item
The task item doesn't include a hero banner on top of the list. See https://d.pr/i/TAQlTQ
To replicate, skip the setup wizard and visit WooCommerce >

[2022-09-15 13:22] roykho commented on #34686
This has already been fixed [here](https://github.com/woocommerce/woocommerce/pull/34687) and will be released soon.

[2022-09-15 13:22] #34686 closed, assigned to nobody

[2022-09-15 13:43] lsinger commented on #34197
@jonathansadowski thanks for your work on this! Can you think of a good way to retroactively label the existing community issues and PRs? As is, the script is only run on issue / PR creation if I understand correctly?