[2020-10-15 14:35] peterfabian opened #27972 "Remove the compatibility notice for minor versions from SSR"
We removed the notice from plugins page, but not from System Status report.

[2020-10-15 14:55] tammullen commented on #27969
Thank you @lunarbody for raising the issue and providing the status report. However, I can’t reproduce it on my end.

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such

[2020-10-15 15:13] lunarbody commented on #27969
I changed the theme to storefront and deactivated all of the plug ins. It did not work.
Do you have any other suggestions?

Sent from Mail for Windows 10

From: Tam Mullen
Sent: Thursday, October 15, 2020 10:55 AM
To: woocommerce/woocommerce
Cc: lunarbody; Mention
Subject: Re: [woocommerce/woocommerce] Back coding showing on half of mywoocommerce page (#27969)

Thank you @lunarbody for raising the

[2020-10-15 15:20] apeksha10 opened #27973 "Undefined index notice is display on checkout page with Inclusive Tax setup."
**Describe the bug**
Undefined index notice is display on the checkout page with Inclusive Tax setup.

**Expected behavior**
No notice should be display on the checkout page.

**Steps to reproduce the bug (We need to be able to reproduce the bug in order to fix it.)**
Steps to reproduce the bug:
1. WC-- Tax setup screenshot: https://www.screencast.com/t/3KBWkzv4Y
2. Try to add product as guest use

[2020-10-15 15:29] broksonic21 opened #27974 "Woo 4.6: With Gutenberg plugin: Admin UI/ Analytics shows empty screen/react error"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-15 15:48] rrennick opened #27975 "Investigate and document E2E jest debugger"
E2E debug mode was added in #27913. I'm not familiar with that debugger so we'll need to research it and add documentation to the `e2e-environment` package.

[2020-10-15 16:44] #27820 closed

[2020-10-15 18:05] #27874 closed

[2020-10-15 18:55] rrennick opened #27979 "Expand E2E Utils readme"
The readme should include the list of functions / flows available in the package.

Edited to add: we should be exporting the functionality for `@wordpress/e2e-test-utils` as well.

[2020-10-15 19:42] rrennick opened #27980 "Rename StoreOwner & Customer for consistency"
We have updated our language to use `Merchant` and `Shopper`. The `e2e-utils` package uses `StoreOwnerFlow` and `CustomerFlow`.

We should update these for consistency and deprecate the old usage.

[2020-10-15 20:08] gevcen opened #27981 "Pull Request 27416 fixed in front-end but not in backend"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-15 21:12] timmyc commented on #27620
Another report in https://github.com/woocommerce/woocommerce-admin/issues/5286 from @franticpsyx

[2020-10-15 22:13] johndcoy commented on #27756
When using only the parent ID with or without attributes, validation is ignored.

`?add-to-cart=<parent_product_id>&attribute_size=`

@claudiosanches could similar changes made to [27115](https://github.com/woocommerce/woocommerce/pull/27115) be applied here?

[2020-10-16 00:54] helgatheviking opened #27984 "Script sh ./bin/prefix-vendor-namespaces.sh handling the post-install-cmd event returned with error code 127"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
related to the d

[2020-10-16 01:25] om4james commented on #27783
Hi @Xpressprint ,

We (OM4 Software) are the developers of the [WooCommerce Zapier extension](https://woocommerce.com/products/woocommerce-zapier/).

Looking at your screenshots, it looks like you may also be using WooCommerce Zapier on your site, as step 1 in your Zap appears to be showing the purple WooCommerce logo?

WooCommerce Zapier's authentication mechanism periodically creates new REST AP

[2020-10-16 06:36] Xpressprint commented on #27783
Hi James, and thanks for that information.

 I just had one set of keys for "Zapier" used for your plugin and the native webhook step, so then splitting the two should solve my issue.

Thanks!
— Andreas

PS: Please consider adding support in your plugin to edit line item meta data of an order, so I don't have to add these webhook steps ;-)

[2020-10-16 06:36] #27783 closed

[2020-10-16 06:44] om4james commented on #27783
Unfortunately, the Zapier platform/UI doesn't currently let us create the separate meta data input fields inside the line items list/array, because it is nested too deeply in terms of structure.

However, we add new features to the extension based on customer demand. If you were to add your idea to the WooCommerce Extension Ideas Forum, others can vote on your idea (and you might also vote on othe

[2020-10-16 07:16] #27071 closed

[2020-10-16 10:13] tammullen commented on #27969
Hi @lunarbody

Do you have any other suggestions?

Thanks for trying that, the code visible in the screenshot you shared isn't part of WooCommerce so may be part of the Brizy plugin and theme that you use.
Can you share a screenshot or more details of the issue/error you see with the theme changed to storefront and other plugins deactivated? This will help us evaluate what is happening.

[2020-10-16 12:39] juliaamosova commented on #27981
Hi @gevcen,

Thanks for catching and reporting it! I can indeed confirm that https://github.com/woocommerce/woocommerce/pull/27416 fixed the issue at the front-end but not on the back end. I tested WC 4.6 using French Langage.

Front-end - correct sorting:

<img width="1295" alt="Screen Shot 2020-10-16 at 8 33 41 AM" src="https://user-images.githubusercontent.com/19143190/96258924-c6ca9200-0f8a-11

[2020-10-16 12:41] juliaamosova commented on #27974
Hi @broksonic21,

Thank you for reporting the issue. However, this issue had been indeed reported previously here https://github.com/woocommerce/woocommerce-admin/issues/5385. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-10-16 12:41] #27974 closed

[2020-10-16 12:55] rodrigoprimo commented on #27910
Closing due to lack of feedback and as WC 4.6.0 was released. I imagine this problem happened because the database already contained the `woocommerce_db_version` option.

[2020-10-16 12:55] #27910 closed

[2020-10-16 13:16] NielsdeBlaauw opened #27989 "Unintended product change on order_item_product with non-unique SKU's"
If multiple products can have the same SKU, updating an order through the WooCommerce API (tested v2, v3 and v4) can unintentionally change products within an order.

## To reproduce:

1. Add filter to `functions.php` `add_filter( 'wc_product_has_unique_sku', '__return_false' );`
2. Create `product 1` with SKU `non-unique`. (product_id example: 1111)
3. Create `product 2` with the same SKU `non-un

[2020-10-16 13:23] Konamiman commented on #27984
Hi @helgatheviking, could you please try the following and tell us if it works for you:

1. Open the `bin/prefix-vendor-namespaces.sh` file

2. Replace this line:

[code]

with:

[code]

3. Run `composer install` again

[2020-10-16 13:23] #27988 closed

[2020-10-16 13:39] webdados commented on #26895
Please re-open and re-evaluate this issue.

This applies not only to phone numbers but also to postcodes and probably other fields.

It makes no sense to validate a non-required field if it was not filled by the user.

The expected behavior is, IMHO:
- Field is required: validation is performed
- Field is optional and filled by the user: validation is performed
- Field is optional and NOT filled b

[2020-10-16 13:47] helgatheviking commented on #27984
Thanks @Konamiman sadly I am getting the exact same error.

[2020-10-16 14:05] tammullen commented on #27971
Hi @apeksha10

A possible reason for this could be not enough disk space where your site is hosted.
Can you check on the available space in your account. There needs to be enough space to download the plugin, unzip it, and then move the files across. Have you had this issue with any other plugins.

Alternatively can you try manually download WooCommerce from here, then install it on your site via

[2020-10-16 14:42] peterfabian opened #27990 "Add information to Tracks event"
As requested by @oneillo, the following properties should be added as global ones:
- Age of store in days
- Total # of completed orders
- Total # of products by Product Type (Simple Product, Grouped Product, Affiliate Product, Simple subscription, virtual, etc.)

[2020-10-16 15:27] negapo opened #27991 "Enhancement - Only fetch changed data in API to enable sync across clients"
Hi, the API design is, overall, fantastically well done.
One thing that is lacking is the ability to pull only incremental changes, like in many API's , we would get a full image of the data that is frequently changed like (Products, Variations, Orders, Notes) on the launch of a program, be it a POS system or a CRM, then we would pull only the incremental changes by filtering by date in the respec

[2020-10-16 15:53] injamulhaque535 commented on #27266
I am unable to add more than three emails in this woocommerce email setting separated by a comma.
When I add more than three emails then wordpress is stopped sending emails to all emails.
Do you have any solution for adding more than three emails in the woocommerce for getting order notification email etc?

[2020-10-16 16:11] tammullen commented on #27973
Hi @apeksha10

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
I believe this error occurs when the following conditions are met

- The billing and/or shipping address is set to `Select a country / region`
- There is a tax rate setup with a blank country code `*` applicable to all countries
- `Calculate tax based on` is set to `Cust

[2020-10-16 16:23] tammullen commented on #27973
I'm going to change this to lower priority for now as it seems this will only occur with the combination of factors in the issue. `Country / Region` is a mandatory field and the notice will go away when a country / region is selected and the shopper can proceed with the purchase.

[2020-10-16 16:31] XReploid commented on #15604
hi how to remove the catalog visibility from woocommerce? So that by default it only shows in shop and search.

https://snipboard.io/aVU7mJ.jpg

Thanks for all the support in advance

[2020-10-16 16:38] peterfabian opened #27992 "Add tracks for manual Woo extension installation"
Check if it is possible to add new Tracks events to fire when

- a Woo extension is manually installed via the WPAdmin Plugins menu
- a Woo extension is manually activated via the WPAdmins Plugins menu

Maybe based on plugin author? If not, start with WC Pay and WC Ship.

[2020-10-16 17:16] #25099 closed

[2020-10-16 18:13] faurelia opened #27993 "WC Orders query get_data() has no line_items"
Hi, I'm new to woocommerce development. Just want to ask, when I check `/wp-json/wc/v3/orders`, I can get the orders in this format:

[code]

but when I manually do the query and output the response like this:

[code]

I get the result with an empty `line_items`, can anyone tell me what I am missing?

[code]

[2020-10-16 21:35] mohammad0omar opened #27996 "Experienced senior woo-commerce APIs developer NEEDED"
Hello,

 For a very interesting remote freelance project, we are Looking for an Experienced senior woo-commerce APIs developer, experienced in writing plugins to add/manage APIs and core functionalities.

Communication skills and a portfolio are a must, please reach to me through my email
mohammad0omar**[at]**outlook**[dot]**com (change **at** and **dot** with their real values, using this to mini

[2020-10-16 21:36] cl0udres commented on #27424
Same issue here. I updated to WooCommerce 4.5.2 and Wordpress 5.5.1, then I clicked on the notification... coupon feature moved, but not the notification that is still there. What I have to do to fix it? Thanks!

[2020-10-16 21:49] #27996 closed

[2020-10-16 21:56] tammullen commented on #27996
Closing as GitHub should be treated as a place to report confirmed bugs only.

[2020-10-17 02:07] talentedpen opened #27998 "Purchased "store item" showing up as a pop-up on website with customers information."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched

[2020-10-17 03:26] itallogravina commented on #27740
I'm also having the same problem, I installed the wp on the docker and when making an OAuth 1 request I can't get this error

[2020-10-17 03:28] itallogravina commented on #27768
I am also having the same problem, I installed the wp in the docker and when making a local OAuth 1 request I can't get this error

[2020-10-17 11:05] Hbitvof commented on #27515
Why is no one responding to this issue?

[2020-10-17 15:23] billrobbins commented on #27769
I've also run into this issue through WooCommerce products, orders, and settings.  Tooltips won't disappear as they previously did.  Now I have to leave the tooltip with my cursor.  Then bring the cursor back over the tooltip and then finally leave in order to make it disappear.  It's a small thing, but it's annoying since these often cover up fields lower on the page.

This happens to me on Chrom

[2020-10-17 18:06] lunarbody commented on #27969
Everything is disable but woocommerce. The theme is storefront.

Sent from Mail for Windows 10

From: Tam Mullen
Sent: Friday, October 16, 2020 6:14 AM
To: woocommerce/woocommerce
Cc: lunarbody; Mention
Subject: Re: [woocommerce/woocommerce] Back coding showing on half of mywoocommerce page (#27969)

Hi @lunarbody
I changed the theme to storefront and deactivated all of the plug ins. It did not wo

[2020-10-18 20:47] gevcen opened #28002 "If "hide out of stock" is enabled, then product category count is wrong if there is a product out of stock"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-19 04:46] harshitmahendra commented on #27919
Is there is any update on this ?

[2020-10-19 06:04] kosiew commented on #27761
Could not reproduce on iPhone 6.

[2020-10-19 06:21] kosiew commented on #27761
Tested on Browserstack with iphone 7 - could not reproduce too.

[2020-10-19 06:49] Immerence commented on #27761
Tried on a new repo. Can reproduce.

[2020-10-19 06:50] Immerence commented on #27761
Clean test site: https://staging6.immerence.com/

[2020-10-19 06:52] Immerence commented on #27761
Phone model: iPhone 7
iOS version: 14.0.1
Chrome iOS Latest (86.0.4240.93)

[2020-10-19 07:15] Immerence commented on #27761
Here is a video of the issue from the clean site:
https://drive.google.com/file/d/1goAY9YTc_F2cbnR9qiUqx2G85Dl_YsCf/view?usp=sharing

[2020-10-19 09:58] tammullen commented on #27998
Hi @talentedpen

Thank you for raising the issue.

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). T

[2020-10-19 10:02] tammullen commented on #27969
Hi @lunarbody

Can you share a screenshot or more details of the issue/error you see with Storefront and only WooCommerce active? This will help us evaluate what is happening.

[2020-10-19 10:05] tammullen commented on #28002
Hi @gevcen

Thank you for reporting the issue. However, an issue has been reported previously here which I believe is the same problem https://github.com/woocommerce/woocommerce/issues/25375. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-10-19 10:05] #28002 closed

[2020-10-19 10:21] Konamiman commented on #27984
Hey @helgatheviking,

I've tried the script in my Windows machine using WSL and it worked as expected, only that I got some _sed: can't read .bak: No such file or directory_ errors that can be safely ignored. I'm using WSL 2, though; are you on WSL 1 by chance?

Anyway, I would like to point out that this script is a temporary solution to add a unique prefix to the `league/container` package in or

[2020-10-19 10:34] lunarbody commented on #27969
That is exactly what my lash email was

    	Get Outlook for iOS

On Mon, Oct 19, 2020 at 6:03 AM -0400, "Tam Mullen" <notifications@github.com> wrote:

Hi @lunarbody

Everything is disable but woocommerce. The theme is storefront.

Can you share a screenshot or more details of the issue/error you see with Storefront and only WooCommerce active? This will help us evaluate what is happening.

—
You

[2020-10-19 10:55] tammullen commented on #27969
Hi @lunarbody

We are using GitHub to discuss, track and evaluate this issue at
[https://github.com/woocommerce/woocommerce/issues/27969](https://github.com/woocommerce/woocommerce/issues/27969). There is no screenshot or details of the issue/error you see with Storefront and only WooCommerce active on that issue.
Can you please let us know what you are seeing?

[2020-10-19 10:58] lunarbody commented on #27969
You can see it at www.lunarbody.com/shop 

    	Get Outlook for iOS

On Mon, Oct 19, 2020 at 6:56 AM -0400, "Tam Mullen" <notifications@github.com> wrote:

Hi @lunarbody

That is exactly what my lash email was

We are using GitHub to discuss, track and evaluate this issue at

#27969. There is no screenshot or details of the issue/error you see with Storefront and only WooCommerce active on that is

[2020-10-19 12:59] Zedys opened #28003 "Out of Stock Visibility only shows 'Out of Stock' on Variables when de-selected"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When 'Out of Stock Visibility' is enabled in the WooCommerce settings, product variation swatches are still selectable with no display show

[2020-10-19 13:46] peterfabian opened #28004 "Replace intval etc with type casting to follow WP core"
WP core (and JP) is switching away from using `intval($value)` and similar functions and replacing them with type casting via `(int) $value`.

https://core.trac.wordpress.org/ticket/42918

We should probably do the same at some point in the future.

[2020-10-19 14:07] tammullen commented on #27969
Thanks @lunarbody

I've attached screenshot of that URL taken at 12:53 UTC today
![Screenshot 2020-10-19 at 13 53 23](https://user-images.githubusercontent.com/24649833/96461232-0a87fa80-121c-11eb-8ae7-847e3e5efeeb.png)

This looks like the Brizy plugin and theme that you use has inserted this code into the page and it isn't removed when deactivating the plugin and switching away from that theme.

[2020-10-19 14:07] #27969 closed

[2020-10-19 14:20] lunarbody commented on #27969
When I disable brizy, the entire website looks like that coding. Right now, it’s ONLY the shop page. I cannot afford to lose my entire site like that. Woocommerce is the only problem page

    	Get Outlook for iOS

On Mon, Oct 19, 2020 at 10:08 AM -0400, "Tam Mullen" <notifications@github.com> wrote:

Closed #27969.

—
You are receiving this because you were mentioned.
Reply to this email directly

[2020-10-19 17:45] atoupet-toki commented on #13750
Any fix for this ?!

[2020-10-19 17:46] roykho commented on #27504
Leaving a note here that this seems to happen only if you did a refund first and then going back to delete the item. It doesn't happen if you just delete the item from the get-go.

[2020-10-19 18:08] slightlyfaulty opened #28007 "Minified jQuery TipTip plugin file is buggy"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

The minified jQuery TipTip file (`jquery.tipTip.min.js`) results in buggy interactivity with all tooltips used by WooCommerce and WooComme

[2020-10-19 18:52] kisabelle opened #28008 "Adjusting the shipping cost via woocommerce_shipping_rate_cost is making taxes inaccurate"
**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When adjusting the shipping cost using the `woocommerce_shipping_rate_cost` filter, and shipping costs are taxed, the tax calculation b

[2020-10-19 19:12] royking01 opened #28009 "setting page not displaying anything"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-10-19 20:14] roykho commented on #27504
After further research this issue seems to be a regression from this commit here https://github.com/woocommerce/woocommerce/commit/d2d0bf84667eb8f12c384474e84b294d2ff33a55

[2020-10-19 21:01] Rakeshbakshi commented on #14879
$wpdb->prepare(
    "SELECT DISTINCT p1.post_id FROM {$wpdb->postmeta} p1 WHERE p1.meta_value LIKE %s AND p1.meta_key IN ('" . implode( "','", array_map( 'esc_sql', $search_fields ) ) . "')", // @codingStandardsIgnoreLine
                        s . $wpdb->esc_like( wc_clean( $term ) ) . '%'
                    )
                ),

if I replace LIKE TO = then it's fetching the exact order ID for

[2020-10-19 22:51] roykho commented on #27504
Update: I've found additional issues with stock adjustments. I am seeing that if you click on "Update" after doing a refund without changing stock, it will still update the stock back to prior to purchase. I don't think this is the expected behavior.

Steps to reproduce this:
* Purchase a product with product level stock.
* Go to admin order and do a refund but choose not to "Restock refunded item

[2020-10-20 08:20] bootmintheme commented on #7871
This still appears to be an issue.

In /cart/, I have "Local pickup" enabled and "2 shipping options" from a provider (Aramex).

When I select a shipping option of the provider which has a monetary value, and realise I've entered the wrong address moments before, then proceed to "Calculate shipping" again and change the address, I click on "update totals", it correctly fetches the totals supplied

[2020-10-20 13:01] rrennick opened #28012 "E2E custom container name"
Some teams and developers use docker for their local development. The current implementation of `e2e-environment` assign container names using the repository name. This name might already be used in the local environment. This can be mitigated by allowing the container names to be customized in some way.

[2020-10-20 13:19] BeniAngel commented on #27756
This thread is about manipulating the URL however we have found the same issue if you load the product url as per normal (permalinks) without manipulating the url. Whilst the page is loading you quickly click add to cart before it has completed loading. The page load maybe slow because of content or images but it is happening a few times on our site.

It seems that the "front end javascript" valid

[2020-10-20 14:13] juliaamosova commented on #28009
Hi @royking01,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-10-20 15:32] billrobbins opened #28019 "If the value of woocommerce_onboarding_profile is missing, the wizard can't be completed or skipped and the analytics won't load"
**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If a site is missing a value for the `woocommerce_onboarding_profile` option, then it's not possible to complete the wizard or skip it.  Wheneve

[2020-10-20 16:33] choijun commented on #27419
Hello @agl99

This is because you are using the custom attributes, If you want the attribute display on the widget, you need to create global attribute on Products -> Attributes . You can read more [here](https://docs.woocommerce.com/document/managing-product-taxonomies/#section-6)

Hope this help you

[2020-10-20 16:58] kampiamodikuesto commented on #27775
same problem in woocommerce/includes/admin/meta-boxes/views/html-product-data-variations.php for element with id "current-page-selector-1". This is present in two html element.

[2020-10-20 18:06] SevenAcreFarm commented on #27442
This issue is still not resolved, and has persisted for over two months at this point. Reading @marke123 's comments above it seems clear what needs to be tested. The plugin is "WooCommerce Min Max Totals and Quantities" Version 2.1.12 | By IgniteWoo.

From my understanding the issue resides on the WooCommerce side and is not something that can be resolved from the plugin vendor side.

When adjust

[2020-10-20 18:08] SevenAcreFarm opened #28020 "meta-boxes-product-variation.js file get_variations_fields function issue"
**REOPENING ISSUE** (#27442)

This issue is still not resolved, and has persisted for over two months at this point. Reading @marke123 's comments above it seems clear what needs to be tested. The plugin is "[WooCommerce Min Max Totals and Quantities](https://ignitewoo.com/woocommerce-extensions-plugins-themes/woocommerce-minimum-maximum-totals-quantities/)" Version 2.1.12 | By IgniteWoo.

From my

[2020-10-20 18:14] FIJOR commented on #24972
My emails look ugly in dark mode, and my official colors dont display correctly or at all

[2020-10-20 18:40] marke123 commented on #27442
We've updated code on our end to avoid this issue. You can close the ticket.

[2020-10-20 19:01] jessLundie opened #28024 "Checkout - "Please Log In" link has no destination with some settings combinations"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

WooCommerce > Settings > Accounts & Privacy:

 _Allow customers to place orders without an account_ and _Allow customers to log into an ex

[2020-10-20 19:08] juliaamosova opened #28025 "[WC 4.7 Beta1] After setting up Shipping Zone methods it is not possible to navigate away without seeing the Chrome message letting the user know that changes won't be saved"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

After setting up Shipping Zone methods it is not possible to navigate away without seeing the Chrome message letting the user know that the cha

[2020-10-20 19:18] juliaamosova opened #28026 "[WC 4.7 Beta1] System Status Report font is changing to non-default if the notices/warnings are being displayed directly on the site"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

It looks like https://github.com/woocommerce/woocommerce/issues/27161 is back: System Status Report font is changing to non-default if the

[2020-10-20 19:52] juliaamosova commented on #28026
Closing this as a `won't fix` after chatting with @claudiosanches since we don’t have control over HTML when errors are being displayed on the site by default (they shouldn't).

[2020-10-20 19:52] #28026 closed

[2020-10-20 21:55] claudiosanches commented on #28025
Just commenting to say that I can reproduce this issue.

[2020-10-20 21:59] claudiosanches commented on #27674
@peterfabian Currently it's missing only to update our Unit Tests, but this isn't something that depends on a release and can be merged at any time. I'm going to remove the 4.7 milestone, since 4.7 already includes all other changes.

@Konamiman Thank you very much for all your work!

[2020-10-20 22:28] MC-Rider commented on #27419
The missing attribute problem (in my case the brand attribute) seems to have returned in v4.6.0... I reverted to 4.5.2 and all is well again. Anyone else having this issue?

[2020-10-20 22:50] tripflex commented on #25895
I had this issue when trying to utilize HyperDB and doing digging I found these options are checked before the tables are attempted to be created:

`schema-ActionScheduler_StoreSchema`
`schema-Action_Scheduler\Custom_Tables\DB_Store_Table_Maker`
`schema-Action_Scheduler\Custom_Tables\DB_Logger_Table_Maker`

After removing those options and disabling HyperDB I was able to get the site functional ag

[2020-10-20 23:15] #28007 closed

[2020-10-21 07:19] malsubrata opened #28028 "There should be a filter to change max discount amount in get_fees_from_cart function."
**Is your feature request related to a problem? Please describe.**
No this is not a problem but while applying a negative fee in the cart the tax amount is not taking effect.

**Describe the solution you'd like**
There should be a filter to change the max discount amount in the get_fees_from_cart function so that we can add the tax amount to the max_discount variable.

**Describe alternatives you'

[2020-10-21 07:23] WebMedic-X opened #28029 "wc_get_order vs wc_get_orders -- wrong data"
Hi,

Order in question has the following total: 23.00

When using wc_get_order, example:

$order = wc_get_order(ORDER_ID);
echo $order->get_total();

We get 17.50

However when querying using:

$orders = wc_get_orders($args);

foreach($orders as $order) {
    echo $order->get_total();
}

We get the correct amount of 23.00

What could be causing this? any idea?

Thank you

[2020-10-21 08:36] anant1811 opened #28030 "Shipping details do not show in "Order Preview" for manually created orders"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When you create an order manually (from wp-admin), and then check the order's preview on all orders page, you'd see that the preview doesn

[2020-10-21 09:03] usaryreusar opened #28031 "spain province name changed in latest upgrade but is wrong!"
I don't know if it is a bug but it is something that need fixing: the spanish province is not BISCAY, it should be VISCAYA or BIZKAIA. please fix it , as clients do not find it.

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be c

[2020-10-21 09:27] BackuPs opened #28032 "Woocommerce 4.70 changes made to the templates and i have a "bug" and a question"
Hi

There are changes made to the template in 4.70 B1 and i must say i am partly happy with these

1) The content-product_cat.php is renamed to content-product-cat.php   Since we have been overriding this template part for years now I  wonder how long is woocommerce gonna call the old content-product_cat.php file after 4.70?

in order to be compatible with earlier versions of woocommerce I now hav

[2020-10-21 09:36] BackuPs commented on #28032
Another thing to add to this..... if users override the product-image.php template they also have to maintain compatible with users wo do not yet have updated to the latest woocommerce build otherwise they get the error that the variable $post_thumbnail_id does not exist. So themes can't remove that line of code

$post_thumbnail_id = $product->get_image_id();

 which is in the template until 4.70

[2020-10-21 10:16] jaydjohno opened #28033 "Gradle Error While Compiling"
Hey All

I installed Android Studio and cloned the Github project into my documents, i then opened it in Android Studio, and installed all my pre-requisites and everything seems fine.

Now when it tries to build the project i get this error message.

A problem occurred evaluating root project 'woocommerce-android'.

     Cannot resolve which method to invoke for [null, class java.lang.String] due

[2020-10-21 10:49] ishmalsw opened #28034 "Revenue in Sales Report from API Response not same as Revenue in Sales Report on WooCommerce"
So, I have a backend system made on laravel that is synced with WooCommerce API for the store itself. Laravel Application accesses the sales reports from the endpoint "reports/sales" on the REST API. The revenue there in the response is not accurate, I should say not even close to the revenue that is shown on WooCommerce Dashboard.

The plugin that is used on WooCommerce is PriceBasedCountry plugi

[2020-10-21 10:53] #27956 closed

[2020-10-21 12:29] rrennick commented on #28034
@ishmalsw The api that corresponds to the dashboard analytics is `/wp-json/wc-analytics/`. The reports in `wp-json/wc/` are the old reports under WooCommerce -> Reports.

I'll close this issue. If you do find inconsistencies between the dashboard reports and the analytics endpoint, please let us know and we can re-open the issue.

[2020-10-21 12:29] #28034 closed

[2020-10-21 12:54] ishmalsw commented on #28034
Hello Ron. I appreciate the quick response. That clears a lot of things up.
Could you be kind enough to refer me a link to Wordpress Analytics
documentation? I can't seem to find an analytics endpoint description on
https://developer.wordpress.org/rest-api/

Thanks

On Wed, Oct 21, 2020 at 5:29 PM Ron Rennick <notifications@github.com>
wrote:

[2020-10-21 14:04] tammullen commented on #28031
Hi @usaryreusar

We adopted UNICODE CLDR (http://cldr.unicode.org/translation/displaynames/country-names) standard for adding countries and regions in WooCommerce.
In CLDR it is called Biscay
https://github.com/unicode-org/cldr/blob/4986bf226bba045869e2388f22c02bebf3231cd1/common/subdivisions/en.xml#L1315

I am closing this issue for now. If I missed something, please leave a comment and we will t

[2020-10-21 14:04] #28031 closed

[2020-10-21 14:12] weaselmetal opened #28040 "REST API: Variant attribute inconsistency"
Global and custom product attributes result in different data on the REST API.
On the `line_items.meta data` of an order, returned from the API:

For a global attribute, `meta_data.key` is the lowercased attribute name prefixed with "pa_".
The `meta_data.value` of the chosen variant will be the slug of the attribute, which can differ from the original name.

For a custom attribute, the `meta_data.

[2020-10-21 14:32] rrennick commented on #25139
The setup wizard has been replaced with onboarding.

[2020-10-21 14:32] #25139 closed

[2020-10-21 14:44] JVDL-1 commented on #27795
Hey Allen,

Did you find a solution for this problem yet? I'm having the same issue with another plugin which also uses the after_password_reset. Did inserting the hook directly in the WooCommerce file work for you?

Thank you.

[2020-10-21 16:03] EdithAllison opened #28042 ""_order_count" and _money_spent" deleted on order creation"
not sure if this is a bug or a design decision which I don't understand.

We're looking to write reports based on customer data and have found the following user meta data:
"paying_customer" (true / false)
"_order_count" (value)
"_money_spent" (value)

But "_order_count" and "_money_spent" are deleted when an order is created (tested with an order created in admin).

wc_delete_shop_order_transient

[2020-10-21 16:09] tammullen commented on #26617
Adding this is still occuring for manually created orders in 4.7 but not for orders placed on front end.

The Shipping Details are not appearing for manual orders on

- Confirmation after Shopper's Payment Page
- Order Details in Shopper's My Account
- Shopper's Order Email
- Merchant's New Order Email
- Order Preview for Merchant in All Orders Screen

![Screenshot 2020-10-21 at 16 48 17](https://

[2020-10-21 16:16] tammullen commented on #28030
Hi @anant1811

Thank you for reporting the issue, we really appreciate your help. I can reproduce it on my end.
This issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/26617 so I added some feedback there as well. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-10-21 16:16] #28030 closed

[2020-10-21 16:28] rrennick commented on #28034
@ishmalsw The 'wc-analytics` route is maintained in https://github.com/woocommerce/woocommerce-admin.

[2020-10-21 17:02] mrgrt commented on #27791
Also experiencing this issue.

[2020-10-21 17:13] gglobalstep opened #28043 "[GlobalStep - WooCommerce 4.7 Beta 1] "Free shipping zone" fails to auto-configured after completing onboarding setup wizard."
## Bug Description:
"Free shipping zone" fails to auto-configured after completing onboarding setup wizard.

## Environment:
Windows 10, Mac Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all req

[2020-10-21 17:17] TheThemeBuilders commented on #28032
May I say we are encountering the same issues as outlined by "Backups".  The logic behind these changes to the woo templates, which appear to us to be not well thought through and very arbitrary, is not evident.    We cannot really add to what he has said and his code suggestions appear to be elegant solutions to a problem you created.

While outside of the purview of this pull given the recent on

[2020-10-21 17:19] gglobalstep opened #28044 "[GlobalStep - WooCommerce 4.7 Beta 1][Android] "Mobile app banner" overlaps with "w" button on "Orders" page."
## Bug Description:
"Mobile app banner" overlaps with "w" button on "Orders" page.

## Environment:
Samsung Galaxy A50 (v10)
Browser: Chrome Version 86.0.4240.75

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Go to WooCommerce beta Tester.
1. Switch the WooCommerce version to 4.7 beta 1.
1. Now open the site on any Android dev

[2020-10-21 18:38] gijdoul opened #28047 "Bulk variations and different prices for each variations"
Hello,
I'm new with Woocommerce and try to upload about 1000 products with all same variations/prices different for each variation but can't figure how to do it with csv in one line.
ex my variation size,"S,M,L" price,"10,20,30" I try a feature for add in bulk the variations it work but prices are missing so need to edit one by one it's not possible thanks for your replys

[2020-10-21 18:48] ObliviousHarmony commented on #27872
It already is @helgatheviking! Once I iron out a few bugs and finish #27871 I'll be writing documentation about how to do it. I didn't want to actively encourage it until we reached a more stable point with the API of the package, but I think we're just about there.

[2020-10-21 19:32] rrennick commented on #28043
@gglobalstep Thanks for reporting. This is intentional. Shipping setup was moved to the task list on the WooCommerce Home Screen. cc @juliaamosova

[2020-10-21 19:32] #28043 closed

[2020-10-21 19:58] gateway commented on #27741
Im getting odd issues with this as well..

I have 2 products , one at $700 and one at $600, with a 50% off single ITEM enabled, but somehow the discount is $350.. Not sure how this is calculated.. ? :/

[2020-10-21 20:01] rrennick commented on #28032
The file `/theme-name/content-product_cat.php` is the standard WordPress template naming convention so that will continue to be supported indefinitely. There is no timeline for removing support for that file name in the `woocommerce` folder.

You can update `woocommerce/content-product_cat.php` to be `include './content-product-cat.php';` effectively eliminating the need to maintain two versions.

[2020-10-21 21:22] pjv opened #28049 "Sorting link on Product Admin List Table requires edit_others_pages capability"
A product manager on a site I manage was unable to see the `sorting` link on the All Products admin list table. I had to search the source to figure out what permission was required for a user to see that link and when I found it:

https://github.com/woocommerce/woocommerce/blob/3f61afe5337c4fbb94a6b14b919cda3795ea4e05/includes/admin/list-tables/class-wc-admin-list-table-products.php#L419-L420

I

[2020-10-21 21:44] beacsantana opened #28050 "Botão de comprar não aparece em baixo do produto"
O botão de comprar não aparece em baixo do produto, já pesquisei em todos os lugares e não achei
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ]

[2020-10-21 23:50] khouya82 commented on #27937
Hi!

We are a few to encounter a similar problem but not exactly the same (see here: [https://wordpress.org/support/topic/jquery-migrate-helper-warnings-woocommerce/#post-13560779])

jQuery Migrate Helper show us this warnings:
https://www.xxx/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js: jQuery.parseJSON requires a valid JSON string

![Capture d’écran 2020-10-22 à 01

[2020-10-22 04:01] lordspace opened #28051 "White screen on edit page/post even with latest WC 4.6.1"
Hi,

yesterday I posted my debug info on this ticket (see one of the last comments) but it turns out it's a WC bug.
https://github.com/WordPress/gutenberg/issues/11412

Here's a video:
https://www.loom.com/share/0d68465f0c2c4ffaa174d712f568fd0c

**Describe the bug**
White screen on edit page/post page when block editor is enabled.
When I enable the classic editor with this the page loads fine.

`a

[2020-10-22 04:04] ldr2273 commented on #27791
This has come up again in 3407639-zen.

Just notating that I was able to successfully reproduce this on a default install:

Here's a manual order I created with the order status moving from `On-hold` to `Pending` to `Completed`:

![Order](https://d.pr/i/bai4I2+)
Link: https://d.pr/i/bai4I2

And the log shows that the New Order email was sent twice:

![WP Mail logging](https://d.pr/i/ZopNpl+)
Link:

[2020-10-22 07:05] BackuPs commented on #28032
I am not 100% sure what you mean by this... But whatever i try this will not work as the variable $category is not transfered calling the /content-product-cat.php from /content-product_cat.php and thus producing a error that the variable does not exist !

Not even if i try to call it like this

wc_get_template( 'content-product-cat.php', $category ); from within conten-product_cat.php

Notice: Und

[2020-10-22 07:35] BackuPs opened #28053 "Image Post Thumbnail issues in version 4.70 replacing from product gallery image when no thumbnail has been set"
In version 4.70 b1 the single product post image when not set is replaced with the first image from  the product gallery image and thus not showing the default thumbnail  poster image.

I have two problems with this

1)  If a user does not set a post thumbnail but only gallery images the thumbnail is replaced by the first image in the gallery. A nice feature but now that same feature does not appl

[2020-10-22 07:36] BackuPs commented on #28032
As per your request I did here.

https://github.com/woocommerce/woocommerce/issues/28053

[2020-10-22 07:39] Konamiman commented on #28050
_Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back._

Hi there. It looks like you are requesting support rather than notifying a bug. Please do one of the following:

- Check if our [Self-Service guide](https://docs.woocommerce.com/document/woocommerc

[2020-10-22 07:39] #28050 closed

[2020-10-22 07:51] Konamiman commented on #28047
Hi there,

Please check [our guide on importing product variations](https://docs.woocommerce.com/document/product-csv-import-suite-importing-product-variations/), which includes some example CSV files that may be helpful for you.

That said, please note that GitHub should be treated as a place to report confirmed bugs only, and not for support request. If you need further help please try the follo

[2020-10-22 07:51] #28047 closed

[2020-10-22 08:16] corsonr opened #28054 "E2E Terms Consistency"
**Is your feature request related to a problem? Please describe.**

Because of https://github.com/woocommerce/woocommerce/issues/27980 different strings can have the exact same meaning, which multiplies translators tasks by 2, for instance https://translate.wordpress.org/projects/wp-plugins/woocommerce/dev/fr/default/?filters%5Bterm%5D=account+during+checkout

https://github.com/woocommerce/woocom

[2020-10-22 09:48] Konamiman commented on #28024
Hi @jessLundie, thank you for your report. I have been able to reproduce the bug.

Indeed, either the "Please log in" text should not be a link, or (I think that's perhaps more logical) "Allow customers to create an account during checkout" should also imply that existing users can login.

[2020-10-22 09:56] glagonikas commented on #27611
Hi @juliaamosova was wondering if you had time to review this bug and confirm? We need to know if it's a bug or "feature" before we proceed with a new integration we've planned.

[2020-10-22 10:19] Konamiman commented on #28029
Hi @WebMedic-X,

Thank you for your bug report. Unfortunately I haven't been able to reproduce it on my side.

To start with, could you please try the steps in [our self-service guide](https://docs.woocommerce.com/document/woocommerce-self-service-guide/), especially the part about disabling other extensions?

If that didn't help, please provide us with more details about your environment, includi

[2020-10-22 10:30] rrennick commented on #28032
If you use `include` it does. `include` is the equivalent of insert the contents of this file here. Try this

[code]

[2020-10-22 10:47] BackuPs commented on #28032
You are right.  Thanks for that solution !

[2020-10-22 11:02] Konamiman commented on #28008
Hi @kisabelle, thanks for your report. I've been able to reproduce the bug as follows:

1. Create a product with price 23.85
2. Create a taxable shipping flat rate of 25
3. Create a tax of 5%, applied to shipping
4. Use the filter to change the shipping rate to 10

Expected total: (23.85+10)*1.05 = 35,54
Actual total: 36,29

Mi guessing is that the calculation is somehow mixing the filtered and th

[2020-10-22 11:06] Konamiman commented on #27958
Hi @frrick1908,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues la

[2020-10-22 11:12] arunsathiya opened #28056 "Android: Google Chrome: Deleting product gallery images doesn't consistently work"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Deleting product gallery images using a Google Chrome browser on Android device does not work consistently. It requires multiple clicks on

[2020-10-22 12:06] tammullen commented on #28051
Hi @lordspace

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​
![Screenshot_2020-10-22_at_12_47_39](https://user-images.githubusercontent.com/24649833/96868698-5332f400-1466-11eb-883e-898f3de7f78f.png)
![Screenshot_2020-10-22_at_12_56_54](https://user-images.githubusercontent.com/24649833/96868705-54fcb7

[2020-10-22 12:09] peterfabian commented on #28056
Thanks for reporting, I can confirm this happens on Chrome on Android.

[2020-10-22 12:11] rrennick commented on #23759
This was addressed in the above commit.

[2020-10-22 12:11] #23759 closed

[2020-10-22 12:12] yotamdahan1 opened #28057 "Cannot access "Add product gallery images" option"
I'm building my own theme, and it's working fine untill this point.
I have used woocommerce to display products on my screen, but now I'm trying to create single-product.php page and have gallery inside (of the same product gallery).

So I'm trying to access "Add product gallery images" option in the bottom of new product page (in woocommerce product plugin page)  but unfortunately all it does is

[2020-10-22 12:15] peterfabian commented on #28053
cc @claudiosanches

[2020-10-22 12:33] rrennick commented on #27120
This has been fixed.

[2020-10-22 12:33] #27120 closed

[2020-10-22 12:56] #27993 closed

[2020-10-22 12:56] peterfabian commented on #28057
Hi @yotamdahan1 ,

Apologies, we don't really have the bandwidth to respond to developer questions here in GitHub where we primarily try to fix bugs. Please try asking in Stack Overflow and/or check out how e.g. [Storefront](https://github.com/woocommerce/storefront) builds the single product page with a gallery. Thanks for understanding.

[2020-10-22 12:56] #28057 closed

[2020-10-22 13:00] tammullen commented on #28044
Hi @gglobalstep

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end in 4.6.1 as well

![Screenshot_20201022_134107_com_android_chrome](https://user-images.githubusercontent.com/24649833/96875145-ce98a380-146e-11eb-8096-b3907afc4158.png)

Doesn't overlap on Home

![Screenshot_20201022_134025_com_android_chrome](https://user-images.githubus

[2020-10-22 13:09] tammullen commented on #25494
Hi @javadev

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-22 13:09] #25494 closed

[2020-10-22 13:10] yotamdahan1 commented on #28057
It's not an developer issue though..
The problem here is that I can't add manually through wordpress platform images to gallery.

[2020-10-22 13:16] tammullen commented on #27794
Hi @MachineITSvcs

Without these details which includes important information like the versions of your WordPress environment, we can’t fully evaluate this issue. You can find more details on the content of the status report here https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/

[2020-10-22 13:17] tammullen commented on #27859
Hi @KLforIW

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-22 13:17] #27859 closed

[2020-10-22 13:18] tammullen commented on #27926
Hi @DroidRomTwisters
As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-22 13:18] #27926 closed

[2020-10-22 13:40] rodrigoprimo commented on #27937
Thanks for the report. Closing as #28058 should remove those notices.

[2020-10-22 13:52] rodrigoprimo commented on #27946
Thanks for raising this, @lukecav.

We currently don't have a way to automatically update this page and I must say that we have been doing a poor job at keeping it up to date. I just added the Action Scheduler tables.

Before I proceed and add the WooCommerce Admin tables, I'm curious to hear from you what is the value that you get from this page and how do you use it? If, instead of having the li

[2020-10-22 13:52] rrennick commented on #26763
As explained in https://github.com/woocommerce/woocommerce/pull/26767#issuecomment-663645291 this feature isn't viable.

[2020-10-22 13:52] #26763 closed

[2020-10-22 13:57] rodrigoprimo commented on #26975
Hi @fesarlis,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2020-10-22 14:02] vedanshujain opened #28059 "Improve performance of function `is_on_sale` for variable products"
**Is your feature request related to a problem? Please describe.**
Function `is_on_sale` is a very commonly used function in different templates to change the styling of products depending upon whether it's on sale. The problem is, [for variable products this function calls](https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-product-variable.php#L507) `get_variation_prices` w

[2020-10-22 14:05] tammullen commented on #27957
Thanks @rAthusFr

Yes as you discovered this is the expected behaviour https://github.com/woocommerce/woocommerce/wiki/How-Taxes-Work-in-WooCommerce#prices-including-tax%E2%80%94experimental-behavior

[2020-10-22 14:05] #27957 closed

[2020-10-22 14:15] Konamiman commented on #28019
Hi @billrobbins,

Thanks for your report. Unfortunately I haven't been able to reproduce the issue, that's what I did:

1. `wp option set woocommerce_onboarding_profile ''`
2. Go to woocommerce home, the wizard appears, I complete it.
3. `wp option get woocommerce_onboarding_profile`, I get an array with some of the preferences specified during the wizard.
4. Analytics page shows fine.

Is there a

[2020-10-22 14:20] tammullen commented on #27536
Hi @Niels1307, sorry for the delay in replying.

Please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as Storefront. Then test again.

If the issue is resolved with the default theme and all plugins deactivated, it means that one

[2020-10-22 14:25] billrobbins commented on #28019
Hey @Konamiman,

It looks like the 4.6.1 update fixed this so I'm going to go on and close this issue.  Unfortunately, I have no idea how this user's site ended up with a missing value for `woocommerce_onboarding_profile`.  The store has been up and running for about a year so finding out what steps they took to create the situation would be tough to dig up.

Thanks for checking and the tip about

[2020-10-22 14:25] #28019 closed

[2020-10-22 14:29] tammullen commented on #28049
Hi @pjv

The number of details you provided is not enough for us to work with and identify what could be going on.

Please provide us with steps to reproduce the issue on our end. Can you clarify where in WooCommerce you are referring to ideally with screenshots - step by step instructions for us to recreate your use case.

Are you referring to the using the `Shop Manager` user role (https://docs.

[2020-10-22 14:30] tammullen commented on #28028
Hi @malsubrata

Thank you for taking the time to share this idea, we really appreciate your help.
​
While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issu

[2020-10-22 14:31] #28028 closed

[2020-10-22 14:35] #27948 closed

[2020-10-22 14:37] tammullen commented on #27442
Thanks @marke123 for your update.

I am reopening due to the extra information from @SevenAcreFarm

[2020-10-22 14:38] tammullen commented on #28020
Hi @SevenAcreFarm

Thank you for reporting the issue. However, as you noted this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27442. We are closing your issue in favor of the previously submitted.

Can you Please continue sharing your feedback there if needed.

[2020-10-22 14:38] #28020 closed

[2020-10-22 14:42] SevenAcreFarm commented on #27442
I can attest that the vendor was able to resolve this from their end, and that the updated code works as expected.

I realize this doesn't solve the issue ultimately plaguing WooCommerce, especially if a prior bug that's been reintroduced is the culprit, but for now our specific issues seem to be addressed. We will continue to update this ticket if/as we discover further issues related to this.

T

[2020-10-22 14:42] Konamiman commented on #27948
Hi @johndcoy ,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issu

[2020-10-22 14:50] pjv commented on #28049
Hi @tammullen,

I'm not reporting a problem on a site or asking for support.

I am just reporting what looks to me like a strange permission / capability in the Woo source in order to show the link that allows a user to sort products in the "All Products" admin list table page.

Users whose role does not grant the `edit_others_pages` capability cannot see the "sorting" link and that seems like a s

[2020-10-22 14:56] lukecav commented on #27946
@rodrigoprimo

The wiki page is very useful for reference and it should be kept updated rather than having to look in the correct PHP file to find the database table reference each time.

[2020-10-22 14:58] tammullen commented on #28049
Thanks @pjv for the extra information.

I've marked this to get feedback from one of the WooCommerce Core developers.

[2020-10-22 15:20] rodrigoprimo commented on #27946
Thanks, @lukecav. If you could provide more details as to how you use it that would be great. I'm closing this issue as I found an older one that reports the same problem (#26953).

[2020-10-22 15:20] #27946 closed

[2020-10-22 15:24] samgomezro88 opened #28060 "Woocomerce 4.6.1 change .htaccess cause fall down site"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
This morning in my site the woocommerce plugin made an automatic update to 4.6.1. change the .htaccess file and delete this line from the

[2020-10-22 15:40] rodrigoprimo commented on #26982
Hi @billipo,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only. The type of issue you submitted looks like is a support request and not a WooCommerce core bug. Next time please use our support forums: https://wordpress.org/support/plugin/woocommerce/

Editing an e-mail template means you are altering the PHP

[2020-10-22 15:40] #26982 closed

[2020-10-22 15:45] Getode commented on #26422
add_action ('wp_ajax_add_custom_price', 'add_custom_price', 10, 1);
add_action ('wp_ajax_nopriv_add_custom_price', 'add_custom_price', 10, 1);
add_action ('woocommerce_before_calculate_totals', 'add_custom_price', 10, 1);
function add_custom_price( $cart_object ) {
    $custom_price = $_POST['p_m'] > 0 ? $_POST['p_m'] : 0;
    $target_product_id = $_POST['s_o_v'] > 0 ? $_POST['s_o_v'] : 0;
    for

[2020-10-22 15:46] gglobalstep opened #28061 "[GlobalStep - WooCommerce 4.7 Beta 1][Mac] "Close" button on Switch version pop up appears misaligned."
## Bug Description:
"Close" button on Switch version pop up appears misaligned.

## Environment:
High Sierra: 10.14.6 (18G103)
Browser: Chrome (v85.0.4183.83)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Go to WooCommerce beta Tester.
1. Select any version and click on "Switch version" button.
1. Note that Switch version pop

[2020-10-22 15:53] rrennick commented on #28040
@weaselmetal Thanks for the feedback. Since this is a published API we are limited to

- Adding new data
- Fixing errors
- Correcting issues where the response does not match the published specification for the API

Changing this version of the api to return different data in the response breaks the contract with existing API consumers. Here is some of the reasoning behind the current response

Th

[2020-10-22 15:53] #28040 closed

[2020-10-22 15:57] tammullen commented on #28003
Hi @Zedys

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

First of all with a variation with `0` stock and `Hide out of stock items from the catalog` unticked
![Screenshot 2020-10-22 at 16 49 19](https://user-images.githubusercontent.com/24649833/96897487-8e451f80-1486-11eb-9c66-0bcab6800a6f.png)

![Scre

[2020-10-22 15:57] #28003 closed

[2020-10-22 16:17] rrennick commented on #27828
@Naberdz I wasn't able to get a warning logged using the steps you provided. Could you provide the details on creating the order?

[2020-10-22 16:20] rodrigoprimo commented on #26991
Closing per the comment above.

[2020-10-22 16:21] rodrigoprimo commented on #26997
Closing as a duplicate of #26990

[2020-10-22 16:21] #26997 closed

[2020-10-22 16:25] rrennick commented on #27795
This just needs to have the hook added.

[2020-10-22 16:39] rrennick commented on #24568
In theory, the total sales field isn't intended to be edited by the shop owner/staff so this flow isn't covered in the existing logic. However, because the value can be edited from the dashboard, it should be updated in the lookup table when that happens.

The caveat with this is that this value gets replaced when the product is added or removed from any order. A better alternative might be to cha

[2020-10-22 16:43] rodrigoprimo commented on #26990
Hi @ratzrattillo,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Here is an animation of the steps that I took to test this problem on the latest version of WooCommerce:

![Peek 2020-10-22 13-31](https://user-images.githubusercontent.com/77215/96903500-4c0ee480-146c-11eb-85ac-1f00efab0fa3.gif)

You can

[2020-10-22 16:46] rrennick commented on #26126
This is the way the list table search works in WordPress because the search loads a new page. You can see the same behaviour on the Orders or Posts list.

[2020-10-22 16:46] #26126 closed

[2020-10-22 16:51] rrennick commented on #26474
WordPress now does previews in a new tab which loaded fine for me. I'll close this issue as it both seems resolved by the latest WP and is not directly related to WooCommerce.

[2020-10-22 16:51] #26474 closed

[2020-10-22 16:56] lkraav commented on #27828
We are triggering this from WooCommerce Subscriptions cron processing https://sentry.io/share/issue/eac0357642dd4b6daf8ed494a668319f/

[2020-10-22 17:15] rrennick commented on #26543
The test code worked for me.

REST response from POSTing the order

[code]

POST body
[code]

Order in dashboard
<img width="872" alt="Screen Shot 2020-10-22 at 2 09 59 PM" src="https://user-images.githubusercontent.com/343847/96906933-e2dda000-1470-11eb-83e8-c9b8b1d05d6b.png">

@erikdemarco I'll close the issue. If you can provide steps to reproduce we will be happy to reopen.

[2020-10-22 17:17] rrennick commented on #26543
@erikdemarco Sorry, I missed that the order totals don't show the amounts. If I click the recalculate button is does include the shipping.

[2020-10-22 17:20] rrennick commented on #28049
@pjv The correct capability would be `edit_others_products`.

[2020-10-22 17:26] marke123 commented on #27442
I'd say close the ticket, it was probably an edge case that other people won't experience.

[2020-10-22 17:30] erikdemarco commented on #26543
Hi @rrennick this is exactly the problem. Please see your posted screenshot once again.

Product total: $9
"Bacs unique code" fee: $46
Shipping fee: $50

So the order total should be $105. In your screenshot the order total shows wrong value ($59)

[2020-10-22 17:35] rodrigoprimo commented on #27560
Closing as adding a zero tax rate is not an issue.

[2020-10-22 17:35] #27560 closed

[2020-10-22 17:37] rodrigoprimo commented on #27454
Hi @Njengah,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt

[2020-10-22 17:37] #27454 closed

[2020-10-22 17:42] rrennick commented on #26962
@steveclesham Can you tell us which older version where it works? The version where it stopped working? And, template sample code?

[2020-10-22 17:49] pjv commented on #28049
@rrennick that makes sense. I'm going to create a PR and will reference this issue.

[2020-10-22 17:52] rrennick commented on #26986
@viponedream Can you complete the issue template including steps to reproduce the issue. On my development site there are no Google fonts with a default theme.

[2020-10-22 17:54] rrennick commented on #27002
@helgatheviking Thanks for the suggestion. We won't implement this for the same reason I outlined [here](https://github.com/woocommerce/woocommerce/pull/27069#issuecomment-671369813).

[2020-10-22 17:54] #27002 closed

[2020-10-22 17:58] rrennick commented on #26836
This looks like it's the same issue as #26962. I've started the discussion on that issue so will close this one. Please follow along on #26962.

[2020-10-22 17:58] #26836 closed

[2020-10-22 18:02] rrennick commented on #28060
@samgomezro88 This wouldn't have been added by WooCommerce. See https://github.com/woocommerce/woocommerce/search?q=AddHandler&type=code

[2020-10-22 18:02] #28060 closed

[2020-10-22 18:05] rrennick commented on #27499
@jigarbytes Use `wc_get_order( $order_id );` instead of `new WC_Order( $order_id );`. Is this an issue you have encountered with a payment gateway available on https://woocommerce.com ?

[2020-10-22 18:09] rrennick commented on #27064
@woorise `SHOW TABLES` is going to be slow in a database with 50K tables. The WordPress core `dbDelta()` function uses this query to determine whether tables need to be created. It is used by most plugins that create custom tables.

Do you have a significant number of these queries being run against your database?

[2020-10-22 18:34] currentcreative opened #28063 "My Account Page is missing form labels for accessibility"
On Woocommerce My Account page, you get several of these when testing with the WAVE accessibility plugin:

**Missing form label
A form control does not have a corresponding label.**

I found a Woo blogpost from June or July 2019 linking to this page to submit requests / alert you to issues. It's a year later, seems like a form label would have been added to everything by now since people are getti

[2020-10-22 18:53] claudiosanches commented on #28032
Hello @BackuPs. Seems like Ron already addressed most of the issues here, I'll follow up in #28053 so we make a fix before this release, I'm going to close this now issue number one is solved. Thank you for submitting this report and for starting this conversation.

@TheThemeBuilders please no reason for this tone, we are all here open for conversion and to improve, if you find some issue or bug,

[2020-10-22 18:53] #28032 closed

[2020-10-22 18:55] jonathansadowski commented on #26156
Hi @erikkrantzkb,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I set my tax settings to display prices both in the shop and in the cart inclusive of tax. When I select "Yes, I will enter prices inclusive of tax", the price I enter for the product (which is inclusive of tax) is the price that gets disp

[2020-10-22 19:00] rodrigoprimo commented on #27087
I believe that what happened here is that in a recent WooCommerce release the way that this string is defined changed (https://github.com/woocommerce/woocommerce/commit/14a26aca2cde9c81ade02bdc6dd0a34e184a4202#diff-258e00eaddfa27b18ebd350e55997e8f8a52d245f26c4648fe4e7289cb4b7e22L321), so when users updated their store, the string was not translated in several languages. I tested now with Brazilian

[2020-10-22 19:00] #27087 closed

[2020-10-22 19:00] claudiosanches commented on #28053
Hello @BackuPs, thank you very much for submitting this report.

While I'm not sure about the time frame to also apply it in the product listing pages, for sure I'll make it backwards compatible before 4.7 gets released. I'll work on it before we release RC 1 on next Tuesday. Thanks!

[2020-10-22 19:07] tammullen commented on #25806
Closing as a part of this repository’s maintenance as looks like there isn't a bug here.

[2020-10-22 19:07] #25806 closed

[2020-10-22 19:13] tammullen commented on #26189
Closing as can't reproduce, in WC 4.6.1 after installing a purchased on Woo.com product via Woo.com installer, I’m redirected to Plugins in WP admin and no further redirection takes place

[2020-10-22 19:16] tammullen commented on #26708
As a part of this repository’s maintenance, I am closing this issue due to inactivity.

[2020-10-22 19:16] #26708 closed

[2020-10-22 19:25] tammullen commented on #27136
Hi @alonazisser

Sorry for the delay, while our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin WPML. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the defa

[2020-10-22 19:26] claudiosanches commented on #26977
Hello @nicomollet, thank you for submitting this report.

This is intentional because even if any payment gets failed that order is in fact received and stored on WooCommerce, so allowing that customer to pay again after accessing the "Orders" menu in "My Account" page. There's also an email that gets triggered to notify the shop owner about this order, allowing to send again WooCommerce's "Invoic

[2020-10-22 19:26] #26977 closed

[2020-10-22 19:27] claudiosanches commented on #26977
Hello @nicomollet, thank you for submitting this report.

This is intentional because even if any payment gets failed that order is in fact received and stored on WooCommerce, so allowing that customer to pay again after accessing the "Orders" menu in "My Account" page. There's also an email that gets triggered to notify the shop owner about this order, allowing to send again WooCommerce's "Invoic

[2020-10-22 19:29] tammullen commented on #27328
Hi @t3chlady

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help furt

[2020-10-22 19:29] #27328 closed

[2020-10-22 19:43] claudiosanches commented on #26539
@fasttrackhost Thanks for opening this issue and for starting this conversation, I understand your frustration, and I can confirm that this interface in particular that list and allows you to control product taxonomies is really something from WooCommerce, and I agree with you, it isn't great listing all taxonomies with no pagination.

But note that categories are controlled by WordPress and those

[2020-10-22 19:51] juliaamosova commented on #27520
Hi @Thomas-1985,

Apologies for the delayed response here.

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end. I tested using WooCommerce 4.6.1 + Storefront 2.8.0.

Please see the video of me sorting the products using the drag&drop method:

http://g.recordit.co/H4yor2hiMd.gif

Can you please confirm that you are still having an issue? I

[2020-10-22 19:54] juliaamosova commented on #27522
Hi @CreativeArtDesign,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service

[2020-10-22 19:54] #27522 closed

[2020-10-22 20:00] tammullen commented on #27515
Hi @Hbitvof

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​

I assume this means you are referring to Completed Order emails

![Screenshot_2020-10-22_at_20_43_16](https://user-images.githubusercontent.com/24649833/96922921-77172980-14a8-11eb-8714-33e69b19c98d.png)

I tried this out and the emails do not

[2020-10-22 20:02] juliaamosova commented on #27521
Hi @gwegner,

Apologies for the delayed response here.

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested using WooCommerce 4.6.1. Please see gif below:

![](http://g.recordit.co/q7EegUMQdg.gif)

Can you please confirm if you are still experiencing the issue? If so, am I missing any steps in my test

[2020-10-22 20:04] claudiosanches commented on #27065
Hi @oempire,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

But since `_transient_as_comment_count` as part of Action Schedule I'm moving this issue to the correct repository.

Please provide us with more details about the issue which may help us to evaluate it further. Maybe extra s

[2020-10-22 20:09] ratzrattillo commented on #26990
Hello @rodrigoprimo ,

thank you for working on this bug!
Your preview is working perfectly fine, however you just chose the case in which it is working out of the box: Weight and Size attributes.
The issue arises, when your products vary in other attributes. Let me give you a silly example: You want to sell toothpaste on your online shop. You have one with mint flavor and one with lemon flavor. T

[2020-10-22 20:16] juliaamosova commented on #27710
Hi @PriitGit,

Apologies for the delayed response.

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 4.6.1:

http://g.recordit.co/HOC5wxjW2O.gif

We’re going to work on solving this bug as soon as possible. 

[2020-10-22 20:28] juliaamosova commented on #27921
Hi @LichtWesenNL,

Apologies for the delayed response.

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end. I tested using WooCommerce 4.6.1. Please see the video below:

http://g.recordit.co/NoHu7TRONZ.gif

Can you please confirm if this is still an issue for you? If so, am I missing any steps to reproduce the issue?

[2020-10-22 20:31] jonathansadowski commented on #27518
Hi @jjbbrr,
​
Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
I added the "Cash on Delivery" payment method to my test shop. In WooCommerce > Settings > Payments > Cash on Delivery, I updated the title of the payment method to `Cash on <strong>Delivery</strong>`. On the cart page, the title displays appropriately as "Cash on **Deliv

[2020-10-22 20:33] Red-Capes-IT opened #28066 ""Children" misspelled as "Childre""
https://github.com/woocommerce/woocommerce/blob/3f61afe5337c4fbb94a6b14b919cda3795ea4e05/includes/class-wc-product-variable.php#L416

[2020-10-22 20:34] juliaamosova commented on #27923
Hi @damiannep,

Apologies for the delayed response.

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 4.6.1 - it is pretty annoying:

![](http://g.recordit.co/99VBp1NUTF.gif)

We’re going to work on solving this bug as soon as possible. 

[2020-10-22 20:35] juliaamosova commented on #28066
Hi @Red-Capes-IT,

Thank you for taking the time to report this bug, we really appreciate your help. Please feel free to submit a PR to fix it.

[2020-10-22 20:36] DavidLHendrickson commented on #27756
Since the status for needs developer feedback was removed is the fix just waiting for the page to finish loading? Im confused. Any guidance would be great because we are still experience this issue.

[2020-10-22 20:47] juliaamosova commented on #27936
Hi @Pmeet,

Apologies for the delayed response here. Are you still experiencing these issues? If so, can you please confirm which version of WooCommerce are you trying to use?

[2020-10-22 20:48] rodrigoprimo commented on #27529
Thanks for reporting this issue. PR #28067 should fix it.

[2020-10-22 20:48] #27529 closed

[2020-10-22 20:49] juliaamosova commented on #27932
Hi @surajv,

Thank you for reporting the issue. According to the error message, it seems to be caused by the Action Scheduler which is being developed in another repository: https://github.com/woocommerce/action-scheduler.

I am going to move your bug report there so that the right team could take a look further.

[2020-10-22 20:52] rodrigoprimo commented on #27584
Hi @Nick-tech-2691,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Gui

[2020-10-22 20:52] #27584 closed

[2020-10-22 20:54] rodrigoprimo commented on #27549
Hi @BackuPs,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt

[2020-10-22 20:54] #27549 closed

[2020-10-22 20:57] jonathansadowski commented on #27052
Hi @JacksonCleary,

Thanks for taking the time to report this. The `woocommerce_package_rates` filter allows you to filter the rates after they've been calculated, so I believe that this is working as intended. I'm going to close this, but if there's any additional information you'd like to add, or something that I've missed, please feel free to reply.

[2020-10-22 20:57] #27052 closed

[2020-10-22 20:57] juliaamosova commented on #27769
Hi @ajgw,

Apologies for the delayed response here.

Thank you for reporting the issue. We have a fix for it in place via https://github.com/woocommerce/woocommerce/pull/28010 - it is included in WooCommerce 4.7 (currently can be tested using WC 4.7 beta).

We assigned the fix to close https://github.com/woocommerce/woocommerce/issues/28007 (the same issue reported). Because of this, I am going to

[2020-10-22 20:57] #27769 closed

[2020-10-22 20:57] rodrigoprimo commented on #27738
Hi @thebeutel,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](h

[2020-10-22 20:57] #27738 closed

[2020-10-22 20:59] rodrigoprimo commented on #27740
Hi @SWengineer-A,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide

[2020-10-22 20:59] #27740 closed

[2020-10-22 21:02] juliaamosova commented on #27835
Hi @glamcrewboutique,

Apologies for the delayed response.

Thanks for raising the issue. There could be all kinds of things at a place that are causing it. The first thing that we can recommend is for you to reach out to your hosting company and have them update server settings as described in the document below:

https://docs.woocommerce.com/document/problems-with-large-amounts-of-data-not-savin

[2020-10-22 21:02] rodrigoprimo commented on #27776
Hi @iurycardoso,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2020-10-22 21:02] #27776 closed

[2020-10-22 21:07] juliaamosova commented on #27789
Hi @GeoJunkie,

Apologies for the delayed response here.

Thanks for raising this issue - I think this is a great idea. I am going to assign 4.8 milestone here for now but also pinging to see what @pmcpinto and @timmyc think about this?

[2020-10-22 21:09] rodrigoprimo commented on #27933
Hi @PiensosdeCalidad,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further. I'm closing this issue for now, but we will take a second look if you can leave a comment with the information belo

[2020-10-22 21:09] #27933 closed

[2020-10-22 21:10] rodrigoprimo commented on #27931
Hi @mariofrancoz,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide

[2020-10-22 21:10] #27931 closed

[2020-10-22 21:11] jonathansadowski commented on #27564
Hi @chrisbergr,

Thank you for submitting the issue. This doesn't appear to be a bug to me. The code you referenced is used for the calculation of non-compound tax rates. You can read more about compound tax rates [here](https://docs.woocommerce.com/document/setting-up-taxes-in-woocommerce/).

If you still think this is a bug, can you please fill out the details of the bug report template that we

[2020-10-22 21:12] juliaamosova commented on #27826
Hi @Shmacked,

Apologies for the delayed response here.

Thanks for raising the issue. However, it is not clear how to reproduce it or what the issue is. Will you be able to make a video and share it here to showcase the problem? Thanks!

[2020-10-22 21:34] juliaamosova commented on #27657
Hi @helgatheviking,

Apologies for the delayed response here.

Thanks for raising the issue. I can still reproduce it in WooCommerce 4.6.1 which includes https://github.com/woocommerce/woocommerce/pull/27387 fix:

![notice](https://user-images.githubusercontent.com/19143190/96932337-b6d01800-148c-11eb-8993-ae620d439ec2.jpg)

I am giving this a `low` priority for now though as it doesn't break peop

[2020-10-22 21:40] juliaamosova commented on #27894
Hi @jrick1229,

Thank you for reporting the issue. It had also been reported here https://github.com/woocommerce/woocommerce/issues/27923. We are closing your issue in favor of https://github.com/woocommerce/woocommerce/issues/27923. Please continue sharing your feedback there if needed.

I know that your issue was submitted prior to https://github.com/woocommerce/woocommerce/issues/27923 but I ha

[2020-10-22 21:40] #27894 closed

[2020-10-22 21:40] timmyc commented on #27789
I think this is a great idea. On implementation, we might want to sniff out and see if the site has WooCommerce Admin disabled via the `woocommerce_admin_disabled` [filter](https://github.com/woocommerce/woocommerce-admin/blob/main/src/FeaturePlugin.php#L67). If they do have it disabled, then I think we shouldn't show this notification - or perhaps show a different notification and ask them why th

[2020-10-22 21:47] helgatheviking commented on #27657
Understandable. Does it have to be styled via `flex`? That is the source of the problem I think.

[2020-10-22 22:06] hexoquinasa opened #28068 "Not all meta_data items are returned when calling /customers (varying according to type of authorization)"
Wordpress version 5.5.1
Woocommerce version 4.6.0
PHP 7.3

Hello,
I have two tabs in Postman and run the same payload using different auth types,
with the auth in the url like: https://www.mystore.com/wp-json/wc/v2/customers?
page=1&per_page=10&consumer_key=myke&consumer_secret=mysecret

The problem is that it doesn't return all the metadata. It just returns the preset by woocommerce:
[code]

When

[2020-10-22 22:28] claudiosanches commented on #27049
Hi @Archvist,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help furth

[2020-10-22 22:28] #27049 closed

[2020-10-22 22:34] claudiosanches commented on #27078
Hello @ontiuk

Thank you for taking the time to share this idea, we really appreciate your help.

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2020-10-22 22:34] #27078 closed

[2020-10-22 22:49] claudiosanches commented on #27300
Hello @bliteknight, thanks for submitting this report.

It's easy to solve it by authenticating some user, it's already custom code to run it, so it's easy to include a code like:

[code]

The other issues you reported also sounds like due custom code and could be solved, since works just fine on our side.

Please note that while our goal is to address all the issues reported in this repository, G

[2020-10-22 22:49] #27300 closed

[2020-10-22 23:30] claudiosanches commented on #27086
Hello @intelligentdb, thanks for opening this report.

I understand that you are expecting to use `&`, but this is the default behavior on WordPress, that's how all taxonomy terms get saved into `wp_terms` table.

See my test, I created two categories with the same name, one for products and another for posts:

![Screenshot from 2020-10-22 20-26-32](https://user-images.githubusercontent.com/126409

[2020-10-22 23:30] #27086 closed

[2020-10-22 23:36] claudiosanches commented on #27359
Hello @johndcoy, thanks for opening this report.

[2020-10-22 23:49] claudiosanches commented on #27984
Hello @helgatheviking, thanks for reporting this issue, Rodrigo already solved it in https://github.com/woocommerce/woocommerce/pull/28038
I'm closing for now, but please let me know if the issue persist on your end even after this fix. Thanks!

[2020-10-22 23:59] claudiosanches commented on #28063
Hello @currentcreative,

Thanks for starting this report, but it's missing several steps to reproduce this issue. Currently I can't reproduce, since there's already labels on the template by default, and sounds like it's something related to the theme your website/store is using, or I'm missing some since there's no steps to consistency reproduce this issue.

You can check our default login templa

[2020-10-22 23:59] #28063 closed

[2020-10-23 00:03] claudiosanches commented on #27724
Hello @Ndroid042, thanks for opening this report.
Currently there's an cart endpoint getting created for WooCommerce Product Blocks, and also it's possible for your manage cart sessions on your app and then just create regular orders on WooCommerce using the REST API, it should be faster than relying on servers response for all cart interactions.

I'm closing this issue for now, since it's somethi

[2020-10-23 00:03] #27724 closed

[2020-10-23 00:07] helgatheviking commented on #27984
awesome... Thanks Claudio!

[2020-10-23 00:08] claudiosanches commented on #27692
Hello @pradeepgadiya.

For security reasons WooCommerce escape HTML, but note that WordPress also does it by default in case an user without `unfiltered_html` capability tries to create the same product using on the WP administrative interface.
Also those characters get rendered correctly on the front-end or in any HTML view.

I am closing this issue for now. If I missed something, please leave a

[2020-10-23 00:08] #27692 closed

[2020-10-23 01:34] JacksonCleary commented on #27052
@jonathansadowski  Thanks for checking this out.

Is there no way to unset a shipping method before calculation?

My use case was on 200+ items ( stickers ) with weight, height, price, etc. being dynamically calculated at checkout.
Shipping methods like UPS and USPS would calculate box shipping, taking upwards of 5 - 10 minutes, after which the shipping method would be unset.

__

Why would a pack

[2020-10-23 04:21] Shmacked commented on #27826
I think I marked it as resolved, because I don't think it is a problem specific to woocommerce (seeing that I've been having some trouble with my parent theme rendering other woocommerce items such as categories and tags properly), as well as the fact that I just added some simple css that fixed the problem... specifically: `.woocommerce-product-gallery > .flex-viewport {height: auto !important;}`

[2020-10-23 05:33] fesarlis commented on #26975
There is nothing further to provide. The topic is straightforward.

[2020-10-23 05:48] chris-vas commented on #27064
Ιt needs to happen in every page load on admin?

I have one more plugin that creates custom tables but I don't get any warnings for slow queries.

Also for the same reason (because of the amount of tables I suppose) I can't access the Status page of WooCommerce.

[2020-10-23 05:49] woorise commented on #27064
Ιt needs to happen in every page load on admin?

I have one more plugin that creates custom tables but I don't get any warnings for slow queries.

Also for the same reason (because of the amount of tables I suppose) I can't access the Status page of WooCommerce.

[2020-10-23 07:35] LichtWesenNL commented on #27921
Hi Julia,

thanks for reaching out. It’s no longer a problem.. Even with the 4.6.0 it only took 2 days to disapear ‘by itself’.
I don’t know what caused it, but I’m glad it went away!

I now updated to 4.6.1 and am really glad everything works as ‘usual’ .

Thanks again,
infinite love,

Erica

p.s. breng iets moois in de wereld; deel je glimlach - elk moment, elke dag!
p.p.s. I LOVE YOU

Erica Hoo

[2020-10-23 07:49] Mysterikkrimkss opened #28071 "actionscheduler_actions doesn't exist in data base"
Hi, i have probleme with my woocommerce after the update.

Une erreur de type E_ERROR a été causée dans la ligne 44 du fichier /home/moncoachen/www2/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php. Message d’erreur : Uncaught RuntimeException: Erreur lors de l’enregistrement de l’action : Erreur lors de l’enregistrement de l’action : T

[2020-10-23 09:25] pmcpinto commented on #27789
Great idea. I'm just wondering if we should add a notice to the Reports section and/or add an inbox notification. cc @elizaan36 for feedback on this

[2020-10-23 11:00] shakethatweight-simon opened #28072 "isset(WC_Shipping_Rate->meta_data['some-custom-meta']) always returns false"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
`isset()` fails when checking meta_data in Shipping rates due to the `__isset()` method only checking the data property of the object
https

[2020-10-23 11:07] ChiefWigs1982 commented on #27953
I'm having the exact same issue.

I noticed from your details you're using a "sandbox payment plugin" - I'm not using a plugin for that - I've simple set the paypal settings (WooCommerce "PayPaly Standard" settings) to use the PayPal API.

If I mane the product I'm testing with have a price of $0, then there's obviously no purchase involved, and that works correctly - the first browser I click pur

[2020-10-23 11:58] Mysterikkrimkss commented on #25895
Hi, i have probleme with my woocommerce after the update.

Une erreur de type E_ERROR a été causée dans la ligne 44 du fichier /home/moncoachen/www2/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php. Message d’erreur : Uncaught RuntimeException: Erreur lors de l’enregistrement de l’action : Erreur lors de l’enregistrement de l’action : T

[2020-10-23 12:52] peterfabian commented on #28072
Thanks for the bug report, @shakethatweight-simon !

I agree there is an inconsistency, but I'm not sure if the intention behind the code was to make the `meta_data` available in this way via magic methods. Otherwise, there would probably be a method called `set_meta_data` that would allow setting the meta_data, similarly to how the `get_meta_data` allows getting it.

I think in this case, it migh

[2020-10-23 13:00] shakethatweight-simon commented on #28072
Thanks for the detailed response @peterfabian, I can understand your thoughts on this. Could we at least update the `__isset` method to use `_doing_it_wrong` when `$key == 'meta_data'` ? No problems with any backwards compatibility issue, and any developer working with this in future would at least notice the warning when trying to use it the wrong way?

[2020-10-23 13:02] shakethatweight-simon commented on #28072
No, I noticed it when I was updating a custom shipping plugin and couldn't work out why isset and empty where giving me unexpected results.

[2020-10-23 13:06] peterfabian commented on #28072
That seems like a good solution, thanks. Would you like to open a PR since you reported it and came up with it? If not, we can do it no problem.

[2020-10-23 13:11] shakethatweight-simon commented on #28072
Just noticed there is a `wc_doing_it_wrong` I'll use that one instead of the Wordpress equivalent.

[2020-10-23 13:22] peterfabian commented on #28068
Sorry, I wasn't able to reproduce this one. As you can see from the screenshot, even third party `meta_data` is present (like the one from mailchimp)

<img width="1288" alt="Screenshot 2020-10-23 at 15 20 17" src="https://user-images.githubusercontent.com/2207451/97008578-4b954d00-1543-11eb-95b3-c56da07d341a.png">

Have you tried to check this with no other plugins only WC core active? Thx!

[2020-10-23 13:25] shakethatweight-simon commented on #28072
@peterfabian or not... just noticed that it's listed in `includes/wc-deprecated-functions.php` and most of the code currently uses `_doing_it_wrong` instead of `wc_doing_it_wrong`. Not sure of the history of this function, which one do you want me to use?

[2020-10-23 13:25] WebMedic-X commented on #28029
Hi @Konamiman

Thanks for getting back to me

We found out its actually a conflict with Booster plugin for WooCommece

In touch with their support to get it resolved

Thank you

[2020-10-23 13:33] juliaamosova commented on #27921
Hi @LichtWesenNL,

Thanks for your follow-up! It sounds like a caching issue to me - maybe a caching plugin or some kind of a serve caching that could cause it. In any case, I am glad to hear that the issue is resolved.

I'll go ahead and close it but feel free to comment on it again in case I missed something and we'd take another look.

[2020-10-23 13:33] #27921 closed

[2020-10-23 13:37] peterfabian commented on #28072
I think `wc_doing_it_wrong` is just a utility function that was placed in a file that houses
- utility functions used for deprecations, and
- deprecated functions themselves.

It doesn't have tag `@deprecated`, so I think it's not actually deprecated, so feel free to use `wc_doing_it_wrong`.

[2020-10-23 13:55] ktchan1811 opened #28075 "Payment Gateway can't automatic update the Order Status"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
At the moment, I am using an local payment gateway (M'sia) and n

[2020-10-23 14:01] peterfabian commented on #27960
Hi! Sorry, I wasn't able to reproduce the problem, as you can see, my email included the link to the file:

![Screenshot 2020-10-23 at 15 58 45](https://user-images.githubusercontent.com/2207451/97013174-083ddd00-1549-11eb-92b8-caa859b879b0.png)

Have you tried it with only WooCommerce core plugin active and using Storefront theme? Thanks!

[2020-10-23 14:30] peterfabian commented on #27954
Hi,

thanks for creating the bug report. I think [we have this documented](https://docs.woocommerce.com/document/managing-products/#section-10), although it's not very explicit:

I guess that's why the option is also called 'Catalog visibility' and not just visibility.
I tend to agree with you @linux4me that it might be confusing for store owners, as this does not explicitly state whether the prod

[2020-10-23 14:33] peterfabian commented on #28075
Hi,

Sorry, we don't provide support for 3rd party code. Please contact the developer of the payment gateway. If there are any logs they produce, it might help in determining where the problem lies. Thanks!

[2020-10-23 14:33] #28075 closed

[2020-10-23 14:53] peterfabian commented on #27953
Hi folks,

this should be considerably improved with WooCommerce 4.3, where we introduced `wc_reserved_stock` table to reserve stock while customers are paying for the order on PayPal (or another website). I can see from the system status report that you're using WC 4.1. Please try the up to date version and let us know if you still see the same problem.

[2020-10-23 14:55] ChiefWigs1982 commented on #27953
I'm using WP Version 5.5.1 with WooCommerce Version 4.6.1.

I've seen the wc_reserved_stock table, but it's empty - I checked it while testing the purchases and it never had any content in it at all, so maybe something's not working with that?

[2020-10-23 16:13] linux4me commented on #27954
Hi @peterfabian

I may not have been clear. I think the products _should_ show up on the single product page, just not in the sitemap.

I'm not sure what a "PR" is, but I've been using the following in my child theme's functions.php as a workaround to remove the hidden products from the sitemap:

`
	add_filter('wp_sitemaps_posts_query_args', function( $args, $post_type ) {
        if ( 'product' !

[2020-10-23 16:45] peterfabian commented on #27949
Thanks for the bugreport, @Chouby !

I can confirm this problem.

[2020-10-23 17:32] zumwaltwood opened #28079 "reserve stock table problems"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-23 18:32] ibonkonesa commented on #28066
Hi, I can do this! Should I PR to master directly from my fork?

[2020-10-23 18:37] contemplate commented on #27756
Following along here as I've seen this same issue pop-up for my client who relies on their variation SKUs being correct. The parent SKU is showing in random cases instead of the variation SKU which messes up inventory and shipping.  Going to try to turn off deferred JS loading on our caching plugin for the time being.

[2020-10-23 18:38] rrennick commented on #26543
Right, if you click recalculate the total is updated and correct. The issue is it should be correct without needing to have that button click.

[2020-10-23 19:25] rrennick commented on #28066
@ibonkonesa Yes. Then visit your fork on Github and you should see a notice with a button to create the PR.

[2020-10-23 19:30] rrennick commented on #27756
It's been added to the list to be worked on in the near future.

[2020-10-23 19:41] rrennick commented on #28019
@billrobbins There was an option migration update script in WC Admin a few versions ago. The site may have had the option under the old setting name (and it was something in the old one that was causing the problem).

[2020-10-23 19:50] rrennick commented on #27064
In that case there is a DB update that is failing for some reason. Could you look through your debug logs (or query analyzer may have it) to see what it is?

[2020-10-23 20:06] NicholasMacedo commented on #28066
Thank you for noticing my PR. When accepting the PR, could you please add the hacktoberfest-accepted label. Thanks. :)

[2020-10-23 20:12] #28066 closed

[2020-10-23 20:13] roykho commented on #28066
I don't believe this is needed. Hacktoberfest applies to all open source repos IIRC.

[2020-10-23 20:15] elizaan36 commented on #27789
I'd lean towards a notice in the Reports section since it should be more in the category of a warning message.

[2020-10-23 20:36] zumwaltwood commented on #28079
Closing this ticket, the solution was actually to change the wp-config and change the prefix there to lower case, WARNING, do NOT do this if you have a ton of users, this is a nightmare, you then have to update your user meta and change the pointer to the right prefix on the meta's.  i still consider this a BUG in that the prefix code should just look for default lower case regardless. but i have

[2020-10-23 20:36] #28079 closed

[2020-10-23 21:48] yward opened #28082 "Override Core Functions"
Hello there,

For a certain use case in a multi-vendor marketplace, I need to edit multiple core functions to only pull parents as follows:
[code]
In the previous function I've added `post_parent = '0'` to only query parent orders

another example:
`
protected function query_orders( $args ) {

		// set base query arguments
		$query_args = array(
			'fields'      => 'ids',
			'post_type'   => $this

[2020-10-23 22:22] PaulodoPorto commented on #28082
Why don't you use Hooks for this simple task?
What page do u intend to show your result?

`https://blog.atomicsmash.co.uk/blog/how-to-customise-woocommerce-templates-with-hooks/`

[2020-10-23 22:30] PaulodoPorto opened #28083 "Adding a Custom Field to BACS Account Details Page"
Please guys,

1° i'm trying to create a custom field to **BACS Account Details Form** page **(Admin Area)**, so can i display in my thankyou page and the same time send per e-mail.

2° i'm following what those article says, but i think i'm doing something not correct
[code]

This script is one of my thousand tries:

[code]
When i run this script, i don't get any result (new field in the account de

[2020-10-23 22:30] yward commented on #28082
If I understand hooks correctly, they are more about where I display the code, not how the code is executed. I don't believe hooks are fitting here.

To simplify what I'm trying to do, the multi-vendor plugin I use creates what is known as "sub-orders", so if you buy 2 products from 2 different vendors, 3 orders are created in woocommerce, one parent order and two childs. Now this is troublesome f

[2020-10-23 22:54] PaulodoPorto opened #28084 "Adding New Field C P F to BACS Account Details Page - for the Brazilian Maket"
hi Guys,
please please please!
Since 3 days i'm looking for a solution for the payment gateway BACS.

`https://docs.woocommerce.com/document/bacs/`

In the brazilian market, it's a must for any Bank Transfer situation, the user that chosse for the gateway BACS, he/she must to use for the transfer a document called **CPF** when the bank transfer occuer between two civil citizens. (Not for corporati

[2020-10-24 06:37] woorise commented on #27064
I tool a look and I noticed that after some WooCommerce updates the issue is gone. So maybe it was a DB update that was falling.

The issue https://github.com/woocommerce/woocommerce/issues/27014 still remains though.

[2020-10-24 08:34] itskawsar commented on #20071
Why the variation sorting order feature is there? I think the product should be showing based on the variation order on the product page.

[2020-10-24 08:38] itskawsar commented on #20071
You can adjust the pagination under top screen options (Number of items per page). The default pagination number is 20. You can increase to a larger number.
![image](https://user-images.githubusercontent.com/1224493/97077545-8ca26580-1606-11eb-9628-de524c18df2a.png)

[2020-10-24 09:49] bambootb opened #28085 "WooCommerce 4.6.1 Bug Shop_manager [woocommerce_rest_cannot_view error]"
Already post this issue to Wordpress.org support:
https://wordpress.org/support/topic/woocommerce_rest_cannot_view-error-with-woocommerce-to-4-6-1/#post-13575114

Step to replicate:
1. Log into a user with role “shop manager”
2. go to order page or any WooCommerce page
for example: [yoursite]/wp-admin/edit.php?post_type=shop_order
3. open inspector tools, then there will show the errors

Please se

[2020-10-24 11:30] jjbbrr opened #28086 "'Payment methods' link missing from left hand menu when on example.com/my-account/payment-methods/"
**Describe the bug**
This is a minor issue, but when you're on this page, the 'Payment methods' disappears from the left hand menu. It is there when you're on all other pages in 'My Account' but disappears when you're on this one. All the other menu items remain in position as you click through all these pages.

**Expected behavior**
'Payment methods' link should remain there all the time, regardl

[2020-10-24 15:21] renan515 opened #28087 "Nao consigo editar áreas de entrega"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-10-24 17:00] rodrigoprimo commented on #28053
I checked this issue, and I will leave here my thoughts to help decide the best way to handle this for 4.7.0 and future versions of WooCommerce.

I agree with @BackuPs that the change introduced in #27289 can be a bit confusing to users as we are displaying the first image from the gallery if there is no product image on the single product page, but we don't do the same in other places like the sh

[2020-10-24 17:57] #27831 closed

[2020-10-24 18:10] #28049 closed

[2020-10-25 03:37] basicsbyhill commented on #27673
Hi there, does anyone know if this bug has been fixed?

[2020-10-25 08:25] tharsheblows commented on #27521
Hi @juliaamosova -- The issue is that the country field can no longer be required and go through that validation step as it will always have a value, not the fact that "default" works correctly in some payment gateways (it does not in others). [A brief description of the required attribute for inputs is here.](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/required)

The expected beh

[2020-10-25 11:27] passatgt opened #28088 "Plugin translations not working on the Integrations settings page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I'm working on an extension that creates a settings screen under the Integrations menu. However i'm unable to translate the plugin on this

[2020-10-25 12:17] passatgt commented on #28088
Ok, so i was able to backtrace this issue and looks like `load_plugin_textdomain` needs to run in the `plugins_loaded` hook to work on the integrations page. It won't work in the `init` hook, which is the recommended place to run `load_plugin_textdomain`.

[2020-10-25 16:53] bergmans23 commented on #27419
hello there,
I'm running 4.6.1 and I'm still having this problem. Filter by attribute: colour no problem but Filter by attribute: size does not work. All variable products, all global attributes, tested with Storefront theme and all plugins deactivated, but I don't get any closer to a solution!

[2020-10-25 18:14] Judith527 opened #28089 "Shipping Methods Does not open"
With the set up of WooCommerce I entered prices for shipping.
But I can not find anywhere where I can change these shipping prices.

On top of that... I also can not :
* Add a shipping zone. Clicking on that button (WC> Settings>Shipping>Shipping zones) ingnites no action. No matter what I fill in... Zone name and then Zone region. I can never add a shipping method. There is just nothing saved. It

[2020-10-26 03:45] hexoquinasa commented on #28068
Hi Peterfabian
Thank you for your answer. You are right, I don't know exaclty how it works but, when I disable any plugin it works (I tried WP101 Video Tutorials and Search Engine Visibility), then after reenabling the plugin  it continues working (showing all metadata).
I really don't understand how this could affect the woocommerce api results.

Thank you

[2020-10-26 04:14] becdetat commented on #23610
Here's a bit of a workaround, using `transition_post_status` to hook into the product lifecycle:

[code]

[2020-10-26 04:51] galbaras commented on #25458
Perhaps [this fix](https://github.com/andi34/PhotoSwipe/commit/55d031631096cc79cd05ceb37d543512659c733c) can be applied to the version shipped with WooCommerce until it's officially release?

[2020-10-26 07:38] mariakhala opened #28090 "New sale item to perfomance analytics"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Hi i want all shipping cost of all statuses and my custom  order

[2020-10-26 07:47] mariakhala opened #28091 "New sale attributes in performance analytics"
Hi i want my custom sale attributes with net sales and gross sale in performance analytics. This attribute will show some of order with status expense(its my own status) and shipping cost of all in it. Any hook for it.
Thanks

[2020-10-26 09:09] #28029 closed

[2020-10-26 09:28] peterfabian commented on #28057
Ah, apologies, I misunderstood. If I understand correctly, you are not able to add images to product gallery through WooCommerce backend/admin, is that correct? Have you tried to [check if there isn't a conflict with your theme/another plugin](https://docs.woocommerce.com/document/woocommerce-self-service-guide/#section-4)?

[2020-10-26 09:30] nicomollet commented on #26977
Hello Claudio,

Thanks for your complete answer.
I knew about ways to customize, but I thought it would benefit the whole user base.

To me, it would have been more consistent with the status directly in the title.

I will go with my own customization ;)
Kind regards

[2020-10-26 10:16] dominic-ks commented on #27989
@vedanshujain Hello, I'm going to take a look at this one if no one else is already?

[2020-10-26 10:20] dominic-ks commented on #25782
@vedanshujain I'll look at putting in a PR for this unless @Erehr has already done this work?

[2020-10-26 11:01] yotamdahan1 commented on #28057
I figured it out, it wasn't an plugin, just javascript file I enqueued through functions.php

[2020-10-26 11:54] pmcpinto commented on #27789
Sounds good 👍 @elizaan36 do you have any suggestions for the notice content?

[2020-10-26 12:47] devNigel commented on #27332
Hi @roykho ,

I created this issue on behalf of a user during my trial. The user had temporarily unpublished all the products ( possibly to work on their site or restock inventory ) and encountered this unexpected behavior and concluded something was wrong with their site.

Ticket: 3219807-t

Regards,
Nigel

[2020-10-26 13:06] webdados commented on #27491
I can confirm this problem, but with post codes.

I normally return false to `woocommerce_shipping_calculator_enable_postcode` on stores where the shipping is only calculated based on the country + state, but since the last changes to the WC_Cart->show_shipping() function, when the postcode is a required field, we fail to get the shipping calculator to work as expected.
https://github.com/woocomme

[2020-10-26 13:15] #28092 closed

[2020-10-26 13:17] rrakso opened #28093 "API: Order metadata is not shown if the order was placed with different currency than default one"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-26 13:21] webdados commented on #27491
Changing class-wc-cart.php line 1538 to this will do it:
`if ( apply_filters( 'woocommerce_shipping_calculator_enable_postcode', true ) && isset( $country_fields['shipping_postcode'] ) && $country_fields['shipping_postcode']['required'] && ! $this->get_customer()->get_shipping_postcode() ) {`

I can open another issue if you feel is not related to this one.

[2020-10-26 13:28] billrobbins commented on #28019
Nice!  Thanks for the insight @rrennick 👍

[2020-10-26 13:29] AlexandreAcyba commented on #27521
+1 for @tharsheblows answer. We're experiencing the exact same situation here ;-)

[2020-10-26 14:06] vedanshujain commented on #25782
@dominic-ks please free to send in a PR.

[2020-10-26 14:27] GeoJunkie opened #28097 "Font urls not respecting WP_PLUGIN_DIR / WP_PLUGIN_URL"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-26 15:38] ChiefWigs1982 commented on #27953
Ok, so I hadn't set the "Hold Stock" variable in WC Settings > Products > Inventory, so I guess that's why the reserved_stock table wasn't populating. I've now set that to 2 minutes and I can see items going in and out of that table, but I'm still getting products overselling and ending up on backorder eventhough it's disabled.

[2020-10-26 15:39] #28053 closed

[2020-10-26 15:55] kamadoandino opened #28098 "Critical ERROR_Woocommerce and Wordpress 4.6.1"
Hi everyone.

I have a problem in my wordpress page, with woocommerce plugin.

Show this when i enter to wordpress:

Se ha producido un error del tipo E_ERROR en la línea 143 del archivo /var/www/wp-content/plugins/woocommerce/packages/action-scheduler/classes/abstracts/ActionScheduler.php. Mensaje de error: Uncaught Error: Class 'ActionScheduler_DataController' not found in /var/www/wp-content/pl

[2020-10-26 16:27] Peter-27 commented on #27521
I also have the exact same issue which I raised on #27070 back in July. Disappointed to see no solution yet. @juliaamosova

[2020-10-26 16:28] Peter-27 commented on #27070
I believe #27521 is related and will continue the conversation there.

[2020-10-26 16:37] gwegner commented on #27521
+1

[2020-10-26 17:54] elizaan36 commented on #27789
something like,

With a link to the new Analytics documentation.

[2020-10-26 18:05] npdesigner opened #28099 "My Account Addresses label not displayed when using Italian language"
The "Addresses" tab label in "My Account" page is not displayed when I use the Italian language while it should be already translated.

It`s placeholder "the empty space" works and navigates to the correct page as expected.

Best regards.

[2020-10-26 18:12] dominic-ks commented on #25782
@vedanshujain cool, just submitted this - https://github.com/woocommerce/woocommerce/pull/28101

[2020-10-26 19:16] Nemi5150 commented on #25375
I understand why this is a low priority, but it erodes customer confidence in WooCommerce as a professional ecommerce platform. I mean, this is so basic that it makes customers question whether important things in the ecommerce platform work as intended. Perception is reality and if people perceive that WooCommerce is flaky, then it is in their eyes. You and I know better, but this is a battle we

[2020-10-26 19:32] dcolumbus commented on #25375
Honestly, these sort of things are so obvious, I am continually amazed that they're overlooked. There should be several basic options like this built into core.

[2020-10-26 21:38] rrennick commented on #27287
The `customer` should probably be left as a customer. In normal use case, a used account is created at the same time a shopper becomes a customer. But, we could break out the flows that don't require an account into `Shopper`.

[2020-10-26 21:38] DavidAnderson684 opened #28106 "Allow filtering of cookie flags, which enables setting of samesite"
Currently, it's not possible to set the "samesite" attribute on a cookie (or indeed, to do any filtering of what is set).

For us, this is breaking an embedded checkout which we use in all Chromium-based browsers, now that Chromium defaults to SameSite=Lax (https://www.chromestatus.com/feature/5088147346030592). However, it'd be useful generally to have a filter in wc_setcookie() to allow arbitrar

[2020-10-26 21:39] rrennick commented on #27980
Duplicate of #27287

[2020-10-26 21:39] #27980 closed

[2020-10-26 21:40] DavidAnderson684 commented on #26764
I've submitted a pull request - https://github.com/woocommerce/woocommerce/pull/28105 - which is much more flexible. (I want to set the `SameSite` attribute).

[2020-10-26 22:52] ObliviousHarmony commented on #28097
This looks to be an issue with the theme referencing files in the `woocommerce` plugin by relative URL.

[I've opened an issue for it there](https://github.com/woocommerce/storefront/issues/1519)

[2020-10-26 22:52] #28097 closed

[2020-10-27 02:35] ktchan1811 commented on #28075
Nored with thanks

[2020-10-27 02:35] ktchan1811 commented on #28075
Hi

Noted with thanks

[2020-10-27 02:40] ktchan1811 opened #28108 "Restrict customer advancing to the checkout if they do not have a particular product category in their basket & notify them with an error message that no delivery for this particular category product."
Hi,

I would like to Restrict customer advancing to the checkout if they do not have a mandatory product category in their basket & notify them with an error message that no delivery for this particular category product. Example : As this particular category product is an addon product to the Mandatory Product . Therefore, customer need to purchase the mandatory product before they can purchase th

[2020-10-27 06:38] rynaldos commented on #27727
Hey team!

I am able to replicate the same behavior using WooCommerce core v4.5.0, however, not on an earlier version such as v4.2.0.

Using https://woocommerce.com/products/ as the affiliate product link (example), it outputs the following URL in the most recent core release:

https://woocommerce.com/products/?

When in an earlier version, it outputs as https://woocommerce.com/products/

The stra

[2020-10-27 08:31] Hexadel opened #28109 "Folder names contain the tilde character"
**Prerequisites (mark completed items with an [x]):**
- [ x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Good day, I was sent here by one of your Happiness engeneer

[2020-10-27 09:20] fasttrackhost commented on #26539
@claudiosanches you are talking about Product Categories Listing and I was talking about Product Editing/Creation where indeed @lkraav is right and is a WordPress metabox performance.
Is not a frustration, is simply a performance issue that other plugins already solved it, so it is not totally a Wordpress fault.

[2020-10-27 10:17] Ombabman opened #28110 "Removing checkout field in Chinese version removes flat shipping fee"
**Prerequisites (mark completed items with an [x]):**
- After many people ordered without paying for shipping i dug in deep into the problem and solved it by leaving the (for Hong kong useless" checkout field "state".

**Describe the bug**
In the Chinese version, if one removes the checkout field for "state" then the shipping cost for flat rate is shown in the overview, but removed after confirmin

[2020-10-27 13:28] MihaiCraciun opened #28112 "Question : Why are cross-sells hidden for grouped and external product types ?"
https://github.com/woocommerce/woocommerce/blob/e7ac75fdfdb7aab2cbf22e1cf3629030b1b01ebe/includes/admin/meta-boxes/views/html-product-data-linked-products.php#L47

[2020-10-27 13:56] dsifford opened #28113 "woocommerce_checkout_order_processed fires before order is actually processed"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-27 14:22] tammullen commented on #26899
Reopening with the additional information

[2020-10-27 16:21] claudiosanches commented on #28025
This issue seems not related to 4.7, so I'm removing this milestone for now.

[2020-10-27 16:48] #27555 closed

[2020-10-27 17:02] dsifford commented on #28113
Update: Digging into this more I was able to determine that `woocommerce_payment_complete` is called even for non-payment orders. It appears that hooking into _this_ might resolve our particular issue, but I still stand by the original issue of `woocommerce_order_processed` would make far more sense if it fired after payment processing.

It should not have taken that much brain power to locate the

[2020-10-27 17:23] attritionorg commented on #12467
Old ticket I know, but this was opened in reference to the following vulnerability disclosure: http://www.bailis.org/papers/acidrain-sigmod2017.pdf

It isn't clear if this has been resolved. #12467 references #16971 which in turn references PR #20030. The 11 commits associated with it seem to have landed before the 3.4.5 release, and a commit at the end was merged in 3.5.0-beta.1.

That said, othe

[2020-10-27 17:54] rrennick commented on #28025
I can confirm I've seen this in 4.5 or 4.6.

[2020-10-27 19:09] DavidAnderson684 commented on #28113
"Given the name of the action, I would assume that this action would fire when the order is completely processed, rather than partially."

Well, another possibility is surely that the assumption is incorrect. You can just choose to look at it the other way round: the proper way to interpret a terse name which has potential ambiguity is via the context it's found in. Moving it into a different cont

[2020-10-27 19:17] dsifford commented on #28113
Yep, the issue here is raised because I'm wondering what situation this could cause breaks if moved under payment processing.

The action name is interpreted (by me) in a way that feels like it was originally intended to fire after the order was completely processed.

[2020-10-27 19:19] dsifford commented on #28113
That said, I didn't consider the possibility that an order can be considered "processed" even after being created (in a failed state). That case I suppose would require it to be in the position that it is in currently.

So feel free to close this issue if that is the case. Was just sort of unfortunate that it took me 3 tries to realize this and finally find that `woocommerce_payment_processed` hoo

[2020-10-27 19:31] roykho commented on #27535
Hi @maticluznarow - Thanks for reporting this. However I am not able to reproduce the issue you're seeing. Note that since your testing 4.6 has been released so my tests are against 4.6. I am only seeing at most ~10 queries. In my test, I've dumped all caches between page refreshes for both different versions ( 4.3 and 4.6 ).

Since its been a little while now, can you please check and confirm you

[2020-10-27 20:12] dominic-ks commented on #27989
I actually can't reproduce this issue. If I send a `PUT` request to `/orders/<order-id>` with the response from `GET`ting the same order I get:

[code]

If I remove data from the `line_items` but leave the sku in place the request is successful but the product in the order items remains the same.

[2020-10-27 20:34] theo-gk opened #28118 "Cyprus listed in wrong continent"
**Prerequisites (mark completed items with an [x]):**
- [X] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Hello, I noticed an error on the WooCommerce country list (on th

[2020-10-27 20:38] TobyOsborne commented on #28082
Hi, @yward

I'm not sure if you're still looking for a solution and, though this wouldn't really be a WooCommerce issue per se, I think you could accomplish your goal by utilising the query filter from within your theme's functions.php file.

https://developer.wordpress.org/reference/classes/wpdb/query/

Of course, you'll need to find a way to only modify the correct queries, as this filter will a

[2020-10-27 22:23] Studiokwebdesign commented on #27756
Has there been any update on this issue? As of 10/27/2020, the issue is still active. One of my clients who operates a rather large Woocommerce store has now lost a substantial amount of money because she relies on her product variations to work correctly.
Example of today's issue: One of her customers purchased two of product variation #2 that cost $110.99 each. Subtotal should have been $221.98.

[2020-10-27 22:28] roykho commented on #27756
Hi @Studiokwebdesign - yes there is already a PR out for this issue and awaiting review.

[2020-10-27 23:59] Camilo517 commented on #27535
hi @roykho
Use WooCommerce 4.6.1
Only in the shop page 96 queries
http://prntscr.com/v8akl6

On the product page 87 queries

This is a serious problem

[2020-10-28 00:10] paulo-gouveia opened #28121 "Customer information data on WooCommerce appears as "Deleted""
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
![Capture](https://user-images.githubusercontent.com/73564140/97374682-c72f2b00-18b0-11eb-950b-9c0818e0b1f0.jpg)

Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with

[2020-10-28 01:31] roykho commented on #27535
HI @Camilo517 - so that total count doesn't mean much in of itself. You have to open up the component and see what other plugins are within it. Chances are its not all coming from WooCommerce core.

[2020-10-28 05:31] maticluznarow commented on #27535
Hi,

I ran some tests and I think the issue is gone.

My Woocommerce results:

4.3.3
![image](https://user-images.githubusercontent.com/65150716/97396115-b8636b00-18e6-11eb-81da-d366f952cec4.png)

4.4.1
![image](https://user-images.githubusercontent.com/65150716/97396183-d92bc080-18e6-11eb-8c8f-c060a72f822e.png)

4.6.1
![image](https://user-images.githubusercontent.com/65150716/97396231-f19bdb00-1

[2020-10-28 05:51] bambootb commented on #28085
Any update regarding to the issue? @mikejolley @claudiosanches

[2020-10-28 09:06] #27756 closed

[2020-10-28 09:37] XedinUnknown opened #28122 "Composer v2 Support"
Hi!

In my project, I use Composer to require `woocommerce/woocommerce:^3.0 || ^4.0`. Although my constraint allows for WC 4+, it does not get installed by Composer. This is because [`composer/installers:1.9`][] is the first version that supports Composer v2, while WC 4 [requires][1] the _exact_ version of `1.7`. The same thing prevents me from installing WC `3.6`: it requires the _exact_ version

[2020-10-28 11:42] rodrigoprimo commented on #28118
Thanks for opening this issue, @theo-gk. We follow CLDR and I believe it puts Cyprus in Western Asia (https://github.com/unicode-org/cldr/blob/2dd06669d833823e26872f249aa304bc9d9d2a90/tools/java/org/unicode/cldr/util/data/UnMacroRegions.txt#L229). That is why recently we removed it from Europe (there was an entry in Europe and another one in Asia): https://github.com/woocommerce/woocommerce/pull/2

[2020-10-28 11:48] alexbogias commented on #28118
You can check [wikipedia](https://en.wikipedia.org/wiki/European_Union). Cyprus belongs to also European Union

[2020-10-28 11:54] netanel13 opened #28123 "woocommerce plugin causes "err_too_many_redirects woocommerce"
hello,
i have recently noticed that the plugin causes this error in my wordpress website "grassfashion.co.il".
i didnt change nothing in the setting, everything was working great. i tried to reinstall but nothing helps.
what can i do to solve the problem?

[2020-10-28 12:02] zdenys commented on #26289
This is indeed confusing from the user perspective. Another report in 3444258-zen.

[2020-10-28 12:50] #27979 closed

[2020-10-28 14:24] peterfabian opened #28124 "Travis CI delayed"
We have a large backlog on travis.org CI.
Maybe they have reduced the number of workers for us?
Investigate if that is the case.

How easy it is to migrate to travis.com?
Or should we migrate to GH actions?

Please research and update our config so that our tests on CI run again.

[2020-10-28 15:13] gglobalstep opened #28125 "[GlobalStep - WooCommerce 4.7.0-rc.1] "Save" button fails to enable for Password field when user has fulfilled its requirement during password reset"
## Bug Description:
"Save" button fails to enable for Password field when user has fulfilled its requirement during password reset

## Environment:
Windows 10, Mac High Sierra v10.13.6
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari (Version 13.1.2)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install

[2020-10-28 15:18] gglobalstep opened #28126 "[GlobalStep - WooCommerce 4.7.0-rc.1][Mac] "Welcome to Block Editor" popup appears misaligned when user clicks on "Next" button"
## Bug Description:
"Welcome to Block Editor" popup appears misaligned when user clicks on "Next" button

## Environment:
Mac High Sierra v10.13.6
Browser: Safari (Version 13.1.2)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Go to WooCommerce beta Tester.
1. Switch the WooCommerce version to 4.7.0-rc.1.
1. Click on "Pages" f

[2020-10-28 16:15] theo-gk commented on #28118
Cyprus belongs to Europe administratively and it's part of the European Union. [https://europa.eu/european-union/about-eu/countries_en](url) It's also a very delicate political matter putting Cyprus to Asia, but you should already know that... If we want to respect CLDR, then we can list the country on both continents. But I think that is more correct and way more practical to list it in Europe, w

[2020-10-28 16:29] NickM9 opened #28128 "Authorizarion using endpoint REST API"
Hi everyone! I have a problem with endpoint /wc-auth/v1/authorize
I want to make integration with woocommerce shop, and to get keys i use this endpoint with all required fields, but I have an error. Using url ->
https://localhost/woocommerce/index.php/wc-auth/v1/authorize?app_name=onollo&user_id=1001&scope=read_write&return_url=https://localhost:3000/login&callback_url=https://localhost:3000/api/w

[2020-10-28 16:38] helgatheviking commented on #27984
@claudiosanches  Hi Claudio... I'm stuck again here. I've got the latest from `master` (so including #28038) and have updated my Linux subsystem to WSL2, but still getting the same error and unable to generate the autoloader.

[code]

[2020-10-28 18:18] Camilo517 commented on #27535
@maticluznarow For example in the Shop page I only have two queries from another plugin, the others are all from woocommerce

[2020-10-28 18:23] tobinfekkes commented on #28113
@dsifford You are exactly right, this hook being before payment has caused many an issue for me too across various sites.

Some sites make the transaction right on checkout (so you know immediately whether payment failed or not), and some make the transaction days later (when the item is actually shipped/delivered), and so we've had to adjust around this hook specifically (using payment_gateway ho

[2020-10-28 18:36] jozeflambrecht opened #28130 "Order table does not contain all orders"
**Prerequisites (mark completed items with an [x]):**
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.

**Describe the bug**
Pending orders are missing in table. The total (all orders) is correct. When I go to Analytics -> Orders, I can see the pending orders..

*

[2020-10-28 19:14] DavidAnderson684 commented on #28113
I think you're both mixing up two separate things. The hook is where it is, useful for people who want one there (like me - I use it because I want, in at least one extension, to have a hook at the point that an order has finished checkout processing, which isn't the same as completing order processing). The other thing, which seems to be what you both want, is a different hook, at a later point.

[2020-10-28 19:16] tobinfekkes commented on #28113
That is correct. I'm not necessarily saying that hook is in the wrong spot, but more than since there is one before payment, it would be handy to have one after as well.

[2020-10-28 19:46] claudiosanches commented on #28124
I just migrated to travis-ci.com, I'll close this issue for now, since the issue got fixed after migrating.

[2020-10-28 19:46] #28124 closed

[2020-10-28 20:57] juliaamosova commented on #28130
Hi @jozeflambrecht,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Gui

[2020-10-28 20:59] juliaamosova commented on #28126
Hi @gglobalstep,

Thank you for reporting the issue. It seems to be on the WooCommerce Blocks side of things which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2020-10-28 21:02] juliaamosova commented on #28123
Hi @netanel13,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](h

[2020-10-28 21:02] #28123 closed

[2020-10-28 21:04] juliaamosova commented on #28121
Hi @paulo-gouveia,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2020-10-28 21:04] #28121 closed

[2020-10-28 21:13] juliaamosova commented on #28109
Hi @Hexadel,

Thank you for reporting the issue. It looks like it is being caused by the WooCommerce Blocks package which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2020-10-28 21:14] juliaamosova commented on #28108
Hi @ktchan1811,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2020-10-28 21:14] #28108 closed

[2020-10-28 21:19] juliaamosova commented on #28098
Hi @kamadoandino,

Thank you for reporting the issue. It seems to be caused by the Action Scheduler package which is being developed in another repository: https://github.com/woocommerce/action-scheduler.

I am going to move your bug report there so that we could take a look further there.

[2020-10-28 21:22] juliaamosova commented on #28091
Hi @mariakhala,

Thank you for submitting your request. It seems to be related to WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-10-28 21:23] juliaamosova commented on #28090
Hi @mariakhala,

Thank you for submitting your request. However, it had been reported previously here https://github.com/woocommerce/woocommerce-admin/issues/5498. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-10-28 21:23] #28090 closed

[2020-10-28 21:25] juliaamosova commented on #28089
Hi @Judith527,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](h

[2020-10-28 21:25] #28089 closed

[2020-10-28 21:27] juliaamosova commented on #28087
Hi @renan515,

Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like

[2020-10-28 21:27] #28087 closed

[2020-10-28 21:31] juliaamosova commented on #28086
Hi @jjbbrr,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. Please see gif below:

![](http://g.recordit.co/ykvMEEetbq.gif)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for on

[2020-10-28 21:34] juliaamosova commented on #28084
Hi @PaulodoPorto,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help f

[2020-10-28 21:34] #28084 closed

[2020-10-28 21:35] juliaamosova commented on #28083
Hi @PaulodoPorto,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help f

[2020-10-28 21:35] #28083 closed

[2020-10-28 21:36] juliaamosova commented on #28082
Hi @yward,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help further

[2020-10-28 21:36] #28082 closed

[2020-10-28 21:42] masteradhoc opened #28131 "i18n locale information is not correctly set after Setup Wizard"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I installed woocommerce on a fresh wordpress installation.
I did the setup over the new wizard and choose country liechtenstein and also on

[2020-10-29 02:29] jonathansadowski commented on #27766
Draft PR based on @jeffikus' work: https://github.com/woocommerce/woocommerce/pull/28134

[2020-10-29 02:51] strarsis opened #28135 "WC_Order->skip_status_transition_events() (as in WooCommerce Bookings WC_Booking)"
**Is your feature request related to a problem? Please describe.**
When programmatically creating WooCommerce Orders (`WC_Order`), e.g. when importing or synchronizing,
the status transitions actions are triggered during save on order creation.
The most noticeable unintended side-effect by this is the sending of automated email, like an order creation email, e.g. for old orders that have been impo

[2020-10-29 03:48] WebMedic-X opened #28136 "Get order by order number not by post ID"
Hi,

Our client wants to have a sequential order numbers

Which meant the order numbers are no longer equal to post IDs

This caused issues on the payment gateways because they use functions like wc_get_order(POST_ID) which relies on the order number being the same as post ID

We need a way to get the order by order number not by post ID and it seems WooCommerce has no functions for that?

Thank y

[2020-10-29 07:11] MohsinQK commented on #27935
@AashikP isn't this closed issue released in 4.4 resolves your issue?
https://github.com/woocommerce/woocommerce/pull/26260

are you using hierarchical Attributes to filter?

[2020-10-29 08:20] WebMedic-X opened #28137 "product.created web hook sent a product not found error"
Hi,

Today we received a web hook request from a website on product.created

Instead of the usual data in the request we would expect from documentation such as the product information, this is what was sent by the website:

{
  "code": "woocommerce_rest_product_invalid_id",
  "message": "Invalid ID.",
  "data": {
    "status": 404
  }
}

Not sure why the web hook would send this data on a product

[2020-10-29 08:55] AashikP commented on #27935
@MohsinQK

I could replicate this behavior using the steps listed above on a brand new site (just tested again). I'm not exactly sure what you meant by:

[2020-10-29 09:55] jacoswan commented on #27688
Some additional insights; cannot recreate on 4.4.1, but starts in 4.5.0-beta.1 onwards, and still exists in 4.7.0-rc.1.

[2020-10-29 10:24] Tahoooe commented on #27419
Having the problem here too with 4.6.2.

[2020-10-29 10:34] pmallek commented on #23682
Don't you feel ashamed? You break the default behavior of WordPress because it is easier for you and other developers waste a lot of time. The problem was reported over a year ago.

[2020-10-29 10:48] divergeinfinity commented on #23682
I believe there may be several issues at work in this thread, and you haven't really said what your issue is @pmallek, but here is what I ended up going with for the Chrome Samesite issue:

[code]

May not be perfect, but this fixed it for me.

[2020-10-29 12:53] clinton2111 opened #28138 "init_form_fields does not create fields on the woo payment options page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I have been trying to create a custom payment gateway. tried to add fields in the init_form_fields() function for API keys and such but the

[2020-10-29 13:13] jozeflambrecht commented on #28130
Hello,
I did some research and see that the missing orders have the `processing` status instead of `wc-processing`. (because of payment gateway) This fixes the issue.
Still wondering why the order does show up in the analytics (with correct order status)..

[2020-10-29 13:23] thelyall commented on #27688
This is a bit more serious than the subject might imply - it's not just that the reviews aren't counted towards the total on the front end, it's that it **resets the count back down to zero**. This in turn is causing product page issues in Google as 'Value in property "reviewCount" must be positive'. So it's not just annoying it's causing errors.

I have verified that the comment_count against the

[2020-10-29 13:29] peterfabian commented on #28122
Hi,

thanks for opening the issue. Yup, we plan to update it soon, so that after the release of WC 4.7 we will support Composer 2. At the moment, we're waiting a bit until packages we include (Admin and Blocks) update their dependencies, then we can update ours as well.

[2020-10-29 13:40] peterfabian opened #28139 "Enable optional loading for deprecated code"
As we've decided to NOT delete classes and functions deprecated prior to 3.0, we can at least add support to not load them (e.g. via a filter that ensures they are still loaded by default). Hence this issue.

[2020-10-29 13:40] peterfabian commented on #27343
Closing in favor of https://github.com/woocommerce/woocommerce/issues/28139.

[2020-10-29 13:40] #27343 closed

[2020-10-29 13:54] peterfabian commented on #27789
The idea is great! However, we don't really explicitly plan to remove the reports at any specific time (especially since some of the extensions are using them), so I think the notice might need some re-wording. I'll try to get some work done to be able to get a more specific message.

[2020-10-29 13:57] peterfabian commented on #25069
Hi folks, apologies for the late update. Is this one still relevant/something we should be looking into?

[2020-10-29 13:57] ajayver commented on #28130
I also have the same issue. I use $wc_order->set_status in a custom plugin and it removes "wc-" from statuses, so they end up having unexisting statuses in the database, hence not listed in the orders list: https://prnt.sc/v9ffh3

[2020-10-29 14:00] peterfabian commented on #26715
Hi, this is a duplicate of #27424. Let's solve if from there. Thx.

[2020-10-29 14:00] #26715 closed

[2020-10-29 14:15] peterfabian opened #28140 "WP 5.6 performance degradation"
Investigate and fix WP 5.6 performance problem

[2020-10-29 14:21] peterfabian commented on #27970
- [ ] review beta announcement
- [ ] check critical flows with the Beta
- [ ] check critical flows with the RC

[2020-10-29 14:29] kapamarou opened #28141 "After Order, pay for order Link no COD fee"
We found a bug. When Customers click in the Order confirmation E-Mail on “Pay now” they get to this site for example:
…/checkout/order-pay/42666/?pay_for_order=true&key=wc_order_m1nqED0J3lqdy

But when the customer chooses there “Cache on delivery” no fee gets added, as it actualy does in the normal checkout.

COD fee is set in the backend and is working fine on the normal checkout page but not wh

[2020-10-29 14:42] peterfabian opened #28142 "Handover of @woocomerce/api package to Solaris"

[2020-10-29 14:57] mero2online commented on #25076
I have been facing the same issue and fixed it by editing this form through FTP

#### 1. Open this directory
wp-content/plugins/woocommerce/templates/emails

#### 2. Edit email-addresses.php (work for Gmail)
move ` dir="<?php echo is_rtl() ? 'rtl' : 'ltr'; ?>"` one level down
From
[code]
to
[code]

#### 3. Edit email-addresses.php (work for Yahoo)
Add this to change the table position
[code]
From

[2020-10-29 15:11] jozeflambrecht commented on #28130
@juliaamosova can ou please re-open? The issue is here why the `wc-` prefix is dropped when using `$order->update_status( 'processing', 'note' );`

[2020-10-29 15:24] #25782 closed

[2020-10-29 15:30] XedinUnknown commented on #28122
Thanks for the reply!

Do I understand correctly that you will make the version constraint more flexible, e.g. `^1.7`?

[2020-10-29 16:10] jozeflambrecht opened #28143 "$order->update_status() does not store status with wc- prefix in database"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When you use `$order->update_status('processing', 'note');`, the `order-status` value in the db is `processing` instead of `wc-processing`.

[2020-10-29 16:19] #28143 closed

[2020-10-29 16:23] ajayver commented on #28130
I was able to fix this by switching my functions to use a later hook. I switched from 'woocommerce_after_register_post_type' to 'rest_api_init' and looks like it works now.
I guess some functions weren't loaded at the point when I was trying to update the status.

[2020-10-29 16:46] louwie17 opened #28144 "Add support for Belgium (BE) postcode validation"
**Is your feature request related to a problem? Please describe.**
Yes, we had a user who's customer entered the town name into the postal code, and thus not qualifying for
free shipping, the order otherwise went through as usual. This was specifically for a Belgium address.

**Describe the solution you'd like**
A belgium zip code consists of [4 digits](https://en.wikipedia.org/wiki/List_of_postal

[2020-10-29 18:05] abhishek-pokhriyal commented on #27585
@claudiosanches @vedanshujain One way I can suggest to make this happen is using the `NumberFormatter` class

[code]

If we go this route, however, I'm not sure how this change will be introduced to the `wc_price` function (which I believe does all the formatting stuff). Let me know what do you guys think.

[2020-10-29 18:05] juliaamosova commented on #27419
Reopening this thread to take a look further since we've got more feedback.

[2020-10-29 18:12] juliaamosova commented on #28130
Reopening the issue due to the feedback above.

[2020-10-29 18:18] juliaamosova commented on #28051
Hi @lordspace,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:18] #28051 closed

[2020-10-29 18:19] juliaamosova commented on #28009
Hi @royking01,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:19] #28009 closed

[2020-10-29 18:19] juliaamosova commented on #27998
Hi @tammullen,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:19] #27998 closed

[2020-10-29 18:20] juliaamosova commented on #27971
Hi @apeksha10,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:20] #27971 closed

[2020-10-29 18:21] juliaamosova commented on #27958
Hi @frrick1908,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:21] #27958 closed

[2020-10-29 18:22] juliaamosova commented on #27936
Hi @Pmeet,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:22] #27936 closed

[2020-10-29 18:24] juliaamosova commented on #27835
Hi @glamcrewboutique,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:24] #27835 closed

[2020-10-29 18:27] juliaamosova commented on #27564
Hi @chrisbergr,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:27] #27564 closed

[2020-10-29 18:28] juliaamosova commented on #27536
Hi @Niels1307,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:28] #27536 closed

[2020-10-29 18:29] juliaamosova commented on #27520
Hi @Thomas-1985,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:29] #27520 closed

[2020-10-29 18:31] juliaamosova commented on #27515
Hi @Hbitvof,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-29 18:31] #27515 closed

[2020-10-29 18:38] juliaamosova commented on #28138
Hi @clinton2111,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help fu

[2020-10-29 18:38] #28138 closed

[2020-10-29 18:44] juliaamosova commented on #28136
Hi @WebMedic-X,

We have an extension available that should work: [Sequential Order Numbers Pro](https://woocommerce.com/products/sequential-order-numbers-pro/).

if using the extension is not an option, the best place to get help further is in the [WooCommerce Community Slack](https://woocommerce.com/community-slack/) in the `#developers` channel.

While our goal is to address all the issues repo

[2020-10-29 18:44] #28136 closed

[2020-10-29 19:22] MC-Rider commented on #27419
Thank you Julia.

Since we are taking a fresh look at this, here is a more detailed description of what I am experiencing. Most all of it is covered earlier in this discussion.

BASELINE:
Everything has been working perfectly for me in v4.5.2 — with the one exception of pagination on the main shop page: products display correctly on page  1, no products display on pages 2, 3, 4 etc., however categ

[2020-10-29 20:36] dexylea commented on #27376
@Konamiman using your suggestion we have now managed to get the line_item quantity updating properly. However, we now have the issue that a partial refund email is sent for every line updated and not the overall order. So if, for example, a customer purchases:

3x item A
2x item B
1 x item C

and we refund:

2x item A
1x item B

the customer is being sent 2 emails.

Do you or any other users know

[2020-10-29 21:05] #25960 closed

[2020-10-29 21:06] #27945 closed

[2020-10-29 21:22] rodrigoprimo commented on #28118
Thanks for your input, @alexbogias and @theo-gk.

Wikipedia also lists Cyprus as part of Western Asia: https://en.wikipedia.org/wiki/Western_Asia

Generally speaking I know that this can be a delicate subject, but I don't know anything specifically about Cyprus. It is impossible for us, the maintainers of WooCommerce, to know what is the best option for each country. That is why we decided to adop

[2020-10-29 21:29] juliaamosova commented on #28085
Hi @bambootb,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![shop_manager](https://user-images.githubusercontent.com/19143190/97634511-3a00e900-1a0c-11eb-91fc-92c4d63e1446.jpg)

I think this is rather a `high` priority issue and something we should fix soonish. However, whoever is going to work on it, feel free to argue.

[2020-10-30 02:21] om4csaba commented on #25716
If you created a variable product and saved as a draft, then create product variations, those variations will be in published status, not draft. I assume this is the cause of why showing in the reports.

[2020-10-30 09:45] PaolinoAngeletti opened #28146 "[UPDATE SHIPPING COST VIA API] It doesnt works"
I want to update shipping cost to "FLAT RATE" shipping method.
I'm using this data:
data = {
                "enabled" : True,
                "regular_price": {
                    "cost" : str(cost_to_set)
                }
            }

It doesnt' works.. why ???
Enabled works fine, but cost NOT.

[2020-10-30 11:19] lkraav commented on #28140
Are there any details in some other issue, or will this issue opening comment be updated at some later point?

[2020-10-30 11:33] peterfabian commented on #28122
Yup. I'm not 100% sure if it will be `^1.7` or `^1.9` or something else, as I haven't checked the package in detail yet, but I assume there is no reason to keep the dependency pinned to that specific version.

[2020-10-30 11:38] peterfabian commented on #28122
Side note: Blocks and Admin needs to be updated (or we need to load them via a commit hash) before we can do this, as they have some packages pinned to versions not compatible with Composer 2.

[2020-10-30 11:43] peterfabian commented on #28140
@vedanshujain Can you please add more background here?

[2020-10-30 12:26] SiobhyB commented on #26475
I wanted to note that this caused quite a lot of trouble for a business in 3450550-zen. They weren't aware that previous customers would lose access as a result of the change, leading to 1000+ customers, spanning back years, losing access.

[2020-10-30 13:03] roykho commented on #27710
Hi @PriitGit - what do you think about (for now) just hiding the "add to cart" button on the grouped product's page so at least people won't click the button just to get a message they can't add it to the cart?

After looking into this, it appears it may require quite a bit of effort to tackle this so will the interim solution work for you?

[2020-10-30 13:13] roykho commented on #27535
Hi @Camilo517 - how many queries are you seeing with version 4.6.1? What is the load time for you?

[2020-10-30 13:45] vedanshujain commented on #28140
I have added a [ticket in core trac](https://core.trac.wordpress.org/ticket/51678#ticket) with the necessary details and possible solution:

Paraphrasing to save a click:

In WooCommerce's internal autmated performance testing, we are seeing performance degradations in all paths where any plugin is loaded whose translation file is not present. Root cause seems to in [#49236](https://core.trac.word

[2020-10-30 13:49] rrennick commented on #28054
@corsonr #27980 relates to the End-to-End **testing** packages. The strings in the E2E packages are not translatable. The packages are not included in or used by the WC plugin.

[2020-10-30 14:21] WebMedic-X commented on #28136
Hi @juliaamosova

Thanks for getting back to me

Sequential order numbers pro looks good, if we use it then the wc_get_order function will work correctly?

And this could be a feature request, to have a way / function to get order by number not by ID and there seems to be no way right now?

Thank you

[2020-10-30 14:37] WebMedic-X commented on #28136
I think there is a misunderstanding

We are already using a plugin that does sequential orders

However when using the plugin, the plugin gives the order numbers a sequential number (as intended) and that means it doesnt match it’s WordPress post ID

Due to this — wc_get_order() which is used in payment gateways, and use the post ID to get the order — no longer works

And it seems there is no func

[2020-10-30 14:44] roykho commented on #28136
Hi @WebMedic-X - it depends on the payment gateway you're using. If done correctly they should be using `wc_get_order( $order->get_id() )` and not `wc_get_order( $post_id )`.

[2020-10-30 14:45] #28144 closed

[2020-10-30 14:47] WebMedic-X commented on #28136
Hi @roykho

Thanks!

And what is $order = to in this case?

Thanks

[2020-10-30 14:54] roykho commented on #28136
@WebMedic-X - that is the order object.

[2020-10-30 14:56] WebMedic-X commented on #28136
Thanks @roykho

Without the plugin, how did we get the $order object without using the post ID and by using an order number?

[2020-10-30 15:27] robertocyrino opened #28149 "sample_products.csv does not include all variations for "V-Neck T-Shirt""
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When importing `sample_products.csv`, only 3 variations are created for `V-Neck T-Shirt`, when there should be 9 of them.

**Expected behavior**

[2020-10-30 18:23] MDHeshop opened #28150 ""From" email does not reflect in emails sent to customers"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-30 18:26] juliaamosova commented on #27960
Hi @VerdaderaYT,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-30 18:26] #27960 closed

[2020-10-30 18:30] juliaamosova commented on #27136
Hi @alonazisser,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-30 18:30] #27136 closed

[2020-10-30 18:34] juliaamosova commented on #26975
@fesarlis it is not clear from your request how to properly reproduce the issue. Please provide us with an example name in greek that we can use to test with. The exact steps of what you are doing that trigger the issue are what we are looking for.

[2020-10-30 18:35] juliaamosova commented on #26156
Hi @erikkrantzkb,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-30 18:35] #26156 closed

[2020-10-30 18:39] rrennick commented on #28149
@robertocyrino Thanks for submitting the issue. The [sample import file](https://github.com/woocommerce/woocommerce/blob/master/sample-data/sample_products.csv) only contains 3 variations of the V Neck Tee Shirt (IDs 76-78).

[2020-10-30 18:39] #28149 closed

[2020-10-30 19:29] juliaamosova commented on #27521
@tharsheblows thanks for your detailed follow-up. The way I see this issue is that the error message is incorrect if the customer didn't fill out the country:

- Currently, it throws: `Unfortunately we do not ship to default. Please enter an alternative shipping address`.
- Instead, it should be: `Country/region field is a required field`.

Is it correct?

I was still not able to check out if I do

[2020-10-30 19:49] juliaamosova commented on #28099
Hi @npdesigner,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27655. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-10-30 19:49] #28099 closed

[2020-10-30 20:07] juliaamosova commented on #28110
Hi @Ombabman,

Thank you for submitting the issue. However, it is missing clear steps to reproduce the issue. Please provide the exact setup details that can be easily followed without guessing.

[2020-10-30 20:20] juliaamosova commented on #28125
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I used TwentyTwenty theme for testing. The `Save` button gets activated there but still doesn't let you to proceed with `Password123$` password even though it meets all the password requirements:

![](http://g.recordit.co/Vyf5XCIOUE.gif)

We won’t be able to include th

[2020-10-30 21:17] juliaamosova commented on #27688
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I tested using WooCommerce 4.7 RC1 - please see the video below:

https://cloudup.com/ch6XMzs6wWM

However, the count of the reviews at the front-end stays intact - it just doesn't add the reviews added on the back end to the total count. Can you please watch the video

[2020-10-30 21:26] maxbeech commented on #27688
Many thanks for helping us Julia.

That seems to be what I’m doing to but I also find that the count gets
reset back to zero as soon as I enter another review from the backend
following the recent updates.

On Fri, 30 Oct 2020 at 21:17 Julia Amosova <notifications@github.com> wrote:

--

All the best,
Max

*Max Beech*
maxbeech.com

[2020-10-30 21:52] juliaamosova commented on #28093
Hi @rrakso,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I tested using WooCommerce 4.7 RC1.

**Request results for the order placed with `USD` currency:**

![usd](https://user-images.githubusercontent.com/19143190/97759975-831e6f00-1ad8-11eb-9a31-bbf822791cd9.jpg)

**Request results for the order pla

[2020-10-30 22:29] LiberationFreedom opened #28152 "Zzazzle product link is not populating image in WooCommerce"
this is for https://liberation-freedom.com.
https://liberation-freedom.com/product/baby-bodysuit-i-count/

I deactivated all the plugins except WooCommerce and activated the TwentTwenty theme. As you can see in the attached screenshot, the issue persists. There is no picture being sucked in for the Zazzle product link.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carrie

[2020-10-30 22:55] apollonin opened #28153 "Ability to get aggregated data per customer using WooCommerce REST API"
**Is your feature request related to a problem? Please describe.**
I would like to have the ability to easily get the total number of orders and spent amount per customer using woo commerce REST API.

**Describe the solution you'd like**
Ideally, that should be included in the response to `/wp-json/wc/v3/customers` for each customer.
Another option - extend reports and be able to get it via `/wp-j

[2020-10-31 09:10] aovivo2000 commented on #24184
Any news here? When can we expect a feedback, at best a reasonable change to get this resolved?

[2020-10-31 13:06] peterfabian commented on #27766
Night mode support coming to 2021: https://make.wordpress.org/core/2020/10/22/twenty-twenty-one-dark-mode-discussion/

Not sure if we need to do anything about it?

[2020-10-31 17:06] suhaasprasad commented on #28153
+1

[2020-10-31 23:31] luboslives commented on #27711
+1 this issue leads to a PayPal error - "The field Shipping Address **City** is required".

I've tried manually adding a City to the client's account in the WP admin, but that does not help and the value gets erased again when the client attempts a purchase. If Municipality and City are interchangeable, maybe you can force a copy of the value before sending it off to PayPal etc.

[2020-11-01 00:19] kevinamorim opened #28158 "When adding product attribute terms using the REST API (V3) ordering is not kept"
**Prerequisites:**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When using the field 'menu_order' for creating product attribute terms using the REST API, the order is not kept, using custom ordering for the product attribute.

**Expected

[2020-11-01 09:18] Hadakajime opened #28163 "Grouped-Product Max Price displays the highest Minimum Price of linked Variable-Products"
### Version:
WooCommerce 4.6.1
Theme Storefront 2.8.0

### Description:
I created a Grouped-Product and linked it to several Variable-Products. Then when viewing the Grouped-Product, I saw that it's main price range only used values equaling the Minimum Prices of the linked Variable-Products. Instead, it should use the minimum of linked Minimum Prices, and maximum of linked Maximum Prices.

### Ex

[2020-11-01 10:34] oceanbeat commented on #27521
I have the same issue and posted in the Woocommerce support forum 2 months ago (see link above by thuautp).
It’s super annoying this issue still has not been fixed.
@juliaamosova Please note this issue **only occurs for VIRTUAL products**! Has this ever been looked into?
I’ve tested it and when I set a product to a normal / non virtual product I actually get the error message „we don’t ship to def

[2020-11-01 11:02] ratzrattillo commented on #26990
Please reopen the ticket, considering my latest reply!

[2020-11-01 11:09] callmejud opened #28164 "Only 1 out of 2 shipping methods showing on cart page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I've set two shipping methods on this website:
1 - Delivery (fixed price)
2- Take away (local pickup)
However, on the cart page, only one o

[2020-11-01 12:19] annurehedge opened #28165 "I am suddenly unable to upload any product images on my product ."
Unable to add media to the product on woocommerce.
the button doesnt work.
Can anyone help?

[2020-11-01 14:20] PriitGit commented on #27710
Thanks @roykho !
As a temporary solution, you can try it, but how to do it?

[2020-11-01 19:26] jasongm98 opened #28166 "New order via API coupons meta_data not present after"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When I'm trying to create an order with the WooCommerce API with coupons the order will be created well but if we compare an order created via t

[2020-11-01 21:08] jasongm98 commented on #28164
Hello @callmejud,

Did you try it using a default WordPress theme or with Storefront instead of DivI theme?

If you want to test on a clean installation I can help you 🙂.

Thanks.
Regards.

Jason - jason@jgmweb.es

[2020-11-01 22:09] callmejud commented on #28164
Hello Jason,

Yes, I’ve had deactivating all plugins and changing the theme and the
problem persists :/

Thanks in advance,

Judit

Il giorno dom 1 nov 2020 alle 22:08 jasongm98 <notifications@github.com> ha
scritto:

--

Judit Pan

Web Designer

(+34) 611 148 055

www.juditpan.com <http://juditpan.com/>

<https://www.facebook.com/juditpanr> <https://www.instagram.com/judit__pan/>
<https://www.lin

[2020-11-01 23:08] roykho commented on #27710
@PriitGit - so we'll get this patched up and get it out in a later version release.

[2020-11-01 23:17] webdesign-steyrer commented on #27521
I have the same issue! Although in a bit different way… When I select the default billing country entry(select a country) I’m getting the error message Sorry we’re not shipping to ‘default’! Now when I check “different shipping address” and the second form for the shipping address pops up, I have to set a country BUT the billing country is not validated anymore… This is a huge problem, as I need t

[2020-11-02 00:27] DaveVaughan opened #28167 "Tax inclusive product price incorrectly recalculates when customer changes their taxable zone and its a different rate."
Customers in a different tax zone to the store using the site as a guest get different pricing when they change their billing zone, **if the prices use tax inclusive values**

This bug was mentioned in a closed report but I don't believe its a regression, it was never addressed and left to gather dust as a suggestion before being closed.

The fact is that its far more pertinent than was mentioned

[2020-11-02 00:50] Nerko69 opened #28168 "Woocommerce settings export - import function"
Would be really useful to have export-import of all woo settings as they are really cumbersome to reenter over and over...

[2020-11-02 01:29] Peter-27 commented on #27070
@tammullen Hello, any thoughts on this please? Your last response was 22nd July!! 😞

[2020-11-02 04:19] williamgh2019 commented on #28165
Did you try to clear cache or change to another browser for testing?

[2020-11-02 07:52] PriitGit commented on #27710
@roykho - Thank you for the information and please keep us up to date.

[2020-11-02 08:40] jasongm98 commented on #28164
Hello @callmejud ,

Is working fine for me on my tests site using the theme "Twenty Twenty".

Did you check to have the correct shipping zones and methods for the data filled?

<img width="625" alt="allowing-only-more-ship-method" src="https://user-images.githubusercontent.com/39148300/97847015-3496ed80-1cef-11eb-84a9-d4023dc79f1d.png">
<img width="625" alt="allowing-only-one-ship-method" src="htt

[2020-11-02 09:45] callmejud commented on #28164
Hello Jason,

Thanks for your reply.
Indeed, I've tried changing to Twenty Twenty (see screenshot) but nothing
changes.

You'll also find attached a screenshot of the settings. It's so weird bc
I'm building other e-commerce websites with the exact same settings and
everything is correct.

Thanks in advance.

Kind regards,

Judit Pan

Web Designer

(+34) 611 148 055

www.juditpan.com <http://juditp

[2020-11-02 10:33] H4RRYLIME commented on #27688
@maxbeech - I think you'll find it's resetting to zero because you're previous reviews were also written via admin.

@juliaamosova - The video exactly corresponds with my issues and I to had the reset to zero for previously counted reviews entered through admin. Reviews left via the front end register correctly as per the example.

[2020-11-02 10:39] negapo commented on #27445
Hi, why was this closed? Its still not solved.

[2020-11-02 10:56] maxbeech commented on #27688
Yes that’s the case Harry. Still can’t believe that this can be expected
behaviour though, as it leads to a very poor UX and there are plenty of
legitimate reasons for entering reviews collected outside of the system via
the admin.

On Mon, 2 Nov 2020 at 10:33 H4RRYLIME <notifications@github.com> wrote:

--

All the best,
Max

*Max Beech*
maxbeech.com

[2020-11-02 10:57] smazur commented on #27521
+1

Customer get following error message:
[code]
 Also the country field has no error highlight against to other required fields.

[2020-11-02 11:00] H4RRYLIME commented on #27688
True enough @maxbeech. I use quotes from external reviews with links for our record releases so using the backend is by far the best way.

[2020-11-02 11:33] callmejud commented on #28164
The problem was finally coming from another plugin ! I'm closing the issue :) Thanks!

[2020-11-02 11:33] #28164 closed

[2020-11-02 12:35] Tofandel commented on #16528
@mikejolley The negative fee tax is a bug, if the fee is non taxable even if it's negative, tax shouldn't be applied. Unless taxable is set to true, that's exactly why this parameter is there

[2020-11-02 14:00] rrennick commented on #28153
@apollonin The REST API for the new Analytics data is under `wp-json/wc-analytics`. The endpoint for the above is `wp-json/wc-analytics/customers`. The `wc-analytics` route is maintained in [WooCommerce Admin](https://github.com/woocommerce/woocommerce-admin).

[2020-11-02 14:00] #28153 closed

[2020-11-02 15:33] roykho commented on #27710
Ok I've just put in a PR to hide the `add to cart` button when all linked products are out of stock per discussion. I will be closing this for now until we get more votes on this to fix the original issue of hiding the grouped product itself when all linked products are out of stock.

Thanks again for reporting @PriitGit

[2020-11-02 15:33] #27710 closed

[2020-11-02 15:41] spandadk commented on #24988
@dlnr **Did you find an answer to your problem? I have the exact same issue.**

I can remove all Photoswipe related JS + CSS, but the Photoswipe HTML markup is still there, even with the following triggered:

`add_filter( 'woocommerce_single_product_photoswipe_enabled', '__return_false' );`

[2020-11-02 17:07] nmmr3 commented on #24988
@spandadk how did u manage to remove the css?

I've got:
							       wp_deregister_script( 'photoswipe' );
							       wp_dequeue_style('photoswipe');
								wp_deregister_script( 'photoswipe-ui-default' );
and
add_filter( 'woocommerce_single_product_photoswipe_enabled', '__return_false' );

But these are still there:
photoswipe.min.css?ver=4.6.1
/default-skin.min.css?ver=4.6.1

[2020-11-02 17:17] spandadk commented on #24988
@nmmr3 `wp_deregister_style('photoswipe');` will do the trick for both of those CSS files.

I found a solution for the Photoswipe markup. I digged around and noticed that photoswipe.php is embedded/included with:
[code]
found in: wc-template-functions.php

Removing theme support for `wc-product-gallery-lightbox` removed the photoswipe markup.

[code]

[2020-11-02 17:22] juliaamosova commented on #28165
Hi @annurehedge,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2020-11-02 17:22] #28165 closed

[2020-11-02 17:26] glafarge opened #28170 "CSV Import / New vs Existing products"
It could be useful if the import function detect existing products vs new ones automatically.

For example, take a shop with the following products :

| ID | Type | Name | Regular Price |
| -- | ------| ------ | ---------------- |
| 1 | simple | Product 1 | 25.00
| 2 | simple | Product 2 | 18.00

After exporting the products, we decide to apply 50% discount on the two existing products, and we dec

[2020-11-02 17:52] apollonin commented on #28153
Thank you, @rrennick . Would be good to reflex it somehow here in docs: https://woocommerce.github.io/woocommerce-rest-api-docs as I don't see route docs and params in WooCommerce Admin rpo

[2020-11-02 22:21] juliaamosova opened #28171 "Documentation on how to use e2e packages in other repositories"
The central place where folks can learn about our e2e testing infrastructure is this README:

https://github.com/woocommerce/woocommerce/tree/master/tests/e2e

Currently, it doesn't have any details on how to use our e2e packages in other projects.

It will be great to add a section to the README above called `Setting up and Running e2e tests in other repositories` or something similar and link to

[2020-11-02 22:24] mdmoore opened #28172 "CSV Importer doesn't use exisiting attribute slug and leads to import error"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When importing a CSV that includes an existing attribute, which already has a slug, the importer attempts to generate a new slug.  This can

[2020-11-03 06:44] carlomanf opened #28174 "Cart shortcode does not work with switch_to_blog"
**Describe the bug**
I have two sites on the same network, both with woocommerce activated. I am trying to embed the cart for site A, inside site B.

I am using `switch_to_blog` to switch from site B to site A and then calling the cart shortcode.

Simplified version of the code I'm using:

[code]

Both sites are using usermeta-based carts rather than cookie-based.

**Expected behavior**
I expected

[2020-11-03 08:04] Konamiman commented on #27937
Reopening for consistency with the fact that https://github.com/woocommerce/woocommerce/pull/28058 is still open. Merging that PR should close again this.

[2020-11-03 08:34] warudin commented on #25848
Received the notification on multiple sites as well. Will ignore it for now but maybe Defender is right in notifying that this code isn't optimal?

[2020-11-03 08:51] Konamiman commented on #27445
This was closed automatically because [the fixing pull request](https://github.com/woocommerce/woocommerce/pull/27763) was merged. It should have been included in 4.7 beta, wasn't it the case?

[2020-11-03 09:08] sakthivelr commented on #16315
Hi, I am also waiting this result

[2020-11-03 09:13] negapo commented on #27445
Sorry, thought it was part of 4.6.1

[2020-11-03 09:17] Konamiman commented on #27445
@negapo No problem, but here's a tip that you may find useful: for merged pull requests you can see which version they are included in by looking at "Milestone" on the right 🙂

[2020-11-03 09:20] negapo commented on #27445
thanks for the tip @Konamiman

[2020-11-03 10:28] nmmr3 commented on #24988
@spandadk
Thanks! wp_deregister_style('photoswipe') did the trick for me :)

[2020-11-03 10:55] mikejolley opened #28175 "Setup Wizard Address Inputs conflict with browser autocomplete"
During initial store setup in the wizard, the store address fields (specifically the country/region field) act strangely in combination with browser autocomplete, and is difficult to use.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues a

[2020-11-03 11:29] jarvo1980 commented on #24184
Hi All,

Just wondering if there was any news?

We have a store that sells Worldwide, so need to add prices ex VAT. Like many others, some prices when adding VAT aren't calculating correctly:
Product is £5.83 + 20% is rounding to £7 but should be £6.99 (putting £5.82 rounds to £6.98)
Product is £10.83 + 20% is rounding to £11 but should be £10.99
Product is: £18.33 + 20% is round to £22 but should

[2020-11-03 11:50] jonasschmidhalter commented on #25375
Anything yet here?

[2020-11-03 11:57] Aljaz-S commented on #24184
Hi,

as you can see my comment above, I think that issue is that WC is always doing calculation with 6 digital number in the background. I would expect here that calculation is done based on settings you have in WC how many decimals you are displaying. In that case the calculation for my testing would be correct.

I don't understand how this is still not solved or even given some feed back that it

[2020-11-03 12:04] davefx opened #28176 "Memory depleted when requesting list of products via ajax"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When calling json_search_products and json_search_products_and_variations we are getting out of memory problems, in our setup with thousan

[2020-11-03 12:05] redoz94 commented on #14919
I'm getting this error, with a 3rd party API; in my expo app. Any one, willing to help?

[2020-11-03 12:18] Mick-V8 opened #28178 "REST API PUT Returns 200, but doesn't update"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Are there any conditions where a PUT for a Product update should

[2020-11-03 12:38] rodrigoprimo commented on #26990
Thanks for the additional information, @ratzrattillo. I'm reopening the ticket. I haven't had time yet to check if I can reproduce the issue with attributes other than weight and size. Someone from our team will check this as soon as possible.

[2020-11-03 13:36] tammullen commented on #28152
Hi @LiberationFreedom

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service

[2020-11-03 13:36] #28152 closed

[2020-11-03 13:38] tammullen commented on #28146
Hi @PaolinoAngeletti

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get h

[2020-11-03 13:38] #28146 closed

[2020-11-03 13:43] mlpassos commented on #24184
We are still waiting for this here in Brazil, too.

[2020-11-03 13:49] robin-scott opened #28179 "Variable Product add_to_cart Link Can Add Parent to Cart With No Variation Selected"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Most recent - since version 3.6.0 - WooCommerce allows a user to add a "parent" variable product ID to cart using add_to_cart without a sel

[2020-11-03 13:50] robin-scott commented on #28179
BTW I had a good search for this issue in here - but there's a lot of needles in here which mention "variable" and "add to cart" apologies if this is a repost :)

Also note, we'll likely be patching this if it is not already, so a PR may be forthcoming on this ticket... let me know if this is already in motion.

[2020-11-03 13:53] robin-scott commented on #28179
Just adding comment that 4.7.0-rc.1 still has this issue - mostly for my own reference here.

[2020-11-03 13:55] scrobbleme opened #28180 "Don't automatically delete "customer" if it has other content than "orders""
**Is your feature request related to a problem? Please describe.**

- We had a user within a customers site, who was the original maintainer and developer.
- Unfortunately the shop manager degraded the user to the user role "customer" after terminating the contract

→ **Problem**: The automatic user deletion removed this user and with this all the content the user created...
Pages etc. where just

[2020-11-03 14:06] rrennick commented on #26990
@ratzrattillo I've confirmed the behaviour you described below. Variations inherit attributes from the variable product and do not have independent attributes of their own. It is possible to add custom attributes to variations with an extension.

[code]

[2020-11-03 14:28] jarvo1980 commented on #24184
It's less than an ideal solution but wonder if a custom price field were added, as per this article:
Change WooCommerce Price Display Based on Product Fields - https://www.cloudways.com/blog/change-woocommerce-price-display/

You could then add prices ex VAT but display the correct price inc VAT. Perhaps use GeoLocate if it only needs altering for one country:
$location = WC_Geolocation::geolocate

[2020-11-03 14:38] Studiokwebdesign commented on #28179
https://github.com/woocommerce/woocommerce/pull/28103

[2020-11-03 14:43] robin-scott commented on #28179
Thanks @Studiokwebdesign - I was sure this would be somewhere... but that title is not illustrative

[2020-11-03 14:45] robin-scott commented on #28179
Closing this as it's got a PR on it already - will get some testing onto that. Thanks.

[2020-11-03 14:45] #28179 closed

[2020-11-03 14:55] tammullen commented on #28168
Hi @Nerko69

Thank you for this suggestion. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/13089. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-11-03 14:55] #28168 closed

[2020-11-03 15:47] yukikatayama opened #28181 "Japanese address in wrong order when filled out in English/Romaji"
Opening [#5112](https://github.com/woocommerce/woocommerce/issues/5112) this back up as reported recently in 3447963-zen

Currently, if shipping to Japan, the address shows in order:

ZIP
Prefecture Town/City Street Address
Apt
Last Name, First Name
Country

![](https://d.pr/i/Qn753T+)
Link to screenshot: https://d.pr/i/Qn753T

This is fine if the address is all in Japanese, however, when writing

[2020-11-03 17:58] falahati commented on #22297
So the fact that it is impossible to create metadata for a coupon line without completing a request is the expected behavior?

The relationship between the payment status of an order and the metadata of an order's coupon line seems arbitrary. 👎

[2020-11-03 18:15] tammullen commented on #28181
Hi @yukikatayama!​

Thank you for taking the time to report this bug, we really appreciate your help.

Another useful link for verifying this with full details of the address format is from the [Universal Postal Union](https://en.wikipedia.org/wiki/Universal_Postal_Union)
[https://www.upu.int/UPU/media/upu/PostalEntitiesFiles/addressingUnit/jpnEn.pdf](https://www.upu.int/UPU/media/upu/PostalEntiti

[2020-11-03 18:46] loranallensmith commented on #27795
Howdy core team. :wave:  I just wanted to follow up on this to see what other folks thought about the two solutions I proposed above:

or

I think both of these would let WC continue to respect the `woocommerce_disable_password_change_notification` filter while still allowing developers to run custom code at the end of the password reset process.

[2020-11-03 19:40] rodrigoprimo opened #28182 "Check WooCommerce critical flows running WP 5.6 beta"

[2020-11-03 19:44] rodrigoprimo opened #28183 "Check WooCommerce critical flows running WP 5.6 RC"
WP 5.6 RC is scheduled to be released on November 17. Once it is available, we need to check it against WooCommerce critical flows to make sure that everything is working as expected.

[2020-11-03 19:47] rodrigoprimo commented on #28182
I checked all our critical flows running WP 5.6 and found no issues, except the performance problem that @vedanshujain had already found and reported here: https://core.trac.wordpress.org/ticket/51678.

[2020-11-03 19:47] #28182 closed

[2020-11-03 21:33] juliaamosova opened #28184 "Add e2e test support for the the New WooCommerce Navigation"
Update e2e tests (if needed) to support the New WooCommerce Navigation when it is available in core.

[2020-11-03 21:35] juliaamosova opened #28185 "Run failed e2e test 3 times"
Implement running failed e2e test 3 times if it failed the first time it runs. This is to make sure that tests that fail do that not due to flakiness.

[2020-11-04 07:50] masteradhoc commented on #25937
Im having the same issue.

[2020-11-04 07:52] EionRobb commented on #25491
Had this happen to me today.  Workaround is to use the 'Recount terms' button at   WooCommerce -> Status -> Tools -> Term counts -> Recount

[2020-11-04 15:40] bloxkim opened #28188 "In Advanced Coupons for WordPress Premium, the coupon expiry date does not show up. Also have plugin Advanced Coupons for WordPress Free. Both are activated. Running a Buy One, Get One 1/2 Off coupon. When coupon is set to display under Customer Accounts and at checkout, "never expires" shows up. When I deactivate each plugin separately, the coupon expiry date appears but the coupon does not work. Both plugins need to be activated to run deal. Please help. Where does coupon expiry date go?"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-04 17:11] jarvo1980 commented on #24184
@mikejolley is there any news on this? I've a client who wishes to launch a site but due to the incorrect tax issues, we're unable to as the prices are incorrect.

Is there any work around? We need the prices entered ex VAT, so need them to show correctly.

Unless there is a way to add prices inc VAT but then remove VAT for other countries (seems counter intuitive but desperate times)

Thanks

[2020-11-04 17:56] mikejolley commented on #24184
@jarvo1980 no updates in particular. 3dp isn't doesn't to work for you, prices must be input how they are displayed (2dp in your case). So with a ex vat price and 20% vat on top some prices like 6.99 just won't be possible. That's why the tax inclusive prices system has always been in place, so you can enter 6.99 and have it work backwards from that.

It already works this way. If the store base a

[2020-11-04 18:04] jarvo1980 commented on #24184
Hi @mikejolley

Thanks for coming back to me, really appreciate it.

Ok, so to confirm:
- Yes, I will enter prices inclusive of tax
- Display prices in the shop: Including tax
- Display prices during basket and checkout: Including tax

I then use the tax import file for all EU countries and set all products to 'Standard Rate'

By doing so:
- All UK customers will see the price inc VAT?
- The VAT b

[2020-11-04 18:11] mikejolley commented on #24184
@jarvo1980 that sounds correct so long as in tax settings taxes are based on customer shipping address. You can test it by checking out and changing your shipping address and see the prices adjust.

[2020-11-04 18:15] studio4 commented on #24184
The core dev team could just fix this in the code as I suggested here https://github.com/woocommerce/woocommerce/issues/24184#issuecomment-527849343 but don't hold your breath because it's still very clearly an issue more than a year on from my suggestion.

[2020-11-04 18:17] tammullen commented on #28188
Hi @bloxkim

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by the 3rd party plugin Advanced Coupons for WooCommerce Coupons.
​
Please contact the author of the plugin directly for further help.