[2022-04-02 17:10] jacob-sewell commented on #32209
If those filters aren't working as expected, we should generate a bug report. @woocommerce/isotope what do I do to flag something that needs reproduction now that we've merged?

[2022-04-02 17:13] #32282 closed

[2022-04-02 18:39] sandyxman007 opened #32459 "while adding a product variation ,product data screen is overlapping therefore not able to see all product variations."
![overlap1](https://user-images.githubusercontent.com/102875667/161396717-954edb8c-4dbd-4e4b-8e99-d43a2547128c.JPG)
![overlap2](https://user-images.githubusercontent.com/102875667/161396814-db112ae5-be08-44e5-a45e-a460dd2c1315.JPG)
![overlap3](https://user-images.githubusercontent.com/102875667/161396819-65fe80cf-7aa3-4640-8534-843a3f1bdb86.JPG)

[2022-04-03 10:31] kamyabnazari commented on #32459
+1 Having the same problem on Version 6.3.1

[2022-04-03 10:54] kamyabnazari commented on #32459
The is in style of the HTML a class called `.panel` which overwrites the attribute of

[code]

[code]

Still don't know where it comes from, probably from another plugin.

[2022-04-03 11:24] danielbarenkamp commented on #32368
@Konamiman  Hey There,

alright I can see the variation IDs are included in the table:

<img width="665" alt="variation ID in attribute lookup table" src="https://user-images.githubusercontent.com/3169388/161425435-95539b0e-5ec6-4988-bddc-faf40024c2a8.png">

Is there maybe a new code, that only searched for "product" type, but NOT "product_variation" in the nav filter? Cause then I could add_filte

[2022-04-03 13:12] kamyabnazari commented on #32459
@sandyxman007 do you have **JetThemeCore** Installed or a similar Plugin to that? If it is **JetThemeCore 2.0.0**, then that is the problem. I have tested it with v1.2.2 of JetThemeCore there is no .panel class that overwrites the

[code]

This CSS class comes after activating JetThemeCore 2.0.0. It could be another Jet Plugin that does this after activating or JetThemeCore.

[code]

Atleast in my

[2022-04-04 00:29] ilyasfoo commented on #32209
@jacob-sewell I think it's `status: reproduction`

[2022-04-04 03:18] kyote73 commented on #16747
I also get this fatal error when using the code and viewing an order that has a refund.  Is there a workaround for this by chance... not displaying inc tax is driving my accounts person crazy!

[2022-04-04 05:06] becdetat opened #32461 "[Enhancement]: WC Admin - Free trial message"
### Describe the solution you'd like

This is part of an internal project that Start+Manage is working on. Please see the project thread (pbIJXs-1qN-p2) for additional context.

### Describe alternatives you've considered

n/a

### Additional context

n/a

[2022-04-04 07:33] becdetat opened #32462 "[Enhancement]: In-app guidance - tooltip component"
### Describe the solution you'd like

This is part of an internal project - see (pbIJXs-1qT-p2) for more context.

There is a WordPress.com tooltip which should be used to implement this. We may need to add further functionality to the component.

- We should attempt to add hook points so that consumers can add their own tracks events
- Any changes we make should be done upstream in the WP.com lib

[2022-04-04 07:35] becdetat opened #32463 "[Enhancement]: In-app guidance - step guidance component"
### Describe the solution you'd like

This is part of an internal project - see (pbIJXs-1qT-p2) for more context.

There is a WordPress.com step guidance component which should be used to implement this. We will need to add further functionality to the component.

- We should attempt to add hook points so that consumers can add their own tracks events
- Any changes we make should be done upstream

[2022-04-04 07:43] HossamMetwally opened #32464 "Woocommerce sorting"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Bazar65.com
Hello everyone, please I'm building my website with Astra/Elementor/Woocommerce, the default products sorting(shop page and all categories pages) isn't working with s

[2022-04-04 07:48] becdetat opened #32465 "[Enhancement]: In-app guidance - DOM toolkit"
### Describe the solution you'd like

This is part of an internal project - see (pbIJXs-1qT-p2) for more context.

This will use the [tooltip](https://github.com/woocommerce/woocommerce/issues/32463) and [step guidance](https://github.com/woocommerce/woocommerce/issues/32463) components. Completion of this issue will depend on those components being stable enough to consume (although they may stil

[2022-04-04 08:37] adrianduffell opened #32466 "Document Woo Admin’s webpack config"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Woo Admin's [webpack config](https://github.com/woocommerce/woo

[2022-04-04 09:09] #32406 closed, assigned to nobody

[2022-04-04 09:56] rjchow commented on #32432
Closed by #32438

[2022-04-04 09:56] #32432 closed, assigned to nobody

[2022-04-04 10:28] lkraav commented on #32413
You should start debugging by installing Query Monitor plugin @vladbotca and see what the breakdown of order-received request timing is.

[2022-04-04 13:12] swatipawarGS commented on #32045
Hi @csmcneill, @rafaelzaleski ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/161513849-94b71e03-6155-4615-a24f-de9c201faa4f.mp4

Please provide us more det

[2022-04-04 14:47] vedanshujain opened #32468 "[COT] Add migration for refunds from post to custom order tables."

[2022-04-04 14:47] vedanshujain opened #32469 "Implement order edit screen updates using custom order tables."

[2022-04-04 14:47] vedanshujain opened #32470 "Implement order search and filtering in the order listing screen using COT"
This would be a continuation of #32385 and scopes adding filtering and search functionality to the order list screen.

These sort and search methods should be implemented in the data store and then used by the list rendering class to display in the UX.

[2022-04-04 14:47] vedanshujain opened #32471 "Implement order edit screen render using custom tables."

[2022-04-04 14:48] vedanshujain opened #32472 "Implement order notes datastore to provide API to interact with order notes table."

[2022-04-04 14:49] jeffpaul commented on #31812
@ObliviousHarmony let me know if you'd like our team to handle a PR here or in https://github.com/woocommerce/woocommerce-eu-vat-number/issues/170 to resolve this issue.

[2022-04-04 15:03] ac2323 opened #32477 "Multiple order status selection"
### Is your feature request related to a problem? Please describe.

Under Analytics>Orders>Advanced filter, it should be possible to select multiple order statuses instead of being limited to just one

### Describe the solution you'd like

Either the ability to add another filter for "Order status" or to be able to select multiple statuses

### Additional context
Basically this: https://wordpress.

[2022-04-04 15:50] alopezari commented on #31347
Thanks for reporting this @csmcneill! In fact, this issue occurs for every field in the `woocommerce_variable_attributes` class when updating a variation.

I'll add some E2E tests to cover this user flow.

[2022-04-04 19:35] #32295 closed, assigned to nobody

[2022-04-04 19:44] #32413 closed, assigned to nobody

[2022-04-04 20:14] designsonline commented on #32295
So what do I do? are there any core WooCommerce files that I should replace to fix this?

[2022-04-04 22:19] #32032 closed, assigned to nobody

[2022-04-04 23:01] bradley2083 opened #32475 "No option to add cart icon to navigation with new full site editing blocks"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If using the latest version of WP, Gutenberg and WooCommerce, there is no way to add a cart icon (and count) to the menu through the Navigation Block.  This is a HUGE issue for e

[2022-04-05 00:36] #32263 closed

[2022-04-05 00:36] #32215 closed, assigned to nobody

[2022-04-05 01:48] becdetat opened #32479 "[Enhancement]: Set-up checklist: Extract help panel component into a general purpose content panel"
### Describe the solution you'd like

This is part of an internal project - see (pbIJXs-1r9-p2) for more context.

Extract the help panel component into a general purpose content panel.

The help panel itself should eventually use this general purpose content panel however that can wait if it isn't practical in this issue.

### Describe alternatives you've considered

n/a

### Additional context

[2022-04-05 01:49] becdetat opened #32480 "[Enhancement]: Set-up checklist: Add extension points for the help panel component’s content"
### Describe the solution you'd like

This is part of an internal project - see pbIJXs-1r9-p2 for more context.

- The help panel component needs to contain an arbitrary number of content components
- Hooks and/or slot/fill
- This will need to be available to any extension, including 3PD extensions

### Describe alternatives you've considered

n/a

### Additional context

n/a

[2022-04-05 01:50] becdetat opened #32481 "[Enhancement]: Set-up checklist: Create checklist steps child component"
### Describe the solution you'd like

This is part of an internal project, see pbIJXs-1r9-p2 for more context.

Takes a set of steps, each of which contains arbitrary components

### Describe alternatives you've considered

n/a

### Additional context

n/a

[2022-04-05 01:51] becdetat opened #32482 "[Enhancement]: Set-up checklist: Create checklist child single step component"
### Describe the solution you'd like

This is part of an internal project - see pbIJXs-1r9-p2 for more context.

Default single step experience - some text content and a CTA

### Describe alternatives you've considered

n/a

### Additional context

n/a

[2022-04-05 01:52] becdetat opened #32483 "[Enhancement]: Set-up checklist: Contribute the general purpose content panel components to WP.com"
### Describe the solution you'd like

This is part of an internal project - see pbIJXs-1r9-p2 for more context.

- General purpose content panel component
- Checklist steps child component
- Checklist child single step component

### Describe alternatives you've considered

n/a

### Additional context

n/a

[2022-04-05 01:54] becdetat opened #32484 "[Enhancement]: Set-up checklist: Add set-up checklist to the admin header"
### Describe the solution you'd like

This is part of an internal project - see pbIJXs-1r9-p2 for more context

### Describe alternatives you've considered

n/a

### Additional context

n/a

[2022-04-05 02:27] ilyasfoo opened #32485 "Admin JS packages are not translated"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

It seems JS packages are not translated by `@wordpress/i18n`. I think this affects all JS packages brought from WCAdmin.

Example:

Texts from Preset such as `Month to date` are

[2022-04-05 02:29] ilyasfoo commented on #32485
It seems that by the time package is run, locale isn't fully loaded yet:

![image](https://user-images.githubusercontent.com/3747241/161667048-6e2769f7-a1ba-4954-b3b3-d5824b38df05.png)

This is when React client is rendering:

![image](https://user-images.githubusercontent.com/3747241/161667132-6a5e070f-4264-406d-872a-2c6d21200fb5.png)

To see it, simply put a `debugger` statement around `__()` fu

[2022-04-05 05:21] rjchow opened #32486 "Woocommerce Code Reference site does not contain slotfill items"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

https://woocommerce.github.io/code-reference/ does not contain

[2022-04-05 06:42] chihsuan commented on #32478
@jignam Sorry, I think `npm run create-wc-extension` is broken. I was able to reproduce this. We'll fix it soon!

[2022-04-05 06:49] jignam commented on #32478
HI chihsuan

Thanks for the updates. Please keep us update once you resolve this issue, so we can continue with this once you reosolved.

Thank you
Jigna

[2022-04-05 06:59] rafique-pandhare commented on #30201
The issue of "gst on freight charge" can be easily understood if we consider freight charges as a "service" offered along with the products mentioned in the same invoice. This is called as a "mixed sale".

As per Indian rules on gst, in a mixed sale the highest rate of gst (from the gst rates on the products ) is applied over the freight charges.

Please refer https://www.zoho.com/in/books/gst/wha

[2022-04-05 07:41] chihsuan commented on #32174
@adrianduffell Could we remove `woocommerce-admin.php` and `uninstall.php`?

Looks like`woocommerce-admin.php` is only be used in unit tests and [`wcAdminAssetUrl`](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Internal/Admin/Settings.php#L179-L181. I think we could simply remove it from tests and retire the `wcAdminAssetUrl`.

[2022-04-05 08:18] shohanhossainnab commented on #32220
Another report in 4922333-zen. I have shared the workaround for now.

[2022-04-05 08:24] adrianduffell commented on #32174
Thanks for the ping @chihsuan ,

* I think `woocommerce-admin.php` is good to remove now. It was only being used to init the feature plugin.
* I think `uninstall.php` can be removed. It looks like the `drop_tables()` call is being made in Core already. https://github.com/woocommerce/woocommerce/blob/605fc47389829501d16e3467dc8be009c69f4426/plugins/woocommerce/uninstall.php#L32
* `wcAdminAssetUrl`

[2022-04-05 08:49] christianschoenmakers commented on #19083
Great suggestion, thank you very much.

I've changed it a bit to check the VAT rules of the specific address and return true or false if the VAT is 0%.

In this way, it is a little bit more flexible, for example to exclude based on postal code.

[code]

[2022-04-05 09:23] chihsuan opened #32491 "Retire `wcAdminAssetUrl`"
### Describe the solution you'd like

Since `woocommerce-admin` plugin images has been added to core, `wcAdminAssetUrl` can be retired.

As discussed [here](https://github.com/woocommerce/woocommerce/issues/32174#issuecomment-1088413516)

- [ ] post a developer advisory on the WooCommerce blog and check for any usage of the setting in the marketplace extensions and other plugins like WC Pay
- [ ]

[2022-04-05 09:26] chihsuan commented on #32174
Thanks @adrianduffell, I'll go head to remove them and simplify the `src/Composer/Package.php`.

I have also added a new [issue](https://github.com/woocommerce/woocommerce/issues/32491) to our backlog for `wcAdminAssetUrl`.

[2022-04-05 09:47] turpoint commented on #31422
This is probably because of the following lines in `/woocommerce/includes/wc-template-functions.php` (line 3705). @kromeninja did you manage to fix it, or use a certain filter to bypass this behaviour?

[code]

[2022-04-05 09:49] K13NN13 commented on #31422
Hey @turpoint sadly I still have this issue, was hoping there would be some movement here on the issue 🤞

[2022-04-05 09:54] turpoint commented on #31422
@kromeninja not ideal, but I fixed it in my theme by using a filter and applying the same function as in the WC core, but without the lines that remove the attribute (I've put them in comments).

[code]

[2022-04-05 10:02] K13NN13 commented on #31422
Hey @turpoint just used it and the variation is now showing up on the woocommerce basket and checkout, but not on the order complete emails or the woocommerce orders backend, its atleast better than it was, hopefully this can be resolved soonw without a workaround :) Appreciate it

[2022-04-05 10:10] turpoint commented on #31422
@kromeninja for the emails I used the filter below. For the backoffice I don't have the filter yet.

[code]

[2022-04-05 11:31] peterfabian commented on #32094
Hi @helgatheviking . Thanks for the enhancement proposal, I think it makes sense. Would you be happy to create a PR we can review for this?

[2022-04-05 11:43] peterfabian commented on #32299
I'm not certain this isn't on purpose because some mobile clients have high resolution displays, so we wouldn't want to serve 188x188 pixel images to them. That said, it could be a bug, so labeling it as one for further investigation.

[2022-04-05 11:47] swatipawarGS commented on #32464
Hi @HossamMetwally,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/161697572-efd663bd-60c7-4695-8bd3-37b61b955e40.mp4

Please provide us more detailed and an

[2022-04-05 11:48] swatipawarGS commented on #32458
Hi @sjbrunst,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/161701139-80396487-bbb8-47a9-be7e-5944fab3fe1d.mp4

Priority of this issue will be assigned shortl

[2022-04-05 11:50] swatipawarGS commented on #32455
Hi @ryanr14,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screenshot for reference :

![#32455](https://user-images.githubusercontent.com/94531721/161712008-74c5897c-41ea-40b0-8a83-4af312c79334.jpg)

Please provide us more detailed an

[2022-04-05 11:51] swatipawarGS commented on #32454
Hi @SuperHanss,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/161720229-1b3557ce-8f35-4190-b96a-5fccfc4ff839.mp4

Please provide us more detailed and any ad

[2022-04-05 11:52] swatipawarGS commented on #32423
Hi @batowaves,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screenshot for reference :

![#32423](https://user-images.githubusercontent.com/94531721/161719674-8b38ac98-1d79-4e63-8cb0-257b1d0b00ec.jpg)

Please provide us more detailed

[2022-04-05 11:58] peterfabian commented on #32368
Hey @danielbarenkamp

Thanks for coming back to us. It would be really helpful if you included
1. exact steps to reproduce the problem (e.g. including the way you set up your products) and
2. minimal code that you are probably running along with WC that exhibits the issue

Otherwise, we'd be happy to add a filter or make it possible for your plugin to run, but it's difficult to guess as we have ve

[2022-04-05 12:02] peterfabian commented on #31742
Thanks for suggesting this, it makes sense. Would you like to submit a PR for this? Thanks!

[2022-04-05 13:27] sjbrunst commented on #32458
Thanks Swati! I can see from the first half of your screencast that the product was working as intended with 40 product-level stock. We're unable to reach that state with our products: disabling "Manage stock?" for a variation and clicking "Save" doesn't actually update the variation for us.

Until this gets fixed, do you have any workarounds to suggest? My seasonal business opens in a few weeks a

[2022-04-05 13:30] SuperHanss commented on #32454
That is strange! This was tested using Chrome? I'm seeing the problem on both macOS Chrome and Android Chrome, not just on my site but many other sites using WooCommerce. Unfortunately I don't have any other devices to test it on, nor do I have the knowledge on debugging it further.

[2022-04-05 13:32] joashrajin commented on #30241
The issue is due to this code from the style.css of Storefront:

<img width="901" alt="image" src="https://user-images.githubusercontent.com/16253818/161765235-2defeb91-e5db-4a54-a872-981d825f7a96.png">

[2022-04-05 14:06] louwie17 commented on #32140
@pmcpinto I had a look at the tracks again, and it appears this has been fixed during the WC 6.3 release our `3.2` release ( I am not a 100% sure which change exactly fixed it, but the daily average seems to be around ~200 again:
<img width="1515" alt="Screen Shot 2022-04-05 at 11 03 35 AM" src="https://user-images.githubusercontent.com/2240960/161772079-d07152bf-dbba-4301-b433-36761a223457.png">

[2022-04-05 14:21] louwie17 commented on #32140
I actually believe this PR fixed it - https://github.com/woocommerce/woocommerce-admin/pull/8321
As the task completion only gets triggered for viewable tasks and in the two column task list experiment we removed the WooCommerce Payments task after completion (not triggering the completion), I can fix this as part of this PR, although it won't be relevant with the new task list experiments.

[2022-04-05 14:56] oblaum commented on #19083
great!!! thank you! @[abdulchalik](https://github.com/abdulchalik) and @[wespiremedia](https://github.com/wespiremedia)

[2022-04-05 15:04] menachemb opened #32492 "Woocommerce CSV importer in Hebrew don't tick automatically the Images variable"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When using CSV product imporer in section "Column mapping", the field "Images" donsn't filled in automatically

### Expected behavior

The "Images" field to be filled automatical

[2022-04-05 16:23] jonathansadowski commented on #32475
Hi @bradley2083,

Thank you for reporting the issue. WooCommerce Blocks is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block/

I am going to move your bug report there so that the right team could take a look further.

[2022-04-05 16:57] #32430 closed, assigned to ObliviousHarmony

[2022-04-05 18:17] louwie17 commented on #32442
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce/32442?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @octaedro

[2022-04-05 18:21] louwie17 commented on #32178
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce/32178?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @octaedro

[2022-04-05 18:29] louwie17 commented on #32355
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce/32355?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @octaedro

[2022-04-05 18:36] louwie17 commented on #32156
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce/32156?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @octaedro @joshuatf

[2022-04-05 18:38] louwie17 commented on #32137
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce/32137?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @octaedro

[2022-04-05 18:49] louwie17 commented on #32442
@pmcpinto in terms of tracks for the expanded/collapsed sections, do you have a preference for id's to use, or will any id work?
In the current open PR I am using `basics`, `sales`, and `expand` as id's for the three sections.

[2022-04-05 19:07] mihir1337 opened #32495 "Disable WooCommerce to automatically create pages"
### Describe the solution you'd like

disable WooCommerce to automatically create pages

### Describe alternatives you've considered

How can I disable WooCommerce to automatically create pages for a specific theme??
I don't want to auto-create all those pages which are created by default when WooCommerce activates.

### Additional context

_No response_

[2022-04-05 19:48] ObliviousHarmony commented on #32485
Perhaps it has something to do with the generation of the POT file? Previously, all of the JS was available in `packages/woocommerce-admin`. Now it's in `assets/client` so maybe we need to make a change here?

[2022-04-05 20:37] #31184 closed, assigned to nobody

[2022-04-05 21:06] joshuatf commented on #32128
@joelclimbsthings I wasn't able to see the ellipsis menu in the above screenshot.  Has that been resolved or is there a specific config needed to show?

It looks like it might be part of the `ProgressHeader` but I don't see it in the above screenshot.

[2022-04-05 21:32] danielbarenkamp commented on #32368
@peterfabian can I send you my plugin code via Email somehow?

[2022-04-06 04:17] wassem commented on #31478
hello this problem is still there hoping someone find solution for this

[2022-04-06 07:18] emakx commented on #31478
@ObliviousHarmony  This is taking too much time, WooCommerce is a worldwide Plugin. and this is a serious problem needs to be fixed.

Fixing this is much more important than, adding new features !!!

[2022-04-06 07:29] izonnn commented on #31478
@wassem
@emakx
https://github.com/woocommerce/woocommerce/issues/25076#issuecomment-718809528
Check this out, a workaround I found and it's working for me.

[2022-04-06 07:36] emakx commented on #31478
I don't want to do this for every store I will install.  This is a serious problem that needs to be fixed. this won't take more than 1 day form WooCommerce team

[2022-04-06 07:38] izonnn commented on #31478
I agree with you...

[2022-04-06 07:45] skadore commented on #31651
Hello,
I had the same problem, at least as it is described in this thread.
The real problem in my case was the stock values set in clients ERP had a -1 stock. So everytime after the order was synched via webhook with ERP, the stock would come from ERP and thus override the woocommerce stock, and set it to -XX depending on the values from ERP.
Maybe this helps some of you troubleshooting this issue

[2022-04-06 09:04] pmcpinto commented on #32258
Sorry, I missed this ping. Yes, I'll close it. Thanks!

[2022-04-06 09:04] #32258 closed

[2022-04-06 09:25] pmcpinto commented on #32140
Thanks for spotting this. I didn't notice that it was fixed in the previous release.

The WC-Payments counts are in line with what we're getting before the Tracks issue, so we can close this one.

[2022-04-06 09:25] #32140 closed, assigned to louwie17

[2022-04-06 09:28] pmcpinto commented on #32442
👍 these IDs are fine.

[2022-04-06 11:17] coos-max commented on #27419
Thanks! This worked for me!
After hours searching for the problem and solutions ;-(

[2022-04-06 12:01] davidpottrell commented on #7105
Still waiting

[2022-04-06 12:18] #32154 closed, assigned to louwie17

[2022-04-06 12:34] pogla opened #32504 "[Enhancement]: Add a filter in the checkout shortcode"
### Describe the solution you'd like

We have a case where we do not want to display `cart-errors.php` on the checkout at all. So even if there are error notices, we would like the customer to see the normal checkout page (with error notices displayed).

Our site does not have an option for the customer to remove their coupon. So if the current coupon in the cart applies to items that are not in t

[2022-04-06 13:28] swatipawarGS commented on #32492
Hi @menachemb,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end for Hebrew language using WooCommerce 6.3.1 version, WordPress 5.9.3 version.

Please find below screenshots for reference :

Tick the button "previous column mapping":

![#32492(2)](https://user-images.githubusercontent.com/94531721/161922421-026f44e6-f

[2022-04-06 13:51] ilyasfoo commented on #32131
@pmcpinto I have a few more clarifications to make:

1. I have moved "Enabled payment gateways" to below "Other payment gateways" since otherwise, it may disrupt the new flow when WCPay is available. I assume this is ok.
2. The new WCPay UI no longer uses the values from remote payment suggestion JSON since:
    - The elements in this section aren't standard anymore - i.e: There's the three-icon c

[2022-04-06 14:10] menachemb commented on #32492
Hi, I already tick this button, but randomly sometimes it works and
sometimes doesn't.
Anyway, all the rest of the fields are filled in automatically without
exceptions, so why only the Images field doing troubles?

Also, as I told, if I change in my CSV the title to images instead of
תמונות it's working great.
So maybe it's a problem somewhere with translation code?
Thanks!

בתאריך יום ד׳, 6 באפר

[2022-04-06 14:20] themycogrow commented on #31651
I found the problem. It was cloudflare. You need to disable cloudflare if you’re using siteground

Sent from my iPhone

[2022-04-06 14:21] #30102 closed

[2022-04-06 14:23] CHEWX commented on #24988
`remove_theme_support( 'wc-product-gallery-lightbox' );` doesn't seem to remove the front-end code!?

I've used this hacky solution which worked— https://github.com/woocommerce/woocommerce/issues/24988#issuecomment-727183860

[2022-04-06 14:45] #32495 closed, assigned to nobody

[2022-04-06 14:54] Konamiman commented on #32349
Hi @aadlung, thanks for your report. Your suggestion of adding a public function to re-initialize the form makes sense, I'll leave this enchancement request open so we'll get to work on it eventually; but if meanwhile you (or someone else reading this) wants to submit a pull request implementing it, we'll be happy to review it.

[2022-04-06 15:37] SaqibBuilds commented on #24988
@CHEWX Try [this ](https://github.com/woocommerce/woocommerce/issues/24988#issuecomment-776021798)in your theme's functions.php

[2022-04-06 15:43] CHEWX commented on #24988
The code is:

[code]

Only 1 remove should be required?

[2022-04-06 16:07] barryhughes commented on #32349
✍🏽 Not essential we do it this way, but a possible implementation strategy to consider: rather than introduce new top-level functions (like a global `init_variation_forms()`), it may be worth considering passing in a new object to the existing anonymous function, to which we can attach this and any other functions we wish to expose. Semi pseudo-code:

[code]

(This way, if we later decide we want

[2022-04-06 16:32] alexis-coulombe commented on #29876
For anyone having this issue, it's not a woocommerce bug. It's probably coming from the code in the theme you're using. In my case, it was a typo in an if condition. Instead of checking for equality ($_GET['post_type'] == 'some-post-type'), I was changing the parameter $_GET['post_type'] ($_GET['post_type'] = 'some-post -type').

[2022-04-06 20:05] joelclimbsthings opened #32508 "pnpx is deprecated in favor of using `pnpm dlx` and `pnpm exec`"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I'm classifying this as a bug as it's personally a blocker in my dev environment. The cli tool `pnpx` was deprecated in version `6.x` of pnpm, [and removed ](https://github.com/p

[2022-04-06 20:34] joelclimbsthings opened #32509 "Out of date `deasync` package causing blocking build error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When running `pnpm install` to initialize my dev environment, I immediately receive the following error:
[code]

This originated from the `deasync` package, and while searching f

[2022-04-06 21:20] SaqibBuilds commented on #24988
@CHEWX Are you trying to dequeue `photoswipe` on the product detail page only?

[2022-04-06 21:26] mohammed-breky opened #32511 "Product Attribute now showing correctly on product edite page"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

when clicking on products attribute it's now showing in the correct position

### Expected behavior

it should be showing on the top of list

### Actual behavior

right now the c

[2022-04-06 22:11] XedinUnknown opened #32512 "Wrong Argument Documentation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The method [`get_field_type()`][] says that it expects a field key. Whereas in reality, it expects a field _map_, and passing a field key silently just falls back to `text`, leav

[2022-04-06 22:52] joelclimbsthings commented on #32128
Hey @joshuatf , sorry for the delay on this. Looks like the ellipsis was already resolved by the addition of the progress header. ✅

[2022-04-07 00:22] joelclimbsthings commented on #32428
The original PR was meant to capture this requirement, although it looks like we missed a page or two (Product Add/Edit).

While thinking this over, I just wanted to confirm the requirement. It was [originally worded](https://github.com/woocommerce/woocommerce/issues/32161) as this:

So we currently have it implemented so that the reminder bar _never_ shows up on a subset of pages that are involve

[2022-04-07 04:00] CHEWX commented on #24988
Remove .pswp HTML output only.

[2022-04-07 06:06] #32478 closed, assigned to chihsuan

[2022-04-07 06:08] chihsuan commented on #32478
Hi @jignam, we have fixed the command. You can clone the [`woocommerce`](https://github.com/woocommerce/woocommerce) repo (we have merged `woocommerce-admin` into core repo.) and use the following commands:

[code]

Let me know if you're still facing the issue. Thanks!

[2022-04-07 08:01] #32174 closed, assigned to chihsuan

[2022-04-07 08:01] #32136 closed, assigned to nobody

[2022-04-07 08:25] chihsuan commented on #32268
Looks like the page is really out of date. We'll need to do the following task.

- [x] Update/add screenshots
- [x] Add Reviews panel section
- [x] Add Stock panel section
- [x] Add Help Menu section
- [x] Update Store Management to indicate that they are not shown when the setup checklist is being shown
- [x] Update Store Setup Checklist to point out how to enable them on the setting page when th

[2022-04-07 08:31] chihsuan opened #32516 "Update the links of woocommerce-admin in docs and `package.json`"
### Describe the solution you'd like

We still have many places with the URL pointing to https://github.com/woocommerce/woocommerce-admin

We should update them to https://github.com/woocommerce/woocommerce.

For example:

- https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/components/package.json#L12-L19

### Describe alternatives you've considered

_No response_

### Additional c

[2022-04-07 08:33] Konamiman opened #32517 "[PHP 8.1] Run the PHP compatibility sniff and fix any incompatibilites found"
PHP compatibility tool: https://github.com/PHPCompatibility/PHPCompatibility
Tool features to check PHP 8.1 compatibility: https://github.com/PHPCompatibility/PHPCompatibility/issues/1299

[2022-04-07 09:12] skyfireco opened #32519 "a woocomerce bug"
I made an ecommerce site using wordpress and woo commerce and in the main menu of my site sits my product categories. and i used to press on each catergory and the products would pop up just fine but since 2 days the menu is there the categories are there but if you press on them they are completely empty. it is like the site is there but empty and ive tried almost every solution on google nothing

[2022-04-07 09:37] pmcpinto commented on #32131
Hey @ilyasfoo here's my feedback:

That's ok. Just one detail: the offline payments methods section should also be included within the "Other payment methods". In your screenshot, this section is placed below the "Enabled payment gateways".

I think I forgot to mention this: the goal is to keep the existing WCPay UI because the Payments team still needs to test the new UI in the WCPayments welcome

[2022-04-07 10:36] scrobbleme opened #32520 "Wrong default country after upgrade to 6.3.x (for Germany)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

I had this on multiple sites.

After one of the latest WooCommerce upgrades the default country was reset to "Afghanistan" (which is just the first country in the list)

[2022-04-07 15:03] scrobbleme commented on #32520
Follow up. It happens when updating to 6.3 from any previous version.

[2022-04-07 15:11] mattsherman commented on #32157
Reopening... it isn't Done... e2e testing are outstanding (#32505)

[2022-04-07 15:14] mattsherman commented on #32126
@pmcpinto Do you agree with this proposed enhancement?

[2022-04-07 15:36] octaedro commented on #32141
Hi @jarekmorawski,

I'm working on this issue now and I would need an image (Pinterest logo) to show in the marketing task, like these:

![screenshot-localhost_10038-2022 04 07-11_55_38](https://user-images.githubusercontent.com/1314156/162229453-dfd6a88f-c7ed-423b-b3d8-ed25a5b2b5c4.png)

I don't have the right programs to edit images, could you give me a `.png` to use here or point me in the righ

[2022-04-07 16:52] moon0326 opened #32522 "Remove WCA deactivation hook usage"
### Describe the solution you'd like

WooCommerce Admin has been merged to the core and there is no deactivation hook fired for WooCommerce Admin anymore. However, we have two places where we still depend on WCA deactivation.

We should consider using WC deactivation hook instead.

https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Admin/Composer/Package.php#L59

https:/

[2022-04-07 17:31] moon0326 opened #32524 "Use REST API to query orderCount and publishedProductCount"
### Describe the solution you'd like

We're injecting `orderCount` and `publishedProductCount` via [woocommerce_admin_shared_settings](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Internal/Admin/Homescreen.php#L54) filter on the pages where we don't need the values. It is unoptimized and might cause performance issues.

We should use REST API to query the values to

[2022-04-07 17:34] moon0326 commented on #32524
Hey @mattsherman  ✋

I think this issue is a Manage issue. Could you take a look at it, please?

more details: p6JqRr-5HZ-p2#comment-13560

[2022-04-07 17:39] mattsherman commented on #32524
@moon0326 Thanks for putting this on my radar... Mothra will take a look at this.

[2022-04-07 17:45] mattsherman commented on #32524
See also: 13033-gh-Automattic/woocommerce.com

[2022-04-07 17:47] octaedro commented on #32141
Hey @pmcpinto,

I wanted to ask you if, in addition to the tasks described above, we should add a link to the [Pinterest setup documentation](https://woocommerce.com/products/pinterest-for-woocommerce/) in the help panel for marketing extensions.

![screenshot-localhost_10038-2022 04 07-14_38_23](https://user-images.githubusercontent.com/1314156/162264172-8cb2b494-dd8e-4dc1-867b-758e2846b68a.png)

[2022-04-07 19:38] joey1613 commented on #32511
How did you solve this issue? I've got the exact same issue for my "attributes" and "variations" section on the "edit product page"

[2022-04-07 19:49] #32431 closed, assigned to psealock

[2022-04-07 19:59] andreeasz commented on #31812
Any news about this problem...? :(

[2022-04-08 00:12] ilyasfoo commented on #32131
Thanks for the feedback, @pmcpinto!

Alright, I'll move the offline section to above "Enabled payment gateways" section.

Ah, bummer. I should've asked why it wasn't on the AC list, my bad. I'll revert this part if we confirm it's not ready yet. I think I can keep the work done somewhere and I'll be able to help the WCPay team if they want it.

[2022-04-08 00:37] #30907 closed, assigned to nobody

[2022-04-08 01:10] adrianduffell commented on #32522
Setting a critical priority to this to make it into 6.5. It is needed to ensure the previous Woo Admin uninstall routines occur when the plugin is uninstalled.

[2022-04-08 02:08] #32399 closed, assigned to chihsuan

[2022-04-08 02:08] #32296 closed, assigned to chihsuan

[2022-04-08 03:05] mohammed-breky commented on #32511
unfortunately not yet, tried to reinstall woocommerce but it didn't solve the issue, also the same issue is in attribute and variations tabs

[2022-04-08 06:02] ASI-Wise opened #32529 "Duplicate order numbers"
When quotes are converted to Invoices in XERO (linked to WooCommerce), WooComerce is duplicated in theInvoice number used on the next order that comes through via the website.

Eg. Sally smith has been quoted by the team in Xero and that Quote (QU001) is then converted to an invoice (INV001) for product ABC
John Jones then places an order for product DEF online via the WooCommerce Store. An order

[2022-04-08 06:58] chihsuan commented on #32268
@woocommerce/ghidorah  This is not urgent. I just updated the [Home Screen Documentation](https://woocommerce.com/document/home-screen/). Could I get a review on this today or next week? Thanks.

[2022-04-08 08:44] swatipawarGS commented on #32520
Hi @scrobbleme,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/162383029-a9ddc060-e34a-4e95-b07f-96cd949bb95f.mp4

Priority of this issue will be assigned shor

[2022-04-08 08:45] swatipawarGS commented on #32511
Hi @mohammed-breky,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.3 version.

Please find below screenshots for reference :

Attributes :
![#32511(att)](https://user-images.githubusercontent.com/94531721/162386310-c10edc78-fdae-4bbd-828e-549ad555db85.png)

variatio

[2022-04-08 09:13] #32417 closed, assigned to nobody

[2022-04-08 09:16] AashikP commented on #42675
Was triaging some bug reports and just adding to note that this can still be replicated:

![https://d.pr/i/XOUbRc+](https://d.pr/i/XOUbRc+)

WooCommerce : 6.3.1
WooCommerce Blocks: 7.3.0

[2022-04-08 09:38] ilyasfoo opened #32532 "Add schema documentation for Admin's JSON endpoints"
### Describe the solution you'd like

Some of WooCommerce plugin and WooCommerce.com [[1](https://woocommerce.com/wp-json/wccom/payment-gateway-suggestions/1.0/suggestions.json), [2](https://woocommerce.com/wp-json/wccom/inbox-notifications/1.0/notifications.json), [3](https://woocommerce.com/wp-json/wccom/obw-free-extensions/3.0/extensions.json)] JSON endpoints are not documented. The risk of thi

[2022-04-08 11:14] martynmjones opened #32533 "Variations become hidden and inaccessible after deleting a global attribute"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If you delete a global attribute being used for variations then the attribute name will display on the front end of the website:

<img width="1029" alt="Markup 2022-04-08 at 12 0

[2022-04-08 12:05] #32330 closed, assigned to nobody

[2022-04-08 12:07] thisissandip commented on #32217
32340763-hc

[2022-04-08 12:48] gigitux commented on #42638
For now, we will not work on this issue. Our goal is to have the blockified Single Page template. In this way, we will be able to provide consistent behavior for the Mini Cart block.

I will not close this issue. Consider it as a reminder.

[2022-04-08 15:01] jonathansadowski commented on #32529
Hi @ASI-Wise,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the Xero plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact WooCommerce support team by [opening a ticket or starting a live chat

[2022-04-08 15:01] #32529 closed, assigned to nobody

[2022-04-08 16:47] louwie17 commented on #32158
@jarekmorawski / @pmcpinto what if the user click's cancel after the feedback Modal opens (when the user clicked difficult or very difficult). Will we then still submit the score data and show the `We appreciate your feedback!`? or show neither and make the bar dissapear?

[2022-04-08 18:08] JoshuaGoode opened #32536 "Coupons: Issues with latin1 and non-latin1 characters"
Re: p9F6qB-94u-p2

### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Re: p9F6qB-94u-p2

Sites using the `latin1, latin1_swedish_ci` charset & collation can encounter issues with coupon codes similar to the search issues describe

[2022-04-08 19:04] ObliviousHarmony commented on #31812
@jeffpaul If the bug is in WooCommerce Core, not an extension, I think it makes the most sense to fix here.

[2022-04-08 19:05] #31651 closed, assigned to nobody

[2022-04-08 19:53] octaedro commented on #32141
Hi @pmcpinto,
I'm pinging you again just in case you didn't see [the question I asked above](https://github.com/woocommerce/woocommerce/issues/32141#issuecomment-1092025295).

[2022-04-08 21:13] coreymckrill opened #32539 "The `auto-draft` status for orders is not recogized in some places in the code, causing the order status to present as the default `pending` instead"
When submitting data to update an order through the API, and including `auto-draft` as the value of the `status` property, WC doesn't recognize `auto-draft` as a valid status _of the existing order_ and resolves it as `pending` instead. So then it interprets that the status is changing from "Pending" to "auto-draft" and creates an order note about it.

**To reproduce:**

1. Find the ID of an exist

[2022-04-08 21:43] ObliviousHarmony commented on #32485
I've spent some time looking at this issue and I want to share my findings. I knew very little about how WordPress i18n works when starting this so I went down a few rabbit holes.

- The strings are being found by `makepot` so we shouldn't see any problems with translations themselves.
- I compared the `date/index.js` file between `trunk` and `release/6.4` and found some notable differences:
  - T

[2022-04-08 21:43] thracefulton commented on #30270
4930712-zen

[2022-04-08 22:38] thracefulton commented on #30270
The use of the setting was proposed in 4930712-zen, as it more closely aligns with the user's calculation method. Noting the ticket here since they will rely on a fix to this bug for the setting to be useful.

[2022-04-09 09:55] mohammed-breky commented on #32511
i tried different versions of woocommerce but the exact same issue appears every time
i aslo tried woocommerce official method of uninstalling using define( 'WC_REMOVE_ALL_DATA', true );
after that i get this error :
Deletion failed: There has been a critical error on this website.Learn more about troubleshooting WordPress.

[2022-04-09 10:58] froger-me opened #32542 "Order again item meta stores term value vs. Order item meta stores term slug"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There seems to be an inconsistency when saving order item meta between a normal order and an order placed after using the  "Order again" button:

* Upon placing an order #xxx for

[2022-04-09 11:49] froger-me commented on #32542
In the meantime, one can use a (somewhat inefficient) fix like below:

[code]

[2022-04-09 14:35] froger-me opened #32543 "woocommerce_trash_order and woocommerce_delete_order actions not called"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

`woocommerce_delete_order` and `woocommerce_trash_order` are not called when deleting orders from:
* `/wp-admin/edit.php?post_type=shop_order`
* `/wp-admin/post.php?post=[order_i

[2022-04-09 16:21] sandrodz commented on #32055
I logged calculate_shipping method and its being called 10 times normally and 20 times when in debug mode.

This is super weird :)

[2022-04-09 18:04] andrewbacon opened #32544 "WooCommerce Core + GiveWP Core + Events Calendar and Events Calendar PRO + Enfold theme (AVIA Builder) = AVIA Builder elements do not display"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
WooCommerce Core + GiveWP Core + Events Calendar and Events Cale

[2022-04-09 18:06] andrewbacon opened #32545 "Issue Description: WooCommerce Core + GiveWP Core + Events Calendar and Events Calendar PRO + Enfold theme (AVIA Builder) = AVIA Builder elements do not display No problems with any one or two plugins together. All three plugins active together breaks AVIA Builder elements."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Issue Description:
WooCommerce Core + GiveWP Core + Events Calendar and Events Calendar PRO + Enfold theme (AVIA Builder) = AVIA Builder elements do not display

No problems with

[2022-04-10 00:36] #31459 closed, assigned to nobody

[2022-04-10 00:44] Johnny99211 opened #32546 "WooCommerce product importer parse categories issue during Cron"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Since I need to develop an automatic product import from a sub-service, I've created a WordPress cron job. Within the function of the cron job, I'm using the WooCommerce product

[2022-04-10 11:18] spadeshoe commented on #27015
@aheckler Thanks for the workaround. I had the same issue with US zip codes. Copying the last number in the range to a new line worked. Additional, only one * is required even for a 5 digit zip codes. This seems strange, but ** does not work on single line, but it works in a range. ie: in 376**...379**, 376** would work, but 242** would fail.

242*
307*
373*...374*
374*
376*...379*
379*
407*...409

[2022-04-10 12:11] rashedripon opened #32547 "[Enhancement]: Add the "%" placeholder text in the bulk edit sale price field"
### Describe the solution you'd like

When bulk editing the product's sale price by percentage the placeholder only says "Enter Sale Price ($)". There is no mention that we can use "%" values.

### Describe alternatives you've considered

Instead of saying "Enter Sale Price ($)" we can say "Enter Sale Price ($) or % value (e.g. 20%)".

### Additional context

![If this image fails to load, please

[2022-04-10 15:03] mohammed-breky commented on #32511
i deleted the whole wordpress installation and reinstall woocommerce, it works now.

[2022-04-10 15:03] mohammed-breky commented on #32511
i deleted the whole wordpress installation and reinstall woocommerce, it works now

[2022-04-10 15:03] #32511 closed, assigned to nobody

[2022-04-10 17:31] joey1613 commented on #32511
For me it was an issue with "JetThemeCore" plugin created by crocoblock.com, they said they are aware of the issue and working on it and I have temporarily rolled back the plugin version.

[2022-04-10 22:14] synapticweb opened #32548 "[REST api] option fields in product default_attributes are always lowercase"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The products REST api has a key named default_attributes that contains the default form values set in product variations on variable products. It is a list of maps that have the

[2022-04-11 00:36] #31992 closed, assigned to nobody

[2022-04-11 00:36] #32019 closed, assigned to nobody

[2022-04-11 02:38] chihsuan opened #32549 "Admin JS tests is broken"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Lint and tests Github action is failing because feature flag config files have been move to Woocommerce plugin.

https://github.com/woocommerce/woocommerce/runs/5881994933?check_

[2022-04-11 03:45] ObliviousHarmony opened #32551 "Standardize `build` Executor"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

All of the `build` executors for projects within the monorepo s

[2022-04-11 03:50] ObliviousHarmony opened #32552 "Standardize `test` Executor"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

All of the `test` executors should run unit tests for any langu

[2022-04-11 03:51] ObliviousHarmony opened #32553 "Standardize `e2e` Executor"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

An `e2e` executor should be the standard way of executing end-t

[2022-04-11 03:53] ObliviousHarmony opened #32554 "Standardize `lint` Executor"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

There should be a single `lint` executor that runs linting agai

[2022-04-11 03:58] ObliviousHarmony opened #32555 "Standardize `watch` Executor"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

[Like the `build` executor](https://github.com/woocommerce/wooc

[2022-04-11 04:01] ObliviousHarmony opened #32556 "Standardize `install` Executor"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

There should be a standard `install` executor that performs any

[2022-04-11 04:10] adrianduffell commented on #32466
Unminification is possibly related to translations. It was mentioned in the comment https://github.com/woocommerce/woocommerce/issues/32485#issuecomment-1093384417.

[2022-04-11 06:48] ObliviousHarmony commented on #32555
It might also be the case that we can support `--watch` as a flag passed to other executors. I ran into some problems trying this out locally before, because it would pass the flag to every dependency and those without watch support would die. Maybe there's an option we can set to indicate whether or not an executor supports watching?

In cases where watch functionality doesn't exist, does Nx offe

[2022-04-11 08:26] #32426 closed, assigned to nobody

[2022-04-11 09:03] mohammed-breky commented on #32511
can you please link the thread of crocoblock

[2022-04-11 09:05] pmcpinto commented on #32158
@louwie17 Just to clarify, are you talking about clicking on the "hide this" option?

[2022-04-11 09:07] pmcpinto commented on #32141
@octaedro sorry for the late reply, I was afk on Friday.

I think that makes total sense. Feel free to move forward with the suggestion. Thanks!

[2022-04-11 09:26] pmcpinto commented on #32126
Yes, I think it makes sense to check off the Payments task when WCPayments is active.
In WC 6.4 we'll make some changes to start showing the "Setup additional payment providers" task in "Things to do next" when the user completes the WCPayments setup. More info about this change [here](https://github.com/woocommerce/woocommerce-admin/issues/8315).

[2022-04-11 10:25] #32549 closed, assigned to chihsuan

[2022-04-11 10:42] joey1613 commented on #32511
there is no current thread, I just spoke with support

[2022-04-11 10:46] mohammed-breky commented on #32511
can you forward the email with the exact plugin version to me ?

[2022-04-11 12:08] #32425 closed, assigned to joshuatf

[2022-04-11 12:15] louwie17 commented on #32158
No, I mean when the user clicks on the Very difficult, or difficult option and then the CES Modal shows up. The user has the ability to click cancel instead of `Send`. What should we be doing in that case? (still submit the original score without comments? and show the 'Thank you for your feedback' - maybe a bit confusing for the user, or not submit it, and make the feedback disappear).
<img width

[2022-04-11 12:24] joey1613 commented on #32511
The issue is with the latest version, JetThemeCore 2.0.0 released on March 28, 2022. Like I mentioned earlier, the issue goes away if you roll it back one version.

You can keep an eye on the link below for when they release the next version.

https://crocoblock.com/changelog/

[2022-04-11 13:11] jarekmorawski commented on #32158
Hi @louwie17! Thanks for raising this question, it's a really good one. I think it'd make sense to only submit the rating when someone clicks `Send`. If someone selects `Cancel`, they wouldn't submit the score. The comment is optional so they can send the rating in a just one click.

By the way, can we change the font case of the `Optional` part in the comment field's label to sentence? `Comments

[2022-04-11 13:25] louwie17 commented on #32158
Thanks, that makes sense, will we make the the `How was your experience` also disappear after they clicked cancel?

To clarify, you mean just changing `Comments (Optional)` to `Comments (optional)`?

[2022-04-11 13:28] jarekmorawski commented on #32158
No. I was thinking it'd just close the modal, but not dismiss the card in the Home screen (people could do that manually if needed).

Yes, just the text. The `optional` part should be written in sentence case since it's part of the field's label.

[2022-04-11 13:53] codecraftscraic opened #32560 "Programmatically deleting a product does not remove the product from wp_wc_product_meta_lookup"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When trying to remove a test product programmatically with the provided woo functions the test product was not removed from `wp_wc_product_meta_lookup` when using the provided fu

[2022-04-11 14:40] joshbetz commented on #32539
Is there a function that checks that something is a valid WC status? Or can we add one? My only concern with removing the `wc-` check is that it seems pretty easy to have collisions with other plugins.

[2022-04-11 14:45] ronnyadsetts commented on #31448
I've just run in to this issue when converting some internal v2 REST API hooks to work with v3 requests. We're doing some filtering on orders because 3rd-party shipping integrations always want every order in the 'processing' state. A new provider is using the v3 API so need to monkey with the post_status part of the query.

[2022-04-11 15:54] seanbelly opened #32563 "[Enhancement]: [woocommerce_checkout] Shortcode does not contain Phone Field."
### Describe the solution you'd like

The block version of the checkout shortcode shows the phone number field in the shipping section, but the shortcode version doesn’t.

You can see [in the code](https://github.com/woocommerce/woocommerce/blob/f7937593e90739421e15ecf27e54c3d7d0bb24b5/plugins/woocommerce/includes/class-wc-countries.php#L1577-L1599) this is done on purpose (i.e. hiding the e-mail

[2022-04-11 16:34] senff commented on #32149
Additional information: if the store owner does not want any of these marketing tools to begin with, there should be a "Skip this step" on the page at **http://YOURSITE.com/wp-admin/admin.php?page=wc-admin&task=marketing** ).

![skip](https://user-images.githubusercontent.com/1710669/162787826-007ae78a-d641-4d53-b1a7-d61b9a1cfea9.png)

[2022-04-11 16:42] jonathansadowski opened #32566 "Improve performance of changelogger validation GH action"
In #32525, we attempted to deepen the git history to the merge base so that we don't have to pull the entire git history to check the current PR against trunk. We observed some inconsistent behavior with the approach in that PR, so I created #32564 to update the fetch-depth to fetch the entire history of the repo so we could unblock anybody stuck by the issue fixed in both PRs.

Despite this, chec

[2022-04-11 17:17] kerrmcilwraith opened #32567 "Wordpress Author level log in is redirecting to Homepage"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When Author level users try to log in to our website, they are re-directed to the homepage (logged out) rather than the WP Dashboard.

### Expected behavior

Once logging in, the

[2022-04-11 17:30] #31766 closed, assigned to vedanshujain

[2022-04-11 18:13] kerrmcilwraith commented on #32567
Hi there. I have solved the problem. You have to allow the AUTHOR level user access to manage WooCommerce.

[2022-04-11 18:59] coreymckrill commented on #32539
There's [`wc_is_order_status()`](https://github.com/woocommerce/woocommerce/blob/e9e382adf8509ae407c68cc5ebef378f29de8cdc/plugins/woocommerce/includes/wc-order-functions.php#L106-L115), although unfortunately it doesn't do any handling of the `wc-` prefix the way that [`wc_get_order_status_name()`](https://github.com/woocommerce/woocommerce/blob/e9e382adf8509ae407c68cc5ebef378f29de8cdc/plugins/woo

[2022-04-11 18:59] senff commented on #32149
Even more additional details: this step will only be marked as "Completed" if any of the 4 plugins is actually **installed** on the site (though it does not need to be **active**). If you delete them again (and so none of the 4 plugins is present on the site), Step 6 will revert back to "Uncompleted".

It should not be a requirement to have at least one of these 4 plugin installed, in order to mar

[2022-04-11 19:59] arnaudpfu commented on #9320
I had the same problem on a client's site.
He was using a 10% VAT (with a shipping cost of 1€, we had 1,10€).

To solve this problem, I subtracted the VAT amount from the total.
This way, when the tax amount is added, we have a price including VAT.

Here is the snippet :

	// We check that we are currently using the TTC on the store.
	if ( 'yes' === get_option( 'woocommerce_prices_include_tax', 'n

[2022-04-11 20:21] daigo75 commented on #9320
@arnaudpfu thanks for your contribution. If you need, you can also find a similar contribution that I posted a while ago: https://github.com/woocommerce/woocommerce/issues/9320#issuecomment-644262317. The logic is slightly different, but it should produce the same result.

[2022-04-11 20:54] coreymckrill commented on #32539
If we're going to try adding `auto-draft` to the canonical status list, should we add `trash` also?

[2022-04-11 21:14] joelclimbsthings opened #32568 "Unable to build when using git worktree"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `git:update-hooks` npm script, which is run as a `postinstall` hook, is failing when using an instance of a worktree instead of a direct clone. It's become increasingly commo

[2022-04-11 23:00] HQv2 opened #32570 "Incorrect results in product analytics"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In Analytics > Products, when you try to view a single shirt and it's variations, the results show more products than what you selected.

Here is a screenshot to help better expl

[2022-04-12 00:39] mohammed-breky commented on #32511
ok, thank you for addressing the issue

[2022-04-12 02:04] jacob-sewell opened #32573 "[Enhancement]: Add context param to get_notes_where_clauses and associated methods"
### Describe the solution you'd like

This is a monorepo retreat of the second part of the old woocommerce-admin issue [8385](https://github.com/woocommerce/woocommerce-admin/issues/8385).

Read the original issue or the associated PR for much more discussion, but the basic idea here is we add an optional `$context` parameter to the `get_notes()` family of methods, and it gets passed to the `wooco

[2022-04-12 02:58] gofastandpray commented on #32271
I'm new to woocommerce but just experienced the same issue after setting up all the tax jurisdictions in my state. Why doesn't woocommerce/reports/tax simply use the "tax name" (presumably the tax jurisdiction name) in the first column "tax" instead of some combination of location fields. This seems like it should be a simple change and would provide the needed functionality for tax reporting.

[2022-04-12 03:28] ilyasfoo opened #32575 "Add generic payment method icon as fallback in payments task"
### Describe the solution you'd like

Follow-up to https://github.com/woocommerce/woocommerce/issues/32131.

Payment method icons may fail to load and we should have a fallback image due to internet disconnectivity or server issues. We should add a local fallback generic image.

![image](https://user-images.githubusercontent.com/3747241/162873317-77758691-350c-4d9a-ad82-4a97f7005149.png)
<p align

[2022-04-12 04:29] chihsuan commented on #32466
Maybe we can just add comments in the webpack config? I think we don't have many things to document. And I'm afraid if we place the documentation in the repo wiki, someone would forget to update it when changes are made.

[2022-04-12 05:41] davefx opened #32576 "Exception when serializing Order in WC_Log_Handler_DB"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On my site, we have WC_Log_Handler_DB active.

I'm finding that, when there's an error when changing the status of an order, the log shows the Exception "Serialization of 'Closur

[2022-04-12 07:25] vedanshujain commented on #31862
Done in #32034

[2022-04-12 07:25] #31862 closed, assigned to vedanshujain

[2022-04-12 07:25] vedanshujain commented on #31863
Done in #32034

[2022-04-12 07:25] #31863 closed, assigned to vedanshujain

[2022-04-12 07:26] vedanshujain commented on #31865
Done in #32034

[2022-04-12 07:26] #31865 closed, assigned to vedanshujain

[2022-04-12 07:26] vedanshujain commented on #31767
Done in #32034

[2022-04-12 07:26] #31767 closed, assigned to vedanshujain

[2022-04-12 07:41] adrianduffell opened #32581 "Fix TypeScript Annotations in React Admin Client"
There are 200+ TypeScript errors in the admin client. This issue tracks the progress fixing them in each of the components.

- [X] dashboard @chihsuan
- [X] homescreen @chihsuan
- [X] navigation @chihsuan
- [x] payments @chihsuan
- [x] payment-welcome @chihsuan
- [X] shipping
- [ ] tasks @chihsuan
- [x] two-column/tasks @chihsuan
- [X] wp-admin-scripts - [PR](https://github.com/woocommerce/woocomm

[2022-04-12 08:16] adrianduffell opened #32583 "Report the status of admin items in SSR"
To help testers verify the status of back-end items used by the react admin client, it would be nice to have reporting in the [SSR](https://href.li/?https://woocommerce.com/document/understanding-the-woocommerce-system-status-report/).

For example:

* Which features are enabled/disabled?
* Is the daily cron job active, when does it next run?
* Do the important [options](https://href.li/?https://d

[2022-04-12 08:30] adrianduffell opened #32584 "Add tests for admin installation routine"
As a follow-up to PR https://github.com/woocommerce/woocommerce/pull/32513, this issue is to improve the amount of automated tests related to the admin install routine.

[2022-04-12 08:33] jarekmorawski commented on #32141
Hi! 👋 I agree with what Pedro said, it'll be nice to keep the documentation tab up to date. As for the Pinterest logo, I've attached it below. It's the same one that we use in the official plugin.

![pinterest_logo](https://user-images.githubusercontent.com/79307566/162917574-49eec00b-cda3-4d5a-ab55-ac88ba41832b.svg)

[2022-04-12 08:45] neilmccreadie commented on #32563
It's also suggested for consistency that the Shipping Phone field be included in the MY ADDRESSES section of the  [woocommerce_my_account] shortcode.

[2022-04-12 09:31] verofasulo opened #32585 "Store Location: Profiler - Step 1"
## User Story

## Acceptance Criteria

[code]

[2022-04-12 09:47] verofasulo opened #32586 "Store location: Welcome dialog"
**Description:**
Collecting the store location right at the beginning of the new user experience is critical, as payments, shipping, and taxes recommendations are tailored according to the store country. About 25% of new users skip the store profiler. Among them, less than 2% add the store location during the first 3 days of activity through settings or the shipping/tax tasks.
We assume it might b

[2022-04-12 10:05] verofasulo opened #32587 "Store location: Task list"
**Description:**
Collecting the store location right at the beginning of the new user experience is critical, as payments, shipping, and taxes recommendations are tailored according to the store country. About 25% of new users skip the store profiler. Among them, less than 2% add the store location during the first 3 days of activity through settings or the shipping/tax tasks.

When the user click

[2022-04-12 10:47] #32314 closed, assigned to nobody

[2022-04-12 10:56] ilyasfoo commented on #32132
Hi @pmcpinto, it seems there are some discrepancies with the spreadsheet. For example, Stripe is currently visible for countries `'MY', 'SI', 'PR'` but they aren't listed in the spreadsheet. What should we do for these cases?

[2022-04-12 11:29] tapanshah21 opened #32588 "Setup Wizard Store details page, continue button is enabled even when email is null"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On the Store details page of the WooCommerce setup wizard, the email field becomes mandatory if the `newsletter signup` checkbox is checked. However, in this particular scenario,

[2022-04-12 12:25] mattsherman commented on #32428
@joelclimbsthings That is exactly how it was intended to be implemented.

[2022-04-12 12:30] #32130 closed, assigned to moon0326

[2022-04-12 14:26] rupole1185 opened #32590 "Save SEPA Direct Debit for future transfer"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Error when saving SEPA DD on stripe using WOOCOMMERCE.
Stripe replies that a "_Parameter missing: owner.addresss.country_”.

I investigated a bit more and I found in Stripe docum

[2022-04-12 14:27] #32128 closed, assigned to louwie17

[2022-04-12 15:05] #31347 closed, assigned to jorgeatorres

[2022-04-12 15:38] markeagling commented on #24988
Hi @CHEWX, I needed to remove the .pwsp html code from the bottom of the page too, @attitude provided a solution for this above that worked for me perfectly, basically just create an empty  function woocommerce_photoswipe() {}!

[2022-04-12 16:37] barryhughes commented on #31519
Would either of you be able to share a system status report? I'm keen to see if there is anything there that would help us replicate this (I've tried a few things, including deleting all entries in the analytic look-up tables, but still cannot replicate).

That said ... it does look like we could make the [relevant code](https://github.com/woocommerce/woocommerce/blob/6.3.1/plugins/woocommerce/inc

[2022-04-12 16:40] barryhughes commented on #30897
Seems like a reasonable enhancement. We might also log a warning if we detect a non-existing fieldset has been requested.

[2022-04-12 16:55] barryhughes commented on #31358
Thanks, though I don't think any further feedback is really needed at this point.

The [original issue](https://github.com/woocommerce/woocommerce/issues/27661) is already marked as an enhancement and it seems like a solid idea, though not necessarily a high priority. As to which issue should remain open, it doesn't make a massive difference on our end (plus, there may be useful information in the

[2022-04-12 16:55] #31358 closed, assigned to nobody

[2022-04-12 17:46] barryhughes commented on #31448
It would seem possible to modify the request before it is processed. Example:

[code]

What that sort of strategy work for you as an alternative to the APIv2 solution you were using?

[2022-04-12 17:52] moon0326 commented on #32584
FYI: I'm going to add more tests to this [PR](https://github.com/woocommerce/woocommerce/pull/32513) as the PR has all the install-related changes.

[2022-04-12 18:01] paoloromano commented on #32065
I still have this issue.
I delete the transient and i regenerate the lookup table.
Any other solutions?
Thanks

[2022-04-12 19:12] KASHIFALIQP opened #32592 "Coupons code didn't apply, even not validated"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am passing coupon lines with code, on wordpress dashboard I can see my coupon codes, but discount didn't apply for some reason, I am very frustrated, what is this?

### Expecte

[2022-04-13 02:24] RondoHsieh opened #32595 "Catalog visibility: Hidden doesn't work"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I found on the website that Catalog visibility: Hidden doesn't work, and build an empty website test, the problem is still not solved.

### Expected behavior

I expected that aft

[2022-04-13 02:27] ilyasfoo commented on #32132
@pmcpinto Another discrepancy with Paypal's current rule [not showing for `IN`](https://github.com/Automattic/woocommerce.com/blob/trunk/plugins/wccom-plugins/payment-gateway-suggestions/includes/class-payment-gateway-suggestions.php#L158-L162) but is an additional gateway in spreadsheet.

[2022-04-13 02:27] jostnes opened #32596 "[Coupon] - Coupon amount not deducted from order total if coupon added before product added"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Found this from testing p91TBi-6ZF-p2
During order creation, if a coupon is added before a product is added, the coupon amount is not reflected in the total amount.

Screen recor

[2022-04-13 02:32] ilyasfoo commented on #32132
For posterity: Another discrepancy with Paypal's current rule  shows for every country except for `IN` but is an additional gateway in spreadsheet

[2022-04-13 04:18] adrianduffell commented on #32268
The Home Screen documentation looks terrific, thank you @chihsuan 🏅

[2022-04-13 04:31] adrianduffell commented on #32466
Yeah that sounds perfect, good idea!

[2022-04-13 04:52] #32131 closed, assigned to ilyasfoo

[2022-04-13 04:57] psealock commented on #32434
@ObliviousHarmony I'm not so sure this belongs in `plugins/woocommerce`. The current usage is exclusively `@woocommerce/components`, but I remember you had some ideas of composing entire UI's using storybook, is that right?  Another potential use case is [design systems](https://storybook.js.org/tutorials/design-systems-for-developers/), which is an extension of a component library.

To be agnosti

[2022-04-13 06:20] rudee24 commented on #27308
I noticed in the code that the patch I suggested has been used but I can't see any credit given.

[2022-04-13 06:39] chihsuan opened #32598 "Remove woocommerce-admin .github folder"
### Describe the solution you'd like

Remove the woocommerce-admin .github folder since we have merged all needed actions into the core.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-04-13 06:40] simkoG commented on #31519
@barryhughes Here it is. This site threw the warnings just before I copied the site health data.

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2022-04-13 06:59] drwpcom opened #32600 "Second Address Line is Hidden for Vietnam"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When Vietnam is chosen as the country while entering in an address on Checkout, the second address line is hidden. [Postal union fact sheet](https://www.upu.int/UPU/media/upu/Pos

[2022-04-13 07:59] stevenbrookes commented on #22203
@kloon  I think you've misunderstood the problem.  This is about the number of items to be restocked based on the refund and is affected by the restock flag in the admin UI.  I believe there needs to be an extra flag on the API call response to indicate whether the item(s) should be returned to stock or not.

[2022-04-13 08:35] SuperHanss commented on #32454
Is anyone able to reproduce this with the latest Chrome? It's occuring on demo stores too -  https://veganfoodshop.thunder-stores.com/

[2022-04-13 08:49] jimjasson opened #32601 "Error when requiring `feature-config.php` as it doesn't exist"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

At this point: https://github.com/woocommerce/woocommerce/blob/d914efc8ba5e0bc8c6261b80c1a53f8c8cb70aad/plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php#L77, the `/includ

[2022-04-13 09:04] pmcpinto commented on #32132
We should keep Stripe visible for the countries included in the current logic.

Here's the info regarding the new extensions that are included in the logic:

**Title:** Afterpay
**Description:** Afterpay allows customers to receive products immediately and pay for purchases over four installments, always interest-free.
Plugin download: https://wordpress.org/plugins/afterpay-gateway-for-woocommerce

[2022-04-13 10:24] #31769 closed, assigned to Konamiman

[2022-04-13 10:41] ilyasfoo commented on #32132
Thanks for clarifying, @pmcpinto!

This is a new use case, we don't currently have a non-wporg plugin listed in there. Should the CTA be "Get Started" even though it would go to wccom?

[2022-04-13 10:50] SuperHanss commented on #32454
UPDATE: I've managed to get this working. It seems with Chrome a delay is needed before 'wc_fragment_refresh' can be triggered:

[code]
Simply adding a short delay to the script introduced in #https://github.com/woocommerce/woocommerce/commit/747a6d51d1a38b11d84b731d40ec69eb81fd8b4c successfully fires the Ajax request. Perhaps something to do with Chrome bfcache? @mikejolley @jonathansadowski

[2022-04-13 10:58] chihsuan commented on #32601
Hi @jimjasson `feature-config.php` will be dynamically generated when you run the command `pnpm nx build woocommerce`. The changes are made in [this PR](https://github.com/woocommerce/woocommerce/pull/32500).

I'm closing this. Let me know if you still find this an issue. Thanks!

[2022-04-13 11:09] #32601 closed, assigned to nobody

[2022-04-13 12:36] pmcpinto commented on #32132
Yes. Thanks

[2022-04-13 13:02] deepakpathania opened #32604 "Admin E2E tests break after version bump for environments wit es6 module"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When trying to use the latest version(v1.0.0) of `@woocommerce/admin-e2e-tests` to write tests for projects with `es6` target, we see the following error message:
[code]

The las

[2022-04-13 13:19] #32444 closed, assigned to bgrgicak

[2022-04-13 13:22] jimjasson commented on #32601
Thanks @chihsuan for sharing some more insight on this!

We were seeing these errors in our CI tool when we were running unit tests -- WooCommerce doesn't need to be built for unit tests to run.

Looking at the PR you mentioned, we found that we could get the `feature-config.php` file by running `php bin/generate-feature-config.php`.

Thanks for pointing us to the right direction!

[2022-04-13 13:27] raifd commented on #32065
4944160-zd-woothemes

[2022-04-13 13:33] paoloromano commented on #32065
In my website we have two langs. For default lang disabling plugin "Product Visibility by User Role for WooCommerce" solve the issue. But I still have the issue on english lang.

[2022-04-13 14:55] helgatheviking opened #32607 "[Enhancement]: Paginate enhanced product search results when over search threshhold"
### Describe the solution you'd like

An enhanced product search, maps to the `WC_Ajax::json_search_products()` method and the results are ultimately limited by a threshold of 30, set here:
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-ajax.php#L1583

What I'd like to see is a UI for paginating to the next set of found matches if the results are more t

[2022-04-13 15:20] Sidsector9 commented on #31812
@MKJJJ @JPKCom I have raised PR #32010 for issue #31971 which seems very similar to this. If possible, can you kindly try to reproduce this issue with this fix just to confirm this PR works well?

[2022-04-13 15:43] csmcneill opened #32609 "(6.4.0) WooCommerce Menu occasionally inaccessible for self-hosted sites"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When updating to WooCommerce 6.4, some users on self-hosted sites are reporting issues where the WooCommerce menu is no longer visible or accessible.

### Expected behavior

The

[2022-04-13 15:44] csmcneill commented on #32609
4944517-zen

[2022-04-13 15:44] csmcneill commented on #32609
https://wordpress.org/support/topic/woocommerce-menu-item-gone/
https://wordpress.org/support/topic/woocommerce-tab-missing-from-admin-bad-after-6-3-0-update/
https://wordpress.org/support/topic/woocommerce-is-no-longer-in-the-wordpress-menu-left-menu/

[2022-04-13 15:51] barryhughes commented on #31519
@simkoG—thank you.

Though nothing obvious stands out (and though I still feel we should tighten up some of the logic per my last note and be a little more defensive) I'm still curious about the origin of the problem.

I notice you have quite a few (custom?) mu-plugins, and some regular plugins (example: *"WooCommerce Order Search Admin")* that sound like they might just be having an impact on thi

[2022-04-13 16:05] wpniall commented on #32609
1208339-hc

[2022-04-13 16:13] raifd commented on #32609
4945439-zd-woothemes

[2022-04-13 16:42] jonathansadowski commented on #32544
Hi @andrewbacon,

Thanks for the report, but it appears you also filed this in #32545. I'm going to close this issue, as the other contains more detail.

[2022-04-13 16:42] #32544 closed, assigned to nobody

[2022-04-13 16:51] jonathansadowski commented on #32567
Hi @kerrmcilwraith,

Thanks for the follow-up. As you've figured out the issue you were running into, I'm going to close this issue. If you do have any issue that you believe is a bug, please open a new issue.

[2022-04-13 16:51] #32567 closed, assigned to nobody

[2022-04-13 17:22] #32573 closed, assigned to jacob-sewell

[2022-04-13 17:38] devappsteam commented on #32609
Bug reproduced on 3 sites using the same settings.

### WordPress Environment ###

WordPress address (URL): https://myfamilycinemaplanos.com
Site address (URL): https://myfamilycinemaplanos.com
WC Version: 6.4.0
REST API Version: ✔ 6.4.0
WC Blocks Version: ✔ 7.2.1
Action Scheduler Version: ✔ 3.4.0
WC Admin Version: ✔ 3.3.2
Log Directory Writable: ✔
WP Version: 5.9.3
WP Multisite: –
WP Memory Limit

[2022-04-13 17:49] devappsteam commented on #32609
Performing some tests, I noticed that the failure only occurs when we use positions 55 and 56.
Test between ranges 26 and 54 all worked correctly.

[2022-04-13 17:55] tturton-godaddy commented on #31470
@pmcpinto @peterfabian Great news! Our dev team has completed discovery and is getting ready for the development phase. I have a few questions for you as we move forward:

1.  Is there someone on the Woo dev side that would be a good point of contact for our engineers when they have questions about implementation or would like to get a review?
2. Would you be able to review the discovery [Overview

[2022-04-13 18:00] #32157 closed, assigned to octaedro

[2022-04-13 18:07] #32539 closed, assigned to nobody

[2022-04-13 19:21] louwie17 commented on #32158
@jarekmorawski not sure if we are exactly on the same page. When I am revering to making the `How was your experience` disappear, I only mean the bar the red arrow is pointing at here:

<img width="814" alt="155333389-73994b9e-f4ce-4b30-ad20-36b273e8c4b6" src="https://user-images.githubusercontent.com/2240960/163254498-e1339227-e8ed-479e-a279-bd2deb127140.png">

[2022-04-13 19:35] barryhughes commented on #30990
Sounds like a nice objective; marking as a low priority enhancement. Of course, we'd want to find a solution that doesn't cause the noted issues with color swatches, etc.

[2022-04-13 19:41] dlcallaway commented on #32609
4945729-zen

[2022-04-13 20:12] zhongruige commented on #30271
Closing this issue as this work will be completed as we migrate over to Playwright.

[2022-04-13 20:12] #30271 closed

[2022-04-13 20:27] 0free commented on #31519
Hi,

Honestly, I don't remember what was causing these warnings/errors but I am thinking it may be caused by php-8.0.x

@[simkoG](https://github.com/simkoG), can you try to upgrade to php-8.1.x and see if these warnings are still present.

[2022-04-13 20:57] shaunkuschel commented on #32609
4945553-zen

[2022-04-13 20:58] csmcneill commented on #32609
4944285-zen

[2022-04-13 21:14] octaedro commented on #32149
Just to give @senff's [comment](https://github.com/woocommerce/woocommerce/issues/32149#issuecomment-1095279515) more visibility.
@pmcpinto and @jarekmorawski what do you think about adding a skip button to this step?

[2022-04-13 21:17] synapticweb commented on #32548
In product[default_attributes] the option keys are populated using the terms slugs instead of terms names, that's why they're always in lowercase.
I still think this is a bug.

[2022-04-13 21:23] csmcneill commented on #32609
35152379-hc

[2022-04-13 21:38] csmcneill commented on #32609
Confirmed with 35152379-hc that reverting to 6.3.1 resolved the issue.

File download: https://github.com/woocommerce/woocommerce/releases/download/6.3.1/woocommerce.zip

Documentation: https://woocommerce.com/document/installing-uninstalling-woocommerce/#reverting-to-a-previous-version-of-woocommerce

[2022-04-13 22:32] jaxr commented on #32609
4945154-zen

[2022-04-13 23:27] ryanr14 commented on #32609
4946323-zen

This was the best place to put this issue, though this ticket is experiencing this issue with menus disappearing with their atomic site and only with Subscriptions 4.1.0 and WooCommerce 6.4.0 active.

[2022-04-13 23:38] #31008 closed, assigned to nobody

[2022-04-14 01:41] #32522 closed, assigned to moon0326

[2022-04-14 02:30] jnineb commented on #32609
[34071878-hc](34071878-hc)

[2022-04-14 03:15] adrianduffell opened #32617 "Update Payment Method Links"
Presently, payment methods links go to an external woocommerce.com page. Alternatively, it would be better to link to the internal Extensions Marketplace (WooCommerce > Extensions) with the Payments category selected.

<img width="1166" alt="Screen Shot 2022-04-14 at 11 07 26 am" src="https://user-images.githubusercontent.com/9312929/163305875-46a6212d-cc7f-4084-af76-a8e02b834cfc.png">

## Links t

[2022-04-14 03:45] chihsuan opened #32618 "Remove "plugin" environment from admin feature plugin"
### Describe the solution you'd like

Since we have merged woo admin into the core, we can remove "plugin" environment from admin feature plugin

- https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce/client/admin/config
- https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/bin/generate-feature-config.php#L17-L19
- https://github.com/woocommerce/woocommer

[2022-04-14 04:04] chihsuan opened #32619 "Remove woo admin tests directory"
### Describe the solution you'd like

Remove the directory, and  the E2E tests should still pass in the PR

see pbIJXs-1oH-p2#comment-3700

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-04-14 04:27] thisissandip commented on #32609
4946232-zen

Atomic Site, the WooCommerce Setting disappeared.

[2022-04-14 04:38] thisissandip commented on #32609
35142201-hc | 4946990-zen

[2022-04-14 05:40] #32516 closed, assigned to nobody

[2022-04-14 05:40] #32598 closed, assigned to chihsuan

[2022-04-14 06:51] simkoG commented on #31519
Some status report. The main problem is that I cannot find a way to replicate the warnings. It seems that they are appearing randomly (which is nonsense, I know). Tried numerous things:

- switch to PHP 8.1: it seems that this stops the warnings, but I don't sure
- switch to PHP 7.4: <del>same as 8.1</del> ***edit**: I have a site with PHP 7.4 and the warnings shown in the log file.
- switch to PH

[2022-04-14 06:52] jarekmorawski commented on #32158
Yup. I think `Cancel` should only close the modal and not dismiss neither card or the `How was your experience` part. In other words, the only way to make it disappear is to either click the `Hide this` button in the dropdown or submit a rating.

[2022-04-14 06:54] jarekmorawski commented on #32149
That's a great point. Thanks for bringing this to my attention. @verofasulo is currently working on changes to this screen. Whatever we do here, it'd be great to think about skipping in the context of all tasks. It's quite possible that for some merchants even shipping or taxes may be irrelevant. Ideally, people could skip all tasks in the same way.

[2022-04-14 07:52] adrianduffell commented on #32176
This was fixed by PR https://github.com/woocommerce/woocommerce/pull/32513.

[2022-04-14 07:52] #32176 closed, assigned to moon0326

[2022-04-14 09:03] #32485 closed, assigned to ObliviousHarmony

[2022-04-14 09:55] #32618 closed, assigned to chihsuan

[2022-04-14 10:01] lostpebble commented on #23584
No matter what I do, I can't seem to get this filter to execute. Can you please provide a little more context on how we can use it?

EDIT:

For anyone who maybe has the same problem and lands here, I managed to get the filter to execute by putting it right at the top of my plugin's code, in the same file where you set the version etc (the entry file). For some reason it wasn't being executed insid

[2022-04-14 10:10] vietvuong139 commented on #27419
I just updated to WooCommerce 6.4.0, and none of the solutions above works. The only way that the filters show up again is to manually delete the attributes and insert again on each product. I have tried exporting the products and change the global attribute from 0 to 1 and import again. But it doesn't work. Anyone has a solution?

Thanks!

[2022-04-14 10:36] #32132 closed, assigned to ilyasfoo

[2022-04-14 10:52] zyousafi commented on #32609
#4947306-zen

[2022-04-14 11:02] #32617 closed, assigned to chihsuan

[2022-04-14 12:45] verofasulo commented on #32149
Thank you for raising the point @senff and for tagging me @jarekmorawski 🙌

I think it makes total sense and I'll explore it more while working on the designs.

[2022-04-14 13:31] Aljullu opened #42637 "Add a toggle to the Featured Product/Category blocks to make the entire block a link"
We would like merchants to be able to convert the entire Featured Product and Featured Category blocks into links. That will require:

* The entire block is wrapped by a link, so clicking anywhere in the image or text links to the product or category page.
* The button should be hidden when the entire block is a link.
* That should be implemented as a toggle in the editor block sidebar.

![feature

[2022-04-14 13:42] imodouglas commented on #32609
#4944437-zen

* WooCommerce > Home shows blank page
* Analytics menu shows blank page

[2022-04-14 13:55] fredrikekelund commented on #32609
#4947647-zen

Same problems as @imodouglas reports.
Possibly this is a separate bug, any maybe related to the fact that the `/packages/woocommerce-blocks/build/wc-settings.js` JS file returns a 404 error.

[2022-04-14 13:59] pmcpinto commented on #32141
Hi @octaedro I was reviewing this flow with the BizDev team and we came to the conclusion that it is best to start by just including the extension in the Marketing task. Can we revert the inclusion in the business features step between the 6.5 beta and RC?

[2022-04-14 14:19] #32150 closed, assigned to joshuatf

[2022-04-14 14:38] barryhughes commented on #31519
OK, I appreciate you looking. At the very least, we can change our code to be [a little more defensive](https://github.com/woocommerce/woocommerce/issues/31519#issuecomment-1096951563) and prevent the error.

I believe it loads on the main WordPress dashboard page (ie, `/wp-admin/` and not `/wp-admin/admin.php?page=wc-admin`) and sets up a number of widgets, depending on the current context:

<img

[2022-04-14 14:46] rinazrina commented on #32609
#4946963-zen

Same issue as @imodouglas reports -- WooCommerce Home and Analytics show a blank page.

This site doesn't have WooComerce Subscriptions. During plugin testing, I found that those pages are loading with all plugins deactivated and show blank pages when Jetpack is activated.

[2022-04-14 14:47] #32609 closed, assigned to nobody

[2022-04-14 14:54] pmcpinto commented on #32183
I will close this issue, since we already have others with a couple of different solutions that we want to explore:
#32586
#32587
#32585

[2022-04-14 14:54] #32183 closed, assigned to nobody

[2022-04-14 15:28] swatipawarGS commented on #32570
Hi @HQv2 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using Woo Commerce 6.4.0 version and WordPress 5.9.3 version.

Please find below screenshots for reference :

![32570](https://user-images.githubusercontent.com/94531721/163422916-4fadc651-0ac8-4c06-a83d-bc49f82e8355.jpg)

Priority of this issue will be assign

[2022-04-14 15:30] swatipawarGS commented on #32588
Hi @tapanshah21 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using Woo Commerce 6.4.0 version and WordPress 5.9.3 version.

Please find below screencast/screenshots for reference :

![32588 A](https://user-images.githubusercontent.com/94531721/163379832-e21805bd-6f32-4a37-b211-34a790490aaf.jpg)
![32588 B](https:/

[2022-04-14 15:30] swatipawarGS commented on #32595
Hi @RondoHsieh,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using Woo Commerce 6.4.0 version and WordPress 5.9.3 version.

Please find below screenshots for reference :
![32595 1](https://user-images.githubusercontent.com/94531721/163380947-9893e2b8-c54a-43ce-b5ed-ea844ffd0929.jpg)
![32595 2](https://user-images.gi

[2022-04-14 16:16] tagperfect commented on #17365
@alanpachuau thanks for the solution! But it works only for default pagination, in my case, I have "load more" functionality which comes from another plugin and the solution doesn't help.

Same time wanna mention that products were partly imported, partly added manually, but the issue occurs in both.

BTW, updating "visibility" to "hidden" and back to "catalog and search" using quick edit helps to

[2022-04-14 16:21] #32442 closed, assigned to joshuatf

[2022-04-14 17:16] gwensmithx commented on #32609
35150771-hc / 4948352-zen

Sorry to open this back up but I just ran into this today. The Woo menu disappears on all Woo pages in the dashboard and stats are not visible. This is resolved when the WooCommerce Subscriptions plugin is deactivated.

[2022-04-14 17:48] pmcpinto opened #32671 "Products list: include additional Tracks events"
**Description:** we want to add new Tracks events to the product list page. Our goal is to learn more about how users interact with this page and have a clear picture of the most used features:

**Acceptance criteria:**

- [ ] Add an event to track Filter usage (when "Filter" button is clicked):
Name: `wcadmin_products_list_filter_click`
Props:
`search_string_length`: number
`filter_category` (boo

[2022-04-14 18:29] csmcneill commented on #32609
With this particular issue, the `WooCommerce` option on the left-hand side of the menu is not visible at all for some users, almost like WooCommerce is not even installed/active.

Accessing the associated URLs directly (e.g. `http://example.site/wp-admin/edit.php?post_type=shop_order` instead of **WooCommerce > Orders**) is one way to bypass this.

There is a separate issue affecting sites hosted

[2022-04-14 19:06] #32428 closed, assigned to joelclimbsthings

[2022-04-14 19:27] louwie17 commented on #32158
@jarekmorawski there doesn't seem to be any specific time mentioned for when to auto hide the `Thank you for your feedback`

[2022-04-14 20:39] gwensmithx commented on #32609
Thank you for that information @csmcneill!

[2022-04-14 23:45] renataNavarro commented on #32609
My Woocommerce asked for update the database and then appeared in the menu.

[2022-04-15 02:13] smshmb opened #32631 "Discount does not apply to the order when coupon linked to the order through API"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi there,

I am using Integromat to create orders in Woocommerce.

While the coupon code will be linked to the order when I create a new order, the discount would not be applied.

[2022-04-15 03:21] Lilrock commented on #32319
I'm actually having the same issue. Although, the situation I can replicate more accurately.
Multiple of my sites that I work with are varying ranges of versions including the latest builds.

In my situation, the normal customer_id when a created user is created is included in the Order information.
The problem I have is when some of my sites forget to check the option for "Allow guests to checkou

[2022-04-15 03:53] #32416 closed, assigned to chihsuan

[2022-04-15 05:21] HUiTHEME opened #32632 "Product Variations Add to Cart Button Not Working"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Product Variations Add to Cart Button Not Working

![This is an image](https://s3.bmp.ovh/imgs/2022/04/15/c908df7e79ca35ce.png)

When I set it like this, adding a cart will fail

[2022-04-15 05:47] #32466 closed, assigned to chihsuan

[2022-04-15 06:38] chihsuan commented on #32144
@verofasulo Thanks for creating this issue! I've looked over the requirements. Overall looks good! 👍

I just split this into smaller tasks and have a few questions:

I guess you mean "`start blank`"?

So we need to create an A/B test for them, right?

Does this include import CSV steps for import product?

[2022-04-15 06:45] chihsuan opened #32633 "Task List: Add Products Task - Add event tracking"
Event tracking for
- #32634

**Add products**

- Task completion rate
- Task completion time on average (the amount of time it takes a user to select an option and move to the next step).
- % of users that clicks on suggested product types
- % of users that clicks on view more product types
- % of users that clicks on start blank VS start with a template
- % of users that follows the suggested pat

[2022-04-15 07:20] chihsuan opened #32634 "Task List: Add Products Task - Add products"
**Description:**
We reviewed the Add products page and built upon the Start with a template idea that performed well in the [previous testing](https://github.com/woocommerce/woocommerce-admin/issues/5296).

We'd like to try out two different layouts:

1. **Card layout**: is based on showing multiple cards in a grid.

![Card Layout](https://user-images.githubusercontent.com/98944206/156599140-5fcbd

[2022-04-15 07:22] chihsuan opened #32635 "Implement experiments for Product Task layout"
Description:

We'd like to try out two different layouts:

![Card Layout](https://user-images.githubusercontent.com/98944206/156599140-5fcbdf97-430c-4dc7-80f6-15bf5174b331.gif)

2. **Stack layout**: the product types are vertically stacked.

![Stack Layout](https://user-images.githubusercontent.com/98944206/156599341-f2b9d0eb-374a-446f-9d30-dcd8a25f052f.gif)

**Design overview:**
cJQeyyhx9PraQrY3Y

[2022-04-15 07:29] chihsuan commented on #32144
@verofasulo So we need to create an A/B test for them, right?

[2022-04-15 07:30] chihsuan opened #32636 "Task List: Add Products Task"
See: pbIJXs-1mj-p2

[2022-04-15 08:02] chihsuan opened #32637 "Task List: Add Products Task - Import product event tracking"
Event tracking for #32143 :

**Task completion rate**

- Task completion rate
- Task completion time on average (the amount of time it takes a user to select an option and move to the next step).
- % of users that clicks on one of the two recommended options
- % of users that clicks on "add your products from scratch"
- % of users that clicks on one product type pr start blank
- List of the most c

[2022-04-15 08:28] chihsuan commented on #32637
closing this, in favor of https://github.com/woocommerce/woocommerce/issues/32633

[2022-04-15 08:28] #32637 closed, assigned to nobody

[2022-04-15 08:38] chihsuan opened #32638 "Task List: Add Products Task - Import CSV"
**Description:**

Implement the "import CSV" steps of import products task

Design overview:

cJQeyyhx9PraQrY3YAtCGM-fi-547%3A49811

Acceptance criteria:

 - Includes new icons and new copy.

**Screen shots**

<img width="1099" alt="Screen Shot 2022-04-21 at 8 44 55 am" src="https://user-images.githubusercontent.com/9312929/164349734-f9e58c69-c867-461a-8c4c-c5ae3da3c73e.png">
<img width="1099" alt

[2022-04-15 08:46] #32619 closed, assigned to chihsuan

[2022-04-15 12:07] wpniall commented on #32609
35144083-hc

[2022-04-15 13:05] Ljuk67 commented on #18227
Who thought it's a good idea NOT TO WARN the user that undeclared attributes will be removed during the import process? This is bad. I wanted to update 1 attribute on all my products, so now I have ended up with all products stripped of attributes.

Seriously, this is backward logic. A deletion should be done by a specified rule/field for the specific attribute, not just by not having it in the im

[2022-04-15 14:02] jadolyo commented on #32609
Found a fix:

in plugins/woocommerce/includes/admin/class-wc-admin-menus.php
line 64

Replace:
`add_menu_page( __( 'WooCommerce', 'woocommerce' ), __( 'WooCommerce', 'woocommerce' ), 'edit_others_shop_orders', 'woocommerce', null, $woocommerce_icon, 55 );`

By:
`add_menu_page( __( 'WooCommerce', 'woocommerce' ), __( 'WooCommerce', 'woocommerce' ), 'edit_others_shop_orders', 'woocommerce', null, $w

[2022-04-15 14:53] UVLabs opened #32642 "Add to cart button redirects to homepage when plain permalinks is used and ajax add to cart is turned off"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Page redirects to homepage when plain permalinks are used and add to cart button is clicked.

 If you go to a page the URL will look something like this(plain permalinks):

`http

[2022-04-15 14:58] xristos3490 opened #32643 "Replace the `date_created` column name with a class property in the analytics DataStore"
Hey team!

While working on extending several extensions into the WCA Analytics, we encountered an extensibility issue regarding the date's table column name.

More precisely, under the `Automattic\WooCommerce\Admin\API\Reports\DataStore` class, the `date_created` DB column appears hard-coded in a few places.

See: https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Admin

[2022-04-15 15:22] zhongruige opened #32645 "Add more end-to-end test coverage aroud shipping"
We have had a few issues come in with bugs around shipping settings so we should look into adding tests around it.

[2022-04-15 17:08] julionalesso opened #32646 "Page Break Attributes and Variations"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I'm facing a problem with a page break in my Wordpress right in the Attributes and Variations tabs (a part appears off the screen making it impossible to edit the fields). Can yo

[2022-04-15 17:44] peterfabian commented on #32368
Sure, my email is first-name dot last-name at automattic dot com.

[2022-04-15 17:51] peterfabian commented on #23083
I've moved this for the implementation after we finish the security improvements we have in flight, but this might need more thought and work, so it will take some time.

[2022-04-15 17:57] peterfabian commented on #31760
I've assigned a reviewer. Apologies for the delay.

[2022-04-15 20:00] joshbetz opened #32649 "Correctly handle out of stock products in orders"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We should not be able to add out of stock products to orders via the API or wp-admin.

### Expected behavior

We should not be able to add out of stock products to orders via the

[2022-04-15 20:39] mareqj commented on #25744
I just found these errors on a site where I am looking for a possible cause of failed shop orders. Is there any chance that this could cause such thing?

[2022-04-15 22:09] #32551 closed, assigned to nobody

[2022-04-15 22:09] #32552 closed, assigned to nobody

[2022-04-15 22:09] #32553 closed, assigned to nobody

[2022-04-15 22:09] #32554 closed, assigned to nobody

[2022-04-15 22:09] #32555 closed, assigned to nobody

[2022-04-15 22:09] #32556 closed, assigned to nobody

[2022-04-15 22:10] ObliviousHarmony commented on #32551
This issue has been closed in favor of a transition to Turborepo.

[2022-04-15 22:10] ObliviousHarmony commented on #32552
This issue has been closed in favor of a transition to Turborepo.

[2022-04-15 22:10] ObliviousHarmony commented on #32553
This issue has been closed in favor of a transition to Turborepo.

[2022-04-15 22:10] ObliviousHarmony commented on #32554
This issue has been closed in favor of a transition to Turborepo.

[2022-04-15 22:10] ObliviousHarmony commented on #32555
This issue has been closed in favor of a transition to Turborepo.

[2022-04-15 22:10] ObliviousHarmony commented on #32556
This issue has been closed in favor of a transition to Turborepo.

[2022-04-15 22:10] ObliviousHarmony commented on #32435
This issue has been closed in favor of a transition to Turborepo.

[2022-04-15 22:10] #32435 closed, assigned to nobody

[2022-04-15 22:21] ObliviousHarmony opened #32652 "Utilize `postinstall` Script for Composer Dependencies"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

When someone runs `pnpm install` in the monorepo, it should ins

[2022-04-15 22:27] ObliviousHarmony opened #32653 "Standardize `lint` Scripts"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

In order to simplify the execution of linting tasks, we should

[2022-04-15 22:30] ObliviousHarmony opened #32654 "Standardize `build` Scripts"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

In order to ensure consistency within the monorepo build toolin

[2022-04-15 22:41] ObliviousHarmony opened #32655 "Replace `nx` With `turbo`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

The goal of this issue is to replace all of the `nx` infrastruc

[2022-04-15 22:41] ObliviousHarmony opened #32656 "Migrate From `nx` to `turbo`"
**Description:**

Over the last few weeks, the changes made to our repository have given us a great opportunity to battle-test [Nx](https://nx.dev). When we began diving into better integration, however, we encountered a few blocking problems. Nx has strong opinions about a single-version policy, as well as mangles arguments passed from executors to scripts. While these issues could potentially be

[2022-04-16 01:48] yogeshbeniwal opened #32658 "[Enhancement]: Update Changelog before new release"
### Describe the solution you'd like

Changelog for WooCommerce is not updated before new version release. It will be better to know all changes made in new release via changelog or release tag on github before updating plugin.

### Describe alternatives you've considered

Go through git commit history.

### Additional context

_No response_

[2022-04-16 11:54] shankeyb opened #32659 "Scheduler Actions Woocommerce Shows Wrong Date and doesnt executes Actions"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am running into an serious issue i am using a various plugins which automates Woocommerce events Such as status update etc. But I don't know what has caused this glitch/issue..

[2022-04-16 18:15] danielbarenkamp commented on #32368
Awesome! Mail sent.

[2022-04-17 00:36] #32169 closed, assigned to nobody

[2022-04-17 17:43] drsuperior11 opened #32660 "500 Errors after Updating to 6.4.1"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello:

We recently updated to WooCommerce 6.4.1 and now we are getting the following 500 errors:

PHP Fatal error: Uncaught Error: Call to a member function get_cart_contents_to

[2022-04-17 19:30] patty-co opened #32661 "Error 500 - Botao cancelar"
Pagina -> https://wecareon.com/wp-admin/admin.php?page=remarcacoes_clientes
Botao -> Cancelar
Erro -> 500
![image](https://user-images.githubusercontent.com/91095879/163729474-a0d6c96f-825e-4482-972c-8d982e493740.png)

[2022-04-17 19:31] #32661 closed, assigned to nobody

[2022-04-17 23:13] InnovateFusionLLC commented on #32398
Thanks !! I would definitely like to beta test the fix when ever it comes around !!

It would seem to me that this would be a simple copy and paste of the cart page to the pay for order page.

[2022-04-18 00:36] #32083 closed, assigned to nobody

[2022-04-18 05:57] ergec commented on #29155
As of today this problem still persists. If one or more product has no category (uncategorized), using bulk edit to assign a category doesn't remove them from "uncategorized". Each product has to be edited one by one to remove "uncategorized"

[2022-04-18 08:10] verofasulo commented on #32144
@chihsuan thanks for going through this!

Yes, exactly! My bad, typo mistake 😄

Yes, We'd like to run an A/B test to assess which layout works better for our users.

No, we're not going to test that flow this time.

[2022-04-18 10:22] pmcpinto commented on #32144
@chihsuan it would be great to have an estimate of the effort required to build one version vs the two versions. We can start by testing just one version, and then test the 2nd version depending on the results.

Test the two versions at the same time
Control vs V1
Control vs V2

Or sequence them
Control vs V1
and then
V1 vs V2 (if the results of the first experiment are positive)

[2022-04-18 11:23] vedanshujain opened #32663 "[COT] Implement changes in migrations and DB structure to account for when posts.id == cot.id"
In #32086 we identified that as a solution to resolve dis-ambiguation between order ID and post ID we would like to make them the same, i.e. wp_posts.ID will be equal to wc_orders.id.

To implement the above, the following changes are needed in existing implementations:
- [x] Remove post_id field from db_schema
- [x] Link wc_orders.id to wp_posts.ID in migration routines (and their respective unit

[2022-04-18 11:30] vedanshujain opened #32664 "[COT] Implement error logging during migrations"
During migrations, we may encounter errors in inserting new records because of mismatched data types, values exceeding allowed length, etc.

We need to log these errors properly as they happen during migrations. This issue scopes logging these errors, we will create a different issue to track mitigations for failed order migrations.

[2022-04-18 11:39] vedanshujain opened #32665 "[COT] Research details about "skeleton" post record that we will insert with every order."
In #32086, we identified the need of adding a post record for every custom order during the transitionary period to prevent dis-ambiguation between order and post ID.

This issue scopes researching more details about this post record. Specifically, we should figure out what values should the columns of this post record hold and what would be its impact, specifically post_type and post_status. When

[2022-04-18 11:53] vedanshujain opened #32666 "[COT] Performance test migrations and expensive order queries to provide index recommendations."
As the migration implementation is near completion, we would like to performance test the following aspects to make sure that we have the right indexes and can fine-tune them as we need to.

This issue scopes running performance tests for:

- [x] Actual migration script for at least 100k orders.
- [x] Order search queries on individual meta fields - billing_email, billing_address, shipping_address

[2022-04-18 11:58] vedanshujain opened #32667 "[COT] Implement the `update` function for custom order table data store."
Similar to [`update` function in `abstract-wc-order-data-store-cpt`](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php#L135) file, we would like to add an update function in `OrdersTableDataStore` class.

This issue scope implementing this function along with unit tests.

[2022-04-18 11:59] vedanshujain opened #32668 "[COT] Implement the `delete` function for custom order table data store"
Similar to [`delete` function in `Abstract_WC_Order_Data_Store_CPT`](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php#L186), we would like to implement a `delete` function in `OrdersTableDataStore` class.

This issue scopes implementing this function along with unit tests.

[2022-04-18 12:03] vedanshujain opened #32669 "[COT] Implement the `read` function for custom order table data store."
Similar to [`read` function in `Abstract_WC_Order_Data_Store_CPT` class](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php#L100), we would like to implement a `read` function for `OrdersTableDataStore` as well. This should also support caching, existing filters (to the extent possible) etc.

This issue scopes impleme

[2022-04-18 12:05] vedanshujain opened #32670 "[COT] Implement the `create` function for the custom order table data store."
Similar to [`create` function in `Abstract_WC_Order_Data_Store_CPT` class](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php#L58) we would like to implement a `create` function for `OrdersTableDataStore` as well.

This issue scopes implementing this function along with unit tests.

[2022-04-18 12:56] pmcpinto commented on #32671
cc @louwie17 @mattsherman as this should be included in Cycle 24.

[2022-04-18 13:01] pmcpinto opened #32672 "Add/Edit product: new Tracks events"
**Description:** we need to add new Tracks events to the Add/edit product page. We want to learn more about how users interact with the add/edit product flows page and understand how many of them are using some features.

**Acceptance criteria:**

- [ ] Event name: wcadmin_product_add_view
Description: fired when the user views the add product screen

- [ ] Event name: wcadmin_product_edit_view
De

[2022-04-18 13:01] pmcpinto commented on #32672
cc @louwie17 @mattsherman as this should be included in Cycle 24.

[2022-04-18 14:35] CamperImperium opened #32673 "Backend Interface for product variants misplaced"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If a product has variants activated it is barely possible to make changes since the left sidebar covers customizable fields.

### Expected behavior

Same layout of sidebar and fi

[2022-04-18 14:36] CamperImperium commented on #32673
Any

[2022-04-18 14:46] pmcpinto opened #32674 "Add/edit products: add new Tracks props"
**Description:** we want to add new props to the Add and Edit product Tracks events, to understand what fields are being used by users.

**Acceptance criteria:**
Include the following event props in the `wcadmin_product_add_publish` and `wcadmin_product_update` events
- [ ] description: Yes|No
- [ ] short_description: Yes|No
- [ ] product_image: Yes|No
- [ ] product_gallery: arrow with the number

[2022-04-18 14:47] pmcpinto commented on #32674
@louwie17 @mattsherman another Tracks-related issue that should be included in the cycle 24 planning :)

[2022-04-18 15:37] pmcpinto opened #32676 "Add categories and tags: new Tracks events"
**Description:** we want to include Tracks events in the Categories, Tags and Attributes pages to learn more about how users interact with the features.

**Acceptance criteria:**

- [ ] wcadmin_product_attributes_add
Description: fired when the user adds a new attribute
Event props:
page: attributes | product (identify if the attribute was created in the attributes page or within the add/edit prod

[2022-04-18 15:42] pmcpinto commented on #32676
@louwie17 @mattsherman last Tracks-related issue :) I understand that it may not be possible to add all events during cycle 24. Let me know how you prefer me to prioritize the issues. I can order them by priority in the Mothra Dev Sprint pipeline

[2022-04-18 16:01] moon0326 commented on #32584
Closing this as changes are added to https://github.com/woocommerce/woocommerce/pull/32513 and the MR has been merged

[2022-04-18 16:01] #32584 closed, assigned to moon0326

[2022-04-18 17:35] ldr2273 commented on #32065
4956278-zd as well.

Resolved by regenerating the product attributes lookup table and clearing the transients, though this might only be temporary?

[2022-04-18 17:55] kcfgl commented on #32055
Just adding another question and/or detail for this issue as it is also complicating my development of custom rates. I'm hitting a service to provide live rates and the multiple calls are causing a delay in rendering out the results - and causing more calls to the API than necessary. I'm sure the others on this thread are seeing the same but I figured I would add another voice. If you have a worka

[2022-04-18 17:57] sitoagency commented on #32065
You've got to disabile the product attribuite lookup tablet in Woocommerce - settings - products - advanced. The 1st checkbox must be unchecked, those tables have issues.

[2022-04-18 18:02] sandrodz commented on #32055
I am thinking to look at package hash, that changes only when cart content changes. So no need to recalc if hash did not change. This in theory, I didn't implement or test this yet.

[2022-04-18 19:18] #31477 closed, assigned to nobody

[2022-04-19 02:28] Franklin110120 commented on #29705
@geektzu Thank you for providing the solution for that error. That solution really helps. I also encountered an error running vendor/bin/phpunit:

Fatal error: require_once(): Failed opening required '/home/ubuntu/woocommerce/plugins/woocommerce//includes/react-admin/feature-config.php' (include_path='.:/usr/share/php') in /home/ubuntu/woocommerce/plugins/woocommerce/src/Internal/Admin/FeaturePlug

[2022-04-19 03:30] chihsuan opened #32681 "[Enhancement]: Convert `@woocommerce/tracks` to TS package"
### Describe the solution you'd like

[`@woocommerce/tracks`](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/tracks) is still a pure JS package.

As discussed in [this PR](https://github.com/woocommerce/woocommerce/pull/32616#discussion_r851071671), it would be great if we could convert it to TS and output type definitions for the woo admin.

### Describe alternatives you've con

[2022-04-19 06:12] aprea opened #32682 "Add a “Subscriptions” menu item to the primary “WooCommerce” menu"
ℹ️ This issue relates to the "Experiment with subscriptions empty state in WooCommerce core" project, read more here → pdjTHR-Vi-p2

Pull requests related to this project will be targeted to a feature branch (`add/experiment-subscriptions-admin-menu`). A final pull request will be opened against `trunk` when all issues are completed and the feature branch is in a production-ready state.

---

A ne

[2022-04-19 07:35] jarekmorawski commented on #32162
Hi y'all! As discussed during the last product call, to limit the scope of work and validate the idea before committing to it, we'll start with a simpler version of the popover. Much like the original version, it'll appear 150ms after user completes a task and point to the new `Finish setup` button in the top bar. It will only appear once.

<img width="723" alt="image" src="https://user-images.git

[2022-04-19 07:37] jarekmorawski commented on #32158
Sorry about that. I just added the time to the issue description. ✅

[2022-04-19 07:49] adrianduffell commented on #32451
@pmcpinto Do you mean we should display the task regardless of how it's installed? If so, I think (like you say) that would just require removing this condition: `WCPay has been installed in the Business Details step during the OBW.`

Got it, so potentially a store that's finished the task list, could later install WC Pay for the first time, and in this scenario it would not be ideal to re-display

[2022-04-19 08:31] Konamiman commented on #32086
We have decided to go with a "posts first" approach as follows:

* Any new row inserted in `cot` will always have a corresponding row in `posts`
  * If `posts` is authoritative: the corresponding row in `cot` is created during data synchronization.
  * If `cot` is authoritative: a placeholder row is inserted in `posts` beforehand. We’ll use a dedicated post type for that, such as `shop_order_place

[2022-04-19 08:31] #32086 closed, assigned to Konamiman

[2022-04-19 12:53] adrianduffell commented on #32318
@verofasulo Thanks for putting this issue together. Just a quick question hopefully 😄

What is meant by `Automatically turn on automated shipping options` in the acceptance criteria?

[2022-04-19 13:07] adrianduffell commented on #32148
Closing this out now that the 6.5 code freeze is made and most teething issues have been solved.

[2022-04-19 13:07] #32148 closed, assigned to moon0326

[2022-04-19 13:40] peterfabian commented on #32512
Hey @XedinUnknown

Thanks for pointing out the issue and great steps to reproduce 🤣
Would you like to contribute and update the docs via your PR?

Cheers!

[2022-04-19 13:49] verofasulo commented on #32318
Hey @adrianduffell 😄

It means that when we enable the shipping smart defaults, the shipping options are the following:

- store country: free shipping (e.g. if the store is based in Lisbon, the store country is Portugal)

- other countries: flat rate (e.g. all the other countries apart from Portugal). The flat rate should be automatically defined based on the average shipping cost. It's a bit dif

[2022-04-19 13:51] peterfabian commented on #32368
Thanks, got it.

We don't generally help with custom code, so I'm not completely sure we'll be able to get back to you on this.

If you want to increase the chance of us looking into it, please let us know the exact reproduction steps with product settings, etc. so that we have an easier time reproducing exactly the problem you see. It would help even more to have a minimal code example instead of

[2022-04-19 13:59] peterfabian commented on #31722
Hi @raratiru ,

We were not able to reproduce this. Can you please try without all the other plugins active, i.e. only with WooCommerce?

Thanks!

[2022-04-19 14:11] adrianduffell commented on #32143
@verofasulo For the Cart2Cart option, would the whole button link to the [external Cart2Cart page](https://woocommerce.com/products/cart2cart/?utm_medium=product)?

[2022-04-19 14:22] adrianduffell commented on #32143
<del>@verofasulo Also, does this change remove the"Start with a template" option?</del>

<img width="747" alt="Screen Shot 2022-04-19 at 10 17 36 pm" src="https://user-images.githubusercontent.com/9312929/164025023-c5debe0c-d0cb-4977-8ee4-e40fe60c3e2c.png">

It looks like we would now start each of the product types "from scratch". Does that mean pre-filling the correct product type on the New Pro

[2022-04-19 14:37] adrianduffell commented on #32412
@verofasulo Do you have any sample products in mind? The [sample.csv](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/sample-data/sample_products.csv) file included with WooCommerce adds the following products. However is this too focused on clothing/accessories?

![image](https://user-images.githubusercontent.com/9312929/164028181-92636552-7e75-40ab-ba20-a2f6912fbf17.png

[2022-04-19 14:42] adrianduffell commented on #32143
Oh I get it, this is the import screen and it didn't previously have the "Start with a template option".

[2022-04-19 14:45] adrianduffell commented on #32634
It looks like this would need to add two new templates:

* Grouped product
* External product

[2022-04-19 14:46] verofasulo commented on #32143
Yes, exactly. Thanks, Adrian

Yes 😄 The idea is to organize the “add product” options according to the user profile - so if the user declared to sell already somewhere else, we display this page with a focus on the import options (still, there's the possibility to start with a template but it's collapsed in the accordion).

[2022-04-19 14:53] adrianduffell commented on #32633
For this type of analytics, there would need to be separate tracks events for views and clicks.

[2022-04-19 14:57] amalksuresh073 commented on #27600
Hi I get the answer only by SQL query,
you can use wpdb get result to get the values of order ids  that are completed on particular date

SELECT post_id FROM `wp_postmeta` WHERE `meta_key` = '_completed_date' AND CAST(`meta_value` AS date)='2022-04-19'and post_id in (SELECT ID FROM `wp_posts` WHERE post_type = "shop_order" and post_status="wc-completed")

[2022-04-19 17:46] danielbarenkamp commented on #32368
Yes sure - I sent instructions in the mail. Let me know if you have any questions left over.

[2022-04-19 17:57] jonathansadowski commented on #32117
Hi @apeksha10,

Sorry for the delay. It's been a while since the last response to this thread, so I just wanted to check in again. Are you still experiencing this issue and if so is there anything else that might be helpful for us reproducing it?

[2022-04-19 18:16] jonathansadowski commented on #32646
Hi @julionalesso,

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.

If the issue is

[2022-04-19 18:26] jonathansadowski commented on #32673
Hi @CamperImperium,

Thanks for your report. Could you please provide the steps that you take to run into this issue, and include screenshots of the issue that you're running into, if possible?

Also, I noticed that you didn't include your system status report. Please include a copy of that by copying and pasting the system status report from **WooCommerce > System Status** in WordPress admin.

[2022-04-19 18:32] jonathansadowski commented on #32545
Hi @andrewbacon,

Thanks for the report. Because it sounds like the issue lies in one (or more) of the plugins you listed, and those plugins are not developed by WooCommerce, we're unable to look into this issue, as we'll be unable to reproduce it.

If you're able to reproduce the issue with the plugins disabled, and with the default theme, please open a new issue. Otherwise, I recommend that you

[2022-04-19 18:32] #32545 closed, assigned to nobody

[2022-04-19 19:15] jonathansadowski commented on #32590
Hi @rupole1185,

Thanks for the issue. Can you please include the complete system status report in a reply to this message? You can get the system status report from **WooCommerce > System Status** in WordPress admin and then copy and paste it in reply to this message.

[2022-04-19 19:28] rupole1185 commented on #32590
Hi there. Working with other people, I found the BUG I mentioned here is actually this one: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2312

It is a bug of the Stripe Gateway which is going to be fixed in that plugin.

You can close and sorry for the waste of time I might have caused.

[2022-04-19 19:50] dougaitken commented on #32590
Your details are very useful @rupole1185, thanks for adding them.

I'll close this out and add details on https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2312

[2022-04-19 19:50] #32590 closed, assigned to nobody

[2022-04-19 20:58] raratiru commented on #31722
Hallo @peterfabian,

Thank you on the update. I think I found the exact cause of the issue.

When sending a `PUT` request from the WooCommerce Api (to change the price for example), instead of sending only the keys with the necessary values that describe the product, I was also sending unused keys with null values.

Here is a fragment of the buggy code:

[code]
When I removed the `null` values, it

[2022-04-19 20:59] #31722 closed, assigned to nobody

[2022-04-19 22:10] csmcneill commented on #32065
4944160-zen

Disabling the `Enable table usage` option at **WooCommerce > Settings > Products > Advanced** resolved the issue.

[2022-04-19 23:30] aprea opened #32691 "Add the "Subscriptions" admin page"
ℹ️ This issue relates to the "Experiment with subscriptions empty state in WooCommerce core" project, read more here → pdjTHR-Vi-p2

Pull requests related to this project will be targeted to a feature branch (`add/experiment-subscriptions-admin-menu`). A final pull request will be opened against `trunk` when all issues are completed and the feature branch is in a production-ready state.

---

This

[2022-04-20 02:22] chihsuan opened #32692 "Update `@woocommerce/data` types"
### Describe the solution you'd like

We should use `@types/wordpress__data` and `@types/wordpress__compose` instead of declaring the modules in the global index.d.ts:

https://github.com/woocommerce/woocommerce/blob/16bf8cb87e4032c105cd5e0e02dd781e73b9ea72/packages/js/data/typings/index.d.ts#L1-L2

Also, some of the data selectors don't export the correct types. It would be great if we could chan

[2022-04-20 02:26] AashikP opened #32693 "[Enhancement]: Analytics Revenue should consider order paid date instead of order created date."
### Revenue

* In Analytics and Reports, the payment revenue is assigned to the date when an order is created rather than the date when a payment was made.
* If an order is created on January 1st but it is only paid for on February 1st - I'd expect the reports to show the revenue on February 1st.
* Whenever the payment is made, reports will show it as if it happened on the same day as when the ord

[2022-04-20 04:30] aprea opened #32694 "Handle the "Get started" button click on the "Subscriptions" page"
ℹ️ This issue relates to the "Experiment with subscriptions empty state in WooCommerce core" project, read more here → pdjTHR-Vi-p2

Pull requests related to this project will be targeted to a feature branch (`add/experiment-subscriptions-admin-menu`). A final pull request will be opened against `trunk` when all issues are completed and the feature branch is in a production-ready state.

---

This

[2022-04-20 04:35] Sataptech commented on #25864
It really shouldn't be that hard.

If you use a comma for decimals in one place you use it everywhere. So this should be a localization option in Woocommerce and NOT something that needs to be set on server side.

[2022-04-20 05:34] james-allan commented on #32682
Will ExPlat be required at this stage of the project? That is, is the menu item displayed for all sites which meet the criteria or based on the experiment users only (as determined by ExPlat)?

Or does ExPlat only come into determining what flow the user is sent on when clicking on the get started button on the subsequent screen?

[2022-04-20 05:44] aprea commented on #32682
Hey @james-allan, see my answers below:

Yes, I believe so.

The menu item will only be shown to users/stores that are eligible for this experiment. If they **are eligible** for this experiment then the menu item will be shown to 100% of the experiment participants.

My understanding is that we can use ExPlat audience targeting to filter out ineligible users/stores from this experiment.

Yep, ExPl

[2022-04-20 06:21] jofbe opened #32696 "[Enhancement]: Disable payment gateway change after order is placed"
### Describe the solution you'd like

We have quite a few orders, where the fees are miscalculated, and the invoices are wrong, because of the following reasons:
* Customer selects Simple payment gateway to pay with credit/debit card
* Customer gets redirected to the payment gateway, but payment fails (balance issue, cancelled payment, wrong details...)
* Customer gets redirected back to the thank

[2022-04-20 06:27] ilyasfoo commented on #32144
@pmcpinto Testing two versions at the same time could be faster to iterate. What do you think of country-based segmentation similar to what we did in the previous experiment?

If it's agreeable, perhaps you can let us know what group of countries should experience which variant.

[2022-04-20 06:51] james-allan commented on #32682
ooh thanks that's made it more clear. I didn't realise that would be possible given you can target by locale and location by default and our criteria is pretty complex in terms of plugins installed etc. I can see there's existing custom segments as you mentioned though with examples. PCYsg-FqJ-p2#audience-targeting-custom

So we could for example send via request args a list of plugins, store "liv

[2022-04-20 07:14] aprea commented on #32682
I believe we can, the [`Experimental_Abtest` class ](https://github.com/woocommerce/woocommerce/blob/3dd60322d5490d7d86ad33e7d732f276df73a12d/plugins/woocommerce/includes/react-admin/class-experimental-abtest.php) has a `woocommerce_explat_request_args` filter. I _believe_ we can use this filter to pass additional request args to ExPlat when requesting the variation. Then the filtering/assignment

[2022-04-20 09:00] verofasulo commented on #32412
@adrianduffell that's a great point.

Yes, I think we could use some more realistic product images as the purpose is to give the user an idea of what the store might look like after adding products. Do we already have some sample images or just the ones in the screenshot above?

I was thinking to focus on this industry as it's the most popular one. Maybe in the future, we can differentiate sample

[2022-04-20 11:44] imaadt commented on #27295
Is there an update on this bug yet? @vedanshujain

[2022-04-20 12:50] kcfgl commented on #32055
@sandrodz Interesting idea. I printed out all the vars available in $package when calling calculate_shipping() and the only hash's I'm seeing are related to actual cart items.  I'm sure I just don't have a good enough grasp on this function, but I don't see a way to stop making multiple calls in my plugin at this point.  Thanks for your help!

[2022-04-20 12:59] sandrodz commented on #32055
I did following:
<img width="1480" alt="Screenshot 2022-04-20 at 16 59 33" src="https://user-images.githubusercontent.com/8479569/164235958-a4e0e201-cc97-4331-9751-45484b7b9958.png">

[2022-04-20 13:25] peterfabian commented on #31470
Hi, thanks for coming back and sorry for the delay in our response.

As for point no 1 (aka the development workflow), I think the best way is to submit PRs (and draft PRs before they're ready for review) and let us know. It will be mostly us in the @woocommerce/proton team looking at the code (and @/pmcpinto checking the product decisions), so if you can assign the Proton team as the reviewer, th

[2022-04-20 13:31] verofasulo opened #32703 "Inbox note: task list - card sorting"
As part of the [broader initiative](https://woostartp2.wordpress.com/2022/02/11/project-thread-increase-setup-tasks-completion/) of driving more usage of the store setup task list and increasing the completion rate of each task, we’d like to gather some more data on users priorities in order to shape a setup task list more in line with their expectations and needs.

**New inbox note, delivered usi

[2022-04-20 13:44] rodelgc opened #32702 "[WC 6.5 beta1] Completed task list items are not marked as completed when "Pinterest for WooCommerce" and "WooCommerce Payments" were installed and activated"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the onboarding wizard, when you choose to install "Pinterest for WooCommerce" and "WooCommerce Payments", the "Store details" task list item will not be marked as completed ev

[2022-04-20 13:46] pmcpinto commented on #32451
Correct.

Yes. Re-displaying the task list would be suboptimal.

[2022-04-20 13:54] pmcpinto commented on #32703
@verofasulo  it would be great to target only new users or at least those who have recently gone through the setup experience. For example: store age less than 3 months old. What do you think?

[2022-04-20 13:55] pmcpinto commented on #32162
@louwie17 is it possible to have an estimate of the effort required to implement this new exploration shared by Jarek?

[2022-04-20 14:00] verofasulo commented on #32703
Thanks for your feedback @pmcpinto! Why do you think it's better to focus on new users only?

[2022-04-20 14:20] swatipawarGS commented on #32642
Hi @UVLabs,

Thank you for the updated information. but we are unable reproduce the issue using the given updated information on our end with Woo Commerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/164237329-3a759a8c-f1cf-49b0-ad88-d111da7fbbcb.mp4

Please provide us more detailed and any additional s

[2022-04-20 14:20] swatipawarGS commented on #32632
Hi @HUiTHEME ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using Woo Commerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/164237717-d1a6bb7c-585e-461a-803c-d5e981b35dfc.mp4

Please provide us more detailed and any ad

[2022-04-20 14:29] jonathansadowski commented on #32660
Hi @drsuperior11,

Thank you for reporting the issue. PayPal Payments is being developed in another repository: https://github.com/woocommerce/woocommerce-paypal-payments

I am going to move your bug report there so that the right team could take a look further.

[2022-04-20 14:50] gglobalstep opened #32705 "[GlobalStep] "Blank screen" displayed after clicking "Add store details" on "Woocommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Blank screen" displayed after clicking "Add store details" on "Woocommerce > Home" page.

### Expected behavior

Store Details should be properly displayed after clicking "Add s

[2022-04-20 14:50] drsuperior11 commented on #32660
Thank you.

[2022-04-20 15:39] webdados commented on #31729
How is it possible that something that has been closed in February is still not on 6.5.0-beta.1 released this night?
This is just frustrating. Each time I update to the latest beta version on my development install, i need to change WooCommerce files. This is such a non-sense...

[2022-04-20 16:10] rodelgc opened #32707 "[WC 6.5 beta] Categories, Stock, and Revenue report emails are either empty, or shows warning messages"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In WC 6.5 beta 1, the Stock, Categories, and Revenue report emails either contain an emtpy message body, or shows PHP warning messages. Here's how the emails looked like in my te

[2022-04-20 16:45] h-sobhy commented on #19621
In my case (WP 5.6x) changing the value(s) of _transient_as_comment_count  in DB didn't work. Adding new POST comment corrected both "All" and "Pending" comments count.

[2022-04-20 18:26] #32464 closed, assigned to nobody

[2022-04-20 18:27] Kieran-Calvert commented on #30258
Wondering if there has been any update on this bug?

[2022-04-20 18:28] #32423 closed, assigned to nobody

[2022-04-20 19:32] barryhughes commented on #31096
Thanks for highlighting this.

It is indeed a little confusing, but methods such as `WC_Checkout::get_posted_data()` are intended to be called when the checkout is finally submitted, rather than during ajax requests. Updating it to work as noted in your expectations is probably viable, but we would first need to make sure doing so won't cause problems elsewhere (including with other third party in

[2022-04-20 19:33] barryhughes commented on #31076
Marking as a bug, however this likely requires some research first of all in order to determine the best path forward.

[2022-04-20 19:36] barryhughes commented on #31068
Feels like the inconsistency highlighted in Tam's screenshots definitely ought to be resolved.

[2022-04-20 19:40] barryhughes commented on #31056
@erikdemarco, could you create a minimal snippet that would allow us to replicate the problem? Otherwise we're left guessing as to how your code functions and when it runs (ie, which action it is hooked into).

In my own testing, so long as a session exists (and creating it if it does not), the custom field is persisted along with the other usual fields and expires at the same time.

[2022-04-20 20:55] DanielLanger commented on #31555
@jeffstieler  @anitaa1990 im not seeing this in the API docs https://woocommerce.github.io/woocommerce-rest-api-docs/#coupons

nor am I able to use the field. was this deployed?

[2022-04-21 00:15] DemisPav commented on #31492
I have the exact problem too.. We need a solution pls

[2022-04-21 00:37] #32388 closed, assigned to nobody

[2022-04-21 07:08] CamperImperium commented on #32673
Hi Jonathan,

Steps: WooCommerce > All Products > Single Products > Product Data - variable product >
a) Attributes
b) Variations

While all other customization tabs (General, Inventory, Shipping etc.) for the product have a regular appearance, the tabs for attributes and variations are covered by the side bar. Due to the missing margin/padding the customization of these features is rather difficu

[2022-04-21 08:32] pmcpinto commented on #32161
@joelclimbsthings @louwie17 I'm testing 6.5 Beta 1 and I've noticed that we don't have Tracks implemented in the progress bar. We should have at least 3 events: one for viewing the bar, another one for clicking "continue setup", and one for closing the bar. Let me know if it's possible to implement them in time to be included in the 6.5 RC. Thanks

[2022-04-21 09:37] verofasulo commented on #32318
Following up on the [new spotlight component initiative](https://ghidorahp2.wordpress.com/2022/04/13/shared-in-app-spotlight-component/), please implement the new spotlight that’s part of a larger design element used for help and guidance.

The design will be the same proposed by Dotcom with a few tweaks to make it consistent with WooCommerce styles and usage.

![image](https://user-images.githubu

[2022-04-21 10:27] pmcpinto commented on #32702
@becdetat which team should fix this?

[2022-04-21 10:40] pmcpinto opened #32714 "[WC 6.5 beta1] WCPay task leads to a blank page in the two variants"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The WooCommerce Payments task is not working well with the two variants:
- Clicking the WCPayments task redirects the user to a blank page
- We're not showing the legal message

[2022-04-21 10:40] pmcpinto commented on #32714
@joshuatf @louwie17 can you take a look at this? Thanks

[2022-04-21 10:59] #32665 closed, assigned to nobody

[2022-04-21 11:01] tobiasgardner opened #32715 "REST API for endpoint /wp-json/wc/v3/products not working as expected"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For some reason, the LIST operation gives duplicates when default `orderby` value is used (i.e. no orderby is provided in the call).

### Expected behavior

Should give a (unique

[2022-04-21 11:38] pmcpinto commented on #32703
@verofasulo I've just reviewed the inbox copy and I think it would be interesting to make some adjustments to the content, mainly to be more specific on the time it takes and what we want from users. The way it's framed right now it looks like we're asking them to provide open-ended feedback. Makes sense?

[2022-04-21 11:51] ilyasfoo opened #32716 "ExPlat API requests should not be sent without identifiers"
### Describe the solution you'd like

ExPlat assignment API requests are sent even when `anon_id` is missing. These requests will end up invalid and may cause issues in ExPlat backend.

We should add a safeguard to make sure a user either has an `anon_id` defined and not empty or logged in to WordPress.com via Jetpack. This should be applied to both JavaScript and PHP implementation of ExPlat.

pb

[2022-04-21 12:29] louwie17 commented on #32714
Thanks, yeah one of us on Mothra should have time to look at this. Thanks @pmcpinto

[2022-04-21 12:34] louwie17 commented on #32161
Thanks @pmcpinto, we will keep you updated if we get it in, in time.
I know they do plan to be a little more strict with cherry picking bugs for the release (see here: pdqwkG-aK-p2 ) so we will have to make a strong case for this one.
Otherwise we could also disable this feature and push it to the next release, but lets keep that as a last resort.

[2022-04-21 12:38] twwn opened #32717 "PHP Warning: Undefined variable $changed_stock" in includes/class-wc-ajax.php on line 1336"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Seen in the log today:

Unfortunately I don't know what caused it, but looking at the affected line & above, that variable is [indeed only defined](https://github.com/woocommerce

[2022-04-21 13:09] vedanshujain commented on #31729
hey @webdados , this change was merged, but then reverted because seems like the WP change that triggered this in the first place was also reverted. See #32623 .

[2022-04-21 13:14] MichaelDrumSmith commented on #25758
I hope you see this @barrymdrone , did you find a solution?

[2022-04-21 13:39] pmcpinto commented on #32144
👍 We can use the same countries used in the previous a/b test

[2022-04-21 14:24] texorama opened #32718 "Order not correctly refundable after deleting previous refund (Cached value for order's `get_total_refunded` not invalidated after refund deletion)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

## Problem detail
When calculating the amount available for refund of an order, the method `WC_Order->get_total_refunded` is called, which checks the cache to avoid recalculating

[2022-04-21 14:37] 12csw1 commented on #32702
Should this issue be labeled as priority: high?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other information boostin

[2022-04-21 14:44] pmcpinto opened #32719 "Inbox message: remove wc-admin-set-up-additional-payment-types"
**Description:** The `wc-admin-set-up-additional-payment-types` message needs to be removed as we're using the "things to do next" list to promote additional payment gateways.

![Captura de ecrã 2022-04-21, às 15.41.37.png](https://images.zenhubusercontent.com/5d84fe8e1201de0001b6ab61/073cddd9-236b-43d9-b38b-9e6413ddf64f)

The message was removed a couple of months ago. See this [issue](https://

[2022-04-21 14:44] pmcpinto commented on #32719
@adrianduffell @ilyasfoo I don't know if this is connected to the Payments task work implemented for WC 6.5.

[2022-04-21 14:57] 12csw1 commented on #32702
Should this issue be labeled as priority: high?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other information boostin

[2022-04-21 14:58] gglobalstep opened #32720 "[GlobalStep] Unable to display "Welcome to <site name>" above the progress header task list on "Woocommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unable to display "Welcome to <site name>" above the progress header task list on "Woocommerce > Home" page.

### Expected behavior

"Welcome to <site name>" should be displayed

[2022-04-21 15:03] #32600 closed, assigned to nobody

[2022-04-21 15:25] johnregan3 commented on #31823
@barryhughes Tagging just so there is some visibility on this PR. Feel free to reassign as needed.

[2022-04-21 16:18] jonathansadowski commented on #32673
Hi @CamperImperium,

Thanks for your reply. If you included a screenshot, it did not come through. It looks like you replied via email, can you try attaching one from the GitHub issue directly? You can visit the issue here: https://github.com/woocommerce/woocommerce/issues/32673

If you attached the system status report, it also did not come through. You can find more information on how to get a c

[2022-04-21 16:37] CamperImperium commented on #32673
<img width="1238" alt="Bildschirmfoto 2022-04-21 um 18 35 59" src="https://user-images.githubusercontent.com/103946162/164508749-78fa3e36-e849-49cc-ae7d-df170f49f453.png">

The issue is in variations AND attributes. The other tabs are good.

[2022-04-21 16:38] CamperImperium commented on #32673
<img width="1238" alt="Bildschirmfoto 2022-04-21 um 18 37 52" src="https://user-images.githubusercontent.com/103946162/164509020-9050bae0-cc4d-4709-af49-6d2d38b0f20c.png">

[2022-04-21 16:39] CamperImperium commented on #32673
<img width="1233" alt="Bildschirmfoto 2022-04-21 um 18 39 03" src="https://user-images.githubusercontent.com/103946162/164509203-5b60e243-0eb7-410f-8ca9-1240dcdec9cf.png">

[2022-04-21 16:40] CamperImperium commented on #32673
`
### WordPress Environment ###

WordPress address (URL): https://camperimperium.com
Site address (URL): https://camperimperium.com
WC Version: 6.4.1
REST API Version: ✔ 6.4.1
WC Blocks Version: ✔ 7.2.2
Action Scheduler Version: ✔ 3.4.0
WC Admin Version: ✔ 3.3.2
Log Directory Writable: ✔
WP Version: 5.9.3
WP Multisite: –
WP Memory Limit: 512 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US
External

[2022-04-21 16:54] tturton-godaddy commented on #31470
Thanks a bunch @peterfabian! The discovery overview I linked was performed by our engineering team so it might be helpful to get a set of eyes on it from the @woocommerce/proton team if possible. I'll sync up with our content team re: documentation and the blog post. We can get create the Google docs and I'll share the links to collaborate there.

[2022-04-21 17:16] #32508 closed, assigned to joelclimbsthings

[2022-04-21 17:24] #29705 closed

[2022-04-21 17:30] louwie17 commented on #32162
I will check with every one in Slack and get back to you with the effort, at first glance this should decrease the amount of effort quite a bit.

[2022-04-21 18:24] #30027 closed

[2022-04-21 18:32] #32705 closed, assigned to joelclimbsthings

[2022-04-21 21:50] #32654 closed, assigned to psealock

[2022-04-21 23:36] becdetat commented on #32702
@pmcpinto Ghidorah should handle this. @adrianduffell can you get someone to take a look?

@12csw1 I think this should be high priority, it looks like it could be a regression (bad) but it's in a high value area regardless.

[2022-04-22 01:10] szepeviktor commented on #30027
For Composer users:

[code]

Although some packages are installed **4 times**.

[2022-04-22 01:54] adrianduffell opened #32732 "WooCommerce Admin feature plugin assets load when installed alongside WooCommerce 6.5"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the WooCommerce Admin feature plugin is installed alongside WooCommerce 6.5 beta 1, feature plugin assets are fetched instead of the newer versions of the assets in Core.

<

[2022-04-22 02:38] adrianduffell commented on #32732
It seems Jetpack Autoloader finds the PHP classes from the feature plugin path and includes those instead of the newer ones from Core.

[https://github.com/Automattic/jetpack-autoloader/blob/78ed7ceb4ba721f13e8dc992c85b67b9913a8c5f/src/class-latest-autoloader-guard.php#L70](https://href.li/?https://github.com/Automattic/jetpack-autoloader/blob/78ed7ceb4ba721f13e8dc992c85b67b9913a8c5f/src/class-lat

[2022-04-22 03:08] rodelgc commented on #32732
For testing purposes, I'm pasting a link to our internal discussion around this: pb22l9-1cO-p2#comment-1204

[2022-04-22 03:40] rodelgc opened #32733 "[WC 6.5 beta] Database errors ("Missing base tables") show up after deleting WC Admin standalone plugin while WC 6.5 is active"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you have WC 6.5 (currently in beta) installed and activated, and you happen to have a WC Admin standalone plugin active as well (I got version 3.3.2 in my test), once you de

[2022-04-22 04:10] adrianduffell commented on #32733
This looks related to https://github.com/woocommerce/woocommerce/issues/32732

The cleanup routine in the feature plugin is supposed to be skipped when Woo Admin is included via Core.

https://github.com/woocommerce/woocommerce-admin/blob/78d0e10a99676c92650a5248917207e7304f5c1b/src-internal/Admin/FeaturePlugin.php#L110-L114

[2022-04-22 07:31] #32581 closed, assigned to chihsuan

[2022-04-22 08:04] verofasulo commented on #32703
@pmcpinto totally! I updated the content with something more specific and goal-oriented.

[2022-04-22 08:48] pmcpinto commented on #32703
@adrianduffell can you publish it on Monday or Tuesday?

[2022-04-22 09:01] verofasulo commented on #32703
@pmcpinto @adrianduffell could you please double-check the test at [this link](https://app.maze.co/maze-preview/mazes/87390007/) and let me know if you spot any typos? 🙏 Once I publish it, I can't go back and make any changes (I guess it's a restriction due to the free plan). After publishing it, I'll update the Maze link in the issue (the previous one is not working anymore as I had to delete it

[2022-04-22 09:02] adrianduffell commented on #32702
This is being fixed in PR #32704. It's related to the latest tasklist experiment.

[2022-04-22 09:04] adrianduffell commented on #32703
Yup, can do 👍

[2022-04-22 09:46] adrianduffell commented on #32703
@verofasulo I didn't spot any typos, all LGTM! Looking forward to seeing the survey results.

[2022-04-22 11:15] adrianduffell commented on #32638
These designs were exploratory, I'll close the issue for now.

[2022-04-22 11:15] #32638 closed, assigned to nobody

[2022-04-22 12:29] verofasulo commented on #32421
Following up on the [new spotlight component initiative](https://ghidorahp2.wordpress.com/2022/04/13/shared-in-app-spotlight-component/), please implement the new spotlight that’s part of a larger design element used for help and guidance.

Example: Step 1 - Add your product name

![image](https://user-images.githubusercontent.com/98944206/164714306-ff41e2cd-ede2-4856-b2de-98ef98544d6d.png)

**You

[2022-04-22 12:32] swatipawarGS commented on #32673
Hi @CamperImperium ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.4.1 version and WordPress 5.9.3 version.

Please find below screenshots for reference :
![#32673](https://user-images.githubusercontent.com/94531721/164714204-ac029c65-53bb-4113-b8af-2d5f640170f3.JPG)

Please provide us more det

[2022-04-22 12:53] verofasulo commented on #32587
Following up on the [new spotlight component initiative](https://ghidorahp2.wordpress.com/2022/04/13/shared-in-app-spotlight-component/), please implement the new spotlight that’s part of a larger design element used for help and guidance.

![image](https://user-images.githubusercontent.com/98944206/164718124-db8fe38a-cecb-4ed1-be7d-870140de8b82.png)

[2022-04-22 13:00] andreshak opened #32737 "Problem with Redirect to cart page after successfully adding products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I check the box for Problem with Redirect to cart page after successfully adding products and Activate AJAX buttons to add to cart in the files but after saving they are unchecke

[2022-04-22 13:34] #32702 closed, assigned to nobody

[2022-04-22 14:00] #32161 closed, assigned to joshuatf

[2022-04-22 14:08] verofasulo commented on #32703
Thanks, @adrianduffell! I'm going to make it live then :)

[2022-04-22 14:31] peterfabian commented on #32492
Hi, can you please share an example file of yours so that we can more easily reproduce this? Thanks!

[2022-04-22 14:36] peterfabian commented on #32368
Quoting the instructions for future ref:

[2022-04-22 14:55] helgatheviking opened #32741 "[Enhancement]: Category enhanced select should return/save cat IDs"
### Describe the solution you'd like

Since slugs can change, I think it makes more sense to save term IDs when using the `wc-category-search` enhanced select.

Woo core does not use `wc-category-search` in it's coupons admin UI even though it does have an enhanced categories selectWoo element. There it does save IDs. So nowhere in core is Woo using `wc-category-search` _and_ saving the result. So

[2022-04-22 14:57] peterfabian commented on #31434
Hi,

There are two options for how variable product appears in the cart: If there are less than 3 (I think) attributes, then the values are part of the product name. If there are more attributes, then the list of attributes is shown.

Either way, it seems to me that the `$cart_item['data']` is actually a variation, as you can see below from my test just now:
![Screenshot 2022-04-22 at 16 52 14](ht

[2022-04-22 14:57] #31434 closed, assigned to nobody

[2022-04-22 16:12] louwie17 commented on #32162
@pmcpinto @jarekmorawski follow up after chatting with the team about this:

The design changes of this definitely make this issue a bit easier to do. **But** the biggest time consumer is the underlying code to manage the showing and dismissing of the popup after task completion. We have some of that logic in place, but in several different area's of our app and some of it will have to be re-facto

[2022-04-22 16:31] CamperImperium commented on #32673
Hi

Thanks for your reply. I am not sure how I can describe it better or make an trial an error here. I already checked for custom code, if this could have created any troubles - negative. We are working with Elementar Pro & Crocoblock, but I am not aware that these plugins would have an influence on single tabs in WooCommerce´s Product data.

Do you have suggestions what we can in regard of testi

[2022-04-22 17:09] octaedro commented on #32163
Hi @jarekmorawski,

I have a couple of questions related to the point

Should the users see the `Welcome to <store_name>` when they skip the OBW? What should they see if they skip the OBW and then they start it again and finish it?

[2022-04-22 20:13] louwie17 opened #32745 "[WC 6.5 beta1] Task list tracks for experiment one show `undefined`"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `_view` and `_click` tracks for the first task list experiment show up as `undefined`, it should show as `tasklist`.
<img width="873" alt="Screen Shot 2022-04-22 at 5 06 59 P

[2022-04-22 20:15] #32714 closed, assigned to joelclimbsthings

[2022-04-22 21:43] moon0326 commented on #32143
@verofasulo ✋

So we have four different options for "selling elsewhere".
![Screen Shot 2022-04-22 at 2 41 42 PM](https://user-images.githubusercontent.com/4723145/164799843-548d43f6-ebf8-45d7-8123-ea67dbb7c9f5.jpg)

Should we also consider `Yes, in person at physical stores and/or events` as "selling elsewhere" for this issue?

[2022-04-22 23:54] qzya commented on #20071
Sorting attributes in Product -> Attributes can be extremely inconvenient, especially if you have a lot of attributes.
For myself, I solved this problem with a few lines through the `woocommerce_dropdown_variation_attribute_options_html` filter
[See this snippet](https://gist.github.com/qzya/c81d7e8ce6515ff1c730a87af0fb8e8c)

[2022-04-23 01:06] pixelstorm commented on #21356
i have the same issue. this causes many 404 errors because the links in related products go to a 404 as they are linking to an unpublished product. I tried adding
`add_filter( 'woocommerce_output_related_products_args', 'pxs_related_products_args', 20 );
function pxs_related_products_args( $args ) {
  $args['posts_per_page'] = 4;
  $args['post_status'] = 'publish';
	return $args;
}
`
but still the

[2022-04-23 06:13] CamperImperium commented on #32673
Hi there

I found the issue.

If you want to reproduce the problem, you must activate the Plugin „JetThemeCore“.

Thanks and regards

[2022-04-23 11:53] thomasvbe commented on #26153
Is there any solution to this problem?
When I want to add custom validation to a custom checkout field, it generates the same problem.

[2022-04-23 12:34] j19sch commented on #28025
This seems be the same issue as reported in https://github.com/woocommerce/woocommerce/issues/29359, which was fixed in PR https://github.com/woocommerce/woocommerce/pull/29510 (5.3.0 milestone).

[2022-04-23 19:55] crstauf commented on #30646
Six months for a simple fix and nothing. 😖

On one of my client sites this issue is triggered by Jetpack.

[2022-04-23 20:02] crstauf commented on #30646
@peterfabian @Konamiman Submitted PR #32747 in an attempt to get this small fix into the next version.

[2022-04-23 20:09] crstauf commented on #30646
Yes it is high priority; maybe not for WooCommerce in an isolated environment, but it is in the real world.

This [comment](https://github.com/woocommerce/woocommerce/issues/30646#issuecomment-941044554) is discouraging: checking server error logs for issues when there are 10000s of meaningless warnings is very difficult. Then finding that the plugin author doesn't care because it's "only a warnin

[2022-04-23 20:37] AnabellaHidalgo opened #32748 "Update a product con Curl"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Estoy queriendo utilizar la siguiente opción:
**Update a product** - This API lets you make changes to a product.
Este es el ejemplo de estructura que está en la documentación:

[2022-04-24 10:22] 12csw12 commented on #32720
Should this issue be labeled as priority: high?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other information boostin

[2022-04-24 23:53] kkmuffme opened #32750 "[Enhancement]: phpDoc for apply_filters/do_action"
### Describe the solution you'd like

All apply_filters/do_action should have phpDoc with all @param, as outlined in WP core https://developer.wordpress.org/coding-standards/inline-documentation-standards/php/#4-hooks-actions-and-filters

This makes using them much faster (since I don't have to check what types this filter needs) and also less bug prone (incorrect type passed) both for WooCommerce

[2022-04-25 03:04] ilyasfoo opened #32751 "Disable WCPay in Core experiment ExPlat request"
### Describe the solution you'd like

Since `woocommerce_payments_menu_promo_nz_ie_yyyy_mm` experiment has ended, we should remove its corresponding ExPlat request at least for WC 6.5 beta. This had been causing some issues with ExPlat backend since the request is triggered when viewing WordPress admin menu pbIJXs-1Ax-p2.

The removal of the experiment is pending for confirmation paJDYF-1Yz-p2#com

[2022-04-25 05:21] ilyasfoo commented on #32719
@pmcpinto Not connected afaik. There could be a misunderstanding in the previous issue, the merged [PR](https://github.com/woocommerce/woocommerce-admin/pull/7980) does the following:

Note that "delete" mentioned here is not the deletion of `SetUpAdditionalPaymentTypes.php` note code, but rather the removal of that particular note if it was added to a store (through `wc_admin_daily` cron job).

S

[2022-04-25 06:16] rahul-acodez opened #32753 "$product->get_type() returning 'variable' and the condition check is wrong"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,
We found a bug,
In the file \woocommerce\includes\class-wc-ajax.php
Line number 411

if ( $product && 'variation' === $product->get_type() ) {
//codes
}

Here, $product->get_

[2022-04-25 06:52] rodelgc opened #32754 "Customers can still download products from disabled download directories using their direct download links"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When an admin disables a download URL in the "Approved Download Directories" list, a customer who previously purchased the product would still be able to download the product usi

[2022-04-25 08:01] verofasulo commented on #32143
That's a great question @moon0326 - My assumption is that also physical stores rely on their own database/file/any form of data storage to manage their product catalog. So yes, I would consider `physical stores and/or events` as "selling elsewhere" for this issue.

[2022-04-25 09:51] vedanshujain opened #32757 "[HPOS] [Sync] Add support for deleting meta rows that don't exist in the source table anymore, in the destination meta table as well"
In #32640 we implement meta to migration support. We use this to power migration from wp_postmeta to wc_orders_meta table.

While this implementation takes care of updating and creating meta rows as needed, it currently does not take care of deleting rows in the destination table that have been deleted from the source table.
This issue scopes implementing delete as well.

[2022-04-25 11:21] vedanshujain opened #32758 "[COT] Create a testing package for migrations."
This issue scopes creating a testing package (likely the WooCommerce release package) along with the following data share (opt-in):
1. Time taken to run the migration.
2. Average number orders migrated per minute.
3. Reduction in post meta table size.
4. Error count.
5. ...

Ideally, we should create a log of this data somewhere that testers can share with us if they want to.

[2022-04-25 13:46] jarekmorawski commented on #32161
@louwie17, on that note, can we do anything to improve the loading speed of this bar? Currently, it takes about 1-2 seconds for the bar to appear, which makes the page jump a little. Ideally the bar would load along with other page elements.

[2022-04-25 13:57] jarekmorawski commented on #32714
Hi there! Here's the updated design and copy for both experiments:

* G9vi4e286yjdzyIdg8hBb1-fi-1607%3A156382 (Experiment 1)
* G9vi4e286yjdzyIdg8hBb1-fi-1607%3A171234 (Experiment 2)

[2022-04-25 14:24] jarekmorawski opened #32760 "Setup experiment: Add a store details card"
### Describe the solution you'd like

👋 Hi there! Following up on our Slack conversation (p1650522879606939-slack), I put together a design for the store details task. It'd show up if merchants skipped the OBW and did not enter store details during setup.

<img width="724" alt="image" src="https://user-images.githubusercontent.com/79307566/165108643-7ae18c23-3f5d-44c8-b2e4-b6ed67055036.png">

**Se

[2022-04-25 14:33] jarekmorawski commented on #32163
Hi @octaedro 👋 Yes, they should always see the welcome message. If in any case we don't know the store's name, we can say `Welcome to your store.`

The same message. The goal isn't to just say hi to them when they first create the store, but also every time they visit the Home screen. It could be months or years after they create it. In the future we may explore more contextual messages, but that

[2022-04-25 14:40] jarekmorawski opened #32761 "Experiment 2: No padding between the last task section and Things to do next"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi there! I noticed that in the latest 6.5 beta release there's no padding between the last task section in Experiment 2 and the `Things to do next` module.

<img width="932" alt

[2022-04-25 15:29] louwie17 opened #32762 "[WC 6.5 beta1] WCPay task add missing legal message within task"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The WooCommerce Payments task for experiment one is missing a legal message within the task and prevents a user from clicking the task and redirecting (forcing the user to click

[2022-04-25 15:31] louwie17 commented on #32714
I created a separate issue for the Terms of Use stuff (as discussed in Slack), given this issue is largely fixed in relation to the blank page issue. - https://github.com/woocommerce/woocommerce/issues/32762

[2022-04-25 17:01] dmagalhaes-godaddy commented on #31470
I've just opened the PR for this feature to be reviewed by the WooCommerce team (see the link just above this comment).

[2022-04-25 17:45] #32745 closed, assigned to louwie17

[2022-04-25 18:49] #32748 closed, assigned to nobody

[2022-04-25 18:51] roykho commented on #32750
Hi @kkmuffme

Thanks for raising this and we're aware. While we may not be able to retrospectively add docblocks to all existing hooks, we will however try our best to have them on new hooks.

[2022-04-25 18:51] #32750 closed, assigned to nobody

[2022-04-25 19:12] #31768 closed, assigned to vedanshujain

[2022-04-25 20:10] mattsherman opened #32767 "Epic: Product Management Tracks enhancements"
In order to better understand where to focus future efforts in the area of Product Management, we need to add some additional Tracks events, so that we can analyze usage.

[2022-04-25 20:18] barryhughes commented on #32754
✍🏽 This seems like it may be a regression of sorts. The [change we introduced here](https://github.com/woocommerce/woocommerce/pull/32569) means invalid downloads are not discarded, so we likely need an additional check within the download handler (before the change I linked to, that would not have been needed).

[2022-04-25 20:42] ObliviousHarmony opened #32768 "Pin Ubuntu Version in Workflows"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

We are currently experiencing problems due to using the latest

[2022-04-25 20:47] jarekmorawski commented on #32162
Thanks for the detailed overview of the issues at hand, @louwie17. It seems like we need to make a decision.

Frankly, I think we'd need that logic anyway. If not for this particular element, we'll likely use it to trigger a different interaction at some point in the future. The more scaffolding like this we have, the easier it will be to run experiments within key parts of the setup experience.

[2022-04-25 22:20] menachemb commented on #32492
Now it's working, but not every time.
To debug this problem you can Uncheck the "previous column mapping" button,
you will see that he recognize all other fields except the "Images" field
(תמונות).
Thanks for checking it!

‫בתאריך יום ו׳, 22 באפר׳ 2022 ב-17:32 מאת ‪Peter Fabian‬‏ <‪
***@***.***‬‏>:‬

[2022-04-25 22:34] lanej0 opened #32769 "Fix/e2eFix/e2e utils eslint config"

[2022-04-25 22:34] #32769 closed, assigned to nobody

[2022-04-26 00:37] #32429 closed, assigned to nobody

[2022-04-26 01:35] #32751 closed, assigned to nobody

[2022-04-26 02:16] adrianduffell commented on #32732
Closing this out, a fix was applied in PR #32765 but it didn't automatically close the issue.

[2022-04-26 02:16] #32732 closed, assigned to nobody

[2022-04-26 02:25] chihsuan opened #32772 "Add experimental product task feature flag & initial components"
**Description:**

To switch between the incoming experimental product task and existing components, we should use a feature flag to toggle the experimental feature and set up initial components to avoid duplicated works.

TODOs:

- Add a feature flag
- Add a new folder `experimental-products` in `plugins/woocommerce-admin/client/tasks/fills`
- Create initial components for experimental-products.
-

[2022-04-26 06:40] rodelgc opened #32775 "Vendor managers and vendor admins do not see the error message for unapproved download directories"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a vendor admin or vendor manager (roles added by the Product Vendors plugin) tries to add an unapproved download path to a product, they don't see the error message _"The do

[2022-04-26 08:18] #32669 closed, assigned to vedanshujain

[2022-04-26 08:21] #32663 closed, assigned to nobody

[2022-04-26 08:32] #31771 closed, assigned to Konamiman

[2022-04-26 08:55] #31770 closed, assigned to nobody

[2022-04-26 09:15] peterfabian commented on #31470
Hey, @tturton-godaddy , @barryhughes is going to check out the doc.
Thanks @dmagalhaes-godaddy , it's a larger one, so it might take a couple of days until we get to it, but we'll try to give you some feedback soon.

[2022-04-26 09:35] barryhughes commented on #32775
Hi @rodelgc!

As you noted, we have the actual protection we want in this scenario–but you're right—there is no messaging.

This is intentional on the part of [Product Vendors](https://github.com/woocommerce/woocommerce-product-vendors/blob/2.1.59/includes/admin/class-wc-product-vendors-vendor-admin.php#L1803-L1813) which is purposefully hiding the notices (and it's been this way since the [2.1.34

[2022-04-26 09:39] pmcpinto opened #32778 "Marketing task: add new TikTok extension"
**Description:** The TikTok extension is launching soon. We plan to include the extension in the marketing task, starting in the WooCommerce 6.6 release (code freeze: May 19). More info here: paqDfi-3AU-p2

Location: Marketing task - below Google Listing and Ads
Copy:
Headline: TikTok for WooCommerce
Description: Grow your online sales by promoting your products on TikTok to over one billion month

[2022-04-26 09:41] pmcpinto commented on #32778
@adrianduffell @becdetat this has to be included in Cycle 24 in time to be implemented before the 6.6 code freeze. Let me know if we have to adjust any priorities to accommodate this work. Thanks!

[2022-04-26 09:45] barryhughes commented on #32775
✍🏽 I updated the public docs to reflect this situation.

[2022-04-26 09:47] ilyasfoo commented on #32703
Inbox note is published
https://woocommerce.com/wp-json/wccom/inbox-notifications/1.0/notifications.json:

[code]

[2022-04-26 09:47] #32703 closed, assigned to ilyasfoo

[2022-04-26 09:55] nielslange opened #42636 "[Filter Products by Price]: Update view when changing the min/max value without leaving the input field"
Currently, when providing a min or max price range, the shopper needs to leave the input field, before the view gets updated. Looking at  [Zalando](https://en.zalando.de/outlet-mens/) and [Airbnb](https://www.airbnb.com/s/homes?search_mode=flex_destinations_search&date_picker_type=flexible_dates&tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&location_search=MI

[2022-04-26 10:07] pmcpinto commented on #32719
@ilyasfoo thanks for the clarification.

Yes. It should be removed whether the WCPay task displayed or not

[2022-04-26 10:47] pmcpinto commented on #32162
@louwie17 thanks for the additional context.

Is there a specific setup task where we could test the popover without rebuilding the code to manage the show/dismiss behavior post-task completion?

[2022-04-26 10:54] #32772 closed, assigned to chihsuan

[2022-04-26 11:06] lkraav commented on #30646
Not only direct server error logs, but quotas needlessly run out on external error tracking services like Sentry etc.

Talking about "low priority" unfortunately means the person has limited production environment experience.

[2022-04-26 11:42] pnistore opened #32780 "lỗi website"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

`
### WordPress Environment ###

WordPress address (URL): https://pnistore.com
Site address (URL): https://pnistore.com
WC Version: 6.4.1
REST API Version: ✔ 6.4.1
WC Blocks Vers

[2022-04-26 12:29] louwie17 commented on #32162
Yeah, if we wanted we could make use of the current notices code that we show when creating the first product for example or adding the first tax rate, there is also one for after updating the homepage.
Assuming this popup would replace the notice, it should be relatively minimal to make use of the popup in that code.

This shouldn't add any extra bloat given we can re-use the popup once we implem

[2022-04-26 13:16] #32780 closed, assigned to nobody

[2022-04-26 14:12] octaedro commented on #32163
Thank you @jarekmorawski for your answer.

Just to confirm, the `Welcome to <store_name>` title will be visible when the user doesn't have any completed tasks and also after completing all of them?

[2022-04-26 15:07] jarekmorawski commented on #32163
That's correct.

Yes, but only after people bring back the task list from the celebratory card when they complete all tasks. Then they'll see the `Welcome to <store_name>` message along with a list of completed tasks. It's the same for both layout experiments.

<img width="621" alt="image" src="https://user-images.githubusercontent.com/79307566/165331915-32378c15-c00c-4288-b1e5-237194b510c5.png">

[2022-04-26 15:52] bekarice-godaddy commented on #31470
@peterfabian  just a heads up if y'all need to see more of a history, the [more granular PRs are all in our fork](https://github.com/godaddy-wordpress/woocommerce/pulls?q=is%3Apr+is%3Aclosed)

[2022-04-26 16:13] lumyser opened #32783 "Inconsistency Between Cart Price and Subtotal"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In Woocommerce cart the “Displayed” item price is rounded up to 2 decimal places when a discount is applied.

A product priced at $2.10 with a 5% discount is actually $1.995. The

[2022-04-26 16:30] roykho commented on #32783
Hi @lumyser - Thanks for filing this however you reported that this is specific to Product Bundles plugin is that correct? Can you confirm the operation when Product Bundles is not active?

[2022-04-26 16:44] pmcpinto commented on #32162
Interesting. We could start by showing the popover just when the user creates the first product, nudging him to move to the next task (payments).
this would allow us to test the effectiveness of this approach without having to rebuild the underlying logic. @jarekmorawski what do you think?

[2022-04-26 16:49] sjbrunst commented on #32458
Pinging again as my business is opening soon and this is still blocking us from selling tickets. @swatipawarGS do you have any workarounds to suggest?

[2022-04-26 16:52] lumyser commented on #32783
Roy,
I edited my description of the issue to remove reference to Product Bundles.  This issue is a Woocommerce issue (specifically in the Cart).  I just used Product Bundles in my original description because this is where I was able to generate a 5% product discount.  If I use other plugins like "Discount Rules for Woocommerce" to generate a 5% storewide discount, the issue in the Cart is the sam

[2022-04-26 19:35] octaedro commented on #32163
Hi @jarekmorawski,

I have an additional question 🙂

Does that include the OBW? I mean, will the title (`Welcome to <store_name>`) be visible after the user finishes the OBW?

[2022-04-26 19:50] moon0326 opened #32788 "Add experimental import products task feature & initial components"
**Description:**

To switch between the incoming experimental import products task and existing components, we should use a feature flag to toggle the experimental feature and set up initial components to avoid duplicated works.

TODOs:

- Add a feature flag
- Add a new folder `experimental-import-products` in `plugins/woocommerce-admin/client/tasks/fills`
- Create initial components for experimen

[2022-04-26 19:50] sjbrunst commented on #32458
We found a workaround: Square does not support linking when stock needs to managed at the variation level, so by unlinking the shop from Square we were able to set the stock properly.

[2022-04-26 20:57] mattsherman commented on #32162
I've removed this from Cycle 24 and removed the final estimate, as both will need to be reconsidered once the "simpler version"'s details are ironed out.

[2022-04-26 21:00] mattsherman commented on #32164
@louwie17 Is there anything outstanding with this issue, or can we close it?

[2022-04-26 22:38] FireRedDev opened #32792 "Prices including tax - Experimental Behavior"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Prices including tax - Experimental Behavior

Is in experimental since 2020

### Expected behavior

Make it stable and possibly a setting

### Actual behavior

None

### Steps to

[2022-04-26 23:25] psealock commented on #32653
After internal discussion, the path forward will be:

* `lint` to display errors and warnings
*  `lint:fix` to actually fix those.

[2022-04-27 00:17] rodelgc commented on #32775
Thank you @barryhughes I'll go ahead and close this issue, since we already added a clarification in our public Woo docs.

[2022-04-27 00:17] #32775 closed, assigned to nobody

[2022-04-27 00:26] #32792 closed, assigned to nobody

[2022-04-27 00:36] #31448 closed, assigned to nobody

[2022-04-27 04:07] #32788 closed, assigned to moon0326

[2022-04-27 04:38] nicdwilson commented on #32251
4884627-zen

[2022-04-27 05:19] ilyasfoo opened #32797 "[WC 6.5 RC1] Fatal error with WooCommerce Admin 3.3.2 activated"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When attempting to activate WooCommerce Admin 3.3.2 alongside, the activation fails with the following error:

[code]

I suspect this is because the entrypoint of WCA `woocommerc

[2022-04-27 05:41] vedanshujain commented on #31864
Completed with #32640

[2022-04-27 05:41] #31864 closed, assigned to nobody

[2022-04-27 06:08] apeksha10 commented on #32117
Hello @jonathansadowski,

No, now I am not experiencing this issue.

[2022-04-27 09:24] SuperHanss commented on #32454
Not sure why this was closed with can't reproduce? With the latest Chrome the issue is present in demo stores too using mobile and desktop. https://lumiere.thunder-stores.com

Setting a timeout as stated above seems to fix it.

[2022-04-27 10:08] mugaict commented on #32220
Hi, I need to download the sell report but it is impossible with this bug, how I can use the workaround?
I can't find it.
Thanks

[2022-04-27 11:49] #32028 closed, assigned to jorgeatorres

[2022-04-27 11:58] louwie17 commented on #32164
This should be good to close (I will close it).

[2022-04-27 11:58] #32164 closed, assigned to louwie17

[2022-04-27 12:32] k3v1np commented on #29411
If your not displaying the stock amount then one should not be able to purchase stock below the out of stock threshold amount and even if you are showing the stock amount you should show the stock amount minus the out of stock threshold amount.  I think this option needs a little work to be more useful.  The setting being used as "kind of a buffer" is not super helpful for a merchant.

[2022-04-27 12:35] louwie17 opened #32802 "[WC 6.5 beta1] Some copy and header images in task list experiment 1 are different from design"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the new task list experiment the copy and images for some of the tasks are slightly different. This was missed when initially updating the new task list design.
There is some

[2022-04-27 16:06] #32754 closed, assigned to nobody

[2022-04-27 16:45] #27902 closed

[2022-04-27 17:46] octaedro commented on #32163
I'm writing down what @jarekmorawski  and I talked about in slack.
The progress header title (`Welcome to <store_name>`) will be visible after finishing the OBW too.

[2022-04-27 17:51] pmcpinto commented on #32161
@louwie17 were the Tracks events and the loading speed mentioned by Jarek included in the 6.5 RC?

[2022-04-27 17:59] roykho commented on #32768
Closed via https://github.com/woocommerce/woocommerce/pull/32782

[2022-04-27 17:59] #32768 closed, assigned to psealock

[2022-04-27 19:30] louwie17 commented on #32161
The track events should be added in the 6.5 RC, the loading speed hasn't. Should we create a separate issue for that? Or re-open this one?

[2022-04-27 20:54] ObliviousHarmony commented on #32454
I've re-opened the issue and tagged the development team for further review @SuperHanss.

[2022-04-27 21:07] jorgeatorres commented on #32753
Hi @rahul-acodez!

Thanks for the report. Would you mind sharing steps to replicate the problem? Also, a minimal snippet showing how you're implementing the AJAX functionality you've mentioned can help us diagnose this better.

After a quick glance at the code in `class-wc-ajax.php`, we believe it is correct. Under normal circumstances, the "Add to Cart" button which this AJAX is tied to isn't sho

[2022-04-27 21:54] #32434 closed, assigned to psealock

[2022-04-27 22:39] pegasus912s opened #32808 "Feature Request: Catering for UK Plastic Tax (£200 per Tonne) - need to show breakdown in separate line (similar to VAT)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,<br>We've worked on this a while as a development company and it seems there's no way we can find to get Woocommerce to cope with the UK Plastic Tax. It's a tax charged on pla

[2022-04-27 22:48] nylen opened #32809 "Fatal error when executing wp-cron jobs via WP-CLI"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Fatal error when executing wp-cron jobs via WP-CLI.

[code]

### Expected behavior

No fatal error.

### Actual behavior

Fatal error.

### Steps to reproduce

Unfortunately I am

[2022-04-27 23:41] ju1ius commented on #27384
WooCommerce uses unprefixed composer vendors.
This breaks every site and plugin that depends on the same packages unprefixed.

For example the error mentioned in the previous comment happens because another plugin depends on the `psr/container` package in version `^2.0` while WooCommerce depends on version `^1.0`
WordPress will probably never have a dependency management system, so prefixing vendo

[2022-04-28 03:06] chihsuan opened #32811 "Add event tracking for import products"
Event tracking for
- #32143

**Import products**

- Task completion rate
- Task completion time on average (the amount of time it takes a user to select an option and move to the next step).
- % of users that clicks on one of the two recommended options
- % of users that clicks on "add your products from scratch"
- % of users that clicks on one product type pr start blank (Same as https://github.c

[2022-04-28 03:06] chihsuan opened #32812 "Add event tracking for add products"

[2022-04-28 03:07] #32812 closed, assigned to nobody

[2022-04-28 03:53] trungtran1211 commented on #16702
I can't find file functions.php, You can help me?

[2022-04-28 04:21] chihsuan commented on #32633
Task completion rate
Task completion time on average (the amount of time it takes a user to select an option and move to the next step).
% of users that clicks on suggested product types
% of users that clicks on view more product types
% of users that clicks on start blank VS start with a template
% of users that follows the suggested pathway (import products or start with a template) VS follow t

[2022-04-28 04:38] nicdwilson commented on #32251
It should be noted that the merchant in 4884627-zen uses WooCommerce Shipping & Taxes. Because of the way this operates, adding data to tax tables on the fly, the tax tables may not at any time contain all or even any of the tax labels used to generate line item data. However, because WooCommerce Shipping & Taxes does not provide reporting separate from WooCommerce, the merchant is relies on this

[2022-04-28 05:31] #32575 closed, assigned to ilyasfoo

[2022-04-28 05:47] chihsuan commented on #32634
@verofasulo Just wanted to confirm what should we display if a user skips the onboarding wizard?

[2022-04-28 08:05] #32719 closed, assigned to ilyasfoo

[2022-04-28 08:49] chihsuan commented on #32412
@verofasulo We only have ones in the screenshot above now.

Yeah, that sounds great! 😄

[2022-04-28 09:15] verofasulo commented on #32634
@chihsuan please go with the first option: Physical product, Variable product, Grouped product.

Thank you :)

[2022-04-28 09:17] lkraav commented on #32753
To those being confused here with me, there are indeed 2 separate, but similarly named product types

https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-product-variable.php
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-product-variation.php

"Variable" is a parent product.
"Variation" is a child of "variable" p