[2022-05-26 00:12] barryhughes opened #33198 "[COT] Admin List > Implement Actions"
Building on the work [done here](https://github.com/woocommerce/woocommerce/issues/32385), let's implement bulk and single actions for the order list table.

<img width="1041" alt="orders-actions" src="https://user-images.githubusercontent.com/3594411/170389458-2c2f11ef-3953-454f-aac1-7bc937852b24.png">

This should mimic the functionality in the existing WP Post-powered admin list table as closel

[2022-05-26 00:17] barryhughes opened #33199 "[COT] Admin List > Implement Sortability"
Building on the work [done here](https://github.com/woocommerce/woocommerce/issues/32385), let's implement sortable columns for the COT-powered admin list table.

![orders-sortability](https://user-images.githubusercontent.com/3594411/170389860-4c34d979-de4f-48c7-bf28-c6d7848a71fa.gif)

This should mimic the behavior of the existing WP Post-powered order list table as closely as reasonably possibl

[2022-05-26 00:35] #33175 closed, assigned to nobody

[2022-05-26 00:47] psealock commented on #32934
I believe this is because the WooCommerce Admin gets automatically deactivated, so on page refresh its code no longer runs. I don't think there is anything to do here because we are in the process of deprecating the WooCommerce Admin Feature plugin anyways.

@limonana-jesse Did you try manually deactivating WooCommerce Admin?

I will close this issue

[2022-05-26 00:47] #32934 closed, assigned to nobody

[2022-05-26 01:24] #32643 closed, assigned to nobody

[2022-05-26 02:41] chihsuan opened #33201 "Add event tracking for product sample import confirmation modal"
**User story:**
As a new merchant with an existing product catalog
I want to be able to see the import options highlighted
So I can quickly import my products.

**Acceptance criteria:**
% of users that clicks on cancel button of product sample import confirmation modal

[2022-05-26 05:22] SuperSambat commented on #42631
Thanks for your reply @Aljullu, also thanks for the extra details to the testing steps. I am looking forward into this!!

[2022-05-26 07:41] mrleemon opened #33204 "Some typos in CLIRunner.php file"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

https://github.com/woocommerce/woocommerce/blob/13fe9b49707afdb50387bece76d2f588c3f05164/plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php#L383

Some typ

[2022-05-26 09:30] j19sch opened #33205 "Cart page shows no shipping available, but checkout page asks for additional address info"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When there are no shipping options for my country, the cart page states there are no shipping options - even when the only address info I've provided is my country. However, if I

[2022-05-26 09:32] IliaDi commented on #32854
5245816-zen

[2022-05-26 10:56] jorgeatorres commented on #33146
@vedanshujain: do you have more details on this? I can't seem to reproduce on `trunk`. I might be missing something, though. Is there a particular branch I should be testing with?

Could this maybe be because we're [not setting the charset](https://github.com/woocommerce/woocommerce/blob/13fe9b49707afdb50387bece76d2f588c3f05164/plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStor

[2022-05-26 11:51] adamcollingburn commented on #32319
@jessebrightman Did you manage to fix this? Mine is doing the same thing as of the last update

[2022-05-26 12:47] ashleyfae commented on #32915
In PHP 8 I get a fatal error due to an undefined constant:

[code]

Using version 6.5.1. I'm using the exact same "Steps to reproduce".

[2022-05-26 12:50] ilyasfoo commented on #32979
We've been able to reproduce this issue (thanks to @moon0326 for the excellent sleuthing) by changing the value of PHP timezone `date_default_timezone_set` in `wp-settings.php` and the `Timezone` configuration in `Settings > General`.

<img width="506" alt="image" src="https://user-images.githubusercontent.com/3747241/170490000-4407b3db-63ff-408a-8047-03b036b3203c.png">

Note that it is not recomm

[2022-05-26 13:06] vedanshujain commented on #33146
@jorgeatorres this could be the reason, actually. I can't reproduce locally either, let's add a collation then to custom tables as well?

[2022-05-26 13:34] ilyasfoo commented on #32979
Fix [PR is ready](https://github.com/woocommerce/woocommerce/pull/33206)

Edit: removed build link since it requires WooCommerce organization access. Will notify when the PR is merged and a nightly build is ready

[2022-05-26 14:28] jorgeatorres commented on #33146
@vedanshujain: submitted #33210 to set the collation. Hopefully that'll take care of this issue.

[2022-05-26 14:59] swatipawarGS commented on #33189
Hi @Chrystll,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screenshot for reference :

![#33189](https://user-images.githubusercontent.com/94531721/170434347-e7a24d64-26f7-4e52-a272-2fb2bf6fadb5.jpg)

Priority of this issue will be assign

[2022-05-26 14:59] swatipawarGS commented on #33126
Hi @withsalah,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/170447582-4844b6bd-3702-45c7-a0b2-2b9f1606c64a.mp4

Priority of this issue will be assigned shortly

[2022-05-26 15:00] swatipawarGS commented on #33186
Hi @John-Schuster22,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/170445463-3dbd079e-5d44-4838-903a-845eab91b713.mp4

Please provide us more detailed and any

[2022-05-26 17:01] octaedro opened #33211 "'Show setup task list' button is not working."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After finishing the setup tasklist it's not possible to see the setup task list again without refreshing the page. The button `Show setup task list` in the kebab menu is not work

[2022-05-26 17:34] pmcpinto opened #33216 "Marketing task: blank screen due to API error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Marketing task is showing a blank screen in a Woo store powered by WP Engine (credentials shared through the secret store).

<img width="1211" alt="Captura de ecrã 2022-05-2

[2022-05-26 17:36] mattsherman commented on #32912
Reopening this, as @pmcpinto and @verofasulo have run across this. If either of you can provide more details that would help us to narrow this done, please share!

[2022-05-26 17:40] withsalah commented on #33126
Hi @swatipawarGS

No problem at all, just wanted to help. The goal is to improve the WooCommerce.

[2022-05-26 17:48] John-Schuster22 commented on #33186
@swatipawarGS Ok looks like it is a plugin conflict but how can we test deactivating our plugins quickly on this issue.

We have quite a few plugins on the site and are not sure about deactivating them one by one and testing them every day is the best solution.

Thanks!

[2022-05-26 18:01] John-Schuster22 commented on #33186
I noticed on our live site the woocommerce_scheduled_sales cron is missing is it ok to just readd?

![image](https://user-images.githubusercontent.com/106205288/170548237-179357df-6a11-4250-b5cb-d01f0180d093.png)

[2022-05-26 18:11] mattsherman commented on #33211
We should get this in for the WC 6.6 RC (May 31) as well.

[2022-05-26 20:56] #32672 closed, assigned to joshuatf

[2022-05-26 22:09] coreymckrill opened #33221 "[Enhancement]: Enable forcing a refresh of cached analytics data"
### Describe the solution you'd like

The WooCommerce mobile app displays order-related analytics data on the home screen for the current day, current week, current month, and current year. While viewing this data, you can "pull to refresh", causing the app to send a new request to the API to retrieve the latest version of the data. If nothing has changed on the store since the last request, the A

[2022-05-26 23:13] mattsherman commented on #32912
This might only manifest itself on WordPress.com eCommerce plan sites.

[2022-05-26 23:15] #29529 closed

[2022-05-26 23:40] #28106 closed

[2022-05-27 02:08] #32979 closed, assigned to nobody

[2022-05-27 02:11] pptp-plg opened #33223 "analytics overview Leaderboard not update"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In analytics overview page, Leaderboard not update data when change date filter to other value and select to previous value again in Leaderboard section data not change.

same is

[2022-05-27 02:17] chihsuan commented on #33216
I was able to reproduce this locally with steps in PHP 8 env.

[2022-05-27 03:37] psealock commented on #33204
Great find @mrleemon !

Would you be interested in opening up a pull request with that change?

[2022-05-27 06:10] XVII commented on #33126
+1. Can't delete plugin with WC_REMOVE_ALL_DATA  enabled.

[2022-05-27 06:10] erdempython commented on #33093
Any developments about the issue?

[2022-05-27 06:11] XVII commented on #32915
Duplicates #33126

[2022-05-27 06:32] WillBrubaker opened #33228 "Order status hover/order note missing w/WP 6.0"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After the update to WordPress 6.0, the tooltip with the order note is missing when I hover over the order status button on the orders screen/

### Expected behavior

That I can s

[2022-05-27 07:59] adrianduffell opened #33230 "Add e2e test for Admin translations"
This idea came from @ilyasfoo in a conversation we had.

## Acceptance criteria

* Add an admin e2e test that changes the language (which might need new functionality added to the [reset helper plugin](https://github.com/woocommerce/woocommerce-reset)).
* Assert a stable string (that doesn't change often) has been translated originating from:
  * React admin client
  * PHP class
  * `@woocommerce/

[2022-05-27 08:23] mrleemon commented on #33204
Here it is: #33231

[2022-05-27 09:31] ilyasfoo opened #33232 "Product task experiment cards not responding to clicks on element padding"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Clicking on card padding does not fire onClick

https://d.pr/v/Kx4ROs

### Expected behavior

Clicking on element should work

### Actual behavior

Nothing happens on click

###

[2022-05-27 10:55] Konamiman commented on #33080
Hi @brandon-9, thanks for your report. We would need some more information in order to troubleshoot this:

1. You mention "It will calculate if done via the UI", could you please specify which UI are you using exactly for this?
2. Could you please include an example REST API transaction in "Steps to reproduce"?

[2022-05-27 11:15] Konamiman commented on #33042
Hi @saidmrn, thanks for your report. We need some more information in order to troubleshoot this:

1. The `$data` that you are supplying to `$woocommerce->post` is the object you posted as is, or is it a JSON string? If it's the later could you please post the original JSON string?

2. The JSON error might be caused by the request returning an error message that the HTTP handler is trying to inter

[2022-05-27 11:27] Konamiman commented on #32783
Hi @lumyser, thanks for your report. We've been able to reproduce the issue so I'll label it as a bug to be fixed.

[2022-05-27 12:38] kaushikasomaiya commented on #33228
Apparently, something changed on WP Core `/wp-includes/comment.php`

Here's is var export of $comment_count in WC - `includes/admin/list-tables/class-wc-admin-list-table-orders.php`

Prior to 6.0:
![https://d.pr/i/5FMlfm+](https://d.pr/i/5FMlfm+)

WP 6.0:

![https://d.pr/i/DneVBf+](https://d.pr/i/DneVBf+)

[2022-05-27 12:48] saidmrn commented on #33042
Hello,i can't reproduce the error anymore.
Tested again today after reinstalling everything and it is working.
Thanks for the support.

[2022-05-27 12:48] #33042 closed, assigned to nobody

[2022-05-27 12:50] kaushikasomaiya commented on #33228
5247944-zen

[2022-05-27 14:07] brandon-9 commented on #33080
1. Within the Woo Admin Order manager, you can create a new order fine with negative fee values.
2. You can use any basic Order Create API Call from here: https://woocommerce.github.io/woocommerce-rest-api-docs/#create-an-order
3. Add a positive fee_line and taxes are calculated. Add a negative and they are ignored.

My workaround has been to create the order with the negative value and then updat

[2022-05-27 14:44] verofasulo commented on #32912
@mattsherman happy to help - which details do you need to investigate further?

[2022-05-27 16:29] pmcpinto commented on #33216
Do you think this is happening in stores using PHP 8?

[2022-05-27 16:41] #33211 closed, assigned to nobody

[2022-05-27 17:30] JPry commented on #32915
@ShadowXVII

That issue is newer, this is the original issue.

[2022-05-27 17:33] JPry commented on #33126
This is a duplicate of #32915.

[2022-05-27 17:33] #33126 closed, assigned to nobody

[2022-05-27 17:39] joshuatf commented on #32912
I'm only able to reproduce this issue on 6.4.1.  When upgrading to the latest version of WC, this is no longer an issue.

I think we can safely close this issue since the ecomm plans use 6.4.1 currently and will be fixed once those versions are bumped.  cc @pmcpinto and @verofasulo in case there are other ways to reproduce.

[2022-05-27 17:52] barryhughes commented on #31048
I want to note that (currently) this relies on a scheduled event. So:

- WP Cron must be successfully triggered through some established means.
- By default, the scheduled event runs once per day at 08.00am (according to the WP timezone), which may lead to some amount of latency (which may increase if system cron is not being used).

That might explain the findings we see above. I think there is s

[2022-05-27 18:04] #33232 closed, assigned to ilyasfoo

[2022-05-27 18:06] barryhughes commented on #31399
I believe this was solved in https://github.com/woocommerce/woocommerce/pull/30859 but feel free to create a fresh issue if you still see a problem.

[2022-05-27 18:06] #31399 closed, assigned to nobody

[2022-05-27 18:08] #31043 closed, assigned to nobody

[2022-05-27 18:21] barryhughes commented on #30833
Closing; we'll use existing issue #26289 to track this problem.

[2022-05-27 18:21] #30833 closed, assigned to nobody

[2022-05-27 18:22] barryhughes commented on #26289
If we need extra context/examples, may be useful to refer to notes in #30833.

[2022-05-27 18:29] barryhughes commented on #30702
Applying `needs: discussion`, it's not completely clear to me what the implications may be here when modifying historic orders in light of a modified tax rate.

[2022-05-27 19:58] #30803 closed, assigned to nobody

[2022-05-27 23:54] XVII commented on #32915
Yes I'm aware, but felt there was more interaction on the newer one. I don't care which way it merges, as long as it gets resolved.

[2022-05-28 00:36] #31364 closed, assigned to nobody

[2022-05-28 04:47] Lilrock commented on #32319
I'm half tempted to recreate this issue in a new report as this issue doesn't represent a recreation of the issue I'm having.
@adamcollingburn Do you have the same issue as @jessebrightman or can you recreate it using my problem I posted earlier? Maybe we should attempt to wake this issue up somehow

[2022-05-28 10:55] nameer94 opened #33248 "API search parameter does not work"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I want to get list of products based on title that contain a string, basically a simple search.
the `search` parameter does not work, I tested it on two sites and both not workin

[2022-05-29 00:36] #32978 closed, assigned to nobody

[2022-05-29 06:52] OmbraRD opened #33249 "Manually adding (or adding and then modifying) reviews to products has missing star rating field"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When adding product reviews manually, the star rating is completely missing. Only the comment can be inserted. Also, when inserting the comment and then editing it in the backend

[2022-05-29 10:21] t-bo opened #33250 "woocommerce_checkout_login_message filter not set up properly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This concern the following filter: woocommerce_checkout_login_message

`<?php wc_print_notice( apply_filters( 'woocommerce_checkout_login_message', esc_html__( 'Returning custome

[2022-05-29 16:17] willemb2 commented on #32979
@ilyasfoo  Thanks for nailing this down. On /wp-admin/site-health.php we indeed found a warning that something changed the default timezone after WordPress was loaded. This appeared to be caused by a plugin that was custom build for us. After fixing that we could update Woocommerce from 6.4.1 to 6.5.1 without loosing access to /wp-admin/.

[2022-05-29 21:18] ivanalvarezt commented on #19645
The solution is here -> https://stackoverflow.com/a/48997108

copy&paste:

_In the parent product import (the one that has type "variable")
set the Attribute 1 global column to 1

In the child product import (the one that has type "variant")
set the Attribute 1 name column to the name of the attribute

It will not use it for variants.

**For people who want their import to be a variant**

In the p

[2022-05-30 01:50] chihsuan commented on #33216
Yes, I think so.

[2022-05-30 06:51] #32882 closed, assigned to nobody

[2022-05-30 06:53] chihsuan commented on #32892
Labeling this as blocked. We need to release @automattic/tour-kit first. 32-gh-woocommerce/team-ghidorah

And `@automattic/tour-kit ` requires a new version of `@automattic/components`. I've asked Calypso team if they could publish a new version.

p1653892618153019-slack-C02DQP0FP

[2022-05-30 06:57] chihsuan commented on #32421
Re-ping @jarekmorawski 🙏

[2022-05-30 07:49] smazur opened #33252 "Fatal error because of missing frontend functions."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi!

Just found following fatal error:

[code]

After debugging i found issue in `\WooCommerce::is_rest_api_request` function. It doesn't properly work when we have `wp-json` in

[2022-05-30 08:04] simkoG opened #33253 "The number from the "Order status changed" notice gets stripped down"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After bulk editing a large number of orders (tested with 9999 orders) within the admin page the number in the notice message gets stripped down.

### Expected behavior

When chan

[2022-05-30 08:38] liamf91 commented on #32863
I can see that update 6.6 is now in beta 1 testing - how long do updates generally take to be released to "live"?

[2022-05-30 09:25] chihsuan commented on #32863
@liamf91 We aim to release a new version of WooCommerce every second Tuesday of each month. So 6.6 release date will be 6/14.

You can learn more about this at these links.
https://developer.woocommerce.com/2021/04/27/improving-releases-with-automation/
https://developer.woocommerce.com/2020/07/22/woocommerce-core-release-calendar/

[2022-05-30 12:26] jarekmorawski commented on #32421
Absolutely! Here are the steps.

**Point to:**
Product name input field

**Copy:**

Start typing your new product name here. This will be what your customers will see in your store.

**Buttons:**
[Next]

---

**Point to:**
Description input field

**Copy:**

Start typing your new product name here. Add your full product description here. Describe your product in detail.

**Buttons:**
[Back] [Next]

[2022-05-30 13:05] mehmettuz opened #33256 "Woocommerce Sorting Product > Attributes Titles"
### Describe the solution you'd like

Hi, I need to sorting attributes titles. What I mean I sharing screen shot with you. Anybody helps?

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-05-30 13:06] #32676 closed, assigned to louwie17

[2022-05-30 13:38] pmcpinto opened #33258 "New Navigation: scrollbar shows the default browser style in some movements"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The new navigation scrollbar style changes to the browser default style in some movements (scrolling and hovering).

### Expected behavior

Keep the style defined for our navigat

[2022-05-30 13:59] pmcpinto opened #33259 "Tax task: update copy"
**Description:** we should update the Tax task copy, as “Set up Tax” is not grammatically correct.

**Acceptance criteria:**
- [ ] Update the copy to "Set up tax rates"

[2022-05-30 14:04] pmcpinto opened #33260 "Marketing task: add "built by Woo" label to Pinterest"
**Description:** we should add the "Built by WooCommerce" pill to Pinterest, as the extension was built by one of the Woo teams.

**Acceptance criteria:**

- [ ] Add the "Built by WooCommerce" pill to Pinterest

[2022-05-30 14:32] gglobalstep opened #33261 "[GlobalStep] For Atomic site, "Out of Stock" and "On backorder" fails to display the selected result under Show on "Analytics > Stock" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic site, "Out of Stock" and "On backorder" fails to display the selected result under "Show" on "Analytics > Stock" page.

### Expected behavior

"Out of Stock" and "On b

[2022-05-30 16:35] braddalton commented on #27713
When i test this on a WPEngine hosted installation, the files are accessible to everyone when using any method.

[2022-05-30 16:51] #32186 closed, assigned to AnnaMag

[2022-05-30 16:51] joshuatf commented on #32186
This is fixed by https://github.com/woocommerce/woocommerce/pull/33163.

[2022-05-30 17:35] Aljullu opened #42630 "Single product templates that have been edited by the merchant can't be selected in the edit product screen"
This issue might require changes in WC core or Gutenberg repos, but I'm creating this in WC Blocks repo for ease of tracking it.

## To reproduce

1. In Twenty Twenty Two, create a new template, ie: `/themes/twentytwentytwo/templates/another-single-product.html`

[code]

2. Add it to `customTemplates` in `theme.json`:

[code]

3. Go to WooCommerce > Products and edit one of the products.
4. Notice

[2022-05-30 18:30] #33179 closed, assigned to nobody

[2022-05-30 21:15] barryhughes opened #33262 "WP CLI db update does not work as expected"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When running the `wp wc update` CLI command, the `woocommerce_db_version` option is not automatically updated at the end of the process (whereas, if the update is triggered throu

[2022-05-30 21:16] barryhughes commented on #31214
I've logged the second issue (thanks for flagging, @jaredyork) separately ... though we should address both problems.

See: #33262

[2022-05-30 22:11] alanwaitati opened #33263 "Analytics - the line/bar icon to toggle the chart is barely visible"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In Woocommerce Analytics, the icon to toggle between line/bar charts (top right in the image below) is barely visible.

<img width="795" alt="image" src="https://user-images.gith

[2022-05-31 01:35] shendy-a8c opened #33265 ""Please log in" link on checkout does not do anything"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With a clean install, purchasing a subscription product with an email of an existing user, on checkout page, it will show 'An account is already registered with your email addres

[2022-05-31 02:25] barryhughes commented on #33073
Translations, starting with the description:

Steps to replicate:

[2022-05-31 02:57] dashkevych opened #33266 "Main product image (single product views) is not cropped properly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce allows to set default image sizes via `add_theme_support( 'woocommerce' )`.

A default WooCommerce theme uses it to set the sizes for archive and singular views: http

[2022-05-31 03:03] barryhughes commented on #33073
This looks like it may be a problem in the Onboarding Tasks feature (though possibly a small change in core is needed to make things easier):

1. [`Admin\Features\OnboardingTasks\Tasks\Shipping::is_complete()`](https://github.com/woocommerce/woocommerce/blob/6.5.1/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php#L68-L70) checks if there are any shipping zones, by calling:

[2022-05-31 03:38] barryhughes commented on #33073
I think this one may be ~woocommerce/mothra~ @woocommerce/ghidorah  territory (let me know if I'm wrong there), because of the Onboarding Tasks dimension.

[2022-05-31 04:55] barryhughes commented on #33072
I tend to agree.

Generally we follow CLDR when updating changes to lists of countries, but I don't think that will help us with this specific case.

@t-bo is there any more context you could give as to why it would be useful to incorporate those special member territories into the output of this function (ie, in what sort of situations would this be useful to you/your customers, etc)? This might

[2022-05-31 05:02] t-bo commented on #33072
@barryhughes @DavidAnderson684 VAT apply for these territories IF the seller is located in France. This function was useful when used in conjunction with **filter_woocommerce_adjust_non_base_location_prices**

But I understand your point.

[2022-05-31 05:45] rjchow opened #33267 "WooCommerce Admin Store Details task is indiscriminate about the onboarding experience"
From: https://github.com/Automattic/wp-calypso/issues/63704

[2022-05-31 08:31] MiladRezaeian opened #33271 "Admin can refund more quantity than the order have for one product"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

when admin want to refund a product that it has a product with one quantity in order, it can refund more than one. it dose not make sense.

### Expected behavior

it should show

[2022-05-31 08:45] #33259 closed, assigned to chihsuan

[2022-05-31 08:46] #33260 closed, assigned to nobody

[2022-05-31 09:38] smoen-godaddy commented on #31470
Hey @peterfabian , the customer-facing documentation is in place now on the [Google doc](https://docs.google.com/document/d/1oMku-8Fqzj6PCSmXh5j3ElE2hsxABp6TQ3ayuQ-Or8Q/edit#) is ready for review/feedback.

[2022-05-31 11:15] pmcpinto commented on #33216
Is there a way to easily solve this issue?

[2022-05-31 11:57] Aljullu commented on #42630
I created an issue in trac, I think that should ideally be fixed upstream:

https://core.trac.wordpress.org/ticket/55881#ticket

[2022-05-31 13:52] codeproblemsolver commented on #31478
why this is still not taking care of ? no one care ? WooCommerce team should take 2 hours work

[2022-05-31 14:27] barryhughes commented on #33073
@ERICmcdev is it possible to make greater use of wildcards and/or ranges in your case?

For example, instead of:

[code]

You could do: `10000-10004` or `1000*` (the latter may be more suitable for non-numeric postcodes).

[2022-05-31 14:32] barryhughes opened #33273 "[Performance] Handling large numbers of shipping zone locations"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If we have a very large number of shipping zone locations (example: a very high number of postcodes as individual locations within that zone), performance suffers and the UI beco

[2022-05-31 14:47] barryhughes commented on #33072
Things to think on/figure out (to help decide if we should handle this within core, or leave it as something best fulfilled through custom development, etc):

- It sounds like VAT is applied when the seller is in France and the customer is in a French special territory of the EU.
- Is the reverse true (seller is in the special territory, customer is in France)?
- What about special territory to sp

[2022-05-31 14:53] t-bo commented on #33072
I can only speak for France. Reverse is also true. Seller in DOM-TOM apply VAT in DOM-TOM for customer there and VAT in France for customer over there.

[2022-05-31 15:32] emakx commented on #31478
Is there any ETA on this?

On Tue, 31 May 2022, 4:52 pm codeproblemsolver, ***@***.***>
wrote:

[2022-05-31 16:09] #33129 closed, assigned to joshuatf

[2022-05-31 16:32] #32129 closed, assigned to louwie17

[2022-05-31 16:35] barryhughes commented on #32454
I'm sorry, @SuperHanss, but I don't see this either. I've tested using Chrome (v101) on:

- https://veganfoodshop.thunder-stores.com/ (a demo site you linked to)
- https://lumiere.thunder-stores.com/ (a demo site you linked to)
- A clean demo site of our own

In each case there is a cart widget present and I can successfully visit a single product page, add to cart, then navigate back (via the bro

[2022-05-31 16:35] louwie17 commented on #32129
The changes for this have been merged, so this will be available in WooCommerce 6.7.
If you do add a notification with an `wp-admin` link make sure to add this rule:
[code]
So that the note won't be displayed on older versions where the link would be broken.

[2022-05-31 16:47] barryhughes commented on #32947
In case helpful to when we pick this up:

<img width="1078" alt="regular-page-footer-block" src="https://user-images.githubusercontent.com/3594411/171229046-74cc2d1d-1857-4186-9cb1-b982af927bc7.png">

↑ Using Twenty Twenty and inspecting a plain old WordPress page (the default "Sample Page") you can see that the page footer is indeed a `<footer>` element. Compare and contrast with the catalog page

[2022-05-31 17:04] barryhughes commented on #31470
FYI @megphillips91 and @thisissandip on the above.

[2022-05-31 17:20] Masterfitmeals opened #33275 "Bug products widget woocommerce"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On the mobile version the product widget doesn't work as it needs to be. 2 of the 4 productphotos are not visible and sometimes 3.

I deactivated Wpoptimize and then it worked ag

[2022-05-31 18:08] WHneedshelp opened #33276 "No payments available-HELP"
I have deleted and reinstalled woocommerce. I have ordering set to only the USA and am using woocommerce payment.... I can't figure out how to get the payments to work.

**Prerequisites (mark completed items with an [x]):**
- [X ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ X] My issue is not a security issue, support reques

[2022-05-31 18:40] taniagraphem123 opened #33277 "Countdown delayed load for 20 to 30 seconds - preset 3 - recurring timer"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There is a Countdown delayed load for 20 to 30 seconds - preset 3 - recurring timer
It's happening on many pages we are using but here is an example
https://join.ragingbull.com/j

[2022-06-01 01:02] psealock commented on #33277
Is this the countdown? It loads right away for me

![image](https://user-images.githubusercontent.com/1922453/171307557-f2e1be04-5b6d-49c5-b42a-2ad2f2f0a34c.png)

[2022-06-01 01:09] psealock commented on #33276
Hi @WHneedshelp, sounds like you're having a hard time.

You'll need to be more specific and include some steps to reproduce for us so we can figure out the problem. Can you use the template provided when creating an issue?

[2022-06-01 01:15] psealock commented on #33275
It sounds to me like WP Optimize is incorrectly resizing images for mobile. This plugin is outside of our control as we can only fix bugs relating to WooCommerce itself.

[2022-06-01 01:16] psealock commented on #33275
I will close this issue, but feel free to reopen if WP Optimize can identify a requirement from WooCommerce.

[2022-06-01 01:16] #33275 closed, assigned to nobody

[2022-06-01 05:15] chihsuan commented on #32421
Hi @verofasulo 👋  Should we replace the button for all users or only for users that select the physical product template?

[2022-06-01 05:44] chihsuan commented on #32421
I've created a draft PR
- https://github.com/woocommerce/woocommerce/pull/33268

Just labeling this as blocked until we complete the following tasks:

- https://github.com/woocommerce/team-ghidorah/issues/33
- https://github.com/woocommerce/team-ghidorah/issues/34

[2022-06-01 08:16] chihsuan commented on #33216
@pmcpinto I found this only occurs when a store skips OBW with PHP 8.

So I think a user can complete the OBW or downgrade the PHP version to skip this issue before we release a new version of woocommerce.

For the store powered by WPEngine,  they've provided a way to [change the PHP version](https://wpengine.com/support/php-guide/#Change_PHP_Version) to fix it.

I'll continue to create a patch fo

[2022-06-01 08:33] adrianduffell commented on #33073
@barryhughes Thanks for your investigations on this.

 I think it might be worth having a more optimized query available as a method on the data store, like`WC_Shipping_Zone_Data_Store::has_shipping_zones`, which the onboarding classes could use directly. What do you think?

On top of this, as a general safety net, I think the onboarding functionality needs a cache layer somewhere, especially with

[2022-06-01 09:29] saman3230 commented on #26422
Thank you very much for your unique solution, you saved me after 4 days

[2022-06-01 09:37] alexflorisca opened #42629 "Comparing state and action objects by reference instead of by value"
## Describe the bug

Within the [checkout-state context](https://github.com/woocommerce/woocommerce-blocks/blob/trunk/assets/js/base/context/providers/cart-checkout/checkout-state/reducer.ts#L189) (or after [this PR ](https://github.com/woocommerce/woocommerce-blocks/pull/6232/) is merged within the [checkout data store](https://github.com/woocommerce/woocommerce-blocks/pull/6232/files/0c269ccfd65

[2022-06-01 10:25] thisissandip commented on #31470
@smoen-godaddy the customer-facing documentation in this [Google doc](https://docs.google.com/document/d/1oMku-8Fqzj6PCSmXh5j3ElE2hsxABp6TQ3ayuQ-Or8Q/edit#) for WooCommerce.com still says:

Can you please point me in the right direction?

[2022-06-01 10:45] Julianlu1 opened #33279 "Not able to set programmatically EU VAT in when creating an order in WooCommerce"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

How can I add the EU VAT with a checkmark in the order? Currently I only get a big red cross in the EU VAT column in the wordpress dashboard. What am I missing? I read the docume

[2022-06-01 10:58] smoen-godaddy commented on #31470
@thisissandip Sorry, it seems I sent the incorrect link. [Here is the correct one](https://docs.google.com/document/d/1j12Jn-jwAxkr5tPuEne5mHjf7qYGAy_MSPyFxCxd6Qo/edit). Thanks for the heads up!

[2022-06-01 13:08] thisissandip commented on #31470
Thanks, @smoen-godaddy!

The document looks good. We may need to add FAQs later (after this is released). Please do add the screenshot under the "Viewing and managing Product Reviews" section 😄

Once [the PR](https://github.com/woocommerce/woocommerce/pull/32763) is merged, I'll create a document for the same on WooCommerce.com

[2022-06-01 13:29] gabrielbonifacio opened #42628 "All Products block displays "0.00" for products with empty prices"
## Describe the bug

Products with an empty price will display `0.00` on the All Products block. This is inconsistent with the behavior in other places, such as:

- Shop page
- Newest Products block
- Products by Category block
- Hand-picked Products block

All the above won't display a price, as expected.

## To reproduce
1. Create a product and save it leaving the Price field empty.
2. Create a

[2022-06-01 14:46] pmcpinto commented on #32152
@joelclimbsthings here's a summary of the changes that were discussed yesterday:

- [x] Hide the treatment header in the side panel and emphasize the "follow these steps..." paragraph. I think it will be enough to change the color to #1d2327 and the font-weight. cc @jarekmorawski @verofasulo what do you think?
- [x] Show the "Finish setup" CTA + side panel on all Woo pages. The only exception is t

[2022-06-01 14:48] gglobalstep opened #42627 "[GlobalStep] "Active Filter" fails to display after selecting "Variation" and clicking "Filter button" on Shop page."
### Bug Description:
 "Active Filter" fails to display after selecting "Variation" and clicking "Filter button" on Shop page.

## Environment:
Woocommerce Version:
WooCommerce: 6.6 RC 1
Wordpress version: 6.0
WooCommerce Blocks: 7.7.0

PC:
Windows 10
Chrome(Version 102.0.5005.63)
Firefox(Version 101.0)

### Steps To Reproduce:
1. Create any test site using JN site.
2. Install and activate all the

[2022-06-01 15:16] barryhughes commented on #33073
Yes, perhaps accessed via a corresponding method in `WC_Shipping_Zones` itself. Sounds like the start of a good plan.

Another alternative would be updating [Admin\Features\OnboardingTasks\Tasks\Shipping::has_shipping_zones()](https://github.com/woocommerce/woocommerce/blob/6.5.1/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php#L97-L99) to do something like:

`count( WC_Da

[2022-06-01 15:31] verofasulo commented on #32152
Maybe we can go with something like this?

![image](https://user-images.githubusercontent.com/98944206/171442298-5c7d59a7-af5f-48b6-a3b0-c57d5a2b9711.png)

G9vi4e286yjdzyIdg8hBb1/%F0%9F%9F%A1-fi-1786%3A159623

[2022-06-01 17:01] pmcpinto commented on #33216
Thanks for the update.

[2022-06-01 17:10] #32152 closed, assigned to joelclimbsthings

[2022-06-01 17:15] #32524 closed, assigned to louwie17

[2022-06-01 17:44] #32674 closed, assigned to octaedro

[2022-06-01 19:31] joelclimbsthings commented on #32152
After our call yesterday I went ahead and moved the title exclusively to the Homescreen, and tweaked the font/style of the remaining text on the sidebar:

![image](https://user-images.githubusercontent.com/444632/171486358-bcdd2c0b-6478-4419-bef2-011ac8786db8.png)

Glad to change this further, although so far we _have_ been able to avoid making any direct code changes between the sidebar and homes

[2022-06-01 19:33] joelclimbsthings commented on #32152
Thanks for the notes @pmcpinto ! I integrated some version of the first two in the previous PR that I merged a short time ago, and I'm opening another for the tracks revisions.

[2022-06-01 19:59] joelclimbsthings opened #33284 "Add tracks property to tasks events to indicate sidebar or homescreen"
**Description:**
We recently launched a version of the setup task list that is accessible via the side bar on non-homescreen pages. There are already a series of events associated with the tasks list, and we would like to be able to discern whether they're triggered via the sidebar or the homescreen. This will include adding a property to the existing tracks events to indicate this.

**Design over

[2022-06-01 21:48] joelclimbsthings commented on #32152
@pmcpinto If we want to take the pie-slice approach, I'm guessing it wouldn't be more than a 1-2 pointer, although I've had limited experience with programmatically altering SVGs.

[2022-06-01 21:52] barryhughes opened #33286 "[Enhancement]: Highlight templates and hooks changes for community PRs"
### Describe the solution you'd like

We have the useful [**highlight templates and hooks changes** workflow](https://github.com/woocommerce/woocommerce/blob/be041e0d386082644c17b59ddc406f7758302db2/.github/workflows/pr-highlight-changes.yml) but it seems not to run in the case of community PRs (ie, when we're looking at a change made via a fork of our repo).

<details>
<summary><a href="https://g

[2022-06-01 23:04] EricaKuschel opened #33288 "Free Shipping with coupon displaying after other methods showing cheapest option last"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When using "Free Shipping with a Coupon" Flat Rate and another "Shipping Method", the "Free Shipping" method is displayed after the other shipping method when the coupon is appli

[2022-06-02 00:27] beaulebens opened #33289 ""Get tips, product updates etc" mailing list during onboarding should be opt in, not auto-opt-in"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the first step of the onboarding wizard, there is an option to "Get tips, product updates and inspiration straight to your mailbox". This option signs you up for an informatio

[2022-06-02 01:32] moon0326 commented on #32491
I found out that `wcAdminAssetUrl` returns an incorrect value in the latest WC. It returns `http://your-domain/wp-content/plugins/woocommerce/src/Internal/images/`, which doesn't exist at all.

I think we should make the following changes before removing the function completely.

1. Fix the incorrect return value.
2. Deprecate [WC_ADMIN_IMAGES_FOLDER_URL](https://github.com/woocommerce/woocommerce

[2022-06-02 02:06] seni04 commented on #14149
How to setting cookiepath ? never done this before

[2022-06-02 02:59] chihsuan commented on #33216
FYI, I've created fix PRs. We can update the remote endpoint to fix this.

[2022-06-02 03:29] psealock commented on #33256
Hi @mehmettuz, if you can provide more detail, a screenshot and follow the template we'll be better able to help out here.

[2022-06-02 03:31] psealock commented on #33252
Thanks for the bug report @smazur. Can you provide steps to reproduce?

[2022-06-02 03:41] psealock commented on #33248
Hi @nameer94 If you can add some step-by-step testing instructions, we'll be better able to reproduce the bug.

[2022-06-02 03:42] psealock commented on #33250
Can you provide a screen shot please?

[2022-06-02 05:13] #33216 closed, assigned to chihsuan

[2022-06-02 06:09] chihsuan commented on #33216
I've verified this has been fixed.

1. Make sure `woocommerce_show_marketplace_suggestions` option is 'yes' to to fetch data from woocommerce.com
2. Delete `_transient_woocommerce_admin_remote_free_extensions_specs`
3. Go to the marketing task

[2022-06-02 07:00] simkoG commented on #33253
I can reproduce the bug in the 6.6 RC 1 version of WooCommerce.

![image](https://user-images.githubusercontent.com/10430702/171571432-e7d765f8-678b-4489-a5d6-b3c123c159dd.png)

<details>
  <summary>WordPress Environment, click to expand!</summary>

[code]
</details>

[2022-06-02 08:33] frontdevde commented on #42627
Bug confirmed. For related discussion see slack-archives/C011ENB20Q1/p1654072989549399.

[2022-06-02 08:53] pmcpinto commented on #33216
👍 thanks for handling this bug.

[2022-06-02 09:31] pmcpinto commented on #32152
@joelclimbsthings thanks for the update. Let me know if you have any questions about the Tracks changes.

Feel free to move forward with it, if you think it will be ready in time to be included with 6.7.

[2022-06-02 10:34] kevin25 commented on #21783
I have the same issue and I can't delete that attribute.

[2022-06-02 10:56] mehmettuz commented on #33256
Hi @psealock I am sharing screenshot with you what I mean. Such as I want to make top "Ürün Numarası"

[https://prnt.sc/CBfVcRrMEDRP](url)

[2022-06-02 12:38] #32910 closed, assigned to joshuatf

[2022-06-02 12:51] smoen-godaddy commented on #31470
@thisissandip I added the screenshot for WooCommerce > Home to the doc.

Is the post for the dev blog still needed?

[2022-06-02 13:12] swatipawarGS commented on #33223
Hi @pptp-plg,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/171570507-bcd17ac5-5261-43a2-bcbf-d37c617e9c9e.mp4

Priority of this issue will be assigned shortly

[2022-06-02 13:13] swatipawarGS commented on #33249
Hi @OmbraRD,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/171582346-c015f890-4fec-488a-b45b-a6bda8d80df5.mp4

Priority of this issue will be assigned shortly a

[2022-06-02 14:06] leewillis77 opened #33293 "Onboarding tasks documentation uses deprecated filters"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

https://developer.woocommerce.com/extension-developer-guide/handling-merchant-onboarding/ is out of date.

Code that implements task list items in the manner described in that ar

[2022-06-02 15:02] AnnaMag opened #33294 "Block editor: add property to post create/edit/update Tracks events"
Expand the product editing related events, e.g. wcadmin_product_add_publish/_edit with a property indicating block editor usage.
Theme for testing e.g. Blooms.
To-do: confirm the events list.

[2022-06-02 15:04] smazur commented on #33252
@psealock

1. Setup new page with `wp-json` in the page slug.
2. Implement simple template for that page, e.g

[code]
3. Open the page.

You should get fatal error.

[2022-06-02 17:28] pmcpinto commented on #33294
@AnnaMag I think it will be enough to add the prop to wcadmin_product_add_publish and wcadmin_product_update

[2022-06-02 17:53] joshuatf opened #33295 "Install timestamp is not included with experiment assignment requests"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The segmentation for new users in the experiments endpoint relies on `woo_wcadmin_install_timestamp` for determining the newness of a user.

This is not being sent in the latest

[2022-06-02 19:24] strategio opened #33298 "[6.6 RC]: Login via /wp-admin as a customer is not redirecting to the frontend"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Login as a customer via `/wp-admin` shows an unusable page with many notices/warnings.

### Expected behavior

As a customer, I am expecting to be redirected to the frontend (my

[2022-06-02 22:01] #32491 closed, assigned to moon0326

[2022-06-02 22:47] moon0326 opened #33302 "Remove WCA installation merge related tests"
We've added a [test](https://github.com/woocommerce/woocommerce/blob/6.5.1/plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php#L63) as a safeguard when we merged WCA installation logic to the core.

Given the merge has been working fine and the test requires manual update whenever we add a new db update logic, we can remove the test now.

[2022-06-02 22:53] #32532 closed, assigned to moon0326

[2022-06-03 00:36] #32976 closed, assigned to nobody

[2022-06-03 00:36] #32985 closed, assigned to nobody

[2022-06-03 04:12] brucealdridge opened #33304 "Product with no reviews broken in Twenty Twenty Two Theme"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Product page is broken in Twenty-Twenty-Two theme when reviews are disabled.

### Expected behavior

The page shows the footer correctly at the bottom of the page

![Screen Shot

[2022-06-03 05:19] psealock commented on #33256
@mehmettuz The link isn't working. Can you also supply steps to reproduce?

[2022-06-03 08:26] Aljullu commented on #33304
I was able to reproduce, thanks for opening this issue @brucealdridge!

Heads-up that the bug is only reproducible if the product has reviews disabled **and** has no description or additional information.

| Product without reviews but with description (looks good) | Product without reviews neither description (buggy) |
| --- | --- |
| ![imatge](https://user-images.githubusercontent.com/3616980/17

[2022-06-03 08:30] wiles88 commented on #42628
This is a huge problem for me, we use Woo as a product catalogue rather than an online shop

[2022-06-03 09:17] AnnaMag commented on #33128
Just to add that the same applies to the` _analytics_ `setting.

[2022-06-03 09:54] stronenv commented on #24185
I don't know if this issue is meant to be a running tally of a11y issues, or if you would like me to open a new issue?

But we're seeing an issue with the "Filter products by attribute" on the Product List Views as [mentioned above](https://github.com/woocommerce/woocommerce/issues/24185#issuecomment-1018669224).

The select element does not have an associated label.

[2022-06-03 10:21] adrianduffell opened #33306 "Create a Woo Flavored ExPlat Client for PHP"
## User Story

As a Woo developer, I want an ExPlat client pre-configured for use in WooCommerce, so that I don't have to configure it myself for each experiment.

## Criteria

* Contribute the existing class back to Jetpack in https://github.com/Automattic/jetpack/issues/19596
* Use Composer to include [automattic/jetpack-abtest](https://packagist.org/packages/automattic/jetpack-abtest).
* Create

[2022-06-03 10:41] alopezari commented on #33253
Thanks for spotting this! I was able to reproduce it on WC 6.6.0 (RC1). For some reason, the number shown in the `x order statuses changed` message just shows values from 0 to 999.

Examples that justify the statement above:
- If we set the value 0 to the `changed` query parameter, the message will be `0 order statuses changed`
- If we set the value 999 to the `changed` query parameter, the messag

[2022-06-03 10:42] whispercodeDev opened #33307 "Wrong product stock check on order-pay page with a custom status"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If you try to pay for an order through the order-pay page and this order has a custom status which already reduced stock, there comes this error message: "Sorry, we do not have e

[2022-06-03 12:10] mehmettuz commented on #33256
Dude, in Product > Variations, I want to make reorder with drag and drop.

[2022-06-03 12:38] kaushikasomaiya opened #33309 "WC: 6.5.1 - PHP Undefined index Notices/Warnings on disabling WooCommerce Analytics in WooCommerce > Settings > Advanced > Features"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Reported at: https://wordpress.org/support/topic/woocommerce-analytics-undefined-index-key-id-and-value/

We get the following notices/warnings when WP Debug is active and we try

[2022-06-03 12:58] kaushikasomaiya commented on #33309
These notices/warnings also appear on some other pages such as **WooCommerce > Orders** and **WooCommerce > Reports**.

[2022-06-03 13:07] swatipawarGS commented on #33304
Hi @brucealdridge,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screenshot for reference :

![#33304](https://user-images.githubusercontent.com/94531721/171801662-10d257b1-4d6c-4a01-86e1-b961c8557e7e.jpg)

Priority of this issue will be a

[2022-06-03 13:08] swatipawarGS commented on #33298
Hi @strategio,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.6RC  version and WordPress 6.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/171804990-82df2a6e-2eac-445b-a174-b37c8a9392c1.mp4

Priority of this issue will be assigned shortl

[2022-06-03 13:49] lsinger commented on #27814
Hey @lamalamaMark, thanks for the nudge. Due to many competing needs, unfortunately the team hasn't been able to prioritize this so far.

As an open source project, WooCommerce is always grateful for outside contributions. If you're able and interested, please let me know if we can help you get started contributing!

[2022-06-03 13:51] lamalamaMark commented on #27814
Hi @lsinger, very interested in contributing on this issue. Is their any guiding on which positions within the code base have to be reviewed/adjusted?

[2022-06-03 14:13] joshbetz commented on #33221
This seems easier, so I would probably lean toward this option.

[2022-06-03 14:47] swatipawarGS commented on #33252
Hi @smazur,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/171850311-7cd79527-5f27-4bf1-90f3-15de904f2380.mp4

Please provide us more detailed and any additiona

[2022-06-03 15:37] #33304 closed, assigned to Aljullu

[2022-06-03 15:45] swatipawarGS opened #33311 "[GlobalStep] "Request-URI Too Long" error after clicking "Apply" button on "Orders" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Request-URI Too Long" error after clicking "Apply" button on "Orders" page.

### Expected behavior

All Orders should be marked as "completed" after clicking "Apply" button on "

[2022-06-03 16:01] #32645 closed, assigned to nobody

[2022-06-03 17:39] alvinarichard commented on #15328
I am still having an error in registration form while adding to [https://mesheble.com/](https://mesheble.com/)
`function wooc_extra_register_fields() {?> <p class="form-row form-row-wide"> <label for="reg_billing_phone"><?php _e( 'Phone', 'woocommerce' ); ?></label> <input type="text" class="input-text" name="billing_phone" id="reg_billing_phone" value="<?php esc_attr_e( $_POST['billing_phone'] );

[2022-06-03 18:09] louwie17 commented on #33221
I am not a huge fan of this one, which makes me lean towards number two, but that does feel like a big gradual overhaul.

For simplicity sake could we actually partly use this point:

But instead of calling `Cache::invalidate()`, we update the `Cache` to allow us to invalidate/remove items by `key`. Then when `force_cache_refresh` is used, we can just call `Cache::remove( $key )`, making use of `g

[2022-06-03 19:22] coreymckrill commented on #33221
I like this! Although, the place where the query args are normalized and the cache key is generated is still down in the datastore, and `get_cache_key` is a protected method, so we'd still need to change the shape of the datastore class in some way...

[2022-06-03 19:25] mattsherman opened #33314 "Store remote inbox cache as transient instead of as option"
The remote inbox implementation currently caches the result of calling the https://woocommerce.com/wp-json/wccom/inbox-notifications/1.0/notifications.json endpoint in the following option:

`wc_remote_inbox_notifications_specs`

This is currently over 7.2kb and as such, isn't ideally stored as an option, since that can cause performance issues on some installations.

Instead, the cache result sho

[2022-06-03 20:20] joshbetz commented on #33221
Can we just bypass the cache retrieval here?

https://github.com/woocommerce/woocommerce/blob/c4628b966be16218a99d093cf3672ad79a4f235e/plugins/woocommerce/src/Admin/API/Reports/Products/DataStore.php#L290

So we force the report to be generated even if the cache exists, which will then update the cache entry.

[2022-06-03 20:41] coreymckrill commented on #33221
Yep. The question is, how do we get the boolean value specifying that bypass from the API controller to that point in the logic?

[2022-06-03 21:57] #33302 closed, assigned to moon0326

[2022-06-03 23:01] coreymckrill opened #33315 "[Enhancement]: Adjust the effective TTL of the analytics cache for better cache resilience"
### Describe the solution you'd like

This is a companion to #33221. It probably should only be implemented in conjunction with that, as explained further below.

Currently data items in the analytics cache have a theoretical TTL of [one week](https://github.com/woocommerce/woocommerce/blob/35b58245af09042934d9c726786cb3dfcb246838/plugins/woocommerce/src/Admin/API/Reports/Cache.php#L73). However,

[2022-06-04 00:36] #31487 closed, assigned to nobody

[2022-06-04 06:29] EjayhanFernandes commented on #32863
We're seeing another report of this error in 35634095-hc, and clarified this should be fixed in the next update.

[2022-06-04 09:12] Julianlu1 commented on #33279
I would like to close this question since it is not relevant to me.

[2022-06-04 09:12] #33279 closed, assigned to nobody

[2022-06-04 11:35] erikyo commented on #33266
I also had this problem and it is caused by the woo page container/flexslider frame.
In the example the page is from storefront which is about 1000px wide (66em x 16px) while the flexslider gallery container is 39.13043% wide with come margins on the left/right side... that's the reason why (without editing the page template) you can't get the gallery image at the correct size.

To solve you need

[2022-06-05 06:01] westzonesolution1 commented on #15656
Simply use this filter in function.php
add_filter( 'woocommerce_product_variation_title_include_attributes', '__return_false' );

[2022-06-05 15:13] Akhil7597 opened #33316 "woocommerce shipping page not loading"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
woocommerce shipping page is not loading , i was adding pincodes

[2022-06-05 17:45] #31470 closed, assigned to nobody

[2022-06-06 00:36] ObliviousHarmony opened #33317 "Implement Valid Changelog Files"
### Describe the solution you'd like

While we may be using the Jetpack Changelogger to create changelog entries, we aren't enforcing the expected `CHANGELOG.md` format. We need to make sure that all of the packages and plugins are fully configured and have valid changelog files.

**NOTE**: Solaris owned packages will be omitted from this process. We can bring them up to speed when a complete proc

[2022-06-06 00:43] ObliviousHarmony opened #33318 "Automate Package Changelog Writing & Publishing"
### Describe the solution you'd like

Once we've completed https://github.com/woocommerce/woocommerce/issues/33317, we need to build some kind of script or workflow for publishing packages. This script should get the new version for the `package.json`, write the changelog files into the changelog, and then release the package using `pnpm publish`. It should only perform the release if there is new

[2022-06-06 00:45] ObliviousHarmony opened #33319 "Create Package Release Workflow"
### Describe the solution you'd like

We should create a dispatchable workflow to automate the release of packages. This should be a workflow that accepts the package's name and runs a script.

- [x] Should update the changelog https://github.com/woocommerce/woocommerce/pull/33515
- [x] Should update the package.json version https://github.com/woocommerce/woocommerce/pull/33515
- [x] Should open a

[2022-06-06 00:54] ObliviousHarmony opened #33320 "Add Hook Descriptions To Code Analyzer"
### Describe the solution you'd like

As part of the effort to automatically generate release posts, our code analyzer tool needs to return descriptions about the hooks that have changed and been added.

- [ ] For new hooks we can use the description from the doc block
- [ ] For updated hooks, we should read from the `@since` tags.
- [ ] The comment that the workflow leaves should also highlight w

[2022-06-06 03:26] ObliviousHarmony commented on #33318
As an additional note, we need to consider package updates that require changes in a dependency package to function. We might add something in the `@woocommerce/date` package and then consume that in the `@woocommerce/components` package. Both will have changelog entries and require releases, since otherwise, the new components package version would be broken.

PNPM will handle the replacing of `w

[2022-06-06 04:15] becdetat commented on #32318
I'm checking on the status of this as it looks like it will be part of cycle 26. Do we have enough information to proceed (@chihsuan  @adrianduffell )? It's also rather large and has a number of cases, can we break it down into smaller pieces? This would make it easier to manage and might make it possible for a couple of people to work on this in parallel.

[2022-06-06 05:15] chihsuan commented on #32318
@becdetat Yup, I believe this is ready to proceed. Actually, we estimated it in Cycle 25 Planning call.

Absolutely, I'll see if I can do it as a porter this week.

[2022-06-06 05:23] chihsuan commented on #32318
@pmcpinto @verofasulo We discussed this in our Cycle 25 Planning call. If I remember correctly,  because we will add/change many things in this task, it might not be appropriate to perform A/B tests.  cc @ilyasfoo

[2022-06-06 07:32] smazur commented on #33252
Hi!

I tried to replicate it on clean WP+WC+Storefront setup.

1. I have to modify Storefront's page.php template to use `wc_notice_count` function:

[code]

2. I created test page with slug `test-page-wp-json`.
3. The result you can see on screenshot below.

![Выделение_332](https://user-images.githubusercontent.com/1071748/172115186-d86a00a7-2f06-4aa3-a1a7-c1cce5b9fcc8.png)

[2022-06-06 08:53] gerardopandolfi commented on #33117
Hi, I'm a newbie, and before to wrong I have a question: We need to wait for a new WooCommerce update to try again to delete the plugin with the define( 'WC_REMOVE_ALL_DATA', true ); right?
At the moment I have disabled the plugin and left it on standby.

My second question: the define( 'WC_REMOVE_ALL_DATA', true ); delete alse the product pictures?

Thanks

[2022-06-06 09:04] chihsuan commented on #32355
Close this since we've run our e2e tests in the core.

[2022-06-06 09:04] #32355 closed, assigned to nobody

[2022-06-06 11:14] iamdharmesh commented on #33135
I started working on PR for this but I am blocked by husky pre-commit hook errors, it's giving me PHPCS errors for code that I didn't change. should I proceed with ignoring the errors and commit the changes (I will make sure that my changes don't have any errors)?

![image](https://user-images.githubusercontent.com/10613171/172149161-aae54c37-76d9-43bf-8103-d6697b110fbd.png)
cc: @jeffpaul

[2022-06-06 11:58] #33125 closed, assigned to joshuatf

[2022-06-06 12:56] roykho commented on #33309
@kaushikasomaiya - Thanks for reporting this. This issue should be fixed via https://github.com/woocommerce/woocommerce/pull/33154 and should go out in version 6.7. I will close this for now. Please reply if you have further concerns on this.

[2022-06-06 12:56] #33309 closed, assigned to nobody

[2022-06-06 14:49] github-actions[bot] opened #42626 "Replace with the blockified version of the Product Grid B..."
Replace with the blockified version of the Product Grid Block when it will be available.

---
https://github.com/woocommerce/woocommerce-blocks/blob/32e57f2fbeda16e7ac18dbda286dee82cff6c45c/assets/js/blocks/classic-template/index.tsx#L77-L88
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in 32e57f2fbeda16e

[2022-06-06 14:57] pmcpinto commented on #32318
👍 Sounds good to me. As Veronica included in the description, our goal is to start testing this approach in some countries.

[2022-06-06 15:04] jeffpaul commented on #33135
@iamdharmesh yes, please proceed and we can adjust course in the PR if necessary, thanks!

[2022-06-06 15:35] andfinally opened #33323 "Analytics breaks intermittently with error `r[e] is undefined`"
### Describe the bug

On WooCommerce.com, the Analytics Overview page intermittently fails to render. When this happens, we get JS errors in the console.

### To Reproduce

1. Open devtools.
2. Go to the analytics page `/wp-admin/admin.php?page=wc-admin&path=%2Fanalytics%2Foverview` on the WCCOM production or develop environments.

### Actual behavior:

The content of the page fails to render. On

[2022-06-06 15:44] erikyo opened #33322 "Jquery - ready event not fired because deprecated"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

[html-admin-dashboard-setup.php](https://github.com/woocommerce/woocommerce/blob/f04e0761a6c200e57e8a9df45c62b5e76b2f058a/plugins/woocommerce/includes/admin/views/html-admin-dash

[2022-06-06 16:09] mehamasum commented on #33323
@andfinally  I see a `Missing data from PHP (wpNotesArgs)` warning (on prod wccom, linux/chrome).
Just a hunch - some piece of data is missing from the backend and thus the client is failing to render?

![image](https://user-images.githubusercontent.com/12912469/172199960-a77cae65-e79b-4488-b2cc-9c65d8f7694f.png)

[2022-06-06 16:51] shivapoudel opened #33324 "[Enhancement]: Product categories and sub-categories pagination"
### Describe the solution you'd like

We do have a lot of categories and sub-categories and the shop is based on categories. Hence like to add pagination for those archive pages.

### Describe alternatives you've considered

If this is not supported in core and via any other plugin then please lemme know. Currently tried WP-PageNavi but didn't come across any solution.

@claudiosanches If you have

[2022-06-06 19:30] coreymckrill commented on #33221
Thinking about this more, I suspect option 1 is the safest approach. If we start changing interfaces or the visibility of methods, and some plugin is extending the datastore class, that would potentially cause fatal errors (see #33039).

[2022-06-06 20:03] louwie17 commented on #33221
I was thinking we could add the `get_cache_key` as an static function to the DataStore, or on another class as a static function. So then we can call it from within controller without having to modify `get_data` structure.

I would be fine with this, as it is the safest option. But I get a sense we might end up changing this down the road, as we will always have to make sure to unset it for it to

[2022-06-06 21:00] joshbetz commented on #33221
I think that's a good call @coreymckrill, especially since part of the goal here is to avoid doing too much refactoring. We can always plan out a larger refactor later if we need to.

[2022-06-07 00:31] kidicarus-2022 opened #33326 "WP 6.0 WooCommerce > Settings > Payments - save button not working"
I needed to update my Helcim Payments account information but could not save the data. The save button seems inactive. The pointer changes to signal a button, and the button itself hovers a darker blue, but the save action doesn't work. The save button in the other settings tabs work except for anything under the Payments tab. The 'manage' section of the payment method does not save either.

I dow

[2022-06-07 00:36] kidicarus-2022 commented on #33326
Sorry, I will post this in Bugs.

[2022-06-07 01:06] kidicarus-2022 opened #33328 "WP 6.0 WooCommerce > Settings > Payments - save button not working"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WP v6.0 WooCommerce > Settings > Payments - save button not working. The 'manage' button in payment method rows work, but those settings also do not save.
The save button in the

[2022-06-07 01:08] #33326 closed, assigned to nobody

[2022-06-07 01:14] sunyatasattva commented on #42626
Hey @gigitux! As this issue was created automatically by GitHub actions, would you mind adding a few details in the description as to the context of the issue?

Thank you!

[2022-06-07 01:55] moon0326 commented on #32206
Hey @mattsherman

It's been a long time and I will probably start working on it soon (hopefully 😄 ), but I wanted double check since Inbox is now owned by Mothra.

Do you want to take it over by any chance?

[2022-06-07 02:40] chihsuan commented on #33323
~Looks like analytics page is back to normal now?~

~I was able to view the page content though I'm still seeing some warnings/errors.~

Ah, I'm seeing the `r[e] is undefined` error again.

![Screen Shot 2022-06-07 at 10 37 14](https://user-images.githubusercontent.com/4344253/172283992-397acf5c-be21-480b-a3a6-8ba724fb2bd5.png)

[2022-06-07 04:29] chihsuan commented on #33323
@andfinally @mehamasum I think it's related to asset cache.

It fails when it tries to load a module function. And the module id generated by webpack is `85932`.

![Screen Shot 2022-06-07 at 12 13 04](https://user-images.githubusercontent.com/4344253/172294961-83b3a19f-8196-4c04-a9c2-5a2b2c05390d.png)

I searched the plugin files and found out it's `store-alert.js`

It seems that store-alert.js UR

[2022-06-07 04:38] adrianduffell commented on #33323
@chihsuan Does `store-alert.js` get requested with a version param? e.g. `store-alert.js?ver=6.6.0`

[2022-06-07 04:44] chihsuan commented on #33323
@adrianduffell Nope. The analytics page requests it without a version param.

![Screen Shot 2022-06-07 at 12 39 53](https://user-images.githubusercontent.com/4344253/172297306-fda202cf-e004-412d-92f6-97be5f4b72a4.png)

Ah, that's the reason why we get random responses.

[2022-06-07 04:54] adrianduffell commented on #33323
I think so!

Ideally there would be a version param so a new cache key is generated with every new WooCommerce version.

[2022-06-07 07:09] ilyasfoo opened #33331 "Add `woo_wcadmin_install_timestamp` parameter to JS ExPlat client by default"
### Describe the solution you'd like

In https://github.com/woocommerce/woocommerce/pull/33300, we added `woo_wcadmin_install_timestamp` to default query parameter PHP ExPlat client.

I think it makes sense to add this to JS client as well, but it will require preloading the `woocommerce_admin_install_timestamp` option.

### Describe alternatives you've considered

_No response_

### Additional co

[2022-06-07 07:09] ilyasfoo commented on #33331
cc @woocommerce/mothra if anyone is interested to pick up since you've made the changes for PHP

[2022-06-07 07:34] iamdharmesh commented on #33135
Hi @peterfabian, PR for fixing this is ready for review.

Thanks
cc: @jeffpaul

[2022-06-07 08:55] adrianduffell commented on #33150
Hi @j19sch, thanks for creating this issue and sharing the idea. We'll consider it in an upcoming release cycle.

[2022-06-07 09:01] Dekadinious opened #33333 "The method "set_name" does not seem to be working for variations"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The documentation for the WooCommerce Product Variation class states that there are at least two methods pertaining to the name of the variation. It lists `set_name` and `get_nam

[2022-06-07 09:08] Dekadinious opened #33335 "Variation name is not displayed correctly when attribute name is "0""
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We have attribute terms like "1" and "2" and "12" and so on. We also have "0". Setting these attributes on parents and creating variations out of them works just as we want it to

[2022-06-07 09:19] ilyasfoo commented on #32318
@chihsuan Thanks for raising that, I agree that the change is too much for us to be able to meaningfully measure what contributes to any improvements/degradation. Makes sense to not use experiments for this.

@pmcpinto Without explat, we won't be able to disable the feature remotely (such as disabling an experiment in Abacus) unless we build a remote-feature-toggling mechanism. Do you think it's o

[2022-06-07 09:35] chihsuan opened #33336 "Add test for the version param"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Add test for the version param

context: p1654578538026739/1654

[2022-06-07 10:13] andfinally commented on #33323
Thanks @chihsuan for that awesome insight! 🙌 And many thanks for your help @mehamasum and @adrianduffell.

I'm curious how you figured that out - I added a breakpoint at that line in `index.js`, but I never got that particular number. I'd also love to understand how to use the number to identify the file! But that is maybe a question for another day – the file now seems to be refreshed, and the pa

[2022-06-07 10:31] tammullen commented on #33188
I have only been able to recreate this by the following flow
- Install 6.5.1 on a PHP 8.1 site
- Skip OBW
- Install WC Beta Tester
- Upgrade to 6.6
- Blank screen displayed. Loads correctly if page is refreshed

<img width="1527" alt="Screenshot 2022-06-07 at 11 17 36" src="https://user-images.githubusercontent.com/24649833/172358774-8114fbcf-8c0d-4477-af68-7ff3a91dd88b.png">

**I cannot recreate

[2022-06-07 10:50] kanlukasz commented on #31947
I am curious why a **fatal** error that causes a website to stop was flagged as low priority 😢
Is there any plan to fix this bug?

[2022-06-07 11:12] tammullen commented on #33189
Hi @Chrystll

Just noting from that post "The code for testing is currently not included in any official release."
I believe that is why you are seeing this error in 6.5.1 cc: @vedanshujain to confirm

You can use the build included in that post or a 6.6 pre release version such as 6.6 RC https://developer.woocommerce.com/2022/05/31/woocommerce-6-6-rc/

[2022-06-07 11:20] #31214 closed, assigned to nobody

[2022-06-07 11:20] #33262 closed, assigned to nobody

[2022-06-07 11:52] andfinally commented on #33323
Our immediate issue was solved, but I'd better keep this issue open while https://github.com/woocommerce/woocommerce/pull/33332 is open.

[2022-06-07 12:54] #33256 closed, assigned to nobody

[2022-06-07 13:12] joshuatf commented on #32912
Double checking with @pmcpinto and @verofasulo one more time before closing this issue.

[2022-06-07 13:34] rjchow opened #33337 "Improve webpack cache-busting version parameter by using file contents hash instead of a static version number"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

In the current version of WooCommerce Admin, a query parameter

[2022-06-07 14:17] joshuatf commented on #33221
I think we can modify the method `get_cache_key` to check for the existence of the `force_cache_refresh` and simply return `false` if it exists.

This way we're not introducing brittle logic around unsetting query params.

I'm not sure if `get_cached_data` handles a request for `false` specifically, but we could introduce this as well if needed.

[2022-06-07 14:38] swatipawarGS commented on #33328
Hi @kidicarus-2022,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.5.1 version and WordPress 6.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/172318953-00194a6a-b7c8-4157-948d-9b892bbe2b3f.mp4

Please provide us more detailed and any

[2022-06-07 15:07] mattsherman commented on #33323
#33332 is merged now, so closing this.

[2022-06-07 15:07] #33323 closed, assigned to nobody

[2022-06-07 15:28] mattsherman commented on #33331
Thanks, @ilyasfoo

[2022-06-07 15:33] mattsherman commented on #33295
Closing this, as #33331 covers the JS ExPlat client.

[2022-06-07 15:33] #33295 closed, assigned to joshuatf

[2022-06-07 15:50] ralucaStan commented on #42644
Gutenberg has a handy [migrate to TS guide](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/CONTRIBUTING.md#refactoring-a-component-to-typescript) that we could also use for inspiration.

[2022-06-07 17:50] #33298 closed, assigned to nobody

[2022-06-07 18:47] amitkumarroy0000 commented on #26233
Is the Fraction entities variation attribute are working ?

[2022-06-07 20:30] joshuatf commented on #33314
@mattsherman From what I'm seeing, this is already stored in a transient.  https://github.com/woocommerce/woocommerce-admin/pull/7671/ introduced the `DataSourcePoller` which stores all polled info in transients.

It's possible that these sites are using older versions of WC or the option has just been left in the options table.

Should we add in a migration to clean up this old option?  I think a

[2022-06-07 22:10] thelogicwizards commented on #32241
5277736-zen is affected by this issue, also.

[2022-06-07 22:46] gabrielbonifacio opened #33344 "Product info lost if you save it without a name"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating a new product, the product type and any information entered (with the exception of attributes) will be lost if you save it without a name.

### Expected behavior

T

[2022-06-07 23:43] coreymckrill commented on #33221
@joshuatf I like that idea, and I've updated #33325 to use `get_cache_key` in a way similar to what you describe. This allowed me to keep all of the changed logic within the parent `\Automattic\WooCommerce\Admin\API\Reports\DataStore` class, without having to spill over into each of the child classes 💯

[2022-06-08 00:53] mattsherman commented on #33314
@joshuatf Interesting. Can you dig into this a bit more and follow up on the linked reference post. It seems odd that the sites would be running an older version of WC. I imagine we are just missing some detail. Thanks!

[2022-06-08 00:55] mattsherman commented on #32206
@moon0326 It makes sense for Mothra to handle this, since we are responsible for Inbox.

Do you agree, @adrianduffell ?

[2022-06-08 01:38] adrianduffell commented on #32206
@mattsherman Yeah, agree, although I'm happy for Ghidorah team members to work outside of Start as part of professional development opportunities.

There's perhaps an opportunity for @moon0326 to work closely with Mothra on this if you're both interested.

I'll move it out of the Ghidorah backlog however.

[2022-06-08 01:39] #33201 closed, assigned to chihsuan

[2022-06-08 01:55] joshuatf commented on #33314
@mattsherman It's likely they are not running older versions, but the previous option where remote specs were stored is no longer used and was not deleted.  I can follow up in that thread, but if it's an ongoing issue, we should introduce a migration to handle this.

[2022-06-08 02:41] chihsuan opened #33346 "Update product tour to ensure next button is disabled till the action is completed."
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

follow-up issue for https://github.com/woocommerce/woocommerce/

[2022-06-08 07:58] adrianduffell commented on #32318
@chihsuan Thanks! I'll have a couple of internal P2 project threads for this at end of the week as well, where we can group the new issues.

I think there are two main projects here:
* Smart defaults for Shipping
* New Jetpack Connection Flow

[2022-06-08 08:00] trco commented on #33093
We at [databox.com](url) are integrating with WooCommerce API and our mutual users are reporting the same discrepancies.

We're attaching an example for one of our users, however this is not the only data discrepancies report we have received from our users. The total sales value for interval 01.01.2022 - 27.04.2022 returned from API is 4586929.50 ("total_sales": "4586929.50"), while Analytics tab

[2022-06-08 08:07] pmcpinto commented on #32912
I wasn't able of finding another way to reproduce this. I think it's ok to close the issue. Thanks for checking this.

[2022-06-08 08:07] thisissandip commented on #31470
Thanks, @smoen-godaddy!

Yes, the dev post is still needed that would go on - `https://developer.woocommerce.com/`

[2022-06-08 09:04] ilyasfoo commented on #33160
We should add all tracks for both old walkthrough and spotlight to start tracking performance of both.

[2022-06-08 09:16] #32892 closed, assigned to chihsuan

[2022-06-08 10:32] Mte90 commented on #31916
Indeed it will be very helpful.

[2022-06-08 10:36] vedanshujain opened #33348 "[CLI] Flush in-memory cache after each batch in migration"
Since CLI can run very long we should clear any in-memory cache (including `$wpdb`, in-memory object cache) when a batch is processed completely. This will prevent memory accumulation issues from a bloated cache.

[2022-06-08 10:39] vedanshujain commented on #33146
Closing as #33210 was merged, there is a chance that the issue will re-surface since this is a speculative fix, will re-open in that case.

[2022-06-08 10:39] #33146 closed, assigned to jorgeatorres

[2022-06-08 11:29] pjv commented on #32020
And then there’s this...
![SCR-20220608-8yu](https://user-images.githubusercontent.com/327716/172605680-f6f8ec11-42f9-40c9-a1db-1a08860bae0c.png)

[2022-06-08 12:29] #31343 closed, assigned to nobody

[2022-06-08 12:52] ilyasfoo commented on #33346
Hi @pmcpinto @verofasulo, some questions:

1. How do we determine a completed action for textarea/textbox? Since in templates we already have pre-filled fields, do we consider it completed as soon as the user inputs a keystroke in them?
2. Are all steps mandatory to be actioned?

[2022-06-08 12:57] ilyasfoo commented on #33160
Hi @pmcpinto, can you confirm the following tracks:

`wcadmin_walkthrough_product_enable_button_click`

`wcadmin_walkthrough_product_view`:
- `spotlight`: `yes/no`

`wcadmin_walkthrough_product_completed`

`wcadmin_walkthrough_product_dismissed`

I need to clarify when does this track trigger? Is it immediately after user types something, or when user clicks on "Next"?

`wcadmin_walkthrough_produc

[2022-06-08 13:59] chillwebdesigns opened #33349 "Dashboard order overview showing PHP warnings."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The dashboard widget shows PHP warnings and undefined values.

### Expected behavior

The code doesn't seem to account for orders with 0 values.

### Actual behavior

File this r

[2022-06-08 14:37] Aljullu commented on #42628
@gabrielbonifacio thanks for raising this, it's true the current behavior is inconsistent between blocks. Ideally, we should add an attribute to the Product Price block to allow hiding the price if it's 0.

@wiles88 if you aren't setting the price of any product, maybe you could hide it altogether? All Products block allows editing the inner blocks:

![imatge](https://user-images.githubusercontent

[2022-06-08 14:41] wiles88 commented on #42628
Well, I have some products with prices, and many without.  So I really need it to only show the price if it exists...

[2022-06-08 14:44] gglobalstep opened #33350 "[GlobalStep] “Critical error” notification displayed on clicking “Import products” button on “Personalize my store” page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

“Critical error” notification displayed on clicking “Import products” button on “Personalize my store” page.

### Expected behavior

After clicking “Import products” button 18 Sa

[2022-06-08 16:01] tammullen commented on #33350
Just noting I was only able to reproduce this so far with Query Monitor installed.

It also is happening with 6.5.1 & Query Monitor

Full error is

2022-06-08T13:20:55+00:00 CRITICAL Allowed memory size of 268435456 bytes exhausted (tried to allocate 20480 bytes) in /public/wp-content/plugins/query-monitor/classes/Backtrace.php on line 487

Failed to load resource: the server responded with a stat

[2022-06-08 18:51] mattsherman commented on #33314
Agreed. Since the option is no longer used, a migration to delete it would be ideal.

[2022-06-08 20:10] joshbetz opened #33352 "[Enhancement]: Add product ID to analytics leaderboards"
### Describe the solution you'd like

The leaderboard endpoints contain "rows" of stats. These are formatted like CSV data with headings and rows. The row data is output as HTML, which isn't great for native apps. It's also missing some data and the format makes it hard to add additional data without breaking anything.

We should add structured data in a new field called `data`. Instead of returni

[2022-06-08 20:55] kidicarus-2022 commented on #33328
https://user-images.githubusercontent.com/107010265/172714487-2773a5ee-36a3-4823-b20d-fc92fd6f333f.mp4

I'm not sure what more information to add. I've uploaded a video of my test not working. Since I was able to achieve saving payments in WP 5.9.3 I would consider this a low priority, unless others are reporting the same issue.

[2022-06-09 02:40] EjayhanFernandes commented on #32863
We're seeing another report of this error in 5282020-zen, and clarified this should be fixed in the next update

[2022-06-09 04:25] chihsuan commented on #33350
I was also able to reproduce this with `Query Monitor` installed.

It looks like it's not something we could fix because it works fine when we load a few products in new product experiments or deactivate `Query Monitor`.

[2022-06-09 04:35] becdetat commented on #32912
I've just checked the eCommerce site that I first noticed this in and can confirm that the Home link is now in the correct place, so the version must have been bumped. Thanks everyone for looking into this :-)

[2022-06-09 04:48] chihsuan commented on #33350
I found a similar issue reported in query-monitor.
- https://github.com/johnbillion/query-monitor/issues/663

[2022-06-09 04:58] chihsuan commented on #33350
I'm going to close this since there isn't really anything we can do to resolve it.

[2022-06-09 04:58] #33350 closed, assigned to nobody

[2022-06-09 05:02] #32421 closed, assigned to chihsuan

[2022-06-09 05:12] chihsuan opened #33360 "Add e2e test for product spotlight tour"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Add e2e tests to make sure elements changes don’t break the ste

[2022-06-09 06:12] chihsuan commented on #33346
cc @jarekmorawski since @verofasulo is AFK this week.

[2022-06-09 06:39] #33187 closed, assigned to Konamiman

[2022-06-09 08:21] #33162 closed, assigned to ilyasfoo

[2022-06-09 08:41] chihsuan commented on #32318
@adrianduffell Sounds good! I think we might only have one task for "New Jetpack Connection Flow", but it's true that it's not really related to Shipping.

[2022-06-09 08:47] chihsuan commented on #32318
I drew a rough diagram to help us understand AC better.

![Screen Shot 2022-06-09 at 16 43 02](https://user-images.githubusercontent.com/4344253/172804730-e254552c-b52f-4296-ad84-80c86d2ae19a.png)

[2022-06-09 08:55] chihsuan opened #33363 "Update shipping task display logic"
## User Story

## Acceptance Criteria

Do not display the shipping task on the home page when:
- The store sells digital products only

When automated shipping options have been set in #33366:
- Change the name of the shipping task to `Review shipping options` and move it the `Things to do next` section.

Otherwise, display the `"Set up shipping"` task in the `"Get ready to start selling"` section

[2022-06-09 08:59] jarekmorawski commented on #33346
To be perfectly honest, I'd remove the pre-filled text in the templates. It's currently lorem ipsum, which is neither helpful, nor very professional. As for your question, I think we can skip the competion check for these fields. The goal of the spotlight is to assist so when people are done with the description, they can click Next to jump to the next step.

The opposite. I'd say that all steps a

[2022-06-09 09:09] chihsuan opened #33364 "Update click shipping task logic"
**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and think.

**Design overview (with new spotlight component):**
cJQeyyhx9PraQrY3

[2022-06-09 09:13] chihsuan opened #33365 "Add intro tooltips in Shipping Settings"
**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and think.

**Design overview (with new spotlight component):**
cJQeyyhx9PraQrY3

[2022-06-09 09:16] chihsuan opened #33366 "Automatically set default shipping options"
## User story
As a new merchant
I want to shipping options set by default
So I can review it later

## Acceptance Criteria:

Automatically set the following default shipping options:

- Free shipping in the same country as the store.
- Flat rate in all other countries.

When any of the conditions are true:
- The store sells physical products, has JP and WCS installed and connected, and is located

[2022-06-09 09:20] chihsuan opened #33367 "Implement the new flow to install and connect WCS in Setting page"
**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and think.

**Design overview (with new spotlight component):**
cJQeyyhx9PraQrY3

[2022-06-09 09:22] chihsuan opened #33368 "Optimize existing shipping task flow"
**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
~With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and think.~

**Design overview (with new spotlight component):**
cJQeyyhx9PraQr

[2022-06-09 09:23] chihsuan opened #33369 "Add event tracking for shipping smart defaults"
**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and think.

**Design overview (with new spotlight component):**
cJQeyyhx9PraQrY3

[2022-06-09 09:27] chihsuan opened #33370 "Display WCS as recommended extension in Shipping Settings"
**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and think.

**Design overview (with new spotlight component):**
cJQeyyhx9PraQrY3

[2022-06-09 09:30] #33172 closed, assigned to chihsuan

[2022-06-09 09:37] chihsuan opened #33371 "Update shipping "connect your store" flow"
**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and think.

**Design overview (with new spotlight component):**
cJQeyyhx9PraQrY3

[2022-06-09 09:44] chihsuan commented on #32318
I've split this into the following issues:
- https://github.com/woocommerce/woocommerce/issues/33363
- https://github.com/woocommerce/woocommerce/issues/33364
- https://github.com/woocommerce/woocommerce/issues/33365
- https://github.com/woocommerce/woocommerce/issues/33366
- https://github.com/woocommerce/woocommerce/issues/33367
- https://github.com/woocommerce/woocommerce/issues/33368
- https:/

[2022-06-09 10:07] chihsuan commented on #33371
I just think we might not need this.

[2022-06-09 10:07] #33371 closed, assigned to nobody

[2022-06-09 10:58] chihsuan commented on #33323
@andfinally Yeah, I'm so glad everything is working fine now. I'd be happy to share how I got the number. 😄

Originally, I was also unable to get it with the breakpoint or using [pause on any exception](https://developer.chrome.com/blog/automatically-pause-on-any-exception/). I think it's because there are other exceptions, and the function is called many times.

So to pause on the exception at th

[2022-06-09 11:26] BusinessBloomer opened #33372 "woocommerce_wp_text_input[Enhancement]: missing a check for $post object and $field['id'] requirement"
### Describe the solution you'd like

woocommerce_wp_text_input function can be found under \woocommerce\includes\admin\wc-meta-box-functions.php and it's used to output input fields inside meta boxes

1. there is no initial check just after the global declaration to see if $post exists as an object. What if this function is misused for some reason?

2. there is no check whatsoever to see if the p

[2022-06-09 14:24] gglobalstep opened #33374 "[GlobalStep] "WooCommerce Admin" fails to deactivate after upgrading to WooCommerce 6.6 on "Plugins > Installed Plugins" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"WooCommerce Admin" fails to deactivate after upgrading to WooCommerce 6.6 on "Plugins > Installed Plugins" page.

### Expected behavior

"WooCommerce Admin" should deactivate af

[2022-06-09 14:28] gglobalstep opened #33375 "[GlobalStep] Language translation fails to display for "GET THE BASICS" and "GROW YOUR STORE" on "Free feature" step of OBW."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Language translation fails to display for "GET THE BASICS" and "GROW YOUR STORE" on "Free feature" step of OBW.

### Expected behavior

"GET THE BASICS" and "GROW YOUR STORE" sho

[2022-06-09 14:38] rjchow commented on #33375
Thank you for filing this! I have some additional information on this:

This bug has existed for awhile, I tested 6.4.1 and it manifested there as well. Not sure how much further back it goes.

The string in question appears here: https://github.com/woocommerce/woocommerce/blob/5d076cc7d47e77580c73ca3afbebe732038aef50/plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtension

[2022-06-09 17:19] KirkwallDay opened #33376 "Drop down boxes (Select2) in checkout have items showing up as white on white in certain situations."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If the theme text color is white, the drop-down box on Country and State fields in checkout will show up with white text on a white background for non-selected items, looking lik

[2022-06-09 17:20] KirkwallDay commented on #33376
There is a work-around, you can use this CSS code to fix the issue:

[code]

[2022-06-09 17:49] pmcpinto commented on #33160
I think we should fire it when the user clicks on "Next".

It would also be useful to track when the user clicks on "X" to dismiss the tour and the step where it happened.

The rest looks good to me. Thanks!

[2022-06-09 17:52] pmcpinto commented on #33346
Agreed. The next button should always be enabled to avoid forcing the user to fill a specific field.

[2022-06-09 19:42] helgatheviking commented on #29362
@haszari's instructions for "building" the plugin should be on a `readme.md` in the woocommerce plugin folder!!

[2022-06-09 20:07] csmcneill commented on #33376
I can reproduce this using [Storefront](https://woocommerce.com/storefront/?aff=10486&cid=1131038), WordPress 6.0, and WooCommerce 6.5.1:

![Markup on 2022-06-09 at 15:06:21](https://user-images.githubusercontent.com/82999806/172934852-e80d0933-917e-4d43-9619-ee73bcae8eec.png)
6

[2022-06-09 21:06] LocalHeroPro opened #33378 "API, list all orders, after/before - don't returning orders"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I fetched orders using API
https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-orders
and using parameters as below:
![image](https://user-images.githubusercontent.

[2022-06-09 21:40] #32655 closed, assigned to ObliviousHarmony

[2022-06-09 22:35] Robbbbbbbbb commented on #27419
I did not expect this to fix a two year old issue, but it totally did. Thanks!!

[2022-06-09 23:21] #32155 closed, assigned to nobody

[2022-06-10 01:58] ilyasfoo commented on #33346
I agree with that. Not making any fields mandatory sounds perfect, thanks!

Closing this issue.

I agree, perhaps we should come up with a realistic description? Considering this is a "template"

[2022-06-10 01:58] #33346 closed, assigned to nobody

[2022-06-10 02:17] adrianduffell commented on #33346
Yeah perhaps create a new issue for this? Lorem ipsum does seem problematic.

[2022-06-10 02:35] #32588 closed, assigned to chihsuan

[2022-06-10 02:44] ilyasfoo opened #33380 "[Enhancement]: Replace "lorem ipsum" texts in product templates"
### Describe the solution you'd like

The current product templates provided by "Add product > Start from a template" is pre-filled with unhelpful "lorem ipsum" texts, particularly in the product descriptions. We should provide a more realistic example so users are able to understand better what optimal content looks like.

### Describe alternatives you've considered

_No response_

### Additional

[2022-06-10 02:45] ilyasfoo commented on #33346
@adrianduffell Done! https://github.com/woocommerce/woocommerce/issues/33380

[2022-06-10 02:49] ilyasfoo commented on #33160
Sounds good!

We'll add a `step_name` and `added_info`: `yes/no` prop to it

[2022-06-10 03:37] chihsuan commented on #33375
It seems like we should change text-domain on woocommerce.com. I've created a PR for it.

However, There are some known issues with translations on the endpoints.
p2: p1654830159868539/1654829580.506039-slack-C01SFMVEYAK
slack thread: p1654830061997579/1654829580.506039-slack-C01SFMVEYAK

[2022-06-10 03:45] chihsuan commented on #33375
Closing this in favor of #32242.

[2022-06-10 03:45] #33375 closed, assigned to nobody

[2022-06-10 06:35] Eiriken commented on #32072
I also had this problem in Woocommerce 6.3.1, but after updating to Woocommerce 6.5.1 i still have this problem. If I disable the Coupon field on the Checkout page, it works correctly, but sometimes it's good to have the Coupon field there. What can be done to fix this?

[2022-06-10 06:38] adrianduffell commented on #33331
With WC Admin no longer a thing after the merge, would we be able to set the parameter name to `woo_install_timestamp` to reduce confusion in the future?

However, both names would probably need to be used in a short transition period, to support the current experiments using the existing parameter name.

[2022-06-10 06:55] #31881 closed, assigned to nobody

[2022-06-10 08:54] pavan-visweswaraiah opened #33381 "How to change a normal dropdown to an auto populating dropdown on wooocomerce product page?"
I am working on setting up a  woocommerce shop.

We have a requirement where the customer would be able to choose a product and when a product is chosen, a subsequent dropdown would be populated with the variants of the products. When the variant is chosen the price would be displayed

I am able to change the <select> tag to a <datalist>, but the functionality is breaking and the dependency betwee

[2022-06-10 09:37] #29560 closed

[2022-06-10 10:55] MaciekChudek opened #33382 "REST API /products endpoint returning incorrect data"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

"/products" REST endpoint is missing products and replacing t

[2022-06-10 12:52] #33381 closed, assigned to nobody

[2022-06-10 13:00] helgatheviking commented on #29362
Looks like those instructions are already out of date as of yesterday...
https://github.com/woocommerce/woocommerce/commit/b7931409f2a553bea765f0fda421f182c58d8e4b

[2022-06-10 13:34] juristr commented on #32656
Sad to see you go 😃.

yeah we believe the single-version policy is beneficial and have it seen implemented successfully in large corporations. That said, that setup is the "full Nx with plugins" setup, which is more opinionated, comes also with more support (via plugins) etc.

But Nx can also be [setup without plugins](https://nx.dev/getting-started/nx-core). At which point it works with any struc

[2022-06-10 13:41] lsinger commented on #29362
We really need instructions that are as simple as those by @haszari, and they need to be easily accessible in a prominent place, like @helgatheviking mentions.

That could be in the Wiki with a link in the README or it could be in the README directly or in the CONTRIBUTING or something similar. FWIW, the Wiki has the issue that it's hard for the community to contribute improvements, so if we can p

[2022-06-10 13:43] helgatheviking commented on #29362
I still vote `readme.md` directly as it is immediately visible when you visit the repo!

[2022-06-10 14:11] vedanshujain commented on #33324
Hey @shivapoudel , can you explain a bit more about where exactly you would like to add pagination? archive pages should have pagination already but I suspect I am not fully understanding what you are asking. maybe some screenshots would be better to understand.

That said, generally, we would love to add (or invite contributions for) paginations wherever there is a list that is not paginated.

[2022-06-10 14:26] vedanshujain commented on #33311
Looks like this is happening because we are passing the order ids as a query string parameter in the request. We should convert this request to a POST one and pass the list as one of the params (instead of in query string).

[2022-06-10 14:40] shivapoudel commented on #33324
@vedanshujain First, we need to implement a Shop base with categories to replicate this. Like this:
![image](https://user-images.githubusercontent.com/3774827/173089081-8393fdb9-6b90-4f4b-b1e0-fc96aeaa9de6.png)

And after above change some permalink structure to category base shop.
![image](https://user-images.githubusercontent.com/3774827/173089461-7d5be689-ce29-4959-b779-802ce878b4b0.png)

Now i

[2022-06-10 14:42] joshbetz opened #33383 "[Enhancement]: API: Search customers by first_name and last_name"
### Describe the solution you'd like

Allow customers to be searched by first name and last name. Since we use WP_User_Query, we can search by the [default fields that WordPress uses](https://developer.wordpress.org/reference/classes/wp_user_query/#search-parameters) (ID, user_login, user_nicename, user_email, user_url) and we also add display_name.

Note: The first_name and last_name fields are s

[2022-06-10 14:45] vedanshujain commented on #33045
hey @eacorneliussen, so we display the same totals across shop and checkout pages because that's more consistent for customers on the shop. Otherwise, they will different pricing among pages, for example, they may see 121 for a product on the shop page, but then in the checkout, it would be increased to 121.20, which is `0.20` more than what they expected. This is also why we run calculations base

[2022-06-10 14:45] #33045 closed, assigned to nobody

[2022-06-10 16:24] #33258 closed, assigned to joshuatf

[2022-06-10 16:24] #33076 closed, assigned to joshuatf

[2022-06-10 16:48] ObliviousHarmony commented on #32656
No worries @juristr, I appreciate you replying to this issue :) Although we've made the migration, I'll give some additional context around the internal discussions that led to this migration.

I see the benefits of a single-version policy, however, it isn't necessarily a great fit for our development practices. We would prefer to rely on a tool like [`syncpack`](https://www.npmjs.com/package/sync

[2022-06-10 16:48] #32656 closed, assigned to nobody

[2022-06-10 17:35] LocalHeroPro commented on #33378
Hi boot, you already have everything above.

[2022-06-10 17:58] MaciekChudek commented on #33382
Closing due to incorrectly filling out bug report form late last night. Will open a new issue with correct form.

[2022-06-10 17:58] #33382 closed, assigned to nobody

[2022-06-10 18:16] MaciekChudek opened #33386 ""/products" REST endpoint is duplicating some products and missing others"
When products are listed via the [`/products` REST API endpoint](https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products) (and possibly other places), they are by default ordered by `date` `desc`.

In some cases, though, such as following a bulk import, the date will be the same for all products. The problem here is that MySQL does not guarantee stable sorting under these condit

[2022-06-10 19:09] ObliviousHarmony commented on #29362
We've made these kinds of tooling changes with the intention of making it easier for many developers to work on different projects within the monorepo. Tools like `pnpm` increase the speed of installing dependencies while tools like `turbo` include extensive caching to avoid rebuilding code that hasn't changed. At this point it should be very easy to get started with development here, but, I'd lov

[2022-06-10 19:21] coreymckrill opened #33387 "Move linting check from pre-commit to pre-push"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Currently the PHP linter runs on a [pre-commit hook](https://gi

[2022-06-10 19:35] mattsherman commented on #32912
Closing this issue, based on the discussion.

[2022-06-10 19:35] #32912 closed, assigned to joshuatf

[2022-06-11 01:55] MaciekChudek commented on #33386
Additional debugging info:

Directly querying the database shows the correct data. It's just the REST query that's wrong.

SELECT * FROM `wp_postmeta` WHERE `meta_value`='SKU_OF_ITEM_DUPLICATED'  	# 1 result
SELECT * FROM `wp_postmeta` WHERE `meta_value`='SKU_OF_ITEM_MISSING'		# 1 result

Does the Woo REST API cache product info somewhere rather than querying the database directly? Is there a way

[2022-06-11 02:01] iamgabrielma opened #33389 "When creating a refund via the API, the "refunded_payment" property does not appear in POST requests"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we perform a POST request to the `/wc/v3/orders/$ORDER_ID/refunds&_method=post` endpoint, the
 `refunded_payment` property is not part of the response, however, when we perf

[2022-06-12 11:34] Robertght opened #33391 "WooCommerce: Store pages don't show blocks in Preview"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This is a replica of this bug:

https://github.com/Automattic/wp-calypso/issues/64233

When you edit a WooCommerce-managed page in the Block Editor, adding a block and then previ

[2022-06-12 13:27] fourstepper opened #33392 "403 Forbidden on POST ?wc-ajax=checkout"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For specific countries, during checkout, I am getting a 403 Forbidden error on the `?wc-ajax=checkout` path - these countries include the US, Switzerland and some others.

There

[2022-06-12 20:03] haszari commented on #29362
From a brief look at the changes [in that PR](https://github.com/woocommerce/woocommerce/pull/33079), there's still no clear steps documented for starting from nothing and getting WooCommerce built and running.

- DEVELOPMENT.md still recommends starting wp-env before building WooCommerce
- README.md has some specific steps but it's not clear, and there's a lot of background documentation advocati

[2022-06-12 20:33] mats012 opened #33393 "Screen elements dissapearing"
I was editing a product on my page, and when rearranging the "screen elements", I found that if you click the down arrow on the bottom one it dissapears. Is this a bug or am I missing something? How do I get it back?
![screenelementgone](https://user-images.githubusercontent.com/79170462/173252537-df7743f0-a840-4c62-9da5-22ae168f2d7b.png)

[2022-06-12 20:35] #33393 closed, assigned to nobody

[2022-06-12 20:41] mats012 commented on #33393
Just found out they move to the other panels in the middle since I have 2 columns selected.

[2022-06-13 00:37] #33181 closed, assigned to nobody

[2022-06-13 01:55] #33289 closed, assigned to adrianduffell

[2022-06-13 04:12] sanskritkm opened #33398 "[Enhancement]: User Role"
### Describe the solution you'd like

I have people to manage with difference task such as Order, Product Editor

It's would be better if WC has role feature to allow such as

Order -> they can only read product order from customer

Product Editor -> they can only log and see only WC products and edit all product to sell not others setting like edit WC setting payment or shipping setting

### Desc

[2022-06-13 05:04] adrianduffell commented on #33374
I'm able to reproduce this by installing WooCommerce Admin 3.2.1 with a renamed zip file. For example `woocommerce-admin-3.2.1.zip`.

[2022-06-13 06:16] adrianduffell opened #33399 "[Spotlight] Fix gap between content and controls"
Originally reported internally by @jarekmorawski, this is is small update to the spotlight component's composition so that the heading and body wrap around the X icon in the corner. Currently, there's quite a gap between them, which looks a bit off when we only have text in the content area.

Ideally, the final result would look like this:

![](https://user-images.githubusercontent.com/79307566/17

[2022-06-13 10:09] HeiviH opened #33403 "I can't change my profile e-mail?"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I can't change my profile e-mail? I don't get to my email conformation. I tried it several times. So I can't confirm my new email.
Also byers do not receive order confirmations a

[2022-06-13 12:00] andfinally commented on #33323
O wow, TIL about conditional breakpoints! Thanks so much @chihsuan! ❤️

[2022-06-13 12:12] adrianduffell commented on #33370
This recommendation already exists, however it seems it is not yet be limited to US and physical products.

[2022-06-13 12:23] iamgabrielma commented on #33389
Adding additional notes from p1655114212211609?thread_ts=1654743450.371799&cid=CB0GAP5EK-slack-CB0GAP5EK

[2022-06-13 12:46] adrianduffell commented on #33363
@verofasulo Do you have more info about the "Review shipping options" task? Is it the existing "Set up shipping" task, but renamed because the defaults have been applied?

[2022-06-13 13:13] roykho commented on #33378
Hi there,

So you're missing the Prerequisites checkboxes and also you didn't fill out the WordPress environment section.

[2022-06-13 13:23] #33392 closed, assigned to nobody

[2022-06-13 13:26] #33403 closed, assigned to nobody

[2022-06-13 13:35] odoodevelopertech opened #33404 "Product Batch Post operation using Rest API issue"
When I do the POST operation for batch products, I am getting the following response

Received Response: []

Expected Response:
{
  "create": [
    {
      "id": 801,
      "name": "Woo Single #1",
      "slug": "woo-single-1-4",
      "permalink": "https://example.com/product/woo-single-1-4/",
      "date_created": "2017-03-23T17:35:43",
      "date_created_gmt": "2017-03-23T20:35:43",
      "dat

[2022-06-13 13:39] Chrystll commented on #33189
Hi @tammullen

Thank you. I don't get anymore the fatal error with the 6.6 RC2 version. That's great.

[2022-06-13 13:46] gglobalstep opened #33405 "[GlobalStep] "Store Management" fails to display after selecting "Paid theme" while OBW flow."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Store Management" fails to display after selecting "Paid theme" while OBW flow.

### Expected behavior

"Store Management" should be displad after selecting "Paid theme" while O

[2022-06-13 13:58] #33404 closed, assigned to nobody

[2022-06-13 15:28] shivapoudel commented on #33324
@vedanshujain Any updates??

[2022-06-13 17:19] hellobrunao commented on #29116
Hey @joaojuicee I have walked on the same path that you have, until getting stuck on not being able to read and send the woocommerce cookies related to the cart. I am also doing the request via axios.

Did you manage to get the cookies and send it along with the request? Could you explain me the solution you got?

Thank you.

[2022-06-13 18:30] #33204 closed, assigned to nobody

[2022-06-13 18:57] ObliviousHarmony commented on #33328
@kidicarus-2022 You could try taking a look at your developer console and see if there are any errors there.

[2022-06-13 19:01] mattsherman commented on #33374
@adrianduffell This can't really be easily addressed, as the plugin slug is what is being used to locate the old WCA plugin to deactivate, and when it is uploaded with a renamed zip file, the plugin slug is different than `woocommerce-admin`. I suggest this be closed.

/cc @joshuatf @joelclimbsthings

[2022-06-13 19:01] #33374 closed, assigned to nobody

[2022-06-13 19:11] #33189 closed, assigned to nobody

[2022-06-13 19:12] ObliviousHarmony commented on #33186
@John-Schuster22 Yes, that should be fine.

[2022-06-13 19:12] #33186 closed, assigned to nobody

[2022-06-13 19:14] #33050 closed, assigned to nobody

[2022-06-13 19:14] #32931 closed, assigned to nobody

[2022-06-13 20:06] AnnaMag opened #33406 "Tracks: add block editor prop to the wcadmin_product_add_publish event"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Add `isBlockEditor ` property to the `wcadmin_product_add_publi

[2022-06-13 20:33] ObliviousHarmony commented on #29362
@haszari Would you prefer if the `DEVELOPMENT.md` had more of the content and explanations from the current `README.md` and the `README.md` contained very specific commands to run to start developing with no additional context? That might make it easier to jump right into without being concerned about how the repository actually works.

I see that we also need to revamp the `DEVELOPMENT.md` as wel

[2022-06-13 20:41] haszari commented on #29362
Yes, I would love that approach @ObliviousHarmony  🙌  E.g. so `Readme` is like:

- Welcome to the WooCommerce code repo [very brief product intro]
- Here's how to build and run this code [terse but bulletproof steps]
- To find out more … [links out to detail and `development.md` etc]

[2022-06-13 20:44] haszari commented on #29362
I think that detail should be in the readme, as it's confusing/surprising to the uninitiated. The step-by-step will help make that clear but I think it's important to loudly mention this.

[2022-06-13 20:55] ObliviousHarmony commented on #29362
@haszari This is actually documented near the top of the readme. Under the section about the structure of the repository. Do you think that's notable enough? With less text in the readme it might feel less hidden among the walls of information :D

[2022-06-13 21:05] tammullen commented on #33405
I think this is because the task list experiments aren't showing the task item for installing the premium theme so it looks like all the tasks are complete but the premium theme task isn't being shown and isn't complete.

![Screenshot 2022-06-13 at 22 03 59](https://user-images.githubusercontent.com/24649833/173445183-5fb2c478-30da-4b9a-8ec4-db0c9a6c078a.png)

![Screenshot 2022-06-13 at 22 03 47](

[2022-06-13 21:31] mattsherman commented on #33405
This is fixed by https://github.com/woocommerce/woocommerce/pull/33178, which will be in WooCommerce 6.7

[2022-06-13 21:31] #33405 closed, assigned to nobody

[2022-06-13 21:57] mattsherman opened #33407 "Rename package name for React Admin client code to `woocommerce/client/admin` (from `@woocommerce/admin-library`)"
### Describe the solution you'd like

The package name for the React Admin client code (aka WooCommerce Admin) should be renamed to `woocommerce/client/admin `, from `@woocommerce/admin-library`.

The code will be moved in https://github.com/woocommerce/woocommerce/issues/32433

In addition, for consistency in naming, the package name of the legacy assets to `woocommerce/client/legacy` from `wooco

[2022-06-13 22:02] qamaruldinhamza opened #33408 "Rest API Call responding for create product [woocommerce_product_invalid_image_id]"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi Woocommerce Team,

I am a web developer and implementing a sync between woocommerce and custom build website, because my client want to transfer all his products to woocommerc

[2022-06-13 22:09] qamaruldinhamza commented on #33408
The same thing is happening with the variations, I also commented this line of code and it's working fine, but when I uncomment this line it stopped working.

https://github.com/woocommerce/woocommerce/blob/3fd9ee99aa72b9dc1524ab7b2a8be06add53161f/plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php#L386

Please check, if this line of code is u

[2022-06-13 22:43] roykho commented on #33408
Hi @qamaruldinhamza - Thanks for reporting however you did not provide exact steps as to how to replicate your issue. Please provide that so we can assess further.

[2022-06-14 01:19] helgatheviking commented on #29362
@ObliviousHarmony  I think that's key. This feels like the 3rd system of build tools in my recent memory... and they always feel extra difficult for me as a rule. It might just be trying to run them in WSL, though that's been a large improvement over running them in Windows itself (b/c that never worked! :) )

I would still like to see plugin-level package building... especially asset building ins

[2022-06-14 02:03] rrennick opened #33410 "Order refund of guest customer shown as "Returning" in Order Analytics"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a `guest` order is refunded, the refund row in Analytics -> Orders shows a `Returning` status while the order has a `New` status.

<img width="936" alt="Screen Shot 2022-06-

[2022-06-14 02:18] ilyasfoo commented on #33365
Estimated as 8 but we should put this under its own feature flag since Spotlight may not support a partial table highlight.

[2022-06-14 02:22] #33399 closed, assigned to chihsuan

[2022-06-14 02:22] #33380 closed, assigned to chihsuan

[2022-06-14 02:23] #33336 closed, assigned to chihsuan

[2022-06-14 02:58] ilyasfoo commented on #33331
@adrianduffell I'm neutral on that, I think having `wcadmin` wouldn't introduce too much confusion, but I can appreciate the updated name

[2022-06-14 05:45] vedanshujain commented on #33324
Ah I see, thanks. Yeah, it would make sense to add pagination there. I am marking this priority: low though in context of other high priority issues that we have open in the repo.

[2022-06-14 07:54] hitsgee opened #33414 "Imported Stock Values Randomly Incorrect"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I download a product export from WooCommerce perform a stock take (updating stock values against our physical shop) and then import it back into the site there are some data

[2022-06-14 08:19] #33160 closed, assigned to ilyasfoo

[2022-06-14 08:44] verofasulo commented on #33363
@adrianduffell yes, exactly 😄 If the defaults are applied (conditions listed in [this issue](https://github.com/woocommerce/woocommerce/issues/32318)), the task is renamed and moved to the Things to do next section.

[2022-06-14 09:56] ghost commented on #31386
Problem happening on production site.
OS: Debian 11 x64 (Bullseye)
Webserver: Litespeed 6.0.12
PHP: 8.1.6 (lsphp)
WP: 6.0
WooCommerce: 6.5.1

[2022-06-14 10:32] michael-sumner commented on #32915
This happens on PHP 7.4.1 as well with WP 6 and WC 6.5.1

[2022-06-14 12:55] peterfabian commented on #26851
Hi all. Is this still a problem or did https://github.com/woocommerce/woocommerce/pull/27850 solve it?

[2022-06-14 13:21] trainingmaastricht opened #33415 "Critcal error on shop page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Critical Error on shop page

### Expected behavior

the website of ours was migrated and after the migration Woocommerce didn´t work anymore.

### Actual behavior

Shop isn´t sho

[2022-06-14 13:22] matt-h commented on #26851
https://github.com/woocommerce/woocommerce/pull/27850 solved it for me.

[2022-06-14 14:45] #33415 closed, assigned to nobody

[2022-06-14 14:49] barryhughes commented on #33386
@MaciekChudek,

Using the code you shared it would seem possible to confuse `"id"` properties relating to products, with others that relate to term objects (like tags) and perhaps other entities. Even in a modestly sized catalog, "collisions" between the two sets of IDs are not unlikely.

Could this be the cause? Or, have you eliminated this as a possible source of the results you are seeing?

[2022-06-14 14:58] madriverweb commented on #30728
Checking to see if this is in queue for implementation. Still hoping to see title attributes back on all thumbnails.

[2022-06-14 15:00] peterfabian commented on #33335
Thanks for reporting. I can confirm this happens. Would you like to create a PR to fix this problem which seems to be happening in `wc_get_formatted_variation `?

[2022-06-14 15:43] gotyou commented on #32241
Same issue as above, with the thanks button.  In addition, none of the layered nav filters work unless i go into each product and then resave the product.  the Attributes filter then seems to be fine, but still getting persistent thanks messages

Thanks

Mark

[2022-06-14 17:19] MaciekChudek commented on #33386
Thanks @barryhughes, interesting insight, but I think I've excluded that.

By "id", you might mean:

1. The "id" field returned by /products REST queries, which seems to correspond to the wp_posts ID column of the post. I think the uniqueness of these is guaranteed by the MySQL autoincrement schema, but in any case I checked and they are unique.
2. The "sku" that we assigned. I checked and these a

[2022-06-14 17:47] barryhughes commented on #33386
I mean that the property `id` is used for more than just product IDs. Simplified example of a product object in the response data:

[code]

A term ID (such as for a category or tag) could collide with a post ID, and though image IDs cannot collide with product IDs (both being post IDs) the same image can be reused across multiple products. It doesn't look like the strategy you shared with us elimi

[2022-06-14 17:57] barryhughes commented on #33386
...If you happen to have the [`jq`](https://stedolan.github.io/jq/) utility available, you could list *only the top-level **(product)** IDs* using something like this:

[code]

Do you still see duplicates in that list of IDs?

[2022-06-14 18:01] MaciekChudek commented on #33386
Sorry, I understand now.

Yes, the grep for ids was a shortcut to demonstrate the problem, but I have verified manually by inspecting the file that the product is actually duplicated. For example, in my temp.txt the following line appears exactly identically on lines 201 and 222:

[code]

[2022-06-14 18:09] apmwebdev commented on #33228
Another report in 35802127-hc

[2022-06-14 18:18] barryhughes commented on #33386
Thanks ... though I cannot replicate locally.

The product objects themselves will be cached if possible, but the query to determine which product IDs to retrieve is not cached.

I realize you have already tried to eliminate the potential for conflicts but I'm curious: if you create a brand new WordPress site, installing and activating only WooCommerce, and import a database dump from your existin

[2022-06-14 18:19] barryhughes commented on #30728
It is still in the queue (but it's a low priority from our perspective) :+1:

[2022-06-14 18:31] #33284 closed, assigned to joelclimbsthings

[2022-06-14 18:40] joelclimbsthings opened #33420 "Reminder bar appears above navigation sidebar when new navigation is enabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The reminder bar (see image below) should only span the content section of the site, which it does with the classic navigation:

![image](https://user-images.githubusercontent.co

[2022-06-14 18:42] MaciekChudek commented on #33386
Thanks. I'm just boarding a flight. I'll attempt this tomorrow and report
back.

On Tue., Jun. 14, 2022, 12:18 Barry Hughes, ***@***.***>
wrote:

[2022-06-14 21:24] #33221 closed, assigned to nobody

[2022-06-14 21:29] Johnny99211 opened #33421 "WooCommerce product importer exceeds time limit"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I run the product importer, I've found out that the importer stops after a certain amount of time. So I've started searching and found this line:

`if ( $this->params['preve

[2022-06-14 21:42] Johnny99211 commented on #33421
You should better use:

`(int) ini_get( 'max_execution_time' )`

[2022-06-15 00:26] ObliviousHarmony commented on #29362
Thanks for the feedback @helgatheviking. I've gone ahead and submitted a pull request to further expand on our documentation. While there's certainly more to write, this should be a good step in the right direction. I intentionally left out documentation on building specific components of WooCommerce Core because the names of those packages are awaiting a PR to update them.

For now, you can build

[2022-06-15 00:56] psealock opened #33424 "Changelogger: Writing to the changelog to prep for a release causes a GH Action failure"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When using the `write` functionality of the changelogger script to create a changelog entry to prep for a release, the GH action marks it as a violation for not writing a changel

[2022-06-15 01:07] helgatheviking commented on #29362
Nice start @ObliviousHarmony ! Kudos. What if there was a package.json script that existed as a shortcode for whatever the actual assets generating script is? `npm run do_assets_now` that always stays the same no matter what the actual script becomes? Would something like that be possible? And ideally, something uniform across the plugins.

[2022-06-15 01:08] moon0326 commented on #33366
Hi @verofasulo ✋

I have a couple of questions.

Does WCS also irrelevant in this case?

[2022-06-15 02:36] suyiiik opened #33427 "Performing GET requests via Postman not returning any data"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Error message when trying to retrieve data via REST API on Postman.
Client network socket disconnected before secure TLS connection was established.

Tried on multiple endpoints:

[2022-06-15 02:48] #33427 closed, assigned to nobody

[2022-06-15 03:14] ilyasfoo opened #33429 "Remove obsolete experiments in admin"
### Describe the solution you'd like

Some old experiments are still being queried in JS:

1. [woocommerce_test_experiment](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/homescreen/stats-overview/index.js#L80-L85)
2. [woocommerce_tasklist_progression](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/tasks/tasks.tsx#L68)

[2022-06-15 08:02] s-a-s-k-i-a commented on #31618
Are there any news on this? This is quite an issue for any serious webshop running WooCommerce and probably a ton of paid premium plugins from woo.com. So there should be some effort fixing this, please.

My clients are seeing this issue in their woocommerce shops. Nearly all of them need to enter their prices exclusive of taxes and see issues when using coupons, because for some reason, someone t

[2022-06-15 08:39] #32667 closed, assigned to jorgeatorres

[2022-06-15 09:03] verofasulo commented on #33366
Hi @moon0326 🤗

Yes, as we offer this service only if the store is located in the US.

[2022-06-15 10:25] dinhtungdu opened #42625 "Convert query state hooks to TS"
File: `woocommerce-blocks/assets/js/base/context/hooks/use-query-state.js`

Hooks to convert:
- [ ] `useQueryStateByContext`
- [ ] `useQueryStateByKey`
- [ ] `useSynchronizedQueryState`

The type for the query object should be updated to list all parameters of the state tree. The query state returned from `useQueryStateByKey` should be typed correctly.

[2022-06-15 10:38] dinhtungdu opened #42624 "Review `SearchListItemsType` interface"
Currently, the `SearchListItemsType` interface lists a set of required properties as follow:

https://github.com/woocommerce/woocommerce-blocks/blob/df63d2ae397b35242c40ea4eec4673c50eaabb15/assets/js/editor-components/search-list-control/types.ts#L6-L14

But we don't always provide data with all required properties, for example:

https://github.com/woocommerce/woocommerce-blocks/blob/df63d2ae397b3

[2022-06-15 11:45] wpmarmite opened #33430 "wc_get_checkout_url() isn't working for non-english shops"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

As a french WooCommerce user, I didn't understand why this function wasn't working. While browsing the code, I noticed that it was checking the page with the `checkout` s

[2022-06-15 12:00] Dekadinious commented on #33335
@peterfabian I tried :)

[2022-06-15 12:03] #33314 closed, assigned to joshuatf

[2022-06-15 12:17] erikdemarco opened #33432 "[Enhancement]: Disable webhook delivery logs"
### Describe the solution you'd like

Currently everytime webhook action is done, it will create a log file of this. example file:
webhooks-delivery-2022-05-15-80b49511dac7b393949b400128c265da.log

This is the line which contribute to this logging:
https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/class-wc-webhook.php#L352

But th

[2022-06-15 12:19] songsta commented on #32237
Has there been any movement on this issue? I have the same need for it.

[2022-06-15 12:25] #33127 closed, assigned to octaedro

[2022-06-15 12:30] tonysilva16 opened #33433 "Order wrong shipping tax with shipping method tax status set as none"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We setup our store to calculate shipping taxes based on cart items.
The matching tax has a rate of 23% with the shipping option enable. If the shipping method choosed by the clie

[2022-06-15 13:12] swatipawarGS commented on #33414
Hi @hitsgee,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.6.0 version and WordPress 6.0 version.

Please find the below screenshots for reference :

![#33414(CSV)](https://user-images.githubusercontent.com/94531721/173803486-0d712335-a6b8-4713-b792-d02c16a9507f.jpg)

![#33414(product page)](

[2022-06-15 13:54] hitsgee commented on #33414
Thank you for taking the time to check this. Glad I am not going mad.

I look forward to a fix in the future.

[2022-06-15 17:13] octaedro opened #33435 "Get/list all product attributes via products data store API"
### Description

Add the code to be able to get the product attributes through the products data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Get_
**HTTP Request**

**Reference**

#### _List all_
**HTTP Request**

**Properties**
| Parameter | Type | Description |
| --------- | --

[2022-06-15 17:50] CodeSmith32 opened #33436 "Undismissable message: "Your store's uploads directory is browsable via the web""
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I click "Dismiss" on the admin notice, I would expect it to hide after the page reloads, but it doesn't.

[code]

I looked in the code, though. Simple fix:

[code]

Accordin

[2022-06-15 17:56] octaedro opened #33437 "Create/edit product attributes via products data store API (experimental)"
### Description

Add the code to be able to create and edit product attributes through the products data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

**Properties**
| Parameter | Type | Description
| --------- | -------- | -------- |
| `id` | integer | Unique identifier for the resourc

[2022-06-15 18:04] octaedro opened #33438 "Delete products attributes via products data store API (experimental)"
### Description

Add the code to be able to delete product attributes through the products data store.

[code]

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Delete_
**HTTP Request**

**Reference**

**Properties**
| Parameter | Type | Description |
| --------- | -------- | -------- |
| `f

[2022-06-15 18:05] walid-few commented on #32247
Unfortunately this is still an issue in 2022... Are there any updates? It can not be, that this issue persists for more than 3 years now....

[2022-06-15 18:37] octaedro opened #33439 "Get/list all attribute terms via products data store API"
### Description

Add the code to be able to get the product attribute terms through the products data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Get_
**Description**

**HTTP Request**

**Reference**

#### _List all_
**Description**

**HTTP Request**

**Properties**
| Parameter

[2022-06-15 18:46] CodeSmith32 commented on #26599
I have this issue as well:

WooCommerce v6.6.0
WordPress 6.0

But I discovered it's happening because of how WooCommerce determines the directory is 'browsable':
- It makes a request to the url: If the response has status 200 and is not an empty body, it shows this notice.

[code]

The site I'm working on is not public. I've set my 'hosts' file to manually point the domain to the IP.
Therefore, th

[2022-06-15 18:52] octaedro opened #33440 "Create/edit attribute terms via products data store API (experimental)"
### Description

Add the code to be able to create and edit attribute terms through the products data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

**Properties**
| Parameter | Type | Description
| --------- | -------- | -------- |
| `id` | integer | Unique identifier for the resource.

[2022-06-15 18:58] octaedro opened #33441 "Delete attribute terms via products data store API (experimental)"
### Description

Add the code to be able to delete attribute terms through the products data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Delete_
**Description**

**HTTP Request**

**Reference**

**Properties**
| Parameter | Type | Description |
| --------- | -------- | --------

[2022-06-15 19:45] AmriApps opened #33442 "should_show_tasks is deprecated since version 6.3.0!"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After update to version 6.6.0 , if I open Woo overview, goolge ads listing, marketing overview or analytics

I keep getting fatal error:
[Wed Jun 15 19:35] [php7:notice] [pid 313

[2022-06-15 19:56] ObliviousHarmony commented on #32436
Since the creation of this issue, several upstream changes have been shipped that bring this task close to completion. Each time an upstream change landed I reached another roadblock. The latest is that we need the correct version of WordPress' test framework installed according to the version of WordPress installed. Given how `wp-env` works, this makes the most sense as an upstream change. Once t

[2022-06-15 19:57] joshuatf opened #33443 "Create/update shipping zones via data store"
### Description

Add a data store to be able to create and update a shipping zone.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

**Properties**
| Parameter | Type | Description
| --------- | -------- | -------- |
| `id` | integer | Unique identifier for the resource. |
| `name` | string | Zone

[2022-06-15 19:58] #33128 closed, assigned to AnnaMag

[2022-06-15 20:01] joshuatf opened #33444 "Delete shipping zones via data store"
### Description

Add the code to be able to delete shipping zones via the data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Delete_
**HTTP Request**

**Reference**

**Properties**
| Parameter | Type | Description |
| --------- | -------- | -------- |
| `force` | string | Required

[2022-06-15 20:08] joshuatf opened #33445 "Get shipping zones via data store"
### Description

Add the code to be able to get all shipping zones or a single shipping zone via the data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Get_
**Description**

**HTTP Request**

**Reference**

#### _List all_
**Description**

**HTTP Request**

**Reference**

### Acce

[2022-06-15 22:38] ObliviousHarmony commented on #29362
I've gotten this feedback a few times now, but, I'd really like to avoid it. Ultimately `turbo` commands only run the underlying script in the `package.json` file. We're going to look at actually preventing `build`, `lint`, and `test`  commands from being executed using `pnpm run` to avoid mistakes where someone might run `pnpm build` in `plugins/woocommerce` and end up with a non-functioning plug

[2022-06-15 22:44] psealock commented on #33317
All relevant packages have been released with same changelog configurations. This one is ready to be closed out now.

[2022-06-15 22:44] #33317 closed, assigned to psealock

[2022-06-15 22:44] helgatheviking commented on #29362
I'm sure that's part of it. And it's part of the pain of working on bleeding edge where I usually like to be so I can send PRs from time to time. I will be glad for this to stabilize, but I am probably never going to remember:

`pnpm -- turbo run build --filter='woocommerce-legacy-assets'`

I still think a shortcut could be handy here. Something you can run from any plugin that will call the corre

[2022-06-15 23:52] ObliviousHarmony commented on #29362
For what it's worth @helgatheviking, you can technically just use `pnpm -- turbo run build`. Outside of just dependency compilation, a big part of the benefit is the fact that it caches output. If you run it once and then make a change in the `plugins/woocommerce/legacy` assets, then run it again, it will _only rebuild the assets_. Say you rebase and other things change too, it'll only rebuild tho

[2022-06-16 04:55] #29362 closed

[2022-06-16 05:06] #33429 closed, assigned to ilyasfoo

[2022-06-16 05:48] SavPhill opened #33450 "Public Roadmap link broken in Wiki"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Wiki Roadmap and Release Page has a broken link for the public Roadmap: https://github.com/woocommerce/woocommerce/projects/3

### Expected behavior

The link should display

[2022-06-16 07:09] ilyasfoo commented on #32241
Hi, @gotyou!

I've tested upgrading to WooCommerce 6.6.0 from WooCommerce 6.0.1 and the "Thanks" message disappeared after the first time I clicked on it.

May I know when you click on the button, did any error pop out anywhere? There are generally two places you can look for errors:
1. In the browser's console if it's a JavaScript error
2. In `wp-content/debug.log` if it's a PHP error, but you ma

[2022-06-16 08:30] luissimo commented on #32377
Incredible that it has to take this long to fix a crucial SEO affecting bug.

[2022-06-16 13:02] rohitrunwal opened #33455 "Placeholder images are getting generated automatically. Last week around 3000 images got added in my media gallery which were from woocomerce plugin as said from our hosting company afyer reporting issue. Can you please look into it and resolve things."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Placeholder images are getting generated automatically. Last week around 3000 images got added in my media gallery which were from woocomerce plugin as said from our hosting comp

[2022-06-16 14:02] joshuatf opened #33456 "Create/update product shipping class via data store"
### Description

Add the code to be able to create and edit shipping classes through the data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

**Properties**
| Parameter | Type | Description
| --------- | -------- | -------- |
| `id` | integer | Unique identifier for the resource. |
| `nam

[2022-06-16 14:06] joshuatf opened #33457 "Get/list all shipping classes via data store"
### Description

Add the code to be able to get the shipping classes through the products data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Get_
**Description**

**HTTP Request**

**Reference**

#### _List all_
**Description**

**HTTP Request**

**Properties**
Parameter | Type |

[2022-06-16 14:08] joshuatf opened #33458 "Delete a shipping class via the data store"
### Description

Add the code to be able to delete shipping classes through the products data store.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Delete_
**HTTP Request**

**Reference**

**Properties**
| Parameter | Type | Description |
| --------- | -------- | -------- |
| `force` | st

[2022-06-16 14:35] swatipawarGS commented on #33442
Hi @AmriApps,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.0 version and WordPress 6.0 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/174008271-fbe2dbd9-93ee-4de0-a1bf-5dd664eeb33c.mp4

Please provide us with more details an

[2022-06-16 14:37] swatipawarGS commented on #33433
Hi @tonysilva16,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.0 version and WordPress 6.0 version.

Please find below the screenshot for reference :

![#33433](https://user-images.githubusercontent.com/94531721/174014998-f57fa4ff-b984-44d2-9ac7-bf6c12496166.jpg)

Please provide us with m

[2022-06-16 14:43] Konamiman commented on #33432
Hi @erikdemarco, thanks for your suggestion. It looks like that would indeed a good enhancement so I'll leave the issue open to be worked on at some point in the future.

[2022-06-16 14:53] sitoagency commented on #33117
@psealock last update DID NOT solve lookup table issue, setting to disable them is still reset, ecommerces all around the world stop filtering.

[2022-06-16 14:57] peterfabian commented on #33450
Thanks for reporting, @SavPhill !

We're finding a solution how to make our wiki better since there's some obsolete info in there, as you noted. With the [recent changes to tooling and structure in the repository](https://developer.woocommerce.com/2022/06/10/introducing-woocommerce-monorepo/), we need to update a lot of resources.

We'll prioritize getting this updated.

[2022-06-16 15:16] Konamiman commented on #33430
Hi @wpmarmite, thanks for your report.

I'm not sure if I understand what the issue is. The parameter supplied to `wc_page_id` (used by `wc_get_page_permalink`) isn't the actual page slug, it's an internal representation of the page name that is used to retrieve the option containing the actual page id. You can see this in https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/i

[2022-06-16 16:13] #33455 closed, assigned to nobody

[2022-06-16 16:30] Lilrock commented on #32319
I found out another possible problem. It's quite strange.

I disabled the chance of having guests purchase from the site by turning the option off in the Woo Commerce Accounts settings. However, this did not solve the problem.

If an order has been created and you do one of the following:
- Update information on the customer (phone number was the cause. Maybe anything to do with shipping and billi

[2022-06-16 17:01] ObliviousHarmony opened #33459 "Block `build`, `lint`, and `test` Scripts Without `turbo`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Right now it's possible to run `pnpm build` for a plugin, packa

[2022-06-16 18:55] ObliviousHarmony commented on #29362
@helgatheviking Against `trunk`, you should now use `pnpm -- turbo run build --filter='woocommerce/client/legacy'. :D

[2022-06-16 20:05] ObliviousHarmony commented on #30864
We're using Node v16 which ships with npm v7. For what it's worth, we use `pnpm` now instead of `npm`.

[2022-06-16 20:05] #30864 closed, assigned to nobody

[2022-06-16 20:06] ObliviousHarmony commented on #29056
It seems our repository already has this now :smile:

[2022-06-16 20:06] #29056 closed

[2022-06-16 20:19] ObliviousHarmony commented on #33318
We will just do #33319 and implement this as a CI workflow.

[2022-06-16 20:19] #33318 closed, assigned to nobody

[2022-06-16 20:20] ObliviousHarmony commented on #33319
* Should update the changelog
* Should update the `package.json` version
* Should open a PR to update
* AFter merging they can run `pnpm publish` and be done

[2022-06-16 20:22] ObliviousHarmony commented on #32889
Closed by #33046

[2022-06-16 20:22] #32889 closed, assigned to jonathansadowski

[2022-06-16 20:45] ghost commented on #33442
I get the same error message on different sites. Please look at the message carefully. The messages says the Automattic\WooCommerce\Admin\Features\Onboarding::should_show_tasks is deprecated and asks to use the exact same method Automattic\WooCommerce\Admin\Features\Onboarding::should_show_tasks instead. This is a bug.

[2022-06-16 20:47] ObliviousHarmony commented on #33459
* Should support being ran as part of `pnpm publish`.
  * Could maybe check `yargs` or an ENV variable?
* JS file in tools folder, give the command that they can run to do the thing they want to do.
  * E.x. `pnpm build` in `plugins/woocommerce` should tell them to use `pnpm -- turbo run build --filter=woocommerce`

[2022-06-16 20:51] #32415 closed, assigned to moon0326

[2022-06-16 23:47] #33320 closed, assigned to psealock

[2022-06-17 00:41] moon0326 commented on #33230
After working on the reset plugin to add an endpoint to switch site language, I'm not sure if we want to add tests for translations.

`__()` function is part of the core and it's the core's responsibility to make sure it works.
Translation files are community-driven (mostly) work and it's out of our control.

Unless we want to test each component and make sure they are fully translated, I'm not su

[2022-06-17 01:52] ilyasfoo commented on #33230
@moon0326 While I agree the responsibility for maintaining translation functionality isn't ours, the main intention of adding a test is to catch translation issues potentially caused by us. A recent example is when the packages build process was changed, all strings from packages weren't translated and we weren't able to catch it.

I don't think we should test each component, I think testing a sin

[2022-06-17 03:26] jacob-sewell opened #33464 "Get/List all product categories via products data store API"
### Description

The products data store should be able to load product categories.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Get_
**HTTP Request**

**Reference**

#### _List all_
**HTTP Request**

**Relevant Parameters**
| Parameter | Type | Description |
| --------- | -------- | --

[2022-06-17 03:29] jacob-sewell opened #33465 "Create/Update product categories via products data store API"
### Description

The products data store should be able to create product categories. It would be nice to also support updates, but that's not critical for the product page, which is the context for this work, and product image manipulation is probably another can of worms entirely.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is

[2022-06-17 03:41] jacob-sewell opened #33466 "Delete product categories via products data store API"
### Description

The products data store should be able to delete product categories. Deletion is not directly required by the product edit screen, which is the context in which we're starting this work, so this is a lower priority than its GET and POST counterparts.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and s

[2022-06-17 03:43] jacob-sewell opened #33467 "Get/List all product tags via products data store API"
### Description

The products data store should be able to load product tags.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Get_
**HTTP Request**

**Reference**

#### _List all_
**HTTP Request**

**Relevant Parameters**
| Parameter | Type | Description |
| --------- | -------- | --------

[2022-06-17 03:45] jacob-sewell opened #33468 "Create/Update product tags via products data store API"
### Description

The products data store should be able to create product tags. It would be nice to also support updates, but that's not critical for the product page, which is the context for this work.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject to change_.

#### _Properties_

| Attribute | Type | Desc

[2022-06-17 03:46] jacob-sewell opened #33469 "Delete product tags via products data store API"
### Description

The products data store should be able to delete product tags. Deletion is not directly required by the product edit screen, which is the context in which we're starting this work, so this is a lower priority than its GET and POST counterparts.

_For now, this should be marked as experimental/internal as we iterate on the API so that it is clear that this is incomplete and subject

[2022-06-17 04:41] moon0326 commented on #33230
@ilyasfoo  Thank you for sharing it 👍  I did not know about it. Do you have a link to the issue by any chance?

It would be helpful to see what type of test we need to write.

[2022-06-17 07:21] chihsuan opened #33472 "Add e2e tests for `Add my products` task"
**Issue Description:**

Add e2e tests for the `Add my products` task.

[code]

**Acceptance criteria**

[code]

[2022-06-17 07:22] chihsuan opened #33473 "Add e2e tests for `Set up tax rates` task"
**Issue Description:**

Add e2e tests for the `Set up tax rates`.

[code]

**Acceptance criteria**

[code]

[code]

[2022-06-17 07:23] chihsuan opened #33474 "Add e2e tests for `Set up shipping` task"
**Issue Description:**

Add e2e tests for `Set up shipping` task

[code]

**Acceptance criteria**

**For current design:**

[code]

**For new design**
TBD

[2022-06-17 07:24] ilyasfoo commented on #33230
Sure, @moon0326! This was the issue: https://github.com/woocommerce/woocommerce/issues/32485

I think just comparing an expected string would be sufficient

[2022-06-17 07:25] chihsuan opened #33475 "Add e2e tests for `Grow your business` task"
**Issue Description:**

Add e2e tests for `Set up marketing tools` task

[code]

**Acceptance criteria**

[code]

[2022-06-17 07:26] chihsuan opened #33476 "Add e2e tests for `Personalize my store` task"
**Issue Description:**

Add e2e tests for `Personalize my store` task

[code]

**Acceptance criteria**

[code]

[2022-06-17 07:30] chihsuan opened #33477 "Add e2e tests for `Set up Additional Payments` task"
**Issue Description:**

Add e2e tests for `Set up Additional Payments` task

[code]

**Acceptance criteria**

[code]

Update:

https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js

I just noticed that we already have e2e tests for the payment task. So, I think we can just review the existing tests and see if we need to add more te

[2022-06-17 07:31] chihsuan opened #33478 "Add e2e tests for WCPay task"
**Issue Description:**

Add e2e tests for `Get paid with WooCommerce Payments` task

[code]

**Acceptance criteria**

[code]

[2022-06-17 07:33] chihsuan opened #33479 "Add e2e tests for `setting up Google Listings & Ads` task"
**Issue Description:**

Add e2e tests for `setting up Google Listings & Ads` task

**Acceptance criteria**

TBD

[2022-06-17 07:38] chihsuan opened #33480 "Investigate what needs to be tested for admin tasks"
**Issue Description:**

Investigate what needs to be tested on the higher and lower levels, For example:

[code]

Acceptance criteria

Update AC for the following tasks:

- [x] https://github.com/woocommerce/woocommerce/issues/33472
- [x] https://github.com/woocommerce/woocommerce/issues/33473
- [x] https://github.com/woocommerce/woocommerce/issues/33474
- [x] https://github.com/woocommerce/woocom

[2022-06-17 07:42] moon0326 commented on #33230
Now that I think about it, yup! it should be enough as tests run after the build process.

[2022-06-17 07:44] simkoG opened #33481 "[Enhancement]: Add delimeter options when importing CSV files"
### Describe the solution you'd like

In some languages (e.g. German, Hungarian) Windows uses semicolon (`;`) as the default CSV delimiter instead of comma (`,`) by regional settings when exporting a file from Excel. It can be changed but it's a bit tricky for an average Windows user in my opinion.

You cannot import semicolon-separated CSV files within WooCommerce's product import page.

It would

[2022-06-17 08:48] CGA8C commented on #33228
Also reported in 16045840-hc.

[2022-06-17 09:36] tonysilva16 commented on #33433
I have setup my shipping method as followed:

![image](https://user-images.githubusercontent.com/65446091/174271262-87e0535b-72e3-481c-83fa-9985ceaf8e32.png)

The base tax that match the product as followed:

![image](https://user-images.githubusercontent.com/65446091/174271421-ce781af3-f1c7-4619-9a7d-47a343f291c2.png)

After i made a purchase form the website:

![image](https://user-images.github

[2022-06-17 09:42] tonysilva16 commented on #33433
I am also on the latests woocommerce version.

One fix for this problem that i could find, was to remove the checkbox, in order to not apply that tax to the shipping method, even the shipping method has the option to not apply any tax to it.

[2022-06-17 10:09] Konamiman commented on #33421
Hi @Johnny99211, thanks for your input.

There's actually a filter that you can use to tweak the default timeout for the import process: `woocommerce_product_importer_default_time_limit`, see https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/import/abstract-wc-product-importer.php#L758. This should help you with your issue.

I'm closing this for now, but I'll be ha

[2022-06-17 10:09] #33421 closed, assigned to nobody

[2022-06-17 10:24] Konamiman commented on #33398
Hi @williamgh2019, it looks like what you want to do is already covered by built-in WordPress and WooCommerce functionality. So if I understood correctly, you need to create a new role with the `edit_others_products` capability (there's such a capability for each post type defined in WooCommerce, e.g. `edit_others_shop_orders`) and assign the role to the desired users. You can create new roles via

[2022-06-17 10:34] Konamiman commented on #33398
Hi @williamgh2019, thanks for your report.

Before doing further research on this we'd like to confirm that the issue wasn't caused by an invalid date set in the server. Have you noticed any other instances of resources having dates in the future, for example new posts or comments?

[2022-06-17 10:34] Konamiman commented on #32659
Hi @shankeyb, thanks for your report.

Before doing further research on this we'd like to confirm that the issue wasn't caused by an invalid date set in the server. Have you noticed any other instances of resources having dates in the future, for example new posts or comments?

[2022-06-17 10:54] Konamiman commented on #31439
Hi @ribaricplusplus, thanks for your report. We are already tracking this issue here: https://github.com/woocommerce/woocommerce/issues/32436, and we're working on a fix, so I'm closing this one.

[2022-06-17 10:54] #31439 closed, assigned to nobody

[2022-06-17 12:06] helgatheviking commented on #29362
@ObliviousHarmony I am _never_ going to remember that :) could that be in the readme.md? ... or are you sure there couldn't be a shortcut for that? ex `npm run assets` and that maps to the full task?

[2022-06-17 12:17] helgatheviking commented on #29362
ps - for those not using `pnpm -- wp-env start` i think the docu could mention needing to symlink the plugin folder into wp-content/plugins

[2022-06-17 14:35] AlkoKod commented on #31942
Thank you so much!!

[2022-06-17 15:31] barryhughes commented on #31942
Welcome!

[2022-06-17 16:01] Michaelgimii opened #33502 "A simple but important feature for WooCommerce"
### Describe the solution you'd like

hi woocommerce developer!

As you know, in variable products, if we want to change the inventory of variables together, we can use [this section](https://prnt.sc/AYkjSGFDRzuL).
But there is a very important problem here...
If we use [this option](https://prnt.sc/dp4AoVTuLEtr) to apply inventory to variables and then [apply the desired value](https://prnt.sc/4k

[2022-06-17 16:04] nerdontour opened #33503 "No ability to search currency via three letter currency code or common description"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The search function in **WooCommerce Currency Options** doesn't allow finding the currency using [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) (currency code). Nor does it a

[2022-06-17 20:14] ObliviousHarmony commented on #29362
@helgatheviking I don't expect anyone to remember it that isn't working with it daily 😄

Once #33460 gets merged I'm going to be expanding `plugins/woocommerce/README.md` with additional content about build these sub-components.

The suggestion I've made elsewhere is to set up a Bash alias! Then you can have whatever command suits your personal taste and not worry about the internals. Ultimately,

[2022-06-17 20:28] #33407 closed, assigned to nobody

[2022-06-17 22:33] ObliviousHarmony commented on #29362
@helgatheviking I shipped [some more documentation about this](https://github.com/woocommerce/woocommerce/pull/33507), hope that helps too!

[2022-06-18 20:31] masteradhoc commented on #33481
@simkoG did you try the advanced options on step 1 of the import?
![image](https://user-images.githubusercontent.com/6242098/174456213-d2228064-fcbd-4a0a-91af-58a400b81ef8.png)
see the delimiter field where you can insert custom values
![image](https://user-images.githubusercontent.com/6242098/174456222-f1831b2f-51c7-4616-846b-0be978fa3382.png)

[2022-06-18 20:50] masteradhoc commented on #31601
@conschneider check https://github.com/woocommerce/woocommerce/pull/33509 please :)

[2022-06-19 00:36] #33248 closed, assigned to nobody

[2022-06-19 00:36] #33250 closed, assigned to nobody

[2022-06-19 06:05] danieleperilli commented on #26764
I see you added an `apply_filter( 'woocommerce_set_cookie_enabled', ...)` at the beginning of the function `wc_setcookie`, which basically can be used to intercept and replace the secure flag this way:

`add_filter('woocommerce_set_cookie_enabled', function($enabled, $name, $value, $expire, $secure) {
     if (!headers_sent())
          setcookie($name, $value, $expire, COOKIEPATH ? COOKIEPATH : '

[2022-06-19 06:05] #26764 closed

[2022-06-19 11:17] AmriApps commented on #33442
Please read the error carefully. "should_show_tasks".

I found that hook in the following plugin

woocommerce-product-feeds/src/common/woocommerce-product-feeds-wc-setup-tasks.php

I comment it, and everything works fine.

[2022-06-19 15:23] ho30hero commented on #31478
Hi
I also have the same problem with the latest vesion of every thing in server, wp and android mobile phone (samsung fe).

[2022-06-19 20:45] haszari commented on #29362
Strong recommendation to have a specific list of documented and supported commands to use. Flexibility is great but anyone should be able to follow the instructions and build specific parts or the whole thing with known and supported standard commands.

If everyone who works on this project has the same bash aliases set up, these should be promoted to a named script or command in the repo IMO.

[2022-06-19 21:23] redtux commented on #32885
Hi, the following worked for me:

[code]

I had the same issue in `trunk` and I also successfully tested the version pinning for pnpm with WC 6.5.

NOTE: I understand that downloading an older release of pnpm might just be a temporary workaround, nevertheless you might consider changing the readme (and the CI/CD docs) accordingly until the dependency issues are fixed in `package.json` and `.nvmrc`

[2022-06-20 06:50] simkoG commented on #33481
@masteradhoc Sorry, did not see that.

[2022-06-20 06:50] #33481 closed, assigned to nobody

[2022-06-20 07:43] #33147 closed, assigned to vedanshujain

[2022-06-20 09:29] #33135 closed, assigned to nobody

[2022-06-20 10:40] devplus-bram opened #33516 "[Enhancement]: Make it possible to highlight the VAT number field if there is an error (plugin: EU VAT Number)"
### Describe the solution you'd like

Plugin: EU VAT Number
It would be nice if the `.woocommerce-invalid` CSS class is added to the `.form-row` container of the VAT number field if there is an error concerning the VAT number (e.g. if an invalid VAT number is filled in).

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-20 11:24] pmcpinto commented on #32318
Sorry, I missed this ping. I think that's ok, and it's mainly the reason why we want to start first with just US stores. We could also have a 99%/1% a/b test just to be able to disable it remotely,

[2022-06-20 11:27] jensfrost opened #33517 "Problem with search boxes when adding a new order"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I have the new order popup window open and tab to one of the dropdowns and then press enter, I get search boxes in the top left corner of the wordpress window and the order

[2022-06-20 13:44] Aljullu opened #42623 "'Use same address for billing' can be checked/unchecked in the editor, but its status isn't reflected in the frontend"
## Describe the bug

Changing the status of the _Use same address for billing_ checkbox in the editor doesn't have any impact in the frontend.

## To reproduce

1. Add the Checkout block to a post or page.
2. In the editor, notice you can check/uncheck the _Use same address for billing_ checkbox. That shows the billing section or not. Leave it unchecked.
3. Visit the Checkout block in the frontend

[2022-06-20 13:48] Aljullu commented on #42623
Related: https://github.com/woocommerce/woocommerce-blocks/pull/4457.

[2022-06-20 15:14] Konamiman commented on #32841
The result of the research was this approved RFC: p7bje6-45j-p2

[2022-06-20 15:19] helgatheviking commented on #29362
Great! I was just helping someone in the community slack who is stuck on the symlink part... so I would love to see that mentioned. And I still hope you'll reconsider a couple shortcuts for the big ticket items like generating assets.

[2022-06-20 16:02] vedanshujain commented on #33157
The strategy could also include deleting the corresponding COT record (or modifying the updated date) so that sync process could pick it up.

[2022-06-20 17:34] #31601 closed, assigned to nobody

[2022-06-20 19:06] ObliviousHarmony commented on #32436
I've submitted [an upstream pull request](https://github.com/WordPress/gutenberg/pull/41780) that installs the PHPUnit test framework. Once this gets shipped we will be able to close this issue quickly. The only thing to do at that point is to add a `wp-env start ` and run the unit test command from inside the container.

[2022-06-20 19:12] ObliviousHarmony opened #33522 "Utilize `--add-pr-num` Jetpack Changelogger Option On Code Freeze"
### Describe the solution you'd like

As a follow-up to #32889, we should look at utilizing [this upstream feature](https://github.com/Automattic/jetpack/pull/24045) to help ease the generation of the changelog. Since we're using "Squash and Merge" exclusively now it's possible.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-20 19:16] moory-se opened #33523 "[Enhancement]: Attributes (non-variant) on variants?"
### Describe the solution you'd like

Hi,

There are lots of cases where a variant can have attributes that differs from the parent, but are not defining the variant. Obvious cases like UPC/EAN/GTIN etc are of course there, but these can be solved with meta data (even though it is kind of not-great for end users).

### Real life examples
**Life jackets**
Life jackets are typically sized by a inter

[2022-06-20 21:37] moon0326 opened #33524 "[Enhancement]: Add WooCommerce Admin REST APIs to the official REST API doc"
### Describe the solution you'd like

I just noticed that none of the WooCommerce Admin REST API endpoints registered in `wc-admin` namespace is listed on https://woocommerce.github.io/woocommerce-rest-api-docs.

It would be nice if we can add them to the official doc.

This might be a good task for the upcoming cooldown period.

### Describe alternatives you've considered

_No response_

### Addi

[2022-06-20 22:27] psealock opened #33525 "Analyzer CLI Tool: Moving or introducing an old hook produces a false positive for description violation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Moving or re-using an existing hook produces a diff that fails to match a regex looking for new changes. But since a change is made to a hook it thinks a description has not been

[2022-06-20 22:41] moon0326 opened #33526 "Redirect users to the shipping setting when the user clicks on the shipping task"
This is part of https://github.com/woocommerce/woocommerce/issues/32318

**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and thi

[2022-06-21 03:33] chihsuan commented on #33370
@verofasulo The existing page still displays WCS if **installed but not activated**. I just want to confirm that we're going to hide WCS in Shipping Settings if installed?

[2022-06-21 05:36] chihsuan opened #33530 "Remove `@wordpress/eslint-plugin` from woo admin package.json"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Ideally we don't need to include both `@woocommerce/eslint-plug

[2022-06-21 06:31] chihsuan commented on #33363
@verofasulo Sorry for another question. How to decide whether a user completes the `Review shipping options` task or not?

[2022-06-21 07:44] verofasulo commented on #33370
@chihsuan the flow is different with the new design, so the two steps are incorporated together.

**Current design:**
When the user clicks on `Get started`, we install WCS and display this message to nudge the user to install JP to complete the activation:

<img width="1952" alt="Screenshot 2022-06-21 at 09 35 50" src="https://user-images.githubusercontent.com/98944206/174743426-e74b1b09-6f90-461c

[2022-06-21 07:51] verofasulo commented on #33363
That's an excellent question. To actually review shipping options, the user needs to click on one of the shipping zones as the options are all nested in a second level. This would be the most certain indicator that a user reviewed shipping options, but I don't know if we want to make it so granular or the fact that the user clicked on the task and interacted with the tooltips is enough to mark the

[2022-06-21 08:25] chihsuan commented on #33370
@verofasulo Thanks for the clarification! But I would like to know when to display the banner. From the original issue (https://github.com/woocommerce/woocommerce/issues/32318):

So we'll only display the banner when JP and WCS are not installed? In the current design, we display the banner when it is **not activated**. (Still display it if installed but not activated)

[2022-06-21 09:31] chihsuan commented on #33526
@moon0326 I just found we probably don't need this because we'll add a new task `Review shipping options` under `Things to do next` section in https://github.com/woocommerce/woocommerce/issues/33363 based on the same condition.

[2022-06-21 10:16] #31270 closed, assigned to nobody

[2022-06-21 10:16] #31386 closed, assigned to nobody

[2022-06-21 11:21] pmcpinto commented on #33363
@verofasulo I think we can mark it as completed when the user visits the page. I'm assuming that users don't need to do anything if they're happy with the predefined shipping methods. Makes sense?

[2022-06-21 11:29] CyberCr33p commented on #32978
I have the same issue in 2 websites

[2022-06-21 11:39] verofasulo commented on #33370
Hey @chihsuan yes, as mentioned in m previous reply it makes sense to display the banner if WCS is installed but not activated yet:

Does it make sense? :)

[2022-06-21 11:43] verofasulo commented on #33363
@pmcpinto yes, we can avoid overcomplicating things.

Yes, my point was that due to the current IA and layout, no user is able to see the predefined shipping cost just by visiting the page.

![image](https://user-images.githubusercontent.com/98944206/174791110-2f4da5e5-19ec-45fc-861b-c850414605d7.png)

As you can see from this img, the user needs to click on the shipping zone to see the default ra

[2022-06-21 12:12] umershaikh commented on #16552
Hi,
How can i get product ids after import done, is there any action ?
Kindly suggest..

[2022-06-21 13:21] pmcpinto commented on #33144
@mattsherman is it possible to include this in cycle 26? I think this was forgotten in the previous cycle. Thanks

[2022-06-21 13:27] pmcpinto opened #33534 "[EPIC] Product creation/editing experience: incremental improvements"
We plan to move forward with several usability improvements to the current experience while exploring how to create a new and more streamlined product creation and editing experience.

We'll compile all the issues and potential solutions under this epic. The prioritization will depend on the effort/risk involved in implementing each change.

[2022-06-21 13:32] trco commented on #33093
Is there any chance to prioritise this issue, since we're experiencing data discrepancies for various users?

[2022-06-21 13:32] pmcpinto opened #33535 "Product creation experience: the default category is unwanted and hard to remove"
**Description:** the "Uncategorized" category selected by default adds little to no value when the user is creating a new product and can create confusion.

**Acceptance criteria:**

- [ ] If the store has at least one created category: track the most used categories and select the top one by default, or select the one that was used last.
- [ ] If the store has no categories: create an empty state

[2022-06-21 13:44] pmcpinto opened #33536 "Product creation experience: no feedback on required fields to set up a store"
**Description:** currently, it's possible to publish a product with just empty fields. Without context, users can feel overwhelmed by all the options available in the product creation experience, making it difficult to understand which fields are critical to creating a compelling product. Marking some fields as required can potentially introduce unforeseen consequences. We can start by having the

[2022-06-21 13:45] pmcpinto commented on #33536
cc @jarekmorawski for design feedback

[2022-06-21 13:53] pmcpinto opened #33537 "Product creation experience: no clear distinction between long and short description"
**Description:** we don't offer any context about the difference between the long and short description fields. This can lead the user to use one of the fields with the wrong expectations, which can lead to errors and slow down the product creation process.

**Acceptance criteria:**
- [x] Improve the empty state of each field with copy explaining the differences or add a tooltip
- [x] Collapse the

[2022-06-21 13:58] NatOdUa commented on #12260
The links are out of date, could you re-share the code, please?

[2022-06-21 14:02] pmcpinto opened #33538 "Product creation experience: improve the "add media" and "add contact form" CTA in the long description"
**Description:** the "add media" and "add contact form" CTA can be misleading and make the users think that this is the path they need to take to add product images.

**Acceptance criteria:**

- [x] Improve the CTA copy to make sure users understand that the media or form will be added to the description: "Add media to description" and "Add contact form to the description"
Or
- [ ] Change the layo

[2022-06-21 14:09] pmcpinto opened #33539 "Product creation experience: add more context about product data"
**Description:** The product data naming is far from being self-explanatory and it can be challenging for users to understand the differences between all the product types. This is one of those cases where it's better to provide documentation to help users understand how to complete their tasks.

**Acceptance criteria:**

- [ ] Add a tooltip with a link to a help article about product types: https

[2022-06-21 14:21] #28874 closed

[2022-06-21 14:27] pmcpinto opened #33540 "Always show pricing group fields, disable if not available for a product type"
## Description

When the user selects the variable or bundle product type, we currently remove the `Regular price` and `Sale price` fields from the `General` tab (which also causes the entire `General` tab to be removed if no other fields on it are visible.

This can lead to confusion for the user, who might not know where to go to set the price.

We should change this to always show the pricing g

[2022-06-21 14:45] pmcpinto opened #33541 "Product creation experience: streamline the attribute creation experience"
**Description:** the UI for creating attributes is an error-prone and time-consuming experience. We should explore ways to streamline the experience with minimal effort.

**Acceptance criteria:**

- [ ] Add a tooltip near the "custom product attribute" dropdown and "add" CTA with a link to the support doc: https://woocommerce.com/document/managing-product-taxonomies/#section-6
- [ ] If there are n

[2022-06-21 15:20] mattsherman commented on #33144
@pmcpinto This was implemented in the previous cycle, in https://github.com/woocommerce/woocommerce/pull/33241

[2022-06-21 15:20] #33144 closed, assigned to nobody

[2022-06-21 15:25] #32767 closed, assigned to nobody

[2022-06-21 15:25] #32420 closed, assigned to nobody

[2022-06-21 17:56] barryhughes commented on #33436
Thanks for reporting this, @CodeSmith32: I can replicate the problem successfully. We'll get round to this as soon as we can, but we would also be receptive to any PR you or others might submit for this (looks like you already have a good handle on what's needed).

[2022-06-21 18:00] barryhughes commented on #33333
Thanks for reporting this. It feels like there are two strands to this:

- Whether this should be allowed (adding support would itself be a valid feature request)
- How it should behave in the meantime (we probably ought to trigger a doing-it-wrong message or similar, and this could for instance be achieved by overriding `set_name()` from within `WC_Product_Variation` to help avoid developer confu

[2022-06-21 18:02] barryhughes commented on #32718
Thanks for reporting this, @texorama.

It looks like you have a great handle on what's happening, so if you wish to submit a PR we'd be more than receptive (otherwise, we'll get to this as soon as we can).

[2022-06-21 18:26] #31943 closed, assigned to nobody

[2022-06-21 18:38] octaedro commented on #33406
It looks like the block editor [is not compatible with the product](https://github.com/woocommerce/woocommerce/pull/19543) page. The [plugin Blooms](https://woocommerce.com/products/blooms/) overrides [this check](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-post-types.php#L654-L663) and activates it.

The problem with the block editor here is that it

[2022-06-21 19:35] mpskovvang opened #33545 "Order refund items might delete meta data from original line item"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Added order item meta data might get lost when refunding the item. It seems the new refunded item copies the original meta data (inclusive meta ID).

Therefore, adding the same m

[2022-06-21 21:25] mendozal commented on #31341
@pankajswarankar I was facing the same issue, and your answer guide me towards the solution.
Apparently, the
`
add_action('woocommerce_payment_token_deleted', 'woocommerce_payment_token_deleted', 10, 2);
`
needs to be called in the main plugin php file, and the function needs to be there too and not inside the WC_Payment_Gateway object definition.

I moved the function to another php file too and

[2022-06-21 22:10] rochow commented on #12260
The code is in https://github.com/woocommerce/woocommerce/pull/20900

WC has modified it since including changing the SQL queries, as the pull request simply turned 1 mega query into a few smaller queries with PHP loops.

[2022-06-21 23:45] barryhughes commented on #33307
Thanks for reporting this, I was able to replicate this and suspect we need to update [`WC_Shortcode_Checkout::order_pay()`](https://github.com/woocommerce/woocommerce/blob/6.6.1/plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php#L154-L166) to test if stock has already been reduced for each line item (which, of course, is what you are working around with your `woocommerce_pay_

[2022-06-22 00:13] moon0326 commented on #33366
Hi @verofasulo

I have another question.

Let's say a merchant selects "Downlaods" as product type on the initial OBW and then changes it to "Physical products" after a week or so. Do we still want to add the default shipping options in that case? or do we want to set the default shipping options within X days?

It's possible that the merchant already set the shipping methods at that point.

[2022-06-22 00:37] #33276 closed, assigned to nobody

[2022-06-22 00:37] #33277 closed, assigned to nobody

[2022-06-22 00:53] moon0326 commented on #33364
Hey @verofasulo  ✋

Sorry for the late ping. I should have checked this before starting the sprint work.

I noticed that we don't actually display the shipping task if a user skips the OBW.

Do we want to change the logic to display the shipping task all the time and add the store details fields (address, country, state, etc) on the shipping task?

[2022-06-22 00:56] moon0326 commented on #33364
Hey @verofasulo ✋

Sorry for the late ping. I should have checked this before starting the sprint work.

I noticed that we don't actually display the shipping task if a user skips the OBW.

This is the list of tasks when OBW is skipped.
![Screen Shot 2022-06-21 at 6 24 04 PM](https://user-images.githubusercontent.com/4723145/174923449-0543a949-70f7-4b61-a51a-e1acb4f9fecc.jpg)

Do we want to change

[2022-06-22 00:59] gabriel-fuentes commented on #29906
Another report on 5315073-zen. This is what they mentioned:

 Shared the workaround mentioned in the [initial bug report](https://github.com/woocommerce/woocommerce/issues/29906#issue-891858658).

[2022-06-22 01:32] ilyasfoo commented on #33367
Since Jetpack's connect-in-place is [removed](https://github.com/Automattic/jetpack/pull/20068), we'll want to use a "Connect" button instead, similar to "Set up tax" task

<img src="https://user-images.githubusercontent.com/3747241/174924210-380899c8-a96b-47df-9f5f-5308dda0c0da.png" width=300>

[2022-06-22 01:47] moon0326 commented on #33526
Thank you @chihsuan

Closing this issue since it's a duplicate.

[2022-06-22 01:47] #33526 closed, assigned to moon0326

[2022-06-22 01:53] moon0326 commented on #33367
@woocommerce/ghidorah So the current shipping task has `Set shipping costs` and `Enable shipping label printing` steps, but I don't see them on the gif here.

![Screen Shot 2022-06-21 at 6 53 53 PM](https://user-images.githubusercontent.com/4723145/174926490-f1eb7feb-369d-4910-ac63-09b561b55ee8.jpg)

Are we skipping those two steps?

[2022-06-22 01:59] moon0326 commented on #33368
@woocommerce/ghidorah I'm a bit confused with this task 🤔

When both are installed and connected, we already have shipping label printing enabled. I don't think we need to prompt to install and enable WooCommerce Shipping again.

[2022-06-22 02:12] chihsuan commented on #33367
@moon0326 Yup, I think we don't need `Set shipping costs` because they are set automatically in https://github.com/woocommerce/woocommerce/issues/33366. And looks like `Enable shipping label printing` is just renamed to `Install WooCommerce Shipping`. This is a new flow only for the setting page.

cJQeyyhx9PraQrY3YAtCGM-fi-887%3A116590

[2022-06-22 02:21] moon0326 commented on #33367
Nice! It sounds like we might want to create a new component in that case. The logic in the shipping task is now getting complicated with multiple extra fields and conditions 🤔

[2022-06-22 02:43] chihsuan commented on #33368
@moon0326 I think we could ignore the **Description** here. It's copied from the original issue https://github.com/woocommerce/woocommerce/issues/32318 and seems to be only applicable for some cases.

[2022-06-22 02:44] moon0326 commented on #33368
Thanks! I'll update the description in that case.

[2022-06-22 02:51] chihsuan commented on #33364
I think we'll change the logic to display the shipping task in https://github.com/woocommerce/woocommerce/issues/33363.

In this case, if a user skips OBW, we consider as they sell physical products but we don't know where it's located.

[2022-06-22 02:59] moon0326 commented on #33364
Thank you!

[2022-06-22 03:21] chihsuan commented on #33370
@verofasulo Ah, thanks, make sense to me!

[2022-06-22 05:00] #33525 closed, assigned to nobody

[2022-06-22 07:57] verofasulo commented on #33366
Good point @moon0326 , I didn't think about this edge case!

Yeah, I think it makes total sense to update the shipping options as well.

I'm assuming that it's not happened as if the selected product type was "Downloads", there was no reason to set up shipping.

[2022-06-22 07:59] verofasulo commented on #33364
Hi @moon0326 ,

Yes, as @chihsuan said, if the user skips the profiler, we display the shipping task. :)

[2022-06-22 09:12] pmcpinto commented on #33363
@verofasulo gotcha. Thanks for the clarification.

Currently, about 57% of new users set up free local shipping in the shipping task. What do you think about establishing free shipping as the default for US?

[2022-06-22 10:29] pmcpinto opened #33551 "Product creation experience: streamline the creation of the first variation"
**Description:** creating the first variation is a convoluted experience, forcing the user to jump back and forth between attributes and variations, apart from having to understand the difference between the two concepts.

**Acceptance criteria:**

- [ ] No added attributes with the "Used for variations" setting checked: show the "add attribute" form in the Variations tab along with a welcome/help

[2022-06-22 10:45] pmcpinto opened #33552 "Product creation experience: variation - default form value - tooltip not working"
**Description:** the "tooltip displayed alongside the default form value option is not working
<img width="937" alt="Captura de ecrã 2022-06-22, às 11 43 57" src="https://user-images.githubusercontent.com/3380168/175010604-96a0c9bc-955b-4132-a7ed-a847cc975182.png">

- Tooltip does not appear before Draft is saved

**Acceptance criteria:**
- [ ] Fix the tooltip appearing
- [ ] Update copy: Choose

[2022-06-22 11:07] pmcpinto opened #33553 "Product creation experience: improve Variations actions discoverability/accessibility"
**Description:** most of the Variations primary and secondary actions have discoverability and accessibility issues. These issues make it difficult for users to easily create and manage variations.

**Designs:**
`zs56kcy53K7GoGhgyjcQ2R/%5BProject%5D-fi-209%3A30408&t=Wravf3I84jXombqq-4`

**Acceptance criteria:**

- [ ] Key actions are hidden in the dropdown menu: bring out "Generate variations" (pr

[2022-06-22 11:15] pmcpinto opened #33554 "Product creation experience: shortcut to add variation price"
**Description:** Variations won't appear on storefront without a price. We should try to introduce an easy way for users to add the variation price.

**Acceptance criteria:**

- [ ] when variations don't have a price: add a button to the notice that currently appears there. Button click will launch a browser modal window to add a price, much like an action in the bulk actions dropdown menu.

Desig

[2022-06-22 11:20] pmcpinto opened #33555 "Product creation experience: reduce manual work required to create individual variation"
**Description:** there's a lot of manual work involved in adding variations. Users need to fill each field (price, description, etc) in each variation. This can be a time-consuming task when users are creating more than 1 or 2 variations.

**Acceptance criteria:**

- [ ] Copy basic details like price and description from the parent product into each variation

[2022-06-22 11:27] AnnaMag commented on #33406
Thanks for diving into this @octaedro!
Sounds reasonable. I think [adding block editor tracking to` _product_update` event](https://github.com/woocommerce/woocommerce/pull/33321) is a fair enough proxy to gauge its usage, and we can come back to this at later stage.

[2022-06-22 11:41] pmcpinto opened #33556 "Product creation experience: improve stock management discoverability"
**Description:** the "Manage Stock" option (Inventory section) is only available if the "Enable stock management" global setting is enabled. Users may feel lost when they visit the Inventory section and cannot find an option to manage stock. Even if they know where to find the "Enable stock management", they need to get out of the product creation experience and go to WooCommerce - Settings - Prod

[2022-06-22 11:45] pmcpinto opened #33557 "Product creation experience: improve inventory copy"
**Description:** some of the copy in the Inventory section is confusing and can be easily improved

**Acceptance criteria:**

- [ ] To focus on the final result, rename “Enable stock management at product level” to “Manage stock level (quantity)”
- [ ] Change “Enable this to only allow one of this item to be bought in a single order” to “Limit purchases to 1 item per order”
- [ ] Add a tooltip to

[2022-06-22 11:55] pmcpinto opened #33559 "Product creation experience: include additional guidance about product image size and format"
**Description:** the product image or gallery is one of the most impactful elements of the product page. However, we don't offer any guidance on the right image size and formats to ensure that the products have compelling images.

**Acceptance criteria:**

- [ ] Update the upload modal for "Set product image" and "Add gallery images" using the [`post-upload-ui`](https://developer.wordpress.org/ref