[2020-05-16 11:27] baraklevy opened #26531 "has been removed from your cart because it can no longer be purchased."
**Describe the bug**
We get emails from visitors that write to us they can't purchase a product because it is not available anymore, and we are talking about virtual products

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.anabella.co.il/es/producto/introduccion-a-la-psicologia-individual/'
2. Click on 'Anadir al carrito'  (add to cart)
3. close the browser or remove the p

[2020-05-17 01:07] JohnChandlerEdmonton commented on #25821
Thanks for getting back to me.

I am looking into multi-site.   I never used it before not knowing exactly what it was.  It seems like it may be a good fit for what I am doing (having multiple different wordpress installs for different aspects of the same business, but for which a user registration should be a common, shared  id for each of the sites.

If I am able to migrate the production websit

[2020-05-17 13:07] nicobsas commented on #22862
I am waiting for that release too

[2020-05-17 17:04] AverageJeff commented on #25133
We've only recently (in the last week) observed this issue in MultiSite configured group of stores on different templates (everything updated to current levels except WP version - scheduled for this weekend).  We're not seeing any consistency and have not been able to manually reproduce it.  I have check in the `woocommerce_order_itemmeta` table and the items that lacks the variation have a  `_var

[2020-05-17 20:19] jonathansadowski commented on #26093
Hi @ninetyninew,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

**Steps I took**
1. Started with a fresh WooCommerce install.
2. Navigated to Tools and then Import in wp-admin.
3. Selected "Run Importer" under "WooCommerce products (CSV)" in the list of Importers.
![image](https://us

[2020-05-17 21:18] WeslleyDeSouza commented on #26356
same here.. after payment is done, the order.update sends the wrong status..

[2020-05-18 00:14] jonathansadowski commented on #26103
Hi @danielnielsen-dk,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end using the steps that you provided.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future rele

[2020-05-18 00:35] jonathansadowski commented on #26081
Hi @carazo,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](http

[2020-05-18 00:35] #26081 closed

[2020-05-18 00:48] jonathansadowski commented on #26004
Hi @raymondlittle100,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service G

[2020-05-18 00:48] #26004 closed

[2020-05-18 03:51] om4james commented on #26248
I also like @bekarice's idea of an extension opting in with wildcards. That way for mission-critical extensions (eg payment gateways), devs can use specific version compatibility strings (such as `4.1`, but for simpler extensions a `4.*` wildcard could suffice.

It's definitely best for end users (and extension devs) if we don't have to release a new version that is a simple version bump. It avoid

[2020-05-18 05:59] WebMedic-X opened #26532 "Deleting a refund doesn't fire order.updated webhook"
**Describe the bug**

When adding a refund on an order, the order.updated webhook is fired as expected

When deleting a refund from an order, webhook is not fired

**To Reproduce**

1. Go to an order
2. Add a refund manually
3. You should see a webhook fired for order.updated with refund information as expected
4. Delete the refund
5. Nothing happens on webhooks

**Screenshots**
If applicable, add

[2020-05-18 06:32] ninetyninew commented on #26093
This was actually using the WordPress importer, which I've always used since before the WooCommerce importers there existed. I think looking into this a little further it probably used to work fine as it would import products and their meta but since Woo now has the additional tables for quick look ups which I assume the price filter uses then I think it's why I am probably seeing this result. The

[2020-05-18 07:15] danielnielsen-dk commented on #26103
Hi Jonathan

Thank you for getting back to me.

Can you give me a more specific idea of when the fix will be included in a
release? Are we talking x amount of months or within a month?

*Med venlig hilsen / Kind regards*

*Daniel Nielsen*
*Product Manager*

*ATAK A/S*
Hovedkontor: Strandvejen 8 | DK-2100 København Ø
Jylland / Fyn: Nørregade 34 | DK-6100 Haderslev
TLF: +45 3510 5050  |  DIREKTE: +4

[2020-05-18 07:41] carazo commented on #26081
Sorry this is not a support request.

We suggest to include this new filter:

$shipping_tax_class = apply_filters( 'woocommerce_shipping_get_tax_class'. get_option( 'woocommerce_shipping_tax_class' ) );

In your plugin in order to make possible situations like I mentions before.

[2020-05-18 09:49] adamradocz opened #26534 "if statement never meet in get_order_total()"
https://github.com/woocommerce/woocommerce/blob/8b0d4ef050fad20a96b0438b2050525fd9e38365/includes/abstracts/abstract-wc-payment-gateway.php#L263

$order_id gets an absint value, so the first part of the if statement never meet.

[2020-05-18 10:02] toxicdemonWP opened #26535 "missing space between tax rate and percentage sign for german shops"
**Describe the bug**
In the german version of WooCommerce we need a protected space between the tax rate and the percentage sign - At the moment Woo provides it like 19%, but it has to be 19 %.

References:

https://de.wikipedia.org/wiki/Prozent#Schreibweise (german wiki)
See also the DIN 5008 - (German Institute for Standardization)

**Expected behavior**
In the best way german user can choose th

[2020-05-18 11:24] peterfabian commented on #26248
Hi all, thanks for sharing your thoughts and perspectives. After further consideration and discussion, we think _it's best to keep these checks in place only for major releases_. Most extensions would probably start using 4.* anyway, so it has more or less the same effect. As you mention, with monthly releases, the number of changes is smaller anyway, so let's not keep everyone busy by releasing d

[2020-05-18 11:25] peterfabian commented on #25133
Thanks for the update, @AverageJeff , very useful to know how the order looks in the database for you. It is possible that we're seeing multiple problems resulting in the same symptom.

I was able to trigger this problem with an incorrect add to cart link (@jonathansadowski has a PR for this which we'll ship soon), @anthonyshew could trigger it via REST API and we're looking into that one now, so

[2020-05-18 12:33] jellyNoone opened #26537 "Wrong types documented in includes/class-wc-query.php"
While viewing the source code I noticed that two lines in doc blocks specify a wrong type.
[Line 518](https://github.com/woocommerce/woocommerce/blob/8b0d4ef050fad20a96b0438b2050525fd9e38365/includes/class-wc-query.php#L518): I believe the type should be WP_Query not WC_Query
[Line 704](https://github.com/woocommerce/woocommerce/blob/8b0d4ef050fad20a96b0438b2050525fd9e38365/includes/class-wc-query

[2020-05-18 12:36] #26443 closed

[2020-05-18 12:55] lkraav commented on #26534
I wonder if something like `phpstan` would catch these.

[2020-05-18 14:18] testapi60 opened #26538 "Rest Api unable to authenticate"
<img width="824" alt="Screenshot 2020-05-18 at 7 43 07 PM" src="https://user-images.githubusercontent.com/65539040/82223239-0770a180-9940-11ea-8346-46297b3572f9.png">
I have used http and https on basic and oauth1.
my credentials are also 100% correct.
<img width="821" alt="Screenshot 2020-05-18 at 7 47 34 PM" src="https://user-images.githubusercontent.com/65539040/82223593-7948eb00-9940-11ea-85f2

[2020-05-18 14:21] testapi60 commented on #26538
if some know the reason for this issue please help me. if any further details you need i will provide.
Thanks in advance.

[2020-05-18 14:26] tammullen commented on #26531
Hi @baraklevy

Thank you for raising the issue. However, I can’t reproduce it on my end.
​
I was able to add and remove and add again a Virtual Product with no issues.
​
I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins exce

[2020-05-18 16:06] fasttrackhost opened #26539 "Have you tried to open a Product admin side, with 30.000+ taxonomys ???"
This is a Feature Request.

We have big problems building a shop with many standard category's, and custom taxonomy.

The BROWSER takes too long to display a product in the back-end (admin side). Everything works well front-end.
No bugs, the only problem is BROWSER speed. Servers responds fast, everything OK server side, the problem is that the BROWSER needs several minutes to display the product

[2020-05-18 16:20] loaishar commented on #13040
I can not find this text "Paginate browsing for large numbers of objects"
or the line "$per_page"
in the nav-menu.php file
can anybody help?

[2020-05-18 16:44] baroninn commented on #13040
I don't recommend changing core wordpress files.
they will be overwritten in upcoming updates.

[2020-05-18 16:46] liamc96-dotcom commented on #13040
That is correct.But if you creat a child theme it will overwrite from those files.

Regards,

Liam Corry.

[2020-05-18 17:12] loaishar commented on #13040
so what is the solution?

[2020-05-18 18:02] jeffreyscottfrench opened #26540 "Shipping Calculator Country select input doesn't display "Select a country..." as default option."
**Describe the bug**
templates/shipping-calculator.php - Shipping Calculator Country select input doesn't display "Select a country..." as default option

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any woocommerce install'
2. Click on 'calculate shipping on the cart page'
3. Scroll down to 'country field select box'
4. See error

**Screenshots**
If applicable, add screenshots to h

[2020-05-18 18:31] albertwan-oms commented on #14539
@larssn Have you been able to create a bug report in core? We just hit this issue too.

[2020-05-18 21:38] tammullen commented on #26532
Hi @WebMedic-X

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2020-05-18 at 21 57 10](https://user-images.githubusercontent.com/24649833/82261920-d69c6680-9957-11ea-89a3-015650a0e5d0.png)
Created Manual Refund
![Screenshot_2020-05-18_at_21_44_04](https://user-images.githubusercontent.com/24649833/82261925-d8fec080-995

[2020-05-18 21:43] samuelfarrell commented on #23000
Hey all, wrote a quick plugin to fix this if you are still looking.

https://github.com/samuelfarrell/dirigible-pickmeup

[2020-05-18 22:30] Bloggeratlarge commented on #26504
Hi Tam

Thanks for your reply. The thing is I can’t recreate this issue so disabling plugins won’t help me to see whether that fixes it as the BUY NOW button only appears on some customer’s screens. I was wondering if it was a known issue.

I’ll just make sure my plugins are kept updated and hope it somehow resolves itself.

Thanks
Megan
________________

P O Box 11865
Ellerslie
Auckland 1542
New

[2020-05-18 22:49] anthonyshew commented on #25133
Seconding @AverageJeff 's thoughts on the "priority:low" tag. I understand the tag in context of the repository but we're having to hold up a site deployment because of how variation dependent our products are. Can't really sell our stuff without using a variation - meaning we gotta know what it is. :)

[2020-05-19 02:53] jaydge commented on #17783
This problem can happen if your paypal account's email address hasn't been confirmed yet. It happened to me with one of my clients and I spent hours before realizing that was the issue. Posting here in case it helps someone!

[2020-05-19 03:39] erikdemarco opened #26543 "woocommerce order totals wont update when adding fee"
I have this hook:

[code]

When order created via frontend and backend, its working properly.

But when order is created via REST API. The order-total is not correct. and get_shipping_total() become 0

[2020-05-19 06:37] adamradocz commented on #26534
Sorry, I misread the statement... :)

[2020-05-19 06:37] #26534 closed

[2020-05-19 07:13] LauGau commented on #22862
Waiting for that too...

[2020-05-19 09:25] j111q opened #26544 "Shipping rate is hidden when cost=$0 causing confusing UI"
**Describe the bug**
When the shipping cost = $0, the shipping rate is hidden.

This is basically fine and very avoidable if you are only using the core WooCommerce product without shipping plugins, because you could just rename the shipping method label as 'Free shipping' or '10-day delivery (Free)' or whatever you want.
But with certain shipping plugins where you are unable to easily rename the

[2020-05-19 11:00] #26466 closed

[2020-05-19 12:24] lkraav commented on #26539
Is this a core WordPress metabox performance problem instead?

[2020-05-19 13:21] ninetyninew opened #26547 "If manage_woocommerce is removed from a Shop Manager role the WooCommerce menu item appears with Customers/Dashboard sub menu items"
**Describe the bug**
If you remove the manage_woocommerce capability from a shop manager (as you want shop managers not to alter WooCommerce settings) then sub menu items such as Coupons, Orders, etc are split out into parent menu items - great. However we've just noticed that recently doing this leaves the WooCommerce parent menu item visible with only Customers and Dashboard as sub menu items. D

[2020-05-19 13:40] ninetyninew commented on #25561
Similar issue: https://github.com/woocommerce/woocommerce/issues/26547 @claudiosanches

[2020-05-19 13:54] tammullen commented on #26530
Hi @frnkoc

Thank you for submitting the issue.

However, I can’t reproduce the issue you reported as I don't believe we have ever provided pre-populating checkout fields solely by passing them from the URL.

It may be possible to achieve what you are describing by adding some custom code that can detect the parameters in the URL and populate the fields. This is likely what the 3rd party plugin do

[2020-05-19 13:54] #26530 closed

[2020-05-19 14:02] fasttrackhost commented on #26539
Maybe, metabox content is fully controlled by WordPress?

[2020-05-19 14:11] tammullen commented on #26540
Hi @jeffreyscottfrench

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/26435.
We are closing your issue in favor of the previously submitted.
Please continue sharing your feedback there if needed.

[2020-05-19 14:11] #26540 closed

[2020-05-19 14:11] Stas0238 opened #26548 "Missing image sizes in last update"
Hello,
I noticed that last update (or one of the latest) brought some changes in customizer. What I found is missing woocommerce image sizes from customizer panel with default storefront theme (http://prntscr.com/sjrbxo). Futhermore I used one of themeforest themes and that option does not work now.
Did you make any changes for that or how can it be fixed ASAP ?
Because we should be able to manage

[2020-05-19 14:26] tammullen commented on #25989
Hi @degregar

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide](h

[2020-05-19 14:26] #25989 closed

[2020-05-19 14:44] tammullen commented on #26535
Hi @toxicdemonWP

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

Can you provide us with more details on which screens, fields etc you are seeing this tax rate format.
​
**Describe the

[2020-05-19 15:08] juliaamosova commented on #26472
Hi @JeremaineJohnson,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-19 15:08] #26472 closed

[2020-05-19 15:09] juliaamosova commented on #26434
Hi @negapo,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-19 15:09] #26434 closed

[2020-05-19 15:10] juliaamosova commented on #26422
Hi @avokrado,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-19 15:13] juliaamosova commented on #26360
Looks like this issue is resolved - closing it. Please feel free to comment back in case we missed something and we'd take another look.

[2020-05-19 15:13] #26360 closed

[2020-05-19 15:13] juliaamosova commented on #26312
Hi @amber090,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-19 15:13] #26312 closed

[2020-05-19 15:13] juliaamosova commented on #26294
Hi @zainabmoh,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-19 15:13] #26294 closed

[2020-05-19 15:17] juliaamosova commented on #26078
Hi @rustys27,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-19 15:17] #26078 closed

[2020-05-19 15:22] juliaamosova commented on #26538
Hi @testapi60,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that we could take a look further there.

[2020-05-19 15:35] juliaamosova commented on #26548
Hi @Stas0238,

Thank you for submitting the issue. I don't think we changed anything in regards to editing image size in the Storefront theme. Did a quick test with WooCommerce 4.1 + Storefront 2.5.6 and everything is working as expected (see gif below):

![](http://g.recordit.co/xaoYtObivu.gif)

Are you able to reproduce your issue with just WooCommerce activated (plus Storefront theme)?

[2020-05-19 15:51] sarah-geara opened #26551 "How to add a customer as a google user to the table of customers"
How to add a customer as a google user to the table of customers??
Please i tried to add a customer by adding manually to the meta data
google_access_token and default_password_nag , the user was added but it doesn't seem like he is registered as google type user

Please help thank you

[2020-05-19 16:03] sarah-geara commented on #26551
@juliaamosova please advice

[2020-05-19 16:46] tammullen commented on #26551
Hi @sarah-geara

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide

[2020-05-19 16:46] #26551 closed

[2020-05-19 17:05] mvdhoek1 commented on #21148
If someone is still looking for an answer here is mine. It works like a charm.

[code]

If the discount calculation in the checkout includes taxes you can use this action. It took me a while to find. The discount was for me €0.53 but because of the taxes Woocommerce added €0.11 to the discount resulting in a higher discount than I wanted. To exclude the discount from taxes use the following code.

[2020-05-19 17:13] vdbelt commented on #26422
Can confirm this is an issue. Product row prices in `templates/cart/mini-cart.php` are incorrect when hooking into `woocommerce_before_calculate_totals` (any priority).

Any logic in the hook gives unexpected output. Here is an example:

[code]

Additonally, it seems there are 2 recent reports of this issue posted in https://github.com/woocommerce/woocommerce/issues/21649

[2020-05-19 17:21] Stas0238 commented on #26548
@juliaamosova Thanks for quick respond
In your documentation -> https://docs.woocommerce.com/document/image-sizes-theme-developers/ I see these options and as I understand there is storefront theme enabled

But on your gif those options are missing
http://prntscr.com/sjtp74

I hope that I was clear in my explanations of the situation now

[2020-05-19 18:11] jeffreyscottfrench commented on #26435
This occurs because the value attribute on the option element is not set to "default".

I saw this occur when using the shipping-calculator.php template as well, so whatever fix that is implemented should cover both instances.

[2020-05-19 18:22] jeffreyscottfrench commented on #26540
Ok - I have commented there regarding the shipping-calculator.php template as well, though I think this is a separate issue as there are two files that need to be corrected for both to be resolved:

templates/cart/shipping-calculator.php   --  line 31
includes/wc-template-functions.php   --  line 2706

Setting the option element's value attribute to "default" in both instances is necessary.

[2020-05-19 18:58] juliaamosova commented on #26422
Thanks for additional details @vdbelt! Reopening this thread so that we could take a look further.

[2020-05-19 19:19] jeffreyscottfrench commented on #26435
Submitted 2 pull requests to handle both instances:

#26554 - checkout page
#26541 - cart shipping calculator

[2020-05-19 19:26] jonathansadowski commented on #26077
Hi @gevcen,

Thank you for taking the time to share this report, we really appreciate your help. The categories filter within wp-admin is sorted alphabetically. This behavior is intentional.

While we appreciate you sharing the suggestion that the filter match the sort order of the categories page with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit

[2020-05-19 19:26] #26077 closed

[2020-05-19 19:53] elizaan36 commented on #26495
Thanks for sharing this issue @tommyshellberg. I was able to reproduce the bug as well and I'll share a potential solution here.

Some things I'm taking into consideration from the design perspective when coming up with a solution:
- We want to respect people's Screen Options settings regardless of the browser size. So agree that we probably shouldn't use `important` markers to show info that peop

[2020-05-19 19:55] superdav42 opened #26555 "Tooltips flash when hovering over the bottom of the help icon"
**Describe the bug**
When hovering over any help icon which shows a tooltip the tooltip can start flashing if the cursor is at the bottom of the help icon. Happens most frequently with Firefox but can happen in chrome too.
This is happening because the tooltip box is partially covering the help icon so when the tooltip appears the cursor is no longer hovering over the icon so the tooltip is closed

[2020-05-19 21:14] juliaamosova commented on #26555
Hi @superdav42,

Thanks for submitting the issue and a fix 🙌 . Marking your PR as `needs review`.

[2020-05-19 21:58] hogash commented on #15995
@eliasjnior this issue still happens. Why did you closed it? Did you remember what was causing it?

[2020-05-20 01:03] bsanvido opened #26560 "WooCommerce - Import Coupons Error"
Currently cannot import coupons or bulk generate coupons on woocommerce. Important notice at the top stats that coupons are being imported in the background. This has been stuck at 93.33% for the last 2 months.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to coupons under woocommerce.
2. Click on Bulk Generate or Import Coupons
3. Scroll down to see loading bar stating coupons are prog

[2020-05-20 01:50] haszari opened #26561 ""Verified owner" review features not working"
**Describe the bug**
In `Settings > Products`, there are some `Verified owner` options for reviews:

<img width="631" alt="Screen Shot 2020-05-20 at 1 42 03 PM" src="https://user-images.githubusercontent.com/4167300/82395500-c98a8f00-9a9f-11ea-8704-0f1150741a60.png">

One limits reviews to those who have purchased a product, the other shows a special `verified` thing on reviews from customers who'

[2020-05-20 02:37] castilloedwin commented on #25699
Thanks, 3.9.3 fix this problem

[2020-05-20 09:29] zambetti opened #26562 "Variations 'Save Changes' fails (times out) on many variants and/or many custom fields"
**Describe the bug**

When editing a product's variations, and pressing 'save changes', all data for all variations is sent to the server. This imposes a practical limit when there are many variants. The limit is easily reached when many custom fields have been added via the hook woocommerce_product_after_variable_attributes. We have encountered this bug after adding many fields using woocommerce_

[2020-05-20 12:17] ultrawebmarketing commented on #21649
I think the issue is with what is the correct way to get the price for an item in the cart?

The official documentation states to use get_price():

https://woocommerce.wp-a2z.org/oik_api/wc_productget_price/

However the mini cart is using get_product_price():

https://woocommerce.wp-a2z.org/oik_api/wc_cartget_product_price/

So whatever method is the correct method to get the cart item's price is

[2020-05-20 13:12] peterfabian commented on #25133
Understand. I'm bumping the priority of this one to high.

Quick question: do you folks use variations with any 'Any' attributes (like in the picture below) or only fully specified ones?
![Screenshot 2020-05-20 at 15 12 27](https://user-images.githubusercontent.com/2207451/82449977-55a2b380-9aac-11ea-8ee5-1c3fc543daf5.png)

[2020-05-20 13:43] juliaamosova commented on #26560
Hi @bsanvido,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the [WooCommerce Smart Coupons](https://woocommerce.com/products/smart-coupons/) plugin which is one of the paid products on our marketplace. To get further technical support for it, please conta

[2020-05-20 13:43] #26560 closed

[2020-05-20 14:15] juliaamosova commented on #26561
Hi @haszari,

Thanks for rasing the issue here. However, I can't reproduce it - the functionality around verified owners works as expected for me.

What I did to reproduce it:

1) Created a user with a `customer` role on the site as admin - noted the email address I assigned to this user;
2) Via incognito browser, logged in to the site as a customer using the same email address and login details a

[2020-05-20 14:22] AverageJeff commented on #25133
We're using fully specified variations.

Since the programatic angle seem to be in process I'll dig in to "stupid user tricks" and try to marry the web logs to the orders.

Aren't these types of problems fun!?!  I've always told people that problem solving in technology isn't like finding a needle in a haystack, it's like finding a specific needle in a needlestack.

[2020-05-20 14:54] gevcen commented on #26077
How will people vote? I don't see anywhere a system to vote?

[2020-05-20 15:38] gglobalstep opened #26563 "[GlobalStep - 4.2 RC1]: On MAC(Safari), Refunded transactions fails to appear in Payments -> Transaction tab."
**Environment:**
MAC Mojave v10.14.6: Safari(v13.0.5)

**Steps to Reproduce:**
1. Create a site using Ninja tool.
2. Install all the plugins.
3. Tap on "Run the Setup wizard".
4. Complete all the introductory tabs i.e., Store details, Industry ,Product types, Business details and Theme.
4. Place an order using the site.
5. Go to dashboard and change order status to "Refund".
6. Now go to Payments.

[2020-05-20 17:17] benedictte opened #26564 "The country states for the Philippines needs to be updated"
I noticed that a few of the current Philippine country/state definitions do not follow the ISO standards.

This is the mapping in WooCommerce:
'DAC' => __( 'Davao Occidental', 'woocommerce' ),
'SIQ' => __( 'Siquijor', 'woocommerce' ),

Based on ISO it should be:

PH-DVO* | Davao Occidental
PH-SIG* | Siquijor

You may refer to this:
https://www.iso.org/obp/ui/#iso:code:3166:PH

[2020-05-20 17:19] AverageJeff commented on #25133
I think I found something.  From different stores with one using the Boutique child theme of Storefront  and the other Renden Business, when you choose the "Select options" button on the store home page under an item it adds the item directly to the cart as the parent item immediately.  See images below for before and after clicking the button.  No other actions were performed.

The example item o

[2020-05-20 17:33] AverageJeff commented on #25133
To work around this behavior I created a snippet using the code below to redirect the click to single product page.

https://stackoverflow.com/questions/60025343/how-to-change-select-options-variation-button-with-buy-now-or-shop-now-button

[2020-05-20 18:17] juliaamosova commented on #26504
Hi @Bloggeratlarge,

Thanks for the additional details. Sorry to hear you can't reproduce it on your end - it is a tricky one indeed. The most common cause of this kind of issue is a theme and plugins conflict. I understand that it is difficult to pinpoint it for you though.

I can recommend monitoring the situation and work with a customer who experiences it further and find out from them what br

[2020-05-20 18:17] #26504 closed

[2020-05-20 18:17] juliaamosova commented on #26490
Hi @peterpenguw,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-20 18:17] #26490 closed

[2020-05-20 18:18] juliaamosova commented on #26487
Hi @annurehedge,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-20 18:18] #26487 closed

[2020-05-20 18:19] juliaamosova commented on #26440
Hi @kohldampfer,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-20 18:19] #26440 closed

[2020-05-20 18:31] progcode commented on #22048
I am experiencing exactly the same problem. Please fix asap.

[2020-05-20 18:38] juliaamosova commented on #26495
Thanks for the extensive reply @elizaan36! I am adding 4.3 milestone to this issue and will see if we can have someone working on this sooner than later.

[2020-05-20 18:59] juliaamosova commented on #26563
Thanks for opening this issue @gglobalstep! I moved it to the Payments repository (https://github.com/Automattic/woocommerce-payments/issues/673) (which is not public) and closing this one here.

cc @tammullen.

[2020-05-20 19:47] anthonyshew commented on #25133
@peterfabian The variations I've been getting this issue with do feature "any" attributes. However, I was having differing combinations of the attributes that would show up on the order. Sometimes it is an "any" attribute that is present. Sometimes it is a "declared" attribute. I can't quite identify a pattern. Would it help you if I tried to recreate the behavior once again with all "declared" at

[2020-05-20 19:54] juliaamosova commented on #26563
@gglobalstep we took a look at the issues further and noticed that you are issuing a refund by changing the order status from `Processing` to `Refunded`. While this visually refunds an order, it actually doesn't get refunded in the payment gateway itself - there is an order note that lets you know that (I took a screenshot of the order you referenced in the video that you provided):

![refund](htt

[2020-05-20 20:07] claudiosanches commented on #26547
Hi @ninetyninew ,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future releases.

[2020-05-20 20:10] claudiosanches commented on #26468
Hi @lkraav,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2020-05-20 20:29] haszari commented on #26561
Not sure! My customer signed up themselves, via `Allow customers to create an account on my account page` option. So perhaps their account was less verified or missing some flag.

[2020-05-20 20:38] paulotruta commented on #21148
mvdhoek1 , this works correctly. The $taxable argument of WC()->add_fee(), when set to false and having a negative value, should have this behavior. Maybe a patch would be interesting?

[2020-05-20 20:39] juliaamosova commented on #26028
Hi @kevin718,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2020-05-20 20:39] #26028 closed

[2020-05-20 21:01] juliaamosova commented on #26059
Hi @tivnet,

Apologies for the delayed response here! We fixed the issue in WooCommerce 4.1 via https://github.com/woocommerce/woocommerce/pull/26339. Can you please confirm if translations are now working for you and let us know?

[2020-05-20 21:15] allendav opened #26568 "Allow Marketplace suggestions to be filtered by base location country"
**Is your feature request related to a problem? Please describe.**

We'd like to promote extensions like Stripe, WCPay as they become available in new countries. Marketplace suggestions cannot presently be filtered by country.

**Describe the solution you'd like**

A means to tag suggestions in such a way that they only appear for certain countries.

**Describe alternatives you've considered**

**

[2020-05-20 22:28] ObliviousHarmony commented on #26505
Hello,

The `woocommerce_shipping_method_chosen` action is only triggered when a shipping method is forcefully assigned, such as when none is selected, or when the selection one is no longer usable due to changes in the cart.

I was thinking you might be able to use the `woocommerce_package_rates` filter to validate whether or not a rate should actually be accessible, but there's some caching arou

[2020-05-20 22:28] #26505 closed

[2020-05-20 22:39] ObliviousHarmony opened #26569 "Shipping rates not being cached in all cases"
**Describe the bug**
It seems that the presence of the `subtotal` and `total` keys in the `$package` object is busting the cache prematurely. We should probably be more explicit in how we decide what package elements invalidate the cache.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a snippet like:
[code]
2. Add a `Local Pickup` and `Flat Rate` method to a zone you will test against.

[2020-05-20 22:57] ObliviousHarmony commented on #26523
Hello,

Are you saving the product after changing the virtual flag? To be clear as well, this will update the _actual_ product and affect all future orders made for that product.

[2020-05-21 05:26] kalimfolio opened #26570 "WooCommerce Rest API delete customer permanently multi-site?"
I am trying to delete customer using WooCommerce delete customer API on my multi store, customer is being removed from the particular site/blog, but not being deleted permanently from DB.

is there any way to delete customers permanently?

[2020-05-21 05:40] thepomento commented on #25895
I am facing this error. Please help

Fatal error: Uncaught RuntimeException: Error saving action: Error saving action: Table 'poetilsh_shopaxcu_wp940.wpbg_actionscheduler_actions' doesn't exist in /home/poetilsh/public_html/pomento.in/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php:44 Stack trace: #0 /home/poetilsh/public_html/pomento.

[2020-05-21 06:13] miroruse commented on #25387
Hi, I reported the issue 5 months ago. Since then I have updated to the latest version of woocommerce 4.1.0 but the problem still persists. It doesn't matter 1 or 14 pcs are bought and tehn restocked, the variations remain out of stock while the general inventory displays 1 (14) pcs available. Is there going to be a solution for that?

[2020-05-21 07:32] ninetyninew commented on #26547
Thanks - I did notice later that the Dashboard under the WooCommerce menu item is actually different to the Analytics home as I assumed earlier, therefore it maybe that needs to be it's own parent menu item too like Customers. But then WordPress already has a top level 'Dashboard' menu item so maybe a WooCommerce sub menu of that... not sure?

[2020-05-21 07:52] bjornweb commented on #24626
Maybe not the right place, but I had exactly the same problem.
In my case the plugin "WooCommerce Product Search" is causing this behavior... It's hard to find because WOO does product_query caching, so make sure you change the shortcode categories after disabling plugins and test again.

The problem
Plugin "WooCommerce Product Search" adds the first category as an extra separate 'tax_query'.
With

[2020-05-21 08:21] Holu8 opened #26571 "Wrong product price calculation"
**Describe the bug**
According to [https://docs.woocommerce.com/document/setting-up-taxes-in-woocommerce/](url):

This behavior is wrong. If you enter price of £9.99, it correctly includes £1.67 tax. However if you have for other countries set tax to be 0, it should have same final price (in our case £9.99). That's how you expect "price inclusive of tax" to work (same price including tax for all c

[2020-05-21 09:17] TheGranadilla commented on #26523
Hi, thanks for your answer !
No, i'm not saving the product. I'm just changing it's virtual flag in the cart :

[code]

It's working fine... Except if the order is updated from the admin order review page.
Changing order status from orders lists (quick action buttons) works fine and don't add the shipping.

[2020-05-21 11:02] tammullen commented on #26564
Hi @benedictte

Thank you for raising this issue.

We no longer use ISO, we instead use CLDR (details here https://github.com/woocommerce/woocommerce/pull/24564).

These are the CLDR details for Philippines
https://github.com/unicode-org/cldr/blob/release-37/common/subdivisions/en.xml#L3991

I'm going to close this issue as I don't believe any further action is required. Please feel free to commen

[2020-05-21 11:02] #26564 closed

[2020-05-21 11:55] benedictte commented on #26564
Thank you for the clarification.

On Thu, May 21, 2020 at 7:02 PM Tam Mullen <notifications@github.com> wrote:

[2020-05-21 12:21] tivnet commented on #26059
Hi @juliaamosova, thanks for the update. Because I have changed my code to pass the translated string from PHP to JS, I won't be able to test it now. But, I saw the messages from others regarding that patch, and I surely trust them.

[2020-05-21 12:21] #26059 closed

[2020-05-21 12:24] rrennick commented on #25895
@thepomento What version of WooCommerce do you have installed?

[2020-05-21 13:20] toktokkkie opened #26573 "Woocommerce has disappeared from my plugins? Tried reinstalling it from Wordpress.com as I cannot access my admin anymore. Any help would be appreciated, thanks!"
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide here: https://docs.woocommerce.com/document/woocommerce-self-service-guide/

**Technical support for premium extensions or if you're a WooCommerce.com custome

[2020-05-21 13:38] juliaamosova commented on #26059
Thanks for your follow-up @tivnet. Noted.

[2020-05-21 13:55] tammullen commented on #26571
Hi @Holu8

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

![Screenshot_2020-05-21_at_14_29_51](https://user-images.githubusercontent.com/24649833/82564653-096d7700-9b71-11ea-9c54-c1bb3769f80d.png)
I have set my store to be based in the UK

![Screenshot 2020-05-21 at 14 30 08](https://

[2020-05-21 13:57] tammullen commented on #26573
Hi @toktokkkie

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide]

[2020-05-21 13:57] #26573 closed

[2020-05-21 14:00] juliaamosova commented on #26509
Hi @NouvelleChambreClaire,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-21 14:00] #26509 closed

[2020-05-21 14:07] juliaamosova commented on #26570
Hi @kalimfolio,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that we could take a look further in the correct repository.

[2020-05-21 14:50] vedanshujain commented on #26521
We already have a filter to support these kinds of modifications: `woocommerce_form_field` (this filter has the same name as the function).

Assuming that you are familiar with [WordPress filters](https://developer.wordpress.org/plugins/hooks/filters/), this will allow you to modify any and all content of the field container (`p` tag with class `form-row`).

See the definition of this filter here:

[2020-05-21 14:50] #26521 closed

[2020-05-21 14:50] gglobalstep opened #26574 "[GlobalStep - 4.2 RC1]: Error in PHP tab of Query monitor is seen upon manually uploading tax rate CSV file"
**Environment:**
Windows 10- Google Chrome (Version 81.0.4044.138)
Mac Mojave -10.14.6 -Safari(v13.0.5 )

**Steps to Reproduce:**
1. Create a site using Ninja tool.
2. Install all the plugins.
3. Click on "Run the Setup wizard".
4. Complete the setup wizard and go to WooCommerce Dashboard.
5. Click on "Setup Tax".
6. Import tax manually.
7. Click on import button.
8. Upload a CSV file.
9. Observe

[2020-05-21 14:53] gglobalstep opened #26575 "[GlobalStep - 4.2 RC1]: “Finish Setup” button seen even after we toggle off Facebook plugin on Marketing page"
**Environment:**
Windows 10- Google Chrome (Version 81.0.4044.138)
Mac Mojave -10.14.6 -Safari(v13.0.5 )

**Steps to Reproduce:**
1. Create a site using Ninja tool.
2. Install all the plugins.
3. Tap on "Run the Setup wizard".
4. On Business Details page toggle OFF Facebook plugin.
5. Complete rest of the screens and go to Marketing page.
6. Note that Facebook is not displayed in "Installed Market

[2020-05-21 14:57] gglobalstep opened #26576 "[GlobalStep - 4.2 RC1]: On Business details page, "There was an error installing MailChimp. Please try again." error message is displayed"
**Environment:**
Windows 10- Google Chrome (Version 81.0.4044.138)
Mac Mojave -10.14.6 -Safari(v13.0.5 )

**Steps to Reproduce:**
1. Create a site.
2. Add all the plugins.
3. Tap on "Run the setup wizard".
4. Go to Business Details page.
5. Enter all the details.
6. Observe that "There was an error installing MailChimp. Please try again." error message is displayed.

**Actual Result:**
There was a

[2020-05-21 15:01] gglobalstep opened #26577 "[GlobalStep - 4.2 RC1]: Icons for Reply, Edit(Pencil) and Document are not displayed on Storefront theme."
**Environment:**
Windows 10- Google Chrome (Version 81.0.4044.138)
Mac Mojave -10.14.6 -Safari(v13.0.5 )

**Steps to Reproduce:**
1. Create a site using Ninja tool.
2. Add all the plugins.
3. Go to Appearance > Theme > Add New.
4. Search and activate Storefront theme.
5. Go to Posts > Add New.
6. Create a post and publish it.
7. Observe that Reply, Edit(Pencil) and Document icons are not displayed

[2020-05-21 15:05] vedanshujain commented on #26524
The previous line has nothing to do with the line that you have mentioned because we are creating a new local variable `$show_option_none` and not overwriting `$args['show_option_none']`.

The reason for why we have a fallback text again in the line that you mentioned, even though we already have a default, is that in case someone sends `$args['show_option_none']` set to empty or null, the default

[2020-05-21 15:14] NouvelleChambreClaire commented on #26509
Hi Julia,
I didn't try to desactivate some plugins and changing the storefront. I'm not webmaster this is not my cup of tea. I only handle the data about the products and the customers.
I'll now manage the customers data one by one and not with a view of all as before, until your new update....
But thanks for your response.

[2020-05-21 15:19] juliaamosova commented on #26509
Hi @NouvelleChambreClaire, thanks for your follow-up. It is possible that the update won't fix the issue for you since we didn't work on that area to fix anything, to begin with.

It is recommended that you perform a theme or plugin conflict to see what is causing the issue. Of course, it is always better to do it on the staging site (not the live site). You can find a handy guide by visiting [How

[2020-05-21 15:26] juliaamosova commented on #25803
Hi @emoop

Thanks for raising the issue. While I can reproduce it, I am not sure I agree with your statement:

When you mark the product visibility to hidden, it means that it is hidden from the site but it still exists. Anyone, who has the link to the product will still be able to view it which is why it is available via cart if it was already placed there.

I will mark this issue with the `quest

[2020-05-21 15:36] tammullen commented on #26577
Hi @gglobalstep

Thank you for reporting the issue. Storefront is being developed in another repository: https://github.com/woocommerce/storefront/.
​
I am going to move your bug report there so that the right team could take a look further.

[2020-05-21 15:38] gglobalstep commented on #26511
This issue is observed to be **Open** on WooCommerce 4.2 RC 1
**Environment:**
Windows
OS: 10
Browser: Chrome(Version 81.0.4044.138 (64-bit))

MAC
OS: Mojave v10.14.6
Browser: Safari(v13.0.5)

[2020-05-21 15:38] gglobalstep commented on #26512
This issue is observed to be **Open** on WooCommerce 4.2 RC 1
**Environment:**
Windows
OS: 10
Browser: Chrome(Version 81.0.4044.138 (64-bit))

MAC
OS: Mojave v10.14.6
Browser: Safari(v13.0.5)

[2020-05-21 16:00] graftedin opened #26578 "CSV Import Actions vs Filters"
In class-wc-product-csv-importer.php set_parsed_data you have an action right before the foreach that allows us to hook in to here.  However I can't manipulate and return the data with an action.  There is a filter at the end of the method but by then the data has already been worked on and its too late.

In my instance I have 100s of categories for some of my products.  That combined with depth o

[2020-05-21 16:03] tammullen commented on #26575
Hi @gglobalstep

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

[2020-05-21 16:16] rrennick commented on #26431
This looks like an accidental duplicate of #26431 .

[2020-05-21 16:18] rrennick commented on #26431
Re-opening as this is the issue for the PR.

[2020-05-21 16:24] juliaamosova commented on #25857
Hi @sara5387,

Apologies for the delayed response and thanks for raising the issue!

I have tested with WooCommerce 4.1.1, Jetpack 8.5 and Twenty Twenty theme and don't seem to be able to replicate the issue. I made a video showing my steps. All my images are 1000 x 500 px:

https://recordit.co/mCsMhxBAmM

 Would you please retest to see if the issue is still present on your end? Or maybe point ou

[2020-05-21 16:32] #26161 closed

[2020-05-21 17:49] feofilaktov commented on #25387
Hi! Unfortunately, we've got the same problem since Feb 2020, but there is no message of encreasing stock after cancelled order.  Just -1 every time. [Plugin](https://wordpress.org/plugins/woocommerce-auto-restore-stock/ ) doesn't work.  I've tried to make some modification - failed. Nothing happened. We were testing on Woocommerce 3.7.1 and 4.1.1 (last ver.).

[2020-05-21 18:16] HowdyMcGee opened #26579 "Duplicate metadata entries in the Order Item table"
**Describe the bug**
When an order item meta key is manually created with an empty value, there is not validation or real requirement. The empty value gets saved to the database. Now if you remove that custom meta field using the [x] button it **does not** get removed from the database. The user can create a new custom meta of the same name and there will now be a duplicated value in the database,

[2020-05-21 18:38] Holu8 commented on #26571
I am sorry about not following template. I thought linking to your docs was enough to explain. The provided snippet works great and is exactly, what should be considered as "inclusive tax". Thank you for that.

Actually this was misunderstanding from my side. Everything works as intended.

Thank you very much once again, you can close this issue.

[2020-05-21 18:38] #26571 closed

[2020-05-21 18:44] #25752 closed

[2020-05-21 19:06] juliaamosova commented on #26563
Reopening this issue to see if we want to evaluate the flow of refunding via change of status and see if we can improve it.

[2020-05-21 20:00] juliaamosova commented on #25934
Hi @ntindicator, @yukikatayama, @stephhjacq and @ShadyBonsai,

Apologies for getting back to this issue with delay. Thanks for raising it!

It is not clear to me, however, how to properly reproduce this issue or what the issue is.

Visuals will be helpful. Also, it seems that you all are referring to different issues.

What I've done so far is the following (trying to reproduce the issue reported

[2020-05-21 20:31] carinapilar commented on #26442
Had this situation too on #2995219-zd. The workaround mentioned above, of changing the product type to Variable and back to Simple, fixed the problem.

[2020-05-21 20:50] juliaamosova commented on #25934
@ShadyBonsai what are your steps to reproduce the issue?

So far I can successfully update variations prices of the existing product bu exporting products, updating prices in CSV file, and importing it back to the site.

I made a video to show my steps: https://recordit.co/nOWYnEubUd.

[2020-05-21 21:43] tammullen commented on #26574
Thanks for opening this issue @gglobalstep! I created an issue on your behalf for this in the Mailchimp for WooCommerce repository  https://github.com/mailchimp/mc-woocommerce/issues/655

Closing this issue for now.

[2020-05-21 21:43] #26574 closed

[2020-05-21 22:11] juliaamosova commented on #25934
@stephhjacq I looked at 2900095-zen and tested the CSV file provided there by the customer. I noticed that it was missing the `id:1` value in the `Parent` column which creates the connection between the parent product and its variations. I added `id:1` to the `Parent` column and imported user's file to my test site - variations were successfully created:

![parent1](https://user-images.githubuserc

[2020-05-21 23:43] ElevateSportingGoods opened #26580 "WooCommerce issue"
When I try to purchasing one thing on my site it adds the opposite item in the cart and i cannot checkout and purchase items on my site and I need your help to let me know what it is.

[2020-05-22 09:22] toxicdemonWP commented on #26535
Hej @tammullen

my fault. sorry. i thought the information was so general, but of course i should say where i mean it.

**To Reproduce**
1. Set the shop to German language / tax rates
2. See the product category (screenshot 1)
3. new the price you see the tax rate with percentage sign
3. go straight to any product page (screenshot 2)
4. near the price should be the tax rate with percentage sign.
5

[2020-05-22 09:26] bulgaru commented on #11813
For all those experiencing the issue, i recommend looking into the classes for the address fields. I noticed the issue when i've rewritten the fields, e.g.:
`$address_fields['state']['class'] = array('uk-width-1-2 uk-width-medium-1-3');`

When doing so, the class **address-field** is removed and is the one that serves as hook for jQuery to catch the change in the field. If you're rewriting the cla

[2020-05-22 09:39] masosky opened #26581 "Query params not passed when using "rest_route" option"
Hi,
I tried to reach the Woocommerce API through http://localhost/wp-json/wc/v2 but I had to use the "rest_route" options because the "wp-json" endpoint is not available.
The problem is the following, I need to access to this URL:
http://localhost:3007/index.php?rest_route=/wc/v2/product and pass some query parameters
for example:
http://localhost:3007/index.php?rest_route=/wc/v2/product?a=1
if I

[2020-05-22 10:39] joshuatf opened #32277 "WCPay task should show further setup required"
In https://github.com/woocommerce/woocommerce-admin/pull/4145 the check for whether wcpay is configured or not was updated to check if a Stripe connection has been established.

This issue will involve adding a note to the task if the payment has been configured, but still requires further setup (pending account or other error) using the `needs_setup()` method.

![](https://user-images.githubuserc

[2020-05-22 11:15] masosky commented on #26581
This was a parameter example.
The real problem is that I cannot pass the consumer_key and consumer_secret params or even the Auth Headers

Thanks

[2020-05-22 12:54] Konamiman commented on #26074
Hi @menakas, thanks for notifying this.

I've been able to reproduce the issue and I've took a look at the involved code (thanks so much for pointing out the exact code snippet, by the way). Although a deeper investigation would be needed to be sure, at first sight it doesn't look like the solution is to add a hook; instead, this looks like a bug in the cart processing workflow.

The issue comes f

[2020-05-22 13:37] Tofandel commented on #24349
Any news on this?

[2020-05-22 13:39] juliaamosova commented on #26580
Hi @ElevateSportingGoods,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Servi

[2020-05-22 13:39] #26580 closed

[2020-05-22 13:41] juliaamosova commented on #26581
Hi @masosky,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that we could take a look further at the right place.

[2020-05-22 13:43] juliaamosova commented on #26528
Hi @MOMiracle,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-22 13:43] #26528 closed

[2020-05-22 13:44] juliaamosova commented on #26520
Hi @oberaij,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-22 13:44] #26520 closed

[2020-05-22 13:46] Konamiman commented on #26501
Hi @thierrydev, thanks for your enhancement suggestion.

Just to make sure that we're speaking about the same thing: there's a `woocommerce_get_checkout_url` filter that allows replacing the action attribute of the checkout form. Would this be compatible with the first solution you're suggesting?

[2020-05-22 13:51] thierrydev commented on #26501
Hello

Thanks for getting back to me.

Does that filter override the forms Ajax call entirely ?

[2020-05-22 13:54] juliaamosova commented on #26093
Hi @ninetyninew,

Thanks for your follow-up and feedback. It is indeed recommended to use WooCommerce products importer in order for all the functionality of WooCommerce and its products to be supported.

In any case, it looks like you are all set for now. I am closing this issue but please feel free to comment again in case we missed something and we'd take another look.

[2020-05-22 13:54] #26093 closed

[2020-05-22 13:55] seanbelly commented on #25895
I experienced this after deploying from staging to live. I was trying not to overwrite WC order tables so I excluded:

wp_posts
wp_postmeta
wp_woocommerce_order_items
wp_woocommerce_order_itemmeta
wp_users
wp_usermeta

When I deployed again using 'all tables' the error was resolved.

[2020-05-22 14:09] juliaamosova commented on #25815
Hi @gevcen,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-22 14:09] #25815 closed

[2020-05-22 14:10] Konamiman commented on #26501
No, sorry, I think I misunderstood you. What this filter does is to replace the value of the `action` attribute in the `form` element, but what you need is to execute a custom JS function when the submit button is clicked, instead of "`this.submit`", right? In that case, indeed, changes are required (probably a new filter) to achieve that.

[2020-05-22 14:13] vedanshujain commented on #26086
It looks like you came across this issue while updating manually on the site: #25843. Basically if you update the stock status of a variable product, it will be changed for all its variations as well which looks like is what you faced.

We are also improving filters for variable products in #26260 as a response to #25524.

I am closing this issue because it looks like you were able to resolve by u

[2020-05-22 14:13] #26086 closed

[2020-05-22 14:23] juliaamosova commented on #25050
Hi @Jpegtobbe,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-22 14:23] #25050 closed

[2020-05-22 14:31] juliaamosova commented on #26092
Hi @danielbitzer,

Apologies for the delayed response and thanks for reporting it! It makes sense to update the return type indeed. Please feel free to submit a PR. Otherwise, we'd get to it at some point.

[2020-05-22 14:34] rrennick commented on #25895
@seanbelly Thanks for the followup. Closing this as resolved.

[2020-05-22 14:34] #25895 closed

[2020-05-22 15:30] jessepearson opened #26582 "Rounding precision issue possibly related to tax inclusive pricing"
**Affected customers**
2996867-zen

**Describe the bug**
Line items are not adding up correctly in orders, but I am not sure if this is related to tax inclusive pricing or not. I've tried changing the _Round tax at subtotal level, instead of rounding per line_, but amounts in the order still do not add up correctly (see screenshots).

Customer is using [Nets Easy for WooCommerce](https://wordpress

[2020-05-22 18:00] Hexaae commented on #26384
...Wanted to add that my issues above were also caused by a theme issue using built-in Coming Soon mode that for some reason seems to disable WP-CRON too. That's why I was able to reproduce the issue even on local test sites, but it wasn't a WC related issue...
Had just to adjust `woocommerce_scheduled_sales` timing (1 day at default) to solve products not updating prices after discount offers exp

[2020-05-22 18:39] helgatheviking opened #26584 "Decouple variations add to cart script from <selects>"
**Is your feature request related to a problem? Please describe.**

The variations script is tied to <select> inputs and there's no way to pass it different information and allow the script to still search for and show matching variations without duplicating the _entire_ script. This makes converting drop-downs to radio buttons a lot more difficult than it could be.

**Describe the solution you'd

[2020-05-22 19:28] juliaamosova opened #26585 "Converting simple product to variable via CSV doesn't create a variable product on the site after CSV import when selecting to update existing product during CSV Import"
**Describe the bug**

Converting simple product to a variable via CSV doesn't create a variable product on the site after CSV import.

Tested with WooCommerce 4.1.1.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a simple product that has a price and SKU.
2. Export product via built-in CSV Exporter on the `All Products` page.
3. Open CSV file and convert the simple product to a var

[2020-05-22 19:32] juliaamosova commented on #25934
@yukikatayama this seems like a separate issue - different from what the author of this thread is reporting. I was able to replicate your scenario and created a separate issue for it: https://github.com/woocommerce/woocommerce/issues/26585.

[2020-05-22 20:49] passatgt opened #26586 "Conflict with Twenty Twenty's CSS"
**Describe the bug**
WooCommerce's custom twentytwenty styling is overwriting the top padding on a regular single blog post page.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest(1.3) Twenty Twenty theme
2. Create a post with some text
3. View the blog post, the spacing is missing between the header(or featured image) and the post content

**Screenshots**
![image](https://user-

[2020-05-22 22:02] juliaamosova commented on #26585
Noting here that after looking at this issue further with @claudiosanches, it was determined that in order for the variations to be created on the simple product that was converted to a variable, few more steps need to be taken.

In particular, after taking the steps described in the issue, the following needs to be done:

- Open the CSV file again (the one where you already created rows for varia

[2020-05-22 22:02] #26585 closed

[2020-05-22 22:13] juliaamosova commented on #26380
Hi @vilm725,

Thanks for your follow-up. Indeed, your CSV file was missing mapping of the variations to the parent product.

The issue is fixed by you by adding SKU to the `Parent` column. Showing `Before` and `After` here in case it is helpful to someone else.

**Before:**

![sku1](https://user-images.githubusercontent.com/19143190/82713032-9ee33680-9c57-11ea-95d7-51d598d9cc67.jpg)

![sku2](https

[2020-05-22 22:13] #26380 closed

[2020-05-22 22:22] juliaamosova commented on #26384
Hi @Hexaae,

Thanks for your additional follow-up. This is good to know and hopefully will be helpful to others as well! Glad to hear the issue is resolved on your end. Looks like you are all set.

I am going to close this issue but please feel free to comment back in case I missed something and we'd take a 2nd look.

[2020-05-22 22:22] #26384 closed

[2020-05-22 22:26] ldr2273 opened #26587 "Imported Customers Cannot Be Searched for by First and Last Name When Creating a Manual Order"
**Describe the bug**
I'm still trying to hammer down whether this is actually caused by WooCommerce core or not, but basically here's the issue:

Imported customers are not searchable by first and last name when creating a manual order. They can be searched by first name, but not first and last.

I tested this while using [Customer/Order/Coupon CSV Import Suite](https://woocommerce.com/products/cu

[2020-05-22 22:30] captaingreek commented on #22706
I agree with the people above. This is not a request but rather an issue. What's the point of an option for stock management in variable level if there is no management?

[2020-05-23 00:08] mariovalney opened #26588 "Add Order Item validation is add HTML to alert and check code insted of message."
**Describe the bug**

The **woocommerce_ajax_add_order_item_validation** filter  was changed on [b9bb4a7c6](https://github.com/woocommerce/woocommerce/commit/b9bb4a7c6a55c04e6c177799b652aee996d969f8).

This added one problem: there is HTML on error message what is a problem as it's just "alerted".
And a not-intuitive requiremente to "code" on WP_Error even only printind the "message".

_About the

[2020-05-23 03:02] erkange commented on #19178
this was best way to save model names, ean, mpn, special codes.
We can't keep adding custom attributes for each time

[2020-05-23 04:31] erkange commented on #18045
so do we have real solution for this case.
I want to add brand, EAN, Model name to all products.
I also want to show it to customer in front end.
I also want the to see in comparison table.

[2020-05-23 06:43] ameenbadri7 commented on #16621
check the time and date of your localhost  or online server, for me

"code": "woocommerce_rest_authentication_error",
"message": "Invalid timestamp.",

was because of the time and date.

[2020-05-23 13:16] dougaitken opened #26590 "Products - unable to save Tax rate with Greek script or letters"
**Describe the bug**

When a tax rate exists with Greek letters, it isn't possible to set this as a product tax rate. When saving the product, the tax rate reverts to the one previously set.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WooCommerce > Settings > Tax > Tax options > Additional tax classes
2. Add two new rates - `Ψηφιακά προϊόντα` & `Psifiaká proïónta` (same words, diff

[2020-05-23 14:25] eliasjnior commented on #15995
Nice question. I think I reported the error to somebody that fixed, or should have fixed.

Later today I will check if this bug still happed, and if yes, I will re-open and make a PR.

[2020-05-23 14:34] ironicmoka commented on #22706
It's been months since I assured a client of mine that issue was reported to the developers, and so far they're working on convlouted solutions, like costantly manually check and update stock for dozens of products.

[2020-05-23 15:26] fuchsfelipel commented on #9751
Hi,

If anyone is still looking for an answer to this, my solution was to make an A DNS record pointing to the server that receives the WebHook and then only allow internal traffic on the firewall.

Steps using DigitalOcean's VPC + Firewall and Cloudflare:

 1. Log in to CloudFlare, Create an A record pointing to the server's public IP
 2. On DigitalOcean's panel go to the firewall and only allow

[2020-05-23 16:34] extrapixel commented on #22706
@ironicmoka For us, this issue has made it impossible to run large stores efficiently. Not to mention the questionable bloat they've added in 4.0 - hard to imagine how the JS admin interface got higher dev priority than this essential feature.

Our solution: We've moved most our stores over to Prestashop - what a relief! I haven't looked back a second.

[2020-05-23 16:47] dangvantri113 opened #26592 "Why doesn't "woocommerce_shipping_fields" filter in code."
I have a problem that need to use filter. I read some document online mention about "woocommerce_shipping_fields" filter, but i can't find where this filter apply. Please help me why? help me find it.

[2020-05-23 19:01] crudolf opened #26593 "New statistical module consumes 100% CPU and does not finish if used in "weeks" view"
**Describe the bug**
For one woocommerce instance using the latest version (4.1.1) the statistical module is not always fast. In one of my instances there are about 2000 orders over 2 years. If I use the statistical module everything works fine for the view having the grouped filter for "day", "month", "quaterly". However for "weeks" the loading does not finish and I can see from the processes, th

[2020-05-24 06:44] neerajnegidev opened #26594 "API's Response Time"
Can we use some Caching technique to make API response faster may be redis.

[2020-05-24 12:04] grig-23 opened #26595 "Some characters are not supported in additional tax class names"
**Describe the bug**
Some characters in other languages such as 关税 or 关税 are not supported in additional tax class names.

**Reported in**

20491082-hc

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WooCommerce >> Settings >> Tax
2. Add 关税 or 关税 or both under "additional tax classes".
3. Go to a product edit page and try changing tax class to one of those.
4. After saving, the tax cla

[2020-05-25 03:44] SiR-DanieL opened #26598 "Cannot Skip Theme Install on Setup Wizard"
**Describe the bug**

I installed Divi before installing WooCommerce. Then installed WooCommerce, it went through the setup wizard and on the Theme step it gets stuck.

If I click Choose on Divi it returns me an error `The requested theme `divi` could not be installed. Theme API call failed.`.

I do not need to install another theme, nor I can skip this step.

**To Reproduce**
Steps to reproduce t

[2020-05-25 03:48] seanconklin commented on #20411
`woocommerce_layered_nav_term_html` filter works for Layered Nav widgets set to the **List** type. This filter does not exist for the **Dropdown** type of this same widget instance. I would like to request this filter added there as well.

If trying to remove attribute values you can use the above filter to conditionally return an empty string then use a CSS rule to hide the empty elements using `

[2020-05-25 06:36] mvdhoek1 commented on #21148
I guess this hook has been made for this reason.

[2020-05-25 09:30] hogash commented on #15995
@eliasjnior Thanks!! Following your steps to reproduce the issue, it still ends up in some errors. I know that this shouldn't happen, but still, the checks must be validated to avoid errors.

[2020-05-25 09:50] Stas0238 commented on #26548
@juliaamosova Any news ?

[2020-05-25 12:07] rynaldos opened #26599 "False positives on the uploads directory being browsable via the web."
**Describe the bug**

Following a recent update in WooCommerce core release, specifically, the following change:

https://github.com/woocommerce/woocommerce/pull/26207

Some folks are reaching out saying that this is a false positive as the directory in question is NOT browsable. It seems to happen for both NGINX and Apache server.

One of the sites in question: https://gallmet.hu/wp-content/uploa

[2020-05-25 12:46] rynaldos commented on #26599
Another report:

[2020-05-25 14:19] UnionDesign commented on #26078
Are you using the plugin PHPEnkoder? That was causing this same issue for me.

[2020-05-25 15:47] DogcomeTank commented on #15671
I have the same issue. I’m hosted on WP Engine and use WP Rocket. I realized the “random items” are not random. It’s from other customer’s cart. They don’t know each other and they are far away from each other.

What comes worse to my site is: customer A and B, they don’t know each other and they live far away. Customer A placed an order, about few minutes later, customer B placed an order. Custom

[2020-05-25 16:35] peterfabian commented on #26593
Thanks for reporting the bug, @crudolf! Were you able to find any information in your PHP error log? Have you tried to rebuild your data (via Analytics -> Settings)?

[2020-05-25 18:25] stephhjacq commented on #26599
Another report in 2996060-zen

Server Info: Apache
PHP Version: 7.2.31
PHP Post Max Size: 1 GB
PHP Time Limit: 300
PHP Max Input Vars: 3000
cURL Version: 7.70.0
OpenSSL/1.1.1g

[2020-05-25 21:42] dimitriBouteille opened #26601 "Undefined index: orderby in [...]plugins\woocommerce\includes\wc-term-functions.php on line 113"
**Describe the bug**

I want to use wc_get_attribute_taxonomies() or wc_get_attribute_taxonomy_ids() in admin and I have the following error : `Undefined index: orderby in [...]plugins\woocommerce\includes\wc-term-functions.php on line 113`

**To Reproduce**
Steps to reproduce the behavior:
1. Use wc_get_attribute_taxonomies() or wc_get_attribute_taxonomy_ids() functions in admin
2. And see error

[2020-05-25 22:21] lutifyme opened #26602 "A question about security update"
Hi all,

I have a security related question.

This url here https://plugins.trac.wordpress.org/browser/woocommerce/tags/4.1.0/readme.txt?rev=2298743 at line 191 details a security update.

The changelog here https://raw.githubusercontent.com/woocommerce/woocommerce/master/CHANGELOG.txt however doesn't.

My question is, was there or was there not a security update?

Secondly, if there was a securit

[2020-05-26 03:34] htdat commented on #23655
2998851-zen

[2020-05-26 03:42] Alnaggar94 commented on #25187
@dimichatzi @tammullen - I have the same problem could you please help me out?

[2020-05-26 06:51] bmcclure commented on #22100
There are many possible, completely valid, reasons why this should be called when _any_ checkout information changes, but cached when it doesn't.

For example: Adding a custom checkout field for whether to pack a product in ice. It's possible only certain shipping methods are compatible with this option, but since `woocommerce_package_rates` is only called when the cart or shipping address changes

[2020-05-26 10:00] Aljullu opened #42677 "Featured Product: display a message in the editor if the product is not 'Published'"
It's technically possible that the Featured Product block might be pointing to a product which is not visible to most users like draft, private, scheduled products... (see steps below). It would be nice if the editor displayed a notice in some way about this.

**To Reproduce**
1. Add a _Featured Product_ block to a post and select a product (ie: _Album_).
2. Edit the _Album_ product and set its st

[2020-05-26 10:45] passatgt commented on #26586
Just want to add that this affects every page, not just posts, sorry.

[2020-05-26 10:55] ibraheemhsn opened #26603 "missing translation for Arabic"
**Is your feature request related to a problem? Please describe.**
Please have a look at the attached image, explaining that checkout page is not totally translated.
I see that woocommerce-ar.po is totally translated , including the sections in the attached image.
but the translation does not appear in the front end.

I used default woo theme (storefront) for test.

![Capture](https://user-images.

[2020-05-26 11:53] damiannep opened #26604 "Import Product: Used for Variations not set for attributes if no variations have been created"
**Describe the bug**
If you export a product that has attributes with "used for variations" enabled, the option is not enabled on import if there are no variations imported at the same time.

**To Reproduce**
1. Create a product with attributes that are set to "used for variations" e.g. https://d.pr/i/Oh84MR
2. Export your products  to a csv file with the core exporter
3. Delete the products and t

[2020-05-26 12:36] LGx0 commented on #25895
@rrennick, Please help me.
wordpress version: 5.4.1
woocommerce: 4.1.1

`but error: Fatal error: Uncaught RuntimeException: Hiba Hiba Table 'b10850.wp0z_actionscheduler_actions' doesn't exist feladat mentésekkor feladat mentésekkor in /web/htdocs4/szegedicukraszdainfo/home/www/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php:44 Stack tr

[2020-05-26 13:37] juliaamosova commented on #26531
Hi @baraklevy,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-05-26 13:37] #26531 closed

[2020-05-26 15:05] negapo opened #26605 "Order Update WebHook"
Hi, the Order Update WebHook is being fired before a lot of events that are design ou used to insert order data which makes the WebHook useless for those uses. For example, the "woocommerce_process_shop_order_meta", which is fired when shop orders are updated and often used to update meta tags is fired after the webhook. Another one is the woocommerce_order_action_wc_<action> hook that is used to

[2020-05-26 15:36] roykho opened #26606 "Variation settings screen - some field values are partially blocked"
**Describe the bug**
Some of the setting values shown in the select dropdowns are partially blocked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a variable products page.
2. Click on `Variations`.
3. Expand a specific variation.
4. See the partially blocked values on the dropdowns.

**Screenshots**
![](https://d.pr/i/edIvJm+)

**Expected behavior**
I expect to see the selected valu

[2020-05-26 16:24] juliaamosova commented on #26606
Hi @roykho,

Thanks for raising this. However, I can't reproduce it in 4.1:

![var](https://user-images.githubusercontent.com/19143190/82925157-5d020b00-9f4b-11ea-853e-db8578099d34.jpg)

If working locally, could it be that you didn't build assets? That would be running the following commands before activating WooCommerce:

- `npm install`
- `composer install`
- `npm run build`

I am sure you know

[2020-05-26 16:30] jhartsoch opened #26607 "Adding an item to a newly created order in the Admin panel without saving the order results in stock being reduced that is unrecoverable."
**Describe the bug**
Adding an item to a newly created order in the Admin panel without saving the order results in stock being reduced that is unrecoverable.  Additionally, add_order_item() in class-wc-ajax DOES NOT respect the new **woocommerce_prevent_adjust_line_item_product_stock** filter. and is DIRECTLY reducing stock in all cases creating both problems.

**Steps to reproduce**
1. Orders-Ad

[2020-05-26 16:46] roykho commented on #26606
I didn't run it because I was under the impression Husky -> post merge process builds the files for you. So I am guessing it doesn't from your comment. Then this is a non issue.

[2020-05-26 16:46] #26606 closed

[2020-05-26 16:50] Aljullu opened #26608 "Twenty Twenty styles: remove underline from discounted prices"
In Twenty Twenty, discounted prices are underlined in the Shop page and shortcodes. That's confusing for users because others prices are not:
![Screenshot from 2020-05-26 17-36-24](https://user-images.githubusercontent.com/3616980/82927845-9bb2b800-9f81-11ea-8d75-30e4b07f1f38.png)

With @LevinMedia we agreed it would make sense to remove the underline.

[2020-05-26 17:27] peterfabian commented on #26359
Thanks for your update. I think those numeric keys (10228, 10230) relate to your customers who have an account while the alphanumeric ones are guest sessions. I'll try to check the code of the EU Vat plugin to see if there is anything suspicious there.

[2020-05-26 17:45] #26511 closed

[2020-05-26 17:54] juliaamosova commented on #26604
Hi @damiannep,

Thanks for raising the issue. However, if I understood the steps to reproduce correctly, it is expected that `Used for variations` is disabled if only the parent product being imported (without variations). It seems to be the case of the WordPress forum thread author that you linked.

`Used for variations` will be automatically enabled when variations will be imported as well.

Unl

[2020-05-26 18:18] negapo commented on #26605
Worse, just discovered that when editing a field, like "First Name" in the order admin panel, and saving, the order update webhook doesn't reflect the changes, so it just fires before changes are committed, this is a major flaw.

[2020-05-26 18:19] juliaamosova commented on #26607
Hi @jhartsoch

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

- I created a simple product with a stock of 100:

![pr1](https://user-images.githubusercontent.com/19143190/82935808-ac503780-9f5b-11ea-917a-26f03d8d2d40.jpg)

- Created a manual order without saving it and saw that the stock was reduced in the order notes:

![pr2](https

[2020-05-26 18:27] jhartsoch commented on #26607
Wow, that was quick!  *Note the related bug I mention regarding the ajax handler not calling the 'woocommerce_prevent_adjust_line_item_product_stock filter.   I temporarily solved both issues for my own purposes in class-wc-ajax.php around line 919:

				/* adding support for woocommerce_prevent_adjust_line_item_product_stock AND not adjusting stock for 'auto-draft' orders */
				if (  ($post_stat

[2020-05-26 20:01] juliaamosova commented on #26603
Hi @ibraheemhsn,

Thanks for raising the issue. However, I think the translations are working as expected in your case. Did you first have your site language in the default English language (or any other language initially) and later changed the language to Arabic?

If this is the case, you'd need to manually translate the strings that were not translated by navigating to corresponding parts of Wo

[2020-05-26 20:09] negapo commented on #26607
Let me just add something that doesnt make sense

Do the following test:

- Create an order on the admin panel, leave the order status as "wc-pending", add an item (stock is reduced), save the order then cancel the order (stock is not returned).
- Create an order on the admin panel, change the order status to "wc-on-hold", add an item (stock is reduced), save the order then cancel the order (stock

[2020-05-26 20:31] juliaamosova commented on #26595
Hi @grigorijurasov,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end - see gif below:

![](http://g.recordit.co/gj1IOyj6c6.gif)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for

[2020-05-26 20:56] jhartsoch commented on #26607
nice add @negapo.  I think the problem is the logic in the ajax add_order_item handler that reduces stock *doesn't* set the order's global stock_reduced flag.  I think all these issues stem from that function trying to manually reduce stock on a line item add instead of going through wc_maybe_reduce_stock_levels where that order level flag gets set. Just a thought

[2020-05-26 21:39] #26599 closed

[2020-05-27 06:37] ibraheemhsn commented on #26603
OK, many thanks, this has fixed issue, some translation strings are managed by theme customizer.

[2020-05-27 06:37] #26603 closed

[2020-05-27 10:48] #26605 closed

[2020-05-27 10:51] negapo opened #26612 "Bug in the Order Update WebHook"
**Describe the bug**
If you have an active "Order updated" WebHook and you edit an order in the order admin panel the webhook is being fired without any of the changes reflected (the order data that is sent is the old data, before the update).

**To Reproduce**
Create an "Order updated" WebHook.
Open an existing order on the order admin panel, change any field like the billing "First Name", click

[2020-05-27 12:25] peterfabian commented on #15671
Hi @DogcomeTank ,

If you manage to replicate the problem, we'd be happy to fix it. The problem is that it's very elusive and we haven't managed to find a way how this is happening. It would be great if you could test this out only with WC core plugin active to see if there is any other plugin causing this. It's possible that it's caused by some caching, but it's difficult to guess.

Also, sharing

[2020-05-27 12:35] negapo commented on #26607
@jhartsoch i think you are right on the money, that's where the logic breaks, using that ajax call that doesn't properly flag the order.

(Just a side note, im seeing that your are using the same setup as the store that i own (WC with Flatsome and some plug-ins). We tried to build everything on top of WC but have faced a few challenge that you must have dealt also, stock management, order picking,

[2020-05-27 13:45] damiannep commented on #26604
Thank you @juliaamosova. I'll update our docs to indicate this behavior and let the user know as well. I'll go ahead and close this issue.

[2020-05-27 13:45] #26604 closed

[2020-05-27 13:47] ofm commented on #25133
Yes that is exactly the issue we are having,. The "ANY" attribute does not show up in the order. The attribute _is_ correctly displayed in the cart, but never comes through in the order or in the order email.

[2020-05-27 13:55] juliaamosova commented on #26604
Thanks @damiannep! We have it somewhat specified here in Step 9 of [Converting existing simple product to variable product" section](https://docs.woocommerce.com/document/product-csv-importer-exporter/#section-7) but it is a good idea to mention it separately. Perhaps in the FAQ section.

[2020-05-27 14:12] juliaamosova commented on #26602
Hi @lutifyme,

Thanks for raising the issue.

There was a security update indeed in 4.1.0. The difference you see is the misconfiguration on our end - we are fixing it as we speak. Thanks again for noticing it.

Those on 3.x.x version need to update to 4.1.0 or higher in order to get the latest security updates. All of our security fixes are being released in the newer version of WooCommerce super

[2020-05-27 14:18] jrick1229 opened #26617 "Orders placed with shipping address different from billing not displaying shipping address in different areas of WooCommerce"
**Describe the bug**
When manually creating an order with both a billing and shipping address, only the billing address is visible in the order on the My Account page.

**To Reproduce**
Steps to reproduce the behavior:
1. Manually create an order, include both billing and shipping address (billing address not necessary)
2. After updated, navigate to the 'Orders' tab on the My Account page
3. Scrol

[2020-05-27 14:20] juliaamosova commented on #26592
Hi @dangvantri113,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help

[2020-05-27 14:20] #26592 closed

[2020-05-27 14:22] jrick1229 commented on #26617
Reported in: 3007565-zen

[2020-05-27 14:27] brezocordero commented on #23682
@claudiosanches Would you have some guidance or recommendations on how to handle the issue?

On our case, the issue after adding items to the cart was gone with 3.9 but we still have one scenario where API requests fail, because of nonce validation.

[2020-05-27 14:49] juliaamosova commented on #26617
Hi @jrick1229,

Thanks for reporting! I could reproduce it but not only with manual orders but with orders placed directly by customers on the site.

The shipping address is not being displayed in the following areas of WooCommerce:

- My Account / Orders / Order view
- Thank you for your order page
- Email received by the customer after the order had been placed
- Email received by the store owne

[2020-05-27 14:53] basserd opened #26618 "Adding filters to the `$args` for widget_start() from the Widgets."
**Is your feature request related to a problem? Please describe.**
Well it is not necessarily a problem but for one of my clients I had to style the heading of the price range widget. This is hard since there is not class/element being added to the title. I've also made some widgets myself and then I've just used the arguments `$args['before_title'] & $args['after_title']`.

**Describe the solutio

[2020-05-27 15:04] jrick1229 commented on #26617
@juliaamosova - Thanks! Just to note, if manually creating the order, the shipping address does not need to differ from the billing address. From what I could tell, it seems that even if the addresses match when manually creating the order, they are still assumed to be different.

[2020-05-27 15:08] damiannep commented on #26604
Aha. Thanks @juliaamosova. I completely missed that but i was more focused on [this document](https://github.com/woocommerce/woocommerce/wiki/Product-CSV-Import-Schema#csv-columns-and-formatting). Perhaps a mention there would be helpful?

[2020-05-27 16:14] peterpenguw commented on #13040
This issue should not be closed.  The only solution seems to be hacking within Wordpress ADMIN's nav php file which is a big no no.

[2020-05-27 16:24] gglobalstep opened #26620 "[GlobalStep - 4.2 RC1][Windows]: API Call error is displayed while setting up CBD Vertical On boarding Flow"
**Environment:**
Windows 10

**Steps to Reproduce:**
1. Create a site using Ninja tool.
2. Install all the plugins.
3. Tap on "Run the Setup wizard".
4. Complete Store Details.
5. On Industry page select "CBD and other hemp-driver products".
6. Complete all the introductory tabs i.e., Product types, Business details and Theme.
4. Go to dashboard.
5. Tap on Setup Payment.
6. Tap on "Setup up" butto

[2020-05-27 16:26] gglobalstep opened #26621 "[GlobalStep - 4.2 RC1][Windows] “There was error installing woocommerce-square. Please try again” error message is displayed while setting up CBD vertical On boarding Flow."
**Environment:**
Windows 10

**Steps to Reproduce:**
1. Create a site using Ninja tool.
2. Install all the plugins.
3. Tap on "Run the Setup wizard".
4. Complete Store Details.
5. On Industry page select "CBD and other hemp-driver products".
6. Complete all the introductory tabs i.e., Product types, Business details and Theme.
4. Go to dashboard.
5. Click on Setup Payment.
6. Click on "Setup up" b

[2020-05-27 18:12] jaygaga opened #26622 "Error after deactivating and reactivating woocommerce why please?"
WordPress database error: [Table 'wp6973085.wp_actionscheduler_actions' doesn't exist]
SELECT a.action_id FROM wp_actionscheduler_actions a WHERE a.hook='action_scheduler/migration_hook' AND a.status='in-progress' ORDER BY scheduled_date_gmt DESC LIMIT 1

WordPress database error: [Table 'wp6973085.wp_actionscheduler_actions' doesn't exist]
SELECT a.action_id FROM wp_actionscheduler_actions a WHER

[2020-05-27 18:17] WraithKenny commented on #20920
Seems gmail is stepped up it's warning messages, and now I'm starting to get complaints from clients about this.

[2020-05-27 19:51] tammullen commented on #26621
Hi @gglobalstep

Thank you for reporting the issue. WooCommerce Admin Task List is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

[2020-05-27 20:15] juliaamosova commented on #26622
Hi @jaygaga,

Sorry to hear that you are experiencing the issue. Can you please specify what version of WooCommerce are you using?

[2020-05-27 21:51] juliaamosova commented on #26068
Hi @jacoswan,

Thanks for reporting the issue! And apologies for the delayed response here.

I can reproduce the issue on my end using the steps provided.

My existing variable product had 1 attribute and 2 variations. Upon exporting it via built-in CSV exporter, I updated the fields of the parent product as follows:

- `In stock?` column from `1` to `NULL`
- `Stock` column from empty to `outofsto

[2020-05-28 00:38] ChristianGerdes commented on #16473
Any progress in this regard? I'm also interested in fetching all products with all variations in one request instead of hundreds

[2020-05-28 01:43] WillBrubaker opened #51487 "[product_brand_thumbnails] styling - not centered"
**Describe the bug**

The [product_brand_thumbnails] shortcode output displeases the chatter who reached out in 21449399-HC due to lack of centering.

**To Reproduce**

1.Two brands exist, each with images set
2. add the [product_brand_thumbnails] shortcode to a page
3. view the page

**Screenshots**
![see screen shot](https://d.pr/i/imoetH+)

**Expected behavior**
Centered

**Isolating the proble

[2020-05-28 02:24] htdat commented on #24349
3006948-zen

[2020-05-28 04:37] mouligreenlaw opened #26626 "Manual product Sort Order not Saved"
**Describe the bug**
Product Sorting set to Custom in the Customiser:

![https://d.pr/i/4Ad33P](https://d.pr/i/4Ad33P+)
Full Size: https://d.pr/i/4Ad33P

Using the drag and drop sorting under Products ➔ All Products, the sort order is not saved and is not reflected on the products page.

![https://d.pr/i/hfO140](https://d.pr/i/hfO140+)
Full Size: https://d.pr/i/hfO140

**To Reproduce**
Steps to re

[2020-05-28 04:38] mouligreenlaw commented on #26626
3011842-zen

[2020-05-28 07:44] hannesdorn opened #26627 "Product: Changes to existing options with set_attribute() are not stored when calling save()"
There is a product with an existing attribute 'external_url'.
I wanted to set a new value (option) for this attribute.

This does not work:
[code]

The changes to the attribute are not stored if the attribute exists.

The problem is in wp-content\plugins\woocommerce\includes\abstracts\abstract-wc-data.php in protected function set_prop( $prop, $value ), which is called by public function set_attri

[2020-05-28 09:10] nine2uk commented on #26359
Also sad to report we're facing this issue on two separate sites at the moment.

Both using Stripe and both hosted with Kinsta.

[2020-05-28 09:18] debora813 commented on #25533
Same issue. Could you help me?

[2020-05-28 11:10] uzmanasif opened #26628 "Products disappearing after some time automatically"
Im adding multiple products in my website, but after some time some random products disappeared...this issue is not with any specific product

[2020-05-28 11:11] dmeijide commented on #25533
Hi, @debora813 The issue I had was with wp-cron. You can check your cron status to see if it's working properly with this plugin:
https://es.wordpress.org/plugins/wp-cron-status-checker/

We solve this issue disabling wp-cron and creating an external one to update the database, this plugin can help with that:
https://es.wordpress.org/plugins/advanced-cron-manager/

Hope that helps.

[2020-05-28 12:06] iggyvanlith commented on #25352
Another way to work around it seems to be to remove the comments-section. I'm not sure yet of all the implications of it, but to get the editor working again it seems to work.

[code]

[2020-05-28 12:16] lkraav opened #26630 "RFE 4.2: could `WC_Cart::$session` refactor itself `protected` -> `public`?"
**Is your feature request related to a problem? Please describe.**
We're hitting a platform configuration point (or plugin cross-interaction) where loading cart infrastructure on every frontend request is having a significant (several 100s ms, enough for us) negative effect on page build speed.

We can only partially work with frontend caching, because we have a membership system, which means larg

[2020-05-28 14:41] gglobalstep opened #26631 "Variations are counted as products in import message of number of products imported"
**Environment:**
Windows 10
Mac Mojave v10.14.6

**Steps to Reproduce:**
1. Create a site using Ninja tool.
2. Install all the plugins.
3. Tap on "Run the Setup wizard".
4. Complete all the introductory tabs i.e., Store Details, Industry,  Product types, Business details and Theme.
5. Go to dashboard.
6. Import a sample_products.csv file.
7. After completion of import it shows 25 products imported

[2020-05-28 15:20] kiber-chaka commented on #25352
Yes, it helped!
Thank you!

[2020-05-28 16:01] juliaamosova commented on #26626
Hi @mouligreenlaw,

Thanks for reporting! However, I can't reproduce it on the fresh installation (used Jurassic Ninja + WC 4.1.1). See my gif below confirming that sorting is working:

https://recordit.co/jBmMM6vKAA

Would you please confirm that this was tested with just WooCommerce activated? Could there be any caching in place?

[2020-05-28 16:04] juliaamosova commented on #26628
Hi @uzmanasif,

Thank you for submitting the issue. However, you fully ignored the bug report template.

In particular:

- Have you performed plugins and theme conflict?
- What is your system status? Versions of WordPress, WooCommerce etc
- How do you create products? Manually, via CSV import, via WC REST API etc?

The more details that you can provide us with the better.

[2020-05-28 17:17] juliaamosova commented on #26631
Hi @gglobalstep,

Thanks for reporting the issue! The behavior, however, is expected. Mainly because the 25 products that are being imported consist of variations that are counted towards the total count of products that are being imported.

Below is the screenshot of CSV file I took from the [repository](https://github.com/woocommerce/woocommerce/blob/master/sample-data/sample_products.csv) that

[2020-05-28 17:32] DavidAnderson684 commented on #25816
This issue still exists when updating from WC 4.0 to 4.1.

[2020-05-28 18:14] batonac commented on #25352
Just for future reference, I can confirm the case and perhaps even clarify the issue:

In my experience, this bug affects all product posts with comments on the frontend, regardless of where/how they originated.

Here’s my list of steps to reproduce:

1. Install Woocommerce on a fresh install of WordPress.
2. Enable Gutenberg with the following code (or equivalent):
`add_filter('use_block_editor_f

[2020-05-28 19:44] negapo commented on #26612
Hi, this may not be seen as important, but if you want Woocommerce to continue to grow you need an option to connect it to other things, and the webhooks are the only efficient way of doing it. The rest API is very complete but very inadequate for certain things because of its exhausting request/response logic. The webhook is the only thing that pushes info but its not well developed, at least it

[2020-05-28 19:56] jb510 opened #26632 "WP CLI Update WooCommerce across multisite with --network"
**Is your feature request related to a problem? Please describe.**
Currently `wp wc update` only works on one site. It's be nice if it could take a --network flag to update WC across multiple sub-sites on a multisite network.

**Describe alternatives you've considered**
I suspect there is some cli magic to pass sites into a recursive shell command using xargs or something like that...

[2020-05-28 20:02] jb510 commented on #26632
FWIW,
`wp site list --field=url | xargs -n1 -I % wp --url=% wc update`

Seems to get me what I need.  Still would be nice to make this natively multisite aware

[2020-05-28 20:27] bobmulder commented on #26181
I'm not sure, but I might be facing the same sort issue on the actionscheduler tables. It's not purging for a multisite of mine. Can you explain where you toggled the plugin to repair the issue, @jpSimkins?

[2020-05-28 22:00] peterfabian commented on #25533
Thanks for sharing your solutions, @dmeijide .

As this topic is rather old and it started to report problems with update to WC 3.9, it seems like there are multiple problems being mixed in one issue thread.

The issue caused by inability to run Action Scheduler actions manually when using non-English locales was a bug that is now solved. Those actions can be run via Tools > Scheduled Actions.

If

[2020-05-28 22:01] #25533 closed

[2020-05-28 22:11] peterfabian commented on #25133
This sounds quite odd. Have you been able to confirm this happens with only WooCommerce plugin active?

[2020-05-28 22:20] jaygaga commented on #26622
Hi @juliaamosova its Version 4.1.1

[2020-05-29 00:54] jpSimkins commented on #26181
@bobmulder I just deactivated and re-activated the plugin.

[2020-05-29 01:41] AverageJeff commented on #25133
Unfortunately I'll need to spin up a new dev clone to test.  Perhaps this weekend.

[2020-05-29 05:26] phillipcornwell commented on #26494
Can someone take a look at 20137553-hc to check if the missing logo in that chat is part of this as well? I was able to replicate the issue and was going to submit a report on it but want to be sure that the deprecated function they mention also blocks the company logos from appearing in the PayPal pages.

![Screenshot](https://d.pr/i/EHXjy1+)
Screenshot direct link: https://d.pr/i/EHXjy1

[2020-05-29 06:10] thierrydev commented on #26501
That is exactly what I'm looking for a new filter to modify the "this.submit"

thank you very much love what you guys do

[2020-05-29 06:16] vantiya commented on #14541
I found the same issue on WC 4.0.1. Not consistent but found occassionaly. But when the clustomer try to **Place Order** sometimes 2 and sometime more than 2 duplicate orders are created. Can someone give clue how to correct the issue?
I've seen this issue very first time. Is there any way to fix?

[2020-05-29 08:26] corsonr opened #26633 "Taxonomies Update Messages Not Consistent"
**Is your feature request related to a problem? Please describe.**

When editing a `product_cat`, a `product_tag` or a product attribute, the messages are always the same:

![](https://d.pr/i/wNrCwd+)

![](https://d.pr/i/nhMlQV+)

**Describe the solution you'd like**

Using a message that matches the actual taxonomy label would make more sense:

![](https://d.pr/i/0HmkJl+)

![](https://d.pr/i/vlia

[2020-05-29 09:47] jasomdotnet opened #26635 "Remove GoogleFonts from Woocommerce admin (fonts.googleapis.com)"
Hi,
I like new Woo admin, great job!

There is one thing that bothers me. I would be happy if you removed GoogleFonts. I have several reasons for that:

1. They are **not essential, just a cosmetic**.
2. It is **additional request** for external domain (it **slows down the performance**).
3. It's (potential) **3th party tracker**.
4. Requests to Google's servers **increase GDPR complexity**.
5. Ou

[2020-05-29 10:44] AlexP11223 opened #26636 "WC_Payment_Gateway process_refund should receive the WC_Order_Refund"
# The problem

`WC_Payment_Gateway` gateway receives only the refund amount and reason in `process_refund` instead of [the whole refund object](https://docs.woocommerce.com/wc-apidocs/source-function-wc_create_refund.html#590), so there is no good way to retrieve this object and some additional info like the refunded line items.

# Suggested Solution

Somehow pass the whole refund object to the ga

[2020-05-29 10:51] tomknaepkens commented on #9320
Is there still no fix after 5 years or have I missed something? Or has anyone found a way around this? This is a real pain if you need to combine multiple products with each their own tax rates for shipping..

[2020-05-29 11:26] fnxit opened #26638 "How to change variants in cart without plugin"
Hi,

right now i got WC Fields Factory plugin to make field editable in cart, but i would like to got this option without any plugin, but "inside" woocommerce. Is there any option?

[2020-05-29 12:36] rrennick commented on #26635
Hi @jasomdotnet,

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-05-29 15:27] jengrads commented on #22284
I completely agree that this is a problem! Customers are frustrated because it is confusing and it does present the possibility of a final shipping address that is incorrect. Please allow us to add all the shipping address fields!

[2020-05-29 15:28] MyChiMan commented on #18889
Thank you so much, you do not know how long I was looking for that setting.

[2020-05-29 16:35] yknivag opened #26641 "Coupons restricted to a single email may be applied to any customer in the admin console."
It is possible that this is an extension of [issue #25082](https://github.com/woocommerce/woocommerce/issues/25082) but it is different from that issue in that no validation is taking place rather than an incorrect validation.

**Describe the bug**
It appears that there is no validation of coupons restricted to a specific customer email when that coupon is applied directly in 'Add New Order' in `w

[2020-05-29 16:36] peterfabian commented on #26359
For those of you not using MailChimp, can you try to disable to plugin to see if it makes any difference please?

[2020-05-29 17:05] inpresif commented on #23636
@brennick Thanks buddy. Helped me with API v3 and adding strval() for PHP

[2020-05-29 17:19] MillerMedia commented on #14541
We found that this generally has happened on our end during sales with a high load of traffic on server/database. @vantiya for your issue, is it during times of high traffic or is it during more general times?

[2020-05-29 17:24] vantiya commented on #14541
Hi @MillerMedia Thanks for your comments. I've read that the issue is with Concurrency implementation of checkout and high traffic but there was not much traffic on website during this days :( However, I have found some errors and issues with plugins, still not sure, I will confirm once I fix the issue, if that cuase of plugin. So other can get more idea about this issue in future.

[2020-05-29 17:29] MillerMedia commented on #14541
@vantiya Yes would love to know what you find. We haven't really experienced this much at all in the past six months, even on high traffic sites. We had previously hacked together an extension plugin to check if an order was placed with the past 15 minutes by the same person with the same items and order total which helped but it was definitely not a perfect solution.

[2020-05-29 19:54] TomasHurtz commented on #14541
We found this only seemed to occur when site using PayPal payment gateway. Sites using Stripe didn't seem to have issues.  Haven't had issue for long time now. What payment system are you using?  Maybe try changing it.

[2020-05-29 20:11] dwaterman01 commented on #14541
We also had this issue and opened a ticket with Woo support - but they insisted we needed to be able to duplicate the issue and we could not. We spent an unreasonable amount of man hours chasing this issue down to no end, so my only advice is spending time pouring through log files and removing and adding plugins etc, will yield nothing. We updated everything, changed plugins, removed plugins - to

[2020-05-29 20:25] juliaamosova commented on #26633
Hi @corsonr

Thanks for raising the issue - it makes sense to me to specify what item had been updated indeed. Thanks for your contribution as well. I marked your PR as `needs review`.

[2020-05-29 20:25] vedanshujain commented on #14541
Opening because of recent discussions.

[2020-05-29 20:28] juliaamosova commented on #26638
Hi @fnxit,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help further

[2020-05-29 20:28] #26638 closed

[2020-05-29 20:38] raharjoandrew commented on #25387
Hai, I'm having the same issue. When can we expect an update for this? Thanks

[2020-05-29 21:04] aficiomaquinas commented on #19645
Hello @vilm725, I ended up using the [CSV Import Suite](https://woocommerce.com/products/product-csv-import-suite/).

I could not make the regular import work. After a lot of days my conclusion is that there must be a WooCommerce bug somewhere, because sometimes my imports work and sometimes they don't using exactly the same CSV. If I import all my variable products, then the variations and the si

[2020-05-29 21:18] billrobbins commented on #26582
Possibly also happening in 2997520-zen

[2020-05-29 21:19] slash1andy opened #26643 "Puerto Rico being listed as a country leaves state field still required"
**Describe the bug**

Puerto Rico is listed as a country in WooCommerce core. This means that the state field is shown, and still required. Puerto Rico has no states. We are currently advising people to make state field not required, but that brings another set of issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to checkout
2. Select country as Puerto Rico
3. Don't select a state
4

[2020-05-29 21:44] vilm725 commented on #19645
Hi 👋

Can you share me your CSV in private or public ?

[2020-05-29 22:36] TomasHurtz commented on #14541
Yeah, we had so many issues with paypal - now we only recommend Stripe to clients.  Happy to report we moved all clients away with PayPal (all except one but they seem to have not the issue).  We didn't experience the problem anymore since removing paypal.  But going to follow this incase.

[2020-05-30 06:35] doubleo2 commented on #26359
FWIW I believe my customers still experienced this issue after I uninstalled MailChimp. I have not received any new reports since applying my workaround - but it's a hack not a fix.

[2020-05-30 13:19] slavicd commented on #19721
How does one code bulk discounts with current system?

If one touches `woocommerce_calculate_totals` and `woocommerce_calculated_total` then things seem to be ok, up to the point when an admin clicks "Recalculate Totals" in wp-admin, when `wc_save_order_items()` breaks any custom applied discount.

Another way (that I haven't yet tried) seems to be the `woocommerce_get_discounted_price` filter, bu

[2020-05-30 16:30] quinnj102 commented on #25848
I am using the defender plugin as well and have received this suspicious code notification as well. Good to know that this is a false positive and I can ignore.

[2020-05-30 17:53] opcodespace commented on #14541
I am experiencing same problem. Some times double, last day it was 4 same order. I use Moneris gateway. Site is little bit slow. Not always duplicate order.

[2020-05-30 20:35] bobmulder commented on #26181
Oh haha right, I was thinking of a tool within WooCommerce to repair this, but it's so easy :)

[2020-05-30 21:44] aficiomaquinas commented on #19645
I've updated [the repository](https://github.com/aficiomaquinas/ttamayo-lista-attributes-csv) with a working CSV input example.

[2020-05-31 07:37] nelsonamaya82 commented on #18395
+1

[2020-05-31 11:50] feofilaktov commented on #25387
Yes, it almost fixed four days ago. Look at the last pull request from @Konamiman.
Wating for approving fixes and new versions updated.

[2020-05-31 19:48] smartelements opened #26646 "Coupons restrictions - exclude categories not working"
Since the update to Woocommerce 4.0.1 the excluded categories are still included with the percentage discount on the checkout page. I need to exclude whole categories from discounts of any kind. Please help. Thank you.

Best regards
Juergen
www.smart-elements.com

[2020-05-31 20:36] kathleenjross commented on #26626
User returned in 21543183-hc. The cache was flushed from the original ticket, and I took a look at plugins that could be interfering, and there wasn't anything.

[2020-05-31 21:49] wronahau opened #26647 "New customers are not seen under WooCommerce > Customers"
**Describe the bug**
All registered customers are not visible in backend section WooCommerce >Customers.
They are visible in Users > All Users.
Shipping is turn off in WooCommerce settings as I am selling only Downloadable products.

**To Reproduce**
Steps to reproduce the behavior:
1. In WooCommerce configuration turn off shipping
2. Register some random customer
3. Open backend/admin panel and g

[2020-06-01 09:26] nesearin opened #26650 "After the update to woocommerce 4.1.1, when I add new product with variations, the stock status is always out-of-stock. I cannot change it back to in-stock"
**Describe the bug**
I don't manage stock quantity. When I used to add any new product, the status was in-stock until I changed it to another status. After the update, the basic products are added without problem. But when I add a product with variations, the status is out-of-stock and I cannot change it back to in-stock no matter what I tried. The old products in the DB seem fine. The problems is

[2020-06-01 09:43] cristianciuberea opened #26651 "If you dont have two zecimals the order total is not calculeted right on backend"
**Describe the bug**
If you have an order with product 1, and add product 2 in admin backend the order total is not right.

**To Reproduce**
Set 0 zecimals in settings http://prntscr.com/srkglc

Then have a product with VAT.

Make an order.

Add a second product to that order.

Hit recalculate. Then the price is not right.

**Screenshots**
https://www.loom.com/share/5bd1315c1a984421be813d71ed894f6

[2020-06-01 10:49] dougaitken opened #26652 "Available stock not purchasable when On-Hold to Pending Payment"
**Describe the bug**

When changing an order status from On-Hold to Pending, the stock will be restocked but the quantity isn't reflected on the front-end of the site and unable to be purchased.

I'm unsure how to better title this to capture this better so I'll walk through the flow.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a product with stock management enabled. Set stock as 1

[2020-06-01 12:28] noackmedia opened #26653 "Using the [woocommerce_cart] shortcode twice with ajax cause dublication on removing item"
**Describe the bug**
If you are using the woocommerce_cart twice on a page (for example to display it on two different positions with conditional display) and using the ajax-function to add and remove items there is an issue at removing.
When removing an item, the whole cart-layout gets dublicated. When adding an item its no problem, the existing layouts just updates, but on removing it dublicates

[2020-06-01 12:51] madeincosmos opened #26654 "Shipping tax rounding is incorrect when product prices are entered inclusive of tax"
**Describe the bug**
Even though shipping prices are normally entered exclusive of tax, making product prices tax-inclusive causes a problem with shipping tax rounding. This problem doesn't happen when product prices are entered exclusive of tax.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a flat shipping rate of $75.10
2. Create a standard tax rate of 25%.
3. In **WooCommerce > S

[2020-06-01 13:42] lkraav commented on #26651
We ran into this as well. Whenever taxes are enabled, decimal configuration should perhaps be completely disabled, or tax display and calculations will be off. This is more trouble than decimal optimization is worth.

[2020-06-01 14:13] ntindicator commented on #25934
Hi @juliaamosova, thanks for your reply. The steps I'm using are somewhat different, as both variable and variations are imported by separate csv files, and products aren't exported from Woocommerce to update. When importing to update the products, there are only 3 columns in the CSV, and there are no variations as these are generated and imported separately. This could be important, as you succes

[2020-06-01 14:25] negapo commented on #26612
Anyone? Please

[2020-06-01 14:31] santanup789 opened #26655 "Page reloaded everytime on removing product from woocommerce minicart"
I'm facing a serious issue. Don't know it's my fault or a bug.

I used minicart in woocommerce template and made a widget using it. Placed it in header.php

fragements all working till now. But whenever i gave the widget position using css like position:fixed, the remove product function started not to work properly. like page is loading after removing a product from minicart.

How can i solve tha

[2020-06-01 14:39] juliaamosova commented on #26524
Hi @katsar0v,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-06-01 14:39] #26524 closed

[2020-06-01 14:49] Stas0238 commented on #26548
@juliaamosova any any news ?

[2020-06-01 15:06] katsar0v commented on #26524
For me these two lines make 0 sense:

[code]
You set a value of a variable which you passed as boolean. Even if I put text there it will not be taken. Documentation is also missing for these options.

[2020-06-01 15:08] ObliviousHarmony commented on #26630
Hi @lkraav,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly an area in need of improvement, I'd like to discuss this further with the team before giving a solid answer. I'm going to mark this as a question so that we can review it as a team.

For a little context behind my decision: changing this variable to `public` is indeed harmless at f

[2020-06-01 15:08] vedanshujain commented on #26627
You are seeing this because Simple Product does not have `external_url` attribute URL by default, its set by external product class `WC_Product_External`. You can use it like so:

[code]

If you wish to save a custom attribute on simple product instead, you would have to use metadata. See methods `add_meta` and `read_meta` in Datastore class. An example (but I won't recommend this approach, becaus

[2020-06-01 15:08] #26627 closed

[2020-06-01 15:13] hannesdorn commented on #26627
Supi! Thanks!

[2020-06-01 15:26] stackprogramer commented on #25895
How we can solve this error? i upgraded to 4.1.1 but error actionscheduler_actions table does n't exist

[2020-06-01 15:33] polancossj commented on #14541
I have the same duplication order problem with different numbers. I do not have any payment gateway installed, only by bank transfer or cash on delivery. I can't find what the problem is.

[2020-06-01 16:01] vantiya commented on #14541
Hi @MillerMedia and all guys!

My issue is bit different. I found the issue this weekend.

Let me elaborate what issue I had.

1. Store has all variation product on my store. There are few products which have only one Variation but when that product was imported using WP ALL Import it was set as Simple Product. That should not the issue absolutely with WC.

2. Client wanted to Generate Slips and I

[2020-06-01 16:21] mikejolley commented on #18395
FWIW with the further development of Blocks the jQuery dependency will be gradually phased out. None of the new blocks require jQuery since they are built on top of Gutenberg with React.

[2020-06-01 16:52] lkraav commented on #26630
Thanks. Please keep in mind that performance is the goal here, and making `WC_Cart_Session` public is possibly only one option of many. But I lack insights into what alternatives there may be.

Perhaps these potentially resource-hungry actions I'm looking to unhook could be added from already public `WC_Cart` object instance instead?

Anything other way :thinking:?

[2020-06-01 18:08] juliaamosova commented on #26643
Hi @slash1andy,

Thanks for raising this issue. Does it come from any ticket or live chat? I looked up Puerto Rico and saw that it was mentioned in the different sources that [Puerto Rico has 78 municipalities](https://en.wikipedia.org/wiki/Municipalities_of_Puerto_Rico). The expectation is that one of these municipalities will be used for that field. But I don't hold this opinion strongly as I am

[2020-06-01 18:22] juliaamosova commented on #26646
Hi @smartelements,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end. I tested in both WooCommerce 4.0.1 and 4.1.1:

I have a dress product that belongs to the category `Dress`:

![dress1](https://user-images.githubusercontent.com/19143190/83440526-14e35c80-a413-11ea-9900-427d45dbdaba.jpg

[2020-06-01 18:25] tammullen commented on #26641
Hi @yknivag

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot_2020-06-01_at_15_56_37](https://user-images.githubusercontent.com/24649833/83440790-6accfa00-a43d-11ea-869c-2f86accd1bc3.png)
I created a coupon with a specific allowed email

![Screenshot_2020-06-01_at_19_20_34](https://user-images.githubusercontent.com/24649

[2020-06-01 18:25] juliaamosova commented on #26647
Hi @wronahau,

Thank you for reporting the issue. WooCommerce / Customers functionality is a part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-06-01 18:34] juliaamosova commented on #26650
Hi @nesearin,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

I made a video documenting my steps (tested using WooCommerce 4.1.1):

https://recordit.co/1DF1K965Om

Can you please run a full theme and plugins conflict?

To do that, you’d need to deactivate all plugins except for WooCo

[2020-06-01 18:53] slash1andy commented on #26643
Here's the ticket I found that prompted this: zd-3011420

I am fairly certain that municipalities doesn't directly translate to a state/province.

Here's the USPS formatting for addresses in PR: https://pe.usps.com/text/pub28/28c2_041.htm

There was a maze of issues that lead to me opening this, starting here:  #https://github.com/woocommerce/woocommerce-shipping-usps/issues/53

@juliaamosova

[2020-06-01 19:04] vedanshujain commented on #26618
You should be able to target styling the title by using classes `woocommerce widget_price_filter`. Is this not rendering for you for some reason?

Also, the workaround you have to build is actually the correct way to modify the title in case you are not able to target using the above classes. We prefer not to add additional filters unless there is no other way for customization because it makes it

[2020-06-01 19:04] #26618 closed

[2020-06-01 19:12] yknivag commented on #26641
Thank you for your prompt response.  I look forward to seeing a fix in due course.

Just for clarity I'll reiterate that this impacts the API as well as the back end. So it is also an issue for POS plugins and the like.

[2020-06-01 19:26] tammullen commented on #26652
​Hi @dougaitken
Thank you for raising the issue!
I can’t seem to reproduce the issue using the steps you provided in 4.1.1 or 4.2 RC.2
![Screenshot 2020-06-01 at 20 07 39](https://user-images.githubusercontent.com/24649833/83445821-9b189680-a445-11ea-837b-398540988616.png)
I saw the notes & inventory update like in your example
![Screenshot 2020-06-01 at 20 07 00](https://user-images.githubusercon

[2020-06-01 19:31] juliaamosova commented on #26651
Hi @cristianciuberea,

Thanks for rasing the issue. Can you please take a screenshot of your overall tax settings and paste it here so we could have replicated the same and see what could be going on?

The tax settings I am referring to can be found by navigating to `WooCommerce / Settings / Tax / Tax Options`.

For the reference, I am pasting a screenshot I took from the video you shared that sho

[2020-06-01 19:36] tammullen commented on #26655
Hi @santanup789

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by the 3rd party plugin WooCommerce Minicart.
​
Please contact the author of the plugin directly for further help.

[2020-06-01 19:38] juliaamosova commented on #26653
Hi @noackmedia,

Thanks for raising the issue. Can you please specify how do you replicate the first step exactly?

Also noting here that we haven't been doing a lot of work around shortcodes lately due to the fact they are soon likely to be fully replaced by WooCommerce Blocks. We are now testing the Cart and Checkout blocks for example:

https://woocommerce.wordpress.com/2020/05/27/available-for

[2020-06-01 19:42] vedanshujain commented on #26601
Hi, I am not able to reproduce this issue in my local testing on 4.1. Does this issue happen when all other plugins are disabled and a default theme is used like storefront or twenty-twenty?
As far as I can see, `wc_get_attribute_taxonomies` does not call `wc_terms_clauses` where the error is originating from. Perhaps the root cause for the error is some thing else?

[2020-06-01 19:54] juliaamosova commented on #26654
Hi @madeincosmos,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Exclusive of tax:

![1](https://user-images.githubusercontent.com/19143190/83448584-2b43e500-a420-11ea-8aa2-11b0b3741f8a.jpg)

Inclusive of tax:

![2](https://user-images.githubusercontent.com/19143190/83448596-30089900-a420-11ea-877f-bdf0573ff20b.jpg)

We’re going to

[2020-06-01 20:09] vedanshujain commented on #26612
Hi, I tried reproducing the error but was not able to. On my install of WooCommerce 4.1.1, I added an `Order updated` webhook, opened an existing order and edited billing detail (first name) to trigger the webhook. I was able to see updated details in the webhook. Note that I was using WP REST API Integration V3 in the API version.
Is this easily reproducible for you? Do you have any more detail t

[2020-06-01 20:37] zackkatz opened #26657 "Undefined index woo-tracks on non-WooCommerce admin pages"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Install WooCommerce
2. Do not configure the plugin or opt-in to any tracking
3. Navigate to non-WooCommerce page
4. See error

**Screens

[2020-06-01 20:49] noackmedia commented on #26653
Hi @juliaamosova,
with "using woocommerce ajax" i meant this:
wp-admin -> WooCommerce -> Settings -> Products -> Enable AJAX add to cart buttons on archives

I understand that Blocks is the future here. But for now i dont want to use beta features for a client and i think it needs a bit time until its finally released?

Thanks for clearing that out. I might then using one cart with js to repositio

[2020-06-02 03:06] claudiosanches commented on #26657
Hi @zackkatz,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

I did it, just ignored this page by going direct to `/wp-admin/`, yet no error in my PHP log.
There's something else that I'm missing?

Please provide us with more details about the issue which may help us to evaluate it fu

[2020-06-02 04:51] santanup789 commented on #26655
I didn't use woocommerce mini cart shortcode from any third party plugin. Used `woocommerce_mini_cart();` along with fragements. Please correct me if I'm wrong.

[2020-06-02 05:34] dougaitken commented on #26652
Interesting!

Yes, I have 60 minutes for that, so since you have it blank, the stock is never held, which I guess points to the cause of what is happening to the initial stock.

[2020-06-02 06:30] Stas0238 opened #26661 "Size image are missed up"
Hello,

I had to make this new report as I didn't get any answer on my old one -> https://github.com/woocommerce/woocommerce/issues/26548.

Regards, Stas.

[2020-06-02 07:17] williamgh2019 opened #26662 "Please make loading symbol percentage when DB will finish"
Woocommerce->Status->Tools->Product lookup tables->Generate
Please show loading percentage or equivalent to be easy to notice when it done.

Please click on below screenshot

<a href="https://ibb.co/gmwkM7F"><img src="https://i.ibb.co/gmwkM7F/image.png" alt="image" border="0"></a>

[2020-06-02 10:33] tammullen commented on #26548
Hi @Stas0238

Sorry for the delay in responding

From the theme documentation you linked to https://docs.woocommerce.com/document/image-sizes-theme-developers/#section-1

Storefront is a theme which does declare image sizes so that is why only the cropping option is visible.
https://github.com/woocommerce/storefront/blob/29cc2844504a96aaba999099e5cd4b3e16c6761c/inc/woocommerce/class-storefront-woo

[2020-06-02 10:33] tammullen commented on #26661
Hi @Stas0238 ,
​
Thank you for reporting the issue and sorry for the delay in responding to the previous issue. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-06-02 10:33] #26661 closed

[2020-06-02 10:39] nesearin commented on #26650
Hi There

I deactivated everything. And switched to store-front. The problem still continues.
Here is the link to the screen video I make:
https://www.dropbox.com/s/58uvfxggl3boo5u/stock%20status%20issue.mov?dl=0 <https://www.dropbox.com/s/58uvfxggl3boo5u/stock%20status%20issue.mov?dl=0>

I’m also in touch with the porto theme guys.
I’m copying their reply. You can check their video as well.
_____

[2020-06-02 10:44] negapo commented on #26612
@vedanshujain thanks for noticing the ticket. I initially thought it was easily reproducible but it isn't, i'm on a test installation, everything up to date, one product, one web hook. I start to create an order and then go to the admin panel and change some fields, update, check for the web hook data, and do it again. Whats happens is the following, in a non deterministic way, randomly:

Create t

[2020-06-02 10:59] #26662 closed

[2020-06-02 11:03] tammullen commented on #26655
Hi @santanup789,

Thanks for clarifying. I have reopened the issue.

Can you fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issu

[2020-06-02 11:29] Dealazer commented on #25895
I have found out a solution to this.
The plugin does not create the 4 needed tables if they do not exist.

All 4 actionsheduler_ tables that are needed are not available.
By any kind of upgrade, there is nothing that can initiate new tables if they do not exist.

You will have to do it manually by creating a new WordPress page, and then copy the same tables in phpMyAdmin into the webpage you use.

[2020-06-02 12:14] helgatheviking opened #26664 "Grammar error in status report, subject/verb agreement"
**Describe the bug**

Are your site connected to WooCommerce.com?" should read either "Is your site connected.." or "Are your sites connected..."

https://github.com/woocommerce/woocommerce/blob/5adb16e28747fa973a368c57cba127892b5e7323/includes/admin/views/html-admin-page-status-report.php#L795

[2020-06-02 12:23] rrennick commented on #25895
@Dealazer Action Scheduler checks for the tables on every load of the AS admin screen and attempts to create them if they don't exist. If the tables are not being created then there is something in your hosting environment preventing them from being created. Contact your hosting support to investigate what is preventing the table creation.

[2020-06-02 14:27] grigorijurasov opened #26665 "Symbols like ; or . in product category names break the import"
**Describe the bug**
Symbols like ; or . in product category names can break the import

**To Reproduce**
Steps to reproduce the behavior:
1. Export a .csv file
2. In wp-admin, delete the product, remove from trash.
3. Change the category name (and add a symbol like . or ; at the end).
4. If there is no category with the same name but no semicolon or a dot - the category is created.
5. If there is

[2020-06-02 14:40] claudiosanches commented on #26578
Hello @graftedin

Sorry but we can't switch this action to an filter, the purpose of this action is really run some action while parsing the CSV content, but you can manipulate any data using `woocommerce_product_importer_parsed_data`.

It isn't too late, you can still access the raw data, and change anything that got parsed on it.

See an example:

[code]

I hope it helps you.

[2020-06-02 14:40] #26578 closed

[2020-06-02 14:59] believethehyped commented on #18379
Thanks! Is there also any workaround to import serialized metadata?

[2020-06-02 15:06] csalzano commented on #18379
If I remember correctly, you don't need a workaround. The serialized fields will import fine along with the non-serialized product meta fields.

[2020-06-02 15:22] claudiosanches commented on #26562
Hello @zambetti,

Thank you for taking the time reporting this bug, we really appreciate it.

While I understand you concerns we can't save one per time, even because it makes everything slow, you could also reduce the number of variations per page in the form.

Also note that we are working to improve our admin interfaces, and this one will probably get refactored in the future using blocks and R

[2020-06-02 15:24] Ferrrnando opened #26667 "PRODUCT IMAGE"
**Describe the bug**
Hello, im having problems when updating any product image, it can be a new or an already created product. The thing is when i try to set an image for the product and then hit the ¨Update¨ button, it loads and says that the product has been updated correctly but then it doesn´t load the image, just like i haven´t choosed any image.

**To Reproduce**
Steps to reproduce the behav

[2020-06-02 15:40] juliaamosova commented on #26650
Thanks for the follow-up and troubleshooting done @nesearin. I am thinking the issue could be related to how the server where your site is configured is set up. Can you please take a look at the doc [Problems with large amounts of data not saving (variations, rates etc)](https://docs.woocommerce.com/document/problems-with-large-amounts-of-data-not-saving-variations-rates-etc/) and contact your hos

[2020-06-02 15:42] juliaamosova commented on #26667
Hi @Ferrrnando,

Thanks for raising the issue.

I am thinking it could be related to how the server where your site is configured is set up. Can you please take a look at the doc [Problems with large amounts of data not saving (variations, rates etc)](https://docs.woocommerce.com/document/problems-with-large-amounts-of-data-not-saving-variations-rates-etc/) and contact your hosting company to make

[2020-06-02 15:50] #26664 closed

[2020-06-02 16:08] believethehyped commented on #18379
I have checked and that's correct! Thanks!

[2020-06-02 16:15] graftedin commented on #26578
Why do you close this before I can comment?!

It doesn't need to be "switched" to a filter but we need a filter at this point.  I can't filter data after this point because I need to manipulate the categories and categories have already been switched to ids by the time we get to th woocommerce_product_importer_parsed_data filter.  I suppose we could redo all of the cateogories but we're talking ab

[2020-06-02 16:28] Ferrrnando commented on #26667
Thanks for answering, I'll try that and let you know.

[2020-06-02 16:48] presencewebdesign commented on #15305
This is an issue especially when you import data with hundreds of products into woocommerce.

All the specifications attributes have html tables but when you update the product all the html gets stripped out.

[2020-06-02 16:58] presencewebdesign commented on #15291
Yes this problem occurs when you import data from other CMS platforms that are not the same as the woocommerce structure.

[2020-06-02 17:15] claudiosanches commented on #26578
Hello @graftedin

I closed because it's a feature request, but there's already a filter that could be used to achieve that you intent to do. But there's nothing stopping you to keep talk with me here and we can discuss more it, but it closed since it isn't something that we could consider implementing at this point.

This isn't true as I demonstrate in my example in https://github.com/woocommerce/

[2020-06-02 17:24] graftedin commented on #26578
And then I have to convert 900 * 100 categories back in to ids?  And its already taking over an hour to import this csv and it crashes 1 out of every x times.  You are just adding to the time it takes to import and the likelihood it will crash.

And why on earth would you use an action at this point rather than a filter?  A filter will allow me to act and just return the data.  An action will not

[2020-06-02 18:51] jonathansadowski commented on #26543
Hi @erikdemarco,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested, especially the expected behavior, so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be a

[2020-06-02 19:00] #26123 closed

[2020-06-02 20:07] avagp opened #26673 "Modifying order and label of a checkout field with the snippets given on woocommerce docs doesn't work"
**Describe the bug**
When I try to change the label or the order of a particular field (state or city) following the [documentation of woo](https://docs.woocommerce.com/document/tutorial-customising-checkout-fields-using-actions-and-filters/), after saving and refreshing the checkout page you can see the change, but after half a second it goes back to the default values.

This only happens with ci

[2020-06-02 20:11] avagp commented on #26673
I have found this post in stackoverflow who happens to have the same problem.

And he fixes the snippet on the edit.

See the most voted solution:
https://stackoverflow.com/questions/45200360/reorder-woocommerce-checkout-fields

[2020-06-03 01:08] erikdemarco commented on #26543
**Describe the bug**
I want to add fee to every new order which use 'bacs' as payment method. So I call add_fee() in 'woocommerce_new_order' hook.
The result is ok when order is created via front end. but when order is created via rest api, The order-total is not correct. and shipping total become 0.

**To Reproduce**
1. use this script
[code]

2. create order via rest api with payment method 'bac

[2020-06-03 06:27] MaciejKrawczyk commented on #25552
Not sure if it's related, but when I remove a variation from the product, "woocommerce_update_product" action does not fire (it works for when a variation is added and updated).

[2020-06-03 06:42] Jersyfi opened #26678 "Transient Recreating [wc_product_loop] forces crashing WC"
**Description of the Bug**
Two transients are produced everytime a filter is clicked on the product page.
I am talking about __transient_wc_product_loop_%_ __transient_timeout_wc_product_loop_%_.
This happends in the database table wp_options.
In 2 days this error produced 60.000 ines of code only by these two transients.
The transients are created when using a custom product page at full with wit

[2020-06-03 08:25] alahdal commented on #17825
I got the same problem, for variable product, there is no regular and sale price.

[2020-06-03 08:28] peterfabian commented on #10672
For people following this thread, new cart and checkout blocks preview might be of interest: https://woocommerce.wordpress.com/2020/05/27/available-for-testing-a-block-based-woocommerce-cart-and-checkout/

[2020-06-03 08:33] Buzut commented on #10672
I’ll give it a try as soon as other payment methods are supported!

[2020-06-03 09:11] mpandzo opened #26679 "Theme with uppercase folder name fails to activate during Setup Wizard"
**Describe the bug**
There is a problem in the "Choose a theme" step of the Setup Wizard.
If a theme has an uppercase letter in the folder name (e.g. Avada instead of avada), the Choose action fails with the message

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Activate WooCommerce on a clean install
2. Use the WooCommerce Setup Wizard
3. Proceed to the Choose a theme step
4. Click

[2020-06-03 09:14] pmcpinto commented on #26173
Is it possible to remove this screen in 4.3? cc @juliaamosova (I'm not sure who's going to be the release lead on this one 😄 )

[2020-06-03 10:05] tammullen commented on #26679
Hi @mpandzo,

Thank you for reporting the issue. The on-boarding wizard is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin/.

This issue has been reported previously there https://github.com/woocommerce/woocommerce-admin/issues/4393. We are closing your issue in favor of the previously submitted. Please continue sharing you

[2020-06-03 10:05] #26679 closed

[2020-06-03 10:23] mpandzo commented on #26679
Thank you @tammullen, sorry, googled and couldn't find an issue so created one. Will dig deeper next time.

[2020-06-03 11:20] nesearin commented on #26650
Hi Julia

Thank you for our quick response.
I’ll share your feedback with our server guy.
However,  when I select “manage stock” and enter some stock quantity for the same product, it saves without a problem and stock status turns to green. That’s why I doubt that the problem is about server settings. Would the problem be due to some DB mismatch in the Turkish version?

Best regards

[2020-06-03 11:22] tammullen commented on #26665
Hi @grigorijurasov

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

![Screenshot 2020-06-03 at 12 13 02](https://user-images.githubusercontent.com/24649833/83630731-37e94a00-a594-11ea-8eaa-a6add6ce7a2d.png)
I created a csv file with the scenarios you described.

![Screenshot 2020-06-03 at 12 11 56](https://user-images.githubuserconte

[2020-06-03 13:06] peterfabian commented on #26173
We can also remove the old OBW code, I assume (except public methods/functions/classes, I guess).

[2020-06-03 13:17] kvolchkov opened #26681 "The "Uncaught (in promise)" error appears when user tries to add second item to the cart"
**Describe the bug**
Given User wants to add two items into the cart
When User clicks the Add to cart button
Then first product is added to the cart
When User clicks the Add to cart button
Then second product IS NOT added to the cart and spinners keeps on spinning - Failed

**To Reproduce**
Steps to reproduce the behavior:
1. Open the https://beenut.com.ua/ in Chrome
2. Switch to the Mobile view i

[2020-06-03 13:55] santanup789 commented on #26655
Thanks for reopened the issue.

I'm working with divi theme, where I used custom ajax add to cart functionality for quickview. For that I used woocommerce minicart shortcode in header file. I just realized that i gave that minicart a position with css like an offcanvas with position fixed css, then remove item in every 'li' is not working. I mean to say page reloaded every time to remove an item f

[2020-06-03 14:03] juliaamosova commented on #26173
@pmcpinto I see @peterfabian (who is the release lead of 4.3 along with @Konamiman) already replied.

On my end, noting that I've been waiting for this task to be completed so that we could also remove the old OBW e2e test: https://github.com/woocommerce/woocommerce/blob/master/tests/e2e/utils/components.js#L207-L344.

[2020-06-03 14:05] hanielyassir opened #26682 "Authorize Webhook URL data"
Hello,

I am trying to fetch webhook order creation in my woocommerce instance, the payload message is coming as
{"code":"woocommerce_rest_cannot_view","message":"Sorry, you cannot view this resource.","data":{"status":401},"created_at":"T","updated_at":"T","cancelled_at":"T"}

after some research I found that I can add the delivery URL as follows:

https://username:password@link.com

I tried this

[2020-06-03 14:20] bnilsou commented on #26626
Same issue here.

[2020-06-03 14:25] juliaamosova commented on #26682
Hi @hanielyassir,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help f

[2020-06-03 14:25] #26682 closed

[2020-06-03 14:34] claudiosanches commented on #23682
@brezocordero Hello, I'll take a look on the scenario you are talking about, because seems like it's trying to set session too, so I need to investigate it.

[2020-06-03 15:09] PaulCyberEngel opened #26683 "Report & Jetpack not showing yesterday's orders"
**Describe the bug**
I just started using WooCommerce, and made my first sale yesterday, but have not completed fulfillment. When I look at the WooCommerce Dashboard, it shows my sale. But when I look at the Jetpack dashboard it says I have zero sales this month. When I clicked the widget it took me to WooCommerce Reports, which also shows zero sales.

**To Reproduce**
Steps to reproduce the behav

[2020-06-03 15:28] gglobalstep opened #26684 "[GlobalStep] "Missing Dependencies" error is displayed upon login WPENGINE TEST SITE under Scripts section"
**Environment:**
Windows 10: Chrome(v83.0.4103.61)
MAC Book Air: Safari(v13.0.5 (15608.5.11))

**Steps to Reproduce:**
1. Go to "http://wpe.testwc.com/wp-login.php"
2. Login using valid credential.
3. Tap on Query Monitor.
4. Observe that Scripts error stating "Missing Dependencies" is displayed.

**Actual Result:**
"Missing Dependencies" error is displayed upon login WPENGINE TEST SITE under Scri

[2020-06-03 17:17] juliaamosova commented on #26673
Hi @avagp,

Thanks for raising the issue. However, I believe out documentation is correct. I answered a similar question in another issue - please take a look at my comments here:

https://github.com/woocommerce/woocommerce/issues/25142#issuecomment-579908770

Let me know if you still think that I am missing something. And I will take a second look.

[2020-06-03 17:28] juliaamosova commented on #26683
Hi @PaulCyberEngel,

Thanks for raising the issue. However, it will be very helpful if you could provide some screenshots showing where things don't work. It is not clear to me what Jetpack wizard is or what widget did you click on to get to WooCommerce Reports?

Also, you mentioned you are using WooCommerce Dashboard but also WooCommerce Reports - it would be great to clarify:

![reports](https:/

[2020-06-03 18:44] jonathansadowski commented on #26537
Hi @jellyNoone,

Thank you for taking the time reporting this, we really appreciate your help. I have confirmed it on my end.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future releases.

[2020-06-03 18:58] juliaamosova commented on #26681
Hi @kokavolchkov,

Thank you for raising the issue. However, I can’t reproduce it on my end. See gif below (I tested using WooCommerce 4.2 and Storefront theme):

![](http://g.recordit.co/NR01Ugrxxt.gif)

I see that you have several plugins installed. You also noted that you tested with all plugins deactivated. Can you please confirm you indeed did it?

If not, please test your site for theme and

[2020-06-03 19:23] Ferrrnando commented on #26667
Nope didn´t work, tried applying these settings on my server (by my own) and it´s still the same. Btw these images are already loaded into the server/wordpress library. So the problem comes from assigning the image to a product.

[2020-06-03 20:03] PaulCyberEngel commented on #26683
The WooCommerce widget for JetPack does not show the sale:

As I said, the WooCommerce Dashboard shows the sale, but the WiiCommerce Reports does not.
![Screen Shot 2020-06-03 at 12 33 01 PM](https://user-images.githubusercontent.com/8237744/83683576-3d05c380-a5ab-11ea-9baf-fff829c4d430.png)
<img width="2051" alt="Screen Shot 2020-06-03 at 12 33 25 PM" src="https://user-images.githubusercontent.co

[2020-06-03 20:03] PaulCyberEngel commented on #26683
Closed by accident.

[2020-06-03 20:27] juliaamosova commented on #26561
@haszari sorry for the delay here! I tested again but this time I followed your steps to reproduce precisely and created a customer (1) user via `Allow customers to create an account on my account page` option. I then proceeded to purchase an item on the site and was successfully able to leave comments and have a `verified owner` icon appear next to my newly created customer (1) on the site.

I th

[2020-06-03 21:30] nerrad commented on #26684
@juliaamosova if memory serves me correctly, I think WPEngine disables WP heartbeat on all routes except specific ones. If that's still the case, that's probably the cause here.

[2020-06-04 03:21] WillBrubaker commented on #26599
I've got a user in #3022956-zen who updated to 4.2 hoping to get this resolved, but it has not worked for them.

[2020-06-04 04:35] Wendyms commented on #25133
Sorry, don't know if I am asking this in correct area. We have just made our online store and I have the same issue with the variations and was wondering if there is somewhere I can get a list of the variations with their ID number to save having to continuously look up the variation to see what has been ordered. In most cases I have noticed it is happening when there is more than 2 variations if

[2020-06-04 05:01] VivekManglani opened #26686 ""Invalid refund amount" on $0 refund when number of decimals = 0"
When the Number of Decimals setting is set to 0, cannot make a $0 refund.

1. Go to WooCommerce Settings, set Number of Decimals to 0
2. Refund an order by setting the quantity to a number > 0 and the refund amount to 0.
3. Should see a browser alert message "Invalid refund amount"

Issue is in `class-wc-ajax.php` Line 1860.

[code]

Should be:

[code]

[2020-06-04 05:37] andrewfelo opened #26687 "Order Comments Bug in New Order"
**Describe the bug**
When we create a new order from backend or when a user create a order on front.
It Add order notes from another old order, this make us confuse about the order.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Orders'...'
2. Click on 'Add new order'
3. Scroll down to 'Order Notes'
4. See error "There is the order notes"

**Screenshots**
![image](https://user-images.

[2020-06-04 06:12] FirstWarden opened #26688 "4.2 Breaks working WooCommerce caused by redeclaring a variable"
After upgrading to 4.2, a variable gets redeclared, causing a fatal error.

Haven't got the name of the variable written down, but in my case it happened in combination with the Mollie for Woocommerce plugin.

Downloaded 4.1.1, removed 4.2, installed 4.1.1 and deactivated my plugins, reactivated one by one, but still the fatal error remains.

Had to do a restore via my DirectAdmin.

Sorry for the

[2020-06-04 08:32] BennyBolivar commented on #9320
Maybe there is a solution by using the shipping cost formula? Something like price - (price/100*[tax])?

[2020-06-04 09:46] tammullen commented on #26688
Hi @FirstWarden

Thank you for submitting the issue. Unfortunately without more details we can’t fully evaluate this issue.

Any extra details you can provide can be of help. Was the error displayed on screen (and if so which screens?) or was it in your logs?

Please also have a look at the bug report template and provide us with any of the information you can including the system status report fr

[2020-06-04 10:21] tammullen commented on #26687
Hi @andrewfelo

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.
​
I created new orders and I don't see any other notes that could have come from other orders
![Screenshot_2020-06-04_at_11_17_28](https://user-images.githubusercontent.com/24649833/83745383-611ddf00-a655-11ea-8422-1e687ba5

[2020-06-04 10:31] pmcpinto opened #26689 "Tracker snapshots fix"
If the user opts-out for usage tracking we should also stop sending the Tracker snapshots.

cc @timmyc

[2020-06-04 10:55] tammullen commented on #26686
Hi @VivekManglani

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2020-06-04 at 11 48 47](https://user-images.githubusercontent.com/24649833/83748383-05098980-a65a-11ea-9c96-e3a20771605c.png)
Refund works for $0.00

Changing number of decimals to 0 and trying a refund for $0 triggers alert
![Screenshot 2020-06-04 at 11

[2020-06-04 11:12] Horttcore commented on #23556
👍

[2020-06-04 13:42] Stoyan0v opened #26691 "Packages directory filenames are too long to be archived via Phar"
**Describe the bug**
I'm not sure if this is the right type of issue I'm going to report, so please excuse me if I haven't picked the right one.

I'm one of the developers of [Siteground Migrator](https://wordpress.org/plugins/siteground-migrator/) plugin, and we have issues migrate WooCommerce sites after 4.0.

The problem is that the filenames generated in packages folder are too long, and we ca

[2020-06-04 13:44] webdados opened #26692 "Remove "invoice" from the customer invoice email"
The "customer invoice email" doesn't really send an invoice.

An invoice is a fiscal/legal document that you issue either before payment (if you sell on credit) or after payment (if you sell on pre-payment) and this email is not such a document.

In some countries, an invoice must be issued (by law) by a certified software (local or on the cloud), and calling this email "customer invoice email" ca

[2020-06-04 14:02] claudiosanches commented on #26578
@graftedin sorry if you still believe I’m misunderstanding your use case.

If I understand correctly, you are using custom shortcodes in the CSV file instead of long strings to describe categories. I understand that you don't want WooCommerce to parse any category before you expand those shortcodes into categories.

I think it could be solved by using `woocommerce_csv_product_import_mapping_option

[2020-06-04 14:03] jellyNoone commented on #26537
Great, glad I could help

[2020-06-04 14:12] apmwebdev opened #26693 ""Deactivate old WooCommerce Admin version" alert popping up unexpectedly, can't be removed"
**Describe the bug**
It seems that something in WooCommerce 4.2 is causing an error to pop up on a site dashboard:

I've seen this on two sites now (linked below). Both sites had the stand-alone WooCommerce Admin plugin installed at one point, but no longer do. Clicking the "Deactivate" button in the alert doesn't do anything since there is no longer anything to deactivate, so the alert just stays

[2020-06-04 15:12] gglobalstep opened #26708 "[GlobalStep] On MAC, "403 forbidden…” error message is displayed while uploading comment on Newest Product and On Sale Product block"
**Environment:**
MAC Book Air: Safari(v13.0.5 (15608.5.11))

**Steps to Reproduce:**
1. Login to the wp-admin dashboard using valid credentials.
2. Go to Post.
3. Add new post.
4. Select block type as Newest Product or On Sale Product.
5. Click on Publish button.
6. Click on View post.
7. Scroll to the Comment section.
8. Add some comment and tap on Comment button.
9. Observe that "403 forbidden…”

[2020-06-04 15:19] gglobalstep opened #26709 "[GlobalStep]On Windows 10 for BLUEHOST Site user fails to unchecke “Enable tax” checkbox from WooCommerce -> Settings ->General."
**Environment:**
Windows 10: Chrome(v83.0.4103.61)

**Steps to Reproduce:**
1. Login with BLUEHOST site.
2. Click on WooCommerce.
3. Click on Settings.
4. Scroll to the "Enable Tax" checkbox.
5. Note that checkbox is checked by default.
6. Now uncheck "Enable Tax" checkbox.
7. Note that it gets unchecked.
8. Now save the settings.
9. Again scroll back to "Enable Tax".
10.  Observe that the checkbo

[2020-06-04 15:21] guillopuig commented on #26643
Hey Guys. I am from Puerto Rico and I am also having issues with some clients there.

Municipalities in Puerto Rico should be considered "town / city" under woocommerce. Although Puerto Rico is not a state, it is normally regarded as one under shipping platforms for the people of Puerto Rico. Puerto Rico is certainly not a country.

The state field is not needed and should not be required. The sta

[2020-06-04 15:32] gglobalstep opened #26710 "[GlobalStep] On MAC, created attributes fails to update on Products ->Add New Attribute page."
**Environment:**
MAC Book Air: Safari(v13.0.5 (15608.5.11))

**Steps to Reproduce:**
1. Login to the wp-admin dashboard using valid credentials.
2. Click on Products.
3. Click on Attributes.
4. Add valid attribute details i.e., Name, Slug, Default Sort Order.
5. Click on Add Attribute button.
6. Observe that newly created attributes fails to update in the table present on Attributes page.

**Actua

[2020-06-04 15:54] z3r0g0d opened #26694 "Product quantity increased on non-chrome browser"
Bug: Product quantity displays different on front-end between browsers.

**To Reproduce**
Variation between viewing product quantities between Chrome, Edge, Firefox browsers.  With a remaining quantity of one for a variable product, chrome displays "one in stock" in Chrome.  In both edge and Firefox, "two in stock"

**Expected behavior**
If the product has one in stock, there should only be one di

[2020-06-04 15:55] yaadrx opened #26695 "?? any help/."
Warning: Invalid argument supplied for foreach() in /homepages/6/d829737301/htdocs/clickandbuilds/Website0/wp-content/plugins/woocommerce/includes/wc-template-functions.php on line 3576

Warning: count(): Parameter must be an array or an object that implements Countable in /homepages/6/d829737301/htdocs/clickandbuilds/Website0/wp-content/plugins/woocommerce/includes/wc-template-functions.php on li

[2020-06-04 16:49] diegpl opened #26696 "Slow query in the Woocommerce new version"
**Is your feature request related to a problem? Please describe.**
There is a DB query loading many rows if the user is a superadmin. The pic illustrates that https://pasteboard.co/JbpBbBN.jpg – it result in a slow query. Are you guys aware of that in the last version?

Just saw another slow query too: https://pasteboard.co/JbpEj1j.jpg - I do not know if the get_adjacent_post() is really needed. B

[2020-06-04 17:08] graftedin commented on #26578
Thanks for your reply.  I'll take an other look.

From: Claudio Sanches [mailto:notifications@github.com]
Sent: Thursday, June 4, 2020 9:03 AM
To: woocommerce/woocommerce <woocommerce@noreply.github.com>
Cc: graftedin <adrian@hisdesigns.org>; Mention <mention@noreply.github.com>
Subject: Re: [woocommerce/woocommerce] CSV Import Actions vs Filters (#26578)

@graftedin <https://github.com/graftedin>

[2020-06-04 17:55] diegpl commented on #26696
That is where they requested me to post the issue here: https://wordpress.org/support/topic/slow-query-in-the-woocommerce-new-version/
Thank you! ;-)

[2020-06-04 20:00] slash1andy commented on #26643
Just to clarify, it is not a state, and it is classified in basically all shipping as a country. For the intents of e-commerce, it is a country. Thanks for the clarity on the town/city vs municipality, that helps.

[2020-06-04 20:29] claudiosanches commented on #26643
@guillopuig @slash1andy I start a PR to remove the "State" field form Puerto Rico addresses, I also made some changes in the address formatting, since now there's no more a state to display, you can check the changes in: https://github.com/woocommerce/woocommerce/pull/26698

But we could also rename "City" to "Municipality" if it's a better fit for Puerto Rico, please let me know if it's required.

[2020-06-04 20:47] Lahcen43 commented on #22706
We are also planning to move to prestashop as we can not run our store with this issue.

[2020-06-04 21:19] mouligreenlaw commented on #26626
@juliaamosova
Hey there. Apologies for the slack response.
I tested this with only WooCommerce 4.2 active and can reproduce it.
See my screen capture here of trying to get the beanie to the top of the sort list.
https://d.pr/i/JA5hgE
I'm hosted on Pressable and am not sure if there is caching in place at this point.

[2020-06-04 22:07] Soufiane21 opened #26699 "“Shipping Class” not updating with put request."
developers,

I am working on a script to update the shipping class of a specific product in WooCommerce. But it won't update the shipping class. I use the WooCommerce REST API v3. I do not understand what I am doing wrong here. Is this a bug?

This is my code:

[code]
However, changing other properties like the stock 'stock_quantity' works fine?

[code]

[2020-06-04 22:12] juliaamosova commented on #26665
Hi @grigorijurasov and @tammullen,

I looked into fixing this issue but so far I am inclined that it won't be possible on our end. Mainly because we rely on WordPress's functions `term_exists()` and `wp_insert_term()` to check for existing categories during import and add a new term (category) to the database if the category doesn't exist. Both of these functions sanitize the initial entry in some

[2020-06-04 22:31] juliaamosova commented on #26689
I assume this is to be included in 4.3 so assigning the milestone here. cc @peterfabian.

[2020-06-04 23:00] TolchinJ opened #26700 "Customer.GetAll is not returning all customers"
When I call Customer.GetAll, I get a whole lot of customers.  Then I do an Order.GetAll and import those.  But when I check the Customer ID from Orders against the Customer ID from Customers, I have a lot that are missing.  When I enter a specific customer Id that is missing, they come up. (e.g. wc.Customer.Get(CustomerID))
likewise, without the wrapper:
https://www.url.com/wp-json/wc/v3/customers

[2020-06-04 23:16] ObliviousHarmony commented on #26523
I am so sorry for the delay @TheGranadilla,

The reason for this is that the `$cart_item['data']` that you're accessing is just the underlying `WC_Product` for the `WC_Order_item_Product` class. When you make a change to this you're making a change to the global product. You could make this work by using `$cart_item['data']->save()` but it would apply globally as well.

I might alternatively sugge

[2020-06-04 23:16] #26523 closed

[2020-06-05 00:38] VGOCommunity opened #26701 "Discount usage limit error"
**Describe the bug**
When a customer use a coupon (with a usage limit) and go click on checkout and click on Proceed to Paypal, if the cancell the operation or get out of that page without acepting and paying, when coming back to do a new operation or start from the beggining, the coupon cannot be applied again as it said it has been used it when it hasn't.

**To Reproduce**
A new customer start a

[2020-06-05 00:41] hqin2013 opened #26702 "Inventory synchronization help?"
Hey,

I'm building a WooCommerce online store, which needs Inventory synchronization from another place.

I search in [stackoverflow.com](https://stackoverflow.com/questions/51940338/updating-product-stock-programmatically-in-woocommerce-3),get these codes:

[code]

But after testing, not work in WooCommerce 4.X(these codes work in WC3), any suggestion?!

Thank you for help
Qin

[2020-06-05 00:51] guillopuig commented on #26643
@claudiosanches thank you for the effort. If Puerto Rico is selected as a Country, then the "State" field under Puerto Rico should say "Municipality". If this is done, the the "city / town" field is not needed. Municipalities in Puerto Rico are regarded as cities or towns. What do you suggest?

[2020-06-05 03:52] STV11C commented on #26691
Yes agree, similar problem on my end for 6 files where I cannot commit to my projects Git repo. Screen attached. Thanks.

<img width="987" alt="WC-capture" src="https://user-images.githubusercontent.com/5532744/83835280-ba5c4000-a733-11ea-92a9-da7e418e6f78.PNG">

[2020-06-05 05:14] jamieshulman opened #26703 "Errors on 'Analytics' section in wp-admin"
**Describe the bug**
`/wp-content/plugins/woocommerce/packages/woocommerce-admin/dist/chunks/vendors~activity-panels-inbox~leaderboards~store-alerts~task-list.dd09e8a86b0bcaa9aff7.min.js` showing a 404 when attempting to load (seen on network tab of browser's dev console)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/wp-admin/admin.php?page=wc-admin&path=%2Fanalytics%2Fsettings'
2.

[2020-06-05 05:20] jamieshulman commented on #26703
I can also see some broken functionality on the orders, subscriptions, WooCommerce dashboard page (WooCommerce Subscriptions), as well as others.  The issues all seem to be related as the JS fails to load on all the pages.  This is breaking the scaling of the page essentially hiding the add subscription and add order buttons from displaying properly on the page.

[2020-06-05 07:13] Obapelumi commented on #21210
I'm having the same issue

[2020-06-05 08:44] ricardoaraujo330 commented on #10346
Hi!
I have an online shop in Portugal and I believe that adding 20 Portuguese districts in Woocommerce would be something that won't take you much time and will make a lot of woocommerce users happy for sure. I would love to avoid an extra plugin in order to have the Portuguese districts.

For other purposes like creating carrier labels, having the district make things easier.
Please consider addi

[2020-06-05 10:11] Soufiane21 commented on #26700
I am not sure, but I think that there is a response limit. If I am right you can increase the response limit using a parameter. I think you should send parameters such as 'per_page' and 'page'.

[2020-06-05 10:11] tammullen commented on #26703
Hi @jamieshulman

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

[2020-06-05 10:14] tammullen commented on #26702
Hi @hqin2013

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help furt

[2020-06-05 10:14] #26702 closed

[2020-06-05 13:11] claudiosanches commented on #10346
@ricardoaraujo330 please start a new issue, and also if you could give us some examples we can revisit and it and maybe include the list of districts.

[2020-06-05 13:23] claudiosanches commented on #26643
@guillopuig Hello, thanks for your feedback, I just renamed "State" as "Municipality", and I made "City" hidden. Please let me know if it helps. You can see the changes in #26698

[2020-06-05 15:28] VLbrezee opened #26707 ".htaccess replace"
**Describe the bug**
After activate previously deactivated woocommerce plugin .htaccess file replaced with default one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Plugins section
2. Click on deactivate woocommerce
3. Click on activate woocommerce
4. Look at your .htaccess file it would be in default state like
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCo

[2020-06-05 15:40] tammullen commented on #26701
Hi @VGOCommunity

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.
​
![Screenshot_2020-06-05_at_14_39_03](https://user-images.githubusercontent.com/24649833/83895608-d4ede380-a74a-11ea-9e21-362c5ebe092a.png)
![Screenshot_2020-06-05_at_15_13_50](https://user-images.githubusercontent.com/2

[2020-06-05 16:04] angang commented on #22862
Waiting for that too :)

[2020-06-05 16:53] tammullen commented on #26694
Hi @z3r0g0d,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

I see the same quantities for a variable product in Chrome, Firefox, Edge & Safari
<img width="669" alt="Screenshot 2020-06-05 at 17 47 11" src="https://user-images.githubusercontent.com/24649833/83903056-695d4380-a755-11ea-

[2020-06-05 16:54] juliaamosova commented on #26692
Hi @webdados,

Thanks for raising the issue! I can see by the number of thumbs up you received that this is indeed a pressing one for folks out there. I am marking it as an `enhancement` and `question` for now which means something for us to chat more about with the WooCommerce Core team. We'll try to review it soon and provide feedback here. Thanks for your patience!

[2020-06-05 16:56] juliaamosova commented on #26691
Hi @Stoyan0v,

Thank you for reporting the issue. It seems to be on the WooCommerce Admin side of things which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin

I am going to move your bug report there so that the right team could take a look further. Thanks for your patience!

[2020-06-05 16:57] webdados commented on #26692
Thanks @juliaamosova,

If this gets a consensus I'm more than happy to submit a PR.

Let me just add some additional details: it could make sense to not do a one time change and make the "invoice" term disappear so that people get used to this over two releases or so. Maybe step one could be to remove it from the email name and title and on a second phase remove it from other places. I'm just gues

[2020-06-05 17:18] juliaamosova commented on #26699
Hi @Soufiane21,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that we could take a look further at the right place.

[2020-06-05 17:20] juliaamosova commented on #26700
Hi @TolchinJ,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that we could take a look further at the right place.

[2020-06-05 18:03] juliaamosova commented on #26708
Thanks @nerrad! I reached out to WP Engine via live chat and confirmed that the Heartbeat being disabled is indeed expected. Quoting WP Engine support agent below:

I was also offered to have the Heartbeat disabled on non-editing pages but declined since this is a test site. It is good to know that we can have it enabled if needed though.

Closing this as a non-issue.

[2020-06-05 18:04] juliaamosova commented on #26684
Thanks @nerrad! I reached out to WP Engine via live chat and confirmed that the Heartbeat being disabled is indeed expected. Quoting WP Engine support agent below:

I was also offered to have the Heartbeat disabled on non-editing pages but declined since this is a test site. It is good to know that we can have it enabled if needed though.

Closing this as a non-issue.

[2020-06-05 18:04] #26684 closed

[2020-06-05 18:34] juliaamosova commented on #26708
Hi @gglobalstep,

Thanks for raising the issue. I took a look at the video you provided and I noticed that you actually trying to leave a review won the page that had not been published yet. You are previewing a non-published page and leaving a review on it. The 403 error seems to be expected.

Some screenshots are below taken from the video:

![atomic1](https://user-images.githubusercontent.com/1

[2020-06-05 19:04] juliaamosova commented on #26709
Hi @gglobalstep,

Thanks for raising the issue. I am indeed not able to disable the taxes in WooCommerce on that particular test site hosted with BlueHost:

![bluehost](https://user-images.githubusercontent.com/19143190/83912068-3a39d880-a73b-11ea-9ad6-5b40ad191f58.jpg)

This is because this particular test site has [WooCommerce Services](https://wordpress.org/plugins/woocommerce-services/) plugin

[2020-06-05 19:04] #26709 closed

[2020-06-05 19:19] juliaamosova commented on #26710
Hi @gglobalstep,

Thanks for raising the issue! I took a look at the video you shared and noted that while you are trying to create an attribute with a different attribute name from the one that already exists, you assign the new attribute the same slug `None` which already exists. There is also a message letting you know the same.

The slug value is not case-sensitive and so when `None` gets sani

[2020-06-05 19:19] #26710 closed

[2020-06-05 19:29] juliaamosova commented on #26628
Hi @uzmanasif,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-06-05 19:29] #26628 closed

[2020-06-05 21:09] juliaamosova commented on #26096
Hi @sirion89,

Apologies for the delayed response here! Thank you for reporting the issue. The same issue had been reported previously here: https://github.com/woocommerce/woocommerce/issues/25585. Please see the details there - we actually tried to look at fixing it but it turned out to be more complex than it sounds.

We are currently focusing on developing blocks for WooCommerce (you will see r

[2020-06-05 21:09] #26096 closed

[2020-06-05 21:28] nerrad commented on #26708
There’s a couple things to consider here:

- This has to do with leaving a comment which isn’t really a WooCommerce core issue.
- It’s been a while since I dove into WP comments so it’s unclear to me currently whether this would be a WP core thing to address or something that a theme might address if it’s modifying default WP comment functionality (which I know themes can do), but my gut feeling h

[2020-06-06 00:25] de-b commented on #15207
@retroriff
https://ezilift.webconcierge.com.au/product/sales/materials-handling-sales/ezilift-el-series/

if this helps.
Thanks

[2020-06-06 04:41] santanup789 commented on #26655
Hei @tammullen.. I just discovered that making minicart like an offcanvas I used jquery to stopPropagation on minicart. If a comment that line it works fine.

`jQuery(function($) {`
	`$('#et-top-navigation .et-cart-info').attr('href', 'javascript:void(0)');`
	`$('.et-cart-info').on("click", function(e){`
		`$('body').addClass('miniCartOpen');`
		`$('body').append('<div class="minicartOverlayDiv"><

[2020-06-06 05:45] mensmaximus opened #26711 "Woo 4.2 Dashboard keeps blank due to firewall rules"
**Describe the bug**
Since version 4.2 WooCommerce the WooCommerce Dashboard mainpage (/wp-admin/admin.php?page=wc-admin) fails to load and keep complete empty without causing any errors if you use the 6G firewall rules (Jeff Starr, https://perishablepress.com/6g/).

**To Reproduce**
1. Install or upgrade to WooCommerce 4.2
2. Install All-in-One Wp Security (https://de.wordpress.org/plugins/all-in

[2020-06-06 07:00] mensmaximus commented on #26711
I have informed the AIOWPS developers as well: https://wordpress.org/support/topic/6g-firewall-rules-break-woocommerce-4-2-dashboard/

[2020-06-06 07:56] Rishabh0129 opened #26712 "whenever i save changes in woocommerce tab in my wordpress, it just removes css from all the pages of my site. Is there anything that I can do?"
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide here: https://docs.woocommerce.com/document/woocommerce-self-service-guide/

**Technical support for premium extensions or if you're a WooCommerce.com custome

[2020-06-06 08:07] laurence2283 opened #26713 "Checkboxes not working in Woocommerce backend."
**Describe the bug**

When trying to use checkboxes to select multiple orders/products in the woo commerce backend the checkboxes are not functioning and not being marked as selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Product Page'
2. Click on 'Product Checkbox' - Nothing Happens
**Expected behavior**
A clear and concise description of what you expected to happen.

**Iso

[2020-06-06 09:04] kokavolchkov commented on #26681
Hi @juliaamosova
I was able to reproduce this bug, when **only** Woocommerce plugin is Activated. Steps to reproduce are the same.

Here is the gif:

![Bug 720](https://user-images.githubusercontent.com/12866189/83940497-de2b8e80-a7e4-11ea-88cd-e8b845831b31.gif)

Here is the system status:

[code]

[2020-06-06 09:25] laurence2283 commented on #26713
The issue has now resolved itself.

[2020-06-06 09:48] Citydampf commented on #26711
http://jkorpela.fi/tilde.html

[2020-06-06 11:03] FirstWarden commented on #26688
Have staged my site to a sandbox with the original versions of plugins used, updated WC, but could not get the error triggered.

Can't reproduce. Closing.

[2020-06-06 11:03] #26688 closed

[2020-06-06 12:01] melehin commented on #26428
Hi, @Konamiman!

I edited some wiki pages. Could you merge this from my repo?

[2020-06-06 13:30] basserd commented on #24349
Is this something that will get patches in any of the coming updates of WooCommerce? And if so, can anyone give an estimate on when this will happen?

[2020-06-06 14:09] retroriff commented on #15207
@de-b Thanks, I also decided to use Slick.

[2020-06-06 16:56] databell opened #26715 "Deactivate old WooCommerce Admin version prompt still appearing on one site"
## Prerequisites

- [ ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate
- [ ] The issue still exists against the latest `master` branch of WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [ ] I have attempted to find the simplest possible steps to reproduce the issue
- [ ] I have included a failing test as a pull request

[2020-06-06 17:37] dsmithweb opened #26716 "Trashing "On Hold" orders doesn't restore stock"
**Describe the bug**
There's a resolved discussion [here](https://github.com/woocommerce/woocommerce/issues/18191) about why "On Hold" orders don't auto-cancel. That said, there's no easy way to "Cancel" an order from the Orders screen; the closest available "Bulk Action" is to trash the order(s).

However, if an On-Hold order is trashed, the stock remains reduced.

**Expected behavior**
 Shouldn'

[2020-06-06 20:48] vikfx opened #26717 "woocommerce_product_get_price doesn't applied on variation"
**Describe the bug**
I add _woocommerce_product_get_price_ filter hook to override price with regular price in some case. Works fine on simple product but the filter is not applied when product is a variation. I also override _is_on_sale()_ on product with _woocommerce_product_is_on_sale_ filter hook.
Original code is a bit different because I use a divi custom child theme and woo layout injector

[2020-06-06 21:19] negapo commented on #26716
Yes, it should, trashing an order that was set to reduce stock should increase it when cancelled or trashed. Hope this one gets noticed, stock management has come a long way on Woo but it still brings us a lot of headaches.

[2020-06-06 23:37] VGOCommunity commented on #26701
**Describe the bug**
Thank you for your quick response.

You created the coupon with "unlimited usage per user" which is the one in which I have set up a usage limit as well.

The problem still happen to me I don't know why... I am not an expert so I have no idea what to explain. I installed few plugins to get better option for discount but I don't think that's the problem as the error happens whi

[2020-06-07 07:28] pigneedle commented on #15671
I just ran into very similar issue, and I fixed it.

We are using Sucuri & WP Rocket. We ran into an issue where items were being added to the cart when users visited the homepage without any user input. The user would then view their cart, and the items would be removed automatically with a warning from WooCommerce.

I fixed this issue by clearing Sucuri & WP Cache (which I don't think did much),

[2020-06-07 16:13] erikdemarco commented on #26543
@jonathansadowski im pretty sure 90% its a bug. I have tried every possible combination this past 5days with no success.

here's my newest code:

[code]

[2020-06-07 16:22] Aljaz-S commented on #24184
Hi,
is this issue resolved ? I just upgraded to latest 4.2 version of woocommerce and i still have this issue. My system is set to 2 decimals and i am adding product price without tax included, then on top i calculate 22% of tax.

Example of issue:
Product: 1.99€ (this already includes tax calculation)

If i add this to cart and say i want 5 pieces of this product the expected price would be: 9.95

[2020-06-07 17:41] helgatheviking opened #26718 "Add "Yes/no" language to ✔ - marks in the system status"
**Is your feature request related to a problem? Please describe.**

The support emails I receive include the system status. But I'm finding it challenging to parse a ✔ out to determine (For example) if the site is connected to WooCommerce.com

**Describe the solution you'd like**
Marks should include text as well, ie : Yes ✔ and No ❌

[2020-06-08 00:05] judegimeno commented on #15207
@edmundcwm I tried your plugin and it's awesome and i've found out that it's not working with additional image gallery (gallery not changing) i used woocomerce additional variation gallery image  by woocomerce and codixer

[2020-06-08 00:56] edmundcwm commented on #15207
@judegimeno Thanks for the feedback. Could you open an issue in the [plugin repo](https://github.com/edmundcwm/EDM-Product-Gallery-Slider/issues)? I'll try my best and look into that!

[2020-06-08 01:12] judegimeno commented on #15207
Sure! i will open an issue ticket about this thank u!!

[2020-06-08 02:07] juliaamosova commented on #26665
Found the way to fix the issue https://github.com/woocommerce/woocommerce/pull/26720.

[2020-06-08 05:32] WM4362 commented on #26711
This issue appears to affect other WooCommerce Admin pages also, such as Orders, and Coupons.

Specifically, it seems to cause the second **div.woocommerce-layout** to not be loaded, meaning the below inner div's styling is not applied, causing the **div.woocommerce-layout__header** within the first **div.woocommerce-layout** (don't ask me why there's two :-P) to partially overlay the **div.wrap**

[2020-06-08 06:23] PDamg opened #26721 "Rounding errors - False remainder by using percent coupons"
**Describe the bug**
If you have one coupon for 20% off, with "Calculate coupon discounts" disabled you'll notice funny rounding results.

[see in this picture](https://user-images.githubusercontent.com/65674032/82474205-fc964800-9aca-11ea-9143-a6c1e5d05f4c.png)

Link to PR: https://github.com/woocommerce/woocommerce/pull/25943

In this example the order total amount is by 0,01€ too much. And the

[2020-06-08 10:12] NDULZ opened #26722 "Shipping regions in Kenya"
Kenya is a very large country and so is the capital city Nairobi. Putting the entire country in one shipping zone makes it impossible to have different prices for different regions. Using the postal code feature is also impossible due to the poor addressing the country and the few that have addresses use P.O Boxes and rarely update their addresses to the nearest post office.

Kenya should be split

[2020-06-08 10:59] maiarra commented on #15207
Man, this plugin is fire!! I've been searching for a solution for days now, this is the only one that works fine besides Crocoblock. About the product variations issue, mine, when selected, is showing up on the main product image thumbnail.

Thank you immensely!

[2020-06-08 11:09] mitesh199 opened #26723 "products Display"
Products Display Options Not Showing Other Inventory, Downloadable Products Option Showing.
How To Show Product Display Option

[2020-06-08 13:52] juliaamosova commented on #26711
Hi @mensmaximus,

Thank you for reporting the issue. It seems to be caused by the WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-06-08 13:53] juliaamosova commented on #26712
Hi @Rishabh0129,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2020-06-08 13:53] #26712 closed

[2020-06-08 13:55] juliaamosova commented on #26713
Hi @laurence2283,

Thanks for raising the issue. Glad to hear its been resolved.

I am going to close the issue but feel free to comment back in case it comes back so that we could take another look.

[2020-06-08 13:55] #26713 closed

[2020-06-08 14:15] juliaamosova commented on #26723
Hi @mitesh199,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](h

[2020-06-08 14:15] #26723 closed

[2020-06-08 14:17] jonathansadowski commented on #25133
Hi @anthonyshew. Thanks for the code you provided! Which npm package are you using for the WooCommerce API and which version of the API are you using?

[2020-06-08 14:22] juliaamosova commented on #26646
Hi @smartelements,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-06-08 14:22] #26646 closed

[2020-06-08 14:23] juliaamosova commented on #26601
Hi @dimitriBouteille,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-06-08 14:34] johndcoy commented on #26654
@juliaamosova Could this be related to #26582 ? If so, could it be assigned to the same milestone?

[2020-06-08 14:35] renatho opened #26724 "Intermittent error 500 while running the tests"
**Describe the bug**
I'm trying to set up the `@woocommerce/e2e-environment`, but sometimes when I run the tests a weird error 500 happens (the folder that appears in the trace in the screenshot is not a folder of my computer and I believe it's not of the docker images too). It looks like to be associated with the `initialize.sh`, because it happens sometimes when I add it to the `tests/e2e/docker

[2020-06-08 15:11] renatho commented on #26724
Additional information: I could see the error without the `initialize.sh` too.

[2020-06-08 15:33] tammullen commented on #26587
Hi @ldr2273

Thanks for raising this issue.

I believe the Customer search on the order page searches by the `display_name`

https://github.com/woocommerce/woocommerce/blob/4a506ebcf7094662a0bb179e75ca8279f87fa685/includes/admin/meta-boxes/class-wc-meta-box-order-data.php#L296

I tired both plugins mentioned.

First using Customer/Order/Coupon CSV Import Suite

I Imported the sample customer CSV f

[2020-06-08 15:47] peterfabian commented on #26722
How are you folks going to handle this in blocks? I have a feeling it might be worth it to revisit how this is handled? @mikejolley / @nerrad

[2020-06-08 15:53] nerrad commented on #26722
@peterbutler The new blocks gather shipping information [via a custom REST API endpoint](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/master/src/StoreApi/Schemas/CartShippingRateSchema.php) which in turn just pulls what is available from WC core. So this sounds like if this is addressed in WC Core, then the blocks should "just work".

[2020-06-08 17:00] juliaamosova commented on #26654
Hi @johndcoy, we identified for the issue in this thread to be different from https://github.com/woocommerce/woocommerce/issues/26582. However, @vedanshujain mentioned he will look into the issue in this thread this week to see if it can be included in 4.3. But this week is also a Hack week so we are prioritizing Hack week projects. If we can't make it to 4.3 then we'd more likely be able to inclu

[2020-06-08 17:09] juliaamosova commented on #26718
Hi @helgatheviking,

Thanks for this suggestion. We chatted about this briefly today with the team and agreed that it will be a good addition to the System Status Report.

Please feel free to submit a PR if you like. Otherwise, I can work on it sometime this week.

[2020-06-08 18:00] juliaamosova commented on #26722
Thanks for the details @nerrad, noted.

Adding some notes here as we discussed this further with the team today.

More generally speaking, we can’t add all of the states for every country as they’re all sent to the client on request. When we looked at adding the UK regions, for example, we saw that it would add significant response content.

In the long term, we should find a better way to handle

[2020-06-08 18:50] juliaamosova commented on #26692
Hi @webdados,

Thanks for your additional feedback and offer to submit a PR. We chatted about this further with the team and not sure yet that we should do any changes. Mainly because it seems that countries, in general, have a different definition of the `invoice` and so it is not easy to make it work for everyone with one particular solution. We realize that the existing one doesn't cater to eve

[2020-06-08 18:58] juliaamosova commented on #26692
Also placing here a few screenshots showing the template in question:

![inv1](https://user-images.githubusercontent.com/19143190/84069366-68682400-a998-11ea-8c0a-6a02f3d53968.jpg)

![Screen Shot 2020-06-08 at 2 51 54 PM](https://user-images.githubusercontent.com/19143190/84069397-70c05f00-a998-11ea-89f4-758d171f7c05.png)

![inv2](https://user-images.githubusercontent.com/19143190/84069402-73bb4f8

[2020-06-08 19:19] helgatheviking commented on #26718
I'm a little overwhelmed at the moment. And I did figure out how to parse the checkmark so I'm probably not going to jump into this one.

Totally unrelated, but could you take a look at https://github.com/woocommerce/woocommerce/issues/26584 ? I'd find the time to work on that some more if needed (already sent a PR) as that is going to enable a very cool feature in Name Your Price if it's included

[2020-06-08 20:04] #26665 closed

[2020-06-08 20:43] webdados commented on #26692
Hi @juliaamosova and thanks for your reply and the screenshot.
I know WooCommerce well and I'm a developer to 30+ WC plugins :-)

This brings us to a bigger problem in WooCommerce: hardcoded texts in emails. (yes, we can change them by moving the template to the child theme, but that's not a solution for most)

The term "invoice" is hardcoded in at least three files related to this email, and thes

[2020-06-08 21:02] wppunk opened #26727 "Adding a shipping_method to WC_Order_Query"
**Is your feature request related to a problem? Please describe.**
I need to get all orders with the something shipping method.

**Describe the solution you'd like**
I want to use `WC_Order_Query` to get an order with the something shipping method.

[code]

So in `WP_Order_Query` we can get by payment method but can't by shipping method.

**Describe alternatives you've considered**
I'm using a SQL

[2020-06-08 22:37] webdados commented on #26582
I also saw a strange behavior on some orders changing the rounding, after hitting "Update" on the wp-admin order screen.

Settings:
- Tax set to 23% (Portuguese default VAT)
- Prices entered with tax: yes
- Rounding: Round tax at subtotal level, instead of rounding per line

See the issue happening here:
- https://www.dropbox.com/t/QImPpSVHzgBpr5IR (expires on June 15)

[2020-06-08 22:56] webdados commented on #26582
4.3.0 milestone?

I think this is important enough to be part of a 4.2.1 bugfix ASAP.

Payment gateways that rely on the value of the order to match the amount paid are failing because of this. See my comment above, 15 minutes ago:
- After hitting "Update" the value changes
- Now when the payment gateway (in this case Portuguese Multibanco) tries to notify the website of the payment it will fail b

[2020-06-09 01:24] anthonyshew commented on #25133
@jonathansadowski

I'm using `@woocommerce/woocommerce-rest-api` at version `1.0.1`.

Thanks for your attention to this issue, guys! Looking forward to this fix. If I end up prepared for my deployment and this issue is still lurking, I'll pour some time into helping find the fix. Hoping you guys will get it before then, though! :)

[2020-06-09 04:17] haszari commented on #26561
Retested – I got it to work.

I'm using `check payments` payment method. I needed to fulfil the order - i.e. mark as `Completed` status, and then the customer could leave a review. I bet that was the problem – happy for this to close :)

[2020-06-09 06:18] ajaypandey03 opened #26730 "This order’s status is “Pending payment”—it cannot be paid for. Shows after checkout page."
**Describe the bug**
This order’s status is “Pending payment”—it cannot be paid for. Shows after checkout page.

Also event after customer in logged In no data is shown in order page other then order id.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

**Expected behavior**
Payment is done and order status

[2020-06-09 08:56] mrleemon commented on #16009
It would be cool if there was a filter to replace the magnifying glass icon easily. I want to add a SVG icon and the current way to do it is a bit hacky, to be honest.

[2020-06-09 09:36] mischasigtermans commented on #25524
So, just updated some of our sites to WooCommerce 4.2, but don't see a fix for this issue added. Any ETA already? My clients are getting frustrated.

[2020-06-09 09:42] Alessandro-4EYES commented on #25524
Same here.
I was able to "hide" the products based on the filter descibed  https://github.com/woocommerce/woocommerce/issues/25524#issuecomment-628689533
But this is not a clean solution when using pagination or lazy-load as the filter gets applied per page resulting in some pages having only 1 product displayed and others 10.

[2020-06-09 09:43] mischasigtermans commented on #25524
Correct @Alessandro-4EYES, feels a bit hacky. We've removed this implementation.

[2020-06-09 10:44] NDULZ commented on #26722
Hi @juliaamosova
Thank you for the prompt feedback.
I see you decided to subdivide the regions to counties.
Just a suggestion to assigning each county an id, each county has a predefined number by the Government of Kenya e.g. Mombasa is 001 and Nairobi is 047 as opposed to having them in alphabetical order. You can find the full list here: https://en.wikipedia.org/wiki/Counties_of_Kenya.
Additiona

[2020-06-09 13:26] NDULZ commented on #26722
And do you have an ETA on the implementation?

[2020-06-09 13:27] NDULZ commented on #26722
@juliaamosova ^

[2020-06-09 13:40] jonathansadowski commented on #25133
Thanks for the info @anthonyshew. I was looking over the code you provided, and the data format looked a bit off. Would you be able to try formatting the data for your request like this?:

[code]

[2020-06-09 13:50] Dimitris947 commented on #26422
I have the same issue
![image](https://user-images.githubusercontent.com/9027267/84155651-3ecefb80-aa71-11ea-8d39-f6c67153891d.png)

We have any update one that?

[2020-06-09 13:59] juliaamosova commented on #26561
Thanks for retesting it @haszari! Yep, looks like `check payments` payment method was playing a role indeed. Thanks for your follow-up. Closing this as a non-issue.

[2020-06-09 13:59] #26561 closed

[2020-06-09 14:26] #26722 closed

[2020-06-09 14:29] anthonyshew commented on #25133
@jonathansadowski Hot damn! That worked!

Honestly, I remember trying a bunch of different ways to get this working but I'm not sure I would have ever known to try this route. If you look at the docs [here](https://woocommerce.github.io/woocommerce-rest-api-docs/#create-an-order), there's really nothing for declaring this meta_data in that way (or really at all). Is the documentation open source?

[2020-06-09 14:30] juliaamosova commented on #26730
Hi @ajaypandey03,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide

[2020-06-09 14:30] #26730 closed

[2020-06-09 14:31] GihanEME opened #26733 "vendors~activity-panels-inbox~leaderboards~store-alerts~task-list.dd09e8a86b0bcaa9aff7.min.js this url lead to issue in admin dashboard"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain you

[2020-06-09 16:09] juliaamosova commented on #26722
Hi @NDULZ,

As I mentioned, we follow the [Unicode CLDR](http://cldr.unicode.org/) which had the list of counties for Kenya available as I added them. We use the same format for all other countries in WooCommerce.

There are a few reasons why we wouldn't do it:

- Similar to what I already mentioned above - we follow the Unicode CLDR standard which lists counties in the alphabetical order;
- The r

[2020-06-09 16:31] negapo opened #26734 "Rounding Error - Cant Refund"
**Describe the bug**
Trying to refund all items for an order. Due to a rounding error the total amount to refund is one cent higher than the total order amount, when clicking refund an error message appears "cant refund this amount".

**To Reproduce**
Hard to reproduce unless you use the same values as in the snapshot order. Use those value to create a new order, then try to refund the whole order

[2020-06-09 16:44] DogcomeTank commented on #15671
Hello peterfabian,
Thank you for your reply and sorry for posting at the wrong area. Too bad I can’t replicate the problem. But I will continue investigating and I’ll keep you posted if I found something.

[2020-06-09 17:05] DogcomeTank commented on #15671
Thank you. I’ll give it a try.

[2020-06-09 17:07] adiboo67 opened #26735 "order failed notification"
Hi
i have a problem with woocommerce 4.2.0
when a customer buy i product ( that was out of stock or low stock) he paid by credit card , he receive a first email pending  order and another email order failed.
Can someone tell me how to desactivate the order email failed for customer. thanks
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible

[2020-06-09 17:29] josefreitas2 commented on #26582
As this is a question related to taxes, I agree with @webdados It should be a real priority and be part of a bug fix.