[2022-06-22 12:01] pmcpinto opened #33560 "Product creation experience: improve the product image/gallery discoverability"
**Description:** during the usability walkthrough we identified that it could be challenging to find the right place to add product images or create a gallery. This can be influenced by the fact that the image & gallery widgets are buried below widgets such as Categories, Tags, Google Listing & Ads (if the extension is installed).

**Acceptance criteria:**

- [ ] Place the product image and produc

[2022-06-22 12:35] #33406 closed, assigned to octaedro

[2022-06-22 12:55] #26851 closed

[2022-06-22 13:01] peterfabian commented on #27419
Just please note this disables the lookup table for products, so you might experience slower responses for some queries. Still better than no results or incorrect results, though.

[2022-06-22 13:16] razorfrog commented on #27419
This has worked for me, but the checkbox somehow becomes re-checked after a month or two and the issue returns. Anyone else seeing that?

[2022-06-22 13:19] petertwise commented on #30575
We experienced this issue on a client's production WooCommerce site this week.

They were constantly hitting the server with 403 forbidden requests - not even just when working in WooComerce, but also when doing something like visiting the Media Library or adding an image to a normal blog post immediately after uploading a product file. With enough 403 requests in a short period, their IP was bloc

[2022-06-22 13:21] petertwise commented on #30575
For anyone interested, our temporary workaround was to use this in the woocommerce_uploads .htaccess file:

[code]

This stops the constant stream of 403 errors when doing normal editing in the dashboard. But this would not work for anyone who is selling image file downloads with .jpg extension.

[2022-06-22 13:48] peterfabian commented on #33503
Thanks for the idea. It's a good point and could make life for our users easier. We could easily add the ISO code to the strings for each currency and then the searching should work just fine. Would you be willing to submit a PR for this? Thanks!

[2022-06-22 13:56] peterfabian commented on #33502
Thanks for sharing the idea.

Just in case the screenshot doesn't work for other people:
![Screenshot 2022-06-22 at 15 49 59](https://user-images.githubusercontent.com/2207451/175046607-1314a111-de71-4ca0-bab4-ac8a1bfa013e.png)

The request is to automatically turn on _Manage stock_ for variations when the stock level is set via the dropdown. I think it's a good idea that reduces the amount of cli

[2022-06-22 14:31] pmcpinto opened #33562 "Product creation experience: improve the visibility of system status when users change product type"
**Description:** it's difficult to understand which fields or sections are being added or removed from the post data widget, as there's no indication of what happens when, for example, the user changes the product type from simple to grouped product.

**Acceptance criteria:**

- [ ] When new product elements appear, for example for downloadable or external products, show a spotlight to point peopl

[2022-06-22 15:36] tammullen opened #33564 "WooCommerce Setup Dashboard Widget links to empty page for WC Pay task"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the WooCommerce Setup Dashboard Widget "Start Selling" button links to the WooCommerce Payments task (e.g. when the WooCommerce Payments task is the only remaining task on t

[2022-06-22 16:04] nigeljamesstevenson opened #33565 "No indication to the user that countries have not been returned if we are seeing an HTTP 503 Service Unavailable Error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Intermittently, when using Jurassic Ninja to spin up a test site - sometimes the countries dropdown was not populated due to 503 errors

This meant navigation from the page was n

[2022-06-22 16:36] rogersievers opened #33567 "Name (numeric) attribute sorting showing up random order on refresh"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After updating to 6.6.0 we noticed the attribute sorting for the method Name (numeric) has changed behavior and shows up random on each refresh

### Expected behavior

A 1
A 2
B

[2022-06-22 16:40] muhammadbuchory commented on #32454
![image](https://user-images.githubusercontent.com/9645219/175088585-98adeefe-422c-44be-9c3c-73092844ed9f.png)

after open page cart back with button back browser mini cart cannot show list item mini cart,

how to solution for this?

i try in at site this (https://lumiere.thunder-stores.com/).

[2022-06-22 17:17] nigeljamesstevenson opened #33568 "On Setup Wizard Industry selection page we can select Other and Continue without entering a Description"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On Setup Wizard Industry selection page we can select Other and Continue without entering a Description

![image](https://user-images.githubusercontent.com/105309450/175097493-df

[2022-06-22 17:26] pmcpinto commented on #33564
@adrianduffell it would be great to have someone from Ghidorah taking a look at this.

[2022-06-22 17:30] nigeljamesstevenson opened #33569 "Symbols appearing unexpectedly at the side of the Country and City fields in the Setup wizard Store Details page (intermittent issue)"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Symbols are appearing unexpectedly at the side of the Country and City fields in the Setup wizard Store Details page (intermittent issue)
![image](https://user-images.githubuserc

[2022-06-22 17:36] pmcpinto opened #33570 "Store setup: update WCPay copy to include a mention of in-person payments"
**Description:** in-person payments has just been released in Canada (p6q6po-cQp-p2) We want to update the copy in the payments task to promote the new feature:

**Acceptance criteria:**
- [ ] Update the WCPayments banner in the Payments task with information about in-person payments. This change should only target stores located in Canada. (This was already implemented in the US).

[2022-06-22 17:37] pmcpinto commented on #33570
@adrianduffell  is it possible to implement this change in time to be included with 6.8? I'm assuming it's already too late to include it with 6.7. Thanks

[2022-06-22 18:22] barryhughes commented on #32454
I'm sorry, it works for me (using both Firefox and Chrome).

- I went to [lumiere.thunder-stores.com](https://lumiere.thunder-stores.com/)
- I **manually navigated** to [lumiere.thunder-stores.com/shop](https://lumiere.thunder-stores.com/shop) †
- I added an item to the cart and confirmed it showed in the mini-cart
- Using the browser's back button I returned to the initial page and the mini-cart

[2022-06-22 18:34] LuigiPulcini commented on #31972
I stumbled upon this issue when working on [PR #33563](https://github.com/woocommerce/woocommerce/pull/33563) that I have just submitted.

I think all the occurrences of `data.post_id` should be replaced with `woocommerce_admin_meta_boxes.post_id` to avoid any confusion, even when the `data` object does contain a `post_id` property (which is defined as `woocommerce_admin_meta_boxes.post_id` anyway

[2022-06-22 19:51] SuperHanss commented on #32454
@barryhughes I appreciate you testing. Please try the following:

- Open [https://lumiere.thunder-stores.com/shop/](https://lumiere.thunder-stores.com/shop/)
- Add a few different items to cart
- Navigate to the main cart page
- Remove an item from cart
- Use the browser back button to return to the previous page
- See the mini-cart fails to update the new item count and mini-cart itself fails to

[2022-06-22 19:54] muhammadbuchory commented on #32454
https://user-images.githubusercontent.com/9645219/175123848-e9e5ed4e-51fa-4162-a34a-59a3d6b84ba2.mp4

problem in use chrome browser, firefox it work.

error wc-ajax=get_refreshed_fragments, status pending in chrome.

[2022-06-22 21:11] barryhughes commented on #32454
OK, thank you: I can replicate (note to self, it's possible to see this using the Storefront theme). Re-opening and marking as a bug.

At least in my testing, visiting the cart page itself, removing an item, and *then* hitting the back button was a required step.

[2022-06-22 23:35] #33435 closed, assigned to joshuatf

[2022-06-22 23:49] barryhughes commented on #33348
In case of interest: https://github.com/woocommerce/action-scheduler/pull/827

[2022-06-23 01:54] #33370 closed, assigned to chihsuan

[2022-06-23 06:09] adrianduffell commented on #33564
Thanks @pmcpinto, we're looking into it.

[2022-06-23 07:46] sitoagency commented on #33117
@psealock 6.6.1 released, still lookup tables are not working for attribute filters, still the option to disable lookup table is reset after update.

This is meaningless

[2022-06-23 07:48] chihsuan opened #33580 "Implement `Review shipping options` task complete logic"
## User Story

As a new merchant
I want to the task list to contain prioritized tasks
So I can focus on what's import to set up next

## Acceptance Criteria

- [ ] mark it as completed when the user visits the page (https://github.com/woocommerce/woocommerce/issues/33363#issuecomment-1168475586)

[2022-06-23 07:53] chihsuan commented on #33363
ping @verofasulo Just in case you missed it.

[2022-06-23 07:56] #33363 closed, assigned to chihsuan

[2022-06-23 07:57] chihsuan commented on #33363
I've created another issue for task complete logic, but let's keep discussing this here.

[2022-06-23 09:00] peterfabian commented on #27419
Just a note for the people arriving here later.

There was a bug that caused the product attribute lookup table to be left empty after updating WC, but that has been fixed with https://github.com/woocommerce/woocommerce/pull/32893 and it was released in WC 6.6.0.

If you are experiencing similar problems, we suggest you first try to
1. Verify you have all the db tables created properly via WC > St

[2022-06-23 09:01] verofasulo commented on #33363
Thanks, @pmcpinto ! When you say "local shipping", do you mean the entire US or Australia for example? Or is it limited to one state (e.g. Arizona)? Thank you!

[2022-06-23 10:28] ilyasfoo commented on #33367
Hi, @verofasulo

I noticed in the design, there's no mention of installing JP. AFAIK, we'll need to install JP in order to connect a site. In the tax task, the task description goes `Jetpack and WooCommerce Tax allow you to automate sales tax calculations`. Should we add JP to our task description as well?

<img width="886" alt="image" src="https://user-images.githubusercontent.com/3747241/1752783

[2022-06-23 11:19] mattsherman commented on #33557
@pmcpinto I wonder if removing the term "stock" will introduce additional confusion. What about something like "Manage stock level (quantity)"? I don't love the parenthesis, but that could help make it more clear. And/or, we could have a tooltip.

[2022-06-23 11:22] mattsherman commented on #33556
@pmcpinto The global "Enable stock management" setting is enabled by default. So, this feels like a bit of an edge case. The user would have had to disable stock management globally to get in this situation.

[2022-06-23 11:31] mattsherman commented on #33535
This might be tricky, as "Uncategorized" is an actual product category.

[2022-06-23 13:39] pmcpinto commented on #33556
You're right

[2022-06-23 13:40] pmcpinto commented on #33557
I think that can work well

[2022-06-23 14:00] pmcpinto commented on #33363
@verofasulo the entire country

[2022-06-23 14:34] gglobalstep opened #33582 "[GlobalStep] "Add more sections" modal box overlaps with admin panel on "Analytics > Overview" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Add more sections" modal box overlaps with the admin panel on the "Analytics > Overview" page.

### Expected behavior

"Add more sections" modal box should be displayed properly

[2022-06-23 14:39] gglobalstep opened #33583 "[GlobalStep] "Cannot read properties of undefined" notification displayed after clicking "Download" button for date range "Quarter to date" and "Year to date" on "Analytics > Revenue" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Cannot read properties of undefined" notification displayed after clicking "Download" button for date range "Quarter to date" and "Year to date" on "Analytics > Revenue" page.

[2022-06-23 16:05] nerdontour commented on #33503
Thank you, @peterfabian. I'll try to do that tomorrow.

[2022-06-23 16:40] verofasulo commented on #33367
Hi @ilyasfoo !

I think we install JP in the third step "Connect your store", right? Or while installing WooCommerce Shipping? Thanks :)

[2022-06-23 19:24] #31981 closed, assigned to nobody

[2022-06-23 19:30] barryhughes commented on #31384
Closing. This was published on [March 30](https://developer.woocommerce.com/2022/03/30/removal-of-zeroclipboard/).

[2022-06-23 19:30] #31384 closed, assigned to barryhughes

[2022-06-23 20:24] TawabG commented on #27519
I have found the fix as mentioned in https://github.com/woocommerce/woocommerce/issues/27419

"I fixed it by unchecking the Enable table usage in Woo Settings->Products->Advanced"

[2022-06-23 23:56] burgerberg commented on #32915
I could reproduce the issue with a fresh installation.

- WordPress `6.0`
- WooCommerce `6.6.1`
- Tested on PHP versions `7.4.1` and `8.0.0`

[2022-06-24 00:57] moon0326 opened #33586 "Print Shipping Banner: Close modal style is incorrect"
![screen-shot-2022-06-23-at-14 25 28-1](https://user-images.githubusercontent.com/4723145/175438864-b3e93959-be2f-4953-9360-d1907fb78672.png)

When clicking on [X] button to close the shipping banner, the modal has no styles.

More details: pb22l9-1o3-p2#comment-1410

[2022-06-24 02:50] Brianmitchtay opened #33588 "Out of Stock Multi-attribute Variations with "Any" attributes are purchasable if sorted below in stock variations in menu order - Also do not have stock reduced when purchased"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a variable product with multiple attributes has some variations that do not have all attributes defined (i.e. some attributes are left with "any" selected), variations that

[2022-06-24 03:14] Brianmitchtay commented on #33588
This issue came from 5308171-zen, and could possibly be related to issue #30732

[2022-06-24 03:43] moon0326 commented on #33364
Hey @verofasulo ✋

I have a question about the `Set store location` fields.

From the Figma, we have the following design

![Screen Shot 2022-06-23 at 8 40 32 PM](https://user-images.githubusercontent.com/4723145/175457562-0dc4dec8-6f1c-4e87-9e18-80e1c79b0e27.jpg)

and this is what we currently have

![Screen Shot 2022-06-23 at 8 29 01 PM](https://user-images.githubusercontent.com/4723145/17545758

[2022-06-24 06:31] ilyasfoo commented on #33367
@verofasulo In other similar tasks, JP is installed in the 2nd step together with WCS. I'm assuming we'd want to follow the same flow, since we could also re-use most logic that's established.

Anyway, this is how it's looking like right now, can you confirm if it's alright:

<img width="748" alt="image" src="https://user-images.githubusercontent.com/3747241/175508445-d4c88310-6ab0-4e47-9c90-6460d

[2022-06-24 06:42] chihsuan commented on #33479
Close this since it should be added in https://github.com/woocommerce/google-listings-and-ads

[2022-06-24 06:42] #33479 closed, assigned to nobody

[2022-06-24 07:05] quartze opened #33591 "Wrong working templates with specific theme name"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If we name our theme with a name containing `-` (e.g. main-theme), then woocommerce does not read all templates from the / templates folder. This behaves randomly and only reads

[2022-06-24 09:06] #33564 closed, assigned to nobody

[2022-06-24 10:12] gglobalstep opened #33593 "[GlobalStep] Randomly after changing the values on the "Rows per table" dropdown fails to update the "Leaderboards" on "Analytics > Overview" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Randomly after changing the values on the "Rows per table" dropdown fails to update the "Leaderboards" on "Analytics > Overview" page.

### Expected behavior

After changing the

[2022-06-24 10:36] pmcpinto opened #33594 "Tracks issue in some key store management actions"
**Description:** we've identified a significant drop in the number of events fired when users interact with some key store management and setup actions:

`wcadmin_tasklist_task_completed`: significant drop (-80%) after the 6.6 release. It was also trending down after June 1 (maybe related to some a/b test issue).

`wcadmin_inbox_action_click`: significant drop (-80%) after the 6.6 release.

`wcadm

[2022-06-24 10:38] pmcpinto commented on #33594
@mattsherman is it possible to prioritize this? It should be a top priority and ideally include the fix with WC 6.7.

Most of our indicators and some of the division's indicators use these events to measure the product performance and we don't have an accurate view of what is going on until it is resolved.

[2022-06-24 11:41] wyter opened #33595 "[Enhancement]: Allow users to select start date for "Week to date" in Analytics"
### Describe the solution you'd like

Currently, the "Week to date" in Analytics by default selects Sunday as the start date:
![week to date](https://user-images.githubusercontent.com/11092629/175526498-85fd6a50-531d-4fad-afe1-cf9e26c5c47a.png)

It does seem that there's any way to change the day on which the week starts in Analytics.

Further, the WordPress → General  "Week Starts On" setting is

[2022-06-24 13:04] verofasulo commented on #33364
Hi @moon0326 !

Good point! The fields order was redesigned thinking about a general overhaul - But it makes sense to align with what we have now and stay consistent with the current order :)

[2022-06-24 13:16] verofasulo commented on #33367
Hi @ilyasfoo , it looks great 🤩

Just a tiny thing: could you please wrap the "by installing ..." line? I think it's a bit weird to have it close to the button on the right side. Thank you 🤗

[2022-06-24 15:48] #33335 closed, assigned to nobody

[2022-06-24 16:52] rogermattic opened #33597 "Payment Overview: wrong copy in the accordion link"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The link on the Payment Overview page in production says:
`Other payment methods`

This is a wrong copy

### Expected behavior

The link should say instead:
`Other payment provid

[2022-06-24 16:59] rogermattic opened #33598 "Payments Overview: Outdated design"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Payments overview is displaying some old version of the hero box.

### Expected behavior

It should be updated inline with the design in [Figma](https://www.figma.com/file/e428PX

[2022-06-24 17:04] nerdontour commented on #33503
@peterfabian I'm just starting my journey as a contributor to open-source projects, so I'd be grateful for feedback. Here's the fork I created: https://github.com/nerdontour/woocommerce?organization=nerdontour&organization=nerdontour

If I understand correctly I can only submit pull request, after code edits are done in my fork, right?

This issue seems quite straightforward, so I'd like to challe

[2022-06-24 17:16] rogermattic opened #33599 "Payment Overview: `See more` link directs users to a wrong place"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When `Other payment provides` is expanded, users can see the link to explore more options in the Marketplace.
Currently, the link directs users to the Marketplace inside WC Dashb

[2022-06-24 17:22] rogermattic opened #33600 "`Other payment options` link in Payments Settings is wrong"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Currently `Discover other` link in Payments Settings directs users to the wrong Marketplace and displays the wrong copy.

### Expected behavior

As in the design here in Figma e4

[2022-06-24 17:30] rogermattic opened #33601 "Outdated design of the payments page after clicking on `Install` in WCPay settings"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Outdated design of the payments page after clicking on `Install` WCPayments in the payments settings table

### Expected behavior

We should display a consistent version of the P

[2022-06-24 17:35] rogermattic opened #33602 "Payments Welcome Screen needs updating"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Current version of the Payments Welcome screen is missing elements and isn't aligned with the latest design.

### Expected behavior

The design and elements should be updated as

[2022-06-24 18:13] mattsherman commented on #33594
@pmcpinto Yes, we will investigate this, come up with a fix, and work to get this in WC 6.7.

[2022-06-24 18:34] pmcpinto commented on #33594
Thanks. Let me know if you need any help debugging this and/or testing a fix.

[2022-06-24 22:04] zhongruige opened #33606 "Revisit product search end-to-end test"
**Issue Description:**

We should circle back on the product search end-to-end task and see if there's more coverage we can add, as it didn't catch a critical failure in WC 6.6.

[2022-06-24 22:06] zhongruige opened #33607 "Add end-to-end tests around product reviews"
**Issue Description:**

With the new product reviews feature, we should add end-to-end tests around it.

[2022-06-25 00:21] jacob-sewell commented on #33331
Given that the backend version that references wcadmin is already merged, I've gone ahead with that name on the client side PR. If we decide to change it, I vote that it should be done at the same time in both codebases.

[2022-06-25 14:54] kevin25 commented on #32316
The same issue for me. I don't have any download products but it's there

[2022-06-25 18:30] nmcodeeu opened #33609 "Products serialized attributes"
Woocommerce is using its own database table for top-level taxonomy registration and wordpress taxonomy tables and structure for taxonomy terms.
And yet, _product_attributes is stored php-serialized inside wp_postmeta table, which is out-of-sync with the rest of the standard wordpress taxonomy structure if we were forced to import products data outside of woocommerce.
There is a little frustration

[2022-06-26 00:36] #33316 closed, assigned to nobody

[2022-06-26 03:56] jessebrightman commented on #32319
I have updated to the latest Woocommerce v6.6.1 and have updates the code to use the $user_id = $order->get_user_id(); method.  Apparently $user_id = $order->customer_id is deprecated.  I hope this helps.

[2022-06-26 04:07] CUBICinfinity commented on #11064
Note about this. It replaces the element with the class `widget_shopping_cart_content`, so instead of
`<div class="mysuperawesomeminicartclass widget_shopping_cart_content"><?php woocommerce_mini_cart(); ?></div>`
it needs to be
[code]

[2022-06-26 12:54] JoMedia2017 commented on #31478
Hey all, would like to share with all of you my Dirty Workaround (CSS hack) for this thing, as I was facing this same issue with my RTL (hebrew) website

**NOTE: it might not be sufficient for all, as it depends on the actual content of the email. on my emails (which are the native WooCommerce templates), I've found that the elements which causes the overflow are the email and phone number on ship

[2022-06-26 18:58] hollyda31 commented on #29264
I'd like to be assigned to this project, but I'm not sure how to do that. This is my first GitHub contribution, but I feel confident that I could manage this.

[2022-06-26 20:43] gmijo47 opened #33610 "Analytics statuses cannot be saved"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I want to change Excluded statuses and Actionable statuses in Analytics settings.
However, as soon as I do Save settings and refresh the pages, it removs all my statuses, and che

[2022-06-27 00:19] becdetat commented on #33594
s

[2022-06-27 00:37] #33349 closed, assigned to nobody

[2022-06-27 02:57] heather-ferguson opened #33611 "Fatal Error- Unable to reactivate Woocommerce"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

I received notification from Wordpress that they caught a fatal error with Woocommerce.

[2022-06-27 07:08] JerissCloudCenter opened #33612 "WooCommerce > Home > Orders - Amount doesn't correctly show the decimals"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the new WooCommerce > Home > Orders section, the amount of the orders don't correctly show the decimals.

![image](https://user-images.githubusercontent.com/87424739/175879801

[2022-06-27 08:31] vedanshujain commented on #33137
Closing this as we have researched and logged migration errors in #33147, #33146, #32922 and #33348.

[2022-06-27 08:31] #33137 closed, assigned to vedanshujain

[2022-06-27 09:01] vedanshujain opened #33613 "Implement the `query` method in order table data stores."
Similar to CPT data store, we would like to implement `query` method in `OrdersTableDataStore` as well which should be fully compatible with CPT's query method and implement all or similar hooks.

[2022-06-27 10:38] Cheekymate06 opened #33615 "Storefront single product with multiple images resizing issue"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On the Storefront theme when in single product page.
(With multiple images)  Going from tablet to mobile view (screen rotation) on phone  or when on desktop - desktop to tablet/m

[2022-06-27 10:38] Cheekymate06 opened #33829 "Storefront single product with multiple images resizing issue"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On the Storefront theme when in single product page.
(With multiple images)  Going from tablet to mobile view (screen rotation) on phone  or when on desktop - desktop to tablet/m

[2022-06-27 13:23] rogermattic opened #33617 "Wrong link in `Set up payments` screen"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the current version, when the user clicks on the `See more` link they are sent to the _internal_ marketplace, but the link should direct them to the _external_ marketplace ins

[2022-06-27 13:33] rogermattic opened #33618 "Wrong link in the Payments Settings for a user onboarding from a country that's not supported by WCPay"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the user onboards from a country that's not supported by WCPay and goes to Payment Settings, the link displayed there is wrong and the copy needs amending in a few places

#

[2022-06-27 13:36] #33437 closed, assigned to joshuatf

[2022-06-27 13:57] rogermattic opened #33619 "Wrong copy in the payments task on the Home Task list"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The current version of the homescreen task list is not aligned with the latest design.

### Expected behavior

[As in this Figma design](https://www.figma.com/file/e428PXC0QyEwYq

[2022-06-27 14:10] rogermattic opened #33622 "Payments Settings: wrong link and some copy changes required"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A few things are not aligned with the design.

### Expected behavior

[As in this Figma design](https://www.figma.com/file/e428PXC0QyEwYqtX48lLq0/%5BWCPay%5D-Positioning-and-Conv

[2022-06-27 14:18] rogermattic opened #33623 "Payments Welcome Screen needs updating"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the user goes directly to Payments from the main navigation, currently we display an outdated version of the Payments Welcome  Screen and the  accordion link to display `Oth

[2022-06-27 14:25] pmcpinto commented on #33622
@rogermattic can you add more details about this? This wasn't in the initial exploration, right?

[2022-06-27 14:26] rogermattic opened #33624 "Additional payment options task is wrong"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After WCPay installation and set up, we should show the user an additional task to select `Set up additional payment options`. At the moment the copy is wrong.

### Expected beha

[2022-06-27 14:27] pmcpinto commented on #33618
@rogermattic this request is the same as #33622, right?

[2022-06-27 14:29] pmcpinto commented on #33617
@rogermattic is there a specific reason why we shouldn't send them to the in-app marketplace?

[2022-06-27 14:33] pmcpinto commented on #33601
Did the test show that this design performs better than the existing one?

Btw, after clicking on install the WCPay, the user is redirected to a plugin screen. It's outside of Core. So this change should be handled by Transact :)

[2022-06-27 14:44] rogermattic opened #33625 "`Set up additional payments`page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There are a few issues with the current version of the `Set up additional...` page, all listed below.

### Expected behavior

[As in this Figma design](e428PXC0QyEwYqtX48lLq0-fi-

[2022-06-27 14:55] rogermattic opened #33626 "Payments Settings: When WCPay is installed and setup the current version of the page is wrong"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When WCPay is installed and setup, we shouldn't display the `Recommended ways to get paid` box in the payment settings as it presents competitive alternatives to WCPay when it's

[2022-06-27 15:14] peterfabian commented on #33613
...to replace this method: https://github.com/woocommerce/woocommerce/blob/6.6.1/plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php#L955

Plus we need to include tests.

[2022-06-27 16:32] berkmh commented on #14541
same issue here. happening mostly on my woo subscription orders. PLEASE FIX!

[2022-06-27 17:15] Lilrock commented on #32319
I've tested it using a new purchase, but the old purchases still have the same issue. I'll continue testing to see if it works for the future but not the past.

[2022-06-27 21:08] mattsherman commented on #33331
Agreed. Such a change in the future should be done with careful consideration.

[2022-06-27 21:20] ObliviousHarmony commented on #29264
Hey @hollyda31, we would be happy for your first contribution to be here. Typically, users will just submit a pull request. The fact that you've shared your intention here is enough that someone else won't pick it up :smile:

Have fun!

[2022-06-28 00:11] barryhughes commented on #33253
Thanks all.

Looks like [the problem is here](https://github.com/woocommerce/woocommerce/blob/6.6.1/plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-orders.php#L725) (though I can see potentially same issue [a few lines down](https://github.com/woocommerce/woocommerce/blob/6.6.1/plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-orders.php#L733) in rel

[2022-06-28 00:37] barryhughes commented on #33249
I think there's been a misunderstanding. As I understood it, this meta box serves two purposes for merchants:

* Moderation: they can approve reviews and take other related actions, such as marking reviews as spam
* Replies: they can reply to reviews as in the example below

<img width="813" alt="reviews-and-replies" src="https://user-images.githubusercontent.com/3594411/176061658-00f63e4a-a46e-4b

[2022-06-28 00:37] #33249 closed, assigned to nobody

[2022-06-28 00:50] barryhughes commented on #32827
We support three different download mechanisms:

* Force download
* X-Accel
* Redirect

I don't think there is much we can do to avoid this problem with the last two. For the first method (Force Download) we could possibly mitigate this, but I'm not sure if that would be desirable in all cases.

@GENMPIE how often are your customers experiencing this issue?

[2022-06-28 02:26] chihsuan commented on #33363
@pmcpinto @verofasulo I just wanted to double check. Do we agree to mark it as completed when the user visits the page?

[2022-06-28 03:23] #33366 closed, assigned to moon0326

[2022-06-28 05:53] #33367 closed, assigned to ilyasfoo

[2022-06-28 09:31] verofasulo commented on #33363
@chihsuan yes, thank you 🙏

[2022-06-28 11:32] mgf111 opened #33636 "[Enhancement]: analitycs for variable subscription product"
### Describe the solution you'd like

Hi there,
I have a variable subscription product.
When I check the analytics it shows the result as global variable.
Is there a way to have the individual values of each variable in the report?
example:
variable A - 3 items sold - net sales: 3€
variable B - 7 items sold - net sales: 14€
Total:  10 items sold - net sales: 17€

### Describe alternatives you've c

[2022-06-28 12:28] ebproject commented on #28368
Still no fix for this?

[2022-06-28 13:20] Axos11 opened #33637 "WC Tabs fail with google conversion-linker tag"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If you open a product page with any URL gclid=12345 parameter and you have the conversion-linker tag enabled with certain settings the tabs "Description" and "Additional Informat

[2022-06-28 13:37] roykho commented on #33387
Hi @coreymckrill - We've recently made a change with this [PR](https://github.com/woocommerce/woocommerce/pull/33584) to validate only code that you've changed and not the entire file. Do you still feel we need to change to use `pre-push`?

[2022-06-28 13:43] #33594 closed, assigned to joshuatf

[2022-06-28 14:06] pmcpinto commented on #33363
@chihsuan yes. It should also fire `wcadmin_tasklist_task_completed` `task_name`: `shipping`

[2022-06-28 16:56] Upendco opened #33640 "/n/n/n on my page"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

on the top of my website /n/n/n is showing up

### Expected behavior

the page looks normal

### Actual behavior

it randomly showed up today, nothing happened that I know of

##

[2022-06-28 17:07] joelclimbsthings commented on #33559
@pmcpinto Do you have copy in mind for this?

Also, for the link, I see a couple potential posts ([1](https://woocommerce.com/posts/fast-high-quality-product-photos/), [2](https://woocommerce.com/posts/how-to-take-professional-product-photos-top-tips/)). Which one do we have in mind?

[2022-06-28 17:56] eevolution commented on #30154
I have the same issue today with a new site when testing using Stripe (in Test Mode) on AWS Lightsail. Can a setting be added so we can specify which process or hook needs to be completed before showing the order received page? Alternatively, the downloads section continually looks for the file(s) using ajax and refreshes informing the customer when it's ready?

[2022-06-28 18:15] #33522 closed, assigned to roykho

[2022-06-28 18:17] #33459 closed, assigned to jonathansadowski

[2022-06-28 18:23] nanoanno commented on #33588
Update: Sorting out of stock variations to the top of the list does not resolve this issue.

Variable: shows the out-of-stock variations as greyed out (disabled) in the Plate and Bottom colors. It's completely hidden in the Top color dropdown.

Bundle: For the Variable Product, the variations remain available, in stock.

<img width="453" alt="Screen Shot 2022-06-27 at 9 04 24 PM" src="https://user

[2022-06-28 19:28] SamratBiswas1 commented on #32318
I was talking to @pmcpinto and he mentioned about whether we should trigger shipping task completion at default settings or should we do it after the user has reviewed shipping options. Since the user can accept orders and ship at the default setting; from user standpoint their store has shipping capability and have completed the task. Hence, I am of the opinion that we should trigger shipping tas

[2022-06-28 19:36] #33636 closed, assigned to nobody

[2022-06-28 19:58] jonathansadowski commented on #33516
Hi @devplus-bram,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report bugs and enhancement requests for WooCommerce and the other projects we manage in this repository.

The enhancement you are requesting seems to be in the EU VAT Number plugin, which is one of the paid products on our marketplace. To get further technical support

[2022-06-28 19:58] #33516 closed, assigned to nobody

[2022-06-28 20:01] jonathansadowski commented on #33640
@Upendco,

Please be sure to include the system status report from WooCommerce > System Status in WordPress admin.

[2022-06-28 20:01] peterfabian commented on #32841
I assume this can be closed now as the RFC has been resolved? Do we want to create an external RFC for this once the PR is up?

[2022-06-28 20:03] jonathansadowski commented on #33517
Hi @jensfrost,

I see that you have several other plugins activated on your site. Are you able to reproduce this issue when only the WooCommerce plugin is active?

[2022-06-28 20:23] ObliviousHarmony commented on #32436
I just wanted to highlight that I'm still waiting on a review in the upstream PR.

[2022-06-28 20:49] helgatheviking commented on #22598
Could I make an argument to keep these and add support for handling priority? It looks like `do_action_deprecated()` does not handle priority and everything is dumped onto default priority regardless of what the `add_action()` sets the priority to.

[2022-06-28 21:22] jonathansadowski commented on #33611
Hi @heather-ferguson,

Thanks for the report. Is there any additional information available with the fatal error? Are you still unable to activate WooCommerce with other plugins disabled? Have you tried activating WooCommerce with the latest version (6.6.1)?

[2022-06-28 22:15] heather-ferguson commented on #33611
Wordpress sent me the following information on June 16, 2022. My Store page has been down ever since. When I attempt to load Woocommerce (Version 6.6.1), I receive a message that states they are unable to activate this plugin because it triggered a fatal error.

When seeking help with this issue, you may be asked for some of the following information:
WordPress version 6.0
Active theme: OceanWP (v

[2022-06-28 23:08] barryhughes commented on #32915
This is getting quite a bit of traction, so setting priority to high.

[2022-06-28 23:14] barryhughes commented on #32854
See also https://github.com/woocommerce/woocommerce/issues/28770 for a different bit of perspective/context.

[2022-06-28 23:34] joelclimbsthings opened #33646 "Create media library data store to minimally create new items"
### Description

Our aspirations for the new product page includes adding product images via a React component. This will require a data store to manage images within the media library, with at minimum a `create` operation with other optional operations such as `update`.

**Reference**

#### _Create_
**HTTP Request**

**Reference**

#### _Update_
**HTTP Request**

**Reference**

### Acceptance cri

[2022-06-29 00:37] #33378 closed, assigned to nobody

[2022-06-29 00:40] rajaishtiaq6 opened #33647 "[Enhancement]: Please add a feature to add customer column & filter field in Admin Customers List"
### Describe the solution you'd like

Please add a feature to add a customer column & filter field in Admin Customers List

If you have already done this, please share any articles.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-29 01:07] addedlovely opened #33648 "Coupon 'used_by' is tracked regardless of coupon restrictions"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The used_by meta data Is set on coupon codes regardless of whether the coupon code itself has any usage restrictions that require any tracking.

For us, with coupons that have be

[2022-06-29 03:57] coreymckrill commented on #33387
🤔 I guess if it was changed to pre-push, we'd end up with a proliferation of "fix linting errors" commits. Since it's now only checking lines of code that you've added or changed, I guess you'd want to be able to correct problems in your changes before committing. So, I think I'm fine keeping this on pre-commit now 👍

[2022-06-29 03:57] #33387 closed, assigned to nobody

[2022-06-29 06:32] chihsuan commented on #33368
I think we just need to make ‘Set your store location’ clickable and expandable since ShipStation UI is done in https://github.com/woocommerce/woocommerce/pull/33630.

[2022-06-29 07:34] #33580 closed, assigned to chihsuan

[2022-06-29 07:40] moon0326 commented on #33368
Do we need to make each step clickable? I think that's currently not a feature and I don't see a requirement for that 🤔

[2022-06-29 07:40] #33364 closed, assigned to moon0326

[2022-06-29 07:46] chihsuan commented on #33480
I've updated the AC of all tasks.

[2022-06-29 07:46] #33480 closed, assigned to chihsuan

[2022-06-29 07:50] chihsuan commented on #33480
I think we can consider adding unit tests first before starting to add e2e.

[2022-06-29 07:50] chihsuan commented on #33480
I think we can consider adding unit tests first before starting to add e2e.

[2022-06-29 07:53] chihsuan commented on #33368
Actually, it's mentioned in cJQeyyhx9PraQrY3YAtCGM-fi-705%3A80783. cc @verofasulo

![Screen Shot 2022-06-29 at 15 51 52](https://user-images.githubusercontent.com/4344253/176382296-edd89e61-8208-410e-81af-b9ba7819186e.png)

[2022-06-29 08:09] moon0326 commented on #33368
Thank you! Not that I'm opposed to the idea, but I wonder the reason for it when the address is already filled 🤔

[2022-06-29 08:23] chihsuan commented on #32585
Hi @pmcpinto or @SamratBiswas1, @ilyasfoo has created an wonderful issue template for explat (pdibGW-kU-p2#comment-388). Would you be able to create an Explat issue for the store location profiler based on that? It would be very helpful for us before we start working on this in the next cycle. Thanks. 🙇‍♂️

[2022-06-29 09:25] chihsuan commented on #33599
Related to https://github.com/woocommerce/woocommerce/issues/33617#issuecomment-1167427386

[2022-06-29 10:37] kumarmanishc opened #33653 "Updating feature image via API is not working."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

**Motivation :** The main reason to raise this issue is because it is working in API v1 but same is not working with v3 of Woocommerce Product [APIs.](https://woocommerce.github.

[2022-06-29 10:53] vedanshujain commented on #32348
hey @d2roth , we are not able to reproduce this issue. With payload
[code]

I am getting proper response like:
[code]

Can you verify if this is still happening for you?

[2022-06-29 10:57] ilyasfoo commented on #33368
1. Would the store location also need to be clickable on https://github.com/woocommerce/woocommerce/issues/33367?
2. Does it apply to all steps, or just store location step?

[2022-06-29 11:05] vedanshujain commented on #32368
hey @danielbarenkamp , checking here again, we are still not able to reproduce the issue as the `single variations plugins` is not published and we can't access its code. just wanted to emphasize what Peter wrote earlier:
[code]

note that instead of the entire plugin, if you can send some minimal code examples of the current query it would be more helpful. that way we can paste it here and benefi

[2022-06-29 11:15] rjchow commented on #33365
My heart jumped a little when I saw that the config key was named referenceElement**s** but alas it does not support multiple elements.

I have some thoughts on how to proceed -

I'll finish this story without enhancing spotlight, regardless, so the spotlight effect by the completion of this story will cover the entire table. This needs to be done whether or not we enhance spotlight, and there wil

[2022-06-29 12:19] valterlorran commented on #33267
Hey, do we have any progress on this issue?

[2022-06-29 12:54] swatipawarGS commented on #33615
Hi @Cheekymate06,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

Storefront theme:

https://user-images.githubusercontent.com/94531721/176371400-2c881955-42c5-4e44-b057-78c804fcc6bc.mp4

Astra theme:

https:/

[2022-06-29 12:54] swatipawarGS commented on #33829
Hi @Cheekymate06,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

Storefront theme:

https://user-images.githubusercontent.com/94531721/176371400-2c881955-42c5-4e44-b057-78c804fcc6bc.mp4

Astra theme:

https:/

[2022-06-29 12:55] swatipawarGS commented on #33612
Hi @jeriss-cloud-center,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screenshots for reference :

![#33612(home page)](https://user-images.githubusercontent.com/94531721/176374805-1b7467a3-d81b-4cb1-983b-bce71c323993.jpg)

![#3

[2022-06-29 12:55] swatipawarGS commented on #33610
Hi @gmijo47,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/176376552-7244bd0e-991d-45c1-8d49-98f6c388e911.mp4

Please provide us with more details and

[2022-06-29 12:56] swatipawarGS commented on #33569
Hi @nigeljamesstevenson,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screenshot for reference :

![#33569](https://user-images.githubusercontent.com/94531721/176381094-823c3597-83f0-42c1-b8f3-32dd45688fb4.jpg)

Please provide u

[2022-06-29 12:57] swatipawarGS commented on #33567
Hi @rogersievers,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/176388373-a96ba7b1-becf-4a0a-a923-2fb6ea891bf5.mp4

Please provide us with more detail

[2022-06-29 14:11] jurian360 opened #33655 "Empty product is created when submitting an EMPTY json"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Using the API to create new products I accidentally submited an empty body, not even "{}". This resulted in  the creation of an extra product.
![image](https://user-images.github

[2022-06-29 14:26] verofasulo commented on #33368
Yes, only the steps that have already been completed by the user. I think it's important to give the possibility to review and eventually edit the details. :)

[2022-06-29 15:19] jorgeatorres commented on #32670
Addressed by #33341.

[2022-06-29 15:19] #32670 closed, assigned to jorgeatorres

[2022-06-29 15:41] stefan-sandberg commented on #27761
Experiencing the same bug. When setting a default variation for a variable product and clicking on a thumbnail inside 3-4 seconds during/after page load, the gallery breaks and the thumbnails are not switching main image. In my case they will not start working until page reload. Happens on mobile only. Does not happen if waiting 5-10 seconds before clicking the first thumbnail.

[2022-06-29 17:04] andyvu92 commented on #27600
wc_get_orders actually takes local time and converts it to UTC time, then get orders based on the converted UTC time.

For instance:
`
$orderIDs = wc_get_orders(
		array(
			'limit' => -1,
			'date_paid' => '2022/07/01',
			'return' => 'ids',
		)
	);
`
The query above will return all orders paid on 30/06/2022 based on Melbourne timezone. The below works for my case, which is to add 1 day to the cu

[2022-06-29 17:35] deleriouseel commented on #33611
I am having the same issue when I updated to 6.6.1. I narrowed it down to a conflict with VaultPress. If VaultPress is activated I get a fatal error. If WooCommerce is activated I get a critical error. I tried rolling back to 6.6.0 but no change.

Fatal Error in the debug.log:
[29-Jun-2022 17:01:47 UTC] PHP Fatal error:  Declaration of Automattic\WooCommerce\Container::has($id) must be compatible

[2022-06-29 17:45] pmcpinto commented on #32318
👍 I think that suggestion makes sense.

@chihsuan is it easy to change the `wcadmin_tasklist_task_completed` `task_name` : `shipping ` behavior in this particular case?

[2022-06-29 17:51] pmcpinto opened #33656 "Marketing task: Manage button missing for TikTok"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Users don't have a way to continue the TikTok setup through the Marketing task because the "Manage" button is missing after the extension is installed.

### Expected behavior

To

[2022-06-29 17:59] pmcpinto opened #33657 "Marketing task: alternate the sections within recommended extensions"
**Description:** we want to start alternating the order of the two sections included in the Recommended marketing extensions card: reach to our customers and grow your store.
Our goal is to ensure that all the extensions have the opportunity to be displayed above the fold and assess if this change impacts the individual install rate.

**Acceptance criteria:**

- [ ] Randomize the order to ensure t

[2022-06-29 19:07] jonathansadowski commented on #33611
Thanks for the updates @heather-ferguson  and @deleriouseel.

What were the last versions of WooCommerce that you were able to activate? Are you still able to activate them? If you are able to activate a previous version, could you share your [system status report](https://woocommerce.com/document/understanding-the-woocommerce-system-status-report/)?

The System Status Report is found in your Word

[2022-06-29 19:12] heather-ferguson commented on #33611
(version 6.5.1) was the last version that was used. It is not currently activated and the new version can not be activated because of the fatal error. So I currently have no version activated and therefore can not retrieve the status report.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jonathansadowski ***@***.***>
Sent: Wednesday, June 29, 2022 3:07:53 PM
To:

[2022-06-29 19:28] deleriouseel commented on #33611
My last version was 6.6.0. I rolled back to it and it also triggered the fatal error, so I have 6.6.1 installed now.

`
### WordPress Environment ###

WordPress address (URL): https://northcountrychapel.com/staging/8523
Site address (URL): https://northcountrychapel.com/staging/8523
WC Version: 6.6.1
REST API Version: ✔ 6.6.1
WC Blocks Version: ✔ 7.6.2
Action Scheduler Version: ✔ 3.4.0
Log Directo

[2022-06-29 19:36] jarekmorawski commented on #33559
I think the [first link](https://woocommerce.com/posts/fast-high-quality-product-photos/) will work best. As for the copy, here's what I had in mind. Do you accept, @pmcpinto?

([source 1](https://woocommerce.com/posts/fast-high-quality-product-photos/), [source 2](https://www.nexcess.net/blog/woocommerce-image-size/))

[2022-06-29 21:24] joelclimbsthings commented on #33559
Thanks @jarekmorawski ; do you have an idea of how we want the copy around the link itself? I currently have:

![image](https://user-images.githubusercontent.com/444632/176547353-d78f1736-4bb0-47db-805b-69a4cb833946.png)

Fun fact, the copy around the link itself was decided by GitHub Copilot and I decided not to offend the AI overlords.

[2022-06-29 21:30] felipevelzani commented on #30270
Also reported on 5321115-zen.

For reference, it seems that it happens this way even with `Round tax at subtotal level, instead of rounding per line` disabled. 🤔

[2022-06-30 01:01] chihsuan commented on #32318
@pmcpinto Yes! So we want to change to trigger the `wcadmin_tasklist_task_completed` `task_name `: `shipping` event at default settings but still mark the task as completed when the user review shipping options, right?

[2022-06-30 02:58] chihsuan commented on #33570
@pmcpinto Yes, we can include it with 6.8.

It also fetches data from a WCCOM remote endpoint when `woocommerce_show_marketplace_suggestions` is true so we can update and deploy it when PR is merged.

[2022-06-30 02:59] andyvu92 commented on #27600
UPDATED FIX
For someone that is still struggling with this, I have worked out a solution using timestamp instead

Updated: as strtotime will be based on UTC time by default, it's better to combine date with wordpress timezone object

[code]

[2022-06-30 03:03] chihsuan commented on #33617
<img src="https://user-images.githubusercontent.com/4344253/176583538-8a8e8225-b1ea-4ae9-a58b-3c60121bd1b2.png" width="400px" />

@pmcpinto I found @rogermattic has explained it in https://github.com/woocommerce/woocommerce/issues/33600.

Are we okay to update it to the external marketplace?

[2022-06-30 03:11] rjchow commented on #33230
220-gh-woocommerce/woocommerce-quality

[2022-06-30 03:14] rjchow opened #33666 "i18n broken in a few places"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

![image](https://user-images.githubusercontent.com/27843274/176

[2022-06-30 03:23] chihsuan commented on #33600
@rogermattic Do we need to hide the logos when they are installed and activated?

[2022-06-30 03:28] chihsuan commented on #33598
@adrianduffell These changes look large, but I think we can update it quickly since we've implemented a part of UI in the WCPay setting page.

[2022-06-30 03:54] chihsuan commented on #33598
@rogermattic ~In the current design, we display a different CTA button based on the WCPay state (installed, isEnabled, needsSetup). Do we need to follow it in the new design?~ (Ignore, I found it actually only displays "Get Started")

For example, when a user has set up the WCPay, the CTA button is `manage`.
![Image](https://user-images.githubusercontent.com/4344253/176589064-7626c680-a813-405a-a0

[2022-06-30 03:59] chihsuan commented on #33602
Possibly using the same components in #33598

[2022-06-30 04:20] #33597 closed, assigned to chihsuan

[2022-06-30 04:33] rjchow commented on #33267
Hey @valterlorran thanks for the ping on this, I applied the wrong label so it wasn't showing up on our teams' dashboard.
I've applied the correct labels now so we'll look into this in the upcoming weeks

[2022-06-30 04:34] rjchow commented on #33666
Some discussion here as well: p1656559454371029/1656559041.206229-slack-C01SFMVEYAK

[2022-06-30 04:42] ilyasfoo opened #33670 "Spike: Investigate Live Preview to be used in Customize task"
In pbIJXs-23Z-p2, ideally we want to support Live Preview where users would be able to see how their site would look like when logo is added or layout is selected. In our discussion, investigating FSE or Gutenberg may be a good way to start.

Outcome of this spike should be:
1. Identify the technical feasibility to implement Live Preview in our customization task which also uses slotfill
2. Identi

[2022-06-30 04:47] rjchow commented on #33365
For approach 1, multiple spotlights method, redoing the overlay using [svg masking](https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Clipping_and_masking) to "cut holes" and [intersection observer](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) to calculate the cutout coordinates might be a clean way to do it

[2022-06-30 07:04] jensfrost commented on #33517
Yes. I have deactivated all other plugins and all custom code that I
have made and the same thing happens,

Best Regards
Jens Frost
Aveo Ab

Den tis 28 juni 2022 kl 22:03 skrev jonathansadowski ***@***.***>:

--
Med vänlig hälsning
Jens Frost
040-410 477040-410 477

[2022-06-30 07:23] #33619 closed, assigned to chihsuan

[2022-06-30 07:34] chihsuan commented on #33267
Hey @valterlorran I've created a PR for it. When users click on the store details task, they will be redirected to the setting page instead. The change will be released in 6.8 on August 9.

[2022-06-30 08:04] chihsuan commented on #33666
Only "future" and "past" strings are translated.

![Screen Shot 2022-06-30 at 16 02 03](https://user-images.githubusercontent.com/4344253/176625342-4d7a6790-2cc5-405a-9997-f4aecc70a9ba.png)

It has been fixed in https://github.com/WordPress/gutenberg/pull/16728/files#diff-03d0cf6d312040748a895b1aee2b5fb759e5936800e7e90ec1966e60000c3e35L65-L79. I think we just need to contact wp.org to ship it.

[2022-06-30 09:00] tommyferry opened #33672 "[Enhancement]: Move product taxonomy archive header HTML into its own template and re-hook"
### Describe the solution you'd like

The product taxonomy archive header (in the product archive template: `plugins/woocommerce/templates/archive-product.php:32-46`) cannot currently be individually removed if needed/wanted.

Some themes or plugins may want to remove or replace this section and, as this chunk of the template is 'hardcoded' in place, their only option at the moment is to override

[2022-06-30 09:09] gglobalstep opened #33673 "[GlobalStep] For new Navigation, "Uncaught DOMException" error displayed after clicking "Marketplace" option on "WooCommerce Admin" menu."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Uncaught DOMException" error displayed after clicking "Marketplace" option on "WooCommerce Admin" menu.

### Expected behavior

Clicking "Marketplace" option should display the

[2022-06-30 09:09] fernandotellado commented on #33666
Same issue with es_ES translations.

[2022-06-30 09:21] rjchow commented on #33666
Hey @fernandotellado 👋

That is correct, it is broken for all translations as it’s due to a code issue. We’ve had a bit of i18n trouble recently due to the merge of WooCommerce Admin into WooCommerce Core, and it looks like we still missed some parts.

Much appreciate your comprehensive report  bringing this to our attention, and we’ll do our best to resolve it!

[2022-06-30 09:42] Dekadinious opened #33674 "Permanent deletion of product returns true even tough product is not permanently deleted"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Case: Send a product to trash using `$product->delete();` and follow that up with `$product->delete(true);` at a later stage without first fetching the product again using `wc_ge

[2022-06-30 09:46] fernandotellado commented on #33666
Ok @rjchow I have a lot of screen captures if you need more places where the issue occurs

[2022-06-30 10:43] pmcpinto commented on #33559
Sounds good to me. Thanks

[2022-06-30 11:14] jarekmorawski commented on #33559
It's surprisingly good. Didn't know Copilot can do copy. Should I be be scared for my job? 😉

On a more serious note, I've been thinking about something a bit simpler and more actionable:

[2022-06-30 11:36] lsinger commented on #27814
@lamalamaMark I talked to @vedanshujain, who said that it might make sense to start with `apply_coupon` in `abstract-wc-orders.php`, and that ideally, if the calculations are done differently, we would want to refactor them so that admin and front end call exact same methods for calculation. I'm also pinging @barryhughes to see if he has further advice here.

[2022-06-30 12:09] alexx855 opened #33677 "Analytics leaderboard, there was an error getting your stats, PHP 8 types"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WP Admin > Analytics > Overview > Leaderboards section is not working with PHP 8

![image](https://user-images.githubusercontent.com/1799851/176672405-9b935ea4-8fef-4467-9a1e-8d8

[2022-06-30 12:22] Immerence commented on #27761
Until this is fixed, there is free alternative called "WooSwipe" that works for variable products, better than WooCommerce.

https://thriveweb.com.au/the-lab/wooswipe/

If you toggle really fast thumbnails are sometimes not responsive on "first touch", but works on second.

[2022-06-30 12:56] alexx855 commented on #33677
I've debbuged and found that the var $category_name at https://github.com/alexx855/woocommerce/blob/f04e0761a6c200e57e8a9df45c62b5e76b2f058a/plugins/woocommerce/src/Admin/API/Leaderboards.php#L193 can return a **WP_Error** if the taxonomy doesn't exists instead of the desired string.
[code]

That causes PHP 8 fails with the error  **WP_Error could not be converted to string** and that its making t

[2022-06-30 13:31] Temepest74 opened #33679 "wc_get_products does not work with meta_query if I created a custom meta"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If I create e custom meta "my_meta" and I use this in the $args variable, it will just be ignored.

### Expected behavior

To get products with my_meta = 0

### Actual behavior

[2022-06-30 13:40] pmcpinto commented on #32585
@chihsuan we don't have a way to run an experiment in this step because users only start sharing data with us after the click "continue" or "skip".
I'd keep this change simple and move forward with variant 1. @verofasulo @SamratBiswas1 let me know if you agree

[2022-06-30 14:32] Temepest74 commented on #33679
I found the problem. apparently, you cannot use meta_query as a key, and you must use [this](https://github.com/woocommerce/woocommerce/wiki/wc_get_products-and-WC_Product_Query#adding-custom-parameter-support). I would really love if this a will be added in the wiki about this. At first, it seems like an alternative to WP_Query, but it is not

[2022-06-30 14:32] #33679 closed, assigned to nobody

[2022-06-30 16:11] SamratBiswas1 commented on #32585
@pmcpinto - I agree that we should keep it simple. However, I am leaning towards variant 3 for the following reasons:
1. The country information will help us better serve the users with country specific extensions during onboarding
2. email will allow us to communicate and keep the conversation going incase they drop off durign the process.

I see both the information useful in user's onbaording j

[2022-06-30 16:44] katiebethbrown commented on #42663
Adding a +1 as we ran into this on a Team 51 partner site. We were able to work around it with the menu order, but it would be nice to be able to set the order explicitly in the block without impacting the other areas of the site, similar to changing the order of images in a gallery.

[2022-06-30 19:33] joelclimbsthings commented on #33559
No more than I! 😟

[2022-06-30 19:41] ObliviousHarmony opened #33683 "Fix E2E Package Linting Errors"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There are currently listing issues in one (or more?) of the E2E packages.

### Expected behavior

There should be no linting errors.

### Actual behavior

There are linting error

[2022-06-30 19:44] ObliviousHarmony opened #33684 "PNPM Update: `@woocommerce/e2e-environment`'s App Root Fetching Broken"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After updating PNPM I started receiving errors from the `@woocommerce/e2e-environment` package in the `getAppRoot()` function. The `require.resolves()` call is returning errors b

[2022-06-30 19:46] ObliviousHarmony opened #33685 "PNPM Update: Address PNPM v6 Public Hoisting Differences"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Once we upgrade to PNPM v7 we are going to be subject to some of the new hoisting preferences. [The `public-hoist-pattern`](https://pnpm.io/6.x/npmrc#public-hoist-pattern) has ch

[2022-06-30 19:46] ObliviousHarmony opened #33686 "Update Monorepo to PNPM v7"
### Describe the solution you'd like

Update the version of PNPM in the monorepo to v7.

Closes https://github.com/woocommerce/woocommerce/issues/32885.

#### Prerequisites

- [x] https://github.com/woocommerce/woocommerce/issues/33683
- [x] https://github.com/woocommerce/woocommerce/issues/33684
- [x] https://github.com/woocommerce/woocommerce/issues/33685
- [x] https://github.com/woocommerce/woo

[2022-06-30 21:05] #33586 closed, assigned to moon0326

[2022-06-30 21:28] barryhughes commented on #33637
Thanks for the report, but we're not immediately able to replicate. Can you distill this down into a set of atomic steps we can follow to see the problem?

Do bear in mind here that we don't know the specifics of the tags (in the GTM sense) you are using.

[2022-07-01 00:26] rjchow commented on #33666
There were 3 other screenshots in the report I received from my colleague, but I noticed that they have already been fixed in WooCommerce 6.6.1, what version were you testing on?

[2022-07-01 00:36] #33408 closed, assigned to nobody

[2022-07-01 04:22] chihsuan commented on #32585
@pmcpinto Ah, right. That would be a problem. 🤔

[2022-07-01 06:03] chihsuan commented on #33570
Re-open, we'll also need to update woocommerce.com.

[2022-07-01 06:30] chihsuan commented on #32587
@verofasulo How do we determine whether the store details task is completed or not? In the current design, we mark it as completed when a user completes the last step in OBW.

[2022-07-01 06:40] chihsuan opened #33689 "Add unit tests for "tax" task"
**Issue Description:**

Add unit tests for the onboarding "tax" task in React admin

**Acceptance criteria**

At least add tests for the following files:

- ./tax/index.tsx
- ./tax/utils.ts
- ./tax/woocommerce-tax/index.tsx
- ./tax/avalara/card.tsx

[2022-07-01 06:45] chihsuan opened #33690 "Add unit tests for "StoreLocation" form"
**Issue Description:**

Add unit tests for "StoreLocation" form in react admin.

https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/tasks/fills/steps/location.js

[2022-07-01 06:48] chihsuan opened #33691 "Add unit tests for "purchase" task"
**Issue Description:**

Add unit tests for the onboarding "purchase" task in React admin

Acceptance criteria

Add tests for
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/tasks/fills/purchase.js

[2022-07-01 07:47] fernandotellado commented on #33666
6.6.1 too

[2022-07-01 07:52] chihsuan opened #33692 "Migrate `./profile-wizard/store-details` to TS"
### Describe the solution you'd like

convert all JS files in `./profile-wizard/store-details` to TypeScript

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-01 07:53] chihsuan opened #33693 "Migrate `./profile-wizard/product-types` to TS"
### Describe the solution you'd like

convert all JS files in `./profile-wizard/product-types` to TypeScript

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-01 07:55] chihsuan opened #33694 "Migrate `./profile-wizard/business-details` to TS"
### Describe the solution you'd like
convert all JS files in`./profile-wizard/business-details` to TypeScript

### Describe alternatives you've considered
No response

### Additional context
No response

[2022-07-01 07:58] chihsuan opened #33695 "Migrate `./profile-wizard/theme` to TS"
### Describe the solution you'd like
convert all JS files in ./profile-wizard/theme to TypeScript

### Describe alternatives you've considered
No response

### Additional context
No response

[2022-07-01 08:01] chihsuan opened #33696 "Migrate `./profile-wizard/*.js` to TS"
### Describe the solution you'd like

Convert all JS files in`./profile-wizard/` to TypeScript

- header.js
- index.js
- unsaved-changes-modal

### Describe alternatives you've considered
No response

### Additional context
No response

[2022-07-01 08:02] chihsuan opened #33697 "Migrate `./profile-wizard/industry.js` and `./profile-wizard/usage-modal.js` to TS"
### Describe the solution you'd like
convert `./profile-wizard/industry.js` and `./profile-wizard/usage-modal.js` to TypeScript

### Describe alternatives you've considered
No response

### Additional context
No response

[2022-07-01 08:08] chihsuan opened #33698 "Migrate `PaymentGatewaySuggestions` task to TS"
### Describe the solution you'd like

convert **PaymentGatewaySuggestions** task to TypeScript

https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions

### Describe alternatives you've considered
No response

### Additional context
No response

[2022-07-01 08:11] chihsuan opened #33699 "Migrate `./tasks/fills/*.js` and `./tasks/fills/steps` to TS in React admin"
### Describe the solution you'd like

convert `./tasks/fills/*.js` and `./tasks/fills/steps` to TS

- [ ] appearance.js
- [ ] connect.js
- [ ] index.js
- [ ] purchase.js
- [ ] woocommerce-payments.js
- [ ] ./steps/location.js

## Acceptance Criteria

- [ ] *.js files are converted to *.ts or *.tsx
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors
- [ ] Not break existi

[2022-07-01 08:50] verofasulo commented on #32585
I agree with @SamratBiswas1 - My original idea was to test all the 3 designs to split the variables and have more accurate data. Since we can't, I would lean toward a bolder approach and I would test the 3rd option, even if more variables are combined here. One of my assumptions that I'd love to test is that users skip this step because they are intimidated by this wall of mandatory fields as a st

[2022-07-01 08:52] verofasulo commented on #32587
I think the task should be marked as completed once the user added the store location by filling out the address/ city / country fields in Settings.

[2022-07-01 09:42] chihsuan commented on #33666
@fernandotellado Thanks, we'll investigate it more.

[2022-07-01 09:44] chihsuan commented on #32587
Thanks, sounds good! 🙌

[2022-07-01 09:47] pmcpinto commented on #32318
Correct. When do you think we should fire wcadmin_tasklist_task_completed task_name : shipping in this case? When the user visits the home screen?!

[2022-07-01 09:57] chihsuan commented on #32318
Yup, when the user visits the home screen. Currently, we only set the smart default setting when a user visits the home screen.
- #33547

[2022-07-01 10:01] pmcpinto commented on #33617
Yes. Sorry, I missed this ping :)

[2022-07-01 10:02] chihsuan opened #33700 "Change `wcadmin_tasklist_task_completed` event trigger timing for ReviewShippingOptions task"
**Issue Description:**

Change to trigger the `wcadmin_tasklist_task_completed task_name : shipping` event when we set the default settings for ReviewShippingOptions task.

I think we can override the `possibly_track_completion` method to skip it.

https://github.com/woocommerce/woocommerce/issues/32318#issuecomment-1170292312

[2022-07-01 10:18] Konamiman commented on #33611
Hi @heather-ferguson, we want to fix this issue but so far we've been unable to reproduce it. The url you provided seems to suggest that it's a staging site; would it be possible for you to create a user for us so that we can log in and take a look? If possible it would be great if we could get SSH as well, since we'll probably need to try a few tweaks on the WooCommerce code. Thank you very much!

[2022-07-01 10:18] webdados opened #33701 "[Enhancement]: Search users/customers by first name + last name"
### Describe the solution you'd like

In several countries, it's common to refer to people by first name + last name and, currently, it's not possible to search in this way with a WP_User_Query.
It's pretty easy to do it via a direct SQL query, but that doesn't make a lot of sense.

Regarding orders, we already have _billing_address_index and _shipping_address_index as meta in place, which solves

[2022-07-01 10:43] webdados opened #33702 "[Enhancement]: Implement $customer->get_formatted_billing_address() and $customer->get_formatted_shipping_address()"
### Describe the solution you'd like

Consider implementing the $customer->get_formatted_billing_address() and $customer->get_formatted_shipping_address() like we have for orders.

This can be useful to quickly show information about a customer in pages, emails, etc.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-01 11:13] heather-ferguson commented on #33611
Website: https://www.fergusonlearning.com

I have created a user ***@***.******@***.***, you should receive a separate email but I have included the password below.

*(pw removed by @barryhughes)*

I am not sure what SSH is or how to get you access to it.

Just FYI- My site is currently live and is not a staging site.

If you could provide instructions for your SSH request, I can try to do it. I a

[2022-07-01 11:56] ilyasfoo commented on #33369
Hi @SamratBiswas1 @verofasulo cc @pmcpinto, these are the tracks changes we have for shipping smart defaults. Let me know if they're ok

Existing track `wcadmin_extended_tasklist_task_completed` with props `task_name: 'review-shipping'` will be added

Existing track`wcadmin_tasklist_click` with props `task_name: 'review-shipping'` will be added

Unfortunately I can't find any that tracks when the

[2022-07-01 12:14] chihsuan commented on #33700
close this since we'll update it in another task.

[2022-07-01 12:14] #33700 closed, assigned to nobody

[2022-07-01 12:32] Axos11 commented on #33637
Thats the tag configuration of the conversion-linker tag which actually is the only one active while testing.

![image](https://user-images.githubusercontent.com/22347776/176894203-6c07803d-874d-4ae0-ad46-e308441ed940.png)

And i think that snippet has to be implemented in head as well

`<script>
    function gtag() { dataLayer.push(arguments); }
    gtag('consent', 'default', {
        'ad_storag

[2022-07-01 12:34] CostaMateus commented on #27295
Any updates?

[2022-07-01 12:42] chihsuan commented on #33369
Hey @ilyasfoo FYI, I originally created [an issue](https://github.com/woocommerce/woocommerce/issues/33700) for https://github.com/woocommerce/woocommerce/issues/32318#issuecomment-1169143039, but I've closed it. I think it belongs to this task.

[2022-07-01 13:02] swatipawarGS commented on #33517
Hi @jensfrost,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screenshots for reference :

https://user-images.githubusercontent.com/94531721/176838677-40754a95-7df3-411e-ba96-68548deaee8e.mp4

Please provide us with more details

[2022-07-01 15:54] alopezari opened #33705 "Unexpected behaviour on tasks chaining side panel"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

#33124 added a new side-bar panel which can be triggered by clicking the "Finish setup" button on the Activity panel. This displays on all non-Homescreen pages where the activity

[2022-07-01 17:19] heather-ferguson commented on #33611
I just made a huge mistake! I was trying to delete the site that was the staging site. When I deleted the staging site both listings disappeared and my site has now disappeared. Can you please help me access the backup so I can get my site back up. At this point I can see nothing! Please help!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Heather Ferguson
Sent:

[2022-07-01 18:04] #33438 closed, assigned to joshuatf

[2022-07-01 19:31] jonathansadowski commented on #33096
@swatipawarGS would you be able to try and reproduce this with a larger number of items?

[2022-07-02 04:54] mhd311 opened #33712 "add selection button in wordpress in image in product selection and much more missing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

hi i come from shopify store i have a lott of bug in wordpress i will give you small issue

see the picture i want delete the shipping from all country exept china and united sta

[2022-07-02 08:12] rjchow commented on #32179
Might want to consider this!

https://github.com/codemix/deprank#typescript-conversion

[2022-07-02 12:52] yordivd commented on #31370
Is there any progress or feedback on this?

[2022-07-02 17:39] billrobbins opened #33713 "Fatal Error with Deutsch (Schweiz) and PHP 8.0.20"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When setting the current user's language to Deutsch (Schweiz), the following fatal error will be triggered.  The site becomes inaccessible.  This happens with PHP 8.0.20 but not

[2022-07-02 20:40] qamaruldinhamza commented on #33408
Hi, you can regenerate this issue when you submit any product using API via PHP code, I am using woocommerce SDK in PHP and creating products according to your given API, and using version 3, but I was getting this message for all requests. then I edited the woocommerce plugin in Wordpress and commented the line https://github.com/woocommerce/woocommerce/commit/3fd9ee99aa72b9dc1524ab7b2a8be06add53

[2022-07-02 21:20] slaFFik opened #33714 "Disabling Analytics on Settings > Advanced > Features generates notices on all WooCommerce pages"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Disabling Analytics on Settings > Advanced > Features generates notices on Settings, WooCommerce > Home, WC > Orders, etc pages.

### Expected behavior

No notices at any time.

[2022-07-03 00:37] #32659 closed, assigned to nobody

[2022-07-03 22:36] AnnaMag commented on #33294
Closed in https://github.com/woocommerce/woocommerce/pull/33321 for the wcadmin_product_update event.
It is still to be investigated [how to include the change in the product_add_publish event.](https://github.com/woocommerce/woocommerce/issues/33406#issuecomment-1162172825).

[2022-07-03 22:36] #33294 closed, assigned to AnnaMag

[2022-07-04 00:37] #33328 closed, assigned to nobody

[2022-07-04 00:37] #33398 closed, assigned to nobody

[2022-07-04 02:26] chihsuan commented on #33599
Close this since this can be fixed in #33617

[2022-07-04 02:26] #33599 closed, assigned to nobody

[2022-07-04 02:52] chihsuan commented on #33600
Those will be fixed in https://github.com/woocommerce/woocommerce/pull/33716

[2022-07-04 03:58] chihsuan commented on #33602
Hey @rogermattic I was not able to reproduce it with the given instructions. AFAIK, the payment welcome experiment has been disabled so the payment menu is not displayed. Do we still need to update it?

[2022-07-04 04:41] #33673 closed, assigned to nobody

[2022-07-04 04:55] #33583 closed, assigned to nobody

[2022-07-04 07:30] jensfrost commented on #33517
Hi,

I have
Wordpress 6.0
WooCommerce 6.6.1
Flatsome 3.15.5

When I look at your video it looks like you are typing letters in the input
box. Do not do that. Tab to the input box so that it is highlighted then
press the Enter key only.

Den fre 1 juli 2022 kl 15:02 skrev Swati Pawar ***@***.***>:

--
Med vänlig hälsning
Jens Frost
040-410 477
- 040-410 477

[2022-07-04 08:58] #33618 closed, assigned to chihsuan

[2022-07-04 09:53] pmcpinto commented on #32585
@SamratBiswas1 @verofasulo thanks for the feedback. Just to clarify: the goal is to make the country field as mandatory even if users decide to skip the profiler, right?

I think I never saw the postcode displayed before the address. I think it's better to invert the order: Country/Region, Address, Postcode...

[2022-07-04 09:55] pmcpinto commented on #32318
👍  makes sense. Thanks for the clarification :)

[2022-07-04 12:56] thisissandip commented on #31470
Hi @smoen-godaddy, I have created a [document](https://woocommerce.com/document/product-reviews/) in `woocommerce.com/document` using the provided Google Docs.

Please review that and let me know if you want to add anything else 😄

[2022-07-04 14:26] nielslange opened #42622 "Refactor template folder names"
## Steps to reproduce

1. Go to https://github.com/woocommerce/woocommerce-blocks/tree/trunk/templates.
2. See that there’s a `templates` folder within a `templates` folder.

## Expected result

I didn't expect the `templates` folder to contain another `templates` folder as it's unclear which folder serves which purpose.

## Related discussion

p1656942462627839-slack-C02SGH7JBGS

[2022-07-04 15:20] jacoswan opened #33719 "validator.w3.org errors on Variable products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

validator.w3.org returns 3 errors on Variable products:

* The cellspacing attribute on the table element is obsolete. Use CSS instead.
* Bad value for attribute max on element i

[2022-07-04 15:58] ecgan opened #33720 "Modal header border bottom is missing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This is related to https://github.com/woocommerce/google-listings-and-ads/issues/1583.

When we open a Modal component, it is missing the border / separator between the modal hea

[2022-07-04 16:32] barryhughes commented on #31370
Hi! This is not something we are actively working on at present, as it is a low priority from our perspective. However, we are always interested in contributions from the community—and would be receptive to a pull request.

[2022-07-04 16:58] SamratBiswas1 commented on #32585
Yes. Country and email mandatory.

[2022-07-04 17:05] barryhughes commented on #33611
Sorry to hear that!

However, we don't have any access to your site or to your backups: I'd recommend reaching out to whichever company provides that service for you (and if you use a specific plugin to manage backups, they might have documentation you can refer to).

[2022-07-04 17:24] barryhughes commented on #30154
Hi! This issue has been closed, so we may not always see any updates you post.

I'm not completely sure what you are proposing (or what should happen if a certain hook isn't triggered or specific stage in the payment process is not reached), but do feel free to create a new issue with details and we can discuss/evaluate from there :+1:

This feels like customization territory, and it is unlikely w

[2022-07-04 18:55] #33560 closed, assigned to joelclimbsthings

[2022-07-04 19:28] barryhughes commented on #33674
Thanks for reporting this, I can see the same thing.

The underlying problem is that once you call `$product->delete()` the `id` property is set to `(int) 0`. Further operations respect this (which is why the second call to `->delete()` doesn't do anything: it's trying to delete product `0` at that point).

This probably isn't very clear, and could definitely be confusing. I'm a little unsure as t

[2022-07-04 20:19] octaedro commented on #33539
Hi @pmcpinto,
I started working on this issue and wanted to ask you about a few related details.

![Screen Shot 2022-07-04 at 15 21 45](https://user-images.githubusercontent.com/1314156/177203769-6832e0b1-5c83-42cd-8248-827fd2d4419d.png)

- The tooltip that we're using on the `Product data` box hasn't been designed to use links inside it. As a workaround, we can make the icon (`?`) a link.
- Is it

[2022-07-04 23:57] #33198 closed, assigned to jorgeatorres

[2022-07-05 00:37] #33430 closed, assigned to nobody

[2022-07-05 01:00] #33617 closed, assigned to chihsuan

[2022-07-05 02:10] #33622 closed, assigned to chihsuan

[2022-07-05 02:10] #33267 closed, assigned to chihsuan

[2022-07-05 04:06] chihsuan commented on #33666
Hey @fernandotellado, Thanks again for your report. I've tried it on a fresh site with 6.6.1 and es_ES.

Here’s what I found:

![payment](https://user-images.githubusercontent.com/27843274/176584126-971869ed-c64a-4fe0-8045-374dff83ed8c.png)

I did find a translation bug in the payment setting page. I've created [a PR](https://github.com/woocommerce/woocommerce/pull/33718) for it. Thanks for catchi

[2022-07-05 05:13] ilyasfoo commented on #33568
Thanks for reporting this, @nigeljamesstevenson. I agree this should be handled better.

@verofasulo, is the industry step in store profiler anywhere in your radar at the moment? Since users can just leave blank in "Other" industry, I think we should make it mandatory and display an error message if left empty. What do you think?

[2022-07-05 05:30] ilyasfoo commented on #33623
Hi @rogermattic, looking at the screenshot you provided, I believe that UI is coming from WooCommerce Payments plugin when it is installed & activated (as the URL is pointing to `/payments/connect`).

If WCPay isn't activated, this is the screen we're showing:

<img width="1276" alt="image" src="https://user-images.githubusercontent.com/3747241/177256006-1ee9a76d-a42b-4a69-b8e5-b3d6a8b8ec14.png">

[2022-07-05 05:38] ilyasfoo commented on #33602
Hi @rogermattic, similar to https://github.com/woocommerce/woocommerce/issues/33623, I believe the screenshot you're showing is a UI coming from the WCPay plugin.

This menu item should no longer be available since the experiment has ended, unless we're missing something. Do let us know if you can confirm that WCPay wasn't active and you still have that menu. Thanks!

[2022-07-05 07:29] chihsuan commented on #33625
Hey @rogermattic, Which country did you choose? I was not able to reproduce this. The following screenshot is what I saw in my local. As you can see, the additional payment list is displayed correctly for the US.

![Image](https://user-images.githubusercontent.com/4344253/177273320-3ecb0828-1985-4cdc-8938-f536552b7e09.png)

[2022-07-05 08:00] Aljullu commented on #42622
This appeared when we renamed `block-templates` and `block-template-parts` to `templates` and `parts`, which is the new convention (see woocommerce/woocommerce-blocks#5464).

Themes don't have this issue because `templates` and `parts` are part of the root, but there is currently no recommended way to store templates and templates parts in plugins. We originally added them inside the `templates` p

[2022-07-05 08:14] verofasulo commented on #33568
Hey @ilyasfoo thanks for tagging me!

Not at the moment, actually. We are going to review the whole profiler in Q3, so this step will be part of the redesign.

I don't know if the original idea was to make this field mandatory or not. I think it shouldn't be - the user should have the freedom to add more details if they like, otherwise "others" is a sufficient response to move forward.
What do you

[2022-07-05 08:51] gigitux commented on #42622
Great observations, @Aljullu!

This was my idea, but you are right.

Not very sure about this approach because woocommerce/woocommerce-blocks#6538 adds another nested folder called `blockified` and it can be redundant.

I guess the best option is:

[2022-07-05 08:55] EneMarine opened #33729 "[Enhancement]: Allow to exclude image based on mime type/extension in WC_Regenerate_Images ::maybe_resize_image()"
### Describe the solution you'd like

When we upload a SVG image and use ACF to get an object of all sizes we get a notice that there is no height or width index.
Resizing has no use for SVG Images.
It would be nice to have another filter allowing to filter a specific image according to image Data or Attachment ID.
Something like :
[code]

https://github.com/woocommerce/woocommerce/blob/97f3e2d609

[2022-07-05 08:56] ilyasfoo commented on #33568
What do you think?

Ah, that makes more sense. Yes I think choosing "Others" is meaningful enough and users should be able to leave it at that. I agree with you.

@nigeljamesstevenson Thanks again for raising your concern here, but we're fine with users not filling up the description in "others". I'm closing this issue.

[2022-07-05 08:56] #33568 closed, assigned to nobody

[2022-07-05 09:03] anant1811 opened #33730 "Review usage of wc_get_product() in Product Attributes Lookup"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Product Attributes Lookup, we are using wc_get_product(), which can return false, but we are not checking for that possibility.

Location: `plugins/woocommerce/src/Internal/P

[2022-07-05 09:46] pmcpinto commented on #32585
@SamratBiswas1 thanks for the clarification. I'd start with just country mandatory. The reason is that we only track users after they continue or skip this initial step. Suppose the numbers go down after making these changes, we don't have a way to tell if the drop is caused by the changes or just a slowdown in demand. And I'm afraid that we're adding too much friction if we have 2 mandatory field

[2022-07-05 09:55] pmcpinto commented on #33539
Yes.

Something like "Click in the icon to learn more about each product type"?

This is not that intuitive, but I'm not seeing a viable alternative. @jarekmorawski what do you think?

[2022-07-05 10:38] nigeljamesstevenson commented on #33568
Great stuff - thanks all!

On Tue, 5 Jul 2022, 9:56 am Ilyas Foo, ***@***.***> wrote:

[2022-07-05 11:48] mikestott opened #33732 "Mini Cart widget prevents WooCommerce notices from appearing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the WooCommerce Mini Cart widget is in the header it is preventing WooCommerce notices from appearing, for example: "Added to cart" on product pages and "Incorrect username/

[2022-07-05 12:48] ilyasfoo commented on #32318
@SamratBiswas1 @pmcpinto @chihsuan Actually, this is already an existing behaviour since when we've set up default shipping zones via smart defaults, [the completion](https://github.com/woocommerce/woocommerce/blob/97f3e2d6093d1f3f164fb5b28ad3c3c686999c63/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php#L71-L73) logic returns true, thus completion track is fired when homes

[2022-07-05 12:49] nielslange commented on #42622
@Aljullu Are the `email-templates` still used? I have the feeling that this is a left-over that's not used by the Woo Blocks plugin.

[2022-07-05 13:44] barryhughes commented on #33730
✍🏽 Internal ref p1656703027577569-slack-C7U3Y3VMY

A fatal error related to the above was taking place once per day:

[code]

[2022-07-05 14:51] verofasulo commented on #32585
@pmcpinto I think it's a great idea - it allows us to have more accurate data.

[2022-07-05 17:02] #33705 closed, assigned to joelclimbsthings

[2022-07-05 18:43] jessebrightman opened #33738 "Latest version has corrupted billing email field"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Latest version has corrupted billing email field

### Expected behavior

Billing email should show the customers email

### Actual behavior

A random email has been generated has

[2022-07-05 19:08] AnnaMag opened #33739 "Data: Most common updated fields in product management."

[2022-07-05 19:10] #33739 closed, assigned to AnnaMag

[2022-07-05 19:25] rogermattic commented on #33625
@chihsuan thanks for checking this.
Apologies, but when I try to reproduce this I get the same version as you did. Maybe I was checking this on an outdated version or something.

[2022-07-05 20:29] rogermattic commented on #33623
Hey @ilyasfoo you are right and  as I mentioned in the **Steps to reproduce**:
1. Onboard to WooCommerce from a WCPay eligible country (opt in to install WCPay during the initial onboarding)
2. Select Payments in the main navigation

The screenshot that I attached is coming from the state when WCPayments is installed (during the initial onboarding to WooCommecre) but haven't been activated yet. So

[2022-07-05 20:35] jomoweb commented on #32816
Hi, I'm checking in to see if there is an update/eta on this issue? I can confirm this is affecting 2 clients, and I don't manage too many WC sites. So it seems to reason this might be a widespread issue for any store owners with links in product descriptions using the csv importer. TIA.

[2022-07-05 20:37] rogermattic commented on #33602
Hey @chihsuan @ilyasfoo, I just double-checked and the menu item doesn't show up indeed. The screenshot that I attached was taken around 2 weeks ago, so I guess the experiment was still running?

In this case we don't need that Payments item in the navigation -  that's correct

Do you know what's the result of the experiment? Is this possible to align the design of the Payments hero (on Set up Pay

[2022-07-05 20:46] rogermattic commented on #33601
@pmcpinto
When I was testing the flow I assumed the experiment was already running, so I was expecting to see the banner there, but I just checked and it's still in _staging_. Sorry, my bad.

In this ticket I was only after the WCPay hero banner in Settings, which I assume is still part of Core, right?

[2022-07-05 20:48] ErikFenner commented on #32816
I just came across this issue too. I really hope a patch is in the works since this was identified a few months ago without an update.

[2022-07-05 20:50] rogermattic commented on #33600
Hey @chihsuan !

Thanks for asking!
When they are installed and activated, which means that they will be displayed in the table above we don't need to display the logos. The logos should only be visible in the initial stage. Thanks :)

[2022-07-05 20:53] rogermattic commented on #33598
@chihsuan I may be wrong but the screenshot that you attached looks like the view that comes after clicking on the Home task list... is that right?
I think what I was referring to was the view that you can get to from the Payments item in the main navigation.

[2022-07-05 23:47] jgudmundson opened #33742 "Analytics tax reporting calculation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Here is our scenario: We have a federal tax (Canada GST) and a provincial tax (BC PST) set up for our store. People in our province pay both taxes on an order shipped to our prov

[2022-07-06 00:16] #33230 closed, assigned to moon0326

[2022-07-06 01:15] moon0326 commented on #32159
The linked confetti lib is for Kotlin. For JS, https://github.com/yiliansource/party-js is an option.

[2022-07-06 01:57] chihsuan commented on #33625
No worries. 🙂  I'm going to close this. Free feel to reopen it if you encounter the issue again. Thanks!

[2022-07-06 01:57] #33625 closed, assigned to nobody

[2022-07-06 02:10] chihsuan commented on #33598
@rogermattic Yes. Sorry, please ignore the previous comment. It's a false alarm.

Does that mean we only want to update the view from the Payments item in the main navigation, or both?

I think we already have [another issue](https://github.com/orgs/woocommerce/projects/58/views/1) for the view from the Payments item in the main navigation.

[2022-07-06 02:13] #33368 closed, assigned to moon0326

[2022-07-06 02:44] ilyasfoo commented on #33623
Thanks for confirming, @rogermattic! Unfortunately, both the `Payment` menu item and screen you're referring to (`/payments/connect`) do not live in WooCommerce Core, so we don't have control over the UI. It lives in [WooCommerce Payments plugin](https://github.com/Automattic/woocommerce-payments/blob/trunk/client/index.js#L47:L56), so it needs to be handled by another team 🙏

[2022-07-06 02:53] ilyasfoo commented on #33602
@rogermattic Sure! This was the result paJDYF-1Yz-p2#comment-10831

I'm not sure I understand what you meant here, I believe the new design should be the one in the figma e428PXC0QyEwYqtX48lLq0-fi-12830%3A122180 correct?

This was the experiment design:

![image](https://user-images.githubusercontent.com/3747241/177457962-3437d7c8-e764-4492-b50e-5364ce6d0bfb.png)

[2022-07-06 03:19] chihsuan commented on #32242
Yes, but only a few strings are translated.

![Screen Shot 2022-07-06 at 11 14 50](https://user-images.githubusercontent.com/4344253/177460355-738c0abb-6756-4e80-a3f1-86215893e324.png)
https://translate.wordpress.com/projects/wccom/

However, I think we can use woocommerce language files since the text domain in remote APIs is `woocommerce`.

[2022-07-06 03:21] moon0326 commented on #33626
Hi @rogermattic ✋

Unfortunately, I wasn't able to reproduce it on my end. I've added the payment icons though. I'll make a PR for the payment icons first.

This is what I see when I go to Payment Settings without installing the WC Pay

![Screen Shot 2022-07-05 at 8 17 36 PM](https://user-images.githubusercontent.com/4723145/177460861-cdb6065a-f2ca-4687-a476-50efffc4cac3.jpg)

After installing WC

[2022-07-06 03:42] ilyasfoo opened #33745 "Deploy header task variant from task list experiment"
### Describe the solution you'd like

In experiment pbxNRc-1wQ-p2, it's found that header task variant (experiment 1) performed better. In this issue, we should deploy the experiment by replacing the call to ExPlat with hardcoded reference to choose experiment 1 variant.

We're aiming to get this in before WC 6.8 code freeze. No cleaning up is necessary in this task since we should handle it in th

[2022-07-06 03:44] ilyasfoo opened #33746 "Setup tasklist experiment cleanup"
### Describe the solution you'd like

This is a follow-up to https://github.com/woocommerce/woocommerce/issues/33745 since the completion of tasklist experiment to clean up experiment codes. We should also remove control & experiment 2 variant.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-06 05:16] r-martins commented on #32983
The problem happens if you **uncheck** the option "Enables Woocommerce Analytics" in the Woocommerce Settings.
<img width="840" alt="image" src="https://user-images.githubusercontent.com/191149/177473873-cc3a919f-8e7f-4285-83de-5bb6141ec63c.png">

Then you'll get

Warning: Undefined array key "id" in /path/to/woocommerce/wp-content/plugins/woocommerce/src/Internal/Admin/Settings.php on line 162

W

[2022-07-06 05:40] chihsuan opened #33747 "Wrong copy in the payment task"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The payment task UI is not aligned with the design.

### Expected behavior

❌ WCPay Eligible country
<img width="1440" alt="Payments _ WooCommerce Payments" src="https://user-ima

[2022-07-06 06:20] #33570 closed, assigned to chihsuan

[2022-07-06 06:20] #33598 closed, assigned to chihsuan

[2022-07-06 08:13] chihsuan commented on #32242
I've created an epic: 13783-gh-Automattic/woocommerce.com

[2022-07-06 09:21] ilyasfoo opened #33751 "Shipping smart defaults not handling edge cases"
### Describe the bug

It seems there are some gaps in the logic we used to manage default shipping zones and shipping task.

An example case would be a user from US who already has Jetpack installed but doesn't have WCS, they would not be able to see the shipping task, nor have the default shipping zones created.

- The check for shipping task to appear [doesn't include US](https://github.com/wooc

[2022-07-06 09:44] pepijn-vanvlaanderen opened #33752 "[Enhancement]: Performance get_total_spent customer"
### Describe the solution you'd like

Currently the query to get the total spent of a customer is using 2 joins on the postmeta table:

[code]

This will become slower overtime when postmeta table grows. Since there is already a lookup table available this query can be optimized to make use of the wc_customer_lookup and wc_order_stats table:

[code]

### Describe alternatives you've considered

##

[2022-07-06 10:00] priyankabehera commented on #31760
Hello I have added a new PR with only my code files as suggested in the last PR.

[2022-07-06 10:03] sanskritkm opened #33753 "Product description editor"
### Describe the solution you'd like

Hi,

In WC product long and short description editor classic it does not have much ability to edit product style, I know WP migrate to Gutenberg  but it cant use in WC product editor, should safe to use Advanced Editor Tools (previously TinyMCE Advanced)?

Thank,

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-06 10:24] #33626 closed, assigned to moon0326

[2022-07-06 11:09] Aljullu commented on #42622
@gigitux Works for me!

@nielslange I don't know what's the status right now, but at some point it was used when creating an account via the Checkout block. It seems to be called here:

https://github.com/woocommerce/woocommerce-blocks/blob/8d38108a9175d2eb67eb73629f9534c0529fb436/src/Domain/Services/Email/CustomerNewAccount.php#L59

[2022-07-06 11:34] nielslange commented on #42622
Ah, I wasn't aware of that and thought it was unused left-over functionality. Thanks for clarifying this, @Aljullu.

[2022-07-06 12:00] #33369 closed, assigned to ilyasfoo

[2022-07-06 14:07] swatipawarGS commented on #33677
Hi @alexx855,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.1 version, PHP version 8.0.20, and WordPress 6.0 version.

Please find below the screenshot for reference :
![#33677](https://user-images.githubusercontent.com/94531721/177490491-b56a6b53-2acb-40f7-acf5-5c1547282982.jpg)

Please

[2022-07-06 14:08] swatipawarGS commented on #33517
Hi @jensfrost,

Thank you for the updated information. we are able to reproduce the issue using the given updated information on our end with WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/177493590-9d5bd87b-766e-482f-bcce-691cade62a80.mp4

Priority of this issue will be assigned shortly aft

[2022-07-06 16:49] barryhughes opened #33757 "[Enhancement]: Let unit tests run independently of ESLint failures"
### Describe the solution you'd like

At present, an ESLint error will stop PHP unit tests from running (in CI, but it is not an issue locally). Example:

- https://github.com/woocommerce/woocommerce/pull/33756
- https://github.com/woocommerce/woocommerce/runs/7219123396?check_suite_focus=true

*If possible,* it would be great to let PHP tests run anyway and contain the ESLint failures as a separa

[2022-07-06 16:54] #33552 closed, assigned to louwie17

[2022-07-06 16:55] barryhughes opened #33758 "[Enhancement]: Show ESLint issues visually in PR diffs"
### Describe the solution you'd like

Various types of PHPCS issues are flagged visually:

<img width="752" alt="example-phpcs-issue" src="https://user-images.githubusercontent.com/3594411/177603320-cf6aab3d-2767-450b-982c-606f46ab9539.png">

At least for legacy JS, we don't seem to have the same thing ... but it could be handy.

### Describe alternatives you've considered

_No response_

### Addi

[2022-07-06 17:19] MosheGross opened #33759 "Rest API sales report single day"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When querying `/wp-json/wc/v3/reports/sales`
If you set `date_min` & `date_max` to the same day the `customers` field will always return 0

[code]
As the end_date is midnight and

[2022-07-06 17:37] lanej0 opened #33760 "Change storagestate to use variable instead of full path for Playwright"
According to some changes in [plugins/woocommerce/e2e/global-setup.js](https://github.com/woocommerce/woocommerce/pull/33462/files#diff-8176eca35e7b44ceda29c5aa8467abd1f6b35367e37db05263df45bb7b46454d), should we replace the `storageState` path with the variable `adminState`? That way we can reduce the lines to be changed in case we wanted to update the location of that json file.

I've seen there

[2022-07-06 17:41] lanej0 opened #33761 "Improve clarity of conditional"
Would this look clearer if we replaced
[code]
With this?:
[code]

_Originally posted by @alopezari in https://github.com/woocommerce/woocommerce/pull/33462#discussion_r914687263_

[2022-07-06 17:46] lanej0 opened #33763 "Combine page.goto and waitForLoadStates"
We can probably combine the `page.goto` and `page.waitForLoadState` commands into a single one, like `page.goto( '...', { waitUntil: 'networkidle' } )`?

Same with other similar occurrences.

_Originally posted by @rodelgc in https://github.com/woocommerce/woocommerce/pull/33462#discussion_r914926827_

[2022-07-06 18:14] artshostak commented on #33309
As someone with the exact same issue now having this error thrown when trying to access any WooCommerce setting in the dashboard on local dev, can someone point me to how to enable `Enables WooCommerce Analytics` again through the SQL database?

[2022-07-06 19:17] nixiack commented on #33730
full error, still occuring 1x per day:

[code]

[2022-07-06 19:48] jwad93 opened #33764 "[Enhancement]: Product Qty in a Variable Product should be equal to sum of stock qty of all variations."
### Describe the solution you'd like

Product Qty in a Variable Product should be equal to sum of stock qty of all variations.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-06 22:02] apmwebdev commented on #32854
36001649-hc

[2022-07-06 22:42] apmwebdev commented on #28998
36001779-hc. This user ran into it when using the product CSV importer/exporter, but same issue.

[2022-07-06 23:32] moon0326 commented on #33751
I think the simplest fix is adding the US to the [checklist](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php#L113)

cc @verofasulo

[2022-07-06 23:35] moon0326 commented on #33600
Closing it as this [PR](https://github.com/woocommerce/woocommerce/pull/33744) fixed the issue

[2022-07-06 23:35] #33600 closed, assigned to moon0326

[2022-07-07 02:00] ilyasfoo commented on #33751
@moon0326 I'm thinking having shipping zone set seems like better than having shipping task for US users 🤔

But yeah I think Veronica should be able to confirm it

[2022-07-07 02:11] #33745 closed, assigned to chihsuan

[2022-07-07 02:13] #33747 closed, assigned to chihsuan

[2022-07-07 02:14] #33656 closed, assigned to chihsuan

[2022-07-07 03:33] #33624 closed, assigned to chihsuan

[2022-07-07 06:33] moon0326 commented on #33751
Yup! That's works too 👍

[2022-07-07 09:46] barryhughes commented on #27814
Nothing further to add, I think following the breadcrumbs from the method you noted is probably a good place to start :+1:

[2022-07-07 09:51] pmcpinto commented on #33601
Hey @rogermattic judging by the issue title I assume that you're talking about this screen, which is from the plugin

<img width="1440" alt="Captura de ecrã 2022-07-07, às 10 50 54" src="https://user-images.githubusercontent.com/3380168/177745645-075a9077-8b5d-4e4d-83fd-6a95d7b038e0.png">

Let me know if I misunderstood your request. Thanks

[2022-07-07 11:57] barryhughes commented on #33611
In case handy, one way to replicate essentially the same problem is to create a single-file plugin as follows:

[code]

This simulates a plugin that includes `psr/container:2.0.0` as one of its dependencies. From there:

* Deactivate all plugins.
* Activate the test plugin.
* Activate WooCommerce, see fatal error.

<img width="924" alt="psr-container-fatal" src="https://user-images.githubuserconte

[2022-07-07 11:59] vedanshujain opened #33767 "Implement compatibility method for `get_post_type_object` for woocommerce objects"
In many places, we have usage of this pattern:
[code]

We need to have a replacement method for this, which will return an object with the same shape and attributes as the post_type_object. Perhaps we can call it `wc_get_type_object` which should return either post object or a custom object with same shape.

[2022-07-07 13:19] rogermattic commented on #33623
Hey @ilyasfoo thanks for your message. What's the best way I could direct it to the relevant team, please?

[2022-07-07 13:48] rogermattic commented on #33602
Hey @ilyasfoo

Would you mind posting a full link (sorry, I'm not sure where this is supposed to go)

Please, can you post an actual link - when I tried pasting `e428PXC0QyEwYqtX48lLq0-fi-12830%3A122180` into figma URL, it didn't work.

I don't recognise the view from the screenshot you attached, not sure what experiment that was.

The new design which I personally meant was this one that I includ

[2022-07-07 14:11] gglobalstep opened #33769 "[GlobalStep] "Navigation nudge note" is added under inbox notes after disabling new navigation on "WooCommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Navigation nudge note" is added under inbox notes after disabling new navigation on "WooCommerce > Home" page.

### Expected behavior

"Navigation nudge note" should not be adde

[2022-07-07 14:32] heather-ferguson commented on #33611
I switched server providers (no longer with bluehost) and magically woocommerce is working again.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Barry Hughes ***@***.***>
Sent: Thursday, July 7, 2022 7:57:12 AM
To: woocommerce/woocommerce ***@***.***>
Cc: Heather Ferguson ***@***.***>; Mention ***@***.***>
Subject: Re: [woocommerce/woocommerce] Fatal Error- Unab

[2022-07-07 16:35] jarekmorawski commented on #33539
We'd break a pattern that exists everywhere else. I wonder if we could show a different text based on the form selection? Then the tooltip could provide some details about the currently selected type. 🤔

[2022-07-07 16:36] #33456 closed, assigned to louwie17

[2022-07-07 16:53] louwie17 opened #33770 "Auto generate data store README's that use the CRUD store"
### Description

We would like documentation for each data store that extends the CRUD data store ([example](https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/data/src/product-shipping-classes/README.md)). The documentation for this will largely be the same across all the data stores that make use of `createCrudDataStore`.

It be nice to auto generate these, or have a good place wh

[2022-07-07 16:58] louwie17 commented on #33457
Fixed as part of #33765

[2022-07-07 16:58] #33457 closed, assigned to louwie17

[2022-07-07 16:58] louwie17 commented on #33458
Fixed as part of #33765

[2022-07-07 16:58] #33458 closed, assigned to louwie17

[2022-07-07 18:07] jorgeatorres opened #33771 "[COT] Add support for an `order_type` field"
Order types can be registered via `wc_register_order_type()` and are also propagated to WP as post types. We do this for refunds, but also 3rd party extensions (Subscriptions, for example) use it to register their own order types.

We currently have no way to store this information in the COT tables.

This issue's scope includes including the field in the schema, updating the migration to move thi

[2022-07-07 22:32] lurkertech opened #33773 "CSV importer: malformed regex in class-wc-product-csv-importer.php get_formatting_callback()"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In /includes/import/class-wc-product-csv-importer.php  get_formatting_callback()

The CSV importer code uses some dodgy regexps with preg_match() to decide which CSV fields to fo

[2022-07-07 22:50] barryhughes commented on #33197
Hitting pause on this task:

- There is value (and potential efficiency gains) if we add search support directly to WC Order Queries (internal conversation: p1657145661480799-slack-C0E1AV8T0).
- Once https://github.com/woocommerce/woocommerce/issues/33613 is finalized, we can act on the above and then address this issue.
- In the interim, I think progress can be made on related issue https://githu

[2022-07-07 22:51] haszari opened #33774 "`My account` subsection top heading (title heading) (e.g. `Orders`, `Payment methods`) not working in block-based themes (e.g. Twenty Twenty-Two)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `My account` page has a number of subsections (e.g. `Orders | Downloads | Addresses | Payment methods` etc).

In block based themes, for example, Twenty Twenty Two (the curre

[2022-07-07 22:52] haszari commented on #33774
When investigating a specific variation of this in WCPay / WC Subscriptions I realised it's a woo core or WP core issue. Related issues:

- https://github.com/Automattic/woocommerce-subscriptions-core/issues/181
- https://github.com/Automattic/woocommerce-payments/issues/4315

[2022-07-08 02:27] ilyasfoo opened #33777 "Set smart shipping feature flag to true"
Set `shipping-smart-defaults` values in `core.json` and `development.json` to true if we've confirmed everything is ready to go prior 6.8 code freeze.

Potentially, also set `shipping-setting-tour` to true if it's ready.

[2022-07-08 07:01] ilyasfoo commented on #33751
Re-ping @verofasulo 👋

[2022-07-08 07:57] verofasulo commented on #33751
Hey @ilyasfoo @moon0326 😄

If the store sells physical products, has JP installed but not WCS,  and is located in the US:

- [ ] Automatically turn on automated shipping options.
- [ ] Move the "Review shipping options task" to the "Things to do next" section.
- [ ] Address users to WooCommerce > Settings > Shipping once clicked on the task on the home page.
- [ ] Display intro tooltips in Shippin

[2022-07-08 10:22] vedanshujain commented on #33073
Hey @moon0326, can we add some caching as well around this, maybe saving the results in an option. It's not really ideal to fetch all shipping zones in every request. The pull request would prevent processing, but not the actual DB call (although it's still very helpful).

[2022-07-08 10:28] adrien44 commented on #33729
Same issue here !

[2022-07-08 10:38] tommusrhodus commented on #42663
@Aljullu I have added a PR that adds basic sorting abilities to this block woocommerce/woocommerce-blocks#6666 to assist with the partner site mentioned by @katiebethbrown

[2022-07-08 11:02] ilyasfoo opened #33782 "Add caching for loading shipping zones in shipping task"
@vedanshujain [Identified](https://github.com/woocommerce/woocommerce/issues/33073#issuecomment-1178819595) that the Shipping task queries DB for shipping zones in every request in [this PR](https://github.com/woocommerce/woocommerce/pull/33422). Ideally, we'd want to get this in before 6.8 code freeze, but I think we can have a little leniency to get it cherry-picked before the final release sinc

[2022-07-08 11:03] ilyasfoo commented on #33073
Thanks for pointing that out, @vedanshujain! I've created [another issue](https://github.com/woocommerce/woocommerce/issues/33782) to tackle this so it's easier for us to keep track of it. I assume this would need to be fixed by WC 6.8?

I'm re-closing this issue, if we have anything to discuss please have them at the new issue. Thanks!

[2022-07-08 11:03] #33073 closed, assigned to moon0326

[2022-07-08 11:05] vedanshujain commented on #32440
hey @vaiyyy , can you share some details with us? for example, a screenshot of woocommerce permalinks setting page (which is usually at `wp-admin/options-permalink.php`) and settings in the SSL plugin as well. This will help us in reproducing the issue as this error can happen for so many reasons which may or may not be bugs (maybe some setting is misconfigured).

[2022-07-08 11:13] ilyasfoo commented on #33623
Hi @rogermattic, I believe team @woocommerce/moltres were working on the `/payments/connect` screen. Sorry if I tagged the wrong team!

[2022-07-08 11:27] ilyasfoo commented on #33602
@rogermattic The experiment I was referring to is pbxNRc-1cv-p2

Anyway, since the screen isn't handled by us, it's similar to the other issue https://github.com/woocommerce/woocommerce/issues/33623

[2022-07-08 11:45] #32668 closed, assigned to jorgeatorres

[2022-07-08 12:58] ismaeldcom commented on #33623
Hi @ilyasfoo! Yes, we've worked before with that screen. And I think the issue @rogermattic mentions might be caused by the expected design being under an Explat experiment. We've never decided to commit to the new or older design after the experiment.

[2022-07-08 14:42] SamratBiswas1 commented on #32585
Hi @verofasulo - Does that mean we need to create a variant 4 with only country as mandatory? and then go ahead and implement it?

[2022-07-08 16:36] bhagatakshay662 opened #33785 "Sale price is not updating using the REST API V2"
I am trying the update the **Sale Price** of the Product using the REST API into the Laravel. But it is not reflecting at Woo Commerce side. I am using V2 API version.
Is their anything missing from me. Please guide.

[2022-07-08 18:19] moon0326 commented on #33751
I think that's most reasonable approach 👍

[2022-07-08 18:40] barryhughes commented on #33199
☝🏽 Draft PR ready, see notes there: we should revise this once COT querying is rolled out (there are some things regarding sorting of order totals we can do differently at that point).

[2022-07-08 23:02] Sabs40 opened #33792 "Warenkorb und Kasse funktionieren nicht und ich kann keine Vorschau der Versandkosten anzeigen"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Meine Warenkorbseite und die Kasse funktionieren nicht und ich kann keine Versandkosten direkt bei den Produkten anzeigen, da steht immer nur die komplette URL

### Expected beha

[2022-07-09 10:12] langhenet opened #33793 "Expose attributes terms in block editor"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I used to be able to query WC attribute terms in the block editor, but it's apparently it's not possible anymore.

It works for `product_cat` and `product_tag` though with the st

[2022-07-09 13:17] jacoswan opened #33794 "CSV Importer: import fails if Visibility in catalog or Tax status values are uppercase"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When importing products via the CSV Importer, the import fails if either value in the **Visibility in catalog** or **Tax status** columns are uppercase. Those values are **Visibl

[2022-07-10 16:16] luis-spb opened #33795 "Invalid download link"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I’m getting the message below when I try to access a download file

[code]

Thanks

### Expected behavior

Available download the link

### Actual behavior

Getting error message

[2022-07-10 18:22] thelogicwizards commented on #33782
Affected user: [5341199-zen](https://woothemes.zendesk.com/agent/tickets/5341199)

I suggested a workaround: rolling back to [release 6.5.1](https://github.com/woocommerce/woocommerce/releases/tag/6.5.1) to avoid this until we find a patch.

[2022-07-11 07:29] kkmuffme opened #33804 "[Enhancement]: keep "Restock" checkbox disabled until at least 1 item has QTY > 0 input"
### Describe the solution you'd like

We have had it happen multiple times, that shop managers refunded an order by just putting an amount but keeping the QTY to be refunded empty.
Nevertheless they checked the "Restock" checkbox and then though there's a bug because the QTY never increased.
This is due to the fact that it will only restock those products that have a "Refund QTY" input.

By having

[2022-07-11 07:38] CacheMeOwside commented on #33253
Thanks everyone for providing a detailed explanation.

@barryhughes - I have a raised a PR as per your suggestions to fix the order count displayed in both 'Order status changed' and 'Removed personal data' notice messages.

Please let me know if this looks good or if any changes are required.

[2022-07-11 07:40] wyter commented on #33228
5347987-zen

[2022-07-11 09:02] iamheretoscale opened #33805 "Woocommerce last version issue by Woocommerce api manager"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
After update woocommerce to last version, Api access expire in

[2022-07-11 09:17] #33365 closed, assigned to rjchow

[2022-07-11 10:43] codeagencybe opened #33806 "API update existing product SKU returns product_invalid_sku"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After creating a new product via API (successful) trying to update that same product later with more and other details but still the same SKU, it returns an error as below.
I'm n

[2022-07-11 13:09] bakkbone commented on #9320
Why is this closed and how is this still not core? Shipping is the **only** thing you can't enter inclusive of tax... In Australia, for example, it is extremely rare for merchants to show or calculate absolutely anything exclusive of tax at a retail level so having to customise via code or recalculate all shipping is onerous.

[2022-07-11 13:20] UltimateByte opened #33808 "PHP 8.1 Compatibility Deprecated code"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce uses some obsolete code for PHP 8.1

Upon visitting any backoffice page, we can see the errors with the help of Query Monitor plugin.

These are only warnings, howeve

[2022-07-11 14:23] gglobalstep opened #33810 "[GlobalStep] Revenue table titles and column sequences fail to match with its respective CSV file downloaded from the email."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Revenue table titles and column sequences fail to match with its respective CSV file downloaded from the email.

### Expected behavior

Revenue and Orders table titles and column

[2022-07-11 14:52] tomalec opened #33811 "e2e-environment throws when npm linked"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

To test the latest version and debug I use (p)`npm link` flow. When I linked `@woocommerce/e2e-environment` it throws:
[code]

I guess it's because the package assumes that it's

[2022-07-11 14:59] #33331 closed, assigned to jacob-sewell

[2022-07-11 18:15] ObliviousHarmony commented on #33811
Hello @tomalec,

This is a duplicate of https://github.com/woocommerce/woocommerce/issues/33684. Thank you for reporting it!

[2022-07-11 18:15] #33811 closed, assigned to nobody

[2022-07-11 19:30] ObliviousHarmony commented on #33829
Hello @Cheekymate06,

As this is a bug in Storefront itself, I'm going to transfer the issue over to that repository.

[2022-07-11 19:49] apsjohn commented on #9320
@daigo75 @arnaudpfu Can you please help me modify one of your functions to make this calculation instead?
For example if we have 24% vat on a shipping_price which is 4 euros
$rate->set_cost ( 4 / 1.24 );
and set the applicable tax to ( 4 - ( 4 / 1,24 ) )

Cause i am connecting my woocommerce to odoo erp which calculates the taxes on its own which means that with your method, for the 4 euro shippin

[2022-07-11 23:13] moon0326 opened #33814 "WooCommerce Status widget shows errors when Analytics feature is disabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce Status widget on the dashboard shows errors when Analytics is disabled from WooCommerce -> Settings -> Advanced -> Features.

### Expected behavior

The widget should

[2022-07-12 00:19] eclairemarie opened #33817 "reCAPTCHA"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

reCAPTCHA is displaying on the homepage, events page, and other pages (https://www.prmi.org). This feature is not needed on these pages, my hosting company says that it is becaus

[2022-07-12 00:34] psealock commented on #33817
It seems this issue will be with plugin developers at Accept Stripe Payments. I see you have WooCommerce Stripe Gateway installed, perhaps that could be an option for you.

[2022-07-12 00:34] #33817 closed, assigned to nobody

[2022-07-12 00:40] psealock commented on #33805
Could you please add steps to reproduce?

[2022-07-12 00:51] psealock commented on #33792
Would you be able to translate this into english using translate.google.com ?

[2022-07-12 00:52] psealock commented on #33785
Hi @bhagatakshay662 would you be able to use the issue template complete with reproduction steps?

[2022-07-12 00:56] psealock commented on #33764
Can you please use the issue template, complete with steps to reproduce?

[2022-07-12 01:53] psealock commented on #33738
Could you give more detailed steps for reproduction please?

[2022-07-12 02:07] psealock commented on #33712
Hi, could you isolate to one issue you've found and give step by step instructions on reproducing?

[2022-07-12 02:29] adrianduffell commented on #32585
@verofasulo in issue #32587, we'll streamline the "Store details" Task and remove the ability to go back to the profiler. Would we need a new way for users to return to the profiler?

[2022-07-12 03:04] nicdwilson commented on #31389
In 5366789-zen we see this behaviour also affecting the product sorting screen. Confirmed that it is not working on Atomic sites, but is working on regular installs. Updated title to reflect this.

[2022-07-12 04:14] #33782 closed, assigned to moon0326

[2022-07-12 04:15] #33814 closed, assigned to moon0326

[2022-07-12 06:47] iamheretoscale commented on #33805
Dear @psealock

1- Install wordpress last version (6.0)
2- install woocommerce last version (6.6.1)
3- install woocommerce api manager last version. (2.3.12)
4- add new product (simple or Variable), Downloadable, virtual, API is selected.
5- set all required fields.
6- on the API, API Access Expires set any desired number. for ex: 365
![image](https://user-images.githubusercontent.com/26019907/178

[2022-07-12 07:18] vedanshujain commented on #32841
Closing the issue now, but let's add a public RFC as well as part of the PR.

[2022-07-12 07:18] #32841 closed, assigned to Konamiman

[2022-07-12 08:23] verofasulo commented on #32585
@SamratBiswas1 yes

@adrianduffell I don't think it's needed. They are 2 different parts of the experience and apart from adding store location and choosing a theme, I don't see why users should go back to fill out information like industry and type of products. What do you think?

[2022-07-12 08:39] ajayghaghretiya-multidots commented on #33794
I have added PR to fix this issue https://github.com/woocommerce/woocommerce/pull/33820

[2022-07-12 09:41] aezazs-multidots opened #33822 "The comment in the get_formatted_shipping_address function is wrong"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the get_formatted_shipping_address function, the billing comment is added instead of shipping.

Below I have added a screenshot of the comment wrong added in this function.

!

[2022-07-12 10:15] oglekler opened #33824 "Make WC_Admin_Taxonomies work with other taxonomies apart from product_cat"
### Describe the solution you'd like

Make an array with default taxonomies (product_cat) as WC_Admin_Taxonomies attribute.
Add filter for possibility to apply all class functionality to several taxonomies in an iteration and pass taxonomy slug to methogs.
For example to add thumbnail to tags and not to duplicate existing functionality.

### Describe alternatives you've considered

I was needed to

[2022-07-12 10:35] oglekler opened #33825 "Add filter to the beginning of WC_Emails init method to exclude or replace existing email classes"
### Describe the solution you'd like

When filter 'woocommerce_email_classes' is getting hold of emails classes they've already added hooks and if you need to replace or remove email from this list it is not working as expected, and you need to remove hooks which were added as well. I am suggesting filtering the list of emails to classes before initiation.

Add filter 'woocommerce_before_email_cla

[2022-07-12 10:45] gigitux commented on #33829
Hello, @Cheekymate06 thanks for opening the issue.

@ObliviousHarmony I'm able to reproduce the problem with the Astra theme too. If you check the attached video, you can see that the computation of the height on the div with class `flex-viewport` is done after the click of the user.

This computation is done by WC Core [here](https://github.com/woocommerce/woocommerce/blob/18a4b802ed2dbedcdd5320a

[2022-07-12 11:48] adrianduffell commented on #32585
@verofasulo  Yeah, I'd agree with that. My initial thoughts were "share information about your store later" might mislead the user into thinking they could come back to the profiler later. On second thoughts, I can see we'll give them the opportunity to share those more important items later via the task list.

[2022-07-12 13:01] verofasulo commented on #32585
That's a great point @adrianduffell - What about changing the copy into "Skip"?
Generally speaking, I think we should change the approach but it's something we can do later when we rethink the signup experience. I think we should differentiate between steps, as right now the user can just skip or complete the profiler entirely - there's no possibility to make some steps mandatory and allow the use

[2022-07-12 13:11] djzgfx opened #33826 "Apple Pay / GPay Not Appearing On ChromeMobile"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Apple Pay shows up on Safari mobile, but not on Chrome mobile. Using latest public iOS, latest Chrome on app store, iPhone 13 Pro Max. Gpay does not appear on chrome mobile as it

[2022-07-12 13:41] adrianduffell commented on #33657
@pmcpinto Which event would the prop be added to?

[2022-07-12 14:22] swatipawarGS commented on #33714
Hi @slaFFik,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/178426046-14b13f62-4be2-4c6c-83e5-fee6836f0b57.mp4

Please provide us with more details and

[2022-07-12 14:22] swatipawarGS commented on #33433
Hi @tonysilva16,

Thank you for the updated information. we are able to reproduce the issue using the given updated information on our end with WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screenshot for reference :

![#33433](https://user-images.githubusercontent.com/94531721/178461600-5c7e5ffa-6db2-4f83-9ec7-6a173b5cd663.jpg)

Priority of this issue will be assigne

[2022-07-12 14:23] swatipawarGS commented on #33096
Hi @eclair4151,

Thank you for the updated information. but we are unable to reproduce the issue using the given updated information on our end with a larger number of items in the cart, WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/178433280-a4b3e1c0-baae-4a2e-abaa-ec64a00f56a6.mp4

Please

[2022-07-12 14:24] swatipawarGS commented on #32894
Hi @netropol,
Thank you for the updated information. but we are unable to reproduce the issue using the given updated information on our end with WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/178495211-65d7e478-97ca-4ca1-b900-9fd0db344e67.mp4

Please provide us with more details and any add

[2022-07-12 14:25] swatipawarGS commented on #32070
Hi @jnineb, @clicknathan,

Thank you for the updated information. we are able to reproduce the issue using the given updated information on our end with WooCommerce 6.6.1 version and WordPress 6.0 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/178465932-87996623-15ac-4e37-b2aa-81fa4a70b6fb.mp4

Priority of this issue will be assigned

[2022-07-12 15:19] JoshuaGoode commented on #32816
It appears other HTML, perhaps more than just a tags, may be causing this issue as well.

In my testing, it appears that sites that have had WooCommerce installed prior to recent updates -- but are still running the latest Woo -- do not encounter this issue.

However, I can consistently reproduce it on newer sites that have installed Woo since around 6.4 and after.

[2022-07-12 15:43] tomalec commented on #33684
WDYT, of providing a param to provide the custom path manually? If https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/e2e-environment/utils/app-root.js is about to provide the app root, and all it does is just blindly assume it is `node_modules`, which may not be accurate. Maybe it would be safe just to get it set apriori explicitly?

The person setting up e2e env knows where they l

[2022-07-12 16:08] JoshuaGoode commented on #32816
After further review, this is an issue with WordPress core -- not WooCommerce.

CSV files with HTML can fail the WordPress MIME validation check.

* https://core.trac.wordpress.org/ticket/40175
* https://core.trac.wordpress.org/ticket/50098

#### Workaround

There are a few workarounds outside of removing the HTML from the CSV.

`define( 'ALLOW_UNFILTERED_UPLOADS', true );` can be temporarily adde

[2022-07-12 17:43] slaFFik commented on #33714
WP 6.0.1, WC 6.6.1, no other plugins activated. Just replicated on a new clean instawp.io site.
No orders, imported default sample products.
Steps in my issue desc are still relevant, issue reproducable.
Make sure you have WP_DEBUG enabled and your environment is not silencing PHP Notices. Also check your PHP version (mine is PHP 7.4 as stated in the status report).

Also, these are PHP Notices, s

[2022-07-12 18:13] ObliviousHarmony commented on #33829
Thanks for taking a look @gigitux, we can transfer it back. Since you've tracked the issue down, would you be willing to open a pull request? 😄

[2022-07-12 18:24] balindenberg commented on #29116
Also facing the same issue. Grabbing products works fine and adding works fine from local API client with the nonce header, but can't get it to work on frontend. Same CORS issue. Any luck?

[2022-07-12 18:42] #33557 closed, assigned to octaedro

[2022-07-12 19:54] nicholasjeberlin commented on #29903
5368056-zen

[2022-07-12 21:06] octaedro commented on #33539
Thank you @jarekmorawski,

Good idea! Do you have the texts that will be shown there?

// CCing @pmcpinto

[2022-07-12 21:35] coreymckrill commented on #33315
The PR to close this was reverted in #33706 so I'm reopening this issue.

[2022-07-12 23:41] Dloranger opened #33835 "Shipping fields incorrect for belgium market"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

State/county field is marked as required entry, but the text entry field is not visible.  Customers from this market cannot complete checkout process

### Expected behavior

Cust

[2022-07-13 02:33] #33810 closed, assigned to nobody

[2022-07-13 03:10] chihsuan commented on #33720
Looks like this was changed intentionally about 3 years ago in this PR https://github.com/woocommerce/woocommerce-admin/pull/3142.

The modal in onboarding flow also has no border.

![Screen Shot 2022-07-13 at 11 01 01](https://user-images.githubusercontent.com/4344253/178642232-1d7c81b2-5674-4775-96a1-2e1469b4adf8.png)

@jarekmorawski @verofasulo What do you think? Is this a bug?

[2022-07-13 03:20] chihsuan opened #33838 "Migrate @woocommerce/data notes store to TS"
### Issue Description:

Migrate @woocommerce/data [notes store](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/data/src/notes) to TypeScript.

Example PR
- https://github.com/woocommerce/woocommerce/pull/33482

### Additional context
https://github.com/woocommerce/woocommerce/issues/32179

pdibGW-y2-p2

[2022-07-13 03:22] chihsuan opened #33839 "Migrate @woocommerce/data navigation store to TS"
### Issue Description:

Migrate @woocommerce/data [navigation store](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/data/src/navigation) to TypeScript.

Example PR
- https://github.com/woocommerce/woocommerce/pull/33482

### Additional context
https://github.com/woocommerce/woocommerce/issues/32179

pdibGW-y2-p2

[2022-07-13 03:23] chihsuan opened #33840 "Migrate @woocommerce/data reports store to TS"
### Issue Description:

Migrate @woocommerce/data [reports store](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/data/src/reports) to TypeScript.

Example PR
- https://github.com/woocommerce/woocommerce/pull/33482

### Additional context
https://github.com/woocommerce/woocommerce/issues/32179

pdibGW-y2-p2

[2022-07-13 03:24] chihsuan opened #33841 "Migrate @woocommerce/data reviews store to TS"
### Issue Description:

Migrate @woocommerce/data [reviews store](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/data/src/reviews) to TypeScript.

Example PR
- https://github.com/woocommerce/woocommerce/pull/33482

### Additional context
https://github.com/woocommerce/woocommerce/issues/32179

pdibGW-y2-p2

[2022-07-13 03:26] chihsuan opened #33842 "Migrate @woocommerce/data settings store to TS"
### Issue Description:

Migrate @woocommerce/data [settings store](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/data/src/settings) to TypeScript.

Example PR
- https://github.com/woocommerce/woocommerce/pull/33482

### Additional context
https://github.com/woocommerce/woocommerce/issues/32179

pdibGW-y2-p2

[2022-07-13 03:27] chihsuan commented on #33105
Close this. I've created smaller issues for the remaining stores:

- https://github.com/woocommerce/woocommerce/issues/33838
- https://github.com/woocommerce/woocommerce/issues/33839
- https://github.com/woocommerce/woocommerce/issues/33840
- https://github.com/woocommerce/woocommerce/issues/33841
- https://github.com/woocommerce/woocommerce/issues/33842

[2022-07-13 03:27] #33105 closed, assigned to nobody

[2022-07-13 05:16] psealock commented on #33742
Thanks for the report @jgudmundson. It sounds like the new Analytics does not respect a manually deleted tax from an order.

The new Analytics uses lookup tables that store computed data when an order is placed or updated. I'm curious if you re-process the data, the stats will correct themselves.

Can you go to Analytics > Settings and uncheck "Skip previously imported customers and orders"

![ima

[2022-07-13 05:21] psealock commented on #33795
Hi @luis-spb, can you please provide more detailed instructions on how to reproduce this bug? Thanks

[2022-07-13 05:24] moon0326 commented on #33751
Hey @verofasulo  ✋

After working on this issue, I realized that we are enabling shipping smart defaults when the store sells physical products and the country is the US with all the requirements combined. Is this okay?

The original [issue](https://github.com/woocommerce/woocommerce/issues/33366) states we should enable shipping smart defaults when the store is in the US and

1. Sells physical pr

[2022-07-13 08:27] #33777 closed, assigned to chihsuan

[2022-07-13 08:52] chihsuan opened #33845 ""Setup Check List" overlaps with the Ellipsis menu after completing all the tasks"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Setup Check List" overlaps with the Kebab menu after completing all the steps under the setup checklist on "Woocommerce > Home" page.

![kebab menu](https://user-images.githubus

[2022-07-13 08:55] chihsuan commented on #33845
When all the tasks are completed, the progress bar is hidden, which results in this UI overlaps issue.

[2022-07-13 09:07] toddlahman commented on #33805
WooCommerce API Manager support form link:

[Open support ticket](https://woocommerce.com/my-account/create-a-ticket/?select=260110)

[2022-07-13 09:13] josemarques commented on #33720
@ecgan  @chihsuan the border was removed when we introduced titleless modals, as per the example bellow:

![image](https://user-images.githubusercontent.com/10561050/67925788-4848d900-fbef-11e9-95f9-747a3bed972d.png)

So I believe introducing it back would actually create an issue for titleless modals, but we should confirm if that's the case.

[2022-07-13 09:34] pmcpinto opened #33846 "Marketing task - tweak flow after installing a plugin"
**Description:** currently, when the user installs a plugin in the marketing task, we automatically redirect him to the home screen. I think keeping him in the marketing task makes more sense where he can install other extensions or click "Manage" to continue setting up the extension.

**Acceptance criteria:**
- [ ] Keep the user in the marketing task after installing an extension

[2022-07-13 09:34] pmcpinto commented on #33846
@verofasulo @SamratBiswas1  @adrianduffell  let me know if this makes sense

[2022-07-13 10:10] vedanshujain commented on #32453
Hey,  are you using command line to run this code, if so then the `–` which is En dash character might be getting converted to `-` hyper character. I am not able to reproduce this in either interface or when running via a web request but does happen when using my command line.

[2022-07-13 10:41] gigitux commented on #33829
Hi!
I opened the PR (#33847), but I'm not sure which team I should assign the review to. Could you take a look? Thanks! 🙇‍♂️

[2022-07-13 11:02] pmcpinto commented on #33657
We're using wcadmin_task_view to track the marketing task view. So we can add a prop to this event or create a new one just for this purpose. Let me know what you think. Thanks

[2022-07-13 11:56] vthamada opened #33849 "Versão 6.7.0 não está funcionando"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Fui tentar fazer a atualização para a versão 6.7.0 e ela gerou erro fatal, segue log:

Ao procurar ajuda com esse problema, você pode ser solicitado a fornecer algumas das seguin

[2022-07-13 12:57] shankeyb commented on #32659
Sorry for delay in replying

This issue has occured when the server is restarted, the cron job works but scheduler actions doesn't....The only thing i have done is to restore the database to earlier state where the cron jobs and scheduler actions are working. I have only noticed AutomateWoo plugin having logs of future dates along with the scheduler actions....This thing also effects the updraftpl

[2022-07-13 14:03] erikdemarco commented on #32453
@vedanshujain No. My guess this has something to do with wp_query:
https://developer.wordpress.org/reference/classes/wp_query/#search-parameters

So if there is a minus symbol, wp will treat the word after that as excluded word. Because when i clean all 'minus' character before query. it works.
What is your opinion?

[2022-07-13 14:08] swatipawarGS commented on #33714
Hi @slaFFik,

Thank you for the updated information. but we are unable to reproduce the issue using the given updated information on our end with WooCommerce 6.7.0 version, PHP 7.4.30 version, and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/178677856-b777b7f2-01b8-4be7-a118-213e9bf282b9.mp4

Please provide us with m

[2022-07-13 14:27] #33849 closed, assigned to nobody

[2022-07-13 16:07] ObliviousHarmony commented on #33829
Thanks for doing that @gigitux, I've gone ahead and requested a review from the appropriate team!

[2022-07-13 16:09] SamratBiswas1 commented on #32585
@verofasulo @adrianduffell - I think 'Skip' is an universally understood. I would be agree with it.
Furthermore, I would like to have a 'Skip' option on all the profiler pages. It gives a user to 'Skip' anytime they want. If the user doesn't want to provide the info then we lose them completely and so an option of 'Skip' will allow us to move them to product task

[2022-07-13 16:16] asteriskmmt opened #33866 "[Enhancement]: Add Shortcode for "My Products" which ignores out of stock visibility status."
### Describe the solution you'd like

I am unable to show users products that they purchased once the product goes out of stock because of conflict with the “Hide out of stock products” setting.

I do not want to show OOS products in the Shop, but I do want Customers to be able to view items they have purchased on their “My Account” page regardless of stock visibility setting / status.

### Descri

[2022-07-13 16:39] joshbetz opened #33868 "Reports API: Add status filter to `/reports/orders/totals` endpoint"
There are some cases where we only need the total number of orders for a subset of statuses. This filter will allow us to request only the statuses that we need and avoid the ones we don't. For sites with many completed orders, this could be a big improvement in cases where we don't need the number of completed orders.

[2022-07-13 16:42] joshbetz opened #33869 "Reports API: Add list of order statuses"
There are cases where we want a list of possible order statuses. We already have `/wc/v3/reports/orders/totals`, but that gives us the total number of orders for each status. We should be able to get a list of just the slugs and names without any database queries.

[2022-07-13 19:11] SamratBiswas1 commented on #33846
Makes sense. I would add that we do the same for cash on delivery step. Instead of taking the user to WCPay, we let the user to clock 'manage' to continue setting it up.

[2022-07-13 22:54] izaakbeer commented on #26289
2022/07/14 : Encountering this exact bug too

Using WP 6.0.1 and WooCommerce 6.6.1.
Downgrading WooCommerce doesn't resolve the issues, sadly.

The solution by @hassanyousufx works, however, it seems to only work when a user is logged-in (as it uses wp_get_current_user). Correct me if I'm wrong! Is there any way to adjust the snippet so that it checks the e-mail that is entered in the WooCommerce

[2022-07-13 22:59] jorgeatorres opened #33876 "[COT] `query()` method: add support for meta queries"
Add support for `meta_query` similar to `WP_Query`.

[2022-07-13 23:01] jorgeatorres opened #33877 "[COT] `query()` method: add support for date queries"
Similar to `date_query` in `WP_Query` we should add support for various more complex queries on date fields, including shortcuts such as "<" and "..." that the current `query()` method supports.

[2022-07-13 23:03] jorgeatorres opened #33878 "[COT] `query()` method: add support for legacy fields"
Legacy fields (from either WP_Query) or WC_Order_Query should be -if possible- translated automatically to current query vars. For example, automatically changing a query involving `_date_paid` to a query on the `date_paid_gmt` column.

[2022-07-13 23:04] jorgeatorres opened #33879 "[COT] `query()` method: allow extensibility by 3rd parties"
3rd party code should be able to extend query vars (and the query itself) to allow querying of other tables/fields.

[2022-07-13 23:06] jorgeatorres commented on #33613
Per p1657716951293399-slack-C0E1AV8T0, we're splitting this up in various issues (linked below), and this issue will deal with basic support (i.e. fields already in the COT tables).

- https://github.com/woocommerce/woocommerce/issues/33876
- https://github.com/woocommerce/woocommerce/issues/33877
- https://github.com/woocommerce/woocommerce/issues/33878
- https://github.com/woocommerce/woocommerc

[2022-07-14 00:37] #32827 closed, assigned to nobody

[2022-07-14 00:47] WillBrubaker commented on #32126
36062300-HC experiences this as well

[2022-07-14 01:25] psealock commented on #33805
Thanks @toddlahman. @amirassari2002 Can you open a ticket to the link above? I will close out this issue, but you'll still be able to reference it for the reproduction steps.

[2022-07-14 01:25] #33805 closed, assigned to nobody

[2022-07-14 01:29] chihsuan commented on #33720
@josemarques Thanks for the explanation!

Yes, it would affect the other modals.

AFAIK, all modals have a title and are borderless now. Do you think we should add a border back?

[2022-07-14 02:34] #33751 closed, assigned to moon0326

[2022-07-14 03:08] chihsuan commented on #33602
Closing this since this screen is not created by WooCommerce Core. More details in https://github.com/woocommerce/woocommerce/issues/33623

[2022-07-14 03:08] #33602 closed, assigned to nobody

[2022-07-14 03:10] chihsuan commented on #33623
Hey @rogermattic I'm going to close this since the screen lives in `WooCommerce Payments` plugin. Please feel free to let us know if anything that we could help with. Thanks!

[2022-07-14 03:10] #33623 closed, assigned to nobody

[2022-07-14 03:10] pixelstorm opened #33880 "Yoast sitemap error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

when woocommerce is enabled (we have a multisite enviromnent). yoast sitemap error is generated and the sitemap will not display in the browser when you visit /sitemap.xml

### E

[2022-07-14 05:38] #32905 closed, assigned to chihsuan

[2022-07-14 05:41] #33657 closed, assigned to adrianduffell

[2022-07-14 06:38] adrianduffell opened #33883 "Remove query for products type in onboarding tasks"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

As part of the recent smart defaults for shipping project, the

[2022-07-14 07:41] matlitel commented on #19232
Thankyou for this it works great

[2022-07-14 07:58] #33822 closed, assigned to nobody

[2022-07-14 08:31] MatthiasReinholz opened #33884 "Repo README.md references non-existing Facebook group for support"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the README.md of this repository, there's a reference to `The WooCommerce Help and Share Facebook group.` in the Support section.

I could not find a Facebook group with that

[2022-07-14 08:31] dannii- commented on #28752
Version 6.4.1 and not fixed, we have alot of customers that are dependant that free shipping price is free after a certain amount.
The price should be free after 1000 kr/sek. But since the VAT price isnt calculated its not working.
![github_fix](https://user-images.githubusercontent.com/4616482/178938553-f825d42e-beb4-4f9b-acee-162418cd557f.png)

[2022-07-14 09:29] #33883 closed, assigned to adrianduffell

[2022-07-14 09:30] IT-Mesteren commented on #15969
I just experienced this as well, but I don't know why

[2022-07-14 09:34] adrianduffell commented on #32585
"Skip" also sounds good to me!

[2022-07-14 09:49] curtbeck commented on #29908
Hello, we have the same problem with rounding taxes (gross price per unit) for unit and not totals. Is there any solution that solves the problem (plugin or code snippet)? That issue is around !!!5 years old!!!, what a shame.

Thanks for any help.

[2022-07-14 09:53] ecgan commented on #33720
@chihsuan , when it was introduced then, the `components-modal__frame` CSS class was nested within the `woocommerce-task-dashboard__body` CSS class in the `client/dashboard/task-list/style.scss` file, see https://github.com/woocommerce/woocommerce-admin/blob/eb48f1317a15bd20d75479e2bc5ea3b84a25ae92/client/dashboard/task-list/style.scss#L3, so it didn't affect every Modal component.

In the current

[2022-07-14 10:04] verofasulo commented on #33751
Hey @moon0326 , good question.

The reason why I created two different points is that the flow is different.

1. Sells physical products, have JP and WCS installed, and JP is connected.: we don't display the banner to install WCS, but we use the spotlight to highlight the WCS tab.
2. Sells physical products, but JP and WCS are not installed: In this case, the last step is to highlight the WCS bann

[2022-07-14 10:07] verofasulo commented on #33846
@pmcpinto It makes sense for me, too!

[2022-07-14 10:07] josemarques commented on #33720
@chihsuan I think the WordPress modal has a border so we should align the design with it.

[2022-07-14 10:26] jarekmorawski commented on #33539
We'd borrow some from the [documentation](https://woocommerce.com/document/managing-products/#product-types). I'm not sure about custom product types added by plugins because they would have to add their tooltip contents separately.

Maybe the simplest solution would be to show a generic text while hovering over the tooltip?

What do you think? cc @pmcpinto

[2022-07-14 11:46] dgosar opened #33887 "Certificate has expired"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When executing order create functionality, the API returns **certificate has expired**. I am using npm library woocommerce-api on node js side and woocommerce is independently ho

[2022-07-14 12:14] kaushikasomaiya commented on #51485
5376235-zen

[2022-07-14 12:24] gigitux commented on #42638
Thanks for sharing your feedback. There is a dedicated issue for this (#6621).

[2022-07-14 12:53] #33443 closed, assigned to louwie17

[2022-07-14 13:14] moon0326 commented on #33751
Thank you for the clarification 👍

If that's the case, we're good to go 😄

[2022-07-14 14:07] vladoATL opened #33894 "[Enhancement]: Add icon to admin bar for new review"
### Describe the solution you'd like

Since the products reviews were moved under Product we are not able to see if a new review is waiting for approval. Going to dashboard is one more step and we do not go there often. It used to show waiting reviews which was very helpful.  I suggest you add a new icon similar to the Comments to admin area.
[https://www.screencast.com/t/errWOaJgpJ](https://www.s

[2022-07-14 14:08] ecgan opened #33895 "UI Revamp on Marketing Page"
This is an epic issue to keep track of our UI revamp on marketing page in WooCommerce Admin.

## Designs

This is how the current Marketing page looks like:

![image](https://user-images.githubusercontent.com/417342/179001079-8b429aa3-68e9-4d8f-b9b9-d79ebbcce294.png)

This is the design for the new Marketing page:

![image](https://user-images.githubusercontent.com/417342/179001195-b01b7f44-96a9-4

[2022-07-14 14:09] ecgan opened #33896 "Implement a feature toggle that allows users to switch between the old UI and the new UI."
This is part of the epic issue https://github.com/woocommerce/woocommerce/issues/33895.

In this issue, we want to implement a feature toggle that allows users to switch between the old UI and the new UI:

- When the toggle is on, `/wp-admin/admin.php?page=wc-admin&path=%2Fmarketing` will display the new UI.
	- For starter, the new UI can be just an empty placeholder page. We will put in component

[2022-07-14 15:11] helgatheviking commented on #33808
Additionally, I also see:
[code]

[2022-07-14 15:13] jonathansadowski opened #33900 "Repo Tooling: Add a pre-push hook for validate change file"
Invalid change file affect some of the automations that we've put in place tied to the release and create more manual work in the process of creating the release. We should add a pre-push hook that validates both that a change file is present in a PR (if required), and that the change file is valid.

[2022-07-14 15:50] padaliakhushbu opened #33902 "woocommerce_get_product_attributes filter not working proper"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

As per the requirement I need, I need to disable some attributes from variation selection.
For that I have used hook ‘woocommerce_get_product_attributes’.

Below is the code I ha

[2022-07-14 16:38] jonathansadowski opened #33906 "Code freeze automation failures on generation of changelog."
**Issue Description:**

The generation of the changelog automatically on release seems to have failed while attempting to remove the change files. See [this run](https://github.com/woocommerce/woocommerce/actions/runs/2671701840).

That issue needs to be fixed, and it'd be ideal if the release changelog generation could be run separate from the rest of the code freeze code, so that if it failed, i

[2022-07-14 16:57] bretweinraub commented on #15969
check the log files in woocommerce, that's where I found the stack traces of the callbacks

[2022-07-14 17:45] Axos11 commented on #33637
Hello, is there any update on that matter?
Thanks in advance.

[2022-07-14 17:46] Axos11 commented on #33637
Sorry didn't get the buttons right 😔

[2022-07-14 18:40] ramzysa commented on #32237
+1

[2022-07-14 19:23] ObliviousHarmony opened #33907 "Simplify Repository Tooling"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

We are currently requiring contributors to use both `pnpm` and

[2022-07-14 19:27] ObliviousHarmony opened #33908 "Cache `.turbo` Directories in CI"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

The entire point of using Turborepo is to take advantage of tas

[2022-07-14 20:40] wnolfm commented on #32920
For this you could implement something like `wc_add_support()` and `wc_get_support()`, modeled after `add_theme_support()` and `get_theme_support()`.

Such as: `wc_add_support( 'custom-order-tables', ...$args );`

Just a thought.

[2022-07-14 21:52] jgudmundson commented on #33742
Hi Paul,

I did what you asked, deleting previously imported data and re-importing
it all again. Same result. I double checked a specific high-tax order
from June 20th and it has just the GST and no PST, whereas the analytics
tax report for June 20 shows the GST plus PST.

Let me know if I can help further.

Thanks,

John

On 2022-07-12 22:16, Paul Sealock wrote:

Links:
------
[1] https://github.

[2022-07-15 00:16] moon0326 opened #33915 "Free features is still rendered when there is no recommendation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When there is no plugin recommendation listed under `Add recommended business features to my site`, `Free features` tab is still visible

<img width="645" alt="Screen Shot 2022-0

[2022-07-15 00:36] #32348 closed, assigned to nobody

[2022-07-15 00:37] #32368 closed, assigned to nobody

[2022-07-15 02:23] chihsuan commented on #33720
Nice! I'll work on it. Thanks @josemarques. 🙂

[2022-07-15 02:26] #33845 closed, assigned to chihsuan

[2022-07-15 03:44] ilyasfoo opened #33920 "Warning notice on payment settings page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A notice appears in WooCommerce > Settings > Payments page `Notice: Undefined offset: 0 in /var/www/html/wp-content/plugins/woocommerce/includes/admin/settings/class-wc-settings-

[2022-07-15 03:47] samueljseay opened #33921 "Generate JSON of detected changes from `code_analyzer`"
This task is to generate a JSON file (or files) representing the detected hook/template/schema changes that `code-analyzer` is already scanning.

`code-analyzer` just outputs these changes as CLI output at the moment, but outputting a file representing changes will allow other tools to easily consume a list of changes for other automation tasks like generating release posts.

[2022-07-15 06:35] #33720 closed, assigned to nobody

[2022-07-15 06:48] adrianduffell commented on #33907
This sounds good, thank you @ObliviousHarmony

What's the reason for creating the `turbo:` prefixed scripts? Just curious in learning more.

[2022-07-15 07:03] chihsuan commented on #33601
Hi @rogermattic, as @pmcpinto said, I think the screen is from the plugin. Similar to https://github.com/woocommerce/woocommerce/issues/33623.

I'm going to close this, but feel free to reopen it if you find it's part of Core. Thanks!

[2022-07-15 07:03] #33601 closed, assigned to nobody

[2022-07-15 08:35] Konamiman commented on #33523
Hi @moory-se, thanks for your suggestion. There's no reason for no thaving this functionality other than the fact that we hadn't thought about it. If you think you can implement it yourself, then sure, please feel free to submit a pull request. Many thanks!

[2022-07-15 08:51] chihsuan commented on #32242
Closing this - P2 post (pbIJXs-280-p2). we'll continue adding i18 support to WCCOM APIs internally since WCCOM is private.

[2022-07-15 08:51] #32242 closed, assigned to chihsuan

[2022-07-15 09:22] larssn commented on #33808
We're also seeing the above, and should stress that the above warnings are extremely spammy in our logs; to the point where they are almost useless.

As a side note: PHP 8.1 is the default PHP available to Ubuntu 22.04, which we just updated to and thus notice the spam.

**EDIT**
Here's another one:
`PHP Deprecated:  strstr(): Passing null to parameter #1 ($haystack) of type string is deprecated i

[2022-07-15 09:27] kirtangajjar opened #33924 "Uncaught TypeError: Unsupported operand types: string * int"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This bug is a continuation of https://github.com/woocommerce/woocommerce/issues/30168. It was fixed in https://github.com/woocommerce/woocommerce/pull/30493, but when the fix was

[2022-07-15 09:44] martynmjones opened #33925 "Unable to re-import historical data after updating to 6.7.0"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After updating to WooCommerce version `6.7.0` it's no longer possible to re-import historical data. Regardless of the `Skip previously imported customers and orders` input being

[2022-07-15 10:01] martynmjones commented on #33925
5375845-zen

[2022-07-15 11:28] MrJnrman commented on #33683
https://github.com/woocommerce/woocommerce/pull/3386 Address lint issues for `e2e-environment`
https://github.com/woocommerce/woocommerce/pull/33928 address issues for `e2e-core-tests`

[2022-07-15 11:29] sukafia commented on #25770
5381345-zen

[2022-07-15 12:19] CharlieEtienne commented on #42649
Hi, I don't think it should be closed

[2022-07-15 13:43] pmcpinto commented on #33539
Sounds good to me.

[2022-07-15 15:20] colorful-tones opened #33933 "Create store homepage option: button block not centered"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If I start working through the WooCommerce Onboarding tasks and choose the "Create a custom homepage" option. The page is created. However, there is a Cover block at the top, whi

[2022-07-15 16:26] shiki commented on #33869
What about the custom order statuses? They're not used that much (p91TBi-6wV-p2) but I just wanted to point that out in case it's important for these to be in the list too.

[2022-07-15 19:26] joshbetz commented on #33869
Yes, custom statuses would be in the list.

[2022-07-15 19:34] jonathansadowski opened #33937 "Attempting to run pnpm changelog add without composer install gives cryptic error"
If you attempt to run `pnpm changelog add --filter=woocommerce` (for example) prior to there being a `composer install`, the error you receive is cryptic. We should either find a way to improve the error messaging to tell you how to resolve the issue, or perhaps just resolve the issue automatically.

See p1657911267976909-slack-C02GB41LGHM

[2022-07-15 19:51] #33467 closed, assigned to joshuatf

[2022-07-15 19:51] #33468 closed, assigned to joshuatf

[2022-07-15 19:51] #33469 closed, assigned to joshuatf

[2022-07-15 20:02] ObliviousHarmony commented on #33907
That's a good question @adrianduffell.

So, `turbo run` actually works by calling NPM scripts. `turbo run build` will call `"build"` in every related package according to its place in the dependency graph. If we had `"build": "turbo run build"`, we would just recurse and never actually build anything. By moving the _real_ operation into `"turbo:build": "build-the-package"`, we can change `"build"`

[2022-07-15 20:05] colorful-tones commented on #33933
Note: I did not check the `This bug happens with a default WordPress theme active, or [Storefront](https://woocommerce.com/storefront/).`, because it does not happen with Storefront, but we should get the markup updated to have the Button block be nested with Buttons block with center alignment. The special CSS in Storefront can likely stay for backwards compatibility.

[2022-07-15 21:00] colorful-tones commented on #24809
@kloon Since [WooCommerce currently supports WP 5.8 <](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/woocommerce.php#L11) then this could potentially be revisited, correct? 🤔

[2022-07-16 04:07] nattawutk88 opened #33940 "can't change the "Number of items per page" in the screen option"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

can't change the "Number of items per page" in the screen option. Whenever I put the number for example "50" and apply, the number of items remain the same at "20"

This cause my

[2022-07-16 14:37] ready410 opened #33942 "Our customers get the following error when making a PayPal payment: AMOUNT_MISMATCH Should equal item_total + tax_total + shipping + handling + insurance - shipping_discount – Discount"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Our customers get the following error when making a PayPal payment: AMOUNT_MISMATCH Should equal item_total + tax_total + shipping + handling + insurance - shipping_discount – Di

[2022-07-16 16:01] moory-se commented on #33523
Hi @Konamiman,

Understood. I tried starting, but got stuck very early. My knowledge of the WooCommerce codebase is simply too low. I would happily fund this development though - either by your (the core team) or an external developer. If I would be to hire an external developer, I would want to discuss this a bit more in detail to make sure that the code would actually be merged. Would any of thi

[2022-07-17 13:03] FigaCZ opened #33943 "React admin page not rendered"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

React admin page have to have path with slash at start. So this correctly adds page to the menu, but component is not rendered.

[code]

When you add the starting slash `'path' =

[2022-07-17 13:53] kkmuffme opened #33944 "Memory leak & bad performance with WC_Product get_product"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When trying to avoid the use of globals, we use `wc_get_product()` (like `get_post()` in WP core).

This itself will then `\WC_Product_Factory->get_product()` which will **always

[2022-07-17 14:40] studioatable opened #33946 "Filename cannot be empty in /.../saintmedie.com/wp-content/plugins/woocommerce/includes/wc-template-functions.php on line 53"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello.
impossible to display the last order validation page (thank you) on woocommerce regardless of the type of payment.
Bank transfer generates a 404 error.
![bug17072022](http

[2022-07-17 16:30] ObliviousHarmony opened #33947 "Review React Admin Build Process"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

With our current tooling in place, we need to take a look at th

[2022-07-17 16:34] ObliviousHarmony opened #33948 "Optimize React Admin's `package.json` Scripts"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

There are a large number of different workflows supported by th

[2022-07-17 16:36] ObliviousHarmony opened #33949 "Move `plugins/woocommerce-admin/client` Into `plugins/woocommerce/client/admin`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

As the last step towards merging WooCommerce Admin, we should f

[2022-07-17 21:32] nicdwilson opened #33950 "Error when a null value is passed to wc_add_number_precision"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In [35726811](35726811-hc) the merchant encountered a fatal error when a null value was passed to `wc_add_number_precision` during an add-to-cart operation.

The merchant carried

[2022-07-18 05:41] chihsuan opened #33957 "Refresh inbox notes when a user changes store locale"
**Issue Description:**

When a user changes the locale, we should refresh the inbox notes since inbox notes are in the database table.

**Expected behavior**

When a user changes the locale,  notes should be updated to display texts in the current locale.

**Actual behavior**

When a user changes the locale,  notes are still displayed in English.

![Screen Shot 2022-07-18 at 13 38 11](https://user

[2022-07-18 07:02] ilyasfoo opened #33958 "Blank payment task when user disable marketplace suggestions"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a user agrees to tracking but disables marketplace suggestions, payment task will render an infinitely loading screen.

<img width="988" alt="image" src="https://user-images

[2022-07-18 07:07] bhagatakshay662 commented on #33785
@psealock I got the root cause this that, for set **sale price** at woo commerce it should be different than the **regular price**. If we putting same value to both then Sale price will not set.

[2022-07-18 07:07] #33785 closed, assigned to nobody

[2022-07-18 07:26] ilyasfoo commented on #33958
Hi @woocommerce/mothra, this bug is possibly caused by https://github.com/woocommerce/woocommerce/commit/834307e15540541458a1c08883d6286e845b0e2a and I'm wondering what would be the appropriate solution for it:

1. Hide set up payments task since user has disabled suggestion
2. Create another endpoint that returns default suggestion regardless of if user accepted suggestions
3. Suggest only offlin

[2022-07-18 07:51] Konamiman commented on #33080
Hi @brandon-9, I'm unable to reproduce the issue. I've tried creating an order via rEST API with `fee_lines` items having negative values, and these get properly created. Not sure if I'm misunderstanding something, could you please provide the exact REST API request you're using?

[2022-07-18 08:11] Marc-pi opened #42621 "Product Collection > Product Image > add a toggle to show the Out of Stock badges"
## Describe the bug

One FSE way to display newest product is to make use of the dedicated block, instead of the Products shortcode (the old way)

Product Grid blocks (e.g. “All Products”, “Newest Products“) miss the setting to show out of stock products with an appropriate badge. While in the old shortcode way, this was possible. Currently it is only possible to hide out of stock products entirel

[2022-07-18 08:12] Konamiman commented on #32094
Hi @helgatheviking, would you be able to submit your suggestion as a pull request please? That would ease the integrating, revieweing and testing prrocess for us. Thank you!

[2022-07-18 08:15] solstudioim commented on #33950
Similar problem reported here 5385028-zen

[2022-07-18 08:41] sunjava11 commented on #12260
@rochow
Hi, not the thread, but it's kind of relevant. wc-ajax=get_variation() is not being called on live server (it was before). On my local machine, it is being called. I don't know where to look and find the issue.

[2022-07-18 08:54] #33920 closed, assigned to chihsuan

[2022-07-18 09:12] Marc-pi opened #33959 "[Enhancement]: Query Loop Block > extend > display out of stock badge"
### Describe the solution you'd like

In FSE context (yes, some are making website with full FSE ;-) ), if we make use of the WP standard Query Loop Block,
filtered on Product type, "out of stock badges" are not displayed in results.

This badge is very usefull in an eCommerce context, for marketing purposes

Proposed solution : extend the WP Query Loop to add a toggle in settings "Display Out of

[2022-07-18 09:12] Marc-pi opened #42620 "[Enhancement]: Product Collection > Image > display out of stock badge"
### Describe the solution you'd like

In FSE context (yes, some are making website with full FSE ;-) ), if we make use of the WP standard Query Loop Block,
filtered on Product type, "out of stock badges" are not displayed in results.

This badge is very usefull in an eCommerce context, for marketing purposes

Proposed solution : extend the WP Query Loop to add a toggle in settings "Display Out of

[2022-07-18 09:13] Marc-pi commented on #42621
i've cross linked the same need on the WP Query Loop Block
let's make Woo the best FSE showcase, for early adopters like us ;-)

[2022-07-18 09:25] Konamiman commented on #29465
While I haven't been able to reproduce the issue myself (probably because of my XDebug configuration) I have created a fix, it'll go into WooCommerce as soon as it's reviewed: https://github.com/woocommerce/woocommerce/pull/33960

[2022-07-18 10:35] Aljullu commented on #42679
@ralucaStan is this something still in the roadmap? Should we re-open the issue?

[2022-07-18 10:56] Aljullu commented on #33933
Thanks for creating this issue, @colorful-tones! I think the relevant code is here:

https://github.com/woocommerce/woocommerce/blob/090822eabff24c0f459b7a84fb5ef87f8a51bbbc/plugins/woocommerce/src/Admin/API/OnboardingTasks.php#L475-L477

and here:

https://github.com/woocommerce/woocommerce/blob/090822eabff24c0f459b7a84fb5ef87f8a51bbbc/plugins/woocommerce/src/Admin/API/OnboardingTasks.php#L490-L4

[2022-07-18 11:15] pmcpinto opened #33961 "New nav Tracks event prop being fired when the new experience is disabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We're firing the wrong prop value that we use to track if the new navigation is enabled in any page view: `wcadmin_page_view` - `has_navigation`

### Expected behavior

We should

[2022-07-18 14:59] adrianduffell commented on #33907
Ha, I see! Thank you for explaining 👍

[2022-07-18 15:13] Konamiman commented on #26539
I have created a pull request that, based on [what @ovidiul suggests](https://github.com/woocommerce/woocommerce/issues/26539#issuecomment-1033535560), limits the amount of terms listed in the Attributes page to 100 by default, and introduces a new filter to change this value: https://github.com/woocommerce/woocommerce/pull/33962

However as I understand the original problem is in the _edit produc

[2022-07-18 15:14] gglobalstep opened #33963 "[GlobalStep] PHP Error notice "Undefined offset: 0" triggered at Query Monitor on "Woocommerce > Settings > Payment" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

PHP Error notice "Undefined offset: 0" triggered at Query Monitor on "Woocommerce > Settings > Payment" page.

### Expected behavior

Payment page should be displayed without any

[2022-07-18 15:21] Konamiman commented on #33523
Hi @moory-se. If you are willing to pay for customizations on WooCommerce, I suggest you to take a loot at [the Woo Experts program](https://woocommerce.com/es-es/customizations/). I hope that's useful for you.

[2022-07-18 15:59] fasttrackhost commented on #26539
Yes @Konamiman , our problem was the Edit Product Page on the backend, mainly because the Browser blocks while trying to show the taxonomies. It was a automotive parts store, where in order to find the correct parts for each vechicle we needed diferent types of taxonomys: year, make, model, engine, ... These are custom taxonomys created for filtering, and these taxonomys are loaded in the backend

[2022-07-18 18:39] lanej0 commented on #33963
Confirmed.  There're a [fix PR](https://github.com/woocommerce/woocommerce/pull/33956) in the works for the next release.

[2022-07-18 18:51] louwie17 commented on #33595
~~@AnnaMag do you think we can add this into our work load over the next month or two? This should be relatively easy to implement and seems like a valuable feature to have.~~

[2022-07-18 19:34] lukecav commented on #33896
Is there an ETA on when the new navigation experience UI will be the default experience for users?

[2022-07-18 20:04] eclair4151 commented on #33096
I dont have any additional repro steps. it just randomly happens to me on some long orders. Is there some way I can get more debug info that would help debug this?

[2022-07-18 20:23] colorful-tones commented on #33933
@Aljullu really appreciate you pointing me to that markup. I got a pull request in and hopefully covered all adequate developer steps. Thanks!

[2022-07-18 21:23] Luc45 commented on #33908
I was playing around with hashing the build of `woocommerce-admin` to cache it.

It's end of day here and I'll be dropping this, but this is what I've done so far, if it helps:

`./bin/check-cache.php` This file will pre-compute the hash of the build to be created based on the sum of hashes of the source.

[code]

**To test:**

- cd plugins/woocommerce-admin
- php ./bin/check-cache.php

Verify it

[2022-07-19 00:31] melek opened #33969 "Algerian province list is incomplete as of 2019 (Also some are misspelled)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Algeria ( Country ) Has 58 provinces ( Wilayas ) and you can check on wikipedia if you want to update:
Provinces of Algeria - Wikipedia (https://en.wikipedia.org/wiki/Provinces_o

[2022-07-19 06:46] Alexx1xx opened #33971 "Product filter by attribute do not work"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

Every time when i try to filter my products by attribute i get the following message: “No products were found matching your selection.” It seems this is due the language

[2022-07-19 07:28] Konamiman commented on #26539
Hi @fasttrackhost, sorry to hear that you had to discard WooCommerce as the platform to your project. I'd like to try and reproduce the problem locally to have a better working context, but just to be sure, by "the square boxes that hold each taxonomy" you mean the "product categories" box that appears in the sidebar, right?

![image](https://user-images.githubusercontent.com/937723/179691302-6e7e

[2022-07-19 09:01] JuanAndresVega opened #33974 "Error in checkout without message"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A client has told us that some people, after entering their data in the checkout form and indicating the payment method, get an error. An exclamation appears as if some data was

[2022-07-19 09:04] erikdemarco commented on #31423
The bug seems on this line:
https://github.com/WordPress/WordPress/blob/943e956379dd935ad6b401669a4c76526172f594/wp-includes/class-wp.php#L746

For some reason $set_404 is not set to false for paged > 1

Temporary fix here:
https://wp-kama.com/handbook/sitemap/bag-404-pagination

[2022-07-19 10:25] ecgan commented on #33896
Hi @lukecav, thanks for the question. Unfortunately I don't have the answer. Based on WooCommerce's [How to Get Help](https://woocommerce.com/document/how-to-get-help/) page ("Questions and Support" section at the bottom of the page), I think the best way is to [Open a Support Request](https://woocommerce.com/my-account/create-a-ticket/) (if you are a paying customer) or reach out in the [WooComme

[2022-07-19 12:42] #32922 closed, assigned to vedanshujain

[2022-07-19 14:50] Luc45 opened #33978 "Increase timeout in e2e tests to reduce flakiness in CI"
Some e2e tests are failing due to expect timeouts. We should increase the timeout from 5s to 10s.

[2022-07-19 15:43] MickaelJN opened #33980 "Shipping to Saint-Martin is impossible"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Delivery is impossible in Saint-Martin (french part) MF, because the checkout form wait a state

### Expected behavior

Don't ask a state because Saint-Martin don't have state.
I

[2022-07-19 15:45] MickaelJN commented on #33980
I find the solution.
In woocommerce/i18n/states.php, the line "MF" => array(), is forgotten

Is it possible to add this in the future version of woocommerce ?
Why Woocommerce don't manage country dynamically with administrable table in database ?

[2022-07-19 16:09] sunyatasattva commented on #42621
Hello @Marc-pi, thank you for your report and your enthusiasm. I'm glad you are part of the early adopters, and we definitely want to hear more suggestions like this.

Your suggestion sounds completely reasonable to me. While testing, I also noticed that the same issue is there with other Product Grid blocks (not only the Newest Products, but also the All Products, for example). I hope you don't m

[2022-07-19 16:27] Marc-pi commented on #42621
yep, no problem, go

yep, here by shaking Woo through a customer project, i came into the conclusion that we need a sort of Swiss Knife Bloc
aka a Woo Power Query block (you can get inspiration from the one from BricksBuilder).
- This would help create on the fly blocks.... with several criteria, depending on the project
of course you have to deal with performance as well (more query criteria, les

[2022-07-19 16:58] sunyatasattva commented on #42621
@Marc-pi Thank you, I'll go ahead and do that. Yes, our idea is very much similar and we are working on the design phase as we speak :) so, good timing!

Which one you mean, specifically? I have never used BricksBuilder but I am trying a test account and can't see any query block.

[2022-07-19 17:28] #33978 closed, assigned to Luc45

[2022-07-19 21:35] johndcoy opened #33983 "Tax Rate ID recycled after tax tables deleted"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Updating an order will reassign a new tax name to the order if that tax_rate_id is being used by a new row on the tax table.

### Expected behavior

If the original tax name is u

[2022-07-19 21:49] johndcoy opened #33985 "Recycled tax_rate_ids returns invalid data when filtering orders"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Filtering orders by Tax Name will look to the current tax tables and tax_rate_id, not the tax name that was written to the existing orders.

![Screenshot](https://d.pr/i/C8jSjm+)

[2022-07-20 02:17] #33880 closed, assigned to nobody

[2022-07-20 03:12] ObliviousHarmony commented on #33921
Hey @samueljseay, could you add a description to this issue so that it's more understandable? I've gone ahead and labeled it appropriately as well as added it to the team's project.

[2022-07-20 03:18] ObliviousHarmony commented on #33942
Hello @ready410,

Since this error is coming from your PayPal payments plugin, I'm going to transfer it to that repository. They should be able to provide better help there!

[2022-07-20 03:22] ObliviousHarmony commented on #33946
Hello @studioatable,

Can you confirm that this bug also happens with the Storefront theme and no plugins active? This sounds like it might be the case of a template file in a theme being broken or something of the sort.

[2022-07-20 03:29] ObliviousHarmony commented on #33974
Hello @JuanAndresVega,

Unfortunately, this is not really a lot to go on to help debug the issue. Even if this was a localization problem, I'm pretty sure it just defaults to English when no translation string is found. My first thought was that, if the store used customer languages, it might be a translation string problem. I don't think this is probably the case though.

In any case, this reposi

[2022-07-20 03:29] #33974 closed, assigned to nobody

[2022-07-20 04:51] yatgirl commented on #32854
I would just like to add - I see the priority of this bug is low.  Since this bug causes all order emails to customers to appear very non-professional with duplication of information and also messes with the visual aspect of all order emails sent to customers - I do not consider the priority of this to be low. - if this could please be escalated to a higher priority. Thank you.

[2022-07-20 06:01] Marc-pi commented on #42621
sorry, i was thinking about Cwicly Query Builder
have a lookg at Paul's /wptuts video > https://www.youtube.com/watch?v=yRS5V34NwvU&t=472s

[2022-07-20 07:10] #33924 closed, assigned to nobody

[2022-07-20 07:20] anand-parmar opened #33986 "Setup Wizard validation issue in Industry & Business Details Tabs"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There is **no validation message** coming if user direct click on **continue** button

But if user has click on any checkbox & uncheck then only validation message is coming.

##

[2022-07-20 08:18] fabregas4 opened #33988 "Fix slow query by setting order by argument to none in has_physical_products()"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Every page load of Woocommerce pages within Wordpress admin is executing a particular query 4 times. This stems from /src/Admin/Features/OnboardingTasks/Tasks/Shipping.php checki

[2022-07-20 08:21] ralucaStan commented on #42679
Thank you @Aljullu for bringing this to my attention. I'll reopen this issue and surface it in a discussion about WC settings and WC Blocks.

[2022-07-20 09:07] UraraReika commented on #30778
Maybe a bit offtopic but still about  `wc_get_products()` and `WC_Product_Query`. I would like to know can we use `relation` parameter in `tax_query`? Like this:

[code]

So if we use `'relation' => 'or'` we get all the products, if we use `'relation' => 'and'` or skip this parameter then we will get products that have music category and ct1-item-1 term.

Can we use `relation` parameter in `tax_qu