[2021-02-05 05:16] gwmbox commented on #28557
Sorry to say it has not been fixed.  I still have the same issue after updating to 5.6.1

[2021-02-05 08:43] lkraav commented on #25243
`unfiltered_html` cap does help, but it's a bad idea. There are places where this HTML will be escaped and your customers will see it, which will require additional chasing after for fixes for every new discovery.

[2021-02-05 09:29] arunsathiya opened #29040 "Quick edit on sale price removes sale price dates"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Quick editing a sale price for a product removes its sale price dates.

**Expected behavior**

The sale price dates remain unaffected.

**

[2021-02-05 09:30] arunsathiya commented on #29040
I found a similar issue about sale price being reset to zero, but that's closed now - https://github.com/woocommerce/woocommerce/issues/27006

[2021-02-05 09:48] volpagirl commented on #29012
Hi - we have one client with the same issue on their website, started a few days ago. Seen a few posts that link this issue to ATUM's plugin but this client doesn't have ATUM's stock control plugin, they use Woocommerce stock control. They too have had random reversion of stock quantities from being out of stock to being in stock which has caused them some issues.

[2021-02-05 09:49] Many17 commented on #28557
After the update I keep having the same problem. It is very boring

[2021-02-05 10:35] acal opened #29041 "Category Sort Drag and Drop Very Difficult to Use"
**Prerequisites (mark completed items with an [x]):**
- [  x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The product category sort drag and drop UI works poorly. I expect it to allow me to click on a product and drag and drop it to a new positi

[2021-02-05 11:04] Konamiman commented on #26971
I must have something misconfigured as I'm getting very much higher and inconsistent timings. Anyway what you say makes very much sense, so I'm labeling the issue as an enhancement request for my team to look at it. Thanks again for your contribution.

[2021-02-05 11:16] sunxiyuan commented on #17983
I am also troubled by this.
Currently I have to rewrite a plug-in to provide a new API to serve users. This API inherits from Woo's API and passes the value to Woo after filtering the parameters.
This is troublesome, it would be great if Woo could provide Rest Api similar to WordPress

[2021-02-05 11:19] tammullen commented on #28557
Hi @modularsynthesis,
Are you using Classic Editor plugin? If so this is a known WordPress issue and not a WooCommerce issue https://core.trac.wordpress.org/ticket/52440

[2021-02-05 11:22] tammullen commented on #28557
Hi @gwmbox

Can you provide more details of where you are still seeing this error and if this occurs when only WooCommerce plugin is active?

[2021-02-05 11:22] tammullen commented on #28557
Hi @Many17

Can you also provide more details of where you are still seeing this error and if this occurs when only WooCommerce plugin is active?

[2021-02-05 12:41] laurentdebricon commented on #29017
hey thank you,

i disabled https://fr.wordpress.org/plugins/redis-cache/
and everything worked

then re-enabled it again.

and everything works.
weird feeling of happiness without understanding what happened ...

[2021-02-05 12:41] #29017 closed

[2021-02-05 12:47] dcoturel commented on #28628
Hi!

Thanks for your answer.

Saludos,

[2021-02-05 12:50] dcoturel commented on #28625
Hi Oblivious,

Thanks for your answer. This in fact isn't a bug, it is more like a doubt, question or request for information. I'll take a look at the slack channel.

Saludos,

[2021-02-05 13:33] tammullen opened #29042 "Update Cart e2e tests to show they cover flow Add Simple Product to Cart (from shop page)"
Followup Issue to https://github.com/woocommerce/woocommerce/issues/27882

We want to have e2e test that covers the following Critical Flow

-  Add Simple Product to Cart (from shop page)

We currently use `addToCartFromShopPage` in the Cart tests but it isn't obvious looking at the results that we do this flow so I think we should update the test naming to better reflect this.

Current test namin

[2021-02-05 14:01] peterfabian commented on #28711
Please note that it's outside of WooCommerce core's functionality to provide spam protection and protection against bots (who could be at times submitting even legitimate orders). Ideally, this would be handled by anti-spam or bot-detection solutions.

You can use a small plugin such as [this one](https://wordpress.org/plugins/block-specific-spam-woo-orders/) to block the ones that are created spe

[2021-02-05 14:01] #28711 closed

[2021-02-05 14:09] peterfabian commented on #28711
In case users are actually getting created during checkout despite the setting being turned off, please provide us with a HTTP log with relevant requests, as that would help us troubleshoot this. We're happy to reopen this if we get more information.

[2021-02-05 14:16] mattyza commented on #26393
We have a pull request open for this on WooCommerce.com, so feel free to close this issue as desired. cc @peterfabian

[2021-02-05 14:25] GlazerGallery commented on #28557
I have updated to WordPress 5.6.1, and am still having the problem, too. When I am editing a Product and click View Product to preview it,  a pop up appears asking if I’m sure I want to Leave Site, “Changes you made may not be saved.” Then I have to click okay. This should not be happening; it should be opening the preview without that intervening step.

[2021-02-05 14:29] smoosthsapphire commented on #28557
Hi, I updated this morning and add a few products without any issue.

[2021-02-05 14:32] GlazerGallery commented on #28557
I updated several products yesterday and constantly had the issue.

[2021-02-05 14:34] smoosthsapphire commented on #28557
Perhaps this is problem with other plugin. Do you use some editor?

[2021-02-05 15:50] GlazerGallery commented on #28557
My theme uses Page Builder by SiteOrigin. However, so does another site I manage, but that site does not use WooCommerce, and I am not seeing the error there. So I don't think the conflict is with SiteOrigin (which in any event is not involved with editing WooCommerce Product pages).

[2021-02-05 15:51] Konamiman commented on #25261
[Here's a pull request that fixes the issue](https://github.com/woocommerce/woocommerce/pull/29043), however the fix works only when the "Hide out of stock products" option is disabled. When it's enabled then variable products having variations within the price range will always be displayed, even if all of these are out of stock.

Example: a product has two variations with prices 150 and 250. The

[2021-02-05 16:03] cl0udres commented on #25261
We're occurring the issue also without using the stock managing on our eCommerce, @Konamiman. Why?

[2021-02-05 16:15] Many17 commented on #28557
Yes, i tried to disable all plugins except woocommerce, but when I click View Product to preview it, a pop up appears asking if I’m sure I want to Leave Site, “Changes you made may not be saved.”

With older versions this did not happen

[2021-02-05 16:24] webimagedesigns commented on #28557
I did not have the problem with 5.6 but I do now with 5.6.1 - this is NOT corrected.

[2021-02-05 16:40] bentoweb commented on #28557
Same problem with WP 5.6.1, Woocommerce, ACF Pro, Classic editor.
No popup when Classic editor is disabled, but still show when all plugins are disabled.
I can see the problem on pages and custom posts but not on basic posts.

[2021-02-05 17:23] tammullen commented on #28557
Hi @GlazerGallery
To help us evaluate what is happening can you try deactivating Page Builder by SiteOrigin on your WooCommerce site and see if the issue still occurs?

[2021-02-05 17:24] tammullen commented on #28557
Hi @Many17
It will be great if you could share your current System Status Report. You can get it by navigating to the WooCommerce / Status section of your site. Once there, click on the Get system report button and then copy it by clicking on the Copy for support button. Then paste it here in a comment.

[2021-02-05 17:28] tammullen commented on #28557
For anyone seeing this issue with WordPress 5.6.1

Can you please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as Storefront. Then test again.

If the issue is resolved with the default theme and all plugins deactivated, it means

[2021-02-05 17:40] GlazerGallery commented on #28557
@tammullen — Update: about 90 minutes ago, I deactivated the Classic Editor plugin and left Page Builder by SiteOrigin activated. At first the popup problem persisted, but it now seems to have subsided. I have tested it with a Product Page where I was duplicating an existing page and editing the draft, and also added Attributes and updated several published pages. Maybe Classic Editor is conflicti

[2021-02-05 18:08] thomas-zg commented on #29027
The  [](https://github.com/woocommerce/woocommerce-product-tables-feature-plugin) will go in the right direction, but it seams to me that this project stopped and inactive. You spend a lot of effort in stability and backward compatibility. That's great. But don't miss to bring the platform to a next level.
The current implementation are not atomic operations, like the code shows in abstract-wc-ord

[2021-02-05 18:19] #25261 closed

[2021-02-05 18:52] acf-extended commented on #28557
Hello,

Just a heads up everyone, this bug was introduced since the last WordPress 5.6.1 update, when using Classic Editor, for all Post Types which don't have Title + Editor + Excerpt fields supports (basically all post types other than "WP Post" and Woocommerce "Product").

here is the related WordPress trac ticket: https://core.trac.wordpress.org/ticket/52440

For anyone wondering, here is a fi

[2021-02-05 19:12] claudiosanches commented on #29014
Hello,

Those fields doesn't include validation by default, so it could match with any kind of address for any region, I don't think we should make those strict since may cause issue to some users.

I'm closing this issue for now. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-05 19:12] #29014 closed

[2021-02-05 19:14] claudiosanches commented on #29015
Hello,

Thanks for reporting this issue. I'm able to reproduce this issue with Firefox in Linux.

[2021-02-05 20:23] jonathansadowski commented on #28284
I just wanted to note that there's a comment about current progress on p7bje6-2VM-p2

[2021-02-05 21:21] juliaamosova commented on #29041
Hi @acal,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-02-05 21:35] juliaamosova commented on #29040
Hi @arunsathiya,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![](http://g.recordit.co/YYg9806IdD.gif)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future r

[2021-02-05 21:48] zhongruige commented on #27878
After digging into this a little bit (and thanks to @tammullen for providing guidance!) we have three flows to access this customer payment page:

**Create a Manual Order**

When creating a manual order, there's a link to the Customer payment page in the order details:

<img width="394" alt="Screen Shot 2021-02-05 at 2 30 18 PM" src="https://user-images.githubusercontent.com/71906536/107091351-dfb

[2021-02-06 06:50] nayem9258 opened #29045 "sidebar not showing"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-02-06 08:15] Ilyagurm commented on #27608
Hello @ObliviousHarmony and team, the very same is happening to more and more sites (based on latest threads on the wordpress WC forums), as well as ours. This happens every day once or twice, the site goes completely down with a fatal error.

`Fatal error: Uncaught Error: Class ‘Automattic\WooCommerce\Container’ not found in /home/workhomesecrets/public_html/wp-content/plugins/woocommerce/woocomm

[2021-02-06 13:42] tinof commented on #27661
With Transferwise, a Woocommerce store owner could use SEPA QR code for easy payment  and get instant verification when Transferwise API has confirmed the payment. This way the user never has to login to their bank (no man in the middle attacks) or give bank account details (SEPA Direct Payment)?

[2021-02-06 15:11] Ilyagurm commented on #27608
Following up here that adding [the snippet here](https://github.com/Automattic/jetpack/pull/17174) to the mu plugins folder, didn't help. This is frustrating

[2021-02-06 15:17] nielslange commented on #28724
Thanks for your explanation, @rrennick. You mentioned that the blog posts page has no page ID either, which is correct. However, the blog posts page adds the body class `blog` which can be used to target this particular page. In case of the WooCommerce shopping page, there's no unique body class available. This makes it impossible to target the shopping page without adding custom code to add the w

[2021-02-06 17:01] juliaamosova commented on #29045
Hi @nayem9258,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2021-02-06 17:02] juliaamosova commented on #29034
Hi @NicolaBizzoca,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2021-02-06 17:14] juliaamosova commented on #29033
Hi @imbacactus,

Thanks for opening this issue. I am documenting below the behavior you are seeing for the record:

![](http://g.recordit.co/rjEGwouq5u.gif)

I am not aware of a plugin that can allow for the variation images to change only if one variation out of a pair is selected. I am adding the `needs developer feedback` label here to see if it is possible to be resolved programmatically.

[2021-02-06 17:38] juliaamosova commented on #29029
Hi @millerf,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

The [documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/#retrieve-sales-report) indeed reads that the default sales period is `week`:

![docs](https://user-images.githubusercontent.com/19143190/107125428-feca4d80-6877-11eb-95e0-eb15668f1d3f.jpg)

Runnin

[2021-02-06 17:42] juliaamosova commented on #29025
Hi @cmcawood,

Thank you for reporting the issue. However, I am missing a few things to reproduce it.

Can you please confirm how do you enable the slider so that I could reproduce the exact steps?

[2021-02-06 17:49] juliaamosova commented on #29024
Hi @keshav1990,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

In the meantime, we are in the process of adding that functionality in the [WooCommerce Beta Tester](https://word

[2021-02-06 17:53] juliaamosova commented on #28984
Hi @0dp,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25510. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-02-06 17:53] #28984 closed

[2021-02-06 18:01] juliaamosova commented on #28979
Hi @lewisself64,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Moreover, the fact that the grouped product retains it's `out of stock` status doesn't make any difference if each of the grouped products that are now a part of this parent product have stock - items can be added to cart - see gif below:

http://g.recordit.co/g5hy2qa5

[2021-02-06 18:03] juliaamosova commented on #28978
Hi @neneboe,

Thank you for reporting the issue. It seems to be caused by the WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-02-06 18:06] juliaamosova commented on #28956
Hi @juanlopez4691,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![pw](https://user-images.githubusercontent.com/19143190/107126135-199ec100-687c-11eb-8e01-2fbba1c82577.jpg)

We’re going to solve this bug as soon as possible. 

[2021-02-06 18:14] juliaamosova commented on #28955
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Noting that dark mode needs to be enabled in both the theme and the OS/device:

![](http://g.recordit.co/THrp0QUc7C.gif)

Using Dark Mode is popular which is why I think we should fix this issue soonish.

[2021-02-06 18:19] lewisself64 commented on #28979
Thank you for the update. Our theme adds custom styling to the instock and outofstock classes on the product archive so some products looked out of stock for customers viewing the product archives which were in stock. Glad to hear it will be fixed in an upcoming release :)

[2021-02-06 18:26] juanlopez4691 commented on #28956
Great! Happy to be helpful :-)

Best regards,
Joan López

On Sat, Feb 6, 2021 at 7:06 PM Julia Amosova <notifications@github.com>
wrote:

[2021-02-06 18:37] juliaamosova commented on #28954
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I couldn't reproduce it on my end using either of the following:

- macOS Catalina 10.15.6 + Chrome 88.0.4324.96 (Official Build) (x86_64)

![hrome](https://user-images.githubusercontent.com/19143190/107126855-51a80300-6880-11eb-89e8-4e7f308178ee.jpg)

- macOS Catalina 10.15.6 + Safari 14.0

![safar

[2021-02-06 18:43] juliaamosova commented on #28953
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Noting that this is not related to WC 5.0 as it happens in 4.9.2 as well.

![tab](https://user-images.githubusercontent.com/19143190/107127009-502b0a80-6881-11eb-9fe0-e7683bdb33b6.jpg)

We should likely fix it soon anyways as it affects how the shop page looks on table

[2021-02-06 18:44] juliaamosova commented on #28952
Hi @erikdemarco,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-02-06 18:49] juliaamosova commented on #28944
Hi @mikejolley,

Thank you for bringing this up. I'll mark this as a `high` priority so that we could take care of it soon for a consistent and reliable experience throughout.

[2021-02-06 18:52] juliaamosova commented on #28916
Hi @grigorijurasov,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I am making this with `high` priority in order for us to fix it soon as it seems to affect performance.

[2021-02-06 18:58] juliaamosova commented on #28964
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Noting that this is not specific to WC 5.0 as it also happens in WC 4.9.2:

![](http://g.recordit.co/7dVZIQnxkJ.gif)

This doesn't seem like a big deal but the settings should only take effect after saving them. It seems to break the default functionality which is why

[2021-02-06 18:59] juliaamosova commented on #28894
Hi @SiR-DanieL,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-02-06 19:02] juliaamosova commented on #28850
Hi @Bossquiat,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](h

[2021-02-06 19:02] #28850 closed

[2021-02-06 19:05] juliaamosova commented on #28844
Hi @mbrookes,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-02-06 19:27] juliaamosova commented on #28817
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. The issue is still present in WooCommerce 5.0 RC3. Tested using Browserstack account.

Here is what is expected (in Chrome) - note that when you hover over the entry fields, the up and down arrows appear:

![](http://g.recordit.co/B1mDzpmJ7l.gif)

And here is what happe

[2021-02-06 21:17] 0dp commented on #25510
Hi @juliaamosova
Totally fine you closed #28984
Be that as it may, this issue was opened over a year ago.
I would love to make a PR, but have no idea about the consensus regarding which direction the team would go. Seeing there is already an unmerged PR (probably stale by now)

[2021-02-07 15:26] justanotherco opened #29046 "Error in customizer with WooCommerce active (Using fresh TwentyTwenty and zero other plugins)"
Hi there,

Using TwentyTwenty and zero plugins active apart from WooCommerce - I get this JS error in the console:

[code]

[2021-02-07 19:31] leandroprz opened #29047 "WooCommerce multiple puchase notes for variable products"
**Is your feature request related to a problem? Please describe.**
Purchase notes for WooCommerce variable products only accept one single message, but I need to add a different note for each variation. Creating a single product for each variation just to have different notes is not an option for me.

**Describe the solution you'd like**
Each variation should have its own optional purchase note fi

[2021-02-07 23:20] gwmbox commented on #28557
Having the issue with and without woocommerce.  I have a few sites that do not use WC, as well as some that do.  They all have the same issue.

[2021-02-07 23:57] Danielspain22 commented on #28557
The problem was fixed at my end, when upgraded from wc 5.6 to 5.6.1.

[2021-02-08 01:13] wppunk opened #29048 "Wrong field for shipping method on edit order page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Create two shipping methods with a slug that has a similar start. For example:
- Method 1 has slug `shipping_method` and title `Shipping Method`

[2021-02-08 04:42] zdenys opened #29050 "Product permalinks: chosen option (radio button) doesn't stick after saving and reverts to Custom base"
**Describe the bug**
Selecting any radio button (checkbox) under Product permalinks and clicking `Save changes` results in `Custom base` being selected. This is counterintuitive and behaves unlike the WordPress permalinks in the **WP Admin > Settings > Permalinks > Common Settings** where the chosen option sticks after saving changes.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to **

[2021-02-08 06:32] WillBrubaker commented on #28960
diff doesn't show anything. The MS carriage returns get stripped out

[2021-02-08 06:44] WillBrubaker commented on #28960
Also, what difference does my shell make? Isn't the script supposed to use the interpreter designated?

[2021-02-08 06:44] WillBrubaker commented on #28960
What is the correct version of node?

[2021-02-08 07:10] notrealdev commented on #28822
same here

[2021-02-08 07:40] smoosthsapphire commented on #28557
Hi, It's seems like some part have a problem with update 5.6.1 for me now works fine a had a problem with this bug in previous versions before update.

[2021-02-08 09:44] Konamiman commented on #27093
Hi @SeynalKim, thanks for your report.

I have been able to reproduce the issue you are reporting with Crhome too. However the default behavior of WooCommerce upon password reset is already equivalent to what you are trying to replicate (a "Your password has been reset successfully" message appears and the user is redirected to the login page), is there any reason why you want to use your custom c

[2021-02-08 09:47] imbacactus commented on #29033
Thank you @juliaamosova for documenting the behavior and adding the correct label to this.

[2021-02-08 10:23] Novy85 commented on #24184
Any update from Woocommerce?. Will this problem be solved sooner or later?. It's really frustrating. I don't know how it works in other countries, but in Italy with electronic invoicing, prices must be accurate to the cent, I cannot charge a wrong amount, not even a cent. This means that you have to correct the various purchase invoices every time. I honestly would like to keep using Woocommerce,

[2021-02-08 10:25] Konamiman commented on #27101
Hi @strarsis, thanks for your report. I have been able to reproduce the issue but only partially.

I have a 'Color' taxonomy in my local setup, and if I run the code to reproduce issue 2...

[code]

...then indeed I get an empty resultset, which is incorrect.

However if I create a couple of meta fields to one of the terms...

[code]

...and then I run the code to try the issue 1...

[code]

...th

[2021-02-08 11:52] Dan-Q opened #29053 "WooCommerce logo should use new color #7f54b3, not old color #9b5c8f"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Based on WooCommerce.com, the "Woo" speech bubble logo should now be using #7f54b3 as the "purple" color, not #9b5c8f. Affected files inclu

[2021-02-08 13:33] rrennick commented on #28960
Version 12. `nvm use` should have updated node to v12.

When I ran the diff in `zsh` the files were identical.

Yes, the script runs using `sh`. What I was trying to work out is why you have a parse error on the script when no one else does. It looks like there is something on your computer that is adding `\r` to the lines but I don't know of anything that automatically does that.

[2021-02-08 13:57] roykho commented on #28822
This is already fixed in master branch. Thanks for reporting.

[2021-02-08 13:57] #28822 closed

[2021-02-08 14:04] DanielRuf commented on #28822
Awesome. Can you show me the relevant commit so I know how the correct solution looks like? That would be very helpful.

[2021-02-08 14:08] DanielRuf commented on #28822
At least I see no change in https://github.com/woocommerce/woocommerce/blob/master/includes/widgets/class-wc-widget-price-filter.php so I wonder how this was actually fixed.

[2021-02-08 14:10] DanielRuf commented on #28822
Ah, I guess https://github.com/woocommerce/woocommerce/pull/29038?

[2021-02-08 14:38] kbrown9 commented on #27608
Hi @Ilyagurm  - Does your error log contain any PHP warnings or notices that occur before the fatal error? The warnings/notices could help us identify the cause of your site's error.

[2021-02-08 14:39] roykho commented on #29046
Thanks for reporting @justanotherco - this is resolved in https://github.com/woocommerce/woocommerce/commit/5c76d8df59335118964b897d17978df5486c43c1 and will be going out soon.

[2021-02-08 14:39] #29046 closed

[2021-02-08 14:54] Ilyagurm commented on #27608
@kbrown9 I had to hire a developer sos during the weekend to handle this Woocommerce error. He solved it, here's a quote of how:

1. I've set a default version for
$jetpack_autoloader_latest_version global
2. I've set a default array with a path for
$jetpack_autoloader_cached_plugin_paths global

declaring these two globals, will prevent jetpack-autoloader to re-initialize a new instance

3. I've

[2021-02-08 16:12] arnost649 opened #29055 "Chyba po aktualizaci"
Po aktualizaci na verzi 1.2.14 ze dnešního dne se nezobrazí žádné volby, kromě seznamu funkcí ve vertikálním menu, viz print screen
https://ibb.co/723fgWT

[2021-02-08 16:48] tammullen commented on #29055
Hi @arnost649

Please note that we reply to bug reports in English language only. I used Google Translate to translate your message. You can use the same to translate my reply back.

Translation of the title:

Translation of the issue description:

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The iss

[2021-02-08 16:48] #29055 closed

[2021-02-08 16:56] Many17 commented on #28557
`
### WordPress Environment ###

WordPress address (URL): https://www.sviluppo.beachtribe.it
Site address (URL): https://www.sviluppo.beachtribe.it
WC Version: 4.9.2
REST API Version: ✔ 4.9.2
WC Blocks Version: ✔ 4.0.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.8.3
Log Directory Writable: ✔
WP Version: 5.6.1
WP Multisite: –
WP Memory Limit: 1 GB
WP Debug Mode: –
WP Cron: ✔
Language: i

[2021-02-08 18:07] zhongruige opened #29056 "Add JavaScript linter to pre-commit hook"
We want to add a JavaScript linter to the pre-commit hook so that it automatically formats and lints committed JavaScript files.

We can look at potentially using [Husky](https://github.com/typicode/husky) for triggering the pre-commit hook, and running Prettier.

Helpful documentation for this flow: [https://prettier.io/docs/en/precommit.html](https://prettier.io/docs/en/precommit.html)

[2021-02-08 18:34] #27882 closed

[2021-02-08 18:54] #29053 closed

[2021-02-08 18:55] kbrown9 commented on #27608
Thanks for the details @Ilyagurm!

We've merged [this PR](https://github.com/Automattic/jetpack/pull/18682), which will detect this situation before it causes an error. The PR is scheduled to be included in WooCommerce 5.0.

[2021-02-08 18:57] claudiosanches commented on #28724
I agree that `woocommerce-shop` is a nice addition and will help style this page.

[2021-02-08 19:02] Slartibartfast-byte opened #29058 "Paypal scam"
For security reasons, please report all security issues via https://hackerone.com/automattic/.  Also, if the issue is valid, a bug bounty will be paid out to you.

Please disclose responsibly and not via GitHub (which allows for exploiting issues in the wild before the patch is released).

I got lost in all the chaos of the hackerone website. I just want to warn Woocommerce about a security vulner

[2021-02-08 19:27] tammullen commented on #29047
Hi @leandroprz

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-02-08 20:00] tammullen commented on #29058
Hi @Slartibartfast-byte

For security reasons please submit your issue to https://hackerone.com/automattic/.
Be sure to include the [WooCommerce System Status Report](https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/) to help us evaluate it.
Without this report we won't be able to fully evaluate this issue.

The System Status Report is found in your WordPres

[2021-02-08 20:36] tammullen commented on #29050
Hi @zdenys

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot_2021-02-08_at_20_13_34](https://user-images.githubusercontent.com/24649833/107277457-4d304580-6a4c-11eb-9a21-625dc8c2743b.png)
I had the product permalinks set to the default.

![Screenshot_2021-02-08_at_20_11_42](https://user-images.githubusercontent.com/24649

[2021-02-08 20:42] juliaamosova commented on #27878
@zhongruige thanks for doing research on this issue! Your proposed plan below sounds good to me:

Create a new manual order
Verify the "Customer payment page →" link is displayed
Click the link
Verify the warning text is shown (since this is a merchant flow, we should make sure they see the warning)
Verify product / quantity / price all match
Be able to pay for the order and land on the "Order rec

[2021-02-08 20:56] zhongruige commented on #27878
Thanks so much for the feedback @juliaamosova! I'll get started on adding in those tests 🎉

[2021-02-08 21:39] thesiteowner opened #29062 "Shop_manager role"
Hello, I have the latest version of woocommerce.
I add my worker to new sites and in one of them, he is able to add product and see all features in the Screen Options tab, on the other website he has the same role as Shop Manager but he can press on Screen Options and he is not able to see a short description of a product!
Where is the problem can I know?

[2021-02-08 22:26] juliaamosova commented on #28490
When I think about this flow and how to optimize for the most basic functionality to be covered here with testing, I have the following merchant in mind:

- Merchant ships products only within the US.
- They want to offer $10 USD Flat Rate Shipping to all states.
- But in California, where they are based, they want to offer Free Shipping .
- They are physically located in San Francisco where they

[2021-02-09 00:21] WillBrubaker commented on #28960
What does `md5 -r bin/package-update.sh` result in on your system?

25801f01efe394066b085bd502b712cc bin/package-update.sh

After removing the carriage returns:

25234e109ceda842042812bc53004306 bin/package-update.sh

[2021-02-09 05:21] WillBrubaker commented on #28960
Nevermind. Found it https://git-scm.com/docs/gitattributes#_end_of_line_conversion ~/.gitconfig had
[code]

I changed that and everything works. Thanks.

[2021-02-09 05:21] #28960 closed

[2021-02-09 06:17] JJHEALTHCARE opened #29067 "Variation field/Tab is not showing up under Product data"
When I add new product and try to add variations, User is unable to find variation field or tab under Product data on Edit Product page. Please see attached screenshot.

![Screenshot (22)_LI](https://user-images.githubusercontent.com/78783262/107323517-651bbf80-6a74-11eb-8895-b93cf224341c.jpg)

[2021-02-09 08:05] carazo commented on #29013
Yes I have the same problem. I tell you my case:

- my customer needs to show a shipping method only some hours by week (this is a special weekend shipping method)
- If I do not check this option, due to the cache, it is not shown when it should be shown
- but the message of the "zone" appears and we cannot disable it in some way
- I have seen how it is done, and there is not hook to do it

It wou

[2021-02-09 09:08] AniketMalik commented on #16315
Did you manage to do it ? If yes, please share the way to implement it.
Thanks

[2021-02-09 09:13] GRSM78 commented on #15642
Please check if you have any caching plugin installed - in my case Breeze was causing the issue. I'm still looking for a way to fix this so will keep you posted

[2021-02-09 10:04] alirezat66 opened #29069 "Brand api problem"
**Issue Description: the issue is most of woocomerce websites has brands like categories while the woocommerce api didnt support brands. what we do?**

[2021-02-09 11:18] kolonuk commented on #16315
The orders API doesn't have an image property.  See the API documentation: https://woocommerce.github.io/woocommerce-rest-api-docs/#orders

You can use the order meta data property: https://woocommerce.github.io/woocommerce-rest-api-docs/#order-meta-data-properties

If that doesn't work for you, you will need to create your own custom API call, or edit the existing API call.

[2021-02-09 11:46] Konamiman commented on #27376
Hi @dexylea , I've been taking a look at the multiple emails issue you mentioned and I haven't been able to reproduce it. If I create a partial refund for two separate items, whether it's via admin UI or via REST API, I see that WooCommerce is sending one single email which includes both items. Maybe I'm misunderstading what the actual problem is?

[2021-02-09 13:37] rrennick commented on #28960
@WillBrubaker Awesome. Glad you found it.

[2021-02-09 13:39] rrennick commented on #28959
@WillBrubaker Was this the same config issue as #28960?

[2021-02-09 14:29] narulasrinivas opened #29071 "how to add multiple accounts for multiple countries?"
Hi Team,

We started using woocommerce for our site and we're planning to to take payment across the globe. As a part of requirement, I want to know how to achieve multiple paypal accounts in different currencies. Based on currency selection, I want to send the payment to that related country.

Please let us know if this is achievable. If yes, please give us some pointers to implement on our site.

[2021-02-09 14:43] louisgranato3 commented on #28350
I also ran into this same issue. I had to put some jQuery in place temporarily to fix it.

[2021-02-09 14:45] louisgranato3 commented on #28350
Also, if I uncheck the setting "Allow customers to log into an existing account during checkout" then the same thing happens except that the "Please log in" link does absolutely nothing at all because the login form isn't available to be shown (so in that case, it's not just an issue of not scrolling the user up, but rather than the "Please log in" link should go to the My Account page in that sce

[2021-02-09 14:58] zhongruige opened #29072 "Create a getConfigSimpleProduct() function"
We should create a function for getting the simple product from the config.

See: https://github.com/woocommerce/woocommerce/pull/29064#discussion_r572899952

[2021-02-09 15:26] microautomation commented on #24988
This helped me removing  /plugins/woocommerce/assets/css/photoswipe/photoswipe.min.css AND /plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.min.css

**To remove:**
remove_theme_support( 'wc-product-gallery-zoom' );
remove_theme_support( 'wc-product-gallery-lightbox' );
remove_theme_support( 'wc-product-gallery-slider' );

**To enable:**
add_theme_support( 'wc-product-gallery-zo

[2021-02-09 17:48] jayeshu07 opened #29073 "Hii"

[2021-02-09 17:49] #29073 closed

[2021-02-09 19:44] Nashoot opened #29074 "WooCommerce flexslider touch screen issue"
I have made some css changes to the gallery in single product page in woocommerce to make the thumbnails scroll horizontally. the issue is when trying to scroll the thumbnails on mobile devices the thubmnails won't scroll but the slider swipes left and right.

sometimes after resizing the browser to mobile size it scrolls and shows following error: **Ignored attempt to cancel a touchend event with

[2021-02-09 20:24] JJHEALTHCARE commented on #29067
Is there any update on this?

Variation filed/tab use to be there before and now I don't see that field anymore. Please fix this issue asap.

Thanks!

[2021-02-09 20:41] apollolux opened #29075 "Missing theme parts on default themes"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I had originally reported this [on the WooCommerce WP Plugins Support page](https://wordpress.org/support/topic/missing-template-parts-on-d

[2021-02-09 21:02] tammullen commented on #27878
I realised we already have a separate flow for this
https://github.com/woocommerce/woocommerce/issues/27884

[2021-02-09 21:16] tammullen opened #29076 "Write new e2e test: Shopper / Product / Variable Product Info updates depending on variation"
Write a new e2e test that covers Shopper / Product flow.

The test should cover the following functionality:

- Variable Product Info updates depending on variation

[2021-02-09 21:43] zhongruige commented on #27878
Thanks for sharing that!

[2021-02-09 22:25] ntindicator commented on #25934
I have discovered that this issue occurred because all attribute fields weren't included in the CSV import I did. Updating the name field alone fails to update the product, but if the fields such as value(s) are included then the product will update.

[2021-02-09 22:25] #25934 closed

[2021-02-09 22:40] vasikgreif opened #29077 "Filter for salutation in emails"
Currently the salutation in emails does not work for languages where the vocative is different than the nominative. Ie., in Czech for customer name "Petr Novák" the correct salutation is "Hi Petře Nováku".

I'm currently using a hacky way to change the salution, which basically does a search replace on the default string.

[code]

This obviously is not a great way to do this, but I did not find an

[2021-02-09 23:58] szepeviktor opened #29078 "Composer installation results in an empty /packages directory"
Hello!

I cannot release WC stubs v4.9.2 and v5.0.0 as after `composer update` [the /packages directory](https://github.com/woocommerce/woocommerce/tree/master/packages) remains empty.
https://github.com/php-stubs/woocommerce-stubs/releases

[code]

Please help me.

[2021-02-10 00:05] szepeviktor commented on #29078
I know many work-arounds but interested in a sustainable solution.

[2021-02-10 05:31] pojke opened #29080 "Allow theme JS to override the default empty variation error function"
Unless I'm missing something there's no way of overriding in your own theme this prototype since VariationForm is a local variable:
https://github.com/woocommerce/woocommerce/blob/master/assets/js/frontend/add-to-cart-variation.js#L125

Is it viable to create jQuery prototype $.fn to access that local prototype so theme creator can replace alert with something else?
Happy to create a patch (again

[2021-02-10 08:24] vedanshujain commented on #27521
Marking with `impact: high` label as the fix affects checkout flow.

[2021-02-10 09:57] boemedia opened #29081 "Tooltips not accessible with keyboard"
**Prerequisites (mark completed items with an [x]):**
- [X] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

WooCommerce uses tooltips to provide additional information in

[2021-02-10 10:56] #28717 closed

[2021-02-10 11:48] DeanForde opened #29083 "manage stock between variants"
**Is your feature request related to a problem? Please describe.**
I have a product with multiple variants and I am wondering how I can manage the stock at a variant level.

see my variant configuration -> https://i.stack.imgur.com/w4VFp.png

For instance:
I want #50376 (inflated pink) to share the same stock level as #50379 (flat pink), I want #50377 (inflated red) to share the same stock level a

[2021-02-10 12:38] goetzk commented on #27655
After upgrading to WP 5.6.1 with Woocommerce 4.8 using en-AU we found the same issue.

Its my belief that when commit 718943c4dfb9dfe41393b358c0c6833e60813714 and 7f5dd5c9975e81ad8e45b6068675eeedb0d4a96a were made to `includes/wc-account-functions.php` the logic for choosing which localisation string to use was affected. (Its line 102 at the time of writing).

It looks to me like previously the st

[2021-02-10 13:13] haroonstar77 opened #29084 "woocommerce update error"
juts upgraded my woocommerce plugin, my site becomes inaccessible, neither wp admin nor website. error message a critical error.
tried renameing plugin folder with ftp, site and wp admin comes back, but as soon as i try to install the woocommerce, it's not successful. tried downgrading woocommerce and uploading it through ftp. same error.

please help me to recover from this situation.

[2021-02-10 13:48] juliaamosova commented on #27655
Thanks for the additional feedback, everyone! I marked this issue as `bug` and gave it a `high` priority for fixing due to the number of comments we received - it seems to affect many people.

[2021-02-10 14:07] johnknoop opened #29085 "API returns wrong prices on order lines"
I've created a product with a sale price:
![image](https://user-images.githubusercontent.com/3394270/107519645-cd6fbb80-6bb0-11eb-8e99-0091c5e55b95.png)

Then I placed an order for that product. Here's a screenshot of the order confirmation page:
![image](https://user-images.githubusercontent.com/3394270/107519762-ec6e4d80-6bb0-11eb-820f-064cfa0045d7.png)

When I fetch the order via the API, the t

[2021-02-10 14:44] gglobalstep opened #29086 "[GlobalStep - WooCommerce 5.0] "404 Not Found" error is thrown upon clicking “Download & Install” option for Storefront theme under WooCommerce-> Extensions->All page."
## Bug Description:
"404 Not Found" error is thrown upon clicking “Download & Install” option for Storefront theme under WooCommerce-> Extensions->All page.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test sit

[2021-02-10 14:49] Spreeuw opened #29087 "PHP8 Uncaught TypeError: Unsupported operand types: string + string"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When trying to save an order in PHP 8.0 (in WC5.0) I get the following error:

Fatal error: Uncaught TypeError: Unsupported operand types:

[2021-02-10 14:59] tammullen commented on #29084
Hi @haroonstar77

Do you have any other details in the error message you can paste here? Can you check if you have any emails from your site that contain Error Details?

This kind of problem is usually caused by a conflict with your theme or with another plugin.

The best way to determine this is to:

Temporarily switch your theme to [Storefront](https://www.woocommerce.com/storefront/)
Disable al

[2021-02-10 15:18] roykho commented on #29087
Hi @Spreeuw - thanks for reporting this. I can confirm I was able to reproduce this. We will fix this by the next release.

[2021-02-10 15:21] Spreeuw commented on #29087
@roykho Since this breaks saving orders, maybe prioritize for 5.0.1?

[2021-02-10 18:13] peterfabian opened #29090 "[Spike] Analyze the database operations on orders and the way they might fail"
As raised in https://github.com/woocommerce/woocommerce/issues/29027, there are gaps in how WC handles database operations. Lots of times, the return value from the db operation is not checked.

We've decided to dedicate 4 days to a research spike on this topic. The main focus is on operations with _orders_ (and _refunds_) and the desired outcome is a _proposal on how to approach the implementatio

[2021-02-10 18:22] peterfabian commented on #29027
We've decided to approach this from the perspective of first fixing the most important data and later look at how we can prevent this from happening in the future.
As for immediate actions, we've prioritized a [research spike on how to implement a fix for order objects](https://github.com/woocommerce/woocommerce/issues/29090). Based on the result of the spike, we'll proceed with a fix for orders a

[2021-02-10 18:28] rrennick opened #29091 "Export puppeteer-utils from e2e-utils"
Currently `@automattic/puppeteer-utils` feature/functions are available through `@woocommerce/e2e-environment`. We should also export those features/functions from `@woocommerce/e2e-utils` so the core tests package isn't dependent on the environment package.

[2021-02-10 19:29] #28797 closed

[2021-02-10 19:40] haroonstar77 commented on #29084
the error message is * your site has encountered a critical error please check your email for debugging options*, and  I don't receive any email. I renamed the plugin folder through ftp to *plugin-old* and created a new folder name *plugin*. At this point everything works fine, I am able to login and and access my site. as soon as I install the woocommerce, the error comes back and won't let me ac

[2021-02-10 20:48] dorlyjunior commented on #28739
@zhongruige, awesome!

I updated to the latest version of woocommerce, checked my plugins and I was able to edit the variations again.

Thank you so much guys!

[2021-02-10 20:48] #28739 closed

[2021-02-10 21:00] zhongruige commented on #28739
That's great to hear! Glad to hear that's working now :)

[2021-02-10 21:09] claudiosanches commented on #29086
Hello,

Thank you for reporting this issue. I couldn't reproduce it now, but testing WooCommerce on Jurassic Ninja I experience similar problems on other pages, and it sounds like an issue in Jurassic Ninja.

I'm closing for now since it seems to be an issue on Jurassic Ninja.
Thanks.

[2021-02-10 21:09] #29086 closed

[2021-02-10 21:14] claudiosanches commented on #29084
Hello @haroonstar77,

Could you please enable WP debugging mode, so we could have some idea of what is causing it?
You can find instructions here: https://docs.woocommerce.com/document/woocommerce-product-search/api/debugging/

After enabling WP debugging mode you should try to navigate in `wp-admin` again with WooCommerce activated, it will fill the `wp-content/debug.log` file with information ab

[2021-02-10 21:20] WillBrubaker commented on #28959
@rrennick No it is not.

[2021-02-10 21:21] adevade commented on #29085
The price is listed without tax.

If you add the total and the tax for the line item you get the correct amount: `1199.20 + 299.80 = 1499.00`

[2021-02-10 21:45] johnknoop commented on #29085
@adevade I see. So the "prices_includes_tax" property doesn't apply to the line items?

[2021-02-10 21:52] #28992 closed

[2021-02-10 22:50] #28716 closed

[2021-02-10 22:50] #28924 closed

[2021-02-10 23:01] #27878 closed

[2021-02-10 23:11] ospiotr opened #29096 "Fatal error on the Reports page after 5.0.0 update"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Caused by #28799

I am using an [official WooCommerce filter](https://woocommerce.wp-a2z.org/oik_hook/woocommerce_admin_disabled/) to disa

[2021-02-10 23:38] roykho commented on #29096
Thanks for reporting. Fixed here https://github.com/woocommerce/woocommerce/commit/315c4de5c3270cfeea9cb2bf6da9d58e09d4250d

[2021-02-10 23:38] #29096 closed

[2021-02-11 03:16] #29087 closed

[2021-02-11 08:55] haroonstar77 commented on #29084
I followed the procedure you mentioned above. but wp is not creating any debug file. I stilll have same problem after trying all methods.

![image](https://user-images.githubusercontent.com/67603220/107615292-2b051600-6c4c-11eb-9058-c749b6475986.png)

[2021-02-11 09:48] Goldenlion2020 commented on #25524
Yesterday, I updated WooCommerce to version 5!!!
But again no solution for this problem.
Inspite of all the good suggestions of other readers of this topic (I don't want another plugin to do the job....), I would like to see any response of the WooCommerce people with a ETA of solving this issue.

Thanks.

[2021-02-11 11:47] johnknoop commented on #29085
`shipping_lines` appears to work differently.

I've opted to enter prices inclusive of tax:

![image](https://user-images.githubusercontent.com/3394270/107632495-dc18aa00-6c66-11eb-9290-44cc7c12cf0b.png)

So when I enter the flat rate shipping price, I assume I should enter it including the tax:

![image](https://user-images.githubusercontent.com/3394270/107632574-f783b500-6c66-11eb-9797-006bd43a7

[2021-02-11 13:29] #27521 closed

[2021-02-11 13:56] szepeviktor commented on #29078
@claudiosanches Please help me. I cannot release stubs.

[2021-02-11 14:10] Dekadinious commented on #27600
I am also struggling with no returned orders when I use a UTC range for date_completed. I have changed the completed date in the database to be inside the given range, but it is not returning anything.

It seems this function has its problems, ref. #16683. I don't know if that is an issue that should be opened again?

[2021-02-11 15:57] jeffdaigle commented on #27424
Still happening with the "WooCommerce database update done" banner as of 5.0.0. Multiple sites.

[2021-02-11 16:03] roykho commented on #27424
Hi @jeffdaigle - this fix is going out in version 5.1.

[2021-02-11 16:05] mjgchase opened #29101 "Database update does not complete?"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-02-11 17:27] tammullen commented on #29069
Hi @alirezat66

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help fu

[2021-02-11 17:27] #29069 closed

[2021-02-11 17:28] tammullen commented on #29071
Hi @narulasrinivas

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Gu

[2021-02-11 17:28] #29071 closed

[2021-02-11 17:57] tammullen commented on #29075
Hi @apollolux

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end for the **Twenty Twenty** theme.
​
![Screenshot 2021-02-11 at 17 30 09](https://user-images.githubusercontent.com/24649833/107676846-81487800-6c91-11eb-8226-5de4a8005011.png)
Populated Footer

When I use Twenty Twenty theme I don't see the footer.
![screencapture-firm-cornc

[2021-02-11 17:58] BowFarmer opened #29103 "Total count of Downloads on WooCommerce Admin Analytics is incorrect"
The total count of downloads on the Downloads report on WooCommerce Admin Analytics is incorrect. I am using WooCommerce 5.0.0, however for as long as I can remember, the Downloads total WooCommerce shows has never been correct. I have been using WooCommerce since 2019.

The Downloads report appears to show the total number of downloads of all time, not the total download count for the time period

[2021-02-11 18:02] szepeviktor commented on #29078
Thank you @tammullen! I'm thinking about closing my project as the WC release process seems unpredictable to me.

[2021-02-11 18:02] tammullen commented on #29062
Hi @thesiteowner

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guid

[2021-02-11 18:02] #29062 closed

[2021-02-11 18:08] claudiosanches commented on #29084
@haroonstar77 if you enable correctly the WP debugging mode it should start filling the `wp-content/debug.log` file. Because onlyu with your screenshot isn't possible to determine what is wrong on your installation.

[2021-02-11 18:08] tammullen commented on #29067
Hi @JJHEALTHCARE

Thank you for raising the issue. However, I can’t reproduce it on my end.
​
![Screenshot 2021-02-11 at 18 07 47](https://user-images.githubusercontent.com/24649833/107679177-26fce680-6c94-11eb-92ee-36bb036d3a65.png)

​
I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plug

[2021-02-11 18:29] ObliviousHarmony commented on #29078
Howdy @szepeviktor,

This set of `installer-paths` will fix your problem:

[code]

As far as an explanation goes this is a consequence of two factors:

1. The contents of the `packages` directory have an installer type of `wordpress-plugin`. Your previous `installer-paths` setting indicates that they should be moved to the top-level, which they are. Since only the consumer's `composer-installer` s

[2021-02-11 18:32] szepeviktor commented on #29078
Thank you. I do as you say.

[2021-02-11 18:35] tammullen commented on #29083
Hi @DeanForde

Thank you for taking the time to share this idea, we really appreciate your help.
​
While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2021-02-11 18:35] #29083 closed

[2021-02-11 18:43] szepeviktor commented on #29078
@ObliviousHarmony Lastly installed WC seems to overwrite those 3 packages ending up with an empty `/packages` directory.

`composer-v1 update -v`

[code]

A second run puts those 3 packages into `/packages`.
I am very sad. Please help me.

[2021-02-11 18:47] szepeviktor commented on #29078
`composer2 update -v`

[code]

[code]

Composer v2 - which I'm not daring enough to use yes - created these, `packages/packages/` is empty.

[2021-02-11 18:49] tammullen commented on #29077
Hi @vasikgreif

Thank you for taking the time to share this idea, we really appreciate your help. In case you haven't seen we also have some documentation on customizing email templates here https://docs.woocommerce.com/document/email-faq/#section-4
​
While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our

[2021-02-11 18:49] #29077 closed

[2021-02-11 19:01] ObliviousHarmony commented on #29078
@szepeviktor Sorry, I'm using `v2` and can't speak to a `v1` solution. It isn't ideal but perhaps if you added those dependencies to your `require` key (ordered after `woocommerce/woocommerce` with the same versions as the corresponding release) it wouldn't squash the packages? As for the extra directory this shouldn't be a concern as its empty.

[2021-02-11 19:08] Beats24-7 opened #29106 "WooCommerce + MediaFire DL links using website bandwidth"
Hi there,
I’m using WooCommerce in your latest version and include MediaFire download links in the product settings (virtual, downloadable) to serve digital downloads. WooCommerce generates a download link that proxies the connection to MediaFire and then serves it through the URL of the website in order to mask the URL of the file the customer is downloading. The File download method in WC is set

[2021-02-11 19:12] WhoopDav opened #29107 "Secondary admin email receives no emails"
**Describe the bug**
Since the last WC update (5.0.0) I did yesterday, the secondary email address we add for admins in “receipients” (in the email settings) no longer receives an email. Only the first admin email address in the list receives the emails ("new order" email to be specific)

**Expected behavior**
An email should be sent to all email addresses listed and seperated by a comma, like it

[2021-02-11 19:21] szepeviktor commented on #29078
Thank you for your answers.

[2021-02-11 19:21] #29078 closed

[2021-02-11 19:25] #28946 closed

[2021-02-11 20:20] vasikgreif commented on #29077
I can easily add pull request for this, would it be accepted? It certainly won't break anything. I know I can change templates, but that's an overkill considering I only need to change the salutation.

[2021-02-11 20:31] tammullen commented on #29077
Thanks! Contributions are always welcome and it would be taken under consideration. You can learn more about contributing here https://github.com/woocommerce/woocommerce/blob/master/.github/CONTRIBUTING.md

[2021-02-11 21:15] tammullen commented on #29085
Hi @johnknoop

The Flate Rate Shipping Cost as mentioned on the tooltip is entered excluding tax.

![Screenshot_2021-02-11_at_21_09_09](https://user-images.githubusercontent.com/24649833/107699216-ad71f200-6cad-11eb-8be6-6cb0056606f3.png)

Everything else here seems to be working as expected.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a pl

[2021-02-11 21:15] #29085 closed

[2021-02-11 21:19] tammullen commented on #29103
Hi @BowFarmer

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

[2021-02-11 21:24] diegoabbate opened #29108 "Manual Orders in status of pending Payment Doesn't reduce stock anymore"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
when I place an order manually, now, with the latest WooCommerce Admin update, the stock is not reduced when the order status is "Pending

[2021-02-11 21:26] tammullen commented on #29106
Hi @Beats24-7

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide](

[2021-02-11 21:26] #29106 closed

[2021-02-11 21:44] tammullen commented on #29107
Hi @WhoopDav

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.0.

![Screenshot_2021-02-11_at_21_36_50](https://user-images.githubusercontent.com/24649833/107702093-ab119700-6cb1-11eb-8162-8bc6798ca4bb.png)

![Screenshot_2021-02-11_at_21_37_08](https://user-images.githubusercontent.com/24

[2021-02-11 21:52] tammullen commented on #29074
Hi @Nashoot

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help furth

[2021-02-11 21:52] #29074 closed

[2021-02-11 21:54] haroonstar77 commented on #29084
@claudiosanches Finally i have found the problem, my SQL database was overloaded because it has reached the maximum limit. i cleaned up my database and everything comes back to normal. little strange but that's what it was.

[2021-02-11 22:34] rogervila opened #29110 "wc_update_cart() helper function"
**Is your feature request related to a problem? Please describe.**
I cannot update the Cart from my custom PHP functions.

**Describe the solution you'd like**
I would like to call `WC_Form_Handler::update_cart_action()` from my custom functions.
A `wc_update_cart()` helper function would fit perfectly

**Describe alternatives you've considered**
I have not found any other solution, as explained [

[2021-02-12 00:08] Beats24-7 commented on #29106
Hi @tammullen,
thanks for your reply. I will further investigate this and update you. However, I have the latest version of WooCommerce and I am not using an additional plugin to serve the download links for the virtual and downloadble product files (simply the WC settings: -> Add file, download link). Furthermore, as already mentioned, the same exact website on a subdomain without download traffi

[2021-02-12 05:25] taxilian commented on #22687
The most frustrating thing about this decision is that stamps.com and doubtless some other shipping systems give you an error if you try to erroneously list US territories as their own country. It baffles me that anyone thinks this is a good idea -- I have talked to people in PR and Guam and they have no idea why so many list it that way either.

They aren't separate countries. They dont' think of

[2021-02-12 07:43] WhoopDav commented on #29107
Hi @tammullen

Thank you for checking that so quickly. Well you are very much right. After digging deeper I found the issue was with the last update WPML has made (WPML Translation Management). So this looks as thought its 100% a WPML issue. I will go and raise a ticket with them.

Thank you in any case

[2021-02-12 07:58] #29084 closed

[2021-02-12 09:15] vedanshujain commented on #28320
Closing based on the above comment. See also https://github.com/woocommerce/woocommerce/issues/29078

[2021-02-12 09:15] #28320 closed

[2021-02-12 09:42] jasperfrontend commented on #27424
Still present in 5.6.1. One can click the confirmation button 100 times, it won't go away. Weird thing is: if you just keep on clicking it, eventually it'll go away but I don't know how. Thanks for making this better!

[2021-02-12 10:17] Konamiman commented on #27442
I'm closing the issue for now, we can reopen it in the future if appropriate.

[2021-02-12 10:17] #27442 closed

[2021-02-12 10:44] Konamiman commented on #27579
Hi @jamesckemp, thanks for your report.

We are going to start working on a fix for [the out of stock variations filtering issue](https://github.com/woocommerce/woocommerce/issues/25524), and that will likely imply significant changes in the filtering widget. I'll take note of this issue to revisit it then.

[2021-02-12 10:58] Chouby opened #29112 "PHP notices when running PHPUnit tests"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Since WooCommerce 5.0, I see PHP notices when running PHPUnit tests. These notices did not appear in WooCommerce 4.9.0.

**Expected behavio

[2021-02-12 12:44] tammullen commented on #29101
Hi @mjgchase

Thank you for reporting the issue. However, I believe this issue has been reported previously here https://github.com/woocommerce/woocommerce/issues/27424. The fix for this is slated for the 5.1.0 release due in March.

We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-02-12 12:44] #29101 closed

[2021-02-12 12:54] Margherita85M opened #29113 "No permission to add new product"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-02-12 13:01] terryatdurty opened #29114 "Product Data dropdown not showing on some admins"
Hi there,

I help run a small ecommerce site for a small business and so have access to both my own account and the shop owner's.

After some updates this week, the "Product Data" area on each product isn't showing - but only on their account. I can see it fine on mine.
I also logged in with their admin details and it seems to be just their account (so not expecting a browser/cache issue here).

A

[2021-02-12 13:09] #29114 closed

[2021-02-12 13:09] terryatdurty commented on #29114
Users being users...

[2021-02-12 13:22] tammullen commented on #29108
Hi @diegoabbate

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end in WooCommerce 5.0, I also checked in earlier versions as well.

Manually created orders with a status of `Pending payment` are not meant to reduce stock. More details here https://docs.woocommerce.com/document/managing-orders/

When I created

[2021-02-12 13:30] tammullen commented on #29110
Hi @rogervila

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help fur

[2021-02-12 13:30] #29110 closed

[2021-02-12 13:32] tammullen commented on #29113
Hi @Margherita85M

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Gui

[2021-02-12 13:32] #29113 closed

[2021-02-12 14:03] roykho commented on #29112
Thanks for reporting this @Chouby - I am moving this to the appropriate repo for exposure.

[2021-02-12 14:38] Konamiman commented on #27434
Hi @falahati, thanks for your report. Here's a pull request that fixes the issue, it's going to be merged as soon as it's reviewed and approved by my team: https://github.com/woocommerce/woocommerce/pull/29115

[2021-02-12 14:40] tammullen commented on #28832
Hi @anant1811

Thanks for raising this.

![Screenshot 2021-02-12 at 14 33 49](https://user-images.githubusercontent.com/24649833/107781523-e3f84d00-6d3f-11eb-9f2d-18d451e107dc.png)

When I use 800px width I can see what you are referring to but it is less pronounced as I have fewer columns. I think your extra columns might be coming from other extensions?

Looking at this related issue https://git

[2021-02-12 14:40] #28832 closed

[2021-02-12 14:48] tammullen commented on #28910
Hi @annStein

Thank you for reporting the issue. Analytics is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

[2021-02-12 15:18] tammullen commented on #28777
Hi @mredodos

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end in WooCommerce 5.0 with both Storefront theme and Twenty Twenty One theme

![screencapture-firm-corncrake-jurassic-ninja-product-testing-2021-02-12-15_12_37](https://user-images.githubusercontent.com/24649833/107786223-823ae180-6d45-11eb-95f3-e1bc3522f39b.png)
![screencaptur

[2021-02-12 15:38] tammullen commented on #27915
Hi @jacoswan

Sorry for the delay. Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​
I have 67 categories
![Screenshot 2021-02-12 at 15 29 54](https://user-images.githubusercontent.com/24649833/107788225-1443e980-6d48-11eb-98e1-a627bdec636c.png)

In the add Menu items sections I am seeing my categories nes

[2021-02-12 15:42] roykho commented on #29029
So I've had a look into this and the fix is not straight forward because this is potentially a breaking change. For the people who has already used this will still be expecting `day` instead of `week`.

Possible solutions:

1. Version it to 4 with new logic to prevent breaking changes.
2. Update documentation to state `day` as the default. This is probably the path of least resistant and does not

[2021-02-12 15:48] tammullen commented on #28163
Hi @Hadakajime

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2021-02-12 at 15 39 54](https://user-images.githubusercontent.com/24649833/107789439-810bb380-6d49-11eb-92b5-a042af0df14d.png)
![Screenshot 2021-02-12 at 15 40 47](https://user-images.githubusercontent.com/24649833/107789447-836e0d80-6d49-11eb-9bbd-1819f99e

[2021-02-12 15:57] tammullen commented on #28819
Hi @Joey-yeoJ

I also can't reproduce this.
![Screenshot 2021-02-12 at 15 51 47](https://user-images.githubusercontent.com/24649833/107790099-50784980-6d4a-11eb-85b6-da737d4338d3.png)

Can you confirm you are using the latest version of the `fr_FR` language pack?

In addition to that, please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your sit

[2021-02-12 16:05] johnknoop commented on #29085
@tammullen I see. So can you confirm if this is correctly understood then:

- If `prices_include_tax` is `true` then
  - `total` contains the sum total of the order including tax
  - All other properties, including `line_items`, `shipping` and `discount_total` are excluding tax
- If `prices_include_tax` is `false` then
  - `total` contains the sum total of the order excluding tax
  - All other pro

[2021-02-12 16:05] tammullen commented on #27761
Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​I tried with Browserstack on iPhone 7 and 12 using Chrome

https://user-images.githubusercontent.com/24649833/107791698-2758b880-6d4c-11eb-8b2b-eb18502d6874.mov

https://user-images.githubusercontent.com/24649833/107791719-2c1d6c80-6d4c-11eb-9978-79eca55060a

[2021-02-12 16:20] BlackJack7878 commented on #28213
Bump, still have this issue in 5.0.0

[2021-02-12 16:29] joaojuicee opened #29116 "Request to /wc/store/cart blocked by CORS due to "Request header field x-wc-store-api-nonce is not allowed by Access-Control-Allow-Headers in preflight response.""
I'm building a vue app that will connect to the woocommerce API which is hosted in a different domain than the WP application.
The wordpress application is using https with a valid certificate and ist running under the `lemon-wp.test` domain while the vue app is running on `localhost`.

I'm making a request to `/wp-json/wc/store/cart/add-item` with the requested `X-WC-Store-API-Nonce` header which

[2021-02-12 16:36] seb86 commented on #29116
The store API is designed for internal use. Your better of using CoCart which is designed for headless applications and supports CORS. No need for passing a NONCE header either.

[2021-02-12 16:37] tammullen commented on #28752
Hi @GeoJunkie

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
As you noted, it appears that it happens when the pre tax amount is below the threshold Free Shipping is applied as long as the including tax amount is above the threshold but when this happens the `apply minimum order rule before coupon discount ` option is ignored if i

[2021-02-12 16:53] addedlovely commented on #28213
Likewise, dug a bit deeper - and have correctted the link I'm using to add to the basket, as follows for an taxonomy attribute called finish
?add-to-cart=<< parent id >>&variation_id=<< variation id >>&attribute_pa_finish=any

This returns an error, Invalid value posted for Finish.

Issue seems to be here in the add_to_cart function:
https://github.com/woocommerce/woocommerce/blob/f9a02d1029a1db9e

[2021-02-12 17:28] vedanshujain commented on #29029
Let's go ahead with solution 2, I believe it is the only feasible solution that we can do now to close this issue.

[2021-02-12 17:41] millerf commented on #29029
Makes sense. No need to impact anyone for such a small and issue...

[2021-02-12 19:05] joaojuicee commented on #29116
CoCart is payed, and why the hell would you expose an API and leave out one of the main features of an e-commerce... the cart? just baffles me.
I was able to create an express app within the same domain as my WP website, the purpose of this node app is be the middleman between my client and the Woocommerce API, thus far I was able to successfully make the request above by doing:

Client -> Node en

[2021-02-12 19:18] seb86 commented on #29116
@joaojuicee If you bothered to research you would see that the core of CoCart which has the cart API feature is in the [WordPress plugin directory](https://wordpress.org/plugins/cart-rest-api-for-woocommerce/).

I also have a [JS Library](https://github.com/co-cart/cocart-js-lib) that supports the use of Axios.

If you have any further questions you can [contact me](https://cocart.xyz/contact/) vi

[2021-02-12 19:33] joaojuicee commented on #29116
I did research lol https://cocart.xyz/pro/#pricing and as I said, makes no sense to not expose the cart on the API and instead force you to use a 3rd party plugin

[2021-02-12 19:37] seb86 commented on #29116
🤦‍♂️ Not lol. That is CoCart Pro price page. I said the core of CoCart is on the WP.org plugin directory. Meaning FREE!!! https://wordpress.org/plugins/cart-rest-api-for-woocommerce/

Never mind. If you don't want to use third party that's fine. Just trying to provide you a working solution.

[2021-02-12 19:42] Tabrisrp commented on #23682
👋🏼 This is also causing an issue for us at WP Rocket, as customers are opening support tickets related to `nonce` (used in login/forms and such) and caching, but the root cause is this custom implementation of nonce from WooCommerce for logged-out users.

We do have a compatibility file and methods in place, but having to maintain a list of `nonce` to revert is a PITA on the long run:
https://gith

[2021-02-12 20:16] roykho commented on #29029
Thanks again for reporting this @millerf - I've created a PR to fix this in our API documentation repo here https://github.com/woocommerce/woocommerce-rest-api-docs/pull/193 I will be closing this issue here for now.

[2021-02-12 20:16] #29029 closed

[2021-02-12 20:17] ramjamx commented on #28986
Problem was fixed with the update
= 5.0.0 - 2021-02-09 =

Thank you.

[2021-02-12 20:17] #28986 closed

[2021-02-12 20:37] negapo commented on #29033
Hi @imbacactus
The following plug-in does that: Variation Swatches for WooCommerce, it allows you to chose an attribute to change the image (like color). It works by fetching the first variation that has that color and it shows the correspondent image.

I also faced that problem, and as you pointed that out Woo doesn't work like that unfortunately. For that to work the concept of attributes and va

[2021-02-12 21:51] pduclo commented on #22284
This is still an issue and I have had a few confused customers. The way I see it, when a logged in user is at the cart page, it should either not show the full address (just show city/state/zip/countr), or allow changing of full address.

They see their full address in the shipping options area and when they click "change address" the street address line is not there. I could see how that would be

[2021-02-12 22:14] JJHEALTHCARE commented on #29067
Hi Tam,

Thank you for getting back to me. I actually fixed the issue by just
updating my woocommerce plugin.
Thanks for your help anyways. I guess it's really important to catch when
the updates are available.

Have a great day.

Best regards,

*JJ Healthcare ProductsInspiring Better Health*

On Thu, Feb 11, 2021 at 1:09 PM Tam Mullen <notifications@github.com> wrote:

[2021-02-12 22:47] stodorovic opened #29119 "CSS variables contain scss variables instead of real values"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-02-12 22:56] hsingyuc commented on #28868
I'll try this one 🙂

[2021-02-12 23:33] roykho commented on #29119
Yeah apparently it's because of the SASS versions as documented here https://sass-lang.com/documentation/breaking-changes/css-vars

We need to wrap it in this `--accent-color-right: #{$accent-color};` PR incoming.

[2021-02-13 03:16] hsingyuc commented on #28791
I'll try this one.

[2021-02-13 11:00] Immerence commented on #27761
Hello,

Browserstack can not reproduce the issue. I've tried there as well.

I think it's a simplification to use simulation in this case, especially
when it comes to Apple & iOS.

It comes down to the touch inputs on iOS. This is where the problem is.

It can not be simulated using simple mouse input.

It works perfectly fine with mouse input.

Not touch.

The only way around this is by using App

[2021-02-13 12:27] idovecer commented on #25524
It doesn't work for me neither. I added this mentioned code to functions.php

[2021-02-13 12:48] gibarra1 commented on #25524
That is exactly the point. Any addins mentioned above will work in some stores whilst not in others. We tried all the plugins mentioned above, and each one would have a conflict with one of our existing plugins or our theme.

**The plugins are not the way forward. This functionality is so fundamental to any store selling clothes, footwear, and many other physical goods, that it must be included in

[2021-02-13 18:50] jasongm98 commented on #28166
Hello @rrennick, sorry for the delay.
I followed the create doc explained on [this link](https://woocommerce.github.io/woocommerce-rest-api-docs/#orders) but we didn't have info about coupons

[2021-02-14 01:45] WillBrubaker opened #29123 "Can we reconsider Guatemalan post codes?"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In https://github.com/woocommerce/woocommerce/pull/28706 the post code field for Guatemala was changed to hidden. We have a user in 37322

[2021-02-14 05:36] fabregas4 opened #29124 "Incorrect func_get_arg() request in get_product_data()"
In woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-products-v2-controller.php
Line 643

The code is:
` $request = func_num_args() >= 2 ? func_get_arg( 2 ) : new WP_REST_Request( '', '', array( 'context' => $context ) );`

If the function has 2 arguments, you need to use func_get_arg(0) to get the first one, and func_get_arg(1) to get the second one.

func_get_arg(2) fails with "Wa

[2021-02-14 09:32] Rishabhparashar2626 opened #29125 "Not Able to Open Woocommerce Setup"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-02-14 15:40] Dakshdhaka opened #29126 "customer is able to see product image"
customer is not able to see
![IMG_E9637 1](https://user-images.githubusercontent.com/79049712/107881142-d7870800-6e97-11eb-8854-9c09e29bd214.JPG)
 the image of product

[2021-02-14 16:19] #29126 closed

[2021-02-14 21:34] mastarija opened #29127 "CSV Import : Can't update variable products using import functionality"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When importing products and using "Update existing products" functionality, Simple products are updated but Variations aren't.

**Expected

[2021-02-15 00:00] raffi961 opened #29128 "Manual New Order Email Sending is not working"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Since the latest update to Woocommerce i have found a bug.
When I open a customer order and try to send. NEW order notificati

[2021-02-15 02:54] jarrodjay opened #29129 "Can’t void PayPal authorization"
When using "authorize" instead of "capture", there is no way to void the authorization from within WP if shop owner wants to cancel the order. Instead, they must go to PayPal (or wait the 30 days, which isn’t quite acceptable). A woocommerce “refund” should check to see if the PayPal payment has in fact been processed, and if not, it should then void the authorization instead of attempting a refun

[2021-02-15 04:10] aaronhong7 commented on #14889
Hi @claudiosanches, how can we display payment instructions before or after the Order Details Table in the View Orders Page?

I've tried the below snippet, but it doesn't work. Please help me assess where I did wrong:

[code]

[2021-02-15 06:30] BBCBB opened #29130 "Some variable products disappeared suddenly!"
Hello,
I noticed some products vanishing from the back end, so had an export of products and saw the variations exist yet, but the variables don't exist. In the search box of the products, no one of the products, neither variable nor variation is available. I think the variable exists in the database but something doesn't work properly. it would be appreciated if you could help me with this issue.

[2021-02-15 09:46] imbacactus commented on #29033
Thank you so much @negapo I tried the Variation Swatches plugin (Paid/Pro version) and it works fantastic. Thank you again for this great find! I believe this should be a default behavior in woocommerce - fetching the first variation that has that color and it shows the correspondent image until something like visual attributes is implemented. It is really a must for most ecommerce stores

[2021-02-15 10:49] batesy87 commented on #26073
I am also seeing this issue, if the sale start date has already passed the prices are not updated, the import does not seem to set the price to the sale price or trigger a check.
Manually running woocommerce_scheduled_sales / wc_scheduled_sales() correctly updates the price.

[2021-02-15 12:56] agnimgupta opened #29131 "Webhook with "Order Updated" topic firing multiple times for the same Order ID"

[2021-02-15 12:57] agnimgupta commented on #29131
[
<img width="1118" alt="Screenshot 2021-02-15 at 6 27 03 PM" src="https://user-images.githubusercontent.com/79000159/107949524-693b6600-6fbb-11eb-9f70-aa1a37d1ef34.png">
](url)

[2021-02-15 13:14] vedanshujain commented on #29006
If someone wants to submit a patch for this, adding some margin-top (instead of `margin: 0` currently) for .wrap class in assets/css/admin.scss should address this issue.

[2021-02-15 13:34] coreybullman commented on #24185
We recently had a 3rd-party company perform an accessibility audit on one of our WooCommerce shops. The following issues came out of the audit.

### Cart page product table
The "X" remove links do not have meaningful alternative text. The aria-label “Remove this item” isn’t meaningful for customers using a screenreader. Adding something like `aria-describedby=""` that matched a corresponding ID fo

[2021-02-15 13:59] vedanshujain commented on #25069
Removing the high priority because I am not sure if this is still relevant.

[2021-02-15 14:07] vedanshujain commented on #26617
Closing the issue based on above comments. But please feel free to comment back in case I have missed something and this issue still needs further discussion.

[2021-02-15 14:07] #26617 closed

[2021-02-15 14:18] vedanshujain opened #29132 "Make held stock inventory more visible to merchant."
**Is your feature request related to a problem? Please describe.**
We held stock for when user check out with product and payment is not yet completed. The stock is held and cannot be used unless payment is completed (which reduces the stock), or if the order is cancelled (which increases the stock).

A small enhancement, like adding in order note that "Stock is held for X minutes for payment" wil

[2021-02-15 14:18] vedanshujain commented on #26652
I am closing the issue based on above comments, and have opened another one which scopes tracking held stocks and surfacing that information to merchant in https://github.com/woocommerce/woocommerce/issues/29132

[2021-02-15 14:18] #26652 closed

[2021-02-15 14:53] vedanshujain commented on #27026
I am closing this issue since there has not been any feedback. But feel free to comment if there any questions/suggestions/improvements that we can do but I have missed.

[2021-02-15 14:53] #27026 closed

[2021-02-15 15:51] rrennick commented on #28166
@jasongm98 There is no meta data in the object you are submitting in step 3. The steps you have provided don't describe how you are adding the meta data you are expecting in the result.

I might be misunderstanding but it looks like you may be expecting the order response to automatically include all the data you would receive from the coupon end point. If you do want that then you need to retriev

[2021-02-15 16:22] rrennick commented on #28959
@WillBrubaker It might be a few days before we get to reviewing #29134. If you had a few minutes could you test to see if it resolves the issue you are having with Focal?

[2021-02-15 16:37] ObliviousHarmony commented on #28926
This has been completed!

[2021-02-15 16:37] #28926 closed

[2021-02-15 17:14] collateral243 opened #29135 "Não consigo adicionar métodos de entrega"
Não aparece metodo de entrega, quando clico em adicionar atualiza a página

[2021-02-15 17:23] Guillerbr commented on #29135
Tente colocar prints dos logs por favor

[2021-02-15 17:25] danielcharrua commented on #25879
Hello! v5.0 was released but the legacy image sizes are still there, any reason for why they are not removed yet?
Thank you.

[2021-02-15 17:47] tillkruss commented on #25623
@seldimi: It looks like @mrohnstock disabled object caching and is still expiring the issue. It also sounds like @YuriCoelho197 narrowed this down to another plugin causing the problem.

[2021-02-15 17:49] seldimi commented on #25623
Which was it?
Maybe it's core issue?

[2021-02-15 17:58] jasongm98 commented on #28166
@rrennick But if try to add that information is not taken into account I also tried that.

[2021-02-15 18:45] #29119 closed

[2021-02-15 18:47] roykho commented on #24581
Closed via https://github.com/woocommerce/woocommerce/pull/28933

[2021-02-15 18:47] #24581 closed

[2021-02-15 19:03] Beats24-7 commented on #29106
Hi @tammullen,
I wanted to give you an update. So on Friday I set the download method in the WC product download settings to "redirect only" and removed the filename string option. The issue has been gone ever since and the bandwidth consumption has gone back to normal, as with my previous shop system, Easy Digital Downloads. Proof -> https://prnt.sc/zmvkhx
WC shows that the "redirect option" has

[2021-02-15 19:12] rrennick commented on #28166
@jasongm98 Can you provide an example that includes a sample of the information you are trying to add?

[2021-02-15 21:23] timmyc opened #32268 "Documentation: Update Activity Panel Docs & Home Screen"
With the recent migration of Activity Panels to the Home Screen, the documentation that is published at https://docs.woocommerce.com/document/activity-panels/ is a wee bit out of date.

Currently the documentation still has sections for

![image](https://user-images.githubusercontent.com/22080/107993684-e355f580-6f8f-11eb-9e32-515dc1c963cd.png)

Tasks:

- [ ] Migrate the content for the Reviews an

[2021-02-15 22:11] juliaamosova opened #29137 "[WC 5.1 beta] Twenty Twenty One theme: Incorrect size of the placeholder image on the cart page if the product has no image"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

If the product has no image, the placeholder that is being used instead has an incorrect size on the cart page. The issue seems to be spec

[2021-02-15 22:13] juliaamosova commented on #28025
Sorry for the late reply here! I am still experiencing this in WC 5.1 beta.

[2021-02-15 22:13] puremana commented on #28637
This issue confused our team as we had also expected it would overwrite the values in the product (as this is how it works for other fields such as the sale price). We ended up writing this to overwrite if there is an empty value.

[code]

Hope that helps some people.

[2021-02-16 00:13] moon0326 commented on #28568
@pmcpinto @elizaan36 @timmyc It's not urgent, but I would like to have a text copy for each step (Store details, Add my products, Set up payments, set up tax, and personalize my store). I'm gonna use dummy copies for now.

@elizaan36 Could you send me the link to the main image?

Thank you!

[2021-02-16 00:31] CaroSo73 commented on #27953
Hi! I do have the same issue, stock going in negative eventho back order is desactivated.
Using Storefront theme 3.4.0 and woocommerce 4.8.0 and Wordpress 5.6.1

[2021-02-16 00:57] moon0326 commented on #28568
Do we consider the store setup is complete when the store owner completes all five tasks (store details, add my products, setup payments, set up tax, personalize my store)? Or do we want to keep it simple for this round and just display the setup up a link?  (Reading the thread, it sounds like the decision hasn't been made yet).

[2021-02-16 03:18] galbaras opened #29138 "Link guest order to user account by email match"
On shops that allow guest checkout (good for conversion), customers sometimes create an account after they've ordered, particularly if they're ordering again. However, their guest orders remain disconnected from their new user account.

My request is that orders be linked to new user accounts automatically.

This can be done as soon as the account is created by searching for guest orders with a ma

[2021-02-16 05:36] maddisondesigns commented on #29138
As a sidenote, Shopify does this automatically for you. If you create an account after you've made an order, it will automatically assign your past orders to your new account.

[2021-02-16 06:13] zsaqadra commented on #14541
Hi, it seems that this issue has not been resolved. I just encountered this issue today.

A customer bought from my client's website and created 4 orders, 1 original and 3 duplicates. The first order's payment has been received already by Paypal, but then created 3 more duplicates of the same order.

This is the first time this has happened, and the latest plugin installed in the website is just a

[2021-02-16 09:19] BackuPs opened #29141 "is product does not work on single product page."
Hi

if i add this to the functions.php

			if (is_product()){
				echo '--------------------------------------> i am a product';
			} else echo '--------------------------------------> i am no product';

in the f.e. 20-21 theme and goto the single product page i get   echo '--------------------------------------> i am no product';

why is it returning no product. I thought is_product should be tru

[2021-02-16 09:27] jenniferbucher opened #29142 "All Product Tabs are missing in the Product Administration"
test

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.

Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I h

[2021-02-16 09:47] negapo commented on #29033
Great @imbacactus , glad i could help, good luck to your WooCommerce store,

[2021-02-16 10:28] #29142 closed

[2021-02-16 10:38] DavePodosyan commented on #24244
This isn't solved yet.

[2021-02-16 12:42] stefanos82 opened #29144 "Question about the latest update available"
I haven't worked on any website for a couple of months now and today I decided to check for updates.

When I started the procedure, `Debug Bar` complained about slowness on my system while updating WooCommerce to its latest version: `https://plugins.svn.wordpress.org/woocommerce/trunk/readme.txt`.

Should not it point to `https://plugins.svn.wordpress.org/woocommerce/tags/5.0.0/readme.txt` instead

[2021-02-16 12:53] mastarija commented on #29127
After some more fiddling I've figured out that if I have simple and variable products mixed in, then variable products are ignored for some reason.

Exporting simple and variable products separately solves this problem, but I don't see why this is so. I can see how this might be important during the import of new products, but updating should be just looking up ID / SKU and setting the right value

[2021-02-16 13:30] lexphx opened #29148 "Coupon search don't work"
![Screenshot_20210216_153537](https://user-images.githubusercontent.com/40895073/108070072-c2170700-706c-11eb-80fa-5a4c55e81d84.png)
![Screenshot_20210216_152731](https://user-images.githubusercontent.com/40895073/108070110-cd6a3280-706c-11eb-8b09-b37c7f5142ec.png)
![Screenshot_20210216_152707](https://user-images.githubusercontent.com/40895073/108070140-d1965000-706c-11eb-8a84-9dd0efca08d3.png)

[2021-02-16 14:16] amman20 commented on #27519
I have Woocommerce 4.8 and still experiencing the same problem

[2021-02-16 16:32] #25510 closed

[2021-02-16 16:50] #27434 closed

[2021-02-16 17:48] riadnassour commented on #29107
Hello @WhoopDav ,

Same problem for me. Did WPML provide you with the solution?

[2021-02-16 18:21] WhoopDav commented on #29107
Hello @riadnassour

Yes they then found it was a bug their end. They will roll out an update but in the mean time they have provided a hotfix. You can possibly search for my post on the matter on the WPML support forum so you can see the fix (it solved the issue for me): Support thread - "Email notifications only when WPML support posts an answer"

[2021-02-16 19:03] Beats24-7 commented on #29106
Hello there,
did you receive the update?

[2021-02-16 19:05] simplenotezy opened #29147 "Maximum execution time of 30 seconds exceeded in woocommerce/includes/data-stores/class-wc-data-store-wp.php on line 111"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I see this error from my cron jobs:

    Maximum execution time of 30 seconds exceeded in woocommerce/includes/data-stores/class-wc-data-st

[2021-02-16 19:41] joelclimbsthings commented on #29148
Thanks for reporting @lexphx ! It looks like this code resides in the `woocommerce` repository, so I'm transferring this issue that direction.

[2021-02-16 20:04] #27290 closed

[2021-02-16 20:49] claudiosanches commented on #29144
Hello @stefanos82

Trunk and `tags/5.0.0` share the same code now, so this is the expected behavior, also is WordPress that manages it.

I'm closing this this questions isn't related to WooCommerce.

[2021-02-16 20:49] #29144 closed

[2021-02-16 21:03] louwie17 commented on #28569
@timmyc @pmcpinto should the top seller product link also be updated as part of this PR?
Going to the analytics products page -> `wp-admin/admin.php?page=wc-admin&filter=single_product&products=PRODUCT_ID&path=%2Fanalytics%2Fproducts`
<img width="1063" alt="Screen Shot 2021-02-16 at 5 01 27 PM" src="https://user-images.githubusercontent.com/2240960/108121211-cf39f300-7078-11eb-8547-53fd6bf7d312.pn

[2021-02-16 21:10] riadnassour commented on #29107
Many Thanks, @WhoopDav I found the post and it solved the issue for me too.

[2021-02-16 21:24] moon0326 commented on #28568
@elizaan36 Hi ✋ I think "Step X of X" might not work as users might finish tasks randomly. For example, users can finish task 1 -> finish 3 instead of 2.

[2021-02-16 21:30] zhongruige commented on #28831
Hi @thefitproject ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-16 21:30] #28831 closed

[2021-02-16 21:30] zhongruige commented on #28833
Hi @TNeema ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-16 21:30] #28833 closed

[2021-02-16 21:31] zhongruige commented on #28852
Hi @ccebreros1 ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-16 21:31] #28852 closed

[2021-02-16 21:31] zhongruige commented on #28890
Hi @jazir5,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-16 21:31] #28890 closed

[2021-02-16 21:32] zhongruige commented on #28794
Hi @ricardokuster,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-16 21:32] #28794 closed

[2021-02-16 21:32] zhongruige commented on #28776
Hi @adegbitemorohunkeji ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-16 21:32] #28776 closed

[2021-02-16 21:43] hsingyuc commented on #29006
fixed?
<img width="449" alt="螢幕快照 2021-02-16 下午4 42 40" src="https://user-images.githubusercontent.com/56378160/108125180-1d012c00-7076-11eb-8362-f733ca44de11.png">

[2021-02-16 21:45] zhongruige commented on #29125
Hi @Rishabhparashar2626 ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible;

[2021-02-16 22:17] daxliniere commented on #28557
I'm seeing this problem in Sliced Invoices and I'm running WP 5.6.1. I do not have WooCommerce installed.

[2021-02-16 22:23] hsingyuc commented on #24885
I can't reproduce the issue either.

[2021-02-16 22:39] zhongruige commented on #29128
Hi @raffi961,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

1. First, I added in the sample products as part of the WooCommerce setup and placed an order as a customer
2. Next, I selected "Resend new order notification" from the `Order actions` dropdown:
<img width="331" alt="Screen Shot 2021-02-16 at

[2021-02-16 23:12] zhongruige commented on #29148
Hi @lexphx,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

1. I created a variety of coupons with different codes: `zrxymuza` (auto-generated), `test coupon` (testing with a space), `ten_percent_off` (testing with underscores):
<img width="1496" alt="Screen Shot 2021-02-16 at 4 04 59 PM" src="https://us

[2021-02-16 23:22] elizaan36 commented on #28568
hey @moon0326 !

As far as I remember we're only going to have one version (not task specific) so the copy will be as shown.

[Start selling]

[Here's the link to the image](https://share.getcloudapp.com/4gu1nn6r)

If we need to keep it simple, we can start with this version that doesn't include the step number you're on.
![WooCommerce setup](https://user-images.githubusercontent.com/5121465/10813

[2021-02-16 23:28] zhongruige commented on #29131
Hi @agnimgupta,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See erro

[2021-02-16 23:31] moon0326 commented on #28568
Thank you! That would make it much simpler. @timmyc Could you confirm this please?

Thank you 👍

[2021-02-17 01:36] hsingyuc commented on #29075
The sidebar got removed and couldn't find out why through the PR, is there any reason? Do we delete the `remove_action`?
https://github.com/woocommerce/woocommerce/blob/6fae8ca40b6e89ed97b3c55583e12273e8a0cdc7/includes/theme-support/class-wc-twenty-twenty.php#L31

[2021-02-17 05:57] masteradhoc commented on #28373
FYI: https://wptavern.com/easy-digital-downloads-3-0-now-in-public-beta
easy digital downloads just went this way

"Version 3.0 will migrate the bulk of EDD data out of WordPress core tables to custom database tables. During the lifespan of this nearly 10-year old plugin, practices have changed regarding the use of custom tables and the coming update will bring improvements to performance and data

[2021-02-17 10:38] mrleemon opened #29152 "Replace float-based CSS layouts with Flexbox"
**Is your feature request related to a problem? Please describe.**

Float-based layouts are outdated and a pain to work with

**Describe the solution you'd like**

Any components in WooCommerce using floats for creating layouts should be updated to use CSS Flexbox instead. Flexbox is now widely supported. The Flexbox module aims at providing a more efficient way to layout, align and distribute spa

[2021-02-17 11:33] jonoalderson opened #29153 "Schema 'offerCount' property should only consider 'valid' offers"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The `offerCount` schema property currently outputs the total number of variations/children of a product, including those which are unavaila

[2021-02-17 11:37] jono-alderson commented on #29026
Can you clarify where the 100 character limit is documented?

[2021-02-17 11:56] mircobabini commented on #29026
Nowhere afaik. But the limit comes out as an error when using the Facebook Catalog Sync validor. Do you need a screenshot as an evidence?

[2021-02-17 12:10] jono-alderson commented on #29026
A screenshot would be really helpful; concerned that it's going to cause some headaches for us in Yoast SEO!

[2021-02-17 13:35] #28570 closed

[2021-02-17 13:43] GlennMartin1 commented on #28480
Is there any temporary workaround to make this work? It's makes the front-end look embarrasing, and I'd hope this `priority:high` bug gets fixed ASAP.

ETA on fix?

Thanks for all your work!

[2021-02-17 13:52] michja commented on #28759
Please can someone remove the "can't reproduce" tag on this issue.
That was added in error and I'm worried its stopping the issue being looked at

[2021-02-17 13:53] Danielspain22 opened #29154 "WC 5.1 BETA php notices "undefined index" after new payment -any gateway including bacs- in class-wc-checkout.php l750"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After placing a new payment -with any theme, including twenty-twenty one- and any payment method, bacs for example, notices like the foll

[2021-02-17 14:08] roykho commented on #29154
Hi @Danielspain22 - Thanks for reporting. This issue is actually already fixed via https://github.com/woocommerce/woocommerce/pull/29133 and will be included in 5.1 release.

[2021-02-17 14:08] #29154 closed

[2021-02-17 14:13] mircobabini commented on #29026
This is the debugging tool: https://business.facebook.com/ads/microdata/debug

URL with the bug: [https://www.tecnoa.../to/](https://www.tecnoacademy.it/catalogo/corso-tetti-a-falda-e-coperture-piane-caratteristiche-a-confronto/)
URL patched: [https://www.tecnoa.../to/?ignore-fix-29026](https://www.tecnoacademy.it/catalogo/corso-tetti-a-falda-e-coperture-piane-caratteristiche-a-confronto/?ignore-f

[2021-02-17 14:20] jono-alderson commented on #29026
Ack. Thanks!

[2021-02-17 14:25] Shasvat7 commented on #21148
@mvdhoek1  Thanks for the answer. It works correctly.

[2021-02-17 14:46] DeanForde opened #29155 "Can't remove product from "Uncategorized" category when bulk editing"
Any chance you can fix the below issue? I now have to manually uncheck 6000+ products.

When a new product is manually created, or imported, the "uncategorized" category is tied to the product by default. When you bulk edit products, you can't remove the "uncategorized" category which is not even ticked:

### Prerequisites
 I have searched for similar issues in both open and closed tickets and can

[2021-02-17 15:04] DeanForde commented on #29155
current work around is to make a new default category then delete the uncategorized one then repeat.

[2021-02-17 15:06] erikdemarco commented on #20491
I agree. Look at 10 most popular marketplace/ecommerce. All of them have "buy now" button in product page.

Currently all woocommerce "buy now" plugin is useless or cheaply made without going thru research.

This is how real "Buy now" button should work:
-) when customer click "buy now". It will clear all current cart. And continue add the product.
-) when customer click "add to cart". Revert the

[2021-02-17 15:52] davideprevosto opened #29156 "New Analytics - Orders export is not showing customer's name"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

**Expected behavior**
Trying to export the orders from /wp-admin/admin.php?page=wc-admin&path=%2Fanalytics%2Forders I am expecting to find

[2021-02-17 16:42] zhongruige commented on #29135
Hi @collateral243,

Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue.

[2021-02-17 16:43] gglobalstep opened #29157 "[GlobalStep - WooCommerce 5.1 Beta 1] Widgets header are overlapping under Appearance > Widgets Screen."
## Bug Description:
Widgets header are overlapping under Appearance > Widgets Screen.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all the required plugin

[2021-02-17 16:47] gglobalstep opened #29158 "[GlobalStep - WooCommerce 5.1 Beta 1] Discount calculations for price with inclusive taxes fail for Coupons added to order from the admin."
## Bug Description:
Discount calculations for price with inclusive taxes fail for Coupons added to order from the admin.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install a

[2021-02-17 17:45] gqjesus opened #29160 "Can't Change Status of Facebook Sync"
In Woo -

The status of maybe 4 items (variants) is set to do not sync with Facebook, when I view each product they are set to sync.  When I try to bulk sync to Facebook, the status doesn't change.

[2021-02-17 18:01] roykho commented on #29158
Hi @gglobalstep - is this not the same issue as the one here? https://github.com/woocommerce/woocommerce/issues/27814

[2021-02-17 18:12] 19h47 commented on #11864
Late to the party, but I had the same problem as @cpouldev and there isn't way to catch message yet.

My solution is to hook into [`login_errors`](https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-form-handler.php#L981) to catch message:

[code]

And then hook into [`woocommerce_login_failed`](https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-form-hand

[2021-02-17 18:50] webimagedesigns commented on #28557
This is a problem on all of my WordPress 5.6.1 and I do not have Woo
installed. When is this going to be fixed?

On Tue, Feb 16, 2021 at 5:18 PM daxliniere <notifications@github.com> wrote:

--
*Happy with my service? Please give me a review on google
<https://www.google.com/search?q=web+image+designs&oq=web+image+designs&aqs=chrome..69i57j69i60l3j69i65j0.3615j0j7&sourceid=chrome&ie=UTF-8#lrd=0x89

[2021-02-17 19:22] zhongruige commented on #29156
Hi @davideprevosto ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

1. I set up my WooCommerce store and imported the sample products
2. I placed two orders as a guest customer
3. I navigated to `Analytics > Orders` and verified the two orders showed in the list:
<img width="1681" alt="Screen Shot 2021-

[2021-02-17 19:36] juliaamosova commented on #27424
Hi everyone!

We released WooCommerce 5.1 beta yesterday that includes the fix for this issue. While we are testing it ourselves, it will be great if as many folks as possible could test it with us as well to confirm it had been indeed resolved. Hence the ping here.

If you'd like to help out testing, you can find the details of how to get the beta in the post below:

https://developer.woocommerce

[2021-02-17 19:53] rrennick commented on #29155
@DeanForde The function of the default category is to be the category assigned to products that haven't been assigned a category. If you follow your steps to reproduce with `Posts`, you will see the same behaviour/results. In WordPress, when a post type has a hierarchical taxonomy, the taxonomy is used as the primary organization for that post type. Because it's used as the primary organization WP

[2021-02-17 19:53] #29155 closed

[2021-02-17 21:14] 19h47 commented on #11864
Late to the party, but I had the same problem as @cpouldev and there isn't way to catch message yet.

My solution is to hook into [`login_errors`](https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-form-handler.php#L981) to catch message:

[code]

And then hook into [`woocommerce_login_failed`](https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-form-hand

[2021-02-17 21:38] a19901201 opened #29161 "Cannot import multiple rows of attribute fields"
When importing a CSV file with multiple lines in the attribute, line breaks cannot be displayed normally, and all lines will be treated as the same line.

[2021-02-17 21:57] DeanForde commented on #29155
No, even if the products are assigned to multiple categories you still
can’t batch uncheck the “uncategorised” category

On Wed, 17 Feb 2021 at 19:54, Ron Rennick <notifications@github.com> wrote:

[2021-02-17 22:07] lacherogwu opened #29162 "Add to cart more than available stock"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, maybe closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-02-17 22:22] zhongruige commented on #29130
Hi @BBCBB,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](https

[2021-02-17 22:22] #29130 closed

[2021-02-17 22:24] zhongruige commented on #29123
Hi @WillBrubaker,

Thank you for bringing this up! We are going to discuss this further with the core team and will report back here afterward.

[2021-02-17 22:34] zhongruige commented on #29160
Hi @gqjesus ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the [Facebook for WooCommerce plugin](https://woocommerce.com/products/facebook/). To get further technical support for it, please contact WooCommerce support team by [opening a ticket or startin

[2021-02-17 22:34] #29160 closed

[2021-02-17 22:35] zhongruige commented on #29138
Hi @galbaras,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-02-17 22:38] #29137 closed

[2021-02-17 23:00] zhongruige commented on #28928
Hi @ramjamx,

Thank you for raising the issue and providing those details. However, I can’t reproduce it on my end.

1. I set up a WooCommerce store and imported the default products:
<img width="1489" alt="Screen Shot 2021-02-17 at 3 52 36 PM" src="https://user-images.githubusercontent.com/71906536/108278380-3074cb80-7138-11eb-8882-3412d7601e5b.png">
2. I clicked on "Export" and configured it wit

[2021-02-18 00:02] gqjesus commented on #29160
To me this sounds like a bug as the when you go to change a setting and nothing happens… seems buggy to me.

From: Greg <notifications@github.com>
Sent: Wednesday, February 17, 2021 5:34 PM
To: woocommerce/woocommerce <woocommerce@noreply.github.com>
Cc: J.R. Greene, <jr@gqjesus.com>; Mention <mention@noreply.github.com>
Subject: Re: [woocommerce/woocommerce] Can't Change Status of Facebook Sync (

[2021-02-18 00:14] zhongruige commented on #29127
Hi @mastarija,

Thank you for submitting the issue, and providing such thorough details! However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

1. I set up a WooCommerce account and imported the sample products (which includes both simple and variable products):
<img width="1507" alt="Screen Shot 2021-02-17 at 5 07 49 PM" src="https://user-images.

[2021-02-18 00:46] moon0326 commented on #28568
Hey @pmcpinto @elizaan36

I just finished my 1st version of the widget and tested it. I noticed that there can be more than 5 tasks as shown as below.

How should we deal with this case? Are going with only 5 tasks (store details, add my products, set up tax, set up shipping, personalize my store)? I could be wrong, but it can be tricky to get the extra tasks (Set up WooCommerce Payments in this c

[2021-02-18 07:26] wayheming opened #29163 "WP 5.6.1 Select2 issue"
Hello,
Clean WP without plugins and with storefront theme.

**Describe the bug**
With wp 5.6.1 select2 in widget does not work correctly

**Expected behavior**
https://gyazo.com/8b60e22b1d0025767e4838c701c5cba4 WP 4.5.0

**Actual behavior**
https://gyazo.com/3756abc6c8649153cf273bd522d2e0c4 WP 5.6.1

[2021-02-18 07:43] rasheedi99 commented on #28557
Me too, I don't have Woo Commerce installed and my WP Version 5.6.1.

[2021-02-18 08:42] shiftaltd commented on #25510
still on 5.1. will be fixed on next release of woocomerce?

[2021-02-18 08:55] #27376 closed

[2021-02-18 09:23] sun commented on #28956
Created PR https://github.com/woocommerce/woocommerce/pull/29164 together with @bogdanarizancu

[2021-02-18 10:06] gglobalstep commented on #29158
Yes, it is the same but as per discussion with the team on slack(@juliaamosova ), we have created the new issue.

[2021-02-18 10:40] rajeshsingh520 commented on #29163
Hi,

We have also faced this issue it started when Wordpress shifted to jquery 3.5.1

The issue happens when there is margin-top persent on the root html element

which generally happens when you have Admin bar on the page

we where able to temporary fix the issue by putting

[code]

[2021-02-18 10:46] vedanshujain commented on #28292
We round `items_subtotal` there because at that point its also displayed to the shopper. So if it is not rounded, then they may see a different value (since in the frontend we any way round to make it pretty) than what is being used in the calculation and see different results. Additionally, if there are more items in the card, then in the subtotal we would have to sum them and then anyway would h

[2021-02-18 12:03] e-booz opened #29165 "Woocommerce Vat field"
Good evening, I have a problem with the VAT field of the plugin of Woocommerce, in practice it does not accept VAT codes and my customers cannot place orders, what can I do?
In the settings, the VAT field cannot be changed as it is no longer displayed.

<img width="933" alt="Schermata 2021-02-18 alle 12 58 45" src="https://user-images.githubusercontent.com/79259201/108354098-48585800-71e9-11eb-8c2

[2021-02-18 12:14] davefx opened #29166 "COD gateway unneeded initialization making the site slower"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

I've detected that the COD gateway class initialization, in its `WC_Gateway_COD::load_shipping_method_options()` method, makes calls invol

[2021-02-18 12:25] #29166 closed

[2021-02-18 12:26] davefx commented on #29166
Sorry, I carried out my initial findings in a different development server that still had an old version of WooCommerce.

[2021-02-18 13:00] rrennick commented on #29155
@DeanForde Here is the screenshot of bulk editing `Posts` where you also cannot batch remove categories:

<img width="1100" alt="Screen Shot 2021-02-18 at 8 58 27 AM" src="https://user-images.githubusercontent.com/343847/108360486-aaa06100-71c7-11eb-90bb-21e719d8f9a6.png">

[2021-02-18 13:59] #26686 closed

[2021-02-18 14:07] hkn-dev opened #29168 "get_the_title() not working"
In woocommerce/include/wc-cart-functions.php file. line 112 there's a function which is called get_the_title() thats not working it not display title name when i add to cart product

[2021-02-18 14:45] roykho commented on #29163
Possibly related to https://github.com/woocommerce/woocommerce/issues/28996

[2021-02-18 14:49] roykho commented on #29163
Hi @wayheming - thanks for reporting. I am able to reproduce this issue. When navigating to the frontend as an admin with the toolbar enabled, I am unable to select the second item on the dropdown of the Product Filter widget which uses Select2 dropdowns.

![](https://d.pr/i/50OhXo+)

[2021-02-18 15:03] georgecc commented on #28557
I'm still seeing this too. WooCommerce is not on the main site, ascvt.org. It is installed on a subdomain, special.ascvt.org

[2021-02-18 15:03] wayheming commented on #29163
@roykho Thank you

[2021-02-18 15:40] zhongruige commented on #27881
We'll work on this separately as part of the automating smoke testing project.

[2021-02-18 16:00] vasikgreif commented on #28292
@vedanshujain Thanks. Entering prices tax excluded is not an issue for the shop owner, and displaying tax excluded prices on cart is a legal issue.

I don't think that the prices that are used for calculations should be rounded that soon - I mean, if I removed the rounding, the prices worked as expected, because what is displayed on the frontend goes through `wp_price`, which rounds the values by

[2021-02-18 16:26] gglobalstep opened #29169 "[GlobalStep - WooCommerce 5.1 Beta 1] Mollie payment method fails to get enabled under WooCommerce settings and also option not available on the Checkout page event after setting up from the Home screen Payment setup task."
## Bug Description:
Mollie payment method fails to get enabled under WooCommerce settings and also option not available  on the Checkout page event after setting up from the Home screen Payment setup task.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.

[2021-02-18 16:29] zhongruige opened #29170 "Implementation Spike: K6 test Shopper Checkout flow"
Implementation Spike: K6 test Shopper Checkout flow

Try creating a test with HTTP Requests to simulate the traffic of a checkout flow. May be able to use https://k6.io/docs/test-authoring/recording-a-session/browser-recorder to make the test creation easier.

[2021-02-18 16:32] gglobalstep opened #29171 "[GlobalStep - WooCommerce 5.1 Beta 1] Error message"[UNPROCESSABLE_ENTITY]https://developer.paypal.com/docs/api/orders/v2/#error-PAYEE_ACCOUNT_INVALID" is triggered on Checkout page upon clicking pay via PayPal payment option."
## Bug Description:
Error message"[UNPROCESSABLE_ENTITY]https://developer.paypal.com/docs/api/orders/v2/#error-PAYEE_ACCOUNT_INVALID" is triggered on Checkout page upon clicking pay via PayPal payment option.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5

[2021-02-18 17:05] elizaan36 commented on #28568
Can we also include "Choose payment methods" (what appears if you don't install WCPay) or the WCPay one shown here?
I'm curious what's the logic on the store setup link that shows in the top bar as well until the setup tasks are complete? We should match that logic here if possible.

[2021-02-18 17:43] jancikviktor commented on #16747
Hello, it's your code? I have one issue with them, could we talk about freelance help wi this?
If I enable this code, I get an error after refunding something in order;

`Automattic\WooCommerce\Admin\Overrides\OrderRefund as array in /var/www2/p4635/web.sk/web/wp-content/plugins/code-snippets/php/snippet-ops.php(446) : eval()'d code:2
Stack trace:
#0 /var/www2/p4635/web.sk/web/wp-includes/class-wp

[2021-02-18 19:01] zhongruige commented on #29168
Hi @hkn-dev,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-02-18 19:31] #27949 closed

[2021-02-18 20:07] andho commented on #25895
@tripflex's solution worked for me. Can't believe no one has mentioned this before, even the contributors asks to check with the hosting provider when such an obvious item (for the developer) is there to be checked first.

I deleted the options `schema-ActionScheduler_StoreSchema` and `schema-ActionScheduler_LoggerSchema` and after that activated the plugin and it worked perfectly. The tables must

[2021-02-18 20:16] zhongruige commented on #27556
Hi @ambisyoso901,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-18 20:16] #27556 closed

[2021-02-18 20:17] zhongruige commented on #27664
Hi @hannuheljala ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-18 20:17] #27664 closed

[2021-02-18 20:19] zhongruige commented on #28141
Hi @kapamarou ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-18 20:19] #28141 closed

[2021-02-18 20:19] zhongruige commented on #27942
Hi @zfwjs,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-18 20:19] #27942 closed

[2021-02-18 20:21] zhongruige commented on #28757
Hi @draftspot123 ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-18 20:21] #28757 closed

[2021-02-18 20:21] zhongruige commented on #28765
Hi @modpen ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-18 20:21] #28765 closed

[2021-02-18 20:22] zhongruige commented on #28782
Hi @wphelpme,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-18 20:22] #28782 closed

[2021-02-18 20:30] zhongruige commented on #29165
Hi @e-booz,

Hope you are doing well. Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2021-02-18 21:01] juliaamosova commented on #25510
@shiftaltd yep, the fix is currently planned to be a part of WooCommerce 5.2 release. You can always check the PR and see the milestone there: https://github.com/woocommerce/woocommerce/pull/29136.

[2021-02-18 21:05] moon0326 commented on #28568
I found logic :) I will include all of them.

[2021-02-18 21:33] barryhughes commented on #28830
Hi @iyezhou,

When using the `woocommerce_api_*` dynamic hook in this way, the status code and any data you wish to return is something you need to take care of yourself, for instance by adding something like `status_header( 400 );` within your callback.

We don't provide support here on GitHub, but if you still think there is a problem or bug then it would be great to have a little more insight i

[2021-02-18 22:12] barryhughes commented on #29035
Thanks for reaching out, @tanguy-opendsi.

I agree that modifying core code is generally not a good idea, but you don't actually have to. Instead, you could add some code to a custom plugin along these lines:

[code]

You would need to modify slightly to suit your specific needs, but the essence of this is that it makes an exception (in my case, for calls to `localhost:3000`—but you could certainl

[2021-02-18 22:21] zhongruige commented on #29162
Hi @lacherogwu,

Thank you for taking the time to report this bug, we really appreciate your help. Also, the video you provided was very helpful! I can reproduce it on my end. This issue appears to only affect the Twenty Twenty-One theme as it behaved as expected on the [Storefront](https://woocommerce.com/storefront/) theme.

1. I checked "Redirect to the cart page after successful addition" unde

[2021-02-18 22:31] #27021 closed

[2021-02-18 22:45] juliaamosova commented on #29171
Noting here that this bug is a result of following these testing instructions:

- https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-5.1#enhancement-use-the-new-paypal-payments-plugin-for-onboarding-6261

[2021-02-18 22:55] zhongruige commented on #29129
Hi @jarrodjay,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-02-18 23:03] #28566 closed

[2021-02-18 23:23] zhongruige commented on #29169
Thank you for reporting this issue! I was able to reproduce this error following the steps below:

1. Set up a test site and installed the Mollie plugin
2. Toggled it on in the Setup Wizard "Set up payments" section:
<img width="716" alt="Screen Shot 2021-02-18 at 4 16 17 PM" src="https://user-images.githubusercontent.com/71906536/108434691-5320e600-7205-11eb-8395-af0c1eb13157.png">
3. Navigating

[2021-02-18 23:52] zhongruige commented on #29171
Following the testing instructions on [https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-5.1#enhancement-use-the-new-paypal-payments-plugin-for-onboarding-6261](https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-5.1#enhancement-use-the-new-paypal-payments-plugin-for-onboarding-6261) and above, I was able to reproduce this

[2021-02-19 06:07] pmcpinto commented on #28569
Yes, that would be great. Thanks!

[2021-02-19 09:31] e-booz commented on #29165
`
### WordPress Environment ###

WordPress address (URL): https://www.e-booz.com
Site address (URL): https://www.e-booz.com
WC Version: 5.1.0
REST API Version: ✔ 5.1.0
WC Blocks Version: ✔ 4.4.3
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 2.0.1
Log Directory Writable: ✔
WP Version: 5.6.1
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: it_IT
External object c

[2021-02-19 10:07] Dandomix commented on #28557
I have this issue too, WP 5.6.1 and no WooCOmmerce installed. The issue occur in all Pages.

[2021-02-19 10:14] tammullen commented on #28557
Hi @daxliniere, @webimagedesigns,  @rasheedi99, @Dandomix, this is the WooCommerce GitHub repository. It should be treated as a place to report WooCommerce bugs only.
As already noted this is not a WooCommerce issue but is a WordPress issue which you are experiencing and is being worked on at https://core.trac.wordpress.org/ticket/52440 and will be released in WordPress 5.6.2

[2021-02-19 11:30] holylander commented on #23139
Please the number of valid ports is fixed.
For you dev scenario, you can use `localhost:8080` instead of `8000`, it will work

[2021-02-19 14:28] Dealazer opened #29176 "Actionscheduler Problem with Old Websites"
If you get actionscheduler error when using woocomerce 3 or lower and upgrade to 4+

You will have to create 1 new wordpress and install any version woocommerce 4+.

All 4 actionsheduler_ tables that are needed are not available. Because of some error as telling woocommerce they exist or already are. For some giving permission to the database user might work. For those unable to fix this, do this:

[2021-02-19 15:08] aheckler commented on #29107
3751247-zen turned out to be this.

[2021-02-19 16:59] teledirigido opened #29177 "Disable CustomerEffortScoreTracks with feedback popups"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

I have just noticed some popups asking for some feedback like:

[2021-02-19 17:02] teledirigido commented on #29177
Okay I think I found the solution and is to disable the following option:
`woocommerce_allow_tracking`

Which it can also be found here:
`admin.php?page=wc-settings&tab=advanced&section=woocommerce_com`

[2021-02-19 17:02] #29177 closed

[2021-02-19 17:27] juliaamosova commented on #29158
Thanks for finding https://github.com/woocommerce/woocommerce/issues/27814 @roykho and thanks for confirming it is the same issue @gglobalstep.

Because it is a duplicate of https://github.com/woocommerce/woocommerce/issues/27814, I'll go ahead and close this thread. Thanks for reporting @gglobalstep!

[2021-02-19 17:27] #29158 closed

[2021-02-19 18:32] nerrad commented on #29157
This is a GB issue and [reported here](https://github.com/WordPress/gutenberg/issues/26221). I recommend closing.

[2021-02-19 19:05] zhongruige commented on #29157
Thank you for reporting the issue @gglobalstep. However, this issue had been reported previously as noted by @nerrad above. We are closing this issue in favor of the previously reported issue. Please continue sharing your feedback there if needed. Thank you!

[2021-02-19 19:05] #29157 closed

[2021-02-19 20:21] zhongruige opened #29178 "Move clickAndWaitForSelector() to the utils"
We should move the `clickAndWaitForSelector()` function that was added in https://github.com/woocommerce/woocommerce/pull/29079/files into the utils so it can be consumed by other e2e tests.

[2021-02-19 21:24] #28985 closed

[2021-02-19 22:34] #27880 closed

[2021-02-19 22:48] juliaamosova opened #29180 "Reduce the number of environment differences of discrepancy between local setup and CI."
Explore the possibility of running another Docker container with npm env within the existing Docker container to reduce the number of environment differences between local setup and Travis CI.

This should help to make sure that testing environments are identical locally and on CI which in turn should help to eliminate test flakiness as much as possible.

[2021-02-20 13:06] ashwinncj commented on #29138
@galbaras This is actually a very good idea.

[2021-02-20 13:38] ernitish commented on #16747
Can you share full error log file here so i can see, exact fatal error. I have used that code and that was working perfectly.
You can contact me over skype @webcast.technology

[2021-02-20 20:25] zhongruige commented on #29161
Hi @a19901201,

Thank you for taking the time to report this. For us to investigate a little bit further, can you provide an example of how the new lines are being added in the CSV file?

Thank you!

[2021-02-21 11:33] leojbchan commented on #18062
"You need to send the subtotal, total, subtotal_tax, and total_tax also if changing costs at a later date."
- Thanks for this.  This works well when a discount is not applied.

However, when a discount is applied manually sending the subtotal and total overrides the automatic discount calculations.  Is there a way to update the line items and preserve the discounts?

[2021-02-21 14:40] a19901201 commented on #29161
For example, this is the data before I export:
![image](https://user-images.githubusercontent.com/62532231/108628074-ab6d1780-7493-11eb-9c25-092566d04db5.png)

`資料儲存應用,"4 x SATA2.0 (3GB/s) 接口",1,0,內部I/O接口,"2 x USB 2.0擴充座，支援擴充2個USB 2.0接口
1 x USB 3.0擴充座，支援擴充2個USB 3.0接口
1 x CPU風扇接口（1 x 4針）
1 x 機殼風扇接口（1 x 4針）
1 x 24針EATX電源接口
1 x 8針ATX 12V電源接口
1 x 前面板音訊接頭（AAFP）",1,0,後I/O接口,"1 x PS/2鍵盤與滑鼠接口
1 x RJ-45埠 6

[2021-02-22 05:24] vedanshujain opened #29184 "Restore back API performance enhancements reverted in 28745"
In #28745 we reverted some of the performance enhancements we were planning to add in 4.9 because of a bug that we found during the release process.
This issue scopes re-implementing those enhancements, by making sure that `wc_get_orders` and `wc_get_products` support WP_Query filter parameters, along with adding tests for all those params.

[2021-02-22 07:37] nostradamuszen opened #29185 ""Changes you made may not be saved." message when leaving ANY PAGE, even if no changes have been made #28557"
*Any action at all* (for example, Customise Site) produces the alert: "Leave site? Changes you made may not have been saved."

This was widely supposed to be a bug in WordPress 5.6.1 - however, I have upgraded to the Bleeding Edge beta of 5.7, and the infuriating problem persists, slashing our productivity in half.

However .... the problem PERSISTS with ALL plugins disabled - so this seems to rul

[2021-02-22 08:42] fliktigo opened #29186 "I can not find the Checkbox texte I have read and accpted the terms conditions in my wordpress site"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-02-22 08:50] vedanshujain commented on #27847
I am closing this issue because the bug in the scope of this issue was addressed in #25800. However, we are still rounding in some of the internal calculations, but that will be addressed in a separate PR after we added unit tests around those cases.

[2021-02-22 08:50] #27847 closed

[2021-02-22 09:25] majidempire opened #29187 "Admin side send emails in Admin user language, Not customer (front-end) language"
There is a bug that users submit it in wordpress support also, but no reply from contributors
In fact when an admin fires the order complete action the email sends in admin user language, not customer language
so this is not related to WMPL or LOCO or any other plugins, this is exactly about woocommerce core

I think it only need to get customer local from order meta maybe and set local temporary

[2021-02-22 09:37] lexzz commented on #10487
I know this in an old issue but I have a problem with this I cant solve.
One of our webshops keeps showing "Coupon code already exists - customers will use the latest coupon with this code."
Only in the wp-admin area. But this message keeps popping up after each click.

We had a duplicate coupon code but that is deleted now.
How can we get rid of this message?

Hope someone can help, thank you!

[2021-02-22 10:09] thebeard commented on #24179
@dieptang Did you ever get the AND logic working?

[2021-02-22 10:28] hamidrezayazdani opened #29188 "Fatal Error when marketing hub and woocommerce admin dashboard disabled"
Hi, I updated Woocommerce last night, while viewing sales reports, a fatal error is displayed because I have disabled the **Marketing hub** and **Woocommerce Admin Dashboard** with the following code by `mu-plugins`:

[code]

**Error log:**

**Reason for error:**
The `wc_admin_url `variable is not defined when the Woocommerce admin dashboard is disabled.

**Screenshots**
![Screenshot_2021-02-22](h

[2021-02-22 11:27] rezam commented on #14541
I use Woocommerce 4.9.2 and problem still there and happen. I wonder why not resolved yet.

[2021-02-22 12:45] brendamm commented on #27419
It's still not fixed in Woocommerce 5.0 ... the product attributes filter still does not show up. Can someone please provide some help?

[2021-02-22 13:58] roykho commented on #29188
Hi @hamidrezayazdani - Yes we're aware of this issue. It affects people who have WC Admin disabled with a code snippet filter or with a plugin. This has already been fixed and will be going out in the next release.

In the meantime a work around solution is to either re-enable WC Admin or you can use this code snippet temporarily.

[code]

I will be closing this for now as it is already fixed but

[2021-02-22 13:58] #29188 closed

[2021-02-22 14:37] eavitan commented on #23009
Please Help on it for few hours already, cant find a solution

`add_action('woocommerce_before_order_object_save' , function ($order, $data_store ){

    $changes = $order->get_changes();
    echo '<br />';echo '<br />';echo '<br />';
    var_dump($changes);
    die();
}, 10, 2);`

$change returns always empty array, why?!

[2021-02-22 15:02] #28724 closed

[2021-02-22 15:07] juliaamosova commented on #29185
Hi @nostradamuszen,

Thanks for bringing up this issue. It is indeed a WordPress issue though (not WooCommerce related). It is being worked on in the WP track ticket here: https://core.trac.wordpress.org/ticket/52440

It looks like the fix is scheduled to be released in WordPress 5.6.2.

I am sorry to hear about all the troubles you've been having with it!

Since this is not a WooCommerce bug, I a

[2021-02-22 15:07] #29185 closed

[2021-02-22 15:10] juliaamosova commented on #29186
Hi @fliktigo,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2021-02-22 17:02] rrennick opened #29191 "Remove merchant login/logout calls around createSimpleProduct()"
Originally `createSimpleProduct()` used the dashboard interface to create the product. Now it uses the `api` package so being logged in as the merchant isn't required.

Most of the tests that use `createSimpleProduct()` still follow the pattern of the original method and log in the merchant. We should remove all of these to improve the speed of the tests.

Noting as well that the shopper tests tha

[2021-02-22 18:44] rrennick commented on #28959
As a follow up, I have Big Sur on my Mac and there appear to be issues with running linux distros in Virtualbox/Vagrant with this OS.

[2021-02-22 19:09] adampatterson opened #29192 "is_product() should operate similar to is_page()"
**Is your feature request related to a problem? Please describe.**
I needed to enqueue a script on a specific single product, my instinct was to use `is_product('product')` as you would `is_page('page')` but `is_product()` only returns `bool`.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Short of reading the URL and attempting to determine if the URL co

[2021-02-22 19:13] lkraav opened #29193 "5.0.0: after 4.8.2 upgrade, WC_REST_Orders_V2_Controller::get_formatted_item_data() crashes in `$order->get_refunds()` loop"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

https://github.com/woocommerce/woocommerce/issues?q=is%3Aissue+get_refunds does not return any recent results.

**Describe the bug**
There are no other obviousl

[2021-02-22 20:01] DesignMeCG commented on #28557
I've been having this same problem but just received an update to 5.6.2 and now seems to be fine.

[2021-02-22 20:10] zhongruige opened #29195 "Update createVariableProduct() to use values from the config"
We want to update `createVariableProduct()` to use variables from the config, and update the tests that use `createVariableProduct()` to also use values from the same config file.

See comment here: https://github.com/woocommerce/woocommerce/pull/29092#discussion_r580147984

[2021-02-22 22:09] AndyiBM commented on #28557
Yep - 5.6.2 has FINALLY fixed this for me, too

[2021-02-23 07:12] franticpsyx opened #29197 "Deprecated Reports notice gives the wrong message to an entire ecosystem"
Not a bug -- please let me know if this should be posted somewhere else :)

Since WooCommerce 5.0, users who enter the Reports section are greeted with this message:

Showing this message on the entire Reports section misses the fact that third parties have been adding tabs/reports there for a long time now: Some of the reports added by third parties may not necessary fit well into the "Analytics"

[2021-02-23 10:40] StefanPeev opened #29199 "Strange Qty element in the middle of a product page"
WordPress address (URL): https://localfonts.eu
Site address (URL): https://localfonts.eu
WooCommerce version: 5.0.0
WordPress version:	5.6.2
Browsers: Chrome, Firefox

A strange Qty element in the middle of a product page. See the picture below

![WC_01](https://user-images.githubusercontent.com/12949369/108830427-07d65100-75d2-11eb-8552-ca4660c2f840.jpg)

[2021-02-23 11:38] lkraav commented on #29193
Some refund display thing also crashes in templates, very similar `foreach()` loop signature.

Traceback https://sentry.io/share/issue/e36df3fe9a1c488f9c33384177122d7e/

[2021-02-23 12:34] lkraav commented on #29193
And crashes also in `WC_Order::add_order_item_totals_refund_rows()`

Traceback https://sentry.io/share/issue/a35b25fae495450484bb768b3086ad51/

This makes me thing `WC_Order::get_refunds()` is broken.

[2021-02-23 13:26] Dekadinious opened #29201 "Searching orders by phone numbers ignoring spaces/format"
**Is your feature request related to a problem? Please describe.**
We have over 100 000 orders in the store I am working on, and customer service often needs to search for orders by phone number. Different checkout systems format phone numbers in different ways. It seems the search does not remove spaces, so it is a pain to search for orders based on phone numbers.

Example search terms:

"1234567

[2021-02-23 16:15] grig-23 opened #29203 "The "edit" link is missing from admin panel at the top of the page when on a shop page."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The "edit" link/button is missing from the admin panel at the top of the page when on a shop page. It is there on other pages like home pag

[2021-02-23 17:23] levkany opened #29204 "Variation products export missing its attributes"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When exporting the products using the build in feature the product's related variations are not being attached to it

**Expected behavior**

[2021-02-23 17:29] gglobalstep opened #29205 "GlobalStep - WooCommerce Admin 2.1 Beta 1] "Favorite" button is not available when multiple extensions are installed."
## Bug Description:
"Favorite" button is not available when multiple extensions are installed.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all the requir

[2021-02-23 17:44] eoinkennedy commented on #27419
So, I managed to fix it after hours of uploading and deleting products.

Here are my steps:
1. Export all products to CSV, and create two new ones for the parents and the children, but make sure to set Attribute 1 Global to 1 for all.
2. Delete all existing products.
3. Import the Parent CSV.
4. Go into wp_postmeta table and using HeidiSQL or similar, find and replace all instances of this substri

[2021-02-23 17:50] lcestaro opened #29206 "Portugal States"
https://github.com/woocommerce/woocommerce/blob/35d4ee4073a180d6fa07fa63a4fce37c394cfa1c/i18n/states.php#L1299

	'PT' => array( // Portugal states.
		'PT-01'   => __( 'Aveiro', 'woocommerce' ),
		'PT-02'   => __( 'Beja', 'woocommerce' ),
		'PT-03'   => __( 'Braga', 'woocommerce' ),
		'PT-04'   => __( 'Bragança', 'woocommerce' ),
		'PT-05'   => __( 'Castelo Branco', 'woocommerce' ),
		'PT-06'   =>

[2021-02-23 19:45] juliaamosova commented on #29107
Thank you for your follow-up @WhoopDav! I am closing this issue as it is not a WooCommerce bug.

[2021-02-23 19:45] #29107 closed

[2021-02-23 19:46] juliaamosova commented on #29205
Hi @gglobalstep,

Thank you for reporting the issue. It seems to be related to WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-02-23 20:11] juliaamosova commented on #29199
Hi @StefanPeev,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2021-02-23 20:11] #29199 closed

[2021-02-23 20:11] juliaamosova commented on #29201
Hi @Dekadinious,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-02-23 20:19] juliaamosova commented on #29203
Hi @grig-23,

Thanks for highlighting this issue! I can reproduce it. I wonder if there is a reason behind the Shop page not having the edit option in the admin bar. I am adding the `needs developer feedback` label here to see if the current behavior is expected or not.

[2021-02-23 20:26] juliaamosova commented on #29206
Hi @lcestaro,

Thank you for opening the thread. Can you please confirm what do you like to be done regarding the Portugal States? Are you looking for the states to be added to WooCommerce? It looks like this is what you are looking for but it is always best to confirm to avoid misunderstanding.

[2021-02-23 20:44] lp-ben commented on #27953
Has there been any sort of fix for this yet? I've got this issue happening on multiple sites.

[2021-02-23 21:43] #29076 closed

[2021-02-23 22:06] lcestaro commented on #29206
Hello @juliaamosova,

Yes, I am looking for states to use district taxes. I believe that these settings can be useful, just as it is for me. It could be integrated into Woocommerce.

[2021-02-24 00:56] timmyc opened #29211 "Database Update via wp-cli and Thank You notice shown"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Greetings!
This is a follow-up issue from p9o2xV-1fS-p2 around performing WooCommerce database updates via wp cli. Currently, after one per

[2021-02-24 03:57] andrearosen1 commented on #10875
Had this happen too. it is due to this on the url: ?wc-ajax=get_refreshed_fragments. Site isn't live, but here is the url: https://wooc.nanps.org/online-plant-sale/. When you add to cart (which appears at the top of the page), then hit update, code appears.

If you use this link you will see it: Alternatively, click this link to see the problem. Many thanks if anyone can help with this:

https://w

[2021-02-24 09:26] kanlukasz commented on #29096
When will you release this patch?

[2021-02-24 09:30] grig-23 opened #29212 "ZIP code validation based on ZIP code format - more than one acceptable format?"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Most ZIP codes in European countries are just digits, e.g. 6020 in Austria, 10115 in Germany or 10309 in Lithuania. Sometimes though, an ad

[2021-02-24 10:52] vmanthos opened #29213 "WebP images break the lightbox on variable products."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-02-24 11:27] jonwigham commented on #27953
Which payment method(s) are you using? I used to use the "PayPal Express" method but I switched over to "PayPal Standard" and have almost no double sales now. The user experience with the Standard one isn't quite as nice as with Express, but it seems to play nicer with the stock management settings...

[2021-02-24 14:22] CaroSo73 commented on #27953
I use Pay Pal Standard and Stripe and I still got the issue :(

[2021-02-24 15:29] zalexzperez commented on #13567
Well, it's 2021 and I'm having this problem and it's driving me nuts!

I just created a new Wordpress local site just make sure the issue was not caused by other plugins, themes or configs: installed Woocommerce and created two variable products.

When sorting by price from low to high, the lowest price from the variable product is considered. **Cool**.
When sorting from high to low, the HIGHEST p

[2021-02-24 16:00] gglobalstep opened #29215 "[GlobalStep]: The Analytics Order filter for Attribute fails to work for Simple products, Grouped Products and External/Affiliated products with attributes added."
## Bug Description:
The Analytics Order filter for Attribute fails to work for Simple products, Grouped Products and External/Affiliated products with attributes added.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create

[2021-02-24 16:04] gglobalstep opened #29216 "[GlobalStep] For Twenty Twenty- One theme "PayPal" payment button appears misaligned on the frontend."
## Bug Description:
For Twenty Twenty- One theme "PayPal" payment button appears misaligned on the frontend.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the

[2021-02-24 18:30] bonaldi69 commented on #28583
Hi,
It's really a problem not to have this field filtered according to WordPress settings.
No WooCommerce core developer to fix it?
Regards.

[2021-02-24 18:35] lp-ben commented on #27953
I'm using Authorize.net and other processors, no PayPal of any sort.

[2021-02-24 19:06] mcampal opened #29217 "Replace 'Update' button label on WooCommerce.com Subscriptions tab"
**Is your feature request related to a problem? Please describe.**
The available button for refreshing/updating a site's connection to WooCommerce.com, from the WooCommerce.com Subscriptions tab is labeled 'Update'. Users who are trying to update their WooCommerce.com extensions from their WP-Admin get confused with what this button is for, and expect the extensions to update after clicking on it.

[2021-02-24 19:24] TheRealLauch commented on #27953
Anyone tested With newest WooCommerce and WordPress Versions?

[2021-02-24 19:25] juliaamosova commented on #29215
Hi @gglobalstep,

Thank you for reporting the issue. The functionality of the `Analytics` section is a part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-02-24 19:34] juliaamosova commented on #29217
Hi @mcampal,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-02-24 19:39] CaroSo73 commented on #27953
I'm going to update to woocommerce 5.0 (I already use the latest WordPress version 5.6.2) on next Monday. After few days of running the updated system, I'll be back with an answer ! :)

[2021-02-24 20:19] tk80 commented on #27030
Hi! We are having a same issue.
Is there any solution for this problem?
Please let us know.

[2021-02-25 00:05] GuerrillaCoder commented on #14541
I have followed the links from this issue and from what I gather people are suggesting that using ActionScheduler (https://developer.woocommerce.com/2020/01/08/action-scheduler-3-0/) should solve the issue.

Has anyone managed to get this to work?

I am assuming the idea would be to defer order processing.  So a user places an order, instead of the order being processed synchronusly the order is a

[2021-02-25 10:21] rajhandi88 commented on #29108
I am facing a similar issue in Woocommerce:

Problem: When the order status is changed from Processing to Pending Payment (as for COD Orders), the stock quantity of items in that order increases back in inventory.

What I want: the Pending Payment Order items should be on hold and inventory should be decreased immediately.
Later on, if the COD is successful and order is marked completed then there

[2021-02-25 13:09] #28569 closed

[2021-02-25 15:18] gglobalstep opened #29220 "[GlobalStep] Validation missing for invalid password on the frontend for "Password Protected" Page"
## Bug Description:
Validation missing for invalid password on the frontend for "Password Protected" Page.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the r

[2021-02-25 15:24] SGP57 commented on #28577
I can reproduce this error. For me, it was missing the "--user" data, e.g. "--user=1"
To see possible users, try wp user list

[2021-02-25 15:27] gglobalstep opened #29221 "[GlobalStep] [IE 11] For "Twenty Twenty One" theme, Product images appears overlapped if products per rows is set to 4 and above."
## Bug Description:
For "Twenty Twenty One" theme, Product images appears overlapped if products per rows is set to 4 and above.

## Environment:
Windows 10
Browser:IE11(version:11.00.18362.1)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins
1. Complete the onboarding setup wizard.
1. Choose Twenty Twenty One theme.
1. Go to Appearance

[2021-02-25 15:30] gglobalstep opened #29223 "[GlobalStep] [IE 11] For "Twenty Twenty One" theme, Footer section appears misaligned"
## Bug Description:
For "Twenty Twenty One" theme, Footer section appears misaligned.

## Environment:
Windows 10
Browser:IE11(version:11.00.18362.1)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins
1. Complete the onboarding setup wizard.
1. Choose Twenty Twenty One theme.
1. Go to Frontend.
1. Observe that footer section appears misa

[2021-02-25 17:00] dakkafex commented on #7105
its been 6 years... how is this still not implemented?....

[2021-02-25 18:20] #27877 closed

[2021-02-25 18:29] rwkyyy opened #29225 "cart not updating properly (woocommerce_cart_hash)"
I have an issue on a client website, initially I thought it was a plugin conflicting or theme issue, but I created a stage env. 1:1 deactivated all plugins, cleared all transients/sessions and the issue still persists.

More specific, you add a product to the cart, and if you change the quantity in the cart, it will reload (via ajax) with the same quantity (the quantity selected in the product pag

[2021-02-25 20:57] oliveiracom opened #29226 "do_shortcode('[woocommerce_checkout]') doesn't load all scripts"
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.
*all with the same issua was closed and people stop interaction

http://oliveiracomunicacao.com.br/clientes/new-fust/english/cushion-covers/

i've looked for this problem but none with a solution...

i'm trying to a

[2021-02-25 21:56] TheRealSimpleSimon opened #29227 "Provide filter to control allowable order statuses for the order being edited"
Some business models and operations may wish to control which statuses an order can have at any given time based on things like paid status, payment method, types of products, etc., etc.

This requires control over the dropdown list presented in the "General" column of back-end order editing.
I have NOT considered any AJAX or 3rd-party plugin ways of changing order status as I do not use them.

SO

[2021-02-25 22:19] claudiosanches commented on #28238
Default branch renamed and GitHub updated all our PRs:

![Screenshot from 2021-02-25 19-16-56](https://user-images.githubusercontent.com/1264099/109226857-2ab56080-779e-11eb-979d-506884c14559.png)

For those that needs to update local environments:

[code]

[2021-02-25 23:49] claudiosanches commented on #28238
Reopening since we need to update some files.

[2021-02-26 07:54] hefawei opened #29230 "Why woocommerce customer.deleted webhook only deliver for users with customer role"
**Describe the bug**
hello, I used the webhook function of woocommerce and registered customer.deleted topic. When I used admin to delete other user records, I found that only deliver for users with customer role, and other roles (such as subscriber, shop_manager) did not deliver it. Can you explain this situation?

**Expected behavior**
customer.deleted topic deliver for users with all role excep

[2021-02-26 08:40] rwkyyy commented on #29225
after more digging (and trying a different server) I noticed that the problem is in the woocommerce_cart_hash request <> response cookies.
<img width="1076" alt="Screenshot 2021-02-26 at 10 39 22" src="https://user-images.githubusercontent.com/13552349/109276617-ea49f700-781e-11eb-9129-54b8da307fcf.png">

[2021-02-26 09:31] ovidiul opened #29231 "Importing large batch of products is slow due to `recount_terms` method"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
We are trying to import around 50K products inside the database in a batch import, with about 3K related taxonomy terms.

The problem we ar

[2021-02-26 15:02] erikdemarco opened #29234 "Can't store custom meta in WC_Customer"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2021-02-26 15:32] pmcpinto opened #29235 "Refund and return policy page"
**Is your feature request related to a problem? Please describe.**
Having a refund and return policy page helps to increase the credibility of a store in the eyes of shoppers and distribution channels. As an example, in order to use Google free product listings, it's required to include the return policy information.

WooCommerce should provide a simple way to set up a refund and return policy pag

[2021-02-26 15:33] pmcpinto commented on #29235
cc @timmyc @elizaan36

[2021-02-26 16:16] #28885 closed

[2021-02-26 16:33] arenonana commented on #14541
I curias what is this problem cause ?
I try to trace class-wc-checkout.php to get how Create order is working.
I found that the create_order is a separate mechanism from gateways it can't cause of the duplicate order it just response to create_order function status of order and can't create a new order base on that gateway plugins couldn't be the cause.
tell me if i wrong

[2021-02-26 16:53] aheckler opened #29237 "PayPal Standard should adopt locale of the site"
**Is your feature request related to a problem? Please describe.**

Using PayPal Standard, when a customer gets redirected to PayPal, the locale is EN-US even if the site language is something else, e.g. German.

**Describe the solution you'd like**

We should pass the language/locale to PayPal if possible, so that the best language is already used when the customer gets there.

Filing per @peterf

[2021-02-26 16:56] rrennick opened #29238 "Add readme docs for api tests"
Per https://github.com/woocommerce/woocommerce/pull/29198#discussion_r583718018 we will need to update and/or readme files to describe how to use the api tests.

[2021-02-26 17:09] loranallensmith commented on #29197
Howdy @franticpsyx!  :wave:  Just following up here with some next steps based on our conversation in the [Woo Community Slack](https://woocommerce.com/community-slack).

I totally hear you on the gaps in documentation and the signal that particular notice might send.  We’re putting some guidance and documentation together for developers, but I wanted to get some direct input from you and your tea

[2021-02-26 17:09] #29197 closed

[2021-02-26 19:17] elizaan36 opened #29239 "Transition regular store activity notices to snackbar component"
**Is your feature request related to a problem? Please describe.**
For more cohesiveness across WooCommerce and WordPress, and to clean up the UI for regular store management activity feedback, we should transition the legacy core WP notice style to the new snackbar component ([in Gutenberg Storybook here](https://wordpress.github.io/gutenberg/?path=/story/components-snackbar--default).)

**Existi

[2021-02-26 19:45] juliaamosova commented on #29239
Hi @elizaan36,

Thank you for highlighting this request and providing details of what is expected.

We might need to do an overview of all the core features to see where we have inconsistencies and correct them. One of them that comes to mind is updating the old purple color to new purple on the CSV Products Import page:

![old_purple](https://user-images.githubusercontent.com/19143190/109347406-2

[2021-02-26 19:47] juliaamosova commented on #29237
Hi @aheckler,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-02-26 19:49] juliaamosova commented on #29235
Thanks for bringing this up @pmcpinto! I am cc'ying other WC Core leads to put it on their radar as well @peterfabian @ObliviousHarmony @vedanshujain.

[2021-02-26 19:59] #28238 closed

[2021-02-26 20:13] juliaamosova commented on #29225
Hi @rwkyyy,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. Please see gif below:

![](http://g.recordit.co/BH31gk7cTo.gif)

I am not sure what could be the issue on your end since you also stated that you tested this in isolation with only WooCommerce activated. I am adding the `needs developer feedback`

[2021-02-26 20:50] roykho commented on #29231
@ovidiul - Thanks for the report. Since this is so close to release, we prefer not to rush a solution for this. So in that respect, I will revert the change https://github.com/woocommerce/woocommerce/commit/8b0915c4e090082d348cdd5985a0db0cb78146e8

And provide a different solution for https://github.com/woocommerce/woocommerce/issues/25375 so I will be closing this issue.

[2021-02-26 20:50] #29231 closed

[2021-02-26 20:52] roykho commented on #25375
Reverted previous commit due to performance issue if shop has many products and terms which it would need to recount on every product import. Ref: https://github.com/woocommerce/woocommerce/issues/29231

Will think of another solution for this.

[2021-02-26 21:29] juliaamosova commented on #29216
Hi @gglobalstep,

Thank you for reporting the issue. It seems to be caused by the [PayPal Payments](https://woocommerce.com/products/woocommerce-paypal-payments/) plugin is being developed in another repository: https://github.com/woocommerce/woocommerce-paypal-payments.

I am going to move your bug report there so that the right team could take a look further.

[2021-02-26 21:29] juliaamosova commented on #29216
I am also adding a bit more details to this issue:

- The following testing instructions have been followed in order to encounter the issue: https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-5.1#enhancement-use-the-new-paypal-payments-plugin-for-onboarding-6261

[2021-02-26 21:36] juliaamosova commented on #29216
For some reason, I am not able to transfer the issue to PayPal Payments repository so I created the new issue there instead: https://github.com/woocommerce/woocommerce-paypal-payments/issues/129.

Because of this, I am closing this issue here.

[2021-02-26 21:36] #29216 closed

[2021-02-26 22:55] juliaamosova commented on #29223
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I tested with WooCommerce 5.0 and 5.1 - the issue is present in 5.0 so it is not specific to 5.1.

![footer](https://user-images.githubusercontent.com/19143190/109363947-be993200-785b-11eb-928b-4e038700d446.png)

We won’t be able to include this fix in the upcoming rel

[2021-02-26 23:00] juliaamosova commented on #29221
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I tested with WooCommerce 5.0 and 5.1 - the issue is present in 5.0 so it is not specific to 5.1.

![browsers](https://user-images.githubusercontent.com/19143190/109364326-89d9aa80-785c-11eb-9947-fda1e9cf0f18.png)

We won’t be able to include this fix in the upcoming r

[2021-02-26 23:04] juliaamosova commented on #29187
Hi @majidempire,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2021-02-26 23:06] juliaamosova commented on #29230
Hi @hefawei,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2021-02-26 23:20] juliaamosova commented on #29212
Hi @grig-23,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.0.

**Case 1 - Attempt to purchase with an address in Austria and zip code A-6020 - received a message that the zip code is invalid:**

![austria](https://user-images.githubusercontent.com/19143190/109365354-fb1a5d00-785e-11eb-8dab-d2f2b162afba.png)

**Ca

[2021-02-26 23:33] #26973 closed

[2021-02-26 23:41] juliaamosova commented on #29204
Hi @levkany,

Thank you for submitting the issue. However, I believe, that everything is working as expected.

Variations need to be imported in 2 steps. Please see the docs here for how to do it: [Converting existing simple product to variable product](https://docs.woocommerce.com/document/product-csv-importer-exporter/#section-7).  The use case is slightly different but starting from step 9, it

[2021-02-27 00:23] tvtronics opened #29242 "issue with Price filter and attribute filter"
Hello

Im not sure if this is a bug or expected behaviour but to me seems like a bug..

Attribue fiters have next to them in bracekts the number of products that match that particulr atribute, so e.g.

[digital receivers](https://tvtronics.co.uk/product-category/digital-receivers/) has :-

Brands – “Air Digital (6)”
Operating System – “Enigma 2 (4)”

if the filter “Enigma 2 (4)” was checked then a

[2021-02-27 00:28] juliaamosova commented on #29168
Hi @hkn-dev,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:28] #29168 closed

[2021-02-27 00:29] juliaamosova commented on #29156
Hi @davideprevosto,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:29] #29156 closed

[2021-02-27 00:29] juliaamosova commented on #29148
Hi @lexphx,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:29] #29148 closed

[2021-02-27 00:30] juliaamosova commented on #29135
Hi @collateral243,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:30] #29135 closed

[2021-02-27 00:30] juliaamosova commented on #29131
Hi @agnimgupta,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:30] #29131 closed

[2021-02-27 00:31] juliaamosova commented on #29128
Hi @raffi961,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:31] #29128 closed

[2021-02-27 00:31] juliaamosova commented on #29127
Hi @mastarija,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:31] #29127 closed

[2021-02-27 00:31] juliaamosova commented on #29125
Hi @Rishabhparashar2626,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:31] #29125 closed

[2021-02-27 00:33] juliaamosova commented on #29067
Hi @JJHEALTHCARE,

Thanks for your follow! Great to hear that the issue had been fixed on your end. And you are right indeed - it is best to try to update WooCommerce as soon as the new version is available to stay up to date with changes and bug fixes.

I am going to close this thread as it is resolved.

[2021-02-27 00:33] #29067 closed

[2021-02-27 00:34] juliaamosova commented on #29058
Hi @Slartibartfast-byte,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:34] #29058 closed

[2021-02-27 00:35] juliaamosova commented on #29045
Hi @nayem9258,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:35] #29045 closed

[2021-02-27 00:35] juliaamosova commented on #29034
Hi @NicolaBizzoca,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:35] #29034 closed

[2021-02-27 00:36] juliaamosova commented on #29025
Hi @cmcawood,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:36] #29025 closed

[2021-02-27 00:36] juliaamosova commented on #29018
Hi @tobias992,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:36] #29018 closed

[2021-02-27 00:40] juliaamosova commented on #28989
Hi @bibekkhatri15,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:40] #28989 closed

[2021-02-27 00:40] juliaamosova commented on #28987
Hi @Smrithijp,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:40] #28987 closed

[2021-02-27 00:44] juliaamosova commented on #28982
Hi @chrisdil24,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:44] #28982 closed

[2021-02-27 00:45] juliaamosova commented on #28928
Hi @bitsjohmorales,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:45] #28928 closed

[2021-02-27 00:45] juliaamosova commented on #28907
Hi @Mrben001,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:45] #28907 closed

[2021-02-27 00:46] juliaamosova commented on #28897
Hi @Phamtuyen13,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:46] #28897 closed

[2021-02-27 00:46] juliaamosova commented on #28887
Hi @noellesteegs,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:46] #28887 closed

[2021-02-27 00:47] juliaamosova commented on #28819
Hi @Joey-yeoJ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:47] #28819 closed

[2021-02-27 00:48] juliaamosova commented on #28813
Hi @ZabethVanWyk,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 00:48] #28813 closed

[2021-02-27 00:49] juliaamosova commented on #27761
Hi @Immerence,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-02-27 07:10] Ayush-Agarwal123 opened #29243 "1 product missing in order summary"
![WhatsApp Image 2021-02-27 at 11 53 00](https://user-images.githubusercontent.com/76933825/109378464-cce95b80-78f8-11eb-9cff-75217c7d6f7d.jpeg)
![WhatsApp Image 2021-02-27 at 11 53 47](https://user-images.githubusercontent.com/76933825/109378466-ce1a8880-78f8-11eb-9918-4cfddaa6558b.jpeg)

In 1 order there is a product Canvas Tote Bag, it is shown in the invoice and order details but is missing in

[2021-02-27 11:06] rwkyyy commented on #29225
@juliaamosova I know this is an isolated case, but the problem is that I can't find the issue causing this. After more digging today, I deleted the wc plugin, redownloaded it from wordpress.org and cleared almost everything via wc tools (transients, sessions, etc.)

Initially just the 1st session would work properly, then after another clear (via tools) it started working again properly... now I j

[2021-02-27 13:42] jakoblieser commented on #22706
Seems like this Plugin provides a solution: https://store.plexusllc.com/product/woocommerce-inventory-notifier/
Does anyone have experience with this? Would still be good seeing this functionality directly in Woo.

[2021-02-27 18:11] Thomas-1985 opened #29245 "registering custom endpoints in user area result in 404 in WooCommerce 5.0.0 (works in 4.5.2)"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I have a custom plugin that registers custom endpoints in the user area like here:
https://webkul.com/blog/woocommerce-account-custom-endpo

[2021-02-27 22:04] rwkyyy commented on #29225
I managed to find the issue, after more digging apparently there was an issue with the sessions table in the database (although the clear sessions did not fix the issue).

In order to fix this issue I had to do the following:
1. clear all transients
2. clear user sessions
3. verify database
After doing this, the bellow error shows:
![Image 1](https://user-images.githubusercontent.com/13552349/1094

[2021-02-28 00:55] stefanstatescu1 opened #29246 "Add STEP argument for FILTER: woocommerce_available_variation"
I have a WHOLESALE plugin and I am trying to set the input step for different variations.

For example the item COFFEE, might be sold in 3 variations:
- small bags: sold in packages of 10
- medium: sold in packages of 6
- large: sold in packages of 3

**woocommerce_quantity_input_args** supports step, so I can set the input step for simple products, or the entire variable product

**woocommerce_av

[2021-02-28 02:04] stefanstatescu1 commented on #29234
I'm not sure how WC_Customer update_meta_data is supposed to work, I don't usually use that. Is that per session or permanent data?

If you just need to store permanent meta data in the wp_usermeta table you can use:

[code]

Tested in woocommerce_checkout_update_order_review and it works

[2021-02-28 04:00] suneth2 commented on #9365
we can remove that completely but it will not show mini cart items when page load or refresh, so any one how to call this function after window load, so it will not effect for speed scores on major sites like gemetrix

[2021-02-28 08:47] dcx15 commented on #29096
Fixed 17 days ago, but still not available. Any news on when 5.0.1 might be pushed live?

[2021-02-28 09:21] ninetyninew opened #29247 "WordPress admin bar "View store" menu is not "View shop" on UK language installations"
**Describe the bug**
When using English (UK) language references to store are changed to shop, however the WordPress admin bar site hover menu still shows the text as "View store" and not "View shop".

**Expected behavior**
Use "View shop" as all other store references are shop.

**Actual behavior**
Shows "View store" (the default string)

**Steps to reproduce the bug (We need to be able to reprod

[2021-02-28 12:16] Fruity-Pierre commented on #24184
I would like to add my issue with this problem.

I've just purchased an upgrade for our shop epos software that connects our shop till to our Woocommerce website. It keeps our shop till and web site inventory etc in sync.

However, this rounding up of numbers is very frustrating and potentially could cost us money as it makes the new software almost redundant. The whole point is to automate listin

[2021-02-28 16:16] lacherogwu commented on #29162
Hey, thanks for the information!

I used in Hello Elementor theme and it has the same issue,
Since I would still like to use Hello Elementor theme because all my
website is build with it and if I change to Storefron theme it's corrupt my
website.
There is any custom code I can apply in order to fix it?

Thanks!

On Fri, Feb 19, 2021 at 12:21 AM Greg <notifications@github.com> wrote:

[2021-02-28 20:51] mburakkalkan commented on #21148
Thank you @mvdhoek1 but it affects the positive fees too.

Your answered opened the door and I improved it as correcting the wrong calculation by selected tax class.

Now it became more efficient:

`add_action('woocommerce_cart_totals_get_fees_from_cart_taxes', function($taxes, $fee, $cart) {
	{
		// if tax system enabled and the fee is negative
		if(wc_tax_enabled() && $fee->object->amount < 0) {

[2021-03-01 10:09] superbmario commented on #29096
I'm guessing this won't make it into a 5.0.1 and we should expect a fix in 5.1.0 on 8th March?

[2021-03-01 12:33] Tonimerc commented on #27030
Hi - I'm also have the same issue and wondering if there has been any update on this yet?

[2021-03-01 13:46] roykho commented on #29096
Yes so the fix will be apart of the 5.1 version release slated to go out on March 9th. Sorry for the inconvenience.

[2021-03-01 16:26] elizaan36 commented on #29239
That's a great call out and it's been on my mind as well. Do you think for this specific issue it would be best to focus on the notices and I can follow up with another issue to update that color? In the interim before we start looking at a brand new product management experience, the progress bar and primary action shown in the screenshot would ideally pull in the WordPress theme color that user

[2021-03-01 16:30] dhruveel opened #29253 "r"

[2021-03-01 16:31] FoodjunkieBE commented on #18205
Yeah I have the same since 1 month ago... can't find any solution for this... Did you already found one or not?

[2021-03-01 17:09] #28868 closed

[2021-03-01 17:57] #29253 closed

[2021-03-01 18:00] loranallensmith commented on #29253
Hi @dhruveel!  :wave:  It looks like this issue may have been opened by mistake, so I am closing it.  :smiley:

[2021-03-01 18:51] PixelBlender22 opened #29255 "Improve Continuity and category definitions from WC Reports to WC Analytics"
We presently use "Reports" in WooCommerce for various accounting and sales tasks and planning. When we heard that these reports were to be depreciated and moved to Analytics, we became looking into how the analytics section compared to the old reports so we could switch.
  We have found a number of problems that will make it difficult for most users to seamlessly transition away from reports to an

[2021-03-01 19:42] Freshpage commented on #14541
We've not seen this problem in 6 years of running our site, but started getting duplicate orders after upgrading to Woocommerce 5. We are on a dedicated server with 24mb of RAM, so I don't think the server is a problem.

It's a complete catastrophe to be honest, and could well be the final straw in moving away from Woocommerce.

[2021-03-01 20:15] tammullen commented on #29255
Hi @PixelBlender22

Thank you for reporting the issue. Analytics is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your issue there so that the right team could take a look further.

[2021-03-01 20:18] tammullen commented on #29246
Hi @stefanstatescu1

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get he

[2021-03-01 20:18] #29246 closed

[2021-03-01 20:19] tammullen commented on #29243
Hi @Ayush-Agarwal123

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; iss

[2021-03-01 20:59] stefanstatescu1 commented on #29246
It is not a bug, nor a custom code related question.

It is an **Enhancement** request.

I am asking you to add a 'step' argument to the "woocommerce_available_variation" filter. That would give more options to developers.

[2021-03-01 21:11] juliaamosova commented on #29239
Yep, I think creating a separate issue for updating the color will be best so that we could focus on the notices here. Thanks @elizaan36!

Creating a separate issue for this will be great as ell, thank you @elizaan36!

[2021-03-01 22:33] GlazerGallery commented on #28557
5.6.2 did NOT fix it for me. https://core.trac.wordpress.org/ticket/52440 has been closed and it's labeled as "fixed." It is definitely not -- I just had it happen again. I am definitely running 5.6.2.

[2021-03-01 22:37] GlazerGallery opened #29256 ""Changes you made may not be saved." message when leaving product, even if no changes have been made, WP 5.6.2"
I am still having the problem similar to the one reported in ticket #28557 "Changes you made may not be saved." message when leaving product, even if no changes have been made." I'm not seeing the issue in Products anymore, but just had it happen while attempting to edit a Page. That ticket has been closed, and says the issue was fixed with Word Press 5.6.2. And maybe it was, for Products. All my

[2021-03-01 22:48] GlazerGallery opened #29257 "Drafts randomly replacing Published Pages"
After the latest WooCommerce update, I noticed that this page: https://www.georgeglazer.com/wpmain/featured-sale-items/ had been replaced with an older page that I had turned into a Draft. I update the featured-sale-items page monthly, and when I retire the old pages, I change them from Published to Draft AND rename them. Yet when I opened the page earlier today, instead of the February 2021 speci

[2021-03-02 01:17] FangedParakeet opened #29258 "In e2e-environment, ensure customInitFile is a string path and that default appInitFile is not overwritten if otherwise"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-03-02 07:19] raininmay opened #29259 "Mobile version bug for product sells"
Hi,

I'm using your template to sell my products online and on a computer this works so good!
But, on the phone the scrolling to next side is missing. This means all my costumers looking from their phone only get to see a very small selection of my products.

(I wish I could send you a screen shot but I hope you get what I mean....)

Please fix this.... Or please help me fix this, if it's somethin

[2021-03-02 07:23] raininmay commented on #29259
![IMG_3075](https://user-images.githubusercontent.com/79898260/109612691-68184600-7b30-11eb-9bad-e5cb751d6380.jpg)

Ah, here's a screen shot. And as you can see at the bottom there's no "next side" as shown in the computere version.

<img width="1029" alt="Skærmbillede 2021-03-02 kl  08 23 08" src="https://user-images.githubusercontent.com/79898260/109612778-87af6e80-7b30-11eb-9e90-5bc3b985060a.pn

[2021-03-02 08:42] AashikP opened #29260 "Clear existing cart contents after clicking the Pay button on manually created orders"
**Is your feature request related to a problem? Please describe.**

While paying for a Manual order from `My Account` page, the cart is automatically cleared only after paying for the same.

**Describe the solution you'd like**
Clearing existing cart items as soon as you click the pay button would reduce some confusion with regards to the products you're attempting to pay for.

**Describe alternat

[2021-03-02 09:49] bootsgrid commented on #20511
@MasterNS You saved my day. I have tring to fix the (order page blank ) issue on (20-02-2021) onwards.
Your solution is made my day. Thanks a lot

[2021-03-02 10:05] tammullen commented on #29256
Hi @GlazerGallery

Can you please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate **all** plugins except for WooCommerce and switch the default theme such as Storefront. Then test again.

If the issue is resolved with the default theme and all plugins deactivated, it means that one of your plugins or

[2021-03-02 10:08] tammullen commented on #29259
Hi @raininmay

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide](

[2021-03-02 10:08] #29259 closed

[2021-03-02 10:49] raininmay commented on #29259
No.... This is not a support request.

Your template is missing pages on the mobile version.

[2021-03-02 10:51] raininmay commented on #29259
I can't see how I can fix that your template is missing pages in the mobile version. ??