[2020-11-27 14:21] #28432 closed

[2020-11-27 14:33] rrennick commented on #28434
Hi @cwsindia, Thanks for reporting the issue.

The state is listed in CLDR 37 - https://github.com/unicode-org/cldr/blob/release-37/common/subdivisions/en.xml#L2257.

[2020-11-27 14:53] peterfabian commented on #27340
I can reproduce this as well.

[2020-11-27 15:10] pgamaster commented on #28172
When I prepared a CSV file for importing for categories I used slugs instead of category names and import worked perfectly. I'm using Russian categories. Now I can't import categories properly because I have to write categories in Russian and Woocommerce creates categories duplicates.

My array that was used for categories matching:
Before:
"bryuki" => array("bryuki", "zhenskie-brjuki-bolshih-razm

[2020-11-27 15:26] rrennick commented on #28356
The `e2e-utils` package has a `createSimpleProduct()` function for creating a product needed in an E2E test.

[2020-11-27 15:32] ad-on-is commented on #27026
I'm having a similar issue
1 item costs 1.01

**Expected behavior:**
8 items costing 8.08

**Actual behavior:**
8 items cost 8.07

[2020-11-27 16:26] tammullen commented on #28356
Great question, I initially thought a using a fee could potentially make the test slightly faster and with less of a data dependency than using a product.
However, as @rrennick points out, because we already have a function for creating a product via the API it would be fast to do so and using a product will be a more realistic scenario as it is likely the majority of refunds are done on products.

[2020-11-27 16:34] rrennick commented on #28131
Hi @masteradhoc,

Thank you for reporting the issue. The new onboarding is being developed in another repository: https://github.com/woocommerce/woocommerce-admin

I am going to move your bug report there so that the right team could take a look further.

[2020-11-27 16:37] Mark5663 commented on #28431
OK Ron, thanks for your answer.
Mark.

Mark Whitcombe-Power
00 33 (0) 6 16 52 43 83

On 27 Nov 2020, at 15:21, Ron Rennick <notifications@github.com> wrote:

Hi @Mark5663,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reve

[2020-11-27 17:02] rrennick opened #28435 "Sync package versions"
@renovate-bot is set up to only check for package updates in the main project. `lerna hoist` is logging a number of warnings because PRs for common packages only bumped the version in the main package.

[code]

These should be resynced. It would be great if we updated `renovate` so it checked all `package.json` files in the repo.

[2020-11-27 17:59] cwsindia commented on #28434
The state is listed in CLDR 37, but not available on live site. I tried all the possible spelling combinations but no luck.
How to add this to the live site. I am using the latest version of Woocommerce.

[2020-11-27 19:19] ObliviousHarmony commented on #27340
Hello @stefanos82,

I've found a [Trac ticket for this bug](https://core.trac.wordpress.org/ticket/51872) indicating that it is a problem with WordPress 5.6 and not WooCommerce.

[2020-11-27 19:20] jozeflambrecht opened #28436 "Partial Refund with Coupon: redistribute discount over remaining items?"
When a customer applies a coupon, to make sure taxes are calculated correctly due to rounding the discount is split across all items.
However, when we do a partial refund, should the coupon value not be redistributed over all remaining items?

[2020-11-27 19:30] jozeflambrecht commented on #24483
@faridmovsumov Would you mind sharing the logic behind this?

[2020-11-27 19:35] #27340 closed

[2020-11-27 19:53] stefanos82 commented on #27340
I use WordPress 5.5.3 and this bug triggers only in WooCommerce quick edit; no custom taxonomy or whatsoever if it helps.

[2020-11-27 20:07] ObliviousHarmony commented on #27340
Thanks @stefanos82!

The custom taxonomies triggering this error are those being registered by WooCommerce. While you may be experiencing this bug in WordPress 5.5.3, it's worth noting it's still a problem in WordPress Core caused by upgrading jQuery UI. This code doesn't live in WooCommerce and so it isn't something we can address.

We will wait for there to be a resolution in that Trac ticket an

[2020-11-27 20:08] stefanos82 commented on #27340
OK, thank you for letting me know.

[2020-11-27 20:50] rrennick commented on #28434
@cwsindia The second half of my comment was for the developer who writes the PR to add the state.

[2020-11-27 22:27] tammullen commented on #28422
Adding screenshot and noting I could see this in 4.7 and 4.4 so doesn't seem to be introduced by 4.8
![Screenshot 2020-11-27 at 22 24 37](https://user-images.githubusercontent.com/24649833/100487296-b8ca6e00-30ff-11eb-84ba-a8260f669678.png)

[2020-11-27 23:09] zhongruige commented on #28359
Thanks for the follow up @tammullen! I'll go that direction for this test.

[2020-11-27 23:10] zhongruige commented on #28356
Sounds good! Thanks for the feedback @rrennick and @tammullen -- I'll go that direction with these tests.

[2020-11-28 01:08] naumanahmed19 opened #28438 "REST filter not working"
I am trying to add a filter for the REST API but it's not working. Checked on multiple installations

Woocommerce: Version 4.7.1
WordPress: 5.5.3 (multisite)

I am adding this code in functions.php and tested other template filters for the theme and they are working fine but for REST API there is no change in response if add more attributes or change existing.

[code]

[2020-11-28 02:14] JubayerBD opened #28439 "is it possible to "add to cart" by selecting a variation where there is multiple variations??"
hi
i have products where 3 attributes with multiple valuse are exist. i want that customer can be able to add to cart by selecting a variation a fist attribute without selecting any value from others attribute. is it possible???

[2020-11-28 11:19] mathiasdb commented on #28294
@rrennick I got an error when requesting => At least 1 approving review is required by reviewers with write access. Could you please review the patch?

[2020-11-29 02:54] amjad commented on #12048
Is `completed_at_min` and max possible with legacy v3? Where is the code for this?

[2020-11-29 05:37] zanderi commented on #25895
@ecappa Tried everything your solution fixed it for me thank you.

[2020-11-29 12:27] immunity20 commented on #20262
Same problem here.
eshop with ~ 6.5K products and ~ 140products ( 1 product has ~ 5-10 product_attributes)
I use the global attributes? (the one that woocommerce has in products -> attributes).
An attribute is added in each product by attributes_options tab.

VPN with dedicated 16vCPUs 64GB RAM gets waiting time (TTFB) of 10-20secs when there are around 30-35 unique users.
Most of the lag i think

[2020-11-29 15:09] csimpi opened #28441 "woocommerce_order_status_changed doesn't fire from Dashboard -> Save anymore"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-29 16:18] csimpi commented on #28441
UPDATE:

Despite that I've disabled this plugin

https://github.com/TycheSoftwares/custom-order-statuses-woocommerce

the issue still happened. When I enabled it again and removed their `woocommerce_order_status_changed` hook from my code and overridden by my code it works again.

So it seems the problem was with the plugin, but I don't understand why it didn't work when I disabled the plugin.

[2020-11-29 16:18] #28441 closed

[2020-11-29 18:16] dcoleonline opened #28442 "Product Categories List Block - Alignment Issues when used as a drop down on the Shop page"
This comes from WordPress.com support interaction 3527328-zen.

**Prerequisites:**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug:**
When using the Product Categories List block on the Shop page as a dropdown, it seems that the arrow next to

[2020-11-29 21:07] scottbuscemi commented on #27424
Curious how this can get developer eyeballs. My WP dashboard is now cluttered with a notice that can't get dismissed.

[2020-11-30 08:39] futurevisionweb commented on #27031
Still have this issue for french.

[2020-11-30 11:59] Konamiman opened #28444 "Twenty Twenty One My Account - Bookings page"
Please ensure the 2021 My Account > Bookings page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode but the rest of the content in wide layout mode, it might be suboptimal, but

[2020-11-30 13:44] rrennick commented on #28294
@mathiasdb Yes, all PRs require an approving review. Here are the instructions for creating a PR https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2020-11-30 14:01] gabrielgiorisatto commented on #26029
Any response? [I have the same problem](https://github.com/woocommerce/woocommerce-rest-api-js-lib/issues/86)

[2020-11-30 14:14] #27154 closed

[2020-11-30 14:22] rrennick commented on #26539
Github isn't for troubleshooting/redesigning implementation so we won't be working through what might be your best course. But, I can say that having 30,000 global attributes isn't a standard implementation. You'll need to look at whether they need to be global or whether there is another alternative you can implement.

[2020-11-30 14:45] #28444 closed

[2020-11-30 14:47] #28306 closed

[2020-11-30 15:21] noelillinger commented on #24387
Hey guys,

I'm searching through the web for days already, asked developers of installed plugins to help me, because I thought it's their code issue, but in the end I need to figure out, that it has to be the problem, that is written down here for many months already. (no fix yet??)

I have the same issue, PDT & IPN status is both triggered, which also sends out the confirmation email twice. Not o

[2020-11-30 16:02] mdbitz opened #28445 "Integrate WP 5.6's wp_after_insert_post into product update flows"
WordPress 5.6 introduces the new wp_after_insert_post action and related function. I was recently running tests of the latest version of WordPress with WooCommerce and noticed that `added_post_meta` hooks were still firing after wp_insert_post.

Looking at the source code for updates I would like to suggest that WooCommerce be updated to use wp_after_insert_post so that plugins can utilize the `wp

[2020-11-30 16:21] tammullen commented on #27766
Noting here this observation from @AashikP of the message `"This theme does not support WooCommerce" `in the OBW
Is there anything we can do within WC or does it need an update in the theme itself?

![wc-support](https://user-images.githubusercontent.com/24649833/100634993-ded25700-3327-11eb-8c38-93ecd5757be3.png)

[2020-11-30 16:51] vikula030 opened #28446 "WooCommerce + Paypal Plus Calculation"
Dear Sir or Madam,

I currently use WooCommerce and the Paypal Plus plugin. PayPal uses its own order class to calculate the total, instead of using WooCommerce. It seems to be a transmission error. Paypal Plus probably just passes on its data.

Example: 4x 2.99€ currently gives 11.94€ in the store

It is rounded incorrectly. Do you have an idea?

Best regards
Viktoria

[2020-11-30 18:01] oceanbeat commented on #27521
Solution from @vendidero worked for me (thanks for your effort!) – but not in every case.
Maybe this is an issue with my theme (Flatsome)? On my checkout page when you select the Country dropdown it looks like this:

https://s20.directupload.net/images/201130/b2bz2b8f.png

First line: "Land" = country
Second Line: "Land auswählen" = select country

When a user does not actively select anything at

[2020-11-30 18:19] RichardMisencik commented on #20800
Anyone has updated code that will work with the latest woocomerce and wordpress version? Thanks.

[2020-12-01 03:06] starry1314 opened #28451 "woocommerce variable product displays"
After creating a new website, installing woocommerce and updating the database, the product type (variable product) field disappears and no longer displays

[2020-12-01 03:23] starry1314 commented on #28451
After importing the OCEAWP SHOP DEMO theme

[2020-12-01 06:33] Bodrosh commented on #26539
@rrennick I have 1000 attributes (taxonomies), a store with many categories will have many different products and attributes, right? An online store without filters is inconvenient.
So far I managed to improve the situation by enabling memcached and caching the result of the register_taxonomy function for pa_ * attributes (but this is a kernel change), I'm testing this:
`function register_taxonomy

[2020-12-01 10:05] #28439 closed

[2020-12-01 10:05] Konamiman opened #28452 "Twenty Twenty One bookable product page"
Please ensure the 2021 product page for a bookable product looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode but the rest of the content in wide layout mode, it might be subopt

[2020-12-01 10:25] thelyall commented on #27688
Is there any update on this? I have loads of errors in Google search console due to 'Value in property "reviewCount" must be positive' which it isn't as it resets to zero.

[2020-12-01 10:52] peterfabian opened #28453 "Explore the possibility to use REST API Batch Framework from WP 5.6"
WP 5.6 introduces [REST API batch framework](https://make.wordpress.org/core/2020/11/20/rest-api-batch-framework-in-wordpress-5-6/).

We should explore if there are any potential performance improvements for us.

[2020-12-01 10:54] peterfabian opened #28454 "Explore the use of application passwords from WP 5.6"
[WP 5.6 comes with a new way to authenticate for REST API: application passwords](https://make.wordpress.org/core/2020/09/23/proposal-rest-api-authentication-application-passwords/)

Let's explore if we can enable the use of those in WC REST API, too.

[2020-12-01 10:54] grigorijurasov opened #28455 "Order actions in WooCommerce >> Orders cannot be enabled on mobile"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Order actions in WooCommerce >> Orders cannot be enabled on mobile, even after enabling them under "screen options".

**Expected behavior**

[2020-12-01 13:59] EdithAllison opened #28456 "WooCommerce 4.8.0-rc.1: cannot save plugins with WP beta 5.5.4"
After upgrading to WooCommerce 4.8.0-rc.1 I cannot activate other plugins. The error message on screen is:

[code]

Rolling WooCommerce back to 4.7.1 fixes the error.

This is on WordPress multsite, with WordPress BETA testing activated, version 5.5.4-alpha-49501.

[2020-12-01 14:07] rrennick commented on #26539
The distinction is that product categories are a single taxonomy. Each category is a `term`. A store with 1000 categories is only registering one taxonomy.

[2020-12-01 14:27] tammullen commented on #28456
Hi @EdithAllison

Can you share which plugins you have tried that give this error?

[2020-12-01 14:41] EdithAllison commented on #28456
Hi tammullen, I first noticed it when upgrading a WP All Import plugin; but I received the same error (with blank page, could not activate) when trying to activate a freshly installed "WPForms" plugin.

[2020-12-01 15:12] roykho commented on #28309
I started looking into this and I found this has been taken care of by this PR here https://github.com/woocommerce/woocommerce/pull/28340

So closing this one as it's not relevant anymore.

[2020-12-01 15:12] #28309 closed

[2020-12-01 15:44] admdanielspalma commented on #25992
I do need this too.

[2020-12-01 16:02] stijndemulder commented on #25243
Unfortunately bug is still present.

Admin can add <br> code and this is rendered correctly on frontend.

When store manager edits/saves product with <br> the tag gets removed.

Workaround or fix would be welcome.

[2020-12-01 16:16] abishekrsrikaanth commented on #8898
@claudiosanches @jconroy, I am facing this issue. Do both the url's need to be url encoded?

[2020-12-01 16:34] renatadcl opened #28457 "Quick Editing makes the Product dissappears after I click on it"
Hi,
Since yesterday morning, whenever I click on Quick Editing in a Product, the Product dissappears and when I refresh the page it appears again.
It should work as always.
I have searched for similar bugs and the advice I found was to deactivate new plugins and snippets (which I did) and it made no difference. I still have this problem.

Thank you

[2020-12-01 18:43] #28291 closed

[2020-12-01 19:54] GeoJunkie opened #28459 "Database update stops at 4.5.0"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When updating to WC 4.7.1 from versions prior to 4.5.0, the database version is only updated to 4.5.0. Deactivating and reactivating WooCom

[2020-12-01 20:58] roykho commented on #28297
So we have `%s` used all throughout the code base (valid uses). I am wondering what is special about the usage here that causes the issue? Or are you stating any translation where the lookup string has changed would cause this issue if we're not using positional placeholders? If so, it would seem we need to fix this all throughout the code base.

[2020-12-01 21:19] jonathansadowski commented on #27766
Thanks for passing along @tammullen, and for the original report @AashikP. I wasn't able to reproduce this. Is it possible that the testing was done before we merged #28134? This would also happen if the theme were installed directly via the instructions in the Github repo, as the name of the theme would be `twentytwentyone-trunk` in that case, and the [method we use to check the theme](https://gi

[2020-12-01 21:28] #27339 closed

[2020-12-01 21:32] gfrileux opened #28460 "Stock management not working if order items not set on first pass"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-12-01 22:32] scottbuscemi opened #28461 "Updating account details redirects user to main Dashboard page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After saving changes to account details through the `/my-account/edit-account/` form, the user is redirected to the main Dashboard page wit

[2020-12-01 22:36] DavidAnderson684 commented on #28459
Possibly related or the same: https://github.com/woocommerce/woocommerce-admin/issues/5058

[2020-12-01 22:47] fullermetric opened #28462 "re: #27138"
Hello,

Currently running version WordPress 5.5.3 and WooCommerce 4.71

My manager discovered several endpoints that are not listed in the WOO REST API documentation.

eg. /wc/store/products.

And the problem is this endpoint exposes all of our products openly to the public.

Is there a way to deregister this endpoint?  Shouldn't this endpoint be authenticating before giving away this information?

[2020-12-02 03:57] codesarts commented on #20563
I had same exactly the same issue, the around solution is to change the order status to Pending payment (which is not triggering any emails) then change it to on-hold status which can trigger two emails (admin and customer).

[2020-12-02 06:38] Bodrosh commented on #26539
@rrennick Thanks for the answers, yes, this is understandable, I meant that in different categories there are different products and they respectively have different attributes, and I cannot leave only a few attributes and remove the rest. Do you think it's better to create a separate hierarchical taxonomy and use it for attributes? Thanks.

[2020-12-02 06:42] AashikP commented on #27766
Thank you, @jonathansadowski

I'll test this again and update here. The theme is installed as `twentytwentyone`.

I used this command `wp theme install https://github.com/WordPress/twentytwentyone/archive/trunk.zip --force`

![https://d.pr/i/g5gs5d+](https://d.pr/i/g5gs5d+)

[2020-12-02 07:41] haydenw commented on #27401
Hi, this has been fixed along with duplicate issue #27710.

[2020-12-02 08:17] gglobalstep commented on #28426
We have verified this issue without WooCommerce active and observed the same behaviour.

[2020-12-02 08:18] gglobalstep commented on #28425
We have verified this issue without WooCommerce active and observed the same behaviour.

[2020-12-02 08:18] gglobalstep commented on #28424
We have verified this issue without WooCommerce active and observed the same behaviour.

[2020-12-02 11:07] vaibhavisojitra25 opened #28466 "Getting woocommerce_rest_cannot_view Error into Newly Setup Ubutu Server"
Hello,

I have "woocommerce_rest_cannot_view" issue in new ubuntu server. It's Working with old sever.
I have tried All Related Solution. API is Working with http url
The credential was correct But still getting this response.
{ "code": "woocommerce_rest_cannot_view", "message": "Sorry, you cannot list resources.", "data": { "status": 401 } }
PHP version : 7.2
Woocommerce : 4.7.1

Please help to s

[2020-12-02 11:13] #28434 closed

[2020-12-02 12:36] tammullen commented on #28456
Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I was able to activate the plugins you mentioned using 4.8.0-rc1 on both a single site and a multisite using WordPress 5.6 RC and the latest version of 5.5
​
![Screenshot 2020-12-02 at 12 30 58](https://user-images.githubusercontent.com/24649833/100873271-ef5

[2020-12-02 13:03] naumanahmed19 commented on #28438
can anyone tell if it is a bug or I am the only one facing this issue?

[2020-12-02 13:31] DeanForde commented on #20805
I have the same issue using the storefront theme, all other requests work fine except for wcapi.get("products/categories").json() or wcapi.get("products/categories/{id}").json()

[2020-12-02 13:36] sebastijanz commented on #27661
Hi there, this would be really great improvement!
I hope that can be developed soon.

[2020-12-02 13:45] EdithAllison commented on #28456
Hi @tammullen, apologies, I found the culprit - "MailChimp for WooCommerce" by MailChimp is not compatible with Woo 4.8.0-rc.1 . I'll let them know, sorry for wasting your time.

[2020-12-02 13:47] tammullen commented on #28456
@EdithAllison  No problem! We have raised an issue with MailChimp here https://href.li/?https://github.com/mailchimp/mc-woocommerce/issues/729 but if you have any other details you can add of what you are seeing it might be helpful for them.

[2020-12-02 13:50] EdithAllison commented on #28456
Ah yes, that's exactly what I'm seeing, thank you for the link!

[2020-12-02 13:56] roykho commented on #27401
Closed via https://github.com/woocommerce/woocommerce/pull/28169/commits/ab0ede4603c8e24d9ed04fc2e6fb6ebb40f7a1cc

[2020-12-02 13:56] #27401 closed

[2020-12-02 13:59] tammullen commented on #28456
No problem, thank you for testing with 4.8.0-rc.1 we really appreciate folks doing that.

[2020-12-02 14:05] rodrigoprimo commented on #28417
Thanks for the report, @jkohlbach. I opened #28468 to address this issue.

You mention specifically that this is a problem with MySQL 8, but after a quick research, it seems to me that the ANSI_QUOTES mode has been around for a long time (for example, see this WP core ticket from 2005: https://core.trac.wordpress.org/ticket/1498) and I couldn't find any related changes in MySQL 8. Am I missing som

[2020-12-02 14:06] EdithAllison commented on #28456
I'm now testing further plugins.  Given that it breaks WP Admin plugin functionality you may want to increase awareness of this breaking change amongst plugin developers.

Also not working are "WooCommerce Wholesale Prices" by Rymera which also uses your WC_Admin_Note() class. I'm alerting the plugin team on this.

[2020-12-02 14:20] peterfabian commented on #28308
I think it makes sense, as blocks compatibility is handled in another repo.

[2020-12-02 14:20] rrennick commented on #28426
@gglobalstep Thanks for the followup. Closing this as it's an issue in WP core.

[2020-12-02 14:20] #28426 closed

[2020-12-02 14:22] rrennick commented on #28424
@gglobalstep Thanks for the followup. Closing this as it's an issue in WP core.

[2020-12-02 14:22] #28424 closed

[2020-12-02 14:23] rrennick commented on #28425
@gglobalstep Thanks for the followup. Closing this as it's an issue in WP core.

[2020-12-02 14:23] #28425 closed

[2020-12-02 14:31] #28428 closed

[2020-12-02 14:32] tammullen commented on #28456
Thanks @EdithAllison
Just to clarify what you are seeing with these plugins, is it a message displayed on the plugins screen or is it also preventing these plugins being activated?
Would you be able to share your System Status Report to understand the WordPress and Server environment this is occurring on?

[2020-12-02 14:42] #28366 closed

[2020-12-02 14:49] EdithAllison commented on #28456
Hi @tammullen, mh, I can activate but it's buggy. The test I've just run is:

1. Upgrade WooCommerce to 4.8.0-rc.1

2. Go to Network OR site plugins page, page shows errors at top

<img width="1635" alt="Plugins_‹_Network_Admin_01" src="https://user-images.githubusercontent.com/19706428/100886482-2ede2480-34b4-11eb-94c0-066c0e90723a.png">

3. Then in site's admin plugins page, I tried to activate

[2020-12-02 14:55] AlexP11223 commented on #28399
duplicates https://github.com/woocommerce/woocommerce/issues/28320

[2020-12-02 15:18] zdenys commented on #26289
Another case of a confused user in 25224820-hc.

@tammullen is there a chance the default behavior `do the coupon verification on the placing order step as the billing details can be modified up until this point and the billing details will be part of coupon validation` will be changed? Or should the public documentation clarify the current expected behavior to avoid continuous confusion?

[2020-12-02 15:42] apmwebdev commented on #26305
Another ticket running into this issue: 25224820-hc

[2020-12-02 16:16] #28399 closed

[2020-12-02 16:29] GoranRista opened #28470 ""Downloads remaining" count in customer orders does not get updated"
- [ x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a download limit is set for a product, it does not get updated in users' orders when they subsequently download the product. The number in the "Downloads remaining" field stays the same as se

[2020-12-02 17:08] gglobalstep opened #28471 "[GlobalStep ] "Database error" is triggered upon activating "WooCommerce Product Bundle" plugin."
## Bug Description:
"Database error" is triggered upon activating "WooCommerce Product Bundle" plugin.

## Environment:
Windows 10, macOS Catalina: v10.15.7 (19H15)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 14.0)(15610.1.28.1.9, 15610)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install

[2020-12-02 17:13] gglobalstep opened #28472 "[GlobalStep - PHP 8 + WooCommerce 4.8 RC 1] "Fatal Error" page is displayed upon creating order from backend with Zero product quantity."
## Bug Description:
"Fatal Error" page is displayed upon creating order from backend with Zero product quantity.

## Environment:
Windows 10, macOS Catalina: v10.15.7 (19H15)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 14.0)(15610.1.28.1.9, 15610)

## Steps To Reproduce:
1. Go to Test site "https://ephemeral-jamosova

[2020-12-02 17:17] gglobalstep opened #28473 "Product price fails to update when updating product with zero quantity"
## Bug Description:
Product cost fails to recalculate when updating product with zero quantity.

## Environment:
Windows 10, macOS Catalina: v10.15.7 (19H15)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 14.0)(15610.1.28.1.9, 15610)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and ac

[2020-12-02 18:14] rrennick commented on #28200
@ecgan Can you explain this step in more detail or perhaps provide additional information on your setup? I've written a PR to address the issue but I'm not able to reproduce the error message. We'd like to verify it addresses the problem you encountered.

[2020-12-02 18:44] negapo opened #28474 "List all Refunds in API failing"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When using the "/wp-json/wc/v3/orders/<id>/refunds" endpoint for retriving all refunds from an order some extra characters are being added

[2020-12-02 20:20] juliaamosova commented on #28472
Thanks for reporting the issue @gglobalstep!

It seems that the issue is being caused by WooCommerce Services. I got the following details by email as an Admin of the site:

[code]

[2020-12-02 20:29] jkohlbach commented on #28417
@rodrigoprimo yeah looks like the mode has been around for a bit. I think it's becoming more common to have this turned on in MySQL 8 which might be why I encountered it (I first encountered it on a Digital Ocean box and perhaps their default config is more strict)

Appreciate you pushing the fix through all the same! I just wanted to make sure it's solid for mysql8 and folks are aware they should

[2020-12-02 20:53] roykho commented on #27424
Hey @scottbuscemi - which specific banners are you unable to get rid of?

[2020-12-02 20:54] gesponda opened #28475 "Cant sync with facebook"
I have tried change status for the total of articules we have from no sync to sync and show on facebook but was impossible since the only possibility was to change from no sync to sync and hide.

[2020-12-02 20:56] scottbuscemi commented on #27424
@roykho Roy! Long time no see.

I had a banner pop up regarding a failed scheduled action (related to a deleted subscription). The banner would re-appear every time I refreshed the page even if I pressed the close button, but finally the banner disappeared within an hour.

[2020-12-02 21:00] roykho commented on #27424
Indeed! Good to see you're still around. Did you have any issues with the WC core banners? Like "The coupon page has moved" or "DB finished updating".

[2020-12-02 21:56] tammullen commented on #28471
I can reproduce this. I also tried in 4.5.2 and could reproduce it there so this does not appear related to 4.8 RC 1

![Screenshot 2020-12-02 at 21 52 08](https://user-images.githubusercontent.com/24649833/100936250-218f5d00-34e9-11eb-9ebe-2ec861755b84.png)

[2020-12-02 22:11] tammullen commented on #28473
Hi @gglobalstep

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
I also tried in 4.5.2 and could reproduce it there so this does not appear related to 4.8 RC 1

![Screenshot 2020-12-02 at 22 08 08](https://user-images.githubusercontent.com/24649833/100937745-63b99e00-34eb-11eb-9d32-518e2a7d3ea2.png)

​
We won’t be able to include th

[2020-12-02 22:31] Fiorinol commented on #22706
Are there any updates on this? One client is being incredibly irritating as they don't understand why this feature is available on product level, but not on variation level. Almost all of their products have variations.

[2020-12-02 22:31] tammullen commented on #28472
Confirming that I found the error no longer appeared after deactivating WooCommerce Shipping & Tax.

[2020-12-02 22:31] Falkker commented on #22706
Please fix this!

[2020-12-03 00:10] Fiorinol commented on #26164
The linked issue is closed and seems to be getting no traction.

[2020-12-03 02:11] naumanahmed19 commented on #28438
Fixed: My bad I was using legacy API  endpoint

[2020-12-03 02:11] #28438 closed

[2020-12-03 03:21] zhongruige commented on #28457
Hi @renatadcl thank you for taking the time to report this issue. However, I can't reproduce it using the steps you provided. I was able to click on Quick Edit for a product on the Product > All products page, showing the Quick Edit view for the product (I tested this in the latest Chrome, FireFox and Safari on macOS). When I either clicked "Cancel" or "Update" in the Quick Edit pane the product w

[2020-12-03 05:25] adampatterson commented on #28324
I have the same errors with:

Woocommerce Version 4.7.1
WordPress Version 5.5.3

[2020-12-03 05:45] MadhumithaCR opened #28477 "the product gallery is not working"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-12-03 07:18] Robertght commented on #28297
Hey @roykho! There are some warnings that were shared in the thread as well:

[code]

[2020-12-03 09:41] ecgan commented on #28200
@rrennick , so what I did was I have an e2e test like `dummy.test.js` with the following from [@woocommerce/e2e-utils npm page](https://www.npmjs.com/package/@woocommerce/e2e-utils):

[code]

Then I run e2e test by calling `npm run test-e2e` which uses [@wordpress/scripts](https://github.com/WordPress/gutenberg/tree/master/packages/scripts).

[code]

[2020-12-03 09:50] sagar199518 opened #28478 "webhook"
I am unable to create a webhhok.
receving error - woocommerce_rest_cannot_create

[2020-12-03 10:00] Marcoevich commented on #26289
Even with documentation there will be continuous confusion. I would still rather have this corrected to improve the user experience.

[2020-12-03 10:03] vbelolapotkov commented on #28456
I suppose this is a PHP Notice displayed with DEBUG enabled only. The same things applies to WC Payments or probably any plugin using WC_Admin_Note.

[2020-12-03 10:31] EdithAllison commented on #28456
Yes, good point. On my dev site I've got debug on, but on live it's off.

[2020-12-03 10:43] tammullen commented on #28456
Thanks @EdithAllison for all the info.
WC_Admin_Notes is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move the issue there to continue this conversation.

There is a PR here https://github.com/woocommerce/woocommerce-admin/pull/5802 to log the deprecation instead to try stop this happening.

[2020-12-03 11:03] zdenys commented on #27756
Another user affected by this in 26079389-hc, so I told them to upgrade to 4.7.1 to see it fixed.

[2020-12-03 11:09] Ahsan856 opened #28479 "attribute type"
attribute type dropdown in woo commerce product tab is not showing

[2020-12-03 11:13] #27400 closed

[2020-12-03 13:09] rrennick commented on #28200
We use `@woocommerce/e2e-environment` to run tests. Are there any other packages you added to your project related to running tests?

[2020-12-03 13:13] rrennick commented on #26539
That may work. It really depends on how you have been using the attributes.

[2020-12-03 14:13] rrennick commented on #27424
There is a [gist](https://gist.github.com/timmyc/ee0c6f4cb3ed82620efaa16386e62c6b) for removing the upgrade notice. It can be tweaked to remove any of the notices if you have the class name for the notice.

[2020-12-03 14:18] rrennick commented on #28462
The `store` route is for the products block. It provides information that is already available by browsing the shop pages.

[2020-12-03 14:18] #28462 closed

[2020-12-03 14:31] tammullen commented on #28472
Closing as this seems related to WooCommerce Shipping & Tax. Created an issue for it in the WooCommerce Services repo
https://github.com/Automattic/woocommerce-services/issues/2274

[2020-12-03 14:31] #28472 closed

[2020-12-03 14:35] gglobalstep opened #28480 "Image cropping functionality under Themes->Customization fails to work."
## Bug Description:
The image cropping functionality under Themes->Customization fails to work.

## Environment:
Windows 10, macOS Catalina: v10.15.7 (19H15)
Browser: Chrome(Version 87.0.4240.75 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari(Version 14.0)(15610.1.28.1.9, 15610)

## Steps To Reproduce:
1. Go to Test site "https://ephemeral-jamosova-20201201.atomics

[2020-12-03 14:38] gglobalstep opened #28481 "[GlobalStep - WooCommerce 4.8 RC 1] For "Twenty Twenty One" theme, radio buttons under credit card option appears misaligned on checkout page."
## Bug Description:
For "Twenty Twenty One" theme, radio buttons under credit card option appears misaligned on checkout page.

## Environment:
Windows 10, macOS Catalina: v10.15.7 (19H15)
Browser: Chrome(Version 87.0.4240.75 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari(Version 14.0)(15610.1.28.1.9, 15610)

## Steps To Reproduce:
1. Create any test site using Ju

[2020-12-03 14:44] gglobalstep opened #28482 "[GlobalStep - WooCommerce 4.8 RC 1][MAC] "Calendar" appears cropped on WooCommerce "Bookings->Calendar" screen."
## Bug Description:
"Calendar" appears cropped on WooCommerce "Bookings->Calendar" screen.

## Environment:
macOS High Sierra v10.13.6
Safari: v13.1.2(13609.3.5.1.5)
Chrome: v85.0.4183.83

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Go to Plugins->Add new.
1. Install and activate "Woo

[2020-12-03 14:47] gglobalstep opened #28483 "[GlobalStep - WooCommerce 4.8 RC 1] While adding a shipping zone, "Save changes" button gets disabled after adding a shipping method."
## Bug Description:
While adding a shipping zone, "Save changes" button gets disable after adding a shipping method.

## Environment:
Windows 10, macOS Catalina: v10.15.7 (19H15)
Browser: Chrome(Version 87.0.4240.75 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari(Version 14.0)(15610.1.28.1.9, 15610)

## Steps To Reproduce:
1. Create any test site using Jurassic Nin

[2020-12-03 14:50] natalkanna opened #28484 "VAT and Brexit"
I'm in the UK. Part of my business plan is to offer dropshipping: customers in the UK place an order with me and then I send it directly to their customer. I charge 20% VAT on my invoices as I am a business-to-business wholesale retailer.
In rare instances, my customer is in the UK, but the person I am sending to is in Europe. (billing address UK, shipping address abroad).
With Brexit happening on

[2020-12-03 17:05] juliaamosova opened #28485 "Automate Smoke Testing"
Automate Smoke Testing:

- [ ] Spike (look at what is being done in Calypso, Jetpack, Woo mobile)
- [ ] Implementation

[2020-12-03 18:16] rrennick opened #28486 "Check E2E testing with PHP 8.0"
Currently, the E2E Environment package is pinned to use the latest version of PHP 7. Once WC 4.8 & WP 5.6 are released we need to check whether E2E runs okay on PHP 8.0 and decide whether to switch the tests to run on PHP 8.0.

[2020-12-03 19:48] juliaamosova opened #28488 "Write new e2e test: Merchant / Orders / Search Orders"
Write a new e2e test that covers `Merchant / Orders / Search Orders` flow.

[2020-12-03 19:49] juliaamosova opened #28489 "Write new e2e test: Merchant / Products / Import Products CSV"
Write a new e2e test that covers `Merchant / Products / Import Products CSV` flow.

[2020-12-03 19:50] juliaamosova opened #28490 "Write new e2e test: Merchant / Settings / Add Shipping Zones"
Write a new e2e test that covers `Merchant / Settings / Add Shipping Zones` flow.

[2020-12-03 20:20] #27711 closed

[2020-12-03 22:13] tammullen commented on #28480
Thanks @gglobalstep

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end in 4.7.1 so I don't think it is related to 4.8 RC 1

We’re going to solve this bug as soon as possible. Stay tuned for updates.

See Also: p9F6qB-6dx-p2

[2020-12-03 22:15] #28302 closed

[2020-12-03 22:24] #28312 closed

[2020-12-03 22:27] mfs-mindsize commented on #27021
I take it this should be labeled "Has pull request", yes?

[2020-12-03 22:42] tammullen commented on #28483
Hi @gglobalstep

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/28025. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-12-03 22:42] #28483 closed

[2020-12-03 23:17] simplicity17 opened #28493 "The logout functionality is very inconsistent and buggy... cannot figure out why."
When logging in, everything works perfeclty. When logging out, there are a number of outcomes.

1) There is a strange URL and a blank white page. URL reads https://tikumi.simplicitydesign.business/wp-login.php?action=logout&redirect_to=https%3A%2F%2Ftikumi.simplicitydesign.business%2Fmy-account%2F&_wpnonce=39b6cbd1fe

2) You are able to logout, but when you log back in, there is a notification on

[2020-12-03 23:23] #28311 closed

[2020-12-03 23:41] #28313 closed

[2020-12-03 23:52] #28314 closed

[2020-12-04 00:59] ObliviousHarmony commented on #27766
Some remaining defects:

- **Checkout**: Stripe saved payment method selection checkboxes are squished.
- **Product & Catalog Pages**: The `sale` badge should likely have a color based off the CSS vars.
- **Everywhere**: There are many notices that are white boxes with a green bar at the top and green buttons, regardless of theme colors. Examples include empty order & download list `my-account` pa

[2020-12-04 01:08] hubert0504 commented on #22706
Can we include this feature now? It has taken so many years, and I have a really annoying client. Is there an alternative to fix this issue?

[2020-12-04 01:09] hubert0504 opened #28496 "Can we have low product threshold for variable products?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-04 02:25] nabelekt opened #28497 "URLs as Product Attribute Don't Work When They Contain Certain Characters"
Copied and pasted from [my Reddit post](https://www.reddit.com/r/woocommerce/comments/k51luk/product_attribute_urls_with_certain_characters/)

I am trying to get a URL to work as the value for a product attribute for my WooCommerce product. Here is the original URL:
[https://www.u-blox.com/sites/default/files/CAM-M8_ProductSummary_%28UBX-16015855%29.pdf](https://www.u-blox.com/sites/default/files/

[2020-12-04 07:25] nagpai commented on #28282
Another report
#26102281-hc

Workaround for now is to Get to Jetpack settings and set Infinite scroll settings to

`Load more posts using the default theme behaviour`

![2020-12-04 12 52 55 spajewellery com 6496a999e8f4](https://user-images.githubusercontent.com/4162931/101133960-a8e6e880-362f-11eb-8a01-8bbc9c9d7746.jpg)

[2020-12-04 09:16] realElMartino commented on #20509
Yes, I have the same problem - don't see any solution or suggestion here.

[2020-12-04 10:18] rene-hermenau commented on #28373
@lukecav I must be blind. I don't ask this without respect, but what do you want to show us with the links?  The last commit is 9 months ago and even the CI badge says, that the latest build failed:  ![Alt text](https://monosnap.com/image/PInLGWQlsWo2SIx3qf0erx3KCpwUTh)

Without any further looking into the code I absolutely understand when someone hesitates to implement this into production, espe

[2020-12-04 12:53] cwussmann commented on #25735
Well I guess this is a simple way yet, because you can override this file via child-theme/woocommerce, and still update-proof

[2020-12-04 12:55] webbcitydigital commented on #20509
I had that problem a few years ago. Here is what solved the problem for us:

I just wanted to provide you an update on the issue you mentioned to us.

We did some investigation at our end, but we were unable to replicate the
same problem in our local/test sites. However, upon taking a detailed look
at your site, we were able to find the culprit.

It looks like one of your variations were erroneous

[2020-12-04 14:07] liviujs commented on #28373
Just to add my 2 cents on this Topic. Same issue with 100K orders first dating from 2018, database is 4GB+. Our premium managed hosting is billing according on disk space.
@rene-hermenau  When we switched to WOO in late 2017 the https://github.com/liquidweb/woocommerce-custom-orders-table plugin was on their Trello Board, so it was an important point in our decision.
After that the plugin was aban

[2020-12-04 14:33] ErdincKocak commented on #24250
is there any solution for that? I have the same problem. Some orders don't have a transaction ID.

[2020-12-04 15:33] rodrigoprimo commented on #27635
Just documenting here that I stumble across this issue when reviewing PR #28476 and that I was also not able to reproduce the problem when running Storefront. This looks like a problem with the theme being used or another plugin. The "Hapus" button that is shown in the video is the "Clear" button that is displayed once the user selects at least one attribute when viewing the page of a variable pro

[2020-12-04 16:30] juliaamosova commented on #28496
Hi @hubert0504,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-04 16:38] stevegrunwell commented on #28373
Hi all,

I'm one of the leads on the WooCommerce Custom Orders Table plugin, so I wanted to clarify a few things about the plugin:

## Is this plugin abandoned?

While development efforts have been slow, the plugin is **not** abandoned. It's purely a matter of prioritization, and I'm constantly getting pulled in a lot of different directions (platform features, customer support, other plugins, and

[2020-12-04 16:40] #28347 closed

[2020-12-04 16:45] juliaamosova commented on #28493
Hi @simplicity17,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I tested with Twenty Twenty and Storefront themes which are the default themes that we usually test against.

**Twenty Twenty:**

![](http://g.recordit.co/OPUncCkQAC.gif)

**Storefront:**

![](http://g.recordit.co/j2sMfQGwlX.gif)

The Woos

[2020-12-04 16:51] juliaamosova commented on #28484
Hi @natalkanna,

Thanks for bringing this up! It is on our radar to make sure WooCommerce is ready for Brexit. I am assigning a milestone of the 4.9 release to this issue to make sure we take care of it.

[2020-12-04 17:20] juliaamosova commented on #28481
Hi @gglobalstep,

Thank you for reporting the issue. I can reproduce it as well:

![stripe_2021](https://user-images.githubusercontent.com/19143190/101193505-a930b500-362a-11eb-9640-9710ea8a2162.jpg)

The issue is caused by the WooCommerce Stripe plugin which being developed in another repository: https://github.com/woocommerce/woocommerce-gateway-stripe.

I am going to move your bug report there

[2020-12-04 17:20] fasttrackhost commented on #26539
I must remark that in our case, the problem was not server side. Our problem was browser hanging because it has to load too much DOM data, generated because each taxonomy is wraped in too much <div> and other worthless elements. A medium server can easily query and send 30k querys. But browsers are having trouble handling so much DOM structure.
And I must add that other plugins handling woocommerc

[2020-12-04 17:27] juliaamosova commented on #28479
Hi @Ahsan856,

Thank you for submitting the issue. However, I can’t reproduce it. The `Attributes` section appears for me under the `Products` section on the WooCommerce sidebar:

![attributes](https://user-images.githubusercontent.com/19143190/101194413-f8c3b080-362b-11eb-94ee-4b257ad60bed.jpg)

Unless I am looking in the wrong place. If so, please specify where exactly do you see the issue.

It

[2020-12-04 17:29] juliaamosova commented on #28478
Hi @sagar199518,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. It will be great to know what type of webhook you are trying to create and what is your environment (WooCommerce, WordPress versions, etc).

Please provide us with the information requested so we could

[2020-12-04 17:30] juliaamosova commented on #28477
Hi @MadhumithaCR,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-12-04 17:31] vedanshujain commented on #27026
So I did took a look at this over this and last week, and unfortunately it does not looks like we can support rounding at unit level as requested in the original comment anytime soon. This is mostly because its not compatible with few other features that WooCommerce support out of the box without adding whole bunch of settings.

As already stated in the above comments, maths behind the scenes are

[2020-12-04 17:33] juliaamosova commented on #28475
Hi @gesponda,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the `Facebook for WooCommerce` plugin which is one of the products on our marketplace. To get further technical support for it, please open [Facebook for the WooCommerce](https://woocommerce.com/

[2020-12-04 17:33] #28475 closed

[2020-12-04 17:39] vedanshujain commented on #26734
Closing this issue since the original issue was fixed and released 4.3. @negapo if this is still happening please comment back and we will re-open to take a look.

[2020-12-04 17:39] #26734 closed

[2020-12-04 17:53] MadhumithaCR commented on #28477
Thank you for your response. I got the bug fixed.

On Fri, 4 Dec 2020, 23:01 Julia Amosova, <notifications@github.com> wrote:

[2020-12-04 17:58] juliaamosova commented on #28474
Hi @negapo,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end:

![api_refunds](https://user-images.githubusercontent.com/19143190/101197515-3296b600-3630-11eb-9ec2-538fbd6ffb36.jpg)

I don't see anything in the raw response either:

![api_raw](https://user-images.githubusercontent.com/19143190/101197523-362a

[2020-12-04 18:00] juliaamosova commented on #28477
@MadhumithaCR great to hear that. Thanks for letting us know!

I am closing this issue then. Please feel free to open a new issue in case there will be more questions. We’d be happy to take a look.

[2020-12-04 18:00] #28477 closed

[2020-12-04 18:04] juliaamosova commented on #28471
Hi @gglobalstep,

Thanks for reporting the issue! And thank you for confirming it @tammullen. We don't have access to the Product Bundles repository so we can't easily move the issue there. I am pinging @franticpsyx here who is the developer of Product Bundles to take a look. But I am also closing this issue since it is not related to WooCommerce Core.

[2020-12-04 18:04] #28471 closed

[2020-12-04 18:11] macgrueber commented on #27828
I am seeing these errors within the error log on our hosting dashboard as well. While the orders are still going through, just wanted to check if this error is potentially making the online shop not work for some users. It's worked for me, but any feedback's appreciated.

Error for reference if needed:
2020/12/04 17:50:24 [error] 99401#99401: *667517 FastCGI sent in stderr: "PHP message: The WC_Or

[2020-12-04 18:12] vedanshujain commented on #27526
@gevcen Based on your video, it seems to be happening because Paypal is rounding at the subtotal level, whereas WooCommerce is rounding at the line level.

Basically, your total is 47.91 with at 21% tax, should be 47.91 * 1.21 = 57.9711 rounded to 57.97, which is what you are seeing at PayPal. However, you sum the individual lines and their taxes, you will see a total to be 57.98. This is because

[2020-12-04 18:12] #27526 closed

[2020-12-04 18:49] juliaamosova commented on #28470
Hi @GoranRista,

Thank you for taking the time to report this issue. However, I am not sure I can reproduce it.

I made a video documenting my experience. I have a product with 2 downloadable files (called `Album`) where each has 1 download available and I have another product (called `downloadable`) with 1 downloadable file that has a limit of 2. In the video, I start from the moment where I just

[2020-12-04 18:53] ecgan commented on #28200
@rrennick , when I was working on it, it was a brand new plugin project with very minimal configuration and packages, there weren't any other packages related to running tests.

[2020-12-04 19:03] juliaamosova commented on #28466
Hi @vaibhavisojitra25,

Thanks for reporting the issue. It is missing a few details though. Are you getting an error message on all types of requests or on any specific request?

[2020-12-04 19:07] gevcen commented on #27526
You say "I am not sure about PayPal" so as long as you don't have certainty that this can be configured on PayPal side, I do not allow that you close my ticket here. You'll find it silly that I raise this just for 1 cent but it matters to me. Things have to be precise even for just 1 cent. Therefore, I request that you reopen my ticket and make investigation to be sure that we can also configure t

[2020-12-04 19:11] juliaamosova commented on #28461
Hi @scottbuscemi,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end:

![](http://g.recordit.co/avIZdsUwFa.gif)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future

[2020-12-04 19:23] juliaamosova commented on #28460
Hi @gfrileux,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Please see the video:

http://g.recordit.co/qDhdyT8zsO.gif

Am I missing any details in my testing?

[2020-12-04 19:25] realElMartino commented on #20509
Thanks for your reply. In my case I imported products from an existing site. All variations were created using 'parent' in the DB. However, also the parent had 'parent' set - not sure if that was right. We only use one single tax class as we only sell in one country with one tax class applying to all. I've read the other comment and decided to set all tax-classes to an empty string in the DB and t

[2020-12-04 19:37] juliaamosova commented on #28459
Hi @GeoJunkie,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I first uploaded the WooCommerce 4.4.0 version on my site and followed your instructions:

![](http://g.recordit.co/ebBjkp9Xbl.gif)

We’re going to work on solving this issue as soon as possible. 

[2020-12-04 19:59] juliaamosova commented on #28455
Hi @grigorijurasov,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Activating the `Actions` screen option when accessing the back-end of the site on the mobile makes no difference. I agree with you that since the option is there, it should work. If this is not intended to work on mobile, the option should not be available on mobile

[2020-12-04 20:00] poiterdesign commented on #28455
Bedankt voor je bericht.

Momenteel ben ik afwezig t/m 7 december 2020.

Ik lees de mail nog wel af en toe, maar heb je dringende problemen met je website bel dan naar: 06-28 57 59 46.

Met vriendelijke groet,

Pieter van Boven
Poiter Design

[2020-12-04 20:01] juliaamosova commented on #28451
Hi @starry1314,

Thanks for reporting the issue. It sounds like it only happens when you install and activate the OceanWP Shop Demo theme. Is it correct? If so, please contact the theme developer so that could take a look further.

[2020-12-04 20:05] juliaamosova commented on #28446
Hi @vikula030,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-12-04 20:18] juliaamosova commented on #28436
Hi @jozeflambrecht,

Thank you for raising the question here.

My personal opinion here would be that when the partial refund is issued, the coupon's distribution should stay the same - meaning it should not get redistributed among remaining items on the order. I see the use of coupons similar to items on sale which are usually final and therefore non-refundable. If the customer had to request a r

[2020-12-04 20:30] jozeflambrecht commented on #28436
Thanks @juliaamosova
If you and the community decide to take action, happy to contribute!

[2020-12-04 20:33] juliaamosova commented on #28289
Hi @axcar95,

Thank you for raising the issue. However, I can’t reproduce it on my end. I can successfully add items to the cart on the mobile device.

According to your screenshot, it looks like you have several plugins installed. Specifically, the plugin that adds the `Personalization` field, for example. These plugins or a theme you are using may cause an issue.

Please test your site for theme

[2020-12-04 20:44] juliaamosova commented on #28283
Hi @zdenys,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I agree that there should be a way to clear the filter.

![](http://g.recordit.co/VKqNaVvU8J.gif)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can

[2020-12-04 20:54] juliaamosova commented on #27938
Hi @Dodieza,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue.

Please specify if you have stock enabled on the parent level or on the variation itself?

**Parent level:**

![parent](https://user-images.githubusercontent.com/19143190/101213823-ffacec00-3648-11eb-8ba5-8

[2020-12-04 21:11] Dodieza commented on #27938
The stock is on the variable itself not the parent level.
It was the same before the big update of this year and it worked perfectly.
I dont understand why its a problem now.
I dont have this problem with a sample product.

Thank you

Le ven. 4 déc. 2020 à 21:55, Julia Amosova <notifications@github.com> a
écrit :

[2020-12-04 21:34] juliaamosova commented on #27521
Thanks, everyone for your input on this issue!

I’ve tested it and when I set a product to a normal / non virtual product I actually get the error message „we don’t ship to default“. For virtual / downloadable products customers still are able to leave the country field blank and can checkout without any error message being displayes. DESPITE the fact it is marked as mandatory field.

As suggested

[2020-12-04 21:39] juliaamosova commented on #27688
Thanks, everyone for your feedback and patience!

This issue has a `high` priority assigned to it. I am also assigning this 4.9 milestone so that we could release a fix the upcoming release.

[2020-12-04 21:40] maxbeech commented on #27688
Thanks Julia, very much appreciate the update and support!

On Fri, 4 Dec 2020 at 21:39 Julia Amosova <notifications@github.com> wrote:

--

All the best,
Max

*Max Beech*
maxbeech.com

[2020-12-04 21:47] juliaamosova commented on #28336
Hi @Dayani123,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-04 21:47] #28336 closed

[2020-12-04 21:51] juliaamosova commented on #28248
@enriquesalazart apologies for the delayed response!

data.
What could be the problem?

What kind of error are you seeing and where exactly are you clicking? Screenshots or video of what you are doing/seeing will be very helpful.

[2020-12-04 21:52] juliaamosova commented on #28235
Hi @aupous,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-04 21:52] #28235 closed

[2020-12-04 21:56] juliaamosova commented on #28421
Hi @brunocantuaria,

According to the WP ticket you opened, the issue doesn't seem to be with WordPress: https://core.trac.wordpress.org/ticket/51879#ticket.

And so far, we were not able to see the issue in WooCommerce as per @rrennick's comment.

Since the thread had been inactive for 7 days, I am going to go ahead and close it for now. However, please feel free to comment on it again in case we

[2020-12-04 21:56] #28421 closed

[2020-12-04 22:01] poolet08 commented on #28459
Hello,

I encountered this same issue when upgrading to 4.7.0 and I am having issues with some subscriptions have the wrong src causing the renewal order to fail.

I upgraded to 4.7.1 and it shows the correct database version in the status now (matches wc version). Can I assume the issue is fixed or should I take additional steps?

Thanks

[2020-12-04 22:01] juliaamosova commented on #28299
Hi @B3DTech,

Thank you for reporting the issue and apologies for the delayed response! The issue seems to be caused by the WooCommerce Stripe plugin is being developed in another repository: https://github.com/woocommerce/woocommerce-gateway-stripe.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-04 22:17] mfs-mindsize commented on #27795
@loranallensmith - I was scanning the "good first issue" issues and this one caught my eye :)

`It replicates some of the logic from WordPress' reset_password function, but it doesn't include the after_password_reset hook.`

That said, to me, doesn't it makes the most sense to only use the WP reset, and then its hooks for any added WC particulars? Else, we get something like you found. Duplicated

[2020-12-04 22:32] mfs-mindsize commented on #27040
@smachi - I was checking out the "good first issue" issue and this looks reasonable :)

Are you wanting to filter the whole query (i.e., the string within the prepare())? Or only a particular part of the query?

[2020-12-04 22:35] juliaamosova commented on #28282
Hi @wpniall,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Noting here that this issue needs to be tested with the theme that has Jetpack's Infinite Scroll support. Twenty Twenty and Twenty Twenty One themes don't support Jetpack's Infinite Scroll. if testing with these themes first (like I did), there is no way to reduce the issu

[2020-12-04 22:47] mfs-mindsize commented on #26718
@juliaamosova - I picked this out of the "good first issue" list.

As @helgatheviking mentioned, this solution would need language / localization. Unfortunately, I've been running into problems with the npm run build, as mentioned here:

https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment#configure-a-local-wordpress-instance

What would be the best way

[2020-12-05 00:24] andredealmeidatoptal commented on #27688
As a quick and dirty fix for anyone wondering until it is fixed you can add the following code to the "woocommerce_product_tabs" filter:

global $product;
$tabs['reviews']['title'] = 'Reviews (' . get_comments_number($product->get_ID()) . ')';

[2020-12-05 06:42] webdesign-steyrer commented on #27521
I'm having a similar issue... as soon as I set a delivery address, it doesn't matter if I set a billing country. So customers can order without setting a billing country. Which leads to customers being able to order without paying taxes as the billing country field is used for tax calculation... doesn't matter if it is a virtual product or not... is anyone having the same issue? Is there a separat

[2020-12-05 10:05] thelyall commented on #27688
Thank you, appreciate your help with this!

[2020-12-05 11:30] ninetyninew opened #28504 "Textarea type setting added via woocommerce_get_settings_products doesn't style the field description"
**Describe the bug**
Adding a textarea type setting via woocommerce_get_settings_products and enabling a non tooltip description shows the description above the field and is not styled like other descriptions as missing the "description" class.

**Expected behavior**
Description on textareas to appear in same location/style as descriptions on text fields.

**Actual behavior**
![image](https://user

[2020-12-05 12:52] jrick1229 opened #28505 "Stock reduced when 'Pending Payment' order is set to 'Cancelled'"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When an order that is currently `Pending Payment` is set to `Cancelled`, stock is being reduced.

**Expected behavior**

Since `Pending Pa

[2020-12-05 15:20] helgatheviking commented on #26718
@mfs-mindsize personally I prefer localwp.com for setting up a local test instance. you do still need git/composer/nodeJS/npm on your local computer. and ideally a decent terminal.

[2020-12-05 17:25] aayzee-tech commented on #12924
You solution worked for me! Thanks a lot.

[2020-12-05 17:53] rodrigoprimo commented on #26617
@tammullen, when manually creating an order in wp-admin, did you add a shipping item to select the shipping method? This is required for WooCommerce to consider that the order will be shipped and to show the shipping details in the places that you mentioned. Just adding a shipping address is not enough.

Everything seems to be working as expected to me if I add a shipping item when manually creati

[2020-12-05 18:10] hyndex opened #28506 "automatically redirect to woocommerce dashboard in wordpress multisite"
i am running a WordPress multisite setup
i have installed and activated woocommerce in the network admin
but the problem is wherever I click on the dashboard menu I am always redirected to woocommerce dashboard which made my WordPress admin freeze

[2020-12-05 18:13] hyndex commented on #28506
and there is a popup always by
"Welcome to your WooCommerce store’s online HQ!
Here's where you’ll find setup suggestions, tips and tools, and key data on your store’s performance and earnings — all the basics for store management and growth."

[2020-12-05 18:34] rodrigoprimo commented on #27574
Closing as this was fixed in #28414.

[2020-12-05 18:34] #27574 closed

[2020-12-05 19:48] DavidAnderson684 commented on #28484
I don't see if any core changes are necessary to accomplish what is described in the issue. If you don't want to charge taxes to certain countries, then remove those countries' entries from your tax tables.

[2020-12-05 22:56] zhongruige commented on #27900
Hi @grigorijurasov thank you for taking the time to report this bug, we really appreciate your help. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I was able to add a Simple Product, pay for it using my Sandbox PayPal account, and return to the merchant page without seeing the product in the cart anymore.

Setup I followed:
* Installed sam

[2020-12-06 08:13] anitaa1990 opened #28507 "GET Orders API: provide option to exclude orders by statuses"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Over at woo mobile, we're looking for an option to hide orders w

[2020-12-06 09:23] anitaa1990 opened #28508 "API Request: Enable searching for products by SKU"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Add an endpoint that the woo mobile app could use to fetch produ

[2020-12-06 09:59] natalkanna commented on #28484
Thank you juliaamosova! :1st_place_medal:

[2020-12-06 09:59] #28484 closed

[2020-12-06 15:59] negapo commented on #28474
Hi @juliaamosova , thanks for taking a look and im sorry to mislead you but you are right, the JSON being returned is clean and valid. I have further investigated and the problem is with my parser failing to parse the tax_class property. Has you can see from the docs at https://woocommerce.github.io/woocommerce-rest-api-docs/#order-refund-properties the field is supposed to be an integer (and it w

[2020-12-06 16:01] negapo commented on #26734
this is indeed solved, thanks @vedanshujain

[2020-12-07 00:55] therealgilles commented on #23682
Somewhat related question: Wouldn't it be better/safer to narrow down the usage of nonce_user_logged_out to the actions used by WooCommerce? It seems a little odd that it would apply to all possible actions just because WC needs it.

PS: I use custom ajax requests and either have to put my own filter on top of the existing one, or disable the nonce check for non-logged in users (which seems less s

[2020-12-07 02:42] marcopi1234 opened #28509 "Woocommerce product data section not showing"
I have installed Woocomerce version 4.7.1. The Problem is that Product data section doesn't show when adding a new product. I already tried disabling all plugins and used twenty twenty theme to rule out any conflicts, but problem persists. I believe its a bug in woocommerce. See attached screenshots. Please help...

![image](https://user-images.githubusercontent.com/60905397/101303128-5e21c800-380

[2020-12-07 08:55] janpjens commented on #28399
Any possibility for an interim release to patch this so packagist version is not broken, or is 4.9 the next installable version via composer, @claudiosanches?

[2020-12-07 09:07] damiannep commented on #28505
Another case of this in 3522699-zen

[2020-12-07 09:17] Goldenlion2020 commented on #25524
Is there an update for solving this problem?
Thanks.

[2020-12-07 09:26] shreya2621 opened #28510 "Fatal error: Uncaught Error: Call to undefined function is_cart()"
Fatal error: Uncaught Error: Call to undefined function is_cart() in D:\wamp\www\wordpress\wp-content\plugins\bus-ticket-booking-with-seat-reservation\includes\class-remove-bus-info-to-cart.php on line 14
--

1 | 0.0002 | 409712 | {main}(  ) | ...\index.php:0
2 | 0.0004 | 409984 | require( 'D:\wamp\www\wordpress\wp-blog-header.php' ) | ...\index.php:17
3 | 0.1560 | 3351032 | require_once( 'D:\wamp

[2020-12-07 09:57] robotikz opened #28511 "country-select.js"
If Select-Field for countries is empty-empty, then the error comes.
Bug in UI-JS-File
/wp-content/plugins/woocommerce/assets/js/frontend/country-select.js
see at the screenshot and add the marked checking, thanks
![woo_bug](https://user-images.githubusercontent.com/10348033/101336465-cd82d080-387a-11eb-806a-e5caa4ab4229.png)

[2020-12-07 09:58] laurentdebricon commented on #26991
i am sad this issue is closed, it's so handy to have the stripe fees. i would love to know also the paypal fees for budget planning in the reporting :( :( i don't want to install a new extension, let's make this feature into woocommerce core !

![Captura de tela de 2020-12-07 10-56-12](https://user-images.githubusercontent.com/736104/101336584-f014e980-387a-11eb-9714-d35f2e7887b7.png)

[2020-12-07 10:20] liviujs commented on #28373
@stevegrunwell Huge THANK YOU for reaching to us with this info.
Hope we gone see this in core since it's a major pitfall of Woo that everyone seem to know about, somehow they don't see it.

[2020-12-07 10:27] liviujs commented on #28505
CONFIRM there's a bug that Reduces stock when orders status from Pending Payment to Cancelled is set.
->WC 4.7.1
->Payment gateway: VivaWallet.

[2020-12-07 10:39] sanzeeb3 commented on #28510
The error is from `bus-ticket-booking-with-seat-reservation` plugin which is possibly because you don't have WooCommerce activated so `is_cart()` is undefined.

[2020-12-07 12:20] tammullen commented on #28506
Hi @hyndex

The number of details you provided is not enough for us to work with and identify what could be going on.

Please provide us with steps to reproduce the issue on our end.

Can you also share your current System Status Report. You can get it by navigating to the WooCommerce / Status section of your site. Once there, click on the Get system report button and then copy it by clicking on t

[2020-12-07 14:22] jessepearson opened #28513 "PayPal IPN verification URLs"
Just wondering if the PayPal IPN verification urls should be updated according to the PP docs:
https://developer.paypal.com/docs/api-basics/notifications/ipn/IPNImplementation/#ipn-listener-request-response-flow

We have the URLs here:
https://github.com/woocommerce/woocommerce/blob/4.7.1/includes/gateways/paypal/includes/class-wc-gateway-paypal-ipn-handler.php#L99

[2020-12-07 15:32] mfs-mindsize commented on #26718
@helgatheviking - Thanks. I do have all those things (i.e., Git, Composer, etc.) Everything else I work on is functioning as expected. The WC assets build is my only known problem :(

The issue seems to be WC is using its own version of PHP during the build, but there's no instruction on where that version keeps its memory_limit setting. I say this because I've made changes to my default (php.ini)

[2020-12-07 15:57] helgatheviking commented on #26718
You aren't by chance having this error are you #27984 b/c I just remembered that I've had issues with the dev build scripts here too... but then I feel like it just isn't a day at work if I'm not fighting a build script somewhere (largely because I'm on a Windows machine). I definitely agree the build/dev docu could use some more attention.

[2020-12-07 16:01] damiannep commented on #27673
Another report of this in 3546055-zen

[2020-12-07 16:01] vedanshujain commented on #27526
@gevcen 1 cent is definitely relevant and I did not close the ticket with the inference that it's not. I closed the as part of general repository maintenance since as far as I can see this is not a bug, but a setting mismatch. But if that's not the case, and I am not assessing correctly, please feel free to let us know and we will re-open.

Unfortunately, we use this repo to maintain and bug repor

[2020-12-07 16:21] matanbakshi commented on #22100
I have this exact same issue, did manage to workaround it?

[2020-12-07 16:39] mfs-mindsize commented on #26718
@helgatheviking - This is the specific section of the docs I've been referring to:

https://share.getcloudapp.com/d5uPEzDQ

I use Windows as well :)  But in this case, I'm using my MBP for work.

[2020-12-07 17:47] renude commented on #27673
Another report: 3546055. Any updates on when this will be fixed?

[2020-12-07 19:15] JBossSimplistics commented on #26062
Just want to bump this as you mentioned "We'll keep an eye on the popularity of this request :)". I definitely agree with the original poster here, seems like a strange UX. If the export button is not available/does not function on that page, it should simply be hidden. Is there a reason why this doesn't fit with current priorities? It seems like it should be a relatively small change.

[2020-12-07 19:17] juliaamosova opened #28514 "Release History Dashboard / Google Sheet"
Create a dashboard or Google sheet for reviewing the release history timeline at any time. Start simple.

The baseline should be zero unplanned releases every month. We should be able to see spikes whenever we have an unplanned release.

It will also be great to find a way to visualize how many days passed between the original release and the fix (unplanned) release (for example 1 day or 7days).

[2020-12-07 22:08] #28417 closed

[2020-12-07 23:02] louisdoe opened #28515 "Error when trying to update product images using command line `wp wc`"
I am trying to add an image to a product using the command line.

But when I type this command

`wp wc product update 42788 --user=superAdmin --images=[{"id":5607,"date_created":"2017-12-01T19:04:33","date_created_gmt":"2017-12-01T17:04:33","date_modified":"2018-02-20T14:41:43","date_modified_gmt":"2018-02-20T12:41:43","src":"https:\/\/www.example.com\/wp-content\/uploads\/etor-gris-arthe-hemen-69

[2020-12-07 23:46] ObliviousHarmony commented on #28341
In my testing this appears to be fixed!

[2020-12-07 23:46] #28341 closed

[2020-12-07 23:46] ObliviousHarmony commented on #28305
Everything seems to be good here!

[2020-12-07 23:46] #28305 closed

[2020-12-07 23:47] ObliviousHarmony commented on #28304
Everything is looking good here!

[2020-12-07 23:47] #28304 closed

[2020-12-07 23:48] ObliviousHarmony commented on #28303
Everything looks good here!

[2020-12-07 23:48] #28303 closed

[2020-12-07 23:48] ObliviousHarmony commented on #28307
Everything looks good here!

[2020-12-07 23:48] #28307 closed

[2020-12-07 23:50] ObliviousHarmony commented on #28142
This is now going to be handled as an async post documenting it.

[2020-12-07 23:53] ObliviousHarmony commented on #28315
The only problem I see here is that the checkmark in the checkbox is oddly off-center.

[2020-12-07 23:53] ObliviousHarmony commented on #28310
This looks great!

[2020-12-07 23:53] #28310 closed

[2020-12-08 01:39] GoranRista commented on #28470
Hi Julia,
Thanks for looking into it.
To see the Downloads remaining, you need to click on one of the downloadable products (in the red rectangle area you have above) in order to open the drop-down options. Please see the following screenshot.

![Downloads Remaining](https://user-images.githubusercontent.com/70727701/101427086-3b0b1d00-38cc-11eb-8311-1d33e79b757c.png)

[2020-12-08 02:07] hiphopservers opened #28516 "Fatal error: Uncaught IntlException: Constructor"
Per referral from WordPress WooCommerce support forum by @mikejolley; I am reporting this bug issue that has been duplicated is all version 4.6.x and above.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**

[2020-12-08 02:08] hiphopservers commented on #28516
I have removed the application from the initial site and installed a different solution.  The caption site is in development on my host and still has the last copy of WordPress and WooCommerce running on it causing the site to break.

[2020-12-08 04:27] shreya2621 commented on #28510
i tried to install woocommerce but it says update failed
its not getting install

[2020-12-08 04:34] sanzeeb3 commented on #28510
What is the full update failed error message? You can download new WooCommerce https://wordpress.org/plugins/woocommerce/ and upload via FTP as well. Here's how: https://www.wpbeginner.com/beginners-guide/how-to-manually-update-wordpress-plugins-via-ftp/

[2020-12-08 04:34] shreya2621 commented on #28510
I

nstalling Plugin: WooCommerce 4.7.1
Downloading installation package from https://downloads.wordpress.org/plugin/woocommerce.4.7.1.zip…

Unpacking the package…

Fatal error: Maximum execution time of 120 seconds exceeded in D:\wamp\www\wordpress\wp-admin\includes\class-wp-filesystem-direct.php on line 82
There has been a critical error on your website. Please check your site admin email inbox f

[2020-12-08 04:36] sanzeeb3 commented on #28510
In that case, increase your memory timeout. Here's how: https://www.wpbeginner.com/wp-tutorials/how-to-fix-fatal-error-maximum-execution-time-exceeded-in-wordpress/

[2020-12-08 05:08] sagar199518 commented on #28478
I am trying to create product webhook using woo commerce environment

[2020-12-08 05:09] shreya2621 commented on #28510
tried
but when i go with preview its taking a lot of time...its still generating preview

[2020-12-08 05:38] shreya2621 commented on #28510
Thanks a lot man
it worked!!!

Being a stranger and helping a stranger is really very appreciative
Keep it up
Thanks :)

[2020-12-08 05:38] #28510 closed

[2020-12-08 07:25] Rider7991 commented on #28516
Got similar problem with woocommerce after updating from 4.5.2.
My stack trace:
[code]

[2020-12-08 09:32] fylgjur commented on #28459
Issue seen in 25695860-hc and followed up in 3556304-zen

[2020-12-08 16:00] 601dev opened #28518 "Small render bug since ver 4.7.0"
Filename: woocommerce/includes/class-wc-shortcodes.php on line 223 calls the incorrect filename of content-product_cat.php, it should be content-product-cat.php

[2020-12-08 16:13] mikejolley commented on #28516
cc @peterfabian This was reported on the forums a few weeks ago and seems to be a compatibility issue from a recent change.

[2020-12-08 16:42] peterfabian commented on #28308
Were you able to verify the homepage with the shortcodes @jonathansadowski ? Shall we close this one or does it need more work? Thx!

[2020-12-08 16:58] idea--list commented on #28419
Would also like to hear more about it as it is really hard to find any information in this regard.
Searching about it always results in finding info about Gutenberg blocks that will render already recorded products on the front-end, which is a totally different thing.

Now i just tried this:

1. Began editing a new Post with the block editor and turned to code mode
2. Copied that code
3. Then crea

[2020-12-08 17:32] idea--list commented on #28419
Thinking a bit further: we could take use of reusable blocks. I mean we could tell the user they need first design a template that describes the layout. We could save it as a reusable block for product data and the product description field would actually be filled by that reusable block by default. Then it would contain some standardized structure and the importer script could even recognize the

[2020-12-08 17:34] #27608 closed

[2020-12-08 17:45] szepeviktor commented on #28320
Just release [WC stubs 4.8.0](https://github.com/php-stubs/woocommerce-stubs/releases)
[WC 4.8](https://github.com/woocommerce/woocommerce/releases/tag/4.8.0) is to be installable

[2020-12-08 18:09] zhongruige commented on #28167
Hi @DaveVaughan , thank you for taking the time to report this bug, we really appreciate your help!

There was a similar issue reported here, and I wanted to check if it was the same behavior you’re seeing or if it’s something different: https://github.com/woocommerce/woocommerce/issues/27957. This was solved by using the following filter for WooCommerce that you can enable that will charge the sa

[2020-12-08 18:16] Phukit opened #28520 "Twenty Twenty Theme Tinymce issue"
**Prerequisites (mark completed items with an [x]):**
- [X ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Hi,

I am using the twenty twenty deafult theme in wordpress a

[2020-12-08 18:31] blue7hand commented on #26078
Yes, I had the same issue with PHPEncoder.
Solution:
Add
[noenkode]
in your file. So edit the checkout file. It will then look like this:
[noenkode]
[woocommerce_checkout]

[2020-12-08 19:07] peterfabian commented on #28516
Thanks @mikejolley and thanks folks for reporting.

[2020-12-08 19:40] #28200 closed

[2020-12-08 19:41] loranallensmith commented on #27795
Hey @mfs-mindsize!  :wave:  Thanks for taking a look at this as a potential contributor.  :tada:

From what I can tell, the filter online 379 of the WC function could cause some compatibility issues if it is circumvented at this point:
https://github.com/woocommerce/woocommerce/blob/f65491d1b21e8e28c4a26b20d7f36f8e28fd040f/includes/shortcodes/class-wc-shortcode-my-account.php#L379

Looks like this

[2020-12-08 20:34] posegate commented on #26879
I ran into this too, and it is problematic.

If I edit the class-wc-download-handler.php at line 214, I can get it to work.

`		if ( strstr( $filename, '?' ) ) {
			$filename = current( explode( '?', $filename ) );

			$product = wc_get_product( $product_id );
			$drive_filename = $product->get_downloads();
			foreach( $drive_filename as $key => $each_download){
				$filename = $each_download["nam

[2020-12-08 20:57] jessLundie commented on #28459
Hi @poolet08,

While it's possible that a WooCommerce DB issue would cause problems with your subscriptions data, I think it's unlikely that this would cause failed renewals due to an incorrect `src` token.

If you are still seeing this issue, could you please log in to the WooCommerce.com account that holds your active license for Subscriptions and open a ticket with us on this here?  https://woo

[2020-12-08 21:01] poolet08 commented on #28459
Hi @jessLundie,

Yep I did that and the theory is when I upgraded to 4.7.1 from 4.5.0 that the database update did not work. I still have an open ticket there.

The issue definitely started occurring after I did that update. A lot of the payment source tokens say "card_xxx" instead of "src_xxx".

[2020-12-09 07:47] atousa-najafi commented on #28505
I have the same issue on my site

[2020-12-09 08:51] Goldenlion2020 commented on #25524
Today I updated WooCommerce to 4.8.0 but unfortunately no solution for this problem...

[2020-12-09 09:17] PriitGit commented on #25524
Hi!
Are there even any roadmap to solve that bug?
Same thing with "hide grouped products whn out of stock"?

[2020-12-09 09:56] tj-a opened #28522 "Secure Cookie Filter"
**Is your feature request related to a problem? Please describe.**

There is currently no way to enforce the secure property on cookies generated by WC. The issue of insecure cookies is commonly reported by third-party pen testing companies and there is currently no official way to address this. The problem is observable where the `woocommerce_cart_hash` and `woocommerce_items_in_cart` cookies are

[2020-12-09 11:15] negapo opened #28524 "Pay for Order Link - Hot to check Stock"
**Is your feature request related to a problem? Please describe.**
Some shop owners like to have the payment link available on other order statuses besides "pending" so they use the "woocommerce_valid_order_statuses_for_payment" hook like this (for example):

`add_action( 'woocommerce_valid_order_statuses_for_payment', function( $statuses, $order ) {
	$statuses[] = 'on-hold';
	return $statuses;
},

[2020-12-09 11:32] #26494 closed

[2020-12-09 12:04] peterfabian commented on #27828
Hi @macgrueber , it's just a warning, so things should be working fine. It's an indication for developers to start using different methods.

[2020-12-09 12:59] crestana70 opened #28525 "New update, description disappear"
With the new update  my description field text is invisible, you just can see if you highlight it

![image](https://user-images.githubusercontent.com/74021294/101632727-33f42400-3a1e-11eb-9622-33001429d165.png)

**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue

[2020-12-09 12:59] #28525 closed

[2020-12-09 13:33] senff commented on #28024
Somewhat related - when the option "_Allow customers to log into an existing account during checkout_" is checked, clicking on the link seemingly does nothing. However, it appears that a login form appears then, but you won't be able to see it until you scroll up.

[2020-12-09 13:43] roykho commented on #28522
Hi there, thanks for reporting however there is already an issue opened for this. Closing this in favor of that one https://github.com/woocommerce/woocommerce/issues/26764

[2020-12-09 13:43] #28522 closed

[2020-12-09 14:14] Bjolja opened #28526 "Sale price and date range is not in REST API"
When accessing REST API for getting products, every single product has an attribute for sale_price, regular_price, date_on_sale_to and date_on_sale_to. This is not the case for variations. It seems as the price is calculated on the fly and takes the lowest price, so if it is on sale one the time of the request, the sale price is returned, otherwise, regular price is shown.

This should be changed

[2020-12-09 14:18] shoaibgits commented on #7589
@jaydeesigns what if we switch between Grid and List View?

[2020-12-09 14:26] negapo commented on #28526
Hi @Bjolja
According to the docs https://woocommerce.github.io/woocommerce-rest-api-docs/#product-variation-properties the variation also has those fields. These are the fields relating to sales info:

"price": "9.00",
"regular_price": "9.00",
"sale_price": "",
"date_on_sale_from": null,
"date_on_sale_from_gmt": null,
"date_on_sale_to": null,
"date_on_sale_to_gmt": null,
"on_sale": false,

Does yo

[2020-12-09 15:14] tj-a commented on #26764
+1 for getting this in please - non-secure cookies are likely to throw spanner in the works for future usage of WC because of multiple client security audits. Thanks.

[2020-12-09 16:19] gglobalstep opened #28527 "[GlobalStep - WooCommerce 4.8] "Database errors" is triggered when "WooCommerce Bookings" plugin is activated."
## Bug Description:
"Database errors" is triggered when  "WooCommerce Bookings" plugin is activated.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all re

[2020-12-09 16:23] gglobalstep opened #28528 "[GlobalStep - WooCommerce 4.8] Validation fails to display if maximum duration value is less than minimum duration value while creating bookable product."
## Bug Description:
Validation fails to display if maximum duration value is less than minimum duration value while creating bookable product.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jura

[2020-12-09 16:25] gglobalstep opened #28529 "[GlobalStep - WooCommerce 4.8] [MAC] “Has resources” checkbox is missing on “Edit Product” page for Bookable Product."
## Bug Description:
“Has resources” checkbox is missing on “Edit Product” page for Bookable Product.

## Environment:
macOS High Sierra v10.13.6
Browser: Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Go to Plugins->Add New.
1. Install and activate "WooCom

[2020-12-09 16:27] gglobalstep opened #28530 "[GlobalStep - WooCommerce 4.8] [Firefox, Safari] "Time picker" option not available on Edit product page for Bookable Product."
## Bug Description:
"Time picker" option not available on Edit product page for Bookable Product.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser:  Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1

[2020-12-09 16:29] gglobalstep opened #28531 "[GlobalStep - WooCommerce 4.8] [MAC] “Calendar” icon is overlaps with date on Edit Product page for Bookable Product."
## Bug Description:
“Calendar” icon is overlaps with date on Edit Product page for Bookable Product.

## Environment:
macOS High Sierra v10.13.6
Browser: Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Go to Plugins->Add New.
1. Install and activate "WooCom

[2020-12-09 16:31] gglobalstep opened #28532 "[GlobalStep - WooCommerce 4.8] [MAC] On WooCommerce Bookings details page, "End time” text field is misaligned."
## Bug Description:
On WooCommerce Bookings details page, "End time” text field is misaligned.

## Environment:
macOS High Sierra v10.13.6
Browser: Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Go to Plugins->Add New.
1. Install and activate "WooCommerce

[2020-12-09 16:52] macgrueber commented on #27828
Hi Peter,

Thank you for the follow-up and letting me know it's nothing to worry
about. I really do appreciate it. Have a happy and safe holiday season!

Best,

Neil McGrew
Director of Sales & Marketing
Fairways Golf Membership <https://fairwaysmembership.com/>
(440) 748-8231
  <https://fairwaysmembership.com/cart/?add-to-cart=3293>

On Wed, Dec 9, 2020 at 7:04 AM Peter Fabian <notifications@githu

[2020-12-09 17:19] claudiosanches commented on #28516
Hello @hiphopservers, could you provide some more informations about this error?
Have you tried to enable PHP-Intl extension? What the status and information that gets displayed by `php_info()` about PHP-Intl?

This is how shows up for me:

![Screenshot from 2020-12-09 14-18-46](https://user-images.githubusercontent.com/1264099/101663456-7a02b500-3a29-11eb-9c2b-c501a6cf321a.png)

[2020-12-09 18:18] mfs-mindsize commented on #26718
@helgatheviking - The solution to my memory_limit issue was to make it -1, which seeks a bit extreme but it works so for now I'll settle for that.

I'm going to take a stab at this ticket. You mentioned above you've looked at it. Is there anything you'd like to share with me?  The html-admin-page-status-report.php seems straightforward. But there also appears to be a version of the report where JS

[2020-12-09 18:45] johndcoy opened #28533 "Ability to select attributes using `Any...` when adding products to orders manually"
**Is your feature request related to a problem? Please describe.**
WooCommerce Subscriptions requires all product attribute meta data to be included or the customer will get an error on the cart page when attempting to pay for an order.

![Screenshot](https://d.pr/i/fAuDXW+)
Screenshot link: https://d.pr/i/fAuDXW

In this case, the Duration attribute is assigned to a product variation using the `A

[2020-12-09 19:43] mfs-mindsize commented on #26718
Here's an example (of what I'm thinking) for the table row: WooCommerce REST API package

As you can see, I tried to address what looked to be accessibility gaps. I'm also questioning whether 'yes' and 'no' is the ideal verbiage. I've no dog in the verbiage race per se, just trying to open a (brief) conversation. Hopefully :)

Once I can get some feedback on the code below I can refine and then ap

[2020-12-09 19:50] claudiosanches opened #28534 ""Private" products direct to the product's page when add to cart with AJAX is enabled"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If you enable "Enable AJAX add to cart buttons on archives" private products will direct to the product's main page instead of adding to th

[2020-12-09 20:04] senff commented on #28505
Also reported in #26221869-HC

[2020-12-09 20:19] mfs-mindsize commented on #27795
@loranallensmith

That filter? Yup. I noticed that :) But my theory is it can be addressed by using the hook in the WP reset_password()

`	do_action( 'after_password_reset', $user, $new_pass );`

That filter is after the reset so (I believe) it's a matter of hooking to the WP reset's action.

Yes? No?

The only issue might be that once using that action, it can be removed. That said, the filter is

[2020-12-09 20:38] alpha-pix commented on #28505
Can confirm I have seen this with Global Payments HPP on manual cancellations of Pending orders. It does not occur when the order is allowed to cancel automatically after the time set in "Hold Stock (minutes)". So a workaround for some of this is to let them time out and maybe reduce the minutes.

This behaviour does not seem to happen with manually created orders. Instead another anomaly occurs.

[2020-12-09 21:12] mfs-mindsize commented on #24581
What's the status of this? It looks like there might have been a PR? Or not?

[2020-12-09 21:59] mfs-mindsize commented on #25076
Does anyone know the status of this? I've tried to reproduce the issue and it looks to me like the text wrapping is not happening for both ltr and rtl. However, I'm not testing the actual emails on a mobile device. I'm using Chrome dev tools mobile simulation.  So perhaps that's a problem in my approach?

ltr - https://codepen.io/livelearnrepeat/full/yLaaqJK

rtl - https://codepen.io/livelearnrepe

[2020-12-09 22:02] splaquet opened #28536 "Product Attributes with <3 characters (like XL) not populating in Analytics Filters"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have sea

[2020-12-10 00:25] LisaLisa480 commented on #27317
Hello. Is there a status update on the fix for this bug?

[2020-12-10 02:55] zhongruige commented on #28457
Hi @renatadcl,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-10 02:55] #28457 closed

[2020-12-10 02:59] zhongruige commented on #27900
I also just went through the steps outlined in the comment above using the latest version of WooCommerce and Wordpress to see whether or not it I could replicate it on the latest versions. Version details include:

[code]

However, after going through the steps, I was still unable to reproduce this issue.

[2020-12-10 09:15] andriamirul opened #28539 "UI & Ajax Bug : After removing all products in the cart, the page becomes "only content" without header and footer."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After removing all products in the cart, the page becomes "only content" without header and footer. We found that  there is a function that

[2020-12-10 09:49] zdenys opened #42674 "All Products Block: Buttons Size Inconsistent"
## Describe the bug
For All Products Block, the size of the `Add to cart`/`Selected options` buttons is inconsistent and depends on the number of columns. Buttons become uncomfortably smaller when the number of columns is increased.

## To reproduce
Steps to reproduce the behavior:

1. Add All Products Block
2. Change the number of Columns to 3, 4, 5, 6 in the right-hand-side Layout Settings panel

[2020-12-10 10:07] hiphopservers commented on #28516
@claudiosanches  here is the screen and I do not have the IUC TZData Version by default on my host in comparison to your screenshot and my host runs DirectAdmin host manager which handles building my install PHP versions.   I can add custom strings to add custom extensions to the PHP during building but I would have to look up the require syntax for the install then rebuild PHP.

![Screen Shot 202

[2020-12-10 10:08] hiphopservers commented on #28516
@Rider7991  what are the settings on your host for PHP in this section?

[2020-12-10 10:10] Rider7991 commented on #28516
@hiphopservers I just updated ICU from 53 to 60 and it's working right now. In the past I had what you can see on the screen below:
![icu](https://user-images.githubusercontent.com/35701147/101758206-59456880-3ad8-11eb-9568-52211133a82f.png)

[2020-12-10 10:15] Rider7991 commented on #28516
@hiphopservers current, working setting:
![current_working_icu](https://user-images.githubusercontent.com/35701147/101758684-f1dbe880-3ad8-11eb-952d-7d4a18766e69.png)

[2020-12-10 10:17] hiphopservers commented on #28516
@Rider7991

Clearly, I need to install that ICU TZData version.  This should have a workaround or warning that it needs to be installed instead of breaking the application.  Plus clear notes to have this data version installed if it is required.

[2020-12-10 11:04] ilicfilip opened #28540 "Avoid initing star ratings multiple times when there are more than one Review forms on the page"
**Is your feature request related to a problem? Please describe.**
Hello,

I want to add WooCommerce Tabs (Description, Additional Information, Reviews) and WooCommerce Reviews form on the same page. The problem is that first Reviews form is inited twice and second is not inited at all, screenshot: https://prnt.sc/vzoa98

**Describe the solution you'd like**
It seems that problem comes from this [

[2020-12-10 11:16] jnhghy opened #28541 "Batch deleting products don't trigger the product delete webhooks"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Force deleting a product using the REST API will not trigger existing webhooks set to product delete.

**Expected behavior**
I'm expecting

[2020-12-10 11:25] beckos commented on #25895
I had this issue. What helped me was this:

1. disable all plugins including WooCommerce 4.8.0 after tried to update from 3.1.9 and failed (I had to enter Recovery Mode and perform the following under it)
2. install the old(er) Action Scheduler https://github.com/woocommerce/action-scheduler/archive/3.1.4.zip (I simply guessed this might help after reading the comments here)
3. activate Action Sch

[2020-12-10 12:10] peterfabian commented on #27674
Just trying to add PHP 8 to our CI as part of https://github.com/woocommerce/woocommerce/pull/27844 and we can close this one.

[2020-12-10 12:19] CHadetz commented on #28505
I'm fairly certain this is the cause, introduced in 4.7.0:
`* Fix - Adjust stock even if `reduce_stock` meta is not set in `wc_maybe_reduce_stock_levels`. #27763`

[2020-12-10 12:54] ScarefaceZ commented on #24179
try with & instead of ,

[2020-12-10 13:19] ScarefaceZ commented on #24179
try ?category=41&category=19

[2020-12-10 14:19] rwaynick commented on #28505
Another report in 26222717-hc.

[2020-12-10 14:55] roykho commented on #28275
I just tested this and I think it is no longer an issue with the latest round of changes with Twenty Twenty One theme. ![](https://d.pr/i/jDiA9T+)

[2020-12-10 14:55] #28275 closed

[2020-12-10 15:58] gglobalstep opened #28544 "[GlobalStep - WooCommerce 4.8] Coupon fails to apply while adding a bookings manually from Bookings > Add Booking."
## Bug Description:
Coupon fails to apply while adding a bookings manually from Bookings > Add Booking.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all

[2020-12-10 15:59] loranallensmith commented on #27795
@mfs-mindsize I think I understand the flow you're describing.  Are you saying that WooCommerce could hook into WordPress'  `after_password_reset` action with a high-priority function that conditionally removes [the action that calls `wp_password_change_notification`](https://github.com/WordPress/WordPress/blob/d6cff7965a10c89e629a87eb6e4ecb0ed9614d50/wp-includes/default-filters.php#L458) based on

[2020-12-10 16:01] gglobalstep opened #28545 "[GlobalStep - WooCommerce 4.8][MAC] On Cart page, Product image disappears after “Applying a coupon/Removing product/Updating cart”."
## Bug Description:
On Cart page, Product image disappears after “Applying a  coupon/Removing product/Updating cart”.

## Environment:
macOS High Sierra v10.13.6
Browser: Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Go to Products->Add New.
1. Set produc

[2020-12-10 16:16] ninetyninew opened #28546 "Add default colors WooCommerce uses for prices, out of stock text, remove cart icon, etc to customizer/filter"
WooCommerce use a number of colors on some elements within the system such as:

- Green: Price
- Red: Out of stock text
- Red: Remove from cart icons
- Red: Filter widget's remove filter icon
- Blue: Info notices

We can override these using CSS, but this means knowing each and every class/element where they are used and if a new element gets added in a new release you'd have to be keeping an eye

[2020-12-10 17:04] jessepearson opened #28547 "Stand alone WooCommerce/WooThemes Helper remains active along with newer versions of WooCommerce"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
WooCommerce should try to deactivate the deprecated stand alone WooCommerce/WooThemes Helper, but this doesn't appear to be happening.

**S

[2020-12-10 19:09] rodrigoprimo commented on #28459
AFAIK, having the value of `woocommerce_db_version` lower than the current WooCommerce version is expected and doesn't cause any issue to the store. We only update `woocommerce_db_version` when there is at least one update routine that needs to be executed while updating WooCommerce to a new version. The last time that this happened was when `4.5.0` was released (https://github.com/woocommerce/woo

[2020-12-10 19:43] roykho commented on #28459
I also wanted to leave a note here that I think the `woocommerce_db_version` should not be updated to the current version of WooCommerce core. It should have its own version. So for example if the last schema changes we did was `4.5.0`, then we should always update `woocommerce_db_version` to that version. Only bump the version if we indeed made any schema changes.

This way it is not confusing to

[2020-12-10 20:40] rodrigoprimo commented on #28331
After testing beta and RC, we opted not to test the final release as the previous versions were fairly stable and if there was an issue in one of the critical flows in WP 5.6 final, we would probably have received reports of it already.

[2020-12-10 20:40] #28331 closed

[2020-12-10 20:41] rodrigoprimo commented on #27970
Closing as we finished all the testing that we were planning to do and WP 5.6 final was released.

[2020-12-10 20:41] #27970 closed

[2020-12-10 20:51] rrennick commented on #27846
I updated the issue title to reflect that we should be able to add some logic to skip tags that are less that X hours old. I will use WP 5.6 to determine how many hours we might need.

[2020-12-10 20:51] juliaamosova commented on #28459
That sounds good to me @rodrigoprimo! Thanks for investigating the issue. Updating labels and removing the milestone.

[2020-12-10 20:54] #28360 closed

[2020-12-10 21:34] epic451 opened #28552 "Variable products generate error code"
Working with a working site and latest woocommerce version it seems impossible to create variable products without also generating an error code. I have deactivated other plugins and the theme but the error message still appears. My experience level is very low so I need help with this. Any help is appreciated.

Here is a screenshot:
![Screenshot 2020-12-09 at 22 42 37](https://user-images.githubu

[2020-12-10 22:54] phillipcornwell opened #28553 "Attributes arrow closing the Product Data module when trying to open or close an attribute"
When attempting to open or close a product attribute with the small expand/close _arrow_ it forces the entire product datq module to close.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug*

[2020-12-10 22:58] phillipcornwell commented on #28553
3564302-zen

[2020-12-10 23:01] flyingeyefr commented on #23582
Hello, it seems the custom code is not working anymore.
As soon as I add items in a new order with 'quotation' custom status, the stock is decreased each time I hit the Update button.
Please advise.

![2020-12-10_235828](https://user-images.githubusercontent.com/50369066/101839997-a1e63b80-3b43-11eb-8e50-f01f45de2746.jpg)

[2020-12-10 23:07] roykho commented on #28553
I am pretty sure this has already been fixed in master. Please re-open if this is not the case for you.

[2020-12-10 23:07] #28553 closed

[2020-12-11 00:06] jessLundie commented on #28459
@juliaamosova @rodrigoprimo - If I understand correctly, you are saying that in future, the WC DB version number would only be updated when there are actual schema changes to the DB, and not inline with every WC update?

I ask because this could prove very challenging for support. Right now, checking that the version matches is one of our first steps when verifying that the DB is updated to the la

[2020-12-11 02:25] rrennick commented on #27846
At ~5 hours the WP 5.6 image was not available. It was available at ~10 hours. 12 should be a good number to start with.

[2020-12-11 05:25] dphyled opened #28557 ""Changes you made may not be saved." message when leaving product, even if no changes have been made"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After opening up a product from **Products > All Products** list, then trying to browse to a different page, it will pop up the alert sayin

[2020-12-11 08:42] prathamesh-gharat commented on #16971
We have a specific scenario where we have a limited quantity of inventory of a certain product (think limited quantity flash sales).

**The customer enters details and places an order.** [ We want to prevent the customer from placing an order in the first place].
Handling refunds at a large scale is not possible.

https://wordpress.org/plugins/woocommerce-cart-stock-reducer/#developers helps to a

[2020-12-11 08:46] prathamesh-gharat commented on #16971
Email Queues would be efficient with an external cron based processor.
Example: https://wordpress.org/plugins/gd-mail-queue/

At some point, we also need to think of the following.
- Should WooCommerce take the overhead of implementing an email queue, or not?
- Does it make WooCommerce add bloat?

[2020-12-11 10:57] negapo opened #28559 "Better stock audit"
**Is your feature request related to a problem? Please describe.**
There is an inconsistency between orders placed via the front end (shop) and orders placed (or changes made to an existing order) via the admin panel that makes the stock audit very hard. When placing an order via the frontend a meta tag is added to every "line_items" with the name "_reduced_stock" and a value of boolean but when a

[2020-12-11 11:50] smoosthsapphire commented on #28557
hi
Confirm have the same issue!

[2020-12-11 12:39] tammullen commented on #28557
Thanks @dphyled for reporting this.

This seems to be directly related to WordPress 5.6 as I can't recreate this using 4.8 and WordPress 5.5.3.

I can recreate it on fresh install of 5.6 in combination with all versions of WooCommerce I tried from 4.0 through to 4.8 so doesn't appear to be specific to 4.8.

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-12-11 12:50] ptravassos commented on #11067
Any update about this duplicate order functionality?

[2020-12-11 12:52] nicomollet commented on #27622
@jeherve What is the status on this?
In fr_FR release, I still see many untranslated strings in the admin part.
For example "Items Sold" string is translated in fr_FR but does not appear in the Statistics screen.

![image](https://user-images.githubusercontent.com/108828/101905566-f0352200-3bb7-11eb-8a02-86d6b2db2c0f.png)

WooCommerce version 4.8.0, and "wooCommerce" fr_FR is 100% translated. "woo

[2020-12-11 13:02] nicomollet commented on #25920
@claudiosanches Analytics screens still have many i18n strings missing. My locale fr_FR is 100% translated (woocommerce-admin is not fully translated though).

[2020-12-11 13:37] ATACKLETARTS commented on #26380
Same issue.  There was posts with same problem back from two years ago with no support...

[2020-12-11 14:40] juliaamosova commented on #28557
Related issue: https://github.com/woocommerce/woocommerce/issues/28025.

[2020-12-11 15:03] hiphopservers commented on #28516
I was able to get the site to work by contacting my web admin software developer and learn how to properly update and install the specific version of ICU that included the ICU TZData version.  After installing the icu4c-66_1-src.tgz from the CLI and testing the plugins my errors stopped.  There needs to be some kind of exception or soft warning if the ICU data is not installed properly.  Also, ins

[2020-12-11 15:04] TheRealLauch commented on #27953
Hey, still have the same issue!

Cant reproduce on staging site, but i still get product variants with -1 to -6QTY even tho backorder is deactivated.

Using Divi Theme with Woocommerce and Paypal Checkout Plugin on newest state.

[2020-12-11 15:41] Gnaegi4 opened #28560 "Coupon code accepted without matching email."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have s

[2020-12-11 16:01] negapo commented on #28560
Hi @Gnaegi4
If the user hasn't give the email address when he applied the coupon code then Woo doesn't know if the coupon can or cant be used. Did you expect some kind of warning message like "please fill in your email before applying this coupon"?

[2020-12-11 16:18] roykho commented on #28025
Can someone else please re-test this? I am not able to reproduce this with current 4.9.0-dev (master) and WP 5.6.

[2020-12-11 17:06] Sartoric opened #28561 "Custom settings - Cannot use string '0' as default value for "select" setting type"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-12-11 17:11] rodrigoprimo commented on #28557
@tammullen, I was not able to reproduce this one running WP 5.6 and WooCommerce master. I created the GIF below to show what I'm doing to test to check if I'm missing something.

![Peek 2020-12-11 14-08](https://user-images.githubusercontent.com/77215/101933231-aac62400-3bba-11eb-8464-bb847730098b.gif)

[2020-12-11 17:45] dochara opened #28562 "Northern Ireland as a shipping zone post Brexit"
**Is your feature request related to a problem? Please describe.**
As anyone who has been following Brexit will know, Northern Ireland will shortly be in a different category for sales and shipping than other parts of the UK. Breifly, Northern Ireland will be part of the EU single market, the rest of the UK will not. This will mean that many sellers in the EU will be able to sell and ship to NI as

[2020-12-11 18:11] kangfurqon opened #28563 "apluad dan gambar tidak ada"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-12-11 18:18] shensp79 opened #28564 "error base de datos"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-12-11 18:32] rodrigoprimo commented on #28557
Now I'm able to reproduce the problem. @claudiosanches noticed that I had the text editor instead of the visual editor, and this problem only occurs if the page loads with the visual editor (which is the default behavior).

It seems that this indeed started happening and as @roykho found out, if we change the ID that is defined [here](https://github.com/woocommerce/woocommerce/blob/master/includes

[2020-12-11 19:18] juliaamosova commented on #28025
I am still able to reproduce this using:

- brand new JN site
- WP 5.6
- WC 4.8 (stable release)

See gif below:

![](http://g.recordit.co/IIOmmDubWw.gif)

[2020-12-11 20:05] juliaamosova commented on #28493
Hi @simplicity17,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-11 20:06] juliaamosova commented on #28479
Hi @Ahsan856,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-11 20:06] #28479 closed

[2020-12-11 20:10] juliaamosova commented on #28466
Hi @vaibhavisojitra25,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-11 20:10] #28466 closed

[2020-12-11 20:11] roykho commented on #28025
@juliaamosova - did you happen to also test this locally with master branch?

[2020-12-11 20:11] juliaamosova commented on #28460
Hi @gfrileux,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-11 20:11] #28460 closed

[2020-12-11 20:11] juliaamosova commented on #28451
Hi @starry1314,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-11 20:11] #28451 closed

[2020-12-11 20:12] juliaamosova commented on #28446
Hi @vikula030,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-11 20:12] #28446 closed

[2020-12-11 20:13] #28301 closed

[2020-12-11 20:16] juliaamosova commented on #28248
Hi @enriquesalazart,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-11 20:16] #28248 closed

[2020-12-11 20:18] juliaamosova commented on #28289
Hi @axcar95,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-11 20:18] #28289 closed

[2020-12-11 20:20] juliaamosova commented on #28564
Hi @shensp79,

Thank you for reporting the issue.

Please note that we reply to bug reports in the English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

Issue title:

Translation:

Note that you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’

[2020-12-11 20:22] juliaamosova commented on #28563
Hi @kangfurqon,

Thank you for reporting the issue.

Please note that we reply to bug reports in the English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

Issue title:

Translation:

Note that you didn’t fill out the details of the bug report template that we ask for. Without these details, we ca

[2020-12-11 20:27] juliaamosova commented on #28562
Hi @dochara,

Thanks for raising the issue!

We currently have a PR open to address Brexit related changes: https://github.com/woocommerce/woocommerce/pull/28538.

Pinging @peterfabian and @tammullen here to evaluate the issue described here in regards to Northern Island.

[2020-12-11 20:45] juliaamosova commented on #28559
Hi @negapo,

Thanks for raising the issue!

It sounds like there is still some kind of a bug related to stock management.

Can you please describe how to reproduce this and what would the merchant see at the front end?

Some of us actually do run real WooCommerce stores 😀 . But this a great feedback nonetheless, thank you! Please continue to share and thank you for your patience as we work through

[2020-12-11 20:48] tammullen commented on #28562
Additional context in paqDfi-11G-p2#comment-3302

[2020-12-11 20:48] juliaamosova commented on #28552
Hi @epic451,

Thanks for raising the issue!

It will be great if you could share your current System Status Report. You can get it by navigating to the `WooCommerce / Status` section of your site. Once there, click on the `Get system report` button and then copy it by clicking on the `Copy for support` button. Then paste it here in a comment.

[2020-12-11 20:50] tammullen commented on #28562
Hi @dochara,
We are currently looking into this but in the meantime in case it is helpful you can setup shipping zones that filter on the Northern Ireland postcode prefix of BT. This can be used to either have different postage options for NI or to exclude it. More details on setting up shipping zones here https://docs.woocommerce.com/document/setting-up-shipping-zones/

![Screenshot 2020-12-11 at

[2020-12-11 21:05] peterfabian commented on #28562
Hi @dochara . I've been looking into this a bit this week and it seemed to me the situation is rather complex in terms of actual rules, byt at the ned of the day, it seems that all boils down to the fact that merchants need to be able to charge taxes and shipping costs correctly and easily for NI and the rest of the UK according to different rules.

I think it should be possible to separate NI by

[2020-12-11 21:08] juliaamosova commented on #28547
Hi @jessepearson,

Thanks for raising the issue!

I checked quickly to see if the plugin is easily available for download but couldn't find a place where one can do that easily.

It is not in the plugins directory - see search results below:

![updter](https://user-images.githubusercontent.com/19143190/101954905-e7018080-3bca-11eb-8794-5eaf75d077dd.jpg)

I also found a blog post with the button to

[2020-12-11 21:10] juliaamosova commented on #28546
Hi @ninetyninew,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-11 21:15] juliaamosova commented on #28544
Hi @gglobalstep,

Thank you for reporting the issue. It is being caused by WooCommerce Bookings plugin which is being developed in another repository: https://github.com/woocommerce/woocommerce-bookings.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-11 21:17] juliaamosova commented on #28532
Hi @gglobalstep,

Thank you for reporting the issue. It is being caused by the WooCommerce Bookings plugin which is being developed in another repository: https://github.com/woocommerce/woocommerce-bookings.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-11 21:23] juliaamosova commented on #28531
Hi @gglobalstep,

Thank you for reporting the issue. It is being caused by the WooCommerce Bookings plugin which is being developed in another repository: https://github.com/woocommerce/woocommerce-bookings.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-11 21:24] juliaamosova commented on #28530
Hi @gglobalstep,

Thank you for reporting the issue. It is being caused by the WooCommerce Bookings plugin which is being developed in another repository: https://github.com/woocommerce/woocommerce-bookings.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-11 21:25] juliaamosova commented on #28529
Hi @gglobalstep,

Thank you for reporting the issue. It is being caused by the WooCommerce Bookings plugin which is being developed in another repository: https://github.com/woocommerce/woocommerce-bookings.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-11 21:26] juliaamosova commented on #28528
Hi @gglobalstep,

Thank you for reporting the issue. It is being caused by the WooCommerce Bookings plugin which is being developed in another repository: https://github.com/woocommerce/woocommerce-bookings.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-11 21:29] juliaamosova commented on #28527
Hi @gglobalstep,

Thanks for reporting this issue!

We had it open in our Square repository: https://github.com/woocommerce/woocommerce-square/issues/419 - it is a private repository that only the developers of Square plugin have access (posting here for the reference anyways).

Copying the response from that issue above:

I've been able to replicate this issue on my local install just by activati

[2020-12-11 21:29] #28527 closed

[2020-12-11 21:40] roykho commented on #27463
Closing this in favor of https://github.com/woocommerce/woocommerce/issues/27424 since it has a PR attached.

[2020-12-11 21:40] #27463 closed

[2020-12-11 22:59] rodrigoprimo commented on #28557
After discussing this a bit more with @ObliviousHarmony, I'm unsure about changing the ID as this could potentially break things for third-party code that rely on it. There is a chance that this is a bug in WP core that should be fixed there, I'm not sure yet as I couldn't determine which change in WP is causing this problem. I opened a WP core ticket to start the discussion there: https://core.tr

[2020-12-11 23:10] juliaamosova commented on #28536
Hi @splaquet,

Thank you for reporting the issue. It seems to be caused by the WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-11 23:15] jessepearson commented on #28547
Hey @juliaamosova, thanks for taking a look. It's available here: https://docs.woocommerce.com/document/woocommerce-helper/ . I put in a request to the docs guild to have the page modified or removed already, as well.

I looked into this due to we've been seeing more and more requests where merchants have it active and are trying to connect their new extensions with it. (I should have included tha

[2020-12-12 01:07] timmyc opened #28566 "WooCommerce Status Widget: Add Tracking"
The Start/Manage team is going to be looking at updating some of the WooCommerce wp-admin dashboard widgets, and this is the first of a few issues that Isotope will be looking into in the new year ( or possibly sooner! ).

<img width="474" alt="image" src="https://user-images.githubusercontent.com/22080/101968238-f389d700-3bd2-11eb-8ee9-73dcf215b18d.png">

To get a sense of how often the wp-admin

[2020-12-12 01:13] ganeshkrishnan1 opened #28567 "Add landing site and referring site in order details"
**Is your feature request related to a problem? Please describe.**
The problem is in efficient marketing of woocommerce stores.
Our Shopify customers can clearly see the referring sites and the landing pages for each other. This enables them to do marketing more efficiently and choose the correct marketing channel as well as campaigns better.

**Describe the solution you'd like**
Orders (or meta d

[2020-12-12 01:18] timmyc opened #28568 "WooCommerce Status Widget: Add Store Setup State"
The Start/Manage team is going to be looking at updating some of the WooCommerce wp-admin dashboard widgets, and this is the first of a few issues that Isotope will be looking into in the new year ( or possibly sooner! ).

<img width="474" alt="Dashboard ‹ bend outdoors — WordPress 2020-12-11 17-03-58" src="https://user-images.githubusercontent.com/22080/101968377-c25dd680-3bd3-11eb-83a3-98f3d2b1c

[2020-12-12 01:42] timmyc opened #28569 "WooCommerce Status Widget: Update Net Sales Logic"
The Start/Manage team is going to be looking at updating some of the WooCommerce wp-admin dashboard widgets, and this is the first of a few issues that Isotope will be looking into in the new year ( or possibly sooner! ).

<img width="474" alt="Dashboard ‹ bend outdoors — WordPress 2020-12-11 17-03-58" src="https://user-images.githubusercontent.com/22080/101968988-d6ef9e00-3bd6-11eb-97d3-0707347d9

[2020-12-12 01:48] timmyc opened #28570 "WooCommerce Status Widget: Revise Stock Rows Links"
The Start/Manage team is going to be looking at updating some of the WooCommerce wp-admin dashboard widgets, and this is the first of a few issues that Isotope will be looking into in the new year ( or possibly sooner! ).

<img width="474" alt="Dashboard ‹ bend outdoors — WordPress 2020-12-11 17-03-58" src="https://user-images.githubusercontent.com/22080/101968988-d6ef9e00-3bd6-11eb-97d3-0707347d9

[2020-12-12 08:34] gevcen commented on #28557
I have this problem too

[2020-12-12 11:08] nattila1 opened #28571 "Status code of filtered category pages in case of non existing product attribute"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a category page is filtered with a non existing product attribute value returning HTTP status code is 200. In such cases, when the att

[2020-12-12 18:26] juliaamosova commented on #28560
Hi @Gnaegi4,

Thank you for submitting the issue. However, what you describe is the expected behavior of WooCommerce.

To expand a bit further on what @negapo already mentioned, an email verification happens when the order is placed, not before. We state the same next to the field of `Allowed emails` when you create the coupon:

![email](https://user-images.githubusercontent.com/19143190/101991810

[2020-12-12 18:26] #28560 closed

[2020-12-12 18:29] juliaamosova commented on #28567
Hi @ganeshkrishnan1,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-12 18:44] juliaamosova commented on #28545
Hi @gglobalstep,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. Please see the gif below:

![](http://g.recordit.co/8BWTEz8TRV.gif)

However, I do see in the video provided by @gglobalstep that the issue indeed occurs. I wonder if there is a plugin conflict maybe? @tammullen would you please test this on

[2020-12-12 19:23] juliaamosova commented on #28541
Hi @jnhghy,

Thank you for taking the time to report this issue, we really appreciate your help. I can reproduce it on my end.

Documenting my steps below.

My `product delete` webhook is set up as follows:

![webhook](https://user-images.githubusercontent.com/19143190/101992764-88e4a400-3c83-11eb-807e-c830318491b1.jpg)

<br>

Upon running the following `DELETE` request:

`.../wp-json/wc/v3/produc

[2020-12-12 19:32] juliaamosova commented on #28539
Hi @andriamirul,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. Please see the gif below that shows that there is no issue on my end:

![](http://g.recordit.co/EnWekPnwIM.gif)

My environment details are as follows:

- PHP 7.4.13
- WordPress 5.6
- WooCommerce 4.8
- Twenty Twenty One theme (default)

I wa

[2020-12-12 19:40] juliaamosova commented on #28533
Hi @johndcoy,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-12 19:49] juliaamosova commented on #28526
Hi @Bjolja,

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end.

Please see the variaions fields in question in my request for variable products:

![var](https://user-images.githubusercontent.com/19143190/101993485-2098c100-3c89-11eb-8de5-2e5921ab703f.jpg)

I can recommend testing your site for theme and plugins conflict. To do that, you

[2020-12-12 19:59] juliaamosova commented on #28520
Hi @Phukit,

Thank you for submitting the issue. However, I don't fully understand how to reproduce it. Please either record a video or take some screenshots that explain the problem and provide more clear steps on how to reproduce the issue.

[2020-12-12 20:00] juliaamosova commented on #28518
Hi @601dev,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-12-12 20:11] Phukit commented on #28520
thanks for the reply.

I have switched themes by now. but install a fresh wordpress with twenty twenty theme than install woocommerce.

than create a product and enter in any info you will see what i mean.

I haven’t tried this in the new wordpress 5.6 it might have been fixed.

[2020-12-12 20:19] akashdhawade1991 opened #28572 "Issue with "woocommerce_product_is_on_sale" filter"
I am using this filter to show sale price only for logged-in users. Returning "**false**" still displays the sale price of the product instead of regular price.

Here's what I am trying to do:

[code]

1. This is for logged-in users, which is correct.
![logged-in](https://user-images.githubusercontent.com/68046117/101994020-0e4c7080-3ce5-11eb-9b91-34c8f42f5af1.png)

2. This is what it displays for

[2020-12-12 20:27] juliaamosova commented on #28520
Hi @Phukit,

Thanks for your follow-up.

Here is what I am seeing in Twenty Twenty if I start writing a product description - the cursor moves to the right and the sentence doesn't start from the beginning of the editor. Is this the issue you are referring to?

![](http://g.recordit.co/iZQPYxHqcn.gif)

And here is what I am seeing in Twenty Twenty One (no issue):

![](http://g.recordit.co/I8OYZkAG

[2020-12-12 20:31] juliaamosova commented on #28513
Hi @jessepearson,

Thanks for bringing this up! I think the verification URLs do need to be updated but I'd rather have someone from @woocommerce/proton to confirm.

[2020-12-12 20:34] Phukit commented on #28520
yes that was exactly the issue i was referring to.

it was ONLY happening with twenty twenty theme.

I have switched to the hello theme and everything works great.

[2020-12-12 20:35] juliaamosova commented on #28515
Hi @louisdoe,

Thanks for raising the issue!

I believe the correct way of updating the product with an image would be listing image IDs only. I haven't tried it myself yet but can you please try the following and let us know if it works?

[code]

[2020-12-12 20:36] juliaamosova commented on #28511
Hi @robotikz,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-12-12 20:41] juliaamosova commented on #28520
Thanks for confirming @Phukit. Even though the new default theme is Twenty Twenty One, we likely should fix it soonish as many people may still use Twenty Twenty on their sites and this bug is indeed annoying.

[2020-12-12 20:48] juliaamosova commented on #28509
Hi @marcopi1234,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Please see gif below. I tested using both WooCommerce 4.7.1 and 4.8 which is the latest version. The vide is taken using 4.8 version:

![](http://g.recordit.co/rzGwlPdPJR.gif)

Looking at your screenshots, I see that you are using a 3rd par

[2020-12-12 21:38] cbdkaufen opened #28573 "Improve URL Structure"
I had started thiss topic on wordpress.org,
[https://wordpress.org/support/topic/not-so-perfect-url/](https://wordpress.org/support/topic/not-so-perfect-url/)

 but I have been told to open this issue here.

Here is the ongoing problem:

URLs are – together with the title tag – the most important Onpage SEO factors, as these deliver the first information to a potential viewer of a website.

Regard

[2020-12-12 21:40] juliaamosova commented on #28505
Hi @jrick1229,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I am using WooCommerce 4.8 and set up PayPal Standard to test this.

Updating order status from `Pending payment` to `Cancelled` does reduce the stock indeed which is an incorrect behavior:

![paypal](https://user-images.githubusercontent.com/19143190/101995431-c6532c80-

[2020-12-12 21:44] juliaamosova commented on #28504
Hi @ninetyninew,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2020-12-12 21:44] robotikz commented on #28511
what kind of details do you need?

[2020-12-12 21:47] juliaamosova commented on #28572
Hi @akashdhawade1991,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get he

[2020-12-12 21:51] juliaamosova commented on #28511
Hi @robotikz,

We need all the details that we request in our bug report template which you seemed to ignore.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '

[2020-12-12 21:57] juliaamosova commented on #28571
Hi @nattila1,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![non](https://user-images.githubusercontent.com/19143190/101995847-0b2c9280-3c9b-11eb-8299-b04a13bf7e8b.jpg)

I tend to agree with you that we should return 404 instead here.

We won’t be able to include this fix in the upcoming release due to the lower priority of this

[2020-12-12 22:45] zhongruige opened #28574 "Move simple product price to a config variable"
Update the `default.json` file to include a new config variable for the simple product price. Additionally, update the tests that currently have the value (`9.99`) hardcoded to use the new config variable.

[2020-12-12 23:00] Oremaker commented on #22706
I manage an ecommerce with +500 references and THIS is the BIGGEST issue with our daily work with Woocommerce, stock variations are totally impossible to handle effectively and provokes stock outs very commonly affecting directly the sales.
It's the worst ISSUE of Woocommerce, please fix asap!!

[2020-12-13 01:25] Danielspain22 commented on #28557
Also at my end. WP 5.6 WC 4.8 PHP 7.3

[2020-12-13 04:13] simongcc opened #28576 "WP-CLI WC command "shipping_zone_method" seems not working properly or as expected"
Environment:
Mac OSX 10.14.6
WP-CLI 2.4.0
WC 4.8.0

## Problem 1
### How to produce
wp wc shipping_zone_method create 6 --method_id=free_shipping --enabled=true --settings='[{"title":"something"}]' --user=someuser

### Result
[/]  Shipping zone is created successfully.
[X] Title is not set

### What to expect
Create the new shopping method and set the title as well

### Tried
Tried the following s

[2020-12-13 07:14] simongcc opened #28577 "WP-CLI WC command "product create" give error "Too many positional arguments" with any name"
Environment:
Mac OSX 10.14.6
WP-CLI 2.4.0
WC 4.8.0

Problem 1
How to produce
tried:
wp wc product create -–name="Test Product" --type=simple --sku=WCCLITESTP --regular_price=20
wp wc product create -–name="Test"

Result
[X] Too many positional arguments: -–name=Test Product

What to expect
Successful in product creation

Not sure if anything is wrong, the error as if the name is no quote but actua

[2020-12-13 07:53] akashdhawade1991 commented on #28572
Hi @juliaamosova ,

Thank you for your prompt reply.

As for the issue, I believe it is a bug. Please find the below steps to reproduce the issue.

1. Add a product on sale.
2. Extend the filter "**woocommerce_product_is_on_sale**" to return "**false**" for that particular product.
3. View that product in the frontend and you could still see the product sale price in spite of returning "**false**"

[2020-12-13 10:35] GianBarGian opened #28578 "Can't authenticate to the REST API using oauth"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Can't connect to the REST API using oauth

**Expected behavior**
Both via frontend or using postman I should be able to connect to the api

[2020-12-13 13:56] ratzrattillo commented on #26990
Hello @rrennick, hello @rodrigoprimo,

even though it is possible to achieve the correct behavior using plugins, i believe this should be integrated into the core, as variations with attributes different from the parent attribute are a rather common thing. This means:

- A product_variation should by default inherit attributes from the product parent
- A product_variation should contain custom att

[2020-12-13 14:39] adrienthiery opened #28580 "Cannot update order from 'woocommerce_checkout_create_order' hook"
**Is your feature request related to a problem? Please describe.**
Hi there,
I think there's a misconception (or I don't understand something) in the `woocommerce_checkout_create_order` hook.

It says in the docs and in the code :

But I don't see how we can modify the `$order` from this hook, considering we pass the value and we don't get anything back from the hook.

**Describe the solution you'

[2020-12-13 14:41] dochara commented on #28562
It isn't quite as simple as that unfortunately. The purpose of the NI backstop is to allow continued free movement of goods between the EU and NI and in such transactions EU vat rules will continue to apply. UK vat rules will apply for services.

Thus UK sellers selling physical goods to NI may effectively be selling into the EU as a third country. I have no doubt there will be exceptions and spec

[2020-12-13 14:55] adrienthiery commented on #26523
Hi @ObliviousHarmony ,
I just saw you recommended to use the `woocommerce_checkout_create_order` hook to alter the order object.
I have been trying for a while to do this, but I don't manage to do it.
I update the order in my hooked function, but it never updates the order 🤔

Any hints to help me out?
Thanks a whole lot in advance

[2020-12-13 15:43] gfrileux commented on #28460
Hey - sorry for the late reply.Very strange that this cannot be reproduced since I had all plugins disabled.
Did you at least check the code logic as there's clearly an issue with the functions calling each other in that flow and proceeding to marking the stock as reduced even if that failed or did not happen.
Is that not even going to be looked at ??

[2020-12-13 15:49] robotikz commented on #28511
if you show my description and screenshot to your frontend developers they understand it.
My aim was to help you, I have no time to describe it all, may by someone in the future make it better as I ;-)
You can ignore it or close it,
thanks

[2020-12-13 16:14] juliaamosova commented on #28572
Thanks for your follow-up @akashdhawade1991! I am reopening this issue so that we could investigate further.

[2020-12-13 17:36] juliaamosova commented on #28511
@robotikz if you want to help us, it is best if you provide the details that we ask for to avoid unnecessary back and force replies - this doesn't help anyone. I will mark this for the core team to take a look further but it will be great if you'd follow the bug report template next time.

[2020-12-13 20:42] zhongruige commented on #27900
Hi @grigorijurasov,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-13 20:42] #27900 closed

[2020-12-13 21:28] Bjolja commented on #28526
Thank you for quick feedback. I read the documentation and it clearly states you should be correct so I disabled my theme, and voila, correct output from my REST api. Was not aware themes could interfere with the output from the API

[2020-12-13 21:28] #28526 closed

[2020-12-13 23:23] blacxi opened #28582 "CRITICAL Uncaught Error: Call to a member function get() on null in class-wc-customer-data-store-session.php:96"
Hi,

After update my WC in 4.8.0, i have this bug :

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After update WC to 4.8.0

[code]

**WordPress Environment**
We use the [WooCommerce S

[2020-12-14 00:21] juliaamosova commented on #28526
Thanks for your follow-up @Bjolja! Glad to hear that you found the culrupt.

[2020-12-14 04:13] #26925 closed

[2020-12-14 06:07] abhishek-pokhriyal commented on #26523
are you doing `$order->save()` at the end?

[2020-12-14 06:31] adrienthiery commented on #26523
I did, yes, with no avail.

[2020-12-14 07:25] santiazpi commented on #21911
Can you share your solution @Babelfisch ?

[2020-12-14 07:42] jeherve commented on #27622
I don't really have any more information.

Your issue seems a bit different (albeit related) from what I was mentioning above though. I had created this issue to suggest porting WooCommerce Admin translations to WooCommerce when a new version of WooCommerce Admin was brought to WooCommerce itself.

In your screenshot, it would appear that part of the Woo dashboard does not display translations, ev

[2020-12-14 08:31] jacoswan opened #28583 "Make Order Date Created format or filter"
**Is your feature request related to a problem? Please describe.**
Order "date created" [format is hard-coded](https://github.com/woocommerce/woocommerce/blob/4339aee35f7411bedd042ad7530c8a39bb8c5ed9/includes/admin/meta-boxes/class-wc-meta-box-order-data.php#L236) and ignores the site settings, always displaying as `Y-m-d`. It would be nice to either have that date adhere to site settings, or add

[2020-12-14 09:27] jnhghy commented on #28541
Thank you for your involvement in this issue @juliaamosova.

I like the idea of `Product trashed` topic for webhooks but it will probably case some backwards compatibility issues with current code.
Also, I'd like to point the second issue in this post: the API batch delete forces products to be permanently deleted, this should probably be also improved with a way of batch trashing the products. Th

[2020-12-14 09:28] peterfabian commented on #28562
I think that should be fine as long as the taxes and shipping are set up correctly by the store admin, which can be done using the zipcode filter, or am I missing something?

If we wanted to allow/disallow _selling_ to GB/NI, I'm a bit afraid that when we add NI as a separate country, then it will be other places where people might get confused (e.g. by taxes not being applied to NI when people se

[2020-12-14 10:01] Babelfisch commented on #21911
I had already posted my solution here. You have to write this snipped in your `functions.php`.

[2020-12-14 10:02] pmcpinto commented on #28566
👍 Thanks for creating this issue

[2020-12-14 11:14] treibalen opened #28585 "Stock is decreased when you hit Update for already Cancelled order"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a paid order is cancelled and you click **Update** once again, stock is increased again.

**Expected behavior**
No further stock adjus

[2020-12-14 12:16] lsinger commented on #27741
Hi @jessLundie,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future releases.

[2020-12-14 12:17] lsinger commented on #27741
Hello @gateway,

Thanks for your comment. The details of the issue you're describing aren't clear to me, though. Please open a separate issue and fill out bug report template in order for us to evaluate the report further.

Thanks!

[2020-12-14 12:18] lsinger commented on #27814
Hey @jessepearson,

Thank you for reporting. I can reproduce it on my end.

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-12-14 12:20] lsinger commented on #28172
Hello @mdmoore,

Thank you for reporting. I can reproduce it on my end.

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-12-14 14:11] Phukit commented on #28557
Hi,

I can confirm that with a fresh install of WP 5.6 and only plugin installed is woocommerce that this bug exists only for the visual editor.

If you switch to the text editor navigate away, first time you will get the popup but every time after that it will be gone.

Hopefully this gets fixed soon.

[2020-12-14 17:24] phillipcornwell commented on #28553
Hey @roykho

I am able to replicate this in the latest version of WC with no other plugins active while using the Storefront theme. Here's the SSR of my test site:

### System Status:
<details>

[code]

[2020-12-14 17:25] phillipcornwell commented on #28553
Also, GH won't let me reopen or tag this.

[2020-12-14 17:32] roykho commented on #28553
Did you test the master branch?

[2020-12-14 18:41] rrennick commented on #27868
When I started looking at this I realized all the scripts are in the `@woocommerce/e2e-environment` package so we don't need a separate package for scripts. The `@wordpress/scripts` package runs scripts from multiple Gutenberg related packages.

[2020-12-14 20:19] juliaamosova commented on #28585
Seems related to https://github.com/woocommerce/woocommerce/issues/28505 but not the same.

[2020-12-14 20:35] lanec opened #28589 "Order API showing dictionary on new orders in 4.8 while list on pre 4.8 orders"
Orders in our site entered prior to 4.8 show up as a list when we access the API:

customer id:  11736
[{'date': '2020-12-11 08:54:13',
  'item_id': 162765,
  'name': '2021 Product',
  'order_id': 44184,
  'qty': 1,
  'shipped': 0,
  'status': 'not-shipped'},
 {'date': '2020-12-11 08:55:37',
  'item_id': 162766,
  'name': '2021/2022 Product',
  'order_id': 44184,
  'qty': 1,
  'shipped': 0,
  'sta

[2020-12-14 20:55] rrennick commented on #26718
@mfs-mindsize It would be better to stick to the Yes/No verbiage. It's a status report vs an assessment of issues with the site. If, for example, a site has a theme doesn't register WooCommerce support, it could be an issue or it could be that the site has a custom theme that works as designed.

[2020-12-14 21:31] rasimyilmaz commented on #13800
check empty($_POST)

[2020-12-14 21:39] mfs-mindsize commented on #26718
@rrennick - Will do. I'll make the necessary adjustments. Thx.

Anything else?

[2020-12-14 22:19] Jany-M commented on #28582
+1

[code]

[2020-12-14 23:23] phillipcornwell commented on #28553
Aha, sorry, I had not. I have now, it works like I expected. Thanks!

[2020-12-15 03:46] jconroy commented on #28404
Hey @rrennick 👋 what's the process for progressing the discussion here?

[2020-12-15 08:43] SiobhyB opened #28591 "Coupon Not Applied on Reduced Price After Manually Editing Order and Applying Coupon"
**Prerequisites (mark completed items with an \[x\]):**

- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

After manually editing an order to have a reduced price and then applying a coupon, the coupon's discount is applied to the order's ori

[2020-12-15 10:46] vedanshujain commented on #27673
This is happening because we are holding coupon from the earlier order for "hold stock" minutes and its getting counted towards the total usage. Coupon is freed only after the order is cancelled, instead of when payment fails, because it is still possible to retry the payment when the order is in payment failed status.

If we allow coupon to be used again after a failed payment, then usage limit c

[2020-12-15 11:26] williamgh2019 opened #28593 "Required Screenshot in Direct Bank Transfer Pyament"
Hello,

Intro: In my country people often transfer payment by bank mobile app.

After transfer they usually screenshot a picture and sent out for confirmation.

Suggestion:
In Woocommerce Payment Direct Bank Transfer, could you please add a field require customers to upload payment screenshot picture before they will redirect to order complete page?

[2020-12-15 11:52] wpniall commented on #28282
Hi @juliaamosova!

Thanks for letting me know. I'll be more careful by testing different themes next time.

[2020-12-15 12:17] #27846 closed

[2020-12-15 12:38] rodrigoprimo commented on #28459
@jessLundie, that is actually the current behavior and it wasn't changed recently. My understanding from Roy's comment is that he is suggesting that we stop updating `woocommerce_db_version` to the latest version when WooCommerce is deactivated and then activated if there are no schema changes.

[2020-12-15 12:48] #28260 closed

[2020-12-15 13:26] jamiesmachon opened #28595 "WooCommerce order status filter at point of render"
Hi,
I have been building an API integration and require the ability to filter order status to lockdown the order flow for the user but the current filter 'wc_order_statuses' is too early for me to do the filter as this interferes with the available order statuses when programmatically updating an orders status when an error occurs within my API.

Is there any chance that a filter can be introduced

[2020-12-15 14:47] GeoJunkie commented on #28557
Reported in 3566823-zen

[2020-12-15 14:49] rodrigoprimo commented on #28118
Closing this issue for now due to lack of feedback and also considering that, as mentioned above, I don't think we can do anything on the WooCommerce side. Please let me know if I'm missing something and I will take a second look.

[2020-12-15 14:49] #28118 closed

[2020-12-15 14:54] tammullen commented on #28582
Hi @blacxi

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.
​
If the issue is resol

[2020-12-15 14:55] peterfabian commented on #28582
Hi, this might be caused by your theme or one of the plugins, can you please try to perform conflict resolution and let us know if you can reproduce the problem with only WooCommerce and Storefront?

https://docs.woocommerce.com/document/how-to-test-for-conflicts/

[2020-12-15 14:56] tammullen commented on #28582
Hi @Jany-M

Thank you for adding your info, I think you are also not using our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as Storefront. Then test again.
​
If the issue is resolved with the default theme and all plugins deactivated, it mean

[2020-12-15 15:03] claudiosanches commented on #28516
Thank you all very much for helping debug it. I'll include a check to make sure that this function works, and maybe also a note in the System Status.

[2020-12-15 15:18] tammullen commented on #28580
Hi @adrienthiery

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-15 15:36] tammullen commented on #28593
Hi @williamgh2019

Thank you for taking the time to share this idea, we really appreciate your help.

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this is

[2020-12-15 15:36] jamiesmachon commented on #28595
Hi, I have found how to work around this issue by conditionally check with doing_action in my filter

if ( doing_action( 'save_post' ) ) {
	return $statuses;
}

Many thanks in advance
Jamie

[2020-12-15 15:36] #28595 closed

[2020-12-15 15:36] #28593 closed

[2020-12-15 15:40] renude commented on #27673
Yeah, it should only get counted on a ‘successful’ order.  Are woocommerce techs working on fixing this?

Brandon

Sent from my iPhone

[2020-12-15 15:47] hiphopservers commented on #28516
@claudiosanches the real thanks for getting the bug reported goes to @mikejolley the real WooHero.  He was persistent about coming here and reporting the bug.  You are the rest of the development are able to resolve this issue because of his patience and commitment over on the WordPress support forum, thank you.

[2020-12-15 15:54] Jany-M commented on #28582
@tammullen the issue isn't the theme, it's the same bug as OP.
Stack trace is identical, but here's the function that is throwing that error from my theme:

[code]

`/wp-content/themes/mytheme/assets/scripts/woocommerce.php(967)`

is this line of the function:

`$fields = $checkout->get_checkout_fields();
`

[2020-12-15 19:03] yulumadavid opened #28597 "Attribute visibility not update or ignored on woo rest api put request"
We run over 70 woo shops and since 1,5 week we've run into this problem with only 2 shops so far. I would like to share to contribute. We did resolve this by hiding the attributes with css but I strongly believe this could be something others also could experience.

**How it worked:**
When we send attributes in the json array we can set 'visible' to 1 or to 0. This worked and still works for all o

[2020-12-15 19:37] tammullen commented on #28582
Thanks @Jany-M for the extra info.

Can you confirm if you are seeing this issue with [Storefront](https://en-gb.wordpress.org/themes/storefront/) theme?

Can you also let us know where you are seeing this error and the steps you took?

Finally, it will be great if you could share your current System Status Report. You can get it by navigating to the WooCommerce / Status section of your site. Once

[2020-12-15 19:41] rrennick commented on #28171
We should be able to add a reference in the readme to https://github.com/woocommerce/woocommerce-e2e-boilerplate and that would cover this issue.

[2020-12-15 19:58] mfs-mindsize commented on #27795
@loranallensmith I'm working on another issue ATM. I'll look at this one next. If nothing else, I'm curious about the difference between the two logout methods prior to the hook we've been talking about. How many different ways can you log someone out? :) Hopefully, I'll soon find out.

[2020-12-15 20:40] DavidAnderson684 commented on #28580
Call order methods, e.g. `$order->update_meta_data('my_key', 'my_value');`

[2020-12-15 21:39] zhongruige commented on #28167
Hi @DaveVaughan,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-15 21:39] #28167 closed

[2020-12-15 22:00] Jany-M commented on #28582
It appears that `woocommerce_checkout_init` is now being fired also in the backend, hence why the error, which appears on any Woo settings page.
Adding an extra check to make sure this doesn't happen, the error is gone.
As an other user had the same issue, maybe an internal check should be re-added to the action hook of the plugin.

[2020-12-15 22:35] #28356 closed

[2020-12-16 00:32] gateway commented on #27775
Has this been fixed, I also just ran into this with the latest build, wanted to make sure it wasn't something new I was seeing.

[2020-12-16 03:00] 0949er opened #28598 "woocommerce_structured_data_product is no longer able to be modified or has changed"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
can no longer apply filter to woocommerce_structured_data_product via functions.php

**Expected behavior**
Previously to 4.8.0 I was able t

[2020-12-16 05:51] lalitnagrath commented on #28557
Hello, we have same problem and even searching in orders page result in this popup being shown, that is very frustrating
![Screenshot from 2020-12-16 11-19-38](https://user-images.githubusercontent.com/29383514/102310354-da957300-3f90-11eb-896e-305ac29dd4e5.png)

[2020-12-16 11:06] stodorovic opened #28601 "CSS3 validation issue - speak property"
**Is your feature request related to a problem? Please describe.**
Check _woocommerce.css_ on [https://jigsaw.w3.org/css-validator/](https://jigsaw.w3.org/css-validator/). There are few errors:

**Describe the solution you'd like**
Related to https://github.com/w3c/csswg-drafts/issues/510 speak property should be **"never"** instead of **"none"**.

**Describe alternatives you've considered**

**Ad

[2020-12-16 12:44] rodrigoprimo commented on #28557
It seems that this is indeed a WP core problem. One of the WP developers confirmed it in the ticket and added a patch with a solution. If you all could help to test the patch, that would be great: https://core.trac.wordpress.org/ticket/52038#comment:6.

@lalitnagrath, I'm not able to reproduce the same problem when searching for orders. Are you testing in an environment where only WooCommerce is r

[2020-12-16 13:16] tammullen commented on #28557
Hi @lalitnagrath

Thank you for your additional details. However, I can’t reproduce what you are seeing on my end.
​
It looks like you might have additional plugins installed such as YITH WooCommerce Review Reminder.
Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https:/

[2020-12-16 13:37] NicestRudeGuy opened #28602 "Error while installing @woocommerce/e2e-core-tests"
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

I want to use woocommerce's core test with my own setup ( non docker ). I have currently cloned the repo and extracte

[2020-12-16 13:57] lalitnagrath commented on #28557
@rodrigoprimo @tammullen Thanks for your reply, you are right, i dont have the issue with other plugins disabled. so this is caused by some plugin. i will do as you suggested and update here.

[2020-12-16 14:35] pmcpinto opened #28603 "Tracks: wcadmin_settings_change not working on the Payments tab"
@pmcpinto commented on [Mon Dec 14 2020](https://github.com/woocommerce/woocommerce-admin/issues/5875)

**Describe the bug**
The `wcadmin_settings_change` is not being triggered when you make an update on the Payments tab (Settings)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Settings > Payments (make sure that you have event tracking enabled)
2. Toggle one or more payments option

[2020-12-16 14:36] pmcpinto commented on #28603
@timmyc just a heads up that I already moved the issue to the Core repo

[2020-12-16 15:45] ldr2273 commented on #25261
Also reported in 25351762-hc.

As this is affecting more customers, is there a chance we could update the priority on this one?

[2020-12-16 15:49] Pairfum-London commented on #28286
Dear Rodrigo,

Regarding your comment above about 'search for deprecated code manually', below is a list of the notices we received after installing the Enable jQuery Migrate Helper plugin:

Time	Notice	Plugin or theme	File location	Triggered on page
11/12/2020 21:23	jQuery.isFunction() is deprecated	Plugin: WooCommerce	https://www.pairfum.com/wp-content/plugins/woocommerce/assets/js/jquery-blocku

[2020-12-16 16:02] tammullen commented on #25261
Thanks all for the additional feedback, raising the priority to High.

[2020-12-16 19:39] martinsotirov opened #28604 "WC Admin borked with 4.8 (works fine with 4.7.1)"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After updating to the latest WooCommerce I noticed that all Javascript seems to be disabled on all Woo-Pages - the classic editor on produc

[2020-12-16 20:39] mfs-mindsize commented on #27795
@loranallensmith - OK. I've had some time to look at this. You probably don't need all these details but I might as well share it anyway (for future reference). Perhaps someone else will chime in on the reasons for the various deltas.

1. The WP core function reset_password() is pluggable [https://codex.wordpress.org/Pluggable_Functions](https://codex.wordpress.org/Pluggable_Functions) but WC's st

[2020-12-16 21:09] papazetis commented on #28557
Have the same issue on clean install with WP 5.6 and WC 4.8

[2020-12-16 21:11] ObliviousHarmony commented on #28142
This is done!

[2020-12-16 21:11] #28142 closed

[2020-12-16 21:25] britandrews commented on #21356
I just ran into this exact thing too. Has this ever been addressed or fixed? I did notice that viewing the same page in a private browser will not show the draft-mode related product. But, what would be the need for an Admin to still see a product if it was purposely set to Draft?

[2020-12-16 21:46] ObliviousHarmony commented on #27872
I never did get the opportunity to write that documentation, sorry!

As far as progress on this issue goes, I did manage to finish the `SimpleProduct` type as well as all of the shared data types that our various products provide. It shouldn't be _too_ much work to extend this to other product types now though!

[2020-12-16 21:47] ObliviousHarmony commented on #25958
With the `SimpleProduct` type finished; we can focus on adding other product types and the order type to finish fleshing out the MVP needed to complete this issue entirely!

[2020-12-16 22:30] maloherry commented on #28286
We can't edit variations in variable products without Enable jQuery Migrate Helper plugin and downgrading to the old version of jQuery.

[2020-12-16 23:01] mfs-mindsize commented on #25076
@AashikP @juliaamosova - I've done additional digging/discovery. My conclusion is that a couple tables within the email lay have a fixed width of 600. This affects both ltr and rtl. I changed those to use max-width so that on less-wide screens the tables will collapse (instead of being a fixed width).

In addition, some of the inline CSS is very generous with padding; padding that's a good fit for

[2020-12-16 23:14] rrennick commented on #28602
@NicestRudeGuy Thanks for reporting the issue. The two issues with the package were fixed in #28463 and #28464. We will be releasing a new version of the package this week.

[2020-12-16 23:14] #28602 closed

[2020-12-16 23:19] rrennick commented on #27775
@gateway Issues are closed when the pull request that addresses them have been merged. An open issue is the indicator that the issue has not been fixed.

[2020-12-17 00:34] imankiyanoosh commented on #18205
Hello everyone I have the same problem but when I try to select an image as you can see in the attachment there is a file selected which does not have name or link. I try to upload different images but none of them are working
![Screenshot (398)](https://user-images.githubusercontent.com/58703576/102422881-8ef8be80-3fbc-11eb-97f8-a7cfa7a6af23.png)

[2020-12-17 04:01] ldr2273 opened #28605 "Manually deleting product from an order no longer adjusts stock"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When editing an order and manually deleting a product in the order (not via a refund), the stock does not get readjusted properly as of W

[2020-12-17 05:37] WillBrubaker opened #28606 "terms checkbox text setting not obvious"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2020-12-17 09:50] RosanneBoxum opened #28608 "Can't edit product description anymore."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have s

[2020-12-17 10:03] artprojectgroup opened #28609 "Analytics -> Orders Export issue"
Reported in https://wordpress.org/support/topic/analytics-orders-export-issue/

Tested in almost two websites.

When you export orders and send the CSV file by email the client column just show “new” or “recurrent”, not the full client name, but when the CSV file is downloaded directly, only when you select a small number of orders, that column show the client name.

Please fix this issue as soon

[2020-12-17 10:53] ahegyes opened #28610 "New filter for valid search terms"
**Is your feature request related to a problem? Please describe.**
The AJAX product search in the back-end removes single character search terms. This causes an issue when searching for products like "iPhone X" since the X gets removed.

**Describe the solution you'd like**
I'd love for a filter to exist in the function get_valid_search_terms in the file class-wc-data-store-wp.php. So instead of `

[2020-12-17 11:08] tammullen commented on #28609
Hi @artprojectgroup

Thank you for reporting the issue. Analytics is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

[2020-12-17 11:11] tammullen commented on #28604
Hi @martinsotirov

I see from the system report you provided that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/

[2020-12-17 11:35] shulakmaster opened #28611 "Database request error"
I have found bug with "Filter Products by Attribute" widget.
In some cases it make wrong database request

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
See (1,2,3) screenshots
It couse

[2020-12-17 13:22] agasparotti commented on #24184
Hi,
I got a similar problem on my e-shop.

I got a calculation issue on a client’s woocommerce e-shop.

Here my example to explain you what’s happening.
I put in my cart three objects of 10.80 Euros value, total amount: 32,40 Euros.
Plus, I have shipping cost (9,05€), calculated with a third party plugin (Tree table rate shipping). For a subtotal amount of 41,45 Euro.

On this subtotal we have to

[2020-12-17 14:01] Cherrerotinoco commented on #18852
Hi guys!, a bit late to join this issue, but I found a solution for this.

I was trying to follow this solution in my project but I tried in many ways and it didn't work for me. The product price still appears without taxes to Google Bots.

**Finally I decided to calculate manually the tax** applied to the product because I think **woocommerce functions may not works for Google Bots**. Below i lea

[2020-12-17 14:51] marcochiesi opened #28613 "Order amount changed when saving (due to unexpected scientific notation numbers)"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In some circumstances, when simply saving the order from the WooCommerce backend, the order amount values get changed.

**Expected behavior**
Wh

[2020-12-17 15:22] gglobalstep opened #28614 "[GlobalStep - WooCommerce 4.8 + WPB 3.9] Non-ASCII character's product names fails to retain in Search text field on frontend"
## Bug Description:
Non-ASCII character's product names fails to retain in Search text field on frontend

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate al

[2020-12-17 15:26] gglobalstep opened #28615 "[GlobalStep - WooCommerce 4.8 + WPB 3.9] WooCommerce->Settings->Tax options fails to work for "Dreamhost test site""
## Bug Description:
WooCommerce->Settings->Tax, radio button and dropdown options fails to work for "Dreamhost test site"

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Hit the URL: http://gerpot.dreamhosters.com/wp-admin

[2020-12-17 15:30] gglobalstep opened #28616 "[GlobalStep - WooCommerce 4.8 + WPB 3.9] "Oops! That page can’t be found" is displayed upon tapping Privacy Policy linktext on Checkout Page"
## Bug Description:
"Oops! That page can’t be found" is displayed upon tapping Privacy Policy linktext on Checkout Page

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install

[2020-12-17 15:34] gglobalstep opened #28617 "[GlobalStep - WooCommerce 4.8 + WPB 3.9] Website gets stuck while loading the variations when user taps on "Create Variations from all attributes" options for variable product on existing test site."
## Bug Description:
"Create Variations from all attributes" option gets stuck on loading for second 50 variation after creating first 50 variations for a variable product for existing test site.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## St

[2020-12-17 15:38] gglobalstep opened #28618 "[GlobalStep - WooCommerce 4.8 + WPB 3.9] "Product data" section appears misaligned when minimized and viewed from the side panel on edit product page."
## Bug Description:
"Oops! That page can’t be found" is displayed upon tapping Privacy Policy linktext on Checkout Page

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install

[2020-12-17 15:45] simplicity17 opened #28619 "WooCommerce logout won't redirect properly, leads to white screen"
When logging in, everything works perfectly. When logging out, there are a number of outcomes, but after much testing, I believe the cause is the "Are you sure you want to logout" endpoint. If it does not appear, you get a white screen/broken redirect. If you go back from this broken screen, you have the WooCommerce notificaiton "Do you want to logout" with a logout button. From here, no matter wh

[2020-12-17 15:57] mfs-mindsize commented on #24581
@kroutony - I had some time to dig into this. As you noted, the "Hold stock (for unpaid orders) for x minutes" does not set an age/delay at the order level, but instead that value is the interval between checking for orders to cancel.

All is not lost :)

You probably noticed, that interval is set using wp_schedule_single_event().

[https://developer.wordpress.org/reference/functions/wp_schedule_s

[2020-12-17 16:10] raf222 commented on #24184
Hi agasparotti,
I think its calculation is right.

The difference is related to rounding on single item.
What you get is 9,119 but I wonder how would you calculate the tax for single product than?
You cant calculate tax on sub totals, that just wrong, and makes the tax per item messed up in the totals later.
The calculation here was like this: 1 item price is 10.80 the tax is 22% so 2,376 and that

[2020-12-17 18:11] mfs-mindsize commented on #24581
@kroutony - Quick follow up.

I opted or a clean and quick solution. I've "decoupled" the order "age" from the wp_schedule_single_event()'s $timestamp. The $timestamp for the hook: woocommerce_cancel_unpaid_orders has a default of 5 (minutes) and that value can be updated using the new filter: 'woocommerce_cancel_unpaid_orders_interval_minutes'.

When the PR is submitted (after an internal review

[2020-12-17 18:14] amarehealingarts opened #28621 "Woo Commerce not letting me edit my homepage with beaver builder"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-12-17 22:55] helgatheviking opened #28622 "composer install fails to build the autoloader, PHP Fatal error: Uncaught TypeError: Argument 1 passed to Automattic\Jetpack\Autoloader\AutoloadGenerator::dump()"
Me again with build script problem.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When pulling from the master branch, the autoloader needs to be rebuilt. So I run `composer install`.

[2020-12-17 23:03] Fiorinol commented on #22706
I commented on this 15 days ago. Not only is this obnoxious, but since I cannot manage low stock threshold on a variation level, I'm forced to put stock on a product level to 0 since the product itself doesn't have stock, so it shows my product as out of stock even though variations have stock.

When can we expect an update on this issue? Should we just make a plugin for it at this point? It seems

[2020-12-17 23:21] mfs-mindsize commented on #27040
@smachi - If you have a moment, I could use some additional input before I dive into this one.

[2020-12-18 05:09] Ashok5000 opened #28623 "Publish whole section missing"
Accedetly I have press the up arrow key on the Publish Section and now I can't get it back.
![Web capture_18-12-2020_103011_tera tera lk](https://user-images.githubusercontent.com/42916082/102576684-32acb080-411c-11eb-8bdd-4ed0a578ed9a.jpeg)

After that, I create a new admin Account now the publish section appears. But can't get the publish section for the previous admin account.

[2020-12-18 05:47] scottbuscemi commented on #27424
I have not. I do also want to note that I don't have the separate WooCommerce Admin plugin installed.

[2020-12-18 09:13] ironicmoka commented on #22706
they at Automattic are a great team, it's inexplicable to me how they managed to ignore this bug for two years and downplay this as a "feature request" as variation stock management is a feature already offered by them but it's not working, plain and simple.

If you really need this you'll have two choices:
- use another ecommerce plugin or CMS
or
- make a PR yourself to fix this

unfortunately mo

[2020-12-18 11:13] peterfabian commented on #22706
Hi folks. Apologies for the lack of updates here. Since this functionality is not something we advertise as working, I wouldn't consider it a bug, but I understand you might see it as such, if you expect this to be included.

When the low stock threshold was added back then, it was originally submitted including the low stock threshold for variations, but the team at the time thought it might be t

[2020-12-18 11:25] ironicmoka commented on #22706
Thanks for the clarification @peterfabian!

What puzzled us all is that in the product page you still give us the ability to choose to manage stock per variations and set a threshold, but it's not advised anywhere that this configuration will not work (but we assumed it will work since it's something we're able to set up)

[2020-12-18 11:36] tammullen commented on #28621
Hi @amarehealingarts

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

I note in the title you mention Beaver Builder. While our goal is to address all the issues reported in this reposi

[2020-12-18 11:46] smachi commented on #27040
Hi @mfs-mindsize

Let me describe how our data is stored and which filters would we need:

We work in two different scenarios:

In the first scenario, the sold products are composed of other products (Bill Of Materials). As an example, please think about packages of different weights of coffee and wholesale coffee. Buying one product would decrease the available stock of all the products that incl

[2020-12-18 11:59] Oremaker commented on #22706
@peterfabian I will recommend the developing group to manage or get experience at some point at a real working woocommerce shop with real products. This is WAY more impactful and important for most of the ecommerce owners than all the technical or improvement features of the last years.
It is just impossible to have a diverse range of products without variations, colours, sizes, patterns... and va

[2020-12-18 12:06] tammullen commented on #28619
Hi @simplicity17,
Thank you for reporting the issue. However, you also reported previously here https://github.com/woocommerce/woocommerce/issues/28493. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-12-18 12:06] #28619 closed

[2020-12-18 12:10] tammullen commented on #28493
Reopening to add feedback from https://github.com/woocommerce/woocommerce/issues/28619

Hi @simplicity17, Thank you for including more information on the linked issue. However, I also can’t reproduce it using the steps you provided. Everything is working as expected on my end, I tired with both the default My Account page and an additional page using the My Account shortcode

Your video shows The

[2020-12-18 14:10] tammullen commented on #28608
Hi @RosanneBoxum
Thank you for raising the issue. However, I can’t reproduce it on my end.
​
![Screenshot 2020-12-18 at 14 09 09](https://user-images.githubusercontent.com/24649833/102623625-b70e2c00-413a-11eb-8267-d750ed43ca82.png)

​
I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugi

[2020-12-18 14:13] tammullen commented on #28623
Hi @Ashok5000

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end.

![Screenshot 2020-12-18 at 14 12 45](https://user-images.githubusercontent.com/24649833/102623931-2c79fc80-413b-11eb-9c91-be8442922d97.png)
![Screenshot 2020-12-18 at 14 12 52](https://user-images.githubusercontent.com/24649833/102623937-2f74ed00-413b-11eb-8ea5-2df5a9b4ab

[2020-12-18 14:16] tammullen commented on #28605
Thanks for reporting this @ldr2273 !

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-12-18 14:24] agasparotti commented on #24184
Hi @raf222

I got your point. But. On other woocommerce webistes I got (and in which I replicate the same situation) it works properly.
Even more: we notice this one cent difference only because we replicate the calculations on one other software used for invoces. (fattureincloud.it)  There, we noticed the difference.

We are trying to understand which is the right way of making this calculations

[2020-12-18 14:59] raf222 commented on #24184
Well its all related to rounding and its not only 1 cent. Try to select 1000 items and there will be cases where its much more.
In my shop the issue was that the tax was calculated on sub total and not per product. Normally if you calculate tax per product and later multiply by number of ordered items it should be correct. For me the quick fix was using prices without decimal part.
I'm not sure ho

[2020-12-18 15:59] dcoturel opened #28625 "WooCommerce webhooks delivery"
Hi everyone,

I wanted to know if there is any way to make webhook delivery recurrent. Let's say, every 5 minutes and by cron. I'm working on an ERP integration and it would be desirable to have this. I looked in the WooCommerce docs but couldn't find anything referring to this.

Saludos,

[2020-12-18 16:35] helgatheviking opened #28626 "Add self-hosted vs WordPress.COM status to system status"
**Is your feature request related to a problem? Please describe.**
When support tickets come in from the marketplace I will frequently ask customers to create a staging site for me to work on while debugging their issue. This doesn't seem to work on .com hosted sites so it would be helpful to know in advance if they are self-hosted or not.

**Describe the solution you'd like**
An additional line i

[2020-12-18 17:24] #26054 closed

[2020-12-18 18:10] mfs-mindsize commented on #26857
@pinksharpii - I took a swipe at this. A PR will be submitted soon, after an internal (team) review on my end. If you look in the method: remove_order_item(), the solution looks something like this:

[code]
** Extra lines pasted here for context. Only the do_action is new.

[2020-12-18 18:44] mfs-mindsize commented on #26819
@juliaamosova - @jgreys said:

"Backward compatibility is now ensured in WordPress 5.5"

And since I can't reproduce this issue can I presume this bug is not a bug anymore? And this ticket can be closed?

If I can reproduce it, I'd be willing to work on it. Possibly.

[2020-12-18 20:20] peterfabian commented on #28459
Hi, I'm slightly confused here.
Looking at the options in the db, I can actually see 3:
- woocommerce_schema_version
- woocommerce_version
- woocommerce_db_version

It's true that we only update `woocommerce_db_version` explicitly when we perform changes in the database, but apparently, in newer versions, it gets updated to the current WC version. E.g. when I updated from 4.5.0 to 4.8, I could see

[2020-12-18 20:35] simplicity17 commented on #28493
Thank you for reopening the ticket and for your help, has been very busy here and wanted Woostify to get back to me with their take on the bug.

So this video is with Woostify theme and their WooCommerce Account widget and other widgets on the page, built with Elementor: https://www.youtube.com/watch?v=jNaXdRMM3wo&feature=youtu.be

This last video is with 2019 Theme installed, haven't updated Word

[2020-12-18 21:17] dcoturel opened #28628 "Replay webhook call"
Hi everyone,

I wanted to know if there is some way to re-send a web hook call that has failed. As far as I know, the only action available on a web hook call is to delete it.

Saludos,

[2020-12-18 21:36] piperis1 opened #28629 "Unable to select product in popup modal using an offloaded MySQL database"
We're using a managed database through DigitalOcean and whilst every part of the site works great, with many plugins working well too, I've recently noticed that the "add product" popup modal when editing/adding an order through the backend, no products appear. I've disabled all plugins and gone to storefront.

Please see video here - https://www.loom.com/share/2c25f3a130af461ca48225c9ddebd9da

I

[2020-12-18 21:37] #28359 closed

[2020-12-19 13:31] rodrigoprimo commented on #28286
Thanks for the list, @Pairfum-London. I will check it once we resume working on this early next year.

@maloherry, I'm not able to reproduce this issue. Maybe the problem you are having is due to another plugin that you have installed? If not, and you experience this issue on a site with only WooCommerce installed, could you please open a separate issue with details on how to replicate this bug?

[2020-12-19 14:06] maloherry opened #28633 "Endless spinning wheel in variable product"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
On variable products (or variable subscription product), when I go to the variations tab, the spinning wheel is endless, which makes it imp

[2020-12-19 16:09] Abbashan commented on #28582
+1

[2020-12-19 19:51] nts401 commented on #21674
Same problem here, would I be adding

add_action('wp_enqueue_scripts', 'wp_enqueue_scripts_fun',11);
function wp_enqueue_scripts_fun() {
wp_deregister_style( 'woocommerce-inline' );
}

to footer.php?

[2020-12-19 21:08] strarsis commented on #20277
@KoolPal: The plugin offers a mandatory phone field option (now?) by the way.

[2020-12-19 22:35] FreDeRoover commented on #28582
+1

[2020-12-19 23:57] tammullen commented on #28577
Hi @simongcc

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​
I tired
[code]
![Screenshot 2020-12-19 at 23 54 38](https://user-images.githubusercontent.com/24649833/102702032-c3d37280-4255-11eb-97ac-2025682b1cf8.png)
​
Please provide us with more details about the issue which may help us to evaluate it f

[2020-12-20 00:12] tammullen commented on #28576
Hi @simongcc

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​
I tired

[code]
![Screenshot 2020-12-20 at 00 10 34](https://user-images.githubusercontent.com/24649833/102702197-ef575c80-4257-11eb-9da6-627c21514b59.png)

Please provide us with more details about the issue which may help us to evaluate it f

[2020-12-20 00:53] rfigueroadiaz opened #28634 "Automatic purchase mailing error"
Hi.

Since December 14, I have not received emails from woocommerce when a sale is made, a cancellation or any action that I have configured. That day from the HOSTING service I received a message saying that I exceeded the PHP email limit and the service was canceled for 24 hours. Today the service is already working correctly, but from woocommerce the emails are still not being sent. I have made

[2020-12-20 04:40] panaloptec opened #28636 "Woocommerce product CSV importer stuck at progress bar"
Hello!

Following the latest Woocommerce update, I found that my CSV product importer is not working. It allows me to choose the CSV file, then detects the columns, following it goes to the importer but the progress bar won't iniciate and the loading mark keeps going.

I've tried the following:
1) The CSV file has 1325 entries, I've splitted the file in 2. It didn't work.
2) I've disabled all othe

[2020-12-20 04:42] 0949er commented on #28598
So if somebody else finds themselves here one day; the answer for me was to append the missing rich text in a second script that was of the existing product format: @context @type @id {Missing rich text}

I don't know exactly what changed with the background woocommerce function but the appended data I was doing originally was never making it back to the ultimate function that was generating the r

[2020-12-20 04:43] 0949er commented on #28598
Good luck

[2020-12-20 04:43] #28598 closed

[2020-12-20 05:58] KoolPal commented on #20277
@strarsis Thanks for notifying me.  Really appreciate this!

As you would have noticed from my comment, I have abandoned the WooCommerce PayPal Checkout Payment Gateway plugin for more than 2 years now.

I would rather focus on my business than waste time beta testing such plugins!

Thanks again! Take care, stay safe!

[2020-12-20 11:53] bernattorras opened #28637 "Disable the sale price schedule via CSV import"
**Describe the solution you'd like**

If you have products with a sale price and have set their "Date sale price starts", "Date sale price ends" fields, you can't delete these fields when updating the product via CSV.

If you leave these fields empty (or with empty spaces or wrong values) in the CSV file, they're simply ignored, so the only way to disable the sale is to use past dates there.

**De