[2022-07-20 09:14] jimjasson opened #33989 "[v6.8.0-beta.1] Fatal error: Called to undefined function Automattic\WooCommerce\Internal\Admin\get_current_screen()"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In WooCommerce v6.8.0-beta.1, the following fatal error shows up in the frontend in pages with blocks:

[code]

The code that is triggering this error has been introduced in this

[2022-07-20 09:17] CW2000 commented on #31411
We'd like to see this fixed too.

[2022-07-20 10:31] #33989 closed, assigned to moon0326

[2022-07-20 10:42] pmcpinto opened #33992 "Update context prop of wcadmin_tasklist_click"
**Description:** the team added a `context ` property to the `wcadmin_tasklist_click` event. The goal of this property is to identify if the user is interacting with the task list on the home screen or in any other screen through the side panel.

The Home value is being localized, which can add some friction to the data analysis. It would be better to have the Home value standardized rather than s

[2022-07-20 11:06] theminaldiwan opened #33993 "In Twenty Twenty Two theme single product page badge are hidden"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In single product page, onsale badge are hidden while showing it in Woocommerce product gallery.
![CleanShot 2022-07-20 at 16 29 24](https://user-images.githubusercontent.com/386

[2022-07-20 11:21] ilyasfoo opened #33994 "Shipping recommendation task track uses a different track name"
**Issue Description:**

p1658310743669339-slack-C01SFMVEYAK

`shipping-recommendation` task is filing its completion under a different name `wcadmin_secret_tasklist_task_completed` since it uses a different tasklist name. We should change this [`hidden_id`](https://github.com/woocommerce/woocommerce/blob/try/qr-code-login/plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php#L289) t

[2022-07-20 13:09] #33900 closed, assigned to roykho

[2022-07-20 13:11] Luc45 opened #33996 "Reduce flakiness in e2e by making login more robust"
Symptoms: All tests fail
Debug: Failed screenshots shows WordPress login screen
Probable cause: Incorrect first login attempt got cached and reused throughout the entire job
Probable solution: Make sure the first login succeeds or early bail execution https://a8c-woo-test-reports.s3.amazonaws.com/public/pr/33721/e2e/index.html#suites/aba641efa91488418cdf630ec8f23b35/afc8c95d987c6e0f/

[2022-07-20 13:23] dfww commented on #20336
@maskari2
Using this code makes my woocommerce checkout fail.
Running in a network setup - not sure if that has any saying.

No error returned other than the Order couldn't be processed (503)
Have checked that the webhookid is correct

Hope you can help me with some pointers or another solution - thx

Code:
`<?php`
/**
 * Plugin Name: Woo Custom Webhook
 * Description: Custom WooCommerce Webhook A

[2022-07-20 13:24] pehaa commented on #32854
Another report 5409476-zd-woothemes

[2022-07-20 13:46] #33996 closed, assigned to Luc45

[2022-07-20 13:55] masteradhoc commented on #33713
+1 having the same issue.

EDIT
Seems its due to a wrong translation. see https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/de-ch/default/?filters%5Bterm%5D=Alle+%25&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_login%5D=&filter=Apply+Filters&sort%5Bby%5D=priority&sort%5Bhow%5D=desc

see wrong in green and corr

[2022-07-20 14:15] swissspidy commented on #33713
New translation approved

[2022-07-20 14:23] masteradhoc commented on #33713
Thanks @swissspidy! @billrobbins can u check again please after performing a translation update?
if yes @psealock this can be closed :)

[2022-07-20 14:25] swatipawarGS commented on #33980
Hi @micboss71,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screenshot for reference :
![#33980](https://user-images.githubusercontent.com/94531721/179915194-e7456861-0f1a-4a07-a1db-d184a364ccde.jpg)

Priority of this issue will

[2022-07-20 14:26] swatipawarGS commented on #33940
Hi @nattawutk88,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/179918426-8a9bdaf4-e9cd-481d-a161-82add7c8b114.mp4

Please provide us with more detai

[2022-07-20 14:27] swatipawarGS commented on #33835
Hi @Dloranger,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screenshot for reference :

![#33835](https://user-images.githubusercontent.com/94531721/179922089-cd0b4ecc-8578-441c-a16b-6916b215e34e.jpg)

Please provide us with m

[2022-07-20 14:28] swatipawarGS commented on #33742
Hi @jgudmundson,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/179925328-c86335d4-100b-4410-b5e1-f58c70f05207.mp4

Please provide us with more detai

[2022-07-20 14:34] Konamiman opened #34000 "[Enhancement]: Load categories and attributes on demand in product editor"
### Describe the solution you'd like

As pointed out in https://github.com/woocommerce/woocommerce/issues/26539, the edit product page in the admin area will take ages to render (frontend issue) in a site with thousands of categories and attributes, since all the existing category names, all the existing attribute names, and all the existing terms for attributes assigned to the product will be loa

[2022-07-20 14:56] Dloranger commented on #33835
Here are all the woocommerce packages I have installed on our website.  I
have asked my customer to include his browser information into the github
issue as well.

[image: image.png]

I am not seeing the error as well on my local chrome browser if the browser
is a consideration, but continuing to try to reproduce the same issue as
was captured in his screenshot

On Wed, Jul 20, 2022 at 7:27 AM Swa

[2022-07-20 15:43] github-actions[bot] opened #42619 "[Flaky Test] Shows selected filters"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Shows selected filters

## Test path
`tests/e2e/specs/shopper/active-filters.test.ts`

## Errors

<time datetime="2022-07-20T15:43:10.264Z"><code>[2022-07-20T15:43:10.264Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/woocommerce/woocommerc

[2022-07-20 16:36] #33539 closed, assigned to octaedro

[2022-07-20 19:12] Luc45 opened #34003 "Add better logs for e2e setup/teardown"
Sometimes it's useful to have detailed insight on what happens on setup/teardown, as Playwright Trace is not available on these contexts.

[2022-07-20 19:14] #33559 closed, assigned to joelclimbsthings

[2022-07-20 20:48] jgudmundson commented on #33742
Hi Swati,

I updated to the latest wordpress and woo and reran the report. No
difference. I then thought I'd clear out the imported data again given
the updatedversion of WC. It doesn't let me do that (see attached
screenshot). I cleared the analytics cache as well. Didn't help.
Shoudn't I be able to reimport the data and delete the old data (which I
saw you could do in the previous WC version)?

[2022-07-20 23:07] juancpgo commented on #18425
@tzvir Your solution #2 doesn't work for me. It changes the value of the `data-priority` attribute of the fields, but it doesn't actually reorder them.

Any ideas?

[2022-07-20 23:34] #34003 closed, assigned to Luc45

[2022-07-21 04:57] #33915 closed, assigned to chihsuan

[2022-07-21 06:31] developerxxl commented on #31426
The cause of the problem is the cache plugin. (Wp rocket, wp fastest cache, Litespeed cahce…etc) And to fix it you can either clear your cache or disable your cache plugin and the problem will be solved. [source](https://8y35.com/learnpress/error-query-lp-v1-courses-archive-course/)

[2022-07-21 07:03] turpoint opened #34013 "Product attributes lookup table - "Enable table usage" option not persisting"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce > Settings > Products > Advanced

I've disabled the option "Enable table usage", but once a month, it gets enabled again, without any manual action.

### Expected beh

[2022-07-21 10:28] aezazs-multidots opened #34015 "Design issue coming to order admin home page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you open the order admin home page, then the circle design is created in the counts like order counts and stock counts, that design counts after 3 digits, and the design of

[2022-07-21 12:33] umeshggupta opened #34017 "Twenty Twenty Theme Single Product page in description tab content alignment issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we open a single product edit page and add an image and content in the description, content alignment issues

![CleanShot 2022-07-21 at 17 54 42@2x](https://user-images.gith

[2022-07-21 12:45] louwie17 commented on #33595
This turns out to be a Wordpress.com bug, caused in version 6.0.
There is a PR open to fix this in wordpress.com: https://github.com/WordPress/wordpress-develop/pull/2456
I will leave this open until the above PR is merged.

[2022-07-21 13:35] gglobalstep opened #34018 "[GlobalStep] "United States (US)" shipping zone fails to create with "Free shipping" method after installing "Jetpack and WooCommerce Shipping" from the "Business Details" tab."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"United States (US)" shipping zone fails to create with "Free shipping" method after installing "Jetpack and WooCommerce Shipping" from the "Business Details" tab.

### Expected

[2022-07-21 13:47] jeffpaul commented on #27012
Note that #33991 is up for review to help resolve this issue and superceed/replace https://github.com/woocommerce/woocommerce/pull/27020.

[2022-07-21 14:34] swatipawarGS commented on #33826
Hi @djzgfx,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screenshot for reference :

![#33826](https://user-images.githubusercontent.com/94531721/180176496-80ecc877-fbeb-4931-b2fe-600b0cc73ea5.jpeg)

Priority of this issue will

[2022-07-21 14:57] Luc45 opened #34020 "Do not run worfklow steps "Post Test Results" and "Publish test reports" in forks"
In the workflow [Run tests against PR](https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/pr-build-and-e2e-tests.yml), we should disable the steps "Post Test Results" and "Publish test reports" if the test is running on a fork, as it will always fail. Example: https://github.com/woocommerce/woocommerce/actions/runs/2711164337

[2022-07-21 14:57] Dloranger commented on #33835
@swatipawarGS

Here is the details I got back from my customer, I have reproduced the effect on our website.  happy to get whatever files you think will help

1. Google "daniels-codan 96 pin".
   Result: https://ics-ctrl.com/product/daniels-codan-96-pin-extender/

2. On this site, successively click "add to cart", "view cart", "proceed to checkout".

3. On "Billing details", select Country / Regio

[2022-07-21 16:28] #33439 closed, assigned to joshuatf

[2022-07-21 16:28] #33440 closed, assigned to joshuatf

[2022-07-21 16:39] ecgan opened #34025 "Implement the "Installed extensions" card"
This is part of the epic issue https://github.com/woocommerce/woocommerce/issues/33895.

In this issue, we will implement the "Installed extensions" card to be used in the new Marketing page.

For reference, here's a reference for the **existing "Installed marketing extensions" card in the current Marketing page**:

<img width="957" alt="image" src="https://user-images.githubusercontent.com/417342

[2022-07-21 17:48] AnnaMag opened #34026 "New product editing experience 0.5"

[2022-07-21 17:49] #34020 closed, assigned to rodelgc, Luc45

[2022-07-21 19:11] jarekmorawski opened #34029 "New product editing experience 0.5"
**As a merchant,
I want to easily publish a product
so I can earn money from my store**

---

**Description**
This epic contains all issues related to the 0.5 version of the new product form MVP where the merchant can create a product, add a name and description, assign it to a category, and upload images.

---

**Product info**

**Pricing**

**Images**

[2022-07-21 21:44] joshuatf commented on #33441
Closed via  #33721

[2022-07-21 21:44] #33441 closed, assigned to joshuatf

[2022-07-21 22:58] #33906 closed, assigned to jonathansadowski

[2022-07-21 23:06] darcie commented on #32854
5413581-zen

[2022-07-22 00:50] psealock commented on #33319
This one is finished 🎆

[2022-07-22 00:50] #33319 closed, assigned to psealock

[2022-07-22 03:42] RehanBhojani opened #34036 "Product description is not changing even after applying changes to the description, please resolve it quickly and also how to change slug or edit slug of product ?"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Product description is not changing even after applying changes to the description, please resolve it quickly and also how to change slug or edit slug of product ?

see both imag

[2022-07-22 07:32] gglobalstep opened #34039 "[GlobalStep] "3 steps" tour is displayed for countries other than "US/Canada/Australia/UK" on WooCommerce > Settings > Shipping" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"3 steps" tour is displayed for countries other than "US/Canada/Australia/UK" on WooCommerce > Settings > Shipping" page.

### Expected behavior

"2 steps" tour should be display

[2022-07-22 08:23] gglobalstep opened #34040 "[GlobalStep] "Shipping task" fails to display in task list when Jetpack is connected on "WooCommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Shipping task" fails to display in task list when Jetpack is connected on "WooCommerce > Home" page.

### Expected behavior

"Shipping task" should display in task list when Jet

[2022-07-22 08:40] gglobalstep opened #34041 "[GlobalStep] Unable to display Affirm icon after setting up WCPay with the US as a country on the "WooCommere > Settings > Payments" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unable to display Affirm icon after setting up WCPay with the US as a country on the "WooCommere > Settings > Payments" page.

### Expected behavior

Users should be able to disp

[2022-07-22 08:47] AntonioDiPassio-AppSys opened #34042 "Unexpected results when using get_terms() with taxonomy 'product_cat' while also filtering on 'meta_key'"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Executing get_terms() with taxonomy of 'product_cat' while also filtering on meta_key produces unexpected results.

This is caused by the filter wc_change_get_terms_defaults() ch

[2022-07-22 09:38] theminaldiwan opened #34043 "In Twenty Twenty Two theme Shop page and single product page footer tag is missing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

As I compared with Sample or other page having footer tag but in shop page and single product page footer tag is seems missing.

### Expected behavior

We need to add footer tag

[2022-07-22 09:49] #32162 closed, assigned to nobody

[2022-07-22 10:56] pmcpinto commented on #34000
@AnnaMag is it possible to have the team provide estimates for the changes proposed by Néstor? It would be great to see if we can include it in the next cycle.

@jarekmorawski I think all the suggestions make sense. But let me know if you have any concerns or additional recommendations. Thanks

[2022-07-22 12:14] rodelgc opened #34044 "Implement `maxFailures` in E2E tests to limit failures and size of Allure reports"
### Describe the solution you'd like

Currently, E2E test runs that have too many failures generate huge Allure test reports, and take a very long time to complete like so:

![Screen Shot 2022-07-19 at 8 23 47 PM](https://user-images.githubusercontent.com/4509348/180435942-d8167e45-db38-4f7e-93cf-c039b089f91c.png)

To address this, we can use Playwright's [`maxFailures`](https://playwright.dev/doc

[2022-07-22 13:36] jarekmorawski commented on #34000
I agree. This seems to align with both current and future product editing experience. Regarding attributes, I've recently suggested a few changes to the user experience. One of them quite nicely captures what we're trying to do here.

<img width="708" alt="image" src="https://user-images.githubusercontent.com/79307566/180450608-1d4e7c41-8343-4446-8727-b117e3b12c72.png">

Products without any attri

[2022-07-22 13:58] patrickbussmann commented on #18199
I saw this thing many times and now I thought its a good idea to release it as a plugin:
https://wordpress.org/plugins/admin-shipping-calculator/

Feel free to use 😇

[2022-07-22 13:59] patrickbussmann commented on #20925
I saw this thing many times and now I thought its a good idea to release it as a plugin:
https://wordpress.org/plugins/admin-shipping-calculator/

Feel free to use 😇

[2022-07-22 14:32] adrianduffell commented on #33963
I'll close this out (duplicate of #33920 and fixed by PR https://github.com/woocommerce/woocommerce/pull/33956)

[2022-07-22 14:32] #33963 closed, assigned to nobody

[2022-07-22 16:00] taspac commented on #24352
Please set `Low stock threshold` value in _All Products --> [Individual Product] --> Product Data --> Inventory_ tab for each product separately. This helps.

[2022-07-22 16:40] lanej0 commented on #34044
This sounds like a great idea.

I think that the work @Luc45 did with reducing flakiness during `global-setup` should also help a lot here -- that number of failures is 99.9% of the time caused by something going sideways during the setup.  He has the setup retrying a few times, and if setup fails, the [test run is aborted altogether](https://github.com/woocommerce/woocommerce/pull/34004/files#dif

[2022-07-22 18:25] Samuel-273 opened #34047 "Asistente de configuración"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Al ingresar al asistente de configuración en el punto 1 "Detalles de la tienda" en el campo "País /Región" no está funcionando, no se puede seleccionar ningún país

### Expected

[2022-07-22 18:31] #29465 closed

[2022-07-22 19:39] joshuatf commented on #33444
Closed via #33830

[2022-07-22 19:39] #33444 closed, assigned to louwie17

[2022-07-22 19:39] joshuatf commented on #33445
Closed via #33830

[2022-07-22 19:39] #33445 closed, assigned to louwie17

[2022-07-23 00:21] melek opened #34048 "[6.7.0] Import historical data tool not usable - 'Start' always disabled and 'Delete previously imported data' missing even if data exists."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Import historical data tool in **WP Admin → Analytics → Settings** cannot be used in WooCommerce 6.7.0.

The tool works in WooCommerce 6.6.1. Discovered in 5417151-zen.

![Sc

[2022-07-23 01:49] moon0326 commented on #34048
It looks like this has been broken since the version 6.7.0

WC 6.7.0 stopped making a request to `wp-json/wc-analytics/reports/import/totals?skip_existing=true&_locale=user` on  `Analytics -> Settings` page, making the start button greyed out all the time.

I don't see any difference in `/plugins/woocommerce-admin/client/analytics/settings`. You can compare it in [6.6.0](https://github.com/woocomm

[2022-07-23 04:49] sanskritkm opened #34049 "[Enhancement]: Frequently bought together option"
### Describe the solution you'd like

This feature is helpful please kindly add.

https://snipboard.io/Qo0wRl.jpg

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-23 09:22] fasttrackhost commented on #26539
Hi @Konamiman
I am glad to see there is interest to improve WooCommerce performance on the backend side. Editing products on the backend should be a lot faster without the need to "Open" the product sheet.

Is the "product categories" but for our custom taxonomy's what caused the browser to crash:
![](https://user-images.githubusercontent.com/937723/179691302-6e7e3167-18d5-485a-9920-63e6c76f4e11.p

[2022-07-23 20:08] PrinceOfAbyss opened #34051 "Update cross-sell items when deleting a product in checkout page through AJAX"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you have a bunch of products in your cart, where each of them has some cross-sell products set, and you delete a product via AJAX, the cart totals get updated via AJAX as we

[2022-07-24 00:37] #32440 closed, assigned to nobody

[2022-07-24 02:31] seanconklin opened #34052 "Missing block template for product attribute archives"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce with a block theme – When I create a product attribute, select to enable archives, and view an archives page, there is no block template displaying.

### Expected beh

[2022-07-24 02:37] seanconklin commented on #34052
Workaround: I hacked the parent theme (temporarily) by creating a `block-templates/` folder within it, placed a file within this folder named `taxonomy-pa_brand.html` where `brand` represents the taxonomy, and populated this file with the contents from `plugins/woocommerce/packages/woocommerce-blocks/templates/templates/taxonomy-product_tag.html`. This works as a temporary bandaid.

[2022-07-24 08:15] moxx82 commented on #32915
Running into same issue reported here. The deletion of the plugin with the **define ('WC_REMOVE_ALL_DATA', true);**  constant added to wp-config.php hangs with an error.

Sidenote: I only re-installed WC to add the constant and then delete the plugin again because I had a ton of old data hanging around, and now I can't get rid of the plugin :( What a bummer.

[2022-07-24 18:28] sunyatasattva opened #42618 "All Products inner blocks don't update consistently"
## Describe the bug

When moving inner blocks of the “All Products” block through the tree view, they don't update their order immediately. However, when, after moving them, the user goes to the “Edit layout” mode, the new order is shown correctly: if confirmed, it will then show also on the rendered block. If not confirmed, the blocks will revert also on the tree view.

## To reproduce

Steps to

[2022-07-24 21:02] nicdwilson commented on #33950
Reported in 5378316-zen

[2022-07-25 01:59] hybridwebdev commented on #8044
It's now August 2022, and this still remains an issue.

![image](https://user-images.githubusercontent.com/7633708/180678703-c970293b-25d8-41f1-88d6-eed616fb3f35.png)

When woo is displaying the variations we create, it's formatting them incorrectly. As you can see, the values are being mangled when outputting the variation list.

As mentioned by OP this is obviously an issue being caused by strip

[2022-07-25 03:20] #34048 closed, assigned to nobody

[2022-07-25 06:37] CharlieEtienne commented on #42649
@sunyatasattva is it still in the backlog?

[2022-07-25 12:13] evilgodhedgehog commented on #27419
Same error WC 6.7.0. Does not display filters in the sitebar. Your suggestions didn't solve the problem.

[2022-07-25 12:14] evilgodhedgehog commented on #27419
Same error WC 6.7.0. Does not display filters in the sitebar. Your suggestions didn't solve the problem.

[2022-07-25 13:57] ecgan commented on #33896
This task is done in PR https://github.com/woocommerce/woocommerce/pull/33964. Closing this issue.

[2022-07-25 13:57] #33896 closed, assigned to ecgan

[2022-07-25 14:08] swatipawarGS commented on #33835
Hi @Dloranger,

Thank you for the updated information, We are unable to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version, But we are able to reproduce the issue on provided site(https://ics-ctrl.com/product/daniels-codan-96-pin-extender/)

Please find the below screenshots for reference :

![#33835(site2)](https://user-images.githubusercontent.com/9453

[2022-07-25 15:18] JordenLCH commented on #32983
Thanks @r-martins, your solution works.
I had the same issue, and this error kept appearing, and I had no idea what was causing it.
After I tick the checkbox, the error no longer shows up.

[2022-07-25 15:36] #33613 closed, assigned to jorgeatorres

[2022-07-25 15:36] #33876 closed, assigned to jorgeatorres

[2022-07-25 17:33] nielslange commented on #33713
Closing due to https://wpch.slack.com/archives/C2WUU1K0W/p1658769195709479?thread_ts=1658325856.006399&channel=C2WUU1K0W&message_ts=1658769195.709479. As mentioned in https://github.com/woocommerce/woocommerce/issues/33713#issuecomment-1190319874, the problem was triggered by an incorrect translation.

[2022-07-25 17:33] #33713 closed, assigned to nobody

[2022-07-26 02:18] ilyasfoo opened #34060 "Track not fired for product templates in add product task experiment"
**Issue Description:**

In both experiments `woocommerce_products_task_layout_stacked_v2` and `woocommerce_products_task_layout_card_v2`, the track `wcadmin_tasklist_add_product` is not fired for `{ method: product_template }`.

<img src="https://user-images.githubusercontent.com/3747241/180907818-a0a6d70d-f053-4f74-a6b0-6fb1e0c0924f.png" width="350">

<img src="https://user-images.githubuserconte

[2022-07-26 05:07] adrianduffell commented on #32585
@verofasulo @SamratBiswas1 Can you confirm we should remove the marketing checkbox in this?

[code]

[2022-07-26 05:07] adrianduffell commented on #32585
I've updated the description with the changes discussed in the comments so far, and converted the issue to User Story + Gherkin format.

[2022-07-26 06:01] adrianduffell opened #34063 "Store Location: Skip Button"
## User Story

## Acceptance Criteria

[code]

## Screenshots

![image](https://user-images.githubusercontent.com/9312929/180934287-68ff836e-505d-4b49-aa40-158979230a1a.png)

[2022-07-26 06:05] adrianduffell commented on #32585
Also have now extracted the skip button changes into a new issue https://github.com/woocommerce/woocommerce/issues/34063.

[2022-07-26 06:29] ilyasfoo commented on #34063
@adrianduffell I assume when a user clicks on "skip" while having edited anything in the step, it should also popup a prompt to confirm the skip?

@verofasulo @SamratBiswas1 If we display the "skip" button in all of the steps, I think users can get confused with skipping the particular step, or skipping the entire profiler. Do you think it's fine, or should we think of another wording?

[2022-07-26 06:37] grogou commented on #42647
Maybe we can close this? xd

[2022-07-26 06:48] adrianduffell commented on #34063
@ilyasfoo That sounds good to me. I don't think we have this on the skip button at the moment, but we do when navigating with the progress bar?

<img width="1284" alt="Screen Shot 2022-07-26 at 2 47 16 pm" src="https://user-images.githubusercontent.com/9312929/180941548-76e0a7c4-8d98-4ac9-801d-502a9f3db57a.png">

[2022-07-26 07:09] adrianduffell commented on #34063
I've now updated the description with a new scenario for unsaved data.

@ilyasfoo @verofasulo @SamratBiswas1 What you think?

[2022-07-26 07:16] adrianduffell commented on #32585
Also removed the screenshots because they became a bit out of date 😄

[2022-07-26 07:43] reynotekoppele opened #34064 "Moment.js error when enabling Gutenberg blocks."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When enabling the Gutenberg blocks for WooCommerce products a JS error occurs (many times) in the console. This error causes additional javascript to not function properly.

###

[2022-07-26 07:43] RepoByMe opened #34101 "Moment.js error when enabling Gutenberg blocks."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When enabling the Gutenberg blocks for WooCommerce products a JS error occurs (many times) in the console. This error causes additional javascript to not function properly.

###

[2022-07-26 09:14] alessandrotesoro opened #34065 "[Enhancement]: Hook inside _wc_term_recount"
### Describe the solution you'd like

I'm looking to adjust the total product count inside the "Product categories" widget with some custom logic.

At the moment the only way I've managed to adjust the counts is by using the `get_terms` filter and saving the counts inside the `wc_term_counts` transient just like the `wc_change_term_counts` function is doing in WC itself but we're running unnecessa

[2022-07-26 10:00] Huebmaster commented on #27761
I faced the same bug as I have a trigger click working for the last thumbnail on selection change. On my Desktop the trigger always works but on mobile the same as reported happens to my product variation thumbnails. They get not clickable, only after 5 seconds or a swipe the thumbnails are clickable again and the trigger works, but then the issue comes back right after. I hope there is going to b

[2022-07-26 10:08] tomslominski opened #34066 "Carts with a deleted coupon crash on Redis-enabled sites"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On sites with Redis enabled (using the Redis Object Cache plugin in testing), trying to open checkout with a coupon applied which has since been deleted leads to a falal PHP erro

[2022-07-26 15:17] hoegrammer opened #34069 "Can't migrate database - invalid column values"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am migrating a WP site to new hosting. I made a backup of the database and am attempting to restore it. I'm getting MySQL errors about various woocommerce tables:

ERROR 1292 (

[2022-07-26 15:27] verofasulo commented on #34063
Thanks for taking care of this @adrianduffell @ilyasfoo 🙏

I attach this old exploration that I did when I joined to allow users to skip steps - the only mandatory field is Country / Region to locate them.

https://user-images.githubusercontent.com/98944206/181045790-354f9e17-e3f6-4836-8664-8278e7a61865.mov

So, in this case, the skip button would not be added in the first step but only in the oth

[2022-07-26 17:32] sunyatasattva commented on #42647
Is this not still the case, though? I believe performance should be somewhat important to us and perhaps we should bump the prio of this instead.

[2022-07-26 17:34] sunyatasattva commented on #42649
@CharlieEtienne Looks like it was closed as `stale`, I'm going to reopen it so stays in the backlog. But we have our hands full, so we are going to receive these notifications regularly. Once again, we appreciate external contributions. Since you are a dev, perhaps you could try your luck with it? I'm available to guide you if you need any questions answered.

[2022-07-26 17:40] #34069 closed, assigned to nobody

[2022-07-26 17:41] ObliviousHarmony commented on #34069
As some additional context @hoegrammer, this seems like something you should contact your hosting provider about. This seems to be either an issue with your database backup or a case where your table schema in your old database is different than the new one. In any case, this is something they are better prepared to assist you with.

[2022-07-26 17:43] ObliviousHarmony commented on #34064
Hello @reynotekoppele,

Since your report relates to our Blocks, I am going to transfer this issue to the appropriate repository for further handling.

[2022-07-26 17:43] ObliviousHarmony commented on #34101
Hello @reynotekoppele,

Since your report relates to our Blocks, I am going to transfer this issue to the appropriate repository for further handling.

[2022-07-26 17:44] ObliviousHarmony commented on #34052
Hello @seanconklin,

Since this relates to our Blocks, I am going to transfer it to the appropriate repository.

[2022-07-26 17:50] ObliviousHarmony commented on #34047
Hello @Samuel-273,

Você poderia arquivar este relatório em inglês?

(Sorry, Google Translate)

[2022-07-26 17:57] #34036 closed, assigned to nobody

[2022-07-26 18:01] ObliviousHarmony commented on #34036
Hello @RehanBhojani,

As some additional context, this is likely a problem with your web server rather than WooCommerce. Looking at the page's response headers, it looks like you are hitting your web server's cache. I would suggest contacting your web host about this issue and seeing what you can do there.

[2022-07-26 18:16] hoegrammer commented on #34069
I think you are right, yes, it's the database backup plugin I used. I think it is replacing NULLs with "" . Sorry to bother you!

[2022-07-26 21:59] samueljseay commented on #33921
This was resolved in #33955

[2022-07-26 21:59] #33921 closed, assigned to nobody

[2022-07-27 01:11] jeklau commented on #31942
I also encountered this problem, after a Google search problem, I had to remove 'putenv' from the php8 or 8.1 function blacklist, and the site was restored.

[2022-07-27 04:46] ilyasfoo commented on #34063
@verofasulo I think the skip button that we wanted was to allow users skipping the remaining setup. @SamratBiswas1 can correct me if I'm wrong?

Personally, I think both serve a similar purpose where users who don't want/not ready to share certain information can move forward to other parts of WooCommerce.

[2022-07-27 04:47] #34060 closed, assigned to nobody

[2022-07-27 06:28] ho30hero commented on #31478
Hello, @ObliviousHarmony and Woo Staff and others! :)
We don't see any changes yet. Please Do something about this.
It is really a bad thing for Woocommerce store managers and also for customers.
Regards

[2022-07-27 06:49] grogou commented on #42647
Yes I am about that sorry. It is 2 times already on stale status so. If I can help with that I will. Thank you.

[2022-07-27 07:11] emakx commented on #31478
@barryhughes
why this is still not taking care of ? no one care ? WooCommerce team should take 2 hours work

its over a year now,

[2022-07-27 07:57] verofasulo commented on #34063
@ilyasfoo I misunderstood then. I thought the idea was to implement a Skip button for each step, avoiding the "Skip all" solution that we have now.

[2022-07-27 07:58] galbaras opened #34071 "wc_get_product_attachment_props not processing $alt_text properly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The function `array_filter()` removes empty elements from the array, but it does not shift the remaining elements to the front of the array. Therefore, if element 0 is empty, but

[2022-07-27 08:37] Konamiman commented on #26630
The cleanest best solution I can think for this is introducing a new filter:

[code]

Do you think that would make sense @ObliviousHarmony?

[2022-07-27 08:37] Konamiman commented on #26630
The cleanest solution I can think for this is introducing a new filter:

[code]

Do you think that would make sense @ObliviousHarmony?

[2022-07-27 08:50] ilyasfoo commented on #34018
I was able to reproduce this with the latest trunk

[2022-07-27 09:50] vedanshujain commented on #32542
Thanks for the detailed report, it looks likes this is a bug and we should be setting the `slug` instead of name. I am marking this low priority for now (as compared to other high priority bugs in the repo). Given the effort you have already put in, we would really appreciate it if you can send a PR to correct this.

[2022-07-27 09:56] vedanshujain commented on #32543
This might be happening because the listing screen which is provided by WP Core is directly deleting the post without going through the data store. Thanks for the report, marking this as high priority.

[2022-07-27 10:01] vedanshujain commented on #32546
hey @Johnny99211 , thanks for the report. perhaps we can add a filter here (or may be a more generic one to suppress checks).

[2022-07-27 10:26] opr opened #42617 "Write internal documentation for the `wc/store/payment-method-data` data store"
We should document the `wc/store/payment-method-data` data store, as well as clarify existing docs in `/docs/third-party-developers/extensibility/checkout-payment-methods`.

We need to ensure the current docs in the path linked above are still relevant, and ensure they are accurate. If they are not, and still refer to the old `PaymentMethodDataContext` we should update them.

Issue https://github.

[2022-07-27 10:47] rynaldos opened #34075 "Unable to add category as a menu item."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have several categories in Product > Categories, but for some reason I am no longer able to add a category as a menu item. It only shows the "Uncategorized" category which I ca

[2022-07-27 10:56] MarkHollo commented on #34075
Hey @rynaldos,
You're trying to select a post category.

In the Appearance > Menus, in the upper right corner you'll see a button called Screen Options.

Click, then select "Product Category" to display.

![image](https://user-images.githubusercontent.com/51923873/181231107-c3987d9d-f6e5-4ce3-affe-fb418b269243.png)

Check the Product Category items, add a category and that's it.

[2022-07-27 11:01] rynaldos commented on #34075
Hi @MarkHollo

Indeed! It wasn't immediately clear, so thanks a bunch for pointing that out.

That resolves the issue.

[2022-07-27 11:01] #34075 closed, assigned to nobody

[2022-07-27 11:03] froger-me commented on #32542
Hi @vedanshujain,

Pull request #34076 created.

[2022-07-27 11:59] fishheadcode commented on #12898
Also got that error with german formal.
I am doing everything like always, so in WP6.0 and with (or without) Loco this issue still exists.
@mikejolley why are you closing this issue? There seems to be a lot of people having issues with that.
There are not much using formal language, but it does also affect them.

I am currently compiling new mo and po (where the translations are definitely contain

[2022-07-27 13:26] AntonioDiPassio-AppSys commented on #34042
I just tried it on version 6.7.0 with same results.

[2022-07-27 13:32] Aljullu commented on #34101
Thanks for opening this issue @reynotekoppele! We are having some issues reproducing it in our dev environments. What might be happening is a race condition when scripts are loaded, and that's why in some environments it's easier to reproduce than others.

We don't currently support the block editor for products, so fixing this is not one of our priorities right now. At the same time, we accept PR

[2022-07-27 13:50] #34013 closed, assigned to nobody

[2022-07-27 13:53] verofasulo opened #34077 "Proposed A/B Test: Task list improvements"
Test the effectiveness of the following design changes to improve the onboarding experience.

### 1st improvement

**Assumption**
The current approach is very good at highlighting the items on top of the list but it lacks connection with the tasks at the bottom.

**Design proposal**
Move the tasks already performed at the bottom so that the header can be contextual to the item highlighted. The tas

[2022-07-27 13:54] verofasulo commented on #34077
cc @SamratBiswas1

[2022-07-27 14:07] swatipawarGS commented on #33986
Hi @anand-parmar,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/181192036-a3074b29-82c5-439c-a6c1-0f0d8e1f1f58.mp4

Priority of this issue will be assi

[2022-07-27 14:08] swatipawarGS commented on #33993
Hi @theminaldiwan,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find the below screenshot for reference :
![#33993](https://user-images.githubusercontent.com/94531721/181193610-c910bec4-996c-410d-af4e-0ced42e94f45.jpg)

Priority of this issue

[2022-07-27 14:09] swatipawarGS commented on #34017
Hi @umeshggupta,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find the below screenshot for reference :

![#34017](https://user-images.githubusercontent.com/94531721/181196690-e6eeeb58-343c-4dfe-b272-e8b844ef535d.jpg)

Priority of this issue w

[2022-07-27 14:09] swatipawarGS commented on #34051
Hi @PrinceOfAbyss,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/181200664-d20ef47c-f4a4-481e-87c4-f2af80e98adf.mp4

Priority of this issue will be as

[2022-07-27 15:07] gglobalstep opened #34078 "[GlobalStep] "Set up additional payment options" task fails to display when we Set up WCPay on the "WooCommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Set up additional payment options" task fails to display when we Set up WCPay on the "WooCommerce > Home" page.

### Expected behavior

"Set up additional payment options" task

[2022-07-27 15:08] RepoByMe commented on #34101
I've been doing some extra debugging and it seems to be an issue specific to NGINX (I use Laravel Valet). Switching to an Apache environment (MAMP) seems to solve the issue, not quite sure what is wrong though I expect it is indeed some kind of race condition.

[2022-07-27 15:43] lkraav commented on #26630
I like this optional cart autoloading concept a lot.

[2022-07-27 15:51] #32188 closed, assigned to nobody

[2022-07-27 17:34] javix64 commented on #26029
Since time ago i had this issue and once again i'm facing on it.
What if we use threads? or some async func in the way to do it faster?
did someone try it?

[2022-07-27 17:42] NicoDevX commented on #26029
We do so, its faster but depends on the maschine. We update 50 in parallel threads

[2022-07-27 18:00] SamratBiswas1 commented on #34077
I would A/B test the following way:
- 2 variants : 1st variant with 1st improvement and 2nd variant with 1st and 2nd improvement
- Metric : 3 task completion rate in Wk 1. Keep it simple.

[2022-07-27 18:23] javix64 commented on #26029
Thanks so much for your answer, i will try to do it with python and concurrent.futures running in a raspberry, let's see... i didn't finish yet that part

[2022-07-27 18:36] ObliviousHarmony commented on #26630
Looking at the session code @Konamiman, we could put that in `WC_Cart_Session::init()` to short-circuit the initialization. Since all of the hooked methods are public, developers could implement their own handling as desired. A hook name like `woocommerce_cart_session_initialize` might be better too. The method isn't autoloading the cart so much as it is connecting it to various events.

[2022-07-27 20:03] moon0326 commented on #33958
@ilyasfoo

I opted to add an argument to the suggestion endpoint to return the default suggestions when the marketplace suggestion option is set to no in this [PR](https://github.com/woocommerce/woocommerce/pull/34083) for now

pinging @SamratBiswas1  and @pmcpinto again for feedback 🙏

[2022-07-27 20:13] #33684 closed, assigned to nobody

[2022-07-27 21:18] PrinceOfAbyss commented on #34051
Thank you for the fast response to the issue!

[2022-07-27 21:23] SamratBiswas1 commented on #33958
I would go ahead with option 2 since payments is critical and the user intent of disabling marketplace suggestion is more to do with extensions and not the basic functionality like payments.
Option 2 being - Create another endpoint that returns default suggestion regardless of if user accepted suggestions

[2022-07-28 01:40] #34018 closed, assigned to nobody

[2022-07-28 02:16] Brianmitchtay commented on #33950
Another instance of this in 5429719-zen

[2022-07-28 04:02] #33958 closed, assigned to moon0326

[2022-07-28 04:21] #33994 closed, assigned to adrianduffell

[2022-07-28 05:37] umeshggupta opened #34095 "Theme Twenty Eleven in the review tab asterisk symbol alignment not proper"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we open a single product page Theme Twenty Eleven in the review tab asterisk symbol alignment not Proper.

### Expected behavior

![CleanShot 2022-07-28 at 10 59 32@2x](http

[2022-07-28 05:50] theminaldiwan commented on #33993
Hi @ObliviousHarmony
I have reproduce the issue in our woocommerce version 6.7.0 and wordpress - 6.0.
![CleanShot 2022-07-28 at 11 14 32](https://user-images.githubusercontent.com/38693713/181430235-125a9519-b742-4616-8ac0-3016860f9979.jpeg)

and @swatipawarGS
Thanks for reproduce the same issue.

[2022-07-28 06:14] MarkHollo opened #34096 "[Enhancement]: Price Filter Widget Accessibility"
### Describe the solution you'd like

We've been receiving feedback from clients as their websites are mandatory to pass the accessibility tests in full (Europe), so we're getting back to you in regards to reported issues along with proposals on addressing these. We didn't create pull requests as we figured you might want to use a different approach in this particular matter.

The Filter Products

[2022-07-28 06:36] MarkHollo opened #34097 "[Enhancement]: Cart Table Accessibility"
### Describe the solution you'd like

We've been receiving feedback from clients as their websites are mandatory to pass the accessibility tests in full (Europe), so we're getting back to you in regards to reported issues along with proposals on addressing these. We didn't create pull requests as we figured you might want to use a different approach in this particular matter.

The Cart page to pas

[2022-07-28 06:51] ilyasfoo opened #34098 "Shipping zone transient not cleared when adding via smart defaults"
**Issue Description:**

In smart defaults creating a store based on US will immediately create a default shipping zone. However, when creating the default zone via smart defaults [here](https://github.com/woocommerce/woocommerce/blob/e05f52b18a2054488238524afb1a7566cdfe7b9a/plugins/woocommerce/src/Internal/Admin/Homescreen.php#L127-L130), the transient [here](https://github.com/woocommerce/woocomm

[2022-07-28 07:06] vedanshujain opened #34100 "[COT] Integrate object caching with WC_Orders object"
In #33634 we have implemented object caching frameworks. This issue scopes implementing that framework for orders, given that they are not going to be cached by WP's post caching anymore.

As part of this issue we need to atleast cachify `wc_get_order` method and flush the caches appropriately. This can also be imeplemented at the data store level (only for COT).

[2022-07-28 07:49] peterfabian commented on #31478
I'm going to have a look at this. Apologies for the delay.

[2022-07-28 07:55] nielslange commented on #34101
Hello @reynotekoppele 👋

Based on @Aljullu's comment in https://github.com/woocommerce/woocommerce/issues/34101, I'll move this issue back to the WooCommerce repo, in which you initially created this issue.

[2022-07-28 08:14] verofasulo commented on #34077
In addition, I'd like to track:

- % of skipped tasks and which ones
- Task click on control and variant - For each task. Would like to see if there's any difference in clicking on tasks that are now at the bottom of the list.

[2022-07-28 08:18] #34098 closed, assigned to ilyasfoo

[2022-07-28 08:35] KernkraftX360 commented on #32001
Same issue on my end. Any idea on how you work around this?

[2022-07-28 08:49] AashikP commented on #32001
@KernkraftX360  One workaround could be to let the system select a username  (*WooCommerce > Settings > Accounts & Privacy > Account creation > Check - When creating an account, automatically generate an account username for the customer based on their name, surname or email*) so customers don't have an option to set the email address as the username.

[2022-07-28 09:37] #32471 closed, assigned to vedanshujain

[2022-07-28 09:52] thisissandip commented on #27030
As a workaround, this can be resolved by using extension like [Conditional Shipping and Payments](https://woocommerce.com/products/conditional-shipping-and-payments/?aff=10486&cid=1131038) and creating shipping restriction rules.

[2022-07-28 11:17] kalengi opened #34102 "The is_admin() conditional test in the WC_Query constructor results in skipping of pre_get_posts for ajax requests"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When performing an ajax page load, the critical hook `pre_get_posts` in woocommerce\includes\class-wc-query.php does not get triggered. This hook is required in order to apply th

[2022-07-28 12:24] gglobalstep opened #34103 "[GlobalStep] "Total discount" field is misaligned when refunding with a discounted product on the "Woocommerce > Order"."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Total discount" field is misaligned when refunding with a discounted product on the "Woocommerce > Order".

### Expected behavior

"Total discount" field should align properly w

[2022-07-28 12:29] CharlieEtienne commented on #42649
@sunyatasattva thanks, the main problem is I don't know where to look.

[2022-07-28 13:31] #31947 closed, assigned to rynaldos

[2022-07-28 13:42] louwie17 opened #34104 "Consolidate some of the anon id logic within WooCommerce core"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

There are currently some minor discrepancies within WooCommerce

[2022-07-28 14:32] Alexx1xx commented on #33971
Hello,

Do we have any news?

[2022-07-28 15:27] opr opened #34105 "[Enhancement]: Consider not enforcing first name/last name in shipping/billing addresses"
### Describe the solution you'd like

In https://github.com/woocommerce/woocommerce-blocks/issues/3784 we reported an issue where Checkout failed because a surname was not supplied, I would like us to consider removing this requirement.

https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/ describes how validating names is _super_ tough.

We also do some country-specifi

[2022-07-28 16:16] #33746 closed, assigned to nobody

[2022-07-28 16:20] MarkHollo opened #34106 "[Enhancement]: Cart Shipping Calculator Accessibility"
### Describe the solution you'd like

We've been receiving feedback from clients as their websites are mandatory to pass the accessibility tests in full (Europe), so we're getting back to you in regards to reported issues along with proposals on addressing these. We didn't create pull requests as we figured you might want to use a different approach in this particular matter.

Cart Shipping Calcul

[2022-07-28 16:22] ecgan opened #34107 "Marketing page - Implement "Discover more marketing tools" card"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

This is part of the epic issue https://github.com/woocommerce/w

[2022-07-28 16:23] ecgan opened #34108 "Marketing page - Implement "Learn about marketing a store" card"
This is part of the epic issue https://github.com/woocommerce/woocommerce/issues/33895.

In this issue, we will implement the "Discover more marketing tools" card to be used in the new Marketing page:

<img width="572" alt="image" src="https://user-images.githubusercontent.com/417342/181589471-b48ec0e5-2901-4af1-825b-f31ab230c183.png">

The card should be collapsed by default.

For reference, here

[2022-07-28 16:35] MarkHollo opened #34109 "[Enhancement]: Product Category Display Accessibility"
### Describe the solution you'd like

We've been receiving feedback from clients as their websites are mandatory to pass the accessibility tests in full (Europe), so we're getting back to you in regards to reported issues along with proposals on addressing these. We didn't create pull requests as we figured you might want to use a different approach in this particular matter.

Product category dis

[2022-07-28 17:28] ObliviousHarmony commented on #34101
Hello @reynotekoppele,

We don't currently support the block editor on product pages. You can view a [full list of our supported blocks here](https://woocommerce.com/products/woocommerce-gutenberg-products-block/).

[2022-07-28 17:28] #34101 closed, assigned to nobody

[2022-07-28 18:09] #31135 closed, assigned to jonathansadowski, psealock

[2022-07-28 18:24] moon0326 commented on #34078
@gglobalstep Thank you for taking the time to report the issue.

I was able to reproduce the issue, but I think it is due to the different testing steps used.

According to the [AdditionalPayments::can_view()](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/AdditionalPayments.php#L71) and [WooCommercePayments::is_requested()](https

[2022-07-28 18:55] nftrendbrasil commented on #27400
@cagrioz Were u able to solve this problem? I'm having exactly the same here. Tks!

[2022-07-28 19:37] ObliviousHarmony opened #34110 "Clarify Changelog Git Push Hook"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Right now the messaging around what has gone wrong with the cha

[2022-07-28 19:39] ObliviousHarmony opened #34111 "Support `woocommerce/client/admin` Changelog Workflow"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Since folks have been using this workflow for changelog generat

[2022-07-28 19:39] ObliviousHarmony commented on #34111
The same is probably needed in the legacy assets!

[2022-07-28 19:44] ObliviousHarmony opened #34112 "Enforce Consistent Dependency Versioning"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Right now there are a ton of different versions of the same dep

[2022-07-28 19:48] zoemyers opened #34114 "Item Added to Cart Notification Does not Display on Shop page with AJAX buttons enabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On product pages, normally when you click "Add to Cart" you see a banner/notification message indicating the item has been added to cart with a button to view the cart. It looks

[2022-07-28 21:47] vkwasinski commented on #33806
I believe I'm having the same error. I'll try to debug it and see what I can find.

[2022-07-28 22:34] seanconklin opened #34118 "WC Reports sales-by-date PHP 8.0 fatal error class-wc-report-sales-by-date.php:329"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I received a PHP crash email regarding the URL https://gimmethegoodstuff.org/wp-admin/admin.php?page=wc-reports&tab=orders&report=sales_by_date&range=custom&start_date=2012-01-01

[2022-07-29 01:32] chihsuan commented on #34078
@moon0326 Yes, I agree with you. Let me close this. Thanks for looking into this! 👍

[2022-07-29 01:32] #34078 closed, assigned to moon0326

[2022-07-29 03:01] chihsuan commented on #34040
Test instructions are outdated.

The shipping task is only displayed when the store country is one of 'AU', 'CA', 'GB'. https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php#L129

[2022-07-29 03:12] chihsuan commented on #34040
I've updated the test instructions.

[2022-07-29 03:12] #34040 closed, assigned to nobody

[2022-07-29 03:36] dangtienngoc commented on #20344
For someone work with WPBakery Page Builder

[code]

**Before**
![image](https://user-images.githubusercontent.com/4260689/181677917-df3ea2e7-eb1e-4a31-90e9-6977e81da745.png)

**After**
![image](https://user-images.githubusercontent.com/4260689/181677991-5fa9e94f-310e-4be6-8f8e-078ef7a791f6.png)

[2022-07-29 04:33] thuautp commented on #33161
Also found in 5430427-zen

[2022-07-29 07:34] #34039 closed, assigned to nobody

[2022-07-29 08:22] #33199 closed, assigned to barryhughes

[2022-07-29 08:31] ChristiaanBoersma commented on #24533
We had the same issue after deleting the user account who created the webhooks. Recreating the webhooks solved it for us

[2022-07-29 08:48] vedanshujain opened #34123 "[COT] Add following unique constrains in database:"
- in order operational data table, order_id must be unique
- in order address table, order_id and address_type combination must be unique

[2022-07-29 09:38] AnnaMag commented on #33534
https://app.zenhub.com/workspaces/mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce/33534

[2022-07-29 10:19] AnnaMag commented on #33534
The issues are listed in the `no status ` column under "Product creation experience*".
We will prioritize 1 (selected from the 5-6 top ones based on the required effort).

[2022-07-29 14:24] zhongruige opened #34126 "Migrate `api-core-tests` to use Playwright"
Now that we've migrated our e2e test to use Playwright, we should look at migrating our `api-core-tests` as well so all our testing infrastructure is using the same framework.

[2022-07-29 15:50] grig-23 commented on #29519
Interesting! I did a few tests, investigating a slightly related topic, and here are my findings:

I had 4 remaining items in stock. I added 3 to the cart and placed an order with PayPal Standard. The order status  was set to “pending payment”. Stock isn’t reduced. But, I still see the products in cart! Therefore, I can’t add 3 or 4 again - it tells me `You cannot add that amount to the cart — we

[2022-07-29 15:53] sunyatasattva opened #42616 "New Product Query Block"
We are looking to create a new block, based (ideally or practically) on the Gutenberg Query Loop block whose goal is to replace all of our current product-displaying blocks. This new block should be flexible enough to reproduce all of the use-cases currently covered by existing blocks (e.g. showing all products, showing only new products, or products on sale, etc.), while also being filterable via

[2022-07-29 15:57] helgatheviking commented on #33808
Adding another

This notice might be from WP core, but I see `rtrim()` is used several times in Woo core.

[2022-07-29 18:18] sunyatasattva commented on #42649
@CharlieEtienne I think a great point to start could be: https://github.com/woocommerce/woocommerce-blocks/blob/trunk/src/BlockTypes/ClassicTemplate.php ?

[2022-07-29 18:57] vkwasinski commented on #33806
Actually the problem relies in this method:
![image](https://user-images.githubusercontent.com/13423266/181823397-8a873e78-9806-4058-be5b-c5c8ba1c15e0.png)

When the request reaches the **WC_REST_Products_V2_Controller@prepare_object_for_database** and

![image](https://user-images.githubusercontent.com/13423266/181825650-814bbad8-cd71-4519-848d-f4bf5f8f6488.png)

This logic flow is always reachin

[2022-07-29 19:01] vkwasinski commented on #29286
Actually I'm facing the oposite problem, I'm not able to create products because this logic flow always leads to the $this->error()

![image](https://user-images.githubusercontent.com/13423266/181827091-d8eab202-94e0-4e7f-bc54-c78eef87e991.png)

[2022-07-29 19:18] jlstysis opened #34127 "First Login for New User Always Fails With No Error Messages"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

1. New user is created during checkout
2. User gets a link in email to set their password
3. User follows link and sets new password
4. User is taken to the login page with messa

[2022-07-29 20:53] barryhughes commented on #33253
Great! I'll check that out shortly :-)

[2022-07-29 21:36] CharlieEtienne commented on #42649
@sunyatasattva Thanks but I think I don't have the skills for that one... I see in ClassicTemplate.php it's using `wc_get_template_part( 'content', 'product' );` but obviously the hooks in that template are not executing. I don't understand.

[2022-07-29 21:46] melek commented on #33969
Per @barryhughes WooCommerce practice has been to follow CLDR (current stable version is release 41). That still lists 48 provinces, rather than 58:

https://github.com/unicode-org/cldr/blob/release-41/common/subdivisions/en.xml#L1176-L1224

This is noted in `states.php`: https://github.com/woocommerce/woocommerce/blob/6.7.0/plugins/woocommerce/i18n/states.php#L7

[2022-07-30 01:07] sunyatasattva commented on #42649
Yea, it's odd. I don't know the answer at a glance (if I did, I would fix it 😁 ) and I would need to debug the flow and the lifecycle myself to understand what's going on and why filters are not being executed. :/

[2022-07-30 06:37] glagonikas commented on #29519
@grig-23 for clarity, I think your findings are slightly different to this issue and are expected behaviour (sort of).

In your tests, you are able to add 4 items to your second cart because the item is still in stock since there is at least 1 item available. This is not great UX (no errors are great UX), but it's understandable. Ideally, WC should allow you to pick a quantity up to the available

[2022-07-30 08:55] CharlieEtienne commented on #42649
I think it's related to https://github.com/woocommerce/woocommerce-blocks/issues/882.

There is a parent issue here https://github.com/woocommerce/woocommerce-blocks/issues/891 with all issues related to extend blocks

This is way beyond my skills 😯

[2022-07-30 09:24] CharlieEtienne commented on #42649
I also tried to edit directly [this line](https://github.com/woocommerce/woocommerce-blocks/blob/trunk/src/BlockTypes/AbstractProductGrid.php#L500) but none of the changes I made are reflected. Maybe there is a cache system or something?

[2022-07-30 19:03] KoolPal opened #34130 "Add shipping phone to shortcode Checkout"
### Describe the solution you'd like

Hello,

You have introduced Shipping Phone Number in Order and Customer classes via #30097

However, this is not completely usable without code snippets and modifying the core.

This does not add the field to the checkout. You need below code snippet to display it and make it usable
`add_filter( 'woocommerce_checkout_fields' , 'custom_override_checkout_fields'

[2022-07-30 19:27] WizardsOfTheInternet opened #34131 "Woocomerce Analytics Page sending TCP RST"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I can view woocomerce pages such as;

- Products
- Settings
- etc

But when visiting the Analytics page `/wp-admin/admin.php?page=wc-admin&path=/analytics/settings` I recieve a `

[2022-07-31 12:49] nerrad opened #42615 "Consider using the new `useSuspenseSelect` hook for improving perceived loading experience for various blocks."
WordPress 6.1 will expose some new `wp.data` APIs (currently available in Gutenberg) and one of them is `useSuspenseSelect`. This new function can be used instead of `useSelect` for anything that is async. It essentially adds [React `Suspense` support](https://reactjs.org/docs/react-api.html#suspense) to the data module. You can read more in the [PR that added `useSuspenseSelect`](https://github.c

[2022-07-31 23:55] CzarnaMamba commented on #13676
how does it work now?

[2022-08-01 02:45] nicdwilson commented on #33950
5426130-zen - in this case it occurs only in Firefox during the add-to-cart operation.

[2022-08-01 05:24] ObliviousHarmony commented on #32436
So, here's where this is at:

* https://github.com/WordPress/gutenberg/pull/41780
  * This has been merged and is included in the latest release [of `wp-env`](https://www.npmjs.com/package/@wordpress/env). This makes it so that the unit tests are always available in the container.
* https://github.com/WordPress/gutenberg/pull/41852
  * In this pull request I set up Gutenberg's repository to use th

[2022-08-01 05:52] ObliviousHarmony opened #34135 "Run Release Cherry-Pick Tool In GitHub Action"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

In the interest of automating more of the release process, we s

[2022-08-01 06:36] gglobalstep opened #34136 "[GlobalStep] After clicking "Connect" fails to automatically redirect to "admin.php?page=wc-settings&tab=shipping&section=woocommerce-services-settings" url."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After clicking "Connect" fails to automatically redirect to "admin.php?page=wc-settings&tab=shipping&section=woocommerce-services-settings" url.

### Expected behavior

After cli

[2022-08-01 07:01] gglobalstep opened #34138 "[GlobalStep] "United States (US)" zone fails to display with "Free shipping" method when we choose "United States" as store country while OBW on "WooCommerce > Settings > Shipping" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"United States (US)" zone fails to display with "Free shipping" method when we choose "United States" as store country while OBW on "WooCommerce > Settings > Shipping" page.

###

[2022-08-01 07:13] tommybutter opened #34139 "Buttons added via woocommerce_order_item_add_action_buttons are lost when a refresh is triggered via other action buttons."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a custom button is added to the Order Item Action section via the action 'woocommerce_order_item_add_action_buttons' the button functions as expected however the other defau

[2022-08-01 08:10] RayLinda opened #34140 "OUT Of STOCK!"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Many of our product are in Woocommerce on status OUT of stock. but all these products have stock. when we filter on Status on stock Woocomerce thinks that they have no stock. but

[2022-08-01 08:11] RayLinda commented on #34140
when we filter on status "available" we see that all our procuct are out of stock but this is not the case. When we refresh the product tempararely the status is on stock but after a while the status is again out of stock.

[2022-08-01 09:10] Konamiman commented on #26630
@ObliviousHarmony There's still a problem, though: if a dev wants to use the filter to disable the hookings, but still wants to later on enable some of the existing hooks from `init`, that's not possible because the cart session object is still inaccessible 🤔

[2022-08-01 09:41] adevade opened #34142 "Changelog often links to wrong PR"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The changelog often has multiple entries linking to the same Pull Request. This is very confusing when you want to read through the affected code.

![msedge_v5Uq4dk33R](https://u

[2022-08-01 10:04] martynmjones opened #34143 "Disabling set up task list results in empty "Finish Setup" popout"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `Finish Setup` button doesn't disappear if the Task List is disabled.

### Expected behavior

If the task list is disabled then I would expect the `Finish Setup` button to no

[2022-08-01 10:51] senadir opened #34145 "[COT] Order list view shows all types of orders, including Draft and trash types."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On the WooCommerce -> Orders view, when you're viewing "All" orders, you get Draft and Trash orders included as well
<img width="648" alt="image" src="https://user-images.githubu

[2022-08-01 11:37] kopfnick commented on #33077
What is the usual turnover time for a bug with priority "high"?

[2022-08-01 12:18] senadir opened #34147 "[COT] Order date not respecting store time"
- This was done as part of Checkout block testing.

When a new order is created via Checkout, the "created_at" time for it (be it draft or placed), the time is set at UTC+0, causing orders to be reported at the wrong timezone.

Those are orders placed now at a UTC+4 store.
<img width="1333" alt="image" src="https://user-images.githubusercontent.com/6165348/182143514-452cf54e-b79a-4e0c-aa3b-e77823b

[2022-08-01 12:33] senadir opened #34148 "[COT] order note not saved"
When checking out with Checkout block or shortcode, customer notes are not persisted, I didn't find any mention of them in wc_orders or wc_orders_meta tables.

Customer notes are set using `order->set_customer_note` function.

When it works, it look like this
<img width="246" alt="image" src="https://user-images.githubusercontent.com/6165348/182148533-32e3f440-5b97-4dec-baa5-159d036659be.png">
<im

[2022-08-01 12:34] ilyasfoo opened #34149 "Homescreen should default to two columns after setup tasklist is completed"
**Issue Description:**

There was a regression of [this PR](https://github.com/woocommerce/woocommerce-admin/pull/5465) where homescreen layout is set to two_columns after setup tasklist is completed. Regression may have caused by the removal of [this section](https://github.com/woocommerce/woocommerce-admin/pull/5465/files#diff-148b443dac4ecc6e426b7dca0475271e131ff015d751fb90262bd16156695856L215-

[2022-08-01 12:45] Dekadinious commented on #33674
@barryhughes

Of course! I was working on a product sync plugin and found that I needed to free the SKU for use when converting a simple product to a variation. So what I am doing is first freeing the SKU by deleting the simple product (to trash), then I am creating a new variation with all the data from the simple product and attaching it to the correct mother. If everything goes well I am perman

[2022-08-01 14:51] vedanshujain opened #34151 "Connect backfill to migrations when COT is authoritative and migration is triggered."
When COT is authoritative, and there are new orders in the COT table, migration does not pick it as expected and tries to migrate from posts table again (instead of backfilling). This issue scopes fixing this behavior.

[2022-08-01 15:08] pmcpinto commented on #33534
@AnnaMag I think we should prioritize #34000. Do you already have a sense of the time/effort required to implement the changes proposed in the issue? It can influence our prioritization.

Thanks

[2022-08-01 15:21] peterfabian commented on #34151
Quick fix commit that @vedanshujain did: https://github.com/woocommerce/woocommerce/commit/88aa6ac1e7652249de6e86e5318e315f2a01f7c9

Needs a proper fix.

[2022-08-01 15:43] vedanshujain commented on #34100
This also needs to be tested with persistent caches.

[2022-08-01 18:56] SuperVentureStudio opened #34152 "[Enhancement]: Apply coupon codes by URL (built in WooCommerce)"
### Describe the solution you'd like

Hi,

Why do we need to install (buy even?) a plugin to auto apply coupon codes from a URL?

It's a very simple mechanism and WooCommerce has coupons built in.

This feature helps online sellers a lot because sending coupons via email and having to copy it / remember it is not a good user experience.

Can we please have this built in?

Thank you

### Describe a

[2022-08-01 19:13] ObliviousHarmony commented on #26630
That's true @Konamiman, but, is that a desired behavior in the first place? It seems like that could be error-prone since there may be unintended side effects. If we're passing the cart session to the `woocommerce_cart_session_initialize` hook, they will have access to it and can handle more complicated use-cases like that in their plugin's code. What do you think?

[2022-08-02 03:11] rjchow commented on #32587
Reopening because we still need to add tracks

[2022-08-02 04:20] #33884 closed, assigned to roykho

[2022-08-02 06:45] chihsuan commented on #32585
Hey @verofasulo 👋  I have a question.

In the current design, we use the same store details component in the shipping task, so when we change the form in OBW, it will also change the shipping task. Do you think it's okay to update the shipping task with the new design? Or we should keep using the current one.

Current:
![Screen Shot 2022-08-02 at 14 40 28](https://user-images.githubusercontent.com

[2022-08-02 07:42] verofasulo commented on #32585
Excellent point @chihsuan 🙂 I think it's ok to align the shipping form, it makes total sense to me.

[2022-08-02 07:51] masteradhoc commented on #33808
+1 having same issues as original author

[2022-08-02 09:09] Konamiman commented on #32920
Proposal: p7bje6-4kh-p2

[2022-08-02 10:33] sunyatasattva commented on #42649
These are interesting finding @CharlieEtienne ! I'll see if I can take a look and give some more directions at some point, but I'm not sure, as we are currently working on replacing those Product Grids with a new, more customizable and performant Product Grid block: https://github.com/woocommerce/woocommerce/issues/42616

So our focus on this area is currently there.

[2022-08-02 11:41] rickblackdog opened #34155 "Coupon code entry field [Enhancement]:"
### Describe the solution you'd like

Make the add coupon field consistent between CART and CHECKOUT pages.

The checkout has a link for users to click which reveals the coupon field.

`Have a coupon? [Click here to enter your code]`

However on the CART page, the coupon field is already displayed inline. I have a large number of stores where users are unable to see the field, or understand where

[2022-08-02 11:43] pmcpinto commented on #34149
@adrianduffell is it possible to have this fixed and shipped in the upcoming Core release? TY

[2022-08-02 12:48] Konamiman commented on #26630
Pull request on its way: https://github.com/woocommerce/woocommerce/pull/34156

[2022-08-02 15:52] roykho opened #34158 "Failing CI PHPUnit tests"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The CI PHPUnit tests is failing after a PR is merged for example https://github.com/woocommerce/woocommerce/runs/7634659866?check_suite_focus=true however the tests when PR was c

[2022-08-02 16:40] barryhughes commented on #33674
Great, thank you!

In that case I'll set this to low priority, as it seems like this will not impact the majority of users—and it should also be possible to workaround it by acquiring a new instance of the product when the time comes to fully delete it (or to restore it):

[code]

[2022-08-02 17:02] #33253 closed, assigned to nobody

[2022-08-02 17:54] twwn commented on #32717
This is still occurring — and as explained, with code path obviously missing the variable definitions, the bug is entirely apparent.

Should this not be fixed?

[2022-08-02 18:14] barryhughes commented on #33637
Sorry for the delay: unfortunately, we so far cannot replicate. It's possible our configuration doesn't match yours in some way, however—for instance, we may be using different triggers—so any additional information that might be helpful would be appreciated.

[2022-08-02 18:47] sverleis opened #34162 "[Enhancement]: WooCommerce Tax Experimental Feature as a Core element"
### Describe the solution you'd like

It would be great to have the [**Prices including tax - Experimental Behavior**](https://github.com/woocommerce/woocommerce/wiki/How-Taxes-Work-in-WooCommerce#prices-including-tax---experimental-behavior) as a core feature of WooCommerce.

Many stores that have `Prices entered with tax` as **"Yes, I will enter prices inclusive of tax"** expect this to be a glo

[2022-08-02 19:16] #32894 closed, assigned to nobody

[2022-08-02 19:20] masteradhoc commented on #34162
Thanks @sverleis - +1 from me :)

[2022-08-02 19:33] roykho commented on #34071
Hi @galbaras  - thanks for the report. Can you please specify the exact file and line this issue happens? You can edit your original post and add a comment to state you've added it. Thanks!

[2022-08-02 19:39] namiokuzono commented on #30379
Also reported in p9F6qB-9VL-p2

[2022-08-02 19:53] roykho commented on #34118
Hi @seanconklin - thanks for reporting. I see you pasted a link for the steps to reproduce however can you please document detailed steps as to where you're clicking exactly. Please show all the clicking steps. Also if there needs to be orders in certain period or not. You can update your original post but also add a comment that you have updated it so we know.

[2022-08-02 20:01] #34131 closed, assigned to nobody

[2022-08-02 20:05] #34139 closed, assigned to nobody

[2022-08-02 20:06] #34140 closed, assigned to nobody

[2022-08-02 20:09] Axos11 commented on #33637
Hello, is there any possibility to give me a sandbox where I replicate the issue with a plain tagmanager account and you can then debug it?

[2022-08-02 20:41] seanconklin commented on #34118
Hi @roykho - I reproduce this on a LocalWP sandbox copy of the site with the TT2 (default WP) theme and only WooCommerce active (no other plugins). The steps are as follows:

- WP Admin > WooCommerce > Reports (Sales by date tab)
- Enter a date range that contains the date 2015-06-20
- Click the Go button
- Crash!

Note: I've isolated the crash to this one date. I opened all five orders from that

[2022-08-02 20:41] ObliviousHarmony commented on #33096
Hello @eclair4151, I'm going to tag our development team on this and see if they might have some feedback. As far as I can tell though, this likely isn't a bug with WooCommerce.

[2022-08-02 20:43] #33714 closed, assigned to nobody

[2022-08-02 20:46] ObliviousHarmony commented on #33835
Hello @Dloranger,

Just to verify, are you getting this with the Storefront theme? This feels like it's likely to be an issue with your theme given we cannot reproduce it.

[2022-08-02 20:46] #33835 closed, assigned to nobody

[2022-08-02 22:34] barryhughes commented on #33637
Not that we can share, unfortunately—though there are plenty of free WP sandbox services out there (if you can find one that allows for at least a week of usage before it is deleted, that might work).

[2022-08-02 22:38] barryhughes opened #34164 "[Enhancement]: Consider additional protections for woocommerce_uploads"
### Describe the solution you'd like

In relation to the `woocommerce_uploads` directory, let's consider the suggestion from @erikdemarco posted in https://github.com/woocommerce/woocommerce/pull/26207#issuecomment-1202738974. That is, (try) to set better default permissions:

### Describe alternatives you've considered

_No response_

### Additional context

No alternatives considered, I'm just c

[2022-08-03 00:14] nattawutk88 commented on #33940
@ObliviousHarmony Thanks for your help. The product is not a product page, but it's an attribute page. Can you also solve the same action on that page, if so I would be thank you so much :)

[2022-08-03 00:26] galbaras commented on #34071
Done.

[2022-08-03 00:37] #33080 closed, assigned to nobody

[2022-08-03 00:44] github-actions[bot] opened #42614 "[Flaky Test] should refresh the page only if the user click on button"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should refresh the page only if the user click on button

## Test path
`tests/e2e/specs/shopper/filter-products-by-rating.test.ts`

## Errors

<time datetime="2022-08-03T00:44:17.065Z"><code>[2022-08-03T00:44:17.065Z]</code></time> Test passed after 2 failed attempts on <a h

[2022-08-03 01:31] ilyasfoo commented on #34149
@pmcpinto I'll put this on priority, it should be simple enough to squeeze in the cycle

[2022-08-03 05:10] ghost commented on #32863
Hello I am using the latest Wc and this option is still showing up in the error log - is there an update on when it will be resolved please?

[2022-08-03 06:11] chihsuan commented on #32863
Hi @MysticMedusa Do you mean you still encountering this **with the same steps**?

Or could you please share the steps to reproduce the error? Thanks!

[2022-08-03 06:11] chihsuan commented on #32863
it might be worth mentioning that we have deprecated the update/get of options [that are not default from WC](https://github.com/woocommerce/woocommerce-admin/blob/78d0e10a99676c92650a5248917207e7304f5c1b/src/API/Options.php#L96-L102).

So it's [a known issue](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/2371) if other plugins are using this API.

[2022-08-03 06:43] Dekadinious commented on #33674
That's exactly how I solved it, yes :)

[2022-08-03 08:15] ilyasfoo opened #34166 "Conclude payment settings banner experiment"
The payments banner experiment completed on 26th July. pbxNRc-1yD-p2

Once the experiment have completed:

- Remove the experiment logic.
- Deploy the winning variation if required.

p1659424604197919-slack-C01SFMVEYAK

[2022-08-03 11:55] #32469 closed, assigned to vedanshujain

[2022-08-03 12:59] minaldiwan opened #34168 "In Product categories alternate thumbnail image overlap with categories name"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

 Product categories alternate thumbnail image overlap with categories name

### Expected behavior

Need to fixed width of thumbnail column.

### Actual behavior

 Product categor

[2022-08-03 13:04] theminaldiwan opened #34169 "In Product categories alternate thumbnail image overlap with categories name"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Product categories alternate thumbnail image overlap with categories name

### Expected behavior

Need to fixed width of thumbnail column.

### Actual behavior

Product categorie

[2022-08-03 13:06] #34168 closed, assigned to nobody

[2022-08-03 13:08] ghost commented on #32863
A

Am now on 6.7 which I updated hoping would fix the issue. It shows up on php error log and now the Add to Cart button does not work. Because it is literaly just non responsive, it's difficult to track what is going on. I am going to try Woo Support but they're usually unhelpful.

[2022-08-03 13:36] chihsuan commented on #32863
Hi @MysticMedusa Sorry to hear about that. 😞 The original issue has been fixed in 6.7 and this option error notice won't break anything. There must have another root cause.

I just tried it and was able to click on the "Add to Cart" button with the latest WC so I guess it might be due to a plugin you used. Unfortunately, I cannot help without more details. At this moment, Woo Support is indeed a p

[2022-08-03 13:51] jonathansadowski commented on #34110
Forgot to mention this in the fix via #34163. Closing via that PR.

[2022-08-03 13:51] #34110 closed, assigned to jonathansadowski

[2022-08-03 13:52] swatipawarGS commented on #34127
Hi @jlstysis,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/182548229-fa2e9094-bd94-4584-986e-846221c42826.mp4

Priority of this issue will be assigne

[2022-08-03 13:54] swatipawarGS commented on #34118
Hi @seanconklin,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.7.0 version, PHP 8.0.21 version, and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/182564133-bbba1d0d-e4c0-4c00-a833-b66eeb82c1bd.mp4

Please provi

[2022-08-03 13:55] swatipawarGS commented on #34095
Hi @umeshggupta,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find below the screenshot for reference :

![#34095](https://user-images.githubusercontent.com/94531721/182549969-dffe89d5-a205-4986-8fda-47536b76bef5.jpg)

Priority of this issue w

[2022-08-03 14:01] jlstysis commented on #34127
Thank you

From: Swati Pawar ***@***.***>
Sent: Wednesday, August 3, 2022 9:53 AM
To: woocommerce/woocommerce ***@***.***>
Cc: github ***@***.***>; Mention ***@***.***>
Subject: Re: [woocommerce/woocommerce] First Login for New User Always Fails With No Error Messages (Issue #34127)

Hi @jlstysis<https://github.com/jlstysis>,

Thank you for taking the time to report this bug, we really appreciate

[2022-08-03 14:05] imodouglas opened #34171 "Search result product sorting not working on AT sites"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a search is made for an item and you try sorting by price (low to high or high to low) it does not work.
Screen recording: https://d.pr/i/xwNaGR

### Expected behavior

Prod

[2022-08-03 14:16] pmcpinto opened #34172 "Customer Effort Score Tracks not working in key store management actions"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Customer Effort Score tracking is not working in key user actions such as adding a product. It looks like the regression was introduced in WC 6.7

### Expected behavior

To t

[2022-08-03 14:19] pmcpinto commented on #34172
@AnnaMag is it possible to have someone take a look at this and see if we can squeeze a fix in 6.8? We're using the Customer Effort Score as leading indicator, the sooner it's fixed the better. Thanks

[2022-08-03 14:38] vedanshujain commented on #27030
hey folks, this is going to take a bit more time, apologies! that said, we would really appreciate a PR if someone is keen, although this is going to be a tricky change. It seems like in `calculate_shipping` in class `WC_Cart` we need to clear all chosen method if any shippable package cannot be shipped.

[2022-08-03 15:01] vedanshujain commented on #32548
hey @synapticweb , thanks for the report. i think changing this to return names instead of slug would be a breaking change. we can perhaps another field `option_title` or `option_name` which can have the rendered name.

[2022-08-03 15:04] Monarka2000 opened #34173 "[Enhancement]: feature request for product default variation values to be determined dynamically based on stock status or any other parameter."
### Describe the solution you'd like

Feature request for product default variation values to be determined dynamically based on stock status or any other parameter.

Please add dynamic pre-selection when the default woocommerce pre-select goes out of stock because when the default pre-selected variation goes out of stock the add to cart button goes disabled and non-click-able which confuses custo

[2022-08-03 15:55] #33464 closed, assigned to jacob-sewell

[2022-08-03 15:55] #33465 closed, assigned to jacob-sewell

[2022-08-03 15:55] #33466 closed, assigned to jacob-sewell

[2022-08-03 16:20] #33829 closed, assigned to nobody

[2022-08-03 16:26] ghost commented on #32863
Hi Thanks for this - the add to cart issue was actually Akismet! I am so
sorry - however, why do you think this error is still showing up in the
logs?

---
  [4]

On 2022-08-03 09:36, Chi-Hsuan Huang wrote:

Links:
------
[1] https://github.com/MysticMedusa
[2]
https://github.com/woocommerce/woocommerce/issues/32863#issuecomment-1203960628
[3]
https://github.com/notifications/unsubscribe-auth/APXI

[2022-08-03 16:26] barryhughes opened #34174 "Preserve meta-data uniqueness"
Order meta can be duplicated because of a race condition.

We should take over from the original author and drive https://github.com/woocommerce/woocommerce/pull/33416 to completion. Full details, links and discussion can be found there. *This issue is really just for tracking purposes, so we don't lose sight of the PR.*

[2022-08-03 16:33] yaofong opened #34175 "woocommerce_new_coupon hook is not firing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

1. I'm trying to run some code when a coupon is being created, but the code is not executed in woocommerce_new_coupon hook.
2. I also tried to remove all the code inside create()

[2022-08-03 17:07] lixicus commented on #27026
August 2022 and still no fix for this.

[2022-08-03 17:19] #34175 closed, assigned to nobody

[2022-08-03 18:18] jorgeatorres opened #34177 "[COT] Implement `search_orders()` in the datastore"

[2022-08-03 20:27] Monarka2000 commented on #34173
Hi @woocommercebot,

Sure, Thanks for the prompt response. I am on hold till then.

[2022-08-03 20:35] barryhughes commented on #31389
Taking a look at this, it seems to be a conflict with `Advanced_Post_Cache` (which is present on Atomic sites). In these cases, the main query normally generated by `WP_Post_List_Table` is intercepted and a set of cached post IDs are returned—these do not appear to respect the newly established menu_order.

[2022-08-03 20:36] Brianmitchtay opened #34179 "Changelog.txt did not get updated for 6.7 release"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Looking over the Changelog.txt file in the main branch of 6.7, I see that it does not have any information about the changes made in 6.7 - https://github.com/woocommerce/woocomme

[2022-08-03 22:10] ObliviousHarmony commented on #33940
Sure @nattawutk88,

@swatipawarGS could you try to reproduce this issue on the attributes page?

[2022-08-04 01:02] #32585 closed, assigned to chihsuan

[2022-08-04 01:25] chihsuan commented on #32863
sorry

@MysticMedusa No worries. Glad you fix it!

logs?

I suspect there is a plugin that still uses the deprecated option API. Have you tried to disable all other plugins except WooCommerce and see if the error still shows up?

You could follow the [How to do a conflict test](https://woocommerce.com/document/how-to-test-for-conflicts/#section-2) to determine which plugin causes this. However, do

[2022-08-04 03:21] chihsuan opened #34182 "Update "Add store details" completion logic"
## User Story

I want to see choices relevant to my country,
To be able to set up my store faster and without having to see irrelevant details
And I can set up other store information later on the setting page.

## Acceptance Criteria

[code]

[2022-08-04 07:45] christofervas commented on #27014
Any progress on this?

[2022-08-04 10:09] HexaGT opened #34186 "Product bulk import error"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unable to import a .csv file for bulk product update. Error: Sorry the type of file isn't supported

### Expected behavior

CSV files should be allowed and is common

### Actual

[2022-08-04 11:22] #34123 closed, assigned to Konamiman

[2022-08-04 11:40] masteradhoc opened #34188 "Liechtenstein Checkout: Municipality Field shows which is not needed"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Country Liechtenstein the municipality field is shown although its not needed.
Liechtenstein doesnt have states and City/municipality is same in liechtentein - so its doubled

[2022-08-04 13:10] moory-se commented on #33523
Hi @Konamiman,

Now I've found a developer that think he can make this happen. Would it be possible to send you a draft of that implementation to see if you think you would merge it into core? I fully understand that it would be a preliminary saying (i.e: doesn't mean 100% it would be merged) but if you say no already now, there's no point in starting to code :)

[2022-08-04 13:35] roykho commented on #34186
Hi @HexaGT - Thanks for reporting. If convenient, is it possible for you to link your CSV file somewhere so we could test with it?

[2022-08-04 13:51] masteradhoc commented on #32636
@chihsuan for me the add products task is still there although i added a product. in my case i only have a woocommerce bookings product but the task doesnt close / not marked as completed.

When i create a simple product it gets closed. Is this intended that woo bookings products get ignored?

[2022-08-04 13:53] masteradhoc commented on #32924
@verofasulo why is there currently no way of skipping this page? not every shop needs one of the proposed marketing tools.

[2022-08-04 14:12] jazz-max opened #34193 "Over-slashing occurs when editing a review using the REST API"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I do PUT request to my local wordpress (wp.test) like this

[code]

### Expected behavior

I expect to receive response which should contain the text of the review, for example:

[2022-08-04 14:15] jazz-max commented on #34193
github strip slashes in my post
i try put
`{"review":"<p>test\" <img src=image.jpg /></p>"}`

and i receive
`"review": "<p>test\\\" <img src=\\\"image.jpg\\\" \/><\/p>",`

its over-slashing

[2022-08-04 14:22] jazz-max commented on #34193
I found difference between create and update methods in REST API

\WC_REST_Product_Reviews_Controller::register_routes()
register args also with create callback

[code]

but  update callback use only
`'args'                => $this->get_endpoint_args_for_item_schema( WP_REST_Server::EDITABLE ),`

which in turn applies the rest_sanitize_request_arg and wp_filter_post_kses to the body of the review

[2022-08-04 14:30] github-actions[bot] opened #42613 "[Flaky Test] should show only products that match the filter"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
should show only products that match the filter

## Test path
`tests/e2e/specs/shopper/filter-products-by-rating.test.ts`

## Errors

<time datetime="2022-08-04T14:30:37.838Z"><code>[2022-08-04T14:30:37.838Z]</code></time> Test passed after 3 failed attempts on <a href="http

[2022-08-04 14:32] swatipawarGS commented on #33940
Hi @nattawutk88 @ObliviousHarmony,

Thank you for the updated information. but we are unable to reproduce this issue on the attributes page at our end with WooCommerce 6.7.0 version and WordPress 6.0.1 version.

Please find the below screencast for reference:

https://user-images.githubusercontent.com/94531721/182784628-343bfee2-1a39-446a-92e6-d89d306bb69d.mp4

Please provide us with more details

[2022-08-04 16:16] verofasulo commented on #32924
Hey @masteradhoc

It's actually something we designed and ready to be implemented: https://github.com/woocommerce/woocommerce/issues/34077

[2022-08-04 16:55] #33940 closed, assigned to nobody

[2022-08-04 17:00] ObliviousHarmony commented on #33948
About the `dev` and `start` scripts:

This script feels like it's doing a lot that it doesn't need to.

* Can we add `build:feature-config` to `"turbo:build"`? Would you want it to build the feature config whenever it builds the command?
* We don't need to run `build` on all of the JS packages, right? They're dependencies of `woocommerce/client/internal` and Turbo will build them for us, right?
*

[2022-08-04 20:45] lanej0 opened #34194 "Testing PR#33688 - "1 of 2 steps" is shown for the first step in a 3 step tour"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When testing PR#33688 - Intro tooltips for shipping smart defaults, the first step of the 3 step tour shows "Step 1 of 2".  Clicking next then shows "Step 2 of 3" and step 3 is d

[2022-08-04 21:43] eclair4151 commented on #33096
I ended up nuking my server and redeploying, and somehow this ended up fixing things. I agree, I assume some plugin was causing havoc. The issue seems gone now though.

[2022-08-04 21:43] #33096 closed, assigned to nobody

[2022-08-04 23:07] samueljseay opened #34196 "Fix `ContainerException` bug with running code-analyzer"
When running the code-analyzer and starting `wp-env` the environment's crash with some kind of classloading issue.

Its possible we're not running some kind of composer setup that is crucial for the classes to load.

The error:

[code]

[2022-08-05 00:03] #33907 closed, assigned to samueljseay

[2022-08-05 00:23] ObliviousHarmony opened #34197 "Automatically Label Community Issues & Pull Requests"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

In order to better identify community contributions, we should

[2022-08-05 03:29] #33877 closed, assigned to jorgeatorres

[2022-08-05 03:44] seanconklin commented on #34118
I was able to overcome the error in sandbox by deleting all orders other than the five from the affected date (2015-06-20), problem reproduced, then I clicked Woo > Status > Tools and cleared (WooCommerce transients, Expired transients, Orphaned variations), problem cleared. I believe WooCommerce transients was the effective tool here.

I tried running those same tools in production, still reprodu

[2022-08-05 03:45] the-csaba opened #34198 "Creating coupon with existing code via REST API"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating a new coupon via RET API with an existing coupon code, the behaviour is different from the interface.

In both cases, an error message showed that "Coupon code alre

[2022-08-05 04:35] chihsuan commented on #32636
@masteradhoc Thanks for reaching out!

I was able to reproduce this.

Good question. Yes, I think it's intended because [the booking product type is not natively supported by WooCommerce core](https://github.com/woocommerce/woocommerce/blob/99f8cd15b38c4d2122a2d0526d1cef5e10d79bce/plugins/woocommerce/includes/wc-product-functions.php#L596-L606).

However, it does confuse that the add products task

[2022-08-05 04:40] chihsuan commented on #32636
BTW, I forgot to close this issue. The task is already completed.

[2022-08-05 04:40] #32636 closed, assigned to nobody

[2022-08-05 05:57] HexaGT commented on #34186
Hey, We tried with the default file I. E. Exported a copy of the 4-5 products manually created and then tried re-uploading the same file and it just throws the same error. Previously, we assumed its theme related and tried uninstalling the theme too but the theme isn't the issue. We imported CSV files for tax types and that works! Regards, Hexa GTFrom: Roy Ho ***@***.***>Sent: Thursday, 4 August,

[2022-08-05 06:28] HexaGT commented on #34186
Hi Roy,

Also, attached is the file we are using.
[Graphical user interface, text, application, email  Description automatically generated]

--
Regards,
Hexa GT

From: Roy Ho ***@***.***>
Date: Thursday, 4 August 2022 at 7:06 PM
To: woocommerce/woocommerce ***@***.***>
Cc: HexaGT ***@***.***>, Mention ***@***.***>
Subject: Re: [woocommerce/woocommerce] Product bulk import error (Issue #34186)

Hi

[2022-08-05 06:30] druesome commented on #32915
If anyone wants to proceed with completely removing WooCommerce, here is a workaround:

1. Add `define( 'WC_REMOVE_ALL_DATA', true );` to the wp-config.php file, on top of the line `/* That's all, stop editing! Happy blogging. */`
2. Go to Plugins > Plugin Editor and select WooCommerce from the drop-down. Add this code to line `38` of **uninstall.php**: `include_once dirname( __FILE__ ) . '/woocom

[2022-08-05 06:53] Konamiman commented on #33523
Hi @moory-se, yes, any contribution towards turning this into a WooCommerce feature will be welcome. However in this case I'd say that before submitting an actual implementation it would be great if the developer could share some kind of "design document" (it can be just a comment in this issue) explaining the approach to follow, which database changes would be needed (if any), which code would be

[2022-08-05 07:02] theminaldiwan opened #34200 "Need to add space between author image and meta"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In woocommerce reviews section author image and meta there is no gap is display.

### Expected behavior

we need to add space between author image and meta in woocommerce reviews

[2022-08-05 07:22] strarsis opened #34202 "Tax not added when using `woocommerce_package_rates`/`WC_Shipping_Rate`"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Tax is not included to the final tax when using the `woocommerce_package_rates` filter and creating a new `WC_Shipping_Rate` there with tax.

### Expected behavior

Shipping cost

[2022-08-05 07:26] rjchow opened #34203 "PNPM Update: WooCommerce Admin Tests failing"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
After upgrading to PNPM 7 and [resolving the missing type defini

[2022-08-05 07:26] rjchow commented on #33685
I've added the necessary @types packages in order for the build process to complete without missing type definition errors (or any errors)

However it looks like there is a new issue with tests, and I don't see a direct causation between adding type definitions and `useSelect` returning undefined - so I've filed it as a [separate issue](https://github.com/woocommerce/woocommerce/issues/34203) and

[2022-08-05 07:27] #33685 closed, assigned to rjchow

[2022-08-05 07:53] #34149 closed, assigned to ilyasfoo

[2022-08-05 09:40] peterfabian commented on #30379
As this has been raised again in p9F6qB-9VL-p2, I had a closer look at this again.

I tried to upload a large image via `Set product image` or `Add product gallery images`, but it would either upload the file correctly, generate thumbnails and then work in the editor, or it would fail with the error message mentioned above (`The server cannot process the image. This can happen if the server is bus

[2022-08-05 10:42] ilyasfoo opened #34207 "TypeError on CustomerEffortScore feedback prompt"
**Issue Description:**

When doing a CustomerEffortScore survey, an error occurs that may result in the feedback not getting recorded.

<img width="1358" alt="image" src="https://user-images.githubusercontent.com/3747241/183059415-011f25b5-de96-4903-a367-38890b0a8aea.png">

Video: https://d.pr/v/gwFJNE

To reproduce:

1. Set up a fresh store, go through Onboarding wizard and enable tracking
2. Go

[2022-08-05 13:13] konnectikaBNC opened #34208 "Woocommerce - Rental Products plugin - 1st bug"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For the option Rental or Purchase -> When i have a stock = 1 for a product, client rents it for a number of days, pays for the rent. After this, if client goes to purchase the pr

[2022-08-05 14:51] barryhughes commented on #34193
Thank you for the detailed notes, we can reproduce on our end.

It looks like you've already looked into this in a lot of depth—are you interested in submitting a pull request? No worries if not, we'll still get to it, but it occurred you may already have developed your thinking on the best solution.

[2022-08-05 15:06] pmcpinto commented on #33534
Hey Anna, I'm not sure if you saw my previous comment. Thanks :)

[2022-08-05 16:02] roykho commented on #34202
Hi @strarsis - Thanks for reporting. Could you please provide the exact snippet of code you're using on that filter?

[2022-08-05 16:04] #34208 closed, assigned to nobody

[2022-08-05 17:11] barryhughes commented on #34102
Hi!

Thanks for the report.

How and when WooCommerce interacts with underlying WordPress mechanisms (such as "the loop", used to list products in various frontend contexts) is often best regarded as a private implementation detail. For any custom code, our recommendation is as follows (taken from our [wiki](https://github.com/woocommerce/woocommerce/wiki/wc_get_products-and-WC_Product_Query)):

I

[2022-08-05 17:11] #34102 closed, assigned to nobody

[2022-08-05 18:15] ObliviousHarmony commented on #29362
Some good news for you @helgatheviking,

We've updated our infrastructure so that `turbo` commands are abstracted and don't need to be remembered anymore. You can now run `pnpm run build` from `plugins/woocommerce` and it will take care of everything for you. You can also run it from `plugins/woocommerce/client/legacy`. There are also some advanced usages documented, but, those are optional.

[2022-08-05 18:27] #33683 closed, assigned to nobody

[2022-08-05 18:40] #34172 closed, assigned to nobody

[2022-08-05 19:57] mboyle190 commented on #32703
Hey all @verofasulo @pmcpinto @ilyasfoo @adrianduffell I noticed on my support rotation in setting up a new store that this inbox notification is still live and publishes for every new store on set-up, but the maze.co link is no longer active. I'm assuming that means the survey is closed (or we're not monitoring results), so I'm unpublishing the note for now. The note set-up is here FYI: https://w

[2022-08-05 20:06] helgatheviking commented on #29362
@ObliviousHarmony nice!! I did figure out how to write a bash script just for this, but in typical fashion still ran into problems yesterday with a fatal error due to missing file. 🤷🏻‍♀️ Will check again on Monday.

[2022-08-05 20:42] KevinBrent opened #34213 "Attribute Taxonomy Options Sort Order Uses Wrong Meta Key"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When an attribute taxonomy option is created the sort order `meta_key` is `order_{taxonomy}`. But, when the sort order is updated via the admin, the new sort order is saved with

[2022-08-06 02:55] nicdwilson commented on #33925
Seems to be fixed by PR https://github.com/woocommerce/woocommerce/pull/34054

See also this issue: https://github.com/woocommerce/woocommerce/issues/34048

[2022-08-06 06:38] #34179 closed, assigned to jonathansadowski

[2022-08-06 08:42] kalengi commented on #34102
Thanks @barryhughes. I'll implement your suggestion and let you know how it goes.

[2022-08-06 15:54] sabernhardt commented on #34095
This was caused by a change to Twenty Eleven, and it should be fixed in the next version of the theme.
https://core.trac.wordpress.org/ticket/56297

[2022-08-07 22:15] psealock opened #34215 "Assign pull request reviews to community contributions"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Community pull requests should be assigned a reviewer Automatic

[2022-08-08 00:47] psealock commented on #34135
I like this option as well, but it poses a problem because the release lead should be the only person firing off this task. Theres no way to establish permissions per label as far as I can tell. A manual workflow will be better. Other admins can still fire off the workflow, but you'd get less accidental usage.

[2022-08-08 01:39] ilyasfoo commented on #34207
This seems to be fixed by https://github.com/woocommerce/woocommerce/pull/34209, closing

[2022-08-08 01:39] #34207 closed, assigned to nobody

[2022-08-08 01:41] ilyasfoo commented on #32703
Thank you for catching and rectifying that, @mboyle190!

[2022-08-08 05:21] #34182 closed, assigned to chihsuan

[2022-08-08 05:25] #33842 closed, assigned to chihsuan

[2022-08-08 06:31] umeshggupta opened #34219 "Theme: Twenty Eleven: alignment issue in WooCommerce single product page description tab content"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we open a single product page Theme Twenty Eleven description tab content alignment issue

### Expected behavior

![CleanShot 2022-08-10 at 14 34 42@2x](https://user-images.

[2022-08-08 07:58] dnwjn opened #34221 "JS error on product save since 6.7.0"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Since WooCommerce 6.7.0, if I update a product I get the following JavaScript error:

[code]

The line that triggered the error (file: `class-wp-products-tracking.php`):

<img wi

[2022-08-08 08:29] verofasulo commented on #32703
Thank you @mboyle190! Yes, the survey is closed so please just unpublish the note 🙏 Thanks a lot

[2022-08-08 08:55] xristos3490 opened #34222 "[COT] Deleting refunds using AJAX isn't working"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Currently, there is a post type checking happening in the `WC_Ajax::delete_refund()` method that needs to change. See: https://github.com/woocommerce/woocommerce/blob/cot-main/pl

[2022-08-08 09:45] HexaGT commented on #34186
Hi Roy,

Any update?

--
Regards,
Hexa GT

From: ***@***.*** ***@***.***>
Date: Friday, 5 August 2022 at 11:58 AM
To: woocommerce/woocommerce ***@***.***>, woocommerce/woocommerce ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [woocommerce/woocommerce] Product bulk import error (Issue #34186)
Hi Roy,

Also, attached is the file we are using.
[Graphical user interface, text, application, email

[2022-08-08 09:53] vedanshujain opened #34223 "[COT] Investigate flakiness in migrating orders via Action Scheduler"
@ilyasfoo reported flakiness when migrating orders, where just triggering the migration does not actually migrate orders.

An example workflow would be:
1. Have an initial 1 order
2. Enabled COT
3. Wait until initial sync is done
4. Created 10 new orders via smooth generator
5. Set "Use the WooCommerce orders tables" & save
6. Created another new order

The 10 orders created via smooth generated s

[2022-08-08 09:56] ilyasfoo commented on #34223
For additional context, I was testing this in a `wp-env` environment

[2022-08-08 11:04] peterfabian commented on #30379
I think this would also help: https://core.trac.wordpress.org/ticket/23127

[2022-08-08 12:31] iamdharmesh opened #34224 "Uncaught TypeError: Unsupported operand types: string * int"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This bug is a continuation of https://github.com/woocommerce/woocommerce/issues/30168 and https://github.com/woocommerce/woocommerce/issues/33924, both of those bugs are fixed bu

[2022-08-08 13:16] tommusrhodus commented on #42663
Whilst my PR above would not work with the direction that WooCommerce Blocks is heading in, I have added my Proof of Concept to a seperate repo that can be used by anyone to allow sorting this block as a stop-gap until future updates to the core plugin:

https://github.com/Automattic/handpicked-products-order

Note: This stop-gap is exactly that, it just fills a need for now, this plugin will beco

[2022-08-08 13:36] hjkile opened #34225 "Download permissions not generated"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a person purchases two different types of products (virtual, downloadable, etc), the download permissions for the downloadable products are not being issued automatically

#

[2022-08-08 14:09] hajar-alpha opened #34226 "[Enhancement]:"
### Describe the solution you'd like

Hi,

We need an integration solution in Woocommerce for PayTrust88 payment gateway.
We tried to contact them but still didn't get a reply.

Kindly take this request in consideration.
Thanks in advance.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-08-08 14:18] peterfabian commented on #33252
Side note from a quick look: not totally sure why we're not using the solution proposed for WP core in the [trac ticket](https://core.trac.wordpress.org/ticket/42061), i.e.
[code]

Perhaps our legacy API wouldn't be detected correctly?

[2022-08-08 14:21] zhongruige opened #34227 "Move timeout from GH workflow step to Playwright Global Timeout"
Add the global timeout to the e2e tests outside of the GitHub workflows.

[2022-08-08 14:31] vedanshujain opened #34228 "[COT] Add utility methods to get admin links for edit and new order pages."
In WC_Order, the function `get_edit_order_url` also should be adopted to return the correct link regardless of the authoritative data source.

In `OrderUtils`, utility methods should be called `get_order_admin_edit_url` and `get_order_admin_new_url` respectively. We also need to add a function for generating delete links.

[2022-08-08 14:39] vedanshujain opened #34229 "[COT] Redirect edit, new, and delete links from posts to COT when it is enabled."
When someone requests old edit/new/delete links but cot in use, we should redirect them to the new interface.

[2022-08-08 14:39] vedanshujain opened #34230 "[COT] Implement pending methods in OrdersTableDataStore - get_order_count, get_unpaid_orders and get_order_id_by_order_key"

[2022-08-08 14:40] vedanshujain opened #34231 "[COT] Add corresponding hooks for `wp_trash_post` and `delete_post` for COT implementation, that should be fired before status changes."

[2022-08-08 14:40] vedanshujain opened #34232 "[COT] Link `Add order` button from order list page to new order page"

[2022-08-08 14:47] 1980piotr opened #34233 "In the case of 0% tax, there is no amount of 0.00 for tax."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I create an order with an item 0 with a missing tax amount of 0.00.
![image](https://user-images.githubusercontent.com/937723/231793768-428854b9-932e-4a65-8bf9-187a00a4dc8f.png)

[2022-08-08 14:58] elizaan36 commented on #32233
@verofasulo @rogermattic What do you think about a loading state on this task? Since there's a decent amount of time where the plugin goes through the process Joshua detailed above, we should let users know what's happening in some way.

[2022-08-08 15:03] loulemos commented on #24184
Good afternoon, it's August the 8th 2022 and this bug still exists, was unfortunate founding it today on our store with thousands of products 😞 @mikejolley @studio4 @vedanshujain any help? I'm searching everywhere, last resort is to sync our prices with VAT included and seeing what occurs or changing to Shopify or another CMS @m which I do not want to do at all.

EDIT: The bruteforced solution was

[2022-08-08 15:13] Novy85 commented on #24184
@loulemos you're right, also I'm thinking to change CMS, and I never wanted to do this 😢

[2022-08-08 15:39] vedanshujain commented on #34148
Looks like we save customer_note as a post_excerpt, which does not have corresponding field in the order table. So this issue also scopes adding that field in the database and linking the migration.

[2022-08-08 15:43] vedanshujain commented on #34228
Temp commit to address this https://github.com/woocommerce/woocommerce/commit/de541c9f86c129b02342cf03500750abecd88231

[2022-08-08 15:48] peterfabian commented on #34145
We should also check how this behaves with custom order statuses (and that it's 100% the same).

[2022-08-08 15:57] loulemos commented on #24184
Hey @jmdesignsolutions I've just checked your site and it seems that the issue still persists,

1. I added 3 units of a product that costs £1.67 and got £5.00
2. I added 5 units of a product that costs £4.17 and got £8.33

Worse was when i tried adding 9 units of the product that costs £4.17 and got 2 cents more to pay that what is supposed to be.

[2022-08-08 16:08] senadir commented on #34148
That's a good observation @vedanshujain
Is there a specific handling for custom fields in COT? Part of upcoming Checkout work is supporting custom fields and I would love to understand how is that handled.

[2022-08-08 16:10] elizaan36 commented on #32267
@verofasulo Not sure if this is still an issue but could be part of the NUX work you're doing if so!

[2022-08-08 16:16] senadir commented on #34145
Draft orders are treated as any custom status, they're registered via `wc_order_statuses` and `woocommerce_register_shop_order_post_statuses` so I would assume the behavior would be the same.

[2022-08-08 16:26] lsinger commented on #24184
Hello @loulemos, thanks for reaching out! This specific issue was closed through a fix in #29318.

If you still experience a similar problem, please [create a new issue](https://github.com/woocommerce/woocommerce/issues/new/choose) and, when doing so, be sure to create a minimal example for the team to be able to reproduce the problem.

The example should be using the current stable WordPress and

[2022-08-08 16:33] loulemos commented on #24184
Hi @lsinger I'm going to try this on a staging environment, thank you.

[2022-08-08 16:34] #34226 closed, assigned to nobody

[2022-08-08 17:26] #32308 closed, assigned to nobody

[2022-08-08 18:29] jorgeatorres commented on #32560
Hi @codecraftscraic,

Thanks for reaching out and for such great description of the issue.
We tried running the code you shared but couldn't reproduce the problem. Data from the meta lookup was correctly removed as soon as the product was.

While you're correct that the default implementation of `get_primary_key_for_lookup_table()` returns an empty string, the specific instance of the product data

[2022-08-08 18:29] #32560 closed, assigned to nobody

[2022-08-08 18:33] jorgeatorres commented on #32631
Hi @smshmb!

Thanks for reaching out and for providing details on how to reproduce the problem. We were able to reproduce the issue with version 2 of the REST API (i.e. /wc/v2 namespace) which is the one you're using but **not** with version 3 (i.e. /wc/v3 namespace).
As such, can we kindly suggest you use version 3 instead of version 2? Requests params are should be mostly the same, but you'll se

[2022-08-08 18:34] raf222 commented on #24184
Hi all, @loulemos good luck with it. Just a reminder that the issue I found is not related to just rounding as to the entire way they calculate the taxes. That is in net + tax or gross - tax. In my store I have expensive products and the way its there that all products have no decimal parts. This way when tax is added no rounding is needed. Some stores I saw were adding an additional item where th

[2022-08-08 18:35] jorgeatorres commented on #32717
Thanks everyone for the report and apologize for the delay in responding. We were able to reproduce and will address in a future version.

[2022-08-08 18:40] jorgeatorres commented on #33655
Hi @jurian360!

Thanks for reaching out and for the detailed report. While it could be argued that empty requests shouldn't create a new product, this isn't something WP necessarily forbids on the backend and it's in line with how some other of our endpoints are working. For instance a POST request to /wc/v3/orders will create an "empty" new order.

Given these requests are all authenticated, we f

[2022-08-08 18:40] #33655 closed, assigned to nobody

[2022-08-08 19:32] #31210 closed, assigned to nobody

[2022-08-08 19:36] zhongruige opened #34236 "Switch GH workflows to use wp-env instead of the existing e2e env package"
We want to update the GH workflows to use `wp-env` instead of the existing `e2e-environment` package now that we have that functionality in place.

[2022-08-08 19:54] #26630 closed

[2022-08-09 02:14] AashikP commented on #32693
This is also helpful for merchants where manual orders are created well in advance, and their customers pay a couple of weeks later. As requested in 5461323-zen:

[2022-08-09 04:08] #34063 closed, assigned to moon0326

[2022-08-09 07:01] kaushikasomaiya commented on #28480
5460622-zen

This seems to affect Atomic sites only. Works well on self-hosted sites.

[2022-08-09 07:02] kaushikasomaiya commented on #28480
@tammullen any updates on this issue? :)

[2022-08-09 07:07] chihsuan commented on #32318
Closing this since we've completed it in cycle 26.

[2022-08-09 07:07] #32318 closed, assigned to nobody

[2022-08-09 07:14] vedanshujain commented on #24184
Hey, generally, you would see a rounding error when the prices are displayed differently then how they are entered. For example, displayed prices include taxes (gross price), but they were entered without them (net price). For some specific tax rates and quantity of product, net prices + tax is not an exact 2dp amount and needs to be rounded before it is displayed, and in some cases, this would ca

[2022-08-09 07:21] nalognl commented on #27026
You closed as not important but in tax menu beside option Round on total leve mentioned that this setting is EU is not allowed, we should use rounding on per line level.

[2022-08-09 08:41] swatipawarGS commented on #34186
Hi @HexaGT,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.7.0  version and WordPress 6.0.1  version.

Please find the below screenshots for reference :

![#34186](https://user-images.githubusercontent.com/94531721/183604300-69e186b4-d1cf-443c-b685-92d2117ee295.png)

Priority of this issue will be

[2022-08-09 08:41] swatipawarGS commented on #34225
Hi @hjkile ,
Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.7.0  version and WordPress 6.0.1 version.

Please find below the screencast for reference :
https://user-images.githubusercontent.com/94531721/183599627-d3f65249-ccb5-4271-b7d8-f92c0dfb01a6.mp4

Please provide us more detailed and an

[2022-08-09 08:56] ankitguptaindia commented on #42640
I am also facing this issue while working on Min/Max extension compatibility testing. More details are here in **Point-6** https://github.com/woocommerce/woocommerce-min-max-quantities/pull/152#issuecomment-1204989738. (Please feel free to drop a comment if you don't have access of that repo, I am happy to add details here)

[2022-08-09 11:18] tkuisma commented on #16552
Hmm, I wonder why this issue is Closed, since this problem still exists, even with the newest WooCommerce 6.7 version.

I.e. the mapped ID won't be assigned as the Product ID, but WooCommerce creates a new ID (i.e. Post ID) for each imported product. The ID import doesn't work even when the ID values DO NOT conflict with current WordPress post ID's.

Has anyone been able to import product ID's to

[2022-08-09 13:38] markus-wiesenhofer commented on #25040
Hello, I think this is an important issue.
Now only the main product gets an increase in total sales.
The variant that was sold always has a total sales of 0, this is an issue.

I have implemented the function:
https://github.com/woocommerce/woocommerce/compare/master...markusfroehlich:woocommerce:patch-1

[2022-08-09 13:53] gedex commented on #34223
I experienced a condition in which it stuck with following state:

![image](https://user-images.githubusercontent.com/78313/183665628-26a61ad7-2655-4e67-ad05-17e6fbe3f507.png)

I was switching between the authoritative source back-and-forth with some new orders created in-between. One known issue that @vedanshujain told me is verification doesn't ignore `auto-draft` status.

<details>
<summary>The

[2022-08-09 14:20] Luc45 commented on #34227
Closed as duplicated of https://github.com/Automattic/compatibility-dashboard/issues/187, as the relevant code is in the CD workflow

[2022-08-09 14:20] #34227 closed, assigned to nobody

[2022-08-09 14:34] happinessgator opened #34242 "[Enhancement]: Add customer while creating an order on the admin"
### Describe the solution you'd like

When manually adding orders the only option is to add orders with the customer being designated as a guest. All you can do is search for a user or add order as a guest. Since adding the order as a "guest" already requires customer name, billing and shipping address, as well as email address (all the information needed to create a customer) I would like to requ

[2022-08-09 14:57] dougtracey commented on #16552
I've just had the exact same problem as above, but now with importing orders as they haven't connected to the specific products and are just greyed out! I wish there was a way to override product IDs. I've even tried importing using PHPMyAdmin

[2022-08-09 14:57] peterfabian commented on #33611
I believe this should be fixed now that #33703 is merged.

[2022-08-09 14:57] #33611 closed, assigned to nobody

[2022-08-09 15:41] happinessgator commented on #34242
thank you

[2022-08-09 15:53] namiokuzono commented on #33988
5465466-zd-woothemes may be affected by this issue.

[2022-08-09 20:27] coreymckrill opened #34243 "Provide a way to include/exclude specific metadata keys in REST API responses"
Particularly for the orders and products API endpoints, the objects in the response include a `meta_data` property which is an array of key/value pairs, representing postmeta. This array can be quite large in some cases, which can significantly increase the size of the response payload. The mobile apps only need a few specific meta keys, so I'm proposing that we add two new collection parameters f

[2022-08-10 00:40] chihsuan opened #34244 "Update DataSourcePoller to enable i18n support"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

We use `DataSourcePoller` to fetch remote data from WCCOM, but

[2022-08-10 02:09] psealock opened #34245 "Releasing JS packages: Automate the second step (releasing)"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Releasing packages is comprised of two manual workflows: [prepa

[2022-08-10 02:39] psealock opened #34246 "Releasing JS packages: Release with same cadence as WooCommerce plugin"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Depends on https://github.com/woocommerce/woocommerce/issues/34

[2022-08-10 03:09] psealock opened #34248 "Code Analyzer: Add PR links in change descriptions"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

In going through previous final release posts, it appears we us

[2022-08-10 06:45] #33530 closed, assigned to chihsuan

[2022-08-10 09:21] adrianduffell opened #34250 "Add unit tests for "Orders Milestones" note"
Add unit tests for the [Orders Milestone](https://href.li/?https://github.com/woocommerce/woocommerce/blob/af97aaf41067bcd0b7ff12df9b6169f97c326c0f/plugins/woocommerce/src/Internal/Admin/Notes/OrderMilestones.php) note in React admin.

An improvement might be to refactor the class to have the `get_note` and `possibly_add_note` structure seen in other note classes. Otherwise, it looks like `other_m

[2022-08-10 09:22] adrianduffell commented on #34250
I've added a high priority label to ensure automated tests occur for this as part of the COT rollout.

[2022-08-10 11:33] larssn opened #34252 "The currency symbol has changed in the latest update"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Since updating to 6.8.0, the currency symbol in woocommerce has changed. For example, for a Danish shop it no longer reports 'DKK', but 'kr' instead. 'kr' is the currency sign, n

[2022-08-10 12:25] theminaldiwan opened #34253 "Product gallery thumb image spacing issue in twenty twenty theme"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In twenty twenty theme, Product gallery thumb image spacing issue is occur.

### Expected behavior

We need to reduce spacing between product gallery thumb image as same as twent

[2022-08-10 13:04] Pinners27 commented on #27419
Yeah - same, done all of the above, and still nothing on this page

https://cnccreations.co.uk/other-services/cutting-services/melamine-cut-to-size/

[2022-08-10 13:08] RedmattersBV opened #34255 "LegacyTemplate: add_alignment_class_to_wrapper first parameter cant be NULL"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you have added filter render_block in your own template, the add_alignment_class_to_wrapper filter which is also added to render_block is giving back an error because of typ

[2022-08-10 13:08] RedmattersBV opened #42612 "LegacyTemplate: add_alignment_class_to_wrapper first parameter cant be NULL"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you have added filter render_block in your own template, the add_alignment_class_to_wrapper filter which is also added to render_block is giving back an error because of typ

[2022-08-10 13:30] gglobalstep opened #34256 "[GlobalStep] Additional instructions around product image upload is displayed twice after uploading "Product Image" tab on "Add new product" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Additional instructions around product image upload is displayed twice after uploading "Product Image" tab on "Add new product" page.

### Expected behavior

Additional instructi

[2022-08-10 14:03] pmcpinto opened #34257 "List of Tracks that should be covered by testing utils"
**Description:** Here's the [list of key Tracks events](https://docs.google.com/spreadsheets/d/12YlSbrEG2vbNHS5lMBkGnxn-g3QKI61VExwKOm0oM_Q/edit?usp=sharing) to be covered by testing utils. More context here: pcQJnU-B2-p2

[2022-08-10 14:03] pmcpinto commented on #34257
cc @joshuatf

[2022-08-10 14:07] barryhughes commented on #34224
Thanks for flagging this, @iamdharmesh. If you have time to submit a PR that would be great, otherwise we'll get to it in an upcoming dev cycle :+1:

[2022-08-10 14:17] barryhughes commented on #34221
Thanks for reporting this problem, @dnwjn. We can't replicate, however, and I wanted to confirm a few things:

- Can you replicate when only WooCommerce and a default theme are active? I realize you indicated as much when you opened this issue, but I wanted to take a moment to confirm.
- It looks like you are using a multisite network; would we need to be in a sub-site to see the problem?
- Anythi

[2022-08-10 14:23] CGA8C commented on #32837
I've found a similar issue in 5468255-zd-woothemes and think I have steps to reproduce consistently. (This is all tested with only WooCommerce active, on WC 6.8.0 and WP 6.0.1. )

First, it seemed that the "Net Sales" on the Categories page is simply showing the "Gross Sales" instead.

Here, on the Revenue Page, I have $34.88 in the Gross Sales, with $20.00 in Net Sales, because I refunded an orde

[2022-08-10 14:23] roykho commented on #34255
Hi @RedmattersBV - thanks for reporting. Can you please state the exact error you're seeing?

[2022-08-10 14:23] roykho commented on #42612
Hi @RedmattersBV - thanks for reporting. Can you please state the exact error you're seeing?

[2022-08-10 14:38] barryhughes commented on #34213
Thanks for flagging this, @KevinBrent.

I'm not sure this will actually lead to any concrete problems because `order_<taxonomy>` is effectively ignored (and an order value of `0` will then be assumed—meanwhile, when the term order actually changes a new piece of meta data using the key name `order` will be created), but it could certainly lead to confusion in some cases.

Would you be interested i

[2022-08-10 14:50] KevinBrent commented on #34213
Sure, I can submit a PR.

The issue for my situation is, we have custom functionality that relies on this sort order.  But now that is no longer editable from the WP Admin. So converting the old keys to the new keys is very important.

My concern is, the user has made changes to the sort order since this key change was implemented which effects other functionality as well, so simply coping the old

[2022-08-10 14:52] barryhughes commented on #34198
Thanks, we see the same however we are going to review to determine the best course of action.

I'd also be interested to know: what is the advantage in your specific case of creating a duplicate (in terms of the coupon code itself, even if the discount amount varies, etc), vs re-using the existing coupon code and adjusting it as needed?

[2022-08-10 14:56] barryhughes commented on #34071
Thanks for reporting this @galbaras, that sounds reasonable. Would you be interested in submitting a PR?

[2022-08-10 15:01] RedmattersBV commented on #34255
`PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Automattic\WooCommerce\Blocks\BlockTypes\LegacyTemplate::add_alignment_class_to_wrapper() must be of the type string, null given, called in /wp-includes/class-wp-hook.php on line 309 and defined in /wp-content/plugins/woocommerce/packages/woocommerce-blocks/src/BlockTypes/LegacyTemplate.php:215
Stack trace:
#0 /wp-includes/class-wp-hook.p

[2022-08-10 15:01] RedmattersBV commented on #42612
`PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Automattic\WooCommerce\Blocks\BlockTypes\LegacyTemplate::add_alignment_class_to_wrapper() must be of the type string, null given, called in /wp-includes/class-wp-hook.php on line 309 and defined in /wp-content/plugins/woocommerce/packages/woocommerce-blocks/src/BlockTypes/LegacyTemplate.php:215
Stack trace:
#0 /wp-includes/class-wp-hook.p

[2022-08-10 16:24] peterpenguw commented on #19232
just noting edge case, if your store uses SUBSCRIPTION based orders, they need a shipping/address field to honor the subscription payment contract.  At least that's what I'm finding

[2022-08-10 16:24] MrJnrman opened #34260 "Notify Partners when their extension test fails"
When an extension test fails, a partner should be notified via email. This email should contain a summary of the failed test and a link to the dashboard so the partner is able to view more comprehensive results

[2022-08-10 16:57] helgatheviking commented on #29362
@ObliviousHarmony nice!! I did figure out how to write a bash script just for this, but in typical fashion still ran into problems yesterday with a fatal error due to missing file. 🤷🏻‍♀️

Let me try this new approach

[2022-08-10 17:17] MrJnrman opened #34261 "Set up and AWS S3 bucket to store allure reports for the Compatibility Dashboard"

[2022-08-10 17:22] roykho opened #34262 "Cherry pick tool enhancements"
We currently have an automated cherry picking tool. While it work as expected, there are edge cases where it will fail. This issue is to track what issues we see happening and address it.

* If the readme.txt has no changelog entries (ref: https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/readme.txt ), the step that adds the changelog entry will not add anything because it

[2022-08-10 17:23] MrJnrman commented on #34261
Opened in Error

[2022-08-10 17:23] #34261 closed, assigned to nobody

[2022-08-10 17:23] MrJnrman opened #34263 "Set up and AWS S3 bucket to store allure reports for the Compatibility Dashboard"

[2022-08-10 17:23] MrJnrman commented on #34263
Opened in error

[2022-08-10 17:23] #34263 closed, assigned to nobody

[2022-08-10 17:26] MrJnrman commented on #34260
Opened in error

[2022-08-10 17:26] #34260 closed, assigned to nobody

[2022-08-10 18:19] barryhughes commented on #34213
OK, that sounds fair—and, if you wish to submit a PR that introduces greater consistency, we'll be happy to review. From our perspective, though, since I don't think there is a scenario (using WooCommerce alone) where this leads to a tangible problem, though, it's probably not something we will address from our side in the near-term.

[2022-08-10 19:04] bigretromike opened #34265 "No payment methods (unable to pay) for manualy created orders"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating order for known client, leaving status for "waiting for payment" and saving create order that we both are unable to pay for. Using payment link: client payment link

[2022-08-10 19:38] xoogu commented on #27803
I don't think this is really needed. You can use 'custom_attributes' to add a pattern, e.g.
**$fields['billing']['billing_company']['custom_attributes'] = array('pattern' => '[A-Z]')**
(Obviously you should be checking if the custom_attributes index already exists and is an array before just replacing it as above).

Having said that, if you could specify a pattern and server-side validation was al

[2022-08-10 19:54] strarsis commented on #34202
@roykho: I tried to create a simple example based on that code:
[code]

[2022-08-10 22:00] bigretromike commented on #34265
https://github.com/woocommerce/woocommerce/blob/0a9c0049b300f2f42dd74899485e2eb1278a5708/plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php#L85

`$_GET['pay_for_order']` is unset even when url clearly has `?pay_for_order=true` so the payment is never shown

The quick and dirty workaround is `$_GET['pay_for_order'] = true;` and this 'fix' the issue. Please populate pay_for_orde

[2022-08-10 23:03] chihsuan opened #34268 "Update notes in `includes/admin/notes/` to support i18n feature"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

In https://github.com/woocommerce/woocommerce/pull/34038, we've

[2022-08-10 23:08] chihsuan opened #34269 "Refactor inbox notes to ensure all have the `get_note` method for i18n"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

In https://github.com/woocommerce/woocommerce/pull/34038, we've

[2022-08-10 23:36] chihsuan commented on #33992
@pmcpinto I think we can use [`page.navArgs.id`](
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/layout/controller.js#L84-L86) instead.

- `context: woocommerce-home` when the event is fired on the home screen
- `context:  page/activity-panel`  when the event is fired on the activity-panel

Does that sound good to you?

cc @woocommerce/ghidorah

[2022-08-10 23:37] #34135 closed, assigned to roykho

[2022-08-10 23:54] adrianduffell opened #34270 "Review Shipping Options Task should be sentence case"
The task title needs to be switched to sentence case: "Review shipping options".

At present, title case is used.

## Screenshot

Existing behavior:

![image](https://user-images.githubusercontent.com/9312929/184041915-058c4280-9c46-4a56-b39d-5d2e507f7fe6.png)

[2022-08-11 00:01] barryhughes opened #34271 "[COT] Support querying unlimited rows"
As described in [the wiki](https://github.com/woocommerce/woocommerce/wiki/wc_get_orders-and-WC_Order_Query), it was traditionally possible to do the following to fetch all orders:

[code]

However, this is currently not supported and is evaluated as if `'limit' => 1` had been passed. In addressing this, let's ensure other facets of pagination (`'paged'`, `'offset'`, etc) continue to work as expec

[2022-08-11 00:10] chihsuan opened #34272 "Remote inbox notification appears in the wrong country"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Context: pdibGW-LT-p2

An inbox note appears in the wrong country with the following rules:

[code]

### Expected behavior

A note should not appear in the mismatched country suc

[2022-08-11 00:55] chihsuan opened #34273 "Marketing task: Placeholder flash momentarily after a plugin is installed"
**Issue Description:**

We have updated the marketing task to the user in the marketing task after installing an extension in https://github.com/woocommerce/woocommerce/pull/34241

However, because we call the `invalidateResolutionForStoreSelector( 'getTaskLists' );`, the placeholder flashes shortly after a plugin is installed.

It would be great if we could improve it to not show the placeholder

[2022-08-11 00:57] #33846 closed, assigned to chihsuan

[2022-08-11 00:59] the-csaba commented on #34198
Hi,

The advantage would be the same behaviour as in the admin area, no matter the reason. Strictly speaking, I also think this difference is a "usability bug".

For background information:

We are the developer of the [WooCommerce Zapier extension](https://woocommerce.com/products/woocommerce-zapier/), and our users usually aren't as technical. So they expect that the result would be the same if

[2022-08-11 03:31] galbaras commented on #34071
Sorry, I've never submitted a PR, and attempting it seems to require some learning effort. My edited issue description already contains everything needed to change the code. Surely, the team can implement it.

[2022-08-11 04:28] aprea opened #34275 "Remove the WCPay Subscriptions offer page experiment code"
As per this request: pdjTHR-Vi-p2#comment-1841

In https://github.com/woocommerce/woocommerce/pull/32957 we added an admin page to **WooCommerce → Subscriptions** as an experiment to promote WooCommerce Payments to eligible merchants.

This experiment has ended and as such, we need to remove the experiment code from WooCommerce Core.

**Acceptance criteria**
- The code added in https://github.com/

[2022-08-11 04:29] Kingo2022 opened #34276 "[Enhancement]: Related Products to show items from Primary Category first"
### Describe the solution you'd like

Currently the Woocommerce 'Related Products' are showing products from any category that has been allocated to the product. But products can be put in 'Popular Product' categories and 'Brand' categories as well, which means that less relevant items are showing as related products. It makes sense to me, that the reason a Primary Category is selected as it is th

[2022-08-11 04:41] Kingo2022 opened #34277 "[Enhancement]: Related Products section is showing the product names as H2s"
### Describe the solution you'd like

At the moment in the "Related Products" section, the items displaying as related products are coded as H2 tags.

I feel that this is bad for product page SEO as that means there are 4 x H2s that are basically contradicting the H1 and other Heading tags of the page.

I think the Related Products section should not have the Product Names as H2s, they should be <

[2022-08-11 05:13] bigretromike commented on #34265
`echo var_dump($_GET);`

[code]
clearly there is issue with parameter parsing as the `pay_for_order` has `?`

changing order of URL parameters `order-pay/136889/?key=wc_order_4goe4aVG6PtPG&pay_for_order=true` confirm this:
[code]

[2022-08-11 05:19] theminaldiwan commented on #34253
Hi @woocommercebot

In this case if we see the screenshot so the extra spacing is displayed in gallery thumb image.
I compared the same thing in twenty twenty two theme there is no such type of spacing issue is displayed.
I think spacing bugs are occur in twenty twenty theme.

I have attached twenty twenty two theme screenshot here:
![CleanShot 2022-08-11 at 10 47 27](https://user-images.githubuse

[2022-08-11 09:27] albarin opened #42611 "Explore `Filter Products by Attribute` block UX improvements in patterns"
When the `Filter Products by Attribute` block is inserted, the user has to configure it by picking an attribute, otherwise, it won't be rendered in the front-end. This is a potential issue when the pattern containing all the filter blocks is inserted since all other filters just work, but this one needs configuration.

https://user-images.githubusercontent.com/186112/184102699-a8d208b4-5325-4ad6-8

[2022-08-11 10:11] kirtangajjar opened #34280 "Cannot see product quantity when min-qty and max-qty is same"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This bug was found in https://github.com/woocommerce/woocommerce-min-max-quantities/issues/176 and is reported here as a core issue.

The quantity input box is not shown when a p

[2022-08-11 10:25] timborovkov commented on #27375
+1

[2022-08-11 10:36] ecgan commented on #34025
This is done in PR https://github.com/woocommerce/woocommerce/pull/34080. Closing this issue.

[2022-08-11 10:36] #34025 closed, assigned to ecgan

[2022-08-11 10:39] Marc-pi opened #34281 "Woo 6.7 to 6.8 upgrade fails > install aborts and Woo disapears from extension list even if still in the directory (too big archive)"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I just faced for the very first time to an upgrade issue : the upgrade process takes too long time and aborts
And was is surprising is that the woo plugin is not listed anymore i

[2022-08-11 11:48] hedqvist opened #34284 "[Enhancement]: New Product Reviews admin screen needs support for plugin developers"
### Describe the solution you'd like

I would like to see changes implemented in PR #34283.

This solves the issue with plugins not being able to hook into the new admin section of product Reviews.

### Describe alternatives you've considered

Similar filters was availible in the old solution, makes sense for it to be availible in the new screen aswell.

### Additional context

_No response_

[2022-08-11 13:06] gglobalstep opened #34285 "[COT] [GlobalStep] "Invalid order" error displayed for downloadable product after clicking "Product download" button on "My Accounts > Downloads" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Invalid order" error displayed for downloadable product after clicking "Product download" button on "My Accounts > Downloads" page.

### Expected behavior

Order should be downl

[2022-08-11 13:17] gglobalstep opened #34287 "[COT] [GlobalStep] Data for orders fails to display on "Analytics > Overview" Page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Data for orders fails to display on "Analytics > Overview" Page.

### Expected behavior

Data for orders should be displayed on "Analytics > Overview" Page.

### Actual behavior

[2022-08-11 13:58] jonathansadowski commented on #34111
Based on discussion with @ObliviousHarmony, I'm closing this as not needed, as the current workflow will guide you toward the correct changelogger command if you run this filtered toward WCA.

[2022-08-11 14:34] barryhughes commented on #34071
Yes, that's fine: I wanted to highlight the possibility (of submitting a PR) but there's no expectation to do so, the team will get to this :+1:

[2022-08-11 15:21] Marc-pi commented on #34281
i managed to upgrade to 6.8 with a manual upload of the .zip through wp-admin/plugins.php, does not work by normal way (just click upgrade button > does not work> bandwidth + file size ?)

[2022-08-11 15:53] Hans9985 commented on #23083
I hope this is on topic.

I am based in Sweden, and the tax office here has informed me that if a customer has items with different VAT rates in the same order, then the shipping VAT should be calculated proportionally between these items.

For example, if the customer has ordered 1 item that is 10 euro + 10% VAT, and 1 item that is 10 euro + 20% VAT, then the shipping VAT should be calculated to

[2022-08-11 16:00] #33196 closed, assigned to barryhughes

[2022-08-11 17:12] barryhughes commented on #34230
✍🏽 So we don't forget ... once done we can probably update the way the `ListTable` determines order counts by status and improve efficiency there (I'm happy to follow-up with that change).

[2022-08-11 17:43] seanconklin commented on #33732
Thanks @mikestott for tracing this problem to the Mini Cart. I wouldn't have suspected that as the trigger here. Sure enough, I reproduce it with a virgin sandbox and only TT2 and WooCommerce running, but it only happens when the Mini Cart block is added into the header.

My steps to reproduce are:

- Virgin Woo + Twenty Twenty Two site, logged in as admin.
- Admin bar > Edit Site > Page template

[2022-08-11 19:58] sabernhardt commented on #34219
This was originally reported on [Core Trac #56337](https://core.trac.wordpress.org/ticket/56337).

[2022-08-11 19:58] #34158 closed, assigned to roykho

[2022-08-11 20:32] ObliviousHarmony commented on #34112
* What happens if a package needs a breaking version of a dependency and we don't want to update the others yet?
* `syncpack` provides a `list-mismatches` command that can help
* `devDependencies` are less harmful to match
* `react` and `react-dom` with a version constraint
* We need to P2 this change and start the discussion about updating

So set up sync pack with these few dev dependencies, add

[2022-08-11 21:00] ObliviousHarmony commented on #33908
While we can cache the outputs of each, what about the `assets` output in `plugins/woocommerce`? They're built as part of the sub-package and need to be cached somehow? Maybe copy them after cache hydration to the correct directory. Maybe it can use directory traversal in `turbo.json` to cache there?

[2022-08-11 22:03] csmcneill opened #34291 "If there are no shipping zones, a physical product can still be purchased."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If there are no shipping zones configured in **WooCommerce > Settings > Shipping**, a physical product can be purchased without specifying a shipping method.

### Expected behavi

[2022-08-11 23:35] gaa23 commented on #23000
shocked that this has been brought up years ago and never solved.

[2022-08-12 00:24] chihsuan commented on #34270
Good eye! @adrianduffell

[2022-08-12 00:37] #33640 closed, assigned to nobody

[2022-08-12 02:31] ilyasfoo commented on #33992
@chihsuan Great suggestion, I think that'll work!

[2022-08-12 04:22] thisissandip commented on #32217
https://wordpress.org/support/topic/two-different-order-overviews/

[2022-08-12 04:53] psealock commented on #33948
It's in there now and the result is being cached when it should not. ie, changing a config then running `pnpm run build` should result in correct feature config generation.

This is fixed in https://github.com/woocommerce/woocommerce/pull/34296

[2022-08-12 05:15] dinhtungdu opened #42610 "Giving translators more context"
## Is your feature request related to a problem? Please describe.
There are some translatable strings of the WooCommerce Blocks that are hard to translate without context. For example, the `Single` string in the Filter Products by Attribute block:
https://github.com/woocommerce/woocommerce-blocks/blob/49d429f39ac7f7df903f2d1cd4640f3604e1a6ce/assets/js/blocks/attribute-filter/edit.tsx#L237-L240

Wh

[2022-08-12 05:38] chihsuan commented on #33992
@ilyasfoo Nice, thanks for confirming. I'll go ahead with that!

[2022-08-12 06:19] ASJ999 opened #34298 "Woocommerce checkout page [Country/Region] and [State/County] don't have drop down"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

From this Wednesday, [Country/Region] and [State/County] don't have drop-down.

Nothing happens when customers click on them directly, and they can't finish the checkout. The sys

[2022-08-12 08:16] R33D3M33R opened #34300 "My Account > Orders title - plural missmatch"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Dear developers, I have found a translation bug in My Account menu item.

### Expected behavior

In [wc-account-functions.php:100](https://github.com/woocommerce/woocommerce/blob

[2022-08-12 09:26] adrianduffell opened #34301 "Add Facebook to Onboarding"
## User Story

## Acceptance Criteria

[code]

[2022-08-12 09:29] adrianduffell opened #34302 "Add Pinterest to Onboarding Wizard"
## User Story

## Acceptance Criteria

[code]

[2022-08-12 09:35] PhilMakower commented on #28996
https://github.com/woocommerce/selectWoo/issues/41#issuecomment-1212904598

Commenting here since this actually relates to WooCommerce itself

I have come across the same issue on some pages in WordPress v6.0.1 and WooCommerce 6.8.0.
There is no longer "admin-bar" class added to BODY when the admin bar appears, so the above styles don't help!
select2.full.js?ver=4.0.3-wc.6.8.0 does NOT contain the

[2022-08-12 09:37] PhilMakower opened #34304 "select2 dropdown positioning issue with adminbar in WooCommerce 6.8.0."
I have come across the same issue on some pages in WordPress v6.0.1 and WooCommerce 6.8.0.
There is no longer "admin-bar" class added to BODY when the admin bar appears, so the above styles don't help!
select2.full.js?ver=4.0.3-wc.6.8.0 does NOT contain the attachBody fixes from https://github.com/woocommerce/selectWoo/pull/49/files
Applying these 2 changes fixes the issue.

_Originally posted by

[2022-08-12 10:05] martynmjones commented on #33925
Nice dot connecting @nicdwilson 👌 Does look like the issue has been resolved in 6.8.0

[2022-08-12 10:05] #33925 closed, assigned to nobody

[2022-08-12 10:48] peterfabian opened #34305 "[Enhancement]: Remove foreign key for download permissions"
### Describe the solution you'd like

Replace the FK constraint with a code solution.

### Describe alternatives you've considered

n/a

### Additional context

We don't use FKs for modeling any other relationships in our DB schema and since using a FK forces the use of InnoDB, it's not really necessary even here.
It was introduced as part of GDPR readiness (PR https://github.com/woocommerce/wooco

[2022-08-12 11:21] imodouglas commented on #32693
The merchant came back stating that this is important for WC users that rely on invoices for tax purposes and can lead to an intentional tax fraud case. → 5461323-zen

Can this be looked into any sooner?

Merchant's reply:

[2022-08-12 11:50] ismaeldcom opened #34306 "[Enhancement]: Allow images to be loaded in CSS (Webpack)"
### Describe the solution you'd like

While working on a new feature I noticed we're not able to use images in CSS due to [`woocommerce-admin` webpack configuration](https://github.com/woocommerce/woocommerce/blob/5324852223ec30beb70e90fe67262e0d06aad4f6/plugins/woocommerce-admin/webpack.config.js).

We will need to update webpack config to handle images (SVG, PNG, ...) differently. For now, webpa

[2022-08-12 12:35] ecgan commented on #33895
👋 Hi @becdetat, with regards to your comment in pe2C5g-by-p2#comment-57 to get cross-team collaboration, could you advise if the PR review process that we are doing here is alright?

In the description of this epic issue above, there are 4 task issues. 3 of them have associated PRs created:

- https://github.com/woocommerce/woocommerce/pull/33964: already reviewed by Ventures team member @puntope.

[2022-08-12 13:21] adrianduffell commented on #34302
Closing, this is no longer required.

[2022-08-12 14:17] ralucaStan opened #42609 "WooCommerce Memberships doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of WooCommerce Memberships** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they can add support.

### It's up to extension developers to add s

[2022-08-12 14:19] ralucaStan opened #42608 "Smart Coupons doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of Smart Coupons** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they can add support.

### It's up to extension developers to add support for

[2022-08-12 14:21] ralucaStan opened #42607 "Local Pickup Plus doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of Local Pickup Plus** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they can add support.

### It's up to extension developers to add support

[2022-08-12 15:22] #34271 closed, assigned to barryhughes

[2022-08-12 15:35] barryhughes commented on #28996
Hi @PhilMakower,

It appears to work when I test it on a page with the admin bar—but perhaps I need to look on a specific page to see the problem?  Since this issue was closed, it would be best to [create a fresh issue](https://github.com/woocommerce/woocommerce/issues/new/choose) and include steps-to-replicate so the team can re-evaluate.

Thanks!

*Edit: I see https://github.com/woocommerce/wooc

[2022-08-12 17:40] MrJnrman opened #34310 "Update CI to run e2e, api and performance tests against a wp-env environment"
This project should be updated to use `wp-env` to build the environment that we use to run API, e2e and performances tests. The relevant documentation should also be updated.

[2022-08-12 18:42] #34142 closed, assigned to roykho

[2022-08-12 18:45] louwie17 opened #34312 "Add sample permalink support to product link field for draft products"
## Add permalink template read only property to Product REST api

### Description

We currently have to retrieve the `permalink_template` and `generated_slug` separately from the WP posts endpoint in order to show a permalink for draft products. This is causing an unnecessary extra delay when loading products.

We should add the `permalink_template` and `generated_slug` properties as readonly fiel

[2022-08-12 19:20] octaedro commented on #34000
Thank you @Konamiman for this excellent analysis.
The proposed changes look pretty straightforward and adding them shouldn't take more than two or three days. The downside of the solution is that all the categories will still be loaded. So it would improve the experience, but I'm not sure that it will solve the problem entirely for stores with thousands of categories.
I second the idea of implemen

[2022-08-12 19:40] masteradhoc commented on #34252
@larssn seems that was the commit for this issue #31601 by @conschneider. maybe he can add some further notes to this new issue.

[2022-08-13 11:54] peterfabian commented on #34305
The FK constraint is as follows:
[code]

This makes `wc_download_log` the child table and `woocommerce_downloadable_product_permissions` the parent table, so whenever we delete from `woocommerce_downloadable_product_permissions`, we need to perform the removal also from `wc_download_log`.

One thing I'm not totally certain about is that in my view, the download log is kind of an audit trail of act

[2022-08-13 12:21] Hans9985 commented on #23083
And also, adding to what I wrote above, the tax office has let me know that it is actually against the rules to overcharge VAT in Sweden This means that if I am using the WooCommerce settings which apply the highest VAT rate to the order, then that would not be allowed for an order containing items with different VAT rates.

[2022-08-13 12:28] peterfabian commented on #34305
📝 Also noting that `\WC_Customer_Download_Log_Data_Store::delete_by_permission_id` is implemented in a slightly odd way where download log data store removes download permission when removing log entries (and removal of the log entries was a side effect of having the foreign key). That doesn't feel like something we should be doing, but maybe the download log and permissions are more tightly coupl

[2022-08-13 14:51] VentsislavDinev opened #34314 "[Enhancement]: 3704 FastCGI sent in stderr: "PHP message: PHP Deprecated: Return type of Woo_Feed_Custom_Taxonomy_Filter::accept()"
### Describe the solution you'd like

Hello,
I install Woocommerce on Digitalocean droplet with external service managed database in DO, but when i installed Woocommerce and another plugin in my Nginx server I find this: 3704 FastCGI sent in stderr: "PHP message: PHP Deprecated:  Return type of Woo_Feed_Custom_Taxonomy_Filter::accept() should either be compatible with FilterIterator::accept(): boo

[2022-08-13 15:51] sjjhr commented on #23083
This is why I don’t use Woo :)
Saul Rowe
***@***.***

Studio 13
Delta House
Riverside Road
Wandsworth SW17 0BA
07769 651 669

[2022-08-13 15:52] barryhughes opened #34315 "[Spike] Identify code which does not use official WordPress APIs"
Let's try to identify areas of the codebase where we roll-our-own-solution instead of using the equivalent WordPress API. Examples (not an exhaustive list):

* Updating post table entries using direct update queries, instead of `wp_update_post()`.
* As above, but for any other WordPress entity (updates to terms, taxonomies, options, ...).
* We don't have to limit ourselves to database queries: per

[2022-08-14 06:19] ObliviousHarmony commented on #32436
This is blocked by https://github.com/WordPress/gutenberg/pull/43133

[2022-08-14 08:46] Alexx1xx commented on #33971
Hello,

The issue still persists.

Thank you!

[2022-08-14 13:35] alexx855 commented on #33677
Hi @swatipawarGS, im no longer able to reproduce this issue with the latest versions

[2022-08-14 14:26] kalathiyaronak6 opened #34316 "Advance filter with "Between" Option Bug in woocommerce"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Advance filter with between option selected not able to enter value in both box that is big error in woocommerce admin to get report.
![image](https://user-images.githubuserconte

[2022-08-14 18:16] Buzut commented on #29667
There are different things to consider here. I am not 100% sure of the rule guiding the inclusion or not of some countries' states/regions/provinces/districts or not.

For reference, I think there are some inconsistencies. For instance: all Spanish regions are listed but Portugal as well as France have none. Nevertheless, unlike Portugal, France has its overseas territories listed as standalone co

[2022-08-15 06:53] Jinksi commented on #34275
Labelled this as high priority, since it is being superseded by and conflicts with the work in #34251 which is planned for release in 6.9.0.

[2022-08-15 07:03] webdados commented on #29667
@Buzut read the discussion above. We don’t want to break 5000+ stores, do we?
Shipping calculation is already possible using post codes interval or using the linked plugin.
The district is not part of the written Portuguese format neither there’s tax calculations that need to be done depending on the customer location, so if it’s only for shipping, you have two solutions already.

[2022-08-15 07:03] #29667 closed

[2022-08-15 07:48] Buzut commented on #29667
Actually, I had already read the whole discussion. Adopting the same way as the one used for French overseas territories (ie. listing them as different countries) wouldn't break the stores using your plugin, would it? I am talking about adding the two autonomous regions, not adding all "Distritos".

It would be exactly the same logic used for France. There is no way to specify Départements or Régi

[2022-08-15 09:41] #34270 closed, assigned to chihsuan

[2022-08-15 10:18] ilyasfoo commented on #34166
We've confirmed to deploy the treatment variation: pbxNRc-1yD-p2#comment-3610

[2022-08-15 10:24] Marc-pi opened #34319 "Shipping Methods > Prevent already set shipping methods from being overriden by Onboarding screens (can lead to margin lost)"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

It is hard to get rid of Onboarding process "panel" in WP Dashboard. It proposed too many things (extra plugins)
But since the onboarding process is not closed, a user can still

[2022-08-15 12:36] xristos3490 opened #34320 "[COT] Replace `getAdminLink` for order-edit links in Analytics tables"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Currently, we use the `getAdminLink` helper from the `woocommerce/settings` package to create edit-order admin links inside the Analytics report tables. Example: https://github.c

[2022-08-15 13:45] octaedro commented on #34000
Hey @pmcpinto,

Answering your question:

Considering this is an old bug that only affects a few stores, code freeze will happen in 3 days, and during these days we have a tight bandwidth; what do you think about leaving this fix for the next release (7.0)?

[2022-08-15 14:28] #31389 closed, assigned to nobody

[2022-08-15 16:08] badfeather commented on #31832
I have a related issue, but don't see any repos for the WooCommerce Square plugin on Github, even though the other payment gateway integrations developed by WooCommerce are on here. Does it possibly exist elsewhere?

[2022-08-15 16:09] chrism245 commented on #34319
36431517-hc

[2022-08-15 17:56] lcinformatica opened #34323 "Problems with product variable"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Doesn't appear the option to add to cart. After the update, don't shows.

### Expected behavior

It was supposted to show add to cart. And shows Select Options.

### Actual behav

[2022-08-15 18:47] #34310 closed, assigned to MrJnrman

[2022-08-15 19:03] jonathansadowski commented on #34026
Hi @annamag. Is this issue a placeholder for something or can it be closed out?

If it's a placeholder, can you please add any additional details, and the correct focus and priority labels? Thanks.

[2022-08-15 19:05] #33637 closed, assigned to nobody

[2022-08-15 19:07] jonathansadowski commented on #33712
I'm not sure why the bot didn't follow up and do this, but since there hasn't been activity in 7 days, so I'm closing this as stale.

[2022-08-15 19:07] #33712 closed, assigned to nobody

[2022-08-15 19:16] jonathansadowski commented on #34298
Hello @ASJ999,

Thanks for the report. I see you have several plugins beside WooCommerce active. Are you able to reproduce this issue with just WooCommerce active?

[2022-08-15 19:20] #34314 closed, assigned to nobody

[2022-08-15 19:30] jonathansadowski commented on #34323
Hi @lcinformatica,

Thanks for your report. I am unable to follow the issue that you're reporting. Would you be able to to include step-by-step instructions for reproducing that aren't specific to your store?

I also don't see the system status report included in your report. Could you please include that along with any other details that would help us in reproducing the issue that you're reportin

[2022-08-15 20:40] lcinformatica commented on #34323
`
### WordPress Environment ###

WordPress address (URL): https://lcinformatica.pt
Site address (URL): https://lcinformatica.pt
WC Version: 6.8.0
REST API Version: ✔ 6.8.0
WC Blocks Version: ✔ 8.0.0
Action Scheduler Version: ✔ 3.4.0
Log Directory Writable: ✔
WP Version: 6.0.1
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: pt_PT
External object cache: –

### Server En

[2022-08-15 21:55] Endda commented on #28419
still no update on gutenberg for editing products, tags, categories, etc?

[2022-08-16 00:42] #33992 closed, assigned to chihsuan

[2022-08-16 00:42] #34250 closed, assigned to chihsuan

[2022-08-16 07:43] jarekmorawski opened #34328 "[Shipping] Shipping class dropdown"
**User story**

- As a merchant,
- I want to enter accurate shipping information
- So that I don’t overcharge my customers

The create new shipping class logic will be done as part of https://github.com/woocommerce/woocommerce/issues/34657

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6499%3A290914

**Acceptance criteria**

- [x] Users can view and select any existing shipping class.
- [x] In addition to

[2022-08-16 07:44] jarekmorawski opened #34329 "[Shipping] Dimensions"
**User story**

- As a merchant,
- I want to enter accurate shipping information
- So that I don’t overcharge my customers

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6590%3A293356

**Acceptance criteria**
- [x] Input fields use the Gutenberg unit picker.
- [x] By default, the units would follow the store’s locale/global settings.
- [x] When the length, width, and height fields are focused, we highlight

[2022-08-16 07:46] jarekmorawski opened #34330 "[Attributes] Empty state"
**User story**
- As a merchant,
- I want to describe my product in the best possible way
- So that customers can easily find it in my store

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6823%3A312388

**Acceptance criteria**
- [ ] When the user scrolls down to attribute, they see an empty state with an illustration, some copy, and a button.
- [ ] ~~When they click the button, it opens the add attribute mo

[2022-08-16 07:48] jarekmorawski opened #34331 "[Attributes] Add attributes modal"
**User story**
- As a merchant,
- I want to describe my product in the best possible way
- So that customers can easily find it in my store

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-5180%3A129070

**Acceptance criteria**
- [ ] When they click the button, it opens the add attribute modal
- [ ] When the modal opens, the attribute select field is in focus and the user can see suggestions.
- [ ] User can

[2022-08-16 07:50] jarekmorawski opened #34332 "[Attributes] Edit attribute modal"
**User story**
- As a merchant,
- I want to describe my product in the best possible way
- So that customers can easily find it in my store

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-8778%3A375731

**Acceptance criteria**
- [ ] Clicking on the `Edit` button opens the modal.
- [ ] The Attribute field is a searchable dropdown. When clicked, we only show a list of existing attributes.
- [ ] If the user ch

[2022-08-16 07:52] jarekmorawski opened #34333 "[Attributes] Attribute list"
**User story**
As a merchant,
I want to describe my product in the best possible way
So that customers can easily find it in my store

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-5180%3A129070

**Acceptance criteria**
- [ ] Uses the new list component
- [ ] User can drag and drop to change the order of attributes on the product page.
- [ ] Displays the attribute’s name and first 2 values. If the attribut

[2022-08-16 10:05] datenwerkstatt opened #34338 "woocommerce "Personal data retention" not working"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the woocommerce settings under Accounts & Privacy there is the area "Personal data retention". These settings are handled by the woocommerce_cleanup_personal_data task. The "$

[2022-08-16 10:37] #34145 closed, assigned to jorgeatorres

[2022-08-16 11:02] jorgeatorres commented on #33879
- Review https://github.com/woocommerce/woocommerce/wiki/wc_get_orders-and-WC_Order_Query.
- `woocommerce_order_data_store_cpt_get_orders_query` filter.

[2022-08-16 11:54] Abdullah-Iftikhar opened #34340 "Not able to delete single brand using REST API V3"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am a LARAVEL developer. I am working on an admin panel for my client to manage the WC store.

  $wc = new Client(
        env('WOOCOMMERCE_STORE_URL'),
        env('WOOCOMMERCE

[2022-08-16 12:29] ilyasfoo opened #34341 "Remove Set up Store Details note"
**Issue Description:**
[Set up Store Details](https://href.li/?https://d.pr/i/rhsfsi) note seems to be irrelevant with 37 daily average clicks p1660645329523319/1660638999.351039-slack-C01SFMVEYAK.

In pbIJXs-2mK-p2#comment-4766, we discussed to remove it.

[2022-08-16 13:02] gigitux opened #34342 "Moment Timezone has no data for WP"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the package `@woocommerce/date`(or any package that depends on it) loads when Gutenberg is loaded too, the console shows many times the error:
`Moment Timezone has no data f

[2022-08-16 14:22] horzu opened #34344 "Cannot edit replies to product reviews"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Cannot edit replies to product reviews on admin panel.
You can edit it with quick reply, but with quick reply you cannot edit published date etc.

### Expected behavior

"Edit Re

[2022-08-16 14:35] horzu commented on #34344
Actually I found a solution.
If you change the code in the "woocommerce\src\Internal\Admin\ProductReviews\Reviews.php" at the line 575 as below problem solved.
Briefly "$comment->comment_parent" must be chaged as "$comment_id"

Existing code:

[code]

New code:

[code]

[2022-08-16 15:06] swatipawarGS commented on #34319
Hi @Marc-pi,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.0 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/184822985-100e7213-0cbc-4b74-8450-2bb6944d86da.mp4

Priority of this issue will be assigned

[2022-08-16 15:07] swatipawarGS commented on #34316
Hi @kalathiyaronak6,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.0 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/184816228-af1285ee-92a0-4887-a6a5-5eef01c25d14.mp4

Priority of this issue will be a

[2022-08-16 15:08] swatipawarGS commented on #34291
Hi @csmcneill,
Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.0 version and WordPress 6.0.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/184819235-c62679bc-695f-418c-891c-9388512f0f57.mp4

Priority of this issue will be assigne

[2022-08-16 15:08] swatipawarGS commented on #34265
Hi @bigretromike,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.8.0 version and WordPress 6.0.1 version.

Please find below the screenshot for reference :

![#34265](https://user-images.githubusercontent.com/94531721/184824968-bd220fee-a566-4835-8cd8-4c81196d499e.jpg)

Please provide us wit

[2022-08-16 15:17] chrism245 commented on #34319
36493959-hc

[2022-08-16 15:47] jonathansadowski commented on #34340
Hi @Abdullah-Iftikhar,

Thanks for your report. It sounds like you may be reporting an issue with another plugin or an extension to WooCommerce. This repository is for reporting issues that are in the WooCommerce plugin. Please reach out to the developer of the plugin or extension author for any issues you encounter with their plugin or extension.

If I misunderstood and you do believe this is an

[2022-08-16 15:50] jonathansadowski commented on #34323
Hi @lcinformatica,

Thanks for the reply. I see that you have many plugins active. Are you able to reproduce the issue with just WooCommerce alone?

[2022-08-16 15:53] lcinformatica commented on #34323
I will try it.

[2022-08-16 15:53] jonathansadowski commented on #33792
@Sabs40 thanks for the report. As we haven't received a response, I'm going to close this issue due to inactivity. If you're still think that there's a bug, please feel free to open a new issue.

[2022-08-16 15:53] #33792 closed, assigned to nobody

[2022-08-16 15:54] jonathansadowski commented on #33738
@jessebrightman thanks for the report. As we haven't received a response, I'm going to close this issue due to inactivity. If you're still think that there's a bug, please feel free to open a new issue.

[2022-08-16 15:54] #33738 closed, assigned to nobody

[2022-08-16 15:54] lcinformatica commented on #34323
![image](https://user-images.githubusercontent.com/111306086/184924182-3bf30acc-a94d-4a61-87dc-46b15a3d512d.png)
Happen the same. And i Desactived all except Woocommerce

[2022-08-16 15:54] jonathansadowski commented on #33764
@jwad93  thanks for the report. As we haven't received a response, I'm going to close this issue due to inactivity. If you're still think that there's a bug, please feel free to open a new issue.

[2022-08-16 15:54] #33764 closed, assigned to nobody

[2022-08-16 15:56] jonathansadowski commented on #34323
Thanks for the reply @lcinformatica. I see your theme is "Electro Child"... do you still have the same issue with the [Storefront](https://woocommerce.com/storefront/) theme?

[2022-08-16 15:58] lcinformatica commented on #34323
Yes, I tried with them too

[2022-08-16 18:58] barryhughes commented on #32470
I think this can be closed, because:

- Filtering was implemented in https://github.com/woocommerce/woocommerce/pull/33789
- Work on search is underway and is encapsulated by:
    - https://github.com/woocommerce/woocommerce/issues/33197
    - https://github.com/woocommerce/woocommerce/issues/34177

I realize this issue pre-dates the others, but it felt cleanest to close this one. Let me know if I

[2022-08-16 18:58] #32470 closed, assigned to nobody

[2022-08-16 19:07] jorgeatorres opened #34346 "[COT] Order query: `meta_query` throws fatal when not an array of arrays"
**Prerequisites (mark completed items with an [x]):**
- [X] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Internal ref: p1660657727644589/1660642461.198929-slack-C9QDV4TL

[2022-08-16 20:38] bigretromike commented on #34265
I use nginx  but thats in log.
I will try to investigate more then if you are unable to reproduce this issue that I have on both woocommerce seperated instances.

[2022-08-17 02:04] moon0326 commented on #34319
@Marc-pi  Thank you for taking the time to report the issue. I was able to reproduce it locally. We'll work on a fix as soon as possible.

[2022-08-17 03:07] #34275 closed, assigned to Jinksi

[2022-08-17 03:18] #34319 closed, assigned to nobody

[2022-08-17 03:23] moon0326 commented on #34319
@chrism245 We've merged a fix, and we will release a fix soon. In the meantime, the best solution for those affected users is to delete the unwanted shipping zone. It won't be re-created once deleted.

[2022-08-17 03:33] #34166 closed, assigned to ilyasfoo

[2022-08-17 03:38] psealock commented on #34306
Is there a performance difference between the two approaches? The image gets bundled, as far as I can tell, so they'd be the same from this standpoint - unless I'm missing something.

Is the desire to reuse the same code from WC Pay?

[2022-08-17 04:06] #34244 closed, assigned to chihsuan

[2022-08-17 04:48] chihsuan opened #34353 "Update In-App Marketplace to support i18n"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

We should update the In-App Marketplace to send requests with a

[2022-08-17 06:19] becdetat commented on #33895
Hi @ecgan . I'm so sorry I haven't answered earlier. I was AFK (post-vaccine blues) the end of last week and have been playing catch up this week on a number of projects.

I think using the feature branch is a valid strategy when you have PRs that form the same unit of functionality. If each PR could be released separately as individual, usable units of functionality then it might be better to tar

[2022-08-17 06:32] #33839 closed, assigned to chihsuan

[2022-08-17 06:39] ilyasfoo commented on #33895
Hey, @ecgan! 👋

Feature branch strategy works well for this case since (as far as I'm aware) we've not planned any refactors or big changes in the marketing section.

Generally, a reviewer from your team would be sufficient, but if you feel you've changed something that should be looked at by us, feel free to include @woocommerce/mothra and @woocommerce/ghidorah as a reviewer. And @becdetat mentio

[2022-08-17 06:39] Marc-pi commented on #34319
@moon0326 thanks for the quick fix

[2022-08-17 07:22] ismaeldcom commented on #34306
Well, I think there are plenty of comparisons and debates about those approaches performance. But the main point here is the possibility to use images in CSS.

EG To meet a design I loaded an image as background in CSS. But as it doesn't work, I replaced it with a flex based solution. Although, I think we could have some cases where the best option will be to use backgrounds, because without them,

[2022-08-17 08:08] vedanshujain commented on #31597
Closed by https://github.com/woocommerce/woocommerce/pull/34124, https://github.com/woocommerce/woocommerce/pull/34178 and https://github.com/woocommerce/woocommerce/pull/34121

[2022-08-17 08:08] #31597 closed, assigned to nobody

[2022-08-17 09:26] #31971 closed, assigned to Sidsector9

[2022-08-17 10:17] tarunvijwani commented on #42640
Related (old) issue woocommerce/woocommerce#42650

We also have the same issue on the Checkout block:

https://user-images.githubusercontent.com/11503784/185094907-00dac9af-b002-4819-8bce-6fae3e7b6008.mov

[2022-08-17 11:15] webdados commented on #29667
The French example is not the same at all. You're talking about different continents.
The Portuguese islands are on the same territory as the mainland, as the Spanish ones are (also not separated in the list of countries, as they shouldn't).

For example, French Polynesia is considered a country: https://en.wikipedia.org/wiki/French_Polynesia
French Guiana has its own ISO code: https://dgn.isoluti

[2022-08-17 11:20] swatipawarGS commented on #34344
Hi @horzu,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.0 version and WordPress 6.0.1 version.

Please find below the screenshot for reference :

![#34344](https://user-images.githubusercontent.com/94531721/185045140-18330dd2-194c-4dd1-8f62-f7dcc4debe39.jpg)

Priority of this issue will be

[2022-08-17 11:20] swatipawarGS commented on #34323
Hi @lcinformatica,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.8.0 version and WordPress 6.0.1 version.

Please find below the screenshot for reference :

![#34323](https://user-images.githubusercontent.com/94531721/185046916-5f083f60-a6b2-49f5-895a-69d03dcb4502.jpg)

Priority of this issue

[2022-08-17 11:21] AnnaMag commented on #33534
Apologies for the delay in addressing it. We have evaluated it last week and left a comment [on the main issue](https://github.com/woocommerce/woocommerce/issues/34000#issuecomment-1215032005).

[2022-08-17 14:28] vedanshujain commented on #32715
Hey @tobiasgardner , we cannot reproduce in our test environment; we are getting a unique list of products as expected.

That said, this may be happening because of the following reasons:
1. It might be that a caching plugin or an incorrectly configured CDN is caching the results of API calls and sending out the duplicate result. You should be able to identify this by supplying more get params (su

[2022-08-17 14:32] nicholasjeberlin opened #34358 "[Enhancement]: wc_customer_bought_product() Performance Improvement"
### Describe the solution you'd like

I have a merchant who has shared that they have found a change that provides a large performance improvement to the `wc_customer_bought_product` function located in woocommerce/includes/wc-user-functions.php.

[code]
Leaving this here for input from developers and the community.

### Describe alternatives you've considered

_No response_

### Additional contex

[2022-08-17 14:32] nicholasjeberlin commented on #34358
5485491-zen

[2022-08-17 14:39] vedanshujain commented on #33545
Thanks for the report, marking this as `bug`. Also adding a `low-priority` label as compared to other high priority bugs already opened in the repo.

[2022-08-17 14:45] ecgan commented on #33895
@becdetat , thank you for the feedback! Now I know I'm heading towards the right direction. 😄

Gotcha. Just want to note that It has already been removed in PR https://github.com/woocommerce/woocommerce/pull/34080/files#diff-e408579fe78195c4846ef8cc5d6dd8fd1af41e62ec933b93f8261da029cd85f0L2-L4.

Yeah the tests are missing because I am kinda in a crunch time to develop the feature, and there isn't

[2022-08-17 14:48] ecgan commented on #33895
@ilyasfoo , thanks for the feedback, especially for the team names (I needed that)! 😄 👍

[2022-08-17 14:50] tomalec opened #34360 "The link to Components documentation is outdated"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

`@woocommerce/components`'s [README](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/components#readme)  has a link to view [_"the full Component documentation"

[2022-08-17 15:20] nmarrot commented on #27631
I'm actually facing the same problem.

**When i call :**
https://par-toutatis.fr/wp-json/wc/v3/orders
**I receive :**
[code] => rest_no_route [message] => No route was found matching the URL and request method. [data] => stdClass Object ( [status] => 404 )

But it works perfectly if i call : https://par-toutatis.fr/wp-json/wc/v3/orders/myId

Versions:
Wordpress: 6.0.1
WooCommerce: 6.3.1

![Capture

[2022-08-17 15:58] AnnaMag commented on #34026
@jonathansadowski  yes, it was. Thank you the ping, I am closing it.

[2022-08-17 15:58] #34026 closed, assigned to nobody

[2022-08-17 17:18] barryhughes commented on #34281
Hi @Marc-pi,

I can't replicate and wonder if this is specific to your hosting environment?

https://user-images.githubusercontent.com/3594411/185200852-083b866a-a438-4421-b66f-27eebb3c6582.mov

:point_up: I successfully updated on a shared hosting account and there did not appear to be any issue. We are also seeing the expected adoption rates for 6.8.0, and are not seeing widespread reports of pr