[2021-12-12 00:35] #31269 closed, assigned to nobody

[2021-12-12 00:35] #31278 closed, assigned to nobody

[2021-12-12 00:35] #31279 closed, assigned to nobody

[2021-12-12 05:21] streamworksaudio opened #31424 "$order->update_status( 'wc-completed' ); not sending order notes in email"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have some code that is fired by the woocommerce_order_status_processing hook.  The code goes through each item on the order and retrieves (if required) some meta data for the p

[2021-12-12 14:01] Coernel82 commented on #27661
@Syprer @sebastijanz @designboxcom @vortexfoto @mxa @matthiaswagnerwy @tinof
Do you have any feedback? I found the first tiny bug.
Maybe you can give some feedback and report bugs here: https://github.com/Coernel82/SEPA-QR-for-Woocommerce/issues

[2021-12-12 14:07] Coernel82 commented on #31358
Hello @juliaamosova

I generally agree on this however as the original thread was very long due to many pieces of information which were not really relevant any more I decided to open a new issue - also as this one is a milestone ahead. From creating the option for a SEPA-QR-Code to actually having a fully functional plugin which just needs to be integrated.

Closing the original thread and markin

[2021-12-12 21:35] tammullen commented on #31048
Thanks @swatipawarGS

In the report from @Rink9 the price changes from **~~18~~ 10** to **10**
In your video the price remains as **~~18~~ 10** this might be because your test site server is using a different timezone to the operating system timezone of your machine, can you share the system status report of the test site?

Can you also try recreating this by checking again over 24 hours after the

[2021-12-12 22:33] tammullen commented on #25887
@swatipawarGS for PayPal can you also check the PayPal input in the Elements, as noted above your screenshot for PayPal shows the COD input in the Elements

[2021-12-12 22:49] tammullen commented on #31366
Hi @rodolphebertozzo ,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close t

[2021-12-12 22:49] #31366 closed, assigned to nobody

[2021-12-12 22:50] tammullen commented on #31368
Hi @397-sanjiuqi ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2021-12-12 22:50] #31368 closed, assigned to nobody

[2021-12-12 23:05] tammullen commented on #31374
Hi @sethbarrett

It will be great if you could share your current System Status Report to help us evaluate this issue. You can get it by navigating to the WooCommerce / Status section of your site. Once there, click on the Get system report button and then copy it by clicking on the Copy for support button. Then paste it here in a comment.

[2021-12-12 23:11] tammullen commented on #31393
Hi @tc33 ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-12 23:14] tammullen commented on #31401
Hi @jacobmxsm ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the WooCommerce Subscriptions plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact WooCommerce support team by [opening a ticket

[2021-12-12 23:14] #31401 closed, assigned to nobody

[2021-12-12 23:17] tammullen commented on #31419
Hi @onehostedon ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide

[2021-12-12 23:17] #31419 closed, assigned to nobody

[2021-12-12 23:44] tammullen commented on #31372
Hi @HBaz92 ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

You checked the checklist item that you have deactivated other plugins and confirmed this bug occurs when only WooCommerce plugin is active however you also mentioned this happens with WooCommerce Smart Coupons Plugin by StoreApps and your sys

[2021-12-13 00:35] #31300 closed, assigned to nobody

[2021-12-13 05:11] AssadMalik opened #31426 "LearnPress error: Query lp/v1/courses/archive-course learnpress"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We are using LearnPress + WooCommerce to build an online Course selling platform but when we connect the woo-commerce to learn press then it gave us an error which is maybe AJAx

[2021-12-13 08:47] peterfabian commented on #31421
Thanks for creating an issue, @tjcafferkey ! I think you're right that it might be better to solve it upstream. Would you like to take a stab at submitting a PR for it?

[2021-12-13 08:48] peterfabian commented on #31389
The feature is probably not used very often, but affects our other products, so marking as high for now.

[2021-12-13 08:51] peterfabian commented on #31360
I'm not sure we can just change it due to backward compatibility reasons, but we can fix docs and tooltip easily, so let's start with that.

[2021-12-13 08:52] peterfabian commented on #31347
This is probably a workflow many people use, so labeling as high prio.

[2021-12-13 09:03] peterfabian commented on #31342
This is part of checkout, so pretty important, but I assume the proportion of users who disable JS is quite minuscule, so assigning low prio.

[2021-12-13 09:05] peterfabian commented on #31339
This is quite annoying, but I'd assume it doesn't happen that often, so assigning low prio. Let us know if you disagree.

[2021-12-13 09:07] peterfabian commented on #31320
@jeffpaul Done.

[2021-12-13 09:17] peterfabian commented on #31293
This sounds quite serious, so assigning high priority, but can't see this in my store with manually created orders, so I wonder if one of the tools isn't the culprit.

[2021-12-13 09:17] peterfabian commented on #32217
This sounds quite serious, so assigning high priority, but can't see this in my store with manually created orders, so I wonder if one of the tools isn't the culprit.

[2021-12-13 09:40] peterfabian commented on #31276
Hey @ronnyadsetts . Appreciate the report and your willingness to take a stab at fixing it. I wasn't able to reproduce locally when I tried it quickly now, but a good place to start looking for the issue is the [bulk_edit_save function](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/admin/class-wc-admin-post-types.php#L456).

[2021-12-13 09:44] peterfabian commented on #31267
Duplicate, closing.

[2021-12-13 09:44] #31267 closed, assigned to nobody

[2021-12-13 10:19] ronnyadsetts commented on #31276
@peterfabian Thanks for the pointer - I'll have a look see what I can find.

In terms of reproducing, I've previous attached a product export to the issue which should help. It's only an issue with simple products and only effects that exact global attribute value. I suspect something to do with the fact that one attribute value is a substring of another and/or that the affected value ends in a hy

[2021-12-13 10:22] saqibamin commented on #31424
@streamworksaudio
Can you confirm if you saved order `$order->save();` after adding the notes and before updating the status?

[2021-12-13 12:07] webdados commented on #26692
Any decision on this, and why was the label "has feedback" been removed?

I'm not going to repeat all the arguments already stated on this thread, but I will focus on this one: **this is a concern to each and every country where the word "invoice" has an actual legal meaning**.

[2021-12-13 12:11] peterfabian commented on #31241
I think woo/components belongs to the woocommerce/admin repository, so moving the issue.

[2021-12-13 12:39] swatipawarGS commented on #31371
Hi @webdados ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots for reference :

![#31371(setting)](https://user-images.githubusercontent.com/94531721/145765106-081b2f62-7e58-4212-9f2f-0a023e3286e3.jpg)

![#31371(account details))](https://user-images.gith

[2021-12-13 12:40] swatipawarGS commented on #28086
Hi @jjbbrr ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145769899-b9e0186d-7623-4a0e-b8a9-a9a11cdd470f.mp4

Please provide us more detailed and any addit

[2021-12-13 12:43] swatipawarGS commented on #27981
Hi @gevcen ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end for French language  using WooCommerce 5.9.0 version , WordPress 5.8.2 version.

Please find below screenshots for reference :

Frontend :
![#27981(frontend)](https://user-images.githubusercontent.com/94531721/145778745-4b5ade7a-b74c-4827-82e9-1438619aae22

[2021-12-13 12:45] swatipawarGS commented on #27118
Hi @Spreeuw ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots for reference :

Non-zero tax :

![#27118(non-zero)](https://user-images.githubusercontent.com/94531721/145782972-97a24b61-8e23-479a-89f1-2e9ba6088b46.jpg)

Zero tax rate :

![#27118(zero)](htt

[2021-12-13 12:48] peterfabian commented on #31173
Hi, this is intentional and has been working this way for a long time. The reason is so that the product title and other places are not obliterated with too many attributes. As for analytics, I think they should use [get_attribute_summary](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-product-variation.php#L432) if needed.

Related https://github.com/w

[2021-12-13 12:48] #31173 closed, assigned to nobody

[2021-12-13 12:55] vvaz commented on #26692
Just read the whole thread and I'm adding my voice to the concerns here. Would really love to see this implemented. If my clients receive an "Invoice" from a non-certified invoicing software vendor - from a list that my government manages and where WooCommerce is not listed / approved - my business can get into serious trouble.

[2021-12-13 12:55] peterfabian commented on #31146
@tgglv is this perhaps something for you folks?

[2021-12-13 13:17] streamworksaudio commented on #31424
@saqibamin

Yes, the portion of my code that adds the note then sets the status to 'completed' is:

$order->add_order_note($_digital_code_order_note);
$order->save();
$order->update_status( 'wc-completed' );

The notes are saved in the order and can be seen from the order view in My Account.  It is just the emails that do not have the notes under the items.

[2021-12-13 13:36] HBaz92 commented on #31372
### i have made new Wordpress  web Site and this data now you see is i reproduce the bug from

**Prerequisites (mark completed items with an [x]):**
- [x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed  #issues and cannot find a duplicate.

**Describe the bug**
im using smart coupon plugin from woocommerc

[2021-12-13 14:00] ziodave commented on #9399
There's a filter to disable it:

[code]

[2021-12-13 15:39] gglobalstep opened #31427 "[GlobalStep - WooCommerce 6.0 RC2][Mac-Safari] For Twenty Twenty One theme, Product Image is displayed small after clicking "Apply coupon" and "Update cart" buttons Cart page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty Twenty One theme, Product Image is displayed small after clicking ”Apply coupon" and "Update cart" buttons Cart page.

### Expected behavior

For Twenty Twenty One the

[2021-12-13 15:55] peterfabian commented on #30379
~Let's make `Add Product Image` handling consistent with WP if possible, then.~

[2021-12-13 16:23] swatipawarGS commented on #26495
Hi @tommyshellberg ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145793627-1ff25fc4-dc2f-4571-b565-7bc75296a071.mp4

Priority of this issue will be assigned shortly after we’d go throu

[2021-12-13 16:23] swatipawarGS commented on #25692
Hi @jffng ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshot for reference :

![#25692](https://user-images.githubusercontent.com/94531721/145801591-08eb52d1-28e7-4493-8cc0-6f0646d401cf.jpg)

Priority of this issue will be assigned shortly after we’d go thr

[2021-12-13 16:23] mklasen commented on #26692
Heya,

In The Netherlands we don't consider an order summary an invoice. Invoice requirements *for businesses* here are quite specific. You'll find a summary below with a source in the bottom.

With 2.5 billion spend on foreign webshops by Dutch consumers in 2020 (an increase of 30% compared to 2019) we can state that business between European member states is thriving. Countries follow their own

[2021-12-13 17:01] webdados commented on #26692
@mklasen In short, and to clarify, you do agree that the word "invoice" should not be used in the WooCommerce core/emails?

The rules are quite similar here in Portugal and all invoicing software must be certified by the tax authority.

We even have (for quite some years now) a mechanism similar to blockchain, in which every invoicing document issued has a hash key that is calculated with details

[2021-12-13 18:15] zhongruige commented on #31427
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. Just noting that this issue also occurs on WooCommerce 5.9.0 following the steps below:

* Set up a site with WooCommerce 5.9.0 and the Twenty Twenty-one theme installed
* Imported the sample products
* Added a coupon to use for testing
* Opened the store page in Safari

[2021-12-13 18:16] renata-franco opened #31429 "Philippines State/Province (Compostela Valley) update to (Davao de Oro)"
### Describe the solution you'd like

I’d like to request a data update or name change for one of the provinces/states in the Philippines:

Affected State: Compostela Valley
New Name State: Davao de Oro

It was renamed on December 7, 2019, under Republic Act 11297.

Source: https://nro11.neda.gov.ph/davao-region/davao-de-oro

[Asked in the WordPress.org forum](https://wordpress.org/support/topic/p

[2021-12-13 20:46] mklasen commented on #26692
Definitely, we don't consider an email order confirmation / order summary an invoice in The Netherlands.

I think it could be considered as one when it contains all the required information but since this is country-specific, the quick fix would be to just eliminate the word invoice. The site owner can then integrate an invoice solution themselves.

[2021-12-13 21:00] TimBHowe opened #31430 "[Enhancement]: Allow the removal of the "WooCommerce knowledge base" blog feed Coupons screen"
### Describe the solution you'd like

The "WooCommerce knowledge base" displays on the Marketing and Coupon Section of sites regardless of if you want the information or not.

This is making asset request to the https://woocommerce.com/ site for the blog feed for post and on the Coupon Screen post with the 'coupons' tag.

This still appears even when the WooCommerce > Settings > Advanced > WooComm

[2021-12-13 21:03] #31320 closed, assigned to nobody

[2021-12-13 21:51] alpha-pix commented on #9320
+1 for this. I'm in the UK, and it works very similarly to Germany. I can live with using standard rate VAT if anything is taxable in the basket, instead of the averaging approach; but it's a mess for me if the basket is not taxed.

I was wondering if the reason this hasn't been implemented is to do with the need for a deeper overhaul of calculations on tax inclusive prices, as the rounding errors

[2021-12-13 22:55] #31288 closed, assigned to MrJnrman

[2021-12-14 02:30] passatgt commented on #26692
Same situation for Hungary, invoicing can be done only with certified softwares, so this e-mail is just and order confirmation or reminder. Which is useful, but its certainly not an invoice(at least not in Hungary). I develop two separate invoicing extension(with around 5000+ active installs) and this issue does come up frequently in support tickets.

[2021-12-14 02:48] moon0326 commented on #32219
Hey @pmcpinto ✋

As far as I know, we're already tracking the page view with `page_view` track. Could you share with us what was challenging? Is this because the name is not unique?

[2021-12-14 03:14] PrinceOfAbyss commented on #16371
@mikejolley I'm sorry for bringing this topic up after so many years, I know this is a bug report topic while my question is a presales one more or less...

However, as I googled the matter and this topic was returned, can you please let me know before I proceed to purchasing your plugin, that any incompatibility issues with Porto theme were resolved?

At first I asked the same question to the Por

[2021-12-14 05:16] seebeen opened #31432 "[Enhancement]: Add custom validation hooks for customer fields"
### Describe the solution you'd like

During the address save validation (File: https://github.com/woocommerce/woocommerce/blob/8dee94a0edc24ed935487a278fbb827fd1f0145c/plugins/woocommerce/includes/class-wc-form-handler.php#L137)

Some validation happens based on validate value of the field array.
Currently validation happens only for postcodes, phones and emails.

Something similar happens durrin

[2021-12-14 06:09] Vivianngozi opened #31433 "Add to cart loading endlessly"
Add to cart button keeps loading endlessly or else it refreshes the page. It was not like that before, I don't know what changed.
https://bonafidewears.com

[2021-12-14 06:31] rodelgc commented on #31433
Hi @Vivianngozi,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2021-12-14 06:46] rodelgc commented on #31424
Hi @streamworksaudio,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get he

[2021-12-14 06:46] #31424 closed, assigned to nobody

[2021-12-14 06:56] rodelgc commented on #31426
Hi @AssadMalik,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin LearnPress.

Please contact the author of the plugin directly for further help.

[2021-12-14 06:56] #31426 closed, assigned to nobody

[2021-12-14 07:50] rodelgc commented on #31402
Hi @Chrystll,

Thank you very much for your feedback. I see from your system status report and screenshot that you used Twenty Twenty-Two as the theme. And I also noticed that I erroneously mentioned "Twenty Twenty-Two" as the theme I used in my [earlier comment](#issuecomment-989837794). While in fact, I meant to say "Twenty Twenty-One" as my screen recording shows. Apologies for the confusion!

[2021-12-14 07:50] #31402 closed, assigned to nobody

[2021-12-14 08:55] tjcafferkey commented on #31421
Thanks @peterfabian we'll take a look at this as part of our V2 work for this project 🙂

[2021-12-14 10:03] mmilosheski opened #31434 "wc_get_formatted_cart_item_data() product type check not working"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

on line 3676 in woocommerce/includes/wc-template-functions.php

where we have:

`if ( $cart_item['data']->is_type( 'variation' ) && is_array( $cart_item['variation'] ) ) {`

it n

[2021-12-14 10:33] webdados commented on #26692
@passatgt That's exactly why I raised the issue. The screenshot in [this comment](https://github.com/woocommerce/woocommerce/issues/26692#issuecomment-641910088) shows options to issue a real invoice that can be confused by the "fake invoice" email from WooCommerce.

[2021-12-14 10:48] mmilosheski commented on #30918
Hi @barryhughes I have a Menu Walker where I extend the menu with cool output, the problem occured while implementing  Klaviyo and Brava POS plugins, both are hitting woo rest api endpoints and both plugins were throwwing error 500 in the menu walker, so I have fix the issue by wrapping the output with the following condition:

[code]

I hope this helps with the solution

[2021-12-14 11:35] erikdemarco opened #31436 "Textarea in Checkout Form will not be highlighted if empty"
### Describe the solution you'd like

Currently when you add custom texarea checkout field. And you set this field as required. Then when you go to checkout form and do not fill this field. After you click the submit button this textarea will not get highlighted red. Because currently woocommerce only look highlight the error if the field type is 'select' / 'input' / 'checkbox'.

### Describe alte

[2021-12-14 12:41] swatipawarGS commented on #31411
Hi @sukafia ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

![#31411(cat)](https://user-images.githubusercontent.com/94531721/145944601-4f9ff661-5901-4a91-98dc-f3cd72c33c7a.jpg)

![#31411(productpage)](https://user-images.githubusercon

[2021-12-14 12:42] swatipawarGS commented on #27518
Hi @jjbbrr ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

![#27518(Cash)](https://user-images.githubusercontent.com/94531721/145950188-7aee9230-3778-4061-baa9-56867d7e5602.jpg)

Priority of this issue will be assigned shortly after we

[2021-12-14 12:43] swatipawarGS commented on #26404
Hi @will-yellowpeach ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

Chrome :

![#26404(chrome)](https://user-images.githubusercontent.com/94531721/145953401-e0a5ed5a-f3d3-47a4-bfbc-58e3f37ae370.png)

Firefox :
![#26404(firefox)](https

[2021-12-14 12:45] swatipawarGS commented on #25887
Hi @guyinpv ,

Thank you pointing out the mistake. Yes! the input id as well as the input value fail to change even after selecting payment method other than COD.

Please find below  screenshot for reference :

![#25887](https://user-images.githubusercontent.com/94531721/145960902-b4aef02b-4c02-45a5-82ca-0c991f1799ee.jpg)

Priority of this issue will be assigned shortly after we’d go through a rou

[2021-12-14 13:34] jeffstieler commented on #25255
@masahrpro can you please open a [New Issue](https://github.com/woocommerce/woocommerce/issues/new/choose) with steps to reproduce?

Thank you!

[2021-12-14 14:00] nicomollet commented on #26692
Can we expect an answer from Devs on this?
This is currently the issue with most +1 reactions.
https://github.com/woocommerce/woocommerce/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

[2021-12-14 14:01] TecLub opened #31437 "Issue with Yoast and WooCommerce"
1 of the Yoast columns is causes an error in my product overview in the backend. Looks like the column SEO-title isn't working like it's suppost to work.

![image](https://user-images.githubusercontent.com/96126205/146012681-519b8b65-40db-4922-a913-23d07227072c.png)

[2021-12-14 14:11] swatipawarGS commented on #31422
Hi @mpmedialab ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

Cart page :

![#31422(cart)](https://user-images.githubusercontent.com/94531721/145980216-b74da6ec-2075-4362-a5ad-3c2aebf5e5db.jpg)

 Checkout page :

![#31422(checkout)](h

[2021-12-14 14:12] swatipawarGS commented on #31423
Hi @securevault ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version .

Please find below screenshots for reference :
Page 1 :

![#31423(page1)](https://user-images.githubusercontent.com/94531721/145998700-7eaf5751-5ac4-45e1-9dd0-fc07db59b446.jpg)

Page 2 :
![#31423(page2)](https://user-

[2021-12-14 14:48] barryhughes commented on #30918
Thanks, though there still isn't quite enough for us to replicate the problem and assess if the issue is a bug in WooCommerce or not. Things we would need before we can take a second look:

- A set of steps to replicate
- The most minimal possible code snippet(s) required to see the problem

Otherwise, we are left guessing. It would also be useful to know the specific error that is being generated

[2021-12-14 15:02] pmcpinto commented on #32219
@moon0326 in the previous experiments we assumed that everyone in the eCommerce plan that fired a wc-admin pageview saw the WCPay red badge. And this wasn't 100% accurate as we weren't tracking the red badge views or something similar. But as I mentioned in the description, maybe we can get this through ExPlat without creating new Tracks. We can use an event like wcadmin_page_view as the exposure

[2021-12-14 15:20] LevinMedia commented on #32263
@joshuatf @mattsherman can we proceed with the plan I detailed in my most recent [comment](woocommerce/woocommerce#32263)?

[2021-12-14 15:48] vedanshujain commented on #27640
This is a good suggestion, although if we are touching this file, then we should refactor `is_blocked`, `block` and `unblock` methods to a utility file without jQuery and then re-use them. But this would increase the scope of the fix.

Ideally though, all these methods should be available inside a namespace, including the cart objects so that they can be customized.

In short, we would accept a PR

[2021-12-14 15:48] ribaricplusplus opened #31439 "PHP unit tests don't work when using wp-env."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Running PHP unit tests ( `pnpm nx unit-test woocommerce` ) doesn't work when `wp-env` is used for development.

I'm new here, but it seems that `wp-env` was introduced into this

[2021-12-14 15:57] joshuatf commented on #32263
Sounds like a good plan to me.  Thanks for confirming, @LevinMedia!

[2021-12-14 16:10] vedanshujain commented on #27650
Agree with @barryhughes 's suggestion here, although I am not sure if we can "fix" the behavior from being emitted multiple times because there might be shops relying on it. But this is definitely a bug.

Adding a new topic, like product.published looks to be the safest the way, so I am marking this is a enhancement request with scoping adding this new topic.

Meanwhile, filters  `woocommerce_webh

[2021-12-14 16:23] elizaan36 commented on #32230
Thanks for bringing this up @lanej0! Agreed on the workaround for clarity in the interim.

Sounds like a WooCommerce.com issue that needs to be resolved, especially with the upcoming onboarding/essentials work. Is there someone we should flag this with for visibility, @mattyza ?

If paid products are shown in the onboarding it's going to be key to first present the correct currency based on what w

[2021-12-14 16:25] ghost opened #31440 "bad cumulation of fees"
Hello,
on Credit or debit card, there is an error :
![image](https://user-images.githubusercontent.com/70097501/146037667-f1cc63bc-69b2-4f3a-8782-333083431bbc.png)
It's not 4.9% for total per transaction each time : only when the payment is made with a non european card AND in another currency than wich is used on website. So many times, total per transaction is only 1.4% + 0.25.

it's confused !

[2021-12-14 16:30] jarekmorawski commented on #32230
I found some research that suggests that presenting prices in customer's local currency by reduce checkout abandonment by up to 50%. It should be easier once WCCOM starts using WCPay and built-in multi-currency feature. When that happens, in addition to the currency switcher mentioned by Elizabeth above, we probably should display the exchange rate and FX fee, too.

[2021-12-14 18:16] aheckler opened #31442 ""Tax based on subtotal amount" snippet no longer working"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The "Tax based on subtotal amount" snippet shown here no longer works:

https://woocommerce.com/document/configuring-specific-tax-setups-in-woocommerce/#section-7

Filing a bug p

[2021-12-14 19:36] ms2oo8 commented on #16620
I thought I was going crazy till I came across this issue. There seems to be an issue here.
How has this not been addressed yet in core?

[2021-12-15 01:07] elizaan36 opened #32210 "Navigation: wc-admin app bar overlapping WPCOM navigation on mobile"
### Describe the bug
When viewing an ecommerce plan or business plan site on mobile (when the new WooCommerce navigation is turned off), the wc-admin app bar overlaps the WordPress.com unified navigation.

### To Reproduce

1. On any WordPress.com hosted site with Woo navigation turned off, go to any WooCommerce area such as 'WooCommerce Home' or 'Orders'
2. See error

### Expected behavior
When t

[2021-12-15 02:02] the-csaba commented on #27650
Thank you for the comments, @barryhughes and @vedanshujain

We are currently in a year-end rush but happy to continue the conversation and find a solution early next year.

[2021-12-15 03:43] erikdemarco commented on #31423
Me too have the same problem. There's a bug report in WP with the same issue.

=> https://core.trac.wordpress.org/ticket/50910

Maybe is it related?

@swatipawarGS From your screenshot it seems like you not using native WP-sitemap settings. Because vanilla wp sitemap doesnt have images and last modified column in the sitemap. At least from what i reproduced. (see screenshot)

Here's my steps:
-) C

[2021-12-15 08:00] rodelgc commented on #25392
We'll try to reproduce this on the current latest stable version of WooCommerce (version 5.9.0) to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-15 08:01] rodelgc commented on #25433
We'll try to reproduce this on the current latest stable version of WooCommerce (version 5.9.0) to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-15 08:02] rodelgc commented on #25495
We'll try to reproduce this on the current latest stable version of WooCommerce (version 5.9.0) to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-15 08:07] rodelgc commented on #25243
We'll try to reproduce this on the current latest stable version of WooCommerce to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-15 11:19] dinhtungdu opened #42659 "Mini Cart: only allow Mini Cart Contents block in the `mini-cart` template part"
## Is your feature request related to a problem? Please describe.
With changes introduced in woocommerce/woocommerce-blocks#5386, the title of the `<Drawer>` is converted to an inner block. To style the filled view correctly with the footer fixed to bottom, the products table is scrollable and expands to the remaining vertical space of the `<Drawer>`, we need to make the Mini Cart Contents block f

[2021-12-15 11:23] gchtr opened #31448 "REST API v3: `post_status` / `status` can’t be filtered with `woocommerce_rest_orders_prepare_object_query` filter"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I’m using the `woocommerce_rest_orders_prepare_object_query` filter to filter out cancelled orders from the REST API in v2:

[code]

However, in v3 of the REST API, the filter do

[2021-12-15 11:24] laundy commented on #26256
As this issue still exists, I want to push it a bit:
Especially for my customers being active in the Retail industry, mass-import of products is a very important feature. One of my customers gets new variations shipped every week and needs to include them as fast as possible into their WooCommerce installation. I wrote a script that transforms the product data and information from the customer's E

[2021-12-15 12:05] dinhtungdu commented on #42659
At this point, if we decide to only allow Mini Cart Contents block in the `mini-cart` template part, then do we even need the template part?

If the template part makes it easier for themes to customize the mini cart content block, how theme authors can do that with our current implementation? Note that we use `useForcedLayout` and a hard-coded set of blocks in [here](https://github.com/woocommerc

[2021-12-15 13:40] zhongruige opened #31449 "Allow passing in multiple parameters to test commands"
**Issue Description:**

We should look into allowing passing in more parameters to test commands, for example:

[code]

To do this, we'll need to update `wc-e2e.sh` to accept all arguments (currently it only grabs `$2` so we may want to update this to be `$@` instead).

See the discussion in this comment for more details: https://github.com/woocommerce/woocommerce/pull/31400#discussion_r768176394

[2021-12-15 14:42] swatipawarGS commented on #31423
Hi @erikdemarco ,

Thank you for the updated information. we are able reproduce the issue using the given updated information on our end with WooCommerce 5.9.0 version .

Please find below screenshots for reference :

wp-sitemap-posts-product-1.xml:

![#31423(page-1)](https://user-images.githubusercontent.com/94531721/146142099-e8533a74-b3c2-4310-82a0-6b64bb558e0f.jpg)

wp-sitemap-posts-product-2.

[2021-12-15 14:44] swatipawarGS commented on #25495
Hi @njwgh ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screenshot for reference :

![#25495](https://user-images.githubusercontent.com/94531721/146152188-18d71733-0d1b-4576-9461-f3318cc31cc5.jpg)

Please provide us more detailed and

[2021-12-15 14:46] swatipawarGS commented on #25433
Hi @dougaitken ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/146181282-c1e79cc3-8032-4ac5-8adf-3df8c4206f4d.mp4

Priority of this issue will be assigned shortly after we’d go through a

[2021-12-15 15:38] King-Rings opened #31451 "Woo widget 'Filter Products by Attribute' returns results which include disabled attributes"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Woo widget 'Filter Products by Attribute' returns products where the filtered attribute is present but not enabled.

### Expected behavior

Woo widget 'Filter Products by Attribu

[2021-12-15 16:24] reyrahn commented on #22862
+1
Alñternatives and/or Plugins available are not quite friendly with SEO and affect the performance of other functions like filters, attribute, etc. as well.
Hope to see Gutenberg working asap! Rgds.

[2021-12-15 16:25] ArchitectOfRuin commented on #30342
I agree with this proposal. If we want to compete with Tilda, this option is required for implementation.

[2021-12-15 17:20] rrennick opened #31452 "Add config defaults for remaining E2E tests"
This issue is a follow up to #31428 which adds support for default `config` values. We have some tests which call `config.get` without checking whether the value exists. All of those calls should be updated to provide default values.

[2021-12-15 17:42] barryhughes commented on #31393
Thanks for flagging! I agree—if a specific IP address is passed, then that is what should be assessed (and we shouldn't assume that headers from the current request should override it). I can't envision any serious backward compatibility concerns that would arise from resolving this.

[2021-12-15 17:52] #31393 closed, assigned to nobody

[2021-12-15 18:26] rrennick opened #31453 "Investigate zsh error on test scaffold"
This is a follow up issue to #31260. On testing we encountered the following issue with `zsh`:

[code]

[2021-12-15 18:31] rrennick opened #31454 "Update default default.json"
We have added quite a few entries to `tests/e2e/config/default.json` since we created `e2e-environment/config/default/default.json`. Missing entries can be found by

- Remove `tests/e2e/config/default.json`
- `pnpx wc-e2e docker:up`
- `pnpx wc-e2e test:e2e`
- Monitor for config entry missing messages

[2021-12-15 18:35] rrennick opened #31455 "Add --force option to test scaffold"
This is a follow up issue to #31260.

This parameter will all interactive bypass of confirmation prompts and allow for unattended use. Usage should be

`pnpx wc-e2e install @woocommerce/e2e-core-tests --force`

[2021-12-15 18:43] rrennick opened #31456 "Scaffolding install files don't include Windows support"
This is a follow up issue to #31260.

The `installFiles` index has Linux path separators

[code]

This needs to be updated to use `path` to build the file paths.

[2021-12-15 19:10] sunyatasattva opened #42658 "Module aliases conflict with eslint `dependency-group` rule"
We currently use this custom ESLint rule: eslint(@woocommerce/dependency-group) which makes us group internal and external dependencies in import statements separately.

The rule, however, considers our aliased module starting with `@woocommerce/` to be external, which not only defeats the purpose of the rule, but it actually makes it worse, because now people reading the code are explicitly told

[2021-12-15 19:23] moon0326 commented on #32219
Thank you for the explanation 👍

Please correct me if I'm wrong since I'm not very experienced with `exposure event` concept yet, but it sounds like users must be assigned to an experiment first according to this [field guide](https://github.com/Automattic/experimentation-platform/wiki/Experimenter%27s-Guide#what-is-an-exposure-event-and-when-do-i-need-it).

I think we still can't track if the ass

[2021-12-15 19:28] leskam opened #31457 "[Enhancement]: Additional parameters in woocommerce_get_product_thumbnail"
### Describe the solution you'd like

Currently the function **woocommerce_get_product_thumbnail** has two parameters that are deprecated.
`function woocommerce_get_product_thumbnail( $size = 'woocommerce_thumbnail', $deprecated1 = 0, $deprecated2 = 0 )`

Sometimes there are situations when we want to add custom e.g. classes on these function.
In the file wc-template-functions.php definition of **

[2021-12-15 21:15] masteradhoc commented on #31429
@renata-franco just as a small hint to speed up things. WooCommerce respects the Unicode Standard for states of countries. Please check here: https://github.com/unicode-org/cldr/blob/release-40/common/subdivisions/en.xml#L4214

Seems Unicode still has the old State name in their list. Please contact them to update so we'll be also able to update it in woocommerce

[2021-12-15 21:53] barryhughes commented on #30925
Hi @sLippitt,

I allowed registration from the My Account page and also put the following snippet in place:

[code]

Next, I tried to register a new account by supplying the email address `disallowed@local.dev`. Registration is halted and the expected error message displays. As you can see in the following screenshot, the cart is empty when I do this:

<img width="924" alt="custom-registration-log

[2021-12-15 21:58] barryhughes commented on #28513
Thanks, agreed!

@jessepearson just to confirm, is this causing any other issues for you (such as noise in the error logs)? Confirming in case the priority (which I'll initially set to `low`) should be revised.

[2021-12-16 00:35] #24528 closed

[2021-12-16 00:35] #27419 closed

[2021-12-16 00:35] #29434 closed

[2021-12-16 01:18] dinhtungdu commented on #42659
With https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/4856, yes, we need a template part.

[2021-12-16 02:45] njwgh commented on #25495
I agree. I am no longer able to reproduce this.

[2021-12-16 02:45] #25495 closed

[2021-12-16 03:16] webtech-jomase opened #31459 ""list all products" has stopped working properly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Today, I understand that after a woocommercer update (I have the plugin update automated), the REST API call under PHP $woocommerce->get('products') has stopped working correctly

[2021-12-16 07:59] drpark commented on #24540
Similar problem with rounding too...

Subtotal equal : 144.16 tax excluded + 30 shipping tax excluded
vat 20%
(144.16+30)*1.2=208.992 so 208.99 ,
keeps displaying 209 instead of 208.99
thanks

![image](https://user-images.githubusercontent.com/286663/146332058-eec6269b-dddc-4d7c-82db-718256c8d581.png)

[2021-12-16 08:06] rodelgc commented on #25025
As this bug is already quite dated, we'll try to reproduce this on the current latest stable version of WooCommerce to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-16 08:11] rodelgc commented on #24947
As this bug is already quite dated, we'll try to reproduce this on the current released version of WooCommerce to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-16 08:15] rodelgc commented on #24706
As this issue is already quite dated, we'll try to reproduce this on the current released version of WooCommerce to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-16 08:22] rodelgc commented on #24261
As this issue is already quite dated, we'll try to reproduce this on the current released version of WooCommerce to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-16 08:27] webmandesign commented on #31210
For anyone interested, I've released a plugin at https://wordpress.org/plugins/wc-a11y/ fixing these issues now.

[2021-12-16 08:31] rodelgc commented on #23916
As this issue is already quite dated, we'll try to reproduce this on the current released version of WooCommerce to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-16 09:13] BirRobotic opened #31460 "Bug in repeated reduction of product inventory"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unfortunately, in the order tab, by changing the waiting status to the current payment, instead of executing the order, the inventory reduction request is executed several times.

[2021-12-16 09:17] zacharydigital opened #31461 "WooCommerce Payments Configure payment method error report"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce Payments Configure payment method error report
<img width="731" alt="WX20211216-151758@2x" src="https://user-images.githubusercontent.com/7262553/146342269-4eb2b627-c

[2021-12-16 09:20] zacharydigital commented on #31461
i have already confirmed my  email address
<img width="731" alt="WX20211216-151758@2x" src="https://user-images.githubusercontent.com/7262553/146343462-83b8a20a-e401-42b1-8fad-0b49cd15e332.png">

[2021-12-16 09:20] zacharydigital commented on #31461
<img width="814" alt="WX20211216-171929@2x" src="https://user-images.githubusercontent.com/7262553/146343508-c6555aae-47d1-4eb8-a39f-1509a1c9a038.png">

[2021-12-16 10:15] datgausaigon opened #31462 "[Enhancement]: Option remove "WooCommerce knowledge base" in "Marketing""
### Describe the solution you'd like

Hi,
I request a feature is: Option to remove "WooCommerce knowledge base" in "Marketing".
In current version of WooCommerce we have any solution to disable / remove this? (Hook, hardcode etc)
Thanks.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-16 10:20] datgausaigon commented on #31430
Hi, in current version of WooCommerce we have any solution remove/disable the "WooCommerce knowledge base"?
"WooCommerce knowledge base" "eat" some admin performance and bother my admin. Any way? Hard code, Hook, etc?
Thanks

[2021-12-16 11:05] ralucaStan opened #42657 "Our custom Eslint rules for correct usage of feature flag don't work"
## Describe the bug
We have custom Eslint rules for correct usage of feature flag that don't work.
They were introduced by [this PR](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/1696), and they live in this file `bin/eslint-plugin-woocommerce/` and are an extension of the `eslint-plugin-woocommerce` package. See the  `"eslint-plugin-woocommerce": "file:bin/eslint-plugin

[2021-12-16 11:24] renata-franco commented on #31429
Thanks! Although, I'm in a mini rotation with Woo, so I'm not sure how to contact them? Any idea how, @masteradhoc?

[2021-12-16 11:27] jessepearson commented on #28513
@barryhughes I am not sure, to be honest. I haven't worked with a site with PayPal set up since January of this year. Being that there's been no other comments on this thread, I would think that merchants have not had any issues.

[2021-12-16 12:40] rodelgc commented on #31387
Hi @kkmuffme,

Thank you for bringing this topic up! I am adding the `needs developer feedback` label to this issue so that the Core team could take a look and continue the discussion, or direct you to an appropriate forum.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-16 12:54] picstudio opened #31464 "Attributes: how can I change this color? Where did it come from?"
Hello, how can I change this RED COLOR? Where did it come from? Thanks)

<img src="https://yalta-okna-veka.ru/wp-content/uploads/2021-12-16_154938.jpg" alt="" />

[2021-12-16 13:14] rodelgc commented on #31461
Hi @zhenxingdev,

Thank you for submitting the issue. Even though you provided us the actual and expected behaviors as well as screenshots, you didn’t provide us the steps to replicate the error. Judging from your screenshots, it seems that you had previously started setting up WooCommerce Payments, and then got the error message when you went back to continue setting it up. We need the exact step

[2021-12-16 13:25] rodelgc commented on #31459
Hi @webtech-jomase,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

FWIW when I tested in Postman, the "List all products" endpoint is correctly showing 100 items when I used only `page: 1` and `per_page: 100` as parameters like so:
[code]

Please

[2021-12-16 13:27] rodelgc commented on #31437
Hi @TecLub ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

Here's the template that you should fill out when reporting issues in the repo:

**Describe the bug**
A clear and concise d

[2021-12-16 13:29] rodelgc commented on #31439
Hi @ribaricplusplus,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-16 13:30] TecLub commented on #31437
Hi!

Turned out you can choise columns in the screenoptions. Turned of the column that caused it :)

[2021-12-16 13:30] rodelgc commented on #31440
Hi @Cellophile,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues la

[2021-12-16 13:32] rodelgc commented on #31442
Hi @aheckler,

Thanks for submitting this issue on the Core repo. I'll label this as a bug so the Core team could take a look.

[2021-12-16 13:35] rodelgc commented on #31464
Hi @picstudio,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](h

[2021-12-16 13:35] #31464 closed, assigned to nobody

[2021-12-16 13:36] webtech-jomase commented on #31459
Thanks rodelgc. In my case, not only does it return the list without problems, also the final count coincides with the number of products listed in the store. The problem is that we are talking about a loss of tens of thousands of products. Now I am going to work to check what is filling in the lost products and then share it. We have realized the problem thanks to having a platform running for ye

[2021-12-16 13:40] rodelgc commented on #31460
Hi @BirRobotic,

Thank you for submitting the issue. Even though you provided screenshots and the status report, you didn’t fill out the portion for the steps to replicate this issue.
Also, if you could provide us the System Status Report in english, that would be of great help as well.
Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so w

[2021-12-16 13:41] rodelgc commented on #31434
Hi @mmilosheski,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-16 13:42] swatipawarGS commented on #25243
Hi @SiR-DanieL ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and and WordPress 5.8.2 version.

Please find below screenshots for reference :

All HTML accepted and saved as an administrator:

![#25243(admin)](https://user-images.githubusercontent.com/94531721/146329456-a49ba2bd-1ce6

[2021-12-16 13:43] swatipawarGS commented on #25025
Hi @mikkamp ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast  for reference :

https://user-images.githubusercontent.com/94531721/146336621-b28d21f6-3d4f-4192-b665-1fd897b5032b.mp4

Priority of this issue will be assigned short

[2021-12-16 13:45] swatipawarGS commented on #23916
Hi @passatgt ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast  for reference :

https://user-images.githubusercontent.com/94531721/146344878-5fa121a0-e9ba-4677-8b56-287b6e992099.mp4

Please provide us more detailed and any ad

[2021-12-16 13:46] swatipawarGS commented on #25392
Hi @mohammadnassiri ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast  for reference :

In English, the direct link to the variation works :

![#25392(English)](https://user-images.githubusercontent.com/94531721/146360490-d3b9a6

[2021-12-16 13:46] rodelgc commented on #31448
Hi @gchtr,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-16 13:49] rodelgc commented on #31437
Thanks for the prompt feedback @TecLub! I'm closing this issue now.

[2021-12-16 13:49] #31437 closed, assigned to nobody

[2021-12-16 13:58] Robbertdk commented on #15642
I also had same issue as @kdekok and @stephangroen.

In my case the problem was that the response of the test ping was 401, which resulted that the pending_delivery status of the webhook was always true.

For the connection with the ERP system of my client, I added a custom authorization header.
I set that header via `woocommerce_webhook_http_args` filter. That filter adds the authorization header

[2021-12-16 14:07] swatipawarGS commented on #24706
Hi @FreshPhil ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast  for reference :

https://user-images.githubusercontent.com/94531721/146365880-17ef124c-fef8-43ba-99f7-a7e70dcda1fe.mp4

Priority of this issue will be assigned sho

[2021-12-16 14:08] swatipawarGS commented on #24947
Hi @ObliviousHarmony ,

hank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast  for reference :

https://user-images.githubusercontent.com/94531721/146381549-bac12ad5-fd87-43d9-95cd-961d05fc5cc8.mp4

Please provide us more detailed and

[2021-12-16 14:25] #31133 closed, assigned to roykho

[2021-12-16 14:25] #31381 closed, assigned to roykho

[2021-12-16 14:56] ghost commented on #31440
OK.
**Describe the bug :**
It's not 4.9% for total per transaction each time : only when the payment is made with a non european card AND in another currency than wich is used on website. So many times, total per transaction is only 1.4% + 0.25.

**To Reproduce**
just go to woocommerce / settings / payments / and you can see my **sreenshot** ...

**Expected behavior**
replace 4,9% by "1,4% or more

[2021-12-16 15:06] osirismqz opened #32209 "Add Phone number to customer reports"
### Is your feature request related to a problem? Please describe.
Exporting customer reports with a phone number would be quite useful to use your list with Facebook audiences and other CRM software.

### Describe the solution you'd like
Adding phone number (billing and shipping) to customer reports.

### Describe alternatives you've considered
I tried to find a way to add the phone number via ho

[2021-12-16 15:16] mklasen commented on #26692
Translating the string "invoice" to "order details" doesn't solve the issue completely as customers and site admins might still use a different language, especially in multisite environments.

Examples:
- A dutch customer uses the English version of a WooCommerce site and receives an order summary that's called an invoice, but doesn't qualify for invoice requirements. Using the word "Order details

[2021-12-16 16:39] rodelgc commented on #31440
Hi @Cellophile ,

Thank you for providing the steps to reproduce. However, the usual _WooCommerce > Settings > Payments_ page is very different from the one in your screenshot. It should look like the one in the WooCommerce Payments Settings documentation found here: https://woocommerce.com/document/configuring-woocommerce-settings/#section-16

And you haven't provided the system status report, wh

[2021-12-16 17:28] Aljullu commented on #42659
Just to add on this, there are a couple of reasons we want to have the Mini Cart drawer contents in a template part:
* It adds a focused editing experience. The editing experience from Appearance > Editor > Template parts removes all the clutter around the Mini Cart. The alternative would be having the Mini Cart drawer contents being editable from the Header template part, the widgets screen, or w

[2021-12-16 17:34] thelogicwizards commented on #31076
Adding [ZD-4617647](4617647-zd-woothemes) to this issue, as well.

[2021-12-16 20:34] zhongruige opened #31467 "Remove duplicate `plugins/woocommerce` from actions"
**Issue Description:**

We should look at removing the duplicate `plugins/woocommerce` from the workflow files. See this comment for context: https://github.com/woocommerce/woocommerce/pull/31400#discussion_r770778008

[2021-12-16 21:05] rrennick opened #31468 ""can create simple virtual product and add it to the cart." fails on retry"
On the second and third pass of the `can create simple virtual product and add it to the cart` test, the screenshot shows the login screen. Ref p1639688149236300-slack-C01QTJVUCRX. The test may be relying on the merchant logging in during the previous test.

[2021-12-16 21:11] rrennick opened #31469 "Allow multiple screenshots per test"
The current screenshot implementation saves the screenshot using the test name converted to a slug. Now that we have implemented retries, we should support saving a separate screenshot per try. This will help identify tests that rely on a step taken in another test.

[2021-12-16 21:57] #30634 closed, assigned to veljkho

[2021-12-16 22:18] tturton-godaddy opened #31470 "Product review page in WooCommerce Core"
Proposed by GoDaddy – Managed WordPress Ecommerce Product Team

### Overview
Product reviews should have a dedicated location within WooCommerce. Novice users have difficulty discovering and managing product reviews since it’s not clear they’re managed alongside site comments via WordPress > Comments.

### Justification
Separation of blog comments and product reviews in WooCommerce Core makes it e

[2021-12-16 23:08] helgatheviking commented on #27640
@vedanshujain I'm not sure I fully understand what you mean... you want to remove jquery? and add a namespace? (not super certain what a namespace even is in the JS context). I hope you'll leave this open though I can't say I will get to it any time soon esp now that it's a bigger change.

[2021-12-17 05:13] HowdyMcGee commented on #31470
Moving away from comments to a dedicated reviews page is a great enhancement. At least adding a "Reviews" subpage under WooCommerce linking to "edit-comments.php?comment_type=review" could add some clarity for users.

[2021-12-17 07:28] rodelgc commented on #23796
As this issue is already quite dated, we'll try to reproduce this on the current released version of WooCommerce to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

**Update**: Well, I just saw that there's already a PR to address this. No need to reproduce for now.

[2021-12-17 07:35] rodelgc commented on #23609
As this issue is already quite dated, we'll try to reproduce this on the current released version of WooCommerce to see if this issue is still happening. I'm adding the `status: needs reproduction` label for the meantime.

[2021-12-17 07:53] rodelgc commented on #31470
Hi @tturton-godaddy,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-12-17 08:00] mitchellkrogza commented on #23796
Come on @rodelgc 2 years and only now someone is willing to test it on the latest version ? For real?
I'll save you some time NO it STILL does not work

Qty sold

![2021-12-17_09-54](https://user-images.githubusercontent.com/9961541/146509733-e1e1e301-b7c0-4ef9-b703-ad0981ace0e7.jpg)

Order placed

![2021-12-17_09-55](https://user-images.githubusercontent.com/9961541/146509786-dd5c3ab4-24c1-4c5f-9

[2021-12-17 08:26] rodelgc commented on #31306
Hi @CodesbyRobot,

I still cannot reproduce the issue using an nginx multisite installation:
<img width="440" alt="Screen Shot 2021-12-17 at 4 22 54 PM" src="https://user-images.githubusercontent.com/4509348/146513039-47921ef0-5c6e-4c76-ba32-dcaaff2414f7.png">

I was also using PHP 8, MySQL 5, WP 5.8.2 and WC 5.9.0 that's later upgraded to WC 6.0.0 in my test environment.

The first and second iss

[2021-12-17 08:26] #31306 closed, assigned to nobody

[2021-12-17 09:50] cambiph commented on #30773
Having the same error:

[code]

[2021-12-17 10:05] swatipawarGS commented on #31048
Hi @tammullen ,

We tried recreating this by checking again over 24 hours after the sale end date.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/146519408-48801ea3-d2e5-48e2-a001-5b165b9566db.mp4

Here are the System report of test site :
<details>
`
### WordPress Environment ###

WC Version: 5.9.0
REST API Version: ✔ 5.9.0
WC Blocks Version: ✔ 6

[2021-12-17 11:06] swatipawarGS commented on #31451
Hi @King-Rings ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/146506594-92bc6001-4f12-442c-ad12-a47b1e6d3ab5.mp4

Please provide us more detailed and any a

[2021-12-17 11:07] swatipawarGS commented on #23609
Hi @tamarazuk ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screenshots for reference :

Enable Calculate coupon discounts sequentially :

![#23609(setting)](https://user-images.githubusercontent.com/94531721/146510367-5ceed3ae-8e1e-4e

[2021-12-17 12:16] rodelgc commented on #31411
Hello @sukafia,

I just want to clarify some of the steps to make sure that I and Swati were able to reproduce it correctly:

I suppose this should be _"Family"_?

I assume you meant  _"Friends > Sunday"_?

If so, I tried reproducing the issue using these assumptions and came up with the following category setup for my product:

<img width="304" alt="Screen Shot 2021-12-17 at 8 03 04 PM" src="http

[2021-12-17 13:00] Nick776 opened #31473 "Updating to 6.0.0 caused php error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi There!

We just updated to WC 6.0.0 on our test page and received the following error:

======
Creating default object from empty value

wp-content/themes/mh-magazine/includes

[2021-12-17 13:20] adrianduffell commented on #32219
Our re-aligned development cycles for EOY causes us some bother here. Assuming that having the data by 2022-02-28 is a hard requirement, we'll need to cherry-pick this work in after the 3.1 code freeze. cc @moon0326 @ilyasfoo

[2021-12-17 13:27] rodelgc commented on #31451
Hi @swatipawarGS,

In your video at around `0:03` it seems that `46mm` was not included in the list of variations?
<img width="303" alt="Screen Shot 2021-12-17 at 9 23 44 PM" src="https://user-images.githubusercontent.com/4509348/146551213-c53b45c2-9cf4-4c13-a5e3-8c80c041ac66.png">

If so, please try to reproduce the issue by adding a `46mm` variation to the "Rose Dragon" product, but have it DISA

[2021-12-17 14:04] swatipawarGS commented on #24261
Hi @WillBrubaker ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version , WordPress 5.8.2 version and nginx server .

Please find below screenshots for reference :

![#24261](https://user-images.githubusercontent.com/94531721/146545604-d42d1ca5-587c-4717-9346-a88162f8efd8.jpg)

Priority of t

[2021-12-17 14:10] King-Rings commented on #31451
There appears to be a detail missed in your attempt to reproduce. Add a 46mm variation and then leave it NOT Enabled. Actually, you could just disable any of the existing variations. The key is … the variation should be present but disabled and the filter will find it.

Scott King
Founder, CEO King Rings LLC
(719) 445-7522 |  <https://kingrings.com/> KingRings.com

From: Swati Pawar ***@***.***>
S

[2021-12-17 14:14] swatipawarGS commented on #31451
Hi @rodelgc @King-Rings  ,

Thank you pointing out the missing step. We are now able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/146554918-1b7a2334-4775-495a-83e8-3e90e95a7f95.mp4

Priority of this issue will be assigned shortly after we’d go through

[2021-12-17 14:20] peterfabian commented on #31473
Hi, thanks for reporting! This error relates to your theme, please contact your theme provider, they will most likely need to release an update for the theme.

[2021-12-17 14:20] #31473 closed, assigned to nobody

[2021-12-17 14:24] peterfabian commented on #31076
Hi!

I wouldn't call this a bug.

You had certain settings active on your site and the order reflects that---it's a snapshot of the reality at the time of the order. You can't recalculate all orders every time you change the settings in your store, that would retroactively change the orders and could create lots of problems. Similarly to how when you change the price of the product included as a l

[2021-12-17 16:16] bekarice-godaddy commented on #31470
heya @rodelgc we are happy to tackle this and look forward to it! just want to be sure we capture any requirements or requests for how to implement before we start hacking away at code. Is there anything we need to be mindful of to have the PR accepted?

[2021-12-17 16:22] #29330 closed

[2021-12-17 17:21] wpniall commented on #29434
Hi @swatipawarGS, sorry for the delayed response. I can't seem to reproduce the problem either even after following my steps above.

[2021-12-17 18:35] sidedwards commented on #26289
@tammullen, I've also confirmed this issue with all plugins deactivated and the default Storefront theme. Not only did it add the coupon at checkout, but it also allowed the user to place the order.

[2021-12-17 19:36] aheckler commented on #31359
In testing, I could not repro this either. User in 4562730-zen said:

@tammullen This issue can be closed.

[2021-12-17 19:38] tammullen commented on #31359
Thanks @aheckler!
Closing

[2021-12-17 19:38] #31359 closed, assigned to nobody

[2021-12-17 19:50] vralle commented on #31402
Same error after upgrading to WooCommerce 6.0
Config:
WordPress 5.9Beta2
WooCommerce 6.0
WooCommerce Blocks: 6.3.3
PHP 7.4.14
MySQL 5.7.29
Windows 11

Quick debugging `AbstractProductGrid->prime_product_variations()`:
[code]
Result:
[code]
[code]

[2021-12-17 21:04] TimBHowe commented on #31430
This should remove it from the Coupons page

[code]
but it really just stops the js from building the blog feed on that page and doesn't stop it from making the request to https://woocommerce.com/wp-json/wp/v2/posts?utm_medium=product

This should also probably be in the https://github.com/woocommerce/woocommerce-admin as it is part of that package but since it is core I wanted to address the issu

[2021-12-17 23:30] shaunkuschel commented on #32220
Received another report of this on 4613327-zen.

[2021-12-18 00:35] #28642 closed

[2021-12-18 06:03] thejamescollins opened #31475 "Missing 6.0.0 GitHub tag/release"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There is no tag for the [recent 6.0.0 release](https://developer.woocommerce.com/2021/12/15/woocommerce-6-0-released/).

cc @ObliviousHarmony

### Expected behavior

A tag should

[2021-12-18 07:51] AashikP commented on #31325
Hi @nebojsa-ed,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2021-12-18 07:51] #31325 closed, assigned to nobody

[2021-12-18 11:39] AashikP commented on #31372
Hello @HBaz92,

I tested this on my local site, but could not replicate the same behavior.

This is the request I sent:

[code]

Here's my coupon setup:

![https://d.pr/i/1W95qy+](https://d.pr/i/1W95qy+)

The response I received:

[code]

Screenshot of the order:

![https://d.pr/i/Inuung+](https://d.pr/i/Inuung+)

---

If you're only seeing this behavior with [Smart Coupons](https://woocommerce.co

[2021-12-18 11:39] #31372 closed, assigned to nobody

[2021-12-18 11:47] erikdemarco commented on #31429
@renata-franco maybe try pull a request on their repo?

[2021-12-18 12:33] Nick776 opened #31476 "Table db469xx_5_wc_rate_limits doesn't exist . Errorcode: qmdb"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After updating to WooCommerce 6.0.0 QueryMonitor reports a database error.
![2021-12-18_13h22_27](https://user-images.githubusercontent.com/43967959/146641114-10fe773f-2e32-4161-

[2021-12-18 13:36] negapo commented on #26692
This is really hard to understand and i think its a symptom of where WooCommerce is heading, Automattic argument is, lets not change it because: "countries, in general, have a different definition of the invoice ..."

**Isn't this the main reason to change it?**
There is no argument to name this "invoice" and not "order summary / details" and although this kind of things can be solved by plugins o

[2021-12-18 15:27] vg-robin commented on #31402
I'm getting this too, using a Best-Sellers grid. In prime_product_variations($product_ids) none of the products are variable, so $product_variations is assigned an empty array. It should be checked there, but isn't, and that inevitably causes the DB error since `WHERE post_id IN () ` is invalid SQL. I don't know the ins and outs of the code, but seems pretty simple?

[2021-12-18 17:15] webdados commented on #26692
YES! A round of applause to @negapo, please.

[2021-12-18 23:41] froger-me opened #31477 "data.coupon_code undefined in checkout.js"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

`data.coupon_code` is `undefined` in `woocommerce/assets/js/frontend/checkout.js` line 671:

[code]

### Expected behavior

When `removed_coupon_in_checkout` is triggered, a `dat

[2021-12-19 06:35] emakx opened #31478 "WooCoomerce Emails are Not Responsive IN RTL WP V5.8.2"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I Contacted WooComerce Support and they confirmed that this is a bug.

WooCommerce Email is not longer Responsive in RTL Website.

I installed a fresh installation of WP 5.8.2 an

[2021-12-19 10:18] 79ho3ein opened #31479 "sale products does not include free shipping / New condition for sending orders."
### Describe the solution you'd like

Hello
It would be great if you could add an option to the order section so that we can exclude sale products from free shipping. Because sale products have a discount and it is not economical to send them for free.
Currently, we have such an option in the coupons section (https://prnt.sc/23o8u53).
It would be great if you could add this option to free shipping

[2021-12-19 10:24] 79ho3ein commented on #30870
hello @juliaamosova , Is there any news about this feature? Please

[2021-12-19 10:31] pacmanito commented on #30870
@79ho3ein I would advise you to use some plugin (there are few for that purpose) instead of expecting Automattic to make this feature for you. Even ready to merge pull requests can take months to be reviewed and included here.

[2021-12-19 10:41] 79ho3ein commented on #30870
@pacmanito  I used two plugins, but they did not work well. They even deleted some images by mistake. However, localizing this feature in WooCommerce will be better than any other plugin.

[2021-12-19 10:57] pacmanito commented on #30870
@79ho3ein I absolutely agree that having this feature in WC would be better, I am just skeptical it would happen considering there are 873 open issues in this repository now and most of Automattic devs are working on Blocks and Admin.
Maybe contacting the plugin author to fix the issue would be a more viable strategy.

[2021-12-19 21:18] sukafia commented on #31411
Both steps are correct. The main issue is that WC is ignoring the product's primary category (both for category & sub-category). In my steps, I used the sub-category but the issue exists for both.

If I set a product as the primary category & visit the product using the [direct URL](https://user-images.githubusercontent.com/4509348/146543132-22a46488-fab9-4a14-9dd3-8f4c8bd54f61.png) it should use

[2021-12-19 23:12] hamed-azimi opened #31480 "States/Provinces for European countries"
### Describe the solution you'd like

Depending on the industry, some EU countries have state-level legal shipping restrictions. (Austria, Germany, Switzerland, and...)

When it comes to these sorts of features, it's always best to keep things automated. Having a pre-defined list of states/provinces will avoid the breach of shipping restrictions (that we developed for the store), and will lower do

[2021-12-20 00:11] andy-jam opened #31481 "Woocommerce admin running slow after 6.0.0 update"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Updated from 5.8 to 6.0.0

Admin immediately running slow.

### Expected behavior

No change in responsiveness.

### Actual behavior

Over 8 seconds to present any page in admin.

[2021-12-20 03:04] rodelgc commented on #31475
Hi @om4james thank you for bringing this up! Adding the `needs developer feedback` for now so @ObliviousHarmony could take a look.

[2021-12-20 03:21] rodelgc commented on #31476
Hi @Nick776,

1. After reloading the page, do you still see the db error?
2. Could you verify if the `wc_rate_limits` table was correctly created after the 6.0 upgrade after all?

You would probably see the db error for the first time usually after the upgrade because Query monitor likely overrides `$wpdb’s` “suppress errors” value in https://github.com/WordPress/WordPress/blob/master/wp-admin/inc

[2021-12-20 03:21] rodelgc commented on #31476
Reference to internal discussion: p1637759459137800/1637559670.109900-slack-C01DT6U03HC

[2021-12-20 03:56] Hypamania commented on #31426
This is a new error from version 6 of woocommerce.  It is not a LearnPress issue.  Please fix ASAP.

[2021-12-20 04:29] databuzz opened #31482 "[Enhancement]: REST API Customers Endpoint to support filtering by date parameters (before, after, modified_before and modified_after)"
### Describe the solution you'd like

Currently the [Products](https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products) and [Orders](https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-orders) REST API endpoints support the following query parameters when listing all products/orders:

`before`
`after`
`modified_before`
`modified_after`

The Customers endpoint curre

[2021-12-20 07:18] Nick776 commented on #31476
@rodelgc thnx for you reply.

After I reloaded the page, QueryMonitor no longer reported an error. BUT when I look at the WooCommerce dump above I can't find any wc_rate_limits.

[2021-12-20 07:24] rodelgc commented on #31477
Hi @froger-me,

Thank you for logging this issue. However, I couldn't reproduce the behavior you're expecting.

In the screenshot below, notice that I've already changed `coupon_code` to `coupon` in the `checkout.js` file:
<img width="851" alt="Screen Shot 2021-12-20 at 3 17 07 PM" src="https://user-images.githubusercontent.com/4509348/146727727-f4ecaa1c-2570-4c2a-9bc2-f41e2f06e947.png">

Afterwar

[2021-12-20 07:26] Nick776 commented on #31476
@rodelgc You are definitely right. Thank you. I'll close the ticket.

[2021-12-20 07:26] #31476 closed, assigned to nobody

[2021-12-20 07:50] rand0meizer commented on #19645
It does not help. This only indicates the reason, which is already known. But it does not explain how to automatically check the box "Used for variations".
The question is different, why this checkbox is not automatically checked and how to set it automatically when importing goods.
When you have 10 variable products, you can set it manually. When you have more than 300 variable products, and each

[2021-12-20 08:12] rodelgc commented on #24947
Thanks @swatipawarGS,

It also seems that this issue is no longer happening when I tested it myself. As seen from the screen video below, the product appears correctly as "In stock" and I was able to add it to my cart successfully, instead of getting the "Read more" notification.

https://user-images.githubusercontent.com/4509348/146733945-0505fcbf-b53a-4bdc-8ed8-ec7fcdeebae1.mov

This can probabl

[2021-12-20 08:32] rodelgc commented on #31423
I'm able to reproduce the issue as well. I'm getting 404 on the 2nd products sitemap XML:
<img width="1268" alt="Screen Shot 2021-12-20 at 4 29 43 PM" src="https://user-images.githubusercontent.com/4509348/146736587-6de813cd-22df-4c66-a1af-0044642c1098.png">

[2021-12-20 10:29] swatipawarGS commented on #31481
Hi @andy-jam ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/146729769-239bdb83-e9a9-4626-870d-5d540421be8a.mp4

Please provide us more detailed and any add

[2021-12-20 10:30] swatipawarGS commented on #31478
Hi @emakx ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end for Arabic language using WooCommerce 6.0.0 version.

Please find below screenshot for reference :

![#31478](https://user-images.githubusercontent.com/94531721/146733188-25b0dc50-023d-4c1d-9e2f-3a80065b692e.jpg)

Priority of this issue will be assigned short

[2021-12-20 10:37] bravomediamats commented on #31252
Sorry for the late response, been busy.
Are you working on it @johnregan3 or shall I try to make a pull-request?

[2021-12-20 10:49] andy-jam commented on #31481
Hi Swati,

Thanks for looking into this.

You're not doing an equivalent test.

You only have a tiny number of products. Any new database performance issues are concealed by the power of your servers.

Retry with 400,000 products. I doubt they need image attachments so you should be able to load the data up quickly.

Additionally you should also be able to spot that the same query is running 7 tim

[2021-12-20 11:44] erikdemarco opened #31483 "wc_get_orders decimal problem"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For pricing, it stated in the docs like this "Accepts a float: Unrounded amount to match on."
=> https://github.com/woocommerce/woocommerce/wiki/wc_get_orders-and-WC_Order_Query#

[2021-12-20 13:32] swatipawarGS commented on #31481
Hi @andy-jam ,

Thank you pointing out the mistake. We are now able to reproduce the issue on our end with huge number of products using WooCommerce 6.0.0 version and  WordPress 5.8.2 version.

Please find below screenshot for reference :

![#31481](https://user-images.githubusercontent.com/94531721/146767703-2e5e7ebe-0570-431c-b033-2996dc30f249.jpg)

Priority of this issue will be assigned shortl

[2021-12-20 13:39] andy-jam commented on #31481
Hi Swati,

Fantastic news!

To have the fault found is half the problem solved.

Will there be an update here when the issue is resolved?

Cheers,

Andy

Cheers,

Andy

https://www.SiteBoosting.co.uk

________________________________
From: Swati Pawar ***@***.***>
Sent: Monday, December 20, 2021 1:32:41 PM
To: woocommerce/woocommerce ***@***.***>
Cc: andy-jam ***@***.***>; Mention ***@***.***>
Sub

[2021-12-20 14:52] swatipawarGS commented on #24947
Hi @rodelgc ,

Yes! we can close this issue.

[2021-12-20 17:59] Elmer789 opened #31485 "[Enhancement]: Structural use of the notices wrapper"
### Describe the solution you'd like

It seems the woocommerce_output_all_notices function should wrap all notices inside the ‘woocommerce-notices-wrapper’ class. But in the end it doesn’t. So it’s really hard to change the appearance of notices as they are not all inside the same wrapper.

I have made a (partial) overview:

Shop page
Type: error, Content: Insufficient Stock, Wrapper used: Yes

Ca

[2021-12-20 18:07] rrennick commented on #31467
Related is #31362

[2021-12-20 21:19] renrax opened #31486 "Translation for units of measure"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There is no translation for woocommerce units https://imgur.com/a/hzfvuXc.
To be more precise, it is there, but it is not displayed on the product pages https://imgur.com/a/ZR57a

[2021-12-20 21:29] hi99ins opened #31487 "Product Featured Image not displaying as "attached" in the media library"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I create a product and then add a featured image to it (2 separate operations) then return to the media library, none of the featured product images are listed as "attached.

[2021-12-21 00:35] #28633 closed

[2021-12-21 00:35] #30872 closed, assigned to nobody

[2021-12-21 01:45] matiaswebs commented on #30375
Hi Alvaro, great that you collaborate with WooCommerce. Now in version 6.0.0 the changes you suggested have already been implemented!

[2021-12-21 01:57] moon0326 commented on #32209
Thank you so much for opening this feature request @osirismqz. This sounds very useful to me as well. We'll look into it.

[2021-12-21 02:14] TheRadicalDreamer commented on #30375
Yoo-hoo!

Thanks for you work and attention :D

I am really glad about this change

Le lun. 20 déc. 2021 à 22:45, matiaswebs ***@***.***> a
écrit :

[2021-12-21 03:23] moon0326 commented on #32209
Hi @osirismqz 👋
I've looked into it further and found two hooks you can use two add a customer phone number.

This [filter](https://github.com/woocommerce/woocommerce-admin/blob/main/src/API/Reports/Customers/Controller.php#L607) can be used to add a new column in the exported CSVs

This [filter](woocommerce_report_customers_prepare_export_item) can be used to add data to the new column.

I think

[2021-12-21 05:42] kafleg opened #31488 "Undefined property: WP_Block_Template::$origin"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

**WordPress: 5.8.2
Gutenberg: 12.1.0 Activated
Theme: Twenty Twenty-Two Activated
WooCommerce: Version 6.0.0**

The list of error found,

[code]
Here is the screenshot,
![image](

[2021-12-21 08:22] swatipawarGS commented on #31487
Hi @hi99ins ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screenshots for reference :

Assigned a featured image to product :

![#31487(product image)](https://user-images.githubusercontent.com/94531721/146888160-db464a58-ce0c-4d18-809

[2021-12-21 10:35] nicomollet commented on #29700
Also experiencing the issue after checking my variations and they were hidden in the backend.
Had to execute an SQL query to fix my "lost" variations.
`UPDATE wp_posts SET post_status="publish" WHERE  post_status="draft" AND post_type = "product_variation"`

[2021-12-21 12:34] wuspum commented on #31402
@rodelgc
Experiencing the same issue since 6.0

https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5417

[2021-12-21 13:42] louwie17 opened #32208 "Spike: Try out `createPreloadingMiddleware` to replace settings hydration hook"
### Description

We are [currently hydrating a bunch](https://github.com/woocommerce/woocommerce-admin/blob/main/client/index.js#L30-L33) of our mutable settings into our @wc/admin/settings datastore by making use of `wcSettings`. This allows a user to retrieve mutable settings two way's, using our data store or making use of `wc.wcSettings.getSetting`. This could add confusion, and the latter is

[2021-12-21 13:52] louwie17 opened #32207 "Update documentation for using `wcSettings` for 3PDs"
### Description

We should update the `wcSettings` documentation to make clear to 3PDs how to use this and to be cautious using settings that are not set by the plugin themselves. All we might need to do on wc-admin is point to documentation in the WC Blocks repo somewhere -> https://github.com/woocommerce/woocommerce-gutenberg-products-block/tree/trunk/assets/js/settings/shared.

Some of these se

[2021-12-21 15:12] imaadt commented on #27295
Is there an update to this bug? Still have this issue @vedanshujain

[2021-12-21 16:46] jharbor opened #31489 "Add Filter for Save Address Button/General Form Button"
### Describe the solution you'd like

I need to be able to edit the 'Save Address' button class/html on the 'My Account' -> 'Edit Address' screen(s)

Please add to core something similar to
`apply_filter('woocommerce_order_button_html')` so that I can modify the html of the button using a hook.

This would also allow to echo additional content/notes about validations and custom instructions.

###

[2021-12-21 16:47] jharbor commented on #31489
An example of how I have used the woocomerce_order_button_html filter is

`add_filter( 'woocommerce_order_button_html', 'custom_order_button_html');`

[code]

It would be great if one existed for the Address screen or a general button hook that could be used

[2021-12-21 17:59] erikyo opened #31490 "[Enhancement]: Remove the star icon font"
### Describe the solution you'd like

Nowadays the performance of ecommerce sites is fundamental and I would like WooCommerce to stop loading the "star.font" since it is useless. In addition there is already the star icon in the "WooCommerce.font" at uni U+E02(0|1) and it is enqueued as well.
It would be enough to use \E020 and \E021 with the font called woocommerce instead of the star font "\53"

[2021-12-21 19:35] louwie17 opened #32206 "Filter notes in inbox and home screen by user capability"
### Description

Currently any note is displayed to any user that has access to the **WooCommerce > Home** screen. Some of these notes focus on specific tasks like creating a product, or enabling a payment gateway and it could be that users don't have those privileges, but are still shown this note while on the WC homescreen.

We should filter notes by a users capability. This will require, either

[2021-12-21 22:39] user8342912 opened #31491 "Variation Pricing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I created a variable product named 'Test' with a single attribute with multiple values.

- Option 1
- Option 2
- Option 3

<img width="597" alt="Screenshot 2021-12-21 at 22 21 19

[2021-12-21 22:49] psealock commented on #32208
@louwie17, this sounds like an interesting idea. Here are just a few thoughts:

We currently try to discourage accessing mutable settings via `wc.wcSettings.getSettings` by throwing an error if accessed directly.

https://github.com/woocommerce/woocommerce-admin/blob/e65aec4cdc67e0e280d4d7722876670f7b0647c1/packages/wc-admin-settings/src/index.js#L46-L50

This system evolved into this dysfunctiona

[2021-12-21 22:50] vg-robin commented on #31402
This needs opening ASAP...

[2021-12-22 05:11] devvnawaz commented on #32220
I have received another report on this issue on Happychat [#33314448](https://mc.a8c.com/support-stats/happychat/transcript.php?id=33314448)

[2021-12-22 07:32] Amoditer opened #31492 "Stock settings problem what disappearing variation price forever"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

I want to ask for help with the next problem:

(Wordpress.org woocommerce support ticket where they saw the problem, test is down and said to write down here, because it'

[2021-12-22 08:10] Nick776 opened #31493 "Update WC 6.0.0 . Here: PHP Warning"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

[22-Dec-2021 07:48:02 UTC] PHP Warning:  array_column() expects parameter 1 to be array, string given in /kunden/xxx/webseiten/testseite.hello-world.net/wp-content/plugins/woocom

[2021-12-22 08:22] rodelgc commented on #31488
Hi @kafleg,

We are still working on making WooCommerce compatible with the new Twenty Twenty-Two theme. I'm closing this issue for the meantime. Stay tuned for announcements in our public channels.

[2021-12-22 08:22] #31488 closed, assigned to nobody

[2021-12-22 11:08] swatipawarGS commented on #31491
Hi @user8342912 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screenshots for reference :

Cart :

![#31491(cart)](https://user-images.githubusercontent.com/94531721/147065768-2eda71fe-53ec-4d0a-ae97-04a42e2f6d44.jpg)

Order Details af

[2021-12-22 11:09] swatipawarGS commented on #31492
Hi @Amoditer ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/147074784-b74900f4-3179-48fc-b024-189a62ed4661.mp4

Priority of this issue will be assigned short

[2021-12-22 11:34] Amoditer commented on #31492
Thank you :). Really great support :).

[2021-12-22 12:44] swatipawarGS commented on #31493
Hi @Nick776 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/147082913-359733e8-2338-4d6b-b2ae-c94ba8bc9268.mp4

Please provide us more detailed and any addi

[2021-12-22 13:23] Webtica opened #31496 "Cropping image via customizer"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

When changing the crop in the customizer find under: Customizer -> Woocommerce -> Product Images -> Thumbnail cropping it is not defaulted to anything. When changing for

[2021-12-22 14:04] #30615 closed, assigned to MrJnrman

[2021-12-22 14:50] gigitux commented on #42659
I think that we should wait that https://github.com/WordPress/gutenberg/issues/36008 is resolved

[2021-12-22 16:22] namiokuzono commented on #31481
Reported also 33321457-hc

[2021-12-22 17:18] pmcpinto opened #32205 "Inbox 2.0 click Tracks not working properly"
### Describe the bug
The Tracks event tied to the inbox message click is not working properly

### To Reproduce
1. Create a new store with WC 6.1 beta installed
2. Enable event tracking
3. On the home screen scroll down to the inbox notifications
4. Click on the title or CTA
5. See that we're not firing wcadmin_inbox_action_click

### Actual behavior:
It's firing wcadmin_inbox_panel_view several t

[2021-12-22 17:19] pmcpinto commented on #32205
@ilyasfoo @moon0326 can you check and fix this? We need to fix this on time for WC 6.1. Without the Tracks fix it will not be possible to measure the impact of the Inbox changes.
Also, it would be great to check if the other Inbox events are working properly. They seem to be working fine, but it's good to double-check. Thanks!

[2021-12-22 17:22] louwie17 commented on #32208
Yeah this would support this and push people to use the data store instead. This piece of code is only used internally by us though, so won't be of any use to a 3PD, they would be using https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/settings/shared/utils.ts#L18-L26 which doesn't throw that warning.

Yeah the `preloadingMiddleware` acts almost identical to

[2021-12-22 19:30] moon0326 commented on #32205
Thank you for catching it @pmcpinto. We can definitely work on it to include in for WC 6.1.

I wasn't able to find any info on `wcadmin_inbox_action_click` in Inbox 2.0 [epic](https://github.com/woocommerce/woocommerce-admin/issues/7241)

Do we need any properties for `wcadmin_inbox_action_click` such as clicked note title?

[2021-12-22 20:39] moon0326 opened #32204 "Remove WCPayments menu from calypso bridge"
**Description**: We should remove the existing WCPayments menu from https://github.com/Automattic/wc-calypso-bridge once we're ready to release WCPayments menu in WCA to prevent duplication.

[2021-12-22 23:56] phillipcornwell commented on #28752
Another report in 4631808-zen

[2021-12-23 00:10] dummys commented on #16620
WTF woocommerce did you close this issue ? Its still live ...

[2021-12-23 00:19] ms2oo8 commented on #16620
I was able to resolve the issue on a product by toggling Set Stock Status - Instock and Set Stock Status - Out of Stock a few times

[2021-12-23 03:10] dinhtungdu commented on #42659
Good catch! I strongly agree.

[2021-12-23 06:11] apeksha10 opened #31501 "Number field is missing on the Woo-order-->Screen Option-->"Number of items per page" (Mobile view)."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Number field is missing on the Woo-order-->Screen Option-->"Number of items per page" (Mobile view).

### Expected behavior

Number field should be present on the Woo-order-->Scr

[2021-12-23 07:34] ghost commented on #31411
Hi, may i know when will this issue be fixed? It's kinda hurting my site SEO and site navigation
![breadcrumb](https://user-images.githubusercontent.com/96566870/147204654-44a30061-1819-46d5-9451-1e763474b3a1.JPG)
![site breadcrumb](https://user-images.githubusercontent.com/96566870/147204815-25452648-b630-4b09-9239-1b8adec2abd6.JPG)

They are showing the category that aren't set as primary catego

[2021-12-23 09:26] timborovkov commented on #11130
Hey, so what's the solution with v3?

[2021-12-23 10:26] erikyo commented on #30893
Any news? it would be advisable to remove any kind of [lazy-loading from all Above-the-fold](https://web.dev/lcp-lazy-loading/) images because this can delay the larger paint content.

The @Mte90 [fix](https://github.com/woocommerce/woocommerce/pull/31418/files) will cut product page LCP of 0.25s, I guess many users would have it immediately if they knew of the advantage that brings!

[2021-12-23 11:42] swatipawarGS commented on #31496
Hi @Webtica ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/147229034-4be5371c-19f1-4b6e-a3f4-09807814c6b7.mp4

Please provide us more detailed and any addi

[2021-12-23 12:28] stgoos commented on #9320
Same for The Netherlands and I reckon this will apply to most, if not all, of the countries within the European Union as it's the agreed method to counter VAT evasion via non taxed shipping costs.

Just charging the highest percentage would not be correct BUT it at least ensures you're not paying to little taxes which potentially result in a fine by the tax office.

What I would love to be able to

[2021-12-23 13:13] alpha-pix commented on #9320
Hi @stgoos,

Very much so. The practical reason is that that I'd like the shipping cost to customers to remain constant, irrespective of the tax status of the products. Flat shipping cost is simpler for customers to understand. I choose my flat shipping cost based more on what customers will pay than what it costs, so if I'm subsidising shipping a little less when selling untaxed products, then th

[2021-12-23 13:36] daigo75 commented on #9320
@alpha-pix @stgoos The code snippet I published a while ago is an attempt to do exactly what you described: https://pastebin.com/jifVtqFQ. It uses a "trick" to adjust the shipping cost, exclusive of tax, so that the value inclusive of tax is the initial one.

I can't say if it can work with the "mixed tax" scenario, but you should be able to check that easily.

[2021-12-23 14:03] alpha-pix commented on #9320
@daigo75 Thank you! I tested it at the time of my earlier post, and it is really super. Before putting it live, I just need to adjust quite a complex load of shipping costs from ex-tax to inc.-tax. I had understood that it was either/or rather than allowing mixed tax averages, but I will check for that.

[2021-12-23 14:11] sirion89 commented on #31402
I have the same issue with 6.0.0

Edit:

I killed it temporarly going into wp-content/plugins/woocommerce/packages/woocommerce-blocks/src/BlockTypes/AbstractProductGrid.php inside function prime_product_variations and simply doing this:

[code]

[2021-12-23 17:15] daigo75 commented on #9320
@alpha-pix Thanks for the update. I understand that the snippet works. I really didn't think about the "mixed tax" scenario too much, for several reasons. It doesn't affect me directly, I'm not a "tax man" able to test it accurately and I also dislike complicated tax rules that, in my opinion as a guy ignorant on the matter, don't make sense. 😄

[2021-12-23 17:18] redifmail commented on #30505
Waiting for this feature.

[2021-12-23 17:24] datgausaigon commented on #30505
@redifmail Yup, in release note of upcoming 6.1 beta still don't have this feature.
Hope WooCommerce team make this soon.

[2021-12-23 18:15] stgoos commented on #9320
@diago75 I already spotted that code as well. Will have something to play/work with between Christmas and Years End :)
Thanks.

[2021-12-23 18:16] rrennick opened #31504 "500 error on PR smoke test"
When a smoke test is triggered on a PR the job fails with a 500 error on updating WooCommerce. I see two issues:

- The workflow updates the smoke test site with the nightly build vs the PR build
  - https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/pr-smoke-test.yml#L53
  - https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/pr-smoke-test.yml#L71:L82
  -

[2021-12-23 18:27] alpha-pix commented on #9320
@daigo75 OK, I have put it live, and it works very well. Customer prices are consistent, which was the main thing for me. I _am_ a tax man (Financial analyst and forensic accountant), so my OCD goes off a bit when things aren't fully and correctly matched, and also when giving the tax authorities any more than they are entitled to. So I am happy to help test if you felt inclined to take it any fur

[2021-12-23 18:45] helgatheviking opened #31505 "[Enhancement]: register_taxonomy() for the product_cat should declare the default_term"
### Describe the solution you'd like

The `product_cat` taxonomy has a default "Uncategorized" term. Could/should the [`register_taxonomy()`](https://developer.wordpress.org/reference/functions/register_taxonomy/) declare the `default_term` parameter in lieu of inserting the term on install?

This way if you have the taxonomy object you can check if there's a default term set.

### Describe altern

[2021-12-23 19:26] lukecav commented on #31462
https://github.com/woocommerce/woocommerce/issues/31430

[2021-12-23 20:50] juliaamosova commented on #31483
Hi @erikdemarco,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-23 20:51] juliaamosova commented on #31486
Hi @renrax,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-24 00:06] reschix commented on #21148
Thanks for the pieces of code here @mvdhoek1 @mburakkalkan .

In case somebody is using a plugin that runs the add_fee method (e.g. TeraWallet) and doesn't want to change plugin files, I want to share an additional workaround that might be helpful.

Add @mburakkalkans code. Then:

[code]

Replace 1.07 (-->7%) by the tax class that is supposed to be used.
This should automatically prepare all "exis

[2021-12-24 02:46] moon0326 commented on #32227
not stale

[2021-12-24 08:15] froger-me commented on #31477
Here are the steps I took, after making sure to re-download WooCommerce from the WordPress repository - they don't seem to be much different from what I can see in the video.

Steps to get the actual behavior:
- refresh the page
- enter the following code in the console
[code]
- click the "Click here to enter your code" link
- enter a valid coupon code
- click "Apply Coupon"
- see the coupon appli

[2021-12-24 10:23] rohandhananjaya commented on #25895
If you using PHP v8.1 it may be a problem with activating woocommerce Version 6.0.0. in my case everything worked fine after role back PHP v7.4. The following error occurs me when trying to activate on PHP v8.1

`Fatal error: Uncaught mysqli_sql_exception: Table 'ceylrclw_cnf.cnf_actionscheduler_actions' doesn't exist in /home/ceylrclw/public_html/wp-includes/wp-db.php:2056
Stack trace:
#0 /home/c

[2021-12-24 11:50] AashikP commented on #30728
Hello @madriverweb

Am I understanding correctly that you're reporting about the missing image title when hovering over the product thumbnail on a single product page?

While stock themes like [Storefront Theme](https://woocommerce.com/storefront/?aff=10486&cid=1131038) indeed don't display the product image titles, there are third party themes that do:

![https://d.pr/i/UQVrwN+](https://d.pr/i/UQ

[2021-12-24 12:23] apeksha10 opened #32117 "The version number is not being shifted."
WooCommerce is not being updated to the selected version

steps:
1. Install the latest copy of the WooCommerce Beta copy plugin that is v2.0.5
2. Select WooCommerce 6.1.0 beta copy radio
3. Click on the Switch version button
4. After refreshing the page, WooCommerce version has not changes

see the screenshot :
![LWR_Recording](https://user-images.githubusercontent.com/20852893/147352290-9af44f4f-

[2021-12-24 13:25] lkraav commented on #31489
Why not override and modify the a template copy directly? Yes there will be an additional update merge maintenance burdain, but it's unfeasible for core to add such filters everywhere.

[2021-12-24 14:59] jharbor commented on #31489
Using hooks and filters removes (or at least reduces) the burden of
remaking your customizations every time an update comes out.

A few reasons to avoid overriding the core templates are because repeating
customization work eventually leads to missing or forgetting something, as
well as avoiding unnecessary time spent re-doing work that’s already been
done.

On Fri, Dec 24, 2021 at 7:26 AM Leho Kr

[2021-12-24 16:05] Almaz opened #31510 "[Enhancement]: Separating the term for items and users"
### Describe the solution you'd like

It is necessary to separate the term "name" for goods and other items and for users.

### Describe alternatives you've considered

_No response_

### Additional context

This is important when translating the plugin into other languages, because in some of them the name of people means a different word than the names of inanimate objects.

[2021-12-24 16:09] rrennick commented on #32117
@apeksha10 Thanks for creating the issue. I updated your description to reflect what is occurring: WooCommerce is not being updated. Can you provide your System Status Report from the WooCommerce -> Status screen?

[2021-12-25 05:06] apeksha10 commented on #32117
Sure, Here is WooCommerce -> System Status Report

`
### WordPress Environment ###

WordPress address (URL): http://orderdeliverydate.local
Site address (URL): http://orderdeliverydate.local
WC Version: 6.0.0
REST API Version: ✔ 6.0.0
WC Blocks Version: ✔ 6.3.3
Action Scheduler Version: ✔ 3.3.0
WC Admin Version: ✔ 2.9.4
Log Directory Writable: ✔
WP Version: 5.8.2
WP Multisite: –
WP Memory Limit: 2

[2021-12-25 05:07] siliconforks opened #31511 "Last access time for API key gets updated 10 times for every REST API call"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For every WooCommerce REST API request using a WooCommerce API key, the key's last access time (stored in the database field `wp_woocommerce_api_keys.last_access`) gets updated 1

[2021-12-25 16:57] lkraav commented on #31489
Yeah, but the amount of filters that could or should exist across templates is just infeasible for core to maintain, too.

I have developed a git- and splitsh-based workflow, that eases the template update maintenance and upgrades considerably. Maybe it should be published for public benefit.

[2021-12-26 12:06] amElnagdy opened #31512 "Can't set a variable product to Out of stock using Quick edit option"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you use the Quick edit option to update the stock status of a **variable product**, the stock values don't change.

### Expected behavior

As the note tells `This will chang

[2021-12-26 22:18] 79ho3ein opened #31513 "🔥 Filters based on featured products (Simple but essential)"
### Describe the solution you'd like

If we mark products as "featured", it is very difficult to find them among many products. https://prnt.sc/24p91ld
The only way is to search for each product so that we can access them. This is very time consuming.

**proposed solution :**
Please add an option as "Featured Products" to the above filters. https://prnt.sc/24p9qlm
Using this filter, we can separat

[2021-12-27 03:00] #29384 closed

[2021-12-27 06:39] ghost opened #31514 "[Enhancement]: Woocommerce Multi Currency"
### Describe the solution you'd like

Hello there,
We have a Woocommerce site based in Bahrain. We are planning to expand our site into Saudi Arabia. We noticed that currently Woocommerce supports only one currency. It's there any way to add one more currency into Woocommerce ? Is there any plugin available to reach our goal ? I've checked most of the free plugins provides only currency switcher.

[2021-12-27 07:35] Nick776 opened #31515 "wp_2_e_submissions' doesn't exist"

[2021-12-27 07:52] #31515 closed, assigned to nobody

[2021-12-27 08:49] dejanmarkovic commented on #26029
Hi friends, any updates on this?

[2021-12-27 09:33] swatipawarGS commented on #31501
Hi @apeksha10 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/147442738-0d00cfab-ff17-489c-8df4-339e2125125f.mp4

Priority of this issue will be assigned shor

[2021-12-27 09:34] swatipawarGS commented on #24457
Hi @codingwithchris ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/147450235-463aef1f-9aa7-40cd-a857-5ad2bc39fcc6.mp4

Please provide us more detailed and

[2021-12-27 10:25] pmcpinto commented on #32205
@moon0326 @ilyasfoo I think Elizabeth forgot to mention that we wanted to keep the existing Tracks events.

Yes. We should keep the event props that we currently have in this event: note_name, note_content, screen, etc.

Let me know if you have additional questions. Thanks!

[2021-12-27 15:20] Luc45 commented on #31452
@rrennick While working on this issue, I realized that for some values, especially those that are objects or arrays, providing a  default value might be counter-productive.

Without default values:

[code]

With default values:

[code]

This tends to make the tests confusing, as it might not be obvious at a first sight which one is the source of truth, the test entries or the data JSON entries, es

[2021-12-27 15:21] Luc45 commented on #31452
cc @MrJnrman If you'd like to give your opinion, too? :point_up:

[2021-12-27 15:26] Luc45 commented on #31396
~@rrennick Do we want to keep that import/ES6 and come up with a build/transpile script, or do we want to remove the import/ES6?~

Nevermind, I have read the original issue and confirmed with Greg that this indeed about transpiling the files from ES6~ to ES5. Question: Do we run the tests in versions of Chrome older than Chrome 50? If this is only for the testing environment, can we assume that ES

[2021-12-27 15:59] danielcivit opened #31516 "Where is 6.0.0 tag in Github repository."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce 6.0.0 has been released but 6.0.0 tag is missing in GitHub repository.

The reason why I am asking about this.. is because I work in a project in which I run some git

[2021-12-27 16:23] zhongruige commented on #31511
Hi @siliconforks,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-27 16:58] zhongruige commented on #31516
Hi @Daniel-MultiSafepay,

Thank you for reporting the issue! Just noting that this issue had been reported previously [here](https://github.com/woocommerce/woocommerce/issues/31475). We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed. Thank you!

[2021-12-27 16:58] #31516 closed, assigned to nobody

[2021-12-27 20:01] #31454 closed, assigned to Luc45

[2021-12-27 20:09] edwinefru opened #31517 "setting not showin payement"

[2021-12-27 20:10] zhongruige commented on #31396
WooCommerce follows WordPress for browser support (see details in [Browser support - Make WordPress Core](https://make.wordpress.org/core/handbook/best-practices/browser-support/)), so we only need to worry about testing L-2 versions of Chrome in this case, and won't be testing back to Chrome 50.

[2021-12-27 20:33] Luc45 commented on #31396
Thanks for the info! In that case, I believe that transpiling is completely optional, as we control the Chrome version through Puppetter, and we can be sure that `import` and probably all other ES6 syntax will be available, as they were released in 2015, and our minimum Puppetteer version was released in 2019.

Let me know if you think I'm missing something, and whether we should move forward with

[2021-12-27 23:02] sunyatasattva opened #31518 "Missing support for latest Gutenberg blocks directory naming conventions"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With WordPress/gutenberg#36647, Gutenberg 12.1.0 has changed the convention for the directory paths from `block-templates` and `block-template-parts` to `templates` and `parts` r

[2021-12-28 00:35] #24097 closed

[2021-12-28 00:35] #26035 closed

[2021-12-28 00:35] #26103 closed

[2021-12-28 00:35] #26595 closed

[2021-12-28 04:52] apeksha10 commented on #31501
@swatipawarGS, thanks for letting me know.

[2021-12-28 08:04] vedanshujain commented on #27295
No update yet, unfortunately. This will take a while to resolve, unfortunately.

[2021-12-28 08:52] swatipawarGS commented on #31512
Hi @amElnagdy ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/147543581-a48fe38b-6ea3-47a1-a6a8-f92ee5f5906a.mp4

Priority of this issue will be assigned shor

[2021-12-28 09:39] neilmccreadie commented on #26289
4641760-zen

[2021-12-28 10:25] 0free opened #31519 "$resp_data['intervals']"
https://github.com/woocommerce/woocommerce/blob/baadffe3a669878ee93b9e0fdc43bb610333d61f/plugins/woocommerce/includes/admin/class-wc-admin-dashboard.php#L539

Is this should be:
`
$resp_data = $response->get_data();
$data = $resp_data['intervals' => array()];
`

[2021-12-28 11:04] Webtica commented on #31496
Hi @swatipawarGS, It seems that it could be on my install only? Is there a way to repair maybe broken database tables? As everything seems fine?

The steps I do are the same as you do in your video. only it's doesn't save the state. When I reload the page all the options are grey and not selected at all.

Thanks

[2021-12-28 12:53] h08831n commented on #13800
this finally worked for me

[2021-12-28 15:08] zhongruige commented on #31517
Hi @edwinefru,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2021-12-28 15:45] zhongruige commented on #31519
Hi @SaifAlSubhi,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-28 15:45] zhongruige commented on #31518
Hi @sunyatasattva,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-28 15:55] zhongruige commented on #31496
Hi @Webtica,

I wonder if this may have something to do with the Elementor plugin/theme or possibly another plugin that could be causing an issue. To verify this, please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test ag

[2021-12-28 16:05] helgatheviking commented on #31514
while this isn't a support forum, you might want to check out:
https://woocommerce.com/products/multi-currency/
https://woocommerce.com/products/woocommerce-payments/

[2021-12-28 16:08] helgatheviking commented on #31116
This page: https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment
could stand to be a lot more discoverable... could you put it on the project readme.md? The main readme.md links to the [developer wiki](https://github.com/woocommerce/woocommerce/wiki) but the setup page isn't linked.... nor is it linked from the [developer doc site](https://developer.wooc

[2021-12-28 16:33] zhongruige commented on #31396
Thanks for mentioning this @Luc45! One thing to note is we are looking at moving to Playwright, which will give us [added browsers](https://playwright.dev/docs/browsers) that we can run tests against, so given that, it may still make sense to build and transpile.

Also want to loop in @rrennick on this for some further feedback before we make a decision either way.

[2021-12-28 16:45] helgatheviking opened #31520 "Dev environment setup docs are not discoverable and failing at NX The current directory isn't part of an Nx workspace."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

1. The ["how to setup a dev environment"](https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment#install-dependencies-and-generate-asse

[2021-12-28 16:58] Luc45 commented on #31396
@zhongruige Since I won't have other stuff going on right now, I am thinking about proceeding with the build/transpile PR for now, so we can have something done if we decide to move forward with it, as I still have to do a lot of research anyway to pull this out - I have done this before with Babel, but historically I have been primarily a PHP-focused developer, and even though I am willing and in

[2021-12-28 17:13] zhongruige commented on #31396
Just noting that our other packages (e2e-utils and e2e-envrionment) both have build scripts that can be referenced as you look into this:

* https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/e2e-utils
* https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/e2e-environment

[2021-12-28 18:34] sunyatasattva commented on #31518
Hey @zhongruige thanks a lot for the response. I had opened a [Slack thread](p1640646806110100-slack-C0E1AV8T0) and received the go ahead there this morning, I hope that's ok with you.

I have opened a PR here: https://github.com/woocommerce/woocommerce/pull/31522

[2021-12-28 18:36] zhongruige commented on #31518
Thanks for the update @sunyatasattva! I'll go ahead and remove the needs developer feedback label.

[2021-12-28 23:57] johnregan3 commented on #31451
@rodelgc

I'm considering the best approach to tackle this issue.

In fact, it seems like there are two things that will need to be fixed here: the widget, and the query on the "results" page. (Meaning, in this case, we would not display Rose Dragon along with the rest of the items with the 46mm term)

In the widget, gathering these products is currently handled by `get_terms()`, so we'll need to

[2021-12-29 00:35] #31344 closed, assigned to nobody

[2021-12-29 00:35] #31377 closed, assigned to nobody

[2021-12-29 06:21] chihsuan opened #32203 "Changing ‘Analytics’ settings should update the dashboard immediately without hard refresh"
### Describe the bug

Currently, if we update the ‘Excluded statuses’ on Analytics settings and navigate to another page like ‘overview’, we need to hard refresh the page to see the changes on the analytics dashboard, which can be confused and not user friendly.

### To Reproduce

1. Go to Analytics > Settings
2. Toggle some options on 'Excluded statuses'
3. Navigate to Analytics > Overview

### A

[2021-12-29 07:17] ghost commented on #31514
Dear @helgatheviking,

Thanks for your reply, really appreciate. first link you provided currency switcher which is not helpful for us, second link is look like payment gateway which is enable stripe i think.

We have products in multiple currencies and need to enter them with different, original currency. The same counts for checkout add-ons.

Products would need to be displayed in original curre

[2021-12-29 10:50] pmcpinto commented on #32219
@moon0326 @ilyasfoo sorry, I missed this [comment](woocommerce/woocommerce#32219).

Mmm, you're right.

Payments is a [top-level menu item](https://d.pr/i/bFNWEv), so users will see the red badge without hovering over the menu, right?

If we use Abacus and assign 10% of US stores to the treatment version, I think we will know automatically the users that are exposed to the experiment. The main dra

[2021-12-29 11:40] skullo27 commented on #24975
We have this exact same issue. If we enter shipping including tax at £9.99 it shows as £10.00. If we enter excluding tax at £8.325 it is the same £10.00. If we enter anything below 8.325, e.g. 8.324 it displays as £9.98 so you cannot get the value for shipping at £9.99!

Note:
- Tax is set to 20.0000%
- We have it set to round at product level (neither setting here makes a difference, however)
- D

[2021-12-29 13:04] NabeelPerwaiz commented on #26289
Hi, the issue is in WooCommerce, that it validates for email on order placement but not when user trying to use coupon. Now one of the WC extensions https://codecanyon.net/item/woocommerce-smart-coupons-plugin-extended-coupon-code-generator/22134528 is supporting to prompt error message when user trying to use another person's coupon.

[2021-12-29 15:33] zhongruige commented on #32117
Similar issue was also reported here: https://github.com/woocommerce/woocommerce-beta-tester/issues/111

[2021-12-29 15:51] RayZorJ3lade commented on #24184
Found a workaround - set the stores decimal places to 3dp and then use this:

`add_filter( 'formatted_woocommerce_price', 'ts_woo_decimal_price', 10, 5 );`

`function ts_woo_decimal_price( $formatted_price, $price, $decimal_places, $decimal_separator, $thousand_separator ) {`
`    $unit = number_format( intval( $price ), 0, $decimal_separator, $thousand_separator );`
`    $three_dp = $price - intv

[2021-12-29 16:17] osirismqz commented on #32209
This filters doesn't seem to work anymore.

I tried on my own. Then I used this gist: https://gist.github.com/becdetat/0de2f79672e768f4e72b43d7ab07e2e3 recomended on this pull https://github.com/woocommerce/woocommerce-admin/pull/5134

The filters don't add columns to any reports exported.

[2021-12-29 18:41] squilib commented on #32220
Same issue here, I can download all reports, but not Custom October 2021
The email for October 2021 is not sent. I tried many times.
Lol

[2021-12-29 19:11] kkmuffme opened #31525 "Meta: release tag 6.0.0 missing"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

https://wordpress.org/plugins/woocommerce/ shows latest version 6.0.0, but this version is missing in the Github releases (only beta/RC is there): https://github.com/woocommerce/

[2021-12-29 19:12] kkmuffme commented on #31514
Check out WPML, they offer that.

[2021-12-29 19:28] helgatheviking commented on #31514
WooCommerce Payments is a gateway, with a multi-currency feature. Though they don't have per-currency prices. I think aelia might: https://aelia.co/shop/currency-switcher-woocommerce/

[2021-12-29 19:54] Webtica commented on #31496
Hi @zhongruige,

Got it working again after deactivating everything besides woocommerce.
Then activated everything again and the setting stayed.

So this is okay now!

Thanks
Dieter

[2021-12-29 19:54] #31496 closed, assigned to nobody

[2021-12-29 20:07] zhongruige commented on #31496
That's great to hear Dieter! I am glad that is working for you now--thank you for following up on this!

[2021-12-29 20:07] zhongruige commented on #31525
Hi @kkmuffme,

Thank you for reporting the issue. However, this issue had been reported previously [here](https://github.com/woocommerce/woocommerce/issues/31475). We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed. Thank you!

[2021-12-29 20:07] #31525 closed, assigned to nobody

[2021-12-29 20:37] zhongruige commented on #25816
Hi @DavidAnderson684,

Thank you for opening the issue! Apologies for the delay in responding to this. It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-30 00:35] #30918 closed, assigned to nobody

[2021-12-30 00:35] #30925 closed, assigned to nobody

[2021-12-30 03:51] ilyasfoo commented on #32219
Yes

I have a suggestion for using a site option to "tag" the exposed users [here](https://github.com/woocommerce/woocommerce-admin/issues/8070#issuecomment-1002860654)

This is a good point, we can bake in logic to ensure that users who have the extension installed are not exposed. We can detect if they have a wcpay account if they have already set up wcpay on their site.

[2021-12-30 07:41] ghost commented on #31514
Hello @helgatheviking,

Thanks for your reply. We are based in Bahrain @helgatheviking while config its shows only supports list of countries. and about aelia.co plugins really new for me i think looks really cool i try to check it out, really appreciate @helgatheviking thank you so much

[2021-12-30 08:12] ghost commented on #31514
Hello @kkmuffme
Let me check Thanks for your reply

[2021-12-30 08:46] agendartobias opened #31526 "Inventory – Manage stock – Allow backorders no information on frontend"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello i dont know if this is a bug or "feature" but i think it's a bug.

In Wordpress - Woocommerce - Product module i am editing my Inventory. I have set Manage stock toogle to

[2021-12-30 09:06] ser2gec opened #31527 "My products are not uploading to facebook"
how can i update? My old products and missing items appear in my store.

[2021-12-30 11:39] pmcpinto commented on #32219
Great!

@ilyasfoo that can be a good workaround, even if it's not scalable. What if we approach this from a different angle and target 100% of users located in a smaller country? For example, NZ and IE. That would simplify the implementation and mitigate some risks, right?

[2021-12-30 11:44] webdados opened #31528 "Add an hook on WC_Widget_Layered_Nav_Filters to allow to extend it"
Before line 108 there should exist something like `do_action( 'woocommerce_after_active_filters_widget_items' );` that allows 3rd party developers to add items to the active filters widget.

Let's say I write a custom WC_Widget based class to filter by any other meta value, like _sale_price being >= 0, for example.
I should be able to add an item to the active filters widget to insert a new item (

[2021-12-30 13:52] octaedro commented on #31528
Hi @webdados,

Thank you for taking the time to share this idea, we really appreciate your help.

It looks like this is an idea to improve the [class WC_Widget_Layered_Nav_Filters](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/widgets/class-wc-widget-layered-nav-filters.php#L108) that lives in core so I'm going to move this issue to the proper repo.

[2021-12-30 13:59] danielcivit opened #31529 "Is there a missing argument in do_action('woocommerce_new_order') when this one is triggered by the API?"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We have a plugin who register an action hook "woocommerce_new_order", which works fine when the action is triggered by the application. But when the action is triggered by an API

[2021-12-30 15:59] DieWebmacherin commented on #17655
I think I found the complete solution in another support thread (https://wordpress.org/support/topic/wc-ajaxupdate_order_review-403-error/).

You need to check your wp-config.php for the following lines an remove them:
`define( 'ADMIN_COOKIE_PATH', '/' );`
`define( 'COOKIE_DOMAIN', 'false' );`
`define( 'COOKIEPATH', '' );`
`define( 'SITECOOKIEPATH', '' );`

These lines are a fix for cookie/login i

[2021-12-30 16:46] webdados commented on #31528
Maybe I'm missing something here, but if it's part of the core, why has this been moved to woocommerce/woocommerce-admin?

[2021-12-30 16:54] DavidAnderson684 commented on #31514
Aelia's has multi-currency prices. I can't claim to have tried out any others, since Aelia's worked great for me for about 7+ years. Very good code quality, excellent support from a top WooCommerce coder.

[2021-12-30 17:03] zhongruige commented on #31527
Hi @ser2gec,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2021-12-30 17:08] zhongruige commented on #31528
Hi @webdados,

No worries, this issue landed in the correct repo for core, and thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-12-30 17:18] zhongruige commented on #31520
Hi @helgatheviking,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-30 18:47] kanlukasz opened #31531 "[Enhancement]: Possibility to use row_actions filter in the attribute list in wp-admin"
### Describe the solution you'd like

I would like to remove certain row actions on the attributes page in wp-admin.

For a specific attribute value, this can be done with [tag_row_actions](https://developer.wordpress.org/reference/hooks/tag_row_actions/) eg.:

[code]

but it cannot be done in the attribute list. From what i see, even with [{$taxonomy}_row_actions](https://developer.wordpress.org/

[2021-12-30 20:00] darcie commented on #26289
4646969-zen

[2021-12-30 20:20] zhongruige commented on #31529
Hi @Daniel-MultiSafepay,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

To test this, I installed the [Code Snippets](https://wordpress.org/plugins/code-snippets/) plugin so I could manually add in the action and the function that gets called. I tested this with the following:

* A fresh install of WooC

[2021-12-30 22:53] SSeitz182 opened #31534 "Orders Submitted without Phone Number"
Phone number is set to required on check out form but I continue to get orders submitted successfully that do not contain a phone number.

[2021-12-31 01:29] erikdemarco opened #31535 "blank image"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For example you have 1 image attached for couple products then you delete this image from media library permanently.

Now you see all product page which used this image will show

[2021-12-31 05:09] ilyasfoo commented on #32219
That sounds good as well. To implement, we'll just have to add a custom segment in WPCOM to apply the `woo_store_country` check similar to the tasklist experiment for US, CA, & AU. If you confirm to go this route, let us know the list of countries to apply to & the experiment names.

[2021-12-31 05:38] ser2gec commented on #31527
My products are not equal to woocommerce as seen in the attachment

![image](https://user-images.githubusercontent.com/96865183/147805376-89771eed-1910-43d4-b652-8df4e184b2f5.png)

![image](https://user-images.githubusercontent.com/96865183/147805428-924bb123-3418-400e-b71e-4440f67f2426.png)

I did the update but still my products do not go to facebook

![image](https://user-images.githubuserconte

[2021-12-31 05:42] ser2gec commented on #31527
It doesn't show up in my sets.

![image](https://user-images.githubusercontent.com/96865183/147805681-912c7403-b8f2-484b-b316-78649d58dccc.png)

![image](https://user-images.githubusercontent.com/96865183/147805696-c97f6387-9267-4d14-aa39-0d40f28495da.png)

[2021-12-31 12:01] danielcivit commented on #31529
Hello @zhongruige.

First at all, thank you for your time and your reply.

Sorry to say, but I realize I was in the wrong track investigating this issue, and now I realize "modern" API calls are using this class:
- https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php

And not any of the referred by me i

[2021-12-31 14:57] gglobalstep opened #31537 "[GlobalStep] For Twenty-Twenty One theme, "Heading" and "Paragraph" editing fails to work at the "Home" page on the frontend."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty-Twenty One theme, "Heading" and "Paragraph" editing fails to work at the "Home" page on the frontend.

### Expected behavior

For Twenty-Twenty One theme, "Heading" an

[2021-12-31 15:10] JordanWP opened #31538 "[Enhancement]: Woo commerce Hyperlink Thumbnail"
### Describe the solution you'd like

Hi,

I have used this code to implement thumbnails to each item on the my orders page.
Is it possible to hyperlink the thumbnail to open the original size image?

add_filter( 'woocommerce_order_item_name', 'display_product_image_in_order_item', 20, 3 );
function display_product_image_in_order_item( $item_name, $item, $is_visible ) {
    // Targeting view order

[2021-12-31 15:26] vijayhardaha commented on #31538
[code]

Here is complete working code for you.

[2021-12-31 15:30] JordanWP commented on #31538
Thankyou  @vijayhardaha

This works perfectly!

[2021-12-31 15:31] #31538 closed, assigned to nobody

[2021-12-31 15:31] vijayhardaha commented on #31537
Unable to understand your expectations. What you saved in the title in it's already showing in the post title properly.

[2021-12-31 15:40] vijayhardaha commented on #31534
Kindly share your website url or staging website url to test the issue.

[2021-12-31 15:50] vijayhardaha commented on #31531
A custom filter will be helpful for Attribute page row actions.

[2021-12-31 16:17] vijayhardaha commented on #31489
Using a child theme for all the template customization is pretty easy. and WP website must have a child theme since the start because you will need to add some customizations for sure 1 day in the future for your website.

[2021-12-31 16:24] vijayhardaha commented on #31280
Is it possible to allow override `wc_get_gallery_image_html` function in child theme? right now, we can't do it if we need to change something quickly.

[2021-12-31 16:56] vijayhardaha commented on #31230
WooCommerce has an inbuilt check for adding attributes names with the product title, if attributes are less than 3 then they will be showing along with the product title but if attributes are 3 or 3+ then they will be showing after the title in a list as you see in 3rd cart item.

However, you can override this thing by adding this line of custom code
[code]

But if in your variation set if you ha

[2021-12-31 17:00] SSeitz182 commented on #31534
https://www.toolhangers.com/

On Fri, Dec 31, 2021 at 8:40 AM Vijay Hardaha ***@***.***>
wrote:

--
Sara Seitz
*Pen&Post*
www.penandpostwriter.com
***@***.***

*A word after a word after a word is power.* - Margaret Atwood

[2021-12-31 17:28] vijayhardaha commented on #31534
In the billing address, the phone number has proper validation but in the shipping address, you have the phone nunber as optional.

[2021-12-31 20:52] King-Rings commented on #31451
Related, the filter by attribute widget also returns items that are not available because they are out of stock. I know this is not the reported bug but the looping logic here would be a good place to further limit the products returned.

[2022-01-01 12:25] renrax commented on #9879
This is also a big problem for Russian-speaking users. Sorting by name is different from sorting by slug. Read more here:
https://wordpress.org/support/topic/sort-list-of-attributes-by-alphabetical-order-of-the-default-site-language/
That's why sorting by name is needed.

[2022-01-01 18:44] ArneSaknussemm commented on #31402
Hi! I get the same error, but only in MySQL 10.5.13
The @sirion89 fix works.
EDIT:
Or you can do the following on your child theme:
[code]
(PHP 8.0)

[2022-01-01 19:19] ignacio-fm commented on #18852
Eres mi dios. Muchas gracias por tu código, me has ahorrado mucho trabajo... ♥️

[2022-01-02 00:57] EFFETTI opened #31540 "Settings > Tax Tab < Won’t HOLD Selections...."
update2: BlueHost #37746158 = ACTIVE; reDirect to completely useless instructionS, plural TO OPERATE supposed OPTIONS [in] BOXES THAT DO NOT actually FUNCTION. [01/03/2022]

update: BlueHost #37746158 = ACTIVE;....

Our site [VNY.life] will Not show the tax line upon checkout; the form WILL NOT HOLD optional configurations to INCLUDE TAX info. on checkout; AND, instead recurrently reverts to EXCLU

[2022-01-02 11:53] lpro-1 commented on #27761
Hi Team,

Do you have an update on the priority of this bug/ issue fix?

[2022-01-02 16:34] csmcneill opened #32202 "Displaying 100 rows of orders returns error 500, fatals"
### Describe the bug

If you navigate to **Analytics > Orders** and change the `Rows Per Page` to `100`, the following error occurs on the page:

[code]

Additionally, a fatal error occurs:

[code]

Lastly, the following console error appears:

[code]

### To Reproduce

1. Go to **Analytics**.
2. Go to **Orders**.
3. Modify the dates to get a large number of orders.
4. The `Rows Per Page` field de

[2022-01-02 16:37] csmcneill commented on #32202
@solstudioim was unable to reproduce this issue, but I was able to.

[2022-01-03 03:59] nielslange commented on #42661
Hello @VasekS 👋 I was wondering if you're still working on this issue?

[2022-01-03 10:58] pmcpinto commented on #32219
@ilyasfoo when do you need the final answer regarding this change?

[2022-01-03 12:07] pmcpinto commented on #32225
@joelclimbsthings is it possible to implement this change in cycle 20?

[2022-01-03 12:24] peterfabian commented on #31250
Changing the priority since it affects checkout as well, ref pdh75w-kc-p2

[2022-01-03 13:31] ilyasfoo commented on #32219
@pmcpinto If we're going to use other countries like you suggested, ideally before Thursday since RC is next week Tuesday. If we're attempting my suggestion, I'd say by tomorrow since otherwise, we may risk having to include big changes after RC.

[2022-01-03 13:39] erikdemarco opened #31541 "[Enhancement]: Cookie “cookieName” will be soon rejected because it has the “SameSite” attribute set to “None” or an invalid value, without the “secure” attribute."
### Describe the solution you'd like

If you using firefox it will gives warning:
Cookie “cookieName” will be soon rejected because it has the “SameSite” attribute set to “None” or an invalid value, without the “secure” attribute.

Maybe we should start to implement a fix for this issue before this security enhancement rolled out globally.

At the time of writing, for chrome:
`This is an industry-

[2022-01-03 14:50] #27885 closed

[2022-01-03 15:47] kanlukasz opened #31542 "WooCommerce CLI returns product list to JSON without proper encoding"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am using CLI to get a products list. More precisely,  i only need to get the names of the products.
Products have characters in Polish in their names, so they contain character

[2022-01-03 15:58] gglobalstep opened #31543 "[GlobalStep] "Connect your store" step missing in the "Set up shipping" task under the "Woocommerce > Home" page for the first attempt."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Connect your store" step missing in the "Set up shipping" task under the "Woocommerce > Home" page for the first attempt.

### Expected behavior

"Connect your store" step shoul

[2022-01-03 16:02] swatipawarGS commented on #31526
Hi @agendartobias ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version, WordPress 5.8.2 version, PHP 7.4.27 version, and Storefront theme.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/147906300-91d73973-397d-482c-9657-ebce3cfbf37c.mp4

P

[2022-01-03 16:33] rrennick commented on #32248
Reopened. We missed the stale warning due to the holiday break.

[2022-01-03 16:40] rrennick commented on #32117
@apeksha10 That looks like you may be running your local development install in MS Windows. If that is the case then this is probably a file/folder permission issue that you have. Alternatively, it could be another server setup/configuration issue. We probably won't be able to help you diagnose anything related to MS Windows.

[2022-01-03 17:43] jeffstieler commented on #31416
If there is some remaining gift card balance to refund, should the order be considered fully refunded?

Would it make more sense to add filters to `WC_Order::get_total()` and `WC_Order::get_total_refunded()` instead?

[2022-01-03 18:38] pmcpinto commented on #32219
@ilyasfoo let's go with using 100% of other countries*: NZ and IE. This option seems to be less risky and with less work and less tech debt. Thanks!

*  excluding new users and users who already have the extension installed or a wcpay account

cc @thenbrent

[2022-01-03 18:39] rrennick opened #31544 "test-results.json message missing path"
The message logged after running E2E tests for the test results does not include the path to the file:

[code]

This will be confusing to third party users.

[2022-01-03 19:01] rrennick commented on #31512
Please see the discussion in #28736 for an explanation of why bulk editing does not support editing product variations. You can update stock status on variations in the product edit screen:

<img width="681" alt="Screen Shot 2022-01-03 at 3 01 29 PM" src="https://user-images.githubusercontent.com/343847/147969085-26f16823-ac4f-408b-8e2d-f95b7a886c95.png">

[2022-01-03 19:01] #31512 closed, assigned to nobody

[2022-01-03 19:25] lanej0 commented on #31468
It looks like the issue is/was that the test was failing after the `merchant.logout()` was being called.  Because the login was in the beforeAll() block, it wasn't running when the test was being retried.

[2022-01-03 19:30] rrennick commented on #31452
@Luc45 `@woocommerce/e2e-core-tests` is published as an `npm` package. Projects that use the package are not required to use the same data as our tests do. For example, the downstream project can use different coupon values so long as the coupon properties calculate correctly.

The purpose of this issue/PR is to ensure the tests run without entries in a local `default.json` vs to establish a sourc

[2022-01-03 20:02] Luc45 commented on #31452
@rrennick Yup, I understood that part. I'm still not 100% convinced this is better than requiring the existence of a JSON with the required data, as we scatter defaults all over the tests, but I acknowledge this is more of a personal preference. I will have a PR open for it by tomorrow.

[2022-01-03 20:34] #24947 closed

[2022-01-03 20:39] ObliviousHarmony commented on #31475
Hello @om4james,

Thanks for raising this issue. I've gone ahead and [published a release here](https://github.com/woocommerce/woocommerce/releases/tag/6.0.0), but I should warn you that if you're using Composer, the package is entirely broken at the moment. Packagist only supports having a single package per repository, and since we've shifted towards a Monorepo, we're going to need to utilize a

[2022-01-03 20:49] #31134 closed, assigned to claudiosanches

[2022-01-03 20:49] ObliviousHarmony commented on #31134
Thanks for taking care of that @rrennick!

[2022-01-03 21:34] zhongruige commented on #31527
Hi @ser2gec,

Thank you for sharing those screenshots! Can you also please provide your System Status report so we can further investigate?

WordPress Environment

``` Copy and paste the system status report from **WooCommerce > System Status** in WordPress admin. ```

Thank you in advance!

[2022-01-03 21:38] joelclimbsthings commented on #32225
@pmcpinto This hasn't been pointed, but I don't believe this would be a problem to bring into cycle 20 👍🏻

[2022-01-03 22:25] zhongruige commented on #31529
Thank you for the reply @Daniel-MultiSafepay! I am adding the `needs developer feedback` label to this issue so that the Core team could take a look and provide some more insight.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2022-01-03 22:40] zhongruige commented on #31537
Hi @gglobalstep,

Thank you for taking the time to report this issue! Just to confirm, is this only happening on WordPress 5.9 beta or is it also occurring on WordPress 5.8?

[2022-01-03 22:55] #31468 closed, assigned to lanej0

[2022-01-03 23:36] madriverweb commented on #30728
Thank you VERY much for the follow up on this. Yes, you are correct, I'm reporting about the missing image title **attributes** when hovering over the product **thumbnails** on a single product page." Title attributes **used to show on all thumbnails**.

It's very possible this is theme dependent. But it would seem to be a functionality worth providing through WooCommerce (or reactivating) since t

[2022-01-03 23:53] madriverweb commented on #30728
I guess my first new bullet is irrelevant to the issue. It simply supports why my client was diligent about inserting relevant image titles.

[2022-01-04 00:16] mbrn01 commented on #8828
Just found it. Put Sale price the same as regular price. This way, it removes the sale price as they are the same.

[2022-01-04 00:45] moon0326 commented on #32219
Thank you @pmcpinto @ilyasfoo! It sounds like we have a plan 👍

[2022-01-04 00:49] jSpork opened #31547 "Attribute terms not editable after renaming attribute slug"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After creating an Attribute and adding Terms to it, those Terms are not longer editable if you change the name of the Attribute Slug.

### Expected behavior

Terms remain editabl

[2022-01-04 02:49] ilyasfoo commented on #32202
Hi @csmcneill, thanks for filing this issue. However, I too, can't reproduce the issue in my local with instructions given. Looking at the offending codes, it seems that the error occurs when:
1. An order is a child order (most likely a subscription order?)
2. The order needs to be refunded
2. The parent order does not exist

![image](https://user-images.githubusercontent.com/3747241/148002909-e38

[2022-01-04 03:54] thejamescollins commented on #31475
Thank you for adding @ObliviousHarmony , we're using the tags in CI via git clone, so we aren't relying on the packagist package :)

[2022-01-04 05:04] vedanshujain opened #31548 "Twenty Twenty Two (2022) theme compatibility for my-account related pages"
### Describe the solution you'd like

This should add WooCommerce compatibility for following pages:

- [ ] My account - start page
- [ ] My account - orders
- [ ] My account - downloads
- [ ] My account - addresses
- [ ] My account - Account details
- [ ] Log In page

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-01-04 05:06] vedanshujain opened #31549 "Twenty Twenty Two (2022) theme compatibility for shop related pages"
### Describe the solution you'd like

This issue tracks adding WooCommerce compatibility for following pages:

- [ ] Shop page
- [ ] Home page with products
- [ ] Product page - Simple
- [ ] Product page - Variable
- [ ] Product page - Downloadable
- [ ] Product page - Grouped

### Describe alternatives you've considered

N/A

### Additional context

N/A

[2022-01-04 05:07] vedanshujain opened #31550 "Twenty Twenty Two (2022) theme compatibility for cart related pages"
### Describe the solution you'd like

This issue tracks adding WooCommerce compatibility for following pages:

- [ ] Cart - empty
- [ ] Cart - full
- [ ] Checkout
- [ ] Order placed

### Describe alternatives you've considered

N/A

### Additional context

N/A

[2022-01-04 07:08] mitchellkrogza commented on #14883
Wow this is from 2017 and you refer to "performance improvements" on Woocommerce? I have yet to see them. I have several functions to disable half the rubbish introduced by Automattic to actually make Woo and Wordpress fast. As far as Woocommerce goes with Core Web Vitals .... it sucks plain and simple.

[2022-01-04 07:34] pauljacobson opened #31551 "Stock management: Stock not being held when orders Pending Payment with PayPal or Stripe"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A merchant noticed that they had multiple transactions for a single product within a 10 minute time period. It seems that the stock is not being reduced when the order status is

[2022-01-04 07:38] gondre commented on #31076
that's not what I'm asking for. I was switching the settings only to demonstrate that the tax amount was saved as rounded.

the bug I reported is ;
if you have the option : `Round tax at subtotal level, instead of rounding per line`
the tax amount is usually saved with decimals (correct behaviour), but NOT if you also have the option `Yes, I will enter prices inclusive of tax`.

Why would the opti

[2022-01-04 08:23] #31518 closed, assigned to sunyatasattva

[2022-01-04 08:42] szepeviktor opened #31553 "Packagist does not list v6.0.0"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello!

Packagist says _Last update: 2022-01-04 08:24:25 UTC_ but there is no v6.0

Could you contact them?

### Expected behavior

list v6.0.

### Actual behavior

v6.0 is not l

[2022-01-04 09:04] firas145 opened #31554 "Inconsistent documentation and implementation for update coupon"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Api for update coupon returns expiary_date documentation says date_expires

### Expected behavior

Consistency between api res and documentation

### Actual behavior

Inconsisten

[2022-01-04 09:09] #31554 closed, assigned to nobody

[2022-01-04 09:23] chihsuan commented on #32213
I've looked into this bug. The root cause is that [they're using different route paths](https://github.com/woocommerce/woocommerce-admin/blob/main/client/layout/controller.js#L76-L144).

- Overview -> `/analytics/overview`
- Other reports -> `/analytics/:report`

So, when we navigate from the "Overview" to the other Analytics pages, the route path will be changed and it will [re-render the entire

[2022-01-04 09:42] anitaa1990 opened #31555 "API Request: Add the status field to the GET Coupons API endpoint"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
The Woo mobile team is working on adding coupon support in the W

[2022-01-04 09:42] anitaa1990 commented on #31555
I'd like to take a crack at this issue, if that's alright 😊

[2022-01-04 11:33] zenagency-US commented on #31367
I just attempted to create and build this table and it keeps stalling out. The most rows it's built is 1078. My site has several hundred thousand attributes. Any thoughts on why it just stops building?

[2022-01-04 12:04] emakx commented on #31478
Hello,

Any Updates on This?

Regards

[2022-01-04 12:19] swatipawarGS commented on #31535
Hi @erikdemarco ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/148026934-7b67fea4-fa40-47cf-a333-2d27c8059b80.mp4

Please provide us more detailed and any

[2022-01-04 12:20] swatipawarGS commented on #31534
Hi @SSeitz182 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screenshot for reference :
![#31534](https://user-images.githubusercontent.com/94531721/148033578-db69f060-2068-4be8-8255-9b698fcaf971.jpg)

Please provide us more detailed

[2022-01-04 12:47] swatipawarGS commented on #31540
Hi @EFFETTI ,

Could you please confirm and clarify exactly which settings is this defect related to?

[2022-01-04 15:14] tsetend commented on #28368
Reported in 4658412-zen

[2022-01-04 16:20] EdithAllison commented on #31551
In WooCommerce, stock is only reduced when an order has reached payment stage. Pending Payment does not trigger stock reduction. But in the example you've shown, stock is reduced on "Failed" and this looks like a bug to me, updating status from Pending Payment to Failed should not trigger any stock movements.

[2022-01-04 16:34] csmcneill commented on #32202
Thanks for the feedback @ilyasfoo.

I tested this on my WPCOM site and I am unable to reproduce the issue; it seems to be isolated to my local FlyWheel site. As far as I can tell, all orders on my FlyWheel site have parent orders, and all refunded orders have been moved to the trash.

I attempted to delete all Subscription orders, but the issue persisted.

Then, I created a new local site and plac

[2022-01-04 16:41] EdithAllison commented on #28651
I don't agree that setting to "out of stock" should change stock quantity, this would not be the behaviour I expect when using bulk edit.  There are two possible processes:

1. set "Manage Stock" to "No" and then "In Stock?" to "Out of Stock".

2. Or set "In Stock" to "Out of Stock"; and "Stock Quantity" to "Change to: 0".

Both these bulk edits achieve the aim of setting all selected products to

[2022-01-04 17:39] rrennick commented on #31452
The `e2e-core-tests` folder is a package. When it is installed in another project, the `default.json` file that is in this repo does not get installed/copied with it. The reason we are doing this is to allow other projects to use the package without having to manually copy default.json every time there is an update to this package.

[2022-01-04 18:18] #31398 closed, assigned to MrJnrman

[2022-01-04 18:40] pedlima commented on #27419
Any news on this? Because unbelievably it seems that the issue still persists!

[2022-01-04 18:52] #29280 closed

[2022-01-04 19:17] #31475 closed, assigned to nobody

[2022-01-04 19:48] ccobuzziOV commented on #27419
I am still having issues as well though they closed this.

On Tue, Jan 4, 2022 at 1:41 PM pedlima ***@***.***> wrote:

[2022-01-04 21:00] zhongruige commented on #31543
Hi @gglobalstep,

Thank you for reporting this! After the first attempt, I did see the "Connect your store" option missing, but just to confirm, when you mentioned "for the first attempt" did it show up on subsequent attempts or was it always missing? For example, if you loaded the section but then went back and re-loaded it, if the option showed then.

Thanks!

[2022-01-04 21:54] Zalv2 commented on #32202
Hi @csmcneill @ilyasfoo

From my understanding non of the errors has to do with Subscription orders, the only current plugin active is just WooCommerce.

Maybe you'll like the FTP, SSH, and WP Access to my website so you can review from there? I'm also wondering if it has to do with my security or firewall, let me know your thoughts.

[2022-01-04 21:54] szepeviktor commented on #31553
https://github.com/woocommerce/woocommerce/issues/31475#issuecomment-1004345153

[2022-01-04 21:54] #31553 closed, assigned to nobody

[2022-01-04 22:36] melek opened #31560 "'automatically generate an account password' Accounts & Privacy setting label is outdated."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Due to #31305 (STOP sending passwords via e-mail Please) and #31257 (PR: Send set password link instead of the actual password to new users.), the WooCommerce accounts and privac

[2022-01-05 00:35] #31374 closed, assigned to nobody

[2022-01-05 00:35] #31433 closed, assigned to nobody

[2022-01-05 00:35] #31440 closed, assigned to nobody

[2022-01-05 00:35] #31460 closed, assigned to nobody

[2022-01-05 00:35] #31461 closed, assigned to nobody

[2022-01-05 02:54] ilyasfoo commented on #32202
@csmcneill Thanks for trying those out. It does seem to be an edge case. If your reproducible local is a test site, would you mind giving a full database export of it so I can take a closer look? You can ping me on slack

@Zalv2 Thanks for offering, if we still can't reproduce, that would be a last resort at the moment.

I don't think security or firewall would cause this

[2022-01-05 04:27] rodelgc commented on #31540
Hi @EFFETTI,

You didn’t fill out the details of the bug report template that we ask for. We're a bit confused about which exact settings in the UI you were referring to here:

For us to be able to take a closer look, please provide us with:

- the exact steps we should undertake in the UI to reproduce the issue
- your system status report (feel free to hide all sensitive information they might co

[2022-01-05 05:12] apeksha10 commented on #32117
Hi @rrennick,
Thanks for your reply.

Same steps I have followed on one of the staging sites and still the issue is persists

see the screenshot :
![LWR_Recording](https://user-images.githubusercontent.com/20852893/148163656-16766e70-442d-4414-8d50-5d7e1975f398.png)

Plugin page screenshot : ![LWR_Recording](https://user-images.githubusercontent.com/20852893/148163839-15ed9d3f-c9cf-4cd8-a277-09d0d

[2022-01-05 05:26] rodelgc commented on #31280
Hi @vijayhardaha, thanks for the question. I'll remove the `type: enhancement` label and replace it with `needs developer feedback` so the Core team could take a look.

[2022-01-05 06:06] devvnawaz commented on #32220
I have received another report on this issue on Happychat #[30450195](https://mc.a8c.com/support-stats/happychat/transcript.php?id=30450195)

[2022-01-05 06:32] rodelgc commented on #31230
Hi @linesbytim,

This behavior is intentional as clarified by the Core team [here](https://github.com/woocommerce/woocommerce/issues/31173#issuecomment-992444360).

Please try @vijayhardaha's suggestion above if it works.

If it doesn't, the best place to get help further is in the [WooCommerce Community Slack](https://woocommerce.com/community-slack/) in the `#developers` channel.

I am closing t

[2022-01-05 06:32] #31230 closed, assigned to nobody

[2022-01-05 06:46] rodelgc commented on #31560
Hi @melek,

Thank you for taking the time to report this bug, we really appreciate your help.

Priority of this issue will be assigned shortly after we'd go through a round of prioritization.

[2022-01-05 07:07] rodelgc commented on #31542
Hi @kanlukasz,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I tried setting up these product names:

[code]

When I ran `wp wc product list --field=name --format=json` I got the following response:

[code]

Priority of this issue will be assigned shortly after we'd go through a round of prioritization. Please note it may take a c

[2022-01-05 07:17] pmcpinto commented on #32219
The experiment name can be: woocommerce_payments_menu_promo_nz_ie

[2022-01-05 08:43] ilyasfoo commented on #32219
@pmcpinto  Would we want to use dynamic naming, `woocommerce_payments_menu_promo_nz_ie_2022_01`? We can set the experiment for February as well

[2022-01-05 10:20] pmcpinto commented on #32219
Good idea. It makes sense to use dynamic naming. Thanks for the suggestion 🙌

[2022-01-05 10:48] anitaa1990 opened #31562 "[API Request]: fetch all coupons from the GET Coupons API endpoint"
### Describe the solution you'd like

The Woo mobile team is working on adding coupon support in the Woo mobile app. As part of the project, we would like the option to fetch all the coupons from the GET Coupons API endpoint.  It looks like only published coupons are available in the API response at the moment. But this is not the case in `wp-admin` since we can filter by status.

### Describe alt

[2022-01-05 11:04] EFFETTI commented on #31540
Screen Shots of TAX Tab: Three critical Pull Down Menus relating to [Display] ARE BOTH Non-Functional AND STUCK;

![239E2205-A8B0-4FB7-A583-98701395DBC5](https://user-images.githubusercontent.com/18757473/148207166-c0a5230d-a868-42fa-aba8-8f26f7ff6db4.png)

![1B5D09B4-164F-4C42-B123-4EC4B6E14EE2](https://user-images.githubusercontent.com/18757473/148207179-8aed61f4-dece-4ea6-bcd7-b43ec6e3e507.png)

[2022-01-05 11:18] EFFETTI commented on #31540
System Report:
`
### WordPress Environment ###

WordPress address (URL): https://vny.life
Site address (URL): https://vny.life
WC Version: 6.0.0
REST API Version: ✔ 6.0.0
WC Blocks Version: ✔ 6.3.3
Action Scheduler Version: ✔ 3.3.0
WC Admin Version: ✔ 2.9.4
Log Directory Writable: ✔
WP Version: ❌ 5.8.1 - There is a newer version of WordPress available (5.8.2)
WP Multisite: –
WP Memory Limit: 256 M

[2022-01-05 11:28] EFFETTI commented on #31540
STEPS:

Under GENERAL tax calculation has been enabled.

Under TAX auto calculation has been enabled.
   ^>> Three, 3 Display pulldowns are Not functional:
   * Display prices in the shop
   * Display prices during cart and checkout
   * Display tax totals

[2022-01-05 11:32] EFFETTI commented on #31540
note: There is NO obvious and simple way to UPDATE the version of WordPress the site is using.  BlueHost has been paid in advance for a ‘managed build’ site.  WHAT, exactly is being ‘managed’ is completely unclear.

[2022-01-05 12:30] KBSMayo opened #31563 "Add/Edit Customer details on my-account page[Enhancement]:"
### Describe the solution you'd like

I want to allow customers to add/amend their address, email, phone and profile image.

### Describe alternatives you've considered

I tried WooCommerce Extension My Account Page Editor but this does not address the issue.

### Additional context

_No response_

[2022-01-05 14:27] swatipawarGS commented on #31547
Hi @jSpork ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/148175353-d4b202f9-f3b3-428d-ab95-75a502e2816d.mp4

Please provide us more detailed and any addit

[2022-01-05 14:28] swatipawarGS commented on #31551
Hi @pauljacobson ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.2 version.

Please find below screenshot for reference :

![#31551](https://user-images.githubusercontent.com/94531721/148231554-7045f761-7916-40fa-9bdd-6f90abd0ba04.jpg)

Priority of this issue will be

[2022-01-05 14:49] erikdemarco opened #31564 "[Enhancement]: Order tracking page should not use nonce"
### Describe the solution you'd like

When user wants to do order tracking there is a nonce check. Its bad if order tracking form is applying page cache for long time. So if the order tracking page is cached for 1 week. Nonce will be invalid. Nonce checking usually is for page which not cached like cart or checkout page

=> https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73

[2022-01-05 15:03] webdados opened #31566 "Respect the "woocommerce_allow_marketplace_suggestions" on the new WCPaymentGatewayPreInstallWCPayPromotion "gateway""
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This new "payment gateway" that is introduced in WooCommerce 6.1.0, and it's really not a payment gateway but a marketing suggestion is showing up on the payment gateways list ev

[2022-01-05 15:03] johnregan3 commented on #31252
PR Issued #31565

[2022-01-05 15:56] Aljullu opened #42656 "Edits to Product Archive template are not visible in the Product Category and Product Tag pages"
I might be understanding this wrong, but I think that if Product Category and Product Tag templates haven't been customized and don't have a custom template set by the theme, but the Product Archive has been customized by the user, the Product Archive template should take priority.

## To reproduce
1. With WP 5.9 and a Twenty Twenty Two, go to Appearance > Editor > Templates.
2. Edit the Product A

[2022-01-05 16:23] rrennick commented on #32117
@apeksha10 Thanks for the quick follow up. I tested the latest version and reported the results in https://github.com/woocommerce/woocommerce-beta-tester/issues/111#issuecomment-1004220477.

We need to be able to reproduce the issue to nail down what's causing it. Do you see anything in the error logs of the staging site around the time you tested?

[2022-01-05 16:30] EFFETTI commented on #31540
note2: there are two, 2 issues;

1) described above and illustrated by the conditions presented in cart and on checkout for a [Dress] taxable item.

2) has Not yet been described, will be described here; the second product [Red Envelope] is Not taxable and can STILL NOT BE PURCHASED THROUGH THE SITE.

[2022-01-05 16:36] rrennick opened #31568 "e2e-core-tests npm build possibly missing files"
Originally reported in https://github.com/woocommerce/woocommerce/pull/31524#issuecomment-1005878154

We need to ensure the `bin` and `installFiles` folders are included in the the published package

[code]

[2022-01-05 18:00] barryhughes opened #31570 "Review and revise auto-generated docs (in relation to packages)"
Over at [woocommerce.github.io/code-reference](https://woocommerce.github.io/code-reference/) we list various packages in the sidebar, but some lead to an empty page.

For example, at time of writing, the list of classes belonging to the [WooCommerce\Shipping](https://woocommerce.github.io/code-reference/packages/WooCommerce-Shipping.html) package is empty: yet, classes such as `WC_Shipping_Free_S

[2022-01-05 18:07] barryhughes commented on #24303
Thanks for all the discussion here!

The `<noscript> <link ... /> </noscript>` style solution definitely sounds like a clean way to go. Less sure if there might be back-compat concerns for third party extensions that also expect `.woocommerce-no-js` to be present, but if so it is probably reasonable to issue a warning of this change ahead of releasing it.

[2022-01-05 18:14] barryhughes commented on #31370
Thanks for the further discussion of this issue.

Supporting `/wp-json/wc/v3/products?sku=<VARIATION|PRODUCT_SKU>` seems like a reasonable enhancement (ie, we can also return variable products in cases where one of its variants has the requested SKU). Marking this as a future enhancement; in the meantime if there are any concerns with this solution please just add a fresh comment.

[2022-01-05 18:34] barryhughes commented on #26289
Earlier validation seems like a good step forward and we should look into it.

[This concern](https://github.com/woocommerce/woocommerce/issues/26289#issuecomment-620697730) regarding the potential for the billing email address to change at a later stage still seems valid, but we also don't need to actually *remove* the coupon (at this earlier stage), we could simply warn early of its likely remov

[2022-01-05 18:34] barryhughes commented on #26289
I've set the priority to `high` given the level of activity and number of linked support requests.

[2022-01-05 18:37] barryhughes commented on #27131
An additional field that indicates if the class is same-of-parent, etc, seems like something we can add without any real backward compatibility concerns. Thanks for submitting it!

[2022-01-05 18:38] barryhughes commented on #27131
@jaclync I've initially set the priority to `low`. Please let me know if you feel this should be elevated (I'm not sure how much of an active concern this is, in relation to your project).

[2022-01-05 19:08] maxim-skuvault commented on #31370
@barryhughes

Thanks. Yes, this would work for our purposes.

[2022-01-05 23:51] #30828 closed, assigned to nobody

[2022-01-06 00:09] jSpork commented on #31547
Oh weird, I must have some kind of caching going on in my Admin area. I
previously tested with multiple browsers and private mode but there must be
something within my WordPress install doing it. I've been doing further
testing and it seems to clear up overnight, further supporting your finding
that it's working as expected. Thanks for reviewing; I think you can close
this one out as not being an

[2022-01-06 00:42] jaclync commented on #27131
Hi @barryhughes! thanks for taking a look, an additional field that indicates if the class is same-of-parent sounds like a good solution 👍 We haven't heard user reports on this issue, keeping it a low priority is fine 🙂

[2022-01-06 01:13] #31564 closed, assigned to nobody

[2022-01-06 02:24] ilyasfoo commented on #32219
@pmcpinto Nice! Are you able to help with setting up the experiments? Code changes are made by @moon0326 and at the moment we're pretty confident the logic works, but it'll be great to have it up with `staging` by Monday next week so we can properly test before RC.

Btw just to be clear, don't use the audience country filter in Abacus because we're using a custom segment for checking eligibility b

[2022-01-06 03:03] rrennick opened #31576 "npx only-allow pnpm prevents npm package install"
The `"preinstall": "npx only-allow pnpm"` script in the e2e package.json files prevent the built packages being installed by npm.

### Steps to reproduce

1. In `packages/js/e2e-utils` run ` rm package-lock.json`
1. In `plugins/woocommerce` run
[code]
3. In `packages/js/e2e-utils` run
[code]
4. Add `"@woocommerce/e2e-utils": "file:../woocommerce-e2e-utils-0.1.6.tgz"` to the project dependencies
5.

[2022-01-06 04:39] rodelgc commented on #31566
Hi @webdados,

Thank you for raising this issue. I'm labeling this with `needs developer feedback` and will internally ping the release team working on 6.1 which is still in RC2 at this point.

[2022-01-06 05:15] apeksha10 commented on #32117
Hi @rrennick,

Thanks for your quick response.
No, another error was found on debug log file.

[2022-01-06 06:51] rodelgc commented on #31540
Hi @EFFETTI,

Thank you for the feedback.

Regarding the disabled tax options, that is the intended behavior whenever you use automatic tax calculation by the WooCommerce Shipping & Tax plugin as mentioned here: https://woocommerce.com/document/setting-up-taxes-in-woocommerce/#why-tax-options-are-greyed-out; and in here - https://woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-ta

[2022-01-06 06:51] #31540 closed, assigned to nobody

[2022-01-06 09:06] chihsuan commented on #32250
Look like the "Things to do next" option is no longer shown on the "help menu" now even the "set up task list" is shown.

We use the [`isToggleable` variable](https://github.com/woocommerce/woocommerce-admin/blob/main/client/tasks/tasks.tsx#L131-L151) to decide whether to show it but the [backend API doesn't contain isToggleable property on tasklists](https://github.com/woocommerce/woocommerce-adm

[2022-01-06 10:22] tjcafferkey commented on #42656
I can see an argument for it working the way you've described in this PR _and_ the way it currently works. It's worth noting as well that if we decide it should behave the way you've outlined above then this should also apply to themes who only have the `archive-product.html` file. Should they edit this file from the theme in the Site Editor it should also be applied to Category and Tag pages if t

[2022-01-06 11:34] Immerence commented on #27761
Second that. Any update would be appreciated @juliaamosova

[2022-01-06 11:42] anant1811 commented on #30027
Also reported in 4654399-zen

[2022-01-06 13:55] ilyasfoo commented on #32202
I've received the database dump from @csmcneill and found the underlying issue. Child orders are created when an order is refunded, with the original order is set as the parent. In this case, somehow a refunded order is deleted without deleting the child orders.

I suspect this could be a data issue as I could not reproduce it by trashing and permanently deleting an order, as the children orders d

[2022-01-06 14:17] rrennick opened #31579 "Release E2E packages"
Due to the monorepo reorg and holiday break we haven't been able to release any E2E updates in a while. We should aim to release an update to all `@woocommerce/e2e-*` packages in the next few weeks.

[2022-01-06 15:07] gglobalstep opened #31580 "[GlobalStep] "Two Columns" option is selected for "Single Column" layout under "Display" on Woocommerce > Home page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Two Columns" option is selected for "Single Column" layout under "Display" on Woocommerce > Home page.

### Expected behavior

"Single Column" option should be selected for "Sin

[2022-01-06 16:34] #31396 closed, assigned to Luc45

[2022-01-06 16:46] SebastianTusk opened #31582 "Special characters in password on checkout page lead to not working account"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

New accounts created from the checkout page with special characters in the password do not work.

It is similar to https://github.com/woocommerce/woocommerce/issues/23922. The fi

[2022-01-06 22:56] AlexWebpuro opened #31584 "Search product sku with spaces return not found in ?s=sku+space&post_type=product url"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When i try to search product by SKU in search field, return product not found, but if i try same sku with a ajax search, the search get me a product

### Expected behavior

Retur

[2022-01-07 01:11] #31580 closed, assigned to nobody

[2022-01-07 01:11] ilyasfoo commented on #31580
Issue moved to [woocommerce/woocommerce-admin #8126](https://github.com/woocommerce/woocommerce-admin/issues/8126) via [**ZenHub**](https://www.zenhub.com/)

[2022-01-07 10:22] witcher83 opened #31586 "Special characters in email subject"
### Describe the solution you'd like

If in the email subject there's the "&" character, it will be converted into "&amp;"

This can be solved by changing the line /woocommerce/includes/emails/class-wc-email.php:654 from this
`$mail_callback_params = apply_filters( 'woocommerce_mail_callback_params', array( $to, $subject, $message, $headers, $attachments ), $this );`
into this:
`$mail_callback_par

[2022-01-07 11:49] lkraav commented on #30104
@vedanshujain we have a PR now for 4 months here. Anything stopping this from moving forward?

[2022-01-07 14:20] louwie17 commented on #31566
@rodelgc this has been fixed as part of WooCommerce Admin 3.0.3 [here](https://github.com/woocommerce/woocommerce-admin/pull/8117), and will be included in the latest version of 6.1.

[2022-01-07 14:26] webdados commented on #31566
Thanks!

[2022-01-07 14:26] #31566 closed, assigned to nobody

[2022-01-07 14:49] swatipawarGS commented on #31584
Hi @AlexWebpuro ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress  5.8.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/148560398-7429bebd-ff52-4b6e-8b63-919fb8a279bb.mp4

Please provide us more detailed and any

[2022-01-07 15:08] vedanshujain commented on #31529
@Daniel-MultiSafepay yup looks like a param is missing there. I am marking this as a bug but this API is actually deprecated in favor of the newer ones, so it would be a low priority. that said, i would encourage you to switch to modern ones, and if possible send in a pr as well given that you have already identified the fix.

[2022-01-07 15:17] vedanshujain commented on #31519
Hey @SaifAlSubhi, thanks for the report, can you add more details about why this change is needed? On a cursory look, the current code seems fine.Please add details about if there is a bug, and steps to reproduce it. Basically, there would be a template presented when you create a new issue, please fill that in so that we can reproduce it easily.

[2022-01-07 15:24] vedanshujain commented on #31511
Thanks for the report and detailed steps to reproduce. Marking it as a bug to repro and investigate the root cause.

[2022-01-07 15:36] vedanshujain commented on #31486
Thanks for the report @renrax, marking this as a bug. Also this looks like a good first issue, as we have to find where we are rendering this and add internationalization code.

[2022-01-07 15:43] swatipawarGS commented on #31582
Hi @SebastianTusk ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress  5.8.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/148511146-a07ffb06-6083-4c91-a85a-c5f92201b9af.mp4

Please provide us more detailed and a

[2022-01-07 15:50] vedanshujain commented on #31483
@erikdemarco thanks for the report, we can reproduce it on our end as well. Marking it as a low priority for now (relative to other high prior issues opened in the repo) and searching via total is a relatively less used feature, but will increase the priority if we get more reports.

[2022-01-07 15:53] siliconforks commented on #31511
The actual root cause seems to be the [Automattic\WooCommerce\Admin\API\Reports\PerformanceIndicators\Controller](https://github.com/woocommerce/woocommerce-admin/blob/main/src/API/Reports/PerformanceIndicators/Controller.php) class in the [woocommerce-admin](https://github.com/woocommerce/woocommerce-admin) project.  It has a `register_routes` method which ultimately leads to a call to `get_analy

[2022-01-07 15:58] vedanshujain commented on #31459
hey @webtech-jomase this is essentially just a wrapper on the REST API. Can you make the same API call directly over HTTP and see if the issue persists. This will help us in figuring out whether the issue is in the SDK or in the REST API itself.

[2022-01-07 16:07] vedanshujain commented on #29976
Settings were updated, internal ref: pbDlC7-rJ

[2022-01-07 16:07] #29976 closed

[2022-01-07 16:10] SebastianTusk commented on #31582
The account creation step looks differently for me. It doesn't has the extra step with the password setting. See the following screenshot: ![image](https://user-images.githubusercontent.com/3973523/148571272-575b7e6c-01eb-45cb-ac0f-79980aeec676.png)

Is the difference caused by some kind of setting? There is "woocommerce_registration_generate_username" and "woocommerce_registration_generate_passwo

[2022-01-07 23:10] barryhughes commented on #31101
The [WC Query documentation](https://github.com/woocommerce/woocommerce/wiki/wc_get_products-and-WC_Product_Query) in the wiki has now been updated in respect of the `limit` argument.

[2022-01-07 23:10] #31101 closed, assigned to nobody

[2022-01-08 00:08] masteradhoc commented on #31586
@witcher83 thanks for opening the issue - see the PR with your code suggestion in the history above.

[2022-01-08 06:59] moon0326 commented on #32224
Not stale. Reopening.

[2022-01-08 12:09] pacmanito opened #31592 "There's no way to recalculate products total_sales"
Hi, I was migrating WC site and found following issue. When migrating products via WC export/import total_sales number is not imported. Importing orders (via 3rd party plugin as there's no native tool) also does not trigger any changes to total_sales. So after migrating the site all products have zero total_sales both in `wp_postmeta` and `wp_wc_product_meta_lookup` tables which leads to various p

[2022-01-08 12:44] vijayhardaha commented on #31592
A solution described here if anyone else facing the same problem https://wordpress.org/support/topic/recalculate-total-sales-2

[2022-01-08 12:52] vijayhardaha commented on #31584
@swatipawarGS Issue if for frontend.

@AlexWebpuro The default search doesn't look into SKU meta. it just looks for product title and product content/short description(I guess). While ajax search which I assume is another plugin functionality, they have their own search system so they search for SKU as well.

[2022-01-08 23:50] perrelet commented on #29152
Wow.

[2022-01-09 05:49] galbaras commented on #29138
It's been 40 days. Any news?

[2022-01-09 07:19] ghost commented on #31514
Hello there,  i contact Aelia's plugin support, they have only option currency switcher. so as per my analysis woo commerce don't support more than one currency by default. i tried many plugins they just provide features to switch on currency into another instead of add. I request in future woo commerce update, they should consider about this. anyways ill achieve my requirement by code ill add tha

[2022-01-09 11:02] webtech-jomase commented on #31459
Hello @vedanshujain, I have located the trigger for the error in this specific case:
At the time, this particular page was partially migrated from a prestashop solution through a third-party plugin.
Reviewing the entries I found that ALL the products that were excluded outside the lists had been migrated by the aforementioned plugin. Until the day before the publication of this incident, the acqui

[2022-01-09 16:32] strarsis opened #31594 "PHP Notice: `Undefined index: woocommerce_wc_pay_promotion_payment_methods_table_v2`"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When loading the "Payments" page in WooCommerce settings, a PHP notice occurs:
[code]

### Expected behavior

No PHP notices, especially not because for missing indices.

### Act

[2022-01-09 16:32] strarsis opened #32201 "PHP Notice: `Undefined index: woocommerce_wc_pay_promotion_payment_methods_table_v2`"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When loading the "Payments" page in WooCommerce settings, a PHP notice occurs:
[code]

### Expected behavior

No PHP notices, especially not because for missing indices.

### Act

[2022-01-10 03:07] csmcneill opened #31595 "Fatal errors when accessing WooCommerce > Orders in PHP 8 environment"
### Describe the bug

A user experienced the following fatal errors after updating to PHP 8 and then accessing WooCommerce > Orders:

[code]

### To Reproduce

I tried reproducing this on their site with admin credentials, but I couldn't. The user came back and indicated that's because they reverted back to PHP 7.4.

I do not have a PHP 8 environment to test, but I wanted to relay this to the deve

[2022-01-10 03:40] ilyasfoo commented on #31595
Hey @csmcneill, thanks for reporting. Looking at the error log, I think this issue should be reported to WooCommerce Core instead. Moving it so that the appropriate team can have a look at it.

[2022-01-10 06:03] vedanshujain opened #31596 "Create scaffolding for order custom table project"
This issue scopes the following things that we will need to start work on custom order table implementation:

- [ ] Feature flag for enabling custom order table and tools for table installation.
- [ ] Scaffolding code for empty datastore class.

#30228

[2022-01-10 06:14] vedanshujain opened #31597 "Switch to using using data stores instead of direct post or post meta access for orders"
This issue scopes converting common occurrences of direct wp_post or wp_postmeta access via WP APIs to use data stores instead.

#30228

[2022-01-10 06:18] vedanshujain opened #31598 "[Spike] Implement data store MVP for custom order tables"
This issue scopes implementation of an MVP of the custom order table data store to explore the solution space better. We want to start with an MVP first to uncover hidden problems and dependencies that we may need to resolve or workaround.

#30228

[2022-01-10 06:22] vedanshujain opened #31599 "MVP for data migration for custom order table from wp_post and wp_postmeta tables"
This spike scopes finding a performant and reliable approach to migrating data from wp_post and wp_postmeta tables. This also scopes testing the migration approach across stores of different sizes with different hosting configurations.

#30228

Desired output: an RFC discussing approaches and suggesting best approach

[2022-01-10 06:32] joshuahalldesign commented on #31594
Same Issue for me

[2022-01-10 06:32] joshuahalldesign commented on #32201
Same issue happening for me.

[2022-01-10 07:14] rodelgc commented on #31547
@jSpork thank you for the feedback! Closing this issue now.

[2022-01-10 07:14] #31547 closed, assigned to nobody

[2022-01-10 07:52] rodelgc commented on #31584
Hi @AlexWebpuro,

I also couldn't reproduce the issue on my end. I was able to search for the product using a SKU that contains a whitespace.

<img width="1370" alt="Screen Shot 2022-01-10 at 3 48 53 PM" src="https://user-images.githubusercontent.com/4509348/148733200-870cb4a3-efa5-4388-8e0a-e5cb4e2611e8.png">

I see that you have several plugins installed and that you don’t use one of our default

[2022-01-10 08:49] rodelgc commented on #31582
Hi @SebastianTusk,

Since WooCommerce 6.0, instead of typing in the desired password in the Checkout page, we are now emailing a link to a "Set Password" page. See this pull request for details:
[Send set password link instead of the actual password to new users. #31257](https://github.com/woocommerce/woocommerce/pull/31257).

Will it be possible for you to upgrade to 6.0 so that you won't be affe

[2022-01-10 08:55] rodelgc commented on #31551
Adding the `type: bug` label.

[2022-01-10 10:32] conschneider opened #31601 "DKK currency code needs to be replaced with short symbol"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The short symbol defined for DKK here: https://github.com/woocommerce/woocommerce/blob/59ab939282ebca560583fa13068e54b5cf51cbb6/plugins/woocommerce/i18n/locale-info.php#L939 shou

[2022-01-10 12:46] swatipawarGS commented on #31594
Hi @strarsis ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.3 version.

Please find below screenshot for reference :

![#31594](https://user-images.githubusercontent.com/94531721/148751581-12d546d8-2d6f-4b24-a8eb-f37fa509cbcd.jpg)

Priority of this issue will be ass

[2022-01-10 12:46] swatipawarGS commented on #32201
Hi @strarsis ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.0.0 version and WordPress 5.8.3 version.

Please find below screenshot for reference :

![#31594](https://user-images.githubusercontent.com/94531721/148751581-12d546d8-2d6f-4b24-a8eb-f37fa509cbcd.jpg)

Priority of this issue will be ass

[2022-01-10 12:48] swatipawarGS commented on #31595
Hi @csmcneill ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.0.0 version, WordPress 5.8.3 version and PHP 8.0.14 version .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/148754450-f7c059e6-5498-402b-9b7b-ff0ff5c468e9.mp4

Please provide us mor

[2022-01-10 12:49] swatipawarGS commented on #31582
Hi @rodelgc ,

We are unable to reproduce the issue on our end using WooCommerce 5.5.1 version and WordPress 5.8.3 version .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/148760987-b0e2e1d4-842e-4ecd-9238-85ef8352fb6b.mp4

Please provide us more detailed and any additional steps required to repro this issue which may help us to evaluate it furthe

[2022-01-10 14:18] gglobalstep opened #31602 "[GlobalStep] For Atomic site, "Set up marketing tools" option in "Task List" fails to display on the "Woocommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic site, "Set up marketing tools" option in "Task List" fails to display on the "Woocommerce > Home" page.

### Expected behavior

"Set up marketing tools" option in "Tas

[2022-01-10 14:45] j94santana commented on #24528
Hi @swatipawarGS

When you click on 'Cancel and return to store-name' in the payment screen the order is cancelled and is no longer in Pending Payment status, thus the bug does not happen.

To reproduce this bug it is necessary to purchase a product with 1 item left in inventory that is also in a different Pending Payment order (the Pending Payment status does not decrease stock levels.)

I'm sign

[2022-01-10 14:46] pmcpinto commented on #32219
@ilyasfoo based on what we talked about last week, the Abacus experiment will be implemented by Chi-Hsuan, right?

[2022-01-10 14:58] #25458 closed

[2022-01-10 15:12] pmcpinto commented on #28603
@peterfabian do you have an estimate on when this will be fixed? I can also check if someone from Isotope can help with this

[2022-01-10 15:34] vedanshujain commented on #31598
We should make sure that the MVP can:
- [ ] Process simple checkout
- [ ] Can show orders in admin view
- [ ] Manage caches
- [ ] Can support atomic transactions - for coupon usages, product count etc.

[2022-01-10 16:29] DanielCyran opened #31604 "[Enhanceme]: Dropshipping is very popular all over the worldnt]"
### Describe the solution you'd like

Dropshipping is very popular all over the world and one small feature is missing in Woocommerce; / When we have thousands of products and we want to hide products that are in stock, e.g. 3, you cannot hide these products, you need to use an external code. this function is important because the stock levels are not updated in the LIVE form
 Did I write in the r

[2022-01-10 16:52] lanej0 commented on #31601
Hi @conschneider,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2022-01-10 17:05] #30580 closed, assigned to rodelgc

[2022-01-10 17:40] #31469 closed, assigned to lanej0

[2022-01-10 23:26] ObliviousHarmony commented on #31520
Hello @helgatheviking,

I've added the link to the development environment to the readme, but I think that in general, we're going to need to do some work on this documentation. A lot has changed since it was first written, and I think separating the general tooling information from the environment-specific information could be useful to everyone.

As for the specific error you've encountered, I'l