[2022-02-04 03:11] becdetat commented on #29731
@pmcpinto It would need to be done by Thursday for it to make 6.3. Cycle 21 is pretty full, so this may push something else back.

@adrianduffell @mattsherman Is this something one of your teams could pick up?

[2022-02-04 04:01] adrianduffell commented on #29731
Unfortunately, I'd say it's too risky for my team to take. We already have our hands full aiming to land the updated Task List experiment before the Thursday PR cutoff.

[2022-02-04 04:10] DevMarc16 opened #31831 "xumm payment gateway"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

ive set up xumm payment gateway and at check out it says sorry, it seems thatthere are no available payment methods for you r state..

### Expected behavior

be able to buy produ

[2022-02-04 04:41] carasmo opened #31832 "Woocommerce Square wc-square.js prevents inline validation upon submit of checkout form"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Woocommerce Square wc-square.js prevents inline validation upon submit of checkout form

No matter the theme, when Square is being used as the gateway, the script wc-square.min.j

[2022-02-04 09:15] peterfabian commented on #31827
Thanks for the idea, I think it's a good enhancement. Would you like to try and submit a PR for it?

[2022-02-04 09:22] peterfabian commented on #30027
With WC 6.5 in May, we'll drop support for older PHP versions (https://developer.woocommerce.com/2022/01/05/new-requirement-for-woocommerce-6-5-php-7-2/), so that's when we can update the Emogrifier package and be compatible with PHP 8.0. Apologies for the delay.

[2022-02-04 10:53] MrJnrman opened #31833 "Investigate why smoke tests for WooCommerce release candidates fail"

[2022-02-04 10:57] MrJnrman commented on #31833
The `Smoke test release` fails for RC but works for public releases.

[2022-02-04 13:31] MrJnrman commented on #31833
It can be seen at https://github.com/woocommerce/woocommerce/runs/5054386785?check_suite_focus=true that the issue is that the `woocommerce.zip` was not downloaded

[2022-02-04 14:21] sanskritkm commented on #30228
Planing: https://developer.woocommerce.com/2022/01/17/the-plan-for-the-woocommerce-custom-order-table/

[2022-02-04 15:41] carasmo commented on #31832
Added the following to the `render_errors( errors ) ` function and registered the same handle in my theme.

`
			this.form.find(  '.input-text, select, input:checkbox' ).trigger( 'validate' ).trigger( 'blur' );
`

[2022-02-04 16:03] pmcpinto opened #32181 "Marketing task: revisit copy and layout"
**Description:** about 44% of users who visit the marketing task install one of the extensions or click "Manage" to proceed and finish the setup. Establishing an online marketing strategy/presence is a key element of almost any successful business. So why are we not seeing 60 or 70% of users showing the intent to install or complete the setup of the extensions we suggest? One hypothesis is that we

[2022-02-04 16:17] pmcpinto opened #32180 "Revisit the shipping and tax smart defaults"
**Description:** smart defaults are a powerful way to simplify the setup experience, remove friction and ensure that users can focus on critical tasks.
We've tested the shipping and tax smart defaults concept during 2020. See woocommerce/woocommerce-admin#4594 and woocommerce/woocommerce-admin#4595. However, was had some issues as both tasks rely on 3rd party plugins (Jetpack and WooCommerce Shipp

[2022-02-04 17:23] rrennick opened #31837 "Move trashExistingPosts to utils"
Our local E2E `jest.setup` has a trashExistingPosts` function that now deletes the posts with the api. This function should be moved to the `withRestApi` flow and appropriately named `deleteAllPosts`.

[2022-02-04 17:42] colabdan commented on #23083
Hi, just wondering if there are any updates on this? We have a client that sells mostly zero-rated products, however tax is currently being charged on the shipping for the entire order, rather that proportionally, if a single VATable item is included in the order.

The requirements for UK tax being charged accordingly are not a recent requirement, as you can see from other PR's on this topic, dati

[2022-02-04 18:15] edirpedro commented on #29138
Buying as a guest has always a trick for the system and privacy/security concerns.

Guest checkout, what can happen:

- First order as a guest
- Customer comes back and register to view their last order (last order is attached)
- With guest checkout enabled, they can buy again without been logged in
- After that they log in and don’t see the new order (how to attach here?)

A simple workflow could

[2022-02-04 18:30] #31579 closed, assigned to rrennick

[2022-02-04 18:38] #31456 closed, assigned to rrennick

[2022-02-04 19:08] #31455 closed, assigned to Luc45

[2022-02-04 19:22] nicholasjeberlin commented on #28752
Reported in 34016152-hc

[2022-02-04 20:16] mattsherman commented on #32184
@pmcpinto @joshuatf @jarekmorawski  I'd like Mothra to tackle this in Cycle 22.

This seems like a good approach to take, especially with the alert type to ensure it is at the top of screens.

[2022-02-04 20:22] helgatheviking opened #31840 "[Enhancement]: separate build tasks for CSS, JS, languages"
### Describe the solution you'd like

I'd like to see separate node shortcuts for recompiling the CSS, JS, pot files. If I want to work on a CSS feature, it's slow and irrelevant to recompile the JS. For example, I am dabbling with the message/notice styles on the default themes.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-02-04 21:07] mattsherman commented on #32188
@joshuatf @becdetat This issue is closed yet there continues to be discussion on it... reopening.

[2022-02-04 21:58] mattsherman commented on #29731
@becdetat @pmcpinto I'll check with @woocommerce/mothra -- if we can do this with minimal effort, we'll get it in. Otherwise, it may need to wait until 6.4.

[2022-02-04 22:20] Luc45 opened #31843 "Run @woocommerce/api packages tests in CI when there are changes to it"
We should add a workflow that will run @woocommerce/api tests when there are changes to the package.

[2022-02-04 22:36] sjjhr commented on #23083
Wow, was this never fixed?!

[2022-02-04 22:55] #31688 closed, assigned to nobody

[2022-02-05 08:25] carriechan321 opened #31845 "WooCommerce Grouped product API – getting the wrong “regular_price” not the “sale_price” (if the products are on sale)"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello Team,

WooCommerce Grouped product API – getting the wrong “regular_price” not the “sale_price” (if the products are on sale)

Please take a look the following screenshot (

[2022-02-05 08:33] fvdbgit commented on #28752
The bug is still not fixed. Priority is high. Could you please fix this bug in the next WooCommerce version?

[2022-02-05 18:43] 0free commented on #31735
Hi there,

I think it may be caused by TranslatePress - Multilingual v2.1.9

see below the error it generates:

[code]

[2022-02-05 19:19] strarsis opened #31846 "[Enhancement]: Emails general settings link"
### Describe the solution you'd like

In the WooCommerce emails settings page the general email settings are at the very bottom of the page, below all the individual email type settings. In the past I often missed the general email settings because they are at the end of the page. Those settings contain important fields like the sender email field.

It would be very helpful if a link is added that

[2022-02-06 00:44] #31635 closed, assigned to nobody

[2022-02-06 09:43] giacomoarru opened #31848 "WebAPI: ProductAttribute list always contains the same elements"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

While retrieving Product Attributes, I found a problem with the pagination.
I only have 1 attribute, but I get the same result for every page.

verb: GET; endpoint /wp-json/wc/v3

[2022-02-06 15:09] vijayhardaha commented on #31848
https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-product-attributes

Documentation says that the endpoint doesn't have any param for pagination.

[2022-02-06 15:41] Bumjigga101 commented on #27661
Hi there,
Firstly, thanks for the effort put into developing this mod. I've been looking for something similar to this for a couple
of years on and off.. The intention was always just to do it myself when i got the time, but alas, here I am looking again.
I'd like to point out that, from this thread, there seems to be a lack of understanding of the GDPR which is self imposing unneeded restrictions

[2022-02-06 16:16] themycogrow commented on #31651
I've had at least 8 developers look at this and not be able to fix it.

[2022-02-06 19:24] giacomoarru commented on #31848
I see, my API manager is using an interface that inherits pagination for every entity and I assumed that was the same for WooCommerce.

Resolving.

[2022-02-06 19:24] #31848 closed, assigned to nobody

[2022-02-06 22:10] kingplugins opened #31849 "[Enhancement]: Add STEP to the args in woocommerce_available_variation"
### Describe the solution you'd like

I have an enhancement request:

**woocommerce_quantity_input_args** supports **step**, so a plugin can set the input step for simple products, or an entire variable product (so for example a custom plugin can set it to be purchased in multiples of 5, 10, etc.)

**woocommerce_available_variation** however surprisingly only supports min and max qty, but does not

[2022-02-06 23:06] dimitrow7 commented on #26879
Any plan to fix this?

[2022-02-07 07:17] chihsuan commented on #32243
Looks like this bug is over 6 months old. @pmcpinto Can we close this? (according to p90Yrv-2Bc-p2)

[2022-02-07 07:22] chihsuan commented on #32273
@mattsherman This bug is over 6 months old. But if Mothra can handle this, can I move this into "Mothra backlog"?

[2022-02-07 09:13] rodelgc commented on #31293
Hi @swatipawarGS,

Could you please reproduce this issue using WooCommerce Smooth Generator? If this behavior isn't reproducible in Smooth Generator, then probably the mismatch is caused by _WooCommerce Product Generator_ and/or  _Order simulator_ plugin.

Thanks!

[2022-02-07 09:13] rodelgc commented on #32217
Hi @swatipawarGS,

I'm just wondering if this issue is reproducible using WooCommerce Smooth Generator to generate both test products and orders? If it isn't, then probably the mismatch is caused by _WooCommerce Product Generator_ and/or  _Order simulator_ plugin.

Thanks!

[2022-02-07 09:18] chihsuan commented on #32265
@benn0r Thanks for reporting this bug. However, I was not able to reproduce this on my local. The trashed order is not displayed on the analytics page. Could you confirm if this is fixed with the latest version?

[2022-02-07 09:40] 79ho3ein opened #31850 "If the cache is enabled, the "Recently viewed" query will not work properly."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If you remember, I previously posted a report that this query interferes with the wp-rocket plugin. I even discussed this with the wp-rocket writers and they said it was not our

[2022-02-07 10:24] atakanuludag opened #31851 "Browser Crash bug with big tags (ajax endpoint)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,
I am using the latest wordpress and woocommerce versions.

- Woocommerce version: 6.1.1
- Wp version: 5.9

Previous large tags crash the browser when adding products.

**Exam

[2022-02-07 10:53] pmcpinto commented on #32243
Thanks for the ping. Unfortunately this problem went unnoticed during the last cycle planning sessions. We don't have tracking on that button, but this is one of the main flows of new users, so I think we should fix it. I will add to cycle 22

[2022-02-07 11:08] pmcpinto commented on #32184
Creating an inbox notification can work well. @jarekmorawski @verofasulo what do you think?

[2022-02-07 11:17] chihsuan commented on #32259
This has been here for a while. However, I think it would be great if we can fix this along with https://github.com/woocommerce/woocommerce-admin/issues/6822.

I believe it should be "Feb" so I changed all "April" to "Feb"  in the issue title and descriptions.

[2022-02-07 11:34] Melebius opened #31852 "Clear WooCommerce transients does *not* remove most WC transients"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

My `wp_options` table gets overfilled with transients. As a quick solution, I tried to go to WP-Admin > WooCommerce > Status > Tools and use the first “Clear transients” button (

[2022-02-07 12:04] solstudioim opened #31853 "REST API: GET List Continent, attribute Name returning the country currency name instead of Full name of country"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Using GET to list a continent, the Name attribute returns the country currency name instead of the full name of the country.

Reference: https://woocommerce.github.io/woocommerce

[2022-02-07 12:07] solstudioim commented on #31853
As reported here as well: https://wordpress.org/support/topic/retrieve-continent-data-rest-api-endpoint-response-mismatch/?view=all

[2022-02-07 12:07] simkoG commented on #31343
Any update on this bug?

[2022-02-07 13:41] gglobalstep opened #31854 "[GlobalStep] For Atomic Site, "Variation" values overlap with cross button on "Edit Product" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic Site, "Variation" values overlap with cross button on "Edit Product" page.For Atomic Site, "Variation" values overlap with cross button on "Edit Product" page.

### Ex

[2022-02-07 14:03] Grezvany13 opened #31943 "Sortable with hidden columns breaks table layout"
Please note; the code with the issue is in `woocommerce/woocommerce`, but since it's an admin related I post it here.

### Describe the bug
When sorting products (`/wp-admin/edit.php?post_type=product&orderby=menu_order+title&order=ASC`) the table layout will break when there are hidden columns (disabled in 'Screen Options').

### To Reproduce
1. Go to 'Products' in wp-admin
2. Click on 'Sorting'

[2022-02-07 14:33] jarekmorawski commented on #32184
I think it still does. People don't think of the plugins we install during onboarding as separate features—rather features that they can toggle on and off. Having them enabled in the background means less friction in the setup journey.

Out of curiosity, how often does installation or activation fail? What people can do to fix that?

Inbox notes have rather low visibility (and people have lots of

[2022-02-07 14:37] jarekmorawski commented on #32183
I can see 2 ways:

* default to the geolocation and let people fix/update the address later in settings
* if someone skipped the profiler, we'd ask them in a modal like many ecommerce stores do (example below)

![image](https://user-images.githubusercontent.com/79307566/152808607-0978b729-e250-448e-84cc-3716956400e9.png)

I think the two aren't mutually exclusive and could work well together.

[2022-02-07 19:04] alexey4453 commented on #21674
So you neeed to remove this:
[code]
100% worked and testes solution which removes this unwanted piece of code:

[code]

[2022-02-07 20:20] erikyo commented on #29574
@ninetyninew @ethanclevenger91, would you provide a feedback on that way to set the custom props? would this meet your needs? You could give a try editing the css custom props on my blog [here](https://modul-r.codekraft.it/product/logo-collection/) should change dynamically as soon as you insert new values, for example changing --wc--primary-hue: 180
![image](https://user-images.githubusercontent.

[2022-02-07 20:52] Luc45 opened #31856 "Run linting on @woocommerce/api package in CI when it changes"
We should add a GitHub workflow that will run `npm run lint` in the `@woocommerce/api` package whenever files inside `woocommerce/packages/js/api/*` changes, as it helps with reducing code reviews for code style, and minimizes merge conflicts.

On a preliminarly investigation, if we run `woocommerce/packages/js/api && npm run lint` it throws 2k errors, of which 1700 are automatically fixable by ru

[2022-02-07 23:21] billrobbins commented on #25808
Just adding a note that this also affects the REST API response which was brought up in the forums.
https://wordpress.org/support/topic/woocommerce-grouped-product-api-not-get-the-sale_price/

[2022-02-08 03:31] rlightventes commented on #31772
Pls check the issue
Gransgoodness.com/wp-admin
User English
Password ***@***.***

We are not able to recd any email from from woo commerce

Manpreet Singh

*Rlight Ventes*
S 180, Corporate wing
Haware Fantasia
Nr Vashi Station
Vashi
Navi Mumbai 400703
Mobile 📱: +919664499066

On Tue, Feb 8, 2022, 6:06 AM github-actions[bot] ***@***.***>
wrote:

[2022-02-08 06:07] chihsuan commented on #32267
Since this affects the OBW, I think we should fix this soon, though it has been here for a while.

[2022-02-08 06:31] chihsuan commented on #32273
@mattsherman I just moved it to the Mothra backlog.

[2022-02-08 07:15] sanskritkm opened #31858 "[Enhancement]: Multi Vendor build-in"
### Describe the solution you'd like

I saw few tools out there, but why WC does not do build-in multi vendor?

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-02-08 07:38] SirDarcanos commented on #31830
I can confirm the issue.
This is the label I generated on my test site:

![](https://d.pr/i/hSredX+)
**Image Link**: https://d.pr/i/hSredX+

And this is the order:

![](https://d.pr/i/qMivH5+)
**Image Link**: https://d.pr/i/qMivH5+

The main currency is USD, and EUR is a secondary currency.

4748334-zen

[2022-02-08 07:40] magicAUS commented on #14541
I have just started getting this issue on our site all of a sudden. The only thing I can associate it to is it happened the first time a new discount code was issued. And seems to only happen on most orders that have any discount applied since. Creates an order with full price. Then a duplicate order, with new order number with the discount code attached and applied. Running latest WC and WP at ti

[2022-02-08 08:50] leanzafrancesco opened #31859 "Subtotal check uses the wrong subtotal in orders"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When checking for discounts in orders, with pricing inclusing taxes (so, with the option "Prices entered with tax" set to "Yes, I will enter prices inclusive of tax") the "object

[2022-02-08 09:45] carriechan321 commented on #31845
No one can solve this issues?

[2022-02-08 10:19] hsx34001 commented on #14541
@magicAUS we strangely started getting the same issue today. Yet to debug but it sounds identical.

We recently updated our core & all our plug-ins, will be the first place we look.

Let us know if you find the bug on your site.

[2022-02-08 11:05] nicmare commented on #31423
same problem over here :-(
<img width="762" alt="image" src="https://user-images.githubusercontent.com/898582/152974983-c46ba9e1-c470-4ed6-b292-706a00da28a0.png">

[2022-02-08 12:34] Melebius commented on #31852
Today I found the `$report_key` values used in `wc_delete_shop_order_transients()` are relevant to [deprecated WooCommerce Reports](https://woocommerce.com/document/reports/) while new [Analytics](https://woocommerce.com/document/woocommerce-analytics/) seem to haven’t been covered by transient clearing.

[2022-02-08 12:57] vedanshujain opened #31862 "[COT] Enhance sync functions to bulk move data to wc_order custom table"

[2022-02-08 12:58] vedanshujain opened #31863 "[COT] Enhance sync functions to bulk move data to wc_addresses table"

[2022-02-08 12:59] vedanshujain opened #31864 "[COT] Enhance sync functions to bulk move data to wc_order_meta table"

[2022-02-08 13:00] vedanshujain opened #31865 "[COT] Enhance sync functions to move data to wc_order_operational_details table"

[2022-02-08 15:26] pmcpinto commented on #32267
Agreed. I added this issue to the cycle 22 report for scoping and prioritization

[2022-02-08 15:29] Kason7 commented on #25969
Any news with this issue, its been a while since last comment? It is very urgent for my client as current prices are misleading in campaign catalogs.

[2022-02-08 17:12] xristos3490 commented on #31416
Hey @jeffstieler!

When a customer pays for an Order with gift cards, the balance used should be considered a second "payment gateway". With that said, if an Order still has gift card balance captured, it should not be considered fully refunded.

Some more details.

An Order might be paid partially with gift cards balance. This transaction needs a separation between the two payment sources. For ex

[2022-02-08 20:30] tturton-godaddy commented on #31470
Hey folks, I'm looping back to this after spending some time on other projects. Thanks for your raising the WC Home > Reviews section consideration @pmcpinto. I've updated the PRD to account for that user experience to ensure we maintain the same layout/functionality and users are directed to the new Products > Reviews page from the section's "manage" link.

@peterfabian, can you expand on what yo

[2022-02-08 20:52] lanej0 opened #31867 "Deprecation warnings when running e2e test suite"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When running the e2e test suite (locally and in CI), multiple deprecation warnings are being logged to the console:

[code]

Just surfacing this now in case it's a problem down t

[2022-02-09 00:36] #31697 closed, assigned to nobody

[2022-02-09 00:58] 1000camels commented on #32185
I really need help from a developer regarding Analytics. It would seem that parent_id == 0 is hardwired in other places to indicate an order. So for example, "Top Customers - Total Spend" leaderboard is only tallying orders with no parent, which is excluding my orders. I understand the use of parent_id is used only in the case of shop_order_refund by the developers, but it completely prevents any

[2022-02-09 02:12] 1000camels commented on #32185
Someone has told me that Woocommerce Subscriptions also uses post_parent, which means users of that plugin will also experience some of the issues I am experiencing

[2022-02-09 06:28] vaishalijasoliya commented on #28234
@VasilSlavchev Thank you so much, it was fixed,

[2022-02-09 06:36] chihsuan opened #32179 "Investigate next steps for TypeScript migration"
TypeScript support was added to the WooCommerce Admin and WC Calpyso Bridge projects in 2021 and some components were migrated over.

This investigation should survey previous work done migrating to Typescript and make suggestions for next steps.

[2022-02-09 09:20] ovidiul commented on #26539
I've been tracking the issue to this line of [code](https://github.com/woocommerce/woocommerce/blob/f3927c786a62b8bd5ca7ba7c4ef05f2ebdf0b787/plugins/woocommerce/includes/admin/class-wc-admin-attributes.php#L356) where a `get_terms` is made to fetch all terms related to that attribute.

It would be ideal if a filter can be introduced here to disable that call maybe, as the `Configure terms` link al

[2022-02-09 11:32] pmcpinto commented on #32183
Using geolocation or the locale set in WordPress can be too complex. See this [issue](https://github.com/woocommerce/woocommerce/issues/29499) for more details.

I think that using a modal or a setup task (which is less intrusive) is our best shot. cc @verofasulo as you're also exploring the setup flows

[2022-02-09 11:32] iamdharmesh commented on #29445
Hi @roykho @juliaamosova,

Block-based themes(Twenty Twenty-Two - The default bundled theme with WordPress 5.9)  don't trigger the `get_header` action. So, if the payment gateway doesn't clear the cart it will not get cleared. I think this need to be fixed with high priority as a part of compatibility with block-based themes.

Thanks.

[2022-02-09 11:41] jonoalderson commented on #25969
Hello,

I've spent some time looking into this, and it's a tricky problem.

The key challenge here is that Google doesn't support representing multiple products on a single page/URL (nor do others that consume this kind of structured data; i.e, Facebook).

That leaves us with a couple of options:
1. (Mis)represent grouped products as a _single_ `Product`, which has an `aggregateOffer` (i.e., a 'ra

[2022-02-09 12:04] c062785 commented on #25458
Is there anyway to implement this code non-destructively to Woocommerce? This issue is still NOT resolved... I have code snippets plug in... Thank you!

[2022-02-09 12:57] developer-mohamed-saad commented on #11509
Hello

I wanted to let you know also about this plugin i think it can help you doing so

https://wordpress.org/plugins/shipping-manager-for-woocommerce/

Adds custom cities with rates and also it adds WooCommerce shipping zones so easily on [Pro Version]

https://wpsaad.com/shipping-manager-for-woocommerce/

and got so many great features for shipping.

[2022-02-09 13:35] Kason7 commented on #25969
I vote for option 1. But I just found this, maybe its relevant https://schema.org/ProductGroup ?

[2022-02-09 14:29] verofasulo commented on #32183
Thanks for the tag @pmcpinto. I had no idea the percentage of users that skip the store location was so high. I think it makes sense to introduce this point as the first step of the task list so that the user can be addressed to Settings > General.

[2022-02-09 15:24] eCommerceHints commented on #9666
I've written a snippet to show product unit prices on the checkout, thank you page, emails, and order view in my account here: https://www.ecommercehints.com/woocommerce-show-product-unit-price
It utilises hooks so no need to edit the core template files 🙌

[2022-02-09 15:34] pduclo commented on #31367
My "Regenerate the product attributes lookup table" also stopped at "Filling in Progess (1610)".  The button is greyed out and no option to kickstart it.

I have 2400 products. 100s of variations for each product.  Several attributes for each product. Hundreds of values in each attribute.

The attribute lookup table regeneration seemed to be making progress for a few hours then stopped at 1610.

w

[2022-02-09 15:48] PELLACANIS opened #31870 "Issue on product variation in Variable Product"
I found out a problem adding one or more variations to a variable product.

I create variations using 4 different attributes: 2 Color Type, 18 ("" included) colors grouped as "Color 1" and 13 ("" included) colors grouped as "Color 2". One of the Color Type enables user to choose "Color 1" and "Color 2". The other Color Type enables only the choice of "Color 1".

 The issue occurs when i add one co

[2022-02-09 16:32] lil-ly commented on #31618
What happen ? What are the next steps? I'm stuck, can't implement my mk strategy.

[2022-02-09 16:47] rrennick commented on #31867
@lanej0 Thanks for creating the issue. The warning can be silenced, see https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/tests/e2e/config/jest.setup.js#L14. The warning is most likely being generated by WC Admin.

[2022-02-09 16:57] vthamada opened #31871 "Problema na aba de Opções de Tela"
Fui alterar o número de itens por página de 20 para 645 e a página atualizou e não mostrou mais nenhum produto além de estar travada a aba opções de tela, não estou conseguindo alterar nada.

[2022-02-09 17:46] vthamada commented on #31871
alterar*

[2022-02-09 18:34] calvinmorett commented on #30172
Current work around: In file `woocommerce/includes/admin/meta-boxes/views/html-order-items.php` on line 447, delete  `LIMIT 100`

[code]

Result does display a lot of rows, currently in my tax rates I only have around 900.
![results](https://user-images.githubusercontent.com/11654917/153266835-5d2248a0-33f2-447c-a9fb-3dde3343ec3c.gif)

[2022-02-09 18:58] lanej0 commented on #31618
Now that we can reproduce it, it will be picked up by the team and prioritized.  So it's "in the queue" now.

[2022-02-09 19:33] #31764 closed, assigned to nobody

[2022-02-09 19:37] #31758 closed, assigned to nobody

[2022-02-09 20:27] jeffstieler commented on #31597
I tried to handle all uses of `get_post_meta()` and `update_post_meta()` pertaining to Order metadata in https://github.com/woocommerce/woocommerce/pull/31874.

One question I had - is it OK to leave the legacy API classes unchanged? There are still some [post meta uses](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/legacy/api

[2022-02-09 22:31] #31748 closed, assigned to rrennick

[2022-02-09 22:35] #31195 closed, assigned to rodelgc

[2022-02-09 23:29] wplaunchify opened #31876 "Latest commit of Update store setup widget to use task list API #31755 generates fatal error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This update throws a critical error in my multisite setup. See below:
When I go back to previous commit the error is resolved.

Fatal error: Uncaught Error: Call to a member func

[2022-02-10 00:50] galbaras commented on #25458
Please start a new issue with a detailed description of what you're experiencing, because it may be specific and/or different.

[2022-02-10 08:22] hkindy opened #31878 "New release showing prices backwards for right to left language"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Once I updated to the latest release of Woocommerce (6,2,0), my prices are showing backwards because my currency symbol is in Arabic. However, even in Arabic language we don't wr

[2022-02-10 08:46] adam-sandor commented on #26289
Just ran into this today with some confused customers. +1 on fixing this soon

[2022-02-10 09:36] adriandmitroca commented on #27803
[code]

This works only for adding HTML5 attribute to the input, it doesn't add server side validation that still needs to be done manually.

[2022-02-10 09:43] pmcpinto opened #32178 "Add a wc_version prop to all events"
**Description:** as we introduce changes in the product experience it can be difficult to have a clear picture of the impact of our work, as not everyone is using the latest version of WooCommerce.

**Acceptance criteria:**

- [ ] Add a wc_version prop to all the wcadmin_ events, in order to have a clear picture of the WC version being used when the event is fired.

[2022-02-10 09:49] gigitux opened #42654 "`useStoreEvents` hook should not trigger fetch request to `/wc/store/cart`"
## Describe the bug
While I worked on woocommerce/woocommerce-blocks#5729, I discovered that the hook `useStoreEvents` ([code](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/c4a2a29643f9f4f2821e336665899a5d985ed978/assets/js/base/context/hooks/use-store-events.ts/#L20)) invokes the hook `useStoreCart` that does a fetch request to the endpoint `/wc/store/cart`. We should r

[2022-02-10 09:50] rodelgc commented on #31876
Hi @wplaunchify,

Thank you for reporting this issue. However, I cannot reproduce it on my end using WooCommerce `6.2.0` (the latest WC version that contains PR #31755), both on a single site and multisite installation of WP 5.9. I was able to load the WP Admin Dashboard just fine without getting any fatal errors. The dashboard also looks fine when I tried to view it as a user with a non-admin rol

[2022-02-10 09:58] rodelgc commented on #31876
Update: It seems that this can be reproduced when `onboarding` is removed from the `woocommerce_admin_features` filter. We're now able to reproduce it using this snippet:

[code]

I'm transferring this issue to the `woocommerce/woocommerce-admin` repo.

Link to internal discussion: p1644481991624209-slack-C01DT6U03HC

[2022-02-10 10:08] inkfishindia opened #31879 "Woocommerce product import bug"
Hi,
The product import option is not accepting CSV files

[2022-02-10 10:31] Melebius commented on #14889
I find this a valid issue and the code by @claudiosanches (https://github.com/woocommerce/woocommerce/issues/14889#issuecomment-299590725) helps partially. Using it, the Pay button is displayed and you can see the instructions again or choose another payment method. However, the behavior of the `Pay for the order` button is a bit misleading if you keep BACS, for example, selected. It directs you t

[2022-02-10 10:32] mpskovvang commented on #28752
I haven't done extensive tests, but the solution might be only subtracting discount tax when _Coupons discounts_ is disabled.

[code]

https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/shipping/free-shipping/class-wc-shipping-free-shipping.php#L156-L162

[2022-02-10 10:38] Melebius commented on #26502
I have placed the sentence about the payment reference (or [Variable symbol](https://en.wikipedia.org/wiki/Variable_symbol)) at the beginning of my payment instructions and all my customers have understood it well so far. However, I’d prefer to put the desired reference directly to the account details list, too.

[2022-02-10 10:57] Melebius opened #31880 "Payment instructions placement disrupts text flow in on-hold email"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Payment instructions are placed between the sentence _“In the meantime, here’s a reminder of what you ordered:”_ and the actual list of ordered items. I find this text flow broke

[2022-02-10 11:06] vedanshujain commented on #31774
As per this [doc hosted by royalmail](https://www.royalmail.com/sites/default/files/Integrating-your-WooCommerce-store-with-Click-and-Drop-Jan-19.pdf), I assume they are using REST API for integration with WooCommerce.

In that case, this behavior is actually expected, in the API [we send codes for country and state](https://woocommerce.github.io/woocommerce-rest-api-docs/#order-shipping-propertie

[2022-02-10 11:18] richy commented on #31774
Hi, thanks for the responses.

I'll be honest I am a bit lost as I have limited experience of WooCommerce backend, I'm merely using this as a means of iterating the issue we're having and was told to post it here.. so not sure if you need me to try to ask Royal Mail something in particular, but the problem only really seems to relate to certain county/states, not uniform on every order. So 95% of

[2022-02-10 12:28] #31721 closed, assigned to nobody

[2022-02-10 12:32] thisissandip opened #31881 ""woocommerce_tracker_ua" on "wp_options" table is set to autoload"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `woocommerce_tracker_ua` on the `wp_options` table is set to autoload which leads to the option getting bloated.

There is no clean-up routine for this option therefore it in

[2022-02-10 12:34] thisissandip commented on #31881
This was reported here: 4764240-zen for the first time

Discussion: p1644409234495689-slack-C7U3Y3VMY

[2022-02-10 15:08] peterfabian opened #31882 "Error during build if there's a space in path"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When building WC according to [these instructions](https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment#install-dependencies-and-gene

[2022-02-10 18:57] baderdevgit commented on #21239
Hey, I'm pretty much experiencing the same issue @willo-the-wisp, I know its been a while since you've had this issue but how exactly did you 'set the index of the wp_posts table' in phpmyadmin? Do you mean set the next created post ID to that order_id+1?

[2022-02-10 19:54] ObliviousHarmony commented on #31781
Hi @BackuPs,

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: http://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2022-02-10 19:54] #31781 closed

[2022-02-10 19:55] ObliviousHarmony commented on #32186
Hi @rmorse,

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: http://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2022-02-10 19:58] ObliviousHarmony commented on #31791
Hello @rodelgc,

If this checkbox is added by MailChimp, I wonder whether this issue might belong in that repository?

[2022-02-10 20:02] ObliviousHarmony commented on #31817
Hi @BBBSarah,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2022-02-10 20:04] ObliviousHarmony commented on #31818
Hi @carlomanf,

Thank you for reporting the issue. Action Scheduler is being developed in another repository: http://github.com/woocommerce/action-scheduler.

I am going to move your bug report there so that the right team could take a look further.

[2022-02-10 20:04] ObliviousHarmony commented on #31820
Hi @ismailme33,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues la

[2022-02-10 20:09] ObliviousHarmony commented on #31831
Hi @DDev16,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin Xumm for WooCommerce.

Please contact the author of the plugin directly for further help.

[2022-02-10 20:09] #31831 closed, assigned to nobody

[2022-02-10 20:12] MKJJJ commented on #31812
I've just tested it with the latest version. Still the same issue.

[2022-02-10 20:12] ObliviousHarmony commented on #31832
Hi @carasmo,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the WooCommerce Square plugin. To get further technical support for it, please contact WooCommerce support team by [opening a ticket or starting a live chat](https://woocommerce.com/contact-us/).

[2022-02-10 20:12] #31832 closed, assigned to nobody

[2022-02-10 20:15] ObliviousHarmony commented on #31870
Hi @PELLACANIS,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues la

[2022-02-10 20:15] ObliviousHarmony commented on #31871
Hi @vthamada,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2022-02-10 20:16] ObliviousHarmony commented on #31879
Hi @inkfishindia,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2022-02-10 20:33] 79ho3ein commented on #31850
thank you @ObliviousHarmony
I am using the jet woobuilder plugin. In this plugin, it is possible to display recently visited products. But unfortunately there is a problem that I described above. I talked to jet woobuilder developers and they said the problem should be solved by WooCommerce. Because we follow WooCommerce. So I have this request from you. Just remove the cache support for "Recently

[2022-02-10 21:41] #28603 closed

[2022-02-10 21:54] TimBHowe commented on #27673
As mentioned above this issue seems to steam from coupons that have a "usage limit per user" and the general inventory setting of "Hold stock (minutes)".
​https://woocommerce.com/document/configuring-woocommerce-settings/#products-inventory-options
​https://woocommerce.com/document/coupon-management/#usage-limits
​
https://github.com/woocommerce/woocommerce/blob/0a1b850fb35874e2b7dd639377c3ca0e4ba

[2022-02-10 22:28] CrazySquareRoot commented on #21649
Well, I'm not surprised such bugs exists if so called cart items hold objects of product-definition classes. It's insane. These should be completely separate entities, otherwise any customization in cart item done through product object may well result in changed product definitions in case of accidental save of this object (and vice versa - in case of accidental read). This in and out of itself s

[2022-02-11 02:06] darcie opened #31885 "Unchecking Enabled on Variations does not hides the variation if there are 31 variations"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a Variable Product has 30 variations with different attributes, disabling one by unchecking "Enable" for the variation hides it from the product drop-down list.

![Markup 20

[2022-02-11 02:21] octaedro commented on #28603
Hi @pmcpinto, I have a question related to this issue. I assumed we needed to track all gateway settings and the toggling but after chatting with @joshuatf, he pointed out that it wasn't so clear that we should also track every gateway settings. Since it's possible to enable/disable a payment gateway from the specific payment settings page (e.g. bacs) I thought that we would want to also track tho

[2022-02-11 05:45] adrianduffell opened #32177 "Deprecate WC_ADMIN_VERSION_NUMBER"
### Is your feature request related to a problem? Please describe.

With WooCommerce Admin’s upcoming merge in to Core, a version number will no longer be maintained.

I think we should deprecate the constant and bump the version one last time (to 3.3.0). This should ensure backwards compatibility in case third parties are using the version number for dependency checking.

### Describe the solutio

[2022-02-11 06:57] potreb commented on #31050
Hi @rodelgc

I have the same problem.

1. Add to cart 2 items with different tax rates (10, 20)
2. Add fees to Your cart (from
3. Place the Order

When you add a fee with a negative amount, you should see a fee that has tax rates added from all products, instead of just one (standard).

[code]

Result:

![Screenshot 2022-02-11 at 07-53-40 Edytuj zamówienie „Order – 11 lutego, 2022 07 43 AM” ‹ Invo

[2022-02-11 08:29] Konamiman commented on #31367
Hi @zenagency-US and @pduclo, thanks for your report. I'm going to investigate this issue but it would be helpful for me to have some more information. When the table regeneration stalls, if you go to _WooCommerce - Status - Scheduled actions_ do you see entries with hook name `woocommerce_run_product_attribute_lookup_regeneration_callback`? If so, what are the values of the "status" and "log" col

[2022-02-11 09:22] adrianduffell opened #32176 "Migrate Install Routine to Core Install Routine"
### Is your feature request related to a problem? Please describe.

The install routine is triggered from a change in WooCommerce Admin version number, however this is proposed to be deprecated in issue woocommerce/woocommerce#32177, resulting in the version number never changing.

The install routine also has concurrency issues presently, as described in PR https://github.com/woocommerce/woocomme

[2022-02-11 09:38] adrianduffell opened #32175 "Update i18n Text Domain"
### Is your feature request related to a problem? Please describe.

The Woo Admin and JS packages use a text domain of `woocommerce-admin` on i18n strings, and should be changed to `woocommerce` to align with Core.

### Describe the solution you'd like

Perform a global search/replace of `woocommerce-admin` i18n strings and replace with `woocommerce`

### Describe alternatives you've considered
n/

[2022-02-11 09:39] Melebius commented on #31880
I have submitted a pull request with the more thorough solution (option 2).

The option 1 should be simple: change the “Customer Emails“ action from `woocommerce_email_before_order_table` to `woocommerce_email_after_order_table` in the files:

- class-wc-gateway-bacs.php
- class-wc-gateway-cheque.php
- class-wc-gateway-cod.php

[2022-02-11 09:41] adrianduffell opened #32174 "Simplify the init routine"
### Is your feature request related to a problem? Please describe.

With WooCommerce Admin no longer being released as a feature plugin, the init routines of the feature plugin could be removed, along with the de-activation logic when the Core version is not met.

### Describe the solution you'd like

Streamline the code in `woocommerce-admin.php` and `src/Composer/Package.php` into a simplified i

[2022-02-11 09:54] swatipawarGS commented on #31786
Hi @rodelgc ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end for Twenty Twenty-Two theme using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screenshot for reference :

![#31786](https://user-images.githubusercontent.com/94531721/153546360-4b22e250-3509-4eda-9c83-ea6977722b95.jpg)

Priority

[2022-02-11 09:55] swatipawarGS commented on #31797
Hi @dexternew1 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screenshot for reference :

![#31797](https://user-images.githubusercontent.com/94531721/153551321-fe67663d-5405-43f7-95f0-5048e9ed2ca3.jpg)

Priority of this issue will be ass

[2022-02-11 09:57] swatipawarGS commented on #31812
Hi @MKJJJ ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screenshots for reference :

Manual order :
![#31812](https://user-images.githubusercontent.com/94531721/153553681-f52a3502-47fc-439d-a1ee-8a8169a626cc.jpg)

Same order that was s

[2022-02-11 10:02] andfinally opened #32173 "Silently skip invalid specs for inbox notifications"
### Is your feature request related to a problem? Please describe.

Currently, if there's a problem with the spec for a particular Remote Inbox Notification, [DataSourcePoller::validate_spec](https://github.com/woocommerce/woocommerce-admin/blob/main/src/RemoteInboxNotifications/DataSourcePoller.php#L51) throws an error. This causes errors on every store that tries to load the notifications. (In a

[2022-02-11 10:22] zenagency-US commented on #31367
@Konamiman  I do not see woocommerce_run_product_attribute_lookup_regeneration_callback at all when I search the scheduled actions. However, my lookup table is now up to 93000 rows ever since I turned off the redis object cache. So that may be where the issue lies.

[2022-02-11 10:29] eoinkennedy opened #31887 "Rounding of Tax calculations on Shipping costs - multicurrency"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Shipping cost amount is incorrect when using Tax and multi currency.
Using WPML WC Multicurrency, I have an exchange rate of 1 = .04 between two currencies.

Have Tax on Shipping

[2022-02-11 11:11] carriechan321 commented on #31845
Thank you very much :)

[2022-02-11 13:10] jonoalderson commented on #25969
`ProductGroup` is nice conceptually, but has limited support in the real world - it's still in the 'pending'. And whilst Google (and other) validation tools parse it correctly, we're still left with a problem that we're either:
- Trying to list multiple products (the group, and its relationship to the individual products), which Google/FB/etc don't support, or;
- Pretending that the group is a Pro

[2022-02-11 13:13] jalop123j commented on #31881
Same Same issue.

[2022-02-11 14:24] swatipawarGS commented on #31878
Hi @hkindy ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screenshots for reference :

Product created :
![#31878(product)](https://user-images.githubusercontent.com/94531721/153575930-2e86c551-44fd-4801-8690-9d5ea5b0f2ed.jpg)

At front

[2022-02-11 14:25] swatipawarGS commented on #31880
Hi @Melebius ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screenshot for reference :

![#31880](https://user-images.githubusercontent.com/94531721/153560887-6a4c3781-5297-4d0e-b450-b4a050bb49e2.jpg)

Priority of this issue will be assig

[2022-02-11 14:31] webdados commented on #32118
PLEASE!! Do this.

![image](https://user-images.githubusercontent.com/6853605/153609897-5dc00928-cae8-4f31-baaa-7553335f96d1.png)

We could at least have a "last available nightly build". We don't need the list of all available.

[2022-02-11 15:13] TimBHowe commented on #27673
Sorry to comment on a closed issue but this was the first one I found on the issue.

As mentioned in the comment above this is expected behavior https://github.com/woocommerce/woocommerce/issues/27673#issuecomment-745208406

The issue stems from a coupon that is set to have a "usage limit per user"  and the general inventory setting of "Hold stock (minutes)".
https://woocommerce.com/document/confi

[2022-02-11 16:41] #31867 closed, assigned to nobody

[2022-02-11 19:31] AgittHub commented on #26289
![checkout_page_no_details_entered_email_allowed_coupoun_still_honoured-ss](https://user-images.githubusercontent.com/99505882/153657295-bce4350d-9ec5-432f-a210-b3a2e5d7ad43.jpg)
I've just noticed this today also. I have successfully entered the 'allowed emails' discount code at checkout without inputting ANY personal data in the Billing Details fields and the discount has been honoured. See scree

[2022-02-11 20:17] vthamada commented on #31871
Descrição do Bug:
O problema ocorreu quando eu entrei na aba Todos os produtos do Woocommerce, entrei nas opções de tela e mudei o número de produto por página de 20 para 645 que é a quantidade de produtos que eu tenho. Assim ele atualizou a página e ficou toda em branco aparecendo só a aba Opções de Tela e a aba de ajuda, mas ambas com os botões travados, sem conseguir clicar.

Para reproduzir:
1

[2022-02-11 21:13] claudiosanches commented on #31871
Olá @vthamada,

Pelo o que você esta reportando me parece que o servidor esta tendo dificuldades para carregar essa quantidade de produtos que foi configurada, por isso não é exibido nenhum produto, a página inclusive não termina de carregar adequadamente e por este motivo você não consegue mais clicar em "Opções de tela".
Você pode confirmar isso olhando o log de error do servidor, com certeza va

[2022-02-11 21:13] #31871 closed, assigned to nobody

[2022-02-12 08:09] AashikP commented on #31772
Hi @rlightventes ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2022-02-12 08:09] #31772 closed, assigned to nobody

[2022-02-12 08:28] hkindy commented on #31878
Hi,

Thank you for looking into this, here is an example of what I am seeing.
![image](https://user-images.githubusercontent.com/99390544/153703606-cacec8e3-9d46-4d05-8c98-c3bb2f8469ee.png)
![image](https://user-images.githubusercontent.com/99390544/153703718-7cd6b452-c4fa-4f38-a6ab-c82dfb25f25c.png)

[2022-02-12 08:57] AashikP commented on #31742
Hello @kalonya

Thank you for getting back to us with the workaround. I tested this with a Storefront child theme on my local site, and I can confirm that adding `woocommerce-Input` to the template file indeed brings the visibility icon on the checkout page:

![https://d.pr/i/xyURop+](https://d.pr/i/xyURop+)

![https://d.pr/i/lAdNNa+](https://d.pr/i/lAdNNa+)

That said, while I do like the idea of

[2022-02-12 14:45] roxanarewal opened #31891 "WOOCOMMERCE PLUGIN"
Hola,

Quiero saber si estoy en mi ultima version actualizada de Woocommerce. Ya que estoy teniendo problemas de hacker en mi web.

[2022-02-12 17:10] FabrizzioGM opened #31892 "Error in checkout button in the store widget"
Once the order is ready, customers who press "Proceed to check out" in the "cart" page customers get redirected to the home page. And neither can I modify the direction of that button anywhere.

[2022-02-12 20:33] tijosh commented on #30589
4764510-zen

[2022-02-13 10:02] andy-jam commented on #31481
6.1.1 and 6.2 have been released. Is the bug fixed yet?
Cheers,
Andy

[2022-02-13 10:04] andy-jam commented on #31481
Where is this?

"Reported also 33321457-hc"

[2022-02-13 16:54] th3c0r commented on #31870
Hi @PELLACANIS ,
I understand your issue. I noticed the same issue a few months ago when we happened to have more than 30 variations on a variable product. However I think it is not so much a problem, but it is designed that way

The issue is that when we have a variable product with 30 or more variation and all the variation in this product of a specific term of the attribute(e.g. color black) ar

[2022-02-13 18:12] menakas opened #31893 "order_id property for wcadmin_order_edit_add_products is always undefined"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

One of the properties of the event `wcadmin_order_edit_add_products` is `order_id` and its value is always sent as `undefined`. I can see such events in the last 10 days in the t

[2022-02-13 18:12] menakas opened #31972 "order_id property for wcadmin_order_edit_add_products is always undefined"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

One of the properties of the event `wcadmin_order_edit_add_products` is `order_id` and its value is always sent as `undefined`. I can see such events in the last 10 days in the t

[2022-02-13 18:19] PabloRodriguezSierra opened #31894 "Copy button does nothing"
Hello, for some reason, and for months now, after some update maybe, the copy the address button does not work. It does nothing.
Any clues?

[2022-02-13 18:32] th3c0r commented on #31885
I noticed the same issue a few months ago when we happened to have more than 30 variations on a variable product. However I think it is not so much a problem, but it is designed that way

The issue is that when we have a variable product with 30 or more variations and all the variations in this product of a specific term of the attribute(e.g. color black) are not enabled, the term is still showing

[2022-02-13 19:12] carasmo commented on #31832
The plugin is created by [WooCommerc](https://wordpress.org/plugins/woocommerce-square/)e and I reported it on the support forum for the 1 star plugin. They were no help either. It's a VERY SIMPLE fix too.

[2022-02-13 20:06] shafinoid commented on #23802
Hi,
This issue is still available and users are facing problems while calculating their coupon discounts if the product price is inclusive of tax. Is there any solution on that matter as the issue is available even on the WooCommere v3.6.2?

[2022-02-13 22:26] ElGrandeTristan opened #31895 "Put videos instead of product images"
<strong>Here's the background:</strong>

Hello I'm Tristan. I am creating my NFT marketplace.

I'm using Wordpress and the Tatum plugin, which allows you to sell NFT easily. This plugin uses WooCommerce, you have to create a product and qualify it as NFT. During the purchase the product image (featured image) will then be sent in the wallet of the buyer as NFT (a field to register his wallet is ad

[2022-02-14 01:15] adrianduffell commented on #32175
To prevent large amounts of code churn / conflicts, I've blocked this while the internal namespace refactor is underway.

[2022-02-14 01:18] adrianduffell commented on #32174
This is currently blocked as it is dependent on Woo Admin being moved to the monorepo first.

[2022-02-14 02:19] darcie commented on #31885
Thanks, @th3c0r! I see this is also like #29841 and that a change was suggested in #29295. Appreciate your feedback, I missed these without recalling the `woocommerce_ajax_variation_threshold`.

[2022-02-14 09:31] rodelgc commented on #31791
Hi @ObliviousHarmony,

Yep makes sense! Closing this GitHub issue as it's not a WC Core bug. I'll reach out to the MailPoet team instead.

[2022-02-14 09:31] #31791 closed, assigned to nobody

[2022-02-14 14:02] #31596 closed, assigned to Konamiman

[2022-02-14 15:11] seldimi opened #31898 "wc_get_orders() and new database schema"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Since version 6.2, we could add a meta_key on wc_get_orders() or a meta_query with WC_Order_Query.
When using the same query on 6.2, the meta_key is breaking up. The cause is tha

[2022-02-14 15:44] rrennick commented on #31345
@Luc45 I'm going to close this as #31665 has been merged. We should create one or more new issues pending the results of planning for the package.

[2022-02-14 15:44] #31345 closed, assigned to Luc45

[2022-02-14 16:21] gritd commented on #23802
Yes, I'm also pulling my hairs out on this:
Customer is in the EU but I can exclude tax because it is a business. I also add free shipping which saves 9,- for him. I have 9 items with 11,57 price totaling 104.13
This is the result with a 20% discount coupon + free shipping

Items Subtotal:		€104.13
Coupon(s):		- €17.21
Order Total:		€86.92

This then get's replicated on the invoice and the custome

[2022-02-14 21:15] csmcneill commented on #26076
Installing [Disable Real MIME Check](https://wordpress.org/plugins/disable-real-mime-check/) helps resolve this issue, as it was recommended to resolve the issue in 4.7.1.

I had a customer in 34194421-hc with a regular, non-multisite installation that faced a similar issue today. Installing Disable Real MIME Check resolved the issue for them.

[2022-02-15 00:35] #31718 closed, assigned to nobody

[2022-02-15 06:33] becdetat commented on #32241
Hi @jacob-sewell , I see you've assigned yourself to this ticket. Are you still working on it?

[2022-02-15 10:58] #31612 closed, assigned to vedanshujain

[2022-02-15 11:02] pmcpinto commented on #28603
@octaedro it would be better to track every change to the gateways settings. Let me know if this has a significant impact in the effort

[2022-02-15 12:06] ghost opened #31899 "received an order when no published products in woocommerce shop"
hi there!
On my website sonnynieuwenhuizen.com i received an order #1762 when technically that would not be possible, as only now i am setting up a paypal button and all my digital downloads are for free. Could you please check if site is safe from attacks on my shop, any payment threat etc. thank you
![E632F734-4ABC-4112-AB37-A9486F1CD030](https://user-images.githubusercontent.com/99731811/154058

[2022-02-15 12:24] accountsatelpengineering opened #31900 "MPN, GTIN and Brand included in Woocommerce out of the box[Enhancement]:"
### Describe the solution you'd like

Please include the fields MPN, GTIN and Brand into Woocommerce and allow a product search to find them.

Google feed mandatory requires the aforementioned the MPN or GTIN and BRAND sent in the product feed.

Customers need to search on my website for the MPN to find replacement products.

### Describe alternatives you've considered

I have had to comprimise an

[2022-02-15 14:55] octaedro commented on #28603
Thank you @pmcpinto, I'm going to add that change in a follow-up PR. I have a couple of commits ready for that.

[2022-02-15 15:33] mouadh-dev opened #31901 "icons appear in dashboard but it deosn't in frontend"
![image](https://user-images.githubusercontent.com/62395675/154094593-85e967a6-cf62-40b5-8b1b-35777e042f16.png)
it appear as exclamation mark inside square

[2022-02-15 16:11] pauljacobson opened #32172 "Analytics: Add an option to report on payment methods used for orders"
### Is your feature request related to a problem? Please describe.

We have received requests from merchants for an option to generate reports in WooCommerce Analytics that include details of payment methods used for orders.

### Describe the solution you'd like

Add an option to generate a payment method report, perhaps integrated into the existing [Orders Report](https://woocommerce.com/document

[2022-02-15 16:56] octaedro commented on #28603
Hey @pmcpinto ,

I wanted to confirm with you what and how we will track the gateways settings changes.
Right now I can see two different options to track the gateway settings:

**Option 1**
Record the gateway name (e.g. `woocommerce_bacs_settings`), tab name, with the addition of the section name. If we add the section name that means that there is a change inside of a specific payment setting, o

[2022-02-15 18:26] jacob-sewell commented on #32241
I am, @becdetat, though I have intentionally let it fallow for a bit, and probably shouldn't have left it in the In Progress pipeline for the past week.

[2022-02-15 18:33] pmcpinto commented on #28603
@octaedro  Option 1 seems to be the best approach. It's in line with what we already do in other settings sections, where we record the tab and the setting.

[2022-02-15 19:53] atakanuludag commented on #31851
@woocommercebot when will it be resolved?

[2022-02-15 21:52] nikkipuzio opened #31903 "Canada Shipping Rates Calculating Incorrectly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When shipping to Canada, each product is shipped separately, so the shipping cost multiplies.

### Expected behavior

Multiple items can be purchased and shipped in one box. Ship

[2022-02-15 22:50] barryhughes commented on #31343
Hi @simkoG,

This seems like a possible bug in the Emogrifier library, which we use to inline CSS rules within emails.

As it happens, we are planning to update Emogrifier sometime soon (see #30027) and, based on a quick test using the new `CssInliner` from Emogrifier 6.0, it looks like that may resolve this problem.

Marking this as a bug and will keep it open for the time being, but once that ot

[2022-02-15 23:23] barryhughes commented on #31097
Hi @JakeQZ,

To achieve the behavior you are seeking, I think the best course of action is to explicitly call `wc_reset_loop()` once your custom loop has ended.

Making that happen automatically when `woocommerce_product_loop_end()` is called would cause problems unless it was accompanied by restructuring of some of our existing templates—it would also be a backwards incompatible change that could

[2022-02-15 23:23] #31097 closed, assigned to nobody

[2022-02-16 02:45] becdetat commented on #32241
That's ok :-) sometimes it's ok to have something on the backburner. I just occasionally check on the status of various tickets so I know how we're travelling overall.

[2022-02-16 05:55] Dekadinious commented on #30020
We're at 6.2.0 and this has still not been fixed in the documentation, and issues like #15341 are still closed with the last comment being that this is a positive number from 3.0 onwards. It's only a few words to be changed, how can this take so long? It would help developers avoid rabbit holes like this.

[2022-02-16 13:24] spacingcakelol opened #31904 "I cant change shipping zone to Germany"
Hi, so I want to add a new zone but I can only see the 2 ones I already added a time ago.

![Screenshot_40](https://user-images.githubusercontent.com/68335536/154273679-95c1fa0a-3dc9-4c80-8845-cfeb5895db05.png)

[2022-02-16 18:56] dkoerner85 opened #31905 "WC_Customer's is_vat_exempt is not updated when a VAT number is set"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I use WooCommerce and WooCommerce EU VAT to handle VAT numbers in the EU. The latter plugin allows customers to enter a VAT number in their account settings. A customer whose bil

[2022-02-16 19:21] louwie17 commented on #32185
Hi @1000camels I did just check with WooCommerce subscriptions and the Split orders plugin that make use of `post_parent` column. This does not seem to affect our analytics, it was still being displayed correctly and showing each separate subscription renewal or split order as a separate order.
I did notice that in our `wc_order_stats` table `parent_id` would still remain listed as `0` and is not

[2022-02-16 20:47] #31833 closed, assigned to MrJnrman

[2022-02-16 20:50] MrJnrman opened #31907 "resolveSingleE2EPath breaks when used in GitHub CI for package users"

[2022-02-16 21:03] MrJnrman commented on #31907
When a GitHub workflow is kicked off, it creates a directory that matches the repository name and if that workflow checks out the repository to do some work, it will clone the repo inside that directory with the same name. So we would end up with `woocommerce/woocommerce` for example.

[resolveE2ESingleE2EPath](https://github.com/woocommerce/woocommerce/blob/f3927c786a62b8bd5ca7ba7c4ef05f2ebdf0b78

[2022-02-16 21:56] frosso opened #42653 "Add ability to programmatically replace inner blocks"
## Is your feature request related to a problem? Please describe.
For the Woo Platform Checkout, we need the ability to replace sections of the checkout with our custom ones.

For example, the address section needs to be replaced with our custom one.

See internal communication: p1636055148212100-slack-C8X6Q7XQU

It looks like there's a POC that would allow to replace an individual step, but I cou

[2022-02-16 23:35] #31413 closed, assigned to nobody

[2022-02-17 07:25] wpmarmite opened #31910 "wc_get_checkout_url() is not working all the time"
Hello,

As a french WooCommerce user, I didn't understand why this function wasn't working. While browsing the code, I noticed that it was checking the page with the `checkout` slug. However, it's not the same slug in french and in other languages.

Why not checking the Advanced setting page where the checkout page is defined?

Here's the code for reference:

[code]
https://github.com/woocommerce/

[2022-02-17 13:57] FeelPeak opened #31912 "[Enhancement]: Set the global $product variable during the checkout loop"
### Describe the solution you'd like

During the checkout loop, filters for custom product types are sometimes unable to access the product ID being looped over due to the lack of a globally accessible variable. Neither `get_post_ID` nor `get_queried_post_id` nor `wc_get_product()` nor `global $product` contain the product ID being looped over, thus giving the filter function no way to access that

[2022-02-17 15:03] 79ho3ein opened #31914 "The postcode field on the checkout page only accepts Latin numerals."
### Describe the solution you'd like

As mentioned in the title, the postcode field on the checkout page only accepts Latin numerals. Please fix this.
I enter Persian numbers for the postal code but it is not accepted.

thank you

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-02-17 16:31] helgatheviking opened #31916 "[Enhancement]: Button to delete ALL logs"
### Describe the solution you'd like

Could we introduce some kind of button/action that will clear all the logs at once?
![image](https://user-images.githubusercontent.com/507025/154526276-918ffa5d-192c-45c5-b1ef-b689ebc796e4.png)

### Describe alternatives you've considered

Currently the way to delete logs is to delete them one at a time, which can be quite slow if you have collected a lot of l

[2022-02-17 16:36] dougtracey commented on #16552
Just to give this another push as I agree with what @lkol  has said, the import tool is very misleading as suggests that you will import all mapped product IDs as per the preview data).

I'm finding the same issue when I try to import an existing website which has about 160 variable products (800+ variations) and all historical orders (over 9,000 orders - yes the DB is over 5GB!!) into a new WooCo

[2022-02-17 17:30] #28086 closed

[2022-02-17 17:35] ObliviousHarmony commented on #31491
Hello @user8342912,

This is how variations are intended to work. Each of the variations is a distinct product that is named after the options that it selects. When there are "any" options present, it doesn't do this, hence the difference.

[2022-02-17 17:35] #31491 closed, assigned to nobody

[2022-02-17 17:38] #31493 closed, assigned to nobody

[2022-02-17 17:38] #31534 closed, assigned to nobody

[2022-02-17 17:39] #31535 closed, assigned to nobody

[2022-02-17 17:43] #31659 closed, assigned to nobody

[2022-02-17 17:44] #31730 closed, assigned to nobody

[2022-02-17 17:44] #31750 closed, assigned to nobody

[2022-02-17 17:49] ObliviousHarmony commented on #31878
Hi @hkindy,

Does the price display correctly on the order page in the backend?

[2022-02-17 17:51] #23916 closed

[2022-02-17 18:09] hakikz opened #31918 "[Enhancement]: Pass a class for <tr valign="top"> using woocommerce_admin_fields() settings array"
### Describe the solution you'd like

Sometimes we add some extra settings _(to create WooCommerce base extension)_ and insert them into the tab of the WooCommerce settings. So, a wrapper class for **tr tag** would be great to create a dependent field. For example- selecting a value from the dropdown will hide a checkbox **tr tag**

**We can pass an array like this-**

[code]
**For example:**
_In

[2022-02-17 18:21] strarsis commented on #42661
+1, also a very large image size is used as background image, it takes a long time to load.
Couldn't you extend the `core/cover` block for this? It now uses a separate `<img` element that can use `srcset`.

[2022-02-17 18:29] jonathansadowski commented on #31887
Hi @eoinkennedy,

Thanks for the report. It looks like the report you made above involves some combination of WPML and WooCommerce. Does the issue still occur with WooCommerce alone? If it does, could you please update the issue with steps to reproduce the issue that don't involve WPML and reply here so that we can continue further?

[2022-02-17 18:45] eoinkennedy commented on #31887
Hi,

The issue relates to rounding when doing currency conversion, so it's impossible to reproduce this issue without using WPLM or any other currency switcher plugin.
I have previously removed multi currency from WPML/WC, and used other currency switcher plugins, and all give the same results. Rounding on Tax, when applied to shipping charges, are incorrect.

Eoin

[2022-02-17 19:50] kalonya opened #31920 "Filter by Attribute widget logical error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

According to the official WooCommerce documentation, I should be able to make multiple selections with the query type "AND" while using the Filter Products by Attribute widget.

[2022-02-17 20:56] #31891 closed, assigned to nobody

[2022-02-17 21:01] jonathansadowski commented on #31892
Hi @FabrizzioGM,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please fill out [this form](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=1-bug-report.yml) and create a new issue so that we can further evaluate. I am closing this

[2022-02-17 21:01] #31892 closed, assigned to nobody

[2022-02-17 21:03] jonathansadowski commented on #31894
Hi @PabloRodriguezSierra,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please fill out [this form](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=1-bug-report.yml) and create a new issue so that we can further evaluate. I am clos

[2022-02-17 21:03] #31894 closed, assigned to nobody

[2022-02-17 21:05] #31895 closed, assigned to nobody

[2022-02-17 21:06] #31899 closed, assigned to nobody

[2022-02-17 21:06] jonathansadowski commented on #31901
Hi @mouadh-dev,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please fill out [this form](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=1-bug-report.yml) and create a new issue so that we can further evaluate. I am closing this i

[2022-02-17 21:06] #31901 closed, assigned to nobody

[2022-02-17 21:08] jonathansadowski commented on #31904
Hi @spacingcakelol,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please fill out [this form](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=1-bug-report.yml) and create a new issue so that we can further evaluate. I am closing th

[2022-02-17 21:08] #31904 closed, assigned to nobody

[2022-02-17 21:09] #31903 closed, assigned to nobody

[2022-02-17 21:10] nikkipuzio commented on #31903
Got it! Product variation dimensions were incorrect, product dimensions were correct.

[2022-02-17 21:12] jonathansadowski commented on #31910
Hello @wpmarmite,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please fill out [this form](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=1-bug-report.yml) and create a new issue so that we can further evaluate. I am closing this

[2022-02-17 21:12] #31910 closed, assigned to nobody

[2022-02-17 21:28] jonathansadowski commented on #31735
Hi @SaifAlSubhi,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please fill out [this form](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=1-bug-report.yml) and create a new issue so that we can further evaluate. I am closing this

[2022-02-17 21:28] #31735 closed, assigned to nobody

[2022-02-18 01:19] BBBSarah commented on #31817
Hi, I’m sorry but can you please send me what I had originally sent you as the problem so I can make sure I’m notating the correct things?
Thank you.

Sarah Henkoski
Customer Service + Owner
Baby Birth and Beyond
P.O. Box 702
Coeur d’Alene, ID 83816
www.birthsupplies.com<http://www.birthsupplies.com/>
Ph: 208-660-0712

On Feb 17, 2022, at 4:36 PM, github-actions[bot] ***@***.***> wrote:

﻿

As a p

[2022-02-18 06:40] someka commented on #30893
Hi guys. I am following this thread since a few months and I am curious if there is any script, code (css rule, php function whatever..) that we can apply to our own site and get this LCP-CLS issues improved a bit? I see a commit is linked but, as a non-developer website owner, I can't understand easily what to do with it. Sorry for the noob question.

[2022-02-18 09:10] erikyo commented on #30893
hi @someka could you give a try at this branch?
https://github.com/woocommerce/woocommerce/compare/trunk...Mte90:flexslider-custom-nav-no-template

This should solve completely the issue with the CLS because the nav was generated with the page template and you don't need to wait for js and flexslider to be loaded before get nav the slideshow nav

In addition will fix some broken thing like vertica

[2022-02-18 09:31] suthwin opened #31922 "Woocommerce login page issue"
HI Dear ,

We use woocommerce . We use account page using short code [woocommerce_my_account] .
Our issue didn't show the error message box when we put wrong password or wrong email.
Normally woocommerce login setting show the error message box.
But now our website didn't show message box.
Please kindly provide the instruction to us.

Best Regards,
Su

[2022-02-18 11:05] swatipawarGS commented on #31920
Hi @kalonya,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/154641268-18a6d5af-9770-4d9e-b4d9-f889000da0f0.mp4

Priority of this issue will be assigned shortly a

[2022-02-18 11:07] swatipawarGS commented on #32217
Hi @rodelgc,

We are able to reproduce the issue on our end using WooCommerce Smooth Generator plugin, WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screenshots for reference :

On dashboard:
![#31293(home page)](https://user-images.githubusercontent.com/94531721/154671243-76f33269-1b6a-4f7f-983e-8bfd978127a1.jpg)

On order details:
![#31293(Order details)](https://user-i

[2022-02-18 11:27] seojournal opened #31923 "Fatal error after coupon is deleted"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

thrown in /srv/htdocs/wp-content/plugins/woocommerce/includes/data-stores/class-wc-coupon-data-store-cpt.php on line 118

### Expected behavior

Chckout page should reload withou

[2022-02-18 12:54] alex254 opened #31924 "REST ProductImage Position is missing/null (impossible to know main or featured image)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

See https://woocommerce.github.io/woocommerce-rest-api-docs/#product-properties and then Product Image properties.
There is no property for image position returned on the rest ap

[2022-02-18 16:00] webmandesign opened #31928 "Breaking styles of font size selector items"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Due to [recommendation at `woocommerce-gutenberg-products-block` repo issue](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5880#issuecomment-10446343

[2022-02-18 18:22] barryhughes commented on #28195
As you can tell given the delay since the last update here ... we do have a bit of a backlog, unfortunately.

That said, we're working towards this and other community PRs as best we can. I'll try to prioritize review of the linked PR, but bearing in mind the issue is overall assessed as low priority I hope you understand we can't offer any guarantees.

[2022-02-18 18:33] barryhughes commented on #28540
It does seem reasonable to accommodate this; but I think it may be preferable to simply add a suitable class to the `#rating` select (which we could reference from the JS you linked to): that would provide a clean, backwards-compatible means of supporting this.

[2022-02-18 18:37] barryhughes commented on #28583
Note that in resolving this, we should be sensitive to how the datepicker library expects the date to be formatted (and, likely there is a path to providing it with the data it needs while presenting the date to humans in the expected format).

Switching to the WordPress date format seems like a reasonable first step, and we can perhaps hold on adding filters on top of that unless there is a clear

[2022-02-18 18:39] barryhughes commented on #28722
We should certainly take steps to address this. Let's still keep #30915 open, but likely we can resolve both as part of the same overall effort. Marking high priority given the number of voices across both reports.

[2022-02-18 18:43] barryhughes commented on #28761
We'll go ahead and close, but let us know if you disagree.

As a possible alternative, note that it may be possible to hook into the `wp` action (which is how the `WC_Form_Handler::pay_action()` itself is invoked), detect that a zero-dollar order is being processed, and then run code equivalent to that which lives within the inner `else {}` clause you were trying to target.

[2022-02-18 18:43] #28761 closed

[2022-02-18 20:35] ObliviousHarmony opened #31932 "Test Issue"
Test

[2022-02-18 20:36] #31932 closed, assigned to nobody

[2022-02-18 20:42] ObliviousHarmony opened #31933 "Test Issue"
Test Issue

[2022-02-18 20:42] #31933 closed, assigned to nobody

[2022-02-18 20:43] ObliviousHarmony opened #31934 "Test Issue"
Test Issue

[2022-02-18 20:47] #31934 closed, assigned to nobody

[2022-02-18 20:48] ObliviousHarmony opened #31936 "Test Issue"
This should not label it.

[2022-02-18 20:51] #31936 closed, assigned to nobody

[2022-02-18 22:55] zarrefmkt opened #31938 "checkout error in phone field"
The checkout phone field is not accepting 9 digits and gives an error.

[2022-02-19 08:11] Melebius commented on #31880
Another proposed solution is being discussed on the [pull request’s page](https://github.com/woocommerce/woocommerce/pull/31886#pullrequestreview-887426263).

[2022-02-19 08:48] mitesh71 commented on #14512
![image](https://user-images.githubusercontent.com/78128478/154793827-036d4d4e-f854-4e41-a909-ddf023def0b9.png)

variations on loading on woocommerce

[2022-02-19 11:21] nicmare commented on #31423
fyi i bypassed the problem by merging all pages into one. google is fine with it.

[code]

[2022-02-19 23:52] 1stwebdesigns commented on #21988
@the-alex-mark @jpedrosas2 the problem is, whilst this removes the cart notice from the cart page, the notice then appears on the next page that you view (for example a product category).  To make matters worse, if you update or delete say 10 items in your cart, when you go to the product category page you will then see 10 cart notice messages stacked up.

[2022-02-20 07:57] hkindy commented on #31878
Hi, I found that this happens only when the numerical value exceeds 1000.

Here is the screen capture from the order page.
![image](https://user-images.githubusercontent.com/99390544/154833760-f50b1258-40b3-4f0f-99fa-28e984e473f2.png)

[2022-02-20 08:06] Lexan1911 opened #31939 "Sing up in the game"
When I try to log in to the game it tells me that my password is wrong, but when I log in to chromiecraft I type the exact same password and log in normally HELP

[2022-02-20 08:10] Lexan1911 commented on #31922
the same happens to me

[2022-02-20 12:49] simplysaru commented on #31664
Can confirm this still reproducible in 6.2.0

[2022-02-20 12:53] simplysaru commented on #31637
Can still reproduce this in 6.2.0.

[2022-02-20 13:10] simplysaru commented on #31526
Hi @agendartobias  and @swatipawarGS

This doesn't seem like a bug but a feature. I am testing this on WooCommerce 6.2.0.

![](https://d.pr/sDr8uj+)

If you notice, option 1 .ie Allow but notify customers displays the message `Available on backorder` [on the front end](https://d.pr/i/Ul94Lj) and option 2 i.e Allow displays nothing on the frontend.

Since there exists an option to display the backo

[2022-02-20 18:08] lartisane-cie opened #31942 "Fatal error With WooCommerce"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
My website is broken due to the WooCommerce extension
https://as

[2022-02-21 05:46] rjchow commented on #32186
Hi @rmorse, thank you for reporting this issue! We certainly appreciate such reports as it helps us to maintain a high level of consistency and polish in our UI.

I can confirm that this is an issue, and will assign a priority for it.

For team reference it looks like a `<MenuItem>` is supposed to wrap the `<SelectControl>` at https://github.com/woocommerce/woocommerce-admin/blob/7ee23b3ee6d3409b1

[2022-02-21 05:56] rjchow commented on #31943
Hi @Grezvany13,

Thank you for reporting the issue. As you noted, the code for this resides in [woocommerce/woocommerce](https://github.com/woocommerce/woocommerce). This repository (woocommerce-admin) deals with the specific feature plugin named '[WooCommerce Admin](https://wordpress.org/plugins/woocommerce-admin/)'.

I am going to move your bug report there so that the right team could take a lo

[2022-02-21 06:01] rjchow commented on #32173
Fixed P2 link: p6JqRr-5s0-p2
(Above link doesn't match the format picked up by the userscript)

[2022-02-21 07:18] kmorte opened #31944 "date_created & date_modified for products/categories too."
Hi everybody,

I just notice that when I perform a get to the products/categories model, the items received do not have date_created & date_modified and I don't quite understant why.

I would be great to have those parameters as in products or orders.

The logics I'm implementing in my application are quite the same for categories too, since a user may want to manage product categories on woocomme

[2022-02-21 07:30] raifd opened #31945 "[Enhancement]: Estimated Delivery Dates for Japan eCommerce Shops"
### Describe the solution you'd like

Looks like there will be some legislation changes for eCommerce shops in Japan starting from June 2022 that will require all shops to display the _estimated delivery time_ on the checkout page.

Here is a link to an article describing the new requirements: https://eczine.jp/article/detail/11020

### Describe alternatives you've considered

_No response_

### A

[2022-02-21 09:19] bobbingwide opened #31946 "Typo in function short description: `inplugins active` should be `plugins inactive`"
https://github.com/woocommerce/woocommerce/blob/acb288ceb5eabdea7a15ad2418c06f1d846fbcf4/plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-v2-controller.php#L906

[2022-02-21 10:26] skullo27 commented on #31881
We are seeing this issue too and ours is quite large. It is by far the largest option in the wp_options table. We have 137702 total!

[2022-02-21 13:20] kanlukasz opened #31947 "Fatal error when saving a bulk edit when set `Set to regular price decreased by (fixed amount or %):` as empty"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Fatal error occurs when saving bulk edition after setting `Set to regular price decreased by (fixed amount or %):` as empty

`PHP Fatal error:  Uncaught TypeError: Unsupported op

[2022-02-21 13:36] ralucaStan opened #42652 "Update the context values passed to JS checkout filters to match the parent block's name"
## Describe the bug

We [pass to filters](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/1db29ebd2d5cf541b547af5c60b6a00cc51bdb52/packages/checkout/filter-registry/README.md#filters-object) a context value, with the value equal to `cart` or `checkout`
[code]

With woocommerce/woocommerce-blocks#5885 we decided that the context value for Slots should be equal to the parent

[2022-02-21 13:51] gglobalstep opened #31948 "[GlobalStep] Setting "Custom product attribute" name to "Rating" and entering the "Value(s)" as "High and Low" drop down options fails to display on frontend."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Setting attributes "Custom product attribute" name to "Rating" and entering the "Value(s)" as "High and Low" drop down options fails to display on frontend.

### Expected behavio

[2022-02-21 14:59] JPKCom commented on #31812
Hello everyone, the problem can be replicated more accurately in a slightly simpler way and still remains the same.

In fact, I have the same problem in another store and at first I assumed it was due to one of the other plugins. However, I was able to verify that if all other plugins except WooCommerce were disabled, the problem still exists.

Therefore, I have now built a test scenario using Doc

[2022-02-21 15:19] #31526 closed, assigned to nobody

[2022-02-21 15:42] creationell commented on #31812
I can confirm this bug occurs in the current version of WC as described by @JPKCom

We experienced the issue in a production store as well as with a minimal setup (just WordPress + WooCommerce).

[2022-02-21 16:02] jonathansadowski commented on #31922
Hi @suthwin,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2022-02-21 16:20] hkindy commented on #31878
Hi,

Removed the thousandths separator completely and left it is now displaying the numbers correctly, but because there is no thousands separator the figures are harder to read. I also confirmed that this affects all places that show the currency including all plug-ins

[2022-02-21 17:15] jonathansadowski commented on #31817
Hi @BBBSarah,

The original issue you filed can be found [here](https://github.com/woocommerce/woocommerce/issues/31817).

I am going to close the issue, as it doesn't follow our reporting template. If you still are experiencing the issue, please open a [new bug report](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=1-bug-report.yml), and complete all the fields

[2022-02-21 17:15] #31817 closed, assigned to nobody

[2022-02-21 17:18] jonathansadowski commented on #31972
Thanks for the report @menakas!

I'm transferring this issue over to the WooCommerce-Admin repository, as it looks like the issue that you're reporting involves that feature plugin.

[2022-02-21 17:23] jonathansadowski commented on #31938
Hi @zarrefmkt ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues la

[2022-02-21 17:24] jonathansadowski commented on #31939
Hi @Lexan1911,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2022-02-21 17:30] jonathansadowski commented on #31942
Hi @cielartisan,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

It sounds like you are unable to access the system status report because of the fatal error. It would be helpful if, in

[2022-02-21 17:31] jonathansadowski commented on #31944
Hi @kmorte,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lackin

[2022-02-21 18:03] webmandesign commented on #31928
Hi. As far as I can see I am using the most recent version of WC 6.2.0.

I went ahead and downloaded Nightly release (which displays version 6.4.0-dev) from https://github.com/woocommerce/woocommerce/releases and I can confirm the issue is still present. (FYI, the file version is `wc-blocks-vendors-style.css?ver=6.9.0` now).

[2022-02-21 18:25] jonathansadowski commented on #31878
Hi @hkindy,

We're unable to reproduce this issue. I understand that you aren't able to deactivate the currency plugins on your production site. Is there any way you'd be able to reproduce the issue on a staging site, or a copy of your site that isn't active, and then disable plugins to be sure that the issue still exists?

[2022-02-21 20:04] devanrome1 commented on #27686
Seeing this issue again for the first time in a long time. Updated to WooCommerce 6.2.0 recently and am currently running that.

[2022-02-21 20:07] shashwatahalder01 opened #31950 "[Product Search]: Inaccurate search result is displayed for search by product name."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

 Inaccurate search result is displayed for search by product name. It looks like results are showing considering product types like simple/ variable.

Screenshot:
https://prnt.sc

[2022-02-22 02:55] melek opened #31955 "Single product gallery repetitive for screen readers."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Right now, the single product image gallery is spoken before the product title, price, and product data on the Single Product Page when using a screen reader:

* It is inconvenie

[2022-02-22 05:15] ilyasfoo opened #32171 "Manually disabled ExPlat experiments doesn't stop users from getting treatment"
### Describe the bug
It seems that a user may be able to get treatment experience on an experiment that's prematurely disabled. We suspect it to be related to cache/TTL. The bug identified was using [PHP ExPlat integration](https://github.com/woocommerce/woocommerce-admin/blob/release/3.2.0-rc.1/src/Features/WcPayWelcomePage.php), but it's worth checking both PHP and JS implementation.

User first

[2022-02-22 07:39] shankeyb opened #32170 "Deduct "Specific Status" Orders Amount From Woocommerce Analytics and Show that Amount on Woocommerce Overview and Revenue Section"
### Is your feature request related to a problem? Please describe.

I want to Deduct Specific Status Orders From Woocommerce Analytics because We receive several **“product returns”** from logistic company and based on that i have created a custom **"RTO"** order status. **The thing is i want to deduct orders of "RTO" status on WooCommerce analytics report in a form of (Total/Gross sales - Returns

[2022-02-22 09:11] yobotn commented on #27295
I have the same problem with wordpress 5.9 and woocommerce 6.2.0.

maybe if we can add the sku as a unique field in the mysql database can resolve the problem?

[2022-02-22 11:14] appschris opened #32169 "Woocommerce analytics query filter is not working for a report export / download"
### Describe the bug
To manipulate the WooCommerce analytics reports we use the `woocommerce_analytics_clauses_where` filter.
This works great for all statistics (revenue, orders, etc.). The direct download of an revenue export also works.
As soon as the export is created in a queue and sent by email (e.g. an export of revenue from the previous month), the `woocommerce_analytics_clauses_where` fil

[2022-02-22 11:52] tedc opened #31956 "Products disappeared in Shop Page"
Periodically, my WooCommerce Shop/Products page lose all the products listed. Seems that the query loop starts to behave like a simple page query (it shows only a product named "Prodotti", like the title of the Woocommerce Shop Page).
This could happen in any moment during the day or the week and I don't know how to fix it.
Any ideas?
Thanks

[2022-02-22 12:34] opr commented on #42652
We need to ensure that any changes we make to this don't break third party integrations that could be using the old names.

[2022-02-22 12:58] swatipawarGS commented on #31947
Hi @kanlukasz,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/155078594-efc3db7a-c011-4517-b751-44f6ce35ead4.mp4

Please provide us more detailed and any addit

[2022-02-22 12:58] pmcpinto commented on #32205
@ilyasfoo @moon0326 is it possible to double-check if this fix is working fine? I'm checking the data and the total number of unique clicks remained almost the same after this fix was released, and it's still way below the numbers we were getting before the bug. On the other hand, the total number of counts clicks has increased and it's around the same level we were betting before the bug, which i

[2022-02-22 13:00] swatipawarGS commented on #31928
Hi @webmandesign,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screenshot for reference :

![#31928](https://user-images.githubusercontent.com/94531721/155137385-d8d0c502-8bad-40f3-a0ef-fd1c31d1fdcd.jpg)

Priority of this issue will be as

[2022-02-22 13:02] swatipawarGS commented on #31923
Hi @vahandev,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/155097196-ea5e8b0b-1c39-4e94-a7dc-258ef8ed9f52.mp4

Please provide us more detailed and any additi

[2022-02-22 13:03] swatipawarGS commented on #31943
Hi @Grezvany13,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/155101112-a0ec9f8f-4e17-4f8d-b3b9-1c16044140f0.mp4

Please provide us more detailed and any addi

[2022-02-22 13:23] leonp82 opened #31957 "Options in rest api , webhooks diassapeared !!"
Hello to all, i tried before a while to create an api key for my store but i see no options when i press 'add key'. The same happens with webhooks.
I attach some printscreens from my installation and my system status.
I noticed that there is a css class ".settings-panel" with a display property set to 'none' if that is useful. When unclicked, settings are appearing.

![error1](https://user-images.

[2022-02-22 13:39] ArvindhMangoleap commented on #8898
Hello @claudiosanches I am facing this issue.
Here is my URL
`https://wooshop.gallabox.dev/wc-auth/v1/authorize?app_name=Gallabox&scope=read_write&user_id=eyJhY2NvdW50SWQiOiI2MDA2YjQxZGJlMGQyZTc1Mjg5YTI4Y2EiLCJ1c2VySWQiOiI2MDA2YjY3M2JlMGQyZTc1Mjg5YTI4Y2QiLCJwcm92aWRlcklkIjoiNjIxNGQ2NzNjMDVjYjZiY2EzMDRjMzc3Iiwic2hvcCI6Imh0dHBzOi8vd29vc2hvcC5nYWxsYWJveC5kZXYifQ%3D%3D&return_url=https%3A%2F%2Fapp.gal

[2022-02-22 13:40] ArvindhMangoleap opened #31959 "OAuth: /wc-auth/v1/authorize returns 'A valid URL was not provided'"
Here is my URL
`https://wooshop.gallabox.dev/wc-auth/v1/authorize?app_name=Gallabox&scope=read_write&user_id=eyJhY2NvdW50SWQiOiI2MDA2YjQxZGJlMGQyZTc1Mjg5YTI4Y2EiLCJ1c2VySWQiOiI2MDA2YjY3M2JlMGQyZTc1Mjg5YTI4Y2QiLCJwcm92aWRlcklkIjoiNjIxNGQ2NzNjMDVjYjZiY2EzMDRjMzc3Iiwic2hvcCI6Imh0dHBzOi8vd29vc2hvcC5nYWxsYWJveC5kZXYifQ%3D%3D&return_url=https%3A%2F%2Fapp.gallabox.dev%2Fintegration%2Fwoocommerce&callback

[2022-02-22 13:46] ArvindhMangoleap commented on #31959
Request Payload
![image](https://user-images.githubusercontent.com/72745366/155144611-987fe0e4-aa32-4b05-9d84-f4f02d92d662.png)

Response from WooCommerce
![image](https://user-images.githubusercontent.com/72745366/155144792-6cefc75d-a208-4c70-93e1-917733883ccc.png)

[2022-02-22 13:53] kanlukasz commented on #31947
@swatipawarGS what version of PHP are you using in your test environment?

I did three tests on a fresh and clean WP with Woo:
- with PHP `7.4.27` working fine ✔
- with PHP `8.0.11` not working ❌
- with PHP `8.1.2` not working ❌

Full trace of error:
[code]

[2022-02-22 15:44] jonathansadowski commented on #31950
Hi @shashwatahalder01,

Thanks for the report. The sample products contain descriptions such as "this is a simple product". It looks like this is what the search is matching. Are you able to reproduce this issue using something other than the sample products or by altering the descriptions of the sample products to not contain those descriptions?

[2022-02-22 15:49] jonathansadowski commented on #31956
Hi @tedc,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking

[2022-02-22 15:52] jonathansadowski commented on #31957
Hi @leonp82,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2022-02-22 15:55] jonathansadowski commented on #31959
Hi @ArvindhMangoleap,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; iss

[2022-02-22 16:08] #31959 closed, assigned to nobody

[2022-02-22 16:31] ObliviousHarmony commented on #31832
Hello @carasmo,

While that may be true, that is maintained by a different team and this is a repository for WooCommerce Core. As I said, please contact the WooCommerce support team by [opening a ticket or starting a live chat](https://woocommerce.com/contact-us/)!

[2022-02-22 17:08] kmorte commented on #31944
Hi Jonathan,
ok:

**Describe the bug**
The categories objects retrieved from the api. get method returns an object that does not have properties date_created and date_modified, like in products or orders. And I thing there is no reasonable reason for that.

**To reproduce**
Retrieve a list of categories.

`const { data: categories, headers } = await api.get(products/categories, {

[2022-02-22 17:14] pmcpinto opened #32168 "Payments settings: recommended extensions card tweaks"
**Description:** we plan to refine how we display the additional payments card in the Payment settings screen, in order to minimize cognitive load and increase the focus on setting up WCPayments.

**Acceptance criteria:**
- [ ] Hide list of additional payment gateways when WCPayments is available
- [ ] Apply low visual treatment to additional payment gateway options (PayPal, Stripe, etc) when WCPa

[2022-02-22 17:33] #31923 closed, assigned to nobody

[2022-02-22 17:54] gagan45 opened #31960 "when i install woo commerce plugin then new page and post not add"
when i install woo commerce  plugin then new page and post not add

[2022-02-22 19:40] jorgeatorres commented on #30588
Fixed in #30641.

[2022-02-22 19:40] #30588 closed, assigned to nobody

[2022-02-22 19:49] jonathansadowski commented on #31960
Hi @gagan45,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2022-02-22 21:18] mattsherman commented on #32184
Not framing it as an error makes sense.

I do wonder though... if we think that the user can install these extensions without providing any additional information (merely clicking the task), we should consider auto-retrying to install the extension at least one more time before showing anything to the user.

What do you envision the task for one of these would look like?

[2022-02-22 21:40] melek opened #32167 "Uncaught TypeError: Unsupported operand types: int - string"
### Describe the bug

This is similar to [https://github.com/woocommerce/woocommerce-admin/issues/7891](https://github.com/woocommerce/woocommerce-admin/issues/7891) which has been closed already.

Reported in 34069883-hc and followed up in 4757604-zen, where the user provided the System Status Report. This is a ***multisite***.

For more details, please refer to 4757604-zen

Originally filed by @

[2022-02-22 21:48] davidjcreative opened #31963 "[Enhancement]: Back Button support"
### Describe the solution you'd like

After I click on the pagination in the store, and navigate away from the page, I would like the page to remember what page I was looking at.

### Describe alternatives you've considered

A breadcrumb at the top of the product page that has the pagination number in the link.

### Additional context

_No response_

[2022-02-22 21:59] shaunkuschel commented on #26374
This issue appears to be impacting the ability for the All Products for WooCommerce Subscriptions plugin to update the cart when switching between a subscription plan or a one-time purchase (when using ajax).

(Internal info: Reported on 4803347-zen)

[2022-02-22 22:34] ChiKaLiO opened #31964 "[Enhancement]: Rest API fuzzy search"
### Describe the solution you'd like

For example if some user types Komar inseead of comar nothing will show up so  something like [this ](https://stackoverflow.com/questions/230129/mysql-fulltext-search-score-explained) would be perfect

### Describe alternatives you've considered

As an alternative we would add different writing as tags for each product and search using that ..

### Additional

[2022-02-22 22:45] Abhishek19970 opened #31965 "Admin is unable to create any user"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

-commit Id -
-screenshort - https://prnt.sc/oe16l4cu0p74

steps to reproduce the bugs -
1.login with admin
2.Navigate to user module
3.Press on the add new user button
4.Fill the

[2022-02-22 22:47] #31965 closed, assigned to nobody

[2022-02-22 23:20] #28775 closed

[2022-02-23 02:16] adrianduffell commented on #32168
Just blocking this until the final mockups are ready.

[2022-02-23 05:20] adrianduffell commented on #31972
@jonathansadowski I think this might be part of the Core codebase.

https://github.com/woocommerce/woocommerce/blob/f0dc99efcd74276341a986ef9059493985ed52b9/plugins/woocommerce/legacy/js/admin/meta-boxes-order.js#L1217-L1223

[2022-02-23 06:14] ilyasfoo commented on #32205
@pmcpinto This is odd indeed. I've re-tested 6.2 and confirmed that `wcadmin_inbox_action_click` track was recorded on clicking both the note's title and note's action. I've seen my own track in Tracks Live. Is it possible that because the mouse changes to "finger" on hovering the note body, but clicking doesn't do anything, maybe misleading and cause users to think that the note isn't working?

Y

[2022-02-23 07:02] mujuonly opened #31966 "PHP Fatal error: Uncaught Error: Call to a member function getTimestamp()"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

PHP Fatal error:  Uncaught Error: Call to a member function getTimestamp() on null in /wp-content/plugins/woocommerce/packages/woocommerce-admin/src/Notes/TestCheckout.php:83

Th

[2022-02-23 07:02] mujuonly opened #32166 "PHP Fatal error: Uncaught Error: Call to a member function getTimestamp()"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

PHP Fatal error:  Uncaught Error: Call to a member function getTimestamp() on null in /wp-content/plugins/woocommerce/packages/woocommerce-admin/src/Notes/TestCheckout.php:83

Th

[2022-02-23 07:26] rjchow commented on #32170
Hey @shankeyb, thank you for getting in touch with us!

If I understand you correctly, you would like to generate a custom report where custom statuses (such as RTOs) are treated like refunds?
Because refunds are currently **not** deducted from the gross sales number, but they are indeed deducted when calculating the net sales value.

In this screenshot below, I have made 1 sale which I also immed

[2022-02-23 08:07] dinhtungdu opened #31967 "E2E `shopper.emptyCart()`: ReferenceError: products is not defined"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the `shopper.emptyCart()`, `products` variable is missing the declaration. The E2E test is passing because, in three places it's used, the cart is already empty at that point.

[2022-02-23 08:34] leonp82 commented on #31957
Hello again,

With little research I found out that the problem was caused by caldera
forms plugin. I will replace it with another form plugin.

Thank you for your response,

Leonidas

Στις Τρί, 22 Φεβ 2022, 17:52 ο χρήστης jonathansadowski <
***@***.***> έγραψε:

[2022-02-23 09:18] peterfabian commented on #31957
Thanks for the update!

[2022-02-23 09:18] #31957 closed, assigned to nobody

[2022-02-23 09:36] manospsyx commented on #42652
Given that these are strings, I can't think of a backwards compatible way to change things here @ralucaStan 😞

PS: Context values passed into the `cartItemClass` filter are `cart` and `summary` (not `checkout`).

[2022-02-23 09:40] manospsyx commented on #42652
While not a very constructive thought, filter names should embed "positional" context by being unique. The `cartItemClass` filter inside the summary/checkout component could be called something other than `cartItemClass`.

If the same component was re-used in different contexts, then it would make sense to pass context down into the filters in that component.

[2022-02-23 09:56] pramod496 opened #31968 "Shipping region update action"
I am trying to trigger an action when shipping settings is updated from the dashboard. i want to get the updated regions/zone/pincode whenever changes has been made.
I'm using woocommerce_shipping_zone_methods_save_changes action to trigger the updates, i'm getting null data after using the above mentioned action.
Is there any other action event to get the shipping updates??

[2022-02-23 10:39] shankeyb commented on #32170
@rjchow First of all thank-you so much for replying and understanding my issue correctly. **And Yes Exactly, what i want.**.  and i want to display that Order amount in Woocommerce Overview and Revenue Section. Please make this feature in woocommerce analytic reports. Its Highly Recommended.

Thanks

[2022-02-23 11:03] ralucaStan commented on #42652
Thank you @manospsyx,
you make some really good points.

I also realised after creating the issue that it won't be possible to have multiple values context, `cart` and at the same time  `woocommerce/cart`.

As the new context passed to Slots is not yet released I am thinking there is still time to revisit our approach.
The only way we can still keep the old context value for compatibility and also

[2022-02-23 11:05] ralucaStan commented on #42652
I will create a [different issue](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5924) for this

[2022-02-23 11:08] ralucaStan opened #42651 "The filter name cartItemClass is not relevant to the availability of the filter in both C & C blocks"
Filter names should embed "positional" context by being unique. The `cartItemClass` filter inside the summary/checkout component could be called something other than `cartItemClass`.

If the same component was re-used in different contexts, then it would make sense to pass context down into the filters in that component.

ticket created from [this discussion ](https://github.com/woocommerce/woocom

[2022-02-23 12:34] jarekmorawski opened #32165 "Setup experiment: new task list layout (version 1)"
**Description:**
To increase the number of people completing more than 3 tasks, we want to try out two new list layouts. This experiment will be run side-by-side with the other as part of an A/B test and uses the most recent layout as a foundation. I've updated the illustrations to reflect the new design language and added a progressive header to helps merchants track their progress (described in

[2022-02-23 12:57] jarekmorawski opened #32164 "Setup experiment: new task list layout (version 2)"
**Description:**
In this experiment we want to see if splitting tasks into goals/sections will have an impact on the completion rate.

<img width="545" alt="image" src="https://user-images.githubusercontent.com/79307566/155321668-d21f1fb5-871a-4076-99e1-98cb9b0ffb52.png">

Design overview:
* pbIJXs-1ew-p2-p2
* G9vi4e286yjdzyIdg8hBb1-fi-737%3A97358

Acceptance Criteria:

- [ ]  Visible only to new

[2022-02-23 13:14] jarekmorawski opened #32163 "Setup experiment: progressive header"
**User Story:**
As a new merchant
I want to see how much store setup is left
So I can plan out the next steps

**Description:**
For both task list layout experiments (#8350, woocommerce/woocommerce#32164), we'd used a shared header component that would give the Home screen more structure, provide encouragement and guidance to new merchants, and include a progress bar to visualize the number of com

[2022-02-23 13:28] jarekmorawski opened #32162 "Setup experiment: task chaining - popover"
**User Story:**
As a new merchant
I want to know what I need to do to complete store setup
So I can do it quickly and without clicking through different menus

**Description:**
In attempt to help merchants stay in the flow while setting up their store and boost the number of people who complete more than a few tasks, we'd introduce additional guidance at the end of each task. We'd suggest next ste

[2022-02-23 13:40] jarekmorawski opened #32161 "Setup experiment: setup reminder bar"
**User Story:**
As a new merchant
I want to know how to continue store setup
So I can do it quickly and easily

**Description:**
To create awareness about the task list and steps left in the store setup, we'd add a reminder bar to all non-onboarding screens in Woo.

<img width="1231" alt="image" src="https://user-images.githubusercontent.com/79307566/155330658-0ea43105-9bc7-46b7-97d3-d6dc42af768d.

[2022-02-23 13:43] jarekmorawski opened #32160 "Setup experiment: setup reminder badge"
**User Story:**
As a new merchant
I want to know how to continue store setup
So I can do it quickly and easily

**Description:**
In addition to the reminder bar described in woocommerce/woocommerce#32161, we'd add a red badge to the Home menu item in the navigation to draw more attention to the number of incomplete setup steps.

<img width="506" alt="image" src="https://user-images.githubuserconte

[2022-02-23 13:50] jarekmorawski opened #32159 "Setup experiment: welcome confetti"
**User Story:**
As a new merchant
I want to celebrate creating my store
So I can feel attached to it

**Description:**
To celebrate creating a new store, we'd show a short confetti effect when merchants enter the Home screen for the first time.

<img width="859" alt="image" src="https://user-images.githubusercontent.com/79307566/155332302-ceb802d4-e357-413e-9b49-1a3d203a266f.png">

**Design overvi

[2022-02-23 13:56] jarekmorawski opened #32158 "Setup experiment: setup complete card in the Home screen"
**Description:**
When merchants complete store setup, we replace the task list with a congratulatory card and use this opportunity to collect feedback.

Feedback will only be requested if the user has enabled tracking.

<img width="814" alt="image" src="https://user-images.githubusercontent.com/79307566/155333389-73994b9e-f4ce-4b30-ad20-36b273e8c4b6.png">

**Design overview:**
* pbIJXs-1ew-p2
* G9

[2022-02-23 14:00] jarekmorawski opened #32157 "Setup experiment: disable welcome modals"
**User Story:**
As a new merchant
I want to explore my new store without interruptions
So I can start selling as quickly as possible

**Description:**
Most of the information currently displayed in the 3-step modal isn't relevant to merchants who're just starting out. With the changes we're trying out in this cycle, we can replace it with a personalized welcome experience in the Home screen.

**Ac

[2022-02-23 14:03] jarekmorawski opened #32156 "Setup experiment: add Preview store button"
**User Story:**
As a new merchant
I want to see what my new store looks like
So I can start customizing it

<img width="717" alt="image" src="https://user-images.githubusercontent.com/79307566/155334635-61f5e507-6d9a-49c0-8caa-1ea6b3163e34.png">

**Description:**
To make it easy for merchants to see what their store looks like, we could add a `Preview store` button to the action bar in the Home sc

[2022-02-23 14:18] jarekmorawski commented on #32184
Love that. 👍 Maybe we could try 3 times on 2 consequential visits (2+1), then show the task?

The task could say: **Get [plugin_name] to enable it on your store**. Clicking the task would ideally show some sort of a loading state and success or error message. I'm thinking about snackbar since they're quite flexible and don't require a more complex interface.

* User clicks the task in `Things to d

[2022-02-23 14:34] manospsyx commented on #42652
Let me summon @xristos3490 😁

[2022-02-23 14:55] naturalweb-business opened #31969 "Fatal Error WC 6.2.1"
After the last update we have this issue...

2022-02-23T08:36:20+00:00 CRITICAL Uncaught Error: Call to undefined function disk_free_space() in /www/XXXX/public/wp-admin/includes/file.php:1666
Stack trace:
#0 /www/XXXXX/public/wp-admin/includes/file.php(1586): _unzip_file_ziparchive('/tmp/woocommerc...', '/www/XXXXX...', Array)
#1 /www/XXXXXis_778/public/wp-admin/includes/class-wp-upgrader.php(329

[2022-02-23 15:11] Stas0238 commented on #30455
Hello @jonathansadowski @juliaamosova
Do you have any news about this improving ? As it is great one on your opinion as well then I would consider that it should be implemented sooner than after few years ...
It has been already half of year after I've posted it.
Still waiting ...
Regards, @Stas0238

[2022-02-23 15:34] #31907 closed, assigned to MrJnrman

[2022-02-23 15:43] swatipawarGS commented on #31955
Hi @melek,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.2.0 version and WordPress 5.9 version.

Please find below screenshot for reference :

https://user-images.githubusercontent.com/94531721/155352966-6cc4879c-d4c6-48aa-8346-501a05213420.mp4

Priority of this issue will be assigned shortly aft

[2022-02-23 15:50] jonathansadowski commented on #31969
Hi @naturalwebcl,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2022-02-23 15:52] jonathansadowski commented on #31966
Hi @mujuonly,

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin

I am going to move your bug report there so that the right team could take a look further.

[2022-02-23 15:52] jonathansadowski commented on #32166
Hi @mujuonly,

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin

I am going to move your bug report there so that the right team could take a look further.

[2022-02-23 15:55] swatipawarGS commented on #31947
Hi @kanlukasz,

Thank you for the updated information. We are able to reproduce the issue on our end using WooCommerce 6.2.0 version, WordPress 5.9 version and PHP 8.0.15 version .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/155355483-69656f9e-bd8a-4718-9e4b-2bd31b09aba8.mp4

Priority of this issue will be assigned shortly after we’d go through

[2022-02-23 15:57] #31968 closed, assigned to nobody

[2022-02-23 15:58] fritexvz commented on #28752
I cannot figure out how to calculate "free shipping" after the taxes?

[2022-02-23 15:59] mattsherman opened #32155 "Epic: Increase setup tasks completion - task list / home"
Project thread: pbIJXs-1el-p2
Design, i2: pbIJXs-1ew-p2

[2022-02-23 16:02] fvdbgit commented on #28752
Hi, the issue/bug has still not been fixed in WooCommerce 6.2.1.
Please solve this issue, PRIORITY IS HIIGH!

[2022-02-23 17:11] louwie17 opened #32154 "Payment gateway suggestions spec missing default param, causing warning"
### Describe the bug
One of the specs in the Payment gateway suggestions doesn't include a `default` param that we expect on our end, this causes the following warning:
[code]

This appears to be missing on our `payment-gateway-suggestions` endpoint specifically in the rules for selling venues: https://github.com/Automattic/woocommerce.com/blob/trunk/plugins/wccom-plugins/payment-gateway-suggestio

[2022-02-23 17:11] naturalweb-business commented on #31969
Hi Jonathan,

Thanks for your quick answer, we find the error, it was with a custom snippet and we deactivated, everything worked fine again:

add_filter( 'woocommerce_cart_needs_shipping', '__return_true' );
add_filter( 'woocommerce_cart_no_shipping_available_html', 'change_noship_message' );
add_filter( 'woocommerce_no_shipping_available_html', 'change_noship_message' );
function change_noship_m

[2022-02-23 17:12] #31969 closed, assigned to nobody

[2022-02-23 17:49] jorgeatorres commented on #29006
FWIW, I tried to replicate and it seems to have been fixed.

[2022-02-23 17:56] Sidsector9 opened #31971 "Inconsistent order total on Checkout vs manual order page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This appears to be related to #24633

The Order total value on the Manual Order page depends upon the order in which a coupon is applied.
This causes inconsistency between the Or

[2022-02-23 18:20] alexflorisca opened #42650 "Optimistic Updates for Cart"
I noticed while changing the quantity on items in the Cart, the totals don't update straight away. They wait for the store api fetch to return before the UI is updated. I think this could be improved with an optimistic update to the UI.

## Describe the solution you'd like
I'm not sure of how we could implement this technically with @wordpress/data, but I wanted to record it here and open it for d

[2022-02-23 18:21] jorgeatorres commented on #26857
Fixed in #28936 & related #29241.

[2022-02-23 18:21] #26857 closed

[2022-02-23 18:29] jonathansadowski commented on #31972
@adrianduffell Thanks, I'll move the issue back!

[2022-02-23 18:30] pmcpinto commented on #32156
Just to add a note that we already have a preview store button in the personalize store task: https://d.pr/i/BPQIcE

[2022-02-23 21:13] joshuatf opened #32153 "WooCommerce ESLint plugin should be upgraded to work with ESLint >= 8.0.0"
### Describe the bug
Consumers of `@woocommerce/eslint-plugin` using  ESLint 8 or greater will result in errors since `plugin:testing-library/recommended` has been removed.

To fix this we can:

* Bump `eslint` to 8.0.0 or greater
* Bump `eslint-plugin-testing-library` to 5.0.0 or greater
* Update `plugin:testing-library/recommended` to `plugin:testing-library/react` in `packages/eslint-plugin/con

[2022-02-23 21:38] mattsherman opened #32152 "Setup experiment: task chaining - side panel"
**User Story:**
As a new merchant
I want to know what I need to do to complete store setup
So I can do it quickly and without clicking through different menus

**Description:**
In attempt to help merchants stay in the flow while setting up their store and boost the number of people who complete more than a few tasks, we'd introduce additional guidance at the end of each task. We'd suggest next ste

[2022-02-23 21:39] mattsherman commented on #32162
Split into two issues... this one is for the popover. woocommerce/woocommerce#32152 is for the side panel

[2022-02-24 06:46] SirDarcanos commented on #27814
I can still experience the same issue on my website.

![](https://d.pr/i/rh1jWx+)
**Image Link**: https://d.pr/i/rh1jWx+

Here it shows that the total discount is 3.87, but then the calculation ends up to 4.60 because of taxes.

[2022-02-24 07:41] shankeyb commented on #32170
Is there's any Custom way of doing that i mean in function.php ? Please Help I need this feature in woocommerce.

[2022-02-24 09:46] drugfrog commented on #27929
@juliaamosova @ObliviousHarmony

Can this issue be revisited?

The problem is deeper than just "Force shipping to the customer billing address" enabled, the "Address(es)" menu item always shows the wrong text!

When Shipping is enabled the menu item is rendered as “Address”
When Shipping is disabled the menu item is rendered as “Addresses”

The offending line is in the file woocommerce/includes/wc

[2022-02-24 11:14] opr commented on #42650
Related (old) issue https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/1876

[2022-02-24 11:53] jmruas commented on #27281
When we import somes images they are always unattached to the posts. Just test import posts first, then import images and you see. This is a Wordpress issue.

[2022-02-24 12:04] thinkjarvisdesignandmarketing commented on #27281
Hi Jmruas,
I do not understand your comment. I think you are saying that if you follow this same process with the default Wordpress importer that feature images are not attached to the posts. This is a different process and would not use a CSV file in the same way product data is imported and processed.

**This is a WooCommerce issue.**
The import/export of Wordpress posts has a different intent t

[2022-02-24 12:52] peterfabian commented on #31944
Hi,

thanks for the feature request. However, the categories we use are actually stored as terms in the database and WordPress doesn't store the date created and modified for those, so we'd have to build it ourselves. At the same time, this seems like quite a niche feature request and it's not aligned with our current priorities, so I'm going to close it. If we receive more requests about this, we

[2022-02-24 12:52] #31944 closed, assigned to nobody

[2022-02-24 12:59] peterfabian commented on #31924
Thanks for the request.

It seems that the featured image is the first one in the response, but there's no way to tell if it's actually featured or it's the first one from the gallery, so I can see how that can be an issue.

I think we could solve this by e.g. adding a new property `featured image`, or `position`, as you say. I'd be actually leaning towards `featured image` as it's more semantic.

[2022-02-24 13:04] peterfabian commented on #31905
Hey,

Thanks for the bug report. Can you please share your tax settings so that we can more easily reproduce it?
Are you able to reproduce also without EU VAT plugin?

[2022-02-24 13:12] peterfabian commented on #31898
Hi,

there is no new `woocommerce_orders` table in 6.2 as far as we know. Also, we have a unit test covering querying for order meta, so I believe this still works in the vanilla WooCommerce. Can you please try this with all the other plugins disabled? Thanks!

[2022-02-24 13:14] peterfabian commented on #31972
Thanks, we'll look into this.

[2022-02-24 13:29] peterfabian commented on #31887
Hi, thanks for reporting, but we don't own the WPML plugin, so it's difficult for us to reproduce the issue. Also, WC doesn't really have support for multiple currencies, so I'm not certain we can do something about it.

Perhaps WPML developers would need some new filter added to WC to support this usecase, because the way they described the rounding seems strange (41.3 * 0.4 -> 1.65, then rounded

[2022-02-24 13:33] peterfabian commented on #31881
Hi @thisissandip

Try this with
[code]

:)

Jokes aside, agreed that it doesn't need to be auto-loaded and we should probably reduce the amount of information we store there, perhaps we can truncate the UA string or do some other measure.

[2022-02-24 13:35] jorgeatorres commented on #31943
Hey everyone!
I'm re-opening this as I can reproduce following the original instructions. As described, the extra whitespace appears *while dragging* an item, not when toggling the columns:

![Untitled](https://user-images.githubusercontent.com/184724/155533992-a4f00bfa-54dc-40d0-8ce6-479ae6738712.gif)

[2022-02-24 13:38] aheckler opened #32151 "Cannot compare variations under Analytics Products"
### Is your feature request related to a problem? Please describe.

It's not possible to choose specific variations under Analytics > Products when using the Comparison view. This presents a problem for any merchant who wants to compare data while using variable products.

![Screenshot taken on 2022-02-24 at 13 35 34 UTC@2x](https://user-images.githubusercontent.com/5512652/155534303-58888ad5-acca

[2022-02-24 14:31] jmruas commented on #27281
Media Sync - a free plugin with 24kb - solve the problem. I tried and it works.

[2022-02-24 14:35] jmruas commented on #27281
I don't know woocommerce but WP file export/import doesn't works?

A quinta, 24/02/2022, 12:04, Thomas Jarvis ***@***.***>
escreveu:

[2022-02-24 14:38] thinkjarvisdesignandmarketing commented on #27281
Looking at the description of Media Sync you have misunderstood this issue.

The issue is that when you import product data via CSV and include image URLs, the media attachements do not update - This means that plugins like Yoast struggle to automatically select an image for Social shares and if you tried to tidy up the media library with any tools it will think the images are not in use.

Media S

[2022-02-24 14:40] #31729 closed, assigned to jeffstieler

[2022-02-24 15:43] jeffstieler commented on #28770
Confirmed as a bug. We'll need to add a check to https://github.com/woocommerce/woocommerce/blob/5d0296c565e2ded43db0aa659ea54cc08398ae8b/plugins/woocommerce/includes/class-wc-order-item.php#L283 to verify that the meta key corresponds to a product attribute.

[2022-02-24 16:04] jeffstieler commented on #28872
Thanks for the report @contactjavas. After a discussion, we're going to add documentation to the hook to hopefully clear up confusion about the variables.

[2022-02-24 16:10] jeffstieler commented on #28939
Thanks for the report (and proposed patch) @jarrodjay! This would be a great contribution if you'd like to [open a pull request](https://github.com/woocommerce/woocommerce/blob/trunk/.github/CONTRIBUTING.md).

[2022-02-24 16:17] jeffstieler commented on #28941
Going to close this as you've found a solution (and this is more of an issue for core WordPress than WooCommerce).

[2022-02-24 16:17] #28941 closed

[2022-02-24 16:26] jeffstieler commented on #29011
Closing since you found a solution. We will revisit the documentation for our Composer package to hopefully avoid confusion in the future.

[2022-02-24 16:26] #29011 closed

[2022-02-24 17:01] 79ho3ein opened #31981 "wc-ajax=get_refreshed_fragments / It drastically slows down the website."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the gt metrix results, there is one request that takes almost twice as long to load. https://prnt.sc/p19ZHnhF2B6S
It will take about two seconds for this request to load. This

[2022-02-24 17:08] mattsherman commented on #32184
Since we are installing them in the background already, we could probably set up a scheduled action to retry. So, we wouldn't be dependent on the user accessing the home screen to trigger the retry.

I think that snackbar/toast messages are easily missed, since they are not in the direct field of vision for the user.

I think each task should take the user to a distinct task page where we show the

[2022-02-24 17:29] louwie17 commented on #32165
@jarekmorawski I assume the progress bar will also span across the two columns if that view is enabled, in the same way that the current experimental task list is spanning across both columns?
<img width="1214" alt="Screen Shot 2022-02-24 at 1 29 07 PM" src="https://user-images.githubusercontent.com/2240960/155576218-2a22c0cb-4bcb-4364-8fbe-faf898cc4e65.png">

[2022-02-24 17:42] louwie17 commented on #32165
One thing to note about running two of these experiments side by side, is that we would probably wanted to run a multivariate experiment ( in this case two treatments, with the control being our standard task list ). This way we can still disable the experiment mid-way and return to our default set up versus showing one of the treatment options.
This is possible, but does seem to be in early alpha

[2022-02-24 17:58] ObliviousHarmony commented on #31943
Thanks for highlighting this @jorgeatorres!

[2022-02-24 18:10] wagnerpaxs opened #31982 "Class WC_Widget_Price_Filter generating Notices on wp_enqueue_script"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Dear Woo Team,

Class WC_Widget_Price_Filter are calling wp_enqueue_script function incorrectly, directly on the constructor. We need a hook to call scripts from a function, link

[2022-02-24 18:15] louwie17 opened #32150 "Setup experiment: experiments for task lists"
**Description:**

We have two new task lists developed as part of woocommerce/woocommerce#32165 and woocommerce/woocommerce#32164. We want to run both of these task lists during the same experiment.

Acceptance Criteria:

- [ ] Create an experiment P2 in a8cexperiments - pbxNRc-1n1-p2 or pbxNRc-ZP-p2
- [ ] Create experiments in Abacus with some of the criteria below:
- [ ] One visible only to new

[2022-02-24 18:16] jmruas commented on #27281
Ok. You are right. Sorry. Just wanted to help.

A quinta, 24/02/2022, 14:38, Thomas Jarvis ***@***.***>
escreveu:

[2022-02-24 18:17] louwie17 commented on #32165
In terms of technical's:
- The progress bar has to be created from scratch as we don't already have one (this should be relatively straight forward), could add a config option in the task list for this?
- We currently don't allow for alternate task titles, this would have to be added to our [Task class](https://github.com/woocommerce/woocommerce-admin/blob/main/src/Features/OnboardingTasks/Task.ph

[2022-02-24 18:38] louwie17 commented on #32164
@jarekmorawski under the **Cover the basics** section does the **You created <store name>** always show up as completed, or is there a case when it shows as uncompleted?

[2022-02-24 18:57] louwie17 commented on #32164
In terms of technicals:
- Task list design will require a full make over for this one, we would want to create a completely separate stand alone task list component that follows this design.
- We don't allow for grouping of tasks very well, the easiest would be to add a task type to the [task class](https://github.com/woocommerce/woocommerce-admin/blob/main/src/Features/OnboardingTasks/Task.php#L7

[2022-02-24 19:39] jarekmorawski commented on #32165
No. The 2-column layout did not perform as well as the single column one so I'm thinking we could change it a little. In horizontal layout, the task list could be displayed in the left column (much like the control version) and the new header would replace the existing one. What do you think?

<img width="1440" alt="Home" src="https://user-images.githubusercontent.com/79307566/155599456-4a1ffbec-e

[2022-02-24 19:40] thinkjarvisdesignandmarketing commented on #27281
No worries jmruas thank you for contributing.

I know it takes time for a member of the WooCommerce team to pick up or be allocated a known bug. I didnt want them to remove it from the bug tag.

I do not have great enough knowledge of the upload process to tackle this issue myself. Hoping it gets allocated to someone soon.

[2022-02-24 19:44] jarekmorawski commented on #32164
Yes, it will always be completed and inactive. It is checked off by the mere fact that you're seeing the list (which means you've created a store).

@pmcpinto, just bringing this to your attention. I think the sections make a lot of sense and given our recent conversations about exploring other visual directions for the task list, I think this initiative is worth the effort.

That was exactly my i

[2022-02-24 19:47] wagnerpaxs commented on #31982
PR: #31983
https://github.com/woocommerce/woocommerce/pull/31983

[2022-02-24 19:56] shashwatahalder01 commented on #31950
Hi @jonathansadowski,

I couldn't able to reproduce this issue when I remove 'simple'/'variable' from product descriptions. But I don't get how product search is working, it seems that search product matches the text against product title, SKU, and description and also empty filed display all products.

[2022-02-24 20:01] louwie17 commented on #32165
Thanks for the clarification @jarekmorawski, that sounds good with me.

I do notice in your screenshot above the Orders/Stock/Reviews panels are listed in the right column is that something also being changed as part of this? usually we don't show them until the task list is hidden and in the left column.

[2022-02-24 20:08] jarekmorawski commented on #32165
No, it's just an omission on my part. Thanks for pointing it out! I've fixed the screenshot.

[2022-02-25 07:48] rjchow commented on #32179
The current state of the entire WCA repo has
- 42656 LOC in 756 JS/JSX files
- 15894 LOC in 192 TS/TSX files

The breakdown within `./client` and `./packages`:

`./client`
- 45414 LOC in 381 JS/JSX files
- 6762 LOC in 59 TS/TSX files

`./packages:`
- 35894 LOC in 375 JS/JSX files
- 9132 LOC in 133 TS/TSX files

Within `./packages`, Typescript is correctly enabled and is free of any type errors. Ho

[2022-02-25 08:14] #31967 closed, assigned to nobody

[2022-02-25 08:38] rjchow commented on #32170
Hey @shankeyb, it might be possible to customise the reports using the information here: https://github.com/woocommerce/woocommerce-admin/blob/main/docs/data.md
I'm sorry I can't provide more information than that without doing a lot more research..!

[2022-02-25 08:42] tperke opened #31984 "Download SEPA XML not possible"
Hello all,

I want to do a download of all orders via Woocommerce -> Orders. But when I click on "Apply" nothing happens. No download and no error message. What can be the problem here and maybe there is a solution to this?
![Bildschirmfoto 2022-02-25 um 15 38 19](https://user-images.githubusercontent.com/51281059/155682939-361963df-0cc0-46d0-b0b4-7b556a4005f0.jpg)

[2022-02-25 08:50] kanlukasz opened #31985 "[Enhancement]: Add possibility to define a other delimiter in the Export tool"
### Describe the solution you'd like

#### In the import tool, we can set any string delimiter:
![image](https://user-images.githubusercontent.com/30685349/155684430-3435edf4-6e44-47df-9b0b-417c28be6a54.png)

#### Unfortunately, we cannot set this in the export tool. As you can see, there is no such option:
![image](https://user-images.githubusercontent.com/30685349/155684608-a8bec6f7-4229-446b-9a

[2022-02-25 09:41] srflorea1 commented on #24179
I am also looking for the AND logic. Did anybody find a solution?

[2022-02-25 09:53] priyankabehera commented on #31760
Hello, I have added a fix to solve the issue https://github.com/woocommerce/woocommerce/pull/31986 Please check it and let me know if anything else is required from my end.

[2022-02-25 14:48] pmcpinto commented on #32164
Thanks for the heads up.

@louwie17 out of curiosity, do you think that there's a way to implement the approach we want to test without rebuilding the task list from scratch? We don't know if it will perform better than the current version, so it would be interesting to explore if we can accomplish something faster/with less effort, even if it requires some adjustments to the design proposed by Ja

[2022-02-25 15:02] rinke300X opened #31988 "npm ERESOLVE error when using npm install"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I'm following along the Getting Started guide for developers on [https://developer.woocommerce.com/extension-developer-guide/getting-started/](url).

After cloning and nvm use, I

[2022-02-25 15:10] Stas0238 opened #31989 "[Enhancement]: Russia war against Ukraine"
### Describe the solution you'd like

Hello,
I know that this area is not for such reasons but I am a citizen of a country where Russia started war. I am from Ukraine.
I decided to write here to make you known that the war is real and it could touch anyone if it won't be stopped in Ukraine. If you could share any information about support Ukraine or for russian users to go on their squares and sho

[2022-02-25 15:14] nielslange opened #31990 "Guest order: Billing and shipping address not visible on order received page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When placing an order as a guest (thus, not logged in) the billing and shipping address are not visible on the order confirmation page.

### Expected behavior

I expect the billi

[2022-02-25 15:17] genuino2 commented on #27674
FATAL ERROR with php 8 on **customer-processing-order.php** on:
`do_action( 'woocommerce_email_order_meta', $order, $sent_to_admin, $plain_text, $email );
`

[2022-02-25 15:32] xristos3490 commented on #42652
I think this is a complex subject overall.

Dealing with "context" in a headless space seems _radical_. Although, I believe there is a need to _draw the line_ on what we mean when referring to "context." The "context" should not be coupled with a template-related placement. That wouldn't be sustainable.

For example, what's the difference between the noticeContext `wc/checkout` Vs. the Slot/Filter

[2022-02-25 15:52] Konamiman commented on #27674
Hi @genuino2, thanks for your report. Could you please provide more details on what the exact error is and what are the steps to get it?

[2022-02-25 16:53] genuino2 commented on #27674
Sure: please note that the custom template used is different only for one
paragraph. I've tried also with original template and the error was the
same.
Please, pay attention to row that using my template. Is a little different
from the original file.

[25-Feb-2022 14:47:52 UTC] PHP Fatal error:  Uncaught TypeError: Illegal
offset type in isset or empty in
/home2/lwgaspar/public_html/wp-includes/me

[2022-02-25 18:20] barryhughes commented on #31971
This came up during a bug scrub; in principle we'd agree this is a bug (though, let's still run it through the usual triage process).

[2022-02-25 18:47] barryhughes commented on #30835
Closing this in favor of #31140.

Though this issue predates that one, there are useful notes and discussion in the later issue we can reference.

Of course, if I've misunderstood/if anyone disagrees, please let me know.

[2022-02-25 18:47] #30835 closed, assigned to nobody

[2022-02-25 18:48] barryhughes commented on #30845
Reviewed; agree we should keep in core.

[2022-02-25 19:10] louwie17 commented on #32164
Rebuilding from scratch might of been an over exaggeration, it's mostly the UI part that needs to be re-done, but most of the underlying logic can stay the same. We should also be able to re-use the individual task list item. So the re-building will mostly be for the different sections and managing those.
I am not sure what we could adjust on the design, I think it would mostly be related with ani

[2022-02-25 21:31] #31989 closed

[2022-02-25 21:47] jonathansadowski commented on #31950
Hi @shashwatahalder01,

Thanks for the follow-up confirming that when you remove those terms from the description, the results no longer include those products. I believe that the searching of those additional fields may be by design, and not a bug. I'm going to ask for developer feedback to confirm or deny that.

[2022-02-25 21:51] octaedro commented on #32162
Hi @jarekmorawski,
I have a few questions related to this issue:

I couldn't make the link (`p58i-bHf`) work, is it possible to get a link to the library?

This would be a pretty similar popover to what we did [here](https://github.com/woocommerce/woocommerce-admin/pull/5826), is there a reason to discard the [WP Popover](https://developer.wordpress.org/block-editor/reference-guides/components/pop

[2022-02-25 21:53] octaedro commented on #32152
@jarekmorawski, I have a few questions related to this issue:

The `Activity` panel is already showing the abbreviated card with the `Things to do next`. I'm not sure if it's a good idea to show the same thing in two panels.

![screenshot-one local-2022 02 25-16_54_30](https://user-images.githubusercontent.com/1314156/155786385-0a5054dd-55e0-4ea1-b6fb-0f2973e86813.png).

Also, I think that since t

[2022-02-25 21:53] octaedro commented on #32152
- Regarding the progressbar design we also should keep an eye on this comment (pbIJXs-1ew-p2#comment-3437)

**Event tracking**
- When pressing the `Finish setup` button. I'd also track the step already finished, to know better when the button is most clicked.
- We should track every clicked button.
- I would also track the arrows to collapse/uncollapse the task groups.

[2022-02-25 22:06] jonathansadowski commented on #31981
Hi @79ho3ein,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2022-02-25 22:08] jonathansadowski commented on #31984
Hi @tperke,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lackin

[2022-02-25 23:35] barryhughes commented on #31293
I was able to replicate, however I believe the origin of the problem is in the [WC Admin package](https://github.com/woocommerce/woocommerce-admin/blob/b67a8839095261fa6b7a98b3b9e152fa5b908870/src/API/Orders.php#L136), where the `user_id` and the `customer_id` are being confused.

[2022-02-25 23:35] barryhughes commented on #32217
I was able to replicate, however I believe the origin of the problem is in the [WC Admin package](https://github.com/woocommerce/woocommerce-admin/blob/b67a8839095261fa6b7a98b3b9e152fa5b908870/src/API/Orders.php#L136), where the `user_id` and the `customer_id` are being confused.

_(Not sure why, but transferring the issue isn't working right now...)_

[2022-02-26 00:02] barryhughes commented on #31340
Hi @babuus,

This issue tracker is primarily a place to log bugs and, on occasion and when appropriate, feature requests. Support queries and requests for help with custom development are best handled through other channels [(please see this note)](https://github.com/woocommerce/woocommerce#support).

Since this looks like a request for help with custom code I'll go ahead and close it.

[2022-02-26 00:02] #31340 closed, assigned to nobody

[2022-02-26 00:20] barryhughes commented on #31459
Apologies if I have missed a key detail, but which date or dates specifically are we discussing? In my local testing, setting the `post_date`, `post_date_gmt`, `post_modified` and `post_modified_gmt` fields to the same value does not cause the problem you noted.

[2022-02-26 03:08] octaedro opened #32149 "Is not possible to mark the marketing task as complete in the setup tasklist"
### Describe the bug

Is not possible to mark the marketing task as complete in the setup tasklist.

### To Reproduce

1. In a brand new store, go through the OBW, and in step 4 (Business Details), go to `Free features` and install the `MailPoet` extension.
2. Finish the OBW.
3. On the `Home` page, press `Set up marketing tools`.
4. The marketing task should be marked as complete but that is not h

[2022-02-26 03:11] octaedro commented on #32162
The events that I think should be tracked are:
- When the popover is shown.
- When the popover is closed by pressing the `X`.
- When the user presses the total amount of tasks to do.
- When the user presses the CTA button.

[2022-02-26 04:13] kid745 opened #31992 "Installation failed: Could not copy file"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unable to install Woocommerce into Wordpress. I have tried downloading the Woocomerce.zip file from outside to install it manually but still no success.
![image](https://user-ima

[2022-02-26 06:04] shankeyb commented on #32170
@rjchow Could you please help me in that, i am not good at coding....It would be greatful for me.

[2022-02-26 12:06] priyankabehera commented on #31765
Hello @[jacauc](https://github.com/jacauc) please provide the WooCommerce and WordPress versions and the steps to reproduce.

[2022-02-26 13:47] grig-23 opened #31993 "Default "New account" WooCommerce email sent from a different email address"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The default "New account" WooCommerce email sent from a different email address - not the one set up in wp-admin >> WooCommerce >> Settings >> Emails as a "from" email address, a

[2022-02-26 14:09] rinke300X commented on #31988
pnpm was needed to build the project. Please update the documentation at the Getting Started guide for Devs mentioned in my original post.

[2022-02-27 12:43] jarekmorawski commented on #32162
Hi @octaedro! 👋

Here's the [public repo](https://github.com/Automattic/wp-calypso/tree/trunk/packages/tour-kit).

I don't know the full details, but it's possible that the existing popover component will co-exist with Tour Kit (which the new library builds off of, I think) and all future onboarding-related interactions in Gutenberg will use it from now on. By adding it to core, we future-proof th

[2022-02-27 14:04] rotem657 commented on #31478
Hi,
I have the same problem with Hebrew in the RTL emails.
![WhatsApp Image 2022-02-27 at 16 03 43](https://user-images.githubusercontent.com/63625134/155885625-829efe8d-ca5d-4f34-aeb1-aa81d73959ee.jpeg)

[2022-02-27 14:13] emakx commented on #31478
Any Eta for this to be solved? its more than 3 months now? @WordCommerce

[2022-02-27 17:29] jacob-sewell commented on #32241
I'm taking myself off of this because I haven't been able to reproduce the original issue and my fallback plan, which was to provide some kind of fallback that would make the upgrade complete note expire after some amount of time, would need to be implemented in the [woocommerce repository](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/admin/notes/class-wc-note

[2022-02-28 04:04] #31843 closed, assigned to Luc45

[2022-02-28 09:51] priyankabehera commented on #31990
Hi Team, I have added a pull request for this issue. Please check it and let me know if anything else is required.

[2022-02-28 10:13] pmcpinto commented on #32164
Gotcha. Thanks for the clarification

[2022-02-28 12:38] jarekmorawski commented on #32152
Can you believe I've never seen it? In that case, there's no point in showing it two places. If possible, we can hide the Finish setup button the moment merchant completes the last task and we show the `Share feedback` popver. I've updated the original issue.

My bad, I meant dismissed, not clicked. 🙈 I've fixed the description. Thanks for bringing this up!

Yes, here they are: G9vi4e286yjdzyIdg8h

[2022-02-28 13:54] swatipawarGS commented on #31971
Hi @Sidsector9,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.2.1 version and WordPress 5.9.1 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/155943432-057ec155-c2c5-4b8f-a3e9-48323b3f9d96.mp4

Priority of this issue will be assigned shor

[2022-02-28 14:05] barryhughes commented on #31293
Internal convo: p1645833228497579-slack-CBKK5KM41

For some reason, we can't transfer this issue across. However, [PR 8382](https://github.com/woocommerce/woocommerce-admin/pull/8382) is in the correct repo and hopefully will be a starting point for a fix.

[2022-02-28 14:05] barryhughes commented on #32217
Internal convo: p1645833228497579-slack-CBKK5KM41

For some reason, we can't transfer this issue across. However, [PR 8382](https://github.com/woocommerce/woocommerce-admin/pull/8382) is in the correct repo and hopefully will be a starting point for a fix.

[2022-02-28 14:21] weronikasiuda opened #31996 "Issues when creating manual order in WooCommerce"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

When an order is created manually in WooCommerce, clicking Add

[2022-02-28 14:27] weronikasiuda opened #31997 "Issues when creating a manual order in WooCommerce"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When an order is created manually in WooCommerce, clicking Add Item => Add Shipping does not actually load set shipping rates. The dropdown menu offers a couple of options - Loca

[2022-02-28 14:43] Konamiman commented on #27674
Thanks @genuino2 but I'd need some more details:

* What WooCommerce version are you using?
* Which is the original theme in which you are also getting the error?
* Could you please provide the detailed usage steps that trigger the error?

Thank you!

[2022-02-28 15:09] genuino2 commented on #27674
WooCommerce 6.2.1
Theme: blocksy
PHP: 8
What i've done: I've moved an order from On Hold to Processing and i've the
error. Email to customer not sent. Switched to Php 7.4 and it's all ok.

Il giorno lun 28 feb 2022 alle ore 15:43 Néstor Soriano <
***@***.***> ha scritto:

[2022-02-28 15:15] baderdevgit commented on #21239
It looks like that was exactly the issue. For the longest time I was convinced it was a caching issue but the post table's id was wayy behind the order_items id. All I needed to do was reset the AUTO_INCREMENT value for the posts table by performing: `ALTER TABLE ldd_posts AUTO_INCREMENT = whatever your max order_items id is + 1`

[2022-02-28 19:53] jeffpaul commented on #31971
@barryhughes @swatipawarGS with this confirmed as reproducible, would you like 10up (@Sidsector9) to work on a PR to resolve?

[2022-02-28 22:15] barryhughes opened #31999 "GitHub Actions: "Build zip for PR" results in double-zipped file 🤐"
The zip file produced by the **[Build Zip for PR](https://github.com/woocommerce/woocommerce/blob/5af5be510032f9de1b1c6c6dacbbe24e53f8b691/.github/workflows/build-release-zip-file.yml#L11-L30)** action itself contains the plugin zip (that to say, it is "double zipped"). One side effect of this is that if you take the zip and try to install it without first unzipping it to extract the inner zip, it

[2022-02-28 22:19] barryhughes commented on #31999
🤦🏽 Hah, well, having logged this ... I now see it may actually be [hard to avoid this problem](https://github.com/actions/upload-artifact#zipped-artifact-downloads) at present. Going to go ahead and close it.

[2022-02-28 22:19] #31999 closed, assigned to nobody

[2022-02-28 23:42] barryhughes commented on #31971
Hi @jeffpaul: if you have the space to tackle this, that would be very welcome :-)

[2022-03-01 00:36] #31761 closed, assigned to nobody

[2022-03-01 00:36] #31879 closed, assigned to nobody

[2022-03-01 00:40] becdetat opened #32148 "Investigate and mitigate any potential build issues relating to The Merge"
We need to consider how build things like linting and configuration will be incorporated in The Merge.

For example, we currently use the `config/*.json` files to generate a configuration PHP file that is included on the server side. This will need to continue working in some fashion when we are monorepo-ed.

[2022-03-01 04:25] AashikP opened #32001 "Display name cannot be changed to email address due to privacy concern."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If your username matches the email address on the account, you cannot update the account details as the system returns the following error: `Display name cannot be changed to ema

[2022-03-01 04:26] AashikP commented on #32001
Here's a screen capture https://d.pr/i/PxiZ8j

[2022-03-01 09:11] CharlieEtienne opened #42649 "Add a way to differenciate out of stock products"
Hi,

I developped a [plugin](https://wordpress.org/plugins/sold-out-badge-for-woocommerce/) that adds a badge on out-of-stock products.

Unfortunately I can't find a way to make it work with woocommerce gutenberg products block.

Is it possible to add a hook that allows to inject some html when a product is out of stock ?

I usually use these hooks with traditionnal WooCommerce templates:

- `wooc

[2022-03-01 09:20] TomHWP commented on #31651
@themycogrow Is there any news about this issue?

I currently have to same problem on a clients website. In the first few minutes after the order the stock levels are correct. But if I check some minutes later the stock level of that specific variation product is set to a random negative number.

I tried absolutely everything to found out what causes this issue. Strange thing I noticed when debugg

[2022-03-01 10:07] sunyatasattva commented on #42649
Thank you for the suggestion @CharlieEtienne! I'm adding this to our backlog.

[2022-03-01 14:13] #31996 closed, assigned to nobody

[2022-03-01 14:20] manospsyx opened #42648 "Introduce an error-code based control mechanism for preventing access to the checkout block"
## Is your feature request related to a problem? Please describe.

Currently, the Checkout Block:

1. Does not convert the `errors` in cart responses to notices.
2. Does not provide a formal way to developers who need to control access to the Checkout Block.

This issue is about (2). A separate issue has been opened to discuss (1).

An erroneous cart state might be a result of:

- <strong>Cart ite

[2022-03-01 15:00] corentin-gautier commented on #18395
This is really infuriating. It's 2022, this issue has been open for 4 years, Woocommerce is used by millions of websites and all we are given as an answer is "We don't see the point of removing jquery" ? I'm sure everyone here has been spending a lot of time making their website as fast as possible in the last few years and then you want to use one of the biggest wordpress plugin out there and you

[2022-03-01 15:17] dartrax commented on #30991
Hi,
I have the same problem. It occures every 10 minutes when I'm in the admin interface. There is also another topic in the [wordpress plugin support forum](https://wordpress.org/support/topic/critical-error-after-upgrading-to-woocomerce-v6-x-class-wc-install-php/).

I believe that this error can happen when one of the filters applied to `woocommerce_get_settings_pages` adds an item that is not i

[2022-03-01 15:35] Sidsector9 commented on #31971
@barryhughes can you please assign me to this issue. I have worked on the fix and currently manually testing multiple scenarios. The PR should be up by today or tomorrow.

[2022-03-01 15:59] jacob-sewell commented on #32162
Per meeting discussion: if a user navigates to the WooCommerce Home screen any active task chaining popover will be silently dismissed.

(We were discussing this in the context of interfaces that redirect you to Home once you use them, but presumably this would be the desired behavior if the user manually navigates Home as well.)

@jarekmorawski @pmcpinto @verofasulo @louwie17 @octaedro feel free

[2022-03-01 16:04] TomHWP commented on #31651
So after another day of troubleshooting I found out that on my staging environment (exact copy of the live website) the `woocommerce_deliver_webhook_async` webhook is only triggered once instead of twice after an order is placed. This means I can't replicate the problem on the staging environment. Everything is working fine there.

@ObliviousHarmony @swatipawarGS  Any thoughts on how `woocommerce_

[2022-03-01 16:07] chesio commented on #27030
Well, it's 2022 and I've just bumped into... this very issue 😄

[2022-03-01 16:13] louwie17 commented on #32162
For a little bit of extra context, we might be able to re-use the current logic of the 'Finish setup' panel, and only render the popup then: https://github.com/woocommerce/woocommerce-admin/blob/main/client/activity-panel/activity-panel.js#L234-L264

Also here is our current `HighlightTooltip` that we can use for this: https://github.com/woocommerce/woocommerce-admin/blob/main/client/activity-pane

[2022-03-01 19:18] louwie17 commented on #32165
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/8350?planning-poker) with ZenHub @joelclimbsthings @jacob-sewell @octaedro

[2022-03-01 19:19] moon0326 commented on #32148
I assigned this to myself, but please feel free to investigate it if anyone is interested. More 👀 the better.

[2022-03-01 19:32] louwie17 commented on #32164
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/8352?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @octaedro

[2022-03-01 19:40] milleranddesign opened #32002 "Fixing Blurry Product Images guide needs an update"
ISSUES:
Client Concern "Something I would like to look into though is why the pictures on the website are blurred out. It is only clear when you hover over it and then it expands it, and you must move the mouse around to see the whole picture"

WooCommerce is missing the image format section "Display" Images are loading at a low resolution when uploaded at 800x800.

Documentation on Fix:
https://w

[2022-03-01 19:41] louwie17 commented on #32150
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/8377?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @octaedro

[2022-03-01 19:46] louwie17 commented on #32162
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/8354?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @octaedro

[2022-03-01 20:12] louwie17 commented on #32162
@jarekmorawski @pmcpinto a follow up question that came up during our sprint kick off today, was if this pop up should automatically be dismissed if a user leave's the specific page without interacting with the pop up? Meaning that it won't hang around across different pages.

[2022-03-01 20:15] louwie17 commented on #32162
Ooh and an additional question, if the action button should always point to the next (unfinished) inline task, or always to the unfinished task at the top of the list. This would only matter if a user did tasks out of order.

[2022-03-01 21:07] moon0326 commented on #32148
After reading `pcShBQ-e4`, I think it might be too early to see any potential build issues. We should regularly check the status of The Merge and see how it goes. The P2 covers pretty much everything we need, but these are my notes so far.

- Core and WCA use slightly different JS lint configurations — We can either use Core’s JS lint configuration or add our own `.eslintrc` file after the merge.

[2022-03-01 21:12] Luc45 opened #32003 "Refactor merchant logout to reduce test flakiness"
e2e tests fail sometimes when trying to click the logout link from the fixed topbar in the admin panel.

[2022-03-01 22:03] Luc45 opened #32005 "Update docs of @woocommerce/api package"
Update docs per the accepted answer of the RFC: https://wp.me/pcr5Cj-26w#comment-2195

- Update @woocommerce/api NPM documentation to inform that only the Product repository is supported, and that the Order repository is partially supported (Beta). Other endpoints must be queried in raw format.
- Add a small section in the documentation explaining what is the difference between @woocommerce/api an

[2022-03-01 23:51] haszari opened #32006 "Remove backtick quotes so system report is easier to paste in different systems/environments"
### Describe the problem

WooCommerce system status report is generated surrounded by single backticks "`" currently:

https://github.com/woocommerce/woocommerce/blob/f0dc99efcd74276341a986ef9059493985ed52b9/plugins/woocommerce/legacy/js/admin/system-status.js#L71

This is not helpful in my experience, as I either want the raw system report to paste into a text box, or a [Markdown code block](http

[2022-03-01 23:51] haszari commented on #32006
Happy to open a PR for this if y'all think it's a good idea. It's a minor annoyance, but has always bugged me!

[2022-03-02 00:36] joelclimbsthings commented on #32282
Looks like this is overdue to be closed, doing so in preparation for the merge.

[2022-03-02 00:36] #31820 closed, assigned to nobody

[2022-03-02 02:08] virgocar242 opened #32008 "My store continues to reject orders and show errors on the page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I'm filling out my vehicle registration info for my website, there is a continuous error that shows up on the page. Which this is happening orders are coming directly throug

[2022-03-02 03:22] becdetat commented on #32148
Thanks @moon0326 . I think it's valuable to have an idea of what potential issues we might have post-merge, so that we know where to look and spend time. I expect that there might be a couple of days worth of teething issues. Thanks for breaking down the possible areas we need to consider.

[2022-03-02 06:07] cnicpon opened #32009 "State field in checkout - not populating as expected"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

State field on the checkout page does not behave consistent with other forms on most websites. If you type F expecting to get Florida, you actually get California. Or if you type

[2022-03-02 07:43] adrianduffell commented on #32227
I'm still able to reproduce this. I'm going to give it a high priority due to the price discrepancy.

[2022-03-02 10:33] Buzut opened #32011 "Variable product shows in stock when out of stock if backorder is allowed"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On a variable product, one can get an array of variations with information on each one with `$product->get_available_variations()`.

For each variation, you have a key named `is_

[2022-03-02 12:45] rotem657 commented on #31478
@ObliviousHarmony Hey, Are there any updates about this issue?

[2022-03-02 13:06] louwie17 commented on #32150
This Slack thread contains some extra context for managing experiments in specific countries more reliably - p1646150506687989-slack-C9K5T0XSP
Ask Ghidorah for more help if you need it.

[2022-03-02 13:16] peterfabian opened #32012 "Remove slug prefix in the woocommerce.com helper"
We  add a `woocommerce-com` prefix to the plugin slug over here:

https://github.com/woocommerce/woocommerce/blob/dc381f4305b8a9591d7d0890c7b8835998097c79/plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php#L52

But it's been causing problems elsewhere on wp.com and thus we need to explore if it's safe to remove it.

Internal reference: p9o2xV-1Of-p2

[2022-03-02 14:50] octaedro commented on #32164
Hey @jarekmorawski,
I have a couple of questions related to the extended task list (`Things to do next`). In the design, I couldn't see the setup task list (`Get ready to start selling`) and the extended one together. Currently, we can see them at the same time, will that behavior change?
Will the extended task list have any changes?

[2022-03-02 14:54] jarekmorawski commented on #32164
That's a good question. My intention was to only show `Things to do next` when you complete the task list (which is why in the designs its only present along with the congratulatory card), but that could have consequences for our partnerships and less essential flows. 🤔 @pmcpinto, do you have any thoughts? To me, we should only suggest other steps when others are done to avoid overwhelming people.

[2022-03-02 15:02] pedantic1 commented on #27954
My hidden products exist only as components of composite products. They are forbidden from being purchased individually. This is why they are hidden. In fact I redirect any hit on them to the compost product they are used to assemble. I absolutely do not want them in my sitemap.

To use product_visibility vs. listing each hidden product by ID, I wrote the following:

[code]

[2022-03-02 15:18] jarekmorawski commented on #32162
No, I think it should persist on the screen until dismissed.

It should point to the first unfinished task at the top of the list. 👍

[2022-03-02 18:08] thefrosty commented on #27384
Just updated to WooCommerce 6.2.1 and am getting:

PHP: 7.4.18
WP: 5.9.1

[2022-03-02 18:23] pmcpinto commented on #32164
For the experiment, I think it's better to keep the `Things to do next` list in the experience. We can reassess this if the treatment version is declared as winner.

[2022-03-03 02:02] tonyuh commented on #31942
I'm having similar problem when moving from PHP7.4 to PHP8.0, this was a site moved to a new host with the same hosting (same VM spec) but newer version PHP installation.

Now I cannot access the website without disabling woocommerce.

![image](https://user-images.githubusercontent.com/39987976/156481635-4509ddfe-f721-4e24-9507-e1691af3710c.png)

I also get this message in my email:

`When seeking

[2022-03-03 04:37] adrianduffell commented on #32169
Hi @appschris,

Thanks for opening this issue. The filter should apply to reports created in the background queue as far as I'm aware.

To help us reproduce the issue, would you be able to provide a small example plugin that exhibits the problem? I'm curious if it might be a priority/timing issue with your `add_filter` call.

[2022-03-03 04:42] rjchow opened #32147 "Type errors with @automattic/explat-client and @automattic/explat-client-react-helpers"
While working on woocommerce/woocommerce-admin#8372 I discovered some missing type exports from @automattic/explat-client-react-helpers

In particular, `ExperimentOptions` and `ExPlatClientReactHelpers` were inferred types but not exported so Typescript made a complaint about that. This was temporarily resolved by patching the installed files in https://github.com/woocommerce/woocommerce-admin/pul

[2022-03-03 07:50] rjchow opened #32146 "Client-side API Error Handling"
While reviewing https://github.com/woocommerce/woocommerce-admin/pull/8392 I realised that there are no provided types for the errors that are thrown from @wordpress/api-fetch. This led me to investigate to be certain what the actual error shape looks like.

To induce an error I simply blocked a request using the browser devtools:

https://user-images.githubusercontent.com/27843274/156517421-65d62

[2022-03-03 08:21] giacomolanzi commented on #16815
Hi guys,
I have the same issue, but changing PHP version is not working.

Here's a screenshot from the console:
![2022-03-03_09-18-55](https://user-images.githubusercontent.com/50149567/156524736-c4233fa9-064f-4b80-9546-ce01c5ad05e6.jpeg)

and here's the system info:
[code]

[2022-03-03 08:43] Natnie commented on #26380
I have just encountered this issue and it's shut down my entire shop as it's done it on like half my stock and I don't know which it's done it on until I check... I have over 800 products, this is a nightmare.
WHY is there not a toggle column for this like there is for visibility?? Seems like a pretty major oversight to me.

[2022-03-03 09:28] giacomolanzi opened #32014 "Shipping zones not showing in backend while they're working in frontend"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi guys,
The shipping zones and shipping classes disappeared from the back end.
At the same time, they are working properly in the frontend, so the customers doesn't have any pro

[2022-03-03 10:08] giacomolanzi commented on #32014
I isolated the problem in a specific plugin: WooCommerce Payments. I will bring the issue over their support.

[2022-03-03 10:08] #32014 closed, assigned to nobody

[2022-03-03 10:22] rjchow commented on #32147
Made a PR to wp-calypso for this https://github.com/Automattic/wp-calypso/pull/61636

[2022-03-03 10:44] EjayhanFernandes opened #32016 "Removing Zone region and saving shows "Your changes were not saved. Please retry." and endless loading."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Your changes were not saved. Please retry." notification pops up and endless loading happens when removing a Zone region and saving.

### Expected behavior

You should be able t

[2022-03-03 11:21] Streamlinelv opened #32018 "WooCommerce hooks not triggered after deleting or trashing WooCommerce coupons"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce hooks not triggered after deleting or trashing WooCommerce coupons.
Hooks in question:

- woocommerce_trash_coupon
- woocommerce_delete_coupon

### Expected behavior

[2022-03-03 11:55] ArriolaMotor opened #32019 "Fallo al editar varios productos a la vez"
Hola, tengo un fallo constante por el cual no me deja editar el precio de varios productos a la vez, me pueden ayudar?

[2022-03-03 12:07] jonathan-dejong commented on #21101
We've found that this is still an issue today so yes please reopen @mikejolley ?

[2022-03-03 13:49] palewar opened #32020 "[Enhancement]: Move Wiki docs inside Docs folder in the repo or a separate Docs repo"
### Describe the solution you'd like

Right now most of the developer focussed documentation reside in the Github Wiki. Which is all great, but is mostly maintained by the core team. If anyone has an issue, they report it and someone from the team takes care of it. However is this the best approach?

**Shouldn't documentation of an open-source project be open-source as well?**  If we let anyone co

[2022-03-03 15:12] aheckler opened #32145 "Revenue numbers incorrect in order export"
To reproduce, place an order for a product with some shipping charge. Then under Analytics > Orders, create a filter such that the order shows in the list of transactions at the bottom, then download it. You'll get a CSV like this:

![image](https://user-images.githubusercontent.com/5512652/156592944-70c80faf-d293-4d79-84f7-33a71db4a137.png)

Note from Ilyas:

This was highlighted here: p164571602

[2022-03-03 16:50] verofasulo opened #32144 "Task List: Add Products Task - Layout Experiment"
**User story:**
As a new merchant
I want to start with a pre-filled product
So I can easily understand what are the most important fields according to the type of product that I want to sell.

**Description:**
We reviewed the Add products page and built upon the Start with a template idea that performed well in the [previous testing](https://github.com/woocommerce/woocommerce-admin/issues/5296).

[2022-03-03 16:57] verofasulo opened #32143 "Task List: Add Products Task - Import products"
**User story:**
As a new merchant with an existing product catalog
I want to be able to see the import options highlighted
So I can quickly import my products.

**Description:**
We reviewed the Add products page to organize the options according to the user profile. If users declared they're already selling somewhere else, they're addressed to the "Import products" page that makes more prominent o

[2022-03-03 17:17] alaflam opened #32021 "store manager problem when updating product"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For some time now, when a store manager type user tries to edit a product, they get the message: "Your entry has been marked as spam and has been blocked".
If he does it in quick

[2022-03-03 18:39] gudsystems commented on #9320
Why is this issue closed?

It's can be a real problem for a large part of the userbase.

[2022-03-03 20:17] coutheradmin opened #32022 "Hosting Server Read Timeout -- Error 502 Unable to Connect to Origin Server"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unable to "Add" or "Edit" either pages or posts on Wordpress. When attempted, the result is system hosting response error 502. This error has been an result since BEFORE the most

[2022-03-03 21:53] jacob-sewell commented on #32145
I want to note the similarity to [#6898](https://github.com/woocommerce/woocommerce-admin/issues/6898)

[2022-03-03 23:45] #29445 closed

[2022-03-04 04:12] chihsuan opened #32142 "Prevent 'npm install' for npm >= 7"
After switching to use `pnpm`, we use `preinstall` check (same protection that Core has) to prevent from running `npm install`.

However, it doesn't work with npm >= 7. See https://github.com/woocommerce/woocommerce-admin/pull/8349#discussion_r817963370, though it still fails to install due to ` workspace:*`.

[code]

I found a relevant npm issue that looks like `preinstall` doesn't work well sinc

[2022-03-04 07:03] AashikP opened #32023 "Twenty Twenty-One theme - Remove Product Button missing on alternate products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With [md.2021](https://wordpress.org/themes/twentytwentyone/?aff=10486&cid=1131038), the product remove button is only displayed on alternate products when viewed through mobile

[2022-03-04 07:14] rjchow commented on #32170
Hey @shankeyb, I'm afraid I'm not able to help you develop custom code. No guarantees, but we'll see if we can find someone who is able to help you with this

[2022-03-04 09:56] grogou opened #42647 "Performance problems with dynamic rendered blocks."
## Describe the bug

I don't know is it bug or no, but the problem is on frontend.
Is there all oki with this js files loaded on frontend?

![image](https://user-images.githubusercontent.com/10712881/156740366-9a64506b-d6a4-42e4-94d2-60d6b59e8631.png)

Because for example block-editor script loaded on frontend.

![image](https://user-images.githubusercontent.com/10712881/156740603-402de696-5dcb-43

[2022-03-04 12:17] vestaxpdx commented on #27626
I have been facing this exact same issue and wonder why Woo do not add an option **I will enter shipping costs inclusive of tax**, much the same way they have for product prices.

The only way I have managed to fix this for me was the following.

- Set the Number of decimals to 4 in Woo Settings -> General -> Currency Options
- Then to remove the extra decimal places on the front end add this code

[2022-03-04 15:12] sunyatasattva commented on #42647
Thanks for the report, @grogou.

I'll take this as a nice start to talk about this with the team. It's probably going to take time before we address this as we need some big architecture decisions to be made, but I'll keep this issue as a reference for now.

[2022-03-04 15:19] grogou commented on #42647
@sunyatasattva thank you for your response, after some checks I can see the problem is @wordpress/element render function.
When it is called on front js the whole wordpress packages loaded on frontend for no reason. So maybe the problem is not woocommerce blocks, maybe it is wordpress core or gutenberg plugin issue, or element package issue. It will be nice to solve this, because the only thing in

[2022-03-04 15:20] sunyatasattva commented on #42647
This is an excellent point and thanks for the positive feedback. We are trying our best, I'll keep you posted!

[2022-03-04 15:28] grogou commented on #42647
@sunyatasattva thank you too.

[2022-03-04 16:25] pmcpinto opened #32141 "Add Pinterest extension to onboarding wizard and marketing task"
**Description:** we plan to include the new Pinterest extension in the marketing task, starting in the WooCommerce 6.5 release (code freeze: April 14). More info here: paqDfi-3fd-p2

**OBW: Business features step:**
Location: Grow your store - below Google Listing and Ads
Copy: Inspire shoppers with [Pinterest for WooCommerce](https://woocommerce.com/products/pinterest-for-woocommerce/)

**Tasks:

[2022-03-04 18:19] vijayhardaha commented on #32002
Since version 3.3 Product Images settings have been moved in **Customizer > WooCommerce > Product Images.**

https://woocommerce.com/document/fixing-blurry-product-images/#section-4
Check the version 3.3 guide on the link.

[2022-03-04 18:35] barryhughes commented on #29535
Clearing 'needs developer feedback' flag since I think we have a path forward and don't need further input at this stage, beyond what was outlined in the last comment.

[2022-03-04 18:44] barryhughes commented on #30154
Without further info I can't say for sure, but strongly suspect that this is a timing issue, with the order received page rendering just slightly ahead of the order being updated to 'completed' (and that latter action is perhaps delayed because of latency with IPN: not something we can control).

By webhook I think you mean the IPN message (but let me know if I'm misunderstanding). Unfortunately,

[2022-03-04 18:44] #30154 closed

[2022-03-04 18:47] barryhughes commented on #30187
Taking a fresh look, this seems reasonable and we'd be happy to look at a PR if you wished to submit one (@helgatheviking)?

[2022-03-04 19:03] barryhughes commented on #30728
Adding titles as suggested seems like a reasonable enhancement :+1:

[2022-03-04 19:53] barryhughes commented on #30159
So noting first of all that those findings match the logic @rodelgc already described a little earlier.

Understood, but it is not clear to me if you are suggesting `165.03` is actually preferred/correct or if the concern is more one of potential customer confusion?

[2022-03-04 20:30] jonathansadowski opened #32025 "GitHub actions for managing "needs: author feedback" labels too aggressive"
@barryhughes reported that he removed `needs: developer feedback` and added `needs: author feedback` at the same time on [this issue](https://github.com/woocommerce/woocommerce/issues/30159). The action that manages labels removed `needs: author feedback` and added `needs: triage feedback`.

Notes: Maybe it's considering the addition of the label itself as author feedback? There could be another p

[2022-03-04 22:34] dartrax opened #32028 "PHP 8 Fatal error: Uncaught TypeError: method_exists() in class-wc-install.php:642"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Still present in WC 6.3.1

PHP 8 changed the way method_exists() behaves as it now throws a fatal error on passing the first parameter with anything other than string or object.

[2022-03-04 22:46] ObliviousHarmony commented on #31478
Hello @rotem657, this issue is awaiting prioritization from the owning development team.

[2022-03-05 00:16] biasga opened #32029 "Woocommerce Screen Option empty and hidden"
I have a store using Woocommerce and I used to see the orders of the month on the dashboard widget/screen option.

But one day this box was empty. After that, the box disappeared. I have no option to choose the visibility of it.

![Sem título](https://user-images.githubusercontent.com/13383796/156858628-7b42e312-f722-4dc4-a9d8-f2dc30dc3aad.png)

[2022-03-05 03:23] biasga commented on #32029
https://wordpress.org/support/topic/woocommerce-configuration-empty-on-dashboard-elements/#new-topic-0

I have posted it last month, but I didn't solve it yet.

[2022-03-05 09:04] eoinkennedy commented on #27626
Referencing this issue, as it's very similar
[https://github.com/woocommerce/woocommerce/issues/31887](url)

[2022-03-05 09:04] eoinkennedy commented on #31887
Referencing [https://github.com/woocommerce/woocommerce/issues/27626](url)
Similar issue, and using only WooCommerce.

[2022-03-05 17:49] izonnn commented on #31478
Also facing this issue no responsive emails on phone,
Please update when fixing/starting to solve this issue.

Tnx!

[2022-03-05 17:54] PositivPy opened #32030 "Update hangs after action-scheduler"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

While using either wp-cli or web, I'm trying to update to version 6.2.1 from 5.2.3 but it hangs forever after
```Debug (commands): Adding command: action-scheduler (0.418s)```.
T

[2022-03-05 22:13] helgatheviking commented on #30187
Hi @barryhughes I took a stab at it... let me know what needs changing.

[2022-03-06 19:38] milleranddesign commented on #32002
That is the exact complaint I registered with a link and screenshots. The
settings are missing in woo and I am unable to follow this set of steps.

On Fri, Mar 4, 2022 at 12:19 PM Vijay Hardaha ***@***.***>
wrote:

--
Ashley Miller   |   International Marketing Specialist    |
www.MillerAshley.com

[2022-03-07 04:02] becdetat commented on #32219
@pmcpinto @adrianduffell @ilyasfoo  Is this ticket able to be closed?

[2022-03-07 04:11] becdetat commented on #32258
@pmcpinto Can we close this issue?

[2022-03-07 07:11] shankeyb commented on #32170
Please Do something regarding it and i would be glad if you provide some snippets here! so that i just need to replace status value. thanks!

[2022-03-07 10:39] farisbaduy opened #32032 "the product price on the Woocommerce Best selling element and the product price"
I’m having a problem with the product price on the Woocommerce best seller element and the product price when adding an order doesn’t match the price given by Dynamic Pricing

[2022-03-07 10:49] dkoerner85 commented on #31905
Hi,

From my analysis, It seems that WooCommerce Core never calls WC_Customer's set_is_vat_exempt function. The structure seems to me that core only provides the field and WooCommerce EU VAT (or other plugins for that matter) handle the actual setting of the value.

So the answer is NO, I cannot reproduce the issue without the EU VAT plugin since the issue does not make sense then as it is explici

[2022-03-07 11:29] someka commented on #30893
Hi @erikyo Thanks for the guidance and the code.
**CLS:** I have tried it and it apparently improved CLS. (even though it did not completely make it zero. Still shows the main image as a source for layout shift. But there are lots of things to consider, so not so easy to know)
**LCP:** It didn't have big effect on LCP. Still red.
**FOUT:** One more thing: now after removing the opacity cover, now

[2022-03-07 11:54] pmcpinto opened #32140 "Task completion event not firing with WCPay task"
### Describe the bug
The `wcadmin_tasklist_task_completed` event is not working properly with the WooCommerce Payments task. It went from ~200/day to almost 0 after Dec 15 (WooCommerce 6.0, [WC Admin 2.9](https://github.com/woocommerce/woocommerce-admin/blob/release/2.9.4/changelog.txt))

### To Reproduce

1. Create a new store with US as a country
2. Install WCPay in the business features step
3.

[2022-03-07 11:58] pmcpinto commented on #32140
@becdetat @mattsherman is it possible to check this during the current cycle? I'm not sure if this was caused by woocommerce/woocommerce-admin#7736

Thanks!

[2022-03-07 12:07] stian-overasen opened #32035 "[Enhancement]: Use `show_admin_column` to automatically show product categories and tags in admin list"
### Describe the solution you'd like

Instead of using the `show_admin_column` arg for [register_taxonomy()](https://developer.wordpress.org/reference/functions/register_taxonomy/) when registering `product_cat` and `product_tag`, WooCommerce is currently adding these two admin columns manually in [class-wc-admin-list-table-products.php](https://github.com/woocommerce/woocommerce/blob/trunk/plugin

[2022-03-07 13:11] vitsupport commented on #25864
Hi. Why can't the option for decimals be changed to apply for both price and shipping? Changing the locale generates, as @Marcoevich said, unwanted changes for i.e. CSS. Most users who install a ready made theme, are just users and not developers, and expect to use the same decimal separater through out their site... Or am I totally wrong? :)

[2022-03-07 13:15] rhrizwanhaider opened #32036 "Theme Support Modrox Plugin Issue"
Fatal error: Uncaught Error: Cannot call constructor in E:\xampp\htdocs\awtextiles\wp-content\plugins\theme_support_modrox\includes\vafpress\classes\metabox.php:117 Stack trace: #0 E:\xampp\htdocs\awtextiles\wp-content\plugins\theme_support_modrox\includes\loader.php(97): VP_Metabox->__construct(Array) #1 E:\xampp\htdocs\awtextiles\wp-includes\class-wp-hook.php(307): _bunch_plugin_init('') #2 E:\x

[2022-03-07 15:59] johnknoop opened #32037 "API documentation incorrect with regard to data type"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The API documentation states that the `rate_id` property of `order.tax_lines` is a string, but in reality it's a number. I've checked with two different Woo stores and both retur

[2022-03-07 16:58] techartdev opened #32038 "Ignore `display_` attributes in LineItems metadata to prevent error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I'm using slightly modified version of https://github.com/XiaoFaye/WooCommerce.NET in part our custom POS application for our physical shop. We use it to update product quantitie

[2022-03-07 17:59] gabrielgiorisatto commented on #26029
Any news? My physical store stock needs to be sync with my woocommerce stock and it has more then 10k products and each PUT (or any request) takes more then 1s to finish.

[2022-03-07 19:52] #32003 closed, assigned to Luc45

[2022-03-07 19:56] MrJnrman opened #32039 "Investigate why GitHub is running older versions of workflows"

[2022-03-07 20:01] MrJnrman commented on #32039
GitHub seems to be executing and [older version](https://github.com/woocommerce/woocommerce/actions/runs/1911374296) of `smoke-test-release.yml`.

If you take a at the run above, you'll see that its not executing the steps outlined in the current version of [smoke-test-release.yml](https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/smoke-test-release.yml). This shouldn't be th