[2020-01-17 12:52] #25394 closed

[2020-01-17 12:54] rodrigoprimo commented on #25241
Fixed in #25322

[2020-01-17 12:54] #25241 closed

[2020-01-17 13:27] alendev commented on #21720
The option "sequentially calculation of coupons" does what it should do - applies coupons in user specific order, what would result in having different totals depending on the order (in case of fix + percentage discounts). The initial Bug was that fixed discounts were always calculated first, followed by percentage discounts.

@KVNHNF therefore, what you are reporting is expected behaviour. Disabl

[2020-01-17 14:34] juliaamosova commented on #25223
Hi @Holu8,

Apologies for the delayed response. I finally figured out what was the issue. I am now getting the highest tax rate applied to shipping on my end using the latest WooCommerce version 3.8.1.

The answer can be found here in the code:

https://github.com/woocommerce/woocommerce/blob/7701d4b57cb20dc89e25bb7bf2ff872d85f4c535/includes/class-wc-tax.php#L577

In the case of multiple tax rates

[2020-01-17 16:04] juliaamosova commented on #24136
Hi @peterfabian,

Thanks for filing this issue. I am going over older bugs without assigned priority hence the late comment here.

I see that if you assign a page which is in draft to be the shop page, the shop page looks empty (tested with 3.8.1):

![shop1](https://user-images.githubusercontent.com/19143190/72626512-c4c39c00-3942-11ea-9926-1e2372267ade.jpg)

![shop2](https://user-images.githubuse

[2020-01-17 16:19] juliaamosova commented on #24136
Hi @anjamray,

Note that we reply here in English language only. I translated your message using [Google Translate](https://translate.google.com/). You can do the same translating my message back to Arabic.

مكررة مكررة من #

Translation from Arabic:

Duplicate duplicate of #

It is not clear from your message what you are referring to. It also doesn't look like it is related to the original issue

[2020-01-17 16:58] juliaamosova commented on #24293
Hi @jessepearson,

Thanks for raising the issue and providing clear steps to reproduce it. Apologies for the delayed response. We are now going over older bugs without priority, hence the delayed response on our end.

I am getting incorrect results in the reports after refunding the product but they are different from what you are seeing:

- I have a product that costs $63.00 and is assigned to ca

[2020-01-17 16:58] #24293 closed

[2020-01-17 17:44] mrbeardo opened #25421 "Total isnt recalculated for Stripe after paid order edit"
After an order has been paid, and another item has been added for the customer, I cannot get the total to calculate with the remaining amount due after the extra product has been added, but it is trying to charge full amount once a new invoice has been sent (Woocommerce Stripe Payment Addon)

[2020-01-17 18:02] juliaamosova commented on #24288
Hi @treibalen,

Thanks for raising this issue! I can reproduce the same on my end:

- I created the following coupon:

![201](https://user-images.githubusercontent.com/19143190/72634010-9c8f6980-3951-11ea-8142-1cb5ef24e606.jpg)

- With the following Usage Restrictions:

![202](https://user-images.githubusercontent.com/19143190/72634041-ac0eb280-3951-11ea-9de0-c7fdea2574c7.jpg)

- My `Product 63` t

[2020-01-17 18:32] juliaamosova commented on #24331
Hi @grigorijurasov,

Thank you for raising the issue. And apologies for the delayed response - we are now in the process of cleaning the repository and going over all the older bugs that have not been triaged by our team.

With that said, I am not able to reproduce the issue described:

- I have an attribute `Brands` that has 2 options: `H&M` and `Zara`. `Zara` has 5 products assigned to it:

![za

[2020-01-17 18:38] juliaamosova commented on #25421
Hi @mrbeardo,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

In addition to the above, issues related to WooCommerce Stripe should be filed in the [Stripe Payment Gateway for WooComme

[2020-01-17 18:45] realrecordzLab opened #25422 "custom css classes for forms input and sidebar"
We started use woocommerce and we need to integrate it with a custom theme that is using bootstrap 4. After reading the documentations we started to modify the templatesby using the hooks and by overriding all the default templates. What we are not able to do is to style the forms, we need to add the bs4 classes to the inputs fields and to the labels, but we didn't found any documentation or hooks

[2020-01-17 19:26] juliaamosova commented on #24568
Hi @treibalen,

Thanks for raising this issue. And apologies for the delayed response - we are not in the process of cleaning up the repository and going over older bugs without assigned priority.

With that said, I can reproduce this issue with WooCommerce 3.8.1:

- My product initially had `total_sales` `1`:

![t1](https://user-images.githubusercontent.com/19143190/72640062-fd716e80-395e-11ea-93

[2020-01-17 20:05] juliaamosova commented on #24288
We are going to leave this issue open for now with label `question` which means as a team, we are going to evaluate it at some point over time. The concerns are related to the 3rd party plugins that may rely on the existing functionality as-is.

In the meantime, the workaround could be creating 2 separate coupons:

- one coupon to restrict products;
- another coupon to restrict categories.

[2020-01-17 20:20] juliaamosova commented on #25220
Hi @corycheng,

As a part of this repository’s maintenance, I am closing this issue due to inactivity.

I double-checked once again, and my `wp_woocommerce_order_items` lookup table looks as expected:

![Screen Shot 2020-01-17 at 8 18 31 PM](https://user-images.githubusercontent.com/19143190/72643525-c99a4700-3966-11ea-827e-0c0d54a4e29f.png)

Please feel free to comment on it in case we missed som

[2020-01-17 20:20] #25220 closed

[2020-01-17 21:06] GithArtprofile commented on #14838
Hi guys, I had this problem, any idea to solve it? It showing on product page.
Warning: sprintf(): Too few arguments in /web/htdocs/www.xxx.com/home/wp-content/plugins/woocommerce/includes/wc-formatting-functions.php on line 1185

[2020-01-17 21:24] GithArtprofile commented on #14838
Solved. Was a traduction problem. Tks
/* translators: %s: stock amount */
				$display = sprintf( __( 'Only %s left in stock', 'woocommerce' ), wc_format_stock_quantity_for_display( $stock_amount, $product ) );
			}

[2020-01-17 22:49] virik commented on #24331
Hello,

The problem is not products but product variations. Let’s say you have four products (t-shirt) where all of them comes in two variations (white and black). And let’s say one of them is no longer available in black.

When you filter by black, you should only get three results, but you actually get all four, because the product is still available in white. However if you filter by black, you

[2020-01-18 18:41] harishankerr commented on #25407
Thanks for the feedback, and the suggestions @juliaamosova and @rynaldos! This is super-helpful, and I appreciate it a lot.

[2020-01-18 18:52] justdudeone commented on #24883
Don't understand why developer don't make this obvious improvement already?! WooC existed attributes without categories separating and with necessity add them one-by-one on product creating - is a real annoying archaism!

Can anyone resolve this problem???

[2020-01-18 21:34] ajgw opened #25423 "WC 3.8.1 blocks by category hidden after attribute deleted"
- Have inserted in post a block products-by-attribute and selected values.
- Saved and published post.
- Went over and deleted attribute value because I changed my mind.
- Went back to post and block is hidden, so I created new block products-by-attribute and selected another attribute.

Only last block with products can be seen in post edit screen. But if you switch from visual editor to code edi

[2020-01-19 22:28] crstauf commented on #25367
@tammullen I'm entirely confused now.

`WC_Data_Store_WP->update_or_delete_post_meta()` deletes `_transaction_id` because the meta value is empty. I added some logging to `WC_Gateway_Paypal_Response::payment_complete()` function:

[code]

Here's the value of the log:

[code]

It's very strange: `$order->get_transaction_id()` does have a value, but then at some point the data is overwritten to be e

[2020-01-20 01:21] jrcamarillop opened #25424 "Issue with cheakout from a LearnPress course"
Hi, I have a problem when trying to collect payments from LearnPress. When the client try to proceed to pay, an error is shown to him. This is a link to the error that is shown to the client [image](https://lh3.googleusercontent.com/RRXTjeamVzQwb1-mS79cFcj8d7W9Iyo18fKbzy9lepKhtqJV_cublK7TmnOlpv8H1J7Oiw6VJHiMggUG6W4sxsaPNau21wRa_vGq5U6Y5yFW4RJjZSVJLM0W8274nJamriZYB9D91bhIPuR3f99ot9BfT6gh5XW3WpfAD5p

[2020-01-20 04:45] nearmira05 opened #25425 "Product image won't update"
For a few months, I noticed that my new product image won't update on my book product page. When I add the new image, and then go to the live page, the new image will show for 2 seconds then revert back to the old image.

please help.

[2020-01-20 09:46] juliaamosova commented on #25423
Hi @ajgw,

Thank you for reporting the issue. I am moving it to the [WooCommerce Blocks repository](https://github.com/woocommerce/woocommerce-gutenberg-products-block) where blocks are being developed so that the right team could take a look further.

[2020-01-20 10:14] StroggCore commented on #25397
Did you try to contact the payment gateway which is connected to your Woocomerce? I think they can help you to operate with it.

[2020-01-20 10:27] juliaamosova commented on #24367
Relaying here what @mikejolley noted regarding this issue in a non-GH conversation:

In this case, we should disable the option for the `shop` page to be private if possible.

[2020-01-20 11:46] vedanshujain commented on #24084
@juliaamosova @SiR-DanieL I am also getting same results as Julia.

We provide an option to make either subtotal tax accurate or individual line item tax total accurate via the option `Round tax at subtotal level, instead of rounding per line` in `WooCommerce -> Settings -> Tax`.

For egs, when I enable rounding at subtotal, I get accurate tax of $27 even when decimals are set to 0:

![Screenshot

[2020-01-20 12:24] #25094 closed

[2020-01-20 12:37] vedanshujain commented on #25402
@juliaamosova  is this on the latest WooCommerce. This was fixed in #24846 which is available in 3.9.

[2020-01-20 12:44] Robbertdk commented on #24081
Hi @juliaamosova! Thanks for the reply. Good to see this added to the backlog 😀

[2020-01-20 13:06] noellesteegs commented on #25402
@vedanshujain I spoke to Amanda when I reported the bug to Woo. The WP install I discovered the bug on runs 3.8.1. I see WC 3.9 is due to be released tomorrow?

[2020-01-20 13:28] tammullen commented on #25425
Hi @nearmira05,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like it could be a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm if it is bug with product images, please follow one of the steps below:

[Revi

[2020-01-20 13:28] #25425 closed

[2020-01-20 13:59] tammullen commented on #25424
Hi @jrcamarillop,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

[Review WooCommerce Self-Service Guide](

[2020-01-20 13:59] #25424 closed

[2020-01-20 14:16] pxlrbt opened #25427 "Select2 CSS adjustment is affecting other plugins"
**Describe the bug**
`admin.css` is overwriting Select2 default style adding a nice dropdown arrow. This arrow is larger (28px) than the reserved padding (20px). When using Select2 with nullable dropdowns this blocks the deselect 'x' from being clickable.

This happens when using WooCommerce with e.g. Advanced Custom Fields.

**Screenshots**
Padding:
![image](https://user-images.githubusercontent.

[2020-01-20 15:53] juliaamosova opened #25429 "Correct MaxMind error message shown in the case of invalid key to include option for the key not being activated yet"
**Is your feature request related to a problem? Please describe.**

When a new license key is generated, MaxMind can take up to 5 minutes to activate it. They do display the notice that it may take up to 5 minutes to activate, but it could be easily missed.

So after generating the license, when a user instantly enters the license in WooCommerce, they get The MaxMind license key is invalid. error

[2020-01-20 16:46] #25429 closed

[2020-01-20 17:21] juliaamosova commented on #24084
@vedanshujain thanks for additional testing!

I tested with decimals zero `0` using WC 3.9 rc-3:

I am getting the same results as you get if I enable `Round tax at subtotal level, instead of rounding per line` in `WooCommerce -> Settings -> Tax.` The total tax displayed is $27. My only issue with it is that 6 + 5 + 5 + 5 + 7 = 28 (not 27 as it gets displayed).

![27](https://user-images.githubuse

[2020-01-20 17:57] juliaamosova commented on #25402
@vedanshujain thanks for the feedback. My bad for not noting the version I tested with. I did test with 3.8.1. I just tested with WC 3.9 rc-3 and the issue is no longer present.

@noellesteegs @amandasjackson can you please test as well with WC 3.9 rc-3 and let us know if the issue is resolved on your end?

The easiest way to test it would be installing [WooCommerce Beta Tester](https://wordpress.

[2020-01-20 18:49] dstana opened #25432 "Products Mis-labeled with "Free" Badge/Banner"
**Describe the bug**
Woocommerce is mistakenly adding the "Free" Badge to products. This applies to products listed in bulk, not on the product page itself. They also show up when plugins reference them (such as the Yith Product Slider).

**To Reproduce**
Steps to reproduce the behavior:
1. Create variable product
2. Add product variations
3. Create product variation with price of "0"
4. Disable 0

[2020-01-20 20:17] dougaitken opened #25433 "Logout behaviour via My Account isn't consistent"
**Describe the bug**

2647076-zen

Pressing logout via a menu item returns a message - `Are you sure you want to log out? Confirm and log out`.

Pressing the [submenu button `logout`](https://github.com/woocommerce/woocommerce/blob/2e61321e2a6b89d89de92b0270c6cd0e00a44ea9/includes/wc-account-functions.php#L95) or the [`not %1$s? <a href="%2$s">Log out</a>`](https://github.com/woocommerce/woocommer

[2020-01-20 21:23] efoken commented on #25347
Hi @tammullen ,

and thanks for translating screenshots. Well, I see you reproduced the issue correctly – have you looked at your first screenshot carefully? In which world is `13,03€ * 3 = 39,08€` and `13,03€ * 5 = 65,13€` ?? 😄

[2020-01-20 21:29] edotoro opened #25434 "woocommerce my account endpoints redirecting to account page"
Woocommerce account page endpoints are loading the account page rather than their respectable pages.

Ex: www.mysite.com/my-account/edit-account/ is loading the my account page

I have already defined the endpoints via woocommcerce>settings>advanced>endpoints

Is there a snippet that I can add to make sure that the links on the my account page go to the proper endpoints?

Thank you!

[2020-01-20 21:31] efoken commented on #25347
Oh! I've seen another one in your second screenshot that says, there are 19,79 € VAT – how can it be that then the total is 124,00€ and subtotal is 104,20€ ? 😄

[2020-01-20 23:41] yunusbayraktaroglu opened #25437 "Adding something to the cart causes "rest_cookie_invalid_nonce 403" error."
**Describe the bug**
Adding something to the cart causes rest_cookie_invalid_nonce 403 error.

I'm installing WooCommerce to a fresh default theme(Twenty nineteen). Then I'm creating a page named reviews that includes WooCommerce all reviews gutenberg block.

In a browser that has not visited the site before (without cookies, not logged in), the reviews page is displayed without any problems. If I

[2020-01-21 00:21] rochow opened #25438 "Cash on Delivery Performance"
**Describe the bug**
class WC_Gateway_COD extends WC_Payment_Gateway {}

__construct() { $this->init_form_fields(); }

init_form_fields() {
Get zones
Get methods for every zone
Then for each zone inside a method, get methods for the zone
}

At no point does this check "is COD active and I need to run all this code?"

Refer to the screenshot section to see the New Relic & DB queries on a normal web

[2020-01-21 02:34] NickGreen opened #25439 "Category widget omits first category created when ordered by "Category order""
**Describe the bug**
When category widget has "order by" set to "Category order," one of the categories isn't displayed in the front-end widget. In both cases where it's been duplicated, it's the first category created.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a selection of product categories, make sure there are products assigned to each
2. Create a `Product Categories` widge

[2020-01-21 03:31] marke123 commented on #25361
Just an FYI, Matomo.org (formerly Piwiki Analytics) reports that they switched over from maxmind to db-ip.com due to the license requirement.

[2020-01-21 03:53] dogrescuer commented on #20921
Hello @TimBHowe
Thank you for the update.

Flat rate shipping accepts non-currency characters that are erroring out in the math class.

The rules are located here.

https://docs.woocommerce.com/document/flat-rate-shipping/

They include
-  placeholders [qty] and [fee]
- arguments percent, min_fee, max_fee
- square brackets
- asterisk for multiplication
- quotation marks
- plus sign

Thank you

[2020-01-21 06:54] noellesteegs commented on #25402
@juliaamosova Thanks very much. I will await 3.9 and test.

[2020-01-21 09:42] WPAleks-PFS opened #25441 "Serbian Currency"
**Description**
Currency for Serbia is Dinar but in WooCommerce it’s  дин. and it should be рсд since that is the official currency symbol and by the law, we should display рсд in Serbian shops. Of course, it should stay as Cyrillic since that is our primary and official letter.
https://www.xe.com/currency/rsd-serbian-dinar

[2020-01-21 10:13] dejury commented on #21520
Is there any way to do this right now? I can't figure out a way without changing the class-wc-product-data-store-cpt.php

[2020-01-21 10:29] peterfabian opened #25442 "Support link in the plugin list confusing and/or incorrect"
**Describe the bug**
p6q6po-aos-p2
We should improve the user experience and, preferably, make the link point either to forum or appropriate support channel based on customer type.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to installed plugins
2. Click on 'Premium support'
3. See what happens

[2020-01-21 11:06] mrmu opened #25443 "[WC Restful API v3] Try to update shipping zone methods but get "rest_invalid_param" message."
**Describe the bug**
I want to update the settings "Calculation type" of a "Flat Rate" shipping method of a shipping zone by sending PUT request to /wp-json/wc/v3/shipping/zones/<id>/methods/<id> with json data:
`
{
  "settings": {
  	"type": "order"
  }
}
`
But it returns error message (rest_invalid_param).

**To Reproduce**
Steps to reproduce the behavior:
1. Create api key with read & write cap

[2020-01-21 11:06] mrmu opened #27553 "[v3] Try to update shipping zone methods but get "rest_invalid_param" message."
**Describe the bug**
I want to update the settings "Calculation type" of a "Flat Rate" shipping method of a shipping zone by sending PUT request to /wp-json/wc/v3/shipping/zones/<id>/methods/<id> with json data:
`
{
  "settings": {
  	"type": "order"
  }
}
`
But it returns error message (rest_invalid_param).

**To Reproduce**
Steps to reproduce the behavior:
1. Create api key with read & write cap

[2020-01-21 11:10] juliaamosova commented on #25393
Hi @crazymiwka,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-21 11:10] #25393 closed

[2020-01-21 11:11] juliaamosova commented on #25397
Hi @jarynleigh,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-21 11:11] #25397 closed

[2020-01-21 11:14] juliaamosova commented on #25377
Hi @ascend2glory,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-21 11:14] #25377 closed

[2020-01-21 11:47] robin-scott commented on #24184
Is this resolved in 3.9.0 - got this raising some problems. Adding some visual context below. I got a workaround, but I don't like it. Just picking up to see if we got this yet?

![image](https://user-images.githubusercontent.com/17259256/72802360-85979280-3c43-11ea-85b6-100d9258f3f9.png)

This is rounded to

![image](https://user-images.githubusercontent.com/17259256/72802438-b1b31380-3c43-11ea-9

[2020-01-21 11:56] robin-scott commented on #24184
Note - I just checked RC4 for WC 3.9.0 and this is not resolved. Issue is the sub-total (or product line calculated) price is wrong, and also, if the price would be .00 this also renders the tax value wrong, too. Tax should be rounded up, and the price should be rounded down. The 0.004 goes to the tax authorities.

[2020-01-21 12:59] peterfabian opened #25444 "Make GeoLite logging less intense"
**Is your feature request related to a problem? Please describe.**
Currently, on update to 3.9, the logging about missing file is triggered quite frequently. This could balloon quickly on frequently visited sites:

![Screenshot 2020-01-21 at 13 57 29](https://user-images.githubusercontent.com/2207451/72806720-0a8ba780-3c56-11ea-8d75-5ada79b74ad4.png)

**Describe the solution you'd like**
Throttle

[2020-01-21 13:17] Wassmo1 commented on #24354
Hi Woocommerce/Automatic, can we please get an update on this, it needs to get resolved quickly, it's been outstanding for nearly 1 year now!!

[2020-01-21 14:12] #25444 closed

[2020-01-21 14:44] Babelfisch opened #25445 "[REST API v3] Inconsistent data in the sales report if there are refunds"
I think the sales report `/wp-json/wc/v3/reports/sales` provides inconsistent data if there are refunds in the given period. The field `total_sales` contains the gross sales minus the refunds. If I have gross sales of 100 Euro today and a refund of 8 Euro, `total_sales` is 92. Also the `total_refunds` field has value 8. Correct!

But in the `totals` array for the report grouped by day, the field `

[2020-01-21 15:20] StefanNieuwenhuis commented on #25441
Isn't this already the case? See: https://github.com/woocommerce/woocommerce/blob/c92968582c436fe5ac19d6948c8fd51b23c25f7c/i18n/locale-info.php#L202

[2020-01-21 15:23] starypop opened #25447 "Incorrectly calculated order total after applying discount coupon at Edit Order screen"
**Describe the bug**
When manually applying a coupon at Edit Order admin screen to an order that has a product with a specific price and tax rate (ie. $129.00 and 8% tax rate), the recalculated order total is 0.01 lower than it should be. Having the same Store settings, the coupon discount and discounted order totals calculations in front-end Cart and Checkout pages are done correctly.

**To Repro

[2020-01-21 15:37] WPAleks-PFS commented on #25441
Noup, let me show you the problem.

![Screen Shot 2020-01-21 at 16 35 07](https://user-images.githubusercontent.com/53833972/72818748-4893c600-3c6c-11ea-9095-c9762386a51f.png)
![Screen Shot 2020-01-21 at 16 35 58](https://user-images.githubusercontent.com/53833972/72818749-4893c600-3c6c-11ea-89db-90e1a3ed7ed9.png)

You can see that in both places it's in Cyrillic дин.

[2020-01-21 15:38] WPAleks-PFS commented on #25441
It can't be changed in translation since I'm the translation editor and I looked for it but it's not possible since there is no translatable string.

[2020-01-21 15:51] narkan commented on #20921
Thanks guys!!

On Tue, 21 Jan 2020 at 03:53, dogrescuer <notifications@github.com> wrote:

--
Toby

*TOBY COSH *Designer // Web Developer // Owner

t: 01234 924888

e: toby@narkan.co.uk

w: narkan.co.uk

*NARKAN Ltd* - Company number: 9169734
Registered in England & Wales

[2020-01-21 16:00] peterwesterlund opened #25448 "billing_email doesn't work anymore?"
I don't know when this happened but probably very lately. I update WC regularly. But I realized today that the email address typed in the `billing_email` field in the checkout is not saved as billing_email in an order.

Anyone know about this and what to do about it?

[2020-01-21 16:04] #25448 closed

[2020-01-21 17:25] peterfabian commented on #25420
Hi @Johnny99211,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end. Please provide us with more details about the issue which may help us to evaluate it further.

Have you tried to deactivate all the other plugins? Can you please include your System status report so that we have more info

[2020-01-21 17:40] claudiosanches commented on #24354
@Wassmo1 this issue have already passed on our triage, we confirmed that we intent to fix it, and we'll fix as soon as possible, but it's a low priority right now.

[2020-01-21 17:45] csalzano commented on #18379
If you want to live dangerously and enable the export of serialized meta data, make this small change to WooCommerce. Changing plugin code is not recommended because your changes will be lost during the next update. https://github.com/woocommerce/woocommerce/blob/0436d8637f59726202bc4539ec4c4078e1a0e514/includes/export/class-wc-product-csv-exporter.php#L711-L713

					if ( ! is_scalar( $meta_value

[2020-01-21 17:55] Wassmo1 commented on #24354
Hi Claudio, it isn't a low priority for me and my client, we currently have to check every transaction to check if the Tax has been missed correctly furthermore this has been outstanding for nearly 1 year, how long does it take for you to address "low priority" issues?

[2020-01-21 17:58] snooplewand commented on #24354
"It's a low priority?" You have to be joking right? This is costing business owners like us thousands of pounds. Plus you confirmed that we 'intent' to fix it back in February 2019 when I first reported this bug. The fact you are telling us now that you still intend to fix it doesn't fill me with confidence. We need this fixed now as a matter of urgency! I guess it's time to take this to social me

[2020-01-21 17:59] claudiosanches commented on #24354
@Wassmo1 This is open since "Aug 7, 2019", so not even close to an 1 year as you are reporting, if you give the change to fix, we probably we can as soon as possible.

[2020-01-21 18:04] claudiosanches commented on #24354
@snooplewand I'm on it already, I understand that for you is a matter of urgency, if you can be calm we can come to a solution.

[2020-01-21 18:11] itsgauravjain22 opened #25449 "Order - Line items properties should contain primary(first) product image"
**Is your feature request related to a problem? Please describe.**
When consuming the order rest api, it would be clear that we should get concise details of line items included in the order. But currently, we don't get the product image src. It should give a primary image url of the product.

**Describe the solution you'd like**
Primary Image src should be included in Order - Line items propertie

[2020-01-21 18:14] mal-42 opened #25450 "Woocommerce Order Export Tool not working"
Under _Woocommerce>Settings>Orders>Export>Orders>Open Tool_.

Both CSV and XML downloads aren't being downloaded completely. I've tried this on both Chrome and Firefox and downloads all fail. Any thoughts on why this is happening?

[2020-01-21 18:15] Wassmo1 commented on #24354
It is hard to remain calm when the system is causing us a lot of issues and for so long even if it was August, it's now nearly February the Next Year, It also seems like the solution shouldn't be too difficult.
Can you advise what you will be doing to fix this, and also how long it will take to fix, I hope this matter is no longer a low priority fix but being addressed right now.

[2020-01-21 18:18] claudiosanches commented on #24354
@Wassmo1 we are currently releasing 3.9, so we can fix it now for 3.10, that will get a beta version on February, so we can fix it right now, but I like again to ask you both to remain calm, I'm just trying to solve it and help.

[2020-01-21 18:21] snooplewand commented on #24354
@Wassmo1 This particular ticket may be dated August but I actually reported this directly to JetPack Support myself back in February 2019, so yes we are in fact coming up to a full year now! You shouldn't be surprised to hear that there have been numerous conversations outside of this ticket. For example, this ticket here which dates back to April: https://github.com/Automattic/woocommerce-service

[2020-01-21 18:23] snooplewand commented on #24354
@claudiosanches This particular ticket may be dated August but I actually reported this directly to JetPack Support myself back in February 2019, so yes we are in fact coming up to a full year now! You shouldn't be surprised to hear that there have been numerous conversations outside of this ticket. For example, this ticket here which dates back to April: Automattic/woocommerce-services#1600 which

[2020-01-21 18:30] claudiosanches commented on #24354
@snooplewand still not listed in here, so we are talking action now, if it started in this repository back in February, for sure we should already fixed it already.

[2020-01-21 18:38] snooplewand commented on #24354
Thank you @claudiosanches. We are all eagerly awaiting an update and hope that you can address this as a matter of urgency. Whilst it's reassuring to know you are now looking at this it's disappointing that JetPack didn't themselves open the issue in this repository back in February. It shouldn't be expected of the customer to do this.

[2020-01-21 18:42] claudiosanches commented on #24354
@snooplewand I agree with you, sadly we didn't got our attention before on Automattic/woocommerce-services#1600, probably someone got confuse about reporting it to Jetpack instead of WooCommerce, but as I said on WooCommerce we are only aware of it since August, and I'm looking to fix it for the next release circle.

[2020-01-21 20:21] rocketeer76 opened #25452 "Missing filters for button texts in cart"
**Describe the bug**
It's not possible to change the button texts on some buttons in cart using filters. I'm missing some filters similar to these:

woocommerce_order_button_text
woocommerce_product_single_add_to_cart_text

**Expected behavior**
I would like to have some filters such as these:

woocommerce_update_cart_button_text
woocommerce_continue_shopping_button_text
woocommerce_apply_coupon_b

[2020-01-21 21:03] compassema opened #25453 "Orders have been failing for months"
Please provide help. Orders have been failing on powaydermatology.com using Woocommerce on Wordpress. The first failed order was on Nov. 18, 2019.

[2020-01-21 21:04] compassema opened #25454 "Orders have been failing"
Please help. Orders have been failing on our second website elladerm.com for months on Woocommerce using Wordpress. The first failed order was on Oct. 22, 2019.

[2020-01-21 23:47] tammullen commented on #25453
Hi @compassema,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

[Review WooCommerce Self-Service Guide](ht

[2020-01-21 23:47] #25453 closed

[2020-01-21 23:47] tammullen commented on #25454
Hi @compassema,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

[Review WooCommerce Self-Service Guide](ht

[2020-01-21 23:47] #25454 closed

[2020-01-22 00:28] nylen opened #25456 "Remove commit hooks"
Git pre-commit hooks are pretty obnoxious, committing locally should be instantaneous.

When code needs to be automatically checked this should be done on GitHub in a PR.

So the task list for this issue is to make sure everything that runs in the commit hooks is running on Travis (and document how to run these things locally), then remove the git pre-commit hooks.

[2020-01-22 00:40] nylen commented on #25456
I'm sorry, I created this in the wrong repo.

[2020-01-22 00:40] #25456 closed

[2020-01-22 00:44] tammullen commented on #25450
Hi @mal-42 ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

[Review WooCommerce Self-Service Guide](https

[2020-01-22 00:44] #25450 closed

[2020-01-22 06:47] galbaras opened #25458 "PhotoSwipe lightbox "close" triggers elements covered by it on mobiles"
**Describe the bug**
On mobile devices, after clicking the magnifier on the main single-product image, clicking the "X" to close the lightbox bubbles to the object being covered by the "X".

If that object is a link, that link is followed.

This issue may only apply to Mobile Chrome, but also happens in the Chrome code inspector when emulating a mobile device.

This is known to the PhotoSwipe deve

[2020-01-22 08:10] Hun2 opened #25459 "admin.php?page=wc-settings&tab=shipping / woocommerce shipping tab is not working. 500 internal server error."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the beer:

woocommerce/settings/shipping tab is not working.
Click the shipping tab, and you will see the '500 internal server error' page.
I'm using the last oocommerce 3.9.0
If you turn off all plug-ins and leaves is enabled, the '500 internal server error' page is output.

The shipping

[2020-01-22 08:54] peterfabian commented on #25459
Hi @Hun2

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Could you please share your PHP/error log so that we can have a better understanding of what might have gone wrong? The logs are accessible via WooCommerce > Status > Logs.

Also, can you please provide the full System status report and what version you upgraded from?

Than

[2020-01-22 08:59] justina-standaert opened #25460 "Disable product variation to show up in WooCommerce product gallery below main image"
If you go to one of my product pages https://canterburypottery.com/shop/product/dinner-plate-27-5cm/ you’ll see I have a product gallery below the featured image headed “Some examples”. Clicking on a thumb shows larger image which is what I want. But what I don’t want is if you click on a variation swatch it shows up as a first thumbnail in the gallery as well and actually replaces the first thumb

[2020-01-22 09:00] demian1985 opened #25461 "Gallery Thumbnail Images Unspecified Dimensions"
**Describe the bug**
Lately I noticed that the native thumbnails in the woocommerce product gallery are loaded with unspecified dimensions. This came from a GTMetrix Report. I have narrowed it down, by only having the WC plugin and a default theme, and it shows that the gallery thumbnails are missing the height and width attributes.

**Screenshots**
GTMetrix report: http://prnt.sc/qr5bt1

**Expect

[2020-01-22 09:01] justina-standaert commented on #25460
The screenshots I just uploaded are in reverse order and should be as follows:

![Image1](https://user-images.githubusercontent.com/60174447/72879869-1337b880-3cfe-11ea-9e62-3d244f993eaa.jpg)
![Image2](https://user-images.githubusercontent.com/60174447/72879874-16cb3f80-3cfe-11ea-9b79-00897f64004d.jpg)
![Image3](https://user-images.githubusercontent.com/60174447/72879889-1a5ec680-3cfe-11ea-9143-79

[2020-01-22 09:08] peterfabian commented on #21624
Please vote on the original comment/proposal, we might add these to our backlog based on how many votes they get. Thanks!

[2020-01-22 09:39] NicWhitham opened #25462 "Version 3.9.0 update"
When running the database updater in the new version it deletes the file GeoLite2-Country.mmdb from the uploads folder.  This file is used by other plugins and should not be deleted.  Whilst I appreciate changes to Geolocation are included in the new release this is no reason to delete files used by other plugins.  The GeoLite2-Country.mmdb is still freely availabel to download the only change bei

[2020-01-22 11:17] tammullen commented on #25441
Hi @WPAleks-PFS,

Thank you for taking the time to share this idea, we really appreciate your help.
I agree we appear to be correctly using RSA as the currency code but converting it to дин (which is Cyrillic for the unofficial currency code of DIN). The correct Cyrillic for RSA is рсд.

I think this is where the Cyrillic conversion  is happening
https://github.com/woocommerce/woocommerce/blob/443

[2020-01-22 11:29] Spreeuw opened #25463 "[3.9] Backend orders setting unused tax rate to 0.00"
**Describe the bug**
When creating a backend order with multiple tax rates, the tax amounts for rates that are not used on a product are set to 0.00 - this is incorrect because 0.00 tax (which could be a 0% rate) is not the same as **no** tax. This is also inconsistent with frontend orders, which only set the tax amounts for tax rates that are applicable to a product (= the correct way).

**To Rep

[2020-01-22 11:31] wp-seopress commented on #22969
Waiting for it to become native, I'll add it to the next SEOPress update:
<img width="1293" alt="Capture d’écran 2020-01-22 à 12 24 10" src="https://user-images.githubusercontent.com/30056254/72890810-0f626100-3d13-11ea-8014-7909977e7ed6.png">

[2020-01-22 11:41] Spreeuw opened #25464 "[3.9] trimming maxmind license key"
**Describe the bug**
Using the 'copy' button on the maxwell license creating page after creating a license key ("the only time this key is displayed"), included whitespace before and after the key in my case (2 times in a row, using firefox). While this is an error on the Maxmind end, I believe this should be automatically trimmed by WooCommerce before validating, because as a user I can't see the

[2020-01-22 12:40] juliaamosova opened #25465 "[E2E] Create a package with Docker setup"
**Is your feature request related to a problem? Please describe.**

Now that we have new e2e tests using Puppeteer running in Core, we need to create a package with Docker setup <strike>& WC helper functions</strike> for writing e2e tests so that it could be easily installed in other WC related projects.

**Describe the solution you'd like**

There is a PR in progress to utilize a new shared Puppe

[2020-01-22 13:56] tammullen commented on #25422
Hi @realrecordzLab,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

[Review WooCommerce Self-Service Guide

[2020-01-22 13:56] #25422 closed

[2020-01-22 14:44] mic345 commented on #21624
Do you mean the first post on this thread?

BTW, an idea -- why not create a cli based on the existing web interface (the html interface). It might not be optimal, but it sound like less work and will allow users like us to have a cli. You can always improve the underlying implementation when you have enough time/votes.

[2020-01-22 15:15] claudiosanches commented on #25462
Keeping the GeoLite2 database in the uploads folders is a violation of the MaxMind EULA, you can't keep copies of this database in an unprotected directory, so if you come across with plugins like that you should ask for the developers to fix it as soon as possible to comply with MaxMind EULA.

WooCommerce used to keep this file inside the uploads directory, that's why on the update we are moving

[2020-01-22 15:15] #25462 closed

[2020-01-22 15:43] claudiosanches commented on #25464
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #25466.

[2020-01-22 15:43] #25464 closed

[2020-01-22 15:59] peterfabian commented on #21624
Yes, exactly, I meant giving thumbs up on the first post.

Unfortunately, it's not a priority at the moment, but we'd be happy to review a pull request if anyone feels like doing it.

[2020-01-22 16:09] mic345 commented on #21624
👍

On Wed, Jan 22, 2020, 09:59 Peter Fabian <notifications@github.com> wrote:

[2020-01-22 16:26] stackoverfowl opened #25467 "3.9.0 german translation hides RUN | CANCEL options in Scheduled Actions"
_This is my first post on GitHub, please excuse any errors I make._
I noticed a scheduled database update pending for hours after installing WooCommerce 3.9.0 today.

**To Reproduce**
Steps to reproduce the behavior:
1. Update from 3.8.1 to 3.9.0  on a site running german language
2. Click on "update database" after downloading and installing the update
3. The database update will get stuck and no

[2020-01-22 16:38] amandasjackson commented on #25402
@juliaamosova I can confirm that 3.9 fixes the issue.

[2020-01-22 17:03] claudiosanches commented on #25467
Hi there! Translations are done by the community on WordPress.org, need to be fixed on https://translate.wordpress.org/projects/wp-plugins/woocommerce/
Also will require some translator editor or general translator editor to approve it, once it's approved will update all installations in `de_DE`.
Note that this is not the first time that we have issues with `de_DE`, seems like the community need t

[2020-01-22 17:03] #25467 closed

[2020-01-22 17:16] WPAleks-PFS commented on #25441
Thanks a lot for looking at it and I agree it's not urgent but it's by the Serbian law and developers need to override this issue which is not the greatest idea. However, at least we know that the fix is coming :)

[2020-01-22 18:24] juliaamosova commented on #25402
@amandasjackson great, thank you! I am closing this issue then. Fixed via https://github.com/woocommerce/woocommerce/pull/24846.

[2020-01-22 18:24] #25402 closed

[2020-01-22 20:03] ttMino opened #25470 "Disable Product Revision when order is made"
Hello,

I’ve ran into an issue that I can’t seem to find a solution for anywhere.

So when there is an order in WooCommerce it reduces the stock of the order products which creates a revision on the actual post.

![wp_issue](https://user-images.githubusercontent.com/43281889/72929659-33916280-3d52-11ea-9ff3-9af44dd7e946.png)
![wp_issue_2](https://user-images.githubusercontent.com/43281889/72929661

[2020-01-22 22:02] thomas-zg commented on #25415
Same problem, I made a manual order and I'm adding 8 items of the product. Stock goes to -8 while the backorder is not allowed on the variation.
<img width="265" alt="grafik" src="https://user-images.githubusercontent.com/25877146/72938382-2b91ec80-3d6b-11ea-8e19-a0c9023140a7.png">

<img width="618" alt="grafik" src="https://user-images.githubusercontent.com/25877146/72938429-419fad00-3d6b-11ea-98

[2020-01-22 22:37] thomas-zg commented on #25415
@juliaamosova to reproduce:
1) Setup a variable product, stock is handled on level variation, do not allow backorders and set the stock to 0.
2) Add a manual order, choose the variation with stock 0. The product will be added and the stock will be reduced by the given amount.

There is no check, if backorders are allowed or not. This happens on a clean installation with WC 3.9 and WC Admin 0.24 in

[2020-01-22 23:40] gahsto commented on #11551
Still not working. SMH

[2020-01-22 23:43] gahsto opened #25471 "Free Shipping not selected as default when eligible"
When 'Free Shipping' is enabled as a shipping option conditional to $100+ purchase, Flat Rate is selected by default instead.

[2020-01-23 07:45] virik commented on #24331
Hi,

Did you get this email?

As you have an option to hide out of stock products, I think this option should also hide out of stock variations. When we filter by size 62, we still get products having that variation, even though it’s out of stock:

https://d.pr/i/odc8I5/6VwBWjAJtX
Best regards
Morten Virik CEO
morten@mementor.no <mailto:morten@mementor.no> / +47 489 59 593 <tel:%28%2B47%29%20489%2

[2020-01-23 09:38] vedanshujain commented on #25463
Hi, I tried to reproduce this by adding two tax rates based on location and creating a manual order. I only see 1 tax rate applied in the backend data as it should: `a:2:{s:5:"total";a:1:{i:1;s:5:"34.73";}s:8:"subtotal";a:1:{i:1;s:5:"34.73";}}`.

Can you please provide more details about your tax setup? Specifically how the two rates are added, and how the product is configured to be applied only

[2020-01-23 10:03] Spreeuw commented on #25463
Yes I can do that.
Here is the tax setting for the reduced rate product:
![25463-product-reduced](https://user-images.githubusercontent.com/3217773/72973964-81e44700-3dce-11ea-91c1-4009745d5281.png)
and the tax rate itself:
![25463-tax-reduced](https://user-images.githubusercontent.com/3217773/72973990-8b6daf00-3dce-11ea-8853-7242eb2193a8.png)

and the standard rate product:
![25463-product-standa

[2020-01-23 10:06] realrecordzLab commented on #25422
Ok, thanks for the help. Very unhelpful!

Il giorno mer 22 gen 2020 alle ore 14:56 Tam Mullen <
notifications@github.com> ha scritto:

[2020-01-23 11:01] vedanshujain commented on #25463
Thanks for the screenshot, I can reproduce on my end using the settings you provided. I am investigating this now and should have a fix soonish.

[2020-01-23 11:39] Spreeuw commented on #25463
Can you tell my why this is set to priority low and 3.10.0? This seems like a pretty serious bug to me (not a feature that should be postponed for a release). This creates invalid tax data for all manual orders.

[2020-01-23 12:07] mariovalney commented on #25354
Hi @juliaamosova.

I didn't know about [#20201](https://github.com/woocommerce/woocommerce/issues/20201) :sweat_smile: Thank you for explain that.

As I have to support blocks for my site, I [submitted a plugin](https://github.com/Vizir/blocks-for-products) which toggles into classic editor with WooCommerce meta_boxes and block editor without they. Maybe it can help people until support Gutenberg.

[2020-01-23 12:16] vedanshujain commented on #25463
@Spreeuw I marked it a low priority because as far as I can see this seems to be a presentation bug, nothing in the database is actually changed. I have raised #25472 to fix. Also, we have changed how we release so the next one is actually scheduled pretty quick for early March if all goes as planned.

[2020-01-23 12:18] BeyondMeasureMarket opened #25473 "Large TM Symbol Next to Shipping Class on Order Emails"
There’s a large “TM” on Woo Comemrce Email confirmations in the shipping category.

It says the shipping class and then has a massive “TM” right after it. I have no idea how to remove that.

Here is a link to see an image of the TM I am referring to:

https://ibb.co/RNczkfF

[2020-01-23 12:33] dougaitken commented on #24331
@juliaamosova what @grigorijurasov is reporting is the Variation filter that currently isn't possible in core with reasoning in #6574

This feature is available in the premium Product Filters extension:
`https://woocommerce.com/products/product-filters/`

[code]

Discussed in 18116562-hc

[2020-01-23 12:36] Spreeuw commented on #25463
It is **not** a representation bug, the tax data is incorrect. In 3.9 it stores an amount of $0.00 instead of `NULL` or ''. Fiscally these are very different things, and all these orders will need to be corrected - the longer this takes the more orders will have to be fixed and I think 2 months worth of incorrect tax data is a serious issue.

[2020-01-23 12:41] vedanshujain commented on #24184
@robin-scott Can you please provide details of your settings, rates, and product prices to help us reproduce?

This issue pertains to rounding when product prices are configured to more than 2dp, this is something we are still working on, but based on your description it seems that you are working with 2dp prices.

If that is the case then can you please reopen another issue with tax settings?

[2020-01-23 17:58] yoancutillas opened #25475 "Inform that WC notices functions have changed in 3.9.0"
The `includes/wc-notice-functions.php` file version and its functions are still flagged as `@version 2.1.0`, even though a lot of its functions have changed in 3.9.0.
Now we set and get $data in addition to the notice message, which breaks all plugins parsing the result of wc_get_notices for example.

Is it possible to simply add a `@version 3.9.0` in the description of the functions that have cha

[2020-01-23 19:23] claudiosanches commented on #24354
@snooplewand @Wassmo1 While I'm checking on how to make this field more flexible, it seems that I ended up finding something that can help you now.
For `GB` there's only one tax, so the correct way to set it is just one single line for the whole country  like:

![Screenshot_2020-01-23 Tax ‹ Settings ‹ WooCommerce Dev — WooCommerce](https://user-images.githubusercontent.com/1264099/73016412-9475750

[2020-01-23 19:36] Spreeuw commented on #25463
@vedanshujain to better illustrate why this is not simply a presentation bug, consider the scenario where an order has both a 0% rate and 21% rate applied to different products. In WooCommerce 3.9 manual orders there is no way to determine which items have the 0% rate (after the order has been created) because they _all_ have the 0% rate set in the `_line_tax_data`.

[2020-01-23 19:48] claudiosanches commented on #25475
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #25477.

[2020-01-23 19:48] #25475 closed

[2020-01-23 20:12] claudiosanches commented on #25473
Hi @BeyondMeasureMarket,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Also it seems like that this issue come from the shipping method that you select, probably better talk with the author/company responsible for the USPS to change it, or maybe you can edit method label/name and remove the `™` symbol.

I'm closing this issue s

[2020-01-23 20:12] #25473 closed

[2020-01-23 20:17] claudiosanches commented on #25471
Hi @gahsto,

In fact will select by default the first shipping option available, so you just need to rearrange your shipping methods putting free shipping at the top.

See an example:

![Screenshot_2020-01-23 Shipping ‹ Settings ‹ WooCommerce Dev — WooCommerce](https://user-images.githubusercontent.com/1264099/73020327-2a60ce00-3e04-11ea-93f5-728fac4322b8.png)

[2020-01-23 20:17] #25471 closed

[2020-01-23 20:48] claudiosanches commented on #25470
Hi @ttMino

By default we don't set any revision for products, order, or coupons. Seems like you have some customization, or it is done by a 3rd party plugin.

I'm closing since I can't reproduce this error with on WooCommerce installed, and also sounds a bug coming from customization.

[2020-01-23 20:48] #25470 closed

[2020-01-23 21:07] gbruzzo opened #25478 "Cannot completely hide woocommerce message with filters since upgrade to 3.9"
We are currently using

[code]
to hide add to cart messages

since upgrade to 3.9 'woocommerce-message' is not being removed anymore

**To Reproduce**
Steps to reproduce the behavior:
1. add the filters to functions.php
2. Go to shop
2. add to cart
3. observe how **_only_** the text strings have been removed.

We do not want to have to add css to hide woocommerce-message, as there are other messag

[2020-01-23 21:07] claudiosanches commented on #21720
I just checked that "Fixed cart discount" doesn't take "sequentially calculation of coupons" in account, but works just fine "Fixed product discount" with "Percentage discount", because "Percentage discount" also take in account products instead of the sum of all products in the cart.
So it's the expected behavior.

[2020-01-23 21:07] #21720 closed

[2020-01-23 21:14] gahsto commented on #25471
Hi Claudio,
Yes I have them in the correct order. This seems to be an issue that has
been ongoing for years:
https://github.com/woocommerce/woocommerce/issues/11551
Please advise.
[image: Screen Shot 2020-01-23 at 4.04.36 PM.png]

On Thu, Jan 23, 2020 at 3:17 PM Claudio Sanches <notifications@github.com>
wrote:

[2020-01-23 21:20] snooplewand commented on #24354
Hi Claudio,

I'm afraid to say that doesn't work no. This is something I tried myself a long time ago and for peace of mind I have just tested again. The VAT still clears as soon as there's a space followed by a letter/word in the county.

Plus, it is not true that there is only one rate for GB. Goods exported to the Islands can be zero-rated, such as Guernsey and Jersey for example.

[2020-01-23 22:02] webdados commented on #24666
Tic tac ⏱Tic tac ⏱

We're 8 days away and the PR still produces a fatal error and includes stuff that is not related to this issue. We just need to remove GB from `WC_Countries::get_european_union_countries()`, on the 31st of January, and that's it.

[2020-01-23 22:13] DavidAnderson684 commented on #24666
@webdados It's already been pointed out that it's incorrect to say that the only thing that matters is the name of a single method (https://github.com/woocommerce/woocommerce/issues/24666#issuecomment-543983536) . We also now know (since the withdrawal agreement has gone through the UK parliament) that under the terms of that withdrawal agreement, the UK will remain part of the EU VAT area after B

[2020-01-23 22:20] webdados commented on #24666
Thanks for the clarification!

[2020-01-23 23:03] patrick-fls opened #25480 "[wp-cli] shipping_zone_method update fails, returning 404"
**Describe the bug**
When trying to update a shipping zone with the cli, it will return 404

**To Reproduce**
command:
`$ wp wc shipping_zone_method update 1 1 --enabled=true`
returns:
`Error: No route was found matching the URL and request method {"status":404}`

**Screenshots**
N/A

**Expected behavior**
Should update the shipping zone.

**Isolating the problem (mark completed items with an [x])

[2020-01-23 23:32] alendev commented on #21720
@claudiosanches have you checked the order? Which discount is applied first?

1000$ cart total - 500$ first discount - 50% second discount, should be a total of 250$

Issue was/is that it applies the 50% first (regardless of user input/order), which ends up to 0$.

[2020-01-24 07:39] vedanshujain commented on #25463
I would prefer not doing a fix release for this bug alone because, in a normal release cycle, testing is much more extensive than in a fix release. cc'ing @woocommerce/proton for the second opinion in case I am underestimating the severity of this bug.

That said, you can apply changes in #25472 in your install as a workaround till this patch gets included in a release.

[2020-01-24 09:32] peterfabian commented on #25463
Adjusted the priority to high as it affects also orders created on the front end, but later updated on the backend (e.g. when updating status). Also, 0 tax and no tax are quite different beasts, especially when it comes to VAT.
We're evaluating pushing a fix release out.

[2020-01-24 09:52] PeteAH commented on #25429
I have the same issue is there a fix?

[2020-01-24 11:01] gerdneuman opened #25481 "Undefined index: label for WooCommerce Subscription parent order for 0 €"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Account > My Orders
2. Click on a WooCommerce Subscription parent order, that is, one where the total is 0 (because price comes with the upcoming renewal orders), e.g. something like my-account/view-order/38412/

You get this `Undefined Index` notice.

[code]

**Expected behavior**
There should be safety check that the label total is re

[2020-01-24 11:55] obiebrown commented on #21116
Is this fixed or how do I fix this?
As I am having this exact problem I can not set the "instance_id" when creating orders via API.
created_via rest-api
version 3.8.1

As this talks about 3.5.0 API and I am using 3.8.1 API I can not see why this would not work.
Any help would be greatly appreciated.

[2020-01-24 14:01] Wassmo1 commented on #24354
Hi Claudio, I've just tested it as snooplewand did and unfortunately as soon as you enter a two worded county it removes the Tax.

Thanks for making a move on this now and keeping us posted.

[2020-01-24 15:01] seb86 opened #25483 "Force SSL for Checkout options missing"
I'm setting up a demo site with a fresh install of WooCommerce v3.9 and I find the options to force SSL for checkout are not showing in the advanced section of the settings. I checked the DOM and all that shows is an empty table between the page setup and checkout endpoints.

![Screenshot_2020-01-24 Advanced ‹ Settings ‹ CoCart Demo — WooCommerce](https://user-images.githubusercontent.com/497406/7

[2020-01-24 15:10] seb86 commented on #25483
Found a previous issue explaining the function used to determin if the site has SSL but if SSL is forced already should it not be ticked in the system status?

![Screenshot_2020-01-24 System status ‹ Status ‹ CoCart Demo — WooCommerce](https://user-images.githubusercontent.com/497406/73079160-05339480-3ec4-11ea-8160-72956501ae89.png)

[2020-01-24 16:02] claudiosanches commented on #25483
If you already use HTTPS for all pages the "Force SSL" option will be removed from the settings, since there's no use for you.
Also "forcing" SSL will cause some redirections on PHP, so it's nice to know about it on the System status, but if you have already configured to have HTTPS for all your website, we don't really need to care about the Force SSL.

[2020-01-24 16:02] #25483 closed

[2020-01-24 16:06] claudiosanches commented on #25481
Hi there! GitHub is for reporting bugs and issues specific to the WooCommerce plugin. This is not a support portal.

If you need technical support for Subscriptions, please use the helpdesk instead: https://woocommerce.com/contact-us/

[2020-01-24 16:06] #25481 closed

[2020-01-24 16:09] tammullen commented on #25478
Hi @gbruzzo,
​
Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end in 3.90

![Screenshot_2020-01-24_at_15_46_36](https://user-images.githubusercontent.com/24649833/73083334-e4b70a80-3ec2-11ea-921c-08528d0d97c6.png)
Message appears ok when add to cart from product page

![Screenshot_2020-01-24_at_15_58_42](https://user-images.githubusercont

[2020-01-24 16:12] gbruzzo commented on #25478
Thank you

Please don’t forget it though ... :-)

On Fri, 24 Jan 2020 at 16:09, Tam Mullen <notifications@github.com> wrote:

[2020-01-24 16:34] claudiosanches commented on #25478
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #25484.

[2020-01-24 16:34] #25478 closed

[2020-01-24 18:03] claudiosanches commented on #25336
Thank you for suggesting this feature!

I'm closing the issue as it already has a PR, please continue the discussion over at #25485.

[2020-01-24 18:03] #25336 closed

[2020-01-24 18:14] tammullen commented on #25461
Hi @demian1985

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

With just WooCommerce 3.90 active on the default shop page and using the same GTMetrix Analysis tool I don't get the warnings you saw in your screenshot
![Screenshot 2020-01-24 at 18 03 17](https://user-images.githubuserco

[2020-01-24 19:31] itsgauravjain22 opened #25486 "Add user capabilities for admin user roles in default woocommerce"
**Is your feature request related to a problem? Please describe.**
The problem is that I can't share full admin portal with some less privileged admin user like only view all products/view only his product, add products, edit all products/edit his published products. There's very limited definition of user roles in woocommerce and likely boolean definition of fine grained user capabilities.

**Des

[2020-01-24 21:10] claudiosanches commented on #25486
Hi {username},

Thank you for taking the time to share this idea, we really appreciate your help, but there's already alternatives for it.

There's a lot of alternatives, you don't even need plugins, you can write your own if you like.
WordPress give you freedom to include new user roles, with any capability that you want, and also WooCommerce REST API includes several filters to manipulate how au

[2020-01-24 21:10] #25486 closed

[2020-01-24 21:22] claudiosanches commented on #24354
@snooplewand @Wassmo1 But you both understand that is overkill to fill state, city and postcode? You can just set one of those, mostly because on the format that it's been reported, looks like that there's one postcode per city, you could just set those taxes per city name or postcode.
So you don't need to fill the state, you don't are required to fill all those fields, it aren't intend to be set

[2020-01-24 21:33] timmyc opened #25487 "[4.0] Change Size of a/b Test of new Onboarding"
In #24991 / 3.9 - the new Onboarding tool was offered to 10% of users. In 4.0 we would like to increase that percentage to 50%. I'm going to assign this one to myself, and will probably have a PR for this by Jan 28.

[2020-01-24 21:44] snooplewand commented on #24354
Not overkill in the slightest Claudio. Very common practice and REQUIRED by every courier company I have ever worked with. To say the software isn't 'intended' to collect a City, Postcode and County all at once is, well, wow, just wow. I'm speechless 😂. I can't imagine anyone at WooCommerce agreeing, but I will ask them on Twitter 🙂👍.

[2020-01-24 21:51] timmyc opened #25488 "[4.0] Remove WooCommerce Admin Install Nudge"
This issue is to remove the admin alert that was added in #23659 - it has done a great job of introducing more users to wc-admin.

[2020-01-24 21:56] claudiosanches commented on #25338
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #25489.

[2020-01-24 21:56] #25338 closed

[2020-01-24 21:58] claudiosanches commented on #25371
Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2020-01-24 22:03] claudiosanches commented on #25434
Hi edotoro,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lackin

[2020-01-24 22:06] claudiosanches commented on #25437
It makes sense, it suppose to invalidate the cookie, since the session there's something in the cart, and it's not more user 0.
Sounds like it's getting save on cache the nonce for the request, that's why it's getting this error, but you need to fresh it after some product is on the cart.

[2020-01-24 22:19] claudiosanches commented on #25439
Hi @NickGreen,

It in fact is rendered by WordPress core, and since `Uncategorized` is not a real category seems like WordPress can't sort it based on positions.

I'm closing since is something that suppose be supported by WordPress.

[2020-01-24 22:19] #25439 closed

[2020-01-24 22:24] claudiosanches commented on #25452
Please feel free to submit a Pull Request and we can evaluate the need of it, but those buttons are in templates, so you can already replace it by override templates.
Closing since there's already alternatives to achieve it.

[2020-01-24 22:24] #25452 closed

[2020-01-24 22:32] yunusbayraktaroglu commented on #25437
Isn't it a bug?

Which cookie do we need to renew using which hook? Can you give some detail?

[2020-01-25 07:54] nearmira05 commented on #25425
It's obvious from the forum that this is a glitch that you guys have yet to
solve or fix. There are numerous of complaints yet no answers.

On Mon, Jan 20, 2020 at 5:28 AM Tam Mullen <notifications@github.com> wrote:

--
----
The contents of this email message and any attachments are intended solely
for the addressee(s) and may contain confidential and/or privileged
information and may be legally

[2020-01-25 09:42] demian1985 commented on #25461
Hi @tammullen

Thanks for coming back. The product image gallery with thumbnails is part of the single product page, so its thumnbnails: [http://prnt.sc/qsn9bg](http://prnt.sc/qsn9bg)

As mentioned in my description, I have only woocommerce enabled and the default storefront theme, nothing else.

I hope this helps.

[2020-01-25 11:12] rocketeer76 commented on #25452
Templates are updated from time to time, filters not as often. I'm not a developer so I can't do a pull request.

[2020-01-25 16:23] softmastx commented on #24097
Turn out that an unsaved woocommerce order status is set to "auto-draft" automatically and woocommerce don't know it so, registered a custom status and named it as "auto-draft" solved the issue.
Check out my question on stackoverflow:
[https://stackoverflow.com/questions/59907534/unsaved-orders-created-by-admin-not-showing-up-in-woocommerce](https://stackoverflow.com/questions/59907534/unsaved-ord

[2020-01-25 21:15] jacksonwp commented on #7066
FWIF - I just had this issue with a client site on WPEngine as well. The link got exposed because the site was producing 'Attachment Pages' and Yoast SEO was putting media in the sitemap. The htaccess file in the 'woocommerce_downloads' file does not get used, and any file within is directly downloadable. Seems like a pretty common combination that could catch a lot of folks unaware.

[2020-01-25 21:29] barrychapman opened #25490 "Fatal error: Uncaught Error: Call to a member function get_payment_method() on null"
**Describe the bug**
On the `canned` thankyou.php template, it throws an error as seen above

**To Reproduce**
Steps to reproduce the behavior:
1. Add items to cart
2. Pay for items
3. See error on confirmation

Not only that, but this is occurring in `/wp-content/plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php:464`

We have the paypal payment gateway DISABLED, so I do not

[2020-01-25 22:20] gevcen opened #25491 "Product Category "Count" shows Incorrect Number of Products"
**Describe the bug**
When a subcategory 1 of products is moved from a category A to a category B, the previous category A still counts the products of the subcategory 1 in its number of products.

**To Reproduce**
Steps to reproduce the behavior:
1. Create category A with subcategory 1
2. Create category B
3. Create products in subcategory 1
4. Move subcategory 1 in category B

**Screenshots**
htt

[2020-01-26 01:16] itsgauravjain22 opened #25492 "Include shipping tracking with core woocommerce"
**Is your feature request related to a problem? Please describe.**
Default woocommerce stores are unable to give shipping tracking to their customers. Thus no default rest API for adding shipping tracking.

**Describe the solution you'd like**
Please include the functionality of providing shipping tracking to woocommerce core. I know there exist a paid plugin for shipping tracking in woocommerce e

[2020-01-26 01:33] itsgauravjain22 commented on #25486
Thanks @claudiosanches for the prompt reply. What I meant was to have those capabilities defined in graphical user interface of backend admin portal of woocommerce. I was interested in just consuming those rest API and wish it would be included in woocommerce backend.
Well I really appreciate for the function you provide. I lack knowledge of woocommerce programming. So I would first learn woocomme

[2020-01-26 02:48] lock2photo opened #25493 "Shipping Destination setting not working"
When setting the shipping destination option to default to customer billing address, it does not default to billing address only during checkout.  It used to operate where the customer had to check the box "Shipping Address different" before it would open the second set of address fields.

Thanks,
Drew Lockwood
----
`
### WordPress Environment ###

WordPress address (URL): https://www.botpix.com
S

[2020-01-26 13:22] javadev opened #25494 "Too few arguments to function WC_Install::run_update_callback()"
**Describe the bug**
When I start update woocommerce, then I see error in console.

**To Reproduce**
Steps to reproduce the behavior:
1. Update woocommerce with version 3.9
2. Click on 'Update woocommerce'
3. Check logs
4. See error

**Screenshots**
2020-01-26T13:05:18.439484+00:00 app[web.1]: [26-Jan-2020 13:05:18 UTC] PHP Fatal error:  Uncaught ArgumentCountError: Too few arguments to function W

[2020-01-26 14:37] njwgh opened #25495 "country dropdown border 1 pixel too wide"
The border of the dropdown on the 'country' field on the checkout page is 1 pixel too wide on the right hand side

**To Reproduce**

1. go to https://themes.woocommerce.com/storefront/checkout/
2. add a product to cart and go to checkout page
3. Click in the 'country' field to select a country

It seems to be dependent on the width of your browser window
As you drag the browser narrower and wider

[2020-01-26 17:26] starypop commented on #25447
In the meantime a new 3.9 WC version has been released.

Unfortunately, after testing it I can confirm that the bug **is still there**.

[2020-01-26 19:03] gevcen opened #25497 "Feature Request > If a category contains only 1 product, open that product directly"
**Is your feature request related to a problem? Please describe.**
This feature is not related to a problem. It's a user-experience improvement.

**Describe the solution you'd like**
Imagine that you have some categories of products but, for one of them, you have only 1 product included in this category.

Put yourself as the shop-owner, you obviously want to keep all your products categorized even

[2020-01-26 19:59] gevcen commented on #23856
How can anyone vote on this matter if the ticket is closed?

[2020-01-26 21:36] Streeter1981 opened #25498 "Shipping label hangs on Purchasing"
**Describe the bug**
When purchasing a new shipping label via Woocommerce for an order, it just hangs on “Purchasing …”.

I’ve validated that it is indeed charging my bank account for the purchase and even receive email receipt from Woocommerce on the label purchase. . If I go back to the Order screen, it also just shows “Purchasing …” and doesn’t show the actual label.

This happens on any browse

[2020-01-26 21:49] sanderlt commented on #18210
is it works with woocommerce categories? thanks

[2020-01-27 07:48] webmandesign commented on #25332
Well, this is all good. But how does it work when a theme is activated and only then a plugin is activated? Does it even pick up the theme's settings from code? It seems not, at least not for me.

[2020-01-27 11:20] dougaitken commented on #25498
Hi @Streeter1981

Did this happen just before you opened this issue?

Shipping Labels are part of the WooCommerce Services extension and not part of WooCommerce Core so I'm closing this issue.

Please do reach out via your WooCommerce.com account here - https://woocommerce.com/my-account/create-a-ticket/ - we will take a look into this.

Thanks!

[2020-01-27 11:20] #25498 closed

[2020-01-27 12:06] juliaamosova commented on #25297
Hi @ilchenko,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-27 12:06] #25297 closed

[2020-01-27 12:07] juliaamosova commented on #25330
Hi @Adplabscode,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-27 12:07] #25330 closed

[2020-01-27 12:08] juliaamosova commented on #25363
Hi @rodxjalves,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-27 12:08] #25363 closed

[2020-01-27 12:09] juliaamosova commented on #25389
Hi @DevNo0k,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-27 12:09] #25389 closed

[2020-01-27 12:12] tammullen commented on #25447
Hi @starypop,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end by following the steps you listed.

![Screenshot 2020-01-27 at 11 47 10](https://user-images.githubusercontent.com/24649833/73172947-1b2b9a00-40fc-11ea-85da-77e7be23d6a1.png)
![Screenshot 2020-01-27 at 11 48 25](https://user-images.githubusercontent.com/24649833/73172944-1b

[2020-01-27 12:40] juliaamosova commented on #25432
Hi @dstana,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported as I am missing some information to proceed. Can you please specify how do you "Disable 0 priced product variation" so that we could take the exact same steps?

It will also help if you share screenshots showcasing the issue.

Please provide us with more details about the issue which may help us to e

[2020-01-27 12:48] redelschaap opened #25499 "API issue: Invalid parameter error when defining an empty string for sale_price"
**Describe the bug**
We connect to a couple dozen of WooCommerce shops using the API. Since a few days, we get the following error when sending an empty string for the "sale_price" key on variations:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Send a POST request to `https://domain.com/wp-json/wc/v3/products/{productId}/variations/{variationId}` with valid data:<br/>
[code]
2. Ge

[2020-01-27 13:02] juliaamosova commented on #25458
Hi @galbaras,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end. Not always but I can sometimes.

Here is a screencast of the issue on your site: https://cloudup.com/cW4SoIjwlJ0.

And here is the issue showcasing the bug on my test site - towards the end of the video when I am closing the lightbox, I am also clicking on the Menu which i

[2020-01-27 13:09] juliaamosova commented on #25460
Hi @justina-standaert,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin that adds variations swatches.

Please contact the author of the plugin directly for further help.

[2020-01-27 13:09] #25460 closed

[2020-01-27 13:13] juliaamosova commented on #25499
Hi @redelschaap,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that we could take a look there further.

[2020-01-27 13:42] claudiosanches commented on #24354
@snooplewand

For sure for "Courier companies" it's just fine, you will need to fill all information so they can collect and ship your goods, but we are talking about calculating taxes on WooCommerce. Where you don't need to set all this fields, so I don't understand what you are relating different subjects on it...

Also not sure why, but seems like everything I say it's funny for you without try

[2020-01-27 14:12] Turu2001 opened #25500 "No "Mostrar" item in woocommerce --> Ajustes --> Productos"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain you

[2020-01-27 15:17] snooplewand commented on #24354
Hi Claudio,

I'll answer your questions, but first I think you need to test the bug your side before accusing us of using the software incorrectly. It's clear from yoru comments above that you haven't tested this for yourself as by doing so you will see that it doesn't work.

Even if you have the asterisk placeholders you will find that as soon as you enter a county followed by a space and a lette

[2020-01-27 15:21] Deichscheich commented on #21419
@claudiulodro, @ShawnJW, has this in fact been fixed? Using 5.3.2, this command results only in a placeholder image (id 0)
wp wc product create --images='[ { "id" : 34 } ]'

You "recommend using the workaround provided in that issue", and I understand the workaround to be to define an object like above. Please correct me if I misunderstood. What is the workaround?

#18964

[2020-01-27 15:31] claudiosanches commented on #24354
I have tested! That's why I found this inconsistency of how you both are setting those taxes. That's why I'm checking it with you.

You can keep selling and shipping worldwide, and you can keep collecting the state field at the checkout. I didn't say in any moment that you don't need to, I don't know if you dislike me, or you are only angry because the whole problem, but I haven't said in any mome

[2020-01-27 16:03] Wassmo1 commented on #24354
Hi, sorry I have been too busy this weekend, I will supply Screenshots of my current settings shortly but Claudio, my taxes are set to the WooCommerce default settings, so I'm not entering anything manually for any Country, also I'm confused over the how we could remove the County field front end as isn't it a default WooCommerce field which we have no control over? tks

[2020-01-27 16:06] claudiosanches commented on #24354
@Wassmo1 I don't want anyone to remove anything from the front-end, I never said it. Everything that I'm saying is related to the tax row settings screen.
Please show me how you setting, even that the county field doesn't work for you right now.

[2020-01-27 16:16] Wassmo1 commented on #24354
Hi Claudio, I mean the fields are there by default when a customer is completing checkout (frontend), it asks them for their address and it is here that the county/state field appears which are default WooCommerce fields?

I will send you screenshots of this and my settings tomorrow as I need to get customer orders shipped out today.

tks

Wasim

[2020-01-27 16:22] claudiosanches commented on #24666
I have updated the code from our PR, now there's multiple filters to make easier to include VAT countries in the list without making those countries part of EU.

https://github.com/woocommerce/woocommerce/pull/24943

[2020-01-27 16:27] claudiosanches commented on #24666
Also based on the news from https://www.avalara.com/vatlive/en/vat-news/uk-to-leave-eu-vat-regime-31-dec-20200.html

So there's nothing else that we need to do on WooCommerce for now.
I'll close this issue since there's also a PR that will helps change it by filters too, and because for now we don't need to take any action.

[2020-01-27 16:27] #24666 closed

[2020-01-27 16:37] claudiosanches commented on #24354
@Wassmo1

Please, this there's nothing related to the front-end, you don't need to change anything on the front-end.

I'm talking exclusively about this screen:

<img width="1464" alt="Screen Shot 2019-08-07 at 4 42 32 PM" src="https://user-images.githubusercontent.com/1595739/62664951-5fe72d00-b932-11e9-8763-26aa41754e06.png">

Look that both rows have the same 20% VAT/tax?
If all states on GB ta

[2020-01-27 17:30] gahsto commented on #25471
Hello, this item is not "closed" as your proposed solution does not work.
Please advise.

[2020-01-27 18:11] peterfabian commented on #24354
Hi all! Apologies for the misunderstandings, there seems to be some confusion around the problem here, so let's maybe start from the beginning so we can troubleshoot this properly and sort out this problem quickly, as we all want to.

Gentlemen @Wassmo1  and @snooplewand, can you please provide your WC tax settings and explain what you're trying to achieve?

I tried to test myself with the followi

[2020-01-27 18:23] juliaamosova commented on #25490
Hi {username},

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end. I can successfully place an order (via Stripe as an example):

![thank_you page](https://user-images.githubusercontent.com/19143190/73201966-0538cc00-4132-11ea-8a29-cde613ac814d.jpg)

What payment gateway are you using?

Pl

[2020-01-27 18:52] claudiosanches commented on #25471
@gahsto this is not an issue on WooCommerce, also what I said solves the problem.

[2020-01-27 19:25] gahsto commented on #25471
@claudiosanches it does not solve the problem as I have it configured according to your specs in the screen shot above. Free shipping is not selected by default even though the conditions have been met.
It defaults to Standard shipping.
Please advise.
![Screen Shot 2020-01-27 at 2 24 37 PM](https://user-images.githubusercontent.com/38016279/73206380-d0684d00-4110-11ea-94e9-46e6497c61b9.png)

[2020-01-27 19:30] gahsto commented on #25471
@claudiosanches it is an issue.
As you can see below I have it configured as suggested, yet the cart does not update with free shipping selected. It works if I meet the conditions when adding the first product, but if I 'Continue Shopping' without initially meeting the condition then add products afterward to meet it, it doesn't change.
![Screen Shot 2020-01-27 at 2 28 17 PM](https://user-images.g

[2020-01-27 19:43] Deichscheich commented on #21419
:(
Sorry, my bad. It does work.

[2020-01-27 21:28] snooplewand commented on #24354
Hi Guys. Ok so starting fresh. For the record Claudio I have no issue with you whatsoever. Apologies if anything came across as a personal attack. Please don't take anything personally. Thank you for trying to help. Starting over, I think there has been some misunderstanding on A) What the issue is, and  B) How we are using the software. I'll try to clarify. In my scenario I use 'Enable Automated

[2020-01-27 23:03] ethanclevenger91 commented on #25331
Hey @claudiosan wanted to see if there was additional feedback after documenting the use case.

[2020-01-27 23:22] WillBrubaker commented on #25490
heya @juliaamosova got another report of this in #2660543-zen

the thankyou.php has a conditional check here: https://github.com/woocommerce/woocommerce/blob/3.9.0/templates/checkout/thankyou.php#L23

but if that conditional evaluates to false, we end up on https://github.com/woocommerce/woocommerce/blob/3.9.0/templates/checkout/thankyou.php#L80 and pass a null value as the 2nd parameter to the `w

[2020-01-27 23:49] crstauf commented on #25367
@tammullen Is there anything I can/should do to help this issue receive more attention? It's not ideal for transaction IDs to be missing from order data.

[2020-01-28 00:11] galbaras commented on #25458
Hi @juliaamosova,

Thank you for taking the time to investigate.

To me, when someone wants to look closely at a product, they are showing buying intent. This is the worst possible time to navigate to another page, open the phone dialer, or take any action other than getting them back to completing their purchase.

How is that low priority?

Also, if Photoswipe itself is fixed already, shouldn't t

[2020-01-28 05:04] de-b commented on #15207
I have spent a lot time to fix this, and it worked for me. If you guys are happy to use slick slider for the thumbnail, here is the solution:
Like @jordan-webdev said, set a timeout of 300 first in order to let WooCommerce execute its JavaScript.

`setTimeout(function() {
    $('.flex-control-nav').slick({
        dots: true,
        infinite: true,
        arrows: true,
        speed: 600,

[2020-01-28 05:31] galbaras commented on #25490
@juliaamosova Looks like the Stripe gateway doesn't use the `woocommerce_thankyou_order_received_text` filter. To confirm, use PayPal, as per the OP's conditions.

@WillBrubaker Under what conditions, other than calling the page out of sequence, would `$order` not be set during the processing of the thankyou page?

[2020-01-28 08:45] edmundcwm commented on #15207
I put together a [plugin](https://github.com/edmundcwm/EDM-Product-Gallery-Slider) for this and it's working well for me.

[2020-01-28 08:49] retroriff commented on #15207
@edmundcwm @de-b Excellent! Do you have any live example?

[2020-01-28 10:48] andreysneg opened #25505 "Removed products do not show SKU in orders"
Removed products do not show SKU in orders .
Please add SKU field to orders data.

[2020-01-28 11:47] juliaamosova commented on #25490
@WillBrubaker @galbaras thanks for the additional feedback. I can reproduce the issue now:

![screencapture-jamosova2-mystagingwebsite-checkout-order-received-2020-01-28-11_44_29](https://user-images.githubusercontent.com/19143190/73261388-e08d3480-41c3-11ea-8f1d-2103b074fab0.png)

[2020-01-28 12:06] tammullen commented on #24666
And also directly from the UK Government's site
https://www.gov.uk/transition

The current rules on trade, travel, and business for the UK and EU will continue to apply during the transition period.

[2020-01-28 12:21] juliaamosova commented on #25491
Hi @gevcen,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

Initial categories setup:

![beore1](https://user-images.githubusercontent.com/19143190/73263435-788d1d00-41c8-11ea-92af-33ca617ed6fc.jpg)

![beore2](https://user-images.githubusercontent.com/19143190/73263454-7e82fe00-41c8-11ea-8927-9f6b05dc35c4.jpg)

![beore3](https://use

[2020-01-28 12:54] juliaamosova commented on #25492
Hi @itsgauravjain22,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close thi

[2020-01-28 12:54] #25492 closed

[2020-01-28 13:05] juliaamosova commented on #25493
Hi @lock2photo,

Thank you for submitting the issue. However, I don't fully understand it.

Everything is working as expected as far as I can tell.

I have `Shipping destination` set to `Default to customer billing address`:

![ship1](https://user-images.githubusercontent.com/19143190/73266361-aaa17d80-41ce-11ea-836a-0df2fc3a60ef.jpg)

At the checkout, I have shipping destination default to billin

[2020-01-28 13:09] juliaamosova commented on #25494
Hi @javadev,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

Please provide us with more details about the issue which may help us to evaluate it further.

What version of WooCommerce are you updating from? Are there any other plugins installed on your site?

[2020-01-28 13:14] juliaamosova commented on #25497
Hi @gevcen,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2020-01-28 13:15] juliaamosova commented on #25500
Hi @Turu2001,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2020-01-28 13:21] jyotsanakhannu opened #25506 "Woocommerce attribute in product url"
Hello,
I am using woocomerce and
My current url of product page  is "_http://example.com/product/product-name/_"
and I want to change the url to "_http://example.com/attribute-terms1/attribute-terms2/product-name_/"

In the **attribute-terms1** I have the restaurantname list and In the **attribute-terms2** I have the full location list.
 In custom base permalinks : I have tried using **%pa_attribu

[2020-01-28 13:21] juliaamosova commented on #25420
Hi @Johnny99211,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-28 13:21] #25420 closed

[2020-01-28 13:23] juliaamosova commented on #25222
Hi @yulumadavid,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-28 13:23] #25222 closed

[2020-01-28 13:38] javadev commented on #25494
I updated from version 3.8.1 to the 3.9.0.
The database is PostgreSQL.

[2020-01-28 13:57] claudiosanches commented on #24354
@snooplewand Just to make clear, we got the issue, we are trying to fix on WooCommerce and also on WooCommerce Services, and note that I made a suggestion for you both to update the tax rows as a solution for now only, or at least just while we are looking into a fix, I only suggested it because you both stressed that this issue is a problem for you from at least one year, so I just wanted to give

[2020-01-28 14:01] snooplewand commented on #24354
Thank you Claudio, although like I say updating the tax rows doesn't work either.

[2020-01-28 14:54] juliaamosova commented on #25223
Hi @Holu8,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

Also please note that we updated the documentation to reflect the correct setup if someone wants the highest tax rate to be applied to shipping on the order with multiple tax rates:

https://docs.wooco

[2020-01-28 14:54] #25223 closed

[2020-01-28 16:08] MicrodeltaSL commented on #22942
hello whitehorse3513, how you solved it? I have the same problem.

Thanks.

[2020-01-28 16:09] claudiosanches commented on #25463
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #25472.

[2020-01-28 16:09] #25463 closed

[2020-01-28 16:12] #25490 closed

[2020-01-28 16:13] claudiosanches commented on #25490
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #25507.

[2020-01-28 16:26] TimBHowe commented on #20921
Made some minor changes to the pull request. Thanks for all the input everyone. If there is anything else let me know, and I'll try and be more responsive.

[2020-01-28 16:56] claudiosanches commented on #25494
@javadev have you already updated from another version using PostgreSQL? Just checking if PostgreSQL have something related to it.
What PHP version are you running your store? Have you updated your PHP version before or after updating to 3.9?

[2020-01-28 17:33] juliaamosova commented on #25415
@thomas-zg thanks for providing more details. I can reproduce the issue now indeed when placing a manual order:

A variation where stock is managed at the level of the variation with backorders not allowed:

![var1](https://user-images.githubusercontent.com/19143190/73288895-b81d2e80-41f3-11ea-9d1b-ec56464520c1.jpg)

Placing manual order - I can select variation with zero stock and backorders not

[2020-01-28 17:56] javadev commented on #25494
I used heroku to host my site. Ghey have php 7.3.

[2020-01-28 17:58] javadev commented on #25494
Вы можете запустить приложение из github репозитория для heroku.

https://github.com/php4dev/heroku-wordpress

[2020-01-28 18:06] claudiosanches commented on #25494
Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

Sorry, but you haven't replied if you have already updated using PostgreSQL before.
Also note that WordPress core doesn't officially supports PostgreSQL.

[2020-01-28 19:13] lock2photo commented on #25493
Thanks for your thorough reply.  This is exactly how our site has been set
for years - Default to billing address.  But recently it was brought to my
attention that despite that setting being correctly checked in the
woocommerce shipping options, when a customer is checking out, the checkbox
that says "Ship to a different address?" is pre-checked forcing the second
set of address fields to be disp

[2020-01-28 19:45] gahsto commented on #25471
?

[2020-01-28 19:46] gahsto opened #25508 "Free Shipping not selected as default when eligible"
@claudiosanches it is an issue.
As you can see below I have it configured as suggested, yet the cart does not update with free shipping selected. It works if I meet the conditions when adding the first product, but if I 'Continue Shopping' without initially meeting the condition then add products afterward to meet it, it doesn't change. Please advise.
![73206808-9b102f00-4111-11ea-80d8-b4b3af11ed5

[2020-01-28 20:23] peterfabian commented on #24354
If you have a testing site available, maybe you can take the proposed PR for a spin to see if it solves the issue for you?

[2020-01-28 20:24] apmwebdev commented on #25493
I've been getting multiple users reporting this issue as well. One ticket is #2664991-zen. This one is helpful because it is a staging site that we have admin credentials for and can clearly reproduce the issue. I went through full conflict testing, and it still was happening for existing users even in barebones mode, although when I created a new user in barebones mode it didn't happen for them.

[2020-01-28 20:30] addedlovely opened #25510 "Checkout Address_2 field has duplicate 'optional'"
**Describe the bug**
The label for address_2 has a duplication of '(optional)'.
It's in the field label, then also added in a `<span>` tag.

**To Reproduce**
1. Goto WooCommerce.com
2. Goto checkout.
3. Disable the css on the `.screen-reader-text` CSS class - or view source to see the markup.

**Screenshots**
<img width="1392" alt="Screenshot 2020-01-28 at 17 31 03" src="https://user-images.github

[2020-01-28 20:33] addedlovely commented on #25510
Suspect this is the offending line:
$address_2_placeholder = __( 'Apartment, suite, unit etc. (optional)', 'woocommerce' );

https://github.com/woocommerce/woocommerce/blob/6bed0db5189832d7094836e5d72d407577c6f61d/includes/class-wc-countries.php#L635

[2020-01-28 21:46] apmwebdev commented on #25493
Another instance of this happening: #16454238-hc

[2020-01-28 22:53] javadev commented on #25494
I tried to start the update for version 3.8 to the latest version 3.9. I have got an error message in the application console as a result. This error message doesn't contain database-related exceptions, only PHP.

[2020-01-28 23:32] gettek opened #25513 "Site Crash with Advanced Product Labels Extension"
**Describe the bug**
Update to 3.9.1 causes WordPress crash when using [WooCommerce Advanced Product Labels Extension](https://woocommerce.com/products/woocommerce-advanced-product-labels/)

**To Reproduce**
Steps to reproduce the behavior:
1. Enable WooCommerce Advanced Product Labels Extension
2. Upgrade Woocommerce from 3.9.0 to 3.9.1
3. WordPress will fail to load
4. Enable debugging results i

[2020-01-29 00:10] szepeviktor opened #25514 "Side-effects and WooCommerce stubs"
Hello!
I run a small project that provides WC stubs for static analysis and IDE-s as the current source code [contains side-effects](https://github.com/php-stubs/woocommerce-stubs/blob/master/finder.php#L6-L25): if(defined), if(class_exists), class instantiations etc.
https://github.com/php-stubs/woocommerce-stubs

Do you plan to have clean OOP code?

- files with functions only
- files with 1 cla

[2020-01-29 04:44] trimal2 opened #25515 "I can't uncheck "Manage stock?" inside some variations."
When creating a new product and creating variations for it,
some of them have "manage stock" checked and it can not be changed manually.
This bug appears not in all products.
Most of them can be changed manually, but some SKU that has "Manage stock" checked, can't be updated. After unchecking it manually and saving it remains the same. Nothing changes.

**To Reproduce**
1. Create a new product.
2.

[2020-01-29 09:57] fullpixel commented on #25401
Hi juliaamosova,

We are awaiting your feedback. Do you already know more about this problem? We hope for a response.

Thanks so far

[2020-01-29 09:58] Webvriend commented on #25401
Hi juliaamosova,

We are awaiting your feedback. Do you already know more about this problem? We hope for a response.

Thanks so far

[2020-01-29 10:07] franticpsyx commented on #25495
Thanks for reporting this @njwgh

This is an issue in the way `select2` calculates the dropdown width. For anyone who wants to patch this one in `selectWoo`, have a look at the `_resizeDropdown` function. We need to replace:

[code]

with

[code]

While we are at it, it might be a good idea if someone built an `npm` package out of `selectWoo`, as currently there is no automated way to pull the lib

[2020-01-29 10:34] yulumadavid commented on #25222
Sometimes WP works in mysterious ways. Promised to keep you updates.

A few days later we tested it again on our test webshop and the problem did no longer exists. We then tested it on the four webshops where the problem occurred, and there also the problem did not occur anymore. I can only assume that the daily cron was for some reason blocked for only these shops for only a few days of a period

[2020-01-29 10:43] juliaamosova commented on #25513
Hi @gettek,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the [WooCommerce Advanced Product Labels](https://woocommerce.com/products/woocommerce-advanced-product-labels/) plugin which is one of the paid products on our marketplace. To get further technica

[2020-01-29 10:43] #25513 closed

[2020-01-29 10:55] juliaamosova commented on #25515
Hi @trimal2,

Thank you for raising the issue. However, I can’t reproduce it on my end.

Everything is working as expected - please see screencast: https://recordit.co/r9yBeVslQo.

You haven't provided your System Status report. Do you have many plugins installed on your site? Do you use one of our default themes or a 3rd party theme?

Please test your site for theme and plugins conflict. To do th

[2020-01-29 11:33] juliaamosova commented on #25495
Hi @njwgh,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

![pixel](https://user-images.githubusercontent.com/19143190/73353210-c79b8680-428a-11ea-8735-a792cfb47539.jpg)

@franticpsyx thanks for your feedback and comment as well.

We are aware of this issue but it had not been a priority for us to work on just yet. We consider creat

[2020-01-29 11:36] juliaamosova commented on #25505
Hi @andreysneg,

Thank you for taking the time to share this idea, we really appreciate your help. 

Below are screenshots to showcase the request:

Before deleting the product which is a part of the order on the site:

![sku_before_product_delition](https://user-images.githubusercontent.com/19143190/73353566-88216a00-428b-11ea-9c28-359383c547ef.jpg)

After deleting the product which is a part of

[2020-01-29 11:37] #25505 closed

[2020-01-29 11:43] asafmjul commented on #25076
Hi,

Any updates?

[2020-01-29 11:52] tsetend commented on #25493
Another issue reported on 2669645-zen. Did a full conflict test with Twenty Nineteen and WooCommerce only but the "Ship to different address" is checked in checkout even with shipping destination set as " Default to customer billing address". They mentioned, it happened after the update.

[2020-01-29 11:55] starypop commented on #25447
Thanks @tammullen for your answer!

I understand that applying a coupon via admin Edit Order screen might not be that important feature at the moment.

Unfortunately the bug seems to be somewhere deeper than the admin Edit Order interface. I've looked the method WC_AJAX::add_order_item() that is hooked to the 'woocommerce_add_order_item' AJAX action which was fired when inserting products to an or

[2020-01-29 12:16] peterfabian commented on #25514
Hi @szepeviktor
Thanks for the questions and providing the stubs!

While we do plan to clean up our code, it will be a gradual process and something that would take some time, especially given the backward compatibility constraints.
Side effects in the code are inevitable, otherwise, we could not use databases or files, plus lots of side effects are a consequence of using WordPress filters. Of cou

[2020-01-29 12:19] szepeviktor commented on #25514
Thank you for this length of an answer!

I think the if(defined(ABSPATH)) is here to stay in all files as many WC users are running on shared hosting.

[2020-01-29 12:19] #25514 closed

[2020-01-29 12:27] juliaamosova commented on #25459
Hi @Hun2,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-29 12:27] #25459 closed

[2020-01-29 12:40] juliaamosova opened #25518 "Able to create manual order for variation with zero stock and backorder not allowed"
**Describe the bug**

Able to create manual order for variation with zero stock and backorder not allowed.

Originally reported in the comment in https://github.com/woocommerce/woocommerce/issues/25415 but since the original issue was slightly different, I opened a new issue to document confirmed bug.

**To Reproduce**

Steps to reproduce the behavior:

1. Set up a variable product, the stock is h

[2020-01-29 12:41] juliaamosova commented on #25415
@thomas-zg I created a separate issue to document the bug you reported: https://github.com/woocommerce/woocommerce/issues/25518.

@ashraffarag, as a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-29 12:41] #25415 closed

[2020-01-29 12:57] juliaamosova commented on #25410
@piotrkorzan apologies for the delayed reply. I double-checked your site and see that it seems to be looking good and in Polish:

![screencapture-uroda365-pl-2020-01-29-12_53_30](https://user-images.githubusercontent.com/19143190/73358492-a04ab680-4296-11ea-9e66-c4d02d0dd7d4.png)

![screencapture-uroda365-pl-product-category-marki-loreal-2020-01-29-12_54_19 (1)](https://user-images.githubuserconte

[2020-01-29 12:57] #25410 closed

[2020-01-29 13:24] juliaamosova commented on #25347
@efoken thanks for additional feedback. I can see that this is still an issue in WooCommerce 3.9.1.

My Tax Settings:

![Screen Shot 2020-01-29 at 1 13 36 PM](https://user-images.githubusercontent.com/19143190/73359747-7050e280-4299-11ea-9f51-eff1f925cd78.png)

The Standard tax rate is 19% for the US:

![Screen Shot 2020-01-29 at 1 13 46 PM](https://user-images.githubusercontent.com/19143190/73359

[2020-01-29 13:39] juliaamosova commented on #25326
@flyonthenet I have PHP warnings enabled on the site but don't see a warning either:

![Screen Shot 2020-01-29 at 1 36 40 PM](https://user-images.githubusercontent.com/19143190/73361310-9f1c8800-429c-11ea-8795-bc4ed342da9f.png)

I am testing with WooCommerce 3.9.1 and YITH Woocommerce Request A Quote 1.5.2. Can you please confirm you are still having an issue?

[2020-01-29 14:54] juliaamosova commented on #25227
@JamboMedia apologies for the delayed response.

With the provided information, it is not possible to know what is the cause of the problem. It could be WooCommerce, the server, or something else specific to your installation.

Are you able to determine what is causing the page to take so long to load? Is it a particular database query? If so, which query? Or maybe is it PHP taking is taking a lon

[2020-01-29 14:57] juliaamosova commented on #25262
@masoudarvishi apologies for the delayed response. Is there a way to reproduce the issue with just the WooCommerce plugin activated on the site? If so, what are the steps?

[2020-01-29 15:03] claudiosanches commented on #25493
I'm not able to reproduce it, I have registered a new user and also with a already registered user, and both seems to be working fine.
But the only change that may have caused it is https://github.com/woocommerce/woocommerce/pull/24271

So sounds like those customers have some different on their shipping address and this code is forcing to display it.
I'll check how to simulate it, and how we can

[2020-01-29 15:09] juliaamosova commented on #25219
@NaturesEssentialsCBD apologies for the delayed response.

Can you please specify how do you create products? By adding product blocks or shortcodes?

[2020-01-29 15:17] rvalins opened #25520 "Customer change email (email template)"
## Prerequisites

- [ ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate
- [ ] The issue still exists against the latest `master` branch of WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [ ] I have attempted to find the simplest possible steps to reproduce the issue
- [ ] I have included a failing test as a pull request

[2020-01-29 15:17] claudiosanches commented on #25493
@juliaamosova in order to reproduce need to set a shipping address that isn't the same of the billing address.

[2020-01-29 16:21] ObliviousHarmony commented on #25301
In my testing I wasn't actually able to trigger the `admin_post_{{action}}` action at all for a logged-out user (it is after all an "admin" post request!) WordPress provides an `admin_post_nopriv_{{action}}` action that is supposed to be used in this case.

Ignoring that slightly confusing aspect of your issue report, it's possible you're encountering the bug described in #23682. If that is the ca

[2020-01-29 16:32] juliaamosova commented on #25520
Hi @rvalins,

Thank you for submitting the issue. However, I don't understand what the issue is. You mentioned the customer changed their account email address which is possible as follows:

![acct2](https://user-images.githubusercontent.com/19143190/73375393-a69b5b80-42b3-11ea-9e2a-31cd90dbdda1.jpg)

![acct1](https://user-images.githubusercontent.com/19143190/73375543-d77b9080-42b3-11ea-8ea1-0427

[2020-01-29 16:34] JBossSimplistics commented on #25301
Hey Christopher,

Yes so to answer your first item above - you're correct my original post should have shown 'nopriv_' in that action, you're right.

That aside, I took a look at the post above, and yes - looks like its the same root issue causing this. The comment by tylerdigital sums it up very well I think: the problem is that adding items to your shopping cart triggers nonce_user_logged_out fo

[2020-01-29 17:05] juliaamosova commented on #25301
Thanks for the additional feedback @JBossSimplistics! We are closing your issue in favor of https://github.com/woocommerce/woocommerce/issues/23682 which was submitted previously. Please continue the discussion there if needed.

[2020-01-29 17:05] #25301 closed

[2020-01-29 17:34] BBFUNK01 opened #25523 "wc_add_notice on checkout page don't display notice correctly since last update to woocommerce 3.9.0"
**Describe the bug**
Hello Woocommerce's Team!

I'm developing a payment gateway plug-in, and since I updated Woocommerce to 3.9.0 version, I can no longer display notices error correctly on the checkout page: the default error notice "Error checkout processing. Please try again" is displayed, and I need to reload the page to see my custom error notice.

Before the update, my custom notices displa

[2020-01-29 18:04] juliaamosova commented on #25433
Hi @dougaitken,

Thank you for taking the time reporting this issue, we really appreciate your help. I can reproduce it on my end.

Added `Logout` WooCommerce endpoints custom link to the menu:

![menu1](https://user-images.githubusercontent.com/19143190/73383455-47444800-42c1-11ea-9fb5-77f74279d337.jpg)

At the front-end on the `My Account` page, clicked on the `Logout` WooCommerce endpoint custo

[2020-01-29 18:17] juliaamosova commented on #25144
@chukran apologies for the delayed response.

It is very difficult to identify or confirm the bug using just the information provided. I understand that the issue is that if the customer is navigating to the site from the Facebook ad and then placing the order, they are not being redirected to the Thank you page, correct? Instead, the screen just hangs.

I looked at the youtube video you provided

[2020-01-29 19:02] juliaamosova commented on #25142
@determin1st apologies for the delayed response.

In order to set a new label for the `billing_city` for example, you need to use `woocommerce_default_address_fields` filter as per [documentation](https://docs.woocommerce.com/document/tutorial-customising-checkout-fields-using-actions-and-filters/#section-2). This filter is applied to all billing and shipping default fields.

So for example, to ch

[2020-01-29 19:58] rvalins commented on #25520
Sure! This email does not appear in the Settings section of Woocommerce.
In my case, for example, I have made a setup to sent "From as" another email. However (and perhaps, because it does not shows at Settings section), this email that was sent does not was sent using this from address, but the default admin email address.

![image](https://user-images.githubusercontent.com/36124502/73392273-5e8b

[2020-01-29 20:11] peterfabian opened #25524 "Explore the feasibility of improved filtering of variations"
Now that we have lookup table for products, maybe there are some approaches we could explore to support filtering variations by attributes + in stock/out of stock.

Ref old issue with some proposed solutions: https://github.com/woocommerce/woocommerce/issues/20689

Note: Within the scope of this issue, we'll cover a proof of concept and write tests for the failing cases. Actual implementation will

[2020-01-29 20:42] rvalins commented on #25520
In summary:
1. it would be important to show this email template in this section.
2. It appears to me that this message is not working as the others due to the fact that it does not use the alternative email instead of the admin email

[2020-01-29 21:14] trimal2 commented on #25515
Thank you Julia for your quick response.
I just disabled all plugins except ones that have "WooCommerce" in it's name and changed theme to Storefont but problem still exists.
When disabled everything except this 2 plugins: WooCommerce and WooCommerce Admin, everything went fine. So it's one of woocommerce plugins is causing this issue. I will reenable them one by one and will try to find which one

[2020-01-29 21:32] #20921 closed

[2020-01-29 21:33] JoshMoreno commented on #17983
I think the problem a lot of people are having is that read access doesn't always cover all use cases. For example, if I want to use vue or react for my front end and wp + woocommerce in a headless fashion, I'm only limited to GET and OPTION requests when leveraging woocommerce's api.

**woocommerce/includes/class-wc-rest-authentication.php around line 64**
[code]

A use case for post requests wou

[2020-01-29 21:45] juliaamosova commented on #24580
Hi @crmituk, I also tested the issue you reported but was not able to reproduce it.

My attributes:

![Screen Shot 2020-01-29 at 7 51 39 PM](https://user-images.githubusercontent.com/19143190/73400095-5d153580-42e0-11ea-8cab-dda730db2297.png)

My variation:

![Screen Shot 2020-01-29 at 7 51 50 PM](https://user-images.githubusercontent.com/19143190/73400113-669e9d80-42e0-11ea-9e47-8bd3e1adf3bd.png)

[2020-01-29 21:45] #24580 closed

[2020-01-29 23:56] trimal2 commented on #25515
Thank you very much once again, Julia.
Finally, I've found a faulty plugin: WooCommerce Square (Version 2.0.8)
<img width="1747" alt="Screenshot 2020-01-29 18 24 27" src="https://user-images.githubusercontent.com/7256258/73406524-9cce2400-42c4-11ea-8c5a-b96708d4d8a0.png">
When it's active, there some SKUs which I can't change "Manage Stock?"
But when I deactivate it, everything is working well.
Pl

[2020-01-30 00:24] BBFUNK01 commented on #25523
Hi again,

I found an alternative solution to solve the problem: if conditions aren't met, I redirect customer on the cart page which display the correct notice.

Problem solved for me.

Best regards ;).

[2020-01-30 00:24] #25523 closed

[2020-01-30 04:29] alexeiol commented on #23414
This link for manual updates has disappeared. If I try to update using the link ../wp-admin/admin.php?page=wc-settings&do_update_woocommerce=1, I get an "expired link" error message. I am running WooCommerce 3.9.1 on Wordpress 5.3.2.

[2020-01-30 04:51] joshuatf opened #25526 "New onboarding feature is not enabled on redirect"
**Describe the bug**
When clicking "Yes please" in the old onboarding to opt in to the new onboarding experience, the user is redirected to the dashboard and nothing happens.

This appears to be due to a change in the option name responsible for determining whether or not this new feature is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new site.
1. Install activate WC.
1

[2020-01-30 04:55] jyotsanakhannu commented on #25506
Is anyone here to reply my question

[2020-01-30 09:12] peterfabian commented on #23414
There should be a "Run" link when you move your mouse over each line in the list of Pending actions:
![Screenshot 2020-01-30 at 10 08 36](https://user-images.githubusercontent.com/2207451/73435300-a6996b00-4348-11ea-926c-559066410fc7.png)

If you want to run the database update manually, there is also a button in WooCommerce > Status > Tools:
![Screenshot 2020-01-30 at 10 11 24](https://user-image

[2020-01-30 10:02] juliaamosova commented on #25515
@trimal2 thanks for additional testing. Glad you found the plugin causing the issue.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce Core bugs only.

According to your testing, the issue you are having seems to be caused by the WooCommerce Square plugin which is one of the products on our marketplace. To get furthe

[2020-01-30 10:02] #25515 closed

[2020-01-30 10:16] itsgauravjain22 commented on #25492
Thanks @juliaamosova for understanding the demand. I know about the Shipment Tracking plugin by woocommerce but its paid and not good for startup store, which I think should come with core woocommerce platform.

 WooCommerce Shipping services plugin you mentioned is very much limited and is not useful where USPS services are not present. I am from India where this plugin doesn't make any sense.

I

[2020-01-30 11:02] Christian-Roth opened #25529 "WC All Products Block Titles are not rendering HTML"
**Describe the bug**
The title in the new All Products Block does not render HTML. They are shown as plain text.

**To Reproduce**
Steps to reproduce the behavior:
1. Add additional HTML tags via the woocommerce_product_title filter
2. Insert the "All Products" Block

**Screenshots**
![Screenshot of All Product Block Title](https://www.goyippi.net/wp-content/uploads/2020/01/wc_all_products_block_t

[2020-01-30 11:15] juliaamosova commented on #25529
Hi @Christian-Roth,

Thank you for reporting the issue. Product blocks are being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block

I am going to move your bug report there so that the right team could take a look further.

[2020-01-30 11:54] benhuson opened #25531 "Make "Out of Stock Threshold" filterable or customisable per product"
We have a client who would like to have a different "Out of stock threshold" for some products.

Current products do not require an out of stock threshold as they have good availability, but older items need a threshold as they are more difficult to source and any few remaining items in stock may have been sold in a shop recently rather than online so a threshold is required to ensure availability

[2020-01-30 12:02] alexeiol commented on #23414
@peterfabian Thank you for your answer. The issue is: I know there "should" be a link when I mouse over the lines, but there is not, just check the attachment. The link for manual and individual update "used to be" there; I know because have faced this problem before. Now it has simply disappeared!

Also, when I click on the button in the "Woocommerce-Status-Tools" page, it does not complete the p

[2020-01-30 12:52] pgamaster opened #25533 "Database update issue after recent Woocommerce update"
**Describe the bug**
Database update stuck, no progress, pending status.
woocommerce_run_update_callback is waiting:
'update_callback' => 'wc_update_390_move_maxmind_database'
'update_callback' => 'wc_update_390_change_geolocation_database_update_cron'
'update_callback' => 'wc_update_390_db_version'
The recent woocommerce update caused the issue.

Same issue:
https://wordpress.org/support/topic/da

[2020-01-30 12:53] pgamaster commented on #25533
![woobug1](https://user-images.githubusercontent.com/15028396/73451430-43bbca00-4370-11ea-95a7-8d03e8e0359e.jpg)

[2020-01-30 13:40] juliaamosova commented on #25533
Hi @pgamaster,

Thank you for submitting the issue. DB update is a part of the Action Scheduler functionality which relies on WP Cron which is how WordPress handles scheduling time-based tasks. So unless WP Cron runs, those tasks would be pending.

Similar to what had been suggested in the forum threads you linked to, you can run the pending jobs manually (on mouseover, a `Run` link appears on eac

[2020-01-30 13:44] pgamaster commented on #25533
there's no RUN link... unfortunately

[2020-01-30 14:19] sanjaydawar opened #25534 "Warning: Cookie paths cannot contain any of the following ',; \t\r\n\013\014' in E:\xampp\htdocs\Leh\wp-content\plugins\woocommerce\includes\wc-core-functions.php on line 889"
## Prerequisites

- [ ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate
- [x] The issue still exists against the latest `master` branch of WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [ ] I have attempted to find the simplest possible steps to reproduce the issue
- [ ] I have included a failing test as a pull request

[2020-01-30 14:22] juliaamosova commented on #25533
@pgamaster interesting. What about selecting a task `Run` and applying it to the selected jobs as shown below:

![DB_run](https://user-images.githubusercontent.com/19143190/73457695-f9384e80-436b-11ea-9c69-22737f27c114.jpg)

[2020-01-30 14:23] juliaamosova commented on #25534
Hi @sanjaydawar,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2020-01-30 14:32] juliaamosova commented on #25531
Hi @benhuson,

Thank you for submitting the issue. What about the existing fields available for managing individual product stock? Unless I am missing something, they seem to fit for what you are looking for:

![inventory](https://user-images.githubusercontent.com/19143190/73458486-45d05980-436d-11ea-8d41-9a1b69595589.jpg)

[2020-01-30 15:05] pgamaster commented on #25533
no run action...

![woobug3](https://user-images.githubusercontent.com/15028396/73461395-bdf54a00-4382-11ea-9697-52fbc1af32fa.jpg)

[2020-01-30 15:55] benhuson commented on #25531
Hi @juliaamosova

I don't think that quite does what we are looking for...

Our client has several physical stores and a WooCommerce online store.

They have a centralised stock system where they manage their products.
They periodically export stock CSVs from their central system into WooCommerce (it is hoped at some point we will be able to automate this process).

They would like the stock level

[2020-01-30 16:13] juliaamosova commented on #25508
Hi @gahsto,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported. Everything is working as expected on my end.

Here I have `Free Shipping` listed as the top option among shipping methods in the US shipping zone:

![Screen Shot 2020-01-30 at 2 55 04 PM](https://user-images.githubusercontent.com/19143190/73467106-bdf14c00-437a-11ea-9be4-bdc0c49bc4cb.png)

My `Free

[2020-01-30 16:36] claudiosanches commented on #17983
@JoshMoreno in fact you should use `woocommerce_rest_check_permissions` filter, so you can manipulate each required capability.

[2020-01-30 16:45] juliaamosova commented on #25506
Hi @jyotsanakhannu,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request, not a bug. I am happy to help this time, however, for technical support questions, please refer to one of our support channels in the future:

- If you are a paying customer of

[2020-01-30 16:47] peterfabian commented on #25533
cc @rrennick maybe you saw when this would happen?

[2020-01-30 17:09] rrennick commented on #25533
The `Run` is an action link under the hook name. There isn't a bulk `Run`.

[2020-01-30 17:13] pgamaster commented on #25533
It's not there, please look into my screen shots.

[2020-01-30 17:24] rrennick commented on #25533
The screenshot doesn't show the HTML where the action link would be. Only `Pending` actions have action links

<img width="306" alt="Screen Shot 2020-01-30 at 1 24 08 PM" src="https://user-images.githubusercontent.com/343847/73473882-df930900-4363-11ea-981b-4fb77c37b363.png">

[2020-01-30 17:25] pgamaster commented on #25533
it shows actually, I updated my post https://jsfiddle.net/6oa4hemk/

[2020-01-30 17:30] pgamaster commented on #25533
Another screen shot

![woobug4](https://user-images.githubusercontent.com/15028396/73474336-03bc0d80-4397-11ea-8977-16aa2ba81ba2.jpg)

[2020-01-30 17:34] pgamaster commented on #25533
Firefox
![woobug5](https://user-images.githubusercontent.com/15028396/73474663-80e78280-4397-11ea-8446-2f2301234a64.jpg)

[2020-01-30 17:37] pgamaster commented on #25533
I switched to an English version, it works. The issue appears on Russian version.

![woobug6](https://user-images.githubusercontent.com/15028396/73474862-d7ed5780-4397-11ea-9a1c-eb676845f1c9.jpg)

[2020-01-30 17:40] rrennick commented on #25533
@pgamaster Glad to hear that. You'll be able to run the update that way :)

We'll need confirmation that it happens with no other plugins active & a default theme before investigating further.

[2020-01-30 17:40] juliaamosova commented on #25520
Thanks for the background and explanation @rvalins. `Change Email` type of email is actually being sent by WordPress directly.

It will make sense, however, to include this type of email in the WooCommerce Email Settings. I am going to add this to the list of `enhancement`s for now with label `question` which means it is something for our team to discuss further.

[2020-01-30 17:44] pgamaster commented on #25533
I can't turn off all plugins since the store is 24/7 online and dockerized :(
As you can see the issue is related to Russian admin theme. You may look through the code...

[2020-01-30 17:45] ChaseWiseman opened #27554 "[v2 & v3] System Status filter data changed type in v1.0.6/WC 3.9"
The primary `$request` parameter that's passed to the `woocommerce_rest_prepare_system_status` filter has inconsistent data between v1.0.5 and 1.0.6.

Previously, many of the top-level property values like `environment` and `settings` that are present in `\WP_REST_Response::$data` were PHP objects, matching their type in the schema.

Due to the changes in https://github.com/woocommerce/woocommerce

[2020-01-30 18:02] lepinko commented on #23682
Hello, new to WooCommerce here. I have the same issue. I have this code:

[code]
I am trying to manually create a session cookie before the nonce is created. The function is called multiple times, with different $action values. Log below (from a simple refresh of the product page):
[code]
Not sure why all these actions appear there as they seem irrelevant (i just refreshed the product page while b

[2020-01-30 18:13] rrennick commented on #25533
Action Scheduler hasn't been updated in WooCommerce since 3.6.X but it's possible that it's an issue in the translation files. However, the translation files are maintained by the folks at https://translate.wordpress.org.

If you were able to set up a test install, I could provide instructions on creating pending actions.

[2020-01-30 19:15] shmaltz opened #25537 "New Line Item: Add Quantity, Name and Tax fields"
I find it a nuisance that when I have to add products that are not in my WooCommerce store to an invoice, that I have to click "Add Fee" and then enter the price, and then click save, and then edit the fee to add the fee name (in this case, the product name), and then save. Furthermore, there is no option to input a quantity of the fee, which  forces me to make unnecessary calculations externally.

[2020-01-30 19:33] nixiack commented on #25133
I have a user who ran into this same issue, and I am able to replicate this item.

**To Reproduce**
Steps to reproduce the behavior:
1. WooCommerce ver. 3.9.1, Free Shipping method, Check Payment gateway
2. Have a variation with at least 2-3 variables (my test was color and size)
3. Purchase variation - on the Orders screen it shows fine:

![Screenshot](https://d.pr/i/1ji3bR+)
Screenshot: https://

[2020-01-30 20:14] lepinko commented on #23682
I have noticed that the nonce stops working after 2 minutes. Within the first 2 mintues I it works fine when logged in as well as logged out. Then gives error on both occasions.

[2020-01-30 20:29] micscr opened #25538 "Woo Product Vendors Addon: Backend "My Orders" not mobile-responsive for Vendors"
**Describe the bug**
The overview page in the vendors' backend (talking bout normal mobile browser view) which shows orders received is not responsive, i.e. it is not displayed correctly in smartphone portrait mode. Headlines of the cells overlapping each other and only order nummer is shown. Looks better when you turn the smartphone to landscape mode but this certain page is not mobile-ready at a

[2020-01-30 21:20] juliaamosova commented on #25537
Hi @shmaltz,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2020-01-30 21:20] #25537 closed

[2020-01-30 21:22] juliaamosova commented on #25538
Hi @micscr,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by WooCommerce Product Vendors plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact the WooCommerce helpdesk by [opening a ticket](https

[2020-01-30 21:22] #25538 closed

[2020-01-30 22:20] micscr commented on #25538
Hi @juliaamosova,

I already did - they told me to report the bug here 😃

Regards,
Michael

[2020-01-30 22:41] #24936 closed

[2020-01-30 23:13] mauricionietobr commented on #20540
Ive been searching for this feature as well since I am working on making my website a marketplace friendly for multi-vendor, and I cannot depend on my vendors to keep track of our internal self-generated ids of the products, so I am finding a way to make this work on our end, this feature would be much appreciated to accomodate Woocommerce into a multi-vendor platform API.

[2020-01-31 07:54] #25487 closed

[2020-01-31 08:06] peterfabian commented on #23414
Apologies for that, @alexeiol!

Seems like there is a strange glitch where in some languages, the Run link does not appear, as it was discovered in https://github.com/woocommerce/woocommerce/issues/25533. Switching your admin to English temporarily should allow you to run the pending tasks.

cc @rrennick another case with different admin language not showing the Run link.

[2020-01-31 08:56] ajgw opened #25539 "Tax class zero tax named with 0 in german translation"
After each update of WooCommerce tax classes are installed. We had a tax free class which called in german language "Steuerfreie Raten" in earlier versions of WC. Til ver. 3.x they are installed as "0 price rate" or in german language "0 Preis Raten".

If I use too Germanized for WooCommerce, they use the older tax class names before WC 3.x. So after each update reduced and free classes are twice

[2020-01-31 08:57] rvalins commented on #25520
Thank you very much @juliaamosova!
Is there a way to not allow customer to change their password? Perhaps a php code?
Depending it would be a good enhancement for Woocommerce also, due to the fact the email field to be a key information, to have a place to admin to allow/not allow this possibility.
Thanks again
Best regards

[2020-01-31 10:19] juliaamosova commented on #25510
Hi @addedlovely,

Thank you for taking the time reporting this bug, we really appreciate your help. I'll mark it as a `first good issue`.

[2020-01-31 10:21] determin1st commented on #25142
Oke, thanks Julia :]

I mean, you change `priority` to put **Email** before **Phone** (for example) and with `woocommerce_checkout_fields` it wont work (I'm not sure about it right now, made custom template to workaround these hooks).

[2020-01-31 10:22] juliaamosova commented on #25413
Hi @galbaras,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-01-31 11:39] thomas-zg commented on #25539
This is because of the german translation:
<img width="659" alt="grafik" src="https://user-images.githubusercontent.com/25877146/73536633-98ba1780-4426-11ea-89cb-295fbe192a3b.png">

The translation in https://translate.wordpress.org/projects/wp-plugins/woocommerce is maintained by the community, you can suggest the changes there.

[2020-01-31 11:41] juliaamosova commented on #25480
Hi @patrick-fls,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

Have tried the following as per [documentation](https://github.com/woocommerce/woocommerce/wiki/WC-CLI-Commands#wc-shipping_zone_method-update-id):

**Attempt 1:**

`
wp wc shipping_zone_method update --zone_id=1 --instance_id=4 --enabled=false --user=admin
Warning: In

[2020-01-31 11:53] alexeiol commented on #23414
@peterfabian It worked! Thanks a lot!

[2020-01-31 12:12] juliaamosova commented on #25539
Hi @ajgw,

Thank you for submitting the issue. However, as @thomas-zg mentioned, you are getting `0 Preis` in German version of WooCommerce because this is how the community translated English `Zero rate`. On our end, we haven't changed the naming of `Zero rate`.

You can download the German translation file here and verify as well:

https://translate.wordpress.org/projects/wp-plugins/woocommerce/

[2020-01-31 12:12] #25539 closed

[2020-01-31 12:18] itsgauravjain22 commented on #25486
Hi @claudiosanches , Could you please inform me which capability is needed for displaying private product. I want ```/wp-json/wc/v3/products?page=1&per_page=20``` to show only those products which are added by that user.

I tried ```read_private_products```, but it list all the products which are posted by another user as well. So what's the purpose of this capability.

I tried ```read_private_pos

[2020-01-31 12:42] juliaamosova commented on #25434
Hi @edotoro,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request. In the future, please use one of the following channels to get technical support for similar requests:

- If you are a paying customer of WooCommerce, contact WooCommerce support by [

[2020-01-31 13:02] rrennick commented on #23414
#25404 should address this. I should be updating that PR next week and will look at testing with a translation.

[2020-01-31 13:40] peterfabian opened #25541 "Shipping destination behaviour bugs"
**Describe the bug**
While testing #25521, I discovered different bugs around the workflow:

1. Set `Shipping destination` to `Default to customer **billing** address` in the shipping options and different billing and shipping information for a customer.
2. Log in as the customer, add to cart
4. Go to checkout, now the billing address shows the billing address and when you expand the shipping addr

[2020-01-31 14:01] gettek commented on #25513
Just being a good samaritan here; paid or unpaid it's clear the upgrade to WooCommerce introduced an incompatibility within your product chains.

[2020-01-31 14:34] ajgw opened #25542 "Tax class Zero Rate is not only for zero taxes"
I was wondering why there in WC settings under tax is a class called Zero Rate. I came to this because we tried to find a better translation for this class beside reduced and standard classes.

Well, we need all three of them and their logic seems to be OK as Standard is for us 19% EU-wide, reduced is 7% EU-wide.

But if I take a look at Zero Rate class, I am able to submit and save beside countri

[2020-01-31 15:05] scrobbleme opened #25543 "Find variations using the parent SKU when creating orders manually"
**Is your feature request related to a problem? Please describe.**

I have a customer, who is:

- creating orders manually using the backend
- adding products using the SKU for search
- Adding only one SKU (at product level) for variable products
  - no extra SKU for each variation

The **problem**

- Variations are not found, when using the SKU within the search dialog.
- but the parent SKU is sh

[2020-01-31 16:37] CookiesForDevo opened #25544 "HTML Entities in Product Attributes not encoding/decoding correctly"
**Describe the bug**
HTML entities in product attributes are not being encoded/decoded correctly.

Entering a string such as `<30g, 30-50g, 50-70g, >70g` will only save `70g` and while `&lt;30g, 30-50g, 50-70g, &gt;70g` will work for one save, it is saved in the database and displayed as `<30g, 30-50g, 50-70g, >70g` and will reduce down to `70g` when the post is saved a second time.

Adding a spac

[2020-01-31 16:37] peterfabian commented on #25358
Please continue the discussion in the PR, closing.

[2020-01-31 16:37] #25358 closed

[2020-01-31 19:14] claudiosanches commented on #25367
Better steps to reproduce should be ideal to help us to fix it as soon as possible.

[2020-01-31 19:22] claudiosanches commented on #25367
It doesn't sound correct, at least not if it's really on the `$order->payment_complete()` method, at least there's no way to set it empty, see https://github.com/woocommerce/woocommerce/blob/0bec8443f49f8ccc7526a8074989ecaef5a81409/includes/class-wc-order.php#L112-L114

[2020-01-31 19:33] claudiosanches commented on #25367
The only other place on PayPal that it got added is by:

https://github.com/woocommerce/woocommerce/blob/49065c0d1ae3e6e2c0692369cd2692512736929e/includes/gateways/paypal/includes/class-wc-gateway-paypal-pdt-handler.php#L106

But this method need to be validated on PayPal, if is missing the transaction id (`$_REQUEST['tx']`) the validation will make stop before saving any `_transaction_id`.

Anywa

[2020-01-31 19:40] dstana commented on #25432
There's a checkbox whether to enable the product or not.

![snip1](https://user-images.githubusercontent.com/15884132/73569012-cb641000-4426-11ea-8690-2234352698f9.jpg)

[2020-01-31 20:03] dsmithweb opened #25547 "When manually adding products to existing order, coupons already applied to order don't apply to newly added products"
**Describe the bug**
 If you create and save an order with a coupon applied to it, then manually edit the order to add another product to the order, the existing coupon doesn't apply to the newly added product.

I searched hard for another report of this, but couldn't.

This may or may not be expected behavior, but
- "Recalculate" does not apply the existing coupon to the newly added product
- att

[2020-02-01 02:28] helgatheviking opened #25552 "WC_Product_Variable::sync() does not run when a variation is removed"
**Describe the bug**
I have some code that runs on the `woocommerce_variable_product_sync_data`. It checks if any variations have a particular meta field (specifically if any of the variations are Name Your Price-enabled) and sets a meta flag on the parent. I just noticed that if you remove the Name Your Price variation, the meta flag on the parent does not go away.

This appears to be because `sy

[2020-02-01 06:34] realrecordzLab opened #25555 "Category and Subcategory images not displayed"
I have a woocommerce installation that I'm customizing using the hooks.
I've customized the category template and all is working fine. I've noticed that when I try to select an image for category or subcategories I've created, the selected image will not be displayed on front-end and on back-end category settings page. Is this a bug or I miss something in configuration?

[2020-02-01 15:28] jirsbek commented on #25533
I had the same issue as @pgamaster having WordPress admin in non-english translation. Switching to English works and I can see the _Run_ command now.

[2020-02-01 16:08] 84em commented on #25547
Thanks for reporting this.  I confirmed it on a local fresh install with only Storefront, Woo, and Woo Subs installed.  Also confirmed on my client's live site.  If anyone has a patch I could put in place until the bug is squashed in a future release, that would be great.  So far I haven't had luck hooking into existing actions/filters to get it working right.  I could just be looking in the wrong

[2020-02-02 03:39] EBolt opened #25556 "Orders not showing in WooCommerce Analytics Graphs"
**Describe the bug**
The order doesn't send an automatical emails notice to let us know that we got an order.

The order doesn't show in the WooCommerce Analytics graphs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'WooCommerce Analytics'
2. Click on 'Daily Orders'
3. Scroll down to 'look at the graph'
4. See error... it says $0 orders or sales, but when you go to WooCommerce order

[2020-02-02 21:06] Holu8 commented on #25223
Hi @juliaamosova,
I am really sorry for late response, renaming classes means deleting them, then assigning products again to the classes. For this purpose I had to set up test server and try it there to prevent possible problems, which required some time.
You were right, the taxes now work correctly, thank you for updating docs & searching for solution.

[2020-02-03 09:29] sascharudolph opened #25557 "Bootstrap .col-Integration Idea"
Hey guys,

this is a feature, related to an old issue from 2017 https://github.com/woocommerce/woocommerce/issues/15793

We still suffering from the fact, that bootstrap is colliding with woocommerce' css.

To prevent old or further themes from being changed or simply destroyed by changing classes, what about an option (select-field) in the backend, where you can change the classes by yourself or

[2020-02-03 10:16] juliaamosova commented on #25223
@Holu8 no worries at all and thanks for your follow-up! I am glad the issue is now resolved.

[2020-02-03 10:49] itsgauravjain22 opened #27562 "Product details API should give objects of attributes terms including attributes terms id in options array"
Options array inside attributes should output options as an array of separate attributes objects including attributes terms ids as well.
This will be helpful for updating the product attributes via rest API.
Currently ```/wp-json/wc/v3/products/<id>``` output the following
[code]

I refer the attributes terms objects given by ```/wp-json/wc/v3/products/attributes/<attribute_id>/terms```. For eg.
[

[2020-02-03 11:17] ytterx opened #25558 "woocommerce_is_purchasable filter behaves like an "OR" filter, but need it to be "AND""
My problem is that I have a plugin that allows me to set "vacation time" on my woocommerce site. It allows me to disable purchases between certain dates. As this plugin uses -1 priority, the filter always get's called first. But if some other code/plugin add's another filter with a higher priority number, that overrides the first outcome of the filter, hence the "OR" behavior.

To be save I need t

[2020-02-03 12:59] dougaitken opened #25559 "Remove Legacy API setting page and related code"
**Describe the bug**

The Legacy API was deprecated in WooCommerce 2.6, which was released over 3.5 years old. It should now be removed as it is no longer supported.

**Expected behavior**

Once support for a feature has been removed and is unsupported in WooCommerce, this feature should be completely removed in the `x+3` release - https://docs.woocommerce.com/document/frequently-asked-questions/#

[2020-02-03 16:18] #25526 closed

[2020-02-03 16:23] peterfabian opened #25560 "[4.0] Prepare onboarding for the new reality"
- The old onboarding should stop recommending WooCommerce Admin for WC >= 4
- The new onboarding shouldn't include information about the installation of the plugin

[2020-02-03 16:40] peterfabian commented on #25560
Related to https://github.com/woocommerce/woocommerce/issues/25488

[2020-02-03 16:45] ninetyninew opened #25561 "Order count indicator not available when manage_woocommerce capability removed from shop manager role"
**Describe the bug**
When removing the manage_woocommerce capability from a shop manager role the order count indicator usually shown in the WordPress dashboard menu no longer displays.

I am removing the manage_woocommerce capability as I want a shop manager to be able to access the orders, products, etc without being able to change the WooCommerce settings.

**To Reproduce**
Steps to reproduce t

[2020-02-03 17:06] #25493 closed

[2020-02-03 20:09] lock2photo commented on #25493
Look I'm not a developer, only the site manager for a small company - the core of wordpress and woocommerce's business model I might add.  I simply followed the link provided at the top of my wordpress site to Github to report a bug as requested.  Which this is a bug... albeit not critical and forcing us out of business as your tags imply.  But a definite bug affecting the checkout experience of m

[2020-02-03 21:47] peterfabian commented on #25493
Hi @lock2photo , thanks for reporting the bug, we've managed to reproduce it and the fix for this issue should be included in the next release.

[2020-02-04 02:40] jshrek opened #25563 "Products still show in search results even with Catalog Visibility set to Hidden or Shop Only"
**Describe the bug**
Product still shows up in search results even when catalog visibility is to to "shop only" or "hidden".

**To Reproduce**
Create a Simple Product that is Virual and is also Downloadable called My Dogs.
Set the catalog visibility to hidden.
Publish the product.
Search your site with example.com/?s=dogs
The product will still show up on search results page (but is successfully h

[2020-02-04 08:37] po8digital commented on #19074
For anyone else still having this issue, make sure that wp_enqueue_scripts and your ajax script is not loading before woocommerce e.g. "add_action( 'wp_enqueue_scripts', 'gf_bundle_enqueue_scripts', 1, 1);", changing to add_action( 'wp_enqueue_scripts', 'gf_bundle_enqueue_scripts'); fixed this for me.

[2020-02-04 08:48] anteksiler opened #25564 "Gutenberg Category Grid Block"
Currently, the only way to display categories using Gutenberg is to use the Product Category List element, which basically displays a menu.

It would greatly improve the homepage building experience with Gutenberg if we were able to display the Product Categories with the same style used on the shop listing like:

![image](https://user-images.githubusercontent.com/1000992/73728339-3c1b6d00-4744-11

[2020-02-04 12:43] juliaamosova commented on #25500
Hi @Turu2001,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-04 12:43] #25500 closed

[2020-02-04 14:13] StefanCov opened #25568 "Change checkout URL"
I'm using the Code Snippet pluggin to change the checkout URL to redirect to a different site. I'm currently struggling with changing the button within the mini cart that appears when I hover over the cart.

The code I have added to the code snippet is:

[code]

This doesn't seem to work... I have managed to get the cart page checkout button to work with `add_filter( 'woocommerce_get_checkout_url'

[2020-02-04 14:36] #25568 closed

[2020-02-04 15:13] iSevenDays commented on #25531
@benhuson you can check this solution https://gist.github.com/fariasf/95494d8aa7efc82367a9796b3d6cd177

[2020-02-04 16:19] #25488 closed

[2020-02-04 16:44] #24428 closed

[2020-02-04 16:57] helgatheviking commented on #25558
If you want your filter of the `woocommerce_is_purchasable` to be the definitive one then instead of being _first_ shouldn't you try to be last? A later priority like `9999` might be good.

Normally I'd say when filtering we should check if `$is_purchasable` is `false` and skip validation if it is, but my own plugin _specifically_ needs to tell WooCommerce that a not purchasable product is in fact

[2020-02-04 17:03] #25560 closed

[2020-02-04 17:16] lock2photo commented on #25493
Thanks for the simple clarity for a lowly end user.  We do appreciate all
the work you guys do.

On Mon, Feb 3, 2020 at 3:47 PM Peter Fabian <notifications@github.com>
wrote:

[2020-02-04 17:42] juliaamosova commented on #25432
@dstana thanks for additional details. I am not able to reproduce what you are seeing.

Here are my variations settings with the variation of color `pink` disabled and having a zero price:

![var1](https://user-images.githubusercontent.com/19143190/73771011-61749f00-4775-11ea-9f6d-f3f75d025861.jpg)

As a result, at the front-end I don't even have color `pink` available which is expected:

![Screen

[2020-02-04 18:47] juliaamosova commented on #25142
@determin1st I updated my snippet with priority to change the priority of the custom billing city field I created in my previous comment. I wanted for the billing city field to appear before `State` - as you can see in my previous screenshot, it currently appears after `ZIP` field.

New updates snippet (that includes priority of the new custom billing city field):

[code]

The result - billing cit

[2020-02-04 18:47] #25142 closed

[2020-02-04 18:56] claudiosanches commented on #25367
@crstauf Did you have a chance to check any of the items I mentioned above?

[2020-02-04 19:17] dstana commented on #25432
I resolved this with some css, so it's been a non-issue for me since I reported it. However, it was triggered by an update to Woocommerce so I expect you might hear about it again from someone else.

[2020-02-04 19:17] #25432 closed

[2020-02-04 19:25] crstauf commented on #25367
@claudiosanches thank you for the feedback.

unfortunately I'm in the middle of launching a large project for a different client, so not yet. I'm going to review your comments in detail tonight, and if the launch goes well, do some further testing late this week.

[2020-02-04 19:58] claudiosanches commented on #25367
@crstauf please let me know when you have a change. Thanks.

[2020-02-04 23:18] becdetat opened #25578 "Second order is created when coupon is added after starting a payment gateway"
**Describe the bug**
A second order is created when you start paying via PayPal, then back out, then add a coupon, then start paying via PayPal again.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a coupon code ready
2. Put an item in the cart
3. Checkout
4. Select pay with PayPal <-- _This creates an order that is pending payment for the full amount_
5. Without paying, back out to th

[2020-02-05 00:34] crstauf commented on #25367
@claudiosanches

I am (at least currently) unable to provide steps to reproduce, as the issue does not occur consistently, and there's currently no discernible pattern/cause. I can note that we are only authorizing the transaction, and then capturing after we receive verification from a third-party that was custom integrated.

Unfortunately because of the nature of the problem, I've no way to isol

[2020-02-05 00:40] hagbeb opened #25579 "Customer account info not displaying after login"
When returning users log into my site on the My Account page, the page just refreshes and looks as it did before. My Sucuri logs say that user login was successful, but none of their personal account info is displayed. The page appears as it does by default. New users that are created since I noticed the bug, and any user where I have reset their password in the backend, are able to login with the

[2020-02-05 06:16] melek commented on #24387
@juliaamosova
I am sorry for the delay. We ended up migrating payments to PayPal Pro so I can't review our transactions to see if the problem went away (we worked around it by swapping payment gateways).

It mainly occurred at times of high sales volume on a production site, and I was not able to reproduce the original issue using PayPal sandbox at the time. Unfortunately, I'm not in a position to

[2020-02-05 07:12] noellesteegs commented on #25402
Hi everyone, happy to report that the issue is now indeed fixed on my client's site after updating to 3.9. Many thanks.

[2020-02-05 09:25] juliaamosova commented on #25402
@noellesteegs great! Thanks for confirming!

[2020-02-05 10:10] juliaamosova commented on #25434
Hi @edotoro,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:10] #25434 closed

[2020-02-05 10:11] juliaamosova commented on #25262
Hi @masoudarvishi,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:11] #25262 closed

[2020-02-05 10:11] juliaamosova commented on #25326
Hi @flyonthenet,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:11] #25326 closed

[2020-02-05 10:12] juliaamosova commented on #25506
Hi @jyotsanakhannu,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:12] #25506 closed

[2020-02-05 10:14] juliaamosova commented on #25227
Hi @JamboMedia,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:14] #25227 closed

[2020-02-05 10:15] juliaamosova commented on #25219
Hi @NaturesEssentialsCBD,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:15] #25219 closed

[2020-02-05 10:15] juliaamosova commented on #25144
Hi @chukran,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:15] #25144 closed

[2020-02-05 10:16] juliaamosova commented on #25508
Hi @gahsto,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:16] #25508 closed

[2020-02-05 10:17] juliaamosova commented on #25534
Hi @sanjaydawar,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-05 10:17] #25534 closed

[2020-02-05 10:32] khmahfuzhasan commented on #20689
Its 2020 now. Is there any update?

I have shoes website where I have few product variations size:36-41. Each size has few products in stock. **Is there any way to hide the variations that go out of stock in the drop-down list from front-end?**  There only 39 size has 1 product in stock others should be removed from the frontend because they haven’t any product in stock of these sizes[red marked].

[2020-02-05 10:34] snuffybg opened #25580 "Show/Hide password in My account"
**Describe the bug**
Hello,
Today when i work on My account templates notice that in form-edit-account template show/hide password doesnt work. The show part works but if you try to hide it wont swap from text field to password field. When i look in to woocommerce.js notice that the script is looking for attr name='password' , but in form-edit-account the name attributes for each field (current ,

[2020-02-05 11:32] KoolPal commented on #20689
@khmahfuzhasan You should raise this issue here: https://github.com/woocommerce/woocommerce/issues/25524

I too landed here today searching for *some* solution to this nonsense!

[2020-02-05 11:33] KoolPal commented on #25524
@peterfabian What would it take for this issue getting some focus?
Thanks

[2020-02-05 11:57] PriitGit commented on #25524
I am also waiting for a solution to this problem.
It should be possible to hide products variations that are out of stock during filtering.

[2020-02-05 14:32] yousan opened #25582 "Could not write to email template when adding custom WC_Email class"
**Describe the bug**
I have created a custom WC email class using WC_Email.
And defined e-mail template directory with `woocommerce_template_directory` hook.
It causes an error when editing the e-mail template file at admin panel.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add a WC email template as a custom plugin.
2. Go to Settings at Woocommerce on admin panel
3. Open "EMails

[2020-02-05 17:38] #24729 closed

[2020-02-05 18:02] #25438 closed

[2020-02-05 18:03] ObliviousHarmony commented on #25438
Thanks for catching this one!

[2020-02-05 18:06] gabrielfreisan commented on #25261
I have a plugin that solves this problem "Advanced Product Filters"

[2020-02-05 18:07] gabrielfreisan commented on #25261
I have a plugin that solves this problem "Advanced Product Filters"

[2020-02-05 18:34] jrick1229 opened #25583 "Topmost shipping method is not always default"
**Describe the bug**
When rearranging the default order of shipping methods in a zone, the topmost shipping method isn't always selected as default in the cart or checkout page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://mc.a8c.com/pb/23d0a/ (customer site)
   - This will take you to the cart and automatically add a quantity of '50', which qualifies for free shipping.
2.

[2020-02-05 22:01] johndcoy opened #25585 "Improve Catalog page Pagination when showing Categories + Products"
**Is your feature request related to a problem? Please describe.**
**Rows per page** doesn't apply to both categories and products. It's broken:

![Screenshot](https://d.pr/i/xieFiT+)
Screenshot link: https://d.pr/i/xieFiT

**Describe the solution you'd like**
I’d assume that **Rows per page** would set the rows for both. If set to 2, show two rows of categories and two rows of products on each pa

[2020-02-05 22:02] johndcoy opened #25586 "Pagination does not apply to categories on the shop page."
**Describe the bug**
When the Shop page display option is set to Show Categories pagination does not show. The expectation would be for the Rows per page option to also apply to categories as it does for products.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Appearance > Customize > WooCommerce > Product Catalog
2. Choose _Show categories_ for **Shop page display**
![Screenshot](h

[2020-02-06 07:59] peterfabian commented on #25524
@KoolPal It's been assigned high priority, so it will get more focus and attention after the 4.0 release.

[2020-02-06 08:07] rvalins commented on #25520
Hello, @juliaamosova . I am not sure if you saw my last message. Do you think it would be better to be reported as another thread? By the way, do you have any idea about a code to not allow customer to change their password? Have a nice day. Best regards

[2020-02-06 11:15] garymurray commented on #25585
@johndcoy I took a quick look at this, and it seems to actually be behaving as expected - i.e. in the last setting it looks like this:

<img width="293" alt="Screenshot 2020-02-06 at 11 05 57" src="https://user-images.githubusercontent.com/10805911/73931762-c1338d00-48d0-11ea-97b4-98e1b31c8c7d.png">

Were it is basically saying:

So based on the way the setting is described - it controls the the n

[2020-02-06 12:51] alkarradi opened #25590 "configure terms in attributes not working good"
**Describe the bug**
when adding new attributes term then clicking add a loading icon appear next to the button but the term did not appear and when refreshing the page the term will appear in the terms

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'attributes'
2. if there is any attributes Click on 'Configure terms' or add new attributes and click Configure terms
3. Add new term and

[2020-02-06 13:41] vedanshujain commented on #24084
Closing in favor #23916 , root cause for both issues are same and they both will be addressed by one fix.

[2020-02-06 13:41] #24084 closed

[2020-02-06 13:42] vedanshujain commented on #25347
Closing in favor of #24619, as both these issues have same root cause and will be fixed together.

[2020-02-06 13:42] #25347 closed

[2020-02-06 19:20] helgatheviking commented on #24184
I _think_ I am having a somewhat related issue with Name Your Price.

Settings:
Prices inclusive of taxes
flat tax rate of 20%
round taxes at subtotal is disabled

If a user enters $101 then the cart splits this into the subtotal and the subtotal tax: $84.1666667 and $16.33333 but the `line_subtotal_tax` is rounded to $16.33 (the number of decimals setting). And it appears to be this rounded versi

[2020-02-06 20:28] zvaigznux commented on #22670
For me, this was because I'm writing all possible attribute names also in the product title. (Size)
And so there is a function "get_formatted_meta_data" in plugins/woocommerce/includes/class-wc-order-item.php
and on line 282 there is this code:
`			// Skip items with values already in the product details area of the product name.
			if ( ! $include_all && $product && $product->is_type( 'variation'

[2020-02-06 20:37] zvaigznux commented on #22670
Hey, mate if you read this check my comment above.
I'm writing attribute names (sizes) already in the product title and I will never know or see which size has been chosen. (Example: Red Dress S, M, L . And my attributes are: Size = S | M | L ).
I would suggest improving or removing this code in plugins/woocommerce/includes/class-wc-order-item.php
and on line 282:
`// Skip items with values alread

[2020-02-06 20:49] sergiustatache commented on #16747
What sollution did you find to this? :D I need to display that total column too.

[2020-02-06 21:08] thesublimeobject commented on #19074
interesting, thanks for the recommendation @po8digital. it hasn't been acting up for awhile, but i think that's because i added a hack-ish fix awhile back—i'll definitely try this.

[2020-02-06 22:30] webdados opened #25596 "Shipping address is shown even if "Shipping destination" = "Default to customer billing address" but a shipping field does not have a billing correspondence"
**Describe the bug**
Even if you set "Shipping destination" to "Default to customer billing address", but a shipping field has a different value of its billing counterpart, the Shipping fields are shown on the checkout. I find this is (very) discussable, but that's not the issue of this bug report.

The problem is if you have a shipping field that doesn't have a counterpart on billing, the wc_chec

[2020-02-06 22:33] webdados commented on #25596
Nevermind, this was fixed here: https://github.com/woocommerce/woocommerce/commit/f4263d8c118c738318e04e3ded9ddf6f92e357d4

[2020-02-06 22:33] #25596 closed

[2020-02-06 22:42] tonybahama commented on #23586
@pihedy please submit a pull request for this if the problem still happens on our site

[2020-02-07 04:50] KoolPal commented on #25524
@peterfabian Thank you for responding.

Would it be possible for someone to share a code snippet in the interim for all of us to get by this monstrosity?

Thanks

[2020-02-07 04:51] stormit opened #25599 "Cart Fragments"
Hi all,

I recommend that there should be a js trigger which calls the **refresh_cart_fragment** js function. So we can refresh cart in the theme or other plugins.

`function refresh_cart_fragment() {
		$.ajax( $fragment_refresh );
	}`

Thanks!

[2020-02-07 07:34] galbaras opened #25600 "Add admin email for failed_to_processing"
**Is your feature request related to a problem? Please describe.**
When payment fails, the store admin is notified, but when the customer retries the payment and the order goes from Failed to Processing, only the customer is notified.

**Describe the solution you'd like**
Add an email message that's triggered when an order goes from another status to Processing after it's been created.

**Describe

[2020-02-07 07:35] waqaramjad opened #25601 "woo commerce rest api not giving any data"
woo commerce rest api not giving any data

[2020-02-07 08:29] corsonr opened #25603 "Replace {site_address} by {site_url} ?"
**Is your feature request related to a problem? Please describe.**

In many places, and mostly for emails, we provide the `{site_address}` placeholder, but wouldn't it be more relevant to name it `{site_url}`? To me, it would more relevant especially since in the settings we have two "address fields".

For instance:

https://github.com/woocommerce/woocommerce/blob/c1a7a08c01c23c1cb749ba2be17804128

[2020-02-07 10:22] V35CH opened #25604 "ship to different address"
**Describe the bug**
there is a bug in the checkout.js in the method: init_ship_to_different_address
It should test if a compared shipping address field is not empty.

`return $( this ).val() !== $billing.find( '#' + id ).val();`

should be like this:
[code]

Otherwise the method returns true if there is a billing address but no shipping address data.
This could happen if you have a logedin custom

[2020-02-07 11:37] starypop opened #25606 "Shop Manager can switch Privacy Policy page, but can't edit its content"
**Describe the bug**
Shop Manager is not allowed to edit content of the current Privacy Policy page. But there's a way to overcome this limitation, which makes it no sense.

As you can see on the screenshot, the page on the list is faded out and has no Edit link.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account with Shop manager role
2. Log into WP Admin using this account
3

[2020-02-07 11:41] starypop commented on #25447
Hey @tammullen, @juliaamosova,

Could you take a look at my answer and detailed explanations of this bug that I've made and maybe review this bug's priority?

Or should I create another issue, as I've found the bug also exists in WC_Order class methods?

Thanks for your help!

[2020-02-07 12:42] jmawebtech opened #25607 "REST API Show Website Timezone"
**Is your feature request related to a problem? Please describe.**

My software syncs orders from WooCommerce to QuickBooks and my software uses the V3 REST API:

To pull sales, I need the user's timezone. I have to use the legacy API to pull the timezone. Here is an example:

https://1106-7916.el-alt.com/wc-api/v3

Under meta > timezone, you will see America/New_York. In your latest REST API, can

[2020-02-07 15:30] aureliendebord opened #25610 "Price changing after update to 3.9.1"
**Describe the bug**
After updating to version 3.9.1 prices are chaging on certain products.
For example, instead of having "25,00", the new price is "2 ,500 ,000 ,000.00€"

**To Reproduce**
Just update to the version 3.91.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**WordPress Environment**
<details>
`
### WordPress Environment ###

WordPress address (URL): htt

[2020-02-07 16:30] Archvist opened #25613 "wc_get_orders to accept columns as an argument"
I'm surprised by 2020 WooCommerce still can't handle specific data as an argument in its queries. If I want to build a new page for my store to display all the orders in the last month and return only the` total cost` & `customer country`. I have to accept the fact WooCommerce can't take these 2 values as parameters and instead it will return over `100 bits `of data making every row 100x more inef

[2020-02-07 17:33] dtamajon commented on #19040
Hi! On latest Woocomerce update the error has appeared again when JetPack is also enabled!

[2020-02-07 17:54] demian1985 commented on #25461
Hello @tammullen

Were you able to reproduce this? I have currently updated to 3.9.1 and it's still missing the attributes.

Thank you

[2020-02-07 18:52] nerrad commented on #25299
I thought I had a solution for this but it wasn't reliable so I had to abandon it. I thought I'd document my findings so far and potential solutions:

## The problem

- When mounting the woocommerce core volume, the owner:group in the WordPress container for `wp-content` is `root:root` (along with the WC folder in `wp-content`).
- There's two problems with the `wp-cli` container being linked: 1.

[2020-02-07 19:34] helgatheviking opened #25614 "Cannot modify the AllProducts Block via woocommerce_blocks_product_grid_item_html filter"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
Add this snippet to `functions.php`
[code]

And then create two blocks on a page. One "Products by category" block and then the  "All produ

[2020-02-07 22:58] Aljullu opened #25615 "Show password button doesn't have enough constrast when active"
**To Reproduce**
Steps to reproduce the behavior:
1. Set your theme to 2020 or 2019.
2. Go to _My Account_ page (probably under `/my-account`).
3. Click on _Show password_ button.
4. Notice the button color when activated is `#e8e8e8` while the background is `#ffffff`. That is not enough contrast to pass accessibility tests: https://webaim.org/resources/contrastchecker/?fcolor=E8E8E8&bcolor=FFFFFF

[2020-02-08 00:24] deantim opened #25616 "Address Line 2 left blank at checkout generates confusing error message #21547"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain you

[2020-02-08 00:27] deantim commented on #25616
Members are being required to add an apt or suite # on the checkout form.
![Screen Shot 2020-02-07 at 4 26 21 PM](https://user-images.githubusercontent.com/60801042/74075307-a5121780-49c6-11ea-9ca1-f0ca5e3db2ac.png)

[2020-02-08 05:52] nerrad commented on #25614
This belongs in the blocks repo so I'll move there and it will be addressed there as well.

[2020-02-08 05:52] #25614 closed

[2020-02-08 05:53] nerrad commented on #25614
Issue moved to [woocommerce/woocommerce-gutenberg-products-block #1714](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/1714) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-08 08:47] aryaanlambe commented on #25615
Hi!
Can I have a go at this issue?

[2020-02-08 09:46] JBBalling opened #25617 "Price Changes on variable Products after adding it to cart"
**Describe the bug**
On the product detail page of our Woocommerce-shop there is some weird behavior on variable Products. After selecting the Amount of the desired product and adding it to cart the price on the detail page is updated to the wrong amount - it seems like there is a problem with the ID configuration of variable products. The Price is calculated on any of the products, based on the i

[2020-02-08 13:30] JBBalling commented on #25617
Issue can be closed, there was a miss configuration in Woocommerce Variable Products. You need to specify Attributes for each custom Price!

[2020-02-08 13:30] #25617 closed

[2020-02-08 14:04] snel99 opened #25622 "when the vender adding the product shipping invitery and other options are not working"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain you

[2020-02-09 01:57] Marajade208 commented on #12467
Hey guys! I'm yelling this from the rooftops because hopefully it makes your lives easier and is the solution for you. I know it was for me. So here was the problem:

We has a product setup as a virtual, simple product, with backorders not allowed. The stock got down to 1 and a customer bought the last item in stock. However, we got a notification for a -1 back order, even though the client only b

[2020-02-10 02:20] nerrad commented on #25299
**Update**:

This one was bugging me so I gave another go at it this weekend and I think I have a fix. I'm going to publish it in the Blocks repository first and make sure it works in travis builds etc. Once that's verified, I have some ideas about how the WooCommerce core package version of this could be flexible for both WooCore and Woo extensions (including the ability to include arbitrary plug

[2020-02-10 09:34] mrohnstock opened #25623 "Two Orders at the same time (can) lead to a empty and a "merged" order"
**Describe the bug**
First: Issue #17660 do look like the same issue, but as the issue is closed I will open a new issue with further descriptions.

If two customers orders something in our store at the same time, some (all?) products ordered from customer A get moved to customer B.

This happened now the second time, with a gap of about 6 month (?). PayPal and Amazon Pay got used as Payment Metho

[2020-02-10 10:55] budzanowski commented on #23682
From what I see, for the plugins I am working with the problem is gone after updating to WC3.9

[2020-02-10 13:50] Fabcw2b commented on #22706
How many votes are required to see this subject opened ? I agree with @ironicmoka  and @vikingmaster, we should be able to manage low stock for each variation.

[2020-02-10 14:00] juliaamosova commented on #25622
Hi @snel99,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lackin

[2020-02-10 14:50] bartech opened #25624 "Password visibility"
**Describe the bug**
On password reset form after clicking on eye icon to show password, input type is correctly changed to type text but clicking again don't toggle input type back to password

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lost password page and reset password (fill form and sand)
2. Click on link in email
3.  On reset password page form fill in password field
4. Cli

[2020-02-10 14:50] juliaamosova commented on #25616
Hi @deantim,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2020-02-10 14:54] juliaamosova commented on #25615
Hi @aryaanlambe, sure! You are welcome to work on any issue in this repository and submit a PR. One thing though - make sure to assign an issue to yourself to indicate that you are working on it so no one else would work on it as well.

[2020-02-10 15:03] nerrad commented on #25299
Here's a pull with a fix in the blocks repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/1716. Note the follow ups in the pull description, I think they'd apply to what we'd want to see in a published package (specific to woo testing environment). Since the `wc-admin` repository is already being used as a monorepo for publishing `@woocommerce` namespaced WC npm p

[2020-02-10 15:10] juliaamosova commented on #25624
Hi @bartech101,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

It is possible to click on the eye icon to view the password but when clicking again to hide it, the password doesn't get hidden:

![pw](https://user-images.githubusercontent.com/19143190/74161804-78a10a00-4c17-11ea-9b23-2c869c5300ef.jpg)

We won’t be able to include th

[2020-02-10 15:11] juliaamosova commented on #25624
@bartech101 you are welcome to submit a PR if you like as well.

[2020-02-10 15:14] juliaamosova commented on #25610
Hi @aureliendebord,

Thank you for raising the issue. However, I can’t reproduce it on my end.

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https

[2020-02-10 15:15] juliaamosova commented on #25607
Hi @jmawebtech,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that the right team could take a look further.

[2020-02-10 15:26] juliaamosova commented on #25606
Hi @starypop,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

I am not entirely sure if Shop Manager should have a right to edit the Privacy Policy page but in any case, we need to make sure that the experience is consistent throughout different pages and options available. If Shop Manage doesn't have a permission to edit the Privac

[2020-02-10 15:45] juliaamosova commented on #25604
Hi @V35CH,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25493. We also have a fix for it in https://github.com/woocommerce/woocommerce/pull/25521. The fix is currently planned to be released as part of WooCommerce 4.0.

We are closing your issue in favor of the previously submitted. Please continue shari

[2020-02-10 15:45] #25604 closed

[2020-02-10 15:57] juliaamosova commented on #25601
Hi @waqaramjad,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that the right team could take a look further.

[2020-02-10 16:02] aryaanlambe commented on #25615
Awesome! I'll get working on it soon :smile:

[2020-02-10 16:12] juliaamosova commented on #25590
Hi @alkarradi,

Thank you for raising the issue. However, I can’t reproduce it on my end.

Here I am about to configure terms of `Type of Clothe` attribute:

![attr1](https://user-images.githubusercontent.com/19143190/74167269-ea7d5180-4c1f-11ea-95ea-5caec5102840.jpg)

And here is a gif showing that I can successfully add a term:

![](http://g.recordit.co/SJ3bWfdVPi.gif)

Do you have many plugins

[2020-02-10 16:35] starypop commented on #25606
@juliaamosova I understand, that the consistency here is very important.

In my opinion, as long as there is no user role between Administrator and Shop Manager, we should grant them priviliges to edit this page content.

In our workflow, we're trying to avoid using Administrator role accounts on day-to-day basis, having site's security in mind.

Moreover, Shop Manager has already full access to p

[2020-02-10 16:38] juliaamosova commented on #25580
Hi @snuffybg,

Thank you for reporting the issue. This issue had been reported here as well https://github.com/woocommerce/woocommerce/issues/25624.

I know that yours came first but since I already replied on https://github.com/woocommerce/woocommerce/issues/25624, I am closing your issue in favor of https://github.com/woocommerce/woocommerce/issues/25624. Please continue sharing your feedback th

[2020-02-10 16:38] #25580 closed

[2020-02-10 16:49] juliaamosova commented on #25579
Hi @hagbeb,

Thank you for raising the issue. However, I can’t reproduce it on my end.

Here I am logged in as a customer and can see my order:

![order](https://user-images.githubusercontent.com/19143190/74170612-1949f680-4c25-11ea-9d74-569a617d9866.jpg)

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue.

I see also that you

[2020-02-10 16:53] juliaamosova commented on #25564
Hi @anteksiler,

Thank you for reporting the issue. WooCommerce Blocks are being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your report there so that the right team could take a look further.

[2020-02-10 17:22] juliaamosova commented on #25556
Hi @EBolt

Thank you for reporting the issue. In WooCommerce 3.9.1, WooCommerce Analytics functionality is being added by the WooCommerce Admin plugin (that I see you have installed on your site).

WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-02-10 17:24] juliaamosova commented on #25555
Hi @realrecordzLab,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issue

[2020-02-10 18:09] sajjadalis opened #25626 "Issue with woocommerce_single_product_image_thumbnail_html filter"
**Describe the bug**
The filter `woocommerce_single_product_image_thumbnail_html` is not working. I'm trying to set alt tag for Woocommerce gallery images via  `woocommerce_single_product_image_thumbnail_html` filter. Here is my code inside TwentyTwenty functions.php file.

[code]

`the_content` filter replace alt tag inside Woocommerce description. `woocommerce_single_product_image_thumbnail_html

[2020-02-10 19:00] mdmoore commented on #25543
I've removed the enhancement label in favor a bug after noticing that this previously worked well.  In WooCommerce 3.8, variable products that contained **only parent SKUs** were found in the search when adding a product to an order.  As of WooCommerce 3.9, those variable products are no longer found.

[2020-02-10 20:57] claudiosanches commented on #25559
It's not longer supported, and also we shouldn't release any enhancement or bug fixes.
Still we don't plan to remove any code on core too soon, so we avoid backwards compatibility with 3rd party plugins, some plugins may include REST API classes directly.

Anyway, no one should use, it could be removed into any up come Major release when we feel comfortable of removing legacy code, but not somethi

[2020-02-10 21:11] Ooops-404 commented on #17824
@mikejolley
I agree that this _should not_ have any toll to the SEO BUT fact is that even Google website audit tools flag those images as missing the alt text, so one wonders how that plays out with Google algorithm. If we go by Google own audit tools, then I'd say that it does take a toll to SEO.

Plus that's not all, website owners are getting more and more aware of the free (and commercial) web

[2020-02-10 21:13] claudiosanches commented on #25599
If you need to trigger it you can use `wc_fragment_refresh`.

This should trigger `refresh_cart_fragment()` function:
[code]

[2020-02-10 21:13] #25599 closed

[2020-02-10 21:15] claudiosanches commented on #25603
Makes sense call it `site_url`, I agree that could get confuse with "email address".
Please feel free to submit a Pull Request.
Thanks @corsonr

[2020-02-11 01:09] hagbeb commented on #25579
Hi,

I tested it again tonight with all plugins (except WooCommerce) disabled, and had the same problem. I also tested it with the plugins disabled and using Storefront theme (I had previously testing using TwentyTwenty theme), and again the problem was there. It only relates to accounts created before a certain point (at least Feb 3). Newer accounts, and old accounts but with a new password gener

[2020-02-11 08:43] lamda opened #25629 "Totals calculation causes rounding problems due to wc_round_tax_total()"
In WC_Cart_Totals:: calculate_totals() the taxes are always rounded before adding them to the total with wc_round_tax_total():

[code]

This causes a rounding problem of 1 Cent for me in a few cases when calculating the totals with a product, a custom fee and an applied percentage discount coupon when using tax-inclusive pricing. I can provide an example if needed.

I have activated "Round tax at

[2020-02-11 10:02] himanshuahuja96 opened #25631 "woocommerce_api_create_coupon hook is not working"
**Describe the bug**
I am trying to attach a product to the coupon created using restapi using the woocommerce_api_create_coupon, but it doesn't seem to be working.

**To Reproduce**
function fun_logg_funtion_wccoupon($id, $data){
    $addThisProduct = 8753;
    update_post_meta( $id, 'product_ids', $addThisProduct );
}
add_action('woocommerce_api_create_coupon','fun_logg_funtion_wccoupon', 10, 2)

[2020-02-11 10:16] gevcen commented on #25491
Hi @juliaamosova,

Thank you for your reply. No worried about its low priority as long as it will be fixed :)

In the meantime, do you have an idea how I could temporarily correct the count number because it's misleading my customers. They expect to find X number but they find only Y number once opening the category.

Thanks

[2020-02-11 10:46] juliaamosova commented on #25629
Hi @lamda,

Thank you for submitting the issue.

Would you please provide us with the exact details of your setup including the screenshot of your tax settings - it will help us analyze the issue further since there are so many tax settings combinations. Details of what you are getting as a result versus what you expect to get will be very helpful as well.

[2020-02-11 11:23] juliaamosova commented on #25586
Hi @johndcoy,

Thank you for taking the time reporting this issue. I can reproduce it on my end:

![cat1](https://user-images.githubusercontent.com/19143190/74232355-865e9a00-4cc0-11ea-90df-88dbce70cbfe.jpg)

However, as per discussion in https://github.com/woocommerce/woocommerce/issues/25585, it currently seems to be working as expected and @garymurray proposed to work on mockups. Because of thi

[2020-02-11 11:23] #25586 closed

[2020-02-11 11:26] juliaamosova commented on #25585
I really like this solution as it seems like a very clear and straightforward way of addressing the issue. cc @peterfabian @claudiosanches for feedback as well.

[2020-02-11 12:03] lepinko commented on #23682
Hello, I have tried it with a version 3.9 WooCommerce but it still gives me the 2 minutes error. Can you tell me what you are doing exactly to avoid getting this error?

[2020-02-11 13:20] budzanowski commented on #23682
I do nothing. In WC 3.9 it just works for me.

[2020-02-11 13:29] arnofo opened #25632 "get_user_option for user meta for better multisite support"
**Is your feature request related to a problem? Please describe.**
In a multisite environment, user metas such as addresses, persistent cart and others are shared across the different blogs in the network.

This is due to Wordpress having a single user (and usermeta) table for all blogs in the network.

This is a problem when you have two strictly different blogs using Woocommerce under the same n

[2020-02-11 13:55] corsonr opened #25633 "[4.0 beta1] Stripe keys format not checked in tasks list"
**Describe the bug**

The Stripe keys format isn't checked in the tasks list

**To Reproduce**
Steps to reproduce the behavior:
1. Enable tasks list
2. Go to WC dashboard
3. Hit "Set up payments"
4. Enable Stripe
5. Enter invalid Stripe keys and proceed

**Expected behavior**

I'm sure that keys format shouldn't be checked to avoid any human error when copy pasting them.

**Isolating the problem (

[2020-02-11 14:11] juliaamosova commented on #25633
Hi @corsonr,

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-02-11 14:12] corsonr opened #25634 "[4.0 beta1] Refund: incorrect rounding"
**Describe the bug**

When refunding an order with tax, I get the numbers that should, IMO, have a better rounding:

**To Reproduce**
Steps to reproduce the behavior:
1. Add any tax rate
2. Place an order with multiple products in cart
3. Try to refund 1 product or so
4. You should see what I mean

**Screenshots**

![](https://d.pr/i/mcFP9L+)

**Expected behavior**

I guess it's should be only dig

[2020-02-11 14:24] corsonr opened #25635 "[4.0 beta1] Backorder settings ignored for manual orders"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new product from scratch
2. Enable stock at product level
3. Do **not** allow backorder
4. Create a manual order from the dashboard
5. Add the product and increase Qty
6. Recalculate and place order

**Screenshots**

![](https://d.pr/i/UZpTXO+)

![](https://d.pr/i/B4Qywx+)

![](https://d.pr/i/4FKrSw+)

![](https://

[2020-02-11 14:29] juliaamosova commented on #25635
Hi @corsonr

Thank you for reporting the issue. Note that this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25518. I am closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed. Thanks a lot for testing 4.0 beta!

[2020-02-11 14:29] #25635 closed

[2020-02-11 14:30] juliaamosova commented on #25518
Noting here that the issue happens not only with variable products/variations but with simple products as well.

[2020-02-11 14:53] juliaamosova commented on #25547
Hi @dsmithweb,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

![c](https://user-images.githubusercontent.com/19143190/74247605-37276200-4cde-11ea-9774-b8292b750813.jpg)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our back

[2020-02-11 18:25] diablodale opened #25637 "need urlencode() of $license_key in new maxmind geo integration"
The new maxmind geo integration released in 3.9.0 does not urlencode the license_key argument on the download URL. This opens a vulnerability into possible abuse/hack/security issue.

### Setup

Woocommerce 3.9.0+

### Repro

Code review of new Maxmind integration code

https://github.com/woocommerce/woocommerce/blob/0436d8637f59726202bc4539ec4c4078e1a0e514/includes/integrations/maxmind-geolocatio

[2020-02-11 18:43] diablodale opened #25638 "maxmind migration function doesn't generate the new db path as integration does itself"
The migration code `wc_update_390_move_maxmind_database()` for the new MaxMind integration released in 3.9.0 doesn't fully generate the new path in the same way that the integration will. This could lead to an unintentional failure, unneeded download, duplicated db file, etc.

### Setup

Woocommerce 3.9.0+

### Repo

Code review of new Maxmind integration code

https://github.com/woocommerce/wooco

[2020-02-11 21:20] StephMB777 opened #25640 "Image Change with Drop-down selection-PLEASE ASSIST-No One is on Any Other Forum"
I’ve attached a photo. This will be the best way to describe what I need to do, but I’ll try explaining with words. I’m not proficient in code language, coding, WP, GF, etc, so please excuse me if I’m confusing and speak to me like I'm 2. No offense will be taken.

I am building an e-commerce website for my company using WordPress. I am a dealer for an LED company. I have permission to use every i

[2020-02-12 03:37] dumega opened #25641 "Tax rounding issue when the option `Round tax at subtotal level, instead of rounding per line` is enabled"
**Describe the bug**
In some context, when the option `Round tax at subtotal level, instead of rounding per line` is enabled, there may be 1 cent price difference between cart tax total and order tax total.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Tax options`, enable `Round tax at subtotal level, instead of rounding per line`
2. Go to `"Standard" tax rates`, add two rate line

[2020-02-12 07:03] lamda commented on #25629
**Describe the bug**
A combination of a product, a discount and a custom fee leads to a rounding error of one cent in the total.

**To Reproduce**
Steps to reproduce the behavior:
1. set up a fresh WooCommerce and WordPress installation with Storefront
2. Add a product with a price of €71.50 including 10% VAT
3. Add a coupon with a 3% discount on the cart contents
4. Add a custom fee in functions

[2020-02-12 07:04] lamda commented on #25629
Here's a screenshot of my tax settings:

<img width="712" alt="Screenshot 2020-02-12 at 08 03 53" src="https://user-images.githubusercontent.com/1311431/74310777-3b02c500-4d6e-11ea-9a35-05d19b0982b9.png">

[2020-02-12 09:00] bakoline opened #25642 "Serve Scaled Images Woocommerce product thumbnails problem"
I was trying to fix Gtmetrix “Serve scaled images” problem and here's what happens...

- Gtmetrix says that my product image thumbnails are scalled via css to 121px
- When I set width 121 from "customizing/woocommerce/product images/" it fixes Gtmetrix problem, but my images on /shop/ catalogue page are blurred.

Screenshot 1: https://imgur.com/a/JGfEwa9
Screenshot 2: https://imgur.com/a/RQhgC0n

[2020-02-12 10:40] tommiby opened #27566 "Shipping costs on refunds"
Hello,

it seems that refunfded shipping costs are not showing on order refunds when refund is accessed through REST API. The refund shows only the refunded order rows but not the shipping cost details when the shipping costs had been refunded. Would it be possible to add the the refunded shipping cost data also to refunds similar way as it is the orders?

[2020-02-12 12:44] emfluenceindia opened #25644 "Orders API: list_all_orders all orders endpoint is saying dates are invalid for before and after parameters"
**Describe the bug**
https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-orders
According to the official documentation, I passed two ISO8601 compliance dates against `before` and `after` parameters but getting the following response:

`{"code":"rest_invalid_param","message":"Invalid parameter(s): after, before","data":{"status":400,"params":{"after":"Invalid date.","before":"Invalid

[2020-02-12 14:58] peterfabian opened #25646 "[4.0 beta] Nudge to update database is not very visible"
With WC Admin managing WP notices, our notice to update WC core database could be hidden for a long time until someone notices it. We should find a better way of surfacing this information.

[2020-02-12 15:27] DavidAnderson684 commented on #25646
Why is updating the WP database something that the user is told to do manually, rather than being done automatically? When it has to be done manually, it can get delayed; and the notice requesting it is only visible inside wp-admin (so if you update with another tool, e.g. WP-CLI or ManageWP, InfiniteWP, UpdraftCentral, etc, you don't even get to know it was needed).

If it's just "to remind the u

[2020-02-12 17:20] Johnny99211 opened #25647 "Checkout coupon form not longer opening"
**Describe the bug**
When I add something to my cart and proceed to checkout and I click on the coupon message, the related coupon form doesn't open anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a product to your cart
2. Proceed to checkout
3. Click on the message "Do you have a coupon?"
4. See error -> Coupon form not longer opening

**Expected behavior**
I expect the coupon

[2020-02-12 17:35] roykho opened #25648 "[4.0 beta1]: Issue when trying to delete a refund"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Make an order.
2. Click on refund and do a partial refund.
3. Try and delete the refund.
4. You will see a confusing line item and the d

[2020-02-12 17:38] roykho opened #25649 "[4.0 beta1]: Consistent refund icon"
Perhaps it would be good to use a consistent refund icon. ![](https://d.pr/i/AWiGL7+)

[2020-02-12 17:48] roykho opened #25650 "Removing line item in order details not updating automatically"
**Describe the bug**
Deleting shipping does not appear to delete until next reload.

**To Reproduce**
Steps to reproduce the behavior:
1. Make an order with shipping
2. Go to order and make sure it is in pending status
3. Click on the `x` ( delete ) icon for the shipping
4. See that after the AJAX response, the shipping line item still exists and totals are not recalculated. Until reload.

**Scree

[2020-02-12 19:46] ThomasSultana commented on #15207
I've managed to work around this. You can take a look at the simple script i've put together in my gist.

https://gist.github.com/ThomasSultana/390c7c015efb3d76bb89ece0f523ba56

[2020-02-12 20:27] deltaWhiskey opened #25651 "Onboarding Wizard error in Jetpack step"
**Describe the bug**
When going through the onboarding wizard, when I click the "Continue with Jetpack" button, I get a blank white page with this message:

[code]

Clicking refresh takes me to the expected Jetpack connection flow.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh WordPress 5.3.2 install with WooCommerce 3.9.1. No other plugins installed. Theme is "Twenty Twenty".
2. Go

[2020-02-12 20:28] deltaWhiskey commented on #25651
Screen shots, showing the options I picked:

<img width="729" alt="Screen Shot 2020-02-12 at 12 08 36 PM" src="https://user-images.githubusercontent.com/15386509/74374326-09e8bb80-4d93-11ea-925d-3036cde68cf0.png">

<img width="739" alt="Screen Shot 2020-02-12 at 12 08 49 PM" src="https://user-images.githubusercontent.com/15386509/74374338-0ce3ac00-4d93-11ea-80da-533d165b6e22.png">

<img width="724

[2020-02-12 21:15] kickbk opened #25652 "webhook issues"
I'm using the latest WC with the latest api version.

Since my comments apply to all WC records (products, order, coupon, customer), I will use"record" instead of, say, "coupon".

**Trashing and restoring**

When you move an record to trash, WC fires a record.deleted webhook event. This is incorrect, it should fire a record.updated and set the new status to trash.

record.deleted should only be fi

[2020-02-12 21:45] mariovalney commented on #20930
Hi @electrokit you can change **scroll_to_notices** adding your own JS (after woocommerce.js):

[code]

[2020-02-12 21:57] #25647 closed

[2020-02-13 02:19] jhimli2015 opened #25653 "Woocommerce Address issue"
Description
As we are Manufacturer from New Zealand, we sell dairy products via woocommerce, from past week I am facing some address issue , my store only sale at New Zealand, but some customers from USA as well India can place an order and purchased our Item, and we loss all valuable customer like this way , how its possible to Why woocommerce not give any validation when customer enter their tow

[2020-02-13 04:26] giridhar196 opened #25655 "I am not able to save my settings under woocommerce settings"
Hi,
I am not able to save my address details, privacy policy link shop page target everything is going to blank when i am clicking save. I tried to delete woocommerce plugin and install again but i am not able to see any changes still they are saving blank inputs.
![Woocommerce Settings](https://user-images.githubusercontent.com/24917007/74401368-0878cb00-4e47-11ea-8711-48f65b73e1eb.PNG)

[2020-02-13 07:42] androos commented on #24938
The last status for this issue was "needs feedback". I gave some feedback. But no change since 2 months?