[2022-11-26 09:13] EjayhanFernandes commented on #35470
5742487-zen

[2022-11-26 10:42] kaushikasomaiya opened #35737 "Compatibility of get_ids_by_code() with _bin collation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We're doing a direct post title match to get coupon post ID:

https://github.com/woocommerce/woocommerce/blob/9e9b4ef844ef015388c21a401aba7bdee11a0d72/plugins/woocommerce/include

[2022-11-27 06:57] kaushikasomaiya commented on #35694
Closing as duplicate of #35470

[2022-11-27 06:57] #35694 closed, assigned to nobody

[2022-11-27 11:21] tomxygen opened #35739 "If Gutenberg is enabled in product description, the new WooCommerce navigation experience is not compatible"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In my Woocommerce stores I generally enable Gutenberg in product description to create beautiful product pages with accordions, columns, graphical elements etc in the product des

[2022-11-27 11:53] Nic-Sevic opened #35740 "woocommerce_scheduled_sales Hook not changing sale states properly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Without schedule modification the woocommerce_scheduled_sales event is not properly changing the sale prices of items. A sale will start and end at the correct time (i.e. origina

[2022-11-27 15:01] JingesJK commented on #32187
Unfortunately my database is not showing 'wc-admin-coupon-page-moved' - not in '_wc_admin_notes' and '_wc_admin_notes_actions'. Any ideas where I can find it? I only found 'remove-legacy-coupon-menu' in '...actions'.

[2022-11-27 19:46] JingesJK commented on #32187
Unfortunately my database is not showing 'wc-admin-coupon-page-moved' - not in '_wc_admin_notes' and not in '_wc_admin_notes_actions'. Any ideas where I can find it? Ive only found 'remove-legacy-coupon-menu' in '...actions'.

[2022-11-27 21:31] Stella3 opened #35741 "Checkout Error Message = Duplicate Orders"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Upon checkout, if someone has a poor/intermittent internet connection, they may receive the following error on the Checkout page.

"You are probably offline. Please try placing y

[2022-11-27 22:51] samueljseay commented on #35734
Draft fix [here.](https://github.com/woocommerce/woocommerce/pull/35742)

[2022-11-28 01:37] bryceadams commented on #28969
Just another +1 on @blogtutor's suggestion. We see this a lot with other stores using Metorik where they can't easily see if an update was made on the order due to the `post_modified` field not changing. It would be really helpful for us + our users, and perhaps other plugins/apps relying on the `post_modified` field, to have it updated when this change happens. Thank you for any consideration 😄

[2022-11-28 07:59] louwie17 commented on #35126
@pmcpinto well for the product publish in the current UI we use the `product_add_publish` or `product_update` action for example, I was curious if we wanted to use something different for the exit CES feedback, like `exit_product_update`, so you can more clearly differentiate which feedback came from where?

To tag on to this, in the design the copy for product exit prompt looked something like th

[2022-11-28 08:17] Nic-Sevic commented on #35740
When I check the product on the live site today (sale set to start today)
![image](https://user-images.githubusercontent.com/47717887/204227167-2840659e-4bdc-444b-b6fa-269343b8a3c1.png)

When check product list
![image](https://user-images.githubusercontent.com/47717887/204227207-a873ab34-9667-4e2b-8d48-2d5974082344.png)

and product edit screen
![image](https://user-images.githubusercontent.com/4

[2022-11-28 08:24] tsetend commented on #35740
We have a user with this problem [5746641-zen](https://woothemes.zendesk.com/agent/tickets/5746641). Ran the `woocommerce_scheduled_sales` schedule manually but that didn't fix the problem.   Set the occurrence of this action to one hour daily, it ran after an hour but still no difference.

[2022-11-28 09:24] larkbegins commented on #34678
Thank you! It helped[.](https://profitparrot.com/)!

[2022-11-28 10:03] pmcpinto commented on #35126
Thanks for the clarification. This is why included a new event property in the issue description:
ces_location: inside feature | outside feature

[2022-11-28 11:53] rashedripon commented on #35220
Another user reached out and expressed their dislike to have this message. It would be great if this can be disabled with settings in WooCommerce. hc-38288719

[2022-11-28 12:03] wyter commented on #32187
5743450-zen

[2022-11-28 12:37] ilyasfoo opened #35745 "Tax task showing as not completed after setting up tax"
**Issue Description:**
Reported by a user and surfaced by @verofasulo, tax task completion isn't marked as completed when the user is sent back to WCAdmin dashboard after a user has installed WC Tax and Services plugin and connected their site.

I suspect the cause is the [`wc_connect_taxes_enabled`](https://github.com/woocommerce/woocommerce/blob/9fabda744ae49099a525c8e54632adfe91f22f61/plugins/w

[2022-11-28 13:25] webdados commented on #33808
🍿 https://twitter.com/official_php/status/1597203297537957888

[2022-11-28 15:19] #34473 closed, assigned to nobody

[2022-11-28 15:59] jonathansadowski commented on #35702
Hi @VikiBenDavid

Thanks for the report. Your report was missing the system status report. We need the system status report in order to try and reproduce the issue. Please reply to this message with the status report.

You can find the report from **WooCommerce > System Status** in WordPress admin. Click on "Get system report" and then "Copy for support".

[2022-11-28 16:06] jonathansadowski commented on #35713
This behavior was changed in #34619 and is slotted to be included in the 7.2 release planned for December 13.

[2022-11-28 16:06] #35713 closed, assigned to nobody

[2022-11-28 16:08] jonathansadowski commented on #35719
Hi @ImprobableCode,

Thanks for the report. Your report was missing the system status report. We need the system status report in order to try and reproduce the issue. Please reply to this message with the status report.

You can find the report from **WooCommerce > System Status** in WordPress admin. Click on "Get system report" and then "Copy for support".

[2022-11-28 16:12] jonathansadowski commented on #35735
Hi @trash974,

Thanks for your report. Would you be able to provide a set of steps that we can use to attempt to reproduce this issue? Also, can you confirm that the bug occurs when only the WooCommerce plugin is active?

[2022-11-28 16:40] vedanshujain commented on #35497
Yeah this is correct.

We can probably rearrange these settings a bit so that they are together (it seems like another comment also refers to it by calling the prices entered setting as "main").

[2022-11-28 17:20] joshuatf commented on #35569
As @mdperez86 mentioned, this logic does reside on the server and currently the field is optional.  I'm okay with either approach, but getting the slugs client-side will require some changes in the REST API (or additional endpoints potentially).

Maybe this issue should instead check if a slug already exists when blurring the slug field and keep it optional?  Or do you think generating on the fly

[2022-11-28 18:31] joshuatf commented on #35576
Is this a comprehensive list?

* Search or create cateogry
* Search or create attribute
* Search or create value

I don't think it was added to attributes yet.  Though I do notice some bugginess where subsequent clicks don't open the category menu on focus.  @louwie17 have you experienced this?

[2022-11-28 18:39] louwie17 commented on #35576
I can have a look at that tomorrow, I have not played around with it to much since the `onfocus` has been merged.
It could be still loading the initial list, but maybe it's not correctly showing the loading icon in that case.

[2022-11-28 18:50] joshuatf commented on #35576
@louwie17 My list gets loaded and then opens the first time, but after clicking around a bit (selecting options or trying a different SelectControl like attributes), the category menu no longer opens on focus.

[2022-11-28 19:23] NinjaAtWork opened #42523 "Product Search: add ability to search products by SKU"
## Is your feature request related to a problem? Please describe.
Sometimes, especially for certain categories (such as cosmetics), users are more familiar with code than product names.

## Describe the solution you'd like
It'd be great if the Product Search block could allow for products to be searched by SKU in addition to product names.

## Describe alternatives you've considered
I considered o

[2022-11-28 19:52] abhij89 commented on #32837
also, can we label this as a bug..as this is clearly a bug

[2022-11-28 20:11] joshuatf commented on #35659
This does not yet exist on attributes.  Should we add this before tackling the options?

Assuming we implement the above variations checkbox, I assume this checkbox will not show in this flow, right?

This is meant to say after we create a variation, right?

cc @pmcpinto @jarekmorawski

[2022-11-28 20:18] #34663 closed, assigned to roykho

[2022-11-28 22:22] brucealdridge opened #35749 "JS not enqueued when editing custom post types with HPOS"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Related to #35601 and open PR #35658

Using the [Custom Order Types HPOS Screens](https://github.com/woocommerce/woocommerce/pull/35658) PR when editing a custom order type the j

[2022-11-28 22:52] ryanfurtner commented on #14541
Ive had this happen for the first time today too, all plugins and core up to date. Been running this woocommerce store since 2014 and never had it happen before today.

[2022-11-28 23:32] brucealdridge opened #35750 "Bulk action form URL uses wrong value for page for filtering custom post types with HPOS"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Related to #35601 and open PR #35658

Using the [Custom Order Types HPOS Screens](https://github.com/woocommerce/woocommerce/pull/35658) PR when viewing a filtering a custom orde

[2022-11-28 23:53] kylebarrow commented on #35470
A quick CSS workaround I'm using to make the icons usable until a fix is released:

`.DayPickerNavigation,ul.DayPicker_weekHeader_ul{display:flex}.DayPickerNavigation .DayPickerNavigation_button{width:30px;margin:0 10px}`

Loaded  via admin_enqueue_scripts

[2022-11-28 23:55] ImprobableCode commented on #35719
Sorry about that
### WordPress Environment ###

WordPress address (URL): https://example.com
Site address (URL): https://example.com
WC Version: 7.1.0
REST API Version: ✔ 7.1.0
WC Blocks Version: ✔ 8.7.5
Action Scheduler Version: ✔ 3.4.0
Log Directory Writable: ✔
WP Version: 6.1.1
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_GB
External object cache: –

### Serv

[2022-11-29 00:19] jantowell opened #35752 "Fatal error call to date() on null in woocommerce\src\Admin\API\Reports\Customers\DataStore.php:738"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

PHP Fatal error caused when date() is called in woocommerce\src\Admin\API\Reports\Customers\DataStore.php:738 when a user account with customer role has a user_registered value o

[2022-11-29 00:30] nikolas4175-godaddy commented on #35635
Thanks for triaging @psealock 🙏 Should this be re-labeled `focus: my account` since it has to do with rendering the status on the page rather than the order data itself?

[2022-11-29 01:01] #35494 closed, assigned to mattsherman, nathanss

[2022-11-29 01:16] brucealdridge opened #35753 "[Enhancement]: Add custom filters to ListTable - HPOS"
### Describe the solution you'd like

Related to #35601 and open PR #35658

When using  [Custom Order Types HPOS Screens](https://github.com/woocommerce/woocommerce/pull/35658), extensions like [WooCommerce Subscriptions](https://github.com/Automattic/woocommerce-subscriptions-core) should be able to add custom filters in the [ListTable](https://github.com/woocommerce/woocommerce/blob/38295542ab9a

[2022-11-29 01:50] psealock opened #35754 "Handle hook version `@since x.x.x` at release time"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

At the time of writing a pull request, authors don't necessaril

[2022-11-29 01:59] chihsuan commented on #35470
Hey @woocommerce/mothra Users keep reporting the bug. Could someone take a look at this? 🙏

[2022-11-29 02:29] beaulebens commented on #35497
I was thinking this as well, but then when I looked at how we'd actually do it, it started feeling like an even bigger change (e.g. it probably makes sense to hide/move some things, based on what you select/how you say you'll enter prices). I think that warrants a separate look from Design, but in the meantime we can probably get a simpler warning message shipped to reduce confusion.

[2022-11-29 03:59] AlanEGrant commented on #27419
The Filter By Attribute Block does not work with the Products By Category block for me either. Are these blocks intended to function together? Or are the filter blocks limited for use on only the shop page?

Edit: When I append the filters in the query string to the page with Products By Category by hand, I can see that the block does not honour them either. If neither the Products By Category acc

[2022-11-29 06:52] xue28 commented on #35639
https://wordpress.org/support/topic/attributes-order-3/#post-16237617

[2022-11-29 06:53] arigato-one commented on #35470
It's working great.
Thanks

You can add this code via this code snippets which will be added in theme functions.php or you can use Code Snippets / WP Code plugin.

add_action('admin_head', 'my_custom_css_admin');

function my_custom_css_admin() {
  echo '<style>
  .DayPickerNavigation,ul.DayPicker_weekHeader_ul{display:flex}.DayPickerNavigation .DayPickerNavigation_button{width:30px;margin:0 10px}

[2022-11-29 06:55] ratnakardubey opened #35756 "[Enhancement]: Allow changing coupon discount amount when creating order via REST API and adding coupon to the same order"
### Describe the solution you'd like

A filter `woocommerce_coupon_get_discount_amount` is provided in the class `WC_Discounts` ([ref](https://github.com/woocommerce/woocommerce/blob/7.1.0/plugins/woocommerce/includes/class-wc-discounts.php#L376)). This filter allows us to change the coupon discount amount.

For example, if we want to create a coupon such that it'll give **75% off up to $50**, thi

[2022-11-29 07:06] adrianduffell commented on #35497
@verofasulo With the close button (X) on the error message, do you have in mind that users would be able to dismiss the error and proceed with the unsafe settings?

<img width="390" alt="Screen Shot 2022-11-29 at 2 51 19 pm" src="https://user-images.githubusercontent.com/9312929/204459133-d4630584-5131-49a9-8a90-e470a956650f.png">

Potentially, we could disable the save button when the error messa

[2022-11-29 07:24] xue28 commented on #35639
https://wordpress.org/support/topic/attributes-ordering-problem/#post-16237997

[2022-11-29 07:25] maketheboat commented on #35752
we can replicate this bug on latest WP and latest WC and the suggested fix cleared up the issue.

[2022-11-29 07:50] chihsuan commented on #35470
@arigato-one I'm glad it works for you! 🙂

Reopen it since it's a workaround. We'll fix it in Core.

[2022-11-29 07:56] louwie17 commented on #35576
I am not seeing this issue with the category field, but it looked like both the attribute and attribute term input fields didn't have the `openMenuOnFocus` prop enabled. I added a small PR to add this: https://github.com/woocommerce/woocommerce/pull/35758

[2022-11-29 08:42] jarekmorawski commented on #35576
There are also tags and options (global and local) and their values in the new variation management experience. This component is heavily used throughout the whole experience. We must get it right. 👍 Thanks for working on this, folks!

[2022-11-29 08:43] kopfnick commented on #33077
Just checking in again since there is no movement here since June...
The problem is that we basically need this combination of settings and for months now ppl are complaining about 2 products being added to their carts :(

[2022-11-29 08:53] jarekmorawski commented on #35569
The field was optional because I assumed we'd generate it anyway without user input (after they enter the name and close the modal). The issue comes from Beau's feedback who found it odd and would prefer to have the slug generated on the fly.

I think we can make the slug field non-optional and move the logic from the server to the client. Can we do that or do we have to duplicate the logic?

[2022-11-29 08:56] jarekmorawski commented on #35659
It exists if you select a variable product type and go to any attribute details. It doesn't show up for other product types, though.

Yes. The checkbox is downgraded to the role of an ID that allows us to distinguish regular attributes from variation-attributes (options) on the client side. If an attribute has this box checked, it's an option and appears in the `Options` tab. If it doesn't, it's a

[2022-11-29 09:40] verofasulo commented on #35497
@adrianduffell yes - my understanding was that there might be some use cases where these settings are ok anyway (I have no idea which special use case might be, but I guess there is 🤔). That's why I would avoid disabling the "Save" button as well.

[2022-11-29 09:43] verofasulo commented on #35497
I agree @beaulebens. The Manage team is thinking of reviewing the Settings area next year, so it would be a good moment for us to redesign the experience 😊 cc @pmcpinto

[2022-11-29 09:47] adrianduffell commented on #35497
Sounds good!

One more question. if the close button is used, should that permanently dismiss the error message appearing again?

I was thinking about adding a Tracks event when the message dismissed. Perhaps then we could reach out to a sample of these merchants and find out their use case 🤔

[2022-11-29 10:02] verofasulo commented on #35497
Great question - I see this task as a one-time action, so I don't expect users to go back and change these settings. But to answer your question, I would probably show the alert again even if it was dismissed - at least till we don't get data and have a clearer picture of this scenario.

Yes 🙌 Could we also track the other actions (main cta and secondary link to documentation)?

[2022-11-29 10:36] gg4midas commented on #27674
woocommerce 7.1
theme: astra
My site has this error if I use PHP 8.1 and 8.0:

Error Details
=============
An error of type E_ERROR was caused in line 37 of the file /www/wwwroot/sweetener/wp-content/plugins/woocommerce/includes/class-wc-regenerate-images-request.php. Error message: Uncaught Error: Call to undefined function putenv() in /www/wwwroot/sweetener/wp-content/plugins/woocommerce/include

[2022-11-29 13:18] swatipawarGS commented on #35699
Hi @mshane8,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 7.1.0 version and WordPress 6.1.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/204458633-b6c8b06f-ee08-4b5d-9d49-952816d82530.mp4

Please provide us with more details a

[2022-11-29 13:19] swatipawarGS commented on #35520
Hi @AashikP,

Thank you for the updated information. but we are unable to reproduce the issue using the given updated information on our end with WooCommerce 7.1.0 version and WordPress 6.1.1 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/204462481-0060f9c2-6af6-4edf-97c0-3e939ff3ed6d.mp4

Please provide us with more details and any a

[2022-11-29 14:38] mattsherman commented on #35426
Suffix is consistent with how `__experimentalInputControl` handles things.

Good point, we will want to make sure we handle/understand interaction issues with the suffix. I don't believe this to be a major concern.

[2022-11-29 15:37] rodrigoprimo opened #35763 "PHP 8.2 deprecation warnings"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Similar to #33808 which refers to PHP 8.1, I'm seeing a few deprecation warnings when running WooCommerce with PHP 8.2.0 RC6.

### Expected behavior

WooCommerce fully compatible

[2022-11-29 15:41] chrism245 opened #35764 "Variation name not showing correctly on the CSV export file"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the files are exported it doesn't add the variations names to the CSV file, it adds the variation name just to some products.

<img width="867" alt="11 29 2022-08 12" src="h

[2022-11-29 15:48] kmanijak commented on #42591
I mentioned this issue [in this PR](https://github.com/woocommerce/woocommerce-blocks/pull/7707) (the one @imanish003 mentioned in the last comment). I merged it, so it closed this issue, but:
- it fixed misaligned padding
- it didn't fix the "rectangular vs rounded button" problem

Should I reopen the issue?
(Btw I'm reproducing rectangular vs rounded buttons, so I may take a brief look. Or @iman

[2022-11-29 15:51] joshuatf commented on #35659
@jarekmorawski I meant in the new product management experience.  I don't think we have the option for variable products there or the checkboxes in attributes AFAIK.  Please let me know if I'm wrong.

[2022-11-29 15:53] jarekmorawski commented on #35659
That's correct. In the new experience, all attributes created in `Options` will have the box checked (again, only on the server side because it won't be visible to users), while those added in `General` will have the box unchecked.

[2022-11-29 16:01] joshuatf commented on #35659
Ah I see.  There won't be a visual checkbox element, but the flag for marking an item as used for variations will be set to `true` for options and `false` for attributes, is that right?

[2022-11-29 16:06] joshuatf commented on #35569
It can be done, but also yes, there will need to be some level of duplicated logic.

I think more likely than copying over logic, we'll need some new endpoint or additional data on an existing endpoint to help us generate the slug.  The client will never fully be capable of generating the slug on its own because we need access to the database to generate the next sequential unique slug.

If that's

[2022-11-29 16:07] jarekmorawski commented on #35659
That's correct. 👍 Those flags will also help us assign existing attributes to the right UI areas. Attributes with the flag set to `true` will go to Options and those set to `false` will go to Attributes.

[2022-11-29 16:08] mattsherman commented on #34885
@louwie17 Echoing what @joshuatf said, there aren't any details or AC in this issue. We should add those before somebody starts implementing this.

[2022-11-29 16:16] #35124 closed, assigned to joelclimbsthings

[2022-11-29 16:29] joshuatf opened #35766 "Add and edit product pages should not duplicate render logic"
Currently the logic in `add-product-page.tsx` and `edit-product-page.tsx` is mostly duplicated.  To avoid further duplication and making it easier to miss bugs in the future, we should combine the logic into a single file if possible.

https://github.com/woocommerce/woocommerce/blob/b186c77cbc61572d2a6e607d6faadf80226e0b1f/plugins/woocommerce-admin/client/products/add-product-page.tsx#L30-L50

htt

[2022-11-29 16:38] joshuatf commented on #35706
This issue is blocked by https://github.com/woocommerce/woocommerce/issues/35766.  To avoid further duplication in tab logic, we should make sure that https://github.com/woocommerce/woocommerce/issues/35766 is completed first.

The [TabPanel](https://developer.wordpress.org/block-editor/reference-guides/components/tab-panel/) is a good candidate for this feature and includes most of the logic we n

[2022-11-29 16:48] mdperez86 commented on #35076
xp: 2

[2022-11-29 16:48] mdperez86 commented on #35576
xp: 3

[2022-11-29 16:51] joshuatf commented on #35076
Some logic for this exists in https://github.com/woocommerce/woocommerce/blob/b186c77cbc61572d2a6e607d6faadf80226e0b1f/plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/attribute-term-input-field.tsx#L155

I'm not completely opposed to implementing this directly within the `SelectControl` component, but I do think a new component that's a wrapper around `SelectControl` mi

[2022-11-29 16:58] mdperez86 commented on #35569
I agree with @joshuatf an endpoint with the new slug suggestion looks like the right way if we are going to show that suggestion to the user. That way the logic of calculating the next unique slug is contained only on one side (the server) and can be reused everywhere else we need the same logic.

[2022-11-29 17:47] Shakil1081 commented on #25776
[products  on_sale="true"]

its not loading more than 42 products  i am also tryed
**[products limit="500" columns="4" orderby="popularity" class="quick-sale" on_sale="true"]**

But not showing mor thean 42 product.
when i was using [products] this one showing more than 42  is ther any way to show all product on_sale

[2022-11-29 18:11] #35571 closed, assigned to mdperez86

[2022-11-29 18:22] jorgeatorres commented on #35469
Hi @dinesh4monto @mustafauysal!

Thanks for your report. The version number is, in fact, incorrect.
We have a PR open that fixes the version number for a similarly affected template (https://github.com/woocommerce/woocommerce/pull/35473), but I'll make sure we also fix this instance here.

Thanks for catching the error!

[2022-11-29 18:27] jorgeatorres commented on #32757
Augmenting the scope of this issue to include metadata sync in the opposite direction (from #35490):

[2022-11-29 18:28] jorgeatorres commented on #35490
Hi @basile67,

This is indeed a bug. We have a [similar issue open](https://github.com/woocommerce/woocommerce/issues/32757) for metadata sync in the opposite direction (from orders table to posts table), which I've now changed so it includes this case too, so I'm closing this one as a duplicate.

It's already on our to-do list and we should be working on it soon.

Thanks for the report!

[2022-11-29 18:28] #35490 closed

[2022-11-29 19:01] felipemarcos opened #35768 "Filter By Price Widget on the Front Page not working"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Filter by Price Widget does not work if the Shop page is also the Front Page.

Going to `https://yoursite.com` loads the front page as expected.

Going to `https://yoursite.com/?

[2022-11-29 19:03] felipemarcos commented on #35768
These query vars are set in `wp-content/plugins/woocommerce/packages/woocommerce-blocks/src/BlockTypes/ProductQuery.php` on line 144

[2022-11-29 19:06] AnnaMag commented on #35470
Thank you @chihsuan!

@nathanss @octaedro I've added this issue to the backlog.

[2022-11-29 19:15] ethanclevenger91 opened #35769 "[Enhancement]: "Resend new order notification" experience is confusing when that email is disabled"
### Describe the solution you'd like

Right now, an order will show "Resend new order notification" as an option under "Order actions", even if that particular email is disabled in WooCommerce.

If you choose that option and submit, there will be a notification on page refresh that says "Order updated and sent". This is misleading, because, in fact, no email is actually sent. The `trigger` method

[2022-11-29 19:32] jorgeatorres commented on #35469
Fixed in #35473.

[2022-11-29 19:32] #35469 closed, assigned to jorgeatorres

[2022-11-29 20:30] nathanss commented on #35470
This is a duplicate of #35645 and is fixed by #35649.

It will be released in version 7.2 on December 13th.

[2022-11-29 20:30] #35470 closed, assigned to nathanss

[2022-11-29 20:35] joshuatf opened #35770 "Refactor attributes component to reuse for options"
Under the hood, attributes and options are nearly identical with the exception of the `variation` flag.

The attributes flow has already been created and configured to work in the new product management experience.  We should reuse those components with some small tweaks to allow them to be used for options as well.

https://github.com/woocommerce/woocommerce/blob/b186c77cbc61572d2a6e607d6faadf802

[2022-11-29 20:37] joshuatf commented on #35770
Barring any issues with getting the `variation` property on the attributes, this will hopefully be relatively straightforward and we can reuse most of the code in the attributes.

Some thought may need to given on how those components are structured to make using it for both options and attributes to use.

Estimate: 3

[2022-11-29 20:39] joshuatf opened #35771 "Product variations data store"
In order to show the product variations in the new product management experience, we need to create a data store to retrieve product variations.

We can use the crud data store generator to quickly set this up and type out the [properties for use in variations](https://woocommerce.github.io/woocommerce-rest-api-docs/#product-variation-properties).

https://github.com/woocommerce/woocommerce/blob/1

[2022-11-29 20:40] joshuatf commented on #35771
Estimate: 2

Using the CRUD data store generator should make this relatively straightforward, though all the properties need to be typed out in TS.

[2022-11-29 20:48] ericfri commented on #35752
5752277-zen

[2022-11-29 20:51] joshuatf opened #35772 "Render product variations list"
The variations for a product should be displayed beneath the options.

Note that some prior art exists for this with the attributes field, but we should evaluate whether or not it's worth it to separate and reuse that component or if we should just recreate a component specific to variations since the UI differs slightly.

https://github.com/woocommerce/woocommerce/blob/185d3337cac78ba12a4dd6c0384

[2022-11-29 21:16] barryhughes opened #35773 "(HPOS) Errors during plugin activation"
Activating WooCommerce results in various notices/warnings being emitted, relating to HPOS (note the empty `IN()` clause):

[code]

We should investigate and resolve. Related internal chats:

- p1669725882058759/1669725648.971299-slack-C9QDV4TL4
- p1669742383945139-slack-C0E1AV8T0

**Steps to replicate**

- Start with latest `trunk`
- Enable HPOS
- Via WP CLI, deactivate WooCommerce (`wp plugin de

[2022-11-29 21:42] garrettm30 opened #35774 "Product titles are not filtered with `the_title` in cart or in grouped products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In many places throughout the frontend, product titles are filtered with `the_title`, but I would like to report that I have found a couple places where they are not. To summariz

[2022-11-29 22:12] mattsherman commented on #35076
I think a single component would be cleaner. If we allow the props that provide/filter items to be Promises, we can also support them being regular functions. You can await non-Promises.

A wrapper where the only difference is the async support for handling items feels a bit unnecessary and I would be concerned that it makes it more confusing to choose the right component and also increases the ma

[2022-11-29 22:13] mattsherman commented on #35076
What do others think about this?

[2022-11-29 22:33] pavelkasparkov opened #35775 "[Enhancement]: Allow auto refund to any gateway which support refund feature"
### Describe the solution you'd like

During refund process only original gateway could be used for auto refund.
When system allow to refund to any gateway with such functionality it will increase a possibility to use wallet or similar extension.

For example, customer pay with bank transfer and return product.
When refund is issued, only manual way is possible, and when we want to put credit to w

[2022-11-29 23:48] 1000camels opened #35776 "Custom date setting in Analytics has style issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There seems to be a style issue with the days of the week and the monthly arrows for Custom date setting under Analytics. The arrows are large and the days of the week are not al

[2022-11-29 23:50] sunyatasattva commented on #42525
Hello @dashkevych ! That's a good suggestion, thank you. We'll put it on our backlog for consideration. Meanwhile, just know that we do accept PRs if you want to take a stab at it.

[2022-11-30 00:02] 1000camels commented on #35776
Upon further investigation,/wp-includes/css/dist/components/style.css does not seem to be loaded.

[2022-11-30 00:05] sunyatasattva commented on #42523
Hello @NinjaAtWork, thank you for your suggestion. If I get it correctly, you want the Product Search block to be able to be used to search by both the name of the product and SKU, is that correct?

[2022-11-30 00:37] AashikP commented on #35520
@swatipawarGS Are you testing this on WordPress.com / Pressable platform? Because the issue is only replicable there at the moment.

[2022-11-30 00:55] floyedxman commented on #35514
how can I modify the payment gate ?

[2022-11-30 00:57] floyedxman commented on #35531
how can I modify the shipping to stopdesk and to the door only with different places and different prices

[2022-11-30 01:17] #34524 closed, assigned to samueljseay

[2022-11-30 02:39] richardaubin opened #35777 "[Enhancement]: Rest API: Add 'Force' parameter to 'Batch Update' : Delete."
### Describe the solution you'd like

https://woocommerce.github.io/woocommerce-rest-api-docs/#batch-update-products

Currently the update/delete request looks like this:

[code]

Add a 'force' boolean parameter where 0 = trash, and 1 = delete permanently.

[code]

This could probably be kept backwards compatible with the existing functionality by checking whether the force parameter exists or not

[2022-11-30 03:32] joshuatf opened #35778 "Automatically generate variations from product options"
When at least one option is created, we should automatically create variations from all options.

Since doing this on the backend could affect existing (legacy) product flows, this should only occur on option changes within the new product management experience on the client-side.'

Blocked by https://github.com/woocommerce/woocommerce/issues/35770.

![Image](https://user-images.githubusercontent.

[2022-11-30 03:36] joshuatf commented on #35778
Estimate: 3

We'll want to write some logic to track all possible permutations of options which should also take into account performance since it's possible many variations could exist.

@jarekmorawski @pmcpinto I'm estimating based on the assumption that this only creates or removes variations based on the newly added options and not regenerating all variations (non-inclusive of the newly added

[2022-11-30 03:39] joshuatf commented on #35576
Estimate: 3

There are a few separate issues in here, but I think the main focus of this appears to be batching.  If we identify bugs with the existing `onFocus` behavior, we can open a separate issue for that.

My estimate also assumes that https://github.com/woocommerce/woocommerce/issues/35076 is merged and ready for use as this logic might be useful within that component.

[2022-11-30 03:47] joshuatf opened #35779 "Disable unnecessary product tabs when variations are created"
When a variation is created, some of the main product tabs are no longer necessary and should be disabled.

**Design**

BaoQ3PGPnhAiJCsJtxgej3-fi-103%3A42557&t=ocwJn8Uxq8YLDepQ-0

![Image](https://user-images.githubusercontent.com/10561050/204702499-5ca54ac2-f048-418d-b28a-2a2a8bb6d124.png)

**Acceptance criteria**

* [ ] Pricing, inventory, and shipping tabs should be disabled when at least 1 var

[2022-11-30 03:51] joshuatf commented on #35779
Estimate: 2

This should be pretty easy to determine based on variations from the product data store and I'm tempted to give this a "1" but I'm not sure if the [TabPanel](https://developer.wordpress.org/block-editor/reference-guides/components/tab-panel/) will accept JSX elements or tooltips which could make this a little harder to implement.

[2022-11-30 05:20] imanish003 commented on #42591
Hey @kmanijak,
Good to know that this issue is reproducing for you 🙌🏻

Sure, Let's reopen the issue because you are able to reproduce this issue 🤝

Sounds great! Please let me know if you want us to debug it together after taking a brief look 🙂

[2022-11-30 07:53] nirmalrdesai commented on #35764
Having the same issue since yesterday while following same steps mentioned above.

[2022-11-30 07:57] NekoJonez opened #35781 "Typo in brandname"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/nl-be/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=14639471&filters%5Btranslation_id%5D=997

[2022-11-30 09:26] vladolaru commented on #35752
5753895-zd-woothemes

[2022-11-30 09:48] NinjaAtWork commented on #42523
Hi
exactly .

we are going to have a marketplace with lots of product which in some categories like cosmetics customer are more familiar with code than name.
choosing blocks ,everything fine but no search with sku.
we cant install more plugin due to performance.

[2022-11-30 09:54] JakeDevLab opened #35782 ""SKU: N/A" is swown on Variation products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WooCommerce product meta shows “SKU: N/A” on Variation products with no SKU set on the Inventory tab. Simple products are OK, that’s only on Variation products type.

I use Divi

[2022-11-30 10:22] louwie17 commented on #34885
@jarekmorawski @pmcpinto one remaining question on this issue, should we remove the **Most used** tab or keep this? the most used tab only displays 10 or so items so this would not affect rendering or performance.
<img width="298" alt="Screen Shot 2022-11-30 at 11 21 31 AM" src="https://user-images.githubusercontent.com/2240960/204771083-9c12bf89-c4c4-4b4a-99c7-8be2718c5438.png">

[2022-11-30 12:00] #35714 closed, assigned to octaedro

[2022-11-30 12:03] jarekmorawski commented on #34885
Good question. I was planning to make that a future improvement where we'd show the 10 most used categories at the top of the list (when the field is first clicked), above other results. Unless you think we have space to work on this now?

[2022-11-30 12:55] ChrisColotti commented on #34344
Same just ran into this issue as well and also affect shop review too, but quick reply on the comment (Shop review) works as well as a work around

[2022-11-30 13:33] louwie17 commented on #34885
I don't mind waiting, but if we do, I think we should keep the current form of **Most used** available, just incase this is something people use often (meaning we keep the tab functionality).
I don't want to make the same mistake as collapsing the short description, where we find out the hard way that people use this feature a lot (unless we already have tracks around this?)

[2022-11-30 13:40] #35181 closed, assigned to octaedro

[2022-11-30 13:43] skinnerjoe commented on #34344
I'm having the same issue. I'm surprised this has been open for 3.5 months without a fix...

[2022-11-30 14:02] jarekmorawski commented on #34885
Good point. I don't think we're currently tracking this anywhere. We definitely don't want to hinder or remove existing functionality so we could move **Most used** into the dropdown. Given the new interaction for adding categories, keeping the existing tabs would be confusing.

Do you think you could add it as part of this issue?

https://user-images.githubusercontent.com/79307566/204815915-89e47

[2022-11-30 14:09] jarekmorawski commented on #35126
@louwie17 [Here's the updated copy for all actions](https://docs.google.com/spreadsheets/d/1t0JplRZL3cC3vNCATmMy95surJzYH_uhsitznelYcRI/edit?usp=sharing).

[2022-11-30 14:58] octaedro commented on #35115
Hi @AnnaMag,

I have a couple of questions related to this issue:

The tooltips we're using here don't allow us to add buttons or links

![Image](https://user-images.githubusercontent.com/1314156/204820075-f69033b1-82d1-41f7-8056-16d86e168e63.png)

Maybe we can use a warning similar to what we use in the `Variations` tab. Another option is to show a text summarizing [this](https://woocommerce.com/

[2022-11-30 15:00] louwie17 commented on #34885
yes that should be possible, although there might be slight chance the current select control will not like the extra headers, but I am thinking that is not very likely.

@jarekmorawski in terms of the UI though, I am a little confused on why it shows check boxes first and once a user searches it removes the check boxes? Wouldn't it be easier to never display the checkboxes?
Or are the checkboxes

[2022-11-30 15:33] Alexx1xx commented on #33971
the issue still exists, will it be fixed?

Thank you in advance!

[2022-11-30 15:44] xue28 commented on #35470
https://wordpress.org/support/topic/analytics-svgs-have-no-max-width/#post-16248310

[2022-11-30 15:51] marissaexplores commented on #32187
[5754987-zen](5754987-zd-woothemes)

[2022-11-30 15:57] pmcpinto commented on #35778
👍 I think that assumption makes sense.

[2022-11-30 16:11] nathanss opened #35784 "Edit product screen incompatibility with Product Bundles in New Product Management Experience"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When trying to update a simple product that is bundled by another product on wp-admin/admin.php?page=wc-admin&path=/product/id , it fails.

This is related to the [Product Bundle

[2022-11-30 16:16] jonathansadowski commented on #35776
Hi @1000camels,

Could you please provide a screenshot of how the arrows appear to you, so that we can compare and try to reproduce?

[2022-11-30 16:28] #35565 closed, assigned to mdperez86

[2022-11-30 16:42] anastas10s-afk commented on #35752
Can replicate the issue, using a test installation.
Follow-up on the thread here: 5704182-zd

[2022-11-30 17:07] joshuatf commented on #35706
Estimate: 2

[2022-11-30 17:35] #35731 closed, assigned to ecgan

[2022-11-30 17:47] Shakil1081 opened #35785 "[products on_sale="true"]"
[products  on_sale="true"]

its not loading more than 42 products  i am also tryed
**[products limit="500" columns="4" orderby="popularity" class="quick-sale" on_sale="true"]**

But not showing mor thean 42 product.
when i was using [products] this one showing more than 42  is ther any way to show all product on_sale

_Originally posted by @Shakil1081 in https://github.com/woocommerce/woocommerce/

[2022-11-30 18:47] mdperez86 commented on #35076
I prefer `getFilteredItems` to be an event insted of a function that runs at render time. So the filtering happens on user interaction and not at render time. Which lead me to keep the items prop (which is more usual and natural) while the filtering process happens on interacting event.

cc: @mattsherman

[2022-11-30 18:49] joshuatf opened #35786 "Add single product variation screen"
The new variations flow will include an individual screen for editing variations.

We can use the existing product ID in the path replaced with the variant ID (which is a unique post ID).
 `path=/product/{variant_id}` but this may not provide enough information about the parent product.  If that turns out to be the case, we could add a `variant` as an additional param.  `path=/product/{product_id}

[2022-11-30 18:53] joshuatf commented on #35786
Estimate: 2

This issue is mostly the initial setup for the page itself and shouldn't have too many challenges.  I gave it a "2" to allow for time to sanity check that we can retrieve all the data from the URL pattern we use.

We'll also need to add some logic to show the variant screen or show the main product screen, which probably implies we need the `path=/product/{product_id}&variant={variant

[2022-11-30 18:58] joshuatf opened #35787 "Add edit button to variations list items"
After the variations screen is ready for use, we can add an "Edit" button to all the variations items that links to this page.

This issue can be tackled towards the end of the epic to avoid linking to unfinished pages.

Blocked by https://github.com/woocommerce/woocommerce/issues/35786

**Design**

BaoQ3PGPnhAiJCsJtxgej3/%5BFeature%5D-Product-variations-fi-i102%3A6457&t=2MgQXoGpK8CakCBN-0

![Imag

[2022-11-30 18:58] joshuatf commented on #35787
Estimate: 1

[2022-11-30 19:05] joshuatf opened #35788 "Add pagination to variations list"
Variations list should include pagination when more than 5 variations exist.

Variations should be loaded in batches instead of all at once for performance reasons.  The CRUD data store should allow us to get the total from the initial request.  See https://github.com/woocommerce/woocommerce/pull/34613 for usage details.

**Design**

BaoQ3PGPnhAiJCsJtxgej3-fi-106%3A9597&t=Jsh233onKmJpJYtN-0

![Ima

[2022-11-30 19:17] joshuatf opened #35789 "Product variations card should have a fixed height"
To prevent jumpiness of the card as variations are loaded/added/removed, we should aim for a fixed height of the card variations live in.

Note that it's probably safer to use a `min-height` as opposed to actual height to prevent accidentally truncating information should something overflow.

Note that this issue should take into account pagination introduced in https://github.com/woocommerce/wooc

[2022-11-30 19:18] joshuatf commented on #35789
@jarekmorawski Should the mobile version not have any required height?  I'm worried that the mobile version may be a lot of empty white card space if only 1 variation exists.

[2022-11-30 19:18] joshuatf commented on #35789
Estimate: 1

[2022-11-30 19:23] AnnaMag commented on #35115
Thank you for your questions @octaedro.

I will leave it to @jarekmorawski to make the call here and answer the other questions as they are on the design side. Thanks Jarek 🙇

[2022-11-30 19:53] jorgeatorres commented on #35750
Fixed in #35751.

[2022-11-30 19:53] #35750 closed, assigned to jorgeatorres

[2022-11-30 19:57] joshuatf opened #35790 "Product variation visibility toggle"
We should be able to toggle the variation visibility on or off on each variation in the list. When toggling the variation visibility on or off, the icon will update to hint at the current status.

**Design**

BaoQ3PGPnhAiJCsJtxgej3-fi-106%3A1922&t=Jsh233onKmJpJYtN-0

![Image](https://user-images.githubusercontent.com/10561050/204895845-5225b001-57ef-405f-8ba6-d2a11e86f8eb.png)

**Acceptance criter

[2022-11-30 20:02] joshuatf opened #35791 "Product variation quantity status indicator"
The variations should show a quantity status indicator next to the inventory levels.

Is this affected by stock status?

**Design**

BaoQ3PGPnhAiJCsJtxgej3-fi-106%3A1922&t=Jsh233onKmJpJYtN-0

![Image](https://user-images.githubusercontent.com/10561050/204896398-5d5baaa9-9a0d-4f11-8bac-e77c3794a9f7.png)

**Acceptance criteria**

* [ ] The indicator should be green when the inventory is >= 10
* [ ]

[2022-11-30 20:05] joshuatf commented on #35791
@jarekmorawski @pmcpinto I think the original criteria might have had a typo so I adjusted above in the acceptance criteria.  Please let me know if my assumptions were accurate.

Also curious if this stock status indicator will exist when inventory is not tracked and stock level is manually tracked.

[2022-11-30 20:19] joshuatf opened #35792 "Filter for product variations list"
Users can filter the list by one or multiple variations and several options.

**Design**

BaoQ3PGPnhAiJCsJtxgej3-fi-106%3A3188&t=Jsh233onKmJpJYtN-0

![Image](https://user-images.githubusercontent.com/10561050/204899288-e317c81f-b280-4de4-8777-5b88778847dd.png)

**Acceptance criteria**

 * [ ] When an option is added, a filter should be added to the top of the variations list with possible values

[2022-11-30 20:21] #33436 closed, assigned to nobody

[2022-11-30 20:22] joshuatf commented on #35792
@woocommerce/mothra before working on this issue, I think we should verify if there is a way to retrieve filtered variations from the REST endpoints.  While we can filter client-side, pagination will not work as expected if we do this.

I see a `search` option that may or may not work for this case in the [variations endpoint](https://woocommerce.github.io/woocommerce-rest-api-docs/#product-variat

[2022-11-30 20:28] #35697 closed, assigned to joshuatf

[2022-11-30 20:39] joshuatf commented on #35076
Downshift does need to know all the items it's dealing with for accessibility, unfortunately.

If we think this pattern makes sense for all use-cases for the `SelectControl` component then I'm not opposed; let's just make sure it really works for all cases.

Though I'd like us to consider that batching (10 items at a time) and scrolling to trigger more items will be a follow-up to this.  If this a

[2022-11-30 21:21] joelclimbsthings commented on #35299
Closing this as we have no intention currently of acting on it unless further CES modifications are made.

[2022-11-30 21:21] #35299 closed, assigned to nobody

[2022-11-30 21:33] DmPob commented on #25037
Hi!

My client is using "Product Bundle" plugin. And in addition to other existing problems with negative price items we have collided with this one:

- Bundle price is calculated like negative prices =0. So customers see higher price in products list, product's page and price of a bundle in checkout is also higher.
- But in the same time subtotal, total and taxes are calculated in checkout like n

[2022-11-30 21:44] #35604 closed, assigned to nobody

[2022-11-30 22:18] joelclimbsthings commented on #35301
@pmcpinto @jarekmorawski  Feeling a little confused and just wanted to confirm. When I initially looked at these issues regarding the feedback button ([here](https://github.com/woocommerce/woocommerce/issues/35300)) and the spotlight issue (this one), I assumed this was for the new MVP. The screenshot above, though, is _not_ for the MVP but actually the classic product editor.

Also the feedback b

[2022-11-30 22:36] 1000camels commented on #35776
![image](https://user-images.githubusercontent.com/689727/204923005-0b5afc75-2dc2-4e44-9cf8-84bf45b9ff89.png)

[2022-11-30 23:15] sunyatasattva commented on #42523
Alright, that is a nice suggestion, we'll add it in our backlog. I'll edit the title and description of this issue to be more straightforward if you don't mind.

[2022-11-30 23:53] chihsuan commented on #34302
pbIJXs-31S-p2