[2021-08-24 21:41] #30339 closed

[2021-08-24 21:46] barryhughes commented on #30363
Hi @harrypotter30022003,

Thanks for the report...however we're just a little unsure as to what you are describing. Our default bug report template contains the following sections:

* **Describe the bug** → A clear and concise description of what the bug is.
* **Expected behavior** → A clear and concise description of what you expected to happen.
* **Actual behavior** → A clear and concise descrip

[2021-08-24 22:45] zhongruige opened #30569 "Investigate fix for getting release zip for smoke testing"
Getting the release zip is failing in the GitHub Actions workflow, so we need to investigate and fix the issue.

[2021-08-24 22:46] barryhughes opened #30570 "Spike: determine best way to handle historic (removed) tax rates"
Please see https://github.com/woocommerce/woocommerce/issues/30365 for context, but in brief:

* Suppose a tax rate is removed.
* And that an order (that referenced that tax rate) is then updated.
* When saved, the order's `rate_percent` meta data will consequently be set to 0, even though that was not the rate that was actually applied when the order was placed.

In the linked issue, the scenario

[2021-08-24 22:47] barryhughes commented on #30365
Keeping this open, however we will likely [require some research](https://github.com/woocommerce/woocommerce/issues/30570) to find the best solution to the problem.

[2021-08-24 22:52] barryhughes commented on #30401
@Azrideus I also find that if I send `"coupon_lines":[]` (via a PUT request) it works expected, in the sense of removing any applied coupons fro the order.

It's difficult to say why that isn't working in your case. For the time being I am going to close the issue, but don't hesitate to `@ping` me if you find you can replicate even on a clean installation with no other components (other plugins, o

[2021-08-24 22:52] #30401 closed

[2021-08-24 23:04] #30486 closed, assigned to nobody

[2021-08-25 00:45] roykho opened #30572 "Discrepancies between two GH action workflows for building release zip files"
![](https://d.pr/i/nokP74+)

During a release cycle, before the beta is release, a zip file GH action is manually triggered (Build release zip file). This is the one we link to the woo-core-releases channel.

When we cut a release on GH, there is a GH action that automatically runs (Build release asset).

The problem is the end artifact created by each of these two actions do not match. One has mo

[2021-08-25 10:07] DavidAnderson684 commented on #30570
So, the problem comes from the fact that tax info on orders is stored via storing the ID of an entry in the tax rates table - but the tax rates table is a table of current tax rates, not of historic ones. So there's a design error there: should-remain-static _historic_ data is linked to constantly-changing _live_ data.

Removal isn't the only problem; tax rates can change, and if one does, then th

[2021-08-25 10:11] DavidAnderson684 commented on #30570
It is also sub-optimal that an order does not itself indicate what country/state it was assessed for tax in at the time of ordering. This depends upon WooCommerce settings which may change after the order was made (and may be modified by extensions for particular local requirements, e.g. under EU cross-border transaction laws). This presents auditing and accounting issues which have to be solved i

[2021-08-25 11:17] AdsDawson commented on #29657
Hi,

Is there any time frame when this "enhancement" will be rolled out as this is a bug to us and is causing huge problems for our customers - it especially shows up when you are syncing with accountancy software and causes errors across books everywhere.

[2021-08-25 11:30] vedanshujain commented on #30459
This was fixed in #30108 and should be available with WC 5.6

[2021-08-25 11:30] #30459 closed, assigned to nobody

[2021-08-25 11:34] tommusrhodus commented on #30441
Great news!

Thanks @barryhughes, I have an open trac ticket for this issue at https://core.trac.wordpress.org/ticket/53979 and a working patch against ```wp_get_active_and_valid_plugins()``` which resolves this issue.

Forgive my inexperience with WP Core, but I am unsure if I should wait to be invited to submit the patch or not.

[2021-08-25 11:57] vedanshujain commented on #30338
cc @kloon as this seems to be populated by marketing action.

[2021-08-25 13:01] kloon commented on #30338
Hey @vedanshujain, I had a look at the code in question and it seems on the first load it checks if the data was downloaded before outputting it, and if not it schedules a background download via the queue, hence why it is only showing on the second page-load. This is how the code is written so is intended behaviour.

Method in question `WC_Marketplace_Suggestions::get_suggestions_api_data()`

[2021-08-25 13:09] rrennick commented on #30441
If you have a patch for the issue then submit it. Unless something has changed recently, WP core does not normally request patches/fixes from issue reporters.

[2021-08-25 13:16] #30569 closed, assigned to nobody

[2021-08-25 13:47] wl4dig3 commented on #14838
Después de leer varias respuestas. Había una donde apliqué lo siguiente, cambié el idioma Español Chile a solamente Español (ajustes generales), refrésquenles la pagina web y listo, se solucionó así de simple

[2021-08-25 14:13] #30542 closed, assigned to zhongruige

[2021-08-25 14:44] fishblizz commented on #27192
Hi again and @juliaamosova, I've discovered that when there is a maximum of 30 variations, only a variation with a price will be shown. When I add one more variation, all variations shows up in the store, including the onces without a price.

[2021-08-25 14:50] #29388 closed

[2021-08-25 15:11] NomanTee commented on #29465
Hi
Same issue. When is this likely to be resolved?

[2021-08-25 15:17] rodelgc commented on #28486
Create a project thread for this.

[2021-08-25 16:24] gglobalstep opened #30575 "[GlobalStep] Uploaded images fail to display while adding as a downloadable file to a downloadable product."
## Bug Description:
Uploaded images fail to display on media editor pop up and Media library screen while adding as a downloadable file to a downloadable product.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 Beta-1
WordPress version: v5.8

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site us

[2021-08-25 16:29] gglobalstep opened #30576 "[GlobalStep] "PHP Error" triggered upon visiting to "WooCommerce-> Home" screen."
## Bug Description:
"PHP Error" triggered upon visiting to "WooCommerce-> Home" screen after updating WooCommerce to 5.7 beta using WooCommerce beta tester plugin.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 Beta-1
WordPress version: v5.8

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site u

[2021-08-25 16:35] rodelgc commented on #30575
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end in an Atomic Ephemeral site.

<img width="1535" alt="Screen Shot 2021-08-26 at 12 38 54 AM" src="https://user-images.githubusercontent.com/4509348/130831516-c8f5d821-b254-40c0-907e-bcf5481949c7.png">

After creating the product, and going to the Media Library, the image

[2021-08-25 17:40] rrennick opened #30577 "Update `waitFor` calls to `waitForSelectorWithoutThrow`"
The Puppeteer `waitFor` function is deprecated. Recent versions of Puppeteer log a deprecated warning:

[code]

The core test use quite a few `waitFor()` calls to allow processing time. These should all be replaceable with `waitForSelectorWithoutThrow()`.

[2021-08-25 18:03] barryhughes commented on #29657
We don't have a timeline for this just yet.

Thanks for leaving the comment, though, as knowing that others would benefit is potentially useful information that will help us to prioritize it. If others are similarly keen on seeing this change, do feel free to leave an emoji reaction (you don't necessarily have to leave a comment, unless you wish to add an observation about expectations or a use-ca

[2021-08-25 18:44] rodelgc commented on #30575
Upon further testing, I noticed that this bug only happens on JN and Atomic Ephemeral sites, but not on any of the hosted test sites.

[2021-08-25 19:51] PaulodoPorto opened #30579 ""Table does not exist - Woo 5.6.0" # False Positive in System Status"
Gentlemen,
just to let the situation reported again. Today 08/25/21, I upgraded from version **5.5.2** to version **5.6.0.**

I also needed to update the database and plus 2 template files. And unfortunately I'm facing the same situation on the website on Localhost.

I use XAMPP Server and everything is fine with the server.
I access the admin panel with a Admin Account.

I don`t have any error me

[2021-08-25 21:04] zhongruige opened #30580 "Add more tests around variations being saved"
We want to add more tests around variations being saved in `tests/e2e/core-tests/specs/merchant/wp-admin-product-new.test.js`.

See: https://github.com/woocommerce/woocommerce/pull/30558/files#diff-9072d67ba7851c150ebc42993163eb0d1fcc2ebb4c1ee6a7e0c0b7e8cafa551fR224

[2021-08-25 21:09] zhongruige opened #30581 "Investigate e2e test failure around Analytics pages › should allow a user to add a section back in"
We've seen some failures around `Analytics pages › should allow a user to add a section back in` where it throws a `ode is either not visible or not an HTMLElement` error. Screenshots are showing that the element clicked in the test is visible, so we need to investigate a bit more into this.

Some initial results from @rrennick indicates that this could be due to differences between the Chromium v

[2021-08-26 03:39] LevinMedia opened #32239 "Improving the WooCommerce Admin search component"
This problem was originally noted in a WooCommerce payments issue

https://github.com/Automattic/woocommerce-payments/issues/2269

However, the problem lies with the underlying search component component. This component is used through out the analytics experience, as well as through out the merchant dashboard of WooCommerce Payments.

**Problems with the current UX**

The search component support

[2021-08-26 06:39] fredlim commented on #28419
When enabling Gutenberg with use_block_editor_for_post_type filter, the content in wysiwyg editor in Product short description cannot be display or edit. I check the Product short description section in developer console, head and body of the Visual editor is empty, but html content can be edit in Text editor.

Is that by design or a bug?

[2021-08-26 07:58] neilgee commented on #20336
@paulpullen Thanks for the code, I added as plugin and functions.php but get a critical error...

Fatal error: Uncaught Error: Call to a member function get_topic() on null in /Users/neilg/Sites/wp57/wp-content/themes/wp57/functions.php:288 Stack trace: #0 /Users/neilg/Sites/wp57/wp-includes/class-wp-hook.php(303): {closure}(Array) #1 /Users/neilg/Sites/wp57/wp-includes/plugin.php(189): WP_Hook->a

[2021-08-26 09:44] rodelgc commented on #30576
Hi @gglobalstep,

Thank you very much for logging this issue. I tried recreating this issue using the new beta package released yesterday, and I don't see the PHP error anymore on a fresh new JN site with only Query Monitor and WC 5.7 beta installed.

<img width="1355" alt="Screen Shot 2021-08-26 at 5 48 32 PM" src="https://user-images.githubusercontent.com/4509348/130942007-b8382f71-67b6-482c-b0e

[2021-08-26 09:44] #30576 closed, assigned to nobody

[2021-08-26 10:42] rodelgc commented on #30557
Hi @gglobalstep,

Thank you very much for logging the issue. I noticed that the error message you encountered had something to do with the plugin "MailPoet". However, I still couldn't replicate the issue when I tried it in a different Atomic site that has all the extensions suggested in the onboarding wizard (including MailPoet).

<img width="1379" alt="Screen Shot 2021-08-26 at 6 12 39 PM" src="h

[2021-08-26 13:43] juliaamosova commented on #30441
I see that this had been highlighted for our internal documentation team for the change to be made in [Check if WooCommerce is active](https://docs.woocommerce.com/document/create-a-plugin/#section-1). Internal reference: pbDlC7-mb-p2.

With the above said, I am going to close this ticket. Thanks again for opening it @tommusrhodus!

[2021-08-26 13:48] juliaamosova commented on #30549
Hi @shommey,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-08-26 13:53] juliaamosova commented on #30550
Hi @79ho3ein,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2021-08-26 13:53] #30550 closed, assigned to nobody

[2021-08-26 13:56] juliaamosova commented on #30552
Hi @nik728,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lackin

[2021-08-26 13:58] juliaamosova commented on #30553
Hi @Melebius,

Thank you for opening this issue and submitting PR! Since there is a Pull Request already in place, I will leave it up to the PR reviewer to look at this issue further.

[2021-08-26 14:03] juliaamosova commented on #30554
Hi @glaucogfs,

Thank you for submitting the issue!

Please note that we reply to bug reports in the English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

Title translation:

Body of the issue translation:

When I try to update the installed version 5.5.1 to version 5.6.0, go into maintenance and

[2021-08-26 14:10] juliaamosova commented on #30562
Hi @Yrerix,

Thank you for submitting the issue!

Are you trying out WooCommerce for the first time or on a new site? Note that with WooCommerce 5.5 and above, PayPal Standard which is included in WooCommerce core will not be loaded by default.

You can read about it in more detail and learn about the alternative options available in [Developer Advisory: PayPal standard will be hidden on new insta

[2021-08-26 14:26] juliaamosova commented on #30579
Hi @PaulodoPorto,

I am not a gentleman but I am happy to reply.

We need a bit more information here in order to look into it further:

- How are you updating the plugin? Do you use an update available prompt in the plugins section? Manually?
- How do you update the database? Do you click on the button on the notice to update the database?
- How do you update 2 template files? Which files?

Detai

[2021-08-26 14:47] juliaamosova commented on #30551
Hi @JakeQZ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6.

I am not seeing in either email (to the admin and to the customer) what data is not included exactly?

Here is how my Order page looks like on the site:

![1](https://user-images.githubusercontent.com/19143190/130984396-0b1

[2021-08-26 15:34] octaedro commented on #32241
It seems like this is an [old issue](https://github.com/woocommerce/woocommerce-admin/issues/7264) that hasn't been solved. [This issue](https://github.com/woocommerce/woocommerce-admin/issues/7561), created recently, gathers more information about the context where the bug is happening.

[2021-08-26 16:54] gglobalstep opened #30588 "[GlobalStep] "No Results found" message fails to display on "WooCommerce-> Marketplace" screen."
## Bug Description:
"No Result Found" message fails to display when user search invalid data in search field on "WooCommerce-> Marketplace" screen.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 Beta-1
WordPress version: v5.8

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1.

[2021-08-26 17:05] Maskari2 commented on #20336
Hi @neilgee, in the last line of the code, Try replacing the number "3" with your webhook ID. then test again if it works.

This is the code I am referring to:

` set_resource_for_webhook_payload_by_webhook_id(3, 'order');`

**You will find your webhook ID mentioned in Woocommerce>settings>advanced>webhooks**

[2021-08-26 17:28] tijosh opened #30589 "Shipping tax class based on cart items: add option to average the rate of cart items"
When `Shipping Tax Class` is set to `Shipping tax class based on cart items`, the [Standard rate or first custom rate is used](https://docs.woocommerce.com/document/setting-up-taxes-in-woocommerce/#shipping-tax-class) as the Shipping Tax rate. This presents challenges if the cart contains items with multiple tax classes—some legislative jurisdictions, such as [Netherlands](https://www.belastingdie

[2021-08-26 19:25] melek commented on #30154
Encountered in 4249657-zen.

I wonder if this might have to do with misconfigured IPN, as this user has a `example.com` receiver email:
![image](https://user-images.githubusercontent.com/220149/131023714-56d2ab3d-76be-4b7d-9529-2c831f4ee0da.png)

Not sure how the Order details screen would be triggered before the downloadable product would be added to the account due to IPN failing, but I will tro

[2021-08-26 19:54] elizaan36 commented on #32239
Really nice solution, @LevinMedia ! Thanks for bringing this up, this would be a definite win.

[2021-08-26 20:27] zhongruige commented on #30223
Closing this for now. We've been running tests against WordPress 5.8 and they seem to be passing. We can revisit individual tests as needed in the future.

<img width="369" alt="Screen Shot 2021-08-26 at 14 26 47" src="https://user-images.githubusercontent.com/71906536/131031393-6aa0b798-dab0-4965-8c31-35d47a2e836d.png">

[2021-08-26 22:06] jonathansadowski commented on #30402
Hi @gioamista,

Thank you for your suggestion. We don't have any plans at this time to update the add to cart button to make the class name filterable. As you've pointed out, you can edit the template or target the existing css in order to style the button.

[2021-08-26 22:08] jonathansadowski commented on #30402
Internal discussion: p1630011701003100-slack-C0E1AV8T0

[2021-08-26 22:13] jonathansadowski commented on #30427
Hi @opicron,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2021-08-26 22:14] jonathansadowski commented on #30427
Internal discussion: p1630011985005500-slack-C0E1AV8T0

[2021-08-26 22:15] jonathansadowski commented on #30455
Hi @Stas0238,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-08-26 22:20] jonathansadowski commented on #30431
Hi @AmirHosseinKarimi,

Thanks for pointing out the confusion caused by the documentation. We'll update the PHPDoc to indicate that the return type can be either a string or a float.

One of the reasons that we're not able to do a version check in this case for compatibility is that extensions that support older versions of WooCommerce still need to know what type to expect for the response to the

[2021-08-26 22:29] CodeConnectPtyLtd opened #30592 ""Personalize My Store" deletes saved theme customizer database entry."
**Prerequisites (mark completed items with an [x]):**
- [ x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Hi Team,

I encountered an issue in WooCommerce 5.6.0, Word

[2021-08-26 22:33] neilgee commented on #20336
@Maskari2 perfect thanks!

[2021-08-26 22:35] jonathansadowski commented on #30436
Hi @AmeenJalali,

What inaccuracies are you seeing when calculating the subtotal within the existing filter? You should be able to sum the subtotals for each item and dynamically update the coupon amount based on that, you may just have to account for whether or not prices are inclusive of tax, and use `get_subtotal()` or `get_subtotal_tax()` as appropriate.

[2021-08-26 22:35] jonathansadowski commented on #30436
Internal discussion: p1630013301017200-slack-C0E1AV8T0

[2021-08-26 23:50] JakeQZ commented on #30551
Hi @juliaamosova,

Thanks for looking into this.

The structured data is machine-readable data embedded in the HTML email that is not visible when the email is rendered on a display device for humans.  (It is commonly used on web pages for SEO, but I guess could be used by automated email order processing systems - perhaps not that widely in WooCommerce deployments or someone would have noticed so

[2021-08-27 00:02] JakeQZ commented on #30551
https://github.com/woocommerce/woocommerce/commit/6612d1f8599be30d73b5a135ab755342078a481f appears to have introduced this issue.

[2021-08-27 00:09] JakeQZ commented on #30551
Also, you should probably be using the `CssInliner` class from Emogrifier instead of the `Emogrifier` class which was deprecated in version 3.0 (and removed in 4.0), though would probably also need to deprecate and replace the `'woocommerce_emogrifier'` action, perhaps wrapping with `has_action()`.

[2021-08-27 07:15] san-coding commented on #30556
Hey, I am new to open source, can I work on this issue ?

[2021-08-27 07:20] san-coding commented on #30556
@gglobalstep @zhongruige does it happen only after updating status of first order ?  or does it happen for all the orders ?

[2021-08-27 07:29] san-coding commented on #30556
[includes/admin/meta-boxes/class-wc-meta-box-order-actions.php](https://github.com/woocommerce/woocommerce/blob/b19500728b4b292562afb65eb3a0c0f50d5859de/includes/admin/meta-boxes/class-wc-meta-box-order-actions.php)
should I make changes in this file ? I am new to open source , please help me out

[2021-08-27 07:30] san-coding commented on #30527
Hey , I am new to open source, can I work on this issue ?

[2021-08-27 07:35] san-coding commented on #30527
I tried searching the repository to edit the css file, but couldn't find it, could you help me out @vedanshujain , I an new to OSS

[2021-08-27 07:38] san-coding commented on #30400
Hey, is this issue still open, I am new to open source and would like to contribute , please help me out

[2021-08-27 07:41] san-coding commented on #30337
Hey, Is this issue still open, I am new to open source , can I work on this issue ?

[2021-08-27 07:47] san-coding commented on #30337
Should I add your suggestions below these lines
https://github.com/woocommerce/storefront/blob/8b5e6a7c342ac584f35ddb3ffb59e9fefe16e7dc/assets/css/base/icons.scss#L34-L46

[2021-08-27 07:48] san-coding commented on #30588
Hey, I an new to open source, can I work on this issue ?

[2021-08-27 09:51] Konamiman commented on #30553
Hi. The linked PR makes sense, we're going to review it soon and incorporate the change in a future release of WooCommerce.

I'd also like to point out, in case it's useful, that the `woocommerce_register_post_type_product` filter can be used to change (or remove) the products page description.

[2021-08-27 10:03] Hexaae opened #30593 "woocommerce-result-count: can't translate "<n> results" string after search"
I’ve searched with Loco Translate in  WooCommerce plugin and everywhere else but can’t find the string to localize “<n> results” (class woocommerce-result-count ) after you search for products:

![image](https://user-images.githubusercontent.com/8591462/131109998-be2023ce-47b2-407e-8467-2f2bb4993d46.png)

Can’t be localized? Wanted to translate it in Ita = risultati

[2021-08-27 10:30] Hexaae commented on #30593
ATM as a workaround I've had to edit "woocommerce/loop/result-count.php" strings...

[2021-08-27 12:13] AashikP commented on #30449
Hello @saeedmodarresi

Thank you for getting back to us with the screencast. I can't replicate the behavior on my test site as well, though: https://d.pr/i/AhE0Lk

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service G

[2021-08-27 12:13] #30449 closed, assigned to nobody

[2021-08-27 13:48] roykho commented on #30575
I've investigated this issue a bit today and found that the issue is because some hosting/server has `.htaccess` with `deny from all` added to the `woocommerce_uploads` directory. This is what is preventing the image from showing.

We will discuss with the core team to see how we can get around this issue.

[2021-08-27 14:17] ventsislaf opened #30594 "REST API keys are not saved because API key label can be too long"
**Issue:**

We have an app where we request our customers to authorize our application in order to use the WooCommerce REST API. In many cases the API keys we got after the authorization were not valid. After some investigation we found out that the API keys are not persisted at all in the Wordpress database during the authorization step.

We don't have an access to the codebase of our customers b

[2021-08-27 14:21] zhongruige commented on #30337
Hi @san-coding!

Thank you for your interest in this issue and https://github.com/woocommerce/woocommerce/issues/30556. I'll answer about contributing here. You're welcome to work on this issue. We have some contributor guidelines, which are worth a read first. They can be found here: https://github.com/woocommerce/woocommerce/blob/trunk/.github/CONTRIBUTING.md Then, you're welcome to open a PR wi

[2021-08-27 14:21] zhongruige commented on #30556
Hi @san-coding!

Thank you for your interest in this issue.

That is correct, however, the behavior is inconsistent and so far we have seen cases where it works fine. If it is something you're able to reproduce and find a fix for, you're very welcome to open a PR with those changes.

[2021-08-27 14:41] jonathansadowski commented on #30400
Hi @san-coding,

Thanks for your willingness to contribute, if you'd like to submit a PR for this issue, you can take a look at our [contributor guidelines](https://github.com/woocommerce/woocommerce/blob/trunk/.github/CONTRIBUTING.md), which contain info oh how to setup an environment, submit a PR, and other information about contributing to WooCommerce.

[2021-08-27 16:06] san-coding commented on #30337
Thank you @zhongruige , I have read the guidelines, could you tell me where have I to add your suggestions

[2021-08-27 16:08] san-coding commented on #30556
Ok , thanks @zhongruige I will try to reproduce

[2021-08-27 16:10] san-coding commented on #30400
Thank you @jonathansadowski , I have gone through the guidelines, what do you suggest can be done to resolve the issue ?

[2021-08-27 16:23] jonathansadowski commented on #30400
@san-coding it looks like in [these places](https://github.com/woocommerce/woocommerce/search?q=class%3D%22refunded%22), we assume that the value from `$order->get_total_refunded_for_item` is always going to be positive. We therefore hard-code the minus symbol (`-`) in each echo statement. Instead, we probably just want to negate the value we receive from `$order->get_total_refunded_for_item`, suc

[2021-08-27 16:40] Hexaae commented on #30593
Never mind. Looks like it was a custom theme issue using it's own.

[2021-08-27 16:40] #30593 closed, assigned to nobody

[2021-08-27 17:11] harrybruns commented on #26054
For the system to purge the customers, you must delete all associated orders.  It's not enough to put orders in the trash, you have to delete them permanently.  As long as deleted orders remain in the trash, the customer records will remain too.  Delete permanently from the trash and customers get flushed out.

[2021-08-27 18:01] #30553 closed, assigned to nobody

[2021-08-27 22:26] jmslbam opened #30598 "flot.resize.js triggers erros when calling on window resize eventlistener"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
This 3rd party dependency contains "on resize" logic to monitor if a element is changed.
https://github.com/woocommerce/woocommerce/blob/trunk/a

[2021-08-27 23:23] mouligreenlaw opened #30599 "Use Store base address, city and zipcode to determine default shipping zone"
**Is your feature request related to a problem? Please describe.**
4251576-zen
The user wants to display a default shipping method based on the stores base address, and a Local shipping zone.
However, it appears that WooCommerce only considers the Country and State from the stores base address are considered. This causes the wrong shipping zone to be selected by default, because city and zipcode a

[2021-08-28 05:12] san-coding commented on #30400
Ok , thanks, I will look into it and submit a PR soon

[2021-08-28 08:52] zdenys opened #30600 "Marketplace/Extensions: Improve the design of the extensions cards by adding titles and/or increasing the image sizes for the text in them to be readable"
**Is your feature request related to a problem? Please describe.**

Currently, the cards shown for all extensions in WooCommerce > Marketplace/Extensions sections have:

- Very tiny images
- No titles

For example, if I search for PayPal, it's really hard for me to see if I'm looking at the right extension or not and recognize it from the list. Images are so tiny, and having no titles doesn't help

[2021-08-28 16:56] PaulodoPorto commented on #30579
Hello @juliaamosova , Thank you so much for reply and i'm sorry for the late answer!
Here we go!

-     How are you updating the plugin? Do you use an update available prompt in the plugins section? Manually?
       A: Yes, I do the update often manually. I download the compacted folder on woocommerce directory/release on Github.
       I extract the folder inside my directory: C:\xampppserver2\ht

[2021-08-28 17:19] krunshy-sys opened #30601 "I cannot see my alternativ text anymore on my image options on my product page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-08-29 05:18] fishblizz commented on #27192
Hi again, is there I way I can help to contribute, by testing, knowledge or with finance to resolve this issue?

I would love to see this fixed so I can make a store with a materials and a dozen sizes for prints.

[2021-08-29 05:38] tiendungdev commented on #27419
still not working v5.6

[2021-08-29 10:12] simplysaru commented on #30515
Hi @mattmary,

We aren't able to replicate this issue at all. I tested this with WooCommerce 5.6.0 and 2021 theme and the address page looks as expected.
<img width="1604" alt="Markup 2021-08-29 at 15 39 13" src="https://user-images.githubusercontent.com/2734132/131246766-d6f3fd3b-c966-4758-b3e4-00e99e88d3e5.png"> Could you try to replicate this with the same setup after updating to the latest ver

[2021-08-29 10:25] simplysaru commented on #30579
Hi @PaulodoPorto,

Could you clarify on why you are updating this manually? Are you running into errors with the auto-updates in WordPress plugin dashboard?

I updated from WooCommerce 5.5.2 to WooCommerce 5.6.0 from the plugins page dashboard and I didn't encounter any errors. I also updated via the manual method by unzipping it into the plugin folder, which also didn't create any errors for me.

[2021-08-29 10:34] mahevo commented on #25722
We also face this problem and found an easy solution using Actionscheduler. Just create a custom trigger to execute the hook, for example running once an hour:
[code]

[2021-08-29 10:48] simplysaru commented on #30232
Hi @gglobalstep,

I tested this on Chrome and Firefox and am not able to replicate it on my end. All of my testings has been on a local environment and not Jurassic Ninja. Could you try this in a local environment instead?

https://user-images.githubusercontent.com/2734132/131247668-9ef118dd-0814-4cc1-aa87-28ff381b377d.mov

[2021-08-29 11:04] san-coding commented on #30400
@jonathansadowski shall I just multiply the return value with -1? , I think it would solve the issue

[2021-08-29 11:06] san-coding commented on #30400
@jonathansadowski , replacing  `$order->get_total_refunded_for_item` with `-1 * $order->get_total_refunded_for_item` should solve the issue right ?

[2021-08-29 11:08] san-coding commented on #30400
@jonathansadowski  But I don't understand why you would allow products with negative price to be entered?

[2021-08-29 11:14] simplysaru commented on #30006
Hi @azygis,

Are we able to reproduce this without the WooCommerce Product Bundles plugin? Are you able to share the steps for that?

[2021-08-29 14:49] matpandino commented on #27194
+1

[2021-08-29 14:52] matpandino commented on #23316
It does not work anymore with woocommerce 5

[2021-08-29 15:25] san-coding commented on #30337
This issue is duplicate of (https://github.com/woocommerce/storefront/issues/1745) and has been already fixed and closed

[2021-08-29 16:23] donjajo opened #30603 "Passing order item ID to WC_Order_Item loads WC_Order instead and throws an invalid order error"
It seems there is no function to get order item by id. I have googled so far, but I found nothing.
I have the order item id, but to load it up and get other data related to it, I had to do:
[code]
Which throws the error:

Meanwhile, this should be calling the `WC_Order_Item_Data_Store` class instead, not `WC_Order_Data_Store_CPT`

If I pass an order id to `WC_Order_Item`, it loads up the `WC_Order

[2021-08-30 03:38] AashikP commented on #29519
Hello @glagonikas

Thank you for getting back to us with clarification on that, we really appreciate your help. I can reproduce it on my end.

I tried to replicate this behavior on my test site, where the customer attempts to pay via PayPal and then does not proceed with the payment (I closed the PayPal/Checkout page when I was redirected).

This resulted in an order with no order notes:

![https:

[2021-08-30 03:47] mattmary commented on #30515
Hi @simplysaru

On my side with woocoommerce 5.6 it still happens.

[2021-08-30 09:09] renovate[bot] opened #32238 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] Update shivammathur/setup-php action to v2.17.1
 - [ ] Update styfle/cancel-workflow-action action to v0.9.1
 - [ ] Update Node.js to v16
 - [ ]

[2021-08-30 09:14] renovate[bot] opened #42665 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] Lock file maintenance

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force

[2021-08-30 09:16] donjajo commented on #30603
The final solution for me was setting a default type in `WC_Order_Item::get_type()` to `line_item`

[2021-08-30 09:35] PontusTideman commented on #9320
Tried to remove the VAT today on a manually order, without pressing the recalculate button WooCommerce multiplied EACH item by 10 in the order...

Because we are shipping to other countries outside EU, we can't charge them VAT on the shipping. But when you remove the VAT from the shipping line and then save the order, WC is freaking out and multiplies the items price by 10!!

[2021-08-30 10:35] PaulodoPorto commented on #30579
Hello @simplysaru ,
Could you clarify on why you are updating this manually? Are you running into errors with the auto-updates in WordPress plugin dashboard?
**A: I don't' use auto-updates in Wordpress. I need to control what's happening during the update process.**
And yes, the error on Woocommerce status session persist.

[2021-08-30 14:18] rrennick commented on #32248
Removed the stale.

[2021-08-30 15:29] gglobalstep opened #30604 "[GlobalStep] PHP error gets triggered upon creating/editing a product when "Google listing and ads" plugin is active."
## Bug Description:
PHP error gets triggered upon creating/editing a product when "Google listing and ads" plugin is active.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 RC 1
WordPress version: v5.8

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all

[2021-08-30 16:09] vedanshujain commented on #30572
The first one is from automatic workflow, and the second one is from manually triggering the workflow.

This was discussed internally and the following flow was suggested:
1. Publish beta.1 on the day of code freeze itself on Github, no need to push this one to wordpress.org. Send the beta.1 package for testing.
2. If there are no issues, then push beta.1 on wordpress.org on tuesday.
3. If there a

[2021-08-30 16:24] vedanshujain commented on #30575
We discussed this internally, and unfortunately, for now, we decided to not display the product image in the gallery as that could be a security issue. A proper way would be to add a download link in the product page itself so that only users who have access to view the product are the only ones who can view the image.

[2021-08-30 16:27] vedanshujain commented on #30575
We can also evaluate [WP's image proxy](https://developer.wordpress.org/reference/functions/stream_preview_image/) to see if we can do auth check before displaying previews in gallery.

[2021-08-30 17:01] vedanshujain commented on #30549
Thanks for the suggestion, we added a document change request to the team, but it could take a while before they accept the request. Closing the issue for now.

[2021-08-30 17:01] #30549 closed, assigned to nobody

[2021-08-30 18:53] billrobbins opened #30607 "Opening a select2 drop-down no longer places the cursor in the "search" field."
**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When tabbing into a select2 drop-down or clicking on it, the cursor is no longer placed in the "search" field by default.

**Expected behavior**

[2021-08-30 19:33] barryhughes commented on #30477
Thanks for the report and discussion!

This was discussed today and we're in agreement—and, to that end, we'll close this issue.

[2021-08-30 19:33] #30477 closed, assigned to nobody

[2021-08-30 19:41] barryhughes commented on #30452
It sounds like you've already found the [`woocommerce_maxmind_geolocation_database_path`](https://github.com/woocommerce/woocommerce/blob/5.6.0/includes/integrations/maxmind-geolocation/class-wc-integration-maxmind-database-service.php#L78) filter—which should be a suitable way of modifying the filename (which is after all just the final component of the path).

With that in mind we'll go ahead an

[2021-08-30 19:41] #30452 closed, assigned to nobody

[2021-08-30 19:42] #30489 closed, assigned to nobody

[2021-08-30 19:51] barryhughes commented on #30453
Hi @erikdemarco—thanks for flagging this.

I think that's fine as a "rule of thumb", but really it's something that needs to be assessed on a case-by-case basis: not only the case of the individual scheduled event, but the case of what the plugin is trying to achieve in general. Remember that WooCommerce facilitates ecommerce: there are times that a delay of 15 minutes may be unacceptable to a mer

[2021-08-30 21:02] barryhughes commented on #30476
@ignitebhdeveloper—we may need some more detail in order to replicate this. Can you provide some specifics about your shipping rules and any shipping extensions you are using?

In my own testing, I add the snippet you provided (adjusting the product ID, of course) along with a simple product (weight: 0.1kg) and I use the [Table Rate Shipping](https://woocommerce.com/products/table-rate-shipping/)

[2021-08-30 21:16] barryhughes commented on #30489
Agreed!

Adding a validation message along the lines of, _"You have enabled selling to specific countries, but still need to specify one or more countries!"_ Would be helpful.

Worth noting, we discussed this but don't want to change how things actually work under these conditions, for backwards compatibility reasons (we believe there are merchants/developers who use this logic as the basis of the

[2021-08-30 21:19] barryhughes commented on #30482
Thanks for flagging!

Seems like this may be a remnant of [this change](https://github.com/woocommerce/woocommerce/commit/2c1c9896c5e5cdc8223c2ef253c188520b3e074c) and we simply forgot to clean this part up. Removing it—that is, removing the `remove_variation` (singular) entry from the list of ajax events—should be safe to do.

[2021-08-30 21:37] barryhughes commented on #30494
Thanks for flagging this :-)

We will close, though, for the following reasons:

* It is already possible to customize this and replace the default icons, as you noted, and though improving aesthetics can be important:
    * Shipping a set of logos that meets every taste and preference would be hard.
    * Though the lack of transparent backgrounds may on the one hand be vexing, it also guarantees

[2021-08-31 00:30] diegosomar opened #30610 "Chosen shipping disappeared after registration"
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
A guest user select a product, add to cart and in the cart page, calculate and choose shipping method.
Then, before checkout, the guest user goes to MY ACCOUNT page, creates an account and the previ

[2021-08-31 03:25] AashikP commented on #29756
@sanzeeb3 Thanks again for the screen recording. Interestingly, I could replicate this behavior on a different test site:

![https://d.pr/i/McT91v+](https://d.pr/i/McT91v+)

When the City and Zipcode fields were automatically filled, the country wasn't.

I'm wondering if this is because the field accepts entries in Country / State / Region format and the browser isn't able to recognize the way it

[2021-08-31 06:32] zdenys commented on #30600
Shared thoughts: p6JqRr-4f6-p2#comment-12034

[2021-08-31 06:41] solstudioim commented on #32241
I have a user reporting the same issue in 30906156-HC, screenshot: https://d.pr/i/ss17a8

[2021-08-31 07:21] madnanbashir commented on #29884
Same issue happening here. Need a solution

[2021-08-31 10:27] azygis commented on #30006
I can't really think of a way to reproduce it without the plugin, sorry. When the product is not visible on the store page, we can't add it to the cart properly instead of hacking via code. The plugin allows us to hide items from store and still purchase them in a form of product bundle.

[2021-08-31 11:42] mikejolley opened #30612 "Pass value of the `woocommerce_hold_stock_minutes` setting to `reserve_stock_for_order`"
[The `reserve_stock_for_order` function seen here](https://github.com/woocommerce/woocommerce/blob/b19500728b4b292562afb65eb3a0c0f50d5859de/src/Checkout/Helpers/ReserveStock.php#L66-L67) can be unpredictable if `$minutes` are not provided, because it uses the `woocommerce_hold_stock_minutes` setting. Someone using this function may incorrectly assume the default is `60` when in fact it's based on

[2021-08-31 12:01] andfinally commented on #30600
Thanks Denys, I absolutely agree about this issue. As discussed on the project thread, we're updating the product card in WooCommerce 5.7 to have a clearly visible title, and we'll soon be adding an "app icon" which will hopefully make it much easier to find the extension you're after. Below is the design we're working towards. I'll close this issue for now – please reopen if you find the changes

[2021-08-31 12:01] #30600 closed, assigned to nobody

[2021-08-31 12:08] simplysaru opened #30613 "Manual Order Search for product isn't accessible via keyboard, but everything else works."
User came on live chat to report this. I'm able to replicate it on my end as well. The user mentioned that this used to work until April 2021, but they aren't sure on which version it worked. I tested this from 5.6.0 until 4.9.0 but could replicate the issue even until 4.9.0.

**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have

[2021-08-31 14:04] roykho commented on #30613
Hi @simplysaru - thanks for reporting however there is already an existing report of this issue here https://github.com/woocommerce/woocommerce/issues/30607 So I will be closing this one.

[2021-08-31 14:04] #30613 closed, assigned to nobody

[2021-08-31 16:07] zhongruige opened #30614 "Run smoke tests against external host based on label"
We want to add a workflow that runs the e2e test suite against a particular host. We can create a workflow that has something like this:

[code]

[2021-08-31 16:10] zhongruige opened #30615 "Output results from running e2e tests on external site to a comment on a PR"
Once work on https://github.com/woocommerce/woocommerce/issues/30614 is completed, we want to look at how we can output the results into a comment on the PR.

[2021-08-31 16:10] jonathansadowski commented on #30299
Hi @daizyDalisay and @llampwall,

It looks like if you omit the total from the individual `line_items`, that the price is pulled from the item, and that taxes are handled appropriately. Could you give that a try and let me know if that works for you?

[2021-08-31 16:17] jonathansadowski commented on #30268
Hi @ouun,

You should be able to filter this value using the `woocommerce_before_customer_download_log_object_save` hook. Before the log is saved, you can filter the value as needed. I'm going to close this issue, as that hook should provide what you're asking for, but please let me know if there's something I've missed.

[2021-08-31 16:17] #30268 closed

[2021-08-31 16:20] rrennick commented on #26189
Closing this as there have been no new reports of this occurring.

[2021-08-31 16:20] #26189 closed

[2021-08-31 16:22] jonathansadowski commented on #30095
Hi @corend,

Thanks for opening this issue! I wasn't able to reproduce the locking that you're reporting. It also looks like the locking that's occurring is of the WordPress options table, and not of anything specific to WooCommerce. Are you still experiencing this locking? Does it still occur with all other plugins deactivated? If you, are there any steps that you take that could help us try to r

[2021-08-31 16:30] jonathansadowski commented on #30133
Hi @oblaum,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help further

[2021-08-31 16:31] rrennick commented on #30115
This issue has been intermittently occurring because the `last_updated` field WP 5.8.0 tag in docker hub api has been bumped several times since WP 5.8 was released. In the past, once released that timestamp was not updated.

The E2E package has a built in 12 hour delay to accommodate the api being updated with a new release before the archive is available for download.

Closing this as https://gi

[2021-08-31 16:31] #30115 closed

[2021-08-31 16:42] jonathansadowski commented on #30496
Hi @mttindustries,

Thanks for opening the issue. I'm also adding a plus one to @lkraav's comment. While it used to be possible to add a variation to the cart with javascript disabled, this actually led to issues, as the correct variation wasn't selected. We won't be able to fix this issue. While it may be possible to accomplish this with custom code, it's not anything that we'll be able to provid

[2021-08-31 16:42] #30496 closed, assigned to nobody

[2021-08-31 18:31] rodelgc commented on #30588
Hi @gglobalstep,

Thank you for opening the issue! It requires further feedback from the WooCommerce Marketplace team.

@andfinally is there a requirement to display a "No results found" message in an empty search? Thanks!

[2021-08-31 18:38] maddentim commented on #29884
I am seeing the patch included in the Woocommerce 5.6.0 release. If you upgrade to it, you should be good to go. If you can upgrade for some reason, there is a patch in this thread that you could manually apply...

[2021-08-31 21:05] billrobbins opened #30618 "Refunding orders results in incorrect stock adjustments"
**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Refunding an order with the "Restock refunded items" option does not work completely.  The stock level is adjusted correctly initially.  After u

[2021-08-31 22:41] zhongruige commented on #30615
This could be a good chance to revisit https://github.com/woocommerce/woocommerce/issues/29830 as a possible solution for this.

[2021-09-01 01:30] galbaras commented on #30494
I have contacted PayPal Merchant Support and they advise that the current official logos (for Australia) are those shown on https://www.paypal.com/au/webapps/mpp/logos-buttons. These look sharp & modern, and some of them also have transparent background.

Other countries seem to have their logos on https://www.paypal.com/CC/webapps/mpp/logo-center, where "CC" is the country code, e.g. "us" or "in"

[2021-09-01 02:37] dphyled opened #30619 "Product Export Sort/Group Options for Variable Products and Variations"
**Is your feature request related to a problem? Please describe.**
By default, when exporting products/variations, they will export sorted by product ID.

In the case of Variable Products, if the variations were generated (or deleted, and re-generated) after other products were added/imported, then the variations will have an ID that skips over several other IDs, resulting in the parent product an

[2021-09-01 05:18] simplysaru commented on #30618
I'm able to replicate this issue on my default WooCommerce setup as well. Here is a screenshot from when I did a quick test yesterday.
<img width="1843" alt="Markup 2021-08-31 at 18 16 39" src="https://user-images.githubusercontent.com/2734132/131615971-eecd54f2-3666-49a1-aa8b-0a57b735b53e.png">

[2021-09-01 09:12] rodelgc commented on #30589
Hi @tijosh,

Thank you for taking the time to share this idea, we really appreciate your help.

Although we won’t be able to tackle it in the upcoming weeks, we’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-09-01 09:16] rodelgc commented on #30594
Hi @ventsislaf,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-01 09:19] rodelgc commented on #30598
Hi @jmslbam,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-01 09:24] rodelgc commented on #30599
Hi @mouligreenlaw,

Thank you for taking the time to share this idea, we really appreciate your help.

While we won’t be able to tackle it in the upcoming weeks., we’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-09-01 09:31] rodelgc commented on #30601
Hi @krunshy-sys,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2021-09-01 09:34] rodelgc commented on #30603
Hi @donjajo ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-01 09:47] rodelgc commented on #30607
Hi @billrobbins ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I couldn't access the input field for the next product via keyboard.

https://user-images.githubusercontent.com/4509348/131650366-4aa2ea00-ffe2-4338-a7a8-9045f7e007d7.mov

Priority of this issue will be assigned shortly after we'd go through a round of prioritization.

[2021-09-01 09:53] rodelgc commented on #30612
Hi @mikejolley ,

Thank you for opening the issue! I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

[2021-09-01 10:05] subodhgaurav opened #30620 "taking phone no digit more than 10 no"
![Screenshot (282)](https://user-images.githubusercontent.com/88924487/131652059-055caa30-3416-4b08-aee4-fd51f9b68c4c.png)

Step: 1 payment method
step 2: going to phone no

[2021-09-01 11:02] rodelgc commented on #30610
Hi @diegosomar,

Thank you for raising the issue. I tried reproducing the bug, but without the Correios plugin, since this repository is only intended for core functionalities of WooCommerce. I couldn't reproduce the bug. I was able to see the same shipping option that I selected before I registered.

Here's the screenshot of my checkout page before creating an account. Notice that I selected "Fla

[2021-09-01 11:09] rodelgc commented on #30619
Hi @dphyled,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-09-01 11:19] rodelgc commented on #30592
Hi @CodeConnectPtyLtd,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-01 11:22] rashedripon commented on #30154
I was able to reproduce the problem in my pressable site and the explanation by @Konamiman seems to be the correct one.

I checked the order status as soon as I was on the order-received page (no "Downloads" available), the order status was "Pending Payment". I reloaded the order status page after a few seconds and it was "Completed". Then I refreshed the order-received page and I can see the "Dow

[2021-09-01 11:32] rodelgc commented on #30620
Hi @subodhgaurav,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2021-09-01 11:42] xtra-dev commented on #26067
Hi everyone, I studied all posts I could find regarding this issue the past hour, and the problem that orders created on the backend can't get filtered by 'woocommerce_adjust_non_base_location_prices' was raised initially almost 4 years ago.

I understand that tax calculation is complex but is there a way to vote, contribute, donate to get this feature implemented?

I am currently working on a cli

[2021-09-01 11:52] daigo75 commented on #26067
@xtra-dev yes, that's the plugin I mentioned earlier. As I explained in my earlier post, when you add a product to a manual order, WooCommerce always adds an item with the price exclusive of tax, and adds the tax during the calculation of totals.

The Tax Display by Country plugin intercepts this logic. The he price exclusive of tax is recalculated so that, once taxes are added, the final value is

[2021-09-01 13:27] #28772 closed

[2021-09-01 13:27] #28756 closed

[2021-09-01 14:30] erikdemarco opened #30621 "Importing Product Images. Will not attach images to the product"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have search

[2021-09-01 14:32] juliaamosova opened #30622 "E2E: Create an e2e test to cover the flow of copying billing/shipping address on the order page"
Create an e2e test to cover the test case described in https://github.com/woocommerce/woocommerce/issues/30075.

The following steps may be used, but feel free to add more steps or assertions if they're critical to the "Copy billing address" or "Load billing/shipping address" flow.

Pre-test setup:
1. There should be a customer with no customer billing and shipping addresses saved in their profile

[2021-09-01 14:36] juliaamosova opened #30623 "E2E: Create a new e2e test to cover creation of downloadable products permission"
Create an e2e test to cover the test case in https://github.com/woocommerce/woocommerce/issues/29679.

[2021-09-01 14:52] juliaamosova opened #30624 "E2E: Implement WP Core e2e tests package running in WC Core on demand"

[2021-09-01 15:47] gglobalstep opened #30625 "[GlobalStep] "Browse Categories" dropdown fails to dismiss upon tapping dropdown arrow button for smaller viewports."
## Bug Description:
"Browse Categories" dropdown fails to dismiss upon tapping dropdown arrow button for smaller viewports.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 RC 1
WordPress version: v5.8

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all

[2021-09-01 15:51] ecgan commented on #30115
@rrennick , the fix implemented in #30529 is done by changing the hardcoded version 5.5.1 to hardcoded version 5.8.0. When future version of WP is released (say 5.9.0), and if it's not updated in the wc-e2e package again, then this issue #30115 would happen again, no?

I'm wondering if there is a way to make wc-e2e to always get the latest version without hardcoding the version number? 🤔  Would [`

[2021-09-01 16:05] rrennick commented on #30115
No, it doesn't. If you use `wordpress:latest` in your `docker-compose.yml` then you need to run `docker pull` before each start. When `latest` is used in a DC file, Docker internally converts that to the numerical version the first time the container is started. Subsequent starts use the same internal numerical version.

Yes. WC core already has processes in place to bump versions (eg. unit test m

[2021-09-01 18:02] #29678 closed

[2021-09-01 22:59] #30607 closed, assigned to roykho

[2021-09-02 02:04] mrikvar opened #30628 "In Legacy Report (Sales by Dates) & (Sales by category) are not showing the same data."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-09-02 02:05] mrikvar commented on #30628
In Legacy Report (Sales by Dates) & (Sales by category) are not showing the same data.

[2021-09-02 03:11] erikdemarco commented on #30621
The problem is in https://github.com/woocommerce/woocommerce/blob/b19500728b4b292562afb65eb3a0c0f50d5859de/includes/import/abstract-wc-product-importer.php#L277

set_image_data( ) should be run after $object->save();
Because if it runs before, the product_id will be 0. Thus the attachment parent_id will still be 0

[2021-09-02 05:16] jkohlbach opened #30629 "Settings to... [REDACTED]"
[REDACTED]

[2021-09-02 07:07] rodelgc commented on #30629
Hi @jkohlbach,

Thank you for taking the time to share this idea, we really appreciate your help.

We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-09-02 07:10] rodelgc commented on #30628
Hi @mrikvar,

You didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

Again, here's the template you need to fill out:

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2021-09-02 08:45] rrennick commented on #29675
We have switched back to individual test files so this is no longer an issue.

[2021-09-02 08:45] #29675 closed

[2021-09-02 09:19] rrennick commented on #28959
Closing due to lack of followup.

[2021-09-02 09:19] #28959 closed

[2021-09-02 09:20] rrennick commented on #29072
This would be covered in #29280

[2021-09-02 09:20] #29072 closed

[2021-09-02 09:32] okwasniewski opened #32237 "Analytics: Orders report does not filter by attributes on simple products"
**Note: This bug only manifests itself when filtering by attributes on simple products. - @mattsherman**

### Describe the bug
Our shop has multiple additional attributes, one of them is 'author' of the product. We want to filter by advanced filter in the Reports > Orders tab. When choosing specific attribute value for example: Attribute => Author = 'Author Name'. The list shows that there is no r

[2021-09-02 10:31] joashrajin opened #30630 "Shipping Zone save changes button gets greyed out"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After adding a Shipping Method to your Shipping Zone, the **Save Changes** button gets greyed out. You then need to remove the Zone Region and a

[2021-09-02 12:34] intissar962 opened #30631 "Min / Max quantity doesn't work on Woccommerce Composite product please help"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-09-02 14:17] tammullen opened #30633 "k6 tests: Shopper - New customer can create account"
Create k6 test for the flow: Shopper - New customer can create account

[2021-09-02 14:18] tammullen opened #30634 "k6 tests: Shopper - Browse products by category"
Create k6 test for the flow: Shopper - Browse products by category

[2021-09-02 14:20] tammullen opened #30635 "k6 tests: Merchant - Analytics Overview"
Create k6 test for the flow: Merchant - Analytics Overview

[2021-09-02 14:22] tammullen opened #30636 "k6 tests: Merchant - View Coupons"
Create k6 test for the flow: Merchant - View Coupons

[2021-09-02 14:23] tammullen opened #30637 "k6 tests: Merchant - Search Orders"
Create k6 test for the flow: Merchant - Search Orders

[2021-09-02 14:24] tammullen opened #30638 "k6 tests: Merchant - Search Products"
Create k6 test for the flow: Merchant - Search Products

[2021-09-02 15:34] roykho commented on #30337
Closing as it is fixed on Storefront theme https://github.com/woocommerce/storefront/issues/1745

[2021-09-02 15:34] #30337 closed

[2021-09-02 15:38] tomalec opened #32236 "WC`<Link type="external">` is inconsistent with WP `<ExternalLink>`"
### Is your feature request related to a problem? Please describe.
As a plugin developer, I'd like to use `@woocommerce/components` and `@wordpress/components` to build consistent UI and UX. Also, I'd like to know which elements should I use for what.

#### TL;DR
There are [WC`<Link type="external">`](https://woocommerce.github.io/woocommerce-admin/#/components/) and [WP`<ExternalLink>`](https://w

[2021-09-02 15:41] rodelgc commented on #30631
Hi @intissar962,

You didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue.

However, judging from what you wrote on the issue title, it appears that you're having issues with the plugins Min/Max Quantities and WooCommerce Composite Products, which are outside the scope of this repository.

To get technical support for Mi

[2021-09-02 15:41] #30631 closed, assigned to nobody

[2021-09-03 01:00] diegosomar commented on #30610
Hello @rodelgc tks your answer.
I removed the plugin WooCommerce Correios. Now, I have only 1 plugin, WooCommerce and the problem is still here.
You cannot reproduce the issue because you have no entered an address with zipcode.

See below my environment with only WooCommerce plugin:

1. Go to [product page](http://wc-bug-test.web2206.uni5.net/wordpress/produto/tshirt/) and click COMPRAR (buy in p

[2021-09-03 03:18] AashikP commented on #27077
Thank you all for taking the time to report this bug. I can reproduce it on my end using WooCommerce 5.6.

*I tested with `Fixed Product Discount` on a product that was deleted.*

![https://d.pr/i/29Kt9j+](https://d.pr/i/29Kt9j+)

(The product assignment for the coupon under **Edit Coupon > Usage Restriction > Products >** was removed when I trashed and permanently deleted the product)

When I att

[2021-09-03 03:34] AashikP commented on #27281
Hi there!

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

When a product image is manually added, it is `Attached` to the product when viewed in Media Library. However, even though a CSV import updates the product image correctly, it is not attached to the product itself when viewed through the media library

![https://d.pr/i/TewlQZ

[2021-09-03 05:48] ilyasfoo commented on #32237
Hi @okwasniewski, thank you for taking the time to report this. I was able to reproduce the bug with WooCommerce 5.6.0, WooCommerce Admin 2.6.1, and WordPress 5.8.

[2021-09-03 08:08] vedanshujain commented on #29756
Agree with the suggestion here, ideally autocomplete should work for more convenience. Moving this to WooCommerce Admin repo as they are correct team to handle this.

[2021-09-03 08:16] vedanshujain commented on #30588
this is a good suggestion, @san-coding feel free to take this up if you are interested. cc @kloon since this change is in the extension page.

[2021-09-03 08:22] vedanshujain commented on #30592
Thanks for the report. I am closing this one in favor of https://github.com/woocommerce/woocommerce/issues/29996, both of these seems to have the same root cause, and 29996 is already prioritized and being worked upon.

[2021-09-03 08:22] #30592 closed, assigned to nobody

[2021-09-03 08:36] vedanshujain commented on #30594
Thanks for the report, agree with your suggestions, we need to do following things here:

1. Truncate app_name if longer than a certain limit, let's say 100
2. Drop English words so we can drop translation. So final string could look like : app_name - scope (date_time)
3. Throw an exception when insertion fails regardless.

[2021-09-03 08:37] vedanshujain commented on #30594
Eventually, we would like to move to [WordPress's application password](https://make.wordpress.org/core/2020/11/05/application-passwords-integration-guide/) instead of using our own implementation.

[2021-09-03 08:55] vedanshujain commented on #30598
Hi @jmslbam, thanks for the report, but I am not able to reproduce it just yet. I get `test` logged onto the console just fine when using your snippet. Are there specific pages where this issue happens? I also tried with loading flot library on all pages to see if that would help but it didn't.

[2021-09-03 09:00] thinkjarvisdesignandmarketing commented on #27281
Thanks AashikP! Looking forward to getting a fix for this in one of the future builds of WooCommerce.

Will there be a notification on this post when a solution has been found?

[2021-09-03 09:15] vedanshujain commented on #30603
Hi @donjajo , thanks for the suggestion,

To load an order item that you know is a product, you can use the order item class directly, like ` $order_item = new WC_Order_Item_Product( $id )`. This way you won't have to modify the core files.

So order items can be product, shipping items, tax, fees etc, so it cannot return `product` by default. However, class for the particular order item, does ret

[2021-09-03 09:15] #30603 closed, assigned to nobody

[2021-09-03 09:42] andfinally commented on #30588
Hi @san-coding, that would be great, thank you! I suggest we add a text like `Sorry, couldn't find anything. Try searching again using a different term.` under the `h1` on the results page in this situation.

Good point @gglobalstep and @rodelgc, thanks! This is behaviour inherited from the previous version, but would be a great addition.

[2021-09-03 10:55] purplemonkey23 commented on #26054
This is the correct answer. I have done this, and all Customers are now gone. This isn't a bug, its simply a feature.

[2021-09-03 13:54] san-coding commented on #30588
Hey @andfinally @vedanshujain thank you , could you assign this issue to me ?

shall I add an if condition before this to check if search results are empty ?
https://github.com/woocommerce/woocommerce/blob/c975dda18c78e211976d53c04376517c1618ad70/includes/admin/views/html-admin-page-addons.php#L65-L70

[2021-09-03 15:16] san-coding commented on #30588
Hey @vedanshujain @andfinally @kloon  , I have added a PR #30641 , please review it , thank you

[2021-09-03 15:18] steve-brett commented on #23758
A note to help those still running into this problem: `woocommerce_countries_allowed_countries` is the hook to use for filtering countries available at the checkout, and should have access to the cart.

[2021-09-03 19:08] san-coding commented on #30556
Hey @zhongruige , I can see that from the below line , the button click event is being handled, could you please point out the line which redirects it to `POST` page instead of `Edit Order` page
https://github.com/woocommerce/woocommerce/blob/ad955c19da8a93b18f9c86bd25a301113e1b1e77/includes/admin/meta-boxes/class-wc-meta-box-order-actions.php#L87-L88

[2021-09-03 19:40] tammullen commented on #30621
Hi @erikdemarco ,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27281. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-09-03 19:40] #30621 closed, assigned to nobody

[2021-09-03 19:47] barryhughes opened #30643 "Support serving downloads via cURL"
**Is your feature request related to a problem? Please describe.**

Using Force Downloads for product downloads is often preferred by merchants, but there are many hosting environments in which it does not work (typically, those in which `allow_url_fopen` is disabled). In such cases, they may be forced to use the redirect mode (less secure).

**Describe the solution you'd like**

Enhance the exist

[2021-09-03 21:42] barryhughes commented on #29996
This seems like a WC Admin issue, so I'm going to transfer the issue to the appropriate repo. Rough notes:

- As per issue description, the trigger seems to be when we reach the **Personalize your store ▸ Upload a logo** stage.
- Once a logo is selected, a `POST` to `wc-admin/options` takes place:
    - This sets the `theme_mods_*` option (where `*` is the slug for the active theme) to `{ "custom_

[2021-09-04 00:35] #30469 closed, assigned to nobody

[2021-09-04 00:35] #30516 closed, assigned to nobody

[2021-09-04 04:18] san-coding commented on #30527
I can see that the error is defined here https://github.com/woocommerce/woocommerce/blob/7d3ac49f640c476ed993ec3992306870ec495c52/includes/admin/class-wc-admin-assets.php#L191

I searched a lot but couldn't find the css file for it , please help me out @vedanshujain

[2021-09-04 04:20] san-coding commented on #30482
Hello, I am new to open source , could you please assign this to me

[2021-09-04 04:21] san-coding commented on #30400
Any update on this issue @jonathansadowski ?

[2021-09-04 06:06] galbaras commented on #30494
One more update: PayPal Merchant Support advises that the only difference in the image is whether it contains Discover or not, and there are good images for both options. This makes things a lot less complicated and allows for much easier bundling of the images with WooCommerce.

I've asked to clarify any legal issues related to the representation of PayPal via these images and will update when I

[2021-09-04 10:03] #27730 closed

[2021-09-05 05:07] mstudioIL opened #30644 "Add countries in shipping zones"
I have region like North America with two countries but if someone want to add regions like UPS uses they need to add manually the countries in the region and there is not than two like in North America.
Can you add regions like East Europe, West Europe. Far East and etc.?

[2021-09-05 10:42] ghost commented on #28072
So, how does one check if the meta_key is set? any workaround?

        add_action( 'woocommerce_after_shipping_rate', 'action_after_shipping_rate', 20, 2 );
        function action_after_shipping_rate ( $method, $index ) {
          if ( isset( $method->meta_data['meta_value'] ) ) {
           $meta_value = $method->meta_data['meta_value'];
           echo "Your meta value is: " . $meta_value;

[2021-09-05 16:43] xtra-dev commented on #16747
@ernitish thanks a lot for the code example on Pastebin. Works like a charm! Just one question. For me, the manually added gross price displays not as the last column, it is hooked into the middle of the columns. I would like to display the custom column at last as depicted in the screenshot from @scrobbleme. Is there a way to programmatically define the order so it is added as the last column?

!

[2021-09-06 02:56] AashikP commented on #27281
As long as you've subscribed to this issue, you will receive email notifications for any comments on this.

![https://d.pr/i/2EmX9K+](https://d.pr/i/2EmX9K+)

[2021-09-06 07:38] #30471 closed, assigned to nobody

[2021-09-06 08:29] shakethatweight-simon commented on #28072
...

You could also try `isset($method->get_meta_data()['meta_value'])` - not tested, but from memory this should work.

[2021-09-06 08:51] yoancutillas opened #30646 "PHP Notice: "is_page or is_singular incorrectly called" on each wp-cron / 404 error / etc. if nocache_headers() is called"
Hello, an error repeatedly appears in the PHP error logs.

- `nocache_headers()` is called and it should be fine to do so for any page.
- This triggers a filter in WooCommerce that calls `WC_Cache_Helper::additional_nocache_headers()`
- The consecutive call to `is_page()` or `is_singular()` triggers the warning on this kind of pages (wp-cron, error, ... ). They lack some check it seems.

[code]

F

[2021-09-06 09:31] Bredamcguigan commented on #30618
I am having the same problem.

[2021-09-06 14:25] vinodglobalstep commented on #30630
Hi @joashrajin

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.6.0.
Below is the screenshot confirming the issue on my end:

![bug1](https://user-images.githubusercontent.com/46351294/132225018-0096a342-1b1c-4b63-ae2c-84f3043f9a5b.JPG)

Priority of this issue will be assigned shortly after we’d go through a round o

[2021-09-06 16:24] vinodglobalstep commented on #29312
Hi @vicmich

,
Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6.0 version.
I tested the following on:
WordPress 5.8
WooCommerce 5.6.0
Twenty Twenty-One: StyleSheet

For a simple product, I tested setting a same-day sale :
![bug2Backend](https://user-images.githubusercontent.com/46351294

[2021-09-06 16:28] vinodglobalstep commented on #26923
Hi @gevcen ,
​
Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6.0 version.
 I tested the following on:
WordPress 5.8
WooCommerce 5.6.0
Page Setup
![bug3_AdvSettings](https://user-images.githubusercontent.com/46351294/132244698-b50d73b7-22f7-4078-a5d0-5cda6a0a5e05.JPG)

WooCommerce Pages

[2021-09-06 16:35] vinodglobalstep commented on #26887
Hi @gevcen,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6.0 version.
 I tested the following on:
WordPress 5.8
WooCommerce 5.6.0

Here are the default values:
![bug4](https://user-images.githubusercontent.com/46351294/132245349-615cbd55-3822-4edb-90be-ac71acc1db97.JPG)

Can you plea

[2021-09-06 17:33] Mte90 commented on #25461
I did a pr with the code of the modified version of @weroh from https://github.com/woocommerce/woocommerce/issues/25461#issuecomment-845673185

With the hope that is reviewed and merged but the library last commit is from 2019.

https://github.com/woocommerce/FlexSlider/pull/1799

[2021-09-06 19:49] pushpen commented on #20343
For those from google;

If you face the problem while importing a sql file:
It is most likely that your sql has database tables dump in alphabetical order  and
wp_wc_download_log constrainsts refers a table `wp_woocommerce_downloadable_product_permissions` that has not been created yet.
Create the `wp_woocommerce_downloadable_product_permissions` table before wp_wc_download_log and the problem wil

[2021-09-07 02:21] galbaras commented on #30494
PayPal Merchant Support has confirmed there are no legal issues preventing WooCommerce (or the sites that use it) from using their choice of PayPal logos or serving them from their own domain.

Bottom line: it should be very easy to figure out which countries support Discover and which countries don't, grab two images, remove the white background from them and bundle them with WooCommerce.

New an

[2021-09-07 08:59] acicovic commented on #32241
I also have this issue on a client site. Clicking on the button generates an error in the console.

[2021-09-07 10:49] vedanshujain commented on #25461
@Mte90 For better or worse, we forked flexslider before inclusion, so we can make this change in WC directly as well, would you be interested in sending another PR targeting core? See the file here: https://github.com/woocommerce/woocommerce/blob/trunk/assets/js/flexslider/jquery.flexslider.js

[2021-09-07 10:50] tammullen commented on #30644
Hi @mstudioIL ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2021-09-07 10:50] #30644 closed, assigned to nobody

[2021-09-07 10:53] tammullen commented on #30646
Hi @yoancutillas ,

Thank you for opening the issue!
The issue you are having seems to be caused by the 3rd party plugin qTranslate-XT however I can see in the issue you link to that they have suggested this is a WooCommerce core issue.
It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look

[2021-09-07 10:54] vedanshujain commented on #30494
@galbaras Thanks for all your input here, makes sense.

That's a good suggestion, although I am not sure if WooCommerce should do that because this can change and older WC installs in those cases will continue to show outdated logos. Ideally, we would grab a universal logo and show it consistently.
We have also reached out to PayPal to see what would they prefer.

[2021-09-07 11:02] vedanshujain commented on #27419
cc @konamiman to see if this can be addressed by our recent feature for the attribute filtering table.

[2021-09-07 11:06] Mte90 commented on #25461
Done https://github.com/woocommerce/woocommerce/pull/30648

I don't understand why keep a repository opened to the world if the project is not developed there anymore. Maybe archive the repository to avoid the confusions?

[2021-09-07 11:08] awesome1128 commented on #27419
Okay

On Tue, Sep 7, 2021 at 7:03 PM Vedanshu Jain ***@***.***>
wrote:

[2021-09-07 11:16] galbaras commented on #30494
It's not difficult to update a couple of images, and, according to PayPal, doesn't have to happen immediately, so it'll be OK even if it takes some time. The point of these images is to communicate visually what the payment method is about, and the current images do it well already.

[2021-09-07 11:43] lpro-1 commented on #27761
Hi WooCommerce Team, @juliaamosova

Is there a developer assigned to investigate this bug for the Variable Products?

[2021-09-07 11:49] tammullen commented on #27761
Going to mark this as a bug now as @ryanr14 was able to replicate.

Thank you to everyone for providing additional information.

Priority of this issue will be assigned shortly after we'd go through a round of prioritization. Please note it may take a couple of days.

[2021-09-07 11:53] Immerence commented on #27761
I'm wondering the same thing, @juliaamosova @m

@tammullen Okay! thank you, hoping for some positive development on this out of the box base functionality.

[2021-09-07 12:47] rodelgc commented on #30629
Hi @jkohlbach I moved your issue to a private repository because it contains sensitive info that can be exploited by malicious users. Progress of your feature request will be dealt with in that repository instead.

[2021-09-07 12:47] #30629 closed, assigned to nobody

[2021-09-07 12:55] vinodglobalstep commented on #30515
Hi @mattmary ,
Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6.0 version.

Here I Disabled shipping and Saved as per step 2
![disableShipping](https://user-images.githubusercontent.com/46351294/132347221-7f4d2ccd-47d7-4cc7-b07b-3989bfde1115.JPG)

and went to My Account, However, I was

[2021-09-07 13:00] vinodglobalstep commented on #30270
Hi @tijosh ,
Thank you for taking the time to report this bug, we really appreciate your help. Just confirming I can still reproduce it on my end using WooCommerce 5.6.0 version.

I did all the settings as mentioned in the steps and I got a tax amount of 4.19 instead of 4.18
![rounding](https://user-images.githubusercontent.com/46351294/132348978-86ca428f-e36d-43fd-aa20-b4bea6be48f3.png)

Priority

[2021-09-07 13:13] diegosomar commented on #30610
Hello @rodelgc, can you reopen this issue, please?
As I described above, it's a core issue.
Tks.

[2021-09-07 13:14] vinodglobalstep commented on #24349
Hi @jessepearson ,
Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using the WooCommerce 5.6.0 version.

I followed the exact mentioned steps and was able to see the variable products with variations when search by price filter.
![filterByPrize](https://user-images.githubusercontent.com/46351294/132350945-f

[2021-09-07 13:26] vinodglobalstep commented on #24244
Hi @zwiesman31 ,
Thank you for taking the time to report this bug, we really appreciate your help. Just confirming I can still reproduce it on my end using WooCommerce 5.6.0 version.

Here's the screencast

https://user-images.githubusercontent.com/46351294/132352531-75d8f48e-0298-45f2-8f8a-3bc2f343faec.mp4

Priority of this issue will be assigned shortly after we’d go through a round of prioritiz

[2021-09-07 13:30] buddudevelopers opened #30649 "Support non interactive generation of woocommerce Rest API keys"
**Is your feature request related to a problem? Please describe.**
It is frustrating to setup woocommerce api keys manually in non interactive environments like docker

**Describe the solution you'd like**
Have the ability to generate woocommerce rest api keys via the commandline non interactively for example using wp wc cli

**Describe alternatives you've considered**
A clear and concise descript

[2021-09-07 14:10] ernitish commented on #16747
Hi,
Sorry, but there no action/hook for showing this at the end of columns.
You can try to do with this CSS.

Thanks

[2021-09-07 14:26] vinodglobalstep commented on #30451
Hi @BrianmSK ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6 version.

Here is the screenshot:
![category](https://user-images.githubusercontent.com/46351294/132361695-d4c45c92-79ac-4d84-b2ed-252bdea22eeb.JPG)

Please provide us with more details about the issue which may help us to

[2021-09-07 15:14] barryhughes commented on #30482
Hi @san-coding—please feel free to submit a PR for this (and mention the issue number in the PR description). No need to worry about assignment :-)

[2021-09-07 15:49] tsetend opened #30651 "WooCommerce Status dashboard returns blank page for product summary"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
As reported in 4279137-zen when we click on the Product out of stock or Products low in stock summary in the WooCommerce Status dashboard it ret

[2021-09-07 16:30] roykho commented on #29808
Closing this as it works with later versions of Firefox like 90, 91 and 92

[2021-09-07 16:30] #29808 closed

[2021-09-07 17:07] jonathansadowski commented on #30612
Thanks @mikejolley,

I just wanted to confirm, your suggestion is to modify `wc_reserve_stock_for_order` to have a new parameter for minutes with a default of 60, `$minutes = 60`, and pass that value on to the ReserveStock helper function, correct?

If so, I agree, I'll mark this as a task. If I'm misunderstanding, please correct.

[2021-09-07 17:10] jonathansadowski commented on #30139
Hi @sjregan,

Thanks for reporting this. It does look like the PHP Doc on that filter is incorrect. Unfortunately, for backwards-compatibility reasons, it will be hard for us to update that filter to pass the object instead of the string. I'm going to leave this issue open to track updating the PHP Doc to make it more accurate to its actual behavior.

[2021-09-07 17:14] jonathansadowski commented on #30135
Hello @WoodrowShigeru,

Thanks for taking the time to open this issue. I'm not entirely sure I was able to follow the issue that you are reporting. Could you give a more concrete example of the problem that you're describing, with the steps you took along the way, as well as your expectation versus reality?

[2021-09-07 18:09] ciclick opened #30652 "$product->get_meta not returning correct data"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Using the woocommerce subscriptions plugin, at the file "woocommerce-subscriptions/includes/class-wc-subscriptions-product.php" inside the "get_

[2021-09-07 18:36] NathalyaVides opened #30653 "Currency symbol reversed: Iraq Dinar"
**Prerequisites (mark completed items with an [x]):**

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The symbol and currency are showing reversed both on WooCommerce> Settings> Currency and in the site's shop> products.

This is independent of

[2021-09-07 19:08] onclave commented on #29727
I'm facing the same issue and cannot import any file. My file path does not even contain a "+"

[2021-09-07 19:26] WoodrowShigeru commented on #30135
Thanks for getting back to this. It's been a while, but I'll try.

**Background:** For SEO reasons, it was important to our client that the Shopware URLs remained the same as they were, or would get redirected accordingly.

* So we copied the files from the Shopware directory to the WordPress directory on the same server.
* Then we registered them to WordPress with WP-CLI in a separate step.
* (We

[2021-09-07 21:03] ricardo commented on #29795
Another issue related to this in Saudi Arabia. Unfortunately we can't fix this in the same way we did with the stop gap: https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1799

After we implemented workarounds in WCPay and Stripe for the most common countries with issues like this, we've been getting fewer support requests, but there are several other countries where the Payment Req

[2021-09-08 05:01] spishu21 commented on #14149
I am using Cloudways hosting it is also returning me with this error.
I have cache turned off for now
![image](https://user-images.githubusercontent.com/33219178/132449185-aaab4919-9bbf-4e4e-a2d7-0d3a183e59eb.png)

[2021-09-08 05:31] mfissehaye opened #30654 "Product list filtering by attribute and attribute_term not working on woocommerce rest api"
woocommerce version: 5.5.2
wordpress version: 5.8

I posted this on the woocommerce-rest-api repo [here](https://github.com/woocommerce/woocommerce-rest-api/issues/270), but didn't get any response yet, so I am posting it again here.

Sending request to the api endpoint wp-json/wc/v3/products?attribute=Brand&attribute_term=55 returns all products including those that don't have the given attribute

[2021-09-08 07:05] corend commented on #30095
Hi,
Indeed I did a mistake, this is linked to Wordpress and not linked to WooCommerce. My bad.
Thank you

[2021-09-08 07:05] #30095 closed

[2021-09-08 07:45] weroh commented on #25461
This is the way

[2021-09-08 07:46] FathiHamed commented on #25392
I'm also having the same problem. Is WooCommerce going to address this issue ANYTIME soon? This has been an issue for about 8 months.

[2021-09-08 07:51] philiporosz commented on #27295
Any Update? Still facing this issue. @vedanshujain

[2021-09-08 09:24] rodelgc commented on #30610
Hi @diegosomar,

Thank you very much for the clarification, and apologies for the delay in my response. I'll reopen this issue and will try to reproduce the issue again on our end.

Stay tuned for updates!

[2021-09-08 10:05] mikejolley commented on #30612
Yes. That way checkout can define it's $minutes value based on the `woocommerce_hold_stock_minutes` setting, and the read of that setting can be removed from `ReserveStock::reserve_stock_for_order`.

[2021-09-08 10:51] Mte90 commented on #25461
I had to change your code @weroh as it takes all the sliders height and width and not the real width of the image.
My version do some calculations and set a better width/height and not just a filler to silence lighthouse.

[2021-09-08 11:46] tammullen commented on #29108
Hi @diegoabbate ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

@rajhandi88 if you are still having the issue you describe can you please raise a new issue for it.

[2021-09-08 11:46] #29108 closed

[2021-09-08 11:48] tammullen commented on #29161
Hi @a19901201 ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further including a sample CSV file if possible.

**Describe the bug**
A clear and concise description of what the bug is. Please

[2021-09-08 11:59] tammullen commented on #29394
Hi @orangutangle

Can you create a new issue for your problem with wc_update_product_lookup_tables if you suspect there is a bug.

I'm closing this issue for now as the original problem appears to have been resolved.

[2021-09-08 11:59] #29394 closed

[2021-09-08 12:07] tammullen commented on #29521
Hi @canguroenglish,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

I'm closing this for now, if you are able to recreate this issue with only WooCommerce active and a default WordPress theme active, or [Storefront](https://woocommerce.com/storefront/) please raise a new issue using our bug reporting te

[2021-09-08 12:07] #29521 closed

[2021-09-08 12:07] sjregan commented on #30139
@jonathansadowski Thanks for looking at it, I understand your point of backwards compatibility.

I would like to point out the issue is not that the PHPDoc is incorrect, its that the parameter type is incorrect because it differs from the same filter in the `WP_REST_Posts_Controller` class.

[2021-09-08 12:08] tammullen commented on #29722
Hi @YMM-ITXI

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt

[2021-09-08 12:08] #29722 closed

[2021-09-08 12:10] tammullen commented on #29872
Hi @DavidBorrink

Can you provide the details requested? Without this information we cannot evaluate this issue further.

[2021-09-08 12:16] tammullen commented on #30018
Hi @ProArtur

Can you provide the details requested? Without this information we cannot evaluate this issue further.

[2021-09-08 12:18] tammullen commented on #30031
Closing as this is expected behaviour.

@Sevun11 Please raise a new enhancement for the behaviour you would like to see if there are no existing enhancements already raised for it.

[2021-09-08 12:18] #30031 closed

[2021-09-08 12:23] tammullen commented on #30419
Hi @MarcNitsche ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide

[2021-09-08 12:23] #30419 closed

[2021-09-08 12:31] tammullen commented on #30533
Hi @devforma22

The number of details you provided is not enough for us to work with and identify what could be going on.

The steps provided are not clear enough to understand how to reproduce this.

We need full reproduction steps including details of the product types used and the settings you are using on WooCommerce > Settings > Accounts & Privacy

This does not look like a WooCommerce screen

[2021-09-08 12:32] tammullen commented on #30551
Hi @JakeQZ ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-08 12:33] tammullen commented on #30579
Hi @PaulodoPorto ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help

[2021-09-08 12:33] #30579 closed, assigned to nobody

[2021-09-08 13:34] DavidBorrink commented on #29872
I really don't have any details other than the examples and descriptions given above. I believe I was very thorough with them.

[2021-09-08 13:35] MarcNitsche commented on #30419
Hi @tammullen

it a bug comes from the developed method here: https://github.com/woothemes/woocommerce/wiki/How-Taxes-Work-in-WooCommerce#prices-including-tax---experimental-behavior

[2021-09-08 13:41] mattias-pa-vistrom commented on #30027
Are there any update on this?
Do you have a roadmap for when you plan to support PHP 8.0?

[2021-09-08 13:42] tammullen commented on #29872
Hi @DavidBorrink

We requested that you provide all the information we ask for in our bug reporting template. Without this information we cannot evaluate this issue further.

Please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as

[2021-09-08 13:46] cometto277 commented on #25461
Hello,

@Mte90

Im using function:
`function db_modify_srcset_sizes($sizes, $size) {
	return '(max-width: 420px) 300px, (min-width: 421px) 768px, (min-width: 769px) 1024px, 100vw';
}
add_filter('wp_calculate_image_sizes', 'db_modify_srcset_sizes', 10 , 2);`

Is it better to apply code from last posts in this conversation? When I disable code from above PSI immediately tells about wrong image size.

[2021-09-08 13:58] rrennick opened #30655 "Remove duplicate .gitingnore entries in api package"
Reference: https://github.com/woocommerce/woocommerce/pull/30559#discussion_r703884963

The api package .gitignore file duplicates entries in .gitignore in the root.

[2021-09-08 13:59] jorgemd24 commented on #31370
You can use /wp-json/wc/v3/products?sku=variation_sku  to get the variation id and the parent_id (product_id)

[2021-09-08 14:23] Mte90 commented on #25461
I don't think that this affect this part. As gallery thumbnails HTML is generated by JS and not PHP.

[2021-09-08 14:25] cometto277 commented on #25461
@Mte90 should I leave it as it is or try improvements? im no professional

[2021-09-08 14:27] jessuppi commented on #14149
@spishu21 et al

WordPress and WooCommerce users should be aware that if they are using CloudFlare, some of these 403 (etc) errors have been increasing lately due to security/WAF firewall settings there.

Try disabling CloudFlare temporarily to confirm if that's the cause... and a long-term solution could be adjusting the security settings based on certain URLs using Page Rules, or relaxing some o

[2021-09-08 14:35] Mte90 commented on #25461
Depends, lighthouse reports troubles that with this line are fixed? I have no idea

[2021-09-08 14:39] spishu21 commented on #14149
Will try doing this.
Thanks.

[2021-09-08 14:45] zhongruige opened #30656 "Add a full script implementation like wc-e2e for the API testing package"
See https://github.com/woocommerce/woocommerce/pull/30559#discussion_r704480110

[2021-09-08 15:04] vinodglobalstep commented on #30653
Hi @NathalyaVides ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.6.0 version.

Here are the screenshots
![#30653_1](https://user-images.githubusercontent.com/46351294/132534651-ebf967d6-4a3f-420a-837a-f3e170060984.png)

![#30653_2](https://user-images.githubusercontent.com/46351294/132534654-e4836259-9b1f-4937-8

[2021-09-08 15:08] vinodglobalstep commented on #30651
Hi @tsetend ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6 version.

I have followed the exact steps mentioned. Here's the screencast:

https://user-images.githubusercontent.com/46351294/132535449-ff78a477-0650-497a-b9b8-4194617b1d73.mp4

Please provide us with more details about t

[2021-09-08 15:13] vinodglobalstep commented on #30610
Hi @diegosomar ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6 version.

Checkout page before creating an account:
![#30610_1](https://user-images.githubusercontent.com/46351294/132536152-755fef4a-dcbf-4f6f-8559-07d9bb9945a1.png)

Checkout page after creating new account:
![#30610_2

[2021-09-08 15:19] vinodglobalstep commented on #23802
Hi @jesseihatsu ,
Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce "Case 2" on my end using WooCommerce 5.6 version. However, I was not able to reproduce "Case 1"

Here is the screenshot for Case 1:
![5_case1](https://user-images.githubusercontent.com/46351294/132536995-f30b45d3-ca75-4cfe-b2c5-de1def77b889.png)

and for Case 2 where I was able to re

[2021-09-08 15:33] laychopy commented on #15120
Could you post the solution please?

[2021-09-08 16:17] gglobalstep opened #30657 "[GlobalStep] PHP error triggered upon configuring terms on "Edit Attribute" screen."
## Bug Description:
PHP error triggered upon configuring terms on "Edit Attribute" screen.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 RC 1
WordPress version: v5.8

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins.
1. Install

[2021-09-08 17:25] amustaine opened #30659 "Rest API: on patch product attribute woocommerce resets properties to default"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
 - I set product attribute order_by as name_num via UI (admin)
 - I change an attribute name by REST API call `PATCH /wp-json/wc/v3/products/a

[2021-09-08 18:06] weroh commented on #25461
Thanks for that. I didn't realize it was using the wrong dimensions. My intention wasn't to silence LH, but to actually fix it. So this is good stuff. I'll review these changes and most likely drop them into my websites that use this feature. :)

[2021-09-08 19:05] #30264 closed

[2021-09-08 19:06] claudiosanches opened #30661 "Bug in dashboard widgets"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
A bug got introduced in https://github.com/woocommerce/woocommerce/pull/29149, by default dashboard widgets are only displayed now if WooCommerc

[2021-09-08 19:52] elizaan36 opened #32235 "CES: Turn on customer effort score for mobile devices"
### Is your feature request related to a problem? Please describe.
Currently the customer effort score survey is turned off for mobile devices. This creates a gap in knowledge for potential improvements to mobile web, as well as better alignment of the core and mobile experience.

### Describe the solution you'd like
Turn on the customer effort score survey for mobile devices. On mobile, the feedb

[2021-09-08 22:16] zhongruige opened #30662 "Write new API test: Products > Can add a simple product"

[2021-09-08 22:17] zhongruige opened #30663 "Write new API test: Products > Can view all products"

[2021-09-08 22:17] zhongruige opened #30664 "Write new API test: Products > Can update a product"

[2021-09-08 22:18] zhongruige opened #30665 "Write new API test: Products > Can view a single product"

[2021-09-08 22:19] zhongruige opened #30666 "Write new API test: Products > Can delete a product"

[2021-09-08 22:20] zhongruige opened #30667 "Write new API test: Products > Can search products"

[2021-09-08 22:21] zhongruige opened #30668 "Write new API test: Products > Can add a variable product"

[2021-09-08 22:22] zhongruige opened #30669 "Write new API test: Products > Can add a virtual product"

[2021-09-08 22:26] zhongruige opened #30670 "Write new API test: Orders > Can create an order"

[2021-09-08 22:26] zhongruige opened #30671 "Write new API test: Orders > Can update an order"

[2021-09-08 22:27] zhongruige opened #30672 "Write new API test: Orders > Can view an order"

[2021-09-08 22:28] zhongruige opened #30673 "Write new API test: Orders > Can search orders"

[2021-09-08 22:28] zhongruige opened #30674 "Write new API test: Orders > Can add new Order complex – multiple product types & tax classes"

[2021-09-08 22:29] zhongruige opened #30675 "Write new API test: Refunds > Can refund an order"

[2021-09-08 22:29] zhongruige opened #30676 "Write new API test: Shipping zones > Can add shipping zones"

[2021-09-08 22:30] zhongruige opened #30677 "Write new API test: Shipping methods > Can add shipping methods"

[2021-09-08 22:31] zhongruige opened #30678 "Write new API test: Coupons > Can add coupon to an order"

[2021-09-09 00:35] #30363 closed

[2021-09-09 03:39] datgausaigon opened #30679 "Images don’t show all when “add/edit” Product Image (Featured Image)"
Hi,

I got a issue when “add/edit” Product Image (Featured Image) for “Product” (also with Post).
When add/edit Product Image (Featured Image), I don’t see any image in “Media library” Tab window.

Step to raise this Issue:

0. New Blank WordPress Setup (5.8.1 with PHP 8.0.10)
1. Add some images (png, jpg)
2. Add and Active WooCommerce Plugin
4. Create new Product
5. From Product Image (Featured I

[2021-09-09 04:44] erikdemarco opened #30680 "Spec is invalid because the locale could not be retrieved in feed"
I got many '
httpswoocommerce.comwp-jsonwccominbox-notifications1.0notifications.json-xxx.log'

I think its woocommerce.com bug, because it requested 'marketing' plugin list via woocommerce.com
Because I dont install 'mercadopago' or any payment gateway plugin

Many people start will start seeing this error since last couple days. see here:
=> https://wordpress.org/support/topic/error-about-mercad

[2021-09-09 05:45] afagard commented on #28996
@roykho Still seeing the issue in WordPress 5.8.1 and Woo 5.6.0. Whenever admin bar is active select2 gets all wonky as demonstrated above. I literally thought I was going insane when styling, until I disabled every plugin and went to a standard theme and then had the epiphany to google the issue.

Obviously not that big of a deal for regular customers.

[2021-09-09 06:20] rodelgc commented on #30657
Hi @gglobalstep ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I tested this in both JN and Atomic using 5.7 RC1. As you can see below, I was not able to encounter the PHP error you mentioned.
<img width="1776" alt="Screen Shot 2021-09-09 at 2 06 28 PM" src="https://user-images.githubusercontent.com/4

[2021-09-09 07:02] jacoswan opened #30681 "Order Custom Field is saved twice if added prior to clicking create"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When adding at least two Custom Fields to an order before the order has been created/saved for the first time, the first Custom Field duplicates

[2021-09-09 08:18] gglobalstep commented on #30657
@rodelgc  Sorry for incorrect steps. We are able to reproduce this issue with only non-ASCII characters in slug field. Could you please check again this issue with above updated steps.

Please refer this attachments

![#30657_SS](https://user-images.githubusercontent.com/41110392/132649481-c198b8c8-ca2a-454d-a997-0c043836fd97.png)

https://user-images.githubusercontent.com/41110392/132649530-00a94

[2021-09-09 11:12] Ekliptor opened #30682 "woocommerce_cancel_unpaid_orders cron stops indefinitely"
I found a bug on multiple WooCommerce stores I am running. The scheduled hook `woocommerce_cancel_unpaid_orders` is no longer registered. After looking into the official code of the function `wc_cancel_unpaid_orders()` I see it re-schedules the hook only AFTER SUCCESSFUL execution.

This leads to the following scenario:
1. `woocommerce_cancel_unpaid_orders` hook is scheduled on WC install
2. if `w

[2021-09-09 12:49] roykho commented on #28996
Yeah somehow the fix got overwritten by this PR here https://github.com/woocommerce/woocommerce/pull/29706

[2021-09-09 15:15] amber-c opened #30685 "Product Category Widget - Add "All" Link Option To Redirect Back To Shop Archive."
Currently there appears to be no option in either the Legacy or new Block Widgets to have an "All" link that re-directs a user back to the main Shop archive.

If a shop is not using Ajax based filters (i.e the Product Filters plugin), and just relying on the default widgets, this results in a poor user experience if they try to navigate back to view all products. They either have to use the main "

[2021-09-09 16:15] vinodglobalstep commented on #27222
Hi @jbeales,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.6 version.

Here are the Screenshots :
![3_1](https://user-images.githubusercontent.com/46351294/132723385-e0bd1826-6f57-4c0b-ab58-05815a941a9d.png)

![3_2](https://user-images.githubusercontent.com/46351294/132723398-aaf0cb03-a5aa-4db5-b059-e762c712a70e.

[2021-09-09 16:20] vinodglobalstep commented on #26839
Hi @apmwebdev ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.6 version.

Here are the screenshots of the results:
![4_1](https://user-images.githubusercontent.com/46351294/132724064-c9d0a1cc-bd7c-47d3-b9da-ab67b2d89aa7.png)

![4_2](https://user-images.githubusercontent.com/46351294/132724081-9438484f-9404-4507-a

[2021-09-09 16:24] vinodglobalstep commented on #24369
Hi @jimjasson ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.6 version.

Here are the screenshots of the results :

![6_1](https://user-images.githubusercontent.com/46351294/132724714-54c629bb-6873-4c3e-beae-d771c1c2da76.png)

![6_2](https://user-images.githubusercontent.com/46351294

[2021-09-09 17:14] DynAggelos commented on #21309
Sounds like a no-brainer output to me!

[2021-09-09 17:31] DynAggelos opened #30686 "Customer Facing Order Page Allows Entering Billing/Shipping Address for Guest"
**Is your feature request related to a problem? Please describe.**
When I need to enter a customer's order manually, I am forced to ask ahead of time what the customer's address is. It would be a nice feature if it were possible to leave the address information blank, so that the customer can fill out this information him/herself, like they can on the checkout page.

**Describe the solution you'd

[2021-09-09 18:41] tomalec opened #30687 "Log WC version number when running `wc-e2e docker:up`"
**Is your feature request related to a problem? Please describe.**
As a consumer of `@woocommerce/e2e-environment` package, I had a hard time finding what version of WooCommerce it is actually running.

That information is useful while investigating the CI logs, as well as running locally when testing a plugin against multiple versions of WC.

**Describe the solution you'd like**
I'd like to see W

[2021-09-09 18:42] rodelgc commented on #30657
Hi @gglobalstep,

No worries! Thank you very much for the clarification. I'm now able to reproduce it:

<img width="1758" alt="Screen Shot 2021-09-10 at 2 37 38 AM" src="https://user-images.githubusercontent.com/4509348/132744030-2ce1eed7-993b-4e74-b5d4-2b2869b9b5f8.png">

Noting here that this issue happens in the last release version as well, WC 5.6.0. It's not specific to 5.7 RC1.

[2021-09-09 19:14] pacmanito commented on #26763
The feature is viable as currently there's no way to bulk edit variation prices. Maybe users can make a decision if their server can handle this themselves?

[2021-09-09 19:20] kdckrs commented on #26763
I agree, for me it's a viable feature. If someone decided to load 20809808 products on the table he will probably already know that this has a performance impact and there is a possibility that bulk actions will use a lot of memory and potentially cause a timeout.

PS: It's 2021 right?

[2021-09-09 21:16] rrennick commented on #30687
[code]

@tomalec WooCommerce isn't installed at the time this runs in any repo other than `woocommerce`. However, version e2e-environment 0.2.3 has [`withRestApi. getSystemEnvironment()](https://github.com/woocommerce/woocommerce/tree/trunk/tests/e2e/utils#rest-api-withrestapi) that returns the WP & WC version. You could use that to log the WC version at the beginning of your tests.

[2021-09-09 21:29] FabLop1967 opened #30689 "Shipping tab"
The shipping tab does not appear in Woocommerce updated to the latest version

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have carried ou

[2021-09-10 00:36] #30436 closed

[2021-09-10 09:37] hannahswain opened #30691 "Add product to order requires extra click"
**Is your feature request related to a problem? Please describe.**

When adding a product to the order screen, this requires an extra click - these clicks add up if you repeat the action often.

1. Open a new or existing order
2. Click "Add product", the pop-up opens
3. Click "Search for a product", the search field appears
4. Click in the search field to be able to start typing

![Add a product](

[2021-09-10 10:47] colourinvasion commented on #28606
Hi

I'm having the same problem but with the text on the new account page. Does anyone have or had the same problem? How did you solve it?

[2021-09-10 11:14] BeshoyAtef commented on #26374
any updates on this issue ?

[2021-09-10 11:23] david-strejc opened #30693 "Function date_i18n returns wrong time in Admin Order screen"
On line:

`239                                                         <input type="text" class="date-picker" name="order_date" maxlength="10" value="<?php echo esc_attr( date_i18n( 'Y-m-d', strtotime( $post->post_date ) ) ); ?>" pattern="<?php ec    ho esc_attr( apply_filters( 'woocommerce_date_input_html_pattern', '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])' ) ); ?>" />@
`

in class-w

[2021-09-10 12:32] #28996 closed

[2021-09-10 12:36] roykho commented on #30691
Hi @hannahswain - thanks for reporting. This is already fixed via https://github.com/woocommerce/woocommerce/pull/30626 and will be in 5.8 release.

[2021-09-10 12:36] #30691 closed, assigned to nobody

[2021-09-10 12:55] tomalec commented on #30687
Thanks for the quick reply @rrennick :)

Hm… so when is the `/tests/e2e/docker/initialize.sh` run? I would like to log the version [once it's installed](https://github.com/woocommerce/google-listings-and-ads/blob/develop/tests/e2e/docker/initialize.sh#L13) not for any particular test.

[2021-09-10 13:22] kbharti24 opened #30694 "Using Woocommerce Rest API to create order but when order is created its not applying shipping cost."
Hello Team,

I am using  Woocommerce Rest API to create order but when order is created its not applying shipping cost.

On the woocommerce website end shipping methods are setup, which should apply the shipping cost within order.
It's not calculating the shipping cost by own for API order.  API only have options to send a fixed amount value of shipping in request. But in my case this values calcu

[2021-09-10 14:28] aheckler commented on #30053
User in 4288348-zen brought up a scenario that may cause this. I've asked them to have the devs from XLPlugins leave a comment here with more technical detail on the problem.

[2021-09-10 14:46] roykho commented on #28259
I am not able to replicate this. I've tested with PHP 7.x and 8.x with `Trunk` branch and with Storefront and Twenty Twenty One theme. In all testing situations, I am getting the correct following message.

![](https://d.pr/i/RaSTJP+)

Will close this for now and will re-open if we get more cases for this.

[2021-09-10 14:46] #28259 closed

[2021-09-10 15:02] rrennick commented on #30687
It's called from `docker-compose` - https://github.com/woocommerce/woocommerce/blob/trunk/tests/e2e/env/bin/docker-compose.js#L50:L90.

[2021-09-10 15:17] rrennick commented on #30687
@tomalec You could add the following to your initialize.sh

[code]

~~Edit to add: We should add this to our initialization scripts.~~

Edit #2: initialize.sh is logged to the docker logs vs the console. We'll keep this open to investigate if there is an alternative way to do this.

[2021-09-10 17:51] ChadReitsma opened #30695 "Order analytics does not show orders when using Advanced Filters + Attributes"
**Prerequisites (mark completed items with an [x]):**
- [ X ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ X ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When filtering orders, if you select "Advanced Filters" and then select an Attribute+Term, the orders (which contain those products) are not

[2021-09-10 19:58] jrick1229 opened #30697 "Mercado Pago: "ERROR Spec is invalid because the locale could not be retrieved in feed""
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

We're seeing reports on several sites (tickets/chats/forums) where a constant error is being logged since the notice for the Mercado Pago integ

[2021-09-10 20:56] tdobson commented on #28419
I am slightly surprised this isn't better supported, or at least easily switched to.

Here's a howto of [how to enable it](https://www.youtube.com/watch?v=xJnhrmjqhTA) if you haven't already seen.

[2021-09-10 23:34] BrianHenryIE opened #30699 "Settings API validation exception error caught but not displayed"
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [?] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

Seems close to this resolved bug: https://github.com/woocommerce/woocommerce/issues/21484 [2018].

**Describe the bug**

I'm extending `WC_Integration`, then validating the settings as they're saved, throwing an excepti

[2021-09-11 00:35] #30552 closed, assigned to nobody

[2021-09-11 00:35] #30554 closed, assigned to nobody

[2021-09-11 00:35] #30557 closed, assigned to nobody

[2021-09-11 00:35] #30562 closed, assigned to nobody

[2021-09-11 02:07] BrianHenryIE commented on #30699
Not a bug.

Turns out I need this in the constructor:

`add_action('admin_notices', array( $this, 'display_errors' ));`

[2021-09-11 02:07] #30699 closed, assigned to nobody

[2021-09-11 05:20] cuchakma commented on #30556
Tried to reproduce this issue locally, seems to be working fine. Tried every possible way to reproduce the issue, but this reproduction process was done in the local server not live. WooCommerce Version :- 5.8.0-dev

[2021-09-11 05:36] Nick776 commented on #30680
@erikdemarco have the same problem. Every Day.

The strange thing is that we are not using any payment solution in our “shop” as you can see here:

https://www.hello-world.net/jakobswegreisen-shop/

It’s only a download-center for download pdfs for free. so we are not using Mercado Pago.

So what does this errors means?

[2021-09-11 05:44] Nick776 opened #30700 "HTTP API Error"
Hi There!

If we go in the WordPress backend and click to WooCommerce/Status QueryMonitor drops the following HTTP -API error:

Methode:
GET

URL:
https://api.wordpress.org/themes/info/1.2/
?action=theme_information
&request%5Bslug%5D=mh-magazine
&request%5Bfields%5D%5Bsections%5D=0
&request%5Bfields%5D%5Btags%5D=0
&request%5Blocale%5D=de_DE
&request%5Bwp_version%5D=5.7

Status:
404 Not Found
HTTP

[2021-09-11 06:11] mitchellkrogza commented on #23796
This bug still exists in 5.5.2 ??? Surely this should be addressed? Here's a product I used to test some order completion functions, upon cancellation of the order total_sales is still 2 and should be zero. It truly makes we wonder what other messes are lurking undiscovered in my product database? This issue is over 2 years old? Come on Automattic this is not how databases operate.

![2021-09-11_0

[2021-09-11 10:23] erikyo commented on #25461
Sorry to join the discussion only now, but I want to share the fix because I guess i've already solved this issue in the past... Anyhow, this is only a part of the speed optimizations needed in 2021, another important change would be to fix the attribute that prevents lazyloading.

Basically, we wait the image load, to then add width and height
[code]

https://github.com/erikyo/woocommerce/blob/db

[2021-09-11 13:10] tammullen commented on #30649
Hi @buddudevelopers ,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close th

[2021-09-11 13:10] #30649 closed, assigned to nobody

[2021-09-11 13:15] tammullen commented on #30652
Hi @ciclick ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the WooCommerce Subscriptions plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact WooCommerce support team by [opening a ticket or

[2021-09-11 13:15] #30652 closed, assigned to nobody

[2021-09-11 13:16] tammullen commented on #30652
Issue moved to [woocommerce/woocommerce-subscriptions #4187](https://github.com/woocommerce/woocommerce-subscriptions/issues/4187) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-11 13:29] tammullen commented on #30654
Hi {username},

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help furt

[2021-09-11 13:29] #30654 closed, assigned to nobody

[2021-09-11 16:25] tammullen commented on #30680
Hi @erikdemarco ,

Thank you for reporting the issue.
This functionality is developed elsewhere in a private repository.
We are closing your issue in favor of this issue that we will use to track it.
https://github.com/woocommerce/woocommerce/issues/30697
Please continue sharing your feedback there if needed.

[2021-09-11 16:25] #30680 closed, assigned to nobody

[2021-09-11 16:30] tammullen commented on #30697
Hi @jrick1229 ,

Thank you for reporting the issue!
As you noted this is being developed in another private repository.

I'm keeping this issue open for now in case there is anything needed on the core side.

[2021-09-11 16:33] tammullen commented on #30659
Hi @amustaine ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-11 16:36] tammullen commented on #30682
Hi @Ekliptor ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

However to help them fully evaluate this issue can you please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site?

Finally, it

[2021-09-11 16:37] tammullen commented on #30685
Hi @amber-c ,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2021-09-11 16:37] #30685 closed, assigned to nobody

[2021-09-11 16:41] tammullen commented on #30689
Hi @FabLop1967

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2021-09-11 16:42] tammullen commented on #30693
Hi {username},

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2021-09-11 16:42] tammullen commented on #30694
Hi @kbharti24 ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help fur

[2021-09-11 16:42] #30694 closed, assigned to nobody

[2021-09-11 16:43] tammullen commented on #30700
Hi @Nick776 ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2021-09-11 16:52] tammullen commented on #30686
Hi @DynAggelos ,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this is

[2021-09-11 16:52] #30686 closed, assigned to nobody

[2021-09-11 17:03] Ekliptor commented on #30682
Below is a status report for a smaller site where the hook is also not scheduled anymore. I noticed the bigger the site is (more orders per day), the more likely I find the hook to be missing.

I was checking if `woocommerce_cancel_unpaid_orders` is scheduled using WP Control plugin: https://wordpress.org/plugins/wp-crontrol/

I did not try initial troubleshooting steps yet. Not sure how they woul

[2021-09-11 19:15] joshangehr commented on #26289
Came across this one today and glad I found this issue. I agree with the above that the coupon should not be applied unless the billing email address matches one in allowed emails. Retroactively removing a coupon after it's already visually been applied to the cart does present a confusing and poor customer UX.

It seems like the argument for the tradeoff is that the billing address can still be c

[2021-09-11 22:05] chyvak1831 commented on #18395
**Woocommerce has no plans to drop jquery**... they're saying that there are other highest priority tasks (like blocks) 🤦‍♂️
https://github.com/woocommerce/woocommerce/issues/29433#issuecomment-820765345
https://github.com/woocommerce/woocommerce/issues/29433#issuecomment-839982358

[2021-09-12 07:06] Nick776 commented on #30700
@tammullen sry for that, its my first post in github. Hope that it is all fine now.

[2021-09-12 07:16] Nick776 commented on #30680
@tammullen

Hey Tam! We also have this error message and we are using no payment. we have only a "shop" for downloading pdfs as you can see here:

https://www.hello-world.net/jakobswegreisen-shop/

should we open a new issue here on github?

[2021-09-12 10:32] joerifrantz commented on #30691
If it's already fixed why will it only come in the release of 5.8? And not just in 5.7?

Many of our customers have been affected by this bug and it is costing them all extra time to process orders.

[2021-09-12 12:00] #26923 closed

[2021-09-12 15:48] wpniall opened #30702 "Tax inclusive pricing ignored when tax rate updated and recalculated on orders and subscriptions"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
WooCommerce Core is not calculating the correct item cost when a tax rate change is recalculated. As such, the total price increases instead of

[2021-09-12 19:56] pcfreak30 commented on #29080
@vedanshujain I would consider that a hack as I feel it is a bad practice to modify an object's prototype after creating the object if there's a better way. Plus that jquery hook is inside a timer which I also think would be problematic.

[2021-09-13 02:30] alantygel opened #30703 "Percentage fee doesn't update after order edit"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-09-13 04:26] san-coding commented on #30588
Hello, please review my PR

[2021-09-13 07:01] jimjasson commented on #24369
Hey @vinodglobalstep,

Thank you for taking the time to test this!

I revisited this issue and noticed that I can still replicate it on a local site with only WooCommerce (latest version) + Storefront active.

I created a short video to illustrate what I am seeing, in case you spot a setting that is different in your configuration: https://share.getcloudapp.com/X6ul70wq.

Is there a chance that yo

[2021-09-13 10:16] vedanshujain commented on #30661
maybe related to #30347

[2021-09-13 10:22] vedanshujain commented on #30625
@kloon would you folks like to take this one?

[2021-09-13 10:34] vedanshujain opened #30704 "Release ActionScheduler 3.3.0"
@barryhughes mentioned that we are ready to release a new minor version 3.3.0, this issue tracks releasing it.

[2021-09-13 13:01] raffi961 commented on #30697
We are having the same issue.We have no payment gateways active on our website

[2021-09-13 13:21] vinodglobalstep commented on #30681
Hi @jacoswan ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.6 version.

Here's the screenshot:
![30681](https://user-images.githubusercontent.com/46351294/133090989-8595482e-f78d-44fd-bcca-929d2cc14f75.png)

Priority of this issue will be assigned shortly after we’d go through a round of prioritization. Please n

[2021-09-13 13:51] Sartoric commented on #28561
Any news on this ?
I'm still facing the issue in 5.6

And it's the same even using numbers instead of string

`'title' => __( 'Title'), 'type' => 'select', 'default' => 0, 'options' => array( 1 => __( 'Yes'), 0 => __( 'No',)`

[2021-09-13 14:13] andfinally commented on #30625
Thanks @vedanshujain, I've added https://github.com/woocommerce/woocommerce/pull/30706 with a fix for this.

[2021-09-13 14:19] DeanForde opened #30707 "cant validate cart items when customer has specific role"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
was using code to separate products at a checkout in order to prevent certain products being purchased together, lately we started using multipl

[2021-09-13 16:22] vedanshujain commented on #30570
There are two issues here:

1. We need to remove the dependency of order data from the tax table. We need to copy everything the moment an order is created, and updating the tax rate should do nothing for the order unless recalculated.

2. We need to create an audit trail, so that when a tax rate is changed, merchant can go back the previous one if they want to even if that's deleted.

[2021-09-13 16:28] DavidAnderson684 commented on #30570
That's one way of doing it, but above I argue for a different way - to retain the historic rates in the tax table, and to effectively make existing rows immutable.

That's the point of the proposal to retain the rates, and not allow them to be edited (new rates should go into new rows, and old rates should be marked as historic and not shown in the UI).

[2021-09-13 17:14] ReCurrix commented on #30697
I have a shop selling courses and I can not sell anything sice two weeks ago. I have no enabled marketplace suggestions or I cant found it to disable, perhaps is active in the theme.  https://hobbykitchen.es/ I only can sell by transference.

[2021-09-13 19:58] dixitalmedia opened #42664 "Widget Product Categories: show_children_only"
Hi

I miss the option “show_children_only” in Product Categories block.
Since a shop could have hundred categories it creates such a big list that makes the user scroll too much.

This options was included in classic widget.

Many thanks in advance.

Regards,
Jairo

[2021-09-13 20:26] ethanclevenger91 commented on #29574
Just an additional thought here - I'm assuming there's some set of guidelines that approved/reocmmended Woo add-ons are supposed to adhere to. Adding this CSS variable to those guidelines and ensuring all add-ons use it would also be a huge help.

For example, right now, there is no centralized site-wide notice system, even among the core Woo add-ons, so the store notice in core and the missing pr

[2021-09-13 21:29] #29963 closed

[2021-09-13 22:56] gbakeman opened #30708 "Adjust criteria for dispatching "New Order" notification emails"
[Related WP.org support topic](https://wordpress.org/support/topic/disable-pending-to-on-hold-new-order-notification-email/)

When an order status transitions from _Pending_ to _On Hold_ (such as when a transaction is placed on hold for review), the New Order email is dispatched. In addition, when an order transitions from _On Hold_ to _Processing_, the New Order email is **not** dispatched as one

[2021-09-13 23:44] strarsis opened #30709 "Allow moving product categories under parent categories (drag&drop sorting)"
**Is your feature request related to a problem? Please describe.**
When it is attempted to move a product category under a parent category (drag&drop sorting), nothing will happen.
I just tried to bugfix this (I suspected a plugin incompatibility) until I noticed in the [WooCommerce JavaScript code for product category sorting](https://github.com/woocommerce/woocommerce/blob/b19500728b4b292562afb6

[2021-09-14 00:36] #30232 closed

[2021-09-14 00:36] #30476 closed, assigned to nobody

[2021-09-14 06:56] Nick776 opened #30710 "ERROR Spec is invalid because the locale could not be retrieved in feed"
Hi There!

Every day we get the following error message in our WC log-file:

2021-08-31T16:09:03+00:00 ERROR Spec is invalid because the locale could not be retrieved in feed
2021-08-31T16:09:03+00:00 ERROR stdClass Object
(
    [slug] => mercadopago_q3_2021_ES
    [type] => marketing
    [status] => unactioned
    [is_snoozable] => 0
    [source] => woocommerce.com
    [locales] => Array

[2021-09-14 06:58] Nick776 commented on #30700
@tammullen Tam do you need more informations?

[2021-09-14 17:50] buddudevelopers commented on #29263
@tammullen This issue was erroneously closed. I think you could not reproduce because of your error level. I am also experiencing it
![undefinedindex](https://user-images.githubusercontent.com/56328383/133308417-143de658-ea32-45ca-a203-b09d066ab5e5.PNG)

[2021-09-14 18:44] aloksharma1 opened #30713 "woocomerce coupon discounts with multiple flat rates methods not working?"
I have a woocommerce site, where we use **discount coupons** to provide **free shipping or flat rate shipping** to our customers. Generally our coupons system works fine for our needs, now we have to provide our users with multiple flat rate based discount coupons and we were able to easily add multiple types of flat rate shipping methods using :

**woocommerce->settings->shipping methods->shippin

[2021-09-14 19:37] tomalec commented on #30687
How can I use it?

I tried:
[code]

But it results in

<details>
<summary><code>401 woocommerce_rest_cannot_view</code></summary>

[code]

</details>

[2021-09-14 20:42] poletaew commented on #30697
Oh, stop this junk messages asap. How was it possible to put it on production? For thousands users? Seriously?

[2021-09-14 22:50] strmca commented on #30697
Commenting to add that I have the same issue on my site.
The only payment types installed and enabled are WooCommerce PayPal Checkout Gateway (currently deactivated pending deletion after further testing of the following plugin:) and WooCommerce PayPal Payments so Automattic/Woocommerce payment type plugins only. (Akismet and Jetpack also installed in case it's relevant)
The only other plugins not

[2021-09-14 23:29] amber-c commented on #30697
From my understanding it's not a "junk message". It was a geographically targeted message to let specific regions know about a new payment gateway - which they might have been waiting for.

Unfortunately, it looks like the locale reference isn't working and thus the rest of us have ended up with this log spam. From what support told me this shouldn't effect our Woo sites in away way other than gen

[2021-09-14 23:36] 9ete commented on #30630
I believe this behavior is intentional.  When I add a shipping method and then click the button in the popup to actually add the shipping method(vs the close X), the shipping method entity is being saved via ajax so when the popup closes there's nothing more to save and we'd expect the button to be disabled.

[2021-09-14 23:41] drmohamedhussein commented on #10627
i hope you found a solution because iam stuck in this also

[2021-09-15 00:35] #30299 closed

[2021-09-15 06:22] Stas0238 opened #30714 "Uploading of the logo in the Personalize my store section reset theme options"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-09-15 08:02] m-f-work commented on #8255
Code we make the update more dynamic by updating these lines?

`var $country_input = $( this ).find( '#billing_country, #shipping_country, #calc_shipping_country' );`
to
`var $country_input = $( this ).find( 'select[id*="_country"' );`
and this:
`$statebox = $wrapper.find( '#billing_state, #shipping_state, #calc_shipping_state' );`
to
`$statebox = $wrapper.find( '#billing_state, #shipping_state, #

[2021-09-15 09:57] jenthakkar commented on #27686
I got the issue, not the solution.

When we create an order with rest API, at that time coupon usage limit increase two times.

1st increase when the order goes in pending[payment remaining] status and 2nd time when the order goes in processing[order placed with payment] state.

Let me know if anyone can help with it.

[2021-09-15 10:05] Konamiman commented on #30682
Hi @Ekliptor, thanks for your report. This indeed seems like a bug that needs to be fixed.

Given that you seem to be familiar with the involved code, would it be possible for you to submit a pull request with a fix? If not, no problem, we'll take it ourselves.

[2021-09-15 10:15] Konamiman commented on #30646
Hi @yoancutillas, thanks for your report. This indeed looks like a bug in WooCommerce, I'll mark it as such so that it goes to our tasks queue.

[2021-09-15 10:16] Konamiman commented on #30646
For the record, the problem seems to be that `noncache_headers` is forcing calls into WooCommerce's filters before the query runs; the fix would be adding an exit condition to check if `wp_query` is set before trying the `is_page` call.

[2021-09-15 10:21] Konamiman commented on #30551
Hi @JakeQZ, thanks for your report; this looks indeed like a bug that needs to be fixed.

Since you seem to have a clear understanding of the code and the possible fix, would you be able to submit a pull request with the fix? If not, no worries, we'll work on this ourselves.

[2021-09-15 10:31] yoancutillas commented on #30646
Thanks a lot!

[2021-09-15 10:31] Konamiman commented on #28975
Hi @fidel-ruiz, thanks for your suggestion.

I'll mark the "new parameter on order creation" approach as an enhancement request; low priority for now, but we'll revisit the request if it gets interest from additional people. Meanwhile I suggest you to use the the metadata approach, as it should be enough for your use case.

[2021-09-15 10:38] Konamiman commented on #27062
Hi @jsakas, thanks for your suggestion. I'll mark this as an enhancement request, but low priority for now since the workaround suggested by @mmiszy seems good. We might change the priority if this gets interest from more people.

[2021-09-15 10:56] Konamiman commented on #28166
Hi @jasongm98, @broksonic21 and everyone else interested. This looks like a bug needing a fix indeed, I'll mark it as such so it's in our radar to get worked on.

[2021-09-15 11:31] pramodjodhani commented on #27579
Hello WooCommerce team,

Is there any update or ETA for this issue?

[2021-09-15 12:09] diegosomar commented on #30610
Hello @vinodglobalstep, tks your answer.
I can't understand... I tested in many installations. In my local and in a vanilla WC installation (online test above).
Perhaps there's some configuration which cause the problem.
I will study and test a bit more. A think the issue can be closed for now.
If I figure out a way to reproduce, can I ask to reopen?

[2021-09-15 12:50] rrennick commented on #30687
Do you have the Basic Auth plugin installed and active?

[2021-09-15 15:05] #29890 closed

[2021-09-15 17:44] #30625 closed, assigned to nobody

[2021-09-15 18:14] virgiliosuarezlanzas opened #30717 "problema en el enlace de categoria sale aviso:Notice: Trying to get property 'post_modified' of non-object in /home/excopren/www/wp-content/plugins/woocommerce/includes/class-wc-template-loader.php on line 346"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-09-15 18:17] csmcneill commented on #26289
Another report in 31565453-hc.

[2021-09-15 18:49] rrennick commented on #28435
I checked today and all the local package warnings were addressed in previous PRs. Closing the issue.

[2021-09-15 18:49] #28435 closed

[2021-09-15 19:11] lisaboyd commented on #27424
I came back to this thread because I was having issues with the Woocommerce database update is done box not going away. I updated to WordPress 5.8.1 and the box went away. Not sure if that helps anyone else.

[2021-09-15 20:21] tomalec commented on #30687
Nope, I didn't know I need to do that.

Personally, I find it strange that I need to install another plugin just to check the WC version being installed and run. Plus, it ads 1~2s on my local machine to the test's execution time. Not to mention the technical debt, of yet another dependency.

[2021-09-15 20:35] rrennick commented on #30687
Unfortunately, it's unavoidable because the docker container is non-SSL and the REST API only supports basic authentication.

[2021-09-15 21:21] tomalec commented on #30687
I wonder, why do we need all that REST routing, couldn't `e2e/utils` or `e2e/env` expose those configurations directly and synchronously?

I totally get why production runtime system environment REST API needs to be behind authentication. But I don't get the reason why the developer/consumer of `@woocommerce/e2e*` package needs to authenticate to make it access some information from its config/ini

[2021-09-15 21:22] barryhughes opened #30718 "Action Scheduler 3.3.0"
Per planning call, update bundled Action Scheduler library to 3.3.0.

[2021-09-15 23:20] ChadReitsma commented on #30695
Thanks guys, hope this can make it into the next release.  Some of our clients are trying to use it.

[2021-09-16 02:24] JuliusCassy opened #30720 "Wordpress and the Source Code ACSII Problem"
Hello Github :) (Im a Noob)
I have the problem that I cannot display an ACSII Art on my source code
i have tried a lot for over 10 hours i search and find nothing

i was heavily inspired by other websites

I have the acsii Art (Its A Hamster) but how do I blend it into my source codes? better said where exactly?

I have
Tried /home/WebsiteName/wp-content/themes/astra/header.php with no success
put

[2021-09-16 06:01] Poolee opened #30721 "Shipping amount not passed to payment provider sometimes"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
On multiple occasions, no discernible pattern, I have received p

[2021-09-16 06:22] davidpru opened #30722 "Error on quick edit, when we mark a product in hidden visibility"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In quick edit, when we mark a product in hidden visibility. We refresh the page. All products show hidden visibility in the select field. We thi

[2021-09-16 08:10] #30718 closed, assigned to nobody

[2021-09-16 08:16] tammullen commented on #30695
Hi @ChadReitsma ,

Thank you for reporting the issue. Analytics is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-09-16 09:01] WhyNine commented on #30697
I'm also getting this message on my site - very annoying.

[2021-09-16 09:29] sanzeeb3 commented on #30720
Add in your theme's functions.php

[code]

[2021-09-16 12:45] roykho commented on #30722
This is already fixed and currently in trunk branch. Will be released in 5.7. Thanks for reporting.

[2021-09-16 12:45] #30722 closed, assigned to nobody

[2021-09-16 13:21] jenthakkar commented on #27294
I got the issue, not the solution.

When we create an order with rest API, at that time coupon usage limit increase two times.

1st increase when the order goes in pending[payment remaining] status and 2nd time when the order goes in processing[order placed with payment] state.

Let me know if anyone can help with it.

[2021-09-16 14:09] jonathanhsholar opened #30725 "Importing Products Button"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When attempting to import new products by clicking the "Import" button, I keep receiving an error message that says "This age isn't working...

[2021-09-16 15:02] juliaamosova commented on #30634
Pending https://github.com/woocommerce/woocommerce/pull/29441 to be merged.

[2021-09-16 15:03] juliaamosova commented on #30637
Pending https://github.com/woocommerce/woocommerce/pull/29441 to be merged.

[2021-09-16 16:11] madriverweb opened #30728 "Product Title no longer shows as title attribute when hovering over product gallery thumbnails"
Please give ma a bit of latitude here. Learning to use Github is challenging. I could not find a way to search for my issue, only your categorization of existing posts.

Additionally, I am reporting this as a bug rather than a request for feature or one other type that didn't seem as applicable because what I describe used to work on our website.

**Prerequisites (mark completed items with an [x])

[2021-09-16 16:19] gglobalstep opened #30729 "[GlobalStep] For Atomic sites, "Marketplace" as header is displayed for "WooCommerce >> My Subscriptions" screen."
## Bug Description:
"Marketplace" as header is displayed for "WooCommerce >> My Subscriptions" screen.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 RC 1
WordPress version: v5.8

PC:
Windows 10, Mac 10.14.6
Chrome(Version 92.0.4515.131)
Firefox(Version 90.0.2)
Safari: v14.1.2

## Steps To Reproduce:
1. Login with valid credentials.
1. Install and activate WooCommerce 5.7.0 RC 1.
1. Comp

[2021-09-16 17:12] roykho commented on #29962
@JohnChandlerEdmonton - Thanks for reporting this however this is by design. If an order has not been successfully paid for, the items should stay in the cart. So in this case if the order is in `pending` status, it is not paid for yet. I understand in certain circumstances you may want a different behavior which is why we have hooks added for these cases which you're already using.

I would say t

[2021-09-16 17:12] #29962 closed

[2021-09-16 17:27] nerrad commented on #42664
Hi there 👋

Thanks for taking the time to share this idea, we really appreciate your help.

While this is clearly a great idea, we won't be able to tackle it in the upcoming weeks as we're currently focused on finishing all the work that was identified as a priority for the next few releases of this plugin.  I'm going to add this to our backlog where it will be considered for future releases.

The

[2021-09-16 17:45] wisenet commented on #30618
I have same issue.

[2021-09-16 17:55] rodelgc commented on #30729
Noting that this issue started happening in 5.7 beta. It's not specific to RC1.
Also, it only happens on Atomic sites that I created. But based on this internal conversation - p1629969197002400-slack-C01DT6U03HC - it doesn't happen on @andfinally's Atomic sites.

[2021-09-16 18:50] dixitalmedia commented on #42664
Hello,

That’s sounds great.
I’ve missed this featured because Product Categories widget includes it.
If it does not exist, large categories list makes the user to scroll too much.

Saludos,

Jairo Ochoa

[2021-09-16 20:42] cherylstash commented on #30697
We are also getting this, and even weirder, the content of the log is in a different language than we use on our site, anywhere.

[0] => stdClass Object
                (
                    [locale] => es_ES
                    [title] => Cobrá con el Checkout de Mercado Pago
                    [content] => El procesador de pagos líder en América Latina ya está disponible para las tiendas de Woo

[2021-09-16 21:03] sparky672 commented on #32241
Same here... actually have had this issue for a very long time, perhaps a year or more.  Up to 5.8.1 and surprised to see it's still a lingering problem.  Such a simple thing that needs to be bullet-proofed.

I shouldn't have to make manual edits to the database to hide this nag every time.  One of the plugin developers over on the WordPress forum stated that if you don't click the button within 2

[2021-09-16 21:22] richsadams commented on #32241
Agreed, should be fixed by now. This issue is posted on numerous sites and numerous threads. It's a well-known bug.

The nag persisted even if I updated within a few hours. I've been having to manually correct it for far too long.

[2021-09-16 21:25] sparky672 commented on #32241
And there are so many open and closed bug reports on this I don't even know where I am supposed to post.

[2021-09-17 01:19] tonydjukic commented on #27424
Interesting thing I just noted... ...after numerous clicks of the 'Thanks' button on the Database Update notification did nothing, I opened the developer console in Safari and clicked the button again.  This time when the page reloaded the notice was gone.

[2021-09-17 01:44] WiredWonder opened #42663 "Hand picked product ordering / sort"
## Is your feature request related to a problem? Please describe.
When choosing items for the Hand Picked Product block, they are sorted by the default Woocommerce sort order options (name, newness, etc).

## Describe the solution you'd like
It would be amazing if the Hand Picked Product block allowed the author to custom sort the order order of the products in the widget, ideally through somethin

[2021-09-17 02:17] roykho commented on #27424
@tonydjukic that would seemingly mean it's cached by your browser? If I recall some browsers when you have developer console open, it will not cache so you can troubleshoot.

[2021-09-17 02:24] samimakela opened #30730 "woocommerce_adjust_non_base_location_prices filter doesn't work for orders created via REST API"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
_woommerce_adjust_non_base_location_prices_ filter with false return value, does not have any effect if order is created via REST API.

**Expect

[2021-09-17 02:35] cherylstash commented on #14541
We are having this issue also.  Customer places order, then goes back to Cart, same product is back in the cart.  We have tried all sorts of custom code to clear cart, clear persistent cart.  This only seems to be an issue when AutomateWoo is also activated/transactional emails go out.  It sometimes happens every single order, other times seems to be fixed for a few hours only to have the issue co

[2021-09-17 02:58] tonydjukic commented on #27424
@roykho I considered that as well, but I did do several hard refreshes prior to opening the console with no luck and it the notice has been present for weeks now.

[2021-09-17 07:42] corsonr commented on #30697
This issue has been fixed and will self disappear when the cron will run (once a day), however, if you want to force the cron to run, you can use [WP Control](https://wordpress.org/plugins/wp-crontrol/) and:
- run `DELETE FROM wp_customer_wc_admin_notes` via phpMyAdmin
- delete these options in `wp_options`: `wc_remote_inbox_notifications_specs` and `wc_remote_inbox_notifications_stored_state`
- r

[2021-09-17 07:42] #30697 closed, assigned to nobody

[2021-09-17 08:17] andfinally commented on #30680
Hi @Nick776, the error is now addressed, so there's no need for another issue, thanks! It wasn't connected to any payment method on your site.

[2021-09-17 11:02] AH72KING commented on #14541
@cherylstash .
Yes that can happen when many different plugins and APIs are involved
but I think what you need is simple clear cart code on order creation
if you are still getting issue i would like to give it a try to fix
please let me know

[2021-09-17 11:08] vyskoczilova opened #30731 "WP passwords may not contain the character "\", however you can use it in My Account page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-09-17 15:47] AllArmsLLC commented on #30607
I'm just commenting here to make sure the fix which will be implemented is complete. This isn't only an issue with not being able to go to the SECOND add product field. After you click on the Add Product button from the order screen, you used to be able to just start typing in the first product name, and the search field for the first entry would begin filling. This is how the fix will function, c

[2021-09-17 15:47] John-belt commented on #32247
Hi, Any update on this??

[2021-09-17 16:35] billrobbins opened #30732 "Inconsistent handling of out of stock variations when an "any" variation is present"
**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
A merchant has a product with at least one attribute used for variations.  They only create variations for specific attributes that are out of s

[2021-09-17 16:38] etoler1841 opened #30733 "Cart quantities can appear incorrectly after modification"
**Prerequisites**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
There is an extremely narrow issue in which the quantity display on the cart page may not match the actual quantity of an item in the cart. This issue is isolated to the quantity i

[2021-09-17 17:02] barryhughes opened #30734 "GitHub Actions: milestone action should not remove existing milestone"
If a milestone has already been set for a PR, our action probably should not remove and overwrite it.

Script: [.github/workflows/scripts/assign-milestone-to-merged-pr.php](https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/scripts/assign-milestone-to-merged-pr.php)
Example: https://github.com/woocommerce/woocommerce/pull/30712

[2021-09-17 18:25] JakeQZ commented on #30551
I can certainly submit a PR with the code change.  I'm looking at adding a test case to `WC_Emails_Tests` though don't have a Linux dev machine so debugging that may be tricky.

[2021-09-17 18:29] elizaan36 opened #32234 "Can't install extensions after business details step"
### Describe the bug
I'm unable to install extensions in the free business features step of the store profiler, and I'm getting the error "Your business details cannot be updated."

There's also a "Retry" button in the business features step and another link to "Continue without installing". I had to choose continue without installing in order to proceed to the next step.

This is extremely confus

[2021-09-17 18:58] joshbetz commented on #28508
@anitaa1990 Is it possible to know when someone is trying to search by SKU? If so, we could do something like:

[code]

One problem with having search always look up a SKU is that it makes every product search query slower (because of the extra post meta query). Changing the API to allow searching for SKUs with the `sku` param would isolate that slow query to SKU searches only. IMHO that would be

[2021-09-17 20:20] louwie17 opened #30736 "wcadmin_order_edit_recalc_totals track has invalid property format"
The **wcadmin_order_edit_recalc_totals** track is being rejected, this is because it expects snake case for both the event name and the property keys.
The above track has a property key `OK_cancel` which doesn't follow this format, we should change it to `ok_cancel`.

https://github.com/woocommerce/woocommerce/blob/trunk/assets/js/admin/meta-boxes-order.js#L817-L829

See the tracks live view with

[2021-09-17 22:56] Farallon5 commented on #30172
Is anyone working on this? The issue is still not resolved. Currently the Next page/Last page controls don't work so you can never get beyond the first page. In our case we have almost 2500 tax rates and 25 pages and that's just for California.

[2021-09-18 04:26] samimakela commented on #30730
Would be happy to work on this, but would love to hear some comments on the best approach.

One option would be to set the WC()->customer instance when creating an order via REST API. It would solve the problem, since [WC_Tax::get_tax_location()](https://github.com/woocommerce/woocommerce/blob/670b833a875c0455d8501db457be05299aa634bc/includes/class-wc-tax.php#L453) uses the customer data to determ

[2021-09-18 04:49] datgausaigon commented on #30505
Hi @tammullen,
Can this new feature be updated to the upcoming 5.8 or 5.9 version? Thanks

[2021-09-18 05:36] Nick776 commented on #30680
@andfinally It's working. We see no more entries in the errror log since yesterday. thnx for helping and best regards from Germany

[2021-09-18 06:18] ut4utc commented on #27424
This is not cache. In this post I write, how can solved this problem via phpmyadmin and sql. https://bytecode.com.ua/wordpress/0709-5065

[2021-09-18 14:32] nixiack commented on #27686
@vedanshujain @peterfabian let us know if you are able to find the solution on this issue :)

[2021-09-18 15:23] myko83 commented on #27419
I suspect that woocommerce has blocked it and wants us to buy their own widget as there is an option to filter product by attribute from woocommerces and it does come up on the filter area, however it is not active further on they're asking to install it.
![Screenshot 2021-09-18 at 15 52 19](https://user-images.githubusercontent.com/7107291/133893843-6fb86d0b-39b2-4a32-b5fb-309734772dcc.png)

[2021-09-18 16:10] tonydjukic commented on #27424
That's not a fix though; we need a fix for the average user not just developers with phpMyAdmin access.

[2021-09-18 17:36] ut4utc commented on #27424
ok, wait stupid Indian programmers, who fix it after 1000 years... I want too - for everybody, because this is bug. But woocoomerce politics not fix it quickly, that is what i mean. I'm sorry for my words, but we have a big problem - if everyone know that problem have now - we need a quickly fix it now. Not after 2 month.. But politics are bed and we have what we have..  I write this post, because

[2021-09-18 19:13] juliaamosova commented on #30736
Hi @louwie17,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-18 19:14] juliaamosova commented on #30730
Hi @samimakela,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-18 19:15] juliaamosova commented on #30717
Hi @virgiliosuarezlanzas,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible;

[2021-09-18 19:33] juliaamosova commented on #30720
Hi @JustJiggi,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help furt

[2021-09-18 19:33] #30720 closed, assigned to nobody

[2021-09-18 19:36] juliaamosova commented on #30713
Hi @aloksharma1,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2021-09-18 19:36] #30713 closed, assigned to nobody

[2021-09-18 19:39] juliaamosova commented on #30710
Hi @Nick776,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the [Mercado Pago Checkout](https://woocommerce.com/products/mercado-pago-checkout/) plugin which is one of the products on our marketplace. To get further technical support for it, please contact

[2021-09-18 19:39] #30710 closed, assigned to nobody

[2021-09-18 19:40] juliaamosova commented on #30709
Hi @strarsis,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-09-18 19:41] juliaamosova commented on #30708
Hi @gbakeman,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-09-18 19:43] juliaamosova commented on #30707
Hi @DeanForde,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code-related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help furt

[2021-09-18 19:43] #30707 closed, assigned to nobody

[2021-09-18 19:44] gbakeman commented on #30708
Thank you for commenting @juliaamosova! I was considering making the contribution myself, although I don't know if I'd be able to get to that in any reasonable time either.

One question I had is, there's at least one open source plugin that I'm aware of (GPLv3 IIRC) that implements this functionality. Are there any rules about adopting some of that plugin's code into the main WooCommerce code?

[2021-09-19 02:31] tonydjukic commented on #27424
This isn't a user forum, it's the GitHub repo - you can post and promote your personal blog post in the WooCommerce support forum on WordPress.org, but this specific repo and discussion is supposed to be about discussing and submitting code based solutions to address technical issues within the code.  It's not meant for rants about other programmers, regardless of ethnicity.

[2021-09-19 04:23] ut4utc commented on #27424
sorry. I delete my post.. I apologies.

[2021-09-19 06:13] WiredWonder opened #30737 "wp wc does not allow product status of trash"
Using WP CLI to update products and can't set them to Trashed. This is often required instead of a hard delete where historical data is required (eg. order history or integration with 3rd party systems).

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and clos

[2021-09-19 12:39] ReCurrix commented on #30697
The problem continue, I have the last woocommerce and plugins and force cron task.

[2021-09-19 22:07] jbrogaard commented on #27419
How so very unprofessional WC :(

[2021-09-20 00:49] astylez718 commented on #30680
I'm still having this issue.

2021-09-16T20:25:57+00:00 ERROR Spec is invalid because the locale could not be retrieved in feed
2021-09-16T20:25:57+00:00 ERROR stdClass Object
(
    [slug] => mercadopago_q3_2021_ES
    [type] => marketing
    [status] => unactioned
    [is_snoozable] => 0
    [source] => woocommerce.com
    [locales] => Array
        (
            [0] => stdClass Object

[2021-09-20 06:51] corsonr commented on #30697
@ReCurrix did you run the CLI command?

[2021-09-20 07:22] Aljullu commented on #42663
Thanks for opening this issue @galapogos01. While the Hand-picked Products block doesn't allow ordering products right inside the block, you can tweak the order products are shown as follows:

1. In the Hand-pick Products block, select the _Order products by: Menu order_ option.

<img src="https://user-images.githubusercontent.com/3616980/133965987-c57c4050-e756-4d30-a685-5e611c8f5567.png" width="

[2021-09-20 07:45] WiredWonder commented on #42663
@Aljullu can you please re-open the ticket? The proposed solution changes the global product sort order everywhere, and is not a viable solution for an actual store with 4500 products.

Thanks,
Jason

[2021-09-20 09:05] kviron opened #30738 "Error: The OAuth parameter oauth_consumer_key is missing"
I'm creating my own plugin. On the plugin page in the Wordpress admin panel, I'm trying to display a list of products.

Here is the page code

[code]

If the request for posts is
[code]

The response is successful
As soon as I add the ?page=2 parameter
[code]
I get an error

[code]

var_dump Woocommerce Api Object

[code]

[2021-09-20 13:21] rrennick commented on #30737
@galapogos01 Use `delete` to trash a product:

[code]

I'll close the issue.

[2021-09-20 13:21] #30737 closed, assigned to nobody

[2021-09-20 15:02] #30738 closed, assigned to nobody

[2021-09-20 15:44] FITZKRAWALLDO commented on #30088
#reopen

[2021-09-20 15:47] chrisg44 opened #30740 "Documentation Error"
N.B. I'm trying to help and leave a quick "you may have an issue here" - sorry I'm not wading through the overly long instructions that you provide.

In this documentation: https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-orders

The Python code is stated as:

 print(wcapi.get("orders").json())

for me this returns []

However

print(wcapi.get("orders/#").json())

returns a list o

[2021-09-20 16:27] vedanshujain commented on #26641
We discussed this and we will add a warning for now that will notify that coupon is not really allowed for users that it isn't assigned to, but not enforce this strictly because it may break workflow for many existing shops. We should also note in order notes when a restricted coupon is applied (also noting the admin who applied the coupon).

We should also store audit for every order edit interac

[2021-09-20 16:33] vedanshujain commented on #26641
This may also need refactoring so that we use same code in both frontend and backend to generate the warning.

[2021-09-20 20:23] joshbetz commented on #27131
@jaclync To make sure I understand the problem here, is it that you can't tell if the tax class is inherited from the parent? And the problem is that you then can't edit the tax class of a product that inherits from a parent?

[2021-09-20 22:13] B1022 opened #30743 "Error 500 when I try to Edit a product"
- [x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When editing a woo-commerce product I get an internal server error. The website works fine, just cannot update the products.

**Expected behavior**
Be able to update products without causing inter

[2021-09-21 00:43] jaclync commented on #27131
exactly! we currently don't show the tax/shipping class of a variation in the app because of this. example screenshot in core:

<img src="https://user-images.githubusercontent.com/1945542/134095620-a59c47ce-1ea4-44ac-a3ee-3ed9b5a463a1.png" width="300" />

[2021-09-21 02:00] jgreys commented on #28640
Hello everyone! Any updates on this ?

[2021-09-21 02:54] rsidhaarth opened #30744 "MariaDB Galera Issue"
Hi Team,

I have used ProxySQL and MariaDB Galera Cluster to connect the DB. Whereas when we connect the DB via proxy SQL, the site is not working as intended.

All the pages are working well, except the checkout page. As soon we click to proceed to checkout, nothing happens. It just moves to the header of the page. And in the admin orders sections, we just see the order number and no other info i

[2021-09-21 08:28] Aljullu commented on #42663
Fair enough. I will keep this issue open, but to make expectations clear, we don't have plans to implement something like this directly in the block in the short-term.

[2021-09-21 14:02] joshuatf opened #32233 "WooCommerce Payments task should be busy while installing"
### Describe the bug
The WC Pay task installs WC Pay and redirects, but nothing seems to occur while this is happening.  A busy state should be placed on this task while we await install.

@elizaan36 do you have thoughts on the loading state for this task?  Disable the input and gray overlay on the entire task?

This issue may exist in the current task list, but we should address in the new REST A

[2021-09-21 16:04] gglobalstep opened #30747 "[GlobalStep] "HTTP API Calls" error triggered upon clicking "WooCommerce Shipping" option on shipping screen."
## Bug Description:
"HTTP API Calls" error triggered upon clicking "WooCommerce Shipping" option on shipping screen.

## Environment:
Woocommerce Version : WooCommerce 5.7.0 RC-2 & 5.8 beta
WordPress version: v5.8.1

PC:
Windows 10, Mac 10.14.6
Chrome(Version 93.0.4577.82)
Firefox(Version 92.0 (64-bit))
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and a

[2021-09-21 16:53] elizaan36 commented on #32234
Also tried installing WCPay via WP plugins and I'm getting an error there as well. "Destination folder already exists."

<img width="617" alt="image" src="https://user-images.githubusercontent.com/5121465/134213792-29bdb93a-3610-458a-bef7-f56ce870df66.png">

@moon0326 mentioned that the issue is probably that the plugin can't be installed when it failed on the first attempt. This is a Jurassic Nin

[2021-09-21 17:06] nagpai opened #30748 "Delimiter - \n appearing between recipients' email address"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Within WooCommerce email settings, if we add multiple comma-separated emails for recipients of the email notification, the comma delimiter is pr

[2021-09-21 17:10] elizaan36 commented on #32233
I just tested it on a site that's already connected to Jetpack and it was about 8 seconds from clicking the task to bringing up the KYC. What are the processes happening in the background at this time? WCPay is already installed.

Would be best to indicate to the user what's happening so trying to understand what's actually causing the delay.

[2021-09-21 17:17] zhongruige commented on #30747
Closing--this issue has been transferred to this repo: https://github.com/Automattic/woocommerce-services/issues/2475

[2021-09-21 17:17] #30747 closed, assigned to nobody

[2021-09-21 18:17] cherylstash opened #30750 ""Ghost" item back in cart after purchase"
am having an issue with my WooCommerce/AutomateWoo installation.

I do the following:
1) Add an item to my cart
2) Check out (Either in test mode or with a 100% coupon applied)
3) Recieve order confirmation. At this point, I observe that the cart is empty.
4) Verify in the database that the persistent cart has been cleared from the database.
5) Open https://domain/cart
Expected: The cart is still

[2021-09-21 21:16] passatgt opened #30759 "Actions triggered multiple times if you accidentally double-click the Update button while editing an order"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If you press the Update button on the order edit screen multiple times accidentally(like a double click), various WooCommerce actions will be ru

[2021-09-21 21:17] passatgt commented on #30759
One note is that this could be a core WP issue, since WC is just using the built-in post edit screen for orders / products. And also i'm not sure if a fix can be implemented on server side, or multiple form submits should be prevented with just JS on the frontend.

[2021-09-21 21:50] BrianHenryIE commented on #28560
For anyone who comes across this issue, I've written some code to check the email address sooner:

https://gist.github.com/BrianHenryIE/ba1b2b04f08e8dfba5bc6c8b76cfeee5

[2021-09-21 22:15] szepeviktor opened #30765 "Benefit from PHPStan"
Hello!
Static analysis is equal to 100 additional WooCommerce developers :)
👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬
👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬
👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬
👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬
👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬
👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬
👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬
👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬 👨‍🔬
👨‍🔬

[2021-09-21 22:18] szepeviktor commented on #30765
Sent PR-s with the first two findings: #30763 #30764

[2021-09-21 23:01] zarbag opened #30768 "How to extend $args in wc_get_email_order_items"
Hey,

I want to add a variable  with a boolean value yet when i see the wc_get_email_order_items code source i see that the args can't accpets other arguments .
The functions exists in :
wp-content/plugins/woocommerce/includes/wc-template-functions.php

Thanks a lot .

[2021-09-22 09:27] pmcpinto commented on #32234
Thanks for opening an issue about this. AFAIR we tried to debug this in the past and it was difficult to find the root cause. Maybe we can include this in the next GlobalStep testing cycle. @becdetat @mattsherman what do you think?

[2021-09-22 09:42] vedanshujain commented on #30765
Thanks for the help. Looks like unit tests are failing on those PRs, can you please check if they are related?

[2021-09-22 09:44] #30231 closed

[2021-09-22 09:59] szepeviktor commented on #30765
CI has a problem with installing `phpunit/phpunit`. Please see the above linked PR.
#30770 tries to fix it...

[2021-09-22 10:02] jamiepawprint opened #30772 "Tweak: Download filepaths - every download link broken"
When updating WooCommerce to 5.7.0, the download file URL on the product page changes from https://domain.com/ to /var/www/html/, rendering the all download file links broken when using get_files().

Product Page, before update button pressed
![image](https://user-images.githubusercontent.com/91190204/134323687-67689856-dae2-4176-966c-62f603cb93e2.png)

Product Page, after update button pressed
![

[2021-09-22 10:12] vedanshujain commented on #30772
I can repro on my local environment, looks like this happens when download method is set to "Redirect (Unsecure)". While we work on a fix, can you check switching download method to "Force downloads" in WooCommerce > Setting > Product > Downloadable products fixes the issue?

[2021-09-22 10:23] jamiepawprint commented on #30772
Updated to "Force Downloads" doesn't seem to change anything. In the meantime i've added the below which seems to have temporarily fixed the issue.

`$files[] = str_replace('/var/www/html', 'https://pawprintfamily.com', $download["file"]);`

[2021-09-22 10:37] Jonas18175 opened #30773 "RemoteInboxNotifications ArrayColumn parameter error"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

A php warning:
Warning: array_column() expects parameter 1 to be array, string given in /bitnami/wordpress/wp-content/plugins/woocommerce/packa

[2021-09-22 13:12] stuartduff commented on #24244
Also seen in 4315608-zen

[2021-09-22 13:35] dangrie158 commented on #30772
Can confirm the exact same issue. I temporarily fixed it in my reverse proxy by adding

[code]

[2021-09-22 15:02] aprinciple opened #30775 "The "class" attribute is displayed incorrectly in the search widget wc"
Outputs the attribute "class name" instead of class, so css styles do not work

<img width="934" alt="Screenshot 2021-09-22 at 17 50 48" src="https://user-images.githubusercontent.com/46525581/134369125-e4a031bd-59ce-4d3f-9e7c-e3e7c8c9afc6.png">

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports la

[2021-09-22 15:27] edwardj90 opened #30776 "Font types not changing in Product Description and Custom Tabs when making page live or previewing"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-09-22 16:09] rodelgc commented on #30773
Hi @Jonas18175 ,

Thank you for raising the issue. However, I can’t reproduce it on my end.

I can access the WooCommerce Settings just fine on WC 5.7.0:

<img width="973" alt="Screen Shot 2021-09-23 at 12 07 12 AM" src="https://user-images.githubusercontent.com/4509348/134380919-87f7152f-883d-4a4f-b211-68188f1ef6bf.png">

I see that you have several plugins installed and that you don’t use one of

[2021-09-22 16:09] #30773 closed, assigned to nobody

[2021-09-22 16:17] rodelgc commented on #30775
Hi @aprinciple,

Thank you for submitting the issue. However, you didn’t completely fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

It would also be helpful if you could provide us a screenshot of the element that has the `classname` attribu

[2021-09-22 16:19] rodelgc commented on #30765
Thank you @vedanshujain for looking into it. I'll add a `needs developer feedback` since the author is requesting for some reviews.

[2021-09-22 16:21] seanvandermolen opened #30777 "WooCommerce updates to 5.6 / 5.7 restart WooCommerce Setup Wizard"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have search

[2021-09-22 16:33] jacoswan commented on #29716
I was researching the same thing and found this bug was fixed in 5.2.0 with #25375 . However, it seems that when the "old" widgets are accessed either via the Classic Widgets plugin or a theme such a Flatsome, then the bug can be recreated.

On my test site, I used the Classic Widgets plugin to add an "old" widget before disabling the plugin, and adding a block-based widget right below it. Here's

[2021-09-22 16:36] szepeviktor commented on #30765
The reason this issue was opened is to 🧹 clean up your code base.
Do as you wish!

[2021-09-22 16:40] rodelgc commented on #30776
Hi @edwardj90 ,

Thank you for raising this issue. However, you did not fill up the steps to reproduce section of the bug template. We need the exact steps you took, especially the way you selected the font types, as well as which exact font type you selected.

Please provide us with the exact steps to replicate for us to evaluate this issue. Thanks!

[2021-09-22 16:54] jeffstieler commented on #30354
The `/wc/v3/products` endpoint allows filtering based on `parent` and `parent_exclude`, but doesn't allow a `type` of `variation`. In what scenarios other than variable products will a product have a `parent_id`?

[2021-09-22 16:54] rodelgc commented on #30777
Hi @seanvandermolen ,

Thank you for taking the time to report this bug. We are already aware of the issue and our developers are now working on a fix. Please stay tuned for the fix!

[2021-09-22 16:59] rrennick commented on #30354
In any testing I have done variations are the only core product that have parents. The filter may exist to allow custom product types to be hierarchical.

[2021-09-22 17:03] rodelgc commented on #30777
Hi again @seanvandermolen,

I'm closing this issue now in favor of an earlier logged issue in the WooCommerce Admin repo - https://github.com/woocommerce/woocommerce-admin/issues/7696

You may monitor the progress of this issue there. Thanks!

[2021-09-22 17:03] #30777 closed, assigned to nobody

[2021-09-22 18:28] leendertvb commented on #16368
Sorry, I know this an old thread, but for anyone stumbling on this question, please allow me to try and point you in a direction that might help you.

Please look into the action hook `woocommerce_order_item_after_calculate_taxes` as you can find in the function `WC_Order_Item ::calculate_taxes()`. See: https://plugins.trac.wordpress.org/browser/woocommerce/trunk/includes/class-wc-order-item.php#L

[2021-09-22 18:36] helgatheviking opened #30778 "wc_get_products() support querying by category and tag IDs"
**Describe the solution you'd like**
I'd like to be able to query `wc_get_products()` and pass in a category or tag ID. IDs are always unique and so easier to store and translate. So querying by ID would be handy.

**Describe alternatives you've considered**

Support can be added by filtering in another query param:
[code]

[2021-09-22 18:59] pparker88 opened #30779 "Cannot see downloadable product permissions in latest update"
Upon updating to the latest WordPress today, I can no longer see Downloadable Product Permissions in Orders.

As seen below:
![Screen Shot 2021-09-22 at 2 55 49 PM](https://user-images.githubusercontent.com/47456438/134404890-97bbd7e8-da91-4961-b1e6-48614a397950.png)

There should be two downloadable items pictured above and I should be able to see the number of download attempts, be able to copy

[2021-09-22 19:08] AliaMori commented on #27425
I faced the same problem. Went through the above problem solving steps. Didn't help.  Afterwards, I updated to the latest available PHP version (in my case 7.4). Worked wonderfully. No more problems.

[2021-09-22 20:32] thesfboy opened #30781 "WooCommerce database update required after updating to 5.7.0 doesn't go away"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-09-22 22:25] kingyyyyyy opened #30782 "WP Woocommerce Dashboard"
Hello,

Prior to latest version of Woocommerce (Version 5.7.0), the WP Dashboard would show boxes with Woocommerce items such as daily sales etc. Now, it shows a box with the title "Woocommerce Setup" (as shown in the attachment image).

If you go through the setup process (even though everything was already setup), the steps won't update and will still show "2 out of 6", for example.

Tested this

[2021-09-23 00:35] #24349 closed

[2021-09-23 00:35] #26887 closed

[2021-09-23 00:35] #29312 closed

[2021-09-23 03:55] mouligreenlaw commented on #30732
This report was from this ticket:
4269261-zen

[2021-09-23 05:41] rodelgc commented on #30779
Hi @pparker88 ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Downloadable product permissions are still showing up fine on my end after I upgraded my test site from WooCommerce 5.6 to 5.7. The image below shows the downloadable product permissions after the upgrade was made:

<img width="1086" alt="Sc

[2021-09-23 05:52] rodelgc commented on #30782
Hello @kingyyyyyy,

Thank you for reporting this issue. We are already aware of this issue and our developers are now fixing it. I'm closing this issue as it has already been reported in https://github.com/woocommerce/woocommerce-admin/issues/7696. You can view the progress of the bug fix there. Thanks!

[2021-09-23 05:52] #30782 closed, assigned to nobody

[2021-09-23 10:58] rodelgc commented on #30781
Hi @thesfboy,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I was able to reproduce it when I upgraded from WC 5.5.0 to WC 5.7.0. After the database update was finished, I clicked on the "Thanks" button, but the notification still does not close. See video below:

https://user-images.githubusercontent.com/4509348/134494914-ceda391

[2021-09-23 11:06] rodelgc commented on #30781
Also, this bug is not happening when I upgraded from WC 5.5.0 to WC 5.6.0. Here's the video showing the notification closing after clicking 'Thanks'

https://user-images.githubusercontent.com/4509348/134497455-8230dc63-1ad2-476e-b970-13931a20bba4.mov

The thing I worry more about now is why the DB version was only upgraded to 5.6 and not 5.7.

[2021-09-23 11:17] rodelgc commented on #30768
Hi @zarbag ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt

[2021-09-23 11:17] #30768 closed, assigned to nobody

[2021-09-23 11:18] rodelgc commented on #30778
Hi @helgatheviking,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-09-23 11:38] rodelgc commented on #30759
Hi @passatgt ,

Thank you for raising the issue. However, I can’t reproduce it on my end.

I took the steps you outlined using only WooCommerce 5.6.1 installed (no other plugins) and using the default Twenty Twenty-One theme. However, when I tried double-clicking the  'Update' button, I don't get duplicate order notes. In the video below, I tried double-clicking the Update button with various dela

[2021-09-23 11:48] rodelgc commented on #30743
Hi @B1022 ,

Thank you for raising the issue. However, after following your steps, I can’t reproduce it on my end.

I used WC 5.6.0 in my test, and as you can see from the video below, I didn't get a 500 error after updating a product:

https://user-images.githubusercontent.com/4509348/134501706-1c55a9c5-ab40-44f1-b214-c758559151ba.mov

I see that you don’t use one of our default themes which coul

[2021-09-23 11:50] rodelgc commented on #30744
Hi @rsidhaarth ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2021-09-23 11:50] #30744 closed, assigned to nobody

[2021-09-23 11:58] rodelgc commented on #30725
Hi @jonathanhsholar ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I tested it using WC 5.6.0, and as you can see from the image below, I was able to import products just fine, without encountering the error you mentioned:
<img width="1365" alt="Screen Shot 2021-09-23 at 7 56 28 PM" src="https://user-

[2021-09-23 12:28] rodelgc commented on #30750
Hi @cherylstash ,

Thank you for submitting the issue. However, I can’t reproduce the issue. In my test setup where WooCommerce 5.6.0 is the only plugin installed (no Query Monitor, AutomateWoo, etc.), the cart remained empty after placing the order.

Please see if you could still reproduce the issue by having only WooCommerce installed. If the issue is resolved, it means that one of your plugins

[2021-09-23 12:34] cherylstash commented on #30750
When it is woocommerce alone there is no problem, when Woocommerce and Automatewoo are the only plugins the problem happens.  So therefore it appears related to Automatewoo.  Also, to be more specific, when we have one workflow enabled in AutomateWoo, and that is to send an email upon trigger "Order Paid".

[2021-09-23 12:41] thesfboy commented on #30781
Thanks for your help. Even my db is at 5.6 instead of 5.7. Strangely
enough, the notification has now gone. Having said that, when I upgraded
another site from 5.6 to 5.7, the notification didn't appear.

On Thu, Sep 23, 2021, 4:36 PM rodelgc ***@***.***> wrote:

[2021-09-23 12:54] rodelgc commented on #30733
Hi @etoler1841,

Thank you for submitting this issue. I can reproduce the issue on my end when I did a normal refresh on Firefox. However, when I did a hard refresh, the quantity was updated correctly. Here's the video of my test, where the last refresh I did in the end was a hard refresh:

https://user-images.githubusercontent.com/4509348/134510091-52f4a2ad-8a7e-4d34-b7b1-a8df4e27d40d.mov

I'll a

[2021-09-23 13:17] rodelgc commented on #30748
Hi @nagpai ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

I used MailHog (to avoid installing a plugin in my test site) and I see from there that there's no `\n` delimiter between emails as you can see here:

<img width="956" alt="Screen Shot 2021-09-23 at 9 12 13 PM" src="https://user-images.githubu

[2021-09-23 13:17] #30748 closed, assigned to nobody

[2021-09-23 13:19] #30772 closed, assigned to nobody

[2021-09-23 13:27] rodelgc commented on #30731
Hi @vyskoczilova,

This issue seems specific to WordPress and not to WooCommerce Core. Please log an issue in the WordPress repository, which you can access from here - https://github.com/WordPress/WordPress.

I am closing this issue for now. But feel free to leave a comment in case I missed anything.

[2021-09-23 13:27] #30731 closed, assigned to nobody

[2021-09-23 13:34] nthnc opened #30787 "Settings submenus not working"
The submenu links are not working in the woocommerce settings menu, see screenshot attached ands system report below.

<img width="1397" alt="Screenshot 2021-09-23 at 14 31 56" src="https://user-images.githubusercontent.com/59650400/134516574-6691ae98-a6b6-4454-bfce-9a25e7f532b8.png">

System report:
`
### WordPress Environment ###

WordPress address (URL): https://ecomersh.co.uk
Site address (URL

[2021-09-23 13:36] #30656 closed, assigned to zhongruige

[2021-09-23 13:42] christopherdarling commented on #30679
Same issue here, upgrading from WP 5.7.2 to WP 5.8.1 and WC 5.5.1 > 5.6.0.

I have to 'Remove image' update, then add image.

[2021-09-23 13:59] rodelgc commented on #30787
Hi @nthnc,

The issue you're experiencing seems to be from a 3rd party plugin and not from WooCommerce Core. I don't see a "Dropshipping" tab in Core, and the links here should like like these instead of as buttons:
<img width="930" alt="Screen Shot 2021-09-23 at 9 56 33 PM" src="https://user-images.githubusercontent.com/4509348/134520692-a5e41f74-989e-4fc0-9455-4ba0c0d81069.png">

If you can conf