[2022-09-15 13:58] jonathansadowski commented on #34197
Noting here that this was disabled again, and we're exploring alternatives in
* https://github.com/woocommerce/woocommerce/issues/34480

@lsinger it should be possible, yes... is that important for mainly open issues and not the large number of closed ones?

[2022-09-15 14:05] webdados opened #34696 "[Enhancement]: Don't clean sale start and end dates / why are they being cleared?"
### Describe the solution you'd like

Why are the sale dates cleaned after the [sale starts](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/wc-product-functions.php#L451) or the [sale ends](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/wc-product-functions.php#L478)?
Is there any performance gain or other rationale behind thi

[2022-09-15 15:23] AmalieUx commented on #24439
This is still an issue…

[2022-09-15 16:09] webdados opened #34698 ""Customize your deposit schedule""
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We started seeing this banner on each and every shop we developed:
![image](https://user-images.githubusercontent.com/6853605/190452274-19d149cf-f690-482e-a05a-f59b60217a49.png)

[2022-09-15 16:36] lsinger commented on #34197
Yes, I'm asking so that we can make the remaining open issues and PRs more discoverable.

[2022-09-15 16:55] joshuatf opened #34699 "[Components] Move SelectControl input to end of tag list"
The current behavior of the new experimental `SelectControl` component is to keep the input vertically centered at the right side of the selected tags.

![Image](https://user-images.githubusercontent.com/10561050/190462442-ffccb587-d60b-43eb-bbee-90929fae7981.png)

This should be updated to move the input to the end of the tag list following the final tag, similar to how [MUI](https://mui.com/mate

[2022-09-15 16:58] joshuatf opened #34700 "[Components] SelectControl selected tags should have an option to move tags beneath the input"
Similar to how our previous `SelectControl` component functioned, there should be an option to move the selected items beneath the input box as opposed to inline tags:

**Current**

![Image](https://user-images.githubusercontent.com/10561050/190463484-d1dffb5f-9161-4d94-b509-fc28be642749.png)

**Outside (not inline)**

![Image](https://user-images.githubusercontent.com/10561050/190463537-be251fb6-

[2022-09-15 17:39] LeopardPagan commented on #34698
I had the exact same issue. 🤬
However I have been able to get rid of it by:
Clicking on Customise
allow it to open up
Close the entire window/tab
log back in to back end
banner has gone. & has stayed gone for 8 hours now.

[2022-09-15 17:39] jorgeatorres commented on #33887
Hi @dgosar,

Thanks for reaching out. First of all, the JS API you're using is now deprecated, with the alternative being https://www.npmjs.com/package/woocommerce-api, which is pretty similar.
That said, it seems to us that the error isn't coming from the library itself but it just means SSL verification has failed, which might be related to the site you're testing on and its SSL certificate.

Wh

[2022-09-15 17:56] sciroccojim commented on #34698
The above fix is not working for me. This message is unwanted and is taking up valuable word space on every Woocommerce page.

[2022-09-15 18:24] jorgeatorres commented on #34635
Hi @LocalHeroPro!

Thanks for reaching out. We couldn't reproduce this using the client library, and so we think the malformed JSON is the consequence of something else on the site you're connecting to (i.e. `$storeUrl` in your PHP above).

If this is a site you control, have you maybe tried a conflict test, leaving only WC active on the site to see if it makes a difference?

Even if this isn't a

[2022-09-15 18:54] LeopardPagan commented on #34698
Agree it does take up space & no one wants to see it. sorry that it didnt work for you & it may even come back tomorrow on my shop. Can only but try things till a fix is found

[2022-09-15 19:43] ghost commented on #34698
A very unwelcome addition to WooCommerce.

[2022-09-15 19:49] jorgeatorres commented on #34497
Hi @kaushikasomaiya!

Thanks for the report. We were able to reproduce and are thus marking this as a bug.
Given some AS functions (such as `as_schedule_recurring_action()`) can, in fact, throw an exception (bringing down the whole site), we should be doing a better job at error handling.

We're also opening an issue against AS, as we feel it should at least attempt to regenerate its tables in cer

[2022-09-15 20:57] #33307 closed, assigned to barryhughes

[2022-09-15 21:38] beaulebens commented on #34698
Thanks for the report -- something seems to have gone haywire with our Inbox messaging system, and we're working on figuring out a fix. In the mean time this message should have been disabled for now (although should not have displayed like this in the first place). It's possible you can still see it if it's cached locally.

[2022-09-15 23:37] psealock commented on #34688
Hi @zkez, thanks for the report. Could you give clear instructions on how to reproduce this?

[2022-09-15 23:53] psealock commented on #34678
Thanks for the report @enricobattocchi. Just to confirm, this issue doesn't exist when the Yoast SEO plugin is deacitvated?

[2022-09-15 23:57] psealock commented on #34675
hi @askrun Could you please include steps for reproduction and provide details of your environment?

[2022-09-16 04:53] AashikP commented on #34698
Another report in 5558603-zen. Clearing cache fixed the issue now.

[2022-09-16 05:46] enricobattocchi commented on #34678
Hi @psealock, I confirm!
If it can help, from an investigation we performed it seems that every call to `wc_get_product()` triggers a new object creation and thus a new addition to the product image notices.

[2022-09-16 06:02] indysigner opened #34708 "Stop “Customize your deposit schedule” banner in WC dashboard"
Please stop the “Customize your deposit schedule” banner at the top of the dashboard (/wp-admin/admin.php?page=wc-admin and other WC pages in the dashboard).

![banner-wc](https://user-images.githubusercontent.com/4224281/190567214-3bcadfb2-dc7b-4017-b3ac-220ac4fbe31f.JPG)

It’s extremly annoying and it cannot even disabled via the customizer. It's *overriding the settings in the customizer* to NO

[2022-09-16 07:17] #34419 closed, assigned to nobody

[2022-09-16 08:35] jarekmorawski commented on #34328
Hiya! Thanks for the ping. It's a great question because I actually thought we had a default shipping class. In my test store, it's called Standard shipping, and I don't think I've created it manually (maybe some plugin did).

The default should be `No shipping class`. For the MVP, we can leave it at that, but in the future, we could add a second option to the dropdown `New shipping class` that wo

[2022-09-16 09:18] jacoswan opened #34709 "CSV Importer: CSV containing 2251 to 2260 products only imports 2250"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If a CSV contains from 2,251 to 2,260 products, only 2,250 products are imported.
However, if it contains fewer or more than the range above, all products are imported.

5535712-

[2022-09-16 10:27] dennisnissle commented on #34688
The screen_id might be null in case `set_current_screen()` is called with no parameter and WP is not able to determine a screen_id for this page (possibly a page added by a third-party) automatically.

[2022-09-16 11:21] axaak opened #34710 "PHP Fatal woocommerce/includes/class-wc-download-handler.php on line 559"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When using the php 8.0 apache module I get this error in woo:
`PHP Fatal error:  Only variables can be passed by reference in /htdocs/wp-content/plugins/woocommerce/includes/clas

[2022-09-16 11:29] kaushikasomaiya commented on #34652
For me, only occurs if

- Debug mode is on
- Usage tracking is allowed

Workaround:  Untick `Enable tracking` under **WooCommerce > Settings > Advanced > WooCommerce.com**

[2022-09-16 11:31] swatipawarGS commented on #34652
Hi @jacoswan, @daniyalahmadk,

Thank you for the updated video. We are able to reproduce the issue on our end with 6.9.2 version, PHP 8.0.22 version, and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/190581202-52d3b577-ff61-4809-9196-d0d1ff1bab43.mp4

Priority of this issue will be assigned shortly after we’d go throu

[2022-09-16 12:53] askrun commented on #34675
== Server Environment ==
	Operating System: Linux
	Software: Apache
	MySQL version: Percona Server (GPL), Release 23, Revision 500fcf5 v5.7.23-23
	PHP Version: 7.4.30
	PHP Memory Limit: 512M
	PHP Max Input Vars: 1000
	PHP Max Post Size: 512M
	GD Installed: Yes
	ZIP Installed: Yes
	Write Permissions: All right
	Elementor Library: Connected

== WordPress Environment ==
	Version: 6.0.2
	Site URL: htt

[2022-09-16 13:24] jacoswan commented on #34464
5561766-zen - user can also recreate when only WC + WC Payments + Jetpack + Storefont.

**WordPress Environment**
<details>

[code]

</details>

[2022-09-16 13:37] xristos3490 opened #34711 "Add a header for the "Add store details" task in woocommerce admin"
### Description

The "Add store details" task item in the woocommerce admin home page doesn't include a header.

#### Steps to replicate

- On a fresh woocommerce installation
- Skip the setup wizard
- Navigate to WooCommerce > Home
- You should see the setup task list without an onboarding illustration. See https://d.pr/i/bDvKPk

[2022-09-16 14:00] verofasulo commented on #32587
Following @manospsyx's [suggestion](https://hostedwoo.wordpress.com/2022/09/07/skip-the-onboarding-profiler-in-the-ecommerce-plan/#comment-216), could we update the copy in the tooltip to make it more clear to click on the "Save" button?

![image](https://user-images.githubusercontent.com/98944206/190656405-2384c9e4-91b0-4980-a2c9-46a66d93103e.png)

**Copy:**
Add your store location details to hel

[2022-09-16 14:10] jacoswan opened #34713 "Negative product quantities allowed in manual orders but create / order actions don't work and lacks indication why"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Not sure whether adding products with negative quantity should be possible, but it is, but then completing the order creation (and order actions) doesn't work, and there's no ind

[2022-09-16 14:22] dadizk commented on #34688
Thx,very helpful,it indeed caused by the third theme and it has been fixed.

[2022-09-16 14:22] #34688 closed, assigned to nobody

[2022-09-16 14:25] #34655 closed, assigned to nima-karimi

[2022-09-16 14:31] mvlaspld commented on #34464
Have exactly the same issue here on my website;

- [V] I have deactivated other plugins and confirmed this bug occurs when only WooCommerce plugin is active.
- [V] This bug happens with a default WordPress theme active, or [Storefront](https://woocommerce.com/storefront/).
- [V] I can reproduce this bug consistently using the steps above.

Video to the reproduction: [Video](https://reiki-academy.e

[2022-09-16 15:04] piinthecloud commented on #34708
Hi @indysigner, thank you for flagging this. The issue is in progress and is being tracked [here](https://github.com/woocommerce/woocommerce/issues/34698)

Duplicate of #34698

[2022-09-16 15:05] piinthecloud commented on #34708
Duplicate of #34698

[2022-09-16 15:05] #34708 closed, assigned to nobody

[2022-09-16 15:43] chrism245 commented on #34698
Another report 36962997-hc

[2022-09-16 15:58] GlazerGallery commented on #34698
I have tried everything suggested above and it's still there.

[2022-09-16 17:14] GlazerGallery commented on #34698
To be clear, clicking the link and clearing the cache did not eliminate it. I even tried opening it in a browser I haven't used in a long time, and it was there. So definitely not fixed as of 1:15 PM ET on Sept. 16th. I agree with everyone, this is distracting and annoying when you're trying to get your work done.

[2022-09-16 17:23] beaulebens commented on #34698
This should be resolved now (for new sites/sites which haven't seen it yet), but if your site has previously/already downloaded the note, you may want to force-refresh the cached message objects. If you don't force-refresh, it will take up to 24 hours to get the updated message objects, so you'll unfortunately continue to see this message in that time.

To force-refresh the cache, you would need t

[2022-09-16 18:46] wzieba opened #34716 "Update tracking parameters for mobile messages deep links in emails"
### Describe the solution you'd like

Relates to #34544

Internal discussion: p6JqRr-7ou-p2
Summary: p6JqRr-7ou-p2#comment-14632

We'd like to update the tracking parameters of mobile deep links to make tracking more precise/more in line with other links on WooCommerce.com.

[2022-09-16 20:12] contemplate commented on #34688
This exact error seems to be breaking the Smart Offers plugin by StoreApps too.  I'll submit a ticket to them as well.

[2022-09-16 20:16] meestergijs opened #34718 "fatal error when moving from php 7.4 to php 8.0 or 8.1"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have an error in my child theme that doesn't conflict with Woocommerce plugin in php7.4, but it does in 8.0 or up. When I deactivate Woocommerce I don't get the fatal error. On

[2022-09-16 20:35] #34399 closed, assigned to joelclimbsthings

[2022-09-16 20:48] masperber commented on #34430
I had a chat with a customer today where they needed to change WooCommerce settings on an FSE theme. I gave the workaround to use Appearance > Additional CSS, but this is obviously very confusing. 36906413-hc

[2022-09-16 23:14] FunkyCss commented on #28419
There is no any feedback from Woocommerce for this?

Its 2022 and all other platforms give to user to make their product pages to look like landing pages with more than a few bold text.

I mean we really need to make the description tab as good as it deserves, with rows, columns YT videos, img backgrounds etc.

And this should be done from Woo core, not with page builders and "hacky" snippets.

We

[2022-09-16 23:27] Endda commented on #28419
It really is sad they refuse to give updates on this issue.

[2022-09-16 23:32] #34716 closed, assigned to wzieba

[2022-09-17 02:23] danieldudzic opened #42582 "Rating component: Add support for other contexts than Products by Rating filter block"
https://github.com/woocommerce/woocommerce-blocks/pull/7048 extracts the Rating logic from the Rating product element that's being used for the **All Products** block.

It would make sense to use one, shared component for all Rating use cases.

The Rating component https://github.com/woocommerce/woocommerce-blocks/pull/7048 introduces, needs some tweaking to support that.

[2022-09-17 02:45] pixelloop commented on #28419
@FunkyCss 100% agree.

What's most perplexing is, WooCommerce is owned by WordPress. WordPress forced Gutenberg as a core feature, and yet while they have added WooCommerce blocks to add to pages and posts, they have completely ignored how powerful blocks would be for setting up WooCommerce single product templates and descriptions etc.

My workaround for BeaverBuilder works well, but it's still n

[2022-09-17 05:54] mrleemon commented on #28419
Yep, it's puzzling that after almost four years of Gutenberg, there's still no decent support for complex custom post types with lots of meta fields (such as products in WooCommerce). Adding meta to the right sidebar is not feasible in most cases. And both products are built by Automattic...

[2022-09-17 16:50] bartech opened #34722 "COTMigrationUtil::init_theorder_object method can return different type then declared/allowed."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In `COTMigrationUtil::init_theorder_object` declared returned type is `WC_Order` but method can return `wc_get_order()` that can return  `bool|WC_Order|WC_Order_Refund`.

Error m

[2022-09-17 17:29] kgeorgee commented on #32187
5564590-zen

[2022-09-17 17:58] #34718 closed, assigned to nobody

[2022-09-17 17:58] meestergijs commented on #34718
I found the solution. In my function.php file I had these lines that I had to delete to make it work. Unbelievable!

add_filter( 'woocommerce_admin_disabled', '__return_true' );
add_filter( 'woocommerce_admin_disabled', true );

[2022-09-17 20:47] tijosh commented on #34678
I can reproduce this on 6.9.2 without Yoast SEO installed

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/35117248/190875818-3aa3bb4f-767e-4139-a62e-e263897055ab.png">

It's related to this PR: https://github.com/woocommerce/woocommerce/pull/33660

SSR
<details>
`
### WordPress Environment ###

WC Version: 6.9.2
REST API Version: ✔ 6.9.2
WC Blocks Version: ✔ 8.3.2
Act

[2022-09-18 22:20] brucealdridge commented on #34682
There doesn't seem to be a priceType field in [offers.priceSpecification.priceType](https://schema.org/PriceSpecification) in the schema definition.

Additionally, a [post on the google forum](https://support.google.com/webmasters/thread/179252156?hl=en) indicates that it's a known issue. But I cannot confirm that information comes from anyone on the google team.

[2022-09-18 23:04] lakane23 commented on #32454
I am also getting this issue. Not sure how long it's been happening as i only discovered it this evening. Normally i use the links on my site to navigate, but i'm sure i have used the browser back button before and would have noticed, so it may be quite a recent bug.

I can confirm for my site anyway this is happeing on Chrome desktop browser, Chrome on Android mobile and Brave. Edge and Firefox w

[2022-09-19 01:47] ilyasfoo commented on #34698
Hi, @webdados! I hope the issue is resolved for you.

In regards to this, I just want to clarify that the portion of the code was only for adding a non-visible note with a specific note name. This is because we use "actioned" notes as one of the mechanisms for eligibility on WooCommerce Payments promotions, so users having marketing disabled will still be able to enjoy the discounts.

Let me know

[2022-09-19 01:53] ilyasfoo commented on #34698
Hi, @webdados! I hope the issue is resolved for you.

In regards to this, I just want to clarify that the portion of the code was only for adding a non-visible note with a specific note name. This is because we use "actioned" notes as one of the mechanisms for eligibility on activating WooCommerce Payments promotions, so users having marketing disabled will still be able to enjoy the discounts. To

[2022-09-19 07:11] kaushikasomaiya opened #34725 "Potential bug with checking if Screen ID in admin is blank"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Case 1: https://wordpress.org/support/topic/fatal-error-on-config-wizard-conflict-with-woocommerce/ (Conflict with SEOPress)
Case 2: 5567007-zen (Conflict with The Events Calenda

[2022-09-19 08:13] kkmuffme opened #34726 "Use @deprecated when using wc_deprecated_function"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When using wc_deprecated_function in a function, always add the @deprecated to phpdoc, so the deprecation can be picked up by static analysis.

e.g.

[code]

Additionally, those

[2022-09-19 08:24] moonbas3 commented on #34725
To add, this worked fine with WooCommerce 6.8.x, started appearing since the 6.9 update.

Relevant code from the other plugin is just a simple admin enqueue scripts action call on a custom back-end page:
`do_action( 'admin_enqueue_scripts');`

[2022-09-19 09:31] manooweb commented on #34725
It seems is that because we pass any parameter (optional) to `set_current_screen()`
See https://developer.wordpress.org/reference/functions/set_current_screen/
So `WP_Screen::get()` fonction returns a new `WP_Screen` object with a `WP_Screen->id` set to null

[2022-09-19 10:11] LucianHus opened #34728 "Admin - Product Page - Message: "Upload JPEG files that are 1000 x 1000 pixels or larger (max. 2 GB). How to prepare images?" is repeating over and over again"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After updating to WooCommerce 6.9.2, in admin - product page - product image section - Message: "Upload JPEG files that are 1000 x 1000 pixels or larger (max. 2 GB). How to prepa

[2022-09-19 10:33] wp-seopress commented on #34725
+1

[2022-09-19 11:10] joashrajin commented on #30870
+1 at #5567837-zen

[2022-09-19 11:46] Chouby commented on #34725
This is likely to bug with several plugins as `set_current_screen()`  is called without parameter by 121 plugins in the repo according to https://wpdirectory.net/search/01GDAS09HF3WZQA73PWWSSRZKY. On top of the list WooCommerce itself.

[2022-09-19 11:58] PanosSynetos opened #34731 "[Enhancement]: Suppress `Coupon management has moved` Note"
### Describe the solution you'd like

The note to inform users that the coupons have moved, takes up space and introduces unnecessary friction (especially for new users).

The same goes for the “duplicate” menu item, one under **WooCommerce** and the other under **Marketing**.

### Describe alternatives you've considered

_No response_

### Additional context

For reference, see

- https://github.

[2022-09-19 13:28] ecgan opened #34732 "Add tests for UI Revamp on Marketing page"
In this task issue, we will add some tests for the UI Revamp features introduced in https://github.com/woocommerce/woocommerce/issues/33895.

Some ideas for the tests to cover are:

- Playwright e2e test to cover the feature toggle flow: enable the Marketing checkbox in WC Settings, and make sure the Marketing page display the right UI accordingly.
- Component testing for components that contains

[2022-09-19 13:54] webdados commented on #34698
This is literally a promotional message

[2022-09-19 15:02] webaxones opened #42581 "Block validation failed after update on blocks with translatable content within data-attributes"
## Describe the bug

A clear and concise description of what the bug is.

On an FSE site, with a language other than English, updating WooCommerce to the latest version generates a block validation failure for `woocommerce/stock-filter` and `woocommerce/active-filters`.
The block validation fails because the [strings now used in the data-attributes of the filters.php](https://github.com/woocommerc

[2022-09-19 16:13] roykho opened #34735 "Post PNPM 7 - update docs and suggestions with correct command string"
With the recent update to PNPM 7, there are some places with outdated documentation and suggestions. We need to update those  so that the commands work correctly. Ref convo: p1663602390163489-slack-C03CPM3UXDJ

Here are the places found to have outdated references to that command:
* https://github.com/woocommerce/woocommerce/blob/trunk/DEVELOPMENT.md#examples-1 `pnpm changelog add --filter=woocomm

[2022-09-19 17:32] Nikotoh opened #34737 "Weird /*! message on store page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am experiencing a weird message on my store page and I cannot get rid of it. I have tried older versions and deactivating different plugins. I have tried to add this to 'custom

[2022-09-19 20:18] chrism245 commented on #32837
Similar issue reported here: 5524984-zen

[2022-09-19 22:33] kkmuffme commented on #34726
Stubbed this out from wc_deprecated_function automatically, therefore this isn't relevant for us anymore.

[2022-09-19 22:33] #34726 closed, assigned to nobody

[2022-09-19 23:38] Adriandufour commented on #34256
Hello, I have noticed a couple of other repositories linked and I will post an update here with any helpful updates. I wanted to check if there are any updates to this issue? I haven't seen instructions on any fixes or workarounds so I wanted to check. There was mention of creating a WooCommerce filter but I'm unfamiliar with that so if someone has a fix and can explain it that would be helpful. T

[2022-09-19 23:39] Adriandufour commented on #34678
Hello, I have noticed a couple of other repositories linked and I will post an update here with any helpful updates. I wanted to check if there are any updates to this issue? I haven't seen instructions on any fixes or workarounds so I wanted to check. There was mention of creating a WooCommerce filter but I'm unfamiliar with that so if someone has a fix and can explain it that would be helpful. T

[2022-09-20 00:01] mattsherman commented on #34728
@LucianHus Thanks for reporting this issue. I have verified that it is reproducible in certain scenarios. Most likely, it is triggered by a plugin.

We will fix this issue in a future version of WooCommerce.

[2022-09-20 00:04] phatanha commented on #33730
I have also this problem.
Looking forward to hearing from you

[2022-09-20 00:07] dinhtungdu commented on #34464
Note that on this particular customer's site, the cart is being **replaced** by the current cart stored in the session, while the default behavior is **merged**. To reproduce:

1. Login to the site.
2. Add products `A` and `B` to the cart.
3. On an incognito tab or another browser/device, go to the site.
4. Add product `C` to the cart.
5. Go to the checkout page, and log in to the account used in

[2022-09-20 00:18] mattsherman commented on #34728
Additional reports of this by users can be found in the comments of #33660

[2022-09-20 00:40] ethanclevenger91 commented on #34361
This issue still exists w/ version 6.9.0 and above. 6.8.2 and below seem fine.

Can be reproduced by setting up a new Bedrock project w/ any default WP theme and installing WooCommerce. See 404 errors in JS console on front end.

My current status report:

[code]

[2022-09-20 00:43] mattsherman commented on #34728
@LucianHus If you have a test/staging site, could you please disable all plugins other than WooCommerce and confirm if the issue still exists?

If it does not, please re-enable plugins one by one, checking after each one is re-enabled whether the issue exists.

This will help us confirm with even greater certainty that the fix we have in #34739 addresses your issue.

Thanks!

[2022-09-20 01:59] psealock commented on #34737
Hi @Nikotoh it appears some CSS from Elementor is getting printed to the page. I'm not sure why that would be happening. Have you tried disabling Elementor?

[2022-09-20 02:10] psealock commented on #34675
Thanks @askrun for the details of your environment.
Could you please provide steps to reproduce the error?

[2022-09-20 03:27] psealock commented on #34665
Have you tried disabling all other plugins and seeing if the behaviour is consistent?

[2022-09-20 03:56] psealock commented on #34248
Thanks for looking into this @samueljseay. I think deprioritizing is a good idea.

[2022-09-20 04:26] anant1811 commented on #34682
Also reported in #5566308-zen

[2022-09-20 05:54] rechinulrosu commented on #28952
The topic was opened in 2021. Has the function been added??

[2022-09-20 05:54] rechinulrosu commented on #28952
I think it is necessary to be added as soon as possible

[2022-09-20 07:55] netropol commented on #14541
One of my customers has told me that suddenly some orders are being duplicated in WooCommerce, I guess this error has something to do with it.

[2022-09-20 08:46] LucianHus commented on #34728
@mattsherman - I have found the cause: disabling All in One SEO Pro plugin will eliminate this error (at least in case of the shops managed by me).

[2022-09-20 09:27] arnaudbroes commented on #34728
Hey @mattsherman

AIOSEO dev here. I happened to be working on this issue just an hour ago.

I found that this is happening because WooCommerce has added this filter in the constructor of the `WP_Product_Simple` class.
`add_filter('admin_post_thumbnail_html', array( $this, 'add_product_photo_suggestions' ) );`

Because we call the `wc_get_product()` method a bunch of times when the post editor is

[2022-09-20 10:11] eoinkennedy commented on #30915
Same here on WC 6.9.2.
We have hundreds of items with many variations.
If I trash most of them, leaving only about 250 variations (50 products with average 5 variations each), then it works.

Also, if I increase the woocommerce_json_search_limit to 500 using a filter, then the search works across every product.

[2022-09-20 10:22] #34725 closed, assigned to nobody

[2022-09-20 10:25] davefx opened #34741 "Warnings caused because, somehow, the related_products transient is not an array"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Somehow, our database eventually holds related-products transients that are not arrays. In this case, we are experiencing warnings on the site.
I think the code should just check

[2022-09-20 10:47] mattsherman commented on #34728
@LucianHus Thanks for narrowing that down!

@arnaudbroes

I totally agree. My pending fix in #34739 will not require plugin devs such as yourself to implement any workarounds.

[2022-09-20 11:24] #34722 closed, assigned to nobody

[2022-09-20 11:27] Trischan commented on #24040
I am still running into this problem. Is there any info on this. For days I am trying to find a sollution but I cannot figure out why is happening and why.

[2022-09-20 12:09] #34728 closed, assigned to mattsherman

[2022-09-20 13:03] mattsherman commented on #34256
This is the same issue as https://github.com/woocommerce/woocommerce/issues/34728

Closing this one in favor of that one, as it has additional comments and links.

[2022-09-20 13:03] #34256 closed, assigned to nobody

[2022-09-20 13:14] mattsherman commented on #34728
Additional reports from users in the forums:

https://wordpress.org/support/topic/product-image-bug/
https://wordpress.org/support/topic/request-to-remove-hints-on-product-images-too-long/

Also, note that this issue was originally reported back in August, with a slightly different scenario:

https://github.com/woocommerce/woocommerce/issues/34256

[2022-09-20 14:09] swatipawarGS commented on #34678
Hi @enricobattocchi,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.9.2 version and WordPress 6.0.2 version.

Please find below the screenshot for reference :
![#34678](https://user-images.githubusercontent.com/94531721/191183413-15ecd102-a414-45b1-adb6-6db30a7acd98.jpg)

Please provide us w

[2022-09-20 14:24] gglobalstep opened #34745 "[GlobalStep] For Atomic site, "There was a problem updating your industries" notification displayed after clicking "Continue" on "Industry" tab."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic site, "There was a problem updating your industries" notification displayed after clicking "Continue" on "Industry" tab.

### Expected behavior

For Atomic site, Redir

[2022-09-20 14:30] louwie17 commented on #34000
@jarekmorawski @Konamiman I currently have a [partial PR](https://github.com/woocommerce/woocommerce/pull/34744) open for adding the typeahead changes to the attributes tab.
But felled like there was some unanswered questions in relation to the **Product categories** widget.

One thing I want to note first is that I added over 7000 categories and didn't notice any rendering issues on my local mach

[2022-09-20 14:39] gglobalstep opened #34746 "[GlobalStep] For Atomic site, "Setup Check List" gets hidden after reloading the page and displays "You've completed store setup" on "Woocommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic site, "Setup Check List" gets hidden after reloading the page and displays "You've completed store setup" on "Woocommerce > Home" page.

### Expected behavior

For Ato

[2022-09-20 16:15] enricobattocchi commented on #34678
Hi @swatipawarGS, it still happens to me with all the most recent versions of the relevant plugins:
* Install and activate WooCommerce 6.9.2
* Install and activate Yoast SEO 19.7.1
* Install and activate Yoast SEO for WooCommerce 15.2 (which is a Premium plugin and we can provide if needed)
* Start creating a new Product, e.g. with Products > Add New
* Check the "Product Image" section in the edit

[2022-09-20 16:30] peterfabian commented on #34678
This will probably be solved by https://github.com/woocommerce/woocommerce/pull/34739

[2022-09-20 16:43] AnnaMag opened #34749 "[Epic]: Shipping Product management MVP 1.0"
- [x] https://github.com/woocommerce/woocommerce/issues/34328

- [x] https://github.com/woocommerce/woocommerce/issues/34329

- [x] https://github.com/woocommerce/woocommerce/issues/34657

- [x] https://github.com/woocommerce/woocommerce/issues/35036

- [x] https://github.com/woocommerce/woocommerce/issues/35037

[2022-09-20 17:02] AnnaMag opened #34750 "[Epic]: Inventory Product management MVP 1.0"
- [x] https://github.com/woocommerce/woocommerce/issues/34386
- [x] https://github.com/woocommerce/woocommerce/issues/34388
- [x] https://github.com/woocommerce/woocommerce/issues/34387
- [x] https://github.com/woocommerce/woocommerce/issues/34389

[2022-09-20 17:11] TandelK commented on #31409
This is going to be very late reply. I was giving this idea as it can delay spams of people trying to login without having email id or username login with password. First time it can authenticate if the user exists and than if it does than it can clearly give Password section to login and show error message for non user saying to sign up or contact admins if they require a login page. With this pe

[2022-09-20 19:35] mattsherman commented on #34728
This has been fixed in [WooCommerce 6.9.3](https://developer.woocommerce.com/2022/09/20/woocommerce-6-9-3-fix-release/)

[2022-09-20 19:36] mattsherman commented on #34256
This has been fixed in [WooCommerce 6.9.3](https://developer.woocommerce.com/2022/09/20/woocommerce-6-9-3-fix-release/)

[2022-09-20 20:00] mattsherman opened #34753 "Storybook: Tour Kit stories do not load and throw error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When Storybook is run (`pnpm --filter=@woocommerce/storybook storybook`), Tour Kit stories do not load. In addition, it shows an error in both the Actions tab and in the web dev

[2022-09-20 20:02] mattsherman commented on #34753
@chihsuan Since you added the Tour Kit to Storybook initially (in #33229), I thought you might have some idea why they are no longer loading!

[2022-09-20 20:44] enricobattocchi commented on #34678
@peterfabian, you're right! Just tested with WooCommerce 6.9.3, the issue is solved. Thanks!

[2022-09-20 20:44] #34678 closed, assigned to nobody

[2022-09-20 21:01] masperber commented on #34430
Customer report: They wanted to change the number of columns in WooCommerce and reported that they couldn't figure out how to access WooCommerce settings. I gave the workaround to use Appearance > Additional CSS.

37024678-hc

[2022-09-20 21:19] ProdesignerAgency commented on #34361
I have the same problem.
When product is added to cart via ajax is ok - no errors. But if you refresh the page after adding to cart  we have something like that in console.

GET http://localhost/wp-includes/js/dist/vendor/react.min.js?ver=17.0.1 net::ERR_ABORTED 404 (Not Found)
narozniki:40          GET http://localhost/wp-includes/js/dist/vendor/lodash.min.js?ver=4.17.19 net::ERR_ABORTED 404 (Not

[2022-09-20 22:41] barryhughes commented on #34546
Looking into this, default ordering is already the same (or effectively the same) across data-stores:

* CPT `ORDER BY wp_posts.post_date DESC`
* COT `ORDER BY wp_wc_orders.date_created_gmt DESC`

In the conversation that sparked this ticket, it looked as though all orders had the same post date/creation date (though I can't be sure...@alopezari can you confirm if this was the case?) and so the pr

[2022-09-20 22:44] barryhughes commented on #34546
✍🏽 Once we're sure this is the problem (once we have confirmation that the original case had orders with identical dates and times) we can close this and open a new issue that covers adding ordering-by-id as a final sorting criteria for both data-stores, or else two separate issues (one for COT and one for CPT).

[2022-09-21 07:46] shankeyb opened #34755 "Woocommerce Pending Payment Link Doesnt Updates the Cart value on Payment Method change"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have a discount rule which is only applicable when user selects the online payment method. But there is a glitch in woocommerce. Whenever a order is made through prepaid and pa

[2022-09-21 07:54] alopezari commented on #34546
You're right @barryhughes!

Orders are filtered and sorted fine with both WP and WC tables. But when we don't actively apply any filter (i.e. when we just go to the Orders page) and we have several orders with the same date, the way they are sorted does not match in WP and WC tables, just as you can see in the following pictures:

- With WP table:
![image](https://user-images.githubusercontent.com

[2022-09-21 08:25] studiograficorosati opened #34756 "Problem calculating decimals with Taxes Included"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

I have a big problem with decimals, I applied Italian VAT at 22% but when you calculate the product in the cart the decimals are wrong.

Example:
10 products in the cart

[2022-09-21 08:35] paolo-mnet commented on #34361
Same issue here, WooCommerce 6.9.3

I don't know why, but some resources appear to be relatively loaded:

[code]

[2022-09-21 08:49] joashrajin commented on #34529
@vedanshujain we have another report of this in #5571664-zen. I am noticing something similar:

They have ten products worth 109,44 € (including tax). On the checkout page, the price is showing as 109,44 € * 8 = 875,54 € (ex. VAT).

When I manually calculate  109,44 € * 8, it should be 875.52 €. Any idea why we see a small discrepancy in the decimals?

Tax Settings:
<img width="708" alt="image" sr

[2022-09-21 08:50] joashrajin commented on #34756
Duplicate of https://github.com/woocommerce/woocommerce/issues/34529

[2022-09-21 08:50] #34756 closed, assigned to nobody

[2022-09-21 08:59] studiograficorosati commented on #34529
Hi I have the same problem too,

My duplicate was closed rightly, but I want to share my experience ...

I have a big problem with decimals, I applied the Italian VAT at 22% but when you calculate the product in the cart the decimals are wrong.

Example:
10 products in the cart from € 133.68 (22% VAT excluded) exit at € 1,336.77 when in reality 133.68 × 10 = 1,336.80

I have read many forums and m

[2022-09-21 09:21] nishantsworld opened #34757 "Declaration of Dhii\Container\ProxyContainer::has($key) must be compatible with Psr\Container\ContainerInterface::has(string $id)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Current installed version: 6.8.2
Attempted update to: 6.9.0 (on 14th) as well as to 6.9.1 (today)
Site breaks
Fatal error in debug.log file - Declaration of Dhii\Container\ProxyC

[2022-09-21 10:18] vedanshujain commented on #34529
Hey @joashrajin,

Shouldn't this be 897.05 (calculated from 1094.4 / 1.22), as the total price is 1094.4 and the tax is 22%? Anycase, since we recommend displaying prices as they are entered, you should set the setting `Display prices in the shop` and `Display prices in the basket and checkout to `Including Tax`. This is what I see on my testing site with this configuration:

<img width="1146" alt

[2022-09-21 10:34] studiograficorosati commented on #34529
Hello,

unfortunately the management system includes prices including VAT, ....

Are you telling me that to solve the problem you hav
![Schermata 2022-09-21 alle 12 31 49](https://user-images.githubusercontent.com/114060858/191482712-fa505f6e-cac6-4527-975e-92b22b42d946.png)
![Schermata 2022-09-21 alle 12 31 32](https://user-images.githubusercontent.com/114060858/191482715-e118553e-edfc-49bb-a34a-

[2022-09-21 10:51] jacoswan commented on #34550
Also reported in 5573797-zen.

Can recreate in WC 6.9.2 and 6.9.3, but "Finish Setup" seems to disappear as expected in 7.0.0-beta.1

[2022-09-21 11:09] joashrajin commented on #34529
@vedanshujain thanks for the update. I made a small typo, I meant to say 109.44 x 8 (not x 10). I have updated the message. Just to clarify, the issue I reported is the same one as @studiograficorosati

[2022-09-21 11:14] vedanshujain commented on #34529
Hey,

No, not necessary, although it would solve the problem as well. You need to display the prices as they are entered, which means if you are entering them inclusive of taxes, you should display them inclusive of taxes. In this case, this is how they would be displayed:

<img width="1062" alt="Screenshot 2022-09-21 at 4 35 52 PM" src="https://user-images.githubusercontent.com/7571618/191488696-

[2022-09-21 11:15] vedanshujain commented on #34529
This is my setting for above:

<img width="884" alt="Screenshot 2022-09-21 at 4 44 57 PM" src="https://user-images.githubusercontent.com/7571618/191490159-54c8ab6b-7298-45bc-a6d8-790051ff0088.png">

[2022-09-21 11:17] studiograficorosati commented on #34529
Unfortunately, it is a site dedicated to resellers that cannot display the prices including taxes, the only way to solve the problem is to ask the management system if the prices are loaded in Woocommerce excluding taxes ...

[2022-09-21 11:22] AnnaMag opened #34758 "[Epic] Attributes Product management MVP 1.0"
- [x] https://github.com/woocommerce/woocommerce/issues/34330
- [x] https://github.com/woocommerce/woocommerce/issues/34331
- [x] https://github.com/woocommerce/woocommerce/issues/34332
- [x] https://github.com/woocommerce/woocommerce/issues/34333

[2022-09-21 11:27] nodemonsdev commented on #34529
Hi! I had this problem also, we solved it by disabling the woocommerce tax calculation and calculating it from the product price when and where needed manually (custom calculation functions to display the tax)... this also involved changing the API response when the clients bookkeeping platform asked for orders.

I think most of the rounding problem comes from woocommerce using the subtotal of a c

[2022-09-21 11:27] AnnaMag opened #34759 "[Epic] Images Product management MVP 1.0"
- [x] https://github.com/woocommerce/mothra-private/issues/39
- [ ] https://github.com/woocommerce/mothra-private/issues/40
- [ ] https://github.com/woocommerce/mothra-private/issues/41

[2022-09-21 11:33] studiograficorosati commented on #34529
Thanks @nodemonsdev for your testimony, but we cannot do things manually, we have a management software that synchronizes the products, the only thing we can do is ask the management to send the prices excluding VAT in order to avoid the problem of decimals. ..

[2022-09-21 11:41] nodemonsdev commented on #34529
@studiograficorosati I did not mean manually as in calculating the price yourself. We did custom calculation functions where we needed to display the tax.

[2022-09-21 11:52] ilyasfoo opened #34760 "Enable guided mode button will not trigger when its text is translated"
Our onClick listener is queries for the button's text content. This means that if the content changes (such as when translated) would render the query invalid.

https://github.com/woocommerce/woocommerce/blob/1293e4ad312ff7778099bd35aee6384526f1442c/plugins/woocommerce-admin/client/guided-tours/add-product-tour/utils.ts#L28

Button text which is translated: https://github.com/woocommerce/woocommer

[2022-09-21 11:55] ilyasfoo commented on #34760
A better option is to use a more reliable tag, such as a classname

[2022-09-21 13:18] kudaleganesh opened #34761 "Orders not getting refunded with custom order tables (HPOS)."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

While testing the HPOS I found that orders created WooCommerce Custom Order Table (HPOS) are not getting refunded.
I tried with the Stripe payment gateway and redunding the order

[2022-09-21 14:18] Konamiman opened #34764 "Can't generate new REST API keys"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The bug is present in WooCommerce `trunk` as of the time of writing this (it's not present in the latest released version, 6.9.3)

It's not possible to generate an API key throug

[2022-09-21 14:49] gglobalstep opened #34765 "[GlobalStep] "Industry" options fails to save in the Industry step after reloading the page for OBW."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Industry" options fails to save in the Industry step after reloading the page for OBW.

### Expected behavior

"Industry" options should be saved in the Industry step after relo

[2022-09-21 15:00] wr200m opened #34766 "[Enhancement]: shortcode [product_categories] to support pagination parameter"
### Describe the solution you'd like

Pagination is supported in shortcode for listing products. But it is not available in [product_categories]. For sites with large number of categories - it is problematic not to have this feature.

### Describe alternatives you've considered

I cannot think of any alternatives

### Additional context

_No response_

[2022-09-21 16:51] mattsherman commented on #34764
Thanks, @Konamiman — I’ll take a look and fix this.

[2022-09-21 16:52] barryhughes commented on #34546
Thanks. I've updated the description and removed from the COT/HPOS project, since it is not specific to that work (though we will still need a change in the COT data-store when we address this).

[2022-09-21 18:41] roykho opened #34767 "Add milestone to PRs based on paths"
Currently our automated workflow is to add milestones to PRs when it also contains the label `plugins: woocommerce`. However this can sometimes be missed if the PR does not contain this label and gets merged [for example](https://github.com/woocommerce/woocommerce/pull/34382).

The [workflow](https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/pull-request-post-merge-processing

[2022-09-21 19:15] mattsherman commented on #34764
@Konamiman

I just did a new clone. I get `Tasks:    26 successful, 26 total` when I run `pnpm run build`. I wonder why things are different for us?

[2022-09-21 19:39] mattsherman commented on #34764
@Konamiman I can't reproduce this.

I did...

[code]

Build succeeds with...

[code]

The `pnpm run build` command is the step where the files under `plugin/woocommerce/assets/client/admin` get generated. They do not exist prior to that.

[2022-09-21 20:06] patrick-leb opened #34771 "Exception does not exist in Automattic\WooCommerce\Internal\Orders"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When an exception is thrown in web/app/plugins/woocommerce/src/Internal/Orders/CouponsController.php, it throws this exception:
[code]

### Expected behavior

This is because it'

[2022-09-21 20:52] #34596 closed, assigned to jorgeatorres

[2022-09-21 22:45] joelclimbsthings commented on #34437
@jarekmorawski A couple quick questions about the cover image behavior:
- I believe it was mentioned that the cover would always be the first item, is that correct?
- So, if an item is set as the cover, it will move to be the first item?
- Also, if the first item (cover) is moved to another position, should it cease to be the cover, and the one in the first position automatically be assigned as th

[2022-09-22 07:11] kudaleganesh opened #34775 "`wc_customer_bought_product` function is not compatible with WooCommerce (Custom Order Tables) HPOS."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `wc_customer_bought_product` function query is not updated with respect to the custom order table. It is still using the post and post_meta table to get the orders. Hence it

[2022-09-22 07:21] ilyasfoo commented on #34698
Actually, it was an individual page containing the promotional message under its own menu, and users would have to intentionally navigate to the page in order to view it. When a user clicks something like "Get started" button in that page, it would trigger the hidden promo note to enable the discount.

[2022-09-22 07:35] Konamiman commented on #34764
Looks like updating pnpm to v7 and doing a `git clean -fdx` on the repo before trying the install+build fixes the issue. The question then is why it's failing in https://github.com/woocommerce/woocommerce/pull/34727 (e.g. https://github.com/woocommerce/woocommerce/actions/runs/3081381529/jobs/4979862394 )

[2022-09-22 07:44] pehaa commented on #34256
Hey! it seems that the notice does not duplicate but I was able to confirm that it does display when the image satisfies the 1000px x 1000px and max 2 GB requirements.
Should I open a new issue? Thank you!

[2022-09-22 09:03] kudaleganesh opened #34776 "Fatal error while activating WooCommerce 7.0.0-hpos.dev.1"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

While activating the WooCommerce 7.0.0-hpos.dev.1 on the new site got the error.

Here is the error:
```PHP Fatal error:  Uncaught Error: Class 'Automattic\WooCommerce\Admin\Feat

[2022-09-22 09:35] Konamiman commented on #34043
Hi, we are unable to reproduce this issue with the latest version of WooCommerce. I see you are using 6.7.0, could you please upgrade and see if it still happens for you?

[2022-09-22 10:05] erikdemarco opened #34777 "Spec is invalid because a rule is invalid in feed"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Following error in Woocommerce Status Log/s.

The error because 'wcadmin_active_for' rule doesnt have 'days' key. so the validation fail. see this lines:

https://github.com/wooc

[2022-09-22 10:10] jarekmorawski commented on #34437
Yes. If you select an image that is the last item in the row, it'd jump to the first position.

Yup!

Great question. I think that we should hide the < > arrows on the cover item, so that it could not be moved. If the user set a different photo as the cover, the previous one would go to the second position in the top row. What do you think?

https://user-images.githubusercontent.com/79307566/19172

[2022-09-22 11:08] sudipto-shakhari opened #34779 "User meta select field without class is breaking in admin-panel"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have created extra fields on customer billing information. If I create a select field without any class in the field parameters, it throws a notice in the user edit panel. It t

[2022-09-22 11:16] vivialice opened #42580 "Controls/theme detection for dropdown borders"
Adding this quickly as it's something I observed while testing, the border for the dropdown filter option isn't visible against dark/color backgrounds.

<img width="377" alt="Screenshot 2022-09-22 at 12 12 26" src="https://user-images.githubusercontent.com/9888201/191732923-0ea295a9-fba2-47d7-b6cb-11b063ac4d0b.png">

[2022-09-22 11:34] andrestr93 commented on #32454
do you know if there is any short-term solution until they put the woocommerce update?

[2022-09-22 11:47] senadir commented on #42584
Yes, but we don't have an exact timeline, this was discussed previously and I think it would make sense to revive that discussion to decide on it.

Totally agree on this.

[2022-09-22 12:19] jbordonado opened #34780 "The ellipsis dropdown menu is mostly hidden within the task list"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In WooCommerce Payments, we display a task list in Payments > Overview, using [`CollapsibleList`](https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/experimental/s

[2022-09-22 13:05] danieldudzic opened #42579 "CheckboxList and CheckboxControl: Label htmlFor and Input id should be unique"
At the moment the `CheckboxControl` component (used by the `CheckboxList` component, that's utilized by filter blocks) sets the label `for` and input `id` to `option.value` - this results in the oversimplified markup, which has high potential for conflicts.

To quote @Aljullu from https://github.com/woocommerce/woocommerce-blocks/pull/7048:

![191306720-82c7a791-fd52-49e3-baf0-a88b40e15296](https:

[2022-09-22 13:20] SuperHanss commented on #32454
@andrestr93 the script I'm using:

[code]
Setting a short timeout triggers 'wc_fragment_refresh' successfully and updates the cart.

[2022-09-22 13:32] swatipawarGS commented on #34755
Hi @shankeyb,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.9.3 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/191680954-e6fea851-3efc-44a4-bd35-1f5a86e8d1d4.mp4

Priority of this issue will be assigne

[2022-09-22 14:09] danielwrobert commented on #42591
X-linking woocommerce/woocommerce-blocks#7203 for an additional example to reference.

[2022-09-22 16:09] joelclimbsthings commented on #34437
@jarekmorawski That works! Just to be 🔮 clear, that means that the first item also is not draggable at all, correct? Slightly more complex but shouldn't be a problem.

[2022-09-22 17:18] danielwrobert commented on #42581
Hi, @webaxones! 👋

Thanks for taking the time to report this Issue – much appreciated!

I've added it to our queue to investigate further.

[2022-09-22 17:51] webaxones opened #34786 "404 on wp-includes/js/dist/ JS scripts after WC>=6.9.0 update on bedrock structure"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

- PHP 8.0.21
- Bedrock project structure
- WooCommerce 6.8.2

Update to WooCommerce 6.9.0 or later
then go edit a post and check the console:

![image](https://user-images.github

[2022-09-22 18:13] barryhughes commented on #29793
The fix is a little more involved than we initially thought, so I have removed the good-first-issue label. Closed [PR#30062](https://github.com/woocommerce/woocommerce/pull/30062) contains useful discussion for anyone who wants to drive this one forward.

[2022-09-22 19:54] vinigarcia87 commented on #18425
Guys, I have the same problem...  if you remove the `wc-chekout` script, the problem goes away:

[code]

I'm trying to understand what is going on with this script. Maybe someone from the dev team can help us out?

[2022-09-22 21:29] mattsherman commented on #34777
@erikdemarco Thanks for reporting this issue. I have reproduced the issue and determined the root cause of it. This is due to a misconfiguration of the remote inbox notifications feed that is sent to WooCommerce installations. It will be updated soon and once it is updated stores will get the updated version within a day or so. At that point, the error will no longer appear in the logs.

[2022-09-22 21:36] tomalec opened #34789 "`getNewPath`'s `path` argument is not resolved relatively"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

`getNewPath`'s [documentation](https://github.com/woocommerce/woocommerce/blob/7b55c334add8eb712c6e6c51ee6fa98ae358345a/packages/js/navigation/src/index.js#L155) states:
[code]

[2022-09-22 22:00] #34222 closed, assigned to jorgeatorres

[2022-09-22 22:02] beaulebens commented on #34786
Related: [woocommerce-blocks/issues/6186](https://github.com/woocommerce/woocommerce-blocks/issues/6186)

Seems to be specific to sub-directory installs.

[2022-09-22 22:09] beaulebens commented on #34786
@webaxones what version of WordPress are you running?

[2022-09-22 22:12] webaxones commented on #34786
WordPress 6.0.2

[2022-09-22 22:24] beaulebens commented on #34786
Observation: If I have the Gutenberg plugin installed and active, these errors go away.

[2022-09-22 22:49] mattsherman commented on #34777
I have verified that the updates to the remote inbox notifications feed have been made and are delivered to new stores. Existing stores will receive the updated feed within a day or so (a store checks every 24 hours for an updated feed).

I'm closing this issue now that the issue is resolved.

[2022-09-22 22:49] #34777 closed, assigned to mattsherman

[2022-09-23 00:38] #32715 closed, assigned to nobody

[2022-09-23 05:54] rjchow opened #34795 "Mobile App Magic Link Feature: Test cases"
Unit tests and if possible, E2E tests on the mobile app magic link feature relating to below PRs:

[https://github.com/woocommerce/woocommerce/pull/34637](https://href.li/?https://github.com/woocommerce/woocommerce/pull/34637)
    [https://github.com/woocommerce/woocommerce/pull/34651](https://href.li/?https://github.com/woocommerce/woocommerce/pull/34651)
    [https://github.com/woocommerce/wooco

[2022-09-23 05:54] rjchow opened #34796 "Mobile App Magic Link Feature: premature success message"
When there’s an error with sending the magic link, we already show We just sent you the magic link which I think is premature. There’s a toast message to let users know it erred, but this could also confuse some users. I think having a loading indicator and showing success/failure in modal would be a great improvement.

If possible, we’d add a loading state to the ✨️ Send the sign-in link button,

[2022-09-23 05:54] rjchow opened #34797 "Mobile App Magic Link Feature: Mismatched accounts"
When the owner of the Jetpack connection is not the user who is currently logged in, he should not see the WooCommerce Mobile App item in the additional task list

[2022-09-23 06:26] ilyasfoo commented on #34796
Thanks for making the issue, @rjchow! I'd also like to add the suggestion by Jarek here: pbIJXs-2A7-p2#comment-5113

[2022-09-23 08:56] olsavmic opened #34798 "Update to order items does not update order->date_modified"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,
We're integrating WooCommerce stores with our platform and we started using the `modified_after` filters introduced in https://github.com/woocommerce/woocommerce/pull/30585.

[2022-09-23 09:18] voxoff79 commented on #34786
I installed Gutenberg plugin. Now i have less errors but still having 404 in this files:

wp-includes/js/dist/vendor/regenerator-runtime.min.js/?ver=0.13.9
wp-includes/js/dist/vendor/wp-polyfill.min.js/?ver=3.15.0
wp-includes/js/dist/vendor/lodash.min.js/?ver=4.17.19

[2022-09-23 09:58] andrestr93 commented on #32454
@SuperHanss  hello, in the desktop version it works fine, but in the mobile version it fails me, do you have any other solution? Thank you 😀

[2022-09-23 11:21] CGA8C opened #34803 "Subdivisions Missing for Ukraine in states.php file"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Ukraine is missing 3 subdivisions, Kyiv, Sevastopol, and the Autonomous Republic of Crimea, according to https://en.wikipedia.org/wiki/ISO_3166-2:UA and https://www.iso.org/obp/u

[2022-09-23 11:38] CGA8C commented on #34803
Reported in ZD-5570685

[2022-09-23 11:47] vedanshujain opened #34804 "[COT] Optimize query that counts currently pending order."
This query may timeout on very large installations, we need to find a way to optimize this so that it works in most scenarios.

[2022-09-23 11:51] mattsherman commented on #34764
@Konamiman I'm closing this one. If you are still having build issues, please open up a new specific issue. Thanks!

[2022-09-23 11:51] #34764 closed, assigned to mattsherman

[2022-09-23 12:05] SuperHanss commented on #32454
Should be working on both Chrome for Mac/Windows (in fact all chromium based browsers) and Chrome for Android. Perhaps the script isn't being loaded? Have you cleared the cache?

[2022-09-23 12:40] ralucaStan commented on #34786
This issue is coming from the Cart and Checkout Blocks and has been fixed in this PR https://github.com/woocommerce/woocommerce-blocks/pull/7211. We are working on releasing the fix ASAP.

[2022-09-23 12:48] #34604 closed, assigned to roykho

[2022-09-23 12:54] #34328 closed, assigned to mdperez86

[2022-09-23 13:30] tomalec commented on #33943
Seems somewhat similar to https://github.com/woocommerce/woocommerce/issues/34789 as in both cases `path` is not resolved relatively as it should / as documented / as it would be ergonomic for subpages

[2022-09-23 13:53] gglobalstep opened #34810 "[GlobalStep] [WP6.1 TT3] "Shop" and "Home" page fails to display on "Navigation" bar in frontend."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Shop" and "Home" page fails to display on "Navigation" bar in frontend.

### Expected behavior

"Shop" and "Home" page should be displayed on "Navigation" bar in frontend.

###

[2022-09-23 13:55] tomalec opened #34811 "[Enhancement]: Support path params in `wc_admin_register_page` to match what's supported by `woocommerce_admin_pages_list`"
### Describe the solution you'd like

When registering React-powered pages, as [per outdated(?) docs](https://github.com/woocommerce/woocommerce/blob/6e862af9ee4981bd3f2018ad06a63a0c519c1897/plugins/woocommerce-admin/docs/page-controller.md) I provide a path to be used by React router to `woocommerce_admin_pages_list` hook:
[code]

Which works pretty well, as `MyStable` gets called with `{ params:

[2022-09-23 13:58] gglobalstep opened #34812 "[GlobalStep] [WP6.1 TT3] Long "Email address" appears overlap with the Billing address box on "Order Received" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Long "Email address" appears overlap with the Billing address box on "Order Received" page.

### Expected behavior

Long "Email address" should appear within the Billing address

[2022-09-23 14:02] FolcWebC commented on #34361
Confirm: there are issues with relatively loaded resources

Test environment:
latest WordPress version, latest WooCommerce version, default WordPress theme Twenty Twenty-Two.

When logged in WordPress admin, by browsing the website there are such errors in the console on any page - https://prnt.sc/W9y21haounMO This errors appear  due to the fact that here https://prnt.sc/SDbA-a3f5k-s there are rel

[2022-09-23 14:26] gglobalstep opened #34813 "[GlobalStep] [WP6.1 TT3] "Store notice" text and button is aligned to center for all pages of your Store."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Store notice" text and button is aligned to center for all pages of your Store.

### Expected behavior

"Store notice" text and button should be properly aligned for all pages o

[2022-09-23 14:28] adrianduffell commented on #34765
I was able to reproduce this in 7.0 beta 1 and 6.9.2. It seems that the checkboxes do not populate when a browser refresh is performed on the Industry step.

I don't think it needs to be prioritized for 7.0, but thinking we should fix it sooner rather than later.

[2022-09-23 14:36] gglobalstep opened #34815 "[GlobalStep] For Atomic site, "Shipping task" fails to display after completing OBW on "Woocommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic site, "Shipping task" fails to display after completing OBW on "Woocommerce > Home" page.

### Expected behavior

For Atomic site, "Shipping task should be displayed a

[2022-09-23 14:43] AchalJ opened #34816 "Unable to remove the product from coupon usage restrictions"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I've created a coupon and added a product in the usage restrictions settings per the screenshot. Now when I try to remove the product and save the coupon, it gets added again. Th

[2022-09-23 14:49] danielwrobert commented on #42591
Hi, @vivialice! 👋

I'm not able to replicate this. I'm seeing a border radius on the buttons for both the editor and front-end:

**Editor:**
<img width="796" alt="CleanShot 2022-09-23 at 10 26 26@2x" src="https://user-images.githubusercontent.com/481776/191984881-be23110e-01cb-4223-965a-2968194498ba.png">

**Front-end:**
<img width="925" alt="CleanShot 2022-09-23 at 10 26 48@2x" src="https://user-

[2022-09-23 14:51] gglobalstep opened #34817 "[GlobalStep] For Atomic site, "Country/ Region" and "Email address" fails to save the store address after navigating back to "Store Details" tab from "Industry" tab."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic site, "Country/ Region" and "Email address" fails to save the store address after navigating back to "Store Details" tab from "Industry" tab.

### Expected behavior

F

[2022-09-23 14:52] swatipawarGS commented on #34761
Hi @kudaleganesh,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using the WooCommerce 6.9.3 version and WordPress 6.0.2 version.

Please find below the screenshot for reference :

![#34761](https://user-images.githubusercontent.com/94531721/191989394-ca0ed1c3-a056-4402-b0b9-9d3dd98855fe.jpg)

Please provide us wit

[2022-09-23 14:56] AchalJ commented on #34816
Nevermind. I figured out the problem.

[2022-09-23 14:56] #34816 closed, assigned to nobody

[2022-09-23 15:18] szepeviktor commented on #30575
Here it is implemented in vhost configuration.

[code]

[2022-09-23 15:27] andrestr93 commented on #32454
@SuperHanss It works correctly, what is not correct is the price of the mini-cart, that is, when I add items to the cart, it does not add up well

[2022-09-23 15:42] jonathansadowski commented on #34786
Thanks for the report, I'm closing this as it was fixed in WooCommerce Core in #34814.

[2022-09-23 15:42] #34786 closed, assigned to nobody

[2022-09-23 16:08] andrestr93 commented on #32454
@SuperHanss It works correctly in some versions of Google Crome but in others, trying with different mobiles, it does not work

[2022-09-23 16:44] tomalec opened #34818 "There are no up to date docs for how to add a page to Woo navigation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

As an extension developer, I'd like to create some pages and add them to the (new or old) Woo navigation. To do so, I need to know how.

While googling and browsing woocommerce.c

[2022-09-23 17:06] negapo opened #34819 "Variations Name - Attribute display is incoherent"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi to all.

By default, variable products that have more than two attributes will list the attributes below the product name like in the example below:

https://user-images.githu

[2022-09-23 17:59] mattsherman commented on #34256
@pehaa Thanks for asking about this!

@jarekmorawski What are your thoughts on this image tip… should it…

1) always display,
2) only display when no image is selected, or
3) only display when no image is selected or the selected image does not meet the guidelines?

[2022-09-23 18:39] Adriandufour commented on #34256
@mattsherman I think it makes sense for it to show up when the image doesn't follow the guidelines otherwise it seems unnecessary.

[2022-09-23 19:13] roykho commented on #34767
Update: We've removed the `plugins: woocommerce` label check for now so we don't miss anymore PRs without milestones. Ref https://github.com/woocommerce/woocommerce/pull/34820

[2022-09-24 00:37] #33793 closed, assigned to nobody

[2022-09-24 02:01] streamworksaudio opened #34824 "undefined function wc_get_container() error during uninstall"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When trying to uninstall WooCommerce when the define( 'WC_REMOVE_ALL_DATA', true ); is set in wp-config.php results in an Fatel Error saying the function wc_get_container() does

[2022-09-24 08:40] koellich opened #34825 "[Enhancement]: Remove usage of "putenv""
### Describe the solution you'd like

My client uses raidboxes.io as a hoster. There, they seem to blacklist PHP's putenv-function for PHP8.0+

I'm getting the following error when trying to use PHP 8.0+:

2022/09/24 10:13:03 [error] 17175#17175: *604546 FastCGI sent in stderr: "PHP message: PHP Fatal error: Uncaught Error: Call to undefined function putenv() in /home/wp/disk/wordpress/wp-content/

[2022-09-24 11:59] WiredWonder commented on #31880
Along with this fix, the email body needs to more clearly articulate that the order is not complete and still requires payment.

Further, the text in the Processing email also ends with a : and this causes the same flow issue when using the hook.

[2022-09-24 16:01] stephenblender opened #34826 "Duplicate priceSpecification throwing error in google search console"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Beginning september 15th google search console started flagging some products schema _Invalid value in field "priceSpecification" (in "offers")_. In their docs google specifies "

[2022-09-24 16:14] nickpagz opened #34827 "No "current-menu-item" on Shop page on FSE themes/Navigation Block"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On FSE themes and using the Navigation block to create navigation menus, the Shop page, when set as the "Shop Page" in WooCommerce > Settings > Products > General, does not inclu

[2022-09-25 00:36] #34219 closed, assigned to nobody

[2022-09-25 08:19] masteradhoc commented on #34825
+1

[2022-09-25 08:46] bigretromike commented on #34265
I will try to check if this is still issue with wp 6.0.2 with wc 6.9.3

[2022-09-25 15:19] FionaStudio505 opened #34830 "Thrive/Woocommerce purchase triggers several ActiveCampaing automations in stead of the one associated with the bought product"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am using Thrive Theme Builder Shapeshift with Thrive Apprentice and WooCommerce linked to ActiveCampaign and am encountering the following:

if someone registers for one of my

[2022-09-25 16:51] Nikotoh commented on #34737
Hi @psealock I have tried disabling Elementor and the problem still remains.

[2022-09-25 17:00] holle75 commented on #27661
Oh my God! i was trying the same thing for years now. Getting on programmers nervs around the world.
cornel82, i´m kissing your feet!

And yes, this should be in the core!

Just a silly question: why is msx-sepaqr.php calling vendor/bezahlcode.class.php where https://chart.apis.google.com is called?

[2022-09-25 19:30] AlePouroullis commented on #20336
It appears that the function isn't recognized when I use it in a WPCode snippet.
I get the following error:
------------------------------------
Uncaught Error: Call to undefined function set_resource_for_webhook_payload_by_webhook_id() in /home/looptaxi/domains/looptaxi.co.za/public_html/wp-content/plugins/insert-headers-and-footers/includes/class-wpcode-snippet-execute.php(260) : eval()'d code:8

[2022-09-25 23:43] samueljseay commented on #33949
I'm not sure if this is registered as a task but there seems like a secondary problem after doing this work.

Much of the scripting/build etc for `@woocommerce/*` is in the admin package. that feels completely wrong, and I think we need to move that work into the respective JS packages so that the webpack config for admin just builds admin and not the packages/js/*

cc @psealock

[2022-09-26 05:25] kudaleganesh commented on #34761
@swatipawarGS It is not with the WooCommerce 6.9.3, it's with the **WooCommerce Custom order table ( HPOS ) 7.0.0-hpos.dev.1**

[2022-09-26 06:24] kudaleganesh commented on #34761
Even though refund is not working for COD with **WooCommerce Custom order table ( HPOS ) 7.0.0-hpos.dev.1.** Below is the screencast for it.
- [Screencast](https://www.awesomescreenshot.com/video/11312139?key=cf4d69d27584194465beb51cd5339e73)

[2022-09-26 06:54] Konamiman commented on #34492
Hi @PowerGPU, thanks for your report.

Yes, we are aware that support for order changes after a payment has been made (including support for multiple payments) is an area with huge room for improvement in WooCommerce, and we have received similar requests in the past. Improving this is in our roadmap, but we can't provide a timeframe for implementation yet.

As for preventing the modification of a

[2022-09-26 07:57] chihsuan commented on #34745
I was able to reproduce this with PHP 8.

[2022-09-26 09:28] chihsuan opened #34833 "[Enhancement]: Fix slow onboarding task list query"
### Describe the solution you'd like

See https://github.com/woocommerce/woocommerce/issues/33988#issuecomment-1219915956

### Describe alternatives you've considered

_No response_

### Additional context

Still need to investigate.

[2022-09-26 09:33] chihsuan commented on #33988
Hey @sun Thanks for sharing your valuable findings! Much appreciated. 👍

As you mentioned, the shipping task issue has been fixed so I'm going to close this!

Meanwhile, I've created a follow-up issue to fix the slow onboarding task list query as you investigated #34833.

Thank you!

[2022-09-26 09:33] #33988 closed, assigned to nobody

[2022-09-26 09:45] chihsuan commented on #34488
I was able to see the note after running the `wc_admin_daily` job. I think we missed to add that step to the instructions.

[2022-09-26 09:45] #34488 closed, assigned to nobody

[2022-09-26 11:49] kaushikasomaiya opened #34837 "Invalid relative path for DNS prefetching of some WP Includes assets when product in cart"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

5579413-zen

When a product is in cart, WooCommerce appears to be prefetching some JS resources:

![image](https://d.pr/i/xWhCHU+)

The relative path of the prefetched resource s

[2022-09-26 11:52] #34694 closed, assigned to nobody

[2022-09-26 12:19] #34711 closed, assigned to nobody

[2022-09-26 12:29] Stas0238 commented on #25040
@juliaamosova
Hello,
It's been a while from my first message and as I see this request has already 12voices and many comments from others who found this issue. I have few questions for you :
1/ How many voices do you need to have before starting fixing this bug ?
2/ According to WooCommerce previous few versions you are not making global things so I think it is better to fix the bugs you already h

[2022-09-26 12:52] pehaa commented on #34256
Please confirm @mattsherman if I should open a new issue :) I'll be happy to do that.

[2022-09-26 13:35] nerrad commented on #42671
This is something that will be considered as a part of the work with the product query block and revamping of the existing product archive type blocks.

[2022-09-26 13:51] gigitux commented on #42591
Same, I'm not able to replicate this issue. Also, on my setup with TT2 the buttons  don't have the border-radius:

![image](https://user-images.githubusercontent.com/4463174/192293729-d691c6e4-8768-4806-84c1-f3ed3f80a501.png)

[2022-09-26 14:18] julianrendell commented on #25040
👍

[2022-09-26 14:23] jonathansadowski commented on #34737
Hi @Nikotoh,

I noticed that you might have several other plugins active, and you're using a theme other than a default WordPress theme or [Storefront](https://woocommerce.com/storefront/). I just wanted to confirm, can you reproduce this with **only** WooCommerce and a WordPress theme or Storefront active?

[2022-09-26 14:59] monsterbnd opened #34839 "Woocommerce CSV importer does not work correctly with the product gallery"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Step 1: Export csv
The file contains the following images of the product: https://.com/1.jpg, https://.com/2.jpg

Step 2: Change csv file
Replace images of the product: https://.

[2022-09-26 16:10] #34677 closed, assigned to jorgeatorres

[2022-09-26 16:46] vivialice commented on #42591
hmm I am not sure what is going on. I did a review over Zoom with @danielwrobert and all my site settings are the same. I get the same result when I change to any style.

[2022-09-26 16:51] gigitux commented on #42591
Could you try to remove-add the blocks again? Also, are you sure that you don't have any global styles enabled?
Can you share your version of WordPress and your version of Gutenberg?

Thanks! 🙇

[2022-09-26 17:36] ethanclevenger91 commented on #33322
I can't speak to whether any logic does/doesn't fire, but with the jQuery Migrate Helper plugin installed, I see a warning message on my dashboard regarding WooCommerce's `wc-status-widget` JS:

[code]

Given:

- The WordPress project's big-picture goal of moving to jQuery 3 was completed quite some time ago
- The Migrate Helper plugin was supposed to be a stop-gap
- This issue was introduced in F

[2022-09-26 17:44] #34330 closed, assigned to louwie17

[2022-09-26 18:53] jonathansadowski commented on #34826
Hi @stephenblender,

Thanks for the report. Can you please reply with information from your System Status Report? You can find the system status report from **WooCommerce > System Status** in WordPress admin. Click on "Get system report", and then "Copy for Support" and paste the results in a reply to this issue. Without the System Status Report, we will be unable to attempt to reproduce this issu

[2022-09-26 19:27] jonathansadowski commented on #34830
Hi @FionaStudio505,

Thanks for reaching out to report this issue. It sounds like the issue might exist in one of the other plugins that you've installed. We are unable to provide support for those plugins here, as this repository is for reporting issues in WooCommerce. Please reach out to the plugin author directly for support.

I'm going to close this issue, but if you believe this is a mistake,

[2022-09-26 19:27] #34830 closed, assigned to nobody

[2022-09-26 20:40] jeffpaul commented on #31812
@vedanshujain @Konamiman mind marking this issue as closed by #33812?

[2022-09-26 22:05] pixaliastudio opened #34842 "Order details are not showing in New Order email"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Since latest Woocommerce version, when I receive a new order, the email doesn`t show the order details completely.

This is a hotel website and works with YITH booking and appoin

[2022-09-26 23:29] robertbui commented on #34696
Google Shopping requires the sale start date if there is a sale end date, or vice versa. Otherwise, Google Shopping will flag an error on the product and not display in the product listing.

https://github.com/wp-plugins/woocommerce/blob/master/includes/wc-product-functions.php
Line 366 - doesn't clear the sale end date (the correct way)

https://woocommerce.github.io/code-reference/files/woocomme

[2022-09-27 01:40] johndcoy commented on #34842
I cannot replicate this problem using the core product types built into WooCommerce. This issue needs to be opened with YITH Booking and Appointment for WooCommerce Premium: by YITH, no WooCommerce core.

[2022-09-27 03:06] chihsuan commented on #34138
I wasn't able to reproduce this with WC 7.0.0. I think this has been fixed.

[2022-09-27 03:06] #34138 closed, assigned to nobody

[2022-09-27 03:22] chihsuan commented on #34136
I was not able to reproduce this on JN site with WC 6.9.0 with instructions. I think this has been fixed.

[2022-09-27 03:22] #34136 closed, assigned to nobody

[2022-09-27 05:50] #34745 closed, assigned to chihsuan

[2022-09-27 07:15] #34815 closed, assigned to chihsuan

[2022-09-27 07:15] #34817 closed, assigned to chihsuan

[2022-09-27 07:38] #34753 closed, assigned to chihsuan

[2022-09-27 07:39] whywilson commented on #19645
## How to import variable products by CSV in WooCommerce?
1. Import variable and variation products to **create products**.
2. Re-import only variation product to **connect variation id to variation product**.
### Notice
1. Variable row has attributes that are imploding the attributes of the variable products by a comma.
2. Do not check **Update Existing Products**.
3. First importing will create

[2022-09-27 08:12] #34760 closed, assigned to chihsuan

[2022-09-27 08:26] #34765 closed, assigned to chihsuan

[2022-09-27 08:38] peterfabian opened #34848 "WP 6.1 and Twenty Twenty Three compatibility"
Preparation for WP 6.1 and TT3 theme.

- 21 September 2022	[Beta 1](https://wordpress.org/news/2022/09/wordpress-6-1-beta-1-now-available/)
- 27 September 2022	Beta 2.
- 4 October 2022	Beta 3.
- 11 October 2022	Release candidate 1.
- 18 October 2022	Release candidate 2.
- 25 October 2022	Release candidate 3.
- 1 November 2022	WordPress 6.1 is released!

[2022-09-27 08:45] chihsuan commented on #34746
I've tried a few times but wasn't able to reproduce this in WC 7.0 beta1 and confirmed it's the same for GlobalStep. Closing this for now.

[2022-09-27 08:45] #34746 closed, assigned to nobody

[2022-09-27 09:27] PradeepTyche opened #34849 "WordPress database error Specified key was too long; max key length is 1000 bytes for query on WAMP"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

WordPress database error Specified key was too long; max key length is 1000 bytes for query

### Expected behavior

No error must be thrown while creating tables

### Actual beha

[2022-09-27 09:29] PradeepTyche commented on #34849
Go to
\bin\mysql\mysql5.7.36\my.ini

Change
default-storage-engine=InnoDB

Add the following under
[wampmysqld64]
default-storage-engine=InnoDB
innodb-default-row-format=DYNAMIC
innodb-file-format=barracuda
innodb-file-per-table=ON
innodb-large-prefix=ON

[2022-09-27 09:29] #34849 closed, assigned to nobody

[2022-09-27 09:46] rwkyyy commented on #19645
@whywilson the 2nd point on the notice section is a big brainfart... 😵‍💫

[2022-09-27 10:07] kaushikasomaiya opened #34850 "Issues with wc_get_order() function returning false value in some cases."
5578421-zen:

Order edit page crashing:

Reason: Likely $order = wc_get_order(); returning a false value.

[2022-09-27 10:28] kaushikasomaiya commented on #34850
Closing this for now, will reopen if I get exact steps to replicate. Had opened hurriedly.

[2022-09-27 10:28] #34850 closed, assigned to nobody

[2022-09-27 10:36] anant1811 opened #34851 "Schema: Review passing `priceSpecification` as well as `offers` schema, and pass `aggregateRating` as well."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

1. Currently, we're adding `priceSpecification` and `offers` schema properties, and both of them have the "Price" values, thus each product gets price specified twice. Google's [

[2022-09-27 11:24] jarekmorawski commented on #34000
I think we'd use a new format for the child categories: `[Parent] > [Child]`. If just the parent was added, it would appear as `[Parent]`. Note that this structure would apply to the new UX, too.

Good call! I think we could use a combination of this and the tags management interface. Maybe something like this would work? It's a quick mockup but could help set the direction. We would only load the

[2022-09-27 12:41] AnnaMag commented on #34519
@pmcpinto could you review the priority of this change, please? As per the comment above, it is a "feature request".

[2022-09-27 12:47] kaushikasomaiya commented on #34837
Closing this as it seems to be fixed by the latest version of WC 6.9.4.

[2022-09-27 12:47] #34837 closed, assigned to nobody

[2022-09-27 13:07] swatipawarGS commented on #34827
Hi @nickpagz,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.9.4 version, WordPress 6.0.2 version, and Twenty Twenty Two theme.

Please find below the screenshots for reference :

Shop Page:

![#34827(shop)](https://user-images.githubusercontent.com/94531721/192453082-8ae3c157-92d4-4c1c-9a82-8

[2022-09-27 13:28] vivialice commented on #42591
@gigitux I'll give that a go and report back!

Yup

WP v6.0.2 and GB v14.1.1

[2022-09-27 13:51] joashrajin commented on #34665
@psealock I was able to replicate this behaviour on #5586300-zen. We have access to the staging site if you want to take a look.

Just WooCommerce and the Kinsta cache plugin is enabled, along with 2022:
<img width="1150" alt="image" src="https://user-images.githubusercontent.com/16253818/192534868-e6fd7451-5e5d-4f43-9b45-50c6ab05f6de.png">

Their are some 'In-Stock' Products still showing up desp

[2022-09-27 14:21] peterfabian commented on #34824
Hi, thanks for reporting the issue.

This should be fixed in the October release (WC 7.0) via https://github.com/woocommerce/woocommerce/pull/34469.

[2022-09-27 14:21] #34824 closed, assigned to nobody

[2022-09-27 14:25] #34732 closed, assigned to ecgan

[2022-09-27 14:33] peterfabian commented on #34819
Thanks for taking the time to report this inconsistency. It would be greatly appreciated if you could submit a PR to fix this problem. Cheers!

[2022-09-27 15:12] jonathansadowski commented on #34842
Hi @pixaliastudio,

Thanks for the report. As @johndcoy mentioned, unless we're able to reproduce the issue in WooCommerce Core itself, with no other plugins activated, there's nothing else that we'll be able to do. Please reach out to the authors of the plugin that you're having issues with and report the problem to them.

I'm going to close this issue, but if you think that this is a mistake, an

[2022-09-27 15:12] #34842 closed, assigned to nobody

[2022-09-27 15:16] jonathansadowski commented on #34826
Thanks again for the report. I'm closing this in favor of #34851, which is a duplicate of this issue.

[2022-09-27 15:16] #34826 closed, assigned to nobody

[2022-09-27 15:16] peterfabian commented on #34277
Hi,

Thanks for opening the issue. SEO-wise, do you think it would make sense to change it into
[code]
?

Otherwise, there is a [template function `woocommerce_template_loop_product_title`](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/wc-template-functions.php#L1164) that can be overridden either in the template itself or via a small code snippet that runs bef

[2022-09-27 15:16] #34277 closed, assigned to nobody

[2022-09-27 15:41] mdperez86 opened #34854 "Create a new Settings DataStore and rename the Analytics Settings DataStore"
#### Description

Currently we have a analytics Settings DataStore called settings and should be renamed to `analytics-settings` to avoid confusion and create a new `settings` DataStore around the [WooSettings endpoint implementation](https://woocommerce.github.io/woocommerce-rest-api-docs/#settings), also the [setting options](https://woocommerce.github.io/woocommerce-rest-api-docs/#setting-optio

[2022-09-27 16:38] or128 commented on #34851
I would like to second this, this is a major issue that can be easily addressed and fixed.

You can read about this here: https://support.google.com/webmasters/thread/180704786/pricespecification-error?hl=en-GB

[2022-09-27 17:10] ecgan commented on #33895
Closing the loop here with @jconroy @becdetat, I've added some Playwright e2e tests and component tests under issue https://github.com/woocommerce/woocommerce/issues/34732 and PR https://github.com/woocommerce/woocommerce/pull/34840. 🙂

[2022-09-27 17:11] ecgan commented on #33895
All the tasks are completed, I'm closing this issue.

[2022-09-27 17:11] #33895 closed, assigned to ecgan

[2022-09-27 18:05] pldoolittle opened #34855 "[Enhancement]: Add the ability to Send a guest payment request link for authenticated users"
### Describe the solution you'd like

Request:  Allow admins to send a guest payment request for any order, guest or authenticated.

Problem:  Customers often call in for support when they have a payment problem. Woo has no facility for accepting payment by phone. The guest payment page could be used for this purpose, but admins cannot open the payment link sent to an authenticated customer.

###

[2022-09-27 20:55] #34735 closed, assigned to roykho

[2022-09-27 22:42] jb510 commented on #29138
I'm going to echo the obvious... using this SQL to do this is a really bad idea.  Do things through the WP/WC API because it does important things like cache invalidation and running other hooks that might be important.

Regardless, this being in core WC is long overdue...  like so many sensible enhancements.

What is funny is I found this issue as a frustrated customer (mistakenly bought somethin

[2022-09-28 02:16] chihsuan commented on #33986
Hey @verofasulo Regarding this bug, I found that we have already **disabled** the button, so we're able to get an event trigger when a user clicks on the button.

The button "looks like" is clickable because the WP component has `:active` CSS for the button by default. I think we have two options:

1. Disable the button completely

https://user-images.githubusercontent.com/4344253/192672052-be097f

[2022-09-28 03:42] chihsuan commented on #32179
Closing this since we've completed it and started working on small issues. 🙂

[2022-09-28 03:42] #32179 closed, assigned to rjchow

[2022-09-28 07:08] starpainttech commented on #34682
I also started getting this error Invalid value in field "priceSpecification" (in "offers") , this thread https://wordpress.org/support/topic/pricespecification-error/  says it is a bug so I don't know if I should validate fix or wait

[2022-09-28 07:26] nicomollet commented on #32379
@peterfabian @vedanshujain please reconsider this.

I understand the focus of High-performance Order Storage is performance, but still one of the huge benefits of decoupling tables is to allow easy migrations of data.
For example redesigns are now almost impossible with core WooCommerce.
After doing a redesign on a staging site, how to publish your new design to production without erasing the stor

[2022-09-28 08:01] vedanshujain commented on #32379
Hey @nicomollet , I assume you are talking about the requirement that we still write a placeholder post to the posts when creating an order and possible conflict of new post_ids in staging with order_ids in production. (Please correct me if that's wrong because rest of my comment is based on that).

We took this call of storing placeholder posts to not only provide additional compatibility with co

[2022-09-28 08:22] kaushikasomaiya commented on #34361
This is now fixed in the latest version of WooCommerce. It was due to relative DNS prefetching URLs.

Reference: https://github.com/woocommerce/woocommerce-blocks/pull/7211

[2022-09-28 08:22] #34361 closed, assigned to nobody

[2022-09-28 08:31] nicomollet commented on #32379
Yes @vedanshujain I am talking about the placeholder post.
I do understand that it is needed to allow reverting to posts table, and it is absolutely legitime.

But since you `plan to stop synchronizing orders to posts and postmeta tables with WooCommerce 8.0 in August 2023`, this placeholders posts would not be needed anymore (except for order notes in wp_comments)?
That's why I am insisting on th

[2022-09-28 09:08] frirari opened #34860 "Reading categories over the REST API, doesn't return empty categories"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If I read the categories from WooCommerce through the RestAPI,
it didn't return categories, which are empty.

### Expected behavior

Download all product categories including emp

[2022-09-28 09:36] Konamiman opened #34861 "Management of plugins (in)compatibility with features"
_This task is framed in the context of the COT/HPOS project but the implementation will be useful for any future new feature as well_

After https://github.com/woocommerce/woocommerce/pull/34727 is merged we need to do something when there are plugins that are incompatible with one or more of the existing features.

To start with, we decide that a given plugin is incompatible with a given feature

[2022-09-28 10:39] peterfabian opened #34862 "[COT] Document compatible extensions"
Create a compatibility table to document which extensions are compatible with HPOS. Prior art for blocks: https://woocommerce.com/document/cart-checkout-blocks-support-status/#section-3

[2022-09-28 12:58] erikalaguna commented on #26604
I've followed that document to the T but still having issues. The Attributes are imported, the "used for variations" checkmark is checked but the variations are not being created. I've tried disabling plugins, and theme, same results.

[2022-09-28 13:10] gigitux commented on #42591
I just tried again with your setup, and I'm not able to replicate it :'(

[2022-09-28 13:26] vivialice commented on #42591
I just tried it again too and I am still getting the same result! So strange. 🤔

[2022-09-28 13:26] verofasulo commented on #33986
Hey @chihsuan, thanks for tagging me :)

I think this option works better - Till the user doesn't select any industry, the button is disabled.

Side note: are we still working on the implementation of the "Skip" button for every single step?

[2022-09-28 13:26] vivialice commented on #42591
Are you testing on a page or a template?

[2022-09-28 13:27] gigitux commented on #42591
I'm testing it on a template. Could you try on a new website?

[2022-09-28 14:46] vivialice commented on #42591
Okay I tried on a different site and it's looking a lot better! The sizes still look slightly different to me though, are you seeing the same?

Editor:

<img width="542" alt="Screenshot 2022-09-28 at 15 45 17" src="https://user-images.githubusercontent.com/9888201/192810213-c35db0d6-e35b-472c-92a0-539f45f44f22.png">

Front end:

<img width="649" alt="Screenshot 2022-09-28 at 15 45 22" src="https:/

[2022-09-28 18:25] barryhughes opened #34864 "[COT/HPOS] Integrate with SSR"
Make it possible to check if COT is in use via the System Status Report.

<img width="764" alt="mock-hpos-ssr" src="https://user-images.githubusercontent.com/3594411/192859651-313f38b0-1e3c-4592-8434-1f924e5a5f4e.png">

☝🏽 Perhaps something like this mock, though it's just an idea. Perhaps it would make more sense to specify the data-store class (which would also surface custom data-stores).

[2022-09-28 18:42] lanej0 opened #34866 "Display Analytics is unchecked when loading settings page, even though it's enabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

By default, Analytics is enabled in WooCommerce.  If you load `/wp-admin/admin.php?page=wc-settings&tab=advanced&section=features`, the checkbox to enable Analytics is unchecked

[2022-09-28 20:17] #34866 closed, assigned to jorgeatorres

[2022-09-28 20:52] gboxxx opened #34869 "[Enhancement]: Parent Product Stock to Control Variations via API"
### Describe the solution you'd like

Updating a Variable Product's Parent **stock_status** via API should work the same way it does in the back end quick edit, in that changing the **stock_status** controls all the associated Variations.

![image](https://user-images.githubusercontent.com/96701009/192884167-7190dc0d-db03-4a74-b6a7-e54568108076.png)

Currently, setting a Variable Product's Parent

[2022-09-29 02:03] barryhughes opened #34874 "[COT/HPOS] When a new order is created, store the creation date in GMT"
When the HPOS data-store is in use, a newly created order may be stored with the wrong creation date: this should be GMT, but it seems possible for it to be stored in whatever the WP timezone is.

### Steps to replicate

1. Enable COT/HPOS.
2. Via **Settings ▸ General** set your WP timezone to `America/Vancouver` or some other non-GMT timezone.
3. As a customer, create a new order.
4. As an admin

[2022-09-29 04:12] chihsuan commented on #33986
@verofasulo Thanks for confirming!

Nope, we've reverted the skip button changes as discussed here -> p1661361745845199-slack-C01SFMVEYAK

[2022-09-29 06:09] kanlukasz opened #34876 "[Enhancement]: Add `apply_filter` for paragraph in `customer-processing-order`"
### Describe the solution you'd like

Currently in `woocommerce/emails/customer-processing-order.php` we have text like:
[code]
This message often does not correspond to the rules of the store.
Often we have to change it with `gettext` or copy the template.
I think it would be easier and neater to be able to change it with `add_filter`

### Describe alternatives you've considered

_No response_

#

[2022-09-29 07:51] fisoi opened #34877 "Update date completed for orders"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When updating an order with the PUT endpoint (/wp-json/wc/v3/orders/<id>), we try sending:
    "date_completed": null,
    "date_completed_gmt": null,
But the values don’t update

[2022-09-29 07:59] s1awek commented on #21649
For me, the problem was a mini cart - it didn't refresh after `set_price()`. I think it my by happening because of combination AJAX and caching. For example removing even one item from mini cart refreshed it and prices magically jumped in as they should.
I found this bit of code, and it's working for me:

[code]

[2022-09-29 09:01] mrleemon commented on #34304
In my case, the Select2 dropdown positioning issue only occurs when using the GTranslate plugin (https://wordpress.org/plugins/gtranslate/) and adding its language selector widget to a widget area.

[2022-09-29 09:22] webdados commented on #33808
Taking into account that PHP 8.1 was released 10 months ago, and 8.0 active support ended in one month, I think the "priority: low" tag needs to be rethought.

[2022-09-29 11:47] larssn commented on #33808
Agreed, we've had to turn off logging on our servers, due to the log file growing to several gigabytes in only a few days.

[2022-09-29 13:42] gglobalstep opened #34883 "[GlobalStep] Help icon text fails to show padding after hovering over Help button on "Products > Add New (MVP)" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Help icon text fails to show padding after hovering over Help button on "Products > Add New (MVP)" page.

### Expected behavior

Help icon text should display properly with paddi

[2022-09-29 14:27] gglobalstep opened #34884 "[GlobalStep] [WP6.1] Info icon (i) text fails to show padding after clicking on Product types step of OBW."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Info icon (i) text fails to show padding after clicking on Product types step of OBW.

### Expected behavior

Info icon (i) text should show padding after clicking on Product typ

[2022-09-29 16:21] jrick1229 commented on #23752
For anyone else landing here, updated doc link: https://woocommerce.com/document/product-csv-importer-exporter/#permission-error-when-importing

[2022-09-29 16:32] louwie17 opened #34885 "[Enhancement]: Load categories on demand in product editor"
**Issue Description:**

This issue is a split off from #34000, to just work on the product categories widget within the product editor.

Currently all the categories are loaded/rendered in the categories widget within the Product Editor. This can potentially cause some performance issues for stores that have several thousand categories. Not only that, once you have over a hundred categories the cu

[2022-09-29 16:34] louwie17 commented on #34000
Thanks @jarekmorawski those designs look good, I did create a new issue for this part in particular, so it could be worked on in tandem if needed: https://github.com/woocommerce/woocommerce/issues/34885

[2022-09-29 17:35] mdperez86 commented on #34657
@jarekmorawski , @pmcpinto the new `New shipping class` option will be added to the list when there are no other classes or always?

If always: Since this is a dropdown with autocompletion feat, what are we plan to do with that?
- The new option should always be shown no matter the text the user is typing?
- At the top or bottom of the dropdown menulist?
- We should show the new option the first t

[2022-09-29 17:49] jorgeatorres opened #34886 "[PHP 7.1.x] Incompatible signature between `Container` interface and implementation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Because the signature for the `get()` method in our [`Container` interface](https://github.com/woocommerce/woocommerce/blob/35ede22a3d02d4ee09d7c59db3ccd1f4fda7c907/plugins/wooco

[2022-09-29 18:04] pmcpinto commented on #34657
I think we should keep it simple in the MVP and just display the option when there are no classes. @jarekmorawski what do you think?

[2022-09-29 20:24] rtpHarry opened #34889 "Typo in coupon error message"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Missing word, either "your" or "the", in a coupon error message:

https://github.com/woocommerce/woocommerce/blob/9db2c452905ebf796a8e8b4d63db64b57e169dbe/plugins/woocommerce/inc

[2022-09-30 03:32] chihsuan opened #34893 ""Set up payments" task display unnecessarily"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

 “Set up payments” task is displayed while they’re already fully onboarded with WC Pay.

<img width="787" alt="Screenshot 2022-09-29 at 09 53 05" src="https://user-images.githubu

[2022-09-30 04:22] rodelgc opened #34894 "`customers` REST API endpoint is throwing a `500 internal server error` or a fatal error when the customer was created via WP CLI"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Recently, the `checkout-login.spec.js` e2e test is failing on `trunk` because it's getting a `500 internal server error` when it tries to update the billing address of our test c

[2022-09-30 06:26] frirari commented on #34860
I found the "failure".

Our template use the "User Access Manager" plugin for default.
So I couldn't deactivate them.

In the settings of the "User Access Manager" plugin is an option, to filter out empty product categories.

I changed the setting and now all is ok.

Shame over me :-(

[2022-09-30 06:26] #34860 closed, assigned to nobody

[2022-09-30 07:27] chihsuan commented on #34789
Hey @tomalec I feel it might not be a bug. I think it was intentionally implemented to be like that. 🤔 😅

The getNewPath function was added in [this commit](https://github.com/woocommerce/woocommerce/commit/c16be4d0613a2b0136064ca42366579426e9322a#diff-2595addca4b6d7fd341c6753a15bde7ca82233b548777cbcc576094927634d82R41-R52), as you can see it did not look like intending to handle relative path, an

[2022-09-30 07:52] jarekmorawski commented on #34657
If the effort to make the option available at all times is too great, we can skip it for the MVP. I'd vote for having it there, though, because 1) it's very useful 2) we might forget about it during the later stages of development.

No. If the user is typing, we should only display the search results. When the user removes the query, we can show the full list with the `Add new` option. Out of curi

[2022-09-30 07:56] #33157 closed, assigned to barryhughes

[2022-09-30 09:47] vedanshujain opened #34897 "[COT] Run unit tests with COT enabled in another run"

[2022-09-30 09:50] AbhinavSakalle commented on #32187
Another report in 5596148-zen

[2022-09-30 09:51] vedanshujain opened #34898 "[COT] Send back usage stats using WC tracker"
This issue scopes adding flag for it HPOS is enabled for shops that have opted into sharing the usage data.

[2022-09-30 12:08] vedanshujain opened #34899 "[COT] Render columns in the list via action instead of doing it directly."
In the post-table implementation, all the column rendering methods are called via hooks, which is not the case anymore with HPOS. In HPOS, they are called directly. Therefore there is no option to modify the values in the columns (Or insert values before/after).

This issue tracks rendering column values via action so that extensibility parity is maintained with the posts list.

[2022-09-30 12:11] #34231 closed, assigned to barryhughes

[2022-09-30 12:21] nielslange opened #42578 "Paytm Payment Gateway doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of Paytm Payment Gateway** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they can add support.

### It's up to extension developers to add sup

[2022-09-30 12:22] nielslange commented on #42578
Related https://wordpress.org/support/topic/plugin-integration-7/

[2022-09-30 12:27] nielslange opened #42577 "Authorize.Net doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Authorize.Net](https://woocommerce.com/products/authorize-net/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they can add support.

###

[2022-09-30 12:27] nielslange commented on #42577
Related https://wordpress.org/support/topic/authorize-net-not-working/

[2022-09-30 12:29] nielslange commented on #42603
Related https://wordpress.org/support/topic/razorpay-payment-gateway-not-working/

[2022-09-30 12:30] nielslange commented on #42577
Related https://wordpress.org/support/topic/authorize-net-payment-gateway/

[2022-09-30 12:33] nielslange commented on #42603
Related https://wordpress.org/support/topic/razor-payment/

[2022-09-30 12:52] jorgeatorres commented on #34894
Just wanted to add that the error causing the 500 is this one:

This relates [to the `'date_created'` property](https://github.com/woocommerce/woocommerce/blob/5cb5be8e9a4f269922877572b81e998d960dcc45/plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-customers-controller.php#L43) on the `WC_Customer` object, which in turn depends on the [`user_registered` property of the und

[2022-09-30 13:28] nielslange opened #42576 "TeraWallet – For WooCommerce doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [TeraWallet – For WooCommerce](https://wordpress.org/plugins/woo-wallet/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they can add supp

[2022-09-30 13:28] nielslange commented on #42576
Related https://wordpress.org/support/topic/checjout-block-and-tera-wallet-plugin/

[2022-09-30 13:40] stuartduff commented on #32187
Another report 5595955-zen

[2022-09-30 13:46] nielslange opened #42575 "Mix and Match Products doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Mix and Match Products](https://woocommerce.com/products/woocommerce-mix-and-match-products/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask

[2022-09-30 13:46] nielslange commented on #42575
Related https://wordpress.org/support/topic/woocommerce-mix-and-match-products-meta/

[2022-09-30 13:55] nielslange opened #42574 "Splitit Payment Gateway doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Splitit](https://wordpress.org/plugins/splitit-installment-payments/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they can add support

[2022-09-30 13:55] nielslange commented on #42574
Related https://wordpress.org/support/topic/woocommerce-block-not-working-with-splitit-woocommerce-subscription-plugin/

[2022-09-30 14:46] Konamiman commented on #34877
Hi @fisoi, thanks for your report. The behavior you are experiencing is by design, as the `date_completed` and `date_completed_gmt` are read-only (this is documented in [the WooCommerce REST API reference](https://woocommerce.github.io/woocommerce-rest-api-docs/#order-properties)). I'm closing this for now, but please feel free to reach out if you have further questions or suggestions.

[2022-09-30 14:46] #34877 closed, assigned to nobody

[2022-09-30 15:01] Konamiman commented on #34839
Hi @monsterbnd, thanks for your report. We have been able to reproduce the issue, and apparently the weird behavior (only one of the existing images is replaced) is due to the fact that the image in the file replaces the current featured image of the product, and the other images remain unchanged. I'll label this as a bug.

[2022-09-30 15:12] Konamiman commented on #34779
Hi @sudipto-shakhari, thanks for your report. We've been able to reproduce the issue so I'll label this as a bug.

[2022-09-30 15:15] #34899 closed, assigned to vedanshujain

[2022-09-30 15:22] Konamiman commented on #34776
Hi @kudaleganesh, the latest test package, `7.0.0-hpos.dev.4`, has a fix for this issue.

[2022-09-30 15:22] #34776 closed, assigned to nobody

[2022-09-30 15:29] Konamiman commented on #34775
Hi @kudaleganesh, you are absolutely right, this function should be using the new tables when the feature is active. Thanks!

[2022-09-30 16:45] ecgan opened #34903 "Epic: Multichannel Marketing Front-end"
## Overview

This is an epic issue to track the development of an MVP version for the front-end part of the multichannel marketing feature. This builds on top of epic issue https://github.com/woocommerce/woocommerce/issues/33895 and relates to the back-end part in epic issue https://github.com/woocommerce/woocommerce/issues/34548.

As part of the multichannel marketing project (pbIy4N-213-p2), we

[2022-09-30 16:46] ecgan opened #34904 "Add the introduction banner card into Marketing page"
This task issue is to add the introduction banner card into the multichannel marketing page.

Link to Figma design: 7cNed5RvTasoLgn38Hea0R-fi-2145%3A84807

- The introduction banner card is shown to New to Woo users & Existing supported channel users who are seeing multichannel for the first time.
- Its purpose is to introduce multichannel benefits and new features.
- 3 variations: new users (no c

[2022-09-30 16:47] ecgan opened #34905 "Add the "Campaigns" card into Marketing page"
This is a task issue to implement the "Campaigns" card in the multichannel marketing page.

Link to Figma design: 7cNed5RvTasoLgn38Hea0R-fi-2145%3A84807

- Campaign title links to campaign data within channel extension.
- Additional data row can be hidden if no data to pull (for MVP), or changed accordingly depending on channel.
- Note: in our initial MVP, we will have the "Cost" column, but not t

[2022-09-30 16:47] ecgan opened #34906 "Add the "Channels" card into Marketing page"
This issue is to implement the "Channels" card in the Marketing page.

Link to Figma design: 7cNed5RvTasoLgn38Hea0R-fi-2145%3A84807

When none of the channels are installed:

<img width="494" alt="image" src="https://user-images.githubusercontent.com/417342/193329044-310cf160-afb6-4105-ab11-7b1445392bd3.png">

When some of the channels are installed:

<img width="649" alt="image" src="https://user

[2022-09-30 16:47] ecgan opened #34907 "Modify "Installed extensions" and "Discover more marketing tools" to exclude channels"
This is a task issue to modify the "Installed extensions" card and "Discover more marketing tools" card to exclude marketing channels in the multichannel marketing page. Marketing channels would show up in the "Channels" card as per task issue https://github.com/woocommerce/woocommerce/issues/34906.

Link to Figma design: 7cNed5RvTasoLgn38Hea0R-fi-2145%3A84807

<img width="444" alt="image" src="ht

[2022-09-30 17:21] nielslange opened #42573 "Viva Wallet Payment Gateway doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Viva Wallet Smart Checkout for your WooCommerce store](https://wordpress.org/plugins/vivawallet-woocommerce-gateway/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer

[2022-09-30 17:22] nielslange commented on #42573
Related https://wordpress.org/support/topic/vivawallet-does-not-appear-as-an-option-on-payment-methods/

[2022-09-30 17:37] ecgan commented on #34549
@nima-karimi , in your properties table, you have the `country` and `daily_budget` properties. I believe we want to move away from those properties (which are specific to extensions like Google Listings and Ads) to more generic business metric properties like cost, reach and revenue. More info is in this P2 comment thread: pe2C5g-4k-p2#comment-61.

[2022-09-30 17:45] pmcpinto opened #34908 "Task list inconsistency due to smart default when the user skips the profiler"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Description:**
The Shipping Smart Defaults flow needs to be tweaked to address the us

[2022-09-30 17:45] pmcpinto commented on #34908
cc @verofasulo @SamratBiswas1 @adrianduffell something that was spotted by Elizabeth today

[2022-09-30 18:09] ecgan opened #34909 "Add "Create a new campaign" modal"
This issue is to implement the "Create a new campaign" modal and its functionality.

Link to Figma design: 7cNed5RvTasoLgn38Hea0R-fi-2116%3A81074

When some channels are installed:

<img width="517" alt="image" src="https://user-images.githubusercontent.com/417342/193331527-98177694-8008-4e1e-92fc-31f162c514ae.png">

<img width="756" alt="image" src="https://user-images.githubusercontent.com/41734

[2022-09-30 19:33] cam4rgo opened #34910 "Widget Filters by Attribute: Term order"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Widget filter by attribute does not stay in the correct order of terms.

Hello, I created a topic in the plugin forum and was asked to open a topic here regarding a bug in the Fi

[2022-09-30 20:28] tomalec commented on #34789
Thansk for the investigation and reply  @chihsuan

Then it's a documentation bug ;)

Also, to me the initial intention is also not clear as even there the description states:

[2022-09-30 20:34] tomalec commented on #34789
Speaking of improvements, do you know what is the reason to use `qs` methods instead of the [native `URLSearchParams`](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/URLSearchParams)?

Like
[code]

or even
[code]
Pros of native approach:
 - no dependencies to maintain, inspect, update, or check for vulnerabilities
 - unopinionated, fully tested API
 - API which we can expect to b

[2022-09-30 20:39] mdperez86 commented on #34657
@jarekmorawski for the MVP we are using the native select so we can show at all times the `Add new shipping class` options. We suggest to use an autocomplete dropdown for performance reasons but only if we can validate the hypothesis you mentioned about what is the avg amount of shipping classes the users create. If that it's not a big deal and also if you don't want to enhance the experience we c

[2022-09-30 21:59] tammullen opened #34911 "Saint Martin - Not possible to place order due to hidden state field"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After the change in https://github.com/woocommerce/woocommerce/pull/34014 State / County is still a required field but the field itself has been removed meaning it is impossible

[2022-09-30 22:02] tammullen commented on #33980
Just noting while testing https://github.com/woocommerce/woocommerce/pull/34014 I found CLDR confirms no states for Saint Martin

[https://github.com/unicode-org/cldr/blob/main/common/subdivisions/en.xml#L3383](https://github.com/unicode-org/cldr/blob/main/common/subdivisions/en.xml#L3383)

[code]

I also wanted to double check if this was also the case for Sint Maarten the other territory on the

[2022-09-30 22:04] DavidAnderson684 opened #34912 "[COT] WC_Order::get_refunds() results in fatal error"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Using version: 7.0.0-hpos.dev.4

Calling WC_Order::get_refunds() results in a fatal error.

### Steps to reproduce

N.B. Order 1249 on this testing site does have a refund.

[cod

[2022-09-30 23:00] DavidAnderson684 opened #34913 "[COT] TypeError exception (PHP >= 8.0) for object meta-values"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If any meta value that is going to be printed in the "Custom Fields" section of an order screen (/wp-admin/admin.php?page=wc-orders&id=(ID)&action=edit) is not a string, then a T

[2022-10-01 02:56] kraken8585 commented on #16643
Hi, is it possible to duplicate the reviews if we want to?

[2022-10-01 02:58] kraken8585 opened #34914 "[Enhancement]: Product Reviews"
### Describe the solution you'd like

Hi,

The current design duplicates the product without the reviews. Can you enable a switch that allows us to sync the reviews as well when we duplicate the product?

### Describe alternatives you've considered

3rd party plugins

### Additional context

_No response_

[2022-10-01 10:49] CodeAdminDe commented on #32454
I'm affected by the same problem and unfortunately have to say that it probably affects all current woocommerce stores that use a mini-cart / cart based on refresh with `wc_fragment_refresh` and are visited with a chrome based browser.

I would like to add that I can also reproduce the problem - at least partially - in Firefox. In Firefox the Qty buttons are not loaded and only visible after execu

[2022-10-02 00:41] #33887 closed, assigned to nobody

[2022-10-02 00:41] #34252 closed, assigned to nobody

[2022-10-02 08:31] Tommy-Hansen-Consortia opened #34915 "Scheduled sale date/time issue"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Vendor/Partner request: Our Bulk Table Editor uses date + time

[2022-10-02 08:58] webdados commented on #33879
I need the `woocommerce_order_data_store_cpt_get_orders_query` filter, or a replacement for it, on the new HPOS tables for several of my payment gateway plugins.

Usage example, of one of the pluginxs:
- During checkout an API call is made to the payment gateway, which returns a unique payment request ID that is stored to the order meta
- The customer gets a push notification on his phone and acce

[2022-10-02 09:08] dswebsme commented on #34594
The following workaround is sufficient while the WooCommerce team works on prioritizing this issue.

The `exclude_reviews_from_comments` method seems deliberate but it also appears to be the root cause of this issue. We currently ONLY allow reviews so bypassing this exclusion is a non-issue for us.

Additional cause and effect findings detailed in the code.

[code]

[2022-10-02 14:06] andrestr93 commented on #32454
@CodeAdminDe Hello, that code fragment in which script do I have to put it for it to work?

[2022-10-02 16:11] wyter commented on #51483
I've tested this on WooCommerce version 6.9.4 + WooCommerce Brands version 1.6.35 and was able to replicate the issue.

Additionally, there was this comment about a pattern whereby the shortcode would show n-1 products, if n is the number of products assigned to a brand that are not hidden:

I also tested this but could not replicate the behavior. When I set  `per_page=9`, the shortcode still brou

[2022-10-03 00:57] chihsuan commented on #34789
Good question! I think it's probably because we needed to support IE 11 at that time. But I agree we can replace it with `URLSearchParams`, since we have dropped IE 11 support and 96.62% of browsers support `URLSearchParams` now.

[2022-10-03 02:38] psealock opened #34918 "Package scripting and builds: Separate from WooCommerce Admin"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

`@woocommerce/*` build logic currently resides in the WooCommer

[2022-10-03 02:40] psealock commented on #33949
That's a good call @samueljseay. I created this issue to track that task, https://github.com/woocommerce/woocommerce/issues/34918

I think this kind of discovery was intended as part of https://github.com/woocommerce/woocommerce/issues/33947

[2022-10-03 03:07] eamankwah250 commented on #32545
Hello, I have a problem with the woocommerce plugin. Currently, my give WP forms are stuck constantly loading on my website. After troubleshooting, i found out the issue is the woocommerce plugin. If de-activated the givewp forms show. But i need both plugins to be activated as they are being used to run the ecommerce part of the site and the donations on the site. Any suggestions?

[2022-10-03 07:58] johnyxe commented on #27157
For those who still struggle with this in 2022
I've spent many days, digging through the store api. I found out that woocommerce call this function in rest api before interact with the cart.

[code]

Have not tried all the function related to it. but this should be enough to add/remove item from cart.

[2022-10-03 08:32] #33986 closed, assigned to chihsuan

[2022-10-03 08:34] #34884 closed, assigned to chihsuan

[2022-10-03 08:34] #34893 closed, assigned to chihsuan

[2022-10-03 09:26] #34911 closed, assigned to nobody

[2022-10-03 09:50] tammullen opened #34925 "[7.0 RC] Product short description fails to save or update"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Thanks to @enricobattocchi for finding this!

The "Product short description" field (both visual and text editor) fails to save or update in 7.0 Beta/RC. I can confirm this works

[2022-10-03 10:12] #34664 closed, assigned to nobody

[2022-10-03 10:26] kudaleganesh commented on #34761
@swatipawarGS I have tested it with WooCommerce Version 7.0.0-hpos.dev.4 and it is not working yet.
Note: The order is created after enabling the HPOS.

[2022-10-03 11:14] pmcpinto opened #34926 "[EPIC] Inbox low-effort improvements to increase the visibility of new messages"
**Description:** At the moment, a high percentage of users have reached the limit of the number of messages shown on the panel (25). This creates an overwhelming experience, making it difficult to parse all the information and distinguish new messages from older content. This epic will include a number of low-effort improvements to increase the visibility of new messages.

[2022-10-03 11:26] pmcpinto opened #34927 "Change the limit from 25 to 5 and allow users to load more messages"
**Description:** we show up to 25 notifications on the Inbox panel. This volume of messages makes it difficult to parse all the information and we don't offer an easy way to see older messages. The users need to delete messages to see older messages, which is a poor user experience.

**Acceptance criteria:**

- [x] Change the Inbox messages limit from 25 to 5
- [x] Display the 5 most recent messag

[2022-10-03 11:37] pmcpinto opened #34928 "Improve the "Dismiss" button visibility"
**Description:** the "Dismiss" button is only visible when the user hovers the message. Due to this behavior, users may not realize that it is possible to remove messages when they are skimming through the panel. We also think this is why there's such a high % of users with 25 messages in the panel. Improving the visibility of the "Dismiss" button will help users to remove unnecessary/irrelevant n

[2022-10-03 11:49] pmcpinto opened #34929 "Change order count logic and copy to focus on new messages"
**Description:** the Inbox order count displays the total number of messages included in the panel. We think it will be more effective to use this space to indicate the number of new messages since the last visit.

**Acceptance criteria:**
- [ ] Tweak the Inbox order count logic only to include the new messages since the last visit and update the copy: X new messages since your last visit.

[2022-10-03 11:54] pmcpinto opened #34930 "Remove low-performing notifications"
**Description:** we'll remove the inbox notifications with a low conversion rate.

**Acceptance criteria:**
The following notifications should be removed (I'm not sure if some were already removed as they're still showing up in the Inbox stats):

- [ ] wc-admin-first-five-things-to-customize
- [x] wc-admin-navigation-nudge
- [ ] wc-admin-insight-first-product-and-payment
- [ ] wc-admin-first-downl

[2022-10-03 11:58] rjchow commented on #32045
Have managed to reproduce this, will put it in our backlog

[2022-10-03 12:06] DavidAnderson684 commented on #34926
Is the reason why a high percentage of users have reached this limit because they don't read them?

[2022-10-03 13:33] pmcpinto commented on #34657
We don't have that data. @mdperez86 how much time do you think it will be necessary to implement this? This will help decide on implementing it now or later. Thanks.

[2022-10-03 13:44] opr opened #42572 "Feature request: Add ability to "exclude current product" from the Product Collection block"
## Is your feature request related to a problem? Please describe.
I have a store and I am using the "All Products Block" on the product page. I would like to display "other" products in my store with the exception of the one the user is currently on.

## Describe the solution you'd like
I think an option in the editor to exclude the current product would be great. The option could even be hidden i

[2022-10-03 13:52] verofasulo commented on #34908
Hey @pmcpinto, thanks for bringing this up!

I'm wondering if it makes any sense to invest time on this since we're changing the logic in the onboarding and the Country is a required field.

I personally don't think it's a big issue/the flow is particularly awful but if you can expand a bit on the why it would be great 😊

[2022-10-03 14:16] mdperez86 commented on #34657
@pmcpinto

1. Do you meant adopting the autocomplete functionality?
2. Implement something to gather the shipping classes creation avg?

[2022-10-03 14:49] jonathansadowski commented on #34915
Hi @Tommy-Hansen-Consortia,

Thanks for the report. I'm labeling this as an enhancement request. If this is a mistake and there's a bug that you'd like to report, please [open a new issue using the template here](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=1-bug-report.yml).

[2022-10-03 14:51] roykho opened #34933 "Highlight changes workflow linting unrelated files"
It seems our Highlight changes workflow is picking up phantom changes that are not related to the PR. Ref: https://github.com/woocommerce/woocommerce/pull/34597

![0b1SEB.png](https://user-images.githubusercontent.com/2132595/193607456-fd964c14-0e1e-4a91-8592-fda8c920d975.png)

Here is the original PR changed files:

![bPuI8m.png](https://user-images.githubusercontent.com/2132595/193607607-306ed4d

[2022-10-03 14:52] barryhughes commented on #34042
Thanks, we can confirm.

Note that a possible workaround is to use a meta query instead of top-level args like `meta_key` and `meta_value`. For example:

[code]

We'll aim to address in an upcoming release, though we'd also be receptive to a PR if you wished to submit one.

Thanks!

[2022-10-03 14:55] leyakoreya opened #34934 "[Enhancement]: Add filter "Show all orders that can be combined""
### Describe the solution you'd like

Add more display of items in the section "Reports" "Clients" "List of clients"
https://we.tl/t-tsYRNSB9Tz

Add filter "Show all orders that can be combined"

Since, due to the large number of clients, doing it manually is very problematic and time consuming. it would be great if you add such a filter and allow more items to be displayed on the page, and not as

[2022-10-03 14:58] barryhughes commented on #33944
Applying `type: task` since we should look at this, but it is not necessarily a bug. Thanks for submitting the PR (and apologies for the delay in reviewing—we currently have a sizeable backlog of PRs to work through).

[2022-10-03 17:08] opr opened #42571 "Allow the `x left in stock` message to be modified by `__experimentalRegisterCheckoutFilters` and allow it to be hidden too"
It is currently not possible to edit the text in the `x left in stock` label in the Cart or Checkout blocks.

<img width="377" alt="image" src="https://user-images.githubusercontent.com/5656702/193636571-fb953455-aee9-4912-b470-514d3f281580.png">

Currently we allow the modification of the sale badge but only the price aspect of it. The label will always say `Save %s` where `%s` is the format.

<i

[2022-10-03 18:06] #34329 closed, assigned to mdperez86

[2022-10-03 19:32] dnwjn commented on #34221
Apologies, I haven't been around for a while so haven't seen your response. But it appears to be fixed now!

[2022-10-03 20:14] Natfor commented on #42571
I was able to hide the `x left in stock` message by going to `WP Admin → WooCommerce → Settings → Products` scrolling down to the bottom of the page and changing the `Stock display format` field to `Never show quantity remaining in stock` (I didn't remember that setting existed).

![Markup 2022-10-03 at 15 50 19](https://user-images.githubusercontent.com/5204842/193669464-ed7d74cd-bcb8-4543-9262-f

[2022-10-03 22:46] psealock opened #34938 "Beta Tester: Fix compatibility issues and docs"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

- [x] Fix compatibility issues in Beta Tester seen in https://w

[2022-10-04 02:46] nielslange opened #42570 "Explore prominent spots for the Cross-Sells block"
In pca54o-44z-p2#comment-4497, @pierorocca raised the idea of showing the Cross-Sells block in other prominent spots. This issue aims to experiment with this.

## Examples

<img width="491" alt="Screenshot 2022-10-14 at 10 12 51" src="https://user-images.githubusercontent.com/3323310/195753846-16c2d194-cb87-4ca6-8b13-c452dc2adfc6.png">

Source: [https://www.amazon.com/Allen-Heath-32-Bit-Soundcards

[2022-10-04 04:04] psealock opened #34939 "Smooth Generator: Move into the monorepo"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

[WC Smooth Generator](https://github.com/woocommerce/wc-smooth-

[2022-10-04 04:08] psealock opened #34940 "Testing Infrastructure: Increase default PHP version to 7.4"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

- [ ] The `Setup WooCommerce Monorepo` uses PHP 7.2 as its defa

[2022-10-04 05:17] rjchow commented on #34918
I think the build (ts/js -> js) step is actually done by tsc within each of the @woocommerce packages, and the webpack config handles the bundling into wc-admin build

[2022-10-04 06:39] mgkmoha opened #34941 "[Enhancement]: Is there a way i can change the "Order" in admin as "Donation" and apply same elsewhere in emails, analytics & reports"
### Describe the solution you'd like

My solution is to provide more personalized and customized experience when utilizing WooCommerce as a powerful donation platform.

Changing the "Order" in admin as "Donation" and apply the same elsewhere specially in WooCommerce summary, emails, analytics, reports and elsewhere.

### Describe alternatives you've considered

I did check WooCommerce documentatio

[2022-10-04 07:12] askrun commented on #34675
Hi team, Problem not resolved yet. Sent from Mail for Windows From: Paul SealockSent: 20 September 2022 07:41To: woocommerce/woocommerceCc: askrun; MentionSubject: Re: [woocommerce/woocommerce] Synchin issue of transaction in woocommerce panel or store and payu plugin. (Issue #34675) Thanks @askrun for the details of your environment.Could you please provide steps to reproduce the error?—Reply to

[2022-10-04 08:03] Timstreep opened #34942 "[Enhancement]: Update legacy JITMs"
### Describe the solution you'd like

Summary: Update old JITMs in WooCommerce.

Minor copy tweaks and suggestions on which outdated JITMs to remove [in this doc](https://docs.google.com/document/d/14aXzKLLpNVo5rz10Bjqkqb7NgSRu1UVzWk-PfRAN0hY/edit).

All JITMs need an updated Woo logo (with the new purple), and possibly the blue button colour is at odds with our current colour schemes.

### Descri

[2022-10-04 08:09] opr commented on #42571
Thanks @Natfor - I will edit the issue to remove the part about hiding the badge, I still think we should add a filter to modify the text though!

[2022-10-04 08:25] albarin opened #42569 "Register horizontal & vertical filter patterns"
Create and register a [horizontal](6ZhHLQ7ucHUYgWHr3nusNB-fi-427%3A8404) and [vertical](https://www.figma.com/file/6ZhHLQ7ucHUYgWHr3nusNB/%F0%9F%94%8E-Filter-Blocks-%26-Patterns?node-id=450%3A8928) filter pattern under the WooCommerce category.

[2022-10-04 08:41] nielslange opened #42568 "Payment Gateways by Customer Location for WooCommerce doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Payment Gateways by Customer Location for WooCommerce](https://wordpress.org/plugins/payment-gateways-by-customer-location-for-woocommerce/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is t

[2022-10-04 08:41] nielslange commented on #42568
Related https://wordpress.org/support/topic/hide-a-payment-option-for-one-location/

[2022-10-04 08:50] nielslange opened #42567 "Elavon Converge Payment Gateway doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Elavon Converge Payment Gateway](https://woocommerce.com/products/elavon-vm-payment-gateway/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask

[2022-10-04 08:51] nielslange commented on #42567
Related https://wordpress.org/support/topic/elevon-payment-plugin-supported/

[2022-10-04 08:54] nielslange opened #42566 "Sequential Order Numbers Pro doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Sequential Order Numbers Pro](https://woocommerce.com/products/sequential-order-numbers-pro/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask

[2022-10-04 08:59] nielslange commented on #42566
Related https://wordpress.org/support/topic/compatibility-203/

[2022-10-04 09:03] nielslange opened #42565 "SumUp Payment Gateway For WooCommerce doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [SumUp Payment Gateway For WooCommerce](https://wordpress.org/plugins/sumup-payment-gateway-for-woocommerce/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the ex

[2022-10-04 09:03] nielslange commented on #42565
Related https://wordpress.org/support/topic/payment-methods-34/

[2022-10-04 09:07] nielslange opened #42564 "Nets Easy for WooCommerce doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Nets Easy for WooCommerce](https://wordpress.org/plugins/dibs-easy-for-woocommerce/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if they

[2022-10-04 09:10] nielslange commented on #42564
Related https://wordpress.org/support/topic/checkout-payment-methode-not-showing/

[2022-10-04 09:14] nielslange opened #42563 "IDPay Payment Gateway for WooCommerce doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [IDPay Payment Gateway for WooCommerce](https://wordpress.org/plugins/woo-idpay-gateway/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of the extension and ask if t

[2022-10-04 09:15] nielslange commented on #42563
Related https://wordpress.org/support/topic/payment-method-not-work/

[2022-10-04 09:28] nielslange opened #42562 "Advanced Dynamic Pricing for WooCommerce doesn't work with the Cart & Checkout Blocks"
## This is a ticket that just **highlights the incompatibly of [Advanced Dynamic Pricing for WooCommerce](https://wordpress.org/plugins/advanced-dynamic-pricing-for-woocommerce/)** with the Cart and Checkout Blocks and tracks user reports

As a merchant, the best course of action right now if you are using a plugin that isn't working with the Cart and Checkout Blocks is to notify the developer of

[2022-10-04 09:28] nielslange commented on #42562
Related https://wordpress.org/support/topic/issue-with-advanced-dynamic-pricing-plugin/

[2022-10-04 09:49] mindaugasbudreika commented on #26029
One thing you can try is to selectively load/disable plugins when REST API calls are made (see [example](https://www.deliciousmedia.co.uk/journal/wordpress-rest-api-performance/)). Here is [results](https://ibb.co/m4n73Zj) from my tests, blue before, green after. Same database backup (starting point) was used to get most accurate result, but you may not see significant improvements based on your s

[2022-10-04 11:14] WiredWonder opened #34943 "Product Categories widget 'show children' behaviour on Product Tag Archives"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Ticking the 'Show children of the current category' box on the Product Categories widget offers inconsistent behaviour across different elements.

On Category archives it correct

[2022-10-04 11:36] dylande2ker opened #34944 "[Enhancement]: Proportional calculation for fixed cart coupon"
### Describe the solution you'd like

We would like the discount calculation for fixed cart coupons to work proportional.

Right now, it works like this example:
I have a coupon code "ABC" for €6 discount:
![image](https://user-images.githubusercontent.com/25139963/193792876-c79eae38-f247-448e-9fbb-ababfe82e0cc.png)

My order has 3 items:
Item 1: €5
Item 2: €2
Item 3: €1

With discount code, this

[2022-10-04 12:07] nima-karimi commented on #34549
Thanks, Gan. I don't think we can include `sales` and `sessions` in the MVP, but I'll remove the `country` property and rename `budget` to `cost` for now to be more in-line with the new design.

[2022-10-04 12:37] #34662 closed, assigned to nobody

[2022-10-04 13:42] jonathansadowski commented on #34675
Hi @askrun,

Thanks for this report, but I didn't see any steps for reproduction come through with your last message. Without steps for reproduction, we're unable to research this issue further. Could you please provide a list of steps that you take that will allow us to reproduce the issue?

[2022-10-04 13:45] roykho commented on #34481
So after some thoughts I am not sure if we need to do anything here. Firstly `https://github.com/woocommerce/woocommerce/blob/trunk/tools/cherry-pick/bin/run.js` was created before we had the workflow automation seen here `https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/cherry-pick.yml`. This automation workflow has worked well so I think we can retire/remove the CLI tool.

[2022-10-04 15:16] nigeljamesstevenson opened #34946 "[COT/HPOS] WooCommerce API calls not behaving as expected for orders with search param `page`"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `page` search param is no longer taking effect so, say we had 10 orders and we called the api to GET orders and return the first page using search params as follows:
[code]

[2022-10-04 15:25] nigeljamesstevenson opened #34947 "[COT/HPOS] WooCommerce API calls not behaving as expected for orders with search param `status`"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `status` search param is no longer taking effect so, say we had 10 orders and 2 of them had a 'completed' `status`. We call the api to GET orders and return those with the 'c

[2022-10-04 17:02] jorgeatorres commented on #33879
Hi @webdados!

Thanks for letting us know of your use case. The implementation of `wc_get_orders()` (in HPOS) is much more flexible than the current one, including compatibility with the `meta_query` syntax that [`WP_Query` uses](https://developer.wordpress.org/reference/classes/wp_meta_query/), which makes me think you could make use of this instead of having to override things with a filter simi

[2022-10-04 17:20] webdados commented on #33879
I wasn't aware of that compatibility.
I guess I'll just have to check if HPOS is being used or not and run a different query: the old one using filters, or the new one using the `meta_query` directly on `wc_get_orders()`.

I was thinking of a scenario in which filters already in place should work seamlessly.

[2022-10-04 18:30] jorgeatorres commented on #33879
Yes. As I said, we need to add some examples to the upgrade guide and document the new features better.

We do want to "backport" certain query features to the posts datastore, so maybe it'll work seamlessly even without the filters, but I'm not sure if that will make it into the next release.

I'll make sure to comment here once things have been merged to keep you in the loop!

[2022-10-04 18:52] #34775 closed, assigned to nobody

[2022-10-04 19:00] WillieHuizing commented on #33806
I was researching this issue as we have several customers facing the same problem. I believe the reason suggested by @vkwasinski  as to why this is happening isn't what is causing this though.

When reaching the IF statement, it checks wether or not the SKU is a unique one using 'wc_product_has_unique_sku'. If a product with the same SKU exists this will return FALSE. The '**!**' infront of wc_pro

[2022-10-04 19:48] AnnaMag commented on #34926
full view: https://github.com/orgs/woocommerce/projects/60/views/17

[2022-10-04 20:05] alphavaletec commented on #32187
i have the same error

[2022-10-04 21:06] codeagencybe commented on #33806
@WillieHuizing
You are touching a very valid point!!
I have done a few more projects in the past months with the WooCommerce API and we got repeatable "bad" behaviour when WPML is involved.
Because the SKU field is native WooCommerce, I didn't consider WPML as a potential bad actor, but I just did a test with your feedback by creating a staging copy from one of my projects, disabling WPML and the

[2022-10-04 21:18] sunyatasattva commented on #42572
Hey @opr excellent issue and use-case. We are going towards deprecating the All Products block very soon, in favour of the new one supported by the Product Query block.

I wonder if we should keep this issue and re-label it to the Product Query block as to accumulate ideas on certain implementation details. What do you think?

[2022-10-04 22:13] barryhughes commented on #34710
Thanks, we'll take a look at this.

The rules on passing by reference are certainly clear, but what's confusing in this case is that, at time of writing, the [`apache_setenv()`](https://www.php.net/manual/en/function.apache-setenv.php) function itself is not documented as receiving a variable by reference. So, this could be a 'bug' in the docs or possibly even a bug in the Apache extension.

We'll

[2022-10-04 22:29] psealock commented on #34481
I agree on this. The CLI tool is a shortcut for something we could do manually in the rare case that we'd want to do it locally. Removal of the code reduces maintenance burden.

This sounds like an Ok situation to leave as is.

@roykho  I think we should remove the CLI tool and close this issue.

[2022-10-05 00:42] #34298 closed, assigned to nobody

[2022-10-05 03:20] psealock commented on #34479
Thanks for the work here @samueljseay. Since this issue is just for an audit, I will close it and mark it as done and create additional issues from the result of the RFC.

[2022-10-05 03:20] #34479 closed, assigned to nobody

[2022-10-05 08:57] opr commented on #42572
Sounds good @sunyatasattva  :)

[2022-10-05 09:40] peterfabian commented on #31598
This has been done via other issues.

[2022-10-05 09:40] #31598 closed, assigned to vedanshujain

[2022-10-05 12:49] maaprote opened #34955 "Filter products by stock widget infinite reloads the page when search query contains " ' ""
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If we have the widget 'Filter Products by Stock' enabled, when we search products and the string contains the character " ' ", the page gets in a infinite reloading loop.

### Ex

[2022-10-05 13:46] barryhughes opened #34956 "[COT|HPOS] Incorrect order status after trashing then restoring an order"
Discovered during testing for 7.0.0, it seems like when a (COT or HPOS) order is restored from the trash, it may not be restored to the expected status. Internal link: pb22l9-1xy-p2#comment-1580

From the original discussion:

1. Change the status of Completed order to Processing.
2. Now send the order to the Trash.
3. Restore the order from the Trash.

At this point, I expect the order to have th

[2022-10-05 14:05] #34925 closed, assigned to nobody

[2022-10-05 15:52] maaprote commented on #34955
Hi @jonathansadowski

Oh, sorry! Forgot to remove that plugin from the testing instance. But I can confirm the issue is happening even without this plugin. The issue is happening in a fresh new wp install with default theme (twenty-twenty-one) plus woocommerce (with stock widget in use).

[2022-10-05 16:04] #34333 closed, assigned to louwie17

[2022-10-05 17:38] LocalHeroPro commented on #34635
In browser or Insomnia I can normally fetch that product.
So maybe it can be for example timeout and wrong exceptions is thrown?

[2022-10-05 17:44] #34044 closed, assigned to nobody

[2022-10-05 19:07] #34437 closed, assigned to joelclimbsthings

[2022-10-05 19:08] #34699 closed, assigned to joshuatf

[2022-10-05 19:10] ajdinmore opened #34962 "On CSV import, product variations are not visible if parent is draft"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When variable products are exported with a draft status, all variations are also set to draft.  On import, the status of these variations remains draft, causing them not to appea

[2022-10-05 19:29] ajdinmore commented on #34962
Hack-job plugin for anyone needing a quick fix:
[code]

[2022-10-05 19:40] joelclimbsthings commented on #34927
@pmcpinto , I'm assuming these changes should impact both the inbox view on the homescreen, and the panel accessible through the Activity Panel on other screens?

Edit: Also, I see the "This Week" and "Older" headings in the screenshot, but they're not mentioned in the acceptance criteria. Are those part of this issue, and if so how would they behave in other scenarios? (ie the next 5 inbox messag

[2022-10-05 20:09] thracefulton commented on #30379
Another reported instance in 5609057-zen. Using WooCommerce Blocks along with Kadence WP Blocks, and images of approximately 8000 x 5000 px across the board.

[2022-10-05 20:17] jorgeatorres commented on #34635
Hi @LocalHeroPro!

Thanks for getting back to us. Could you please share the exact output you get in Insomnia for a product that doesn't work when you use the client library?
Feel free to redact any sensitive information it might include.

I'm interested in seeing if there are any JSON errors in the result. Alternatively, you could use a tool such as https://jsonlint.com. Paste the exact output in

[2022-10-05 20:29] #34700 closed, assigned to joshuatf

[2022-10-05 20:37] LocalHeroPro commented on #34635
I think, JSON is valid.
It's standard example product from WooCommerce.
[code]

[2022-10-05 23:58] Brianmitchtay commented on #27030
It hasn't been mentioned here yet so adding 5429075-zen here as another user that is running into this issue.

[2022-10-06 01:52] samueljseay commented on #34479
@psealock I've marked the RFC as accepted now. thanks for the reminder.

[2022-10-06 02:50] #33686 closed, assigned to samueljseay

[2022-10-06 02:51] psealock commented on #32885
Thanks for the issue @leewillis77, we've now updated to PNPM 7

https://github.com/woocommerce/woocommerce/pull/34661

[2022-10-06 02:51] #32885 closed, assigned to nobody

[2022-10-06 02:53] psealock commented on #33937
Now that `compser install` is run after `pnpm install` is this issue still valid @jonathansadowski or is it safe to close?

I will close it out because thats my understanding, but feel free to open it up again if need be.

[2022-10-06 02:54] #33937 closed, assigned to nobody

[2022-10-06 03:06] psealock commented on #34262
@roykho Is this issue still valid now without the CLI cherry-picking tool? Can we close it?

[2022-10-06 03:16] psealock commented on #34513
Outputs for caching are defined here

https://github.com/woocommerce/woocommerce/blob/9f8ae8b46f78fbf84f3f465926c59d7883995a68/turbo.json#L42-L54

closing this one

[2022-10-06 03:16] #34513 closed, assigned to nobody

[2022-10-06 03:18] roykho commented on #34262
@psealock - yes this edge case still exists in the automated workflow.

[2022-10-06 03:20] #34481 closed, assigned to roykho

[2022-10-06 03:26] psealock commented on #34767
@roykho Is the update above a sufficient solution to close this issue?

[2022-10-06 03:41] roykho commented on #34767
@psealock - Yeah I believe we still need to implement this especially as we add more and more plugins/tools into our monorepo in the future. Right now if you wanted to know all the issues/PRs that have 7.0 milestone, it would pull up many that are not related to the WooCommerce release and you would have to manually prune those from the list which makes it more tedious.

[2022-10-06 06:46] divyanshu-chaudhari-shipsy opened #34973 "Problem retrieving orders via `wc_get_order()`"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We are using the wc_get_order function in order to receive the order data. But, it is returning false.
This is because the get_class_name_for_order_id() function in get_order fun

[2022-10-06 08:45] pmcpinto commented on #34927
@joelclimbsthings

Correct. But the Inbox usage through the activity panel is low, so the home screen should be the priority. Let me know if implementing the changes in both areas will take much longer than just starting with the home screen. Thanks.

These should not be included in the changes. Thanks

[2022-10-06 09:37] rjchow opened #34974 "WooCommerce Admin Onboarding profiler breaks when skipping steps via URL"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we directly navigate to onboarding profiler steps such as the "Business Details" step before completing the previous step, the profiler breaks.

### Expected behavior

It sh

[2022-10-06 09:58] alopezari opened #34975 "[COT/HPOS]: UX Improvements to HPOS feature screen"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We would like to make following improvements to HPOS feature screen to make it easier to use, combining them all into one issue since they are best handled by a single PR otherwi

[2022-10-06 10:07] peterfabian commented on #34912
Thanks for reporting and testing!

This should be fixed as https://github.com/woocommerce/woocommerce/pull/34465 progressed and until it was merged. Please check and let us know if the [latest package](https://github.com/woocommerce/woocommerce/releases/tag/feature-custom-order-table) resolved the issue for you. Thanks!

[2022-10-06 10:13] peterfabian commented on #34276
Hi,

thanks for the idea, I think it sounds like a good improvement! Also, I can see your developer was able to fix this for you, which is great.

[2022-10-06 10:18] peterfabian commented on #34242
Thanks for sharing the idea, it does sound like a nice improvement! Unfortunately, it might take some time until we get to it.

[2022-10-06 13:12] swatipawarGS commented on #34955
Hi @maaprote,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.9.4 version, and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/194232043-f2b0f8b0-7049-4a18-ba8f-23916db5163d.mp4

Priority of this issue will be assign

[2022-10-06 13:13] swatipawarGS commented on #34943
Hi @galapogos01,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.9.4 version, and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/194236956-db69226c-6335-4617-9d06-481ba3077d89.mp4

Priority of this issue will be ass

[2022-10-06 14:00] pmcpinto commented on #34908
In the current logic, country is a required field, but users can skip the flow using the "skip" button or the address bar.

It's a bit janky because the user sees 7 tasks on the home screen. And after filling in the store details, he'll see 6 tasks on the list. TBC: I'm not saying that this should be a priority. There are other flaws in the setup flow that are more important.

[2022-10-06 14:09] emmelemme opened #34977 "[Filter Request]: Add a filter to the layered nav Filterer class to override general "Hide out of stock" option"
### Describe the solution you'd like

The Filterer class used by the enhanced Layered Nav Widget has been a real step up for the products filter, however I run a store where I'd like to show the out of stock product variations in the catalog but hide them if a user use the sidebar filters.
Inside the Filterer class (woocommerce/src/Internal/ProductAttributesLookup/Filterer.php) the "woocommerce_hi

[2022-10-06 14:16] jonathansadowski commented on #34973
Hi @divyanshu-chaudhari-shipsy,

Thanks for the report. You've mentioned in the steps for reproduction first activating another plugin. Are you still able to reproduce this issue with only the WooCommerce plugin active? Are you able to reproduce it with either the default WordPress theme or the Storefront theme active? If so, could you please provide us a list of steps that we could use to reprodu

[2022-10-06 14:25] jonathansadowski commented on #33937
@psealock I think we're good to close this, as you mentioned. If we keep seeing people experiencing this, we can revisit.

[2022-10-06 14:53] jorgeatorres commented on #33824
Hi @OlaIola,

Thanks for reaching out! We do think this would make things easier for themes/users needing to add thumbnails to tags. We've marked it as an enhancement for now.
For your use case, do you need support for arbitrary taxonomies or just tags will suffice?

[2022-10-06 14:59] jorgeatorres commented on #33806
Hi @codeagencybe @WillieHuizing!

Given this seems to be an issue with WPML, we're going to close this issue, but feel free to reopen if info comes to light that might suggest this is truly a bug in WC or there's something we can do on our end to improve compatibility.

Thanks!

[2022-10-06 14:59] #33806 closed, assigned to nobody

[2022-10-06 15:15] jorgeatorres commented on #33591
Hi @quartze!

I apologize for the delay here. Is this still a problem on your site?
We tried to reproduce it but couldn't. Even using your example theme name (`main-theme`) we were able to override the templates.

One thing I did notice is that you're running your site with an object cache. That shouldn't be a problem, but template file paths are cached, so I was wondering if it could have anythin

[2022-10-06 15:26] senff commented on #34682
Reported in #5611504-zen

[2022-10-06 15:33] helgatheviking commented on #34591
@samueljseay Here's what I am seeing with the latest trunk:

spawn turbo ENOENT

For what it's worth `pnpm install` is also failing

.../node_modules/puppeteer install$ node install.js
│ ERROR: Failed to download Chromium r722234! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download.
│ Error: read ECONNRESET
│     at TLSWrap.onStreamRead (node:internal/stream_base_commons:217:20)
│

[2022-10-06 16:57] jrick1229 commented on #34066
Verified I'm seeign the same on Pressable hosting.

[2022-10-06 18:20] leonardola opened #34981 "[COT/HPOS] $order->save_meta_data() not working when keeping tables syncronized"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug
While declaring HPOS compatibility on Gocardless payment gateway plugin I noticed that if you go to WooCommerce > Settings > Advanced > Custom Order Tables and activate the option

[2022-10-06 19:27] jorgeatorres commented on #34200
Hi @theminaldiwan!

Thanks for reaching out. This is definitely a good suggestion, as the column looks a bit cramped right now.

In the meantime, you could use some CSS like this to make things a bit better:

[code]

I'm marking this issue as an enhancement for now.

[2022-10-06 19:43] strarsis opened #34983 "[Enhancement]: Nest shop-related pages under shop page"
### Describe the solution you'd like

The shop-related pages, as cart, checkout and my account pages should be nested under the shop page by default.
The user may still change this, but the default helps with grouping shop related pages and other pages of a site.

### Describe alternatives you've considered

Nesting those shop-related pages manually after WooCommerce created them.

### Additional

[2022-10-06 23:26] jorgeatorres commented on #34635
Hi @LocalHeroPro!

Thanks for sending that JSON. It does look correct, which makes me think the problem is probably elsewhere. A few more questions:

1. When using the PHP client (that is, the `->get( 'products/...' )` call), does it fail for all products or only some? If the latter, does the browser/Insomnia request succeed?
2. The log fragment you posted indicates that the exception originates i

[2022-10-07 02:22] psealock commented on #34761
I've re-labelled this `status:developer reproduction`. Hopefully this helps get this reproduced

[2022-10-07 03:19] kudaleganesh commented on #34761
@psealock This issue is fixed in 7.0.0-hpos.dev.6
https://github.com/woocommerce/woocommerce/releases/tag/feature-custom-order-table

[2022-10-07 03:21] psealock commented on #34761
Great, thanks for writing up the ticket. Is it safe to close?

[2022-10-07 03:24] kudaleganesh commented on #34761
Yes.

[2022-10-07 03:30] #34761 closed, assigned to nobody

[2022-10-07 03:35] psealock commented on #34933
Another instance of this happening here: https://github.com/woocommerce/woocommerce/pull/34951#issuecomment-1271044696

[2022-10-07 04:13] vikas6918 commented on #34591
its works fine thanks.

On Thu, 6 Oct 2022, 21:04 Kathy, ***@***.***> wrote:

[2022-10-07 07:16] #34100 closed, assigned to Konamiman

[2022-10-07 08:38] chihsuan commented on #33841
https://github.com/woocommerce/woocommerce/pull/34844

[2022-10-07 08:38] #33841 closed, assigned to rjchow

[2022-10-07 08:48] itsonit opened #34986 "[Enhancement]: ignore hidden autofilled shipping address form fields"
### Describe the solution you'd like

If `ship_to_different_address` is false, all shipping address fields will be ignored in the checkout process.

### Describe alternatives you've considered

_No response_

### Additional context

A growing size of clients autofill this hidden form fields with not valid data the customer won't see in case the `ship_to_different_address` option is disabled by def

[2022-10-07 09:10] theminaldiwan commented on #34200
hi @jorgeatorres

I did not see any changes while using this css.

`body.product_page_product-reviews tr.review .column-author strong {
    display: block;
}`

[2022-10-07 10:01] webdados opened #34987 "Javascript error when saving product if "short description" is not present"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On a specific website, we've disabled the "short description" (excerpt) for products, as we're only using the long description (post_content).

We did it like this:
`remove_meta_

[2022-10-07 10:35] albarin opened #42561 "Add Product Filter Block Patterns to the Shop Catalog template"
Register the verticals patterns defined in here: https://www.figma.com/file/6ZhHLQ7ucHUYgWHr3nusNB/%F0%9F%94%8E-Filter-Blocks-%26-Patterns?node-id=450%3A8928

[2022-10-07 10:40] albarin opened #42560 "Register the filter vertical pattern"

[2022-10-07 11:41] tammullen opened #34988 "[COT/HPOS] Can't search orders by billing/shipping address terms"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With HPOS enabled and using order tables
Searching orders for terms which should match parts of the billing or shipping details do not return any results

### Expected behavior

[2022-10-07 11:45] swatipawarGS commented on #34962
Hi @ajdinmore,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 6.9.4 version, and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/194484151-c7239916-ed82-45f8-8ab4-21a3c8394630.mp4

Priority of this issue will be assig

[2022-10-07 11:53] tammullen opened #34989 "[COT/HPOS] Order search results missing "Search results for: " subtitle"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Order search results when using HPOS and Order Tables are missing the
`<span class="subtitle">Search results for: <strong>beanie</strong></span>
`
subtitle which is normally seen

[2022-10-07 13:50] jonathansadowski commented on #34591
@vikas6918, Thanks for letting us know that it's working for you now!

@helgatheviking I've done some searching on that error messaging, and there are some reports that that happens with older versions of node/npm. Can you confirm whether or not you've installed [nvm](https://github.com/nvm-sh/nvm#installing-and-updating)? If you've installed nvm, did you run `nvm use` prior to attempting the `pnp

[2022-10-07 14:08] nigeljamesstevenson opened #34991 "Using the `woocommerce-rest-api`, when we update a product attribute, the has_archives value of the attribute resets to false"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Using the woocommerce-rest-api, If we create a product attribute with a "has_archives" value of true and we then update a different property on the same product attribute, the ha

[2022-10-07 16:13] joshuatf opened #34996 "[Enhancement]: Form component input props should allow passing of custom callbacks"
### Describe the solution you'd like

For the `Form` component `getInputProps`, we occasionally have to override an event like `onBlur`.

[code]

The problem is that this overrides the default `getInputProps` `onBlur` method and now manually needs to be called:

[code]

To make things a bit easier on consumers, we could consider an optional second argument that adds props to the event without over

[2022-10-07 16:21] joshuatf opened #34997 "[Enhancement]: Tooltip component for showing help messages"
### Describe the solution you'd like

For the new product pages, we need a tooltip like this one that displays a message on hover:

<img width="273" alt="Screen Shot 2022-10-07 at 9 18 40 AM" src="https://user-images.githubusercontent.com/10561050/194600982-9803a63d-fd51-4b9f-afd3-4436cc3409b6.png">

A component like this exists inside of the `EnrichedLabel` component, but needs to be extracted fo

[2022-10-07 16:47] #30239 closed

[2022-10-07 17:29] #34938 closed, assigned to roykho

[2022-10-07 17:49] roguewdesign commented on #33808
Having the same issue on local development. Seems to be breaking the Cart Update function as well.

[2022-10-07 18:07] PowerGPU commented on #32693
@pmcpinto @AnnaMag Just wanted to follow up. Was reassured by support that this would be prioritized do to it falsely reporting taxes for wrong dates due to not accurately applying the paid date as the sales order date. Seems like the conversation has grown cold.

[2022-10-07 20:13] Matze1006 commented on #34569
Good evening, what else do I need to do here. The case is 1 month old and has not elicited any response.

[2022-10-07 21:01] Farallon5 opened #35002 "Make Product Gallery Images clickable:"
### Describe the solution you'd like

You should be able to assign a link to a product gallery image.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-07 21:10] rlmajcom commented on #34837
I am getting all kinds of prefetch items to appear ONLY for users that are signed in using the woocommerce www.example.com/my-account page:
I am using WC 6.9.4 so this issue does not appear to be resolved.
![PrefetchScreenshot 2022-10-07 170940](https://user-images.githubusercontent.com/36801368/194652880-73464bef-c2e8-422f-a67b-d3733beb434e.jpg)

[2022-10-07 23:52] joelclimbsthings commented on #34927
@pmcpinto Looks like it's the same to implement in both locations 👍🏻

[2022-10-08 00:37] #34043 closed, assigned to nobody

[2022-10-08 08:20] Coernel82 commented on #27661
I am happy to announce a milestone:
I released the plugin. Next step: Localization. Help wanted!
https://wordpress.org/plugins/mxp-sepa-qr-code-addon-for-woocommerce

[2022-10-08 08:50] webdados commented on #33808
Developers that build on top of WooCommerce work with the latest versions and WP_DEBUG set to true. How can this still be tagged as a low priority?

[2022-10-08 15:22] helgatheviking commented on #34591
Yes, I used `nvm use` first.... I'll test again eventually but I had to get going one another project so downloaded a release asset.

[2022-10-08 15:22] helgatheviking opened #35004 "[Enhancement]: Make "Used for variations" checkbox visible for other variable-ish product types."
### Describe the solution you'd like

When creating a custom product type that extends the variable product type, Need a way to show the `show_if_variable` attribute checkbox . The classes cannot be altered in the [`html-product-attribute.php` template](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js#L716):

https://github.com/

[2022-10-08 17:09] DavidAnderson684 opened #35005 "Duplicate notices on the cart page cause a JS exception and eternal spinner: remove_duplicate_notices() in cart.js does not work because array is not copied, only referenced"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The method remove_duplicate_notices in cart.js - https://github.com/woocommerce/woocommerce/blob/91e1347aab2212791b76861a30ccc8c2c39b3907/plugins/woocommerce/client/legacy/js/fro

[2022-10-08 17:14] DavidAnderson684 commented on #35005
Oh, and, as an aside.... my plugin (which was triggering this, though it took a while to track down how to do so) had a legitimate reason for including duplicate messages. The messages were hidden, but each one keyed to a different shipping class. JavaScript would cause the relevant message for the selected shipping class on the cart page to be shown - and some of those messages might be identical

[2022-10-08 17:28] DavidAnderson684 commented on #35005
Furthermore, because `new_notices.splice()` is doing the same as `notices.splice()`, if it gets called more than once, it'll not be operating on the index it thinks it is:

[code]

[2022-10-08 21:16] tammullen commented on #34652
I was able to replicate this in 7.0 RC, only when tracking is enabled.
`Warning:  Undefined array key "post_type" in /plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php on line 320`

[2022-10-09 10:05] AnnaMag commented on #32693
@PowerGPU thank you for following up on this. We will get back to you on this this week.

[2022-10-09 10:11] AnnaMag commented on #32693
@PowerGPU thank you for following up on this.

We have not yet settled on a solution that would be encompass all business cases. We understand the importance of the issue and will get back to you all on this asap.

[2022-10-09 11:26] csabarakasz commented on #33376
Same issue here:

- [ ] 37325431-hc

The suggested CSS fix worked! Thank you!

[2022-10-09 12:14] aaronhong7 commented on #18942
I still have this issue, where "disabled" product variations on my product admin panel is visible (but greyed out and not clickable by a plugin).

I disabled the plugin and it went by to the "drop-down list" style, but still, the "disabled" product variation is visible and clickable.

My Woocommerce version is 6.4.1.

In the file includes/class-wc-product-variable.php, line 306 - 309:
`			// Filte

[2022-10-09 14:42] kkmuffme commented on #33944
It seems this creates OOM errors in some cases for us, which is why this needs to be addressed rather urgently, which is why we added a PR

[2022-10-09 14:50] urkaGR commented on #24362
Do you have any solution for a fixed basket discount without any matter how much % taxes the customer has to pay?
We need product price settings in woocommerce without VAT! Problem is that this setting is also used for coupons. So you can't add coupon value including VAT and product price without VAT. But this is needed if you sell in different countries and have printed coupons for redeem because

[2022-10-09 18:50] Ninetheme opened #35006 "!!!!!!!!!!!!!! Important !!!!!!!!!!!!!!!!!!!!! When woocommerce is active, the admin brings the js files in the wp-content folders to the front end."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When woocommerce is active, the admin brings the js files in the wp-content folders to the front end.
NOTE: it is clear default wordpress installation, you can test with any them

[2022-10-10 00:52] psealock commented on #34215
This is now un-blocked since https://github.com/woocommerce/woocommerce/pull/34971 has been merged.

[2022-10-10 06:34] mohsinevince opened #35013 "woocommerce_cleanup_draft_orders adding thousands of entries"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello Support Team,

We are facing issue with action scheduler logs

The woocommerce_cleanup_draft_orders function or something else adding hundreds of entries an hour to the act

[2022-10-10 10:22] lotje1990 opened #35015 "My personal payment option is being overruled to be credit-d"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have use the payment method BACS.
But since the last woocommerce update, this payment  method in the check-out page is being overruled.

First the site shows the correct method

[2022-10-10 10:46] nowarah commented on #18928
I have the same issue and I'm not using any widgets, is there a way to solve it ?

[2022-10-10 11:09] electrokit commented on #34851
It's probably better to keep the `priceSpecification`, since it contains the field `valueAddedTaxIncluded`.

[2022-10-10 11:22] github-actions[bot] opened #42559 "[Flaky Test] Logged in user cannot apply single-use coupon twice"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
Logged in user cannot apply single-use coupon twice

## Test path
`/plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-coupons.shopper.block_theme.spec.ts`

## Errors

<time datetime="2022-10-10T11:22:15.246Z"><code>[2022-10-10T11:22:15.246Z]</code></time> T

[2022-10-10 11:22] tammullen opened #35016 "[7.0] Email Links being added to Customer Emails"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Email link intended for Merchant New Order emails are appearing in Customer New Order Emails. 2/3 of the links give 404 errors

### Expected behavior

Links only appear in Mercha

[2022-10-10 12:27] pmcpinto commented on #34926
Good question. One of our assumptions is that users view the Inbox but may not notice that there's an option to remove the message. Improving the visibility of the "Dismiss" button will help them in this area.

[2022-10-10 12:29] vikas6918 commented on #34591
Glad to hear it!

On Sat, 8 Oct 2022, 20:52 Kathy, ***@***.***> wrote:

[2022-10-10 12:49] pmcpinto opened #35017 "Product creation experience: improve guidance about product image size/format"
**Description:** in #33660 we've added a message to include helpful guidance about product image size/format for new users. However, we received feedback that the message is sometimes distracting and unnecessary (#33660). We'll make some changes to focus the tooltip on new users.

**Acceptance criteria:**
- [ ] Add a help tip next to the button and only show the message when the user hovers the ti

[2022-10-10 12:50] iamdharmesh opened #35018 "[COT/HPOS]: Add corresponding hooks for `untrash_post` for COT/HPOS implementation"
### Describe the solution you'd like

I am working on the Deposits extension to add support for trash, untrash, and delete orders for COT/HPOS implementation. To handle, when a parent order is trashed related scheduled orders should get trashed, when parent order is untrashed/restored, related scheduled orders should get untrashed/restored and finally when parent order deleted, related parent orde

[2022-10-10 13:27] Konamiman commented on #31812
@jeffpaul Sure. Closing as fixed by https://github.com/woocommerce/woocommerce/pull/33812.

[2022-10-10 13:27] #31812 closed, assigned to nobody

[2022-10-10 13:56] DavidAnderson684 commented on #34926
I only have anecdotal evidence to go on. But I'd question this. When it first was proposed I was against it because my view (again, anecdotal) is that few people want one more inbox, one more place to check for messages - and personally since that time I almost forgot it existed on my own sites, and only tend to remember when I see it mentioned here in the issue tracker!

[2022-10-10 14:16] nklsso commented on #31942
This is the reason why it worked before PHP 8, putenv() is implemented in WooCommerce as follows:
[code]

https://www.php.net/manual/en/language.operators.errorcontrol.php

[2022-10-10 15:06] barryhughes commented on #31942
That's a good observation; re-opening as, in that case, probably we should test for the existence of the function/use our own wrapper function).

[2022-10-10 15:18] vedanshujain opened #35022 "[COT/HPOS] Investigate/Add adding `post_author` field to core DB schema."
Some extension store data in the post_author field; we currently don't migrate it. This issue scopes investigating whether that's needed and adding the field if it is.

[2022-10-10 15:18] vedanshujain opened #35023 "[COT/HPOS] Investigate CLI verification to make sure it's accurate with the changed DB structure"

[2022-10-10 15:29] nielslange opened #42558 "Epic: Cross-Sells block enhancements"
See pdFofs-5q-p2#comment-318

### Potential improvements

- [x] woocommerce/woocommerce#42551
- [x] woocommerce/woocommerce#42550
- [x] woocommerce/woocommerce#42549
- [x] woocommerce/woocommerce#42570
- [x] woocommerce/woocommerce#42326
- [ ] Background color options
- [ ] Handling long product names

[2022-10-10 15:48] roykho commented on #35002
Hi @Farallon5 - Can you please be more specific as to what use case you're trying to achieve because by default, the gallery images work the same as the main product image where it can be scrolled and zoomed.

[2022-10-10 15:52] roykho commented on #35005
Hi @DavidAnderson684 - thanks for the reporting. Could you please give us more detail as to the steps to reproduce. You mentioned `Create a code snippet that outputs duplicate notices (as detected in remove_duplicate_notices() in cart.js)` but could you include exactly the code snippet you're using?

[2022-10-10 15:55] roykho commented on #35006
Hi @Ninetheme - I am not sure I understand what issue you're having. Could you please elaborate further as to what you mean by this report?

[2022-10-10 15:58] DavidAnderson684 commented on #35005
It's part of a plugin. Here's the essential line, run with different shipping method/instance ID combinations (as explained aboev), but identical messages:

[code]

[2022-10-10 15:59] #35015 closed, assigned to nobody

[2022-10-10 16:05] CodeAdminDe commented on #32454
Hey, you could put this into a separate js file and load it via `wp_enqueue_scripts` (https://developer.wordpress.org/reference/hooks/wp_enqueue_scripts/) within a child theme. But that's a dirty (untested) hack which feels non-practical for production usage. So please note, that I don't recommend it.

The best way will be to resolve the issue. I really hope that the importance of the issue will b

[2022-10-10 19:09] #35016 closed, assigned to nobody

[2022-10-10 19:13] roykho opened #35026 "Cherry Pick Tool - Issue if we have patch releases after a code freeze"
Discussion here p1665427768828799-slack-C03MZFTR9DL

We noticed that some changelog entries from patch releases are being included in the outgoing release. For example 6.9.x patch releases that gets cherry picked into current outgoing release 7.0 would contain the changelog entry that went into 6.9.4. This causes the changelog to have duplicate changelog entries one in the 6.9.x section and one in

[2022-10-10 19:46] Farallon5 commented on #35002
The need for clickable links in the gallery images especially comes into play when making those images display full column width, which is helpful for certain products. We use css like this to do it:

.postid-16912 .woocommerce-product-gallery__image {
    width: 100% !important;
}

Then, instead of the normal thumbnail (that you click to expand) the images become a fuller part of the product page

[2022-10-10 22:06] UltimateByte commented on #33808
@webdados Well, last time I checked, this git had 1.4K issues. Now 1.5K. I guess nobody's actually sorting and keeping track on issues here. If somebody does keep track, well, they'd need a whole team to back them up.

[2022-10-11 06:43] nielslange opened #35029 "Tooltips for the Cart page and the Checkout page refer to the shortcode"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Since [WooCommerce 6.9.0](https://developer.woocommerce.com/2022/09/14/woocommerce-6-9-released/), the shortcode-based cart had been replaced with the Cart block and the shortcod

[2022-10-11 07:04] nftrendbrasil commented on #27400
That's it.

Repairing the database solves the problem.

Appreciate your help!

Rgds

Em sex., 26 de ago. de 2022 às 05:09, Cagri Oz ***@***.***>
escreveu:

--
[image: Sua foto ou logo]
*Atendimento NFtrend*
NFTrend Serviços Digitais
***@***.***
https://nftrend.io

[2022-10-11 07:07] lotje1990 commented on #35015
But it is a bug, because it didnt happen before the update. I am a software engineer and I tried alot of things to stop it from happening but notthing is working.
In the settings for payment method isnt even a method for credit card.

[2022-10-11 07:54] julionalesso commented on #32646
Hello!

Won't changing the theme harm my site's settings?

Att

Outlook Mobile

Em 19 de abr. de 2022, à(s) 15:16, jonathansadowski ***@***.***> escreveu:

﻿

Hi @julionalesso<https://github.com/julionalesso>,

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that,

[2022-10-11 08:07] ralucaStan commented on #42558
related https://github.com/woocommerce/woocommerce-blocks/issues/7183#issuecomment-1270380077

[2022-10-11 09:16] jgudmundson commented on #33742
appreciated!

John

On 2022-07-11 18:52, woocommercebot wrote:

Links:
------
[1]
https://github.com/woocommerce/woocommerce/issues/33742#issuecomment-1181223142
[2]
https://github.com/notifications/unsubscribe-auth/ABUMCOC7CPHGEDYJCNJIL3LVTTFWRANCNFSM52X2COKQ

[2022-10-11 09:27] HexaGT commented on #34186
Any ETA and interim fix? We have about 140 odd products so updating it manually will be tough.

--
Regards,
Hexa GT

From: Swati Pawar ***@***.***>
Date: Tuesday, 9 August 2022 at 2:11 PM
To: woocommerce/woocommerce ***@***.***>
Cc: HexaGT ***@***.***>, Mention ***@***.***>
Subject: Re: [woocommerce/woocommerce] Product bulk import error (Issue #34186)

Hi @HexaGT<https://github.com/HexaGT>,
Thank

[2022-10-11 12:07] RickardAhlstedt commented on #33730
Any updates on this issue?

[2022-10-11 12:38] vedanshujain opened #35032 "[COT/HPOS] Add compatibility for syncing with order stats table"
When adding entries corresponding to the new order in `wp_wc_order_stats` with the synchronization with the posts tables is disabled, the entry in wp_wc_order_stats is not created when sync_order() is called because the order type is shop_order_placehold and thus the check below fails:
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/Data

[2022-10-11 14:06] #34913 closed, assigned to nobody

[2022-10-11 15:00] #34657 closed, assigned to mdperez86

[2022-10-11 15:09] Tsonn opened #35035 "[Enhancement]: REST API Orders"
### Describe the solution you'd like

When updating an order status via REST API, there is no possible way to set this action as manual.
So the auto generated order note -eg. "Order status changed from Failed to On hold."- registers as a system note.
A "manual" parameter exists in woocommerce update_status() function.

It would be useful to be able to set this update action as manual because in th

[2022-10-11 15:47] peterwesterlund commented on #24906
I don't even need to type anything for the auto-draft order to be created. It seems to be created from server-side before the output is even rendered. Very annoying that I can't  delete the drafts anywhere but have to wait 24 hours or 7 days or whatever it is. I would like it to create a draft only when a relation been made to a order item, order meta etc. And of course then be able to list all th

[2022-10-11 15:52] mdperez86 opened #35036 "[Shipping] Shipping class dropdown enhancement"
**User story**

- As a merchant,
- I want the new shipping classes that was created to be the selected shipping class dropdown option.
- So that the customer doesn't need to select the new class manually.

The create new shipping class logic will be done as part of https://github.com/woocommerce/woocommerce/issues/34657

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6590%3A287898

**Acceptance criteria**

[2022-10-11 16:07] mdperez86 opened #35037 "[Shipping] Shipping class creation error handling"
**User story**

- As a merchant,
- I want when new shipping classes is been creating and the server responds an error a message should be shown.
- So that the customer know there were a problem creating the new class.

The create new shipping class logic will be done as part of https://github.com/woocommerce/woocommerce/issues/34657

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-6590%3A287898

**Acceptance

[2022-10-11 18:37] louwie17 commented on #34029
Closing this, as all these items have been finished.

[2022-10-11 18:37] #34029 closed, assigned to louwie17

[2022-10-11 18:45] jonathansadowski commented on #32433
For now, I'm moving this to blocked, as I wasn't able to unblock the in-progress PR in the timebox we agreed to.

[2022-10-11 19:55] #34940 closed, assigned to roykho

[2022-10-11 20:06] darcie commented on #34851
It looks like Google resolved their validation errors when a price was included for both `priceSpecification` and `offers`. This is no longer invalid when testing using their [Rich Results Test](https://search.google.com/test/rich-results).
Additionally, their documentation here seems to indicate both are acceptable:
https://developers.google.com/search/docs/appearance/structured-data/product#offe

[2022-10-11 20:19] barryhughes commented on #33944
I left some feedback in the PR, when you have a chance please let me know your thoughts (but I don't think we can accept it in ts current form).

[2022-10-11 20:21] helgatheviking opened #35042 "Button styling in Twenty Twenty Two theme is too specific"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

`<button>` elements do not share the style of the Woo buttons when added to product pages (and presumably elsewhere)

![image](https://user-images.githubusercontent.com/507025/19

[2022-10-11 20:56] ProdesignerAgency commented on #35006
Its wird behavior:

when product is added to the cart (in storefront theme or others) i have this code added:

<img width="1219" alt="Zrzut ekranu 2022-10-11 o 22 53 55" src="https://user-images.githubusercontent.com/6230472/195196466-0fa45e26-7a0b-4992-9d95-b1869823c358.png">

BTW how to unset /remove all woocommerce blocks?

[2022-10-11 22:01] moon0326 commented on #32045
@rjchow Could you share the steps to reproduce the issue?

I wasn't able to reproduce it.

1. Setup a new JN site
2. Install WC Payment
3. Connect WC Payment
4. Navigate to `WooCommerce -> Home`

I see `Set up WooCommerce Payments` as marked 🤔

![Screen Shot 2022-10-11 at 3 00 50 PM](https://user-images.githubusercontent.com/4723145/195206275-e10c56b1-2562-4150-bd99-dc811be66e16.jpg)

[2022-10-11 22:23] ngonzales07 opened #35043 "REST API multiple categories not showing how I want them"
**Prerequisites (mark completed items with an [x]):**
- [X ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

I am wanting to figure out how I can get an "AND" join on the

[2022-10-12 00:02] joshuatf opened #35046 "[Inventory] Disable inventory control toggle when inventory management is disabled"
When the site wide setting for inventory management is disabled under WooCommerce -> Settings -> Products ->  Enable stock management (`/wp-admin/admin.php?page=wc-settings&tab=products&section=inventory`) we should disable the toggle that in the new product management experience that allows tracking of quantity.

This will mimic the current experience with the exception that the toggle is shown,

[2022-10-12 00:46] #34265 closed, assigned to nobody

[2022-10-12 02:23] #35043 closed, assigned to nobody