[2020-12-20 13:39] geeksalah7 opened #28638 "WooCommerce Memberships is wrongly modifying a WP's query WHERE clause by adding "comments_clauses" filter"
**Describe the bug**
WooCommerce Memberships is wrongly modifying a WP's query WHERE clause by adding "comments_clauses" filter.
When we use LEFT JOIN in MySQL, the purpose is that we need all rows from the first table, if we include a column from the second table, in the WHERE clause we need to add `OR column IS NULL` as well otherwise the LEFT JOIN will act as a simple JOIN.

**Expected behavior

[2020-12-20 15:17] extrapixel commented on #22706
I think the problem why this is so complex to implement, is because variations of products are actually real products, but are not handled as such. Having variations as an "attribute" of a parent product is logically wrong and obviously an after-thought.

It should be implemented the other way around. All variations should be real products while the parent product is the one to be special (groupin

[2020-12-20 16:14] tammullen commented on #28585
Thanks @treibalen for reporting this!

I can reproduce it on my end.

![Screenshot 2020-12-20 at 16 12 35](https://user-images.githubusercontent.com/24649833/102718113-50c20e80-42de-11eb-8286-55776dcea316.png)

​
We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-12-20 16:53] tammullen commented on #28626
Thanks @helgatheviking

Thank you for taking the time to share this idea, we really appreciate your help

I'm going to close your issue in favor of the previously submitted https://github.com/woocommerce/woocommerce/issues/27000 as we had already labelled that issue as an enhancement. Please continue sharing your feedback there if needed.

A reminder that something which might help with identifyin

[2020-12-20 16:53] #28626 closed

[2020-12-20 17:05] helgatheviking commented on #28626
brain. is. not. working. though I _did_ actually search for that! wow... fail.

@tammullen is the site helper plugin always there? My end goal will be to pull this out automatically and maybe add a custom field or a tag in Helpscout so I can see it at a glance without digging through the SSR.

[2020-12-20 17:19] tammullen commented on #28591
Hi @SiobhyB,
Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2020-12-20 at 17 10 21](https://user-images.githubusercontent.com/24649833/102719664-1f017580-42e7-11eb-9d12-5e30d55ca141.png)
![Screenshot_2020-12-20_at_17_11_45](https://user-images.githubusercontent.com/24649833/102719692-57a14f00-42e7-11eb-9bd0-6fbf18ca665

[2020-12-20 17:26] gbruzzo commented on #28393
@webdados

Hello there!
We all our shipping rates are uniquely determined by country, with no reference to State, City or Postcode.

We tested the following change in class-wc-cart.php (lines 1536 - 1542):

[code]

This works perfectly in our case - this reduces friction at the first point of checkout.

This change would be very helpful for us

[2020-12-20 17:34] tammullen commented on #28552
Hi @epic451

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-20 17:34] #28552 closed

[2020-12-20 17:35] tammullen commented on #28563
Hi @kangfurqon

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-20 17:35] #28563 closed

[2020-12-20 17:35] tammullen commented on #28564
Hi @shensp79

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-20 17:35] #28564 closed

[2020-12-20 17:37] tammullen commented on #28506
Hi @hyndex

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-20 17:37] #28506 closed

[2020-12-20 17:48] tammullen commented on #28606
Hi @WillBrubaker ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot_2020-12-20_at_17_43_25](https://user-images.githubusercontent.com/24649833/102720286-596d1180-42eb-11eb-8a5f-a385869b581f.png)

![Screenshot_2020-12-20_at_17_44_56](https://user-images.githubusercontent.com/24649833/102720310-79043a00-42eb-11eb-9767-202

[2020-12-21 09:09] vedanshujain commented on #27521
Reopening based on https://github.com/woocommerce/woocommerce/pull/28543#issuecomment-747400562

[2020-12-21 09:41] adrianduffell opened #28640 "Provide Testing Utilities From a Seperate Composer Package"
**Is your feature request related to a problem? Please describe.**

The WC-Admin PHP Test Suite is dependent on having the WooCommerce plugin installed. However, it establishes this by [building the plugin from source](https://github.com/woocommerce/woocommerce-admin/blob/b1bc8c9b165ad303b9b7729ba7645b68ab040b50/bin/install-wp-tests.sh#L183-L200). This is because the test suite [requires](https://

[2020-12-21 10:52] alkiswebcore commented on #25524
same here....waiting for a fox for this. VERY VERY annoying.

[2020-12-21 13:22] #27673 closed

[2020-12-21 13:28] vedanshujain opened #28641 "Forward coupon error messages in cart to the user before removing"
**Is your feature request related to a problem? Please describe.**
In https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-cart.php#L726, we are eating all specific coupon messages and showing just a generic error to the user. This is not a good UX as we have more specific information which might be actionable by users but we are not showing it to them.

**Describe the solution

[2020-12-21 13:58] mrgrt opened #28642 "Download links not showing on thank you page when woocommerce_order_is_download_permitted filter used"
When using the woocommerce_order_is_download_permitted filter, the thank you page does not show the list of downloads when purchase order payment gateway is used at checkout. Orders come in on hold and I think that's what's causing the issue.

In templates/order/order-details.php on the thank you page I have tested that the follow two methods return true:

$order->has_downloadable_item() // return

[2020-12-21 14:27] rrennick commented on #26990
@ratzrattillo It was done without an extension.

For the purposes of this discussion it would be better to describe the `Additional Information` tab as `characteristics`. The `Attributes` functionality is designed to allow shops and customers to distinguish between variations of the product vs describe all the characteristics of the product.

While we appreciate you sharing your ideas with us, it

[2020-12-21 14:27] #26990 closed

[2020-12-21 14:30] rrennick commented on #26718
@mfs-mindsize Did you create a PR for this? If so, it's not linked to this issue. The `Closes #{issue-id}` in the PR template adds the link.

[2020-12-21 15:23] juliaamosova opened #28644 "Write new e2e test: Shopper / Checkout / Apply Coupon"
Write a new e2e test that covers the `Shopper / Checkout / Apply Coupon` flow.

[2020-12-21 15:31] rrennick commented on #28622
@helgatheviking If you run `composer install` a second time immediately after the first does it work? If not, did you run `composer self-update`?

[2020-12-21 15:34] Idiaghe1 opened #28645 "Orders not showing in order tab"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-12-21 15:41] rrennick commented on #28640
@adrianduffell Thanks for the suggestion. This is something we have discussed and plan to do at some point. It won't be something we start immediately, but stay tuned for updates.

[2020-12-21 16:42] robertocyrino commented on #28505
+1 report in 3588499-zen.

[2020-12-21 17:03] rrennick opened #28647 "Unexpected error in E2E test run"
When I run E2E tests locally, the following is logged to the console

[code]

The error doesn't cause the test run to fail so it isn't urgent that it be fixed. However, when one or more tests fail, this might be a red herring for the person trying to determine the cause of the failed test.

[2020-12-21 17:06] #28605 closed

[2020-12-21 18:08] juliaamosova commented on #28488
In this test, we are testing the functionality of the Search Orders bar in the top right corner of the `All Orders` view as shown below:

![seacrh_bar](https://user-images.githubusercontent.com/19143190/102807670-182d3e00-438d-11eb-8754-f57ac6711ba1.jpg)

In the test, we need to confirm that:

- Orders can be searched by a single-digit order number (Example, `1`, `2`, `3` etc)

- Orders can be sea

[2020-12-21 18:10] mfs-mindsize commented on #27040
Hi @smachi -

I followed your explanation / requests the best I could. Once there's an internal review of my code, we will properly submit a PR.

[2020-12-21 22:29] mfs-mindsize commented on #28059
@vedanshujain - Interesting observation and idea. But can you elaborate on a couple of things:

1. get_variation_prices() in turn calls read_price_data() and that appears to use a transient.
2. You said "when product has large amount of variations." Understood. But I'm curious, how many is that?
3. Can you also elaborate a bit on what you feel this "direct SQL query" might look like?

One thing I

[2020-12-21 22:39] blobaugh commented on #28645
No information is provided in this ticket. Please update it or close the ticket.

[2020-12-21 22:51] helgatheviking commented on #28622
@rrennick Hi Ron. I did need to update composer itself, so thanks for that. Though now I get a different issue.

[code]

and still can't finish generating the autoloader files.

[2020-12-22 00:20] bobbingwide opened #28648 "Infinite loop calling WC_Shipping_Zones::get_zones() in class extending WC_Shipping_Method"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In a shipping plugin that I'm writing I want to count the defined shipping zones in order to decide which tabs to display.
This is performe

[2020-12-22 00:27] adrianduffell commented on #28640
@rrennick Sounds good, thank you.

[2020-12-22 02:31] Neenu-Chandran commented on #25895
Below fix seems to be working -

[2020-12-22 02:35] danielbitzer opened #28649 "Recalculate taxes doesn't update "tax name" for orders"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When recalculating taxes for an order from the edit order screen (or by calling `\WC_Abstract_Order::calculate_totals( true )` directly) th

[2020-12-22 07:03] smachi commented on #27040
Perfect. Thank you!

[2020-12-22 07:47] bobbingwide commented on #28648
Example stack trace showing recursion has started.
[code]

The

[2020-12-22 08:15] lapiel-lab commented on #28582
Hi.

  Update my WC in 4.8.0, i have this bug :

Uncaught Error: Call to a member function get() on null in /www/wp-content/plugins/woocommerce/includes/data-stores/class-wc-customer-data-store-session.php:96
Stack trace:
#0 /www/wp-content/plugins/woocommerce/includes/class-wc-data-store.php(159): WC_Customer_Data_Store_Session->read(Object(WC_Customer))
#1 /www/wp-content/plugins/woocommerce/inc

[2020-12-22 09:15] Lindstromer commented on #28562
Any news on this? Would be nice to be able to get XI from Woo when an order is placed. Mainly from a VAT perspective, rather than shipping availability etc.

[2020-12-22 11:28] CreativeDive commented on #22862
Waiting ...

[2020-12-22 13:59] #27287 closed

[2020-12-22 14:28] alantygel opened #28651 "Product Mass Edit: setting outofstock doesn't affect products with stock managent"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If you try to mass edit products that have stock management on, and try to set them out of stock, changes doesn't have any effect.

**Expec

[2020-12-22 14:49] mfs-mindsize commented on #24726
@claudiosanches  said:

[code]
Is that 100% accurate tho'? Isn't the point of having classes (e.g., WC_Customer) to access the DB is to mitage any risk of backwards compatibility? For example,

[code]
How that value is returned doesn't matter. And there could be a conditional (for WC version?) that determines if it's a from a single meta row or out of an array?

Note: I understand there's an under

[2020-12-22 15:36] rrennick commented on #28622
@helgatheviking Are you running on Windows? If so, there might be a difference in the `sh` implementation that is triggering the error. cc @Konamiman

[2020-12-22 15:46] helgatheviking commented on #28622
@rrennick Yes, but I'm running the Linux subsystem WSL. in theory, that's supposed to help me avoid quite a lot of issues where Windows commands are not the same as Linux/Mac commands. And it _has_, but still stuck on this one.

[2020-12-22 15:58] renatho opened #28652 "Order status is draft when restoring it from trash in WP 5.6"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The function `wp_untrash_post` was changed in WP 5.6, restoring the posts from trash as _draft_. So when we trash and order, and then restore, i

[2020-12-22 17:01] bellapiaggi opened #28653 "Formas de Envio Não Funciona"
Quando tento realizar o teste de compra não aparece os modos de envio.
Aparece o seguinte: There are no shipping methods available. Please ensure that your address has been entered correctly, or contact us if you need any help.

Já conferi várias vezes e o meu endereço está correto. Testei vários endereços de clientes diferentes, mas todos aparecem a mesma mensagem.

Segue o status do Sistema:
`
#

[2020-12-22 17:05] mfs-mindsize commented on #27488
@erikdemarco - In your opening ticket you said:

_Actual behavior
Code1 is never success, always timeout_

Did you mean Code 2 is never successful?

[2020-12-22 17:48] Frisoni opened #28654 "Include Order # in Webhook log when WP_DEBUG is off"
When looking for a specific webhook in log files, we don't have any tip of each webhook belongs to each order, unless WP_DEBUG is turned on.

As we can't keep WP_DEBUG on, at least order number should be logged with each webhook log to help further investigating on webhook problems.

Consider change message from:
Webhook body is not logged unless WP_DEBUG mode is turned on.
to
Webhook body for ord

[2020-12-22 18:03] mfs-mindsize commented on #24303
@juliquiron - Interesting find.

The use of noscript makes sense. That said, I'm not a fan of using display: none as that's simple enough to override. Maybe there's something else?

The issue with wc_no_js() seems to be that it's not waiting for the DOM to be fully loaded. Therefore, I presume, changing a body tag class mid-render is going to trigger the re-render you've noticed.

[code]
As for CS

[2020-12-22 18:43] #26092 closed

[2020-12-22 19:07] mfs-mindsize commented on #28573
@cbdkaufen - Interesting. Would you be able to share a link to two on how much this signal still impacts SEO in 2021+?  No doubt there was a time when The (Google) Algorithm focused heavily on the URL structure. But that's not what it used to be, is it?

In fact, as I'm sure you already know, Google is experimenting with non-full URLs in Chrome.

Google: We'll test hiding the full URL in Chrome 86

[2020-12-22 19:10] pssyss commented on #27727
Hello friends,

Hope someone can help me fix this issue.

Thank you!

[2020-12-22 19:13] mfs-mindsize commented on #28567
@ganeshkrishnan1 - Doesn't Google Analytics, or any similar ecomm analytics - already do this? Furthermore, there might be GDPR or other privacy issues when using cookies?

I'm curious, why does this belong in WC Core? I'd certainly be willing to take a look a deeper look at it, but I want to be sure it's worth the effort. How is this going to improve WC - the ecomm platform - in ways that aren't

[2020-12-22 19:17] pssyss opened #28655 "Coupon code discounts on line items in cart, catalog/product loop, and product pages."
**Is your feature request related to a problem? Please describe.**
The Woocommerce  does not display how much discount is applied to individual product lines. The shop and product page also does not give an idea about the new price once a coupon has been applied. The order emails also do not show these details well.

**Describe the solution you'd like**
Ideally, once a coupon has been applied, the

[2020-12-22 19:53] mfs-mindsize commented on #28546
@juliaamosova @ninetyninew - I can certainly see the value of this :)

Perhaps as a stop-gap, it could be moved to Design or Documentation? That is - as @ninetyninew mentions - the overrides (?) would first have to be documented. Then from there they could be added to the customizer, or as a filter or whatever. But the first step would be to have a 360 understanding of the CSS needed to do a (manu

[2020-12-22 19:54] ganeshkrishnan1 commented on #28567
@mfs-mindsize google analytics data doesn't turn up in the api calls. Also not everyone uses google analytics.
Further more due to increase in ad blockers, even google analytics is turning up with incorrect stats.

Shopify does native conversion tracking which turns up in the orders table as referring site and landing page. More details are here: https://help.shopify.com/en/manual/reports-and-anal

[2020-12-22 20:23] roykho commented on #27635
I've tested this however I am also unable to replicate this. @Prima699 - Do you perhaps have a conflicting plugin?

[2020-12-22 21:48] Fiorinol commented on #28557
Having the same issue over here with WP 5.6 and WC 4.8. I thought it was due to WPML at first, but it seems to be a WC issue.

I tried deactivating all my plugins except WooCommerce and setting the theme to Twenty Twenty. Then when I try editing a product and leaving the edit page, my browser pesters me that "changes might not have been saved".

When I downgrade to an older version of Wordpress, I

[2020-12-23 00:00] antony-eacheagaray commented on #17365
Thanks alanpachuau! That issue still happens on Woocommerce 4.6.2 and your query action still works! Thank you, was having nightmares with a client.

[2020-12-23 07:14] NelsonYiu023 opened #28658 "Woocomerce Email has a bug"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

To whom it may concern.

We found a bug related to the order in WooCommerce with an order note that are not the same content.
Order #14795 from our consumer

[2020-12-23 08:09] djalecc commented on #27688
Hi,

Would you mind very much explaining the exact steps I need to do to actually complete this fix please? I'm pretty new to woo and don't really have much of an idea of what I'm doing here. I'm talking about exact steps from a 3 year old's point of view! haha

This bug is really messing my shop up and I've only just started it :(

[2020-12-23 08:27] dpiksl commented on #24184
I am having the same problem with Woocommerce 4.7.0.

Here's a screenshot of the order: https://puu.sh/H0cBM/9635488e6e.png

Order total is 13.89 + 22 % tax. So that should be 13.89 + 3.0558 (or 3.06) = 16.9458 = 16,95 €.
But for some reason, it rounds it down to 16.94 €.

I've tried both options for calculating tax on single line / subtotal, both give the same results.

Product prices are entered

[2020-12-23 08:30] simongcc commented on #28576
In your screenshot, the title should be "Something" but your screenshot still shows "Free shipping" (default), it means, the object your have passed does not change any settings at all. It did not use the settings passed.

[2020-12-23 10:50] ninetyninew commented on #28546
I think as a minimum where these colors are used they should carry a class, then if new elements are added in WooCommerce they can just get this class added.

Then for anyone wanting to override those with CSS they just have to worry about those classes and not target each individual element using them like now.

It would be good to have a setting for this either in the customizer or settings like

[2020-12-23 11:10] vedanshujain commented on #28505
This is fixed via #28620 and will be available with WC 4.9

[2020-12-23 11:10] #28505 closed

[2020-12-23 11:10] vedanshujain commented on #28585
This is fixed via #28620 and will be available with WC 4.9

[2020-12-23 11:10] #28585 closed

[2020-12-23 11:11] vedanshujain commented on #27504
Reopening for another look based on #28620

[2020-12-23 12:17] vedanshujain commented on #28059
Thanks for your interest in solving this issue, to answer your questions:

It does, however, in some installations they seem to be ejected often enough to not act as a reliable cache. Unfortunately, I have seen multiple instances where this was the case and server was not able to cache this expensive data.

Most recently, it was about 8 products in the side bar each with 1.2k variations. The serve

[2020-12-23 13:05] veljkho opened #28659 "Write new e2e test: Shopper / Cart / Apply Coupon"
Write a new e2e test that covers the `Shopper / Cart / Apply Coupon` flow.

[2020-12-23 13:19] rrennick commented on #28622
@Konamiman Is on holiday break. He may be able to offer some insight on return.

[2020-12-23 14:25] enishant commented on #21674
This works:
[code]

[2020-12-23 14:51] helgatheviking commented on #28622
Can't say I'm working too hard myself. :)

[2020-12-23 15:40] gglobalstep opened #28662 "[GlobalStep - WooCommerce 4.9 Beta 1][Mac] Website fails to display the highlighted border around emoji and option selected on feedback form"
## Bug Description:
Website fails to display the highlighted border around emoji and option selected on feedback form

 ## Environment:
macOS Mojave v10.14.6 (18G103)
 Browser: Safari: v13.1.1 (14609.2.9.1.3)

 ## Steps To Reproduce:
 1. Create any test site using Jurassic Ninja.
 1. Install and activate all required plugins.
 1. Complete the Onboarding setup wizard.
 1. Go to WooCommerce > Settin

[2020-12-23 15:43] gglobalstep opened #28663 "[GlobalStep - WooCommerce 4.9 Beta 1] At front-end, Razorpay option appears misaligned on Checkout Page and keeps varying in size as theme changes."
## Bug Description:
At front-end, Razorpay option appears misaligned on Checkout Page and keeps varying in size as theme changes.

 ## Environment:
 Windows 10, macOS Mojave v10.14.6 (18G103)
 Browser: Chrome(Version 87.0.4280.88 (64-bit))
  Firefox(Version 83.0)(64-bit)
  Safari: v13.1.1 (14609.2.9.1.3)

 ## Steps To Reproduce:
 1. Create any test site using Jurassic Ninja.
 1. Install and activa

[2020-12-23 15:45] gglobalstep opened #28664 "[GlobalStep - WooCommerce 4.9 Beta 1] Count for "Canceled Orders" fails to update under "WooCommerce->Customers" table."
## Bug Description:
Count for "Canceled Orders" fails to update under "WooCommerce->Customers" table.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all

[2020-12-23 20:19] bobbingwide opened #28666 "Kaspersky Internet Security reports the `tests\e2e\env\external.md` file as a detected object."
**Prerequisites (mark completed items with an [x]):**
Not applicable.
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Kaspersky Internet Security reports the `tests\e2e\env\external.md` file as a detected object.
It's not possible to view th

[2020-12-23 20:38] rrennick commented on #28666
@bobbingwide Thanks for submitting the issue.

`external.md` is a text file containing [markdown](https://guides.github.com/features/mastering-markdown/). Since it's just a text file it's not clear why a malware scanner would flag it.

The `/tests/` folder is not included in the distributed WooCommerce plugin. If you are setting up a development environment on your local computer then you may need

[2020-12-23 20:38] #28666 closed

[2020-12-23 21:41] juliaamosova commented on #28662
Hi @gglobalstep,

Thank you for reporting the issue. The feedback tool is a part of WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-23 21:42] juliaamosova commented on #28663
Hi @gglobalstep,

Thank you for reporting the issue. Razorpay integration is a part of WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-23 21:45] juliaamosova commented on #28664
Hi @gglobalstep,

Thank you for reporting the issue. `WooCommerce / Customers` section is a part of WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-23 21:55] juliaamosova commented on #28614
Hi @gglobalstep,

Thanks for reporting the issue. However, it looks like everything is working as expected. The reason why in your case the name of the product doesn't stay in the search bar is because you only have 1 of those products so WooCommerce navigates directly to the product page in that case and there is no need to have product name in the search bar.

I tested with 2 products and it see

[2020-12-23 21:55] #28614 closed

[2020-12-23 21:59] juliaamosova commented on #28615
Hi @gglobalstep,

Thanks for reporting the issue. However, everything seems to work as expected.

In your vide, I can see the automated tax option is enabled on the site:

![automated_tax](https://user-images.githubusercontent.com/19143190/103039939-135cbb80-4540-11eb-8f01-ab8c3877170b.jpg)

When that option is enabled, `Prices entered with tax` option is disabled as expected.

I am closing this a

[2020-12-23 21:59] #28615 closed

[2020-12-23 22:10] juliaamosova commented on #28616
Hi @gglobalstep,

Thanks for reporting the issue! I can reproduce it on my end.

-Rest for all new users and guest users on New and Test Site it fails to work

I confirm that the Privacy Policy links works for logged in users but doesn't work for guest users (not logged in). Please see gifs below confirming both cases.

Logged in user - Privacy Policy link works:

![](http://g.recordit.co/55YVqp57

[2020-12-23 22:20] juliaamosova commented on #28618
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. Please see gif below showcasing the issue:

http://g.recordit.co/EYYUDwVpfi.gif

Also here is a quick screenshot as well:

![sidebar](https://user-images.githubusercontent.com/19143190/103040970-02617980-4543-11eb-8aec-3534a3d82e79.jpg)

We should fix it as soon as poss

[2020-12-23 22:26] juliaamosova commented on #28629
Hi @piperis1,

Thanks for raising the issue. I am not immediately sure what could be going on yet. Could you please confirm how did you create products on the site:

- Manually on the site?
- Imported via CSV file?
- Through some migration tool?
- Any other way?

This will help us to narrow down the issue and try to understand its cause further.

[2020-12-23 22:28] juliaamosova commented on #28634
Hi @rfigueroadiaz,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2020-12-23 22:28] #28634 closed

[2020-12-23 22:30] juliaamosova commented on #28638
Hi @geeksalah7,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the WooCommerce Memberships plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact the WooCommerce support team by [opening a ticke

[2020-12-23 22:30] #28638 closed

[2020-12-23 22:32] juliaamosova commented on #28645
Hi @Idiaghe1,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-12-23 22:37] juliaamosova commented on #28653
Hi @bellapiaggi,

Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

Translation of the title:

Translation of the issue description:

The following appears: There are no shipping methods available. Please ensure that your address has been entered co

[2020-12-23 22:37] #28653 closed

[2020-12-23 22:38] juliaamosova commented on #28654
Hi @Frisoni,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-23 22:39] juliaamosova commented on #28655
Hi @pssyss,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-23 22:40] juliaamosova commented on #28658
Hi @NelsonYiu023,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-12-23 22:42] juliaamosova commented on #28604
Hi @martinsotirov,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-23 22:42] #28604 closed

[2020-12-23 22:44] juliaamosova commented on #28559
Hi @negapo,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-23 22:44] #28559 closed

[2020-12-23 22:45] juliaamosova commented on #28539
Hi @andriamirul,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-23 22:45] #28539 closed

[2020-12-23 22:45] juliaamosova commented on #28518
Hi @601dev,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-23 22:45] #28518 closed

[2020-12-23 22:46] juliaamosova commented on #28515
Hi @louisdoe,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-23 22:46] #28515 closed

[2020-12-23 22:46] juliaamosova commented on #28509
Hi @marcopi1234,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-23 22:46] #28509 closed

[2020-12-23 22:46] juliaamosova commented on #28504
Hi @ninetyninew,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-23 22:46] #28504 closed

[2020-12-23 22:52] piperis1 commented on #28629
Manually on the site, always

On Wed, 23 Dec 2020, 22:26 Julia Amosova, <notifications@github.com> wrote:

[2020-12-23 23:54] nts401 commented on #21674
Thank you for this I am going to try it out now. Does it have to go in a certain section in footer.php? do i have to wrap it in <script></script> ?

[2020-12-24 01:42] NelsonYiu023 commented on #28658
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2020-12-24 11:36] senadir opened #28668 "WC_Order::get_reason is not defined in 4.9.0.beta-1"
Our phpunit was running WC 4.9.0.beta-1 yesterday and tests broke, after further investigation, we found the reason to this error
[code]
We don't call this function directly but we do delete some orders in our unit test (to ensure draft orders are working well).

This is the full error
https://gist.github.com/opr/c70ebe6f053c76564ad2ab4bb9bd0ae4

This is the file that is failing
https://github.com

[2020-12-24 14:55] juliaamosova commented on #28668
Thanks for reporting @senadir! We will investigate further. Adding 4.9 milestone to it.

[2020-12-24 14:57] gglobalstep opened #28669 "No validation for Maximum spend value less than Minimum spend value on coupons"
## Bug Description:
Validation fails to display if "Maximum spend" value is less than "Minimum spend" value while creating a coupon.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site using Jurassic Nin

[2020-12-24 14:59] gglobalstep opened #28670 "[GlobalStep - WooCommerce 4.9 Beta 1] Order status is displayed as "On Hold" on dashboard for PayPal payment method ."
## Bug Description:
Order status is displayed as "On Hold" on dashboard for PayPal payment method (Test Mode) on test site.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Hit any one of the existing test site URL (PayPa

[2020-12-24 15:03] gglobalstep opened #28671 "[GlobalStep - WooCommerce 4.9 Beta 1] After Payment Setup via Razor pay, Ajax 404 Error is triggered on console."
## Bug Description:
After Payment Setup via Razor pay, Ajax 404 Error is triggered on console.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all requir

[2020-12-24 15:32] gglobalstep commented on #28411
This issue is also observed on WooCommerce 4.9 Beta 1 for Reviews home screen panel.
![Reviews](https://user-images.githubusercontent.com/41110392/103096825-31ebb100-462b-11eb-9e3f-f97f5565749d.png)

[2020-12-24 19:21] pauldowlin opened #28672 "Database Error when Searching for Products in Admin"
I was able to narrow it down to the use of MySQL 8. If I use MySQL 5.6, everything else being equal, then Product search's in Admin works as expected. Product Search was working at one point with our server/database setup (MySQL 8.0) but unfortunately I have procrastinated long enough that I don't have any setups running old enough versions of Woocommerce to nail down what version this changed on

[2020-12-24 19:22] 19pdubs commented on #28582
+1
WC support absolutely isn't helping with this issue and I am losing paid users everyday.

[2020-12-24 19:35] gitdel commented on #28582
Hey @Jany-M , i'm also facing this issue.

Have you managed to found a solution to this?

Can you share more what do you mean by _"adding an extra check"?_ or how do you do that to resolve the.3?

[2020-12-24 19:40] abhishek-pokhriyal commented on #28672
Seems related to #28417

[2020-12-24 19:47] pauldowlin commented on #28672
Thanks! I obviously didn't search for the correct terms when submitting this.

[2020-12-24 19:51] abhishek-pokhriyal commented on #28672
If the issue you're facing is the same as the one I linked above then you can expect a fix in WC 4.9.0. You can also test it on the [4.9.0 beta version](https://github.com/woocommerce/woocommerce/releases/tag/4.9.0-beta.1) - on a staging/dev environment of couse

[2020-12-24 20:05] pauldowlin commented on #28672
Yes, it's exactly the same. Thanks for the heads up!

[2020-12-24 20:48] wicara commented on #27915
I have the same problem and I can not find the correct category with out the hierarchies

[2020-12-24 23:15] mvenkadesan commented on #26953
The list of tables lacking documentation is more comprehensive in the closed issue #27946.

[code]

Also, can someone point to the correct part of the code from WooCommerce Core where these tables are created? I am looking for `wc_customer_lookup`.

[2020-12-24 23:44] Jany-M commented on #28582
@gitdel in case of my custom theme, I had a function running through that action hook, meant to be for the frontend.
In the new Woo version, that action seems to run also in the backend now.
So, the solution in my case was to either add a condition in the function so that `if(is_admin()) return;` or wrap the `add_action` in that condition. I did the latter and it fixed the issue for me.

However t

[2020-12-25 08:47] zdenys commented on #28606
Another report on the forums: https://wordpress.org/support/topic/cant-edit-text-in-checkout-via-theme-customizer-any-more/

[2020-12-26 15:53] nattila1 opened #28673 "More detailed variations_form JSON object and better product title on variable product pages"
**Is your feature request related to a problem? Please describe.**
No, not really. It is a enhancement suggestion.

**Describe the solution you'd like**
On variable product pages Product images and SKU is swapped by Javascript if a variation is selected or changed. This JS is fed by a JSON object found in form.variations_form. This object contains lot of data about each variation, but doesn't cont

[2020-12-26 16:45] flyingeyefr opened #28674 "WC 3.8: stock is decreased in Admin "Order / Add order" when adding a product even for a Quote status."
Context
Admin / Add order is used to create quotes for new customers. Therefore we use WooCommerce Order Status Manager plugin and have created a custom status "Quote". A quote should not affect the stock because it is not yet a validated order.

Describe the bug
When a quote is created or updated, the stock is modified for each item inside the quote.

Expected behavior
No further stock adjustment

[2020-12-27 01:56] DemonSkye opened #28675 "Able to apply email-restricted coupon to any order"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have

[2020-12-27 19:47] harst100 opened #28676 "Rave WooCommerce Payment Gateway"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-12-28 09:41] lucky0007 commented on #28557
Did anyone resolve this issue?

[2020-12-28 11:31] vedanshujain commented on #28668
Removing high priority and clearing milestone, since looks like this is caused by mocking behavior in blocks plugin. See https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3602

[2020-12-28 14:23] rrennick commented on #28672
@pauldowlin Thanks for reporting the issue. It was reported earlier in #28417 and fixed in #28468. The fix will be included in WooCommerce 4.9.0. Closing as a duplicate.

[2020-12-28 14:23] #28672 closed

[2020-12-28 14:28] rrennick commented on #26953
@mvenkadesan WooCommerce Admin is developed in a [separate repository](https://github.com/woocommerce/woocommerce-admin).

[2020-12-28 22:09] alantygel opened #28680 "Hide categories with no visible products and don't count hidden products to category count"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

(This issue was first posted at [woocommerce blocks](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3564), then I suggested a [PR](h

[2020-12-29 13:33] TheGranadilla commented on #27419
Hi,
No, it's definitly unfixed.

The widget will still return out of stock variations......

Common, Woocommerce is a leading solution, we need the widget to return only Instock products!
Can't believe I still can't perform a simple action like : Filter and return T-shirts in size : Small.

#26260

[2020-12-29 13:59] rrennick opened #28682 "page.$eval is an async function"
I'm seeing intermittent E2E test failures both locally and in Travis. In the core tests there are three instances of `page.$eval()`

[code]

`$eval()` is an async function and should be used with an `await`.

`page.$eval()` seems to be needed for some elements inserted into the DOM with jQuery

[code]

We should create a function in the `utils` package that can be used as needed for this work arou

[2020-12-29 14:18] grigorijurasov commented on #27900
I can't find the original ticket and can't reproduce anymore either, leaving this closed.

[2020-12-29 15:08] zhongruige commented on #27900
Thank you for the follow up @grigorijurasov !

[2020-12-29 16:40] ninetyninew opened #28683 "Enable "Product categories" screen option by default for users upon WooCommerce installation"
**Is your feature request related to a problem? Please describe.**
Upon installing WooCommerce the "Product categories" screen option in the WordPress menus section is included but is not enabled by default. A user may not realise they need to click "Screen options" then enable it to add product categories to a menu.

**Describe the solution you'd like**
The product categories screen option enable

[2020-12-29 17:35] juliaamosova commented on #28671
Hi @gglobalstep,

Thank you for reporting the issue. RazorPay integration is a part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-12-29 17:57] renude commented on #27673
Hi Roy,

I know there’s been a long string of messages to resolve this issue. What’s the final solution to the coupon being used up after a failed payment?

Mush love,

Yosi Pearce
Chaga Dealer
c. 562-445-5358
drinkrenude.com
🍄

[2020-12-29 18:42] juliaamosova commented on #28683
Hi @ninetyninew,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

I am sharing a screenshot here to quickly understand in the future what this request relates to:

![cat](https:/

[2020-12-29 18:49] juliaamosova commented on #28680
Hi @alantygel,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25375. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-12-29 18:49] #28680 closed

[2020-12-29 18:50] juliaamosova commented on #25375
I am bumping the priority of this issue from `low` to `high` due to the number of requests we received for this issue to be resolved.

[2020-12-29 18:51] juliaamosova commented on #28676
Hi @harst100,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-12-29 18:55] juliaamosova commented on #28675
Hi @DemonSkye,

Thank you for reporting this issue. However, the behavior you are describing is expected. I agree that this is not ideal but there is no way for WooCommerce to know what is user's email on steps 5 or 7 (from the steps to reproduce the issue that you listed). WooCommerce does the email validation at the moment of the order being placed when the user's email is known.

I am closing t

[2020-12-29 18:55] #28675 closed

[2020-12-29 18:56] juliaamosova commented on #28674
Hi @flyingeyefr,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the WooCommerce Order Status Manager plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact the WooCommerce support team by [openi

[2020-12-29 18:56] #28674 closed

[2020-12-29 18:58] juliaamosova commented on #28673
Hi @nattila1,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-29 19:43] ninetyninew commented on #28683
Thanks, the same applies to "Product tags" here too

[2020-12-29 19:45] juliaamosova commented on #28670
Hi @gglobalstep,

Thank you for reporting the issue!

I've spent some understanding of what could be happening. I am getting the following order notes on the PayPal Sandbox orders:

![pp](https://user-images.githubusercontent.com/19143190/103309881-468dc780-49e4-11eb-9ea2-bad0408e408f.jpg)

There are numerous threads available online on possible solutions for this issue. The closest one I found so

[2020-12-29 20:09] juliaamosova commented on #28669
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I have set up the coupon as follows:

![coupon1](https://user-images.githubusercontent.com/19143190/103311182-a9349280-49e7-11eb-8bbf-a4c8d5eb6616.jpg)

I was able to create a coupon of this kind. However, I expected to receive a message letting me know that the minimu

[2020-12-29 20:11] juliaamosova commented on #28668
Thanks @vedanshujain!

[2020-12-29 20:15] dennisSmidswater commented on #24184
similar problem over here, if i set the decimal to 4 (instead of 2) i see the right price, but i do not want 4 decimals in my shop. Currently, a lot of products are now shown as € 398,01 instead of € 398,00 (price excluding 21% tax is € 328,93).

So with tax (and 4 decimals) the price is 398,0053 that is shown as € 398,01 instead of € 398,00
i'n not able to fill in 328,9256198 excluding tax in woo

[2020-12-29 20:16] juliaamosova commented on #28652
Hi @renatho,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

See gif below showing the behavior:

![](http://g.recordit.co/PN9LNhmnSs.gif)

This is a basic functionality which in my view needs to work correctly which is why I am giving this issue a `high` priority.

[2020-12-29 20:29] juliaamosova commented on #28651
Hi @alantygel,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Here is how my product stock is set up (an example of one of the products):

![stock](https://user-images.githubusercontent.com/19143190/103312222-590aff80-49ea-11eb-9d36-c0c4208f076b.jpg)

Here is what happens when I try to update the stock of 3 of these products using

[2020-12-29 20:40] juliaamosova commented on #28649
Hi @danielbitzer,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end - thanks for the very detailed instructions.

I made a short gif to document the last 2 steps to confirm I can reproduce the issue - see below - I am updating the tax on the previously placed order - the tax amount changes but the tax name doesn't change:

![](http://g.

[2020-12-29 21:00] juliaamosova commented on #28637
Hi @bernattorras,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

I made a screen recording (see below) to document my experience where I've tried to clear the "Date sale price

[2020-12-29 21:05] juliaamosova commented on #28636
Hi @panaloptec,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2020-12-29 21:05] #28636 closed

[2020-12-29 21:09] juliaamosova commented on #28645
Hi @Idiaghe1,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-29 21:09] #28645 closed

[2020-12-29 21:10] juliaamosova commented on #28623
Hi @Ashok5000,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-29 21:10] #28623 closed

[2020-12-29 21:11] juliaamosova commented on #28621
Hi @amarehealingarts,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-29 21:11] #28621 closed

[2020-12-29 21:11] juliaamosova commented on #28608
Hi @RosanneBoxum,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-29 21:11] #28608 closed

[2020-12-29 21:14] juliaamosova commented on #28577
Hi @simongcc,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-29 21:14] #28577 closed

[2020-12-29 21:15] juliaamosova commented on #28545
I am closing this as I couldn't reproduce this issue. Will keep an eye for similar requests that may come in.

[2020-12-29 21:16] juliaamosova commented on #28409
I am closing this as it is likely due to the permission levels indeed. I can successfully initiate the connection to WooCommerce.com.

[2020-12-29 21:16] #28409 closed

[2020-12-29 21:18] juliaamosova commented on #28280
Hi @bwallx,

My apologies for the delayed response here. Would you please confirm if the issue is still present for you?

[2020-12-29 21:19] juliaamosova commented on #28093
Hi @rrakso,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-12-29 21:19] #28093 closed

[2020-12-29 21:20] szepeviktor opened #28685 "woocommerce/packages directory remains empty on 4.9.0-rc.1"
4.9.0-rc.1 has been overwritten with packages added to `woocommerce/woocommerce`, so it contains 1+3 packages with is very bad.

v4.7.1 was properly empty:
https://github.com/woocommerce/woocommerce/tree/4.7.1/packages

Please read https://github.com/Automattic/jetpack/issues/18186
Thank you.

[2020-12-29 21:23] juliaamosova commented on #28685
Thanks for opening this issue @szepeviktor. I am tagging @vedanshujain who was involved in the conversation in https://github.com/Automattic/jetpack/issues/18186.

[2020-12-29 21:43] juliaamosova commented on #28617
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can see this issue happening in http://gerpot.dreamhosters.com.

I took a quick video documenting the experience:

![](http://g.recordit.co/RUl3zyHMRA.gif)

Error messages in console:

![errors](https://user-images.githubusercontent.com/19143190/103315869-d9366280-49f4-11eb-8c3e-7dd4b938ce88.jpg)

[2020-12-29 21:51] juliaamosova commented on #27705
Hi @DynAggelos,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-29 21:58] juliaamosova commented on #27703
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Please see gif below documenting my experience:

![](http://g.recordit.co/gUhxOXY6cs.gif)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can i

[2020-12-29 22:00] juliaamosova commented on #27704
Hi @DynAggelos,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-29 22:02] juliaamosova commented on #27706
Hi @sixg,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-12-29 22:05] juliaamosova commented on #27765
Hi @olsonrebecca,

Apologies for the delayed response! And thanks for reporting the issue.

With the release of WooCommerce 4.0, these reports are becoming obsolete. There is a new and better Analytics section available for users running WordPress 5.3+. Learn more about the new experience in the [WooCommerce Analytics documentation](https://docs.woocommerce.com/document/woocommerce-analytics/).

C

[2020-12-29 22:13] juliaamosova commented on #27811
Hi @simona6,

Apologies for the delayed response! And thank you for submitting the issue.

It is not clear from your description of how you were trying to edit the order and what exactly. It will be helpful if you could share a screencast that shows the steps you are taking so that we could evaluate this request further.

[2020-12-29 22:19] juliaamosova commented on #27907
Hi @oswaldAle04,

Apologies for the delayed response!

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be

[2020-12-29 22:26] juliaamosova commented on #27920
Hi @KVNHNF,

Thank you for taking the time to share this idea, we really appreciate your help. 

I can see what you mean (I made a gif to document the experience):

![](http://g.recordit.co/SijrPXT2Df.gif)

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of sugg

[2020-12-29 22:26] #27920 closed

[2020-12-29 22:35] juliaamosova commented on #27929
Hi @crgeary,

Apologies for the delayed response!

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end with "Force shipping to the customer billing address" enabled in `WooCommerce/Settings/Shipping/Shipping options`:

![address](https://user-images.githubusercontent.com/19143190/103318336-2833c600-49fc-11eb-87bd-690b996d9aa2.jpg)

We won’

[2020-12-29 22:37] elizaan36 commented on #28568
hey @timmyc - put together a potential design for this store setup link using similar copy to the one you referenced in Calypso. Thoughts?

![store setup prompt](https://user-images.githubusercontent.com/5121465/103318323-bd7e8c80-49f3-11eb-8437-1ef90079a0e0.png)

[2020-12-29 22:38] juliaamosova commented on #27927
Hi @christopherdarling,

Apologies for the delayed response!

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future

[2020-12-29 22:47] masteradhoc commented on #28683
+1

[2020-12-29 22:50] juliaamosova commented on #27791
Hi @beesmart,

Apologies for the delayed response!

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Documenting the steps I took:

1. Placed order in `On hold` status - received new order notification email as Admin
2. Changed order status from `On hold` to `Pending payment` - no email
3. Changed order status from `Pending payment` t

[2020-12-29 22:58] juliaamosova commented on #28150
Hi @MDHeshop,

Apologies for the delayed response!

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

![e1](https://user-images.githubusercontent.com/19143190/103319257-2ae3ea80-49ff-11eb-9bd5-b20f03ae2409.jpg)

![e2](https://user-images.githubusercontent.com/19143190/103319258-2e777180-49ff-11eb-8ea0-88d12

[2020-12-30 00:02] bowenac opened #28686 "use_block_editor_for_post_type breaks Product Short Description field"
Have a site that is using this filter. After updating WP Core from 5.5.3 to 5.6 we can no longer edit the Product Short Description field unless it's on the text tab, when in visual it doesn't show any of the content, and you can't click into it. Removing this filter obviously removes gutenburg editor from products, and then the Product Short Description can be edited fine. Not sure if this is a W

[2020-12-30 00:30] olsonrebecca commented on #27765
Julia - neither report is working correctly. Specific information is in the forum thread I started. I apologize, but responses from Automatic don't include the email string (and several of you have contacted me at different times) so I'm not sure what support request of mine you're looking at.

The Analytics report now shows the tax codes, but the numbers in all the Analytics reports are off, and

[2020-12-30 03:21] alantygel commented on #25375
Hi,

Just adding that this issue also affects the Product Categories Block. So, I hope the solution will also fix the problem there. [I suggested a PR](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3586) specifically to fix the issue at the block, but we concluded the most appropriate strategy would be to solve it here.

If some more experienced developer can give some c

[2020-12-30 10:50] Mulli opened #28687 "WooCommerce (4.8.0) WordPress (5.6) ACF PRO 5.9.[23] Conflict: not saving the SKU value for Variable Product"
**Prerequisites (mark completed items with an [x]):**
- [ X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Problem: SKU value on main variable product is not shown, after adding a value followed by successful update message.
The field is blank

[2020-12-30 11:16] Mulli commented on #28687
After some more tests - When ACF PRO is diabled, SKU is updated. Will move the issue to ACF PRO...

[2020-12-30 12:16] vedanshujain commented on #28582
Looks like this is happening because of checkout call we added in blocks package in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3371. We will be creating a PR to address this issue.

[2020-12-30 12:48] gglobalstep opened #28688 "[GlobalStep - WooCommerce 4.9 RC1] "Date Range" picker fails to retain user selected option when Analytics->Overview page is re-visited."
## Bug Description:
"Date Range" picker fails to update in revisit page on "Analytics".

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.

[2020-12-30 12:51] gglobalstep opened #28689 "Incusive tax rate calculation fails when Store Address is set to India and Billing Address is set to US"
## Bug Description:
 Inclusive tax rate calculation fails when Store Address is set to India and Billing Address is set to US

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1.

[2020-12-30 13:04] rrennick commented on #28688
@gglobalstep Thanks for reporting the issue. This is expected behaviour so I will close the issue. The date range selection is dropped from the browser context when the user navigates to any non-WooCommerce Admin screen.

[2020-12-30 13:04] #28688 closed

[2020-12-30 13:37] fiazhussain43 commented on #21210
Create order postman
{
  "order": {
    "payment_details": {
      "method_id": "bacs",
      "method_title": "Direct Bank Transfer",
      "paid": true
    },
    "billing_address": {
      "first_name": "John",
      "last_name": "Doe",
      "address_1": "969 Market",
      "address_2": "",
      "city": "San Francisco",
      "state": "CA",
      "postcode": "94103",
      "country": "US",

[2020-12-30 13:44] fiazhussain43 opened #28691 "WooCommerce Order API always creates empty orders"
Create order postman
{
"order": {
"payment_details": {
"method_id": "bacs",
"method_title": "Direct Bank Transfer",
"paid": true
},
"billing_address": {
"first_name": "John",
"last_name": "Doe",
"address_1": "969 Market",
"address_2": "",
"city": "San Francisco",
"state": "CA",
"postcode": "94103",
"country": "US",
"email": "john.doe@example.com",
"phone": "(555) 555-5555"
},
"shipping_address": {

[2020-12-30 13:55] kevinruscoe commented on #28652
My PR fixes this particular issue. However, due to the change in WP5.6, products are also effected (i.e trashing a "pending review" product, then restoring it, chucks it back into draft).

If we need other WC post types to get put back into the correct status upon being restored, we can just amend the conditional at https://github.com/woocommerce/woocommerce/pull/28690/files#diff-3a21fb35ebe0a4476

[2020-12-30 14:00] #28574 closed

[2020-12-30 15:44] juliaamosova commented on #28687
Hi @Mulli,

Thanks for reporting the issue. It sounds, however, that you already found the conflict.

Since this is a non-WooCommerce bug, I am going to go ahead and lose it. However, please feel free to comment back in case I missed something and we'd take another look.

[2020-12-30 15:44] #28687 closed

[2020-12-30 16:08] katinthehatsite opened #28693 "Hide products from search with default WordPress search when set to "hidden" in catalog"
At the moment, there are two searches available with WordPress and WooCommerce - WooCommerce Product Search and WordPress search. The rough difference could be illustrated by two widgets:

<img width="704" alt="download" src="https://user-images.githubusercontent.com/25575134/103365497-16175d80-4ab8-11eb-99e3-99ea867279ac.png">

The product search has this sample link for searching: http://yoursit

[2020-12-30 16:27] juliaamosova commented on #28689
Hi @gglobalstep,

Thank you for reporting the issue!

I think everything is working correctly though and the tax amount is calculated as expected.

Documenting my steps below.

My store is based in India:

![i1](https://user-images.githubusercontent.com/19143190/103366546-f02a9280-4a90-11eb-8c35-db5603c7a095.jpg)

I have a tax rate of 7.5% set up for California, US:

![i2](https://user-images.gith

[2020-12-30 17:01] juliaamosova commented on #28691
Hi @fiazhussain43,

Thanks for reporting the issue. However, I can't reproduce it - everything is working as expected on my end.

As per our ["Create order" WC REST API documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/#create-an-order), I was able to create an order with the correct response.

My POST request and response + order created on the site:

![api1](https://user-ima

[2020-12-30 18:37] extrapixel opened #28694 "Optimize text and behaviour of "(can be backordered)""
**Is your feature request related to a problem? Please describe.**
If Backorders are allowed (+notify customers activated): The problem is "_(can be backordered)_" is confusing for customers because both _in stock_ and _on backorder_ are mentioned. Just the notion of "backorder" will drive away a lot of customers.

**Describe the solution you'd like**
- Change text to "_(and more can be backordere

[2020-12-30 19:30] juliaamosova commented on #28669
Noting that this issue is not specific to WC 4.9 as it is present in 4.8 as well which is why I am not adding it to 4.9 milestone.

[2020-12-30 19:45] juliaamosova commented on #28694
Hi @extrapixel,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Also noting related issues that have been previously submitted:
- https://github.com/woocommerce/woocommerce/issu

[2020-12-30 20:12] katinthehatsite opened #28695 "Taxes by Code does not factor in partial refunds"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When you look under WooCommerce > Reports > Taxes by Code and Taxes by date, you will see that these show the different result for the sa

[2020-12-30 21:12] 19pdubs commented on #28582
Hi Vedanshu,

Thanks for reaching out. Do you know what timeline I should be expecting
for this to be fixed?

Thanks,
Parul

On Wed, Dec 30, 2020 at 5:16 AM Vedanshu Jain <notifications@github.com>
wrote:

[2020-12-30 21:39] timmyc commented on #28568
Looks really great to me @elizaan36 - fwiw we do have much easier access to the number of remaining tasks in the setup checklist, and we also have the "status indicator" component we show in the navigation bar panel area if we wanted to re-use that at all.

[2020-12-30 21:39] timmyc commented on #28568
@pmcpinto what do you think about this for the upcoming sprint?

[2020-12-30 23:55] elizaan36 commented on #28568
Yes! I was thinking it would be interesting to target specific tasks similar to what we're doing with the first product email - maybe less daunting to break down the concept of completing setup that way. For example, something like "You're on step 1 of 5. Let's get started adding your first product."

[2020-12-31 00:31] timmyc opened #28696 "Settings Pages Design Exploration"
Recently the Woo Design team has been exploring updating the look of the WooCommerce Settings pages:

p6riRB-5Ok-p2 & [figma](https://www.figma.com/file/z1dmYd9ZyEYUebQD0ozyOK/WooCommerce-Settings---Interim-Update?node-id=1%3A518)

This issue is not essentially to implement these designs, rather to explore any different routes for implementation that there might be, and get some estimates of the l

[2020-12-31 06:01] ilyasfoo opened #28697 "activated_plugin action is not called when registered by embedded woocommerce-admin"
**Describe the bug**
When WCA is packaged under WC, `activated_plugin` hook registered by embedded WCA is never called during WC plugin activation. I suspect this is because embedded packages are loaded by WC within `plugins_loaded` hook:
https://github.com/woocommerce/woocommerce/blob/3aee9f2dbd1da2d4505aa23f77bd08561253c3c2/src/Packages.php#L37-L39

As a result, `activated_plugin` hook has alrea

[2020-12-31 07:54] elzix commented on #22048
I discovered a workaround:

In my scenario, I do not have a cart page. If a customer proceeds to payment website (external) and cancels, they are taken back to the website with `$_REQUEST['cancelled']` set. On that page I had:
[code]

Then I realized that my notices were not getting through the redirect. I did searches online to find that the error display on checkout was removed ages ago, forcing

[2020-12-31 10:10] apeksha10 commented on #27973
Thank you @tammullen
For detailed steps. You’re right about the issue being replicated only with a combination of factors you mentioned.

[2020-12-31 10:13] apeksha10 commented on #27971
Thank you @tammullen and @juliaamosova for your response.

Yes..There are some space issues from my side.

[2020-12-31 10:16] apeksha10 commented on #25892
Thank you @peterfabian,

Yes. It seems a duplicate issue

[2020-12-31 12:37] gglobalstep opened #28700 "[GlobalStep - WooCommerce 4.9 RC1] Variable product misalignment on My Account + order subtotals misalignment during checkout"
## Bug Description:
 For "Twenty-Twenty" theme and "Twenty Twenty-One" theme, Variable product appears misaligned when viewed from My Account->Orders->View page.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any

[2020-12-31 12:39] gglobalstep opened #28701 "Store Notice appears truncated"
## Bug Description:
For "Store Front", "Twenty-Twenty" and "Twenty Twenty-One" themes, Store Notice appears truncated and Dismiss button visibility is low when viewed on frontend

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reprodu

[2020-12-31 16:38] kevinruscoe commented on #28693
This makes sense. WC has both a "status" and "catalog visibility" option. But WP doesn't really care about the "catalog visibility" when it's doing it's normal search.

If you search for the word "product" the SQL ran is

[code]

and the clause that limis the resuts to the "status" is

[code]

Having a dig around in the tables, in the 'wp_terms' table, there's a term named "exclude-from-search", w

[2020-12-31 18:00] kevinruscoe commented on #28651
I think this is expected. If "Manage Stock? Enable stock management at product level" is checked, you don't have an "stock status", so setting it to "out of stock" will do nothing.

I assume you want the "Stock quantity" to be set to 0 if you bulk set "out of stock" on a stock-managed product?

[2020-12-31 18:31] kevinruscoe commented on #28651
Just made a PR to "fix" this, but I think it needs discussion. The change is a destruct one, if you bulk-edit a managed-stock product to "out of stock", it now gets its stock set to 0.

Personally, I think the "Stock status" selectbox that appears in the admin when "manage stock?" is deselected should be used all the time to override the stock level. But I think a lot of work is involved to amend

[2020-12-31 19:10] rrennick opened #28704 "Update e2e-utils readme"
The e2e-utils readme is missing some changes from work on version 0.1.2. This needs to be updated before publishing 0.1.2.

[2020-12-31 19:24] psaikali opened #28705 "Programmatically updating an existing product download URL/name does not work"
Hi,

I need to programmatically update an existing product download URL and name, so that past orders can still download the new file.

Here is my code:
[code]

The above code does not work: the download name/URL stays unchanged.

I notice that the `_downloadable_files` metadata only gets updated if the downloads array actually change. Updating an existing download item (without modifying its UID)

[2020-12-31 19:34] psaikali commented on #28705
[code]

Not saving between the hacky-update and the normal-update works too.
Still not ideal, but maybe this could help :)

[2020-12-31 20:20] kevinruscoe commented on #28705
Does your code work?

`$some_product = wc_get_product( 123 );` gets product 123 and assigns it to $some_product.

`$this->get_new_downloads()` this calls `$this->get_product()`, but ->get_product() doesn't exist.

Should `$some_product = wc_get_product( 123 );` be `$this->product = wc_get_product( 123 );`? and `$this->get_product()` be `$this->product`?

[2020-12-31 20:23] kevinruscoe commented on #28705
[code]

Does this make more sense? Unless you've heavily edited your sample.

[2020-12-31 20:36] psaikali commented on #28705
Yes, sorry, I edited my code to make it more understandable here.
(original = https://media.mosaika.fr/rRu0mjgg)

[2021-01-01 10:13] elgwaro commented on #10627
Guys, I hope I'm not too late. I'd like to prevent automatic provision of downloadable files after payment. This is because I'm using a manual payment method and have to confirm that the payment was made before they downloadable files are made available for the customer, how should i go about it?

[2021-01-01 15:12] helgatheviking opened #28707 "Create CSS variables from _variables.scss values"
**Is your feature request related to a problem? Please describe.**
It is sometimes useful to design an element in a plugin/theme and use the same color scheme as WooCommerce core. Currently you need to include the `_variables.scss` mix in and use it to compile a CSS file.

**Describe the solution you'd like**
What I think could work well (and not really change anything for existing users) would be

[2021-01-01 16:11] kevinruscoe commented on #28705
Having a dig into this, you're right. If you don't update the id (with $download->set_id()) it doesn't get updated. A simple work around is to clear the downloads just before writing to it, so when you write to it, it has nothing to compare it to.

[code]

[2021-01-01 16:24] psaikali commented on #28705
Thanks @kevinruscoe!
But I need to update the (existing) first product URL, so by setting an empty array, I will NOT be able to target it here:
![Capture 2021-01-01 à 17 24 26](https://user-images.githubusercontent.com/1606655/103442413-3846e200-4c56-11eb-81a5-734c5f61c4ac.jpg)

Right?

[2021-01-01 16:25] psaikali commented on #28705
The `->get_downloads()` would return an empty array I guess?

[2021-01-01 16:31] kevinruscoe commented on #28705
Set it to empty just before you call ->set_downloads(), so in your first example, it's the update function. So, something like

[code]

[2021-01-01 16:43] kevinruscoe commented on #28705
The problem lies at https://github.com/woocommerce/woocommerce/blob/master/includes/abstracts/abstract-wc-product.php#L1210 if checks to see if what you're updating is already a download, if it is, skip editing it.

Another weird fix is

[code]

Or, take a look at https://github.com/woocommerce/woocommerce/blob/master/includes/rest-api/Controllers/Version1/class-wc-rest-products-v1-controller.php#

[2021-01-01 18:23] psaikali commented on #28705
Thanks @kevinruscoe.
Not really sure if this is expected behavior or a bug... should I close this?
I guess that the `set_downloads()` method should work in any case IMO.

[2021-01-01 20:56] kevinruscoe commented on #28705
Leave it open, I've managed to track what's going on. I'm hoping someone else will be able to help, or clear stuff up.

Basically, when you're using `$product->get_downloads()` and loop through them and change any of the values, you're effectively writing to 'downloads' prop on the product (not entirely sure why, it almost seems like it's a reference to the products downloads prop). So, when you c

[2021-01-01 21:08] psaikali commented on #28705
Thanks for your help Kevin. Hopefully, this will gets fixed in WC core!

[2021-01-02 11:15] kevinruscoe commented on #28705
Further findings after a good nights sleep, the referece does make sense. When you use `get_downloads()` you get an array of Objects (`WC_Product_Download`) which are referencing them. So editing the underlining Object is updating the value with array. This is proved with a simple test.

[code]

The first dump returns

[code]

and the second dump returns

[code]

[2021-01-02 11:34] kevinruscoe commented on #28707
Terrific idea, no idea why this hasn't been mentioned before!

[2021-01-02 12:43] FuegoConQueso commented on #28364
I've been having the same error, though without adding any items to the cart, with Contact Forms 7 form submissions.

The quick fix I'm using is to modify class-wp-session-handler.php in woocommerce with the following function:
`	public function nonce_user_logged_out( $uid, $action ) {
	    if ($action != 'wp_rest') {
    		return $this->has_session() && $this->_customer_id ? $this->_customer_id :

[2021-01-02 15:05] helgatheviking commented on #28707
Thanks for creating the PR, @kevinruscoe !

[2021-01-02 18:35] marcuswisecaesar commented on #20277
**To Reproduce**
Steps to reproduce the behavior:

- Go to 'Appearance > Customize > WooCommerce > Checkout'
- Set the 'Phone filed' to 'Required'
- See the 'Phone field' still has the (Optional) label next to it.

**Screenshots:**
[Screencast](https://d.pr/i/J3as0f)

**What I expected:**
- I expected the Phone Number section to be made required.

[2021-01-02 22:29] willemijnsmal opened #28710 "Make 'only pick-up' possible in the sending options in woocommerce, not only in de sending zones"
Is is possible to make only 1 zone, that contains only 'pick-up'  in the sending tab in woocommerce.

However, in the sending options sub tab, there are only three options for sending:
sending adress, billing adress and force billing adress. The problem is, that now there always is a question about (or statement in the case of ' force billing adress' ) sending with these options.

Please add the o

[2021-01-03 01:39] alantygel commented on #28651
Hi @kevinruscoe ,

Thanks for the attention. Your solution makes sense for my use case. I just need to set a batch of products as outofstock, no matter if the Product has stock management active or not.

[2021-01-03 02:21] mattsummers commented on #28557
Absolutely excruciating during a new store setup. Hundreds of products and every little thing incur this popup.

Default 2020 theme with no other plugins other than WooCommerce and Jetpack, the latest version of everything.

[2021-01-03 12:46] roosites opened #28711 "Fake Order Bots"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.

Getting fake orders on multiple websites, although I am on latest version of Woocommerce.

All look like this:
This is what the orders look like:

bbbbb bbbbb
bbbbb
74 Eastbourne Rd
ROBOROUGH
EX14 5HN
United Kingdom (UK)

The email addresses and IP addresses a

[2021-01-03 13:01] abhishek-pokhriyal commented on #28711
Maybe this can help: https://developer.woocommerce.com/2020/11/05/developer-advisory-spam-orders-and-accounts-from-bots/

[2021-01-03 13:57] roosites commented on #28711
Thanks, I had already updated and still have received more fake orders.

[2021-01-04 03:12] AashikP commented on #25133
This can be replicated with [Storefront Theme](https://woocommerce.com/storefront/?aff=10486&cid=1131038) in WooCommerce 4.8

![https://d.pr/i/2HVvko+](https://d.pr/i/2HVvko+)

![https://d.pr/i/EHzQa1+](https://d.pr/i/EHzQa1+)

Note that they're both products with two variations. One has both the variations on the title and the other has one variation on the title and another as metadata.

Can be

[2021-01-04 08:27] peterfabian commented on #28315
Closing, 2021 compat has shipped.

[2021-01-04 08:27] #28315 closed

[2021-01-04 10:44] pmcpinto commented on #28568
Sounds good to me.

I'd keep it simple first and just have the generic store setup link instead of focus on specific tasks. Unless the effort required to highlight specific tasks and the current progress is minimal.

[2021-01-04 12:12] jennyhwd commented on #28711
I am also receiving these again. WP 5.6 Woo Version 4.8.0
Jenny

[2021-01-04 13:50] fylgjur commented on #28711
Reported in 26763479-hc

[2021-01-04 13:54] AmichayMiara commented on #27568
@vedanshujain

We do want this feature (returns by date range and not by order).
The reason is that the refund is tied to a date that it not the date of the order, and it affect the reports.

Currently the orders endpoint ("List all orders") retrieve array of refunds for an order, but without the refund create date (date_created).
So **easy fix** will be to add this date to the refund object that

[2021-01-04 17:06] #26959 closed

[2021-01-04 17:15] rrennick commented on #20277
@marcuswisecaesar If you can reproduce this issue on a site with only WooCommerce and a default theme active, please create a new issue, describing the steps to reproduce and provide your system status report. I'm not able to reproduce this with the current version of WC.

[2021-01-04 17:30] toya4354 opened #28714 "Products are being discounted without active coupon or active sale"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-01-04 17:31] toya4354 commented on #28714
WooCommerce is still showing a product that is discounted but there is no active coupon code or sale.

[2021-01-04 18:52] mwolter805 commented on #27504
@tammullen @vedanshujain any update on this fix?

[2021-01-04 19:43] #28308 closed

[2021-01-04 19:49] peterfabian commented on #27521
Do we plan to change this further before 4.9? Or to revert the linked PR?

[2021-01-04 20:19] peterfabian opened #28716 "Migrate CI to GitHub actions"
Migrate our CI infrastructure to GitHub Actions using Jetpack setup as a starting point.

We want to be able to build a zip artifact for each PR, which can be reused also in CI tests (and potentially other, e.g. manual ones).

Definition of done:
- reuse the [workflow from JP](https://github.com/Automattic/jetpack/tree/master/.github/workflows) as the starting point
- existing jobs/tests migrated

[2021-01-04 20:30] peterfabian opened #28717 "Spike: Analyze the build process for potential optimization"
Desired outcome: Proposal on how to best optimize the build process for WooCommerce core.

Potential areas to examine:
- text domain changes and pot file generation only for final builds (and artifacts)
- bootstrapping lerna each time
- managing dependencies
- e2e test build with Chromium only when you need it
- more granular builds
- concurrent processes in node
- a new -build script- package.jso

[2021-01-04 21:04] timmyc commented on #28568
_Not sure if this is feature creep_ - but while testing out a new store, I noticed that the Creative Mail extension is creating a wp-admin dashboard widget using an [alternative method via a meta-box](https://plugins.trac.wordpress.org/browser/creative-mail-by-constant-contact/trunk/src/managers/AdminManager.php#L434)... this results in the "widget" appearing at the top of the column, well above w

[2021-01-04 21:34] ObliviousHarmony commented on #28711
As a confidence check can you confirm that the "Allow customers to create an account during checkout" is disabled and that nothing is filtering `woocommerce_checkout_registration_enabled`? The latter would ideally be tested by disabling every plugin except for WooCommerce and switching to the Storefront theme but I'm not sure how possible that's going to be given the nature of the reported issue.

[2021-01-04 22:20] juliaamosova commented on #28714
Hi @toya4354,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2021-01-05 01:48] lemuretc commented on #27688
Open this file wc-template-functions.php located here:
/wp-content/plugins/woocommerce/includes/wc-template-functions.php

change line 1802
				/*'title'    => sprintf( __( 'Reviews (%d)', 'woocommerce' ), $product->get_review_count() ),*/
				'title'    => sprintf( __( 'Reviews (%d)', 'woocommerce' ), get_comments_number($product->get_ID())  ),

in my version woo 4.8.0

[2021-01-05 06:59] djalecc commented on #27688
Hey, thanks SOOOO much for this, it worked a charm!

I also had to change the code in

public_html/wp-content/plugins/woocommerce/templates/single-product/rating.php

LINE 29/30

//$review_count = $product->get_review_count();
$review_count = get_comments_number($product->get_ID());

To get it to put the review count next to the 'stars' in the product listing, but all now working and looking good.

[2021-01-05 07:32] cleopass opened #28718 "Invalid download link error"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
There is a bug in how download links are generated or read, causing the Invalid download link error for all downloadable products.

**Expec

[2021-01-05 08:43] #28294 closed

[2021-01-05 10:15] mmtomm opened #28720 "July 2021 e-commerce VAT Package EU tax by shipping destination"
In July 2021 new tax regulations will take place within the european union - the so called 'e-commerce VAT Package'.
[more details at the EU website](https://ec.europa.eu/taxation_customs/business/vat/modernising-vat-cross-border-ecommerce_en)

the short version: physical goods will be treated like digital goods, the VAT rate of the destination country has to be applied instead of the origin count

[2021-01-05 10:53] pmcpinto commented on #28568
@timmyc placing the widget at the top of the dashboard would definitely help. I'm assuming that the effort required to follow this approach is fairly the same, right?

[2021-01-05 11:04] vedanshujain commented on #27504
@mwolter805 We have fixed the main issue that refunded item will be restocked twice, they will now be restocked at max the amount it was deducted in the first place. This patch will be released with WC 4.9 (on 12th Jan).

The second part of the issue is tricky, when you delete the line item, I'd argue that its expected that the item will be restocked  because we infact deleted all the refund relat

[2021-01-05 11:22] DavidAnderson684 commented on #28720
Since WooCommerce has been used successfully to sell digital goods since the start of 2015, when these regulations came in to treat digital goods with such place-of-supply rules, yes, it is already capable. Various extensions exist for helping with country-specific VAT/auditing/reporting issues (e.g. orders in one currency and reporting in another, need to retain evidence for place of supply, need

[2021-01-05 11:35] thd-fox commented on #27399
For record and anyone finding this in the future I post the reason here:

There was a custom function that hooked into `woocommerce_coupons_enabled` and called `get_cart();` as follows:

[code]

The reported error claimed: "woocommerce get_cart() should not be called before wp_loaded"...

We removed this feature as it is not important anymore. Everything is working fine now with all latest plugin

[2021-01-05 12:25] Pinners27 commented on #27419
I still have the same problem... selling wood sheets cut to size and can't filter by thickness. all of my products have thickness attributes so not sure why it's not.

[2021-01-05 12:38] SiobhyB commented on #28711
Another report of this in 3616855-zen. I've asked if they could share those requested details.

[2021-01-05 12:57] craigburgess opened #28721 "WooCommerce Analytics: Products Analytics not filtering down into variations"
**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When clicking Analytics → Products → Single Product it no longer filters down to show **just** variations for that product.

**Expected

[2021-01-05 13:25] jennyhwd commented on #28711
The site that I have had an issue with is designed with a base of storefront for info.

[2021-01-05 14:26] extrapixel commented on #24948
this is definitely a bug. claiming this would be an "enhancement" renders the products own stock threshold completely useless.

[2021-01-05 14:26] TCHessen opened #28722 "Add product: Product-list is empty if there are too many variable products"
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

Describe the bug

In the backend I try to add a product to an order. I use a search term that matches on many variable-products and many vari

[2021-01-05 14:27] extrapixel commented on #24352
this is definitely a bug. claiming this would be an "enhancement" renders the products own stock threshold completely useless.

[2021-01-05 14:33] mwolter805 commented on #27504
@vedanshujain thank you for the update. Glad to hear it will be partly resolved soon.
The reason we do not restock is because of low stock. Say levels showed 10 items on hand. Someone buys all 10 on Friday and stock goes to zero when in fact levels were off and there was only 8. Now over the weekend two people join the waitlist for this item. Monday comes and orders are processed and they realize

[2021-01-05 17:41] rodrigoprimo commented on #26991
Thanks for the additional details. I'm reopening this issue so that we get an opinion from someone else from our team. I'm unsure if we should support this or not and I feel like I should have done deeper research on the subject before closing this issue.

[2021-01-05 17:55] simplicity17 commented on #28493
Any updates on this issue?

[2021-01-05 18:44] juliaamosova commented on #28724
Just moved this issue from the Storefront repository to Core as per the comments above.

[2021-01-05 20:00] #27208 closed

[2021-01-05 20:40] mklepaczewski commented on #25722
# Why it (may) happen
WooCommerce schedules one-time event `woocommerce_cancel_unpaid_orders` in two places:
- `WC_Install::create_cron_jobs()`
- `wc_format_option_hold_stock_minutes()`, which is called when hold time is changed.

Either way, this is a one-time event, and WooCommerce relies on it reinserting itself into the schedule. However, if the PHP process dies before that happens, that event

[2021-01-05 20:44] rrennick commented on #25958
In the process of making the core tests independent we will be making two functions that will
- set/reset core to the settings we have after running the setup tests
- reset core to default/new install

We can export those functions from the `e2e-utils` package which will be usable in any other project.

[2021-01-05 20:55] juliaamosova commented on #28721
Hi @craigburgess,

Thank you for reporting the issue. WooCommerce Analytics is a part of the WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-01-05 21:47] juliaamosova commented on #28700
Posting here the screenshot provided by @gglobalstep in the `Artifacts` section:

![#28700](https://user-images.githubusercontent.com/19143190/103703499-9f75d680-4f75-11eb-8b00-2b7af541aa4f.jpg)

[2021-01-05 22:03] juliaamosova commented on #28700
Thanks for reporting the issue @gglobalstep!

I can replicate it on my end in both 2020 and 2021 themes. Below is what I am seeing:

**2021 - v 1.0 (same as reported by @gglobalstep):**

![Screen Shot 2021-01-05 at 4 49 24 PM](https://user-images.githubusercontent.com/19143190/103704607-8d953300-4f77-11eb-92be-4bdf1b43f9dc.png)

**2021 - v 1.1 (latest) - note how the price is now misaligned as wel

[2021-01-05 22:08] juliaamosova commented on #28701
Sharing screenshot provided by @gglobalstep in the `Artifacts` section for quicker overview:

![#28701](https://user-images.githubusercontent.com/19143190/103705241-af42ea00-4f78-11eb-9025-d57f0a5b4a84.png)

[2021-01-05 22:15] nerrad commented on #28724
Ahh thanks Julia, I guess I assumed it had already been done  (bad assumption!)

[2021-01-05 22:19] juliaamosova commented on #28701
Thanks for reporting the issue @gglobalstep!

I tested this further on my end. What I am seeing is that the issue of the notice being truncated only happens if the notice is one very long word which is unlikely to happen:

![Screen Shot 2021-01-05 at 5 12 56 PM](https://user-images.githubusercontent.com/19143190/103705694-80794380-4f79-11eb-9339-6ece91553916.png)

If the notice is a combination of

[2021-01-05 22:21] juliaamosova commented on #28724
No worries at all @nerrad! If anything, I should thank you for closing it as it generated a notice for me to take action on it and move it to Core repo as it wasn't done before.

[2021-01-05 22:26] juliaamosova opened #28727 "Store notice `Dismiss` button appears to have low contrast in 2020 and 2021 themes"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Store notice `Dismiss` button appears to have low contrast in 2020 and 2021 themes. It was originally reported in https://github.com/wooco

[2021-01-06 00:30] colbyalbo commented on #28711
I can also report that on one of my sites, I've been experiencing the same thing. WC 4.80, WP 5.6

[2021-01-06 01:30] danielbitzer commented on #28649
Thanks @juliaamosova, great to hear this is being prioritized!

[2021-01-06 02:40] ThomazFB opened #28729 "stock_status JSON field gone from Products data at Woo 4.9.0"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When using the Jetpack Rest API Tunnel to request Products data through the `wc/v3/products` using a Woo site with the `4.9.0` version all

[2021-01-06 03:12] amcsx4 commented on #28711
Same problem. Multiple sites, different servers, all currently up to date.

[2021-01-06 06:40] kromeninja commented on #28557
Same issue here, products are saving just fine, but the "data you have entered may not be saved" popup appears also on Firefox. Even if i just visit a products edit page and try to leave without editing anything it displays this message. I also do not have YITH installed.

[2021-01-06 12:07] peterfabian commented on #25133
Hi @AashikP,

thanks for commenting here, but I tend to think yours is different. The problem described in this issue is that the variation is not identifiable from the backend/wp-admin. It seems to me, though, that in your case it's just that it's presented differently?

Or is the Beanie above in the example with 2021 theme a variable product that is missing details about the variation?

[2021-01-06 12:16] rachnawasnik opened #28733 "Error saving action: Database error. on checkout page"
Hi,
I am facing issue since past 2 days. when added a product in shopping cart and clicked submit. i was able to  see  checkout page. But when updating the shipping address, it showed me error "Error saving action: Database error." .

But today neither Frontend nor Backend is working.

URL : - https://brainwork.co.in/anwarco/
Admin url : https://brainwork.co.in/anwarco/wp-admin

Please provide us

[2021-01-06 12:29] svijany commented on #28711
same problem - multiple sites but same server, all sites up to date.

[2021-01-06 13:21] peterfabian commented on #28562
Hi @Lindstromer , can you please elaborate on what you mean by XI?

[2021-01-06 13:23] Lindstromer commented on #28562
The code for Northern Ireland seems to be XI, from the different sources I have read. 😄

https://www.avalara.com/vatlive/en/vat-news/brexit-northern-ireland-vat-and-eoro--xi--number.html

[2021-01-06 13:25] #28729 closed

[2021-01-06 15:57] gglobalstep opened #28734 "[GlobalStep - WooCommerce 4.9 RC1] "Oops!" error message is displayed at frontend even after refresh, when a page is viewed after switching WooCommerce version from backend."
## Bug Description:
"Oops!" error message is displayed at frontend even after refresh when a page is viewed after switching WooCommerce version from backend.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any tes

[2021-01-06 16:13] ninetyninew opened #28736 "Add information that price change bulk action only works for simple products (or allow it to update variation prices)"
*Is your feature request related to a problem? Please describe.**
WooCommerce has a bulk action on the dashboard products list to increase/decrease/set a price, this only works for simple products and not variations.

**Describe the solution you'd like**
Either allow the bulk action to also update variation prices or add some descriptive text so the user understands that the pricing changes only e

[2021-01-06 16:16] tammullen commented on #28562
Hi @Lindstromer
The new XI prefixed EORI number like all EORI numbers are not captured within WooCommerce Core. Usually these are handled by Plugins or custom code.

[2021-01-06 16:23] gglobalstep opened #28737 "[GlobalStep - WooCommerce 4.9 RC1] Once admin approves specific user's review, all the other reviews from that specific user gets auto-approved."
## Bug Description:
[Assuming you have approved one of the reviews from backend with name and email address say xyz, xyz@gmail.com] Reviews are automatically approved from backend when "xyz" user uses the same name and email address i.e xyz and xyz@gmail.com to review same/different product.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))

[2021-01-06 16:43] vedanshujain commented on #28685
Hi @szepeviktor We have release 4.9.0-rc.2 for WooCommerce, while package are still present in the tree, I believe this release should still fix your issue if it was working with 4.8.0 (I have used the same process as 4.8.0). Can you please check?

[2021-01-06 16:53] szepeviktor commented on #28685
Thank you.
https://github.com/woocommerce/woocommerce/tree/4.9.0-rc.2/packages

I leave the release process up to you.
Please consider a public release checklist, e.g. GitHub Wiki page.
All the best to you!

[2021-01-06 16:53] #28685 closed

[2021-01-06 16:58] shoheitanaka opened #28738 "[WC Beta Tester] Bug report for version "4.8.0""
**Describe the bug**
WooCommerce Admin translation files are not created during a new installation.
The woocommerce-ja-wc-admin-app.json file already exists and there is no problem when updating.

**To Reproduce**
Set WordPress to a language such as Japanese.
The woocommerce-ja-wc-admin-app.json file is not created when I install WooCommerce and run the setup wizard.
Not translated at the setup wi

[2021-01-06 17:52] rrennick commented on #28736
@ninetyninew This isn't practical to implement because there isn't a limit on variations. If you had 20 variable products with 500 variations each, the bulk edit would be attempting to update the price of 10,000 variations.

[2021-01-06 17:52] #28012 closed

[2021-01-06 18:06] rrennick commented on #28724
This comes from WP core functionality where a page is used as a permalink to other content.
- Use a default WP theme
- Create a `News` page
- view the page and note the presence of the `page-id-999` class
- Go to Settings -> Reading
- Set the News page as your page for posts
- view the page and note the absence of the `page-id-999` class

The WP Query object removes its `is_page` status when it is

[2021-01-06 18:45] peterfabian commented on #28562
Thanks for the explanation, and apologies, I haven't seen the VAT number rule before.
We currently don't plan to add a separate shipping zone for Northern Ireland and we have a guide posted for users in the docs which hopefully covers most use cases:
https://docs.woocommerce.com/document/ready-for-brexit-a-guide-for-woocommerce-store-owners/

In addition, there's a dev doc published on the blog: h

[2021-01-06 18:45] #28562 closed

[2021-01-06 18:50] juliaamosova commented on #28557
Hi folks! To confirm what had been [mentioned above](https://github.com/woocommerce/woocommerce/issues/28557#issuecomment-746235180) by @rodrigoprimo - this issue is a WordPress Core issue. You can follow it here: https://core.trac.wordpress.org/ticket/52038. The fix is planned to be released in WordPress 5.6.1.

[2021-01-06 19:12] dorlyjunior opened #28739 "Cannot edit product variations from 4.5.2 to 4.8.0"
After the 4.8.0 update I can not edit the product variations. Actually, this error started after 4.5.2 and was reported here:

https://wordpress.org/support/topic/cannot-edit-product-variations-after-upgrade-to-4-5-2/

But no solution was presented there.

The following error happens on the Chrome console:

meta-boxes-product-variation.min.js?ver=4.8.0:1 Uncaught TypeError: d(…).serializeJSON is n

[2021-01-06 19:51] ninetyninew commented on #28736
That's fine and we would normally point users to an import for this anyway. But I do think some instruction to the user that the option does not apply to variations would be useful (we had a user ask why their product prices didn't update when they had done the bulk action)

[2021-01-06 20:27] elizaan36 commented on #28568
Good call @timmyc. Creating a new dashboard widget that could appear at the top would be ideal if possible. The current WC status widget appears at the very bottom by default and I'm not sure new users will know it's there, or at least it would be harder to find.

Here are alternatives to the basic store setup prompt shared above that show the number of steps remaining.

![WooCommerce setup - with

[2021-01-06 21:13] rrennick opened #28741 "Stock status filter does not work in 4.9 pre-RC2"
#28731 restored the `stock_status` field in the REST API but the `stock_status` filter still does not work.

### Steps to reproduce

- Create a new product and mark it as out of stock
- Use `wp-json/wc/v3/products/?stock_status=instock` to retrieve 10 products
- Newly created product will be the first product in the result set and have a `stock_status` value of `outofstock`.

[2021-01-06 21:23] rrennick opened #28742 "Product Related IDs are in a different order in 4.9 pre-RC2"
**Describe the bug**
While smoke testing 4.9-RC2 I noticed that the `related_ids` array in the API result set were in a different order than 4.8. I switched WC versions by replacing the `woocommerce` folder on the command line. Here's a diff from my test install:

[code]

Note: Stock status is showing in the diff because it's on a different line number.

**Expected behavior**
I'd expect the same o

[2021-01-06 21:31] rrennick opened #28743 "API Orders _fields only returns listed fields"
I found this testing #28731 / smoke testing 4.9 RC2.

### Steps to reproduce

Use `/wp-json/wc/v3/orders/?_fields=date_created_gmt`

### Result set

[code]

### Expected

At a minimum, the order ID should be included in the results.

[2021-01-06 22:07] vodkacat commented on #28711
Hi. I am new to
Wp woocommerce and am trying to learn and do a site as much as I can. I am
Not live and am not finished setting up but have had this fake failed order ? I did have settings to create account during checkout which have now Unticked. Up to date version installed. What do we do with this fake orders ? Am I at any risk.  Thanks.

[2021-01-06 23:20] juliaamosova commented on #28738
Thanks for reporting the issue @shoheitanaka. I am updating the title of the issue to reflect the actual issue of WooCommerce Admin translations not working as expected.

Also here are a couple of screenshots as I was testing WC 4.9 RC2 pre-release with the Russian Language. I created a brand new JN site, set the language to Russian and then uploaded WC 4.9 RC2 zip.

Screenshots show that only som

[2021-01-06 23:33] ObliviousHarmony commented on #28711
I apologize, I should have also asked whether these orders were creating WordPress users or not. The vulnerability highlighted in the [developer advisory](https://developer.woocommerce.com/2020/11/05/developer-advisory-spam-orders-and-accounts-from-bots/) was about the fact that these malicious orders would generate users on stores that explicitly disallowed any registration.

If these orders are

[2021-01-06 23:49] timmyc commented on #28568
Well I think it could be a bit easier possibly. If we followed the Creative Mail implementation, it would be using a meta box on the dashboard, which is a bit different the the widgets. So it would be implementing an entirely new feature vs modifying the existing one. Roughly I think the work would involve:

- Implementing a new metabox using the designs above
- Adding logic to the existing Woo Da

[2021-01-07 00:29] juliaamosova commented on #28700
There is a misalignment on the checkout page as well in the 2021 theme - note how everything is centered down the products. This is in WC 4.9 RC2 pre-release:

<img width="1429" alt="Screen Shot 2021-01-06 at 7 27 08 PM" src="https://user-images.githubusercontent.com/19143190/103835869-63b23e00-5055-11eb-948a-08e75b253540.png">

[2021-01-07 00:40] colbyalbo commented on #28711
Yes, a user account is created

[2021-01-07 00:43] juliaamosova commented on #28700
Also, on the order confirmation page:

<img width="943" alt="Screen Shot 2021-01-06 at 7 42 25 PM" src="https://user-images.githubusercontent.com/19143190/103836538-61e97a00-5057-11eb-81e8-a983b910b8f7.png">

[2021-01-07 01:01] juliaamosova commented on #28737
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I am seeing the same behavior as in the video provided in the report.

This seems like a bug that can affect a lot of merchants. I am giving it a `high` priority for a fix.

[2021-01-07 02:06] vodkacat commented on #28711
Yes a user account was created. Have deleted this.   Is there anything else to do. Will
Look at plugins today.

[2021-01-07 02:35] benbodhi opened #28744 "Fatal Error from pre orders when viewing subscription events by date report"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When trying to view the subscription sales by date tab under WooCommerce > Reports with WooCommerce Pre-Orders active, there is a fatal err

[2021-01-07 02:38] juliaamosova commented on #28744
Hi @benbodhi,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the WooCommerce Pre-Orders plugin (according to the Fatal Error you shared) which is one of the paid products on our marketplace. To get further technical support for it, please contact the WooCo

[2021-01-07 02:38] #28744 closed

[2021-01-07 02:41] benbodhi commented on #28744
Ok, no worries. I just saw pre orders bug reports on here before.
I'll go through the website.

[2021-01-07 06:41] vedanshujain commented on #28743
This is not a new behavior but something that is there from the start. While I agree with the situation I am not sure if we should implement it as this could break backward compatibility. Anyone requiring ID field can anyways specify it in params like so `_fileds=id,date_created_gmt`.

[2021-01-07 06:41] #28743 closed

[2021-01-07 09:02] jrpmedia commented on #28711
Exactly the same for Me as people note above :-(

[2021-01-07 09:55] dunnyuk commented on #28711
same here multiple sites

[2021-01-07 10:54] zdenys commented on #28711
Another case in 3621358-zen. The fake customer name used was bbbb bbbb (with 4 letters `b` and I am mentioning it here for searchability).

[2021-01-07 11:15] pmcpinto commented on #28568
@timmyc it seems that we have a winner then 😄

@elizaan36 regarding the widget/meta box copy, I'm wondering if we should tweak the CTA copy to have it more focused on the end goal. Something like: "Start selling!" WDYT?

[2021-01-07 11:19] dmvrtx commented on #26599
Same situation with #3626381-zen on version 4.8.

[2021-01-07 12:07] #28741 closed

[2021-01-07 12:20] rachnawasnik opened #28746 "Error saving action: Database error."
Hello All ,

I am facing issue on checkout page. When I click placeorder button, "Error saving action : Database error"  is shown. I have attached the Screenshot and System Report.

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may b

[2021-01-07 12:42] vedanshujain commented on #28742
Thanks for reporting this issue, however am closing this because we do not guarantee order of related IDs. Just to be sure, I tested on 4.8 as well, and on every request, order of related IDs were changing.

[2021-01-07 12:42] #28742 closed

[2021-01-07 13:27] vedanshujain commented on #28700
@juliaamosova @gglobalstep I am not able to reproduce this one, everything seems fine on my end, see:

<img width="1445" alt="Screenshot 2021-01-07 at 6 54 45 PM" src="https://user-images.githubusercontent.com/7571618/103897717-f61c1580-5119-11eb-8917-b33e4f170a74.png">

Do you see any error on console when this happens? Other screens also works fine for me, perhaps I am missing something?

[2021-01-07 13:44] vedanshujain commented on #28737
Looks like this is a default behavior, also present in 4.8 and previous versions. This is controlled by setting in Settings > Discussion page, see https://d.pr/i/UxaXnG+

This setting is disabled by default, when I enable it, all new comments get pending moderation.

[2021-01-07 13:44] #28737 closed

[2021-01-07 13:52] juliaamosova commented on #28700
@vedanshujain are you using the latest version of the 2021 theme? The latest currently is 1.1.

[2021-01-07 13:54] juliaamosova commented on #28737
@vedanshujain thanks! This is one of those non-intuitive things to me. How the merchant supposed to know that. But yep, I see from your screenshot that it is indeed working as expected.

[2021-01-07 13:59] pondandlake opened #28747 "Pricing isn't changing"
A few pricings are not changing on woocommerce. It is changed on the backend in the Variation section but the website isn't registering the change. Here is an example, https://propondandlakes.com/product/ecoseries-12-hp-fountain-with-300-cord/. When I select the Stainless Protected Cord, the pricing is stuck on $3,199.99 when it should be adjusted to $4,444.99. Can this be fixed?

[2021-01-07 15:02] aziamethyst opened #28748 "All elements are locked to pro in Elementor addons panel"
**After installing Woocommerce plugin, I found all its elements locked. I have deactivated all other plugins,
I have decommented the SoapClient Extension in php.ini
But I'm not able to use its elements in my customized pages.**
`
### WordPress Environment ###

WordPress address (URL): http://localhost
Site address (URL): http://localhost
WC Version: 4.8.0
REST API Version: ✔ 4.8.0
WC Blocks Versio

[2021-01-07 15:06] aziamethyst commented on #28748
After installing Woocommerce plugin, I found all its elements locked. I have deactivated all other plugins,
I have decommented the SoapClient Extension in php.ini
But I'm not  able to use its elements in my customized pages.

[2021-01-07 15:20] dademaru opened #28749 "Brexit and Northern Ireland"
Hello,

to better handle EU VAT after Brexit, besides removing **GB** (135294d) and **IM** (Isle of Man - 60e8082) from **EU VAT zone**, it seems necessary to add **Northern Ireland** (**XI**) – even if it isn't a Member State and [VIES](https://ec.europa.eu/taxation_customs/vies/) renaming (see dropdowns) seems a bit confusing:

<img width="774" alt="Schermata 2021-01-07 alle 16 16 49" src="https

[2021-01-07 15:37] Konamiman commented on #27486
Hi @gonzalesc , the chunk of code that caused the warning was removed as part of a rollback in a maintenance release of WooCommerce. I'm thus closing this issue, but please comment if you encounter it again in a different place and I'll reopen it.

[2021-01-07 15:37] #27486 closed

[2021-01-07 16:30] SiobhyB commented on #28711
We have another report in 3628116-zen. Again, the spammers have increased the numbers of bs from three to four in this case: _bbbbb bbbbb_

[2021-01-07 16:30] jacobstow commented on #28711
Same issues here - with multiple failed orders, user accounts created all under the bbbbb bbbbb name

[2021-01-07 16:31] MachineITSvcs commented on #27794
If you let me know what information you need, I'd be more than happy to provide it. WordPress version is the latest (5.6).

[2021-01-07 16:48] roykho commented on #28257
Closing in favor of https://github.com/woocommerce/woocommerce/issues/27424 as a solution has already been suggested and in review.

[2021-01-07 16:48] #28257 closed

[2021-01-07 16:59] amcsx4 commented on #28711
I disabled create account during checkout and just received one of these orders with a newly created account.  What else should I disable to prevent potential threats? I'm tempted to take the entire site down.

[2021-01-07 17:38] zdenys commented on #28711
Another case in 3623464-zen using `bbbbb bbbbb`.

[2021-01-07 18:48] mcampal opened #28751 ""View my store" button points to site's Front Page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The "_View My Store_" button on the WooCommerce Home Screen > 'Store Management' section points to the site's _Front Page_ (root) and not '

[2021-01-07 19:54] elizaan36 commented on #28568
I like the idea of focusing on the outcome but prefer that CTA sans punctuation - first one here:
<img width="634" alt="image" src="https://user-images.githubusercontent.com/5121465/103938358-b8a29280-50ef-11eb-9647-114b10112b24.png">

[2021-01-07 20:12] ObliviousHarmony commented on #28711
With respect to the creation of an account I'd like to take a step back and better outline the exact configuration I'm asking about:

* **WordPress Registration:** Under `Settings > General > Membership` the option is off and registration is disabled.
* **WooCommerce Registration:** Under `WooCommerce > Settings > Accounts & Privacy > Account Creation` both of the options that allow customers to r

[2021-01-07 20:58] MachineITSvcs commented on #27794
It looks like the array is from the properties in the get_item_schema of ckages/woocommerce-admin/src/API/Reports/Products/Controller.php but I have no idea where it is being called (as this function exists and is called in several files in this plugin and others including Jetpack, Affiliate WP, BuddyPress, WooCommerce Subscriptions, and WooCommerce Blocks for Gutenberg, but this array only exists

[2021-01-07 21:55] kingfisher64 commented on #25895
Thank you @beckos your instructions were very helpful, clear and concise.
Fixed issue in 10 minutes because of you.
Thanks again.

[2021-01-07 22:02] GeoJunkie opened #28752 "Free shipping handling of minimum order rule changes when coupons added and prices are entered and displayed inclusive of tax"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When `Apply minimum order rule before coupon discount` is active and prices are entered inclusive of tax and displayed that way in cart and

[2021-01-08 10:23] negapo opened #28756 "Removing item from order doesn't restore stock"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In the backend admin panel, if we remove an item from an order (where the stock for that item as already being reduced) it does not restore

[2021-01-08 10:30] pmcpinto commented on #28568
👍 It looks better without the punctuation

[2021-01-08 10:38] draftspot123 opened #28757 "Many arguments in woocommerce_update_cart_validation filter"
Hi, I use the "woocommerce_update_cart_validation" filter to validate the cart , according to the documentation, the function has 4 parameters ($ passed, $ cart_item_key, $ values, $ quantity), but when I use it I get an error that the function expects 3 parameters.

this code with error too many arguments
[code]

this code ok but without argument quantity

[code]

[2021-01-08 10:46] garymurray commented on #28404
@timmyc @peterfabian who should we be pinging to follow-up on this issue? Currently it's not enabling us to track usage of new workflows created in AW accurately and means we cannot assess the overall impact of the preset workflows.

[2021-01-08 11:23] denis-evteev opened #28758 "Products are restored with draft status and no variations"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When restoring a deleted product, it comes up with a `draft` status regardless of the status it had been in prior to being deleted. Variabl

[2021-01-08 11:32] masteradhoc commented on #28758
See #28652

[2021-01-08 12:10] peterfabian commented on #28404
I think it makes sense and could be useful for us as well to track usage of REST API endpoints. I'll enqueue it for prioritization and estimation for sprint 2021.3.

[2021-01-08 12:51] denis-evteev commented on #28758
@masteradhoc, the issue you mentioned is definitely related to this one, but the PR you also mentioned is only applicable to orders, but not products.

[2021-01-08 12:55] michja opened #28759 "Billing County is copied into Shipping Address"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If your billing address has a county but shipping address doesn't then that field gets copied over and merged into the shipping address.

[2021-01-08 14:49] #27868 closed

[2021-01-08 15:04] dani-elo commented on #26743
Also reported on 3628991-zen

[2021-01-08 15:05] gglobalstep opened #42673 "Twenty Twenty-One: Price slider thumbs are not vertically aligned in Chrome and Safari"
## Bug Description:
For Twenty Twenty One theme, Limit icon for "Filter Products by Price" block appears large in size as compared to Storefront theme.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site

[2021-01-08 15:19] PaulCityhopper commented on #26203
This isnt custom related. Why do you close this issue if its still there?
A Plugin for just a simple thing like a order status? LOL!

[2021-01-08 15:55] #28582 closed

[2021-01-08 16:51] PaulCityhopper commented on #26203
I found out that...

on register_post_status (only for WooCommerce!)

**Works Not**
wc-shipment-back-to-client
wc-waiting-repair-shipment
wc-wait-repair-shipment
wc-wait-repairshipment
wc-waitrepairshipment
wc-repair-shipment
wc-shipment-back-to-client

**Works**
wc-repair-shipment
wc-quo-shipment
wc-client-shipment
wc-repair-processing
wc-repair-done
wc-waiting-answer
wc-test
wc-paid

[2021-01-08 17:00] sgoifo opened #28761 "Pay for $0 order in my account (order-pay page) is not possible anymore"
Hello to everyone!

Before the last update, it was possible to pay for orders that are $0. I know this maybe makes no sense for you but there are a few applications to this feature.

I found the problem in the file wp-content\plugins\woocommerce\includes\class-wc-form-handler.php

![image](https://user-images.githubusercontent.com/45824980/104042539-675ed580-51b9-11eb-89ad-13a40b28a959.png)

As yo

[2021-01-08 17:45] zdenys opened #28762 "WooThemes: Collapse/unfold arrow is not working as expected"
This GIF shows the annoyance I noticed:

![](https://d.pr/i/MPoDdI+)
_Link: https://d.pr/i/MPoDdI_

If you click the tiny down/up arrow-triangle to collapse/unfold the individual product keys, the entire `Licences & Keys for this order` section collapses.

Instead, it should unfold the individual product key, just like it does if you click anywhere to the left of that tiny arrow-triangle.

![](htt

[2021-01-08 18:27] juliaamosova commented on #26203
Reopening this issue so we could take a look further.

[2021-01-08 20:16] dademaru commented on #28749
Sorry, I missed the WC Brexit [article](https://developer.woocommerce.com/2021/01/06/brexit-and-changes-to-woocommerce-core-code/) and similar issues (e.g. #28562), I close this one.

[2021-01-08 20:16] #28749 closed

[2021-01-08 21:39] Danielspain22 opened #28764 "Coupons don't get eliminated after emptying cart WC 4.8 WP 5.6"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Coupons don't get eliminated after emptying cart, coupons applied before remains active for a new cart(in the same session)

**Expected b

[2021-01-09 00:57] cabrerahector commented on #28364
Not sure if that's the proper way to fix things @FuegoConQueso but it does work (or at least it seems that adding a product to the cart no longer invalidates the nonce WPP uses to communicate with the REST API) so thanks for sharing. Might serve as a temporary workaround while we wait for the WC team to come up with a proper patch.

[2021-01-09 02:46] modpen opened #28765 "Woocommerce Product Stock Not Working"
When I make an order from Add Order no stock reduce and All product page still show the initial stock qty.

[2021-01-09 05:34] cfxd opened #28766 "Infinite loop of get_refreshed_fragments() AJAX calls when using woocommerce_get_cart_contents and multiple tabs"
**Prerequisites:**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate. See related **closed** issues #18434 #10940.

**Describe the bug**
When attempting to display cart items in reverse order (so, most recently added first) via the `woocommerce_get_cart_contents` fi

[2021-01-09 08:47] FuegoConQueso commented on #28364
Yeah, @cabrerahector, it's definitely not the *right* way to fix it, but it's the only temporary work around I could find that works. Ultimately, to play nicely with other plugins, I *think* WC team would need to change their nonce_user_logged_out to either a) make all nonce actions "opt-in" (most secure, but most likely to make wc other plugins break/ insecure), b) allow nonce actions to be opted

[2021-01-09 09:43] alpha-pix commented on #11067
I think we can safely say this will NOT be included in core, since there is now a paid ($49/y!) official plugin to do it:
https://woocommerce.com/products/clone-orders/

[2021-01-09 10:21] zdenys commented on #25997
Another report in 26883514-hc.

[2021-01-09 12:51] hannahswain opened #28767 "Emoji in customer note results in customer emails not sent"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a customer adds an emoji to the customer note at checkout, transactional customer emails are not sent out. Admin emails still go out a

[2021-01-09 14:53] kevinruscoe commented on #28758
@denis-evteev Updated the PR to work with products, as the issue is the same.

[2021-01-09 14:59] kevinruscoe commented on #28761
`$order->needs_payment()` is defined at https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-order.php#L1497

It returns the filtered value of `woocommerce_order_needs_payment` which should be a bool. So, you could use this filter to return true instead of false for $0 orders.

[2021-01-09 15:04] kevinruscoe commented on #28757
What version are you on, because there's deffo 4 args https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-form-handler.php#L677

[2021-01-09 17:06] kevinkda12 opened #28768 "My customer and I aren't getting emails notification when an order is placed"
Hello! It's a pretty simple issue that I yet haven't been able to find a solution. I recently launched an online store with wordpress and woocommerce (herbolariumjadis@gmail.com). I had my first order yesterday but I didn't get any email notification and neither my customer. I've checked the woocommerce settings page and it looks fine. I did make another order to check it it was going to work but

[2021-01-09 17:28] zdenys commented on #28711
@ObliviousHarmony User from 3631433-zen is using WC 4.8 and has the account creation options unchecked:

![](https://d.pr/i/3JhYr2+)
_Link: https://d.pr/i/3JhYr2_

![](https://d.pr/i/mHOo1X+)
_Link: https://d.pr/i/mHOo1X_

They shared the SSR if it helps:

<details>
[code]
</details>

[2021-01-09 18:21] francofadini commented on #26029
Any update? I have the same issue, with importing 100 items. Any workaround?

[2021-01-09 20:39] RudyBekker opened #28769 "woocom not creating customer account if coupon applied"
hey guys, does anyone know why woocomerce is not creating an account for my customer when they use a coupon?

I am using a 100% discount coupon

The order is processed and email sent with the download file for the customer..

But its not creating an account like it does with people who are normally purchasing

Anyone have any ideas as to what the issue can be?

[2021-01-09 23:03] adegbitemorohunkeji commented on #28582
am having this error in my woocommerce setting saying " Call to a member function get() on null in /home4/biilgoup/tundelaniranfarms.com/wp-content/plugins/woocommerce/includes/data-stores/class-wc-customer-data-store-session.php:96 Stack trace: #0 /home4/biilgoup/tundelaniranfarms.com/wp-content/plugins/woocommerce/includes/class-wc-data-store.php(159): WC_Customer_Data_Store_Session->read(Object

[2021-01-10 07:23] tysonlt opened #28770 "wc_is_attribute_in_product_name filters out product addons with similar meta value"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In WC_Order_Item::get_formatted_meta_data():282:

`
// Skip items with values already in the product details area of the product name.
if (

[2021-01-10 13:10] draftspot123 commented on #28757
My Version is 4.8.0

[2021-01-10 14:01] SeynalKim commented on #27497
It seems like everyone is pointing out to each of you.

[2021-01-10 14:05] sgoifo commented on #28761
Hey @kevinruscoe , but I won't be able to use the second IF statement if $order->needs_payment() returns true. Right?
Thank you very much!

[2021-01-10 15:06] kevinruscoe commented on #28761
Ohhh, I see your problem now, and you're right it doesn't make sense. It looks like it became broke at https://github.com/woocommerce/woocommerce/commit/164b39ea428b1d72f1db81aa3e3720d736304f90?branch=164b39ea428b1d72f1db81aa3e3720d736304f90&diff=split

That first call to needs_payment() needs to be reverted because the function does too much. It

1. First checks to see if it has a certain status

[2021-01-10 15:36] negapo opened #28772 "Updating a Failed order reduces stock"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If you click "update" on an order with the "failed" status it reduces the stock of the items in the order. If you then cancel the order it

[2021-01-10 20:46] apmwebdev commented on #28711
Another report of this in 3636259-zen

[2021-01-10 21:11] juliaamosova commented on #28695
Hi @katinthehatsite,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25311. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

However, also please note that this is an issue that we won't be fixing. Please see [an explanation in the comme

[2021-01-10 21:11] #28695 closed

[2021-01-10 21:21] juliaamosova commented on #28710
Hi @willemijnsmal,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-01-10 21:29] juliaamosova commented on #28718
Hi @cleopass,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Please see the gif below showing that I can successfully download files through the `My Account` page. I am testing using 2021 theme and WooCommerce 4.8:

![](http://g.recordit.co/zYc2ulZHvB.gif)

Can you please provide the details of the erro

[2021-01-10 21:35] juliaamosova commented on #28720
Hi @mmtomm,

Thank you for posting your question. We will take a look further at the upcoming change and provide a detailed answer after.

[2021-01-10 21:38] juliaamosova commented on #28691
Hi @fiazhussain43,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-01-10 21:38] #28691 closed

[2021-01-10 21:38] juliaamosova commented on #28676
Hi @harst100,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-01-10 21:38] #28676 closed

[2021-01-10 21:39] juliaamosova commented on #28150
Hi @MDHeshop,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-01-10 21:39] #28150 closed

[2021-01-10 21:39] juliaamosova commented on #27907
Hi @oswaldAle04,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-01-10 21:39] #27907 closed

[2021-01-10 21:40] juliaamosova commented on #27811
Hi @simona6,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-01-10 21:40] #27811 closed

[2021-01-10 21:44] juliaamosova commented on #27765
Hi @olsonrebecca,

Thanks for your follow-up!

We are currently looking at fixing issues in the Analytics section only. Analytics is a part of WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-01-10 21:47] juliaamosova commented on #26975
Hi @fesarlis,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-01-10 21:49] juliaamosova commented on #28280
Hi @bwallx,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-01-10 21:49] #28280 closed

[2021-01-10 21:49] juliaamosova commented on #28095
Hi @alondrasansan,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-01-10 21:49] #28095 closed

[2021-01-10 21:54] juliaamosova commented on #28722
Hi @TCHessen,

Thank you for reporting the issue! It seems similar to https://github.com/woocommerce/woocommerce/issues/28722. We will investigate it further and will provide a proper answer after.

[2021-01-10 21:56] juliaamosova commented on #28629
Thanks for your patience @piperis1!

It seems like a similar issue had been reported which contains the steps to try to reproduce it https://github.com/woocommerce/woocommerce/issues/28722. We will investigate it further and will provide a proper answer after.

[2021-01-10 21:58] juliaamosova commented on #28733
Hi @rachnawasnik,

Thank you for raising the issue. However, you did not provide clear steps to reproduce the issue.

It will also be great if you could share your current System Status Report. You can get it by navigating to the `WooCommerce / Status` section of your site. Once there, click on the `Get system report` button and then copy it by clicking on the `Copy for support` button. Then paste

[2021-01-10 22:01] juliaamosova commented on #28739
Hi @dorlyjunior,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

In addition to that, can you please test with WooCommerce 4.8 which is the latest version to see if the issue is still

[2021-01-10 22:04] juliaamosova commented on #28746
Hi @rachnawasnik,

Thank you for raising the issue. It is a duplicate of another issue that you submitted https://github.com/woocommerce/woocommerce/issues/28733. Since this issue has a screenshot, I will close https://github.com/woocommerce/woocommerce/issues/28733 in favor of this one.

I see that you have several plugins installed and that you don’t use one of our default themes which could cau

[2021-01-10 22:05] juliaamosova commented on #28733
Hi @rachnawasnik,

Thank you for reporting the issue. However, this issue had been reported by you here as well https://github.com/woocommerce/woocommerce/issues/28746. We are closing your issue in favor of https://github.com/woocommerce/woocommerce/issues/28746. Please continue sharing your feedback there if needed.

[2021-01-10 22:05] #28733 closed

[2021-01-10 22:05] piperis1 commented on #28629
I sorted mine out, thanks

Issue is if the database server has ansi_quotes mode enabled. Removing that
sorted the issue.
Would be good to see this as part of the status tool or check WC performs.

On Sun, 10 Jan 2021, 21:56 Julia Amosova, <notifications@github.com> wrote:

[2021-01-10 22:06] juliaamosova commented on #28747
Hi @pondandlake,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2021-01-10 22:08] juliaamosova commented on #28748
Hi {username},

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

In addition to that, it will be good if you could provide a screen recording or screenshots of what you are seeing - it i

[2021-01-10 22:10] juliaamosova commented on #28751
Hi @mcampal,

Thank you for reporting the issue. Home Screen tasks are a part of WooComerc Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-01-10 22:15] juliaamosova commented on #28758
Hi @denis-evteev,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Thanks, @kevinruscoe for updating your PR to fix the product issue described in this report as well.

[2021-01-10 22:33] juliaamosova commented on #28759
Hi @michja,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. The County field value entered in the Shipping Address doesn't get copied to the Billing Address on my end.

I have tried with Billing Address to be in the US and in the UK as well. Please see details below:

**US Billing Address + UK Shipping Ad

[2021-01-10 22:56] juliaamosova commented on #28762
Hi @zdenys,

Thanks for reporting the issue! We had a similar one reported and fixed prior:

- Issue: https://github.com/woocommerce/woocommerce/issues/27923
- PR: https://github.com/woocommerce/woocommerce/pull/28351

However, the issue you are reporting seems to be needing a fix in the Software Add-On extension. Moving this issue to the Software Add-On repository so that the right team could tak

[2021-01-10 23:02] michja commented on #28759
Hi Julia,

Thanks for looking into this.
Try the other way around.
It's the billing county which gets copied into shipping.

Michael

[2021-01-10 23:02] juliaamosova commented on #28764
Hi @Danielspain22,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 4.8. Please see the gif below:

http://g.recordit.co/cBSPJABG7N.gif

I agree with you that the coupon should be removed from the cart upon removing the product from the cart.

We’re going to solve this bug as soon as possible. 

[2021-01-10 23:03] juliaamosova commented on #28765
Hi @modpen,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lackin

[2021-01-10 23:14] juliaamosova commented on #28767
Hi @hannahswain,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I am receiving a customer new order email when I am adding an emoji as a customer to my order. Please see below:

**Order without emoji:**

![o-emoji](https://user-images.githubusercontent.com/19143190/104138051-75eeed80-536f-11eb-887f-5aaaf

[2021-01-10 23:17] juliaamosova commented on #28768
Hi @kevinkda12,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2021-01-10 23:17] #28768 closed

[2021-01-10 23:18] juliaamosova commented on #28769
Hi @RudyBekker,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2021-01-10 23:18] #28769 closed

[2021-01-10 23:28] juliaamosova commented on #28772
Hi @negapo,

Thank you for reporting the issue. It had already been reported in several other issues, however. We have a fix for it in place https://github.com/woocommerce/woocommerce/pull/28620 - it will be included in WooCommerce 4.9 which is planned to be released on Tuesday, January 12th.

If you'd like to test with us, you can get a pre-release version (WC 4.9 RC2) here: https://github.com/wo

[2021-01-10 23:30] juliaamosova commented on #28756
Hi @negapo,

Thank you for reporting the issue. Similar answer to what I provided in another report of yours: https://github.com/woocommerce/woocommerce/issues/28772.

It had already been reported in several other issues. We have a fix for it in place https://github.com/woocommerce/woocommerce/pull/28620 - it will be included in WooCommerce 4.9 which is planned to be released on Tuesday, January 1

[2021-01-11 00:24] TCHessen commented on #28722
Ok, I see. If it helps I'd make a video or would make a websession to show you the issue.

[2021-01-11 00:52] ntindicator opened #28773 "WP CLI wc product_variation list limited to single Product Id"
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The WP CLI command `wp wc product_variation list` produces an error

This limits listing variations to a single variable product. The option of specifying a product_id is redundant because specifying product_id is a requirement, and using other filters such as `--category_id` wo

[2021-01-11 01:19] khryshchuk opened #28774 "Bug with space password"
Description: I can change my password with space (xxx123, where x = space), but then I can not change this password to another and I get the error "Your current password is incorrect.".
How to fix this bug (Video) [https://drive.google.com/file/d/1RGsq1Q5B6TdeR6SeSzquvjvCzXcRmuAu/view?usp=sharing](url)

[2021-01-11 01:44] lytesaber opened #28775 "Composer install error when using custom vendor-dir config in composer.json"
Description:
When configuring composer.json with custom vendor-dir configuration for example "content/vendor" composer install throws the following error when generating autoload files:

An error occurred while generating the autoloader files:
The project's composer.json or composer environment set a non-default vendor directory.
The default composer vendor directory must be used.

This looks like

[2021-01-11 02:33] adegbitemorohunkeji opened #28776 "i cant add new shipping method. its not coming each time i click add new shipping method. bellow the woocomemerce settings page i see this error.... "Call to a member function get() on null in""
Please report issues for the following features directly to their respective repositories.

WooCommerce Admin: https://github.com/woocommerce/woocommerce-admin

WooCommerce Gutenberg Products Blocks: https://github.com/woocommerce/woocommerce-gutenberg-products-block

Action Scheduler: https://github.com/woocommerce/action-scheduler

WooCommerce REST API Docs: https://github.com/woocommerce/woocom

[2021-01-11 05:19] mredodos opened #28777 "Review in multiple shortcode product page not work properly"
when i have multiple product page for example 3 product on the same page,  the review section appear as select and not as star.  only on one page appear the star but multiply for the number of the product

https://ibb.co/cgLmZ2c
https://ibb.co/8dcLSVH

[2021-01-11 07:47] Luminus commented on #28767
I've just tested this and I'm not able to reproduce it either. The customer email is sent and the emojis come through just fine.

I tested both on a local test site and a Pressable site to make sure I had consistent results regardless of infrastructure.

![Order Notes With Emoji](https://user-images.githubusercontent.com/248077/104155471-3233cc80-53df-11eb-8587-ab57a640eda4.jpg)

I use [Rocket](ht

[2021-01-11 08:16] fesarlis commented on #26975
Sorry for long delay. Personal issues.
Here are the two above URLs in their initial form:

https://mydomain.gr/επεξεργαστής/amd/
https://mydomain.gr/product-category/refurbished/?pa_επεξεργαστής=amd

The Greek word  shown above means 'processor'. It is the attribute name (and slug).

I have checked again and the issue persists. The initial URLs I've sent you were like this because almost all brows

[2021-01-11 10:56] delcorp opened #28779 "New order notification email sometimes displays a (ex. VAT) mention, sometimes not"
Hi, I'm using the latest Woocommerce plugin, and I've a bug reported by my accounting team in the "New customer order" email that is sent to us, administrators of the shop.

Sometimes it displays next to the price of the first item in the table an "(ex. VAT)" mention, and sometimes not. I really can't find the option that would fix that. Otherwise, this is just something visual, everything in the

[2021-01-11 11:51] hannahswain commented on #28767
Thanks for testing, @juliaamosova and @Luminus.

I tested this on a Pressable site and copy/pasted an emoji from here:
https://emojipedia.org/smiling-face-with-smiling-eyes/

I was using Firefox on MacOS.

Exactly, this should either work or not work. I'll also follow up with our customer in the ticket (#3634816-zen) to confirm how they added the emoji.

[2021-01-11 12:13] delcorp commented on #28779
Ok, still trying to understand, the funniest part of the thing is that on the first screencap the first item is displayed with no VAT, and the second one with VAT, otherwise the total amount is correct, but with a mix of with and without VAT prices within the same order. All of these products are set as "taxable"...

[2021-01-11 12:39] apeksha10 commented on #28758
Hello,

The above same issue is replicated with a Simple product type too.

[2021-01-11 12:39] raoulalwani opened #28780 "REST API - getting all variants in a bulk request, instead of individually via the product?"
Hi all,

Adding an integration for WooCommerce to our app, sellers are using our system to manage all their inventory.

I'm using the REST API in Ruby as documented here: https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products

We need to retrieve the list of products + variations (including details) for our sellers. I can get the products with minimal API calls by using the tot

[2021-01-11 13:07] simplicity17 commented on #28493
@juliaamosova I added additional details as requested but have not heard anything back. I need to launch this site but can't with this major issue. Please see information above.

[2021-01-11 13:22] #28493 closed

[2021-01-11 13:23] simplicity17 commented on #28493
PowerPack plugin was the culprit! Even if you don't use their login/register widgets, if you do not set the Login and My Account pages in their plugin settings, everything breaks. Going to report it now but just wanted to put this information here for anyone else having this issue!

[2021-01-11 13:52] faridmovsumov commented on #20912
Unfortunately, the current solution causing a lot of problems. We having performance issues due to this query and it is always the top heaviest query in the system. I looking for a way to find an alternative solution. If someone facing the same problem please share your experience.

[2021-01-11 13:54] gglobalstep commented on #28764
This issue relates to https://github.com/woocommerce/woocommerce/issues/27060

[2021-01-11 13:58] pondandlake commented on #28747
Hi Julia,

The bug is within the variation section in the Products section of
Wordpress. We have 3 different variations for Ecoseries 1/2 HP Founain with
300', however the third variation price, which is the Stainless Protected
Cord, is not changing on the website when it is selected from the downbar
but you do see the correct pricing on the backend. Please see the
screenshots that I have attached

[2021-01-11 14:03] docandtee commented on #24432
Hello.
I just wanted to check on the status of this please? We have recently had the same issue as reported above whereby user generated content has been deleted without notice. We have had to turn this feature off for now, which is not ideal.
Many thanks.

[2021-01-11 14:27] wphelpme opened #28781 "Country code for Northern Ireland"

[2021-01-11 14:34] wphelpme opened #28782 "Northern Ireland Issue"
Please add country code for Northern Ireland because there is a vat and tax only for Northern Ireland after brexit.

Best

[2021-01-11 14:35] #28781 closed

[2021-01-11 14:38] stuartduff commented on #28777
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When adding two instances of the [product_page id=""] shortcode to the same page the last product on the page shows the reviews stars as

[2021-01-11 15:05] gglobalstep opened #32270 "[GlobalStep - WooCommerce 4.9 RC 2] Randomly user receives "There is been critical error message on this website" when user completes onboarding wizard and tries to import product csv file from "Finish Setup" section"
## Bug Description:
Randomly user receives "There is been critical error message on this website" when user completes on boarding wizard and tries to import product csv file from "Finish Setup" section

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Firefox(Version 83.0)(64-bit)
               Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site usin

[2021-01-11 15:11] gglobalstep opened #28783 "[GlobalStep - WooCommerce 4.9 RC 2][IE 11] For Twenty Twenty One theme, radio buttons are not visible on Checkout page."
## Bug Description:
For Twenty Twenty One theme, radio buttons are not visible on Checkout page.

## Environment:
Windows 10
Browser: IE11(Version:11.1139.18362.0)

 ## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Select Twenty Twenty One theme.
1. Add Some products.
1. Go to frontend.
1.

[2021-01-11 15:14] gglobalstep opened #28784 "[GlobalStep - WooCommerce 4.9 RC 2][IE 11] For Twenty Twenty One theme, "Add to Cart" button labels are not visible on Shop Page"
## Bug Description:
For Twenty Twenty One theme, "Add to Cart" button labels are not visible on Shop Page

## Environment:
Windows 10
Browser: IE11(Version:11.1139.18362.0)

 ## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Select Twenty Twenty One theme.
1. Add Some products.
1. Go to fro

[2021-01-11 15:15] mredodos commented on #28777
another problem related to mutiple short code is the notification apper on top only of first short code, is ok BUT not. i need to pure on top of the entire page not on thop of the page generate from the first short code.

[2021-01-11 15:15] EdithAllison opened #28785 "Post-Brexit UK tax (VAT) rules for non-UK businesses (consignment over / below £135)"
Hi Woo team! I'm a developer working with Woo shops and am trying to understand the post-Brexit VAT rules for non-UK shops selling to UK consumers. Looking at the guidance, tax (VAT) collection appears to depend on whether the consignment value is over or below £135 (this site has a handy chart. included below: [https://www.accountancyeurope.eu/publications/vat-customs-duty-and-brexit-prepare-now/

[2021-01-11 15:20] peterfabian commented on #28238
As per: https://github.com/github/renaming#creating-a-seamless-move-for-existing-repositories-

So we can either wait a bit more until GH rolls this out, or do it ourselves.

[2021-01-11 15:31] EdithAllison commented on #28720
To add: the €10000 threshold only applies within the EU. For non-EU businesses, there is no no threshold, a single sale is enough to trigger VAT liability and the need to register with the EU for VAT (non-union registration). But on the plus side, it's sufficient to register with 1 EU country (who will then process the VAT return & distribute the VAT to the other countries).

[2021-01-11 15:39] alchemizt commented on #27419
I'm having this issue on the latest version (4.8.0). The woocommerce_product_filter_category filter works fine. The woocommerce_product_filter_attribute doesn't work, it displays nothing. I have globally setup attributes such as color and background. I really need to let users filter by these attributes because that's what makes the website useful

[2021-01-11 15:41] webdados commented on #28562
What about EU countries (Portugal, Spain, France...) selling goods to end customers Northern Ireland? As far as the NI protocol states https://www.nidirect.gov.uk/articles/eu-exit-and-northern-ireland-protocol it seems that VAT should still be charged for NI (but not anymore for the rest of UK). How can we define different tax rules? Is it enough to use "GB" as country code and then "BT*" as postc

[2021-01-11 15:55] juliaamosova commented on #26975
Thanks for the additional details @fesarlis! I am reopening this issue so that we could take a look further.

[2021-01-11 16:52] beaulebens commented on #28238
If they're now putting a timeline of this month on it, then I'm fine waiting for them.

[2021-01-11 16:55] rrennick commented on #28238
@peterfabian Thanks for the reference.

[2021-01-11 17:56] juliaamosova commented on #28784
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Tested using Browserstack with Windows 10 and EI 11:

![shop_ei](https://user-images.githubusercontent.com/19143190/104219300-ef3c1e00-540b-11eb-83ed-154bdca1d9cb.jpg)

It is still possible to add the product to the cart and when you hover over the button, the text `Ad

[2021-01-11 18:00] juliaamosova commented on #28783
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Tested using Browserstack with Windows 10 and IE 11:

![checkout](https://user-images.githubusercontent.com/19143190/104219966-ce27fd00-540c-11eb-8275-610461a18005.jpg)

Note that it is still possible to place an order. The user will need to click on the name of the pa

[2021-01-11 18:11] juliaamosova opened #28788 "[WC 4.9 RC2] IE 11: Product image is too large on the Shop Page and on the Cart Page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Product image is too large on the Shop Page and on the Cart Page when using IE 11 and Windows 10 + 2021 theme v 1.1.

**Expected behavior*

[2021-01-11 18:12] juliaamosova commented on #28788
The issue seems to be caused by this WP Core fix: https://core.trac.wordpress.org/ticket/52040.

[2021-01-11 19:12] peterfabian commented on #28452
We've agreed, for the sake of consistency, that we won't add any specific style for 2021, as this was never done before and we prefer not to increase the support burden for extensions, thus no styling updates.

[2021-01-11 19:12] #28452 closed

[2021-01-11 19:13] peterfabian opened #28789 "2021 enhancements"
Some remaining defects after the previous work on 2021 compat:

Product & Catalog Pages: The sale badge should likely have a color based off the CSS vars.
Everywhere: There are many notices that are white boxes with a green bar at the top and green buttons, regardless of theme colors. Examples include empty order & download list my-account pages, as well as empty carts.

Also, new v1.1 of 2021 has

[2021-01-11 19:14] peterfabian commented on #27766
Closing, as the majority of items are fixed/done. Remaining enhancements logged separately as https://github.com/woocommerce/woocommerce/issues/28789. Thank you all!

[2021-01-11 19:14] #27766 closed

[2021-01-11 21:19] AzhulCobalto commented on #27419
so sad woocommerce keeps having this same issue almost on every update, I'm seriously thinking changing to shopify and forget about this issues.

[2021-01-11 21:22] TheSkyPadGuy commented on #27688
Thanks djalecc!  Live-saving advice. Nothing worse than having new reviews set the count to zero.

[2021-01-11 21:44] juliaamosova commented on #27419
Reopening this issue due to the recent feedback in order for us to take a look further.

[2021-01-11 22:15] tammullen commented on #28629
Thanks for the update @piperis1

As your issue went away with disabling `ANSI_QUOTES` It looks like the issue you are having is related to https://github.com/woocommerce/woocommerce/issues/28417

I'm closing this for now as I don't think any further action is needed. Please feel free to comment on here in case we missed something. We’d be happy to take another look.

[2021-01-11 22:15] #28629 closed

[2021-01-11 22:21] #28727 closed

[2021-01-11 22:29] tammullen commented on #28722
Hi @TCHessen

There is known issue reported earlier in https://github.com/woocommerce/woocommerce/issues/28417 and fixed in https://github.com/woocommerce/woocommerce/pull/28468 which causes no results to appear when searching for products in the add product modal. The fix will be included in WooCommerce 4.9.0.

This might be what is causing the behaviour you are seeing although it sounds like you

[2021-01-11 23:00] tammullen commented on #28493
Thanks @simplicity17 for the update!

[2021-01-11 23:48] juliaamosova commented on #28700
We decided to address this in WooCommerce 5.0. Changing the milestone.

[2021-01-12 00:28] lnorton89 commented on #28557
This bug is extremely annoying.

[2021-01-12 00:30] TCHessen commented on #28722
I tested everything without any other plugins.

I think that the other problems are not compareable to mine. Here you can see two queries createted within the search_product method and their results. I added post_type to show the problem and changed limit to 130 (normally 30).

What you can see is that the first query returns more than 30 rows with post_type=="product". So normally with a limit of

[2021-01-12 00:50] TCHessen commented on #28722
Here is the status report:

`
### WordPress Environment ###

WordPress address (URL): https://www.snowpaws.de/shop
Site address (URL): https://www.snowpaws.de/shop
WC Version: 4.8.0
REST API Version: ✔ 4.8.0
WC Blocks Version: ✔ 4.2.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.7.3
Log Directory Writable: ✔
WP Version: 5.6
WP Multisite: ✔
WP Memory Limit: 1 GB
WP Debug Mode: –
WP Cron:

[2021-01-12 01:01] TCHessen commented on #28722
If you want me to add a pull request, please let me know. I have tested the order clause change and it works perfectly.

[2021-01-12 02:42] toya4354 commented on #28714
Describe the bug
Coupon code is showing up but there is no active coupon code.

Expected behavior
Once the code expired from that particular product, it shouldn't allow it to be discounted any longer. Not to mention, there is no coupon code.

Actual behavior
The coupon code shows up when particular items are selected although the code is expired and there is no coupon code.

Steps to reproduce the

[2021-01-12 02:45] toya4354 commented on #28788
I also was wondering why the product image is so big. The thumbnail doesn't seem to resize either so only parts of the photo shows up.

[2021-01-12 02:48] gwmbox commented on #28557
Having the issue as well ... anyone know the ETA for a fix?

[2021-01-12 02:52] ryanr14 commented on #25706
I believe I've come across this with another customer 3627983-zen, just confirming they did import their products via a CSV.

[2021-01-12 03:23] #28714 closed

[2021-01-12 04:34] mattsummers commented on #28557
Thanks Julia, I didn't notice that this was confirmed. Got frustrated one evening and commented without reading carefully. Will wait patiently for a fix from Wordpress.

[2021-01-12 05:44] apeksha10 opened #28791 "[WC 4.9 RC2] Quantity field is too large on the cart page."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
[WC 4.9 RC2] Quantity field is too large on the cart page.

**Expected behavior**
I expect the quantity field should be a reasonable size on the

[2021-01-12 05:58] apeksha10 opened #28792 "[WC 4.9 RC2] Product price is not aligned with other charges."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
[WC 4.9 RC2] Product price is not aligned with other charges.

**Expected behavior**
Product price should be aligned with other charges.

**Step

[2021-01-12 09:28] Paperone80 commented on #28582
Hi,

same issue here with the Astra Theme.

Please fix asap! Thanks.

[2021-01-12 09:56] arenonana opened #28793 "js change event not triggered on ".woocommerce-variation-price""
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
I used this code but it's not working :

[code]

[2021-01-12 10:01] DavidAnderson684 commented on #28785
I've attemped to implement this feature in https://www.simbahosting.co.uk/s3/product/woocommerce-eu-vat-compliance/ - feedback from more merchants who actually have to use those rules would be useful.

[2021-01-12 10:02] DavidAnderson684 commented on #28782
Northern Ireland is identifiable by postcode, and WooCommerce already allows you to set taxes on a region/postcode basis, so what is it that is missing?

[2021-01-12 10:44] EdithAllison commented on #28782
I had the same query and wasn't aware that tax by postcode is possible, thank you for confirming! Northern Ireland postcodes all start with "BT", so this looks fine. Source: [https://en.wikipedia.org/wiki/BT_postcode_area](https://en.wikipedia.org/wiki/BT_postcode_area). A wildcard like "BT*" should do it.

[2021-01-12 10:46] ricardokuster opened #28794 "clearfix needed after RELATED PRODUCTS section"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Need a **clearfix** after the **RELATED PRODUCTS** section. The title floats between the image and the descriptions.

[2021-01-12 11:02] tammullen commented on #28782
Hi @wphelpme

If you are referring to the the new XI prefixed EORI number it like all EORI numbers are not captured within WooCommerce Core. Usually these are handled by Plugins or custom code.
We currently don't plan to add a separate shipping zone for Northern Ireland and we have a guide posted for users in the docs which hopefully covers most use cases:
https://docs.woocommerce.com/document/rea

[2021-01-12 11:04] tammullen commented on #28562
Hi @webdados

Yes you can use `BT*` as a postcode wildcard. More info on setting these up is here https://docs.woocommerce.com/document/setting-up-taxes-in-woocommerce/#section-12

You can also see an example earlier in this issue where I have used it for shipping zones.

In case you haven't seen it we also have a guide posted for users in the docs which hopefully covers most use cases:
https://do

[2021-01-12 11:22] AashikP commented on #25133
That is correct, yes. One variation is displayed within the title, and the other is an attribute underneath it. Glad to create a new issue unless this is not considered a bug.

No, the beanie in the screenshot is a simple product.

[2021-01-12 14:25] juliaamosova commented on #28792
Hi @apeksha10,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/28700. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-01-12 14:25] #28792 closed

[2021-01-12 14:27] juliaamosova commented on #28791
Screenshot provided by @apeksha10:

![Screen Shot 2021-01-12 at 9 27 19 AM](https://user-images.githubusercontent.com/19143190/104327083-69c27780-54b8-11eb-83c0-f5ab0a6de35a.png)

[2021-01-12 14:28] juliaamosova commented on #28791
Hi @apeksha10,

Thanks for raising the issue!

I expect the quantity field should be a reasonable size on the cart page.

Can you please clarify what do you mean by "reasonable size"? Do you think it is too long and should be shorter?

I wonder if this is expected styling in the 2021 theme.

[2021-01-12 15:08] rrennick opened #28797 "E2E Built In Readme needs to be updated after the new e2e-environment package is released"
- [ ] Add non-standard folder example to folder mapping
- [ ] Update instructions to use `npx wc-e2e` where applicable

[2021-01-12 15:16] bernattorras opened #28798 "Can't import 'Pending Review' products"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When you export products that have the `Pending Review` status, they have the `-1` value in their status field, but when you import them ag

[2021-01-12 15:47] SiobhyB opened #28800 "Personal Data Retention for Refunded Orders"
**Describe the solution you'd like**

If you navigate to _WooCommerce_ > _Settings_ > _Accounts & Privacy_ > _Personal data retention_, there is currently no option for how long to retain details associated with refunded orders. This was brought up by a customer in [this forum post](https://wordpress.org/support/topic/remove-personal-data-gdpr-for-refunded-orders/) who would like a way to automate

[2021-01-12 16:59] jessLundie commented on #28767
The customer in 3634816-zen reported back that they added the emoji via her Android Samsung S10e - she did not use a shortcut. It was just selecting it from her phone keyboard.

I was able to replicate this on my Pressable site with the current version of WooCommerce by copy/pasting the same emoji that @hannahswain did. Additionally, in my test no admin order emails were logged in WP Mail Logging

[2021-01-12 17:46] baba43 commented on #25720
This issue should definitely not have low priority!

In our case, this issue crashes communication with our product management software, causing all related orders to fail.

[2021-01-12 17:58] jessLundie commented on #28767
This customer just got back to us with the results of a test I requested - the emails are sending, they're just not being logged in WP Mail Logging when they have an emoji.

I think we can close this! I'll reach out to the MailPoet team directly and let them know what we've found on WP Mail Logging :)

[2021-01-12 18:13] Camilo517 commented on #28783
Why do you spend time making internet explorer compatible? Who uses that browser in 2021?

[2021-01-12 18:31] juliaamosova commented on #28783
@Camilo517 while the usage of IE is low among our customers, we are still a part of the WordPress ecosystem. [WordPress currently provides support for `Internet Explorer >= 11`](https://make.wordpress.org/core/handbook/best-practices/browser-support/) which is why we are also making WooCommerce IE compatible.

[2021-01-12 18:37] juliaamosova commented on #25720
Thanks for your follow-ups and feedback everyone! I am increasing the priority of this issue to `high` as it looks like this bag has a high impact. Thanks for your patience while we are working on the fix.

[2021-01-12 18:37] Camilo517 commented on #27524
Some news? It is something very simple to implement and it will help a lot

[2021-01-12 19:06] rrennick commented on #28557
I'm locking this issue from further comment. As noted above this is a [**WordPress core** issue](https://core.trac.wordpress.org/ticket/52038). The fix is planned to be released in WordPress 5.6.1.

[2021-01-12 20:20] tammullen commented on #28774
Hi @khryshchuk

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2021-01-12 20:21] tammullen commented on #28776
Hi @adegbitemorohunkeji

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; i

[2021-01-12 20:25] tammullen commented on #28779
Hi @delcorp

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide](ht

[2021-01-12 20:25] #28779 closed

[2021-01-12 20:28] tammullen commented on #28793
Hi @arenonana

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help fur

[2021-01-12 20:28] #28793 closed

[2021-01-12 20:29] tammullen commented on #28794
Hi @ricardokuster

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2021-01-12 20:29] biasga opened #28802 "Showing client address without the delivery option - confusing the user"
I sell some products only in my city using the WooCommerce plugin, and I don't give the option to delivery the products, the clients must come and pick the order in my house.

When they are in the cart page, they see the "delivery field" where they would choose the delivery option and see the delivery fees, but there is any option for that, just the option for "pick up at the place", but the clien

[2021-01-12 20:39] roykho commented on #28601
Closed via https://github.com/woocommerce/woocommerce/pull/28607

[2021-01-12 20:39] #28601 closed

[2021-01-12 20:42] tammullen commented on #28802
Hi @biasga

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review the documentation for Local Pickup h

[2021-01-12 20:42] #28802 closed

[2021-01-12 21:07] tammullen commented on #28785
Hi @EdithAllison

For now we have a section on this in our guide we posted for users in the docs https://docs.woocommerce.com/document/ready-for-brexit-a-guide-for-woocommerce-store-owners/#salesvat

We are also considering if there are any other steps we can take to help with this and will update users if we do.

[2021-01-12 21:22] masteradhoc commented on #28800
@SiobhyB Currently i see the following statues are missing: Refunded, On-Hold, Processing
While i think it makes sense to not offer this for processing i think for on-hold and also refunded woocommerce should offer this also.

[2021-01-12 21:27] dorlyjunior commented on #28739
Here we go:

**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Can't edit a product variation.

**Expected behavior**
Be able to edit the variation data.

**Actual behavior**
This error

[2021-01-12 23:23] erikamercier opened #28804 "How randomize products display on a page using Divi theme and Woocommerce"
I am doing a shop page using Divi theme and I am trying to display randomly products from a certain category.

The problem I have is that the theme does not have options to randomize the way the articles are displaying on the shop page.

I also tried a woocommerce shortcode:

[products limit="30" columns="3" category="cardigans-sweaters" cat_operator="AND" orderby="rand" order="rand"]

It worked w

[2021-01-13 01:26] h4baine commented on #28582
I have this same issue with the Asta theme.

2021-01-13T01:05:53+00:00 CRITICAL Uncaught Error: Call to a member function get() on null in /home/evolvey5/public_html/weddingbusinessceosummit.com/wp-content/plugins/woocommerce/includes/data-stores/class-wc-customer-data-store-session.php:96
Stack trace:
#0 /home/evolvey5/public_html/weddingbusinessceosummit.com/wp-content/plugins/woocommerce/includ

[2021-01-13 01:33] alchemizt commented on #27419
When I use the plugin Themify – WooCommerce Product Filter, the attributes filter works fine

[2021-01-13 05:08] apeksha10 commented on #28792
Hi @juliaamosova,

Oh so sorry actually while searching the above issues I didn't found it. Hence raised.
but anyway thank you for letting me know

[2021-01-13 05:08] apeksha10 commented on #28791
Hi @juliaamosova,

Yes.. I think it should be shorter

you're right, the coupon entry field should be longer

[2021-01-13 07:27] khryshchuk commented on #28774
This error occurs on pure WordPress and WooCommerce.
You can set a new password 'xxx123' (where x = space), but - you dont can rechange this password again!
Also, you can set a new password with only spaces ('xxxxxx', where x = space), but - you dont can rechange this password again and can't Sign In on site!

[2021-01-13 07:47] hannahswain commented on #28767
Thanks for digging into this and catching that it's actually a problem with Mail Logging, @jess!

[2021-01-13 09:44] starypop opened #28805 "Missing semicolon in JS handling check function"
After changing the function to determine JS handling to an encapsulated form in this commit https://github.com/woocommerce/woocommerce/commit/c2ab6a488d809854b737be7f19c8185075bc38a1 I've got problems with plugins that are merging and minifying scripts.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x]

[2021-01-13 11:57] apeksha10 commented on #28791
Like a storefront theme, the cart page quantity field size is width: 3.70. So I would suggest the same size should with Twenty Twenty One theme

![](https://content.screencast.com/users/ApekshaShah/folders/Capture/media/eb468b4a-82d5-4117-ab86-9b2d8d445295/LWR_Recording.png)

[2021-01-13 12:18] webdados opened #28806 "Keep minor and major version announcements consistent"
On the [WooCommerce 4.9.0 release post](https://developer.woocommerce.com/2021/01/12/woocommerce-4-9-0-released/) we can read:

But when updating from 4.8.0 to 4.9.0 we get this warning on WP Admin:

![image](https://user-images.githubusercontent.com/6853605/104451441-72d74580-5599-11eb-927c-36a3a255eea6.png)

I understand this is triggered probably by the fact the second part of the version numbe

[2021-01-13 12:42] tammullen commented on #28806
Hi @webdados

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end.

I don't see this warning when updating from 4.8.0 to 4.9.0 on Plugins > Installed Plugins.
![Screen Recording 2021-01-13 at 12 31 46 2021-01-13 12_33_38](https://user-images.githubusercontent.com/24649833/104453706-b8e1d880-559c-11eb-9e83-0bc5d29ad04e.gif)

I also don't se

[2021-01-13 12:51] webdados commented on #28806
I think this happens if you also have installed and activated a 3rd party plugin that doesn't announce compatibility with the new version.

[2021-01-13 15:26] gglobalstep opened #28807 "[GlobalStep - WooCommerce 4.9] [GlobalStep - WooCommerce 4.9] -1 value is displayed upon tapping "Grant Access" button without entering product name in "Downloadable product permissions""
## Bug Description:
-1 value is displayed upon tapping "Grant Access" button without entering product name in "Downloadable product permissions"

## Environment:
Windows 10, Mac 10.15.7 (19H114).
Browser: Chrome(Version 87.0.4280.88 (64-bit))
               Firefox(Version 83.0)(64-bit)
               Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site using Jurassic Ni

[2021-01-13 15:31] gglobalstep opened #28808 "[GlobalStep - WooCommerce 4.9] Downloadable file name appears misaligned on "Order Received" and "Downloads" Page"
## Bug Description:
Downloadable file name appears misaligned on "Order Received" and "Downloads" Page

## Environment:
Windows 10, Mac 10.15.7 (19H114).
Browser: Chrome(Version 87.0.4280.88 (64-bit))
               Firefox(Version 83.0)(64-bit)
               Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required

[2021-01-13 15:52] juliaamosova commented on #28767
Thanks for getting to the bottom of it @jessLundie! I am closing this issue then. However, please feel free to comment here again in case we missed something so we could take a look further.

[2021-01-13 15:52] #28767 closed

[2021-01-13 17:31] TCHessen commented on #28722
Just to let you know, 4.9.0 does not fix the issue, but the modified order-clause still fixes it.

[2021-01-13 18:18] ossiecar commented on #28582
Hello, I am having the same issue as above. Please fix this asap.

2020-12-18T00:13:25+00:00 CRITICAL Uncaught Error: Call to a member function get() on null in /wordpress/plugins/woocommerce/4.8.0/includes/data-stores/class-wc-customer-data-store-session.php:96
Stack trace:
#0 /wordpress/plugins/woocommerce/4.8.0/includes/class-wc-data-store.php(159): WC_Customer_Data_Store_Session->read(Object(W

[2021-01-13 19:49] #28697 closed

[2021-01-13 21:54] #28652 closed

[2021-01-14 00:23] psealock commented on #28696
Team Gezora to take this one.

[2021-01-14 00:46] psealock commented on #28696
# Settings Explorations

@joelclimbsthings, @joshuatf and I did some initial thinking about what aspects require more investigation and potentially a try-branch to flush out some areas of needed work or hidden gotchas.

Please tick off an area described below that you'd like to deep dive into.

## Gutenberg Components

- [ ] Audit the components to identify where WP components may fall short. Usin

[2021-01-14 07:04] SiR-DanieL opened #28810 "Refund Reason Length Should Be Limited"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-01-14 07:42] mmtomm commented on #28720
Here are some additional informations from the EU website about the 'EU VAT e-commerce rules' which come into effect in july 2021
[English PDF Explanatory Notes on VAT e-commerce rules](https://ec.europa.eu/taxation_customs/sites/taxation/files/vatecommerceexplanatory_28102020_en.pdf)
[German PDF Erläuterungen zu den Mehrwertsteuervorschriften für den elektronischen Geschäftsverkehr](https://ec.eu

[2021-01-14 08:58] stormit opened #28811 "product-image.php template"
Hello,

I recommend that you add a hook after **figure.woocommerce-product-gallery__wrapper** in the **product-image.php** template. Because developers may want to add some things below (over above with absolute) product images, such as: product label, video button, ....

If we add them to the figure tag. When images scroll (select a thumbnail), they will also be scrolled and hidden.

The recommen

[2021-01-14 11:04] Jorsana opened #28812 "Bank account details are not in the order email sent to the customer"
Hello,
I have the bank transfer payment option.
My problem:
Bank account details show only on the Order Received page,
but **NOT in the order email** sent to the customer, like here bellow:
https://docs.woocommerce.com/document/bacs/#prettyPhoto
![Zajeta slika](https://user-images.githubusercontent.com/77439433/104582181-db88f580-565f-11eb-8dc8-3a18edf003e8.JPG)
Appreciate your help.
Jorsana
jorsa

[2021-01-14 11:12] ZabethVanWyk opened #28813 "Woocommerce Version 4.9.0"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-01-14 11:32] Novy85 commented on #24184
@agasparotti I have the same problem, I can't solve it and it is really a serious problem for electronic invoicing (I'm italian) that rejects all the invoices that I always have to manually modify, trying to keep the same total. Or I have to do a credit note every time to correct, it's a really annoying thing and my customers (for whom I manage their e-commerce) obviously start to get impatient.
I

[2021-01-14 12:04] peterfabian commented on #25133
I don't think we'd consider this a bug. Afaik this is how it's worked for quite some time (which is not to say that inconsistency is good, but it's a quite low prio enhancement).

[2021-01-14 13:24] raoulalwani commented on #28780
Temporary solution for anyone else that comes across this issue: Use the legacy API and the following code:

[code]

I don't like mixing the two APIs, but this is a stop-gap solution until a better endpoint is released in the next version. This is still preferable to pinging the server hundreds or thousands of times to get all the variation details if you need to grab the full product listings.

[2021-01-14 13:24] #28780 closed

[2021-01-14 13:41] #28682 closed

[2021-01-14 14:19] gglobalstep opened #28815 "[GlobalStep - WooCommerce 4.9][Mac] "Number of items per page" field appears truncated for Pagination section on "Plugins->Screen Options" page."
## Bug Description:
"Number of items per page" field appears truncated for Pagination section on "Plugins->Screen Options" page.

## Environment:
Mac 10.15.7 (19H114)
Safari: v13.1.1 (14609.2.9.1.3)
macOS High Sierra v10.13.6
Safari: v13.1.2(13609.3.5.1.5)
Chrome: v85.0.4183.83

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Co

[2021-01-14 14:25] gglobalstep opened #28816 "[GlobalStep - WooCommerce 4.9][Mac] "Number of items per page" field appears truncated for Pagination section on "Plugins->Screen Options" page."
## Bug Description:
"Number of items per page" field appears truncated for Pagination section on "Plugins->Screen Options" page.

## Environment:
Mac 10.15.7 (19H114)
Safari: v13.1.1 (14609.2.9.1.3)
macOS High Sierra v10.13.6
Safari: v13.1.2(13609.3.5.1.5)
Chrome: v85.0.4183.83

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Co

[2021-01-14 14:33] rrennick commented on #28816
@gglobalstep Thanks for reporting the issue. I found this issue persisted after deactivating WooCommerce. Can you confirm the issue exists without WC active?

[2021-01-14 14:51] gglobalstep opened #28817 "[GlobalStep - WooCommerce 4.9] [IE 11] Website fails to display "Increase/Decrease" icon for all the fields at front-end and back-end."
## Bug Description:
Website fails to display "Increase/Decrease" icon for all the fields at front-end and back-end.

## Environment:
Windows 10
Browser: IE11(version 11.1139.18362.0)

 ## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Add Some products.
1. Go to frontend.
1. Add some produc

[2021-01-14 15:18] Danielspain22 commented on #28806
I can confirm what webdados says. It happened to me too,and the culprit was a plugin(who works ok with 4.9, simply don't have this info confirmed).

[2021-01-14 15:36] #27791 closed

[2021-01-14 16:40] Joey-yeoJ opened #28819 "[WooCommerce 4.9] Variations unable to be edited once product published"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-01-14 17:22] scruffian opened #28821 "Button CSS leaking into themes"
**Describe the bug**
[The CSS that handles buttons](https://github.com/woocommerce/woocommerce/blob/ab4a46e32e338cbf33094ab26144744a021a21a9/assets/css/woocommerce.scss#L690
) is quite greedy and impacts all the buttons on the page, not just those inside the woocommerce area.

You can see an example of this on the Spearhead theme:

Regular menu:
<img width="243" alt="Screenshot 2021-01-14 at 17 16

[2021-01-14 18:05] #27789 closed

[2021-01-14 18:34] samuelfarrell opened #28822 "WooCommerce Price Slider Breaks Customizer Preview"
WooCommerce loads the wc-price-slider incorrectly for customizer previews. I suggest moving the enqueue of this script to the proper 'customize_preview_init' action.  The offending code is line 52-54 on /includes/widgets/class-wc-widget-price-filter.php.

![IMAGE 2021-01-14 12:34:05](https://user-images.githubusercontent.com/4390699/104633463-cb274980-5664-11eb-8070-6662b91a326c.jpg)
![IMAGE 2021-

[2021-01-14 20:33] roykho commented on #28758
Closed via https://github.com/woocommerce/woocommerce/pull/28690

[2021-01-14 20:33] #28758 closed

[2021-01-14 21:03] roykho commented on #28761
Hmm I am not sure if that is issue because OP said this started happening after the latest update but the commit https://github.com/woocommerce/woocommerce/commit/164b39ea428b1d72f1db81aa3e3720d736304f90?branch=164b39ea428b1d72f1db81aa3e3720d736304f90&diff=split happened a long while ago?

[2021-01-14 21:16] trgino commented on #18425
wc_address_i18n_params

[2021-01-14 21:22] Joey-yeoJ commented on #28819
**Update:** Bug is linked to language in Wordpress. My website is in French when the bug occurs but when I put my Wordpress settings to English (United States), then the bug suddenly disappear and can see variations again.

So there is something to fix with language pack I think.

[2021-01-14 22:33] sgoifo commented on #28761
@kevinruscoe thank you for taking the time to look at this, I'll follow your recommendation to try to solve this issue!
@roykho actually I'm not sure if this started after the last update, I actually updated the plugin after several months, and the customization I installed on a customer website stopped working due to this. (I need to make the website's users pay for $0 orders in some cases).

Tha

[2021-01-14 22:37] tammullen commented on #28806
Thanks @webdados and @Danielspain22 for the extra information, I can now reproduce it.

![Screenshot 2021-01-14 at 22 31 36](https://user-images.githubusercontent.com/24649833/104657479-fb98d300-56b8-11eb-9f8c-456f07f4b3a5.png)
![Screenshot_2021-01-14_at_22_31_49](https://user-images.githubusercontent.com/24649833/104657483-fd629680-56b8-11eb-9591-3060c69c928d.png)

We’re going to solve this bug a

[2021-01-14 22:42] tammullen commented on #28804
Hi @erikamercier

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help

[2021-01-14 22:42] #28804 closed

[2021-01-15 00:58] tobiakiode opened #28824 "Woocommerce Catalogue ID different from ID shown on FB"
Please, I need help; I have an wordpress e-commerce which I have been troubleshooting for days now, because the Catalogue ID on WP appears different from one on facebook. I will be really blessed by your guidance. How can I resolve this, please?
![Screen Shot 2021-01-15 at 01 18 58](https://user-images.githubusercontent.com/6032389/104668356-d5caf880-56cf-11eb-9ff4-98e4bebf9447.png)

[2021-01-15 03:03] AashikP opened #28826 "Inconsistency in displaying attributes"
**Is your feature request related to a problem? Please describe.**

Not all the attributes are displayed in the same format. For example, Hoodie displays both the attributes in the title, while the T-Shirt displays color in the title, but size as a separate attribute

![https://d.pr/i/2HVvko+](https://d.pr/i/2HVvko+)

![https://d.pr/i/EHzQa1+](https://d.pr/i/EHzQa1+)

Note that they're both produc

[2021-01-15 03:04] AashikP commented on #25133
Fair point @peterfabian. Posted an enhancement request here https://github.com/woocommerce/woocommerce/issues/28826

[2021-01-15 05:18] ruedada commented on #13358
Didn't result the update, the service responds OK 200, but the data is the same always

[2021-01-15 09:26] djalecc commented on #27688
Just a heads up people. IF you update woo to the latest 4.9.0 it will overwrite the above AND STOP WORKING, so you have to apply the fix again, really guys with such an easy fix already given to you on a plate, this should have been in the latest update... losing the will to live with woo... just lazy.

[2021-01-15 11:47] Goldenlion2020 commented on #25524
Today I updated WooCommerce to 4.9.0 but unfortunately no solution for this problem...
I someone still working on this problem? Will this be solved in the near future?

[2021-01-15 11:52] aheckler commented on #28810
I reported this to the Stripe repo a few days ago:

https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1446

And submitted a PR for a fix here:

https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1447

[2021-01-15 14:27] #28707 closed

[2021-01-15 15:42] zalmpie commented on #25895
Thanks @beckos, but would you please clarify on 'activate Action Scheduler 3.1.4 and let it do its thing'?

Action Scheduler shows this: Pending is empty when clicked on.
What should I do?

![image](https://user-images.githubusercontent.com/77500669/104747152-75c86680-5750-11eb-884a-5f5dfc7f51f0.png)
thanks

[2021-01-15 17:27] #28644 closed

[2021-01-15 21:06] MC-Rider commented on #27419
Hi all — I just updated to v4.9 and tested it by creating a new Simple Product, a new Variable Product (with color and size variations), plus a new v4.9 Test Brand attribute. Everything seems to be working as expected for me. Attributes are appearing on store pages and in filters and from what I can tell are functioning as expected. If anything unusual happens I will follow up here. Cheers.

[2021-01-15 21:45] mfs-mindsize commented on #28821
Have you tried Storefront? And any other theme? Same results? Or different? Perhaps this is a bug in the Spearhead theme, and not WC?

[2021-01-15 21:49] mfs-mindsize commented on #28813
Hi @ZabethVanWyk - What browser are you using? What operating system? Out of curiosity, have you tried a different browser on that OS, does it still happen?

Note: I'm not suggesting changing browser is a solution :) Only trying to score the problem a little bit more :)

[2021-01-15 22:10] mfs-mindsize commented on #28811
Hi @stormit - Maybe you're not aware of it, but you can add your own custom templates to child theme and WC will use those instead of the standard built-in WC templates. That is, you can easily do the customization you're suggesting.

[](https://www.dreamhost.com/wordpress/how-to-customize-woocommerce-child-theme/)

FYI - Over-ride templates can also be added via plugin but I can't find a good lin

[2021-01-15 23:15] CarlosSanMartin commented on #28582
El mismo problema, algún indicio ?

Fatal error: Uncaught Error: Call to a member function get() on null in /public_html/wp-content/plugins/woocommerce/includes/data-stores/class-wc-customer-data-store-session.php:96 Stack trace:

#0/public_html/wp-content/plugins/woocommerce/includes/class-wc-data-store.php(159): WC_Customer_Data_Store_Session->read(Object(WC_Customer))

#1/public_html/wp-content

[2021-01-15 23:21] #28297 closed

[2021-01-15 23:26] claudiosanches commented on #28297
This one is probably an issue with the translation, probably someone saved a string without any placeholder, that's why is causing this issue, and by just changing the string will return in English correctly like we entered on WooCommerce. I don't think we need to fix all strings.

[2021-01-15 23:27] claudiosanches commented on #28297
I just reverted #28401 because this isn't fix anything, it really need to be fixed on the translation.

[2021-01-16 11:36] hdocampo commented on #28582
Hi, as @CarlosSanMartin said, the issue is still there after updating WC to 4.9.0
I have Wordpress 5.4.4,

`Fatal error: Uncaught Error: Call to a member function get() on null in /home/e195051/public_html/sitio_new2020/wp-content/plugins/woocommerce/includes/data-stores/class-wc-customer-data-store-session.php:96 Stack trace: #0 /home/e195051/public_html/sitio_new2020/wp-content/plugins/woocommer

[2021-01-16 14:47] erikdemarco opened #28829 "Product field wont be saved if we input the field programatically using javascript"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have se

[2021-01-16 18:11] danos5d5 opened #28837 "Accesibility errors WCAG 2 using https://wave.webaim.org/ validator"
## Describe the bug
Clearly describe the issue. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

Isolating the problem (mark completed items with an [x]):
- [x ] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x ] I can reproduce