[2020-08-04 07:13] grigorijurasov commented on #26994
It sounds like Javascript-based parts cannot be translated with the usual tools anymore. This is a different kind of task:

* https://pascalbirchler.com/internationalization-in-wordpress-5-0/

* https://make.wordpress.org/core/2018/11/09/new-javascript-i18n-support-in-wordpress/

* https://developer.wordpress.org/apis/handbook/internationalization/#internationalizing-javascript

[2020-08-04 07:14] jacoswan opened #27215 "CLI: Using wp wc tax_class ID not listed and delete doesn't work"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
`wp wc tax_class list --user=1` lists only the _slug_ and _name_ of tax classes, no ID.

To delete a tax_class the command is listed like s

[2020-08-04 07:31] Spreeuw commented on #27077
Thanks for testing. I did test with only WC + storefront. I think it is the type of coupon that makes the difference.
The line referred to in the error is this one:
https://github.com/woocommerce/woocommerce/blob/78eb69d30d8781078a08bc775dc9010ceafd4451/includes/class-wc-coupon.php#L864

Which is part of the method `is_valid_for_product`. This only performs that check if it is a product type disco

[2020-08-04 12:36] JJ-Coding commented on #16009
Exactly this. I just spent 30 minutes looking through various snippets but not a single one seems to be able to do this. Or if it's included in the template file of the product image that'd be great (/templates/single-product/product-image.php).

[2020-08-04 12:43] gevcen commented on #26887
Dear @juliaamosova ,

I'd like to re-open this ticket. You requested from me to check with default theme but I already did it, you haven't properly read my initial ticket where I provided a screencast (https://sgevcen.tinytake.com/tt/NDQxMjIzOF8xMzk0MzgxNQ) with no optimizations, default theme and WooCommerce alone.

Please re-open this ticket and investigate further.
Thanks

[2020-08-04 12:47] Aljullu opened #27218 "Grouped products quantity is stored as string instead of integer in Cart session"
**Steps to reproduce the bug:**
1. Go to a grouped product page, e.g. `Logo Collection` from sample product data.
2. Pick a quantity for the `Hoodie with Logo` and add it to the cart.
3. Go to a single product page, e.g. `Album` from sample product data.
4. Pick a quantity and add it to the cart.
5. Now, go to the `woocommerce_sessions` table in the database and check the product quantities of tha

[2020-08-04 12:50] gevcen opened #27220 "Cyprus & North-Cyprus are not properly distinguished in WooCommerce"
Dear,

Please check this video where you can see that Cyprus & North-Cyprus are not distinguishable in WooCommerce shipping zones.

After you add Cyprus in the General selling countries, if you try to select it in the Shipping settings zone, you see two Cyprus line with no distinction in the name (like North/South Korea for instance).

https://sgevcen.tinytake.com/tt/NDUwNTM3MF8xNDI3NDgzOA (if vid

[2020-08-04 13:23] pabipaballo opened #27221 "I cant see my products in my shop anymore"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-08-04 13:31] #27211 closed

[2020-08-04 13:40] juliaamosova commented on #27006
Thanks for retesting @SiR-DanieL!

[2020-08-04 13:46] juliaamosova commented on #26887
Thanks for your follow-up @gevcen. Reopening this thread so that we could take a look further.

[2020-08-04 13:55] juliaamosova commented on #27213
Hi @abhayp-cedcoss,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27167. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

We are planning to release WooCommerce 4.3.2 before WordPress 5.5 is released in order to fix this issue.

[2020-08-04 13:55] #27213 closed

[2020-08-04 14:00] #27221 closed

[2020-08-04 14:12] jbeales opened #27222 "Product Gallery no longer displays for Variable Products"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
A Variable Product with images in the Product Gallery, but not in the Product Image, or for individual variations, displays no images on th

[2020-08-04 14:30] juliaamosova commented on #27220
Hi @gevcen,

Thanks for raising the issue. I can indeed see that we have `Cyprus` listed twice:

![Screen Shot 2020-08-04 at 10 24 43 AM](https://user-images.githubusercontent.com/19143190/89305539-c2a20000-d63c-11ea-9c50-a5cc9b91726d.png)

I doubt we have it in order to make a distinction between Cyprus and North Cyprus. Likely it is a bug and we need to keep just one `Cyprus`.

In general, we ad

[2020-08-04 15:33] GeoJunkie commented on #27026
Encountered in 12342636-hc

![](https://d.pr/i/0EkQxw+)
Image Link: https://d.pr/i/0EkQxw

I checked and confirmed that this was caused by a rounding error in the taxes:

![](https://d.pr/i/AJOAU5+)
Image Link: https://d.pr/i/AJOAU5

[2020-08-04 16:28] juliaamosova commented on #27138
Noting that [my comment](https://github.com/woocommerce/woocommerce/issues/27138#issuecomment-665748216) on this issue includes the report that contains notices from other plugins as well.

<hr>

In particular, Jetpack notices:

`Notice: register_rest_route was called incorrectly. The REST API route definition for jetpack/v4/jitm is missing the required permission_callback argument. For REST API r

[2020-08-04 16:41] teledirigido opened #27223 "Woocommerce Documentation missing"
Something had happened now and the Woocommerce documentation is no longer available:

Eg:
https://docs.woocommerce.com/wc-apidocs/class-WC_Order.html
https://docs.woocommerce.com/wc-apidocs/class-WC_Product.html
https://docs.woocommerce.com/wc-apidocs/class-WC_Product_Variation.html
https://docs.woocommerce.com/wc-apidocs/class-WC_Abstract_Legacy_Product.html
https://docs.woocommerce.com/wc-apidoc

[2020-08-04 17:09] samratpatoyari opened #27224 "When I upload or install woocommerce pluugin my wordpress site is crashed"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-08-04 17:10] samratpatoyari commented on #27224
When I install woocommerce pluugin or upload woocommerce pluugin my dashboard is crashed. Please resolve it

[2020-08-04 20:01] juliaamosova commented on #27224
Hi @samratpatoyari,

Thanks for reporting and sorry to hear about the trouble. There aren't enough details for us to understand what could be going on. If you have access to server error logs, can you please check there to see if there are any errors? If you don't have access, the hosting company where your site is being hosted should be able to provide you with the logs.

Also, it will be great t

[2020-08-04 20:34] johndcoy opened #27225 "Tax not applied to shipping for manual orders without products."
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When only a shipping item is added to a manual order, taxes aren't applied after adding tax and recalculating totals.

**Expected behavior*

[2020-08-04 20:58] juliaamosova commented on #27223
Hi @teledirigido,

Thanks for the ping - we are currently investigating the issue.

In the meantime, the docs can be found here: https://docs.woocommerce.com/wc-apidocs/index.html

For example, https://docs.woocommerce.com/wc-apidocs/class-WC_Order.html can now be accessed at https://docs.woocommerce.com/wc-apidocs/classes/WC-Order.html.

[2020-08-04 21:05] claudiosanches commented on #27223
I'm working on include some rewrite rules to fix it.
Closing since it isn't a bug on WooCommerce, and the links still exists there.

[2020-08-04 21:05] #27223 closed

[2020-08-04 21:15] juliaamosova commented on #27222
Hi @jbeales,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I have a variable product without main product image and without variation images but with images added to the product gallery:

![img1](https://user-images.githubusercontent.com/19143190/89345672-d4ec6000-d675-11ea-9019-99fc70305d33.jpg)

But no product gallery images are

[2020-08-04 21:16] juliaamosova commented on #27222
@jbeales thanks for this as well. Would you please indeed open a separate issue for that as it seems different and will need to be fixed separately.

[2020-08-04 21:24] simonporter007 opened #27226 "New reserved stock feature conflicting with Measurement Price Calculator"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Hello team! Simon from SkyVerge here.

In our [Measurement Price Calculator](https://woocommerce.com/products/measurement-price-calculator/

[2020-08-04 21:25] juliaamosova commented on #27225
Hi @johndcoy,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Screencast to document my testing:

![](http://g.recordit.co/JqvGUkGfr0.gif)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our

[2020-08-04 22:00] patrick-leb commented on #26474
thanks @CGlingener, your fix worked perfectly.

Is there any drawbacks to remove the `no-store` here?

[2020-08-05 05:55] mrleemon opened #27229 ""it's" should be "its""
A series of translatable strings with a typo have been added to Glotpress.
"it's" should be "its"

[code]

[2020-08-05 06:37] CGlingener commented on #26474
@patrick-leb I can't think of any drawback as the fix just targets the preview page. For all other pages the no-store will still be active.

My guess is that woocommerce is adding the `no-store` to make sure the frontend products data is always up do date and nothing cached or maybe some reason related to the shopping cart. As they did not expect any harm by adding the no-store they simply applied

[2020-08-05 10:33] gevcen opened #27231 "Geolocation fails to assign correct zip-code based on shipping costs + update zip-code fails to refresh shipping costs unless you change & revert the country"
Assume the following case :

- Geolocation (without caching) is enabled
- Shipping settings as in the attachment below

![image](https://user-images.githubusercontent.com/51261962/89401962-67444080-d716-11ea-8acb-ab253476bfc6.png)

a) For the capital of my country, I'm shipping at a reduced rate of only 1.75€. For this, I defined the zip codes that are applicable.
b) For the rest of my country, I'

[2020-08-05 10:37] gevcen commented on #27231
My solution would be to answer to this question : How can force a shipping refresh on zip code change ?

[2020-08-05 11:09] altrovideo commented on #27138
Hi, this is the error on my WP/WC test install:
`Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'auto_update_woocommerce' not found or invalid function name in /var/www/wp.test/wp-includes/class-wp-hook.php on line 287`

WC 4.4.0-rc.1 Installed Version
WP 5.5-RC2-48740
WC Beta Tester 2.0.1

The public function auto_update_woocommerce is on row n 345 of file cl

[2020-08-05 11:39] FunkyCss commented on #18395
Hallo , Any update on this one ? Today i tested first time a website with some Gutenberg Blocks of Woocommerce , i noticed only Woocommerce was using Jquery , not even my other 14 plugins! when i disabled Woo , i noticed 200kb of Js fly away! This too much i guess.

[2020-08-05 12:34] patrick-leb commented on #26474
It's really not Woo's fault here, clearly Chrome isn't handling it right. Who knows when Chrome is going to fix that though...

[2020-08-05 13:05] jessepearson opened #27233 "High number of pages in WordPress can cause WooCommerce settings pages not to load"
Sorry for not using the template, but I do not believe this fits well into it.

The issue is that if there are a high number of pages (like 30k+) on a WordPress website, this can cause issues with accessing pages like WooCommerce > Settings > Advanced that include a drop down list of all pages. The customer in 3167881-zen asked if these fields would be able to be made into search fields, similar t

[2020-08-05 13:21] Helpguy01 commented on #27233
Hi,

Just to add to the above. I have managed to easily resolve this issue with other plugin providers. Instead of using a page dropdown menu the box was replaced with a "textbox" where the "Page ID" could be entered in. This completely resolved the issue for websites with many pages. The last remaning plugin to have this issue now is Woocommerce which is not compatible due to this issue for many

[2020-08-05 13:41] juliaamosova commented on #27229
Hi @mrleemon,

Thank you for reporting the issue. These strings are a part of the WooCommerce Product Blocks feature of WooCommerce which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2020-08-05 14:16] juliaamosova commented on #27138
Hi @altrovideo,

Thanks for reporting, however, this is a different issue. Can you please open a new bug report for that one? Thanks!

[2020-08-05 14:19] altrovideo opened #27234 "Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'auto_update_woocommerce' not found or invalid function name in /var/www/wp.test/wp-includes/class-wp-hook.php on line 287"
Hi, this is the error on my WP/WC test install:
Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'auto_update_woocommerce' not found or invalid function name in /var/www/wp.test/wp-includes/class-wp-hook.php on line 287

WC 4.4.0-rc.1 Installed Version
WP 5.5-RC2-48740
WC Beta Tester 2.0.1

The public function auto_update_woocommerce is on row n 345 of file clas

[2020-08-05 15:20] editocom opened #27235 "Non stop ALTER TABLE queries with WooCommerce 4.3.x (was ok with 4.2.0)"
Hello,

Before the bug appearing, I was using MySQL 5.6 and Wordpress 5.4.2 with WooCommerce 4.2.0.

- On June 24th, I update WooCommerce from 4.2.0 to 4.2.2

A database error was reported at this time with the following query:
[code]

Although there was this reported error, the website and Woocommerce continued to function with no apparent issues.

- On July 9th, I updated WooCommerce from 4.2.2

[2020-08-05 17:27] juliaamosova commented on #27226
Hi @simonporter007,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I have a 0.5 kg of product in stock:

![mpc1](https://user-images.githubusercontent.com/19143190/89444188-50eeb280-d71f-11ea-8573-b7cb5163b6a1.jpg)

Yet, I am getting an error that there is not enough stock available when trying to checkout 0.25 kg of the product:

[2020-08-05 17:33] FireFly9 commented on #27155
My client is the one having the issue.  I submitted it to WooCommerce, who in turn submitted it here.  It will be important to get this resolved at some point in the near future since they lose taxes on any order from this location.
I am not a developer but am simply following this ticket.
Glen - FireFlyWebs
Thanks

[2020-08-05 18:05] juliaamosova commented on #27138
Noting here that `wpcom` notices no longer appear in WC 4.4 rc1. The remaining notices that do appear (if the user installs all the recommended extensions during onboarding) are the MailChimp related notices. Reported the issue here: https://github.com/mailchimp/mc-woocommerce/issues/680

[2020-08-05 19:16] peterfabian commented on #27138
Just noting here that we plan to fix this (and other issues related to WP 5.5) in 4.3.2 before WP 5.5 final gets out next week.

[2020-08-05 19:35] juliaamosova commented on #27231
Hi @gevcen,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only. Your questions are best suited for support, not for GitHub. In the future, please try one of the channels below before posting here:

- If you are a paying customer of WooCommerce, contact WooCommerce support by [opening a ticket or starting a liv

[2020-08-05 19:45] juliaamosova commented on #27233
Hi @jessepearson,

Thanks for opening the issue and thanks @Helpguy01 for providing feedback. I can definitely see how it will be a good improvement for larger stores to add the search bar in places such as `WooCommerce > Settings > Advanced` and other places (where controlled by WooCommerce). I'll bring it up to the team to see if this is something that we can implement and provide with an update

[2020-08-05 19:49] gevcen opened #27237 "Why Melilla & Ceuta (Spain) are available as separate territories but not Canarias ?"
Dear,

I noticed Melilla & Ceuta are available in WooCommerce list of countries and considered as if they were a separate terrority but why isn't Canarias Island then?

Thanks

[2020-08-05 19:50] #27237 closed

[2020-08-05 19:54] bighippo999 opened #27238 "wc_get_orders returns all orders if the status being searched isn't present."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
we use the code
`      $args = array(
          'status' => 'gf-rexp',
          'limit' => 10,
          'orderby' => 'date',
          'o

[2020-08-05 20:47] juliaamosova commented on #27174
Hi @cvagalia,

As a part of this repository’s maintenance, I am closing this issue due to inactivity.

Moreover, this type of issue is best suited for support. If you are still experiencing it, please open the ticker or start a live chat with one of our WooCommerce Technical Support Engineers:

https://woocommerce.com/contact-us/.

We use GitHub for reporting confirmed bugs that can be reproduced

[2020-08-05 20:47] #27174 closed

[2020-08-05 20:55] juliaamosova commented on #27097
Hi @Prateekjain2003,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-05 20:55] #27097 closed

[2020-08-05 20:57] juliaamosova commented on #27091
Hi @wallswonders,

Can you please let us know if you are still experiencing the issue? If so, it will be great if you could perform a theme and plugins conflict on your site.

To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.

If the issue is resolved with the d

[2020-08-05 21:00] juliaamosova commented on #27076
Hi @caribouman, please let us know if the issue still present for you and if you can provide more details? It will also be great if you could make sure to test for a theme and plugins conflict in case the error is still there.

To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). T

[2020-08-05 21:08] juliaamosova commented on #26467
Hi @akozer33, can you please let us know if the issue is still present for you?

[2020-08-05 22:04] endiirama commented on #15656
@mikejolley I'm having the same issue as @manikandan-vins mentioned 3years ago.
Some variations are being displayed inside product name. I think the variations and all products are imported from the previous site. Is there a quickfix about this ?
![image](https://user-images.githubusercontent.com/69277870/89468711-59bfa280-d778-11ea-8d90-48c7611e8283.png)

[2020-08-06 00:42] Camilo517 commented on #25046
Any news?

[2020-08-06 06:34] Helpguy01 commented on #27233
Thanks @juliaamosova , this will a great help. Just to give you an idea, if you do replicate the issue on a large enough scale (enough pages). It will literally crash the backend and corrupt the files of the Woocommerce core plugin after a simple action such as clicking the page list dropdown at WooCommerce > Settings > Advanced  making the Woo Core unusable even after deleting all other plugins a

[2020-08-06 07:34] peterfabian opened #27243 "Ensure WC is ready for jQuery-migrate drop in WP 5.5"
[WP 5.5 is dropping jQuery migrate](https://core.trac.wordpress.org/ticket/37110#comment:139), so we need to check our code to make sure we're ready.

[2020-08-06 09:37] jgreys commented on #26819
This bug is due to the new filter "set_screen_option_{$option}", the backward compatibility was not ensured in WordPress 5.4.2

https://github.com/WordPress/WordPress/blob/dda0ccdd18f6532481406cabede19ae2ed1f575d/wp-admin/includes/misc.php#L730

Backward compatibility is now ensured on WordPress 5.5

https://github.com/WordPress/WordPress/blob/7ac100615f606144c365a08e89d27f8d62667b3c/wp-admin/incl

[2020-08-06 09:40] moumitahalder opened #27245 "Trying to get property 'ID' , Trying to get property 'post_title' , Trying to get property 'post_name"
**Prerequisites (mark completed items with an [x]):**
- [x] I have disabled all the plugins except WooCommerce
- [x] I have kept only default theme Twenty SIxtten active

**Describe the bug**
I am getting this error :

Notice: Trying to get property 'ID' of non-object in /home/wcmpdemos/public_html/moumita/wp-content/plugins/woocommerce/includes/class-wc-query.php on line 323

Notice: Trying to ge

[2020-08-06 09:55] peterfabian commented on #27238
Thanks @bighippo999 . This seems to be an unfortunate side effect of how WP_Query works with unknown post statuses. We have a related PR that could help with this issue: https://github.com/woocommerce/woocommerce/pull/27119

[2020-08-06 09:57] peterfabian commented on #27238
I'm assigning high priority, because this seems like an important problem to fix, although not a lot of people seem to be affected (based on the reports so far).

[2020-08-06 10:04] peterfabian commented on #27245
Hi @moumitahalder

Can you please share your [System status report](https://docs.woocommerce.com/document/how-to-review-your-woocommerce-system-status/) with us so we better understand what versions of WordPress/WooCommerce other plugins you use?

I have a suspicion that maybe you haven't gone through the setup wizard or your shop page is not set correctly. Can you please check what you see in Woo

[2020-08-06 10:08] peterfabian commented on #27208
(Asked about the priority on the p2 post, so no prio label for now)

[2020-08-06 10:50] DavidAnderson684 commented on #27243
It's WP 5.6 that's updating jQuery to v3; in 5.5 what's happening is the removal of jQuery migrate - https://make.wordpress.org/core/2020/06/29/updating-jquery-version-shipped-with-wordpress/

[2020-08-06 11:16] akozer33 commented on #26467
Yes it is

On Wed, Aug 5, 2020 at 4:09 PM Julia Amosova <notifications@github.com>
wrote:

--
Aubrey Kozer
Media/Operations Coordinator
The Flexible Dieting Lifestyle

[2020-08-06 11:49] gglobalstep opened #27246 "[GlobalStep - WooCommerce 4.4 RC 1] Products fails to merge upon creating order manually."
## Bug Description:
While creating an order manually when the user adds the same product multiple times in the same order with different quantity. The product fails to merge.

## Environment:
**Windows 10, MAC**
**Browser:** Chrome(Version 83.0.4103.61 (64-bit))
                 Firefox(Version 77.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps to Reproduce:
1. Create a site using J

[2020-08-06 12:29] jbeales commented on #27222
I did some more testing to prep a second ticket found out more:
- this isn't confined to Variable products. It looks like any product with gallery images but no Product image has this problem, (only the placeholder image is displayed).
- If the Product image is added everything works as expected, including the Zoom & Lightbox on Variation images. I suspect that most of the gallery functionality is

[2020-08-06 12:42] jbeales opened #27247 "Zoom & Lightbox Not Present for Variation Images if no Main Product Image Set"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Zoom and Lightbox functionality is missing from Variation images if no main Product Image is set.

**Expected behavior**
I expect that wh

[2020-08-06 16:27] pirex360 commented on #21100
I have the same issue.... saving products using WC_Product::save() method takes about 15 seconds per product in my case.
Note that i also save the images... about 4 images per product and wordpress is a lot slow to integrate a image in his library.

Without images my overall average is 3 seconds per product.

I too need to optimize this, i am building a plugin to read products from a webservice...

[2020-08-06 16:49] pirex360 opened #27249 "Bulk saving products using WC_Product::save() takes too long"
I'm writing a plugin to WP->Woocomerce to import products from a custom Webservice.

But saving products using WC_Product::save() method takes about 15/20 seconds per product in my case.
Note that i also save the images... about 4 images (40Kb to 60Kb each) per product and wordpress is also slow to pull an external image to his library.

Without images, only text and simple product : my overall av

[2020-08-06 17:08] jbeales opened #27250 "Allow more customization of data sent to PhotoSwipe"
**Is your feature request related to a problem? Please describe.**
This may be obscure, but here goes: I am trying to add more flexible captions to the Photoswipe lightbox in my WooCommerce extension [Gallery Captions for WooCommerce](https://woocommerce.com/products/gallery-captions-for-woocommerce/). I can filter Photoswipe's options and add a new `addCaptionHTMLFn()` function, but all it gets t

[2020-08-06 19:59] pstoica commented on #25673
I just stumbled upon this issue for the orders page. The products page seems to correctly call the filter. Swap `product` with `shop_order` and you'll see it never runs.

[2020-08-06 20:36] juliaamosova commented on #27247
Hi @jbeales,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Product with an image added to only one of the variations (missing the magnifying icon):

![icon1](https://user-images.githubusercontent.com/19143190/89580138-e44ce400-d802-11ea-86a2-a13dc30736ce.jpg)

Expected behavior - there should be a magnifying icon as shown below:

[2020-08-06 20:39] juliaamosova commented on #27222
Changing the priority to `high` on this issue as it affects the basic functionality of WooCommerce.

[2020-08-06 21:00] jbeales commented on #27222
I guess the question is "what should happen if there is no Product Image, but there are images in the gallery?"

I *think* that the first image in the gallery was displayed, but I'm not 100% sure.

[2020-08-06 21:05] juliaamosova commented on #27184
Hi @misterproton,

Sorry for the delayed response here. Great to hear that you found the cause of the issue. The best next step would be to reach out to the developers of the `Conditional Shipping and Payments` plugin directly. You can do that on the page below by clicking on the `Contact Support` button:

https://woocommerce.com/vendor/somewherewarm/

I am closing this thread as it is not WooComm

[2020-08-06 21:05] #27184 closed

[2020-08-06 21:06] juliaamosova commented on #27141
Hi @justinahsnyder,

Would you please confirm if you are still experiencing the issue with the latest version of WooCommerce 4.3.1?

[2020-08-06 21:08] juliaamosova commented on #27129
Hi @olaos,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-06 21:08] #27129 closed

[2020-08-06 21:20] EliMariaaaa opened #27254 "Downloadable Product Permission not granting access automatically"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-06 21:33] juliaamosova commented on #26617
@peterfabian thanks for investigating here. I confirm that the shipping address is not visible only if:

- Shipping destination is NOT set to Force shipping to the customer billing address, and
- Shipping method is set to sth else than Local pickup

Which makes sense to me. I tested both creating the order manually and at the front end.

Screenshots in my [comment above](https://github.com/woocomm

[2020-08-06 21:42] juliaamosova commented on #27246
Hi @gglobalstep,

Thanks for raising the issue. We chatted further with the team and agreed that the way it currently works is as expected. In order to add several items of the same product, the user needs to add the item and select its quantity at the same time - similar to how you added 7 items of the product that appears the first on the list on your screenshot.

I am closing this issue as ther

[2020-08-06 21:42] #27246 closed

[2020-08-06 21:43] juliaamosova commented on #27249
Hi @pirex360,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help furth

[2020-08-06 21:43] #27249 closed

[2020-08-06 22:01] allendav commented on #25069
We just ran into this on the Stripe plugin: https://github.com/woocommerce/woocommerce-gateway-stripe/pull/1264#issuecomment-670200343

We're going to move forward with just wp-admin events for now, but would like to add things like tracking events for orders that complete without admin intervention to a future release of the Stripe plugin:

https://github.com/woocommerce/woocommerce-gateway-strip

[2020-08-07 00:47] claudiosanches commented on #26899
@simplenotezy can you please share all details of the coupon? There's any restrictions?

[2020-08-07 05:34] KoolPal commented on #26617
@juliaamosova @peterfabian Is there some filter / code snippet which can be used to FORCE display of Shipping Address in ALL circumstances?

Thanks

[2020-08-07 06:25] asafm7 opened #27255 "Allowing users to to delete their own accounts on their account area"
Hi,

I searched and couldn't find a similar open issue, sorry if I missed anything.

I really feel like there should be a built-in straightforward option for users to delete their accounts by themselves. I guess it is not the highest concern of site owners, but I really think it is the honest thing to do. I, as a customer or user, would have expected to find such an option.

Hopefully, you see it

[2020-08-07 07:25] brianvarskonst opened #27256 "Accessibility of changes for product type change"
**Is your feature request related to a problem? Please describe.**
The Problem is, it's not feeling well to this as described, because you can also no be sure to be the first thats hook into the mentioned hook. Also fetching the old Product from the Database with ` WC_Data_Store::load(${product-type})` feels little bit clunky and hacky, because of the way its not so well documented and I needed mu

[2020-08-07 08:06] pirex360 commented on #27249
Ok, thanks for the feedback.
I tought that the extremly slow save time, was a bug or some lack of optimization.

Thanks again for your recomendation.

[2020-08-07 09:18] lkraav commented on #27256
What is the use case for this?

[2020-08-07 09:27] #26741 closed

[2020-08-07 10:42] #23655 closed

[2020-08-07 10:58] brianvarskonst commented on #27256
Currently I'm developing a Plugin as an Integration of an external service, the extern api requires that every product needs to have a variation assigned to the parent product. So if the user wants to change the product type from variable to simple product, we need to adjust the mapping.

[2020-08-07 10:58] peterfabian commented on #27243
Thanks for the correction, @DavidAnderson684 ! I've updated the issue.

[2020-08-07 13:59] jordaokilla commented on #15688
, és meu convidado VIP,

Acho que já ouviste falar que a Jucélia Gabriel (Especialista em
finanças) esta a fazer uma MasterClass para um número reduzido de
pessoas.

Pois as vagas ACABARAM, mas eu não podia te deixar de fora, então
estou a mandar o link VIP para ainda fazeres a inscrição e assistires
a aula gratuitamente.

Veja o que vais aprender nesta aula

Ela vai falar falar sobre os seguintes

[2020-08-07 14:11] #27226 closed

[2020-08-07 18:18] rockeypjb opened #27263 "Clear field "X" button not working on Admin edit order page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ X] I have s

[2020-08-07 18:29] juliaamosova commented on #27182
Hi @aglamazy,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-07 18:29] #27182 closed

[2020-08-07 18:32] ben72 opened #27264 "[WC Beta Tester] Bug report for version "4.4.0-beta.1""
**Describe the bug**
Widgets "Filter Products by Attribute" and "Acitve Products Filters" not visible on front-end after switching to the beta version.
Price filter is visible though. No html is output for those filters at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an attribute filter to a widget area
2. View fron-end
3. Switch to beta version
4. Widget is not visible on front-

[2020-08-07 19:45] juliaamosova commented on #27254
Hi @EliMariaaaa,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I used the PayPal sandbox for testing as well. Upon placing the order via the sandbox, the order status is `on hold` but when the order status is changed to `completed`, I get the downloadable product permissions generated and the user can

[2020-08-07 19:52] juliaamosova commented on #27255
Hi @asafm7,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue w

[2020-08-07 19:52] #27255 closed

[2020-08-07 20:07] juliaamosova commented on #27263
Hi @rockeypjb,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25427. We are closing your issue in favor of the previously submitted.

Note that the issue had been fixed in https://github.com/woocommerce/woocommerce/pull/26202. The fix will be included in the upcoming WooCommerce 4.4 release.

I confirmed t

[2020-08-07 20:07] #27263 closed

[2020-08-07 20:11] EliMariaaaa commented on #27254
Hi @juliaamosova,

Thanks for your reply. I found the culprit. When I order products without downloadables, they don't get access even if I change the order status to completed (obviously because there's no file to download). Is it possible to automatically add the downloadables once they're added to the purchased products? I know there's a plugin available for that but I don't think it's working

[2020-08-07 20:23] juliaamosova commented on #27254
Thanks for your follow-up @EliMariaaaa and great to know that you discovered what was causing the issue.

I can't think of a way to do what you want out of the box in WooCommerce but there is a plugin that I think will work for your case:

https://wordpress.org/plugins/woo-product-attachment/

Let me know if you have any follow-up questions. I am going to close the thread since there is no bug but

[2020-08-07 20:23] #27254 closed

[2020-08-07 20:54] juliaamosova commented on #27264
Hi @ben72,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I made a screencast to show that it works in both WooCommerce 4.3.1 and WooCommerce 4.4. rc1:

https://recordit.co/2gpFQrK5x8

The important thing to keep in mind is that filter widgets appear only on the shop, tag, category, etc. types of pages

[2020-08-07 21:04] juliaamosova commented on #27154
It looks like this bug was introduced in WC 4.2.1 (it works well in WC 4.2). I'd argue that this is a `low` priority since the issue is present when adding a variable product while creating a manual order. This is a pretty basic flow that most of the users go through often and it doesn't look good that there is an exposed html:

![html](https://user-images.githubusercontent.com/19143190/89688344-f

[2020-08-07 22:02] ben72 commented on #27264
Thank you for testing @juliaamosova!
The only thing that could be causing this then is the data on my site. I might not be the only one with similar data though..
As you can see in the environment dump no other plugins were active and the Storefront theme was used.
I checked the shop page and the pricing filter was active. It should be them same with that only showing on shop related pages?
I've s

[2020-08-07 22:26] juliaamosova commented on #27215
Hi @jacoswan,

Thank you for taking the time to report this issue, we really appreciate your help. I can reproduce it on my end.

I have 3 tax classes on my test site:

- Standard rate
- EU rate
- US rate

When running `wp wc tax_class list --user=1`, I am getting the following response:

[code]

I agree that it will be great to list the tax class ID here as well.

For my test, I want to delete th

[2020-08-07 22:49] juliaamosova commented on #27201
Hi @awaidanjum,

Thank you for raising the question. I tested on my end and can successfully retrieve the details of the customer with the specified email. My request looks as follows:

`print_r($woocommerce->get('customers?email=udmurtika@gmail.com'));`

Screenshot:

![customer](https://user-images.githubusercontent.com/19143190/89694017-56462b80-d8de-11ea-9d31-470de8341aa0.jpg)

On your end, I w

[2020-08-08 16:25] eshimischi commented on #27203
After tests with plugins and my custom WP theme, i've found what caused my issue. It has nothing to do with Woocommerce but with JS library [Quicklink](https://github.com/GoogleChromeLabs/quicklink) i use in my theme, i forgot to add [noprefetch] attribute to delete icon in my cart and it caused deletion of cart content with every page reload. I'll be wiser since now. Thanks!

[2020-08-08 16:25] #27203 closed

[2020-08-08 16:51] vic6349 commented on #26054
This is what i did, and it get cleared from woo-commerce customer table and I managed to register the same username after the deletion. Please try at your own risk, whoever has tried this and think could contribute better solution, you are welcome to do so.

Step 1:  Search the specific customer username in table wp_postmeta then delete the result row
Step 2: Search the specific customer username

[2020-08-08 16:51] juliaamosova commented on #27203
Glad to hear you found the cause of the issue and thanks for letting us know @eshimischi!

[2020-08-08 20:20] pickmeok commented on #10555
Hi @ghost and @mikejolley

I am facing the same issue with Woocommerce 4.3.1.

I am using the Woocommerce Products Category widget on the single product page.

I have set the a child category as the primary one. To the product in question I have assigned to it 3 child categories ans I expected the Woocommerce Products Category widget to display the primary categorya not the others. Breadcrubms and

[2020-08-09 10:38] rkhoury82 opened #27266 "Email notifications not working with multiple emails"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When sending Email notifications for New Order, Cancelled Order & Failed Order using multiple email address and separating by a comma does

[2020-08-09 16:08] taewookim opened #27267 "[Request] Pinterest buyable pins integration"
Side question: Did these paid SaaS ecommerce platforms "lobby" WC to be excluded? Wondering why they wouldn't support a platform that powers 25% of ecommerce sites

[2020-08-10 04:38] ktmn commented on #27223
Still commonly getting 404s for first Google results

[2020-08-10 05:44] d-skinner commented on #25170
I'm having trouble too!

It’s with the "minimum spend" field.

A customer is having problems.

![image](https://user-images.githubusercontent.com/7027363/89754579-d3acae80-db1f-11ea-99be-802346672883.png)

You can see by the "subtotal" amount is a lot more than the "minimum spend".
I have the setup the way @juliaamosova does it.

Any help would be appreciated?

[2020-08-10 09:46] madeincosmos opened #27268 "Product Category Count is incorrect when other post types are assigned to the same taxonomy."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Some extension plugins, like WooCommerce Product Add-Ons use the product category taxonomy for post types that aren't products (in this cas

[2020-08-10 09:47] artpi opened #27269 "Remove relative include paths - they may break opcache"
Relative include paths in PHP can break, when server is running `opcache`. See [here about vulnerability details](https://stackoverflow.com/a/30913177).

WordPress.com deploy system refuses to include WooCommerce, because of that issue - for more context, see here - [internal a8c discussion](p3topS-MV-p2)

The Earn team is happy to tackle this, but will we would appreciate any feedback on what iss

[2020-08-10 12:20] rrennick commented on #27269
@artpi It should be fine to update the relative paths to absolute.

[2020-08-10 13:39] peterfabian commented on #27138
Closing as this was fixed by #27236

[2020-08-10 13:39] #27138 closed

[2020-08-10 13:59] juliaamosova commented on #27206
Hi @tuncent,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-10 13:59] #27206 closed

[2020-08-10 14:00] juliaamosova commented on #27204
Hi @gzpcme,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-10 14:00] #27204 closed

[2020-08-10 14:00] juliaamosova commented on #27194
Hi @viniciusaugutis,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-10 14:00] #27194 closed

[2020-08-10 14:02] juliaamosova commented on #27146
Hi @mickle-foretic,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-10 14:02] #27146 closed

[2020-08-10 14:03] juliaamosova commented on #27130
Hi @royberrev,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-10 14:03] #27130 closed

[2020-08-10 15:49] jonykg opened #27274 "Decimals in the quantity field"
Hello!

I am setting up the website for a grocery store and when installing the POS, I find the limitation that we cannot enter decimals in the quantity field when adding a product to cart. And we need that feature because we sell many fruits and veggies by weight, so we cannot force our clients to buy 1, 2, 3, 4... kg of that products...

Thanks for taking into account this request.

Best regards

[2020-08-10 17:29] punitkanse2 opened #27275 "Found Bug in Password Reset E-Mail Template"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-08-10 20:47] filipecorrea opened #27279 "Invalid refund amount when using coupons"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I'm receiving an "invalid refund amount" error while trying to process a refund for an order paid using coupons (Smart Coupons).

**Expecte

[2020-08-11 07:15] YorkFord commented on #23556
+1

[2020-08-11 08:56] peterfabian commented on #27269
I've added as an item for discussion to tomorrow's meeting. I also think it should be fine to update, but if there's anyone who knows about a potential problem, I'll add a comment here.

[2020-08-11 09:01] thinkjarvisdesignandmarketing opened #27281 "Imported images are not attached / linked to products in Media Library"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X ] I have s

[2020-08-11 09:23] peterfabian commented on #27267
Hi @taewookim ,

Thanks for the request, it's a great point you have. Last year we started our partnership with Pinterest and hopefully, it would lead to adding more features, including Buyable Pins, to the [official extension](https://woocommerce.com/products/pinterest-for-woocommerce/). Please follow the news about the extensions to find out when the support will be added.

[2020-08-11 09:23] #27267 closed

[2020-08-11 09:29] peterfabian commented on #27274
Hi @jonykg ,

Thanks for your inquiry! We currently don't plan to add this feature to WooCommerce core, but there are several plugins that should enable this for you, if you want to give them a try, e.g.:
- https://wordpress.org/plugins/product-quantity-for-woocommerce/
- https://wordpress.org/plugins/wpc-product-quantity/

Hope it helps.

[2020-08-11 09:29] #27274 closed

[2020-08-11 11:37] mrohnstock opened #27282 "REST-API broken after update from 4.3.1 → 4.3.2 (Error: Invalid parameter(s): meta_data [rest_invalid_param])"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-11 12:02] peterfabian commented on #27072
This should be solved now, so closing. Please let us know if the issue persists.

[2020-08-11 12:02] #27072 closed

[2020-08-11 12:33] lordspace opened #27283 "Urgent: Firefox & Chrome didn’t send any data. - ERR_EMPTY_RESPONSE + video + only WC + WP"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.
I have turned on/off WP debugging and apache conf.
SSLCompression        off
SSLSessionCache none
enabled all kinds of debugging and still nothing.

**Describe t

[2020-08-11 12:47] peterfabian commented on #26467
Hi @akozer33

Sorry to hear you're still having trouble with this.
Can you please provide the information about your installation, especially the [system status report](https://docs.woocommerce.com/document/how-to-review-your-woocommerce-system-status/) would be helpful.

Can you also check if the scheduled actions you ran finished successfully under WooCommerce > Status > Scheduled actions? Would

[2020-08-11 12:54] peterfabian commented on #27022
Sorry for the lack of feedback here, @kandpalnavi ! Have you seen this happening again since you've created the issue? Have you had a chance to test it without the plugins you run on the site?

[2020-08-11 12:57] vedanshujain commented on #27282
Hi, @mrohnstock can you please post the exact code you are using with PHP client so that we can reproduce better (after redacting any confidential data). I tried using this:

[code]

and was able to correctly update the metadata.

[2020-08-11 13:01] peterfabian commented on #27013
Apologies for my late response. I could not replicate this on my installation. Maybe @claudiosanches has some idea for troubleshooting? The error message you're getting should generally mean that the user you've created the API keys for doesn't have required permissions, so maybe the authentication is not working as it should in your case?

[2020-08-11 13:28] peterfabian opened #27286 "Add pages to WC store upon activation."
**Is your feature request related to a problem? Please describe.**
Currently, the pages are added during onboarding and people who skip onboarding have a broken store.

**Describe the solution you'd like**
Having a working store and a robust solution for starting up with WC without onboarding.

**Describe alternatives you've considered**
Currently, this is being done in WC Admin during onboarding

[2020-08-11 13:30] peterfabian commented on #27286
This might need some synchronization with folks from Isotope (and could be done together with deprecating the old onboarding code?)

[2020-08-11 13:38] peterfabian commented on #26077
We will, don't worry. We regularly revisit our [feature wishlist from users](https://github.com/woocommerce/woocommerce/issues?q=label%3A%22votes+needed%22+label%3Aenhancement+sort%3Areactions-%2B1-desc+is%3Aclosed) and reopen those tickets when it aligns with our priorities.

[2020-08-11 14:01] rrennick commented on #27286
Old setup is removed in https://github.com/woocommerce/woocommerce/pull/26853

[2020-08-11 14:04] juliaamosova opened #27287 "E2E: Update CustomerFlow and StoreOwnerFlow to ShopperFlow and MerchantFlow"
Update `CustomerFlow` and `StoreOwnerFlow` to `ShopperFlow` and `MerchantFlow` in `@woocommerce/e2e-utils` package and throughout the tests where needed in order to use the new language adopted throughout WooCommerce. We should update the `default.json` entries to `merchant` and `shopper` as well.

[2020-08-11 14:07] Helpguy01 commented on #27233
@juliaamosova - Any feedback on the above?

[2020-08-11 14:34] juliaamosova commented on #27283
Hi @lordspace,

Thanks for raising the issue. However, there is very little for us to work with in order for us to understand what could be going on. Are there any errors in the error log that may shed the light on what could be happening?

[2020-08-11 14:43] juliaamosova commented on #27279
Hi @filipecorrea,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the {name of the plugin} plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact the WooCommerce support team by [opening a ticket

[2020-08-11 14:43] #27279 closed

[2020-08-11 14:45] juliaamosova commented on #27275
Hi @punitkanse2,

Thanks for raising the issue. However, you completely ignored the issue template. Please provide us with more details especially the steps to reproduce the issue so that we could take a look further.

[2020-08-11 14:49] juliaamosova commented on #25958
The first iteration of the package that allows creating initial data for running e2e tests had been done in https://github.com/woocommerce/woocommerce/pull/26948. With this PR, it is now possible to easily create a Simple product.

[2020-08-11 14:53] lordspace commented on #27283
Hi,

The WP debug log has only stuff related to wp-cli.
https://orb-design2.eu1.wpsandbox.org/wp-content/debug.txt

debugging is enabled
[code]

These are other php logs
https://orb-design2.eu1.wpsandbox.org/wp-content/php.txt

The apache logs only contain the usual stuff

[2020-08-11 14:53] juliaamosova commented on #26724
Hi @renatho,

Apologies for the delayed response here. Would you please let us know if you are still experiencing the issue?

[2020-08-11 14:57] lordspace commented on #27283
I have turned off the mod deflate in apache. The admin area loads now but the public side is still partially rendered.
I can't view the source of the page at all

![image](https://user-images.githubusercontent.com/137558/89913135-07f59d00-dbfc-11ea-9d51-817f77287c59.png)

[2020-08-11 14:59] lordspace commented on #27283
the chrome console shows this:
Failed to load resource: net::ERR_INCOMPLETE_CHUNKED_ENCODING

does WooCommerce try to compress the output?

[2020-08-11 15:04] lordspace commented on #27283
Since the admin area loaded here's the WC system log

### WordPress Environment ###

WordPress address (URL): https://orb-design2.eu1.wpsandbox.org
Site address (URL): https://orb-design2.eu1.wpsandbox.org
WC Version: 4.3.2
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.3
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.3.1
Log Directory Writable: ✔
WP Version: 5.4.2
WP Multisite: –
WP

[2020-08-11 15:09] lordspace commented on #27283
Increased the php memory to 512MB and still the same error.

[2020-08-11 15:29] 5um17 opened #27288 "Refund email is not fully translated even the translation exist in MO file."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
A WPML customer reported this [issue](https://wpml.org/fr/forums/topic/split-problem-translate-string-text-order-fully-refunded/) and [here

[2020-08-11 17:02] vedanshujain commented on #27290
Seems like this is happening because of the `if` condition at https://github.com/woocommerce/woocommerce/blob/master/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php#L48. We should either get rid of this check or at least raise an error in the else block instead of ignoring the coupon silently.

[2020-08-11 17:03] vedanshujain commented on #27291
I think this can be included in V3 and earlier as well.

[2020-08-11 17:08] AmandaRiu opened #27292 "Add product name and image url to the product reviews response"
in woo-mobile, we need to have the following properties returned by the `v3/products/reviews/` endpoint:
- product name
- product image url (we only need the small thumbnail url)

[2020-08-11 17:16] vedanshujain commented on #27295
This looks like race condition because `SKU` uniqueness is probably not enforced by the database, just by the code. We need probably better protections around it.

[2020-08-11 17:17] edoaxyz opened #27296 "[API] refunded_payment in Refunds isn't showed in POST"
**Describe the bug**
As the title say, the attribute `refunded_payment` in Refunds objects isn't showed in any POST response, while the [documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/?shell#order-refund-properties) shows that it should be in any response, even if it's a read-only attribute. **Note** that I tried this only with `api_refund` attribute set to `false` in POST

[2020-08-11 17:31] mikejolley opened #27297 "Implement order search helpers into orders API"
Search helpers have been added in 3.1: https://github.com/woocommerce/woocommerce/issues/13646

This means we could use the same system in the API for advanced order retrieval and search.

https://github.com/woocommerce/woocommerce/issues/15444

[2020-08-11 17:33] NTass02 commented on #14541
@mhurrell Any info on how you fixed this issue in AWS? We have our site setup on an AWS Lightsail instance. Any help would be appreciated. Our customer is not happy.

[2020-08-11 17:48] dwaterman01 commented on #14541
I wish I had better news, as we move the website from one location to another, and removed 1/3 of the plugins, updated everything until it hurt... and we still got duplicates. 2-3 months of hell. Eventually we moved the site to a digital ocean provider and got 8 CPUs and 32 GB of Ram and it stopped (for now) Now we are rebuilding the website hoping we can shake whatever it is, as we never found th

[2020-08-11 19:49] akozer33 commented on #26467
Okay everything you guys requested is here. Let me know if you want to just
give temporary access to the site.
[image: blcZ4lYw.jpg]
`
### WordPress Environment ###

WordPress address (URL): https://flexibledietinglifestyle.com
Site address (URL): https://flexibledietinglifestyle.com
WC Version: 4.2.2
REST API Version: ✔ 1.0.8
WC Blocks Version: ✔ 2.5.16
Action Scheduler Version: ✔ 3.1.6
WC Admin

[2020-08-11 19:51] alissonpierrerender commented on #27282
same problem here. when upgrading to wc 4.3.2, the "meta_data" bug happens ... I try to update this way and it gives me a problem:

$woocommerce->put( 'orders/XXX', array( 'meta_data' => array( array( 'key' => 'test_key', 'value' => 'test_value' ) ) ) );

I did the roolback for version 4.3.1, and the problem was solved.

need to fix this bug.

[2020-08-11 20:28] mhurrell commented on #14541
Hey all!

So in AWS EC2 instances, there is a small, out of the way setting that sets
a timeout limit. This is located in the AWS console, and has nothing to do
with your service SSH instance. Change yours to 120 seconds. Never had a
problem since.

HUGE default issue by amazon. Took me 3 months to figure this out.

*Open the Amazon EC2 console at https://console
<https://console>.aws.amazon.com/e

[2020-08-11 21:14] bliteknight opened #27300 "Categories set to "Uncategorized" for non authorized import process."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Cron job used for importing csv product updates puts all products into "Uncategorized" due to there not being a currently authenticated use

[2020-08-11 22:57] hirewebsolutions commented on #27282
Same issue when we sync products via Rest API. Error is "Invalid parameter (s): meta_data". We are using /wp-json/wc/v2/products API endpoints. Thanks!

[2020-08-11 23:06] #26876 closed

[2020-08-11 23:09] GMB321 opened #27302 "Latest WooCommerce update conflicts with WP themes and changes/removes site formatting"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2020-08-12 00:17] juliaamosova commented on #25956
Published the list of critical flows to automate on GitHub Wiki: https://github.com/woocommerce/woocommerce/wiki/Critical-Flows.

Closing this thread as the task is done.

[2020-08-12 00:17] #25956 closed

[2020-08-12 00:47] asgeo1 commented on #27282
Yes, having the same issue too :-(

[2020-08-12 05:53] Boondoggy opened #27304 "WooCommerce Dropshipping Broken After 4.3.2 Core Update"
## Prerequisites (mark completed items with an [x]):

[x] I have have carried out troubleshooting steps and I believe I have found a bug.
[x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

## Describe the bug
WooCommerce Dropshipping plugin breaks my admin site following an update for WooCommerce core 4.3.2. For example, drop down menu buttons do not

[2020-08-12 05:58] mrohnstock commented on #27282
Hi @vedanshujain, I first fetch the order through API, modified some values and resend the order back. Is a bit simplified, but throughs the same error:

[code]

This will response with the said error message.

[2020-08-12 06:19] dougaitken commented on #27304
Hi @Boondoggy

Please close this issue and open a support ticket directly from your WooCommerce.com account. This GitHub repository is only for the core WooCommerce plugin and this error doesn't happen with the core plugin. It was fixed in WooCommerce 4.3.2 via #27170

[2020-08-12 07:08] #27304 closed

[2020-08-12 07:13] ktchan1811 commented on #26054
I am facing this issue also. Can Woocommerce allow us to remove or delete the customer in Woocommerce > Customers list by having an option for us to remove or delete it? Really appreciated it.

[2020-08-12 08:12] vedanshujain commented on #27282
i can reproduce this, and should have an update on the fix soon

[2020-08-12 08:43] accari opened #27305 "HTML in Woocommerce Product Title for a line break"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
After the latest update my Woocommerce **product title** doesn

[2020-08-12 10:02] Qvaza commented on #27282
To add to this, we're currently getting this message returned, when we're updating a meta_data value field, with an array:
meta_data[0][value] is not of type string,null.

This was possible prior to this update

[2020-08-12 12:58] thiagobsq commented on #27282
Same issue when we sync products via REST API.

[2020-08-12 13:00] peterfabian commented on #27031
Related to https://github.com/woocommerce/woocommerce/issues/26994 maybe?

[2020-08-12 13:01] peterfabian opened #27307 "Translation not loading correctly when connected to woo.com"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Screencast from @dougaitken :
https://d.pr/v/ltRJh2

It seems like it's not always broken like this, but needs further investigation.

**Ex

[2020-08-12 13:51] simplenotezy commented on #23655
@konamiman is it fixed?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-08-12 13:53] simplenotezy commented on #26899
@claudiosanches no, it's a default coupon with no restrictions. The tax/total discount of the coupon code is different when it is applied from frontend vs from the WordPress admin.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-08-12 14:02] juliaamosova commented on #27231
Hi @gevcen,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-12 14:02] #27231 closed

[2020-08-12 14:02] juliaamosova commented on #27224
Hi @samratpatoyari,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-12 14:02] #27224 closed

[2020-08-12 14:03] juliaamosova commented on #27091
Hi @wallswonders,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-12 14:03] #27091 closed

[2020-08-12 14:10] juliaamosova commented on #26467
Hi @akozer33,

Thanks for the System Status Report. The image didn't go through, however.

Based on your System Status Report, I see that you are not using the latest version of WooCommerce which is 4.3.2. You are currently using version 4.2.2. Can you please update and let us know how it goes?

I also see that you have several plugins installed and that you don’t use one of our default themes whi

[2020-08-12 14:33] Konamiman commented on #23655
@simplenotezy yes, it's fixed: https://github.com/woocommerce/woocommerce/pull/27140 - it's planned for inclusion in WooCommerce 4.5.

[2020-08-12 14:35] simplenotezy commented on #23655
@Konamiman great! Actually, now I am in doubt. Is it related to https://github.com/woocommerce/woocommerce/issues/26899? Perhaps not?

[2020-08-12 14:43] Konamiman commented on #23655
That other one doesn't seem to be related, but we won't be sure until we triage it.

[2020-08-12 17:06] rudee24 opened #27308 "Product variations are going to draft even after new update."
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

- When importing products in woo-commerce built-in products importer. I'm importing products as draft and there are variable products with variations as well in the CSV. When I tried importing these products (file

[2020-08-12 17:43] editocom commented on #27235
My database is rather big (almost 100,000+ orders). Could it be the cause of this bug?
Here my environment:

<img width="620" alt="Screenshot at Aug 12 19-35-53" src="https://user-images.githubusercontent.com/50528632/90047963-15ca2180-dcd3-11ea-96bd-5a2ba90eb967.png">
<img width="948" alt="Screenshot at Aug 12 19-33-10" src="https://user-images.githubusercontent.com/50528632/90047989-1d89c600-dcd

[2020-08-12 19:54] Shadiac commented on #27282
Same problem when creating coupons with the API. If meta_data contains 1 or more arrays it spits the error

[code]

[2020-08-12 19:58] #25543 closed

[2020-08-12 20:07] juliaamosova commented on #27308
Hi @rudee24,

Thank you for submitting the issue. However, I am not sure I can reproduce it. Also, the steps to reproduce are not very clear. So far, everything seems to be working as expected on my end.

Steps I am taking:

- I have a variable product on the site which is published and has 2 variations - in stock.
- I exported my products and changed the status of my variable product from publish

[2020-08-12 20:09] Shirkit commented on #27282
Can confirm the described issue, huge problem until I figured it out what exactly was :monocle_face:

[2020-08-12 21:18] juliaamosova commented on #27307
I did a bit of testing on this issue and I couldn't reproduce the exact behavior related to the fact that translations are not loading correctly when the site is connected to woo.com account.

But I was able to encounter another translation issue that could be related?

Tested on brand new JN site with:

- WooCommerce 4.3.2 (installed by searching the plugin via `Plugins/Add New`)
- WordPress - 5.

[2020-08-12 21:21] lukecav opened #27313 "Running into this error in the fatal error logs for the site"
[code]

[2020-08-12 21:22] lukecav commented on #27313
`
### WordPress Environment ###

WordPress address (URL): https://iheartdogs.com
Site address (URL): https://iheartdogs.com
WC Version: 4.3.1
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.2
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ❌ Inactive 1.3.1
Log Directory Writable: ✔
WP Version: ❌ 5.4.2 - There is a newer version of WordPress available (5.5)
WP Multisite: –
WP Memory Limit:

[2020-08-12 21:24] juliaamosova commented on #27302
Hi @GMB321,

Thanks for raising the issue. However, the theme issues need to be fixed on the theme side of things. Please report the behavior you are seeing to the developers of the OceanWP theme and ask them to take a look further.

I am closing this thread as this doesn't seem to be WooCommerce issue but please feel free to comment in case you think we missed something.

[2020-08-12 21:24] #27302 closed

[2020-08-12 21:26] juliaamosova commented on #27313
Hi @lukecav,

Thank you for reporting the issue. It seems to be caused by the WooCommerce Product Blocks functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2020-08-12 21:56] #27108 closed

[2020-08-12 21:59] juliaamosova commented on #27288
Hi @5um17,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

With site language set to French and admin user language set to French, the refund order email has no issues:

![french](https://user-images.githubusercontent.com/19143190/90072396-620e6500-dcc5-11ea-9110-13e2f683f7c6.jpg)

With site language set to French and admin user lan

[2020-08-12 22:16] databuzz opened #27315 "REST API Error When Creating Product: Invalid parameter(s): date_on_sale_from, date_on_sale_to"
I'm attempting to create a new Product via the REST API v3 by doing a POST to the Products endpoint:

wp-json/wc/v3/products

with this payload:

`{
	"attributes" : [],
	"backorders" : "yes",
	"button_text" : "",
	"catalog_visibility" : "visible",
	"categories" : [],
	"cross_sell_ids" : [],
	"date_on_sale_from" : "",
	"date_on_sale_to" : "",
	"default_attributes" : [],
	"description" : "",
	"dimen

[2020-08-12 23:22] Updula commented on #27308
I can confirm my variations were missed up after updating.

[2020-08-13 00:01] Shadiac commented on #27282
I was able to work around my particular issue by changing the following inside of class-wc-rest-coupons-v2-controller.php

Line 353
`
```'type'        => array( 'string', 'null' ),```

to

`'type'        => array( 'mixed', 'null' ),`

[2020-08-13 00:34] zz745 commented on #27282
@Shadiac thx for sharing.

We sent Int until only String was accepted since yesterday.
I`ll follow your way changing the code for rest-products temporarily.

[2020-08-13 04:41] rudee24 commented on #27308
You're keeping variations as published(1). Check these screenshots below
![Screenshot-csv](https://user-images.githubusercontent.com/19970323/90094989-07b8e700-dd4d-11ea-8338-bcd66d2418ef.png)
It is showing 4 products imported ( that is correct)
![Screenshot_20200813_100443](https://user-images.githubusercontent.com/19970323/90095006-11424f00-dd4d-11ea-8017-a85025d40997.png)
But the product is mar

[2020-08-13 05:03] smassot opened #27316 "Some issues with WooCommerce since the Wordpress 5.5 update"
Hi,
I do the update of Wordpress to 5.5 and do all my plugins update too.
I use WooCommerce 4.3.2.

Since this update, some links in Products view of WooCommerce are not active anymore.

For example with "Quick Update" of a product is clickable but don't open the parameters windows.
![quick_update_not_active](https://user-images.githubusercontent.com/69617349/90095885-34133a00-dd32-11ea-8fc4-aa91d

[2020-08-13 05:04] mbruschi commented on #26925
We can confirm that this query is very expensive and slows down the performance a lot. If it helps here is a stacktrace that shows it takes ~9s. Postmeta has ~6M entries, Post ~120k.

![image](https://user-images.githubusercontent.com/6988573/90096284-2611e900-dd33-11ea-8335-0364ce5656f6.png)

[2020-08-13 05:32] anant1811 commented on #17876
I believe this bug has re-surfaced. Details in the screenshots below:

![https://d.pr/i/aT2Fpc](https://d.pr/i/aT2Fpc+)
Full Size: https://d.pr/i/aT2Fpc

![https://d.pr/i/vQ7zxJ](https://d.pr/i/vQ7zxJ+)
Full Size: https://d.pr/i/vQ7zxJ

[2020-08-13 05:41] anant1811 opened #27317 "State and Country field labels are not read by screen readers"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.
#17876 seems similar, I have left a comment there but wasn't sure if that should be re-opened.

**Describe the bug**
Country and State field labels are not read

[2020-08-13 05:59] dougaitken commented on #27307
@juliaamosova - this WC Admin translation issue was due to a bug that is now resolved. I chatted with @jeffstieler about this yesterday - p1597237351358400-slack-C9K5T0XSP

For this main issue I wasn't able to replicate again, I've been testing again on two other sites I have and no matter the sequence of events, I can't replicate this.

I'm unsure if I was using a translation that was less than 1

[2020-08-13 09:23] justinkruit opened #27319 "Ordered products not registered with order since WP 5.5"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-13 10:03] KennyChan94 commented on #12901
@amjad @bitsnaps do you guys still able to remove one of the line_items? i tried a few methods on my side but i cant do it.
what i did:
url: `/{site_name}/online/wp-json/wc/v1/subscriptions/{order_id || subsription_id}` with `PUT`
url: `/{site_name}/online/wp-json/wc/v3/orders/{order_id || subsription_id}` with `PUT`
P.S. my wordpress site is using prospress as my site is selling services as subsc

[2020-08-13 10:25] jianghaonz opened #27320 "couldn't set object value as meta value for an order through rest api"
after upgrade to 4.3.2,  when I use rest API to set meta_data,  I couldn't set an object value as a meta value

400 Bad Request: [{"code":"rest_invalid_param","message":"Invalid parameter: meta_data","data":{"status":400,"params":{"meta_data":"meta_data[0][value] is not of type string,null"}}}]

[2020-08-13 10:26] lkraav commented on #27316
Please check your browser JS console and let us know if you see any errors.

[2020-08-13 10:34] rajsidhux opened #27321 "Refund button not working since updating Woo."
I updated Wordpress and Woccomerce over last few days.

I tried to refund an order today (13/08/2020) and the button clicks but nothing happens.

Is this happening to anyone else?

Is there a fix being worked on?

[2020-08-13 10:39] smassot commented on #27316
Hi,

Here are the errors on JS Console on FireFox

But, I manage 2 websites. One of it was updated to WordPress 5.5 and the other wasn’t updated on Wordpress 5.5

How can you explain that I have these issues on the website where I update WordPress to 5.5 ??

Thanks for your help.

Best regards

De : Leho Kraav <notifications@github.com>
Envoyé : jeudi, 13 août 2020 12:27
À : woocommerce/woocommerc

[2020-08-13 10:42] lkraav commented on #27316
No attachments landed from your e-mail. You might have to use GH app or UI to embed images.

[2020-08-13 10:44] peterfabian commented on #27307
Thanks for the update, @dougaitken ! Closing for now, as we have other issues mentioned by @juliaamosova  (I believe) covered by open issues in our repo.

[2020-08-13 10:44] #27307 closed

[2020-08-13 10:47] peterfabian commented on #27315
Hi @databuzz ! Thanks for opening the issue. We've switched to using WP validation for dates in WC 4.3.2, which inadvertently broke passing empty strings to date fields. We're [working on a fix](https://github.com/woocommerce/woocommerce/pull/27318) for this to allow empty strings again in 4.3.3 which will be released soon.

[2020-08-13 10:47] #27315 closed

[2020-08-13 10:48] peterfabian commented on #27320
Thanks for opening the issue and sorry for the problems. This is a duplicate of https://github.com/woocommerce/woocommerce/issues/27282, so closing this one. We're working on a solution in https://github.com/woocommerce/woocommerce/pull/27318 and will release a fix soon.

[2020-08-13 10:48] #27320 closed

[2020-08-13 10:53] peterfabian commented on #27316
I think the link in the email actually includes the screenshot: https://user-images.githubusercontent.com/69617349/90125649-aa2f9500-dd62-11ea-98ab-51ba3442dd76.JPG

@smassot please try to disable other plugins than WooCommerce and let us know if this problem still persists.

WP 5.5 removed jQuery-migrate, so you might need to use https://wordpress.org/plugins/enable-jquery-migrate-helper/ plugin

[2020-08-13 10:54] tammullen commented on #27321
Hi @rajsidhux

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-08-13 10:59] tammullen commented on #27319
Hi @justinkruit

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

![Screenshot 2020-08-13 at 11 56 54](https://user-images.githubusercontent.com/24649833/90126992-63d73780-dd5c-11ea-8cd2-cf40873eb97e.png)
![Screenshot 2020-08-13 at 11 58 17](https://user-images.githubusercontent.com/246

[2020-08-13 11:03] peterfabian commented on #27321
Hi @rajsidhux ,

Can you please check your browser console if you see any errors in there? WP 5.5 removed a javascript file called jQuery migrate that some of your plugins might have relied on, so until they update, you might want to use this plugin to include the javascript files in the meantime: https://wordpress.org/plugins/enable-jquery-migrate-helper/.

[2020-08-13 11:13] jayantrawat commented on #26532
Does anyone know how to do manually refund using REST API?

[2020-08-13 11:16] smassot commented on #27316
Hi,

Thanks for help with this plugin.

It was in fact my theme which wasn’t updated. Now, I install the new version of the theme, and everything works fine !

Have a good day

De : Peter Fabian <notifications@github.com>
Envoyé : jeudi, 13 août 2020 12:53
À : woocommerce/woocommerce <woocommerce@noreply.github.com>
Cc : smassot <sebastienmassot@me.com>; Mention <mention@noreply.github.com>
Objet

[2020-08-13 11:16] #27316 closed

[2020-08-13 11:22] rajsidhux commented on #27321
@peterfabian Thanks mate. Downloaded the plugin and it's fixed the issue.

Now how log do I need to keep that plugin installed?
Or will I need it installed from now on?

Thanks again.

[2020-08-13 11:49] peterfabian commented on #27321
@rajsidhux Thanks for reporting back.

Ideally, you need to identify which plugin is the culprit (by disabling them one by one and checking when it starts working again). After the plugin you identified gets updated, you can remove the plugin I linked.

[2020-08-13 11:49] #27321 closed

[2020-08-13 11:57] justinkruit commented on #27319
So I did those steps, and apparently the order was suddenly correct. Tested per plugin, and found out the bug is coming from WP Activity Log. [A bug report has already](https://wordpress.org/support/topic/update-4-1-31-broken-woocommerce-urgent/) been made and devs are looking into it. Sorry for confusing the Woocommerce plugin as the bug.

[2020-08-13 11:57] #27319 closed

[2020-08-13 12:03] bitsnaps commented on #12901
@KennyChan94 The last example worked for me, here [is](https://github.com/bitsnaps/WooAndroid/blob/master/app/src/main/java/com/designwall/moosell/activity/card/CardListAdapter.java) an example from Android client, any error msg?

[2020-08-13 12:43] alianjum14 opened #27322 "Gravity form product image gallery not showing on product page."
I have created a woo-commerce frontend product submission form by gravity form plugin. When I uploaded everything is working fine except product gallery images not showing on the product page. I have used _product_image_gallery filed to upload the product images and uploading without any error but not showing on the product page can anyone help me to sort out this advance thanks.

[2020-08-13 12:56] OneOfA11 commented on #20071
I am with custom order but I have over 20 attributes and want to move one from the second page to first and cannot because cannot change "Number of items per page:" for the Attributes. Any solution for this? Event with custom order it's not custom order in product variant.

[2020-08-13 13:27] AmandaRiu commented on #27292
That would absolutely work!

[2020-08-13 13:38] juliaamosova commented on #27235
Hi @editocom,

Thank you for reporting the issue and apologies for the delayed response. The queries seem to be caused by the WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-08-13 13:45] juliaamosova commented on #27245
Hi @moumitahalder,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-13 13:45] #27245 closed

[2020-08-13 13:46] juliaamosova commented on #27141
Hi @justinahsnyder,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-13 13:46] #27141 closed

[2020-08-13 13:47] juliaamosova commented on #27076
Hi @caribouman,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-13 13:47] #27076 closed

[2020-08-13 14:04] juliaamosova commented on #27322
Hi @alianjum14,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the Gravity Forms plugin which is not one of our products. To get further technical support for it, please contact the Gravity Forms support team [here](https://www.gravityforms.com/support/).

[2020-08-13 14:04] #27322 closed

[2020-08-13 14:16] ezybusy commented on #26054
**FOUND A SOLUTION**
I don't know if woocommerce developper would recommend that as a proper solution; but **YES IT WORKS**.

**Steps**

1. deleted the wp new created or unwanted users
2. deleted data in wp_wc_customer_lookup table in PHPMyAdmin
3. cleared the transient in woocommerce>status>tools
4. Download this plugin --> [https://wordpress.org/plugins/transients-manager/]
5. Go to Wp-admin > T

[2020-08-13 14:17] ezybusy commented on #26054
https://github.com/woocommerce/woocommerce/issues/26054#issuecomment-673505205

[2020-08-13 14:37] juliaamosova commented on #27308
Thanks for your follow-up @rudee24.

The variation doesn't have the status of `Draft`, only the parent product can be in `Draft` therefore, you should only edit the parent product row in the CSV file from `1` to `-1` to make it in `Draft`. The variations should stay as-is. You can see in my comment above that while the product becomes draft, the variations are still there, visible, in stock, and a

[2020-08-13 14:37] #27308 closed

[2020-08-13 14:41] rudee24 commented on #27308
Actually,
I was working on a site and client is uploading products in a bulk and they
are adding that published column in that last.
What they are doing there is rather than visiting each row individually,
they're just setting this column value to -1.
So in that case we can add a restriction in code to overwrite that value as
1 in vase of variations only.

On Thu, Aug 13, 2020, 8:07 PM Julia Amoso

[2020-08-13 15:09] juliaamosova commented on #27317
Hi @anant1811,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I made a screen recording to document how the screen reader reads the State field (it doesn't specify that the field that is being clicked on is the `State` field indeed):

https://cloudup.com/c117YXsPHla

Since this is related to accessibility, we should give it a high

[2020-08-13 15:13] vedanshujain commented on #27282
We are planning a fix release this week (4.3.3) to address the issue. Apologies for the inconvenience 🤦 .

[2020-08-13 15:33] rrennick opened #27325 "Test older version of jest for potential performance improvement"
Based on https://github.com/woocommerce/woocommerce-admin/pull/4942#event-3649803570 we should do a performance comparison of jest 24.9.0 on e2e test runs.

[2020-08-13 15:40] juliaamosova commented on #27264
Hi @ben72,

Thanks for the follow-up and apologies for the delayed response.

What kind of data do you have on your site? It is still not clear how to reproduce the issue.

Sorry, I am not sure there is enough information here either. Can you please clarify what pages do you expect to see the filter widgets and where do they not appear?

[2020-08-13 15:42] juliaamosova commented on #27149
Hi @codeminelab,

Apologies for the delayed response here. While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code

[2020-08-13 15:42] #27149 closed

[2020-08-13 15:55] #27282 closed

[2020-08-13 16:25] ObliviousHarmony commented on #27034
Hello @morganhvidt,

It's on my list to refactor this class & table to support operating without the order dependency. I'm going to mark this as an enhancement request and put it on my list. Feel free to submit a PR if you'd like though!

[2020-08-13 17:04] juliaamosova commented on #27281
Hi @thinkjarvisdesignandmarketing,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

Below are the steps I took to document the process:

1) I created a product without an image:

![1](https://user-images.githubusercontent.com/19143190/90160993-7eabab00-dd60-11ea-93b9-851f96f0e84d.jpg)

[2020-08-13 17:10] rrennick commented on #27250
@jbeales Thanks for the suggestion.

WooCommerce includes two triggers you could use the alter the captions `wc-product-gallery-before-init` and `wc-product-gallery-after-init`.

The current CSS/layout of the lightbox would only support limited rich content in the caption area. Supporting rich content would require providing some level of CSS/layout adjustment as well.

While we appreciate you sha

[2020-08-13 17:11] #27250 closed

[2020-08-13 17:14] thinkjarvisdesignandmarketing commented on #27281
Thank you for your attempts at re-creating the problem.
The uploaded to column is part of Wordpress core in the media library. The problem is that it does not get updated when products are imported in bulk.

If you were to browse to the Rick and Morty (love the test by the way) product and manually set the featured image while editing the product directly, the image becomes attached to the post. I

[2020-08-13 17:27] juliaamosova opened #27326 "[WP 5.5] Variations fields formatting is broken in WP 5.5"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

The variations field formatting is broken in WordPress 5.5.

**Here is how it looks in WordPress 5.4.2 + WooCommerce 4.3.2** - note the 3

[2020-08-13 17:29] juliaamosova commented on #27326
I am giving this issue `high` priority because the process of creating a variable product is very generic and many users encounter it and currently the layout looks a bit broken.

[2020-08-13 18:03] juliaamosova commented on #27268
Hi @madeincosmos,

Thank you for taking the time to report this bug. I can reproduce it on my end.

1) Created 2 products with the same category.

2) Created a Global Add-On using WooCommerce Add-Ons plugin:

![add-on](https://user-images.githubusercontent.com/19143190/90170108-86258100-dd6d-11ea-9fcd-d767a4d953c5.jpg)

3) Filtered products by category "Print" - 2 products appeared in the row as e

[2020-08-13 18:08] amichaidani opened #27327 "Flexslider image gallery not responding after clearing a default variation selection."
**Prerequisites**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
On touch devices:
The bug occurs when using flexslider, for a single product image gallery, and viewing a variable product with a default variation. When loading the page, the

[2020-08-13 18:45] juliaamosova commented on #27266
Hi @rkhoury82,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

I've tried the cases you suggested:

<hr>

**Case 1: 1 admin email + 2 non-admin emails:**

I set up 3 email addresses to receive new order notification email:

![3emails](https://user-images.githubusercontent.com/19143190

[2020-08-13 18:45] #27266 closed

[2020-08-13 19:07] jbeales commented on #27250
😢 Thanks for the feedback @rrennick. I had somehow missed the `wc-product-gallery-before-init` and `wc-product-gallery-after-init` events in as I was going through the code before.  They don't actually solve my problem, but I found an, (apparently blessed), way to access the `ProductGallery` object, so I can override the `getGalleryItems()` method. It's not ideal - I would still prefer to pass eac

[2020-08-13 19:18] t3chlady opened #27328 "Variation Selection of Attributes Not Updating"
Using a URL similar to this:   https://www.store.com/wp-json/wc/v3/products/9999/variations/1111

And Data in the body:
{
    "attributes": [
        {
            "id": 2,
            "name":"Color",
            "option":"SOFT BEIGE"
        }
    ]
}

Does not populate the array of selected attributes for the variation.  Attributes always comes back empty.
We have been manually selecting the cor

[2020-08-13 19:19] t3chlady commented on #27328
Have tested with PUT and when that failed, tried POST but neither works.

[2020-08-13 19:52] renatho commented on #26724
Hi @juliaamosova ! No worries! 😊

I didn't find a solution. I tested now and it didn't happen, but I don't know if it was fixed with another change because it happens eventually.

But any server error, still points to that folder. Even in Travis, like this in some warnings: https://travis-ci.org/github/Automattic/sensei/jobs/713735399.

Any other information you need about this, feel free to ask m

[2020-08-13 19:53] juliaamosova commented on #27327
Hi @amichaidani,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

I tested on the Pixel 4 phone.

Documenting my steps below:

I have a variable product with images where the green hoodie is the main product image:

![green](https://user-images.githubusercontent.com/19143190/90179520-8

[2020-08-13 20:03] amichaidani commented on #27327
Hello,

Thank you for your reply!

I'm testing on chrome 84.0.4147.105 on windows, using touch simulation.
Also, it happens on latest iOS, on iPhone XS and above. (at least!)

I'm attaching video, recorded on chrome desktop.
[http://www.mediafire.com/file/jxhdmoy8edtyto1/file](url)

Once again, thank you!

[2020-08-13 20:54] cfficaurzua opened #27329 "500 error when action woocommerce_checkout_update_order_review is added"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2020-08-13 20:55] santanamic opened #27330 "WooCommerce Code Reference"
I noticed changes in the documentation. This is horrible compared to before. Woocommerce had the best documentation for an open source project. Now everything is an unproductive mess.

[2020-08-13 22:12] claudiosanches commented on #26899
@simplenotezy please share all settings of the coupon, I want to reproduce using the same coupon if possible, but I can't find any place, only in the video, but you pass there very quickly, so please paste here all information necessary to set this coupon.

[2020-08-14 00:06] Farhadsaadatpei commented on #14212
@nirmalgoswami The solution doesn't work anymore. It throws the following error:

`Fatal error: Uncaught Exception: Invalid data store. in /var/www/html/wp-content/plugins/woocommerce/includes/class-wc-data-store.php:101 Stack trace: #0 /var/www/html/wp-content/plugins/woocommerce/includes/class-wc-data-store.php(139): WC_Data_Store->__construct('product') #1 /var/www/html/wp-content/plugins/wooco

[2020-08-14 01:12] flamingtop opened #27331 "Force WC cookies to be SameSite=None;Secure?"
Is there a way to force woocommerce cookies to have SameSite=None;Secure? Asking because my site must share state with a 3rd party shipping service which takes the customer out of my site temporarily and let him pick shipping address then return to my site. I need share woocommerce state with this 3rd party service. Right now all the WC cookies seems to have no specific SameSite values which will

[2020-08-14 01:50] ktchan1811 commented on #26054
Hi,

Thank you very much for your kind advice. I will try it later. Really appreciated your kind assistance on this matter.

Sent from my iPhone📱, KT Chan 📩

[2020-08-14 03:42] devNigel opened #27332 "Contact Form is not rendering in WooCommerece Shop page if there are no products."
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Contact Form added using Jetpack is not rendering on the page that is set as the WooCommerce Shop page **if there are no products**. Inst

[2020-08-14 06:55] #26006 closed

[2020-08-14 09:19] vedanshujain commented on #27282
We have pushed a new release to address, please update if you are facing this issue!

[2020-08-14 10:00] gevcen opened #27333 "Compatibility with WordPress 5.5 : "Unknown""
Dear,

I just saw you released a new update of WooCommerce but it displays that compatibility with WordPress 5.5 is "unknown"

Is it possible to update this flag to make sure everything is ok before upgrading to 5.5 ?
Thanks

![image](https://user-images.githubusercontent.com/51261962/90238131-b892b500-de25-11ea-9bf1-32c3e35d9330.png)

[2020-08-14 10:50] peterfabian commented on #27333
Thanks for the nudge, updated.

<img width="1019" alt="Screenshot 2020-08-14 at 12 50 39" src="https://user-images.githubusercontent.com/2207451/90242158-c8fa5e00-de2c-11ea-90f8-8e5ec6baaa3d.png">

[2020-08-14 10:50] #27333 closed

[2020-08-14 10:53] peterfabian commented on #27330
Hi, thanks for the feedback! Can you please be more specific about what you don't like about the new documentation?
Unfortunately, the previous one we had hasn't been updated for quite some time, so we started using a new PHPDoc tool, but maybe we can make it useful to you again?

[2020-08-14 11:16] sheggietyn opened #27335 "Country and Region not showing in my account Billing and Shipping Address for users"
Please the country form field is not showing on shipping and billing address in my account page for my users, what could be the problem, i have tried out every possible solution but it still not working

thanks

[2020-08-14 11:28] smsalman75 opened #27336 "woocommerce plugin"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Installation failed: Could not copy file. woocommerce/packages/w

[2020-08-14 11:28] BackuPs opened #27337 "auto update warning"
I get dozens of these in my admin area going to the plugins tab.  It does not matter what version i run 4.3.3 or 4.4.0 rc1

also wp 5.5 or wp 5.6-alpha-48790 does not change this.

Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'auto_update_woocommerce' not found or invalid function name in /var/docs/server.tst/public/wp-includes/class-wp-hook.php on line 287

[2020-08-14 11:35] smsalman75 opened #27338 "woocommerce plugin"
![Screenshot_2020-08-14 Add Plugins](https://user-images.githubusercontent.com/69281065/90245364-344b2c80-de3b-11ea-98d0-49250aa31b95.png)

Any solution, please?
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help gu

[2020-08-14 11:50] treibalen opened #27339 "Adding "Standard" to the list of additional tax classes hides rates from Standard rates tab"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If I add `Standard` to `Additional tax classes` in WooCommerce > Settings > Tax, it hides rates from the Standard rates tab.

**Expected be

[2020-08-14 12:37] rrennick commented on #27250
Added.

[2020-08-14 14:08] stefanos82 opened #27340 "Bug in Quick Edit with the use of jQuery UI 1.12.1"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Since the announcement of [updating jQuery](https://make.wordpress.org/core/2020/06/29/updating-jquery-version-shipped-with-wordpress/), I

[2020-08-14 14:11] hirewebsolutions commented on #27282
Thank you!

[2020-08-14 15:39] redelschaap commented on #27282
I can confirm that version 4.3.3 fixes this issue for us.

[2020-08-14 16:06] rrennick opened #27341 "Investigate avoiding missing docker versions"
This is a followup to #27113.

There maybe a location where these can be looked up to see if they have been created.

[2020-08-14 17:20] ezybusy commented on #26054
You welcome

[2020-08-14 17:51] Zakrazy opened #27342 "I am trying to upload CSV file and it is keep getting stuck. I have also tried to make pieces of the file But still stucking."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-14 17:52] Zakrazy commented on #27342
Woocommerce Import functions stucks always

[2020-08-14 18:30] #27288 closed

[2020-08-14 18:34] juliaamosova commented on #27335
Hi @sheggietyn,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2020-08-14 18:34] #27335 closed

[2020-08-14 18:41] juliaamosova commented on #27338
Hi @smsalman75,

Thanks for raising the issue and sorry to hear about the troubles. Are you still not able to install WooCommerce? If so, can you please provide details about what version of WordPress you are using and what is your hosting company? Knowing the PHP version may also help to us. Do you have any other plugins installed on your site? What theme are you using?

[2020-08-14 18:43] juliaamosova commented on #27336
Hi @smsalman75,

Thank you for reporting the issue. However, it looks like you also reported this issue here https://github.com/woocommerce/woocommerce/issues/27338. We are closing this issue in favor of another one you submitted. Please continue sharing your feedback there if needed.

[2020-08-14 18:43] #27336 closed

[2020-08-14 18:47] juliaamosova commented on #27337
Hi @BackuPs,

Thanks for raising the issue. Can you please confirm if you are using the [WooCommerce Beta Tester](https://wordpress.org/plugins/woocommerce-beta-tester/) plugin to switch to development versions of WooCommerce?

If so, these warnings are caused by the WooCommerce Beta Tester plugin - we have an issue filed for it as well: https://github.com/woocommerce/woocommerce-beta-tester/issue

[2020-08-14 19:12] juliaamosova commented on #27342
Hi @Zakrazy,

Thanks for raising the issue. However, you did not fill out the but report template. It will be helpful to us if you could provide us with at least the System Status Report and also if you could ensure that you've done themes and plugins conflict which may cause an issue.

To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [St

[2020-08-14 20:15] rrennick opened #27343 "Remove classes deprecated version 3.0 or earlier"
This is a parent issue for removing classes that were deprecated in WooCommerce version 3.0 or earlier. This is in milestone 5.0 as removing these will be breaking changes.

### Classes

- [ ] Legacy Api
- [ ] Legacy Shipping Methods
- [ ] Legacy Abstract Order
- [ ] Legacy Abstract Payment Token
- [ ] Legacy Abstract Product
- [ ] Legacy Coupon
- [ ] Legacy Customer

[2020-08-14 21:59] gdarko opened #27344 "Add priority order for My Account menu items"
**Is your feature request related to a problem? Please describe.**
Yes. It's difficult to order the menu items in the My Account section.

**Describe the solution you'd like**
I would implement a priority property like the Checkout fields. This seems to be doable, there can be also backwards compatibility with the current style for those that already uste the filter `woocommerce_account_menu_items

[2020-08-14 21:59] juliaamosova commented on #27340
Hi @stefanos82,

Thank you for submitting the issue. However, I can’t reproduce it - there aren't enough steps to replicate the error.

Are you referring to `Quick edit` option on the product?

![quick_edit](https://user-images.githubusercontent.com/19143190/90295571-594d9880-de57-11ea-9edc-080c414abd4e.jpg)

I did test it and there were no errors either when I clicked on `Quick edit` or edited an

[2020-08-14 22:08] juliaamosova commented on #27340
Noting here as well that we have an issue created to check our code is ready for jQuery v3 in WP 5.6: https://github.com/woocommerce/woocommerce/issues/27243.

[2020-08-14 22:20] juliaamosova commented on #27339
Hi @treibalen,

Thanks for the very detailed report and investigating what is happening behind the scenes. I can reproduce the behavior described.

The priority of this issue to be fixed seems `low` to me compared to others reported, therefore, I am marking as such. However, please feel free to let us know that you think the priority should be bumped to `high`.

[2020-08-14 22:38] stefanos82 commented on #27340
Hey @juliaamosova, thank you for testing my issue.

Yes, what I have done was to follow the suggestions of @azaozz from https://make.wordpress.org/core/2020/06/29/updating-jquery-version-shipped-with-wordpress/ and choose all three available options and the error happened when I switched from 1.11.4 to 1.12.1.

The error is shown here in dev tools console:
![image](https://user-images.githubuserco

[2020-08-14 22:42] stefanos82 commented on #27340
I will investigate my whole system and if I detect any silly thing from my side, I will come back and report the actual cause behind this behavior.

[2020-08-14 22:51] stefanos82 commented on #27340
OK, I have tried the plugin on a vanilla WooCommerce and the problem triggers when both jQuery 3.5.1 and jQuery 1.12.1 are used:
![image](https://user-images.githubusercontent.com/1777466/90298074-6b502b00-de99-11ea-9d8c-946f35e33e64.png)

* I have tried the default jQuery with the latest UI version; works fine.
* I have tried the default jQuery UI with jQuery 3.5.1; works fine.
* As soon as I cho

[2020-08-14 23:05] juliaamosova commented on #27332
Hi @devNigel,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end in both the Twenty Twenty and Storefront theme so the issue doesn't seem to be theme related.

Noting that Jetpack's Contact Form block appears fine in the back-end:

![Screen Shot 2020-08-14 at 6 52 26 PM](https://user-images.githubusercontent.com/19143190/90298483-7aff4d8

[2020-08-14 23:07] juliaamosova commented on #27331
Hi @flamingtop,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help fur

[2020-08-14 23:07] #27331 closed

[2020-08-14 23:08] juliaamosova commented on #27201
Hi @awaidanjum,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-14 23:08] #27201 closed

[2020-08-14 23:19] stefanos82 commented on #27340
Chrome is much more descriptive about the actual issue.

Here's the error:
![image](https://user-images.githubusercontent.com/1777466/90299129-9dfc2280-de9d-11ea-9297-651fc635e8a9.png)

Here's the code formatted:
![image](https://user-images.githubusercontent.com/1777466/90299153-b9672d80-de9d-11ea-899a-1a69046e2efd.png)

[2020-08-15 04:02] devNigel commented on #27332
Thank you for the response @juliaamosova. Good to hear it's being worked on. :)

[2020-08-15 04:21] #27329 closed

[2020-08-15 06:09] ktchan1811 commented on #26054
Hi,

I have try step by step using your kind method and it works. Thank you again for the assistance

[2020-08-15 06:58] Zakrazy commented on #27342
There are 505 Products. I have been trying to break down the CSV file in to 4 Pieces. and I have also tried with disabling all the plugins & Changing theme to storefront.

[2020-08-15 07:40] BackuPs commented on #27337
Hi

Yes i am using the woocommerce beta tester plugin. Thank you for the additional information.

[2020-08-15 08:24] Zakrazy commented on #27342
it always uploads 305 Products and Publishes 275. then stucks
![Capture](https://user-images.githubusercontent.com/49778803/90308641-87d07f80-defa-11ea-955c-154099b821b6.JPG)

[2020-08-15 11:22] ezybusy commented on #26054
You welcome.

[2020-08-15 12:01] Milhail11 opened #27346 "Woocommerce отображается неправильно в WordPress"
![Screenshot_3](https://user-images.githubusercontent.com/69718443/90311848-d0139000-df42-11ea-8cf7-5a85b4117130.jpg)

[2020-08-15 14:28] ben72 commented on #27264
Hi @juliaamosova OK I'm not sure how you tested this? But I made a vanilla install of WP 5.5 and latest WC. I added two products with global attributes size and color and a couple of filter widgets: attribute color, attribute size and price.

They were all present in the sidebar but when I updated to WC 4.4.0-rc.1 they were gone upon refresh except the price filter.
Are you not able to reproduce t

[2020-08-16 12:12] nielslange opened #27349 "Product type dropdown not visible due to plugin conflict"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When having the plugins [WooCommerce](https://wordpress.org/plugins/woocommerce/) and [Cool Timeline](https://wordpress.org/plugins/cool-t

[2020-08-16 12:29] 100pa commented on #27349
I have excactly the same problem but with **mb.YTPlayer for background videos** plugin.

No idea where it came from but you post inspired me to deactivate my plugins, thanks

[2020-08-16 17:41] payalord commented on #15207
Your example helped me a lot, thanks. Exactly what i was looking for.

[2020-08-17 01:11] JessiDG opened #27350 "No orders showing"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
For the past month and more, when I login to see my orders to do fulfillment, the All setting for the orders does not show any of my orde

[2020-08-17 01:12] JessiDG commented on #27350
Nevermind, it was a WooCommerce plugin update issue.

[2020-08-17 01:12] #27350 closed

[2020-08-17 04:31] kihoshin opened #27351 "Can not add shipping class, shipping method"
Just updated WooCommerce to 5.5, now I can not add any Shipping Class, Shipping Method.

[2020-08-17 05:19] palksueto commented on #27349
I have excactly the same problem but with **Gutenberg Page Builder - Kioken Blocks** plugin.

[2020-08-17 05:26] om4james commented on #26847
Hi @ObliviousHarmony , I like the idea of re-thinking when the authentication is performed. Moving it from `determine_current_user` to `rest_api_init` instead makes sense.

However, would it cause a backwards compatibility problem for anyone that is relying on the current behaviour? I imagine it could if someone has custom code that is relying on it occurring during `determine_current_user`.

This

[2020-08-17 07:01] madeincosmos commented on #27268
Low priority sounds good to me, thank you 😊

[2020-08-17 09:49] juliquiron commented on #26925
Hi @vedanshujain I think this PR may introduce some of your suggestions: https://github.com/woocommerce/woocommerce/pull/27352  Would you might to check and provide feedback on it? Thanks!

[2020-08-17 11:18] tammullen commented on #27346
Hi @Milhail11

Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.
​

​

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue.

[2020-08-17 11:52] tammullen commented on #27349
Hi @nielslange

The issue you are having seems to be caused by the 3rd party plugin you mentioned.
​
WordPress 5.5 removed a javascript file called jQuery migrate that some of your plugins might have relied on, so until they update, you might want to use this plugin to include the javascript files in the meantime: https://wordpress.org/plugins/enable-jquery-migrate-helper/.

Please contact the aut

[2020-08-17 12:01] tammullen commented on #27351
Hi @kihoshin

Thank you for submitting the issue.

It may be that you have plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then

[2020-08-17 13:23] remothai opened #27353 "I can't adjust number of data in pignation"
the default value is 20 numbers of attribute to be shown but I tried adjusting many times but it never changed

[2020-08-17 13:26] #25955 closed

[2020-08-17 15:52] bizlond opened #27355 "''Generate Aliexpress key'' button not working"
**Expected result:**

Clicking on 'Generate Aliexpress Key'' button should open a box with information that the key has been sent to my e-mail.

**Actual result:**
Clicking on 'Generate Aliexpress Key'' is not working and did not open any box.

[2020-08-17 15:56] peterfabian commented on #27269
Sorry for the late response.

We are not aware of any issues with replacing the relative paths, so from our perspective, please go ahead and let us know if you need any help with problems you (potentially might) run into.

[2020-08-17 15:58] tammullen commented on #27353
Hi @remothai

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2020-08-17 16:17] claudiosanches commented on #27056
Closed by https://github.com/woocommerce/woocommerce/pull/27057

[2020-08-17 16:17] #27056 closed

[2020-08-17 16:25] juliaamosova commented on #27233
Hi @Helpguy01,

Thanks for your patience while we were discussing this with the WooCommerce Core team. We have assigned this to be a `high` priority to implement in order to address this issue for larger stores such as the one you are working with. We are going to work on this issue as soon as possible.

It won't make it to the upcoming WooCommerce 4.5 release in September but it is possible we ca

[2020-08-17 17:03] helgatheviking commented on #27102
Possibly related (and possibly more of a question) but why do the error notices display as an [unordered list](https://github.com/woocommerce/woocommerce/blob/f25967d57bc50c2906c94c111966d1bdbac04d1f/templates/notices/error.php#L27)? While the other notices display each in a [new div element](https://github.com/woocommerce/woocommerce/blob/f25967d57bc50c2906c94c111966d1bdbac04d1f/templates/notices

[2020-08-17 17:45] rrennick opened #27356 "Remove class method deprecated version 3.0 or earlier"
This is a parent issue for removing class methods (in non-deprecated classes) that were deprecated in WooCommerce version 3.0 or earlier. This is in milestone 5.0 as removing these will be breaking changes.

### Class Methods

- [ ] WC_Admin_Duplicate_Product
  - get_product_to_duplicate
- [ ] WC_Emails
  - order_schema_markup
- [ ] WC_Order_Refund
  - get_refund
  - get_refund_amount
  - get_refu

[2020-08-17 17:49] rrennick opened #27357 "Move procedural functions deprecated version 3.0 or earlier to deprecated functions file"
This is a parent issue for removing classes that were deprecated in WooCommerce version 3.0 or earlier. This is in milestone 5.0 as removing these will be breaking changes.

### Procedural Functions

- [ ] includes/wc-deprecated-functions.php
  - get_product
  - woocommerce_protected_product_add_to_cart
  - woocommerce_empty_cart
  - woocommerce_load_persistent_cart
  - woocommerce_add_to_cart_mes

[2020-08-17 18:02] #25133 closed

[2020-08-17 18:24] tammullen commented on #27355
Hi @bizlond

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by a 3rd party plugin.
​
Please contact the author of the plugin directly for further help.

I am closing this issue for now as it seems to be a 3rd party support request and not a bug. If I missed s

[2020-08-17 18:24] #27355 closed

[2020-08-17 18:29] bizlond commented on #27355
Thanks Tammullen. I bought the 'Woocommerce dropshipping' extension from Woocommerce. I installed and activated it but when it got to generating key for dropshipping, the button did not work.

[2020-08-17 18:40] johndcoy opened #27359 "Regenerating product tables does not account for deleted orders"
**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The issue started when looking for differences between the best seller shortcode ( `[products limit="3" columns="3" best_selling="true" ]` ) and

[2020-08-17 18:54] mikeecho2 opened #27360 "White space character"
![Image1](https://user-images.githubusercontent.com/36819653/90433471-28c26480-e0cc-11ea-93a9-3900396f78e6.jpg)
![Image2](https://user-images.githubusercontent.com/36819653/90433474-29f39180-e0cc-11ea-9cd0-7fa86e017091.jpg)

There is an extra space in
/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.js
/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js
which is cau

[2020-08-17 19:09] mikejolley opened #27361 "Trigger email sending via API"
From https://github.com/woocommerce/woocommerce/issues/13231

Will require https://github.com/woocommerce/woocommerce/issues/13738

[2020-08-17 19:12] WPprodigy opened #27363 "WC Settings API"
# Settings API

Currently, WC settings are declared for each individual settings page first, then some are added to the API using filters.

This is a proposal to reverse that, and declare all the settings first for the REST API.

### Goal:

Create a full settings API for WooCommerce that contains all of the core settings.

Along with the benefits listed below, this also helps prevent the current p

[2020-08-17 19:16] mindgraffiti opened #27365 "GET all orders returns orders for deactivated extensions"
https://github.com/woocommerce/woocommerce-ios/issues/242

Example site: https://nuoshoppe.mystagingwebsite.com/
Deactivated extension: Deposits

## Steps to Reproduce
1. Set up a site with the Deposits extension activated.
2. Create an order that uses Deposits.
3. Make an API request for a list of orders. `GET /wp-json/wc/v2/orders`
4. Deactivate Deposits.
5. Make an API request.

**Expected Resu

[2020-08-17 19:27] callumstrubi opened #27366 "Product image sync options, append image, remove image by ID"
Currently the only option (in v2) to manage images is to replace all images on a product, which in turn causes media to be orphaned (and not deleted). It would be great to be able to append a new image to the list of the existing ones, without having to re-upload all of them (and orphan old ones). Additionally, getting ID numbers for the product as part of the response would be really good, so tha

[2020-08-17 19:37] jaclync opened #27369 "Validation on parameters of numeric string type"
Hello! We are using the WC v3 API to update a WC Product in the WC mobile apps. During my testing, I noticed that passing a non-decimal string to the Product weight, dimensions, regular/sale price where a numeric string is expected would fail silently. An example: passing a non-decimal string to the Product weight and dimensions:

API request body:
[code]

API response:
[code]

The weight/dimensio

[2020-08-17 19:38] Lalitchaudhary2 opened #27370 "Filter Product List by Mutiple attribute and its attribute terms in Woocommerce Rest API"
i am developing mobile application to connect WooCommerce wordpress V3 rest API in iOS and Android.

i am getting the product list from Rest API

"wp-json/wc/v3/products"

i am able to filter product using

"wp-json/wc/v3/productscategory=241&attribute=pa_flavor&attribute_term=301"

and filter multiple attribute term using

"wp-json/wc/v3/products?attribute=pa_flavor&attribute_term=301,302,305".

[2020-08-17 19:48] pmusolino opened #27374 "Product update v3 endpoint: passing null on sale period doesn't work properly"
**Describe the bug**
I’ve discovered a little problem with an endpoint while I’m trying to update a product sale period in [the mobile app](https://github.com/woocommerce/woocommerce-ios).
Endpoint: `/wp-json/wc/v3/products/<id>`. [DOC](https://woocommerce.github.io/woocommerce-rest-api-docs/#update-a-product)

I tried to set the `date_on_sale_from_gmt` and `date_on_sale_to_gmt fields` and everyth

[2020-08-17 20:00] FireRedDev commented on #25133
Hi! Will this fix the issue for past orders too or only future orders?

[2020-08-17 20:46] claudiosanches commented on #25133
Only for future orders. No one could give me proper steps to reproduce it, but by my tests seems that it's possible to build some requests where you can insert variations missing some attribute to the cart and after create an order with missing those attributes too, and in those cases there's no entry in the database, we can't try to guess what suppose to be the attribute, because it will cause on

[2020-08-17 21:15] claudiosanches commented on #27373
There's already a filter inspired by WP core `rest_pre_insert_{$taxonomy}`, we have this filter since the first release of our REST API: https://github.com/woocommerce/woocommerce/blob/49a9ab4437b1acb95ff03cd894b5be2849d0062c/includes/rest-api/Controllers/Version3/class-wc-rest-terms-controller.php#L431

There's an extra parameter that indicates if it's inserting or updating.

cc @vedanshujain

[2020-08-17 21:15] #27373 closed

[2020-08-17 21:22] claudiosanches commented on #27368
This is done intentionally, we also hide the author meta box in the Product screen, and in our CRUD we don't fetch any information like that, we only set the current user, so the author will be the user that is creating the product using the REST API.

I'm closing this issue because this isn't something that we plan to include in the REST API, since we don't even support it in the WP interface.

[2020-08-17 21:22] #27368 closed

[2020-08-17 21:51] Chouby commented on #27373
@claudiosanches Sorry but I believe that it's not the same. Your action  `woocommerce_rest_insert_{$taxonomy}` is indeed inspiredd by the similar WordPress action `rest_insert_{$this->taxonomy}` which is fired after the term is inserted in DB. But I found nothing that could act as the filter `rest_pre_insert_{$taxonomy}` that I requested. It's a filter and not an action and it is applied before th

[2020-08-18 00:40] Peter-27 commented on #27070
Hello, still waiting for a response to this please.

[2020-08-18 03:40] remothai commented on #27353
I want to sort product attributes customly but I can't. The pagination,
under the screen option is fixed at 20 items per page.

[image: image.png]
I tried several times putting in more number and less number it didn't
work. I'm not a coder so I don't know where exactly I can get the code to
be reviewed. Please suggest.

ขอบคุณครับ,
*พิชัย*
ฝ่ายขายโรงงาน
*บริษัท ก.เจริญฮาร์ดแวร์ จำกัด*
ผู้จำหน่าย ส

[2020-08-18 08:23] starypop commented on #27330
Hi @peterfabian!

I've got some improvement/fix ideas:

1. Restore a way to browse the source code of methods and clasess. In the previous version it was possible by clicking the name of the file that contains a method. Now I cannot find it, so the whole code reference is kinda useless for me.
2. Remove underline from links in the first column with method names, because there's no way to see the u

[2020-08-18 13:46] simplenotezy commented on #26899
Okay, so a bit more testing has been done, and I must admit the case is extremely weird.

I noticed the following: setting a product as "Taxable" to "None" would give the correct discount on product.

Then I did more testing and noticed the code was structured like so:

    // $order->add_product($product, 1)
    // $order->apply_coupon('50-percent-off')
    // $order->calculate_totals();
    // $

[2020-08-18 14:00] rrennick commented on #27341
The docker image bots run daily so to code a check we'd need to filter out tags created in the last 48 hours. The only way I found to do this would involve cloning the respective repos. Adding a note to the documentation seems like a good alternative. I'll also look at the possibility of incorporating an appropriate error message in the `docker:up` script.

[2020-08-18 14:04] Helpguy01 commented on #27233
Hi @juliaamosova this is excellent news! I unfortunately will have to hold out increasing my store size and will have to wait for the update.

When details are final about which Woocommerce update the above mentioned issue will be released with, the sharing of this "exact date" will be much appreciated as this will greatly assist in our planning moving ahead.

Look forward to hearing from you.

[2020-08-18 14:37] elenvaleeva opened #27380 "Исчезла кнопка ОБНОВИТЬ в закладке Товары Добавить"
Добавление Товаров в магазин. Исчезла кнопка ОБНОВИТЬ и вся верхняя часть

![image](https://user-images.githubusercontent.com/69858012/90526709-28889e80-e18a-11ea-9a66-812634d471c3.png)

Сейчас добавить товар в магазин не получается соответственно

[2020-08-18 14:37] hebaazmat opened #27381 "Product Type option not appearing"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Hi there,

There was a dropdown option next to "Product Type" which isn't appearing anymore as now I am unable to see the below options.

[2020-08-18 15:01] steroyle opened #27382 "woocommerce_enqueue_styles filter is no longer removing WooCommerce styles."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I've been using the "woocommerce_enqueue_styles" filter as described in the [WooCommerce Docs](https://docs.woocommerce.com/document/disabl

[2020-08-18 16:47] haliliegzon opened #27383 "Products on sale do not update"
Done.

[2020-08-18 16:53] Kipperlenny opened #27384 "Dependency Container conflict: Error 500 with 4.4.0 with WP Rocket, Phlox Theme and others"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After Update for Woocommerce 4.4.0 all my Websites had an Error 500.
After renaming WP Rocket plugin folder, the Error was gone.
This was t

[2020-08-18 17:11] Aljullu opened #27385 "Twenty Twenty: error notices are displayed horizontally one next to the other"
**Steps to reproduce**

1. Switch your theme to Twenty Twenty.
2. Create a page with some lorem ipsum text but without any WC block or shortcode (ie: `my-page`).
3. Edit a product so it can only be added once to the Cart.
![imatge](https://user-images.githubusercontent.com/3616980/87408703-27c97f00-c5c4-11ea-9ebb-c2dfdcc5472e.png)
4. Go to `https://one.wordpress.test/my-page/?add-to-cart=19` (repl

[2020-08-18 17:12] seb86 commented on #27384
@Kipperlenny I actually had the same issue and found that I needed to update WP Rocket to 3.6.3 to remove that issue but I think it's really related to JetPack and the autoloader. I had to disable both WP Rocket and JetPack to gain access to the WP Dashboard again. After updating WP Rocket and re-activating. The error did not show. However, when updating JetPack and try to re-activate it I get the

[2020-08-18 17:14] Kipperlenny commented on #27384
My WP Rocket is on 3.6.3 :-) That does not help - and it's not only WP Rocket, it's Jetpack and Phlox Theme as well.

[2020-08-18 17:16] seb86 commented on #27384
OK I just updated WC to 4.4.0 and got the same error as you @Kipperlenny again. This is odd. Might have to contact WP Rocket for this particular error but there is still a JetPack related issue here too.

[2020-08-18 17:16] Aljullu opened #27386 "Twenty Twenty: messages display the call to action button on the left instead of the right"
**Steps to reproduce**

1. Switch your theme to Twenty Twenty.
2. Go to `https://one.wordpress.test/cart/?add-to-cart=19` (replacing `one.wordpress.test` with your test site URL and `19` with the ID of a product).
3. Look at the notice that appears on top of the screen.
![imatge](https://user-images.githubusercontent.com/3616980/90544303-41438500-e187-11ea-9f39-4c95eb4a5066.png)

**Expected result

[2020-08-18 17:16] DanielRuf commented on #27384
Not sure if namespaced dependencies are used but this would prevent such issues in the longterm:

https://github.com/humbug/php-scoper
https://github.com/coenjacobs/mozart
https://github.com/TypistTech/imposter-plugin

So the composer autoloader will not use the wrong class / dependency with a different interface.

[2020-08-18 17:17] Kipperlenny commented on #27384
I contacted WP Rocket and others contacted their theme support. But it's a WooCommerce Bug I think.
I guess @DanielRuf is right, they have to check their namespaces... or other composer autoloader stuff...

[2020-08-18 17:24] claudiosanches commented on #26899
@simplenotezy Thanks for giving me full details of the your custom implementation.

This happens because there's no proper tax information on your implementation, so `$order->calculate_totals()` will calculate with the standard values.
Instead you need:

[code]

It should solve everything for you.

You can also check how we does it by ajax in:

https://github.com/woocommerce/woocommerce/blob/02cf0

[2020-08-18 17:31] seb86 commented on #27384
I tried rolling back JetPack to previous versions but the same autoloader error returns when activating.

Funny how I had JetPack activated before and was working with the current version of WooCommerce I had but if WooCommerce runs packages first, JetPack gets kicked so this needs to be fixed asap.

[2020-08-18 17:55] maddogprod commented on #27305
I'm having the same issue (though I approach it differently). I use simple HTML code in the products titles for colors and line breaks. It's always worked fine. With the new update the HTML parses on the Category Pages (using shortcodes) but doesn't parse on the Product Page and displays the HTML.

I had to roll back to the last version of WooCommerce. Parsing the HTML is important. Weirder is tha

[2020-08-18 18:03] juliaamosova commented on #27380
Hi @elenvaleeva,

Please note that we reply to bug reports in the English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

I am sorry to hear about the trouble. Can you please confirm what version of WooCommerce and WordPress are you using? This bug had been fixed in WooCommerce 4.3.2 if you are usi

[2020-08-18 18:07] DragonEnergy opened #27388 "Fatal Error after update"
updated to 4.4.0
Fatal error: Declaration of Automattic\WooCommerce\Internal\DependencyManagement\ExtendedContainer::get($id, bool $new = false) must be compatible with League\Container\Container::get($alias, array $args = Array) in ~/html/wp-content/plugins/woocommerce/src/Internal/DependencyManagement/ExtendedContainer.php on line 18

[2020-08-18 18:11] UsamaYaqoob100 opened #27389 "After update getting error "you website have critical error""
After update 3 hours ago getting an error to the website that "your website has critical error" after disabling the Woo-commerce plugin site is working but what we do without this plugin?

[2020-08-18 18:12] juliaamosova commented on #27381
Hi @hebaazmat,

I am sorry to hear about the trouble. This bug had been fixed (https://github.com/woocommerce/woocommerce/pull/27170) in WooCommerce 4.3.2.

Can you please check if there are any errors in the browser console and also if there are any errors in the logs?

In addition to that, it will be great if you could test your site for themes and plugins conflict.

To do that, you’d need to de

[2020-08-18 18:21] Ceaco commented on #27389
I have same problem here. The new update crashed the site and sadly i have no backup for 4.3.3. A 4.3.3. version would fix the issue if somebody have it.

[2020-08-18 18:24] rrennick commented on #27389
@Ceaco There were no DB updates in WC 4.4.0 so you should be able to reinstall 4.3.3.

[2020-08-18 18:25] DragonEnergy commented on #27389
I rolled back to 4.3 the issue is with 4.4.0 so far I am still uploading the woocommerce file via FTP and issue went away. avoid the new 4.4 update for now

[2020-08-18 18:25] juliaamosova commented on #27381
@hebaazmat,

It is highly likely that the issue you are having is caused by one of the 3rd party plugins on your site.
​
WordPress 5.5 removed a javascript file called jQuery migrate that some of your plugins might have relied on, so until they update, you might want to use [Enable jQuery Migrate Helper](https://wordpress.org/plugins/enable-jquery-migrate-helper) plugin to include the javascript f

[2020-08-18 18:26] Ceaco commented on #27389
@rrennick how can I roll back to 4.3.3? Or how can i reinstall it if i don't have the zip archive?

[2020-08-18 18:27] DragonEnergy commented on #27389
https://github.com/woocommerce/woocommerce/releases/tag/4.3.0

[2020-08-18 18:28] DragonEnergy commented on #27389
Add via FTP

[2020-08-18 18:29] mathiasdb commented on #27384
Just riding along this ticket. I'm having a similar error.
Quick workaround for now until this gets fixed:

1. rename wp-content/plugins/woocommerce directory ( this disables the plugin )
2. gain access to the dashboard again, clear all WP Rocket caches
3. disable WP Rocket (this isn't essential, it's optimization)
4. rename wp-content/plugins/woocommerce back to its original name
5. re-activate w

[2020-08-18 18:31] juliaamosova commented on #27380
@elenvaleeva, It is highly likely that the issue you are having is caused by one of the 3rd party plugins on your site if you are using WooCommerce 4.3.2 and above and the issue is present.
​
WordPress 5.5 removed a javascript file called jQuery migrate that some of your plugins might have relied on, so until they update, you might want to use [Enable jQuery Migrate Helper](https://wordpress.org/p

[2020-08-18 18:40] juliaamosova commented on #27275
Hi @punitkanse2,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-18 18:40] #27275 closed

[2020-08-18 18:51] rrennick commented on #27389
@Ceaco  Scroll to the bottom of https://wordpress.org/plugins/woocommerce/advanced/

[2020-08-18 18:57] zwiesman31 commented on #27389
If you all check your fatal-error log (`WooCommerce > Status > Logs`) are you getting a similar message as the one below?

[code]

[2020-08-18 19:07] rrennick commented on #27389
@Ceaco That doesn't have the error message for creating the table.

Also, transferring this to the action-scheduler repo.

[2020-08-18 19:09] juliaamosova commented on #27346
Hi @Milhail11,

It looks like the issue you are referring to is the translation one, correct? Can you please confirm what version of WooCommerce are you using?

[2020-08-18 19:12] juliaamosova commented on #27381
@hebaazmat, another thing to try while using Enable jQuery Migrate Helper plugin is to clear your browser's cache and cookies. Let us know how it goes.

[2020-08-18 19:38] melindahelt commented on #27305
Same issue.

Steps to replicate:

Use HTML in product title
![](https://d.pr/i/r99oaL+)Image Link: https://d.pr/i/r99oaL

It displays correctly in cart and checkout while using WooCommerce 4.3.3. and Storefront
![](https://d.pr/i/9RuctR+)Image Link: https://d.pr/i/9RuctR

Update to WooCommerce 4.4 and now breaks display

![](https://d.pr/i/ltIvtV+)Image Link: https://d.pr/i/ltIvtV

#3236914-zen

[2020-08-18 19:51] contemplate commented on #27384
Same issue here with WP Rocket.  Can't re-install it after the WooCommerce update.

Critical Error"
Fatal error: Declaration of League\Container\ImmutableContainerAwareTrait::getContainer() must be compatible with League\Container\Argument\ArgumentResolverTrait::getContainer(): Psr\Container\ContainerInterface in /home/members/public_html/wp-content/plugins/wp-rocket/vendor/league/container/src/In

[2020-08-18 19:52] Kipperlenny commented on #27388
see #27384

[2020-08-18 19:53] juliaamosova commented on #27384
Hi folks! WP Rocker released an update not too long ago that will solve the issue short term: https://github.com/wp-media/wp-rocket/issues/3003. We will work on our end to provide a long term solution.

In the meantime, updating WP Rocket should solve the issue.

[2020-08-18 19:58] iCaspar commented on #27384
WP-Rocket users should update to Rocket version 3.6.4, just released. In this case it was an issue where WooCommerce 4.4.0 updated to a different version of the league/container package. The new release there has re-namespaced that package to resolve the naming collision.

[2020-08-18 19:59] Kipperlenny commented on #27389
see #27384

[2020-08-18 20:01] juliaamosova opened #27390 "Jetpack Autoloader Issue"
We are getting the reports of the following error which we are currently investigating:

xargs: sudo: exited with status 255; aborting

It seems to happen when using WooCommerce 4.3.3 and WooCommerce 4.4.

[2020-08-18 20:02] chussman commented on #27305
Hi there, i have same issue since Woocommerce 4.4

Any solution??

[2020-08-18 20:30] hellofromtonya commented on #27384
@contemplate and everyone:
How to update to Rocket 3.6.4 (which fixes the Container namespace conflicts):

The plugin needs to be activated to use the updater through WP admin. However, activating when using the latest version of WooCommerce will cause a fatal error.

How can you update Rocket? Manually via FTP or SSH. [Checkout the instructions in this document](https://docs.wp-rocket.me/article/

[2020-08-18 21:04] juliaamosova commented on #27388
Hi @DragonEnergy,

Can you please confirm if you are using WP Rocker plugin?

If you use WP Rocket plugin, as @Kipperlenny mentioned, please see issue https://github.com/woocommerce/woocommerce/issues/27384. In short, you'd need to update WP Rocket plugin to version 3.6.4.

 If you are not using WP Rocket plugin, it would be helpful if you could test your site for a theme and plugins conflict. To

[2020-08-18 21:06] Kipperlenny commented on #27388
I would guess he is using Jetpack - that has the same error

[2020-08-18 21:12] juliaamosova commented on #27389
@zwiesman31 👋  for the error in your comment, please see https://github.com/woocommerce/woocommerce/issues/27388#issuecomment-675719520.

@UsamaYaqoob100 it will be helpful to know what error exactly you are having. If you have no way to access error logs yourself, please contact your hosting company and ask them to provide you with the server error log.

[2020-08-18 21:18] juliaamosova commented on #27388
@Kipperlenny we identified for the error reported by @DragonEnergy in this thread to be caused by incompatibility with plugins that use PHP League’s Dependency Injection container which is the case of WP Rocket 3.6.3.

Are you able to reproduce this with WooCommerce + Jetpack only? If so, what version of WooCommerce are you using?

We opened a separate issue related to the Jetpack autoloader: http

[2020-08-18 21:23] maddogprod commented on #27305
I used WooCommerce's plugin (https://wordpress.org/plugins/woocommerce-beta-tester/ ) to roll back to the last good version until they get it fixed.

[2020-08-18 21:28] DragonEnergy commented on #27388
@juliaamosova I not using the WP Rocket Plugin

[2020-08-18 21:32] DragonEnergy commented on #27388
I have since rolledback to WooCommerce 4.3.0 but I have a multitude of REST callback errors in my status reports

egister_rest_route was called incorrectly. The REST API route definition for wc/store/cart is missing the required permission_callback argument. For REST API routes that are intended to be public, use __return_true as the permission callback.

Notice: register_rest_route was called inc

[2020-08-18 21:33] DragonEnergy commented on #27388
I am also not using JetPack

[2020-08-18 21:40] juliaamosova commented on #27388
These notices were fixed in WooCommerce 4.3.2 on the WooCommerce Product Blocks side of things (which is a part of WooCommerce Core): https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/2926 so you should roll back to 4.3.2 or 4.3.3 instead.

Good to know, thanks!

Can you please post your System Status Report? The System Status Report is found in your WordPress admin under **

[2020-08-18 21:58] DragonEnergy commented on #27388
I am having issues even copying the status report: This is what I have right now.

2020-08-18T04:14:47+00:00 CRITICAL Uncaught Error: Call to a member function get_items() on boolean in /chroot/home/ROB/rightonbracket.com/html/wp-content/themes/flatsome-child/woocommerce/checkout/thankyou.php:107
Stack trace:
#0 /chroot/home/ROB/rightonbracket.com/html/wp-content/plugins/woocommerce/includes/wc-co

[2020-08-18 22:08] DragonEnergy commented on #27388
Had to switch to storefront theme to get this

`
### WordPress Environment ###

WordPress address (URL): https://rightonbracket.com
Site address (URL): https://rightonbracket.com
WC Version: 4.3.0
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.1
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.3.0
Log Directory Writable: ✔
WP Version: 5.5
WP Multisite: –
WP Memory Limit: 256 MB
WP Debu

[2020-08-18 22:21] Bufffffffffff commented on #27389
I found that was a redirection problem because my front page worked and i could add products to the basket but not follow the links, always getting 500.

For some reasons the last woocommerce update (at 8:02UTC) called flush_rewrite_rules (.htacces modified at 8:02UTC) or something and because we have wpml installed it was messed up. There was no FATAL error at all since it was a rewrite fault.

[2020-08-18 22:25] DragonEnergy commented on #27388
upgraded to WooCommerce 4.3.3 most of the errors went away

[2020-08-18 22:46] eyre90 commented on #27389
Hi Guys, ive not read through the comments apart from the first few.   but heres the link to download previous versions. head to the bottom of the page, regards Jay@Alwayscompetitions.co.uk
heres the link -
https://wordpress.org/plugins/woocommerce/advanced/

[2020-08-18 23:12] willyarisky opened #27392 "Hook to woocommerce_order_note_added not working"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-18 23:30] DustinHartzler commented on #27382
This exact thing is happening to me too :)

[2020-08-19 01:48] dovy opened #27394 "4.4.0: wc_get_loop_prop() called before it's loaded"
Hey all, I have a bunch of users of Redux reporting this error:

[code]

The thing is, Redux doesn't do anything special with the WordPress data. What I think is it play here is our plugin is loading before yours, and you have a hook that tries to fire wc_get_loop_prop(), but it's not been included yet.

I'm willing to work with you and debug it. Our WordPress data query class is pretty basic, you

[2020-08-19 02:09] dovy commented on #27394
I ended up putting the following shim in. May want to check your autoloader for wherever that hook is firing from.

[code]

[2020-08-19 06:37] ajgw opened #27463 "Notice after updating database WC 4.4 - Thank You button does anything"
We had this behavior long time. Anytime a database update is needed for WC, I get a notice. If update is successful, there is a another message notice incl. a "Thank You" button. This button does anything. Instead notice stays on screen on all WC pages even after 12 hours.

This is a longtime bug which should be fixed soon.

![Bildschirmfoto 2020-08-19 um 08 36 45](https://user-images.githubuserco

[2020-08-19 07:35] peterfabian commented on #27394
Thanks for reporting, @dovy . We're working on a fix for this now as well and plan to release it ASAP, as we got reports about similar problems with some other themes (Newspaper, Gauge) and plugins (NotificationX).

We'll probably update our filter, testing it now.

[2020-08-19 07:42] peterfabian commented on #27388
Thanks for opening the issue. This is a duplicate of the problem reported in https://github.com/woocommerce/woocommerce/issues/27384 so I'm going to close this one. Please follow the updates on the other issue. The plugin we're in conflict in this case is Lazy Load - Optimize Images: by WP Rocket – 2.3.3.

[2020-08-19 07:42] #27388 closed

[2020-08-19 08:07] glamble007 commented on #27394
CRITICAL Uncaught Error: Call to undefined function wc_get_loop_prop() in /var/www/html/wp-content/plugins/woocommerce/includes/class-wc-query.php:376
Theme Flatsome.

[2020-08-19 08:09] TinyGiantStudios commented on #27394
Just tagging on:

https://wordpress.org/support/topic/php-fatal-error-login/
https://wordpress.org/support/topic/woocommerce-4-4-0-and-acf/

It seems that the [ACF](https://wordpress.org/plugins/advanced-custom-fields/) plugin is also affected here.

[2020-08-19 09:44] arunsathiya commented on #27305
3238451-zen (1854869-hc)

[2020-08-19 09:59] peterfabian commented on #27305
4.3.3 reportedly works fine. Screenshot: https://d.pr/i/MOp3Wc/E9RGA4K3AK

[2020-08-19 10:02] peterfabian commented on #27394
The PR above should fix the issue, so closing it. We're preparing a 4.4.1 release with this fix (and one more for https://github.com/woocommerce/woocommerce/issues/27384).

[2020-08-19 10:02] #27394 closed

[2020-08-19 10:54] thd-fox opened #27399 "Latest Update 4.4.0 cart empty issue"
Since the update of 4.4.0 there is a major bug relating to cart cookies.

In the `?wc-ajax=refresh_fragements` call there are multiple plugins that produce conflicts by relying on the old cart mechanisms. I did not have enough time to investigate the hook or exact function as our company is relying heavily on our shop and we needed to come back working asap!

Bug description:
Once plugins hook int

[2020-08-19 11:07] dovy commented on #27394
WTG WooCommerce team. Appreciate the extremely fast turnaround.

[2020-08-19 11:41] cagrioz opened #27400 "Can't see which product has been bought in order details page"
When a product bought from the website, I'm not able to view which product has been bought by the client in order details page.
![bug](https://user-images.githubusercontent.com/27678942/90630414-a5b72080-e229-11ea-82dc-e20de43f67a3.png)

I've tried all of these properly:
- Renewed the WordPress files
- Deactivated all the plugins except Woocommerce
- Deactivated all the plugins except Woocommerce

[2020-08-19 11:41] haywirephoenix opened #27401 "Out of stock grouped product shows Add to Cart button"
**Current:** Grouped product single page still displays Add to Cart button when all products out of stock

**Intended:** Add to Cart button is disabled or hidden

**To reproduce:**
1. Create a Grouped Product, add linked products
2. Set all linked products inventory to Out of Stock
3. Add to Cart button still displays beneath list. Clicking it displays the notification "Please choose a product to

[2020-08-19 11:53] bfikree commented on #25375
Any word on a way to fix the wrong count? Hiding the empty categories is fine but the count issue is problematic.

[2020-08-19 12:08] tammullen commented on #27400
Hi @cagrioz

Can you give us more details of the product type (simple, virtual, variable etc) and any other details you can share.

We use the [WooCommerce System Status Report](https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/) to help us evaluate the issue.
Can you copy your report for us.  The System Status Report is found in your WordPress admin under **

[2020-08-19 12:14] cagrioz commented on #27400
Hi,

I'm using the product type as a "simple". Also, I have Tutor LMS plugin that is installed which is working with WooCommerce. There was no any issue before, somehow this happened.

`
### WordPress Environment ###

WordPress address (URL): https://dbuzem.com
Site address (URL): https://dbuzem.com
WC Version: 4.3.3
REST API Version: ✔ 1.0.10
WC Blocks Version: ✔ 2.7.3
Action Scheduler Version: ✔

[2020-08-19 12:57] lukahund opened #27403 "wc_trigger_stock_change_notifications is much slower than it needs to be, due to unnecessary call to wc_get_product"
**Describe the bug**
"wc_trigger_stock_change_notifications" in "/includes/wc-stock-functions.php" uses wc_get_product multiple times to fetch a product from $change['product']->get_id().
The problem here is that $change['product'] already refers to a product which means the call to wc_get_product is unnecessary and can add significant time to the checkout with large orders. This can for example b

[2020-08-19 12:58] mrleemon commented on #26994
This problem persists in WooCommerce 4.4. In screens where JS is heavily used, most of the strings are in English, with a few only translated (PO files are 100% translated). Another issue is that accents are not printed in translated strings.

![woocommerce](https://user-images.githubusercontent.com/2060659/90637426-460e4480-e22c-11ea-9aff-f792f1a87b50.jpg)

[2020-08-19 13:11] BastiaanBosch commented on #27389
Same here. Where zwiesman31 mentioned error on line 18.
I have on line 154. (Multi-site installation )

Fatal error: Declaration of Automattic\WooCommerce\Internal\DependencyManagement\ExtendedContainer::get($id, bool $new = false) must be compatible with
League\Container\Container::get($alias, array $args = Array) in
/home/......../public_html/wp-content/plugins/woocommerce/src/Internal/Dependenc

[2020-08-19 13:40] morganhvidt commented on #27034
Hi @ObliviousHarmony

Awesome to hear that it's on the list! I've created a draft PR to get us started.
Let me know your thoughts on the direction.
PR: https://github.com/woocommerce/woocommerce/pull/27404

[2020-08-19 14:02] vedanshujain commented on #27399
Hi @thd-fox , I was not able to reproduce on a clean install. Would you be able to provide a system status report from WooCommerce > Status even if you have downgraded. It could be helpful for us to figure out if there is a plugin conflict.

[2020-08-19 14:16] jasonmj commented on #27389
I got this too:
```Fatal error: Declaration of Automattic\WooCommerce\Internal\DependencyManagement\ExtendedContainer::get($id, bool $new = false) must be compatible with League\Container\Container::get($alias, array $args = Array) in /var/www/html/wp-content/plugins/woocommerce/src/Internal/DependencyManagement/ExtendedContainer.php on line 18```

[2020-08-19 15:17] gglobalstep opened #27406 "[GlobalStep][Mac] "Search Options" and "Help" Options disappears from WooCommerce -> Orders after page loading is completed."
## Description:
"Search Options" and "Help" Options disappears from WooCommerce -> Orders after page loading is completed.

## Environment:
macOS Mojave:10.14.6 (18G103)
Safari: Version 13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create a Jurassic Ninja test site
1. Install and Activate WooCommerce Plugin.
1. Upload, Install and Activate WooCommerce Admin Plugin.
1. Click on "Run the Setup W

[2020-08-19 15:18] thd-fox commented on #27399
This is my Status:

[code]

[2020-08-19 15:21] gglobalstep opened #27407 "[GlobalStep][Both] “Store Setup progress” tab fails to display on WooCommerce -> Facebook."
## Description:
“Store Setup progress” tab fails to display on WooCoomerce -> Facebook.

## Environment:
macOS Mojave:10.14.6 (18G103)
Safari: Version 13.1.1 (14609.2.9.1.3)
Chrome: Version 84.0.4147.125

## Steps To Reproduce:
1. Create a Jurassic Ninja test site
1. Install and Activate the WooCommerce Plugin.
1. Upload, Install, and Activate WooCommerce Admin Plugin.
1. Complete Setup Wizard.
1.

[2020-08-19 15:24] gglobalstep opened #27408 "[GlobalStep][Both] “eWay” payment option fails to display on frontend instead only radio button is displayed."
## Description:
“eWay” payment option fails to display on the frontend instead only radio button is displayed.

## Environment:
macOS Mojave:10.14.6 (18G103)
Safari: Version 13.1.1 (14609.2.9.1.3)
Chrome: Version 84.0.4147.125

## Steps To Reproduce:
1. Create a Jurassic Ninja test site
1. Install and Activate the WooCommerce Plugin.
1. Upload, Install, and Activate WooCommerce Admin Plugin.
1. Co

[2020-08-19 15:33] gglobalstep opened #27409 "[GlobalStep][Mac] Console error is displayed upon clicking Marketing -> Coupons."
## Description:
Console error is displayed upon clicking Marketing -> Coupons.

## Environment:
macOS Mojave:10.14.6 (18G103)
Safari: Version 13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create a Jurassic Ninja test site
2. Install and Activate the WooCommerce Plugin.
3. Upload, Install, and Activate WooCommerce Admin Plugin.
4. Click on "Run the Setup Wizard"
5. Complete the onBoarding proce

[2020-08-19 15:55] juliaamosova commented on #27407
Hi @gglobalstep,

Thank you for reporting the issue. Activity Panel is a part of the WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-08-19 15:59] juliaamosova commented on #27408
Thanks for reporting @gglobalstep! It looks like this one should be fixed on the WooCommerce Core side of things but ccing @becdetat @timmyc here for tracking purposes.

[2020-08-19 16:05] juliaamosova commented on #27409
Hi @gglobalstep,

Thank you for reporting the issue. Marketing Coupons functionality is a part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-08-19 16:08] juliaamosova commented on #27406
Thanks for reporting @gglobalstep! Will need to investigate this one a bit further to see what is causing it so leaving it here in the WooCommerce Core repo for now. cc @becdetat and @timmyc to keep track.

[2020-08-19 16:12] bookingwp opened #27410 "Plugin size can cause timeout during update"
Lots of customers are reporting timeout errors when updating the WooCommerce plugin, especially when updated with other plugins. The update goes through, but the .maintanance file remains present in WP root folder and the user cannot access the site without manual deletion of that file.

We determined that the main reason is the big size of the plugin files. Since the addition of WooCommerce Admin

[2020-08-19 16:57] PoojaMintex opened #27411 "Column Mapping is not working in woocommerce product importar"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Describe the bug**
i uploaded sample csv file in woocommerce product importer but column mapping is not working

**Expected behavior**
![image](https://us

[2020-08-19 17:22] akshuvo opened #27413 "Bug in order notes ajax"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When I add a first order note, the text "There are no notes yet." still showing:
![image](https://user-images.githubusercontent.com/1639828

[2020-08-19 18:01] claudiosanches commented on #27413
Hi @akshuvo,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future releases.

Please feel free to send a Pull Requ

[2020-08-19 18:05] claudiosanches commented on #27411
Hello @PoojaMintex

I can't reproduce this issue, at least not with just the steps you provided.
It sounds like you are changing the CSV delimiter, there's options for it on the Importer page, so you can choice the correct delimiter so all fields can get mapped.

I'm closing since it works as expected, and the delimiter settings works correctly, you just need to set the correct option for your CSV

[2020-08-19 18:05] #27411 closed

[2020-08-19 18:57] EthynRx opened #27414 "Payments tab not working in Woocommerce settings"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-08-19 19:02] #27414 closed

[2020-08-19 19:12] tobias992 commented on #27026
Over one Month and no Fix - nice job Dev-Team!!!

This is a critical bug for EVERY WooCommerce Shop - please fix ASAP

[2020-08-19 19:33] mmiszy commented on #27026
@tobias992 you could fix it yourself and create a Pull Request. This is how Open Source works :)

[2020-08-19 19:37] maliozer commented on #20619
It is not about the theme support, The options are like that
Choose what to display on the main shop page. -> Show Categories
Category display
Choose what to display on product category pages. -> Show subcategories

unfortunately, it will no effect, it resists to show all products after the first category selection.
I also tried default on default wp themes.
Are you sure it is not an issue after a

[2020-08-19 19:49] tobias992 commented on #27026
1. I am not a Developer and
2. I pay so much Money to WooCommerce for premium extensions.... thats not my job to fix this. Thats the job from WooCommerce Team to fix this ASAP.

[2020-08-19 20:00] gevcen opened #27415 "Issue with list of countries name translation"
Dear,

After checking with WPML support team, they found that there is an issue in some WooCommerce files.

https://wpml.org/forums/topic/list-of-countries-is-wrong-in-french/

Can you please have a look at this?
Thanks

[2020-08-19 20:57] zhollenbeak commented on #27305
Issue Reported in WC 4.4.1 on 23479222-hc

[2020-08-19 21:53] davidolo commented on #22706
@peterfabian is there any update on this?

[2020-08-19 23:53] fikridev opened #27417 "There is an issue where the cash on delivery payment method is not working. When an order is is about to checkout using the cash on delivery payment method an error happen to occur where the field must be completed when all fields has been filled."
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

[2020-08-19 23:57] dsmithweb opened #27418 "HTML entities in product titles rendered incorrectly in product page"
This is only in WooCommerce 4.4+  -- it was fine in i.e. WooCommerce 4.3.2

4.3.2:
![image](https://user-images.githubusercontent.com/20285748/90700900-99908a80-e24c-11ea-8673-f58f9eaffcd6.png)

4.4:
![image](https://user-images.githubusercontent.com/20285748/90700912-a319f280-e24c-11ea-9a4f-570a3756b461.png)

I think it might be this https://github.com/woocommerce/woocommerce/commit/bdf996eec870b

[2020-08-20 05:12] SiR-DanieL commented on #27418
One more report in 16689161-hc
I also can reproduce this locally

[2020-08-20 05:25] junaidtk commented on #27381
After updating the WordPress to 5.5 and WooCommerce to 4.4.0. Then it is hiding the WooCommerce product data type.

We know, we can only add variable product, grouped product etc with the help WooCommerce product data type option. So the option for product data type are missing from the WooCommerce due to this plugin effect.

While checking the activated plugins, I found one plugin is removing the

[2020-08-20 05:32] arunsathiya commented on #27418
This can be closed in favor of https://github.com/woocommerce/woocommerce/issues/27305.

[2020-08-20 05:49] choijun opened #27419 "Widget filter products by attributes does not work correctly"
Hi dear,

Recently I updated WooCommerce to version 4.4.1 and I found the widget filter products does not work correctly

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I use Storefront

[2020-08-20 06:53] PoojaMintex commented on #27411
i used "," delimiter and i use woocommerce sample csv file but its not working
can you tell me which delimiter am i use?
i also attached csv file link so you can see
https://github.com/woocommerce/woocommerce/blob/master/sample-data/sample_products.csv

[2020-08-20 07:38] starypop commented on #27330
It would be also nice to display WC version since a method has been deprecated.

Eg. https://woocommerce.github.io/code-reference/classes/WC-Abstract-Legacy-Order.html#method_get_product_from_item

[2020-08-20 07:48] msaari opened #27420 "Relevanssi search problems because of adjust_posts_count()"
With WC 4.4.0, Relevanssi searches broke down. With Relevanssi enabled, all searches that would find more than one result fail and show no results (single-result searches still redirect to the correct post).

I tracked down the issue to the new `adjust_posts_count()` function. What happens is this:

In the `archive-product.php` template, WC uses `wc_get_loop_prop( 'total' )` to see if there are po

[2020-08-20 08:21] peterfabian commented on #27420
Thanks for letting us know, @msaari. I think this is an unfortunate side effect of changing how the default search and querying work. As we wanted to add the possibility of filtering products (i.e. posts) based on a specific property of its child (stock status and attribute), we had to change the default filtering. If you have a proposal on how we can change things to make them fit better with WP

[2020-08-20 08:21] #27420 closed

[2020-08-20 08:24] peterfabian commented on #27418
As @arunsathiya correctly pointed out, this is a duplicate, please follow #27305.

[2020-08-20 08:24] #27418 closed

[2020-08-20 08:50] peterfabian commented on #27410
We're aware of the problem and trying to keep the size down. We've just reduced the size of the package from ±10MB with 4.3 to 8.8MB for 4.4 and we'll keep trying to keep it slim. Using a more powerful hosting can help as well. As you said, WC with Blocks and new Admin packs in a lot of code, so it needs a bit higher spec'd server to work fine.
We'll be dropping some legacy code with 5.0, so hope

[2020-08-20 09:01] peterfabian commented on #27403
I _think_ it might have been to load the product from the database again to get the very latest updates of the stock level, but maybe I'm wrong. Looking at the [PR that introduced it](https://github.com/woocommerce/woocommerce/pull/20458), and the [specific commit](https://github.com/woocommerce/woocommerce/commit/70c9cff608761fcd48b57f709059e00b1ffeee38), I'm unsure about the reasoning. When look

[2020-08-20 09:11] peterfabian commented on #27399
Thanks @thd-fox  for the system status report. You seem to have quite a few plugins, so most likely, it's one of them causing a conflict with WC. Would you be able to perform [a conflict resolution](https://docs.woocommerce.com/document/how-to-test-for-conflicts/)? We can try to help debug this if we know which plugin is causing issues, but we can't really test with 120 plugins, sorry.

[2020-08-20 09:25] thd-fox commented on #27399
@peterfabian thank you very much for your answer. As we need to upgrade both WordPress an WooCommerce soon, I will narrow down the error cause in a staging environment. As soon as I found the issue I will report again. Maybe you can close this in the meantime issue. Shall I reopen then?

[2020-08-20 09:42] DavidAnderson684 opened #27421 "Policy violation: contact with external server without consent"
This item has been reported in at https://github.com/woocommerce/woocommerce-admin/issues/4955, since which there have been two WooCommerce releases without any comment on the issue. So I am flagging it up here to bring it to your attention.

[2020-08-20 09:46] jacsify opened #27422 "Local Shipping and Free Shipping need to show"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement, or feature request (Please use the link above if it is).

**Issue Description:**

I have free shipping set for anything over R500 (South African

[2020-08-20 09:56] yogeshumane opened #27423 "Product Data Type is gone"
After updating WP 5.5 the Product Data type Dropdown is gone. Not accessing any Variations. Please check below screen shot
![Screenshot 2020-08-20 at 12 09 37 PM](https://user-images.githubusercontent.com/34394399/90756002-77a11180-e2f9-11ea-96df-937120c1b368.png)

[2020-08-20 10:11] tammullen commented on #27360
Hi @mikeecho2 ,

Thank you for taking the time to report this, we really appreciate your help.

I can see the space here https://github.com/woocommerce/woocommerce/blob/888a5c40cdf9b57fc8129539415726369774bf2a/assets/js/frontend/add-to-cart.js#L176

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add i

[2020-08-20 10:41] tammullen commented on #27382
Hi @steroyle,

The filter `woocommerce_enqueue_styles` is for removing or modifying the core WooCommerce stylesheets. The stylesheets you mention are part of WooCommerce Blocks.

WooCommerce Blocks is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block/.

There seems to be a related issue there as well https://github.com/woocommerce/woocommerc

[2020-08-20 10:43] tammullen commented on #27383
Hi @haliliegzon

As a part of this repository’s maintenance, I am closing this issue as it appears you have resolved your issue. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-08-20 10:43] #27383 closed

[2020-08-20 10:47] Konamiman commented on #27381
Hi @junaidtk, could you please provide the name of the plugin that you disabled to prevent the conflict?

[2020-08-20 10:54] mikeecho2 commented on #27360
100%

Tam Mullen wrote on 20/08/2020 12:11:

[2020-08-20 10:57] tammullen commented on #27401
Hi @haywirephoenix

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2020-08-20 at 11 54 34](https://user-images.githubusercontent.com/24649833/90762010-33534880-e2dc-11ea-9db7-8ecdaf503748.png)

Add to cart should be hidden like it is for other product types when they are out of stock.​

We won’t be able to include this

[2020-08-20 10:58] msaari commented on #27420
Yes, ideal circumstances would be ideal circumstances, but there are over 57,000 plugins in the plugin repository, so in realistic circumstances these kinds of compatibility problems come up when end users start to complain.

I have enough in my hands testing Relevanssi to make sure it works by itself and supporting Relevanssi users and customers. In this case, I don't have a faintest clue what th

[2020-08-20 10:59] tammullen commented on #27417
Hi @fikridev

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2020-08-20 11:02] tammullen commented on #27423
Hi @yogeshumane

This bug had been fixed (https://github.com/woocommerce/woocommerce/pull/27170) since WooCommerce 4.3.2.

It is highly likely that the issue you are having is caused by one of the 3rd party plugins on your site.
​
WordPress 5.5 removed a javascript file called jQuery migrate that some of your plugins might have relied on, so until they update, you might want to use [Enable jQuery

[2020-08-20 11:23] or128 opened #27424 "Notifications won't go away after clicking their button"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The notifications at the top won't go away after clicking their buttons:
"Coupon management has moved!"
"WooCommerce database update done"

[2020-08-20 11:34] vedanshujain commented on #27403
Repeated `wc_get_product` is generally inexpensive because it reads from cache instead of querying DB (even with sites having no extra cache plugins, WP provides a request level in-memory cache by default).  And `do_action` can, in fact, change product attributes so we need the new product object every time.

I am closing the issue, but let me know if I have missed something. @lukahund is this cau

[2020-08-20 11:34] #27403 closed

[2020-08-20 11:39] lukahund commented on #27403
I'm seeing wc_trigger_stock_change_notifications adding about 3-6 seconds of time to the checkout on an order with 32 products

[2020-08-20 11:40] junaidtk commented on #27381
In my case I have deactivated the WPIDE plugin. This plugin is removing the admin body class. This is causing the issue.

[2020-08-20 11:50] sjoerdstaal commented on #27419
Having the same issue.

[2020-08-20 12:20] DavidAnderson684 commented on #27410
The root problem is that WordPress handles failed plugin updates badly. It is not atomic, and thus (as described above) leaves the filesystem in an inconsistent/broken state that requires overly-technical user interaction to fix. If someone could fix that they'd be doing a huge service not only to WooCommerce users but everyone in the ecosystem... https://core.trac.wordpress.org/ticket/33571

[2020-08-20 12:44] rrennick commented on #27421
@DavidAnderson684 Please don't create new issues that link to existing issues to "bring it to your attention". Version 4.4.0 was in RC when you created the original issue and 4.4.1 was an emergency bug fix to 4.4.0.

Closing as a duplicate.

[2020-08-20 12:44] #27421 closed

[2020-08-20 12:50] DavidAnderson684 commented on #27421
@rrennick Arguably, wordpress.org policy / end-user privacy violations should be being treated as the same priority as emergency fixes.

[2020-08-20 12:59] peterfabian commented on #26359
Anyone able to add more logging to their server to around the places I mentioned? Otherwise, we'd probably close the issue as not reproducible, since it's not clear how this could be happening. Thanks.

[2020-08-20 13:21] Robbertdk commented on #26359
No, but I've implemented te hack from @doubleo2, forgot about it and with the last WooCommerce update I've overwritten the changed files and thereby the hack. But, after that I've haven't heard of new cases so it seems like it was resolved in the update or stopped somehow... weird bug.

[2020-08-20 13:21] vedanshujain commented on #27420
`wc_reset_loop` does make sense, only thing is to make sure that you only do it if its a Relevanssi request (which I guess you would have already done). I will look into to see if we can hook the adjust post count later in the process.

[2020-08-20 13:22] prisuri opened #27425 "set product image is not working"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-08-20 15:00] Konamiman commented on #27381
I've been able to reproduce the issue. Seems to happen in WordPress 5.5, even with WooCommerce older than 4.4. Thanks for reporting, we'll work on a fix.

[2020-08-20 15:06] junaidtk commented on #27381
Thanks for the reply.

Some plugin will remove the admin body class, this is making issue. You can either increase priority of the filter function
add_filter( ‘admin_body_class’, array( $this, ‘include_admin_body_class’ ) );
or
add some other fix like apply javascript by checking the WP-version.

[2020-08-20 15:40] juliaamosova commented on #27422
Hi @jacsify,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt

[2020-08-20 15:40] #27422 closed

[2020-08-20 15:42] juliaamosova commented on #27425
Hi @prisuri,

Please provide us with more details about the issue as per the bug report template. Without it, we won't be able to do much about it.

[2020-08-20 15:58] claudiosanches commented on #27381
We shouldn't use JS for it, also it's an issue this plugin removing all body classes, no plugin suppose to be doing it.

[2020-08-20 16:00] claudiosanches commented on #27381
Also seems like that the https://wordpress.org/plugins/wpide/ is very outdated.

[2020-08-20 16:06] claudiosanches commented on #27381
I fixed the issue on WPide, but the plugin doesn't get updated since 2015. They are using `add_filter()` incorrectly and it should cause conflicts with several plugins.

@junaidtk I advise you to stop using this plugin since it's outdated.

[2020-08-20 16:09] junaidtk commented on #27381
Yes, it is correct. WPIDE is outdated one, I have noted that. But it is a useful one. Sure, I will remove it from my site.
if any plugin which override the the admin_body_class, it may remove body class. This will be the plugin author responsibility to keep all the added body class by other plugin and theme.

[2020-08-20 16:34] tijosh commented on #27305
A report in 3243128-zen (23473412-hc)

[2020-08-20 16:42] Rub-s commented on #26422
I have the same issue.

[2020-08-20 17:03] mohamedahmedabdelfattah opened #27428 "My Account Addresses label not displayed when using Arabic language"
**Prerequisites**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The "Addresses" tab label in "My Account" page is not displayed when I use the Arabic language while it should be already translated and was working before.

It`s placeholder "the

[2020-08-20 18:38] jaredhill4 commented on #27423
I'm experiencing the same issue after upgrading yesterday, as well.

I've got Enable jQuery Migrate Helper installed and enabled.

<img width="1325" alt="Screen Shot 2020-08-20 at 1 37 32 PM" src="https://user-images.githubusercontent.com/7476478/90811538-66043d80-e2ea-11ea-8de7-d5e5dea26967.png">

[2020-08-20 19:12] jaredhill4 commented on #27423
I was able to trace my issue back to the [WPide](https://pluginarchive.com/wordpress/wpide) plugin. Looks like it hasn't been updated since 2015.

I'm going to just disable it.

[2020-08-20 20:38] tijosh commented on #27305
Another report 3243715-zen (27305-hc)

[2020-08-20 20:58] mohamedahmedabdelfattah commented on #27428
For testing purposes, I used TranslatePress plugin to insert the Arabic translation for the string and it worked only while using the plugin.

I also tried debugging using the developer console and playing around with the below codes to no avail.

1- code responsible for displaying the label of the menu: wp-content\plugins\woocommerce\templates\myaccount\navigation.php

    <nav class="woocommerce

[2020-08-20 23:04] falahati opened #27434 "REST API `WC_REST_Terms_Controller` returns invalid response when used multiple times in one session"
**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
`WC_REST_Terms_Controller` class caches the taxonomy name from the first `WP_REST_Request`. This creates a situation in which the name of a quer

[2020-08-21 01:27] pwmwoo opened #27435 "Billing First Name Field not recognized"
billing_first_name field returning error message "Please enter a value for First Name"

Input is not being recognized and will not allow a transaction to proceed.

[2020-08-21 06:10] antycamurcia commented on #27419
Having the same issue.

[2020-08-21 07:13] choijun commented on #27419
Hi @sjoerdstaal @antycamurcia , My temporary solution for this is : Remove the line code 399 on the file **wp-content/plugins/woocommerce/includes/widgets/class-wc-widget-layered-nav.php**
![alt text](https://image.prntscr.com/image/gDGHN_XsQLCnae4FvrKXLQ.png "Error")

[2020-08-21 07:15] #27381 closed

[2020-08-21 08:06] BackuPs opened #27436 "Deprecated: Non-static method WC_Post_Types::updated_term_messages() should not be called statically in /var/docs/server.tst/public/wp-includes/class-wp-hook.php on line 287"
Latest woocommerce beta (Version 4.5.0-beta.1) throws this message in any post category overview in the admin backend !

Deprecated: Non-static method WC_Post_Types::updated_term_messages() should not be called statically in /var/docs/server.tst/public/wp-includes/class-wp-hook.php on line 287

![afbeelding](https://user-images.githubusercontent.com/6078370/90867659-07949900-e396-11ea-935a-ef1c848

[2020-08-21 08:09] prisuri commented on #27425
ok when ever i am try to add new product i am facing issue because earlier
it use to came like "earlier product.PNG" now it is coming like "product
upload.PNG"
can u please help me with this as i am not able to add new products

On Thu, Aug 20, 2020 at 9:13 PM Julia Amosova <notifications@github.com>
wrote:

[2020-08-21 14:02] dovy opened #27439 "If Redux Framework (Redux.io) is conflicting..."
Hey WooCommerce team, lead dev of Redux Framework here (redux.io). I've noticed a few WordPress issues appear where Redux is installed. Namely:

https://wordpress.org/support/topic/variable-product-option-disappeared/
https://wordpress.org/support/topic/inventory-units-by-products-increases-or-decreases-randomly/

I don't believe we are at fault in any way, but if there is anything we can do to he

[2020-08-21 17:45] marke123 opened #27442 "meta-boxes-product-variation.js file get_variations_fields function issue"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Variation settings do not save when editing a variation a field name that represents an array. For example something like this:

name="var_

[2020-08-21 19:13] rodolphebertozzo opened #27444 "Add a planning function to manage stock arrivals, deliveries,..."

[2020-08-21 20:02] tripflex opened #32272 "Onboarding process -- theme/plugin install/activate without capability? No way to remove?"
A have a multisite installation where users are NOT allowed to install plugins or themes, but are able to activate and use WooCommerce (and plugins already installed).

Is there not any way that I can remove the parts of the onboarding that promotes paid (and free) plugins to be installed, as well as the theme step?

I don't see any filters or anywhere to modify the steps, it looks like they are a

[2020-08-21 20:38] MarkHaynes opened #27445 "Stock does not reduce if item is added to an already processing order."
[ x] I have carried out troubleshooting steps and I believe I have found a bug.
[ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I have made processing orders editable so that we can add items to stock after a customer has made a purchase.

In the past (prior to 4.4) adding an item to an already processing order reduced that it

[2020-08-22 10:22] mystoresd opened #27452 "ffffffh"
For security reasons, please report all security issues via https://hackerone.com/automattic/.  Also, if the issue is valid, a bug bounty will be paid out to you.

Please disclose responsibly and not via GitHub (which allows for exploiting issues in the wild before the patch is released).

[2020-08-22 22:16] Njengah opened #27454 "Saved Checkbox Value lost after Update and Visting Other Admin Pages"
https://github.com/woocommerce/woocommerce/blob/9b9ebc396a13bf1cd2a0e2b44743809cb884beac/includes/admin/wc-admin-functions.php#L159
I have this issue and have tested it several times with the same results. I am using woocommerce_update_options( ) to save which works as is should for all field types.  The checkbox loses the saved value after navigating away from the WooCommerce admin pages.

`

[2020-08-24 00:49] Zedys opened #27458 "Missing Product Export Data - Woo 4.4.1"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After updating to Woo 4.4.1, the following issues are present:

When trying to export products from Products > Export > All products (inclu

[2020-08-24 01:26] ntpixels commented on #27419
Also seen and confirmed in 3242241-zen

[2020-08-24 02:06] willyarisky commented on #27392
It works, thank you

[2020-08-24 02:06] #27392 closed

[2020-08-24 08:29] krona-prg commented on #27419
Having same issue.  @choijun temp fix solved it. Thank you!

[2020-08-24 08:39] choijun commented on #27419
Hi @melindahelt
You problem is exactly the same with the problem that I having while debugging.
@Devon-Developer I agree with you, it seems that the sql snippet only finds data with specific attributes. My solution above is temporary solution. We need to confirm from WooCommerce Authors. I hope they will fix it soon

[2020-08-24 08:45] StSaens commented on #27424
I just had the same after updating to 4.4.1. With me it was the db-update after updating woo.
When I went to wp-admin in a private tab and clicked the button it did save the action properly.

[2020-08-24 10:51] peterfabian commented on #26359
Thanks for reporting back. I think I'll close this until we get more specific information. Otherwise, there is no real way for us to fix this unless we have more information/way to reproduce. Feel free to comment if you get more info, we can reopen if needed.

[2020-08-24 11:04] paulocoghi opened #27460 "How to apply discount without coupon and without using negative fees"
**Is your feature request related to a problem? Please describe.**
When searching for ways to apply a discount on cart without using coupons, I only find solutions based on the Fee API, applying negative fees, which is discouraged by Woocommerce.

**Describe the solution you'd like**
Is there a function that can be used to apply a discount on the total cart price, without using coupons and without

[2020-08-24 11:12] paulocoghi commented on #27460
I saw @mikejolley response here https://github.com/woocommerce/woocommerce/issues/13224#issuecomment-280636165 explaining to _use discounts instead if possible_, but I can't find it without references to coupons on WooCommerce API, for example here: https://woocommerce.github.io/code-reference/classes/WC-Cart.html

[2020-08-24 11:52] peterfabian commented on #27420
Thanks @msaari for taking the time to report this. It's valuable to know how we can improve and better align ourselves with other plugins. I understand it's not possible to test with every plugin the repository, I was just thinking on how to potentially improve things going fwd, that's why I mentioned the possibility to test with prerelease WC versions, but it's tricky for a general-purpose plugin

[2020-08-24 11:59] msaari commented on #27420
WooCommerce is definitely one of the category A plugins where compatibility with Relevanssi is very important for me, but getting automated testing working with just Relevanssi alone has been a task difficult enough that I haven't really even considered adding third parties to the mix. It would be really helpful to have key plugins like WooCommerce, Polylang and ACF included in the testing, but it

[2020-08-24 12:17] Pab89 commented on #27419
Having same problem, thanks for the solution. Looking forward to a real fix! :)

[2020-08-24 13:08] m155y opened #27461 "Importer allows importing of blank products when no fields are mapped"
**Is your feature request related to a problem? Please describe.**
When using the built-in Product Importer, if all fields are set to “Do not import” the user is still able to import the products, however, it creates completely blank products (because no fields are imported).

**Describe the solution you'd like**
Require at least one field to be mapped. If all fields are set to “Do not import” the

[2020-08-24 13:45] starypop commented on #26994
@mrleemon I've submitted the bug with accents at WooCommerce Admin repository: https://github.com/woocommerce/woocommerce-admin/issues/4854

I can also confirm that the original bug with mixed languages at Analytics section occurs with WC 4.4.1 and Polish language.

[2020-08-24 14:20] juliaamosova commented on #27419
Hi @choijun,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end in WooCommerce 4.4 and 4.4.1. It works as expected in 4.3.3.

My variable product setup:

![Screen Shot 2020-08-24 at 10 14 52 AM](https://user-images.githubusercontent.com/19143190/91055736-0e6c1780-e5f3-11ea-96f9-05e53d14e85a.png)

![Screen Shot 2020-08-24 at 10 15 00 AM](

[2020-08-24 14:46] juliaamosova commented on #27452
Closing this as there are no details of the issue and the title is not descriptive.

[2020-08-24 14:46] #27452 closed

[2020-08-24 15:14] choijun commented on #27419
@juliaamosova Thank you for your feedback, I really appreciate it . Please fix it soon because we have a lot of websites that need to fix

Thank you

[2020-08-24 16:39] juliaamosova commented on #27419
@choijun yes, we are making this a priority to work on.

In the meantime, please note that the issue happens in one of the 2 cases:

- When one of the variations has no value assigned and instead uses `Any` option:

![any](https://user-images.githubusercontent.com/19143190/91071788-990a4200-e606-11ea-9465-ff5c02e1ae5f.jpg)

- When the attribute created within the product ([custom attribute](https:

[2020-08-24 16:44] senff opened #27462 "Tax class doesn't save in product if class name is RTL language"
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When selecting a tax class on a product editing page, the setting is not saved is the name of the tax class is written in an RTL language (e.g. Hebrew or Arabic) after saving the product. No is

[2020-08-24 17:40] juliaamosova commented on #27463
Related issue: https://github.com/woocommerce/woocommerce/issues/27424.

There were a few attempts to fix the issue of the notices but it remains present:

- ://github.com/woocommerce/woocommerce/pull/26031
- https://github.com/woocommerce/woocommerce/pull/26500

Assigning this a 4.5 milestone to see if we can fix it sooner rather than later.

[2020-08-24 17:43] juliaamosova commented on #27424
Related issue: https://github.com/woocommerce/woocommerce/issues/27463.

There were a few attempts to fix the issue of the notices but it remains present:

- https://github.com/woocommerce/woocommerce/pull/26031
- https://github.com/woocommerce/woocommerce/pull/26500

Assigning this a 4.5 milestone to see if we can fix it sooner rather than later.

[2020-08-24 17:49] juliaamosova commented on #26715
Hi @databell,

Thanks for reporting and apologies for the delayed response to it!

Noting that we have a couple more related issues in 4.4.1:

- https://github.com/woocommerce/woocommerce/issues/27463
- https://github.com/woocommerce/woocommerce/issues/27424

There were a few attempts to fix the issue of the notices but it remains present:

- https://github.com/woocommerce/woocommerce/pull/26031
-

[2020-08-24 17:54] databell commented on #26715
Thanks, Julia. I’m noticing the same thing about prompts not disappearing as well for database updates and the notification about coupons since the most recent update.

—
Adam Bell
Design Director/CEO
dataTV
310-691-2410
dzign@datatv.com
https://datatv.com/
Facebook: https://facebook.com/datatv
Twitter: https://twitter.com/dataTV
Instagram: https://instagram.com/datatv
—
Over 90% of all websites s

[2020-08-24 17:56] juliaamosova commented on #27435
Hi @pwmwoo,

Thank you for submitting the issue. However, you didn't provide any specific details in regard to it.

In particular, have you tested your site with just WooCommerce activated to isolate the issue and confirm that it in fact happens in Core? What version of WooCommerce are you using?

Please provide us with more details about the issue which may help us to evaluate it further.

[2020-08-24 17:58] juliaamosova commented on #26715
Thanks for your follow-up @databell!

Yep, the other issues I linked in my previous comment are related to the behavior you are experiencing. We are hoping to fix it once and for all in the upcoming WooCommerce 4.5 version.

[2020-08-24 18:20] ktyfuller604 commented on #27305
another report - 23587418-hc

[2020-08-24 18:25] juliaamosova commented on #27439
Hi @dovy,

Thanks for reaching out and offering help to work together if needed!

We have fixed this issue on the WooCommerce side of things in WooCommerce 4.3.2 (https://github.com/woocommerce/woocommerce/pull/27170). However, this issue is still present on some sites using WooCommerce 4.3.2+ with the issue being caused by 3rd party plugins.

While WordPress 5.5 removed `jquery-migrate` (referenc

[2020-08-24 18:28] juliaamosova commented on #27442
Hi @marke123,

Thanks for reporting the issue. However, I am missing a few steps to reproduce it.

Would you please either provide the name of the plugin or the exact code that you use to replicate the issue further?

Thanks!

[2020-08-24 18:30] juliaamosova commented on #27444
Hi @rodolphebertozzo,

Please provide more details and reasons for your enhancement request.

[2020-08-24 19:06] Karikari1234 opened #27464 "[product_categories] ids attribute not working."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
[product_categories] ids attribute not working.
I was trying to insert the woocommerce shortcode [product_categories ids="27"] using elemen

[2020-08-24 19:10] juliaamosova commented on #27458
Hi @Zedys,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I have 724 products on one of my test sites and all of them were exported using built-in WooCommerce product exporter:

![export](https://user-images.githubusercontent.com/19143190/91085512-8fd7a000-e61b-11ea-80c2-66e205bd3512.jpg)

![export2](ht

[2020-08-24 19:19] juliaamosova commented on #27460
Hi @paulocoghi,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help fur

[2020-08-24 19:19] #27460 closed

[2020-08-24 19:30] juliaamosova commented on #27461
Hi @m155y,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-08-24 19:38] juliaamosova commented on #27462
Hi @senff,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/26590. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-08-24 19:38] #27462 closed

[2020-08-24 19:39] juliaamosova commented on #26590
I am changing the priority of this issue from `low` to `high` as there seem to be more cases (with RTL languages in particular) where the tax rate is not being saved on the product: https://github.com/woocommerce/woocommerce/issues/27462.

[2020-08-24 20:53] juliaamosova commented on #27406
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

It does look like `Search Options` and `Help` options are not there if there are no orders on the site:

![options1](https://user-images.githubusercontent.com/19143190/91095382-46428180-e62a-11ea-857b-838adabdae6e.jpg)

But options appear once there are orders:

![opti

[2020-08-24 21:36] juliaamosova commented on #27408
@timmyc thank for taking a look and for your feedback on this. I thought about the same - the reason why the payment method is not visible at the front-end is that it is not fully set up on the backend (missing eWay account details and API credentials).

I confirm that without eWay fully set up, I am only seeing the radio button:

![eway1](https://user-images.githubusercontent.com/19143190/9109882

[2020-08-24 21:51] juliaamosova commented on #27264
Hi @ben72,

Thanks for the additional feedback!

They were all present in the sidebar but when I updated to WC 4.4.0-rc.1 they were gone upon refresh except the price filter.
Are you not able to reproduce this? If so, I can email you the site url and login.
Please see screenshots before and after WC update from the Shop page.

We managed to identify the cases where the issue with `Filter by Attrib

[2020-08-24 21:53] juliaamosova commented on #27264
Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'auto_update_woocommerce' not found or invalid function name in /wp-includes/class-wp-hook.php on line 287

There should be coming from WooCommerce Beta Tester plugin:

https://github.com/woocommerce/woocommerce-beta-tester/issues/68

Are you using WooCommerce Beta Tester plugin to switch between WooCommerce dev v

[2020-08-24 22:25] paulocoghi commented on #27460
Thanks for you reply, @juliaamosova. I apologize for the confusion.

I am not asking for custom code. Instead I'm developing (myself) a custom code which applies discounts on WooCommerce carts, and I'm just trying to follow @mikejolley's recommendations for good practice about discounts without negative fees (and without coupons).

The problem is that I am not finding on docs the "discount" functi

[2020-08-25 00:10] HSCOGT commented on #14235
Hi @Andriy-Kulak, I see that you went with the URL option, how did you handle passing the product customization data? I'm trying to implement something similar however I need the params selected by the user for the product like text, because of that, I can't create a product for each combination.

[2020-08-25 02:17] thenbrent opened #27467 "Rename built-in PayPal payment method to PayPal Standard"
The PayPal Standard payment method name in core is currently _PayPal_. This creates ambiguity about which PayPal integration is built into core. It also encourages adoption of PayPal Standard as the integration method, when newer methods are preferable.

Our partners at PayPal have requested the payment method name be updated to the more accurate _PayPal Standard_.

More details: pb0GrA-Qc-p2