[2022-10-12 05:05] rjchow commented on #32045
Oh the bug is on the payments connect screen, after returning from the stripe connection flow it still says "finish setup" and clicking on it doesn't do anything

[2022-10-12 06:03] thisissandip commented on #33985
I am also able to replicate this. Labeling the issue `status: awaiting triage` for devs to have a look

[2022-10-12 07:32] alexmigf opened #35049 "Hook to edit order list columns not firing on HPOS testing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We run several plugins that hook to the order list table to add custom columns using this filter `manage_edit-shop_order_columns`, but when I was testing compatibility for HPOS I

[2022-10-12 07:59] kkmuffme commented on #33944
Replied on the PR, goal is to make `get_product` behave like WP `get_post` which is the WP core equivalent but doesn't suffer from this issue

[2022-10-12 08:15] jarekmorawski commented on #35037
Thanks for creating the issue, @mdperez86. Initially, we discussed using a snackbar message for this, but after the demo, I think it'd be more suitable to show an in-form validation, much like the empty field. Given that the problem is with the slug, perhaps we could run a check when the user exits the field and 1) show the validation message 2) disable the `Add` button.

The message could read:

[2022-10-12 08:21] szepeviktor opened #35050 "Internal class AccessiblePrivateMethods used in non-internal code"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello! I run a project called WC stubs. It excludes internal stuff as that should not be used by WC extension developers.

In this class an internal trait is used.
https://github

[2022-10-12 08:23] szepeviktor commented on #35050
I've opened this issue for **your** benefit.
Not interested in working more than opening it.

[2022-10-12 08:43] WillieHuizing commented on #33806
I know this is not Woocommerce related but I wanted to post my findings in case anyone else comes across this issue having similar problems.

@codeagencybe I've found the problem and a solution, though I'm not sure how to prevent this from happening. The file 'woocommerce-multilingual/inc/class-wcml-products.php' adds a hook for 'wc_product_has_unique_sku' which triggers the 'check_product_sku' me

[2022-10-12 09:13] axaak commented on #34710
Many thanks for looking at this. Apache php extension bug could be a possibility since it doesn't happen with php-fpm or the earlier 7.4 Apache module.

[2022-10-12 10:38] Anissa-Rouzzi opened #35053 "Woocommerce : Product.UpdateRange is not working"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Hello! I run a project that use WcObject to create/update produ

[2022-10-12 10:52] github-actions[bot] opened #42557 "[Flaky Test] renders without crashing"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
renders without crashing

## Test path
`tests/e2e/specs/backend/product-new.test.js`

## Errors

<time datetime="2022-10-12T10:52:02.104Z"><code>[2022-10-12T10:52:02.104Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/woocommerce/woocommerce

[2022-10-12 10:53] electrokit commented on #34851
Our validation errors are disappearing as well. This can be closed.

[2022-10-12 12:23] sebastianpisula opened #35054 "Action `restrict_manage_posts` not works!"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I use action restrict_manage_posts for custom filter field for WooCommerce, but since Woo with custom table I can't add fields. In previous Woo (when I use wp_posts for orders) w

[2022-10-12 12:40] swatipawarGS commented on #35042
Hi @helgatheviking,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 7.0.0 version, WordPress 6.0.2 version, and Twenty Twenty Two theme.

Please find below the screenshot for reference :

![#35042](https://user-images.githubusercontent.com/94531721/195268948-3b437a0f-95f8-4ed3-bdc5-d51035a34c68.j

[2022-10-12 12:50] pomichel commented on #33950
Hi,
Any update on this topic ?
The problem still occurs with Woocommerce 7.0.0.
I can't update my customer website, which is a big issue for us.
Cheers.

[2022-10-12 13:21] #35053 closed, assigned to nobody

[2022-10-12 13:22] #35054 closed, assigned to nobody

[2022-10-12 13:48] helgatheviking commented on #35042
![image](https://user-images.githubusercontent.com/507025/195360291-35542e33-d740-4a53-b825-2e258cdf9b9f.png)

Looks like adding a `button` class starts to pick up some of the styles.... but not the padding:
[code]

@swatipawarGS Is there a build tool for just regenerating the sass files? The Woo build tooling has gone way over my head lately.

Update, I see there is also a `woocommerce-blocktheme

[2022-10-12 14:02] WMspace commented on #34803
All regions according to the Constitution of Ukraine are present in **ISO 3166-1** codes:
ISO 3166-2:UA - https://en.wikipedia.org/wiki/ISO_3166-2:UA

**UA-43 Avtonomna Respublika Krym
UA-30 Kyiv city
UA-40 Sevastopol city**

My only request was to add them to the /i18n/ststes.php file WooCommerce plugin.

_The absence of these regions is nothing else than the recognition of the possibility for Ru

[2022-10-12 14:08] #34861 closed, assigned to nobody

[2022-10-12 16:03] barryhughes commented on #34710
Sorry for the delay; but I can't seem to replicate this bug. Simplifying things a bit, if I have a script like this:

[code]

And I test with [`php:8.0-apache`](https://hub.docker.com/layers/library/php/8.0-apache/images/sha256-41947fcded88a05964decd0f67b2fc30c94c35c89f2d8d48ee984c918293a05a?context=explore) (which uses `mod_php`), then there is no error in the output:

[code]

This matches my exp

[2022-10-12 16:40] octaedro commented on #34928
Hi @pmcpinto,

I'm working on this improvement now. This is the way the button will look like:

![Screen Capture on 2022-10-12 at 13-37-17](https://user-images.githubusercontent.com/1314156/195399975-dc325a54-6f86-4bbf-98d1-4342f2d61d6c.gif)

Please let me know if you want a change in the styles.

// cc @jarekmorawski

[2022-10-12 18:05] pmcpinto commented on #34928
@octaedro this approach works for me. Thanks

[2022-10-12 18:09] pmcpinto commented on #34000
@louwie17 do you have an estimate of when it will be possible to wrap up this work?

[2022-10-12 18:10] #34874 closed, assigned to barryhughes

[2022-10-12 18:16] #34759 closed, assigned to octaedro

[2022-10-12 19:56] louwie17 commented on #34000
The attributes part of this issue has been finished and merged, I created a separate issue for the categories part #34885 .

As per @jarekmorawski design most of this should already be available, aside from the dropdown with the checkboxes. So to do that work it would take between 2-3 day's.
I have not started this part yet, as I had grabbed the MVP attributes work in the mean time. This is why I

[2022-10-12 20:02] moon0326 commented on #32045
Thank you! However, I still can't reproduce it.

Maybe it was fixed recently? Could you try to reproduce it when you get a chance?

[2022-10-12 20:11] #34386 closed, assigned to joshuatf

[2022-10-12 20:16] sebastianpisula commented on #35054
It's a bug

[2022-10-12 20:38] Matze1006 opened #35062 "Coupon amount is not deducted after order"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If a voucher is used for an order, the voucher amount is not reduced in the backend after the order. The voucher can thus be used multiple times. The usage is counted up, but the

[2022-10-12 20:39] #34569 closed, assigned to nobody

[2022-10-12 20:40] Matze1006 commented on #35062
https://user-images.githubusercontent.com/100772706/195443356-e78db097-58b8-415c-88d6-dcead10e4540.mp4

[2022-10-12 21:30] #34387 closed, assigned to joshuatf

[2022-10-12 22:20] roykho commented on #35062
@Matze1006 - Thanks for reporting however I believe you didn't set this coupon correctly. According to your video, it shows unlimited use. The correct setting should look like this ![4wRrs2.png](https://user-images.githubusercontent.com/2132595/195458572-20a26d08-8471-4d57-903c-be7eedf55a17.png)

With that direction, you should be able to use it correctly so I will be closing this now.

[2022-10-12 22:20] #35062 closed, assigned to nobody

[2022-10-12 22:39] Matze1006 commented on #35062
Hello roykho, I probably did not describe the error correctly. It is a gift voucher. If a customer buys a voucher e.g. 50 €, then he can use the voucher until it is used up.
E.g. 50 € start - sum x = remaining value. Unfortunately, the residual value is currently always the start value, because the sum X is not deducted. Even if I restrict the use to a maximum number.

Thank you for your effort

[2022-10-12 22:41] Matze1006 commented on #35062
@roykho sorry didn't link you

[2022-10-12 22:53] roykho commented on #35062
@Matze1006 - I believe you're looking for something like this https://woocommerce.com/products/gift-cards/

[2022-10-12 22:57] Matze1006 commented on #35062
Hey @roykho , no I really know my way around. Please watch the video again and pay attention to the coupon amount. Before and after the order. The amount should have been reduced. My shop has been running for a few years now and until recently it worked great.

[2022-10-12 23:06] roykho commented on #35062
@Matze1006 - Unfortunately it was not designed to work that way as you can see in our documentation https://woocommerce.com/document/coupon-management/

Do you perhaps have a 3rd party plugin that works with WooCommerce in this way?

[2022-10-13 00:14] TheRadicalDreamer commented on #27803
I do believe supporting minlength is really useful for easy checkout modifications

[2022-10-13 00:39] #34340 closed, assigned to nobody

[2022-10-13 00:42] cwtreadwell commented on #25969
I have this same situation; however, in my case, woocommerce is outputting a price completely unrelated to any of the simple products in the grouping.

For example, I have product A with a price of $99. And product B with a price of $399. Both A and B are grouped products. The price for the grouping shows up in the structured data as $89 instead of the cost of the cheapest item, which is $99.

Has

[2022-10-13 02:18] hendrasyp commented on #19260
There's also conflict with **WPA WooCommerce Product Bundle** Plugin from WPAddon.net

[2022-10-13 02:27] #34797 closed, assigned to nobody

[2022-10-13 08:12] #34796 closed, assigned to nobody

[2022-10-13 11:32] github-actions[bot] opened #42556 "[Flaky Test] product count can be toggled"
**Flaky test detected. This is an auto-generated issue by GitHub Actions. Please do NOT edit this manually.**

## Test title
product count can be toggled

## Test path
`tests/e2e/specs/backend/stock-filter.test.js`

## Errors

<time datetime="2022-10-13T11:32:48.724Z"><code>[2022-10-13T11:32:48.724Z]</code></time> Test passed after 1 failed attempt on <a href="https://github.com/woocommerce/woocom

[2022-10-13 11:36] #34927 closed, assigned to nobody

[2022-10-13 12:04] dhaval21313 opened #35071 "i got error on my website during checkout when someone select COD as option. the error is -- error processing checkout. but on my dashboard the order shows processed."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

i got error on my website during checkout when someone select COD as option. the error is -- error processing checkout. but on my dashboard the order shows processed.

### Expect

[2022-10-13 12:19] vedanshujain commented on #33158
Addressed in #34465

[2022-10-13 12:19] #33158 closed, assigned to vedanshujain

[2022-10-13 12:42] #34928 closed, assigned to octaedro

[2022-10-13 12:53] swatipawarGS commented on #34464
Hi @dinhtungdu,

Thank you for the updated information. we are able to reproduce the issue using the given updated information on our end with WooCommerce 7.0.0 version and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/195525521-64984f9d-be94-4c8b-9944-6573d1aae9c8.mp4

Priority of this issue will be assigned shortly

[2022-10-13 13:14] #35071 closed, assigned to nobody

[2022-10-13 13:44] pmcpinto commented on #34000
👍 thanks for the update.

[2022-10-13 13:57] peterfabian opened #35074 "[HPOS] `admin.php?page=wc-orders` shows not allowed when CPT is active"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I switch the order data store from HPOS to CPT and navigate to list of orders (`wp-admin/admin.php?page=wc-orders`), I see `Sorry, you are not allowed to access this page.`

[2022-10-13 13:58] peterfabian commented on #35074
Related to https://github.com/woocommerce/woocommerce/issues/34320. Once this works fine, the other issue can be closed I believe.

[2022-10-13 14:03] peterfabian commented on #34320
Adding a bit of context here based on my research now.

- the getAdminLink is actually [implemented in the Blocks plugin](https://github.com/woocommerce/woocommerce-blocks/blob/trunk/assets/js/settings/shared/utils.ts#L107-L108) and it doesn't do much on its own besides concatenate string passed as the parameter to some default prefix.
- we actually redirect the list-of-orders and edit-order scree

[2022-10-13 14:09] domenasuperfashion opened #35075 "[Enhancement]: If Hide out of stock items from the catalog is checked keep prices on sold-out variable products visible otherwise, there is a problem with creating schema offers"
### Describe the solution you'd like

If  Hide out of stock items from the catalog  is checked on sold out variable products, then arises a problem with creating schema offers.
If the price would remained visible  on sold-out variable products (just like on simple products), the problem with schema offers would be solved

### Describe alternatives you've considered

_No response_

### Additional c

[2022-10-13 14:22] louwie17 opened #35076 "__experimentalSelectControl: Add async support"
**Description**

The current [experimental select control](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/components/src/experimental-select-control) forces the consumer of the component to handle all the async logic, this is in theory fine, but will require quite a bit of boiler plate for any async fields.

The Select Control also makes it a bit tricky to notify the user when t

[2022-10-13 16:39] roykho commented on #35075
Hi @domenasuperfashion - could you please give us more detail as to what you mean?

[2022-10-13 16:48] #34280 closed, assigned to nobody

[2022-10-13 17:06] barryhughes commented on #35018
Thanks for flagging this, @iamdharmesh: we'll look into this.

[2022-10-13 17:34] barryhughes commented on #35004
Hi @helgatheviking,

I think you were referencing a piece of code, but the link seems to be broken. Can you confirm, though, that existing event [`woocommerce_added_attribute`](https://github.com/woocommerce/woocommerce/blob/7.0.0/plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js#L468) isn't suitable for your needs here—what would you prefer to see if so?

[2022-10-13 17:44] barryhughes commented on #34594
Thanks for the report.

We'll get to this as quickly as we can. @dswebsme: if you are happy to submit a pull request with a fix we'd appreciate it (no problem at all if you don't have time, of course—but it looks from your comment like you already have a good sense of the root of the problem).

[2022-10-13 17:47] barryhughes commented on #34915
Closing as a duplicate of #31048.

[2022-10-13 17:47] #34915 closed, assigned to nobody

[2022-10-13 17:48] barryhughes commented on #31048
This problem was referenced again in #34915. We could look into moving away from the Scheduled Events API (ie, "WP Cron") and using the WC Action Queue (ie, Action Scheduler) instead.

[2022-10-13 19:03] octaedro commented on #34942
These changes have been deployed, after landing D89706-code

[2022-10-13 19:03] #34942 closed, assigned to pmcpinto

[2022-10-13 19:41] moon0326 commented on #33306
Not exactly a 'Woo Favored' implementation, but I've added [in_treatment](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/react-admin/class-experimental-abtest.php#L106) method a few months ago to make it a bit simpler to use.

[2022-10-13 19:55] jonathansadowski opened #35083 "Audit action workflows to remove deprecated GitHub save-state/set-output commands."
https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

I've noticed warnings about this in several of our actions. I assume that this won't be something with an urgent timeline, as many published actions probably utilize these outputs, but just getting it out there.

[2022-10-13 20:24] jonathansadowski commented on #34215
Reopening for the moment, as the solution I was able to test sans-team reviewers, as it turns out, didn't work with team reviewers. Digging into it.

[2022-10-13 21:19] barryhughes opened #35088 "[COT/HPOS] Deleting an order does not remove it from the posts table"
While working on https://github.com/woocommerce/woocommerce/pull/35087 I noticed that, when COT is authoritative and sync is enabled, force deleting the order does not remove the matching record from the posts table.

[2022-10-13 21:22] barryhughes opened #35089 "[COT/HPOS] Trashing an order does not trigger an update to the posts table"
While working on https://github.com/woocommerce/woocommerce/pull/35087 I noticed that, when COT is authoritative and sync is enabled, trashing an order does not impact the status of the matching post table record.

To replicate (current trunk code):

1. Set COT to authoritative, enable sync.
2. Trash an order.
3. Try to use the 'trash' link in the admin list table.
4. The order is instantly set ba

[2022-10-13 21:55] JRCadenaV commented on #20689
Is 13/10/2022 and it seems there's no solution about this problem:
https://github.com/woocommerce/woocommerce/issues/20689#issue-337586557
If you know some easy and simply solution, please let me know thanks!

[2022-10-13 22:19] roykho commented on #34424
This issue is closed via https://github.com/woocommerce/woocommerce/pull/35078

[2022-10-13 22:19] #34424 closed, assigned to psealock

[2022-10-14 01:23] RamirezChrisJohn opened #35091 "Issue on adding and removing all/single tax_line (Woo Rest API)"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

I've tried to edit an order tax lines, the problem is that wh

[2022-10-14 02:20] #35091 closed, assigned to nobody

[2022-10-14 07:25] jarekmorawski opened #35092 "[Enhancement]: Replace the trash can icon in the list item component"
### Describe the solution you'd like

Several people mentioned that the trash can icon used for removing items from lists in Attributes, Upsells, and Cross-sells draws too much attention and disturbs the element's visual balance.

I'd like to replace it with a simple X icon (`close-small` in the Gutenberg icon library. Note that there's also a larger X icon, but we should use the smaller one). Tha

[2022-10-14 08:44] kimclow commented on #34987
Noting here that we had this same issue on our partner's site: brodo.com

You can review the steps to reproduce, and the short-term fix we implemented on the [GH Issue on their repo](https://github.com/a8cteam51/brodo/issues/344).

[2022-10-14 08:55] webdados commented on #34987
Error 404

[2022-10-14 09:03] ahegyes commented on #34987
@webdados The short-term fix was to bring back the short description metabox until this issue is fixed :)

[2022-10-14 10:36] goransle opened #35093 "Clearing the value of a fee item causes TypeError when saving order items"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Clearing the value of a fee item on an order via the admin interface causes the following TypeError:
[code]

![image](https://user-images.githubusercontent.com/7478772/195823456-

[2022-10-14 11:01] nbase-apsleyfarms commented on #32187
I am also experiencing this issue.

WooCommerce version 7.0.0. WordPress version 6.0.2

[2022-10-14 11:10] peterfabian opened #35094 "[HPOS] [Enhancement]: Create db tables automatically"
### Describe the solution you'd like

At some point in the HPOS rollout, we need the db tables to be created automatically during the WC core update instead of manual action via Status > Tools.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-14 11:22] peterfabian opened #35095 "[HPOS] Order sync problem"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In my test environment, I got my orders into some strange state where I can't sync via CLI:

[code]

But my orders are unsynchronized:
[code]

UI recognizes the orders are out of

[2022-10-14 12:27] jorgeatorres opened #35097 "Feature compatibility and plugin-activating flows"
**Prerequisites (mark completed items with an [x]):**
- [X] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Despite our work in #34879 and #35063, there are a still a few

[2022-10-14 15:23] tomalec opened #35102 "Navigating to pages registered with URL parameter fully reloads the page instead of doing SPA navigation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I register the React-powered pages with URL parameter:

[code]

Then use WooCommerce navigation to navigate between individual pages, the full page reload happens instead of

[2022-10-14 15:27] barryhughes commented on #35050
Hi @szepeviktor,

It's not clear to us what the problem is here.

I searched for "wc-stubs" and found two projects [[1]](https://github.com/polylang/polylang-wc-stubs) [[2]](https://github.com/polylang/wc-mix-and-match-products-stubs) but I assume they are unrelated. Though the problem must be pretty clear to you, we are really lacking context here.

Something we would note is that, "behind the sc

[2022-10-14 15:27] #35050 closed, assigned to nobody

[2022-10-14 15:32] szepeviktor commented on #35050
Thank you for your response.

https://github.com/php-stubs

[2022-10-14 16:11] marcwenger commented on #28576
Also doing work on Shipping Zones.  How does one, programatically, assign a country to the field `Zone Regions`?  Only method of `wc_zone_location` is `list` and there are no apparent fields in settings for`shipping_zone_method`

[2022-10-14 16:50] barryhughes commented on #35049
Hi @alexmigf,

We actually covered almost this same question in a recently posted [FAQs post](https://developer.woocommerce.com/2022/10/11/hpos-upgrade-faqs/). The `manage_woocommerce_page_wc-orders_custom_column` hook is essentially equivalent to `manage_edit-shop_order_columns` and should allow you to add your own columns.

Does that help?

[2022-10-14 16:52] barryhughes commented on #35049
Apologies for the automated reply: if you have further questions on this specific topic, feel free to post them here.

[2022-10-14 17:43] artuze opened #42555 "ProductCategories block: Adjust arguments sent to get_terms"
## Is your feature request related to a problem? Please describe.
I'd like to be able to exclude certain categories from appearing in the Product Categories block, similar to how the `woocommerce_product_categories_widget_args` filter on the old Product Categories widget allowed for modifying the arguments passed into `wp_list_categories`.

## Describe the solution you'd like
Ideally, adding a fil

[2022-10-14 18:43] #34974 closed, assigned to moon0326

[2022-10-15 10:51] AnnaMag opened #35108 "Tracks: revise the events presence and naming in the form MVP."
Verify the placement of the Tracks events within the new form and the flow entry points:

- [ ] flow for new users
- [ ] flow for the existing users

[2022-10-15 17:46] tamas-web opened #35109 "variation data tab radio inputs are unchecked after reordering variation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am trying to add a couple of radio buttons to variations data tabs with the `woocommerce_product_after_variable_attributes` hook. So when ever you have a radio option selected,

[2022-10-16 12:01] sinapirani commented on #24179
i also need this 🤦‍♂️

[2022-10-16 16:06] lxmultimedia commented on #33950
i'am experiencing the same problem, update not possible

fix would be appreciated...

as a workaround i have to manually edit the wp-core-functions.php in plugin/woocommerce/includes

[code]

[2022-10-16 16:59] csmcneill commented on #32454
37449592-hc

[2022-10-16 22:10] alemburda commented on #32187
This problem is driving me crazy :(

[2022-10-16 23:19] serafintechnology opened #35112 "Paragraph Tag Is Being Stripped from Customer Note Section"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The paragraph tag that's added to custom notes section under the shipping fields on each order is being stripped. I've tried this on several sites and believe this is a bug relat

[2022-10-17 07:29] sebastianpisula opened #35113 "Custom Bulk Action"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Custom Bulk actions is not backward compatibility when **WooCommerce orders tables** is enabled.

### Expected behavior

Bulk actions should be works for **WooCommerce orders tab

[2022-10-17 08:19] vedanshujain commented on #35097
The current plan is to change the notification system little bit so that:

1. In the feature screen, currently, there is no warning before disabling the feature for pending sync. Disabling HPOS immediately switches over to the posts table, even if there are unsynced orders
2. We have a notification that appears when a plugin is active, which is not compatible but is only displayed for the plugin s

[2022-10-17 08:33] AnnaMag opened #35115 "Product creation experience: streamline the attribute creation experience #1"
Description: the UI for creating attributes is an error-prone and time-consuming experience. We should explore ways to streamline the experience with minimal effort.

Acceptance criteria:

- [ ] Add a tooltip near the "custom product attribute" dropdown and "add" CTA with a link to the support doc: https://woocommerce.com/document/managing-product-taxonomies/#section-6
- [ ] If there are no attrib

[2022-10-17 08:33] AnnaMag opened #35116 "Product creation experience: streamline the attribute creation experience #2"
Description: the UI for creating attributes is an error-prone and time-consuming experience. We should explore ways to streamline the experience with minimal effort.

Acceptance criteria:

- [ ] Add "Custom attribute" title to each new attribute until the user adds the attribute name
- [x] The 2 expand/close options are confusing. Should we just keep one of them?
- [ ] Improve the visibility of th

[2022-10-17 08:34] AnnaMag opened #35117 "Product creation experience: streamline the attribute creation experience #3"
**Description:** the UI for creating attributes is an error-prone and time-consuming experience. We should explore ways to streamline the experience with minimal effort.

**Acceptance criteria:**

- [ ] Existing attribute options are always reset when added to a new product. Remember the last used settings for attributes, i.e. "Used for variations" and select all values by default so that the user

[2022-10-17 08:35] AnnaMag commented on #33541
I opened 3 separate issues with smaller scopes as suggested above. Closing this issue.

[2022-10-17 08:35] #33541 closed, assigned to nobody

[2022-10-17 09:29] alexmigf commented on #35049
Sorry, I have missed that post, I will test and get back to you again.

[2022-10-17 09:47] sebastianpisula commented on #35113
https://wordpress.org/support/topic/custom-bulk-action/

[2022-10-17 09:57] alexmigf commented on #35049
@barryhughes is not exactly the one you mentioned, is this `manage_woocommerce_page_wc-orders_columns`, but it works now. Thank you!

[2022-10-17 09:57] #35049 closed, assigned to nobody

[2022-10-17 12:13] adrianduffell commented on #32476
Hi @ifNoob , thanks for reporting this and apologies for our slow response.

I believe this has since been fixed in the refactor of `Onboarding.php` that occurred prior to the merge of WC Admin. The specific line of code no longer exists.

If it is still an issue for you, please re-open and we'll take another look.

[2022-10-17 12:13] #32476 closed, assigned to nobody

[2022-10-17 12:18] pmcpinto commented on #34926
Interesting. Thanks for sharing your feedback on this :)

[2022-10-17 12:34] andreDane opened #35120 "Missing woocommerce session cookie unset when updating WP Salt keys"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,
I found out that when the WP salt keys are updated, currently logged in users are logged out but then cannot log in until the `wp_woocommerce_session_{hash}` cookie is manual

[2022-10-17 12:55] swatipawarGS commented on #35093
Hi @goransle,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 7.0.0 version, and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/196161716-cbd0aca6-3f60-4dc7-9e9b-1d59c0b306b9.mp4

Please provide us with more details and

[2022-10-17 13:41] axaak commented on #34710
Hi,
thank you very much for looking at this.
I have

[code]
which fails with

`Mon Oct 17 13:25:27.474579 2022] [php:error] [pid 16859] [client 86.138.100.188:47758]  PHP Fatal error:  Only variables can be passed by reference in /home/path/htdocs/barryh.php on line 5`
so re-creatable here.

Picking up on your point that its installation specific, I restarted Apache (again) and all is well!  We ha

[2022-10-17 13:41] #34710 closed, assigned to barryhughes

[2022-10-17 14:16] pmcpinto opened #35122 "[EPIC] CES improvements"
The Customer Effort Score (CES) can be useful for measuring user satisfaction with each feature. We’ll implement low-effort changes to decrease the survivorship bias, improve the feedback collected, and make some adjustments tailored to the needs of the new product creation experiment.

[2022-10-17 14:28] tobitttt commented on #33950
Having the same error here, the workaround is fine but I need a more permanent fix, editing core files is unacceptable

[2022-10-17 14:35] pmcpinto opened #35124 "CES: Add additional question to CES modal"
**Description:** we're introducing one additional question about usefulness (similar to the [UX-lite survey](https://href.li/?https://measuringu.com/from-umux-lite-to-ux-lite/)) to allow us to collect feedback about an additional dimension. Currently, we're only collecting feedback on ease of use.

**Acceptance criteria:**
- [ ] Add a second question with the 1-5 scale, as we have in the first que

[2022-10-17 14:39] pmcpinto commented on #35124
@jarekmorawski can you add the 2nd question copy for each feature? Thanks
Store setup
Add product
Update product
Configure settings
Update order
Filter Analytics
Import Products
Product Categories
Product Attributes
Product Tags
Search (orders, products, customers)

[2022-10-17 14:58] pmcpinto opened #35126 "CES: exit prompt"
**Description:** we only trigger the CES when the user completes a task, which can be influenced by survivorship bias. We want to test showing the prompt at a different stage of the flow to collect feedback from users who don't complete the task.

**Acceptance criteria:**

- [ ] Show the CES snackbar after the users navigate away from a task without completing it (add a product, configure settings

[2022-10-17 15:01] jarekmorawski commented on #35124
`The store setup is easy to complete.`

`The store setup process meets my needs.`

`The product creation screen is easy to use.`

`The product creation screen's functionality meets my needs.`

`The product update process is easy to complete.`

`The product update process meets my needs.`

`The settings screen is easy to use.`

`The settings screen's functionality meets my needs.`

`The order detai

[2022-10-17 15:09] jarekmorawski commented on #33541
Looks good to me. Regarding the expand/close options, I'd go with text buttons. They make the UI clearer and may help solve the problems we're now dealing with in variations (which use the same layout).

[2022-10-17 15:16] #35109 closed, assigned to nobody

[2022-10-17 15:19] pmcpinto opened #35127 "CES: additional add/edit product prompts"
**Description:** we want to include some additional prompts to the add/edit product, as it's our current focus. This will also be useful to test the effectiveness of different prompts and eventually apply them to other parts of the product experience.

**Acceptance criteria:**
- [ ] The changes should only be applied when the user is adding or editing a product
- [ ] Include a "Feedback" icon in t

[2022-10-17 15:26] roykho commented on #35113
Hi @sebastianpisula - is this in regards to the unreleased HPOS build of WooCommerce?

[2022-10-17 15:26] tomalec commented on #34789
@chihsuan I made a PR to start removing `qs` dependency (starting from a feal `woocommerce-admin` package) https://github.com/woocommerce/woocommerce/pull/35128

[2022-10-17 15:33] pmcpinto opened #35129 "CES: Add prompt for modal feedback after user creates first product using the new experience."
**Description:** we want to add a CES prompt with more visibility in the new add/edit product experience we'll test to collect more feedback during the alpha and beta stages.

**Acceptance criteria:**
- [ ] Display the following bar at the bottom of the screen after the user creates a product using the new experience. The bar will only be dismissed when the user clicks on the "X" button. The "Shar

[2022-10-17 15:45] barryhughes opened #35130 "[COT/HPOS] Review and revise use of `?orders[]` in Admin List Table URLs"
In our admin list table for orders (COT/HPOS), we use [`'order'`](https://github.com/woocommerce/woocommerce/blob/7.0.0/plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php#L44) as the singular label for each row. This is then used [to form our checkbox inputs](https://github.com/woocommerce/woocommerce/blob/7.0.0/plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php#L577). Therefore,

[2022-10-17 18:02] barryhughes commented on #34710
Terrific! I wonder if it was indeed a bug in `mod_php` (or else the [Apache extension](https://www.php.net/manual/en/book.apache.php)), then? In any case, I'm glad things are now resolved—and thank you for providing an update.

[2022-10-17 18:14] mdperez86 commented on #35037
@jarekmorawski

This is an assumption! I mean, as a dev I know the server error was caused by a slug duplication. But if we look at the server response, there is no way to know it's something related to the slug at all.
[code]
Which means we can not bind this error to the slug field. This error is more like a global one and should not be treated as per-field error. If we do that then other possibl

[2022-10-17 18:23] #34833 closed, assigned to moon0326

[2022-10-17 18:38] louwie17 commented on #35092
@jarekmorawski I assume this issue will only pertain to the work for the attributes list, given the upsells and cross-sells fields have not been implemented yet? so it would be done as part of the initial work for those fields?

[2022-10-17 20:50] joshuatf opened #35134 "[Components] Rich text editor block transform bug"
When adding the first block to an editor, attempting to transform the block ("P" button in the upper left of the editor) usually requires 2 clicks before it can be opened.

It looks like the first click may not have selected the block properly.

![Image](https://user-images.githubusercontent.com/10561050/196280180-1e0aa3ac-79a6-4f64-985d-4cfe2ebba3a6.png)

Note that it's possible this could be rel

[2022-10-17 20:53] joshuatf opened #35135 "[Components] Rich text editor toolbar not initially shown"
When initially loading the product page (or any page with a rich text editor), the toolbar for the editor is not initially shown.

![Image](https://user-images.githubusercontent.com/10561050/196280983-f81b9cca-f361-49f3-b0fe-5324c2b51f3a.png)

This is because the initial block has not been selected.  However, selecting a block with the GB API results in focusing the editor which will result in acc

[2022-10-17 20:58] joshuatf opened #35136 "Merge product add and edit page component logic"
Currently, `AddProductPage` and `EditProductPage` are 2 separate components.  This leads to some level of confusion and duplication.

https://github.com/woocommerce/woocommerce/blob/e7290b287b2dd8b1a179ff8d6d8cf604fcf8fdb6/plugins/woocommerce-admin/client/products/add-product-page.tsx#L5

https://github.com/woocommerce/woocommerce/blob/e7290b287b2dd8b1a179ff8d6d8cf604fcf8fdb6/plugins/woocommerce-a

[2022-10-17 21:02] serafintechnology commented on #35112
@roykho thank you for the update. Appreciate it.

[2022-10-17 21:51] joshuatf opened #35138 "[Components] Form component should have utility methods for various input types"
The `Form` component currently contains a helper function [getInputProps](https://github.com/woocommerce/woocommerce/blob/e7290b287b2dd8b1a179ff8d6d8cf604fcf8fdb6/packages/js/components/src/form/form-context.ts#L24-L34) which returns an object with all props needed by various input types.

However, Typescript will begin to throw errors where props don't match the correct controls.  For example, `c

[2022-10-17 22:14] joshuatf opened #35139 "Move product action buttons to header menu"
To make the product page actions more prominent and easier for users to find, we should move them to the top right of the page in the header.

![Image](https://user-images.githubusercontent.com/10561050/196292740-7eb67cf8-2a93-48cf-b873-bdcb1e874097.png)

We can use the `WooHeaderItem` [slot](https://github.com/woocommerce/woocommerce/blob/e7290b287b2dd8b1a179ff8d6d8cf604fcf8fdb6/plugins/woocommer

[2022-10-18 00:28] moon0326 commented on #32045
@csmcneill I can only reproduce the behavior when I use the WC Pay dev plugin, which means actual customers will not experience the described bug. It sounds like GS team could not reproduce it either.  We haven't received any other similar issues so far.

I think this issue can be closed. What do you think @csmcneill?

[2022-10-18 06:16] tamas-web commented on #35109
I am not requesting any support assistance. I provided a code sample so you can check the issue which I'm refering to.
I'll try to explain the bug again. When ever you have a radio input in a variation, and you try to reorder that variation, all radio input settings for that variation loose their checked status. They become unchecked.

[2022-10-18 08:00] jarekmorawski commented on #35037
Gotcha! Let's use the snack bar, then. 👍

No, I meant in relation to the current session. For example, the user creates a new shipping class and sees the category filled in. But if the add another one _while still working on the same product_, the fields in the add shipping class modal would be empty. Does that make sense? 🤔

[2022-10-18 08:02] jarekmorawski commented on #35092
That's correct. We use the same list element in Attributes, Upsells, Cross-sells, Grouped Products, and Downloads. Most of them have not been implemented yet, but use the same principle and components, both design and code-wise.

[2022-10-18 08:15] jarekmorawski commented on #35126
LGTM. I'd only add a criterion to show the prompt once for the setup process. Otherwise, we'll risk annoying the users and getting skewed results.

[2022-10-18 08:17] jarekmorawski commented on #35127
How about this for the spotlight copy? A bit more casual and passive, but also tailor to this specific use case.

[2022-10-18 08:34] jarekmorawski opened #35141 "[Epic][Downloads] File upload"
**Job story**

- When I put my digital product or service on sale on my website,
- I want to upload the source files
- So the customers can easily access them after purchase

**Design**

AkVNGImLgSqCObTQ3idVn7-fi-7001_308054

**Acceptance criteria**

- [x] The Downloads form section is shown after the Images section under the General tab. The section tooltip reads: `Add any files you'd like to mak

[2022-10-18 08:37] jarekmorawski opened #35142 "[Downloads] File list"
**Job story**

- When I put my digital product or service on sale on my website,
- I want to manage basic file settings
- So that the customer has a better post-purchase experience

**Design**

AkVNGImLgSqCObTQ3idVn7-fi-7001_308059

**Acceptance criteria**

- [x] When the user uploads at least 1 file, the product gets the Downloadable trait on the backend (the equivalent of checking the Downloadab

[2022-10-18 08:38] jarekmorawski opened #35143 "[Downloads] Edit file modal"
**Job story**

- When I put my digital product or service on sale on my website,
- I want to manage basic file settings
- So that the customer has a better post-purchase experience

**Design**

AkVNGImLgSqCObTQ3idVn7-fi-7001_309093

**Acceptance criteria**

- [ ] The user can click the Edit button to open a model with file details from each file row.
- [ ] The modal has the file’s name (custom or

[2022-10-18 08:39] jarekmorawski opened #35144 "[Downloads] Manage limits"
**Job story**

When I put my digital product or service on sale on my website,
I want to manage basic file settings
So that the customer has a better post-purchase experience

**Design**

AkVNGImLgSqCObTQ3idVn7-fi-7001_309122

**Acceptance criteria**

- [x] When there's at least 1 file uploaded, we add a `Manage limits` button to the Downloads section heading. Clicking it opens a modal with option

[2022-10-18 08:40] jarekmorawski opened #35145 "[Virtual] ‘Needs shipping’ toggle"
**Job story**

- When I put my digital product or service on sale on my website,
- I want to disable shipping,
- So that the customer has a better post-purchase experience

**Design**

AkVNGImLgSqCObTQ3idVn7-fi-7943_181396

**Acceptance criteria**

- [ ] The user can enable and disable shipping options at the top of the Shipping tab.
- [ ] The toggle is on by default. The user can turn it off at a

[2022-10-18 08:41] jarekmorawski opened #35146 "[Grouped products] Product list"
**User story**

- As a merchant,
- I want to sell a set of similar products
- So that I can earn more money on each order

**Design**
AkVNGImLgSqCObTQ3idVn7-fi-3427_365209

**Acceptance criteria**

**The preview and the SEO tab in the designs are not part of this work.**

- [x] When the user selects a grouped product type, we show an additional `Products in this group` section in the General tab.

[2022-10-18 08:41] jarekmorawski opened #35147 "[Grouped products] Inventory tab"
**User story**

As a merchant,
I want to sell a set of similar products
So that I can earn more money on each order

**Design**

AkVNGImLgSqCObTQ3idVn7-fi-3427_309330

**Acceptance criteria**

- [x] The `Track inventory` toggle is not visible in the Inventory tab for grouped product types.

Depends on https://github.com/woocommerce/woocommerce/issues/41593

[2022-10-18 08:42] jarekmorawski opened #35148 "[External products] Product details"
**User story**

- As a merchant,
- I want to sell a product offered by a partner
- So that I can earn a commission

**Design**

AkVNGImLgSqCObTQ3idVn7-fi-3427_372982

**Acceptance criteria**

- [x] When the user selects an external product type, we show an additional Buy button section in the General tab.
- [x] The link field is required. When the user attempts to publish a product without filling

[2022-10-18 08:43] jarekmorawski opened #35149 "[External products] Inventory tab"
**User story**

- As a merchant,
- I want to sell a product offered by a partner
- So that I can earn a commission

**Design**

AkVNGImLgSqCObTQ3idVn7-fi-3427_371705

**Acceptance criteria**

- [x] The `Track inventory` toggle is not visible in the Inventory section for external product types.

[2022-10-18 09:14] vedanshujain opened #35150 "[COT/HPOS] Explore adding full text search index to address table for performance"
Since we have a separate address table with HPOS, we can add a Full-text search index on all columns in the address table.

This issue explores feasibility by comparing MySQL server support and the tradeoff between insert performance degradation vs search performance upgrade.

If feasible, this issue also scopes adding the index, determining minimum word size, and converting wildcard queries to `M

[2022-10-18 09:43] GDMarket opened #35151 "Translation issue in French: "Save %s" is not translated by the right word"
**Prerequisites (mark completed items with an [x]):**
- [X ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

I made the following suggestion on the translation page and i

[2022-10-18 10:04] villyaraujo commented on #32187
Hello. I solved this problem in my WooCommerce. I just change "unactioned" to "actioned" wc_admin_notes table.

[2022-10-18 11:30] midrocketdev commented on #27419
Hi, this issue is happening again. In the main shop the filters show correctly but when entering a category the filters don't show up. Any ideas?

[2022-10-18 12:14] vedanshujain commented on #34987
Thanks for reporting and marking it as a bug (although low-priority given the niche use case). As a workaround while the bug is fixed, probably a hidden input box with the id `excerpt` can be added. Alternatively, the meta box can be hidden instead of being removed.

[2022-10-18 12:19] pehaa opened #35153 "For manually created orders, applying coupon calculates tax even if tax is not collected in the location specified in the address"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Tax is incorrectly added to manually created orders at the moment when a coupon is applied.

### Expected behavior

When creating an order manually and applying a coupon, the tax

[2022-10-18 12:27] peterfabian commented on #35005
The original issue why the JS was created: https://github.com/woocommerce/woocommerce/issues/28914 (and PR https://github.com/woocommerce/woocommerce/pull/29480).

[2022-10-18 12:28] vedanshujain commented on #35005
Thanks for the report, for now, I think we can fix the bug. Because at this point, some plugins (or even core) that would be throwing multiple errors might be relying on this (unless that's not possible because of the reported bug). Marking it low priority for now (relative to other high-priority issues we have open in the repo).

Also marking good-first-bug as we are limiting the scope to only fi

[2022-10-18 13:23] swatipawarGS commented on #35112
Hi @serafintechnology,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 7.0.0 version, and WordPress 6.0.2 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/196355789-75b526dd-cec3-47a9-b504-2b5074e633b4.mp4

Priority of this issue will

[2022-10-18 13:26] thuautp commented on #33537
Passing a user's feedback here who is affected by this change so we can understand their use case. They decided to downgrade now:

37483465-hc

[2022-10-18 13:30] jarekmorawski commented on #33537
@thuautp Thanks for sharing! How did this change affect the user? We've only added an icon in the module's header, which should not impact any workflows. Can you please ask the user to provide more details and create a new issue if there's a bug? Thanks!

[2022-10-18 13:49] louwie17 commented on #35139
I do think this would be a valuable change and would also align with the block editor format.

cc @jarekmorawski for design input on this, is this something that would seem good to you?

[2022-10-18 13:49] louwie17 commented on #35139
I do think this would be a valuable change and would also align with the block editor format.

cc @jarekmorawski for design input on this, is this something that would seem good to you?

[2022-10-18 13:52] louwie17 commented on #33537
@jarekmorawski we also added logic to collapse the short description by default, so the user will have to expand it every time, we could revert this change?

[2022-10-18 14:03] peterfabian commented on #34810
I can no longer replicate this with WP 6.1 RC1 and WC 7.0. Can you please include step by step instructions if you can still replicate it? Thanks!

[2022-10-18 14:06] louwie17 commented on #35129
Should this persist on a browser refresh?

[2022-10-18 15:04] pmcpinto commented on #35126
@jarekmorawski good point. Maybe this prompt should only be displayed once in each feature. What do you think?

[2022-10-18 15:07] pmcpinto commented on #35127
@jarekmorawski overall, the copy looks good. I'm just unsure about the "we noticed" and the "working hard" terms. What do you think about this?

[2022-10-18 15:38] pmcpinto opened #35156 "Add message to the wc admin page"
**Description:** we want to add a message in https://wordpress.org/plugins/woocommerce-admin/, informing users that the plugin is no longer under development, since it is now a part of WooCommerce Core.

**Acceptance criteria:**
- [ ] Include the following message at the top of the page, ideally before the description section:
WooCommerce Admin is no longer supported
WooCommerce Admin is now part

[2022-10-18 15:57] GDMarket commented on #35151
Hello @roykho

According to "[Translating WordPress](https://translate.wordpress.org/)" (you can find my report here: https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/fr/default/?filters%5Bstatus%5D=waiting):

[packages/woocommerce-blocks/build/cart-blocks/cart-line-items--mini-cart-contents-block/products-table-frontend.js:13](https://plugins.trac.wordpress.org/browser/wooco

[2022-10-18 17:41] pmcpinto opened #35157 "Settings: remove the new nav option"
**Description:** we want to remove the option to enable the beta version of the new navigation, as we're not actively working on it at the moment.

**Acceptance criteria:**
- [ ] Remove the option to enable the new navigation in Settings > Advanced > Features. This option should be removed if the user doesn't have the navigation enabled.
- [ ] Users with the navigation enabled should have access t

[2022-10-18 17:54] Brianmitchtay commented on #35112
This bug has been noted in a recent support ticket as well, and is a critical issue for that user: 5640654-zen

The user believes that the PR that caused this change is: #34477

[2022-10-18 18:26] barryhughes commented on #35112
Thanks for the report, we'll look into a fix :+1:

[2022-10-18 18:29] lukecav commented on #35129
The new product editor will be opt-in or opt-out when available in beta?

[2022-10-18 18:36] mdperez86 opened #35158 "[Shipping] Use the default category option instead the uncategorized slug"
Looks like the default category is stored in an option - `get_option( 'default_product_cat', 0 )`.

We should probably rely on that instead of the slug/name since those could be changed.

_Originally posted by @joshuatf in https://github.com/woocommerce/woocommerce/pull/35123#discussion_r998414170_

[2022-10-18 18:40] #35036 closed, assigned to mdperez86

[2022-10-18 18:41] louwie17 commented on #34930
**Already removed**
- wc-admin-navigation-nudge
- eu_vat_changes_2021
- wc-admin-onboarding-email-marketing
- wc-admin-learn-more-about-variable-products
- wc-admin-marketing-intro ([original copy](https://github.com/woocommerce/woocommerce/blob/05cf7b010e4aa5ec8c148184f9aa8aba2734f493/plugins/woocommerce-admin/src/Notes/WC_Admin_Notes_Marketing.php#L44-L45))
- wc-admin-complete-store-details

**O

[2022-10-18 19:05] #35092 closed, assigned to mdperez86

[2022-10-18 19:12] louwie17 commented on #35127
The copy implies the user hasn't done anything on the page for 7min, is that what we should take into account as well? Meaning that if a user switches through tabs or is writing in the product description we keep resetting the timer?
Meaning that the popup will only show if the user hasn't clicked or typed on the page for 7min.

[2022-10-18 19:38] louwie17 commented on #35124
Adding some extra context from a development context:
We currently trigger CES using the `enqueue_to_ces_tracks` PHP function in conjunction with a CES data store and component here: https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce-admin/client/customer-effort-score-tracks. The `enqueue_to_ces_tracks` is in our Internal folder, so we shouldn't need to worry about backwards

[2022-10-18 19:38] louwie17 commented on #35124
Adding some extra context from a development context:
We currently trigger CES using the `enqueue_to_ces_tracks` PHP function in conjunction with a CES data store and component here: https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce-admin/client/customer-effort-score-tracks. The `enqueue_to_ces_tracks` is in our Internal folder, so we shouldn't need to worry about backwards

[2022-10-18 19:45] AnnaMag commented on #35139
@joshuatf, could you please help @mdperez86 take over the work, grooming it a bit to get him started?
Let's aim for the "conditional version" this week, moving the extended implementation to the next cycle. Thanks!

[2022-10-18 19:58] ngonzales07 opened #35159 "[Enhancement]:"
### Describe the solution you'd like

I am wanting to figure out how I can get an "AND" join on the 'product_cat' categories. As the result are coming in as an "OR" join.

api .get(products, { category: 'category_a,category_b', per_page: 16, })

So this returns all products in "category_a" as well as all products in "category_b". Is there a way to get all products that have both "category_a" and "

[2022-10-18 20:18] #35159 closed, assigned to nobody

[2022-10-18 21:50] nigeljamesstevenson opened #35162 "Woo REST API returns a 403 (Forbidden) error for a non-existent product review"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we attempt to access a deleted or non-existent [product review](https://woocommerce.github.io/woocommerce-rest-api-docs/?javascript#product-reviews), the call responds with

[2022-10-18 22:55] joshuatf opened #35165 "Product creation experience: Add product summary"
The new product experience includes a field for the product summary.  This field should use the new `RichTextEditor` component and allow a short summary for the product.

![Image](https://user-images.githubusercontent.com/10561050/196560201-26778b0d-047a-42cd-ba44-1fcc264f6fa1.png)

**Acceptance criteria**

* [ ] Summary field that shows the product short description
* [ ] Summary field should per

[2022-10-18 23:00] joshuatf commented on #35139
Sure thing, @AnnaMag!  I think the description includes most of what needs to be done, but in short this issue will involve:

1. Wrapping the existing product actions in a `WooHeaderItem` component.  See https://github.com/woocommerce/woocommerce/blob/e7290b287b2dd8b1a179ff8d6d8cf604fcf8fdb6/plugins/woocommerce-admin/client/header/utils.tsx#L29-L39
2. Adding a condition to prevent the activity pan

[2022-10-18 23:08] #34997 closed, assigned to joshuatf

[2022-10-19 00:14] petertwise commented on #29988
@Konamiman @roykho - What's the policy if we are still experiencing this issue? Should we open a new issue since this one is old and was marked closed, or is it possible to have an admin open this issue again?

We are also still experiencing the image issues and Fail2ban lockouts described by @joekhartley  and @singhpaul. We have a temporary fix with filters (thank you @basscl ) to show a fallback

[2022-10-19 00:25] basscl commented on #29988
fyi we're currently fixing by removing those changed filters and re-adding them in the previous version:
[code]

[2022-10-19 00:53] roykho commented on #29988
@petertwise - I would suggest you open a new issue and give as much detail as possible.

[2022-10-19 01:02] basscl opened #35166 "Server errors when downloadable product images are accessed by media library for logged in admin users"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We are experiencing issues for some of our clients where logged in admin users editing products generate server errors along the lines of `client denied by server configuration:

[2022-10-19 01:05] basscl commented on #29988
new issue opened here: https://github.com/woocommerce/woocommerce/issues/35166

[2022-10-19 08:43] jarekmorawski opened #35167 "[Product details] Summary"
**User story**

- As a merchant,
- I want to add a captivating bit of text to the top of the product page,
- So that the customers can learn more about the product.

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-5614%3A223639

**Acceptance criteria**

- [ ]  Users can provide a summary of the product.
- [ ]  The description doesn’t have a character limit.
- [ ] The summary field works the same as the descr

[2022-10-19 08:55] jarekmorawski commented on #35139
@joshuatf @mdperez86 Please hold work on this as I'm working on a new set of issues describing the new header. They'll be ready very soon.

[2022-10-19 09:40] pmcpinto commented on #35129
Hi Luke, we're still in the early stages of exploring a new experience, so it will be opted out by default. We plan to share more details soon.

[2022-10-19 09:40] pmcpinto commented on #35129
Lourens, what's easier to implement?

[2022-10-19 09:41] pmcpinto commented on #35127
No. It should be 7 mins total independent of user interaction. Makes sense?

[2022-10-19 10:05] jarekmorawski opened #35168 "[Header] Header default state"
**User story**

- As a merchant,
- I want to have access to key actions in the interface,
- So I can easily navigate different parts of the experience in WooCommerce.

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-8921%3A376741

**Acceptance criteria**

- [ ] The product form uses the new page header.
- [ ] There are breadcrumbs, the current product's name, its status, main action buttons, the settings but

[2022-10-19 10:16] AnnaMag commented on #35167
Hi @joshuatf! Here is the "missing" issue- thank you for agreeing to take it on.

[2022-10-19 10:25] jarekmorawski opened #35169 "[Header] Product status badge"
**User story**

- As a merchant,
- I want to quickly check the status of my product,
- So I can take immediate action if needed.

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-8921%3A376741

**Acceptance criteria**

- [ ] We show a badge (pill) next to the product's name in the header.
- [ ] In the future, it's possible there will be more than one badge shown simultaneously.
- [ ] The labels show the produ

[2022-10-19 10:33] jarekmorawski opened #35170 "[Header] Breadcrumbs"
**User story**

- As a merchant,
- I want to go back one or more steps in the navigation,
- So I can easily find the information or setting I am looking for.

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-8924%3A388910

**Acceptance criteria**

- [ ] We show breadcrumbs in the left part of the new page header.
- [ ] Each breadcrumb is clickable.
- [ ] The arrows between the links are not clickable.
- [ ] T

[2022-10-19 10:36] pmcpinto opened #35171 "Product details title update"
**Description:** the product info section has the wrong title. It should be titled "Product Details".

**Acceptance criteria:**

- [x] Change the product info section title to Product Details

[2022-10-19 10:44] jarekmorawski opened #35172 "[Header] Product name"
**User story**

- As a merchant,
- I want to see what product I'm editing at all times,
- So I can avoid possible mistakes.

**Design**
5sAIeTRd9Yp7nSCT33BAWz-fi-8924%3A388910

**Acceptance criteria**

- [ ] We show the product's name as the last step in the breadcrumbs in the header.
- [ ] We use the product type if the product doesn't have a name yet. Example: `New standard product`, `New groupe

[2022-10-19 10:47] pmcpinto opened #35173 "Category management improvements"
**Description:** the new category management flow has some flaws that should be fixed before we test the new experience with users

**Acceptance criteria:**

- [x] The user should see an option to create a new category when he starts typing
- [x] The category list should appear on the first click

[2022-10-19 10:53] pmcpinto opened #35174 "Remove some placeholder values"
**Description:** Some placeholder values can confuse the user rather than help him understand what should be added in the input field.

**Acceptance criteria:**

- [x] Remove the placeholder value in the list price
- [x] Remove the placeholder value in the sale price
- [x] Remove the placeholder value in the SKU

[2022-10-19 10:54] opr opened #42554 "Allow fields and inner blocks in the Checkout block to be reordered and moved between areas"
## This issue is to track the requests for enabling customisation of the placement Checkout block fields and inner blocks.

In woocommerce/woocommerce-blocks#7429 and woocommerce/woocommerce-blocks#7300 we had requests from users to be able to move the `Place order` button to a different part of the Block, and for more freedom to move fields around the block too.

This issue will be used to track

[2022-10-19 10:55] pmcpinto commented on #35174
@jarekmorawski do you think we should remove the placeholder value from the product name as well?

[2022-10-19 10:55] jarekmorawski opened #35175 "[Header] Contextual action buttons – Settings"
**User story**

- As a merchant,
- I want to change the product type,
- So I can create a better product for my customers.

**Design**

5sAIeTRd9Yp7nSCT33BAWz-fi-8921%3A376741

**Acceptance criteria**

- [ ] When the user clicks the cog icon in the top right corner, we show a sidebar with several collapsible panels.
- [ ] The sidebar looks and behaves exactly as in the Gutenberg editor/FSE.
- [ ]

[2022-10-19 11:00] jarekmorawski opened #35177 "[Header] Contextual action buttons – More menu"
**User story**

- As a merchant,
- I want to share feedback on the new product editing experience,
- So the WooCommerce development team can continue improving it.

**Design**

5sAIeTRd9Yp7nSCT33BAWz-fi-8921%3A376741

**Acceptance criteria**

- [ ] When the user clicks the ellipsis icon in the top right corner, we show a dropdown menu with several options.
- [ ] The menu looks and behaves exactly

[2022-10-19 11:03] MagicBearStudio commented on #32187
I am also experiencing this issue.

WooCommerce version 7.0.0. WordPress version 6.0.2.

[2022-10-19 11:05] pmcpinto opened #35178 "Shipping class: auto-assign new shipping class to product"
**Description:** currently, the user needs to assign a shipping class to the product after creating one directly from the "new shipping class" modal. We can streamline this process by auto-assigning the new shipping class to the product.

**Acceptance criteria:**
- [ ] When a new shipping class is created, auto-assign the product to the shipping class

[2022-10-19 11:09] pmcpinto opened #35179 "Improve tooltip font-size & padding"
**Description:** the tooltip font-size and padding are too big, which can be a distracting element.

<img width="654" alt="Captura de ecrã 2022-10-19, às 12 06 00" src="https://user-images.githubusercontent.com/3380168/196674979-d0ba2637-8e34-4ad8-a414-8d05e026df65.png">

**Acceptance criteria:**
- [ ] Decrease the tooltip font-size and padding

[2022-10-19 11:20] pmcpinto opened #35180 "Tweak currency placement in the price fields"
**Description:** the price input field is so large that it can create a disconnection between the value and the currency, considering that the currency is placed in the right margin of the field.

**Acceptance criteria:**
- [ ] Move the currency to the left margin of the list and sales price input field

[2022-10-19 12:03] jarekmorawski opened #35181 "[Enhancement]: Allow the user to select multiple images in the Media Library"
### Describe the solution you'd like

We currently only allow the user to select one image to add to the product gallery, but the user should be able to select any number of files.

**Acceptance criteria**

- [ ] The user can select multiple images in the Media Library, then add them to the image gallery in the product form.
- [ ] The same applies to the system file picker while choosing images to

[2022-10-19 12:08] jarekmorawski opened #35182 "[Enhancement]: Add space between a selected image in the gallery and the toolbar"
### Describe the solution you'd like

I noticed there's no padding between the image and the toolbar. We need to add it for better clarity and visual order.

<img width="292" alt="image" src="https://user-images.githubusercontent.com/79307566/196686362-391f9183-8a5f-4a4c-aec2-773ba41e08b7.png">

**Acceptance criteria**

- [ ] There's an 8 px space between the image and the toolbar

### Describe al

[2022-10-19 12:14] jarekmorawski opened #35183 "[Enhancement]: Allow users to open the file picker by clicking anywhere inside the product gallery card"
### Describe the solution you'd like

The copy in the product card suggests that the user can click anywhere inside the empty gallery card (and the drop area when there's at least 1 image) to select images, but we currently don't let them do that.

**Acceptance criteria**

- [ ] The user can open the system file picker by clicking anywhere within the empty product gallery card and the designated u

[2022-10-19 12:18] jarekmorawski opened #35184 "[Enhancement]: Add tooltips for all icons in the image toolbar"
### Describe the solution you'd like

For better clarity and accessibility, let's add tooltips when the user hovers over the non-text buttons in the image toolbar.

### Mockup

<img width="320" alt="image" src="https://user-images.githubusercontent.com/79307566/196688362-e2843b67-d46c-4475-9095-f07c5063246d.png">

### Acceptance criteria

- [ ] The tooltips are positioned correctly, below the corr

[2022-10-19 12:23] jarekmorawski opened #35185 "[Enhancement]: Add a loading state when the user drops an image on the gallery to upload it"
### Describe the solution you'd like

We offer no visual feedback when images are being uploaded, which creates friction within the flow. We need to add a loading state, so the user knows that the images are being added in the background.

### Design

5sAIeTRd9Yp7nSCT33BAWz-fi-8787%3A365370

<img width="321" alt="image" src="https://user-images.githubusercontent.com/79307566/196689426-f55b3f50-844

[2022-10-19 12:32] jarekmorawski opened #35186 "[Enhancement]: Update the drag state for the selected images"
### Describe the solution you'd like

When dragging an image, we show it in full, which makes it more challenging to see the drop indicator and its position in the gallery. This behavior is different from the designs in Figma and what already exists in Gutenberg.

**Acceptance criteria**

- [ ] The drag state looks the same as in Figma and Gutenberg
- [ ] When dragging the image over the delete ar

[2022-10-19 12:36] jarekmorawski opened #35187 "[Enhancement]: Improve product gallery's responsiveness on mobile"
### Describe the solution you'd like

The image gallery doesn't scale well on smaller resolutions compared to other sections. We need to ensure it doesn't extend beyond the form's total width.

<img width="611" alt="image" src="https://user-images.githubusercontent.com/79307566/196692002-de3810e9-4d87-4fac-a8bf-12e2d7ad7d11.png">

### Acceptance criteria

- [ ] The gallery card matches the width o

[2022-10-19 12:39] jarekmorawski opened #35188 "[Enhancement]: Fix the display of letter descenders in the shipping class dropdown menu"
### Describe the solution you'd like

The contents of the shipping class dropdown are cut off below the text baseline. Tested in Chrome 106 (OS X). Note how the bottom parts of the letters p and g are cut off in the screenshot below.

<img width="283" alt="image" src="https://user-images.githubusercontent.com/79307566/196692918-9ef8a73b-779c-441b-9ad0-5a1c1973160e.png">

**Acceptance criteria**

-

[2022-10-19 12:43] jarekmorawski opened #35189 "[Enhancement]: Increase the spacing between the shipping box illustration and the dimensions fields"
### Describe the solution you'd like

In the `Shipping` section, the spacing between the box illustration and the shipping dimensions looks off. It is currently 24 px but could be 40 px to give both parts more breathing room.

**Acceptance criteria**

- [x] The gap between the image and the fields is 40 px.

### Describe alternatives you've considered

_No response_

### Additional context

<img w

[2022-10-19 12:53] jarekmorawski opened #35190 "[Enhancement]: Update font size and spacing in the tooltip component"
### Describe the solution you'd like

The tooltip component is disproportionately compared to other form elements. We should update the font size and inner padding to match the rest of the design.

**Acceptance criteria**

- [x] The tooltip's body font size is 13 px.
- [x] The inner padding is uniform at 16 px.

### Describe alternatives you've considered

_No response_

### Additional context

<i

[2022-10-19 12:57] jarekmorawski opened #35191 "[Enhancement]: Improve the communication around required and optional fields"
### Describe the solution you'd like

Given that the product name is the only required field in the whole form, we should mark it as such and remove the (optional) label from the `Summary` and `Sale price` fields (and any other that has it).

**Acceptance criteria**

- [x] The `Name` field has a `(required)` suffix.
- [x] The `Summary` and `Sale price` fields no longer have the `(optional)` suffix

[2022-10-19 13:02] AnnaMag opened #35193 "SPIKE: PM MVP Extensibility guidelines"
Combine the extensibility guidelines and technical exploration POV to propose an implementation in the new product management form.

See both the early Extensibility Guidelines doc and the Product management technical extensibility options doc (ping @louwie17 for the links).

Some items to consider:
- Should extensibility primarily be possible through Front-end, back-end or both?
- How can we ease

[2022-10-19 13:04] jarekmorawski opened #35194 "[Enhancement]: Add a confirmation modal when the user tries to navigate away with unsaved changes"
### Describe the solution you'd like

We should add a browser confirmation modal to prevent accidental data loss when the user navigates to a different page while filling out the product form. For example, if I add images, but don't save the product as a draft, I should see the modal when I try to go to a different page or close the tab.

**Acceptance criteria**

- [ ] The user sees a modal a conf

[2022-10-19 13:52] pmcpinto opened #35196 "Improvements: new simple product exp"
**Description:** epic to consolidate the improvements identified in the 1st round of internal testing

[2022-10-19 13:53] #35196 closed, assigned to nobody

[2022-10-19 13:54] pmcpinto opened #35197 "[Epic] Improvements: new simple product exp"
**Description:** epic to consolidate the improvements identified in the 1st round of internal testing

[2022-10-19 14:13] pmcpinto commented on #35179
I'm closing this in favor of #35190

[2022-10-19 14:13] #35179 closed, assigned to mdperez86

[2022-10-19 14:35] jarekmorawski commented on #35174
No, I think it's useful. The others are not because we can't meaningfully "inspire" or "suggest" a price without knowing what the product is.

[2022-10-19 17:07] KitKat31337 commented on #19450
I see this is marked closed, but the initial reported behavior and performance issues still exist.  It looks like the PR that went through was cleanup for GDPR but not actually changing the behavior.  I have encountered a site with over 5 GB in the wp_woocommerce_order_itemmeta table, about half of which is only the coupon_meta key.

This is the results of the following query:
`SELECT
	meta_key,

[2022-10-19 17:38] louwie17 commented on #35129
The easier one is not to persist on browser refresh, or at-least I know we support that right now, so it will take minimal effort.
I am not a 100% sure if we CES/notices working to persist on page refresh, I am leaning towards not. Although looking at the CES tracks code in particular it looks like it will require minimal **extra** effort to persist it on refresh.

[2022-10-19 18:46] AnnaMag commented on #35193
cc @joelclimbsthings

[2022-10-19 19:48] louwie17 commented on #35157
Will this mean that once the user disables it, the option disappears for them as well, and they won't be able to re-enable it?

[2022-10-19 19:52] AnnaMag commented on #35122
cc @joelclimbsthings @louwie17 for grooming

[2022-10-19 19:59] louwie17 commented on #33562
Some additional questions:
- Did we want to make use of the new tour kit for this?
<img width="1261" alt="Screen Shot 2022-10-19 at 4 52 42 PM" src="https://user-images.githubusercontent.com/2240960/196790434-293a2176-7950-471f-909d-6534d8e019ee.png">
- Do we only want to show this to users when the `tutorial=true` query param is added (this currently triggers the tour kit, as shown in the picture

[2022-10-19 21:01] tammullen commented on #34988
Fixed in https://github.com/woocommerce/woocommerce/pull/35121

[2022-10-19 21:01] #34988 closed, assigned to vedanshujain

[2022-10-19 21:09] tammullen opened #35200 "k6 tests: Shopper - Checkout Block Requests"
Create k6 shopper requests for checkout block requests

To include:

[code]

[2022-10-19 22:35] Brianmitchtay commented on #33950
Seeing this issue come up again in 37245824-hc

[2022-10-19 23:47] csmcneill commented on #32045
If we cannot reproduce the issue, we can close it. It’s possible that this may have been resolved in a release after the initial report. We can reopen it if needed.

[2022-10-19 23:47] #32045 closed, assigned to moon0326

[2022-10-20 00:23] psealock opened #35203 "Code Analyzer: Cloning fails for community contributions"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Outside contributions coming from forked repositories, such as

[2022-10-20 00:33] psealock opened #35204 "Code Analyzer: Incorrect ref or branch cause false positives"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Code Analyzer is surfacing changes that are not part of the cha

[2022-10-20 02:43] psealock commented on #35204
This is a duplicate, closing in favour of https://github.com/woocommerce/woocommerce/issues/34933

[2022-10-20 02:43] #35204 closed, assigned to nobody

[2022-10-20 04:07] bright-nguyen commented on #32187
Find 'wc-admin-coupon-page-moved' in '_wc_admin_notes', not '_wc_admin_notes_actions', change status from 'unactioned' to 'actioned'. It's work for me.

[2022-10-20 06:37] jarekmorawski commented on #35168
The MVP version of this issue includes just the product name and CTAs.

[2022-10-20 06:42] fvdbgit commented on #28752
Dear WooCommerce developers,

The issue was fixed in a recent version of WooCommerce (I don't remember which version exactly, I think 6.9.0) but reappears in the last versions of WooCommerce!
What is happening?
Could you please reinstate the fix that you had put in place in the next version of WooCommerce ASAP?

[2022-10-20 06:54] pmcpinto commented on #33537
I think it's our best option. @jarekmorawski what do you think?

[2022-10-20 06:56] jarekmorawski commented on #33537
Yes, please!

[2022-10-20 07:12] Konamiman commented on #35097
Created https://github.com/woocommerce/woocommerce/pull/35198 to address https://github.com/woocommerce/woocommerce/issues/35097#issuecomment-1280468370

[2022-10-20 08:44] jarekmorawski commented on #35139
@mdperez86, while structuring the updated header as part of this issue, feel free to look at [future improvements](https://github.com/woocommerce/woocommerce/issues/35168) for additional context. Thank you!

[2022-10-20 10:19] devvnawaz opened #35208 "Line break in Customer provided note is not working while adding/updating manually."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Line break is not working in the text area for `Customer provided note:` field in the **Shipping** section of the **Edit order** page while adding/updating manually.

When the cu

[2022-10-20 10:22] devvnawaz commented on #35208
Affected Ticket: 5645253-zen

[2022-10-20 10:42] devvnawaz commented on #35208
Here is another report: 5644663-zen

[2022-10-20 11:38] multiplehats commented on #27157
@johnyxe life saver! This was definitely buried deep lol

[2022-10-20 11:46] tammullen commented on #35208
https://github.com/woocommerce/woocommerce/issues/35112

[2022-10-20 12:06] simkoG commented on #31086
This ugly classname is still there.

[2022-10-20 12:16] dgaastra opened #35209 "woocommerce_wp_text_input() incorrectly places commas in the <input> fields"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After a recent WooCommerce update, the function woocommerce_wp_text_input() incorrectly places commas in the <input> fields, and as such, these are blank. We are long-time users

[2022-10-20 13:49] eyal531 commented on #27502
Hi everyone,
I also had this problem after woocommerce database update. website: [Our Name Jewelry]( https://ournamejewelry.co.il/)
The solution was to add new attribute - and then all the attributes returned as if nothing happened.

[2022-10-20 13:57] Arifursdev opened #35210 "0 (zero) in apply coupon returns 'empty coupon code'"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

It allows to create discount code: 0
but when trying to apply '0' coupon in cart, it returns

'Coupon "0" does not exist!'

possibly because for validating you have used PHP 'emp

[2022-10-20 13:59] roykho commented on #35209
Hi @dgaastra - thanks for reporting. I see you included some examples however could you please give us detailed step by step on how to reproduce this as if someone who may not know code? Please include images if it helps to make sense. Thanks!

[2022-10-20 14:23] louwie17 opened #35211 "`ShippingLabelBanner::add_meta_boxes` should check if on order page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

The `ShippingLabelBanner::add_meta_boxes` function does not che

[2022-10-20 14:32] opr opened #42553 "Add integration tests for `canMakePayment` passed to payment methods."
We should have an integration test that verifies the data passed to the `canMakePayment` argument is correct.

Having this would increase confidence that changes to our codebase won't break any integrations.

[2022-10-20 14:45] pmcpinto commented on #35157
Good question. Maybe we can include a brief message saying that the project was paused and it won't be possible to reenable the navigation for the time being.
@jarekmorawski what would be the best approach from the UX POV?

[2022-10-20 14:50] jarekmorawski commented on #35157
This. We could add a warning/confirmation modal saying something along the lines of:

[2022-10-20 15:03] dgaastra commented on #35209
Hi there,
images are not necessary. With the faulty commas, the fields shows as empty. Replacing the comma with a dot, makes things work.

woocommerce_wp_text_input() incorrectly made the HTML with the comma.

The rest is a decompilation of woocommerce_wp_text_input() showing the variables.

WooCommerce -> Settings -> General -> Decimal Separator has always been set to ",". However, this should no

[2022-10-20 15:32] louwie17 commented on #33537
I can work on this as Porter today, given it's a minimal change and seems important.

[2022-10-20 15:42] barryhughes commented on #31086
Yes, this is set to a low priority and we have not had an opportunity to work on it yet, unfortunately. I'd also note, we are open to [community PRs](https://github.com/woocommerce/woocommerce/blob/trunk/.github/CONTRIBUTING.md) that might address this.

Given the above discussion about a solution, I'll also label as a good first issue.

[2022-10-20 15:45] louwie17 commented on #33537
@pmcpinto I have a PR in flight to revert this (#35213), did we want to make a code exception for this for the current release that is in-flight, or wait till 7.2?

[2022-10-20 16:23] #35018 closed, assigned to nobody

[2022-10-20 16:28] merizindge20501 opened #35215 "Please select some product options before adding this product to your cart woocomerce issue"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

after upgrading the woocommerce i am facing issue on variable products of us. all variations are showing at front end but not there in admin panel attributes and even all attribu

[2022-10-20 16:29] martincodecom commented on #29611
Sorry if I’m asking this in the wrong place, (already asked it at the Woocommerce plugin support page, but the question was to complex/technical over there).

It is about filtering variable products that are in stock. Well explained in this article
[https://developer.woocommerce.com/2021/08/12/brace-yourselves-new-product-filtering-by-attributes-is-coming/](https://developer.woocommerce.com/2021/0

[2022-10-20 16:55] mdperez86 commented on #35178
@pmcpinto I think this issue was covered here https://github.com/woocommerce/woocommerce/issues/35036
Could you check it so we can close this one please?

[2022-10-20 16:59] tomalec opened #35216 "Position parameter documented for `wc_admin_register_page` is ignored"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This issue was discovered during AutomateWoo development https://github.com/woocommerce/automatewoo/pull/1179#discussion_r1000247280 by @eason9487

### Expected behavior

There s

[2022-10-20 17:41] barryhughes commented on #34933
In case useful, another example of what I think is the same problem can be seen in https://github.com/woocommerce/woocommerce/pull/35125/files.

<img width="678" alt="35125-irrelevant" src="https://user-images.githubusercontent.com/3594411/197020051-b6664eed-cf05-4cd1-87ca-15a0288e79f6.png">

☝🏽  The PR did not in fact add or even reference `woocommerce_feature_description_tip`.

[2022-10-20 17:41] lynnjat7 opened #35220 "[Enhancement]: Provide an option to remove the marketing message added to merchant emails."
### Describe the solution you'd like

As of WooCommerce 7.0.0, a marketing message is added to the bottom of merchant emails:

"Process your orders on the go. Get the app."

We have at least one merchant who does not want to see this message - they forward their emails on to clients sometimes and their clients are finding this message confusing as their shop does not use the app.

They would like

[2022-10-20 18:52] pierrerocket opened #35231 "[Enhancement]: Indicate disabled product variants in variation list"
### Describe the solution you'd like

Hello.  My enhancement request is regarding the UX of disabled variants in the variation list on product edit pages.  Currently you have to expand the variation to see if the enabled box is checked or not.  It would be nice to somehow indicate this information without having to open the drawer: either through graying it out, a color overlay, moving the checkbo

[2022-10-20 19:24] #35215 closed, assigned to nobody

[2022-10-20 19:59] joshuatf opened #35234 "[Enhancement]: Task list documentation needs to be updated"
### Describe the solution you'd like

The array provided to add a task is no longer applicable and a class extending `Automattic\WooCommerce\Admin\Features\OnboardingTasks\Task` should be added instead.  https://github.com/woocommerce/woocommerce/blob/d0278f4801f0edc72310796687c8539d805e3cde/plugins/woocommerce-admin/docs/examples/extensions/add-task/woocommerce-admin-add-task-example.php#L18-L31

[2022-10-20 20:15] #35139 closed, assigned to mdperez86

[2022-10-20 20:58] tammullen commented on #34810
Closing as it looks like it has been resolved by a change within WordPress 6.1 itself

6.1 Beta 1
![Screenshot 2022-10-20 at 21 55 29](https://user-images.githubusercontent.com/24649833/197056500-49880fe8-f130-4176-a32b-a99853c5c33f.png)

6.1 RC 2
![Screenshot 2022-10-20 at 21 55 52](https://user-images.githubusercontent.com/24649833/197056554-3c98bf29-c61a-47a5-8bd0-df19f88e90c1.png)

[2022-10-20 20:58] #34810 closed, assigned to nobody

[2022-10-20 21:04] GRSM78 opened #42552 "Blocks do not follow thumbnail ratio / settings"
Block like Handpicked product do not follow global settings for thumbnail ratio, seems like this is hardcoded instead of being dependent on the global setting from the customizer.

[2022-10-20 21:14] #34388 closed, assigned to joshuatf

[2022-10-20 23:18] vg-robin commented on #31617
The docs still recommend adapting the SCSS - https://woocommerce.com/document/css-structure/ - that doesn't mention a 'legacy' folder.
Found them in [trunk](https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce/client/legacy/css), but they don't seem to be included at all in v7?

[2022-10-21 02:02] psealock commented on #35203
Closing this as a duplicate in favour of https://github.com/woocommerce/woocommerce/issues/33286

[2022-10-21 02:02] #35203 closed, assigned to nobody

[2022-10-21 02:11] psealock opened #35236 "Post Release Tool: Expand capability beyond Woo Dev blog"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Blog post creation is useful beyond just the WooCommerce Develo

[2022-10-21 03:48] domSBM opened #35238 "Mysql/Maria DB Still showing Incorrect DB Version"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am aware that there are previous issues that have been opened and close:
- https://github.com/woocommerce/woocommerce/issues/20227
- https://github.com/woocommerce/woocommerce/

[2022-10-21 05:30] rodelgc opened #35239 "In E2E and API tests, save the test artifacts in their respective E2E or API folders"
Currently, the test outputs of our E2E and API tests are being saved outside of the `plugins/woocommerce/tests` folder. They should probably be stored within their respective E2E and API test directories.

Here is the list of these test outputs, where they're currently being saved, and where we should save them:

| test artifact

[2022-10-21 06:31] NidhiDhandhukiya commented on #31686
Hello @gglobalstep

I have checked this issue in my local,
Yes i can able to reproduce this issue.

I have checked in chrome, Firefox and safari browsers.

Solution as per me :-
According to me the reason behind this issue is it will add this dropdown values in the table structure so as per the length of the name the alignment should be changed so if we want to solve this we have to give some max-

[2022-10-21 06:53] saqlainkhadim opened #35240 "cURL Error: Operation timed out after 15000 milliseconds with 0 bytes received"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Sometimes when I update stock  this error comes from my woocomerce store.
i am using PHP 8.0 and codexshaper/laravel-woocommerce ^3.0
in my laravel application "laravel/framework

[2022-10-21 06:56] #30862 closed, assigned to nobody

[2022-10-21 07:18] Mercurial78 commented on #33537
It has to be mandatory also because in my 20 years experience all my clients use the SD and this slow down the process with one additional and not usefull click.

[2022-10-21 07:38] webdados opened #35242 "Variation fields are not saved when hitting UPDATE if Gutenberg is active for products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When activating Gutenberg for WooCommerce products, using the `use_block_editor_for_post_type` filter, [like this](https://gist.github.com/restored316/0893b69629f882529e8aef31581

[2022-10-21 08:56] swatipawarGS commented on #35210
Hi @Arifursdev,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.0.0 version, PHP 8.0.24, and WordPress 6.0.3 version. But we get the 'Please enter a coupon code.' error instead of 'Coupon "0" does not exist!' error.

Please find below the screencast for reference :

https://user-images.githubu

[2022-10-21 08:59] dgaastra commented on #35209
Hi Roykho and colleagues,

Due to the urgency of the issue, we were not able to wait for a patch from you, and have resolved the bug with a temporary output buffer bandaid-solution:

[code]
Thanks anyhow,
Dennis

[2022-10-21 09:23] pmcpinto commented on #35178
You're right. I couldn't find that issue because I was only checking the open issues :) I'll close this one. Thanks!

[2022-10-21 09:23] #35178 closed, assigned to mdperez86

[2022-10-21 09:37] opr commented on #42603
Also mentioned in https://github.com/woocommerce/woocommerce-blocks/issues/7436

[2022-10-21 09:38] Arifursdev commented on #35210
Hi @swatipawarGS,

thanks for the screencast. that's correct, error I have submitted is coming from a custom plugin we have built for cart drawer. which picks up that error `Coupon $code does not exist!` from `wc_get_notices` function after trying to apply discount with `add_discount` function from `WC()->cart` .

its not a custom message, but i think its coming from WooCommerce and translation ca

[2022-10-21 09:48] #35089 closed, assigned to Konamiman

[2022-10-21 10:25] gglobalstep opened #35247 "[GlobalStep] [WP6.1 TT3] "Cross(X)" button is misaligned towards the bottom for all items in the cart upon hovering."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Cross(X)"  button is misaligned towards the bottom for all items in the cart upon hovering.

### Expected behavior

"Cross(X)" button should be centred for all the items upon ho

[2022-10-21 10:33] gglobalstep opened #35248 "[GlobalStep] Unable to view "Text and Icon" for dark mode on Templates page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unable to view "Text and Icon" for dark mode on Templates page.

### Expected behavior

"Text and Icon "should be displayed for dark mode on Templates page.

### Actual behavior

[2022-10-21 10:46] gglobalstep opened #35249 "[GlobalStep] "I want to receive updates about products and promotions." checkbox fails to display under customer information block on page with "Checkout" block."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"I want to receive updates about products and promotions." checkbox fails to display under customer information block on page with "Checkout" block.

### Expected behavior

"I wa

[2022-10-21 10:55] iamdharmesh opened #35250 "[HPOS] `woocommerce_before_delete_order` should fire before order data deleted from tables."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we have HPOS enabled and permanently delete an order, `woocommerce_before_delete_order` doesn't get fired. I think there is an issue around the condition [here](https://gith

[2022-10-21 10:59] cigaai commented on #19083
Hello.

I tested the code
[code]
and in the backoffice I get the following error when I go to the "products" menu:
WPCode has detected an error in one of the snippets which has now been automatically deactivated.

Click here to update the snippet that threw the error.

WPCode has detected an error in one of the snippets which has now been automatically deactivated.

Click here to update the snippe

[2022-10-21 11:10] indextwo commented on #19083
@cigaai It looks like you're using a plugin to insert that code. I don't know how that plugin works, but I would recommend inserting the code directly into your `functions.php` file or a standalone plugin to test if it works as intended.

From the look of the error message, it looks like it's reporting that `WC()` or possibly `WC()->customer` is undefined, as error is reporting that as `null`. I h

[2022-10-21 11:14] cigaai commented on #19083
Perfect! With this new code, it now works without problems.
Thank you very much!

[2022-10-21 11:38] loulemos commented on #33537
Agree with @Mercurial78

[2022-10-21 13:12] #35240 closed, assigned to nobody

[2022-10-21 14:03] #34996 closed, assigned to joshuatf

[2022-10-21 14:06] pmcpinto commented on #33537
@louwie17 it's a small change, so I'd try to see if we can include it in 7.2

[2022-10-21 14:44] pmcpinto commented on #32693
Hi everyone, thanks for the feedback shared so far. We will change the date used in the revenue report to when the order status changed to processing, which [happens when the payment is successful](https://woocommerce.com/document/managing-orders/#understanding-order-statuses-in-relation-to-payment-gateways). We'll also introduce an option to change the order status used in the report.
We've explo

[2022-10-21 15:03] #35249 closed, assigned to nobody

[2022-10-21 15:03] roykho commented on #35026
This is no longer an issue as we've decided that for fix releases, we will manually handle creating the PR.

[2022-10-21 15:03] #35026 closed, assigned to nobody

[2022-10-21 15:19] pmcpinto commented on #34000
@louwie17 will these changes be released in 7.1?

[2022-10-21 15:39] louwie17 commented on #34000
Yeah they will be, as these changed were merged before the code freeze of 7.1.
I haven't tested it with the Beta yet though.

[2022-10-21 16:44] davewhitley commented on #34066
I'm also seeing this error on my live site on WordPress.com.

[2022-10-21 17:14] louwie17 commented on #35126
Do we want to do this for all the tasks triggered from the task list?
As far as I am aware we don't explicitly keep track of a user when they are working on a specific task or not (meaning we don't know if a user is actually in the middle of a task list task, or just got there some other way).

Following what a user is doing might be a bit tedious to do and prone to error, but we could have some s

[2022-10-21 17:14] louwie17 commented on #35126
Do we want to do this for all the tasks triggered from the task list?
As far as I am aware we don't explicitly keep track of a user when they are working on a specific task or not (meaning we don't know if a user is actually in the middle of a task list task, or just got there some other way).

Following what a user is doing might be a bit tedious to do and prone to error, but we could have some s

[2022-10-21 17:17] louwie17 commented on #35127
So not dependant on how active the user was on that page? That sounds good!

Are we limiting to how often this popup is being shown? or anytime a user is on the specific page longer than 7min?
Or maybe only for users that have a newer store or haven't completed the task list yet?

[2022-10-21 18:00] dimichatzi opened #35264 "[Enhancement]: Display notice for back orders only for low stock products"
### Describe the solution you'd like

I would request to making the '(can be back ordered)' string displayed only for stock levels below a specific number entered by the merchant, or being able to display/hide this string when products have a higher stock available than the 'Low stock threshold'. As it doesn't have sense to appear the '(can be back ordered)' string when the stock level of a produc

[2022-10-21 18:53] mdperez86 commented on #35191
@jarekmorawski Should we apply this to the Add new shipping class dialog also?

[2022-10-21 19:31] mdperez86 commented on #35180
@pmcpinto I think this is not require since the currency symbol is currently sitting on the left side of both input fields

![Image](https://user-images.githubusercontent.com/13334210/197274884-80fdd490-a8a4-4667-86e4-61ef4a49e21c.png)

[2022-10-21 21:58] #34394 closed, assigned to tammullen

[2022-10-21 23:14] joshuatf commented on #35169
We can probably use `WooHeaderPageTitle` SlotFill to add the badge to the header.  This will keep our logic housed nicely under `products/` without making a mess of the frontend controller.

`product.status` and `product.stock_status` should provide us with enough information to determine which badge to display, though we should be double check that `manage_stock` correctly modifies `stock_status`

[2022-10-21 23:17] joshuatf commented on #35177
@jarekmorawski just confirming that this issue only covers the 3 ellipsis more menu and not the settings (cog) menu.

Are we adding the "Welcome guide" item used in the design?  Do we have a link for that if so?

[2022-10-21 23:18] joshuatf commented on #35177
You can ignore the settings menu question- I see the issue for that [here](https://github.com/woocommerce/woocommerce/issues/35175).

[2022-10-21 23:21] joshuatf commented on #35170
We previously took away breadcrumbs in the header in https://github.com/woocommerce/woocommerce-admin/pull/5232/ so I just want to confirm that we're reintroducing them here.

This change will likely affect all pages unless we attempt to isolate it to just this page.  This means we're looking at testing all pages and possibly tweaking breadcrumbs on those pages or removing them if unneeded.

[2022-10-21 23:23] joshuatf commented on #35172
Are we foregoing these for the time being?  We don't yet have a way to change the product type AFAIK.

[2022-10-21 23:41] joshuatf commented on #35175
I think we can recompose most of this layout using Gutenberg components, but can't fully utilize the Gutenberg `InterfaceSkeleton` which dictates this layout.  While it would be great to use that, there are too many differing features that would be challenging for us to extend.

Is the product type logic implemented elsewhere?  Or is this just a placeholder for the time being?

[2022-10-22 00:19] coreymckrill commented on #33383
To elaborate a bit more on the current state of things:

`wc/v3/customers?search=foo`

* The API controller adds wildcards to both sides of the string to make it a partial string match.
* When API instantiates the `WP_User_Query`, it doesn't specify `search_columns`, so WordPress has some limited logic to try and determine which column would be the best fit, but defaults to `array( 'user_login', '

[2022-10-22 00:26] coreymckrill commented on #33383
Some possible solutions:

* Modify the behavior of the current `search` parameter so that it does partial match on first/last name along with the other default fields. In order to maintain backcompat, this alternative behavior could be toggled on using a separate boolean request parameter, something like `search_first_last=true`.
* Add a new request parameter, perhaps `name`, that would work a bit

[2022-10-22 00:32] ilyasfoo opened #35271 "Cleanup and deprecate unused Task properties and methods"
**Issue Description:**

This is a follow-up to https://github.com/woocommerce/woocommerce/pull/34084.

- Identify unused properties and methods in [`Task`](https://github.com/woocommerce/woocommerce/blob/722a752a2e586818c275404fd328d9a43b132dba/plugins/woocommerce/src/Admin/Features/OnboardingTasks/Task.php) class. One example is `content`, possibly `action` button as well
- Deprecate/remove those

[2022-10-22 00:41] #33591 closed, assigned to nobody

[2022-10-22 00:55] shaunkuschel opened #35272 "Analytics > Orders reports not being sent by email when filtering by a specific product or are blank"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Reports from the **Analytics > Orders** page that have been filtered by a specific product and are too large to be downloaded instantly are not consistently being sent via email

[2022-10-22 02:41] namiokuzono commented on #34771
Possibly this case 5648663-zen is also affected by this reported issue.

→ For right now, asked to delete + reinstall wc.

[2022-10-22 11:17] bb3cpo commented on #27281
I have the same problem when I use the bulk upload with CSV for products. The images are shown as "Unattached" in Media Librady although they are shown in the front-end.

[2022-10-22 13:47] #35037 closed, assigned to mdperez86

[2022-10-22 13:56] thisissandip opened #35273 "[HPOS] Display a notice if HPOS is turned off"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If the sync between the two tables is turned off and a merchant selects - "Use WooCommerce Tables", the order data is saved in the new custom tables.

Now, if the HPOS feature is

[2022-10-22 16:52] Johnny99211 opened #35274 "Receiving products by attribute values not specifically working"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Since I'm unable to find any information about this topic, I think I've found a bug. Within the last week, I've tried a lot of ways to modify the WooCommerce product (shop) query

[2022-10-22 21:34] dbarproductions opened #35275 "[Enhancement]: [HPOS] Orders List table overrides sortable columns and doesn't allow custom filters"
### Describe the solution you'd like

With the List Table for WC Orders when using the new HPOS system, I can add my custom columns for my wholesale ordering plugin in a similar fashion to the way it was done with the old wp_posts based orders. I can also mark my column as sortable by using the newer filter hook:
'manage_woocommerce_page_wc-orders_sortable_columns'
which then properly makes the co

[2022-10-22 22:43] kkauten opened #35276 "Out of stock doesn't work for variations when track inventory is off"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the core WooCommerce for a wordpress site the stock doesn't show up correctly.  Please reference my chat #  5651881

When track inventory is OFF, and you manually go into a pr

[2022-10-23 00:40] #34304 closed, assigned to nobody

[2022-10-23 00:40] #34390 closed, assigned to nobody

[2022-10-23 01:50] fab17an commented on #34463
Thank you very much rynaldos your answer helped me, I adapted it so that it is in dollars

[2022-10-23 04:07] davewhitley commented on #34066
This is actually affecting a handful of end customers on a site that I manage (all they see is a fatal error), and this issue was logged months ago. Is there a fix? Can it be bumped in priority?

[2022-10-23 05:29] PowerGPU commented on #32693
@pmcpinto I would hope that it follows the payment and not necessarily the change in payment status to processing. I say this because sometimes orders are placed on hold then placed back to processing which would then keep moving these dates which can cause a problem. The overall order date needs to tie to the payment itself and not the status because you also have apps that allow status changes w

[2022-10-23 11:13] LukasFritzeDev commented on #31617
I have just encountered the same problem. The documentation mentions the scss files as a reference for custom modifications, but in the latest version they are no longer present.

I think that at least the documentation should be adjusted and a new best practice should be added.

[2022-10-23 12:00] mattsherman commented on #35180
@mdperez86 This is not true. The currency symbol position is dynamically set based on the WooCommerce > Settings > General > Currency options > Currency position setting.

Code reference where we set prefix vs suffix:
https://github.com/woocommerce/woocommerce/blob/64ee20ff0f47fc69c546eefeaa421536c4fa3a4a/plugins/woocommerce-admin/client/products/sections/utils.ts#L49

@pmcpinto @jarekmorawski If

[2022-10-23 12:29] mattsherman commented on #35184
The tooltips are actually currently being set. But, they are appearing in the wrong position. This can be more easily seen in Storybook.

So, the main complexity of this story will be fixing this issue. It is likely due to how we are styling/positioning the toolbar component in the image gallery, as the base `<ToolbarButton>` component from `@wordpress/components` does not seem to exhibit this iss

[2022-10-23 12:30] mattsherman commented on #35184
Code reference for `<ImageGallery>`:

https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/components/src/image-gallery

[2022-10-23 13:02] mattsherman commented on #35185
We will need to enhance the images section/gallery to have a concept of "uploading"/"pending" images. This probably should be contained within the state of the image gallery itself. We will also need to update the media uploader to allow a callback to be called when an upload starts.

Images section:

https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/client/products/s

[2022-10-23 13:46] jdoles commented on #27419
The issue is still present on default WC installations with no plugins.  While customizing the theme, you can see that the block does not appear.
![theme-editor](https://user-images.githubusercontent.com/5995756/197395787-27b262d9-fec7-4ae8-b88a-7da601cd0f44.png)

When loading the shop page, you can see the block starts to load but disappears.  I have a case open in which support stated they could

[2022-10-23 15:54] mattsherman commented on #35187
Image gallery component:

https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/components/src/image-gallery

[2022-10-24 04:31] PowerGPU commented on #32693
@pmcpinto Has the team also been able to discuss the details on the payment status changes overall? As mentioned before there should be no reason why a payment status should be editable unless you are cancelling/ refunding a client. The ability to change a payment status' leaves open the ability for staff/employees or anyone internally who has access to the system to commit fraud. There is current

[2022-10-24 06:00] andersb commented on #31282
Hello again.
Any idea if this improvement will be added any time soon?

[2022-10-24 09:28] pmcpinto commented on #35157
Sounds good to me.

[2022-10-24 09:37] AnnaMag commented on #35124
@louwie17 let's do this as part of grooming 🙏

[2022-10-24 09:44] pmcpinto commented on #35180
Good point. The input field width should be 50%. @jarekmorawski what do you think?

[2022-10-24 09:46] Konamiman commented on #28651
I think that the current behavior is consistent with how the stock related settings work and how the user interface is implemented. The problem is that the user interface implementation is far from ideal.

In the backend we have two stock management strategies for a given product:

* Manage stock. In this case the stock is controlled by a number, the stock quantity
* Don't manage stock. In this ca

[2022-10-24 09:48] arienvanhelden commented on #42581
Hi, any updates on this? For me it's happening on those 2 blocks, plus 2 more as well.

![image](https://user-images.githubusercontent.com/7512130/197499518-82ee39ee-2bbb-41f4-a627-3995a7d8f9e7.png)

[2022-10-24 09:52] pmcpinto commented on #35126
As far as I am aware we don't explicitly keep track of a user when they are working on a specific task or not (meaning we don't know if a user is actually in the middle of a task list task, or just got there some other way).

For example: If a user is on the add new product screen and exits the page (when no other products have been created yet), this is probably the simplest example.

Yeah, this

[2022-10-24 09:54] pmcpinto commented on #35127
Yes.

Or maybe only for users that have a newer store or haven't completed the task list yet?

As the starting point, I think we should only show it once. We can evaluate whether we should increase the frequency depending on the effectiveness of this placement.

[2022-10-24 10:00] pmcpinto commented on #33562
Now that I think about it again, showing the guide might be too much. What if we include this information in the product type tooltip? For example, "fields like price will be defined at the variation level".

@jarekmorawski what do you think?

[2022-10-24 11:13] nielslange opened #42551 "Enable merchants to adjust rows and columns of the Cross-Sells block"
With woocommerce/woocommerce-blocks#6554, we implemented the Cross-Sells block. Currently, it's only possible to select the number of visible Cross-Sells products. A merchant can choose between 1 and 6 visible Cross-Sells products. Independent of the selection, the products are always visible in a 3-column grid. This issue aims to implement the column and row selector, as used with the All Product

[2022-10-24 11:17] angelamollina30 opened #35280 "woocommerce_receipt_ is duplicating on our payment"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We have a payment gateway plugin that having an error and it was duplicating the woocommerce_receipt , where we input the card details in checkout/order-pay page
 here's the scre

[2022-10-24 11:19] nielslange opened #42550 "Enable merchants to adjust the visibility of individual elements of the Cross-Sells block"
With woocommerce/woocommerce-blocks#6554, we implemented the Cross-Sells block. Currently, it's not possible to adjust the visibility of individual elements of the Cross-Sells block. This issue aims to adjust the visibility of individual elements, as used with the All Products block:

<img width="1438" alt="Screenshot 2022-10-24 at 18 18 32" src="https://user-images.githubusercontent.com/3323310/1

[2022-10-24 12:09] nielslange opened #42549 "Enable merchants to adjust the sorting of the products within the Cross-Sells block"
With woocommerce/woocommerce-blocks#6554, we implemented the Cross-Sells block. Currently, it's not possible to adjust the order of the Cross-Sells products. This issue aims to enable merchants to adjust the order of the Cross-Sells products similar to the All Products block:

<img width="1438" alt="Screenshot 2022-10-24 at 19 05 55" src="https://user-images.githubusercontent.com/3323310/197521721

[2022-10-24 12:32] #35280 closed, assigned to nobody

[2022-10-24 14:09] ronnyadsetts opened #35281 "Importing sale price date "date_on_sale_to" is broken"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Importing products for future sale does not set the date_on_sale_to value correctly.

### Expected behavior

Setting the date_on_sale_to field in a product import CSV to "2023-01

[2022-10-24 14:40] SeparateReality commented on #33228
+1 Update would be fine. Seems a quite small thing and disturbes many users.

[2022-10-24 15:03] pmcpinto commented on #35193
@louwie17 I think this piece is critical. We'll have a really hard time convincing 3PDs if we don't provide any kind of backwards compatibility or an easy way to adopt the new experience without rebuilding the extension from scratch.

[2022-10-24 15:23] mattsherman commented on #35076
From [original PR](https://github.com/woocommerce/woocommerce/pull/34949):

[2022-10-24 15:25] mattsherman commented on #35076
If we don't have any other instances of select controls right now where we need async support, this isn't high priority at this point.

[2022-10-24 15:35] #34215 closed, assigned to jonathansadowski

[2022-10-24 16:00] Konamiman commented on #34956
Fixed in https://github.com/woocommerce/woocommerce/pull/35125

[2022-10-24 16:00] #34956 closed, assigned to nobody

[2022-10-24 16:08] #35046 closed, assigned to joshuatf

[2022-10-24 16:28] mdperez86 commented on #35180
@pmcpinto

This can introduce responsive problems. The size of the field could not be the solution for this because we have different number sizes and different screen sizes so it's very possible we never fit the right input size across all configs.

A possible solution (from @octaedro) could be the alignment of the number inside the field. If the currency symbol is on the right then the number al

[2022-10-24 16:31] mdperez86 commented on #35194
@mattsherman @octaedro do you know about this? Where I can find it? How to see it?

[2022-10-24 19:49] topopti commented on #33228
Would like to see a fix for this too!

[2022-10-24 21:12] octaedro commented on #35173
Hi @pmcpinto,

What should we show after clicking the input? Is it ok to show the first 20 categories?

[2022-10-24 21:41] octaedro commented on #35183
I took a look at this issue a couple of weeks ago.
I think that the simplest way to add this functionality is by using the [FormFileUpload component](https://developer.wordpress.org/block-editor/reference-guides/components/form-file-upload/). I explored other options like using the [autoOpen prop](https://github.com/WordPress/gutenberg/tree/v10.9.1/packages/block-editor/src/components/media-upload

[2022-10-24 23:16] samueljseay commented on #34523
Since I am about to go on leave, I will do some handover for where I'm up to so far.

Please see my branch to see progress: https://github.com/woocommerce/woocommerce/compare/dev/live-branches-ui?expand=1

I've setup a new page for live branches, I've set up TypeScript tooling and webpack tooling to build the additional JS assets.

I've used Emotion for styling since its what is used in `@wordpres

[2022-10-24 23:53] #35239 closed, assigned to rodelgc

[2022-10-25 07:35] peterfabian opened #35288 "[COT/HPOS] Declare compatibility with all Proton-owned extensions"
Tracking of updates to all plugins we maintain.

[2022-10-25 08:30] domenasuperfashion commented on #35075
Hello, Here is example. I have tried to fix this problem with several developers but no one succeeded.

After more and more testing and searching for solution I think, that it is normal woocommerce behavior that hide price on variable products if  Hide out of stock items from the catalog   is checked. I looked for links (out of stock products) on other sites to see how the products behave on them.

[2022-10-25 10:13] jarekmorawski commented on #35191
Yes, please!

[2022-10-25 10:18] nigeljamesstevenson opened #35290 "Woo REST API returns a 400 (bad request) error for a non-existent webhook"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we attempt to access a deleted or non-existent [webhook](https://woocommerce.github.io/woocommerce-rest-api-docs/?javascript#webhooks), the call responds with a 400 (Bad req

[2022-10-25 10:23] jarekmorawski commented on #35194
* On your test site, navigate to `Posts > Add New`
* Enter any text. For example, the title and some body content
* Don't save the draft
* Close the tab or click any menu item to navigate away from the page

Here's the video from my test site.

https://user-images.githubusercontent.com/79307566/197749006-d6ddddf0-6a07-4640-8569-c55e9da1e598.mov

[2022-10-25 10:30] jarekmorawski commented on #35180
I see what you're getting at. However, the magnifying glass in the search field is an affordance—much like the downward chevron in a regular dropdown. It indicates the action and lets the user know how they can interact with the field. In this case, the currency symbol is part of the field's content.

It gets even more complicated when you take locale into account. In the US, the currency symbol s

[2022-10-25 10:35] nigeljamesstevenson opened #35291 "Woo REST API returns a 200 (Ok) status for a non-existent tax class"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When we attempt to access a deleted or non-existent [tax class](https://woocommerce.github.io/woocommerce-rest-api-docs/?javascript#tax-classes), the call responds with a 200 (Ok

[2022-10-25 10:38] jarekmorawski commented on #35126
That's correct. The user has to click through the unsaved changes modal and go to the new page before seeing the CES modal.

[2022-10-25 10:43] jarekmorawski commented on #35175
We'd use the logic that already exists. Regarding product types in general, our approach it to merge simple, downloadable, virtual, and variable product types into a single experience (while still keeping them separate in the DB, just a bit more... fluid in the admin UI), while grouped and external/affiliate product types would remain separate.

Therefore, the content of this section in the sideba

[2022-10-25 10:45] jarekmorawski commented on #35172
We'd add a way to switch between product types in the sidebar (https://github.com/woocommerce/woocommerce/issues/35175). This is not part of MVP 1.0, though.

[2022-10-25 10:46] jarekmorawski commented on #35170
I confirm. We've phased them out earlier because of the new nav project, but we won't be returning to it anytime soon. We want to have breadcrumbs on every page where the new header will be used, but it should be optional and easy to turn off if not needed (some pages may have a complex/unique structure or deliberately offer a separate experience).

[2022-10-25 10:48] jarekmorawski commented on #35177
Not at the moment, but we will have a welcome tour as part of the onboarding UX. We can forego the menu item for the time being, or add it as a placeholder.

[2022-10-25 10:49] jarekmorawski commented on #35169
Good eye! I've fixed this and capitalization in other statuses.

[2022-10-25 11:09] superbmario opened #35293 "[HPOS] unable to create database tables"
### Describe the bug

I have followed the steps to test HPOS here - https://github.com/woocommerce/woocommerce/wiki/High-Performance-Order-Storage-Upgrade-Recipe-Book. I have tried to create the database tables via the Status page, which shows a "success" message. However when I return to the COT settings page it tells me the database tables still need to be created.

I recorded my screen showing

[2022-10-25 11:40] louwie17 commented on #35076
@mattsherman if not high priority then we should create a separate issue for this (if there isn't already one):

As this will be a design requirement. I know Ghidorah would like the ability to actually change the icon, so there may be a separate issue for it, this was discussed in this thread: p1666306876375659-slack-C01CMSA1VHS

[2022-10-25 11:53] alexmigf commented on #34981
For me it worked if I call `$order-save()` after updating meta, but this trick doesn't work if I try to delete meta using `$order->delete_meta_data( $key )`, but that shouldn't be necessary I believe, just saving meta should be enough.

I'm using latest 7.1 HPOS dev.

[2022-10-25 12:08] tarhi-saad opened #42548 "Add docs about inner blocks registration (translation)"
Unlike standard blocks, the translations for the Inner Blocks (e.g., title, description & keywords) doesn't work when the [blocks are registered on the client-side only](https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/block-api/block-registration.md).

After working on woocommerce/woocommerce-blocks#6737 to fix a translation issue, we realized that we should register our in

[2022-10-25 12:38] stuartduff opened #35294 "The "In cart" text is not translatable within the All Products Block"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The "x in cart" text is not translating within the All product Block within WooCommerce core.

![Screen Shot on 2022-10-25 at 13:32:38](https://user-images.githubusercontent.com/

[2022-10-25 12:47] leonardola commented on #34981
@alexmigf `$order->save()` does work. The problem is with `$order->save_meta_data()` which stops working when activating `the keep tables syncronized` option. Many plugins rely on `$order->save_meta_data()` to save the meta. Having to change that to `$order->save()` would require some more changes. Also `$order->save()` should be more costly then `$order->save_meta_data()` so this would not be jus

[2022-10-25 13:02] alexmigf commented on #34981
I wasn't suggesting to replace with `save()`, just found that was working if I call it after updating meta, just that. `delete_meta_data()` has the same problem as `save_meta_data()`, it seems.

[2022-10-25 13:14] mdperez86 commented on #35180
@jarekmorawski

Yes it's possible for us to do it. But that introduces more complexity here. First we need to format the number the user is typing to show it back in a `currency format` way `('1234' -> '$1,234')`. This process is the same when optaining the value from the server because the server only store the raw number. Second we need to parse the number `('$1,234' -> '1234')` because now it's

[2022-10-25 13:17] #35174 closed, assigned to mdperez86

[2022-10-25 14:13] michael1181 opened #35297 "[Enhancement]:"
### Describe the solution you'd like

Under general setting there should be a cart persistence setting that allows you to change the amount of time between carts being emptied. as with bookings there is a fine line between waiting too long for customers paying and customers abandoning there cart.

### Describe alternatives you've considered

I know there are paid for alternatives to add this featu

[2022-10-25 14:26] AnnaMag opened #35298 "[Fix] partial background color in the new product mangement experience."
AC

- [ ] The gray background must cover the entere content of the page without considering the left menu and the top bar.

![Image](https://user-images.githubusercontent.com/13561163/197800914-efb3c2d2-8700-492a-a27f-48711d748818.png)

[2022-10-25 14:42] joelclimbsthings opened #35299 "CES: Refactor and add support to CES to more easily support additional questions"
The way we currently have CES structured it is difficult to add additional content/questions. Add support to easily scale and add additional questions to the form.

An example of the functionality that we will want to support is captured by [this issue](https://github.com/woocommerce/woocommerce/issues/35124).

A little additional context from @louwie17 from that issue:

We currently trigger CES u

[2022-10-25 14:59] joelclimbsthings commented on #35124
I'd tend to agree @louwie17 , thanks for looking into this. The only potential counter-point would be that my understanding is that we'd always want to keep this form/experience as simple and quick as possible to encourage participation, so it might not be a feature that we would tend to expand with yet further questions. I'd have to defer to @pmcpinto on if that would be the case.

If we expect t

[2022-10-25 15:02] joelclimbsthings commented on #35126
If we're not using this in the `setup` experience, I may need more clarity on in what exact circumstances we _do_ want to use it. Can you provide a list @jarekmorawski or @pmcpinto ?

[2022-10-25 15:15] joelclimbsthings opened #35300 "CES: Add the feedback button to the navbar only on product MVP"
Add a feedback button to the upper navbar on the products MVP:

![image](https://user-images.githubusercontent.com/444632/197812928-73a7abc7-3b39-44a1-b670-9834512666ce.png)

This will trigger the updated CES modal.

Acceptance criteria:
- Add button that triggers modal that only appears on the Products MVP screen.
- Add tracks

[2022-10-25 15:22] joelclimbsthings opened #35301 "CES: Add prompt with spotlight after 7 minutes to create product"
Display a spotlight near the Feedback button ([added here](https://github.com/woocommerce/woocommerce/issues/35300)) when the user takes more than 7 mins to create a product on the classic UI.

![image](https://user-images.githubusercontent.com/444632/197814360-d3c71de4-99c5-4276-b880-ec3580cb6e84.png)

Update the copy to read:

See additional context on [this](https://github.com/woocommerce/wooco

[2022-10-25 15:25] mdperez86 commented on #35194
@jarekmorawski Awesome!!! Thanks

[2022-10-25 15:28] joelclimbsthings opened #35302 "CES: Display snackbar when the user updates the product for the 3rd time"
After a user had published their 3rd product with the new MVP, prompt with the snackbar to collect feedback.

Acceptance criteria:
- After a user creates their 3rd product with the  new experience, display snackbar prompt that triggers CES modal.
- Should only occur after 7 days of previous prompt (publishing first product)

[2022-10-25 15:31] mattsherman commented on #35184
I'm estimating this as a `2`. The fix *might* be easy, but figuring it out will involve some trial-and-error, experimenting with different DOM and CSS changes until we hit the magic "correct" structure.

[2022-10-25 15:32] joelclimbsthings commented on #35127
I've broken this out into separate issues, closing this one.

[2022-10-25 15:32] #35127 closed, assigned to nobody

[2022-10-25 15:34] mattsherman commented on #35185
I'm estimating this as a `3`, since we will need to make changes in few places to implement this. The placeholder items in the image gallery might be a little bit tricky, so that consumers of the gallery can properly deal with those (or, maybe they don't need to at all).

[2022-10-25 15:36] mattsherman commented on #35187
This is relatively straightforward. There is the "easy" way of just hard-coding some different dimensions and such for the smaller breakpoint, but it would be nice to explore a more fluid implementation of this, to be a bit more robust. In any case, I give it a `2`.

[2022-10-25 15:47] kkmuffme opened #35304 "Missing use/FQCN for WP_Error in TaskList.php"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Missing use for WP_Error - used with FQCN but missing FQCN in phpdoc.

### Expected behavior

use statement

### Actual behavior

missing

### Steps to reproduce

none

### WordP

[2022-10-25 16:04] kkmuffme opened #35307 "FirstDownlaodableProduct misspelled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

/src/Internal/Admin/Notes/FirstDownlaodableProduct.php

Both the file & class name are spelled incorrectly, should be FirstDownlaodableProduct

### Expected behavior

Correct spe

[2022-10-25 16:51] Sparkzoot opened #35308 "Edit product page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the edit product page in WooCommerce, the short description window is collapsed as the default when I get into the product page requiring that I expand it and enlarge it every

[2022-10-25 16:54] jarekmorawski commented on #35180
As we agreed during the team call, let's keep the current setup (with the currency symbol fixed inside the input field and synced with the store's locale) and make the field 50% wide on desktop and 100% on mobile. Thank you!

[2022-10-25 16:58] octaedro commented on #35194
We have another one in the OBW

![Screen Shot 2022-10-25 at 13 56 14](https://user-images.githubusercontent.com/1314156/197836221-fe65cdd2-54d2-4be5-bc87-76e5ecb5520a.png)

@jarekmorawski The idea here is to use the one you mentioned, right?

[2022-10-25 17:52] zeinnicholas commented on #42612
I'm getting the same issue within the `ClassicTemplate.php` file on line `233`.

You need to perform some checks here and at least accept a null value, otherwise we simply can't use the FSE with other plugins that enhance the Block editor.

[2022-10-25 17:52] pmcpinto commented on #35173
I think a total of 10 is a good starting point (including sub-categories). @jarekmorawski  what do you think?

[2022-10-25 17:56] jarekmorawski commented on #35173
Will we load the next items as the user scrolls down the list? If so, 10 sounds like a good starting point.

[2022-10-25 18:02] pmcpinto commented on #35124
I think that hardcode is the best approach for now. Eventually, we'll need to tweak the CES questions for the new product creation exp, but it can also be hardcoded.

[2022-10-25 18:10] pmcpinto commented on #35126
Here's the list, organized by priority:

Add a product (new UI)
Update product (new UI)
Add a product (current UI)
Update product (current UI)
Change setting
Edit order (any of the edit order events)
Filter analytics (any action on the analytics reports)
Import Products
Product Categories
Product Attributes
Product Tags
Search (orders, products, customers)

[2022-10-25 19:11] mdperez86 commented on #35183
Estimation: 2

[2022-10-25 19:12] mdperez86 commented on #35182
Estimation: 1

[2022-10-25 19:15] mdperez86 commented on #35186
Estimation: 3

[2022-10-25 19:22] mdperez86 commented on #35194
Estimation: 2

[2022-10-25 19:23] mdperez86 commented on #35298
Estimation: 2

[2022-10-25 19:25] mdperez86 commented on #35184
Estimation: 2

[2022-10-25 19:33] mdperez86 commented on #35185
Estimation: 3

[2022-10-25 19:39] mdperez86 commented on #35187
Estimation: 3

[2022-10-25 19:49] #35191 closed, assigned to mdperez86

[2022-10-25 19:49] #35171 closed, assigned to mdperez86

[2022-10-25 20:00] #35190 closed, assigned to mdperez86

[2022-10-25 20:17] #35189 closed, assigned to mdperez86

[2022-10-25 20:24] cyber-power commented on #17355
Resurrecting this thread -
`CREATE TRIGGER update_options_count BEFORE UPDATE ON wp_options
FOR EACH ROW
SET NEW.update_count = OLD.update_count + 1;`

And adding a column for timestamp / modified shows that many of the layered nav counts are getting recalculated constantly - a few minutes after implementing this was the update counts on the transient rows.  The timeout **appears** to be the corre

[2022-10-25 20:25] zack-carlson commented on #17355
Resurrecting this thread -
`CREATE TRIGGER update_options_count BEFORE UPDATE ON wp_options
FOR EACH ROW
SET NEW.update_count = OLD.update_count + 1;`

And adding a column for timestamp / modified shows that many of the layered nav counts are getting recalculated constantly - a few minutes after implementing this was the update counts on the transient rows.  The timeout **appears** to be the corre

[2022-10-25 20:28] #35188 closed, assigned to mdperez86

[2022-10-25 21:36] #33286 closed, assigned to nobody

[2022-10-25 22:07] jonathansadowski commented on #34933
It may be the case that this was also fixed via #35315. I'm going to close this issue, but if anyone still sees this pop up (after a rebase to include the changes from #35315), please comment here and we'll reopen and dig further.

[2022-10-25 22:07] #34933 closed, assigned to nobody

[2022-10-25 22:55] TheRadicalDreamer opened #35317 "[Enhancement]: Weight parameter for shipping method"
### Describe the solution you'd like

i would like to be able to use the weight of the order in the shipping method calculations.

Like [qty], [cost] and [fee] can be used to calculate. [weight] and/or [volume] should be available.

Most of the shipping services work with ranges of weight. And i cannot translate their cost structure to Woo.

It is a fairly simple option, and can really, really hel

[2022-10-25 23:42] joshuatf commented on #34930
@louwie17 @pmcpinto Is this supposed to be `wc-admin-add-first-product-note` or has it already been removed?  I don't see `wc-admin-first-product` in WCA.

[2022-10-25 23:55] jorgeatorres opened #35321 "Product CSV import handles "on sale" dates differently than admin"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Based on #35281.

While on the product edit page on the admin the "on sale to" date means the end of the day (see screenshot), while using the CSV import functionality, it is tak

[2022-10-26 00:00] jorgeatorres opened #35323 "[Enhancement]: Product sale start/end dates should support times too"
### Describe the solution you'd like

In #35281, customer believes sale dates also support times, which is also implied by [this wiki page](https://github.com/woocommerce/woocommerce/wiki/Product-CSV-Import-Schema#csv-columns-and-formatting):

<img width="948" alt="Screenshot 2022-10-25 at 16 58 51" src="https://user-images.githubusercontent.com/184724/197903672-4a105e46-8344-42b3-a802-71c117c4492

[2022-10-26 00:04] jorgeatorres commented on #35281
Hi @ronnyadsetts,

Thanks for your report. We were able to confirm there is a bug in the way the CSV import handles dates (vs the product edit page). We've created issue #35321 to take care of that.

We've also filed #35323, an enhancement request so that specific times can be set for on-sale dates too.

As such, I'm closing this issue for now, but feel free to re-open or ping me in case I've miss

[2022-10-26 00:04] #35281 closed, assigned to nobody

[2022-10-26 00:09] jorgeatorres commented on #35238
Hi @domSBM!

Thanks for your report. You're right that we shouldn't rely on the version reported by `$wpdb` for our status report as that is likely wrong when you're running MariaDB.
We've marked this as an enhancement and assigned it a priority.

That said, given you're well aware of the prior art and a possible way to fix this, if you have the time, feel free to submit a PR. We'll be more than h

[2022-10-26 00:28] domSBM commented on #35238
Hey @jorgeatorres

I've created the following PR which includes the new fix

Thanks

[2022-10-26 03:05] chihsuan opened #35325 "Outdated instruction in PR template"
**Issue Description:**

[code]

We should update the command to ` pnpm --filter=<project> changelog add`

[2022-10-26 03:38] #35325 closed, assigned to chihsuan

[2022-10-26 04:34] danishashraf047 opened #35327 "Fatal Error - Make compatible with PHP 8.1.x version"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The latest version of WooCommerce is still not compatible with PHP 8.1.x version because getting this error

`PHP Fatal error: Uncaught TypeError: array_merge(): Argument #1 must

[2022-10-26 06:23] jarekmorawski commented on #35194
Interesting! I was thinking about the default one, but since we've already used a custom modal in https://github.com/woocommerce/woocommerce/pull/34948, it'd make sense to use it here too. 👍

I'd only change the copy to something more relevant.

This product has unsaved changes. If you go to a different page, they'll be lost. Do you want to save the changes before you go?
[ Discard ] [ Save ]

[2022-10-26 07:14] AlexP11223 opened #35328 "[Enhancement]: validate_checkout uses $_POST directly"
### Describe the solution you'd like

Currently `WC_Checkout::validate_checkout` uses `$_POST` for checking the terms checkbox.

https://github.com/woocommerce/woocommerce/blob/1e94d3fc180783fd17ae096e84b87dda21dfc5e4/plugins/woocommerce/includes/class-wc-checkout.php#L854

I think there is no good reason for it and it should use only `$data`. Otherwise it may not work if someone calls this method

[2022-10-26 07:59] ProdesignerAgency opened #35331 "Scripts after added to cart."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When i add product to cart and refresh page i have those scripts added:

![Zrzut-ekranu-2022-10-26-o-10 00 34](https://user-images.githubusercontent.com/6230472/197969600-b1ff92b

[2022-10-26 08:12] #34224 closed, assigned to nobody

[2022-10-26 09:17] Konamiman commented on #34771
This was fixed in https://github.com/woocommerce/woocommerce/pull/34562 (included in WooCommerce 7.0). @namiokuzono was the issue fixed by updating WooCommerce?

[2022-10-26 09:18] peterfabian commented on #35097
One more scenario that we need to fix: **don't display any notice in the Plugin screens when the plugin is inactive**. It's incorrect to state a plugin is incompatible if it declared compatibility, but we just don't know yet, as the code hasn't run.

More internal ref: p1666700025757319-slack-C0E1AV8T0

[2022-10-26 10:48] pmcpinto commented on #34930
Thanks for the heads up. I'll remove them today.

Joshua, can you share the content of the wc-admin-add-first-product-note?

[2022-10-26 12:51] ZigZagWebXYZ commented on #33537
Hi there,
Last night I posted the following on woo support in WP.org I was asked to share it here:

**"Having the short description as it is now – CLOSED by default with no way to override it, is adding large number of unnecessary steps to editing each product.

It closes after every small edits updates and when it is open, it is very small by default and allows only 2 lines of text in view which

[2022-10-26 14:01] swatipawarGS commented on #35242
Hi @webdados,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 7.0.0 version, and WordPress 6.0.3 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/197989655-1d180065-a3d1-4e53-a0d0-aa17188ba370.mp4

Please provide us with more details and

[2022-10-26 14:21] webdados commented on #35242
What you've done is activate the Gutenberg plugin (which is not needed).

What I've done is activate the Gutenberg editor for the WooCommerce product's custom post type, as stated on the ticket: https://gist.github.com/restored316/0893b69629f882529e8aef31581b36d4#file-functions-php

[2022-10-26 16:14] jonathansadowski opened #35335 "Support change files with windows line endings"
While we have a tool for creating change files, sometimes change files are created manually. If the change file is otherwise valid, excepting windows line endings, we should still consider it as valid and let it pass.

This came up in #34292, which merged a change file with Windows line endings, and caused change file validation to break across the monorepo.

[2022-10-26 17:49] jonathansadowski commented on #35335
A note: it appears this is how Jetpack handles the issue, unless that doesn't apply to change files. I wonder if there's any reason to not apply something similar. https://github.com/Automattic/jetpack/blob/0dac885c0fc6cf283542de6ca4ebe19c00d23b6c/.gitattributes#L1-L2

[2022-10-26 18:17] nhayling commented on #24138
@claudiosanches you do realize that the woocommerce REST API uses "wp-json" in their endpoints, right?

https://github.com/woocommerce/woocommerce/wiki/Getting-started-with-the-REST-API

But, I am also having a similar issue here...

[2022-10-26 18:20] #35165 closed, assigned to joshuatf

[2022-10-26 19:52] Lolosan opened #35340 "wc_get_product_ids_on_sale() returns variations ID bug"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

function wc_get_product_ids_on_sale() fails to use 'parent_id' instead of 'id'

Tries to use array_merge between:
"wp_list_pluck( $on_sale_products, 'id' )"
and
"array_diff( wp_l

[2022-10-26 21:25] joelclimbsthings commented on #35299
Note that I've removed this from the cycle as it's been [judged as not necessary at this time](https://github.com/woocommerce/woocommerce/issues/35124#issuecomment-1290948377).

[2022-10-26 21:27] djzgfx commented on #33826
Issue has been resolved with a recent update

[2022-10-26 21:27] #33826 closed, assigned to nobody

[2022-10-26 22:07] joshuatf commented on #34930
Sure thing @pmcpinto!  It's the one titled "Add your first product" and starts with "Nice one; you've created a WooCommerce store! Now it's time to add your first product and get ready to start selling."

[2022-10-26 23:19] webtech-jomase commented on #31459
The error occurs again on another system, unrelated to the system where the first error described in this thread occurred. Same situation.

[2022-10-26 23:35] barryhughes commented on #31459
@webtech-jomase do you think the problem might in fact be the same as the one described in the following issue?

https://github.com/woocommerce/woocommerce/issues/34546

[2022-10-26 23:39] webtech-jomase commented on #31459
Yes, it is exactly the same problem on a different server, with products generated entirely from the woocommerce REST API and I can carry out the necessary tests.

[2022-10-27 01:29] psealock commented on #35276
@kkauten Can you explain what you mean by "When track inventory is OFF"? Do you mean the unticking the "manage stock" box?

<img width="1024" alt="image" src="https://user-images.githubusercontent.com/1922453/198169721-e3ed971a-f7a5-4e56-8a6e-1dcc595626ae.png">

[2022-10-27 01:34] psealock commented on #35340
Thanks for the bug report @Lolosan

$product_ids_on_sale = wp_parse_id_list( array_replace( wp_list_pluck( $on_sale_products, 'id' ), array_diff( wp_list_pluck( $on_sale_products, 'parent_id' ), array( 0 ) ) ) );

Would you be interested in submitting a pull request?

[2022-10-27 01:40] psealock commented on #35331
This would be the new [Cart and Checkout Block](https://woocommerce.com/checkout-blocks/). Offhand I don't know if the old one is still enabled by default, but if you added the block, then this would be the reason.

[2022-10-27 02:12] psealock commented on #35307
Thanks for the bug report @kkmuffme, would you be interested in submitting a pull request?

[2022-10-27 02:23] psealock commented on #35304
hi @kkmuffme, can you add more details please? Steps to reproduce or what `FQCN` means?

[2022-10-27 02:24] psealock commented on #35304
@kkmuffme ah ok I see you've submitted a pull request already, you can disregard the previous message.

[2022-10-27 02:46] jonathansadowski commented on #34523
Make some progress on the manifest... pretty sure I have it working in #35344, or at least I see the build for that PR showing up in https://betadownload.jetpack.me/woocommerce-branches.json

I have some things to clean up and need to update the PR with testing instructions, etc, but hopefully having some values in the manifest file unblocks other things

[2022-10-27 02:52] psealock commented on #34591
Since the original author has found a solution I will close this out. @helgatheviking if you have further problems, feel free to open a new issue.

[2022-10-27 02:52] #34591 closed, assigned to nobody

[2022-10-27 03:14] helgatheviking commented on #34591
Was this issue actually resolved? I worked around it by downloading a compiled asset... That hardly seems like a solution for somebody who wants to work on the repo.

[2022-10-27 03:16] chihsuan commented on #32267
I've checked the `wcadmin_storeprofiler_store_business_details_continue_variant` track and confirmed all users use > WP 6.0.2 now so users are not affected by this.

[2022-10-27 03:16] #32267 closed

[2022-10-27 03:22] nicdwilson opened #35345 "The new analytics reports have removed the average revenue total previously seen on reports"
### Describe the solution you'd like

The older revenue reports included a feature for Average Daily Sales. This is a key metric - comparing yesterday's sales to the running total for seven days, a month or the year to date is a solid dashboard number of any merchant.

While this can be manually calculated, it would be great to see the return of this feature to Analytics before Reports are fully d

[2022-10-27 03:44] psealock commented on #34591
@helgatheviking  can you confirm `pnpm install` fails with node 16.13.1 and pnpm 7.13.3 ?

[2022-10-27 07:13] kkmuffme commented on #35307
If you could pinpoint me to the docs how you handle depreciation of classes, I'm happy to PR it. Or does this not need any deprecation and I can just change it? @psealock

[2022-10-27 08:07] rjchow commented on #34585
problem seems to have gone away at some point

[2022-10-27 08:07] #34585 closed, assigned to rjchow

[2022-10-27 08:33] PanosSynetos opened #35346 "Fatal error - Call to undefined function Automattic\WooCommerce\Internal\Features\get_current_screen()"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I built WooCommerce from trunk and installed it on an Atomic site.
The site is using jetpack and I get the following fatal errors in my error log, but it can be easily replicated

[2022-10-27 09:04] pmcpinto commented on #33537
Thanks for the feedback.

@louwie17 can you also change the location of the short description to be displayed before the long description?

[2022-10-27 09:54] pmcpinto commented on #34930
@joshuatf thanks for the clarification.

The inbox I'm talking in this issue is this one: https://github.com/woocommerce/woocommerce/blob/feba6a8dcd55d4f5c7edc05478369c76df082293/plugins/woocommerce/src/Internal/Admin/Notes/FirstProduct.php

[2022-10-27 10:05] Zaniyar commented on #19256
any new changes to the WC API to make this possible?

my solution would be, create a WP plugin that exposes an endpoint to fetch products, which can than be consumed on the clientside...

[2022-10-27 10:46] pmcpinto opened #35348 "Analytics - Revenue: change date used in the report"
**Description:** In the Revenue report of our Analytics, the payment date is assigned to the order creation date, regardless of when the payment was made. This approach can be misleading and lead to complications in terms of taxes and invoices. We'll change the default date used in this report and introduce the flexibility to use different dates: created, paid or completed.

More info:
#32693
#653

[2022-10-27 10:47] pmcpinto commented on #35348
@octaedro @AnnaMag created a new issue with more details and added it to the "Todo" column

[2022-10-27 10:48] shahzaib786 commented on #32202
The same issue occurs from my side. Any solutions uptill now for this exporting report? I am not receiving emails.

[2022-10-27 10:50] pmcpinto commented on #32693
Correct. We revisited the solution, and we'll use the `date_paid`. I'll close this issue, as we created a new one with the implementation details: #35348

Thanks for flagging this situation. This will require further exploration, but we're not sure when it will be possible to do it. We'll open a separate issue focused on this use case.

[2022-10-27 10:50] #32693 closed, assigned to nobody

[2022-10-27 10:52] kkauten commented on #35276
Hi Paul
It’s a higher level and the product level.
Your screenshot was at the product level.  Yes, I don’t have Manage Stock level checked at the product level

Also, and more importantly….

Higher up at…. WooCommerce, settings, products, inventory.  The Enable Stock Management is Unchecked, like the screenshot below. ( fyi I took the screenshot from my tablet to show you)

The person on your chat

[2022-10-27 11:00] smachi commented on #35113
I'm having the same exact problem with the new HPOS List Table.
The problem is the "handle_bulk_actions-{$screen}" action is being run on the wp-admin/edit.php file and, as this page is being loaded through the wp-admin/admin.php file, the custom bulk actions cannot be processed here.
There should be a way to process custom bulk actions on the new ListTable class...

The same thing happens for oth

[2022-10-27 11:35] bigboss97lnt commented on #33228
+1

[2022-10-27 12:13] sackadelic opened #35351 "[Enhancement]: Add a .woff2 font format for included typefaces"
### Describe the solution you'd like

I'm trying to improve the performance of our site and Lighthouse is dinging us for the following:

[code]
Would it be possible to include .woff2 and / or add `font-display: swap` to the current typefaces?

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-27 12:17] swatipawarGS commented on #35242
Hi @webdados,

Thank you for the updated information. we are able to reproduce the issue using the given updated information on our end with WooCommerce 7.0.0 version and WordPress 6.0.3 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/198056137-5799d405-803e-4af7-9e74-d2313574030f.mp4

Priority of this issue will be assigned shortly af

[2022-10-27 12:22] webdados commented on #35242
@swatipawarGS 👍

[2022-10-27 13:54] pmcpinto opened #35356 "Review the pros/cons of the edit order status approach"
**Description:** as mentioned in #32693, the way how the order editing flow was built can create a business/operational risk, as it allows a manual update of the paid status without any confirmation that the order was effectively paid. We should explore the pros/cons of this approach and the implications that any change can have in extensions that can be leveraging this flow.

Example: One of my e

[2022-10-27 13:56] brianyerkes commented on #33228
+1 - big issue for store management workflow.

[2022-10-27 14:02] midrocketdev commented on #27419
@woocommercebot @peterfabian any ideas why attribute filters (widgets, left sidebar) show up in the shop page but not in category pages?

Example:

Shop -> https://www.rugstk.com/shop/
Product category -> https://www.rugstk.com/category/rugs/indoor-outdoor/

Thank you

[2022-10-27 14:58] louwie17 commented on #33537
Hmmm maybe, this may be more difficult without changing core Wordpress code. The short description is a meta box, which you can actually drag and drop above the product data meta box for example, or even move it to the side panel if you desired to do this.
The slight problem is that the long description is not a meta box. The long description does have a `action` available to put things before the

[2022-10-27 16:12] sebastianpisula opened #35359 "[Enhancement]: Declare compatibility for custom order tables"
### Describe the solution you'd like

I would like to declare compatibility for custom order tables via plugin header data in custom param, for example: `WC comaptibility: HPOS`

Example:
[code]

### Describe alternatives you've considered

[code]

### Additional context

_No response_

[2022-10-27 16:30] alopezari opened #35360 "[COT] Some orders are not migrated from WP table to the WC one if created manually"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
When migrating orders created with WC Smooth Generator, the migr

[2022-10-27 17:14] joshuatf commented on #34818
### 1. How do those two relate to each other?

These two items are not related to each other.  WooCommerce Navigation is an [experimental navigational feature](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/docs/features/navigation.md#L3) that is behind a feature flag.  It is purely used for registering **menu items** in this navigation via `Menu::add_plugin_item(

[2022-10-27 17:14] sabernhardt commented on #34017
This technically is a Twenty Twenty theme bug (see Trac tickets [48718](https://core.trac.wordpress.org/ticket/48718) and [48958](https://core.trac.wordpress.org/ticket/48958)).

However, WooCommerce could edit the styles for elements within the tabs by adding something like this:
[code]

[2022-10-27 18:00] Marc-pi opened #35361 "Woo Product Settings > Shop Page selector : empty value is not kept during any Woo Update"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

* If your website is a shop as a whole, you don't want to set a shop home page (neither the home page, nor any other page)
  * That's because you want to design the home page wit

[2022-10-27 18:44] jorgeatorres opened #35362 "[HPOS] Orders list is empty when all orders are in trash"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When there are no orders except trashed ones, WC > Orders is totally empty (the "default state" shows). This also prevents you from accessing the trashed orders.

### Expected be

[2022-10-27 18:45] Lolosan commented on #35340
Never done it before. Just stumbled upon it when making my custom theme

Let me try

[2022-10-27 19:03] Lolosan commented on #35340
I made the PR now

[2022-10-27 19:10] phix8 opened #35365 "Add to WooCommerce Product Price (multiple plugins)"
### Describe the solution you'd like

There are projects that come up often for me where I need to have multiple plugins adding to the final product price. For example, I need to use variable products with **extra product options** and also include **complex calculations** based on the total of those two, like including rent to own or financing options. If rent to own or financing is chosen then t

[2022-10-27 20:21] jorgeatorres opened #35367 "[HPOS] No "Empty trash" button"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When looking at orders currently in the trash, there's no "Empty Trash" button as there is when the posts datastore is in use.

### Expected behavior

An "Empty Trash" button sho

[2022-10-27 22:10] psealock commented on #35307
Thanks @kkmuffme, since this is an internal namespace not to be consumed by third parties a simple rename of the class and file will suffice. Cheers!

[2022-10-27 22:34] psealock opened #35369 "PHPCodeSniffer: Lint only lines that were changed"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

PHPCS was [recently changed](https://github.com/woocommerce/woo

[2022-10-27 23:15] vahanavagyan commented on #27101
We're facing same or similar issue. Attribute is part of the listing and yet filter by that attribute doesn't find UNTIL product is saved (without any changes). After this save, product is now found by given attribute via filter.

[2022-10-28 03:29] #33840 closed, assigned to chihsuan

[2022-10-28 04:13] PowerGPU commented on #35348
@pmcpinto Now how would we make sure that the orders in the future are considering the order paid date at all times. Is this something that we have to configure in settings? I wanted to verify that it's not only on reporting that this is able to change. In general this was something that Avalara (taxing integrations) requires to have so that order and the tax liability shows on the same day and as

[2022-10-28 04:15] rudolfl opened #35372 "Performance issue in Product Reviews"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

wp-content/plugins/woocommerce/src/Internal/Admin/ProductReviews/Reviews.php
Function: edit_comments_screen_text()
This function is hooked via 'gettext' filter and is called quit

[2022-10-28 04:15] PowerGPU commented on #35356
I look forward to seeing what the team will implement in this matter. It's security risk and I hope you can find a solution quick.

[2022-10-28 06:01] chihsuan opened #35373 "Migrate `@woocommerce/components/search` to TS"
### Describe the solution you'd like

Migrate the Search component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional context

_No r

[2022-10-28 06:04] chihsuan opened #35374 "Migrate `@woocommerce/components/tag` to TS"
### Describe the solution you'd like

Migrate the Tag component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional context

_No resp

[2022-10-28 06:05] chihsuan opened #35375 "Migrate `@woocommerce/components/section` to TS"
### Describe the solution you'd like

Migrate the Section component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional context

_No

[2022-10-28 06:05] chihsuan opened #35376 "Migrate `@woocommerce/components/link` to TS"
### Describe the solution you'd like

Migrate the Link component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional context

_No res

[2022-10-28 06:06] chihsuan opened #35377 "Migrate `@woocommerce/components/rating` to TS"
### Describe the solution you'd like

Migrate the Rating component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional context

_No r

[2022-10-28 06:10] chihsuan opened #35378 "Migrate `@woocommerce/components/chart` to TS"
### Describe the solution you'd like

Migrate the Chart component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional context

_No re

[2022-10-28 06:10] chihsuan opened #35379 "Migrate `@woocommerce/components/table` to TS"
### Describe the solution you'd like

Migrate the Table component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional context

_No re

[2022-10-28 06:17] chihsuan opened #35380 "Migrate `@woocommerce/components/select-control` to TS"
### Describe the solution you'd like

Migrate the SelectControl component to TS

https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/components/src/select-control

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` witho

[2022-10-28 06:31] chihsuan opened #35381 "Migrate `@woocommerce/components/product-image` to TS"
### Describe the solution you'd like

Migrate the ProductImage component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional context

[2022-10-28 06:32] chihsuan opened #35382 "Migrate `@woocommerce/components/advanced-filters` to TS"
### Describe the solution you'd like

Migrate the AdvancedFilters component to TS

### Acceptance Criteria
- [ ] All `*.js` files are converted to `*.ts` or `*.tsx`
- [ ] Run `pnpm --filter=@woocommerce/components build` without any errors
- [ ] Run `pnpm --filter=woocommerce/client/admin ts:check` without any errors

### Describe alternatives you've considered

_No response_

### Additional conte

[2022-10-28 08:06] perks98 commented on #35308
I have just had a few customers recently complain that the short description was missing. Turns out like in this issue report that section is now collapsed by default. Hopefully this will get fixed soon.

[2022-10-28 08:17] perks98 commented on #33537
Please make the short description at least not collapsed by default. Had a bunch of customers complain that it was missing when it is now collapsed as a thin bar to click on. This is a terrible change for existing users, by collapsing by default you are telling me it shouldn't really get used?

[2022-10-28 10:29] scruffian opened #35385 "Site-wide notice is impossible to hide in a block theme"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If you have a block theme, this site-wide notice is impossible to customize or hide:

`This is an example of a sitewide notice - you can change or remove this text in the Customi

[2022-10-28 10:29] scruffian opened #42547 "Site-wide notice is impossible to hide in a block theme"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If you have a block theme, this site-wide notice is impossible to customize or hide:

`This is an example of a sitewide notice - you can change or remove this text in the Customi

[2022-10-28 11:17] ZigZagWebXYZ commented on #33537
in my experience there is no way to move anything above the long description

[2022-10-28 11:18] pmcpinto commented on #33537
We'll revert this change in WC 7.2.

[2022-10-28 11:19] pmcpinto commented on #33537
The slight problem is that the long description is not a meta box. The long description does have a action available to put things before the long description field, but this may also be used by plugins for other use cases.

Thanks for the clarification. So let's place it after the long description.

[2022-10-28 11:22] perks98 commented on #33537
@pmcpinto  Thanks for the update and prompt response 👍🙏
I don't know the development cycle of Woocommerce, is WC 7.2 update weeks away?
<hr>

Update: so it seems it take more than a month to fix something that should already have been resolved and committed to 7.1, especially as it is a revert that doesn't break anything... great development cycle...

[2022-10-28 12:46] mikejolley commented on #42559
This should have been resolved by https://github.com/woocommerce/woocommerce-blocks/pull/7508

[2022-10-28 13:02] roykho opened #35386 "WooCommerce legacy assets missing SCSS files after being packaged"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When running `pnpm run build:zip` for WooCommerce, `SCSS` files are missing from the build package of `assets/css`.

First reported p1666079900096379-slack-C02GB41LGHM

### Expec

[2022-10-28 13:18] wavvves commented on #35248
~~Hi, I can't seem to replicate this.~~

- ~~Can you list exactly the required plugins in step 2?~~
- ~~Can you describe the exact process of editing a new page and how you access the patterns tab?~~

~~I tested this both in beta-1 and beta-2, with chrome and firefox and got the expected result.~~

I now see this happening on the saved page and TT3 theme, a [PR](https://github.com/woocommerce/wooc

[2022-10-28 13:25] Aljullu opened #42546 "Filter by Attribute: auto-select first match when typing in the dropdown"
As a shopper, I would like the first option to be auto-selected when I type in the Filter by Attribute block dropdown.

## To reproduce

1. Add the All Products block and the Filter by Attribute blocks to a post or page. For the latter, select _Dropdown_ as the display style.
2. In the frontend, start typing the name of an attribute (ie: `bl`).
3. Press <kbd>Enter</kbd>.
4. Notice nothing happens.

[2022-10-28 13:43] swatipawarGS commented on #35361
Hi @Marc-pi ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the WooCommerce 7.0.0 version, WordPress 6.0.3 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/198543345-f80f62e7-2cff-46f6-bad7-b7ec4915f7c7.mp4

Priority of this issue will be assigned s

[2022-10-28 16:28] #35112 closed, assigned to jorgeatorres

[2022-10-28 16:31] #35346 closed, assigned to nobody

[2022-10-28 16:55] pmcpinto opened #35392 "Tracks: fix menu_order prop"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Currently, we're setting the `menu_order` prop of `wcadmin_product_update` as true when the user updates a product without updating the menu order value

### Expected behavior

T

[2022-10-28 16:57] pmcpinto commented on #35392
@AnnaMag in case the porter has the time to work on this during the current cycle

[2022-10-28 17:02] pmcpinto opened #35393 "Tracks: add new prop to product publish and update events"
**Description:** some extensions like WooCommerce Gift Cards create a "trait" in the product form, similar to the "virtual" and "downloadable" options. We should add a prop to wcadmin_product_update and wcadmin_product_add_publish, to understand how many users are managing products with this kind of 3PDs traits enabled.

[2022-10-28 17:03] pmcpinto commented on #35393
@AnnaMag it would be great if the porter could handle this during the current cycle and include it in 7.2.

[2022-10-28 17:07] helgatheviking commented on #34591
well hot damn... after installing composer and a few missing php extensions, it compiled. I guess it's ok.... for now. Thanks!

[2022-10-28 17:18] #33538 closed, assigned to louwie17

[2022-10-28 19:12] psealock commented on #34591
Nice! Glad to hear its working @helgatheviking. If you run into any more issues, please open a new issue

[2022-10-28 19:29] roykho commented on #35369
To add a possible solution which I've actually looked at in the past and got it work: https://github.com/sirbrillig/phpcs-changed

The backstory as to why I didn't go with it at the time was because there was no annotation in the action itself which we've had. But perhaps we could add it upstream I guess.

[2022-10-28 20:08] #35211 closed, assigned to nobody

[2022-10-28 21:35] joelclimbsthings commented on #35124
Thanks @pmcpinto , a few questions.

Right now we're recording the scores resulting from the CES modal using the `ces_feedback` event with the following payload:
[code]

The `score` is just a number, which won't capture more than one question of course. Is there a preferred format on how multiple scores will be passed? I'm not sure how this is parsed on your side, but we could pass both as a strin

[2022-10-29 10:54] drwpcom commented on #24706
We're continuing to see this issue and it doesn't seem to be limited to long SKUs. In 5664330-zen the merchant shared the following files which we used to replicate this issue:

- [product-variations.csv](https://github.com/woocommerce/woocommerce/files/9893482/product-variations.csv)
- [products.csv](https://github.com/woocommerce/woocommerce/files/9893484/products.csv)

The SKU is `9101112131415

[2022-10-29 11:15] camper2020 commented on #16747
Hi all, I came across this Github issue while searching for a solution for this very problem or seeing pricing of line items including tax in the admin order edit screen. Furthermore we wanted the ability to edit the line items with the inclusive pricing to make it easier to set and calculate discounts. I've since written a plugin to do just this if anyone is interested, you can install it here: h

[2022-10-29 18:15] sackadelic opened #35403 "[Enhancement]: Filter Comment Row Actions on new Reviews admin page"
### Describe the solution you'd like

I'd like to be able to filter the `comment_row_actions` on the new admin reviews screen. So far, there's no filter hooks to hook into per review.

### Describe alternatives you've considered

_No response_

### Additional context

The 'Approve', 'Reply' etc links on the new `page=product-reviews`

[2022-10-30 01:34] icarostangent opened #35404 "Orders API endpoint doesn't check customer_id field against logged in user"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
When submitting orders via the API, WooCommerce doesn't check th

[2022-10-30 01:38] icarostangent opened #35405 "Orders API endpoint doesn't check customer_id field against logged in user"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When submitting orders via the API, WooCommerce doesn't check that the customer_id field is, in fact, the currently logged in user. This can be exploited to brute force the datab

[2022-10-30 13:06] MiladRezaeian opened #35406 "Refunded line items don't appear as refunded in admin when 'wc-completed' is removed from the orders statuses list"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

User can not see red flag of refund items in order if the user has not wc-completed in their status list in single order.

### Expected behavior

I think the wc-compleded status

[2022-10-30 13:41] LukasFritzeDev commented on #35386
might be related to https://github.com/woocommerce/woocommerce/issues/31617

[2022-10-30 22:27] kazimierzfilip commented on #31797
Hi, did you agreed on priority for this issue?

It looks like group products are treated like they have price=0.

Dou you think this is a bug or a missing feature?

Filtering group projects should have some additional logic:

For min price higher value should be considered
For max price lower value should be considered

Given I have group product with price range 10-50

When I set min price to 0,

[2022-10-30 23:28] galbaras commented on #28189
This may be low priority, but it sure seems like an easy fix. [Line 56](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/admin/reports/class-wc-report-customer-list.php#L56) should have the second instance of `$linked` as an argument to `sprintf()`, not `esc_html()`:

`echo '<div class="updated"><p>' . sprintf( esc_html( _n( '%s previous order linked', '%s previou

[2022-10-31 00:38] #34338 closed, assigned to nobody

[2022-10-31 00:38] #34402 closed, assigned to jorgeatorres

[2022-10-31 01:18] psealock commented on #35404
This looks like a duplicate of https://github.com/woocommerce/woocommerce/issues/35405, so I will close this one out.

[2022-10-31 01:18] #35404 closed, assigned to nobody

[2022-10-31 01:20] psealock commented on #35403
Hi @sackadelic, I couldn't find the string `comment_row_actions` in the codebase. Could you provide more specific details with your request?

[2022-10-31 01:21] brettnzl opened #35408 "Managed & Unmanaged stock - Pending-processing & processing-complete stock reduction issue."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

There is a conflict or a bug issue that happens when you change stock from unmanaged to managed while an order is already placed.

Please look to reproduce:
- Create a product wi

[2022-10-31 02:00] davidalzate commented on #11943
Hello @leeuweriq , could you please explain how you fix it?

[2022-10-31 06:33] kazimierzfilip commented on #24349
Just set min price to something greater than 0. You will see that grouped products and probably variantion products will disappear.

[2022-10-31 07:28] rjchow opened #35409 "Plugins connect-jetpack endpoint permissions check too restrictive"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

[Jetpack connection API](https://github.com/woocommerce/woocomm

[2022-10-31 08:29] mastix01 opened #35410 "[Enhancement]: Bulk change of data"
### Describe the solution you'd like

To be able to change data (categories, prices,etc) in bulk inside Woo without the need if third app as this is a basic functionality. Changing data manually one by one only works if you have a few dozen products, not if you have thousands.
Also make it something simple , not necessary with a spreadsheet as not all people that set up a shop might be proficient

[2022-10-31 09:02] vedanshujain opened #35412 "Add unit test for syncing HPOS with stats table (follow up from 35118)"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In #35118, we added syncing support from HPOS to the posts table. However, while we added unit tests for this logic in the start, we removed them eventually as they were taking a

[2022-10-31 09:03] #35032 closed, assigned to vedanshujain

[2022-10-31 11:03] AnnaMag commented on #35348
@octaedro, could you please assign the estimation based on the discussions so far? Thank you!

[2022-10-31 11:18] vedanshujain opened #35413 "[HPOS] Support declaring (in)compatibility via header fields"
We already support compatibility declarations via code. However, since the code compatibility declaration cannot be active without the plugin also being active, we can't tell whether the plugin is compatible with HPOS or not beforehand.

This issue scopes supporting compatibility declaration in the plugin header itself so that we can prevent activation of the incompatible plugin in the first (and/

[2022-10-31 11:28] pmcpinto commented on #35124
@joelclimbsthings here's my feedback:

What do you think about doing the following to ensure some backwards compatibility:
- Keep the `score` prop for the 1st question
- Create a new prop for the 2nd question, something like: score_2nd_question
- Create a new prop to record the combined scores: score_combined

We can use the `comments` prop.

Maybe we should use the modal title in the snackbar. Fo

[2022-10-31 12:10] vedanshujain opened #35414 "[HPOS] Add action for handling custom bulk actions."
For `Orders\ListTable` class, we need to add a filter to support custom bulk action, just like [it's supported in the wp-posts-list table](https://github.com/WordPress/WordPress/blob/master/wp-admin/edit.php#L222).

Perhaps we can add this hook as [another `elseif` construct in the `ListTable` class](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/src/Internal/Admin/Order

[2022-10-31 12:24] sackadelic commented on #35403
Hey @psealock, in WordPress there is a [default hook provided](https://developer.wordpress.org/reference/hooks/comment_row_actions/) that would be great to use on the new reviews page. I have a plugin that needs to filter those actions to add a few more and I cannot find how to filter the actions on the reviews page yet.

I've checked the source code and couldn't find the admin template screen for

[2022-10-31 12:37] jarekmorawski commented on #35124
That's precisely how I imagined it. Having an additional prop for the second question could help us easily analyze the data.

[2022-10-31 13:39] dylande2ker commented on #34944
Hi,

Is there any update on this?

[2022-10-31 14:24] shoelaced opened #35416 "Download permissions do not work with custom order status."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I posted about this in the WordPress support forum and it seems unclear whether this is a bug or intentional for some reason, but it's bothersome and inconvenient so I'm reportin

[2022-10-31 14:27] gglobalstep opened #35417 "[GlobalStep] "Business details" and "Free features" options fails to display on Business details step while OBW when Gutenberg plugin is active."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Business details" and "Free features" options fails to display on Business details step while OBW when Gutenberg plugin is active.

### Expected behavior

"Business details" and

[2022-10-31 14:39] gglobalstep opened #35418 "[GlobalStep] [WP6.1 TT3] Unable to view "View cart" button text after hovering on "Product" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Unable to view "View cart" button text after hovering on "Product" page.

### Expected behavior

"View Cart" button text should be visible upon hovering over the button.

### Act

[2022-10-31 14:53] PanosSynetos opened #35421 "[Enhancement]: wc-refund-returns-page note should be displayed on a later day"
### Describe the solution you'd like

Along with @manospsyx we've identified that this message should make more sense if it appeared 5(?) days after installation.

As a new site owner, it doesn't help me to know that a refund page has been created for me, day one.

5 (or more) days later might make more sense, as the owner has already spent some time with the site; there are more chances that they

[2022-10-31 14:54] gglobalstep opened #35422 "[GlobalStep] [WP6.1 TT3] "Price" text of the product appears larger in size on "Product" page with grouped products."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Price" text of the product appears larger in size on "Product" page with grouped products.

### Expected behavior

"Price" text of the product should be displayed with proper si

[2022-10-31 15:00] joshuatf commented on #34930
**In progress / Under review:**

* wc-admin-insight-first-product-and-payment https://github.com/woocommerce/woocommerce/pull/35309
* wc-admin-first-downloadable-product https://github.com/woocommerce/woocommerce/pull/35318
* wc-admin-adding-and-managing-products https://github.com/woocommerce/woocommerce/pull/35319
* wc-admin-manage-store-activity-from-home-screen https://github.com/woocommerce/w

[2022-10-31 16:07] joshuatf commented on #35170
I'm estimating this at a 5.  My hope is that we can reuse some of the existing breadcrumb logic without re-enabling it site-wide.  However, this could open up some challenges in how we prevent this form being a site-wide feature, so I want to leave some room for error.

[2022-10-31 17:13] camper2020 commented on #17693
Hi all not sure what happened to my previous comment but I’ve had the same issue and wrote a small plugin to allow showing inclusive tax prices and to edit them  @tin-soldier . Please feel free to try it out and let me know if it works or not. You can find it on the WP plugin repo here https://wordpress.org/plugins/rd-wc-order-modifier/

hope it can help someone!

[2022-10-31 17:52] mattsherman opened #35426 "__experimentalSelectControl: Add suffix prop"
## Description

A `suffix` prop should be added to the [`__experimentalSelectControl`](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/components/src/experimental-select-control), similar to the `suffix` prop on the [`__experimentalInputControl`](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/input-control).

The `suffix` prop can be used by consumers f

[2022-10-31 18:13] mattsherman commented on #35426
I've estimated this as a `2`. Mainly because of the potential complication of providing a `SuffixWrapper`.

The modification of existing code to make use of the `suffix` prop will be handled in follow up PRs.

[2022-10-31 18:14] mattsherman commented on #35076
The `suffix` icon/indicator functionality has been split into a separate issue: #35426

[2022-10-31 18:53] #35369 closed, assigned to psealock

[2022-10-31 21:12] #35360 closed, assigned to barryhughes

[2022-10-31 21:36] #34389 closed, assigned to joshuatf

[2022-10-31 22:33] pesseba opened #35440 "Woocommerce 7.0.0 brokes rest api calls"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I update the woocoomerce to 7.0.0 and I'm getting problems. The rest api calls stuck in a wc error

``Uncaught TypeError: Cannot access offset of type string on string in .../wp-

[2022-11-01 01:27] carlosmaciasc commented on #21148
This works for me.

https://github.com/carlosmaciasc/WordPress/blob/e95a80829d1694f097ba6d952d2f46e8da248bbe/functions.php#L1-L15?plain=1#L14

`function cmdm_exclude_cart_fees_taxes($taxes, $fee, $cart)
{
	if($taxes[0] <= 0)
	{
		return [];
	}
	else
	{
		return $taxes;
	}
}
add_action('woocommerce_cart_totals_get_fees_from_cart_taxes', 'cmdm_exclude_cart_fees_taxes', 999 ,3);`

[2022-11-01 01:59] askwpgirl commented on #33265
The login link actually does do something, and the issue is unrelated to the plugins mentioned above. This happens with all installations of WooCommerce with Storefront and any number of themes.

To reproduce:

1. Create a user in WordPress.
2. Log out of WordPress.
3. Attempt to place an order and checkout with the user email added for the user in step 1.
4. The "An account already exists for thi

[2022-11-01 04:27] chihsuan commented on #35417
I was able to reproduce this locally with Gutenberg 14.4.0.

[2022-11-01 05:07] psealock commented on #35403
Thanks for the clarification @sackadelic

I created a test product and a test review. Is this what you are referring to?

<img width="842" alt="image" src="https://user-images.githubusercontent.com/1922453/199163031-7bd61585-44de-4e4e-9ace-937e367b8b27.png">

If so, here is the code for that review, and there are several places to filter/hook into

https://github.com/woocommerce/woocommerce/blob/t

[2022-11-01 05:08] psealock commented on #35403
Oh hang on, are you referring to the reviews on the admin side of things?

<img width="1118" alt="image" src="https://user-images.githubusercontent.com/1922453/199163251-6b726610-0dba-4c36-964e-c74504651617.png">

[2022-11-01 05:17] psealock commented on #35403
Ok, now I'm with you. I think you are talking about these actions (Unapprove, reply, quick edit, etc...)

<img width="1265" alt="image" src="https://user-images.githubusercontent.com/1922453/199163782-62c5277b-25b3-422b-b036-2677fee100b0.png">

Those are found here and you're right the list isn't filterable.

https://github.com/woocommerce/woocommerce/blob/24f6acdc9cb01b16e34bc4b68b66d476f33555ed/

[2022-11-01 05:59] arraim opened #35449 "Woocommerce database doesn't update."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I try to update database in woocommerce and it doesn't work. I've deactivated all plugins ... and still nothing.

### Expected behavior

The update doesn't get complete ...

###

[2022-11-01 07:24] francoishvz commented on #25076
37744573-hc

[2022-11-01 07:54] jarekmorawski commented on #35170
We already only show the new top bar (with the button on the right) in the new product editing UX. Can we apply the same logic to the breadcrumbs?

[2022-11-01 10:00] eason9487 commented on #34818
Adding some examples related to the **4. outdated** section.

Based on the content of [Registering a React-powered Page](https://github.com/woocommerce/woocommerce/blob/7.0.0/plugins/woocommerce-admin/docs/page-controller.md#registering-a-react-powered-page), I was trying to figure out the expected/suggested way to add a React-powered page to the Marketing menu with a specified order, and then fou

[2022-11-01 10:50] imanish003 commented on #42547
Hi there @scruffian,
Thanks so much for taking the time to create this issue - much appreciated 🙏🏻

FYI We are aware of this issue & it's in our roadmap to have a `blockified` version of the store notice.
For now, I would suggest you directly access the customizer settings using `/wp-admin/customize.php` path.

I am adding this issue to our queue.

[2022-11-01 11:33] Michaelgimii opened #35451 "Two errors related to WooCommerce in the new version"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi

After updating WooCommerce to a new version, two errors are always displayed in the browser console. **(These two errors are only displayed in the Elementor editor)**

![Scre

[2022-11-01 11:51] imanish003 opened #42545 "Hide `Set a store notice` onboarding step when block theme is selected"
**Customizer setting is not available when block theme is active**

We hide the customizer setting when the block theme is active. Therefore, the user doesn't have a visual way to disable storewide notice when block theme is active.

Therefore, In onboarding, we should remove/hide the `Set a store notice` step if block theme is selected because once the onboarding is complete, the user won't have

[2022-11-01 12:38] jonasskafte opened #35452 "[Enhancement]: Implement Shopify style 'Automated Collections' (automated conditional product categories)"
### Describe the solution you'd like

Hi there 👋

Hope you are all well.

I would like to suggest the development of implementing Shopify style 'Automated Collections' into WooCommerce core.

With 'Automated Collections' I mean automated conditional product categories as described here:

https://help.shopify.com/en/manual/products/collections/automated-collections

-and here:

https://shopify.dev/

[2022-11-01 12:40] peterfabian commented on #35264
Thanks for your idea, @dimichatzi .

I agree it would make sense and provide a better shopping experience. Since it's mostly cosmetic, I'm marking it as a low priority. It might make sense to add a filter or perhaps a UI setting for this.

[2022-11-01 12:44] peterfabian commented on #35231
Thanks @pierrerocket , that sounds like a good improvement indeed. Since we have a team working right now on a new product editing experience, let's highlight it to them, cc @pmcpinto .

[2022-11-01 12:55] peterfabian commented on #35035
Thanks @Tsonn that definitely sounds like a good improvement. If you'd like to take a stab at fixing it in `WC_REST_Orders_Controller::save_object` and submit a PR, we'd be happy to review it. Thanks!

[2022-11-01 13:04] peterfabian commented on #35002
Hi @Farallon5

Thanks for submitting this idea. It seems to me it's more of a theme customization request that can perhaps be supported by Blocks once you'd be able to build your custom product page, or better served by a custom single product template from a theme.

I don't think this is a typical use case and is probably better solved by other tools than changing the WC core itself, but we'll ke

[2022-11-01 13:04] #35002 closed, assigned to nobody

[2022-11-01 13:43] swatipawarGS commented on #35408
Hi @brettnzl,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using the  WooCommerce 7.0.0 version and WordPress 6.0.3 version.

Please find below the screencast for reference :

https://user-images.githubusercontent.com/94531721/199178987-abb863f0-4aa3-4a26-8459-9d5ad36fd295.mp4

Priority of this issue will be assign

[2022-11-01 15:12] sackadelic commented on #35403
Hey Paul, yes, you got it! I'd love to be able to filter those actions to add a few more.

[2022-11-01 15:21] anastas10s-afk commented on #34944
Also requested here:
https://wordpress.org/support/topic/minimum-product-price-after-cupon-code/

Referencing the following Stack Overflow thread as a working solution:
https://stackoverflow.com/questions/73444301/woocommerce-product-price-0-when-apply-coupon-discount

[2022-11-01 15:40] anastas10s-afk commented on #26289
Also reported here:
https://wordpress.org/support/topic/how-do-i-gift-a-specific-users-coupon/

I was able to reproduce the issue, on a test installation of mine. [Upon setting a specific email address](https://snipboard.io/sIJUTx.jpg) (or range of addresses, with "*@gmail.com") the [coupon was applied without an issue, even at the cart page](https://snipboard.io/oECUOK.jpg).

[2022-11-01 16:29] singhpaul commented on #35166
This issue continues to persist for us as well

[2022-11-01 16:34] colmtroy commented on #24533
@LedLoket I just encountered this exact use case - seems like a pretty severe bug which has meant our Metorik webhooks haven't been firing for weeks because of it

[2022-11-01 17:00] KitoDan-Dev opened #35454 "Product not apear!"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi, i had installed the "Event Manager and Tickets Selling Plugin for WooCommerce" and create a event, but when i go to the products page he has been counted but not appear on pr

[2022-11-01 17:25] pesseba commented on #35440
I discovered there is a conflict between wc and the plugin jwt auth... I'm still investigating it...

[2022-11-01 17:53] pesseba commented on #35440
Sorry, the JWT Auth is causing the problem, not WC... The another plugin has a whitelist for endpoints and is causing the problem...

[2022-11-01 17:53] #35440 closed, assigned to nobody

[2022-11-01 18:17] betayazilim commented on #31900
Waiting like since forever

[2022-11-01 18:53] octaedro opened #35456 "[Enhancement]: Add tracks events to a few sections"
### Describe the solution you'd like

There are a few sections that should have more tracks events.

The sections that need more tracks events recorded are:
- Attributes
- Shipping
- Images

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-01 19:36] tammullen commented on #35418
This is related to a WordPress 6.1 Issue: https://core.trac.wordpress.org/ticket/56928

[2022-11-01 19:41] tammullen commented on #34813
Fixed in https://github.com/woocommerce/woocommerce/pull/35306

<img width="1675" alt="Screenshot 2022-11-01 at 19 40 00" src="https://user-images.githubusercontent.com/24649833/199323724-b69f65f1-2321-4b44-abeb-fa04fdc61ee9.png">

[2022-11-01 19:41] #34813 closed, assigned to nobody

[2022-11-01 19:54] tammullen opened #35458 "TT3 - Cart coupon code field misaligned on narrower viewports."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In Twenty Twenty-Three theme with default styling the coupon code field becomes slightly misaligned when changing to a narrower viewport (in testing this was =<765 px)

<img widt

[2022-11-01 20:09] tammullen opened #35459 "TT3 - Product Search block text field and button have different heights."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In Twenty Twenty-Three theme the Product Search block text field and button have different heights.
<img width="389" alt="Screenshot 2022-11-01 at 20 04 16" src="https://user-ima