[2020-03-11 19:29] astralbodies commented on #25738
@strarsis Hiya! Just wanted to let you know that the app should be performing the actions on your site as the `wp-admin` user associated with the Jetpack connection (not the site's connection). Can you reach out to the support staff in the app under My Site -> Settings -> Help & Support?

You'll want to give them the two WordPress.com account e-mail addresses or usernames associated with the site

[2020-03-11 19:49] rrennick commented on #25870
@unster @matthisamoto Thanks so much for the quick turn around on feedback. I've created https://github.com/woocommerce/action-scheduler/issues/485 to address the issue and will close this one.

[2020-03-11 19:49] #25870 closed

[2020-03-11 19:54] guyinpv opened #25887 "With multiple payment methods, the selected radio option doesn't update to 'checked'"
I have two payment methods, one is PayFlow Pro and the other is Cash on Delivery. These are both plugins, but I don't believe this bug is related to the payment methods themselves, but rather how the methods are switched between on the checkout page.

Each payment method has a radio selector and when you click on one, the selected payment expands open and the radio shows as selected, i.e. the circ

[2020-03-11 19:56] matthisamoto commented on #25870
Additional actions related to updating Product Data (that I imagine were dependent on the other actions completing) were also stalled and I was able to run them from the Scheduled Actions page under Tools.

[2020-03-11 19:59] rrennick commented on #25886
@mackayjamesusa Thanks for the report. The issue is being addressed in https://github.com/woocommerce/woocommerce-admin/issues/3869 so I will close this one.

[2020-03-11 19:59] #25886 closed

[2020-03-11 20:14] juliaamosova commented on #25887
Hi @guyinpv,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I have several payment methods enabled that include `Cash on Delivery` and `PayPal`.

Here is showing that when `Cash on Delivery` method is selected, the radio button shows as selected and `checked="checked"` attribute is there:

![ch1](https://user-images.githubuserconte

[2020-03-11 20:24] bortonecesario opened #25888 "Switch Payment from PayPal to COD doesn't apply extra fee"
If i do an order and i select Paypal as payment method after i've clicked on place order button i'm redirected on Paypal for the authentication. If i close this page on woocommerce there is the order in Wait For Payment status.
If i send the link for pay the order to the customer like this:
http://bxxxxxxxxx.org/checkout/order-pay/580/?pay_for_order=true&key=wc_order_o1P4hpRbYiYlP

and the custome

[2020-03-11 21:06] juliaamosova commented on #25888
Hi @bortonecesario,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25777. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-03-11 21:06] #25888 closed

[2020-03-11 21:46] juliaamosova commented on #25777
Hi @FritzHerbers,

Apologies for the delayed response and thank you for providing additional details. I downloaded [Payment Gateway Based Fees and Discounts for WooCommerce](https://wordpress.org/plugins/checkout-fees-for-woocommerce/) plugin and managed to reproduce the issue.

Documenting my steps below.

1) Enabled `Bank transfer` and `Stripe` payment methods;
2) Added $11 fee for using Stripe;

[2020-03-11 21:48] elizaan36 opened #25889 "Connect your store JITM can't be dismissed"
### Describe the bug
The JITM for connecting with WooCommerce.com is currently not dismissable and that could cause frustration for merchants who don't want to or need to connect. Not quite a bug but a usability issue.

### To Reproduce
Steps to reproduce the behavior:
1. Go to a WooCommerce wp-admin dashboard for a store that's not yet connected to WooCommerce.com
2. See the JITM "Connect your st

[2020-03-11 21:53] juliaamosova commented on #25121
Hi @gpsidhuu,

Apologies for the delayed response here. We had a few more reports of the same issue. I take my words back as the issue seems to be on the WooCommerce side of things indeed.

I documented my steps of how I reproduced it in https://github.com/woocommerce/woocommerce/issues/25777 so we are going to use https://github.com/woocommerce/woocommerce/issues/25777 for further discussion and

[2020-03-11 21:53] #25121 closed

[2020-03-11 22:04] juliaamosova commented on #25889
Hi @elizaan36,

Thank you for taking the time to report this bug. I can reproduce it on my end. However, I think this notice shouldn't be there in the first place since it is now a part of WC Admin bar via `Inbox`.

I see that we now have 2 identical notices:

![inbox](https://user-images.githubusercontent.com/19143190/76468572-a918c700-63c2-11ea-9109-5afb774091c6.jpg)

cc @timmyc @peterfabian for

[2020-03-11 22:09] juliaamosova commented on #25824
Hi @adch,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-11 22:09] #25824 closed

[2020-03-11 22:10] unster commented on #25870
Yep, that one worked for me as well :-) thanks!

[2020-03-11 22:21] juliaamosova commented on #25820
Hi @ettoredn,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

Note that as per the Cross-sells note next to the field, the cross-sells products are being displayed on the cart page, not on the product page:

![cart1](https://user-images.githubusercontent.com/19143190/76469553-dfefdc80

[2020-03-11 22:42] mackayjamesusa commented on #25886
Thank you for letting me know.  Will look forward to upcoming release.

[2020-03-11 22:45] juliaamosova commented on #25579
Hi @hagbeb,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-11 22:45] #25579 closed

[2020-03-12 00:01] timmyc commented on #25889
I concur that we should keep the wc-admin inbox notif and remove the legacy one. @pmcpinto any opinions here?

[2020-03-12 00:22] JakePT opened #25890 "Select control in new onboarding experience is not keyboard navigable"
**Describe the bug**
When setting up a store with the new onboarding screen in 4.0, when you are selecting a country you cannot move between options with the up and down arrows.

**To Reproduce**
Steps to reproduce the behavior:
1. Install WooCommerce
2. Begin setup Wizard
3. Select Country/Region dropdown, type a few letters
4. Use up and down arrows to try and move between options

**Expected be

[2020-03-12 00:34] ObliviousHarmony commented on #25843
This reminds me a little of #24947, though in this case, it's the variation that breaks not the parent product!

[2020-03-12 02:33] helgatheviking commented on #25759
An alternative suggestion: https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/694#issuecomment-597408337

[2020-03-12 04:17] LevinMedia commented on #25585
@ObliviousHarmony I'm with you on this one, in addition to the proposal from @garymurray I think we should split the categories and products into two distinct sections... because I agree, having them all lumped into the same bucket is not a good look.

<img width="1976" alt="Screen Shot 2020-03-11 at 9 13 56 PM" src="https://user-images.githubusercontent.com/4500952/76486772-9e1f6000-63dd-11ea-993

[2020-03-12 06:06] itsgauravjain22 commented on #18045
@WPprodigy That's what I found lack in default woocommerce. The custom text field can't be added as product attribute. It's just a example of books as a product. If there's a way to create custom text fields as products attributes, I could add isbn13, isbn10, upc, ean, total number of pages in a book etc. And it's very much required for every other store type. Not all product attributes are taxono

[2020-03-12 07:01] SirRahikkala commented on #25578
I don't know if its related but one of my stores is having similar issues with sessions and coupons. The orders which are not finalised, are stuck in woocommerce_sessions table and when the user comes back, they are not linked to that user, instead it say that coupon is used (in reality it's not because the old session is still open) also the cron job clearing the sessions does not clear them but

[2020-03-12 08:02] apeksha10 opened #25892 "Debug log error found when updating database via Update WooCommerce Database button"
**Describe the bug**
Found debug log error when upgrading WooCommerce database after upgrading from 3.9.3 version to 4.0.0 version.

**To Reproduce**
Steps to reproduce the behavior:
1. Update from WC 3.9.3 to WC 4.0
2. Click on Update WooCommerce Database button
3. Some errors appear in debug log.

Attaching the debug log file for reference.
[debug.log](https://github.com/woocommerce/woocommerce/

[2020-03-12 09:06] aliqua-au opened #25893 "New Customer Registration Doesn't Show in WooCommerce/Customer"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

-- If a user registers a new account via /my-account/, they are signed up as a "Customer", but they do not appear in the 'WooCommerce/Customer" tab in WooCommerce 4.0.0.

**Describe the solution you'd like**
A clear and concise description

[2020-03-12 09:25] titodevera opened #25894 "[enhancement] "Active Product Filters" widget and custom product filters widgets"
Plugins that includes custom products filter widgets (like filter by brand e.g.) should be able to take advantage of the native "Active Product Filters" widget.

I think that is recommended to add a new filter hook to the "class-wc-widget-layered-nav-filters.php" file that allows developers to do a better integration of his own products filter widgets.

Thanks :)

[2020-03-12 09:43] luukskeur commented on #25873
Hi @juliaamosova, thanks for your reply!

I understand this is a big thing (if it's even considered) and it isn't easy to create in short term. Should I publish it at https://ideas.woocommerce.com/ also? How and should and can, I contribute to this specific task?

Thanks!

[2020-03-12 09:51] Dan-Q commented on #25872
This has now been fixed at the source.

[2020-03-12 09:55] peterfabian commented on #25890
Thanks for reporting, moving to wc-admin repository where this code lives.

[2020-03-12 09:59] peterfabian commented on #25892
Thanks for reporting, @apeksha10 !

This seems to be a duplicate of https://github.com/woocommerce/woocommerce/issues/25876. We already have a PR to fix this and will include it in the next update.

[2020-03-12 09:59] #25892 closed

[2020-03-12 10:01] peterfabian commented on #25893
Thanks for the suggestion, I think that makes sense.

cc @LevinMedia (is there someone else I should be tagging?)

[2020-03-12 10:06] peterfabian opened #25895 "ActionScheduler actions table doesn't exist"
ref: https://wordpress.org/support/topic/fatal-error-on-last-version-4-0/#post-12531873

Table `alexandr121131_wp_2h3tp.TOTscth0_actionscheduler_actions` doesn’t exist in /var/www/vhosts/headplus.gr/httpdocs/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php:44
Stack trace:
1. /var/www/vhosts/headplus.gr/httpdocs/wp-content/plugins/woocom

[2020-03-12 10:08] peterfabian commented on #25895
cc @rrennick

[2020-03-12 11:10] tyrann0us opened #25896 "Show customer details on "Thank You" page for guest users too"
In 14e03038e33d32b60c02a205c43bcdc7aa647612, the [`order/order-details.php` ](https://github.com/woocommerce/woocommerce/blob/master/templates/order/order-details.php)template was changed to only show customer details (e.g. addresses) to logged-in customers. This means that this information is not displayed for guest users.
Background was that Google had indexed some of these pages and thus sensit

[2020-03-12 11:29] marconett opened #25897 "WooCommerce 3.x support period?"
what does the future support for WooCommerce 3.x look like?
bugfix releases, only security releases, no new updates at all?

[2020-03-12 11:34] davidcommarmond commented on #25895
Hello,
let me know if you need any help debugging that on my WP Engine install ? I can spin a dev environment up for you with a clone. But would need a way to send you the credentials privately then...

Note it uses the PHP engine 7.3 (not the newer 7.4).

FYI I upgraded from woocommerce 3.9.2 (Not 3.9.3) on WP 5.3.2.

Thanks.

[2020-03-12 11:44] aliqua-au commented on #25893
Thank you. It's such a great system so it makes sense to maximise its new capabilities and centralise its purpose.

[2020-03-12 11:55] gbruzzo commented on #25809
Hello there

Tried disabling all plugins, keeping only Woocommerce and Woocommerce Beta Tester
4.0RC1 - **managed to get the database to update in 3 out of 5 attempts** (I reinstalled the staging site every time). Hanging = hanging for at least half a day. Manual attempts to start scheduled processes were unsuccessful. In one case one plugin generated an error

[code]
I tried to reproduce the erro

[2020-03-12 11:55] aliqua-au commented on #25893
![Screenshot_20200312-224809_Chrome](https://user-images.githubusercontent.com/62095774/76518856-fd4fa400-64b3-11ea-8c7b-98bd405aee4d.jpg)

![Screenshot_20200312-225048_Chrome](https://user-images.githubusercontent.com/62095774/76518878-06407580-64b4-11ea-9f03-22f6d145f2f8.jpg)

Attached are screen shots for my previous comments.

In addition, if a user has purchased a product, they appear in the

[2020-03-12 12:00] peterfabian commented on #25854
another report here: https://wordpress.org/support/topic/no-shipping-options-to-canada-uk-new-zealand/

I think it needs to be changed...

[2020-03-12 12:13] peterfabian commented on #25895
More reports here: https://wordpress.org/support/topic/can-not-update-my-database/

[2020-03-12 12:20] peterfabian commented on #25881
Also, the wording could be improved to avoid confusing users: https://wordpress.org/support/topic/external-redirect-deprecated/

[2020-03-12 13:43] LesleyEliz877 opened #25899 "No Shipping Options available for AK & HI"
At some point not too long ago WooCommerce stopped allowing our customers in Alaska and Hawaii shipping options in our store. I have attempted to delete and start over our shipping zones, rate tables, adding additional shipping zones and rate table but have been completely unsuccessful at figuring out why we no longer have shipping options for only these two states. No other state is having an iss

[2020-03-12 13:54] jacoswan opened #25900 "Product Images » Main Image Width not visible nor otherwise adjustable"
**Describe the bug**
In Customize » WooCommerce » Product Images, there should be Main Image Width options, for themes that do not declare image widths.
However, the TwentyXX themes do not declare widths, so you'd expect to see the option.
Yet they also do not have the Main Image Width options available, like due to support declared in [class-woocommerce.php](https://github.com/woocommerce/woocomm

[2020-03-12 14:05] uok commented on #25899
maybe related: #25834

[2020-03-12 14:07] uok commented on #25897
why don't you update to Woo 4.x?

[2020-03-12 14:15] LesleyEliz877 commented on #25899
Thank you uok, I have read through this and I do not believe it is related. We have are selling to and shipping to set to United States, shipping zones and rate tables set for United States

![image](https://user-images.githubusercontent.com/62104373/76530490-2cc9c680-644a-11ea-9a69-4b7f314a4d2f.png)

We have tried the locations not covered by your other zones set up and it still did not work. I t

[2020-03-12 14:32] rrennick commented on #25895
@davidcommarmond Can you reproduce this in an install with only WC active?

[2020-03-12 14:47] rodrigoprimo commented on #25073
@juliaamosova yes, it is possible to include the WooCommerce version, but to be honest I don't see much value in doing that. Why do you think including the WooCommerce version will help users?

I do think including the latest extension version number could help. I'm happy to include it if any of you have any suggestions on how to phrase the message including the extension version number.

[2020-03-12 14:54] dougaitken commented on #25895
Same error in 19353630-hc - no cause or fix yet

[2020-03-12 15:02] relinnstest opened #25902 "Discount not applied on edit subscription"
We are implementing subscription base product items, When we are placing an order, a discount coupon is applied on the subscription.
The problem is when we are editing the existing subscription (add items or change quantity of items) then the discount is not updated and the coupon remains the same as at the time of new subscription.

[2020-03-12 15:12] rodrigoprimo commented on #25073
I created PR #25904 to address this issue. For now, it is marked as in progress. The only thing remaining is a decision on the phrasing of the message.

[2020-03-12 16:35] stephhjacq commented on #25073
Thanks for this @rodrigoprimo
After discussing this with @jessepearson we've updated the message to emphasize that it's the currently installed version which is not tested:

`Installed version not tested with the active version of WooCommerce (update is available)`

or, if we can fit/automate the version number in there:

`Installed version not tested with active version of WooCommerce 4.0.0 (upda

[2020-03-12 16:49] davidcommarmond commented on #25895
@rrennick no I can't
I tried to clone the production site to staging as well on WPE and. did the upgrade just after cloning it, but it didn't produce the error on the staging clone after updating, which is strange...
Only happening with the production site...

[2020-03-12 16:50] juliaamosova commented on #25899
Hi @LesleyEliz877,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported. Everything is working as expected on my end.

My shipping settings:

<img width="1434" alt="Screen Shot 2020-03-12 at 12 45 40 PM" src="https://user-images.githubusercontent.com/19143190/76545107-91dbe700-645f-11ea-8696-505c47f40465.png">

Here I am getting shipping methods for Alaska:

<img

[2020-03-12 16:55] juliaamosova commented on #25902
Hi @relinnstest,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the WooCommerce Subscriptions plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact the WooCommerce helpdesk by [opening a ticket

[2020-03-12 16:55] #25902 closed

[2020-03-12 16:57] stevegrunwell opened #25905 "Guidelines around refactoring of the PHPUnit test suite?"
It seems that the PHPUnit test suite around WooCommerce core could use some love, particularly with regards to organization, naming, accidental v intentional test coverage, and fixture usage.

If it's okay with the core team, I'd like to start submitting a series of small PRs to refactor the current test suite, using the following practices:

1. Try to create parity between source and test files —

[2020-03-12 17:00] rodrigoprimo commented on #25073
Thanks, @stephhjacq, and @jessepearson. I like your suggestion, especially the first version. As I mentioned above I don't see what is the value of adding the WooCommerce core version number but I could be missing something.

[2020-03-12 17:02] rrennick commented on #25895
@davidcommarmond Might it be related to object caching or similar?

[2020-03-12 17:05] LesleyEliz877 commented on #25899
![image](https://user-images.githubusercontent.com/62104373/76546552-19c2f080-6462-11ea-813a-1b7d74611653.png)

I will try to disable the plugin for advance free shipping and see if that makes a difference.

[2020-03-12 17:10] stephhjacq commented on #25073
Thanks @rodrigoprimo

I've just seen this other notice on my site as well - would this be covered by the same PR?

![https://d.pr/i/Yc2STI](https://d.pr/i/Yc2STI+)
Full Image: https://d.pr/i/Yc2STI

[2020-03-12 17:10] LesleyEliz877 commented on #25899
![image](https://user-images.githubusercontent.com/62104373/76546962-c3a27d00-6462-11ea-9173-7af19bf84638.png)

I disabled the advance shipping plugin and am still getting the same message for AK & HI

[2020-03-12 17:19] rodrigoprimo commented on #25606
I agree that this is confusing and we need to do something about it, but I'm not sure what is the best way to fix it. Some ideas bellow to help whoever ends up working on a fix for this.

The privacy page is created by WordPress and not WooCommerce. WooCommerce extends this feature and let shop managers define things such as a registration privacy policy notice that normally points to the privacy

[2020-03-12 17:22] rodrigoprimo commented on #25073
No, this notice is generated in a different part of the code. Happy to hear your thoughts on improvements to it as well.

[2020-03-12 17:46] pmcpinto commented on #25889
+1. Just for reference, that inbox notification it's the one with the best performance in terms of conv. rate.

[2020-03-12 18:31] juliaamosova commented on #25899
Thanks for the additional testing. Can you please disable Table Rate plugin as well. Basically, test with just WooCommerce activated.

[2020-03-12 18:35] juliaamosova commented on #25889
Thanks for the feedback @timmyc @pmcpinto! Looks like we should include it in 4.1. I am changing the priority to `high` and copying @vedanshujain as he is a Release Lead for 4.1.

[2020-03-12 18:51] juliaamosova commented on #25073
@rodrigoprimo thanks!

I like the idea of including the version number of the installed plugin as well as it will add more clarity to what version is being used.

Regarding adding version number for active version of WooCommerce, I think it also adds clarity - meaning, by looking at the notice, it is immediately clear what version of the plugin is being used and what version of WooCommerce is bein

[2020-03-12 19:22] WPprodigy commented on #18045
Right but the thing is - global attributes is the wrong approach for data like that. It's data that only relates to a single object, there's no need for it to be global.

This would be similar to creating a new category for every post you create on a news site.

[2020-03-12 19:31] juliaamosova commented on #25897
Hi @marconett,

bugfix releases, only security releases, no new updates at all?

These are good questions to ask. Currently, we have only one stream of development, so no fixes, even security ones will be released for any 3.X versions. Even if we released 3.9.4, most people would never see it in their plugin page, as 4.0 is newer.

We will be releasing any bug fixes and security updates in 4.X ver

[2020-03-12 19:31] #25897 closed

[2020-03-12 20:10] juliaamosova commented on #25900
Hi @jacoswan,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I indeed see that TwentyTwenty doesn't declare WooCommerce support. Therefore, we should be displaying the `Main image width` section.

TwentyTwenty's `functions.php` where WooCommerce support would be declared (but it is not):

https://github.com/WordPress/WordPress/blob

[2020-03-12 20:26] juliaamosova commented on #25896
Hi @tyrann0us,

Thank you for taking the time to share this idea, we really appreciate your help. Given the circumstances, it makes sense to me to show customer's details of guest users on the Thank you page again. However, I will add a label `question` to this issue so we could discuss it further with the WooCommerce Core team.

Stay tuned for updates.

[2020-03-12 20:50] itsgauravjain22 commented on #18045
The product attributes data has two parts. It's name and it's vales. The value part is unique for each product (single object you referred). But the name part can be global, which I believe text product attributes are useful for. Handling of such text type product attributes could be extended in other way that woocommerce currently handles multiselect global product attributes. It's just like we'r

[2020-03-12 21:02] WPprodigy commented on #18045
A global attribute is it's own taxonomy (think categories, tags, etc). And the individual names are terms. You can't do one without the other. Creating a new taxonomy just to have a standardized field title is the architectural problem I'm referring too.

Instead, this sort of value (isbn) should likely just be postmeta - connected to the one object. Could have a custom field anywhere in the admin

[2020-03-12 21:30] itsgauravjain22 commented on #18045
Thanks @WPprodigy to point in the correct direction. `post_meta` is the term I should use in previous comments. Does it makes sense if woocommerce have graphical interface to register new `post_meta` when user creates text type global product attribute.

[2020-03-12 21:36] WPprodigy commented on #18045
I don't think it's a great place for WC core to handle - namely it adds more confusion to the attribute landscape.

To a degree, I'd imagine most shops can just rely on the correct title being entered for custom product attributes. After all, there is nothing stopping a typo from being entered into the value (ISBN number). And with CSV exports/imports this could be extra checked over.

If a store

[2020-03-12 21:39] Updula commented on #25895
I'm facing the same issue, even with all plugins and themes deactivated + without object cache.

Runs almost every minute!

`2020/03/12 21:33:29 [error] 3227#3227: *259635 FastCGI sent in stderr: "PHP message: خطأ Table 'redshirtsstore.a' doesn't exist في قاعدة بيانات ووردبريس للاستعلام SELECT a.action_id FROM a WHERE a.hook='action_scheduler/migration_hook' AND a.status='in-progress' ORDER BY sch

[2020-03-12 21:49] itsgauravjain22 commented on #18045
Yes you're right that typo won't affect low sku store. But for high sku store it's a pain. The main reason behind having fixed named text products attribute to have consistent data over wc Rest API. The rest API client need to know about product attributes names. And usually attributes names are not modified, but their values are.

[2020-03-12 21:56] strarsis commented on #25738
@astralbodies: Thank you for your answer.
So this means that currently there is no option in JetPack/WordPress.com to set the user that should perform the WooCommerce API actions on the site and that the JetPack support has to set one on demand? Is it planned to add such an user option to JetPack?

[2020-03-13 05:57] LevinMedia commented on #25585
On second thought, That's not going to work. Using the controls that @gary has proposed and splitting the categories and products into two sections would present new issues.

Say the categories per row were set to four, and the rows of categories were set to two. That gives you eight categories to display on the page. This is fine if the store has eight categories or less... but what if that store

[2020-03-13 06:05] lionhurt opened #25907 "Undefined Variable placeholder in quantity-input.php template"
**Describe the bug**
[13-Mar-2020 05:49:30 UTC] PHP Notice:  Undefined variable: placeholder in /home3/.../wp-content/plugins/woocommerce/templates/global/quantity-input.php on line 44
[13-Mar-2020 05:49:30 UTC] PHP Notice:  Trying to get property of non-object in /home3/.../wp-includes/link-template.php on line 335
[13-Mar-2020 05:49:30 UTC] PHP Notice:  Trying to get property of non-object in /.

[2020-03-13 06:31] rrennick commented on #25895
@Updula Your error messages are not the same as the others reported in this issue. Please do a conflict test https://docs.woocommerce.com/document/how-to-test-for-conflicts/ and create a new issue if you still have the issue with no other plugins active on a default theme.

[2020-03-13 08:48] streamworksaudio opened #25909 "Critical error with new Action Scheduler Package"
I did not notice this last night when I first install WC 4 on my test virtual machine, but today I am getting some strange errors with the Action Scheduler package whenever I visit the Scheduled Actions in WooCommerce or even the WordPress Seceduled Actions page.  Here is the error that is put into the log file....

Stack trace:
#0 /var/www/html/wp-content/plugins/woocommerce/packages/action-sched

[2020-03-13 09:16] peterfabian commented on #25809
Thanks for reporting back and apologies for the trouble.

One thing that might help: there was a bug with ActionScheduler screen in WooCommerce > Status, so the actions _should_ run if you trigger them instead from WP menu Tools > Scheduled Actions. That way you should be able to finish the db upgrade (or any other action that seems stuck). We're [working on a fix for this already](https://github.

[2020-03-13 09:41] MartaPawlonka opened #25910 "[WC 4.0] Shipping methods are not showing in the checkout, because of State/County"
**Describe the bug**
In the latest version, WC 4.0 has been added condition if the country has a state/county. If so, the shipping method is not showing when the field is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the flat rate for Bulgaria in the shipping method.
2. Go to the checkout page.
3. Choose Bulgaria.
4. The flat rate method is not showing. I need to choose State/Co

[2020-03-13 09:42] peterfabian commented on #25907
Hi @lionhurt ,

thanks for reporting, but I was unable to reproduce this problem. The default array of variables in function `\woocommerce_quantity_input` includes the `placeholder`, so maybe there's another plugin filtering it out. Can you please try to troubleshoot this with only WooCommerce plugin active?

[2020-03-13 09:46] gbruzzo opened #25911 "We would like to disable Woocommerce Admin in v 4.0"
Hello all

in https://wordpress.org/support/topic/this-plugin-uninstalled-and-delete-but-still-showing-analytics-and-functionality/

it is suggested that

`add_filter( 'woocommerce_admin_disabled', '__return_true' );`

is the filter to be added to functions.php  It does not seem to currently work though.

We are certainly interested in the plugin's development, but are currently using external / R

[2020-03-13 09:48] peterfabian commented on #25909
Hi @streamworksaudio

thank you for reporting the problem and apologies for the issues. Since ActionScheduler is now an integral part of WooCommerce, there isn't an easy way how to disable it, as the WC code sometimes expects some queue processing system to exist. We have seen similar reports and are [looking into the issue over at the Action Scheduler repository](https://github.com/woocommerce/ac

[2020-03-13 09:48] #25909 closed

[2020-03-13 09:52] peterfabian commented on #25911
Hi @gbruzzo ,

Others seem to have used the filter successfully, so maybe there was some problem with the code line not being executed in the file where you put it? Also, please check you don't have the plugin installed/active in parallel with WC 4.0.

[2020-03-13 09:57] gbruzzo commented on #25910
Hi there

Premise : We are using a flat rate shipping plugin (WP Desk Flexible Shipping)
The issue can be reproduced with all shipping plugins (e.g. Flat Rate)

I can confirm the same bug on our staging installation.

**To Reproduce**
On cart, with Shipping Calculator
- Enter country, click update => no shipping
- Enter country, enter State, click update => shipping appears

On Checkout
- Enter co

[2020-03-13 10:03] peterfabian commented on #25910
Hi all, thanks for reporting! We're going to update this in the next release so that it behaves the same as with 3.9. Please follow ticket https://github.com/woocommerce/woocommerce/issues/25854 for progress.

I'm going to close this one as duplicate, but please feel free to comment here with any further findings.

[2020-03-13 10:03] #25910 closed

[2020-03-13 10:06] gbruzzo commented on #25911
Hi @peterfabian

Uh - will try switching off plugins and changing themes.

Very odd though, have tried running this early in functions.php as well, with not changes (Analytics still appears in admin).

Let me try and report back.

[2020-03-13 10:08] gbruzzo commented on #25809
Hi @peterfabian

we use Siteground VPS (2CPU/4GB) so quite solid.

Staging site is setup via Softaculous

Let me delete the staging site reinstall and try your suggestions.

Will revert as soon as done.

[2020-03-13 10:27] gbruzzo commented on #25809
Hi @peterfabian

New staging site, new upgrade to WC 4.0 via regular plugin upgrade (plugins page).

Update successful, did not require any nudge (I was observing the actions being triggered from Tools -> Scheduled Actions)

Glad, but confused.

[2020-03-13 10:36] gbruzzo commented on #25911
Hi @peterfabian

- just reinstalled the staging site, upgraded to 4.0
- installed Storefront
- deactivated all plugins but WC

added

`add_filter( 'woocommerce_admin_disabled', '__return_true' );`

to functions.php

and nothing happens - e.g. the Analytics tab and functionality are still visible in Admin.

Can you test on your side?

Cheers

[2020-03-13 10:55] webcrashpilot opened #25912 "Shipping to Switzerland doesn't show up when optional field is not filled in"
**Describe the bug**
After update to woocommerce 4.0 the field "billing_state" is mandatory for customers in Switzerland (checkout page where customers have to fill in the address). Only for customers in Switzerland but not for customers in Germany, Austria etc. If the field is not selected the customer gets the message "shipping method not selected".

Second problem, even if the required field fo

[2020-03-13 11:23] gbruzzo commented on #25911
Hi @peterfabian

update - managed to make it work as plugin as per
[Plugin](https://gist.github.com/joshuatf/006111b6f43c3ab3d2cad39e3443822b
)

Now we know we can disable the admin (though not the extra tables).

Will keep monitoring development

[2020-03-13 11:42] jameskoster opened #25913 "Remove color overrides applied to core ui elements"
To make WooCommerce feel like a seamless part of the broader WordPress UI, and to better respect user preferences we intend to remove unnecessary applications of color, and be more intentional with our branding. More info in p6riRB-5na

Here's a list of elements I found that will need updating:

# On-boarding
* Button styling should match core. IE use the `$button-color` and `$button-text-color` v

[2020-03-13 12:09] vijayhardaha commented on #25845
Ok, Thanks.

[2020-03-13 12:09] #25845 closed

[2020-03-13 12:36] astralbodies commented on #25738
@strarsis Jetpack requires an administrator to make the first connection to WordPress.com. That account is like the site owner for the connection. If you have additional wp-admin users that wish to use the app, they can log into wp-admin and connect Jetpack to their own WordPress.com account. When they log into the Woo app with their WordPress.com credentials, then the actions performed through th

[2020-03-13 13:17] ettoredn commented on #25820
You are absolutely right. I may have been misled by some comment on the default template hooks.

[2020-03-13 13:17] #25820 closed

[2020-03-13 13:34] strarsis commented on #25738
@astralbodies: When I remove and re-add a JetPack account to another WordPress user,
does the app owner have to re-authenticate with JetPack? I would like to avoid this.

[2020-03-13 13:39] astralbodies commented on #25738
I'm not entirely sure what the experience will be on the app side if you switch which wp-admin user is associated with a Jetpack/WordPress.com account. I believe the app shouldn't care much as long as there is a valid connection.

More about the Jetpack Primary User: https://jetpack.com/support/primary-user/

[2020-03-13 14:04] peterfabian opened #25914 "Google schema not working properly"
Hello,
On version 4.0.0 you have added the missing “bestRating” and “worstRating” params to structured schema data. #25667.
But is not working properly. After testing them using Google´s structured data testing tool, we realized that many products with multiple reviews gets the following message: “Your rating value was out of the default range, you must provide best and worst values”.
For example,

[2020-03-13 14:15] djwilko12 commented on #25914
Hope you can solve this ASAP!

[2020-03-13 14:20] juliaamosova commented on #25820
No worries and thanks @ettoredn!

[2020-03-13 14:37] rrennick commented on #25895
Action Scheduler PR https://github.com/woocommerce/action-scheduler/pull/492

[2020-03-13 14:53] Aljullu opened #42680 "Merge the markup from atomic/blocks/product-elements/ with base/components/cart-checkout/"
Initially discussed in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/1959#discussion_r391842881.

We have very similar components in `atomic/blocks/product-elements/` (used for the _All Products_ and _Single Product_ blocks) and `base/components/cart-checkout/` (used for the _Cart_ and _Checkout_ blocks). This issue is about moving the markup from Atomic blocks to indepe

[2020-03-13 15:11] Delphinworks opened #25915 "Back to product categories disappears"
**Describe the bug**
After working within a product category the "back to categories" button near top disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'product categories'
2. Click on 'customize category'
3. SAVE
4. Try to navigate back with <-- back to categories  ---- disappears

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behav

[2020-03-13 15:25] Updula commented on #25895
I have tried all of this with the support team. The AS keep trying to action `action_scheduler/migration_hook` and fail, then does it again and again until suddenly stops. (after 1500 runs)

The tables already exist in the DB. I have tried clearing all complete and cancelled actions which made things better for a sec, then it returned to run.

Host is Kinsta

[2020-03-13 15:31] juliaamosova commented on #25913
Thanks for the detailed rundown @jameskoster! Do you suggest we include this in 4.1? cc @vedanshujain.

[2020-03-13 15:43] juliaamosova commented on #25912
Hi @webcrashpilot,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

My shipping setup for Switzerland:

<img width="1434" alt="Screen Shot 2020-03-13 at 11 36 52 AM" src="https://user-images.githubusercontent.com/19143190/76636340-425cf000-651f-11ea-8e7c-3509b2eff773.png">

Checkout page - no state is selected for Switzerland (marked

[2020-03-13 15:46] timmyc commented on #25913
@jameskoster shared that he was going to open a similar issue for wc-admin... so thinking we should coordinate efforts on this one to ensure the updates all land in the same release to try and have the most unified UI possible.

[2020-03-13 15:49] juliaamosova commented on #25915
Hi @Delphinworks,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Screencast showing the issue - the notice actually appears for a brief moment but disappears after:

![](http://g.recordit.co/SNUAukuqun.gif)

We will try to include a fix for it in the next release.

[2020-03-13 16:01] webcrashpilot commented on #25912
Hi, thank you very much.

Kind regards,

Alexander

Von: Julia Amosova [mailto:notifications@github.com]
Gesendet: Freitag, 13. März 2020 16:44
An: woocommerce/woocommerce <woocommerce@noreply.github.com>
Cc: webcrashpilot <info@pfefferspray-store.ch>; Mention <mention@noreply.github.com>
Betreff: Re: [woocommerce/woocommerce] Problem after update to woocommerce 4.0 (#25912)

Hi @webcrashpilot <ht

[2020-03-13 16:22] peterfabian commented on #25915
I wonder if it's related to https://github.com/woocommerce/woocommerce/pull/25757..

[2020-03-13 16:35] EricaKuschel commented on #25895
Error also reported here - asking for more information about site set up: 2785749-zen

[2020-03-13 17:08] rrennick commented on #25911
The filter is called before the theme is loaded so it has to be added via a plugin.

[2020-03-13 17:43] rodrigoprimo commented on #25911
Thanks for sharing that you were able to disable WooCommerce Admin using the filter. Closing this issue since the problems was resolved.

[2020-03-13 17:43] #25911 closed

[2020-03-13 18:04] rodrigoprimo commented on #25905
Thanks for creating this issue, @stevegrunwell. Refactoring the unit test suite has been on my list for a long time and I didn't find time to move this forward. It will be great to have your help. We started implementing some of your suggestions in more recent tests, but it is nice to have someone working on organizing the suite as a whole. Looking forward for your PRs. Some comments bellow.

Not

[2020-03-13 18:20] #25876 closed

[2020-03-13 18:34] supremekalm opened #25917 "Woocommerce 4.0 not sending emails"
New orders, cancellations, etc.. Emails are not going to the customers, and not going to the admins neither.

## Prerequisites

- [ ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate
- [ ] The issue still exists against the latest `master` branch of WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [ ] I have attempted to

[2020-03-13 18:45] juliaamosova commented on #25917
Hi @supremekalm,

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end.

Here are the examples of admin and customer order emails I just received using 4.0 version:

Order email to customer:

![e1](https://user-images.githubusercontent.com/19143190/76650456-13ec0e80-6539-11ea-9895-7433abc267b7.jpg)

Orde email to admin:

![e2](https://user-

[2020-03-13 18:56] juliaamosova commented on #25894
Hi @titodevera,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Feel free to submit a PR if you like.

[2020-03-13 19:57] arufasari commented on #25895
So I work at a web hosting company, not sure if I'm allowed to place this here but I have encountered two clients with this issue. The only troubleshooting step that resolved the issue was installing WP Rollback and rolling back to version 3.9.3 from 4.0.

[2020-03-13 21:35] slaFFik opened #25918 "Import Products and Products nav menu"
**Describe the bug**

During products importing there is no submeny active, although "Products" parent menu is marked as active.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Products importing interface
2. Select sample-products.csv file that is shipped with WC 4.0
3. Start importing process
4. Check the "Products" admin area menu.

**Screenshots**

![image](https://user-images.gith

[2020-03-13 22:21] jesscga opened #25920 "WooCommerce Admin Dashboard not translating all German Translations"
**Describe the bug**
When the site language is set to German, some of the text in the dashboard (`WooCommerce > Dashboard`) appears in English.

**To Reproduce**
Steps to reproduce the behavior:
1. Set language at **Settings > General** to **Deutsch**
2. Go to **WooCommerce > Dashboard**

**Screenshots**
![WooDeutchDashboard](https://user-images.githubusercontent.com/19862549/76663306-f62da200-655

[2020-03-13 23:51] jessLundie opened #25921 "Variable Product: Cannot add multiple downloadable files to a variation"
**Describe the bug**
When setting up a variable product, multiple downloadable files will not save on a virtual & downloadable variation. Only one is saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Products > Add New
2. Create a Variable Product (also affects Variable Subscription Products)
3. Create a single attribute & generate variations from that attribute
4. Mark a variatio

[2020-03-14 01:48] fkoomek opened #25922 "Closing gallery triggers link behind"
## Prerequisites

- [ x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate
- [ x] The issue still exists against the latest `master` branch of WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [ x] I have attempted to find the simplest possible steps to reproduce the issue
- [ ] I have included a failing test as a pull requ

[2020-03-14 10:58] omidhajivali commented on #25921
I've also encountered this problem after updating Woocommerce, even after disabling plugins, and following the steps above
what's the solution?

[2020-03-14 13:50] lifeforceinst opened #25924 "WC 4.0 admin dashboard and images fail to load"
### After loading WooCommerce 4.0 on a local test platform - **_what a non-functional mess._**

Running WordPress 5.3.2., I immediately loaded the default theme of Twenty20 and disabled all the plugins except WooCommerce.  I set a default .htaccess and and clearing all browser caches - but still there were issues.

This occurs for the dashboard, customers and analytics, as you can see in some of t

[2020-03-14 14:33] gilesholder opened #25925 "Irregularity in classes for filters on products overview page"
**Describe the bug**
The following filters on the products overview page all have the same class except filter by category which uses a different class.

The input:select for: Bulk Actions, Filter by product type, Filter by stock status & Brand (WC Brands installed) all no CSS class so inherit default WP styling.

However the input:select for: Filter by category has a class "class="select2 select2

[2020-03-14 21:45] claireeisel commented on #19008
@gioscot can you tell us what plug in it was? I am having this same issue with my site and not sure how to fix it :(

[2020-03-15 05:48] roymckenzie commented on #25199
Wondering if someone might point me to the right direction where I might be able to manually override this for now? With the Coronavirus here in Montana, we have to switch to online ordering to avoid spreading infection. The tax calculation for our order is off. I am open to creative solutions. Thanks!

[2020-03-15 08:53] Lahcen43 commented on #22706
@mikejolley Please include this in the next updates this is definitely necessary!

[2020-03-15 14:55] jaykhandelwal commented on #15671
If you are using https://getquick.link/ by just adding it to the **head** then this can cause the same issue aswell, so instead of adding the script in head you can use its plugin

https://wordpress.org/plugins/quicklink/

[2020-03-15 14:57] jaykhandelwal commented on #15671
If you are using https://getquick.link/ by just adding it to the **head** then this can cause the same issue as well, so instead of adding the script in the head you can use its plugin

https://wordpress.org/plugins/quicklink/

[2020-03-15 15:23] jackscoast commented on #21835
Did anyone get the answer to this? Driving me crazy nothing works and I'm loosing business

[2020-03-15 15:25] jackscoast opened #25926 "County/State field will not give a dropdown for customer to choose address"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate
- [x] The issue still exists against the latest `master` branch of WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue
- [ ] I have included a failing test as a pull request

[2020-03-15 15:27] jackscoast commented on #25926
When the customer goes to my site to buy a voucher and enters their address the option to click on the County/State field and choose county they live in is not working

[2020-03-15 16:31] jessepearson opened #25927 "PHP Notices with Flat Rate shipping"
**Describe the bug**
PHP Notices logged when Flat Rate shipping is used with _N/A_ in costs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WooCommerce > Settings > Shipping
1. Then go into a zone and add Flat Rate if not already added
1. Click the method to open it, make sure at least one shipping class has an _N/A_ cost, then save
1. Check debug.log for notices

**Screenshots**
Exam

[2020-03-15 16:33] amandasjackson opened #25928 "Advanced Shipping costs for Flat Rate that include parenthesis, results in an error"
**Describe the bug**
Adding an advanced cost to the core Flat Rate shipping method, that includes parenthesis, results in an error, and cannot be saved.

![Screenshot](https://d.pr/i/kAqVri+)
Screenshot direct link: https://d.pr/i/kAqVri

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **WooCommerce>Settings>Shipping>Shipping Zone**
2. Click on the Flat Rate shipping method
3. Scroll do

[2020-03-15 16:36] amandasjackson commented on #25928
Reported in 2788015-zen

[2020-03-15 16:55] EmranAhmed opened #25929 "meta-boxes-product-variation.js file get_variations_fields function issue"
File location: `/woocommerce/assets/js/admin/meta-boxes-product-variation.js`

In previous woocommerce version `get_variations_fields` data was returned with jQuery `serializeJSON()` method but in this version (4.0) it generate input name and assign with associate value which actually doesn't work nested input name and value.

Seems there is a input name like
`<input name="_wc_variation_file_names

[2020-03-15 17:02] EmranAhmed commented on #25921
It's a bug from `meta-boxes-product-variation.js` file `get_variations_fields` function. Previous version return input datas with jQuery `serializeJSON()` but this version changed that function which doesn't work nested form input name.

[2020-03-15 21:46] Carlinhuuh opened #25930 "try to add countdown after single product summary"
Hi! I’ve try everything to change my product page but cant see another option.
So, lets understand my problem:
i need add after button cart the countdown, but i dont know how!

Can anyone else help me?

The page I need help with: https://testeclientes.com.br/produto/huda-new-nude/

The code is: `/** excerpt position change **/
add_action( 'woocommerce_after_single_product_summary', 'woocommerce_te

[2020-03-16 02:30] albertjtrevino commented on #25921
I have experienced this bug after updating to the 4.0 WooCommerce.  We have audio products that have multiple download files per product.  It allows me to add in the links and naming them, then after clicking save, it all goes away expect for the last one entered.  Was literally working fine right before the update.

[2020-03-16 02:35] mouligreenlaw commented on #25921
Another report 17842205-lc

[2020-03-16 04:14] e-holmarc opened #25931 "Price display suffix changed to "GST" not working.... in cart and check out page showing VAT"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain you

[2020-03-16 04:46] jkohlbach commented on #25852
Could we bump the priority on this? It's causing support issues.

[2020-03-16 08:06] ntindicator opened #25934 "Attributes not updating for existing products by csv"
## Prerequisites

- [x ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate
- [ ] The issue still exists against the latest `master` branch of WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [x ] I have attempted to find the simplest possible steps to reproduce the issue
- [ ] I have included a failing test as a pull reque

[2020-03-16 09:15] jameskoster commented on #25913
https://github.com/woocommerce/woocommerce-admin/issues/3897

[2020-03-16 10:13] Jeppeskovsgaard commented on #23594
@claudiosanches
Is there a way to just disable packages/woocommerce-blocks/build/style.css instead of any block style, as you mentioned? I can't find a hook for that.

[2020-03-16 10:19] matteopadovanbox commented on #25854
Same problem here in our ecommerce www.fortuny.shop.
Before the latest Woocommerce update everything worked fine, now it's necessary to fill all the address fields in the checkout in order to display the shipping cost.
It's very time consuming both for the compay's employees, that quickly need shipping prices for quotations, and for the website users that want to know the amount of shipping costs

[2020-03-16 11:54] marcochiesi commented on #25920
I confirm the same bug for Italian as well.

[2020-03-16 12:14] zstran95 commented on #25843
I get an error when creating a variation product that disappears without saving the product

[https://www.upsieutoc.com/images/2020/03/16/Annotation-2020-03-16-190339.png](url)

[2020-03-16 12:54] rrennick commented on #25920
For translations downloaded via the plugin repository, the translation files are from https://translate.wordpress.org. Are you using your own translation files or downloaded the translated version?

[2020-03-16 13:49] juliaamosova commented on #25852
@jkohlbach there is already PR open to fix this issue: https://github.com/woocommerce/woocommerce/pull/25874 - pending author's feedback. At this point, the priority doesn't matter anymore. The issue will be fixed as soon as the author of the PR will address comments. Once done, we will then include the fix in the next available release.

[2020-03-16 13:54] juliaamosova commented on #25843
https://www.upsieutoc.com/images/2020/03/16/Annotation-2020-03-16-190339.png

@zstran95 the issue you are reporting is different from the one reported here. Please open a separate issue if needed as it won't be addressed in this tread. Please make sure you test properly before opening the issue and confirm there is no theme or plugin conflict.

[2020-03-16 14:05] marcochiesi commented on #25920
I am using the translation files downloaded automatically from https://translate.wordpress.org. It seems that the plugin is not loading the translations properly, as the translated text appears to be in place inside the downloaded ".po" files. As far as I can see this issue only occurs in the new "WooCommerce Admin" interface, while all the other translations in the backend are fine.
P.s. By the w

[2020-03-16 16:21] rrennick commented on #25920
I'm not clear on how the plugin installer installs translation files, but .po files are not used to deliver translations. In WP, PHP translations use `.mo` files & javascript uses `.json` files.

I downloaded the Italian zip and it only has the .po file. In your install these files will be located in `wp-content/languages/plugins/`. The `.mo` file is probably `woocommerce-it_IT.mo` and the `.json`

[2020-03-16 17:19] rrennick commented on #25920
After thinking about this I realized this is the same issue I addressed in WC Admin in https://github.com/woocommerce/woocommerce-admin/pull/3433.

[2020-03-16 18:48] rwaynick commented on #25928
Another report in 2793905-zen

[2020-03-16 20:13] andreaguerra80 commented on #25895
I too have the exact same error.
I can no longer add photos to the products in my catalog and this is causing me a lot of damage.

How should I go about solving?
I deactivated all the plugins but nothing to do, I deactivated the theme but nothing.

This is the error log, I put the xxxxx instead of the name of the database and the site.

2020-03-15T18:08:03+00:00 CRITICAL Uncaught RuntimeException:

[2020-03-16 20:25] GlennMartin1 commented on #25895
FWIW, this issue https://github.com/woocommerce/woocommerce/issues/25862 also happened on WP Engine.

After the initial error, and reactivating WooCommerce, there were no further symptoms that I noticed.

[2020-03-16 20:27] nattila1 opened #25937 "On order item update "on backorder" mete is not updated"
**Describe the bug**
When a product is allowed for backorder, on a successful order a "Backordered" meta value is saved to the order item. It contains the number of items should be backordered. In case if the item is not available from stock, but three items were ordered value of this meta will be 3, etc.
In case if the number of order items is modified in the admin during the order processing, va

[2020-03-16 20:36] saltadmindev commented on #25928
Yes, confirm this bug. Default Wordpress, Woocommerce and WooCommerce Conditional Shipping and Payments 1.7.5

[2020-03-16 21:23] vzeazy commented on #25854
The patch is here:
https://github.com/woocommerce/woocommerce/pull/25916/commits/8c0f4a1204c6f487811f3853e83904d1a30022ac

A small adjustment to includes/class-wc-shipping.php

Hopefully this is going to be in the next release. For those with issues now, manual application resolves the issue :)

[2020-03-16 21:50] rrennick commented on #25895
@andreaguerra80 install https://github.com/woocommerce/action-scheduler/archive/3.1.3.zip using the plugin installer. Once it's active, go to Tools -> Scheduled Actions. You should see a notice indicating that it attempted to create the tables for you. Once you update to WC 4.0.1 you can remove the plugin.

[2020-03-16 22:00] andreaguerra80 commented on #25895
I did what you told me I see this

https://prnt.sc/rhfvdl

it's correct?

[2020-03-16 22:04] andreaguerra80 commented on #25895
now I see this message after updating the page, is it correct?

https://prnt.sc/rhfx4m

[2020-03-16 22:20] FritzHerbers opened #25939 "Order status should be configurable for new orders"
**Is your feature request related to a problem? Please describe.**
Incoming orders via PayPal Express Checkout occasionally (customers cancels payment) arrive in the status Pending-Payment. Orders via BACS arrive in the status On-Hold.
Orders in the Pending-Payment state can be paid on my-account/order page. On-Hold orders do not have a Pay button, therefor the customer doesn't have the ability to

[2020-03-16 22:26] Ismail-elkorchi opened #25940 "Impossible to import historical data"
**Describe the bug**
Trying to import Historical Data results in this error : "No route was found matching the URL and request method". Moreover, the console shows that Browser tries to `GET` a `URL` that doesn't exist : "/wp-json/wc-analytics/reports/import/?skip_existing=true&_locale=user "

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Setting in the Analytics section
2. Scroll dow

[2020-03-16 22:41] rrennick commented on #25895
If you refresh the screen is the message still shown?

[2020-03-16 23:49] tammullen commented on #25922
Hi @fkoomek

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end using Chrome 80 on Android 10. I wasn't able to reproduce it using a reduced or mobile simulated viewport on Desktop Chrome 80 on MacOS.
​
![SVID_20200316_233437_1 2020-03-16 23_43_08](https://user-images.githubusercontent.com/24649833/76808659-4ff4cd00-67e0-11ea-9c74-40ab132

[2020-03-17 00:45] imapious opened #25941 "No Error Messages in Login & Register"
**Describe the bug**
Hi, I just updated my woocommerce to V 4.0.0 and found out that there is no Error messages being displayed when trying to submit in register & login with no value in the fields.

**Screenshots**
![image](https://user-images.githubusercontent.com/32483941/76811165-8ad02280-682b-11ea-9dcf-66e0d6b91975.png)

**Expected behavior**
There should be error message on top of the form

[2020-03-17 00:47] jorgeatorres commented on #25928
Another report in 2794562-zen.

- - -

This seems to be the same as #25927. It is not specific to parenthesis, though; it is just a coincidence that removing parenthesis sometimes helps.

I did some digging and the bug was introduced in https://github.com/woocommerce/woocommerce/commit/3b5e44ccf1700ec8ca4d335371a5d19959b3da67 (WC 3.9.4), which added to the "cost" field validation an attempt to exe

[2020-03-17 01:12] PascalBG commented on #25669
Again same problem! Updated to 4.0.0
Exactly same problem.
Deleted functions.php in child theme and could reach the site again.
In the admin I found out woocommerce indeed was updated BUT not activated. So I activated it, everything works fine after db update
Uploaded functions.php again and everything working.

[2020-03-17 01:51] clongatojr commented on #25924
I´m having the same problem. Nothing shows and after a few page loads Sucuri kicks me out of my own website.
This doesn´t happen with older versions of Woocommerce.

[2020-03-17 04:11] Updula commented on #25895
@rrennick It did the above too but it created 3 tables now only wp_actionscheduler_logs is missing yet it is still attempting for a while now

[2020-03-17 04:25] Updula commented on #25895
@rrennick Please note I have manually dropped the previously created AS tables so I can trigger the new recreation. Should have not done that?

[2020-03-17 05:28] Updula commented on #25895
@rrennick I had to manually export/import the logs table (empty) and issue is fixed. Actions are running with no notices.

Bad practice but at least it worked

[2020-03-17 06:29] mohitmishra-cedcoss commented on #25941
Hello, @imapious I have checked your issue and everything is working at my end.I think you are using the Divi theme that's why you are not getting this error. Please switch to the storefront updated version. Then everything is works well.

[2020-03-17 08:24] marcochiesi commented on #25920
Here's the list of files I have in `wp-content/languages/plugins/`:

[code]

[2020-03-17 08:59] peterfabian commented on #21835
Hi @jackscoast , have you tried to resolve potential conflicts with other plugins and your theme? Please open a new issue with steps to reproduce and your system status report so that we can try to reproduce it on our end.

[2020-03-17 09:10] damiannep commented on #25928
Another report in 2793140-zen

[2020-03-17 09:17] andreaguerra80 commented on #25895
Hi also to me did not create the table _actionscheduler_logs

how to do?

[2020-03-17 09:18] tammullen commented on #25940
Hi @Ismail-elkorchi

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-03-17 09:20] tammullen commented on #25930
Hi @Carlinhuuh

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide]

[2020-03-17 09:20] #25930 closed

[2020-03-17 09:22] tammullen commented on #25926
Hi @jackscoast

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further. In this instance please be sure to give us an example of the country you are seeing this happening for.
​
**Describe the b

[2020-03-17 09:27] tammullen commented on #25941
​Hi @imapious

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end.

I believe @mohitmishra-cedcoss is correct that is is related to the theme you are using.

Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and swi

[2020-03-17 09:33] tammullen commented on #25931
Hi @e-holmarc

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-03-17 09:43] matteopadovanbox commented on #25854
After another user suggested to me the following solution, I solved the problem:
https://wordpress.org/support/topic/shipping-zones-requiring-states/#post-12550750

You'll have to update the **woocommerce\includes\class-wc-shipping.php** file with the following code at line 287:
`public function is_package_shippable( $package ) {
	if ( empty( $package['destination']['country'] ) ) {
		return true;

[2020-03-17 09:52] rodolphebertozzo opened #25944 "Dark Mode"
Many of your users work at night and long hours to update stocks, products, ... which implies a long time behind the screen. Now, I wanted to know if you plan in the next months to implement a dark mode on the different parts of Woocommerce, where you can ?

[2020-03-17 10:42] odedta opened #25945 "Hard to remove customer from order"
**Describe the bug**
I'm trying to test some things and I need to remove a contact from an order but I have to click all around the x button until I manage to a spot that works.

I recorded a video
https://www.loom.com/share/3d9f1a0b5c514a8a83d2c58168abb48c

Thanks

[2020-03-17 11:00] peterfabian commented on #25924
Hi @lifeforceinst , thanks for reporting the issue and apologies for the problems you've encountered. What version have you tried to update from or what exactly do you mean by 'loading WooCommerce 4.0 on a local test platform'? We can only fix the problem if we manage to reproduce the problem ourselves, so the more details you provide us with, the better chance of fixing the issues we have. Thanks

[2020-03-17 11:44] peterfabian commented on #25669
Hi,

I'm not exactly sure how this happens on your site, but at some point, the code you added runs before WooCommerce is active. The `gettext` filter is a very broad filter that runs for every string on your site, thus it can happen that in some special circumstances, it runs before WC is active (even though, in general, themes should be loaded later than the plugins).

If you want to avoid this,

[2020-03-17 12:09] lifeforceinst commented on #25924
A local test platform, means rather than applying the change on a production system, as advised, I have tested the new WC 4.0 on a test platform.  You can see detail of the environment above.

The system was running WC 3.9.3 and WP 5.3.2 happily.  I then upgraded WC to 4.0 and ad detailed above things are broken.  If you see the images - they show examples of the pages which are broken.

[2020-03-17 12:57] peterfabian commented on #25809
I'll close this issue now. Please feel free to comment here or create a new issue if you find steps to reproduce any problem. Thanks.

[2020-03-17 12:57] #25809 closed

[2020-03-17 13:14] #25854 closed

[2020-03-17 13:32] #25441 closed

[2020-03-17 13:34] tobiasfeistmantl opened #25947 "Uncaught Exception on WPMU"
**Describe the bug**
I get an "Uncaught Exception" error on an individually activated site in a WordPress Multisite Network.

Here the full error:

[code]

**Isolating the problem (mark completed items with an [x]):**
- [ All individually activated ] I have deactivated other plugins and confirmed this bug occurs when only WooCommerce plugin is active.
- [ x ] This bug happens with a default WordPr

[2020-03-17 13:48] rrennick commented on #25895
@Updula sorry, that has been fixed in https://github.com/woocommerce/action-scheduler/archive/master.zip.

No, you don't need to drop the existing tables.

[2020-03-17 13:48] afercia opened #25948 "Grouped product free price may return 0 instead of "Free!""
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. create a grouped product
2. set the linked products price to 0
3. see the grouped product page on the front end
4. see the displayed pri

[2020-03-17 14:08] peterfabian commented on #25924
Thanks. Can you please elaborate on how you created a copy of your production server to your local platform? I have a feeling that it might be related to the fact that images are not found where WC expects them to be.

Could you check the Network tab in the Chrome dev tools if the requests to your server are being sent to the correct address and if they get a response?

[2020-03-17 14:29] peterfabian commented on #25912
This should be solved by https://github.com/woocommerce/woocommerce/pull/25916 and will be released in the next couple of days.

[2020-03-17 14:42] decodekult opened #25949 "Custom status fires a PHP warning in the backend products page"
**Describe the bug**
Registering a custom status at `init:11` will fire a PHP warning in the admin products page.

- The issue happens because in:
https://github.com/woocommerce/woocommerce/commit/5fc2e8fba9e8090895479091813f8e9968c1482a
the method `WC_Install::is_new_install` gets fired before `init`, and it does run `wp_count_posts` for products, generating a cache of products per status.
- On `

[2020-03-17 15:03] varunsridharan commented on #11553
I am also facing the same issue but this loop happens when "update_order_review" get response as failure

[2020-03-17 15:05] vedanshujain commented on #25921
Ref PR: #25874

[2020-03-17 15:08] lukaszj-salag commented on #25947
I can reproduce same problem, website was cloned with Updraft to other location:
WP: 5.3.2
WooCommerce: 4.0.0

[code]

[2020-03-17 15:51] #25928 closed

[2020-03-17 15:52] #25927 closed

[2020-03-17 16:19] peterfabian commented on #25852
@jkohlbach We're going to release 4.0.1 that includes the #25950 within a day.

[2020-03-17 16:20] #25921 closed

[2020-03-17 16:20] #25852 closed

[2020-03-17 16:32] tobiasfeistmantl opened #25951 "Uncaught Exception on WPMU"
**Describe the bug**
I get an "Uncaught Exception" error on an individually activated site in a WordPress Multisite Network.

Here the full error:

[code]

**Isolating the problem (mark completed items with an [x]):**
- [ All individually activated ] I have deactivated other plugins and confirmed this bug occurs when only WooCommerce plugin is active.
- [ x ] This bug happens with a default WordPr

[2020-03-17 16:41] newbie-maker opened #25952 "Woocommerce doesn't function"
Hi Everyone,

I'm pretty new at writing codes en developing my own website. Currently I'm working on developing my own webshop through  wordrpess. I am hosting it on Wamp on my computer. I am using the woocommerce extension to create a e-commere. The weird thing is I can look at the products in my store on my website but when I put the product in the basket and click on checkout I get the message

[2020-03-17 16:47] #25881 closed

[2020-03-17 17:20] #25875 closed

[2020-03-17 17:55] Udaychetan opened #25953 "while adding products image im getting post processing of the image failed please scle it down error. i deactivated all plugin then tried to upload image through media library. then its working, then i activated woocommerce plugin and kept all others plugindeactivated. after that cant upload any images. keep getting that error"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain you

[2020-03-17 18:58] mynewvk opened #25954 "Save variation issue"
The new way to save variation ( 'get_variations_fields' function ) does not respect array values without the keys.

Example:

I have those fields - https://ibb.co/80xt9HK
HTML markup - https://ibb.co/GMcpnGz

"new tier" adds a new group of fields with [] (empty) index in the end.

The problem is that on save function does not retrieve that as an array, but only use the last element of the array -h

[2020-03-17 18:58] lifeforceinst commented on #25924
Peter,
These duplicate R&D test sites have worked 100% fine for years using
the same replication methods.  The local replication site worked
100% find with WC 3.9.x and all previous versions.
These R&D sites are an exact  site replica using WP Migrate DB
Pro, or BackupBuddy.  The images themselves can be found in
WordPress Media gallery.

At 14:08 17/03/2020, Peter Fabian wrote:
Thanks. Can you pl

[2020-03-17 19:13] juliaamosova commented on #25275
Closing this issue as it is already possible to run e2e tests on any site using any admin and customer credentials. It can be done by copying the content of `woocommerce/tests/e2e-tests/config/default.json` to `woocommerce/tests/e2e-tests/config/test:e2e.json` and updating `test:e2e.json` with your own site URL and users details.

[2020-03-17 19:13] #25275 closed

[2020-03-17 19:20] juliaamosova commented on #25465
According to `p90Yrv-1yE-p2/#comment-3654`, we decided that the package that will contain Docker setup for running e2e tests will live in the `wc-admin` repository.

[2020-03-17 19:24] juliaamosova opened #25955 "[E2E] Create @woocommerce/e2e-test-utils package for writing e2e tests"
Create @woocommerce/e2e-test-utils package for writing e2e tests.

As per `p90Yrv-1yE-p2/#comment-3654`, @woocommerce/e2e-test-utils package will be a part of WooCommerce Core repository.

The package should include the following utilities:

https://github.com/woocommerce/woocommerce/tree/master/tests/e2e-tests/utils

[2020-03-17 19:29] juliaamosova opened #25956 "[E2E] List of critical / needed flows to automated by e2e tests"
Create and publish a list of critical / needed flows to automated by e2e tests so that the community could start contributing by writing e2e tests.

[2020-03-17 19:40] juliaamosova opened #25957 "[E2E] Test WooCommerce version upgrades via e2e tests"
Find a way to automate WooCommerce version upgrades via e2e tests. For example, from 3.6 to 4.0 or from 4.0 to 4.1. Perhaps using Jurrasic Ninja sites or Local by Flywheel.

[2020-03-17 19:47] juliaamosova opened #25958 "[E2E] Initial data for running e2e tests (settings, products, orders)"
Figure out what is the best way to create initial data needed for running e2e tests (products, orders).

Currently, in Core, we run the Setup Wizard e2e test that configures WooCommerce on the test site. We also create a product and an order whenever needed within the test itself.

This doesn't always work for other teams (for example those, that develop extensions) that work with WooCommerce - es

[2020-03-17 20:06] Fabrikka opened #25959 "Product display option doesn't exist"
**Describe the bug**
I need to make some customizations on my general shop page, like display some categories and not all the products.

**To Reproduce**
Steps to reproduce the behavior:
The option is not displayed itself in "woocommerce > settings > products > "nothing like display".

**Screenshots**
As you can see, just options "general" "inventory" "downloadable products". But not "display".

*

[2020-03-17 20:15] juliaamosova opened #25960 "[E2E] Fix flakiness when deleting a product"
When the product is being deleted in e2e tests, the test sometimes fails. For example, here:

https://github.com/woocommerce/woocommerce/blob/master/tests/e2e-tests/specs/wp-admin/wp-admin-product-new.test.js#L28

This is due to the flakiness of the tests. We need to make more reliable.

[2020-03-17 21:06] #25585 closed

[2020-03-17 21:43] andreaguerra80 commented on #25895
@rrennick Hi also to me did not create the table _actionscheduler_logs

how to do?

[2020-03-17 21:54] rrennick commented on #25895
@andreaguerra80 Did you install the zip I linked to in my previous comment (replacing the 3.1.3 version)?

[2020-03-17 22:01] andreaguerra80 commented on #25895
ok, I didn't understand that I had to install the latest master.

Forgive me my English.

In Tools -> Scheduled Actions it still returns 1 pending and if I go to www.miosito.com/wp-admin/maint/repair.php?repair=1 it still tells me that the table _actionscheduler_logs' doesn't exist

[2020-03-17 22:02] andreaguerra80 commented on #25895
ok perfect now everything works.
Thanks so much :-)

[2020-03-17 22:10] jkohlbach commented on #25852
@peterfabian @juliaamosova you're both legends thank you!

[2020-03-17 23:40] juliaamosova opened #25962 "[E2E] Create a package with WC Core's e2e tests"
Create a package with WC Core's e2e tests so that they can be run in any other repository when needed. These tests can be triggered only sometimes by adding GitHub label to PR for example.

[2020-03-18 00:05] juliaamosova opened #25963 "[E2E] Refactor `addToCartFromShopPage()` to use Product ID instead of title"
Refactor `addToCartFromShopPage()` to use Product ID instead of title:

https://github.com/woocommerce/woocommerce/blob/master/tests/e2e-tests/utils/flows.js#L82-L90

[2020-03-18 01:14] phillipcornwell commented on #25929
Also found in 14445181-hc and 2797463-zen

I was able to replicate this issue in my test site as well, with only WooCommerce and Storefront active. When adding a second file to a product you found the first one was removed and not available for download by the customer.

[2020-03-18 02:53] volkerforster commented on #25895
I tried the same thing, installed AS 1.3.1 and then updated from WC 3.9.3 to the latest master from GitHub just 1 hour ago, and it bricked my admin access. My store was accessible, but wp-admin only returned a critical error. Even in incognito mode on Chrome, wich nothing in the cache, and purged website caches as well. I am just in the process of restoring my full backup from yesterday, then I wi

[2020-03-18 03:19] Updula commented on #25895
@rrennick Thank you, latest AS solved issue for me too and now am just waiting for migration to finish. Please note that I still saw the issue `"PHP message: Error Table 'sitename.a' doesn't exist` upon initial migration but after I disabled WP Rocket plugin, this no longer occurred!

[2020-03-18 04:44] volkerforster commented on #25895
Thank you, yes it worked. After installing AS 3.1.3 (sorry I said 1.3.1 in my former post) I was able to update to WC 4.0.0 (the latest available through plugin installer), and the database update went through with no problems.

But WooCommerce Admin (dashboard) does not show any values now, everything is ZERO. There are all 1600 orders in the orders list, but WC Admin shows no orders, no revenue,

[2020-03-18 07:09] kartikparmar commented on #25808
Woking on this issue. Getting all grouped product ids by implementing a new function and updating the post meta of the Grouped product by using deferred_product_sync function inside handle_updated_props function of WC_Product_Data_Store_CPT class file. Please let me know if that's the correct approach?

[2020-03-18 09:55] WebLenn opened #25964 "Not able to change status in hook "woocommerce_new_order""
**Describe the bug**
I'm trying to change the order statussen of some orders based on some simple conditions.
The hook I tried using for this was "woocommerce_new_order" since this hook will run on every new order.

I could succesfully change values of the order but for some reason both `$order->set_status('in-review');` and `$order->update_status('in-review');` didn't change the status, even when

[2020-03-18 11:38] Wassmo1 commented on #24354
Hi @peterfabian @harriswong, although this fix has worked when frontend customers order, I raise a lot of manual orders through the admin, and it is now not applying the tax to any newly registered UK customers regardless of whether a single or 2 worded county is entered, it's applying it to UK customers registered prior to the update on the 11th March but not to any registered after that date?!!

[2020-03-18 12:10] tammullen commented on #25959
Hi @Fabrikka

Have a look here for help with customizing your site https://docs.woocommerce.com/document/woocommerce-customizer/

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is do

[2020-03-18 12:10] #25959 closed

[2020-03-18 12:16] krachteneu opened #25965 "Allow us to create our own template for single products and archives"
**Is your feature request related to a problem? Please describe.**
I am currently trying to edit the way single products and product grids look, but it seems like WooCommerce is preventing me to do that. I am able to make a simple layout for blog posts and pages fairly quickly, but when I try to make a custom WooCommerce layout I have to wander through dozens of template parts and other code snipp

[2020-03-18 13:35] rrennick commented on #25895
@Updula Thanks for that follow up.

[2020-03-18 13:52] Pixelstart commented on #25524
Now WooCommerce 4.0 has been released, what's the status on this?

[2020-03-18 14:28] peterfabian commented on #25924
Hi,

thanks for the further information. I've tried to create a site with a sample set of products and orders running WC 3.9.3, then used WP Migrate DB Pro (with Plugin and Media add-ons) to "Pull" the site to another server, where I performed the upgrade to WC 4.0. I could not, however, reproduce the errors you reported.

I will try running the same procedure for some of the older testing sites t

[2020-03-18 15:37] kristos80 opened #25967 "Allow `get_terms` method in `WC_Product_Attribute` to have a sort parameter"
When using a `WC_Product_Attribute` object and want to have its terms listed based on their `order` meta value, that is not possible.

There could be a sorting parameter (eg `sort_by`), which when not empty, it could trigger an internal sorting mechanism based on its value.

**A NON TESTED random implementation**
[code]

Thanks for your time!

[2020-03-18 15:56] tammullen commented on #25948
Hi @afercia,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot_2020-03-18_at_15_31_58](https://user-images.githubusercontent.com/24649833/76977800-b9362680-692d-11ea-8e91-ab523b2ea016.png)

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We

[2020-03-18 16:19] afercia opened #25969 "Schema: Grouped product schema is a single offer with a single price"
**Describe the bug**
The grouped product Schema output looks incorrect.
- A grouped product price is usually a range of prices based on the min and max child prices, for example: `€11,00 – €33,00`
- In this case, the price output in the Schema is `11.00` which doesn't reflect the actual price
- When both min and max are `0`, the grouped product displayed price is a string: `Free!`
- In this case,

[2020-03-18 16:23] harriswong commented on #24354
Hi @Wassmo1,

Thanks for reaching out to us. From the description, it sounds like the order through the admin does not have tax applied to newly registered UK customers. This could be a different problem unrelated to having a space character in the county. Please reach out to our support https://woocommerce.com/contact-us/. Our customer support team can help you diagnose the problem and create a n

[2020-03-18 16:39] tammullen commented on #25922
Hi @fkoomek

Thank you for reporting the issue. However, I have discovered this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25458. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-03-18 16:39] #25922 closed

[2020-03-18 16:41] tammullen commented on #25458
Just noting when looking at https://github.com/woocommerce/woocommerce/issues/25922 I was also able to reproduce this using Chrome 80 on Android 10. I wasn't able to reproduce it using a reduced or mobile simulated viewport on Desktop Chrome 80 on MacOS.

![SVID_20200316_233437_1 2020-03-16 23_43_08](https://user-images.githubusercontent.com/24649833/76984756-2dc19300-6937-11ea-92b6-f2b2eb3aabd3.g

[2020-03-18 16:47] tammullen commented on #25945
Hi @odedta

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25427. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-03-18 16:47] #25945 closed

[2020-03-18 16:50] thuautp commented on #24354
Hi @harriswong, @Wassmo1 's issue is related to this ticket #2793721-zen. I've tested on my site and could confirm the same. Tax doesn't seem to apply for a 2-worded county but it worked fine on a 1-worded county.

[2020-03-18 16:53] peterfabian commented on #25524
As soon as fix the fatal errors in 4.0.0, we can get to the nice things, such as this. No timeline yet, but it would be nice if we could ship it in 4.1 in May.

[2020-03-18 21:32] szuranski opened #25970 "503 Errors in Admin"
When accessing the backend in version 4.0 multiple AJAX call are being made which caused the server to start returning 503 errors. The more AJAX requests being made the more likely the page doesn't load.

Many others reporting the same problem.
[https://wordpress.org/support/plugin/woocommerce/](https://wordpress.org/support/plugin/woocommerce/)

![image](https://user-images.githubusercontent.com/

[2020-03-18 23:42] galbaras commented on #25458
I'm using Android 6, but this is still happening on latest Chrome emulation / Window 10, although it's not happening in the Edge mobile emulation.

[2020-03-19 06:27] zstran95 opened #25972 "Save variation issue could not be saved"
**Describe the bug**
I cannot create a new variation product that disappears on its own and does not save it

**To Reproduce** **Screenshots**
Steps to reproduce the behavior:
1. Go to https://imgur.com/FTGcXtp
2. Click on https://imgur.com/IKTcCDk
3. See error : https://imgur.com/uOgw86F
https://imgur.com/wqR10xL

**Expected behavior**
When I created a variation product, the product was not saved

[2020-03-19 07:45] NicWhitham opened #25973 "Variable products which include downloads"
I have been selling cd’s in physical format (shipped) and downloadable MP3 format (multiple tracks/files) for many years but I just found out that all downloadable tracks except the most recently added download file are deleted from the product and when I edit the product. When I try to add it back only the most recently added download file is saved and the others are removed. The downloadable fil

[2020-03-19 08:38] afercia commented on #25948
@tammullen thanks for checking 👍

[2020-03-19 10:07] peterfabian commented on #25973
Hi @NicWhitham

Apologies for the problem. It seems like what you're experiencing has already been reported in https://github.com/woocommerce/woocommerce/issues/25921 and should be solved in the next release soon.

[2020-03-19 10:07] #25973 closed

[2020-03-19 10:17] peterfabian commented on #25972
Hi @zstran95 , you attached the same picture 3x, so we can't see the error, unfortunately. Please update your report.

[2020-03-19 10:40] jono-alderson commented on #25969
Same problems as with products with variants; see https://github.com/Yoast/wpseo-woocommerce/issues/508

[2020-03-19 10:54] jono-alderson commented on #25969
Hmm. In the grouped product stuff, the `priceSpecification` should definitely use `minPrice` and `maxPrice` properties to describe the price range,

[2020-03-19 11:07] SysEngDan opened #25974 "Payment Retry Attempt Stopped After 2 of 5 Attempts"
**Description**
I have an order created as an automatic payment for a subscription. The payment was attempted the first two times according to the custom retry rules, but then no more payment attempts were scheduled (pending). As far as I can tell, this should continue retrying. Any suggestions?

**To Reproduce**
Steps to reproduce the behavior:
1. Insert custom retry rules in theme's functions.ph

[2020-03-19 13:52] zstran95 commented on #25972
**To Reproduce** **Screenshots**
Steps to reproduce the behavior:
1. Go to https://imgur.com/FTGcXtp
2. Click on https://imgur.com/IKTcCDk
3. See error : https://imgur.com/uOgw86F
https://imgur.com/wqR10xL

I have updated it :-D

[2020-03-19 15:37] peterfabian commented on #25970
Thanks for reporting. We will be looking at improving the performance in the upcoming releases. Transferring the issue to WC Admin repo.

[2020-03-19 17:33] juliaamosova commented on #25974
Hi @SysEngDan,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the [WooCommerce Subscriptions](https://woocommerce.com/products/woocommerce-subscriptions/) plugin which is one of the paid products on our marketplace. To get further technical support for it,

[2020-03-19 17:33] #25974 closed

[2020-03-19 17:40] juliaamosova commented on #25972
Hi @zstran95,

Thank you for following-up on the issue. However, I can’t reproduce it on my end. Everything is working as expected and I can successfully create a variable product.

I see that you have several plugins installed and that you don’t use one of our default themes which could cause an issue. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all

[2020-03-19 18:22] simopetrelli opened #25976 "Featured image in download link"
Hi Guys,
Is it possible to insert an image (featured image) in each download link? see screenshot:
1 - https://prnt.sc/rj6s7z
2 - https://prnt.sc/rj6sf1

This would serve to make the customer understand which product he is downloading.
Do plugins already exist that can do this?

Thanks a lot.

[2020-03-19 18:48] juliaamosova commented on #25969
Hi @afercia,

Thank you for taking the time to report this issue, we really appreciate your help. I can confirm the behavior you are seeing.

Grouped product that consists of 2 simple products that have prices:

Product page:

<img width="830" alt="Screen Shot 2020-03-19 at 2 35 05 PM" src="https://user-images.githubusercontent.com/19143190/77103148-55c0fd00-69f0-11ea-9dad-82954b952e6d.png">

Stru

[2020-03-19 19:08] juliaamosova commented on #25953
Hi @Udaychetan,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues la

[2020-03-19 19:30] juliaamosova commented on #25952
Hi @newbie-maker,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide

[2020-03-19 19:30] #25952 closed

[2020-03-19 19:35] juliaamosova commented on #25944
Hi @rodolphebertozzo,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it right away. We’re going to add it to our backlog where it will be considered for future releases.

[2020-03-19 19:38] juliaamosova commented on #25939
Hi @FritzHerbers,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-03-19 19:39] lkraav commented on #25944
Some dark mode styling framework should probably be shipped by WP first.

[2020-03-19 19:40] claudiosanches commented on #25965
Hello.

Sorry, but isn't not clear what you want. I understand that it's new for you and it's different from regular blog themes, but there's nothing wrong, it's all WordPress code.

All parts of the layouts works using WordPress hooks, also in each template is described what function hook into it and looking in the function you can change the template.

Also there's not stopping you from using `t

[2020-03-19 19:40] #25965 closed

[2020-03-20 02:03] zstran95 commented on #25972
I have tried all the deletion of the plugin leaving only the product and am still unable to add variants

[2020-03-20 04:03] r365online opened #25978 "The source link dashboard in the bar of product page hides my tool (add image)"
**Describe the bug**
The source link dashboard in the bar of product page hides my tool (add image)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit product page'
2. Click on 'nothing'
3. Scroll down to 'add image'
4. I can't, I have to scroll up to add image because the tab hides my add image tool.

**Screenshots**
<img width="1440" alt="Screen Shot 2020-03-20 at 11 00 01" src="h

[2020-03-20 08:37] rodolphebertozzo opened #25979 "Problem about WC Admin"
My dashboard is not loading, I refreshed the page but nothing to do. The problem occurs exclusively with the "Revenue" part of the dashboard
![bug1](https://user-images.githubusercontent.com/56270626/77147783-61fb9780-6a8e-11ea-9343-552fce421bf0.PNG)
![bug2](https://user-images.githubusercontent.com/56270626/77147786-62942e00-6a8e-11ea-920b-64ca64bcfbc9.PNG)

[2020-03-20 09:30] lifeforceinst commented on #25924
An interesting fact is that if I run the site using Firefox and not
chrome, then things work a little bit better, as in some information is
displayed, but when I looked closer the only data in the dashboard which
was actually real data, was the downloads, all other items regarding
products, sales were all zero.
I have seen Java issues like this over many years caused by java issues
with different

[2020-03-20 10:03] LGx0 commented on #25895
Hello, can u help me please?
`meException: Error saving action: Error saving action: Table 'b10850.wp0z_actionscheduler_actions' doesn't exist in /web/htdocs4/szegedicukraszdainfo/home/www/wp-content/plugins/action-scheduler-master/classes/migration/ActionScheduler_DBStoreMigrator.php:44 Stack trace: #0 /web/htdocs4/szegedicukraszdainfo/home/www/wp-content/plugins/action-scheduler-master/classes/d

[2020-03-20 10:56] GlennMartin1 commented on #25895
@LGx0  There is a new WooCommerce release 4.0.1 coming soon which will address this.

Until then, you may wish to install this Action Scheduler plugin: https://github.com/woocommerce/action-scheduler/archive/3.1.4.zip

After WooCommerce 4.0.1 is released and you've updated, you can deactivate & uninstall that plugin.

Please provide feedback if this works for you.

[2020-03-20 11:01] andreaguerra80 commented on #25895
Hi @rrennick @GlennMartin1  I after launching the plug in, I disabled and deleted the plug in and everything completed well.
Shouldn't I uninstall and delete it?

[2020-03-20 11:26] peterfabian commented on #25924
Hi, you can turn off this horrid interface by adding a code snippet/filter somewhere which runs before the plugins are getting loaded (i.e. not your theme functions.php file, that only runs later):

[code]

Also, thanks for providing the error, we'll try to understand why it's happening and fix it as soon as possible.

[2020-03-20 13:11] rrennick commented on #25895
As long as you have WC 4.0 or higher installed removing it once the issue is fixed is okay.

[2020-03-20 13:26] andreaguerra80 commented on #25895
ah ok i have WC 4.0.0 thnx

[2020-03-20 14:20] juliaamosova commented on #25979
Hi @rodolphebertozzo,

Sorry to hear about the trouble! It is very difficult to understand what is causing the issue based on the screenshot you provided. It could be all kinds of things.

Do you see any errors in the error logs or browser console?

Another thing to try is a theme and plugins conflict test. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the defa

[2020-03-20 14:35] juliaamosova commented on #25978
Hi @r365online,

Thank you for reporting the issue. The new navigation bar is a part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-03-20 14:55] juliaamosova commented on #25976
Hi @simopetrelli.

Thank you for taking the time to share this idea, we really appreciate your help. I am not aware of the plugin that can add these images to the downloadable product - did a quick search and nothing came up. But it can definitely be useful.

We’re going to add it to our backlog where it will be considered for future releases.

[2020-03-20 14:57] juliaamosova commented on #25972
@zstran95 are there any error messages in the error logs or browser console?

[2020-03-20 15:12] LGx0 commented on #25895
Doesn't work.

[2020-03-20 15:13] juliaamosova commented on #25917
Hi @supremekalm,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-20 15:13] #25917 closed

[2020-03-20 15:15] juliaamosova commented on #25907
Hi @lionhurt,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-20 15:15] #25907 closed

[2020-03-20 15:16] juliaamosova commented on #25899
Hi @LesleyEliz877,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-20 15:16] #25899 closed

[2020-03-20 15:16] zstran95 commented on #25972
I don't see any message, I have installed and exported the product through a new site. The status is still with the product variant.

[2020-03-20 15:17] juliaamosova commented on #25868
Hi @jrsgear,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-20 15:17] #25868 closed

[2020-03-20 15:18] tsetend commented on #25870
A user reported this problem here 2803898-zen.

It is a staging site and I disabled all the other plugins except WooCommerce. I switched to Twenty Twenty theme. Initiated the database update from **WooCommerce > Status > Tools**. The update is still in progress after a few hours:

![Screenshot](https://d.pr/i/xNZSNG+)
Screenshot: https://d.pr/i/xNZSNG

Pending scheduled action:

![Screenshot](http

[2020-03-20 15:22] juliaamosova commented on #25867
Hi @kryten68, the issue you are having seems to be related to the 3rd party plugin you are using - WooCommerce Extra Product Options. Please contact the developers of the plugin further for help.

I am closing this issue on our end. However, please feel free to comment in case I missed something and we will take another look.

[2020-03-20 15:22] #25867 closed

[2020-03-20 15:23] juliaamosova commented on #25861
Hi @meds4vets,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-20 15:23] #25861 closed

[2020-03-20 15:41] juliaamosova commented on #25954
Hi @mynewvk, thanks for opening the issue. We are reverting the change related to how variations are being saved starting from 4.0 in 4.0.1: https://github.com/woocommerce/woocommerce/pull/25950.

We are working on releasing 4.0.1 as we speak.

[2020-03-20 15:59] mynewvk commented on #25954
Hi @juliaamosova,

Thanks!

[2020-03-20 15:59] #25954 closed

[2020-03-20 16:21] juliaamosova commented on #25972
@zstran95 we just released WooCommerce 4.0.1 where we reverted the change related to how variations are being saved: https://github.com/woocommerce/woocommerce/pull/25950. Can you please update to 4.0.1 and let us know if the issue is resolved for you?

[2020-03-20 16:25] juliaamosova commented on #25850
@sayful1 thanks for the additional details, I see what you mean now. It is indeed a small bug. Feel free to submit a PR with a fix if you like.

[2020-03-20 16:28] juliaamosova commented on #25832
Hi @parmarhardip,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-20 16:28] #25832 closed

[2020-03-20 16:45] juliaamosova commented on #25465
A final note that this package will "live" in WooCommerce Core as per: p7bje6-1UJ-p2.

It is important to note that we should contribute to the @woocommerce/env package as much as possible so that it works for our needs as opposed to creating our own package:

https://github.com/WordPress/gutenberg/tree/master/packages/env

[2020-03-20 16:50] juliaamosova commented on #25780
@arooni I am going to close this issue as it can be easily reproduced. I will keep an eye on it though so please add comments in case you find something useful related to it.

[2020-03-20 16:50] #25780 closed

[2020-03-20 16:52] ObliviousHarmony commented on #25964
Hello @WebLenn,

What is the status being changed to? It's very probably that the payment gateway is overriding the status that you're setting. The `woocommerce_new_order` hook is indeed called upon order creation, but shortly after creation, the order is sent off to the payment gateway for handling. Certain gateways immediately set the status as they require manual processing, for instance.

You'

[2020-03-20 16:52] #25964 closed

[2020-03-20 16:52] juliaamosova commented on #25738
@strarsis I am closing this issue as it looks like nothing for us to do on the WooCommerce Core side of things. Please feel free to comment in case I missed something and we will take another look.

[2020-03-20 16:52] #25738 closed

[2020-03-20 17:03] juliaamosova commented on #25929
Hi @EmranAhmed,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/25852 and here https://github.com/woocommerce/woocommerce/issues/25921.

There is a fix for it in WooCommerce 4.0.1 via https://github.com/woocommerce/woocommerce/pull/25950. Please update WooCommerce to 4.0.1. Thanks!

[2020-03-20 17:03] #25929 closed

[2020-03-20 17:10] juliaamosova commented on #25531
Apologies for the delayed response @benhuson!

We’re going to add your feature request to our backlog where it will be considered for future releases.

[2020-03-20 17:13] tat-art opened #25983 "Variable product price does not show anymore."
I made before a lot of products with variations and the price for each variation appeard before the "add to cart" button now it just not appearing anymore. Not sure what happend i didnt install any new plugin just updated the woocommerce to last vervion.
Example (price is no appearing) this is made today.
![price is not in place](https://user-images.githubusercontent.com/62440265/77188164-40c29780

[2020-03-20 17:15] juliaamosova commented on #24331
@dougaitken thanks for linking the issue with an explanation and providing details of the workaround.

@grigorijurasov I am closing this issue since there is no action to be taken on the WooCommerce Core side of things.

[2020-03-20 17:15] #24331 closed

[2020-03-20 17:21] juliaamosova commented on #25983
Hi @tat-art,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end using WooCommerce 4.0.1:

![var](https://user-images.githubusercontent.com/19143190/77189206-93379000-6aad-11ea-91ee-db4185743597.jpg)

Which version of WooCommerce are you using?

Please test your site for theme and plugins c

[2020-03-20 17:35] tat-art commented on #25983
I just deactivate everything except woocommerce 4.0.1 , also using the theme storefront and still appears the same . Here is the link to site as it is now https://tat-art.gr/product/asdsadasdasdas/ . Also the relative photo thanks for you time .
![still not appearing](https://user-images.githubusercontent.com/62440265/77190393-d6135b00-6ae1-11ea-94bf-00c91af33d00.png)

[2020-03-20 18:25] juliaamosova commented on #25983
Thanks for your follow-up @tat-art!

I was going to mention that this happens because your variations have the same price. It's been working this way for a while (just went back all the way to WooCommerce version 3.0 to test it).

We have an enhancement issue open for it as well: https://github.com/woocommerce/woocommerce/issues/25713 - feel free to comment on it to add another vote to it.

Not su

[2020-03-20 18:45] tat-art commented on #25983
I see so there is no solution for the moment. Thanks for that :) .

I ment to give an example for the usage of variable product with same price . For example different color on a product but the price remain the same but nevermind that . Thanks for your time hope there will be a solution soon for that !

[2020-03-20 18:45] #25983 closed

[2020-03-20 19:04] juliaamosova commented on #25918
Hi @slaFFik,

Thanks for raising the issue. I see that it makes sense for consistency to decide either to remove `Import Products` submenu from the WC Admin navigation bar or to add it to the `Products` sidebar section:

![import2](https://user-images.githubusercontent.com/19143190/77197638-edd7e880-6abb-11ea-9cc5-c59f6ca6f1d0.jpg)

But I am not sure if this is very critical. cc @timmyc @peterfabi

[2020-03-20 20:30] ObliviousHarmony commented on #25949
Hello @decodekult,

It appears that WordPress does not invalidate the cache when new post statuses are registered. I'll make a Trac ticket and see about submitting a fix.

I did find a couple workarounds for you though!

1. You can invalidate the cache yourself, here is a sample (**This uses an internal WordPress function, so keep that in mind!**):
[code]

2. You can use the `woocommerce_init` hoo

[2020-03-20 20:30] #25949 closed

[2020-03-20 20:36] #25967 closed

[2020-03-20 20:36] ObliviousHarmony commented on #25967
Hi @kristos80,,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this iss

[2020-03-20 20:55] dougaitken opened #25985 "Button text "Out of Stock" rather than Read More for Simple Products when out of stock"
**Is your feature request related to a problem? Please describe.**

For at least four years, when a product is Out Of Stock, the Add to Cart button for a Simple Product will show as Read More.

**Describe the solution you'd like**

Simple Product, out of stock, should show "Out of Stock"

**Describe alternatives you've considered**

N/A

**Additional context**

Toggle / Setting could be given to h

[2020-03-20 21:46] vikingjs commented on #24563
This problem is leading to arbitrary and unfathomable shipping charges for orders where I have specified free shipping, including digital downloads, and is still present in version 4.0.1, released today.

[2020-03-20 22:02] Hooly0019 opened #25986 "Discounts off orders above a certain amount"
I need to create a product at which the price changes according to the number of units purchased. Ex.
If you buy 12. the price per unit is $ 9.50 = $ 114
If you buy 24. the price per unit is $ 9.00 = $ 216
If you buy 50. the price per unit is $ 8.50 = $ 425. Etc.

How can I make the store show me the price per unit but in the cart show the final or total price?

[2020-03-20 22:12] vikingjs commented on #24563
The fix above prevents charging shipping in some cases where it should be. This version *seems* to have fixed my issue, but I think it is perilous, as I am not sure where the `$order->needs_shipping_address` originates.

[code]

[2020-03-21 02:12] streamworksaudio opened #25987 "Staus Page produces 500 error"
This seems like an odd bug to get through to the release, however whenever I go the WooCommerce Admin Status page I am always getting a 500 error.  The page still loads but Chrome developer shows the error response.

I first noticed this because my own custom plugin uses Jquery in the admin and it wasn't firing correctly.  I have tried to disable every plugin and even with just WordPress and WooCo

[2020-03-21 03:46] streamworksaudio commented on #25987
Perhaps the action scheduler issue were an problem.

I deleted all the wp_actionscheduler_ tables from the database, then WooCommerce re-created them and both the action scheduler problems I was seeing as well as this 500 error were resolved.

[2020-03-21 12:15] beamkiller commented on #25896
Yeah, guest users should see their addresses there too. It's a little bit confusing that it is not there by default.

[2020-03-21 13:15] degregar opened #25989 "Can't make billing_state required."
**Describe the bug**
While trying to make billing_state field required, it's rendered in edit billing address form as optional and dropdown. If I change country from PL to different country it shows text field with required indicator. I think some JavaScript used to render state after selecting country is rendered incorrectly, but I can't find where and how is it made.

**To Reproduce**

Add this

[2020-03-21 16:32] #25979 closed

[2020-03-21 23:22] jatrant opened #25990 "Can not add new customer within wordpress admin"
**Describe the bug**
I dont get an option to add a customer manually within the wordpress backend admin.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into wordpress admin
2. Click on woocommerce -> Customers
3. You will see there is no option to add a customer manually.

Aslo there is no

**Screenshots**
<img width="1505" alt="Screen Shot 2020-03-21 at 5 17 19 PM" src="https://user-im

[2020-03-22 07:20] thomas-zg commented on #25985
Is it possible to do the customization by using the `woocommerce_product_add_to_cart_text` filter?

https://github.com/woocommerce/woocommerce/blob/badb135bd62ca5d11cf6a55220cee61180f8c00c/includes/class-wc-product-simple.php#L62

[2020-03-22 14:39] vasikgreif opened #25991 "Impossible to add custom visibility"
I wanted to add a new custom visibility to the default ones.

There's a filter `woocommerce_product_visibility_options`, that can be used to add new visibility to the dropdown.

To save a new taxonomy, I used `woocommerce_product_set_visibility` action, which is by itself a little hacky solution, as the hook is triggerd after the default visibility is saved:

[code]

But I don't see any way to ret

[2020-03-22 15:58] LamLamLLC commented on #25987
🅰️

[2020-03-22 17:40] zstran95 commented on #25972
I tried on the Apache server the bed as the error is solved but there seems to be an error on nginx

[2020-03-22 22:22] bernattorras opened #25992 "Filter orders by "Guest user""
**Context**
A shop administrator reported that some of their customers got deleted from their site because they were inactive. Once deleted, their orders became "guest" orders and the administrator wanted to find them again to link them to the new customer account.

They also wanted to check all the other affected orders in their site, but there's no option to filter the orders by 'guest' user in

[2020-03-22 23:52] DOSEOFiNSANiTY opened #25993 "Major Issues with WooCommerce Dashboard & Analytics Rendering"
**Whats Happening**
I am having a lot of problems with getting Woocommerce to show me the Dashboard or Analytics page. They render, then immediately disappear. I checked the console and saw that these errors are thrown...

![b1272431-5dd3-4f85-8e5a-3b74992fb9db](https://user-images.githubusercontent.com/35680555/77265708-caf03480-6c73-11ea-8e18-3260be5a7e56.png)

I found a related bug that was an

[2020-03-23 07:39] Konamiman commented on #25750
Fixed by https://github.com/woocommerce/woocommerce-rest-api/pull/152 - should we close?

[2020-03-23 07:47] LeoGraphic opened #25994 "Improvement on the version 4.0.0 (Variation Price)"
Hello,

I was able to detect a small concern regarding the display of variation product information on a product page. Because especially when the information areas are outside the form. In one of my cases, in particular on the tabs below with my template.

It is used form.product.find() for change in the file
/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js

I think

[2020-03-23 07:52] Konamiman commented on #25915
The problem:

`Loader.php` in woocommerce-admin is using the following trick to hide all notices in the admin pages:

[code]

Where `woocommerce-layout__notice-list-hide` has a CSS style that hides it. On the other hand, `common.js` on WP core has the following:

[code]

So the notice is initially rendered outside `#wp__notice-list`, but as soon as this pice of JS executes, it's moved inside it, a

[2020-03-23 08:30] ajgw opened #25995 "No effect clicking on wc-settings wc-hide-notice=update _wc_notice_nonce"
Just updated WC 3.9.3 to 4.0.1 and went fine til database updated. I got a notice in WC screens which told me that database update is finished. In notice the button "Thanks" does not work. If I click on it, a page reload is done but notice still comes up.

Any idea how to close/hide notice?

[2020-03-23 09:43] stian-overasen opened #25996 "Wrong hooked function in woocommerce_before_single_product"
In `content-single-product.php` is says that the `wc_print_notices` function is hooked on `woocommerce_before_single_product` at priority 10. This is not correct.
https://github.com/woocommerce/woocommerce/blob/1926a5042622980ce9b520e63b8cc30d917d4a07/templates/content-single-product.php#L25

At line 306 in `wc-template-hooks.php` we can see that it is in fact the `woocommerce_output_all_notices`

[2020-03-23 10:08] jameskoster commented on #25918
I think we'll be removing the breadcrumb when we update the top bar in a future version, so I don't think this is a big deal for now.

[2020-03-23 10:17] slaFFik commented on #25918
Removing breadcrumb without, for example, highlighting "All Products" or adding "Import Products" under "All Products" inside the Products parent menu won't make things a lot better, imo.

[2020-03-23 10:22] jameskoster commented on #25918
The screen title would remain, so in this case "Import products".

[2020-03-23 10:56] phil310 opened #25997 "Fatal error: Uncaught RuntimeException"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
Fatal error: Uncaught RuntimeException: Erreur lors de l'enregistre

[2020-03-23 12:08] LesleyEliz877 commented on #25899
I am sorry for the lack of activity on this string. We have not been in the office for a few days while COVID-19 situation unfolds. I am working from home today.

I disabled both the advance shipping and rate table plugin and now I get the no shipping options for all states not just AK & HI.

![image](https://user-images.githubusercontent.com/62104373/77315182-771a3580-6cdd-11ea-9f8c-243c80e4c787.

[2020-03-23 13:39] jakupi1 commented on #19165
Any news ?

[2020-03-23 14:14] juliaamosova commented on #25899
@LesleyEliz877 thanks for the follow-up! And no worries about the delay. According to your recent screenshot, you have the following shipping setup for the United States:

![shipping](https://user-images.githubusercontent.com/19143190/77325537-e3516500-6cee-11ea-9f4e-6a8f4789afc8.png)

Looks like you only have `Free Shipping`. Do your customers need to meet a certain criteria in order to get `Free

[2020-03-23 14:39] juliaamosova commented on #25987
Hi @streamworksaudio, sorry for the trouble and thanks for reporting! @rrennick would you please take a look at this issue here?

[2020-03-23 14:42] juliaamosova commented on #25993
Hi @DOSEOFiNSANiTY, sorry for the trouble and thanks for reporting the issue! @timmyc @jeffstieler would you please take a look at this issue?

[2020-03-23 14:44] juliaamosova commented on #25997
Hi @phil310, thanks for reporting the issue! @rrennick would you please take a look?

[2020-03-23 14:49] juliaamosova commented on #25990
Hi @jatrant,

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

On a side note, I don't think it was meant for the store admins to be able to create customers from that section.

[2020-03-23 14:53] jeffstieler commented on #25993
Thanks for the ping @juliaamosova - can you move this issue to the `woocommerce/woocommerce-admin` repo?

[2020-03-23 16:15] peterfabian commented on #25997
This seems to be the same problem as https://github.com/woocommerce/woocommerce/issues/25895. But looks like it's happening also after 4.0.1...

[2020-03-23 16:30] juliaamosova commented on #25995
Hi @ajgw,

Thank you for reporting the issue. WooCommerce Admin (and it's notices) is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-03-23 16:54] krachteneu commented on #25965
Fine, I'll make my own plugin. I was eager to work with WooCommerce but our theme has conflicts with your plugin. I already knew you would close my feature request, as this has also happend with Gutenberg. You want to disable some features and add a paywall I know the reason..

[2020-03-23 17:28] yasminxsilva opened #25998 "bug of pages"

[2020-03-23 17:29] #25998 closed

[2020-03-23 18:08] fernandotellado commented on #25920
Same Issue with es_ES translation.

The WooCommerce Admin plugin is totally translated, and if you install and activate the plugin then WooCommerce appears fully translated, because the issue is related to the new admin interface

[2020-03-23 18:44] juliaamosova commented on #25985
Hi @dougaitken,

Thank you for taking the time to share this idea, we really appreciate your help.

I am not 100% convinced this should be changed, however, I definitely see the benefit. I will add a `question` label to this issue to indicate that this is something for us to discuss further.

@thomas-zg yes, it is possible. You can use the following snippet:

[code]

After applying the snippet:

<

[2020-03-23 18:50] juliaamosova commented on #25986
Hi @Hooly0019,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a pre-sale support request.

Next time, please contact WooCommerce support by [opening a ticket](https://woocommerce.com/contact-us/) and selecting `pre-sale` option in order to get help with question

[2020-03-23 18:50] #25986 closed

[2020-03-23 20:00] juliaamosova commented on #25937
Hi @nattila1,

Thank you for taking the time to report this bug, we really appreciate your help. I _think_ can reproduce it on my end.

What I see is the following:

1) I created a product with zero stock, enabled stock and allowed backorders with `Allow but notify customer` setting.

2) Next, I placed an order on the site as the customer would.

The stock of the product got decreased by 4 - as ex

[2020-03-23 20:03] juliaamosova commented on #25953
Hi @Udaychetan,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-23 20:03] #25953 closed

[2020-03-23 20:04] juliaamosova commented on #25941
Hi @imapious,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-23 20:04] #25941 closed

[2020-03-23 20:05] juliaamosova commented on #25931
Hi @e-holmarc,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-03-23 20:05] #25931 closed

[2020-03-23 20:07] juliaamosova commented on #25926
Hi @jackscoast,

You can try themes and plugins conflict testing.

To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again.

If the issue is resolved with the default theme and all plugins deactivated, it means that one of your plugins or a theme is causing the issue.

[2020-03-23 20:07] #25926 closed

[2020-03-23 20:29] AaaTex opened #25999 "500 Internal Server Error after client updated to V4.0.1"
**Describe the bug**
My client just switched to V4.0.1 and immediately had problems with our app getting a 500 Internal Server Error. We did not know they were going to update and not even sure what version they had before.

I do not have access to the client's WooCommerce or Windows machine at this time to try to do anything.

This was posted on
https://woocommerce.wordpress.com/2020/03/10/woocom

[2020-03-23 21:27] K-L-H commented on #22969
+1

[2020-03-23 21:49] allendav opened #26000 "Add WooCommerce Payments logo (wcpay.png?) to woocommerce/assets/images"
In support of https://github.com/woocommerce/woocommerce-admin/issues/3948

cc @LevinMedia @timmyc

[2020-03-23 22:49] ObliviousHarmony commented on #25949
Here is the [Trac ticket for WordPress core](https://core.trac.wordpress.org/ticket/49685)

[2020-03-23 23:32] ObliviousHarmony commented on #25996
Hi @stian-overasen,

Thank you for taking the time reporting this bug, we really appreciate your help. We’re going to add it to our backlog so we can include it in our planning for one of our future releases.

[2020-03-24 03:04] haszari opened #26001 "Password visibility toggle doesn't work correctly in My account > Account details page"
**Describe the bug**
Originally reported by @slavicd in Storefront repository: https://github.com/woocommerce/storefront/issues/1290

In the `Account details` page, the password visibility toggle button (the "eye" icon) only toggles on the first click (to reveal the password). Subsequent clicks don't work - the password cannot be unseen. Note this doesn't affect the login page password field.

**T

[2020-03-24 06:04] nattila1 commented on #25937
Yes, exactly. This is the issue what I found. Value of "Backordered" meta is not updated.
Thank you!

[2020-03-24 08:35] dphyled commented on #26001
Similar issue for the Password Reset fields:
https://github.com/woocommerce/woocommerce/issues/25624

PR added on Feb 11th

[2020-03-24 12:02] LesleyEliz877 commented on #25899
Yes, they must spend $50 to get free shipping. we have a rate table set up for orders below that threshold.

[2020-03-24 12:30] jessepearson opened #26002 "Single use coupons able to be reused by guests if Hold Stock is blank"
**Describe the bug**
If the _Hold Stock_ setting is blank in a store, and the store has coupons that can only be used once per user, and guest checkout is enabled, then guests can use those coupons multiple times with a single email address.

The check to see if the coupon has already been used by the guest is done here:
https://github.com/woocommerce/woocommerce/blob/4.0.1/includes/abstracts/abst

[2020-03-24 12:44] peterfabian commented on #25999
Thanks for creating an issue, @AaaTex.

Without having more information, though, it is quite difficult to guess what the problem might be, so if you can advise your client to share the system status report or to perform the [plugin conflict resolution](https://docs.woocommerce.com/document/how-to-test-for-conflicts/), it would help us quite a bit.

In my testing, the orders endpoint works fine wit

[2020-03-24 12:56] rrennick commented on #25987
@juliaamosova Without the DB tables, settings, etc. trying to reproduce this would likely be a needle in a haystack.

[2020-03-24 13:00] rrennick commented on #25997
Ruhani Rabin

Based on other reports, WP Optimize recommends deleting the AS tables.

@phil310 Can you navigate to Tools -> Scheduled Actions in your dashboard to see if there is a noticing indicating that Action Scheduler attempted to recreate the tables.

[2020-03-24 13:32] phil310 commented on #25997
I can't see anything except that the library's no longer accessible.

[2020-03-24 13:58] juliaamosova commented on #25937
@nattila1 thank you for confirming!

[2020-03-24 14:04] juliaamosova commented on #25899
@LesleyEliz877 thank you for confirming! You can see that your issue is related to the Table Rate setup or perhaps something else but not WooCommerce Core. In other words, there is no bug in WooCommerce Core in regards to your issue.

If you use our [Table Rate Shipping](https://woocommerce.com/products/table-rate-shipping/) plugin, please contact the WooCommerce helpdesk by [opening a ticket](htt

[2020-03-24 14:13] aman2505 opened #26003 "how do i filter resources by the date modified? the after parameter provided only filters by date created"
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide here: https://docs.woocommerce.com/document/woocommerce-self-service-guide/

**Technical support for premium extensions or if you're a WooCommerce.com custome

[2020-03-24 14:18] marcusig commented on #25997
@rrennick I'm one of the developers working on WP-Optimize. FYI, we have an update ready with updated plugins/db tables relationships. Though the person in charge of releasing is currently unavailable due to the current worldwide situation, and we unfortunatly have to wait until he's back.

I personally had the same problem on a my website, where I didn't delete the tables, but upgraded from WC3.9

[2020-03-24 14:21] webbizagency commented on #25243
Hi!
I found the same behavior.
Is anyone found a workaround to accept html in title for shop manager too?
Cheers

[2020-03-24 14:31] rrennick commented on #25997
@marcusig Thanks for letting us know :)

[2020-03-24 14:46] pmusolino commented on #25037
Hi there! I think I found the same bug on WC 4 (but I think this is present also in old versions). Basically, I set the price of a product to `-21€`, the public page of the product show `0€` (I use the Storefront theme) but if a user adds the product the cart, he will see `-21€` as product price but `0€` in Total.
![Schermata 2020-03-24 alle 15 45 49](https://user-images.githubusercontent.com/4956

[2020-03-24 14:53] phil310 commented on #25997
I have this
Scheduled Actions fixed the issue though.
The migration of the action planner is in progress. The list of planned actions may not be complete.

It appears one or more database tables were missing. Attempting to re-create the missing table(s).

[2020-03-24 15:01] LevinMedia commented on #26000
Can we use an SVG for this, rather than PNG?

[code]

If not, here's a PNG at 3x resolution.

![WooLogo](https://user-images.githubusercontent.com/4500952/77440550-aeecb000-6da5-11ea-9bb9-3a5d1962abaa.png)

[2020-03-24 15:02] chad1008 commented on #25524
Noting that out of stock filtering was also raised as a request in 2795671-zen

[2020-03-24 15:21] mischasigtermans commented on #25524
@chad1008 What are you talking about?

[2020-03-24 15:24] phil310 commented on #25997
I put back version 3.9.3
It's ok now.

[2020-03-24 15:27] phil310 commented on #25997
Thank you for your feedback

[2020-03-24 16:24] raymondlittle100 opened #26004 "PayPal _stripe_net equivalent"
I'm integrating with WooCommerce and I'm using the WooCommerceNET NuGet package to fetch sales orders. When getting credit card values I can see _stripe_fee and _stripe_net. When accessing PayPal orders I can see PayPal Transaction Fee but this is just the fee PayPal the same as _stripe_fee. I'm trying to access the final GBP value the client gets. Is there a PayPal equivalent to the _stripe_net?

[2020-03-24 16:29] georgetasioulis commented on #25999
The 500 errors are probably related to memory exhaustion.
If the site is hosted on shared hosting (cPanel/Plesk etc), make sure that the account is not reaching any CPU/memory limits imposed by CloudLinux or similar.
If it's on a VPS/dedicated server, please check for any kernel OOM messages.

[2020-03-24 16:36] georgetasioulis commented on #25924
We experienced the exact same issue on a website and were able to resolve it by increasing the CloudLinux PMEM limit of the cPanel account hosting that domain.
Probably similar to https://github.com/woocommerce/woocommerce/issues/25999#issuecomment-603348343

[2020-03-24 16:42] georgetasioulis commented on #25997
Yeah, we were seeing a huge increase in DB queries (https://share.getcloudapp.com/2NuB8XJj) after upgrading from 3.9.3 to 4.0.1 and were seeing ActionScheduler related errors all over the place.
For now we've switched back to 3.9.3 but I've asked my customer to try 4.0.1 again but this time also install the Action Scheduler plugin: https://github.com/woocommerce/action-scheduler/archive/3.1.4.zip

[2020-03-24 16:59] AaaTex commented on #25999
The client was on V3.6.5 and had the problem as soon as it went to V4.0.0. Going to V4.0.1 didn't help.

We tried changing the URL to both v2 and v3 from v1 and again did not help.

[2020-03-24 18:31] juliaamosova commented on #25037
Hi @pmusolino, yes, you are reporting the same behavior that I [mentioned above in my comment](https://github.com/woocommerce/woocommerce/issues/25037#issuecomment-554072804). We haven't done anything in regards to this issue since it was opened so it is present in 4.0 for now.

We don't consider this a bug but rather an enhancement since its been working this way for a while now. The issue is mar

[2020-03-24 18:35] juliaamosova commented on #26003
Hi @aman2505,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that the right team could take a look further.

[2020-03-24 18:40] rrennick commented on #25997
@georgestephanis If the site is having performance issues it would be better to install AS 3.1.4 and allow the AS migration to complete before re-updating to WC 4.0.1. AS 3.1.4 is the version of AS in WC 4.0.1.

[2020-03-24 20:03] mattsherman opened #26006 "Walkthrough tooltip for virtual products checkbox is not positioned properly"
**Describe the bug**

After setting up a new store, when I went to add my first product, I was presented with the walkthrough tooltips for the various fields on the product page.

The tooltip for the virtual product checkbox did not point directly to the checkbox control or its label.

This happens for me in both Firefox and Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new

[2020-03-24 20:09] mattsherman opened #26007 "Dismiss UI differs between notices"
**Describe the bug**

The dismiss UI differs between different notices. The HTTPS one has "Dismiss" text and an X icon. The "Design your store" one only has an X icon.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup new store on a site without HTTPS
2. Go to Orders, Products, or Coupons screens (maybe other screens as well)
4. See error

**Screenshots**

<img width="1116" alt="ScreenCa

[2020-03-24 22:07] georgestephanis commented on #25997
Wrong George!

[2020-03-25 00:31] nicolasdelrio opened #26008 "Hello!. The Dashboard of my WooCommerce generate a 503 ERROR"
Hello!,I'm creating a small store, without much data (15 products loaded so far), if I open the "Desktop" of woorcomerce, the server freezes and then I get a 503.
Has it happened to someone else?
I really am not going to use it, can it be disabled?

The wordpress version is 5.3.2 and woocommerce 4.0.1.

What files can help analysis?
Thanks!!

[2020-03-25 00:38] alexonbalangue commented on #26008
![wp-woo-problem](https://user-images.githubusercontent.com/6099946/77489738-5535c580-6e39-11ea-92e0-549a86a64351.JPG)
equivalent problem

[2020-03-25 08:07] pmcpinto opened #26010 "Increasing the new onboarding exposure to 100% of new users"
We want to increase the new onboarding exposure to 100% of new users in the 4.1 release.

We should keep the splash screen with the wc-admin install (#25842), allowing us to implement some changes in the onboarding between 4.1 and 4.2

[2020-03-25 08:22] pmcpinto opened #26011 "Changing the onboarding splash screen copy"
We need to make some small changes in the [onboarding splash screen](https://www.figma.com/file/w7YCgNfdJPFFFsFOmiuneZ/Split-testing?node-id=1%3A224) copy, considering the upcoming changes: #26010 and #25842

Headline: Get your store up and running more quickly with the latest setup experience
Secondary button: Continue with the existing setup experience

[2020-03-25 10:43] gbruzzo opened #26012 "Problems updating to WC 4.0.1"
**Describe the bug**
Action Scheduler update hangs when (manually) updating site to WC 4.0.1  from WC 3.9.3

**To Reproduce**

- **deactivate** all plugins but Woocommerce
- install Woocommerce beta tester
- switch version to 4.0.1
Head over to Woocommerce / Tools / Scheduled Actions
- 5 relevant actions are pending

[code]
the scheduled actions never complete. (waited for days)

If we manually st

[2020-03-25 11:44] chad1008 commented on #25524
Logging another request for this feature from a different site @mischasigtermans - nothing urgent or signifying a change or update

[2020-03-25 12:33] lifeforceinst commented on #25924
Since upgrading to WC 4.01 things have improved a little bit, though when you look at analytics or orders status or customer status then the calls via REST API which populate these tables result in no data, except for the download table.

[2020-03-25 12:41] lifeforceinst commented on #25924
After adding the filter to my theme, this did not disable the new admin interface components.

`  add_filter ('woocommerce_admin_disabled','__return_true');`

[2020-03-25 13:42] rrennick commented on #25997
Sorry @georgestephanis

[2020-03-25 13:46] rrennick commented on #26012
@gbruzzo This is probably due to you switching back and forth between WC 4.0.X & WC 3.9.X. Now that the updates are all complete what happens when you delete the `action_scheduler/migration_hook` action?

[2020-03-25 13:52] rrennick commented on #25924
@lifeforceinst The filter has to be implemented in a plugin. WC Admin is already loaded by the time WP loads the theme.

[2020-03-25 14:13] gbruzzo commented on #26012
Hello there @rrennick

the procedure involved no switching, just a single transition from 3.9.3 to 4.0.1, with all plugins disabled but for Woocommerce and the Beta tester plugin.
- I also tried without the Migrator (as a direct upgrade) - same happens
- I also tried without the Migrator and all plugins enabled - again, the same happens

- when I tried to remove the pending action_scheduler/migrat

[2020-03-25 14:37] juliaamosova commented on #26010
Noting here that currently, our e2e tests start running by running existing setup wizard e2e test:

https://protonpower.wordpress.com/2020/03/18/woocommerce-core-e2e-tests-next-steps/

This test serves as a literal setup for the site (creating pages and setting general settings). If this test fails, all other tests fail after that. It is important to write a new e2e test for the new onboarding exp

[2020-03-25 14:40] juliaamosova commented on #26010
I am happy to write the test but need to know when PR with the change is submitted so that I could commit the test to that said PR to keep e2e tests running once PR is merged.

[2020-03-25 16:15] rrennick commented on #26012
The most likely reason is because your staging site isn't running actions automatically per my previous comment.

[2020-03-25 16:54] gbruzzo commented on #26012
@rrennick

thank you for the clarification

Giacomo

[2020-03-25 17:49] novelneighbor opened #26014 "Variable Product Error Message: "Please select some product options...""
**Describe the bug**
I have a variable product in my woocommerce store. Whenever I try to submit the order form, I get an error message that reads "Please select some product options before adding this product to your cart." even though the form is completely filled out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://thenovelneighbor.com/product/mystery-box/
2. Fill Out the fo

[2020-03-25 18:22] gjanezic opened #26015 "Broken HTML email"
**Describe the bug**
Since updating to the latest WooCommerce version, HTML emails are "broken".

**To Reproduce**
Just make a simple order.

**Screenshots**
<img width="1280" alt="8FJ6Y" src="https://user-images.githubusercontent.com/2143237/77570898-c1add480-6ecc-11ea-832a-402c6f2bb89b.png">

**Expected behavior**
I would expect a normal HTML email.

**Isolating the problem (mark completed items

[2020-03-25 18:48] timmyc commented on #26000
SVG would be great, @allendav just include this in the PR(s) you are working on in wc-admin. I don't think this needs to be added to woo core specifically. In the event that it gets used elsewhere it seems like we could revisit it.

[2020-03-25 18:54] svaldesm commented on #20336
@claudiosanches hey Claudio, I was trying what you said and indeed the POST is sent, but there's absolutely no data on the order itself (compared to the other options, that send all the data out of the box). How is this suppose to be done to send a POST **only when the order is completed with the data of the order**?

Thanks!

[2020-03-25 18:55] timmyc commented on #26010
@juliaamosova I can work on the switch to 100% usage today, I'll cc you on the PR.

[2020-03-25 18:59] timmyc commented on #26011
@pmcpinto what are we changing the secondary text/action to? Seems like we should just switch it over to the pattern used in the legacy OBW that lets people exit from the OBW.

[2020-03-25 19:31] yukikatayama commented on #25073
Adding another [instance](https://wordpress.org/support/topic/woocommerce-paypal-checkout-gateway-not-compatible-with-woocommerce-4-0/) where there's confusion and worry about updating WC and PayPal Checkout due to similar [message](https://github.com/woocommerce/woocommerce/issues/25073#issuecomment-598306064) from @stephhjacq's last image.

[2020-03-25 19:41] juliaamosova commented on #26010
Sounds good @timmyc thanks!

[2020-03-25 22:11] Chavesjr commented on #25699
somehow is it possible to be fixed in this on release 3.9.2 Pls

[2020-03-25 23:11] nerrad commented on #25465
Just noticed a typo in your comment @juliaamosova .  Did you mean "we should contribute to the `@wordpress/env` package"?

[2020-03-25 23:19] ObliviousHarmony commented on #25991
Hello @vasikgreif,

You should be able to use the `woocommerce_product_read` filter in this case. That filter allows you to make changes to the product after it gets read but before any code makes use of it.

[2020-03-25 23:19] #25991 closed

[2020-03-25 23:20] juliaamosova commented on #25465
@nerrad yes, a typo! Thanks for catching. Corrected.

[2020-03-25 23:40] ObliviousHarmony commented on #25994
Hello @LeoGraphic,

We limit our search to children of `form.$product` so that we only perform the searching on that variation's form. If we changed it to `$( 'html' ).find(` it would grab every `.product_meta` class instance in the DOM, including those for other variations and the central product info itself.

As an aside, code changes are better submitted as pull request so they can be more read

[2020-03-25 23:40] #25994 closed

[2020-03-25 23:44] juliaamosova commented on #26015
Hi @gjanezic,

Thank you for raising the issue. However, I can’t reproduce it on my end.

Email looks good (tested with WooCommerce 4.1):

![email](https://user-images.githubusercontent.com/19143190/77595845-b0ff5d80-6ed0-11ea-949b-3998c36b0846.jpg)

I see that you have several plugins installed. You indicated that you performed plugins conflict testing, however, I always like to confirm.

Please

[2020-03-25 23:49] juliaamosova commented on #26008
Hi @nicolasdelrio,

Thank you for submitting the issue. However, I don't understand how to reproduce your issue.

What do you mean by `Desktop`? What URL are you trying to navigate to?
Please provide us with more details about the issue which may help us to evaluate it further.

Would you please specify what exactly do you want to disable?

@alexonbalangue I can't tell if your issue is the same as

[2020-03-26 01:34] juliaamosova commented on #26014
Hi @novelneighbor,

Thank you for raising the issue. However, it looks like it is caused by the plugin that adds the form to the variable product. It is easy to check by doing plugins and theme conflict check.

To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.org/themes/storefront/). Then test again an

[2020-03-26 01:38] juliaamosova commented on #26001
Hi @haszari,

Thank you for reporting the issue. It is indeed had been reported previously here https://github.com/woocommerce/woocommerce/issues/25624 (with PR pending author's feedback). We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-03-26 01:38] #26001 closed

[2020-03-26 01:47] haszari commented on #26001
@juliaamosova Just to be clear - there are two places this issue occurs, the lost/reset password flow and the my account page (change password flow).

I'll add a comment to #25627 to ensure both flows are tested – hopefully the PR covers both cases :)

[2020-03-26 02:15] juliaamosova commented on #26000
Based on recent @timmyc's comment, I understand this issue can be closed for now, correct?

[2020-03-26 02:17] juliaamosova commented on #26001
Noted, thanks a lot @haszari!

[2020-03-26 03:33] luanmario opened #26017 "Shop cart not working properly"
**Describe the bug**
Since updating to the latest WooCommerce, my Shop Cart not work properly.

**To Reproduce**
Check this vídeo and try the same.
https://drive.google.com/file/d/1yNHqZHxdXN1XrzEwvdmuADjUgrS79H-v/view?usp=sharing

site link: htttps://www.mercadoaju.com

**Expected behavior**
I would expect a normal shop cart.

**Isolating the problem (mark completed items with an [x]):**
- [X] I

[2020-03-26 07:30] gjanezic commented on #26015
Hello Julia,

thank you for responding to my ticket.

It's true there are a lot of plugins installed but they are all deactivated.
I am also using Storefront template.

I've changed the language to English but the issue is not resolved.

<img width="1280" alt="Screen Shot 2020-03-26 at 08 21 40" src="https://user-images.githubusercontent.com/2143237/77620567-f0629400-6f3a-11ea-8799-4bf18eb847bd.pn

[2020-03-26 10:36] pmcpinto commented on #26011
@timmyc yesterday I added my suggestion [here](https://github.com/woocommerce/woocommerce/pull/25842#issuecomment-603778483). I forgot to add the same comment on this issue. Here it goes:

- Show the ab test splash screen to 100% of new users
- If the users select "Yes please": install the new wc-admin version (in case it's different from the one on Core)
- If the user select "Continue with the ex

[2020-03-26 13:22] hqin2013 opened #26019 "CSV Import Question: Why Variations ‘Color’ not show?"
Hey

I have used the Dem CSV template, and made it work in WC, only one problem is:

Have Set "Attribute 1 name | Attribute 1 value(s)" for "variation"

![2](https://user-images.githubusercontent.com/3657122/77651319-951abb00-6fa7-11ea-8cb6-acf741306988.JPG)

But WooCommerce shows "Any Color"
![1](https://user-images.githubusercontent.com/3657122/77651326-9815ab80-6fa7-11ea-89cc-b07488e6b81a.JPG)

[2020-03-26 16:45] timmyc commented on #26000
I think so, closing.

[2020-03-26 16:45] #26000 closed

[2020-03-26 17:46] peterfabian commented on #25699
@Chavesjr

You can download WC 3.9.3 from wordpress.org, take these 4 files, then replace the existing ones you have in WC 3.9.2 with the new ones and it should work (**please back up before doing this just in case**):
- includes/abstracts/abstract-wc-order.php
- includes/class-wc-cart.php
- includes/class-wc-coupon.php
- includes/class-wc-discounts.php

[2020-03-26 18:34] gjanezic commented on #26015
Putting a comment on wp-includes/class-phpmailer.php, line 2243:

if (‘base64’ != $this->Encoding and self::hasLineLongerThanMax($this->Body)) {
// $bodyEncoding = ‘quoted-printable’;
}

…seems to fix the issue.

[2020-03-26 18:40] muhammedyagci commented on #25458
I have same bug. I am waiting for solving

[2020-03-26 18:57] conschneider commented on #25563
I can reproduce on a fresh local install with Twenty Twenty and Storefront:

Screencast: http://somup.com/cYeOF81lUv

[2020-03-26 19:29] MohamedSaeed4000 opened #26020 "Error: The API credentials you provided are not valid. Please double-check that you entered them correctly and try again."
Please report WooCommerce REST API (https://github.com/woocommerce/woocommerce-rest-api) or WooCommerce Gutenberg Products Blocks (https://github.com/woocommerce/woocommerce-gutenberg-products-block) issues directly to their respective repositories.
Error: The API credentials you provided are not valid. Please double-check that you entered them correctly and try again.
Please help me ..

[2020-03-26 19:43] jshrek commented on #25563
I have also reported this issue on the WooCommerce support forum on wordpress.org ... feel free to post a comment there as well!
https://wordpress.org/support/topic/products-still-show-in-search-results-even-with-catalog-visibility-set-to-hidden/

[2020-03-26 19:53] lionhurt commented on #25907
Sorry it's theme issue.

[2020-03-26 19:55] juliaamosova commented on #25907
Hi @lionhurt thanks for getting back to us and confirming the cause of the issue. No need to be sorry :)

[2020-03-26 19:56] juliaamosova commented on #26020
Hi @MohamedSaeed4000,

Thank you for reporting the issue. WooCommerce REST API is being developed in another repository: https://github.com/woocommerce/woocommerce-rest-api.

I am going to move your bug report there so that the right team could take a look further.

[2020-03-27 01:34] lemoatom commented on #25458
I have same bug. I am waiting for solving

[2020-03-27 01:50] AmeenJalali commented on #25989
Try this:

add_filter('woocommerce_get_country_locale', 'make_PL_state_required');
function make_PL_state_required($locale){
  $locale['PL']['state']['required'] = true;
  return $locale;
}

[2020-03-27 01:50] AmeenJalali commented on #25989
Try this:

`add_filter('woocommerce_get_country_locale', 'make_PL_state_required');
function make_PL_state_required($locale){
$locale['PL']['state']['required'] = true;
return $locale;
}`

[2020-03-27 05:22] SiR-DanieL commented on #25401
I can reproduce this with Google Chrome.

Open the Edit product screen and then Inspect something. Set the responsive visual to iPad and switch to Landscape mode.

[2020-03-27 05:29] MatthieuDara commented on #25401
Hi everybody, same problem on my ends with an Asus tablet using android...

[2020-03-27 06:20] dphyled commented on #26015
@juliaamosova , there is discussion in [the forum post that @gjanezic had linked to](https://wordpress.org/support/topic/woocommerce-emails-html-broken/) above with info/status reports from several other users seeing the same issue.

In at least 2 cases, changing hosts fixed the issue for users. One of the hosting companies that has users experiencing the issue has also posted an article here:
htt

[2020-03-27 09:58] wparuch opened #26023 "[4.0.1][regression] User with "shop manager" role is unable to edit orders after upgrade"
**Describe the bug**
User with "shop manager" role is unable to edit orders after upgrade from Woocommerce 3.8.x

**To Reproduce**
Steps to reproduce the behavior:
1. Create user with "shop manager" role and login
2. Go to 'Woocommerce -> Orders'
3. Click on any order
4. See blank page

**Expected behavior**
Shop manager should be able to edit orders as before.

**Isolating the problem (mark compl

[2020-03-27 13:09] peterfabian commented on #25999
Hi @AaaTex
Were you able to check if the server that runs the site suffered memory exhaustion during those requests?

[2020-03-27 13:20] peterfabian commented on #25750
Yup, thanks.

[2020-03-27 13:20] #25750 closed

[2020-03-27 18:18] allendav commented on #26000
I still think SVGs are so cool :)

[2020-03-27 18:18] timmyc commented on #26000
i think you are cool @allendav

[2020-03-27 18:20] novelneighbor commented on #26014
Hello,

Thank you for your help! There was an issue with the way the Gravity form was configured, which I have since resolved.

[2020-03-27 18:20] #26014 closed

[2020-03-27 18:21] allendav commented on #26000
Right back at ya, man

[2020-03-27 18:41] juliaamosova commented on #26014
Thanks for letting us know @novelneighbor!

[2020-03-27 20:00] valdiks commented on #25815
I have issues with VAT calculations too. It does not matter what settings are set. In any option I get wrong calculations.
VAT 21%, item price with VAT - 7.69 EUR, delivery price 3 EUR.
Email with order information shows that total is **10.70** EUR (VAT included). (Theme - Storefront).
But backend shows that total is **10.69** EUR.
Rounding is set to "Round tax at subtotal level, instead of roundi

[2020-03-27 20:17] gevcen opened #26027 "Update categories success message wrongly disappears"
**Describe the bug**
When you update a category, there is a success message that appears. However, this message suddenly disappears after a second, which is not normal.

**To Reproduce**
1. Create a cateogry
2. Update the category

**Screenshots**
If applicable, add screenshots to help explain your problem.
https://gevcen.tinytake.com/tt/NDE2NjYzMl8xMjg5ODg4OA

**Expected behavior**
The success me

[2020-03-27 20:33] kevin718 opened #26028 "auto merge feature for users using the same email, logged in or logged out"
Users are unable to see orders they placed, prior to creating an account. Moreover, they can't see orders they place when they're not logged in (but with the same email).

There should be some type of auto merge feature for user who use Apple Pay or Google Pay that use the same email. This data is available for the admins/store dashboard but the users cannot see orders not placed while logged in.

[2020-03-27 21:29] nachoserna commented on #25895
The problem persists on Woo 4.0.1

`Fatal error: Uncaught RuntimeException: Error al guardar la acción: Error al guardar la acción: Table 'db4kpfq58e5qqz.wp_actionscheduler_actions' doesn't exist in /home/customer/www/miaumiau.co/public_html/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php:44 Stack trace: #0 /home/customer/www/miaumiau.

[2020-03-27 23:03] svenms commented on #16620
Hi everyone,

I've just had similar problems for a long time since I created a plugin to synchronize my Woocommerce stock with my billing system. When a Variation stock is updated via:
`update_post_meta($idPost, '_stock', $qty);`
Then the Variable Product is not told to update its Stock.
But if you add the following code to the update process, then you'll tell Woocommerce to update the Variable Pr

[2020-03-28 03:35] streamworksaudio commented on #25987
@rrennick sorry I should have noted that originally.  I have been away since posting this.  I cannot recall as to why during my testing made me think that there could be an issue with the database tables, however after deleting the following tables and allowing WooCommerce to recreate them the errors I was getting with the action scheduler went away.

wp_actionscheduler_actions
wp_actionscheduler_

[2020-03-28 10:16] Mic2005 commented on #25815
I have a question to you all. What shipping option do you use? Default Woocommerce or other 3th party? If 3th party, try a default Woo shipper and look if that works for the VAT.
I use a 3th party shipping option and there is a bug, they work on that.

[2020-03-28 11:29] gevcen commented on #25815
I use default WooCommerce shipping options. I don't have any third-party plugin for shippings.

[2020-03-28 13:00] rngeer commented on #25895
Hello, Action Scheduler plugin update didn't help us either. Still getting persistent DB calls in 2.0.1:

[Fri Mar 27 12:05:37.225479 2020] [lsapi:error] [pid 228781:tid 139652593686272] [client 107.180.56.153:53184] [host www.powmiamemorial.org] Backend fatal error: PHP Fatal error:  Uncaught RuntimeException: Error saving action: Error saving action: Table 'n43341505425393.d8d_actionscheduler_ac

[2020-03-28 14:23] Mic2005 commented on #25815
Oke check. No settings issues. I only have this issue sometimes with my cPSP. There is a difference € 0.0. I will follow this ticket.

[2020-03-28 17:46] KaijuDeluxe opened #26029 "API really Slow"
Hi, when I update a product it takes 2-3 seconds to update the product, is that usual? We are hosted on a dedicated machine with SSD. Also importing Products takes hours

[2020-03-29 04:14] davidolo commented on #22706
This issue is over a year old, would it not be a relatively quick win compared to the other bugs/feature requests with more votes since the functionality has already been built for simple products?

We struggle to keep track of what level certain product variants need to be kept in stock, not sure how we're meant to do it until support for this is added...

[2020-03-29 05:08] #26019 closed

[2020-03-29 07:48] svenauhagen opened #26030 "Woocommerce Dashboard Quarter to Date"
Hi,

in Woocommerce 4.0.1 when I use the Dashboard preset Quarter to Date the statistics percentage do not work and the PHP process goes to 100% CPU until the timeout is reached.

When I pick the dates manually for the quarter until today it works fine.
I attach a screenshot.

Best
Sven

<img width="1253" alt="Screenshot 2020-03-29 at 9 46 42 AM" src="https://user-images.githubusercontent.com/2235

[2020-03-29 10:16] mrg-solutions commented on #26030
Hi all,
i have encountered exactly the same issue on my side last night.
But i have these problem also with "Week to Date".
-> the database connections are also a huge amount.
During the try the whole webpage is also not available due to the many webserver processes and database connections....

<img width="1300" alt="Bildschirmfoto 2020-03-29 um 12 13 41" src="https://user-images.githubuserconten

[2020-03-29 14:02] opicron commented on #26029
Are you using rest api? If so, use batches (100 products max) per batch.

[2020-03-29 14:47] KaijuDeluxe commented on #26029
Hi, we already tried it. But it was also not fast. Its persisting on product after the other. I think its because of the database structure and the speed can't be improved, even when it has variations

[2020-03-29 15:13] lkraav commented on #26029
@pawelkmpt can you offer insights here? I think we've recently been through this

[2020-03-29 15:16] lkraav commented on #26029
@KaijuDeluxe if you have a serious business there, and time is of essence, go with @tideways or @newrelic and start profiling individual API requests ASAP.

[2020-03-29 23:15] nicolasdelrio commented on #26008
Hello Julia,
I open the admin woocommerce page (example : /admin.php?page=wc-admin). After this i can't use my webpage along 5/10 minutes.

Sorry my delay, and in relation to disable I talk about the analyzes that indicate this screen.
According to what my hosting told me (GoDaddy, it's bad, I know) the plugin collapses the server.

I really don't know, I've tried disabling inventory and removing

[2020-03-30 07:29] arunsathiya commented on #25212
2822321-zen

[2020-03-30 07:35] jayantsr83 commented on #22019
Is it necessary to send `deliver_url` like `http://requestb.in/1g0sxmo1` . Can't I send the direct URL of my website?

[2020-03-30 08:15] RistoNiinemets commented on #26008
Hi,

I think I may have the same issue. The admin, orders etc works, but once I open the new Dashboard page in administration, it will load the screen (with data loading indicators in each report section), and then crashes for a while, the server produces 503. The API calls will stay pending until it crashes.

[2020-03-30 08:26] pawelkmpt commented on #26029
Unfortunately yes.

I can.

We were facing API performance issues 2-3 years ago, but I believe problems might be similar today due the the same/similar way products data are stored in DB and handled.

We operated mostly on variations and the biggest problem was lack of possibility to batch insert variations and then flush the cache, update parent product. Basically if you import 100 variations, ca

[2020-03-30 12:15] rrennick commented on #25895
@nachoserna @rngeer Do you have MySQL 5.7? If so, see https://github.com/woocommerce/action-scheduler/issues/437#issuecomment-605147523

[2020-03-30 12:30] rrennick commented on #25987
@streamworksaudio Thanks for the follow up.

[2020-03-30 13:15] opicron commented on #26029
How did you flush the cache after import?

[2020-03-30 13:35] juliaamosova commented on #26008
Hi @nicolasdelrio, @RistoNiinemets,

Thanks for the follow-up and additional details. Looks like the issue is caused by the WooCommerce Admin side of things.

WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-03-30 13:38] juliaamosova commented on #25987
Thanks for your follow-up @streamworksaudio. Looks like you are all set for now so I am going to close the issue. Let us know if we missed anything via comment and we'd take a 2nd look.

[2020-03-30 13:38] #25987 closed

[2020-03-30 13:41] juliaamosova commented on #25972
@zstran95 can you please try a brand new install on nginx with only WooCommerce activated?

[2020-03-30 13:42] pawelkmpt commented on #26029
@opicron I have custom WP-CLI commands using native WooCommerce methods (CRUD) and clear cache using `wc_delete_product_transients( $product_id )` at the end of the process.

REST API [does the same](https://docs.woocommerce.com/wc-apidocs/source-class-WC_REST_Product_Variations_V2_Controller.html#475-483) and even more:

[code]

[2020-03-30 13:43] juliaamosova commented on #26012
Looks like you are all set for now @gbruzzo - I am going to close the issue. Feel free to comment again on this issue in case we missed something and we'd take another look.

[2020-03-30 13:43] #26012 closed

[2020-03-30 17:02] DarkAllMan commented on #26030
I have same issues!

[2020-03-30 17:54] thomas-zg commented on #26030
A while ago, I had another issue with an wrong database query. Do you see any error messages in the logs?

[2020-03-30 18:00] C-Nog opened #26032 "Woocommerce Subscription is inactive"
Hi I'm using Woocommerce Subscription 3.0.2 and Woocommerce 4.0.1.
The plugin its not working anymore and I keep seeing this warning that makes no sense at all, because Im already running updated versions of both: https://ibb.co/G9WPsjg

Please need help.
Thanks

[2020-03-30 19:05] mrg-solutions commented on #26030
In the woocommerce Logs under the section „WooCommerce -> Status -> Logs“ is only visible, that the php max_execution time out is reached.
Some failing queries are not logged.
Webserver and database Logs are also clear. -> Only the reaching time out is logged there.

[2020-03-30 19:06] svenauhagen commented on #26030
Same here

[2020-03-30 19:08] svenauhagen commented on #26030
if you let me know the function that is being called in the backend I can debug the problem. I am just a bit short on time and that would help me to get started faster.

[2020-03-30 20:02] AmeenJalali opened #26033 "Login not working properly"
**Describe the bug**
We have login issues with some customer accounts. When customers wanted to log in to website from the my-account page, they didn't see any errors and they couldn't see my-account dashboard page and the my-account page refreshed and login form appeared again but logged_in cookie has been set.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Account page (Login fo

[2020-03-30 20:50] AmeenJalali commented on #26033
The problem was PHP 7.4
I switched to version 7.3 and the bug does not exist more.
Resource: https://github.com/woocommerce/woocommerce/issues/25660

[2020-03-30 21:13] #25810 closed

[2020-03-30 21:26] tammullen commented on #26017
Hi @luanmario,

Thank you for raising the issue. However, I can’t reproduce it on my end.
​
I am able to add multiple of the same product to my cart from both the store and the product page.
​
I see that you don’t use one of our default themes which could cause an issue. It looks like your theme has added the quantity increment/decrement buttons which aren't working as expected.

Please test your

[2020-03-30 21:58] #26033 closed

[2020-03-31 06:13] akinocakk opened #26035 "Tax options"
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

Steps to reproduce the behavior:
1. Go to wc-settings page
2. Click on tax tab
3. Add "Additional tax classes" input -> "%18 TAX" (text)
4. Save and update page
5. Click %18 TAX section (pa

[2020-03-31 07:16] karinorage opened #26036 "Woocommerce emails show no content because space between </titl .. e>"
**Describe the bug**
All email notifications show the tablestructure but show no content.
I noticed that the html-output of the e-mail produces a blank space the closing title:
</titl e> instead of </title.
==================
<!DOCTYPE html>
<html lang=”nl”>
<head>
<meta http-equiv=”Content
-Type” content=”text/html; charset=UTF-8″>
<title>Skindependent</titl
e>
</head>
==================
When I m

[2020-03-31 07:21] DarkAllMan commented on #26030
Multiple log entries with:
`CRITICAL Maximum execution time of 240 seconds exceeded in /wp-content/plugins/woocommerce-admin/src/API/Reports/TimeInterval.php in line ###`
Where lines are 171, 307, 321, 323

[2020-03-31 08:11] DanielRuf commented on #26015
The bug is caused by the structured data in the email template.

After removing it using the following code it works:
https://remicorson.com/remove-the-woocommerce-3-json-ld-structured-data-format/

Not sure why the structured data has to be in an email. That makes not much sense.

[2020-03-31 08:12] DanielRuf commented on #26015
@gjanezic after this check which is the longest line in the sourcecode of the delivered email and how long it is. I guess it is also the structured data part.

[2020-03-31 08:15] DanielRuf commented on #25944
Also see https://github.com/foundation/foundation-emails/issues/980

This might dramatically increase the size of the email and the CSS content of emails.

[2020-03-31 08:42] zohurul88 opened #26037 "wp_posts table post_status update with processing instead of wc-processing"
I am working for a payment gateway I am writing bellow code
[code]
I notice the wp_posts table post_status updated with processing while I am updating status from the web panel GUI it updated with wc-processing
![image](https://user-images.githubusercontent.com/6093194/78005839-f6eb7400-735d-11ea-818e-11515ef945b8.png)

In the above image id **79** updated from the panel and **80** updated program

[2020-03-31 09:36] leinadlime opened #26038 "Visual helper to understand WP/WC-context when uploading Downloads"
USE CASE:
Customer sells files as virtual products ('downloads')
When uploading those files, in the product-data table-sheet in the product-edit-page,
the 'mediathek' is opening.
This modal looks the same,
never the less, different buttons will upload to different context:
1) add "media files" (in descriptions): uploads to public access
2) add "downloadable files" (under woocommerce product data):

[2020-03-31 10:21] tammullen commented on #26023
Hi @wparuch

Thank you for raising the issue. However, I can’t reproduce it on my end.
​
Using a user with shop manager role I can access orders with no issues
![Screenshot_2020-03-31_at_11_20_01](https://user-images.githubusercontent.com/24649833/78015771-c990cd00-7341-11ea-82d9-7ca622633b98.png)

​
I see that you have several plugins installed and that you don’t use one of our default themes whi

[2020-03-31 10:29] namanmodidigital opened #26040 "Is there a way to create a separate Order Summary Page after checkout page?"
I'm setting up the functionality of the Multiple Shipping Address for Multiple products in Single order. I wanted to create a separate page after checkout which will show the complete order summary along with payment gateway. I wanted toIs there a way to add that? Currently, the checkout page contains the entire order details along with payment gateway. Let me know the possible options to achieve

[2020-03-31 10:54] tammullen commented on #26027
Hi @gevcen

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

Updating a category, tag or attribute in 3.93 we see a success notice which remains on the screen.

![Screenshot 2020-03-31 at 11 48 41](https://user-images.githubusercontent.com/24649833/78018596-170f3900-7346-11ea-8ff4-d7a20f07676e.png)
![Screenshot 2020-03-31 at 11 48 19]

[2020-03-31 11:44] tammullen commented on #26030
Hi @svenauhagen

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your issue there so that the right team could take a look further.

[2020-03-31 12:08] JLariccia opened #26041 "Tax is not being charged"
**Describe the bug**
Tax is not being applied to orders

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
ATTACHED!
<img width="723" alt="Screen Shot 2020-03-31 at 7 57 04 AM" src="https://user-images.githubusercontent.com/55512698/78024712-d653f780-7326-11ea-8d09-da703224b823.png">

[2020-03-31 12:13] peterfabian commented on #26015
We've requested access to blacknight hosting so that we can reproduce the issue and will be looking at the culprit as soon as we get access.

[2020-03-31 12:48] fernandotellado opened #26042 "In localized versiones the link to Run scheduled actions doesn't work"
**The bug**
When in 'WooCommerce Admin > Status > Scheduled Actions' in the localized versions of WooCommerce (tested for Spanish and German) the action links when hovering on any action don't appear and cannot be run/forced the scheduled action.

We've reviewed the translations and **it doesn't appear to be a translation issue**.

**To Reproduce**
Steps to reproduce the behavior: To have WooComme

[2020-03-31 13:15] juliaamosova commented on #26027
Hi @gevcen,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce-admin/issues/3964. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-03-31 13:15] #26027 closed

[2020-03-31 13:46] DanielRuf commented on #26015
This (some SMTP plugin) (probably) bypasses class-phpmailer.php and the issue with the HTML split by the function in WordPress (class-phpmailer.php). I think it is still the structured data part which is not output in the plaintext version ;-)

[2020-03-31 13:56] joseconti commented on #26042
I have been checking this problem with German, Catalan, Spanish, Danish, Galician, French and Italian, all languages have the same problem.

If the actions/string are translated, they disappear and cannot be used.

This is a very old problem.

[2020-03-31 18:14] tammullen commented on #26032
Hi @C-Nog

Thank you for raising the issue. However, I can’t reproduce it on my end.
​
I was able to have WooCommerce Subscriptions 3.0.2 active with WooCommerce 4.0.1
​
However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**

[2020-03-31 19:15] tammullen commented on #26035
Hi @akinocakk

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot_2020-03-31_at_20_10_09](https://user-images.githubusercontent.com/24649833/78066018-1ac5ae80-738c-11ea-8e49-1041a48c50f8.png)

​
We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported.

[2020-03-31 19:22] tammullen commented on #26036
Hi @karinorage

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further including the full system status report so we can see what plugins and theme you are using.
​
**Describe the bug**
A clear

[2020-03-31 19:24] tammullen commented on #26041
Hi @JLariccia

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-03-31 19:25] tammullen commented on #26040
Hi @namanmodidigital

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service

[2020-03-31 19:25] #26040 closed

[2020-03-31 20:20] #25244 closed

[2020-03-31 23:16] Masterjoa commented on #9320
Same in Belgium...
Having an "enter shipping costs inclusive of tax" option would fix everything.
I can't believe this has not been addressed yet 🙄

[2020-03-31 23:17] tpittman1184 opened #26045 "The product price shown on the cateogry page does not reflect actual product-level price"
Check this URL for Skin Rejuv and the price is listed as $255 for HydraFacial.
-https://neamanplasticsurgery.com/product-category/skin-rejuvenation/
Then click through to the product page and you can see the prices arn;t reflected properly on the prior page:
-https://neamanplasticsurgery.com/product/hydrafacial/

It starts at $418, why is it listed as $255 on the category page?

[2020-04-01 02:01] tin-soldier commented on #17693
+1 for this as a must have UI change. Is there a function that can be added in the meantime.

I've found you can add a tax inclusive column to the line items with this: https://stackoverflow.com/questions/46546482/woocommerce-admin-order-detail-page

but the amounts are not editable. Any ideas?

[2020-04-01 08:34] deyil commented on #25989
I am facing the same issue.
After contacting my theme developer (thought it their issue) the mentioned that by default State is required.

But in Greece State field in shipping and billing is optional. In other EU countries, it is required?!

I am attaching relevant photos.
<img width="606" alt="Screenshot 2020-04-01 at 11 33 55 AM" src="https://user-images.githubusercontent.com/872880/78116271-b5

[2020-04-01 09:59] dphyled commented on #26015
Have another user reporting that they were seeing the issue with Qmail mailer as well:

[2020-04-01 10:14] tammullen commented on #26045
Hi @tpittman1184

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2020-04-01 10:38] DanielRuf commented on #26015
Because they probably wrap the content to a max length. Check the structured data part.

[2020-04-01 10:49] Mtarnuhal commented on #26036
Seems to be related to #26015

[2020-04-01 10:53] peterfabian opened #26053 "Package unit tests not running in Travis"
Unit tests from REST API, WC Admin and Blocks are not running in Travis, which is not good. We need to update the Travis builds to include those tests and run them along with our tests to make sure the changes we're making are not breaking e.g. REST API (or some other included package).

[2020-04-01 10:56] Mtarnuhal commented on #26015
We have the same issue with 2 sites. They are on specialized WordPress hosting.
Random spaces in HTML Tags & normal text.
![WoocommeceMail](https://user-images.githubusercontent.com/2243505/78129451-ebf51a00-7417-11ea-8d91-7fb1add9fe77.png)

[2020-04-01 11:20] karinorage commented on #26036
Hi @tammullen ,
Sorry for not being more specific, the error needed urgent repair, so I didn't make the time to give a more elaborate answer, instead I researched more sources. As @Mtarnuhal mentioned, it is indeed related to #26015 as the trouble started with version 4.
I was however kindly helped by @DanielRuf who advised me to add the following code to my functions.php See: [https://remicorson.

[2020-04-01 11:20] #26036 closed

[2020-04-01 12:54] peterfabian commented on #25912
This should be fixed now.

[2020-04-01 12:54] #25912 closed

[2020-04-01 13:09] arcangelini opened #26054 "Deleted users still showing under WooCommerce Customers"
**Affected User**
19810641-hc

**Describe the bug**
Using WooCommerce 4.0.1 when a user is deleted from WordPress under Users section, they are still appearing in WooCommerce ⇢ Customers in the list with a broken link to the profile page when clicking on the username.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Users and delete one that has had previous orders on the site
2. Go to

[2020-04-01 13:19] rrennick commented on #26054
Original issue https://github.com/woocommerce/woocommerce-admin/issues/3810

[2020-04-01 14:08] DanielRuf commented on #26015
@Mtarnuhal and all others, please try https://wordpress.org/support/topic/woocommerce-emails-html-broken/page/3/#post-12605048

[2020-04-01 14:10] DanielRuf commented on #26015
Copied from my comments:

https://wordpress.org/support/topic/woocommerce-emails-html-broken/page/3/#post-12605048

https://wordpress.org/support/topic/woocommerce-emails-html-broken/page/4/#post-12605786

[2020-04-01 17:35] SowellM commented on #26054
In addition to users not being removed from wp_wc_customer_lookup users are also not deleted from wp_followup_customers if the Follow-Ups plugin is installed.

[2020-04-01 20:07] tivnet opened #26059 "Missing translations in i18n.data.woocommerce"
In `languages/plugins/woocommerce-ru_RU.mo`

[code]

But when it comes to `dcnpgettext()`, I do not see "Currency" in `i18n.data[domain]`.
There are some strings, but not all from POMO.

[2020-04-01 23:05] daschenbrener commented on #24288
Im seeing this issue on my site right now as well.
i cannot seem to get any restriction to work at all.

[2020-04-01 23:40] bmcculley commented on #26002
I'm not sure if I've missed a use case of the Hold Stock time, but removing that check from from the coupon limit per user check seems to fix this issue.

I've submitted pul request #26058 with my proposed change.

[2020-04-02 00:53] tivnet commented on #26059
@rrennick The string I've mentioned does exist in the core. But in the admin package, it does not.

[2020-04-02 06:00] AashikP commented on #26015
Another report in [invoice-emails-have-errors-and-code](https://wordpress.org/support/topic/invoice-emails-have-errors-and-code/).

[2020-04-02 06:32] #26037 closed

[2020-04-02 11:01] rynaldos opened #26062 "Sales by product export function is misleading"
Howdy!

The "Sales by product" export function, found under WooCommerce > Reports > Orders doesn't work from:

admin.php?page=wc-reports&tab=orders&report=sales_by_product

This export button:

<img width="1260" alt="Screen Shot 2020-04-02 at 13 00 18" src="https://user-images.githubusercontent.com/6198774/78242299-0d223d00-74e2-11ea-83e4-add7304c2c03.png">

The user has to select an actual produc

[2020-04-02 11:34] rrennick commented on #26059
@tivnet Yes, that's the reason I transferred the issue.

[2020-04-02 11:45] ultimatiumsaw opened #26063 "Bug in cost shipping zone not update"
hi sir i have a problem in calculator woocomerce look photo all zone shipping is fine just 6 zone

1 : https://prnt.sc/rr5f2k
2 : https://prnt.sc/rr5fhy
3 : https://prnt.sc/rr5frb
4 : https://prnt.sc/rr5g01
5 : https://prnt.sc/rr5g76

cordialy

[2020-04-02 12:20] k9confidential opened #26064 "With the new version of woocommerce i get a white page when i go to edit any page on my website"
Since installing the new version of woocommerce I can no longer edit any page, it eitehr comes up white or that there has been an error. Without woocommerce the site works beautifully.

Looking through responses I see it is most likely not compatalble with our theme. But i cannot just up and change our theme after we have worked so hard on it.

I use a flytheme theme called animal pro. It has no c

[2020-04-02 12:35] CarlaL opened #26065 "Poduct-category on mobile show collumns"
**Describe the bug**
Menu items which link to a Product-category page doesn't show the mobile version correct.
It should only show 1 product under each other.

**WordPress Environment**
https://artichoque.nl/product-categorie/schilderijen/arvid-henkes-schilderijen/

![Schermafbeelding 2020-04-02 om 14 27 01](https://user-images.githubusercontent.com/7783304/78249481-b1aa7c00-74ee-11ea-87ad-e302b80

[2020-04-02 14:48] claudiosanches commented on #25073
@juliaamosova we already display the current extension version, so I tried a little different version of option 2:

![Screenshot from 2020-04-02 11-43-07](https://user-images.githubusercontent.com/1264099/78262579-25d92580-74d7-11ea-95e0-26b9bbc90cf2.png)

Still not sure about the `(update is available)` sounds like update available for WooCommerce now.

Maybe we could change to:

Thoughts?

[2020-04-02 15:36] stephhjacq commented on #25073
That is clearer, thanks @claudiosanches
It might be too long to fit on the line, how about this:

[2020-04-02 15:48] juliaamosova commented on #25073
@claudiosanches thanks for continuing to refine the message! I think it gets more clear. @stephhjacq how about combining your latest and Claudio's latest to:

I think it is good to include the new version of the extension that is available so that it is also clear how far behind on the update the user is and for overall clarity. What do you both think?

[2020-04-02 16:12] Kipperlenny commented on #26015
Same problem here

[2020-04-02 16:21] claudiosanches commented on #25073
One more screenshot before I send the commit:

![Screenshot from 2020-04-02 13-20-10](https://user-images.githubusercontent.com/1264099/78273068-b5d19c00-74e4-11ea-87d1-47ee1c2748f8.png)

Looks good now?

[2020-04-02 16:22] juliaamosova commented on #25073
It looks good to me, thanks @claudiosanches! What do you think @stephhjacq?

[2020-04-02 16:36] FreshPhil opened #26067 "Price Including Tax snippet doesn't work on manually created orders"
**Is your feature request related to a problem? Please describe.**
When using the [Prices including tax - Experimental Behavior](https://github.com/woocommerce/woocommerce/wiki/How-Taxes-Work-in-WooCommerce#prices-including-tax---experimental-behavior) snippet:

`add_filter( 'woocommerce_adjust_non_base_location_prices', '__return_false' );`

It works on orders placed on the front end by customers

[2020-04-02 16:44] stephhjacq commented on #25073
This is great, thank you both @juliaamosova and @claudiosanches!

[2020-04-02 16:50] jacoswan opened #26068 "CSV Importer: Variable Product shows Out of Stock when it shouldn't be"
**Describe the bug**
When importing a Variable Product, if the "variable" of the product import has "In stock?" set to NULL and  "Stock" set to "outofstock", then the entire product will show as "Out of Stock" in the product list even if all the variables are in stock and other settings indicate it should be "In Stock".

Once set, perhaps via erroneous import, this setting cannot be undone by an a

[2020-04-02 17:56] tpittman1184 commented on #26045
Sorry about that. Please let me know if this suffices:

Describe the bug
On the category page (Category=Skin Rejuvenation) of our store, the HydraFacial price that is shown is not correct. It says $255. It is a variable product with 4 package levels priced at $418, $540, $648, $720. These prices are shown on the actual HydraFacial product page: https://neamanplasticsurgery.com/product/hydrafacial/

[2020-04-02 19:08] dingo-d opened #26070 "ActionScheduler tables missing in integration tests"
**Describe the bug**
I'm setting up integration tests using [wp-browser](https://wpbrowser.wptestkit.dev/) - which is a codeception based testing suite. I've set everything right but I'm getting errors when running integration tests. Upon running the tests I get

[code]

Tests pass because they are not interacting with WooCommerce yet. There are a bunch of errors above which shouldn't happen.

I t

[2020-04-02 19:20] claudiosanches commented on #25808
I can confirm that while it gets displayed correctly in the product's page, it doesn't update any entry of `_price` in the `wp_postmeta` table and also doesn't update the product lookup table what causes incorrect results while sorting products by price.

[2020-04-02 19:51] muhammedfayazp opened #26071 "product is currently out of stock and unavailable in variation product"
If a variation product has in stock. The result shows as a product out of stock if the general product is nil

[2020-04-02 22:43] tpittman1184 commented on #26045
Also system status info requested from WooCommerce tab: `
### WordPress Environment ###

WordPress address (URL): https://neamanplasticsurgery.com
Site address (URL): https://neamanplasticsurgery.com
WC Version: 3.8.0
REST API Version: ✔ 1.0.2
Log Directory Writable: ✔
WP Version: 5.4
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US
External object cache: –

###

[2020-04-02 23:25] Annie4Star commented on #26070
I had this issue yesterday and I lost my mind for a few hours trying to figure it out.  I had to contact my host to revert my site to last week.  I reverted back to 3.9.3 after I postponed going to 4.0.0 for the sake of some plugins.

[2020-04-02 23:30] Camzilla commented on #19645
@pumka I also noticed I had an inconsequent in my cvs that was messing with my imports. I had one attribute named "Color" while in the variables it was name "Available color".. Your comment helped me find the issue! Thanks! :joy: Double check your attribute names ppl!

[2020-04-03 04:28] SiR-DanieL opened #26073 "Sale price not updated when importing CSV"
**Describe the bug**

I imported a CSV like this:

![](https://d.pr/i/e617dm+)
**Image Link**: https://d.pr/i/e617dm+

Once imported, the product did not have the sale price showing until I click on Update on the product page. All values were set correctly, just not applying.

**To Reproduce**
Steps to reproduce the behavior:
1. Import a CSV like the one above updating existing products
2. Check t

[2020-04-03 11:37] menakas opened #26074 "Need hook for COD method availability"
**Is your feature request related to a problem? Please describe.**
When a subscription product with free trial and no initial payment is purchased, the COD method becomes unavailable(https://d.pr/i/5TGDsK), if the "Enable for shipping methods" is set(https://d.pr/i/m33f5x).

This is because this logic on shipping packages [here](https://github.com/woocommerce/woocommerce/blob/master/includes/gatew

[2020-04-03 12:29] lennyanders commented on #12191
I just wrote a little filter to do this.
I think it is likely to break the default WooCommerce Styles and Scripts, but I don't use any of them, so it doesn't matter to me, and to you probably too.

[code]

[2020-04-03 15:34] vedanshujain commented on #26015
Hi folks, thanks for reporting this issue. This issue has a PR now #26075 , if someone has time can you please test it. Unfortunately, I am still not able to reproduce this issue on my local setup, thankfully one of the hosts mentioned here provided me with server to debug, but I would appreciate if others can confirm that patch works on other hosts facing the issue as well.

Meanwhile, as @Daniel

[2020-04-03 17:28] audetcameron commented on #20884
what if you are using a service like taxjar? We are using rest api calls to create an order but unable to post tax information on the order from taxjar information. Any suggestions?

[2020-04-03 17:51] juliaamosova opened #26076 "Multisite: Improve error message when trying to upload products CSV on multisite"
**Is your feature request related to a problem? Please describe.**

Given the nature if a multisite site, plugin and file uploads are not allowed. There is, however, an option to import products on a multisite site. When selecting the CSV file and proceeding with import, the error message comes up letting the user know that the file type is not permitted for security reasons:

![multi](https://use

[2020-04-03 20:21] gevcen opened #26077 "Order of categories is different between Categories page & Product "categories" filter"
**Describe the bug**
If you open the Categories page, you will find one particular order for the categories and sub-categories. However, if you go in the Products page and open the "categories" dropdown filter, then you will see another different order for the categories and sub-categories.

**To Reproduce**
Create multiple categories and sub-categories.

**Screenshots**
https://gevcen.tinytake.co

[2020-04-03 21:11] alberthe commented on #20474
It seems still not fixed yet. When adding tax it shows 0. The tax value has to be entered manually instead of auto calculated and populated.
I'm using OcernWP theme and WooCommerce 4.0.0, but it also happened in previous version.

[2020-04-03 22:21] rustys27 opened #26078 "Woocommerce "email hidden, Javascript" error on email field"
I'm getting a "email hidden, javascript" error on my email field using WooCommerce checkout page.  I've tried everything to get rid of this, and am unable to do so.
![Screen Shot 2020-04-03 at 6 21 34 PM](https://user-images.githubusercontent.com/63129162/78409551-f9f19900-75d7-11ea-9e4d-e697d2e3a800.png)

[2020-04-04 17:27] stevegrunwell commented on #25905
I'm a big fan of mirroring the filesystem structure in tests, especially when autoloading comes into play :)

As a general rule, I'll only use `@testdox` when I need to use punctuation and/or characters that are invalid in function names.

When writing tests for codebases using PSR-12, it's easier to say `someFunction_should_do_something()` (interpreted as "someFunction should do something"), but

[2020-04-05 07:52] poehaldur opened #26079 "Any chance to use WooCommerce Mobile App without Jetpack?"
There is no functionality I need from Jetpack. I only need an app to check my store orders. Is there a way to connect to my store without installing Jetpack?

[2020-04-05 12:08] carazo opened #26081 "Some hook to override shipping tax class in a similar way to woocommerce_product_get_tax_class"
I have deloped some filter to override tax class for different users. In Spain there is a special tax for some customerrs called "Recargo de equivalencia)". I can apply for them a different tax class for products and variations without problem.

But when I try to do it with shipping I cannot find how to do it.

I am able to override tax price of package rates, but this is not so correct because it

[2020-04-05 15:12] UrchenkoV opened #26083 "Warning: woocommerce_recently_viewed cookie cannot be set - headers already sent by."
Hello.
An error appears when enabling the woocommerce plugin:
woocommerce_recently_viewed cookie cannot be set - headers already sent by C:\OSPanel\domains\woo.loc\wp-content\themes\skywp\sidebar.php on line 16

Debug shows this error:
[05-Apr-2020 14:21:35 UTC] PHP Warning:  Cannot modify header information - headers already sent by (output started at C:\OSPanel\domains\woo.loc\wp-content\themes\

[2020-04-05 18:26] dingo-d commented on #26070
There is definitely something wrong with the action scheduler. I can confirm that the tables are there during the test. I went to `ActionScheduler_DBStoreMigrator.php` class and checked values inside the `save_action` and for `$action_id`, `$action`, `$scheduled_date` and `$last_attempt_date` I get

[code]

So things do execute in this hook, but for some reason, it falls to the `catch` part and er

[2020-04-05 20:38] Camilo517 commented on #26079
+1

[2020-04-06 10:18] tammullen commented on #26071
Hi @muhammedfayazp

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

I suggest you also have a look at the inventory management section of the variable product documentation.
https://doc

[2020-04-06 10:22] #26083 closed

[2020-04-06 10:31] #25091 closed

[2020-04-06 10:33] tammullen commented on #26073
Hi @SiR-DanieL

Thank you for submitting the issue.

The default column names for sale dates are  `Date sale price starts` and `Date sale price ends`
https://github.com/woocommerce/woocommerce/blob/87acfa731da6cb75c5ff20e0dafdb038408d69b3/includes/admin/importers/mappings/default.php#L51

Can you confirm if these are also in the csv used and if they are populated.

Have `Sale start` and `Sale end`

[2020-04-06 10:38] tammullen commented on #26070
Hi @dingo-d, thanks for reporting the issue! @rrennick would you be able to take a look at this?

[2020-04-06 10:43] tammullen commented on #26065
Hi @CarlaL

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lackin

[2020-04-06 10:45] tammullen commented on #26063
Hi @ultimatiumsaw

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2020-04-06 10:46] tammullen commented on #26064
Hi @k9confidential

Thank you for submitting the issue and sorry to hear you are having this problem. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug i

[2020-04-06 12:33] #26015 closed

[2020-04-06 12:35] #26002 closed

[2020-04-06 12:52] #25624 closed

[2020-04-06 13:06] rrennick commented on #26070
My suggestion would be to try to set up just [Action Scheduler](https://github.com/woocommerce/action-scheduler) in the testing environment and see if the same occurs. If the same occurs, create an issue in that repo and provide details on the bootstrap process, etc.

[2020-04-06 13:43] madeincosmos commented on #26068
I tested this further today, turns out that importing `In Stock?` = `NULL` creates `_stock_status` meta with NULL value that can't be fixed or updated by making any changes to the product (importing, editing, etc).

The only way to get this fixed is manually deleting all these NULL meta records from the database, now that I did this I can see the products are working fine again.

Ideally we could

[2020-04-06 14:57] dejury opened #26086 "Stock status is incorrect when variations have stock"
**Describe the bug**
I think this covers the bugreport #26071 which is incomplete.

I am currently working on a new woocommerce webshop which fills the products using the REST API. All products have variations, with stock managed on variation level. Backorders are possible if the stock is 0 for certain products.

When I login into the Woocommerce backend, the product overview is showing incorrect

[2020-04-06 16:02] juanmapd commented on #25533
Same issue on Spanish

[2020-04-06 16:22] dingo-d commented on #26070
Will try to do that. I tried adding `\ActionScheduler::init(dirname(__FILE__, 3) . '/woocommerce/woocommerce.php');` inside my `bootstrap.php` file, but I still got the errors.

Is there any special way I should be setting it up with integration tests? Can you point me to any documentation about it? Thanks!

[2020-04-06 17:48] #25073 closed

[2020-04-06 18:22] roymckenzie commented on #25199
I have tried every hook or filter I can find in the documentation and am not able to figure out a way to accommodate this. Our shop cannot be compliant using WooCommerce if I can't get this fixed. This is a huge business problem. Should I just setup the tax as a fee for now? Open to suggestions. Thanks!

[2020-04-06 18:54] #25629 closed

[2020-04-06 18:57] juliaamosova commented on #26017
Hi @luanmario,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-04-06 18:57] #26017 closed

[2020-04-06 18:59] juliaamosova commented on #25972
Hi @zstran95,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-04-06 18:59] #25972 closed

[2020-04-06 19:00] juliaamosova commented on #26023
Hi @wparuch,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-04-06 19:00] #26023 closed

[2020-04-06 19:01] juliaamosova commented on #26032
Hi @C-Nog,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be related to the WooCommerce Subscriptions plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact the WooCommerce helpdesk by [opening a ticket](htt

[2020-04-06 19:01] #26032 closed

[2020-04-06 19:23] vedanshujain commented on #25641
Fixed via #25800

[2020-04-06 19:23] #25641 closed

[2020-04-06 19:23] vedanshujain commented on #25748
Fixed via #25800

[2020-04-06 19:23] #25748 closed

[2020-04-06 20:52] vedanshujain commented on #26010
Adding the high impact label, note that increased to 100% is not the high impact change, but disabling the old wizard is. It can affect custom OBW of various managed WooCommerce hosts who have customized OBW.

[2020-04-07 01:53] iqoOopi opened #26091 "API V3 - How to retrieve Order details by order number instead of id?"
API V3 - How to retrieve Order details by order number instead of id?

[2020-04-07 02:21] danielbitzer opened #26092 "Undocumented return types in wc_get_price_excluding_tax() wc_get_price_including_tax()"
The doc blocks for the functions `wc_get_price_excluding_tax()` and `wc_get_price_including_tax()` state that they will return floats but they can also return strings.

https://github.com/woocommerce/woocommerce/blob/172ceb51e8e63f23142a71f23a2415bf1c5b938a/includes/wc-product-functions.php#L1035

This can lead to "non-numeric value encountered" notices and warnings. The return type should ideally

[2020-04-07 02:44] SiR-DanieL commented on #26073
They are custom but I manually mapped them to `Date sale price starts` and `Date sale price ends` before starting the import.

[2020-04-07 08:29] ninetyninew opened #26093 "Price filter widget does not show for products imported using sample data"
**Describe the bug**
We recently created a test website and added the sample data, we noticed the price filter widget wouldn't show for our products. If we added a product through the dashboard then the price filter would show but only filter based off the new products added. It seems like the sample data may no longer have the required data needed for the price filter widget to show.

**To Reprod

[2020-04-07 08:46] hambergk commented on #26067
Any development on this? We have a customer who creates orders mainly from the backend, so it would be paramount to get this working as soon as possible.

[2020-04-07 10:56] sirion89 opened #26096 "Subcategories pagination"
**Describe the bug**
I would expect pagination to work for subcategories as much as for products. My customer has a lot of product categories, most of them with at least one, and for most of them two child level.
I tried to debug what is happening under the hood but i reach a point where it seems the product_cat query actually has the limit i've chosen via customizer but after that in some point o

[2020-04-07 12:20] Aparajita591 opened #26098 "Woocommerce Subscription: shipping charges according to the number of deliveries"
I need help with: WooCommerce Subscriptions Plugin

Hi, We want to apply the shipping charges on the basis of the number of deliveries. We have added the following code in functions.php for this:

function custom_calculated_shipping() {
    global $woocommerce;
    $attribute_term_pricing = '';
    $cart_contents = '';
    $custom_shipping = 1;
    if (isset($woocommerce->cart->cart_contents) && !

[2020-04-07 14:47] crstauf commented on #26065
Reviewed the demo of the theme: the same thing occurs, so not an issue specific to Carla's site. Could be the theme doesn't properly support responsive product tiles.

[2020-04-07 14:52] danielnielsen-dk opened #26103 "Forward to cart-error.php when stock is low and "hold stock" activated"
The bug happens, when "Hold stock (minutes)" is activated and a product has enabled stock management with e.g. 5 in stock. If you add those 5 products to the cart and someone else in the meantime has purchased one of these, then you get forwarded to cart-error.php when clicking to checkout. The page says the following generic error message: "there are problems with the products in your cart". It d