[2021-11-18 09:30] swatipawarGS commented on #28613
Hi @marcochiesi ,

Thank you for the updated information on this issue.  However, we couldn't reproduce it using the steps provided you. Everything works as expected on our end using WordPress 5.8.2 and WooCommerce 5.9.0 version.

Below is the screencast documenting my experience :

https://user-images.githubusercontent.com/94531721/142895424-1d8ee9f6-40b1-45f7-bc65-ec376a0ae047.mp4

Please provid

[2021-11-18 09:37] jenthakkar commented on #27686
Thanks! it's solved the issue.

[2021-11-18 09:38] pacmanito opened #31244 "Deprecated jQuery code in minified version of paypal-admin.js"
Hi, while checking for deprecated jQuery I found a notice coming from WooCommerce. I was rather surprised cause all old code was cleaned some time ago - https://github.com/woocommerce/woocommerce/issues/28286.

Here's the notice:
**jQuery.fn.change() event shorthand is deprecated** in woocommerce/includes/gateways/paypal/assets/js/paypal-admin.min.js

Upon checking the js file I found that the cod

[2021-11-18 10:17] swatipawarGS commented on #31076
Hi @gondre  ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.9.0 version.

Below are the screenshots confirming the issue on my end:

Set the number of decimals to 0:

![#31076(before)](https://user-images.githubusercontent.com/94531721/142396060-69053c8f-2ce8-4d3e-9df7-f692b48895ee.jpg)

Set the number of decimal

[2021-11-18 11:02] #30563 closed, assigned to Konamiman

[2021-11-18 11:52] pacmanito commented on #28284
@rodrigoprimo, @jonathansadowski, @roykho I've just noticed that zeroclipboard library uses $.event.props which was not only deprecated but dropped long ago - https://jquery.com/upgrade-guide/3.0/#breaking-change-jquery-event-props-and-jquery-event-fixhooks-removed

[2021-11-18 12:05] swatipawarGS commented on #30915
Hi @AHugie ,

Thank you for taking the time to report this bug, we really appreciate your help. I can't reproduce it on my end using WooCommerce 5.9.0 version.

Below are the screenshots documenting my experience :

![#30915](https://user-images.githubusercontent.com/94531721/142419533-fcd80cad-4a9f-4b56-896a-b9d336db0944.jpg)

![#30915(2)](https://user-images.githubusercontent.com/94531721/142411

[2021-11-18 13:01] nirolph opened #31245 "Coupon usage limits and failed orders."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
A user has a coupon code that has either the `Usage limit per coupon` or `Usage limit per user` set to `1`.
If they try to checkout with the cou

[2021-11-18 13:36] ilyasfoo opened #31246 "Redirected to setup wizard from Home even after skipped setup"
**Describe the bug**
This bug is intermittent and I'm unable to reproduce it reliably. However, I have a pretty good idea of what happens when it does. I also believe this issue had been around for a while.

I think there's a race condition with `withOnboardingHydration`. There are cases when [`isResolving( 'getProfileItems', [] )`](https://github.com/woocommerce/woocommerce-admin/blob/33967a36c92

[2021-11-18 13:44] gglobalstep opened #31247 "[GlobalStep - 5.9.0] For Twenty Twenty One theme, "Remove button" is not displayed on the "Cart" page for a smaller viewport."
## Bug Description:
For Twenty Twenty One theme, "Remove button" is not displayed on the "Cart" page for a smaller viewport.

## Environment:
Woocommerce Version :
WooCommerce 5.9.0
Wordpress version: 5.8.2

PC:
Windows 10, Mac 10.14.6
Chrome(Version 96.0.4664.45)
Firefox(Version 94.0.1)
Safari: v15.0

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the re

[2021-11-18 13:54] ilyasfoo commented on #31246
A possible simple fix could be to simply add another check [here](https://github.com/woocommerce/woocommerce-admin/blob/33967a36c921dc533e24fee20841a155e6c2602c/client/homescreen/index.tsx#L27) to make sure `getProfileItems` isn't in the midst of resolution before redirecting to setup wizard.

[2021-11-18 14:01] ilyasfoo commented on #31246
Another, possibly a more stable fix would be to make `withOnboardingHydration` is wrapped on an earlier component. This should at least guarantee that profile items is at least holding a value before a resolution for `getProfileItems` is initiated by other components.

[2021-11-18 14:09] Contributolo commented on #14541
@neilgee I have the exact same problem described here, when server is busy and many parallel orders.

I use PDF Voucher plugin too and have not only the duplicate orders problem. When many orders happen in the same time, the pdf generatiuon is failing.

Do you found a solution for this?

[2021-11-18 14:23] swatipawarGS commented on #30903
Hi @christopherdarling ,

Thank you for taking the time to report this bug, we really appreciate your help. I can't reproduce it on my end using WooCommerce 5.9 .0 version.

Below is the screencast documenting my experience:

https://user-images.githubusercontent.com/94531721/142432819-1cd3500c-4d81-4454-ad0a-9eaa65a0399f.mp4

[2021-11-18 14:29] tammullen commented on #31128
Hi @lootlydeals ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by a 3rd party plugin. I'm not certain which plugin but it might be related to rehub theme as the screenshot in this link looks similar to yours https://rehubdocs.wpsoul.com/docs/rehub-theme/sho

[2021-11-18 14:29] #31128 closed, assigned to nobody

[2021-11-18 14:37] tammullen commented on #31204
Hi @GabrielLode
The number of details you provided is not enough for us to work with and identify what could be going on.

However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

In addition to that, please confirm if you perform

[2021-11-18 14:40] tammullen commented on #31208
Hi @khoipro

Thank you for submitting the issue. I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions.

https://github.com/unicode-org/cldr/blob/release-40/common/subdivisions/en.xml

Any proposed changes need to match the data available via UNICODE CLDR.

[2021-11-18 14:41] tammullen commented on #31215
Hi @Thesurfer98 ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2021-11-18 14:43] AHugie commented on #30915
This is awesome news, @swatipawarGS - by the way, my recommendation above about changing the "ORDER BY" statement in the query **does indeed fix this**. I'm posting again here for expediency: line 1686 in class-wc-product-data-store-cpt.php, change the ORDER BY clause. I can't say with 100% certainty that this is the best fix but I trust your team will work it out. This fix is working for us as a

[2021-11-18 14:48] tammullen commented on #31229
Hi @AdamDurzynski

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

Please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as Storefront.

[2021-11-18 15:11] #31217 closed, assigned to zhongruige

[2021-11-18 15:46] Mikestr0 opened #31248 "downloads array for API endpoint /wc/v3/products is not parsing all files"
It appears as though the following endpoint "/wc/v3/products" is not functioning correctly. The downloads parameter is an array which should allow you to submit multiple downloadable files but it only appears to be accepting a single file.

**REQUEST DETAILS**

Date: 2021-11-18 15:20:27
Source: WP REST API
Method: POST
Status: 201
Elapsed Time: 2,486ms
Response Length: 3,455
User: user
IP Address:

[2021-11-18 16:10] peterfabian opened #31249 "Fix flaky unit tests"
21 out of the last 25 PRs have failed tests. 10 instances of unit tests failing is too much and it prevents us from using these tests effectively. Investigate and fix or disable flaky tests so that we can rely on the unit tests again.

Thanks for the stats, @barryhughes !

[code]

[2021-11-18 16:19] AllArmsLLC opened #31250 "Select2 Drop Down issue"
Similar to https://github.com/woocommerce/woocommerce/issues/30607

When adding Users manually through Admin pages, tabbing into the Country and/or State fields, the focus is not maintained and typing N results in the shortcut for Notifications for Jetpack being activated. I have contacted Jetpack about this, and they have confirmed it is a focus issue with the drop down fields for Country and Sta

[2021-11-18 16:51] Mikestr0 commented on #31248
I have confirmed that this issue appears to be intermittent. For every 10 requests I send to the server approximately one will succeed in creating both the files. I'm unable to reproduce the successful requests at will and they appear to be random as no change was made to the request or the server configuration.

[2021-11-18 17:44] #31131 closed, assigned to roykho

[2021-11-18 18:32] peterfabian commented on #29465
That sounds like a good idea 👍 . I also think that the cost of creating the object might be larger than calling a function, so we might be getting a tiny performance gain, too, right? WDYT @Konamiman ?

[2021-11-18 18:51] mattsherman commented on #31032
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce/31032?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-11-18 19:31] #29677 closed

[2021-11-18 19:57] Mikestr0 commented on #31248
Resolved: We were manually defining the ID parameter which is unnecessary.  id: "", resolved the issue.

[2021-11-18 20:03] kkmuffme commented on #31208
Are states actually used for shipping in Vietnam?

I think that is something that should be made clear, that we only want to add the State field if it is actually commonly used/required for shipping.
If it's not, states should not be in WooCommerce.

[2021-11-18 21:18] ObliviousHarmony commented on #31134
Thanks for the clarification @rrennick! The restructuring work is starting to settle now that we've integrated PNPM and Nx fully. We've also updated as many of the GitHub Actions as possible to use Nx, so I think next Monday we can say that we've completed enough of the migration that others can start adjusting their work to suit. Please let us know if you need any help sorting through anything, o

[2021-11-19 02:09] GabrielLode commented on #31204
Hello, Thanks for replying, I'm here to inform you that I was able to solve the problem, restoring the database on my hosting, this was the only method that worked.

[2021-11-19 02:09] #31204 closed, assigned to nobody

[2021-11-19 07:18] swatipawarGS commented on #30841
Hi @de17  ,

Thank you for taking the time to report this bug, we really appreciate your help. I can't reproduce it on my end using WooCommerce  5.9.0  version.

Below is the screenshot documenting my experience:

![#30841](https://user-images.githubusercontent.com/94531721/142581141-c2a22dd8-b455-4120-b42d-b3d8e497e8d6.jpg)

[2021-11-19 09:03] bravomediamats opened #31252 "$loop variable in woocommerce_variation_header hook"
**Is your feature request related to a problem? Please describe.**
This feature request added the possibility to add custom information to the Product Variation Header:
https://github.com/woocommerce/woocommerce/issues/21362

But with this hook, a developer can not add a new field, for example the ability to set SKU or other simple options that differs between products without having to toggle the

[2021-11-19 09:17] adrianduffell opened #32218 "Resume the install routine after failure"
### Is your feature request related to a problem?

An install routine runs every time Woo Admin is updated, performing jobs such as migrating the database.

https://github.com/woocommerce/woocommerce-admin/blob/aa608396ce1427b58d2573c3971089bf95dc3e5a/src/Install.php#L189-L214

However when the install routine fails for some reason, it can leave the site in an expected state with not all jobs bein

[2021-11-19 09:20] rodelgc commented on #31247
Hi @gglobalstep ,

Thank you for taking the time to share this idea, we really appreciate your help. 

I can reproduce this on my end using the Galaxy Note 20 screen size in my Firefox:
<img width="581" alt="Screen Shot 2021-11-19 at 5 16 43 PM" src="https://user-images.githubusercontent.com/4509348/142597652-8347ab0e-52f7-48ad-83b2-95cc5a4a016e.png">

This is not specific to WP 5.9 nightly though

[2021-11-19 09:20] #31247 closed, assigned to nobody

[2021-11-19 09:20] khoipro commented on #31208
Thanks, @tammullen for your hint.
@kkmuffme when discussing with everyone from our Vietnamese community, one of most consider is about city/province selection. My pull request also has been inspired by @htdat, including changing labels to match what we call in our country.

- State: to City/Province
- City: District

I know there is actually no state in Vietnam, but this improvement is one of awai

[2021-11-19 09:25] peterfabian commented on #31035
Thanks for opening the issue. I agree, it makes sense. Though I think it potentially adds some friction to the first sign-in process. We should check what WordPress does and perhaps make use of the same flow.

One thing to note, though:

The fraudster get's the order e-mail, sets a trigger on that, immediately contacts the store owner to change the delivery point.... and bingo.
Or when it's a digi

[2021-11-19 09:30] khoipro commented on #31208
@tammullen @htdat I've updated to follow UNICODE CLDR standard as well.

[2021-11-19 09:44] ramonfincken commented on #31035
Please note that not all shops have registration forced or enabled at all Peter.

I really think Woo should do as WP Core does. No emails should contain passwords. Ever.

[2021-11-19 09:57] djprmf commented on #31035
I go ahead and say that this could be a GDPR issue.
Create a user account is NOT a action that needs to send the password by email to the user, and is sensitive information that is being sent to the user without the need of it.

If it was a bad practice before, now is even more.

And @peterfabian , the explanation provided i think isn't entirely correct.
"When the mailbox of a buyer is hacked, the

[2021-11-19 10:01] ramonfincken commented on #31035
agree with @djprmf one could also auto login the user if you want to right?

[2021-11-19 10:09] daveloodts commented on #31035
How popular do you want the request to be?
29 votes now... so far.
Looking back in other tickets; that is a lot.

It's not a rocket science request, it is just editing the mail template.
This edit has no other impact on every other functionality inside WooCommerce or WordPress.

My example of a hacked mailbox is -i get it- not 100% waterproof. Even then a reset-mail can be received.
and @djprmf ha

[2021-11-19 10:16] AashikP commented on #31170
Hello @phreesoft

That's a [core WordPress function](https://developer.wordpress.org/reference/functions/get_query_template/) in [Line #53](https://github.com/woocommerce/woocommerce/blob/release/5.9/includes/wc-template-functions.php#L53) looking for `404` template.

If your theme does not include the file, the best way forward would be to reach out to the theme developers and request them to inc

[2021-11-19 10:28] Crystella17 opened #31255 "Variation ''Any colour'' is not working"
Good afternoon, please I need your help with the below.

On the backend, on variations, I put as an attribute a specific size and as second attribute ”Any Door Colour”, on the frontend when I choose a colour and size it doesn’t work. It says ”Door colour is a required field” even when I am choosing the colour.

Please use the link I give you, then choose size and colour and try to add it to cart .

[2021-11-19 10:29] Crystella17 commented on #31255
![257381855_10220259612655717_6696576378052398689_n](https://user-images.githubusercontent.com/94683596/142607802-d63dec0b-b4a6-42e8-ba79-23ec953dde39.jpg)

[2021-11-19 10:29] Crystella17 commented on #31255
![257132037_10220259612855722_157495613980504454_n](https://user-images.githubusercontent.com/94683596/142607825-d5096e43-9702-4942-bbbe-306e31d94cfd.jpg)

[2021-11-19 10:33] AashikP commented on #31040
Thank you for clarifying that things are working as expected now.

I am closing this issue for now. If I missed something, please leave a comment and we will take a second look.

[2021-11-19 10:33] #31040 closed, assigned to nobody

[2021-11-19 10:58] swatipawarGS commented on #29434
Hi @wpniall,

Thank you for taking the time to report this bug, we really appreciate your help. I can't reproduce it on my end using WooCommerce 5.9.0 version.

Below are the screenshots documenting my experience:

Backend showing 1 existing cross-sell product before and after  importing :

![#29434(backend(1))](https://user-images.githubusercontent.com/94531721/142611117-3b0eb804-4cb0-4ec3-9930-3

[2021-11-19 11:50] lucprincen commented on #31035
It's kind of strange that this discussion got closed and is being labelled an **enhancement**.
while yes, it's very hard to protect from hacked e-mail inboxes as a third party, we could -at the very least- try to mitigate mail-hijacking by not sending passwords in plain text.

The default WordPress flow works fine in this case.

[2021-11-19 12:10] KittyGiraudel commented on #31035
This. How exactly is fixing a rather serious security faux-pas an “enhancement”? We‘re playing fast and loose with the word “enhancement” here. Any security professional would raise that as a significant issue that should be resolved. The fact that WooCommerce expects the community to vote on that issue says a lot about the attention it brings to security-related issues.

I understand this is not

[2021-11-19 12:15] gmazzap commented on #31035
@peterfabian

If the word spread about this, the friction will be on using WooCommerce. Which is worse, no?

Note that WooCommerce could let the user login for the _current_ request (via a cookie) but if the buyer would need to access the account in another session would need to set the password using a link received via email. Or could request a new link via "reset password".
This makes the  sign

[2021-11-19 12:23] ThomasVeld commented on #22177
This is likely because of your order status, you can't remove products from processing / completed orders. With pending orders this is possible.

[2021-11-19 12:49] peterfabian commented on #31035
Appreciate the responses and good discussion. Please understand I haven't closed this issue because I don't think it's important. I agree we should not send passwords in plaintext. I closed the issue because it's our workflow for improvements to not let them sit as open issues in the repository for eternity, but instead rather give users the opportunity to vote on the issues they find most relevan

[2021-11-19 12:56] gmazzap commented on #31035
Thanks!

[2021-11-19 13:36] swatipawarGS commented on #24528
Hi @SiR-DanieL ,

Thank you for taking the time to report this bug, we really appreciate your help. I can't reproduce it on my end using WooCommerce 5.9.0 version .

Below is the screencast documenting my experience :

https://user-images.githubusercontent.com/94531721/142631214-c979cb6c-92fb-4f15-bc6e-d1fb9aadb769.mp4

[2021-11-19 13:43] swatipawarGS commented on #30679
Hi @datverse ,

Thank you for taking the time to report this bug, we really appreciate your help. I can't reproduce it on my end using WooCommerce 5.9.0 version .

Below is the screencast documenting my experience:

https://user-images.githubusercontent.com/94531721/142632116-a1d4e92a-27b2-4920-b3cd-0a55d5a48e5b.mp4

[2021-11-19 13:51] swatipawarGS commented on #30909
Hi @joashrajin ,

Thank you for taking the time to report this bug, we really appreciate your help. I can't reproduce it on my end using WooCommerce 5.9.0 version.

Below is the screencast documenting my experience :

https://user-images.githubusercontent.com/94531721/142633235-73108327-5c41-4ce3-9fa7-d57c9c8dae90.mp4

[2021-11-19 13:56] rrennick commented on #31134
@ObliviousHarmony Thanks. I had time this week to do a couple of cleanup PRs to address issues related to the file reorg:
- https://github.com/woocommerce/woocommerce/pull/31233
- https://github.com/woocommerce/woocommerce/pull/31232

With those, I think Solaris should be straightened away for the initial reorg.

[2021-11-19 14:18] tomjn commented on #31035
I would clarify that I and others do not consider this a feature or enhancement, _this is a security breach and a major bug with legal, regulatory, compliance and security ramifications._ This feature on its own could invalidate many compliance requirements required for operating an Ecommerce store in many countries.

The correct thing to do, that WordPress itself does, is to send a reset link so

[2021-11-19 14:22] swatipawarGS commented on #30827
Hi @erikdemarco ,

Thank you for taking the time to report this bug, we really appreciate your help. I can't  reproduce it on my end using WooCommerce 5.9.0 version.

Here are the screenshots of the results :

Below are the screenshots documenting my experience :

![#30827(1)](https://user-images.githubusercontent.com/94531721/142637396-92c4054c-0004-4fce-a03b-bb9e20967aeb.jpg)

![#30827](https://

[2021-11-19 14:28] tomjn commented on #31035
Should anybody be interested in fixing this

`retrieve_password` is used by WP to send a reset link:

https://developer.wordpress.org/reference/functions/retrieve_password/

Here's the AJAX endpoint that uses it to do that:

https://developer.wordpress.org/reference/functions/wp_ajax_send_password_reset/

[code]

The line that generates the URL in the password reset email:

[code]

And the key it

[2021-11-19 16:05] #31165 closed, assigned to nobody

[2021-11-19 16:08] barryhughes commented on #31249
Flagging as flaky:

`WC_Tests_REST_System_Status::test_get_system_status_info_environment_filtered_by_field()`

[2021-11-19 16:13] barryhughes commented on #31249
Also hitting this quite often, in relation to various API tests:

`connect ECONNREFUSED 127.0.0.1:80`

Example:

[code]

[2021-11-19 16:30] lsinger opened #31258 "e2e tests: country selling restriction not reset"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
While reviewing #31120 I ran the end-to-end tests locally, with two of the shopper checkout tests failing. After investigating this a bit more i

[2021-11-19 16:56] Rink9 commented on #31048
Hi @rodelgc
1. Bangladesh ( UTC +6 )
2. Bangladesh ( UTC +6 )
3. Yes, This issue still persists after a hard reload.

[2021-11-19 17:24] #31164 closed, assigned to nobody

[2021-11-19 17:29] #31163 closed, assigned to nobody

[2021-11-19 17:33] #31161 closed, assigned to nobody

[2021-11-19 18:57] AHugie commented on #30915
Hi @swatipawarGS  - I noticed you edited your post. Are you now saying you cannot reproduce the bug? How many products did you load into your store? If necessary I can send my inventory to you to test. We have 260 simple products, and 206 variable products with 777 variations. **That's 1243 products.** The only way I could get WooCommerce to show Rose Oil in the search result is by trashing all bu

[2021-11-19 19:17] #31154 closed, assigned to nobody

[2021-11-19 19:25] #31152 closed, assigned to nobody

[2021-11-19 21:24] #30618 closed, assigned to jeffstieler

[2021-11-19 21:24] tammullen commented on #28613
Thanks @swatipawarGS for your screencast but it appears to show the price remains the same after pressing update. Can you try again but make sure to include in your screencast all the steps in the original report?

[2021-11-19 21:29] tammullen commented on #24528
Thanks @swatipawarGS for your screencast, it shows the stock only reducing after purchase by PayPal is complete. Can you also try the original steps of
- Customer1 purchase it via PayPal but leave **before** paying.
- Another customer2 purchases the item. The stock is now 0.
- Customer1 goes to my account page, reach the order payment link and choose to pay via Check instead. The order is successf

[2021-11-20 02:49] nicdwilson commented on #31123
4461052-zen

[2021-11-20 09:59] Coernel82 commented on #27661
Short update: I have a real programer on it who will create a solid solution. It's a matter of some days and I will post it here!

[2021-11-20 13:16] RVandenbussche opened #31261 "Use variant slug instead of variant name in exporting/importing products"
Hi guys and girls,

There is a bug in the import/export function when you have two variant types with the same name. I have two products with different types of black, still they are both called black. Black on both products are a bit different, one has a bit of a pattern and to show this to the user I use image swatches (plugin).

Everything goes well until I export and import the product with al

[2021-11-20 17:31] ghost opened #31262 "Woocommerce send automatically Out of stock email to vendor"
Hello there,
Recently i add one more email address into woo commerce vendor email list, after that vendor get out of stock product notification email! please advise

[2021-11-20 20:49] poletaew opened #31263 "Displayed units is not translated"
https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/wc-formatting-functions.php#L1296

Need to replace with:
[code]

The same inside **wc_format_dimensions** function.

[2021-11-21 00:45] streamworksaudio opened #31264 "Refund not be applied in Analytics"
Hi,

I just did  a partial refund via Stripe and I noticed that this change was not reflected in the Analytics or the older Reports.  Is there some reason why a partial refund would not be applied to the reports and analytics?

Cheers

[2021-11-21 12:48] datgausaigon commented on #30679
Hi @swatipawarGS
Thank for your reply and your video. Can you try reproduce this issue with this steps:
1. Create new Product
2. Add "Product Image" for product
3. Set Title (Product Name), ect => Save Product
4. Go to Products / All Products => Edit Product
5. In Product Image (on Edit not Create New) => Click the image to edit or update

=> We will see the issue.

I miss something, the issue rai

[2021-11-21 14:29] eightbit commented on #26054
It's not a good practice to delete orders from your records - that can be construed as malfeasance - doctoring your order records. For example, reporting that you only sold 4 Lamborghinis last year rather than 10 would certainly reduce your tax burden. It also could (and should) wreak havoc into your bookkeeping as your collections and inventory would no longer match your orders.

What would be he

[2021-11-21 18:17] justinzhou9 opened #31265 "there was an error getting your inbox-- from woocommerce"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-11-21 20:53] csmcneill opened #31267 "Some non-image files fail to upload on WP Multisites."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Related to [this issue in 4.7.1](https://core.trac.wordpress.org/ticket/39550).

When uploading some files (e.g. [sample product CSV](https://wo

[2021-11-21 23:56] zeroanarchy01 opened #31269 "Loop of /wp-admin/plugins.php unable to access anything in the admin area or active ot deactive plugins."
**Describe the bug**
Deactivating Woocommerce produces the following error
"To use "WooSquare WooCommerce Square Integration" WooCommerce Or MYCRED must be activated or installed!"

all links force the admin back to wp-admin/plugins.php however no list of plugins is available only a back button.

**Expected behavior**
An error message should appear only.
If the user is kicked back to the plugin pa

[2021-11-22 02:58] thejamescollins opened #31270 "WooCommerce core and tests not compatible with PHP 8.1"
As far as I can tell, WooCommerce core isn't currently being tested against the upcoming PHP version 8.1, which is due to be released in 3 days time on 25 November.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

[2021-11-22 06:30] thenbrent commented on #32219
@pmcpinto is WC 6.2 being released February 8? (I couldn't see on Proton's P2 sidebar, because it only goes to January). If the 8th, that will be fine. The goal is to have the WC Pay in core plans finalized by 2022-02-28, and the results of this are an important contributor to that so we want to get 1-2 weeks data on it before finalizing those plans.

[2021-11-22 09:04] mrinal013 opened #31271 "Variable product price with tax is not match in Schema"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When selected the **Yes, I will enter prices inclusive of tax** as **Prices entered with tax** at WooCommerce -> Settings, variable product has

[2021-11-22 09:18] rodelgc commented on #31255
Hi @Crystella17,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2021-11-22 09:18] #31255 closed, assigned to nobody

[2021-11-22 09:20] rodelgc commented on #31265
Closing this as there were no details provided.

[2021-11-22 09:20] #31265 closed, assigned to nobody

[2021-11-22 10:56] swatipawarGS commented on #28613
Hi @marcochiesi ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.9.0 version.

Below is the screencast documenting my experience :

https://user-images.githubusercontent.com/94531721/142849083-30c38318-1b45-4e92-aa3d-8bb4f2f1d276.mp4

[2021-11-22 11:01] marcochiesi commented on #28613
Hello @tammullen and @swatipawarGS
being the original reporter of the issue, I get email notifications related to this thread.
A few days (Nov 17) a strange thing occurred: I got a notification of a message from @swatipawarGS with a video actually showing the issue, but that message is not present here on GitHub. The day after @swatipawarGS posted the same message (visible above) but with a differ

[2021-11-22 11:25] marcochiesi commented on #28613
P.s. For the sake of completeness, I confirm the bug is still present on a vanilla WordPress 5.8.2 with WooCommerce 5.9.0 (being the only plugin installed), and it can be reproduced by following accurately the step-by-step instructions listed in the very first post of this thread.

[2021-11-22 11:39] pmcpinto commented on #32219
Yes

[2021-11-22 11:53] tammullen commented on #31173
Hi @swatipawarGS, your screenshot doesn't appear to show that the behaviour reported, can you try again?

[2021-11-22 12:02] tammullen commented on #31123
Adding `needs developer feedback` to confirm if this is a core issue or a duplicate of WooCommerce Admin issue https://github.com/woocommerce/woocommerce-admin/issues/7942

[2021-11-22 12:26] tammullen commented on #31252
Hi @bravomediamats ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-22 12:28] tammullen commented on #31248
Thanks @Mikestr0 for the update. I will close this issue for now as it appears to be resolved. Free feel to raise a new issue if needed.

[2021-11-22 12:28] #31248 closed, assigned to nobody

[2021-11-22 13:27] swatipawarGS commented on #24528
Hi @SiR-DanieL   ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using WooCommerce 5.9.0 version .

Below is the screencast documenting my experience :

https://user-images.githubusercontent.com/94531721/142868025-5c8241e0-f314-44d4-b7ab-4bd3751d6469.mp4

Please provide us with more details about the iss

[2021-11-22 15:25] Cocoroi opened #31273 "Price Amount Cart Incorrect"
Hello,

I have a problem, in the basket (whether it is the page or in the menu) the price is not correct.
![Screenshot_1](https://user-images.githubusercontent.com/78262052/142888200-0f35b2bd-405f-438e-acfe-f3fb60dccea2.png)

I'm using QuadMenu for the menu just in case.

Also, on some products, the site applies a reduction of 1 cent on its own ...

Regarding the price, I managed to make it roughl

[2021-11-22 16:17] swatipawarGS commented on #28613
Hi @marcochiesi ,

Thank you for the updated information on this issue.  However, we couldn't reproduce it using the steps provided you. Everything works as expected on our end using WordPress 5.8.2 and WooCommerce 5.9.0 version.

Below is the screencast documenting my experience :

https://user-images.githubusercontent.com/94531721/142895424-1d8ee9f6-40b1-45f7-bc65-ec376a0ae047.mp4

Please provid

[2021-11-22 16:23] Jnol112 commented on #19893
We are having the exact same issue with the images and product variations as described above.
Our media is already in the media library and the csv references the file names but we get the same error message. We have also triple checked all of the other suggested issues but still no luck.

We are going to try WP All import.

Perhaps it is an issue with the way the server is set up or some issue wi

[2021-11-22 16:26] mattsherman commented on #31123
This is a duplicate of https://github.com/woocommerce/woocommerce-admin/issues/7942

[2021-11-22 16:38] MarcGuay opened #31275 "Add ability to modify classes of single-product add-to-cart button"
**Is your feature request related to a problem? Please describe.**
When integrating WooCommerce into a theme which uses an existing CSS framework such as Bootstrap, it would be useful to be able to add classes from that framework to different elements rather than override the CSS manually.  This functionality already exists for the add-to-cart button on the Shop page, see solution.

**Describe the

[2021-11-22 16:40] marcochiesi commented on #28613
@swatipawarGS In your latest video, you do not show all the steps provided in the initial instructions, so I suspect you didn't enter the exact same amounts for the products and the coupon that were provided in the initial report. Please follow accurately all the instructions and you should be able to reproduce the issue. See also the video attached to the initial report; even if it was based on a

[2021-11-22 16:55] tammullen commented on #31234
Hi @adityab995
The number of details you provided is not enough for us to work with and identify what could be going on.

The order status you mention of `delivered` is not part of WooCommerce Core. Please advise if you are using an another plugin for this?

In addition to that, please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on your site? To

[2021-11-22 16:59] tammullen commented on #31231
Hi @sameer-rajpoot ,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close thi

[2021-11-22 16:59] #31231 closed, assigned to nobody

[2021-11-22 17:04] tammullen commented on #31198
Hi @AchalJ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-22 17:21] tammullen commented on #31244
Hi @pacmanito ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-22 17:24] tammullen commented on #31226
Hi @johnjullies ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-22 17:32] tammullen commented on #31106
Hi @maxisosa

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end using `wp-json/wc/v3/products/?sku=` (and also `wp-json/wc/v2/products/?sku=`)

You didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the info

[2021-11-22 17:43] #31035 closed, assigned to nobody

[2021-11-22 17:54] ronnyadsetts opened #31276 "Product bulk edit changes attribute value"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have sear

[2021-11-22 18:00] tammullen commented on #31219
Hi @tjcafferkey ,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce-admin/issues/7933. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-11-22 18:00] #31219 closed, assigned to nobody

[2021-11-22 18:59] barryhughes commented on #22011
Flagging so we can discuss if this should be re-opened in the next scrub, remain closed or re-open a 2nd time with votes needed, etc.

[2021-11-22 21:28] kkmuffme commented on #31118
In my opinion the country cookie is a technical necessity (to comply with privacy laws, unit price, currency, ...) and not just a convenience feature.

Especially, since we can just **not** set the cookie and just resolve the IP dynamically on every request (which would be slower in this case) - but this is what is happening for most of internet traffic, since most proxy-CDNs (Cloudflare,...) prov

[2021-11-23 00:11] jeffstieler commented on #30618
Hello @fbaio-dev, this issue relates to the inventory quantity being adjusted after refunding items, not sales. If you're experiencing an issue with sales counts being incorrect after refunding items/orders, please [open a new issue](https://github.com/woocommerce/woocommerce/issues/new/choose).

[2021-11-23 01:17] mattsherman commented on #32246
@joelclimbsthings What is the status of this? You were exploring the css-in-js solution, right? A P2 post with your findings would be excellent. And we should put the rest of his on the backburner until the next cool down (we can also consider some of this work for a future cycle).

[2021-11-23 05:50] edokh opened #31277 "Currency is not available in checkout page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-11-23 10:34] diickens commented on #31370
@jorgemd24 When I try to get the variation with this endpoint, I get a critical Error response from the server.
When I try this endpoint for the parent product it works perfect. Any Idea?

[2021-11-23 10:59] Konamiman commented on #29465
Yep, I agree: checking if the method exists beforehand is cleaner than trying to use it and catching the exception, and we could also get a small performance gain as a bonus (for what @peterfabian mentions but also for avoiding the exception in the first place).

[2021-11-23 12:22] symplTech opened #31278 "is_cart() or is_page('cart') return false after cart is updated"
Hey,

After quantity change and cart update the function is_cart() return false even though I am still on the cart page.

This was tested on the hook "woocommerce_after_cart_item_quantity_update"

[2021-11-23 13:28] #29750 closed

[2021-11-23 13:59] bnbc opened #31279 "Breadcrumb"
On version 5.9.0, my product breadcrumb didn't show child categories, juste the first parent.
On version 5.6.0 it's ok

Did you make change on that recently ?

I don't know what to do to fix that...
Thks !

EDIT : i update 5.6.0 to 5.9.0 and breadcrumb is ok, so the only difference i see is php 7.4 for breadcrumb working and php 7.2 for crumb not working, maybe a cause?

[2021-11-23 15:03] seldimi opened #31280 "Request: Filter for wc_get_gallery_image_html"
Hello.
Here is a request that would be handy for many developers. On product archives and single product page, if we want to alter the alt text from an image, we can use the hook wp_get_attachment_image_attributes and supply an alt text (for example product title)

That is not working on flexslider though (wc-product-gallery-slider). On the function wc_get_gallery_image_html(), we have a filter wo

[2021-11-23 15:08] seldimi commented on #31280
Can be easily done by the snippet below, but would be more clear to be on the same hook

[code]

[2021-11-23 15:59] cherylstash commented on #14541
Automatewoo/Automattic told me this is a bug with high priority, but they don't have an update or fix for this yet.

[2021-11-23 16:15] swatipawarGS commented on #24528
Hi @tammullen ,

Thank you for the update. We are unable to reproduce the issue at our end using WooCommerce 5.9.0 version using the updated scenarios.

Below is the screencast documenting my experience :

https://user-images.githubusercontent.com/94531721/143022579-90d7d2f0-42d7-4bb0-81fd-d3c870b51bb2.mp4

[2021-11-23 16:17] swatipawarGS commented on #30679
Hi @datverse ,

Thank you for the updated information on this issue. I can reproduce it using above steps on my end using  WooCommerce 5.9.0 version and WordPress 5.8.2 version.

https://user-images.githubusercontent.com/94531721/143019858-a9069281-ee10-413e-a7c8-e0343e031750.mp4

Priority of this issue will be assigned shortly after we’d go through a round of prioritization. Please note it may ta

[2021-11-23 16:18] swatipawarGS commented on #30915
Hi @AHugie ,

We have added around 2027 products in our store but, we are still not able to reproduce this issue.

[2021-11-23 16:20] swatipawarGS commented on #31173
Hi @tammullen ,

We are unable to reproduce this issue on our end using WooCommerce 5.9.0  version.

Please find below screenshots documenting for reference :

Case1 :  Two attributes for product :

![#31173(with 2 variation)](https://user-images.githubusercontent.com/94531721/143007494-056f5d1a-d2f2-45fb-9a59-fb2874d0bba2.jpg)

Case2 : Three attributes for product :

![#31173(with 3variation)](ht

[2021-11-23 16:22] swatipawarGS commented on #28613
Hi @marcochiesi ,

Thank you for the updated information. We confirm that the issue is reproducible on our end as well using  WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Below is the screencast documenting my experience :

https://user-images.githubusercontent.com/94531721/143031627-1262f912-30d6-402d-bce6-e68e758510a1.mp4

Priority of this issue will be assigned shortly after we’d go

[2021-11-23 16:41] #31150 closed, assigned to nobody

[2021-11-23 16:45] masteradhoc commented on #31263
@poletaew check PR please. #31281

[2021-11-23 16:46] csmcneill commented on #31173
Hi @swatipawarGS,

In the screenshots you provide, there is only one attribute used in in the variable product (e.g. color). If there is only one attribute for a variable product, the issue does not occur.

To replicate this issue, create three or more separate attributes for a product (e.g. color, size, shape):

<img width="2068" alt="Markup 2021-11-23 at 10 26 00" src="https://user-images.github

[2021-11-23 17:00] datgausaigon commented on #30679
Hi @swatipawarGS,
Thank for your reply. This issue also raise with default "post" type when use classic tinymce editor. I think this is in the editor core of WordPress. You can check this issue with "post" when use "Classic Editor" plugin or enable tinymce editor for post with "Advanced Editor Tools (previously TinyMCE Advanced)" plugin.
Thanks

[2021-11-23 17:10] #31153 closed, assigned to nobody

[2021-11-23 17:13] poletaew commented on #31263
Thanks, awesome!

[2021-11-23 17:40] #31160 closed, assigned to nobody

[2021-11-23 17:42] andersb opened #31282 "Batch operation for product variations on different products in single http request"
**Is your feature request related to a problem? Please describe.**
Our POS system has an integration to WooCommerce for updating inventory status.
Some customers might have a large number of products and product variations (20 000+)
The batch operation can manage 100 items in one request which is working very well when we handle only normal products because the url used is `/wp-json/wc/v3/products

[2021-11-23 17:43] AHugie commented on #30915
Hi @swatipawarGS  - your SKUs in the screenshot aren't correct, which might actually be a good thing because it might help explain why the search is not working properly. Primrose Oil's SKU should not be "Roso" - that's the parent SKU for Rose Oil, and I believe that can have a huge impact on the search result accuracy. Could you do me a favor and change the SKU for Primrose Oil in your inventory

[2021-11-23 17:46] #31157 closed, assigned to nobody

[2021-11-23 17:47] #31151 closed, assigned to nobody

[2021-11-23 17:47] #31155 closed, assigned to nobody

[2021-11-23 17:52] vedanshujain commented on #30981
Linking https://github.com/woocommerce/woocommerce/pull/31222 where we are discussing this change.

[2021-11-23 18:50] maxim-skuvault commented on #31370
@jorgemd24, You posted:

Has this worked for you? When I created this issue the /wp-json/wc/v3/products endpoint would only search by the product sku, not variation sku (what I need). The [documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products) still implies that it's only by product sku: "sku: Limit result set to products with a specific SKU"

[2021-11-23 19:05] jeffstieler commented on #30836
Hello @masteradhoc,

This error is ultimately being thrown by WordPress core in `_wp_handle_upload()`, relevant lines here: https://github.com/WordPress/WordPress/blob/5.8-branch/wp-admin/includes/file.php#L904-L906

If this behavior is going to be changed, it should be in core.

[2021-11-23 19:05] #30836 closed, assigned to nobody

[2021-11-23 19:09] san-coding commented on #30308
@masteradhoc sorry for the delay, i am looking into this

[2021-11-23 19:36] #31159 closed, assigned to nobody

[2021-11-23 20:39] joelclimbsthings commented on #32246
@mattsherman Yup! I spent some time looking into alternatives to Linaria as well. Planning to put up on a P2, although I didn't get as far with this as I'd like due to portering and other tasks, so I plan to finish it off during the next cool down.

[2021-11-23 20:51] jorgemd24 commented on #31370
@maxim-skuvault

Yes it does work, have you tried it recently?

I think they are talking "in the broad sense" of products (parent products, variations, simple products, groups etc). Otherwise they will need to specify that only works for parent products or simple products.

[2021-11-23 20:53] jorgemd24 commented on #31370
@diickens

Do you have more information about the error? have you tried to debug it?

[2021-11-23 22:51] jeffstieler commented on #25152
Considering the UK is split into Countries and Counties, I don't think adding "State" to the label makes much sense (other than to keep the label consistent in this scenario).

It looks like the root cause of this issue is that `templates/cart/shipping-calculator.php` [hard codes this value as 'State / County'](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb8044741

[2021-11-24 00:35] #31025 closed, assigned to nobody

[2021-11-24 11:32] KovaZg commented on #26380
Hey guys, I just had same issue, and I solved it and it all works, no need to do as @geoffreyarce docs, no need to double import.
I made my own CSV combined with sample from woocommerce and one from github. Ended up with mixture.
I had issue with variations and quotes etc, made CSV in Excel, then opened in Notepad, long story short, I used google sheet to make and download CSV, and after that move

[2021-11-24 12:41] BackuPs opened #31284 "Fatal error on latest beta 6.0.0 beta 1 in frontend"
I just created a clean wp install with Woocommerce beta 1 V 6.0.0 and going to the frontend of the website shows me a fatal error.

No gutenberg plugin activate. Just installed the latest beta 6.0.0 beta 1 and I get this error in the frontend.

Switching to 5.90 resolves the error. Please fix.

**

**

[2021-11-24 12:51] vedanshujain commented on #29657
However, when I add three different products all priced at 12.974 the total is 38.91.

@malinajirka We currently don't support rounding per line item because (among other reasons) it leads it to more in-accurate totals. If we round per item then we will carry forward some in-accuracy to tax and subtotal calculation. So let's say in your case, if this is taxed at 19%, then with unit-level rounding,

[2021-11-24 12:51] #29657 closed

[2021-11-24 13:19] rrennick opened #31285 "Remove WooCommerce -> Coupons menu item in new installs"
When you create a new WooCommerce install with version 5.9.0 the WooCommerce screens have the `Coupon management has moved!` notice. The WooCommerce -> Coupons menu item is also present. It should be safe to automatically hide the menu item and eliminate the notice in a new install.

[2021-11-24 14:45] vedanshujain commented on #28870
Seems like we are not busting the menu order cache. This is something that we should be able to directly after `woocommerce_after_product_ordering` action.

[2021-11-24 14:56] mattias-pa-vistrom commented on #30027
Any news on this?

[2021-11-24 15:03] larsenlarsson commented on #31284
Works fine with WordPress 5.8.2.
Error occurs when using WordPress development version 5.9-alpha-52236

[2021-11-24 15:52] swatipawarGS commented on #30841
Hi @de17 ,

We retested this issue and couldn't reproduce this issue at our end using WooCommerce 5.9.0  version.

Please find below screenshots documenting for reference:

![#30841](https://user-images.githubusercontent.com/94531721/143203399-690908ba-6af5-4aaf-8682-19d651f2d87d.jpg)

Please provide us more details and any additional steps required to repro this issue which may help us to evaluat

[2021-11-24 15:53] swatipawarGS commented on #30849
Hi @Corentin-Robac ,

We retested this issue again and couldn't reproduce this at our end using WooCommerce 5.9.0  version.

Please find below screenshots documenting for reference :

![#30849(1)](https://user-images.githubusercontent.com/94531721/143206200-6e39af29-6509-4407-b297-c89a2135a72d.jpg)

![#30849(2)](https://user-images.githubusercontent.com/94531721/143206205-92674504-520f-4bb7-9c62-6

[2021-11-24 15:54] swatipawarGS commented on #30903
Hi @christopherdarling ,

We retested this issue again and couldn't reproduce this issue at our end using WooCommerce 5.9.0  version.

Please find below the screencast for your reference :

https://user-images.githubusercontent.com/94531721/143207786-7a975e0d-4533-4b19-9d98-672b100b379b.mp4

Please provide us with more details and any additional steps required to repro this issue which may help us

[2021-11-24 15:56] swatipawarGS commented on #30827
Hi @erikdemarco ,

We retested this issue again and we are unable to reproduce this issue at our end using WooCommerce 5.9.0  version.

Please find below screenshots documenting for reference :

![#30827(1)](https://user-images.githubusercontent.com/94531721/143230820-a82e9595-3a9b-4729-9d09-b6d3f658c3d4.jpg)

![#30827](https://user-images.githubusercontent.com/94531721/143230827-ebd981bb-cb14-450

[2021-11-24 15:59] tammullen commented on #31284
Hi @BackuPs,

Thank you for reporting the issue, I can reproduce it.
This appears to be caused by WooCommerce Blocks.
We are closing your issue in favor of your previously submitted issue in the WooCommerce Blocks repository.
https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5236
Please continue sharing your feedback there if needed.

[2021-11-24 15:59] #31284 closed, assigned to nobody

[2021-11-24 19:23] rrennick opened #31288 "Update paths in E2E readme"
The E2E readme files still contain some references to `tests/e2e/{package-folder}`:

- [contributing a new e2e core test](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/e2e-core-tests#contributing-a-new-test)
- [Jest setup](https://github.com/woocommerce/woocommerce/tree/trunk/packages/js/e2e-environment#jest-setup)

[2021-11-24 19:31] rrennick commented on #30624
Addressed in #30698

[2021-11-24 19:31] #30624 closed, assigned to nobody

[2021-11-24 22:02] christopherdarling commented on #30903
Hi @swatipawarGS I can confirm this is now resolved - thank you!

[2021-11-24 22:02] #30903 closed, assigned to nobody

[2021-11-24 22:49] #30838 closed, assigned to nobody

[2021-11-25 03:19] SadikurSadik commented on #31137
Hi @juliaamosova,

Any update regarding this issue?

[2021-11-25 05:24] nagpai opened #31293 "Dashboard Widgets - Orders widget showing random names for each recent order."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The `Orders` Widget on `WP Admin > WooCommerce > Home`  (a.k.a WooCommerce Dashboard page) seems to show erratic names against each order number

[2021-11-25 05:24] nagpai opened #32217 "Dashboard Widgets - Orders widget showing random names for each recent order."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The `Orders` Widget on `WP Admin > WooCommerce > Home`  (a.k.a WooCommerce Dashboard page) seems to show erratic names against each order number

[2021-11-25 05:36] nagpai commented on #31293
May be related to this
https://github.com/woocommerce/woocommerce-admin/issues/3810 ?

[2021-11-25 05:44] oscarssanchez opened #31294 "Customers API: Search is always being set"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-11-25 06:07] rodelgc commented on #31277
Closing this issue because it does not contain the necessary details.

[2021-11-25 06:07] #31277 closed, assigned to nobody

[2021-11-25 06:23] rodelgc commented on #31270
Hi @om4james,

Thank you for raising this concern with us. The Core team is already looking into it. Please stay tuned for updates.

For reference: Internal discussion on PHP 8.1 support - p1637571539189300-slack-C0E1AV8T0

[2021-11-25 06:28] thejamescollins commented on #31270
Thank you for the update @rodelgc, I appreciate it :)

[2021-11-25 06:28] rodelgc commented on #31262
Hi @hajakutbudeen-dev,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service

[2021-11-25 06:28] #31262 closed, assigned to nobody

[2021-11-25 06:32] rodelgc commented on #31263
Hi @poletaew,

Thank you for raising this issue! And @masteradhoc thanks for submitting a PR for it. The Core team will be looking at this soon. Please note it may take them a few days to respond. I'm labelling this issue as an enhancement.

[2021-11-25 06:34] ghost commented on #31262
Hello @rodelgc,
Sorry if i did anything wrong. Thanks for your advise. I'll try other options to find solution.

[2021-11-25 06:37] rodelgc commented on #31264
Hi @streamworksaudio,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service G

[2021-11-25 06:37] #31264 closed, assigned to nobody

[2021-11-25 06:39] rodelgc commented on #31273
Hi @Cocoroi,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](htt

[2021-11-25 06:39] #31273 closed, assigned to nobody

[2021-11-25 06:41] rodelgc commented on #31275
Hi @MarcGuay,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-25 06:50] edokh opened #31296 "Currency not available in checkout page"

[2021-11-25 06:51] rodelgc commented on #31275
Actually, since this is an enhancement, I'll label this with `type: enhancement`. We’re going to add it to our backlog where it will be considered for future releases.
﻿
Stay tuned for updates.

[2021-11-25 06:56] rodelgc commented on #31278
Hi @symplTech,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2021-11-25 07:01] rodelgc commented on #31279
Hi @bnbc,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for, especially the system status report. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as des

[2021-11-25 07:03] rodelgc commented on #31280
Hi @seldimi,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-11-25 07:09] WhoopDav opened #31297 "Password change security issue"
Hello. Can I report a security issue here?

[2021-11-25 07:12] rodelgc commented on #31282
Hi @andersb,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-11-25 08:13] andersb commented on #31282
Hi @rodelgc

Sounds great! I'll keep my fingers crossed that it will be approved :)
I do believe that it will be a great performance improvement when it comes to integrations.

On a side note, my use case only covers updating stock quantity, in theory, one might like to do any kind of create/update/delete operation this way. Something to consider once you get to this issue in your backlog in the f

[2021-11-25 12:49] MarcGuay commented on #31275
Thanks.  Does providing a code pull request move things along faster?

[2021-11-25 13:13] tammullen commented on #31297
Hi @WhoopDav
Please report all security issues only via https://www.hackerone.com

Also please see [the security policy here.](https://github.com/woocommerce/woocommerce/security/policy)

[2021-11-25 13:15] WhoopDav commented on #31297
Yes I went there but can you tell me where I click on that website to
notify them? I do not see anywhere for a non hacker to notify them about a
potential bug! Your help would be appreciated :)

On Thu, 25 Nov 2021 at 14:13, Tam Mullen ***@***.***> wrote:

[2021-11-25 13:19] joashrajin opened #31298 "Bulk Edit: Sale Price does not apply to Variable Products"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When you try to adjust the Sale Price in Bulk, it does have any effect on Variable Products. If this is intended, it would be great if this cou

[2021-11-25 13:46] Aaronmengxin opened #31300 "无法加载店面向导"
![P7KIWZJ@CF@ ~$) {HNJHAU](https://user-images.githubusercontent.com/41654532/143452612-353a29f3-874b-4837-a1f9-3502f6c9c84b.png)
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark comp

[2021-11-25 16:33] benoitfouc commented on #28819
Hello there, i've the same issue. I'm main french langage and my website is translate to English and Spanish langages too.
Since the product is published, it's impossible to add any variation :
![image](https://user-images.githubusercontent.com/10956350/143476990-29c58c77-77e9-4d34-8492-076231c618f3.png)

[2021-11-25 16:39] de17 commented on #30841
This issue occurs with the activated booster plugin with woocommerce on my
website.

Thanks

On Wed, Nov 24, 2021 at 9:22 PM Swati Pawar ***@***.***>
wrote:

[2021-11-25 17:27] swatipawarGS commented on #30909
Hi @joashrajin ,

We retested this issue on large screen iPads and iPhone. We are able to reproduce this issue at our end using WooCommerce 5.9.0  version on iPad only.

Please find below the screencast for reference:

https://user-images.githubusercontent.com/94531721/143436865-8979349b-997b-4e5d-becc-1359b727a75a.mp4

Priority of this issue will be assigned shortly after we’d go through a round

[2021-11-25 17:28] swatipawarGS commented on #29434
Hi @wpniall  ,

We retested this issue again using WooCommerce 5.9.0  version but we are unable to reproduce this issue at our end.

Please find below screencast documenting for reference :

https://user-images.githubusercontent.com/94531721/143464120-1217a12e-8e6a-4156-8f1a-4721dea69803.mp4

Please provide us with more details and any additional steps required to repro this issue which may help u

[2021-11-25 17:29] swatipawarGS commented on #31173
Hi @csmcneill ,

Thank you for the updated information. We are able reproduce the issue using the updated information on our end with WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screenshots documenting for reference :

Case1 : Two attributes for product :

![#31173new(2 varation added)](https://user-images.githubusercontent.com/94531721/143393982-b71710e5-0e5f-4f5e-bb

[2021-11-25 17:31] swatipawarGS commented on #31250
Hi @AllArmsLLC ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast documenting for reference :

https://user-images.githubusercontent.com/94531721/143445186-34d1a57c-f201-468c-8263-ecf39bd14f75.mp4

Priority of this issue will be assigned shortly after we’d

[2021-11-25 17:58] swatipawarGS commented on #31245
Hi @nirolph ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast and Screenshot  documenting for reference :

https://user-images.githubusercontent.com/94531721/143448864-b07abc53-92f0-47ac-bf43-1b33877f2a31.mp4

![#31245](https://user-images.githubuserconten

[2021-11-25 18:00] swatipawarGS commented on #31271
Hi @mrinal013 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots documenting for reference :

 Enable tax rates and calculations:

![#31271(Setting2)](https://user-images.githubusercontent.com/94531721/143434514-1bc1b001-d664-4173-a753-3226ee488b01.jpeg)

[2021-11-25 18:03] swatipawarGS commented on #31293
Hi @nagpai ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots documenting for reference :

On dashboard:

![#31293(On dashboard)](https://user-images.githubusercontent.com/94531721/143417984-416cbe75-dcd9-4b8a-867b-9c79b9515f6c.jpg)

On order details:

![#

[2021-11-25 18:03] swatipawarGS commented on #32217
Hi @nagpai ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots documenting for reference :

On dashboard:

![#31293(On dashboard)](https://user-images.githubusercontent.com/94531721/143417984-416cbe75-dcd9-4b8a-867b-9c79b9515f6c.jpg)

On order details:

![#

[2021-11-25 18:06] swatipawarGS commented on #24369
Hi @jimjasson ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screenshots documenting for reference:

https://user-images.githubusercontent.com/94531721/143403992-86a83d58-3be5-4972-accc-a843fd56001b.mp4

Priority of this issue will be a

[2021-11-25 18:59] kkmuffme commented on #30898
@juliaamosova could anybody please merge this?

[2021-11-25 21:01] MrJnrman opened #31304 "Update page load test when WooCommerce > Extensions is fixed"
Currently, there is a page error when navigating to `WooCommerce > Extensions`(screenshot below). This causes `runAdminWcPageTests` to break.

For now, that specific test step will be commented out until the issue on the page is resolved.
![Screenshot 2021-11-25 at 10.48.02 AM.png](https://images.zenhubusercontent.com/619adac91ef559e174b75fe1/bee8d233-e256-4c88-b4a2-f6716ac0d9a8)

Page load tests

[2021-11-25 21:16] MrJnrman opened #31305 "The default viewport is being overridden by jest.setup.js"
Our default viewport has been set to `1280x800` in `packages/js/e2e-environemnt/config/jest-puppeteer.config.js`. This configuration is later overridden by `/plugins/woocommerce/tests/e2e/config/jest.setup.js` when performing cleanups before each test suite.

This is an issue because the default viewport size was intentionally set to ensure that all elements were visible on the screen. When the de

[2021-11-26 01:37] mferrara commented on #28373
I've been maintaining a WC shop for the last 6 or so years and we've had nagging/on-going issues with these/this issue. It currently looks like this...

Posts: 530,000 rows
Post meta: 30,000,000 rows
WC Order Items: 1,300,000 rows
WC Order Item meta: 13,500,000 rows

About a year ago we came to a critical point where continuing to throw money/hardware at the problem wasn't going to cut it anymore,

[2021-11-26 06:26] mrinal013 commented on #31271
Hello @swatipawarGS

Thank you for testing. However, I can't get similar on my side. Here attached a video. I will appreciate your time.

https://www.dropbox.com/s/9zcnwe2hzvpwpuy/screen-capture.webm?dl=0

[2021-11-26 06:49] san-coding commented on #30308
@masteradhoc
Here all the details are being returned
https://github.com/woocommerce/woocommerce/blob/5d0296c565e2ded43db0aa659ea54cc08398ae8b/plugins/woocommerce/includes/class-wc-order-item-product.php#L23-L36
We can try to return the product's actual price when this API is called, will that solve the problem ?

[2021-11-26 07:55] John-belt commented on #29138
Yes. This has become a nightmare since no one creates an account on the first checkout and customer usually create it afterward and their older orders are not linked once he creates it. Would really like it if this basic functionality is included.

[2021-11-26 08:07] John-belt commented on #29138
@galbaras I actually use a code snippet to mimic this functionality. I usually create the account for the customer once he checked out and link it. Here is the code snippet for anyone else to use:

``
    function wc_register_guests( $order_id ) {
    // get all the order data
    $order = new WC_Order($order_id);

    //get the user email from the order
    $order_email = $order->billing_email;

[2021-11-26 08:08] rodelgc commented on #31300
Please note that we reply to bug reports in English language only. I used [Google Translate](https://translate.google.com/) to translate your message. You can use the same to translate my reply back.

In this issue you only provided us the title, which translated to:

Although we see from your screenshot that a certain WooCommerce page loads as a blank screen (seems like it's the Home page), we st

[2021-11-26 08:28] rodelgc commented on #31275
Definitely @MarcGuay that would be a big help! Please feel free to submit a pull request for this one.

[2021-11-26 09:14] rodelgc commented on #31296
Hi @EidoKh,

I see that [you already reached out](https://wordpress.org/support/topic/currency-not-available/) for assistance in our WordPress.org support forums.

GitHub should be treated as a place to report WooCommerce bugs only.
﻿
As mentioned in the support thread you submitted in WordPress.org, the issue you are having seems to be caused by the 3rd party plugin PayTabs.
﻿
Please contact the

[2021-11-26 09:14] #31296 closed, assigned to nobody

[2021-11-26 09:19] rodelgc commented on #31210
Hello @webmandesign,

Thank you for taking the time to submit this issue and a PR as well! We really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.
﻿
Stay tuned for updates.

[2021-11-26 09:35] rodelgc commented on #31297
Hi @WhoopDav,

Here's the link to Automattic's HackerOne page: https://hackerone.com/automattic
You should see a button there to submit a report, and it will take you to a form where you'd fill up the details of the issue.

[2021-11-26 09:35] #31297 closed, assigned to nobody

[2021-11-26 10:07] CodesbyRobot opened #31306 "PHP Errors on dashboard widget, doesn't display total sales from the last update"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.
- [x] Woocommcer version 5.9.0
- [x] Wordpress version 5.8.2
- [x] Php version  8.0.13

**Describe the bug**
The dashboard widget displays php warning, and doesn't di

[2021-11-26 10:16] webmandesign commented on #31210
Hi @rodelgc,

Thank you for the info. It's a bit unfortunate, but I guess I have to wait :)

An alternative approach would be to fix this via a theme, but I'd say that would not be ideal solution especially if the theme does not override WooCommerce templates otherwise.

[2021-11-26 11:54] PanosSynetos commented on #31037
Thanks a lot @peterfabian for your kind words :)

I just created the ticket, let's see https://core.trac.wordpress.org/ticket/54521

[2021-11-26 12:12] ronnyadsetts commented on #31276
Let me know if there's anything I can do to help with this.

[2021-11-26 12:47] ArneDBKey2info opened #31309 "wc_get_orders fails to retrieve one order"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-11-26 13:09] rodelgc commented on #31269
Hi @zeroanarchy01,

Could you please provide us the system status report and a link to the "WooSquare WooCommerce Square Integration" plugin if possible? Deactivating WooCommerce while other extensions that depend on it like (WooCommerce Bookings in my test) does not cause the /wp-admin/plugins.php page to continuously reload. Therefore the issue you're experiencing could probably be specific to t

[2021-11-26 13:11] ArneDBKey2info commented on #31309
I just discovered my wrong. The wc_get_orders function has a default limit set to 10 (which I wasn't aware of). Setting the limit to "1-" solved my issue. So no bug, just me not knowing things 🗡️

[2021-11-26 13:11] #31309 closed, assigned to nobody

[2021-11-26 13:18] rodelgc commented on #31294
Hi @oscarssanchez,

Thank you for logging this issue and for submitting a PR for it. I'll label it as an enhancement. We’re going to add it to our backlog where it will be considered for future releases.
﻿
Stay tuned for updates.

[2021-11-26 13:30] rodelgc commented on #31306
Hi @CodesbyRobot,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I tested this using the same WP, WC, and PHP versions as you mentioned above. As you can see from my screenshot below, the revenue shows up just fine (not 0.00) and there are no PHP errors.

<img width="434" alt="Screen Shot 2021-11-26 at

[2021-11-26 13:42] rodelgc commented on #31261
Hi @RVandenbussche,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this

[2021-11-26 13:42] #31261 closed, assigned to nobody

[2021-11-26 13:49] swatipawarGS commented on #30833
Hi @artprojectgroup ,

Thank you for the updated information, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below  screenshots for reference :

Coupon configuration:

![#30833(setting1)](https://user-images.githubusercontent.com/94531721/143553485-4fce114f-b53f-4a26-96e5-fad216fbff64.jpg)

![#

[2021-11-26 13:51] swatipawarGS commented on #31276
Hi @ronnyadsetts ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/143556865-4c95cc09-503e-42c6-addc-eabc2e648725.mp4

Please provide us more detailed steps and any additional steps requ

[2021-11-26 13:54] swatipawarGS commented on #30679
Hi @datverse ,

Thank you for the updated information. We are able reproduce the issue with "Post" on our end using WooCommerce 5.9.0 version and "Classic Editor" plugin .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/143572406-e2feffca-aaa8-4ed9-9d63-cbeabafd1db9.mp4

Priority of this issue will be assigned shortly after we’d go through a round

[2021-11-26 13:55] swatipawarGS commented on #30915
Hi @AHugie ,

Thank you for the updated information. but we are unable reproduce the issue using the given updated information on our end with WooCommerce 5.9.0 version.

Please find below screenshots for reference :

![#30915(1)](https://user-images.githubusercontent.com/94531721/143569045-3f314aba-539d-4181-a58c-294f7fa7e164.jpg)
![#30915(2)](https://user-images.githubusercontent.com/94531721/14

[2021-11-26 13:56] swatipawarGS commented on #31298
Hi @joashrajin ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/143576786-39e6fa3e-97f6-4ada-b361-e80e88e69c39.mp4

Priority of this issue will be assigned sho

[2021-11-26 13:57] swatipawarGS commented on #29204
Hi @levkany ,

Thank you for the updates information. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below  screencast for reference :

https://user-images.githubusercontent.com/94531721/143584890-ec4f5fde-5dce-4a28-a69f-360756e0fa8a.mp4

Priority of this issue will be assigned shortly after we’d go through a round of priorit

[2021-11-26 14:35] ronnyadsetts commented on #31276
Thanks @swatipawarGS. The only difference I can see in your test was we are not using the attribute as a variant. I'll try to reproduce in a new Wordpress instance.

[2021-11-26 15:54] ronnyadsetts commented on #31276
@swatipawarGS I've verified this with a new install, a single *simple* product and a global attribute.

Attaching an export of the product used for testing. Maybe that would help reproduce it?

[wc-product-export-26-11-2021-1637941821734.csv](https://github.com/woocommerce/woocommerce/files/7609725/wc-product-export-26-11-2021-1637941821734.csv)

[2021-11-26 16:06] Ken0429ng opened #31311 "Products import problem"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-11-26 16:37] #31311 closed, assigned to nobody

[2021-11-26 16:46] artprojectgroup commented on #30833
Thank you!

[2021-11-26 18:02] barryhughes commented on #31213
The handler is designed to only fallback on redirect mode if the download URL is perceived as being 'remote'. That's been true for a long time: what changed recently is the logic that decides if a URL is remote or not.

In this case—given that your custom post types are being served by the very same WordPress site—I think it's fair to say we're not dealing with a remote URL and so, in a way, the a

[2021-11-26 19:23] #29319 closed

[2021-11-26 22:48] galbaras commented on #29138
@John-belt Thank you for this code snippet.

Creating users automatically can be a valuable option, which the WooCommerce team should consider. Personally, I don't want to force customers to become users, but it's good to know about the `wc_update_new_customer_past_orders()` function.

So the solution should be to have a scheduled task that executes this function for every user found in new orders

[2021-11-26 22:51] FunkyCss commented on #31306
I can confirtm that , after the latest update there multiple errors in widget area.

A couple of them are that you cant delete some woo widgets , and random notices.

https://generatepress.com/forums/topic/widget-bug-report/#post-2025113

Tested with Generatepress , Astra Theme, and Block Shop

All have issues , when you disable woocommerce looks normal.

[2021-11-26 22:52] FunkyCss commented on #31306
![a](https://user-images.githubusercontent.com/62518751/143659801-f1db39a3-f37a-4f8f-a20b-a29e3f9d1f0e.jpg)

[2021-11-26 22:54] FunkyCss commented on #31306
![2](https://user-images.githubusercontent.com/62518751/143659870-7fad338d-cd0d-44ec-9a97-a9bf587d68cd.jpg)

[2021-11-27 06:41] John-belt commented on #29138
Yes, it's not a good solution but it gets the work done in the meantime. Personally, I would prefer the order linking once the user wants to create the account as you said. This is very important for repeat customers who come back to your site and then decide to create an account. I have numerous customers complaining to me that they cannot see their past orders after creating account. Hope the wo

[2021-11-27 11:29] jankarres commented on #31118
Thanks for your feedback @kkmuffme.

### CDNs

Why is that covered by GDPR? Because user country is commonly used for web application firewalls, geo-blocking,... which are not for convenience but required.

I can agree with you that e.g. CDNs have to do an IP address lookup. In my legal opinion, this is justified by [Art. 6 lit. f GDPR](https://gdpr-info.eu/art-6-gdpr/), since both the provision o

[2021-11-27 12:42] kkmuffme commented on #31118
Let's just take the simplest use case you mention (and argue against it, for the sake of it):

Let's find the simplest reason why geolocating is required for EU shops: (e.g. selling digital goods like woocommerce.com)
to comply with the EU VAT laws, every company is required to confirm the customer's location for VAT purposes. By geolocating the user, we have complied with this - we have a reason

[2021-11-27 14:07] daigo75 opened #31316 "How to handle the deprecation of dynamic properties in PHP 8.2 and PHP 9.0"
Is your feature request related to a problem? Please describe.
--
The PHP development team (i.e. one guy) announced that, starting from PHP 8.2, dynamic properties will be deprecated, and then removed altogether (see https://wiki.php.net/rfc/deprecate_dynamic_properties). Dynamic properties are used in a fairly large number of projects, and, admittedly, I've been using them extensively as a simple

[2021-11-27 16:07] AHugie commented on #30915
Hi @swatipawarGS  - Would you be willing to use our product data? I can perform an export and send it over but I would need to send it privately. By the way, we have 2 separate websites, one wholesale and one retail, and this issue occurs with both of them.

[2021-11-27 22:10] dishwashingtrout opened #31318 "Create Coupon API: _acfw_enable_coupon_url does not seem to apply properly"
When creating a coupon via the REST API, I would like to enable `_acfw_enable_coupon_url`. I have set the value as `yes` in Postman and it does not get applied. I tested with another meta data such as the `_acfw_force_apply_url_coupon` field and it allows me to enable without issues. This only seems to happen with `_acfw_enable_coupon_url`

URL: `/wp-json/wc/v3/coupons`

My Request:

[code]

Respo

[2021-11-28 07:14] levkany commented on #29204
hi @swatipawarGS, thank you very much!
another thing which is for some reason specific to the hebrew, language is that if the attributes names are written in hebrew characters, the import will never import the variations.

for example: "sizeof" which was written in hebrew: "גודל".
if i bulk change the "גודל" to "sizeof" it will work, but otherwise, it won't.

thank you very much! and i love your p

[2021-11-28 07:23] #31318 closed, assigned to nobody

[2021-11-28 13:55] martincpt opened #31319 "Cannot create account during checkout: Uncaught ArgumentCountError: Too few arguments to function wp_mail()"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When I try to create an account during the checkout, the procedure ends up in an email hook argument error.

[code]

**Expected behavior**
Creat

[2021-11-28 14:33] sultann opened #31320 "Can't save email template copied to theme when the template directory is not `woocommerce`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Can't save a Booking email template copied to theme code. This happens when the template directory name is other than woocommerce. For WooCommer

[2021-11-28 15:32] bendeng opened #31322 "404 . After active the woocommerce, goto the setup page, click the continue, show the error info"
Error:  Failed to load resource: https://www.xxx.com/wp-json/wc-analytics/products/reviews?page=1&per_page=1&status=hold&_embed=1&_fields%5B0%5D=id&_locale=user
the server responded with a status of 404 ()

Wordpress 5.8.2 , woocommerce 5.9.0
<img width="584" alt="iShot2021-11-28 23 31 58" src="https://user-images.githubusercontent.com/7540995/143774711-b3636eac-4d54-4af8-b64f-889e43d48f9d.png">

[2021-11-28 20:40] masteradhoc commented on #30308
@san-coding no that wont work. As when you change the price 2 days after the order and then call the API it would return the wrong price.

i would add ether
1) the product price of the moment the order gets created (so save the price at this time)
AND best would be to additionally
2) take @jonathansadowski idea with an additional _line_discount" - so save the difference between the product price &

[2021-11-28 21:48] tomwenk opened #31323 "Order Refund API Issue"
Dear Sir or Madam,
We are currently trying to integrate our CRM more deeply with WooCommerce. Now we want to enable our employees to make refunds via CRM. For this we read through the documentation and wrote the following code:
Unfortunately, every time we test it, we get the following error:

[code]

Our JS code is the following:

[code]
Can you please tell us how to make a refund via the WooComm

[2021-11-28 22:56] csmcneill commented on #26289
4536826-zen

[2021-11-29 04:40] rodelgc commented on #31306
@CodesbyRobot thank you very much for the feedback! Mentioning that it's a multisite installation and providing us the SSR could help a lot. We'll try to reproduce it again on our end and will get back to you.

[2021-11-29 04:43] san-coding commented on #30308
Okay, sounds right

[2021-11-29 04:43] rodelgc commented on #31306
Hi @FunkyCss,

Thanks for providing your input! If you haven't yet, kindly log a different GitHub issue for the other behaviors you're seeing with regards to the WC widget so that we could limit the focus of this issue to the original bug that the author reported.

[2021-11-29 04:47] rodelgc commented on #31210
@webmandesign the PR you submitted actually could help speed up the fix 👍
Thank you very much again for actively submitting a solution. Just give the Core team some time to get to your PR.

[2021-11-29 09:13] Coernel82 commented on #27661
Status update: The code is working already with one minor bug which hopefully will get solved the next days. The code will come as a plugin. No playing around with the functions.php just manually install and aktivate the plugin. You might need to hardcode your IBAN though.

On question: This thread is quite full - is it possible that someone deletes everything so that there will just be the link t

[2021-11-29 09:50] peterfabian opened #31324 "Twenty twenty-two compatibility and design updates"
[Twenty twenty-two](https://make.wordpress.org/core/2021/10/06/introducing-twenty-twenty-two/) is coming with [WordPress 5.9](https://make.wordpress.org/core/5-9/) in January and Beta is planned for Nov 30th. We have the initial design proposals for WC + TT2, so we need to implement them.

[2021-11-29 09:56] peterfabian commented on #31324
Designs below (also in p7bje6-3Bh-p2#comment-6640)

![cart-_-empty-1](https://user-images.githubusercontent.com/2207451/143846364-63ede026-6d58-480b-a93d-1d9b2ab747cf.png)
![cart-_-full-1](https://user-images.githubusercontent.com/2207451/143846372-bfeb4f85-2320-4145-bd0a-3d5ac207b7f8.png)
![checkout-_-order-placed](https://user-images.githubusercontent.com/2207451/143846378-89870860-411c-4666-ba5

[2021-11-29 12:22] nebojsa-ed opened #31325 "When add product in the group, it appear also in other group without I selected."
During add the product into selected group, after Update, it appear also in one other group. I made all known testing, rebuild keys in DB, but nothing help.
When try edit and change my Group name and Slug, got message: You need a higher level of permission. Sorry, you are not allowed to edit this item.
I suppose it should be bug, or I made some wrong.

[2021-11-29 13:03] Dan-Q opened #31326 "My Subscriptions page: right hand art of "Auto renews on" text can be cropped off at some resolutions"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
At some screen widths, the date part of auto renewal information on the My Subscriptions page can be partially cropped-off/hidden behind an invi

[2021-11-29 15:05] tammullen commented on #30915
Thanks @AHugie for the very useful additional information.

Thank you for offering to share data privately, it would be most useful if there was example product data that you could share publicly as then everyone who will work on/wants to contribute to this issue can see it.

This looks like a similar issue to https://github.com/woocommerce/woocommerce/issues/28722 I will keep both issues open for

[2021-11-29 15:16] swatipawarGS commented on #31271
Hi @mrinal013  ,

Thank you for the updated video. As observed in the video the step to add standard tax of 10% was missing. So, we retested the issue by adding standard tax and we are now able to reproduce the issue on our end with WooCommerce 5.9.0 version.

Please find the updated steps to reproduce as follows:

 1.   Go to WooCommerce -> Settings.
 2.   Click on Enable tax rates and calculatio

[2021-11-29 15:17] swatipawarGS commented on #31276
Hi @ronnyadsetts ,

Thank you for the updated information. We are able reproduce the issue using the provided CSV on our end with WooCommerce 5.9.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/143830461-4ab3f749-ad3f-4d10-ab22-2767bf7fe1d4.mp4

Priority of this issue will be assigned shortly after we’d go through a round of prioritizati

[2021-11-29 15:17] swatipawarGS commented on #31048
Hi @Rink9 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version .

Please find below  screencast for reference :

https://user-images.githubusercontent.com/94531721/143834185-52765f05-2797-42ad-bf69-32cdbca1ae72.mp4

Priority of this issue will be assigned shortly after we’d go through a ro

[2021-11-29 15:33] scrobbleme commented on #25133
Just encountered this for the first time... so still an issue.

[2021-11-29 15:51] peterfabian opened #31327 "Research spike: How Bookings will be affected by custom order tables"

[2021-11-29 16:17] ronnyadsetts commented on #31276
@swatipawarGS Thanks for confirming.

[2021-11-29 16:22] peterfabian commented on #25133
@scrobbleme please let us know if you manage to reproduce this consistently. Steps to reproduce would be great. Thanks!

[2021-11-29 16:40] scrobbleme commented on #25133
@peterfabian  It is a shop I maintain, what I can say so far:

- the shop owner created the order manually from the backend
- the product has 3 variables
- when adding the product to the order
   - only the last variant is shown and it is not possible to select the others

![image](https://user-images.githubusercontent.com/504835/143907523-a97eb6e1-5809-4288-b9ba-8ceb0e918484.png)

![image](https:

[2021-11-29 16:50] jonathansadowski commented on #31061
https://github.com/woocommerce/woorelease/pull/337 merged a PR that has been tested to make monorepo work with WR.

[2021-11-29 16:50] #31061 closed, assigned to jonathansadowski

[2021-11-29 17:02] peterfabian commented on #30027
Sadly, no, as we were looking into some higher priority bugs. Realistically speaking, I don't think this will be done this year due to the number of things in progress now (bugs, preps for WP 5.9, holiday season). Probably in January.

We can have a look at what makes the new Emogrifier incompatible with PHP 7.0 and see if we can change it, but rolling our fork always comes with a lot of overhead

[2021-11-29 17:07] jonathansadowski commented on #31135
Sorry for not updating this last week before heading out for the long weekend, but I started diving into the GH action for validating the changelogger entry. I'll post an update again at the end of the day.

[2021-11-29 18:31] #31132 closed, assigned to roykho

[2021-11-29 18:52] louwie17 commented on #32230
We are making use of this query under the hood -> https://woocommerce.com/wp-json/wccom-extensions/1.0/search
Which does take a `?country=NL` option, but after trying a couple different countries I didn't see a price difference.

Even the checkout page on woocommerce.com isn't clear about the currency and only adds the specified taxes if the country has been changed: https://woocommerce.com/checko

[2021-11-29 19:28] szepeviktor commented on #30027
Emogrifier uses
- constant visibility
- array destructor
- `void` return type

I think all of them could be backported to PHP 7.0 with Rector. (automatically)

[2021-11-29 20:30] AleWin32 commented on #29465
Same problem here:
ReflectionException: Method Automattic\WooCommerce\Proxies\LegacyProxy::init() does not exist

on line 100 of wp-content/plugins/woocommerce/src/Internal/DependencyManagement/AbstractServiceProvider.php

I have:
- MAMP 6.6 (1211)
- PHP 7.4.21
- WP 5.8.2
- WC 5.9.0
- Xdebug 2.9.8
- Visual Studio Code 1.62.3 with plugin PHP Debug 1.22.0 installed
- I don't have Storefront plugin i

[2021-11-29 20:58] AleWin32 commented on #29465
I have tried the solution of:
https://github.com/titantwentyone/woocommerce/pull/1

manually patching my file (as the patch suggests):
wp-content/plugins/woocommerce/src/Internal/DependencyManagement/AbstractServiceProvider.php

changing:
$method = new \ReflectionMethod( $class, Definition::INJECTION_METHOD );

to:
$method = method_exists($class, Definition::INJECTION_METHOD) ? new \ReflectionMeth

[2021-11-30 01:15] davidwebca commented on #20343
Came here to comment that @pushpen had the right solution. This issue arose only from WP cli's ```wp search-replace``` command whereas its ```wp db export``` didn't. There's probably a foreign index sorting done on one and not the other. Personal note to go and rise that issue if not already done on [WP-CLI's](https://github.com/wp-cli/db-command) repo.

[2021-11-30 03:40] mrinal013 commented on #31271
Hello @swatipawarGS

Thank you for watching and finding the difference. Edited the comment.

[2021-11-30 04:13] Krupa2788 commented on #14541
@AH72KING Where do we close if($create_order){ }? Please clarify.

[2021-11-30 07:44] adrianduffell opened #32216 "Fatal error in WooSubscriptions note when accessing note that doesn't exist"
### Describe the bug
A site owner reported a fatal error in the `WooSubscriptionsNotes` class.

[code]

We can see in the stacktrace, a call is made to `get_product_id_from_subscription_note ` with a note of `false`, rather than a valid `Note` object. A possible quick fix is to check for `false` return values and defensively handle them.

A possible reason for the `false` return value is due to a

[2021-11-30 08:21] minitaq opened #31331 "Orders Badge Count does not show"
Orders Badge Count does not show.

However, when rotating the screen, then it shows the badge count.

[minitaq](https://minitaq.com)

[2021-11-30 10:23] pokhiii commented on #14481
[This comment](https://github.com/woocommerce/woocommerce/issues/14481#issuecomment-296688883) is a lifesaver! Thank you!!

[2021-11-30 11:43] AH72KING commented on #14541
@Krupa2788  Create order check will go all toward bottom of function
because we cannot let the order to re-created

[2021-11-30 12:25] gijoecodes commented on #11450
I'm attempting to update an order according to the documentation as shown here: http://woocommerce.github.io/woocommerce-rest-api-docs/#update-an-order. When updating the quantity of a line item that is currently in the order, the order is updated. When adding new line items, the response is.

"code":"woocommerce_rest_invalid_item_id",
"message":"Order item ID provided is not associated with order

[2021-11-30 12:46] gijoecodes opened #31332 "Updating an order (adding line items) with rest api returns invalid_item_id"
I’m attempting to update an order according to the documentation as shown here: [(http://woocommerce.github.io/woocommerce-rest-api-docs/#update-an-order)](http://woocommerce.github.io/woocommerce-rest-api-docs/#update-an-order) When updating the quantity of a line item that is currently in the order, the order is updated. When adding new line items, the response is.

[code]

It is my understandin

[2021-11-30 14:15] ronnyadsetts commented on #31276
@rodelgc This has been reproduced independently by @swatipawarGS.

[2021-11-30 14:26] vortexfoto commented on #27661
@Coernel82 hello, did you manage to create plugin, im verry interested as its almost mandatory for us to use QR code in bank transfer. Thanks for reply

[2021-11-30 14:33] mattsherman commented on #31032
@woocommerce/mothra Just making sure that everybody notices that @joshuatf started on this issue... before picking this up, check with him to see if he has any WIP to push first.

[2021-11-30 14:34] Krupa2788 commented on #14541
@AH72KING Thanks for the reply. Would you please share a screenshot of where to finish curly bracket "}" of if($create_order) statement? Thanks again.

[2021-11-30 14:42] AH72KING commented on #14541
here
![image](https://user-images.githubusercontent.com/8464289/144068075-617d542c-8654-4934-86b1-66e41a0c667f.png)

[2021-11-30 15:14] swatipawarGS commented on #29204
Hi @levkany ,

Thank you for providing an updated scenario. We are unable to reproduce the issue on our end for Hebrew language using WooCommerce 5.9.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/144013909-328c684f-0a78-4c4d-8441-a934d85b00aa.mp4

Please provide us more detailed steps and any additional steps required to repro this iss

[2021-11-30 15:15] swatipawarGS commented on #31267
Hi @csmcneill ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and Disable Real MIME Check plugin.

Please find below screenshot for reference :

![#31267(1)](https://user-images.githubusercontent.com/94531721/144053601-c6471a01-78cb-477d-98ab-f0f92e505568.jpg)

Priority of this issue

[2021-11-30 15:15] swatipawarGS commented on #31306
Hi @CodesbyRobot ,

Thank you for providing an updated scenario. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version and multisite  .

Please find below screenshot for reference :

![#31306](https://user-images.githubusercontent.com/94531721/144055844-5c836a57-cd4a-49a3-835c-f587c6fa970e.jpg)

Please provide us more detailed steps and any additional steps required to re

[2021-11-30 15:23] Coernel82 commented on #27661
@vortexfoto Yes. And the one little bug was just a typo. Also there is no need to hardcode the IBAN. It is working perfectly: Install. Activate. Done. However I will have a look at the code to understand a bit then publish it on my github profile and write some proper documentation. Give me another one or two days!

[2021-11-30 15:53] zhongruige commented on #29138
Hi @galbaras!

Thank you for the tag! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-30 17:41] Maverick87Shaka commented on #28720
WooCommerce still not support at all the ability to don't apply VAT for UK if you're an EU store, this is almost ridiculous.
And I'm even not sure why there is a Standard TAX rate table taht you can manually edit if it will be ignored during checkout.

[2021-11-30 17:50] MrJnrman commented on #28185
Picking up this issue. Thanks for the suggestion @rrennick

[2021-11-30 17:50] mmtomm commented on #28720
@Maverick87Shaka I think you can accompish this by tax settings > based on > shipping destination and then setup a shipping class for UK with 0% tax.

[2021-11-30 17:50] #28720 closed

[2021-11-30 18:32] barryhughes commented on #28961
Depending on what we find when we start work on this, it _may_ be worth thinking of it as an issue for the beta testing plugin.

[2021-11-30 18:55] artprojectgroup commented on #30833
Tested in WordPress 5.9 Alpha 52262 and WooCommerce 6.0 Beta 1 with the same result.

Best regards.

[2021-11-30 20:38] #30866 closed, assigned to rrennick

[2021-11-30 20:52] barryhughes commented on #28968
Thanks for reaching out, @mircobabini.

I setup Memcached alongside [this plugin](https://wordpress.org/plugins/memcached/) (please let me know if you were using something else) and attempted to replicate as follows:

1. I set the `woocommerce_version` constant to `'5.8'`, which was sufficient to make [this condition](https://github.com/woocommerce/woocommerce/blob/5.9.0/includes/class-wc-install.

[2021-11-30 21:25] MrJnrman opened #31337 "Investigate why runAddSimpleProductTest fails when executed in headless mode"
This issue was identified in this PR: https://github.com/woocommerce/woocommerce/pull/31314

This commit gives more detail on the issue: https://github.com/woocommerce/woocommerce/pull/31314/commits/a76faaf72ca20bdfd54634ca70c3933dc6d735c4

[2021-11-30 22:55] mircobabini commented on #28968
Hey @barryhughes thanks for your investigation here; after 10 months, I just can't recall everything now.

Also, I didn't face the issue anymore. But I've had issues with memcached some other times so fare (not clearing even if forced using Siteground's php APIs provided by their optimizer). I've faced issues clearing the memcached even on other websites using their memcached.

Yes, I'm using thei

[2021-11-30 22:55] #28968 closed

[2021-11-30 23:44] Maverick87Shaka commented on #28720
It's already set based on destination address, and set up a shipping class for GB doesn't have effects

[2021-12-01 02:10] AashikP opened #31339 "WooCommerce Displays other available Payment gateways even though a payment gateway is set on a manual order"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When a payment gateway is set on manual order, WooCommerce displays all available payment gateways to the customer, even though it will only al

[2021-12-01 02:12] AashikP commented on #31339
Originally discussed in woo-devs: p1638256011011300-slack-C7U3Y3VMY

[2021-12-01 03:03] barryhughes commented on #28968
Yes, I'm sorry it took so long for us to reply: thank you though for taking the time to share that update—we can look out for similar patterns in any other reports we might receive.

[2021-12-01 03:03] psealock commented on #30864
Now that we use pnpm is this required?

[2021-12-01 03:21] #31332 closed, assigned to nobody

[2021-12-01 05:31] babuus opened #31340 "Cannot use WooCommerce Hooks"
![image](https://user-images.githubusercontent.com/38039777/144177267-342969e0-c61b-4f4b-a0b6-8fa917f3ad40.png)
I am creating a plugin, It will add a tag inside the woo-commerce product page(with woo-commerce hook) by getting input from my plugin page(Input: woo-commerce hook name), I have created a form for users input, the hook works well in other places but add_action(hook) will not in the if c

[2021-12-01 07:25] danicastejic commented on #22158
@rrennick you are a lifesaver! Thank you!

[2021-12-01 08:27] pankajswarankar opened #31341 "add action woocommerce_payment_token_deleted not working"
Ive added a action to receive woocommerce_payment_token_deleted

add_action('woocommerce_payment_token_deleted', array($this, 'action_woocommerce_payment_token_deleted'), 10, 2 );

However my function "action_woocommerce_payment_token_deleted" is never called when I delete a token in the my accounts payment method page.

I have checked that the WooCommerce function public function delete( &$token,

[2021-12-01 09:39] dennisnissle opened #31342 "Default user email overrides customer session data"
**Prerequisites**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
For logged in users, the default user email address overrides session data during checkout in case the customer removes the input value and submits the form (while JS is disabled).

[2021-12-01 10:38] simkoG opened #31343 "Google Fonts @import error in custom email template file"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Cannot use `@import` with Google Fonts link in custom email template design with the `email/email-styles.php` file.

**Expected behavior**
Write

[2021-12-01 11:57] AH72KING opened #31344 "Delete User , Delete Attachment of Product Not Product"
I have faced a issue, in which we delete few users who did data entry of products in woocommerce, no post assign to them only product,

Wordpress and Woocommerce do not show any content assign to them regarding post , product etc.

So when we delete the users and do not keep content it not delete all products but delete all images of the products

I suggest it should not delete the image or at lea

[2021-12-01 12:03] vortexfoto commented on #27661
@Coernel82 thanks :)

[2021-12-01 13:53] tammullen commented on #31267
Related/Possible duplicate: https://github.com/woocommerce/woocommerce/issues/26076

[2021-12-01 14:24] #31305 closed, assigned to MrJnrman

[2021-12-01 14:49] swatipawarGS commented on #31326
Hi @Dan-Q ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and Firefox 94.0.2.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/144219553-03ce4b2b-c693-4925-9093-476838b28835.mp4

Priority of this issue will be assigned shortly after we’

[2021-12-01 14:50] swatipawarGS commented on #31319
Hi @martincpt ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/144201526-19b9e856-69c6-4a52-85dc-d562a7dc8962.mp4

Please provide us more detailed steps and any additional steps require

[2021-12-01 15:08] martincpt commented on #31319
Thank you for your answer!

Sorry, but I've just figured out it was a poorly written hook what caused this but logs didn't give me any proper hints first.

I appreciate your help though. I'm closing the issue now.

[2021-12-01 15:08] #31319 closed, assigned to nobody

[2021-12-01 15:30] louwie17 commented on #32241
I just tried again and couldn't reproduce it, it does seem like the error lies with our call to `triggerNoteAction`.
If someone does get this again, please have a look at the note action request in the network panel and see if it returns a 404 and if it shows any errors.
The request would look something like this: `/wc-analytics/admin/notes/<note_id>/action/<action_id>`

[2021-12-01 16:18] pankajswarankar commented on #31341
I resolved it by create new payment token file and create separate add_action for  woocommerce_payment_token_deleted
and create function for the same and it works

[2021-12-01 16:18] #31341 closed, assigned to nobody

[2021-12-01 16:43] jeffstieler opened #31345 "Incorrect Order Data Using `@woocommerce/api`"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-12-01 17:14] davelozier commented on #32220
Same issues with WordPress 5.8.2, WooCommerce 5.9.0 and PHP 7.4.26.

As suggested above we can download directly by replacing the report ID as needed.
wp-admin/?action=woocommerce_admin_download_report_csv&filename=wc-revenue-report-export-```16365562862955```

The report lacking labels isn't helpful though.

[2021-12-01 17:30] barryhughes opened #31346 "Add filter before"

[2021-12-01 17:30] #31346 closed, assigned to nobody

[2021-12-01 17:30] barryhughes commented on #31346
ZenHub fail :-(

[2021-12-01 17:34] barryhughes commented on #28969
Thank you for the report and apologies for the delay in responding. We agree this is a probable bug/oversight.

[2021-12-01 17:54] barryhughes commented on #28972
Thank you for this suggestion.

I agree with the general concerns you raised, and we'll certainly try to factor them in via future changes. For now, though, I will close this issue:

- Some changes such as you suggested for existing method `WC_Abstract_Order::get_discount_total()` would pose backward compatibility concerns.
- Providing the ability to obtain only the sale discount (non-coupon disco

[2021-12-01 17:54] #28972 closed

[2021-12-01 17:55] barryhughes commented on #27327
Thanks for the additional notes and updates :+1:

[2021-12-01 19:24] tammullen commented on #29740
@swatipawarGS Can you check if this is still happening?

[2021-12-01 19:41] tammullen commented on #30841
Hi @de17

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
​
The issue you are having seems to be caused by the 3rd party booster plugin you mention.
​
Please contact the author of the plugin directly for further help.

[2021-12-01 19:41] #30841 closed, assigned to nobody

[2021-12-02 00:06] csmcneill opened #31347 "Cannot update variable product sale price without selecting a different field"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When adding, removing, or modifying a sale price on a variable product, the `Save` button cannot be interacted with until a different field is s

[2021-12-02 00:08] csmcneill commented on #31347
Reported in 32989943-hc
Potentially related to #31298 and #31048

[2021-12-02 11:16] pacmanito opened #31349 "Deprecated and removed jQuery code in jquery.zeroclipboard.js"
Hi. There's some deprecated and even removed jQuery code in Zeroclipboard script (https://github.com/woocommerce/woocommerce/blob/release/6.0/plugins/woocommerce/assets/js/zeroclipboard/jquery.zeroclipboard.js), namely, it uses deprecated and removed $.event.props on lines 1762-1774.

https://github.com/woocommerce/woocommerce/blob/7e124b40113e3da13f2e6315f150170bfbf265d9/plugins/woocommerce/asset

[2021-12-02 11:46] tammullen commented on #31322
Hi @bendeng ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lack

[2021-12-02 11:47] tammullen commented on #31325
Hi @nebojsa-ed ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2021-12-02 11:48] tammullen commented on #31344
Hi @AH72KING ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2021-12-02 13:57] swatipawarGS commented on #24660
Hi @strategio ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end for French language  using WooCommerce 5.9.0 version , WordPress 5.8.2 version .

Please find below screenshot for reference :

![#24660](https://user-images.githubusercontent.com/94531721/144374062-d03cb5f0-0d45-4133-96e0-f1d0ee666b29.jpg)

Please prov

[2021-12-02 13:58] swatipawarGS commented on #29740
Hi @tammullen ,

We are able to reproduce this issue on our end using WooCommerce 5.9.0  version and "Twenty Twenty-One" theme .

Please find below screenshots  for reference :

Change Payment Method:

![#29740(change payment )](https://user-images.githubusercontent.com/94531721/144382942-147edb15-aa44-43df-8c05-4143fffe7c11.jpg)

Add Payment Method:

![#29740(add payment method )](https://user-im

[2021-12-02 13:59] swatipawarGS commented on #25293
Hi @juliaamosova ,

We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/144420233-755c7069-834e-4869-8fa9-f600904124a4.mp4

Please provide us more detailed and any additional steps required to repro this issue which may help us to evaluate it f

[2021-12-02 14:05] swatipawarGS commented on #31347
Hi @csmcneill ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast for reference:

https://user-images.githubusercontent.com/94531721/144428481-1140abd9-cfaa-43dc-82a9-93ed1baa3748.mp4

Priority of this issue will be assigned shortly after we’d go through a r

[2021-12-02 14:06] strategio commented on #24660
Hi @swatipawarGS, this might have been fixed elsewhere.
Unfortunately, I have no time to re-test right now and it's not really a problem for me (I just reported something unexpected).
Let's close this issue then.

[2021-12-02 14:06] #24660 closed

[2021-12-02 15:19] MrJnrman opened #31351 "Collect metrics on E2E test retries"
E2E retries were implemented [here](https://github.com/woocommerce/woocommerce/pull/31336)

It would be great to collect metrics on which tests are being retried. This could help us identify flaky tests and make them more robust.

[2021-12-02 15:29] gs-nasc opened #31353 "Deprecated library zeroclipboard on project"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:** Woocommerce has using a deprecated library (zeroclipboard), zero

[2021-12-02 15:52] swatipawarGS commented on #24998
Hi @helgatheviking ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce  with the Twenty Nineteen and Storefront theme but unable to reproduce with Twenty Twenty and Twenty Twenty one theme the issue on our end using WooCommerce 5.9.0 version .

Please find below screencasts for reference:

Twenty Nineteen theme :

https://user-images.github

[2021-12-02 17:28] #30673 closed, assigned to rodelgc

[2021-12-02 17:30] zhongruige commented on #30670
Closed via https://github.com/woocommerce/woocommerce/pull/31052

[2021-12-02 17:30] #30670 closed, assigned to rodelgc

[2021-12-02 17:30] zhongruige commented on #30671
Closed via https://github.com/woocommerce/woocommerce/pull/31052

[2021-12-02 17:30] #30671 closed, assigned to rodelgc

[2021-12-02 17:30] zhongruige commented on #30672
Closed via https://github.com/woocommerce/woocommerce/pull/31052

[2021-12-02 17:30] #30672 closed, assigned to rodelgc

[2021-12-02 18:37] MrJnrman commented on #30615
While discussing this issue with @zhongruige, we started to wonder if the work is worth the value it adds.

Since each push to a branch will have an associated build and results, how much value will it add if we post tests results as comments to the PR?

Also, since we are the only ones with access to those sites (and by extension those workflow logs), it's not necessarily beneficial for anyone ou

[2021-12-02 19:05] zhongruige commented on #30615
@rrennick [has a pull request](https://github.com/woocommerce/woocommerce/pull/31087) using the `run: smoke tests` label, so I'd be curious on if having the comment would have helped or if looking into the checks below was sufficient in watching the results.

[2021-12-02 19:47] louwie17 commented on #32237
Just to follow up on this, I did some more testing, and it does appear that the attributes filter only works for orders with variations, that required a certain attribute to be selected within the order.

Although I do think that filtering by any product with that attribute would be beneficial and a nice feature to have. I will label this as an enhancement.

[2021-12-02 19:49] rrennick commented on #30615
I think this is the scenario we were thinking about where the comment would simplify confirming the smoke test. I don't see any value in doing this for the nightly tests since they aren't associated with a PR.

[2021-12-02 20:28] nebojsa-ed commented on #31325
Hi,

Describe the bug
I guess  database of my woocommerce site is corrupted. Strange things happens. More time after defined some attributes and configure terms, after some days (can't define when) Terms list was empty. Cannot detect the cause.
If add again terms, and try edit one of the terms I got Error: 'Need higher level of permission' After that when again select this term, look tvice same te

[2021-12-03 00:35] #31215 closed, assigned to nobody

[2021-12-03 00:35] #31229 closed, assigned to nobody

[2021-12-03 02:12] ASNUAirCon opened #31357 "Incorrect product prices"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-12-03 07:35] sebastijanz commented on #27661
@Coernel82 Thats perfect. Cant wait to try it :) I'm waiting for some solution already for one year :)

@juliaamosova If you are still here, Will WOO implement this also? :)

[2021-12-03 08:01] jacobraccuia commented on #26847
I ran into a problem trying to call a WC endpoint internally, using `wp_remote_get`, inside of a `save_post` action.  Authentication was failing inside the aforementioned `authentication_fallback`.

I tried to debug all of the variables and found that my user ID was already set during the initial `authenticate` method, so the fallback was triggering. `get_current_user_id` was returning a value and

[2021-12-03 08:49] janmeza commented on #14149
That solved the issue for me too! Thanks! 👍

[2021-12-03 10:06] Coernel82 opened #31358 "integrate this SEPA-QR plugin into Woocommerce core"
As discussed in #27661 we need SEPA-QR-Codes for BACS-payments.
Here is the (hopefully) GDPR-comliant simpel plugin doing the job:

# Plug-and-play plugin for Woocommerce
https://github.com/Coernel82/SEPA-QR-for-Woocommerce

[2021-12-03 10:09] Coernel82 commented on #27661
As this thread is cluttered:

# Working SEPA-QR-Code plugin for Woocommerce
## discussion
https://github.com/woocommerce/woocommerce/issues/31358

## directly to the plugin
https://github.com/Coernel82/SEPA-QR-for-Woocommerce

Please tell me if it works and if the documentation is clear!

**Maybe someone can close this thread?**

[2021-12-03 10:41] sukafia opened #31359 "Tax class assigned to products not calculated when local pickup is the shipping method"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When tax class is assigned to a product, the tax isn't calculated when local pickup is the selected shipping method but is calculated for other

[2021-12-03 10:43] sukafia commented on #31359
4562730-zen

[2021-12-03 11:04] swatipawarGS commented on #24439
Hi @melek ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots for reference :

Product page load:

![#24439(Product page load)](https://user-images.githubusercontent.com/94531721/144562034-46ca13f0-256f-4ee5-b65d-73cedb1ac1bc.jpg)

After selecting the first

[2021-12-03 11:05] swatipawarGS commented on #25248
Hi @juliaamosova ,

We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version .

Please find below screenshot for reference :

![#25248](https://user-images.githubusercontent.com/94531721/144570125-0a3d1a18-a94a-40a7-88ce-126885cad7ac.jpg)

Please provide us more detailed and any additional steps required to repro this issue which may help us to ev

[2021-12-03 12:05] peterfabian commented on #31316
Thanks for raising this, @daigo75 and for the great explanation. I think this deserves a bit more in-depth research, as just enabling this across all our classes might have implications we don't know about just yet.

Additionally, I think there are other ways to achieve a similar effect without necessarily using dynamic properties, from simple ones like having an array/map to keep track of process

[2021-12-03 12:33] daigo75 commented on #31316
@peterfabian I can already comment on this:

In short, no, it won't. It will make the code work exactly as it does now. Hence my suggestion of that being a quick fix.

The other solution you describe, of using an external dictionary, is also one of the options I evaluated (which, I realised, I didn't describe in in my post, but I definitely evaluated). However, keeping an external list can only wo

[2021-12-03 13:38] tammullen commented on #25248
Hi @swatipawarGS

It looks like you haven't tried refunding the fee as in the original issue reproduction steps

[2021-12-03 13:42] Mtarnuhal commented on #27030
Is anyone working on this? It feels like this is getting forgotten.
I've seen high priority issues being fixed even tho they are created later then this one.
it feels like "High Priority issues are being cherry picked".

[2021-12-03 14:16] sebastijanz commented on #27661
@Coernel82 I have tried to scan the qr code with my bank application, but code is not recognised :(

[2021-12-03 14:51] rrennick commented on #30864
The reason that I created the issue is that npm 7 will install peer dependencies while versions 6 and earlier do not. A secondary issue is that our packages seem to have [an issue with npm 7](https://github.com/woocommerce/woocommerce-e2e-boilerplate/issues/7). As long as we can resolve both issues with pnpm then I'd be fine with closing this.

[2021-12-03 15:28] swatipawarGS commented on #25401
Hi @Webvriend ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using Samsung Galaxy Tab A [1200x1920 pixels] but, we were unable to reproduce on iPad 6th gen [2048 x 1536 resolution] also, we were not able to test the issue on a Asus tablet due to unavailability of the device.

Please find below screencast for refere

[2021-12-03 15:28] jacoswan opened #31360 "Coupons: Restrictions want Product AND Product category not OR - requirements unclear"
**Prerequisites (mark completed items with an \[x\]):**

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

It's not clear if Coupon Usage Restrictions are Product AND Categories, or Products OR Categories.

If you specify Products = `Vneck Tshirt`

[2021-12-03 15:29] swatipawarGS commented on #31359
Hi @sukafia ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots for reference :

For flat rates :
![#31359(flat rate)](https://user-images.githubusercontent.com/94531721/144606653-7aa47f0c-b0a2-40b0-b3e2-5c411a01b398.jpg)

For local pickup :

![#31359(loc

[2021-12-03 15:29] swatipawarGS commented on #24361
Hi @jessepearson ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end for French language  using WooCommerce 5.9.0 version.

Please find below screenshot and screencast for reference :

![#24361](https://user-images.githubusercontent.com/94531721/144595160-c6780415-e276-4c13-b3b8-2d63fd246b87.jpg)

https://user-images.gi

[2021-12-03 15:32] Coernel82 commented on #27661
Which QR code? A sample code or a code generated with your Woocommerce?
Scan it with a normal QR-Code scanner, post the result (the text) here.

[2021-12-03 15:50] jeffstieler commented on #31200
We should probably exclude inserts/updates using the WP metadata functions for this issue since there isn't enough information to know if a falsy return is due to an error or no update needing to be performed (unchanged value).

[2021-12-03 17:15] peterfabian commented on #31200
That's perhaps a bit unfortunate wrt to issues like these (p74xnj-wu-p2) where the erroneous meta data for orders cause strange side effects, but I'm hoping we'll be able to solve this when we migrate to custom tables, so let's go with what is possible now without expending too much effort.

[2021-12-03 18:00] barryhughes commented on #31252
Hi @bravomediamats, that seems like a reasonable change to me (alternatively, I imagine that the callback could maintain its own counter—but this seems like a safe and clean change that would make things a bit easier).

Are you happy to take a shot at submitting a PR for this? If not, we can leave for either one of the team or for another community contributor to tackle.

[2021-12-03 18:12] barryhughes commented on #31170
Marking as a bug: `get_query_template()` always returns a string, but it will be an empty string if the desired template (or an alternative) is not found somewhere in the hierarchy.

[2021-12-03 18:21] ashleythewebdeveloper commented on #25461
Can confirm this works.

[2021-12-03 18:54] barryhughes commented on #31226
Thanks for the report—and thanks for the notes, @DavidAnderson684, not much more I can add to that :-)

Since there doesn't seem to be a 'real' problem here (it's just that New Relic is surfacing an error that would otherwise be suppressed), I'd recommend silencing the error there if you can.

I'll go ahead and close this report as there isn't really anything for us to do on our end.

[2021-12-03 18:54] #31226 closed, assigned to nobody

[2021-12-03 19:02] barryhughes commented on #31184
CLDR isn't something we control, though we try to adhere to it, but if I'm interpreting things correctly this change will be reflected in release 41 (they seem to follow a 6-month cadence, so I'd assume we'll see this change in April 2022).

[2021-12-03 19:03] barryhughes commented on #31184
Removed the dev feedback label: this sounds like a good change, though I think we should wait until CLDR 41 rolls out and confirm things then. Please do let us know if you strongly disagree.

[2021-12-03 19:28] rrennick opened #31362 "path to individual E2E test script needs plugins/woocommerce"
When running E2E tests in the `plugins/woocommerce` folder and specifying a specific test script the relative path needs to duplicate the `plugins/woocommerce`. See https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/smoke-test-daily.yml#L34 and https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/smoke-test-daily.yml#L52.

#31260 contains a `resolveLocalE2eP

[2021-12-03 19:48] barryhughes commented on #31140
Thanks for the report, @smazur. I think I see what you mean.

Just to confirm we're on the same page and breaking it down one more time (focusing on `_shipping_phone`, though I understand this applies for all internal keys):

1. We start with an order where the shipping phone number is `'100 200 3000'`.
2. Next we call `$order->update_meta_data( '_shipping_phone', '999 999 9999' )` (and then save

[2021-12-03 19:50] jeffstieler commented on #31200
After some consideration, I'm going to remove my assignment.

So long as a store hasn't chosen to suppress errors in `wpdb`, all query errors will be logged (using `error_log()`), so I'm not sure how much value additional logging will have.

[2021-12-03 20:06] sukafia commented on #31359
Hi @swatipawarGS, thanks for taking a look. Can you confirm that the tax class is assigned to the product like this: https://d.pr/i/epsOOc ?

[2021-12-03 22:04] danielbarenkamp opened #31363 "Slow Loading when Editing a Product"
Can somebody please explain me what theses script loadings (see attached) are and why they are loading 15 seconds? Can I stop them? Do I need them?

<img width="2521" alt="Bildschirmfoto 2021-12-03 um 23 01 09" src="https://user-images.githubusercontent.com/3169388/144678837-df5199af-b5d5-4229-b370-e63f787b11de.png">

[2021-12-03 22:04] danielbarenkamp opened #32215 "Slow Loading when Editing a Product"
Can somebody please explain me what theses script loadings (see attached) are and why they are loading 15 seconds? Can I stop them? Do I need them?

<img width="2521" alt="Bildschirmfoto 2021-12-03 um 23 01 09" src="https://user-images.githubusercontent.com/3169388/144678837-df5199af-b5d5-4229-b370-e63f787b11de.png">

[2021-12-03 22:30] barryhughes commented on #31086
I don't think the resulting class is illegal, exactly, as percent signs can be used within CSS classnames (and they can be successfully referenced them from CSS stylesheets so long as we escape them) ... but I can see that this might be pretty awkward to work with.

The source of this seems to be within [`wc_display_product_attributes()`](https://github.com/woocommerce/woocommerce/blob/5.9.0/inclu

[2021-12-03 22:42] simkoG commented on #31086
@barryhughes The `sanitize_title()` version is much better as a native Hungarian speaker. The first one missing some letters.

For the backwards compatibiliy, I do not know it is a good practice, but you can use the old class name with new one at the same time.

[2021-12-03 23:17] barryhughes commented on #28642
@mrgrt—can I just confirm how things are configured in **WooCommerce ▸ Settings ▸ Products ▸ Downloadable Products** with respect to the **Grant access to downloadable products after payment** option? Does toggling this make any difference in your case?

[2021-12-04 00:36] barryhughes commented on #30700
Hi @Nick776,

Thanks for the report!

I can imagine that the warning highlighted by Query Monitor might be a little annoying, but it sounds like:

* There are no functional problems (nothing is actually broken).
* The problem only shows up on the **WooCommerce ▸ Status** screen and not elsewhere.

Although the red styling used by Query Monitor might be a tad alarming at first sight, in surfacing t

[2021-12-04 00:36] #30700 closed, assigned to nobody

[2021-12-04 00:37] barryhughes commented on #31086
Very true—that makes a lot of sense (thank you also for the confirmation re `sanitize_title()`).

[2021-12-04 01:09] bozzmedia commented on #32241
Just tried it again now, this console error pops up on click:

No 404's present in the Network panel.

[2021-12-04 12:22] bluantinoo opened #31364 "html_entity_decode() expects parameter 1 to be string, array given"
https://github.com/woocommerce/woocommerce/blob/313d40d3960da3de560a96566491bb6115141eec/plugins/woocommerce/includes/wc-attribute-functions.php#L19

Don't really know what's happening here, but I get this having default WP theme and just Woocommerce as plugin.

`PHP Warning:  html_entity_decode() expects parameter 1 to be string, array given in /wp-content/plugins/woocommerce/includes/wc-attribut

[2021-12-04 16:19] vijayhardaha opened #31365 "New Settings: Enable backorder notifications"
It will be nice to have new options to control backorder emails from WC settings > Products > Inventory.

Since we already have options for low stock and out of stock to enable disable the email notification but for the backorder, we always have to put custom code if we don't need the backorder emails.

Consider there are some websites that only keep backorders as per their business style for thos

[2021-12-04 18:13] rodolphebertozzo opened #31366 "Add the possibility to filter orders according to products"
On the orders page : Woocommerce > Orders, add in the filters a "sort by products" function

[2021-12-05 10:54] WiredWonder commented on #42663
Please don't close this, I'm not the only person asking for it :)

[2021-12-05 20:44] chaiwei commented on #29793
Hi I also encounter the same issue on my website. Is there any solution for this?

### Update - temporary solutions

[code]

[2021-12-05 22:33] strassl commented on #29793
Hey @chaiwei,

check out the mentioned pull request (#30062) and the "Possible fix" section in the original issue for more information how to deal with it. I'm currently patching this by replacing the call to `round` with a call to `floor`. Not exactly something to be proud of, but until it is fixed in woocommerce it at least serves as a workaround.

e.g.
[code]

[2021-12-05 23:50] slightlyfaulty opened #31367 "Product attribute lookup table is created without indexes"
The new `wc_product_attributes_lookup` table in WC 6.0 is created without any indexes. This seems strange for a lookup table. Is it intentional or an oversight?

https://github.com/woocommerce/woocommerce/blob/313d40d3960da3de560a96566491bb6115141eec/plugins/woocommerce/src/Internal/ProductAttributesLookup/DataRegenerator.php#L137-L148

[2021-12-06 01:16] slightlyfaulty commented on #30564
If the tool to regenerate the table contents is left in place, it might be a good idea to make it so the `woocommerce_attribute_lookup_enabled` setting isn't disabled every time it runs, like it currently does in `6.0.0-rc.1`.

[2021-12-06 01:44] bendeng commented on #31322
Sorry for late to reply, I hava resolved this issue just because I used other plugins such as start-template.
If I install astra theme first, and install start-template plugin, and then import whole site(it will install woocommerce), it will be ok!

[2021-12-06 01:45] #31322 closed, assigned to nobody

[2021-12-06 06:05] 397-sanjiuqi opened #31368 "List all orders API Issue"
Dear Sir or Madam,

woocommerce V3 rest api  ： /wp-json/wc/v3/orders
The problem we are currently encountering: When obtaining the order list, the parameter obtained according to time is [after] [before], this is the problem point, we found that these two parameters are queried according to the creation time, I want to according to Modify the time for query, how should this be achieved?

Because o

[2021-12-06 09:21] erikdemarco opened #31369 "Ability to embed video in product gallery"
Currently many big ecommerce stores implementing video as an additional media in product gallery. because it increase engagemant and conversion rate.

In woocommerce the only way to add video is via media uploader which means we need to host the video ourself. It will be more cool if we support adding product videos via youtube/vimeo link or other video hosting.

Resources:
https://baymard.com/blo

[2021-12-06 10:29] ronnyadsetts commented on #31276
I'm not overly familiar with the Woo codebase but if someone has pointers on where to start in locating the bug, I'm happy to dig in and see if I can produce a patch to fix the issue as this is affecting a production website. Thanks.

[2021-12-06 10:40] vedanshujain commented on #29908
@Novy85 This is happening because rounding is done at subtotal level, instead of at unit level, so technically price before tax is not 11.17, but instead 11.172131. You are seeing this inconsistency because in the admin view, we always display price before tax and they are rounded for display convenience.

This is generally correct for accounting purposes (although you should consult an accountant

[2021-12-06 10:40] #29908 closed

[2021-12-06 12:03] tammullen commented on #31367
Hi @slightlyfaulty ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-06 12:34] designboxcom commented on #31358
Thank you very much for your awesome work. I'll give it a try during the week. I also wish to see this function integrated into Woocommerce Core... :)

[2021-12-06 12:53] webdados opened #31371 ""...in the account section and in reviews" should not include "and in reviews" if reviews are not enabled"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If reviews are not enabled, the string "This will be how your name will be displayed in the account section and in reviews" in My Account > Acco

[2021-12-06 13:18] HBaz92 opened #31372 "Woocommerce Max Discount its not Apply Through API & Other Smart Coupon Rules"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed  #issues and cannot find a duplicate.

**Describe the bug**
im using smart coupon plugin from woocommerc and when i add rules For example like max discount its not apply through api ..The order is cre

[2021-12-06 13:38] swatipawarGS commented on #31359
Hi @sukafia ,

Thank you for the updated screenshot, yes the tax class is assigned to the product as given in the screenshot but we are unable reproduce the issue on our end with WooCommerce 5.9.0 version.

Please find below screenshots for reference :

adding Tax class :

![#31359(product)](https://user-images.githubusercontent.com/94531721/144804386-07c23332-ba78-4138-9f07-9b57009c3b60.jpg)

For

[2021-12-06 13:40] swatipawarGS commented on #25770
Hi @paulgiandomenico ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

Some Product with 2 categories assigned to them :

![#25770(product)](https://user-images.githubusercontent.com/94531721/144810197-03253d4d-8a34-4719-b79b-8aaa84bf1f7

[2021-12-06 13:43] swatipawarGS commented on #25547
Hi @dsmithweb ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast  for reference :

https://user-images.githubusercontent.com/94531721/144817849-2e6cf1d6-5f2e-451d-a178-c3de74815e70.mp4

Priority of this issue will be assigned shortly after we’d go through a

[2021-12-06 13:45] swatipawarGS commented on #24081
Hi @Robbertdk ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

Create shipping :

![#24081(shipping)](https://user-images.githubusercontent.com/94531721/144822771-69fd365d-c6b0-42d1-a279-cff14b1cf448.jpg)

Create Coupon :

![#24081(Coup

[2021-12-06 14:23] swatipawarGS commented on #24097
Hi @bor0 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version  .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/144835482-1cfd09a9-d3b7-4c5c-8823-77b29d137f2e.mp4

Please provide us more detailed and any additional steps required to repr

[2021-12-06 14:24] swatipawarGS commented on #25248
Hi @tammullen ,

Thank you for pointing out the missed step. We are able to reproduce the issue at our end using with WooCommerce 5.9.0 version.

Below is the screenshot for reference  :

![#25248](https://user-images.githubusercontent.com/94531721/144853778-a6960163-4410-4d1d-a153-c87d93d561b1.jpg)

Priority of this issue will be assigned shortly after we’d go through a round of prioritization. P

[2021-12-06 15:21] #31285 closed, assigned to nobody

[2021-12-06 15:40] sethbarrett opened #31374 "Loading speed on product categories with 1000s of products"
How can I speed up the time it takes to pull a product category?
I have done all the recommended optimizations I could find. Still taking ages to pull any category page that has more than 3k products:
https://sbsimpson.shop/product-category/cutting-tools/

This category only has 114 products & loads fast:
https://sbsimpson.shop/product-category/electrical-lighting/

All the other areas of the site

[2021-12-06 16:07] sethbarrett commented on #31374
And to be clear I've done the css / js minifcation, gzip compression, etc. etc. all of the suggested ways to speed the site up. The site is very fast in all ways except this. Product cats take forever to load when there are a large volume of skus.. problem is client wants to import another 100k skus so all product cats are going to have 1000s of skus and will therefore take forever to load...

[2021-12-06 16:50] ember-elkes commented on #27761
Are there any updates for this? It seems like this should be a basic function and is getting ignored by WooCommerce.

[2021-12-06 17:37] barryhughes commented on #31101
I'd say we're broadly following WordPress conventions here, and the [wiki page](https://github.com/woocommerce/woocommerce/wiki/wc_get_products-and-WC_Product_Query) we link to from the [wc_get_products() docs](https://woocommerce.github.io/code-reference/files/woocommerce-includes-wc-product-functions.html) does already describe that `limit` must be set to `-1` to retrieve all products:

We could

[2021-12-06 17:54] barryhughes commented on #31112
Sounds reasonable to me!

Note that we cannot immediately remove that function (it's public and may be depended upon by third party code, etc). So we'd need to correct/update our own calls to use `wp_doing_ajax()`, then mark this one as deprecated (and/or add a `_doing_it_wrong()` call).

[2021-12-06 18:02] barryhughes commented on #30918
Thanks, Mile!

Could you provide a little more information to help us replicate?

The snippet you shared isn't quite enough for us to see the problem and, for instance, merely calling `wc()` from within the `init` action is not enough to break things during a WC REST API request.

[2021-12-06 18:26] barryhughes commented on #30872
Hi @vasanthhr,

I can successfully update a product using the REST API and can set a tag, so I think that side of things is working well.

In this case, I believe the problem may be the way you are using the client. The `$data` param accepts an array (which will then be encoded into JSON), but it looks as if you are passing a *string representation* of an array. Can you try amending:

[code]

To:

[2021-12-06 19:45] barryhughes commented on #28633
I'm sorry for the delay in responding. As it's been a while since this was reported, can I ask you to confirm that you still experience this with:

- The latest version of WooCommerce (5.9.0 at time of writing)
- With no other plugins and only a default theme such as Storefront running

On my end, I seem unable to replicate.

[2021-12-06 19:51] rrennick commented on #29180
I'm going to have a look at TeamCity as an alternative to a local environment.

[2021-12-06 19:55] rrennick commented on #27646
Closing this one as we are running tests on external sites.

[2021-12-06 19:55] #27646 closed

[2021-12-06 21:04] Robbertdk commented on #24081
Hi @swatipawarGS Thanks for the reply. Good to see that is issue is going to be picked up!

[2021-12-06 22:06] juliaamosova commented on #31370
Hi @maxim-skuvault,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-06 22:09] juliaamosova commented on #31320
Hi @sultann,

Thank you for raising the issue and submitting a PR to fix it! I will leave it up to the PR reviewer to review it further then.

[2021-12-06 22:10] juliaamosova commented on #31323
Hi @tomwenk,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-06 22:15] juliaamosova commented on #31340
Hi @babuus,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-06 22:16] juliaamosova commented on #31343
Hi @simkoG,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-06 22:17] juliaamosova commented on #31349
Hi @pacmanito,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-06 22:17] juliaamosova commented on #31353
Hi @gs-nasc,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-06 22:19] juliaamosova commented on #31357
Hi @ASNUAirCon,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](

[2021-12-06 22:19] #31357 closed, assigned to nobody

[2021-12-06 22:30] juliaamosova commented on #31364
Hi @bluantinoo,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-06 23:17] wilbarclay opened #31376 "API - Add category to product without having to set all existing categories"
**Is your feature request related to a problem? Please describe.**
Each time I want to add/link a category to a product, I have to set all categories, otherwise the product will be removed from existing categories.

My dataset includes products that could be in 100+ categories.

**Describe the solution you'd like**
Changes to the API to allow adding a new category without setting existing.

Exampl

[2021-12-07 00:35] #31106 closed, assigned to nobody

[2021-12-07 00:35] #31234 closed, assigned to nobody

[2021-12-07 01:56] Immerence commented on #27761
The issue was provided half a fix by @mikejolley in 2018:
https://github.com/woocommerce/woocommerce/pull/20002

This fixed the "Simple product" image gallery.

But the "Variable product" gallery still has the issue.

Must have missed that one and 3 years later no developer seems willing to touch it.

@jameskoster

[2021-12-07 08:46] kkmuffme commented on #31112
I did deprecate it. See includes/wc-deprecated-functions.php in this PR

[2021-12-07 10:10] t-siri opened #31377 "Inability to place order in backend of wordpress. Spinning consistently happens."
I am an admin user and I log into the backend of wordpress
I go to WooCommerce - orders
I create a new order
I place the order details (completed - billing address - shipping address)
I go down to product section and click add new
I then select the following product from the dropdown list
Section spins non-stop and never exits spinning

- No found network errors or console errors

[2021-12-07 10:42] ralucaStan opened #31378 "Twenty Twenty-Two: Adding a variable product to cart does not work"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Adding a variable product to cart on the Twenty Twenty-Two theme fails.

**Expected behavior**
On the product page, when the user selects the va

[2021-12-07 10:53] ralucaStan opened #31379 "Twenty Twenty-Two: the image for a product variation does not get filtered after selecting variation"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-12-07 11:04] Konamiman commented on #30564
Hi @slightlyfaulty, the setting needs to be disabled because the regeneration takes some time and meanwhile there's no available data to use in the table (the regeneration starts by erasing the table contents). The setting isn't disabled when regenerating one single product, though.

[2021-12-07 12:13] Josh-Millard opened #31380 "Calling incorrect filename for content-product-cat.php"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched

[2021-12-07 12:14] Nic-Sevic commented on #30646
👋 @peterfabian @Konamiman We seem to be seeing a related issue to this in all AT sites with WC active.

`PHP Notice:  is_page was called <strong>incorrectly</strong>. Conditional query tags do not work before the query is run. Before then, they always return false. Please see <a href="https://wordpress.org/support/article/debugging-in-wordpress/">Debugging in WordPress</a> for more information. (T

[2021-12-07 12:16] mfru commented on #31101
Thank you for your clarification.
As a not-full-time WP dev it is quite hard for me to go through the source code, otherwise I probably could have spotted the `posts_per_page` default behavior.

If you are interested in outside contributions, I would be willing to open a pull request for clarification.

The easiest and most concise way for me personally would have been to communicate the default b

[2021-12-07 12:31] gs-nasc commented on #31353
Hello, thanks for the response, i'll wait the time it was need.

[2021-12-07 13:16] tammullen commented on #31377
Hi @t-siri ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2021-12-07 13:23] jankarres commented on #31118
to comply with the EU VAT laws, every company is required to confirm the customer's location for VAT purposes. By geolocating the user, we have complied with this - we have a reason for data processing.

Unfortunately, this statement shows a legal lack of knowledge on your part.

The [Directive 2006/112/EC Art. 138 para. 1](https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32006L0112)

[2021-12-07 13:23] #31118 closed, assigned to nobody

[2021-12-07 13:26] swatipawarGS commented on #31360
Hi @jacoswan ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

![#31360(coupon)](https://user-images.githubusercontent.com/94531721/144983087-98877eb7-131d-45f8-8f0a-7bc8f62f7504.jpg)

![#31360(coupon1)](https://user-images.githubusercon

[2021-12-07 13:26] swatipawarGS commented on #25948
Hi @afercia ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

![#25948(before tax)](https://user-images.githubusercontent.com/94531721/144987038-9b14d879-a5bc-42b3-80d5-37c3afe0577c.jpg)

![#25948(After tax)](https://user-images.githubus

[2021-12-07 13:28] kkmuffme opened #31381 "Deprecated: node-sass use sass"
WooCommerce currently still uses node-sass (6.0.1) https://github.com/woocommerce/woocommerce/blob/trunk/pnpm-lock.yaml
Not only is there a newer version (7.0.0), node-sass is deprecated: https://www.npmjs.com/package/node-sass
in favor of sass: https://www.npmjs.com/package/sass

[2021-12-07 13:28] swatipawarGS commented on #25776
Hi @rossviviano ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots  for reference :

Created Product with sale price of zero ($0):

![#25776(product with 0 Price)](https://user-images.githubusercontent.com/94531721/144995552-301a31b9-be1a-4abc-b27a-a0b933e

[2021-12-07 13:30] swatipawarGS commented on #31342
Hi @vendidero ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145013971-563064b2-6cf3-498b-8968-7a253b0ee6bb.mp4

Priority of this issue will be assigned shortly after we’d go through a

[2021-12-07 14:07] swatipawarGS commented on #25887
Hi @guyinpv  ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version  .

Please find below screenshots for reference :

Cash on Delivery :

![#25887(cash on delivery)](https://user-images.githubusercontent.com/94531721/145036831-11a202cb-f7a1-4f04-b54e-dcb0b751383c.jpg)

PayPal :

![#25887(

[2021-12-07 14:08] swatipawarGS commented on #25292
Hi @juliaamosova ,

We are able to reproduce this issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145040385-7b23fe2e-245a-45be-a91f-7203cb25fce1.mp4

Priority of this issue will be assigned shortly after we’d go through a round of prioritization. Please note it may take

[2021-12-07 15:31] johnregan3 commented on #31252
Since it's been a few days, I'm happy to take this one.

[2021-12-07 15:49] #30676 closed, assigned to rodelgc

[2021-12-07 15:49] zhongruige commented on #30677
PR has been merged: https://github.com/woocommerce/woocommerce/pull/31141

[2021-12-07 15:49] #30677 closed, assigned to rodelgc

[2021-12-07 16:20] barryhughes commented on #31112
Yes, my error: re-running some checks that failed (though it seems clear they were unrelated to this change), then we can probably go ahead and merge. Thanks!

[2021-12-07 16:28] barryhughes commented on #31101
For sure, I agree it's something for us to improve—thank you for flagging it.

Always! We have some guidance [on making contributions](https://github.com/woocommerce/woocommerce/blob/trunk/.github/CONTRIBUTING.md) and are happy to review submissions.

That said, as things are currently configured, I believe only team members can update the wiki—which is where the main documentation for querying pr

[2021-12-07 16:48] peterfabian commented on #31364
Hi, thanks for reporting! It seems this depends on some configuration, namely having some product in your store, etc. Can you please provide the system status report so that we know which WC version this relates to and describe the variable product this happens for (or, provide an export, if possible). Thanks!

@juliaamosova would you folks please be able to follow up and try to reproduce? Thanks!

[2021-12-07 16:52] peterfabian commented on #31349
Thanks for reporting and raising the issue, @pacmanito!

I can see we have a duplicate here #31353 with a PR from a contributor, so hope you don't mind if I close this one (even though you created the issue before the other one) and we continue the discussion on the other ticket.

[2021-12-07 16:52] #31349 closed, assigned to nobody

[2021-12-07 16:55] peterfabian commented on #31353
Thanks for reporting and the PR, appreciated!

We will first include a dev advisory on the blog to communicate we're going to drop it and then can merge it and drop the dependency. Just to make sure we keep things backward compatible, if possible.

[2021-12-07 16:58] peterfabian opened #31384 "Post dev advisory about dropping zeroclipboard"
We should post on our dev blog that we're dropping the dependency, then drop it.

Ref issue: https://github.com/woocommerce/woocommerce/issues/31353

Ideally, follow up with a task that reviews other dependencies.

[2021-12-07 17:03] puzzlrDK opened #31385 "Prices not displaying with tax despite correct settings"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The following settings are saved:
### Settings>General
1. Store Address: City: Valby; Country/State: Denmark; Postcode/ZIP: 2500
2. Default cust

[2021-12-07 17:26] #31112 closed, assigned to nobody

[2021-12-07 17:32] puzzlrDK commented on #31385
My prices have now updated. Closing issue.

[2021-12-07 17:32] #31385 closed, assigned to nobody

[2021-12-07 17:35] #28166 closed

[2021-12-07 17:57] rrennick opened #31386 "Deprecated warnings in WP CLI with PHP 8.1"
I was testing a WP CLI PR with PHP 8.1 and had the following deprecated notices:

- `Deprecated: explode(): Passing null to parameter #2 ($string) of type string is deprecated in /Users/ronrennick/Sites/test/wp-content/plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php on line 371`
- `Deprecated: Automatic conversion of false to array is deprecated in /Users/ronrennick/Si

[2021-12-07 18:01] bluantinoo commented on #31364
Here's the status report.
I can share also an export of products and variations, but only privately (tell me how to share privately, if that's the case).
Publicly I can just say that most of the contents are in Japanese, also some attributes and their slugs are generated from Japanese titles.

`
### WordPress Environment ###

WordPress address (URL): sorry can't publish
Site address (URL): sorry c

[2021-12-07 18:42] barryhughes commented on #31316
Is this not possible with a regular array and strict comparison? There's no need to worry about the object ID, which has the limitations you noted.

Even better, there are dedicated types you might use—such as [SplObjectStorage](https://www.php.net/manual/en/class.splobjectstorage.php) and perhaps better yet again (especially from a memory efficiency perspective) there is the [WeakMap](https://www

[2021-12-07 19:01] joshuatf opened #32214 "Add slots to allow fills in main content area of pages"
### Is your feature request related to a problem? Please describe.
Related to https://github.com/Automattic/wc-calypso-bridge/issues/720

### Describe the solution you'd like
Being able to extend the main content area of pages with SlotFill would greatly improve the extensibility of all WCA pages.

### Describe alternatives you've considered
We could hardcode these elements in WCA, but that feels

[2021-12-07 20:14] daigo75 commented on #31316
@barryhughes I'm not sure what you mean with a "_a regular array and strict comparison_". The problem is not storing objects, it's that there must be a way to distinguish the state of separate object instances. Currently, there is no attribute that can uniquely identify an instance, hence my suggestion to use a unique ID with lazy initialisation.

The two proposed alternatives are not bad, but the

[2021-12-07 20:26] joelclimbsthings opened #32213 "Woo Navigation: Category change animation triggered when navigating within a category"
### Describe the bug
With the new Woo Navigation, clicking into our out of a category triggers a "slide" animation within the nav. This should only be triggered when changing categories, although I've noticed at least one instance of it being triggered while changing to other screens within the same category.

### To Reproduce

1. Ensure Woo Nav is enabled (WooCommerce -> Settings -> Advanced -> F

[2021-12-07 20:37] kkmuffme opened #31387 "WooCommerce admin, React/gutenberg and should a business tool really focus on what's the latest tech?"
I just wanted to initiate a discussion about the splitting off of WooCommerce Admin into a separate plugin, which currently has scathing reviews https://wordpress.org/plugins/woocommerce-admin/#reviews with almost 40% being negative.

I get where it's coming from though:
- WordPress with Gutenberg: completely different target demographic though. People who use WP usually have a regular website to

[2021-12-07 20:54] joshuatf opened #32212 "New WooCommerce Navigation: Unstyled Vertical Scrollbar #742"
Thanks to @zdenys for originally identifying this issue!

### Steps to Reproduce

1. Navigate to WooCommerce section on a site with the [the new WooCommerce navigation on WordPress.com](https://wordpress.com/support/new-woocommerce-experience-on-wordpress-dot-com/), such as an WordPress.com eCommerce Plan site.
2. Resize the browser window being until you see the vertical scrollbar appear in the l

[2021-12-07 20:58] joshuatf commented on #32212
Thanks for the reporting this, @zdenys.

Tested in Firefox, Safari, and Chrome.  Of those, all appeared with a darker bar with the exception of Firefox.  However, upon dragging or hovering over the scrollbar, a lighter color scrollbar can be seen.

![Screen Shot 2021-12-07 at 3 53 04 PM](https://user-images.githubusercontent.com/10561050/145105133-4911591c-80c6-4175-b1ef-009fa65fc7ca.png)
![Screen

[2021-12-07 21:08] juliaamosova commented on #31358
Hi @Coernel82,

Thank you for your work on this issue. However, it is best not to open a separate issue for the existing issue as it is a duplicate. It is better to keep one issue open for the discussion to happen in order not to lose track.

I'll keep this issue open for now. However, it requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to

[2021-12-07 21:09] juliaamosova commented on #31363
Hi @danielbarenkamp,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-07 21:09] juliaamosova commented on #32215
Hi @danielbarenkamp,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-12-07 21:14] joshuatf opened #31389 "WooCommerce Category Product sorting not working only on Atomic sites"
Issue originally created by @AtrumGeost and moved from the https://github.com/automattic/wc-calypso-bridge repo.

### Steps to Reproduce

1. Create/publish some products and assign a category to them
2. Head over to **WooCommerce > Categories**, click on the number next to the category
3. Once you are on the category products dashboard, click on the **Sorting** link at the top
4. Drag products to

[2021-12-07 21:17] joshuatf commented on #32233
@elizaan36 do we have a rough timeframe on when we will implement this experiment?  I'll keep this issue open for tracking until we add it.

[2021-12-07 21:20] barryhughes commented on #31316
I mean if you place a reference to an object in an array, and your callback subsequently receives a reference to the _same_ object, you can verify that it is the same via [strict comparison of the objects](https://www.php.net/manual/en/language.oop5.object-comparison.php) (so, at a high level, a similar idea to using the dedicated [SplObjectStorage](https://www.php.net/manual/en/class.splobjectsto

[2021-12-07 23:55] daigo75 commented on #31316
I'm not sure that comparing whole objects could be efficient. It seems like a performance bottleneck, especially since we're talking about complex objects, such as `WC_Product` instances.

As for the following:

I'm doing both. I'm using `woocommerce_product_get_price` to alter the prices of a product. This is called by calling `WC_Product::set_price()`. However, this is not relevant to this conve

[2021-12-08 00:07] fhaps opened #32211 "Customers report miscounts refunded orders"
### Describe the bug

Using the Customers report, when filtering customers by No. of Orders, refunded orders are not counted correctly.

Here's a specific example. If I filter by customers who have more than 1 order, I get this report with 5 customers – which is correct:

![](https://d.pr/i/8DKrCT+)
Image Link: https://d.pr/i/8DKrCT

I have one customer who has only placed one order on the site. I

[2021-12-08 03:13] barryhughes commented on #31316
:100: ... but it is important to us to have a good understanding of the use cases requiring the change, and this was a nice vehicle for that (so, thank you for all the detailed responses).

I would have thought the opposite: specifically in the case of a strict comparison (a check as to whether the two variables refer to the same instance) I'd have thought it would be extremely fast for the runtim

[2021-12-08 04:11] elizaan36 commented on #32233
The new task list experiment is going out with the next WC release so we'll have the results by the end of this month!

[2021-12-08 12:19] peterfabian commented on #31200
I agree, we apparently have forgotten about that. The db errors are written using `error_log` unless someone intentionally calls `$wpdb->suppress_errors()` or sets `$wpdb->suppress_errors` to truthy value. I think we can close this task, since the actual handling of the errors in WC code is out of scope for this issue.

[2021-12-08 12:19] #31200 closed, assigned to nobody

[2021-12-08 12:30] daigo75 commented on #31316
That was no bother at all. Mine is a specific use case, but I also worked on at least a dozen of other projects (not necessarily products) where there was a need to "tag" objects being processed. These objects could be duplicated, but they would not offer any `set_meta()` method, nor allow any custom attributes, nor properties. Just like we discussed, using the `SplObjectStorage`, or an array to t

[2021-12-08 12:36] swatipawarGS commented on #26153
Hi @chickenn00dle

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version .

Please find below screenshots  for reference :

Invalid Email :
![#26153(invalid email)](https://user-images.githubusercontent.com/94531721/145159419-adbff313-3c55-4bfc-bee3-24f509c96da8.jpg)

Email is empty :
![#26153

[2021-12-08 12:47] tc33 opened #31393 "Geolocating an IP always uses country codes set in headers"
**Prerequisites:**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The `WC_Geolocation::geolocate_ip()` function can be called with an optional IP address. If an IP address is not provided, it uses the current user's IP address. The function then

[2021-12-08 12:47] swatipawarGS commented on #26140
Hi @juliaamosova ,

Yes, we can reproduce this issue. It is related to quick edit as the "updated successfully" pop-up fails to display on performing Quick edit. But the same pop-up displays only if you are directly editing the product on the Product Page.

Below is the screencast for reference :

https://user-images.githubusercontent.com/94531721/145162471-6a134360-3eb7-4a51-9d3a-31f44f64a14f.mp4

[2021-12-08 12:49] swatipawarGS commented on #26035
Hi @akinocakk ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version  .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145173241-47e83c88-b889-4999-a0c6-d1b0f0c7ab3b.mp4

Please provide us more detailed and any additional steps required to

[2021-12-08 12:50] swatipawarGS commented on #26139
Hi @juliaamosova ,

We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screenshot  for reference :

![#26139](https://user-images.githubusercontent.com/94531721/145193505-09c74ddd-ce4b-4966-8d36-347d11579743.jpg)

Priority of this issue will be assigned shortly after we’d go through a round of prioritization. Please note it

[2021-12-08 12:51] swatipawarGS commented on #26129
Hi @juliaamosova ,

We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screenshot  for reference :

![#26129](https://user-images.githubusercontent.com/94531721/145195263-f76f1b8f-1763-4238-99c7-2f7805e70b5f.jpg)

Priority of this issue will be assigned shortly after we’d go through a round of prioritization. Please note it

[2021-12-08 13:23] swatipawarGS commented on #26125
Hi @juliaamosova ,

We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screencast  for reference :

https://user-images.githubusercontent.com/94531721/145203878-def3b430-b979-43b2-8a57-fe035243838e.mp4

Priority of this issue will be assigned shortly after we’d go through a round of prioritization. Please note it may take a

[2021-12-08 14:30] tammullen commented on #31298
Hi @joashrajin ,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/28736. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-12-08 14:30] #31298 closed, assigned to nobody

[2021-12-08 14:32] rrennick commented on #26129
@swatipawarGS Your screenshot is from a Windows computer. Julia's screenshot is from a Mac.

@juliaamosova I'll leave this issue for you to follow up, but this looks like it's a limitation of the test browser on Windows and/or Windows itself.

[2021-12-08 14:46] joshuatf commented on #32230
cc @pmcpinto as well as @elizaan36 for your thoughts on displaying the currency.

It would be great to get the respective prices on the WCCOM side of things, but it might be a bit of an overhaul if they don't have any currency support as @louwie17 noted above.

[2021-12-08 14:55] tammullen commented on #25293
Thanks @swatipawarGS

closing as bug no longer occurring

[2021-12-08 14:55] #25293 closed

[2021-12-08 16:16] barryhughes commented on #27867
Checking before we add a new hook: would filtering on `option_woocommerce_paypal_settings` and modifying the `receiver_email` value work for you, or is that problematic?

[2021-12-08 16:19] rrennick opened #31396 "e2e-core-tests needs build script"
Follow up issue to #31235. We used @wordpress/deprecated in that PR. It requires using the ES6 format `import`. Prior to this the core tests package used CommonJS and didn't require a build.

[2021-12-08 17:09] peterfabian commented on #31380
Hi, thanks for reporting. We actually renamed the templates some time back to bring them up to date with WordPress naming standards. For this reason, we've added a workaround where we [replace underscore with a dash in file names](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/wc-core-functions.php#L392) in the `wc_locate_template` function, so theoretically spe

[2021-12-08 17:23] barryhughes commented on #27650
If we were creating this webhook from scratch, emitting only when a product is actually published might be a good approach. but the fact is we've been doing this at an earlier stage than that and therefore some integrations may depend on that behaviour (it is after all possible to interact with draft products via the REST API).

To that end, I think it makes sense to:

- Continue to emit `product.

[2021-12-08 17:36] peterfabian commented on #29465
Thanks for reporting back, @AleWin32 ! Useful info!

[2021-12-08 18:23] #30674 closed, assigned to rodelgc

[2021-12-08 18:38] barryhughes commented on #31137
Confirming as a bug—looks like it can be resolved with a cast.

[2021-12-08 20:42] MrJnrman opened #31398 "Remove 'run: smoke tests' label once smoke tests have been completed"

[2021-12-08 21:39] joshuatf commented on #31399
I believe this issue is in WooCommerce core.  Going to move this issue there, but feel free to transfer back if I'm incorrect.

[2021-12-08 23:32] jacobmxsm opened #31401 "Woocommerce subscriptions admin's customer change payment method link doesn't work"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When editing subscription as administrator, 'Customer change payment method page' link from 'Edit Subscription' doesn't work

**Expected behav

[2021-12-09 04:56] datgausaigon commented on #30679
Hi, maybe this issue fixed in WordPress 5.9

https://core.trac.wordpress.org/ticket/53765

Thanks

[2021-12-09 08:01] pexlechris commented on #27867
To help you...
The problem is when need it to validate the IPN paypal email with the email in the settings.
In this file `/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-ipn-handler.php`
if I could to bypass the validation of method `validate_receiver_email`,
the problem would have been solved.

So if with this hook `option_woocommerce_paypal_settings `, I could bypass this

[2021-12-09 09:01] Josh-Millard commented on #31380
Hi, Thanks for your reply.

The template loaded fine when I changed the file name to content-product_cat.php, which is still the default template name in the Woocommerce templates). I had no error or notice, Just a blank page. All content loaded when that underscore was added.

https://github.com/roots/sage-woocommerce/blob/master/src/woocommerce.php

This is the extension I added to the Laravel t

[2021-12-09 09:34] Chrystll opened #31402 "DB error after adding the On Sale Products block in a page"
**Plugins activated & WordPress version**
WooCommerce  6.0.0-rc.1
WooCommerce Beta Tester 2.0.4
WordPress 5.8.2

**Issue description**
I get a database error when adding the On Sale Products block in a page.

`[WordPress database error You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ') AND meta_key LIKE 'attrib

[2021-12-09 13:05] rodelgc commented on #31402
Hi @Chrystll,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I my first test:
1. I started with WooCommerce 5.9.0
2. I imported some on-sale products using the `sample_products.csv` file.
3. I upgraded WooCommerce to 6.0.0-rc.1 using the WC Beta Tester
4. I updated the WooCommerce database when I was pr

[2021-12-09 13:09] rodelgc commented on #31402
Here's the setup that I used in my test by the way:

WordPress 5.8.2
WooCommerce 5.9.0 in my first test, 6.0.0 RC1 on my 2nd test
Theme: Twenty Twenty-Two
PHP 7.4.1
MySQL 5.7.28
Server: Apache/2.4.43

[2021-12-09 13:13] swatipawarGS commented on #27771
Hi @tammullen ,

We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version. when we entered "AF" we get a list of countries who matched in their name for the text "AF" not the country code

Please find below screencast and  for reference :

https://user-images.githubusercontent.com/94531721/145392325-22b957f0-dcdd-4ce6-965f-48628c3be5ad.mp4

Priority

[2021-12-09 13:14] swatipawarGS commented on #27689
Hi @ivatautomattic ,

We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145349951-211d62f5-60ad-400f-b1c2-21fbf86a0fca.mp4

Priority of this issue will be assigned shortly after we’d go through a round of prioritization. Please note it may take

[2021-12-09 13:15] swatipawarGS commented on #27632
Hi @juliaamosova ,

We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version. but we don't get any Note (pop-up window) letting the user know that amounts over 100 won't be saved/allowed and that the amount should be up to 100 but not higher.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145350278-

[2021-12-09 13:16] swatipawarGS commented on #27225
Hi @johndcoy ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast  for reference :

https://user-images.githubusercontent.com/94531721/145370753-c7a9f9e9-9241-4dd3-9f2c-dc428aa40814.mp4

Priority of this issue will be assigned shortly after we’d go through a

[2021-12-09 13:17] swatipawarGS commented on #27061
Hi @juliaamosova ,

We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screenshots for reference :

2 coupons are mark as for individual use only :

![#27061(Coupon-1)](https://user-images.githubusercontent.com/94531721/145376735-0deb5f98-388b-4221-8f9a-f14fd19a5b30.jpg)

![#27061(Coupon-2)](https://user-images.githubuserco

[2021-12-09 13:54] Chrystll commented on #31402
Hello @rodelgc,
I tested on a fresh install. Here are the steps that I run:
_Without updating the WooCommerce database_
1. on a fresh install I activate only WooCommerce 5.9.0 and WooCommerce Beta Tester 2.0.4
2. I swicth on the 6.0.0-rc.1
3. I create 2 simple products as here:
![screenshot-mysite com-2021 12 09-14_42_04](https://user-images.githubusercontent.com/19824724/145407210-5c3af207-a41e-4

[2021-12-09 14:08] bome opened #31403 "WC_Shortcode_My_Account::retrieve_password(): add filter for user_data"
**Is your feature request related to a problem? Please describe.**
Under certain circumstances, we would like to create a user account when the user tries to log in.

Background: we keep on getting emails from frustrated customers that they cannot log in. They expect that the account is automatically created on purchase (which is an option in our WC store). It would be sufficient for them to just

[2021-12-09 14:31] swatipawarGS commented on #26595
Hi @grig-23 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version  .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145377822-b1dd65de-1d7c-480a-883b-4b303704a2fc.mp4

Please provide us more detailed and any additional steps required to r

[2021-12-09 14:32] swatipawarGS commented on #26488
Hi @bouncin ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast  for reference :

https://user-images.githubusercontent.com/94531721/145387357-fcc16083-88fb-42db-b176-5ac866366772.mp4

Priority of this issue will be assigned shortly after we’d go through a r

[2021-12-09 14:33] pmcpinto commented on #32230
This is a good workaround for the moment.

This would be a great solution. The way how these extensions are promoted is going to be reviewed in the upcoming months. So it's better to wait until we have more clarity about this.

[2021-12-09 14:59] gglobalstep opened #31404 "[GlobalStep] For Twenty Twenty-One theme, "Set new password" and "Lost Password" field are misaligned after clicking received mail link for setting new password."
## Bug Description:
For Twenty Twenty-One theme, "Set new password" and "Lost Password" field are misaligned after clicking received mail link for setting new password.

## Environment:
Woocommerce Version :
WooCommerce 6.0 RC-2
Wordpress version: 5.9.Beta-2

PC:
Windows 10
Firefox(Version 95.0)
Chrome(96.0.4664.93)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and acti

[2021-12-09 15:26] myriammoris opened #31405 "0$ initial checkout for Subscription returning error"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-12-09 15:33] jesusmariajurado commented on #20815
The URL to connect must be the same configured in Wordpress > Settings > Site URL

[2021-12-09 16:03] #31405 closed, assigned to nobody

[2021-12-09 16:04] barryhughes commented on #27867
You could certainly use that hook to set the receiver email to some non-default value for the duration of a single request (ie, when an IPN message is received—and you could further restrict the change to a specific subset of those requests if you need to) ... generally, we would prefer to reuse existing hooks where possible, so long as they are suitable, vs adding new ones.

[2021-12-09 16:05] barryhughes commented on #27867
I'll close for the time being; but if you believe using the hook I shared is not a valid approach then please do update us and perhaps include a few details as to why it doesn't work. Thanks!

[2021-12-09 16:05] #27867 closed

[2021-12-09 16:54] leonardola opened #31406 "Broken links on docs and @woocommerce NPM packages"
After packages got moved to the /packages folder inside this repo our NPM packages links broke. Also the documentation on the packages are broken or pointing to our master branch

These are the ones I stumbled upon. But probably all packages broke:
- [@woocommerce/e2e-environment/](https://www.npmjs.com/package/@woocommerce/e2e-environment/)
- [@woocommerce/e2e-utils](https://www.npmjs.com/package

[2021-12-09 16:59] rrennick commented on #31406
@leonardola The links have been updated but they won't be propagated to npmjs.com until new version of the packages are released. npmjs.com does not allow updating existing published packages so we just have to wait for package releases. I'm closing this as we can't do anything more on this.

[2021-12-09 16:59] #31406 closed, assigned to nobody

[2021-12-09 17:10] pacmanito commented on #31244
Hey, maybe someone is gonna check this?

[2021-12-09 17:39] rrennick commented on #31396
Also, I believe the build issue in 7-gh-woocommerce/platform-private needs to be addressed before we can publish packages.

[2021-12-09 18:10] tomalec commented on #29075
This issue affects also some WC extensions, as well as the merchants who cloned the templates (like suggested in [extension's docs](https://woocommerce.com/document/automated-follow-up-emails-docs/faq/#section-22)), it would be nice to have a migration guide for those as well.

[2021-12-09 20:10] pexlechris commented on #27867
I searched in the code of woocommerce plugin and this filter `option_woocommerce_paypal_settings `, there is nowhere.

I use the old default PayPal Gateway. Not the extra plugin

[2021-12-09 20:22] #25461 closed

[2021-12-09 21:12] jeffpaul commented on #31320
@juliaamosova how can we get a PR reviewer assigned to this issue to help unblock the downstream Bookings issue?

[2021-12-10 00:35] #30827 closed, assigned to nobody

[2021-12-10 00:35] #30849 closed, assigned to nobody

[2021-12-10 09:12] masahrpro commented on #25255
We have updated to the latest release where this was marked as fixed, but the problem still exist. Seeing VAT 0% prices again. @barryhughes @jeffstieler

[2021-12-10 09:42] Mte90 commented on #30893
I don't think that https://github.com/woocommerce/woocommerce/pull/31407 in 6.1.0 fixed the issue but maybe helps and only a bit of test will help on that.
The issue of `opacity` it is still present, I dont know what to do, what you think @erikyo @jeffstieler?

[2021-12-10 10:45] #28459 closed

[2021-12-10 11:00] TandelK opened #31409 "[Enhancement]: Make WooCommerce Account Authentication like gmail"
### Describe the solution you'd like

Right now WooCommerce default My Account page is like simple Email and Password. Instead of that we can move it to 2 Steps like gmail where it can verify the email first it exists or not and than ask for Password for logging in.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-10 12:46] #28185 closed

[2021-12-10 13:01] DavidAnderson684 commented on #31409
You've described an idea, but not given any supporting reasons for the idea. (You should clarify why "like gmail" is an improvement).

[2021-12-10 13:27] rodelgc commented on #31404
Hi @gglobalstep,

Thank you very much for logging this issue. I can reproduce these 2 issues as mentioned in this thread p1639057633257100/1639056938.256100-slack-C011ENB20Q1

[2021-12-10 14:22] rrennick opened #31410 "config isn't in e2e-environment dependencies"
The `config` package isn't in the `e2e-environment` dependencies. It was probably accidentally removed at some point. Without it, the env package relies on the version of `config` installed in the project.

[2021-12-10 14:26] swatipawarGS commented on #27186
Hi @dsmithweb ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots for reference :

Order notification email for admin contains correct details :

![#27186(1)](https://user-images.githubusercontent.com/94531721/145536294-d2573cc7-6ed3-44f0-8c9f-4ca702624621.

[2021-12-10 14:28] sukafia opened #31411 "WooCommerce breadcrumb ignores primary category"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a product is assigned to multiple categories/subcategories, WooCommerce doesn't use the primary category for breadcrumbs. Instead, it uses the 2nd category.

Forum threads:

[2021-12-10 14:33] swatipawarGS commented on #27745
Hi @Aljullu @haszari @nielslange ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce with the  Seedlet , Twenty Twenty and Storefront theme the issue on our end using WooCommerce 5.9.0 version .

Please find below screenshots for reference :

Storefront theme :

Site language to English :

![#27745(storefront(english)) (1)](https://user-ima

[2021-12-10 14:35] swatipawarGS commented on #26103
Hi @danielnielsen-dk ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/145562941-c0e5cecc-71c0-4057-bc07-603d33d79223.mp4

Please provide us more detailed and any additional steps requir

[2021-12-10 14:37] swatipawarGS commented on #27406
Hi @juliaamosova ,

We are able to reproduce the issue on our end using WooCommerce 5.9.0 version and WordPress 5.8.2 version.

Please find below screenshots for reference :

Search Options and Help options are not there if there are no orders on the site :

![#27406(google)](https://user-images.githubusercontent.com/94531721/145529744-b85fc32b-541b-486b-8976-707e0d4e938e.jpg)

Search Options and

[2021-12-10 14:38] swatipawarGS commented on #25656
Hi @starypop ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots for reference :

WooCommerce Product Reviews Settings :

![#25656(setting)](https://user-images.githubusercontent.com/94531721/145567426-8656ae55-9f30-4f13-9bc3-d2ea05cff801.jpg)

Product revi

[2021-12-10 14:46] swatipawarGS commented on #26258
Hi @ldr2273 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 5.9.0 version.

Please find below screenshots for reference :

Mark a product as In Stock :

![#26258(In stock setting)](https://user-images.githubusercontent.com/94531721/145538441-58282e1b-ae09-4006-89c1-79b49ec69f84.jpg)

In stock - not

[2021-12-10 15:40] xristos3490 opened #31413 "Support gift cards in admin order refunds template"
### Describe the solution you'd like

Hey all!

We stumbled across a few template-related bottlenecks while extending admin refunds to the WooCommerce Gift Cards extension. Let me explain.

WooCommerce hides all the refund UI when an order is fully refunded; that’s normal and expected.

Although, Gift cards require control over whether the template considers the viewed order a fully refunded one.

[2021-12-10 16:13] xristos3490 opened #31416 "Introduce a filter to control whether an order is partially refunded in `wc_create_refund`"
### Describe the solution you'd like

Hey team!

While trying to support admin refunds in the WooCommerce Gift Cards extension, we needed to reuse the `wc_create_refund()` function. This function includes a hard check on whether the order is considered partial or fully refunded. See https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/wc-order-functions.php#L613

This

[2021-12-10 16:48] barryhughes commented on #27867
Hi @pexlechris,

It is provided by the [Options API](https://developer.wordpress.org/plugins/settings/options-api/) rather than by WooCommerce, *and is formed dynamically at runtime* (which is why you will not find it via a string search), along with a few other filter hooks:

- `pre_option_<OPTION_NAME>`
- `default_option_<OPTION_NAME>`
- `option_<OPTION_NAME>`

In our case, of course, the option

[2021-12-10 16:50] guyinpv commented on #25887
@swatipawarGS I'm pretty sure your screenshots are already showing the issue.
In the first shot, the COD payment has 'checked', then when you click on PayPal, the COD input still has 'checked' instead of the PayPal input.

I just confirmed on two different sites with 5.9.0 that this is still an issue. They have two payment radio selections and it doesn't matter which is selected, only the first on

[2021-12-10 18:04] onehostedon opened #31419 "Woocomerce products quick view shows blank page"
hello in every product i go it shows me blank page whem i click quick view how to fiz it

IN MOBILE MODE JUST IN MOBILE MODE

[2021-12-10 18:04] erikyo commented on #30893
As far i can understand @Mte90 is referring to the fact that the opacity of thumbnail images is set to 0 [here](https://github.com/woocommerce/woocommerce/blob/22721e0a70ea5a36699606c9128d8bd6187d69aa/plugins/woocommerce/templates/single-product/product-image.php#L39) and then set to true by js\frontend\ [single-product.js](https://github.com/woocommerce/woocommerce/blob/22721e0a70ea5a36699606c912

[2021-12-10 21:31] frosso opened #42660 "Export of checkout UI base components"
## Is your feature request related to a problem? Please describe.
It would be awesome if some of the base UI components on the checkout page were exported/exposed to be available for consumers.
This way consumers can leverage them in custom UC flows, ensuring that their behavior matches the one of the "default" elements.

![Screen Shot 2021-12-10 at 3 24 26 PM](https://user-images.githubuserconten

[2021-12-11 09:59] tjcafferkey opened #31421 "Block Templates enqueue scripts before wp_head registers them."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

**Just some brief context**, the following bug occurred during the project WooCommerce Store Editing Templates where we are converting WC Core PHP templates into Block Templates

[2021-12-11 16:14] mpmedialab opened #31422 "Attribute with same term used in product name not showing on cart and checkout"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The attribute term "Black" of a variable product is not showing on the cart and checkout pages. The issue has been reported on this WooCommerce core forum thread https://wordpres

[2021-12-11 16:17] securevault opened #31423 "Sitemap URLs are showing 404"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I tested it using twenty-twenty theme and activate only woocommerce.
I have more than 10k products.

the 404 only affect paginated sitemap after page 1. the first one is working