[2021-10-22 15:36] mredodos opened #31016 "REST API Sort and Filter list of Orders by meta_data"
This is a feature request.

We would like to see the ability to filter orders by meta_data key and key + value. I would like to see a way to filter by meta_data key and  meta_data key + value since I think this would be useful for a number of integrations and would save us from having to make a bunch of extra calls to the WooCommerce API and tons of data in a single call.

I think that this would

[2021-10-22 15:39] rrennick commented on #28611
Hi @shulakmaster ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. If you are still experiencing the issue please provide us with the information requested so we could take a look further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on

[2021-10-22 16:00] rrennick commented on #28613
@marcochiesi Thanks for reporting the issue. I tested this with WooCommerce 5.8.0 and the discount amount on the product was rounded correctly:

- Product with 4 decimal places in price

<img width="759" alt="Screen Shot 2021-10-22 at 12 58 25 PM" src="https://user-images.githubusercontent.com/343847/138486488-bdbbcfdf-d6ac-4cdb-82ba-20a64dcfc126.png">

- Coupon with 6 decimal places

<img width="

[2021-10-22 16:04] rrennick commented on #28617
@gglobalstep @juliaamosova This looks like it was a temporary server software issue on the hosting infrastructure. I'll close the issue. If this occurs again we can re-open.

[2021-10-22 16:04] #28617 closed

[2021-10-22 16:29] juliaamosova commented on #31003
Hi @jkohlbach,

Thank you for raising the issue, it is an interesting one.

Making changes to core functionality such as order statuses will be a big one and will require us to support backward compatibility to make sure things still work for those merchants who use these statuses as well as extensions developers who rely on the functionality as it is. Removing these order statuses won't be a deci

[2021-10-22 16:30] juliaamosova commented on #31005
Hi @Chavi1502,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2021-10-22 16:33] juliaamosova commented on #31008
Hi @RatulHasan,

Thank you for raising the issue and submitting a PR. Since there is already a PR in place, I'll leave it to the PR reviewer to engage on the PR further.

[2021-10-22 16:34] juliaamosova commented on #31011
Hi @clukas1,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-10-22 16:34] juliaamosova commented on #31014
Hi @wayheming,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-10-22 16:35] juliaamosova commented on #31016
Hi @mredodos,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-10-22 16:35] rrennick commented on #28705
@psaikali Have you tried the [update download links](https://wordpress.org/plugins/ach-update-woo-download-links/) extension? This functionality was intentionally removed from WooCommerce 3.0.

[2021-10-22 16:37] juliaamosova commented on #31000
Thank you for raising the issue @gglobalstep!

As per https://github.com/woocommerce/woocommerce/pull/30882#issuecomment-948375251, the fix will be included in WC 5.9 RC1 that will be released next week.

I am closing this issue since it is resolved.

[2021-10-22 16:37] #31000 closed, assigned to nobody

[2021-10-22 16:41] juliaamosova commented on #31013
Hi @gglobalstep,

Thank you for reporting the issue!

I see that @Konamiman already proposed a fix in https://github.com/woocommerce/woocommerce/pull/31015 - it will be a part of the WC 5.9 RC1 release next week.

[2021-10-22 16:45] rrennick commented on #28693
I have confirmed this is still an issue in WC 5.8 and have updated the labels. The linked PR is stale and is waiting for a response from the author.

[2021-10-22 16:52] rrennick commented on #28686
@bowenac Thanks for reporting the issue. Could you let us know if you are still seeing the issue with WooCommerce 5.8.0? If so, could you provide screenshots from a WC version where this snippet was working and from the current version?

[2021-10-22 16:56] marcochiesi commented on #28613
Hello @rrennick
Thank you for your reply. I have just re-tested on a vanilla WordPress 5.8.1 with WooCommerce 5.8.0 (being the only plugin installed) and unfortunately, the bug is still present.
Please follow very accurately the steps to reproduce the bug that I have specified in my first message, especially the amounts and quantities. As far as I can see you have used different amounts, and I bel

[2021-10-22 17:22] RatulHasan commented on #31008
Hello @juliaamosova,
you labeled the wrong label. I tried to say I import products from the default CSV file. You can reproduce the bug if you try to increase the sale price from bulk edit by % which previously have 0 it will give you an error.

[2021-10-22 17:53] juliaamosova commented on #31008
Thank you for that note @RatulHasan, corrected.

[2021-10-22 21:06] mredodos commented on #31016
Meanwhile, I have created this, work on last version of woocommerce and rest api v3

[code]

[2021-10-23 09:23] AashikP commented on #30999
Thank you for clarifying this, @renatofrota

@AliBorsan You can read more about how WooCommerce manages `Tax inclusive` prices here: [Prices Entered With Tax - Documentation](https://docs.woocommerce.com/document/setting-up-taxes-in-woocommerce/). What you're seeing, is expected behavior.

I'm closing this issue for now. Please feel free to comment on it in case we missed something. We’d be happy

[2021-10-23 09:23] #30999 closed, assigned to nobody

[2021-10-23 09:26] AashikP commented on #30818
Hi @libbruneteaux,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2021-10-23 09:26] #30818 closed, assigned to nobody

[2021-10-23 09:34] AashikP commented on #30833
Hello @artprojectgroup

Can you please confirm if this can be replicated in the final release of WooCommerce 5.8?

I'm asking because this is not something I could replicate with the following set-up:

![https://d.pr/i/xfAaxP+](https://d.pr/i/xfAaxP+)

![https://d.pr/i/wEOiqp+](https://d.pr/i/wEOiqp+)

Cart page:

![https://d.pr/i/U9Jv5X+](https://d.pr/i/U9Jv5X+)

If you can still replicate this,

[2021-10-23 11:24] DavidAnderson684 commented on #30228
Concerning a dashboard notice for alerting if a plugin is editing order-related post/postmeta data without going through the Woo API, I think it could be done in the following way (sadly I am very short of time, but this may help someone who has the time):

- Hook into the various relevant post-meta filters for insert/update/delete/select operations, e.g. update_post_metadata

- In your filter cod

[2021-10-23 22:32] Cleanisnice opened #31020 "appearance the problem ERR_HTTP2_PROTOCOL_ERROR when i want edit some page with woocommerce install in Wordpress"
I install the plugin woocommerce when I install it the Wordpress program is apparently normal I will visit home and edit page and I get this error -I cannot access this website It is possible that the website https://www.cleanisnice.com/wp -admin / post.php? post = 216 & action = edit is temporarily inactive or has been permanently moved to another address.
ERR_HTTP2_PROTOCOL_ERROR- uninstall the

[2021-10-24 19:27] vonrotzmario opened #31021 "WooCommerce: Content under my account is not accessible"
Hello

On my online shop marymar.ch the content under my account (e.g. order received) is not available / not working. In the image attached you can find the error message.

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issu
<img width="1280" alt="Bildschirmfoto 2021-10-24 um 21 08 00" src="https://user-images.gi

[2021-10-24 23:12] courtney666 opened #31022 "Woocommerce Product Reviews Widget causing issue with Divi Theme Builder"
When using Woocommerce Product Reviews Widget in Footer Widget and then using the Divi > Theme Builder to build something the builder keeps on loading and stays stuck. The issue has been tested with multiple themes and also on fresh install, it has been same everywhere.

[2021-10-25 06:35] wayheming commented on #31014
@juliaamosova Thank you

[2021-10-25 07:36] artprojectgroup commented on #30833
Tested on WooCommerce version 5.9 Beta 1 and it doesn't work properly yet.

Coupon configuration:
![image](https://user-images.githubusercontent.com/6569259/138653064-896ceee7-b21e-400f-adc5-2df719d24fb8.jpeg)
![image](https://user-images.githubusercontent.com/6569259/138653110-92e9bbec-902e-4bcf-92aa-6fe22c84323f.jpeg)
![image](https://user-images.githubusercontent.com/6569259/138653134-bb99a601-

[2021-10-25 08:08] ahegyes commented on #28610
Hi @rrennick !

Thanks for getting back to me. Unfortunately, that's not the search function that's affected. The issue occurs when creating new orders via the admin interface and using the "Add item(s)" -> "Add product(s)" button.

![image](https://user-images.githubusercontent.com/36231502/138657551-3ae0cb05-58b9-4390-ab77-1002db48bfe8.png)

The issue occurs as well when WooCommerce is the only

[2021-10-25 11:39] amine-amirech opened #31025 "Cart page doesn’t updating when removing or adding something"
Hello,

Since a few days, I can’t update nis to delete an item on my shopping cart. I have deactivated the cache and the problem is still there. These last days I added the CDN option. I already have this two lignes in woocommerce/cart/cart.php

[code]

target url : https://etoile-musulmane.fr/mon-panier-achat/

I have already read the subjects of the same problem but no solution is proposed!

Can

[2021-10-25 13:41] rodelgc commented on #31020
Hi @Cleanisnice,

Thank you for submitting the issue. However, I couldn't recreate the issue you're experiencing because the steps to recreate them are not clear. You didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug*

[2021-10-25 13:57] pmcpinto commented on #28603
Hey @rrennick yes, I'm still seeing this issue in the tracking

[2021-10-25 14:13] rodelgc commented on #31021
Hi @vonrotzmario,

I can access the `/my-account/edit-account` page just fine on my test site using WC 5.8 and Storefront as the theme:

<img width="848" alt="Screen Shot 2021-10-25 at 9 57 06 PM" src="https://user-images.githubusercontent.com/4509348/138709455-ebc805a3-28cc-4c30-b3a8-d22c00fe4340.png">

Could it be that you're accessing the wrong url? As that error message appears when you use a

[2021-10-25 14:16] rodelgc commented on #31025
Hi @amine-amirech,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-10-25 14:19] rodelgc commented on #31022
Hi @courtney666,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2021-10-25 14:26] courtney666 commented on #31022
Hello,

Here is how u can test it.

Have latest divi plugin with you.

Then go to theme builder: https://prnt.sc/1x57i5c

There click on add a new template and then Create Template

After that add custom body > build custom body: https://prnt.sc/1x57j8x

Once done then the page keeps on loading like this: https://prnt.sc/1x57kr4

Upon checking logs, these were the logs: https://prnt.sc/1xaocp2

Re

[2021-10-25 14:34] club23bk opened #31027 "Product bug"
**Dears,

kindly I need help with woocommerce issue, when i add a new product it wont appear neither in the woocommerce dashboard nor in the website, it is really messed up a lot of bugs come the way!

Please I need a help ASAP

Best regards,
Ali**
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports

[2021-10-25 14:37] kevinamorim commented on #31027
This is very vague. Did you try without any additional plugin activated and with the default theme?

[2021-10-25 15:03] peterfabian commented on #31013
I belive this should be sorted out by https://github.com/woocommerce/woocommerce/pull/31015. If not, please reopen.

[2021-10-25 15:03] #31013 closed, assigned to nobody

[2021-10-25 15:24] gglobalstep opened #31028 "[Firefox] Order status fails to update to "Refunded" on "WooCommerce>> Orders" screen after manually refunding the order."
# Bug Description:
Order status fails to update to "Refunded" on "WooCommerce>> Orders" screen after manually refunding the order.

# Environment:
Woocommerce Version :
WooCommerce 5.9.0 RC.1
Wordpress version: 5.8.1

# PC:
Windows 10, Mac 10.14.6
Firefox(Version 93.0)

# Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins.
1. Install and act

[2021-10-25 15:30] PaulSchiretz commented on #30967
Hi @jono-alderson,

I'm not from the woo-team but I just stumpeled upon your issue, i was wondering about the same thing in the past, i think it is perfectly fine how the woo-devs are handling this.

According to the W3c spec, having a `<noscript>` element in the head section is perfectly fine.

Here the section thats handling metadata elements:

[https://html.spec.whatwg.org/multipage/semantics.h

[2021-10-25 15:54] jonoalderson commented on #30967
Ah, TIL!

[2021-10-25 15:54] #30967 closed, assigned to nobody

[2021-10-25 16:16] rodelgc commented on #31022
Thank you very much for the feedback, @courtney666!

It appears that the issue you're experiencing is caused by Divi, since most of the steps you mentioned were using their theme builder. It also appears that the Recent Product Reviews Widget is from them as well, and no longer part of WooCommerce Core.

Please contact them directly for further help.

For the meantime, I'll close this issue but fe

[2021-10-25 16:17] courtney666 commented on #31022
Hello,

Are you guys serious?

Recent Product Reviews Widget is from Woocommerce, lol

I shared you logs, it shows the woocommerce code, see this: https://prnt.sc/1xaocp2

[2021-10-25 16:26] jordan-webdev opened #31029 "Calls to wp_count_posts() increases load times in WP Admin"
`wp_count_posts()` is called in includes/post.php on line 399 and includes/class-wc-tracker.php on line 343. Both of these files do not have any check to see if it's the product page, so it happens on every admin page, even when it is not necessary. Furthermore, the call in post.php is simply checking to see if there are any products at all, which could be determined with a `get_posts` call with a

[2021-10-25 16:36] rodelgc commented on #31022
Hi @courtney666, apologies for the confusion. You're right, Recent Product Reviews is one of the Legacy Widgets. I was paying more attention to the Block ones.

I'm reopening this issue with the `needs developer feedback` label so that our Core devs could take a closer look upon looking at the logs you shared.

[2021-10-25 16:41] courtney666 commented on #31022
Thanks a lot, I hope that it gets resolved soon, for now since removing that widget is not causing any issues, we are not using that widget.

[2021-10-25 18:08] rrennick commented on #28561
Thanks for the suggestion. I'll re-open the issue for that purpose.

[2021-10-25 18:11] zhongruige commented on #31028
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

* I created a new site with a fresh install of WooCommerce I placed an order
* In the admin view, I opened the order under `WooCommerce > Orders` and proceeded to refund it while it was in a processing state.
* In Firefox (for Mac, 93.0), the order page refreshes but t

[2021-10-25 18:40] club23bk commented on #31027
Hi kevin,

Yes i deactivated all the plugins and im using the hello/elemntor theme,

Im still seeing bugs in the products section when i upload a product
another one disappears, when i click on all products it shows 4 products
and when i click on published products it shows 5 products,

What could be the problem?

Thanks in advance,
Ali

On Mon, 25 Oct 2021 at 5:37 PM Kevin Amorim ***@***.***>
wro

[2021-10-25 19:48] club23bk commented on #31027
Hi Kevin,

I went to wp admin/woocommerce status/log/ fatal error and it showed me
this:

fatal-errors-2021-10-24-1d7c3d2e8fd4178ffd826927c6c4cc80.log

it's something with the woocommerce shipping zone, however im not using the
default woocommerce shipping setting im using DHL express,

I hope you can help me with this

On Mon, 25 Oct 2021 at 5:37 PM Kevin Amorim ***@***.***>
wrote:

[2021-10-25 20:41] vonrotzmario commented on #31021
Hello

Thanks for your feedback.

This error occurred when submitting an order on marymar.ch. And also when
logging in to my account I cannot open the other pages under my account.

Best regards
Mario

Am Mo., 25. Okt. 2021 um 16:13 Uhr schrieb rodelgc ***@***.***

[2021-10-25 21:09] joshbetz commented on #28508
It looks like we already have support for exact matches of skus.

https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php#L147-L163

A couple ideas here to facilitate searches:

1. We add a new query parameter (something like `sku_search`) which does a `LIKE` query.
2. We overload the existing `sku` para

[2021-10-25 22:29] zhongruige commented on #31029
Hi @jordan-webdev,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-10-25 22:29] geoffreyarce commented on #26380
Following documentation here: https://docs.woocommerce.com/document/product-csv-importer-exporter/
Its pointed out that this happens and does not specify that it gets fixed... Is this a known issue?

[2021-10-25 22:42] geo1306k opened #31030 "pagina minha conta woocomerce"
boa noite a pagina minha conta no woocomerce ficou com o cabeçalho e o rodapé bugado, as outras paginas estão ok mas essa ficou assim se puderem mi ajudar seria muito grato obrigado.

[2021-10-25 22:42] #31030 closed, assigned to nobody

[2021-10-26 01:08] ittca opened #31031 "cannot use .webp images on wc api"
I upload the webp image with wordpress api, all good, then i send the link in wc api and i receive an error and the image is not display in the product, if I use .jpg or .png all works good
Does wc api support webp, because wp api does and woocommerce only uses the path(link), if i do this manually directly on the dashboard all is working fine, however with wc API it is not.

[2021-10-26 06:21] rodelgc commented on #31027
Hi @club23bk,

I couldn't replicate this issue using WC 5.8.0 and the default Twenty Twenty-One theme. As you can see from my screenshot below, I'm able to see my newly added product both in the WP Admin Dashboard and in the Store page, and the total count of products were incremented just fine:
<img width="1313" alt="Screen Shot 2021-10-26 at 2 07 38 PM" src="https://user-images.githubusercontent

[2021-10-26 06:21] #31027 closed, assigned to nobody

[2021-10-26 06:32] rodelgc commented on #31031
Hi @ittca,

Thank you for reporting the issue. However, this issue seems to have been reported previously here: https://github.com/woocommerce/woocommerce/issues/28998. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

If you think that your issue is different from the one I mentioned, please feel free to leave a comment here, p

[2021-10-26 06:32] #31031 closed, assigned to nobody

[2021-10-26 06:38] garikaib commented on #23040
You sir are a genius. Really saved my bacon here.

[2021-10-26 06:48] rodelgc commented on #31021
Thank you @vonrotzmario for the response. Since I couldn't replicate the issue, and that the issue only happens on your site so far, it could be that several of your plugins or themes are causing it. Please test your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the default theme such as [Storefront](https://en-gb.wordpress.

[2021-10-26 06:48] #31021 closed, assigned to nobody

[2021-10-26 08:23] fvdbgit commented on #28752
Dear WooCommerce developers,

When are you going to solve this bug in WooCommerce?

The case is open since the 7th of January 2021 and nothing moves.

No one is assigned to this case.

How is that possible? The priority is supposed to be "High".

Thank you in advance for your action.

[2021-10-26 09:08] pmcpinto opened #31032 "Track the type of product added/published"
**Description:** We'd like to update the `wcadmin_product_add_publish` event to include new props identifying the type of product that was published, among other things:

New event props:

`product_type`
values: simple, variable, external, bookings, etc

`is_downloadable`
values: yes | no

`is_virtual`
values: yes | no

`manage_stock`
values: yes | no

The `wcadmin_product_update` event already in

[2021-10-26 09:09] pmcpinto commented on #31032
@elizaan36 is there anything else that you'd like to include

cc @becdetat just to ensure this is included in Cycle 19

[2021-10-26 09:20] anitaa1990 commented on #28508
Sorry for not responding @joshbetz! This got lost in my mail 🤦‍♀️

 That is what was suggested initially by Proton I think. At the moment, unfortunately, we don't have a way to identify if the user is searching for SKU or something else. The idea was to use our existing UI and query the SKU field in the server db. But from what I understood this would have a performance hit on the API.

We could w

[2021-10-26 11:03] peterfabian commented on #28508
Sorry for my late response here.

Can we use the product meta lookup table to perform the search without joining the postmeta table? That probably shouldn't cause a large performance hit.

Theoretically speaking, we can also probe if the db supports fulltext index and if it does, then add the fulltext index which should make even substring queries rather fast.

[2021-10-26 11:45] Bredamcguigan commented on #30618
Is there any solution available for this? It is a big inconvenience when my clients have to manually add items back into stock after a refund has been completed? This ticket is open since August. I'm surprised there are not thousands of users complaining about this.

[2021-10-26 13:31] rrennick commented on #28613
@marcochiesi Thanks for the follow up.

[2021-10-26 13:36] rrennick commented on #28610
@ahegyes Thanks for providing the steps to reproduce the issue. I was able to reproduce the issue with the steps provided.

[2021-10-26 14:02] masteradhoc commented on #30308
@san-coding Thanks for your comment!

"would it solve the issue if the API return product price while placing the order along with the discounted price ? Or should it just return the _line_discount that includes the price difference between the sale and list price."

We see two options / additions which would need to be set while placing the order:
- add the product price of that moment into the o

[2021-10-26 16:03] elizaan36 commented on #31032
looks great!

[2021-10-26 17:37] wisenet commented on #30618
This bug is not minor and affect the inventory with all refund orders. This issue reported over two months still not fixed.

[2021-10-26 21:29] pleinairman commented on #27281
Same problem here, but I am not adding products in bulk.  I add products one at a time and select "set product image".  After the product is published, I can go to the media library and see that the image is not attached.  This is a problem, because when I delete products, I want to be able to go to the media library, filter on images that are unattached, and delete them.  The only way this would

[2021-10-26 23:34] mattsherman commented on #32248
This is a warning. The code handles the deprecation and indicates that `DropZoneProvider` can't be removed until WP 6.0. I don't see anything we can do at this point. Keeping this open.

[2021-10-27 04:01] marekka commented on #24975
Hi, I'm still having this problem for the delivery so it's rounding to either 9.98 or 10 :(

It's rounded correctly however on products, so if entered 8.3265 for product, the price displayed is 9.99

If entered 8.3265 for shipping it's 9.98

[2021-10-27 05:15] daveloodts opened #31035 "STOP sending passwords via e-mail Please"
Every security specialist will tell this: never ever sent a password via mail.
In WooCommerce: when a buyer creates an account during checkout or straight from the registration form; the password is sent via e-mail.
So: a bad person can have the password and the e-mailadress....only those 2 things are needed to login.

This is seriously bad security practice.
In the text of the e-mail there is not

[2021-10-27 05:51] payalord commented on #15207
Plugin's main php file:
[code]

`wpg.js` file:
[code]

`wpg.css`:
[code]

But not sure will it help or not in your case guys.

[2021-10-27 06:03] nandugachristine commented on #31035
@daveloodts thank you for raising that issue its really a bad security practice which can result to losses to the store

[2021-10-27 07:48] rodelgc commented on #31035
Hi @daveloodts,

Thank you for taking the time to file this report. [As per our security policy](https://github.com/woocommerce/woocommerce/security/policy), please report any potential security issues via HackerOne. This allows us to handle them appropriately, as well as avoid accidental disclosure.

Although we won’t be able to tackle it in the upcoming weeks, we’re going to add it to our backlo

[2021-10-27 08:20] AashikP commented on #32241
Another report in 4406802-zen

[2021-10-27 08:43] rodelgc commented on #30662
Closing this issue as the PR for this is already merged.

[2021-10-27 08:43] #30662 closed, assigned to rodelgc

[2021-10-27 08:44] rodelgc commented on #30664
Closing this issue as the PR for this is already merged.

[2021-10-27 08:44] #30664 closed, assigned to rodelgc

[2021-10-27 08:44] rodelgc commented on #30665
Closing this issue as the PR for this is already merged.

[2021-10-27 08:44] #30665 closed, assigned to rodelgc

[2021-10-27 08:44] rodelgc commented on #30666
Closing this issue as the PR for this is already merged.

[2021-10-27 08:44] #30666 closed, assigned to rodelgc

[2021-10-27 08:44] rodelgc commented on #30668
Closing this issue as the PR for this is already merged.

[2021-10-27 08:44] #30668 closed, assigned to rodelgc

[2021-10-27 08:44] rodelgc commented on #30669
Closing this issue as the PR for this is already merged.

[2021-10-27 08:44] #30669 closed, assigned to rodelgc

[2021-10-27 09:10] #30594 closed, assigned to jeffstieler

[2021-10-27 09:47] masteradhoc commented on #30836
@tammullen any feedback for us?

[2021-10-27 10:06] alexakis13 opened #31037 "Quick edit attributes dont update if attribute slug is in Greek"
Hello,

I have the same problem with 2 WooCommerce installations.

**Prerequisites (mark completed items with an [x]):**
- [ x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If I create an attribute and the slug is in Greek language, when I want t

[2021-10-27 12:41] hellwig-data443 opened #31038 "Fatal Error in PageController.php on line 359"
Fatal error: Uncaught Error: method_exists(): Argument #1 ($object_or_class) must be of type object|string, bool given
in C:\Users\OliverHellwig\Local Sites\plugintester\app\public\wp-content\plugins\woocommerce\packages\woocommerce-admin\src\PageController.php on line 359

Call stack:

method_exists()
wp-content/plugins/woocommerce/packages/woocommerce-admin/src/PageController.php:359
Automattic\

[2021-10-27 13:11] pluscom-kevin opened #31039 "Woocommerce Booking - Error when trying to change month on calendar"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
On the booking calendar view, on official WooCommerce Booking plugin, I can't change through month when I click on the date, whatever the view I

[2021-10-27 13:46] hellwig-data443 commented on #31038
I put this in the wrong place. After digging into the code some more, I found that the repository should be woocommerce/woocommerce-admin. Then I found that the issue has already been reported here:  https://github.com/woocommerce/woocommerce-admin/issues/7758

[2021-10-27 13:46] #31038 closed, assigned to nobody

[2021-10-27 14:54] tloughlin130 opened #31040 "WooCommerce order notification emails not triggered when using the PayPal Standard Checkout"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have search

[2021-10-27 18:07] juliaamosova commented on #30799
Noting that it will be great to write a unit test along with a fix to ensure this kind of case is covered in the future.

[2021-10-27 18:18] juliaamosova commented on #31035
Hi @daveloodts,

Thank you for raising the issue!

﻿

Noting here that this issue had been originally evaluated as a security issue by mistake. Apologies for the confusion. It was moved into our private repository for discussion but later moved back here for further discussion in the open.

We are currently marking it as an `enhancement` issue and adding a `votes needed` tag to collect feedback fr

[2021-10-28 07:44] rodelgc commented on #30670
Hi @zhongruige. Just a heads-up that I'll be putting this, #30672, #30671, and the "Batch update order" tests in 1 PR because they're very closely related.

I'm planning to create a separate test file and data file for them, just like what we did in the [Products API: CRUD PR](https://app.zenhub.com/workspace/o/woocommerce/woocommerce/issues/31006).

I'm also thinking of waiting for [Jeff's PR](ht

[2021-10-28 08:23] rodelgc commented on #30673
Hi @zhongruige, I'm thinking of creating a separate test file for this one, like `order-search.test.js` instead of including it in the same file with create/retrieve/update/delete orders tests. As well as using `describe.each()` the same way we did in E2E.

It also seems that some search scenarios are already covered by [this PR](https://github.com/woocommerce/woocommerce/pull/31033). So I guess I

[2021-10-28 10:03] daveloodts commented on #31035
Thanks, i wil try to have more votes for this.

[2021-10-28 11:49] TIIUNDER commented on #26999
Is there a workaround?

[2021-10-28 12:41] peterfabian commented on #30618
We agree it's an important one to solve. We'll start working on it next month. Apologies for the trouble.

[2021-10-28 14:42] millerf commented on #30922
@juliaamosova Any news on this one?

[2021-10-28 14:53] sukafia opened #31043 "Admin order notification email heading no longer being translated to French (Francais)"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

The email heading for the admin order notification emails (New order, Cancelled order, and Failed order) are no longer being translated to Fren

[2021-10-28 14:59] sukafia commented on #31043
The issue appears to extend beyond the admin email header. The customer just added they're seeing it in:

NEW ORDER (Admin)
=> Header

ORDER CANCELED (Admin)
=> Subject
=> Header

ORDER FAILED (Admin)
=> Subject
=> Header
=> First sentence with variable in content (Payment for order xxx from
xxxx has failed. The order was as follows:)

ORDER PROCESSING
=> Additionnal content ( Thanks for using {si

[2021-10-28 15:25] gglobalstep opened #31044 "[GlobalStep - 5.9.0 RC-1] "Rows per page" dropdown is misaligned on Analytics>>Revenue page."
# Bug Description:
"Rows per page" dropdown is misaligned on Analytics>>Revenue page.

# Environment:
Woocommerce Version :
WooCommerce 5.9.0 RC.1
Wordpress version: 5.8.1

PC:
Windows 10
Firefox(Version 93.0)
Chrome (Version 95.0.4638.54)
Safari: v14.0

# Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins.
1. Install and activate WooCommerc

[2021-10-28 15:26] juliaamosova commented on #30922
Looping in @peterfabian to see if you could prioritize looking at it.

[2021-10-28 15:29] gglobalstep opened #31045 "[GlobalStep - 5.9.0 RC-1] In incognito window variable product price fail to display with tax."
# Bug Description:
In incognito window variable product price fail to display with tax.

# Environment:
Woocommerce Version :
WooCommerce 5.9.0 RC.1
Wordpress version: 5.8.1

PC:
Windows 10
Firefox(Version 93.0)
Chrome (Version 95.0.4638.54)
Safari: v14.0

# Test Instruction link:
https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-5.9#include-customer-vat-exem

[2021-10-28 17:05] zhongruige commented on #31044
Hi @gglobalstep,

Thank you for reporting the issue. {name of the feature the user is reporting to} is being developed in another repository: https://github.com/woocommerce/woocommerce-admin/.

I am going to move your bug report there so that the right team could take a look further.

Just noting that I could replicate this and this issue is also present on WooCommerce 5.8:

<img width="1259" alt=

[2021-10-28 17:06] #31044 closed, assigned to nobody

[2021-10-28 17:06] zhongruige commented on #31044
Issue moved to [woocommerce/woocommerce-admin #7863](https://github.com/woocommerce/woocommerce-admin/issues/7863) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 17:09] lukecav opened #31046 "WooCommerce usage tracking cron event set without an action if usage tracking is not enable"
If usage tracking is not enabled in WooCommerce then the cron event `woocommerce_tracker_send_event` that is run daily is left with no action.

Should the cron event be deleted if usage tracking is disabled?

https://woocommerce.com/usage-tracking/

[2021-10-28 17:13] zhongruige commented on #30673
Sounds good, I think that is a good approach to this @rodelgc!

[2021-10-28 17:18] octaedro commented on #32229
Thank you @lanej0 for reporting this problem. I can reproduce it.

[2021-10-28 17:24] octaedro commented on #32228
Hi @lanej0,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-10-28 17:27] rodolphebertozzo opened #31047 "Translation error bug"
Hello, why this part of Woocommerce is not translated into French?
![trad](https://user-images.githubusercontent.com/56270626/139305369-eaab7b69-f2ad-4b2f-bea9-a6263b97ecb3.PNG)

[2021-10-28 18:20] Rink9 opened #31048 "[Sale price issue] Still showing sale prices after the expiration of sale date"
**Prerequisites (mark completed items with an [x]):**
- [ x ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When the sale date ends on scheduling, the price remains same as the sale price.

**Expected behavior**
When the sale date ends on schedulin

[2021-10-28 19:40] zhongruige commented on #31045
Hi @gglobalstep,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

* I created a new site with WP 5.9 RC1
* Set prices as inclusive of tax, and displayed prices and including tax
* I set up a standard tax of 10%
* Created a customer user and set a VAT number for them
* Created a variable product and set va

[2021-10-28 20:40] zhongruige commented on #30670
Thanks for the heads up @rodelgc!

That makes sense! I agree that it is worth waiting on to get Jeff's changes merged in.

[2021-10-29 02:01] Geordantc opened #31049 "Txes are not added"
Taxes are not adding on all items after multiple attempts

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have carried out troubleshooting st

[2021-10-29 05:42] rodelgc commented on #31037
Hi @alexakis13,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WC 5.8 and the default theme Twenty Twenty-One.

I was able to get the "0" error after putting in "Μαύρο" as the new term name and hitting "Update". However, I didn't see any console errors:
<img width="1015" alt="Screen Shot 2021-10-29 at 1 32 23 PM" src="https://u

[2021-10-29 05:48] rodelgc commented on #31039
Hi @pluscom-kevin,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the "WooCommerce Bookings" plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact WooCommerce support team by [opening a ticket

[2021-10-29 05:48] #31039 closed, assigned to nobody

[2021-10-29 05:51] rodelgc commented on #31046
Hi @lukecav,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-10-29 06:26] rodelgc commented on #31047
Hi @rodolphebertozzo,

I believe you're referring to the Login section in the Checkout page? If so, I'm not able to reproduce this issue on my end. When I logged in to WP Admin and navigated to Settings > General and then set the Language Site to "Français", I am able to see the French translation on the login form just fine:
<img width="588" alt="Screen Shot 2021-10-29 at 2 17 18 PM" src="https:/

[2021-10-29 06:28] #31047 closed, assigned to nobody

[2021-10-29 06:32] alexakis13 commented on #31037
Yeah I don't either get any console error.. It works correct when you try to edit it through full edit.. so I guess the error maybe is something with the call to the db for the update with none Latin characters on slug..

[2021-10-29 06:56] rodelgc commented on #31049
Hi @Geordantc,

As much as we want to help you with this issue, the description you provided is very vague and lacking replication steps.

You didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

I'm closing this issue for now. Please feel

[2021-10-29 06:56] #31049 closed, assigned to nobody

[2021-10-29 07:20] lpro-1 commented on #27761
Hi Team,
Do you have an update on the priority of this bug/ issue fix?

[2021-10-29 07:21] rodelgc commented on #31043
Hi @sukafia,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I can confirm that these fields were not translated to French. Taking ORDER CANCELED as an example:
<img width="796" alt="Screen Shot 2021-10-29 at 3 20 24 PM" src="https://user-images.githubusercontent.com/4509348/139392785-b4ecdf92-a0ec-43c5-92a3-0edb460b55ca.png">

Prio

[2021-10-29 08:32] joashrajin opened #31050 "Tax discounts do not render correctly on the Dashboard in certain cases when discounts are applied using the WooCommerce's core fees API"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

This issue can be replicated when using the [WooCommerce Local Pickup Plus](https://woocommerce.com/products/local-pickup-plus/) extension and

[2021-10-29 09:06] Coernel82 commented on #27661
**Update: Had a look at the sourcode - potentially malicous and GDPR-breach! Passes on the data to an external webserver.**

GiroCode by Minerva Kulturdienstleistungen UG (haftungsbeschränkt) (https://documentid.net/) does work. By using a shortcode such as [girocode beneficiary="Deutsches Rotes Kreuz e. V." iban="DE63370205000005023307" amount="10.00" purpose="Internationale Soforthilfe"] (I goog

[2021-10-29 09:28] mxa commented on #27661
I think this functionality should be part of the internal BACS Payment method.

[2021-10-29 09:51] Coernel82 commented on #27661
Yes! I agree - that is where it belongs.

[2021-10-29 09:52] Ash4040 opened #31051 "Cannot Add Products To Cross Sell & Upsell On Backend"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Cannot add new any new crossells or upsells on backend
"rawurldecode() has been disabled for security reasons"

**Expected behavior**
Suppose to

[2021-10-29 12:37] theoplaticatoptal commented on #16357
I just found a fix here: [https://ddgpress.com/fix-woocommerce-thumbnail-gallery-error/](https://ddgpress.com/fix-woocommerce-thumbnail-gallery-error/)

[code]

[2021-10-29 12:50] rodolphebertozzo commented on #31047
It looks like this is happening with the new Elementor Pro widgets, available early next week, I will try to open an issue with them

[2021-10-29 16:07] Immerence commented on #27761
@lpro-1 Hi, wondering the same thing!

[2021-10-29 17:21] tomaptx opened #31053 "WC API slow product creation"
**Prerequisites (mark completed items with an [x]):**
- [X ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
WC API is not fetching images from links in parallel. They seem to be downloading in series.

**Expected behavior**
Image download in parallel

[2021-10-29 17:37] barryhughes commented on #31029
Some reasonable caching here would allow us to keep this and alleviate performance concerns. Checking on that idea and what sort of invalidation period, etc, in the linked conversation.

Internal link: p1635526458105200-slack-C11TDJHDZ

[2021-10-29 21:08] elizaan36 opened #31054 "Products table accordion expands different row on mobile"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
On mobile the products table collapses into a layout showing an accordion for each row. When clicking the accordion, the row below opens rather

[2021-10-30 05:30] erikdemarco opened #31056 "Sometimes WC()->session loses value"
I want to autofill custom field which user typed previously in checkout form. So I save user typed value in woocommerce session like:
WC()->session->set( 'my_custom_field', 'test' );

The weird thing is, After couple hours this value is gone. But value for native field (which woocommerce autofilled by default) like billing_phone, billing_address, etc still exist and autofiled.

[2021-10-30 08:44] lanec commented on #28589
It has been 10 months since I reported this issue.

WooCommerce has not gotten better for me. I gave up relying on it's API after this and other issues.

I've begun working with a team on an headless API driven e-commerce solution so we can throw WooCommerce in a dumpster and light it on fire.

[2021-10-30 10:25] glaing commented on #30827
I had this problem with our site's import.

Turned out I just needed to add a backslash to escape the comma when I generated my CSV file and the importer handles it correctly.

I use a spreadsheet to generate my CSV, so I just added a SUBSTITUTE formula to the field that contains my category strings - it looks for `,` and replaces them with `\,`.

You need to be careful if you are trying to add th

[2021-10-30 13:55] rodelgc commented on #31048
Hi @Rink9,

Thank you for submitting this issue. However, there are a few details we'd like to ask you for us to accurately recreate it:

1. What timezone was selected in WP Admin > Settings > General > Timezone option?
2. What is the system timezone of your WP server?
3. Do you still encounter this issue after doing a hard reload of your browser?

Looking forward to your feedback. Thanks!

[2021-10-30 14:35] rodelgc commented on #31051
Hi @Ash69911 ,

Thank you for raising the issue. However, I can’t reproduce it on my end.

As you can see from the video below, I added products to up-sell and cross-sell in WC 5.8.0, but I did not encounter the error message that you mentioned:

https://user-images.githubusercontent.com/4509348/139537487-499e15c9-af53-4d4f-8204-7e5fc59c4472.mov

I see that you have several plugins installed and t

[2021-10-30 15:22] Ash4040 commented on #31051
Hi @rodelgc

I have already tried disabling all the plugins and only using a default theme , its not the theme or plugins its the rawurldecode() has been disabled for security reasons" , function used in the woo commerce class-wc-ajax.php

https://user-images.githubusercontent.com/39347863/139539132-fd85830b-ed75-40fa-a286-bd7a7340af09.mp4

Please change your php SAPI to apache2handler

If need be

[2021-10-30 15:36] rodelgc commented on #31051
Hi again @Ash69911,

Thank you for clarifying! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-10-30 16:22] erikdemarco commented on #29234
@barryhughes

I choose the first route. Because 2nd route cant be used if user is logged out.
But there is a problem with first route. It always lost value after couple hours. Is it a bug? see this: #31056

[2021-10-30 16:47] rodelgc commented on #31050
Hi @joashrajin,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Here are the steps I did to recreate the issue:
1. In WooCommerce > Settings > General, enable taxes.
2. In WooCommerce > Settings > Tax > Standard rates, enter a row with 10% tax:
    <img width="1341" alt="Screen Shot 2021-10-31 at 12 41 51 AM" src="https://user-image

[2021-10-30 16:48] worldsdream commented on #18395
I didn't touch WooCommerce in the last five years. But today was the day that I had to look into a WC webshop. When I saw jquery loading, I was surprised that it did. Very bad. But, that's my opinion.

Hopefully, the team will consider this and put it in their top tasks.

[2021-10-30 17:07] Ninos commented on #31056
May similar problem:
Since latest update guests/customers sometimes loose cart items (empty cart) after < 1min. I think after new guest/customer is visiting/interacting with site.

PS: After deactivating apcu cache it seems working "fine" again. May a key name Problem using customer_id (0?) instead of session id..

[2021-10-30 18:33] Ninos commented on #31056
May related to this:
https://github.com/woocommerce/woocommerce/blob/ec5ab7cdb5155f7cebe194d318d3a790a79f0480/plugins/woocommerce/includes/class-wc-session-handler.php#L278

Is customer_id = 0 or the session_key in database?

[2021-10-30 19:17] RafaelFunchal opened #31057 "Uncaught TypeError: Unsupported operand types: int - string"
Hi there :)

I'm creating this new issue as I couldn't find other issues related to `int - string`. Let me know if you want me to comment on another issue.

While working on p9F6qB-7CT-p2, I found this error:

[code]

PHP 8.0
WooCommerce 5.8.0

Switching PHP from 8.0 to 7.4 made the site usable again.

[2021-10-30 22:29] realmofevil commented on #27281
Same problem. +1
I have some images that are uploaded separately from the product creation process, then added them as product gallery images manually but they still show up in Media when filtered as Unattached. Luckily I now saw on the screenshots that there is an attach button when you view the media as a list which I used in my case because they were below 30 but this won't work if you have hun

[2021-10-30 23:01] courtney666 commented on #31022
When do topics usually get checked by developers?

[2021-10-31 04:36] erikdemarco commented on #30827
@glaing Nice find, the culprit is in this line:
https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/import/class-wc-product-csv-importer.php#L394

[2021-10-31 04:45] erikdemarco opened #31058 "Problem importing product if weight contains 'comma'"
If in our CSV the product have weight set to "1,800". Which converted by default in excel if we convert from xlsx to csv.

Our final imported weight will be set to: "2 g" instead of "1800 g"

[2021-10-31 04:54] shohanhossainnab commented on #30154
Hi! Just wanted to check if there's any update on this?

[2021-10-31 15:28] JamalBounit commented on #23796
Please how I can fix his issue?  It doesn't decrease the total of sales when I reverse the sales!

[2021-10-31 18:28] Coernel82 commented on #27661
**Update: Had a look at the sourcode - potentially malicous and GDPR-breach! Passes on the data to an external webserver.**

Now after some hours of trial and error some ideas for the solution:
In conjunction with the [GiroCode Plugin](https://wordpress.org/plugins/girocode/) being activated:

On the page **before** the `thankyou.php` this works:

[code]

On the thankyou.php page however the QR-Co

[2021-11-01 03:50] kevin25 commented on #18808
I got the same issue with my huge database. My CPU is always > 100%. Up to 400%

[2021-11-01 12:09] peterfabian commented on #30922
Bumped it for feedback to the top of the queue. The request makes sense but needs some discussion as the customer is not a property of the abstract class, but the order class itself, so it's not straightforward.

[2021-11-01 12:51] peterfabian commented on #29465
reping @Konamiman / @ObliviousHarmony maybe you folks have any ideas?

Side note: I googled a bit last week and the conclusion was that xdebug doesn't support breaking on unhandled exceptions only, so it's rather inconvenient. Some other languages support this.

So at the moment, I think the best way is to disable brakpoints on exceptions and monitor PHP log.

[2021-11-01 12:58] peterfabian commented on #30465
May be related to #27686.

[2021-11-01 13:05] peterfabian commented on #30682
Closed in #30830.

[2021-11-01 13:05] #30682 closed, assigned to nobody

[2021-11-01 13:07] #28783 closed

[2021-11-01 13:07] peterfabian commented on #28783
IE 11 is no longer supported in WP: https://wordpress.org/news/2021/05/dropping-support-for-internet-explorer-11/

[2021-11-01 13:15] peterfabian commented on #30852
@Konamiman @ObliviousHarmony thoughts, folks? Seems reasonable to me...

[2021-11-01 13:19] peterfabian commented on #28761
Hi @sgoifo !

Can I close the issue or do you want us to treat it as an enhancement request?

[2021-11-01 13:40] Dream-Team-Project opened #31060 "Woocommerce shop page showing blank"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-11-01 14:18] strarsis commented on #30347
Same issue, there is an empty "WooCommerce Setup" widget on the Dashboard and
the usual WooCommerce widget with the order, stock and revenue information is missing.
How can I get it back?

Edit: It is a completely different widget - the wiget that is empty is the WooCommerce Setup progress widget.
The widget I want is the WooCommerce status widget.

`$this->should_display_widget()` returns false f

[2021-11-01 14:29] pacmanito commented on #18395
@mikejolley so the answer is "just use Blocks"?
And what if I don't want to use blocks as they are bloated and are nowhere near as extendable and customizable as PHP pages?
Please pay attention to this issue, especially considering there are volunteers already here (https://github.com/woocommerce/woocommerce/issues/18395#issuecomment-928846854)

[2021-11-01 14:41] FunkyCss commented on #18395
@mikejolley  Woocommerce is really not serious at all.. Unfortunatelly this topic is so old and one the most requested but Woo does not gives a damn.

Also Woocommerce has said before two years that Single Product will add Gutenberg support, Wordpress is on Full Site Editting and woocommerce still nothing..
'
Uses the help of devs only to update its other not-free extensions.....

And my guess is

[2021-11-01 15:56] peterfabian commented on #30027
Timeboxed to look for a solution for 2-3 days max. There is no easy fix if we want to be compatible with both PHP 7 and 8, we can either fork Emogrifier, find some hack/workaround, or find some other clever solution.

[2021-11-01 16:03] peterfabian commented on #29657
We're writing documentation to explain this.

[2021-11-01 16:07] peterfabian commented on #28861
We should prob make it a nullable string. Please add unit test as well when implementing.

[2021-11-01 16:09] szepeviktor commented on #30027
@peterfabian You need [Emogrifier v5.0.0](https://packagist.org/packages/pelago/emogrifier#v5.0.0) which is PHP 7-8 compatible.
The change in WC source code is minimal.

[2021-11-01 16:09] peterfabian commented on #29727
Hi @onclave can you please share what your file name is, then?

[2021-11-01 16:23] peterfabian commented on #29027
p7bje6-3gZ-p2

[2021-11-01 18:43] barryhughes commented on #30027
Noting Emogrifier 5.0 only goes back as far as PHP 7.1, whereas WooCommerce still supports PHP 7.0.

[2021-11-01 18:46] barryhughes commented on #29234
Thanks! The team will look at that new issue during routine triage :-)

[2021-11-01 19:13] #30932 closed, assigned to nobody

[2021-11-01 19:50] peterfabian commented on #18395
Hi, we definitely don't ignore pull requests, e.g. in the last month, we merged more than 60 PRs, and almost 700 since the beginning of the year.

Removing jQuery is currently not a priority for us not only because we're developing WC Admin and Blocks for merchant's and customer's experience using React (i.e. without jQuery), but also because WordPress itself includes jQuery and we need to be thou

[2021-11-01 20:43] psealock opened #31061 "Make sure WooRelease works with the monorepo structure"
[WooRelease](https://github.com/woocommerce/woorelease) is used to release WooCommerce. Since the repo now has a non-standard structure, we need to make sure it can still be used to release WooCommerce.

[2021-11-01 20:49] psealock opened #31062 "Clone a production repo"
In order for Packagist to distribute WooCommerce, it needs to be in its own repo, which means this won't work within the context of a monorepo. Jetpack has gotten around this by creating [a read-only production repo](https://github.com/Automattic/jetpack-production).

[2021-11-01 20:50] born2webdesign commented on #18395
Again, I want to express my hope that the basic shop functionality in the frontend remains usable w/o JS! THX
Or are you doing away w/ that?

[2021-11-01 20:53] psealock opened #31063 "Fix smoke test Github Action"
The new monorepo structure has left the smoke test github action broken.

[2021-11-01 21:10] pacmanito commented on #18395
@born2webdesign the topic is about dropping jQuery, not JS altogether (I doubt it is possible at all for an Ecommerce solution).

[2021-11-01 21:32] born2webdesign commented on #18395
@pacmanito Sure, but seems somewhat related, when talking about moving to ‘blocks using React’.
I _have_ bought from WC shops w/o activating JS on the shop itself—for me one of the strongest arguments for WC! Quite important to me in terms of security, I don’t activate JS on random sites. (You _can_, of course, design a shop so it doesn’t work w/o JS, even today.)

[2021-11-01 21:44] angelitodiaz1 opened #31064 "Issue Exporter Woocmmerce Function don't working"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-11-01 22:00] NathalyaVides commented on #29700
Reported in 4415705-zen

[2021-11-01 23:14] seb86 opened #31065 "REST API: Create Order - Sign up fee is being used as discount."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When creating an order via the WC REST API for a subscriptions product with a sign up fee, the sign up fee is being used as a discount.

The tot

[2021-11-02 00:36] #27682 closed

[2021-11-02 00:36] #27726 closed

[2021-11-02 00:36] #27797 closed

[2021-11-02 06:02] Ash4040 commented on #31051
Hi @rodelgc , thanks a lot

[2021-11-02 06:21] Johanwalter commented on #31043
Translations are available, after update, Issue is solved!

[2021-11-02 10:24] madeincosmos commented on #30896
Hi @kkmuffme! Can you let us know which plugins on the WooCommerce.com marketplace only have minified sources? I checked a few flagship extensions like Subscriptions, Memberships or Stripe, and they all have full unminified JavaScript source code included in the plugin package.

If you purchased some plugins through our marketplace, you can get in touch with our support team through [this contact

[2021-11-02 10:36] KristFlex commented on #30907
@DavidAnderson684 Could you take a look at my reply, please? Thank you very much in advance.

[2021-11-02 11:08] DavidAnderson684 commented on #30907
@KristFlex I am not on the WooCommerce core team. The "Contributor" label means that I've had pull requests accepted in the past.

[2021-11-02 11:10] Buzut commented on #28202
Hi @rrennick

Fair enough! Let me provide you with a more in-depth explanation.

I ran again my tests on a clean install. WordPress, WooCommerce and Storefront, nothing else.
I just set up WooCommerce and imported the [sample data](https://docs.woocommerce.com/document/importing-woocommerce-sample-data/).

Actually the Ajax request is sent when a country is selected.

[![screen-2021-11-02-12-00-10

[2021-11-02 11:13] gregBerthelot commented on #24540
Seems that this issue is back in 5.8.0 as we can see here https://cln.sh/ZZJ2Ap

Product tax excluded : 18,96
Tax : 5,5%
Product tax included = 18,96 + 18,96 * 5,5 / 100 = 20,0028 displayed as 20,00 for 1 product
2 Products tax included = 2 * (18,96 + 18,96 * 5,5 / 100) = 40,0056 displayed as 40,01 for 1 product

[2021-11-02 11:32] peterfabian commented on #30922
We discussed this and think this can be fixed by just checking if the `get_customer_id` method exists. If it doesn't, then we can ignore the check of coupon vs customer.

When this error gets triggered, it means that there's a custom order class that (is a descendant of abstract order class and) does not have a concept of a customer, so checking coupon usage against a customer is not really possib

[2021-11-02 11:42] peterfabian opened #31067 "Different out of stock value used for front end and backend"
**Is your feature request related to a problem? Please describe.**
Sometimes, when product meta _stock_status is set to out of stock, or out of stock term is assigned to the product, but the product lookup table is set to in stock, the product appears as in stock in the admin area, but is out of stock on the front end.

**Describe the solution you'd like**
One source of truth (ideally a performant

[2021-11-02 12:51] shiki commented on #28507
A mobile app customer experienced seeing `checkout-draft`, which can be fixed by implementing exclusion. p1635501599107600-slack-C6H8C3G23

[2021-11-02 13:06] senff opened #31068 "Adding items to order in backend with negative qty results in error"
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When editing an order in the backend, it is possible to add a product with a negative quantity. However, after that, the **Update** button does not work anymore.  Error in console: "_An invalid form

[2021-11-02 15:33] n3f commented on #30922
Sounds great!  Additionally, I just wanted to point out that I came across this issue because [WC_Order_Refund](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-order-refund.php) doesn't have `get_customer_id()` implemented.  Is that expected as well?

[2021-11-02 16:29] s-a-s-k-i-a opened #31069 "Display Variation image when product url contains matching variant attributes"
When viewing a product page using a direct link to a product variation, the main product image always display the set product featured image, even though a variation image is set in the product's variation settings.

The preselected variation is visible though.

Let's say the product variant link looks like this:

https://myshop.com/shop/category/my-variable-product-name/?attribute_pa_color=green

[2021-11-02 17:54] #30868 closed, assigned to nobody

[2021-11-02 19:54] TheRadicalDreamer commented on #30375
Hi @masteradhoc i couldn't set a preview of woocommerce so i cannot see the details of the new regions you added.

Can you please show me a picture of the list and how the checkout form looks like now?

Thanks in advance!

[2021-11-02 20:10] Kelyn-Aliria commented on #20800
I've been searching for this a long time ago, I'd try every plugin without any success but finally found your solution and it works perfectly, thank you very much.

[2021-11-02 20:11] barryhughes commented on #24244
Couple notes:

- With regular WP posts (and where the `%category%` tag is included in the permalink structure), entering the wrong category slug results in a 301 redirect to the correct URL.
- With products, though we don't do a redirect a canonical link tag to the true URL is present in the page.

[2021-11-02 21:49] joelclimbsthings opened #32225 "Restore previous name for paypal gateway in relevant tracks events."
The switch to remote payment gateways resulted in an inadvertent change for the ID for the Paypal gateway.

Previously identified as `paypal`, it's now referred to as `ppcp-gateway` in tracks events. Explore options for restoring the previous ID of `paypal` in events such as `wcadmin_tasklist_payment_setup` currently fired [here](https://github.com/woocommerce/woocommerce-admin/blob/a6e35e94333cb0

[2021-11-02 21:54] csmcneill commented on #31068
Reported in 4421567-zen

[2021-11-02 23:15] ObliviousHarmony opened #31072 "Configure Nx for Packages"
### Overview

Now that we've merged https://github.com/woocommerce/woocommerce/pull/30977 and integrated PNPM, it's time to fully utilize [Nx](https://nx.dev/) in order to better support managing projects within the monorepo. This tool will allow us to run executors and generators for the monorepo, support incremental builds, and execute commands on packages affected by changes.

The goal of this

[2021-11-03 00:35] #26535 closed

[2021-11-03 00:35] #28112 closed

[2021-11-03 00:35] #28130 closed

[2021-11-03 02:40] laurenproctor commented on #19182
For me, the solution ended up turning on Enforce settings for my LetsEncrypt SSL certificate. The second the checkout was on https://, the message went away.

[2021-11-03 05:25] daveloodts commented on #31035
hi WooCommerce Support, we've got 25 votes. Compared to other Github tickets, that is a lot. A lot of votes! So it's time to clean this up, and to drop the password in the New Account mailing.

By the way: this is not a rocket-science adjustment that we ask.
Just remove the password in the New Account template; it's absolutely not needed as a buyer can always request a reset to change their passwo

[2021-11-03 07:13] shahedhasan321 commented on #17365
@alanpachuau thanks for your greate solution

[2021-11-03 09:07] gondre opened #31076 "Wrong saved tax amount when certains options are active"
**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
With the setting “Round tax at subtotal level, instead of rounding per line” and the "number of decimals to 0", woocommerce would wrongly save t

[2021-11-03 09:59] Coernel82 commented on #27661
Just had a look at the sourcecode of the GiroCode Plugin - it just passes on parameters to the developers website and loads a png from there. So this is not GDPR-Compliant! However there are public libraries: https://github.com/topics/girocode?l=php

[2021-11-03 10:02] mxa commented on #27661
Wow, this is potentially malicious.
We don't need a special _Girocode_ library, It's a standard QR-code in a special syntax which makes it a "Girocode".

[2021-11-03 10:14] matthiaswagnerwy commented on #27661
we would definitely need to include the generation of the code into core. all solutions i have met so far depend on some apis, which is not only problematic regarding gdpr. it is also a problem that we have delay and can not rely on them to be always online. also, best solution would be to generate svg images.

here is a MIT licensed javascript project for that: https://github.com/papnkukn/qrcode-

[2021-11-03 10:14] Coernel82 commented on #27661
The php-File from
fellwell5 /
bezahlcode

on GitHub creates the QR-Code ~from the Google API. So useless as well. But I guess there are libaries already available.~ The developer updated his plugin upon my request so that it is usable without Google API.

[2021-11-03 10:20] Coernel82 commented on #27661
That indeed is the best option as there is absolutely no data sent somewhere. So really what has to be done is simply to create a string using Woocommerce variables being compliant with [https://en.wikipedia.org/wiki/EPC_QR_code](url)

As said before I am not a programmer however I will have a look at this! Creating a string and passing the variables onto the javascript code could not be to diffic

[2021-11-03 10:27] #30653 closed, assigned to barryhughes

[2021-11-03 10:46] matthiaswagnerwy commented on #27661
since woocommerce is mostly server-based, we need to find a php algorithm or library (that is fine to include in woocommerce) that converts the string to a svg source. javascript won't be good here, but maybe it could be a hint on how to implement the algorithm. that's why i linked it here ;)

[2021-11-03 10:48] mxa commented on #27661
http://phpqrcode.sourceforge.net/

[2021-11-03 14:05] tomjn commented on #20805
@peterfabian please **do not send people to WP Stack Exchange for help with WooCommerce**, WooCommerce questions are off-topic and will be closed. They and other 3rd party plugin dev support questions are off topic there.

_Note that I am a WP Stack exchange community moderator_

[2021-11-03 14:36] Julian0079 opened #31079 "Woocommerce Post featured image problem"
Hi so i have a problem with my wordpress. Im using Hallo theme, Elementor pro, woocommerce and polylang.

Right now i cant add any featured image to my posts. So every time im adding an image it is not updated. So it is always empty.
I inspected the website while uploading and saw an issue with woocommerce. I have attached the gif. Maybe someone has an idea. Many thanks !
![Animation](https://user

[2021-11-03 14:44] seb86 commented on #31065
Quick update. This issue was replicated with many older versions of WooCommerce.

[2021-11-03 14:54] ju1ius opened #42661 "Featured product image is not responsive"
## Describe the bug
Hi, the `woocommerce/featured-product` block always uses a single background image size even on small viewports.

## To reproduce
Steps to reproduce the behavior:

1. Add a featured product block on a page/post
2. view said page/post in frontend
3. inspect the block element in devtools
4. the block uses `background-image: url(...);`. Therefore the browser cannot select an appro

[2021-11-03 15:09] roykho commented on #31063
Tasks are done.

[2021-11-03 15:09] #31063 closed, assigned to roykho

[2021-11-03 15:13] erikdemarco opened #31080 "what is the purpose of wc_set_time_limit(0) ?"
In woocommerce its used oftenly. So if for example there is a bug. It will run forever and take cpu resources. Isnt it bad practice to set_time_limit to forever?

[2021-11-03 15:22] douglas-johnson commented on #29265
The location of the related code changed. Here is an updated link:
https://github.com/woocommerce/woocommerce/blob/5.9.0/assets/js/frontend/checkout.js#L133

[2021-11-03 15:44] juliaamosova commented on #31035
Thanks for the further follow-up @daveloodts!

It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-03 18:34] nerrad commented on #42661
Hi there @ju1ius  👋

Thanks for taking the time to share your suggestions for the image in the featured product block. It does seem to make sense that the html structure would be modelled similarly to the `core/cover` block. While this isn't currently something we'll work on immediately, I have added it to our backlog.

[2021-11-03 19:16] tammullen commented on #31056
Hi @erikdemarco

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-03 19:47] tammullen commented on #31057
Hi @RafaelFunchal!

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin

I am going to move your bug report there so that the right team could take a look further.

[2021-11-03 19:49] tammullen commented on #31060
Hi @Dream-Team-Project

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2021-11-03 19:52] tammullen commented on #31079
Hi @Julian0079

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guide]

[2021-11-03 19:52] #31079 closed, assigned to nobody

[2021-11-03 19:54] kkmuffme commented on #30896
Product Reviews Pro

I already got the source from the devs, but its a time waste to request it every time they update it.

[2021-11-03 20:10] tammullen commented on #31080
Hi @erikdemarco

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

I am adding the `needs developer feedback` label to this issue so that the WooCommerce Core team can try take a look at your question. Please note it may take a few days for them to get to this issue.

However please note due to the number of

[2021-11-03 20:27] shishurajpandey opened #32224 "[Setup Wizard] - User checked options are getting unchecked on doing refresh(F5) at Industry page of Setup Wizard flow."
### Describe the bug
- When a user is on the Industry page of Setup Wizard flow with few checked options and when the user tries to refresh the browser, the checked options are getting unchecked for the user.
- This issue is also happening if a user is trying to move back to the Industry page from some other sections and then do the browser refresh then in that case also user saved check options a

[2021-11-03 20:28] tammullen commented on #31065
Hi @seb86

Thank you for reporting the issue. I believe this is on the WooCommerce Subscriptions side of things which is not a part of this repository. It is being developed in another repository which is private.

I created a bug report on your behalf in the correct (private) repository so that the right team could take a look further.

Because the issue initially appears to be not related to the

[2021-11-03 20:29] #31065 closed, assigned to nobody

[2021-11-03 21:43] tammullen commented on #31064
Hi @angelitodiaz1

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end and I was able to export products

![Screenshot 2021-11-03 at 21 24 07](https://user-images.githubusercontent.com/24649833/140195090-d3ceadb0-772f-471c-91b3-40aa8c8825d8.png)

![Screenshot 2021-11-03 at 21 24 42](https://user-images.githubus

[2021-11-03 22:28] seb86 commented on #31065
@tammullen Thank you for getting back to me. I look forward to any updates.

[2021-11-04 00:17] amalg commented on #31068
In response to the "**Actual behavior**" section where @senff states "_I believe it should not be possible to add products with a negative quantity to begin with._", my thought here is that you should consider woocommerce as the central component of a rich and diverse ecosystem of integrations with various 3rd party for things like ERP, accounting, and inventory control. We currently use this nega

[2021-11-04 00:35] #27670 closed

[2021-11-04 00:35] #27854 closed

[2021-11-04 00:35] #28174 closed

[2021-11-04 00:35] #28178 closed

[2021-11-04 00:43] angelitodiaz1 commented on #31064
Thanks so much.  Hosting support validated and now working.

[2021-11-04 01:05] moon0326 commented on #32224
Thank you @raj007champ for taking the time to report this issue. I was able to reproduce it on my end. We'll work on it as soon as possible.

[2021-11-04 01:47] moon0326 commented on #31399
Thank you @joashrajin for taking the time to test and report this issue. I was able to reproduce it on my end as well. We'll work on it as soon as possible.

[2021-11-04 06:20] shishurajpandey opened #32223 "[Setup Wizard]- Free features options present on Business Details page are getting selected automatically even though user has not selected them during the setup."
### Describe the bug
[Setup Wizard]- When the User is navigated to the WooCommerce Setup Wizard flow and is on the `Free features` section of the `Business details` page, then if the user unselects them and move to the next step which is for choosing the theme now if the user moves back to `Business Details` page and check for `free features` sections then all the options are shown as selected eve

[2021-11-04 06:49] shishurajpandey opened #32222 "[Setup Wizard]- Selected items on Product Page is getting unselected on doing browser refresh(f5)"
### Describe the bug
When a user moves back to the `Product page` of Setup Wizard flow from `Business details page` and make some changes on the page and saves it, Now if the user moves back to `Product page` again and do the browser refresh then the selected items are getting unselected.

### To Reproduce

1. Install WooCommerce plugin
2. Activate the WooCommerce plugin and wait for the WooCommer

[2021-11-04 07:36] ju1ius commented on #42661
Hi @nerrad,

FYI, the `woocommerce/featured-category` block also suffers from the same problem.

[2021-11-04 08:05] ilyasfoo commented on #31067
I had a case that may have been related to this issue in 4380758-zd-woothemes.

### Symptom
The problem was, some non-managed variation products has their stock status listed as "Out of stock" when all their variations were actually in stock. When we tried to use bulk edit from the products listing page to set the stock status to "In stock", the edit was successful **but the stock status did not c

[2021-11-04 08:05] shishurajpandey opened #32221 "[Setup Wizard]- Business Details page has spacing issues for how many products and current annual revenue options."
### Describe the bug
When a user moves back to the Store profile page of Setup Wizard flow from Buisness details page and again move back to Business Details page by clicking on continue then following options has spacing issues-
1.  `How many products do you plan to display?` -->
`- 1000 is showing as 1 000 `
`- 1000+ is showing as 1 000+`
2.  `What's your current annual revenue?` ---->
-` Up to

[2021-11-04 08:07] hassanyousufx commented on #26289
Did anyone solve this issue?

[2021-11-04 08:10] madeincosmos commented on #30896
Thanks for letting us know. We're checking with our team now what's the best way to make plugin source code accessible to everyone who bought it and will keep you updated here.

[2021-11-04 08:26] hassanyousufx commented on #26289
I found a workaround. Maybe this will be helpful for someone. Simply check whether there are e-mails in the `$restricted_emails` array by counting its elements.

[code]

Furthermore, if needed to verify wildcard restrictions. Example `*@gmail.com`. It is possible to use a function of WC_Cart: `is_coupon_emails_allowed`:

[code]

[2021-11-04 09:46] Coernel82 commented on #27661
One step further because it already implements the SEPA-String and after a request the programmer included the qr-creation without google-api.
[https://github.com/fellwell5/bezahlcode](url)

[2021-11-04 12:56] aheckler commented on #26289
4428518-zen

[2021-11-04 13:48] rodelgc commented on #31040
Hi @tloughlin130,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. The "New Order" and "Cancelled Order" email notifications were generated correctly on my end in WC 5.8.0.

I tested it using the following setup:
- WC 5.4.3 that's later upgraded to WC 5.8.0 to match your WC version as stated in your system status report
- PHP 7
- Apache Server
- MySQ

[2021-11-04 14:09] simkoG opened #31086 "Percent-encoding characters in Tabs' class name"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If you create a custom attribute on the product page with non-latin name the generated HTML markup will contain the classname in percent-encodin

[2021-11-04 16:38] jeffstieler commented on #31051
Hello @Ash69911,

It's likely that your webhost has disabled the `rawurldecode` function using the [`disable_functions`](https://www.php.net/manual/en/ini.core.php#ini.disable-functions) configuration directive.

Please contact your webhost if applicable and inquire about disabled PHP functions. Both WordPress and WooCommerce rely on `rawurldecode` being enabled.

[2021-11-04 16:38] #31051 closed, assigned to nobody

[2021-11-04 16:44] #30736 closed, assigned to louwie17

[2021-11-04 17:03] jeffstieler commented on #31025
Hello @amine-amirech,

I'm not completely understanding the issue you're having, but your mention of a template file leads me to believe it's due to a customization you've made and not WooCommerce core. If I'm mistaken, please either edit your comment or create a new issue using the [New Bug Template](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=&template=4-Bug-report.md

[2021-11-04 22:26] moon0326 commented on #32223
Thank you @raj007champ for taking the time to test and report this issue. I was able to reproduce it locally.

I think this is also related to https://github.com/woocommerce/woocommerce-admin/issues/7890 issue. Basically, user updated values are not saved. We'll work on it as soon as possible.

[2021-11-04 22:30] moon0326 commented on #32222
Thank you @raj007champ. I think this is also related to woocommerce/woocommerce#32223 and https://github.com/woocommerce/woocommerce-admin/issues/7890.

We'll take a loo at them together.

[2021-11-04 23:06] moon0326 commented on #32221
Thank you @raj007champ for taking the time to report this issue. I was able to reproduce it on my end.

We have space between numbers.

![Screen Shot 2021-11-04 at 4 04 52 PM](https://user-images.githubusercontent.com/4723145/140432296-2bef64f4-d028-4bb1-9a4d-a88780cd8c64.jpg)

[2021-11-05 00:35] #27622 closed

[2021-11-05 00:35] #28247 closed

[2021-11-05 00:35] #28511 closed

[2021-11-05 05:36] VasekS commented on #42661
Hi @nerrad, if possible I would like to take a look into this, so please assign to me :)

[2021-11-05 08:05] alisamie97 commented on #26203
im having the issue. i copied all your code. but i think its a database problem. am i right?

[2021-11-05 09:32] peterfabian commented on #30922
I think that's fine as a refund is always tied to an actual order that has a customer. A refund isn't really an order, it's just a mechanism to capture refunds. As such, it should be fairly trivial to add the method to the refund, I suppose?

[2021-11-05 09:41] peterfabian commented on #20805
Thanks for reaching out @tomjn. Apologies, I wasn't aware of the rules. Edited the response.

[2021-11-05 10:35] Tofandel commented on #28752
Issue still present in 5.9.0 on a clean woocommerce install, if it was reproduced already 10 months ago and priority is high this should be addressed ASAP

[2021-11-05 11:51] nerrad commented on #42661
That'd be great @VasekS ! We typically don't assign issues to folks outside our core team but there's no one currently working on this so definitely give it a go. One thing that can help if you're concerned about other folks picking up an issue and duplicating work is to push a _draft_ PR linked to the issue even if it's not completed yet. That way there will be some indication that someone has so

[2021-11-05 13:25] AHugie commented on #30915
Just a thought - perhaps the ORDER BY can be adjusted to do something more like below.

Starting at line 1686 in `class-wc-product-data-store-cpt.php` you could add:

`		$orderby = $wpdb->prepare("
			ORDER BY case
				WHEN wc_product_meta_lookup.sku LIKE %s THEN 1
				WHEN posts.post_title LIKE %s THEN 2
				ELSE 3 END
		", $term . '%', '%' . $term . '%' );
`

Then in the query directly below rep

[2021-11-05 15:21] szepeviktor opened #31093 "Disabling Telemetry"
Hello! I have sad news. Unused features get disabled in my WC installations.

Is it the proper way to use `woocommerce_rest_api_get_rest_namespaces` filter to disable Telemetry?

[2021-11-05 16:40] linesbytim commented on #11179
I've got a similar problem on both my cart and checkout page.
![Attributes on cart page](https://user-images.githubusercontent.com/93785924/140545636-59778482-03a4-44b8-a339-508dc7cc4985.png)

Items with three attributes list the attributes and also with their title whilst the ones with two are inline and do not bear the title. Is their any way I can get them all like the ones for two attributes?

[2021-11-05 16:50] shiki commented on #28507
An alternative suggested that can be used by the apps:

1. Get list of all possible order statuses using the schema endpoint – GET wc/v3. The status schema defination uses wc_get_order_statuses behind the scenes which should include registered 3PD custom order statuses as well.
2. Use the list obtained above and pass it in status param for orders endpoint.

p91TBi-3Ow-p2#comment-6975

[2021-11-05 19:02] jeffstieler commented on #30981
I've encountered what I believe to be a potential issue with maintaining backwards compatibility when reintroducing these changes.

Swapping to `wc_get_orders()` from `WP_Query` (internally to `WC_REST_CRUD_Controller`) will break queries for stores using the [`woocommerce_rest_orders_prepare_object_query`](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/pl

[2021-11-05 19:22] EngHell opened #31096 "WC_Checkout::get_posted_data() returns an array of default values and empty strings when called inside an AJAX call, since most of the data it uses is inside post_data field."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the `bug**`
When doing `jQuery('body').trigger('update_checkout')` the checkout data is sent through AJAX this put the field `ship_to_different_address` a

[2021-11-05 19:43] tammullen commented on #31064
Thanks for letting us know! Glad it is working now! Closing this issue as no further action needed

[2021-11-05 19:43] #31064 closed, assigned to nobody

[2021-11-05 19:46] EngHell commented on #31096
This is the fastest workaround I could've thought of
[code]
Although it's a really hacky option to follow, and would be better placed inside calculate_shipping

[2021-11-05 20:35] tammullen commented on #30567
Thank you @Garance91540 for reporting the issue! However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/26770 We are closing your issue in favor of the previously submitted.

[2021-11-05 20:35] #30567 closed, assigned to nobody

[2021-11-05 20:36] tammullen commented on #31054
Thank you @elizaan36 for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/26770. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-11-05 20:36] #31054 closed, assigned to nobody

[2021-11-05 20:39] tammullen commented on #26770
Removing `priority: low ` due to the number of reports.

An updated priority of this issue will be assigned shortly after we'd go through a round of prioritization. Please note it may take a couple of days.

[2021-11-05 21:12] tammullen commented on #31058
Hi @erikdemarco ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Set shop to use grams
![Screenshot 2021-11-05 at 20 42 54](https://user-images.githubusercontent.com/24649833/140578551-9ee2cdb4-47e4-4b08-bcdb-33588c37a0b7.png)

Used CSV with value of `1,800`
![Screenshot 2021-11-05 at 20 45 27](https://user-images.githubusercontent

[2021-11-05 21:32] tammullen commented on #31068
Hi @senff

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

If I edit the product quantity in an existing order and press update I get a warning
![Screenshot 2021-11-05 at 21 25 48](https://user-images.githubusercontent.com/24649833/140580772-2e121a40-d453-4c6d-a827-d98cdec5fcb7.png)

If I edit the product quantity in an existing orde

[2021-11-05 21:40] tammullen commented on #31093
Hi @szepeviktor ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help f

[2021-11-05 21:40] #31093 closed, assigned to nobody

[2021-11-05 21:48] tammullen commented on #31069
Hi @s-a-s-k-i-a

In order to do this you need to include all the variation attributes.
For example `?attribute_pa_color=green&attribute_pa_size=small`

There is an existing issue to discuss this reported previously here https://github.com/woocommerce/woocommerce/issues/29033. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-11-05 21:48] #31069 closed, assigned to nobody

[2021-11-05 21:55] tammullen commented on #31086
Hi @simkoG ,

Thank you for taking the time to report this issue, we really appreciate your help. I can reproduce it on my end.

I added the attribute
![Screenshot 2021-11-05 at 21 53 15](https://user-images.githubusercontent.com/24649833/140582885-61c04b96-cfd9-4259-805c-495a73295e13.png)

I can see class name
![Screenshot 2021-11-05 at 21 54 01](https://user-images.githubusercontent.com/24649833

[2021-11-05 21:57] tammullen commented on #31096
Hi @EngHell ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-05 22:08] tammullen commented on #31053
Hi @tomaptx

To us evaluate this issue can you confirm which WC API endpoint are you using (including the version e.g. /wp-json/wc/v3/products) as well as an example request you used to create the product?

Can you also do the same for WP API.

[2021-11-05 23:32] szepeviktor commented on #31093
I agree Tim.
A yes or no aswer would make me happy.

[2021-11-06 04:54] VasekS commented on #42661
Hi @nerrad, thank you for giving me the chance to take a look into this even when you usually involve core team! I will submit my draft PR asap so everyone can know this one is in progress

[2021-11-06 11:19] CodeArtisanRiz commented on #17825
I am having the same issue too, but only for those variable products whoose price is same in all variations

[2021-11-06 19:38] elizaan36 commented on #26770
Thanks for letting me know this issue already exists @tammullen! I did a search but didn't go back this far into last year.
Some thoughts on the priority of this issue from a UX perspective - Mobile web users are around 10% of our user base and growing, and this is a bug that could cause people quite a bit of confusion. When you click on one product row, a different one expands. This could lead to

[2021-11-06 21:38] stephenfeather commented on #29727
I'm suffering from this problem as well.
I do not have a + in my path.
I even exported a single product category w/ just SKU and STOCK and tried to reimport the same file without touching it and it failed.

[2021-11-07 00:35] #28573 closed

[2021-11-07 00:35] #28597 closed

[2021-11-07 00:35] #28611 closed

[2021-11-07 23:08] brucealdridge commented on #31065
Hey @seb86

I've had a look into this issue and am unable to reproduce this issue on a fresh install.

This was the code I used to test.

[code]

I have confirmed that the signup fee does not get added in this instance and have added an issue to investigate this.

If you can supply more information on how to replicate this issue rather than replying to this issue, can you please create a support t

[2021-11-08 00:24] seb86 commented on #31065
@brucealdridge Hey. Thank you for getting back to me. I clearly missed adding a step for you to get the same results as the screenshots provided but as you found out that the sign up fee is not being applied at all.

My tests were done in Postman so if you did the same and use this example order request as raw JSON for the body you will get the same results as shown above.

[code]

Notice the subt

[2021-11-08 00:35] #30904 closed, assigned to nobody

[2021-11-08 00:35] #30905 closed, assigned to nobody

[2021-11-08 00:35] #30914 closed, assigned to nobody

[2021-11-08 00:35] #30923 closed, assigned to nobody

[2021-11-08 00:35] #30940 closed, assigned to nobody

[2021-11-08 01:19] brucealdridge commented on #31065
@seb86 It looks like that `"subtotal"` line is causing the issue. I can replicate the issue when this is added however this is not a documented feature.
I would recommend opening a ticket via the link I gave you above to talk to one of our Happiness engineers about the best solution for you. This may include either using the [fee_lines object](https://woocommerce.github.io/woocommerce-rest-api-doc

[2021-11-08 01:30] JakeQZ opened #31097 "`woocommerce_product_loop_end` does not clear loop properties"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Loop properties from previous iterations of the product loop persist, but should not.

The product loop may run several times during page marku

[2021-11-08 01:36] seb86 commented on #31065
@brucealdridge The are two issues here. The first that the sign up fee is not being added as you found out and the second that if you were to manually set the subtotal of the item, it does not calculate the totals correctly and thinks that the sign up fee is used to discount the item without a coupon as shown in the third screenshot.

I'm well aware that is it not documented and it should not be.

[2021-11-08 01:49] JakeQZ commented on #31097
Relevant code is at https://github.com/woocommerce/woocommerce/blob/5.9.0/includes/wc-template-functions.php#L1110-#L1158

[2021-11-08 08:32] Konamiman commented on #27419
Hi @choijun and everyone, I'm unable to reproduce this with the provided testing instructions on a brand new shop with WooCommerce 5.8, see screenshots below.

This is not to say that the problem doesn't exist, but clearly I'm missing something in my testing context. It would be great if someone could provide me with either a product export or admin credentials for a testing site where the issue m

[2021-11-08 08:37] GrzegorzNecka opened #31098 "shipping-calculator-form block scroll"
Hi everyone

I use:
-  wooocmmerce 5.8.0
-  wordress 5.8.1
- own theme with turn off support to woocommerce styles

I have a problem with the implementation of the shipping country selection mechanism. After switching the country. skroll is blocked. I don't know why. I deleted all plugins (with simplebar.js) and bug is exist still.

I will be grateful for any hint

![image](https://user-images.git

[2021-11-08 09:23] peterfabian commented on #29727
Thanks for reporting, @stephenfeather . Would you be willing to share your file name/path when you are importing it? Or perhaps even better, share the file itself? Thanks!

[2021-11-08 09:26] peterfabian commented on #30981
cc @vedanshujain for potential comments.

[2021-11-08 09:35] menno-ll commented on #30968
Hi all, sorry for the late reply.
I've done a complete clean WordPress install, installed WooCommerce and Storefront.
And then followed my described steps.

I can confirm now that it's a bug within our theme, or one of our plugins.
I suspect it was in our theme, as I had tried before to disable most plugins in the original website that had the bug.

I've fixed the issue in our theme by changing th

[2021-11-08 09:35] #30968 closed, assigned to nobody

[2021-11-08 10:11] gigitux opened #31099 "Make on sale prices accessibile"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
WooCommerce renders sale products with the old price wrapped by

[2021-11-08 10:20] AashikP commented on #28589
Hello @lanec

Sorry to hear about the trouble you've had with API, but this is not something we can replicate.

Here's how it works in version 4.7 on my test site:

![https://d.pr/i/4jzAaQ+](https://d.pr/i/4jzAaQ+)

After updating to the latest version, the order still displays as expected:

Previous order:

![https://d.pr/i/Oyfb9e+](https://d.pr/i/Oyfb9e+)

New order placed after updating:

![htt

[2021-11-08 10:20] #28589 closed

[2021-11-08 13:17] pickonedev commented on #21148
I agree....

For me, it is working good with the script from @mburakkalkan, but only in wordpress platform.
I use an accounting plugin which exports the invoices to another platform and there is not a good result. It is adding a tax to the discount... it is adding 5% tax (which is the product's tax)

[2021-11-08 13:29] nathanrona commented on #26951
I'm also having issue with fees added with  $wc->cart->add_fee() not beeing added to order.

I use this code to add fee to order in checkout-page based on number of payments (custom select field added to billing fields)
[code]
It add the fee to the order details in checkout-page, however when making order it disapear.

Found a work-around in adding the fee again with woocommerce_checkout_create_or

[2021-11-08 13:36] mfru opened #31101 "Document wc_get_products default 10 objects fetch"
**Is your feature request related to a problem? Please describe.**
I spent quite some time debugging because it was not clear to me that `wc_get_products` only returns 10 objects if you do not specify a limit.

I expected the query to return all products per default or have the default limit documented in https://woocommerce.github.io/code-reference/files/woocommerce-includes-wc-product-functions.

[2021-11-08 15:20] mattsherman commented on #32242
This is still relevant.

[2021-11-08 16:59] rrennick commented on #30581
Noting here that this issue stopped occurring when testing https://github.com/woocommerce/woocommerce/pull/31103 . The smaller viewport does seem like a good potential reason for these tests to fail in some scenarios.

[2021-11-08 18:48] #30137 closed

[2021-11-08 19:47] maxisosa opened #31106 "REST API /wp-json/wc/v3/products/ does not return all products. Yes /wp-json/wc/v2/products/"
Ej v3: /wp-json/wc/v3/products/?sku=12345679

Result: []

Ej v2: /wp-json/wc/v2/products/?sku=12345679
Result: [
    {
        "id": 889,
        "name": "Lorem",
        "slug": "lorem",
        "permalink": "https://*******/products/category/lorem/",
        "date_created": "2021-06-07T11:20:05",
        "date_created_gmt": "2021-06-07T14:20:05",
        "date_modified": "2021-11-08T16:11:54",

[2021-11-08 21:42] joelclimbsthings commented on #32258
@joshuatf @mattsherman

Pedro [has expressed interest](https://github.com/woocommerce/woocommerce-admin/issues/7836#issuecomment-961195546) in getting these PRs moving/merged. As mentioned on my last comment, I'm just wondering if these PRs are considered out of our hands? If not, is this as simple as reaching out to responsible parties and/or merging ourselves if possible?

[2021-11-09 06:13] noknokcody opened #31107 "Javascript 'address-i18n.js' does not support checkboxes added by custom plugins."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-11-09 06:56] jenthakkar commented on #27686
We are waiting for this issue to resolve, as we are working with coupons functionality and this gives us many problems, we actually hassle with this issue, can you guys help me with this?

[2021-11-09 12:06] Konamiman opened #31110 "Performance of the new filtering by attribute mechanism needs improvement"
[The new filtering by attributes mechanism](https://developer.woocommerce.com/2021/08/12/brace-yourselves-new-product-filtering-by-attributes-is-coming/) is [reportedly](https://github.com/woocommerce/woocommerce/pull/29896#issuecomment-904016425) quite slow. We need to do some performance measurements and take corrective action as needed.

For reference, here are the pull requests that implement

[2021-11-09 12:12] vedanshujain commented on #31016
Hi @mredodos we currently do not support searching by meta intentionally because it causes performance issues (since it would need complex joins). That said, if really needed, the filter that you are using is correct and should work well.

[2021-11-09 12:23] vedanshujain commented on #31014
Based on this [Stack Overflow answer](https://stackoverflow.com/questions/40988564/jquery-fadein-fadeout-cause-drastic-performance-hit), the performance hit might be coming from `fadeTo` method. @wayheming , would you be open to sending us a PR to use CSS instead of jQuery here, (or maybe to reduce/remove the fadeTo animation as long as it does not looks bad).

[2021-11-09 12:27] barryhughes commented on #30102
Noticed another facet to this issue, which will likely impact other settings screens where we insert a WP_List_Table (similar to what we have on the Webhooks page):

<img width="890" alt="wplisttable-search-wcsettings-beforeunload" src="https://user-images.githubusercontent.com/3594411/140923002-6f04d628-ecc4-41f2-ac7b-4b4760fc34ad.png">

- Visit **WooCommerce → Settings → Advanced → Webhooks**
-

[2021-11-09 12:28] vedanshujain commented on #31011
Hi @clukas1 , thanks for the detailed report. Looks like this issue is same as https://github.com/woocommerce/woocommerce/issues/30618. I will close this issue in favor of #30618 for repository maintenance, but this is one of higher priority issue that we will be working on soon.

[2021-11-09 12:28] #31011 closed, assigned to nobody

[2021-11-09 12:33] vedanshujain commented on #30998
Thanks for the report, unfortunately, at this time we won't be able to add this feature since it's not requested much. If you really need this feature I would also recommend to look at [customizing WooCommerce](https://woocommerce.com/document/customizing-woocommerce-best-practices/) for your use case.

[2021-11-09 12:33] #30998 closed, assigned to nobody

[2021-11-09 12:37] vedanshujain commented on #30995
Hi @Tofandel , thanks for the report and suggestions. We would definitely want to improve this, since you already have a suggestion, would you like to send us a PR so that we can take a detailed look?

[2021-11-09 12:43] katsar0v commented on #21649
`set_price()` still does not work for me inside `woocommerce_before_calculate_totals` ... please re-open the issue

[2021-11-09 13:05] vedanshujain commented on #30006
Just to confirm, do you think we should have a filter [right above line 149](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-cart-session.php#L149) like the [one we have for block above](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-cart-session.php#L142), although with a different name. This request makes se

[2021-11-09 13:10] wayheming commented on #31014
@vedanshujain

Thanks for the answer, I tested and found that the problem is not related to the `fadeTo` method, but the cause of the problem is in the call to the `block` method. https://prnt.sc/1yw0p3c
 As I understand it is a library method `jQuery BlockUI` that blocks content.
https://prnt.sc/1yw0cnp
Since the `updating` class is already being added to the content, I think that we can block th

[2021-11-09 13:17] katsar0v opened #31111 "set_price() method not working inside woocommerce_before_calculate_totals hook"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-11-09 14:11] peterfabian commented on #27631
Until someone can reproduce this, we will have a hard time fixing it. Also, REST API is now included with WC, so it shouldn't depend on a plugin, so the original report is probably stale by now.
Closing until then. If you manage to reproduce, please feel free to comment here and we'll reopen (or create a new issue).

[2021-11-09 14:11] #27631 closed

[2021-11-09 15:52] #31111 closed, assigned to nobody

[2021-11-09 15:53] katsar0v commented on #31111
It was my mistake as the hook was not called directly in functions.php

[2021-11-09 16:54] kkmuffme opened #31112 "Remove unnecessary is_ajax, since there is a WP native method"
since WP 4.7.0 there is native `wp_doing_ajax` function which we use in WooCommerce's `is_ajax` already.
This override is unnecessary and we should directly use the WP native function.

[2021-11-09 18:26] lenamtl commented on #30998
Hi,

Does the Final subtotal exists into the code and just not displayed or this value just not exist?

[2021-11-09 19:26] mredodos commented on #31016
The snippet I have written is practically the same as your code, is  just edited to search the meta...why you need complex join ?

[2021-11-09 19:27] alisamie97 opened #31115 "get_woocommerce_currency_symbol() is undefined AFTER update from 5.8 to 5.9"
Just did auto update to 5.9 and got stuck in admin panel error
Set WP_DEBUG to true
Got this error: get_woocommerce_currency_symbol() is undefined
changed to get_woocommerce_currency() and worked
changed to get_option('woocommerce_currency') and workd
changed back to get_woocommerce_currency_symbol() and no errors
it was wierd
NO PROBLEMS NOW

[2021-11-09 20:46] #30655 closed, assigned to rrennick

[2021-11-09 23:17] ObliviousHarmony opened #31116 "Update Monorepo Documentation"
Once both #31066 and #31072 have been merged, the primary infrastructure for managing and interacting with the Monorepo will be in place. This requires us to update documentation across the repository, as well as the wiki, in order to make it clear how to use the new features. We also have a number of references to old file locations that should be cleaned up.

- [x] [E2E Testing Readme](https://g

[2021-11-09 23:44] ObliviousHarmony commented on #29997
This was added in #30892 and is now available in the repo!

[2021-11-09 23:44] #29997 closed

[2021-11-09 23:47] ObliviousHarmony commented on #27494
This was made part of https://github.com/woocommerce/woocommerce/issues/31116

[2021-11-09 23:47] #27494 closed

[2021-11-09 23:50] #30375 closed

[2021-11-09 23:52] TheRadicalDreamer commented on #30375
@barryhughes now that is closed will go to production?

[2021-11-10 00:22] barryhughes commented on #30375
Hi @avagp — yes: issues are automatically closed when the corresponding PR is merged and they will then be picked up for either the next release, or the _next_ next release (depending on where we are in the release cycle).

In this case, I'd expect the change to land in 6.0.

[2021-11-10 02:02] becdetat commented on #32242
@mattsherman Should it have been included in Cycle 19's scope or can it be left unprioritised?

[2021-11-10 02:05] TheRadicalDreamer commented on #30375
So, @barryhughes i would like to "reopen it".

@masteradhoc i have the states for every latin american country.

I don't have their checkout structure, but at least you can give us a lot more than Woo already has!

Please see links:

Bolivia uses [Departamento](https://es.wikipedia.org/wiki/Departamentos_de_Bolivia)
Colombia uses [Departamento](https://es.wikipedia.org/wiki/Departamentos_de_Colomb

[2021-11-10 02:06] becdetat commented on #32234
@mattsherman Is Mothra still looking at this?

[2021-11-10 04:26] #31072 closed, assigned to roykho

[2021-11-10 05:33] masteradhoc commented on #30375
@avagp i'll check this within a seperate PR and let you know :)

[2021-11-10 07:28] jorgedevillalba commented on #30618
Ok Peterfabian. We´ll wait for it although I think that it should have been the first thing you should have done since the issue appeared because this is an issue and not an improvement.
Thanks

[2021-11-10 09:09] peterfabian commented on #27686
Hi, I believe @vedanshujain is already working on it. It will probably be fixed in the next release (6.0).

[2021-11-10 09:28] jankarres opened #31118 "GDPR compliance for default customer location by geolocation"
### Technical feature
In WooCommerce Core, you can go to _WooCommerce > Settings > Integration > MaxMind Geolocation_ and enter a license key for the MaxMind Geolocation Database to download it. Then you can set the option to _Geolocate_ or _Geolocate (with page caching support)_ under _WooCommerce > Settings > General > Default customer location_. This will run https://github.com/woocommerce/wooc

[2021-11-10 09:45] SirDarcanos commented on #30781
I am experiencing the same issue. I run WooCommerce 5.9.0 and I confirm that the DB version in the SSR is 5.9.0 as well. The Database Updated notification keeps reappearing even after clicking on "Thanks".

[2021-11-10 09:54] thesfboy commented on #30781
Just wait for the new update to come. It will go away.

On Wed, Nov 10, 2021 at 3:15 PM Nicola Mustone ***@***.***>
wrote:

[2021-11-10 10:15] simonjerermygill opened #31119 "WP Theme Provider - noticed an issue with "woocommerce-accepted-payment-methods" and "woosidebars" with PHP 8.0"
**Prerequisites (mark completed items with an [x]):**
- [ x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Our Hosting Provider in South African - Xneelo (Hetzer SA) is

[2021-11-10 11:17] pmcpinto commented on #32258
Hey @laurendavissmith we need help on the Transact side to review/merge a couple of PRs and publish a new version of some extensions owned by Transact: Wcpay, Stripe, PayPal and Square

To summarize, this work will allow us to render the API Keys inputs as a step in the payments task after the user installs the extension:

![138977503-7b87b633-47d8-4d16-b921-9e858fa4f0ac](https://user-images.githu

[2021-11-10 13:55] TheRadicalDreamer commented on #30375
Please share with me that new issue so i can help you if you need anything

[2021-11-10 15:33] stuartduff opened #31727 "When requesting to download a Revenue Report for the Last Month no report is emailed"
### Describe the bug

Ticket: 4438598-zen

When requesting to download a Revenue Report for the Last Month no report is emailed when not a size to be immediately downloaded.

![last-month-revenue-report](https://user-images.githubusercontent.com/1190565/141140478-5b53849e-5c92-44d2-bbd9-a03a0b9443e8.png)

Other reports like Year to date etc are all emailed when requested and too large to initiate

[2021-11-10 15:33] stuartduff opened #32220 "When requesting to download a Revenue Report for the Last Month no report is emailed"
### Describe the bug

Ticket: 4438598-zen

When requesting to download a Revenue Report for the Last Month no report is emailed when not a size to be immediately downloaded.

![last-month-revenue-report](https://user-images.githubusercontent.com/1190565/141140478-5b53849e-5c92-44d2-bbd9-a03a0b9443e8.png)

Other reports like Year to date etc are all emailed when requested and too large to initiate

[2021-11-10 15:44] jrick1229 opened #31123 "'WooCommerce Payments' marketplace suggestion overrides the top payment method"
### Prerequisites (mark completed items with an [x]):
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When **Marketplace Suggestions > 'Display suggestions within WooCommerce'** is enabled AND the 'WooCommerce Payments' suggestion is displayed:

[2021-11-10 15:46] ADIAProject opened #31124 "Error after update to 5.9"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-11-10 17:49] #30867 closed, assigned to rrennick

[2021-11-10 17:55] tomaptx commented on #31053
@tammullen The endpoints are:
[code]

The WP API endpoint to work around this is:
`POST /wp/v2/media`

I am busy working around this issue in a better way, but will get you example request in a few days.

[2021-11-10 18:08] AkihitoNarihisago commented on #11967
still not firing

[2021-11-10 18:29] lootlydeals opened #31128 "Shortcode Box Size Issue"
Recently I'm adding shortcode using woo commerce custom code areas. but when I'm adding that code the custom shortcode box length is small that's code excuted in next line which make that shortcode useless.

see image for much clear understand.  please fix this issue as soon as possible
![image](https://user-images.githubusercontent.com/93158587/141172105-a0d8aecf-3014-4553-a343-771ccc93909e.png)

[2021-11-10 19:41] barryhughes commented on #30375
Any further PRs to improve things are definitely welcome. Please remember though it's generally best to keep proposed changes small and atomic: the reviewer needs to cross-check things, and so very large changesets are going to be slower to process.

[2021-11-10 20:21] ObliviousHarmony commented on #29465
There's a potential solution [linked to this issue](https://github.com/titantwentyone/woocommerce/pull/1/files) that may be worth looking at implementing. Ideologically, exceptions should probably only be used in exceptional cases, while the case presented here is a common occurrence for many classes that would be instantiated by the container. It should be fine to check `method_exists()` before u

[2021-11-10 20:23] ObliviousHarmony commented on #30852
This feels like a reasonable change @peterfabian.

[2021-11-10 20:24] #29381 closed

[2021-11-10 20:48] TheRadicalDreamer commented on #30375
Please tell me, if you like i can create issues for every country.

Please tell me

[2021-11-10 20:58] #29178 closed

[2021-11-10 21:02] barryhughes commented on #30375
It depends :-)

If the changes are straightforward and you are comfortable creating pull requests then you don't necessarily need to create an issue first of all.

On the other hand, if you prefer the team or other contributors create the pull requests then issues are a great way to highlight specific problems or make feature requests that others can then find.

[2021-11-10 22:04] #31062 closed, assigned to psealock

[2021-11-10 22:05] laurendavissmith commented on #32258
@pmcpinto @joshuatf  We'll get it taken care of, can they be released as soon as they are merged, or does it need to wait to coincide with the wc-admin release?

[2021-11-10 23:01] joelclimbsthings commented on #32258
Thanks @laurendavissmith ! The relevant changes in wc-admin were already released, so no need to delay.

Looking again at he PRs listed above, it seems Stripe and Paypal are a bit out of date. I'll look into getting those updated. The PRs for WCPay and Square should still be good to go 👍🏻 . Let me know what else we can do to help get those merged as well.

[2021-11-10 23:12] ObliviousHarmony opened #31131 "Use Nx in GitHub Actions"
When we initially restructured the repository, we had to [update our GitHub Actions to be able to execute against the new project paths](https://github.com/woocommerce/woocommerce/pull/30902). This basically meant adding a bunch of directory change workarounds to keep the execution context the same, since we didn't have any centralized monorepo infrastructure. Now that we've [introduced Nx to the

[2021-11-10 23:20] ObliviousHarmony opened #31132 "Isolate Legacy Asset Builds"
[With Nx now in place](https://github.com/woocommerce/woocommerce/issues/31131), we should most of the `grunt` tasks that contribute to the length of time it takes to build the WooCommerce plugin locally. Since we can rely on Nx for incremental builds, a private package will enable us to only have to build these assets when they have actually changed.

- [ ] As per the accepted Monorepo structure,

[2021-11-10 23:27] ObliviousHarmony opened #31133 "Standardize Monorepo Configuration Files"
Since the goal is to have a number of different projects in this repository, we should centralize some of the infrastructure configurations to reduce the maintenance overhead. A lot of these tools support hierarchical configuration, so we should only have the minimum in each project necessary to facilitate its specific use-cases. In many cases, we can probably remove some of those distinctions too

[2021-11-10 23:34] ObliviousHarmony opened #31134 "Clean Up E2E Infrastructure"
While working on creating this monorepo, we've discovered some idiosyncrasies with our E2E testing infrastructure when used in GitHub Actions. One notable thing that seemed strange was the difference between the text execution context and the plugin used in the E2E environment itself. The way we're building the plugin has led to some interesting workarounds, and it feels like we could get away wit

[2021-11-10 23:37] ObliviousHarmony opened #31135 "Changelogger Automation"
Adopt [the Jetpack Changelogger ](https://packagist.org/packages/automattic/jetpack-changelogger).

- [x] Add Jetpack Changelogger to all projects https://github.com/woocommerce/woocommerce/pull/31136
- [x] Add Jetpack Changelogger NX scripts https://github.com/woocommerce/woocommerce/pull/31166
- [x] Add Validation to check for changelogger entry in Github Action
- [x] Append PR number to changel

[2021-11-10 23:52] haszari commented on #32258
@pmcpinto Clarifying this further - when do we need to release these extensions by, is it urgent? We just released Square this week, happy to do another release soon if needed (nothing scheduled right now).

[2021-11-11 02:10] psealock commented on #31132
Prior art https://github.com/woocommerce/woocommerce-monorepo/pull/13

[2021-11-11 02:28] psealock commented on #31061
I'd like to note the `trunk` branch of [action-build](https://github.com/woocommerce/action-build) Github Action has updated processes to handle the monorepo.

[build-release-zip-file](https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/build-release-zip-file.yml) still points to `@v2` and it may be useful to use `trunk` and eventually make another release or bring the code int

[2021-11-11 04:29] san-coding commented on #30308
Thank you @masteradhoc , I am looking into it , sorry for the delayed response

[2021-11-11 04:34] psealock commented on #31135
I re-worked the original comment to include several steps before we can get to automation. The result is more of an epic than issue.

[2021-11-11 06:49] SadikurSadik opened #31137 "`get_percent_complete` method in `WC_CSV_Batch_Exporter` giving float value but expecting int value"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The `get_percent_complete` method in `WC_CSV_Batch_Exporter` giving `float` value but expecting `integer` value in `write_csv_data` method of sa

[2021-11-11 10:29] san-coding commented on #30308
@masteradhoc , are all the restAPI endpoints defined inside [rest-api](https://github.com/woocommerce/woocommerce/tree/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/rest-api) directory

[2021-11-11 10:34] peterfabian commented on #23083
Since #23100 became stale, I'm reopening this issue to have a look at this again.

[2021-11-11 10:36] peterfabian commented on #23083
Also, for further discussion, please see the comments in the linked PR. This resource is useful: https://www.sendcloud.co.uk/vat-shipping-costs/#rates

[2021-11-11 10:40] peterfabian opened #31139 "Research spike: performance of variation filtering"
As we've had [some reports](https://github.com/woocommerce/woocommerce/pull/29896#issuecomment-904016425) that the new variation filtering can become slow, this research spike should establish
- how slow it actually is
- potentially at what point it becomes slow
- identify performance problem(s)
- propose ways for optimization

[2021-11-11 10:52] peterfabian commented on #31139
Duplicate of #31110

[2021-11-11 10:52] #31139 closed, assigned to nobody

[2021-11-11 10:55] san-coding commented on #30308
is this where the [meta-data](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/tests/legacy/framework/traits/trait-wc-rest-api-complex-meta.php) is being defined

Edit : I can see that here it is defined what all meta data should be returned
https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/w

[2021-11-11 11:07] pmcpinto commented on #32258
This update will remove friction from the setup flow, but I'm not sure if doing another release is going to disrupt the current sprint of your team. I think it's ok to wait 2-3 weeks to do another release.

[2021-11-11 12:11] masteradhoc commented on #30308
Yep i would add ether the product price of the moment the order gets created AND / OR take @jonathansadowski idea with an additional _line_discount

[2021-11-11 12:57] smazur opened #31140 "Unexpected behavior of WC_Order::get_meta"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-11-11 13:07] SimonC2019 commented on #23083
@peterfabian thanks for reinvigorating this and moving it back here. Thanks to @mikejolley, @sjjhr and @scranwell too for the recent activity. I can confirm that nothing has changed since my comments in 2019 (#23100). I spoke directly with HMRC who confirmed that VAT on shipping should be apportioned across the items in the basket. We are currently having to (wrongly) charge VAT on shipping for th

[2021-11-11 13:09] Roslynlavery commented on #32258
@pmcpinto could you clarify what you mean by unblock here? What do we need from our partners to move this forward? Seems like an easy one to motivate, definitely an improved flow.

[2021-11-11 13:27] Josh-Millard opened #31142 "Deprecated: WC_Cart->tax_display_cart was called with an argument that is deprecated since version 4.4"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Deprecated: WC_Cart->tax_display_cart was called with an argume

[2021-11-11 13:31] san-coding commented on #30308
Alright I will look into how that can be done

[2021-11-11 14:02] rodelgc opened #31143 "API-T Follow-up task: Extend the expect() function to show the request and the response"
There are a few improvements that I suggested in pcr5Cj-1zj-p2#comment-1719 that would be nice to implement right after completing the automated tests for WC Core REST API critical flows.

One of which is: Extend the `expect` function to show the request and the response

[2021-11-11 14:58] kurehiri opened #31144 "All Products block"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Only **All Products** block item button string changes when adding a new item to cart.
Item button string is not translated when there are more

[2021-11-11 15:24] gglobalstep opened #31146 "PHP Error on Payment filter in Woocommerce > Extensions page"
# Bug Description:
For Twenty Twenty One theme, "PHP Error" triggered on changing "Browse Categories" to "Payment" in Woocommerce > Marketplace page.

# Environment:
Woocommerce Version : WooCommerce  5.9.0
WordPress version: v5.8.1

PC:
Windows 10
Chrome(Version 95.0.4638.69)
Firefox(Version 94.0.1)

# Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all r

[2021-11-11 17:23] ADIAProject commented on #31124
Reinstall WP and WC solved this problem.

[2021-11-11 18:36] Coernel82 commented on #27661
I know that this is basic programing skill however if someone tells me how to get the **IBAN** and **BIC** out of [this array](https://woocommerce.github.io/code-reference/files/woocommerce-includes-gateways-bacs-class-wc-gateway-bacs.html#source-view.307) beginning in Line 307 as **seperate variables** I can provide you with a working solution. It may not be the proper way but it will work.

[2021-11-11 19:42] tammullen commented on #31124
Thanks @ADIAProject for raising this and for the update.

Glad to hear a reinstall helped solve it. We have looked into this and couldn't reproduce the error.

It's likely the install process has somehow got corrupted. We haven't had any other reports of this with WC 5.9.0 so hopefully it was just a one off.

I'm going to close this issue for now as it seems to be resolved. Please feel free to com

[2021-11-11 19:42] #31124 closed, assigned to nobody

[2021-11-11 21:45] TheRadicalDreamer opened #31150 "States for Bolivia"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31151 "States for Colombia"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31152 "States for Costa Rica"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31153 "States for Republica Dominicana"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31154 "States for Guatemala"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31155 "States for Ecuador"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31156 "States for Argentina"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31157 "States for Honduras"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31158 "States for Mexico"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31159 "States for Nicaragua"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31160 "States for Panamá"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31161 "States for Paraguay"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31162 "States for Perú"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31163 "States for Salvador"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31164 "States for Uruguay"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:45] TheRadicalDreamer opened #31165 "States for Venezuela"
**Is your feature request related to a problem? Please describe.**
The out of the box experience of woocommerce for the bigger countries is waaay different from the ones in the development world.
We need on latinamerican countries to have a better out of the box experience. And the only i humbly help is giving by default states for shipping.

As i described on https://github.com/woocommerce/woocom

[2021-11-11 21:47] TheRadicalDreamer commented on #30375
I created an issue for each country @barryhughes @masteradhoc please help me to make this true :)

[2021-11-11 22:42] DavidAnderson684 commented on #31140
If `$o->get_meta('_shipping_phone');` returns an empty string, then that means no programmer out there can be using it, since it doesn't do anything. The proposal to add a capability to make it do something, and also announce that same capability to be deprecated at the same time, makes no sense.

[2021-11-12 00:30] fbaio-dev commented on #30618
The same issue here, whenever I refund a transaction the number of sales doesn't decrease! looking forward to seeing a fix for this issue.

[2021-11-12 03:02] alexmoz2016 commented on #29611
I don't know if this is a known solution or not, but if you increase the maximum variations with ajax (**woocommerce_ajax_variation_threshold**), the multiple variations "out of stock" will disappear.
Maybe better explained here: https://wpza.net/unavailable-variations-wont-hide-in-woocommerce/
For example, if you have a product with "Size", "Color", "Shape" variations, each having multiple option

[2021-11-12 03:02] alexmoz2016 commented on #25524
I don't know if this is a known solution or not, but if you increase the maximum variations with ajax (**woocommerce_ajax_variation_threshold**), the multiple variations "out of stock" will disappear.
Maybe better explained here: https://wpza.net/unavailable-variations-wont-hide-in-woocommerce/
For example, if you have a product with "Size", "Color", "Shape" variations, each having multiple option

[2021-11-12 08:09] smazur commented on #31140
@DavidAnderson684
The `_shipping_phone` is considered as internal meta key and when you call `$o->get_meta('_shipping_phone');` it should throw deprecated notice and call `get_shipping_phone` method. But it doesn't do that, because it searched for `get__shipping_phone` which not exists and here we have logic collision. That problem also appears for other internal meta fields.

Consider following l

[2021-11-12 08:11] smazur commented on #31140
Consider following line. What will happen if `$key` starts with underscore?
https://github.com/woocommerce/woocommerce/blob/fd3dfdbf3e05ce87138831d2f8eff3734eeb4572/plugins/woocommerce/includes/abstracts/abstract-wc-data.php#L308

[2021-11-12 10:04] pacmanito commented on #25524
@alexmoz2016 what you wrote is not related to the topic discussed here.

[2021-11-12 10:05] pacmanito commented on #29611
@alexmoz2016 what you wrote is not related to the topic discussed here.

[2021-11-12 10:42] masteradhoc commented on #31165
@avagp the states for Venezuela are already inside woocommce. Check: https://github.com/masteradhoc/woocommerce/blob/trunk/plugins/woocommerce/i18n/states.php#L1839

if they are fine please close the open issue again.

[2021-11-12 11:42] pmcpinto opened #32219 "WCPay menu item experiment: next steps"
**Description:** we want to expand the experiment implemented in [#686](https://github.com/Automattic/wc-calypso-bridge/issues/686) and [#744](https://github.com/automattic/wc-calypso-bridge/issues/744)
More info here: p1634651781002000-slack-C01LPBCV4J1/

**Acceptance criteria:**

- [ ] Reuse the same flow implemented in https://github.com/automattic/wc-calypso-bridge/issues/744
- [ ] exclude new

[2021-11-12 11:42] pmcpinto commented on #32219
cc @adrianduffell @becdetat

[2021-11-12 12:30] mikejolley commented on #42667
These were in the designs and the original idea was to support upstream in core, which hasn't happened.

[2021-11-12 16:30] TheRadicalDreamer commented on #31165
They are all there.

But one changed the name on 2019: 'Vargas' State

Here, take a look:
https://en.wikipedia.org/wiki/Vargas_(state)

Now it is called 'La Guaira' state

So that should be the only modification.

Thanks for pointing it out @masteradhoc

[2021-11-12 16:44] phreesoft opened #31170 "PHP Warning: include(): Filename cannot be empty wc-template-functions.php on line 53"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched

[2021-11-12 16:55] TheRadicalDreamer commented on #31165
And aldo, i don't get why they are related to a letter
![image](https://user-images.githubusercontent.com/11801254/141504794-0e6dae95-a36e-4f50-9c67-40e7b67427ba.png)

I will check with a venezuela's friend i have.

[2021-11-12 16:56] TheRadicalDreamer commented on #31158
@masteradhoc Mexico is ok.

[2021-11-12 16:56] #31158 closed, assigned to nobody

[2021-11-12 17:01] TheRadicalDreamer commented on #31162
Perú is ok.

Strangely there is a municipio in between all the departamentos, which, might be good for Peruvians.

Let's leave it as is.

But, the states are called Departamento, and on woo seems like it is just called states, could you check that @masteradhoc

[2021-11-12 17:01] #31162 closed, assigned to nobody

[2021-11-12 17:06] TheRadicalDreamer commented on #31161
Paraguay is also ok.

But states should be called Departamento.

There is also a city in between the departamentos, but that should be good for them

[2021-11-12 17:09] TheRadicalDreamer commented on #31156
Argentina is ok.

And there is also a city in between the provincias.

But that is ok for them i presume.

[2021-11-12 17:09] #31156 closed, assigned to nobody

[2021-11-12 17:10] TheRadicalDreamer commented on #31154
Guatemala is ok.

Just check if the name is Departamento and not state please :)

[2021-11-12 17:11] TheRadicalDreamer commented on #31153
Republica Dominicana is ok.

Just check that the name is Provincia and not State  :)

[2021-11-12 17:13] TheRadicalDreamer commented on #31150
Bolivia is ok.

Just check that the name is Departamento and not State please :)

[2021-11-12 18:11] Dekadinious opened #31171 "Support error codes 115 and 116 in is_coupon_valid()"
**Is your feature request related to a problem? Please describe.**
I am in the situation that a payment plugin puts orders in pending payment when they are processing the payment. If the payment fails, the orders are left there until cancelled by the core hold stock functionality.

The problem is that this holds coupons for the order. If we have coupons that can be used only once per customer, the

[2021-11-12 19:18] leighcrain commented on #29727
I'm also having this problem.  I've tried uploading csv and txt files from different machines, and modifying an export file and trying to import.  Here is one of the files I tried to import.  File path was `Macintosh HD/Users/leighcrain/Desktop/wc.csv`.
[wc.csv](https://github.com/woocommerce/woocommerce/files/7529871/wc.csv)

[2021-11-12 19:25] mattsherman commented on #32242
@becdetat It is okay to keep this unprioritized for now.

[2021-11-12 19:27] mattsherman commented on #32234
We will be looking into this as a part of the woocommerce/woocommerce-admin#7919 spike.

[2021-11-12 19:53] AtlantisNet-com commented on #32220
We are experiencing the exact same issue and can reproduce the screenshots above in our environment. We are running WordPress 5.8.2 and WooCommerce 5.9.0 on PHP 7.4.24.

[2021-11-12 21:45] csmcneill opened #31173 "Variable products with three or more attributes used for variations do not list the variation attributes in various places."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a variable product has three or more attributes, it does not appear as `[Product] - [Attribute 1], [Attribute 2], [Attribute 3]`. This lead

[2021-11-12 21:45] csmcneill commented on #31173
Found in 4442186-zen.

[2021-11-13 00:35] #28686 closed

[2021-11-13 01:04] mholubowski commented on #22133
Yo what's up, I landed here with this problem and then eventually figured it out for myself. Maybe this will help someone.

I'm not claiming this is what's happening to the others in this thread...it's what happened on my end.

Make sure the "Allowed Emails" field is blank within the Coupon settings:

![image](https://user-images.githubusercontent.com/2035619/141599767-fca0b321-784a-418e-90c3-accd

[2021-11-13 06:18] ServitelLTD opened #31174 "Order weight not show on REST API"
The weight is set on items. If I retrieve and item by id the weight is displayed.

I create a new order then I retrieve order details with rest api. The item weight and the total order weight aren't displayed

Any idea ?

[2021-11-13 11:47] masteradhoc commented on #31165
@avagp please check the pull request with the changes requested. Let me know inside the PR or here if all is fine and as needed.

[2021-11-13 11:47] masteradhoc commented on #31164
@avagp please check the pull request with the changes requested. Let me know inside the PR or here if all is fine and as needed.

[2021-11-13 11:47] masteradhoc commented on #31163
@avagp please check the pull request with the changes requested. Let me know inside the PR or here if all is fine and as needed.

[2021-11-13 11:55] masteradhoc commented on #31161
@avagp PR is ready. city in between the departamentos seem fine as they are treated equally to departamentos.
ISO-Codes and States for this country seem fine also.

FYI: https://en.wikipedia.org/wiki/ISO_3166-2:PY#:~:text=Currently%20for%20Paraguay%2C%20ISO%203166-2%20codes%20are%20defined,PY%2C%20the%20ISO%203166-1%20alpha-2%20code%20of%20Paraguay.

[2021-11-13 12:05] masteradhoc commented on #31160
@avagp check pullrequest please :)

[2021-11-13 12:16] masteradhoc commented on #31159
@avagp check PR please

[2021-11-13 13:44] mkimont commented on #32247
Any updates on that?
That's crazy that Vat is wrongly calculated.
People loosing money cause of that :(

[2021-11-13 14:11] senff commented on #27001
Doesn't appear to be an issue anymore in current version of WooCommerce, 5.9.0, so I'll close this.

[2021-11-13 14:11] #27001 closed

[2021-11-13 15:01] masteradhoc commented on #31157
@avagp PR added, check please and let me know.

[2021-11-13 15:08] masteradhoc commented on #31150
@avagp please check pr and let me know if anything needs to be changed.

[2021-11-13 16:09] sicelo opened #31182 "Fix the symbol for SZL currency (patch included)"
**Is your feature request related to a problem? Please describe.**
Yes, WC uses the symbol 'L' for SZL. However this is confusing for Eswatini users (and looks weird). "L" can also be potentially mistaken for the Lesotho Loti.

**Describe the solution you'd like**
Use of the correct and natural symbol that SZL users are familiar with. MR #30602 is a proposed solution.

**Describe alternatives you'

[2021-11-13 16:15] aaronhong7 opened #31183 "Product Export - Low Stock Threshold - csv “returns blank cells” instead of “0” value"
So we have close to 1k products and we want to use the Product Import / Export tool to quickly manage our inventory.

For some items, we have set the “low stock threshold” to 0, as we do not want to restock them when they run out.

So when we do Product Export, those items are returning a blank cell on the “low stock threshold” column in the CSV — this causes a problem when we do the Product Impor

[2021-11-13 16:46] sicelo opened #31184 "Rename Swaziland to Eswatini"
**Is your feature request related to a problem? Please describe.**
The country of Swaziland was renamed to Eswatini back in April 2018. A number of projects and operating systems have reflected this change.

**Describe the solution you'd like**
A simple rename in WC code :-) see #31185

**Describe alternatives you've considered**
None. The name adjustment is official/legal.

**Additional context**

[2021-11-13 16:57] aaronhong7 commented on #31183
I believe this is the piece of code that needs to go into `functions.php`, but I am unsure of the taxonomies. Please help

[code]

[2021-11-13 17:44] aaronhong7 commented on #31183
[code]

[2021-11-13 17:44] #31183 closed, assigned to nobody

[2021-11-13 17:59] masteradhoc commented on #31155
@avagp check PR please and let me know your feedback.

[2021-11-13 18:04] masteradhoc commented on #31154
@avagp also this pr is ready for your check. thanks

[2021-11-13 18:11] masteradhoc commented on #31151
@avagp PR is ready. please check.

[2021-11-13 18:18] masteradhoc commented on #31152
@avagp PR is ready for your check.

[2021-11-13 23:19] pixelloop commented on #28419
@raoabidali

I have been using the above code but today I discovered when it's active on a product and I go to

1) Product Data
2) Advanced
3) Try and turn "enable reviews" on or off
4) Save
5) Check front end and refresh edit product screen and the change doesn't seem to save.

I'm not sure if there are other WooCommerce fields that are also not being saved properly but I changed the price as a t

[2021-11-14 00:08] Abdalsalaam commented on #31174
you can use hook
`woocommerce_rest_prepare_shop_order_object`
to modify the response and to add the weight

[2021-11-14 08:34] ServitelLTD commented on #31174
Thanks
I havve googled some hours looking how to pass the parameter without
success.

Which is the right syntax ?

I have tried with "get_product_weight" and "get_order_weight" without
success

There is a link where I can find some infos ?

Many thanks
R

Il 14/11/2021 01:08, Abdalsalaam Halawa ha scritto:

[2021-11-14 14:50] azygis commented on #30006
Created a pull request #31193 for the filter.

Will try to find a reliable reproduction for the session cookie, but cannot promise it'll be soon, might take a week or few, depending on my own load.

Edit: to make it clearer - the actual session issue is about configuring cart while logged in, closing the browser, and then opening the browser again. You are anonymous from wordpress point of view, b

[2021-11-14 21:48] Abdalsalaam commented on #31174
Anytime, maybe this will help you :

https://gist.github.com/kloon/5299119
or :
https://www.businessbloomer.com/woocommerce-save-display-order-total-weight/

to get the weight then you can add it to the rest-api response

[2021-11-14 21:55] juliaamosova commented on #31184
Hi @sicelo,

Thank you for submitting the issue. In WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) still shows the country as Swaziland:

https://github.com/unicode-org/cldr/blob/release-40/common/subdivisions/en.xml#L4996

I am not sure we will be able to rename it. I'll leave it up to the PR

[2021-11-14 21:58] juliaamosova commented on #31182
Related to https://github.com/woocommerce/woocommerce/issues/31184.

[2021-11-14 21:59] juliaamosova commented on #31174
Hi @Sirswatch,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 22:01] juliaamosova commented on #31171
Hi @Dekadinious,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 22:03] juliaamosova commented on #31170
Hi @phreesoft,

Thank you for submitting the issue. However, it is not clear how to reproduce it. Can you please list the exact steps?

In addition to the above, please provide the version numbers of WooCommerce, WordPress, and PHP (ideally entire System Status Report as well ask) that you are using.

We will look at the issue further once we receive additional details.

[2021-11-14 22:11] Lalihonne opened #31194 "The selector you specified (#wcpay-upe-element) applies to no DOM elements that are currently on the page."
Hi!

I am using a WooCommerce Payment through Stripe.

Everything was working fine before I made some updates with WooCommerce and added new products.

Now at the payment account creation page, there is this message :

The selector you specified (#wcpay-upe-element) applies to no DOM elements that are currently on the page. Make sure the element exists on the page before calling mount().

Steps to

[2021-11-14 22:13] juliaamosova commented on #31165
Hi @avagp,

Thank you for submitting the issue. In WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) still shows the state as Vargas:

https://github.com/unicode-org/cldr/blob/release-40/common/subdivisions/en.xml#L5644

I am not sure we will be able to rename it. I'll leave it up to the PR review

[2021-11-14 22:15] sicelo commented on #31184
Alright. Now need to find out how the CLDR gets updated. Hints will be appreciated.

[2021-11-14 22:16] sicelo commented on #31182
Seems CLDR has, for some time already, used "E" for SZL.
Using the version 40 survey tool, https://st.unicode.org/cldr-apps/v#/ss_SZ/C_SAfrica/56ac78f7e192bb1

[2021-11-14 22:27] juliaamosova commented on #31164
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:28] juliaamosova commented on #31163
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:31] juliaamosova commented on #31161
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:32] juliaamosova commented on #31160
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:33] juliaamosova commented on #31159
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:33] juliaamosova commented on #31157
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:34] juliaamosova commented on #31155
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:34] juliaamosova commented on #31154
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:35] juliaamosova commented on #31153
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:35] juliaamosova commented on #31152
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:36] juliaamosova commented on #31151
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:36] juliaamosova commented on #31150
Hi @avagp,

Thank you for submitting the issue. Since there is already a PR open by @masteradhoc, I will leave it to the PR reviewer to revive the change proposed further.

Noting that in WooCommerce, we use the UNICODE CLDR standard for countries and regions naming and divisions. The recent UNICODE CLDR release 40 (released 18 days ago) showing current country/state names can be seen below:

http

[2021-11-14 22:37] sicelo commented on #31184
Hmm, looks like Eswatini is also accepted there as the primary country name, with Swaziland remaining as an alternate.
see also the thread https://unicode-org.atlassian.net/browse/CLDR-11083 : "TC: Decided to go with "Eswatini" as main, use old name as alt value."

Going through the version 40 survey tool, it is also referred to as Eswatini, https://st.unicode.org/cldr-apps/v#/ss_SZ/T_Africa/6e49a

[2021-11-14 22:41] juliaamosova commented on #31143
Thanks for opening the issue @rodelgc! It will be great to split it into 2 separate issues in order to be able to submit 2 separate PRs each closing specific issue as opposed to mixing 2 issues in 1 PR.

[2021-11-14 22:42] juliaamosova commented on #31142
Hi @Josh-Millard,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 22:43] juliaamosova commented on #31140
Hi @smazur,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 22:44] juliaamosova commented on #31137
Hi @SadikurSadik,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 23:03] juliaamosova commented on #31119
Hi @simonjerermygill,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issues you are having are being caused by the following plugins:

- [WooCommerce Accepted Payment Methods](https://wordpress.org/plugins/woocommerce-accepted-payment-methods/) - this plugin had not been developed by WooCommerce. I

[2021-11-14 23:05] juliaamosova commented on #31118
Hi @jankarres,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 23:07] juliaamosova commented on #31115
Hi @stifler97,

Thank you for reporting the issue. It appears that it was resolved, however, according to your explanation. We haven't received any other reports similar to it. With this in mind, I am going to close this issue. However, please feel free to comment further in case you think we missed something.

[2021-11-14 23:07] #31115 closed, assigned to nobody

[2021-11-14 23:08] juliaamosova commented on #31112
Hi @kkmuffme,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 23:09] juliaamosova commented on #31107
Hi @noknokcody,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 23:10] juliaamosova commented on #31101
Hi @mfru,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 23:12] juliaamosova commented on #31099
Hi @gigitux,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 23:13] juliaamosova commented on #31098
Hi @GrzegorzNecka,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code-related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help

[2021-11-14 23:13] #31098 closed, assigned to nobody

[2021-11-14 23:14] juliaamosova commented on #31097
Hi @JakeQZ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2021-11-14 23:19] kkmuffme commented on #31150
It should still be "State" not Departemento (which would be the localized name). We don't use the "native" name for all other languages/countries either.

[2021-11-14 23:21] yukikatayama commented on #28533
Reported in 4454822-zen. This user is also using Subscriptions to create manual variable subscription products where some variations have `Any`. Due to this, customers cannot checkout.

I think this should be a bug as this can affect business where their business model requires they create manual orders and there may be a 100+ variations that need to be created, which isn't recommended.

[2021-11-14 23:21] juliaamosova commented on #31194
Hi @Lalihonne,

Thank you for reporting the issue. It seems to be caused by WooCommerce Payments which is being developed in another repository: https://github.com/Automattic/woocommerce-payments.

I opened a bug report on your behalf there so that the right team could take a look further: https://github.com/Automattic/woocommerce-payments/issues/3377.

Please continue sharing your feedback on the

[2021-11-14 23:21] #31194 closed, assigned to nobody

[2021-11-15 03:07] aemoller commented on #29123
Having this exact same problem! Anyone find any workarounds to unhide the field? I don't know why zip codes are hidden for Guatemala, as they're used quite often for shipping purposes.

[2021-11-15 03:15] aemoller commented on #29123
Pushing for zip codes in Guatemala to be reinstated
https://github.com/woocommerce/woocommerce/pull/28706#issuecomment-968499278

[2021-11-15 05:48] rodelgc commented on #31143
Thanks @juliaamosova I'll split them into 2 now.

[2021-11-15 05:51] rodelgc opened #31195 "API-T Follow-up task: Documentation around certain conventions"
There are a few improvements that I suggested in pcr5Cj-1zj-p2#comment-1719 that would be nice to implement right after completing the automated tests for WC Core REST API critical flows.

One of which is: Documentation around certain conventions (file naming, how to group tests, etc.)

[2021-11-15 06:20] simonjerermygill commented on #31119
Hi @juliaamosova,

Thank you for the prompt response. I'll take up these issues with the correct developers.

[2021-11-15 07:53] GrzegorzNecka commented on #31098
Hi, thanks for explains. I will remember about slack community

[2021-11-15 08:28] paulochang commented on #29123
Added candidate PR https://github.com/woocommerce/woocommerce/pull/31197

[2021-11-15 09:30] AchalJ opened #31198 "Update "Coupon has been removed" message to respect the return value of get_coupon_message()"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When removing the coupon from the cart, we get the message "Coupon has been removed" that cannot be filtered/modified.

**Expected behavior**
Th

[2021-11-15 10:04] designboxcom commented on #27661
I am in the same boat here.  Many European Customers now need a Girocode to simplify the Wire transfers. However, it seems https://wordpress.org/plugins/girocode/ has been disabled. Does Woocommerce plans to include this function into the core anytime soon ?

[2021-11-15 10:12] Coernel82 commented on #27661
@designboxcom Yes that plugin has been disabled due to my abuse report! Though this plugin creates valid girocodes by using a shortcode it sends data (to be clear: the payment data - IBAN, BIC, amount etc.) to another server. This was clear in line 22 in the sourcecode. I 1 star rated the plugin noting that this is potentially malicous and clearly not GDPR-compliant. The issuer of the plugin just

[2021-11-15 10:57] designboxcom commented on #27661
@Coernel82 It totally makes sense. Thank you very much for your update. I'll be happy to try your solution as soon as someone will help to resolve your question.

[2021-11-15 11:12] Ali-RS commented on #26879
Hi!

Any plan to fix this issue?

[2021-11-15 14:12] PanosSynetos commented on #31037
Hey @alexakis13  - Thanks for reporting this issue.

@woocommerce/proton I'm an engineer of the @woocommerce/somewherewarm team and I'd like to contribute to WooCommerce, whenever possible (we have a "cooldown" day after every sprint)

I had a look at the issue and I've made a preliminary investigation. I'd love to help out here with a fix.
- Do you want me to share my findings before I start and

[2021-11-15 14:21] alexakis13 commented on #31037
Hello @PanosSynetos,

Did you manage to reproduce the error? Do you need any extra details?

If there is anything I can help you with feel free to ask me!

[2021-11-15 14:42] PanosSynetos commented on #31037
I managed to reproduce the error @alexakis13 - I'll ping you if I need any additional info. Καλό απόγευμα!

[2021-11-15 14:44] alexakis13 commented on #31037
OK @PanosSynetos Καλό απόγευμα!

[2021-11-15 14:58] peterfabian opened #31200 "Add logging for database operations"
The first step in fixing #29027: let people know if insert/update fails. We might introduce exceptions at a later stage, but let's first start with logging failed updates.

This task is done if all write database operations return values are checked and all the errors are logged into the WooCommerce error log.

[2021-11-15 14:59] peterfabian opened #31201 "Add a linting rule to always check return values from db operations"
As part of #29027, let's add a linting rule to make sure we won't skip return values from db calls in the future.

This task is done when we have a linting rule active in the CI.

[2021-11-15 15:13] gglobalstep opened #31202 "[GlobalStep - 5.9.0] Orders fails to sort by Date > Time when user clicks downarrow button on "Date" column."
# Bug Description:
Orders fails to sort by Date > Time when user clicks down-arrow button on "Date" column.

Environment:
Woocommerce Version :
WooCommerce 5.9.0
Wordpress version: 5.8.2

PC:
Windows 10
Firefox(Version 94.0.1)
Chrome (Version 96.0.4664.45)

# Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins.
1. Install and activate WooComm

[2021-11-15 15:18] gglobalstep opened #31203 "[GlobalStep - 5.9.0] Blank screen is displayed when user clicks on "Add my products" option on WooCommerce Home page,"
# Bug Description:
Blank screen is displayed when user clicks on "Add my products" option on WooCommerce Home page,

# Environment:
Woocommerce Version :
WooCommerce 5.9.0
Wordpress version: 5.8.2

PC:
Windows 10
Firefox(Version 94.0.1)
Chrome (Version 96.0.4664.45)

# Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins.
1. Install and activa

[2021-11-15 15:31] GabrielLode opened #31204 "Clients tab with no data to display "No data to display" how to solve ?"
After updating woocommerce, customers disappeared from the customers tab, I've already done the uninstall and installation and the problem persists, could someone help me?
Thanks

[2021-11-15 15:38] peterfabian commented on #30399
Probably the best way fwd: Only for PayPal std, if the order is already paid, then just show order confirmation. The order can't be canceled at this point by the customer anyway. But we need to verify how IPN behaves and how other gateways handle this.

[2021-11-15 15:50] peterfabian commented on #30589
Related: #23083

[2021-11-15 15:54] TheRadicalDreamer commented on #31165
@juliaamosova to make that change, i cannot just ask it. I need to do a pull request. Which I don't know how to do it.

It will be good to have it changed on Unicode cldr as well.

[2021-11-15 15:58] TheRadicalDreamer commented on #31164
Those on cldr are correct and match the ones on Wikipedia

[2021-11-15 16:19] Lalihonne commented on #31194
Thanks alot! 😊

De : Julia Amosova ***@***.***>
Envoyé : 14 novembre 2021 18:22
À : woocommerce/woocommerce ***@***.***>
Cc : Lalihonne ***@***.***>; Mention ***@***.***>
Objet : Re: [woocommerce/woocommerce] The selector you specified (#wcpay-upe-element) applies to no DOM elements that are currently on the page. (Issue #31194)

Hi @Lalihonne <https://github.com/Lalihonne> ,

Thank you for report

[2021-11-15 16:52] mattsherman commented on #31203
This is a WooCommerce Admin issue, so I'm going to transfer it to the `woocommerce-admin` repo so it can be investigated further by the WCA devs.

[2021-11-15 18:26] #29920 closed

[2021-11-15 18:38] #30865 closed, assigned to rrennick

[2021-11-15 18:52] TheRadicalDreamer commented on #31163
@masteradhoc , as stated by @juliaamosova , the states should match to cldr.

And the ones you wrote are incorrect:
![image](https://user-images.githubusercontent.com/11801254/141837915-700375e1-cb73-4920-91f1-2998d2d43ffe.png)

Here are the ones:
![image](https://user-images.githubusercontent.com/11801254/141837897-04fc60c3-c1be-4fb7-b121-b86224aff022.png)

[2021-11-15 18:54] TheRadicalDreamer commented on #31165
@masteradhoc i checked, and there are all right.

The way you handled la guaira is great.

[2021-11-15 18:54] TheRadicalDreamer commented on #31165
@juliaamosova the pull request is like this:
![image](https://user-images.githubusercontent.com/11801254/141838162-f828e67b-1186-42ed-8027-c750e0434cf9.png)

And the cldr is like this:
![image](https://user-images.githubusercontent.com/11801254/141838189-493ad01e-0ab7-40b1-a5d7-77443499022e.png)

It is ok?

[2021-11-15 18:56] TheRadicalDreamer commented on #31164
@masteradhoc the changes are ok

[2021-11-15 18:56] TheRadicalDreamer commented on #31161
The changes are ok @masteradhoc

[2021-11-15 19:00] TheRadicalDreamer commented on #31160
The changes are ok @masteradhoc .

Even though the CLDR is not complete. It is missing some provincias.
![image](https://user-images.githubusercontent.com/11801254/141838874-06ec4f77-58e4-4b69-90f9-5ddcf777b775.png)

[2021-11-15 19:13] TheRadicalDreamer commented on #31159
@masteradhoc your changes are ok.

@juliaamosova the states on CLDR are way wrong.

They have mixed Nicaragua with Netherlands.

Please help us change it.

![image](https://user-images.githubusercontent.com/11801254/141840242-856f30f4-eb86-4e46-8ae1-23da45c60e1d.png)

The have missed the end of the array on Aruba, you can tell by looking at the value that begins with 'nl', instead of 'ni'

[2021-11-15 19:14] TheRadicalDreamer commented on #31157
changes are ok

[2021-11-15 19:15] TheRadicalDreamer commented on #31155
changes are ok

[2021-11-15 19:15] TheRadicalDreamer commented on #31154
all changes are ok

[2021-11-15 19:16] TheRadicalDreamer commented on #31153
changes are ok

[2021-11-15 19:17] TheRadicalDreamer commented on #31152
changes are ok

[2021-11-15 19:19] TheRadicalDreamer commented on #31151
changes are ok @masteradhoc

@juliaamosova again teh CLDR is adding a state to another country:
![image](https://user-images.githubusercontent.com/11801254/141841060-59942d4e-4341-4d30-ad6a-7dea81026298.png)

Can we try and update it?
![image](https://user-images.githubusercontent.com/11801254/141841125-9a09f771-b981-481a-bf9a-54764e5d6b11.png)

[2021-11-15 19:22] TheRadicalDreamer commented on #31150
@kkmuffme i get it, but @masteradhoc changed the localization of the actual variable?

[2021-11-15 19:29] kkmuffme commented on #31150
should be

[2021-11-15 19:40] TheRadicalDreamer commented on #31150
So, @masteradhoc had to change the translation?

But, for example. I have my site on Spanish (spain) language, because most of the plugins only have that spanish translated (not all the 32 other spanish).

So, it will say estado? or departamento, for example for my country Chile?

[2021-11-15 20:10] mattsherman commented on #32263
@LevinMedia Cycling back on this one to see if you have any input to provide.

[2021-11-15 20:26] mlstolk commented on #24540
I'm unsure if this is the same problem in Woocommerce 5.9.0, but I am experiencing rounding issues as well:
Items Subtotal: 13,02 + shipping 5,40 + tax 3,87 makes 22,28 instead of 22,29.

https://pasteboard.co/qLSvE60mu4sZ.png

[2021-11-16 00:35] #30961 closed, assigned to nobody

[2021-11-16 00:35] #30965 closed, assigned to nobody

[2021-11-16 00:35] #30991 closed, assigned to nobody

[2021-11-16 00:35] #31005 closed, assigned to nobody

[2021-11-16 00:35] #31020 closed, assigned to nobody

[2021-11-16 01:30] #30733 closed, assigned to vedanshujain

[2021-11-16 07:00] rodelgc commented on #31202
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Here are the steps I took to reproduce it:

1. Created a new JN site with WC 5.9.0 installed.
2. Used Smooth Generator to create 100 orders dated TODAY using this command `wp wc generate orders 100`.
3. Went to the Orders list page.
4. Sorted the orders by DESC date (n

[2021-11-16 07:00] #31202 closed, assigned to nobody

[2021-11-16 09:06] khoipro opened #31208 "Checkout page > Provinces selection for Vietnam"
**Is your feature request related to a problem? Please describe.**

Missing all states for Vietnam.

**Describe the solution you'd like**
I've added all Vietnamese states with alphabet listing.

[2021-11-16 10:16] kkmuffme commented on #31150
Yes @masteradhoc has to change it.

If you use es_es translation it will whatever they use in Spain (I guess "estado")

If you want to use Chile locale, you just need to provide the translation for "State" in Chilean Spanish (= "Departamento") for WooCommerce.

[2021-11-16 10:20] PanosSynetos commented on #31037
Hey @woocommerce/proton - I did some research on the issue, and I believe this is not related to WooCommece - It seems it's related to WordPress

When WooCommerce creates an attribute, behind the scenes it creates a new taxonomy. If the taxonomy's slug is `χρώμα` it creates a taxonomy `pa_χρώμα`.

When the native WP quick edit actions are used, behind the scenes it calls `wp_ajax_inline_save_tax()

[2021-11-16 10:39] designboxcom commented on #27661
@Coernel82 It seems the girocode plugin is back online. Still I will wait for your solution as I also prefer no third parties got involved in the generation process....

[2021-11-16 10:46] pmcpinto commented on #32219
@adrianduffell can you let me know when you have news about the effort required to implement this? Thanks

[2021-11-16 11:36] alexakis13 commented on #31037
Hello, @PanosSynetos. Ok, I understand whats the problem. Yeah go ahead and open the issue! I learn something new for WP today! Thank you!

[2021-11-16 12:02] webmandesign opened #31210 "Accessibility: Multiple form field and table header labels are missing in template files"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Checking various WooCommerce views (such as Cart, Checkout and My Account pages, and widgets) with [WAVE accessibility evaluation tools](https:/

[2021-11-16 13:38] streamworksaudio opened #31213 "Fallback to Redirect Downloads no longer working"
The fallback to Redirect Downloads was added a few releases back to help with those that needed to use Redirect mode for downloads.  However with the release of 5.9.0 the fallback is no longer working - my customers were getting the 'File Not Found' error.  Setting downloads to Redirect work, but the automatic fallback no longer does.

[2021-11-16 13:48] peterfabian opened #31214 "WP CLI db update bug?"
It seems like [this part of the code](https://github.com/woocommerce/woocommerce/blame/trunk/plugins/woocommerce/includes/cli/class-wc-cli-update-command.php#L64-L72) either uses some magic, or won't run as expected. The while loop probably never runs and result from the callback is ignored. We should check if this actually works.

[2021-11-16 13:51] TheRadicalDreamer commented on #31150
But that is not a solution :/

Unless there is a string for state for every country. (I don't if there is)

Imagine if woo was created in Argentina, and everything is named
'Provincia', then California and New York will be 'provincias'. That would
be so weird.

That is the same appreciation we have when we have 'departamentos', but are
called 'estados'.

If there is no string for each country, wou

[2021-11-16 13:56] masteradhoc commented on #31150
Thats exactly the reason why the labels are set in the PR to the country. As a big language like yours combines a lot countries. This wont hurt anybody and just show "Departamentos" when country is choosen to Bolivia. if the US is choosen then it goes back to state.

i think and believe its the proper way. Handling everything over translations would make this lable feature useless.

[2021-11-16 14:05] peterfabian commented on #24185
Thank you all for your valuable input here. I'm increasing the priority of this issue so that we start prioritizing and fixing these issues soon.

[2021-11-16 14:07] Thesurfer98 opened #31215 "woocommerce plugin makes 'preview could not be loarded error' when you open for edit elementor pro"
since today the plugin woocommerce is crashing elementor pro, I only can edit with elementor on secure mode, so i looked some official elementor videos, and the developer says i must contanct the developers of the plugin that makes the error. Thank you.

[2021-11-16 14:22] kkmuffme commented on #31150
@masteradhoc you need to use the English name. In this case the state field should be "Department" (instead of "Departamento") see https://en.wikipedia.org/wiki/Departments_of_Bolivia

The translation to "Departamento" will happen via the regular translation process and will be available to you then normally (so your site will show Departamento, even though you set the English string Department in

[2021-11-16 14:25] tloughlin130 commented on #31040
I must've needed to actually hit Cancel Order in WordPress to generate that email then. I just assumed that an email would be generated after a person abandons their order in the PayPal process, ie. when they click "cancel and return to website" within the PayPal app, since the order then appears as Cancelled in WordPress.

The emails are now working for New Orders, so I'm not sure if an update fi

[2021-11-16 14:48] masteradhoc commented on #31163
Soory my fault. done now

[2021-11-16 14:54] masteradhoc commented on #31150
@kkmuffme true that. change it now on all PRs.

[2021-11-16 15:43] zhongruige opened #31217 "Run API tests in their own job instead of after the e2e tests"
**Issue Description:**

We're seeing flakiness when running the API tests after the end-to-end tests on PRs. We should run the API tests in their own job instead so the tests are running against an entirely clean environment. Since the jobs run in parallel it won't really increase the execution time, either.

[2021-11-16 16:03] egarriga commented on #23009
Hello. I have a similar cuestion for anyone who can help me.

The think is that when the I do not want to change the date of the next_payment from the date that the transation is complete or active in the Subscription case. I want the calculation to be from the start of the subscription. I have done this.

`		add_filter( 'woocommerce_before_subscription_object_save', function ( $subscription, $dat

[2021-11-16 16:03] tjcafferkey opened #31219 "Attempting to access Import Products page via the WooCommerce dashboard errors."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When trying to import products via the WooCommerce (5.9.0) Dashboard I get a blank screen with console errors.

**Expected behavior**
I was expe

[2021-11-16 16:04] rrennick commented on #31134
We started the E2E tooling project with the E2E tooling that was already in place in this repo. We created the E2E packages to enable other projects to implement E2E without having to manually port our tooling to their projects. For example, [docker-compose.js](https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/e2e-environment/bin/docker-compose.js) replaced a single `docker-compose

[2021-11-16 16:05] pmcpinto commented on #32258
@Roslynlavery our partners need to update their extensions to improve the step after installing the extension in the Payments task. Our team is improving the documentation, and it will create an example to facilitate the implementation by the partners. We count on having this ready to be shared during the 1st week of December. I'll let you know as soon as we have the documentation ready.

[2021-11-16 16:23] erikkubica opened #31220 "WC_Order::needs_processing - possible bug"
Hello,

Today I have noticed that needs processing is broken. Our client sells virtual product that is not downloadable and after payment is done, it does not change the order status to completed.

I have backtracked everything and found out that in order to achieve completed order status after payment, the product must be both downloadable and virtual. When I changed the product to downloadable +

[2021-11-16 17:03] #30353 closed

[2021-11-16 17:23] peterfabian commented on #31037
Hey @PanosSynetos ! Great investigation, thanks! Closing this issue. Please comment with a link to the WP issue once you get around to creating it, thank you!

[2021-11-16 17:23] #31037 closed, assigned to nobody

[2021-11-16 17:54] TIIUNDER commented on #22011
Well, is there any solution yet?

[2021-11-16 17:55] rrennick commented on #29590
Addressed in #31207.

[2021-11-16 17:55] #29590 closed

[2021-11-16 18:16] barryhughes commented on #22011
Does the solution (custom snippet) [shared here](https://github.com/woocommerce/woocommerce/issues/22011#issuecomment-440793428) work for you?

[2021-11-16 18:18] TIIUNDER commented on #22011
@barryhughes No, because I need the notices also on single post type features and also YoastSEO

[2021-11-16 18:34] rrennick opened #31223 "monorepo package build is not building TS packages"
I ran these steps on latest trunk:

[code]

When the build works correctly `dist/index.js` contains:

[code]

cc @psealock @roykho

[2021-11-16 18:58] barryhughes commented on #31213
@streamworksaudio, thanks for flagging this.

The explicit redirect fallback still seems to work under 5.9.0, at least in my own local testing, so we'll need some more information in order to help you with this.

Checking our bases first of all, can you confirm that the _"Allow using redirect mode (insecure) as a last resort"_ setting found in **WooCommerce ▸ Settings ▸ Products ▸ Downloadable Pro

[2021-11-16 21:06] jrick1229 commented on #31123
Here's another: 4460225-zen

[2021-11-16 21:15] #31116 closed, assigned to roykho

[2021-11-16 21:23] #27686 closed

[2021-11-16 21:40] phreesoft commented on #31170
I don’t know how to recreate this, I found it by reviewing my error logs. To eliminate the error just check for the file before including it:

if (!empty($file) && file_exists($file)) { include ($file); }

This will skip the include if the file does not exist. Same net result without adding to the php error log.

Dave @phreesoft

[2021-11-17 00:35] #31045 closed, assigned to nobody

[2021-11-17 02:15] johnosmond commented on #18199
This is maddening. Why is this topic closed? It's still a bug.

[2021-11-17 02:49] streamworksaudio commented on #31213
Hi Barry,

Yes the option to Allow Redirect is checked.

It was working in the last version before 5.9.0.

See answer to next question

I am using my own custom code to handle downloads via a signed URL with AWS.  The URL for the download file points to a custom post type which then does a few checks, and if verified generates a temporary signed URL and then redirects to that URL (file URL).

When

[2021-11-17 06:35] rodelgc commented on #31146
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Using the same steps you outlined above, I was able to get the PHP error you described. In addition, I'm getting console errors, though I'm not sure if it's related to the PHP error.

<img width="1532" alt="Screen Shot 2021-11-17 at 2 29 10 PM" src="https://user-images

[2021-11-17 07:58] jenthakkar commented on #27686
Issue not resolved yet.

I updated Woocomrce and all plugins still issue is there.

[2021-11-17 08:52] johnjullies opened #31226 "File(/dev/urandom) is not within the allowed path(s)"
A client with a WooCommerce site are getting reports from bugsnag with the following error message: https://secure.webmedic.com/y2nZrs

The request URL is https://chuloves.com/product-category/colour/page/1/?per_row=3&amp;shop_view=grid&amp;add_to_wishlist=3011

Here's the complete error screenshot on bugsnag:

- https://secure.webmedic.com/Tq8b9z
- https://secure.webmedic.com/gOZASP

Here's anoth

[2021-11-17 09:26] vedanshujain commented on #27686
Hi @jenthakkar , this change will be available in WC 6.0, which should be released on second week of December.

If you need the fix more urgently, and are comfortable with editing code, taking a backup of the site, and restoring from the backup (even if site is down), then you can also apply the changes manually. Please only do this if you are comfortable with editing plugin code on the site and h

[2021-11-17 09:54] AdamDurzynski opened #31229 "No translation"
In CART window (popup) a translation is missing (Polish): CART, CHECKOUT, TOTAL ...

[2021-11-17 10:27] choijun commented on #27419
Hi @Konamiman and everyone

I am sorry for late response because I haven't been online for a long time, currently I haven't using the new block filter yet. But I get many bugs when installing the WooCommerce 5.9 and most especially the problem related to Block API . I also opened a new ticket on WordPress.org https://wordpress.org/support/topic/fatal-error-uncaught-error-call-to-undefined-method-w

[2021-11-17 11:14] adrianduffell commented on #32219
@pmcpinto We estimate 8 story points (about 25% of our normal capacity per cycle). It's something we could target for the Woo Admin 3.1 release, with Inbox 2.0 our main priority ahead of the upcoming 3.0 beta.

[2021-11-17 11:32] linesbytim opened #31230 "Attributes shown differently between products (both on cart and checkout page)"
On both the cart page and the checkoukt page I have the problem that attributes are shown diffently from one product to another. Please see the image below:
![](https://user-images.githubusercontent.com/93785924/140545636-59778482-03a4-44b8-a339-508dc7cc4985.png)
Items with three attributes list the attributes and also with their title whilst the ones with two are inline and do not bear the title.

[2021-11-17 11:39] DavidAnderson684 commented on #31226
The screenshots show that WooCommerce uses a core WordPress function to generate random bytes. The core WordPress function attempts to use the file `/dev/urandom`, and your PHP installation is set up to forbid this. The WordPress function is set up to silence any warnings when this occurs, but you have a debugging set up to log warnings even in that situation.

[2021-11-17 11:44] pmcpinto commented on #32219
Thanks for sharing the estimate. @thenbrent is everything goes as planned we'll release the experiment in WC 6.2 (February). Does this timing sound good to you?

[2021-11-17 11:52] DavidAnderson684 commented on #31220
Note that your shop is behaving as the documentation describes it should given your settings - https://woocommerce.com/document/digital-downloadable-product-handling/#usage .

[2021-11-17 13:16] sameer-rajpoot opened #31231 "Add New Action Hook Before Displaying Review Comments"
**Add Hook Before Review Comments List**
Please add a new action hook before displaying review comments in the Woocommerce plugin. Even a new action hook should be included after display review comments to facilitate developers for customizing and developing new plugins. Although template file can be overridden in the plugin but a good approach is to customize and extend the plugin functionality v

[2021-11-17 13:38] erikkubica commented on #31220
Thank you @DavidAnderson684 , I guess it's my bad then, because somewhere I red that processing status is skipped if order consists of only downloadable **or** virtual products, which I have automatically assumed that it means that product does not have to have both checkboxes checked.

[2021-11-17 13:38] #31220 closed, assigned to nobody

[2021-11-17 15:02] adityab995 opened #31234 "Order status Is missing " complete", "delivered" these are missing"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-11-17 15:20] #31223 closed, assigned to nobody

[2021-11-17 15:27] swatipawarGS commented on #30849
Hi @Corentin-Robac ,

Thank you for taking the time to report this bug, we really appreciate your help. I can't reproduce it on my end using WooCommerce5.9.0 version.

Below is the screenshot  documenting my experience.

![#30849 1](https://user-images.githubusercontent.com/94531721/142229492-92bd6308-5e59-455b-b0ec-3c5843fcbd60.jpg)

![#30849 2](https://user-images.githubusercontent.com/94531721/

[2021-11-17 15:40] vedanshujain opened #31236 "Verify and remove WooCommerce Schema version option"
The option `woocommerce_schema_version` is introduced in 4.3 was only used once for reserved stock, but causes quite a bit of confusion. We should consider removing it by merging to `woocommerce_db_version` if its sage.

[2021-11-17 15:46] swatipawarGS commented on #31173
Hi @csmcneill ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce  5.9 version.

Below is the screenshot documenting my experience:
![#31123 (2)](https://user-images.githubusercontent.com/94531721/142233142-bf1ef344-1115-46b0-be62-a3d2cc66eb5e.png)

Priority of this issue will be assigned shortly after we’d go through

[2021-11-17 16:00] barryhughes commented on #31213
In 'normal' cases—using a range of regular download files and URLs—I can't seem to bring about the problem and the fallback works as expected. Would it be possible for you to share your custom code, or even better a distilled version that shows just the raw mechanics in their simplest form, to help us replicate the problem and understand what you're seeing?

...We'll need some sort of steps-to-rep

[2021-11-17 16:13] rodelgc commented on #29697
The varying lengths for the product quantity input fields seems specific to Chrome. I can reproduce the issue there, but not on Firefox. Firefox shows the the input boxes to be the same length. Here's the screenshot from my Chrome. Notice that the input box for "Heavy Duty Bronze Shirt" is shorter than the rest:
<img width="1266" alt="Screen Shot 2021-11-18 at 12 07 48 AM" src="https://user-images

[2021-11-17 16:22] #30781 closed, assigned to nobody

[2021-11-17 16:31] rodelgc commented on #29697
It seems that the `Enable stock management at product level` setting affects the length of the input box for some reason. When it's checked, the input box appears short. When it's unchecked, the input box lengthens, and will already be the same length as the other input boxes. Screen recording can be found here - p1637166551131600/1637163091.125200-slack-C011ENB20Q1

[2021-11-17 17:02] rrennick commented on #29195
Addressed in #30056

[2021-11-17 17:02] #29195 closed

[2021-11-17 17:39] jeffstieler commented on #27014
To resolve this, we'll need to make changes to [`WC_REST_System_Status_V2_Controller::get_database_info()`](https://github.com/woocommerce/woocommerce/blob/ef015f740f89c35cebf34bc0c39a971be6723b68/plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-v2-controller.php#L768), ideally to restrict the results to the current network site, but at the very least to `LIMI

[2021-11-17 17:51] jeffstieler commented on #28774
I was able to reproduce this. We do support logging in with a space-prefixed password, so this is indeed a bug. We likely just need to remove the trimming logic from the change password form.

[2021-11-17 18:16] jeffstieler commented on #26991
Considering the core PayPal gateway is storing this metadata but not displaying it, it's reasonable to include this feature in core. Anyone picking this up can probably use https://github.com/woocommerce/woocommerce/pull/28389 as a starting point.

[2021-11-17 18:42] jeffstieler commented on #29925
@negapo instead of using the `woocommerce_checkout_fields` filter and `unset()` to remove checkout fields, you should be able to use CSS to hide the fields. This should avoid the missing field errors. (Use the `#shipping_country` and `#billing_country` selectors to hide the fields with `display: none;`)

If that's not a feasible approach, you'll need to pair your existing filter with another on `w

[2021-11-17 18:42] #29925 closed

[2021-11-17 19:49] rrennick commented on #29091
We won't be completing this one.

[2021-11-17 19:49] #29091 closed

[2021-11-17 21:56] leonardola opened #31241 "Blank Screen when WC Pay is active"
Related to https://github.com/Automattic/woocommerce-payments/issues/3333

**Describe the bug**
Blank Screen is displayed after clicking WooCommerce > Home when WC Pay is active.

This bug started happening after WooCommerce version 5.9.0 was released.
As far as I could dig this bug starts on version 6.1.2 of @woocommerce/components
The only differences between 6.1.1 to 6.1.2 are inside the file p

[2021-11-17 22:06] Lalihonne commented on #31194
Please note that bug has been fixed by itself when upgrading PHP version....

[2021-11-18 00:35] #31060 closed, assigned to nobody

[2021-11-18 00:55] streamworksaudio commented on #31213
My code runs at the 'template_redirect' hook and simply checks if the post type is my custom post type.  If so then checks to see if the user has purchased a required product to access the download.  If that conditioned is met, then a temp. URL is generated by aws cli (which is ran using shell_exec) then redirect to that url with wp_redirect( $signedUrl , 301 );

I don't think it is my code - only

[2021-11-18 07:40] #31110 closed, assigned to Konamiman

[2021-11-18 07:50] yolostore commented on #30915
I am also having this issue with my woocommerce store at yolostore.nz.  I will get search results if I enter the SKU, but not if I enter the product name.  I have 79 of 183 product names contain the word 'baby', but entering 'bab' into the search tool returns no results.  I don't normally use the SKU's to add products, I use the Product Names.
Site was fine until a couple of days ago, then after u

[2021-11-18 09:03] swatipawarGS commented on #31123
Hi  @jrick1229  ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.9.0 version.

Below are  the screenshots confirming the issue on my end:

With marketplace suggestions enabled:

![#31123(Enable)](https://user-images.githubusercontent.com/94531721/142384141-c5d4121c-a837-4232-bb5f-cc986e7b0226.jpg)

With marketplac