[2021-03-02 11:33] theabhig opened #29261 "On cart page, under Shipping, post code field reappears for countries where it isn't required"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

With "Enable the shipping calculator on the cart page" enabled under **WooCommerce > Settings > Shipping > Shipping Options**:

On the car

[2021-03-02 15:05] zhongruige commented on #28899
For the tests, we will start using the [WP Mail Logging plugin](https://wordpress.org/plugins/wp-mail-logging/) to verify the emails are attempted to be sent with the correct content.

[2021-03-02 15:05] #28899 closed

[2021-03-02 15:19] automattic-ian opened #29262 "When using Twenty Twenty One Load more products button breaks."
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When using twenty twenty one theme and latest version of WooCommerce, the load more products button breaks.

**Expected behavior**

When

[2021-03-02 16:08] claudiosanches commented on #14541
Just noting here that we didn't included any change in recent releases that could cause duplicated orders, and this issue could be caused by a 3rd party plugin or theme.

[2021-03-02 16:44] mensmaximus commented on #26678
I came across this issue as well. A temporary fix is to update the expiration after the transient has been created using the wordpress action hook setted_transient.

`/*
 * Change the expiration time for the wc_product_loop_ transient from 30 days to 1 day
 * to reduce mysql load
 */
add_action( 'setted_transient', 'mmx_wc_product_loop_transient', 50, 3 );
function mmx_wc_product_loop_transient( $

[2021-03-02 17:20] erikdemarco opened #29263 ""Undefined index: billing_email" when email field is removed"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2021-03-02 17:38] modularsynthesis commented on #28557
5.6.2 fixed the error message. But now if I make changes and leave the page there is NO warning. However, if I go back into the page I get:
The_ backup of this post in your browser is different from the version below. Restore the backup

This will replace the current editor content with the last backup version. You can use undo and redo in the editor to get the old content back or to return to the

[2021-03-02 17:56] GlennMartin1 opened #29264 "Checkboxes and radio buttons are too wide in Twenty Twenty"
The `.single-product form.cart input{width:5em}` style within the cart form sets the width for checkboxes and radio buttons in addition to other input types, which makes them wider than they tall in at least Twenty Twenty.

The style is in all of these files, though I have not tested Twenty Nineteen or Twenty Seventeen to know whether those are fine.
\assets\css\twenty-twenty.css
\assets\css\twent

[2021-03-02 17:59] ArnoutPullen commented on #26203
I had the same issue with version 4.2 and just upgraded to 5.0 and after running the database update it was visible again!

[2021-03-02 18:06] douglas-johnson opened #29265 "Create account password input considered invalid before user interaction"
**Is your feature request related to a problem? Please describe.**
During checkout, when I click "Create an account" the "create account password" field is marked as invalid before I have typed anything.
<img width="637" alt="Screen Shot 2021-03-02 at 12 57 10 PM" src="https://user-images.githubusercontent.com/226381/109692728-da038600-7b56-11eb-9b19-7dd1cd409e0f.png">

**Describe the solution you

[2021-03-02 18:09] #28882 closed

[2021-03-02 18:18] ldr2273 commented on #27953
Hi @peterfabian!

We're still seeing some reports of this come through, and I wanted to check and see if this was anything we could further look into? I personally have not been able to replicate, but I'm getting reports from customers who have updated to 5.0. TIA!

[2021-03-02 18:31] PQuinP commented on #24184
Hello!!

I have a similar problem. I asked in Wordpress.org forum and they send me this link.
I hope I can explain this issue well: I have shipping costs €4 (taxes included) which are €3.31 (without taxes), but in the cart and at checkout WooCoomerce adds 0.01 cents … I have tried to subtract one cent from shipping (€3.30), but it doesn’t work, it shows €3.99 (tax included)
I'm worried about this

[2021-03-02 18:42] claudiosanches commented on #29256
Hello @GlazerGallery

WooCommerce doesn't control or insert new meta boxes for pages in WP. Note that some SEO extensions and others had the same issue, since isn't an issue in WooCommerce, but in WordPress core, so maybe you are seeing those errors, but not related to WooCommerce.

[2021-03-02 18:56] rrennick opened #29266 "Add delete product to api tests"
The product api test created products without deleting them. This doesn't affect the tests passing if run more than once. But, we should remove the products at the end of the test. We can do this in one PR once the tests for the product types have been merged.

[2021-03-02 19:14] #28884 closed

[2021-03-02 19:22] sabernhardt commented on #29264
It's also in the styles for Twenty Twenty-One.

- [Twenty Twenty](https://github.com/woocommerce/woocommerce/blob/trunk/assets/css/twenty-twenty.scss#L551-L553)
- [Twenty Nineteen](https://github.com/woocommerce/woocommerce/blob/trunk/assets/css/twenty-nineteen.scss#L406-L408)
- [Twenty Seventeen](https://github.com/woocommerce/woocommerce/blob/trunk/assets/css/twenty-seventeen.scss#L399-L401)
- [

[2021-03-02 22:40] elizaan36 opened #29267 "Use WordPress theme color to replace legacy purple"
As mentioned in [this issue](https://github.com/woocommerce/woocommerce/issues/29239), the product importer is using an outdated color in the progress bar and primary action. This makes the user experience disjointed as users navigate here from other areas of WooCommerce and WordPress.

<img width="1402" alt="Screen Shot 2021-03-02 at 4 31 54 PM" src="https://user-images.githubusercontent.com/5121

[2021-03-02 22:58] elizaan36 opened #29268 "Product management tooltips are misaligned on mobile"
**Describe the bug**
The product management guide tooltips are causing poor accessibility on mobile. Considering that they aren't optimized for mobile it might be best to turn them off completely on mobile.

**Expected behavior**
I'd either expect the tooltips to align with the content they're referring to, or not see them at all.

**Actual behavior**
On mobile devices the product management toolt

[2021-03-02 23:21] barryhughes commented on #29226
Hi @oliveiracom—great question!

As I think you've noticed, assets such as `frontend/checkout.js` are probably not being added to the page, which is why it is not working as expected.

The challenge here is that—to avoid adding scripts to pages where they are not needed—WooCommerce makes a decision about which assets are required during the `wp_enqueue_scripts` action. At that point it checks to s

[2021-03-02 23:41] barryhughes commented on #29234
Hi there, @erikdemarco!

When you access the customer object in that way (ie, during an active session and via `WC()->customer`) then it will be set to use the `customer-session` datastore. That means two things:

1. Changes will not persist in the database (with the exception of the `wp_woocommerce_sessions` table) — [see code here](https://github.com/woocommerce/woocommerce/blob/5.0.0/includes/c

[2021-03-03 00:36] erikdemarco commented on #29234
Hello @barryhughes  thank you very much. I will use your second options. once again thank you

[2021-03-03 00:37] #29234 closed

[2021-03-03 00:46] #28568 closed

[2021-03-03 04:19] zhongruige commented on #27879
For this task, I'll start with a test for emails send through the Order Actions postbox (highlighted in orange below):

<img width="337" alt="Screen Shot 2021-03-02 at 9 17 37 PM" src="https://user-images.githubusercontent.com/71906536/109752034-e7dbfa00-7b9c-11eb-8c75-9530e06ac799.png">

This will also include adding in support for installing the WP Mail Logging plugin as part of the e2e containe

[2021-03-03 08:06] aureliendebord commented on #27266
Same problem here: I have three emails, the email for a new order is only sent to the first email.
I have installed the plugin Log emails to check that. No log for the second and the third recipient. So the email function is not trigerred.
This problem occurs some weeks ago, it is maybe related to a previous update.

[2021-03-03 10:09] gsim commented on #26464
@gabaras, I understand what you mean by 'it makes no sense' in the context, but it makes perfect sense in what is wanted, i.e. a way to sort the outpud my a fixed array of id's. It's proving to be rather challenging.

[2021-03-03 11:30] senadir opened #42672 "SearchListControl is not responsive on narrow views"
SearchListControl (which is used in Featured Category, Featured Product) doesn't work well in narrow views (like columns)
![image](https://user-images.githubusercontent.com/6165348/109799205-07663780-7c1c-11eb-937f-77a0950a1c25.png)

We might need to make it responsive (in wc-admin repo) or move it to the sidebar.

Reported in https://github.com/woocommerce/woocommerce-gutenberg-products-block/iss

[2021-03-03 11:58] bizjust commented on #26422
Any solution?

[2021-03-03 13:28] peterfabian commented on #27953
Thanks for reporting the issue, folks. It would be helpful to us if you could include the system status report with your reports as we might be able to see if there is any plugin that is appearing repeatedly for this problem and what storage engine you folks are using in your database tables.

The problem is somewhat tricky as we can't really be sure the configurations people are using support tra

[2021-03-03 16:07] CaroSo73 commented on #27953
[statut_systeme_sdd.txt](https://github.com/woocommerce/woocommerce/files/6077294/statut_systeme_sdd.txt)
Hi! Here is the system status report, I hope it helps for analyse and fix the issue.

[2021-03-03 17:54] kaleyathomas commented on #28582
@vedanshujain I applied the patch you recommended and it worked perfectly. I have since updated to the latest version of WooCommerce and am wondering if I should've reversed the patch prior to updating. I'm having some errors and issues with subscription payments and am paranoid that this could be the culprit.

[2021-03-03 18:32] drenina commented on #18852
@Cherrerotinoco Is there any easier way to solve this, maybe with `wc_get_price_including_tax`?

[2021-03-03 19:14] douglas-johnson commented on #28870
I am also experiencing this problem.

My production site uses Memcached for object caching. The bug happens exactly as described in the issue.

I don't have this problem on my local environment that uses Local and doesn't have an object cache.

A workaround is to edit a product's menu order directly using Product Data > Advanced > Menu Order.

[code]

[2021-03-03 20:10] claudiosanches commented on #29084
@haroonstar77 thanks for posting back. I'm glad that it helped you.

[2021-03-03 20:22] claudiosanches commented on #24885
@mi5t4n @hsingyuc Thanks for let me know about it.

[2021-03-03 20:22] #24885 closed

[2021-03-03 20:34] claudiosanches commented on #24288
Those fields aren't designed to work "check product IDs **OR** categories", those works like "check product IDs **AND** categories".
For this issue probably will be better to remove the product from that coupon and create some new category and include that to the coupon as well, so you don't get issues like that.
Sounds like we should better document it.

[2021-03-03 20:56] ej-3dxtech commented on #22706
I was also considering using the Plexus inventory manager, since it lets you set a low stock per variation, but it doesn't have any recent reviews. I talked to their support and they said they have a 30-day full refund policy if you are unsatisfied.
Might be worth a try at least.

I would also like to hear if anyone has experience with this.

[2021-03-03 21:31] barryhughes commented on #29227
Hi @TheRealSimpleSimon, thanks for reaching out!

Though I can definitely see how that would be helpful given the use-case you outlined, in general we're very careful about adding new hooks (and indeed modifying existing ones).

In this case, it feels like there are some viable alternatives to achieving your goals, which might for instance include a Javascript-based approach for modifying (and add

[2021-03-03 22:00] claudiosanches commented on #8898
Hello @abishekrsrikaanth,

Yes both need to be encoded, you can see details in our documentation, we also include examples in bash script, PHP, JavaScript, Ruby and Python showing how to encode: http://woocommerce.github.io/woocommerce-rest-api-docs/?php#rest-api-keys

I hope it helps.

[2021-03-03 22:12] zentuco opened #29271 "Used for Variations option not checked automatically when importing CSV with built in import feature"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Hello! I have this file https://docs.google.com/spreadsheets/d/1

[2021-03-03 23:17] andersedvardsen commented on #29128
I can confirm that something is wrong with the "new order" emails. I have problem when i try to trigger them from functions.php

Every WooCommerce email can successfully be sent from functions.php – except the "new order" email.

This does not send an email successfully:

$mailer = WC()->mailer()->get_emails()['WC_Email_New_Order']->trigger( 1161 );

But all of the following lines send an email su

[2021-03-03 23:27] roykho commented on #29128
Hi @andersedvardsen - try using the filter to override this behavior `add_filter( 'woocommerce_new_order_email_allows_resend', '__return_true' );`

[2021-03-04 00:07] TheRealSimpleSimon commented on #29227
I note the wildly different attitudes of different developers to dealing with enhancement requests. :/

Thinking that client-side code can access everything that may be involved with making the decisions regarding selecting a new status, when a very simple "don't put anything in the box in the first place" handles all possible implementations is, in my opinion, pretty short-sighted - most especial

[2021-03-04 00:20] #28883 closed

[2021-03-04 00:53] barryhughes commented on #29227
I sense some (understandable) frustration, so I'll just start by noting that getting to a point where we are more consistent in terms of how we handle this sort of request, and setting expectations up-front about what sort of criteria we apply, is definitely an area where we can aim to do better :+1:

I'm definitely not saying that the business logic belongs client-side (and I likely wouldn't plac

[2021-03-04 01:21] jvwrx commented on #20563
Having the same issue.

On staging site:

- I've switched theme to Storefront
- Deactivated all plugins except WooCommerce and Email Logs
- Woo > Settings > Emails > **Order on-hold** email is enabled
- When changing an order to **On Hold** status, customer email **is not** sent
- When changing an order to **Completed** or **Processing**, customer email **is** sent

[2021-03-04 01:50] galbaras commented on #26464
If I understand this correctly, the aim is to sort the output according to a predefined sequence of IDs.

For this purpose, you can do this:

1. Reorder your products - this can be done separately by category/tag/attribute
2. Make sure your shop uses the default sorting method (custom ordering + name) - this is done in the customizer
3. Order query your output by `menu_order`

[2021-03-04 02:11] TheRealSimpleSimon commented on #29227
My proposed hook is identical in concept, and very similar in implementation, to 'woocommerce_order_actions'.

The justification is that when using custom order statuses to support various business models, the status dropdown list gets very crowded. My primary client has over a dozen statuses between core and custom. While this may seem excessive, once you go beyond the "selling teddy bears to gra

[2021-03-04 03:27] samueljseay opened #32267 "Jetpack installation during profile wizard will fail without a useful error in older WP versions"
Jetpack's minimum version requirement is quite strict, requiring users to be on Wordpress 5.6. But WC min version is 5.4.

If the user's WP version doesn't meet requirements when they tick "install Jetpack" during OBW it will fail without a good explanation of the issue, which is gonna be frustrating for users.

I think this also makes the whole experience of installing plugins during OBW more fru

[2021-03-04 04:41] gsim commented on #26464
"Reorder your products - this can be done separately by category/tag/attribute". Yes that is my intention.
After much googling it was only this thread that helped me get something working by doing 2 things.

1. add_filter( 'woocommerce_product_related_posts_shuffle', '__return_false' );
2. Returning the sequence I wanted in the 'woocommerce_related_products' filter.

My understanding of that thoug

[2021-03-04 06:38] galbaras commented on #26464
Again, `posts__in` is a literal list of values, not a column, so it can't be used for ordering the output. The respective column name is `ID`, and we want ordering by `menu_order`.

Didn't know about `woocommerce_product_related_posts_shuffle`. Good catch. This should be a setting, though, because some people don't know PHP.

[2021-03-04 07:29] avokrado commented on #26422
What i ended up doing was repeating the same price calculation in mini cart with: `add_filter('woocommerce_cart_item_price', 'woocommerce_cart_item_price_filter', 10, 3);`

Its not optimal and it repeats the calculations, but it was the only solution i found. Hope it helps

[2021-03-04 07:54] fvdbgit commented on #28752
Hi @tammullen

Thank you for taking the time to solve this bug.
Is it going to be solved soon?
Because it creates big frustrations to my customers who have to pay more with a coupon code than without the coupon code because of this bug.
So this bug prevents me for making new coupon codes.
Could you please solve the bug as soon as possible? It's a bug that is already present since a very long time.

[2021-03-04 08:02] vedanshujain commented on #28582
@kaleyathomas in 5.0 this patch will be already present and the update process will overwrite any manual modification that you may done in the WooCommerce folder (update process basically replaces the WooCommerce folder with the new one). So you don't need to reverse the patch prior to updating. If you have still doubt, you can download the new version manually from WordPress.org plugin page and u

[2021-03-04 09:03] andersedvardsen commented on #29128
@roykho Thank you, this fixes the issue i am having.

[2021-03-04 09:38] Jimather opened #29273 "Can't import product list CSV containing the word PROC"
I cannot import a CSV into the product list if it contains the word PROC anywhere in it, it refuses the file for security reasons.

Remove the word PROC and it accepts the file.

[2021-03-04 14:48] gglobalstep opened #29274 "[GlobalStep] Database Error message is triggered upon activating "Code Snippet" Plugin"
## Bug Description:
Database Error message is triggered upon activating "Code Snippet" Plugin

## Test Instructions:
Test WooCommerce Core critical flows with WooCommerce Admin functionality disabled: https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-5.1#test-woocommerce-core-critical-flows-with-woocommerce-admin-functionality-disabled

## Environment:
Woocom

[2021-03-04 14:51] gglobalstep opened #29275 "[GlobalStep] On Frontend, Website goes into an infinite loading upon clicking "Pay for order" option for pending payment order."
## Bug Description:
On Frontend, Website goes into an infinite loading upon clicking "Pay for order" option for pending payment order.

## Test instructions:
https://github.com/woocommerce/woocommerce/wiki/Critical-Flows
(Shopper->My Account->Pay for Order)

## Environment:
Woocommerce Version : WooCommerce 5.1 RC1 and 5.0
WordPress version: (v5.7 RC2)

**PC:**
Windows 10, Mac 10.14.6
Chrome(Versi

[2021-03-04 14:57] lomars commented on #23009
@eavitan

Don't use `var_dump()` and `die()`… use instead use `error_log( print_r( $changes, true ) );`, enabling before error logs in Wordpress.

[2021-03-04 15:50] StSaens commented on #29192
I do the same.
If you do is_page(product-id) it should work. I use this to enqueue certain scripts on specific product pages. Where the product-id is the same as the page of the product (when editing the product-page)

is_product = woo function
is_page = wordpress function

[2021-03-04 16:18] tammullen opened #29276 "Validate bug reports have completed prerequisites"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

[2021-03-04 16:23] tammullen opened #29277 "Update README and Release e2e packages"
- [x] [Update Readme files](https://github.com/woocommerce/woocommerce/pull/29399) for changes in these versions that was not included in individual PRs
- [x] [Update change logs](https://github.com/woocommerce/woocommerce/pull/29440) to accurately reflect what is being released and bump the package versions

[2021-03-04 17:17] onsterion opened #29278 "Can’t disable Setup Wizard"
Hello everyone,

WP version: 5.6.2
WOO Version: 4.9.2

I can’t disable the Setup Wizard and I can’t track where it triggers, it’s supposed to trigger on:

\wp-content\plugins\woocommerce\packages\woocommerce-admin\src\Features\Onboarding.php line 158

But it never got to this line debugging the code.

My code:

[code]

Any suggestion?

Regards,
Lucas

[2021-03-04 17:33] rrennick commented on #27872
Closing this as complete.

@helgatheviking The issues listed in the description are linked to PRs for that product type. Either the grouped PR or external product PR would be a good one to look at for a reference for adding another product type.

[2021-03-04 17:33] #27872 closed

[2021-03-04 17:34] rrennick commented on #28886
Closing as compete.

[2021-03-04 17:34] #28886 closed

[2021-03-04 18:02] roykho commented on #29231
Hi @ovidiul - I am circling back here and wanted to ask. Are you using a custom import script or just using the WC built in import tool?

[2021-03-04 18:06] rrennick commented on #26464
Support was added for this. See https://developer.wordpress.org/reference/classes/wp_query/#order-orderby-parameters

[2021-03-04 18:17] rrennick commented on #29192
@adampatterson You can use `is_single( {product-id} )` to determine if it's a particular product. Like `is_page`, `is_single` supports an array of values.

[2021-03-04 18:19] barryhughes commented on #29227
For sure, I appreciate the desire to have a cleaner and more maintainable way to do this.

We take your point that there are existing hooks which follow essentially the same pattern you've suggested, but again I'd note adding hooks (and modifying existing ones) is something we want to do with due care and we'd also been keen to evaluate alternative approaches.

Re-opening as a possible future enha

[2021-03-04 18:19] #29227 closed

[2021-03-04 18:37] ovidiul commented on #29231
Hi @roykho

It's a custom script that does something like this

[code]

Let me know if you need further info.

[2021-03-04 18:43] roykho commented on #29231
@ovidiul - thanks for the additional information. So I am wondering what if we only updated the term count based on that product's term only? So instead of recounting all terms of all the products, just recount the terms that are assigned to that specific product at the time.

In addition, we could add a filter something like `woocommerce_product_update_recount_terms` so this could still be turned

[2021-03-04 19:23] HelenB13 commented on #17837
I don't know much about GDPR, but I remember that it was about to be enforced, all business owners worried about the compliance as in case of non-compliance with new requirements, they would be slapped with a fine of 4% of annual turnover. Thanks for sharing this info and enlightening me!

[2021-03-04 19:58] ovidiul commented on #29231
The first option makes sense, to only recount the terms for that specific product.

In addition to that, the proposed filter would work very well since, for large import batches, we might want to turn that off and maybe do a full-term recount in the end as a separate job using the proposed `wc_recount_all_terms` function.

The idea here is to try and be as efficient as possible when doing large im

[2021-03-04 20:47] #28945 closed

[2021-03-04 20:56] hsingyuc commented on #29261
I'll try to fix this one

[2021-03-04 20:59] zhongruige opened #29280 "Write functions to get config values and provide defaults if the value isn't found"
Prompted by a discussion [here](https://github.com/woocommerce/woocommerce/pull/29270/#discussion_r587734747):

We should do a broader sweep of data being retrieved from config and write functions to get that data and provide default values when the data isn't included in the config. Another example includes the [store name](https://github.com/woocommerce/woocommerce/pull/29270/#discussion_r587735

[2021-03-04 21:48] emrec76 commented on #22127
Thanks @BaltasarParreira . It helped me 3 years later. For those who don't know, this is a bug caused by the theme and this code works perfectly.

[2021-03-04 23:03] galbaras commented on #26464
I stand corrected.

This was closed as a support request, but maybe it isn't? Maybe it's a WordPress bug, though. Has anyone used `post__in` ordering successfully?

[2021-03-05 03:25] Xonman commented on #26926
@alibek-gao did you close this issue because you solved it? I am having a similar problem and would love a permanent fix.

[2021-03-05 06:08] gsim commented on #26464
WP_Query does indeed  work with 'post__in' as the 'orderby', and an array of id's as the 'order'. However the 'woocommerce_related_products' filters does not.
This is because you are correct @galbaras , the function 'wc_products_array_orderby' which is called does not have the option of 'post__in' so it defaults to shuffle.

[2021-03-05 06:30] johnbalili opened #29284 "Customer names were missing on analytics order report"
Customer names were missing on analytics order report when the date range is big like a year.
sample of 1 month report
[orders_2021-03-05_page-wc-admin_path--analytics-orders.xlsx](https://github.com/woocommerce/woocommerce/files/6088533/orders_2021-03-05_page-wc-admin_path--analytics-orders.xlsx)

and sample of 1 year report
[wc-orders-report-export-16149203382307.xlsx](https://github.com/woocomm

[2021-03-05 06:53] galbaras commented on #26464
Looking at the code again, `filter_one()` in the initial post by @bilalmalkoc should also set `$args['post__in']` to a list of IDs. That should make it work without all the other filters. It's just not enough to change the `orderby` field.

[2021-03-05 06:57] gsim commented on #26464
I did try that, but to no avail. It just gets ignored and sticks to the shuffle.

[2021-03-05 07:07] galbaras commented on #26464
Didn't you say that in combination with a `woocommerce_product_related_posts_shuffle` filter, it worked for you?

[2021-03-05 07:12] gsim commented on #26464
Yes, but I do my own sorting (by another array) in the 'woocommerce_related_products' filter and set the order to 'none' in the 'woocommerce_output_related_products_args' filter. I only set it to 'none' to avoid an unessary usort on the array in 'wc_products_array_orderby'.

[2021-03-05 07:24] gsim commented on #26464
add_filter('woocommerce_output_related_products_args',array($this,'related_products_args'),10,1);
add_filter( 'woocommerce_product_related_posts_shuffle', '__return_false',1 );
function related_products_args($args) {
	$args['orderby']='none';
	return $args;
}
function exclude_related_products($related_products,$product_id,$args) {
	// Sort $related_products by array of predefined id's here.
	retur

[2021-03-05 08:13] Mtarnuhal commented on #27030
Hi,
We have the same issue for multiple of our clients.
We get reports from our clients almost every week.

[2021-03-05 10:08] gsim commented on #26464
Ok, let me try that again. This is working as per my final requirement. It's basically just a costom sorting scheme, with specified products from an array in get_options, then randomly adding the rest to the array. i.e. If I want 2 items to show first, in order, I save an array of both id's in update_option.

It is running in a class, hence the calls to $this.

[code]

[2021-03-05 10:31] Geobusteni opened #29286 "SKU duplication when using REST endpoint to create a product and adding the sku as meta data"
~ curl -X POST https://some.site/wp-json/wc/v3/products \
    -u consumer_key:consumer_secret \
    -H "Content-Type: application/json" \
    -d '{
  "name": "Product name",
  "type": "simple",
  "regular_price": "21.99",
  "description": "Testing sku duplication.",
  "meta_data": [
        {
                "key": "_sku",
                "value": "1234567890"
        }
  ]
}'

Using the code abov

[2021-03-05 10:58] wpexplorer commented on #10211
The problem with the "woocommerce_post_class" filter is that it get's added for entries and as a wrapper around the single product. So lets say you wanted to add utility classes for columns to the entries only, it's currently not possible with woocommerce_post_class as there is no way to differentiate an entry from the singular product - both entries and single product return "' for wc_get_loop_pr

[2021-03-05 11:18] wpexplorer opened #29287 "Not possible to add classes via the woocommerce_post_class filter to entries or single products exclusively."
**Is your feature request related to a problem? Please describe.**
Currently it's not possible to add classes to product entries only via the "woocommerce_post_class" filter because it is also used on singular products (at least no easy way that I have found).

This is also resulting in the "first" class being aded to the singular post:

<img width="1470" alt="Screen Shot 2021-03-05 at 3 13 19 AM"

[2021-03-05 11:50] erikdemarco opened #29288 "'Add to cart' button name should match between single and variation"
'add to cart' button for variation product doesnt have name. as seen in this line:
https://github.com/woocommerce/woocommerce/blob/23710744c01ded649d6a94a4eaea8745e543159f/templates/single-product/add-to-cart/variation-add-to-cart-button.php#L31

but 'add to cart' but for simple product has a name. as seen here:
https://github.com/woocommerce/woocommerce/blob/23710744c01ded649d6a94a4eaea8745e54315

[2021-03-05 13:22] addedlovely commented on #28533
@juliaamosova Isn't this the same issue as the bug below, even if 'any' is available as option it'll fail the validation. This wasn't how WooCommerce always worked - at the moment you can't add a product to the basket with an attribute set to 'any'?
https://github.com/woocommerce/woocommerce/issues/28213

[2021-03-05 14:39] erikdemarco commented on #20491
After days searching. I found the 'almost' perfect "buy now" button for woocommerce, although its cant fulfill what i wanted.

For anyone searching this. I found solution from @lomars but still buggy here:
https://stackoverflow.com/a/54867369/15185328

For example if the variation is not selected yet, it still redirecting user. The correct way is. it should alert the user first like the default wh

[2021-03-05 14:43] #29266 closed

[2021-03-05 15:12] jrick1229 commented on #28752
Also seen in: 28203510-hc

[2021-03-05 15:21] #27879 closed

[2021-03-05 17:49] #26393 closed

[2021-03-05 20:50] roykho commented on #28964
So this is per design. An AJAX request is triggered to make changes in the background when the button is toggled. Based on this, I believe this is not a bug so will be closing this for now.

[2021-03-05 20:50] #28964 closed

[2021-03-05 22:11] sukafia commented on #26289
Hmmm... another report here 3796626-zen. I also find this really confusing.

[2021-03-05 22:48] alibek-gao commented on #26926
@Xonman as i remember, after deleting and creating new hook problem was solved

[2021-03-05 23:36] n00145964 commented on #21712
Hi Guys.

I was getting this error also after I cloned my domain and installed it on the localhost, I disabled the plugin and this worked for me. Must need to setup again, as it took my test dummy email address, and it didn't like it, line 875..

Thanks.

[2021-03-06 00:03] EngKhaledB commented on #27795
Hi @loranallensmith @jackmcconnell,

WooCommerce is already hooking the customer password reset with this action: `woocommerce_customer_reset_password` on https://github.com/woocommerce/woocommerce/blob/trunk/includes/class-wc-form-handler.php#L1054
It fires the hook after a successful password reset. So, I see there is no need to define new hooks.

[2021-03-06 01:46] specterdesigns opened #29291 "add to cart button not working please HELP!!"
Add to cart button is working on archive page but on single page add to cart button is not working
https://myossume.com/shop/ here you can see

I am not sure how to enable the ajax i have already enabled in admin pannel

[2021-03-06 03:36] rrennick opened #29292 "Add support for order refunds to the api package"
This is a follow up issue to #27873. Separating this out due to the time required to complete the task.

Refunding via the api isn't needed for the current set of core tests so can be completed at a later date.

Refunds will be a child model to orders.

[2021-03-06 10:51] psaikali commented on #26422
I think I've found a temporary hack to fix this by forcing the cart totals calculation on the `woocommerce_before_minicart` hook 🤷

[code]

[2021-03-06 11:06] BlackJack7878 commented on #28533
I guess that's bug I'm experiencing right now. I'm trying to add product to cart via add_to_cart(), that product has one of the attributes defined as "any" on backend and as a result I'm see same error as you do. The problem is I don't want to create 800+ variations instead of just 56 I have right now.
**It was working fine on 4.0.0 and because of this I'm using an outdated version of woocommerce*

[2021-03-06 19:04] stgoos opened #29294 "Feature request: REST API to list products ordered by SKU"
**Is your feature request related to a problem? Please describe.**
I want/need to present a list of Woo products via the REST API ordered by their SKU. Unfortunately sku is not included in the list of options for the orderby statement.

**Describe the solution you'd like**
I'd like to see **sku** to be added to the list of options for the **orderby** statement.

**Describe alternatives you've cons

[2021-03-06 20:08] webber-naut opened #29295 "Variation threshold admin notice [woocommerce_ajax_variation_threshold]"
**Is your feature request related to a problem? Please describe.**
Not notifying the admin user that they have met the ajax variation threshold. Not good UI. Ive spent the last three days trying to figure out/trouble shoot why adding 10 variations works as intended but with a much higher variation count it was displaying all the color variations I had set for a specific attribute. Which was giving

[2021-03-06 22:05] #29271 closed

[2021-03-07 09:13] atulmarketer opened #29296 "categories is not visible in menus section"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-03-07 11:57] grig-23 opened #29297 "In Analytics and Reports, the payment revenue is assigned to the date when an order is created rather than the date when a payment was made."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
In Analytics and Reports, the payment revenue is assigned to the date when an order is created rather than the date when a payment was made

[2021-03-07 13:48] tammullen commented on #29242
Hi @tvtronics

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot_2021-03-06_at_19_10_03](https://user-images.githubusercontent.com/24649833/110241906-457c9780-7f4b-11eb-9dc6-1b0fca326754.png)
![Screenshot_2021-03-06_at_19_09_51](https://user-images.githubusercontent.com/24649833/110241904-444b6a80-7f4b-11eb-8df6-9f1e01843

[2021-03-07 14:23] Cherrerotinoco commented on #18852
Absolutly yess @drenina, but in my case It doesn't return the price with taxes because we have different taxes for each country and for EEUU is 0% and we wanted to show in shchema the 21% always. (I didn't mentioned before)

[2021-03-07 14:44] jbendsen69 opened #29298 "change of base currency destroys report data"
`Hi
I changed my base currency from USD to DKK, and now my historical reports shows wrong. Please fix.

For this month, All data, totals in base currency shows DKK5.162,39 or $5.162,39, and DKK to USD is not one to one.

Thanks
Jesper

### WordPress Environment ###

WordPress address (URL): https://enagi.com
Site address (URL): https://enagi.com
WC Version: 4.9.2
REST API Version: ✔ 4.9.2
WC Block

[2021-03-07 18:54] megphillips91 opened #29299 "Exposing customer billing data to WP Rest API"
I stumbled onto something which I figure is a privacy vulnerability related to  Woocommerce Customer billing details in the REST API.

WooCommerce registers the personal data of the "billing contact" into user meta under the meta_keys "billing_email" "billing_phone", etc.

Since these fields are not registered as "_billing_email" instead of "billing_email" then it is very easy to accidentally expo

[2021-03-07 20:21] giacogiaco commented on #24029
This problem still exists with the new WooCommerce Admin Reports section. Can you reopen the issue? Thanks!

[2021-03-07 20:25] giacogiaco opened #29300 "Taxes report not changing amount when refunding order"
Could you please reopen this issue: https://github.com/woocommerce/woocommerce/issues/24029
It still exists with the new Admin Reports section. Thank you!

[2021-03-07 20:40] tammullen commented on #29257
Hi @GlazerGallery,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further. Remember to please confirm if you performed initial troubleshooting such as testing for theme and plugins conflict on

[2021-03-07 21:33] tammullen commented on #29247
Hi @ninetyninew,

Thanks for your issue, translations are created and handled by local communities, you are free to update and send suggestions on https://translate.wordpress.org/projects/wp-plugins/woocommerce/

For the example you gave you can see the current translation for "View Store" in English (UK) here
https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/en-gb/default/?fi

[2021-03-07 21:33] #29247 closed

[2021-03-07 22:41] tammullen commented on #29262
Hi @automattic-ian

Thank you for taking the time to report this issue, we really appreciate your help. I can reproduce it on my end.

I installed and setup Jetpack and I set the infinite scroll setting in Jetpack > Settings > Writing.
Note: Twenty Twenty-One appears to now have infinite scroll support as this setting is visible ([as per docs](https://jetpack.com/support/infinite-scroll/)) and als

[2021-03-07 22:41] Xonman commented on #26926
@alibek-gao ok, thanks for the response!

[2021-03-07 23:37] tammullen commented on #29260
Thank you @AashikP for taking the time to share this enhancement!
​
In the meantime like for other enhancements we are going to close this issue with the `votes needed` label and evaluate over time if this issue collects more feedback.

[2021-03-07 23:38] #29260 closed

[2021-03-08 00:05] tammullen commented on #29261
Thank you for taking the time to report this bug @theabhig, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot_2021-03-07_at_23_57_44](https://user-images.githubusercontent.com/24649833/110259841-9dde8400-7fa1-11eb-9ea1-89d7a00e8790.png)
Field displayed for UK as expected

![Screenshot_2021-03-07_at_23_57_59](https://user-images.githubusercontent.com/24649833/110259833-99

[2021-03-08 00:17] tammullen commented on #29263
Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​

- I installed Code Snippets plugin https://wordpress.org/plugins/code-snippets/
- I installed Query Monitor
- I confirmed email appears on checkout
![Screenshot_2021-03-08_at_00_12_55](https://user-images.githubusercontent.com/24649833/110260280-65d84080-7

[2021-03-08 00:17] #29263 closed

[2021-03-08 06:29] erikdemarco commented on #29263
@tammullen

To make sure once again. I do fresh installation of wordpress and woocommerce. Its same. I get this error:
=> https://ibb.co/4JnMSrd

I'm sure its because you set your php.ini setting to hide php warning or maybe you set your php error level to low.

The logic is like this: Let's look at the error line:
=> https://github.com/woocommerce/woocommerce/blob/30d7b2ce9d4ae732d1b036bd221328e5

[2021-03-08 08:57] dz0ny opened #29301 "wc_admin_url is used when woocommerce-admin is disabled"
**Describe the bug**
Error: Call to undefined function wc_admin_url()

Location: woocommerce/includes/admin/views/html-admin-page-reports.php in include_once at line 17
[code]
Stacktrace:
admin.php:259 in
/var/www/public_html/wp-includes/plugin.php:484 in do_action
/var/www/public_html/wp-includes/class-wp-hook.php:311 in do_action
/var/www/public_html/wp-includes/class-wp-hook.php:287 in apply_fi

[2021-03-08 10:27] tammullen commented on #29278
Hi @onsterion

WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your issue there so that the right team could take a look further.

[2021-03-08 10:29] tammullen commented on #29284
Hi @johnbalili

Analytics is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

[2021-03-08 10:30] tammullen commented on #29291
Hi @specterdesigns

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

*Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believ

[2021-03-08 10:31] tammullen commented on #29297
Hi @grig-23

Analytics is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your issue there so that the right team could take a look further.

[2021-03-08 10:32] tammullen commented on #29296
Hi @atulmarketer

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2021-03-08 10:36] tammullen commented on #29300
Hi @giacogiaco

Analytics is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

Please raise a new issue in that repository and to make sure the team can evaluate the issue please make sure to fill out all sections of their bug report.

[2021-03-08 10:36] #29300 closed

[2021-03-08 10:40] tammullen commented on #29274
Thanks @gglobalstep for the issue

I'm going to close this as it occurs on a fresh WordPress install with no WooCommerce plugin installed.

[2021-03-08 10:40] #29274 closed

[2021-03-08 11:51] tammullen commented on #29275
Hi @gglobalstep

Thank you for taking the time to report this bug, we really appreciate your help. With only WooCommerce installed I can't reproduce it on my end.

![Screenshot 2021-03-08 at 10 51 10](https://user-images.githubusercontent.com/24649833/110316901-4a9d1d80-8003-11eb-86f7-4af12c1680c2.png)
![Screenshot 2021-03-08 at 10 51 22](https://user-images.githubusercontent.com/24649833/11031690

[2021-03-08 11:51] #29275 closed

[2021-03-08 12:00] tammullen commented on #29275
Issue Raised here: https://github.com/krokedil/klarna-payments-for-woocommerce/issues/215

[2021-03-08 12:11] tammullen commented on #29268
Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2021-03-08 at 12 11 19](https://user-images.githubusercontent.com/24649833/110319924-74f0da00-8007-11eb-906d-1767c6e4b973.png)
![Screenshot 2021-03-08 at 12 11 30](https://user-images.githubusercontent.com/24649833/110319932-77533400-8007-11eb-85b7-9faf31387578.png)

We wo

[2021-03-08 12:26] tammullen commented on #29265
Hi @douglas-johnson

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2021-03-08 at 12 23 28](https://user-images.githubusercontent.com/24649833/110321332-71f6e900-8009-11eb-9bc7-0aa0a951ba35.png)
Used these Account settings

![Screenshot 2021-03-08 at 12 23 19](https://user-images.githubusercontent.com/24649833/11032133

[2021-03-08 12:32] tammullen commented on #29294
Hi @stgoos

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2021-03-08 12:36] tammullen commented on #29287
Hi @wpexplorer

Thank you for taking the time to share this idea, we really appreciate your help.
​
While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issu

[2021-03-08 12:36] #29287 closed

[2021-03-08 12:38] tammullen commented on #27915
Hi @jacoswan

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-08 12:38] #27915 closed

[2021-03-08 12:40] tammullen commented on #29186
Hi @fliktigo

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-08 12:40] #29186 closed

[2021-03-08 13:15] umairakram500 commented on #27188
Hi @tammullen, I have the same issue if you fixed it on your end, please share the solution.

Or anyone other has, please share.

[2021-03-08 13:54] roykho commented on #29301
Thanks for reporting. It has already been reported and fixed here https://github.com/woocommerce/woocommerce/commit/315c4de5c3270cfeea9cb2bf6da9d58e09d4250d It will be out with the next release 5.1 which is on track for tomorrow.

[2021-03-08 13:54] #29301 closed

[2021-03-08 14:04] umairakram500 commented on #27188
Hi guys, i have solve this. we have to add following code for admin order item qty

// admin set qty input steps
add_filter('woocommerce_quantity_input_step', 'adminApplyArgsStep', 10, 2);

function adminApplyArgsStep($step, $product) {
    if(is_admin()) {
        $step = 0.01; // Has to be 0.01 to not conflict with step intervals and allow the admin to totally customize the quantity in backend

[2021-03-08 17:13] Jimather commented on #29273
Hi Tam,

Have you tried it with PROC as the leading characters in a cell, in caps. For example it will accept 1PROCKKKYYY and procKKYY but not PROCKKKYY.

Thanks

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Tam Mullen<mailto:notifications@github.com>
Sent: 08 March 2021 10:49
To: woocommerce/woocommerce<mailto:woocommerce@noreply.github.com>
Cc: Jimather<ma

[2021-03-08 18:12] tammullen commented on #29273
Hi @Jimather,
Could you provide a CSV file/content of the file you can reproduce this with?

[2021-03-08 18:13] wicara commented on #27915
Guys it's still open I'll test it and let you know

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tam Mullen <notifications@github.com>
Sent: Monday, March 8, 2021 11:39:00 PM
To: woocommerce/woocommerce <woocommerce@noreply.github.com>
Cc: wicara <wicara@msn.com>; Comment <comment@noreply.github.com>
Subject: Re: [woocommerce/woocommerce] Product Categorie

[2021-03-08 19:17] tammullen commented on #27266
Hi @fabienrodrigues @bozzmedia @aureliendebord

See: https://github.com/woocommerce/woocommerce/issues/29107

If any of you are using WPML there is a known issue that can affect emails.

[2021-03-08 19:22] levkany commented on #29204
hii, sorry for the late response but i should've mentioned that i dont use the addon plugin, i am using the build in importer and exporter.

All the product types are imported successfully including the variations of a variable product, but..
It only import all the variations properly when the variations rows are located right after its "parent" variable product, for more clearance, i hope the ima

[2021-03-08 19:27] chkserv commented on #14541
Got this issue on one of my clients sites over the weekend. No issues before 5.0

[2021-03-08 22:55] zhongruige commented on #29295
Hi @webber-naut,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2021-03-08 22:58] GlazerGallery commented on #29257
Hi Tam,

Apologies for the delay in getting back to you — I had other work to get to before I could spend some time working on a Page again. I created a new Page today and didn't run into the problem. I don't know how to explain the problem I was having before except that I've noticed in the past that sometimes changes made to our WordPress site don't seem to show up immediately (usually clearing

[2021-03-08 23:14] zhongruige commented on #29298
Hi @jbendsen69,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further. Specifically, if you can help provide more details including steps to reproduce the issue that will help us further inves

[2021-03-08 23:16] zhongruige commented on #26854
Hi @ontiuk ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-08 23:17] zhongruige commented on #28166
Hi @jasongm98 ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-08 23:38] juliaamosova opened #29306 "Twenty Twenty Theme: Long product description doesn't start from the beginning of the editor."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When using Twenty Twenty Theme, a long product description doesn't start from the beginning of the editor.

Tested this using the following:
- W

[2021-03-09 08:12] Freshpage commented on #14541
Interesting as I share very few plugins with you. The only ones we have in common are

WooCommerce PDF Invoices & Packing Slips |   | by Ewout Fernhout – 2.8.2
WooCommerce |   | by Automattic – 5.0.0
Contact Form 7 |   | by Takayuki Miyoshi – 5.4

It would be interesting to know if it is the same problem. Have you had feedback about what the problem looks like? For us the customer presses the "Pla

[2021-03-09 08:20] chkserv commented on #14541
All they said was when their customers place an order, it goes through and places double orders, sometimes it even double charges ( sometimes not )

[2021-03-09 08:24] lkraav commented on #29193
It's still my primary hypothesis, but it seems to be connected to object caching.

Today, I had a crash in Orders list, where `WC_Order::get_refunds()` returned `false` again https://sentry.io/share/issue/53434b17f6324b9a9032cdc6b8477c77/

But then, on simple page reload, it magically worked.

[2021-03-09 15:42] vicmich opened #29312 "Scheduled sale on simple product shows regular price as sale price"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have s

[2021-03-09 17:43] 7einhalb commented on #22862
It´s been 2 years ago and I´m also looking for this release. Is there any workaround available to just copy and use the Gutenberg-Code into the description instead of implementing the whole editor in categories?

[2021-03-09 18:02] rrennick commented on #29258
#29207  mostly addressed this. The edge case that could occur is using a custom container init file immediately after running `npm i`. In that situation, the default init file hasn't been copied to the package folder and the current logic doesn't copy it over.

[2021-03-09 19:58] 84em commented on #27103
Adding my +1 to this.  I feel this should be treated as a bug, as this really fills up the options table on a busy site.  I have one site with almost 2,700 autoloaded options related to this rate limit class.

[2021-03-09 21:58] zhongruige commented on #28747
Hi @pondandlake,

Thank you for helping clarify the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

* I created a new variable product, that includes three variations:

<img width="1189" alt="Screen Shot 2021-03-09 at 2 46 28 PM" src="https://user-images.githubusercontent.com/71906536/110543107-1f8bfa00-80e7-11eb-8225-c65f3f9ac2b3.pn

[2021-03-09 22:25] zhongruige commented on #27093
Hi @SeynalKim ,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-09 22:25] #27093 closed

[2021-03-09 22:25] #26854 closed

[2021-03-10 00:24] kingyyyyyy opened #29315 "Analytics > Settings - Blank Page"
Hi,

I have updated Woocommerce to the latest version on 2 websites. The only issue I've seen is that when you got to Analytics and then Settings, the page is blank, on both websites.

I have included two screenshots to show the issue.

Hope this helps.
![121212](https://user-images.githubusercontent.com/54516457/110556611-ca77d480-8136-11eb-84e9-72922981bfa0.png)
![1212133](https://user-images.gi

[2021-03-10 00:59] 7einhalb commented on #22862
It´s been 2 years ago and I´m also looking for this release.

[2021-03-10 01:12] juliaamosova commented on #29315
Hi @kingyyyyyy,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.1:

<img width="1435" alt="analytics" src="https://user-images.githubusercontent.com/19143190/110560270-b53d7e80-8113-11eb-91e7-c757f96d1718.png">

The `Analytics` section is a part of WooCommerce Admin functionality which is being developed in another

[2021-03-10 01:22] kathy330 commented on #25805
I got the same issue. When I update Woocommerce to 5.1.0 the dashboard and analytics are blank.
Console Error
Unchecked runtime.lastError: The message port closed before a response was received.
2react-dom.min.js:125 TypeError: Cannot read property 'call' of undefined
    at a (index.js:1)
Me @ react-dom.min.js:125
react.min.js:24 Uncaught TypeError: Cannot read property 'call' of undefined
    at

[2021-03-10 01:31] kathy330 opened #29316 "Woocommerce dashboard not working & other bugs"
current I am using WordPress 5.6.2 and woocomerce 5.0 version, because when I updated to the 5.1 version the dashboard is blank, also the analytics page is blank too.
![Screen Shot 2021-03-10 at 12 28 55 pm](https://user-images.githubusercontent.com/39319724/110561688-39d3df80-819c-11eb-8c88-6dc5812754a0.png)

Then, I roll back my woocomerce to the 5.0 version, which also not work on the 5.1 versi

[2021-03-10 01:42] juliaamosova commented on #29316
Hi @kathy330,

Thanks for reporting the issue.

Can you please specify what dashboard exactly is blank? Can you please provide a URL to be exact?

Can you please specify what page is blank exactly? Is it `Analytics / Settings`? If so, it had been reported here and is being fixed: https://github.com/woocommerce/woocommerce-admin/issues/6549

I am not able to reproduce this. Can you please troublesh

[2021-03-10 03:25] INDEPENDENTENTERPRISE1 opened #29317 "Products Setting Tab Missing"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

I cannot access p
[WooCommerce settings ‹ IDFD — WordPress.pdf](https://github.com/woocommerce/woocommerce/files/6112956/WooCommerce.settings.IDFD.WordPress

[2021-03-10 03:26] INDEPENDENTENTERPRISE1 commented on #29317
[WooCommerce settings ‹ IDFD — WordPress.pdf](https://github.com/woocommerce/woocommerce/files/6112961/WooCommerce.settings.IDFD.WordPress.pdf)

[2021-03-10 03:30] INDEPENDENTENTERPRISE1 commented on #29317
WooCommerce - Products- Settings Button Missing

[2021-03-10 04:38] zhongruige opened #29319 "Add e2e test that clicks and opens links in the side bar and verifies the page loads"
We should look into adding tests that click links in the side bar for various top-level menu items and verify the pages load.

This could be broken down into:
* WooCommerce
  * Skip Customers & Coupons
* Products
* Marketing

In each, we would click a menu link and verify the page loads. For example:
* Open Analytics > Overview
* Verify title ("Overview" text exists) and perhaps at least one chart

[2021-03-10 10:19] simplenotezy commented on #26899
Let me know if you need anything from me

[2021-03-10 10:19] simplenotezy commented on #29147
@juliaamosova Let me know if you need anything from me

[2021-03-10 10:59] s4mh4ll commented on #28752
Any one have a work-around for this for the time being?

[2021-03-10 11:27] probance-antoine opened #29320 "Get products with sorted categories - Woocommerce API"
Hello,

I have a problem with the woocommerce API. When I list a product I would like to have the categories in order (main category, sub category, sub sub category) :
* On the production site of one of my customers the result is a bit random…
* If I list a product with 2 categories with IDs less than 200 the result is OK
* If I list a product with 2 categories, the first one < 200, the second one

[2021-03-10 11:38] Dokanp opened #29321 "Error at the end of the order, it does not go to the "Order completed" screen"
Hi, I am having problems with the card payment through the Stripe gateway. At the end of the payment woocommerce does not pass the "order completed" screen but it does make the payment to the customer.

Customers order over and over again until they see the last screen and the problem is that their bank cards are charged with every attempt, and we've had to make a lot of refunds for this issue. I

[2021-03-10 11:45] Dokanp commented on #29321
`

[2021-03-10 14:49] rrennick commented on #29319
I think we should check all the screens under Analytics and WooCommerce -> Customers. The markup on the WCA pages is consistent so adding additional screens should not take a great deal of time.

[2021-03-10 14:52] jrick1229 commented on #24244
Also seen in: 27444001-hc

[2021-03-10 15:38] gglobalstep opened #29323 "[GlobalStep] For Twenty Twenty One theme, when dark mode is enabled "Dropdown" option within the website are only visible when we hovered over it"
## Bug Description:
For Twenty Twenty One theme, when dark mode is enabled "Dropdown" option within the website are only visible when we hovered over it

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test sit

[2021-03-10 15:44] gglobalstep opened #29324 "[GlobalStep] PHP errors are triggered when user activates "Estimate Delivery for WooCommerce" plugin"
## Bug Description:
PHP errors are triggered when user downloads "Estimate Delivery for WooCommerce" plugin

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all

[2021-03-10 15:46] gglobalstep opened #29325 "[GlobalStep] "Reset Password" button appears misaligned for "Twenty Twenty One" and "Twenty Twenty" themes."
## Bug Description:
"Reset Password" button appears misaligned for Twenty Twenty One and Twenty Twenty themes.

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate a

[2021-03-10 16:05] nikkez commented on #28364
Thank you @FuegoConQueso for your solution!

I hope the official fix comes as soon possible.

[2021-03-10 16:38] zhongruige opened #29327 "Using GitHub Actions against various e2e environments"
Using GitHub Actions against various e2e environments. This job will have multiple steps that set different environment variables. Specify that this is being tested in Chrome.

* Beta test next version of WordPress daily
* Test against the existing WordPress version (l -2)
* PHP versions (l -2)
* Nice to have: Puppeteer supports FireFox, can add tests here

[2021-03-10 16:39] zhongruige opened #29328 "GitHub actioins testing core themes"
* Themes: Storefront / Twenty Twenty-one

[2021-03-10 16:39] zhongruige opened #29329 "Github actions to cover 3rd party themes."
Once work is done on https://github.com/woocommerce/woocommerce/issues/29327 add tests around 3rd party themes

[2021-03-10 16:39] zhongruige opened #29330 "Using GitHub Actions against various plugins"
Once work is done on https://github.com/woocommerce/woocommerce/issues/29327 run tests via github actions and various plugins

[2021-03-10 16:52] zhongruige opened #29331 "e2e test to cover top level flow for Analytics"
Create an e2e test that verifies the top level Analytics pages load as expected.

Can create an array of URLs and titles, and iterate through it and test on each value. This could go into the config file, too, where we can update/add to easily if anything changes.

[2021-03-10 17:19] peterfabian commented on #22706
How would you folks prefer this to work when we introduce it with respect to existing variations? Assign the low stock threshold from the parent product if there is one? Or just keep it empty and set it up after we introduce this feature?
Initially, I thought it would be least confusing to just keep it empty but would like to understand what y'all expect.

[2021-03-10 17:31] enricgomez commented on #22706
When there are product variations, usually the full stock does not have any importance. The important thing here is to control the variation stock manually and get noticed when low stock variation by email.

[2021-03-10 17:31] zhongruige opened #29332 "Add custom initialization documentation to the README"
For example:  https://github.com/woocommerce/woocommerce/blob/trunk/tests/e2e/docker/init-wp-beta.sh

[2021-03-10 17:48] zhongruige commented on #29312
Hi @vicmich,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested the following on:

* WordPress 5.6.2
* WooCommerce 5.1
* Storefront theme

### Steps Followed

**Same-day sale**

* For a simple product, I tested setting a same-day sale:

<img width="673" alt="Screen Shot 2021-03-09 at 1 21 34 PM" src

[2021-03-10 18:36] zhongruige commented on #29321
Hi @Dokanp \,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further. Specifically, if you can provide information on the plugin being used for Stripe, for example if you're using [WooCommerce

[2021-03-10 18:48] juliaamosova commented on #29323
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. 

We’re going to work on this bug as soon as possible. 

[2021-03-10 18:49] juliaamosova commented on #29325
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help.

We’re going to work on this bug as soon as possible.

[2021-03-10 18:56] INDEPENDENTENTERPRISE1 commented on #29317
Hi,

Thank you for your response, Under the Product tab,  it is supposed to be 4
selections

General-Setting-Inventory-Downloadable Products

My Selection only has 3 Tabs

General-Inventory-Downloadable Products

My Settings tab is missing. And I cant change category sizes

Please help me, thank you

On Wed, Mar 10, 2021, 1:23 PM Greg <notifications@github.com> wrote:

[2021-03-10 19:00] juliaamosova commented on #29324
Hi @gglobalstep,

Thanks for reporting the issue! Since it is related to the 3rd party plugin that had not been developed by the WooCommerce team, I reported the issue to `Estimate Delivery for WooCommerce` plugin developers here: https://wordpress.org/support/topic/php-errors-after-activating-estimate-delivery-for-woocommerce/.

I am closing this thread as it is not a WooCommerce Core bug.

[2021-03-10 19:51] vicmich commented on #29312
Hi Greg

Thanks for this.

Prior to submitting, I tried on 2021 theme and disabled every Woo related plugin, plus a few more (but not *every single* plugin).  I thought that clinched it, but I’ll go at it again and try with Storefront and disabling absolutely everything.  Will let you know what happens.

Appreciate your looking into it.

Vic

From: Greg [mailto:notifications@github.com]
Sent: Wedn

[2021-03-10 20:17] zhongruige commented on #29312
Hi Vic,

Thanks so much! In the meantime I'll check the 2021 theme as well and see if it's perhaps something related to that theme.

[2021-03-10 20:18] leolukin commented on #25133
Yes, it worked for me as well. Thank you!!!

[2021-03-10 20:43] juliaamosova opened #29334 "Flush out the instructions on running individual e2e tests"
We need to flush out the instructions on running individual tests. This would be a good addition to the [boilerplate repo](https://github.com/woocommerce/woocommerce-e2e-boilerplate). Once the next version of the core tests package is released, the `tests/e2e/specs` folder from core could be copied to the repo. Doing that would encourage the adoption of the boilerplate.

[2021-03-10 20:48] INDEPENDENTENTERPRISE1 commented on #29317
Thank you, I did that but my products still won't switch to the bottom on
my products page. I wanted to add categories to the top on the page on my
shop page, but it won't switch it around

On Wed, Mar 10, 2021, 3:42 PM Greg <notifications@github.com> wrote:

[2021-03-10 21:19] lakellie opened #29335 "Product images with large dimensions break WooCommerce blocks on WordPress.com Atomic sites"
**Prerequisites (mark completed items with an [x]):**
- [ x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a product using an image with large dimensions is added to a WooCommerce block, the editor crashes with a critical error the next

[2021-03-10 21:19] lakellie opened #30379 "Product images with large dimensions break WooCommerce blocks on WordPress.com Atomic sites"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a product using an image with large dimensions is added to a WooCommerce block, the editor crashes with a critical error the next time

[2021-03-10 22:26] zhongruige commented on #29335
Hi @lakellie,

Thank you for taking the time to report this bug, we really appreciate your help. I believe I can reproduce it on my end. Just to confirm, is this the critical error you're seeing?

<img width="873" alt="Screen Shot 2021-03-10 at 3 08 43 PM" src="https://user-images.githubusercontent.com/71906536/110706196-b8d51200-81b4-11eb-828f-b5c6707a4ec0.png">

If so, it looks like this is caus

[2021-03-10 23:38] asumaran opened #29336 ""Product Data" section is displayed incorrectly when moved to the sidebar"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When "Product data" section is moved to the editor sidebar the section becomes almost unusable. The layout for that section is broken comp

[2021-03-11 03:01] dphyled commented on #27686
I saw the same behavior with double coupon usage on an order created via backend as well (not from REST API).

1. Created coupon for 100% off with a usage limit of 10:

![Screenshot](https://d.pr/i/gNCfrC+)
Screenshot direct link: https://d.pr/i/gNCfrC

2. Created order, and applied coupon
![Screenshot](https://d.pr/i/CyEsfV+)
Screenshot direct link: https://d.pr/i/CyEsfV

3. Saw that coupon usage

[2021-03-11 07:14] PetrusVermaak opened #29337 "WooCommerce Analytics"
**Describe the bug**
WooCommerce Analytics does not report multi currency for a product correctly.

**Expected behavior**
It should convert the different currencies to one single currency before counting the total together.

**Actual behavior**
It counts different currencies together, resulting in a skewed total.

**Steps to reproduce the bug (We need to be able to reproduce the bug in order to fi

[2021-03-11 07:18] PetrusVermaak opened #29338 "WooCommerce Reporting"
**Describe the bug**
WooCommerce Reporting does not report multi currency for a product correctly.

**Expected behavior**
It should convert the different currencies to one single currency before counting the total together.

**Actual behavior**
It counts different currencies together, resulting in a skewed total.

**Steps to reproduce the bug (We need to be able to reproduce the bug in order to fi

[2021-03-11 07:30] #25375 closed

[2021-03-11 08:49] AccuPixel opened #29339 "Shop prices entered "including tax" with "including tax" set displays price without tax"
**Describe the bug**
Setting the following:
* Yes, I will enter prices inclusive of tax
"Display prices in the shop" set "Including tax"
"Display prices during cart and checkout" set "including tax"

Displays prices in shop without tax applied.

**Expected behavior**
Setting "Display prices in the shop - including tax" should display the price including tax.

**Actual behavior**
Setting "Display p

[2021-03-11 08:56] gglobalstep commented on #28955
This issue is also observed for the "Apply Coupon" button on Checkout page.
Please refer to the video below:

https://user-images.githubusercontent.com/41110392/110761390-b25a9f00-8275-11eb-921e-e46bad3e50da.mp4

[2021-03-11 10:55] Dokanp commented on #29321
Hi,
I am sorry I did not complete the information.

I have disabled the WooCommerce PDF Invoices & Packing Slips plugin and it
was effectively conflicting with woocommerce, If you could recommend
another plugin that makes this invoice function I would appreciate it very
much. The plugin that I am using for card payment is the WooCommerce Stripe
Gateway.

I leave you the information of the system s

[2021-03-11 11:13] jimmitjoo opened #29340 "Creation of WC_Product_External is not being created as external products."
**Describe the bug**
So when creating a product programmatically, using the WC_Product_External, the product is still created as a "simple" product.

[code]

**Expected behavior**
The product should have product type of "external".

**Actual behavior**
As stated above.

**Steps to reproduce the bug**
Steps to reproduce the bug:
1. Create a new external product programmatically using the WC_Product

[2021-03-11 11:14] chkserv commented on #14541
Ours is now solved since removing [ Advanced noCaptcha & invisible Captcha ] plugin.

[2021-03-11 12:48] Bossman1337 opened #29341 "API endpoint "products/batch" to support updating variation(s)"
For this post, as an example, lets say i have a CSV file with id's and stock counts. Typical what you would get from suppliers and manufacturers. These id's could be simple products or a variation of a product. We don't know just by looking at it. Anyways...

Currently the endpoint **products/batch -> update** only supports simple products. For example If you need to update a variation stock count

[2021-03-11 13:08] praful2111 commented on #17823
Add the following line in the bottom of your `functions.php`:

`function disable_emojis() {
    remove_filter( 'wp_mail', 'wp_staticize_emoji_for_email' );
}
add_action( 'init', 'disable_emojis' );`

[2021-03-11 13:18] Bossman1337 commented on #29340
Seems to work fine for me..

![image](https://user-images.githubusercontent.com/39673000/110793131-3019ad00-826c-11eb-87f4-4da28eceb009.png)

Maybe you have another plugin active that might be conflicting maybe?

[2021-03-11 13:43] Bossman1337 commented on #29339
This is the expected behaviour.

You're entering the product prices **inclusive of tax** so no further calculation is done. If you want to enter them without the tax then the tax calculation will be done. Tested and working fine for me.

If you set **display prices during cart and checkout** to excluding tax, you will see whats happening.

[2021-03-11 13:48] AccuPixel commented on #29339
Hi – not sure I follow or agree.

Gross figures are entered (including tax) and gross figures (including tax) are set to display in shop and checkout.

But nett figures are displayed in shop – not gross as entered and contrary display settings.

If gross figures are to be displayed at all times (until cart sets tax rate based on territory) what are the correct settings?

Regards,

Simon Brown

Dir

[2021-03-11 13:49] Bossman1337 commented on #29336
I can confirm this. Looks like the CSS needs some work.

[2021-03-11 13:56] Bossman1337 commented on #29339
Hmmm, okay.. I think i follow. What are you product settings for tax? Maybe that's the issue?

![image](https://user-images.githubusercontent.com/39673000/110797844-78879980-8271-11eb-8762-34c5e353e3c2.png)

[2021-03-11 14:00] AccuPixel commented on #29339
All products as per the above.

Regards,

Simon Brown

Director - AccuPixel Ltd

+44 (0)1252 653 759

+44 (0)7910 243 499

Out now –  Online Metashape Standard Course endorsed by Agisoft:

https://accupixel.co.uk/courses/metashape-standard-edition/

AccuPixel Ltd is a limited company registered in England and Wales. Registered number 12671879. Registered office:- 94 Tavistock Road, Fleet, Hants. G

[2021-03-11 14:01] nikitabaliov opened #29342 "Woocommerce product attributes cannot associate icon from configuration menu!"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2021-03-11 14:03] Bossman1337 commented on #29339
Yes but on the edit product screen. **Product data > general tab**

[2021-03-11 14:06] AccuPixel commented on #29339
Yup – this one?

Regards,

Simon Brown

Director - AccuPixel Ltd

+44 (0)1252 653 759

+44 (0)7910 243 499

Out now –  Online Metashape Standard Course endorsed by Agisoft:

https://accupixel.co.uk/courses/metashape-standard-edition/

AccuPixel Ltd is a limited company registered in England and Wales. Registered number 12671879. Registered office:- 94 Tavistock Road, Fleet, Hants. GU51 4EZ

From:

[2021-03-11 14:09] Bossman1337 commented on #29339
I think whatever you are using to post to GitHub isn't showing correctly. I just see this.. Are you attaching images?

![image](https://user-images.githubusercontent.com/39673000/110799690-598a0700-8273-11eb-8e8d-d61db63a027b.png)

[2021-03-11 14:10] AccuPixel commented on #29339
Ah…embedding…my apologies…

Now attached.

Regards,

Simon Brown

Director - AccuPixel Ltd

+44 (0)1252 653 759

+44 (0)7910 243 499

Out now –  Online Metashape Standard Course endorsed by Agisoft:

https://accupixel.co.uk/courses/metashape-standard-edition/

AccuPixel Ltd is a limited company registered in England and Wales. Registered number 12671879. Registered office:- 94 Tavistock Road, Flee

[2021-03-11 14:12] jimmitjoo commented on #29340
I have deactivated all the other plugins but still gets the same product. I have also tried to install a pure installation with only Woocommerce activated and same problem.

I am using the roots/bedrock composer installation. So I am giving it a last try tonight with downloading the old fashion wordpress zip-file.

[2021-03-11 14:13] AccuPixel commented on #29339
<img width="819" alt="Screenshot 2021-03-11 at 14 05 55" src="https://user-images.githubusercontent.com/80451005/110800165-d74e1280-8273-11eb-94c3-9e8c3adcefa9.png">

(note to self - replying via email does not attach!)

[2021-03-11 14:13] opr opened #29343 "[GlobalStep] For Twenty Twenty One theme, "Sale" badge appears misaligned if "Products per row" is set to "1"."
@gglobalstep commented on [Wed Mar 10 2021](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3949)

## Bug Description:
For Twenty Twenty One theme, "Sale" badge appears misaligned if  "Products per row" is set to "1".

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox

[2021-03-11 14:26] nikitabaliov commented on #29342
We can set product attributes and we can include not only Name, Short name, Description, but the icon (thumbnail) in previous version of Woocommerce. The last versions do not give similar possibilities to upload or use any picture from gallery.  The steps to settings are: Products (left menu of Wordpress admin panel) -> Attributes -> Configure terms of given attribute -> Product editing. Here we c

[2021-03-11 14:34] jimmitjoo commented on #29340
Seems like that was the problem, still don't understand though.

[2021-03-11 14:34] #29340 closed

[2021-03-11 14:45] Bossman1337 commented on #29339
I can't reproduce this unfortunately. The only thing i can think of is a plugin/theme causing it, even though you said you have eliminated these.

[2021-03-11 14:45] gglobalstep opened #29344 "[GlobalStep][IE 11] Dark mode effect and label "Dark Mode:" not seen on Front end for Twenty Twenty One theme."
## Bug Description:
Dark mode effect and label "Dark Mode:" not seen on Front end for Twenty Twenty One theme.

## Environment:
Woocommerce Version: WooCommerce 5.1 and 5.0
WordPress version: (v5.7)

PC:
Windows 10
Browser:IE11(version: 20H2(19042.746))

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins
1. Complete the onboarding setup w

[2021-03-11 14:58] tkymuk commented on #20563
i am also having this issue. I have the email enabled in email settings. How do I go about fixing this?

[2021-03-11 16:16] peterfabian commented on #22706
I submitted the PR above (#29345). If you folks have the ability to test it out on your staging/test environments and provide feedback, it would be great! Thanks!

[2021-03-11 16:17] zhongruige commented on #29312
Hi Vic,

I just wanted to follow up with my testing on the Twenty Twenty-one theme and found the scheduling still worked as expected:

<img width="966" alt="Screen Shot 2021-03-10 at 1 30 33 PM" src="https://user-images.githubusercontent.com/71906536/110818498-8d9d0200-824a-11eb-9c10-81c8e3607155.png">

<img width="1122" alt="Screen Shot 2021-03-11 at 9 16 30 AM" src="https://user-images.githubuse

[2021-03-11 17:02] vicmich commented on #29312
Hi Vic,

I just wanted to follow up with my testing on the Twenty Twenty-one theme and found the scheduling still worked as expected:

Thanks, Greg. Haven’t had a chance yet to dig deeper... hope to later today. Will let you know if I discover anything.

[2021-03-11 17:03] opr opened #29347 "[GlobalStep] "Product Catalog" fails to display limit of 6 for "Products per row and Rows per page" field as displayed on Page Editor"
@gglobalstep commented on [Wed Mar 10 2021](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3948)

## Bug Description:
"Product Catalog" fails to display limit of 6 for "Products per row and Rows per page" field as displayed on Page Editor

## Environment:
Woocommerce Version: WooCommerce 5.1 and 5.0
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 8

[2021-03-11 17:22] #27553 closed

[2021-03-11 18:42] #29226 closed

[2021-03-11 19:44] lakellie commented on #29335
Thanks for checking this @zhongruige. Yes, that's the error.

On WordPress.com Atomic sites, memory limits are set to 256MB and there is no way to increase them (so this is happening consistently across all Atomic sites). Would it potentially be possible to improve how the block handles the images so that the large images don't require the use of so much memory?

[2021-03-11 20:28] zhongruige commented on #29335
Great, thank you so much for confirming @lakellie! I'll go ahead an flag this as bug so the engineers can take a look into it further.

[2021-03-11 20:53] zhongruige commented on #29030
Results have been documented.

pcr5Cj-jW-p2

[2021-03-11 20:53] #29030 closed

[2021-03-11 21:14] zhongruige commented on #29336
Hi @asumaran,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I tested the following on:
* WooCommerce 5.1
* WordPress 5.7

* I went to `Products > Add New`
* I clicked the up caret to move the Product Data block into the side bar:

<img width="1202" alt="Screen Shot 2021-03-11 at 2 08 45 PM" src="https://user-images.githubuserconte

[2021-03-11 21:26] zhongruige commented on #29342
Hi @nikitabaliov,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further. For example, this could be caused by a plugin conflict so providing the **WordPress Environment** details below will he

[2021-03-11 21:56] zhongruige commented on #29339
Thank you for helping to troubleshoot this issue @Bossman1337! I have also tried to follow the steps outlined by @AccuPixel and haven't been able to reproduce the issue. Everything is working as expected on my end.

I tested the following on:
* WooCommerce 5.1
* WordPress 5.7
* Storefront theme
* WooCommerce Shipping & Tax 1.25.8

### Replication steps

* I enabled tax in my account and set the fo

[2021-03-11 22:44] zhongruige commented on #29337
Hi @PetrusVermaak,

Thank for you reporting this issue! As this has to do with WooCommerce Admin, I will be moving this issue over to that repository for further investigation. Thank you!

[2021-03-11 22:45] zhongruige commented on #29338
Hi @PetrusVermaak,

Thank you for reporting this issue! Unfortunately, as we are deprecating this reporting section, we won't be making any more fixes, so I will be closing this issue.

<img width="1669" alt="Screen Shot 2021-03-11 at 3 39 10 PM" src="https://user-images.githubusercontent.com/71906536/110864941-0e2a2580-8280-11eb-85ce-eb11332a5e60.png">

[2021-03-11 22:45] #29338 closed

[2021-03-11 23:36] juliaamosova opened #29353 "Expand the Debugging tests section in WooCommerce Core e2e README"
Expand the [Debugging tests](https://github.com/woocommerce/woocommerce/tree/trunk/tests/e2e#debugging-tests) section in WooCommerce Core e2e README and provide real-life examples of how we debug e2e tests currently.

[2021-03-12 04:51] SiR-DanieL opened #29359 "Shipping Zone - Save changes button is disabled but unsaved warning is still shown when navigating out after adding a method."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-03-12 05:37] anant1811 commented on #25720
Also reported in 3799129-zen

[2021-03-12 07:33] scottknowls opened #29360 "Could not insert term into the database."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Experiencing error when trying to make a new value in product attribute. The error message is "Could not insert term into the database."

S

[2021-03-12 07:56] AccuPixel commented on #29339
@zhongruige & @Bossman1337 - many thanks for looking into this. Its the worst kind of "issue" and I will keep walking the path in search of its cause...
Strange thing is when I first enter the prices everything displays correctly...then "at some point" shortly afterwards it reverts to displaying nett values...

[2021-03-12 10:48] Bossman1337 commented on #29339
@AccuPixel "Strange thing is when I first enter the prices everything displays correctly"

So you're saying if you save the product then refresh the front end, it displays correctly (inc tax)? Then a short period of time it reverts (ex tax)?

[2021-03-12 11:43] lorenzoAWD commented on #27266
Problem solved with new version of WPML
https://wpml.org/forums/topic/woocommerce-multilingual-conflict-with-woocommerce-new-order-email/

[2021-03-12 11:50] AccuPixel commented on #29339
@Bossman1337 - let me prove out the behaviour in our test environment first.

[2021-03-12 12:11] DeanForde opened #29361 "sync store to different sites"
ive been shopping around for a plugin that can sync my existing store to another wordpress site i have created, wholesale & retail i want to copy my store contents from my existing store to my new retail one, i want to maintain products, stock levels etc, it would be great to have a multistore and be able to mark up prices etc

[2021-03-12 12:41] rodrigoprimo opened #29362 "Documentation on how to set up a development environment needs to be updated"
I believe that the wiki page that documents how to set up a development environment needs to be updated: https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment

It tells people to run `npm run build` to generate assets, but since https://github.com/woocommerce/woocommerce/pull/27312, this command generates a .zip file instead of compiling assets (cc @clau

[2021-03-12 12:47] erikdemarco opened #29363 "Webhook id for 'product.deleted' is wrong"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2021-03-12 12:55] #29363 closed

[2021-03-12 13:18] rrennick commented on #29362
When you are doing the initial set up `npm install` runs `npm run build:packages`. If any of the local E2E packages has its build files then the build is skipped for that package.

[2021-03-12 13:39] rodrigoprimo commented on #29362
Thanks for the clarification, @rrennick. I guess that just replacing `npm run build` with `npm run build:core` might be enough.

[2021-03-12 14:35] rrennick commented on #29362
See also #26953.

[2021-03-12 15:01] AccuPixel commented on #29339
@Bossman1337 & @zhongruige - I do not know if this helps or guides us to the source of the issue, but...

Price Display Suffix - no matter what the field contains - is no longer displaying in the shop or product pages.

This seems curious? I will continue to investigate, but does this help?

[2021-03-12 15:17] Bossman1337 commented on #29339
@AccuPixel Something seems to be overwriting the pricing if the display suffix doesn't show at all.

What theme are you using? Or is it custom?

[2021-03-12 15:21] AccuPixel commented on #29339
Theme is Ascension Version: 1.1.5

Config only. No customisation. We do not like customisation...

[2021-03-12 15:29] zhongruige commented on #29339
@AccuPixel

Thank you for clarifying! You mentioned you had a tests site you can use. I was curious if you were able to verify the same behavior is happening on the test site, and if so, if it is possible to switch theme theme from Ascension to Storefront [https://woocommerce.com/storefront/](https://woocommerce.com/storefront/) and see if that helps fix the issue? This will narrow down if it's th

[2021-03-12 15:34] Bossman1337 commented on #29339
@AccuPixel I installed the Ascension theme and is working as expected on my end.

I suspect this is pointing towards a plugin causing this. Can you list the plugins you have installed?

[2021-03-12 15:45] AccuPixel commented on #29339
List of plugins - those marked * have been disabled and tested. Either because they are most likely to be involved (cache, woocommerce related) or because they were added recently (easy updates).

*Easy Updates Manager
Version 9.0.8 | By Easy Updates Manager Team | View details

Export User Data
Version 2.1.3 | By Q Studio | View details

LearnDash LMS
Version 3.3.0.3 | By LearnDash | Visit plugin

[2021-03-12 16:25] zhongruige commented on #29360
Hi @scottknowls ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested on the following:

* WooCommerce 5.1
* WordPress 5.7

### Replication steps
* I navigated to Products > Attributes > and selected "Configure Terms"

<img width="798" alt="Screen Shot 2021-03-12 at 9 20 26 AM" src="https://user-imag

[2021-03-12 16:25] Bossman1337 commented on #29339
@AccuPixel thanks for that. The only thing that stands out to me is the **WooCommerce Shipping & Tax** i believe this automates taxes. Try and deactivate it and see if that works?

Docs here for that plugin: https://docs.woocommerce.com/document/woocommerce-shipping-and-tax/woocommerce-tax/

[2021-03-12 16:31] loranallensmith opened #29366 "Improvements to DocBlocks for the WooCommerce Code Reference"
**Is your feature request related to a problem? Please describe.**
The [core code reference](https://woocommerce.github.io/code-reference) that phpDocumentor generates from the DocBlocks in this repository contains many instances where additional detail could be helpful for developers.  For instance, the documentation for some functions only lists the [`Type`](https://docs.phpdoc.org/3.0/guide/ref

[2021-03-12 16:37] zhongruige commented on #29361
Hi again @DeanForde! Hope you've been well recently :)

Unfortunately this is a bit out of the scope of what we work on in GitHub (primarily focusing on bug reports, feature requests etc.), so I'll be closing this issue. That said, I did do a quick search and there seems to be a few plugins out there that may fit your needs. One of which is [WooMultistore]( https://woomultistore.com/). It might be

[2021-03-12 16:37] #29361 closed

[2021-03-12 16:44] zhongruige commented on #29321
Hi @Dokanp,

Thank you for your reply!

Just to clarify really quick, when you mentioned:

What issues were you seeing? Was this causing the Stripe payment issues, or, even after disabling the plugin, were you still seeing problems?

Thanks!

[2021-03-12 16:56] pjrfigueiredo commented on #22127
It worked for me!
 thanks @BaltasarParreira

[2021-03-12 17:07] zhongruige commented on #29187
Hi @majidempire,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-12 17:07] #29187 closed

[2021-03-12 17:07] zhongruige commented on #29230
Hi @hefawei,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-12 17:07] #29230 closed

[2021-03-12 17:22] zhongruige commented on #29359
Hi @SiR-DanieL,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I tested the following on:

* WooCommerce 5.1
* WordPress 5.7

### Replication Steps
* Go to WooCommerce > Settings > Shipping > Shipping zones
* Clicked "Add shipping zone"
* Filled out the Zone details and added a shipping method
* Verified the Save button was disabled

[2021-03-12 17:50] lomars opened #29367 "For woocommerce_new_order_email_allows_resend hook, argument should be set to true"
There seems to be a mistake with this newly added filter hook where main argument should be set as true as stipulated in the comment bloc.

https://github.com/woocommerce/woocommerce/blob/c2262ee3eff765f81d957a10f1cf08c7b4df4d46/includes/emails/class-wc-email-new-order.php#L99-L107

[2021-03-12 19:07] theprofessor101 opened #29368 "Manually Link Previous Orders Functionality Depreciated"
For stores that allow guest checkouts, if a customer creates an account after they've ordered, the guest's order remains disconnected from their new user account.

Ideally, this should happen automatically as documented in Issue [#29138](https://github.com/woocommerce/woocommerce/issues/29138).

For now, previous orders can be linked manually here:
**WooCommerce > Reports > Customers > Customer Li

[2021-03-12 19:07] theprofessor101 opened #32266 "Manually Link Previous Orders Functionality Depreciated"

[2021-03-12 20:00] roykho commented on #29367
Hi @lomars - The behavior of this filter by default is actually correct. It is the docblock that is wrong. A PR has been submitted to fix this issue. Thanks for reporting.

[2021-03-12 20:02] #29367 closed

[2021-03-12 20:22] mjgchase commented on #27424
Still broken after the update,
[code]

`incorrect integer value: '' for column `ciao_bellissima`.`wp_wc_admin_notes`.`is_deleted` at row 1`

[2021-03-12 20:55] #29261 closed

[2021-03-12 20:56] zhongruige commented on #29344
Thank you for reporting this issue @gglobalstep!

I was able to replicate this issue. On IE 11, the Dark Mode toggle button does not show as it should:

<img width="506" alt="Screen Shot 2021-03-12 at 12 01 53 PM" src="https://user-images.githubusercontent.com/71906536/110997398-9240e380-833a-11eb-9a30-e2f0ca6e2d5f.png">

I verified that on macOS, using the following browsers, the Dark Mode button

[2021-03-12 21:15] bobteree commented on #12899
I would like to set the default country for admin-created orders in WooCommerce (for bill to and ship to addresses). I have done this on the front-end for new users, but would like the same default in the admin order form. thx

[2021-03-12 21:25] zhongruige commented on #29344
WordPress Core, which the Twenty Twenty-one theme is a part of, is no longer supporting IE 11. See [this post](https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/). As a result, we'll be closing this issue.

[2021-03-12 21:25] #29344 closed

[2021-03-12 21:29] zhongruige commented on #29343
Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I tested on:

* WooCommerce 5.1
* WordPress 5.7

### Replication steps:

* I set up a new WooCommerce store and imported the sample products as part of the setup checklist.
* I enabled the Twenty Twenty-one theme and navigated to `Appearance > Customize` and in the customizer, to ` WooCo

[2021-03-12 22:38] #27788 closed

[2021-03-12 22:40] lomars commented on #29367
Fine, good.

Note that this new filter behavior a lot of people think that there is a bug with new order notification, as before it was possible to send this notification multiple times.
Thanks.

[2021-03-12 23:14] barryhughes commented on #29262
Tricky!

Quick note first of all—and you can already see this in the screenshots shared above, but just to call it out explicitly—apart from displaying in a single column/being sized differently, those additional products are missing price data and don't have `Add to Cart` buttons.

So in terms of which project is responsible, well, I guess it's a little subjective. _However..._ based on the fact

[2021-03-13 04:52] williamgh2019 opened #29372 "New WC home navigation doesn't work"
Hello Everyone,

I have staging Dev site and production site but in my Dev Site has new WC new home navigation as below

Dev Site 👇👇

![image](https://user-images.githubusercontent.com/17005582/111019426-b7445d80-83f1-11eb-9826-13e02ce9b695.png)

But why in my production site doesn't work?

Production Site 👇👇

![image](https://user-images.githubusercontent.com/17005582/111019440-d2af6880-83f1-11eb

[2021-03-13 05:06] ricardo opened #29373 "City is not a required field in Japan in Chrome - Payment Request API"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

This isn't necessarily a bug, and is not a problem with WooCommerce specifically, but I think the only way to fix this is by changing WooC

[2021-03-13 06:26] sudeeshts11 opened #29374 "Woocommerce Payment link sent to customer not showing afterpay as the payment option"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, maybe closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sear

[2021-03-13 07:45] PetrusVermaak commented on #27424
yep, still broken after update. EXTREMELY ANNOYING!!

[2021-03-13 09:39] jamodvipul opened #29375 "comm"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

[2021-03-13 09:40] jamodvipul commented on #29375
vujs

[2021-03-13 12:32] erikdemarco opened #29376 "'product.updated' webhook sent old product information."
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2021-03-13 21:42] zhongruige commented on #29375
Hi @jamodvipul,

Is there a bug, feature or other specific issue you wanted to report? If you can provide those details we can take a look. Thanks!

[2021-03-13 22:05] ouija opened #29377 "Replace refund price using .html vs .text"
**Is your feature request related to a problem? Please describe.**
When using the "refund" option in the WooCommerce Order edit page, there is HTML that is **not** being rendered as HTML due to WooCommerce updating the refund price in the button using the jQuery .text() vs .html() query, so when selecting a item to refund, it is displaying the price in the refund button as so:

<img src="https://i

[2021-03-13 22:25] Bossman1337 commented on #29375
@zhollenbeak I think his cat is asking for help..

[2021-03-14 02:05] galbaras commented on #29138
@theprofessor101 Actually, I can't see "Actions" on the reports page you've specified, and the only customers listed are those who are already users.

A notice on the page recommends using the new Analytics pages, but there's no customer report there and nothing relevant in the settings.

If there was ever a way to link guest posts to users after they register, attaching it to an action, and sched

[2021-03-14 11:30] stodorovic commented on #24303
Since [WP 5.2](https://make.wordpress.org/core/2019/04/24/miscellaneous-developer-updates-in-5-2/), there is new hook [wp_body_open](https://developer.wordpress.org/reference/hooks/wp_body_open/).

With little modification, we can improve performance for themes which supports _wp_body_open_:
[code]

Quick workaround (together with HTML5 improvement):
[code]
On this way, performance will be improve

[2021-03-14 13:06] DominatorCode commented on #27167
After updating to a last plugin and WP versions problem was solved

[2021-03-14 14:33] damiannep opened #29379 "Improve WooCommerce Accessibility - Strikethrough Price"
This enhancement request is to address an accessibility issue that came up in context of WooCommerce Subscriptions but has elements that are generally applicable to WooCommerce in 28028245-hc.

We had a merchant report a legal complaint that their subscription strikethrough price does not meet accessibility standards i.e. there is nothing in the subscription "strikethrough price" that tells screen

[2021-03-15 01:53] scottknowls commented on #29360
Thank you for your reply @zhongruige. Highly appreciated

For the product image, we used a plugin to add image in our swatches.

We already did the plugin deactivation but still the error is there.

Here is our Woocommerce Status Report

`
### WordPress Environment ###

WordPress address (URL): https://www.[hidden].com.au
Site address (URL): https://www.[hidden].com.au
WC Version: 5.1.0
REST API V

[2021-03-15 09:07] peterfabian opened #29381 "Update docs for e2e package to no longer refer to Travis"
We've migrated from Travis to GH actions, but the e2e test package still refers to Travis in some places, e.g. the docs on the setup in CI and makes use of Travis environment variables. It should be updated to our latest CI tooling.

[2021-03-15 09:55] probance-antoine commented on #29320
Hello,

Any update on this issue please ?

[2021-03-15 10:58] mensmaximus commented on #29379
Imho the old price should be excluded from screen readers at all (aria-hidden="true") because a strike through price is just a marketing instrument. People with viewing disabilities may get confused hearing two prices because they only want to hear what they have to pay. Consider this scenarios "Save 10%, pay 10$ instead of 11$" or "Old price of $11 is discounted now with 10%. Pay $10 now". Just s

[2021-03-15 11:50] ajgw opened #29382 "Few Bugs Safari 14 on Mac"
I do have trouble with All Products Block and Attributes Filter which do not seem to work. If I use beside WooCommerce Blocks Plugin Filter works as expected. I reported that to the WC Blocks Team and solved it using latest Blocks Plugin from them.

Today I had another issue as I would save SKUs on Variation Level. They did not save. SKU on Product Level was left empty because using in Variation.

[2021-03-15 12:16] gglobalstep commented on #28196
@juliaamosova We have observed this issue again for the following Environment:
Environment:
Woocommerce Version: WooCommerce 5.1 and 5.0
WordPress version: (v5.7)
WooCommerce Admin version: v2.1.3 and v1.9.0

PC:
Windows 10, Mac 10.14.6
Safari: v13.1.1

Video:
https://user-images.githubusercontent.com/41110392/111151987-35e9f800-85b6-11eb-8138-8a83ddf4636b.mp4

[2021-03-15 12:39] rrennick opened #29384 "Low stock threshold in api package"
Follow up issue to #29345. The low stock threshold field was missed in the api package.

[2021-03-15 14:22] benn0r opened #29385 ""Items sold" analytics includes refunds for trashed orders but not the trashed orders itself"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
"Items sold" analytics includes refunded trashed orderes. If an order is not trashed, the analytics include both the order and the refund e

[2021-03-15 14:22] benn0r opened #32265 ""Items sold" analytics includes refunds for trashed orders but not the trashed orders itself"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
"Items sold" analytics includes refunded trashed orderes. If an order is not trashed, the analytics include both the order and the refund e

[2021-03-15 14:22] vedanshujain commented on #29320
Hi, we discussed this internally, and as of now we don't support internal sort order within categories page. Note that, parent ids can be higher than their children (for egs, when they are added or modified manually), so this sort will not solve the use case.

This is possible using the [product category](https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-product-categories endpoint

[2021-03-15 14:22] #29320 closed

[2021-03-15 14:31] gerdneuman opened #29386 "Wrap product name with <span> and selectable "class" in checkout-review-order-table and email-order-items"
**Is your feature request related to a problem? Please describe.**

All our product names are set in UPPERCASE using CSS with `text-transform: uppercase;`. This works great except for the overview table on the checkout page, see

https://github.com/woocommerce/woocommerce/blob/54edb576d54bb4d4c163cf9d318d64699c1e93d4/templates/checkout/review-order.php#L38

and also not for the order items table i

[2021-03-15 14:42] vedanshujain commented on #29341
You are right that we don't support updating variations across multiple variable products yet. I don't think we would be able to get to this enhancement request anytime soon, because we are more interested in implementing https://github.com/woocommerce/woocommerce/issues/28453 which will take care of this request as well across all the endpoints and resources and not just variations.

Note that th

[2021-03-15 14:42] #29341 closed

[2021-03-15 15:03] larsenlarsson opened #29387 "wp_save_redirect in WC_Checkout::process_order_payment could lead to wrong redirect"
in this commit
https://github.com/woocommerce/woocommerce/commit/70202c35bdb1d3429270bcbda0d162c57963c445
you've changed `wp_redirct` to `wp_safe_redirct` in `WC_Checkout::process_order_payment`. If a 3rd-party-plugin executes a "non-AJAX-processing-order", `wp_safe_redirect` will be executed. But your **default PayPal interface** will redirect to an URL that is not allowed in `wp_validate_redirec

[2021-03-15 15:04] vedanshujain commented on #29299
Hi, thanks for raising this enhancement. Your suggestion is helpful but does not look it we will be able to support it:

1. changing from `billing_phone` to `_billing_phone` could break extensions and other plugins, because they would be expecting the field `_` in there.
2. adding `doing_it_wrong` is incorrect because someone might be exposing these fields intentionally behind some authentication

[2021-03-15 15:04] #29299 closed

[2021-03-15 15:34] #26678 closed

[2021-03-15 16:21] DanielRiera commented on #29324
Fix on 1.0.4

[2021-03-15 16:50] vicmich commented on #29312
Hi Greg

I did a few tests on the weekend, and haven’t managed to fix the issue.

All plugins deactivated except for WooCommerce.  Updated to 5.1.  Storefront theme.

Should I send an  updated status report?

The only thing I can see different from your test is I haven’t set an end date, but I know she had when the original problem occurred.

(Also noted that on second day after sale start, the pr

[2021-03-15 16:54] vicmich commented on #29312
Looks like screenshots didn't come through with email reply.  Below.
![woo](https://user-images.githubusercontent.com/1418229/111190463-7c772c80-858d-11eb-8a15-107fbe90cc64.jpg)
![admin table](https://user-images.githubusercontent.com/1418229/111190467-7d0fc300-858d-11eb-822a-13139f98678b.jpg)
![front end](https://user-images.githubusercontent.com/1418229/111190469-7da85980-858d-11eb-98d9-82f87469

[2021-03-15 16:56] rrennick opened #29388 "Remove WP test install from environment package"
The original POC PR for the E2E environment package from WC Admin included scripts for setting up PHPUnit tests. These aren't used in the environment package and should be removed.

[2021-03-15 17:22] juliaamosova commented on #29324
Thank you @DanielRiera!

[2021-03-15 17:37] rrennick commented on #29381
@peterfabian Thanks for reporting this. Because our E2E tooling is distributed as npm packages we will continue to support the Travis environment variables. However, we should add more generic support for other CI environments.

[2021-03-15 17:54] mdrovdahl opened #29389 "UX - Product Backorder Email Recipient Setting"
**Is your feature request related to a problem? Please describe.**
As a site-builder, I received "product backorder" emails that should have gone to my client and I wanted to change the recipient setting. It was frustrating trying to find the "Notifications recipient(s)" setting at "(wp-admin) WooCommerce > Settings > Products > Inventory". My first inclination was to look for it under "(wp-admin)

[2021-03-15 17:57] AccuPixel commented on #29339
@Bossman1337 - disabled WooCommerce Shipping & Tax and we still see nett price appearing in the shop.

[2021-03-15 19:24] erickvolles opened #29390 "When creating a product with variation it is returning as simple."
I am integrating via the integration manual but when I send you to create a product with variation, it is returning but it is not registering with the variations. He is registering as a simple product.
shipping example:
https://lamagiebrand.com.br/wp-json/wc/v3/products/batch

shipping
{"create":[{"name":"MORMAII CALCA MOLETOM PLUS 65019","type":"variable","description":"","sku":"32121437","regula

[2021-03-15 21:14] luissimo opened #29392 "Urgent v5.1.0 <-- Can't add Array datatype as value of meta key via Rest API"
Since the last release v5.1.0 we can't add array datatypes as meta value when creating new orders through the Rest API

-- [Rest API endpoint] (http://woocommerce.github.io/woocommerce-rest-api-docs/#create-an-order)

**Example request body:**
[code]

In this case meta_1 gets rejected and meta_2 gets added as meta data to the order.
Prior to release v5.1.0 it was accepting arrays and now it is not

[2021-03-15 21:31] theprofessor101 commented on #29138
@galbaras Hmm, interesting that you can't see it. I'm sure you're in the right area, but just by chance make sure you select "WooCommerce > Reports > Customers..." and not "WooCommerce > Customers". The organization is a little bit confusing.

In the screenshot below you'll see 3 icons in the right column. If there are orders to link, there will be a 4th icon for "Link Previous Orders".

![Custome

[2021-03-15 23:55] galbaras commented on #29138
I definitely went to the right place, but there were no linkable orders where I looked. Found it now. Awesome function. I hope it will stay when the reports area is removed...

[2021-03-15 23:59] offminded commented on #25805
I had the same issue. Woocommerce dashboard was blank and console had the same react error. The following fixed the issue for me:
- Update wordpress to latest version (5.7)
- Disable and re-enable the woocommerce plugin

[2021-03-16 00:23] NomadAndInLove commented on #27911
I'm experiencing the same issue on my show. Issue only happens when more than 1 of the same item is ordered.

[2021-03-16 10:04] orangutangle opened #29394 "Duplicated variable products don't return product variations in search results when searching by SKU in admin"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2021-03-16 10:55] Spreeuw opened #29395 "File log handler crashing on fclose()"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The log hangler for logging to files (WC_Log_Handler_File) crashes on `fclose()` when the return of `fopen()` is not checked:

https://gith

[2021-03-16 13:26] #27884 closed

[2021-03-16 14:06] mccoyg commented on #27911
@NomadAndInLove I think the file/path is: wp-content/plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php. I hand-typed that path so please verify.

[2021-03-16 14:12] NomadAndInLove commented on #27911
@mccoyg Apologies. I'm obviously blind. I have already tested your patch by replace the code on line 172 and it works 100%. Is there a way to create a snippet via the functions.php file on my Child Theme so that I don't have to replace this line every time WooCommerce updates?

[2021-03-16 14:21] mccoyg commented on #27911
@NomadAndInLov Sorry. I thought it would have been updated by now. I don't know if there is a filter to tie into. You might need to create a sub-class of WC_REST_Orders_V2_Controller?

[2021-03-16 14:40] NomadAndInLove commented on #27911
@mccoyg I'm running Version 5.0.0 of WooCommerce. I haven't updated it to 5.1.0. Are you saying the issue has been resolved by WooCommerce?

Anyway, I'll see if I can create a snippet for it and post it on Stackoverflow in case someone else needs a fix for it.

[2021-03-16 14:45] mccoyg commented on #27911
@NomadAndInLove sounds good. Please link the stackoverflow link here. I am unsure they (woocommerce) will ever update this and  I might need to refer back to it at some point.

[2021-03-16 14:50] NomadAndInLove commented on #27911
@mccoyg Will do. I'll post it here as soon as it's up on Stackoverflow.

[2021-03-16 14:50] NomadAndInLove commented on #27911
@mccoyg I'll also like back here from my post on Stackoverflow so it's easy to follow this issue.

[2021-03-16 15:06] DeanForde opened #29398 "inserting images to product categories via rest API"
Hi I am trying to fetch category images from one store and upload them to the categories in a new store, they use the same categories, ive noticed an issue where by the images dont seem to be adding and i dont know if its code related or an issue

from woocommerce import API
import json

wholesale = API(
    url="",
    consumer_key="",
    consumer_secret="",
    wp_api=True,
    version="wc/v3"

[2021-03-16 15:46] rrennick opened #32118 "Add support for updating to nightly"
WooCommerce core now generates a [nightly build](https://github.com/woocommerce/woocommerce/archive/nightly.zip). We should add support for updating to the nightly build.

[2021-03-16 16:03] Master4752 commented on #29147
I am having the identical issue every night:
An error of type E_ERROR was caused in line 207 of the file/wp-content/plugins/woocommerce/includes/data-stores/class-wc-data-store-wp.php. Error message: Maximum execution time of 30 seconds exceeded

My max execution time is 60 seconds though.

[2021-03-16 16:36] robin-scott commented on #27911
@rrennick - came here from a core Slack discussion. In my opinion, this line should be rounded.

[2021-03-16 16:45] mccoyg commented on #27911
@rrennick the wc_format_decimal() method is taken straight from the earlier in that class (line 162). seems like an easy merge by core.

[2021-03-16 16:49] robin-scott commented on #27911
`wc_format_decimal ` rounds the number to `woocommerce_price_num_decimals` if this is left blank (as it is in this case). FYI - https://woocommerce.wp-a2z.org/oik_api/wc_format_decimal/ - it's super useful in many places.

https://github.com/woocommerce/woocommerce/blob/a7bceeb50f7686c6a1ae4a226bfce64a26bdb076/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php#L172

Ther

[2021-03-16 16:53] mccoyg commented on #27911
@robin-scott could you give an example of which filter should be used to hook into that controller?

[2021-03-16 17:13] schmitzoide commented on #27911
Maybe something like this (not tested!)?

[code]

[2021-03-16 17:18] mccoyg commented on #27911
@schmitzoide. Hmm, not seeing  any reference to this filter in woocommerce: 'wc_get_price_decimals_for_rest_api'. Can you point out where the definition of this filter is?

[2021-03-16 17:19] robin-scott commented on #27911
@mccoyg right now, the filter doesn't exist (yet) to allow this. It should be optional, as some users may need this to be not rounded if they have taxes applied.

The order meta stored for the line is subtotal, total and qty - which we divide to get a unit price. We're talking about a core change here - adding a filter - not a filter which (currently) exists.

[2021-03-16 17:20] robin-scott commented on #27911
For the time being, your suggested workaround will achieve this, but shouldn't be applied in all cases - hence the discussion is to add a filter to allow you to override the default, which doesn't work for your case.

[2021-03-16 17:22] schmitzoide commented on #27911
@mccoyg The `wc_get_price_decimals_for_rest_api` filter would be a suggestion to create a new one for the particular case of the REST API output.

[2021-03-16 17:22] mccoyg commented on #27911
@robin-scott. copy that. Just trying to get as much information in this thread as possible to help others who happen upon this.

[2021-03-16 17:23] robin-scott commented on #27911
@mccoyg No problem at all - you've basically flagged the exact place to put the filter and given the correct hook :)

[2021-03-16 19:04] #29398 closed

[2021-03-16 19:41] KnowYourselves commented on #29035
Hello @barryhughes!

I'm having the same problem. I have a local instance of woocommerce (following [this guide](https://github.com/woocommerce/woocommerce/wiki/How-to-set-up-WooCommerce-development-environment)) and I can't get the webhooks to work with local urls (for testing).

I understand the code you have shared, and I kind of get why it should work, but I'm really new to the world of wordpr

[2021-03-16 20:26] Beee4life opened #29400 "PHP Notice: Trying to get property 'post_type' of non-object"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I got a "Trying to get property 'post_type' of non-object" entry in my error logger after I activated the plugin [MailChimp For Wordpress](

[2021-03-16 20:32] Beee4life commented on #29400
The function (in Wordpress) where the error occurs is:
[code]

Both var_dumps are added by me. If I dump `is_singular()` it shows true (in the admin on the MC4WP settings page) and `is_admin()` shows false.

[2021-03-16 20:42] NomadAndInLove commented on #27911
@mccoyg I've updated my question on Stackoverflow. I've also linked my question to this post.

[2021-03-17 00:21] ecottles opened #29401 "PLEASE CLOSE THIS TICKET AS THE ISSUE HAS BEEN RESOLVED IN CURRENT VERSION"
**Prerequisites (mark completed items with an [x]):**
- [X] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

PLEASE CLOSE THIS TICKET AS THE ISSUE HAS BEEN RESOLVED IN CURR

[2021-03-17 01:07] #28490 closed

[2021-03-17 03:19] hubert0504 commented on #22706
Hi, @peterfabian I'd prefer it to be empty. As you said it will be the least confusing.

[2021-03-17 03:22] d3v3lop3rDE opened #29402 "Make the ReST API list all products independent from the option to not show out of stock products"
**Is your feature request related to a problem? Please describe.**
I want to list all of my products via the rest API, but they are filtered when the option to not show out of stock products is active

**Describe the solution you'd like**
Please make it independent from this option, as the endpoint doesnt deliveres what it promises

**Describe alternatives you've considered**
None

**Additional co

[2021-03-17 07:59] #22706 closed

[2021-03-17 07:59] #27371 closed

[2021-03-17 08:35] shirin1268-french commented on #29339
Hi AccuPixel,
Do you find any solution? I have also the same issue, but I enter the prices "excluding taxes" and want them to be shown "include taxes" but after a while, they are shown without taxes. I deactivated also "Woocommerce-shipping-and-taxes" but it didn´t help.

[2021-03-17 08:38] #29163 closed

[2021-03-17 09:28] tomvangyseghem opened #29404 "Woocommerce 5.1.0 and Wordpress"
Hi,

I updated my woocommerce plugin on my Wordpress site and gave me an error.
My hostingplatform managed to get my dashboard up and running, but I cannot activate the Woocommerce plugin as it continues to give me an error.

WordPress version 5.7
Current theme: Twenty Seventeen (version 2.5)
Current plugin: WooCommerce (version 5.1.0)
PHP version 7.3.12

Any help would be great (I am not a develo

[2021-03-17 09:38] peterfabian commented on #27686
Yup, it might if we manage to reproduce it. Have you checked this with only the WooCommerce plugin active (i.e. other plugins were inactive)?

[2021-03-17 10:13] Rahe opened #29405 "Replace services lookup ip for http"
Hello,

All the lookup ip services are available in https, but the values are still in http://  in the code https://github.com/woocommerce/woocommerce/blob/trunk/includes/class-wc-geolocation.php#L47
I think we can update them for the https version since they are all available.

Generating in some cases :

Nicolas,

[2021-03-17 10:42] Bossman1337 commented on #29339
@AccuPixel and @shirin1268-french - What is your **default customer location** set to? You can find this here: **WooCommerce > Settings > General**

[2021-03-17 10:52] AccuPixel commented on #29339
@shirin1268-french - not resolved it yet...still looking.

@Bossman1337 - "No location by default" is set.

[2021-03-17 10:59] shirin1268-french commented on #29339
Hi,
default location is "Copenhagen". I change the language for the next picture.
![default costumer location](https://user-images.githubusercontent.com/80815690/111457138-1e2a8500-8718-11eb-9f3d-d7efa2d72c68.JPG)
![woocommerce general setting](https://user-images.githubusercontent.com/80815690/111457142-1ec31b80-8718-11eb-8b0f-de37c0588e8b.JPG)

[2021-03-17 11:00] shirin1268-french commented on #29339
we are located in Denmark and sell just in Denmark.

[2021-03-17 11:05] Bossman1337 commented on #29339
@AccuPixel Have you tried setting it to **shop base address**? That might be why..

[2021-03-17 11:28] AccuPixel commented on #29339
@Bossman1337 - Now I have set it...we may have found the source...I will monitor, but it looks like we may have a solution.

Thank you for your assistance with this - much appreciated.

[2021-03-17 11:31] Bossman1337 commented on #29339
@AccuPixel I think that would have been it. I tested locally and logged out and reproduced it. If there is no location set then it can't calculate the tax (It doesn't know where the person is).

If set to your shop address then it calculates from that for everyone.

[2021-03-17 11:46] shirin1268-french commented on #29339
Thank you so much for your assistance.
I treid it both with " shop base address" "customer billing/ shipping Address". but it doesn't work.  so the price in the catalog is without tax. what must be with tax.
http://frenchpharmacy.dk.linux206.dandomainserver.dk/

[2021-03-17 11:49] shirin1268-french commented on #29339
@Bossman1337 , How can I check wp-cron?? :)

[2021-03-17 11:58] Bossman1337 commented on #29339
@shirin1268-french If you can post a new issue (following the instructions on what is needed) then it will save any confusion with this post. It is a similar problem but might be something different causing your issue.

[2021-03-17 12:34] usama-govsoft opened #29407 "Refund api using Woocommerce rest api gives server error (500)"
This is the documentation provided by the Woocommerce.

https://woocommerce.github.io/woocommerce-rest-api-docs/?javascript#create-a-refund

Whenever i hit refund, it gives me code error of 500.

The Code :

export const addRefundAmountInOrder = (orderId) => async (dispatch) => {
  let data = {
    amount: "10.00",
  };
  try {
    const res = await api.post(`orders/${orderId}/refunds`, data);

[2021-03-17 12:40] roykho commented on #28996
Closed via #29397

[2021-03-17 13:15] vicmich commented on #29312
Thought testing a totally new product, vs. using an existing one, would be worth a try.  Same behavior.

Start date of March 17, end date of March 19, sale price should be $10.

https://canadianpetconnection.e.wpstage.net/shop/bird-products/test-product/

[2021-03-17 13:59] gevcen commented on #18395
This is an absolutely critical must-have since the new Core Web Vitals.

[2021-03-17 14:32] #28488 closed

[2021-03-17 14:48] gglobalstep opened #29408 "Bullets added in product description are not formatted in Twenty Twenty- One"
## Bug Description:
Bullets fails to reflect on front-end when added in product description for "Twenty Twenty- One" theme

## Test Instructions:
Critical Flows-Add Simple Product to Cart
https://github.com/woocommerce/woocommerce/wiki/Critical-Flows

## Environment:
Woocommerce Version: WooCommerce 5.1 and 5.0
WordPress version: (v5.7)
WooCommerce Admin version: v2.0.2

PC:
Windows 10, Mac 10.14.

[2021-03-17 14:53] gglobalstep opened #29409 "[GlobalStep] "Select Options" button for variable product appears misaligned when added it in a grouped product on frontend"
## Bug Description:
"Select Options" button for variable product appears misaligned when added in a grouped product on frontend  for "Twenty Twenty-One" and "Twenty Nineteen" theme

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)
WooCommerce Admin version: v2.0.2

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.1

[2021-03-17 15:00] gglobalstep opened #29410 "[GlobalStep] No spacing between "Search" and "All Products" block on front end"
## Bug Description:
No spacing between "Search" and "All Products" block on front end for "Twenty Twenty-One" and "Twenty Twenty" theme

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)
WooCommerce Admin version: v2.0.2

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any test s

[2021-03-17 15:04] gglobalstep opened #29427 "[GlobalStep] "More" block on Pages/Post and "Read More" block on product description fails to work on frontend"
## Bug Description:
"More" block on Pages/Post and "Read More" block on product description fails to work on the frontend

## Test Instructions:
Critical Flows-Add Simple Product to Cart
https://github.com/woocommerce/woocommerce/wiki/Critical-Flows

## Environment:
Woocommerce Version: WooCommerce 5.1 and 5.0
WordPress version: (v5.7)
WooCommerce Admin version: v2.0.2

PC:
Windows 10, Mac 10.14.6

[2021-03-17 15:08] gglobalstep opened #32264 "[GlobalStep] "Review" count fails to update until user refresh the full page on "WooCommerce->Home" Page"

[2021-03-17 15:28] barryhughes commented on #29035
Hi @KnowYourselves—so long as you are positive that the underlying problem is the same, you could modify the snippet I shared as needed and then add it as a [custom plugin](https://developer.wordpress.org/plugins/) (and there may be other solutions, too, but this way is pretty standard).

Just to set expectations, though, I do want to quickly note [we cannot provide support](https://github.com/woo

[2021-03-17 15:28] #29035 closed

[2021-03-17 16:36] #28830 closed

[2021-03-17 16:43] #28516 closed

[2021-03-17 16:59] MayKato opened #29411 "Out of stock threshold doesn't work properly when stock level is above the threshold - it allows all remaining stock to be purchased"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Out of stock threshold doesn't work properly when stock level is above the threshold - when out of stock threshold is set to 2 (for example

[2021-03-17 17:05] ibrahimkholil opened #29412 "Woocommerce variation separator(different price and image for different variation)"
I want to make a frontend view like this:
![image](https://user-images.githubusercontent.com/22941791/111507638-0c2aff80-8775-11eb-8c5e-462709beabd6.png)
user can purchase the single variable product, how can i make this, Please give me your wise suggestion

Thanks

[2021-03-17 20:46] #29048 closed

[2021-03-17 22:47] juliaamosova opened #29414 "Write new e2e test: Merchant - Extensions - Can initiate WCCOM connection"
Write a new e2e test that covers the following flow:

- Merchant - Extensions - Can initiate WCCOM connection

[2021-03-17 22:57] juliaamosova opened #29415 "Write new e2e test: Shopper - Cart - Calculate shipping address"
Write a new e2e test that covers the following flow:

- Shopper - Cart - Calculate shipping address

[2021-03-17 22:58] juliaamosova opened #29416 "Write new e2e test: Shopper - Cart - Add to cart redirects to cart when enabled"
Write a new e2e test that covers the following flow:

- Shopper - Cart - Add to cart redirects to cart when enabled

[2021-03-17 23:00] juliaamosova opened #29417 "Write new e2e test: Shopper - Checkout - Login to existing account"
Write a new e2e test that covers the following flow:

- Shopper - Checkout - Login to existing account

[2021-03-17 23:01] juliaamosova opened #29418 "Write new e2e test: Shopper - Checkout - Create an account"
Write a new e2e test that covers the following flow:

- Shopper - Checkout - Create an account

[2021-03-17 23:02] juliaamosova opened #29419 "Write new e2e test: Shopper - My Account - Create an account"
Write a new e2e test that covers the following flow:

- Shopper - My Account - Create an account

[2021-03-17 23:04] juliaamosova opened #29420 "Write new e2e test: Shopper - Email - Customer order detail emails received"
Write a new e2e test that covers the following flow:

- Shopper - Email - Customer order detail emails received

[2021-03-17 23:09] Mauricio-Urrego opened #29421 "Layered Nav Dropdown - Form Action Trailing Slash Incompatible With Custom Permalink Structures Set Up Without Trailing Slashes."
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

A specific line of code found in class-wc-widget-layered-nav.php layered_nav_dropdown function does not check for user preference of trailing slashes in permalink. This causes a redirect in order for it to stay consiste

[2021-03-18 04:18] adammascherin commented on #27247
When will this be fixed? I'm running a site with primarily variable products with no parent product images. I saw that the commit was reverted bc it didn't solve the problem everywhere. Is anyone following up with this?

[2021-03-18 09:58] vedanshujain opened #29423 "GH Action for automatically milestoning PRs when they are merged"
**Is your feature request related to a problem? Please describe.**
It's very important to track what PRs are included with what release for transparency and easier look back. Right now this process is manual and is therefore subjected to manual mistakes.

**Describe the solution you'd like**
A GH action which automates this, and assign PR with newest milestone when they get merged.

[2021-03-18 10:32] tammullen commented on #29404
Hi @tomvangyseghem

Can you give more details of the error you are seeing. Ideally a screenshot or video of what happens when you try to activate WooCommerce.

Can you also please check if there are any errors in the browser console? In Chrome, you can open the console by navigating to View / Developer / JavaScript Console from the main menu when in Chrome.

Finally can you give us details of any

[2021-03-18 11:47] philippbara commented on #16431
Hi @mikejolley! I am managing my product lists thorugh Excel outside of Woocommerce environment and on changes I import the excel with the woocommerce default importer. I am also managing my stock with [Woocommerce Stock Manager](https://wordpress.org/plugins/woocommerce-stock-manager/) plugin. In the Excel I set:

1. The Column "In Stock" to 1
2. The column "Stock" to "Yes"
3. The column "Backord

[2021-03-18 12:37] Ylli2020 opened #29424 "Put Kosovo in Woocommerce"
Please put Kosovo in the shipping addresses, as Kosovo is an independent country since February 17, 2008 and is recognized by 116 countries worldwide. Millions of people every day in our country use woocommerce and we cant find Kosovo in shipping addresses.So please put Kosovo in shipping adresses.
![image](https://user-images.githubusercontent.com/62018849/111627030-efcba900-87ee-11eb-9467-225ff2

[2021-03-18 18:57] #29343 closed

[2021-03-18 20:41] lomars opened #42671 "The filter hook woocommerce_loop_add_to_cart_link doesn't work"
The filter hook `woocommerce_loop_add_to_cart_link` doesn't work on WooCommerce Blocks involving a product loop like Best selling products,  Products by category …

For example I am using this hooked function:
[code]
It works everywhere on WooCommerce product loops, on WooCommerce shortcode `[products]` replacing add to cart button with a button linked to the single product page. But has no effect

[2021-03-18 22:39] Ylli2020 commented on #29424
Kosovo is independent

[2021-03-19 00:05] jeremyfelt opened #29428 "Aggressive `set_time_limit()` use lowers maximum execution time and leads to unexpected behavior in CLI"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

This exists in a few parts that have all come together to help my confusion. Sorry for the detail. 😄

With WooCommerce activated, whenever

[2021-03-19 05:22] loorlab opened #29429 "fatal: pathspec - Filename too long - GIT"
Hi Friends, please check this long url ---> /wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-select-control.js' did not match any files

Fail in GIT

$ git clean -fd
 fatal: Cannot lstat 'production/wp-content/plugins/woocommerce/packages/woocomme rce-blocks/assets/js/atomic/blocks

[2021-03-19 05:43] loorlab commented on #29429
Solution for WIN:

*Git bash - Administrator Mode*

git config --system core.longpaths true

git config --global core.longpaths true

[2021-03-19 08:02] 5c0rp10 commented on #28364
@FuegoConQueso Thank you brother for the solutions, you saved my day.
@woocommerce Please fix the issue asap, its been months

[2021-03-19 08:32] AashikP opened #29430 "Upgrading from 4.9 or lower version - Cannot update db version to 5.1.0"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

If you're upgrading from WooCommerce 4.9 or lower, your DB version stays at 5.0.0 and does not reach 5.1.0

**Expected behavior**

DB vers

[2021-03-19 10:44] wayheming opened #29433 "Ditching jQuery?"
Hello WooCommerce team,
Can you please tell me if you ever plan to abandon jQuery? At least on the frontend so that we can also abandon it and stop connecting it on the page.
Thank you.

[2021-03-19 10:45] wpniall opened #29434 "Importing cross-sell variable products using built-in Product CSV Importer and Exporter: First imported cross-sell product shows `Import placeholder`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Importing cross-sell variable products using the WooCommerce built-in Product CSV Importer and Exporter results in the first imported cross

[2021-03-19 11:51] DeanForde opened #29435 "Product Import does not update product if sku has white space"
in a rush, so excuse the ticket, however, I had 6000+ products in a csv that I downloaded from a wholesale site, I wanted to modify the prices for a retail site so I made the changes in the csv and uploaded to my retail site only to find some of the products updated and some didn't. After further inspection I noticed that it seems to be that some of the products have custom SKU's where the format

[2021-03-19 12:00] DeanForde commented on #29361
sorry I meant this as a feature request haha the plugin you suggested does work very well also as I had already purchased it, I managed to resolve it however, thank you, would you remind removing this issue from the logs if you wouldnt mind?

[2021-03-19 12:57] #29395 closed

[2021-03-19 13:13] roykho commented on #28520
This is actually the issue with Twenty Twenty theme. And it looks like they will not try to fix this and states it is working correctly. Ref. https://core.trac.wordpress.org/ticket/48765

For this reason I am closing this as the fix needs to be from them.

[2021-03-19 13:13] #28520 closed

[2021-03-19 13:28] rrennick opened #29437 "Empty cart before E2E cart related tests"
When one of the early cart/checkout coupon tests leaves a coupon in the cart, it breaks the coupon tests that follow. The cart should be emptied at the beginning of each cart/checkout test.

A secondary consideration would be deleting all existing coupons before running coupon related tests. This could be done using the API as we currently do with products.

![screenshot_of_failed_test](https://us

[2021-03-19 13:37] roykho commented on #29430
So we've discussed this before and we're still in need to come up with a long term solution to this. But meanwhile if the DB version doesn't match, it is quite normal. So for an interim "fix" for this -- we will update the tooltip to note that the version may not be the same and it is normal.

[2021-03-19 14:16] zhongruige commented on #29361
Oh gotcha, thanks for following up @DeanForde!

Glad you were able to get it resolved 😄 I can go ahead and delete this issue if that works!

[2021-03-19 14:18] andreigusan opened #29439 "Reports error"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

Reports for sales by category are broken (Leaderboards > Top Ca

[2021-03-19 15:36] DeanForde commented on #29361
I would really appreciate it, keeps my activity clean 😅😂

On Fri, 19 Mar 2021 at 14:16, Greg ***@***.***> wrote:

[2021-03-19 15:38] zhongruige commented on #29361
@DeanForde got it! Deleting it now :)

[2021-03-19 16:09] bbceg commented on #16450
Hoping this can be reconsidered with the follow use-case:

Occasionally it's useful to pull down copies of a live site for use in development and elsewhere (e.g. a staging environment). Naturally I don't want any customer/order data to be included in these environments.

It's really helpful to have a few simple commands to delete this data. I suppose I could write some loops to keep checking until

[2021-03-19 18:28] sanzeeb3 commented on #29400
I could not reproduce the error with above steps, but that's a familiar error.

[2021-03-19 20:56] pcfreak30 commented on #29080
I just hit a similar issue thats forcing me to fork the file as I need to change behavior and I cannot modify the prototype.

The "class" should be exposed.

[2021-03-19 21:10] chukran opened #29442 "orders sent to trash change status to finalized"
I found a simple bug in woocommerce when selecting some orders and sending them to the trash a few times they change the status to "completed."

I noticed this a few times and was sure I had sent the orders to the trash.

[2021-03-19 21:12] jbeales commented on #28364
This has been driving me mad all day, I'm glad I found out why it's happening.

For the root cause: WooCommerce modifies the UID used to create nonces if a cart exists for a user. However, in class-woocommerce.php's init function there's [these couple of lines](https://github.com/woocommerce/woocommerce/blob/a46e889e3732a89f576cdcb900ef3aabc31254e6/includes/class-woocommerce.php#L602-L605):
[code]

[2021-03-19 21:19] danieldudzic commented on #29424
Hi @Ylli2020,

You should be able to add Kosovo as a WooCommerce country using the following code snippet:
[code]

You can read more about it here: https://docs.woocommerce.com/document/add-a-new-country-to-countries-list/

[2021-03-19 21:46] juliaamosova commented on #29442
Hi @chukran,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2021-03-19 21:52] juliaamosova commented on #29439
Hi @andreigusan,

Thank you for reporting the issue. The analytics section of WooCommerce is a part of WooCommerc Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

While you wait for the team to reply:

Can you please specify what is broke

[2021-03-19 22:12] juliaamosova commented on #29412
Hi @ibrahimkholil,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2021-03-19 22:12] #29412 closed

[2021-03-19 22:23] juliaamosova commented on #29385
Hi @benn0r,

Thank you for reporting the issue. The `Analytics` section of WooCommerce is a part of WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-03-19 22:30] juliaamosova commented on #29373
Hi @ricardo,

Thanks for reporting the issue and sorry for the delayed response! I am adding the `needs developer feedback` label here so that one of the engineers on the WooCommerce Core team could take a look further.

[2021-03-19 22:34] juliaamosova commented on #29372
Hi @williamgh2019,

Thank you for reporting the issue. New WooCommerce navigation is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-03-19 22:36] juliaamosova commented on #29368
Hi @theprofessor101,

Thank you for reporting the issue. The `Analytics` section of WooCommerce is a part of WooCommerce Admin functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2021-03-19 22:40] juliaamosova commented on #29375
Hi @jamodvipul,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:40] #29375 closed

[2021-03-19 22:41] juliaamosova commented on #29342
Hi @nikitabaliov,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:41] #29342 closed

[2021-03-19 22:44] juliaamosova commented on #29321
Hi @Dokanp,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:44] #29321 closed

[2021-03-19 22:45] juliaamosova commented on #29316
Hi @kathy330,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:45] #29316 closed

[2021-03-19 22:47] juliaamosova commented on #29298
Hi @jbendsen69,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:47] #29298 closed

[2021-03-19 22:47] juliaamosova commented on #29296
Hi @atulmarketer,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:47] #29296 closed

[2021-03-19 22:47] juliaamosova commented on #29291
Hi @specterdesigns,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:47] #29291 closed

[2021-03-19 22:48] juliaamosova commented on #29273
Hi @Jimather,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:48] #29273 closed

[2021-03-19 22:49] juliaamosova commented on #29257
Hi @GlazerGallery,

Thanks for your follow-up and sounds good!

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 22:49] #29257 closed

[2021-03-19 23:01] rickfisk commented on #19182
This error can also happen when your live key does not get stored. I had the same issue as described. I had tested payments in test mode which worked as expected, reset to live mode, pasted in the live secret but the live key I pasted in was not the live key. So the value wasn't stored in the database (it filters on pk_test and won't save the key).

When I went into settings for stripe, I saw that

[2021-03-19 23:15] juliaamosova commented on #29256
Hi @GlazerGallery,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 23:15] #29256 closed

[2021-03-19 23:16] juliaamosova commented on #29243
Hi @Ayush-Agarwal123,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 23:16] #29243 closed

[2021-03-19 23:18] juliaamosova commented on #28747
Hi @pondandlake,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 23:18] #28747 closed

[2021-03-19 23:19] juliaamosova commented on #28218
Hi @frederikcs74,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 23:19] #28218 closed

[2021-03-19 23:23] juliaamosova commented on #27101
Hi @strarsis,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 23:23] #27101 closed

[2021-03-19 23:24] juliaamosova commented on #27070
Hi @Peter-27,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 23:24] #27070 closed

[2021-03-19 23:25] juliaamosova commented on #26203
Hi @jamacon36,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-19 23:25] #26203 closed

[2021-03-20 04:23] premiumlion commented on #27424
I usually hide these annoying notifications that don't go away using CSS.

The issues arises when you need to do a manual database update, or some other important error notification, that ends up getting hidden indefinitely because of CSS.

Either way, these sticky repeating notifications need to be fixed ASAP

[2021-03-20 08:12] amritansh24 opened #29445 "Better hook to clear cart instead of 'get_header'"
**Is your feature request related to a problem? Please describe.**
When an order with no payment needed got placed (or in some cases of payments as well when gateway doesn't clear cart), the method to empty the cart hooked on 'get_header' handle. This handle in WordPress only works when the template loaded called 'get_header()'. Which is not the requirement of course. For the template having no he

[2021-03-20 15:58] queoferton opened #29446 "postalcode are hidden for Guatemala"
We updated woocommerce to version: 5.1 in Guatemala and we cannot se the postalcode during checkout. Please solve ASAP.

[2021-03-20 16:12] ecottles commented on #27504
Hello,

The following fix as described in 4.9

Stock management fixes:

3. Only adjust line item stock when order is in `processing`, `completed` or `on-hold` status state, because we need to reduce stocks on these status only. Stock adjustments in refunds or when changing statuses is already taken care of by their specific hooks.

Please add filter here as we use custom order statuses.

Good Day

[2021-03-20 18:13] ecottles opened #29448 "Order line item adjust stock is limited to statuses processing, completed & on-hold."
Hello,

Adjust line item stock is limited to statuses processing, completed & on-hold.

Stock can no longer be adjusted with custom order statuses as a result of the change.

The following fix as described in 4.9

Stock management fixes:

3. Only adjust line item stock when order is in `processing`, `completed` or `on-hold` status state, because we need to reduce stocks on these status only. Stock

[2021-03-20 18:25] blessedhealthynatural opened #29449 "Product Not Synced with Square"
I have 321 products in my website inventory.  In February, I believe, I added a category called Gemstones & Crystals.  Since then, non of the products in that category have been syncing with Square.
Additionally, some items that were added from other categories since February are not fully updating in Square.  For example, the pictures for the products have not updated or are completely missing.
I

[2021-03-20 18:32] dangoriaynov opened #29450 "Woocommerce Slack is constantly querying API for available groups"
Woocommerce Slack plugin is constantly making querying to the Slack API to get the groups created.
However when no groups are created - then empty value is stored in the DB. This is causing another calls to be made to Slack API (up to 20 API calls for 1 page navigation)
Keep in mind that groups functionality is limited to Slack Premium accounts only.

This is the actual code making API calls - it

[2021-03-20 19:15] iamarpitpatidar opened #29451 "woocommerce title templates having issues override with child themes"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Woocommerce templates are working great. except the title template. Its not overriding, to check I tried changing the classes, title tag (H

[2021-03-20 23:31] davidhealey commented on #17983
A user should at least have access to their orders, the things they can see when they log in to the website...

[2021-03-21 09:33] hrshamim opened #29453 "Create new Customer when create new order from Woocommerce Admin Add order page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

[2021-03-21 16:38] jbeales commented on #23682
#28364 is part of the same problem.

[2021-03-21 18:27] nerrad opened #29455 "Fix address locale information for Singapore."
@Andrewkow commented on [Sat Mar 06 2021](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3926)

## What do you like about the Cart & Checkout blocks?
Nice layout design and checkout flow!

## What do you think is missing from the Cart & Checkout blocks?
If we could set the "City" field to be required field that would be great because some user they miss out the field.

[2021-03-21 18:31] nerrad commented on #29455
To whoever reads this issue, this was moved from the Blocks repository because it was realized once details were discovered that the problem is more of a configuration issue for the locale information around Singapore in core.

[2021-03-21 19:34] juliaamosova commented on #29435
Hi @DeanForde,

Thanks for raising the issue!

I believe space is not allowed in SKU, however, I am adding `needs developer feedback` label on this issue to get a confirmation from one of the Core developers.

Once we get the confirmation, we should update the docs to include the right answer:

https://docs.woocommerce.com/document/managing-products/#section-5

[2021-03-21 20:15] juliaamosova commented on #29434
Hi @wpniall,

Thank you for submitting the issue. However, I can’t reproduce it. Everything is working as expected on my end. However, I believe some of the steps to reproduce the issue are missing.

Please see the screen recording below that shows the steps that I am taking. What I am doing there is exporting products from one site to another brand new site with no products. I can't select the `U

[2021-03-21 20:32] juliaamosova commented on #29411
Hi @MayKato,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

I can order 5 items as suggested in your steps to reproduce the issue instead of 3.

However, I am slightly confused at the description of the `Out of stock threshold` - it suggests that it is possibly expected that 5 items can be ordered on the items that are in stock:

<

[2021-03-21 20:35] juliaamosova commented on #29427
Adding the `needs developer feedback` label here so that one of the Core developers could confirm expected behavior.

**Tl;dr:** The Read More tag of the Classic WordPress Editor doesn't work in the Product Description. See the gif that shows my experience below:

http://g.recordit.co/4putp98Ypz.gif

Is it expected behavior or is it a bug?

[2021-03-21 20:50] juliaamosova commented on #29409
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

**Twenty Twenty One theme - in general looks good but as the size of the screen gets reduced, the text on the button `Select Options` doesn't get scaled properly:**

![](http://g.recordit.co/d7rE53qHn3.gif)

**Twenty Twenty - looks good:**

![](http://g.recordit.co/bs7

[2021-03-21 20:55] juliaamosova commented on #29408
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

**Twenty Twenty One theme - bullet points list doesn't work:**

![](http://g.recordit.co/Dty7NvKPEz.gif)

**Twenty Twenty theme - bullet points list works:**

![](http://g.recordit.co/DmLYeZyF3F.gif)

We won’t be able to include this fix in the upcoming release due to

[2021-03-21 20:59] juliaamosova commented on #29401
Hi @ecottles,

Thanks for raising the issue! Glad to hear it's been resolved for you.

Thanks! I'll go ahead and close this thread. Please feel free to comment back in case you'd like us to take a look further.

[2021-03-21 20:59] #29401 closed

[2021-03-21 21:35] juliaamosova commented on #29394
Hi @orangutangle,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Note that during the following step:

I did not see the parent product. Only variations as expected.

I did not need to enter SKU as the modified SKU was already present.

Here is a screen recording demonstrating my experience:

https://us

[2021-03-21 21:40] juliaamosova commented on #29389
Hi @mdrovdahl,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Ccing @vedanshujain here as the issue was raised internally on Team 51.

[2021-03-21 21:46] juliaamosova commented on #29382
Hi @ajgw,

Thanks for raising these issues. However, it will be great if you open a separate thread for each of them so they can be addressed accordingly. Thanks!

[2021-03-21 21:54] juliaamosova commented on #29376
Hi @erikdemarco,

Thanks for raising the issue. I see that you are using pretty outdated versions of both WooCommerce and WordPress:

- You are using WordPress 5.5.3 which was released on October 30, 2020. The latest version is 5.7
- You are using WooCommerce 4.5.2 which was released on September 14, 2021. The latest version is 5.1

Please update both and let us know if the issue persists.

[2021-03-21 21:56] juliaamosova commented on #29374
Hi @sudeeshts11,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin `Afterpay Gateway for WooCommerce`.

Please contact the author of the plugin directly for further help.

[2021-03-21 21:56] #29374 closed

[2021-03-21 23:41] michylee commented on #28752
Hi. Same bug.
WordPress 5.7
WooCommerce 5.1.0

I hope you can fix it soon please.
Many thanks.

[2021-03-22 03:19] danieldudzic opened #29456 "All (Gutenberg) Themes: "Shop page" content breaks full-width blocks and other misc issues"
## Summary

"Shop page" content experiences the following issues:

* No blocks appear in full width, the whole page is "boxed"
* Any contact forms created with the Form block are broken, showing the shortcode instead
* The page title appears on the page, regardless of the option selected in the customizer to hide it (in Varia)

## Steps to replicate

1. Create a page with full-width Blocks
2. In W

[2021-03-22 08:17] vedanshujain commented on #29373
Looks like city is not a required field as per [Google's business API](https://developers.google.com/my-business/content/japan-address-format-spec) and prefecture is. We can add a `required => false` prop in `class-wc-countries as well for city field in JP.

[2021-03-22 08:52] vedanshujain commented on #29411
It's intentional to allow the shoppers to complete the purchase even if the remaining stock is below the threshold is actually intentional. This is because if we have a setting for displaying remaining stock to the shoppers in the product page, so for shops where out of stock threshold is set, and if they are also displaying remaining stock to customers, it would be a very bad user experience for

[2021-03-22 08:52] #29411 closed

[2021-03-22 09:27] derMrEagle commented on #29411
Good day -

thank you for that explanation.

Maybe this option should come with a secondary option - out of stock threshold - not included in sellable stock.
for now I created a duplication of all my products - and put them as a hidden item with 2 stock items each. And added them to a own category to overcome this issue…
Hope that one day a out of stock feature will be available where this stock i

[2021-03-22 13:04] #29430 closed

[2021-03-22 13:45] mdrovdahl commented on #29389
Sounds good. Certainly not an urgent matter from my point of view.

[2021-03-22 13:58] wpniall commented on #29434
Hi @juliaamosova Thanks for your feedback. I'll need some time respond and try to explain things a bit better, as I found the issue a little hard to explain.

[2021-03-22 14:28] senff opened #29457 "Dropdowns/selects not positioned properly when admin bar is visible"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When you're logged in as an admin or Store Manager, and your profile is set so that the Toolbar at the top of the page is visible, dropdown

[2021-03-22 14:38] #29457 closed

[2021-03-22 14:40] aharonach commented on #29457
Thanks for pointing this out here!
I found that it's related to jQuery version 3.x, which returns `$('html').offset()` as `{top: 32, left: 0}` instead of `{top: 0, left: 0}` as it was on jQuery 1.x.
The "selectWoo" gets into account those values when no "dropdownParent" option is set.
I also opened an issue on jQuery's repository regarding this issue:
https://github.com/jquery/jquery/issues/4863

[2021-03-22 14:47] orangutangle commented on #29394
Huh. I had changed themes and disabled plugins but I just tried reproducing the issue on a clean install and I couldn't, so I must have missed something.

The problem on my configuration is caused by sku = NULL in wp_wc_product_meta_lookup table. I noticed that there are also lots of empty postmeta records in the database, i.e. each product variation has an entry with meta_key = '_sku' and meta_va

[2021-03-22 15:17] vedanshujain commented on #29377
@ouija we looked into the code but since the filter is added externally we cannot do anything in the code to fix it because:

1. it uses `text` instead of `html` for security reasons so changing this is not advisable.
2. `woocommerce_price_format` actually expects a string instead of an HTML. this is how it's being used across the code base, so changing it to account for HTML isn't without sideeff

[2021-03-22 15:17] #29377 closed

[2021-03-22 15:45] vedanshujain commented on #29336
Note that we have to test the fix with multiple languages as well.

[2021-03-22 15:46] jackmcconnell commented on #27795
Thanks @EngKhaledB,
The problem I've had is knowing where the user registration occurred - did it happen through WooCommerce, or another plugin, or via the default WordPress registration form page?

I can test to see if WooCommerce is active on the site but I can't assume that all registrations come through one plugin.
If you know of a way I can see where the user registration originated from, I m

[2021-03-22 15:48] vedanshujain commented on #29336
Note: Reducing the priority to low since this is not a very common user behavior.

[2021-03-22 16:07] Bossman1337 commented on #29336
Hmm, i think this should still be classed as **priority: high** as it affects the whole user base although not critical. Whether it's used or not is pure opinion. Unless you have direct stats for this..

[2021-03-22 16:26] jonathansadowski commented on #29325
Note from planning:

We're going to shift the priority of this to low and focus on addressing this in 2020, leaving 2021 as-is.

For 2020, we're going to make the input align with the button the same way it does as the search box that appears below:

![image.png](https://images.zenhubusercontent.com/5e7912a264525528179004a5/528e9775-0541-4c91-8dc4-2a0af1f8638f)

[2021-03-22 17:03] orangutangle commented on #29394
I solved my issue by:

1. Clearing empty _sku entries from the postmeta table, since they are no longer used since #22773:
[code]
2. Running the Regenerate Product Lookup Tables tool.
3. Fixing the erroneous sku = NULL values in the wp_wc_product_meta_lookup table:
[code]

Now search by SKU works.

But there is a problem with wc_update_product_lookup_tables - perhaps the issue should be renamed?

[2021-03-22 17:33] Siemwagemans opened #29460 "WooCommerce "enable auto updates" option not available on some sites"
I'm posting this bug report at the request of the WooCommerce plugin support after opening a ticket at wordpress.org
https://wordpress.org/support/topic/cant-enable-woocommerce-auto-updates/#post-14217729

For some websites, the WooCommerce auto updates option isn't available.
This issue only occurs in existing sites, not in new WordPress + WooCommerce installations.
Normally there should be an op

[2021-03-22 20:54] tammullen commented on #28344
Hi @taropaa,

I'm closing this issue as it has been resolved in WooCommerce Subscriptions.

Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-22 20:54] #28344 closed

[2021-03-22 21:27] tammullen commented on #29450
Hi @dangoriaynov

Thanks for raising this.   
While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.
The issue you are having seems to be caused by the WooCommerce Slack plugin which is one of the paid products on our marketplace.

I have checked and the issue you are having has already been raised as a bug in t

[2021-03-22 21:27] #29450 closed

[2021-03-22 21:28] tammullen commented on #29453
Hi @hrshamim ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2021-03-22 21:34] tammullen commented on #29446
Hi @queoferton,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/29123. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2021-03-22 21:34] #29446 closed

[2021-03-22 22:52] ldr2273 commented on #29213
Reported in 27951635-hc. Looking for a status request update.

[2021-03-23 06:09] AashikP commented on #29430
Thank you for the fix @roykho  and @vedanshujain.

I think this arises a question about how to identify the latest version of the WooCommerce database if it no longer matches the WooCommerce version?

[2021-03-23 06:39] databuzz opened #29461 "REST API to include 'modified_before' and 'modified_after' parameter support"
**Is your feature request related to a problem? Please describe.**
I need to query the WooCommerce REST API for any Products which have been modified since a specified timestamp, and pull those down and update our internal inventory systems. The current list of parameters for [listing all products](http://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products) includes `after` and `bef

[2021-03-23 06:45] databuzz opened #29462 "REST API to include 'since_id' parameter support for listing all Orders"
**Is your feature request related to a problem? Please describe.**
I need to query the WooCommerce REST API for any new Orders that have been created since the last ID that we have downloaded into our internal CRM system, and pull those down and update our internal systems for shipping etc. The current list of parameters for [listing all orders](http://woocommerce.github.io/woocommerce-rest-api-do

[2021-03-23 11:00] priya-webkul opened #29463 "Unable to load Analytics settings."
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Under Analytics-> The settings submenu in the Analytics menu is not loading and if the user goes to any other submenu after visiting it, then ot

[2021-03-23 11:33] INKBookNook opened #29464 "I can't install WooCommerce on my Wordpress account"
My Template is StoreFront. I get this error when I Activate WooCommerce.

Fatal error: Uncaught Error: Class 'WC_Data' not found in /home4/inkboook/public_html/wp-content/plugins/woocommerce/packages/woocommerce-admin/src/Notes/Note.php:15 Stack trace: #0 /home4/inkboook/public_html/wp-content/plugins/jetpack/vendor/jetpack-autoloader/class-php-autoloader.php(87): require() #1 [internal function]:

[2021-03-23 11:34] erikmolenaarnl commented on #28711
I solved it with this awesome honeypot plugin: https://wordpress.org/plugins/honeypot/

[2021-03-23 11:46] #29464 closed

[2021-03-23 12:00] queoferton commented on #29123
¿Any news on this issue? Can you guys solve it please!

[2021-03-23 12:08] tammullen commented on #29455
Thanks @nerrad

Hi @Andrewkow,

Thanks for raising this issue.

This was updated in 2019 to have the city as an optional field https://github.com/woocommerce/woocommerce/issues/23865 (previously it was optional but it was hidden https://github.com/woocommerce/woocommerce/issues/21016)

We are going to discuss this further with the core team and will report back here afterward.

[2021-03-23 12:10] Andrewkow commented on #29455
Alright, thanks for the update.

On Tue, 23 Mar 2021, 8:08 pm Tam Mullen, ***@***.***> wrote:

[2021-03-23 14:05] mikdid opened #29465 "XDebug error with Woocommerce 5"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2021-03-23 15:48] DeanForde commented on #29398
issue in my code can you remove this ticket please

[2021-03-23 15:59] ricardo commented on #29373
@vedanshujain, thanks for digging into this.

Other than Japan, I noticed there are several inconsistencies between the available fields in the address registration form in Safari and Chrome, and the required fields in WooCommerce.

I've done some digging here for the Payment Request feature in WooCommerce Payments, and there are inconsistencies between different browsers too (Safari and Chromium

[2021-03-23 16:04] #27750 closed

[2021-03-23 16:24] asoap commented on #28373
I just tested the plugin and it did not change the woocommerce_order_itemmeta table.

It also barely decreased the postmeta table.  It went from 3,599,538 records to 3,575,509

Not much of an improvement.

[2021-03-23 16:37] InternetPresence opened #29466 "Coupon Code set to Private causes no coupon exists error message"
In the past, there used to be a link where you can view all available coupons on the website. Hence public and private view settings when you create a coupon. Right now, there is no link to view available coupons so this public/private setting may no longer be needed.

Right now if you set a coupon to private and try to apply it at checkout you get an error message stating that the coupon does not

[2021-03-23 16:46] #27233 closed

[2021-03-23 17:53] tammullen commented on #29456
Hi @danieldudzic

Thanks for raising this.

I can reproduce this by creating a new page using full-width template and then setting it to be the shop page.
![Screenshot_2021-03-23_at_17_45_37](https://user-images.githubusercontent.com/24649833/112194102-7540c600-8c00-11eb-9632-314f3a1e295b.png)
![Screenshot 2021-03-23 at 17 45 55](https://user-images.githubusercontent.com/24649833/112194116-783bb68

[2021-03-23 18:36] tammullen commented on #29460
Hi @Siemwagemans

Thank you for raising this issue.

This is happening because WooCommerce disables auto-updating if any WooCommerce extensions exist on your website that are untested (ie haven't declared support for the new version of WooCommerce).

I'm adding the needs `developer feedback label` to get input from the core team if this is a bug and if the `wc_prevent_dangerous_auto_updates` https

[2021-03-23 19:39] tammullen commented on #29449
Hi @blessedhealthynatural

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce Core bugs only.

The issue you are having seems to be caused by the WooCommerce Square plugin which is one of the products on our marketplace. To get further technical support for it, please contact WooCommerce helpdesk by [opening a ticket](

[2021-03-23 19:39] #29449 closed

[2021-03-23 19:49] blessedhealthynatural commented on #29449
Thank you for your response.

On Tue, Mar 23, 2021, 2:39 PM Tam Mullen ***@***.***> wrote:

[2021-03-23 19:50] tammullen commented on #29463
Hi @priya-webkul

Thanks for raising this issue, Analytics is part of WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
This issue has already been raised there and a fix should be available in WooCommerce 5.2.
https://github.com/woocommerce/woocommerce-admin/issues/6549

[2021-03-23 19:50] #29463 closed

[2021-03-23 20:40] lukecav commented on #28373
@asoap

Did you preserve or migrate postmeta when you migrated orders?

https://github.com/liquidweb/woocommerce-custom-orders-table#migrate-order-data-from-post-meta-to-the-orders-table

[2021-03-23 21:21] allendav opened #29471 "Completing checkout with Cash on Delivery ( COD ) unexpectedly leaves order in processing state"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I was surprised to see that if I use COD as my payment method to complete checkout that the order is left in "Processing." Our [docs](https

[2021-03-23 21:31] allendav commented on #29471
Ah. I see I read the history too quickly and came to the wrong conclusion about the rationale for https://github.com/woocommerce/woocommerce/pull/15268/files - it isn't meant to leave the order in a state, but to indicate what state === paid. That said, it still seems to me that 1) COD orders should not be left in processing or 2) we should update our docs

[2021-03-23 21:37] ChaosFreak commented on #17655
@bradholmes-studio,
It is customary to post how you solved a problem so that the entire community can benefit. This is not a one-on-one support channel, but a community designed to help everyone.
Could you please post how you were able to resolve this issue? There are many other people who need the solution.

[2021-03-23 21:39] Houzvicka commented on #22127
It works for me too!
Thanks to @BaltasarParreira

[2021-03-23 21:54] heese commented on #20526
Just in case someone stumbles over this thread and is frustrated about the lack of documentation and examples. The following command worked for me to enable the test mode of my custom payment gateway `points`:
[code]

[2021-03-23 23:46] asoap commented on #28373
@lukecav

I ran the command "wp wc orders-table migrate" which from reading the documentation does not preserve the original post_meta data after a migration.

[2021-03-24 06:53] wpniall commented on #29434
@juliaamosova I've updated the report to hopefully make it easier to understand and replicate, as I do think I missed out a few key points here. Please let me know if you have any further questions or issues.

[2021-03-24 07:41] pacmanito commented on #25743
Please update select2 to current version cause the outdated version has a lot of deprecated jQuery.

[2021-03-24 08:10] Konamiman opened #29472 "REST API tax create/update endpoint needs to support "postcodes" and "cities" fields"
https://github.com/woocommerce/woocommerce/pull/27751 introduces two new fields for the get taxes endpoint of the REST API: `cities` and `postcodes`. For consistentcy we should now add support for the same fields in the tax creation/update endpoints.

[2021-03-24 08:59] patel-satish commented on #27585
@juliaamosova

hi, any update on Indian Currency Number Format,

7 months has passed since last communication. I hope you #woocommerce is working on it.

[2021-03-24 10:28] s-oliver opened #29473 "CLI installation no longer possible since 5.0.0"
Using the following steps, I was always able to automatically install WooCommerce (works fine with WooCommerce 4.6.1 for example)

[code]
This would install and activate the WooCommerce extension, create a product and set up everything so that it was buyable.

Starting from version 5.0.0 however, the install and activate still runs fine: `wp plugin install woocommerce.zip --activate` and the plugi

[2021-03-24 12:41] webdados opened #29475 "New order needs_shipping method"
Products have a method called `needs_shipping` that returns false when the product is virtual.
The cart has the same method that returns false when all products on it also return false to the `needs_shipping` method.

I think we need that same method on orders.
We currently have the `needs_shipping_address` method that looks into the order for shipping methods and doesn't use the same logic used i

[2021-03-24 13:14] lenamtl opened #29476 "Display attribute slug with attribute name in backend dropdown"
Hi,

I have around 50 attributes called "Color" with different slug.
That would be very helpful to be able to see the attribute name + slug when adding the attribute to the product (in the admin backend)
As there are 50 color attribute into the list, it may be hard to find the appropriate one.
That is probably not something not commun but that could be an option to display it or not as it is possi

[2021-03-24 13:29] rrennick commented on #28185
This can be accomplished using [jest-circus](https://www.npmjs.com/package/jest-circus) and the environment variable `E2E_RETRY_TIMES=2`.

[2021-03-24 14:20] elizaan36 commented on #29267
More examples of the legacy WooCommerce color to be part of this update:
Settings toggles and icons:
<img width="1989" alt="Screen Shot 2021-03-12 at 12 21 25 PM" src="https://user-images.githubusercontent.com/5121465/112325839-05731f80-8c82-11eb-84dd-95416f7b5dba.png">

NUX/empty states primary actions
<img width="1561" alt="Screen Shot 2021-03-16 at 8 25 41 PM" src="https://user-images.githubuse

[2021-03-24 14:30] umbrossino95 opened #29478 "The woocommerce quick-setup wizard does not appear"
I clicked on the woocommerce settings plugin, clicked '' help '' and '' setup wizard '' but a blank page appeared.

[2021-03-24 15:12] tammullen commented on #26921
Apologies for the long delay in replying @northernbeacheswebsites

The settings I used are
![Screenshot 2021-03-24 at 15 10 40](https://user-images.githubusercontent.com/24649833/112334174-230cad00-8cb3-11eb-8b98-ae11c6aeb695.png)
![Screenshot 2021-03-24 at 14 58 25](https://user-images.githubusercontent.com/24649833/112333996-fbb5e000-8cb2-11eb-8a17-c8aa9ef197db.png)
![Screenshot 2021-03-24 at 15

[2021-03-24 15:35] loranallensmith commented on #25524
Howdy everybody!  :wave:  I just wanted to follow up here with a link to a recent post on the WooCommerce Developer Blog about work happening on variation filtering.

That post is available at: https://developer.woocommerce.com/2021/03/23/exploring-variation-filtering-and-custom-tables/

[2021-03-24 17:00] rodel-calasagsag commented on #29004
Hi @juliaamosova as discussed with @tammullen,
I noticed that we already have an e2e test for this. I'm referring to this test - https://github.com/woocommerce/woocommerce/blob/40506dfcc5beac5f93558bcabaf3262cac9ee3f7/tests/e2e/core-tests/specs/merchant/wp-admin-product-new.test.js#L64

But we can make this test a bit more comprehensive though, by adding steps to:
1. Hover on the "Virtual" checkbo

[2021-03-24 17:55] Abdalsalaam commented on #27686
@peterfabian
@dphyled
I tested it with clean environment just WordPress and WooCommerce
Result : the same

since this issue appear, I fixed it with temporary code to reduce usage count after rest-api order created!!
![image](https://user-images.githubusercontent.com/19236737/112360226-228c0a80-8ce3-11eb-8628-6c56f785b87b.png)

[2021-03-24 18:15] peterfabian commented on #27686
Thanks for reporting back!

cc @vedanshujain

[2021-03-24 18:19] tammullen commented on #26883
Hi @jbrenner99

Apologies for the delayed reply.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Revie

[2021-03-24 18:19] #26883 closed

[2021-03-24 18:24] tammullen commented on #26825
Hi @Lmannano

Apologies for the delayed reply.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [W

[2021-03-24 18:24] #26825 closed

[2021-03-24 18:26] gglobalstep opened #29481 "[Globalstep-WooCommerce 5.2 Beta] "WooCommerce 5.2.0 beta 1" version fails to display as "Selected" on WC beta tester switch versions screen."
## Bug Description:
"WooCommerce 5.2.0 beta 1" version fails to display as "Selected" on WC beta tester switch versions screen.

## Environment:
Woocommerce Version : WooCommerce 5.2 beta
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all

[2021-03-24 18:28] gglobalstep opened #29482 "[Globalstep-WooCommerce 5.2 Beta] On Installed plugins page, "There is new update for WooCommerce" message is displayed under WooCommerce plugin even if the WooCommerce version is switched to the latest version."
## Bug Description:
On Installed plugins page, "There is new update for WooCommerce" message is displayed under WooCommerce plugin even if the WooCommerce version is switched to the latest version.

## Environment:
Woocommerce Version : WooCommerce 5.2 beta
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.

## Steps To Reprodu

[2021-03-24 18:32] gglobalstep opened #29483 "[Globalstep-WooCommerce 5.2 Beta] Steps fails to update on "WooCommerce setup" widget on dashboard as per the finished onboarding tasks."
## Bug Description:
Steps fails to update on "WooCommerce setup" widget on dashboard as per the finished onboarding tasks.

## Test Instructions:
https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-5.2#add28568-dashboard-widget---setup-29174

## Environment:
Woocommerce Version : WooCommerce 5.2 beta
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome

[2021-03-24 18:34] bizkjota opened #29484 "Cart not updated if I click back button in browser"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
I have seen that the cart is not updated if the buyer click "b

[2021-03-24 18:56] rrennick commented on #28647
I'm not seeing this in most test runs so I'll close it. If it starts happening again we can reopen.

[2021-03-24 18:56] #28647 closed

[2021-03-24 19:03] tammullen commented on #26806
Thanks @daveloodts for the feedback, apologies for the delay in replying.

I'm going to close this as it appears that the issue is resolved.

[2021-03-24 19:03] #26806 closed

[2021-03-24 19:05] tammullen commented on #26788
Hi @FAL-Italy

Apologies for the delayed reply.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [

[2021-03-24 19:05] #26788 closed

[2021-03-24 19:09] #29238 closed

[2021-03-24 19:09] #29332 closed

[2021-03-24 19:13] tammullen commented on #26751
Hi @renatoharo and @maltravois

Apologies for the delayed reply.

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I can add notes with carriage returns and new lines.

![Screenshot 2021-03-24 at 19 11 38](https://user-images.githubusercontent.com/24649833/112370144-f10c4280-8cd4-11eb-9269-f2bfcc88ca18.png)

[2021-03-24 19:42] tammullen commented on #26683
Hi @PaulCyberEngel

Apologies for the delayed reply.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Rev

[2021-03-24 19:42] #26683 closed

[2021-03-24 19:55] tammullen commented on #26681
Thanks @kvolchkov for the extra information

Apologies for the delay in replying.

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

![Screenshot 2021-03-24 at 19 51 22](https://user-images.githubusercontent.com/24649833/112375105-ca510a80-8cda-11eb-84d5-6fed63929b92.png)

Are you still experiencing this is

[2021-03-24 19:59] tammullen commented on #26655
Hi @santanup789

Apologies for the delay in replying.

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code que

[2021-03-24 19:59] #26655 closed

[2021-03-24 20:02] tammullen commented on #26653
Hi @noackmedia

Apologies for delay in replying.

It looks like this issue is resolved so I am closing this issue for now. If I missed something, please leave a comment and we will take a second look.

[2021-03-24 20:02] #26653 closed

[2021-03-24 20:18] tammullen commented on #26650
Hi @nesearin,

Apologies for the delay in replying.

Are you still experiencing this issue?

[2021-03-24 20:42] tammullen commented on #26626
Hi @mouligreenlaw and @bnilsou

Apologies in the delay in replying.

This issue is also being discussed here https://github.com/woocommerce/woocommerce/issues/28870. We are closing this issue to group the conversation. Please continue sharing your feedback there if needed.

[2021-03-24 20:42] #26626 closed

[2021-03-24 20:43] tammullen commented on #28870
More reports here: https://github.com/woocommerce/woocommerce/issues/26626

[2021-03-24 20:49] tammullen commented on #27158
Hi @Pottsies

Apologies for the delay in replying

Thanks for this update, while our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only. It sounds like the issue you are having seems to be caused by the 3rd party plugin Divi builder. Please contact the author of the plugin directly for further help.

I'm going to close

[2021-03-24 20:49] #27158 closed

[2021-03-24 20:54] tammullen commented on #26622
Hi @jaygaga

Apologies for the delay in replying

Are you still experiencing this issue? Can you try with the current release of WooCommerce.

[2021-03-24 21:11] tammullen commented on #26601
Hi @dimitriBouteille

Apologies for the delay in replying

Thank you for taking the time to share this idea, we really appreciate your help.
​
While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In th

[2021-03-24 21:11] #26601 closed

[2021-03-24 21:26] tammullen commented on #26442
Hi @joshuaiz

As a part of this repository’s maintenance, I am closing this issue as it seems to be resolved. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-03-24 21:26] #26442 closed

[2021-03-24 22:09] tammullen commented on #27611
Hi @glagonikas

Apologies for the delay in replying.

https://github.com/woocommerce/woocommerce/wiki/How-Taxes-Work-in-WooCommerce#defining-prices

I believe this confirms this is the expected behaviour

[2021-03-24 22:35] tammullen commented on #26397
Hi @AashikP

Sorry for the long delay in replying.

From: https://github.com/woocommerce/woocommerce/wiki/How-Taxes-Work-in-WooCommerce

So to your point

I believe we are still looking at the expected behaviour here that "defined including tax, we are referring to the taxes of the store's base country."
In your example of entering an inclusive price of $195, because no tax rates defined in rates

[2021-03-24 22:36] tammullen commented on #26397
Going to close this for now as I think this is expected behaviour.

[2021-03-24 22:36] #26397 closed

[2021-03-24 23:00] #28700 closed

[2021-03-24 23:51] Mauricio-Urrego commented on #29421
Hi @juliaamosova thanks for labeling this issue. Just thought I might mention linked #29422 again here in this comment because the checks for it initially did not pass for reasons unrelated to the change. I have triggered the checks again now and they have all passed successfully. Perhaps the PR got overlooked before because of the failing tests :)

[2021-03-25 04:52] ricardo commented on #29373
I did some more research into each specific country for the Payment Request address dialog in Chrome, and I found that Chrome does not provide a city field for these countries, while WC expects it:
- JP (Japan)
- MO (Macao)
- TN (Tunisia)
- KY (Cayman Islands)
- GI (Gibraltar).

To test it, simply go to chrome://settings/addresses.

[2021-03-25 08:11] s-oliver commented on #29473
I found the solution thanks to a hint from rrennick on Slack, the link I used to get the release package was wrong, it actually contained just the source files (I just used the link I always did and switched version numbers without actually checking the content), so when I pull woocommerce from thinks link everything works as before
https://github.com/woocommerce/woocommerce/releases/download/5.1.

[2021-03-25 08:11] #29473 closed

[2021-03-25 08:20] #28914 closed

[2021-03-25 09:17] rajeshsingh520 opened #29487 "On the Order view page in Admin end we cant modify the coupon link/title if that coupon is virtual coupon"
We are adding a coupon using this way

https://gist.github.com/rajeshsingh520/82168a0e7bf8178b4af1df5377bf8508

everything works file but on the Admin side we want to show the coupon name and link it to our different coupon edit page

https://imgur.com/a/tO3ffTH

https://github.com/woocommerce/woocommerce/blob/23710744c01ded649d6a94a4eaea8745e543159f/includes/admin/meta-boxes/views/html-order-item

[2021-03-25 09:20] vvapour opened #29488 "Order Status."
I have a small annoying bug that I am sure other woocommerce users must have.
The issue is simply this;- Now and again, an order that has been shipped and updated to "shipped", will revert back to  "processing".
I noticed this happens when a customer visits their account. What they do to trigger this, I have no idea, but I have to change the status back to " Shipped" again. I do not know if this r

[2021-03-25 09:44] zigang93 commented on #26289
any manual/hardcode way to change this weird behaviour? I agreed that the validation should definitely be triggered on coupon add, not order complete action.

[2021-03-25 10:06] edvinassss98 opened #29490 "cURL error 60: SSL certificate problem: unable to get local issuer certificate, webhooks"
Hello, i have a question about webhooks. For some reason i can't manage to send webhooks to my website. At the start it was because it was because i was running server on locally and by changing my WooCommerce plugin code using this [https://stackoverflow.com/questions/31875442/woocommerce-webhook-invalid-url](url) i don't mind doing that when i am running server locally, but i have a problem that

[2021-03-25 10:23] moon0326 opened #29491 "WooCommerce pages do not get created on ECOMMERCE plan"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

The expected WooCommerce pages (shop, cart, checkout , and my account) do not get created on a new installation if you choose ECOMMERCE pl

[2021-03-25 11:01] tammullen commented on #29460
Will be fixed in https://github.com/woocommerce/woocommerce/pull/29200

[2021-03-25 12:18] tammullen opened #29492 "K6 test Merchant Add Simple Product requests"
~~Create k6 Merchant Add Simple Product test.~~
Create k6 Merchant requests for:
- New Product `wp-admin/post-new.php?post_type=product`
- Save New Product `wp-admin/post.php`

[2021-03-25 12:21] tammullen opened #29494 "Investigation Spike: K6 Load Test Results Output"
Investigate the options for outputting and displaying k6 results from Load Tests (one-off tests, not test runs in CI)

[2021-03-25 12:41] tammullen commented on #29004
Thanks @rodel-calasagsag, have you thoughts on what we need to do to continue to cover the flow `Merchant | Products | Add Simple Product`?

[2021-03-25 13:18] gagnonconsulting commented on #27268
Actually, I need to have the correct product count in the subcategories, as I am using this count to determine if I should display the subcategory in a list - I need to exclude empty subcategories from the list.
I have an example situation where a subcategory is showing 1 product, but clicking on the 1 link shows empty product list. Similarly, searching for the product vie Advanced Bulk Edit tool

[2021-03-25 15:11] #29325 closed

[2021-03-25 15:27] gglobalstep opened #29498 "[GlobalStep] Product with 2 quantity gets added to the Cart while adding a product using "?add-to-cart=VARIABLE_PRODUCT_ID&variation_id=VARIABLE_PRODUCT_ID"."
## Bug Description:
Product with 2 quantity gets added to the Cart while adding a product using "?add-to-cart=VARIABLE_PRODUCT_ID&variation_id=VARIABLE_PRODUCT_ID".

## Test Instructions:
https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-5.2#validate-variation-id-while-adding-products-to-the-cart--29208

## Environment:
Woocommerce Version: WooCommerce 5.2 Be