[2022-03-07 20:26] erikyo commented on #30893
Hi @someka thanks for provide a feedback, really appreciated.

I think the **flicker** issue occurs to you because the thumb width is not set correctly when the items are [more than 5](https://github.com/Mte90/woocommerce/blob/b90d202cfa7a2441d6f1a19468a529622d3343e4/plugins/woocommerce/legacy/css/woocommerce.scss#L312), this is something that comes from the woocommerce stylesheet and I guess if t

[2022-03-07 20:36] lanej0 commented on #30280
(I didn't do it, but this looks like it's done)

In testing, Basic Auth is installed and active when you spin up an environment.  It's part of the base image we're using, and then [this line](https://github.com/woocommerce/woocommerce/blob/aa8b7a4a6b7d21ccddaac360766c4daa396b9a98/plugins/woocommerce/tests/e2e/docker/initialize.sh#L6) activates it.

[2022-03-07 20:36] #30280 closed

[2022-03-07 21:14] amiut commented on #27160
![Woo_Session_Lifecycle](https://user-images.githubusercontent.com/25235298/157117603-99b6ab27-53ca-44d2-84d7-b865e6c38c79.jpeg)

This is lifecycle of woocommerce sessions.
Woocommerce sets the session cookie on-demand (e.g when user adds an item to cart).
when we are dealing with rest apis, loading session functionalities is not enough we need to also need to call `WC()->session->set_customer_ses

[2022-03-07 22:28] RhysLees commented on #26029
I haven't noticed anything yet, ive just set a cron that iterates through my items and i set the request time out to 1min

[2022-03-07 23:47] becdetat commented on #32140
@mattsherman it would be good to at least assess this in this cycle. It's also probably a good opportunity to add some tests around it (which obviously increases the time, so up to you if we can actually fix it in this cycle).

[2022-03-08 00:36] #31870 closed, assigned to nobody

[2022-03-08 00:36] #31878 closed, assigned to nobody

[2022-03-08 00:36] #31922 closed, assigned to nobody

[2022-03-08 00:36] #31938 closed, assigned to nobody

[2022-03-08 00:36] #31939 closed, assigned to nobody

[2022-03-08 00:47] moon0326 commented on #32176
As we discussed in /C01SFMVEYAK/p1646379430146279 (slack thread), we'll implement some of the simple changes (https://github.com/woocommerce/woocommerce-admin/pull/8384, https://github.com/woocommerce/woocommerce-admin/pull/8421 and https://github.com/woocommerce/woocommerce-admin/pull/8423)  in WCA first then migrate the routine to the core after the merge.

[2022-03-08 02:25] chihsuan opened #32139 "Update all `@wordpress/*` and react-related dependencies"
We've updated all packages with **minor/patch** version changes (https://github.com/woocommerce/woocommerce-admin/issues/8344).

Next, we should focus on dependencies that need to be updated with **major version** changes. It would require updating the code for any breaking changes and adding some tests if needed. Since there are many outdated dependencies. This task is aim to update all `@wordpre

[2022-03-08 03:52] ilyasfoo opened #32138 "Add ability for code-based notes to update"
### Is your feature request related to a problem? Please describe.
This is a follow-up to https://github.com/woocommerce/woocommerce-admin/pull/8401. Other than note's contents, we should apply the update to other notes attributes as well. Remote inbox already [has a mechanism for this](https://github.com/woocommerce/woocommerce-admin/blob/42f75340549d84859450cb47c25826f7754436c5/src/RemoteInboxNo

[2022-03-08 04:48] RaDragon commented on #18131
@donnamcmaster solution is what worked for my client's theme. Sadly, this is still not an option (to disable) on the WC backend and it's 2022.

[2022-03-08 04:52] adrianduffell commented on #32177
Just blocking this, Ghidorah decided internally to wait until the merge has occurred before making the change.

[2022-03-08 04:54] adrianduffell commented on #32176
Just blocking this until after the merge.

[2022-03-08 10:46] stormit opened #32040 "[Enhancement]: HTML <img> loading Attribute"
### Describe the solution you'd like

Hi,

I recommend that we should add the **loading** attribute to the **img** tag [https://www.w3schools.com/tags/att_img_loading.asp](https://www.w3schools.com/tags/att_img_loading.asp). It will improve the speed of website.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-08 14:03] tinwe opened #32042 "calculate_shipping does not have access to the company name"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The "calculate_shipping" method under the Shipping Method API, does not have access to the company name from the shipping_company nor billing_company form fields in checkout.

Th

[2022-03-08 17:23] TDA-Holdings commented on #32271
We have a similar issue. Using WooCommerce Shipping & Tax plugin to automatically calculate sales tax by delivery location in Florida. The report always shows "[US-FL-US-FL-ESCAMBIA-PENSACOLA TAX-1]" exclusively, regardless of whether tax was computed for different counties. On the reported day in in the attached screenshot, we had three taxable orders, with the appropriate tax calculated by the p

[2022-03-08 18:10] schrmh commented on #11928
Just to add some updated info on this:
The new currency sign is ⃀ (U+20C0) since 2017 but good luck finding a font that supports that since the unicode symbol was introduced in Unicode 14.0 which was released in September and isn't supported on most systems yet anyways.

[2022-03-08 20:27] chrism245 commented on #30270
4831827-zen

[2022-03-08 20:57] claudiosanches commented on #31988
@rinke300X thanks for reporting this issue with our docs, indeed is required pnpm now to manage our monorepo dependencies. I made the necessary updates for that post.

There's also a quick guide for developers inside this project, you can check here: https://github.com/woocommerce/woocommerce/blob/trunk/DEVELOPMENT.md

Thanks!

[2022-03-08 20:57] #31988 closed, assigned to kmrpankaj

[2022-03-08 21:09] claudiosanches commented on #31992
Hello @kid745,

Generally, this can happen due to incorrect permissions for files and folders on your server for your WP installation. You can find full details about it in https://wordpress.org/support/article/changing-file-permissions/

There's also another manual installation that you can try by uploading by FTP or using your hosting provider file manager, youn can read more about it in https:/

[2022-03-08 21:27] octaedro opened #32137 "PHP Warning when adding a Digital product from template"
### Describe the bug

The following PHP warning is visible when adding a `Digital product` from a template.

[code]

### To Reproduce

1. Go to the `Home` screen
2. Press `Add my products`
3. And then press `Start with a template`
4. Select `Digital product`
5. The PHP warning below will be visible
[code]

### Screenshots

![screenshot-misty-caribou jurassic ninja-2022 03 08-18_15_00](https://user

[2022-03-08 22:35] claudiosanches commented on #31993
@grig-23 Thanks for reporting this issue.

WordPress uses `wordpress@<site-address>` as the default email, and inside we change it using the [`wp_mail_from` filter](https://developer.wordpress.org/reference/hooks/wp_mail_from/).
I made a few tests and seems that's working as expected and using the email save in WooCommerce > Settings > Emails.

Since it's possible to change it using the `wp_mail_f

[2022-03-08 22:35] csmcneill opened #32045 "WooCommerce Payments merchants directed to re-onboard after WooCommerce Payments is connected"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In 4825826-zen, the **Set up payments** option of the store setup wizard at **WooCommerce > Home** has a `Finish Setup` button, even though the merchant has already onboarded and

[2022-03-08 22:43] claudiosanches commented on #31997
@weronikasiuda Hello, thanks for reporting it.

By default is only possible to calculate shipping automatically in the cart and checkout pages only, not possible to calculate in the admin pages.

I'm closing since this is the expected behavior for orders in the admin. If you like you can [open a feature request](https://github.com/woocommerce/woocommerce/issues/new?assignees=&labels=type%3A+enhanc

[2022-03-08 22:43] #31997 closed, assigned to nobody

[2022-03-08 22:53] claudiosanches commented on #32006
Hello @haszari, thanks for starting this conversation.

We use a single "`" because WP forums where is required it, by changing it for sure will create some issues for users of the WP forums.

Maybe we could include options format the content while coping, like one for WP Forums, Markdown and more if required.
Any thoughts?

[2022-03-08 23:03] claudiosanches commented on #32002
Hello @milleranddesign thanks for reporting this inconsistency with our documentation. We really appreciate your help.

I updated the title to reflect that's an issue with our documentation.

We’re going to add it to our backlog so we can made the necessary changes soon. Thanks!

[2022-03-08 23:37] haszari commented on #32006
Aha ! I was not aware of that, thanks for explaining. I guess GitHub is equally important as WPORG forums nowadays.

Any thoughts?

That would be cool! But maybe overcomplicating things, since it will be an extra step. I'd lean towards just generating it completely raw (no formatting) and then users have complete freedom.

Up to y'all how you handle it, this is just my 2c 😁

[2022-03-09 07:49] ghost commented on #31411
Why hasn't the bug been fixed? I switched to a new theme in hope that I could finally have more categories but :\

[2022-03-09 08:02] AlvinAdbox commented on #11822
Hi, May i know how to solve the error,

**The MaxMind GeoIP Database does not exist - Geolocation will not function. You can download and install it manually from http://dev.maxmind.com/geoip/legacy/geolite/ to the path: /home/adboxadvertising/public_html/ABB-online/wp-content/uploads/GeoIP.dat. Scroll down to \"Downloads\" and download the \"Binary / gzip\" file next to \"GeoLite Country\"**

[2022-03-09 10:51] missvanna opened #32047 "stock status can't update correctly after product stocks sync through API"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

stock status can't update correctly after product stocks sync through API
I see this:
Out of stock (8)
Out of stock (3)
etc..

my code as below:

[code]
### Expected behavior

ho

[2022-03-09 11:32] ilyasfoo opened #32136 "Continue setup prompt for adding first product appeared too early"
### Describe the bug
It seems when adding product via product task will trigger a premature "continue setup" prompt on adding first product.

### To Reproduce
1. In WooCommerce > Home, click on Add my products
2. Select start with a template
3. Select physical product
4. Wait until the product page is populated
5. Observe snackbar popup appear before the product is even saved

### Screenshots
![ht

[2022-03-09 12:07] sajjee68 commented on #25341
hi when using this code get the below notice on single product page:
"Trying to get property 'post_type' of non-object"

[2022-03-09 12:50] guilhermeprado98 commented on #25531
have as solution? i need :(

[2022-03-09 16:30] ObliviousHarmony commented on #32039
As a note @MrJnrman, Actions run using the context of the current commit. Since this is happening in the release branch, it will only include the workflow files from when the code freeze happened. You would need to cherry-pick those changes into the release branch in order for it to run the workflow you expect it to be.

At a repository level, we can also enable a flag that requires pull requests

[2022-03-09 19:11] MRameez820 opened #32048 "Customers and all pages of analytics not showing"
After updating woocommerce to 6.3.0 Woocommerce Home, Customers and all pages of analytics not showing (analytics pages are added in this update ) showing below error

![image](https://user-images.githubusercontent.com/32459297/157514332-978129ba-dfb4-4442-84f4-4cc0e599b93c.png)

[2022-03-09 20:22] claudiosanches commented on #32008
Hi @virgocar242,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help fu

[2022-03-09 20:22] #32008 closed, assigned to nobody

[2022-03-09 20:22] jaredyork commented on #31214
Does the DB version even get updated after the callbacks are ran?  I don't see WC_Install::update_db_version(); get called prior to the success message.

[2022-03-09 21:05] claudiosanches commented on #32009
Hello @cnicpon,

Thanks for taking your time for reporting it.

This is the expected behavior for [Select2](https://select2.org/), since it provides contextual search and not only a exactly match, making better for accessibility as well. I understand that you may not like how it behaves, but it's possible to customize it using JavaScript or removing it completely using this PHP snippet:

[code]

I

[2022-03-09 21:08] claudiosanches commented on #32019
Hi @ArriolaMotor,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2022-03-09 21:21] claudiosanches commented on #32018
Hi @Streamlinelv,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

By default those hooks will only get triggered if you are using our Data Store classes, in case you are deleting or moving coupons to the trash inside the WordPress dashboard it will just use WordPress hooks and functions to make it happen,

[2022-03-09 21:21] #32018 closed, assigned to nobody

[2022-03-09 22:23] #30187 closed

[2022-03-09 22:36] barryhughes commented on #30926
Agreed, marking as a bug.

- `WC_Product_Data_Store_CPT::delete()` → Would seem straightforward to update to `@return bool`. We would then return `false` if the ID is invalid and cast then return the calls to `wp_delete|trash_post()`).
- `WC_Object_Data_Store_Interface::delete_meta()` → In this case I'm thinking it may be we should change the interface to `@return bool` and then update the concret

[2022-03-09 22:37] barryhughes commented on #31353
Removing from the *needs-dev-feedback* queue, since we have a plan-of-action :-)

[2022-03-09 22:43] barryhughes commented on #31080
I tend to agree. I would think it makes more sense to use a lower value and reapply it as needed (such as in cases where we are in a loop, processing a large number of actions: it could be reset on each iteration).

[2022-03-09 22:52] barryhughes commented on #31363
That does seem like an unusually slow response—and I don't recall seeing such poor performance before now—but in any case please bear with us: transferring this to the WC Admin tracker as I believe this may be better answered there (that is where `CustomerEffortScoreTracks` is defined and I believe also the call is initiated from JS supplied by that package).

[2022-03-09 22:52] barryhughes commented on #32215
That does seem like an unusually slow response—and I don't recall seeing such poor performance before now—but in any case please bear with us: transferring this to the WC Admin tracker as I believe this may be better answered there (that is where `CustomerEffortScoreTracks` is defined and I believe also the call is initiated from JS supplied by that package).

[2022-03-09 23:07] csmcneill commented on #32045
A similar report in 4823099-zen. Both of these merchants have rejected WCPay accounts.

[2022-03-09 23:34] barryhughes commented on #31380
In addition to Peter's note, I find I am unable to reproduce the problem (at least with a default theme). Here's what I tried:

- Set *"Shop page display"* to *"Show categories"*
- Set *"Category display"* to *"Show subcategories*"
- Viewed the main shop page, which rendered as expected
- Using breakpoints I confirmed that, when the above happens, the `content-product-cat.php` template is loaded s

[2022-03-09 23:46] barryhughes commented on #31608
I suspect this was intentional, but making it dismissable seems like a reasonable enough request (especially given a corresponding message doesn't appear in the block editor for the same page).

[2022-03-10 00:19] barryhughes commented on #31752
Before you are redirected to the return URL, WooCommerce tries to send the keys to the callback URL.

This could fail for a few reasons: for instance, if your callback URL is deemed unsafe, or if your app/server replies with something other than a `200 OK` response ... except in those cases I would then expect you would see an error like the following (and would not be redirected):

Since that's n

[2022-03-10 00:35] barryhughes commented on #31851
Hi @atakanuludag,

I'll note first of all that this functionality is inherited from WordPress itself, so it may be most appropriate to deal with it at that level.

So I think you are saying we should go to the Product Tags meta box in the product editor to see this:

<img width="296" alt="product-editor-tags" src="https://user-images.githubusercontent.com/3594411/157562635-5b81c985-e2e4-4520-9ef9-

[2022-03-10 00:37] #31956 closed, assigned to nobody

[2022-03-10 00:37] #31960 closed, assigned to nobody

[2022-03-10 01:22] barryhughes commented on #31477
Agreed, marking as a bug. @froger-me if you wish to submit a PR please do and/or the core team will get to this in due course.

[2022-03-10 01:49] moon0326 commented on #32215
Thank you @barryhughes for transferring this issue.

Thank you for taking the time to report the issue @danielbarenkamp

Looking at the screenshot, it looks like other calls (options and notes) are also slow. This might have been a temporary issue.

Are you still having the same issue?

[2022-03-10 01:57] barryhughes commented on #31022
Hi @courtney666,

Sorry for the delay. What I've tried so far:

- I installed Divi 4.14.8.
- I enabled classic widgets and added the Recent Product Reviews widget to the footer.
- I went to **Divi ▸ Theme Builder ▸ Add Global Body ▸ Build Global Body**.
    - The above seems just a little different to what you described...
    - ...I'm ascribing that to recent changes in Divi, but let me know if I

[2022-03-10 03:24] barryhughes commented on #31749
Looks like a WC Admin issue, moving across ...

[2022-03-10 03:24] barryhughes commented on #32187
Looks like a WC Admin issue, moving across ...

[2022-03-10 03:28] barryhughes commented on #31594
Looks like this relates to `WooCommerce\Admin\Experimental_Abtest` and/or `Automattic\WooCommerce\Admin\Features\WcPayPromotion\Init` ... moving to WC Admin for further triage.

[2022-03-10 03:28] barryhughes commented on #32201
Looks like this relates to `WooCommerce\Admin\Experimental_Abtest` and/or `Automattic\WooCommerce\Admin\Features\WcPayPromotion\Init` ... moving to WC Admin for further triage.

[2022-03-10 03:38] barryhughes commented on #31182
Apologies for the delay: this is now [merged](https://github.com/woocommerce/woocommerce/pull/30602). It should be available from 6.4.0 onwards.

[2022-03-10 03:38] #31182 closed, assigned to nobody

[2022-03-10 04:37] iamchathu opened #32050 "Product variants creation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Currently from the API to create a product with variants ,

First we need to create the product with all possible attributes and later we have set variant attributes.

When we in

[2022-03-10 08:27] 79ho3ein commented on #31981
hi again @jonathansadowski , I apologize for the delay.
In fact, WooCommerce Fragments slow down all web pages. Just try!
First, test the gt metrix on a website where WooCommerce is installed. In the waterfall tab, you see that it takes about 1.5 seconds to load : https://prnt.sc/1VwwWBZJaaCh
Now install the Disable Cart Fragments plugin and retry the gt metrix test. The above item (1.5) seconds w

[2022-03-10 08:56] danztensai commented on #10082
Does anyone find the solution for this? I've encountered the same issue using dropbox as src, but then after I checked woocommerce its showed white small square, I"m using python API to create a product

`{'status': 'draft', 'name': 'Air Necklace Beans Gray', 'type': 'simple', 'regular_price': '0.0', 'sale_price': '39.9', 'description': 'simple desc ', 'sku': None, 'images': [{'src': 'https://www.

[2022-03-10 13:19] ParogDev opened #32051 "order-pay endpoint triggers page reload on hashtag redirect"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi all,

**Context:**
I'm the lead developer for a rather large payment processing service and I'm using my own API as well as my own plugin to add a gateway to WooCommerce. For

[2022-03-10 13:45] gigitux opened #42646 "Reorganize the blocks that are in the `atomic` folder"
After woocommerce/woocommerce-blocks#5989 we don't have any more atomic blocks. We should reorganize the blocks that are in the ´atomic` folder and we should remove the latter.

[2022-03-10 14:41] claudiosanches commented on #32020
Hello @palewar,

Thanks for starting this conversation, currently the documentation here in GitHub isn't something ready for everyone and doesn't tries to be complete, currently we are working to improve our Developer portal: https://developer.woocommerce.com/#guides
I agree that could be nice to have an open source documentation as well.

[2022-03-10 14:42] tinwe opened #32055 "[BUG] Calculate_shipping is called multiple times on each form change"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The "calculate_shipping" method in the Shipping API is fired several times on each form change in the checkout form. My logging says it is called two times on each change in the

[2022-03-10 15:02] barryhughes commented on #31171
In my own testing, where a coupon is limited to one use per customer and where it has been applied to an order that is _pending payment,_ testing it with `WP_Discount::is_coupon_valid()` will return `(bool) false` as expected (assuming the current user is the same user associated with the order).

So, I'm not quite clear what change you are seeking here. Can you clarify, perhaps with an example of

[2022-03-10 15:03] claudiosanches commented on #32028
Hi @dartrax,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Priority of this issue will be assigned shortly after we'd go through a round of prioritization. Please note it may take a couple of days.

[2022-03-10 15:14] wuspum opened #32056 "WC Cart does not show items on REST when logged in after 6.3.0 upgrade"
After an update to Woocommerce 6.3.0, WC Cart stopped showing current items in cart when using **REST** and **logged in**.

Tested on two shops before and after update.

[code]

[2022-03-10 15:19] lkraav commented on #32051
Are you looking for https://github.com/woocommerce/woocommerce-gateway-stripe/ perhaps?

[2022-03-10 15:24] claudiosanches commented on #32029
Hi @biasga,

Thank you for submitting the issue. However, this feature is deprecated since WooCommerce 5.2, now it's possible to find information about your latest sells in WooCommerce > Analycts > Overview and there's an widget at the bottom of WooCommerce > Home page too.

I am closing this issue for now. If I missed something, please leave a comment and we will take a second look.

[2022-03-10 15:24] #32029 closed, assigned to nobody

[2022-03-10 15:36] claudiosanches commented on #32037
Hi @johnknoop,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Both REST API v2 and v3 needs to update the `orders.tax_lines.rate_id` type to `integer`.

Priority of this issue will be assigned shortly after we'd go through a round of prioritization. Please note it may take a couple of days.

[2022-03-10 15:45] claudiosanches commented on #32022
Hi @coutheradmin ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2022-03-10 15:45] #32022 closed, assigned to nobody

[2022-03-10 15:49] claudiosanches commented on #32021
Hi @alaflam ,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](ht

[2022-03-10 15:49] #32021 closed, assigned to nobody

[2022-03-10 16:18] omniacode commented on #27375
Just checking in on this, it is getting pretty annoying having to update the core code every time there is a WooCommerce update. Any ETA?

[2022-03-10 18:32] claudiosanches commented on #32011
Hello @Buzut,

This is really the expected behavior for products and variations, you can make a test by enabling stock management at product level and allowing backorders for a single product and it will produce the same result when calling `$product->is_in_stock()`.

You can see the code here:

https://github.com/woocommerce/woocommerce/blob/ef015f740f89c35cebf34bc0c39a971be6723b68/plugins/woocom

[2022-03-10 18:35] barryhughes opened #32058 "Add safeguards to order queries (re custom order statuses)"
We should confirm that any order statuses used in an order query are valid before proceeding with the query. Details from PR #27119:

It feels like we should address this, but it requires the core dev team to progress it. To that end, logging this issue so we can work it into an upcoming sprint or dev cycle.

I'm closing the linked PR, but that's just to prevent it bubbling up during PR scrubs. It

[2022-03-10 18:35] #32011 closed, assigned to nobody

[2022-03-10 18:45] claudiosanches commented on #32016
Hi @EjayhanFernandes,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![Screenshot from 2022-03-10 15-44-09](https://user-images.githubusercontent.com/1264099/157733054-86f9d65a-21cd-46ad-88c4-57120b4c8159.png)

Thanks for the detailed steps to reproduce this issue.

Priority of this issue will be assigned shortly after we'd go thro

[2022-03-10 18:49] claudiosanches commented on #32032
Hi @farisbaduy ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2022-03-10 18:59] claudiosanches commented on #32036
Hi @rhrizwanhaider,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin Modrox Plugin.

Please contact the author of the plugin directly for further help.

[2022-03-10 19:00] #32036 closed, assigned to nobody

[2022-03-10 19:04] louwie17 commented on #32165
@jarekmorawski I have a couple small questions that came up as I was working on this:
- The wireframe doesn't include the `Personalize my store` task, will that one indeed not be included?
- For the `Get more sales` task I don't have a completed title, currently I put `You added marketing tools`, let me know if you prefer something else?

[2022-03-10 19:38] claudiosanches commented on #32040
Hello @stormit,

Thanks for starting this conversation.

Since WordPress 5.5 the `loading="lazy"` attribute is included by default when calling functions like [`wp_get_attachment_image()`](https://developer.wordpress.org/reference/functions/wp_get_attachment_image/).

I just made a test with WooCommerce 6.3.0 and WordPress 5.9.1 and `loading="lazy"` attribute is present in all images:

![Screensho

[2022-03-10 19:38] #32040 closed, assigned to nobody

[2022-03-10 20:08] claudiosanches commented on #32038
Hi @vankyy26,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

I tested WooCommerce 6.3.0 and WordPress 5.9.1 using the WooCommerce REST API v2 and v3, and seems to be working as expected, I couldn't see the same issue as you.

Bellow is an screenshot from my test using the Insomnia App, in the left side

[2022-03-10 20:24] claudiosanches commented on #32042
Hi @tinwe,

Thank you for taking the time to report it, we really appreciate your help.

In fact there's no `company` or customer first or last names in packages, but it's possible to use the `woocommerce_cart_shipping_packages` filter and include any other data that's required to you.

You can check the default data below:

https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e7

[2022-03-10 20:29] claudiosanches commented on #32045
Hello @csmcneill,

Thank you for reporting the issue. WooCommerce Payments is being developed in another repository: [{provide a link to the repo}. ](https://github.com/Automattic/woocommerce-payments)

I am going to move your bug report there so that the right team could take a look further.
Thanks!

[2022-03-10 20:33] claudiosanches commented on #32045
I just moved to https://github.com/Automattic/woocommerce-payments/issues/3945
I'm closing this issue for now, thanks!

[2022-03-10 20:33] csmcneill commented on #32045
Howdy @claudiosanches! Just noting that @rafaelzaleski indicated that this is likely an issue related to WooCommerce core instead of WooCommerce Payments, which is why I opened the issue here.

[2022-03-10 20:43] claudiosanches commented on #32047
Hi @missvanna,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help furt

[2022-03-10 20:43] #32047 closed, assigned to nobody

[2022-03-10 20:47] claudiosanches commented on #32048
Hi @MRameez820,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. Also you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug*

[2022-03-10 20:53] claudiosanches commented on #32050
Hi @iamchathu,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help furt

[2022-03-10 20:53] #32050 closed, assigned to nobody

[2022-03-10 20:57] claudiosanches commented on #32006
@haszari I'm just triaging, I'll leave for the core team :laughing:

[2022-03-10 21:56] claudiosanches commented on #32056
Hi @wuspum,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help further

[2022-03-10 21:56] #32056 closed, assigned to nobody

[2022-03-10 22:11] claudiosanches commented on #32051
Just some notes for further investigation:

- This redirection is handled by: https://github.com/woocommerce/woocommerce/blob/f18799229bfd50d7796f05a745e590937b125dbe/plugins/woocommerce/includes/class-wc-checkout.php#L964-L998
- `wp_redirect()` is the responsible to reload that page if isn't an AJAX call, that's why there's a different of how works in the `checkout` and `order-pay` endpoints.

[2022-03-10 22:20] edequalsawesome opened #32059 "[Enhancement]: Look Up Country and State by Postal Code"
### Describe the solution you'd like

### Quick summary

On checkout when folks enter their zip code to calculate shopping the state is not updated, for example, [https://d.pr/i/3lWPY4](https://d.pr/i/3lWPY4)

Example site: [https://shop.tumblr.com/cart/](https://shop.tumblr.com/cart/)

Is it possible to update the state when a zip code is entered, please?

If so, could this be expanded for folks

[2022-03-10 22:51] ParogDev commented on #32051
Just to make things easier with the above information, I've added some logging to the ~gateway constructor~ plugin entry file so it gets called every time even if the gateway doesn't load fully;

[code]

**Checkout:** Page load
[code]

**Checkout:** Once the submit button is pressed after entering all the payment information -- Spinner begins
[code]

This next part is the callback from my API to t

[2022-03-10 23:32] claudiosanches commented on #32055
Hi @tinwe,

Thank you for taking the time to report this, we really appreciate your help.

This method it's called some times in the checkout because some ajax calls to calculate and after calling directly to display the shipping options, also results are saved in cache and in sessions. Note that's a public method and even reducing the number of times it get called on WooCommerce it doesn't stop o

[2022-03-10 23:42] claudiosanches commented on #32059
Hi @edequalsawesome,

Thank you for taking the time to share this idea, we really appreciate your help.

Side note: for something like that to work we'll probably need to integrate with local APIs or carries in each country to be able to identify the correct list of postcodes for each region. While it may be very helpful it sounds out of the scope of the core plugin, this could be a nice addition

[2022-03-10 23:54] barryhughes commented on #31830
Paging @woocommerce/heisenberg! Would I be correct in thinking [Automattic/woocommerce-services](https://github.com/Automattic/woocommerce-services/) is a better home for this issue?

[2022-03-11 00:19] barryhughes commented on #31174
@Sirswatch,

In addition to the notes from @Abdalsalaam (thank you!) I'd not that if you [retrieve an order via the REST API](https://woocommerce.github.io/woocommerce-rest-api-docs/#retrieve-an-order) you should also be able to grab the product ID of each line item, and follow-up with one or more secondary requests to [retrieve the individual product details](https://woocommerce.github.io/woocomm

[2022-03-11 00:19] #31174 closed, assigned to nobody

[2022-03-11 05:20] #32048 closed, assigned to nobody

[2022-03-11 07:17] tinwe commented on #32055
Thanks. There have been similar reports before and I don't know if it has worsened to now have even more additional calls fired.
https://stackoverflow.com/questions/66303296/woocommerce-problems-calculate-shipping-is-called-2-times

[2022-03-11 07:28] tinwe commented on #32055
Update:
It only runs the calculate_shipping four times when debug mode is activated (from the WooCommerce settings) but two times when it is inactivated, so I guess that's why the Stackoverflow above reported 2 times. I am now disabling debug mode to have it somewhat better. Even though twice is bad too.
Ping @claudiosanches

[2022-03-11 08:01] Buzut commented on #32011
Hello @claudiosanches

If it's a feature and not a bug, then all right. But it's pretty confusing!

I confess that I hadn't checked the code. On the other hand, the doc doesn't specify this behaviour and you gotta admit that one can be expecting `is_in_stock` to return `false` when a product is out of stock, regardless of whether it is allowed to go negative or not.

Hopefully, checking the stock

[2022-03-11 08:01] alexlii1971 commented on #17999
This might be not bug, but it is much trouble. Is there anyway to detect language input and show a hint?

[2022-03-11 08:13] farisbaduy commented on #32032
In the 1st photo, I added the order manually and what appears the price is different from the prices for all products in the 2nd photo.
and the 3rd photo uses the best selling element but the price is not displayed which is discounted like when the product is clicked on the 4th photo there is already a discount.
![IMG-20220311-WA0012](https://user-images.githubusercontent.com/85350817/157827025-41

[2022-03-11 09:13] techartdev commented on #32038
Hi @claudiosanches and thanks for the response!

Sorry, I don't see the full JSON of your request, is that the order metadata or the *Order Line* metadata? Both of them have meta data's but only the order lines fail to update on my end. The order metadata is not causing issues.

If this is the order line metadata and it is working there then I need to figure out some way to debug what's going on.

[2022-03-11 09:33] vedanshujain commented on #32051
Thanks for the report @ParogDev , we are looking into it. Note that there would be concerns about backward compatibility as well in changing this behavior, so we would need to built it in as well in whatever solution we come up with here.

[2022-03-11 09:47] vedanshujain commented on #31950
hey @shashwatahalder01

So we search post title, post content and `SKU` if configured in the product search box. This is expected, and unfortunately changing this behavior may break the flow for many merchants who would be expecting it to work this way.

I will close the issue for repository maintenance but feel free to reply back with more questions.

[2022-03-11 09:47] #31950 closed, assigned to nobody

[2022-03-11 10:03] vedanshujain commented on #31852
Thanks for the report. It seems like
1. In some cases, we would need to add transients keys to clearing functions.
2. In other cases, when the transient key contains an `$id` we should consider switching them to use cache instead so that they can be cleared (or storing in transient some other way that they can be bulk cleared).

[2022-03-11 10:46] pmcpinto opened #32135 "Include JP connection package"
**Description:** we've received a suggestion to include the JP connection package, in order to streamline the setup flow of some extensions that rely on a wp.com connection. More info here: wp.me/p7bje6-3UY-p2

We should evaluate if introducing the package can really remove friction from the setup flow.

[2022-03-11 11:39] tommyshellberg commented on #31830
@barryhughes This looks like the WooCommerce Shipping & Tax plugin is being used to generate labels; if that's the case, please create an issue at https://github.com/Automattic/woocommerce-services/issues - thanks! This could be closed once that's done.

[2022-03-11 12:03] swatipawarGS commented on #32030
Hi @Syker-uk,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screenshot for reference :

![#32030](https://user-images.githubusercontent.com/94531721/157821369-a2c1a86d-7199-4394-8295-d2e14c5012e1.png)

Priority of this issue will be assi

[2022-03-11 12:33] fvdbgit commented on #28752
Hi @tammullen , @GeoJunkie

Issue still not fixed in WooCommerce version 6.3.1.
Who is assigned to solve this bug?
Is there a WooCommerce developer working on it?
Do you need more information about the bug?
The priority is HIGH and the issue is openend since the 7th of January 2021!
It is not acceptable that the issue is still not fixed, it is a BIG BUG in WooCommerce and it makes clients angry!
I

[2022-03-11 13:19] iamchathu commented on #32050
It's not a custom code related issue. This is a WooCommerce API related issue. Which is use by a custom code.

[2022-03-11 14:55] claudiosanches commented on #32050
This is the expected behavior for the REST API, it's required to create the main product first with all attributes, this is also how works in the admin interface when adding products. It's possible for you to write a middleware to handle this kind of data from your POS and properly handle it to sent to the WooCommerce REST API.

I understand if it doesn't fit all your needs, you could instead file

[2022-03-11 14:59] claudiosanches commented on #32038
@vankyy26 could you please provide full steps to reproduce this issue? With all the payload in JSON?

[2022-03-11 16:52] barryhughes commented on #31830
Done: https://github.com/Automattic/woocommerce-services/issues/2535 (cc @bloukingfisher)

[2022-03-11 16:52] #31830 closed, assigned to nobody

[2022-03-11 18:31] barryhughes commented on #31384
Draft dev advisory:

238-gh-woocommerce/woocommerce-developer-advocacy

[2022-03-11 23:31] ParogDev commented on #32051
@vedanshujain Would there be any way to reconsider the priority and type tags?

This is an issue that prevents iframe payment gateways from working properly ( or at all if we care about following security standards ).

I would be more than happy to assist by doing a PR to fix it if I were to understand why the behavior is happening like it is in my above post.

[2022-03-12 00:31] barryhughes commented on #31123
Closing, given it is a duplicate :-)

[2022-03-12 00:31] #31123 closed, assigned to nobody

[2022-03-12 00:36] #31898 closed, assigned to nobody

[2022-03-12 00:40] barryhughes commented on #30834
Hi @seriusokhatsky,

Thanks for flagging this.

That's a creative solution for sure, and I believe it would work in most cases.

I do worry about backwards compatibility, though, because there may be merchants who depend on the existing behavior to tailor the empty cart template dynamically, based on various factors (date/time/geolocation/offer-of-the-day), which would not work with this approach

[2022-03-12 06:52] claudiosanches commented on #31942
Hello @tonyuh,

Could you provide more details?

Seems like PHP isn't making `putenv()` available, do you know if there's any module for security on your server that may be removing or disabling PHP functionality?
I haven't gone through this kind of situation yet, I'm not sure yet if it only happens to PHP 8, at least looking the PHP documentation seems that's still supported: https://www.php.net/

[2022-03-12 06:58] claudiosanches commented on #32032
Hi @farisbaduy,

Thanks for sharing this details, but still it's missing important details from the bug report template. Could you provide a copy of your system report status?

Thanks!

[2022-03-12 10:54] Abhishek19970 opened #32064 "Checking Gender Details functionality"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

verify that others option for gender available or not in drop down menu

### Expected behavior

other details must be available
Male , Female ,Other

### Actual behavior

Other d

[2022-03-12 11:20] DavidAnderson684 commented on #32064
Duplicate of previous erroneous report: https://github.com/woocommerce/woocommerce/issues/30170

[2022-03-12 12:14] farisbaduy commented on #32032
sorry sir woocommerce installed on me there is no system status, do i have to install additional plugin to display system status?
![image](https://user-images.githubusercontent.com/85350817/158017498-dd8f1c53-c6a2-4cdc-9652-d725e214f04e.png)

[2022-03-12 12:42] farisbaduy commented on #32032
`
### WordPress Environment ###

WordPress address (URL): https://hammerstout.co
Site address (URL): https://hammerstout.co
WC Version: 6.3.1
REST API Version: ✔ 6.3.1
WC Blocks Version: ✔ 6.9.0
Action Scheduler Version: ✔ 3.4.0
WC Admin Version: ✔ 3.2.1
Log Directory Writable: ✔
WP Version: 5.9.2
WP Multisite: –
WP Memory Limit: 512 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US
External object c

[2022-03-12 13:01] tonyuh commented on #31942
Hi @claudiosanches

For the new installation of PHP 8.0 there are some blacklisted functions including `putenv()`. But what is weird is that the old installation with PHP 7.4 also has this function blacklisted, so I'm not sure why it worked before in PHP 7.4 but not PHP 8.0

[2022-03-12 13:52] palewar commented on #32020
I believe Woocommerce is already too big and we are already too late to not have something for everyone. Also I think WiKis can be just copied over to markdown files quickly and made available in a feature repo or sub directory in the main repo. We need to have a respectable documentation for Woocommerce and not everyone showing their displeasure (to put it mildly) on slack, social media and elsew

[2022-03-12 14:56] octaedro commented on #32157
Hi @jarekmorawski,

Just to confirm, the idea is not to show the `Welcome modals` anymore even for Calypso users, correct?

[2022-03-12 17:06] josemiguelpestana commented on #24179
Hello, i am also needing to filter the products by categories with AND logic. how can i achieve it?

[2022-03-13 00:35] #31984 closed, assigned to nobody

[2022-03-13 07:06] priyankabehera commented on #31760
Hello @ObliviousHarmony is there anything else required in the PR?

[2022-03-13 11:45] techartdev commented on #32038
Hi again @claudiosanches

Here's the full JSON of the order, I've masked my billing details and URLs, everything else is original.

`{
	"id": 52882,
	"parent_id": 0,
	"number": "52882",
	"order_key": "wc_order_xQoSRd5wFM0ct",
	"created_via": "checkout",
	"version": "6.2.2",
	"status": "pending",
	"currency": "BGN",
	"date_created": "2022-03-13T13:22:59",
	"date_created_gmt": "2022-03-13T11:22:59",

[2022-03-13 15:48] grig-23 commented on #31367
Not sure if this requires a separate report, but it looks like this wc_product_attributes_lookup table doesn't have a primary key by default.

With some hosting service providers, e.g. Digital Ocean, sql_require_primary_key seems to be 1 by default, which prevents this table from being created in certain cases, e.g. when the table is re-generated or perhaps even during the data migration during an

[2022-03-14 02:23] noknokcody commented on #31107
Had another client complain about checkboxes on their custom forms playing up after a WooCommerce update. Could someone please take another look at this ?

[2022-03-14 06:21] chihsuan commented on #32268
Hey @rjchow What's the trouble you had? It seems that we can edit the page using WordPress editor because `docs.woocommerce.com` is a WordPress site.

@adrianduffell Can we update the document page directly or do we need to request approval?

[2022-03-14 06:28] rjchow commented on #32268
I think there was a server load issue at that time and listing the pages took >10 minutes per page so it was impossible to find the pages in a reasonable amount of time 😓

That could be resolved by now maybe? I remember it coinciding with the entire woocommerce.com going down

[2022-03-14 08:22] soniverma1 opened #32065 "Fiter by Attribute is not working"
Hi Team,

The sidebar widget “Filter Products by Attribute” Is not showing.
I have attributes; like color, frame shape, frame weight, frame size, frame type, gender etc
But when I add the widget on defalt sidebar option or custom sidebar option, it does not show, even though other items like product categories, search bar, navigation are showing in sidebar.

Would be great if you can help me solvi

[2022-03-14 09:06] dademaru commented on #27375
Totally agree.
I believe it's a simple, fast and hassle free patch for all users.
If they haven't removed the [default WooCommerce filter](https://github.com/woocommerce/woocommerce/blob/6.3.1/plugins/woocommerce/includes/wc-core-functions.php#L42) nothing changes, otherwise they can pass decimal values via REST API as well.

I'm printing an admin notice to check with each WooCommerce update if th

[2022-03-14 09:51] orgiz opened #32066 "wc_product_attributes_lookup table missing primary key"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When updating WooCommerce to 6.3 we are getting this error:

[code]

We are running Wordpress on a SQL-cluster with `sql_require_primary_key = 1;` and I think this is the main pr

[2022-03-14 10:12] jpog-web commented on #29903
Newbie here,

I stumbled upon this thread as I'm having the same issue importing variable products using the CSV Import Suite plugin.
Really could do with some help, I cannot get the 'Used for Variations' Checkbox to fill and use my Child CSV file to fill
in the rest...

Attributes load in perfectly with my parent file, see attached the files.

Any advice or help would be appreciated.

Thanks!
[TE

[2022-03-14 10:39] atakanuludag commented on #31851
Hi,
Yes true.
But the problem seems to be solved. I think it's fixed with the new update :)
Number of tags named **LG**:  **3,505**

But I still think there should be a length limit. Because it shows all matching tags as autocomplete item;
![image](https://user-images.githubusercontent.com/6053742/158155903-d3d002d9-2f2f-4b01-876a-3942c7bbe028.png)

[2022-03-14 10:44] wayheming commented on #32065
same issue after update

[2022-03-14 11:07] jarekmorawski commented on #32157
Yes!

[2022-03-14 11:15] jarekmorawski commented on #32165
No, it should be there. I couldn't find it in Elizabeth's file and didn't know how it was implemented, but I've updated the design file now: G9vi4e286yjdzyIdg8hBb1-fi-1241%3A123187

Sounds good! Since the button says `Add sales channels`, the completed task could read `You added sales channels`.

[2022-03-14 11:36] stgoos opened #32068 "[Enhancement]: additional action hook in form-edit-account.php template before the password change section"
### Describe the solution you'd like

I'd love to see an extra hook / action by the name of **woocommerce_edit_account_form_before_password** (or something else) being added to the **form-edit-account.php template** so you can insert custom fields above the password change section without the need to create (and maintain) a template file in your own theme.

My suggestion is to add `<?php do_action

[2022-03-14 13:09] jakehodges commented on #27375
Bump - any update on this? Seems pretty straightforward.. I would also say this is a BUG rather than an ENHANCEMENT. The lack of filter on this value means stock values can conflict on different platforms. In my case, any products on my WooCommerce with floating point/decimal stock values are un-editable via the app as their value is considered illegal.

[2022-03-14 16:31] barryhughes commented on #31851
Great! 🎉

Yep, that's a good call.

This is essentially an 'upstream' problem (we are simply using WordPress core functionality), so it probably makes sense to report there ... however, the classic editor is going away and I'm therefore unsure how much traction it would get (afaik, when applying tags through the new block editor a different endpoint is used and this issue is avoided).

Given that,

[2022-03-14 16:56] rafaelzaleski commented on #32045
@claudiosanches, I believe the onboarding task pages are part of this repository. The issue is that this page shouldn't be accessible if WC Payments is already connected:
`domain.com/wp-admin/admin.php?page=wc-admin&task=payments&id=woocommerce_payments%3Aus `

The message `Sorry, you are not allowed to access this page` is expected on WC Payments since an account is already connected.

[2022-03-14 17:11] stuart-lambon commented on #32065
Also having the same issue here. Happy to provide more details if required since this issue report does not give much detail.

[2022-03-14 18:05] jnineb opened #32070 "Failed to load resource: the server responded with a status of 403 during checkout after logging into My Account"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Checkout page loads continuously and the console displays the following error `Failed to load resource: the server responded with a status of 403` after logging into My Account a

[2022-03-14 18:54] #32064 closed, assigned to nobody

[2022-03-14 19:04] roykho commented on #32065
Hi [soniverma1](https://github.com/soniverma1),

Thank you for submitting the issue. However, you didn't fill out the details of the bug report template that we ask for. Without these details, we can't fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as de

[2022-03-14 23:38] K13NN13 commented on #31422
Hey Just curious if there is any update to this? Also having the same issue with product names that have the same name as an attribute.

[2022-03-15 00:03] barryhughes commented on #31942
It sounds like this function is being deliberately disabled via the `disable_functions` directive. A workaround, assuming a fairly standard WordPress setup, would be to create a new file at:

`wp-content/mu-plugins/putenv.php`

Containing:

[code]

This might just help you to workaround this issue, however the very best course of action would be to make a correction to your PHP config (working wit

[2022-03-15 02:29] 1000camels opened #32134 "Variable Products are appearing in Stock with status 'Out of Stock' and Stock 'N/A'"
### Describe the bug
Variable Products are appearing in Stock with status 'Out of Stock' and Stock 'N/A'
These variable products have variations that are in stock.
Their stock is set to 0 and they have Enable stock management at product level checked.

### To Reproduce
Create a variable product with variations in stock.
Set variable product stock to 0 and check 'Enable stock management at product

[2022-03-15 04:55] bashgeek commented on #32065
Same for us, our "Filter Products by Attribute" widgets in the sidebar are not showing anymore since the last WC update.

Edit: Nevermind, using the "Regenerate the product attributes lookup table" tool fixed it for us.

[2022-03-15 07:49] kaushikasomaiya opened #32072 "Chrome: Browser window does not auto scroll to top of login form on clicking "Please log in" link when already registered user tries to checkout."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

* When guest checkout is disabled, and only logged-in users or new accounts are allowed -  When a non logged-in user tries to place an order with email address that is already re

[2022-03-15 09:49] swatipawarGS commented on #32070
Hi @jnineb,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/158325849-f7193332-aee8-4523-ba3e-1e0ca30cc476.mp4

Priority of this issue will be assigned shortly

[2022-03-15 10:44] biboslaw commented on #29074
@Nashoot did you solve this problem? I am also facing this issue and I can't find a solution for this. Thanks :)

[2022-03-15 11:08] MihaiCraciun opened #32074 "Why is there a loop in the single product template ?"
https://github.com/woocommerce/woocommerce/blob/7ffd4f2f850ccde9435088e6b5195f6dc146822f/plugins/woocommerce/templates/single-product.php#L34

I'm having a weird issue where two products are displayed on a single product page - one draft and one published. While trying to debug, I looked at the single-product template and saw there was a while loop. What's the intended use case for having a loop a

[2022-03-15 11:16] Dekadinious commented on #31171
@barryhughes Thanks for answering. It is not working as expected at least. Here is a minimal example:

[code]

This code will try to cancel the orders for the customer in pending payment if the coupon is not valid when the checkout is displayed. This is just a minimal example that tries to force adding of the coupon on every load of the cart.

This is a simple test procedure:

1. Create a coupon t

[2022-03-15 11:22] samiahmedsiddiqui commented on #31481
+1

[2022-03-15 11:24] samiahmedsiddiqui commented on #31481
I am also noticing a similar issue on one of my clients WooCommerce site. Is there any ETA to fix issue?

[2022-03-15 12:47] #32074 closed, assigned to nobody

[2022-03-15 14:29] swatipawarGS commented on #32072
Hi @kaushikasomaiya,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/158385962-068df4a3-b927-49af-ae3f-0191f94f4fc8.mp4

Priority of this issue will be assigned

[2022-03-15 14:53] louwie17 commented on #32164
@jarekmorawski @pmcpinto another question in regards to this, the payment task is currently under the `Cover the basics` section. When a user selects WooCommerce Payments in the onboarding wizard and the WooCommerce Payments specific task shows up, should this one also be displayed in the `Cover the basics` section?

In this case I am assuming it will replace the payment task, similar to how the c

[2022-03-15 14:55] jarekmorawski commented on #32164
That's correct.

Yes, exactly. We're not changing the logic, just the visual treatment.

[2022-03-15 17:29] barryhughes commented on #31244
Does indeed look like an oversight. My guess is when [this work was done](https://github.com/woocommerce/woocommerce/commit/387e095a01284401484f1810447aa38cf246ab2c) it was assumed our build script would take care of minification, but presumably this asset was not in one of the covered paths.

[2022-03-15 18:16] grig-23 commented on #31993
Hi @claudiosanches,

Thank you for testing, and sorry for the delay!

I've just tried again on the same site and couldn't replicate anymore either, a correct email address (one specified in WooCommerce > Settings > Emails) was used!

Closing.

[2022-03-15 18:16] #31993 closed, assigned to nobody

[2022-03-15 18:29] barryhughes commented on #31142
Hi @Josh-Millard,

It looks like you deleted most of the bug report template, and there is unfortunately not enough information in what remains to properly assess things.

The deprecation notice you quoted would occur if another plugin or your theme tries to access the `tax_display_cart` property, but I don't believe there is a path in which WooCommerce (assuming you are using a recent version) wo

[2022-03-15 19:56] rafaelzaleski opened #32077 "Deprecation notices after upgrading WooCommerce Blocks to 7.2.0"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After upgrading WooCommerce Blocks to version 7.2.0, Woo Core is generating deprecation notices for code in `WC_Subscriptions_Extend_Store_Endpoint::init()`.

### Expected behavi

[2022-03-15 20:04] rafaelzaleski commented on #32077
I'm closing this because it was another plugin causing the issue.

[2022-03-15 20:42] barryhughes commented on #31280
I'm afraid not, it's not a 'pluggable' function.

Yes, I think so. Per [our policy on adding actions and filters](https://github.com/woocommerce/woocommerce/wiki/Adding-Actions-and-Filters#modifying-function-input-and-output-global-rendering-functions) it would definitely seem reasonable to add a filter hook so the output of that function can be replaced (and, args such as `$alt_text` could be mad

[2022-03-15 20:49] #31323 closed, assigned to nobody

[2022-03-15 20:55] barryhughes commented on #31323
@tomwenk,

There isn't a confirmed bug here and this looks like it may be an issue with your custom code rather than with the REST API (please also note there are [official libraries](https://woocommerce.github.io/woocommerce-rest-api-docs/#libraries-and-tools) that you can use).

Based on a quick look, though, it seems like you are `GET`-ing the order first of all and, on success (ie, in the firs

[2022-03-15 20:58] sergiomxdh commented on #32065
Same issue

[2022-03-15 22:17] barryhughes commented on #31981
Thanks for flagging this concern.

That is certainly quite a delay, but I imagine this varies on a site-by-site basis (perhaps for some sites it may be even slower, while for others I expect it will be far, far faster): much will depend on your site, where it is hosted and the volume of data and traffic it is dealing with.

In general, the `?wc-ajax=get_refreshed_fragments` request should only be

[2022-03-15 22:18] barryhughes commented on #31981
I'll apply our 'needs votes' workflow. As part of that workflow, this issue will be closed. **This does not mean we are saying no!** It just means we are removing it from the queue of current concerns until we can gauge how much support there is in the community for a change to this part of the plugin.

[2022-03-15 23:28] barryhughes commented on #31171
Understood.

I think the reason your approach is failing relates in some ways [to this other issue](https://github.com/woocommerce/woocommerce/issues/26289) (because, for a guest, the required check is deferred until very late in the checkout process, whereas you are expecting it to occur earlier).

[code]

You could potentially take advantage of logic like the above, when dealing with guests (and

[2022-03-15 23:28] #31171 closed, assigned to nobody

[2022-03-16 02:11] shawntempesta opened #32079 "Two warnings appearing due to USPS plugin"
Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in /homepages/22/d588967221/htdocs/sites/better-bands.com/wp-content/plugins/woocommerce-shipping-usps/includes/class-wc-shipping-usps.php on line 1340

Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in /homepages/22/d588967221/htdocs/sites/better-bands

[2022-03-16 06:01] Dekadinious commented on #31171
@barryhughes I am logged in while doing my testing. I am going to try your solution regardless and see how I do.

But would you say it makes for a good customer experience to be 100 % completely blocked from ordering through a single use coupon if the payment method fails and you have to try again? You are completely blocked until the order cancels itself or you get help from customer service. I c

[2022-03-16 08:08] seldimi commented on #31280
Sure, that's also similar to wp_get_attachment_image_attributes filter, so that would do :)

[2022-03-16 09:53] tinwe commented on #32042
Thanks @claudiosanches
How would one go about to modify that?
I only need company name, because there is no other way to detect if the recipient and address is a company or a residential address in the current checkout form. The full name of the receiver is handled later, when the order is created.

[2022-03-16 10:37] barryhughes commented on #31280
Great: I've marked this as an enhancement and we'll try to get to it as quickly as we can—though we do have some higher priority items we're working through. If you (or anyone else interested in this) has the space to do so, we'd also be open to a PR introducing a new filter as discussed.

[2022-03-16 11:02] barryhughes commented on #31171
Interesting. Then there must be some difference in how we're testing.

For me, though, when logged in as a customer and when a coupon with a use limit of 1-per-customer has already been applied to another order (which in this case is still pending payment), `$discounts->is_coupon_valid( $coupon )` returns false.

No, I would not.

I think a case could definitely be made to introduce functionality

[2022-03-16 11:04] kelderkolddk opened #32080 "Woocommerce report wrong calculation when using multi currency"
Hi I use Currency switcher:

Currency Switcher for WooCommerce.
Version 2.15.0 | Af [WP Wham](https://wpwham.com/)

And when using that my reports do not show the right numbers, only sales in DKK (my local currency) is being showed.
All sales in Euro dont show up.

[2022-03-16 11:43] Dekadinious commented on #31171
@barryhughes That's actually a good point. I hadn't considered that the payment gateway perhaps handled failed payments wrong. I have mentioned this issue to them, but I was assured that they handled things correctly. It's the Klarna plugin from Krokedil. I do not think it moves orders to a failed status when they fail, because they are just left in pending until canceled.

[2022-03-16 12:16] barryhughes commented on #31727
So the way it works is that at the end of each batch we calculate how many rows have already been exported (for instance, if two batches have already handled, and the batch size is 50, we assume 100 rows were exported), then add this figure to the number of rows we know to have been exported in the current batch [(see here)](https://github.com/woocommerce/woocommerce/blob/6.3.1/plugins/woocommerce

[2022-03-16 12:16] barryhughes commented on #32220
So the way it works is that at the end of each batch we calculate how many rows have already been exported (for instance, if two batches have already been handled, and the batch size is 50, we assume 100 rows were exported), then add this figure to the number of rows we know to have been exported in the current batch [(see here)](https://github.com/woocommerce/woocommerce/blob/6.3.1/plugins/woocom

[2022-03-16 12:31] roykho commented on #32080
Hi @kelderkolddk,

Unfortunately this is not something we can help you with. I would suggest you reach out to the author of that plugin you're using for assistance.

[2022-03-16 12:31] #32080 closed, assigned to nobody

[2022-03-16 12:57] barryhughes commented on #30898
Removing dev feedback flag (seems reasonable to avoid hardcoding `wp-content` and it looks like Jorge is assigned to the PR).

[2022-03-16 13:09] barryhughes commented on #31171
OK, well it is perhaps worth noting that various other gateways (Stripe is a good example) will generally mark an order as having failed near-instantly, if for example the card is invalid. However, what makes sense in this scenario will vary: perhaps the payment service does not provide the information they need to do anything else.

In any case, at least by default, the coupon will still not be '

[2022-03-16 14:11] stuart-lambon commented on #32066
Do you think this could be linked to this issue?
https://github.com/woocommerce/woocommerce/issues/32065

[2022-03-16 14:51] johnregan3 commented on #31824
@barryhughes Tagging just so there is some visibility on this PR.  Feel free to reassign as needed.

[2022-03-16 14:59] pmcpinto opened #32133 "Payments task and settings updates"
This epic aims to include all the updates that should be implemented in the payments task and settings experience.

[2022-03-16 15:17] pmcpinto opened #32132 "Payments promo in the task and settings: update logic"
**Description:** we want to change the logic behind the promo of payments solutions in the payments task and setting. Logic [here](https://github.com/Automattic/woocommerce.com/blob/trunk/plugins/wccom-plugins/payment-gateway-suggestions/includes/class-payment-gateway-suggestions.php#L20-L339). The goal is to have 3 categories, and the existing logic is already practically aligned with the first 2

[2022-03-16 16:05] pmcpinto opened #32131 "Payments task: UI changes to the additional payment gateways section"
**Description:** we want to introduce some tweaks to the additional payment gateways section, in order to reduce cognitive load and increase the visibility of WCPay.

![Payments _ WooCommerce Payments.png](https://images.zenhubusercontent.com/5d84fe8e1201de0001b6ab61/b4b02bf4-bc45-4037-b594-097f8c5d75ff)

**Acceptance criteria:**
- [x] Split the section into two sections: "Choose a payment provide

[2022-03-16 16:06] EdithAllison opened #32083 "Using SelectWoo inside a container with position absolute causes dropdown to be too far away"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I'm using SelectWoo inside a tippy.js modal and noticed the following bug:

If the dropdownParent has position absolute, then SelectWoo calculates the position from window but CS

[2022-03-16 16:17] jhonatan11530 opened #32084 "Can you create a generic password for all users in woocommerce?"
### Describe the solution you'd like

you can modify the woocommerce source code to generate a generic password for all users example password: 123
What security problems would I have when trying to make this change?

### Describe alternatives you've considered

put a generic password instead of a random one when creating an account

### Additional context

_No response_

[2022-03-16 16:20] pmcpinto opened #32130 "Payment settings - UI changes to the recommended payment options section"
**Description:** we want to introduce some tweaks to this section of the payment settings screen, in order to reduce cognitive load and increase the visibility of WCPay.

**Acceptance criteria:**
- [ ] If the store is located in a country where WCPayments is eligible, hide the **Recommended Ways to Get Paid** panel and only show the "other payment methods" CTA at the bottom of the table.

![WooCom

[2022-03-16 16:27] EdithAllison commented on #32083
Comparing the selectWoo JS vs select2 the code differs for AttachBody.prototype._positionDropdown:

Select2 has:

[code]

whereas selectWoo  has

[code]

select2 seems to work in my tests.

Same code as above but with Select2 code shows dropdown correctly aligned to parent:

<img width="619" alt="Bildschirmfoto 2022-03-16 um 17 35 42" src="https://user-images.githubusercontent.com/19706428/1586410

[2022-03-16 16:38] manospsyx opened #42645 "Cart item filters pass 'cart' context in mini-cart block"
Callbacks that hook into cart-item filters, such as `cartItemClass`, receive a context argument that indicates whether the filter is called in `cart` or `summary` (checkout) context.

The mini-cart block re-uses the same cart item row component, passing `cart` as context in all filter callbacks.

It might be a good idea to pass a different context value when those filters are called in mini-cart c

[2022-03-16 17:00] barryhughes commented on #31198
Agreed, good catch!

[2022-03-16 17:39] EdithAllison opened #32085 "selectWoo / select2 : selecting same product again removes it from selection"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the selectWoo (select2) dropdown if a product is selected again it is removed from the selection.

### Expected behavior

I would expect selecting the same product again to ke

[2022-03-16 18:03] barryhughes opened #32086 "[COT] Spike into order ID resolution (new COT order ID vs historic post ID)"
Various parts of our API surface (REST, programmatic and hook-based) require an order ID.

This task is concerned with looking at ways to disambiguate between the historic post IDs we have traditionally used and the new COT ID that we may ultimately use going forward. Very generally, we wish to make things as clear and obvious to our developers as possible, and we also wish to avoid nasty situatio

[2022-03-16 18:15] rigaleb commented on #27026
Hello!
@GlueDigiStu  How exactly did you use that function, can you show me an example snippet? Thank you!

[2022-03-16 18:24] rigaleb commented on #29908
@vedanshujain Hello!
I'm confused in regards to how the tax is calculated. Let s say I enter the prices excluding tax and also display them excluding tax and then display the tax at the bottom. In the backend, how exactly is the tax calculated? for the whole subtotal or for each line and then added all up and then rounded? It's very importamt because it matters how my invoicing software reads the

[2022-03-16 18:53] JosephWJMaxwell commented on #27295
Having same issue. When uploading 15000 products via api, it seems to be duplicating some of them.

[2022-03-16 20:48] webtech-jomase commented on #31459
I am sorry for not having responded within a reasonable time but I have suffered an accident that has left me disconnected these last few months.

The answer is post_date, in the database generated with a third-party application for importing products from a prestashop platform, all the products of the old store with the same date (same date, time, seconds) were generated in batch.

As I mentioned

[2022-03-16 20:52] csmcneill opened #32088 "[Enhancement]: "Set up payments" option available until two payment gateways are active"
### Describe the solution you'd like

When [WooCommerce Payments](https://woocommerce.com/products/woocommerce-payments/?aff=10486&cid=1131038) is active on a site, the "Set up payments" option on the `Get ready to start selling` checklist should be checked off.

### Describe alternatives you've considered

1. Changing the verbiage so that, if one payment gateway is currently active, it says "Set

[2022-03-16 21:54] stuart-lambon commented on #32065
As @bashgeek recommended, I can confirm that running the ‘Regenerate the product attributes lookup table’ with a full table regeneration worked for me to fix this issue. I’m not sure many users will be able to easily know to do this though.

[2022-03-17 03:40] akro99 opened #32089 "Bug of event setting"
all the events are shown as expired events
even though the start date and end date are all after today.
<img width="1302" alt="截屏2022-03-17 上午11 39 09" src="https://user-images.githubusercontent.com/77134102/158732314-5c500072-ba21-44cf-a3ad-830688a67bcb.png">
<img width="869" alt="截屏2022-03-17 上午11 39 54" src="https://user-images.githubusercontent.com/77134102/158732322-9b8d787a-6698-4510-be92-57

[2022-03-17 08:05] boutzamat commented on #24619
Why are you closing this?! You literally added "won't fix" status to it.
Did you give up on fixing something as important the taxes in an e-commerce system?

I must admit i am considering not using WooCommerce for my clients anymore. Which is sad because i just built a big Vue storefront for a headless WooCommerce, just to find out that you don't care about TAXES that are like the most important t

[2022-03-17 08:11] boutzamat commented on #25347
Only, it hasn't been fixed yet 2 years later. How are you not focusing on something as essential as tax?
Imo that should have the highest priority before all the new fancy gimmick features that only promotes Automatic from my point of view.
I know WC is free, but i've invested countless of money in your eco-system so i really feel i'm in the place to complain when you don't fix something as vital

[2022-03-17 08:15] rrrrragazzo opened #32090 "categories"
Sorting the categories in woocommerce not possible,

nobody knows in which order the categories in the shop are then displayed and this needs to be fixed urgently, this error needs to be fixed

[2022-03-17 08:16] boutzamat commented on #27026
How is 20 DKK 25% of 100 DKK?
Something crazy going on with the taxes.
For demonstration purposes i even left out the shipping just to prove that your tax calculations are wrong. I'm not talking slightly wrong i'm talking insanely wrong.

![image](https://user-images.githubusercontent.com/4305046/158765902-4407b756-9ce2-4fd1-88ac-ba6ae0a5b6ed.png)
![image](https://user-images.githubusercontent.com

[2022-03-17 08:35] Nashoot commented on #29074
unfortunately no. i couldn't solve it! I have spent a lot of time trying to understand how this works but its a clear bug in woocommerce and seems nobody cares for it :). The touch issue on the phone is till today with the same behaviour.

[2022-03-17 08:43] Konamiman opened #32092 "PayPal Standard + Subscriptions: When a subscription order is placed, Transaction ID from Parent order and PayPal Billing Agreement ID are missing from subscription order details."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a subscription order is placed, Transaction ID from Parent order and PayPal Billing Agreement ID are missing from Subscription order details.

![https://d.pr/i/GP1YFx](https

[2022-03-17 08:44] Konamiman commented on #32092
Issue originally reported by @namiokuzono

[2022-03-17 09:57] #31244 closed, assigned to nobody

[2022-03-17 10:03] andfinally opened #32129 "Allow remote inbox notifications to link to other pages in wp-admin"
@budzanowski had a requirement to link from a Remote Inbox Notification to a wp-admin page outside of WooCommerce, `wp-admin/plugins.php`. But looking in `SpecRunner::run_spec`, he found that any URL with `url_is_admin_query` in the spec is passed through `wc_admin_url`, which means that we can only target WooCommerce URLs like `admin.php?page=wc-admin' . $path`.

It would be great if the notifica

[2022-03-17 10:15] swatipawarGS commented on #32085
Hi @EdithAllison,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/158753775-445e9015-c4d9-42ae-821d-f97c0d3ce348.mp4

Priority of this issue will be assigned sh

[2022-03-17 11:00] seanvandermolen opened #32093 "[Enhancement]: Product imports, attribute filters, publish needs improvment"
### Describe the solution you'd like

After importing with WPAllImport all items were scheduled at a time I did not set.  While this plugin may need updates too support changes in WC.  There are additional issues.  The new attributes tables had not been created in tools yet.

1.  No documentation for the WC Settings > Products > Advanced page
2. Manually changing the post to publish is missing whi

[2022-03-17 12:26] Yasen commented on #27419
I also have this issue. The widget Filter Products By Attribute does not show on the front end. WooCommerce version 6.3.1. WP version 5.9.2.

[2022-03-17 14:16] thekendog commented on #25331
Any update on this?  I'm running into the same issue but with my header.  There's a huge gap now once you dismiss the notice.

[2022-03-17 14:19] peterfabian commented on #32066
Hi, thanks for reporting! We're already working on a fix here: https://github.com/woocommerce/woocommerce/pull/32067.

If you want to create the table yourself in the meantime, you should be able to use this query (please use the correct db prefix and collation for your db, though):

[code]

[2022-03-17 14:26] peterfabian commented on #31905
It seems like this should be fixed in the EU VAT plugin. I'm going to open an issue in the respective private repository. Since this is not something we can add in core if we don't have the field, I'm closing the issue here. I'll post an update here when there will be any updates from the EU VAT plugin.

[2022-03-17 14:26] #31905 closed, assigned to nobody

[2022-03-17 14:29] peterfabian commented on #31887
Hi again. Sorry, but the issue you linked is different from what you reported. Since we don't have WPML, we can't really test it or know how they round the currency-converted values, thus I'm going to close this issue for now. We can reassess if we know more.

[2022-03-17 14:29] #31887 closed, assigned to nobody

[2022-03-17 14:32] peterfabian commented on #31850
Hi, WooCommerce stores the recently viewed products in a cookie, so if you cache it, it won't indeed work properly. I'm marking this as a potential enhancement with low priority.

Side note: we need to check the lifecycle of the cookie, as it seems it doesn't get cleared when the session gets cleared.

[2022-03-17 14:42] helgatheviking opened #32094 "[Enhancement]: Wrap add to cart button and quantity input in wrapping <div>"
### Describe the solution you'd like

I've seen multiple themes apply a flex layout to the add to cart `<form>` element in order to get the quantity input and add to cart button to line up nicely. However, this fails pretty spectacularly as soon as any plugin/custom code needs to add an additional input field (like Name Your Price, Mix and Match Products, Bundles, Product Addons, etc).

Currently

[2022-03-17 14:54] johnregan3 commented on #31823
I'll take this one on once #32081 is merged.

[2022-03-17 15:32] joelclimbsthings opened #32128 "Minor UI issues with tasks experiment 1"
### Describe the bug
A couple minor UI issues with the tasks experiment layout.

1. Kebab menu doesn't have the normal spacing, compared to others on the page (should have greater spacing on the top and right margins).
2. Some of the images for various task headers obstruct the text when in the two-column layout on the Homescreen.

### To Reproduce

1. Checkout latest main
3. Enable `tasklist-setu

[2022-03-17 15:39] simonegosetto commented on #10082
it works ! thanks man

[2022-03-17 16:43] mattsherman commented on #32128
These are issues from woocommerce/woocommerce-admin#8457.

[2022-03-17 17:50] xaviercshp commented on #27419
I dont know why I was having the same issue. I added a var dump on top of the html output filter and that somehow fixed things its bizarre. I removed the var_dump and things remained fixed.

[2022-03-17 18:32] Yasen commented on #27419
I also did some dumps and things worked out. But noticed that on change of attribute name, it does not change in some tables and this is confusing.

[2022-03-17 19:14] #30156 closed

[2022-03-17 19:38] #32089 closed, assigned to nobody

[2022-03-17 19:43] #32090 closed, assigned to nobody

[2022-03-17 19:48] roykho commented on #32084
Thanks for the suggestion @jhonatan11530,

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look.

In the meantime, we are going to close this issue with the `votes needed` label and evaluate over time i

[2022-03-17 19:48] #32084 closed, assigned to nobody

[2022-03-17 19:52] roykho commented on #32083
Hi @EdithAllison - unfortunately we can't do that because it would reintroduce this issue https://github.com/woocommerce/woocommerce/issues/28996

Unless you can come up with a solution that satisfies both conditions.

[2022-03-17 19:54] #32093 closed, assigned to nobody

[2022-03-17 20:34] okellotechconsults opened #32097 "Cannot Load settings"
I am facing issues with loading woocommerce settings page, it is just blank. with the following error in the console
"
index.js?ver=3.2.1:2 Uncaught TypeError: Cannot read properties of null (reading 'nextSibling')
    at Module.<anonymous> (index.js?ver=3.2.1:2:120425)
    at Module.283 (index.js?ver=3.2.1:2:120655)
    at a (index.js?ver=3.2.1:2:1328)
    at wc.app.0 (index.js?ver=3.2.1:2:4053)

[2022-03-17 20:40] okellotechconsults commented on #32097
Discovered it was one of the plugins that installed on setting up woocommerce

[2022-03-17 20:40] #32097 closed, assigned to nobody

[2022-03-17 20:53] ObliviousHarmony opened #32098 "Test Transfer Issue"

[2022-03-17 21:06] ObliviousHarmony opened #32099 "Test Issue Transfer"

[2022-03-17 21:08] ObliviousHarmony opened #32100 "Test Issue Transfer"
This tests the issue transfer.

[2022-03-17 21:14] ObliviousHarmony opened #32101 "Test Transfer"

[2022-03-17 21:17] ObliviousHarmony opened #32102 "Transfer Test"
Test

[2022-03-17 21:27] ObliviousHarmony opened #32103 "Transfer Test"

[2022-03-17 21:29] ObliviousHarmony opened #32104 "Transfer Test"

[2022-03-17 21:31] ObliviousHarmony opened #32105 "Transfer Test"

[2022-03-17 21:32] ObliviousHarmony opened #32106 "Test"

[2022-03-17 21:48] ObliviousHarmony opened #32107 "Transfer Test"
Tests Transfer

[2022-03-17 21:50] ObliviousHarmony opened #32108 "Transfer Test"

[2022-03-17 22:06] jonathansadowski opened #32110 "Test issue"
This is a test issue.

[2022-03-17 22:10] #32110 closed

[2022-03-17 22:12] #31824 closed, assigned to nobody

[2022-03-17 22:17] razorfrog commented on #27419
Also seeing this. We're using the widget through the Classic Widgets / older system. Did the move to Blocks break this functionality?

[2022-03-17 22:19] ObliviousHarmony commented on #31760
Hello @priyankabehera, the review of these pull requests is handled by another team. I'll tag @peterfabian for potentially more help.

[2022-03-17 23:11] ObliviousHarmony commented on #32085
I'm pretty sure this is intentional, but I'll flag it for review by the development team just to be sure.

[2022-03-17 23:22] JakeQZ opened #32111 "Security update fails catastrophically if plugin directory is symlink"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

See https://developer.woocommerce.com/2022/03/10/woocommerce-3-5-10-6-3-1-security-releases/

The software attempted to apply an automatic update for a security vulnerability, ev

[2022-03-17 23:24] JakeQZ commented on #32111
I really don't have time to follow the steps to isolate the problem, as they would require the effort of setting up a new site.

[2022-03-18 06:41] rrrrragazzo commented on #32090
no need clear steps, just read what I wrote

[2022-03-18 08:30] adrianduffell commented on #32135
Just blocking this until the designs are finished for this flow. p7bje6-3UY-p2#comment-7020

[2022-03-18 10:17] ifNoob opened #32113 "Moving the Product short description"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If you move the brief description of the product up or down, you will not be able to edit the visual editor

### Expected behavior

This problem has been around for a long time

[2022-03-18 11:18] roykho commented on #32113
Hi @ifNoob,

Thank you for submitting the issue. However, you didn't fill out the details of the bug report template that we ask for. Without these details, we can't fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2022-03-18 11:40] pmcpinto commented on #32140
Hey @mattsherman do you have news about this? Thanks

[2022-03-18 12:01] ifNoob commented on #32113
sorry.

Steps to reproduce the behavior:
1. Edit product
2. Product short description Move up and down
3. The contents of the visual editor cannot be edited empty

Expected behavior:
Return to normal with browser reload

WordPress Environment:
WordPress address (URL): 		http://woocommerce.local
Site address (URL): 		http://woocommerce.local
WooCommerce version: 		6.3.1
WooCommerce REST API package

[2022-03-18 12:33] MFsmart commented on #27419
I had the same problem today, after updating woocommerce to 6.3.1. Iv made a roll back to 6.2.2 and the filter attributes in the widget appear again in the frontend Why is this not fixed yet?

[2022-03-18 13:19] peterfabian commented on #32030
Hi, thanks for opening the issue. I can't reproduce this myself, tried to update from 5.2.5 to 6.2.2:
<img width="1596" alt="Screenshot 2022-03-18 at 14 13 14" src="https://user-images.githubusercontent.com/2207451/159009658-257d9244-2837-4408-bbb5-75db92ee1ad5.png">

Have you tried to troubleshoot for a potential plugin conflict, i.e. to run the update without having other plugins active?
Do you

[2022-03-18 14:06] peterfabian commented on #31948
Side note: steps to reproduce need to include creating variations and setting price for them.

[2022-03-18 14:46] peterfabian commented on #31928
Sorry for the ping pong here, but I think that style rule is coming from vendors CSS in the Blocks plugin:
woocommerce/woocommerce-gutenberg-products-block/node_modules/@wordpress/components/src/custom-select-control/style.scss

![Screenshot 2022-03-18 at 15 49 11](https://user-images.githubusercontent.com/2207451/159025532-27a30fb1-ff3c-4a04-9a0b-9ec8f1ec743a.png)

As you can see in the screensho

[2022-03-18 14:46] #31928 closed, assigned to nobody

[2022-03-18 15:04] helgatheviking commented on #29529
Hi @juliaamosova I am happy to take a crack at this one... just need a little point in the right direction as far as color schemes. Does twenty twenty even _need_ custom notice styles? Why don't the default themes inherit the default Woo notice styling? This style is arguably much worse than the ones in Woo core.

[2022-03-18 15:13] xaviercshp commented on #27419
I believe the issue is in the `Automattic\WooCommerce\Internal\ProductAttributesLookup\Filterer->get_filtered_term_product_counts` function that grabs the counts. throwing some dumps I notice that function returns the wrong counts which causes the terms not to display. for me this is is how the query ends up running. it does have the complete number of term ids and they all have products attached

[2022-03-18 15:21] DavidAnderson684 commented on #32111
N.B. I'm not in the WooCommerce team (the 'Contributor' next to my name in Github just means I've had code merged in the past).

1) WordPress plugins are performed by code in WordPress core, not plugins themselves. There's nothing you can change inside WooCommerce to change this outcome.

2) WordPress by default is set up so that security updates can be flagged for install by wordpress.org, and th

[2022-03-18 15:24] xaviercshp commented on #27419
alright I was able to fix this issue base on my comment above I figured maybe the issue is the data in the lookup table( this became more apparent when I forced some terms to show and tried to filter by them and no products would show even when they should the lookup table shows again on the store main query when filtering ) so I went to see if I could update the database or somehow regenerate its

[2022-03-18 15:26] Konamiman commented on #32111
Hi @JakeQZ, WooCommerce team dev here. Yes, [what @DavidAnderson684 says](https://github.com/woocommerce/woocommerce/issues/32111#issuecomment-1072515053) is true, plugin updates are handled directly by WordPress. Also this seems to be a known issue: https://core.trac.wordpress.org/ticket/15134

[2022-03-18 15:29] Konamiman commented on #32111
I'm closing this for now, but we'll reopen if any additional evidence can be provided pointing out that the issue is somehow related to WooCommerce itself.

[2022-03-18 15:29] #32111 closed, assigned to nobody

[2022-03-18 15:38] JakeQZ commented on #32111
OK, I'll add a comment to the WordPress core ticket for the issue to cross-reference back here.

[2022-03-18 15:40] Konamiman commented on #32085
Already selected items appear with a different backgroud color in the dropdown, so indeed this could have been implemented this way intentionally; but it's indeed quite confusing, those items should just not appear. So I'm marking it as a bug.

[2022-03-18 15:46] Konamiman commented on #32094
Hi @helgatheviking, could you please provide the names of a couple of themes that show this behavior, so that we can take a look?

[2022-03-18 15:50] Konamiman opened #32127 "[Enhancement]: "Set up payments" option available until two payment gateways are active"
@csmcneill commented on [Wed Mar 16 2022](https://github.com/woocommerce/woocommerce/issues/32088)

### Describe the solution you'd like

When [WooCommerce Payments](https://woocommerce.com/products/woocommerce-payments/?aff=10486&cid=1131038) is active on a site, the "Set up payments" option on the `Get ready to start selling` checklist should be checked off.

### Describe alternatives you've con

[2022-03-18 15:50] #32088 closed, assigned to nobody

[2022-03-18 15:50] Konamiman commented on #32088
Issue moved to [woocommerce/woocommerce-admin woocommerce/woocommerce#32127](woocommerce/woocommerce#32127) via [**ZenHub**](https://www.zenhub.com/)

[2022-03-18 15:50] Konamiman opened #32126 "[Enhancement]: "Set up payments" option available until two payment gateways are active"
@csmcneill commented on [Wed Mar 16 2022](https://github.com/woocommerce/woocommerce/issues/32088)

### Describe the solution you'd like

When [WooCommerce Payments](https://woocommerce.com/products/woocommerce-payments/?aff=10486&cid=1131038) is active on a site, the "Set up payments" option on the `Get ready to start selling` checklist should be checked off.

### Describe alternatives you've con

[2022-03-18 15:58] Konamiman commented on #31367
An update on this:

- As of WooCommerce 6.3 the product attributes lookup table has indices.
- As of WooCommerce 6.4 it will have a primary key too.
- Also, a tool has been added (WooCommerce - Status - Tools) that allows the table regeneration process to be paused, and from there, to be either resumed or restarted (see https://github.com/woocommerce/woocommerce/pull/31889)

[2022-03-18 15:58] #31367 closed, assigned to Konamiman

[2022-03-18 16:31] razorfrog commented on #27419
@xaviercshp Works! That seems really obvious in hindsight. Thanks for pointing it out!

[2022-03-18 16:32] MFsmart commented on #27419
Yes it works! Thanks!

[2022-03-18 17:27] barryhughes commented on #31459
I'm sorry to hear that ... and no problem: I'll re-open and try to take a second look (though, it probably won't be before next week).

[2022-03-18 17:35] mattsherman commented on #32140
@pmcpinto Sorry about this... I missed these pings originally. I'll have the team look at this early next week and update you both.

[2022-03-18 17:38] helgatheviking commented on #32094
I think this was coming from Avada (but the user didn't confirm), but I also know Elementr adds flex styling to the `<form>` element. I have had to write custom CSS to stop it from breaking my plugin's layouts.

You can recreate the problem by styling the form with flex layout:

[code]

And adding any field via hook:
[code]

I know this is a theme issue, but I'm pretty sure they are doing it to ac

[2022-03-18 23:20] barryhughes commented on #31459
OK, I tested that scenario last time, and again today, and still cannot replicate. This does not seem to cause products to be skipped.

Would you be able to share a (sanitized) dump of your products, or even a subset that we can use locally to simulate the problem? Otherwise, there unfortunately is not enough information in this report for us to successfully replicate the issue.

[2022-03-18 23:35] barryhughes commented on #32025
In case useful, a further example of what I think may essentially be the same problem can be [seen here](https://github.com/woocommerce/woocommerce/issues/31459#issuecomment-1072883048) (I removed `needs: triage feedback` and applied `needs: author feedback`, which was swiftly reversed by the action).

<img width="861" alt="author-feedback-triage" src="https://user-images.githubusercontent.com/359

[2022-03-18 23:59] ObliviousHarmony opened #32125 "Test Issue"

[2022-03-19 07:16] kaushikasomaiya opened #32285 "WooCommerce 6.3.x: Some WC Blocks JS resources fail to load on Appearance > Widgets screen"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With WooCommerce 6.3.x: Some WC Blocks JS resources fail to load on the Appearance > Widgets screen.

* wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-s

[2022-03-19 09:59] DenverTK commented on #27419
I fixed it by unchecking the **Enable table usage** in Woo Settings->Products->Advanced

[2022-03-19 22:51] selvagem360 commented on #26764
Hi. it's my first time here. I am not sure if this is the right place to post this, but since I ended up here when I was looking for a solution for woocommerce failing PCI/DSS scan due to cookies not set as Secure and httpOnly... here is what I did and is working for me - at least at the staging website (I will put it live later).

I am using the really simple ssl pro plugin that sets secure cooki

[2022-03-19 23:39] selvagem360 commented on #26764
actually it seems we can't set google analytics to httponly because it won't be acessible by JS...
https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies

I have not idea how websites pass pci/dss scan with analytics enabled. I will research that latre on.

[2022-03-20 18:57] courtney666 commented on #31022
The issue was reported in October 2021, It has been a very long time, since we never got a fix from your end we stopped using Divi and that widget, so not sure if the error is still there or not.

[2022-03-20 19:22] barryhughes commented on #31022
OK, thanks for the note. Since we cannot replicate using the latest version of that theme (and latest WooCommerce) and nor is it an active problem for you, I'll go ahead and close this.

[2022-03-20 19:22] #31022 closed, assigned to nobody

[2022-03-21 00:17] galbaras commented on #29138
As per reply from @Konamiman

WooCommerce Team, will this be released any time soon?

[2022-03-21 01:33] lmhernandez opened #32289 "Woocommerce inicio no carga"
Cuando quiero ingresar a mi woocomerce que por ahora es http me sale este error
![image](https://user-images.githubusercontent.com/13582245/159195322-18d08a5a-bfea-4e12-95a6-c389b6f4303f.png)

[2022-03-21 02:51] #32289 closed, assigned to nobody

[2022-03-21 03:01] chihsuan commented on #32265
Closed since I was not able to reproduce this with the latest version.

[2022-03-21 03:01] #32265 closed

[2022-03-21 03:06] #32147 closed, assigned to rjchow

[2022-03-21 03:15] chihsuan commented on #32127
Duplicate https://github.com/woocommerce/woocommerce/issues/32127

[2022-03-21 03:15] #32127 closed, assigned to nobody

[2022-03-21 10:18] Spiranjas commented on #32065
Same issue !!

[2022-03-21 10:26] Syker-uk commented on #32030
Whatever.

[2022-03-21 11:02] AuraCreativeMedia commented on #32030
I found this ticket previously and wanted to pitch in since it seems Syker had the same issue we encountered. Had we not found this ticket we'd have thought it was an 'us' problem since we seen no other reports of this. Sorry to be wordy but I'd like to add our experience. We found this issue occur twice, on an existing site and a new build site.

We ran an update from **WooCommerce 5.4.x** to **6

[2022-03-21 11:03] itsmeichigo opened #32294 "Analytics Setting: The reload-page hook should not be added in the result of the toggle setting response"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

While working on [updating the analytics settings](https://github.com/woocommerce/woocommerce-ios/pull/6457) from the Woo Mobile app, I found that the request to update the analy

[2022-03-21 11:20] adrianduffell commented on #32175
This is no longer blocked.

[2022-03-21 11:46] designsonline opened #32295 "Product count randomly wrong - displaying random amounts of products"
He have been experiencing a problem with products in the shop page and on product category pages randomly showing either no products, or sometimes the wrong number of products. The website might work correctly for a while then suddenly and randomly it shows the wrong results. I have just under 480 products at present, and 15 categories in addition to the usual "uncategorised".

For example in a ca

[2022-03-21 11:55] adrianduffell commented on #32175
There are scripts that converted the domain string previously when Woo Admin was bundled in Core.

* https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/bin/package-update.sh (PHP)
* https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/bin/package-update-textdomain.js

We need to match strings like :

[code]
and:
[code]
but not:
[code]

[2022-03-21 12:35] adrianduffell commented on #32139
Here's the breaking changes noted in these packages’ changelogs.

## @wordpress/a11y

* Drop support for Internet Explorer 11
* Increase the minimum Node.js version to v12

https://github.com/WordPress/gutenberg/blob/50b5bfa7de660d41a3b0e0693bf3fc9fc56836d8/packages/a11y/CHANGELOG.md

## @wordpress/base-styles

* Remove the background-colors, foreground-colors, and gradient-colors mixins.
https://

[2022-03-21 12:49] adrianduffell commented on #32139
I'm going to make this an epic and split it into multiple tasks.

[2022-03-21 12:57] adrianduffell opened #32296 "Update `@wordpress/*` dependencies"
This belongs to epic https://github.com/woocommerce/woocommerce/issues/32139

The following `@wordpress` packages are out of date:

[code]

The breaking changes in these updates are:

## @wordpress/a11y

* Drop support for Internet Explorer 11
* Increase the minimum Node.js version to v12

https://github.com/WordPress/gutenberg/blob/50b5bfa7de660d41a3b0e0693bf3fc9fc56836d8/packages/a11y/CHANGELOG.

[2022-03-21 13:03] JanetteBH opened #32297 "Not all fields have been filled in correctly error when all form fields are filled in"
Hi,
I am getting an issue with the Woocommerce form, it says that "Not all fields have been filled in correctly." when every field is filled correctly. This happens on the first page of the checkout when entering the billing information. Then you can't proceed past this page, do you have any ideas what could be causing this?

When I look at the system status for WooCommerce all is fine, I can't ed

[2022-03-21 13:50] apsjohn commented on #26258
You can use some filters to display 'In stock' message according to your product stock status

[2022-03-21 14:00] JanetteBH commented on #32297
I have just discovered that it seems to be doing this on prepopulated form fields only, particularly the country field as this auto fills with United Kingdom so the user won't think to populate it. How do I get it not to be prepopulated?

[2022-03-21 14:10] Dekadinious commented on #31171
Thank you for the explanation, I will see if they are able to get any sort of failed callback and can use the failed status in that case. Otherwise I will try your solution. Have a good one!

[2022-03-21 14:19] brablo opened #32299 "Too large intrinsic thumbnails loaded on mobile"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,

Plugin support asked me to place the problem here:
https://wordpress.org/support/topic/too-large-intrinsic-thumbnails-on-mobile/page/2/#post-15473831

On mobile all thumbnai

[2022-03-21 14:24] #32297 closed, assigned to nobody

[2022-03-21 14:32] Dekadinious opened #32300 "Product page redirects to 404 when the interpunct character is present in permalink"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Customers are sent to a 404-page when visiting products that have the interpunct character in the slug. This seems to happen because of the way WooCommerce encodes the slug when

[2022-03-21 14:47] pmcpinto commented on #32168
I created a new issue about this: #32130

[2022-03-21 14:47] #32168 closed, assigned to nobody

[2022-03-21 15:01] gordonchanhk commented on #31763
I can see many discount app try introduce a -ve items to the cart.
But upon PayPal create order, the discount is treated as a PHYSICAL_GOODS with a -ve amount value rather than fit this into purchase_units.amount.discount. Hope this info helps.
Related discussion: https://www.paypal-community.com/t5/REST-APIs/Applying-Discounts-to-Payment-Orders/td-p/1761738

[2022-03-21 16:00] clicknathan commented on #32070
Regarding the response from @swatipawarGS

I am the person who initially reported this via woocommerce.com. It is somewhat hard to tell in your video, but it looks like you're missing a crucial step.

1. Add a product to cart.
2. Go to /checkout/
3. Go to /my-account/ and login
**4. Click back button enough times to get back to /checkout/**
5. The checkout are will show a spinning wheel, console w

[2022-03-21 16:44] dennisnissle opened #32301 "Added states (e.g. after update) lead to broken base country setting"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

[This](https://github.com/woocommerce/woocommerce/commit/434de6aa19fe15a477a94862f9b5dfab8facf503) commit added states for Germany. Before 6.3.1 there were no states available fo

[2022-03-21 16:55] roykho commented on #32285
@kaushikasomaiya  - Thanks for reporting.

According to Rubiks team, these errors while annoying does not affect the functionality. In addition, some fixes for this are already in place seen here https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5989 So in 6.4, this should be a non issue.

With that, I will close this for now.

[2022-03-21 16:55] #32285 closed, assigned to nobody

[2022-03-21 17:20] VSmithmedia commented on #31763
I have created a new testing site from scratch using the same plugins to see if I can recreate the problem and yes the same issue arrises when I try to run a discount off cart as explained above.  the new site is https://caurbanlife.com and the plugin and discount are currently active for testing.  Should you need access let me know via email.

[2022-03-21 19:02] louwie17 opened #32306 "`feature-config.php` is not ignored anymore by Git (post WooCommerce Admin merge)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `feature-config.php` file was previously ignored by Git in woocommerce-admin as it is auto generated upon build.
During the merge this got added back in.

### Expected behavi

[2022-03-21 19:37] zhongruige opened #32307 "Add end-to-end tests around bulk editing"
We have had a few issues come in with bugs around bulk editing so we should look into adding tests around it.

[2022-03-21 19:41] zhongruige opened #32308 "Add a test around removing a shipping zone region"
We should add a test around removing a shipping zone regions. See: https://github.com/woocommerce/woocommerce/issues/32016

[2022-03-22 00:07] sunyatasattva commented on #42658
Thank you for reopening this @ralucaStan

We discussed this also during the meetup, it seems that Calypso is moving towards `eslint-import/order` ([P2 link](https://calypsop2.wordpress.com/2021/08/27/import-order-in-calypso/)), perhaps we could look into that as well?

[2022-03-22 03:28] chihsuan opened #32310 "Fix WCA lint commands (post WooCommerce Admin merge)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Linting is failing because our packages have been moved to `./packages/js`:

[code]

### Expected behavior

Run `pnpm nx lint woocommerce-admin` without errors

### Actual behavi

[2022-03-22 03:41] chihsuan opened #32311 "Add JS lint/test Github action (post WooCommerce Admin merge)"
### Describe the solution you'd like

We have a ["lint and test JS"](https://github.com/woocommerce/woocommerce-admin/actions/workflows/lint-test-js.yml) Github action in the woocommerce-admin to test and lint js code.

But we don't have an existing Github workflow in the monorepo. Only found [one](https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/package-js-api.yml) that tes

[2022-03-22 04:02] chihsuan commented on #32310
Hi @ObliviousHarmony I have some questions about the linting setup.  Previously we only had [a lint command](https://github.com/woocommerce/woocommerce-admin/blob/main/package.json#L44) in the root package.json to check our js code. But it looks like in the monorepo, each package has its own "lint" command now in its `package.json`, such as [e2e-environment](https://github.com/woocommerce/woocomme

[2022-03-22 06:15] adrianduffell commented on #32153
@chihsuan can this now be closed by https://github.com/woocommerce/woocommerce-admin/pull/8475?

[2022-03-22 06:22] becdetat commented on #32135
@pmcpinto I'm treating this as blocked and won't include it in the scope for C23 at the moment, it looks like we need some design exploration and you're questioning whether it should actually be done or not in the issue description

[2022-03-22 06:52] chihsuan commented on #32153
@adrianduffell Yes. 😄 thanks for the ping!

[2022-03-22 06:52] #32153 closed, assigned to chihsuan

[2022-03-22 07:14] rjchow commented on #32077
@rafaelzaleski It seems to go away when I disable wcpay plugin, but if we [release Woocommerce 6.4](https://developer.woocommerce.com/2022/03/15/woocommerce-blocks-7-2-0-release-notes/) and include the changes for Woocommerce Blocks 7.2.0 it will affect many users who have wcpay enabled.

wcpay seems aware of the issue: https://github.com/Automattic/woocommerce-payments/issues/4004

[2022-03-22 08:16] shohanhossainnab commented on #32220
Another report in 4881766-zen

[2022-03-22 08:55] ralucaStan commented on #42658
Seems like the way to go. They used [this shell script](https://href.li/?https://github.com/Automattic/wp-calypso/blob/9c2c3b9de267e094cfaffb5a3d7749868765c5d3/bin/import-order.sh) to migrate. Let's run this by the team and create a new ticket.

[2022-03-22 08:56] ovidiul opened #32314 "Force download broken for distributed filesystem"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Possibly related to https://github.com/woocommerce/woocommerce/issues/30288.

When we setup a WooCommerce Downloadable product, and the `File Download method` is set to `Force Do

[2022-03-22 10:22] shohanhossainnab commented on #32220
One more report in 4849535-zen

[2022-03-22 11:35] peterfabian commented on #32066
Closing since the fix is merged and going to be shipped with WC 6.4.

[2022-03-22 11:35] #32066 closed, assigned to nobody

[2022-03-22 11:56] #32306 closed, assigned to louwie17

[2022-03-22 12:06] vedanshujain commented on #32314
So we don't limit schemes for security reasons, basically to prevent local files from being incorrectly detected as remote files. We would be happy to accept PR with a filter on all `return` statements in that function though, that way you can customize based on the protocols you have.

[2022-03-22 12:16] tammullen opened #32315 "Add k6 API request for Coupon Creation"
Add a request for creating a coupon. This can be used to setup data for the Shopper `cartApplyCoupon` requests

[2022-03-22 12:45] webdados commented on #31729
Why wasn't this included in the 6.3.1 update?
This makes developer's lives miserable because we have WP_DEBUG always on.

[2022-03-22 13:12] swatipawarGS commented on #32299
Hi @brablo,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/159431099-2f96f8e0-034c-419e-bcbb-9ea09458be30.mp4

Priority of this issue will be assigned shortly

[2022-03-22 13:13] swatipawarGS commented on #32295
Hi @designsonline,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/159436591-8ca252ce-0116-4161-af89-07fb504963f8.mp4

Please provide us more detailed and any

[2022-03-22 13:15] swatipawarGS commented on #32113
Hi @ifNoob,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/159429698-98a5a7b0-e6b0-476e-8145-4593660fdaeb.mp4

Priority of this issue will be assigned shortly

[2022-03-22 13:25] tsetend opened #32316 "adjust_download_permissions row in database"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Reported in 4877582-zen

Whenever the user updates a product (CSV or using the editor), it creates a row `adjust_download_permissions` on the database (even for non-downloadable

[2022-03-22 13:30] vedanshujain commented on #32316
Noting that to fix, ideally, we should return early [in the function that we use to schedule action](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/src/Internal/DownloadPermissionsAdjuster.php#L40) if none of the variation has downloadable products.

[2022-03-22 13:50] ifNoob commented on #32113
Thank you very much.
Older WooCommerce WooCommerce 3.5.x has the same bug.

[2022-03-22 14:43] verofasulo opened #32318 "Task list: Shipping smart defaults"
**User story:**
As a new merchant
I want to focus on the most important setup tasks
So I can review some details later

**Description:**
With Jetpack installed and connected, alongside WCS, we have the opportunity to set things up on the users' behalf, and ask them to review and confirm, rather than start from scratch and think.

**Design overview (with new spotlight component):**
cJQeyyhx9PraQrY3

[2022-03-22 15:23] jessebrightman opened #32319 "Woocommerce v6.3.1 order object->customer_id is missing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Woocommerce v6.3.1 order object->customer_id is missing

### Expected behavior

be able to retrieve the customer_id field from the $order object

### Actual behavior

$order->cus

[2022-03-22 15:58] roykho commented on #32319
Hi @jessebrightman

Thanks for reporting however I see you did not perform all the self checks -- more specifically this one ` I have deactivated other plugins and confirmed this bug occurs when only WooCommerce plugin is active.`  and `This bug happens with a default WordPress theme active, or [Storefront](https://woocommerce.com/storefront/). Can you please perform that test and report back if t

[2022-03-22 16:44] pmcpinto commented on #32318
I'll add this to the Cycle 23 report for effort estimation

[2022-03-22 18:09] designsonline commented on #32295
I have just created a video for you to show the problem

[https://share.vidyard.com/watch/L8EJWRAyjvAAqQDP8kM6GE?vyetoken=$token_placeholder&autoplay=1]

As I said originally I have tried disabling all the plugins and even tried using the theme Twenty Twenty Two and had the same problem.

[2022-03-22 18:10] designsonline commented on #32295
https://share.vidyard.com/watch/L8EJWRAyjvAAqQDP8kM6GE?vyetoken=$token_placeholder&autoplay=1

[2022-03-22 19:46] MrJnrman commented on #32039
@ObliviousHarmony Thanks for the info...I had a good head scratch about why old workflows were running 😅.

Totally agree here. A habit of cherry-picking wouldn't be that great.

Closing this issue.

[2022-03-22 19:46] #32039 closed, assigned to MrJnrman

[2022-03-22 20:26] louwie17 opened #32326 "WooCommerce package.json `@woocommerce/admin-e2e-tests` dependency still points to release number"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
WooCommerce package.json `@woocommerce/admin-e2e-tests` dependen

[2022-03-22 21:19] barryhughes commented on #32301
Thanks for reporting this, I can replicate. Also, for our own benefit later on, here are some alternative steps-to-replicate (avoids version switching):

- Add the snippet at the bottom of these steps to a suitable location (such as a file in the `wp-content/mu-plugins/` directory.
- Now visit **WooCommerce ▸ Settings ▸ General** and select "Germany" as your country. Save changes.
- Now remove the

[2022-03-22 23:50] sunyatasattva commented on #42658
Wouldn't it be ok to use this same ticket?

[2022-03-23 00:18] barryhughes commented on #31763
Moving to the PayPal Payments tracker ... 💨

[2022-03-23 00:25] barryhughes commented on #31763
Seems I can't transfer it across, so I've [recreated it manually](https://github.com/woocommerce/woocommerce-paypal-payments/issues/548). Any further discussion etc should happen there. Thanks!

[2022-03-23 00:25] #31763 closed, assigned to nobody

[2022-03-23 01:36] barryhughes commented on #30907
Sorry for the delay, @KristFlex.

I'm not sure that, generally, there would be much value in this. Given the custom nature of the change, might you explore tweaking things via some light custom development? You could for instance leverage the [`woocommerce_webhook_payload`](https://github.com/woocommerce/woocommerce/blob/6.3.1/plugins/woocommerce/includes/class-wc-webhook.php#L481) filter hook to

[2022-03-23 02:02] irfan-maulana-tkp commented on #31828
https://github.com/pnpm/pnpm/issues/2995

[2022-03-23 02:21] thelogicwizards commented on #32220
User via [4881766-zen](4881766-zd-woothemes) had this perspective to share concerning the workaround:

[code]

**Are a list of the core Reports filenames available? This would be useful to send to users in the interim.**

[2022-03-23 06:30] rodelgc commented on #31143
Unassigning a sprint for this task, since I think it would be good to work on this once we've started adding annotations to our allure reports.

[2022-03-23 09:08] #32138 closed, assigned to chihsuan

[2022-03-23 09:15] ralucaStan opened #42644 "Add docs for Typescript best practices and conventions used in the project"
Part of pca54o-3fH-p2

[2022-03-23 09:23] ralucaStan opened #42643 "Add docs about inner blocks in the Checkout block"
Could be based on this presentation by @senadir pca54o-3dU-p2
Part of pca54o-3fH-p2

[2022-03-23 09:25] ralucaStan opened #42642 "Add docs about blocks"
Try covering:
- How dynamic blocks work and how our blocks are rendered
- Lifecycle of the abstract block class
- Lazy loading blocks
- Creating new blocks (including new modules)

Part of pca54o-3fH-p2

[2022-03-23 09:27] ralucaStan opened #42641 "Add docs about the data flow in the application"
- Data flow in the application (how does PHP and JS coordinate and how to go from one to the other)

Part of pca54o-3fH-p2

[2022-03-23 09:36] ilyasfoo commented on #32205
For posterity, the last discussion on this was that the issue wasn't a track error. The cause may have been user behaviour changes. We're addressing the issue through https://github.com/woocommerce/woocommerce-admin/pull/8394 and https://github.com/woocommerce/woocommerce-admin/pull/8411.

I think it's safe to close this issue.

[2022-03-23 09:36] #32205 closed, assigned to moon0326

[2022-03-23 10:30] KenPov commented on #22048
Thank you a lot @elzix
I spent my time to find it for whole day.

[2022-03-23 10:45] makifujio commented on #28028
Hi I hope you solve the problem you @malsubrata as soon as possible, as it is the best wallet plugin. Thanks

[2022-03-23 11:03] timo-cavelius commented on #17693
Has someone found a solution for this problem yet? A code snippet would be highly appreciated.

[2022-03-23 11:20] mikejolley opened #32329 "Package Build Step Breaks JSON"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When packages such as Woo Blocks are pulled into Woo core there is a script which changes textdomains from `woo-gutenberg-products-block` to `woocommerce`. This seems to be break

[2022-03-23 12:23] pmcpinto opened #32330 "Setup additional payment providers task - issue in the logic to display the task"
**Description:** there was a misunderstanding with the logic for the Setup additional payment providers task implemented in [#8391](https://github.com/woocommerce/woocommerce-admin/pull/8391). This task should only be displayed in countries where WCPay is available and after the WCPay setup is finished. Otherwise, it's just a duplication of the payments task, which is already visible: https://d.pr

[2022-03-23 12:24] pmcpinto commented on #32330
@octaedro @adrianduffell let me know if it's possible to fix this in time to be included in WC 6.4 RC (and WC Admin 3.3). Thanks

[2022-03-23 13:57] rashedripon commented on #32220
4849535-zen tried the workaround but it downloaded a blank file.

[2022-03-23 14:54] akorotkovas opened #32336 "Filter by atrribute"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After updating the woocommerce plugin "Filter by product attributes" shows only 1 variation per attribute.

I did a backup month ago, rolled back to it and after updating plugin

[2022-03-23 15:08] #32336 closed, assigned to nobody

[2022-03-23 16:05] pmcpinto commented on #32318
@becdetat can you check if one of the teams can estimate the effort required to implement this? The smart default is something that also needs to be implemented for woocom. Thanks!

[2022-03-23 17:15] barryhughes commented on #30964
Agree, looks like we may be able to solve with a small tweak to `WC_Structured_Data::set_data()` (plus any supporting tests).

[2022-03-23 19:47] mattsherman commented on #32144
@verofasulo It is unclear to me where this screen should be... is it a replacement of the "Add Products" task on the home screen, or is it an interstitial that is shown when the user clicks "Add New" on the sidebar (which is what the mockup seems to show)?

How do we know that they "just started their business"?

What should be visible if they skipped step 3 of the Profiler?

What is this "Load sa

[2022-03-23 19:50] mattsherman commented on #32143
@verofasulo Should the style of the collapsed options match the layout of the active treatment in #32144? Or, should it always be a "stack layout"? And, I see the "stack layout" styling in this mockup looks slightly different than shown in #32144... I assume they should be the same?

/cc @pmcpinto

[2022-03-23 20:20] impulsebiz opened #32339 "facing issue while updating products"
I am not able to add new product or update existing product, please resolve this issue

[2022-03-23 20:36] #32339 closed, assigned to nobody

[2022-03-23 22:00] barryhughes commented on #31601
Yes, that would seem to match what [CLRDr40](https://github.com/unicode-org/cldr/blob/release-40/common/main/en_DK.xml#L98) says, though I think we may wish a period symbol at the end (ie, `kr.`).

[2022-03-24 00:46] pduclo commented on #32134
Uncheck "Enable stock management at product level checked" to use per variation stock?

[2022-03-24 01:03] 1000camels commented on #32134
I have done that and it still does not help.

I should have said, this is happening in Analytics > Stock.

[2022-03-24 04:01] becdetat commented on #32318
@mattsherman Can Mothra estimate this please? We have the tooltips implemented but not the step counter or overlays. Possibly building that component out should be estimated separately and as another ticket.

[2022-03-24 04:42] eason9487 opened #32340 "Inline tags are still removable when SelectControl component is disabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a` \<SelectControl\>` component is disabled, its inline tags are displayed in disabled style but they are still removable.

https://user-images.githubusercontent.com/1742081

[2022-03-24 07:26] gedex opened #32342 "[Enhancement]: Add timeframe parameters into wc_get_customer_total_spent"
### Describe the solution you'd like

I'm not sure if core has existing function to achieve this, but what we'd expect is `wc_get_customer_total_spent` with additional parameters to specify timeframe (so that orders can be filtered by `_date_paid`):

[code]

and the consumer can use with:

[code]

### Describe alternatives you've considered

_No response_

### Additional context

We've such use ca

[2022-03-24 08:25] rjchow commented on #32175
I'm assigning this to myself for C23 because I have an interest in exploring the application of [codemods](https://github.com/facebook/jscodeshift) 😬

[2022-03-24 09:03] verofasulo commented on #32144
@mattsherman

I attach a brief video to show you where it is in the flow. When the user clicks on the Add or import products task in the task list, they see this page before being addressed to the product page.

![Screen Capture on 2022-03-24 at 09-46-24 (1)](https://user-images.githubusercontent.com/98944206/159878080-eb0287d5-7daf-49b5-9f9e-b38a5f734bf1.gif)

When a user declares "I don't have a

[2022-03-24 09:09] verofasulo commented on #32143
@mattsherman They are slightly different as I want to convey a different visual hierarchy: on the add products page they are the main focus, conversely here they are just a secondary option.

[2022-03-24 09:57] #30209 closed

[2022-03-24 12:10] ilyasfoo commented on #32219
@becdetat Yes this can be closed, we've just finished running the WCPay in core experiment. I think any further actions should be filed in a new issue.

[2022-03-24 12:10] #32219 closed, assigned to nobody

[2022-03-24 12:16] dizzyza commented on #27419
This worked for me too!

[2022-03-24 12:51] ashique12009 commented on #22603
My post_password field's length is 255 although I'm facing UNABLE TO CREATE ORDER issue :(
Any suggestion?
I think I need to update some of woo tables ID column to AI(auto increment) but which tables would be I'm not sure.

[2022-03-24 12:57] mattsherman commented on #32143
Makes sense.

Though, I would say that since they are collapsed by default, they already have a different visual hierarchy and I question whether having a slightly different style is worth the slight increase in maintenance/complexity/etc.

[2022-03-24 13:02] mattsherman commented on #32144
This is distinct enough and complex enough that we should split it out into its own followup story. The other changes in this story have value on their own without that, so we shouldn't tie them together.

[2022-03-24 15:33] davevsdave opened #32344 "Missing JS Resources"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you enable the block editor for Products, the following resources are not found:
woocommerce/packages/woocommerce-blocks/build/product-title.js
woocommerce/packages/woocomme

[2022-03-24 15:34] gglobalstep opened #32345 "[GlobalStep] Currency symbol for "Mini cart" fails to update after changing to another currency."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Currency symbol for "Mini cart" fails to update after changing to another currency.

### Expected behavior

Currency symbol for "Mini cart" should update after changing to anothe

[2022-03-24 15:40] roykho commented on #32344
Please ref https://github.com/woocommerce/woocommerce/issues/32285

[2022-03-24 15:40] #32344 closed, assigned to nobody

[2022-03-24 16:23] #32329 closed, assigned to nobody

[2022-03-24 16:34] silvant opened #32346 "Empty row is created in the wc_webhook table if a webhook is deleted while there are pending woocommerce_deliver_webhook_async hooks"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

When a webhook is fully deleted (for example by deactivating a

[2022-03-24 16:38] roykho commented on #32346
Hi @silvant,

Thank you for submitting the issue. However, you didn't fill out the details of the bug report template that we ask for. Without these details, we can't fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2022-03-24 16:45] silvant commented on #32346
To Reproduce
Steps to reproduce the behavior:

1. Make sure there are pending woocommerce_deliver_webhook_async hooks
2. Delete the webhook
3. Actionscheduler will handle the pending hooks and create empty webhooks

Expected behavior
3. No empty webhooks are created

Isolating the problem (mark completed items with an [x]):

X I have deactivated other plugins and confirmed this bug occurs when onl

[2022-03-24 19:32] #32326 closed, assigned to louwie17

[2022-03-24 21:29] d2roth opened #32348 "Fatal Error: Call to member function get_error_message() on int when creating a product via legacy api"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you call /wc-api/v3/products with `\\` as the title you get a fatal error.

### Expected behavior

The product gets created and you get the newly created product returned.

[2022-03-24 22:39] aadlung opened #32349 "[Enhancement]: VariationForm/Add-To-Cart working with Ajax Filters"
### Describe the solution you'd like

Hi,

the JS event `woocommerce_variation_has_changed` or  can be used to extend functionality when the user changes a dropdown of the variable product to select a variation.
When we show the dropdown in a product list (not only on the single product page) and use Ajax filter products (e.g. FacetWP), this does not work any more as the `assets/js/frontend/add-to

[2022-03-24 23:38] webtech-jomase commented on #31459
Very sorry, the problem was in a production environment and was solved by altering the post_date from the database, applying a different date for each product, generating it by increasing it by one second.

I understand that when replicating the error you tried to apply the same date-hour-minutes-seconds to multiple products. More specifically, as I mentioned above, the store contains more than 30

[2022-03-25 00:02] webtech-jomase commented on #31459
I'm going to try to reproduce the problem on a non-production server, but I'm going to have a hard time because I'm still trying to recover the work that was delayed due to my convalescence.

I would appreciate it if you could tell me what database tables you need to perform an import to achieve it by removing the customer information.

[2022-03-25 00:36] #31380 closed, assigned to nobody

[2022-03-25 04:08] beaulebens commented on #32178
This might provide the foundation for a good approach; https://github.com/woocommerce/woocommerce/pull/32060

[2022-03-25 04:32] becdetat commented on #32219
Thanks @ilyasfoo :-)

[2022-03-25 06:09] chihsuan opened #32352 "Clean up woocommerce admin `.github` folder (post WooCommerce Admin merge)"
### Describe the solution you'd like

We should just remove or merge our `.github` files into the existing flows since Monorepo repo already has existing Github templates and actions.

Files/folders to be removed:

- block-merge-to-main
- lint-changelog
- stale
- autolabeler
- pr-labelers
- ISSUE_TEMPLATE
- PULL_REQUEST_TEMPLATE

And merge these actions:

- e2e & daily-e2e https://github.com/wooco

[2022-03-25 06:14] chihsuan opened #32353 "Fix woocommerce admin storybook commands (post WooCommerce Admin merge)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Running `pnpm nx storybook woocommerce-admin` failed
[code]

### Expected behavior

Can build stories and start the storybook server

### Actual behavior

Failed to build stories

[2022-03-25 06:20] chihsuan opened #32354 "Add PHP lint Github action"
### Describe the solution you'd like

Currently, we don't have an action like WCA's [lint-php.yml](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/.github/workflows/lint-php.yml) in the monorepo.

It would be great if we can add it to our workflows.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-25 06:29] chihsuan opened #32355 "Merge woocommerce admin e2e actions into existing workflows"
### Describe the solution you'd like

We should merge our e2e actions.

https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/pr-build-and-e2e-tests.yml
https://github.com/woocommerce/woocommerce/blob/trunk/.github/workflows/smoke-test-daily.yml

- [x] Add e2e test screenshots step (https://github.com/woocommerce/woocommerce/pull/32389)
- [x] Add homescreen tests
- [ ] Remove our

[2022-03-25 07:14] rjchow commented on #32310
I suspect there's a bunch of work to do in the tsconfigs too 💀

[2022-03-25 08:17] chihsuan opened #32358 "Fix js packages lint errors"
### Describe the solution you'd like

There are many lint errors in our JS packages (`@woocommerce/api,@woocommerce/e2e-environment,@woocommerce/e2e-utils`). Most of them can be fixed by using `--fix` option.

For example:

[code]

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-25 09:36] chihsuan opened #32360 "Remove unnecessary wooCommerce admin files (post WooCommerce Admin merge)"
### Describe the solution you'd like

We should remove files that we don't need in the monorepo.

- .editorconfig
- .wp-env.json
- CONTRIBUTING.md
- changelog.txt
- renovate.json
- some files in ./bin
- .nvmrc
- ./docker
- changelogs
- LICENSE.md
- TESTING-INSTRUCTIONS.md
- license.txt
- SECURITY.md

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-25 09:56] paaaolo opened #32361 "Deprecated use of strlen with null parameter"
Hi guys,
I've got a bunch of errors using the WP CLI console command (with PHP 8.1.3) stating this:
`PHP Deprecated:  strlen(): Passing null to parameter #1 ($string) of type string is deprecated in /var/www/wp-content/plugins/woocommerce/includes/cli/class-wc-cli-runner.php on line 130`

The issue is present in the "class-wc-cli-runner.php" since the fallback value for "$resource_id" is null:
htt

[2022-03-25 10:24] #32352 closed, assigned to chihsuan

[2022-03-25 10:42] ralucaStan commented on #42658
The way I see it we have two issues, listed below, and they require different type of work. For a better review process I recommend 2 tickets, but maybe I am not fully understanding what exactly you want to tackle in the corresponding PR for this ticket
- renaming our internal  `@woocommerce/` aliases
- adding eslint-import/order to the project

[2022-03-25 11:56] swatipawarGS commented on #32345
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 , 6.4 Beta 1 version and WordPress 5.9.2 version.

Please find below screenshots for reference :

Change "Currency" from US Dollars to Pound Sterling :

![#32345(Currency)](https://user-images.githubusercontent.com/94531721/160116

[2022-03-25 12:33] roykho commented on #32361
Hi @paaaolo,

Thank you for submitting the issue. However, you didn't fill out the details of the bug report template that we ask for. Without these details, we can't fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2022-03-25 13:18] louwie17 commented on #32355
@chihsuan could you clarify this issue a bit, do you mean we should take any overlapping steps from our [WooCommerce Admin github actions ](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/.github/workflows/e2e.yml) and merge them with core current one's?

The only difference I am seeing currently is making the e2e test screenshots available as an artifact (which wou

[2022-03-25 13:29] louwie17 opened #32364 "[Post merge] All smoke test tasks are failing in Smoke test daily"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

After the merge of WooCommerce Admin into this repo the smoke t

[2022-03-25 14:22] MrJnrman commented on #30581
Closing this since the tests have been stable.

[2022-03-25 14:22] #30581 closed, assigned to MrJnrman

[2022-03-25 15:30] verofasulo commented on #32143
That's a good point to keep into consideration.

To assess if it's worth it or not, I put together the differences between the two components:

<img width="1065" alt="image" src="https://user-images.githubusercontent.com/98944206/160150414-408c3222-fbaa-4eb7-8767-2bbbb4c6bbe9.png">

- Icon size and color
- Headline weight (semibold vs. regular)
- Body size (body vs. small body)
- Box height

And t

[2022-03-25 15:32] ralucaStan commented on #42645
We were also exploring in https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5908 having something like `parentBlock` instead of context, might help to also check that conversation out

[2022-03-25 15:38] jorgeatorres commented on #32346
Hi @silvant!

Thanks for the report. We've been able to replicate the issue following the steps you've provided. As such, we're marking this is as a confirmed bug.

[2022-03-25 15:45] jorgeatorres commented on #32342
This sounds like a reasonable enhancement request. Removing the `needs: developer feedback` label.

[2022-03-25 16:04] senadir opened #42640 "Cancel in flight requests if another request is coming out"
Issue reported by @manospsyx is when you have an in-flight request (update quantity from 3 to 4), and you click update again (4 to 5). Your result would jump back to 4 and then 5 again due to two requests coming back.

Given we have the most up to date state in the client, we want to cancel inflight requests in favor of the latest request.

https://user-images.githubusercontent.com/6165348/1601518

[2022-03-25 16:39] barryhughes commented on #31459
Creating the volume of test data isn't really the problem—we have tools for that [(like this one)](https://github.com/woocommerce/wc-smooth-generator). Modifying a subset (and it can be a subset of any size) so that the post dates are identical, for example, is similarly easy and is very fast.

I think that is a good next step: as you can appreciate, there are a lot of factors at play in a product

[2022-03-25 16:57] sunyatasattva commented on #42658
Seems fair. So, we close this one and create two new ones, or decide the purpose for this and add a new one?

[2022-03-25 17:06] ralucaStan commented on #42658
I'm fine either way. Looks like we can keep this one for the renaming, and skip the regex part.

[2022-03-25 17:38] strarsis commented on #32301
+1! The country was `Germany` before the update, now it shows `Afghanistan` (first item in that language when alphabetically sorted). The finer granularity on state-level is nice indeed - but the update should fall back to the generic variant of a country selection (`Germany` becomes `Germany – None selected`) (as @barryhughes posted).

On a tangent, this is somehow similar to the WordPress locale

[2022-03-25 19:03] lanej0 commented on #32345
Appears to be some kind of caching issue.  If you change the currency and reload the shop page, the Mini cart shows the wrong currency symbol.  If you add an item to your cart, the mini cart then updates with the correct currency symbol.  Subsequent loads of the Shop page also show the correct currency symbol.

[2022-03-25 19:14] danielbarenkamp opened #32368 "WC Attribute Lookup Table not Using Variations (Filter by Variations not working)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello,

my plugin "WooCommerce Single Variations" takes care, that variation products are shown in WooCommerce listing / categories. Since you rolles out the new WC Attribute loo

[2022-03-26 05:30] DeveloperWil opened #32369 "Wizard Step 4 rechecks all free options when navigating back to the step from other steps"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When going through the setup wizard for a new WooCommerce store, in step 4 "Business Details" if you uncheck the option "Add recommended business features to my site" in the 'Fre

[2022-03-26 08:09] paaaolo commented on #32361
**Bug**
Deprecated usage of strlen function with PHP version 8.0.* and above:
`PHP Deprecated: strlen(): Passing null to parameter #1 ($string) of type string is deprecated in /var/www/wp-content/plugins/woocommerce/includes/cli/class-wc-cli-runner.php on line 130`

**To Reproduce**
- open the console
- cd to your root WP folder
- run command `wp help` (with your web-server user) or `wp help --all

[2022-03-26 10:51] vijayhardaha opened #32370 "Action position doesn't make sense as named"
https://github.com/woocommerce/woocommerce/blob/b43d66f862472c85ee65de2e756a5e7b7e9acd4b/plugins/woocommerce/templates/single-product/add-to-cart/simple.php#L32-L33

`woocommerce_before_add_to_cart_button` action states that **do the action before the add to cart button** but it's actually before the quantity.

Shouldn't this be before `<button type="submit" name="add-to-cart" ` line?

[2022-03-26 16:41] uhlhosting opened #32387 "Leaderboard not shown when using more than 1 view."
### Describe the bug

### To Reproduce

1. Go to 'Analytics Dashboard'
2. Click on 'Add the Leaderboard if not present'
3. Scroll down to 'Leaderboard widgets'
4. See error

### Actual behavior:

When we upgrade from 6.2.x to 6.3 we got missing Leaderboard from our Analytics page completely. We can only see this as in screenshots bellow.

### Screenshots

<img width="1508" alt="image" src="https:/

[2022-03-27 00:36] #30159 closed

[2022-03-27 20:52] robconery commented on #29138
For those adventurous souls that don't mind a little crazy database work I think I have a solution. If you're not a DB fan avert your eyes...

I could very well be wrong, but it looks to me like the association between `user` and `customer` is defined by a single entry in `wp_postmeta` - the `_customer_user` entry(`meta_key`). If there is no customer, the `meta_value` is set to 0, otherwise it's s

[2022-03-28 00:36] #31752 closed, assigned to nobody

[2022-03-28 02:29] rodelgc opened #32371 "Add REST API tests around CRUD operations for shipping zone regions and shipping methods"
We need to write API tests that cover CRUD methods for shipping zone regions and shipping methods to potentially catch bugs like this in the future: https://github.com/woocommerce/woocommerce/issues/32016

Estimating this task to 3 points for the meantime.

Corresponding e2e test: https://github.com/woocommerce/woocommerce/issues/32308

Internal escape analysis for context: pcr5Cj-2lZ-p2#comment-2

[2022-03-28 02:52] #32358 closed, assigned to chihsuan

[2022-03-28 03:08] chihsuan commented on #32355
@louwie17 Sorry I didn't know most of our E2E tests are already being run. I think we only need to add missing things to core's actions. 🙂

So we only need to do three things:

- [x] Add e2e test screenshots step (https://github.com/woocommerce/woocommerce/pull/32389)
- [x] Add homescreen tests
- [ ] Remove our woocommerce-admin [e2e.yml](https://github.com/woocommerce/woocommerce/blob/trunk/plugi

[2022-03-28 05:22] kaushikasomaiya commented on #32220
Possibly 4881093-zen

[2022-03-28 07:35] rjchow opened #32374 "[Post merge]: Typescript check command for woocommerce-admin is broken"
### Describe the solution you'd like

It seems to be littering the entire file tree with .d.ts files which should not be happening.

Haven't investigated further but it should be a configuration issue related to the includes/excludes

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-28 07:49] rjchow commented on #32374
The `.vscode/tasks.json` tasks for editor Typescript build needs to be updated and moved to the root as well

[2022-03-28 09:18] chihsuan commented on #32360
I think we can also remove left PHP files since our PHP source has been merged into the core.

- phpunit.xml.dist
- phpcs.xml.dist
- composer.json
- composer.lock
- vendor

[2022-03-28 09:39] luissimo opened #32377 "Dragging / Sorting product categories not working anymore [V6.3.1]"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Dragging and reordering the product categories in Products -> Categories doesn't work anymore.

### Expected behavior

Being able to reorder the categories so that the newest cat

[2022-03-28 10:05] gigitux opened #42639 "`Add to Cart Button` looks different when added on Home template"
## Describe the bug

The `Add to Cart Button` block looks different when added on the `Home` template.

## To reproduce

Steps to reproduce the behavior:

1. Add `All Products` block (that contains `Add to Cart Button` block on `Home` template and on `Single Product` template.
2. Check that the button looks different (on the `Home` template the text is underlined).

## Expected behavior

The block

[2022-03-28 10:54] simkoG commented on #31519
Got the same warnings in my log file:

[code]

[2022-03-28 11:31] andreeasz commented on #31812
Also i can conform this bug with wrong calculations when add an percentage coupon [manual or inside cart] (VAT 19% active).
Someone found out a solution for this bug?

[2022-03-28 11:54] louwie17 commented on #32355
@octaedro will be adding the homescreen E2E tests (I am pretty sure).

[2022-03-28 11:55] #32364 closed, assigned to louwie17

[2022-03-28 12:15] ovidiul commented on #32314
@vedanshujain PR has been added here https://github.com/woocommerce/woocommerce/pull/32317 for further analysis.

Thanks for checking this. Ovidiu

[2022-03-28 12:43] vedanshujain opened #32379 "[COT] Implement migration for order notes from wp_comments into custom table"
Similar to other migrations, we would also like to implement migration from wp_comments to a dedicated order notes table.

Ideally, this migration will use the `MetaToCustomTableMigrator` class to provide functionality, linking the source table as wp_comments and then the wc_order_notes table as the destination table. Similarly, this should use the `MetaToMetaTableMigrator` class for the migration

[2022-03-28 12:43] vedanshujain opened #32380 "[COT] Implement backfill for order notes and order notes meta into wp_comments table"

[2022-03-28 12:43] vedanshujain opened #32381 "[COT] Implement backfill for orders operational details table into wp_posts and wp_postmeta table"

[2022-03-28 12:43] vedanshujain opened #32382 "[COT] Implement backfill for billing address in to wp_posts and wp_postsmeta table"

[2022-03-28 12:43] vedanshujain opened #32383 "[COT] Implement backfill for shipping address into wp_posts and wp_postmeta table"

[2022-03-28 12:43] vedanshujain opened #32384 "[COT] Implement backfill for order data to wp_post table"

[2022-03-28 12:44] vedanshujain opened #32385 "[COT] Implement order list admin screen using new tables."
This issue scopes implementing an order list screen using custom tables and [WP_List_Table](https://developer.wordpress.org/reference/classes/wp_list_table/) class to implement the UX. We should be able to:

- [ ] On clicking WooCommerce > Orders in the sidebar, the order list screen should render. For now, any custom URL is fine.
- [ ] It should be visually similar (but not necessarily the same,

[2022-03-28 13:49] TobyOsborne opened #32386 "Feature Request - Filter for ReportCSVExporter controllers"
Hey, any chance we can get a filter added to the ReportCSVExporter class, to allow developers to add their own report controllers.
There's a todo in the file for it, but I'm pretty sure it's been there for a year or so now.

https://github.com/woocommerce/woocommerce/blob/c4628b966be16218a99d093cf3672ad79a4f235e/plugins/woocommerce/src/Admin/ReportCSVExporter.php#L161

[2022-03-28 14:14] isacritikian opened #32388 "Error PHP funcion session_star()"
Buenas tardes,

En la pantalla de salud mi WorPress me sale un error crítico que al parecer viene del plugin de WooCommerce y necesitaría solucionarlo. Añado en screenshot el problema en cuestión.

Se ha creado una sesión PHP por la llamada a la función session_start(). Esto interfiere con la API REST y las solicitudes de retorno. La sesión debería ser cerrada por session_write_close() antes de ha

[2022-03-28 20:07] Amoditer commented on #31492
Hello,

Can somebody find some solution to this problem? :(

Thank you for your help.

[2022-03-28 21:22] MaximG1234 commented on #10082
It's interesting the inconsistencies people are reporting. I just ran into the same issue and setting position did not work for me, however I was able to resolve the problem by ordering the images array in the order I wish to display the images.

This successfully resolved the issue in my case.

[2022-03-29 02:56] ifNoob opened #32476 "PHP Fatal error WooCommerce admin"
### Describe the bug
PHP Fatal error when adding an Object cache

### Actual behavior:
Fatal error: Uncaught Error: Cannot access offset of type string on string
in /Users/vbvmacpro/Local Sites/wppure/app/public/wp-content/plugins/woocommerce/packages/woocommerce-admin/src/Features/Onboarding.php on line 603

### Expected behavior
not an Array. Onboarding.php on line 603
Avoid the error after chan

[2022-03-29 03:19] adrianduffell commented on #32171
I've looked into this on the PHP side of things, but couldn't find a fault in the caching implementation. It essentially defers caching to WordPress using the transient system and looks to be working well.

I followed the steps above using the PHP client but could not reproduce.

[2022-03-29 03:19] MrJnrman opened #32392 "Page load tests may fail when extensions are installed"

[2022-03-29 03:28] MrJnrman commented on #32392
The Page load tests ensure that specific WooCommerce links are visible, click each one, and assert some content on the page that is loaded. This works fine on our PRs, but it may fail when a new menu item is added because the CSS selectors uses `nth:child()`.

The [elements.js](https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/e2e-core-tests/src/specs/data/elements.js) file should

[2022-03-29 03:48] chihsuan opened #32393 "Add cancel action step to `pr-*` action files"
### Describe the solution you'd like

Currently, whenever we push a new commit to our PRs, it will trigger a bunch of Github action jobs, but not cancel previous's.

Since we only have limited job instances, this is very time-consuming to wait for all-action jobs to finish.

We should add ["Cancel Previous Runs"](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/.gith

[2022-03-29 05:00] ilyasfoo commented on #32171
Thanks for investigating, @adrianduffell! I think this may have been a one-off oddity or the user's setup may have something up. I think it's safe to close this issue.

[2022-03-29 05:00] #32171 closed, assigned to adrianduffell

[2022-03-29 07:21] jacoswan opened #32398 "Express Checkout Buttons Missing on Pay for Order screen"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When following the `Customer payment page` link from an unpaid order to the `Pay for order` checkout page, no Express Checkout buttons are offered by either Stripe or WooCommerce

[2022-03-29 08:07] Dekadinious commented on #32300
For anyone with the same problem needing a temporary fix:

[code]

[2022-03-29 08:33] #32310 closed, assigned to chihsuan

[2022-03-29 09:18] chihsuan opened #32399 "husky pre-commit hook not triggering"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

lint-staged not running on precommit.

### Expected behavior

Should trigger pre-commit hook when we commit changes.

### Actual behavior

Nothing be triggered

### Steps to repr

[2022-03-29 09:19] chihsuan commented on #32399
I think we should move `husky` and `lint-staged` to the repo root directory.

[2022-03-29 09:35] raifd commented on #32065
34850661-hc and 4859437-zd-woothemes both had this issue and it was solved by regenerating the product attributes lookup table and clearing the transients!

[2022-03-29 09:36] #32393 closed, assigned to chihsuan

[2022-03-29 09:44] #32353 closed, assigned to chihsuan

[2022-03-29 10:34] 79ho3ein opened #32401 "Ability to automatically apply the discount code without entering the code"
### Describe the solution you'd like

At this time, it is not possible to apply the discount code automatically. For example, if a user buys more than $ 400, I want $ 20 to be deducted from her shopping cart. **Without discount code entered by the user**

Please check this item. It is really needed in WooCommerce.

### Describe alternatives you've considered

_No response_

### Additional context

[2022-03-29 10:41] adrianduffell commented on #32330
@octaedro Thanks for your work on this one! Just checking @pmcpinto's message above , is this included in WC 6.4 via https://github.com/woocommerce/woocommerce-admin/pull/8506?

Is there a separate PR in the monorepo to include the change in WC 6.5?

[2022-03-29 11:13] zudofeathers commented on #13933
This problem is not fixed yet. I still have this issue and other people aswell.

[2022-03-29 11:56] raifd commented on #32065
Another report here after the update: 4902964-zd-woothemes

[2022-03-29 11:58] pmcpinto commented on #32330
Let me know when this is merged and shipped in the RC, so I can test it again. Thanks!

[2022-03-29 12:49] octaedro commented on #32330
Hi @adrianduffell,

Yes, the final release will include this PR.

Yes, [this PR](https://github.com/woocommerce/woocommerce/pull/32298) includes the fix.

[2022-03-29 13:39] octaedro commented on #32330
Hey @pmcpinto, I'll cut `3.3.0` final today, it will include the fix for this issue. I'll ping you in slack to let you know when that happens

[2022-03-29 14:21] #32005 closed, assigned to Luc45

[2022-03-29 14:42] meetnazreen commented on #32401
There are plethora of third-party plugins available in order to achieve the same.  Check[ this out](https://woocommerce.com/products/cart-discounts-for-woocommerce/)

[2022-03-29 15:28] jun1432 opened #32402 "[Enhancement]: Still show product on cart page even though the variation is deleted in the back end."
### Describe the solution you'd like

In a situation like for example a customer added 3 variable products on cart and won't checkout and the next day visited again the site shop where the added variable products still present.

Variable product added on cart won't be removed when the variation is deleted in the back end instead shows 'out of stock' text.

### Describe alternatives you've consider

[2022-03-29 15:56] louwie17 opened #32403 "Refactor Reports order stats php unit test"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

The reports order stats php unit test file is around 6000 lines

[2022-03-29 17:15] MrJnrman opened #32406 "E2E tests start before the wordpress-cli container is has successfully exited"
Steps to Reproduce:

1. Go to the woocommerce folder using `cd plugins/woocommerce`
2. Ensure docker desktop is running
3. Build containers and execute the tests using `npm run docker:up && npm run test:e2e`
4. Confirm that the test suite starts before the `woocommece_wordpress-cli` has successfully exits. The status of the `wordpress-cli` container can be found in `docker desktop > Container / Ap

[2022-03-29 17:41] octaedro opened #32407 "Missing `Admin` e2e tests"
### Describe the solution you'd like

There are a few e2e tests that we should move from `woocommerce-admin` to `woocommerce`.

I couldn't see that these e2e test are being ran in `core`:

1. [activate-and-setup](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/tests/e2e/specs/activate-and-setup/complete-onboarding-wizard.test.tsx#L11-L13)
- testDifferentStoreCurrenc

[2022-03-29 18:48] vivialice opened #42638 "Mini Cart behaviour "open when adding item" not working on single product page"
## Describe the bug

I have the setting to: "open drawer" when item is added. This works fine on the product grid but when I test it on the single product page, the drawer doesnt open. I've recorded a quick video.

## To reproduce

Steps to reproduce the behavior:

1. Set cart to "open drawer"
2. Go to shop page and add item to cart
3. Go to a product page and add item to the cart

## Expected beh

[2022-03-29 20:33] ObliviousHarmony commented on #32310
Ideally, every package and plugin should have a `lint` command that the executor runs. This allows us to run things like `pnpm nx affected lint` and have every package or plugin updated in a pull request execute linting. This will give us better performance in pull request checks as well as local development.

[2022-03-29 20:59] #32177 closed, assigned to moon0326

[2022-03-29 22:16] jonathansadowski commented on #30834
Not sure what happened with the labels here, but I'm closing this issue as stale. If we missed something, please comment again and we'll consider reopening it.

[2022-03-29 22:16] #30834 closed, assigned to nobody

[2022-03-29 22:31] jonathansadowski commented on #32065
Thanks for the reports. I'm adding the developer reproduction label, as there are several hc and zd reports that might require access that only developers have for reproduction.

[2022-03-29 22:41] jonathansadowski commented on #32388
Hi @isacritikian,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2022-03-29 22:43] jonathansadowski commented on #32401
Hi @79ho3ein,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this issue

[2022-03-29 22:43] #32401 closed, assigned to nobody

[2022-03-29 22:45] #32386 closed, assigned to nobody

[2022-03-29 22:46] #32402 closed, assigned to nobody

[2022-03-29 22:57] jonathansadowski commented on #32077
Thanks for the report. I'm going to close this, as WooCommerce Blocks 7.2.1 has been releases, which should address this problem.

If you still experience this issue, please open a [new issue in the repository for Blocks](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/new/choose), as those issues are tracked separately there.

[2022-03-29 22:57] #32077 closed, assigned to nobody

[2022-03-30 02:23] #32311 closed, assigned to chihsuan

[2022-03-30 03:25] mouligreenlaw commented on #32398
Sean on 4860251-zen responded that he would be happy to beta test a fix when we get to that stage.
This is the original ticket that highlighted this issue.

[2022-03-30 06:23] chihsuan commented on #32142
I decided to close this for now since we might have nothing to do.

[2022-03-30 06:23] #32142 closed, assigned to nobody

[2022-03-30 06:25] chihsuan commented on #32374
@rjchow Do we still have something to fix for this?

[2022-03-30 06:26] #32360 closed, assigned to chihsuan

[2022-03-30 07:51] rjchow commented on #32374
Nope! Thanks I forgot to clean this up 😅

[2022-03-30 07:51] #32374 closed, assigned to rjchow

[2022-03-30 08:25] adrianduffell opened #32410 "Deprecated Woo Admin classes don't have the core version number"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `@deprecated` tag on PHP classes does not use the core version number. Rather it uses version number for the feature plugin.

For example:

[code]

In this instance, 1.7.0 re

[2022-03-30 08:48] #32354 closed, assigned to chihsuan

[2022-03-30 08:50] verofasulo opened #32412 "Task List: Add Products Task - Load sample products feature"
**User story:**
As a new merchant who has no products yet
I want to start with some sample products
So I can easily preview what my store will look like.

**Description:**
While redesigning the [add product page](https://github.com/woocommerce/woocommerce/issues/32144), we'd like to introduce and test this new feature along with the product templates. We think it might be useful for beginners that

[2022-03-30 08:51] verofasulo commented on #32144
Hey @mattsherman , good point! I created another issue related to sample products here: https://github.com/woocommerce/woocommerce/issues/32412

[2022-03-30 08:53] vladbotca opened #32413 "Excessive order confirmation times"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When placing an order, redirecting to the order confirmation page takes 20+ seconds.

### Expected behavior

Normal redirecting times.

### Actual behavior

Redirecting when plac

[2022-03-30 08:55] vladbotca commented on #32413
I have tried disabling the payment gateway, placing order with cash on delivery, sending the transactional emails through a SMTP service (not WP), completely deactivating transactional emails. Nothing's changing regarding the loading times.

[2022-03-30 08:59] vladbotca commented on #32413
Also tried deactivating Jetpack. The process seems to be a little bit faster this way, but still not good. And unfortunately Jetpack is needed for the Woocommerce mobile app to work, for some reason.

[2022-03-30 09:11] adrianduffell opened #32414 "A/B Test for Banner in Payment Settings"
Description: Introduce an A/B test containing a banner for WooCommerce Payments above the settings table.

We should treat it as a nice to have for WC 6.5.

Acceptance criteria:

- [ ] Test a variant where we include a banner about WCPayments above the table.
- [ ] The banner should only appear if the WooCommerce Payment plugin is installed but not set up, and in eligible country.
- [ ] Get Starte

[2022-03-30 09:12] adrianduffell commented on #32130
<del>I've split the A/B test into its own issue https://github.com/woocommerce/woocommerce/issues/32414</del>

Edit: this comment was intended for another issue.

[2022-03-30 09:16] pmcpinto opened #32415 "Task list UI experiments: remove treatment"
**Description:** the results of the two experiments were inconclusive. See the results here: pbxNRc-ZP-p2#comment-3182 and pbxNRc-WS-p2#comment-3175

We'll keep the control version for now. We already have in the pipeline another version built on top of what we’ve learned from these experiments.

Mothra is working on two different iterations of this experiment: #32165 and #32164.  It would be good

[2022-03-30 10:26] pmcpinto commented on #32140
@mattsherman does the team have the bandwidth to take a look at this during the cycle?

[2022-03-30 10:37] pmcpinto commented on #32330
@adrianduffell @octaedro I've just tested 6.4 RC and it's not working as expected:

- When I start a new store with WC 6.4 RC and install WCPayments during the profiler I'm not seeing the WCPayments task and I'm  still seeing the additional payment methods task

<img width="1258" alt="Captura de ecrã 2022-03-30, às 11 32 40" src="https://user-images.githubusercontent.com/3380168/160812314-52a50c

[2022-03-30 10:39] ilyasfoo commented on #32131
Hi @pmcpinto, to confirm the details on new tracks:

- Show/Hide the "Other payment methods" section
Name: `wcadmin_tasklist_payment_show_toggle`
Props:
   - `show: 0` if toggle to hide, otherwise `show: 1`
   - `payment_method_count`: Number of gateways shown

- Click on the "See more" option
Name:  `wcadmin_tasklist_see_more`

[2022-03-30 11:32] ilyasfoo commented on #32132
Adding in details from our discussion for posterity:

- As mentioned, the first two categories are aligned with the current WooCommerce. What's left to be done for these is to check for consistency with the spreadsheet shared.
- For the third category, we'd need to replace the places where the second category would be when either first or second category payment provider is installed. This is beca

[2022-03-30 11:33] sitoagency commented on #32065
Same issue here, plus the "Regenerate product attribute lookup table" fix is only temporary

https://wordpress.org/support/topic/woocommerce-6-3-1-breaks-attribute-filters/#post-15487103

[2022-03-30 11:34] raifd commented on #32065
@frafor1988 Have you tried clearing the transients as well?

1.  Regenerate product attribute lookup table
2. Clear the transients!

[2022-03-30 11:35] sitoagency commented on #32065
1. Yes I've literally written that
2. Yes I've cleaned everything

[2022-03-30 11:42] sitoagency commented on #32065
So far, the only solution is to disable the use of the product attribute lookup table, as mentioned here: https://wordpress.org/support/topic/filter-by-attribute-is-no-longer-working/

This applies to YITH Ajax Product Filter plugin, I don't know if regenerating the table is enough for the standard WC filter widgetblock.

[2022-03-30 12:05] chihsuan opened #32416 "(Post merge) Update woocommerce admin documentation"
### Describe the solution you'd like

We should update our [README.md](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/README.md) and [docs](https://github.com/woocommerce/woocommerce/tree/trunk/plugins/woocommerce-admin/docs) for working with the monorepo.

### Describe alternatives you've considered

Remove woocommerce admin documentation and update the [wiki](htt

[2022-03-30 12:12] chihsuan opened #32417 "(Post merge) Clean up woocommerce-admin package.json"
### Describe the solution you'd like

We should clean up [woocommerce-admin/package.json](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/package.json).

- Remove the no needed script commands in the monorepo.
- Remove `homepage`, `repository` and so on.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-03-30 13:33] verofasulo commented on #32143
After testing the design ([user research recap](https://woostartp2.wordpress.com/2022/03/25/add-and-import-products-user-testing-recap/) if you'd like to know more), we decided to tweak the Cart2Cart copy a bit to make this feature clearer to our users.

@mattsherman  Please implement the following copy:

![image](https://user-images.githubusercontent.com/98944206/160845304-f84795dc-aab1-45af-b661

[2022-03-30 13:49] octaedro commented on #32330
Hi @pmcpinto,
I'm taking a look at [that task](https://github.com/woocommerce/woocommerce-admin/blob/release/3.3.0/src/Features/OnboardingTasks/Tasks/WooCommercePayments.php#L96-L101) and right now we only show the WC-Pay task (`Get paid with WooCommerce Payments`) when the following conditions are present:
- WC-Pay has been installed in the `Business Details` step during the OBW.
- The plugin is

[2022-03-30 13:52] mattsherman commented on #32140
@pmcpinto We will look at this in Cycle 23.

[2022-03-30 14:19] jonyking commented on #8044
I think the problem still existing. We have the problem also. Everything is up-to-date and product variations with slashes e.g. "116/120" are placed to 116-120. When can it be fixxed?

[2022-03-30 14:34] mattsherman opened #32420 "Epic: Increase setup tasks completion - task chaining"
Project thread: pbIJXs-1el-p2
Design, i2: pbIJXs-1ew-p2

[2022-03-30 14:47] verofasulo opened #32421 "Store setup - Product page: Interactive walkthrough"
**User story:**
As a new merchant with no WooCommerce experience
I want to get some guidance on the product page
So I can quickly add my products

**Description:**
We tested a new and more interactive walkthrough with some users ([user research recap here](https://woostartp2.wordpress.com/2022/03/25/add-and-import-products-user-testing-recap/) if you'd like to dive deeper), and the results were ve

[2022-03-30 16:44] #31353 closed, assigned to nobody

[2022-03-30 17:19] batowaves opened #32423 "Sorting is broken."
Hello
I am unable to properly sort my items on the product page. I am using nice page to edit my theme. In nicepage i sort them manually. Then i sort them on the products page all items list on wordpress panel. But after the sorting i guess it doesnt really save it. After i exit the sorting option it is going back to the chaos of ordering 3-5-2-1???. Why? Please help. Thank you in advance.
<img wi

[2022-03-30 18:28] jonathansadowski commented on #32412
Hi @verofasulo. Please be sure when creating tasks for your team to add the appropriate focus/plugin/status/type labels, otherwise the issue ends up in our triage queue. Thanks!

[2022-03-30 18:34] jonathansadowski commented on #32423
Hi @batowaves,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

Are you still able to reproduce this issue with nicepage disabled?

**Describe the bug**
A clear and concise description

[2022-03-30 18:46] corbolais commented on #32285
Installing WC Blocks plugin provided the missing product-*js files.

[2022-03-30 18:51] danielbarenkamp commented on #32368
Okay I will wait.

[2022-03-30 19:35] joekhartley commented on #29988
I just want to echo the comments of @singhpaul on all three of his points, each of which I'm struggling with.

Download item thumbnails not appearing in the Media Browser is confusing from a usability perspective and feels broken to the user because it deviates from the expected upload experience without any indication of why they don't appear. This is where I'd hope it falls into 'Bug fix' territ

[2022-03-30 19:43] mattsherman opened #32425 "Setup experiment: progressive header style tweaks"
Follow up to #32298

For the task list progressive header, the following tweaks should be made to the style:

- [ ] Increase progress bar height to `12px`
- [ ] Decrease bottom margin of header to `0`

## Current

<img width="771" alt="Screen Shot 2022-03-30 at 15 29 44" src="https://user-images.githubusercontent.com/2098816/160918017-96025c76-42ab-4c3e-a2b2-fefb82051cb3.png">

## Desired

<img wi

[2022-03-30 19:57] leskam opened #32426 "[Enhancement]: correct form redirect after save account details"
### Describe the solution you'd like

Currently when user saving the "Account details" form, a redirection occurs to the user's dashboard page.

For comparison, saving "Billing address" does't redirect to another page - the user stays in the form (and sees notices).
My idea is improve the function `wp_safe_redirect`.

### Describe alternatives you've considered

No ideas for an alternative

### Ad

[2022-03-30 20:41] mattsherman opened #32428 "Setup experiment: Reminder bar should not be shown if coming from a task in the task list"
Follow up to #32320

## User story

As a new merchant
I do not want to be distracted when completing tasks in story setup
So I can do it quickly and easily

## Description

In order to not overwhelm the user and/or lessen the impact of the reminder bar, we don't want to show the reminder bar if the user is in a flow that originated from the task list.

## Acceptance criteria

- [ ] If the current

[2022-03-30 21:15] #31140 closed, assigned to nobody

[2022-03-30 21:37] robjack87 opened #32429 "rest api page wont open"
My rest api key page wont load everytime I try to add the key.

[2022-03-30 22:30] ObliviousHarmony opened #32430 "Isolate Development Environments"
We currently have a central `wp-env` configuration that serves the entire repository. The lack of isolation in the environment means that different plugins in the monorepo will impact each other. We can also run things like tests concurrently since the different environments are isolated.

[2022-03-30 22:31] ObliviousHarmony opened #32431 "Merge Feature Config Files & Scripts"
Currently, the feature config for the React-based Admin lives within `plugins/woocommerce-admin`. In order to support unit test execution in the `wp-env` environment, we need to merge this. The config files and processing script should be moved to `plugins/woocommerce/client/admin/config` or something.

[2022-03-30 22:31] ObliviousHarmony opened #32432 "Change `woocommerce-admin` Text Domain"
After the merge, all of the text domains from WooCommerce Admin remained the same. We need to change them to `woocommerce` so that translations will still work for WooCommerce 6.5.

[2022-03-30 22:32] ObliviousHarmony opened #32433 "Epic: Migrate React Admin"
In order to complete the WooCommerce Admin merge, we need to fold the React Admin directly into the Core plugin's source directory. There are a few steps in this process:

- [x] https://github.com/woocommerce/woocommerce/issues/33947
- [x] https://github.com/woocommerce/woocommerce/issues/34918
- [x] https://github.com/woocommerce/woocommerce/issues/33948
- [x] https://github.com/woocommerce/wooco

[2022-03-30 22:34] ObliviousHarmony opened #32434 "Migrate Storybook"
The `plugins/woocommerce-admin/storybook` directory needs to be migrated. I think a good place for it to live would be `plugins/woocommerce/storybook/admin`.

[2022-03-30 22:35] ObliviousHarmony opened #32435 "Standardize Nx Executors"
In pursuit of making our repository easier to work with, we should lean into using Nx as consistently as possible. We should not be using `pnpm run` scripts if at all possible, and instead, rely on more general solutions. One of the guiding principles of this epic is to deeply utilize `Nx` plugins. These will be better for utilizing the features available to us, such as build environments, and all

[2022-03-30 22:54] ObliviousHarmony opened #32436 "Execute PHP Unit Tests using `wp-env`"
The PHPUnit tests for WooCommerce currently have no opinion about where they are executed. Since we have a `wp-env` environment, it would make sense for us to natively support executing them using it. This will make it easier to get up and running in the monorepo without having to add anything extra.

[2022-03-30 23:45] ijgeoffrey commented on #42663
I definitely feel like this should be a feature. Why hand-pick products without hand-picking order? As it is I'm gonna have to try to find a workaround, and for reasons mentioned above, menu order is not a viable solution.

[2022-03-31 00:36] #31142 closed, assigned to nobody

[2022-03-31 04:40] ilyasfoo commented on #32131
Hi @jarekmorawski @verofasulo, it seems some payment icons aren't provided in the figma e428PXC0QyEwYqtX48lLq0-fi. I can't figure out where else to obtain them, so I'll need help from you 🙏

Namely:
- Mercado Pago
- PayU
- Razorpay
- Payfast
- Paystack
- Afterpay
- Mollie

It'll be great if we can get them in either svg/png, thanks!

[2022-03-31 06:09] danielbarenkamp commented on #32368
Maybe if there is a way to disable using the attribute lookup table instead would be help too. Is there a filter or action?

[2022-03-31 07:51] pratikpai21 commented on #8430
Is this possible for Guest Order Checkout? @mikejolley

[2022-03-31 10:30] thuautp commented on #32065
AT site at 4893317-zen. Regenerating Product lookup tables and flushing cache fixed the issue.

[2022-03-31 11:48] Perchpole commented on #30589
Additionally, in the UK, you must apply the shipping tax of the most expensive items in the basket. Businesses who wish to stay on the right side of the law cannot deviate from this rule.

[2022-03-31 11:53] Perchpole commented on #23083
Similar issue here. My client sells fuel/heating products rated at 5% VAT and other items rated at 20%. If the most expensive items in the basket are heating products, he must charge 5% vat on the shipping fee. If the most expensive items are anything else, he must charge 20% on the delivery fee.

This is a major HMRC issue that my client simply cannot ignore!

[2022-03-31 11:59] jignam opened #32478 "Facing issue WooCommerce Admin Setup for dev"
Hi There,

Thanks for preparing Git repository. We have cloned using git command. We have successfully got the files, then we have installed composer and pnpm. When are creating new extension as we want to develop custom report using this. When are creating new extension, we are facing error. Please refer this URL https://www.screencast.com/t/bXkUpBQb screenshot for the same. We are using this "np

[2022-03-31 12:04] swatipawarGS commented on #32369
Hi @DeveloperWil,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/160991444-d4bab324-2f41-4c35-bfdc-43e24c375c34.mp4

Priority of this issue will be assigned sh

[2022-03-31 12:06] swatipawarGS commented on #32387
Hi @uhlhosting,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/160999536-73bd737e-bcc4-4af8-bd57-6b2b5960bf5f.mp4

Please provide us more detailed and any ad

[2022-03-31 12:07] swatipawarGS commented on #32377
Hi @luissimo,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/161001581-f96b76d9-8129-4454-89e0-028baa1c9f2d.mp4

Priority of this issue will be assigned shortl

[2022-03-31 12:08] swatipawarGS commented on #32413
Hi @vladbotca,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/161018014-6de6d372-d2ff-4765-b5d7-c9e8d20d50d3.mp4

Please provide us more detailed and any add

[2022-03-31 12:09] swatipawarGS commented on #32032
Hi @farisbaduy,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screenshots for reference :

Order Page:
![#32032(order Page)](https://user-images.githubusercontent.com/94531721/161020312-7f6b8512-87fd-4d97-a5f5-f52d95af1a35.png)

All Pr

[2022-03-31 12:16] uhlhosting commented on #32387
Unfortunatelly i believe this wont be reproducible unless you follow the steps we had to do.

This stopped working after an upgrade. Plus we might have many other things that do not gets reproduced since we speak of data for over 7 years.

So i find ut hard to compell that into a new install and said that they can be even quantified as a valuable comparison.

In order to debug this. Since were mad

[2022-03-31 12:26] uhlhosting commented on #32387
We redeployed several times a backup with version 6.2 all works well in leaderboard side. When we upgrade to 6.3 it stops. If tou cant replicate this, does not mean the issue is not present. We use german thats first, out of all maybe something in new dbs or migration to them could had done this, yet still this would require someone to check our staging site. Since not every install can be conside

[2022-03-31 13:26] vaiyyy opened #32440 "WooCommerce Permalink Conflicts With Really Simple SSL Plugin"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have found this issue on working with one of my client's websites. Upon activation of this plugin (https://wordpress.org/plugins/really-simple-ssl/) and fixing the mixed conten

[2022-03-31 13:33] verofasulo commented on #32412
Hey @jonathansadowski , thanks for pointing it out and sorry for the additional work 🙏

[2022-03-31 13:52] jonathansadowski commented on #32412
No worries. It's a new process for us, so we're still nailing it down.

[2022-03-31 14:30] farisbaduy commented on #32032
Hi @swatipawarGS
on my order page every time I add a product the price is not the same as the price on the all products page.
On the sale page, I use the best seller product element which displays prices not discounts, unlike on the product page

[2022-03-31 14:34] farisbaduy commented on #32032
Order Page :
![WhatsApp Image 2022-03-11 at 15 00 42](https://user-images.githubusercontent.com/85350817/161080168-f9a88fd4-eaed-41a4-844f-3b747dd22daa.jpeg)
All Product Page :
![WhatsApp Image 2022-03-11 at 15 00 42 (1)](https://user-images.githubusercontent.com/85350817/161080174-bb247bcc-d778-48f8-a250-436fe62c6503.jpeg)
Sale Page :
![WhatsApp Image 2022-03-11 at 15 00 42 (2)](https://user-imag

[2022-03-31 14:44] brablo commented on #32299
@swatipawarGS Thanks, it has been 9 days, is somebody looking into this?

[2022-03-31 14:48] rogermattic commented on #32131
Hey @ilyasfoo !
Just heads up – I'll supply the icons, just need to check which ones I already have and which ones need making :)

[2022-03-31 14:48] jonathansadowski commented on #32440
Hi @vaiyyy,

Thanks for the report. Can you confirm, are there still problems with the product permalinks after disabling the Really Simple SSL plugin? If so, would you be able to provide steps to reproduce the issue that do not involve that plugin?

[2022-03-31 14:51] vaiyyy commented on #32440
Hi, No it’s doesn’t have the issue once I uninstall/deactivate the plugin.
Looks like the plugin fixes the issues. I don’t know weather it’s a
WooCommerce issue or Really Simple SSL. But, that’s a high demanding plugin
for starter. I think compatibility with that is necessary.

On Thu, 31 Mar 2022 at 8:19 PM, jonathansadowski ***@***.***>
wrote:

[2022-03-31 15:03] jonathansadowski commented on #32429
Hi @robjack87,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2022-03-31 15:27] mattsherman opened #32442 "Setup experiment: Tracks"
We should go through Epic: Increase setup tasks completion - task list / home https://github.com/woocommerce/woocommerce/issues/32155 and make sure we have Tracks events in place to measure the usage of these changes.

Some specific needs (there may be more):
- [ ] Track for progressive header "Hide setup list"
- [ ] Track when completing the task list (may be in place already, please confirm)
- [

[2022-03-31 15:44] mattsherman commented on #32165
Closing this issue as we have followup issues to track remaining work.

[2022-03-31 15:44] #32165 closed, assigned to louwie17

[2022-03-31 16:32] mattyza opened #32444 "[Enhancement]: Preserve the default user agent when requesting the "Extensions" screen homepage in WP Admin"
### Describe the solution you'd like

When making an API request to `wccom-extensions/1.0/featured/` from within WP Admin, the user-agent header is entirely overridden. We should preserve the original user agent, and consider adding to it or passing a separate user agent if there is a need for the specific "WooCommerce Addons Page" text.

### Describe alternatives you've considered

Remove the use

[2022-03-31 16:42] mattsherman commented on #32150
P2 post with ExPlat tips: pbIJXs-1k3-p2

[2022-03-31 16:52] alopezari commented on #30636
Thanks for this ticket @tammullen! I take it.

[2022-03-31 17:37] #32407 closed, assigned to nobody

[2022-03-31 18:34] ObliviousHarmony commented on #32435
We should review some of our `composer` commands. A standard workflow right now is that after pulling, you would want to run `pnpm install` to get the latest dependencies. I can imagine that the same would be generally true of Composer dependencies, so maybe we need a `postinstall` script in the root `package.json` that runs a composer installation against every project in the monorepo? I'm not su

[2022-03-31 19:10] apmwebdev opened #32446 "Order emails don't send for admin or customer when customer has a double period (..) in their email address"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

If a customer checks out with an email address with a double period `..` in the email address, neither the admin nor customer order emails are sent out. This is a problem, as it

[2022-03-31 22:09] ebrahim-j opened #32448 "[Enhancement]: Ability to Load Images on Page Load Rather than on Swatch click"
### Describe the solution you'd like

I have about 15 variations among a few attributes in my Woocommerce website. Currently the different images for variations are loaded when the swatch is clicked. I feel for my case it would be beneficial if all the variation Images are loaded on page load instead. It would be even more awesome if that is done asynchronously too but I could settle for it of not

[2022-03-31 22:57] #32163 closed, assigned to nobody

[2022-04-01 00:12] mattsherman commented on #32143
Looking at both options, I think that using the same component results in an overall design that feels more coherent. The "differentiating components" design feels like a mix of two styles. I hold that a clear hierarchy is established by:

* positioning lower on the screen, collapsed by default
* smaller blocks, compared to the large import options at the top of the page

So, I'd personally go wit

[2022-04-01 00:36] #31851 closed, assigned to nobody

[2022-04-01 00:50] 1000camels commented on #32185
The above solution does not help me. I have some child orders I need to include and some parents I need to include. It is not an either or.

I have requested a hook to exclude data going into the stats tables.

I have another idea to completely rewrite my code to not sure the parent_post field, but instead use post_status, which is a field you allow me to filter. But given that there are other req

[2022-04-01 03:54] ilyasfoo commented on #32131
Great, thanks @rogermattic!

As an aside, is it also possible for you to help design a generic image for a placeholder in case of a failed load? Currently, this is what a user will see:

![image](https://user-images.githubusercontent.com/3747241/161191963-33a516d5-08dc-46f1-ab60-9e336466fe9f.png)

[2022-04-01 09:33] pmcpinto commented on #32131
@ilyasfoo thanks for the suggestions. Here's my feedback:

We should include payment to make it clear that the event is only about this task: wcadmin_tasklist_payment_see_more

The name looks good to me.

Same

Maybe this one is a bit confusing. I'd change it to:

`toggle`: `show` (when the user clicks to show the options) | `hide` (when the user clicks to hide the options)

Let me know what you t

[2022-04-01 09:35] pmcpinto commented on #32330
I'll open a new issue about this, as we discussed in Slack

[2022-04-01 09:44] pmcpinto commented on #32184
This is still in our backlog to be implemented in one of the upcoming cycles.

[2022-04-01 11:17] ilyasfoo commented on #32131
@pmcpinto Sounds good, thanks!

[2022-04-01 11:24] pmcpinto opened #32451 "WCPayments task: change the display logic"
**Description:** Currently, we only show the WCPay task (Get paid with WooCommerce Payments) when the following conditions are present:

- WCPay has been installed in the Business Details step during the OBW.
- The plugin is actually installed.
- The store is in a supported country
- It's displayed in a single column or (in the case that it's displayed in two columns) it's connected.

We should up

[2022-04-01 11:29] pmcpinto opened #32452 "Business features step: hide WCPay extension if it's installed"
**Description:** we should hide the WCPay option in the business features step of the profiler, if the extension is already installed.

![Captura de ecrã 2022-04-01, às 12.28.44.png](https://images.zenhubusercontent.com/5d84fe8e1201de0001b6ab61/715310cc-f8bf-4d5f-a73c-95ccce4e662b)

I think this is only happening with WCPay but it's worth checking.

[2022-04-01 11:42] TawabG commented on #27419
As of 01/04/2022, this worked for my webshop as well!

[2022-04-01 12:19] techartdev commented on #32038
@claudiosanches Hi Claudio! Any update on this?

[2022-04-01 13:18] erikdemarco commented on #29777
@jonathansadowski is there anyway to search title but not in 'exact match'? in mysql it will be 'LIKE'

[2022-04-01 13:44] erikdemarco opened #32453 "WC_Product_Data_Store_CPT::search_products trouble with long query"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you search exact match of product title and its long. It will not found.

### Expected behavior

It should found the product id we looking for

### Actual behavior

Its not

[2022-04-01 13:52] SuperHanss opened #32454 "Mini-cart not updating when using back button (seems to affect Chrome only)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When adding a product to the cart then returning to the previous page using the back button, the mini-cart isn't refreshing and therefore doesn't show the correct number of items

[2022-04-01 14:27] swatipawarGS commented on #32295
Hi @designsonline,

Thank you for the updated information. but we are unable reproduce the issue using the given updated information on our end with WooCommerce 6.3.1 version ,WordPress 5.9.2 version and Twenty Twenty Two theme.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/161217682-6db379fb-01f9-413c-bb4c-31659b2a00ee.mp4

Please provide us mor

[2022-04-01 14:28] swatipawarGS commented on #32032
Hi @farisbaduy,

Thank you for the updated information. but we are unable reproduce the issue using the given updated information on our end with WooCommerce 6.3.1 version and WordPress 5.9.2 version.

Please find below screenshots for reference:

Order Page :
![#32032(order page)](https://user-images.githubusercontent.com/94531721/161212913-04af9836-aed7-4afb-a417-f6fe8de09d7f.jpg)

All Product P

[2022-04-01 14:44] Konamiman commented on #32370
This action is indeed misplaced and this is something that needs to be fixed. However, a note to whoever tackles this: simply moving the action to its proper place is a breaking change, so alternatives like adding a new action and deprecating the old one should be considered.

[2022-04-01 15:00] Konamiman commented on #32368
Hi @danielbarenkamp, thanks for your report.

If that helps, yes, there's a way to disable the lookup table usage: go to _WooCommerce - Settings - Products - Advanced_ and you'll see a "Use the product attributes lookup table for catalog filtering" option that you can disable.

However, with the information provided I don't really understand what's going on. The lookup table holds any possible com

[2022-04-01 15:46] #32175 closed, assigned to rjchow

[2022-04-01 15:47] ryanr14 opened #32455 "Cash on Delivery with shipping method restriction now working as the default payment method"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I've been working on an issue where you would expect Cash on Delivery to be the default payment method. This only happens when using the Enable for shipping methods restrictions.

[2022-04-01 22:23] lanej0 commented on #32345
This issue appears to be resolved in RC 1 (can no longer reproduce).  Closing for now.

[2022-04-01 22:23] #32345 closed, assigned to nobody

[2022-04-02 07:20] mauriac commented on #31729
Hi there, we still get this error, and it's not very nice... Please take care about this for the next release. thanks.

[2022-04-02 08:34] webdados commented on #31729
It's unbelievable how something so simple takes ages to get to a release. Developers have WP_DEBUG always ON and WooCommerce is driving us mad with this.

[2022-04-02 10:24] batowaves commented on #32423
Ok. Thank you for the idea of  using Storefront. I changed my theme to it and now sorting is fine. But could you please tell whytf do you add 2 more sortings under the default sorting???? Like seriously? I have been trying to remove these for the past 2 hours and you might bring me back to my old level of php.
Let me give it to you how you want.
Go to Themes
Apply Storefront
Go back to your Store

[2022-04-02 10:45] batowaves commented on #32423
system status is here

### WordPress Environment ###

WordPress address (URL): https://buralarhepzeytin.com
Site address (URL): https://buralarhepzeytin.com
WC Version: 6.3.1
REST API Version: ✔ 6.3.1
WC Blocks Version: ✔ 6.9.0
Action Scheduler Version: ✔ 3.4.0
WC Admin Version: ✔ 3.2.1
Log Directory Writable: ✔
WP Version: 5.9.2
WP Multisite: –
WP Memory Limit: 2 GB
WP Debug Mode: –
WP Cron: ✔
La

[2022-04-02 16:36] sjbrunst opened #32458 "Unable to manage stock for a variable product at the product level"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have a virtual, variable product with 2 variations. I want to manage stock at the product level, so in the "Inventory" section for the product, I selected "Enable stock managem