[2022-01-11 00:22] #26452 closed

[2022-01-11 00:35] #24457 closed

[2022-01-11 01:10] ilyasfoo commented on #32219
@pmcpinto Yes

[2022-01-11 03:04] ericfri commented on #25857
They way I "solved" this is by disabling Jetpacks lazy load feature and enabled Autoptimizes's lazy load feature.

[2022-01-11 06:18] anitaa1990 commented on #31555
Closed via #31561

[2022-01-11 06:18] #31555 closed, assigned to anitaa1990

[2022-01-11 10:43] itsmeichigo opened #31606 "API Request: Add new field for usage amount in retrieve coupon API"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
As part of the Coupon Management project, the Woo Mobile team is

[2022-01-11 10:45] itsmeichigo commented on #31606
Assigned this to myself - I would like to try working on this.

[2022-01-11 10:46] puntope opened #31607 "Undefined $default_file for product taxonomy templates"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This issue is related with #30013

In `WC_Template_Loader:get_template_loader_default_file` the goal is to fallback to PHP template version in case the expected block template is

[2022-01-11 11:20] luanluta opened #31608 "No option to dismiss the notice that appears on top of the page when editing the Shop page with the Classic Editor"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you edit the Shop page with the Classic Editor, a notice appears on the top of the page that says `This is the WooCommerce shop page. The shop page is a special archive that

[2022-01-11 11:28] luanluta commented on #31608
Reported here: 4674627-zen

[2022-01-11 11:57] luanluta commented on #31608
The user just added that this bug is present with the Divi editor as well.

[2022-01-11 12:37] vedanshujain opened #31612 "Add draft table structure for custom order tables"
### Describe the solution you'd like

To start custom order table development, we want to create and commit a draft table structure.

### Additional context

#30228

[2022-01-11 13:44] madisoncmiller commented on #31608
The user sent us some code they used to remove the <div></div> section that creates the notice, leaving the original code untouched so will be unaffected by later updates:

They created a file /themes/child/woocommerce/includes/admin/class-wc-admin-post-types.php

[code]

[2022-01-11 13:46] rrennick opened #31613 "Add console suppression documentation"
The `e2e-environment` package exports the console suppression functionality in https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/e2e-environment/utils/filter-console.js. Example usage can be found in the local jest setup. A section describing the functionality should be included in the package readme.

[2022-01-11 15:17] wdm-janis opened #31614 "Wrong Tax calucaltions and Tax Settings"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A new bug in Woocommerce 6.0 version with tax setup

Feel like Tax Settings are rechanged.

When I change to No, I will enter prices exclusive of tax, on the front-end I see 100

[2022-01-11 15:20] k4b4l74 commented on #27761
Hello, i have found the cause of the bug if you are using the plugins "La Studio Core". This one use "slick carrousel" (so maybe slick carrousel is bugged too).
If the website is configured for HTTPS, the variation thumbnails does not work. When i click on one image on the thumbnails gallery, it loads a "broken link" instead of a more bigger image. If i copy the "link" of the broken image, it show

[2022-01-11 17:57] #31549 closed, assigned to vedanshujain

[2022-01-11 18:12] lanej0 commented on #31608
I was able to reproduce this one myself using a Jurassic Ninja site.

1. Set up a new site on JN
2. Install WooCommerce and activate it
3. Complete onboarding wizard
4. Install the "Classic Editor" plugin and activate it
5. Go to Pages > Shop

This is the only page that that displays that notice.   The other pages don't display a notice like this.

<img width="2001" alt="Screen Shot 2022-01-11 at

[2022-01-11 18:32] pacmanito commented on #31244
Two months has passed and still no attention.

[2022-01-11 19:38] lanej0 commented on #31477
Hi @froger-me,

Thanks for the added info, but I'm having the same results as @rodelgc -- I can't seem to reproduce this issue when I follow your steps.  I noticed that you have a number of plugins installed.  I wonder if any of those are affecting the JS that's being rendered in the browser.  Any chance you could try disabling those and seeing if you can still reproduce this issue?

[2022-01-11 21:02] mattsherman commented on #32242
This is still relevant

[2022-01-11 23:51] lanej0 commented on #28223
Hi @FeIix,

Really sorry that this issue slipped through the cracks! I'm just following up on this -- are you still seeing this behaviour or does it seem to be resolved in recent versions of WooCommerce?

Just to confirm the replication steps: it sounds like we can test this behaviour potentially by setting up a CSV file that imports a product image by path (where it's hosted on the site) then for

[2022-01-12 00:06] csmcneill commented on #31595
Howdy @swatipawarGS,

Thanks for letting me know—perhaps this was some sort of issue surrounding this user's particular setup and may not have been solely related to WC core.

[2022-01-12 00:56] joelclimbsthings commented on #31602
It looks like this is a valid issue as I was able to reproduce in an Atomic Ephemeral site. After some digging, it seems to ultimately come down to [this function](https://github.com/woocommerce/woocommerce-admin/blob/1abef1a84da5c55bbffec7d37371896a7a7fe68d/src/Features/RemoteFreeExtensions/EvaluateExtension.php#L27) in `EvaluateExtension.php`.

It's passing the `is_visible` property to the `eval

[2022-01-12 02:39] froger-me commented on #31477
[code]

See the list of active plugins above - Cloudflare (that's only to get `https`) & WooCommerce only.
The behavior is still happening:  

https://user-images.githubusercontent.com/3622456/149055454-2dc4efd0-a0e1-40fd-94e1-8c0c60a1ca03.mp4

@lanej0 please note the comment:

What @rodelgc refers to is not being able to use the proposed solution in the OP.
The expected behavior is for the coupon

[2022-01-12 02:50] froger-me commented on #31477
https://user-images.githubusercontent.com/3622456/149055117-94773d5b-4e8d-44d6-b702-d612f599ea9e.mp4

[2022-01-12 06:26] mitchellkrogza opened #31616 "[Enhancement]: Core Web Vitals and Your Obsession with JS"
### Describe the solution you'd like

Less JS than this for sure. You have so much JS throughout woocommerce some minified, some not. Why is there so much?
Why is nothing being done to TRULY optimize Woocommerce for speed and Core Web Vitals? Pretty sure half of these could be combined into one essential JS file rather than having product pages load 15-20 js files. When are you guys going to serio

[2022-01-12 06:36] #31548 closed, assigned to jeffstieler

[2022-01-12 07:34] itsmeichigo commented on #31606
It turns out we can already get details about a coupon's total deducted amount in WooCommerce Admin Analytics API. To be more specific, this information can be obtained from endpoint `/wp-json/wc-analytics/reports/coupons/stats`, so I'm closing this issue.

Internal reference: p1641912958128800/1641876909.095300-slack-C0E1AV8T0

[2022-01-12 07:34] #31606 closed, assigned to nobody

[2022-01-12 07:34] FeIix commented on #28223
No problem, thanks.

I did not have the opportunity to use WC import since that project (WC 4.6.2 at the time), so maybe it was fixed, but it should be easy to test

You are right on the replication steps, in my case :

- The main products (full url) where all of type Variable, and the skipped products their variations (reusing image using image name only)

- The variations where always placed aft

[2022-01-12 09:11] swatipawarGS commented on #31614
Hi @wpxagency ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.0 version, WordPress 5.8.3 version and Twenty Twenty-One theme.

Please find below screenshots for reference :

Tax Settings :

![#31614(Tax Setting)](https://user-images.githubusercontent.com/94531721/149084285-de7079e6-d944-494c-bd

[2022-01-12 10:03] peterfabian commented on #27419
Hello folks, unless we can reproduce the issue, it's very difficult for us to fix. If you can reliably reproduce this on a new install, please include the steps, or contact @konamiman as he detailed in the comment above. Thanks.

[2022-01-12 10:51] apsuhos opened #31617 "woocommerce.scss file missing from assets/css"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Until the latest update I was importing the woocommerce.scss file from the assets/css folder of the plugin and overriding the variables.scss [https://github.com/woocommerce/wooco

[2022-01-12 10:53] lil-ly opened #31618 "tax problem on coupons"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When settings are : price excluding vat and you have several vat that applies it is impossible to have fix amount  coupons that applies accordingly to the tax code.
All my price

[2022-01-12 11:19] wdmarketLV commented on #31614
Than You for this!

[2022-01-12 11:26] itziksn opened #31620 "Webhook product.deleted will not trigger for product variations"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The Webhook `product.deleted` is not triggered for when deleting product variation of variable product.

This is asymmetric with the `created` and `updated` Webhooks that _will_

[2022-01-12 11:32] itziksn commented on #31620
This is caused because `product.deleted` will trigger only for `wp_trash_post`, but product variations doesn't trash - they just deleted.

This can be fixed by adding `delete_post` in `product.deleted` Webhook topic definition [here](https://github.com/woocommerce/woocommerce/blob/159ceb3f3548c7d04140b9c8f48236b6afd36fee/plugins/woocommerce/includes/class-wc-webhook.php#L1010).

And also quite sim

[2022-01-12 11:45] peterfabian commented on #31076
Hi @gondre

Sorry if I misunderstood.

Do you mean the decimal settings?

If I leave out switching the decimal points from your instructions, I'm left with the following testing instructions:
1. use the theme “storeFront”
2. activate only 2 plugins : woocommerce and WooCommerce Stripe Gateway (I guess you can use another gateway if you want)
3. in the woocommerce general settings: enable tax rate

[2022-01-12 13:19] KseniaTseiko opened #31621 "Woocommerce analytics pagination for coupons is missing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

the coupons from Analytics > Coupons lacks pagination and only 25 coupons are shown.

### Expected behavior

I expect pagination and to be able to download all coupons

### Actua

[2022-01-12 14:02] Immerence commented on #27761
@k4b4l74 thank you for the suggestion.

The SIMPLE gallery works out of the box, the VARIABLE gallery is unfortunately not working as expected.

For instance loading the SIMPLE gallery page the image toggle loads directly. Loading the VARIABLE gallery page you have to wait 5-10 seconds for the image toggle to work. If you try to toggle images on the VARIABLE page directly the toggle break all toge

[2022-01-12 14:51] bekarice-godaddy commented on #31470
@rodelgc howdy! returning to this convo now :) We would love to contribute this project to core from the GoDaddy / SkyVerge team. Do we need a PRD or any other docs to ensure it's accepted before we invest development time?

[2022-01-12 14:51] gondre commented on #31076
Yes, we might misunderstand each other.
Do the steps you did with the "0 decimals points" option, and you will see that the total vat amount is rounded. it shouldn't.
it's ok that the _displayed_ total vat amount is rounded, but it should not be _saved_ as rounded. I expect the real value to be saved.
we should never have something like that, where the total vat amount doesn't match with the sum o

[2022-01-12 15:27] gglobalstep opened #31624 "[GlobalStep] For Storefront theme, new page "Title" is aligned to right as default and fails to reflect on frontend."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Storefront theme, new page "Title" is aligned to right as default and fails to reflect on frontend.

### Expected behavior

For Storefront theme, new page "Title" should be a

[2022-01-12 15:38] zhongruige commented on #31624
Hi @gglobalstep ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

* Created a fresh install of WooCommerce 6.1.0 on a site running WordPress 5.9
* Imported the sample products and went to create a new page
* Verified the title showed center-aligned instead of left-aligned as shown in the page.

Noting also that this works as expecte

[2022-01-12 17:52] andy-jam commented on #31481
With the new version 6.1 of Woocommerce is this fixed yet?
If not any idea of when?
Cheers,

Andy

[2022-01-12 19:16] DobbyZer opened #31627 "QUESTION : Composer and Packagist"
Hello all,

I have some question. I install my website with bedrock template. But i dont find some plugin like Woocomerce Payment / Subscription on packagist.

Do you have any information and help to resolve this problem ?

Thank's

[2022-01-12 19:43] alopezari opened #32200 "Setup Wizard: Recently uploaded theme gets lost under certain conditions"
### Description
If you are at the "Theme" page, and you have uploaded a theme successfully, when you go back to another page in the form and go to Theme again, the theme is not found in the list. If you try to upload it again, a message raises saying "Destination folder already exists", but you won't be able to see the new theme in the list in order to select it. This is solved once you exit the S

[2022-01-12 19:50] ghost opened #31628 "The `is_ajax` function is deprecated since version 6.1.0. Replace with `wp_doing_ajax()`"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello, for information, the update to 6.1.0 there is the error message at the top:
The is_ajax function is deprecated since version 6.1.0. Replace with wp_doing_aj

I downgraded

[2022-01-12 19:53] alopezari opened #32199 "Setup Wizard: No maximum file size limit when uploading themes"
### Description
Seems there isn't any file size restriction when uploading themes. I could start uploading a +700MB zip file that resulted in a HTTP 500 after 36 seconds loading, with the following message:
[code]

### To Reproduce
1. Start the Setup Wizard.
2. Fill the "Store Details", "Industry", "Product Types" and "Business Details" forms and go to the "Theme" page.
3. Click on "Upload a theme

[2022-01-12 20:42] alopezari opened #32198 "Setup Wizard: Error message in API after successfully entered the Store Address"
### Description
When I submitted the “Store Address” field from the “Store Details” page, everything looked fine, I was redirected to the “Industry” page and no error message appeared on the UI. However, I checked the response from the `POST /wp-json/wc-analytics/settings/general/batch?_locale=user endpoint` and saw the following object in the response body:
[code]

### To Reproduce
1. Start the S

[2022-01-12 20:52] alopezari opened #32197 "Setup Wizard: Question from Business Details form is not shown properly in smartphone resolution"
### Description
When using Chrome with an **iPhone X resolution**, the first question of the form at the Business Details page is not fully readable. Users familiar to WooCommerce won’t have any problem to answer that question, but those new users might not be sure about what is the form asking about. It would be nice to find about a way to show the full question in the dropdown.

### To Reproduce

[2022-01-12 21:19] alopezari opened #32196 "Setup Wizard: No characters count limit in the text inputs from the Store Details page"
### Description
Seems there is no characters count limit in the “Address line 1”, “Address line 2”, “City” and “Post code” fields from the “Store Details” page. I could add really long texts in those fields and the browser got way slower. The requests got slower too, so performance was compromised as shown in the video and HAR file, and if someone malicious gained access to the Setup Wizard, the s

[2022-01-12 21:39] joelclimbsthings commented on #32200
Thanks again @alopezari ! Definitely a valid issue, and I confirmed it with another theme on the latest `main`.

[2022-01-12 22:00] lanej0 commented on #31617
Hi @apsuhos,

Thanks for getting in touch.  `woocommerce.scss` is still present, it's just in `/legacy/css` now.

Let us know if you need a hand with anything else!

[2022-01-12 22:00] #31617 closed, assigned to nobody

[2022-01-12 22:30] lanej0 commented on #31618
Hi @lil-ly,

Thanks for getting in touch about this.  I just want to clarify what the issue is here (let me know if I'm understanding):

1. You have two different tax rates that apply to products in your store.
2. Prices specified exclude VAT (taxes are applied/added at checkout).
3. Coupons are for a flat amount and aren't affected by taxes -- so the items are added up, coupon is subtracted and t

[2022-01-12 22:37] lanej0 commented on #31620
Hi @itziksn,
﻿
Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look. I suspect it's a little more involved, being that [products](https://woocommerce.github.io/woocommerce-rest-api-docs/#products) and [product variations](https://woocommerce.github.io/wooc

[2022-01-12 22:42] lanej0 commented on #31621
Hi @KseniaTseiko,

Thanks for taking the time to report this.  We'll try reproducing this issue on our end and give you a shout if we need any further details!

[2022-01-12 22:43] lanej0 commented on #31627
Hi @DobbyZer ,
﻿
While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
﻿
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
﻿
- Review [WooCommerce Self-Service Guide

[2022-01-12 22:43] #31627 closed, assigned to nobody

[2022-01-12 22:44] joelclimbsthings commented on #32198
Confirmed, I'm seeing this as well on `main`, although as mentioned it doesn't seem to be consequential in any way. That said, it's worth looking into this just to ensure nothing is amiss, and give the correct responses in our endpoints.

It's possible the solution may lie in core as we're inheriting some of this logic from `WC_REST_Setting_Options_Controller` which resides there, but it will requ

[2022-01-12 22:46] lanej0 commented on #31628
Hi,

Thanks for reporting this.  Would you mind dropping us a screenshot of where you're seeing this error?  I suspect that this error is likely coming from a plugin or theme that needs an update to work with 6.1.0 -- but a little additional information will help me track down the issue!

[2022-01-12 22:48] #31595 closed, assigned to nobody

[2022-01-12 22:54] joelclimbsthings commented on #32197
Thanks @alopezari , I was able to see the same and we definitely want this to be readable via a mobile device. I'm not immediately sure what the best solution would be, so I'll loop in @elizaan36 to see if she has any thoughts.

[2022-01-12 22:57] lanej0 commented on #31477
Hi @froger-me,

I appreciate you working with us on this.  The reason we're pushing so hard to be able to get steps to reproduce it is that it really helps the development team track down whether there is an issue here, or whether things are working as intended.  Additionally, it helps them to isolate the issue in case a fix is needed.

Both @rodelgc and I are able to see the `undefined` you're re

[2022-01-12 23:01] joelclimbsthings commented on #32196
Much appreciated @alopezari , I agree that we should limit these fields to some sane value. It could also have security implications in introducing a bit more vulnerability to buffer overflow attacks/etc, although ultimately that should be handled on the server.

[2022-01-12 23:11] joelclimbsthings commented on #32199
Thanks @alopezari , this is an interesting one. Since the upload limit is often set by the host, and WooCommerce is in general host agnostic, it's a bit debatable on how to approach this. Options:
- Just say that we don't see the need to police this on this layer, and that's up to the host configuration (although that doesn't help the usability aspect here)
- Just set this to some static sane limi

[2022-01-12 23:27] lanej0 commented on #31364
Hi @bluantinoo.

That would be great, and would really help us in tracking down this issue.  If you wouldn't mind uploading that export using [QuickForget](https://quickforget.com/) and then drop me an email at jon dot lane at automattic dot com with the secret, we'll be able to dig into things a bit deeper.

[2022-01-12 23:30] #31213 closed, assigned to nobody

[2022-01-12 23:42] lanej0 commented on #30969
Hi @lukecav,
﻿
Thank you for taking the time to share this idea, we really appreciate your help.
﻿
While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.
﻿
Stay tuned for updates.

[2022-01-12 23:42] #30969 closed, assigned to nobody

[2022-01-12 23:44] lanej0 commented on #31022
Hi @courtney666,

Just wanted to follow up with you that we haven't forgotten about this and that it's in the queue for our developers to look at.  We're working through a little bit of a backlog at the moment, but hopefully should have some updates shortly.

[2022-01-13 00:04] froger-me commented on #31477
Hi @lanej0 ,

Taking a step back, I have looked at the entire function as a whole and added my comments where the issue is, purely from a logical standpoint.

I have specific coupons automatically added to the cart in my business logic ; when one of these is applied, the coupon form is hidden by my custom code. However, when the user removes that specific coupon, my application needs to re-enable

[2022-01-13 00:13] courtney666 commented on #31022
Hello,

Hope to see it fixed, it’s been a long time already.

Regards,
Courtney Brooks
On 13 Jan 2022, 5:14 AM +0530, Jonathan Lane ***@***.***>, wrote:

[2022-01-13 00:35] #31517 closed, assigned to nobody

[2022-01-13 03:00] oviazcan opened #31635 "Impossible to add or edit fields in Checkout Forms"
The UI for editing or adding fields in Checkout Forms is crooked, it is impossible to accept changes or add changes. Please fix.
![imagen](https://user-images.githubusercontent.com/49696943/149258020-792b8900-f0c4-4a47-8a52-d9c9d85c1e73.png)

[2022-01-13 04:28] froger-me commented on #31477
If this helps, please see the contrast with this other function found in the same file:

[code]

[2022-01-13 06:46] wootangcommerce commented on #27419
im on a fresh version of wordpress for a new website and my shop page or any page actually doesnt display the filter by attribute widget, it shows up as blank. categories work ut not attriutes

[2022-01-13 08:08] lil-ly commented on #31618
Hi
Thank you for the answer.

1. And 2. Are ok.
Vat applies to coupons but always from « including taxes »
The coupons applies from the total amount of the shopping cart.
3. For the moment the system ask to enter coupons before vat. And applies the vat of the product in the cart or a percentage of vat of product in the cart which can lead to a final coupons that is not the real one
sent to the cus

[2022-01-13 09:22] swatipawarGS commented on #31621
Hi @KseniaTseiko ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.0 version and WordPress 5.8.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/149290407-46aa5dd9-5999-4d87-a0b7-1e6fdd57c48a.mp4

Priority of this issue will be assigned s

[2022-01-13 09:56] pacmanito commented on #31592
As I highly doubt WC would implement this I am sharing here the code to recalculate total sales for anybody facing this issue.
I took the code of WC `wc_update_total_sales_counts` function, modified its if statement and added some code to be sure recalculation happen only once (`run_recalculate_total_sales` can be removed from `wp_options` after the function was run and removed from functions.php)

[2022-01-13 11:10] steve340700 commented on #31628
Hello,

The culprit for me is: sequential woocommerce order numbers
I had to deactivate it for it to work

https://prnt.sc/26d5hc2

[2022-01-13 16:19] MrJnrman commented on #31337
Noting here that this is no longer reproducible and I'll be closing this issue.

[2022-01-13 16:19] #31337 closed, assigned to MrJnrman

[2022-01-13 16:37] MrJnrman commented on #30581
Also noting that with the addition of [test retries](https://github.com/woocommerce/woocommerce/pull/31336), flaky tests are more reliable. I'll be keeping an eye out for this issue occurring for the next 1.5 sprints and close/work it accordingly.

[2022-01-13 16:46] peterfabian commented on #31550
Resolved by several PRs.

[2022-01-13 16:46] #31550 closed, assigned to Konamiman

[2022-01-13 16:47] peterfabian commented on #31324
All sub-issues done.

[2022-01-13 16:47] #31324 closed, assigned to nobody

[2022-01-13 17:24] Spellhammer opened #31636 "As of version 6.1.0, disabling jQuery Migrate breaks product images on products with multiple images."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When jQuery migrate is disabled, products with multiple images do not display images properly.

Console errors below:

jQuery.Deferred exception: e.indexOf is not a function Type

[2022-01-13 18:24] moon0326 commented on #32206
I'll work on the remote inbox notification part.

[2022-01-13 19:01] alopezari commented on #32199
Indeed it's interesting! Please, let me know if I can help with anything or provide more info. I'm quite interested on how this one is addressed!

[2022-01-13 19:55] csmcneill opened #31637 "Lebanese Pound (ل.ل) not adhering to currency position, breaking item count on cart widget"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the Lebanese Pound is selected as a store's currency, if the currency position is set to `left`, `left with space`, `right`, or `right with space`, the currency symbol place

[2022-01-13 20:17] csmcneill commented on #31637
Here is how my test site looks when the `right with space` currency position is selected with the Lebanese Pound:

<img width="1147" alt="Markup 2022-01-13 at 13 41 20" src="https://user-images.githubusercontent.com/82999806/149402788-4812e5ce-c69b-4f54-a605-11a748612ab4.png">

Note the cart widget at the top of the page and how it splices the `1 item` text. Additionally, note the remainder of the

[2022-01-13 21:06] TheRadicalDreamer commented on #30375
@masteradhoc

Sorry to bother you again.

But i looked the new version and i found some mistakes on chile's states:

![image](https://user-images.githubusercontent.com/11801254/149408357-918d99b8-3095-40cf-a790-bea914c095a0.png)
![image](https://user-images.githubusercontent.com/11801254/149408363-1ed29309-987c-4d9e-b921-c0b0a6a57a01.png)

But following what @juliaamosova said: https://github.com/

[2022-01-13 22:05] #31362 closed, assigned to MrJnrman

[2022-01-13 22:05] #31467 closed, assigned to nobody

[2022-01-13 22:19] roberthedlund commented on #31636
Same thing happened to my site after updating to 6.1.0. As soon as I disabled "disable jQuery Migrate" thru perfmatters the product pictures started to work again.

[2022-01-13 22:28] csmcneill opened #31638 "6.1 throws `Cannot modify header information` errors when Square is enabled"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When [WooCommerce Square](https://woocommerce.com/products/square/?aff=10486&cid=1131038) is enabled while using WooCommerce 6.1, the following errors appear on the admin dashboa

[2022-01-13 22:56] TheRadicalDreamer opened #31639 "[Enhancement]: Cities for Shipping Rates"
### Describe the solution you'd like

Many countries have different approaches to the shipping problem.
Some countries have mountains, some other have flat streets.
Because of that, some set the shipping rates by city, state, or postal code.

And for the last 6 years i have been using woocommerce, i have always thought that the out of the box experience for the shipping rates setting is really poo

[2022-01-13 23:00] TheRadicalDreamer commented on #31639
@masteradhoc Would you like to help me with this?

[2022-01-14 03:37] rodelgc commented on #31636
Seems like we already have a pull request to fix this: https://github.com/woocommerce/woocommerce/pull/31623

[2022-01-14 06:10] masteradhoc commented on #31639
@avagp im not part of the woo dev team so they'll need to decide on this one. However you can already now go on a city level to make pricing.

If you go to shipping and on a new zone switch to postcode entries and enter the postcodes for each city that should be part of this zone.

Maybe you can tell which other system does this? I can imagine it would be quite a big list and this is constantly ch

[2022-01-14 07:47] joashrajin commented on #31628
+1, another report for this happening with 'WooCommerce Sequential Order Numbers Pro' in 4685271-zd-woothemes. Looks like something the plug-in authors need to fix.

[2022-01-14 08:22] joashrajin commented on #31636
4684140-zd-woothemes

[2022-01-14 08:22] joashrajin commented on #31636
4682223-zd-woothemes

[2022-01-14 10:46] zdenys commented on #31628
Another case in 4683773-zd-woothemes where WP-CLI shows the message: ` The is_ajax function is deprecated since version 6.1.0. Replace with wp_doing_ajax.`

[2022-01-14 10:52] #31607 closed, assigned to nobody

[2022-01-14 10:58] swatipawarGS commented on #31637
Hi @csmcneill ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.0 version and WordPress 5.8.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/149464850-b3d431ce-8d1f-49ac-8b03-473adf8e62ef.mp4

Priority of this issue will be assigned shor

[2022-01-14 10:59] joashrajin commented on #31628
@zdenys I think that is related to https://github.com/woocommerce/facebook-for-woocommerce/issues/2133 since the customer uses FB for WC

[2022-01-14 10:59] swatipawarGS commented on #31638
Hi @csmcneill ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.0 version and WordPress 5.8.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/149470272-2a3b6e9b-3fc4-4dd7-88a7-5ec96d2f7975.mp4

Priority of this issue will be assigned shor

[2022-01-14 11:00] swatipawarGS commented on #31636
Hi @Spellhammer ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.0 version , WordPress 5.8.3 version and Twenty Twenty-One theme.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/149473611-48ae073d-c8c7-49a9-a0d5-d2a2c668a756.mp4

Priority of this

[2022-01-14 11:02] #31562 closed, assigned to anitaa1990

[2022-01-14 11:31] Sonaaa10 commented on #14919
Did you solve the error? If yes, kindly help!

[2022-01-14 15:05] TheRadicalDreamer commented on #31639
Thanks @masteradhoc but the postcode is not used on various countries.

So many people does not know theirs.

That is the reason why it is not a viable solution, and thus why many plugins give the option to use cities as shipping rates

[2022-01-14 16:37] rrennick opened #31642 "Added and Fixed headers duplicated in e2e-environment changelog"
For each release there should only be one `Added`, `Fixed`, and/or `Changed`  header. It looks like some of the headers were unintentionally duplicated resolving merge conflicts.

[2022-01-14 16:52] TheRadicalDreamer commented on #31639
@masteradhoc who can we ask to enter this discussion from Woo's dev team, so we can know the different sides of the issue?

[2022-01-14 17:04] masteradhoc commented on #31639
@avagp a woo rep will go through all the issues and enhancements opened and message you :)

[2022-01-14 17:35] #27911 closed

[2022-01-14 18:42] #31457 closed, assigned to nobody

[2022-01-14 18:58] lanej0 commented on #31628
Thanks for bringing this up.  Best to get in touch with [SkyVerge](https://woocommerce.com/products/sequential-order-numbers-pro/) for support on this issue -- hopefully they'll be able to get an update out for their plugin quickly!

[2022-01-14 18:58] #31628 closed, assigned to nobody

[2022-01-14 19:22] jeffstieler commented on #31249
I see the `ECONNREFUSED` error on all PRs from forks - it's an issue with GH secret accessibility that's being actively worked on by Solaris.

[2022-01-14 20:14] lanej0 commented on #31636
As @rodelgc noted above, looks like this is resolved in the next minor release (the PR listed has been merged).  Thanks for taking the time to bring this to our attention!

[2022-01-14 20:14] #31636 closed, assigned to nobody

[2022-01-14 20:31] tammyphi opened #31645 "Bambora extension incompatible with new version of Woocommerce"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
I have Woocommerce on my Wordpress website - I recently updated

[2022-01-14 22:25] lanej0 commented on #28223
Thanks again for taking the time to report this!

I've done a bunch of testing here, and haven't been able to replicate an issue.  Here's what I tried:

1. Doing an import with a bunch of images that don't exist (just setting the image to something random like `1234.jpg`).  In this case, it skips importing those, and tells me in the log `Unable to use image 1234.jpg`
2. I can re-use images, as you

[2022-01-14 22:25] #28223 closed

[2022-01-14 22:30] lanej0 commented on #31645
Hi @tammyphi,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done.

- Contact WooCommerce support by [opening a ticket or starting a live chat](https://woocommerce.com/contact-us/

[2022-01-14 22:30] #31645 closed, assigned to nobody

[2022-01-14 23:45] darcie commented on #31636
33409317-hc

[2022-01-15 06:06] ishaadX opened #31646 "Product Gallery Image Issue on Variable Products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After installing the dummy data using WordPress Importer plugin, when user visits the products (variable) it throws PHP notices & the product gallery images didn't show properly.

[2022-01-15 10:53] drwpcom commented on #32220
If I change the row count to 100, and there is only one page of the report, the download does not work as I would expect from https://woocommerce.com/document/woocommerce-analytics/#analytics-basics__download-csv.

Can replicate same issue on test site even though actions were added to scheduler and ran - https://d.pr/i/GdoLBS

Reported in 33668829-hc and follow-up in 4689131-zen

[2022-01-15 10:56] alopezari opened #32195 "Setup Wizard: Explain users how to start the Setup Wizard again when they attempt to skip it"
### Context
When users skip the Setup Wizard in the first page (Store Details), they can start it later again, but it's not trivial finding out how to do so. We could think about ways to ease that step and improve the user experience.

### Improvement suggestion
When users attempt to skip the wizard, it would be interesting showing them a dialog explaining how they can start the wizard again (or p

[2022-01-15 11:32] alopezari opened #31679 "Downloadable Product Permissions: Make users can only add one downloadable product permission for the same product in the same order"
### Context
When editing an order, I was able to add several download product permissions for the same downloadable product. I checked the title and download url were exactly the same in all these duplicated downloadable product permissions, and this looks superfluous to me.

I can see the point of letting users add multiple download permissions for the same product in the same order.

Benefits:

[2022-01-15 12:00] alopezari opened #31678 "Downloadable Product Permissions: The text "-1" is rendered every time merchants click the "Grant access" button without entering any product"
### Description
When editing orders, if you go to the "Downloadable product permissions" section and click the "Grant access" button without selecting any downloadable product, a "-1" is rendered in the component.

### To Reproduce
1. Create an order.
2. Open the order and go to the "Downloadable product permissions" section at the bottom.
3. Make sure you have not searched any product.
4. Click t

[2022-01-15 12:27] alopezari opened #31677 "Downloadable Product Permissions: The whole "Downloadable product permission" section is collapsed in the order page when clicking the toggle button of a single permission"
### Description
When creating or editing an order, users can see a section at the bottom (a postbox component) for managing downloadable product permissions. This section stores the different downloadable product permissions that users want to add to the order. Both the "Downloadable product permissions" section and each permission (inside the section) have a toggle button, so that the components

[2022-01-15 16:30] Luc45 opened #31647 "Check if all models of `@woocommerce/api` are up-to-date with WooCommerce API"
We should run a comprehensive check on all models of the `@woocommerce/api` to check if they are up-to-date with the WooCommerce API definitions. Eg: If there are new fields that should be added, renamed or removed.

Order model example: https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/api/src/models/orders/orders.ts
Order response from the API example: https://woocommerce.github.

[2022-01-15 16:33] Luc45 opened #31648 "Watch for changes to the WooCommerce API to always keep the `@woocommerce/api` package up-to-date"
We should watch changes made to the WooCommerce API to always keep the models in the `@woocommerce/api` package up-to-date with the WooCommerce API definitions.

One way to do this would be to create a GitHub workflow that would create a new issue with the `package: api` label if changes to the WooCommerce API makes it into `trunk`. Then, the team that maintains the `@woocommerce/api` package woul

[2022-01-16 22:33] themycogrow opened #31651 "Inventory Incorrect, Stock Changes to Negative Few Minutes After Purchase"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I was having an issue with my inventory being incorrect so I set up a test product for $0 and 10 quantity. I removed ALL plug ins and themes except woocommerce. I would go to pur

[2022-01-17 07:39] LasseMartinell opened #31653 "Product detail"
<img width="420" alt="Variabel Produkt" src="https://user-images.githubusercontent.com/12424662/149727161-317a3ab0-36b1-4c0b-bc4b-ae7391ca146d.png">
This module is missing, we can't change price or status. www.bola.se

[2022-01-17 09:16] ElenaCt commented on #31636
Hi everyone.
I come here from woocommerce support.

My problem is that I no longer see product images after updating to version 6.1.0.
I solved the problem by replacing the files
/assets/js/flexslider/jquery.flexslider.js
/assets/js/flexslider/jquery.flexslider.min.js
with those from the previous version

[2022-01-17 09:17] LasseMartinell commented on #31653
PROBLEM IS SOLVED

[2022-01-17 09:17] #31653 closed, assigned to nobody

[2022-01-17 09:35] masteradhoc commented on #30228
FYI: https://developer.woocommerce.com/2022/01/17/the-plan-for-the-woocommerce-custom-order-table/
Keep up the good start @vedanshujain !

[2022-01-17 09:49] hagedigital commented on #30228
Great to see this getting attention!

[2022-01-17 10:04] jurijc commented on #30228
Hello, great news!
I would like to add some feedback to structure

**It would be good to add to the order table - billing phone**

1) it will be faster to find orders by phone.
2) there are implementations where email is empty, it can be done as optional field on checkout.
3) probably depends on country, but phone can be much more important than email, becoming main way to identity customer and lo

[2022-01-17 10:20] TheRealSimpleSimon commented on #31598
One specific thing I see is in the developer announcement is wp_wc_orders.billing_email.
At best, it should be renamed to a non-conflicting one. Even tho there is no DB entity in addresses of this name, it does exist in public functions (and should). What is the purpose of this email address being in the base record? I can see that a "billing_address" row may not exist for an order, but that still

[2022-01-17 10:23] peterfabian commented on #28603
Hey @pmcpinto If Isotope has some spare cycles on this, it would be great to have a helping hand. If not, please let me know and we can prioritize it higher in Proton. Thanks!

[2022-01-17 10:25] #31560 closed, assigned to nobody

[2022-01-17 10:28] Roberta1999 opened #31654 "When I activate Woocommerce, my page breaks"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When I activate Woocommerce, my page breaks the site is brand new, everything works, but when i install the woocommerce site, it shows errors.

The page I need help with: https:/

[2022-01-17 10:29] peterfabian commented on #30027
We're [bumping PHP to 7.2 with WC 6.5](https://developer.woocommerce.com/2022/01/05/new-requirement-for-woocommerce-6-5-php-7-2/) which will allow us to update Emogrifier and finally make this work without incurring technical debt.

[2022-01-17 10:35] TheRealSimpleSimon commented on #31598
Food for thought: As WooCommerce has gained in popularity, it has penetrated markets well beyond "selling T-shirts". These markets (notably business-to-business) often require alternate payment processing. Also, subscriptions require recurring payments. Neither of these are easy to implement in the current DB model.

Thought should be given to implementing wp_wc_order_payments with associated modi

[2022-01-17 10:40] szepeviktor commented on #30027
Hello Peter! Why do you encourage users to run on a several years old **and unsupported** PHP version?

Is this why?
![kép](https://user-images.githubusercontent.com/952007/149754674-dcb6fe6e-ebf7-482b-b37a-36094818503f.png)

[2022-01-17 10:40] peterfabian commented on #27611
I'm marking this as an enhancement with votes needed, so please vote on the initial comment in this thread if you'd like to see this implemented.

[2022-01-17 10:42] peterfabian commented on #24975
Hi folks, apologies for the trouble. Regarding rounding of shipping and applying tax or not: this is a [known limitation](https://github.com/woocommerce/woocommerce/wiki/How-Taxes-Work-in-WooCommerce#defining-prices). Please upvote the [enhancement request](https://github.com/woocommerce/woocommerce/issues/27611) if you'd like to see this fixed.

[2022-01-17 10:42] rodelgc commented on #31470
Hi @bekarice-godaddy, apologies for the delayed response. I'm now adding a `needs developer feedback` to get you in touch with the Core team shortly.

[2022-01-17 10:53] peterfabian commented on #30027
Hi @szepeviktor . I hope this doesn't come across as encouraging it. We're just changing the **minimum** from 7.0 to 7.2 Otherwise, [we encourage people to use at least 7.4](https://woocommerce.com/document/server-requirements/#section-2), and have done so for quite some time already. Otherwise, @Konamiman explained our rationale in the [linked post](https://developer.woocommerce.com/2022/01/05/ne

[2022-01-17 11:03] bruno-rc opened #31655 "[Enhancement]: woocommerce attribute link a _blank page"
### Describe the solution you'd like

Hi,
On the product page, additional information!
I would like the link to open in a new tab “Target =” _blank ”
So the customer stays on the product page!
I attach image

https://snipboard.io/RU9nNx.jpg

Thanks

### Describe alternatives you've considered

woocommerce attribute link a _blank page

### Additional context

_No response_

[2022-01-17 11:10] peterfabian commented on #31076
I see what you're saying now. The problem is, though, that the decimal digits display settings also set the rounding precision in some places, e.g. in `wc_round_tax_total`. Perhaps requires a second look.

[2022-01-17 12:00] SebastianTusk commented on #31582
I did update to Woocommere 6.1.0 and can still reproduce the problem. I also see the code for setting the password on the checkout page [in 6.1.0 here](https://github.com/woocommerce/woocommerce/blob/e035efe85b50129e2c0aa399ffb82ee55edae331/plugins/woocommerce/includes/class-wc-checkout.php#L257).
See the following screencast.

https://user-images.githubusercontent.com/3973523/149765756-996fe84f-0

[2022-01-17 12:14] peterfabian commented on #31470
Thanks for the proposal, sounds like a good improvement. We're discussing this with our product folks and will be back shortly.

[2022-01-17 15:06] kkmuffme commented on #31118
@jankarres fyi the pull request was merged. From WC 6.2 which will release next month, you can use the filter `woocommerce_set_cookie_enabled` to set it fo false to not set any WC cookies.

[2022-01-17 17:19] lanej0 commented on #31654
Hi @Roberta1999,

A great place to start troubleshooting this sort of issue is by checking out your server logs.  Depending on your hosting provider, they might have logs available to you through some sort of dashboard, or if you have direct shell access you can take a look at the logs there to see what type of error you're getting.

Let us know if you need any help interpreting the log results.

[2022-01-17 17:19] #31654 closed, assigned to nobody

[2022-01-17 17:24] Roberta1999 commented on #31654
errors show these things
![error](https://user-images.githubusercontent.com/97883362/149813948-5f890e46-e5cb-48a9-b9ac-4d98178bf773.png)

[2022-01-17 17:24] lanej0 commented on #31651
Hi @themycogrow,

Thanks for taking the time to report this.  We'll try reproducing this on our end, and if we have any questions, we'll update you here.

[2022-01-17 17:29] lanej0 commented on #31646
Hi @ishaadX,

Thanks for taking the time to report this and propose a solution.  Would you mind sharing a copy of the dummy data you're importing to help us test/reproduce this issue?

[2022-01-17 17:31] hdsheena commented on #31636
Hoping to see this released soon :)

[2022-01-17 18:26] helgatheviking opened #31656 "Order item cache potential discrepencies"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The [order data store](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/data-stores/abstract-wc-order-data-st

[2022-01-17 18:36] lanej0 commented on #31656
Hi @helgatheviking,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2022-01-17 19:28] mrleemon opened #31657 "HTML tags wrapping the asterisk symbol in required checkout fields"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The asterisk symbol in required checkout fields is wrapped in `abbr` tags with a `title` attribute that is displayed when a user hovers over the asterisk:
`<abbr class="required"

[2022-01-17 20:18] jpswade opened #31659 "Price display suffix incorrect when showing a range on product category page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

On the "product-category" pages, for each product type it provides a price range, but it only adds the suffix of the first price to the end of the second price. This is a problem

[2022-01-17 20:21] senff opened #31660 "Year showing as AMAMAMAM in Analytics when language is set to Portuguese"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the site language is set to Portuguese, the year is not displaying correctly in the Analytics section.  Instead of showing a number, it's showing "AMAMAMAM" everywhere on th

[2022-01-17 20:22] mattsherman commented on #32258
Keeping this open as I need to make sure there are not loose ends to tidy-up.

[2022-01-17 20:23] lanej0 commented on #31657
Hi @mrleemon ,

Confirmed.  Form fields appear to use the HTML `abbr` tag to indicate a required field:

<img width="1488" alt="Screen Shot 2022-01-17 at 12 18 13 PM" src="https://user-images.githubusercontent.com/80276/149832789-53b2a9eb-e747-43d5-a858-3ad690953909.png">

The checkbox for terms and conditions uses a `span` to indicate it's required:

<img width="1488" alt="Screen Shot 2022-01-17

[2022-01-17 20:34] lanej0 commented on #31660
Hi @senff ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using the steps you listed (I did have to re-install WordPress to get Analytics translated properly).

1. Go to General Settings.
2. Change site language to Portuguese.
3. Go to Dashboard → Updates and select Re-install WordPress.
4. Go to Estatisticas → Resumo and look at th

[2022-01-17 20:41] masteradhoc commented on #31660
@lanej0 fyi could be related to this: https://github.com/woocommerce/woocommerce-admin/issues/8056

[2022-01-17 20:45] MrJnrman commented on #31613
Console suppression functionality is already documented in the `e2e-environment` readme with the exception of the `consoleShouldSuppress` method that doesn't need to be there since package users won't need to use it when developing their own tests. Closing this issue.

[2022-01-17 20:45] #31613 closed, assigned to MrJnrman

[2022-01-18 00:35] #31527 closed, assigned to nobody

[2022-01-18 00:35] #31537 closed, assigned to nobody

[2022-01-18 05:24] sridhargoshika opened #32194 "How to remove/hide zero dollar orders from WooCommerce Analytics?"
Is there any option to remove the zero dollar orders in WooCommerce Analytics? I don't see relevant settings at Analytics > Settings

[2022-01-18 06:39] arunschandran opened #31661 "Product sorting order is not working correctly"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,

I have a problem with my WooCommerce website. Product sorting is not working correctly. In my WordPress dashboard, under “All products” menu item. I sorted products based on

[2022-01-18 07:08] omarmfouad25 commented on #31636
Hey guys I had the same problem for the last 6 days,
I did my research I tried everything written here and on GitHub also
what worked for me really well, to deactivate WooCommerece Plugin, then download Version 6.0.0 from the WP website, then upload it and roll back to 6.0.0 instead of 6.1.0
don’t forget to disable the auto-update

[2022-01-18 07:08] omarmfouad25 commented on #31636
it didn't work for me

[2022-01-18 08:52] peterfabian commented on #31470
Hi again. Thanks again for proposing this feature, I think this change makes sense and although it isn't among our current priorities, we'd be happy to discuss it and review PRs related to this change.

This bit is somewhat confusing to me. Will this page only list reviews or also other WC-related comments?

I wonder how you plan to tackle backward compatibility since I suppose there is a possibil

[2022-01-18 09:42] swatipawarGS commented on #31651
Hi @themycogrow ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.1.0 version and WordPress 5.8.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/149891860-71bdd20a-2df2-4c21-a122-fd3e60e07efa.mp4

Please provide us more detailed and any

[2022-01-18 09:44] swatipawarGS commented on #31659
Hi @jpswade ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.0 version and WordPress 5.8.3 version.

Please find below screenshot for reference :

![#31659(final)](https://user-images.githubusercontent.com/94531721/149911144-05f53262-e04f-4ad4-bd31-3765ee7b3d0f.jpg)

Priority of this issue will

[2022-01-18 09:52] jpswade commented on #31659
That's strange, on your version, when it's a range, it doesn't display the suffix, while on mine it does.

[2022-01-18 10:10] pmcpinto commented on #28603
@becdetat can you check if it's possible to include this in the scope of cycle 21? Thanks

[2022-01-18 10:42] bluantinoo commented on #31364
Just sent, thanks @lanej0

[2022-01-18 11:26] thuautp opened #31664 "Low stock email is not triggered via the API"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

4686173-zen

User here says that they have an external system that updates product stock via the API. When the stock goes below the low or no stock threshold, they do *not* recei

[2022-01-18 12:01] peterfabian commented on #31657
Sounds like an oversight, thanks for reporting. Would you like to contribute with a PR, @mrleemon ?

[2022-01-18 14:15] peterfabian commented on #31490
Hi @erikyo . Thanks for your contribution. Could you please create a pull request so that we can review it and provide feedback using the usual GitHub workflow?

[2022-01-18 14:34] despokd commented on #31636
@omarmfouad25 Downgrade jQuery temporary fixed it for me.
I just used [Enable jQuery Migrate Helper](https://wordpress.org/plugins/enable-jquery-migrate-helper/) to change to legacy jQuery Migrate

[2022-01-18 15:41] rodelgc commented on #31638
Noting here that this could be related to the ongoing discussion [here](702-gh-woocommerce/woocommerce-square#issuecomment-1015285222)

[2022-01-18 16:08] hdsheena commented on #31636
@despokd
I just tried this and it didn't make the images reappear on the instance I'm working on :(

[2022-01-18 17:04] elizaan36 commented on #32197
Thanks for pointing this out, @alopezari!

@jarekmorawski Would you mind taking a look at this?

[2022-01-18 17:15] rodelgc opened #31669 "TT2 Support: Search box is missing in the TT2 theme"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In the TT1 theme, the "Search" box appears as the part of the footer widget. However, the Search box does not appear anywhere in the TT2 theme.

Additional context: Issue 1 in pb

[2022-01-18 17:27] rodelgc opened #31671 "TT2 Support: The order details table in the “Pay for Order” page appears to be cramped up on the left side of the page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Issue found during 6.2.0-beta.1 smoke test:

The order details table in the “Pay for Order” page appears to be cramped up on the left side of the page:

<img width="783" alt="Scr

[2022-01-18 17:41] ishaadX commented on #31646
Hi @lanej0

I am using the dummy content `sample_products.xml` provided inside the WooCommerce plugin's (v6.1.0) sample-data folder.
For more help, I am providing a zip contained that sample-data folder.

[sample-data.zip](https://github.com/woocommerce/woocommerce/files/7891240/sample-data.zip)

Thanks

[2022-01-18 19:05] mrleemon commented on #31657
@peterfabian, here it is:
https://github.com/woocommerce/woocommerce/pull/31673

[2022-01-18 19:16] #31638 closed, assigned to nobody

[2022-01-18 20:08] lanej0 commented on #31661
Hi @arunschandran,

Thanks for taking the time to report this.  I'm having some trouble reproducing it on my end.  I've tried setting up some products of varying values and playing around with currency settings and such (but no luck).  Could I ask for a little more information from you?  Specifically:

Under WooCommerce > Settings > General, what currency options do you have set?  This is what I w

[2022-01-18 20:43] badfeather commented on #30968
I ran into the same issue. I'm using the `[woocommerce_checkout]` shortcode. The terms & conditions checkbox terms dropdown was outputting raw text, and ACF gutenberg blocks were getting mangled. I fixed it by doing the following, as @menno-ll suggested:
[code]
I think some sort of check in `wc_terms_and_conditions_page_content()` for whether pages are using the block editor would be warranted, as

[2022-01-18 21:20] mattsherman commented on #32195
@alopezari Thank you for this suggested improvement. I will place it in the product backlog for the development team to consider in the future.

[2022-01-18 21:42] lanej0 commented on #31364
Just confirming that I've got it, thanks for sending that.  I'll dig in and take a look!

[2022-01-18 21:44] alopezari commented on #32195
Great, thanks Matt!

[2022-01-18 21:50] mattsherman commented on #31677
@alopezari Thanks for reporting this issue. This part of the product is tracked in a different GitHub repository, so I will transfer the issue to that repository so that it can be properly triaged.

[2022-01-18 21:51] mattsherman commented on #31678
@alopezari Thanks for reporting this issue. This part of the product is tracked in a different GitHub repository, so I will transfer the issue to that repository so that it can be properly triaged.

[2022-01-18 21:52] mattsherman commented on #31679
@alopezari Thanks for reporting this issue. This part of the product is tracked in a different GitHub repository, so I will transfer the issue to that repository so that it can be properly triaged.

[2022-01-18 21:54] alopezari commented on #31679
Great, Matt, thanks. And sorry for my mistake reporting the ticket in the wrong place!

[2022-01-18 22:10] lanej0 commented on #31679
Hi @alopezari ,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2022-01-18 22:12] alopezari commented on #31679
Hi Jonathan, makes sense. Thank you!

[2022-01-18 22:16] lanej0 commented on #31678
Hi @alopezari ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

1. Create an order with a downloadable product
2. Click on the order listed on WooCommerce > Orders
3. Scroll down to Downloadable product permissions
4. Click on Grant access

<img width="561" alt="Screen Shot 2022-01-18 at 2 16 33 PM" src="https://user-images.githubus

[2022-01-18 22:20] lanej0 commented on #31677
Hi @alopezari ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Priority of this issue will be assigned shortly after we'd go through a round of prioritization. Please note it may take a couple of days.

[2022-01-18 22:50] MrJnrman opened #31680 "Investigate why the Shopper Checkout Create Account test fails when executed locally in headless mode"

[2022-01-19 03:27] becdetat commented on #28603
@pmcpinto For cycle 21 I definitely think it can be included

[2022-01-19 04:03] bekarice-godaddy commented on #31470
Hey @peterfabian

Customers can review products, but then site admins can also leave a comment in reply to their review. So, "reviews" really end up being both reviews and comments. This clarifies when a "comment" is a review or a response to a review (and we'd let users filter the list). We could consider changing that behavior, but merchants often find value in being able to add a reply to show

[2022-01-19 04:46] arunschandran commented on #31661
Hi @lanej0

This is the currency options in the site

![Screenshot (6)](https://user-images.githubusercontent.com/8776680/150065586-dd541271-49ca-4b0b-9701-9be7e796e47d.png)

If you could have a private messaging option or Email, I can send the product export there

Thanks,
Arun

[2022-01-19 07:11] thejamescollins commented on #31270
Hi there @rodelgc ,

I'm wondering if you have an update on progress here?

I'm sure there are many WooCommerce extension developers that are relying on using WooCommerce's (now legacy) unit testing facility to test their plugins.

Our WooCommerce Zapier extension has 10,000+ active users, and we're currently unable to run our unit test suite on PHP 8.1 because WooCommerce core's test suite isn't

[2022-01-19 07:32] chihsuan commented on #32221
I found actually the `thousand_sep` of `Åland Islands` (AX) is a blank space in [woocommerce/i18n/locale-info.php](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/i18n/locale-info.php#L225).

We also post the same value.
![Screen Shot 2022-01-19 at 15 16 57](https://user-images.githubusercontent.com/4344253/150082573-31e2a133-72af-4b9d-96f8-61f67ac40f08.png)

But the valu

[2022-01-19 07:42] dakine1977 commented on #31636
Thanks... This helped!

[2022-01-19 10:21] mitchellkrogza commented on #31616
Also not how some have courteously been minified while others not.

[2022-01-19 10:27] 79ho3ein opened #31684 "Redirect users not logged in to login / register page (Request new feature)"
### Describe the solution you'd like

hello

Please add a feature to WooCommerce so that users who have not logged in and want to log in to the payment page will be automatically redirected to the login / registration page. Now, WooCommerce has put very simple settings for this part. In this way, if the user who has not logged in refers to the payment slip, only the text "You must log in first" is

[2022-01-19 11:16] AashikP commented on #31661
Hello @arunschandran

Thank you for raising the issue. However, I can’t reproduce it on my end. Here's a screen recording of what I'm seeing:

[https://d.pr/i/1KoQi6](https://d.pr/i/1KoQi6)

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which m

[2022-01-19 11:16] #31661 closed, assigned to nobody

[2022-01-19 11:24] jorgedevillalba commented on #30618
Hi again. I want to confirm that there is no solution to the issue yet as I am waiting for it. Thanks

[2022-01-19 11:44] Konamiman commented on #31107
Removing "needs developer feedback" as discussion is being conducted in the attached PR.

[2022-01-19 11:53] arunschandran commented on #31661
In the screen recording I can see the issue. Please see the screenshot I added here which is taken from your screen recording. In the screenshot, you can se the sorting isn't working fine. It isn't sorted based on the price
![Screenshot (8)](https://user-images.githubusercontent.com/8776680/150124654-3cf4c924-72b3-4777-b8db-82d0020dbc0e.png)

[2022-01-19 13:10] elJeffco commented on #24432
Any update on this issue? Woocommerce also deletes Wordpress authors / admins if they are inactive which resulted in a lot of content being deleted.

[2022-01-19 14:40] gglobalstep opened #31685 "[GlobalStep] For Twenty Twenty-two theme,"Remember me" checkbox for "Login to existing account" is misaligned on "Checkout" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty Twenty-two theme,"Remember me" checkbox for "Login to existing account" is misaligned on "Checkout" page.

### Expected behavior

For Twenty Twenty-two theme, "Remembe

[2022-01-19 14:42] Konamiman commented on #29138
Hi @galbaras. We think that this is a reasonable feature request so I'm going to mark it as enhancement.

A note on implementation, though: the link of existing orders to new customers would be created not when the customer creates an account, but when the email is verified, for security reasons.

[2022-01-19 14:46] Konamiman commented on #28135
Hi @strarsis. It's possible to selectively disable email notifications whenever needed, as instructed here: https://woocommerce.com/document/email-faq/#section-3. This is the cleanest approach, adding additional mechanisms could cause issues with payment gateways or other plugins.

[2022-01-19 14:48] gglobalstep opened #31686 "[GlobalStep] For Twenty Twenty-two theme, "Dropdown" option is misaligned on "Variable Product" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty Twenty-two theme, "Remember me" checkbox for "Login to existing account" is misaligned on "Checkout" page.

### Expected behavior

For Twenty Twenty-two theme, "Dropdo

[2022-01-19 14:49] jeffstieler commented on #30618
Hi @jorgedevillalba,

This fix was included in the WooCommerce 6.1 release. Are you using 6.1 and still seeing issues with stock adjustment for refunds?

[2022-01-19 14:49] Konamiman commented on #28237
Hi @matthiaswagnerwy, this looks indeed like a good idea for an enhancement so I'll label it as such.

[2022-01-19 14:51] Konamiman commented on #28355
Hi @amustill, I'm going to keep this open as a good enhancement suggestion, but at this point we can't provide details about when we'll get to work on it.

[2022-01-19 14:53] Konamiman commented on #28497
This looks indeed like a bug so I'm labeling it as such, thanks.

[2022-01-19 14:55] Konamiman commented on #28524
Hi @negapo, thanks for your report. Would it be possible for you to submit a pull request with the fix you are suggesting, so that we can take a closer look?

[2022-01-19 14:56] jorgedevillalba commented on #30618
Thanks for your answer. Yes, I have the latest version and I´m going to
make a test, although I think that if you tell that has been solved, it
will work. Anyway, if not, I´ll let you know.

Thanks a lot for your attention

El mié, 19 ene 2022 a las 15:49, Jeff Stieler ***@***.***>)
escribió:

--

Jorge García

***@***.**** ***@***.***>

*Por favor, antes de imprimir este mensaje, asegúrese de que

[2022-01-19 14:57] #30006 closed

[2022-01-19 21:55] moory-se opened #31688 "Improve (by a lot) performance of layered navigation widgets"
Hi,

TL;DR
Adding an index of `(product_or_parent_id, term_id)` on `wp_wc_product_attributes_lookup` increases the performance of Layered Nav Widgets with between 9x and 550x.
TL;DR

The new lookup table (`wp_wc_product_attributes_lookup`) for sure have given a huge performance boost for **selecting the products**. However: the performance of the layered navigation widgets are, in some circumstanc

[2022-01-19 22:07] lanej0 commented on #31688
Hi @moory-se ,

Thank you for opening the issue! It requires further feedback from the WooCommerce Core team. I am adding the `needs developer feedback` label to this issue so that the Core team could take a look.

Please note it may take a few days for them to get to this issue. Thank you for your patience.

[2022-01-19 22:20] joshuatf commented on #32218
This issue affects a relatively small subset of users, but does impact the product experience.  Keeping this issue open for now.

Also noting here that while potentially somewhat out of scope for this issue, scheduled update actions through action scheduler are not guaranteed to run in order and version update callbacks (which signal the end of an update) have potential to cause issues.

[2022-01-19 22:25] moory-se commented on #31688
I noticed that in some cases, the query is longer. It contains some query for is_variation. The full query is pasted here. I will happily provide a database dump for testing, but I rather not paste it here in public.

[the-query.txt](https://github.com/woocommerce/woocommerce/files/7900925/the-query.txt)

I tried adding multiple indexes to see which ones the query planner would use, and found that

[2022-01-19 22:25] #31680 closed, assigned to nobody

[2022-01-19 22:26] #31544 closed, assigned to Luc45

[2022-01-19 22:32] joshuatf commented on #32271
Hi @olsonrebecca 👋  I just wanted to check if you're still experiencing this issue and if the one I encountered is the same as yours.

My gut feeling on this is that we need a more formalized unique tax structure.  This is probably something we need to handle in core.  cc @mattsherman any thoughts on this one?

[2022-01-19 23:11] joshuatf commented on #32251
Thanks for reporting this issue, @aries223.  This is still an issue and woocommerce/woocommerce#32271 should be considered when working on this one.

This comes down to retrieval of tax data where WooCommerce Admin checks the taxes table (which can be updated or deleted) while the legacy reports check an order type `sales-reports` in the post data.  The legacy way is most likely inefficient at que

[2022-01-19 23:27] moon0326 commented on #32194
Hi @sridhargoshika,

Thank you for submitting this question. We don't have a way to remove zero-dollar orders at the moment, but I think it's a nice to have feature.

I'm going to label this issue and we'll discuss as a team to implement a setting to remove zero-dollar orders in the upcoming WCA releases.

[2022-01-19 23:38] wdm-janis commented on #31614
Any updates of this issue?

[2022-01-20 00:13] fourstepper commented on #31659
I am also experiencing this issue right now, the suffix doesn't show up at all

[2022-01-20 00:15] olsonrebecca commented on #32271
Thank you so much for checking in with me, @joshuatf. The reports now show the City Name/Tax code (rather than just the state), but it still isn't correct. The same code/rate sometimes shows multiple times, rather than being combined. For example, for the city of Seattle I'm showing the same name/code/rate on 12 different lines. Some lines include multiple orders, others do not. My guess is that i

[2022-01-20 00:36] #31543 closed, assigned to nobody

[2022-01-20 01:47] AashikP commented on #31661
Hello @arunschandran

In the screen-recording, I tried sorting in both ascending and descending orders. The screenshot you shared above is for the descending order.

Here are screenshots from the recording I shared previously:

1. Ascending order:

    ![https://d.pr/i/2fxESL+](https://d.pr/i/2fxESL+)

2. Descending order: (*includes most part of what you shared*)

    ![https://d.pr/i/xxhtAg+](ht

[2022-01-20 03:11] AashikP commented on #31646
Hello @ishaadX ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

1. I used the WordPress importer tool (Tools > Import) and imported a copy of the `sample_products.xml` file from a fresh WooCommerce copy
2. Found PHP warnings while importing the XML file:

    ![https://d.pr/i/zfiepZ+](https://d.pr/i/zfiepZ+)
3. Product page:

    !

[2022-01-20 10:35] 0free commented on #31519
There are warnings:
[code]

[2022-01-20 12:03] harslannet commented on #27295
Using C#, we sync products from a different platform to WooCommere with API. We had this problem too, when we saw that there was no solution, we saved the day with an alternative method.

- First I put the SKUs in the API response from the other platform into a comma-separated string.
- In the second step, I sent these SKUs to the `/wp-json/wc/v3/products/?sku=` endpoint (with parameter `"_fields"

[2022-01-20 12:55] jorgedevillalba commented on #30618
Thanks por your patience Jeff. It works perfect. Thanks a lot from Spain

El mié, 19 ene 2022 a las 15:49, Jeff Stieler ***@***.***>)
escribió:

--

Jorge García

***@***.**** ***@***.***>

*Por favor, antes de imprimir este mensaje, asegúrese de que es
imprescindible. Colabore a cuidar el Medio Ambiente.*
*Este mensaje es sólo para el destinatario designado y contiene información
privada. Si lo h

[2022-01-20 12:59] peterfabian commented on #31470
Thanks @bekarice-godaddy for the feedback and elaborating. I think your approach makes sense to me. We can cc @pmcpinto as the product lead for managing WC stores.

[2022-01-20 13:31] nielslange opened #41893 "Create shared rating component"
While working on woocommerce/woocommerce-blocks#5552, I noticed that we have functionality for the star rating in the following two different places:

1. https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/atomic/blocks/product-elements/rating/block.js
2. https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/components/re

[2022-01-20 13:31] nielslange opened #42655 "Create shared rating component"
While working on woocommerce/woocommerce-blocks#5552, I noticed that we have functionality for the star rating in the following two different places:

1. https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/atomic/blocks/product-elements/rating/block.js
2. https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/components/re

[2022-01-20 13:44] nielslange commented on #25491
Reopening this issue as the count is still incorrect in WC 6.1

**Steps to reproduce**

1. Create a fresh WP installation.
2. Install the latest WC plugin and import the sample products.
3. Go to `WP Admin » Products » Categories` and check the count of the product categories.
4. Go to `WP Admin » Products » All Products`, open the category select field and see that the product category count is d

[2022-01-20 14:35] gglobalstep opened #31690 "[GlobalStep] For Twenty Twenty-two theme, "HTTP API Calls" error triggered on "System status" page after clicking on "WooCommerce > Status"."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty Twenty-two theme, "HTTP API Calls" error triggered on "System status" page after clicking on "WooCommerce > Status".

### Expected behavior

For Twenty Twenty-two them

[2022-01-20 15:09] jeffstieler commented on #30618
That's great news @jorgedevillalba - thank you for following up!

[2022-01-20 15:24] michalmarek-sk commented on #25518
Hi guys, I'm facing the same issue and let's say that it's fine when the backorders are allowed for admin/owner but for creating of order there is one attribute called 'customer_id' and there is a default value 0 meaning the guest is creating an order so why it is not restricted at least for them or users not being admin/owner or am I missing something?

[2022-01-20 15:29] joshuatf commented on #32252
I don't think we're using the collapsible list at the moment, but this could be a regression from refactoring.  cc @woocommerce/mothra for anyone that might have more info on when it's supposed to be shown.  Always for the extended list?

It still looks like it can be used, but none of the task lists have the prop currently.

If we still plan to use it, this issue still needs to be addressed.  cc

[2022-01-20 15:35] zhongruige commented on #31690
Hi @gglobalstep,

Thank you for raising this issue! This is expected as the Twenty Twenty-two theme has not yet been released in the [WordPress.org themes collection](https://wordpress.org/themes/), so the API is returning a 404 which is expected currently. As a result, I will be closing this issue for now.

[2022-01-20 15:35] #31690 closed, assigned to nobody

[2022-01-20 18:16] joshuatf commented on #32213
Good find, @chihsuan.  I think we may want to look at limiting the number of re-renders or in this case, when SlotFill renders.

This problem could happen in other categories outside of Analytics as well once we begin React-ifying more pages and we won't be able to guarantee they're on the same route/path.

[2022-01-20 19:55] joshuatf commented on #32250
Thanks for the ping, @chihsuan!

We should probably allow the backend to define toggleability and include it for this PR.

I also ran some quick tests when enabling this and after toggling off the list, we lose the option to toggle it back on.  These can probably be addressed in the same PR.

[2022-01-20 19:56] joshuatf commented on #32250
Moving this to the cycle backlog since this is a bug we should fix in the near term.

[2022-01-20 20:28] mattsherman commented on #32206
@moon0326 Since you have assigned yourself to this and mentioned you are working on it, can you please move it to the appropriate pipeline? Thanks!

[2022-01-20 20:47] joshuatf commented on #32272
I think this is somewhat important and while it's not necessarily a security risk, it exposes UI that should not be exposed to certain users.  Going to move this into our cycle backlog.

[2022-01-20 21:17] jarekmorawski commented on #32252
I confirm that we'll use collapsible lists in the future and it'd be great to have it working. Thanks for the ping!

[2022-01-20 21:49] lanej0 commented on #31582
Hi @SebastianTusk,

Is it possible that the old functionality is being carried forward in your theme?  If you're able to, just for debugging purposes, can you switch over to a stock Storefront theme and see if the password field is still there on the checkout page?

[2022-01-20 22:14] lanej0 commented on #31364
Hi @bluantinoo

Thanks again for sending in that listing.  I was able to import it into a local test site, but I'm not seeing any errors displayed (either in the Admin, the store or in the logs).  I tried matching themes, plugins and settings as best I could, but I'm not seeing any errors.  I'll bounce this back over to our developers for another look, but there might not be much that we can do wi

[2022-01-20 22:15] tturton-godaddy commented on #31470
Hey @peterfabian, thanks so much for sharing your feedback as well! I've put together a [Google doc](https://docs.google.com/document/d/1oMku-8Fqzj6PCSmXh5j3ElE2hsxABp6TQ3ayuQ-Or8Q/edit#) so we can discuss/fine-tune before moving forward. Looking forward to collaborating with you and @pmcpinto.

[2022-01-20 22:40] lanej0 commented on #25491
From what I could determine, the issue is more that those counts only reflect products directly assigned to those categories, and not the products assigned to any subcategories.  Using the terms in the original report, I could assign a product to Subcategory 1, but not to Category A or B.  The numbers shown will show 0 next to the categories and 1 next to the subcategory.  I could assign that same

[2022-01-20 22:46] lanej0 commented on #28202
Hi @Buzut ,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2022-01-21 04:54] nielslange commented on #25491
Looking at my screenshots again, I'd say your observation is spot on, @lanej0.

[2022-01-21 08:01] chihsuan commented on #32231
Keeping this in the backlog. I think this can increase the team’s capacity to generate more impact in the future.

[2022-01-21 11:44] joashrajin commented on #31635
Hi @oviazcan 👋

Thank you for submitting the issue. However, I can’t reproduce this and based on the screenshot you have shared, it seems like this may be coming from a Checkout Field Editor Plugin.

In order for us to get a better idea of your site setup and advise you which plugin may be to blame here, it will be great if you could share your current System Status Report. You can get it by navig

[2022-01-21 12:18] joashrajin commented on #31582
Hi @lanej0 & @rodelgc 👋

I was able to replicate this every time I tested locally and on my Pressable Site. Here are my account settings in WooCommerce:
![image](https://user-images.githubusercontent.com/16253818/150524985-2fe1b7b7-a7c8-461a-919c-5837e07953dd.png)

Looking at the screen recordings from @swatipawarGS, I assume the ` When creating an account, automatically generate an account passwo

[2022-01-21 13:14] KristFlex commented on #30907
Hi @juliaamosova,

can anyone please take a look at this ticket and reply? So far no developer has ever replied to this. Thank you in advance.

[2022-01-21 13:48] gglobalstep opened #31691 "[GlobalStep] For Twenty-Twenty Two theme, "Heading" and "Paragraph" editing fails to work at the "Home" page on the frontend."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty-Twenty Two theme, "Heading" and "Paragraph" editing fails to work at the "Home" page on the frontend.

### Expected behavior

For Twenty-Twenty Two theme, "Heading" an

[2022-01-21 14:37] pmcpinto commented on #32205
@moon0326 @ilyasfoo is it possible to check if the event is working properly? There's a drop in the number of wcadmin_inbox_action_click after the 6.1 release and getting the same issue as before: when I click in a message: no wcadmin_inbox_action_click and lots of wcadmin_inbox_panel_view

[2022-01-21 14:44] pmcpinto commented on #32205
If there's something wrong, it needs to be fixed on time to be included in 6.2

[2022-01-21 16:33] betayazilim commented on #24185
Hi,
there is "ARIA input fields do not have accessible names" error in product filters.

Woocommerce widget as “Filter products by attributes” and select display type as “Dropdown” this error happens.
Any advice to fix it?

Error screenshot : https://prnt.sc/26ghisp
Details about aria name : https://web.dev/aria-name/
Woocommerce : 6.1.0
WordPress : 5.8.3

[2022-01-21 16:35] strarsis opened #31693 "WordPress "Thank you" button links to JavaScript snippet (open in new tab)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the `href` (= `https://www.example.com/wp/wp-admin/?service-worker&wc-hide-notice=update&_wc_notice_nonce=[...]`) of the `Thank you` button after a successful database updat

[2022-01-21 16:35] strarsis opened #32193 "WordPress "Thank you" button links to JavaScript snippet (open in new tab)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the `href` (= `https://www.example.com/wp/wp-admin/?service-worker&wc-hide-notice=update&_wc_notice_nonce=[...]`) of the `Thank you` button after a successful database updat

[2022-01-21 16:39] betayazilim commented on #24185
Another one.
Woocommerce additional product images don't have alt tag in slider.

Image elements do not have [alt] attributes

Error : https://prnt.sc/26h04dr , https://prnt.sc/26h054q
Demo : https://themes.woocommerce.com/storefront/product/build-your-dslr/

[2022-01-21 17:03] lanej0 commented on #25491
Ah cool... the issue looks slightly different from the original (but there is an issue here).  On the front-end, things appear to be working as expected:

![Screen Shot 2022-01-21 at 9 01 25 AM](https://user-images.githubusercontent.com/80276/150568830-9352fd25-eb12-44d6-ac77-0f4309237c32.png)

Category A is inheriting it's count from the two items in Subcategory 1.  In admin, this doesn't seem to

[2022-01-21 17:10] gelinger777 commented on #20262
my fellow has a  similar problem with variations . he has 300 Products which then make arround 3000 attributes. Page load is about 12seconds on homepage....

[2022-01-21 17:21] lanej0 commented on #31582
That was the missing step for me.  Thanks @joashrajin for figuring that out (and @SebastianTusk for hanging in there on this issue).

I can reproduce this.  Just to summarize for those joining in on this issue at this point:

1. In WooCommerce > Settings > Accounts & Privacy, ensure that "Allow customers to create an account during checkout" is checked, and that the last two options (starting with

[2022-01-21 17:26] rodelgc commented on #31691
Hi @gglobalstep,

Thank you for submitting this issue. I notice the same behavior when I used the Twenty Twenty-One theme.

It seems that the homepage is only showing a preview of the post, thereby disregarding the spacing and other styles. I can confirm that navigating to the post will show the correct styles. Closing this issue.

[2022-01-21 17:26] #31691 closed, assigned to nobody

[2022-01-21 17:57] lanej0 commented on #31618
Hi @lil-ly

Sorry for so much back and forth on this, I'm just having some trouble seeing what you're seeing.  Maybe a screenshot would help?

Here's one from a test site I've got:

![Screen Shot 2022-01-21 at 9 47 52 AM](https://user-images.githubusercontent.com/80276/150575805-fec7f589-146e-41c2-bf6e-6d394341a518.png)

On this site, similar to what you have described, I have two tax rates a GST

[2022-01-21 18:14] lil-ly commented on #31618
Hi,
I will come back to you with screenshot but why is the coupon applying before tax?
Regards

[2022-01-21 18:16] lanej0 commented on #31693
Hi @strarsis,

Thank you for reporting the issue. This issue looks really similar to this issue: https://github.com/woocommerce/woocommerce-admin/issues/7508 which is being handled over in the `woocommerce-admin` repository.

I am going to move your bug report there so that the right team could take a look further.

[2022-01-21 18:16] lanej0 commented on #32193
Hi @strarsis,

Thank you for reporting the issue. This issue looks really similar to this issue: woocommerce/woocommerce#32241 which is being handled over in the `woocommerce-admin` repository.

I am going to move your bug report there so that the right team could take a look further.

[2022-01-21 18:36] lanej0 commented on #31618
It could vary by location, but in my experience, taxes are normally charged on the sale price (the amount that's actually changing hands between the customer and the merchant).  Because a coupon is a discount being offered by the merchant, the tax should apply to the after discount amount.

That may not be universally true, for sure.  That's how the tax laws are in Canada (where I live).

[2022-01-21 18:38] VanWebDev opened #31694 "Blank screens on Safari"
On updating to the latest version of WooCommerce, the Home and Customers pages in WP Admin are both blank on Safari (Mac). I can see them on chrome, but even after clearing caches and transients they remain blank on Safari. System info attached.

`
### WordPress Environment ###

WordPress address (URL): https://vancouverwebdev.com/devsites/elektra/content
Site address (URL): https://vancouverwebde

[2022-01-21 19:00] lil-ly commented on #31618
It’s 8pm on friday eve, allow me to come back to you pn Monday.
Regards

[2022-01-21 22:19] #31032 closed, assigned to joshuatf

[2022-01-21 22:36] joaodante commented on #28172
Hi there,

I got a similar case.

The customer exported the products on their site (using the Product CSV Import/Export tools in core WC) but when attempting to import their CSV file, they are getting the following import error:

Slug "mustang-compressor-bracket-options" is too long (28 characters max). Shorten it, please."

[2022-01-21 22:50] Michaelgimii commented on #31684
+1

[2022-01-22 09:46] ishaadX commented on #31646
Hello @AashikP, Thanks for the feedback.

[2022-01-22 11:42] rwkyyy commented on #27488
Apparently the issue is the absence of KEYS (indexes) in the tables, that causes slow queries.

Using [Index WP MySQL for Speed](https://wordpress.org/plugins/index-wp-mysql-for-speed/) solves the speed issue, more details here:
https://www.plumislandmedia.net/index-wp-mysql-for-speed/tables_and_keys/#wppostmeta

p.s. ofc this is not a permanent solution, but it's something.

[2022-01-22 18:17] homeandgardenbarrels opened #31697 "Duplicate Items in cart have a reduced price"
I'm using WooCommerce for my website.  I had a customer order 2 duplicate items recently.  When ordering on the shop page, it shows the price correctly, but when you go to the cart, the price drops significantly for each item.  When in the cart, i can reduce the quantity to 1 of the items, and the price is correct.  When bumping it back up to 2, the price drops back down.  How does this get fixed?

[2022-01-22 23:41] hi99ins commented on #31487
Has there been any update on this issue? Thanks
Tim

[2022-01-23 02:34] NatoBoram opened #31702 "Categories don't show up in "Add menu items""
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have a category with items in it

![image](https://user-images.githubusercontent.com/10495562/150662241-c2bfee2a-415c-426e-9075-70f62b435a38.png)

### Expected behavior

I shou

[2022-01-23 03:17] NatoBoram commented on #31702
Aaah I guess I found out.

The "categories" seen is actually "article categories" or something. "Product categories" is hidden by default for some reason.

![image](https://user-images.githubusercontent.com/10495562/150663399-eb07e7fb-6f49-4b2e-8733-6457fb4d0485.png)

Make sure that "product categories" is checked.

![image](https://user-images.githubusercontent.com/10495562/150663421-f76aedca-a5f

[2022-01-23 03:17] #31702 closed, assigned to nobody

[2022-01-23 08:11] nielslange commented on #25491
You're right, @lanej0. 🙈 Do you want me to create a separate issue for this problem, or shall we proceed within this issue?

[2022-01-23 10:50] eoinkennedy commented on #27626
Hi,

Any update on this bug?

Thanks

[2022-01-23 12:47] mattsherman commented on #32194
@sridhargoshika Can you please provide more detail as to why you would like this feature? It would be helpful to the product team to fully understand why you have zero dollar orders and why it is important that they be removed from the Analytics screens for you. Thanks!

[2022-01-23 20:48] dariusvelavicius opened #31703 "Action not called when sending the email right after placing the order"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I use a Shipping Method plugin (https://github.com/zefy/lp-express-shipping-method-for-woocommerce/) that allows customers to select a pickup terminal when placing the order.

Th

[2022-01-23 21:38] nicholasjeberlin commented on #24387
4712931-zen in the form of duplicate commission generation in combination with Product Vendors

[2022-01-24 01:26] ilyasfoo commented on #32205
Apologies @pmcpinto, it seems this PR wasn't cherry-picked into 6.1. I totally missed checking it.

The fix is already in WCA3.1 and will be included in 6.2.

[2022-01-24 01:37] NatoBoram commented on #28290
Do you know which "updated" config fixes the issue? I'm also running into this at the moment.

[2022-01-24 03:30] sridhargoshika commented on #32194
@mattsherman I was asked by our marketing team to see if we can have WooCommerce Analytics ignore $0 orders for all the reports. The reason being, they want to know if our sales have increased in total # of orders over the years, but the $0 orders are clouding our ability to tell.

[2022-01-24 04:42] becdetat opened #32192 "Test coverage for key tracks events"
We need to have test coverage for the following key tracks events. Please add your GitHub username to the table when you start and complete implementing coverage.

Edit by ilyas: These events might be outdated, please check if we're going to proceed with it. p7Ldg5-5Kv-p2#comment-12148

  |   | Started (username) | Completed (username)
-- | -- | -- | --
Store profiler |   |   |  
Event name | Desc

[2022-01-24 04:44] #31671 closed, assigned to jeffstieler

[2022-01-24 06:37] ilyasfoo commented on #32247
Hi @kimek, unfortunately, we aren't able to decide on how to produce a backward compatible fix this yet, but hopefully, we'll be able to soon.

In the meantime, a workaround you can try to use is the partial refund method (but setting the refund to 100% of the original price) since it should account for tax properly.

[2022-01-24 07:14] ilyasfoo commented on #32221
@chihsuan Good catch on AX numbering format, I confirm it to be expected according to this site https://www.localeplanet.com/icu/sv-AX/index.html.

I agree with your assessment, this could probably be our value is trimmed prior saving. I think we should close this issue and report an issue on core for saving `woocommerce_price_thousand_sep` with a blank space value. I think we shouldn't try with `

[2022-01-24 08:30] rodelgc commented on #31270
Hi @om4james,

Apologies for the delayed response. Thanks for bringing these up. I'll labeling this with `needs developer feedback` so that our Core devs could take a deeper look.

[2022-01-24 09:25] chihsuan commented on #32240
I think this is a good feature that we should keep in the backlog for prioritization.

[2022-01-24 09:40] 79ho3ein opened #31704 "WooCommerce functionality development (Select a variable on the products page)"
### Describe the solution you'd like

hello

n the single product page, a new price appears in addition to the existing price if we select the variables. Therefore, two prices are displayed. This is not really good and it completely destroys the user interface. Simultaneous display of prices is also confusing for users. Especially if there is a selle price. https://prnt.sc/26i3vct

### Describe al

[2022-01-24 10:16] peterfabian commented on #31270
Hi @om4james . Thanks for raising those issues. As you can see from the PRs (https://github.com/woocommerce/woocommerce/pull/31286, https://github.com/woocommerce/woocommerce/pull/31333 and the [extra commit on our PHPUnit patch](https://github.com/woocommerce/phpunit/pull/1/commits/555282e03f826a5f6c58be2ff2b02ae107e455dd)) we have been working on making WC compatible with PHP 8.1, although it st

[2022-01-24 10:26] swatipawarGS commented on #31694
Hi @VanWebDev ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.8.3 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/150741844-a3ac3270-d91b-45b4-9a93-fb7fef87c977.mp4

Please provide us more detailed and any ad

[2022-01-24 12:58] joashrajin opened #31706 "Marketing: Error triggered when viewing the overview page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have multiple sites which trigger this error when opening the Marketing > Oveview Page. The error is:

[code]

### Expected behavior

There should not be an error triggered

##

[2022-01-24 13:56] gglobalstep opened #31708 "[GlobalStep] For Twenty Twenty-Two theme, "Save" button is displaced to right after entering the password in "New Password" input field on "My Account" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty Twenty-Two theme, "Save" button is displaced to right after entering the password in "New Password" input field on "My Account" page.

### Expected behavior

For Twent

[2022-01-24 14:45] #31669 closed, assigned to nobody

[2022-01-24 15:01] ghost opened #31709 "Short codes not shown products"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hello there,

I am using Woocommerce short codes to display products into my site for example:

[products ids= '111,222,334,211' columns='3' limit='12' pagination='yes']

there i

[2022-01-24 15:26] jimjasson opened #31710 "[Enhancement]: Move `set_session` hooked at `woocommerce_after_calculate_totals` to a later priority"
### Describe the solution you'd like

Currently, `set_session` is hooked at `woocommerce_after_calculate_totals` at priority `10`. The session should be set after all plugins that modify the cart totals have ran. `10` is an early priority and many plugins may have not ran yet. Because of that, each plugin must do a separate `set_session` call which is not performant.

We bumped into this issue whi

[2022-01-24 17:08] MrJnrman opened #31713 "Update the waitForSelector import in the wp-admin-order-refund-restock.test.js test"

[2022-01-24 17:11] MrJnrman commented on #31713
The [wp-admin-order-refund-restock.test.js ](https://github.com/woocommerce/woocommerce/blob/d0f4773ac7911e2adf4e011736230731e157c094/packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-refund-restock.test.js#L13) uses the `waitForSelector` method from `e2e-environment` when the rest of the E2E project uses the `waitForSelector` method defined in `e2e-utils`.

This test should be updated

[2022-01-24 18:00] #29123 closed

[2022-01-24 18:51] #31252 closed, assigned to nobody

[2022-01-24 20:27] #31642 closed, assigned to rrennick

[2022-01-24 20:27] tammullen commented on #29276
Will be closing this as resolved by https://github.com/woocommerce/woocommerce/pull/30944

[2022-01-24 20:29] #29276 closed

[2022-01-24 20:29] lanej0 commented on #25491
I don't think it's necessary to open a new issue.  I think we've got everything documented here.  Thanks!

[2022-01-24 21:08] #30564 closed, assigned to Konamiman

[2022-01-24 21:08] #30565 closed, assigned to Konamiman

[2022-01-24 21:56] MrJnrman opened #31715 "Daily smoke test workflow is failing"

[2022-01-24 22:01] MrJnrman commented on #31715
The `upload-plugin.js` test is failing in the [Smoke test daily](https://github.com/woocommerce/woocommerce/actions/workflows/smoke-test-daily.yml) workflow. The issue looks to be because the test is trying to upload a plugin from the `plugins/woocommerce/tests/e2e/plugins` directory even though it looks to be in the `/home/runner/work/woocommerce/woocommerce/tmp` directory.

The fix here seems to

[2022-01-24 22:40] willybahuaud commented on #31486
I submitted my first pull request to fix this issue on #31652 but it seem we need a reviewer with write access to approve it. Do I need to do something more?

[2022-01-24 23:19] ObliviousHarmony commented on #31697
Hi @homeandgardenbarrels ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible

[2022-01-24 23:41] ObliviousHarmony commented on #31709
Hello @hajakutbudeen-dev,

Could you please share your environment? You can find this by copying and pasting the system status report from **WooCommerce > System Status** in your WordPress admin area.

[2022-01-24 23:45] ObliviousHarmony commented on #31706
Hi @joashrajin,

Thank you for reporting the issue. The marketing page is being developed in another repository: [woocommerce/woocommerce-admin](https://github.com/woocommerce/woocommerce-admin)

I am going to move your bug report there so that the right team could take a look further.

[2022-01-25 00:48] #31137 closed, assigned to nobody

[2022-01-25 01:13] mattsherman commented on #32194
@sridhargoshika Thanks for the explanation!

While we don't provide this functionality directly in the UI currently, on the Analytics > Orders screen you can download a CSV of the data and then use a spreadsheet application such as Excel or Google Sheets to further filter things. Perhaps that would be a reasonable workaround for now?

<img width="1069" alt="Screen Shot 2022-01-24 at 20 11 40" src=

[2022-01-25 01:49] joelclimbsthings commented on #32220
I've tried to reproduce this issue on my local to no avail. I've tried a few versions of WordPress and WooCommerce, including WordPress 5.8.2 and WooCommerce 5.9 with PHP 7.4.1 as mentioned above.

I'm going to keep this around since it's been reported multiple times, but if anyone can shed some light on other factors that may help reproduce it let us know 🤞🏻 .

[2022-01-25 04:16] sridhargoshika commented on #32194
@mattsherman It would be good if we have an option at Analytics > Settings as the `Exclude Zero Dollar Orders` checkbox.
Is WooCommerce Admin extension Analytics Settings are customizable using our own custom script/functions.php/plugin?

[2022-01-25 06:17] kritika36 opened #31718 "Product Category can not be added: It shows undefined"
- Products disappear/are not displayed on the shop category page.

[2022-01-25 06:47] ghost commented on #31709
Hey @ObliviousHarmony,

I am working in company they don't allow share those info in public really sorry for the inconvenience. but i check that status section i found one error i took screen shot and share that here. We remove default shop page because we want to display products based on country if we use default shop page we not able to control that via woo-commerce short code.

<img width="902

[2022-01-25 09:33] ovidiul opened #31720 "[Enhancement]: Add filter for `wc_product_has_unique_sku ` check"
### Describe the solution you'd like

On a large store with over 500K products, this code [line](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/wc-product-functions.php#L618)
[code]
has the potential to generate a slow query as below.

Inserting a new product always takes at least 5 seconds for that call to finish.

<img width="1507" alt="Screenshot 2022-01-25 a

[2022-01-25 09:59] ghost commented on #31709
Hello there,
Kindly please reply, It's that true ? woo-commerce short code: [products ids='']
will accept only 3161 ids ? because i load 3808 ids into that, it not work when i remove 647 ids from that then works.!
I copied all ids into MS word and checked the character count i noticed its 19000 characters total.
This same code work if i remove some ids (when characters around 15000).
Please advise

[2022-01-25 10:46] pmcpinto commented on #31470
👋 I just looked at the PRD and all the proposed changes make sense. We allow users to moderate reviews directly in the WooCommerce Home Screen. Feel free to provide feedback regarding this part of the experience, as it can impact the 1st and 2nd job story. Thanks!

[2022-01-25 11:30] pmcpinto commented on #32205
Thanks for the heads up. I'll test 6.2 RC1 to check if everything is working properly

[2022-01-25 11:47] morepurplemorebetter opened #31721 "woocommerce_adjust_non_base_location_prices not changing product price on checkout since v5.9.0"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

With certain tax settings to have the prices be inclusive of VAT, regardless of the VAT percentage of the customer's country, the checkout cart has prices listed for the excl. VA

[2022-01-25 11:53] vedanshujain commented on #31703
hey @dariusvelavicius

This hook should be executed as far as I can see. Are you able to reproduce this issue with maybe a dummy filter and without any external plugin?

There is a chance that hook for displaying information may need to be registered via some different code path, in case the class is not initialised before `do_action` happens.

[2022-01-25 11:59] vedanshujain commented on #31688
hey @moory-se

this sounds pretty neat, we would love to add this enhancement. if you are willing, can you also send us a PR given that you have already worked out a fix? otherwise we will be happy to take it up.

[2022-01-25 12:03] vedanshujain commented on #31703
we tested with following filter:
[code]
and this was executed as expected.

i am going to close the issue for repository maintenance, but feel free to comment back and we will re-open.

[2022-01-25 12:03] #31703 closed, assigned to nobody

[2022-01-25 12:42] moory-se commented on #31688
Hi @vedanshujain,

I've implemented in our own sites, but I have not been able to do a PR. I simply don't know how to alter tables in upgrade scripts etc. Would be great if you could take it up ❤️

[2022-01-25 13:08] raratiru opened #31722 "When manage_stock is enabled, stock_status conflicts when onbackorder"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When:

[code]

The product is:

* shown as available
* having "add to cart" button enabled

But:
* It cannot be added to cart

### Expected behavior

To be treated as `outofstock

[2022-01-25 13:31] moory-se commented on #31720
Hi,

I recently worked on another slow query from a lookup table (https://github.com/woocommerce/woocommerce/issues/31688). I do think that this is a very similiar case.

The lookup tables are for sure made for performance reasons - after all, they are in fact "lookup tables" and not "storage tables". Given that fact, they should utilize indexes quite heavily. This table (`wp_wc_product_meta_looku

[2022-01-25 13:55] JaniKowalski commented on #22284
I agree that the issue is a real one - I just have a client that is confused by it. He expects to have an option to change also the street address in the cart - it looks natural. Now I have to switch it off completely.

[2022-01-25 15:10] #30637 closed, assigned to veljkho

[2022-01-25 15:59] MrJnrman opened #31723 "Investigate why the Smoke Test Site is responding with 404 to API requests"

[2022-01-25 16:02] MrJnrman commented on #31723
Recently, the PR smoke test workflow has been failing because API requests are returning 404 errors.

Example: https://github.com/woocommerce/woocommerce/runs/4926797276?check_suite_focus=true

[2022-01-25 16:14] janw-me commented on #32220
We also have this problem with a client. I did a lot of digging to find the problem (I think)
1) I request revenue from october to today.
2) in the Scheduled Actions 3 `woocommerce_admin_report_export`and one `woocommerce_admin_email_report_download_link` are pending.
3) Let nature run it's course and run the schedules
4) Using xdebug I see the `$percent_complete` is 99 never 100 in the function [

[2022-01-25 19:23] jacob-sewell opened #32191 "Suggestion: Remove padding/margin around paragraph tags in Snackbar notices"
As of PR woocommerce/woocommerce-admin#8173 it's possible to include markup in Snackbar error notices, though the only place it's currently happening is on server-side errors importing sample products. This can result in some odd padding if the error message has a `p` tag in it.

![Screen Shot 2022-01-25 at 13 19 34](https://user-images.githubusercontent.com/890809/151044512-dd7d3184-da45-4569-baa

[2022-01-25 19:33] jacob-sewell opened #32190 "Add __unstableHTML option to createNotice() with API error messages where appropriate"
Issue woocommerce/woocommerce-admin#4314 referenced one particular API call whose error message gets put into a Snackbar via `createNotice()`. As of PR woocommerce/woocommerce-admin#8173 it's possible to preserve tags in messages displayed in a Snackbar if you pass `{ __unstableHTML: true }` as a third parameter to `createNotice()`. This only affects the specific Sample Products Import case, so an

[2022-01-25 19:37] #31410 closed, assigned to rrennick

[2022-01-25 19:37] #31713 closed, assigned to rrennick

[2022-01-25 19:46] ethanclevenger91 commented on #31476
@rodelgc Had this same issue. The `wc_rate_limits` table did not exist, continued to not exist, and caused fatal errors on pages where it was depended on to exist. Explicitly ran `wp wc update` from WP-CLI to ensure upgrades were ran. First time I ran it, it showed the progress bars for the 6.x.x migrations. Subsequent running showed "Success: No updates required. Database version is 6.1.1". Despi

[2022-01-25 20:44] 970DesignUser commented on #25623
We're noticing this happening periodically on a high traffic woo commerce site as well - WooCommerce 6.1.1

[2022-01-25 20:53] Aar0naut commented on #27419
I'll add another to the "does not appear" tally, it's just a blank box. I'm honestly not experienced enough to be able to follow all the code editing work-arounds or properly troubleshoot. Just need this to work, and it's discouraging seeing this problem has been around for so long.

[2022-01-25 21:11] joelclimbsthings commented on #32220
Thanks much @janw-me ! That's very helpful.

It looks like this percentage value is actually originally generated in the `WC_CSV_Batch_Exporter` class [here](https://github.com/woocommerce/woocommerce/blob/27eba955ddd38c3606a03c3266b8f447afbe6b1d/plugins/woocommerce/includes/export/abstract-wc-csv-batch-exporter.php#L187), which actually resides in the core repo.

That said, I'm transferring this

[2022-01-25 23:24] pipin3000 opened #31728 "coupons for individual use isnt working as it should"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I am creating two discount codes for individual use only which shouldn't allow users to use more than one discount code at a time but if a user types in another discount code, th

[2022-01-26 00:36] #31053 closed, assigned to nobody

[2022-01-26 00:36] #31520 closed, assigned to ObliviousHarmony

[2022-01-26 00:36] #31584 closed, assigned to nobody

[2022-01-26 04:20] sanzeeb3 opened #31729 "The seventh parameter passed to add_menu_page() should be an integer representing menu position."
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This seems to be on WordPress 6.0 as of https://core.trac.wordpress.org/ticket/54798

### Expected behavior

No PHP Notice.

### Actual behavior

PHP Notices on every page load.

[2022-01-26 08:47] thedigitalhubau opened #31730 "Cannot access wp-admin when Woocommerce is active"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Can no longer access the admin dashboard (getting a redirect to the homepage after login details are added – have tried with a couple of different admins). Seems to be the woocom

[2022-01-26 10:32] jarekmorawski commented on #32197
Ideally, the labels would sit outside the fields, but that's not how they're currently built. We might change that in the future but for now maybe we could make the the text break in two lines? It'll take up more space, but it'll be legible.

[2022-01-26 11:13] peterfabian commented on #31470
Thanks for sharing the doc. I think it makes sense and besides the considerations raised by Pedro, my only feedback would be to potentially add working within the WC Admin framework as a future consideration. I think we can proceed.

[2022-01-26 11:18] lil-ly commented on #31618
Hi Jonathan,

What you don’t seem to understand is the way the customers see it, they don’t care when the taxes applies. You promise 5€ discount, whatever the product is you have to apply 5€ discount. If I promise 5e discount and the systeme I use give only 4.5€ discount due to miscalculation of taxes, I am in trouble regarding the law.

The system has to fulfill with merchant law and tax laws, fo

[2022-01-26 11:23] pmcpinto commented on #32219
@ilyasfoo the Abacus experiment was enabled a couple of days ago. Is everything working properly? Let me know if you're confident that we'll be able to release this in WC 6.2. Thanks

[2022-01-26 12:31] rjchow commented on #32268
The page at https://docs.woocommerce.com/document/activity-panels/ is no longer published, and leads to a 404

However, the screenshot at https://docs.woocommerce.com/document/home-screen/ still shows the older version without the activity panel, and is also missing reviews and stock.

I had trouble accessing the relevant pages on docs.woocommerce.com to make the necessary modifications, so I'm ju

[2022-01-26 13:06] webdados commented on #31729
I can confirm this issue.

<img width="1444" alt="Messages Image(3093484611)" src="https://user-images.githubusercontent.com/6853605/151166966-fd49b337-879e-43c5-adb9-5f4631fe34b1.png">

I'm running WooCommerce 6.2.0-rc.1 and WordPress 6.0-alpha-52640 on my development install and the notice happens here: https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/admin/clas

[2022-01-26 15:44] Luc45 commented on #31258
Howdy @lsinger, the tests passed fine for me locally. I believe this issue might have been solved already on https://github.com/woocommerce/woocommerce/pull/31120#issuecomment-975662848. I'll be closing this PR for now, but feel free to re-open it if you think it needs further actions. Thank you!

[2022-01-26 15:44] #31258 closed, assigned to Luc45

[2022-01-26 15:57] feastdesignco commented on #30228
Just a request before you push even the first version of this live - please ensure total compatibility with your own subscriptions and memberships add-ons.

[2022-01-26 16:28] feastdesignco commented on #30228
As someone who moved over to Shopify Plus a few years ago from a non-Wordpress platform (ZenCart), the reason we opted for it is because they have much tighter integrations with key ecom needs. Reports are all built right in. Many integrations are built into the platform rather than being nickel and dimed. The end-user experience (the people processing the orders) is simply more refined, and this

[2022-01-26 17:08] cristianozanca commented on #31729
I confirm the issue:

WooCommerce 6.2.0-rc.1
WordPress 6.0-alpha-52640

only WooCommerce plugin active

`Notice: Function add_menu_page was called incorrectly. The seventh parameter passed to add_menu_page() should be an integer representing menu position. Please see Debugging in WordPress for more information. (This message was added in version 6.0.0.) in /wp-includes/functions.php on line 5768`

[2022-01-26 18:38] MrJnrman commented on #31715
Turns out the issue was that the `GITHUB_REPOSITORY` workflow ENV variable wasn't being updated and always pointed to the `woocommerce/woocommerce` repository even when the intention was to test against another repository.

[2022-01-26 19:09] khag7 opened #31733 "Users who can "read_private_products" are not seeing private products in ajax search when adding products to orders from the back end"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When a user is creating an order from the back-end admin area they add products to the order by searching using product name. This works fine in most cases, but if a user does no

[2022-01-26 19:11] khag7 commented on #31733
I've been using the following filter for some years now to fix this bug
[code]

Yes the filter works fine, but it seems like enough time has passed that someone should've fixed this by now, so I figured I'd go ahead and share it here today.

[2022-01-26 19:12] aheckler commented on #31411
4630999-zen

[2022-01-26 19:18] glagonikas commented on #30228
@feastdesignco I'll have to disagree with a few of your points, because Shopify comes with hidden costs and/or limitations that simply increase the cost.

The price of $24k is for their starting package of Shopify+ and states

For a website like ours that needs to support 20k+ orders in 10-20mins (during peak times) and contains over a million orders, Shopify wouldn't come that cheap.

On top of t

[2022-01-26 20:33] KBRR11 commented on #27551
Is there already a way to get the product image in Line Items?

[2022-01-26 21:35] jasonpierson commented on #29465
We're also having this error.

Wordpress 5.9
Woocommerce 6.1.1

But it's happening on the server. Pantheon is our host. It started when we upgraded PHP from 7.3 to 8.0.

I was also able to fix it with the [titantwentyone#1](https://github.com/titantwentyone/woocommerce/pull/1) solution.

[2022-01-26 23:20] #31715 closed, assigned to MrJnrman

[2022-01-27 03:49] 0free opened #31735 "Path cannot be empty [wc-template-functions.php]"
https://github.com/woocommerce/woocommerce/blob/7395a4698bcc793f19d2ea680c7209ceea32a963/plugins/woocommerce/includes/wc-template-functions.php#L53

[code]

[2022-01-27 05:26] stormit opened #31736 "Scheduled Actions"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,

I'm having a problem with Scheduled Actions.

- Scheduled Date is set 0000-00-00 00:00:00 and it clones many actions. Please see this screenshot [https://prnt.sc/26jyi2k](ht

[2022-01-27 05:26] stormit opened #32189 "Scheduled Actions"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Hi,

I'm having a problem with Scheduled Actions.

- Scheduled Date is set 0000-00-00 00:00:00 and it clones many actions. Please see this screenshot [https://prnt.sc/26jyi2k](ht

[2022-01-27 06:48] ilyasfoo commented on #32219
@pmcpinto I've just tested it in [WC 6.2 RC](https://developer.woocommerce.com/2022/01/25/woocommerce-6-2-rc/) in both WPCOM and JN, I confirmed to be able to get treatment when the store is in `NZ` or `IE`. @moon0326 had also deployed the bridge changes yesterday to make sure the WCPay menu codes do not conflict.

I'm confident it's ready for release in 6.2

[2022-01-27 07:15] vedanshujain commented on #30228
@jurijc I replied to your comment on the blog post, but for completeness, IMO adding billing phone as one of the primary identifiers would be more work than just adding a column. Therefore, we should take it up as a separate project sometime down the line rather than picking it up with this one. wdyt?

We plan to ensure compatibility at least with popular extensions irrespective of whether it's ow

[2022-01-27 10:07] pmcpinto commented on #32219
@ilyasfoo thanks for the update. Were you able to verify that the event tracking is working as expected?
I'm trying to use the bookmarklet to get the treatment version, but it's not working 🤔

[2022-01-27 10:50] AnirudhBhat opened #31737 "[Mobile Payments] Add feature flag for In-Person Payments in"

[2022-01-27 10:51] #31737 closed, assigned to nobody

[2022-01-27 11:10] bluantinoo commented on #31364
hi @lanej0
forgive me a question, does the import contains also products taxonomies, including attributes?

[2022-01-27 11:24] andreDane opened #31738 "Possibility of refunding a larger quantity of the Order Item than ordered"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

We found the following issue with refund.
When partially refunding an order, it is possible to erroneously enter a larger quantity of product than is present in the order, as lon

[2022-01-27 11:53] andreDane opened #31739 "[Enhancement]: Add $item parameter to 'woocommerce_restock_refunded_item' hook"
### Describe the solution you'd like

Hi,

could you please consider **adding the `$item` parameter** to the [`'woocommerce_restock_refunded_item'`](https://github.com/woocommerce/woocommerce/blob/6.1.1/plugins/woocommerce/includes/wc-order-functions.php#L729) action hook?

We believe this is necessary to **uniquely identify the (product) order item being refunded**, because in the case of configu

[2022-01-27 12:23] ilyasfoo commented on #32219
@pmcpinto It's possible that your site may have attempted to get an assignment while not having the store's location set up yet, thus gets ineligible, and it's cached so changing store location would not immediately fix it. The cache is stored for 2 hours so you may try again after.

I find a reliable way to test this in JN is install WC 6.1 first, setup the store with NZ or IE, and then install 6

[2022-01-27 12:33] OllieJones opened #31740 "[Enhancement]: Performance: take advantage of clustered primary keys in new table designs."
### Describe the solution you'd like

As you develop your new tables, I urge you to read up on MySQL InnoDB clustered indexes.
https://dev.mysql.com/doc/refman/8.0/en/innodb-index-types.html

 In InnoDB, the whole table's data is stored behind the primary key. There's no separate table data structure. So, you can make the tables more performant by building a composite primary key that can be used

[2022-01-27 14:08] moory-se commented on #31740
At first, this (adding PK's of multiple columns, and adding UNIQUE constraints on the id) seems like a complex solution compared with keeping the primary key (on `id` in this case) and adding a regular index on the multiple columns (`status` and  `post_id` in this example).

From what I can tell, the writeup at plumisislandmedia uses primary keys for truly unique rows (such as `post_id, meta_id` i

[2022-01-27 15:06] kalonya opened #31742 "Password visibility show icon is not displayed on the toggled login form at the top of the checkout page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Password visibility show icon is not displayed on the toggled login form at the top of the checkout page.

![CleanShot 2022-01-27 at 18 02 51@2x](https://user-images.githubuserco

[2022-01-27 15:33] Hootie298 commented on #16620
New year but same old problem.  I've been struggling with this 'out of stock' bug for some time now and none of the above fixes or fiddles work for me.  I have a variable subscription product with 3 variations.  Each variation has 'manage stock?' set for each variation and a stock quantity > 0.  2 of the 3 variations show 'In Stock' and one shows 'Out of Stock' regardless of any editing of product

[2022-01-27 16:30] johnregan3 commented on #31451
Initial WIP PR issued for discussion.

[2022-01-27 16:40] pmcpinto commented on #32219
You're right. It was a caching issue. I just checked the JN site and was able to access the experiment.

[2022-01-27 16:52] joshuatf opened #32188 "Tracks on the backend should allow for easier testing"
### Is your feature request related to a problem? Please describe.
When testing we have a difficult time mocking track functionality.

### Describe the solution you'd like
Either a quick investigation into an easy solution or some function to more easily mock tracks during test.

### Describe alternatives you've considered
In a recent PR, I've explicitly returned a value from a function to show th

[2022-01-27 18:30] kerrianne42 opened #31746 "Missing Option: Save as Draft in Coupon Creation"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When creating a new coupon, there is no option to Save as Draft. To save a draft coupon, you must publish it, then you can change the publications status to draft.

### Expected

[2022-01-27 20:09] rjasdf commented on #31740
Since you are adding at least one new "meta" table, follow the pattern for it.  Please provide `SHOW CREATE TABLE` for the new tables and sample `SELECTs`; I will provide specific index suggestions.

To moory-se...  Don't focus on UNIQUE, focus on how the composite index provides all the necessary columns in the optimal order to make the lookup more efficient.  Also, note that `INDEX(status), INDE

[2022-01-27 20:25] Luc45 opened #31747 "Add troubleshoot guide to solve common issues when e2e tests fail locally"
E2E tests might fail to complete successfuly on the local development environment of a developer, while it works on the same branch for another developer.

We should write a troubleshoot guide with the most common issues and solutions when e2e tests are failing locally.

For instance, one good item to add to the troubleshoot is running `pnpm install --force` to make sure you pnpm installs fresh ve

[2022-01-27 20:30] Luc45 opened #31748 "E2E packages should behave the same when in the monorepo and package contexts"
When `@woocommerce/e2e-core-tests` is used in the monorepo and require code from one of the monorepo packages (`@woocommerce/e2e-environment`, `@woocommerce/e2e-utils`, `@woocommerce/api`), the code that is loaded is the one inside the `src` folder. However, when running these tests outside the monorepo context, the code that is executd from these packages are those that are inside the `build` or

[2022-01-27 21:57] joshuatf commented on #32188
There are some libraries here that would be useful in mocking out static methods or we could also create a wrapper around the tracks class and pass in instances, but I think both approaches bring some level of complication.

Instead, I think the best approach here is to keep logic of methods using tracks simple and return at a minimum a boolean response for testing purposes.

Closing this issue.

[2022-01-27 22:11] joshuatf commented on #32222
This issue still occurs.  It's likely related to preloaded data not being ready by the time the `Form` is initialized.

[2022-01-27 22:17] joshuatf commented on #32229
Just noting that this logic makes sense if the profiler is incomplete, but if they've completed until the last step, we would want to begin at store details again since it's possible to revisit the setup wizard after completion.

Going to keep this issue open since it could prove useful in helping users set up stores more quickly.

[2022-01-27 22:23] joshuatf commented on #32233
Removing `Needs triage`; this issue should remain open until the task list experiment is complete if we decide to keep it.  If we keep the old task list, this will still been to be fixed.

[2022-01-27 22:26] lanej0 commented on #31618
Right.  In the [screenshot I posted](https://github.com/woocommerce/woocommerce/issues/31618#issuecomment-1018735834) above, that's taken from checkout (what your customer would see).  I set up a coupon for $5 off, and it takes $5 off.

Is that not what you're experiencing?  Could you share a screenshot of what your checkout looks like with a coupon and taxes applied?

[2022-01-27 22:27] lil-ly commented on #31618
I have put 10 screenshots

[2022-01-27 22:30] lanej0 commented on #31618
Sorry, I'm not seeing any in this thread.  They might be getting lost through email.

[2022-01-27 22:52] lanej0 commented on #31364
Yes, it looks like it.  I clicked on a few different products from the import and they all have multiple attributes.  I am only seeing 3 different product categories (but the products all seem to be assigned).

[2022-01-28 00:08] #31710 closed, assigned to nobody

[2022-01-28 03:21] #31294 closed, assigned to nobody

[2022-01-28 03:22] #31657 closed, assigned to nobody

[2022-01-28 08:41] kaushikasomaiya opened #31749 "[Bug]: WP Admin notice for removing legacy coupon menu does not disappear after clicking "Remove legacy coupon menu" button"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The WP Admin notice for "Coupon management has moved" does not get dismissed by pressing the "Remove legacy coupon menu" button.

<img width="1142" alt="image" src="https://user-

[2022-01-28 08:41] kaushikasomaiya opened #32187 "[Bug]: WP Admin notice for removing legacy coupon menu does not disappear after clicking "Remove legacy coupon menu" button"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The WP Admin notice for "Coupon management has moved" does not get dismissed by pressing the "Remove legacy coupon menu" button.

<img width="1142" alt="image" src="https://user-

[2022-01-28 08:54] filipw-trafikbyran opened #31750 "PHP 8 issue in woocommerce_subcategory_thumbnail"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

the woocommerce_subcategory_thumbnail function in wc-template-functions.php (line 2611) gives an error for "Trying to access array offset on value of type bool on line 2618" if t

[2022-01-28 09:07] lil-ly commented on #31618
Attached is a pdf with all screenprint.

What I understand is the system is working with discount in the same way as products > As i set my products without VAT, the system wants the discount without VAT. Products and coupons are 2 really different things and should be handled in different ways.

Nobody in french woocommerce forum/ support is able to at least answer.

I have read the same problem

[2022-01-28 09:07] Dekadinious commented on #19441
Another quirk of WooCommerce that is not documented!

[2022-01-28 09:15] moory-se commented on #31740
@rjasdf I wasn't proposing `INDEX(status), INDEX(post_id)` but rather `INDEX(status, post_id)`. I.e a composite index.

I was not aware of the "2-step lookup", but it's for sure interesting! Thanks for clarifying :)

[2022-01-28 10:22] namirialdev opened #31751 "The woocommerce_order_status_completed_notification action works bad in version 6.0 or greater"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The follow piece of code works with Woocommerce 5.8 but not works with Woocommerce v.6.0 or greater. To try to debug the issue i found that you can instance an object of the clas

[2022-01-28 11:37] vedanshujain commented on #31709
hey @hajakutbudeen-dev,
So product shortcode won't automatically expand PHP parameters like you are doing. If you are looking to display all the products, then you don't need to pass any ID, it will do that by default. Otherwise, if you want to display only a subset of the product, I'd recommend that you assign those products a particular category or tag, and then use it in the shortcode. See this

[2022-01-28 11:37] #31709 closed, assigned to nobody

[2022-01-28 11:40] vedanshujain commented on #31656
@helgatheviking good catch. this does looks like an inconsistency that should be fixed.

[2022-01-28 11:51] narain1611 opened #31752 "Unable to extract API Keys from call back URL while authenticate the user from external app - PHP"
### Prerequisites

- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.
- [x] I have carried out troubleshooting steps and I believe I have found a bug.

### Describe the bug

 Hello

 I am trying to generate API keys through my PHP application and have been redirecting to my return URL with success = 1. According to the Woo REST API documentation: The

[2022-01-28 11:52] vedanshujain commented on #31620
Marking this as a bug, maybe we can find out a way to prevent that double triggering, but otherwise your solution and workaround looks good.

[2022-01-28 12:03] gglobalstep opened #31753 "[GlobalStep] For Twenty-Twenty Two theme, "Remember me" button displayed on top of "Log in" button instead of right side on "Login form" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty-Twenty Two theme, "Remember me" button displayed on top of "Log in" button instead of right side on "Login form" page.

### Expected behavior

For Twenty-Twenty Two th

[2022-01-28 12:03] vedanshujain commented on #31614
hey @wdm-janis

Everything in the screenshots looks correct and expected actually. You have configured the shop to display without taxes, that's why you are seeing `82.64` (at 21% tax, for gross price of 100, net price would be 82.64). To display including taxes, go to `WooCommerce -> Settings -> Tax` and configure the options `Display price in the shop` to `Including tax`. You might want to do th

[2022-01-28 12:03] #31614 closed, assigned to nobody

[2022-01-28 12:07] #31586 closed, assigned to nobody

[2022-01-28 14:27] rrennick commented on #31748
In places where the path is explicit I have used `build`. The `api` package is currently [`dist`](https://github.com/woocommerce/woocommerce/blob/trunk/packages/js/api/tsconfig.json#L6).

[2022-01-28 15:46] namiokuzono opened #31756 "Fatal error due to Automattic\WooCommerce\Proxies\LegacyProxy being null"
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

A few users reported the fatal error returned on their site due to the path .

The error in 2 different instances:

[code]

[code]

Reported:

https://wordpress.org/support/topic

[2022-01-28 16:43] lanej0 commented on #31618
Hi @lil-ly,

I think that responding through e-mail is removing any/all attachments.  If you [go here](https://github.com/woocommerce/woocommerce/issues/31618), you can see the conversation thread so far and drag/drop file attachments to a new comment.

[2022-01-28 17:22] wdm-janis commented on #31614
@vedanshujain Please see closer @swatipawarGS screenshots on the cart and settings. If you select on settings that you want to show price exclusive not inclusive. Settings are an upside-down. and sometimes settings change don't take effect of what you see on cart and checkout. All the time settings were worked fine for multiple woocommerce stores before. This bug is only on the new version.

[2022-01-28 19:28] Amoditer commented on #31492
Hello,

Could you tell me when can we get the solution to this problem? We need it so much because the problem does many manual works for us. Could you help me? Thank you

[2022-01-28 20:04] ethanclevenger91 commented on #31616
@mitchellkrogza Speaking specifically to the issue of multiple files vs a single file, any resources from a website secured with an SSL can be downloaded concurrently by the browser, so many small files rather than one big file is more performant.

[2022-01-28 21:10] jurijc commented on #30228
@vedanshujain thank you for feedback. I understand your plan make as less changes as possible in structure.

In the same time it's good starting point to see where it will be going and take some things now into account because later it would be to much work to do to alter again (and it will not happen probably - it's reality).

Regarding access to phone and email from blog post I think it's equal.

[2022-01-28 21:47] lewebsimple opened #31758 "Downloading revenue report leads to an empty CSV file"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Clicking the link to download the revenue report in the email sent leads to an empty CSV file.

### Expected behavior

I would expect the revenue data to be present in the CSV fi

[2022-01-29 03:28] Ferguson230 commented on #16565
@felixgoldstein @mikejolley Is it possible to change the default sorting on search results to popularity and not relevance using a hook or in functions.php of my child theme?

[2022-01-29 09:00] lil-ly commented on #31618
[pb woocommerce.pdf](https://github.com/woocommerce/woocommerce/files/7963340/pb.woocommerce.pdf)
@lanej0

[2022-01-29 10:38] kaushikasomaiya commented on #31749
Adding a note here: It is not likely a server cache issue. Because I noticed that the database column `wc-admin-coupon-page-moved` in table `wp_wc_admin_note_actions` was unactioned.

[2022-01-29 10:38] kaushikasomaiya commented on #32187
Adding a note here: It is not likely a server cache issue. Because I noticed that the database column `wc-admin-coupon-page-moved` in table `wp_wc_admin_note_actions` was unactioned.

[2022-01-29 19:18] newjie commented on #15969
I am facing the same issue. If a normal user places and pays for an order, `woocommerce_order_status_completed` won't fire.
However, if I go to backend and manually change an order's status from "on hold" to "completed" `woocommerce_order_status_completed` will fire. I check $wp_filter and can see that my custom function is successfully registered with the filter.
![image](https://user-images.gith

[2022-01-29 21:45] helgatheviking commented on #31656
@vedanshujain which things _should_ get cached? My guess is the one in the order data store is correct and the order item data store needs updating? Or is it the inverse?

[2022-01-30 00:14] siliconforks opened #31760 "woocommerce_order_tracking shortcode causes fatal error if a refund ID is entered"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The `[woocommerce_order_tracking]` [shortcode](https://woocommerce.com/document/woocommerce-shortcodes/) form does not verify that an order ID actually belongs to an order (rathe

[2022-01-30 05:17] thisissandip commented on #25243
Reported here: 4731282-zen | 33825482-hc

I am able to reproduce this with WooCommerce `6.1.1`

**All HTML tags** are accepted and saved when the product title is edited by user role - **` Admin`**:
<img width="781" alt="Markup 2022-01-30 at 10 28 05" src="https://user-images.githubusercontent.com/69596988/151687517-6769e30b-186d-4703-9aa6-388778928181.png">

**Only HTML Text Formatting** is saved

[2022-01-30 06:39] VSmithmedia opened #31761 "Updated Wordpress to 5.9 and WooCommerce to 6.1.1 and now can't reach pages"
I cannot create new posts or pages since I updated woocommerce 6.1.1 with wordpress 5.9 it tells me it can't reach wp-admin/post-new.php or wp-admin/page-new.php.  When I deactive woocommerce I can achieve the function so something in woocommerce is conflicting with new wordpress 5.9.  Please advise how to correct, ASAP.

[2022-01-30 08:41] ghost commented on #31709
Hello @vedanshujain,

Thanks for your replay. we need to display products based on country thats why we preferred  to go with ids instead of category. i think this issue about max. number of ids we pass into sql.
In class-wc-shortcode-products.php file line 572
we pass all arg into WP_Query like this:
$query = new WP_Query( $this->query_args );
here we pass all ids into "request" param as a SQL qu

[2022-01-30 12:35] bretweinraub commented on #15969
If my memory serves, I think I discovered that the callbacks where stack tracing.   Don't remember how I discovered it....

[2022-01-30 15:23] grig-23 opened #31762 "Not possible to bulk edit stock of variations within variable products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

It is not possible to bulk edit stock of variations within variable products. If "Manage stock" checkbox is ticked in the settings of a specific variation, and stock number is en

[2022-01-30 17:57] VSmithmedia opened #31763 "WooCommerce PayPal Payments & Conditional Discounts By Orion"
When I run a spend $100 Get $40 off cart promo, the PayPal Payments converts the discount to -40 and it wont process because PP can't process a negative amount.  This code needs to be fixed on the paypal payments code ASAP. Get this error:  [UNPROCESSABLE_ENTITY] The requested action could not be performed, semantically incorrect, or failed business validation. https://developer.paypal.com/docs/ap

[2022-01-30 18:30] themycogrow commented on #31651
I added a new product and set it to 28 stock. I purchased it and now it says -4. Every time I set it back to 28 and repurchase it will say -5, then next time -6. This is really hurting my business. I'm not sure what to do
![Screenshot 2022-01-30 120645](https://user-images.githubusercontent.com/97856016/151712419-87da53ec-d864-40cd-90b2-81f6b1ff45e9.jpg)
![Screenshot 2022-01-30 120520](https://use

[2022-01-30 18:37] themycogrow commented on #31651
https://user-images.githubusercontent.com/97856016/151712763-f1da9c08-9cd3-4528-9031-89f81f246019.mp4

[2022-01-30 18:38] themycogrow commented on #31651
`
### WordPress Environment ###

WordPress address (URL): https://www.themycogrow.com
Site address (URL): https://www.themycogrow.com
WC Version: 6.1.1
REST API Version: ✔ 6.1.1
WC Blocks Version: ✔ 6.5.2
Action Scheduler Version: ✔ 3.4.0
WC Admin Version: ✔ 3.0.3
Log Directory Writable: ✔
WP Version: 5.9
WP Multisite: –
WP Memory Limit: 768 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US
External

[2022-01-31 04:25] rjchow commented on #32281
Some improvement on the cohesiveness and fluidity of our frontend user interface could improve the perceived quality of woocommerce-admin by users, so I believe there is long term value in this piece of work

Started preliminary scoping on this at p90Yrv-2FJ-p2

[2022-01-31 06:57] 0free commented on #31735
Also ` get_404_template()` is returning empty path.
Theme: Hello-Elementor + Elementor

[2022-01-31 08:29] mlbd commented on #26422
I'm having the same issue. Tried most of the solutions shared above but nothing worked for me.

But after tweaking this way finally worked :)

Here's the piece of code if anyone needs it. I just called manually WooCommerce calculation function to force run `woocommerce_before_calculate_totals` one more time when `woocommerce_before_mini_cart_contents` hook loaded.

[code]

[2022-01-31 10:36] Juliafaqir opened #31764 "Woocommerce Filter by Price widget not working!"

[2022-01-31 11:32] jacauc opened #31765 "PHP Warning: Undefined array key"
**Prerequisites (mark completed items with an [x]):**
- [X] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [X] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
Tons of issues reported in my access logs as follows. This happe

[2022-01-31 11:58] pmcpinto commented on #32258
Hey @Roslynlavery here's the [link](https://github.com/woocommerce/woocommerce-admin/blob/main/docs/features/payment-gateway-suggestions.md) to the documentation created by @joshuatf with all the instructions required for getting started.
Feel free to reach out in case you have any questions. Thanks!

[2022-01-31 13:06] swatipawarGS commented on #31651
Hi @themycogrow ,

Thank you for the updated information. but we are unable reproduce the issue using the given updated information on our end with WooCommerce 6.1.1 version and nd WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/151751318-6b14bb5e-7890-4570-b04e-521cd68cf81d.mp4

Please provide us more detailed and any additi

[2022-01-31 14:35] vedanshujain commented on #31599
We are currently considering following migration policy, documenting here for more feedback.

### Migration policy

Migration for this project is going to be more complex than what we would do in normal circumstances.

In this case, feature for merchants to not only opt-in to the custom tables but also opt-out whenever they want is necessary. This ability to opt-out should instill more confidence

[2022-01-31 14:41] vedanshujain opened #31766 "[COT] Implement basic sync functions to move data into wc_order custom table"
This issue scopes implementing basic functions that we will use to migrate data into wc_order custom table from wc_posts.

Depends on #31596

Contributes towards #31599

[2022-01-31 14:43] vedanshujain opened #31767 "[COT] Implement sync function to move data into wc_addresses table"
Similar to  #31766
Contributes towards #31599

[2022-01-31 14:44] vedanshujain opened #31768 "[COT] Implement sync function to move data into wc_order_meta table"
Similar to and depends on #31766

Contributes towards #31599

[2022-01-31 14:47] vedanshujain opened #31769 "[COT] Implement function to query non-migrated data"
To assure data integrity, we would need to implement functions that can tell if there are orders data wp_posts table that is not migrated yet, or if the migration is outdated for the custom order table. This function will be used to support re-entry, opt-in/opt-out, etc features.

Contributes towards #31599

[2022-01-31 14:51] vedanshujain opened #31770 "[COT] Implement static UX to check data migration progress"
The focus is to implement the backend with a functional UX. We will add a progress bar, time remaining, etc as part of a different issue

Towards #31599

Depends on #31769

[2022-01-31 14:55] vedanshujain opened #31771 "[COT] Implement UX to pause/resume data sync"
If shops are under high load, then we shouldn't burden them further with data syncs in the background. This issue scopes adding UX to implement pause/resume capability.

Depends on #31770

Towards #31599

[2022-01-31 15:16] peterfabian commented on #31766
The function gets the order number and migrates the data (inserts it into the new table), this includes testing to ensure data is compatible, etc.

It should also handle failure correctly by throwing an exception.

[2022-01-31 15:28] peterfabian commented on #31768
Particular columns are going to be determined by the database schema RFC, but we can start the implementation before then.

[2022-01-31 15:29] vedanshujain commented on #31768
We should draw from a central list of properties that are captured by core tables, and include ones here that are not captured.

[2022-01-31 15:47] peterfabian commented on #31769
Only id mismatches or update timestamp mismatches in this issue, we need to find a performant way to compare the tables.

Maybe later/nice to have would be to add checksums.

[2022-01-31 15:59] rlightventes opened #31772 "email do not do from the WooCommerce website"
we have website gransgoodness we are facing issue with email

[2022-01-31 16:03] amElnagdy opened #31773 "When Hide out of stock items from the catalog is enabled, product category pages show incorrect results"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you enable this option under WooCommerce → Settings → Products → Inventory: `Hide out of stock items from the catalog`, out of stock products will count towards the showing

[2022-01-31 16:10] amElnagdy commented on #31773
Ref: 4735427-zen

[2022-01-31 17:21] peterfabian commented on #30228
@feastdesignco
Thanks for sharing your perspective, you raised a lot of valid points. I'd just like to add to what @vedanshujain said above that custom tables for orders is one project of the core team, there are other teams that work hard on improving and simplifying the store management experience and one does not exclude the other. I see it actually as quite the opposite: if we provide a solid

[2022-01-31 17:33] richy opened #31774 "Add new REST API fields for sending state and country names instead of codes for billing and shipping addresses"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

_I was told to submit this here, after opening a thread on the WooCommerce Forums here:

https://wordpress.org/support/topic/royal-mail-click-drop-integration-fields-incorrect/_

[2022-01-31 17:37] peterfabian commented on #29465
@titantwentyone would you like to create a PR against the WC repository so that we can merge it and you get the fame and recognition that comes with contributing to WC core? :)

[2022-01-31 18:25] MrJnrman opened #31776 "Add support for order notes to the api package"

[2022-01-31 18:27] MrJnrman commented on #31776
Order notes will be a child model to the orders Model

[2022-01-31 18:34] MrJnrman opened #31777 "Spike: Research and document if if the @woocmmerce/api package Product models are up to date with the WooCommerce API"

[2022-01-31 18:38] MrJnrman commented on #31647
I went ahead and broke this down into a few issues below:
- [ ] [Product Models](https://github.com/woocommerce/woocommerce/issues/31777)

[2022-01-31 21:01] joshuatf commented on #32234
I've encountered this issue before in certain hosting environments.  IIRC the issue was that the installation workflow bailed after creating the folder, but permissions had not been properly set by the host.

In this event, there was an empty folder with the plugin name, so there's not a plugin to activate, but this also prevented installation of a new plugin at this path.

I'm not sure if this tr

[2022-01-31 21:08] odirlon opened #31778 "[Enhancement]: offset item on shortcode"
### Describe the solution you'd like

Would it be possible to add offset item on shortcode?

### Describe alternatives you've considered

Today we give display none on the first items via CSS to be able to put a banner in the middle of the ilstage, but it doesn't look fancy.

### Additional context

We have divided the home page into 2 sessions of featured products, hence these sessions are divide

[2022-01-31 21:18] TheRadicalDreamer commented on #30375
@vedanshujain @rodelgc Do you know who can correct this little issues i just mentioned?

[2022-01-31 22:17] ObliviousHarmony commented on #31718
Hi @kritika36,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2022-01-31 22:38] ObliviousHarmony commented on #31735
Hi @SaifAlSubhi,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2022-01-31 22:41] ObliviousHarmony commented on #31736
Hi @stormit,

Thank you for reporting the issue. This issue seems to relate to a scheduled action in WooCommerce Admin, which is being developed in another repository: [woocommerce/woocommerce-admin](https://github.com/woocommerce/woocommerce-admin).

I am going to move your bug report there so that the right team could take a look further.

[2022-01-31 22:41] ObliviousHarmony commented on #32189
Hi @stormit,

Thank you for reporting the issue. This issue seems to relate to a scheduled action in WooCommerce Admin, which is being developed in another repository: [woocommerce/woocommerce-admin](https://github.com/woocommerce/woocommerce-admin).

I am going to move your bug report there so that the right team could take a look further.

[2022-01-31 22:44] ObliviousHarmony commented on #31742
Hello @kalonya,

Has this worked previously, or would you say that this is a feature request for the theme? Looking at your HTML screenshot, it doesn't appear that there's anything present for a "show password" toggle.

[2022-01-31 22:51] ObliviousHarmony commented on #31756
Hi @namiokuzono,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/29465. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2022-01-31 22:51] #31756 closed, assigned to nobody

[2022-01-31 22:52] ObliviousHarmony commented on #31761
Hi @VSmithmedia,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2022-01-31 22:54] ObliviousHarmony commented on #31763
Hi @VSmithmedia,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues l

[2022-01-31 22:56] ObliviousHarmony commented on #31772
Hi @rlightventes,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues

[2022-02-01 01:09] pinguluk commented on #23644
Missed that too, thanks.

[2022-02-01 01:36] 1000camels commented on #32194
Rather than just have an option for removing Zero Dollar Orders, would it not be better to provide a hook to filter orders for any number of reasons?
I am looking for way to filter orders with specific meta_data, or ones with children orders or simply to provide a list of order ids that match a specific criteria. I have not been able to figure this out. I have tried to use woocommerce_analytics_or

[2022-02-01 01:37] lanej0 commented on #31618
Hi @lil-ly,

Thanks!  I can see what's going on there.  I can't reproduce it on my end though -- when I set a $5 off coupon, it's always a $5 off coupon.  It doesn't ever vary.

There might be a conflict going on here between this coupon and another.  I noticed that you have the `WooCommerce Group Coupons: par itthinx – 1.21.0` plugin installed as well -- which may be causing a conflict.  I don't

[2022-02-01 02:51] mattsherman commented on #32208
@louwie17 What's the status of this one? Is it still "In Progress"?

[2022-02-01 04:34] becdetat commented on #32188
I don't think returning a magic value for testing purposes only is a good solution to this. Having a tracks wrapper class that gets injected (we have prior art - see https://github.com/woocommerce/woocommerce-admin/blob/main/tests/remote-inbox-notifications/plugins-activated-rule-processor.php) is much cleaner and maintainable in the long run.

There is going to be a cost up front in converting un

[2022-02-01 05:11] joshuatf commented on #32188
@becdetat I don't see any tracks wrappers in the file you linked to.  Or are you just referring to the dependency injection in those files?

I'm not opposed to moving towards dependency injection for testing/decoupling purposes, but it's definitely worth keeping in mind that we heavily rely on singletons and this will result in a decent amount of refactoring should we go this route.

[2022-02-01 09:38] lil-ly commented on #31618
It doesn’t resolve the issue. Always the same…

In your setup do you write your product including taxes or excluding taxes (as taxes applies after) ?

[2022-02-01 09:38] lil-ly commented on #31618
Reopen as nothibg has been done

[2022-02-01 09:48] BackuPs opened #31781 "Notice: Function add_menu_page was called incorrectly. The seventh parameter passed to add_menu_page() should be an integer representing menu position. Please see Debugging in WordPress for more information"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In wordpress 6.0 i get this notification error on the latest woocommerce beta running

Notice: Function add_menu_page was called incorrectly. The seventh parameter passed to add_

[2022-02-01 09:52] BackuPs commented on #31781
found a similar post. I was looking at the issue titles only. Anyway the solution is easy to apply.

[2022-02-01 10:18] swatipawarGS commented on #31764
Hi @Juliafaqir ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/151922372-7e859090-b250-4b69-9ca0-82851e0431ab.mp4

Please provide us more detailed and any add

[2022-02-01 10:20] swatipawarGS commented on #31762
Hi @grig-23 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/151923848-06a801ab-6a59-48f4-bd25-a879156037e4.mp4

Priority of this issue will be assigned shortly

[2022-02-01 10:22] swatipawarGS commented on #31760
Hi @siliconforks ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/151926416-7306bfa6-b6b9-4874-a78e-5adc543b2a6f.mp4

Priority of this issue will be assigned sho

[2022-02-01 11:16] ghost commented on #28282
hc-33093458 also had this issue. The workaround fixed it.

[2022-02-01 12:29] vedanshujain commented on #31752
hey @narain1611

I tried out the flow and was not able to reproduce the issue, callback URL came with params like it should. Generally, when request to callback URL fails, we also raise an error, are you able to see any error in the logs.

To confirm, I started the request an in incognito window, and saw connection page:

![Screenshot 2022-02-01 at 5 58 08 PM](https://user-images.githubusercontent

[2022-02-01 12:47] rmorse opened #31782 "Alignment issue in leaderboard ellipsis menu item"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In latest version - 6.1.1

Analytics -> Leaderborder -> Ellipsis Menu -> Rows per table

Alignment looks incorrect:
![image](https://user-images.githubusercontent.com/853547/1519

[2022-02-01 12:47] rmorse opened #32186 "Alignment issue in leaderboard ellipsis menu item"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In latest version - 6.1.1

Analytics -> Leaderboards -> Ellipsis Menu -> Rows per table

Alignment looks incorrect:
![image](https://user-images.githubusercontent.com/853547/1519

[2022-02-01 12:49] rmorse commented on #31782
** I know this is a tiny issue, I see little things like this quite often - is worth me opening reports for everything I see when developing or are little things like this not worth it (/will be picked up anyway) ?

[2022-02-01 12:49] rmorse commented on #32186
** I know this is a tiny issue, I see little things like this quite often - is worth me opening reports for everything I see when developing or are little things like this not worth it (/will be picked up anyway) ?

[2022-02-01 12:59] louwie17 commented on #32208
Not anymore now that cooldown is over, I unassigned myself and moved it to the Product backlog (not a 100% sure if that is the right column).

[2022-02-01 13:28] rodelgc opened #31786 "Twenty Twenty-Two theme: category names overlap each other when using the `[product_categories]` shortcode"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When you use the `[product_categories]` shortcode to show the list of categories on a page, you'll notice that the category names overlap each other instead of being spaced out n

[2022-02-01 13:38] swatipawarGS commented on #31758
Hi @lewebsimple ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screenshot for reference :

![#31758](https://user-images.githubusercontent.com/94531721/151934533-ec42c978-5f6e-4469-ae05-681c53e7ed21.jpg)

Please provide us more detailed

[2022-02-01 13:40] swatipawarGS commented on #31746
Hi @kerrianne42 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screenshot for reference :

![#31746](https://user-images.githubusercontent.com/94531721/151936201-61f110eb-baa4-4f99-9d15-6ae23cc60bc6.jpg)

Priority of this issue will be as

[2022-02-01 13:41] swatipawarGS commented on #31738
Hi @AndreDane ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/151938730-3e0daae3-7278-4667-a166-ce744fd6c91b.mp4

Priority of this issue will be assigned shortl

[2022-02-01 13:42] narain1611 commented on #31752
Hi @vedanshujain
Thank you for your reply.

I just tried in incognito but again didn't get any response and even I didn't get any error it redirects me on my return url with success 1.
Could you please help me out if we need to enable or disable any setting from WooCommerce admin interface?
or could you please share the code how to handle the callback url?
here is my code to retrieve the generated

[2022-02-01 14:01] MrJnrman commented on #31777
Moving this ticket to our private repo since it doesn't involve any code changes

[2022-02-01 14:01] #31777 closed, assigned to nobody

[2022-02-01 14:15] MrJnrman opened #31789 "Add support for the customers endpoint to the api package"

[2022-02-01 14:19] MrJnrman opened #31790 "Add support for the product category endpoint to the api package"

[2022-02-01 14:19] kalonya commented on #31742
Hi @ObliviousHarmony,

Didn't notice before, but it doesn't work on any theme. The codes below don't seem to apply to that field because of the field's HTML structure.

https://github.com/woocommerce/woocommerce/blob/306a9ca34d37e64170cd510805473b02409a0687/plugins/woocommerce/legacy/js/frontend/woocommerce.js#L82-L86

I think adding a `woocommerce-Input` class to https://github.com/woocommerce/wo

[2022-02-01 14:22] rodelgc opened #31791 "Twenty Twenty-Two theme: checkbox for the "I would like to receive exclusive emails..." option should be located at the left side of the label"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

The checkbox for the "I would like to receive exclusive emails..." option seems to be awkwardly placed near the end of the label.

### Expected behavior

Checkbox should be at th

[2022-02-01 14:23] MrJnrman commented on #31790
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#product-category-properties

[2022-02-01 14:24] MrJnrman commented on #31789
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#customers

[2022-02-01 14:24] MrJnrman commented on #31776
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#order-notes

[2022-02-01 14:26] MrJnrman opened #31792 "Add support for the product tag endpoint to the api package"

[2022-02-01 14:28] MrJnrman commented on #31792
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#product-tags

[2022-02-01 14:30] MrJnrman opened #31793 "Add support for the product attributes endpoint to the api package"

[2022-02-01 14:31] MrJnrman commented on #31793
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#product-attributes

[2022-02-01 14:32] MrJnrman opened #31794 "Add support for the product attribute terms endpoint to the api package"

[2022-02-01 14:33] MrJnrman commented on #31794
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#product-attribute-terms

[2022-02-01 14:34] MrJnrman opened #31796 "Add support for the product reviews endpoint to the api package"

[2022-02-01 14:35] MrJnrman commented on #31796
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#product-reviews

[2022-02-01 14:42] dexternew1 opened #31797 "woocommerce price filter group products"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Currently seems to a bug in that the woocommerce price slider does not work for grouped products.

For instance I may want to hide any simple products that are related to a group

[2022-02-01 15:25] peterfabian commented on #31751
Hi @namirialdev !

The fact that the class was included in WC 5.8 was a side effect of how WC Admin (the JS admin experience we're building here: https://github.com/woocommerce/woocommerce-admin) was checking whether to display its content or not. The change was caused by this PR: https://github.com/woocommerce/woocommerce-admin/pull/7503

However, you can't really rely on the class being included

[2022-02-01 15:25] #31751 closed, assigned to nobody

[2022-02-01 15:42] Peytoria opened #31800 "[Enhancement]: Order Creation API Documentation clarity"
### Describe the solution you'd like

In the docs on order creation, `meta_data` is listed as an option for order creation. When I used it it returns a 400 error "meta_data" is an invalid paramter. It worked when I changed `meta_data` to simple `meta` in my API call.

### Describe alternatives you've considered

Docs should reflect how data would be submitted, or give an explanation that the reque

[2022-02-01 15:44] #31800 closed, assigned to nobody

[2022-02-01 15:46] MrJnrman opened #31801 "Add support for the shipping classes endpoint to the api package"

[2022-02-01 15:47] MrJnrman commented on #31801
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#product-shipping-classes

[2022-02-01 15:51] MrJnrman opened #31802 "Add support for the tax classes endpoint to the api package"

[2022-02-01 15:51] MrJnrman commented on #31802
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#tax-classes

[2022-02-01 15:52] MrJnrman opened #31803 "Add support for the tax rates endpoint to the api package"

[2022-02-01 15:53] MrJnrman commented on #31803
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#tax-rates

[2022-02-01 15:58] MrJnrman opened #31804 "Add support for webhooks endpoint to the api package"

[2022-02-01 15:59] MrJnrman commented on #31804
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#webhooks

[2022-02-01 16:02] MrJnrman opened #31805 "Add support for shipping zones endpoint to the api package"

[2022-02-01 16:03] MrJnrman commented on #31805
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#shipping-zones

[2022-02-01 16:05] MrJnrman opened #31806 "Add support for shipping zone methods endpoint to the api package"

[2022-02-01 16:07] MrJnrman commented on #31806
Link to API docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#shipping-zone-methods

[2022-02-01 16:07] MrJnrman opened #31807 "Add support for shipping methods endpoint to the api package"

[2022-02-01 16:08] MrJnrman commented on #31807
Link to API Docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#shipping-methods

[2022-02-01 16:09] MrJnrman opened #31808 "Add support for shipping zone locations endpoint to the api package"

[2022-02-01 16:10] MrJnrman commented on #31808
Link to APi docs: https://woocommerce.github.io/woocommerce-rest-api-docs/#shipping-zone-locations

[2022-02-01 16:51] VSmithmedia commented on #31763
When I run a spend $100 Get $40 off cart promo, the PayPal Payments converts the discount to -40 and it wont process because PP can't process a negative amount. This code needs to be fixed on the paypal payments code ASAP. Get this error: [UNPROCESSABLE_ENTITY] The requested action could not be performed, semantically incorrect, or failed business validation. https://developer.paypal.com/docs/api/

[2022-02-01 16:57] joshuatf commented on #28603
Just noting that [this branch of the test helper plugin](https://github.com/woocommerce/woocommerce-admin-test-helper/pull/25) may be useful for debugging this event since it's a backend event.

[2022-02-01 17:01] VSmithmedia commented on #31761
Describe the bug
I updated woocommerce plugin from 6.1.0 to 6.1.1 and the wordpress core to 5.9 to have it updated to the most recent versions.  Upon doing so when I want to create a new post or new page I get the error "Hmmm… can't reach this pageIt looks like the webpage at https://caherbanlife.com/wp-admin/post-new.php might be having issues, or it may have moved permanently to a new web addres

[2022-02-01 17:02] VSmithmedia commented on #31761
Please not I cannot edit posts with the wordpress default editor either, I can however edit with elementor for already created posts, but can't create new posts or pages whatsoever.

[2022-02-01 18:30] themycogrow commented on #31651
Man, I have no idea what is going on.

[2022-02-01 18:41] mike-smrst opened #31809 "Tax being collected for states outside of Nexus"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

Taxes on a purchase have been collected outside of the Nexus state. So far this has happened on one purchase.

- When checking WooCommerce > Settings > Tax > Standard rates, taxe

[2022-02-01 21:41] CUBICinfinity opened #31810 "[Enhancement]: Clarify Sale End Dates + Maybe Change Behavior"
### Describe the solution you'd like

TL;DR: There needs to be some wording that clarifies sale schedule end dates. I'm also being pedantic in suggesting that the sale should run until the end date rather than through it.

This was initially posted here: https://wordpress.org/support/topic/feature-clarify-sale-end-dates-maybe-change-behavior/

I pretty frequently forget whether the sale end date f

[2022-02-01 22:39] lanej0 commented on #31618
I tried to match your setup as closely as I could.

Coupon:

<img width="1084" alt="Screen Shot 2022-02-01 at 2 28 58 PM" src="https://user-images.githubusercontent.com/80276/152063287-27d8627a-2628-4552-9ae0-71cdf97bf7ab.png">

Tax setup:

<img width="748" alt="Screen Shot 2022-02-01 at 2 31 30 PM" src="https://user-images.githubusercontent.com/80276/152063333-10310bab-92ab-463b-97f4-76fc06125ba7

[2022-02-01 22:43] #31809 closed, assigned to nobody

[2022-02-01 22:57] 1000camels opened #32185 "Inability to bypass OrdersScheduler Import"
### Is your feature request related to a problem? Please describe.
It is not possible to prevent select orders from being added to the analytics tables. There are any number of reasons this is useful, but specifically there is a request (woocommerce/woocommerce#32194) that provides one example.

### Describe the solution you'd like
A simple hook to allow the bypassing for a particular order would

[2022-02-01 22:58] agraddy commented on #25473
If you end up at this issue from searching like me, here are a few links that better explain what is going on and how to resolve it:
https://github.com/woocommerce/woocommerce/issues/17823
https://stackoverflow.com/questions/55905026/tm-symbol-image-instead-of-unicode-special-character-in-woocommerce-emails/55907688

[2022-02-01 23:11] barryhughes commented on #25803
Going to close this: I agree with @juliaamosova that the described behavior is expected.

As [described here](https://woocommerce.com/document/managing-products/), setting the catalog visibility to hidden means that the product will be _only visible on the single product page – not on any other pages ..._ but it does not remove it from sale.

What you could do in this sort of scenario in future, t

[2022-02-01 23:11] #25803 closed

[2022-02-01 23:15] barryhughes commented on #25873
Closing in favor of #29574 (see also the recent discussion in #29575). I think this will ultimately address the main concern here, but let me know if I'm mistaken and we can re-evaluate.

[2022-02-01 23:15] #25873 closed

[2022-02-01 23:50] apmwebdev commented on #30172
Another customer running into this issue in 4741301-zd-woothemes

[2022-02-02 02:40] AashikP commented on #31763
Thank you for getting back to us with those details, @VSmithmedia .

I see that you're specifically using [PayPal Payments](https://woocommerce.com/products/woocommerce-paypal-payments/?aff=10486&cid=1131038) on your store, and also mentioned that in the original report.

I am adding the `needs developer feedback` label to this issue so that the Core team can move this to the right repo.

[2022-02-02 02:56] AashikP commented on #31761
Hi @VSmithmedia ,

Thank you for raising the issue. However, I can’t reproduce it on my end.

1. I already had a local site with the same WordPress and WooCommerce versions as you reported:
    ![https://d.pr/i/qMsNbB+](https://d.pr/i/qMsNbB+)
2. I then updated both WooCommerce and WordPress on the local site
3. I could create a new post without any issues: https://d.pr/i/AagNod

From the System S

[2022-02-02 07:03] kanlukasz commented on #31542
@rodelgc  Unfortunately, almost a month has passed and there is still no prioritization

[2022-02-02 08:41] lil-ly commented on #31618
PRICE ARE EXCLUSIVE OF TAXES not inclusive. It is written since the begining and you’ve mentionned it the first time. Your email on 12/01 :

1.	Prices specified exclude VAT (taxes are applied/added at checkout).

I’ve tried it on local version of my site.

If you set price inclusive VAT as you’re showing hereunder the coupons is taken as including VAT

If you set exclusive VAT the systems ADDS the

[2022-02-02 08:42] lil-ly commented on #31618
[pb2.pdf](https://github.com/woocommerce/woocommerce/files/7984817/pb2.pdf)

[2022-02-02 09:54] pmcpinto opened #32184 "Store profiler - business features step: install extensions in the background"
**Description:** this issue is a spin-off of woocommerce/woocommerce-admin#6988. About 17% of users drop the store profiler flow in the business features step. Although the conversion rate is relatively healthy, it is below the other profiler steps. They are usually around 98% conversion rate.

One of our assumptions is that users are having issues while the extensions are being installed, as it w

[2022-02-02 09:55] pmcpinto commented on #32184
@mattsherman @joshuatf @jarekmorawski I'd love to have your feedback regarding this topic.

[2022-02-02 10:49] tomasztunik commented on #28693
Still present in WC 6.2

Also there is a possible gap when using Product Search block to find a hidden product. Searching using the Product Search block will have it hidden in results but will take you to WordPress search results page which has regular WordPress search input on it possibly exposing hidden products on consecutive search.

[2022-02-02 12:09] pmcpinto commented on #29731
@becdetat is it possible to include this in cycle 21? This was on hold due to the WCPay focus, but now we're back to the Start work and it would be important to evaluate the adoption of this widget. Ideally, we should release it in 6.3. Thanks

[2022-02-02 12:14] MKJJJ opened #31812 "Coupon calculation is wrong for manual orders"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

This is a similar issues as postet [here.](https://github.com/woocommerce/woocommerce/issues/22520). Coupon are not calculated correctly if applied to manual orders. Please see t

[2022-02-02 12:45] swatipawarGS commented on #31774
Hi @richy ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screenshot for reference :

![#31774](https://user-images.githubusercontent.com/94531721/152110117-dba88070-42ff-4bb8-9e4b-b2dbccdcb5d9.jpg)

Please provide us more detailed and a

[2022-02-02 12:50] swatipawarGS commented on #31728
Hi @pipin3000 ,

Thank you for taking the time to report this bug, we really appreciate your help. We are able to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/152110790-1431a8b8-e3f3-475f-a160-19fd286d2fdd.mp4

Priority of this issue will be assigned shortl

[2022-02-02 12:51] swatipawarGS commented on #31730
Hi @thedigitalhubau ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.1.1 version and WordPress 5.9 version.

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/152121912-e3e7e732-d5a5-4e7b-a0f3-94230ad68a0d.mp4

Please provide us more detailed and an

[2022-02-02 13:07] richy commented on #31774
Hi @swatipawarGS,
I've added 3 photos to the end of this post.

I have just purchased an item from our own website, using the following:

John Smith
123 Test Street
Athens
Attica
10673
Greece

(WooCommerce v6.1.1, WordPress 5.9, Storefront theme)

I immediately check in Royal Mail's Click+Drop admin portal for our new orders, which brings the databased information for the order in, and it wrongly

[2022-02-02 13:37] louwie17 commented on #32185
Hi @1000camels, thanks for submitting this feature request, these filters do seem nice to have, we will discuss this among the team to see when we could work on this.

My initial thought would be to add a filter either in the `import` function that updates the analytics tables -> https://github.com/woocommerce/woocommerce-admin/blob/main/src/Schedulers/OrdersScheduler.php#L160
Or in one of the `sy

[2022-02-02 14:16] knittingtoday commented on #25937
Same issue. If I modify the inventory on the product page to a positive number, the backorder message  on the existing order does not go away even though inventory is now available to ship. I can, however, edit the item and remove the backorder meta data. It seems like it should go away automatically upon adjusting inventory. And, when I edit the meta data to remove the backorder message, there is

[2022-02-02 14:54] gglobalstep opened #31813 "[GlobalStep] For Atomic Site, "Select terms" input text appears truncated for "Variable products > Attributes > Values" on "Edit Product" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic Site, "Select terms" input text appears truncated for "Variable products > Attributes > Values" on "Edit Product" page.

### Expected behavior

For Atomic Site, "Selec

[2022-02-02 15:09] joshuatf commented on #32184
I'm definitely in favor of doing this and I think this will be a great improvement to have in the setup wizard flow.  Seeing how long wait times could be on this step was a little shocking and definitely something I think we should prioritize.

While it's obviously much quicker than if a user was to install the plugins one by one, it's detrimental to the user experience in the wizard.

The async p

[2022-02-02 15:30] gglobalstep opened #31814 "[GlobalStep] For Twenty-Twenty Two theme, "Product image" is overlapped while magnifying on "Product" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty-Twenty Two theme, "Product image" is overlapped while magnifying on "Product" page.

### Expected behavior

For Twenty-Twenty Two theme, "Product image" should be prop

[2022-02-02 15:51] ralucaStan opened #31815 "Product variations created via CSV import have the "Uncategorized" product category assigned"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When requesting product information from the WC Rest API, if the product is a variation, and was imported via CSV, the categories key has the value below:
[code]

### Expected be

[2022-02-02 15:54] pmcpinto opened #32183 "Store setup - introduce an additional flow to add store location"
**Description:** collecting the store location right at the beginning of the new user experience is critical, as payments, shipping, and taxes recommendations are tailored according to the store country. About 25% of new users skip the store profiler. Among them, less than 2% add the store location during the first 3 days of activity through settings or the shipping/tax tasks.
When the user doesn'

[2022-02-02 15:55] pmcpinto commented on #32183
@jarekmorawski how do you think we could solve this?

[2022-02-02 16:35] pacmanito commented on #30799
Actually, it's a very old bug, some plugins even sell the fix in their paid version (e.g. Product Feed PRO), I hope this will be fixed finally.

[2022-02-02 16:38] lanej0 commented on #31618
I've tried both, as you can see in [the screenshot here](https://github.com/woocommerce/woocommerce/issues/31618#issuecomment-1018735834)

[2022-02-02 16:50] lil-ly commented on #31618
Your screenshot is about 2 different % of taxes.
There's no screenshot where you try the same product, the same coupon but change the tax options on product : exclusive or inclusive of taxes.
Just try it you will see the system react as if the coupons were a product which is not right regarding the law.
I don't know how to say it I am repeating the same thing since 3 weeks. Woocommerce is such a n

[2022-02-02 17:11] richy commented on #31774
@swatipawarGS, Ok, so further to above, this is what's in my MySQL database.. this definitely looks like WooCommerce is saving data wrong and there's some sort of interpretation problem? Quite eager to get this issue resolved as it is causing problems daily now and getting to the point of manually editing each order for Greece/Spain etc or when we notice the single character state/county coming th

[2022-02-02 18:00] lanej0 commented on #31618
I got it.  It's a specific combination of settings, but I FINALLY managed to reproduce this issue.  I really appreciate your patience and persistence with this issue @lil-ly 🙌🏼 .

For the sake of reproduction:

1. Set the tax settings this way.  The important toggles appear to be "enter prices exclusive of tax" but "display prices including tax" during cart/checkout.

<img width="672" alt="Screen

[2022-02-02 18:57] lil-ly commented on #31618
Yes and ?

It just prooves that the coupons are managed the same way as the products but these are not the same legally speaking.

My patience has reached its limits.

De : Jonathan Lane ***@***.***>
Envoyé : mercredi 2 février 2022 19:01
À : woocommerce/woocommerce ***@***.***>
Cc : lil-ly ***@***.***>; Mention ***@***.***>
Objet : Re: [woocommerce/woocommerce] tax problem on coupons (Issue #3161

[2022-02-02 20:52] BBBSarah opened #31817 "No option for making orders on customer account"
There are 2 errors occuring:
1) We used to have an option to login as an administrator and make orders directly from our customer's accounts which is very helpful for when customers ask us to keep their card on file to make orders regularly for them. That disappeared a few weeks ago. What happened?

2) When making an order via the Woocommerce order page, I keep getting an error when I try to go to

[2022-02-02 22:02] 1000camels commented on #32185
Hi Louwie,

I explored this but found it not easy to use (or even helpful). At that
point in the hook, you have the results for the analytics. But when I look
at the results for orders, I see entries like this:

            [30] => Array
                (
                    [interval] => 2022-01-31
                    [date_start] => 2022-01-31 00:00:00
                    [date_start_gmt] => 202

[2022-02-02 22:57] joelclimbsthings commented on #32211
I was able to reproduce this as described. I haven't dived into the query, but it appears that there is some weirdness in how it's picking up refunded orders.

If you want to query only for these records, you can filter for `> 1 orders` as described, and add the `total spend < 1` filter as well.

[2022-02-02 23:19] CUBICinfinity commented on #31810
While thinking about why cron scheduling could be relevant to the consideration of through vs until, I realized that we might as well allow the user to supply start and end times to the minute, rather than the day.

[2022-02-03 00:43] #31576 closed, assigned to nobody

[2022-02-03 02:14] joonya77 commented on #30027
Can I please get an update on when compatibility with PHP 8.0 will be ready? Automatewoo has stopped working for us and we're keen not to downgrade to PHP 7.4 as this may cause issues. Really hoping this can be done soon. Thankyou

[2022-02-03 05:01] rodelgc commented on #31814
This is happening on PNG images with transparent backgrounds. Here's the image I used in my test: [png-images-with-transparent-background-1](https://user-images.githubusercontent.com/4509348/152283428-5c87c1ee-d61e-4e66-a0b1-5a309b85f745.png)

In TT2 theme, the magnification looks like this:
https://user-images.githubusercontent.com/4509348/152283739-cb69d1e7-129c-448a-bab9-c20c2a3e0a59.mov

Howev

[2022-02-03 07:17] carlomanf opened #31818 "Whole site returning 500 error after activating plugin"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

After trying to activate the plugin, the server is timing out and returning a 500 error. This didn't happen before today, but I can't be certain what caused it to start happening

[2022-02-03 08:33] angelcervera commented on #23567
@erikdemarco You closed the issue. Could you explain how did you solve the problem?

[2022-02-03 09:10] Konamiman commented on #31688
Pull request implementing this improvement as part of the database migration for 6.3: https://github.com/woocommerce/woocommerce/pull/31819

[2022-02-03 09:12] thedigitalhubau commented on #31730
[debug.log](https://github.com/woocommerce/woocommerce/files/7993160/debug.log)
Does this help? I think it may be a database issue as I often go in and update something i.e yoast, and then I come back and notice that it has reverted back.
I also have this popping up in the woocommerce status: Action Scheduler migration in progress. The list of scheduled actions may be incomplete. However it never

[2022-02-03 10:50] ismailme33 opened #31820 "Variable product quantity"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
When we are creating a variable product and enter stock quantity

[2022-02-03 11:51] swatipawarGS commented on #31750
Hi @filipw-trafikbyran ,

Thank you for taking the time to report this bug, we really appreciate your help. We are unable to reproduce the issue on our end using WooCommerce 6.1.1 version, WordPress 5.9 version and PHP 8.0.15 version .

Please find below screencast for reference :

https://user-images.githubusercontent.com/94531721/152303239-92bd5742-4476-4228-9aa5-1ef81d383cfc.mp4

Please provide

[2022-02-03 13:31] gglobalstep opened #31822 "[GlobalStep] For Twenty Twenty-Two theme, "Reset Password" button appears misaligned on "My Account" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Twenty Twenty-Two theme, "Reset Password" button appears misaligned on "My Account" page.

### Expected behavior

For Twenty Twenty-Two theme, "Reset Password" button should

[2022-02-03 17:36] pmcpinto opened #32182 "Tax task: provide more context about Automated Taxes"
**Description:** If the user has the store located in one of the countries covered by WC Tax, has the extension installed + connected to Jetpack, we nudge him to enable automated taxes. However, we don't provide any information about this feature and we should help users make an informed decision regarding enabling automated taxes.
We provide links to the documentation through the Help panel, but

[2022-02-03 17:53] terriann opened #31823 "[Enhancement]: Improved access to WooCommerce logging"
### Describe the solution you'd like

When a user has logs displayed in `/wp-admin/admin.php?page=wc-status&tab=logs` they need to query the database to get the additional details stored in the `context` field in the database schema. Not all WooCommerce users may have access to the database or the knowledge on how to extract the additional information.

Some improvements that would help make this

[2022-02-03 18:41] louwie17 commented on #32185
Hi Darcy,

Sorry for the confusion, I actually did point you at the wrong hook, sorry about that. The hook I meant is `woocommerce_analytics_orders_select_query` [here](https://github.com/woocommerce/woocommerce-admin/blob/4bfb3f4f98a939068a5b9635e8a80a54c833e7d1/src/API/Reports/Orders/Query.php#L40). You would have access to the order_id, and parent_id here.
This would only alter the orders liste

[2022-02-03 19:00] terriann opened #31824 "[Enhancement]: Include order ID if in the error log message when possible"
### Describe the solution you'd like

If an order fails to save, a log entry is created in the `wp_woocommerce_log` table which displays on `/wp-admin/admin.php?page=wc-status&tab=logs` page with the message `Error saving order`. That message is the same whether there was, or was not, an existing order ID associated with that entry.

It would help store managers to triage what (if any) steps are n

[2022-02-03 20:21] solaceten opened #31827 "[Enhancement]: disable the plain text "password change" notification sent upon account creation"
### Describe the solution you'd like

Greetings all and @peterfabian  @rodelgc @melek

I think this is an improvement over sending plain text password, so good call!

When I did a test account creation, I got the welcome email with the link that invited me to set a new password which was great - however, I also received a plain text "Password Changed" notification email along the lines of "This no

[2022-02-03 20:38] rrennick opened #31828 "pnpm publish branch needs updating"
The following warning is issued when running `pnpm publish`:

[code]

Neither of the choices are current branches.

[2022-02-03 21:21] helgatheviking opened #31829 "[Enhancement]: Twenty Twenty Two notice styles are too uniform"
### Describe the solution you'd like

Related to #29560 and #29529 the notice styles are not great in the default themes. In Twenty Twenty Two they all have the same color so they are indistinguishable from each other.

### Describe alternatives you've considered

Use distinct colors for notice, success, and error notices. This is what I'd like to see across all the default themes. It may also be

[2022-02-03 21:33] helgatheviking commented on #31829
Storefront, for example, has nice consistent notice styling.. each is a unique color with a unique icon.

![image](https://user-images.githubusercontent.com/507025/152432520-19a54b2a-6e6f-4771-9c69-ee0730745b9a.png)

To quickly generate some notices:
[code]

I'd be open to sending some PRs, but I am not quite sure how y'all are picking the color themes for each of the default themes.

[2022-02-04 00:55] becdetat commented on #32188
@joshuatf  I'm just referring to dependency injection.

We can keep the singletons and existing static usages, just use a wrapper class for DI whenever you want to test a specific tracks usage. The wrapper class calls the static `WC_Tracks::record_event()` but it can be swapped out with a mock for the test.

Only the code under test needs to be changed to accept a tracks implementation via DI - th

[2022-02-04 00:58] bloukingfisher opened #31830 "Create international shipping label shows incorrect customs value (shows foreign currency value as USD value)"
The purchased shipping label for an international order that used the local currency displays the local currency value as the USD value for customs, instead of the actual USD value.

1. For a USA WooCommerce store receiving an international order (from Australia, for example)
2. The order is placed using the enabled multi-currency setting. The example product is $30 USD and purchased in the order