[2020-11-04 18:17] #28188 closed

[2020-11-04 18:18] jarvo1980 commented on #24184
@mikejolley
Ok, I've got those settings in place.

I have an item of £6.99, I add this to the basket and then adjust the settings as follows:

For the UK: £6.99 (includes £1.16 VAT) - so this is right
For Denmark: £6.99 (includes £1.40 VAT) - so this is right
For Albania: £6.99 - so this is wrong
For US: £6.99 - also wrong

It seems any country outside the UK fails to deduct the VAT.

Within my st

[2020-11-04 18:24] mikejolley commented on #24184
@jarvo1980 maybe message support. The 0 rate isn't needed because countries not matching your tax rules would be 0. So this is either a setup issue or some extension is applying taxes in err.

[2020-11-04 18:26] jarvo1980 commented on #24184
@mikejolley Thank you! You've really helped tonight, so will go see what may be causing the issue
Many thanks for your time, it was very much appreciated! :)

[2020-11-04 18:28] BenBaudart opened #28189 "Too few arguments in class-wc-report-customer-list.php"
Hi there,

I have the the following error:
**Warning: sprintf(): Too few arguments in /home/----hidden----/www/wp-content/plugins/woocommerce/includes/admin/reports/class-wc-report-customer-list.php on line 56**

It appears as I use the "link previous orders" function (actions button) in the WooCommerce / Reports / Customer page at /wp-admin/admin.php?page=wc-reports&tab=customers

The function al

[2020-11-04 18:41] bloxkim commented on #28188
Okay, will do. Thank you.

[2020-11-04 18:52] michi-dev commented on #27697
I really agree with @masteradhoc. Thank you @masteradhoc for writing about this. I also had the same thoughts...

[2020-11-04 18:58] GeoJunkie commented on #27655
We've also had a couple reports on this in the WordPress.org forums:
https://wordpress.org/support/topic/missing-text-on-myaccount-navigation-link-edit-address/
https://wordpress.org/support/topic/addresses-does-not-show-in-navigation-my-account-menu/ (For this one, adding a translation to the **Others** tab fixed the issue).

[2020-11-04 19:01] nigarguliyeva opened #28190 "Hi, the product link is not working. It automatically redirects to cart page, how to solve it? Moreover, it happens not all products"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-04 19:02] nigarguliyeva commented on #28190
Hi, the product link is not working. It automatically redirects to cart page, how to solve it? Moreover, it happens not all products

[2020-11-04 20:02] redasaiko commented on #27688
I have the same issue. Very annoying, is there any solution?

[2020-11-04 20:53] myviribus opened #28192 "I did make a discound on my site MyViribus.dk. I wanted to remove the sale but when a costumer goes in to the product, the product will show the old sale even when it is deleated"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-04 21:29] tammullen commented on #28189
Hi @BenBaudart
​
Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
- Made sure "Allow customers to place orders without an account" and "Allow customers to create an account during checkout" are ticked in WooCommerce > Settings > Accounts
- Bought a product using a new email, but made sure it's was a Guest Checkout
- Bought another pr

[2020-11-04 21:54] tammullen commented on #28192
Hi @myviribus

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-11-04 21:57] tammullen commented on #28068
Hi @hexoquinasa

As a part of this repository’s maintenance, I am closing this issue as it looks like it has been resolved. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-04 21:57] #28068 closed

[2020-11-04 21:59] tammullen commented on #27064
Hi @woorise

As a part of this repository’s maintenance, I am closing this issue as it appears to be resolved. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-04 21:59] #27064 closed

[2020-11-04 22:00] tammullen commented on #27499
Hi @jigarbytes

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-04 22:00] #27499 closed

[2020-11-04 22:00] tammullen commented on #26986
Hi @viponedream

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-04 22:00] #26986 closed

[2020-11-04 22:01] tammullen commented on #26962
Hi @steveclesham

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-04 22:01] #26962 closed

[2020-11-04 22:03] tammullen commented on #28190
Hi @nigarguliyeva

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-11-04 22:26] BenBaudart commented on #28189
Hi @tammullen

Thanks for the quick reply! Always happy to contribute ;)

- FYI: On my end, warning is displayed in page, I guess it's related to a server / php config.
- `<div class="updated">` also appears empty.

Low priority indeed!

![ss-woo](https://user-images.githubusercontent.com/1891484/98174389-1a2e6100-1ef5-11eb-9807-d9f95b228182.jpg)

[2020-11-04 23:09] jonshipman commented on #28106
What about implementing it as an action as opposed to a filter? See
https://github.com/woocommerce/woocommerce/compare/master...jonshipman:master

My idea is that by just swapping out the function for an action we allow it to be changed by developers in the future. WordPress Core has yet to implement their change (see https://core.trac.wordpress.org/ticket/37000) and I'd suggest waiting until Core

[2020-11-05 00:47] Jazz-Man commented on #27160
@vasikgreif
Yes, it's just awful that the session has stopped working for the REST API. I also had problems after the update. But here in this topic there was a very simple solution. In my case, this helped me:
[code]

that is it is simple enough to cause `wc_load_cart` on a hook `rest_api_init`.
I hope this helps:)

[2020-11-05 03:41] carlomanf opened #28193 "Regression: hard-coded database table in WC_Session_Handler"
#21455 caused a regression by replacing `$this->_table` with `{$wpdb->prefix}woocommerce_sessions`.

This forces sub-classes of `WC_Session_Handler` to overwrite `save_data` if they use a different database table.

This can be fixed by reinstating `{$this->_table}` in the new code.

[2020-11-05 09:33] Spreeuw opened #28194 "Variation purchases can be manipulated by purchasing 'main product'"
**Prerequisites:**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Variable products can be bought for the price of the first variation, without regard for the variation attribute.
So if a product "Broccoli" has a variation attribute "weight

[2020-11-05 10:25] thelar commented on #18852
@theimaginaire did you find any way around this issue, I'm getting the same problem on my products, the merchant feed price is inclusive of VAT, but the structured data on the page is without. However I do note that on my structured data, the valueAddedTaxIncluded is set to http://schema.org/False - https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2F4x4tyres.co.uk%2Fproduct%2

[2020-11-05 13:07] masteradhoc opened #28195 "Product Variation - Backordered Product bought, still shows as on backorder in order completed email"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Situation: A product has been bought which was currently available on backorder.
The Information that the product is on backorder gets show

[2020-11-05 14:40] gregs-legs commented on #28194
I'm seeing this on my live site.  Items are being added to the cart without variation_id - today for example a customer bought 1kg of coffee beans for the price of 227g.   It also means the cart weight is zero (multiplication of a non-numeric value) and therefore the shipping cost is undercharged.  All of my products are variable and have been for many years.  This issue is intermittent and was fi

[2020-11-05 16:22] gglobalstep opened #28196 "[GlobalStep - WooCommerce 4.7.0-RC][Mac] Randomdly error message stating "Safari Can't Open the Page" is displayed upon tapping connect button for WooCommerce.com"
## Bug Description:
Randomly error message stating "Safari Can't Open the Page" is displayed upon tapping connect button for WooCommerce.com

## Environment:
macOS Mojave:10.14.6 (18G103)
Browser: (Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Skip the Onboarding setup wizard.
1. Switch the Woo

[2020-11-05 16:26] gglobalstep opened #28197 "[GlobalStep - WooCommerce 4.7.0-RC][Mac] Error message stating "Login Popup is blocked!" is displayed upon tapping Connect button for MailChimp plugin, while keeping Safari preferences enabled for popups."
## Bug Description:
 Error message stating "Login Popup is blocked!" is displayed upon tapping Connect button for MailChimp plugin, while keeping Safari preferences enabled for popups.

## Environment:
macOS Mojave:10.14.6 (18G103)
Browser: (Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Skip th

[2020-11-05 17:36] gregs-legs commented on #28194
Reading through the function add_to_cart in class-wc-cart.php, if the variation_id is missing:

    Line 1026:  `$product_data = wc_get_product( $variation_id ? $variation_id : $product_id );`

means that $product_data becomes the variable product of type 'variable' therefore:

   Line 1033: `if ( $product_data->is_type( 'variation' ) ) {`

fails and none of the 'variation' specific checks are don

[2020-11-05 18:58] Spreeuw commented on #28194
@gregs-legs you may want to check your site for JS errors in the console. While the above description is a simple way to replicate, a more common way for this to happen is if for some reason jQuery crashes and none of the variation scripts apply. The customer can still change the dropdown selection but because no variation ID is passed, as a result the item is added with only the weight and variat

[2020-11-05 19:24] gregs-legs commented on #28194
I can't reproduce any JS errors - this seems to be an intermittent problem.  But I think you might be right - I've just found this thread:  [https://github.com/woocommerce/woocommerce/issues/27756](url) .  It looks like it can result from slow (or deferred) loading of JS - if the customer is quick fingered.  There's a fix on the way which I'll try.

The validation code in class-wc-cart.php still a

[2020-11-05 19:28] rrennick commented on #27876
Addressed in #27916.

[2020-11-05 19:28] #27876 closed

[2020-11-05 19:44] tammullen commented on #28194
Hi @Spreeuw
Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27756.
We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-11-05 19:44] #28194 closed

[2020-11-05 22:09] helgatheviking commented on #27984
FWIW, I'm still failing with this. This _may_ be due to attempting to run php 8 for some testing.

[code]

[2020-11-05 22:21] juliaamosova commented on #28197
Hi @gglobalstep,

Thank you for reporting the issue. It seems to be on the MailChimp side of things which is being developed in another repository: https://github.com/mailchimp/mc-woocommerce.

I went ahead and created an issue over there on your behalf so that the right team could take a look further:

https://github.com/mailchimp/mc-woocommerce/issues/721

[2020-11-05 22:21] #28197 closed

[2020-11-05 22:44] Sidlegionair commented on #25777
@vasikgreif Mind sharing your solution in a gist or something to help us out?

[2020-11-06 09:48] theimaginaire commented on #18852
Not a good solution at all, but we just ended up removing the structured data entirely as we couldn't get it working. The below code does that if you wanted to use it:

`remove_action( 'wp_footer', array( WC()->structured_data, 'output_structured_data' ), 10 );`

Let me know if you ever find a better solution though, would be nice to have the structured data and surprised WC don't have the functio

[2020-11-06 11:13] vasikgreif commented on #25777
@Sidlegionair Sure, it was something along these lines: https://gist.github.com/vasikgreif/d4ac3d1f619da7a86f3d58319e245094

[2020-11-06 11:30] Sidlegionair commented on #25777
@vasikgreif Thanks, much appreciated!

[2020-11-06 13:34] ecgan opened #28200 "@woocommerce/e2e-utils npm package doesn't work: "Cannot find module 'config' from 'flows.js'""
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When I'm trying to use [@woocommerce/e2e-utils](https://www.npmjs.com/package/@woocommerce/e2e-utils) (current version is 0.1.1) and run e

[2020-11-06 14:20] inpresif opened #28201 "+1 for Cart API"
I see this has been requested more than once since years ago, so I am just adding our +1.

Extra functionality for the Cart API so we can build a cart in our App and use the native Cart contents checkout if the users chooses to, so the Cart checkout is possible on the native Woocom setup.

[2020-11-06 14:28] Buzut opened #28202 "Save all checkout data in wc_session on woocommerce_checkout_update_order_review"
On checkout, when some data is entered, an ajax query is triggered and cart (temporary) info are sent to the server. While some info are saved into session, some aren't, among them: email and telephone.

This leads to user losing already typed info if navigating away and coming back to checkout. This would be easily solved by saving checkout information into wc_session as they are filled.

Once sa

[2020-11-06 14:54] rtpHarry opened #28203 "Cart price not recalculated when product changed to "purchase individually""
**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

I have not done these, sorry. I don't need support as it's not going to affect me, but it does seem like a bug, so I thought I would submit it. I don't have tim

[2020-11-06 16:24] juliaamosova commented on #28196
Hi @gglobalstep,

Thanks for reporting the issue! However, I could not reproduce it. I tested in 2 different environments:

- macOS Catalina 10.15.6
- Safari 14.0

See gif below showing that I was able to successfully initiate the connection to woocommerce.com:

![](http://g.recordit.co/DhwoVOwTQg.gif)

I further tested with macOS Mojave using Browserstack.com:

- macOS Mojave (couldn't tell which

[2020-11-06 16:42] zdenys commented on #25524
Another user that would be interested in this 25458084-hc.

[2020-11-06 16:44] tammullen commented on #28201
Hi @inpresif

Thank you for reporting the issue. However, this issue had been discussed previously here https://github.com/woocommerce/woocommerce/issues/27724. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-11-06 16:44] #28201 closed

[2020-11-06 17:07] lkraav commented on #28201
@inpresif use emojis on opening comments to express support, not separate issues.

[2020-11-06 17:14] pixelicous opened #28205 "Hovering on image doesn't zoom until photo is downloaded, then you need to re-hover image"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Single product page - photo will not zoom automatically when hovered with mouse, even if photo was downloaded, thubmnail will still be sh

[2020-11-06 17:18] tammullen commented on #28195
Hi @masteradhoc

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using a **Simple Product** as well.
​
![Screenshot 2020-11-06 at 17 14 22](https://user-images.githubusercontent.com/24649833/98395087-a5256d80-2053-11eb-829c-82ee48b9ca63.png)
Set product to accept backorders.

![Screenshot 2020-11-06 at 17 14 34](https://user-images.git

[2020-11-06 20:16] tammullen commented on #28203
Hi @rtpHarry

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot_2020-11-06_at_17_57_26](https://user-images.githubusercontent.com/24649833/98410473-a7e08c80-206c-11eb-9918-68f94e4046b8.png)
![Screenshot_2020-11-06_at_17_50_36](https://user-images.githubusercontent.com/24649833/98410481-aa42e680-206c-11eb-9dd4-e9a424ff9eda

[2020-11-06 21:39] juliaamosova commented on #27439
Hi @dovy,

I am closing this thred as there wasn't anything to be done on either of our sides in regard to the compatibility of our products. Please feel free to comment back in case I missed something and we'd take another look.

[2020-11-06 21:39] #27439 closed

[2020-11-06 22:54] leeneilson opened #28207 "Place order button etc is not greyed out once clicked whilst using the twentytwenty theme"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
If you click on the place order button, whilst this is processing the button etc is not greyed out. This is leading to multiple clicks.

**

[2020-11-06 23:02] roykho commented on #28207
Thanks for reporting. There is already an open issue on this. So closing this in favor of https://github.com/woocommerce/woocommerce/issues/27656

[2020-11-06 23:02] #28207 closed

[2020-11-06 23:20] ornellapal opened #28208 "Add new product issue - setting product image and product tags not working (after the update)"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have sea

[2020-11-07 08:20] marcodadamo opened #28210 "Email notification technical issue"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-07 08:35] pictureperfectmalta opened #28211 "Tax Option not showing stuck on *"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-07 09:31] peretc001 opened #28212 "woocommerce_order_status_cancelled"
Woocommerce automatically cancels orders from the pending payment status to canceled after a specified period of time

If I manually change the status, it works, but it doesn't work when WC automaticly canceling order.

How to subscribe to this event?

My functions.php

[code]

[2020-11-07 10:22] bambootb commented on #28085
@juliaamosova
Is there any update regarding to the issue.

Thanks,
T

[2020-11-07 12:09] peretc001 commented on #28212
I find this code for cancell order
[code]

And i`m try to do this:
[code]

But its not work

[2020-11-07 12:27] tharsheblows commented on #27521
Would it be possible to get @JohnTendik to look at ticket? (Asking because he just committed something to checkout.js where he can see the issue.) The issue is that the country field in checkout is this:

[code]

[2020-11-07 13:42] tharsheblows commented on #27521
Sorry, I think I'm wrong on checkout.js! At least sometimes. It's something which is affected by the change of the billing country select on the checkout page having the default value be the string "default" rather than an empty string.

[2020-11-07 16:54] jffaria commented on #23139
This is not necessarily because of a problem with the local server. Note URLs are parsed and validated, and custom ports such as 8000 are rejected as invalid outright. I believe localhost is also rejected as invalid.

[2020-11-07 17:33] JohnTendik commented on #27521
I can take a look but I don't think this relates to the changes I made in checkout.js :) The sounds and smells like its because the field has a default value now which is "default". I don't think the validator checks the value against country names, that would be inefficient. I think we can probably test this by changing one of the values in the drop down to something random. It will pass validati

[2020-11-07 17:48] tharsheblows commented on #27521
@JohnTendik I'm so sorry, I didn't meant to imply that it was caused by anything you did! Yikes! 😬 I didn't think that at all.

I was trying to find someone who would understand the issue (and you do! thank you 😊) and thought you would because you were in checkout.js (which it doesn't really touch does it, if you skip it, it doesn't trigger the event?). It was a hacky and not great way of getting

[2020-11-07 18:05] bliteknight commented on #27300
Thanks for looking at this, will try setting a user in context before calling WC_Product_CSV_Importer

[2020-11-07 21:58] jamenl commented on #19182
I also encountered this error when using COD i.e. cash on delivery. Issue is not payment gateway but payment setup. Unlike old advice recommended above their is also not tab for subscriptions in the latest woo commerce.  This is how I solved it.

1. Under Woocommerce click on settings. You will see the following tabs; General, Products, Shipping, Payments, Accounts & Privacy, Emails, Integration,

[2020-11-08 00:23] John1128 commented on #27419
Hi juliaamosova.
How are you? These days I am developing ecommerce website using woocommerce v4.6.1. But if I add Filter Products by Attribute section to the sidebar, unfortunately, I can't see that, and I checked html using Inspect on web browser, but Attribute section is not added. Of course, you got too many message regarding this problem, so did you fix this problem or not? If not, when can yo

[2020-11-08 07:00] tradesouthwest commented on #27828
Getting same message with PHP 7.4 "WC_Order_Item Coupon offsetGet function is deprecated, error message"

Will wait on feedback - Woo up to date!

[2020-11-08 08:42] baccoder commented on #22837
I don't know how relevant this problem is, but I also had a problem with the long loading of the store page, the same get_terms() function was called 10,000 (!) Times.

The reason is getting the count of children items of a given category. In short, to speed up loading, I added the following filter to the `functions.php` file

`add_filter ('woocommerce_subcategory_count_html', '__return_false');`

[2020-11-08 10:52] BlackJack7878 opened #28213 "add_to_cart not working with variable products"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-08 17:01] citizensoftheworld commented on #16620
NOT CLOSED. THIS IS STILL AN ONGOING AND UNACCEPTABLE ISSUE.

Have just experienced this issue myself.
Following hours of meticulous work, the export from from local dev to production server produced  numerous errors in-line with previous comments.

I'd been working on a time-sensitive contract for a client that also involved purchasing the WooCommerce subscription plugin, and I had planned to adv

[2020-11-08 17:39] Peter-27 commented on #27070
I would like to get this resolved please, I have not had a response since 22nd July. @juliaamosova Maybe you can help as you're also working on #27251 which seems like a similar issue - and @tammullen is no longer engaged for whatever reason.

[2020-11-08 18:41] ccarter12 commented on #16620
Hi,

I had a brain wave a few weeks ago. I don’t use the official woo comm category pages for my website anymore. The products are still linked to the categories but I then just made a new shop pages manually and named them the same as the category, added the product page links to each picture and then redirect the category pages to the new page. It took some time to create the new pages but once

[2020-11-08 19:06] citizensoftheworld commented on #16620
With the increasing amount of income WP raises from the WC family of never-ending plugins to perform each, and every new task, such a workaround shouldn't be necessary, but many thanks for sharing your knowledge ccarter12. Keep those brain waves buzzing ;-)

[2020-11-08 21:50] albertramsbottom commented on #16620
I solved by adding 1000 as a stock level and then setting for non product stock levels, saving and the putting in the real stock and setting manage stock again. But its still a bug

I would recommend that someone disables all plugins and then, one at a time enabling them. And test, it could be a plugin

[2020-11-09 01:35] mdvs101 commented on #16620
I had written in July 2019 on this thread with details about how transients were somehow related to the issue and clearing them tended to fix the problem, but also caused it to happen more often.  It remains true that saving/updating a product page (without changing anything) fixes the problem almost all the time.

Armed with that information, and the lack of an apparent fix coming from Woocommerc

[2020-11-09 08:13] retroriff opened #28214 "Backorders have a wrong availability on application/ld+json"
JSON structured data on single products pages are showing availability instock on backorder products. According to Schema, the availability value should be instead PreSale or PreOrder:

https://schema.org/ItemAvailability

As a consequence, Google shows a wrong availability on its SERP.

I have tested it  in Storefront without any other active plugin than WooCommerce.

<details>
[code]
</details>

[2020-11-09 14:13] roykho commented on #27535
So since the original issue is no longer relevant with the latest WC version and there are no other concerns, I will be closing this issue. If there are still other issues in regards to this, feel free to comment back so we can re-evaluate.

[2020-11-09 14:13] #27535 closed

[2020-11-09 15:08] leewillis77 commented on #18852
@theimaginaire @thelar

Unfortunately Google's documentation about what they expect is sketchy at best, and inconsistently applied from what we've seen.

I'm currently looking (in the [Google Product Feed](https://woocommerce.com/products/google-product-feed/) extension at what we can do to improve the structured data with a view to addressing some of these issues (as well as improving general sea

[2020-11-09 17:31] sukafia commented on #26879
I was just playing around with downloadable products and noticed this issue on my end.

[2020-11-09 18:27] masteradhoc commented on #28214
#following

[2020-11-09 18:45] frederikcs74 opened #28218 "WordPress Lateral Menu - Collapse & uncollapse - Blocked"
Hello !

WooCommerce Version 4.6.2 on 5.5.3–fr_FR.

The lateral menu is blocked. When I turn off WooCommerce Plugin (this also turns off WooCommerce Admin) the WP menu uncollapses.

As soon as I turn WooCommerce Plugin back on the WP lateral menu (navigation bar in English?) collapses and remains blocked.

How do we solve this?

Many thanks,
FCS

![Capture d’écran 2020-11-09 à 19 38 43](https://

[2020-11-09 19:30] luzmarin opened #28219 "not updating properly"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-09 20:38] masteradhoc commented on #25261
Same here, waiting for a fix

[2020-11-09 20:49] roykho commented on #27990
So I am just looking into this one and had some questions before I start.

How do we determine this?

Does this mean orders with the status of "completed" ?

Since these information are not specific to an event, how often do we want to log this?

[2020-11-09 20:52] wahsunny opened #28220 "Adding a product does not sync to facebook"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
When I try to add a new product via WordPress, the product get

[2020-11-09 21:31] juliaamosova opened #28221 "Coupons are possible to be created without a coupon code name"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Coupons are possible to be created without a coupon code name.

**Expected behavior**

I expected to be shown a warning letting me know th

[2020-11-09 21:57] roykho commented on #28176
Hi there @davefx - thanks for reporting. I just want to get a little bit more context on this issue. Are you only running out of memory when you try to return all products in your catalog ( 2000 )? And when you actually try to search for a specific term, this issue does not happen. Is that accurate?

[2020-11-09 22:03] oneillo commented on #27990
In case this helps, I've seen an approach that relies on the [woocommerce_admin_install_timestamp option](https://github.com/woocommerce/woocommerce-admin/blob/38dfbff6d1d5943cfe196e1b5a6dcd6bb737b500/src/Notes/NoteTraits.php#L22)

Yes.

FYI, I originally requested this, and I don't know the tradeoffs in terms of performance, storage cost, or other costs for including this in every event, but the

[2020-11-09 22:34] Jannickla opened #28222 "line_items missing on GET request"
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Fetching data from the API in django/python returns an emptly list of line_items on ~3400 of ~3800 orders.

**Expected behavior**
Returning a list of dicts containing products purchased with th

[2020-11-10 04:18] davefx commented on #28176
Exactly: when used in an actual search action things usually go
correctly... Although I suppose that, in the long term, if the products
database keeps growing, a really generic search term could end up causing
the same problem.

Basically, in our setup, this ajax function is being called without any
search parameter by a third-party plugin in order to obtain the list of
products via AJAX.
Maybe no

[2020-11-10 08:05] rajkumargaur91 commented on #10829
isnt it a loop hole that anyone can generate the order for any user using third party tools. if he steal the request from browser.

[2020-11-10 08:07] rajkumargaur91 commented on #10829
can I pass the customer id dynamically  to prevent the loop hole

[2020-11-10 11:16] FeIix opened #28223 "CSV Import skipping silently some products"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I'm importing a CSV of about 6000 products in a brand new WP / WC setup.
The import always says it finished successfully, but sometimes (ma

[2020-11-10 11:32] raubv0gel opened #28224 "Failed to Open Theme Dirs in Case of Symbolic Links"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
- `( ! ) Fatal error: Uncaught UnexpectedValueException: RecursiveDirectoryIterator::__construct(/var/www/wordpress/wp-content/themes/xxx):

[2020-11-10 11:34] zdenys commented on #27445
There has been another report in https://wordpress.org/support/topic/pending-and-on-hold-statuses-doesnt-reduce-products-stock/ I'm glad to see that a patch has been created already 🎉

[2020-11-10 12:54] ecappa commented on #25895
I don't know which mess is behind this, but I had the same issue this morning on a NetworkSite...
I recreated the mysterious missing table :
[code]
Just replace the {!!!!XXXX!!!!!} by your eventually wordpress prefix.
Not sure to that my charset and collate is correct for everyone...

[2020-11-10 14:13] #28176 closed

[2020-11-10 14:33] nathanfeeney opened #28225 "Seo Details column clips off the page on Woocommerce>Products"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-10 14:56] WebMedic-X commented on #28137
Hi

This is happening again and not sure why

Thanks

[2020-11-10 16:07] vedanshujain commented on #27160
I am closing this issue because it does not look like there is a bug that needs to be fixed. But please feel free to write for any suggestions.

[2020-11-10 16:41] mcnaveen opened #28227 "All new customer ID is assigned as 0"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
All new customer ID is assigned as 0

**Expected behavior**
Unique Customer ID for every customer

**Actual behavior**
Instead of creating a uni

[2020-11-10 17:04] Jon-Rojas opened #28228 "Product Data is only showing the general table, does not change when clicking on the left tabs"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-10 18:36] copy-fast opened #28230 "Filter by attributes won't showing up"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-10 19:31] MC-Rider commented on #28230
This issue is also being discussed here:

https://github.com/woocommerce/woocommerce/issues/27419

[2020-11-10 20:37] MC-Rider commented on #27419
Happy to report that for me this appears to be fixed in v4.6.2.

Created new simple products, variable products, and brands. All are appearing in the front end and behaving as expected.

The other issue I mentioned (products appearing on first "shop" page but not appearing on shop pages 2, 3, 4... etc) remains. Pagination index and bottom of page is correct it's just pages 2, 3, 4, etc are not pop

[2020-11-10 23:11] #27871 closed

[2020-11-10 23:16] bhubbard opened #28232 "woocommerce_cart_needs_payment filter breaks in 4.7.0"
With WooCommerce 4.7.0 it looks like it breaks the following filter:

```add_filter('woocommerce_cart_needs_payment', '__return_false');```

What would be the new proper way to verify a store doesn't require payments for orders?

[2020-11-11 01:51] VasilSlavchev opened #28234 "Bug report for: woocommerce-subscriptions/includes/class-wcs-query.php"
Bug report for: woocommerce-subscriptions/includes/class-wcs-query.php

** I have tested it, and it works now as expected. **
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

** WCS_Query::get_endpoint_title($endpoint) should be compatible with WC_Query::get_endp

[2020-11-11 06:14] franticpsyx commented on #27463
Confirming, this has been happening on all of our local dev sites + demo sites for a while now. Sometimes clicking “Thanks” multiple times will sort it out, but there’s no clear pattern.

[2020-11-11 06:46] aupous opened #28235 "Order item on Admin page not show product thumbnail as expected with Variable product"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Order item show a placeholder image on Admin Edit order page (Woocommerce / Orders / Edit Order) when item product is a variation with imag

[2020-11-11 07:11] rrdirnens commented on #27688
I am having a similar issue, but my count doesn't update on the frontend, when products get imported from a CSV using WP All Import. The reviews are already on the site, the import just runs and imports the products and updates them. So the reviews are properly assigned to the right products AND they show on the frontend, but in the product info tabs on the frontend it always says "Reviews(0)".

C

[2020-11-11 08:25] alexplayer commented on #28234
Amazing, thanks so much @VasilSlavchev

[2020-11-11 08:33] paaljoachim opened #28236 "Change to a default blank on Hold Stock (minutes) time limit. Instead of default 60 minutes."
**Is your feature request related to a problem? Please describe.**
I noticed that a customers order suddenly got cancelled. I had to look it up online and found: https://hitusupdesigns.com/blog/woocommerce-unpaid-order-cancelled-time-limit-reached-fix/ I find it very strange that there is a time limit for handling orders. We thought it was a bug. This should start out blank and the admin can inste

[2020-11-11 09:00] matthiaswagnerwy opened #28237 "Hooked email texts instead of hardcoded outputs"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i need to customize email texts. I do not understand why the first lines below the `woocommerce_email_header` hook are hardcoded in the template. Example from `woocommerce/templates/emails/customer-completed-order.php`:
[code]

**Describe the solution you'd like**
I'd love to see these output hooked into

[2020-11-11 09:18] peterfabian commented on #28236
Hi, thanks for the suggestion. I think the time limit makes sense in case you have stock management enabled, as otherwise I see basically two options:
- either you don't hold stock for the customers who went through the checkout but haven't paid yet and can run into problems with negative stock,
- or you hold stock for them indefinitely, which doesn't make sense either, as then you can't sell thos

[2020-11-11 09:20] peterfabian opened #28238 "Update master branch to trunk"
In alignment with other parts of the world and Automattic, we should update our `master` branch to `trunk`.

[2020-11-11 09:29] ahsanlt commented on #28234
Having the same issue

[2020-11-11 09:34] ahsanlt commented on #28234
@VasilSlavchev fix worked.

[2020-11-11 10:57] zdenys commented on #28234
A user in 25561235-hc also reported this and was able to use the above fix.

[2020-11-11 11:06] zdenys commented on #28234
Just to close the loop, this should be fixed in version 3.0.10 of WooCommerce Subscriptions.

[2020-11-11 11:14] budzanowski commented on #28122
@peterfabian Blocks are ready: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3335

[2020-11-11 11:45] XedinUnknown commented on #28122
It may also be a good idea to back-port the more flexible constraint into `3.x`.

[2020-11-11 12:59] rodrigoprimo opened #28239 "Check jQuery changes in WP 5.6"
See https://make.wordpress.org/core/2020/11/05/updating-core-jquery-to-version-3-part-2/

[2020-11-11 13:22] haonetuc24 opened #28240 "{"code":"woocommerce_product_invalid_image_id","message":"#12362 is an invalid image ID.","data":{"status":400}} even with a valid ID it still throws the same error"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

{"code":"woocommerce_product_invalid_image_id","message":"#1236

[2020-11-11 13:51] parsmutaf opened #28243 "Bug in order tracking page"
Hello,

In the order tracking page, text in Order ID and Billing e-mail address exceed the box size. I tried fixing it buy putting "resize: both" but it did not work. Thanks.

![Screen Shot 2020-11-11 at 16 49 47](https://user-images.githubusercontent.com/74306261/98819487-f95a9400-243d-11eb-89e1-af04caccdef6.png)

[2020-11-11 13:55] leewillis77 opened #28244 "4.7.0 release not tagged"
Version 4.7.0 has been released to https://wordpress.org/plugins/woocommerce, but is not tagged here, leading GitHub to show the latest release as 4.6.2 and making it difficult for people running WooCommerce for development from GitHub to checkout this specific release.

[2020-11-11 14:35] claudiosanches commented on #28244
Solved: https://github.com/woocommerce/woocommerce/releases/tag/4.7.0

[2020-11-11 14:35] #28244 closed

[2020-11-11 14:41] juliaamosova commented on #28234
Hi @VasilSlavchev,

Thanks for reporting the issue. It had been fixed in WooCommerce Subscriptions 3.0.10 as mentioned by @zdenys above. I am closing this thread.

[2020-11-11 14:41] #28234 closed

[2020-11-11 14:45] claudiosanches commented on #28238
Just noting here that GitHub reported that renaming the default branch can cause a set of challenges:

- Open pull requests need to be retargeted to the new branch
- Draft releases need to be retargeted to the new branch
- Branch protection policies need to be transferred to the new branch

Also there's a promise from GitHub that by the end of this year changing the default branch will already ret

[2020-11-11 14:51] juliaamosova commented on #28243
Hi @parsmutaf,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only.

The issue you are having seems to be caused by the 3rd party plugin that allows order tracking. It can also be caused by the theme you are using.

Please contact the author of the plugin directly for further help.

[2020-11-11 14:51] #28243 closed

[2020-11-11 14:54] juliaamosova commented on #28240
Hi @haonetuc24,

Thanks for raising the issue! Would you please provide the details of the request you are making to receive this error?

[2020-11-11 15:13] haonetuc24 commented on #28240
hi we are trying to use the Rest API to copy the image from Shopee (
https://shopee.ph) to my woocommerce website (https://nobaco.ph) however we
are getting the following error that I provided.

Regards,

On Wed, Nov 11, 2020, 11:09 PM Julia Amosova <notifications@github.com>
wrote:

[2020-11-11 15:22] gglobalstep opened #28245 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] "Fatal error" page is displayed upon visiting to "Installed plugins" page."
## Bug Description:
"Fatal error" page is displayed upon visiting to "Installed plugins" page.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Go to test site https://ephemeral-jamosova-20201110.atomicsites.blog/

[2020-11-11 15:27] gglobalstep opened #28246 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] "The magic method.." Warning PHP error message is triggered after installing and activating "Query Monitor" plugin."
Bug Description:
"The magic method.." Warning PHP error message is triggered after installing and activating "Query Monitor" plugin.

Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

Steps To Reproduce:
1. Go to test site https://ephemeral-jam

[2020-11-11 15:28] johnrisby opened #28247 "Description tab not showing if only content is an elementor 'template' widget"
- [* ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [* ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

If you use Elementor for product pages, and the only thing in your Elementor page is a template widget, the Description tab doesn't show up. If you add any text on the page, it works as expe

[2020-11-11 16:11] #27566 closed

[2020-11-11 18:09] roykho commented on #27992
Hmm is this needed in WC core? I believe each Woo extension themselves should announce its own installation. What do you think?

[2020-11-11 19:03] haszari commented on #26189
I have been seeing this on my ephemeral test site. After plugin installs and activates I land on wc-admin main page. Maybe it redirects there if site has incomplete todos in task list?

<img width="1544" alt="Screen Shot 2020-11-11 at 3 39 37 PM" src="https://user-images.githubusercontent.com/4167300/98852932-4a5d9d00-24bd-11eb-96a4-0ece0a1dbdad.png">

Here's the system report:

<details>

[code]

[2020-11-11 19:08] juliaamosova commented on #26189
Thanks @haszari! I am reopening the issue so that we could take a look further.

[2020-11-11 19:26] enriquesalazart opened #28248 "error in woocommerce reports"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-11 20:49] omniacode commented on #27375
Hello -

We're currently having an issue where we are syncing products between Clover and WooCommerce where the inventory levels are using decimals and are not carrying over from or pushing to Clover when orders are placed on the site and the inventory needs to be updated in Clover.

Is it possible to patch in what @dademaru has mentioned above as a possible quick fix?

[2020-11-11 20:53] #27656 closed

[2020-11-11 21:28] omniacode commented on #27375
Can confirm that this patch works. Obviously editing core files is not ideal but this definitely allows for syncing inventory levels with decimals to work. This is much needed and hopefully, this can be pushed out in an update soon!

[2020-11-11 21:30] roykho commented on #28230
Closed in favor of #27419

[2020-11-11 21:30] #28230 closed

[2020-11-11 21:32] roykho commented on #27419
Seems the consensus is that this issue is fixed. I will close this issue now. @MC-Rider as for your pagination, that doesn't seem to be related so I suggest you open a new issue for that.

@John1128 - please update to the latest WooCommerce version.

[2020-11-11 22:38] juliaamosova commented on #28192
Hi @myviribus,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](h

[2020-11-11 22:38] #28192 closed

[2020-11-11 22:39] juliaamosova commented on #28190
Hi @nigarguliyeva,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2020-11-11 22:39] #28190 closed

[2020-11-11 22:41] juliaamosova commented on #28110
Hi @Ombabman,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-11 22:41] #28110 closed

[2020-11-12 00:14] claudiosanches commented on #27756
Hello, we are planning to speed up things a little bit and release it in WooCommerce 4.7.1 soon. Could someone help me test a beta for this version? I just want to confirm that this issue got fixed.
You can download from https://downloads.wordpress.org/plugin/woocommerce.4.7.1-beta.1.zip

[2020-11-12 07:43] hqin2013 opened #28252 "wc_get_products function include param problem"
[https://github.com/woocommerce/woocommerce/wiki/wc_get_products-and-WC_Product_Query](https://github.com/woocommerce/woocommerce/wiki/wc_get_products-and-WC_Product_Query)

Hi, i followed this document to check products with include 100+ products, and found there are only 10 producs t in the result ?! doesn't it return 100+ products?!

how to solve it?!

$post_ids = array(); // ==> 100+ products

[2020-11-12 08:02] ajgw opened #28253 "Hidden products still in WP sitemaps"
Hi everybody, I have few items in store set to hidden in frontend and search but wonder as google bots indexed them. It seems that hidden products are still in WP sitemap listed for search engines. This shouldn't be because hiding them in store has often reasons.

Is there anywhere a setting for this I have overseen?

[2020-11-12 08:07] NitinPrakash commented on #28232
Facing Same issue

[2020-11-12 08:13] bonysoft commented on #28232
Seems like it's

`add_filter( 'woocommerce_order_needs_payment', '__return_false' );`

now.

[2020-11-12 09:05] SchwannK commented on #27783
Hey James @om4james , I hope you're well!

I came across this thread yesterday, and saw your mention that "WooCommerce Zapier also then periodically cleans up (revokes) Zapier REST API keys if they aren't used for several days also."

I realised that my custom Webhook Zaps have been requiring re-authentication every week or so, needing me to manually recreate API keys on WooCommerce, and suspect t

[2020-11-12 09:22] anastis commented on #28252
[code]

[2020-11-12 10:31] Naberdz opened #28254 "Woocommerce 4.7.0 category template bug"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-12 11:15] hasomeri opened #28255 "WooCommerce version 4.7.0 causes display issues with WPBakery Page Builder 6.4 and lower"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2020-11-12 11:32] anastis opened #28256 "*-product_(cat|tag) templates ignored in status page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Pull #27736 caused the status page's "Templates - Overrides" to stop detecting and reporting on files `content-product_cat.php`, `taxonomy-

[2020-11-12 14:04] peterfabian commented on #28140
TL;DR update: there are several patches attached to the WP core ticket, but it seems like the code might be rolled back after all, as there isn't that much time to fix the problems and come up with a good tested solution until WP 5.6 lands.

If the problem won't be solved, we have a strategy for a workaround by @vedanshujain :

[2020-11-12 14:15] tammullen commented on #28246
Hi @gglobalstep

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

Also updating the title to reflect the PHP warning

[code]

[2020-11-12 14:34] #27972 closed

[2020-11-12 15:32] paaljoachim commented on #28236
Thank you for the feedback Peter!

I told my colleague about your reply, and I will see if he has anything to add.
For now I will just close the issue, and will reopen if needed.

[2020-11-12 15:32] #28236 closed

[2020-11-12 15:51] peterfabian opened #28257 "Research spike on notifications reappearing"
There has been several problems reported related to Notices not going away when clicked, e.g. #27424 or #27463.
There might be several problems why this is happening, but let's try to ignore 'Action Scheduler not running' right now and focus on nonce problem and architecture of Notes.

Thus we need a research spike on possible solutions, discuss this with other teams who use the code and come to a

[2020-11-12 16:27] jrick1229 commented on #27847
Seen in: 25591798-hc

[2020-11-12 17:00] #27937 closed

[2020-11-12 17:09] vedanshujain commented on #28140
This was reverted in WP core, marking this issue as closed, see https://core.trac.wordpress.org/changeset/49566

[2020-11-12 17:09] #28140 closed

[2020-11-12 17:14] charliestrafe commented on #24184
Hey, jumping in on this as its preventing an integration on my website that pushes orders into a book-keeping system when received. The orders are being rejected as it's seeing the order totals as not matching up due to tax rounding.

- My prices are entered inclusive of VAT
- My store is rounding to 2 decimals. Using 3 isn't really an option for me
- My TAX rate is 20%

**An example of a checkout

[2020-11-12 17:34] hernanbruno97 commented on #27329
Hi
how did you solve this? i have same issue

[2020-11-12 17:44] shindesuraj1409 opened #28258 "hi"

[2020-11-12 17:50] gglobalstep opened #28259 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] On frontend, error stating "409 conflict" is seen upon submitting same review to a product."
## Bug Description:
On frontend, error stating "409 conflict" is displayed upon submitting same review to a product.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Go to test site https://ephemeral-jamosova-2020

[2020-11-12 17:54] gglobalstep opened #28260 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] Validation error message appears misaligned for "Country code" field on "Standard tax rates" page."
## Bug Description:
Validation error message appears misaligned for "Country code" field on "Standard tax rates" page.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1.

[2020-11-12 18:03] gglobalstep opened #28261 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] Ajax response errors are triggered upon installing and activating "Fast Velocity Minify" plugin."
## Bug Description:
 Ajax response errors are triggered upon installing and activating "Fast Velocity Minify" plugin.

## Environment:
 Windows 10, macOS Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 86.0.4240.75 (64-bit))
  Firefox(Version 82.0)(64-bit)
  Safari(Version 13.1.1 (14609.2.9.1.3))

 ## Steps To Reproduce:
 1. Create any test site using Jurassic Ninja.
 1. Install and activate all

[2020-11-12 18:06] gglobalstep opened #28262 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] PHP error warning is triggered upon installing and activating "MiwoVidoes" plugin."
## Bug Description:
 PHP error warning is triggered upon installing and activating "MiwoVidoes" plugin.

 ## Environment:
 Windows 10, macOS Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 86.0.4240.75 (64-bit))
  Firefox(Version 82.0)(64-bit)
  Safari(Version 13.1.1 (14609.2.9.1.3))

 ## Steps To Reproduce:
 1. Create any test site using Jurassic Ninja.
 1. Install and activate all required plug

[2020-11-12 18:09] gglobalstep opened #28263 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] 404 Not found error is displayed on debug console upon installing and activating "OptinMonster API" plugin."
## Bug Description:
 404 Not found error is displayed on debug console upon installing and activating "OptinMonster API" plugin.

## Environment:
 Windows 10, macOS Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 86.0.4240.75 (64-bit))
  Firefox(Version 82.0)(64-bit)
  Safari(Version 13.1.1 (14609.2.9.1.3))

 ## Steps To Reproduce:
 1. Create any test site using Jurassic Ninja.
 1. Install and ac

[2020-11-12 18:12] gglobalstep opened #28264 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] HTTP API errors are triggered upon installing and activating "Video Conferencing with Zoom" plugin."
## Bug Description:
 HTTP API errors are triggered upon installing and activating "Video Conferencing with Zoom" plugin.

## Environment:
 Windows 10, macOS Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 86.0.4240.75 (64-bit))
  Firefox(Version 82.0)(64-bit)
  Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
 1. Create any test site using Jurassic Ninja.
 1. Install and activate al

[2020-11-12 18:16] gglobalstep opened #28265 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] Ajax response errors are triggered upon installing and activating "Woo Stripe payment" plugin."
## Bug Description:
 Ajax response errors are triggered upon installing and activating "Woo Stripe payment" plugin.

 ## Environment:
 Windows 10, macOS Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 86.0.4240.75 (64-bit))
  Firefox(Version 82.0)(64-bit)
  Safari(Version 13.1.1 (14609.2.9.1.3))

 ## Steps To Reproduce:
 1. Create any test site using Jurassic Ninja.
 1. Install and activate all r

[2020-11-12 18:36] #28258 closed

[2020-11-12 18:42] gglobalstep opened #28266 "[GlobalStep - WooCommerce 4.7 + WordPress 5.6] PHP error warnings are triggered upon installing and activating "CSV Viewer" plugin."
## Bug Description:
 PHP error warnings are triggered upon installing and activating "CSV Viewer" plugin.

## Environment:
 Windows 10, macOS Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 86.0.4240.75 (64-bit))
  Firefox(Version 82.0)(64-bit)
  Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
 1. Create any test site using Jurassic Ninja.
 1. Install and activate all required plug

[2020-11-12 18:43] jasongm98 commented on #27445
The error still presents but only for the API endpoints (with the administration panel works) I will open a new request.

[2020-11-12 19:55] mjmarley commented on #28232
@bonysoft We gave that a shot and it didn't work. It worked for you?

[2020-11-12 20:52] bonysoft commented on #28232
@mjmarley For me it did, checkout error is gone.

I retraced the path of issue #27893 leading to this [commit](https://github.com/woocommerce/woocommerce/commit/537ec5d0e966ecb106eb3ab687fc41c2fce17561). They've replaced cart payment condition to [order level](https://woocommerce.github.io/code-reference/files/woocommerce-includes-class-wc-order.html#source-view.1497), which applies _woocommerce_o

[2020-11-12 21:18] pixelicous commented on #28205
.....

[2020-11-12 21:19] pixelicous commented on #21959
@kloon @mikejolley I noticed this is still happening, if the image isn't loaded yet, and you hover your mouse on the image there will be no zoom, and it wont zoom after loading, unless you stop hovering and move back the mouse

[2020-11-12 22:50] juliaamosova commented on #28259
Hi @gglobalstep,

Thanks for reporting the issue. I can replicate it on a new Atomic instance with the following:

- Atomic ephemeral
- WP: 5.6-beta3-49552
- WC: 4.7.0
- PHP: 8.0.0RC3
- TwentyTwentyOne theme

Noting that the issue happens only when trying to submit an identical product review. There is no issue if the review is different from those previously submitted:

![](http://g.recordit.co/N

[2020-11-13 01:02] hqin2013 commented on #28252
it works, thank you!

[2020-11-13 01:02] #28252 closed

[2020-11-13 04:18] SravanKumar35 commented on #23281
Hi, were you able to call the rest api?

[2020-11-13 05:16] #28122 closed

[2020-11-13 06:51] ldr2273 opened #28267 "[WooCommerce 4.7 + WordPress 5.6] When marking a product as virtual while on Shipping tab, shipping info does not initially get removed"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When creating a product and currently on the Shipping tab in the product data box, if you decide that you want this to be a virtual produ

[2020-11-13 08:20] #28100 closed

[2020-11-13 08:22] wayheming commented on #28255
same issue

[2020-11-13 08:33] scrobbleme opened #28268 "Add statistics "by payment method""
Hello,

It would be great to have a way to view turnover also summed by payment methods.

(Please correct me, if this is already possible, I just can't find this).

[2020-11-13 08:46] BeniAngel commented on #27756
We tested it and if you do a force refresh (hold cntrl and press f5 twice quickly) and you click on the “add to cart” before it has fully loaded, the issue still persists and you can add an item in the cart

Regards,

Beni Angel
JHNet Web Development
F12 Pinewood Square, Pinewood Office Park, 33 Riley Street, Woodmead
T: +27 11 234 6165 (Direct Ext 201) |Help Desk: support@jhnet.co.za<mailto:suppo

[2020-11-13 09:21] IlPizza79 commented on #24204
+1, thanks!

[2020-11-13 13:27] roykho commented on #27756
Hey @BeniAngel - thanks for testing. However in my test it is working as intended. I've force refreshed the browser several times in a row and then clicked "add to cart" button before everything else was loaded seen in this recording. ![](https://d.pr/i/08ArXm+) Can you please re-confirm you're indeed using the 4.7.1-beta.1.zip? And please tell us what your variable product setup looks like.

[2020-11-13 14:14] roykho commented on #26652
Hmm, I am not so sure this is an issue? If I am reading this correctly, it is by design? Because if you have "hold stock" time limit set, then it means any pending orders ( unpaid orders ) will still hold the stock for X amount of time ( whatever is set in the setting ). So even if you flip "on-hold" to "pending", that "hold stock" time limit is still in effect so will hold the stock until expired

[2020-11-13 15:05] diggeddy commented on #25461
Hi @juliaamosova

the absence of the width and height attributes means that the layout cannot be defined prior to those images being loaded. This has severe consequences for Googles new WebDev metrics, particularly CLS.

You can see the impact this has on the Storefront Demos Pagespeed Insight report:

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fthemes.woocommerce.com

[2020-11-13 15:34] juliaamosova opened #28272 "[WC 4.7 + WP 5.6 + PHP8 + 2021] Spacing issues with Twenty Twenty-One on the Additional Information tab"
Opening this issue on behalf of @ldr2273. Reference: pb22l9-an-p2.

**Testing Env:**
- Atomic ephemeral
- WP: 5.6-beta4-49590
- WC: 4.7.0
- PHP: 8.0.0RC3
- macOS
- Chrome
- 2021 theme

**Issue:**

Noticed some slight spacing issues with Twenty Twenty-One on the Additional Information tab:

![1](https://user-images.githubusercontent.com/19143190/99089771-b7dffb00-259b-11eb-98f2-8a95f3cc086c.png)

*

[2020-11-13 15:37] juliaamosova opened #28273 "[WC 4.7 + WP 5.6 + PHP8 + 2021] All Products view in wp admin - product images are stretched in 2021 theme"
Opening this issue on behalf of @ldr2273. Reference: pb22l9-an-p2.

**Testing Env:**
- Atomic ephemeral
- WP: 5.6-beta4-49590
- WC: 4.7.0
- PHP: 8.0.0RC3
- macOS
- Chrome
- 2021 theme

**Issue:**

All Products view does not look great with Twenty Twenty-One - images are stretched:

![2](https://user-images.githubusercontent.com/19143190/99090059-21600980-259c-11eb-8430-879dba6de6ab.png)

With Stor

[2020-11-13 15:39] juliaamosova opened #28274 "[WC 4.7 + WP 5.6 + PHP8 + 2021] Cart page: product images are stretched horizontally"
Opening this issue on behalf of @ldr2273. Reference: pb22l9-an-p2.

**Testing Env:**
- Atomic ephemeral
- WP: 5.6-beta4-49590
- WC: 4.7.0
- PHP: 8.0.0RC3
- macOS
- Chrome
- 2021 theme

**Issue:**

The cart page does not look great with Twenty Twenty-One - images are stretched (similar to https://github.com/woocommerce/woocommerce/issues/28273):

![4](https://user-images.githubusercontent.com/19143

[2020-11-13 15:41] juliaamosova opened #28275 "[WC 4.7 + WP 5.6 + PHP8 + 2021] Create an account option from checkout with Twenty Twenty-One can be easily missed and looks odd"
Opening this issue on behalf of @ldr2273. Reference: pb22l9-an-p2.

**Testing Env:**
- Atomic ephemeral
- WP: 5.6-beta4-49590
- WC: 4.7.0
- PHP: 8.0.0RC3
- macOS
- Chrome
- 2021 theme

**Issue:**

Create an account option from checkout with Twenty Twenty-One can be easily missed and looks odd.

Unchecked:

![5](https://user-images.githubusercontent.com/19143190/99090554-c975d280-259c-11eb-8cb7-f57

[2020-11-13 15:44] juliaamosova opened #28276 "[WC 4.7 + WP 5.6 + PHP8 + 2021] Reviews tab/option is missing in Twenty Twenty-One theme"
Opening this issue on behalf of @ldr2273. Reference: pb22l9-an-p2.

**Testing Env:**
- Atomic ephemeral
- WP: 5.6-beta4-49590
- WC: 4.7.0
- PHP: 8.0.0RC3
- macOS
- Chrome
- 2021 theme

**Issue:**

Reviews tab/option is missing with Twenty Twenty-One. It’s possible to leave comments with Twenty Twenty-One, but just not review comments:

2021 theme:

![7](https://user-images.githubusercontent.com/19

[2020-11-13 15:59] peterfabian commented on #27992
I see your point, yeah, that perhaps makes a bit more sense. cc @oneillo
Should we close this one, then and open issues for the extensions we're taking care of?

[2020-11-13 16:04] oneillo commented on #27992
@peterfabian makes sense. If we can get our owned extensions announcing when they are installed, starting with our top priorities, that would be helpful. Objective here was to provide visibility into one of the main paths for adding and activating extensions into Woo stores for future marketing automations / analyses.

[2020-11-13 16:08] peterfabian commented on #26652
I agree that it probably works as intended, but I also think our 'hold stock' feature is making people confused.

Maybe we should add some ways to surface this info to shop admins?

E.g. the note

could also say that the 3 items are held for X minutes for the payment

...and the stock level in _product edit_ screen could show how many items are held temporarily, etc. Maybe we can check with folks

[2020-11-13 16:26] Anoroc commented on #25498
Hi @Streeter1981
Did you ever find a solution to this? I've been experiencing the same issue for some time now. I've failed to find a realistic solution to the problem, and support (via Woocommerce or my host) haven't been able to produce a solution, either.

Thanks!

[2020-11-13 16:41] peterfabian commented on #28238
Thanks, great point Claudio. Let's wait until EOY and if nothing happens, let's migrate ourselves.

[2020-11-13 17:08] juliaamosova commented on #28260
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

Using the following env:

- Atomic ephemeral
- WP: 5.6-beta3-49552
- WC: 4.7.0
- PHP: 8.0.0RC3
- TwentyTwentyOne theme

I am getting the following:

![issue](https://user-images.githubusercontent.com/19143190/99099593-ac470100-25a8-11eb-8777-5f63b517adaa.jpg)

What I e

[2020-11-13 17:26] rodrigoprimo commented on #28239
WP 5.6 will switch from jQuery 1.x to 3.x but it will also include jQuery Migrate 3.x so there shouldn't be any breaking changes and nothing urgent that we need to address. That being said, at some point in the future, WP core plans to remove jQuery Migrate, so we need to start working on updating our jQuery code to be compatible with 3.x. I will create another issue for that.

[2020-11-13 17:26] #28239 closed

[2020-11-13 17:32] rodrigoprimo opened #28278 "Report and monitor performance regression in WP 5.6"
We found a performance regression while testing WP 5.6 beta 1 and reported it in the following ticket: https://core.trac.wordpress.org/ticket/51678. Using this issue to track the progress of the ticket and to make sure we test once a fix is available.

[2020-11-13 17:33] juliaamosova commented on #28261
Hi @gglobalstep,

Thanks for reporting the issue. The errors are coming from the `Fast Velocity Minify` plugin and need to be fixed by the plugin author:

![#28261](https://user-images.githubusercontent.com/19143190/99102661-5ecc9300-25ac-11eb-88ff-38bee072b455.png)

I am closing this issue as a non-WooCommerce issue.

[2020-11-13 17:33] #28261 closed

[2020-11-13 17:34] juliaamosova commented on #28262
Hi @gglobalstep,

Thanks for reporting the issue. The errors are coming from the `MiwoVidoes` plugin and need to be fixed by the plugin author:

![#28262](https://user-images.githubusercontent.com/19143190/99102777-90ddf500-25ac-11eb-834e-f0d8c0481f0d.png)

I am closing this issue as a non-WooCommerce issue.

[2020-11-13 17:34] #28262 closed

[2020-11-13 17:35] #28278 closed

[2020-11-13 17:35] rodrigoprimo commented on #28278
The WP core team opted to revert the change that introduced the performance regression and revisit it in a future version: https://core.trac.wordpress.org/ticket/51678#comment:37

[2020-11-13 17:35] juliaamosova commented on #28263
Hi @gglobalstep,

Thanks for reporting the issue. The errors are coming from the `OptinMonster API` plugin and need to be fixed by the plugin author:

![#28263](https://user-images.githubusercontent.com/19143190/99102881-b408a480-25ac-11eb-9039-4d20090704e0.png)

I am closing this issue as a non-WooCommerce issue.

[2020-11-13 17:35] #28263 closed

[2020-11-13 17:36] juliaamosova commented on #28264
Hi @gglobalstep,

Thanks for reporting the issue. The errors are coming from the `Video Conferencing with Zoom` plugin and need to be fixed by the plugin author:

![#28264](https://user-images.githubusercontent.com/19143190/99102980-def2f880-25ac-11eb-9f8c-b1fc4db9a049.png)

I am closing this issue as a non-WooCommerce issue.

[2020-11-13 17:36] #28264 closed

[2020-11-13 17:39] juliaamosova commented on #28265
Hi @gglobalstep,

Thanks for reporting the issue. The errors are coming from the `Woo Stripe payment` plugin (it is not a WooCommerce developer plugin: https://wordpress.org/plugins/woo-stripe-payment/) and need to be fixed by the plugin author:

![#28265](https://user-images.githubusercontent.com/19143190/99103068-fd58f400-25ac-11eb-9e2e-4bd3726295b0.png)

I am closing this issue as a non-WooComm

[2020-11-13 17:39] #28265 closed

[2020-11-13 17:40] juliaamosova commented on #28266
Hi @gglobalstep,

Thanks for reporting the issue. The errors are coming from the `CSV Viewer` plugin and need to be fixed by the plugin author:

![#28266](https://user-images.githubusercontent.com/19143190/99103355-735d5b00-25ad-11eb-8542-dd411cef6ec9.png)

I am closing this issue as a non-WooCommerce issue.

[2020-11-13 17:40] #28266 closed

[2020-11-13 18:12] juliaamosova commented on #28268
Hi @scrobbleme,

Thank you for submitting your request. Yep, there is no way to filter revenue/orders by the payment method at the moment. If we would implement it, it will be on the WooCommerce Admin side of things (where the `Analytics` section is being worked on). WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move yo

[2020-11-13 18:38] juliaamosova commented on #28255
Hi @hasomeri,

Thanks for reporting the issue. It is not clear yet if it is caused by WooCommerce or WPBakery Page Builder.

I am noting WP.org forum report as well as the request for the WP Bakery team to take a look:

https://wordpress.org/support/topic/woocommerce-4-7-broke-wpbakery/
https://themenectar.ticksy.com/ticket/2598842

[2020-11-13 18:40] Nebrassk commented on #13498
Just see the date and time of the device you are using

I lasted 6 hours solving the problem I wasted my time and when I ran out of patience, by chance, I tried changing the computer's time, as it was different, the problem was solved

[2020-11-13 18:51] juliaamosova commented on #28253
Hi @ajgw,

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27954. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-11-13 18:51] #28253 closed

[2020-11-13 18:57] juliaamosova commented on #28248
Hi @enriquesalazart,

Thanks for reporting the issue!

With the release of WooCommerce 4.0, these reports are becoming obsolete. There is a new and better Analytics section available for users running WordPress 5.3+. Learn more about the new experience in the [WooCommerce Analytics documentation](https://docs.woocommerce.com/document/woocommerce-analytics/).

Can you please check in the Analytics

[2020-11-13 19:08] juliaamosova commented on #28235
Hi @aupous,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested with both WooCommerce 4.5.2 and 4.7.

Here is how my product is set up (no main product image, no gallery images, only one of the variations have an image):

![var](https://user-images.githubusercontent.com/19143190/99110977-444ce680-25b

[2020-11-13 19:12] com2 opened #28279 "Alternative CSV product import delimiter not recognised"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
I used as delimiter symbol ¦ that normally does not appear on

[2020-11-13 19:13] juliaamosova commented on #28228
Hi @Jon-Rojas,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested using WooCommerce 4.7:

![](http://g.recordit.co/6UdlUtB2yJ.gif)

Can you please confirm if you tested your site for theme and plugins conflict. To do that, you’d need to deactivate all plugins except for WooCommerce and switch the de

[2020-11-13 19:23] juliaamosova commented on #28227
Hi @mcnaveen,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested using WooCommerce 4.7.

I created a new user with the `Customer` role and it got the ID number that is not zero:

![](http://g.recordit.co/hMHTiAffpn.gif)

You did not specify the steps to reduce the issue. Please clarify what steps ar

[2020-11-13 19:27] juliaamosova commented on #28225
Hi @nathanfeeney,

Thank you for submitting the issue. However, there is no SEO column in the `WooCommerce/Products` page by default - it is usually being added by a 3rd party plugin:

![Screen Shot 2020-11-13 at 2 24 44 PM](https://user-images.githubusercontent.com/19143190/99112783-36e52b80-25bc-11eb-8bfb-e49ebefe1183.png)

Have you tried to contact the author of the plugin that adds the SEO col

[2020-11-13 19:28] juliaamosova commented on #28224
Hi @raubv0gel,

Thank you for reporting the issue. It looks like it is being caused by WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-11-13 19:37] juliaamosova commented on #28220
Hi @wahsunny,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request for the `Facebook for WooCommerce` extension which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please contact the team that maintains

[2020-11-13 19:37] #28220 closed

[2020-11-13 19:38] juliaamosova commented on #28219
Hi @luzmarin,

Thank you for submitting the issue. However, the details you provided are not enough for us to take this issue any further.

Can you please specify what error message do you see when you are trying to install WooCommerce?

[2020-11-13 19:43] juliaamosova commented on #28218
Hi @frederikcs74,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested using WooCommerce 4.7 + WordPress 5.5.3:

![](http://g.recordit.co/UOBTvTGcsV.gif)

Can you please test with all the plugins deactivated on your site except for WooCommerce - can you replicate the issue when you turn off WooCommerc

[2020-11-13 19:45] bwallx opened #28280 "Product data options not visible in admin"
Ongoing issue - product data options not showing, just the headings. I've done EVERYTHING and no joy.

![2020-11-13 16_16_16-Edit product ‹ Ventura Gifts — WordPress and 1 more page - Personal - Microsoft​](https://user-images.githubusercontent.com/50273227/99114447-1edbcf00-25f1-11eb-9421-e67d555f8a84.png)

[2020-11-13 19:48] juliaamosova commented on #28280
Hi @bwallx,

Thanks for raising the issue and sorry to hear about the trouble.

Note that we have fixed this issue on the WooCommerce side of things in version 4.3.2 (https://github.com/woocommerce/woocommerce/pull/27170). However, this issue is present on sites using WC 4.3.2+ where the issue is caused by 3rd party plugins.

WordPress 5.5 removed a javascript file called jquery-migrate that some

[2020-11-13 19:49] juliaamosova commented on #28212
Hi @peretc001,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get help furt

[2020-11-13 19:49] #28212 closed

[2020-11-13 19:50] juliaamosova commented on #28211
Hi @pictureperfectmalta,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-11-13 19:51] juliaamosova commented on #28210
Hi @marcodadamo,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-11-13 19:56] juliaamosova commented on #28208
Hi @ornellapal,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested using WooCommerce 4.7:

![](http://g.recordit.co/czMRDyfwhB.gif)

Can you please confirm that you tested your site for theme and plugins conflict? To do that, you’d need to deactivate all plugins except for WooCommerce and switch the

[2020-11-13 19:57] bwallx commented on #28280
Thanks for quick response, but it doesn't help. I followed everything you suggested (I'd already done that several times, including staging) but it makes no difference. I tried several themes too.

My site is broken due to your programmers.

[2020-11-13 20:01] juliaamosova commented on #28205
Hi @pixelicous,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end. I tested with WooCommerce 4.7 + Storefront 2.9.0:

![](http://g.recordit.co/pyHvQjRBV5.gif)

Can you please confirm your environment details (WooCommerce version etc)? Also, it will be helpful if you could make a video to show the issue.

[2020-11-13 20:06] enriquesalazart commented on #28248
Thank you very much for your reply.
When reviewing the analytics reports, it gives an error when collecting the
data.

What could be the problem?
[image: image.png]
*ENRIQUE SALAZAR T*
*754 816 7986 USA*
*310 203 3480 COLOMBIA*
*PRISMAPIC*
*1733 MAYO ST UNIT 6 HOLLYWOOD FL 33020-USA*
*CALLE 142 9-47 INT 303 BOGOTA-COLOMBIA *

El vie., 13 de nov. de 2020 a la(s) 13:57, Julia Amosova (
notifications

[2020-11-13 20:07] contemplate commented on #28232
Wonder if this is related to this issue here people have started to see with Smart Coupons of 100% value:
https://wordpress.org/support/topic/error-processing-checkout-please-try-again-after-100-discount-2/

Following along.

[2020-11-13 20:07] mcnaveen commented on #28227
Hi, My issue is happening when the order is placed from user end. Not when creating customer from dashboard.

Note: I have turned off *Account Creation on Checkout*

[2020-11-13 20:08] ajgw commented on #27954
@peterfabian I can not agree with you because only devs are able to add a filter into functions files of theme. Most of my clients are not able to do so. On the other hand I use often product bundles and bundle items are hidden from catalog too, if do not want to show product pages from single bundled items. Same is for grouped products were grouped items do not have to show up in catalog. Such it

[2020-11-13 20:34] claudiosanches commented on #28232
Hello @bhubbard,

While fixing other bug we had to change the logic to use the Order Object instead the Cart, so now you should use `woocommerce_order_needs_payment` filter.

[2020-11-13 20:38] juliaamosova commented on #28232
Hi @bhubbard,

It looks like the issue is resolved in this thread so I am going to ahead and close it. However, please feel free to comment back in case I missed something. We'd be happy to take another look.

[2020-11-13 20:48] roykho commented on #26475
Did a bit of initial digging into this and I believe the current behavior might not be the best approach. Currently we are assuming the purchased downloaded product does not change in terms of the product type or even if the downloadable file gets removed.

I agree with Phil.

IMHO A customer order should not be dependent on a product once it has been purchased. All the data that is stored with th

[2020-11-13 21:01] claudiosanches commented on #28232
I started a Pull Request to keep it backwards compatible, but please note that while I'm making it backwards compatible no one should use the cart object on that part of the checkout since isn't reliable and 3rd party extensions should use the order object, and `woocommerce_order_needs_payment` filter.

[2020-11-13 22:19] masteradhoc commented on #28131
@juliaamosova could you also doublecheck this? Thx

[2020-11-13 22:24] rockythemes commented on #28255
Hi Guys,

Kicking in on this, with a small workaround.

By disabling Gutenberg editor under WP Bakery Page Builder -> General Settings -> Disable Gutenberg Editor, the Front End editor will work fine. The only downside is that the Gutenberg editor won't be used.

Thanks @juliaamosova for sharing the resources.

[2020-11-13 23:02] anothercreative commented on #21649
**+1**

We are experiencing the same issue.

[2020-11-13 23:02] anothercreative commented on #26422
+1

We are experiencing the same issue

[2020-11-14 06:46] pradsm commented on #28255
Hi All,

I can confirm this fault too by [hasomeri]
I can also confirm work around by [rockythemes]

thank god Im OK at googling and finding this, so im not going mad,  and someone who found a work around

[2020-11-14 07:34] wpniall opened #28282 "Duplicate categories on Shop page"
**Prerequisites:**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When you set the Shop page to display categories, it displays the categories twice no matter what other settings you change.

**Expected behavior**
Categories should only b

[2020-11-14 09:47] BusinessBloomer commented on #27867
Until that's fixed, I managed to find a workaround and override the class: https://www.businessbloomer.com/woocommerce-multiple-paypal-accounts/

Tested and it works, but please be careful if you wish to use this on a live site

[2020-11-14 10:30] attitude commented on #24988
Hi there! No combination of the above worked for me. If I got it right all you need to do is to *take care* for the *lightbox* yourself in you theme. And you do that (as I understand it) by defining your own function `woocommerce_photoswipe()`.

Luckily there's a condition just for that on `wp-content/plugins/woocommerce/includes/wc-template-functions.php:3356`:

[code]

I've put an empty function

[2020-11-14 11:34] hasomeri commented on #28255
Hi

Do you have the link?

Mike

From: pradsm [mailto:notifications@github.com]
Sent: 14 November 2020 06:47
To: woocommerce/woocommerce
Cc: hasomeri; Mention
Subject: Re: [woocommerce/woocommerce] WooCommerce version 4.7.0 causes display issues with WPBakery Page Builder 6.4 and lower (#28255)

Hi All,

I can confirm this fault too by [hasomeri]
I can also confirm work around by [rockythemes]

th

[2020-11-14 11:59] zdenys opened #28283 "Filter Products by Rating: No visual indication of the selected rating"
**Prerequisites:**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When selecting a rating in Filter Products by Rating widget by clicking it, there is no visual indication of it being selected besides the URL change where `?rating_filter=X`

[2020-11-14 13:03] addedlovely commented on #28213
Am also trying to add a specific variation to the cart, using an ?add-to-cart=<< variation ID >> link - with one attribute set to 'any'. And am receiving the same validation message.

[2020-11-14 13:08] rockythemes commented on #28255
Mike you can simply install Classic Editor plugin and activate it and it will solve the problem. Apparently it's an issue with WooCommerce new module for Gutenberg, incompatible with WP Bakery Front End editor.

You can also disable Gutenberg editor under WP Bakery -> General Settings.

[2020-11-14 13:38] KoenraadMoreau commented on #18045
We also need to add :
1° Brand
2° Translator
3° Illustrator
4° ISBN
5° Number of pages
It should be useful.
There is a plugin for that, but its not released since the beginning : https://wordpress.org/plugins/woo-load-group-attributes-product/

[2020-11-14 14:39] MohsinQK commented on #27935
@AashikP downgrade your woocommerce version to 4.4 and then try.

check my this comment i have tried it and it worked in older version of woocommerce

[2020-11-14 15:33] rodrigoprimo opened #28284 "Check JS libraries included in WooCommerce core to ensure they are compatible with jQuery 3"
We need to make sure that all external JS libraries that are included in WooCommerce and that rely on jQuery are compatible with jQuery 3 before WP removes jQuery Migrate 3. We should also take this opportunity to explore where we can remove jQuery usage entirely, and switch to either vanilla JS, or something provided via the more modern stack that comes with Gutenberg. Specially considering that

[2020-11-14 15:34] rodrigoprimo opened #28285 "Check WooCommerce core JS code to ensure compatibility with jQuery 3"
We need to make sure all WooCommerce core code that relies on jQuery is compatible with jQuery 3 before WP core removes jQuery Migrate 3.

[2020-11-14 15:34] rodrigoprimo opened #28286 "Ensure WooCommerce is compatible with jQuery 3"
[WP 5.6 will ship with jQuery 3](https://href.li/?https://make.wordpress.org/core/2020/11/05/updating-core-jquery-to-version-3-part-2/). It will also include jQuery Migrate 3, so this change should not impact WooCommerce JS code in any way. That being said, we need to start working to make sure our code is fully compatible with jQuery 3 as [WP plans to remove jQuery Migrate 3 in a future version](

[2020-11-14 16:35] frederikcs74 commented on #28218
Hi Julia,

Thanks for getting back to us.

I did what you suggested and deactivated all plugins on my site except for WooCommerce. The left WP navigation menu remains blocked. The button Collapse and Uncollapse isn’t responding.
As soon as I deactivate WooCommerce the menu uncollapses and the button Collapse and Uncollapse responds properly.

I found these two articles reporting the same issue:
ht

[2020-11-14 18:28] goschka commented on #27756
Hey @roykho: I have the same issues and have just tested the 4.7.1 beta version and it works:

- **Test with 4.7.0**: hit ctrl+F5 several times and tried to click on "add to cart" button, was successful at 00:25. The main product is added to the cart. [Link to the screencast](https://jumpshare.com/v/9mxveaVz2C4sL4bSj9dB).

- **Test with 4.7.1**: hit ctrl+F5 several times and tried to click on "add

[2020-11-14 19:41] tanishbaansal commented on #27688
can someone please fix this issue .. its really frustrating

[2020-11-14 20:58] ThierryNK commented on #25040
Hi

I am new here, so maybe my question is stupid... Topic has "vote needed" label. But I cannot find a vote link/button?

Several of my clients would like to have their total sales for each variation of their variable products.

Kind regards

[2020-11-15 11:35] AmitAzran commented on #22670
The same problem with me in some orders, how do you check what variation the customer has chosen after that? Do you contact them? Please fix this problem because I'm really worried when I get an order ..
![Capture1](https://user-images.githubusercontent.com/20659768/99183800-2c0ad200-2747-11eb-902c-781ae7c87de9.PNG)

[2020-11-15 16:18] axcar95 opened #28289 "Add to cart button stuck when clicking once in turquazarts.com"
When i open a product page and clicked the add to cart button it became stuck and disabled i cant add to cart again if i want to do it again. İf i enter the variations wrong i cant change it because both variations tab and add to cart button remains disabled and didnt work unless i refresh the page
![IMG_20201115_191739](https://user-images.githubusercontent.com/48660460/99190387-5d9b9180-2777-11e

[2020-11-15 16:58] selectedselections commented on #27935
I wanted to add that this issue was reported again and I was also able to reproduce. The red variation of this test product appears in filtered results while the red variation isn't available on the single product page:

![https://d.pr/i/S6jIb1](https://d.pr/i/S6jIb1+)
Direct Link: https://d.pr/i/S6jIb1

![https://d.pr/i/Yc9hdU](https://d.pr/i/Yc9hdU+)
Direct Link: https://d.pr/i/Yc9hdU

[2020-11-16 02:14] AashikP commented on #27935
@MohsinQK Thank you for confirming you can replicate this on the latest version.

[2020-11-16 09:05] kachmul2004 opened #28290 "Cannot remove an item from the cart page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-16 10:28] slaFFik opened #28291 "PHP Warning: A non-numeric value encountered in class-wc-report-sales-by-date.php on line 254"
**Prerequisites (mark completed items with an [x]):**
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
With WP_DEBUG being set to false (production environment) we got this PHP Warning:

[code]

**Expected behavior**
There should be no PHP Warnings at any time.

**Steps to reproduce the bug (We need to be able to reproduce the

[2020-11-16 13:34] vasikgreif opened #28292 "Wrong cart subtotals due to rounding"
I have a product, that due to the Woo Mutilingual currency conversions has total price `301.90909`. The tax rate is 23%, so the product price is `245.454545` and tax `56.454545`.

The store is set to display `0 decimals`, on the product page I see the price `302 PLN`. When I add the product to the cart, I get wrong subtotal `301 PLN`. When I go to checkout, the cart subtotal is `301 PLN`, and the

[2020-11-16 15:03] appleonkel commented on #27744
Problem was caused in WooCommerce Dynamic Pricing & Discounts and is fixed there.

[2020-11-16 15:03] #27744 closed

[2020-11-16 15:13] tammullen commented on #27972
(Adding the related orginal issue for context https://github.com/woocommerce/woocommerce/issues/26248)

[2020-11-16 15:29] jacobtilly opened #28293 "WC_Order::set_status and WC_Order::update_status not working – changing to incorrect post_status"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When updating order status using the set_status() function, the database is incorrectly updated without the necessary wc-prefix.

The code

[2020-11-16 15:59] ivankozlik commented on #27030
Hi! Any feedback on this issue? This is totaly critical for our business and we're waiting for the fix. Thx!

[2020-11-16 16:11] mathiasdb opened #28294 "In stock format when changing low stock amount on product lvl"
**Prerequisites**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I have the following settings in my WP Admin: WooCommerce > Products > Stock:
- [x] Manage stock
- [x] Hold stock for 30 minutes
- [x] Low stock notifications
- [x] No stock n

[2020-11-16 17:26] aresrioja10 commented on #27752
Same bug here. Have you found some solution?

[2020-11-16 17:51] michaeljnissen commented on #23556
+1 - however, this must be optional in my opinion, as there are both arguments in favor and against the use of explicit house numbers:

In my experience, there are two key reasons to add this field:

- Shipping providers deal with house numbers seperately (e.g. DHL). In this case, the address line 1 must be parsed manually to separate street and house number. I had a project a couple of years ago

[2020-11-16 17:52] rrennick opened #28297 "Warning in customizer"
**Describe the bug**
Support forum report: https://wordpress.org/support/topic/warning-sprintf-class-wc-shop-customizer-php/

https://github.com/woocommerce/woocommerce/blob/master/includes/customizer/class-wc-shop-customizer.php#L535

- The `sprintf()` placeholder should have the positional argument
- The plugin URL should be directly to `wordpress.org` instead of the locale subdomain

This issue

[2020-11-16 18:07] cfficaurzua commented on #27329
I find out that the function only has one parameter. It's not very clear in the documentation.
[code]

[2020-11-16 18:29] WhoopDav commented on #23556
I gave up on this quite some time ago, as WooCommerce did little in the way to communicate on this issue. I have since seen that the official DHL plugin for WooCommerce does a great job at separating the Street no. from the street name, in most cases. So now we just use the WC functionality with no extra plugins.

[2020-11-16 18:37] wzpsolutions commented on #23556
I would also find it better if the fields were separated. This is standard for other shop systems. Unfortunately, it happens again and again that the customer forgets to enter the house number. At the customer's request, we had to separate them individually in several shops.

[2020-11-16 18:41] WhoopDav commented on #23556
Those customers who forget to add a house number are often the same that add the wrong house number. It seems impossible to make 100% of customers provide correct shipping addresses :)

[2020-11-16 19:13] B3DTech opened #28299 "Refund shows doubled but not actually"
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Customer placed an order.  I needed to refund the shipping and associated tax.  The refund was properly processed, Stripe shows the correct refund amount.

WooCommerce shows two line items for

[2020-11-16 19:31] michaeljnissen commented on #23556
I actually noticed that WooCommerce does not supply the same text as label and placeholder in the respective "street" input (see my [blog post with screenshots](https://michaelnissen.de/2020/11/16/woocommerce-hausnummer-im-kaufprozess-abfragen/) on this issue - in german however). As placeholder, it uses "Street name and house number" - however the respective label only reads "Street". As soon as

[2020-11-16 21:12] juliaamosova opened #28300 "Break down top high priority Critical Flows into smaller use cases and document them"
Break down our [Critical Flows](https://github.com/woocommerce/woocommerce/wiki/Critical-Flows) into smaller use cases and document them in Wiki.

Start with the following top high priority flows:

- [ ] Merchant - Orders - View single order
- [ ] Merchant - Orders - Update order status
- [ ] Merchant - Orders - Update order details
- [ ] Merchant - Orders - Customer payment page
- [ ] Merchant -

[2020-11-17 05:59] om4james commented on #27783
Hi @SchwannK , please [reach out to us directly here](https://om4.io/woocommerce-zapier-documentation/support/) so we can assist you in detail. Thanks!

[2020-11-17 08:30] preston-dvorak opened #28301 "Coupon discount amount calculated differently when coupon is applied, then removed, and then reapplied"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When adding a coupon to a new order being created in the admin area, the discount amount changes if you apply the coupon, remove it, and th

[2020-11-17 09:21] peterfabian opened #28302 "Twenty Twenty One shop page"
Please ensure the 2021 shop page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] test with nonsquare product image and missing image
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] adding to cart behaves nicely (i.e. there is feedback for the customer, button behaves as expected)

Make sure the transitions between the layout

[2020-11-17 09:21] peterfabian opened #28303 "Twenty Twenty One single product page"
Please ensure the 2021 single product page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] test with nonsquare product image and missing image
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] tabs with description works fine
- [ ] reviews and star rating looks good
- [ ] variable product tested
- [ ] simple product tested
- [

[2020-11-17 09:21] peterfabian opened #28304 "Twenty Twenty One cart page"
Please ensure the 2021 cart page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] test with nonsquare product images (narrow and horizontally wider) and missing image
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] empty cart
- [ ] cart with some products
- [ ] can apply coupon code and it looks good
- [ ] notices look good (

[2020-11-17 09:21] peterfabian opened #28305 "Twenty Twenty One checkout page"
Please ensure the 2021 checkout page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] test with nonsquare product image and missing image
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] select2 dropdown for countries looks good
- [ ] proportions of address vs product overview is nice
- [ ] can apply coupon code and it looks g

[2020-11-17 09:21] peterfabian opened #28306 "Twenty Twenty One My Account page"
Please ensure the 2021 My Account page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] proportions of content vs navigation looks good, respects colors, etc

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode but the res

[2020-11-17 09:21] peterfabian opened #28307 "Twenty Twenty One Order received page"
Please ensure the 2021 order recieved page (the one that appears after the order has been submitted/paid) looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode but the rest of the

[2020-11-17 09:24] peterfabian opened #28308 "Twenty Twenty One home page"
Please ensure the 2021 home page (similar to what storefront creates) looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] test with nonsquare product images (narrow and horizontally wider)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in na

[2020-11-17 09:24] peterfabian opened #28309 "Twenty Twenty One product category page"
Please ensure the 2021 product category page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] ~~dropdown for sorting looks good~~
- [ ] ~~adding to cart behaves nicely -- indication of button press, etc~~

Make sure the transitions between the layout widths look sensible (e.g. if the

[2020-11-17 09:25] peterfabian opened #28310 "Twenty Twenty One My Account - orders page"
Please ensure the 2021 My Account > Orders page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] table proportions are sensible
- [ ] buttons are aligned
- [ ] individual order view (Order Details) looks good

Make sure the transitions between the layout widths look sensible (e.g. if

[2020-11-17 09:26] peterfabian opened #28311 "Twenty Twenty One My Account - Downloads page"
Please ensure the 2021 My Account > Downloads page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] proportions of table vs navigation is nice
- [ ] buttons are aligned

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode

[2020-11-17 09:26] peterfabian opened #28312 "Twenty Twenty One My Account - Addresses page"
Please ensure the 2021 My Account > Addresses page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] proportions of address fields is nice
- [ ] can update addresses

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode but

[2020-11-17 09:26] peterfabian opened #28313 "Twenty Twenty One My Account - payment methods page"
Please ensure the 2021 My Account > Payment methods page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode but the rest of the content in wide layout mode, it might be suboptim

[2020-11-17 09:26] peterfabian opened #28314 "Twenty Twenty One My Account - Account details page"
Please ensure the 2021 My Account > Account details methods page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode but the rest of the content in wide layout mode, it might be

[2020-11-17 09:27] peterfabian opened #28315 "Twenty Twenty One log in page"
Please ensure the 2021 Log In page looks good:

- [ ] wide screen layout
- [ ] middle screen layout (e.g. ipad)
- [ ] narrow screen layout (e.g. iphone)
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] possible notice looks good (e.g. when password is invalid)

Make sure the transitions between the layout widths look sensible (e.g. if the menu is still in narrow layout mode but the rest of the conten

[2020-11-17 12:22] aresrioja10 commented on #27768
Same problem here. Have you found any solution? I can't upgrade Woocommerce :(

[2020-11-17 12:57] tammullen opened #28316 "Update readme "Tested up to:" for WordPress 5.6"
**Describe the solution you'd like**
Update the readme `Tested up to:` section for WordPress 5.6

This will in turn update the info on `wordpress.org/plugins/woocommerce`
![Screenshot_2020-11-17_at_12_53_30](https://user-images.githubusercontent.com/24649833/99392876-576ef780-28d4-11eb-8f93-7da33f642f54.png)

It should also update the info on the plugins section of `wp-admin/update-core.php`
![Scr

[2020-11-17 13:25] anttieklund opened #28317 "javascript disabled - variation dropdown validation error"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
With Javascript disabled, the validation for variation dropdown fields is not working as expected.

**Expected behavior**
Should get a Wooc

[2020-11-17 13:40] itallogravina commented on #27768
I made a connection with the postman, just to generate the specific token. So just use the token for everything, I used this as a reference https://code.tutsplus.com/tutorials/wp-rest-api-setting-up-and-using-oauth-10a-authentication--cms-24797

[2020-11-17 13:45] peterfabian opened #28318 "Rethink how and when the shop (and other) pages are getting created"
**Is your feature request related to a problem? Please describe.**
It's confusing for many users, e.g. if they once installed WC in the past, now install it again, but the pages won't get created, etc.

**Describe the solution you'd like**
Maybe run it automatically on activation if the pages are missing, or add an inbox notification with a link to create them?

**Describe alternatives you've cons

[2020-11-17 14:00] mlundbyshop commented on #25524
I am not a programmer but I don't understand why you cannot utilize the same fix as the one that have been available for over 5 years on Shopify. A script run every 5-10 minutes and for anything in stock it ads a tag i.e. for T-shirts cf-XS, cf-S etcetera then the filter is hooked up so it will show any tags with "cf-" as prefix as choices on the webshop. Its super light with no noticeable effect

[2020-11-17 14:05] aheckler opened #28319 "Defensive defaults for wc_date_format and wc_time_format"
**Is your feature request related to a problem? Please describe.**

WP core does not warn users when they select a custom date or time format, but leave the text box blank, like so:

![Markup 2020-08-26 at 15 33 03](https://user-images.githubusercontent.com/5512652/99399134-3f3ab080-28b3-11eb-959e-be545e7339ce.png)

This can cause issues with our plugins, e.g. Bookings example: 2930-gh-woocommerce

[2020-11-17 14:42] AlexP11223 opened #28320 "WC 4.7 installation via Composer fails"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
We cannot install WC via Composer since WC 4.7.0.

**Expected behavior**
Successful WC 4.7 Composer package installation.

**Actual behavio

[2020-11-17 15:23] juliaamosova opened #28321 "[WC 4.8 beta + WP 5.6 beta4] Fatal Error when testing with Gutenberg: allowed memory size"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

I tested WC 4.8 beta with WP 5.6 beta4 (with PHP 7.4.12) on JN site + Gutenberg plugin and came across the following Fatal Errors:

[code]

[2020-11-17 15:32] zdenys commented on #27756
Another case: 25699402-hc. I informed the user it'll be fixed in the next WooCommerce update. I mentioned they can try the beta version from above.

[2020-11-17 15:54] juliaamosova opened #28323 "[WC 4.8 beta + WP 5.6 beta4] Fatal Error when testing with Gutenberg + Creative Mail by Constant Contact + Product Bundles: allowed memory size"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

I tested WC 4.8 beta with WP 5.6 beta4 (with PHP 7.4.12) on JN site + Gutenberg plugin +  Creative Mail by Constant Contact (offered to be

[2020-11-17 15:54] roykho commented on #28319
Hey @aheckler - So I think the reason WP core allows you to do this is because some people don't want to show date or time on their site. While this not as big of a deal for blog posts, I would imagine they would need date/time for an ecommerce site.

With that said, would adding in a default here override the intended behavior of allowing people to not show date/time if they really wanted? Perhap

[2020-11-17 16:03] claudiosanches commented on #27756
@goschka thanks for confirming that this fix works.

[2020-11-17 16:53] helgatheviking commented on #27984
@claudiosan Still experiencing https://github.com/woocommerce/woocommerce/issues/27984#issuecomment-718058407 with PHP 7.4 (on Windows Linux subsystem WSL 1.. though most of the time it runs all Linux commands just fine).

[2020-11-17 17:09] timmyc commented on #28323
@juliaamosova do you happen to know which version of Gutenberg was installed? I saw p9o2xV-19h-p2 yesterday so wasn't sure if it might be related or not.

[2020-11-17 17:10] juliaamosova opened #28324 "[WC 4.8 beta + WP 5.6 beta4] Deprecation Warning with MailChimp activated: `Automattic\WooCommerce\Admin\Notes\WC_Admin_Notes::get_note`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

I tested WC 4.8 beta with WP 5.6 beta4 (with PHP 7.4.12) on JN site + MailChimp plugin and came across the following Deprecation warning:

[2020-11-17 17:27] juliaamosova commented on #28323
@timmyc yep, I have Gutenberg 9.3.0 installed on the site where the error happened.

[2020-11-17 17:29] aheckler commented on #28319
Agreed.

I mean... I guess this does change the current behavior for people who have blank date/time formats on purpose. But doing that _on an ecommerce site_ seems like an extreme edge case. You even agreed with me above. 😛

If someone actually needs empty date/time formats, they can use the available filters like so:

[code]

Well, yes, but that would be a core WP fix right? This is something we

[2020-11-17 17:43] roykho commented on #28319
I am 50/50 on this however the argument here is that you're forcing a date/time for them when the intended design of having empty `Custom` field affords them the ability to hide it.

So it comes down to is it easier for them to just add in a date string format when they want to use a custom format or is it easier for them to add code using the filter to hide the date/time. I would say the former.

[2020-11-17 17:49] aheckler commented on #28319
That is true, but having empty formats with WC isn't just a cosmetic issue. It actually breaks things:

- Bookings: 2930-gh-woocommerce/woocommerce-bookings
- Subscriptions: 3489058-zen
- Probably lots more

This change makes WC resilient to that, while still allowing people to blank out the formats if they wish, via the filters.

[2020-11-17 18:15] juliaamosova commented on #28321
Noting here that if I deactivate WooCommerce but keep Gutenberg active, I am still getting the error. Slightly similar but it is there:

[code]

Noting this tread as well for the reference in case it is helpful: p9o2xV-19h-p2.

[2020-11-17 18:17] juliaamosova commented on #28323
Noting here that if I deactivate WooCommerce but keep Gutenberg and Creative Mail by Constant Contact plugins active, I am still getting the same errors:

[code]

[code]

[2020-11-17 18:47] juliaamosova commented on #28324
This issue needs to be fixed on the MailChimp side of things. Closing this issue in favor of the one I opened in MailChimp repo: https://github.com/mailchimp/mc-woocommerce/issues/729.

[2020-11-17 18:47] #28324 closed

[2020-11-17 19:27] CaldwellYSR opened #28325 "Downloadable products of HTML files not visible after purchase"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
`$product->get_downloads()` when logged in as an Administrator returns ` array(1) [WC_Product_Download]` which is correct but when logged i

[2020-11-17 19:57] CaldwellYSR commented on #28325
Just to be certain I was clear. When we run through the test checkout project with an administrator account the whole flow goes as expected. We can see downloads available in all the places they should be. It only doesn't work for Customer users.

[2020-11-17 20:03] mtzaniko opened #28326 "HTML code in cells in/checkout/order-pay/5673/?pay_for_order unexpected"
As i can see this page is the output of file form-pay.php.The page fills cell of woocommerce order with code instead of the real
![Untitled](https://user-images.githubusercontent.com/26947404/99441498-9f1b7080-2920-11eb-8e9e-f8f3ce388915.png)
values.

[2020-11-17 20:07] juliaamosova opened #28327 "[WC 4.8 beta + PHP 8.0RC3] Atomic: Critical error when trying to select a theme other than current during OBW"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

I tested this issue on an Atomic ephemeral site with WC 4.8 beta + PHP 8.0RC3. Nothing was installed on Atomic (no checkboxes were selecte

[2020-11-17 20:09] juliaamosova commented on #28327
Noting that this issue could be related to p9o2xV-185-p2 but I did not have `wpcomsh` set up on the site.

[2020-11-17 20:19] ratzrattillo commented on #26990
Thank you very much for getting back to me on this topic.
Are you planning to integrate custom attributes of variations within woocommerce core?
Which extension did you use to create your example above? Or was this done without an extension?

Thank you for the support!

[2020-11-17 21:56] brandonpayton commented on #28327
Hi @juliaamosova,

This is a known issue in core that has been fixed for the WordPress 5.6:
https://core.trac.wordpress.org/changeset/48839

It was fixed under a big PHP 8.0 compatibility ticket:
https://core.trac.wordpress.org/ticket/50913

[2020-11-17 22:08] juliaamosova commented on #28327
Thank you for your help with this issue @brandonpayton!

[2020-11-17 23:33] sprecherbrewery opened #28328 "WC Priority 2 Tax taxing Priority 1 tax"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

- I am running WC 4.7, just recently updated from 3.1
- WP 5.6.

[2020-11-18 05:27] mcnaveen opened #28329 "order.created webhook fires multiple times"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
order.created webhook fired multiple times
**Expected behavior**
Fire only once when the order is created.
**Actual behavior**
All of sudde

[2020-11-18 05:32] mcnaveen commented on #28329
### Complete log of Webhook Trigger

<details>
[code]
</details>

[2020-11-18 07:15] #28326 closed

[2020-11-18 08:16] mcnaveen commented on #28329
Here is what happened. While testing the automation. I set the flow to an active state which creates multiple webhook entries.

The issue is not related to WooCommerce.

[2020-11-18 08:16] #28329 closed

[2020-11-18 09:36] #28317 closed

[2020-11-18 10:30] pmcpinto commented on #28318
I think that automatically creating the Woo pages in any case probably is the easiest solution. @elizaan36 what do you think?

[2020-11-18 10:49] lkraav commented on #28318
I would definitely avoid auto-creating due to risk of spam, for example in development sites where de-/reactivation cycles can be multiples.

Just re-triggering "Create pages?" opt-in admin notification is the sane move, methinks.

[2020-11-18 11:02] aidvu commented on #28327
You can also download latest WP and extract it to test. Might be worth confirming, instead of waiting for WP 5.6.

Think this should work. :)

[code]

[2020-11-18 14:12] omanuela commented on #27752
Hi, yes, I found the solution that worked for me.

There was a custom plugin that was registering custom REST endpoints the old way (using the "init" action).  Changing this so that these are registered using the "rest_api_init" action instead solved the issue.

[2020-11-18 14:42] juliaamosova commented on #28327
@aidvu thanks! And yep, we are going to test this to make sure everything works with WP 5.6. We've been using the following so far to get WP:

[code]

But I think your commands will always pool the latest WP dev version without the need to specify the version which is more convenient.

[2020-11-18 14:49] aidvu commented on #28327
Right. Unzip, not tar. :)

[2020-11-18 15:09] aresrioja10 commented on #27752
It works! Thank you so much!

[2020-11-18 15:10] wpniall commented on #28282
Another report on: 15379946-hc

[2020-11-18 16:59] ironicmoka commented on #27030
Waiting feedback here too, experiencing the same problem.

[2020-11-18 18:09] rodrigoprimo commented on #28183
I went through WooCommerce critical flows while running WP 5.6 RC 1 and found no issues.

[2020-11-18 18:09] #28183 closed

[2020-11-18 18:12] rodrigoprimo opened #28331 "Check WooCommerce critical flows running WP 5.6 final"
WP 5.6 final is scheduled to be released on December 8. Once it is available, we need to check it against WooCommerce critical flows to make sure that everything is working as expected.

[2020-11-18 18:18] #28328 closed

[2020-11-18 18:19] sprecherbrewery commented on #28328
Looks like the update flipped my level 2 tax rates to compound. So its a non-issue

[2020-11-18 18:29] ObliviousHarmony commented on #28142
Just noting that we're waiting until the week of November 30th for this to ensure all interested parties can participate.

[2020-11-18 18:47] juliaamosova commented on #27030
Hi @ivankozlik and @ironicmoka! Thanks for your follow-ups. And apologies for the time it takes us to fix the issue.

This issue is marked as a `high` priority, however, which means we'd get to it soon. I don't have a specific timeline to provide but you can filter all the issues by `high` priority to see how many we have and where each issue is in the line to be resolved. We usually work on fixin

[2020-11-18 20:12] paulbreco opened #28334 "Woocommerce SKU Variation"
I have an issue in my Woocommerce in all my products,

When I try to select a variation, and add to cart It shows "no stock", for that product.
![image](https://user-images.githubusercontent.com/50209255/99581995-7bebd200-29af-11eb-84f0-cf7268960a3b.png)

The button of add to cart is using the parent SKU or product ID (i don't know) instead of the variation SKU,
I have this configuration:
![image]

[2020-11-18 20:15] CaldwellYSR commented on #28325
UPDATE:

After some digging and some help from a coworker I believe we have found the issue. We were trying to use HTML files as our downloadable products. The download process works as expected for `.jpg` and `.pdf` files but silently fails for `.html` files.

[2020-11-18 20:23] tammullen commented on #28327
I tried to reproduce using the same setup of Vanilla ephemeral atomic with PHP 8.0 RC3, WooCommerce 4.8 Beta 1 but this time with the new WordPress 5.6 RC1.

I was able to Choose and install Storefront from the Live Demo page with no related console errors (those in my screenshot are related to a known Jetpack issue) or site errors.

![Screenshot_2020-11-18_at_20_11_47](https://user-images.githubu

[2020-11-18 20:23] #28327 closed

[2020-11-18 20:27] rrennick commented on #28291
@slaFFik That warning is specific to PHP 7.4 from having an arithmetic calculation performed on a string. The calculation should be fixed to eliminate the DEBUG warning. But, it being logged with WP_DEBUG set to false is a WP core issue between WP_DEBUG and PHP 7.4.

[2020-11-18 21:54] tammullen commented on #28321
I was able to reproduce this on a new site with just Gutenberg 9.3.0 and WP Beta Tester running WP 5.6 RC 1 installed, no other plugins.
![Screenshot 2020-11-18 at 21 52 35](https://user-images.githubusercontent.com/24649833/99592691-7068cd00-29e8-11eb-9e28-1994c243b464.png)

Upgrading to Gutenberg 9.4.0 fixed the problem.
![Screenshot 2020-11-18 at 21 52 52](https://user-images.githubusercontent.

[2020-11-18 22:02] juliaamosova commented on #28327
@tammullen thanks for testing! I actually did not test with WP 5.6 which explains why I was having an issue. I only had PHP 8.0 and WC 4.8 beta1 but left WP stable on the site.

[2020-11-19 01:13] beaulebens commented on #28318
A contextually-relevant point to prompt users for this might be when they go to edit products, or do other things specifically related to their store. We could then say something along the lines of "Looks like you're working with products, but your store isn't set up properly yet, would you like to [create the pages required for your store]?"

[2020-11-19 02:20] #28232 closed

[2020-11-19 03:49] elizaan36 commented on #28318
I agree that this is confusing and automatically creating the pages will make it easier to achieve store setup.

The settings to define these pages are hidden in *Settings > Advanced* with a vague description, "These pages need to be set so that WooCommerce knows where to send users to checkout." It's hard to understand so I can imagine a new user being stumped by this settings area.
<img width="1

[2020-11-19 04:30] Dayani123 opened #28336 "Order Number & Date are not send Properly to Customer"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-19 10:16] bartekmiturafrontkom commented on #27026
Hello @vedanshujain @juliaamosova

An update on the status will be greatly appreciated - I think it's safe to say that thousands of people are experiencing this bug and it affects the critical functionality, big time - including me and the client with whom I work.

Looking forward to hearing from you.

[2020-11-19 10:29] lkraav commented on #28318
"Spam" here means auto-created pages that user doesn't want and probably ends up deleting every time they re-appear.

For example, we don't use WC core Shop page functionality at all - we build our own custom catalog.

To avoid any confusion, we delete all unused pages. WC pages magically reappearing with plugin activation cycles would be an annoying change.

[2020-11-19 13:33] paulbreco commented on #28334
I manage to solve the problem changing the theme it was old, it wasn't update since 1 year ago.

[2020-11-19 15:00] rrennick commented on #25040
Add a +1 emoji to the issue description.

[2020-11-19 15:05] ivankozlik commented on #27030
Hi @juliaamosova,

By this tempo this issue will bi fixed in 2022. I don't understand how could this be even an issue?

[2020-11-19 15:28] jorgeatorres commented on #27828
@rrennick: I'm also seeing this warning when using coupons with PayPal Checkout given we try to read `type` (and other properties) using the [array access syntax](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/ed4161e96d7c139b1b331c4123f269c766acb1e8/includes/class-wc-gateway-ppec-client.php#L868-L878).
I'm going to update this code, but I was wondering what was th

[2020-11-19 15:45] roykho commented on #27990
Ok so having spoke with Woo Data team, thanks (@deltaWhiskey) and @oneillo , we've decided this information is best added to WC Tracker instead of Tracks. The reason being we only really need this information in an aggregated snapshot fashion and not necessarily in every event that happens in WC.

So all the information needed in the request is actually already passed to WC Tracker. Will be closin

[2020-11-19 15:45] #27990 closed

[2020-11-19 15:49] gglobalstep opened #28337 "[GlobalStep - WooCommerce 4.8 Beta 1] On browser console, randomly "PHP errors" are triggered upon switching to WooCommerce 4.8 Beta 1."
## Bug Description:
On browser console, randomly "PHP errors" are triggered upon switching to WooCommerce 4.8 Beta 1.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1.

[2020-11-19 15:52] gglobalstep opened #28338 "[GlobalStep - WooCommerce 4.8 Beta 1] "WordPress auto updates" plugin fails to Activate."
## Bug Description:
"WordPress auto updates" plugin fails to Activate.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. C

[2020-11-19 15:58] gglobalstep opened #28339 "[GlobalStep - WooCommerce 4.8 Beta 1] For Existing test site "WPEngine", error stating "504 Gateway time-out" is displayed upon visiting frontend."
## Bug Description:
For Existing test site "WPEngine", error stating "504 Gateway time-out" is displayed upon visiting frontend.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Go to Existing test site https://wp

[2020-11-19 16:02] gglobalstep opened #28341 "[GlobalStep - WooCommerce 4.8 Beta 1] For "Twenty Twenty One" theme, checkbox appears truncated on Checkout page."
## Bug Description:
For "Twenty Twenty One" theme, checkbox appears truncated on Checkout page.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate a

[2020-11-19 16:06] gglobalstep opened #28342 "[GlobalStep - WooCommerce 4.8 Beta 1][MAC-Safari] "All, Unread, Comments, Follow and Unlike" under Notification icon fails to load."
## Bug Description:
"All, Unread, Comments, Follow and Unlike" under Notification icon fails to load.

## Environment:
macOS Mojave:10.14.6 (18G103)
Browser: Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Click on “Notification” icon.
1. Observe th

[2020-11-19 16:28] juliaamosova commented on #28300
Closing as we decided not to spend time on planning. Instead, we will work on breaking down each flow as we write tests.

[2020-11-19 16:28] #28300 closed

[2020-11-19 17:53] elizaan36 commented on #28318
Ah, I understand what you mean by spam now. I can see why that would be annoying.

I suppose the best solution would be to detect whether pages have already been defined for a site (in the case of de/reactivation cycles) and **don't** automatically create them for those stores.

As an alternative or fallback if that's not possible, we could continue presenting a notice. Pretty sure people are miss

[2020-11-19 17:56] #27786 closed

[2020-11-19 20:30] mathiasdb commented on #28294
@see https://github.com/woocommerce/woocommerce/compare/master...mathiasdb:patch-1

[2020-11-19 20:33] timmyc commented on #28323
I did a similar test on atomic ephmeral and haven't been able to reproduce this myself yet.

[2020-11-19 20:58] rrennick commented on #27828
@jorgeatorres I missed it :/

[2020-11-19 21:07] jorgeatorres commented on #27828
Got it. I thought it was intentional and that's why I was asking. FYI, `offsetGet()` is not deprecated in `WC_Order_Item_Fee` nor in `WC_Order_Item` itself.
I think there's a lot of code out there that use the array access syntax for accessing properties in line items so maybe we're not seeing lots of warnings right now precisely because you didn't add the deprecation warning to `WC_Order_Item::of

[2020-11-19 23:43] taropaa opened #28344 "$0 Initial Checkout option in Subscriptions stopped working with v 4.7.0"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-20 03:00] khoipro opened #28345 "WooCommerce (Order) > Orders screen > Add New Order > Select product popup > VisibleHTML markup"
**Prerequisites (mark completed items with an [x]):**

- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

On the Add new order screen, when selecting existing product to add to new order, it displays unfriendly HTML markup.

**Expected behavio

[2020-11-20 03:54] arunsathiya opened #28346 "Removing all attributes from a variable product prevents adding it to cart"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-11-20 07:25] Hbitvof commented on #27515
Hi,

I think you are wrong. I disabled all plugins switched to a default WP theme (Twenty Twenty) and still the URL is in the order number.

And I am not the only one who is complaining about this, please check https://www.businessbloomer.com/woocommerce-remove-permalink-product-order-table/

[2020-11-20 07:25] Hbitvof commented on #27515
@juliaamosova can you please reopen this issue?

[2020-11-20 08:18] Konamiman commented on #27984
Hi @helgatheviking,

This script has been removed in https://github.com/woocommerce/woocommerce/pull/28147. That pull request will be included in WooCommerce 4.9, which will be released in January. Is using WSL2 meanwhile an option for you?

[2020-11-20 09:53] pmcpinto commented on #28318
Just adding a suggestion made by @rrennick in a P2 that could work

[2020-11-20 13:56] rrennick opened #28347 "Rename e2e package folders"
For internal/external referencing, the package folders need to match the package name. In `e2e-core-tests` the dependencies work fine in the core repo

[code]

When the two packages are added to an external project they are

- `/node_modules/@woocommerce`
  - `/e2e-core-tests`
  - `/e2e-utils`

The core tests package looks for `/node_modules/@woocommerce/utils`. The `api` will not need renaming.

[2020-11-20 14:16] rrennick opened #28349 "Update shopper tests to use api for creating products"
The shopper tests currently create a product for each test by logging in as admin, create the product, log out. The product(s) for these tests could be created with the `api` package. Making this change will reduce the time needed to run each of the tests.

[2020-11-20 14:32] helgatheviking commented on #27984
Awesome! I can pull that down right now. I'm usually working locally on your `master` branch. I tried WSL2 but there was no way to `watch` files that were stored in my windows folders (which is currently where all my plugins are stored). Changes in the windows files don't fire change events in Ubuntu? That seemed a fairly common complaint, and the workarounds looked pretty complex so I rolled back

[2020-11-20 14:37] rrennick commented on #27828
@peterfabian I put this in the 5.0 milestone to allow time for extension developers to mitigate any notices.

[2020-11-20 14:38] billrobbins opened #28350 "At checkout, the error notification asking users to sign into their account appears below the log in form."
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a customer has an account but isn't logged in goes to check out, they'll get an error message asking them to log in.  Clicking the but

[2020-11-20 14:46] chyvak1831 opened #28352 "The feature «Reviews can only be left by "verified owners"» does not has backend validation"
**Is your feature request related to a problem? Please describe.**
The feature «Reviews can only be left by "verified owners"» (on page `/wp-admin/admin.php?page=wc-settings&tab=products`) does not has backend validation so it's possible to add comment even if user is not "verified owners".
![image](https://user-images.githubusercontent.com/11210100/99812909-ad9b9f00-2b4f-11eb-86c8-dc45c60880a3.pn

[2020-11-20 16:37] sort72 opened #28354 "City is not being shown in certain countries"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When receiving an order or creating it manually, and choosing country Puerto Rico, the city is not being shown. It is shown in other countr

[2020-11-20 17:22] amustill opened #28355 "Replace BlockUI dependency with CSS pointer events"
**Is your feature request related to a problem? Please describe.**
The current implementation of the BlockUI jQuery plugin makes it difficult to customise the overlay on the frontend without overwriting the `jQuery.fn.block` and `jQuery.fn.unblock` methods directly.

The hardcoded values of `opacity: 0.6, background: '#fff'` scattered throughout the frontend JavaScript files is particularly jarrin

[2020-11-20 17:37] juliaamosova opened #28356 "Write new e2e test: Merchant / Orders / Refund Order"
Write a new e2e test that covers `Merchant / Orders / Refund Order` flow.

[2020-11-20 17:39] juliaamosova opened #28359 "Write new e2e test: Merchant / Orders / Apply Coupon"
Write a new e2e test that covers `Merchant / Orders / Apply Coupon` flow.

[2020-11-20 17:41] juliaamosova opened #28360 "Write new e2e test: Merchant / Orders / Filter Orders by order status"
Write a new e2e test that covers `Merchant / Orders / Filter Orders` flow.

[2020-11-20 18:10] tammullen commented on #28259
I have tried reproducing this with various combinations of theme, WordPress version and PHP version. So far it I can reproduce it with PHP 8.0 RC 3.
![Screenshot 2020-11-20 at 18 10 23](https://user-images.githubusercontent.com/24649833/99834826-b09c8c80-2b5b-11eb-9994-78a04e05c898.png)

For example it does not appear with Twenty Twenty-One, WP 5.6 RC 1, WooCommerce 4.8.0 Beta and PHP 7.4.12.
![Sc

[2020-11-20 18:25] tammullen commented on #28260
I believe this is likely due to WordPress 5.6 RC1, as I can reproduce with WP 5.6 RC on PHP 7.4 & 8 but not with WP 5.5.3 on PHP 7.4

[2020-11-20 18:47] tammullen commented on #28342
Hi @gglobalstep

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​
![Screenshot_2020-11-20_at_18_38_46](https://user-images.githubusercontent.com/24649833/99838291-cceef800-2b60-11eb-9868-5b8ae6b48b5a.png)

Closing for now as this doesn't appear to be related to WooCommerce core.

[2020-11-20 18:47] #28342 closed

[2020-11-20 19:16] tammullen commented on #28341
Thanks @gglobalstep

The issue you are having seems to be caused by the plugin Creative Mail by Constant Contact. I'm closing this for now and we will try raise it with them directly.

[2020-11-20 19:18] jrick1229 commented on #28344
Hi @taropaa - this has been recorded in the WooCommerce Subscriptions (private) repository. The bug is related not only to products with free trials, but other instances as well. While this may have been caused by a change in WC checkout, the fix is being rolled into a release in WooCommerce Subscriptions. I'll reply to your ticket.

3504718-zen

[2020-11-20 19:25] tammullen commented on #28341
Reopening this as It appears to be happening to other checkboxes in Twenty Twenty-One such as the MailChimp checkbox so  may need checked if anything needs done in core for this.
![Screenshot_2020-11-20_at_19_21_27](https://user-images.githubusercontent.com/24649833/99841470-1ee64c80-2b66-11eb-8194-ad035529f539.png)

Related: https://github.com/woocommerce/woocommerce/issues/28305

[2020-11-20 19:39] tammullen commented on #28338
Hi @gglobalstep

I believe this is expected as this plugin was merged with WordPress 5.6 and so was likely not intended to run as a separate feature plugin in WP 5.6+ (I note the test site you used is running 5.7-alpha-49645)

[2020-11-20 19:39] #28338 closed

[2020-11-20 19:41] tammullen commented on #28337
Duplicate of https://github.com/woocommerce/woocommerce/issues/28324

[2020-11-20 19:41] #28337 closed

[2020-11-20 19:46] tammullen commented on #28323
I can't reproduce. I suspect is due to the same Gutenberg 9.3.0 issue in https://github.com/woocommerce/woocommerce/issues/28321 which is fixed in 9.4.0

[2020-11-20 19:47] tammullen commented on #28321
Closing as this doesn't appear to be related to WooCommerce and is fixed in Gutenberg 9.4.0

[2020-11-20 19:47] #28321 closed

[2020-11-20 20:00] tammullen commented on #28354
Hi @sort72

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27711. We are closing your issue in favor of the previously submitted.

 Please continue sharing your feedback there if needed.

[2020-11-20 20:00] #28354 closed

[2020-11-20 20:08] tammullen commented on #28323
Closing after further discussion we believe this to be related to Gutenberg 9.3.0

[2020-11-20 20:08] #28323 closed

[2020-11-20 20:12] tammullen commented on #28345
Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27154. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-11-20 20:12] #28345 closed

[2020-11-20 20:17] tammullen commented on #28344
Hi @taropaa

Thanks for raising this. The issue you are having is being looked at in the private WooCommerce Subscriptions repository. I am leaving this issue open for now in case anything is needed by the Subscriptions team on the core side.

[2020-11-20 20:20] tammullen commented on #28336
Hi @Dayani123

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.
​
**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-11-20 20:21] apmwebdev commented on #25255
I'm running into this issue now, but it appears to be happening with all taxes, not just VAT. If you have taxes entered inclusive of tax and displayed inclusive of tax, the prices for variable products will be displayed exclusive of tax on the product and cart pages until you go to checkout. The snippet provided does not fix the issue unless you're using the EU VAT plugin. I also tried the work-ar

[2020-11-20 20:21] tammullen commented on #28334
Thanks for the update @paulbreco
Looks like we can close this for now, if I missed something, please leave a comment and we will take a second look.

[2020-11-20 20:21] #28334 closed

[2020-11-20 20:42] arnasofc commented on #27424
The notification menu is not dissappearing...

[2020-11-21 01:38] msacco6 commented on #16028
same issue.

[2020-11-21 08:16] Mitornamesa opened #28362 "heo"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-11-21 10:26] nagpai opened #28724 "CSS: Please include page ID class in the classlist that appears within the body tag."
## Is your feature request related to a problem? Please describe.
The page id that appears in the classlist of the body tag in any page or post html code, helps support team a long way in targetting CSS only to that specific page or post.

The Shop page in Storefront, due to some reason has page ID missing in the list of class. It does not even have a specific class like maybe `woocommerce-shop-pa

[2020-11-21 18:36] mtg169 opened #28363 "is_rest_api_loaded randomly returns false for webhooks"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a webhook is triggered, is_rest_api randomly returns false, sending "rest_api_unavailable" as the payload instead of expected payload.

[2020-11-21 18:58] cabrerahector opened #28364 "WooCommerce breaks other plugin's ability to send POST requests to REST API (rest_cookie_invalid_nonce)"
**Prerequisites (mark completed items with an [x]):**

- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

One of my plugin users reported that [WordPress Popular Posts](https://wordpress.org/plugins/wordpress-popular-posts/) can no longer trac

[2020-11-22 06:11] masthisis opened #28365 "[REST API] /products/attributes/<attribute_id> how to get all related terms within this one request."
i want to include related terms in each a attribute object  when i get all attributes.
 i saw this [ ` /wp/v2/posts?_embed=author,wp:term ` ](https://developer.wordpress.org/rest-api/using-the-rest-api/global-parameters/)that can include related information in a request but i don't know how to use it to get attribute terms.

[2020-11-22 14:30] mladja12 opened #28366 "WooCommerce suddenly made ZIP and City / Town fields optional"
Hello everybody,

I have a problem with WooCommerce at this website: https://santi.rs/

It may be a little hard to see what is going on actually, because the website is just in Serbian language...

However, the problem is with the checkout page. Somehow Town, ZIP code and County/State fields became optional instead of being required. Without those, it is impossible to complete an order, it just ca

[2020-11-22 19:34] lauranunez commented on #28350
I found the same problem

[2020-11-22 21:33] jojacoder commented on #15656
I just got the same issue right now. Never had this issue before with loads of products. Anyone found an answer to this?

[2020-11-22 23:49] juliaamosova commented on #28362
Hi @Mitornamesa,

There are no details filled in for the bug report therefore I am closing this thread. If you encountered a bug, please open a new issue and provide us with a proper description and steps to reproduce the issue.

[2020-11-22 23:49] #28362 closed

[2020-11-23 01:57] Camilo517 commented on #28355
+1

[2020-11-23 07:53] Konamiman commented on #27984
As a personal suggestion and based on my own experience: WSL2 works great when you take the reverse approach, that is, keeping all the files inside Linux. That way everything is self-contained where all the tooling is running, and you can still access your files easily from Windows: if you use VS Code, there's a built-in remote extension; and if you use anything else, you can access files via ` \\

[2020-11-23 08:49] AashikP opened #28368 "Hide attributes from the widget if there are no products in stock related to that attribute"
Related to https://github.com/woocommerce/woocommerce/issues/27935

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

If no products associated with the attribute are in stock, the Product Attr

[2020-11-23 09:16] bartekmiturafrontkom commented on #27026
Hello @vedanshujain @juliaamosova - any news?

[2020-11-23 12:13] kanlukasz opened #28369 "Legacy image sizes have not been discontinued after version 4.6.0"
**Prerequisites:**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug - NOT SURE IT'S BUG OR JUST A LITTLE MISTAKE**
Woocommerce was supposed to support older image sizes only up to version 4.6.0
Now we have 4.7.0 and you still support them.

[co

[2020-11-23 12:34] tammullen commented on #28210
Hi @marcodadamo,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-23 12:34] #28210 closed

[2020-11-23 12:35] tammullen commented on #28211
Hi @pictureperfectmalta

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-23 12:35] #28211 closed

[2020-11-23 12:38] tammullen commented on #28219
Hi @luzmarin

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-23 12:38] #28219 closed

[2020-11-23 12:39] tammullen commented on #28225
Hi @nathanfeeney

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-23 12:39] #28225 closed

[2020-11-23 12:41] tammullen commented on #28228
Hi @Jon-Rojas

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-23 12:41] #28228 closed

[2020-11-23 12:49] vendidero commented on #27521
I've just faced the same issue (missing or "default" billing country for virtual products). You might want to use the following snippet to fix the issue (until Woo provides a fix): https://gist.github.com/vendidero/c2b1be3ff2060fbb4ef69eb47d674980

[2020-11-23 12:59] tammullen commented on #28205
Hi @pixelicous

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-23 12:59] #28205 closed

[2020-11-23 12:59] tammullen commented on #28208
Hi @ornellapal

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-11-23 12:59] #28208 closed

[2020-11-23 14:00] tammullen commented on #28290
Hi @kachmul2004

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end, I tried using all product types.
​
![Screen Recording 2020-11-23 at 13 23 03 2020-11-23 13_40_58](https://user-images.githubusercontent.com/24649833/99968999-c98e8300-2d91-11eb-920d-40df60236207.gif)
​
Please provide us with more details abou

[2020-11-23 14:15] tammullen commented on #28350
Hi @billrobbins

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using themes Twenty Twenty and Storefront.
​
![Screen Recording 2020-11-23 at 14 05 40 2020-11-23 14_12_24](https://user-images.githubusercontent.com/24649833/99972323-4885ba80-2d96-11eb-8020-8d706316915d.gif)

We won’t be able to include this fix in the upcoming release

[2020-11-23 14:31] helgatheviking commented on #27984
Thanks Néstor! I'd read similar things when researching the problem but couldn't figure it out at the time and had to get stuff moving! But when I have some more time I will have to check out it.

[2020-11-23 14:35] kachmul2004 commented on #28290
The product is just a simple product that I created. This is happening to all my websites. One is hosted on my personal linux computer and another on a VPS, i have not touched anything on the one on the VPS and I just discovered it has the same problem after I found out on the site hosted on my local server.

1. What theme are you using on your test site?
2. Are you using Nginx or Apache? I am on

[2020-11-23 15:06] enricgomez commented on #22706
Must have feature.

[2020-11-23 15:22] jonathansadowski commented on #28308
After picking up the work @rodrigoprimo started and digging into this issue a bit further, it appears that home page compatibility really breaks down into two parts:

1. Ensuring that our shortcodes are compatible with 2021.
2. Ensuring that blocks are compatible with 2021.

The latter seems to be tracked in https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3433, any thoug

[2020-11-23 16:49] roykho commented on #25255
So I had a look at this and I think it is important to first establish what is the intended design/behavior before we know how to assess this issue.

From what I am seeing (and correct me if I am wrong), WC core does not have any concept of tax exemption that is tied to the logged in customer saved. This means tax exemption only happens via filters dynamically. So without outside 3rd party plugins

[2020-11-23 16:52] kachmul2004 commented on #28290
@tammullen
I recreated my nginx block and now it works, I believe I was using an outdated barebones conf. Thanks for your time.

[2020-11-23 16:52] #28290 closed

[2020-11-23 17:40] pixelicous commented on #28205
Sorry for not responding any sooner.
@juliaamosova - I am using elementor and use their hello elementor theme, i think recent updates i had to their plugins have fixed something. I also do not notice this issue anymore.
thanks!

[2020-11-23 17:47] kalonya opened #28372 "Onboarding returns fatal error if a child theme is installed under a subdirectory with its parent"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, maybe closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2020-11-23 19:56] pokhiii opened #28373 "Database considerations for a growing store"
**Is your feature request related to a problem? Please describe.**
We maintain a WC-powered store which has turned over 5 years now (Thanks for the excellent product)! Over the years the number of orders and the data related to them, meta, items, item meta have just grown and there is no looking back. Some facts about the **completed** orders in our WooCommerce store database:
- Total number in th

[2020-11-23 20:57] masteradhoc commented on #28373
@abhishek-pokhriyal woo also started a development quite a time ago on this: https://github.com/woocommerce/woocommerce-product-tables-feature-plugin

The team at liquidweb has plans to get the custom order table further - as far as i know.

I think you should take part in a monthly dev meeting and raise the question also in the slack core channel. (https://woocommercecommunity.slack.com/)

[2020-11-23 20:59] masteradhoc commented on #28366
@mladja12 see the PR here https://github.com/woocommerce/woocommerce/pull/27779 made by @zzap

[2020-11-23 21:18] jakob-metro opened #28376 "Publish shop SCSS styles to an npm package."
**Is your feature request related to a problem? Please describe.**
When building a custom theme, it would be nice to import the woocommerce scss files right into the theme's stylesheet, so it can be configured, customized, and bundled.

**Describe the solution you'd like**
Publish a new package under the @woocommerce namespace, such as @woocommerce/stylesheets or something in that direction.

**De

[2020-11-23 21:25] mladja12 commented on #28366
Thanks.

[2020-11-23 21:28] zzap commented on #28366
Hi @mladja12 , you can use `woocommerce_get_country_locale_default` filter to modify default values.

[2020-11-23 21:48] mladja12 commented on #28366
Well, that was urgent so, I found a plugin to override that. Btw., why WooCommerce would make those fields optional for few countries? That is super weird.

[2020-11-23 21:52] #28319 closed

[2020-11-23 22:03] runmaromat commented on #16747
Thanks a lot! I've been searching for something like this for quite a long time.

[2020-11-24 00:19] #28256 closed

[2020-11-24 00:40] #28254 closed

[2020-11-24 01:13] wongkediri commented on #27756
testing the 4.7.1 beta version and it works, yay..
tested using '?add-to-cart=ID' method

[2020-11-24 04:32] zhongruige commented on #28360
I'll work on getting these tests added to the e2e test suite, running through the filters on the order list page for each status:

![Screen Shot 2020-11-23 at 9 31 07 PM](https://user-images.githubusercontent.com/71906536/100048921-4a21a380-2dd3-11eb-8896-4fb127258b75.png)

[2020-11-24 04:34] zhongruige commented on #28359
I'll work on getting these tests added to the e2e test suite, applying the coupon and verifying the price changes when editing an order:

![Screen Shot 2020-11-23 at 9 33 29 PM](https://user-images.githubusercontent.com/71906536/100049032-9371f300-2dd3-11eb-9877-f71f3ad38304.png)

[2020-11-24 04:36] zhongruige commented on #28356
I'll work on getting these tests added to the e2e test suite, applying a refund when viewing an order:

![Screen Shot 2020-11-23 at 9 36 23 PM](https://user-images.githubusercontent.com/71906536/100049183-f6fc2080-2dd3-11eb-800c-8b28909b6df0.png)

[2020-11-24 06:17] abhishek-pokhriyal commented on #28373
Again it looks like the development has been on hold (or abandoned). The last commit was over a year ag. Probably because these issues never make it to the core team's priority list.

[2020-11-24 06:52] Bodrosh opened #28382 "Pagination for product attributes in admin panel"
Hello, I ran into situations, a lot of attributes (more than 1000) are loaded into the system. In the admin panel on the edit.php?post_type=product&page=product_attributes they are displayed on the same page, wouldn’t it be better to do pagination, as for example in editing categories or products? With a large number of them on one page, problems with loading and performance may arise (I also noti

[2020-11-24 07:25] mikkeltschentscher opened #28383 "Variant data (price, sku, dimensions etc) does not save/update using the block editor for product post type."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Using the block-editor for the product post type using WordPress 5.5.3 and WooCommerce 4.7.0 variant product data does not save when edited

[2020-11-24 08:05] Konamiman commented on #27984
Great. I'll close this for now then.

[2020-11-24 08:05] #27984 closed

[2020-11-24 08:50] s-oliver opened #28384 "since 4.7.0: Wordpress is not adding commands to wp-cli"
We have automated testing for our plugin with woocommerce. For this purpose, we install and configure wordpress and woocommerce through the wp-cli, this no longer works with woocommerce 4.7.0

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issu

[2020-11-24 09:08] mikkamp commented on #25255
I do agree that WC core by itself, doesn't allow you to set this value for a customer. However the status `is_vat_exempt` is stored in the `WC_Customer` class and if we search for the usage of the function `get_is_vat_exempt` then we can see quite a few locations where WC core acts differently depending on whether the customer is exempt or not.

My interpretation would be that WC core should be co

[2020-11-24 09:23] matthiaswagnerwy commented on #28237
hy again,

i just found out that i have overseen #20693 where @BusinessBloomer and @claudiulodro have already discussed this topic. it was closed there but obviously not (yet) being addressed in that mentioned next updates #10704.

just want to make sure that no unnecessary duplicates are generated here :)

matt

[2020-11-24 12:22] dwainm commented on #25025
Noting that we've had some issues with this in WCPay as well. https://github.com/Automattic/woocommerce-payments/pull/1097/files.

[2020-11-24 12:47] stephangroen commented on #15642
Same issue as @kdekok here. Every time a webhook is delivered to an endpoint, a new requests follows with `webhook_id=x`  as the body. I see this behavior over a dozen installs I have checked. Including the latest releases:

WooCommerce 4.7.0
Wordpress 5.5.3

Also the second call (the ping) doesn't contain the X-WooCommerce-*** headers which is why I discovered this issue. I got a lot of logs repo

[2020-11-24 13:39] vedanshujain commented on #27026
@bartekmiturafrontkom It's being actively worked upon, but I don't have any expected fix date yet.

[2020-11-24 14:10] lauranunez commented on #28350
It´s lower priority?? I am losing customers for this problem, the people can´t see the form and close checkout.

Maybe for you is lower for me it is lost money.

[2020-11-24 14:30] rrennick commented on #28363
@mtg169 Thanks for reporting the issue.

I didn't make a working sample to reliably reproduce this but this is an edge case from #26878 as follows:

- There is a pending webhook
- `wc_webhook_execute_synchronous_queue` is hooked in `plugins_loaded`
- trigger an error before the REST API is initialized in `init`

[2020-11-24 14:58] rrennick commented on #28365
Hi @masthisis,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request. If you would like to report a bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](https://docs.woocommerce.com/document/woocommerce-self-service-gu

[2020-11-24 14:58] #28365 closed

[2020-11-24 15:19] zwiesman31 opened #28390 "Using Wildcards with Ranges for Postal Codes with Spaces"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When setting up ranges of postcodes that have spaces in them (ex: `BL8 3DE`), the spaces cause issues when used with ranges and wildcards a

[2020-11-24 17:12] Webyseo commented on #27688
Also does not generate much trust among customers, please fix this issue.

[2020-11-24 18:13] webdados opened #28393 "Returning false to woocommerce_shipping_calculator_enable_postcode breaks Shipping calculator"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.

Related to #27491

I normally return false to `woocommerce_shipping_calculator_enable_postcode` on stores where the shipping is only calculated based on the country + state, but since the last changes to the WC_Cart->show_shipping() function, when the postcode is

[2020-11-24 18:14] negapo commented on #28373
Hi @abhishek-pokhriyal we have the same problem. We have a fairly successful store based on Woo and im also really thankful for the product they have built although i increasingly think Woo is not a product for even a mid sized store, unfortunately. First, as you mentioned, it's bloats significantly with no way to clean that old information. There is no way to archive orders in a sense that they w

[2020-11-24 19:05] abhishek-pokhriyal commented on #28373
That's probably the saddest thing I've read in a while. But, to be honest, WooCommerce is really the only eCommerce framework I've worked with. So, I really don't know how these things are handled by other tools and frameworks. The problem of growing database size seems completely natural to me and I believe this will exist in every eCommerce system.

In this issue, I am seeking help from someone

[2020-11-24 19:24] lukecav commented on #28373
https://github.com/liquidweb/woocommerce-custom-orders-table
https://github.com/liquidweb/woocommerce-custom-orders-table/commits/develop

The plugin has been archived due to the feature coming to the WooCommerce core. One store has over 200k orders on it and another has over 1.8+ million orders on it.

[2020-11-24 19:52] #28316 closed

[2020-11-24 20:26] tammullen opened #28394 "Twenty Twenty - Product name in notice for "Please choose product options" is misaligned"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When you have triggered a "Please choose product options" the product name is misaligned.
![Screenshot_2020-11-24_at_20_12_45](https://user

[2020-11-24 23:32] mtg169 commented on #28363
@rrennick Thank you for the information. During additional testing on the site I was experiencing this error, it appears to only happen if ALTERNATE_WP_CRON is set to true in wp-config.php. I am not sure why this site had it set, but when I commented it out, the expected payload was sent every time instead of the rest_api_unavailable error. Additionally, when I set ALTERNATE_WP_CRON to true on a c

[2020-11-25 00:26] #28272 closed

[2020-11-25 00:26] #28273 closed

[2020-11-25 00:26] #28274 closed

[2020-11-25 00:26] #28276 closed

[2020-11-25 04:22] szepeviktor opened #28399 "Composer package `woocommerce/woocommerce` fails to install"
@Konamiman

- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Composer package `woocommerce/woocommerce` fails to install

**Expected behavior**
Have WC installed.

**Actual behavior**

[code]

**Steps to reproduce the bug (We need to be able

[2020-11-25 04:23] szepeviktor commented on #28399
My diagnosis shows: the Mozart-way of putting libs under WC namespace is in master but not in tag `4.7.*`.

[2020-11-25 04:26] szepeviktor commented on #28399
@claudiosanches Could it be a release problem?

[2020-11-25 04:56] abhishek-pokhriyal commented on #28373
Thanks @lukecav. I'll definitely try this plugin out. However, my understanding is that plugin moves data from `postmeta` to a separate table, and does nothing for the other tables like posts, order_items, order_itemmeta.

[2020-11-25 05:36] danielbitzer opened #28404 "Question/request - Ability to record Tracks events in REST endpoint"
Currently the Tracks PHP library is only loaded in `is_admin()` context. Since admin functionality can be handled via REST endpoints I think we should make Tracks events available for use here.

In AutomateWoo, we have an endpoint to create a workflow via a specified preset and would like to record a tracks event when every workflow is created including this endpoint.

https://github.com/woocommer

[2020-11-25 08:59] giannis-koulouris commented on #27521
@vendidero 's solution worked for me, but we still need a fix from wc.

[2020-11-25 09:09] webdados commented on #28393
Update: This only happens if "Hide shipping costs until an address is entered" is enabled.

If the shop owner passes `false` to `woocommerce_shipping_calculator_enable_postcode`, we can assume he's not using postcodes for shipping calculations (probably only countries and states), so I think we can safely show shipping if the shop customer only fills in the country and state even if "Hide shipping

[2020-11-25 11:00] negapo commented on #28373
@abhishek-pokhriyal Do you need all orders with all the info on Woo?
We have a strategy that works in steps.

If after that period we need to access the order we have it locally. This is not perfect but works for us.

[2020-11-25 11:14] samholguin commented on #28399
Same issue

[2020-11-25 11:20] Konamiman commented on #28399
Hi, this is a known problem caused by the reintroduction of the dependency injection container and the changing of its namespace via a `prefix-vendor-namespaces.sh` script in 4.7. This issue will disappear with the release of 4.9 thanks to https://github.com/woocommerce/woocommerce/pull/28147.

[2020-11-25 12:58] rrennick commented on #28363
@mtg169 Thanks for that additional information. Alternate CRON runs earlier that the default on `init` priority `1` which would be before the REST API is initialized.

[2020-11-25 14:03] rrennick commented on #28364
Hi @cabrerahector,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end following the steps you provided.

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-11-25 14:07] rrennick commented on #28366
Hi @mladja12 ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-11-25 14:15] tgglv commented on #27686
zd-3514158

[2020-11-25 14:33] rrennick commented on #25524
Ref #28368, #27935

[2020-11-25 14:36] rrennick commented on #27935
Added this as a related issue to #25524

[2020-11-25 14:36] rrennick commented on #28368
Added this as a related issue to #25524

[2020-11-25 14:42] rrennick commented on #28369
@kanlukasz Thanks for reporting the issue. The issue #28139 was created to address deprecation in general across the code base. I'm closing this issue in favour of it.

[2020-11-25 14:42] #28369 closed

[2020-11-25 14:45] rrennick commented on #28372
Hi @kalonya,

Thank you for reporting the issue. Onboarding is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-11-25 14:56] #28376 closed

[2020-11-25 15:47] ZioCain opened #28408 "Disabling a variation doesn't actually disable it"
**Prerequisites (mark completed items with an [x]):**
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.
- [X] This bug happens with a default WordPress theme active, or [Storefront](https://woocommerce.com/storefront/).

**Describe the bug**
Variable products with disabled variation still appear on shop page when filtered by specific attribute.
Spec

[2020-11-25 16:22] gglobalstep opened #28409 "[GlobalStep - WooCommerce 4.8 RC 1] HTTP API error "403 forbidden" is triggered upon connecting to "WooCommerce.Com Subscriptions""
## Bug Description:
HTTP API error "403 forbidden" is triggered upon connecting to "WooCommerce.Com Subscriptions".

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. In

[2020-11-25 16:25] cabrerahector commented on #28364
Don't mention it, Ron. If there's anything at all I can do to help please don't hesitate to ask.

[2020-11-25 16:25] CaldwellYSR opened #28410 "Downloadable Products -- Inline file delivery"
For our use case, we are using HTML files as virtual and downloadable products. We don't want our customers to have to download the html file and open it in the browser, we would rather have the file open directly in their browser when they try to download the content. We would like a setting in the Woocommerce -> Products -> Downloadable Products page that allows for inline file delivery. I plan

[2020-11-25 16:27] gglobalstep opened #28411 "[GlobalStep - WooCommerce 4.8 RC 1] Long text Review appears misaligned on "WooCommerce Recent Reviews widget"."
## Bug Description:
Long text Review appears misaligned on "WooCommerce Recent Reviews widget".

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate a

[2020-11-25 16:37] gglobalstep opened #28413 "[GlobalStep - WooCommerce 4.8 RC 1][MAC-Safari] Dropdown fails to dismiss upon clicking arrow button."
## Bug Description:
Dropdown fails to dismiss upon clicking arrow button.

## Environment:
macOS High Sierra v10.13.6
Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding wizard.
1. Go to Analytics -> Overview/Variations.
1. Click on any of the “Dropdown” option.
1. Note that dr

[2020-11-25 16:44] merlin-magic commented on #16028
I was having this same issue until I came across this comment from a similar issue:
https://github.com/woocommerce/woocommerce/issues/18019#issuecomment-349333331
The date and time need to be in a very specific format of YYYY-MM-DD HH:MM:SS.
Opening the csv in a text editor and doing a find/replace on the values I had in there for these new formats did the trick.

[2020-11-25 18:13] rrennick commented on #28382
Hi @Bodrosh,

Thank you for reporting the issue. However, this issue had been reported previously here #26539. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-11-25 18:13] #28382 closed

[2020-11-25 18:19] rrennick commented on #28383
Hi @mikkeltschentscher ,

Thank you for reporting the issue. However, this issue had been reported previously here #23673. As explained on that issue, the product post doesn't currently support the block editor and will be addressed in a future release. We are closing your issue.

[2020-11-25 18:24] mikkeltschentscher commented on #28383
@rrennick

OK. Thanks. We're looking forward to that :-)

[2020-11-25 18:24] rrennick commented on #28399
@Konamiman Can we close this as addressed in #28147 ?

[2020-11-25 18:40] rrennick commented on #28408
Hi @ZioCain,

Thank you for reporting the issue. However, this issue had been reported previously here #28368. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-11-25 18:40] #28408 closed

[2020-11-25 18:45] rrennick commented on #28409
@gglobalstep Can you check this again? I was able to connect from a JN site in the last few minutes. Because it's a connection to an external site we will sometimes see connections fail.

[2020-11-25 18:46] szepeviktor commented on #28399
...addressed but not actually released ❕

[2020-11-25 18:49] claudiosanches commented on #28399
Hello @szepeviktor

Yes, because this fix is planned for 4.9.

[2020-11-25 18:57] rrennick commented on #28411
Hi @gglobalstep ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end following the steps you provided.

<img width="539" alt="Screen Shot 2020-11-25 at 2 52 40 PM" src="https://user-images.githubusercontent.com/343847/100270480-83baf180-2f2e-11eb-9a13-30cc42ea576a.png">
<img width="653" alt="Screen Shot 2020-11-25 at 2 53 12 PM" src="htt

[2020-11-25 18:58] szepeviktor commented on #28399
This is issue is about _will_.

I think talking does not help.
As of the current state of WC 4.7 and 4.8 releases on Packagist will be broken.

[2020-11-25 19:05] rrennick commented on #28413
Hi @gglobalstep,

Thank you for reporting the issue. The Analytics section is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-11-25 19:14] rrennick commented on #28390
@zwiesman31 Thanks for submitting the issue.

Spaces are not treated as wildcards in core searches. Using `BL1*` and `BL9*` would produce the desired results. I'll close this as we would not implement spaces as wildcards in searches.

[2020-11-25 19:14] #28390 closed

[2020-11-25 19:18] rrennick commented on #28393
@webdados Would you write the PR and include steps to reproduce the issue?

[2020-11-25 19:54] roykho commented on #28085
This is specifically related to WC Admin so I am moving it there.

[2020-11-25 19:55] #28085 closed

[2020-11-25 19:55] roykho commented on #28085
Issue moved to [woocommerce/woocommerce-admin #5745](https://github.com/woocommerce/woocommerce-admin/issues/5745) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-25 20:03] rrennick commented on #28384
@s-oliver Thanks for submitting the issue. I wasn't able to reproduce this in `master` with the latest WP 5.6 nightly.

[code]

Did you confirm that WooCommerce was active when you ran `wp wc help`? If so, could you install the 4.8.0 RC and repeat your test?

[2020-11-25 21:20] mladja12 commented on #28366
Hi,

Well, since I fixed the issue with a plugin, I can not provide all that data for you, because I do not want to mess with a live website, but I can explain what was (and probably still is) wrong. Plus, I think this is just administrational problem and it could be fixed by WooCommerce easily, without any coding.

It looks like WooCommerce disabled few fields at the checkout page from being mand

[2020-11-25 21:38] zzap commented on #28366
@mladja12 I made PR for making city and postcode mandatory again.

https://github.com/woocommerce/woocommerce/pull/28415

[2020-11-26 06:35] abhishek-pokhriyal commented on #28373
Thanks, @negapo for sharing the strategy. It's very specific and involved so I'll have to see if something like that can work for us or not. For now, I'm going to start with @lukecav suggestions and see how things go from there.

[2020-11-26 07:02] jkohlbach opened #28417 "MySQL 8 compatibility issue with Product data stores"
In includes/data-stores/class-wc-product-data-store-cpt.php there's a line 1617:

$variation_query = $wpdb->prepare( ' OR ( wc_product_meta_lookup.sku = "" AND parent_wc_product_meta_lookup.sku LIKE %s ) ', $like );

Although some folks think its OK to use "" and '' interchangeably in SQL syntax, correct syntax is using SINGLE quotes.

This causes issue with MySQL 8 in certain configurations.

**P

[2020-11-26 07:43] s-oliver commented on #28384
Yes I made sure woocommerce was installed and active:

[code]

On woocommerce 4.8.0RC1 everything works as expected.

I also tried it with 4.7.1 which was released yesterday, it works with that version again so I'm closing this issue

[2020-11-26 07:43] #28384 closed

[2020-11-26 08:10] gglobalstep commented on #28409
We have checked this issue again and we are still able to reproduce this issue.
Refer the attachment
![image](https://user-images.githubusercontent.com/41110392/100324179-e07ce180-2fec-11eb-8879-3985869cad76.png)

[2020-11-26 08:18] the-alex-mark commented on #21988
[code]

[2020-11-26 09:27] Bodrosh commented on #28382
Hello, @rrennick . Thank you, but code slows down a site with many taxonomies (with created global attributes), both backend and frontend (it loads on many pages, if not all):
\wp-content\plugins\woocommerce\includes\class-wc-post-types.php (205)
`$attribute_taxonomies  = wc_get_attribute_taxonomies();
		if ( $attribute_taxonomies ) {
			foreach ( $attribute_taxonomies as $tax ) {

[2020-11-26 10:35] tgglv commented on #27686
3514158-zen

[2020-11-26 10:40] mrleemon opened #28419 "Migrate add/edit product screen to Gutenberg"
Considering that the Classic Editor plugin will be officially supported until December 31, 2021, do you plan to migrate the add/edit product screen to use the new Gutenberg UI? If so, when? Right now, there are not many options. Both the PluginDocumentSettingPanel and PluginSidebar components are too narrow for fitting all product meta panels.

[2020-11-26 11:49] Bodrosh commented on #26539
Hello, @rrennick . Thank you.

code in class-wc-post-types.php slows down a site with many taxonomies (with created global attributes ), both backend and frontend (it loads on many pages, if not all):
\wp-content\plugins\woocommerce\includes\class-wc-post-types.php (205)
$attribute_taxonomies = wc_get_attribute_taxonomies(); if ( $attribute_taxonomies ) { foreach ( $attribute_taxonomies as $tax )

[2020-11-26 11:53] gondre commented on #13963
same issue here. woocommerce_payment_complete is often called twice, and the issue happens with Paypal (I'm using PDT and have disabled IPN) but also with Stripe.

[2020-11-26 13:32] rrennick commented on #26539
[code]

@Bodrosh Using a taxonomy in WordPress requires registering the taxonomy (preferably in the `init` hook).

Is there another way you could accomplish storing the same information? For example, could you switch to using one taxonomy with a large number of terms?

[2020-11-26 13:42] rrennick commented on #28404
@danielbitzer I've labeled this request for discussion.

[2020-11-26 14:27] Bodrosh commented on #26539
@rrennick, information comes to the site from another application through the API, attributes are needed to create store filters, and when loaded, they are created by taxonomies pa_attr1, pa_attr2, pa_attr_N.
You mean I need custom hierarchical taxonomy, for example product_attrs:
Colour
              -Green
              -Yellow
The size
- large
- Small
?

But then you need to redo the system, re

[2020-11-26 14:40] #28267 closed

[2020-11-26 14:55] rrennick commented on #28417
Hi @jkohlbach ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. The steps I used were

- PHP 7.4.8 (8.0 RC will also work)
- edit `my.cnf` to add
[code]
- Create a WP DB user for MySQL 8.0
[code]
- Update `wp-config.php` with `wcuser` credentials
- Update to MySQL 8.0
- Restart the MySQL service
- Confirm MySQL 8.0 on SSR
- Attempt t

[2020-11-26 15:05] brunocantuaria opened #28421 "Reset password also reset user registered time"
I just found an issue on the pluggable function that WordPress provides and WooCommerce relies for saving password `wp_set_password()` . It doesn't explicit a user_registed time in the query, so the user registered time is updated to the current time.

This may cause issues like reports showing orders for users that registered days/weeks later. I fixed it, replacing the pluggable function in a cus

[2020-11-26 16:14] rrennick commented on #28409
@gglobalstep Thanks for the follow up. This may be related to your account permissions. I'll leave this open for now to see if anyone else encounters the issue.

[2020-11-26 16:14] #28383 closed

[2020-11-26 16:24] rrennick commented on #28346
Hi @arunsathiya ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using the steps you provided.

We won’t be able to include this fix in the upcoming release due to the lower priority of this issue compared to others reported. We’re going to add it to our backlog so we can include it in our planning for one of our future releases.

[2020-11-26 16:33] gglobalstep opened #28422 "[GlobalStep - WooCommerce 4.8 RC 1] For Twenty Twenty theme, "Coupon has removed" error message appears vertically stretched on Checkout page."
## Bug Description:
For Twenty Twenty theme, "Coupon has removed" error message appears vertically stretched on Checkout page.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site using Jurassic N

[2020-11-26 16:36] gglobalstep opened #28423 "[GlobalStep - WooCommerce 4.8 RC 1] For "Twenty Twenty One" theme validation messages on Account details screen are misaligned and has very poor visibility."
## Bug Description:
 For "Twenty Twenty One" theme validation messages on Account details screen are misaligned and has very poor visibility.

## Environment:
Windows 10, macOS Mojave:10.14.6 (18G103)
Browser: Chrome(Version 86.0.4240.75 (64-bit))
                 Firefox(Version 82.0)(64-bit)
                 Safari(Version 13.1.1 (14609.2.9.1.3))

## Steps To Reproduce:
1. Create any test site u

[2020-11-26 16:40] rrennick commented on #28301
@preston-dvorak Thanks for submitting the issue. I wasn't able to reproduce it in my install. Here are the details on my test settings

Tax Rate: 15%
Product:
<img width="527" alt="Screen Shot 2020-11-26 at 12 36 15 PM" src="https://user-images.githubusercontent.com/343847/100375334-0356c800-2fe4-11eb-8f4f-47edb6689e82.png">

Tax Settings:
<img width="456" alt="Screen Shot 2020-11-26 at 12 37 09 P

[2020-11-26 16:50] gglobalstep opened #28424 "[GlobalStep - WooCommerce 4.8 RC 1][MAC- Safari] “Cancel” and “Save” button appears truncated on “Attachment details” page under Media library."
## Bug Description:
“Cancel” and “Save” button appears truncated on “Attachment details” page under Media library.

## Environment:
macOS High Sierra v10.13.6
Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Go to “Media -> Library”.
1. Select any “Image”.
1. Click on “Edit Image” button.
1. Observ

[2020-11-26 16:54] gglobalstep opened #28425 "[GlobalStep - WooCommerce 4.8 RC 1][MAC] “ Vertical Scroll bar” is missing on “Attachment details” page under Media library."
## Bug Description:
“ Vertical Scroll bar” is missing on “Attachment details” page under Media library.

## Environment:
macOS High Sierra v10.13.6
Safari: v13.1.2(13609.3.5.1.5)
Chrome: v85.0.4183.83

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Go to “Media -> Library”.
1. Select any “Image”.
1. Click on “Edit Image” button

[2020-11-26 17:00] gglobalstep opened #28426 "[GlobalStep - WooCommerce 4.8 RC 1][MAC- Chrome] “Cancel” and “Save” buttons fails to display on “Attachment details” page under Media library."
## Bug Description:
“Cancel” and “Save” buttons fails to display on “Attachment details” page under Media library.

## Environment:
macOS High Sierra v10.13.6
Chrome: v85.0.4183.83

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Go to “Media -> Library”.
1. Select any “Image”.
1. Click on “Edit Image” button.
1. Observe that “C

[2020-11-26 17:04] gglobalstep opened #28427 "[GlobalStep - WooCommerce 4.8 RC 1][MAC] On "WooCommerce->Customers" page, horizontal scroll bar is missing for customers table."
## Bug Description:
On "WooCommerce->Customers" page, horizontal scroll bar is missing for customers table.

## Environment:
macOS High Sierra v10.13.6
Safari: v13.1.2(13609.3.5.1.5)
Chrome: v85.0.4183.83

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Go to frontend.
1. Now place some orders with different users.
1. Go to “Woo

[2020-11-26 17:07] rrennick commented on #28294
@mathiasdb Thanks for reporting the issue and patch. I was able to reproduce the issue with the details you provided. Could you create a pull request from your patch?

[2020-11-26 17:49] gabrielgiorisatto commented on #22706
Please fix this!

[2020-11-26 18:21] sybrew opened #28428 "Action lostpassword_post misses second parameter"
WordPress Core hook [lostpassword_post](https://developer.wordpress.org/reference/hooks/lostpassword_post/) has two parameters:
 * `$errors`
* `$user_data`

The hook copied from Core into WooCommerce at method `WC_Shortcode_My_Account::retrieve_password()` only supplies the first parameter, causing a discrepancy --- plausibly also PHP errors for those unbeknownst (such as was I).

You can easily m

[2020-11-26 20:55] silviu3dfx commented on #16028
@merlin-magic  - great. works like magic:)

[2020-11-26 21:06] zhongruige commented on #28356
As I've been looking into this issue, my current thinking is I could potentially add the product as a Store Owner to an order. Granted I could "cheat" it a bit by just adding fees or shipping, but I believe this should be testing on an order with a product. Alternatively, I could use the customer flow, but I feel this is a bit too cumbersome of the needs of this test. So, I'm curious on what peopl

[2020-11-26 21:14] zhongruige commented on #28359
As I've been looking into this issue, my current thinking is I could potentially add the product as a Store Owner/Customer flow to an order or set up free shipping and apply the coupon that way.

I tested if fees could work in this flow, but it doesn't appear coupons can be applied to fees:

![Screen Shot 2020-11-26 at 2 07 12 PM](https://user-images.githubusercontent.com/71906536/100391617-3b183c

[2020-11-26 21:28] mmc501 commented on #18852
I've just come across this issue as last week - with the price mismatch relating to the structured data displaying prices without VAT - following on in interest of a better solution

[2020-11-26 21:40] masteradhoc commented on #28131
@rrennick may you can check and confirm this?

[2020-11-27 00:06] Kali0310 opened #28429 "Coupon BIG Issues"
I was creating my Black Friday coupon and when I would go to my checkout and enter my coupon code it made my items equal to zero!!! I tried for about 30 minutes and it never worked like in previous occassions.
Thank you!

[2020-11-27 02:56] ilyasfoo commented on #28429
Hi @Kali0310,

Sorry to hear that you're having trouble with managing coupons in your store. While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, pleas

[2020-11-27 02:56] #28429 closed

[2020-11-27 04:02] usandarthur opened #28430 "i have installed multi-site=multi-language wordpress, how to make woocommerce sync with wordpress multi-language"
i have installed multi-site=multi-language wordpress, how to make woocommerce sync with wordpress multi-language

[2020-11-27 04:04] usandarthur commented on #28430
i have multisite: english, chinese, japanese,  but woocommerce still run in english , how to switch woocommerce store language  ?

[2020-11-27 06:39] Mark5663 opened #28431 "WooCommerce email templates unfindable in the website"
Good day,
I use WooCommerce in my website https://olives-en-provence.com/home/  for the shop. There are two languages, English and French.
In the WooCommerce email templates for orders, I cannot find the text templates to amend/change the text. In the English templates, I can only find how to change the Header, whilst I cannot find the templates in French at all.  And yet customers are receiving o

[2020-11-27 08:34] williamgh2019 opened #28432 "LIVE Stream Commerce"
Hello 👋 everyone,

I hope you have heared about LIVE Stream Commerce it is so popular in ASIA now such AliExpress or Lazada ecommerce also start to implement it.

In summary, consumer like to interact with product owner live stream more than static product image post on ecommerce.

Product own can live talk about their products feature right on their shop and customers can buy the product without

[2020-11-27 10:13] AashikP commented on #28275
Same with saving payment methods. Reporting here as it looks like fixing original report would fix this one as well:

![https://d.pr/i/pRP0ou+](https://d.pr/i/pRP0ou+)

[2020-11-27 12:19] cwsindia opened #28434 "New State Missing for India in Tax State List"
Hello,

India has recently created a new Union Territory State named Ladakh. This state is not available in tax state list for India for tax configuration. I request you to please add this new state in List.

Thank You.
Niraj

[2020-11-27 12:41] Bodrosh commented on #20262
@rodrigoprimo, coolos17 Hello, haven't you found a solution to this download problem? Code in class-wc-post-types.php slows down a site with many taxonomies (with created global attributes ), both backend and frontend (it loads on many pages, if not all):
`$attribute_taxonomies  = wc_get_attribute_taxonomies();
foreach ( $attribute_taxonomies as $tax ) {
          register_taxonomy( $name, apply_f

[2020-11-27 13:17] rrennick commented on #28421
@brunocantuaria I just tried running the query directly in MySQL and the `user_registered` field is not updated. Can you provide steps to reproduce the issue you are seeing?

[code]

[2020-11-27 13:30] rrennick commented on #28422
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end following the steps you provided.

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-11-27 13:42] #27923 closed

[2020-11-27 13:59] rrennick commented on #28423
@gglobalstep Thanks for reporting the issue. I downloaded Twenty Twenty One from Github this morning and tested with WC `master`. There may have been updates to CSS in either the theme or WC. I'm marking this for a second developer to check.

<img width="1426" alt="Screen Shot 2020-11-27 at 9 56 55 AM" src="https://user-images.githubusercontent.com/343847/100456770-4c1b8900-3097-11eb-8403-648c9480

[2020-11-27 14:05] rrennick commented on #28424
@gglobalstep The Media > Attachments screen is a core WordPress screen. Could you check this to see if the same occurs without WooCommerce active?

[2020-11-27 14:06] rrennick commented on #28425
@gglobalstep The Media > Attachments screen is a core WordPress screen. Could you check this to see if the same occurs without WooCommerce active?

[2020-11-27 14:07] rrennick commented on #28426
@gglobalstep The Media > Attachments screen is a core WordPress screen. Could you check this to see if the same occurs without WooCommerce active?

[2020-11-27 14:11] rrennick commented on #28427
Hi @gglobalstep,

Thank you for reporting the issue. The Customers screen is being developed in another repository: {provide a link to the repo}.

I am going to move your bug report there so that the right team could take a look further.

[2020-11-27 14:16] rrennick commented on #28428
Hi @sybrew,

Thank you for taking the time to report this bug, we really appreciate your help. 

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-11-27 14:17] rrennick commented on #28430
Hi @usandarthur,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide]

[2020-11-27 14:17] #28430 closed

[2020-11-27 14:19] rrennick commented on #28431
Hi @Mark5663,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guide](ht

[2020-11-27 14:19] #28431 closed

[2020-11-27 14:21] rrennick commented on #28432
Hi @williamgh2019,

Thank you for taking the time to share this idea, we really appreciate your help. 

While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close this