[2020-09-16 17:56] #27691 closed

[2020-09-16 19:06] axcar95 commented on #27691
actually the fact taht responsive product image didnt appear is a bug i suppose. but you know better

[2020-09-16 19:33] mahmoudsaeed commented on #27566
@vedanshujain I can work on a PR if nobody is already doing this.

[2020-09-16 20:01] akshuvo commented on #22100
[code]

This code saved me. Credit goes to https://gist.github.com/chuckmo/9c2a57f64cf60ee0d9d3#gistcomment-1805437

[2020-09-16 22:49] #27690 closed

[2020-09-17 06:56] pradeepgadiya opened #27692 "Create api title issue"
**Prerequisites (mark completed items with an [x]):**
- [ ] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
i want to create a product through API and using in title  & sig

[2020-09-17 07:05] AashikP opened #27693 "Free Shipping method should not consider TAX display settings"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

The free shipping method is not displayed if the product price in cart/checkout pages does not include tax.

**Expected behavior**

Calculate T

[2020-09-17 07:11] AashikP commented on #27693
Closing as duplicate of https://github.com/woocommerce/woocommerce/issues/10711

[2020-09-17 07:11] #27693 closed

[2020-09-17 08:25] thefrozenbear opened #27694 "fail to set featured product"
hello, good morning.
i have a problem with the feature product. i want to add some selected product as feature product in my home page and i already set my product as "feature" like how it should be.. but in my home page feature product section,it fail to show the products i have selected. is that bug or? i tried to deactive my caching plugin but still the same.

### WordPress Environment ###

Wor

[2020-09-17 08:31] negapo commented on #27670
Hi, we have the same exact problem using the API and Siteground, we have plenty of resources (CPU running at 15% max and RAM at 25% max), we have tried everything to pint point the problem but we cant. Any insight on this would be wonderful, we are aware that this can be a siteground problem but any lights on the right direction would be great. thanks.

[2020-09-17 09:17] sorin-sabo opened #27695 "Order line not created on order update"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-09-17 10:00] mirco261 commented on #27670
I have ticket in SG with this problem and collaborate with them as much I can.
They found some problem in their Memcached, but problem is still.

I will actual this thread if I I will know anything new.

[2020-09-17 10:54] Oremaker commented on #27668
Solved.
In case someone needs this information:

If you are updated to Wordpress v5.5 and afterwards update your woocommerce (in my case Woocommerce 3.7 to 4.5.1) many reviews in my database stayed as comment_type -> "comment" . When clearing transients for the product this comments are not counted as reviews so the rating count and the review count do not match because of the database comment_typ

[2020-09-17 10:54] #27668 closed

[2020-09-17 11:23] masteradhoc opened #27697 "MyAccount Page: Explicit Consent for DataProtection Page"
**Is your feature request related to a problem? Please describe.**
On the my account pageby default it looks like this:
![my-account-default-view](https://user-images.githubusercontent.com/6242098/93463590-401d8900-f8e8-11ea-9e09-38acfa61406f.png)

You can login or create a user. When somebody creates a user by default woocommerce informs him about the privacy policy, shares a link so the user kno

[2020-09-17 11:36] shakil6677 commented on #27656
![a](https://user-images.githubusercontent.com/16381637/93465002-d5257f80-f8f2-11ea-8500-1bdb151babe5.jpg)

[2020-09-17 11:38] ChristiaanScheermeijer commented on #27631
I think I have solved it for our installation. I had a custom plugin which also registered some rest routes in the `init` hook. This seems to cause a delay in the `init` sequence causing the WooCommerce `init` handler to fall behind.

Using the same setup as the latest change (registering the routes in the `rest_api_init` hook) has solved the problem.

[2020-09-17 12:06] GeoJunkie commented on #25261
Adding a report in 24201982-hc

[2020-09-17 12:11] rafaramos opened #27698 "Default customer location"
Default customer location in WooCommerce 4.5.2 doesn´t work. I almost went crazy setting up the taxes until I tried this issue.

I performed the installation without the wizard, completely by hand.

Thanks.

[2020-09-17 12:15] cl0udres commented on #25261
Our customers asked us why the price filter doesn't work on variation products. It is very important to fix it asap, to let help our customers to search their perfect products to purchase.

Please, prioritize the fix of this issue!

Thanks.

[2020-09-17 13:24] nexus1703 opened #27699 "Woocommerce unable to find a shipping method even with zones configured"

[2020-09-17 13:35] #27415 closed

[2020-09-17 14:33] juliaamosova commented on #27668
Thanks for your follow-up and for providing the solution @Oremaker.

[2020-09-17 14:52] ivatautomattic opened #27700 "403 errors in console while running E2E tests"
**Desc**:  When running[ e2e tests ](https://github.com/woocommerce/woocommerce/tree/master/tests/e2e) I get console errors

**STR**:
1. Setup local env for E2E tests using the guide [here](https://github.com/woocommerce/woocommerce/tree/master/tests/e2e#prep-work-for-running-tests)
2. Run the tests in headless mode -  `npm run test:e2e`

**Related to**: #26724

![image](https://user-images.github

[2020-09-17 14:57] rrennick commented on #27700
@ivatautomattic You get these from the tracking pixel if your proxy isn't active.

[2020-09-17 15:03] kkmuffme opened #27702 "Use trigger_error instead of error_log"
woocommerce should only be using trigger_error() instead of error_log(), since it's easier to hook into/modify the output location.
Then also the phpcs:ignore can be removed, bc the error is ignored, but the issue is legit, since trigger_error should be used.

[2020-09-17 15:08] #27699 closed

[2020-09-17 15:58] gglobalstep opened #27703 "[GlobalStep - WooCommerce 4.5.2] "Add Contact Form" button is non-functional for "Product Short Description"."
## Bug Description:
"Add Contact Form" button is non-functional for "Product Short Description".

## Environment:
Windows 10, Mac Mojave:10.14.6 (18G103)
Browser: Chrome(Version 85.0.4183.83 (64-bit))
                 Firefox(Version 80.0.1)(64-bit)
                 Safari(Version 13.1.1)

## Steps To Reproduce:
1. Create a Jurassic Ninja test site
1. Install and Activate WooCommerce, Query Monito

[2020-09-17 16:16] DynAggelos opened #27704 "Backorder Status Not Always Shown to Customer"
I am having an issue where products are on backorder, but customers aren't always aware when or after they purchase a backordered product. The main problem is that "backordered" isn't being shown in enough places, so that some customers may never even have the chance to notice a product is backordered before and after placing their order.

When a product is set to Manage Stock: No and Stock Status

[2020-09-17 16:17] DavidAnderson684 commented on #27697
When I was researching GDPR in 2018, I read several resources advising that it is a fallacy to interpret the concept of "consent" as boiling down to "add a checkbox that has to be ticked".
If someone fills in a form that is clearly labelled as being for purpose X, then they have also consented to X by filling it in. The implication was that adding an extra "Do you actually provide consent for the

[2020-09-17 16:35] DynAggelos opened #27705 "More Backordered Options"
When Manage Stock is turned on for a product and Allow Backorders is set to "Allow, but notify customer", the product page says "X in stock (can be backordered)" or "In stock (can be backordered)" whenever a product is in stock. The problem is, store admins might not want product pages to say "(can be backordered)" when a product is in stock, because that might seem confusing to customers, who mig

[2020-09-17 18:32] ouija commented on #27682
I believe I have discovered the cause of the issue -- My client has disabled/unset the default **billing_postcode** filed at Checkout, and not having this set will throw an _"Invalid payment method"_ validation error for the COD payment method (but not other methods, such as the online CC processor)

I'm looking into re-enabling the billing_postcode field for now as a solution to this, although th

[2020-09-17 18:38] sixg opened #27706 "Unable to display payment method logo in payment method title"
**Is your feature request related to a problem? Please describe.**
Unable to display payment method logo in payment method title which appears in billing address column, order view page and invoice.

**Describe the solution you'd like**
Since the payment method title is fetched from the DB directly and hence there's no need to escape it.

**Describe alternatives you've considered**
Moving to simpl

[2020-09-17 19:04] carike-codes commented on #27697
:wave:

"Silence, pre-ticked boxes or inactivity should not therefore constitute consent."
Just displaying a link to the privacy policy is the same, in substance, as having a pre-checked checkbox.

[2020-09-17 19:27] masteradhoc commented on #27697
@DavidAnderson684 thanks for the comment, appreciate it.

**Law**
Carike is right and pointed out, that a simple text is not enough. Her statement is from the official recital which can be found here: https://gdpr.eu/Recital-32-Conditions-for-consent/

**Checkout**
If the Terms and Conditions Page is set at WooCommerce -> Settings -> Advanced right now on the checkout a NOT prefilled checkbox appe

[2020-09-17 19:38] DavidAnderson684 commented on #27697
You're missing my point - someone who fills in a form with a clearly specified purpose accompanied by an explanation of what the form is for *has already taken explicit action*. There is no "consent by omission" in that situation.

So:
https://www.linkedin.com/pulse/why-gdpr-doesnt-require-checkboxes-peter-austin
https://dma.org.uk/article/gdpr-in-practice-tick-box-consent-forms
https://www.mailer

[2020-09-17 22:36] nadvertexsupport commented on #8504
Cart empty issue for logged in user on different browsers and devices cart got empty.

https://drive.google.com/file/d/1qTZjIkGKpZkrZd-pS4-FGpCt_FOhF6np/view

[2020-09-17 23:42] ivatautomattic commented on #27700
Below is the error I get if I run the tests with my proxy not active. It is different from the 403 above. Have you had a chance to check the logs I attached?

[code]

[2020-09-18 07:56] carike-codes commented on #27697
The English translation of the text accompanying the privacy link in the screenshot seems to be the following:
"Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy."
That does not make it clear that the creation of an account is **conditional** upon the acceptance of a contractu

[2020-09-18 08:15] rambavd commented on #25920
I still have this same problem on an Italian installation.
I tried everything, including clean install of localized wordpress.

[2020-09-18 08:58] kkmuffme opened #27708 "Maintainer missing in acion"
WooCommerce Beta Tester hasn't had an update in almost a year and there are a few major issues, making this plugin hardly usable (as it generates loads of PHP notices).

Since some of the maintainers of the repo are official employees of automattic/woocommerce, could someone please ping anybody there or at least add me (or anyone) as a maintainer so these issues get fixed?

Especially with the new

[2020-09-18 09:14] jacoswan opened #27709 "Please Log in link doesn't work when trying to register and existing email address"
### Prerequisites (mark completed items with an [x]):
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug
When trying to register an existing email address there is a "Please log in" link in the error message, which doesn't do anything.

![image

[2020-09-18 09:53] jacoswan commented on #27709
I just realized, cup of coffee in hand, that the reason it does "nothing" is because the login form is already right there!

Apologies, it was pre-coffee. Closing 🙃

![image](https://user-images.githubusercontent.com/15178758/93584326-710fc380-f9a5-11ea-97c9-c818725acf22.png)

[2020-09-18 09:53] #27709 closed

[2020-09-18 11:53] PriitGit opened #27710 "Grouped product not hidden"
Hi!
Grouped product not hidden in product catalog page. In settings > invetory > Out of stock visibility is checked, but still shows grouped product in catalog. All sub products or related products in this grouped product is “out of stock”, but still shows that product in archive page? Are that bug or I missing something?

All Best,
Defix

[2020-09-18 12:28] mirco261 commented on #27670
They tried some optimization and changes but nothing help at all...

Last message from them:

[code]

so, I think is in SG and it is no chance to use REST API without ERROR 502 on shared plan...

And if we can not simulate this problem on other platform... we are deadlocked...

[2020-09-18 12:34] #26960 closed

[2020-09-18 13:06] negapo commented on #27670
We have a cloud plan with plenty of spare resources, CPU running at 15% max and RAM at 25% max at peak, and we still have problems, we thought at first the queries were very long and timing out, like fetching a lot of products or orders, but thats not the case, cant understand why the constant errors when using the API.

[2020-09-18 13:19] mirco261 commented on #27670
so... It si problem not in WC plugin, but in hosting...
I fetch about 15000products with 15000variants in about 60-65minutes... Standard PHP...

[2020-09-18 13:41] nomanali907 commented on #27160
@vedanshujain Thankyou soo much, its resolved the problem at my end.

[2020-09-18 13:48] grigorijurasov commented on #27710
Also reported here: https://wordpress.org/support/topic/grouped-product-not-hidden-in-product-catalog/

I'm able to replicate on my test site with two latest WooCommerce versions.

Steps to replicate:

1. Create one simple and one variable product (same happens with just two simple products too). Set the product and the variations to out of stock.
2. Create a grouped product, assign it to a produc

[2020-09-18 14:18] glagonikas commented on #27611
Hi @juliaamosova Let me know if you need anything further for me

[2020-09-18 14:51] soussartdirection commented on #26643
I am having trouble with this issue. I am using NMI payment gateway for Woocommerce. This change toMunicipality i think broke this plugin. Municipality is really a city when it comes to address. Puerto Rico is the country and we have always used city field to put the municipality before this field was created.  Since you just hid the city field now merchant order won;t process because they are mis

[2020-09-18 15:17] soussartdirection opened #27711 "City field cannot be hidden for Puerto Rico. Credit Cards will not validate."
AS in issue #26643 https://github.com/woocommerce/woocommerce/issues/26643

In this thread they say that they hid the "City" field and replaced with "municipality". This has broken credit card verification for Puertp Rico clients. You should just leave as is and eliminate municipality field and just leave city field. Puerto Rico uses US Postal Service so "Municipalities" are considered cities.

If

[2020-09-18 16:12] jjbbrr opened #27713 "With 'Force downloads' selected, customer downloads product and ends up at actual filepath instead of cloaked url"
**Prerequisites (mark completed items with an [x]):**
- [ X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
'Force downloads' setting requires htaccess but this is not supported in PHP7.4 onwards. WP Engine has deprecated it
https://wpengine.co.

[2020-09-18 18:57] #26173 closed

[2020-09-18 18:57] #27286 closed

[2020-09-18 19:40] dirkthewebphoenix opened #27716 "How to add an Affiliate Tracking ID to Place Orders of external products?"
I am new to Woocommerce.

I wonder about "external product" links not redirecting the browser to the external site with a tracking id inserted in the GET URL. Rather a situation where Woocommerce uses REST API to send the order placement to the external site and gets back a response then displayed to the user who thus never left the Woocommerce-using site.

Is there any usable hook and variable to

[2020-09-18 19:46] #26972 closed

[2020-09-18 20:20] lukecav commented on #27713
NGNIX server method would be.
https://docs.woocommerce.com/document/digital-downloadable-product-handling/#nginx-setting

[2020-09-19 05:02] n9yty commented on #10711
@mikejolley It seems no work was ever done on this to add a filter. It does seem odd that a setting as to how things are displayed to the user should affect how things are calculated behind the scenes.

Might it work to filter it here:
https://github.com/woothemes/woocommerce/blob/master/includes/shipping/free-shipping/class-wc-shipping-free-shipping.php#L154-156

And maybe here:
https://github.co

[2020-09-19 06:15] hybridwebdev commented on #25437
Welp, looks like this has been totally broken again in 4.3. Is the WC dev team doing this intentionally, or are they really this incompetent? You cannot just remove functionality like this and then tell people "Use our endpoint nub", that is a piss poor response.

I seriously LOVE spending hours of my life trying to find a work around for stupidity.

[2020-09-19 14:36] crashbit666 commented on #27670
Hi!

I using Siteground cloud account and I test with Ultra Fast PHP, memcached and versions of PHP

With Ultra Fast PHP + memcached + php 7.4.8 ---> A lot of 502 errors
Ultra Fast PHP - memcached disabled + 7.4.8 ---> Some errors
Standard PHP + memcached + 7.4.8 ---> Some errors
Standard PHP - memcached dissabled + 7.4.8 ----> Some errors
Ultra Fast PHP + memcached + 7.3 PHP 7.3.20 ---> NO ERRORS

[2020-09-19 18:06] dirkthewebphoenix opened #27717 "Woocommerce hooks & variables for external products?"
What hooks & variables does Woocommerce have for external products? (the search field here doesn't work on my end, btw)

To vary the procedures via building an add_filter plugin or so, the hooks & variables must be known. What are they for external products?

(or where can one find such detailed specific info?)

Thanks for any helpful tips.

[2020-09-19 18:52] helgatheviking commented on #27555
@juliaamosova Any chance someone could get eyes on this? I have a support ticket related to Name Your Price and the product blocks it that I can patch from Name Your Price as soon as there's a filter to target.

[2020-09-19 20:04] Pleiades opened #27720 "WordPress database error Got a packet bigger than 'max_allowed_packet' bytes for query UPDATE `wp_options`"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Server error log reports:
[code]

**Actual behavior**
WooCommerce subscriptions is attempting to write transients that are too large.

**S

[2020-09-20 11:40] vaclavgreif opened #27722 "Pass data to checkout_place_order_success to allow for some logic when order is created"
I need to do some conditional logic when the order is created, before the redirect to gateway happens. For that I'd need to have the data available.

Pull request here: https://github.com/woocommerce/woocommerce/pull/27721

[2020-09-20 13:20] crashbit666 commented on #27670
This is the log that the siteground access_log shows me:

192.88.135.17 www.mamabepo.com - [20/Sep/2020:12:57:11 +0000] "GET / HTTP/1.1" 200 14185 "https://www.mamabepo.com" "Mozilla/5.0+(compatible; UptimeRobot/2.0; http://www.uptimerobot.com/)" | TLSv1.2 | - - 0.000 HIT 0 NC:000000 UP:0

The 502 error comes out when it shows the 0 NC: 00000 UP: 0, which I have no idea what it is

[2020-09-20 14:09] rokeyfx commented on #27688
I am having same issue. I have around 200 review on my product. Today one of our customer put a reivew then it disable review count suddenly. but the review still shows on reviews tab.

[2020-09-20 18:13] strarsis commented on #8845
So rather unhook the email sending action before invoking `wc_create_new_customer` ?

[2020-09-20 18:13] mirco261 commented on #27670
crashbit666 - you have absolutely right. Thank you for your post.

Option Ultra Fast PHP + memcached + 7.3 PHP 7.3.20 ---> WORKS WELL

hm... I dont know what to write to SG, to solve this problem on other variations (php + memcached)...
But it is fine that is option to have ultrafast PHP + memcached enabled...

[2020-09-21 01:06] GlennMartin1 commented on #27652
I can't speak for @TheWebsiter1 , but WooCommerce Powerpack has a Customizer option for what checkout fields are required.

[2020-09-21 01:14] GlennMartin1 commented on #27521
Related?: https://github.com/woocommerce/woocommerce/issues/27652

[2020-09-21 01:26] GlennMartin1 commented on #27070
Other "required fields" issues: https://github.com/woocommerce/woocommerce/issues/27652 and https://github.com/woocommerce/woocommerce/issues/27521

 possibly related?

[2020-09-21 03:32] Ndroid042 opened #27724 "REST API endpoint for Cart management"
We need a rest api for management of cart; for guest sessions and user account.

[2020-09-21 04:00] deshrajthakur opened #27725 "I have issue with uploading image and change image on woocomerce category"
I am unable to click on the upload button after clicking on that button nothing happens

media-models.min.js?ver=5.5.1:2 Uncaught TypeError: Cannot read property 'defaults' of undefined
    at Object.wp.media (media-models.min.js?ver=5.5.1:2)
    at HTMLButtonElement.<anonymous> (edit-tags.php?taxonomy=product_cat&post_type=product:444)
    at HTMLDocument.dispatch (load-scripts.php?c=0&load[chunk

[2020-09-21 04:59] bynicolas opened #27726 "WC_REST_Authentication class methods not fired on requests"
Ok, I'll try to keep it short and simple since it might only be me missing a setting somewhere.

But I cannot authenticate using the generated `consumer key/secret` from the `WC > advanced > REST API` tab

- It's not a server issue or a missing header. That has been checked.
- If I try using my WordPress user/password (using https://github.com/WP-API/Basic-Auth plugin), I can authenticated against

[2020-09-21 07:53] jjbbrr commented on #27713
This site is with WP Engine who don't have the X-Accel-Redirect/X-Sendfile module required for that method. I imagine this must affect lots of sites but they may not realise they are affected by it yet just as we didn't realise until I chanced upon it while testing something else.

[2020-09-21 08:00] pssyss opened #27727 "External/Affiliate Links adding extra character “?” to the URL"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Hello,

The affiliate link is
https://domain.com/#a_aid=sid
However the button link leads to
https://domain.com/?#a_aid=sid

Tried to tro

[2020-09-21 08:28] andfinally commented on #27678
Fixed in https://github.com/woocommerce/woocommerce/pull/27667, thank you! ❤️

[2020-09-21 08:28] #27678 closed

[2020-09-21 09:14] kalonya commented on #27655
That's what I said 🙂 There is a missing translation

[2020-09-21 09:46] seb86 commented on #27724
Use [CoCart](https://cocart.xyz/) @Ndroid042

[2020-09-21 10:33] sathyaprakashmurugan02 opened #27728 "Rest API not working for Woocommerce"
I m facing an issue on using REST API for woocommerce.

On flutter mobile app it has returning Blog data from the source but failed to load products.

tried creating new key also..but its not working.

Expecting a quick response.

Thanks in advance

[2020-09-21 10:55] lkraav opened #27729 "4.5.2: unexpected WC REST API v1 usage: `WC_Abstract_Legacy_Order::get_product_from_item is deprecated since version 4.4.0! Use $item->get_product() instead.`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
### Describe the bug
For some reason, WooCommerce Subscriptions webhook payload goes to `woocommerce/includes/rest-api/Controllers/Version1

[2020-09-21 10:59] cpiber opened #27730 "Math class add div+mod"
Please add div and mod capabilities to the math class. I can also do a PR.

Example situation: Want to have staggered shipping costs with a base price plus some additional fee per ex. 20 items. For this I would need `div`/`\` to integer divide. `mod`/`%` could be used similarly.

[2020-09-21 12:32] madeincosmos opened #27731 "Specific tax rates are always overridden by the more general ones."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
According to WooCommerce docs, specific tax rates should normally override the more general ones (second example here):

https://docs.wooco

[2020-09-21 13:45] danielvonmitschke commented on #27626
Same Problem here:
Tax/VAT is set to 16%.
Price are entered including Tax.
Shipping is taxable and the gross price should be 12€.
So I entered € 10,345 as the shipping net price.
The price displayed to the customer is € 12,01.
Obviously WooCommerce does calculate with 10,35 (rounded from 10,345) and then adds the tax.
Thus resulting in 12,01 instead of 12,00.

Please fix this.

Thanks

[2020-09-21 13:49] #27269 closed

[2020-09-21 13:55] megaginge opened #27732 "4.4.0-> 4.5.2 DB issues with wc_admin_notes and wp_wc_admin_note_actions tables"
Hello

Upgraded from 4.4.0 to 4.5.2 today.

UX is all fine but issues with column is_deleted in the wc_admin_notes table:

Unknown column 'is_deleted' in 'where clause']
SELECT * FROM wp_wc_admin_notes WHERE 1=1 AND name IN ('wc-admin-coupon-page-moved') AND is_deleted = 1 ORDER BY date_created DESC LIMIT 0, 10

WordPress database error: [Unknown column 'is_deleted' in 'where clause']
SELECT * FRO

[2020-09-21 14:18] notrealdev commented on #26865
Same issue with general filter on form fields
[code]
[code]

I cant modify output with filter `woocommerce_form_field`, can you check it?

[2020-09-21 14:53] pixelicous commented on #21959
@mikejolley any chance this issue resurfaced? I'm having it on the latest version of woocommerce, the exact same symptoms

[2020-09-21 15:24] danielvonmitschke commented on #27626
After further inspection the problem seem to be in the WC_Shipping_Method abstract on line 298:

`// Round the total cost after taxes have been calculated.
 $total_cost = wc_format_decimal( $total_cost, $args['price_decimals'] );`

But it seems to make absolutely no sense to do the rounding at this point. 4 lines earlier taxes are calculated and NOT rounded. So I think it should be safe to just do

[2020-09-21 18:47] zarbmark opened #27737 "Bug regarding Product options"
Wordpress in no longer giving me the option to select among the variables when creating a new product next to the **product data section**. The option disappeared which is why I can no longer have multiple options such as size for the customer to purchase my products. The variable product option is very important for my site and I need it back as soon as possible.
Looking forward to hearing from y

[2020-09-21 18:57] juliaamosova commented on #27737
Hi @zarbmark,

Thanks for raising the issue and sorry to hear about the trouble.

Note that we have fixed this issue on the WooCommerce side of things in version 4.3.2 (https://github.com/woocommerce/woocommerce/pull/27170). However, this issue is present on sites using WC 4.3.2+ where the issue is caused by 3rd party plugins.

WordPress 5.5 removed a javascript file called jquery-migrate that som

[2020-09-21 19:07] claudiosanches commented on #27681
@peterfabian not sure about this one, since this change will be against: https://developer.wordpress.org/themes/template-files-section/taxonomy-templates/#custom-taxonomy

Currently we use `taxonomy-{taxonomy}.php`, for taxonomies like `product_cat` and `product_tag`.
By default you need to match the taxonomy slug.

[2020-09-21 19:47] thebeutel opened #27738 "Problem with customer account creation on checkout"
At the checkout it's no longer possible to create an customer account, it says "you already have an account" even though it's the first time for the customer. Also an internal server error occurs with the stripe payment method since the new update.

Thanks for your help!

[2020-09-21 19:49] peterfabian commented on #27681
That's a good point, thanks @claudiosanches . Myabe term/slug should be considered a word, and then our files do conform to the coding standard saying hyphens connect words.... 🤔

[2020-09-21 19:54] juliaamosova commented on #27731
Hi @madeincosmos,

Thanks for raising the issue. It seems a pretty major one if it doesn't work. So far, I wasn't able to reproduce.

Below is how my rates set up:

<img width="1271" alt="Screen Shot 2020-09-21 at 3 12 48 PM" src="https://user-images.githubusercontent.com/19143190/93814247-43837e00-fc22-11ea-9d0c-232226694666.png">

I can successfully switch countries on the checkout page and the

[2020-09-21 20:08] juliaamosova commented on #27728
Hi @sathyaprakashmurugan02,

Thanks for raising the issue, however, you did not provide any details for us to reproduce.

Can you please share the exact request you are making to get orders that doesn't work?

[2020-09-21 20:24] juliaamosova commented on #27725
Hi @deshrajthakur,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2020-09-21 20:24] #27725 closed

[2020-09-21 20:28] juliaamosova commented on #27720
Hi @Pleiades,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce Core bugs only.

The issue you are having seems to be caused by the WooCommerce Subscriptions plugin which is one of the paid products on our marketplace. To get further technical support for it, please contact WooCommerce support team by [opening a tick

[2020-09-21 20:28] #27720 closed

[2020-09-21 20:32] juliaamosova commented on #27717
Hi @dirkthewebphoenix,

We have WooCommerce Code Reference available below:

https://woocommerce.github.io/code-reference/index.html

I believe this is what you are looking for:

https://woocommerce.github.io/code-reference/classes/WC-Product-External.html

I am closing this issue but please feel free to comment back in case I missed something and we'd take another look.

[2020-09-21 20:32] #27717 closed

[2020-09-21 20:34] juliaamosova commented on #27716
Hi @dirkthewebphoenix,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get h

[2020-09-21 20:34] #27716 closed

[2020-09-21 21:03] juliaamosova commented on #27698
Hi @rafaramos,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lac

[2020-09-21 21:05] juliaamosova commented on #27694
Hi @thefrozenbear,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:

- Review [WooCommerce Self-Service Guid

[2020-09-21 21:05] #27694 closed

[2020-09-21 21:07] juliaamosova commented on #27695
Hi @sorin-sabo,

Thanks for raising the issue. It sounds like you are using one of the plugins to create vendors, is that correct? If so, it is likely that the issue is on that plugin side of things.

[2020-09-21 21:21] juliaamosova commented on #27652
Thanks @TheWebsiter1.

Yes, WooCommerce Core has an option to set Phone Number as a required field as well - I missed the fact that we have this option:

![phone)number](https://user-images.githubusercontent.com/19143190/93822641-82b7cc00-fc2e-11ea-9f3b-8294d19b8cc2.jpg)

However, I can't reproduce the issue on my end. If I set the phone number to be required, customers can't checkout without ente

[2020-09-21 21:21] #27652 closed

[2020-09-21 21:22] juliaamosova commented on #27649
Hi @harryph105,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-21 21:22] #27649 closed

[2020-09-21 21:24] juliaamosova commented on #27637
Hi @millerf,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-09-21 21:24] #27637 closed

[2020-09-21 21:26] SWengineer-A opened #27740 "woocommerce_rest_cannot_view issue"
I have encountered "woocommerce_rest_cannot_view" issue some days ago.
The credential was working well before, but this issue suddenly appeared now.
Is there any solution for this issue?
`{
    "code": "woocommerce_rest_cannot_view",
    "message": "Sorry, you cannot list resources.",
    "data": {
        "status": 401
    }
}`
Wordpress 5.5.1
Woocommerce Plugin 4.5.2

[2020-09-21 22:10] jessLundie opened #27741 "Percentage Discount Coupon applied inconsistently when Limit usage to X items is set"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When _Percentage Discount_ coupon is set to _Limit usage to X items_ = 1, the discount is applied inconsistently in cases where you have pr

[2020-09-22 00:54] rafa-acioly opened #27742 "Support to add headers on webhooks"
**Is your feature request related to a problem? Please describe.**
Currently there's no way to add extra headers on the webhook, which demand to write fome sort of function (filter) to add this extra headers to the webhooks, it would be nice if the webhooks have the inputs by default.

**Describe the solution you'd like**
When adding/editing a `webhook`  we could have extra inputs to add a new hea

[2020-09-22 07:08] lkraav commented on #27729
@chickenn00dle has graciously pointed out, `WC_REST_Subscriptions_Controller` extends `WC_REST_Orders_V1_Controller`. Somehow I didn't know to look for that vector.

Regardless, core shouldn't be shipping deprecated method calls in any of its internal implementations, even if legacy APIs, correct?

So https://github.com/woocommerce/woocommerce/blob/f5e130c190c73050070ee43e653ff07707e88ef3/includes

[2020-09-22 08:32] vedanshujain commented on #27026
Apologies, this will take longer than expected, perhaps in November release. We are looking to address this and other rounding issues as well (and possibly do an overhaul if needed). We are already discussing approaches internally, and have figured out some low effort fixes we can do, but please expect it to take more time as its still ongoing research and discussion.

[2020-09-22 08:40] DavidAnderson684 opened #27743 "WC_Customer() has two identical functions"
In https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-customer.php, the method `is_vat_exempt()` contains only the code `return $this->get_is_vat_exempt()`. Presumably one of the two ought to include a deprecation notice, guiding consumers to prefer the other.

[2020-09-22 13:00] appleonkel opened #27744 "PHP Segfault on login with saved cart"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
PHP crashes for a user logging in with a saved cart.

**Expected behavior**
PHP should not crash.

**Actual behavior**
When logging in with

[2020-09-22 13:52] rrennick commented on #27681
In the linked PR, template naming support is

- `themename/content-product_cat.php`
- `themename/woocommerce/content-product-cat.php`
- `themename/woocommerce/content-product_cat.php`

The 3 templates are renamed to `-` in the `/templates/` folder and the instructions in the doc block are to copy the template to `themename/woocommerce/`. Template files in the `/woocommerce/` folder are in addition

[2020-09-22 13:58] DavidAnderson684 opened #27746 "Replace performance-killing double-left join postmeta queries with two separate queries"
Because of the use of custom post types and postmeta, WooCommerce has several places that perform double left-joins on the post/postmeta tables in order to perform lookups. Probably the desire was to be efficient by only performing one SQL query. But the query itself, because of the double-left join, is hideously inefficient and worse by several orders of magnitude than an alternative performing a

[2020-09-22 14:14] juliaamosova commented on #27745
Hi @Aljullu @haszari @nielslange, thanks for raising the issue and for the testing done on it.

I am marking this as a `low` priority as the issue seems specific to the `Downloads` section only on the mobile device. However, please feel free to argue that it should have a `high` priority to be fixed.

[2020-09-22 14:20] lkraav commented on #27746
Looks like another duplicate of https://github.com/woocommerce/woocommerce/issues/20513

@DavidAnderson684 did you search issues for `get_total_spent`?

[2020-09-22 14:21] nielslange commented on #27745
Thanks for doing so, @juliaamosova. 🙌

I'd have to investigate a bit deeper to see if only downloads are affected or also other sections. Keeping the priority on low, sounds great for now. If it needs to be raised, I'll let you know.

[2020-09-22 14:27] DavidAnderson684 commented on #27746
In my view it'd have value to provide an efficient solution now to each individual place, because the fixes described above are quick, easy and low impact, and because the "move to using custom order tables" effort is about to approach its fifth birthday (https://github.com/woocommerce/woocommerce/issues/9735).

Yes, I'm aware of that effort - I took part in that thread (my concerns were correctly

[2020-09-22 14:34] DavidAnderson684 commented on #27746
Store-owners having the same problem may be interested to note that for the specific instance of the problem above, they can deploy the `woocommerce_customer_get_total_spent` filter to over-ride that query with some code that implements the above suggestion (we haven't done so yet so I haven't attached any sample code).

[2020-09-22 15:55] dirkthewebphoenix commented on #27716
Thanks a million for the WooCommerce Community Slack link. :-)

(now I may finally find a way out of the labyrinth)

:-) DtWP

[2020-09-22 16:15] ivatautomattic commented on #26834
Hi @BackuPs ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

**STR**:
1. Spin up a fresh site with the Storefront theme
2. Import sample products
3. Navigate to the "Hoodie" variable product in the wp-admin
4. Navigate to the product attributes
5. Change "Logo" attribute to "With Logo" -> Save attribute -> Update page
6. Navigate t

[2020-09-22 16:23] zarbmark commented on #27737
Dearest Julia,
Last I upgraded to the latest version of woocommerce (last week), I had my shop deleted and had to resort to a back-up. I am by no means an expert in tech and this is a great inconvenience to me because I am afraid it will jeopardize all the work I have built up in the last year and have it deleted again. What shall I do, this is very frustrating and my client is getting upset.
rega

[2020-09-22 16:42] joshrives commented on #19640
I have this same issue happening with files located in AWS. To reproduce, [visit this link](https://stg.livingontheedge.org/checkout/order-received/7700929/?key=wc_order_pwvBnelC2UqpE) in iOS on Safari and click the purple download button. Safari offers a prompt to View or Download the file. Click view and somewhere between 90 and 120 seconds, the audio will restart at the beginning.

Clicking on

[2020-09-22 17:24] yukikatayama commented on #27673
Adding that this was also reported in 24322995-hc.

[2020-09-22 17:37] khaliltws opened #27749 "Problem in Woocomerce after update"
After updating my theme and WooCommerce to latest versions
I have problems in my website :
1- Dashbord of WooCommerce do not work anymore !
![image](https://user-images.githubusercontent.com/46076234/93917091-0ab6d800-fcfa-11ea-9c49-ca0c3eaf1e9a.png)
2- Editor to add or edit product also do not works anymore (I can only use text editor and not Visual one)
![image](https://user-images.githubusercon

[2020-09-22 18:10] mahmoudsaeed opened #27750 "REST API: taxes endpoint does not return multiple postcodes/cities"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The `wc/v3/taxes` endpoint only returns the last postcode/city for a tax rate, ignoring multiple postcodes and/or cities.

**Expected behav

[2020-09-22 18:28] khaliltws commented on #27749
update !
I have this php error
![image](https://user-images.githubusercontent.com/46076234/93922414-65076700-fd01-11ea-8688-1dde1b4cc455.png)

[2020-09-22 20:20] haszari commented on #27745
Here's a similar example for `Add to cart` notice. I don't think this issue is specific to the downloads notice, I think could affect any notice with long text and an action button.

<img width="344" alt="Screen Shot 2020-09-22 at 4 37 20 PM" src="https://user-images.githubusercontent.com/4167300/93933120-4d69c600-fd75-11ea-8e31-462fbc8e46cc.png">

I don't think there's a major issue here, but it

[2020-09-22 20:41] omanuela opened #27752 "Broken REST API after upgrading to 4.5.2."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Rest calls work fine in WooCommerce 4.4.1.  They stopped working on 4.5.2.  (however, from other REST issues posted here, it looks like it

[2020-09-23 01:32] morganhvidt commented on #27034
Hi @ObliviousHarmony Just wanted to ask if you've had time to check out my PR: #27404
Let me know your feedback, I'm happy to help and get the ball rolling on these stock improvements.

[2020-09-23 03:41] haszari opened #27754 "Token based "Set password" endpoint form for setting an account password on new accounts (useful for Checkout signups)"
**Is your feature request related to a problem? Please describe.**
Many WooCommerce stores are set up to allow or require customers to sign up for an account during purchase. In [WooCommerce Blocks](https://github.com/woocommerce/woocommerce-gutenberg-products-block/) we're [adding support for checkout signup](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/2851) and want

[2020-09-23 05:08] DEVEITEAM commented on #24204
+1 for this. iPhone show very blurry logo image.

[2020-09-23 09:23] pmcpinto opened #27755 "WC 4.6 Beta 1: Not being redirected to the onboarding after activating the plugin"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After installing the plugin in a new site I'm not being redirected to the WooCommerce onboarding after activating the plugin.

**Expected behavi

[2020-09-23 09:24] pmcpinto commented on #27755
cc @rodrigoprimo @juliaamosova

[2020-09-23 09:38] madeincosmos commented on #27731
My bad, I had taxes calculated based on shop base address for the whole time 🙈

Sorry for the false alarm, and thanks for checking this with me @juliaamosova!

[2020-09-23 09:38] #27731 closed

[2020-09-23 10:57] madeincosmos opened #27756 "`?add-to-cart=` in URL allows for buying variable product without selecting a variation"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When adding `?add-to-cart=ID` to any page address, I can pass the variable product ID without any variation. This is accepted without any v

[2020-09-23 11:52] negapo opened #27757 "URGENT - Incorrect Stock Management - URGENT"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-09-23 13:19] vedanshujain commented on #27757
Closing as its duplicate of #27445, but I was already working on this today and should have a fix soon.

[2020-09-23 13:19] #27757 closed

[2020-09-23 13:24] juliaamosova commented on #27755
Thanks for reporting @pmcpinto!

[2020-09-23 13:25] juliaamosova commented on #27731
@madeincosmos no worries at all! And thanks for your follow-up.

[2020-09-23 13:31] juliaamosova commented on #27749
Hi @khaliltws,

Thanks for raising the issue. Can you please confirm from which version did you upgrade WooCommerce from? And also if you upgraded WooCommerce to 4.5.2? You mentioned the latest version but I always like to confirm.

As far as the error itself, it seems to trace back to WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admi

[2020-09-23 13:35] negapo commented on #27757
@vedanshujain  thanks, this has a tremendous impact on a live store, could you please tell me in what version this was introduced so we can track all erros in the stock?

[2020-09-23 15:40] rrennick commented on #27755
This will probably be addressed in WC Admin. @joshuatf could you confirm?

[2020-09-23 15:51] gglobalstep opened #27760 "[GlobalStep - WooCommerce 4.6 Beta 1][iOS] Website fails to display "Install" button for mobile app banner."
## Bug Description:
Website fails to display "Install" button for mobile app banner

## Environment:
iOS
Devices: iPhone 6: 12.4.4 (16G140)
             iPhone 11 Pro - v13.2.2 (17B102).

## Steps To Reproduce:
1. Create a Jurassic Ninja test site
1. Install and Activate WooCommerce, Query Monitor and WooCommerce Beta Tester Plugin.
1. Switch the version to 4.6.0 Beta 1 with help of WooCommerce Be

[2020-09-23 16:05] rrennick commented on #27746
@DavidAnderson684 @lkraav Are either of you interested in writing a PR for this?

It is. In the comment thread it was expected that WC Admin would address this. As WC Admin can be disabled with a filter, the fix for this would need to be done in core.

[2020-09-23 16:20] rrennick commented on #27743
@DavidAnderson684 This is a valid point from a code optimization perspective.

However, the `get_is_vat_exempt ` version of the function is to support the base data store functionality which uses `get_{property_name}` functions when they exist. The `is_vat_exempt` is for extensions / customization. Aliases are common in operating systems, programming languages, etc. Since there is a legitimate rea

[2020-09-23 16:20] #27743 closed

[2020-09-23 16:20] tammullen commented on #27756
Hi @madeincosmos

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
We have front end validation to prevent adding parent variable products and we removed the ability to add them to manual orders in https://github.com/woocommerce/woocommerce/pull/25162 so I agree this is not the expected behaviour.
​
I'm marking it as `low` priority f

[2020-09-23 16:35] rrennick commented on #27742
@rafa-acioly We appreciate the suggestion but this is the type of feature that we leave for the developer community. This isn't something we would look at adding to core.

The webhook edit screen/save contains hooks to allow adding fields & saving the entered values:

- https://github.com/woocommerce/woocommerce/blob/master/includes/admin/class-wc-admin-webhooks.php#L128
- https://github.com/wooco

[2020-09-23 16:35] #27742 closed

[2020-09-23 16:53] AdrianKielbasa commented on #27070
I think this problem is not related issue #27652. I would say, that issue #27521 is related. My problem occurs on the edit billing address page. It doesn't appear on the checkout page

[2020-09-23 17:04] rrennick commented on #27732
@megaginge The WooCommerce and WC Admin database update routines run via scheduled actions (Tools -> Scheduled Actions). At the time you reported this had you checked to see whether there were any `Pending` update routine actions?

[2020-09-23 17:06] rrennick commented on #27730
@cpiber Can you provide more detail on what you are referring to?

[2020-09-23 17:07] cpiber commented on #27730
Can you please elaborate? I don't know what more detail to add

[2020-09-23 17:30] rrennick commented on #27729
@lkraav Thanks for the research. Yes this should be fixed. The problem line is https://github.com/woocommerce/woocommerce/blob/master/includes/rest-api/Controllers/Version1/class-wc-rest-orders-v1-controller.php#L176

[2020-09-23 17:33] lkraav commented on #27729
I find it curious how this slipped a grep scan when deprecating the method in question. Is there perhaps a process deficiency to look into?

[2020-09-23 17:39] rrennick commented on #27702
@kkmuffme Thanks for the suggestion. The WordPress error / debug logging system is built around `error_log` https://github.com/WordPress/WordPress/blob/master/wp-includes/default-constants.php#L75:L93. While `trigger_error` offers more flexibility it would introduce a lot of additional confusion, administration overhead, etc. to have multiple locations where similar information was logged.

[2020-09-23 17:45] rrennick commented on #27672
@Nicotu If you are looking for help using the REST API, I suggest joining the [WooCommerce Community Slack](https://woocommerce.com/community-slack/) and posting your question there. When you ask, you should provide the details of the request you are trying to get working.

[2020-09-23 17:45] #27672 closed

[2020-09-23 18:19] rrennick commented on #27729
Fair point. At the time it was done, the REST API was still being maintained in a separate repository and being added to WC in the `/packages/` folder. A scan of the `/includes/` folder didn't scan the REST API.  In this codebase it's in `/includes/rest-api/`.

[2020-09-23 18:25] Immerence opened #27761 "Variable Product: Thumbnail Toggle Not Working Correctly in Product Gallery (iOS)"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

_Detected on:_
iOS (Version 14.0).
Chrome (Version 85.0.4183.109).
TwentyTwenty (Version 1.5).

When product type "Variable Product" is us

[2020-09-23 18:29] elizaan36 opened #27762 "[4.6 beta]: Store profiler text changes from 16px to 13px in two steps"
**Describe the bug**
In the 4.6 beta, the text in the store profiler has decreased from 16px to 13px in two of the steps. In Step 2 - Industry and Step 3 - Product types, the text for each row is 13px and a lighter grey.

**Expected behavior**
In the store profiler Step 2 and 3, the text for each row should be 16px with the color # 1e1e1e. (This will match the text in the other steps 1 and 4.)

**

[2020-09-23 18:30] rrennick commented on #27730
Example:

Which math class?

Your description looks like you are asking us to add PHP language, jQuery, or libraries.

[2020-09-23 18:32] elizaan36 commented on #27762
I'm moving this to wc-admin actually 😆

[2020-09-23 18:33] DavidAnderson684 commented on #27746
@rrennick We're currently working on suitable code, and will keep you informed.

By the way, is the `wc_order_product_lookup` table meant to have entries for all historical orders on a site? On the site I'm working on, the value of  `SELECT COUNT(*) FROM posts WHERE post_type='shop_order';` is about three times the value of `SELECT COUNT(*) FROM wc_order_product_lookup;`, which indicates that it's

[2020-09-23 18:33] #27762 closed

[2020-09-23 19:36] rrennick commented on #27746
`wc_order_product_lookup` is one record for each product on each order. `wc_order_stats` is one record per order + one per refund. *Only if the historical import was run on all of the order history.

[2020-09-23 19:42] vedanshujain commented on #27445
Looks like this is because the change in PR #26642 exposed an underlying bug where we are checking if the `_reduced_stock` meta is already set in `wc_maybe_adjust_line_item_product_stock`. This is not accurate, as that function should work regardless.
I am restoring back the original behavior in #27763 while we discuss if we should limit stock updates for status changes, or do it for everything.

[2020-09-23 21:01] juliaamosova opened #27764 "Add more details to E2E README on what happens when user runs `nvm use` command"
Add more details to E2E README on what happens when user runs `nvm use` command. See https://github.com/woocommerce/woocommerce/pull/27714#discussion_r491653904 for more context.

[2020-09-23 21:18] olsonrebecca opened #27765 "Woocommerce Reporting - automated taxes not showing correctly"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Automated Taxes (calculated by Jetpack) are not showing correctly in Woocommerce Reports. All tax rates are showing as the same name ( “U

[2020-09-23 21:18] olsonrebecca opened #32271 "Woocommerce Reporting - automated taxes not showing correctly"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Automated Taxes (calculated by Jetpack) are not showing correctly in Woocommerce Reports. All tax rates are showing as the same name ( “U

[2020-09-23 21:24] caribouman commented on #27076
hi i put my website in dev mode and i have the problem again,

http://dev.sergent-tobogo.com/tee-shirt/make-fun-not-war/

impossible to validate variation, it makes like no variation is selected
i have input, i see there was not data-attribute_name to my input field but even when i add it with this it doesn t work

one thing  i see this hidden input field
<input type="hidden" name="variation_id" c

[2020-09-24 02:32] brasofilo commented on #27424
Database upgrade notice ain't going away for me. It's a fresh install but I already have a bunch of other active plugins.
I've changed "wc-update-db-reminder" to `actioned` on the database to fix it

[2020-09-24 04:45] dsychungaos commented on #13963
We have the same issue, we thought it happens only on stripe gateway, yet recently found one paypal order had the same issue.
Happens randomly, once in a few days, some sent 2-8 emails, but a few can sent up to 13 emails. The customers are receiving email with the same content.

[2020-09-24 06:55] H4RRYLIME commented on #27688
For me, if I leave a review in the back end (admin), the comment/review does not register even though I can see the comment in the 'review' tab. If I add a review in the back end, to a product that had previously shown the count, it is reset to zero. Again, the comments are still there but it count is zero.

Everything worked fine up until the last big update.

[2020-09-24 07:19] lkraav commented on #27702
Can you clarify with a single example for both cases listed above?

[2020-09-24 07:31] kkmuffme commented on #27702
@rrennick sorry but you are wrong. all deprecated handling in WP core happens via trigger_error() (see deprecated_argument_run, ...) in /wp-includes/functions.php

But woocommerce in wc-deprecated-functions.php in calling of these functions a) has a separate handling which essentially does what WP core already does thus not sure why woocommerce even has that code and b) uses error_log there.

e.g.

[2020-09-24 07:50] peterfabian commented on #27674
Milestoning for 4.7, as that is the last release before WP 5.6 gets released, but not everything might be ready by then, so we might need to adjust the plan.

[2020-09-24 07:52] peterfabian opened #27766 "Ensure compatibility with Twenty Twentyone"
A new theme, 2021 is coming to WordPress in December.

WIP Repo: https://github.com/WordPress/twentytwentyone
Blog post: https://make.wordpress.org/core/2020/09/23/introducing-twenty-twenty-one/

Similarly to [PHP8 support](https://github.com/woocommerce/woocommerce/issues/27674), we need to be ready by December 8th (planned date for WP 5.6)

cc @rodrigoprimo

[2020-09-24 08:37] PriitGit commented on #27710
Hi!

Is there any information or a temporary solution to this problem?

All Best,
Defix

[2020-09-24 09:18] peterfabian commented on #27410
Good point, @siliconforks , see the PR to remove the duplication.

[2020-09-24 09:27] Piepongwong opened #27768 "API Authentication Fails over http"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
I'm using docker swarm locally for development with Docker Deskt

[2020-09-24 10:25] rizatufan commented on #25864
I am having this problem too. How did you solve the problem?

[2020-09-24 11:33] tammullen commented on #27760
Hi @gglobalstep

Thank you for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

I was able to see the correct Banner on an Android device. I was only able to test a iOS device using BrowserStack and no banners were displayed h

[2020-09-24 12:20] ajgw opened #27769 "Tooltips stay on screen after moving out in Safari on Mac"
If I am in product edit page and edit product details the tooltip popup stay on screen even if I move out of tooltip window. This does effect workflow as I have to get into tooltip window again and move mouse around til it gets closed. But at moving around next tooltip window pops up.

Seems that Safari does not sent even mouseout to code?

Below screenshot were I had such a situation. Tooltip sta

[2020-09-24 12:25] webenadam commented on #22549
I have none of this plugins, and still can't bulk edit products!

[2020-09-24 12:30] rrennick commented on #27702
@kkmuffme The reason for using the `error_log()` function in REST API requests is that `_deprecated_function` breaks the response object. WordPress 5.5 added a deprecation to the REST API registration which broke many plugins (including WooCommerce).

[2020-09-24 13:47] andreasomovigo commented on #25524
Hello I've updated to the latest available version 4.5.2 but still  don't see a fix for the issue of this thread. Any info on that?

[2020-09-24 13:50] mischasigtermans commented on #25524
Me neither. @Konamiman Are you sure we're on the same page regarding this issue?

[2020-09-24 13:51] pixelicous commented on #15207
@edmundcwm I dont see the arrows with the plugin..

[2020-09-24 13:52] RistoNiinemets commented on #25524
The fix was released in 4.4 but reverted in 4.5.2:
https://developer.woocommerce.com/2020/09/14/woocommerce-4-5-2-fix-release/

[2020-09-24 15:27] gglobalstep opened #27770 "[GlobalStep - WooCommerce 4.6 Beta 1] Website fails to create shop, cart, checkout and my account pages once WooCommerce plugin is activated."
## Bug Description:
Website fails to create shop, cart, checkout and my account pages once WooCommerce plugin is activated.

## Environment:
 Windows 10, Mac Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 85.0.4183.83 (64-bit))
  Firefox(Version 80.0.1)(64-bit)
  Safari(Version 13.1.1)

## Steps To Reproduce:
 1. Create a Jurassic Ninja test site
 1. Install and Activate WooCommerce, Query Monit

[2020-09-24 15:36] gglobalstep opened #27771 "[GlobalStep - WooCommerce 4.6 Beta 1] On Standard Tax rates page, country code dropdown fails to sort as per the country code entered by the user."
## Bug Description:
 On Standard Tax rates page, country code dropdown fails to sort as per the country code entered by the user.

## Environment:
 Windows 10, Mac Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 85.0.4183.83 (64-bit))
  Firefox(Version 80.0.1)(64-bit)
  Safari(Version 13.1.1)

## Steps To Reproduce:
 1. Create a Jurassic Ninja test site
 1. Install and Activate all required plugi

[2020-09-24 15:42] gglobalstep opened #27772 "[GlobalStep - WooCommerce 4.6 Beta 1][Mac] Randomly error message stating "The response is not a valid JSON response" is displayed when user tries to upload an image for the store logo."
## Bug Description:
 Randomly error message stating "The response is not a valid JSON response" is displayed when user tries to upload an image for the store logo.

## Environment:
 Mac Mojave:10.14.6 (18G103)
 Browser: Safari(Version 13.1.1)

**Consistency:**
2/5

## Steps To Reproduce:
 1. Create a Jurassic Ninja test site
 1. Install and Activate WooCommerce, Query Monitor and WooCommerce Beta

[2020-09-24 15:53] gglobalstep opened #27773 "[GlobalStep - WooCommerce 4.6 Beta 1] On Standard tax rates page, country code dropdown fails to display country name having country code "AN"."
## Bug Description:
 On Standard tax rates page, country code dropdown fails to display country name having country code "AN".

## Environment:
 Windows 10, Mac Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 85.0.4183.83 (64-bit))
  Firefox(Version 80.0.1)(64-bit)
  Safari(Version 13.1.1)

## Steps To Reproduce:
 1. Create a Jurassic Ninja test site
 1. Install and Activate all required plugins.

[2020-09-24 15:57] gglobalstep opened #27774 "[GlobalStep - WooCommerce 4.6 Beta1] On Checkout page, "State" dropdown fails to list "Armed Forces" in alphabetical order."
## Bug Description:
On Checkout page, "State" dropdown fails to list "Armed Forces" in alphabetical order.

## Environment:
 Windows 10, Mac Mojave:10.14.6 (18G103)
 Browser: Chrome(Version 85.0.4183.83 (64-bit))
  Firefox(Version 80.0.1)(64-bit)
  Safari(Version 13.1.1)

## Steps To Reproduce:
 1. Create a Jurassic Ninja test site
 1. Install and Activate WooCommerce, Query Monitor and WooCommerc

[2020-09-24 16:33] tfourk commented on #9320
I'm having the same issue in 2020. Tax calculations on shipping has suddenly STOPPED. It worked fine. Then we noticed a discrepancy in our bills.  We need to charge tax on shipping for items shipping in the same state.. But it doesn't do it. I have no idea What to do...? 5 years? Honestly?

[2020-09-24 16:54] kkmuffme commented on #27702
@rrennick yes, but why use `error_log()` instead of  `trigger_error( $message, E_USER_DEPRECATED );` as the `_deprecated_function` handler does?

[2020-09-24 17:24] pixelicous commented on #15207
@de-b -c how did you manage to get past the fact that arrows are not shown?? i see previous/next text, i tried some code examples to change it to fontawesome but everything is just transparent :(

[2020-09-24 17:41] rrennick opened #27775 "woocommerce_meta_nonce is used twice on the product edit screen"
I Found this when working with E2E tests.

`woocommerce_meta_nonce` is the nonce used on the edit screens. It's also added to the product images metabox
 https://github.com/woocommerce/woocommerce/blob/master/includes/admin/meta-boxes/class-wc-meta-box-product-images.php#L32. This creates a duplicate ID. The product images nonce should be changed to a unique name or removed.

[2020-09-24 18:08] iurycardoso opened #27776 "PUT PRODUCTS DOES NOT UPDATE"
**Versão do Woocommerce:** 4.5.2
---------
I made the PUT through the postman where it returns "status: 200 ok", but does not update the object.

I searched the issues but found nothing related.

- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug

[2020-09-24 19:18] shmaltz commented on #17651
I just noticed the same thing, that Google is indexing all my /product/feed/ URLs. Is there a hook that will allow me to add a NoIndex to all the feed pages? Or can I just disable these pages somehow? Thanks!

[2020-09-24 19:52] tammullen commented on #27773
Hi @gglobalstep

I'm closing this issue as it covers the same area as https://github.com/woocommerce/woocommerce/issues/27771 and also specifically `AN` is not a valid Country Code according to ISO (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#AN) and CLDR

[2020-09-24 19:52] #27773 closed

[2020-09-24 20:05] tammullen commented on #27771
Hi @gglobalstep

Thank you for taking the time to report this

The Country Code field filters based on a text search for a country name, this allows a user who doesn't know the country code to search for the country by name.
However I agree it is not clear this is case and the field validation tool tip also doesn't indicate this (and there is a related field validation tool tip bug you raised here

[2020-09-24 20:46] tammullen commented on #27774
Hi @gglobalstep

Thanks for raising this

CLDR doesn't consider them as states (https://github.com/unicode-org/cldr/blob/6adc82b6b6116bb67e046ec129adb66f4aa6aac4/common/subdivisions/en.xml#L5324) however we have listed them with the states as some services consider them as such for processing payments etc (https://github.com/woocommerce/woocommerce/issues/1605).

I'm marking this as `won't fix` be

[2020-09-24 20:46] #27774 closed

[2020-09-24 21:02] tammullen commented on #27772
Hi @gglobalstep

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
​
I tried image types `gif`, `jpg`, and `png` of various dimensions, aspect ratios, and file sizes and they all successfully uploaded.
​
Can you provide a copy of an image file you have seen give this error?

[2020-09-24 23:45] ChrisBates commented on #27673
For anyone having this issue themselves, you can disable the behavior:
`add_filter( 'woocommerce_hold_stock_for_checkout', function() { return false; } );`

[2020-09-25 06:44] michahenn commented on #27732
Same problem here but no pending actions.

[2020-09-25 06:44] michahenn commented on #27732
2020/09/25 02:40:17 [error] 5926#5926: *227531 FastCGI sent in stderr: "PHP message: WordPress-Datenbank-Fehler Unknown column 'is_deleted' in 'where clause' für Abfrage SELECT * FROM XXXXwc_admin_notes WHERE 1=1 AND type IN ('survey') AND status IN ('actioned') AND is_deleted = 0 ORDER BY date_created DESC LIMIT 0, 15 von do_action('admin_init'), WP_Hook->do_action, WP_Hook->apply_filters, Automa

[2020-09-25 08:21] Aleksandar-Mitic commented on #14957
The same issue here! On order_created action. And the second webhook does not contain signature, so it bumps on 403 reponse. Therefore later the same webhook get's disabled after XY failed attempts to reach destination URL.

[2020-09-25 09:03] hannahswain opened #27780 "Product image changes don't show when previewing product page"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When updating the product image and then clicking preview, the updated product image is not displayed but the old/previous image is displa

[2020-09-25 09:17] michahenn commented on #27732
`
### WordPress Environment ###

WordPress address (URL): https://www.textilsucht.de
Site address (URL): https://www.textilsucht.de
WC Version: 4.5.2
REST API Version: ✔ 4.5.2
WC Blocks Version: ✔ 3.1.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.5.0
Log Directory Writable: ✔
WP Version: 5.5.1
WP Multisite: –
WP Memory Limit: 7 GB
WP Debug Mode: –
WP Cron: –
Language: de_DE
External ob

[2020-09-25 09:57] AdamPalethorpe commented on #25133
I have this issue and it’s really strange, it only does it on some orders. I sell limited edition artwork and each variation is a print number of 50. So I’m my example people choose a size of print and a number, there is only one of each number so then the item goes out of stock. It works great.

100s of orders but then recently on a product that is exactly the same as all other products this issu

[2020-09-25 09:57] hedqvist opened #27782 "Add filter for single-product-reviews form"
**Is your feature request related to a problem? Please describe.**
We are collecting product reviews and would like to remove the form from product pages to only display the current reviews

**Describe the solution you'd like**
A filter to hide the review submission form

**Describe alternatives you've considered**
Allowing developers to filter this seems like a good idea

**Additional context**
H

[2020-09-25 11:08] peterfabian commented on #25524
We thought we would be able to solve this with a more light-weight approach, but apparently missed some of the complexity coming from the different product setup options:
- simple products with attributes
- variable products with a combination of attributes not used for variations and some used for variations
- variable products with attributes having "Any" value
- visibility toggle in combination

[2020-09-25 11:51] tammullen commented on #27770
Hi @gglobalstep

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

- I installed and activated 4.5.2
- Skipped the setup wizard
- I switched version from 4.5.2 to 4.6.0 Beta using Beta Tester plugin
- Observed pages not created

![Screenshot_2020-09-25_at_12_38_58](https://user-images.githubusercontent.com/24649833/94263313-c2333080-ff

[2020-09-25 11:54] Xpressprint opened #27783 "API keys automatically generated from PUT request from Zapier Webhooks"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

### Using Zapier Webooks to edit the line item meta data of an

[2020-09-25 12:18] Mic2005 commented on #24862
I still have 85 products with this "Either “offers”, “review”, or “aggregateRating” should be specified error" warning. Does anyone know how to fix this?

[2020-09-25 12:21] peterfabian commented on #27697
Thanks for starting the discussion. Being in the clear from GDPR and CCPA point of view is very important.
We're consulting this with our legal department and will let you know the outcome soon.

[2020-09-25 12:23] rondepierre opened #27784 "woocommerce v4.5.2 / update product / Text panel does not working"
when you want update one product:
url like this : wp-admin/post.php?post=ID&action=edit

the panel visual & text are not working, when you click on it , nothing happens.

bug comes on the v4.5.2.

best regards

[2020-09-25 15:12] tammullen commented on #27780
Hi @hannahswain

Thank you for taking the time to report this, we really appreciate your help.

I can reproduce it on my end.

The reason this is happening is because of a longstanding WordPress core issue https://core.trac.wordpress.org/ticket/20299 which means we can't auto save meta data and therefore include it in a preview. This also affects the Product data, Product tags, Product categories

[2020-09-25 15:12] #27780 closed

[2020-09-25 15:14] born2webdesign commented on #18395
@mikejolley Sounds good to get rid of jQuery—but will WooCommerce continue to work w/o JS on the frontend? As long as JS is responsible for _so_ many security issues on the web (I don’t see that changing, ever), I really value the fact that I can order from a webshop I don’t have to fully trust (developer, owner, shop, cms, host could be compromised)—and w/o JS (and images, for good measure) I don

[2020-09-25 15:27] ivatautomattic commented on #27689
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help.

I can reproduce it in Pressable using the STR provided:

- Create a test site.
- Install and activate the Woo plugin.
- Complete the onBoarding process.
- Go to Products-> Create a Grouped product.
- Link two or more **simple** products to the grouped product.
- Go to "Orders-> Add the grouped prod

[2020-09-25 16:19] juliaamosova opened #27786 "Remove old setup wizard component from e2e utils"
Remove [old setup wizard component](https://github.com/woocommerce/woocommerce/blob/master/tests/e2e/utils/src/components.js#L219-L356) from e2e utils since the old set up wizard had been fully removed from WooCommerce.

[2020-09-25 16:20] tammullen commented on #27784
Hi @rondepierre

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.
![Screenshot_2020-09-25_at_17_17_54](https://user-images.githubusercontent.com/24649833/94291235-426c8c80-ff53-11ea-9836-00c53b98940f.png)

Please provide us with more details about the issue which may help us to evaluate it further.

In addi

[2020-09-25 16:22] juliaamosova opened #27787 "Integrate `@automattic/puppeteer-utils` fully so that its page utilities could be used"
Integrate `@automattic/puppeteer-utils` fully so that its page utilities such as `await waitAndClick( this.page, titleSelector );` could be used in WooCommerce Core e2e tests:

https://github.com/Automattic/puppeteer-utils#page-utilities

[2020-09-25 16:27] juliaamosova opened #27788 "Fix broken Slack bot for e2e test failures notifications"
We used to have a Slack bot to receive failed e2e tests notifications working but it is no longer the case. We need to make sure it works again. Slack bot config is a part of the `@automattic/puppeteer-utils` package:

https://github.com/Automattic/puppeteer-utils#node-config-and-environment-variables

[2020-09-25 16:33] rondepierre commented on #27784
Hi Team,

thanks for your support,

I just tested all theme and plugins… yes it seems, that problem is coming from one plugin.

I will dig on it and report it  on plugin's owner.

thanks again

best regards

@rondepierre

[2020-09-25 16:41] tammullen commented on #27784
Thanks @rondepierre!

I will close this for now.

[2020-09-25 16:41] #27784 closed

[2020-09-25 16:48] peterfabian commented on #27697
We got an answer back from our legal team:

Additionally, the link above also mentions:

Not being a lawyer myself, but if I'm reading this right, a person who is creating an account on an eshop clearly indicates to shop owner that they can use their data for their records, sending them the goods, etc.

In light of this, I'm inclined to not change this unless many folks would strongly feel about a

[2020-09-25 17:02] rodrigoprimo commented on #27755
Related WooCommerce Admin issue https://github.com/woocommerce/woocommerce-admin/issues/5193

[2020-09-25 17:05] DavidAnderson684 commented on #27697
This analysis agrees with my understanding of it and I think it should be left as it is.

[2020-09-25 17:11] carike-codes commented on #27697
That assumes that every store owner **only** plans to use the e-mail address for fulfilling the order. That is simply not true.

[2020-09-25 17:21] masteradhoc commented on #27697
@peterfabian quick question here: why do we ask for explicit consent then when you take an order? There is the same data behind.

[2020-09-25 17:46] rodrigoprimo commented on #27771
I agree that we should probably look into fixing this but since this already happens on WC 4.5.2, I will remove WooCommerce 4.6 Beta 1 from the issue title as this is not something that will be addressed in this release cycle. Thanks for your report.

[2020-09-25 17:50] rodrigoprimo commented on #27770
Closing as this is the desired behavior. If the user opted to skip the wizard on WC 4.5.2, the pages are not created. In WC 4.6.0, the pages will be created only for new installs and not for users updating.

[2020-09-25 17:50] #27770 closed

[2020-09-25 18:03] n3f commented on #27608
We're seeing this issue on WPCOM as well.  I haven't tested the fix that @ObliviousHarmony merged yet, but I was a little confused looking at the code.  From what I understand the jetpack autoloader doesn't load the classes it tracks until [the `plugins_loaded` action](https://github.com/Automattic/jetpack-autoloader).  However, the woocommerce.php file is clearly calling a loaded class (`new Auto

[2020-09-25 18:23] billrobbins commented on #27756
Hey @tammullen,

I've run across another way this error can happen.  Some JavaScript errors are allowing the parent product to be added to the cart via the "Add to cart" button.  With sites that don't have a default variation set, that makes it pretty easy for the customer to accidentally purchase the parent product.

Since the removal of jQuery Migrate from the WordPress core, there are more Java

[2020-09-25 18:47] ivatautomattic commented on #26999
Hi @dsmithweb ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

STR:

- As merchant: Create a new product -> Inventory -> mark "Sold Individually" -> Save/Publish the product.
- Navigate to WooCommerce -> Settings -> Products -> make sure "Redirect to the cart page after successful addition" is unchecked
- As shopper: Go to your sho

[2020-09-25 19:00] GeoJunkie opened #27789 "Add notice to Reports page to use Analytics instead"
**Is your feature request related to a problem? Please describe.**
Since [WooCommerce Reports are becoming obsolete](https://docs.woocommerce.com/document/reports/), site owners should be using the new [WooCommerce Analytics instead](https://docs.woocommerce.com/document/woocommerce-analytics/). Many site owners are unaware of the new Analytics section, or don't realize that it is the more accurat

[2020-09-25 19:34] ObliviousHarmony commented on #27608
Ah, looks like that line in the README.md is out of date! The 2.x release of the Jetpack autoloader does not have this limitation and bootstraps itself with the latest versions of packages by scanning plugin directories.

[2020-09-25 19:40] mlpassos commented on #24184
We are experiencing the same issue and we have no tax going on. We use 3 decimals to adjust quantity of natural products that are selling per KG like... this causes some final product prices to be rounding up when they shouldn't.

[2020-09-25 19:54] rrennick commented on #27787
@juliaamosova I created #27790 which adds the following to `e2e-environment`

[code]

When you switch to that branch run `npm install` before attempting to use the additions.

[2020-09-25 20:24] kbrown9 commented on #27608
Sorry about that! The README was updated with the v2.x release, but that line was missed. I’ll open a PR to fix it.

[2020-09-25 20:44] RafaelDeJongh commented on #24997
To be honest a negative value for like pickup method choices wouldn't be bad. I recently saw this being discussed and everyone was suggesting additional plugins and work around that all those suggested plugins would make woocommerce bloated for just having a decrease in total value when having a reduction at pickup.

I do think there are also other methods to utilise by creating a completely new s

[2020-09-26 01:10] phillipcornwell commented on #27711
Have another user with a similar issue: 3349828-zen

[2020-09-26 02:42] AashikP commented on #24387
Seeing a similar behavior in the latest version of WooCommerce (4.5.2) in 3342709-zen:

Only a single product was purchased:

![https://d.pr/i/y5R3nL+](https://d.pr/i/y5R3nL+)

But the stock was reduced twice:

![https://d.pr/i/Dcq5tm+](https://d.pr/i/Dcq5tm+)

cc @juliaamosova

[2020-09-26 03:04] juliaamosova commented on #24387
Reopening the issue due to recent comments.

[2020-09-26 03:13] jer23jk commented on #27087
Add this in functions.php until bug resolved:

add_filter( 'gettext', function( $translation, $text, $domain ) {
	if ( $domain == 'woocommerce' ) {
		if ( $text == 'includes' ) { $translation = 'yourtranslation'; }
	}
	return $translation;
}, 10, 3 );

[2020-09-26 07:53] cpiber commented on #27730
@rrennick ?

[2020-09-26 07:59] ralphdouglas commented on #13040
Working, using it now 10/26/2020
wp-admin/includes/nav-menu.php
Line:  693

Wordpress version: 5.4.2

[2020-09-26 10:08] beesmart opened #27791 "Duplicate emails if you set the order to cancelled or pending payment"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
An order is created and automatically assigned to On-Hold, when the administrator changes the order status to Pending Payment and then Comp

[2020-09-26 11:26] AndroPlus commented on #10829
Awesome. it worked.

[2020-09-26 12:36] becomebusiness commented on #26851
I'm having this issue too.

When an order goes from "pending" -> "processing" and it happens very close to each other (less than 1 second apart), I get an order.update trigger with the status as "pending" when in fact it should be "processing".

Order.create sets it to pending
Order.update still shows as pending
When I check the order in the backend it's set to processing.

Definitely still a bug.

[2020-09-26 12:41] DavidAnderson684 commented on #27746
@rrennick Is that something that ought to have happened if you've upgraded from prior WC versions? Or something you have to take additional steps to achieve? As I say, the numbers of rows I have don't at all match with what I'd expect if it was intended that all data gets imported automatically on upgrade.

[2020-09-27 23:44] Updula commented on #27756
I have the same reported issue occurring without URL manipulation. Only JS load delay is causing this.

[2020-09-28 01:04] Camilo517 commented on #27535
Any news?

[2020-09-28 06:09] 08soniya commented on #25533
I'm also facing the same issue scheduler is not working . there are many pending schedule action.

[2020-09-28 06:45] carike-codes commented on #27697
Thought I'd give a little more comprehensive explanation, if someone who is interested in the topic stumbles on this thread :-)

In my view, this shows inadequate attention to architecture, as well as a lack of understanding regarding the value proposition of an e-commerce solution and expectation management.

In brick-and-mortar terms, if you're building near a flood-line, you're going to have to

[2020-09-28 08:57] MachineITSvcs opened #27793 "Unable to filter woocommerce_package_rates"
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Unable to use filter woocommerce_package_rates nor the actions under the conditional check which fails (returns false) on line 332 of inclu

[2020-09-28 09:11] kush1960 commented on #18395
+1

[2020-09-28 09:13] MachineITSvcs opened #27794 "WooCommerce Error Log Output in Multisite Installation on Network Admin Dashboard"
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I receive the following message to my error log when accessing any page of my WordPress Multisite Network Admin Dashboard.

Got error 'PHP message: Array\n(\n [product_id] => Array\n (\n [type]

[2020-09-28 09:33] walkingxian commented on #18395
The function of js introduced by woocommerce is not complicated and does not require jQuery to achieve. Even if other plugins require jQuery, woocommerce's js can be loaded before jQuery, thereby improving the loading speed........................................

[2020-09-28 12:06] tammullen commented on #27794
Hi @MachineITSvcs

It will help us evaluate this if you could share your current System Status Report. You can get it by navigating to the WooCommerce / Status section of your site. Once there, click on the Get system report button and then copy it by clicking on the Copy for support button. Then paste it here in a comment.

[2020-09-28 12:51] rrennick commented on #27746
@DavidAnderson684 When a site is updated from WC 3.X to 4.X a notice is added that prompts to run the historical import. You can see the import screen in Analytics -> Settings. There is a dropdown that allows selecting a timeframe.

[2020-09-28 13:06] erikkubica commented on #20121
This makes my import from clients old website to new one a problem. We made him a new website and we have exported products from his old website which is woocommerce then import it into the new one. So how it is possible, that old woocommerce is fine with 28ch or longer but the new one is not.

[2020-09-28 13:34] DavidAnderson684 commented on #27746
@rrennick I see, thank you.

It appears that even though I pressed the button to import at that time (the WC 4.0 upgrade), and eventually that had seemed to finish (after a lot of pain - I temporarily had to multiply the CPU count by 8 ...), and even though the orders table is partially populated, on that page (when I go to Analytics -> Settings ) it's claiming that nothing has been imported. i.e.

[2020-09-28 13:37] DavidAnderson684 commented on #26452
As per the mention in #27746, it appears that even though temporarily upgrading the CPU power on the MySQL server twenty-fold allowed me to run enough Action Scheduler tasks to clear the import backlog, at the end of it WooCommerce is saying that 0 orders/customers have been imported. The tables themselves have a very considerable number of rows, but not enough to match the actual number.

[2020-09-28 14:05] theimaginaire commented on #25331
We also think this would be worth changing

[2020-09-28 14:57] loranallensmith opened #27795 "Password reset via my-account/lost-password does not trigger after_password_reset action"
Howdy Core Team!  :wave:

I have been working with @jackmcconnell troubleshooting a compatibility issue between the [Better Notifications for WP](https://wordpress.org/plugins/bnfw/) plugin (BNFW) and WooCommerce.  One of the notifications that admins can set up will send a confirmation email to the user after a user's password is reset.  To do this, they're hooking to the [`after_password_reset`]

[2020-09-28 17:46] mkaschke commented on #24387
Is there a workaround?

[2020-09-28 18:08] rrennick commented on #26452
The progress bars show the status of in-progress imports. It shows the zeros when no import is running. You can determine from the Analytics reports how many customers, orders, etc. have been imported.

[2020-09-28 18:13] mabaro13 opened #27796 "woocommerce_wp_text_input delete original value ('value' => $anyVariable) when 'type' => 'date' or 'type' => 'time' is also specified"
**Describe the bug**
I am working in local environment, this is not in any host service.
In order details (admin side) I want to display an input which is going to have a custom date or time value that is retrieved from db. This works fine when woocommerce_wp_text_input has the following configuration:

[code]

Then I got in order details view the fields with its respective value:
**2:00 PM**
![ho

[2020-09-28 18:28] sachvietus commented on #24387
This fix works for me:

Leave that PDT field blank so it won’t delete the product twice via IPN then PDT. Normally IPN itself should be enough, don’t need PDT.

![6E926250-E90E-45B2-A3BF-7A5CE81A5A55](https://user-images.githubusercontent.com/65779876/94471204-5ea83d80-018e-11eb-9804-744c3fa6fa1b.jpeg)

[2020-09-28 18:32] rrennick commented on #27730
@cpiber That's likely your best option. This wouldn't be a high priority for us to do the development.

[2020-09-28 20:20] artneo7 opened #27797 "WooCommerce interferes in get_the_post_thumbnail_url()"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
It seems WooCommerce is interfering in `get_the_post_thumbnail_url( $id, $size )`. When targeting ids from products the size is always full

[2020-09-28 20:53] jaylinski commented on #25255
@mikkamp Thank you so much for the bugfix snippet. :medal_sports:  I can confirm this fixes the issue.

[2020-09-29 04:45] masteradhoc commented on #27186
@juliaamosova any update on this?

[2020-09-29 07:04] Meloman-zz commented on #22670
Same issue only for variations on some new products since last update to WP 5.5.1 / Woo 4.5.2 (PHP 7.4.10) ! very strange.

I flushed my LiteSpeed caches and today have seen some products are ok, maybe cause-and-effect relationship !?

[2020-09-29 07:23] fawlty007 commented on #27756
My client is significantly affected by this issue since the update 4.5.2 that has changed the way attributes are handled. In their scenario, they have a sampler item that is priced at $7 (one week trial) as one variation and another variation that is priced at $30 (monthly pack). The $30 is set as a default variation.

We are using javascript throughout the site to add to cart **the default variat

[2020-09-29 07:53] peterfabian commented on #27674
Errors seen in initial testing:
FireShot Capture 047 -  - woo.loc
FireShot Capture 050 - Profiler ‹ WooCommerce ‹ wootest — WooCommerce - woo.loc

[2020-09-29 09:43] asanka-sanmark opened #27799 "Stock not change “on-hold” orders in WooCommerce 4.5.2"
When on-hold and add new items to existing order, new items stock not reduce in WooCommerce new version 4.5.2… Old versions work it perfectly.

**I tested this problem with below few steps [x]):**
- [ ] switch my theme to Storefront and checked
- [ ] Disable all plugins without WooCommerce and checked

But problem is same not resolved. old woocommerce versions has no problem.
Is there a bug of woo

[2020-09-29 10:09] Konamiman commented on #27674
I've found that when trying to manually create an order, `WC_Abstract_Order->get_total_discount` does a `round('')` which results in `CRITICAL Uncaught TypeError: round(): Argument #1 ($number) must be of type int|float, string given`

[2020-09-29 11:19] jjbbrr commented on #27713
WP Engine have advised they actually do have the X-Accel-Redirect/X-Sendfile module after all. So we are using that and have resolved this issue. All PHP7.4 users will have to do the same regardless of their host I suspect.

[2020-09-29 11:19] #27713 closed

[2020-09-29 12:16] DavidAnderson684 commented on #26452
@rrennick OK, I understand - the "0" means "on this run" rather than "over the lifetime of the site".
In my case, though, it appears that I need to add 20x CPU power before considering starting that migration again. As such, I think I'll wait until either the migration code is improved, or until that table is powering something more than just analytics.

[2020-09-29 13:37] juliaamosova commented on #27186
Hi @masteradhoc, thanks for your follow-up.

There is no update on this issue. It is marked as `low` priority which has less chance for our team to fix it sooner, unfortunately. We usually tend to focus on `high` priority issues on our end. This often means that we don't get a chance to work on `low` priority ones soon enough.

`low` priority issues are issues with which we usually need the most h

[2020-09-29 13:45] senff opened #27801 "Change fake checkboxes from Filter By Attribute widget"
## Is your feature request related to a problem? Please describe.
When adding the Filter By Attribute widget to the sidebar, it gives the impression that the boxes in front of each attribute are clickable, or can be toggled: https://d.pr/i/Ig5yG2

This is not the case; they can't actually be clicked or toggled -- only the attribute **name** can.
After you do that, the box *is* checked, but only to

[2020-09-29 13:46] rrennick commented on #27700
@ivatautomattic This was addressed in #27785 . In 4.6 we removed the `wc-setup` page. In 4.5 and earlier the `wc-setup` page launched onboarding.

[2020-09-29 13:46] #27700 closed

[2020-09-29 13:48] rrennick commented on #27341
Addressed in #27648

[2020-09-29 13:48] #27341 closed

[2020-09-29 13:49] rrennick commented on #27325
We switched to `24.9.0` in #27113 for compatibility with `@automattic/puppeteer-utils`.

[2020-09-29 13:49] #27325 closed

[2020-09-29 14:11] tharsheblows commented on #27521
I'm pretty sure this is due to changing the value of the "Select a country" option from an empty string to the string "default": https://github.com/woocommerce/woocommerce/commit/9faee1d909f81dd027e5ddc1e46a7abff9c0921d

This affects the logic here: https://github.com/woocommerce/woocommerce/blob/73deab28a5535ff049f61c5529e186b8837352f2/includes/class-wc-checkout.php#L210  (the empty check fails a

[2020-09-29 14:52] ontiuk commented on #24387
Also getting this on a clients site running the latest Woocommerce: 4.5.2. Sporadic but certainly a lot higher than 1% of the time. Very frustrating.

[2020-09-29 14:53] jessepearson opened #27802 "Failed login attempts return 200 instead of 403"
I am not sure if this is something we would be able to do easily or not, but I was talking to a WP Engine support tech and they passed this on to me:

Would it be possible in the [`process_login()` method](https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-form-handler.php#L899-L955) to modify the response code to 403 instead of 200 if the login has failed?

[2020-09-29 15:14] BusinessBloomer opened #27803 "woocommerce_form_field(): maxlength working, but minlength and pattern won't validate"
**Issue Description:**

On the WooCommerce Checkout with _woocommerce_checkout_fields_ filter I can customize checkout fields. I can add the "required" parameter for example, and also the "maxlength" one, which works perfectly as you can't type in more chars than what you set e.g.:

[code]

This is great and it works. But if I add, similarly, other attributes such as _minlength_ or _pattern_, noth

[2020-09-29 15:36] marwa8484 commented on #14541
hi every one i have problem when i make order it duplicated but this case not happen in every order and i use cash payment method can anyone help me ?

[2020-09-29 15:42] mabaro13 commented on #27796
After doing more test I could see that  type => date and type => time only works with yyyy-mm-dd and 24 hours format respectively.
Thanks.

[2020-09-29 15:42] #27796 closed

[2020-09-29 17:07] TheBBSAgency commented on #27756
Hey Guys,

I'm jumping in here as we've confirmed we're able to add variable products to the cart without selecting a variation simply by being quick enough on the page load.

I agree that this should likely be a higher priority issue, we've had a live site with 4 orders come through without a variation selected as they were able to click "Add to Cart" before the Ajax kicked in.

We can replicate

[2020-09-29 19:46] fawlty007 commented on #27756
After some more analysis, I have additional information to report:

1- If add to cart button for variable products is clicked prior to ajax script finished loading, WooCommerce will add to cart the parent item of the variable product and will not select a variation (SKU of the parent item will be added to cart). Many of the caching plugins defer the load of JS files for better performance and this

[2020-09-29 20:36] rrennick opened #27807 "Remove dynamic build dependencies"
This issue is for a follow up to #27805 which eliminated the dynamic build of the E2E test specs . We should check whether webpack and/or babel are still used in either the main repo or any of the packages.

[2020-09-29 20:53] helgatheviking commented on #24570
The `woocommerce_coupon_options_save` hook fires _after_ `$coupon->save()`... whereas products have a hook [_before_ the object is saved](https://github.com/woocommerce/woocommerce/blob/3377c60c5e5602a4c82b6ef43b7b48b9c895f9ad/includes/admin/meta-boxes/class-wc-meta-box-product-data.php#L418). Could this be causing the `props` to not be getting added correctly to the `updated_props` list? which co

[2020-09-29 21:23] #27755 closed

[2020-09-30 02:22] TwistedAndy commented on #27756
The described issue is caused by this commit #27115

In some cases we add the variable product to the cart with empty variation ID.

We can solve this issue if we move this code:
`// If no variation ID is set, attempt to get a variation ID from posted attributes.
if ( empty( $variation_id ) ) {
	$data_store   = WC_Data_Store::load( 'product' );
	$variation_id = $data_store->find_matching_product_v

[2020-09-30 10:59] climedia089 opened #27810 "Error message when updating plugin."
Hi.  This is a fatal error that has come up with a clients site.  The client does not have Jetpack installed.

All plugins are wordpress are up to date as of the 30th September 2020.  All plugins are active.

Website is working, but only whilst Woocommerce has been disabled.

Enabling Woocommerce breaks the entire website.  And this is the error message that comes up.

**Fatal error:** Cannot rede

[2020-09-30 11:35] simona6 opened #27811 "Variable Attributes on Edit Product page - order does nothing"
A client of ours noticed that Weights were in the wrong order.
0.5kg
1.5kg
1kg
2.5kg
2kg.
and so on.

So he went into Edit Product, moved them up and down, saved and Updated.  No change.

He rang us, and even we checked this and no change.  Maybe it was cache.  But no, the answer was that you change it in the Products > Attributes section.

I will say that this is good, as it does it across the bo

[2020-09-30 12:19] Adrian-S opened #27812 "wc_customer_bought_product() - user email confusion problem"
### What I'm doing.

I'm trying to sell _**virtual**_ products, basically access to certain pages using 'Pay For Post with WooCommerce' plugin.

I assume that the pay for post plugin is using `wc_customer_bought_product()` function. I'm using it too to hook and replace "Add to cart" button. Here is my code.

[code]
### The main issue

If one user sets the `_billing_email` to the email of another e

[2020-09-30 12:43] stefanos82 commented on #27340
By the way, with this plugin enabled, I can reproduce the following issue from Gutenberg: https://github.com/WordPress/gutenberg/issues/3356

As soon as I deactivate the plugin, everything works as expected.

[2020-09-30 13:57] ewijdemans commented on #22100
A workaround could also be to disable this specific cache by doing this:
`add_filter('transient_shipping-transient-version', function($value, $name) {
            return false;
        }, 10, 2);`

[2020-09-30 14:04] oscarruz opened #27813 "Woocommerce - Spelling error"
Hello,

I have running Woocommerce 4.5.2 and I have found a spelling error in spanish language. From the Checkout Page when I have completed the form with an existing account mail, it show:

'You already have an account registered with your email address. Please agree.'

In spanish:

Ya ha una cuenta registrada con tu dirección de correo electrónico. Por favor, accede.

The correct would be:

Ya h

[2020-09-30 14:22] jessepearson opened #27814 "Coupon discount discrepancy in orders when products are tax inclusive"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-09-30 16:22] JonathanRanz opened #27815 "Issue on Expedition"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
![image](https://user-images.githubusercontent.com/72154316/94711905-08cbc500-0349-11eb-942d-0423f581f

[2020-09-30 16:31] anttiruonakoski commented on #26865
This bug affects us too, in our theme's case span tags are escaped, which is valid markup. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label

IMHO, label content for radio inputs should not be html escaped. This has been introduced in commit https://github.com/woocommerce/woocommerce/commit/14a26aca2cde9c81ade02bdc6dd0a34e184a4202

If there are security concerns, filtering should be

[2020-09-30 17:08] Dongrer06 opened #27817 "WooCommerce/Products/Attributes type is missing"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-09-30 17:16] Dongrer06 commented on #27817
![image](https://user-images.githubusercontent.com/72157155/94718008-b7363100-036e-11eb-89a8-619d5c176f11.png)

[2020-09-30 17:43] #27817 closed

[2020-09-30 18:48] juliaamosova opened #27820 "Fix Jest exit when running e2e tests in `-dev` mode"
When running e2e tests in headless mode (using `npm run test:e2e` command), `jest` exits on its own as expected. It provides exit code as well - see example below (`Jest exit code: 1`):

[code]

However, when running tests in `-dev` mode (using `npm run test:e2e-dev` command), `jest` doesn't exit by default. No exit code is provided - see example below running a single test but the same happens if

[2020-09-30 19:58] tammullen commented on #27815
Hi @JonathanRanz

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done. In order to confirm the bug, please follow one of the steps below:
​
- Review [WooCommerce Self-Service Guid

[2020-09-30 19:58] #27815 closed

[2020-09-30 21:12] tammullen commented on #27813
Hi @oscarruz

Thank you for raising this issue. While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report WooCommerce bugs only. Translation is managed by teams over at translate.wordpress.org
​
The issue you are having seems to be caused by the Spanish language translation file so would need to be fixed on https://translate.wordpress.or

[2020-09-30 21:12] #27813 closed

[2020-09-30 22:26] Ethan5150 commented on #22706
I have the same problem.  WooCommerce: Please fix this!!!

[2020-10-01 04:08] sudoshreyansh commented on #24885
Can I work on this issue ?

[2020-10-01 06:50] oscarruz commented on #27813
Thank you so much.

[2020-10-01 08:02] Shmacked opened #27826 "Problem with image gallery regarding whitespace and scrolling"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**
When you select an option from any of the select menus, the imag

[2020-10-01 08:06] Shmacked opened #27827 "Image gallery white space and scroll bar issue"
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide here: https://docs.woocommerce.com/document/woocommerce-self-service-guide/

**Technical support for premium extensions or if you're a WooCommerce.com custome

[2020-10-01 08:07] #27827 closed

[2020-10-01 08:19] Naberdz opened #27828 "Deprecated: WC_Order_Item_Coupon :: offsetGet is deprecated since version 4.4.0"
**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Deprecated: WC_Order_Item_Coupon :: offsetGet is deprecated since version 4.4.0, with no available alternative. in public_html/wp-include

[2020-10-01 08:37] jstaporn opened #27829 "Woocommerce "coupon" menu doesn't show"
Dear sir,

I have installed woocommerce twice , but there is no "Coupon Sub-Menu" under "Woocommerce " menu bar

Regards,

Staporn Jinaratana
![ภาพหน้าจอ (612)](https://user-images.githubusercontent.com/51107085/94787027-efd01c00-03fb-11eb-9e2c-b686043ee19e.png)

[2020-10-01 10:13] arunsathiya opened #27831 "Bulk deleting product categories shows a "Category not deleted" notice"
When bulk deleting product categories from a site with only core WooCommerce, the categories do get deleted, but we also see a "Category not deleted" notice

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**

[2020-10-01 14:57] mintbird commented on #27154
This problem not only occurred in woocommerce, but also affect to the third party plugins that use Select2 (such as ACF) in the same page.
I thought that the problem is from these lines of the commit.

https://github.com/woocommerce/woocommerce/blob/14a26aca2cde9c81ade02bdc6dd0a34e184a4202/assets/js/selectWoo/selectWoo.full.js#L1622

and

https://github.com/woocommerce/woocommerce/blob/14a26aca2cd

[2020-10-01 21:56] tortugareefimage opened #27834 "Taxes and shipping problem"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have se

[2020-10-01 22:53] joeyorlando commented on #14883
Thanks for removing this feature (sarcasm)

[2020-10-01 23:02] glamcrewboutique opened #27835 "Changing Product Price on Product with multiple variants"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x ] I have s

[2020-10-01 23:18] tammullen commented on #27829
Hi @jstaporn

Since version 4.4.0 Coupons management has been moved to the marketing hub. More details are here https://developer.woocommerce.com/2020/07/09/centralized-coupon-management-available-for-testing/.

[2020-10-01 23:20] tammullen commented on #27834
Hi @tortugareefimage

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

[2020-10-02 00:41] Preciousomonze commented on #24570
For now, you can use the hook `woocommerce_before_data_object_save` , this way, you do not need to call `WC_Coupon::save()`. Here's an example of how I did it.
Hope this helps someone. :rocket::pancakes:
[code]

[2020-10-02 04:43] CordialGit opened #27837 "Linking WooCommerce Endpoint to a Page"
Please, I copied a Code from https://github.com/woocommerce/woocommerce/wiki/Customising-account-page-tabs

And when I customized it, the code actually added an endpoint to my WooCommerce Account Page, and the Name of the endpoint is as I wanted. I wanted the name of the endpoint to be called "**ADD PRODUCT**" and it is so.

The challenge I'm facing now is that I want the endpoint to open a Page o

[2020-10-02 05:10] harleec61 commented on #27828
I'm also seeing the same message in the PHP debug log in our website. It started sometime after updating to WP 5.5.X and Woo 4.5.X.

[2020-10-02 06:01] Hbitvof commented on #27799
Same problem here. Can this be fixed as soon as possible? This gives alot of stock problems.

[2020-10-02 07:32] delitestudio opened #27839 "Small bug in the "Product scheduled for:" text"
The `class-wc-admin-post-types.php` has a small bug which, when a product is scheduled, opens a `<strong>` which is then closed in the wrong place.

To be precise, in the `post_updated_messages()` method this code is incorrect:

[code]

because it generates this text:

`<p>Product scheduled for: <strong>Ott 2, 2020 @ 10:50. <a target="_blank" href="https://xxx.com/?post_type=product&#038;p=7020</s

[2020-10-02 09:13] mbs1337 commented on #27158
I’m having the same problem on some woocommerce sites.
Here is a test with Twenty Twenty theme, and Woocommerce activated as the only plugin.

The price sorting is not working.

Here is the test, with default Woocommerce sample products. https://www.mbstech.dk/test/shop/?orderby=price

[2020-10-02 09:14] mbs1337 commented on #23762
Hmm. Is this bug open, or closed? Because i’m having the same problem on some Woocommerce sites.
Here is a test with Twenty Twenty theme, and Woocommerce activated as the only plugin.

The price sorting is not working. Here is the test, with default Woocommerce sample products. https://www.mbstech.dk/test/shop/?orderby=price

[2020-10-02 09:39] peterfabian commented on #27674
Latest update from WP core:

There is an ongoing effort to fix some function argument type issues reported by PHPStan (a static analyzer): #51423.
More testing on PHP 8, expanding test coverage, and creating tickets for any issues found. Andraganescu and Desrosj are working on a call for testing to be published later.

[2020-10-02 10:36] rwkyyy commented on #27535
I'm also seeing this in 4.5.2 (latest)

[2020-10-02 10:42] rwkyyy commented on #27488
I have the same issue if checking orders via an order meta.

[2020-10-02 10:58] lkraav commented on #27729
Is there a way to get this into 4.6.0 RC-s? Seems like a trivial update?

Same for https://github.com/woocommerce/woocommerce/issues/27828 which I'm also seeing.

[2020-10-02 11:00] soussartdirection opened #27843 "MISSING CITY FIELD FOR PUERTO RICO / URGENT-Losing all sales to Puerto RIco"
The bug is simple. At some point the City field was substituted by Municiplaity field when Puerto RIco is chosen as a country at checkout.

This has hidden the City field. Now all credit card transactions to Puerto Rico clients are broken because of missing city field.

I get the following error.

"Transaction Failed. 300-The city field is required"

**I am sure this is happening to all WOOCOMMERC

[2020-10-02 11:30] pixelicous commented on #15207
@de-b @retroriff @ryonwhyte @payalord  did you guys manage to use slick with variation products? when using slick i cannot get the product image to correctly change when picking a color for instance

[2020-10-02 12:03] rodrigoprimo opened #27846 "Add a time delay buffer on last_updated docker image tag"
**Describe the bug**

@claudiosanches and I got the following error yesterday when running `npm run docker:up` to prepare the environment for the e2e tests:

[code]

We manage to work around this problem by replacing the variable `${DC_PHP_VERSION}` with `7.4.9` in `tests/e2e/env/docker-compose.yaml`. It is not clear to us why docker was trying to use `7.4.11` instead of `7.4.9` as defined [here](

[2020-10-02 12:41] danielvonmitschke opened #27847 "Rounding bugs"
As stated in [this](https://github.com/woocommerce/woocommerce/issues/27626#issuecomment-696124721) comment there still are rounding "errors" in certain constellations - especially when entering net prices for shipping costs with three digits.

Of course there is always the option to set decimals to more than 2, but this will also display prices with more than 2 decimals.

But what I don't underst

[2020-10-02 13:32] payalord commented on #15207
@pixelicous i just created my own solution with that example i mentioned. And I took only thumbs part of it.

[2020-10-02 14:58] danielvonmitschke commented on #27847
Addon: As PayPal does not like 3 digits amounts we also have to take care to the amounts in refund objects.
This can be done with this hook:

[code]

[2020-10-02 15:12] rambavd commented on #25920
Still, as I commented a couple weeks ago, this issue is still present. What should I do? File a new bug report?

[2020-10-02 15:50] webdados opened #27849 "Shipping method add_action or add_filter running at least three times - bug?"
Following [this documentation](https://docs.woocommerce.com/document/shipping-method-api/) to add a new shipping method, the class is initiated at least three times, when the woocommerce_shipping_methods add_filter call is made.

Is this by design, there's a bug or am I missing something here?

I noticed this because a simple shipping method I'm creating uses the admin_footer action on init() to a

[2020-10-02 16:05] pixelicous commented on #15207
I got the whole main image/thumbnails thing working with slick
The problem is that when picking any variation from woocommerce, the main image slides to a blank image..

You have anywhere I can see your code or working example?

Been trying flex slider and slick, in so many ways.. I just can't get it to work on flex slider.. It's always showing a grid

[2020-10-02 18:49] dennisgon commented on #27786
hi can i try to work in this issue?

[2020-10-02 19:57] juliaamosova commented on #27786
@dennisgon sure!

[2020-10-02 21:03] tammullen commented on #27728
Hi @sathyaprakashmurugan02

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-02 21:03] #27728 closed

[2020-10-02 21:04] tammullen commented on #27698
Hi @rafaramos

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-02 21:04] #27698 closed

[2020-10-02 21:04] tammullen commented on #27695
Hi @sorin-sabo

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-02 21:04] #27695 closed

[2020-10-02 21:04] tammullen commented on #27683
Hi @sarinadinet

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-02 21:04] #27683 closed

[2020-10-02 21:05] tammullen commented on #27680
Hi @MrGorlenko

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-02 21:05] #27680 closed

[2020-10-02 21:09] tammullen commented on #27737
Hi @zarbmark

Can you confirm if you have tried either of the suggested solutions suggested?
- Use [Enable jQuery Migrate Helper plugin](https://wordpress.org/plugins/enable-jquery-migrate-helper/)
- Test your site for theme and plugins conflict

[2020-10-02 21:38] tammullen commented on #27839
Hi @delitestudio

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

![Screenshot_2020-10-02_at_22_32_32](https://user-images.githubusercontent.com/24649833/94971863-ed56ea80-04ff-11eb-905a-0e315f7b4c7c.png)
![Screenshot_2020-10-02_at_22_33_02](https://user-images.githubusercontent.com/24649833/94971882-f1830800-04ff-11eb-9050-78680fa40

[2020-10-02 21:40] tammullen commented on #27837
Hi @CordialGit

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.
​
The best place to get help fu

[2020-10-02 21:40] #27837 closed

[2020-10-02 21:51] tammullen commented on #27831
Hi @arunsathiya

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.
​
![Screenshot 2020-10-02 at 22 49 51](https://user-images.githubusercontent.com/24649833/94972709-d74a2980-0501-11eb-95cd-e165c9b3f8d7.png)
![Screenshot 2020-10-02 at 22 50 11](https://user-images.githubusercontent.com/24649833/94972716-d913ed00-0501-11eb-9937-85d73a674

[2020-10-02 22:10] tammullen commented on #27810
Hi @climedia089

Can you try installing the latest version of WooCommerce 4.5.2 via FTP?
https://docs.woocommerce.com/document/troubleshooting-fatal-error-plugin/#section-2

[2020-10-02 22:15] tammullen commented on #27799
Hi @asanka-sanmark  and @Hbitvof

Thank you for reporting the issue. However, this issue had been reported previously here https://github.com/woocommerce/woocommerce/issues/27445. We are closing your issue in favor of the previously submitted. Please continue sharing your feedback there if needed.

[2020-10-02 22:15] #27799 closed

[2020-10-02 22:43] tammullen commented on #27711
Thanks @soussartdirection for reporting this and sorry for the delay in responding.

As you have noted this was changed in https://github.com/woocommerce/woocommerce/pull/26698

I am marking this as bug for now as your report does sound like it is a bug.

We’re going to solve this bug as soon as possible. Stay tuned for updates.

[2020-10-02 22:45] tammullen commented on #27843
Hi @soussartdirection

Thank you for reporting the issue. We are closing your issue in favor of the previously submitted https://github.com/woocommerce/woocommerce/issues/27711. Apologies for not responding sooner to it.

 Please continue sharing your feedback there if needed.

[2020-10-02 22:45] #27843 closed

[2020-10-03 00:03] ObliviousHarmony commented on #27846
It is currently using [this script](https://github.com/woocommerce/woocommerce/blob/2e7f1056e076ae4ebfd30817b41b5497100c3f95/tests/e2e/env/bin/get-latest-docker-tag.js) to pull the latest version from Docker Hub. It's possible you tried in a strange moment where the images weren't fully ready. Since this API response we're using already returns all of the architectures we could consider it invalid

[2020-10-03 02:38] matt-h commented on #26851
I created two potential fixes here: https://github.com/woocommerce/woocommerce/pull/27850 and https://github.com/woocommerce/woocommerce/pull/27851

The first I think fixes the core problem here but changes some of the functionality of the action scheduler. The second adds an option (open to enabled or disabled by default) which just allows sending all webhooks even if they are queued. Which might

[2020-10-03 05:03] sudoshreyansh commented on #27839
I have fixed the issue and created a pull request #27842

[2020-10-03 06:13] dennisgon commented on #27786
hi @juliaamosova I already make PR according to the issue, you can check it on #27852
is this correct?

[2020-10-03 12:44] Thomas-1985 opened #27854 "4.5.2 changing WooCommerce / WordPress api prefix results in http 401 "woocommerce_rest_cannot_view""
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
WordPres: 5.5.1
WooCommerce: 4.5.2 (can also confirm in 4.2.2)
Theme: Storefront 2.7.0 (can also confirm in 2.5.7)

When i change the WordP

[2020-10-03 13:17] jeffikus commented on #27766
I've been contributing to Twenty Twenty One dev and I've added the base structure for the theme support in my fork. Will talk to the core team about what they want to do about adding styles and submit a PR.

[2020-10-03 14:30] bitmakers opened #27855 "Make "init_price_filter()" JS function public"
Could the **"init_price_filter()"** function in the **"../woocommerce/assets/js/frontend/price-slider.js"** file be made public so it can be called from an outside script?

There's currently no way to re-init the Price Slider using the default code - for example if it's replaced with AJAX.

Thanks

[2020-10-04 08:17] KLforIW opened #27859 "same order number twice"
**Prerequisites (mark completed items with an [x]):**
- [x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [ ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

[2020-10-04 11:56] kkmuffme commented on #27702
@rrennick ?

[2020-10-04 13:24] meganetrix opened #27860 "Product Categories"
Right after upgrade to 4.5.2 the product categories in the admin panel will only display the first 10 categories. I have 94 categories and if I do a search for a specific category it is found, the products display in the store fine but in the admin panel will not display anything other than the first 10, it displays the correct number of pages (10) but when I go to any page after the first page al

[2020-10-04 13:27] delitestudio commented on #27839
Great, thanks!

[2020-10-04 14:09] #27860 closed

[2020-10-04 15:19] anant1811 opened #27861 "4.6.0 RC 1. App banner only shows on WooCommerce Admin pages. Is this expected?"
The mobile app banner showed on WooCommerce > Home, and other Analytics pages (screenshot: https://d.pr/i/3bwaPh ) but it didn't show on Orders and other pages (screenshot: https://d.pr/i/wXYgD1 ).

It seems the mobile app banner only shows on WooCommerce Admin powered pages. Is that expected?

This was tested on iPhone XR running iOS 14.0.1

[2020-10-04 15:24] anant1811 opened #27862 "4.6.0 RC 1 - Mobile App banner still shows after clicking on the "view" link, and then refreshing the page."
This is for WooCommerce 4.6.0 RC 1 Testing Instruction:

[code]

On iPhone XR running iOS 14.0.1, after clicking the "View" link if we come back to the site and refresh the WooCommerce page, the app banner still shows. Here's a screencast: https://d.pr/v/O1De1E

[2020-10-04 21:11] pearlarora commented on #13040
Man I can't thank you more...I spent a whole day to resolve this issue and this worked
Really, thank you so much.

[2020-10-04 22:12] andyefth commented on #19645
Hi all,

I hope everyone is well & healthy.

I am facing the same issue, followed the suggestions above, but still cannot resolve.

The steps I follow:

1. I export a csv file with existing variable products, from e-Shop #A (see worksheet **_[Exported from e-Shop #A](https://docs.google.com/spreadsheets/d/1A__5kaTusBLtwddg8qpEtXnDUqGSo30oyINshGUulAw/edit#gid=1372965291)_**)
2. I use this exported

[2020-10-04 23:29] maxbeech commented on #27688
I have also found this exact issue. Any fix please?

[2020-10-05 06:51] andyefth commented on #26380
Hi all,

I hope everyone is well & healthy.

I am facing the same issue; I have followed the above suggestions, but haven't been able to resolve.
The steps I follow are:

1. I export a csv with the variable products from e-Shop #A (_[see worksheet Exported from e-Shop #A](https://docs.google.com/spreadsheets/d/1A__5kaTusBLtwddg8qpEtXnDUqGSo30oyINshGUulAw/edit#gid=1372965291)_).

2. I copy this exp

[2020-10-05 10:23] tammullen commented on #27859
Hi @KLforIW

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

*Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I hav

[2020-10-05 10:27] tammullen commented on #27861
Hi @anant1811

Thank you for reporting the issue. I am going to move your bug report to the WooCommerce Admin repository so that the right team could take a look further.

[2020-10-05 10:27] tammullen commented on #27862
Hi @anant1811

Thank you for reporting the issue. I am going to move your bug report to the WooCommerce Admin repository so that the right team could take a look further.

[2020-10-05 10:39] Knyazevich commented on #25735
I like @dashkevych implementation. Working on it.

[2020-10-05 12:09] G1enn1 opened #27865 "woocommerce delivered order status"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-05 12:33] #27116 closed

[2020-10-05 13:49] rrennick commented on #27702
@kkmuffme I've re-opened the issue.

[2020-10-05 14:11] EdithAllison opened #27866 "WooCommerce Admin Customers not including Name / Link to user when order is entered manually"
Hi Woo team,

I've noticed in WP Admin > WooCommerce >Customers, the column for "Customer Name" which also includes the link to the WP User account is empty for orders which were created manually in WP Admin.

I've checked the manually created orders in WP Admin > WooCommerce > Orders > Edit Order; and the customer account is linked, in the dropdown the correct user account was selected.

Error: O

[2020-10-05 14:37] pexlechris opened #27867 "change receiver email of default PayPal Gateway using filter"
**Is your feature request related to a problem? Please describe.**
I cannot change the paypal receiver email in gateway settings with a wp filter.
I can change it in the checkout, but when an IPN come it cannot authorize the IPN request because the IPN email address is different from the Gateway email address.

**Describe the solution you'd like**
I would like to exists a wp filter that filter the

[2020-10-05 15:17] Diabolikjn commented on #27445
Hello, I just wanted to chime in here and express my displeasure at this change overall.  Can we please move back to the inventory amounts adjusting when an order is on hold.  It wasn't broken, so why fix it ?

[2020-10-05 15:44] rrennick commented on #26724
This should be fixed in version 0.15.

[2020-10-05 15:44] #26724 closed

[2020-10-05 16:38] mdantonio commented on #25326
Hello @juliaamosova , can I ask to re-open the issue?

I just encountered the very exact error by using WooCommerce 4.5.2 and YITH WooCommerce Request A Quote 1.5.7 on PHP 7.4.10 and Wordpress  5.5.1

Warning: A non-numeric value encountered in /web/htdocs/www.manicreative.it/home/wp-content/plugins/woocommerce/includes/class-wc-cart.php on line 1989

It seems that this so elusive error is still t

[2020-10-05 16:39] peterfabian commented on #27357
After further discussions, we've decided to stay in line with the usual approach in the WordPress ecosystem and moving the abovementioned functions to deprecated functions files instead of removing them. Updating the heading.

[2020-10-05 16:43] juliaamosova opened #27868 "Create `wc-scripts` package"
Create a package similar to [`@wordpress/scripts`](https://www.npmjs.com/package/@wordpress/scripts). The new package will be a collection of reusable scripts tailored for WooCommerce development.

[2020-10-05 16:51] peterfabian commented on #27356
After further discussions, we've decided to stay in line with the usual approach in the WordPress ecosystem and not remove the methods. For specific methods within classes, I think we can't do much besides marking these as deprecated, so closing the issue for now.

[2020-10-05 16:51] #27356 closed

[2020-10-05 16:52] rrennick commented on #27846
@rodrigoprimo @claudiosanches You can use [environment variables](https://github.com/woocommerce/woocommerce/tree/master/tests/e2e#how-to-run-tests-using-custom-wordpress-php-and-mariadb-versions) to use specific library versions.

We probably should just add this to the documentation as I don't think there is any way we can completely avoid it happening on people's desktop.

[2020-10-05 16:56] juliaamosova opened #27869 "Publish the initial version of `@woocommerce/api` package to npm"
Publish the initial version of the `@woocommerce/api` package to npm.

[2020-10-05 17:04] juliaamosova opened #27870 "Add Settings Management to `@woocommerce/api` package"
Add Settings Management to `@woocommerce/api` package.

Settings Management:

- Listing operations

- Settings API Utilities

[2020-10-05 17:05] juliaamosova opened #27871 "Finish SimpleProduct Type in `@woocommerce/api` package"
Finish SimpleProduct Type in `@woocommerce/api` package.

Finish SimpleProduct Type:
- Finish base type
- Add specific-features

[2020-10-05 17:07] juliaamosova opened #27872 "Add Other than Simple Product Types to `@woocommerce/api` package"
Add Other than Simple Product Types to `@woocommerce/api` package.

Add Other Product Types:
- [x] [Variable product](https://github.com/woocommerce/woocommerce/issues/28883)
- [x] [Grouped product](https://github.com/woocommerce/woocommerce/issues/28885)
- [x] [External product](https://github.com/woocommerce/woocommerce/issues/28884)

[2020-10-05 17:11] juliaamosova opened #27873 "Add Order Type functionality to `@woocommerce/api` package"
Add Order Type functionality to `@woocommerce/api` package.

Order Type:
- Listing operation
- Creation of order model

Tasks:
- [ ] create an empty order
- [ ] Update `/tests/e2e/core-tests/specs/merchant/wp-admin-order-status-filters.test.js` to use the API to create the orders for the test
- [ ] transformer for simple properties
- [ ] transformers for complex properties
- [ ] add read, list, up

[2020-10-05 17:14] juliaamosova commented on #27866
Hi @EdithAllison,

Thank you for reporting the issue. It looks like it is on the WooCommerce Admin side of things which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-10-05 17:43] rrennick commented on #27802
@jessepearson 403s are handled by the web server not WP. So, if we returned a 403 on a failed login the user would get the server 403 page vs a WP login form with a failed login message (which is why WP returns 200 on a failed login). There are filters/hooks available to implement 403s on a site if the site owner chooses to.

Here's a sample of the access log from one of my sites where hackers are

[2020-10-05 17:45] jessepearson commented on #27802
Okay, thanks for the follow up, I will pass this along.

[2020-10-05 17:45] #27802 closed

[2020-10-05 18:18] juliaamosova opened #27874 "Publish `@woocommerce/e2e-utils` v 0.1.1 on npm"
Publish `@woocommerce/e2e-utils` v 0.1.1 as soon ss the work on https://github.com/woocommerce/woocommerce/pull/27665 is completed.

The issues is that currently `@woocommerce/e2e-utils` v 0.1.0 can't be fully used as it relies on `@woocommerce/model-factories` package that had not been released on npm yet. Also the name of `@woocommerce/model-factories` had been changed to `@woocommerce/api`.

[2020-10-05 18:22] juliaamosova opened #27875 "Create `@woocommerce/e2e-tests` package"
Create `@woocommerce/e2e-tests` package. The package will contain existing WooCommerce Core e2e tests so that they could be run in any other project/repository.

[2020-10-05 18:23] juliaamosova opened #27876 "Publish `@woocommerce/e2e-tests` package on npm for the first time"
Publish `@woocommerce/e2e-tests` package on npm for the first time.

[2020-10-05 18:34] rrennick commented on #27875
Duplicate of #25962

[2020-10-05 18:34] #27875 closed

[2020-10-05 18:35] juliaamosova opened #27877 "Write new e2e test: Merchant / Orders flow (view order, update status, update order details)"
Write a new e2e test that covers Merchant / Orders flow.

The test should cover the following:
- View single order
- Update order status
- Update order details

[2020-10-05 18:37] juliaamosova opened #27878 "Write new e2e test: Merchant / Orders flow (customer payment page)"
Write a new e2e test that covers Merchant / Orders flow.

The new test should cover the following functionality:
- customer payment page

[2020-10-05 18:41] rrennick commented on #27876
Related:
- #27805
- #27836
- The `e2e-utils` package will need to be updated and released after #27836 is merged.
- We need to add a readme for the package

Once those 4 are complete, this can be released.

[2020-10-05 18:42] juliaamosova opened #27879 "Write new e2e test: Merchant / Order Emails Received (new order, payment etc)"
Write a new e2e test that covers Merchant / Order Emails Received flow.

The test should cover the following functionality:
- new order
- TBD

[2020-10-05 18:47] juliaamosova opened #27880 "Write new e2e test: Merchant / Product (view, search and edit products)"
Write 1 new e2e test that covers Merchant / Product flow.

The test should cover the following functionality:

- view all products
- search products
- edit product details

[2020-10-05 18:51] juliaamosova opened #27881 "Test the flow of `Merchant / Plugins` (can update WooCommerce)"
Write a new test that covers Merchant / Plugins flow.

The test should cover the following functionality:
- merchant can update WooCommerce

[2020-10-05 18:57] juliaamosova opened #27882 "Write new e2e test: Shopper / Shop & Product (simple, grouped)"
Write a new e2e test that covers Shopper / Shop & Product flows.

The test should cover the following functionality:

- Add Simple Product to Cart (from shop page)
- Add Grouped Product to Cart (from the product page)

[2020-10-05 19:01] juliaamosova opened #27883 "Write new e2e test: Shopper / Checkout (existing customer can place order)"
Write a new e2e test that covers Shopper / Checkout flow.

The test should cover the following functionality:
- Existing customer can place order using `Cash on delivery`.

[2020-10-05 19:03] juliaamosova opened #27884 "Write new e2e test: Shopper / My Account (pay for order)"
Write a new e2e test that covers Shopper / My Account flow.

The test should cover the following:
- shopper can pay for the order

[2020-10-05 19:05] juliaamosova opened #27885 "Spike: Introduce e2e tests reporting tool"
Introduce the e2e tests reporting tool. For example, https://github.com/allure-framework/allure2.

[2020-10-05 19:15] peterfabian commented on #27343
After further discussions, we've decided to stay in line with the usual approach in the WordPress ecosystem, and instead of removing those classes, we'll most likely just add a filter to optionally not load them if the user chooses to.

[2020-10-05 19:34] michaeltieso commented on #25437
lol

[2020-10-05 21:06] ObliviousHarmony commented on #27870
This will be closed by https://github.com/woocommerce/woocommerce/pull/27836!

[2020-10-05 21:14] ObliviousHarmony commented on #25958
As the scope of the `@woocommerce/model-factories` package has evolved, it became apparent that there were two distinct use-cases being served that could be better served by separating it. In https://github.com/woocommerce/woocommerce/pull/27739 I separated the core functionality into two packages:
- `@woocommerce/api` contains the TypeScript model definitions, API classes, and service classes. Th

[2020-10-05 21:17] ObliviousHarmony commented on #27871
- Fill out the rest of the `Product` base class with properties shared among all product types
- Add (if any) the rest of the `SimpleProduct`-specific properties
- Add the new properties to the product repository
  - Given all of the shared code among product repositories, perhaps a single "product repository" with a given type is best
- Add "list", "read", "update", and "delete" operations for `S

[2020-10-05 22:40] hybridwebdev commented on #25437
Why lol? You think it's okay that with every new release, they break peoples sites?

[2020-10-05 23:47] jessLundie commented on #26360
Hi @juliaamosova and @peterfabian -

We have had another report of this issue from a customer who is using Dropbox to serve their product files. When they use _Redirect only_, everything works fine. When you switch to any other method, the download does begins, but cuts off before it is finished. This results in a broken file. I was able to replicate this on my test site using a file of ~50MB.

Th

[2020-10-06 01:39] Knyazevich commented on #27574
@dangereyes88

Working on it.

[2020-10-06 01:55] helgatheviking opened #27888 "Make is_request() public"
the WooCommerce class method [`is_request()`](https://github.com/woocommerce/woocommerce/blob/3391d8c0b082b94abaccb401a8b4c3a1812091be/includes/class-woocommerce.php#L315) is a handy utility for testing what kind of environment you're currently in. But it's `private` so extensions can't access it and instead have to duplicate it.

**Describe the solution you'd like**
Convert the method from `priva

[2020-10-06 02:45] Knyazevich commented on #24136
Checking this one.

[2020-10-06 06:07] ivatautomattic commented on #27005
Hello @TomzLv ,

Thank you for submitting the issue. Could you provide more details of the bug? Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Detailed steps to reproduce, the system status report and screenshots would help a lot in this case.**

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2020-10-06 06:19] ivatautomattic commented on #27865
Hello @G1enn1 ,

Thank you for submitting the issue. To further investigate the issue we would need to evaluate the system report. Also, if you could add screenshots this would help a lot. Please provide us with the information requested so we could take a look further.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**WordPress Environment**
<details>
[code]
</detai

[2020-10-06 06:44] G1enn1 commented on #27865
![image](https://user-images.githubusercontent.com/72390901/95167369-d3dbca00-07af-11eb-83a6-367f84bacd30.png)
![image](https://user-images.githubusercontent.com/72390901/95167456-fd94f100-07af-11eb-929d-c5d851e13b9c.png)

When an order gets the status delivered there is no way to find it back. It is still exesisting you can find it in db

[2020-10-06 06:44] ivatautomattic commented on #26992
Hi @jessepearson ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using the steps provided.

STR:

1. Install WordPress and WooCommerce plugin
2. Create a product -> create a category -> Create subcategory under that parent category
3. View subcategory ( via its URL under **WooCommerce -> Products -> Product categories**)
4. Manually

[2020-10-06 06:46] G1enn1 commented on #27865
`
### WordPress Environment ###

WordPress address (URL): https://www.stralendgroen.nl
Site address (URL): https://www.stralendgroen.nl
WC Version: 4.5.2
REST API Version: ✔ 4.5.2
WC Blocks Version: ✔ 3.1.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.5.0
Log Directory Writable: ✔
WP Version: 5.5.1
WP Multisite: –
WP Memory Limit: 512 MB
WP Debug Mode: –
WP Cron: ✔
Language: nl_NL
Exter

[2020-10-06 07:36] kotobukidevelopers opened #27891 "THIRD PARTY PAYMENT GATEWAY PLUGIN NOT WORKING"
The issue is I am creating an order and grabbing the payment link via PHP SDK
the code is this

[code]

then when I use the third party payment plugin it was returning an "EMPTY CART ERROR"

but when I use paypal it works

[2020-10-06 10:01] tammullen commented on #26360
We have a related bug here for updating the notice https://github.com/woocommerce/woocommerce/issues/26879

[2020-10-06 11:25] om4james commented on #27726
Hi @bynicolas, would it be possible for you you to see if the changes proposed in #27587 fix your issue?

[2020-10-06 11:38] om4james commented on #27740
Hi @SWengineer-A, have you seen #26847 and PR #27587?At

Do you think that they are the same issue you are reporting?

[2020-10-06 13:54] SWengineer-A commented on #27768
Same issues here.

[2020-10-06 15:08] mdnazmulislamnil opened #27892 "REST API Not Working"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-10-06 16:45] abhishek-pokhriyal commented on #27888
Yup, I've duplicated the function in almost half a plugins by now. I always wonder why is it declared as private in the first case.

[2020-10-06 16:51] jrick1229 opened #27894 "Attribute "arrow" in dropdown collapses product date table"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

When clicking the "arrow" in the attributes tab, the entire product data table is collapsed: https://d.pr/i/25dAeK

Clicking on the attribute n

[2020-10-06 17:49] helgatheviking commented on #27872
Can it be extensible to add other product types too?

[2020-10-06 18:07] letsfindaway opened #27895 "Shortcode evaluated twice on single priod"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-10-06 18:20] letsfindaway opened #27896 "Shortcode in product short description evaluated twice on single product page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have sea

[2020-10-06 18:25] #27895 closed

[2020-10-06 20:28] MachineITSvcs commented on #27794
I will not be sharing my status report. I have deactivated all plugins and reactivated them one by one and this error only occurs when the WooCommerce plugin is active.

[2020-10-07 04:39] wongkediri commented on #27756
Hello,
we also affected by this bugs, since september some order contain parent product.

I hope bug gets upgraded in priority as get lot more significant effect to stock and price.

[2020-10-07 06:06] ivatautomattic commented on #26866
Hi @sumit-singh-hash ,

Thank you for taking the time to share this idea, we really appreciate your help.   While we appreciate you sharing your ideas with us, it doesn’t fit in with our current priorities for the project. At some point, we may revisit our priorities and look through the list of suggestions like this one to see if it warrants a second look. In the meantime, we are going to close t

[2020-10-07 06:08] #26866 closed

[2020-10-07 06:19] ivatautomattic commented on #26987
Hi @johncline ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues la

[2020-10-07 06:51] ivatautomattic commented on #27001
Hi @senff ,

Thank you for submitting the issue. However, I can’t reproduce it using the steps you provided. Everything is working as expected on my end.

Steps I took to reproduce the bug:
1. Navigate to a product -> edit the product`s price
2. Select the header of the **Product data box** to change its visibility (expand/collapse)
3. Save/update the product.
![cannot reproduce](https://user-imag

[2020-10-07 07:04] Xpressprint commented on #27783
**Correction:** The keys are not automatically created _each time_ the Zapier action fires. It can happen several times a day, or not happen for 3-4 days. I have not found a pattern looking at the orders or actions in Zapier.

Where is the functionality of automatically creating API keys coming from, and what purpose is it supposed to serve?

[2020-10-07 10:06] lkraav commented on #27888
Probably because owners know it's too fragile and subject to change in public use.

It really seems like something WP core should ship.

[2020-10-07 10:17] kishanbharda opened #27899 "shipping_methods api not returning shipping rate in woocommerce rest api"
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

I used woocommerce rest api for my mobile app. To create an order I have to use [/wp-json/wc/v3/orders](https://woocommerce.github.io/woocommerce-rest-api-docs/#create-an-order), in that api I have to pass order de

[2020-10-07 11:07] ivanovevgeny commented on #19645
I did it!

1. In your csv price rename variation attributes to use only **latin** symbols.
For example, 'Размер' -> 'Size'.
2. If issue still exists, check '_Stock_' column.
I put '_20_' for variable and '_parent_' for variation.

![image](https://user-images.githubusercontent.com/8840414/95323167-29e76500-08b7-11eb-8732-c9b2561521e6.png)

[2020-10-07 11:13] ivanovevgeny commented on #26380
I [win](https://github.com/woocommerce/woocommerce/issues/19645#issuecomment-704863112)!

[2020-10-07 11:18] fmerlat-choosit commented on #16683
For me, neither YYYY-MM-DD...YYYY-MM-DD nor YYYY-MM-DD work for my date_paid data.
Any idea ?

[2020-10-07 12:32] senff commented on #27001
I can still reproduce this issue on my end.

It works correct for most boxes, and this is the expected behavior:

1. Navigate to a product
2. Select the header of the **Product Short Description** box to change its visibility (expand/collapse)
3. Save/update the product.
4. Observe: the **Product Short Description** box will be in the state you changed it to

It does *not* work correct for the **P

[2020-10-07 14:10] grigorijurasov opened #27900 "PayPal Standard - the order confirmation page shows an item in cart."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After a return from PayPal Standard payment page to the order confirmation page on a site, the cart widget shows the product we just purcha

[2020-10-07 14:45] letsfindaway commented on #27896
Some further information:

* Woocommerce support ticket for this issue including some detailed analysis and stack traces https://wordpress.org/support/topic/shortcodes-on-product-short-description-evaluated-twice/
* The plugin complaining about double evaluation of shortcode is [Booking Package](https://wordpress.org/plugins/booking-package/). It does so because it requires HTML elements with uniq

[2020-10-07 15:08] cesarmtz93-wit commented on #27436
I have the same issue but with WC_Shipping_Method version 4.5.2

[2020-10-07 15:26] cesarmtz93-wit commented on #27436
WC_Shipping_Method version 4.5.2

Deprecated: Non-static method WC_Shipping_Logistics::generate_shipping_guide() should not be called statically in /wp-includes/class-wp-hook.php on line 287

[2020-10-07 15:58] Diabolikjn commented on #27445
Any update on this ?  It looks like the last ticket update was 2 weeks ago and this impacting business every day

[2020-10-07 16:05] Entretoize commented on #22100
That works !

[2020-10-07 16:13] fylgjur commented on #22706
Another report/request in #3384069-zen

[2020-10-07 17:12] #24136 closed

[2020-10-07 18:23] #27681 closed

[2020-10-07 18:32] rodrigoprimo commented on #27846
I believe that is what happened.

:+1:

[2020-10-07 19:08] helgatheviking commented on #27888
Not sure I understand what you mean here? The function is unreliable? If so, that better at least 1 core function to check on than the same function in multiple plugins I think.

You might be right that it belongs in WP core, but my experience with WP core is it can take 8-10 years to get a single line of code added. Getting into Woo seems a heck of a lot more promising. :)

[2020-10-07 19:28] rrennick commented on #27095
@peterfabian Addressed in https://github.com/woocommerce/action-scheduler/pull/621.

[2020-10-07 19:48] juliaamosova opened #27902 "Improve documentation on running e2e tests on the external (non-local) URL"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Running e2e tests on the external URL doesn't seem to work.

I tried to run e2e tests on my Pressable test site. I followed the instructio

[2020-10-07 20:49] pexlechris opened #27903 "cannot disable the autocomplete of address in an decimal input field in woo settings"
I found the solution --> 	'autocomplete'      => false,

[2020-10-07 21:27] ObliviousHarmony commented on #27902
Howdy @juliaamosova,

This is caused by the test site lacking the "Ready" post indicating WordPress has been installed and configured for testing. In https://github.com/woocommerce/woocommerce/pull/27432 this is noted as being a requirement. I think it might be a good idea to display a more descriptive version of this message in cases where we aren't referencing a local host. I don't think we shou

[2020-10-07 22:42] rrennick commented on #27902
We don't have any way of determining if it's a local host. My dev installs that I use outside of E2E are `project.localhost` but I could name them `project.com`.

It stops waiting after 5 minutes.

[2020-10-07 22:46] rrennick commented on #27902
@juliaamosova We don't. Do we need to expand the [instructions for external testing](https://github.com/woocommerce/woocommerce/blob/master/tests/e2e/env/external.md) ?

[2020-10-07 23:55] DBSnskiefer commented on #27756
I have a client running into this issue as well. Heavily reliant on variations for their sales. It seems we're running into an issue with slow load times particularly in China that are making this problem more prevalent. We're working to improve the JS load times now knowing the source of the problem.

It's also causing a behavior where the variation isn't being checked for stock levels or maximum

[2020-10-08 05:17] PaulCityhopper commented on #26535
Sorry, but @juliaamosova closed this, but I cant see the solution or feedback for this!?

[2020-10-08 06:23] abhishek-pokhriyal commented on #27888
@lkraav There is another public method in WooCommerce Class called [`is_rest_api_request`](https://github.com/woocommerce/woocommerce/blob/2380e9d37680b19dcb698e7724bea893f8702d67/includes/class-woocommerce.php#L282-L300) which should be in WP Core and might be fragile too.

[2020-10-08 07:04] ivatautomattic commented on #27540
Hi @gevcen ,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacki

[2020-10-08 07:08] ivatautomattic commented on #27541
Hi @gevv,

Thank you for submitting the issue. However, you didn’t fill out the details of the bug report template that we ask for. Without these details, we can’t fully evaluate this issue. Please provide us with the information requested so we could take a look further.

**Describe the bug**
A clear and concise description of what the bug is. Please be as descriptive as possible; issues lacking

[2020-10-08 08:35] lkraav commented on #27888
I don't know how reliable this method is or isn't.

For example, I recently discovered https://developer.wordpress.org/reference/functions/wp_is_json_request/ exists.

Identifying request types looks like quite a confusing landscape, starting with the age old `is_admin()` which also tests positive for any `admin-ajax.php` request, frontend too.

All I'm saying is - not surprised this method is not

[2020-10-08 09:28] peterfabian commented on #27674
Updates from WP core: https://make.wordpress.org/core/2020/10/06/call-for-testing-php-8-0/

[2020-10-08 09:36] gevv commented on #27541
Hi,

watch the video ?

8 Eki 2020 Per 10:08 tarihinde ivatautomattic <notifications@github.com>
şunu yazdı:

[2020-10-08 10:31] webthread commented on #26422
Any progress on this, it's causing some real headaches.

[2020-10-08 10:51] vedanshujain commented on #27445
@diablodale the fix is waiting for approval, if approved it will be included in our November release (4.7). as a workaround, if you are comfortable with editing code, editing this line should fix the issue meanwhile:

On line 213, in file woocommerce/includes/admin/wc-admin-functions.php
https://github.com/woocommerce/woocommerce/pull/27763/files#diff-552b5c356f0782a4d69ea8ef1a604455R213

(All oth

[2020-10-08 11:02] #26847 closed

[2020-10-08 11:33] diablodale commented on #27445
I think V meant to type @Diabolikjn instead. :-)

[2020-10-08 13:33] claudiosanches commented on #27888
@helgatheviking thank you for your suggestions, but note that `is_request()` is for internal use only, that's why is private, we don't plan to support it or give support for all kinds of customizations that may affect this method.
Also is impossible for us to deprecate or remove the method once is public, in case we want to replace to something WP core may implement.

[2020-10-08 13:33] #27888 closed

[2020-10-08 13:45] #27651 closed

[2020-10-08 13:56] helgatheviking commented on #27888
Had to try @claudiosanches ! :) About to copy the exact same function into one of my plugins.

[2020-10-08 14:22] susanwinters214 commented on #14848
If our PRODUCT pages don't have prices - should we code them for "THING" instead?
This is SO FRUSTRATING that there doesn't seem to be a "solution" (proper way to code) a product page that has no prices. Should we even bother coding using "THING"? Should I even spend time on SCHEMA code if they're not going to make it possible to code Product pages without prices?

[2020-10-08 15:01] oswaldAle04 opened #27907 "Error when changing a country whose list of states is in the system, to one that is not"
When selecting the country whose regions are presented in a select field in the billing address, to one with regions with a text input field, both fields are displayed on the screen. Some should disappear, but it doesn't work this way.

![image](https://user-images.githubusercontent.com/30512912/95476604-66699e00-0955-11eb-962b-6ae5fbffa9e4.png)

In the image, first I select Argentina as the count

[2020-10-08 18:54] nixiack opened #27909 "[WooCommerce 4.6 R.C-1] After updating from 4.5.2, Home screen not displaying correctly"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
After updating from [Ver. `4.5.2` to `4.6 RC-1](https://d.pr/i/5IRSak) the graphic and layout when switching to `Home` is not complete.

**

[2020-10-08 19:01] tammullen commented on #27909
Thanks @nixiack for reporting the issue. WooCommerce Admin is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.
I am going to move your bug report there so that the right team could take a look further.

[2020-10-08 19:19] rrennick commented on #26992
@jessepearson Use your steps to reproduce using post categories instead of product categories. In my install it also works. Being accessible via multiple URLs is a "feature" of hierarchical taxonomies.

[2020-10-08 19:21] #25962 closed

[2020-10-08 20:02] #26907 closed

[2020-10-08 20:07] nixiack opened #27910 "[WooCommerce 4.6 RC 1] Website fails to create shop, cart, checkout and my account pages once WooCommerce plugin is activated."
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] there is a similar bug that was found for Beta [**here**](https://github.com/woocommerce/woocommerce/issues/27770) which was closed.

**Describe the bug**
Website fails to create shop, cart, checkout and my account pages once WooCommerce plugin is activa

[2020-10-08 21:29] juliaamosova commented on #27891
Hi @kotobukidevelopers,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a custom code related question. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to custom code questions.

The best place to get

[2020-10-08 21:29] #27891 closed

[2020-10-08 21:29] juliaamosova commented on #27892
Hi @mdnazmulislamnil,

Please provide us with more details. It would be great if you could specify what doesn't work exactly?

[2020-10-08 21:36] juliaamosova commented on #27903
Hi @pexlechris,

Thanks for raising the issue. However, it looks like there is no bug bein reported here and you found what you've been looking for. I am closing it but feel free to comment again in case you have any follow-up.

[2020-10-08 21:36] #27903 closed

[2020-10-08 21:44] mdnazmulislamnil commented on #27892
I have fixed the issue.
thanks
Nil

On Fri, Oct 9, 2020 at 3:30 AM Julia Amosova <notifications@github.com>
wrote:

[2020-10-08 21:58] dynamicJake commented on #14879
@bootleweb, thank you for sharing that plugin. An issue that was marked as closed and is still a problem 2 years later is odd.

I second this issue and it was occurring even after uninstalling all plugins and custom code. The site had orders dating back until 2014 and the orders were not showing when searching by the customer's name (only recent orders from about 2017-present). Even some orders in

[2020-10-08 22:21] rodrigoprimo commented on #27910
@nixiack I'm not able to reproduce this issue. Here is a GIF of the steps that I took. Are you doing something different? The pages should be created once WooCommerce is activated.

![Peek 2020-10-08 19-04](https://user-images.githubusercontent.com/77215/95519424-6b514080-099b-11eb-9a71-36dd3ffe3ee8.gif)

[2020-10-09 01:34] mccoyg opened #27911 "REST-API Orders line_item price inconsistency when quantity > 1"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have s

[2020-10-09 03:56] MrVibe commented on #18395
This is a much required need of latest web standards. WooCommerce must also do away with PHP sessions for carts.

[2020-10-09 08:42] NickDomanti commented on #7207
I deactivated every plugin but WooCommerce, but still, can't update order status, not in v1 nor v2 nor v3

[2020-10-09 10:23] tammullen commented on #27910
Thanks @nixiack, I also can't seem to reproduce it, I did the same steps as Rodrigo. I also continued on through the setup wizard and added a product just to confirm the pages remained after being created.

Is the test site you used brand new? Is there a chance it could have had a now deleted previous WC install?

[2020-10-09 11:21] jacoswan opened #27915 "Product Categories Menu Add Menu Items do not display correctly if View All is paginated"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

In WP Admin » Appearance » Menus » Add menu items » Product Categories, when you have many product categories (over 60'ish) and the View A

[2020-10-09 13:07] rodrigoprimo commented on #27910
The only explanation that I have so far for this is that for some reason (maybe an old WooCommerce install that was partially removed) the option `woocommerce_db_version` exists in the database before WooCommerce is activated. This would explain why the pages were not created. @nixiack could you please check if that is the case?

[2020-10-09 15:42] bash-stack opened #27917 "MariaDB Syntax error"
Mariadb throws error:

[code]

**Steps to reproduce the bug (We need to be able to reproduce the bug in order to fix it.)**
Steps to reproduce the bug:
1. Go to your webserver/database log

**WordPress Environment**
We use the [WooCommerce System Status Report](https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/) to help us evaluate the issue.
Without this rep

[2020-10-09 21:35] juliaamosova commented on #27892
@mdnazmulislamnil thanks for letting us know. I am closing this thread then.

[2020-10-09 21:38] juliaamosova commented on #27810
Hi @climedia089,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-09 21:38] #27810 closed

[2020-10-09 21:40] juliaamosova commented on #27772
Hi @gglobalstep,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-09 21:40] #27772 closed

[2020-10-09 21:40] juliaamosova commented on #27737
Hi @zarbmark,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-10-09 21:40] #27737 closed

[2020-10-09 21:46] juliaamosova commented on #27917
Hi @bash-stack,

Thanks for raising the issue. It seems that errors are coming from the [Facebook for WooCommerce extension](https://woocommerce.com/products/facebook/).

The support for this extension is handled by the 3rd party developer SkyVerge. Please visit [Facebook for WooCommerce extension](https://woocommerce.com/products/facebook/) page and click on `Get Support` button on the sidebar on

[2020-10-09 21:46] #27917 closed

[2020-10-10 04:27] mi5t4n commented on #24885
@claudiosanches
Hello,
I just tested this issue and it seems like this is already fixed. I think, we need to close this issue.

[2020-10-10 10:00] ktmn commented on #27530
```Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'auto_update_woocommerce' not found or invalid function name in .../wp-includes/class-wp-hook.php on line 287```

WC 4.5.2

Only get them while Beta Tester is active, on `/wp-admin/plugins.php` page.

Same with WC 4.6.0-rc.1

Might just be beta tester plugin issue.

In WC Beta Tester the "Automatic Updates" opt

[2020-10-10 10:06] harshitmahendra opened #27919 "Woocommerce All APIs in postman collection ?"
Is there is any way to get all APIs in postman(postman collection) like Magento 2  do with swagger?
ex [https://gist.github.com/igimanaloto/0d7f1af25f1ce7d2cb0cb7637fed0f09](https://gist.github.com/igimanaloto/0d7f1af25f1ce7d2cb0cb7637fed0f09)

[2020-10-10 11:47] KVNHNF opened #27920 "Shipping address on the left instead of right for backend orders"
For stores that often need to copy customer address and contact details to forward it elsewhere (ex: dropshipping), when you mouse select the order number, date, name, address, phone number, in order to copy it, either you can just select the billing one (located on the left) or both the billing and shipping one. (but not the shipping one only with the current layout display).

This often leads to

[2020-10-10 12:01] LichtWesenNL opened #27921 "UPDATE button does not respond - no save and refresh action in 'Edit Order' page"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have sea

[2020-10-10 12:08] sjmiller1 opened #27922 "Irish Counties Abbreviated in Database, causing issues with labelling via API's"
**Describe the bug**
When a State/Counties dropdown exists for a country, the State is saved as an abbreviation in the database.
In the case of Ireland, the abbreviations are not recognized or used by either couriers or the people of Ireland.

When the recipients address details are pulled via an Labelling API, it is the state/county abbreviation that is received, rather than the full County name.

[2020-10-10 12:42] jgreys commented on #26718
Hi everyone! Just wondering, is it still relevant? :)

[2020-10-10 13:35] helgatheviking commented on #26718
Not really. I took a stab at it the other day, and got through all the yes items. But then I realized yes and no would be translatable. so for the purpose where I'm parsing the system status via a webhook when I get a support ticket, I wouldn't be able to match "yes" and "no" consistently anyway. and did eventually figure out how to work around that. So I don't need this any more myself.

[2020-10-10 15:14] damiannep opened #27923 "Clicking attribute toggle chevron is toggling the entire product settings"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When editing a product, clicking on the chevron beside an attribute in the Attributes tab closes the whole Product Data area. The issue was

[2020-10-11 09:57] agl99 opened #27924 "Filter Products by Attributes is not showing any Attribute"
I'm using WordPress 5.5.1 and WooCommerce 4.5.2. Existing thread ([27519](https://github.com/woocommerce/woocommerce/issues/27519)) says it's resolved in 4.5.2 but I couldn't make it work.

![Widgets](https://user-images.githubusercontent.com/72689233/95675593-41d22800-0bda-11eb-8604-a35af1fa9a8a.png)

![Attributes](https://user-images.githubusercontent.com/72689233/95675595-48609f80-0bda-11eb-8da

[2020-10-11 10:28] jessepearson commented on #26992
@rrennick Good call, I was thinking it was probably WordPress core. I am going to go ahead and close out this issue.

[2020-10-11 10:28] #26992 closed

[2020-10-11 10:47] beesalsht commented on #25997
**I am getting this error when I try to activate woocommerce plugin.** Any solution ??

An error of type E_ERROR was caused in line 44 of the file /home/u704112749/domains/example.com/public_html/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php. Error message: Uncaught RuntimeException: Error saving action: Error saving action: Table 'u

[2020-10-11 11:42] agl99 commented on #27419
Hi @juliaamosova,

I'm using WordPress 5.5.1 and WooCommerce 4.5.2. Others in this thread says it's resolved in 4.5.2 but I couldn't make it work. What am I missing here?

![Widgets](https://user-images.githubusercontent.com/72689233/95677670-d774b400-0be8-11eb-80c5-827b0c92e7fe.png)

![Attributes](https://user-images.githubusercontent.com/72689233/95677663-c4fa7a80-0be8-11eb-9127-fb48e8059eae.png

[2020-10-11 13:33] DroidRomTwisters opened #27926 "Csv import Takes Forever"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-12 06:35] mbiko22 commented on #27688
I have the same issue. anyone found a solution, please?

[2020-10-12 10:27] christopherdarling opened #27927 "Duplicate Product - 'Publish On' date"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-12 10:59] christopherdarling commented on #27927
Logic from WordPress core may be useful here https://github.com/WordPress/WordPress/blob/master/wp-admin/includes/meta-boxes.php#L223-L237

[2020-10-12 11:31] NomadAndInLove opened #27928 "Variations of Variable Products Not Added to Order"
I received an order which consisted of several variable products. When I tried to calculate shipping, I was unable to generate the product weights. Upon investigation, I noticed that the variations for each product were not added to the order but the prices were added correctly. I replicated the order and everything worked fine the second time around.

I have processed over 100 orders and since Ma

[2020-10-12 15:43] crgeary opened #27929 "Account menu reads Addresses but should read Address when has 1 address"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

The "My Account" navigation reads "Addresses" even though only 1 address is set to show. For example, if you set "Force shipping to the cu

[2020-10-12 17:04] mariofrancoz opened #27931 "The option "switch on to calculate tax automatic" don't show up to me:"
**Prerequisites (mark completed items with an [x]):**
- [ x] I have checked that my issue type is not listed here https://github.com/woocommerce/woocommerce/issues/new/choose
- [x ] My issue is not a security issue, support request, bug report, enhancement or feature request (Please use the link above if it is).

**Issue Description:**

the option: switch on to calculate tax automatic in the tab "

[2020-10-12 17:17] BuroStaal commented on #9320
+1 We really needs this functionality in the Netherlands to comply with Dutch tax laws. The only thing we need is an option to enter shipping costs including VAT. Is there a timeline for this issue? @mikejolley

Thanks for your fix @daigo75 , going to test it asap!

[2020-10-12 17:29] connde commented on #26839
Hi, any idea of when this will be fixed? Can someone provide a workaround in the meanwhile?

[2020-10-12 21:12] surajv opened #27932 "Fatal error: Uncaught RuntimeException: Error saving action: Error saving action"
**When activating WooCommerce on specific websites, it is throwing a fatal error, making websites inaccessible.**

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The following fatal error is

[2020-10-12 21:16] bozzmedia commented on #27266
I realize this is closed but I wanted to share I am also experiencing this issue recently. Multiple emails come out with \n in the recipient list.  ("tech@example.com,\n name@example.com,\n anothername@example.com")  This has only presented as an issue after recent Woo updates.

Additionally, the default emoji "Congratulations on the sale. [clap emoji]" was causing new order notification emails to

[2020-10-12 22:04] TheGranadilla commented on #27924
I think you must create the attribute in "Products > attributes" and then use it in your products.
It can work if you create your attribute in the product. It must be a "global" attribute. Hope I'm clear ^^

[2020-10-12 23:46] PiensosdeCalidad opened #27933 "no se abre el desplegable de provincias"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-10-13 04:04] AashikP opened #27935 "Hide Out-of-Stock Variable products when using `Filter products by Attribute Widget`"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**

Filter products by Attributes widget will display variable products with variations matching the filtered attribute that are out of stock even

[2020-10-13 04:36] Pmeet opened #27936 "Cannot add plugin to wordpress website on Hostinger platform"
Hello,

I am facing the below issue while activating Woocommerce plugin on wordpress.
`
Warning: include_once(/home/u315433039/domains/holyskincosmetics-com.preview-domain.com/public_html/wp-content/plugins/woocommerce/includes/class-woocommerce.php): failed to open stream: No such file or directory in /home/u315433039/domains/holyskincosmetics-com.preview-domain.com/public_html/wp-content/plugins

[2020-10-13 07:02] RiaanKnoetze opened #27937 "jQuery Migrate Helper Warning"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
**WooCommerce > Settings Emails > New Order** shows the following error when the [Enable jQuery Migrate Helper](https://wordpress.org/plugi

[2020-10-13 07:21] Dodieza opened #27938 "Product variable does not update when ordering"
Hello,
Since updating WooCommerce, I have a bug with updating inventory.
When my customer purchases a variable product, the stock does not update in the inventory.
It works for a simple product but not for a variable product.
I have to do it by hand for each item during each order.
Can someone help me please ?
Thank you

[2020-10-13 08:53] senadir opened #27940 "Update node version"
The node version being used is a bit outdated (v10) causing people to rebuild node-sass each time they switch to this repo.
It should either be updated to v12, or have an automated bot that updates it each time.

[2020-10-13 09:47] Jensonbruins opened #27941 "Grouped products are missing a price update"
Problem description:
- When a grouped product is created with multiple simple products in its group, it contains a range from lowest product price to highest product price.
- This lowest (simple) product price is also set in the <script type="application/ld+json"> in the source on the page of the grouped product.
- The data in <script type="application/ld+json"> is often crawled/used for marketing

[2020-10-13 10:33] simplenotezy commented on #26899
Hey @claudiosanches thanks for a very in-depth answer. Really appreciate it.

I have tried to implement your logic, but it seems to provide two very different results.

When applying in this order:

    - $order->calculate_taxes( $calculate_tax_args );
    - $order->calculate_totals(false);
    - $order->apply_coupon($coupon); // a fixed_discount coupon which amount is higher than the order items

[2020-10-13 12:29] AlexandreAcyba commented on #27521
We're having the same issue here.
Would be nice if it can be fixed in one of the upcoming releases ;-)

[2020-10-13 13:38] zfwjs opened #27942 "API - Order Search for 'checkout' no longer working"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
API Order search functionality has changed. I used to be able to do this:

`/wp-json/wc/v3/orders?search=checkout`

The intent for me was t

[2020-10-13 15:03] peterfabian opened #27945 "Remove use of jQuery ready() in WC core code"
As per [the jQuery docs](https://api.jquery.com/ready/):

Therefore, we should fix the deprecated usages of `ready()` method, as we still use it in some places:

- wp-content/plugins/woocommerce/includes/class-wc-shortcodes.php
- wp-content/plugins/woocommerce/includes/customizer/class-wc-shop-customizer.php

(and maybe more).

[2020-10-13 15:22] jheckford commented on #25524
Appreciate you guys are looking into this as a priority but if it could be a top priority and we could get a rough ETA on a fix so we can let our clients know if would be very much appreciated.

[2020-10-13 15:57] lukecav opened #27946 "Database tables wiki outdated"
None of the WooCommerce Admin database tables are included in the current doc. The WooCommerce Admin related database tables should be included since this was merged into the 4.0 release. It is also missing the custom database tables that the Action Scheduler also uses which was updated in version 4.0 as well.

[code]

https://github.com/woocommerce/woocommerce/wiki/Database-Description

[2020-10-13 16:56] johndcoy opened #27948 "Make the Shipping Zone Priority more obvious"
**Is your feature request related to a problem? Please describe.**

With shipping zones, we often see the pitfall of misunderstanding on how shipping zones are matched. Specifically, that WooCommerce will search from the top/down and return methods for the first one it finds. If the first zone matches, only rates from that zone will be returned, even if other zones technically match. That isn't ap

[2020-10-13 17:03] Chouby opened #27949 "Translations loaded 2 times and too soon"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The WooCommerce translations are loaded 2 times. The first translation file is loaded too soon (before all plugins are loaded),
and possibl

[2020-10-13 17:15] zfwjs commented on #27942
I'm pulling orders into an external site, and my logs indicate the change occurred on August 4th, 2020. Unfortunately, I'm unable to determine what WooCommerce release I was on, but I am never more than 1 or 2 releases behind stable.

I've rolled back to 3.9.2 and rolled back the database and it is working again.

I'm working on a custom endpoint to work around the change.

[2020-10-13 17:16] rodrigoprimo opened #27950 "Failing shipping address E2E test"
[A change](https://github.com/woocommerce/woocommerce-admin/pull/5312) in WCA 1.6.0 that was merged in #27918 broke the E2E test that checks if the user is able to add a shipping address during checkout.

In WCA 1.6.0-rc.3, a default shipping zone is created during the setup wizard even if the user doesn't install Jetpack and WooCommerce Services & Taxes. But since WCA 1.6.0 final, the default shi

[2020-10-13 19:49] RezaRamezanpour opened #27953 "Negative stock still happening when placing two orders at the same time"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I've read almost all issues related like #24782 #24009 #22118 but still we have negative stock and many customers complain about that. The

[2020-10-13 20:28] #27950 closed

[2020-10-13 21:22] linux4me opened #27954 "WordPress 5.5 Core XML Sitemap Includes Hidden WooCommerce Products In the Sitemap"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I'm using WP 5.5.1 and WooCommerce 4.5.2. I just discovered that products with their catalog visibility set to "hidden" in WooCommerce show

[2020-10-13 23:06] knutsp commented on #27954
Hidden products are still public content. They are visible when linked to, custom internal links other external (e.g. search engines). Th visibility property is about on what kind of pages it's listed. One might say that "Hidden" is bit misleading, as "Unlisted" would be more accurate, IMHO. But that's another issue.

If a product is not to public, it has to be un-published (have a main status not

[2020-10-13 23:58] linux4me commented on #27954
I'm fairly confident that most users using the "hidden" setting to make a product not visible in the catalog or search will not want the product showing up on the sitemap or Google search results, either.

The whole point is to have products that can be viewed by the public if desired--by providing a customer a direct link--but that aren't otherwise obvious on the site. If they pop up on search en

[2020-10-14 04:13] agl99 commented on #27924
@TheGranadilla - Thanks a lot!

[2020-10-14 04:13] #27924 closed

[2020-10-14 04:54] jacoswan commented on #27941
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Price field of a grouped product returned via REST API / JSON does not update when the price of the cheapest product is, unless the cheapes

[2020-10-14 05:55] anant1811 commented on #27945
Just adding that this also affects 3400290-zen

[2020-10-14 06:08] AmeenJalali opened #27956 "Disabling autocomplete for billing_postcode not working"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I can't disable the autocomplete feature for billing_postcode in the checkout fields. Disabling other fields works fine but billing_state, billi

[2020-10-14 08:27] rAthusFr opened #27957 "Product price changes when selecting delivery country with different tax"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
I'm selling in different countries and two of them (Spain and Belgium) have different taxes for most items.

I want the products to have th

[2020-10-14 09:04] simplenotezy commented on #26899
Also, another issue we face now is that VAT is 0 when applying a fixed_amount discount code. Have a look here:

![image](https://user-images.githubusercontent.com/3786627/95967648-c86e4b80-0e0c-11eb-95e4-3b6d3ab5ce09.png)

You'll notice that VAT is 0.

However, the same products just bought with a percent discount (10%) it shows VAT perfectly:

![image](https://user-images.githubusercontent.com/37

[2020-10-14 09:13] simplenotezy commented on #26899
Some additional information; when applying coupon that has a fixed_amount, and then calling `$item->get_total_tax()` on the order item, it returns 0.

If I choose not to apply the coupon, and then call `$item->get_total_tax()` it returns the correct TAX amount.

Why is that?

[2020-10-14 09:23] simplenotezy commented on #26899
Also theres a mismatch between the order confirmation e-mail we receive and the data inside the order.

![image](https://user-images.githubusercontent.com/3786627/95970002-bc37bd80-0e0f-11eb-98c9-ff3a9976b077.png)
![image](https://user-images.githubusercontent.com/3786627/95970012-bfcb4480-0e0f-11eb-8541-1654b57d3cc9.png)

[2020-10-14 10:44] frrick1908 opened #27958 "Order search doesnt work"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ ] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have sea

[2020-10-14 12:11] Aljullu opened #42675 "Price slider max constraint doesn't match price filter input value"
## Describe the bug
It's possible to achieve a situation where price slider values differ from values shown in the input fields.

## To reproduce
If you are using WC test data, you can use the same values I will describe below, otherwise you might need to use different prices/attributes to achieve a similar result.

1. Create a page with Price Filter, Attribute Filter (chose _Color_ filter) and Al

[2020-10-14 12:35] VerdaderaYT opened #27960 "Downloads table empty on customer order completed email, after order was On hold"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have sea

[2020-10-14 13:24] DavidAnderson684 commented on #27945
N.B. The link doesn't say that `ready()` has been deprecated; it says that there is one preferred syntax for using it, and all others are deprecated.

[2020-10-14 13:50] G1enn1 commented on #27865
Hello,

Here are some screenshots.
On the first you can see that i manually put the order on status 'delivered'
And then when i search for it it's gone on the second screenshot.
How can we fix this?
Especially because the orders are going on 'delivered' when we don't want
them to.
They just disappeared.
Do you need anything else?

[image: image.png]
[image: image.png]

Met stralende groet,

Glenn

[2020-10-14 14:30] rAthusFr commented on #27957
Answering to myself after getting help on the plugin's forum: https://wordpress.org/support/topic/product-price-changes-when-selecting-delivery-country-with-different-tax/

It seems like it's a known behaviour that is solved by adding that code in _functions.php_:
`add_filter( 'woocommerce_adjust_non_base_location_prices', '__return_false' );`

I feel like it should be the default behaviour when t

[2020-10-14 14:54] jessepearson commented on #25582
Received another report of this today in 3404224-zen. In reviewing what was said above, I believe the issue is in the `save_template` method, as well:
https://github.com/woocommerce/woocommerce/blob/4.5.2/includes/emails/class-wc-email.php#L773

Any code in place that expects this to work already isn't functioning, so would it be safe to say the same filter can be used in `save_template` like this

[2020-10-14 15:31] kraftbj commented on #27954
Just some notes for possible implementation. The Core logic for posts, including CPTs, is in https://github.com/WordPress/WordPress/blob/master/wp-includes/sitemaps/providers/class-wp-sitemaps-posts.php

You can filter individual posts via the `wp_sitemaps_posts_entry` filter.

One approach, though, could be to remove the `product` CPT via the `wp_sitemaps_post_types` filter and creating your own

[2020-10-14 16:59] juliaamosova commented on #27926
Hi @DroidRomTwisters,

Thanks for raising the issue! However, you didn't fill out any details that we need in order to evaluate it further. Please provide us with the details as per the issue template. Otherwise, it will be closed without further action.

[2020-10-14 17:00] #27215 closed

[2020-10-14 17:03] #27475 closed

[2020-10-14 17:05] juliaamosova commented on #27928
Hi @NomadAndInLove,

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.

The type of issue you submitted looks like a support request which may or may not reveal a bug once proper troubleshooting is done.

Also please note that this thread is accessible to anyone on the internet and you shouldn't include any s

[2020-10-14 17:05] #27928 closed

[2020-10-14 17:18] rrennick commented on #27870
Closed by #27836.

[2020-10-14 17:18] #27870 closed

[2020-10-14 17:38] rrennick commented on #27530
Fixed in https://github.com/woocommerce/woocommerce-beta-tester/pull/74

[2020-10-14 17:38] #27530 closed

[2020-10-14 17:54] #27754 closed

[2020-10-14 18:01] rrennick commented on #27869
Released https://www.npmjs.com/package/@woocommerce/api.

[2020-10-14 18:01] #27869 closed

[2020-10-14 18:12] #27493 closed

[2020-10-14 18:48] fawlty007 commented on #27756
Just wondering if this is fixed in the update that was pushed today (4.6.0)?

[2020-10-14 19:18] #27729 closed

[2020-10-14 19:29] claudiosanches commented on #24631
Closed by #27893

[2020-10-14 19:29] #24631 closed

[2020-10-14 19:51] khristiansnyder opened #27966 "WooCommerce 4.6 Analytics Overview page breaks with Gutenberg plugin active"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
With the WooCommerce plugin updated to 4.6, the  Analytics Overview page is now blank and gives quite a few errors in the console. I notice

[2020-10-14 20:10] juliaamosova commented on #27966
Hi @khristiansnyder,

Thank you for reporting the issue. It seems to be caused by the WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-10-14 20:32] mrleemon opened #27967 "Letters with graphic accents disappear"
**Describe the bug**
The release of WC 4.6 has fixed the #26994 bug (Different languages on the dashboard), but there's still an issue with letters with graphic accents in translated strings: they simply disappear leaving a blank space in the string.

**Expected behavior**
Letters with graphic accents should appear in translated strings

**Actual behavior**
Letters with graphic accents disappear i

[2020-10-14 20:51] juliaamosova commented on #27967
Hi @mrleemon,

Thank you for reporting the issue. It seems to be caused by the WooCommerce Admin which is being developed in another repository: https://github.com/woocommerce/woocommerce-admin.

I am going to move your bug report there so that the right team could take a look further.

[2020-10-14 21:06] #27839 closed

[2020-10-14 22:11] juliaamosova commented on #26652
Hi @dougaitken,

Apologies for the delayed response here. I retested this with the `Hold stock (minutes)` set to 30 and I indeed could reproduce the issue. I made a gif to document what I saw after I placed an initial order for 3 items:

http://g.recordit.co/kVkj3eJbML.gif

This seems like a high priority issue to me as it affects placing an order using BACS and has to do with inventory - both cou

[2020-10-15 00:07] #27532 closed

[2020-10-15 00:28] #27009 closed

[2020-10-15 00:50] roykho commented on #27332
Hi @devNigel,

So I am having a difficult time thinking what use case would there be for the shop page to have no products. Could you please elaborate why you're using it this way?

[2020-10-15 01:09] lunarbody opened #27969 "Back coding showing on half of my woocommerce page"
**Describe the bug**
On my woocommerce page, there is a half-page of back coding. It appeard out of know where

**Expected behavior**
I expect that to be off of my page.

**Actual behavior**
When I click lunarbody.com/shop half of the screen is full of coding and crazy writing.

**Steps to reproduce the bug (We need to be able to reproduce the bug in order to fix it.)**
Steps to reproduce the bug:

[2020-10-15 08:01] #27445 closed

[2020-10-15 08:43] tammullen commented on #27969
Hi @lunarbody

It will help us evaluate this issue if you could share your current System Status Report. You can get it by navigating to the WooCommerce / Status section of your site. Once there, click on the Get system report button and then copy it by clicking on the Copy for support button. Then paste it here in a comment.

[2020-10-15 09:21] Xpressprint commented on #27783
How long does it usually take to get a response on something like this? It is still a problem for us, I have to manually check and delete new API-keys ever day.

[2020-10-15 09:26] vcarc commented on #27118
Hello, I'd like to know if you have plans to fix this issue anytime soon.
I've been waiting for this fix for months.
Thanks

[2020-10-15 11:18] lunarbody commented on #27969
`
### WordPress Environment ###

WordPress address (URL): https://lunarbody.com
Site address (URL): https://lunarbody.com
WC Version: 4.6.0
REST API Version: ✔ 4.6.0
WC Blocks Version: ✔ 3.4.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.6.1
Log Directory Writable: ✔
WP Version: 5.5.1
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US
External object cac

[2020-10-15 11:33] wongkediri commented on #27756
i just upgrade and try, the bugs still exist

[2020-10-15 12:11] aovivo2000 commented on #23202
Hi there,

with the WC 4.6 release today I just wanted to remind that the rounding issues in WooCommerce still persists and needs to be addressed.

I wish I could contribute in any way, but I lack the skills.
So I am hoping that this might be solved soon. this issue has been out there for a long time... rounding and taxing might work with prices including taxes - but as stated in my previous comme

[2020-10-15 12:52] #27787 closed

[2020-10-15 13:47] jessepearson commented on #27814
Just received another report: 24889791-hc

[2020-10-15 14:12] peterfabian opened #27970 "WP 5.6 compatibility"
Prepare WC for WP 5.6.

[2020-10-15 14:20] MandalShankar commented on #19764
Same issue i'm facing but i am using order.updated event only

[2020-10-15 14:25] apeksha10 opened #27971 "Update failed notice appear while updating WC from 4.5.2 to 4.6.0"
**Describe the bug**
Update failed notice appear while updating WC from 4.5.2 to 4.6.0

**Steps to reproduce the bug (We need to be able to reproduce the bug in order to fix it.)**
Steps to reproduce the bug:
1. On my site, I have only the Woocommerce plugin activate.
2. WC- Update notification appears.
3. After clicking on the Update now button I got this error.
**Update failed: Could not copy fi